[2021-03-27 00:46] ElizabethSamuel-MSFT commented on #1754
@sshukurov Thanks for raising this issue.

@lumine2008 Can you take a look, or assign to an appropriate person to investigate?

Thanks.

[2021-03-27 00:51] ElizabethSamuel-MSFT commented on #1755
@dhoelzl Thanks for letting us know about this and providing details.

@hjkim-MSFT Can you take a look, or assign to an appropriate person to investigate?

Thanks.

[2021-03-27 00:53] ElizabethSamuel-MSFT commented on #1756
@mattgeim Can you take a look, or assign to an appropriate person to investigate? We may need to contact Visual Studio folks.

Thanks.

[2021-03-27 02:00] ghost commented on #1733
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-27 02:00] #1733 closed, assigned to exextoc

[2021-03-27 12:00] ghost commented on #1716
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-27 13:28] hello-chenchen opened #1758 "Outlook Office.context.auth.getAccessTokenAsync And OfficeRuntime.auth.getAccessToken Not Work for Intune Device Verify"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

when Enable Intune Device Verify on Azure By Create a new Conditional Access Policy.
The Api: Outlook Office.context.auth.getAccessTokenAsync And OfficeRuntime.auth.getAccessToken Not

[2021-03-27 15:50] PRIVERA-IT opened #1759 "Error message when displaying administrator managed Office-Add-Ins in Word"
Instead of displaying company-wide deployed office-add-ins in the Add-Ins dialog in Word, an error message is displayed.
## Expected Behavior

When users go to the dialog Office-Add-Ins in Word and click to "Administrator managed", they could expect to see the list of company-wide deployed add-ins.
## Current Behavior

Some users are encountering the error message (in German): "Mit dem Katalog kan

[2021-03-27 21:00] ghost commented on #1725
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-28 05:06] nikhilism15 commented on #1699
@lindalu-MSFT I need help resolving this please. I need to find out if it's an issue with Microsoft or at my end. The same code runs perfectly on an up-to-date windows machine but not in a Windows Server 2019 or even a slightly out of date windows machines. This will cause issues as a bunch of our clients are not on the latest windows OS yet. I have been waiting for some sort of a response from MS

[2021-03-28 09:00] ghost commented on #1737
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-29 01:33] lumine2008 commented on #1748
This is related to UX, so let me loop @lliu113. thanks.

[2021-03-29 01:36] lumine2008 commented on #1754
Thanks, Bug 4987934 is created to track this issue.

[2021-03-29 06:07] ghost opened #1760 "Excel Add-In: Table OnChange event sometimes does not trigger after cell value change"
And if user changes values with a high speed, some cell value change event just ignored.

## Expected Behavior
Excel.TableChangedEventArgs triggers for every cell change

## Current Behavior
Excel.TableChangedEventArgs triggers not for every cell change, some cell value change event just ignored during cells change

## Steps to Reproduce, or Live Example
Here is simple snippet for cell color chang

[2021-03-29 06:33] gingerjia commented on #1685
Thanks @MrP  and @paulfrench!

@paulfrench may I know the workaround [setInterval(30000, ()=>{})] or [set MutationObserver=null] also work for you?
![image](https://user-images.githubusercontent.com/62282034/112794383-62fbd780-9099-11eb-99d8-f437cb3bc972.png)

For @MrP 's question that 'why setInterval(30000, ()=>{}) would also have that "unsticking" effect for MutationObserver.', when we debug, w

[2021-03-29 07:57] zaker commented on #1752
It works on both me inbox, and other users inboxes.
Usually it works on all shared inboxes, but we have encountered one shared inbox that it doesn't work on.
This shared mailbox does work fine in OWA, but not on desktop.
Office version : 16.0.13.127.21336

The manifest has support shared folders set to true.

The app loads , so Office.initialize get's triggered.
The item doesn't seem to load as Of

[2021-03-29 08:14] dhoelzl commented on #1753
Hello!

Thank you for looking at this.

I posted this here because I detected the problem while using the hyperlink range API:

[code]

This delivers the hyperlinks in the malformatted representation when executed in the context of an OfficeJS-Add-In in Office for the web in the problematic document. When running it in a native Office application it seems to work properly.

Are there any further s

[2021-03-29 08:45] ghost opened #1761 "ContentControl.insertHTML gets progressively slower"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

The ContentControl Operations and Word Online don't slow down.

## Current Behavior

In Word Online editing a previously loaded ContentControl via the insertHTML

[2021-03-29 09:06] RuoyingLiang commented on #1654
Hi @dhoelzl , I've tried the script in our environment. Unfortunately we still cannot repro the issue. I record a video of my repro steps [https://1drv.ms/v/s!AsJHyJBDS6CQi_hHTUwFm3cjmig7jQ?e=Wq3wSN](url) . (The video record with Chrome in Win, I also tried with Chrome in Mac). Could you check if my repro step miss anything?

Could you also provide your session id (in the document, choose File->Ab

[2021-03-29 10:12] dhoelzl commented on #1654
Thank you!

What version of Office do you use?

When running the Script on office.com (16.0.13924.41001) I cannot reproduce the problem, but when running it in our installation environment (16.0.13928.41017) the problem occurs. Could there be other differences beyond that version number?

Session ID: 5ca42178-4ead-407e-b143-537d1b3fd0dd
Version: 16.0.13928.41017

At the bottom line, Inner Ring (Fa

[2021-03-29 14:00] ghost commented on #714
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-29 14:00] #714 closed, assigned to exextoc, macOutlookExtensibility

[2021-03-29 14:22] frezo00 commented on #1723
Thanks @exextoc,
the question has been posted on [the Stack Overflow](https://stackoverflow.com/questions/66852944/how-to-get-distribution-list-not-group-with-its-members-inside-the-outlook-usi) with the `office-js` tag as described in the description for "_How to ..._" issues.
I hope to be checked/answered soon 😊

[2021-03-29 14:48] dhoelzl opened #1762 "insertText: inconsistent formatting behavior"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

insertText with "Replace" produces incorrect / unexpected formatting when replacing a hyperlink range (or probably other ranges) with text when executed in Office for the Web. It look

[2021-03-29 15:01] ArjunSureshKumar92 commented on #1465
Facing similar issue where the addin randomly is missing after a restart. No way of getting it back, and after a few days randomly is there again.

[2021-03-29 15:19] ElizabethSamuel-MSFT commented on #1753
@dhoelzl Thanks for providing this additional information.

@qinliuMSFT Can you take a look?

Thanks.

[2021-03-29 17:50] alexgomez97 opened #1763 "Office.context.mailbox.item.attachments contentType returns unexpected values"
## Expected Behavior

When using the Office JS Mailbox API I expect the returned contentType for Attachments in the AttachmentDetails object to use the standard IANA Mime Types

## Current Behavior

The contentType is not standardized. When I get the attachmentDetails on an email with various attachments in Outlook Desktop (using Mailbox API 1.9) I get contentTypes such as application/x-pdf for pd

[2021-03-29 17:59] AbidRahman-MSFT commented on #1751
Hey @adomasven,

Thank you for the context around the needs for a Fields API. I agree that it is an important feature for citation managers and we do have it prioritized in our backlog accordingly. Unfortunately, we haven't had any new Word-specific investments over the last several years but I'm confident this will change in the next 6 months. We will let you know as soon as we have an update reg

[2021-03-29 18:00] ghost commented on #1660
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-29 20:32] Rick-Kirkham commented on #1762
@AbidRahman-MSFT Ruoying is on leave. Can you take a look at this or find someone who can help?

[2021-03-29 20:33] Rick-Kirkham commented on #1761
@AbidRahman-MSFT  Ruoying is on leave. Can you take a look at this or find someone who can help? (I can reproduce this. The slow down happens for me about the 10th time I press the button. If I press 1 or 2 more times, the browser becomes unresponsive. Also, if I save the doc and reopen it, the browser locks up if I press the button even one time.)

[2021-03-29 20:37] exextoc commented on #1465
@ArjunSureshKumar92 - As the original issue has been closed, may we recommend to please open a separate issue with what you're trying to achieve/issues you are facing. This way we can have an active involvement on the new post and make sure that appropriate help is provided. It may also help others who are facing a similar issue.

[2021-03-29 21:00] ghost commented on #1646
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-29 21:51] AbidRahman-MSFT commented on #1475
This issue has been fixed! Please re-open the issue if you continue to see related problems with a similar error message.

Thanks for the patience. :)

[2021-03-29 21:51] #1475 closed, assigned to AbidRahman-MSFT

[2021-03-29 23:51] massonj commented on #1699
@nikhilism15 - unfortunately, your manifest didn't really come through in the comment above - we only got a small fragment of it, so if you could try to re-attach that would be great. A few other questions which would help narrow things down:

1. Can you provide a little more information about what happens when the dialog completes - is the taskpane frozen, or responsive?
2. Are you using the [sha

[2021-03-30 02:14] RuoyingLiang commented on #1654
My version is 16.0.13928.41017, I'm using OneDrive. Do you mean your Office is installed in your own host?

[2021-03-30 02:24] RuoyingLiang commented on #1761
Created bug 4990481 to track this issue. Will look into it.

[2021-03-30 05:49] lumine2008 commented on #1273
@shaofengzhu , it seems this issue owned by your team. so let me assign to you

[2021-03-30 05:54] lumine2008 commented on #569
This bug has been converted to a feature requirement. OLAP PivotTables in general are just not supported currently, ower team will need to plan accordingly.

[2021-03-30 05:58] lumine2008 commented on #674
I am going to close this issue, please reopen this issue if you still have further comments, thanks.

[2021-03-30 05:58] #674 closed, assigned to lumine2008

[2021-03-30 05:59] lumine2008 commented on #1157
i am closing this issue, due to not repro in our side, please reopen, if you still observe this issue, thanks

[2021-03-30 06:01] lumine2008 commented on #1227
I am going to close this issue, please reopen if you still observe this issue. thanks.

[2021-03-30 06:01] #1227 closed, assigned to lumine2008

[2021-03-30 06:02] lumine2008 commented on #1722
As this is not an office-js issue, so I am going to close this issue for now. thanks

[2021-03-30 06:02] #1722 closed, assigned to lumine2008

[2021-03-30 06:03] lumine2008 commented on #1728
I am going to close this isuse due to this issue is not related to Office JS. thanks.

[2021-03-30 06:03] #1728 closed, assigned to lumine2008, qinliuMSFT

[2021-03-30 06:06] lumine2008 commented on #1565
I am going to close this issue due to we have a new API insertWorksheetsFromBase64, please validate and re-open if you still observe some other issues, thanks.

[2021-03-30 06:06] #1565 closed, assigned to lumine2008

[2021-03-30 06:58] abdulkareemnalband opened #1764 "Bug: word addin (Edgium) single qoutes are not escaped in context.GetDocUrl function"
single  quotes are not escaped in word addin, when new chromium based edge rendering engine is used
It works fine in old edge engine

## Expected Behavior
generated code should look like this
[code]

## Current Behavior

Generated code looks like this
[code]
single quotes should be escaped properly

* Additional details:
  1. Create a word document in sharepoint , where name of document contains s

[2021-03-30 08:10] gingerjia commented on #1760
@shss1985, if you comment out "context.runtime.enableEvents = false;" and "context.runtime.enableEvents = true;", then the issue won't happen.

Can I know your purpose here to add 'context.runtime.enableEvents = false;'? Thanks.

[2021-03-30 09:16] grangeryy commented on #1749
This is a new feature ask for Custom Function and I've open a backlog for it: 4991402. Will prioritize together with all exiting feature requirements. Thx for raising this!

[2021-03-30 09:25] wh1t3cAt1k commented on #1749
Hi @grangeryy , thank you for the response.

Technically nothing warns a user from attempting to repro those steps; the behaviour is highly cryptic, it took us a lot of time to figure out what was the root cause of the add-in not loading.

I agree that support for this functionality might be a feature request, but the way it breaks down when you try to use this functionality - is ugly 😬

Maybe, be

[2021-03-30 09:29] ghost commented on #1760
@gingerjia Thanks, it is really solving the problem!
Actually it was skeleton from other method that populates excel from the db, and I have to switch off events to update excel cell values, because it will triggers cell change even and start db update and just go in cycle. But for now I have to be careful with using `enableEvents` method.
Is there an explanation why enabling/disabling events caus

[2021-03-30 11:40] ndeeH commented on #1724
Hi @xuxife ,
we just tried to input numbers from UI in local number format - all ok there.

There was definitely a **bug** in version: **MSO 16.0.13801.20240 32-Bit**
With this version our customers get the wrong formatted local numbers.

Our customers with a higher office version do not face this problem.
It is a pity that office says "you have the latest version" when they want to upgrade :(

By

[2021-03-30 11:43] nikhilism15 commented on #1699
@massonj - Here are my answers:
1. The taskpane is not frozen or unresponsive. The functionality is that the user enteres some details in the dialog, and I keep the taskpane open until I load data in the sheet (and a hidden sheet I use for dropdowns) and then close the dialog. What happens is that the data doesn't load and the dialog stays open (for 5 minutes if I keep it open). As soon as I open

[2021-03-30 12:59] gingerjia commented on #1760
It's great that the suggestion works for you!

Why enabling/disabling events causing this type of issue?
It's because the event handler calls from two separate trigger cannot make sure the execution sequence 1-by-1.
For example, when modify the cell G15 value, it will execute the callback.
Then modify the cell G16 quickly, it will try to trigger event and execute the callback.
And since it's very

[2021-03-30 14:00] ghost commented on #1716
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-30 14:00] #1716 closed, assigned to exextoc

[2021-03-30 15:00] ghost commented on #1631
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-30 15:25] ElizabethSamuel-MSFT commented on #1749
Will it help to note this behavior in the documentation if it isn't already there?

[2021-03-30 15:58] kanaksony opened #1765 "The add-in is failing to load while inserting - Meeting information in Compose Mode"
The manifest includes the MessageComposeCommandSurface extension point in the VersionOverrides node but the add-in does not function in compose mode of an email.

## Expected Behavior
The add-in should insert the meeting information in Compose Mode in Mailbox.

## Current Behavior
The add-in keeps loading and fails to insert meeting information in Compose Mode in Mailbox.

## Steps to Reproduce, o

[2021-03-30 16:55] AbidRahman-MSFT commented on #838
Hey @ndeeH,

Can you provide more information on the auth flow you are using? Are you using the Dialog API for your auth flow? When are you seeing the "Too many redirects" message in your add-in?

[2021-03-30 16:58] CristovaoTorres commented on #1700
Working perfectly
TKS

[2021-03-30 17:00] ITIVITYAG opened #1766 "Addin is not distributed"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
We want to roll out addins for Office products, but they are not distributed to all users.
For all new accounts they are distributed correctly and for old users t

[2021-03-30 18:08] Rick-Kirkham commented on #1764
@croicu Please take a look.

[2021-03-30 18:14] Rick-Kirkham commented on #1766
Bhavin Kapoor, Can you please take a look at this problem?

[2021-03-30 19:57] ElizabethSamuel-MSFT commented on #1532
@ulonsjo Thanks for doing so. Please track updates there and we'll go ahead and close this issue.

Thanks.

[2021-03-30 19:57] #1532 closed, assigned to nobody

[2021-03-30 20:22] exextoc commented on #1752
For the shared inbox that's not working, could you elaborate on how it was set up? Was it a user that shared the folder with another user? Or was it an admin created folder giving access to specific users in the org?
Even though add-ins work on sharedMailboxes (known issue) this is not a scenario we officially support and have a backlog work item to address this feature work. We unfortunately cann

[2021-03-30 21:16] exextoc commented on #1765
Can you provide more clarification on which specific platforms are failing? Is it Outlook on Win32 Desktop, Mac Desktop, Outlook on the web, or all of them?

[2021-03-30 21:42] kanaksony commented on #1765
It is Outlook on Win32 Desktop, Mac Desktop and Outlook on the web.

[2021-03-30 23:00] ghost commented on #1725
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-30 23:00] #1725 closed, assigned to exextoc

[2021-03-30 23:17] Dengshan2018 commented on #1764
It seems the regression.

[2021-03-30 23:34] joshuawwright commented on #1729
Office Version: 16.013801.20266 and Excel Online

I experience this issue when using secondary axis groups:

Script Lab Gist: [https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8](https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8)

**Reproduction Steps**
1) Create a new chart
`const chart = sheet.charts.add(
          Excel.ChartType.xyscatter,
          sheet.g

[2021-03-31 03:23] grangeryy commented on #1749
Good suggestion @ElizabethSamuel-MSFT, and let me check if we could add some content to improve the documentation.

[2021-03-31 04:06] lumine2008 commented on #1724
It look to me this issue can be resolved by upgrade Office, but it seems your customer meet an upgrade issue, do your customer have MSFT support engineer? it would be great to approach from other channel. thanks

[2021-03-31 04:50] exextoc commented on #1763
The contentType value is a direct lookup of the suffix for the name of the attachment. For example, in your screenshot it would look up ".csv" and always return "application/octet-stream". This mapping is not actively maintained and contentType might become outdated. If you have a requirement to have specific types, it would be better for you to grab the the suffix of the name and have your own pr

[2021-03-31 05:40] exextoc commented on #1736
Hello @anuragjaiswal18,

Can you please try this again on your end and let us know if the issue still persists?

[2021-03-31 05:49] nikhilism15 commented on #1699
@massonj Actually there has been a breakthrough, sort of. I let the program run, and what should take a couple of seconds in a normal up-to-date windows machine takes forever in a Windows Server (unless F12 is opened). If F12 is opened, it immediately speeds up and runs at the normal pace. Very peculiar behavior.

[2021-03-31 06:10] ndeeH commented on #838
Hey @AbidRahman-MSFT ,
yes - we are using the dialog API and excatly the login flow described. (We are using ThinkTecture-IDP behind the scenes).
The flow does only work in firefox - all chromium based browsers now block the login flow 🤔
In the desktop version the login flow works as expected.

You may try it - here you have a document with our official store add in and an embedded content:
https:

[2021-03-31 06:16] ndeeH commented on #1724
@lumine2008 @xuxife
No - the customer does not have MSFT support engineers - they are contacting me because the add in does not work like expected.
It is hard to tell them that MS has a bug in some version and that this is fixed in a newer version of office -
BUT they have no chance to update because office tells them they have the newest version. 😒

Any chance/tipp to force the update to the newe

[2021-03-31 08:07] dhoelzl commented on #1654
No, we do not host Office, we use the WOPI discovery URL for testing/developing: https://ffc-onenote.officeapps.live.com/hosting/discovery (as documented here: https://wopi.readthedocs.io/en/latest/build_test_ship/environments.html#discovery-urls)

[2021-03-31 08:14] leybal commented on #1728
@lumine2008 thanks for the answer. How we can track the progress of this bug?
Should we report this issue on another site?

[2021-03-31 08:27] zaker commented on #1752
The shared mailbox was set up by an administrator, and then the users where given access. Neither we(Developers, Operations) or them(Administrators) can't find any differences, between this and others that work. We have seen that it was created with two different exchange licenses, but havev since removed the "old" one.  But that did not help the situation.

Thanks for the information about shared

[2021-03-31 11:00] ghost commented on #1737
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-31 11:37] exextoc commented on #1666
@ngelsi Could you please provide the APIs names which are not reliable. Also, I would like to inform you that the 1.8 API set is not supported in the new UI.

[2021-03-31 12:06] sarthak625 commented on #1757
Hi,

Some more information that would help with debugging.

We are using dynamic loading in Angular. So office.js is loaded only on the route where it is required. We have enabled this through the following code:

and initialization is done this way

Here is a link to a sample project which does the same: https://github.com/sarthak625/outlook-sample

I discovered that on removing this logic allows

[2021-03-31 13:14] hello-chenchen commented on #1758
hi @mattgeim @exextoc @lindalu-MSFT  is there anything can update?

[2021-03-31 14:28] iuri1994 commented on #1537
Hi,

Do you have an estimated time to solve this issue?

Best Regards

[2021-03-31 15:10] wh1t3cAt1k opened #1768 ""Something went wrong" errors began surfacing recently while using the add-in - bisect does not help, we suspect an Excel for the Web issue"
Problem: files using our add-in, opened in Chromium-based browsers in Excel Online, started exhibiting numerous and frequent non-descriptive "something went wrong" errors during recalculation, making the add-in unusable in many cases.

The error is sporadic but its frequency seems correlated to the number of cells using our custom functions in the file.

The add-in is called [Velixo](https://appso

[2021-03-31 16:43] alexgomez97 commented on #1763
Thank you! That’s what we will do.

[2021-03-31 16:43] #1763 closed, assigned to exextoc

[2021-03-31 18:53] wh1t3cAt1k commented on #1768
Another error instance occurred just now on the same set-up (Edge Chromium).

This time, I replaced all my custom function definitions with

[code]

Error Id: 0a2fbefb-becc-4be9-b426-60d75694d48c, 2021-03-31 18:51:54Z

[2021-03-31 19:06] wh1t3cAt1k commented on #1768
More experiments: this time, I threw off the Redux store, sagas, epics, the UI – everything.

I left just an `h1` with an `onClick` handler that awaits `Office.onReady()` and then invokes `Excel.run()` to do just one operation: `context.workbook.application.calculate('Full')` .

That's it.

Enough clicks at this h1 (sometimes up to twenty, diligently waiting for the previous calculation to end) an

[2021-03-31 19:09] Rick-Kirkham commented on #1768
@lumine2008  and @grangeryy can you please take a look at this?

[2021-03-31 19:36] wh1t3cAt1k commented on #1768
Thanks for the prompt response @Rick-Kirkham , I appreciate your speed guys :)

On my end, I seem to have a pretty minimal set-up of an add-in that reproduces the issue.

My index file:

[code]

App component:

[code]

Excel recalculation service:

[code]

and, finally, my stubbed out custom function definitions (functions.ts imported from index - we are using shared runtime):

[code]

The key see

[2021-03-31 21:51] exextoc commented on #1765
Could you share the codesnippet that backs the schedule meeting button on your addin. We're interested in looking at the APIs you're calling into when the button gets clicked? What is the expected behavior for when the button works - Is the body of the message updated? Also, can you make sure you're calling event.completed at the end of the function.

[2021-03-31 22:04] jargil commented on #1585
Closing this as this should now be available to test. Please comment if you're still seeing problems using one of the Office builds I mentioned above.

[2021-03-31 22:04] #1585 closed, assigned to jargil, qinliuMSFT

[2021-03-31 22:14] exextoc commented on #1752
The shared Mailbox that's in question, are all users who were given access to it facing this issue or only a specific set of users? Also, could you share the steps on how this sharedMailbox was added by the users facing this issue to their outlook profile?

[2021-03-31 22:15] joshuawwright commented on #1688
@lumine2008 I am seeing this issue also on Windows and Excel Online. Here is script lab gist for reproduction:
[https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8](https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8)

Fails on the following environments:
Windows Office Version 16.013801.20266
Excel Online

On Windows if I revert to 16.013628.20448, the gist works

[2021-03-31 22:45] rajesh2011 commented on #1268
We are seeing similar behavior. Desktop add-in shows error while authenticating but in OWA browser there is no such error.
Is the fix being worked on? Any ETA?

[2021-03-31 22:51] jargil commented on #1586
@james-huang - AppDomains elements have to be an exact match. When you navigate to "https://google.com" they redirect you to "https://www.google.com". If you want to avoid the popup, you'll have to add "https://www.google.com" to your AppDomains list. Let me know if this answers your question.

[2021-03-31 23:16] james-huang commented on #1586
My post and repro ever mentions the "www" subdomain?

[2021-03-31 23:26] jargil commented on #1586
@james-huang - your example uses "https://google.com". Google automatically redirects you to "https://www.google.com". The redirection to "https://www.google.com" is what is causing the navigation to pop out of Word. If you want the navigation to stay within Word you'll need to add both "https://google.com" and "https://www.google.com" or just add the second one and navigate directly to "https://w

[2021-04-01 00:46] leonliang-apprentice opened #1769 "ContentController missing inputs or not saving after refreshing page"
Inputs in the ContentController are not being saved or not returned fully after refreshing document.

## Expected Behavior
I have a console log on when Word loads:

[code]

Which is returning the following when i'm in the same session aka just reloading the plugin but not the page.
![image](https://user-images.githubusercontent.com/76965896/113227513-b4e26000-9247-11eb-82bc-9390d7fe04e3.png)

## C

[2021-04-01 04:36] jasonhieu1905 opened #1770 "sheets.addFromBase64 not navigating to the inserted sheets in excel online"
## Expected Behavior
using api sheets.addFromBase64 to insert sheets should navigate to the new sheets in excel online

## Current Behavior
It can insert successfully but not auto navigating like office excel app.

## Steps to Reproduce, or Live Example
https://gist.github.com/jasonhieu1905/6a6ee77293642fad418677dca3ff5a5c

Excel Online (**have to click the sheets**)
![9nz5RdoZDe](https://user-ima

[2021-04-01 06:49] lumine2008 commented on #1770
Thanks @jasonhieu1905 , Team is looking into this issue, a bug 4998492 is created to track this issue.

Meanwhile, I would suggest that you could use a worksheet.activate() API as a workaround, thanks.

[2021-04-01 06:50] lumine2008 commented on #1770
@jasonhieu1905 , i have a question, as some of the customer may not want to activate the newly inserted worksheet, and some customer want to activate the worksheet, do you think it's better not activate for Windows Excel and Excel online?

[2021-04-01 07:24] shubhamsoni2074 opened #1771 "[Word] issue with range.insertContentControl()"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am inserting html to document and then trying to wrap it in content control. like
`const range: Word.Range = selection.insertHtml(html, Word.InsertLocation.start);
range.insertConte

[2021-04-01 08:27] jasonhieu1905 commented on #1770
@lumine2008 : thanks for the reply. I can confirm the **worksheet.activate() API** works. In my opinion, the **addFromBase64**  should not change the behaviors of the office app (no matter native or online), so I prefer to not activate the new worksheet. but the api should offer the user to choose :)

[2021-04-01 09:22] ngelsi commented on #1666
@exextoc

Office JS API interface calls which the add-in is making, in order:

Office.context.mailbox.item.body.getTypeAsync
Office.context.mailbox.item.body.getAsync
Office.context.mailbox.item.to.getAsync
Office.context.mailbox.item.subject.getAsync
Office.context.mailbox.item.from.getAsync
Office.context.mailbox.item.loadCustomPropertiesAsync
customProperties.saveAsync
Office.context.mailbox.it

[2021-04-01 09:28] qinliuMSFT commented on #1753
Hi @dhoelzl , thanks for reporting this issue.
From the document.xml, the hyperlink is saved the same as what displayed in web as following:
<w:instrText xml:space="preserve"> HYPERLINK "https://example.com/path" \l "samplehash" \h </w:instrText>
I'm not sure why Word desktop show it as https://example.com/path#samplehash.

Could I know how you create this hyperlink? Do you use Hyperlink range API

[2021-04-01 09:58] dhoelzl commented on #1753
Thank you!

It was inserted into the document via the `Range.insertHtml` API in a taskpane in Word for Mac (Version 16.45 (21011103)).

Inserted HTML:

`<html><head></head><body><a href='https://example.com/path#samplehash' title='Link'>Link</a></body></html>`

Even if the insertion may have caused the problem, there may exist documents with that formatting which need to be read as expected (as Wo

[2021-04-01 11:48] karthickbabu94 opened #1772 "Office.context.mailbox.item.setSelectedDataAsync does not inserting content in body, if the email body is not in focus"
Tag your question with office-js or outlook-web-addins

[2021-04-01 12:13] exextoc commented on #1772
@karthickbabu94 could you please provide more details about the issue. Please tell us about the platform, version that you are using, and the exact steps to reproduce the issue.

[2021-04-01 12:22] bhavinkap commented on #1766
Translating the message from the screen shot: "There are currently no add-ins available"

Hi @ITIVITYAG,

Can you please help to share some more details:

1> You have mentioned that Wikipedia works for all users, however from the screen shot shared we do not see the Wikipedia Add-in installed for this user.

So does this user never receive any Add-ins or is it a problem with a specific Add-in Only

[2021-04-01 12:50] lumine2008 commented on #1770
Thanks @jasonhieu1905

[2021-04-01 13:37] leybal opened #1773 "Custom functions returns #NAME? or #N/A if a user unhide workbook. RichApi.Error The JavaScript API request failed because the workbook was hidden"
Hi. We are using sentry in our add-in for Excel and notice such error "RichApi.Error The JavaScript API request failed because the workbook was hidden. Please unhide the workbook and try again". This messages received from both Mac and Windows users. We reproduce this error using the [excel-shared-runtime-scenario](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runt

[2021-04-01 14:15] igor-ribeiiro commented on #1714
I will be looking at this issue today, thanks for reporting it.

[2021-04-01 15:35] neso613 commented on #1765
Hi @exextoc ,I am working with @kanaksony on this same issue.
Code snippet :
`function ScheduleMeeting(event, settings) {
  var start = new Date();
  var end = new Date();
  end.setHours(start.getHours() + 1);
  Office.context.mailbox.displayNewAppointmentForm(
      {
        start: start,
        end: end,
        location: 'location',
        subject: 'SUBJECT',
        body: 'meetingInviteText

[2021-04-01 18:07] jargil commented on #1586
I'll go ahead and close this issue. Let me know if the answer above helped answer your question.

[2021-04-01 18:07] #1586 closed, assigned to jargil

[2021-04-01 18:29] EdwinStraver opened #1774 "Dialogs no longer function with Excel build 13926.20000 (Version 2104)"
After updating to the the latest Excel beta version, all dialogs displayed by javascript addins are now just white, and do not function.

[2021-04-01 19:04] Rick-Kirkham commented on #1774
I've assigned this to @lliu113 .

@EdwinStraver In the meantime, can you reproduce this in Script Lab? If so, can you reproduce it in Script Lab on Word or PowerPoint?

[2021-04-01 19:38] Rick-Kirkham commented on #1774
@EdwinStraver Ignore my previous comment. This has been determined to be a bug in that build.  The fix should be pushed out within 24 hours. Please restart Excel at that time and it should be fixed.

Please let us know whether it is fixed or not.

[2021-04-01 19:39] EdwinStraver commented on #1774
Will do, thx!

[2021-04-01 19:45] skaramchandani11 opened #1775 "Unclear error when opening Outlook add-in "A problem occurred while trying to reach this add-in""
We (Groove) have an Outlook add-in. For one of our customers, all of their users are running into an unclear error when clicking the button in our add-in that is supposed to show a MSFT auth screen, only when trying from the Outlook Desktop Client. The error is in the screenshot below:

![image](https://user-images.githubusercontent.com/35939675/113345728-b499a180-92e7-11eb-9e54-4e9fff73dcdf.png)

[2021-04-01 19:55] AbidRahman-MSFT commented on #1620
Hey @atsopuronen, the general guidance around this issue is to upgrade the user's Office version to use WebView2 as the browser hosting the add-in.

The versions that use WebView2 can be found here: [Browsers used by Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)

I understand that there are some of your users that are on the Semi

[2021-04-01 20:00] ghost commented on #1660
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-01 20:00] #1660 closed, assigned to exextoc

[2021-04-01 21:41] massonj commented on #1699
When I said to have some code which changes the dom, one thing you could do is
1. add an element in your taskpane HTML like this
`<div id="myHiddenDiv" style="display: none;"></div>`
2. add code at the top of the function handeling callbacks from the dialog like this:
 `document.getElementById("myHiddenDiv").innerHTML = "Anything";`

[2021-04-01 23:00] ghost commented on #1646
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-01 23:36] exextoc commented on #1765
Office.context.mailbox.displayNewAppointmentForm is only supported in Read mode and not Compose mode. See documentation [here](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-1.5&preserve-view=true#displayNewAppointmentForm_parameters_).
Here are some alternative APIs that could potentially help with your use case:
Setting the start and end: [setAsync(dateTim

[2021-04-02 02:51] qinliuMSFT commented on #1753
Hi @dhoelzl ，I added hyperlink by using the following snippet on Mac(Version 16.47(21031401)), but could not repro this issue.
[code]
Could you please help double check? If possible, could you please give us your sample snippet or repro video?

[2021-04-02 03:39] #1760 closed, assigned to lumine2008

[2021-04-02 03:42] lumine2008 commented on #1768
This issue looks like related to webview,  It doesn't seem related to Excel JS API @Rick-Kirkham, would you please also loop contact from web view?

[2021-04-02 03:45] JinghuiMS commented on #1769
Thanks for reaching us. It's definitedly not right to have this error. And what's your word version? If you can provide a repro video, it will be helpful for us to repro the issue, because I can't repro it in my machine. Could you check the video in the attachment? Is there something wrong with the operation that makes it impossible to reproduce?

https://user-images.githubusercontent.com/56814588

[2021-04-02 06:23] dhoelzl commented on #1753
You need to insert the link in Word for Mac, save the document, re-open it in Office Online and then read the link separately.
In Word for Mac itself the link can always be read correctly.
I am looking forward to create a repro viedo.

[2021-04-02 09:26] dhoelzl commented on #1753
Hello!

I could narrow the cause of the problem to be somewhere in the link text itself. Previously I stripped the text for demo purposes, but unfortunately with that it did not cause the problem.

When the following script is used in Word for Mac, the link is inserted malformatted.
When changing the link text from "Link1 Sampl" ("typos" are intended) to "Link", the problem does not occur any more

[2021-04-02 11:13] exextoc commented on #1758
@hello-chenchen Could you please provide us a sample add-in so that we could reproduce this issue on our end. You can mail us at admin@M365x010952.onmicrosoft.com.

[2021-04-02 11:28] exextoc commented on #1746
@cody-lettau Could you please provide us a sample add-in where we could reproduce this issue? You can mail us at admin@M365x010952.onmicrosoft.com

[2021-04-02 14:06] agelenava commented on #1737
Sorry for delay,
1. Here is my code for getCallbackTokenAsync

Yes, I know it is hard to get results from console log on Andorid but I can't provide the whole code we use and I think it is not necessary here.
Next we send callbackToken to our back-end.

Here is a code snipet to make REST API call  (c# code)

2. We just hardcode it for now.
3. Tokens payload are
for broken token

here is one for wo

[2021-04-02 17:00] ghost commented on #1631
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-02 17:00] #1631 closed, assigned to exextoc

[2021-04-02 17:42] mscharlock commented on #1642
Hi @neso613 - going to close this thread but can reopen should you need more assistance. Just comment on this thread and I will go ahead and reopen. Thank you!

[2021-04-02 17:42] #1642 closed, assigned to mscharlock

[2021-04-02 17:58] EdwinStraver commented on #1774
@Rick-Kirkham This issue is fixed.

[2021-04-02 17:58] #1774 closed, assigned to lliu113

[2021-04-02 19:15] leonliang-apprentice commented on #1769
I can't repro from script lab, but we have our own add-in locally hosted that we are running.
I have a slight suspicion that perhaps Word is not able to write the contentControls back to the source word doc. Currently we are grabbing the word doc from a cloud storage provider with a signedURL such as AWS S3 or Azure Blob Storage.

How does Word write back to the original doc and how do we know if

[2021-04-02 20:59] mattgeim commented on #1758
@hello-chenchen a couple of questions:

- are you passing allowConsentPrompt:true as part of the options for getAccessToken?
- Can you share a fiddler trace with us from when this isn't working?

[2021-04-05 00:00] ghost commented on #1752
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-05 06:27] exextoc commented on #1759
Translating the message from the screen shot: "Unable to connect to catalog"

@PRIVERA-IT
Can you please help to share some more details:

1.  Is the issue reproducible in both Word Desktop and Word Online?
2.  If the issue is reproducible in both, can we check that the user has a mailbox in EXO and meets the requirements specified in the developer documentation: [https://docs.microsoft.com/en-us/

[2021-04-05 07:20] PavanaKatta commented on #1565
I am using insertWorksheetsFromBase64, but issue still exist.

[2021-04-05 07:35] sarthak625 commented on #1757
Hi,

Some more information i collected.

On putting the Office.js url on the root html page of angular like this,
`<script src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js" type="text/javascript">`

The add-in loads up this way, but the Office.js seems to change the default URL strategy of angular from PathLocationStrategy to HashLocationStrategy. We confirmed this by checking the

[2021-04-05 09:18] kullachoke-bosuwan-rft opened #1778 "[Excel for Mac] Share runtime is not open an app in Taskpane."
When enable feature shared-runtime, application is not showing in taskpane but got a black page as in image attached
<img width="995" alt="Screen Shot 2564-03-18 at 14 13 07" src="https://user-images.githubusercontent.com/64405659/113558617-2ba5a180-962a-11eb-980a-c0102d6d3d29.png">

## Expected Behavior
App running in taskpane

## Current Behavior
blank taskpane page

## Steps to Reproduce, or Li

[2021-04-05 09:25] kullachoke-bosuwan-rft commented on #1778
After doing some investigation, This only happens when we enable debug mode on Excel mac.
`Open debug mode: (Terminal) defaults write com.microsoft.Excel OfficeWebAddinDeveloperExtras -bool true`

The taskpane show as blank but it display in debug dialog instead. So, I just would like to confirm if it is expected behaviour or not. Is there any difference between running on dialog and taskpane?

[2021-04-05 11:53] qinliuMSFT commented on #1753
Thanks for the confirmation.
@AbidRahman-MSFT , could you please find someone to look at this issue? Customer use Range.insertHtml to insert a hyperlink, but the link is inserted and saved malformatted when the snippet running in Word on Mac, which caused the link is malformatted representation on web.

[2021-04-05 18:37] GrumpyAL commented on #1146
I apologize, it appears my initial assessment was incorrect.  It's not successfully getting a shared mailbox at the /me API.  What's happening in my case is that I'm automatically trying the EWS API and that is working to allow me to pull the message from another mailbox using the EWS callback token obtained (which is a token for the user and not the mailbox).

So not a change related to the REST

[2021-04-05 18:47] anuragjaiswal18 commented on #1736
Hello @exextoc ,
This issue is still replicating in OWA.

[2021-04-05 21:00] ghost commented on #1772
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-06 00:00] ghost commented on #1765
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-06 00:46] akrantz commented on #1158
This PR contains a change to the webpack config so CleanWebpackPlugin() will leave the contents of the dist folder for development builds using "npm run dev-server". https://github.com/OfficeDev/Excel-Custom-Functions/pull/266

There have been fixes in the past in how custom-functions-metadata-plugin writes the functions.json file. Please try using the latest version.

[2021-04-06 01:27] grangeryy commented on #1773
Thanks for reporting the issue. We'll take a look and update the progress later.

[2021-04-06 03:32] RuoyingLiang commented on #1762
Thanks for reporting the issue. Opened bug 5008299 to track internally.

[2021-04-06 04:40] sarthak625 commented on #1757
Hi,

As suggested i tried changing the code to es5 syntax like this:

[code]
This did not change anything however. Angular already does differential loading and transpiles the es6 code to es5 code for older browsers.

[2021-04-06 06:33] JinghuiMS commented on #1771
Thanks for reaching us. It should be a issue. Bug 5008818 has been opened for internal track.

[2021-04-06 07:06] ITIVITYAG commented on #1766
Hi Bhavinkap

**1> You have mentioned that Wikipedia works for all users, however from the screen shot shared we do not see the Wikipedia Add-in installed for this user.**
This is because I have deleted the add-in again

**2> It is mentioned that the Add-in is assigned to a Group.
Centralized Deployment Only Supports users in top-level groups or groups without parent groups, but not users in neste

[2021-04-06 07:49] exextoc commented on #1146
Sure.
Feel free to close the issue if it's resolved.

[2021-04-06 10:07] JinghuiMS commented on #1769
Sorry, I still can't repro this issue after I build one personal addin. Could you share your document and your own add-in for repro this issue?
If you edit in word online, it will trigger save operation, this operation will save your edited content. You can save your docx into local machine, then you can follow the attached video to check whether your changes have been saved into document.

https:

[2021-04-06 10:27] zaker commented on #1752
Every user that's using the mailbox has this issue. We're currently in the process of creating a new shared mailbox with the same users and permissions to see if it resolves the issue, or if we have a way to reproduce it.

[2021-04-06 11:33] agelenava commented on #1737
@exextoc is it enough or do you want something more?

[2021-04-06 12:14] wh1t3cAt1k commented on #1768
Thanks @lumine2008 @Rick-Kirkham , please keep us posted. The issue does not seem transient, I encountered it again many times last week.

[2021-04-06 12:38] cody-lettau commented on #1746
@exextoc I will try to find some time here this week to create an example and send it over.

Edit: The yeoman generator isn't working for a compose add-in. Can you send me an example compose add-in (javascript) that I can modify? Otherwise, it may take me a bit longer as I'm pretty swamped working towards a release.

I think we just need to have a toggle that adds/removes the notification message.

[2021-04-06 13:33] GrumpyAL commented on #1146
Do you happen to know if EWS working this way is intentional? Should we be able to pull a shared item like this, is it a valid attempt to make when the shared interface isn't available?

[2021-04-06 14:53] dkuklis commented on #1471
@JuaneloJuanelo Hello - Is there a target date for resolving this issue that you know of? (I believe you work for Microsoft).  I am working with a salesforce customer who is still having this issue but MS is saying it's been fixed (and it's not - at least for them).

[2021-04-06 15:42] cody-lettau opened #1779 "Outlook Add-in: Original message appended to body unexpectingly"
## Expected Behavior
When replying to a message, the original message is appended to the body (bottom) after any "on send" function has ran within our add-in. This occurs in the browser (Chrome - office.com). I would expect that whatever we set the body of the reply to within our "on-send" function, that would be what is sent (and nothing else is appended).

## Current Behavior
When replying to a

[2021-04-06 15:44] cody-lettau commented on #1779
Just to note, I did originally open https://stackoverflow.com/questions/66889440/outlook-add-in-how-to-remove-or-not-include-original-email-when-replying for this, but it seems more like a bug since it is handled differently across platforms.

[2021-04-06 18:26] cody-lettau opened #1780 "On-Send and ability to publish to AppSource"
I have come across a few previously closed issues that no conclusion was made around the ability to publish an add-in that uses the On-Send functionality to AppSource. It was stated that post-GA, it would be allowed. Yet, the feature is now GA and documentation still states that you cannot publish an add-in utilizing the On-Send feature.

Referenced issues:
- https://github.com/OfficeDev/outlook-d

[2021-04-06 19:28] exextoc commented on #1775
As you mentioned, this could be a network error. Can you verify whether the customer can reach the URL directly in a web browser?

It sounds like the error is occurring within a dialog? Are there any JavaScript errors occurring within the dialog? Can you tell whether `Office.initialize` is successfully defined and called within the dialog?

It would be helpful to know the version of Windows 10 the

[2021-04-06 20:03] exextoc commented on #1780
@cody-lettau Could you provide some details about the scenario you're looking to implement using the On-Send functionality?

Since On-Send add-ins are not allowed in AppSource (plus other limitations), the Outlook add-ins team has been implementing other APIs or events to enable similar scenarios for add-ins in AppSource. So far, these include the [appendOnSend API](https://docs.microsoft.com/en-u

[2021-04-06 20:59] cody-lettau commented on #1780
@exextoc So we are working on an add-in that allows for encryption of emails using TDF. When composing an email, we have numerous different options around encryption of your email (expiration, attachment handling, etc). When the user clicks "Send", we have an On-Send function that is triggered. This takes the body content and attachments, encrypts all of it using TDF, and then sets the body to HTM

[2021-04-07 02:03] neso613 commented on #1765
previously, we was working with Read mode but we got validation fail there also.

[2021-04-07 02:06] neso613 commented on #1765
also, addin should create new appointment on custom button click and values should be set dynamically. Thats why this above function used

[2021-04-07 02:43] david-davidson opened #1781 "[Outlook] `setAsync` results in unpredictable undo behavior"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi there!

My organization has an Outlook add-in that uses [Office.Body.setAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.body?view=outlook-js-preview#setAsync_

[2021-04-07 06:20] grangeryy commented on #1734
The bug is currently fix. Pls check if the issue is gone:)

[2021-04-07 06:20] #1734 closed, assigned to grangeryy

[2021-04-07 06:35] grangeryy commented on #1773
We've created bug 5011901 to track this.

[2021-04-07 07:07] exextoc commented on #1765
Can you please mention the validation errors that you are facing while you are executing "displayNewAppointmentForm" function?

[2021-04-07 07:22] exextoc commented on #1781
Thank you for reporting the bug. We have added this to our backlog. Currently we don't have any timeline to share.

[2021-04-07 08:16] sarthak625 commented on #1757
Hi,

As suggested we have tried the following fixes:

1. Remove async from loadScript function
2. Disabled differential loading and changed the transpiler to es5 to avoid any arrow function issues.
3. Added a logger div on the root element to get the logs on the main window itself.

I have also added the manifest.xml in the sample project which can be found [here](https://github.com/sarthak625/out

[2021-04-07 08:52] exextoc commented on #1746
@cody-lettau We are not able to reproduce the issue with the steps you mentioned.

Please find time to write a simple add-in which shows the issue.
You can find the instructions here : https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart

A sample can be found here : https://github.com/OfficeDev/Office-Add-in-Commands-Samples/tree/master/Simple

[2021-04-07 08:55] bhavinkap commented on #1766
Thanks for these details. Please keep us posted on the results.

Query - For the impacted user was the issue observed on:
1> Word Desktop App Only
2> Web App (Online Word) Only
3> Across both the Word Desktop App and Web App

Also, If you could share the details of the Add-in that you are trying to install then it would be useful for us to try and repro.

[2021-04-07 09:44] leybal opened #1782 "Interaction between Excel JS API and Excel RtdServer leads to the application crash on Windows. System.AccessViolationException: Attempted to read or write protected memory."
Hi. We installed the add-in developed via C# with custom functions. We'll use [Seo Tools for Excel](https://seotoolsforexcel.com/documentation/) as an example. On this step we can easily use custom functions like `=HtmlTitle()`.
The problem comes when we try to set a custom formula for a range via Excel JS API. The following line of code result in Excel crash:
`range.formulas = [['=HtmlTitle("http

[2021-04-07 09:48] gingerjia commented on #1719
As we discussed offline, currently we have some limitations for calling APIs in CF:
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function

Include worksheet.onChanged event option, another option for your reference is that create one Add-in for custom functions, and create another Add-in for calling APIs update data.

Thanks!

[2021-04-07 10:20] Zamolxe00 opened #1783 "Extract ReplyTo from email item"
Hi, I've been trying to the the replyTo list from an outlook message but there does not seem to be a way to do that, at least no a documented one.

I am trying to create a feature for shared mailboxes, as for docs my assumption was that sender will hold the delegate address, but it seems to return the same address as from when email is from a shared mailbox.

How can this replyTo list get extracte

[2021-04-07 11:27] exextoc commented on #1783
Hello @Zamolxe00

You can fetch the list of to and cc using outlook add-ins.

`Office.context.mailbox.item.to` can be used to fetch the to list.
`Office.context.mailbox.item.cc` can be used to fetch the cc list.

Based on the values you can construct the "replyTo" list.

Furthermore, you can visit this to learn more about creating add-ins : [Here](https://docs.microsoft.com/en-us/office/dev/add-in

[2021-04-07 12:01] christian-sap commented on #1690
HI @jargil , I sent the exported registry keys internally via email.

[2021-04-07 12:22] Zamolxe00 commented on #1783
I am not sure I understand how you construct replyTo based on to and cc. Cc is empty and to has the recipient, I need reply_to since from is the shared mailbox.

[2021-04-07 13:50] exextoc commented on #1783
Please answer a few questions to help us understand the scenario better.

- What do you mean by "replyTo" list ? Please give us an example to understand better.
- Are you targeting any specific platform for the same ? (ex: windows client, outlook on web, mac client etc)
- What have you tried to achieve the same ? Did you try any add-in/add-in API to achieve the same ?

[2021-04-07 15:15] Zamolxe00 commented on #1783
1. Please see the snippet below, I am referring to replyTo, this is extracted from graph explorer:
`"toRecipients": [
                {
                    "emailAddress": {
                        "name": "",
                        "address": ""
                    }
                }
            ],
            "ccRecipients": [],
            "bccRecipients": [],
            "replyTo": [

[2021-04-07 17:29] frankaddelia opened #1784 "Excel Add-in MS Project Task pane - Permission denied"
I have an excel add-in that reads selected cells and generates HTML depending on how the cells are formatted. In order to pass this data to a dialog window I store the string into session storage to be read from the task pane to be read in by the dialog window. I also tested storing into local storage instead since I saw that session data may not be available between take panes due to the two diff

[2021-04-07 18:02] Rick-Kirkham commented on #1768
@smaremanda @jeremy-msft Can you find someone who can help with this?

[2021-04-07 18:59] massonj commented on #1699
I'm going to assume this is closed at this point - feel free to reopen if that's not the case

[2021-04-07 18:59] #1699 closed, assigned to lliu113

[2021-04-08 00:34] exextoc commented on #1693
We've opened a bug for this issue (internal id Office:5014189). Our intention is to add a second type definition similar to the suggestion.

[2021-04-08 01:00] hellofantastic commented on #476
Can confirm its still an issue ... on Desktop 365 ....  web 365 is fine

[2021-04-08 05:17] grangeryy commented on #1773
@leybal after investigation, we found the reason.
1. Hide the workbook and close Excel.
2. Reopen the Excel and unhide the workbook -> in this step, Custom Function(CF) is processing **before** "unhide" action, so for hidden workbook, CF couldn't find the information it needs.

One simple workaround is, you can try install the add-in after unhide the workbook.

To support the expected behavior is

[2021-04-08 05:55] jipinshi commented on #35
@scemis , can you specify which kind of addin do you use here? Content addin or taskpane addin? Can you share the manifest you used? I tried with scriptlab which is a taskpane addin which cannot be executed when in slide show mode.

[2021-04-08 07:06] lliu113 commented on #1748
@mnkumar8 - sorry you're hitting this! Are other APIs working, or is it just the dialog API that is throwing this error? Can you provide a snippet of the code you're using to display the dialog?

[2021-04-08 07:14] lliu113 commented on #476
Internal tracking bug: 5014967

Reassigning over to Matt as this appears to be an add-in runtime issue

[2021-04-08 07:48] sarthak625 commented on #1757
The issue seems to be the dynamic loading of office.js file. It works fine in browsers but in the Outlook App (IE versions) it causes issues because the Outlook App requires additional JS files to load the add-in. Furthermore it seems that those js files are loaded on the basis of the script tag with office.js in the head section. We will try static office.js loading and see if that works.

[2021-04-08 07:51] exextoc commented on #1736
Can you please upload a video of the repro steps and mention the version of OWA which you're using?

[2021-04-08 08:54] exextoc commented on #1783
So you are trying to fetch "replyTo" field of a message item, from graph API call.
So what issue are you facing, with that ?

Moreover, these is another way to fetch that.
It can also be done using "Office.item" interface.
The item namespace is used to access the currently selected message, meeting request, or appointment.
You can read more here : https://docs.microsoft.com/en-us/javascript/api/ou

[2021-04-08 09:15] Zamolxe00 commented on #1783
Office.context.mailbox.item.from.getAsync(callback) this will retrieve from address, in this case the shared mailbox, ex: support@company.com. replyTo will hold the actual email of the user that sent the email will be in the replyTo. I do not use ghraph API to extract it, i want to use Office.item.
The graph api response was just an example to make it clear what property I am talking about.

There

[2021-04-08 09:19] exextoc commented on #1737
Outlook rest API has been deprecated and is not being supported
https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/use-outlook-rest-api

Migrate existing apps to use [Microsoft Graph](https://docs.microsoft.com/en-us/graph/overview-major-services). See a [comparison](https://docs.microsoft.com/en-us/outlook/rest/compare-graph) to start your migration.

[2021-04-08 10:34] exextoc commented on #1783
Currently the feature of finding replyTo list using add-in APIs or Office.Item interface, is not a part of the product.
We track Outlook add-in feature requests on our [user-voice page.](https://github.com/OfficeDev/office-js/issues) Please add your request here with the label “Type: product feature request”. Feature requests on user-voice are considered, when we go through our planning process.

[2021-04-08 11:02] MiaofeiWang commented on #1688
@alexuaua Thanks for helping us find the bug. The `markerStyles` issue on XYScatter chart should have been fixed on Windows/Mac/~~Online~~, except iPad. Please let us know if not.

For the Axis issues, we confirmed that there is a bug when setting Axis.position on iPad. But the other Axis APIs (Axis.reversePlotOrder, Axis.title, Axis.minimum and Axis.maximum) work fine on my machine. Could you ple

[2021-04-08 11:14] MiaofeiWang commented on #1729
@elariccc For logarithmic type of axis, it is by design that the minimum value for `Axis.minimum` is 1. We think that logarithmic curve shouldn't have X value smaller than 1 although it is not limited yet on Excel client.

For the markerStyle issue on XYScatter chart, it should have been fixed on Excel Windows (no need to reverting to old build). Could you please help try that again?

[2021-04-08 12:02] scemis commented on #35
Do you need this?
<hostitem:hostItem hostitem:baseType="Microsoft.Office.Tools.AddInBase"
hostitem:namespace="TalkDeck.VSTO.PowerPointAddIn" hostitem:className=
"ThisAddIn" hostitem:identifier="ThisAddIn" hostitem:primaryCookie="AddIn"
hostitem:master="true" hostitem:factoryType="Microsoft.Office.Tools.Factory"
 hostitem:startupIndex="0" xmlns:hostitem="
http://schemas.microsoft.com/2004/VisualStu

[2021-04-08 13:27] mnkumar8 commented on #1748
Excel JS API seems to be working fine. I saw the error for dialog API. This error got fixed after installing the office patch 'osfclient-x-none'.

Below is the code I am using to display the dialog box.
            Office.context.ui.displayDialogAsync(window.location.origin + "/SelectedItemsPage.html", { height: 50, width: 23 },
                function (asyncResult) {
                    xl.dialo

[2021-04-08 14:12] joshuawwright commented on #1729
@MiaofeiWang I am still seeing an issue on Excel Online using the gist [https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8](https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8). Is it only fixed on Windows?

{
    "stack": "RichApi.Error: This operation is not permitted for the current object.\n    at new n (https://appsforoffice.microsoft.com/lib/1/hosted/excel-

[2021-04-08 14:15] joshuawwright commented on #1688
@MiaofeiWang I just tested Excel Online again with the following gist: [https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8](https://gist.github.com/DesertFoxNV/c90e76bc2c183505b0a55a29345af3a8). Unfortunately, I am still getting the following error:

{
    "stack": "RichApi.Error: This operation is not permitted for the current object.\n    at new n (https://appsforoffice.microso

[2021-04-08 15:30] DmitryKostochko opened #1785 "Outlook add-in manifest is not updated for existing users after successful updating on AppSource"
We have submitted an updated manifest file on 25 February, it was approved and published by the AppSource team. Since then, neither our test machines nor our users have got the updated manifest. How much time does the update process usually take? May it be that our update got lost somehow? Please let us know.

Just in case, here is our add-in:
https://appsource.microsoft.com/en/product/office/WA20

[2021-04-08 15:31] gingerjia commented on #1782
Thanks for reporting the issue @leybal ! We can repro the issue locally and created a bug #5014373 to track it.
We will reply to this thread when have progress!

[2021-04-08 18:14] shaofengzhu commented on #1757
Would you please add
<script type="text/javascript">window.history.replaceState=null;window.history.pushState=null;</script>
to your index.html page?

window.history won't work in richclients using IE11 browser control. Angular framework will try to use window.history API when the API is defined, but those API will not work. Please add the above code in the index page to disable the history API. W

[2021-04-08 21:16] keyur32 commented on #422
Hi there, this issue was investigated and is confirmed that this capability doesn't work for custom WOPI hosts, but only works for OneDrive enabled add-ins. We are investigating and this is in the backlog.

As a workaround, as the issue appears to be scoped to add-ins with add-in commands, you can try to have taskpane only add-ins (these were the 2013 style add-ins that do not contain a TaskPane o

[2021-04-08 22:05] EdwinStraver opened #1786 "Turning off event handlers doesnt seem to have an effect"
In my JS addin for Excel, I create a onchange handler, like so:

Excel.run(function (ctx) {
        var wbk = ctx.workbook;
        var sh = wbk.worksheets.getActiveWorksheet();
        sh.onChanged.add(myChangeHandler);
...

This works perfectly fine, and when a change happens on the worksheet my function myChangeHandler is called,

But, when I turn off the event hander, using a function like:

f

[2021-04-08 23:00] ghost commented on #1772
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-08 23:00] #1772 closed, assigned to exextoc

[2021-04-09 00:08] AndyHore commented on #422
Hi
Our add-in is a taskpane only and we've tried forcing it to auto-load and it didn't work. We can try again, but not sure this is going to work for us.

[2021-04-09 01:00] MiaofeiWang commented on #1688
@DesertFoxNV Sorry for my typo. The markerStyle issue is not fixed yet on Excel online which will take a few more days.

[2021-04-09 01:02] MiaofeiWang commented on #1729
@DesertFoxNV Only on Windows and Mac for now. The fix on Excel Online and iPad will take a few more days.

[2021-04-09 01:07] jipinshi commented on #1786
@EdwinStraver , thanks for reporting the issue. May I know which platform did you meet the issue? Windows? Mac or Excel Online? I tried Windows and cannot repro with ScriptLab. Can you share one gist you repro the issue and let me know which platform do you use.

[2021-04-09 01:23] jipinshi commented on #875
Sorry to let you know until now this is by design, and the work is not on the recent plate.

[2021-04-09 01:26] jipinshi commented on #875
If you still think this is high demanded, please go to https://officedev.uservoice.com to submit the feature request.

[2021-04-09 04:54] thanakrid-kunghair-rft commented on #1734
Hi @grangeryy

Streaming functions are still not recalculated on both Excel Win10 and Excel Mac.

[2021-04-09 05:14] thanakrid-kunghair-rft commented on #1734
Do I need to update anything?
I've tried both https://appsforoffice.microsoft.com/lib/1/hosted/office.js and https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js, and it's still not working.

[2021-04-09 05:14] hellofantastic commented on #476
Update, with out doing anything to my buttons... pointer just started appearing. Did a reload of add-in in outlook and seems to be sticking. Weird

[2021-04-09 06:23] Zamolxe00 opened #1787 "Office.item interface extraction of replyTo list from email"
I am referring to replyTo, this is extracted from graph explorer:
`"toRecipients": [ { "emailAddress": { "name": "", "address": "" } } ], "ccRecipients": [], "bccRecipients": [], "replyTo": [ { "emailAddress": { "name": "", "address": "" }`

There is no Office.context.mailbox.item.replyTo, there is Office.context.mailbox.item.from and Office.context.mailbox.item.sender.

Desired behaviour:
ReplyTo

[2021-04-09 06:23] Zamolxe00 commented on #1783
Thanks for your help, I have created a feature request.

[2021-04-09 07:26] Zamolxe00 commented on #1268
@exextoc Would this still happen with the new Chromium webview?

[2021-04-09 07:50] exextoc commented on #1785
Thank you for bringing it to our notice.
We are getting in touch with the concerned team.

[2021-04-09 08:27] exextoc commented on #1731
Thanks for sharing the issue. We could reproduce this issue at our end.
We have added this to our backlog but unfortunately
we do not have any timelines to share for the same.

[2021-04-09 09:08] PauRosello97 commented on #923
OfficeRuntime.auth.getAccessToken({ allowConsentPrompt: true, allowSignInPrompt: true }) solves it for me also.

[2021-04-09 09:17] exextoc commented on #1666
These APIs work fine for us.
Please share the screenshots/logs/trace as and when these errors occur.
Furthermore, we can organize debugging sessions to address the issue.

[2021-04-09 09:23] #1783 closed, assigned to nobody

[2021-04-09 10:24] ElizabethSamuel-MSFT commented on #1693
Transferring to reference documentation repo to handle as documentation request.

[2021-04-09 11:47] agelenava commented on #1737
Ok, I know it has been deprecated and we did a plan for migration to the Graph, BUT for now, it looks like not Graph issue because it worked recently well and if you examine callback token payload you can find the difference between working token and broken one in `appctx`
in broken it is `"scope":"AAkALgAAAAAAHYQDEapmEc2byACqAC-EWg0Aabol7TmVQkmDNhnSdkE8jAAAiPSJTAAA"`
in working it is `"scope":"Pa

[2021-04-09 11:53] georgechr commented on #1622
Hello, we are noticing this issue as well with Version 2101 for Excel. We get the gray taskpane and no debugging whatsoever. Is there an update?

[2021-04-09 14:02] cbishop-fv commented on #1268
This is still a problem for us. Any update? 401 Unauthorized is a valid response from an auth request. This is from amazon AWS cognito hosted login. The outlook web client handles this request as expected.

[2021-04-09 15:05] EdwinStraver commented on #1786
This is using desktop Excel, on Windows.  We experience this on multiple machines, with various versions of Excel

[2021-04-09 16:59] davidchesnut commented on #1993
Update: Looks like a product bug that you can't get a notification if the dialog is blocked when launched from shared runtime. I'll update this when we have more info.

[2021-04-09 17:25] keyur32 commented on #422
Interesting. We've seen some from others this does work.

A few more questions:
- How/where is your add-in manifest located? Is it in the store or do you depend on deployment through centralized deployment?
- What do you get from the Insert > Store dialog. Do you have a screenshot of that?

If you have Excel, can you try embedding this: WA104379190 (XLMiner Analysis Toolpak) add-in. I also forget

[2021-04-09 17:35] AndyHore commented on #422
It's in the App Store - search for "Qvidian" and you should find it. It works in Word and Excel.

Do you have a sample Excel file with that already embedded? If you send it to me, we can rule out how we've added it and just launch that from our WOPI interface to make sure it's working or not. Then I can compare with what we did to see what the difference may be.

[2021-04-09 20:26] JuaneloJuanelo commented on #1566
Unfortunately that the only workaround we have at this point. The workaround is to create a custom property before calling save you you can get the item id. Btw we followed up offline and it seems that you moved away from this approach, still given that there is a workaround for this issue we are closing it now.

[2021-04-09 20:26] #1566 closed, assigned to exextoc

[2021-04-10 18:19] ndvbd commented on #1168
Same issue here

[2021-04-10 18:26] ndvbd commented on #790
I think I solved the problem by wrapping the call with:

Office.onReady(function(info) {

[2021-04-10 18:35] ndvbd commented on #1355
Same issue here :(

[2021-04-10 18:45] ndvbd commented on #1499
Same issue here. Error 5001 on Outlook 16.47 for Mac

[2021-04-10 19:37] ndvbd commented on #1134
Same problem here, Outlook (updated version) for Mac...

[2021-04-10 21:00] ghost commented on #1775
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-11 09:00] ghost commented on #1765
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-11 19:56] exextoc commented on #1146
The behaviour of EWS for Exchange mailbox items can be found here : https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-work-with-exchange-mailbox-items-by-using-ews-in-exchange

The behaviour of EWS when used as delegate can be found here : https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-access-email-as-a-delegate-by-usin

[2021-04-11 22:36] margielovelet commented on #1610
Hi, do we have any updates on this one? Our client is using Microsoft Outlook for Mac version 16.47 and the getAttachmentContentAsync is still not working as expected. Thank you.

[2021-04-12 00:46] jipinshi commented on #1786
@EdwinStraver , May I know the version of Excel you used? I tried with the latest version and cannot repro.

[2021-04-12 02:31] grangeryy commented on #1734
You don't need to update anything and the fix will work automatically. I notice you're using Mac, and it may take a while for the fix to deploy in Mac.

[2021-04-12 05:09] thanakrid-kunghair-rft commented on #1734
I've tested in Windows 10 as well, and it's still not working.
Is Windows 10's fix deployed yet? Or it will be deployed at the same time as Mac?

[2021-04-12 05:25] grangeryy commented on #1734
Just checked and the fix is already reached in 16.0.14002.20000 for Windows. It mat also take some time for Windows to have the fix in place.

[2021-04-12 06:00] ghost commented on #1773
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-12 06:03] thanakrid-kunghair-rft commented on #1734
Thank you.
![image](https://user-images.githubusercontent.com/73512008/114347552-4ed2d280-9b8f-11eb-8764-268406abe7a0.png)
Here's my Excel version. I will check the fix again on Friday.

[2021-04-12 06:46] jipinshi commented on #1786
This is my gist and seems changed from true to false can work fine to me. https://gist.github.com/jipinshi/0a57a49589862b8fd5f90900cacb43e9
@EdwinStraver

[2021-04-12 07:05] grangeryy commented on #1782
Seems like an RichAPI. Add @lumine2008 for JS API.

[2021-04-12 10:49] anuragjaiswal18 commented on #1736
thanks @exextoc  for your response.
I verified again in OWA today. Its working now as expected. We will do some more testing around it and will let you know.

[2021-04-12 11:57] vivekchauhan commented on #1727
@lindalu-MSFT @JuaneloJuanelo It will be great if we can get any update about the status of this issue as when we are using the most secure way prescribed by MSFT, the SSO is not working.

[2021-04-12 12:47] #1146 closed, assigned to exextoc

[2021-04-12 13:17] ndeeH commented on #1724
Any idea how to force an excel to update to the newest version?

[2021-04-12 15:27] ndeeH commented on #1724
Hi there,
today we had a support meeting with our customer and tried it again in Excel Version:
**MSO 16.0.13901.20148 32-Bit**
![image](https://user-images.githubusercontent.com/11518242/114417978-5e174780-9bb2-11eb-86db-d90c12d5cf80.png)

@xuxife
We tried the following:
-  inserted local formatted value by keyboard: **123.456,00** (this format is set in region and excel settings):
result: when c

[2021-04-12 16:12] EdwinStraver commented on #1786
@jipinshi
Thanks. I modified the code  a bit:
https://gist.github.com/EdwinStraver/6ae7293b835d6d270b9a46903f4ec259

When I press "run", and then click "write a1" nothing should happen in the log.
And with my latest version  (2105 , build 14002.20000) that is indeed the case.

But on another machine (2103 (build 13901.20230), when we press "write a1", the log displays the event.

[2021-04-12 16:23] cbishop-fv commented on #1268
On further digging on web I am seeing Cognito does a 302 POST and then a 401 GET for 1 auth request. Maybe the extra hop is causing outlook desktop to crash?

![image](https://user-images.githubusercontent.com/56599161/114428118-0a3c3c80-9b79-11eb-9996-09012faf4fdf.png)

[2021-04-12 17:07] jargil commented on #1690
Thanks, @christian-sap. I received the registry dumps, these all look fine. There's one final registry tree that I'd like to check and given the previous dumps, I'm guessing here's where Protected Mode is disabled:
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4

I'm sorry about the back and forth with multiple dumps, I had hoped to find the

[2021-04-12 18:33] PRIVERA-IT commented on #1759
Question 1: One of the two users who doesn't see the add-ins on the desktop sees the add-ins in Word Online, the other not
Question 2: The user has a EXO mailbox. Can't run the CompatibilityCheck because my Global Admin runs only with MFA.
Question 3: Attached the office version
![image001](https://user-images.githubusercontent.com/81476401/114442071-6da38a00-9bcc-11eb-9945-c708229b547e.png)

[2021-04-12 19:02] aduggleby opened #1788 "In OWA getSelectedDataAsync does not return body selection anymore"
## Expected Behavior
When calling [getSelectedDataAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview#getSelectedDataAsync_coercionType__options__callback_) while having body text selected (i.e. highlighted) it should return information about the highlighted text including the sourceProperty == "body".

## Current Behavior
In OWA (outlook.of

[2021-04-12 20:29] suresh-anumolu commented on #706
I am facing similar issues with date format.. Can you let me know when this feature will be released?

[2021-04-12 22:59] JuaneloJuanelo commented on #1780
@cody-lettau  thanks so much for sharing your scenario. I have good news and bad news for you. The bad news is that the OnSend add-ins are still not allowed in the store and the main reason why is because if your add-in becomes unavailable (due to page maintenance or whatever other reason) then users can't send email. Which in some cases is desired and in others totally unacceptable.

I think what

[2021-04-12 22:59] #1780 closed, assigned to exextoc

[2021-04-13 01:53] Dengshan2018 commented on #1741
@mattisdada, we can not repro the issue. It will be great if you can create one live example. I tried two instances of same add-in through devtool. The storage can be shared without the issue. Let me know if you can repro the issue in this way.

And one question: how did you launch devtool for taskpane and webdialog?

Please provide the version of msedgewebview2.exe which is started by office.

[2021-04-13 01:54] jipinshi commented on #1786
@EdwinStraver , suggest to upgrade the version, since 16.0.13901.20230 is blocked to release in production. It is in preview status, marked as blocked to release in production.

[2021-04-13 02:08] grangeryy commented on #706
@suresh-anumolu , hey we are under development on this new feature to support Custom Functions to return formatted number values. It will be soon in Beta version.

[2021-04-13 03:10] waveheart opened #1790 "in office.word, is there any api for setting 'header from top' and 'footer from bottom'?"
i need set default value of the 'header from top' , 'footer from bottom',  i did not found any api for it.
and for setting  margin of the word.body, i did not found any api either.

[2021-04-13 03:26] mattisdada commented on #1741
It's tricky as it **only** happens on the AppSource variation of the app (loading it in via manifests work perfectly fine), and requires no code to reproduce (confirmed this by creating a break on the `load` events in devtools). But I'll see what I can do for you once I get back into the office... (I know it's hard without being able to reproduce, but we don't want to affect prod by reverting hotf

[2021-04-13 03:40] Dengshan2018 commented on #1741
And another question: how many instances of msedgewebview2.exe in taskmanager when pane and dialog are showed at same time?

taskmanager->"Open file location", then you will see the version in the folder.
![image](https://user-images.githubusercontent.com/45212981/114493312-308cc700-9bcf-11eb-99d0-4035e47e0575.png)

[2021-04-13 07:46] NickDarvey opened #1791 "Add-in disappears from Word when switching accounts and restarting Word"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our customers have captured an issue where our add-in disappears when they switch their account in Word and restart it.

## Steps to Reproduce, or Live Example
[Steps Recording from a

[2021-04-13 07:48] NickDarvey commented on #1791
And can anyone tell me where I should be raising an 'official' support request for this issue? Partners Center? Here?

[2021-04-13 08:01] hello-chenchen commented on #1758
hi @mattgeim thanks for update. My test code is:
[code]
test platform is new edge browser.
below is the http trace.
[outlook.office.com.har.zip](https://github.com/OfficeDev/office-js/files/6302104/outlook.office.com.har.zip)

[2021-04-13 08:13] hello-chenchen commented on #1758
in win 10 outlook client:(which is based on webview2)
after execute this code:
[code]
it shows this popup error dialog:
![image](https://user-images.githubusercontent.com/1878089/114519494-0bea2b00-9c73-11eb-8b94-16a3813ace91.png)
My device has enrolled.
![image](https://user-images.githubusercontent.com/1878089/114519567-1e646480-9c73-11eb-8dd3-517e435c0bb8.png)
![image](https://user-images.githu

[2021-04-13 08:29] clavx commented on #1739
The issue could no longer be reproduced by the procedure I first reported.

https://user-images.githubusercontent.com/58804032/114521427-ed177480-9c31-11eb-85ac-79a5a44f6abb.mp4

I was able to reproduce it using a different reproduction procedure, so I will report it here.

1. Compose an email
2. Add 4 attachments
3. Delete the second and third attachments

If you reduce the file size, you can rep

[2021-04-13 08:45] hello-chenchen commented on #1758
sorry i can't catch fiddler trace for outlook client. when i open fiddler, the test code can't popup dialog , and throw error message:
[code]
i think maybe it was the intune certificate verify. fiddler error: the server requests a client certificate please save a client certificate using the filename

[2021-04-13 09:13] neso613 commented on #1765
I have submitted this add-in with ReadMode and it was validated bdefore. But this time, with same manifest.xml, I am getting this validation fail message.

![image_2020_12_11T12_18_57_673Z-1](https://user-images.githubusercontent.com/31642462/114528707-dfc8ad00-9c66-11eb-88cb-afc1efcd191b.png)

[2021-04-13 10:11] paulfrench commented on #1685
I cannot add...

`setInterval(3000, () => {})` since it gives a TypeScript error (obviously)

I've added back in the es.promise polyfill

I've added `setInterval(() => {},3000)` to my code so it reads....

Office.onReady(() => {
  setInterval(() => {},3000)
  if (typeof Excel !== 'undefined') {
    Excel.run(async (context) => {
      await registerSelectionChangeHandler(context)
    }).catch(erro

[2021-04-13 11:45] leybal commented on #1773
@grangeryy thank you for the investigation. We get the RichApi.Error on a regular basis. We do not have a description of a specific scenario when a user hides and unhides the workbook. This is the standard Excel feature and users can use it however they like.
It looks like any js add-in will not work if a user hides and unhides the workbook. An add-in reinstallation is not the best workaround.

[2021-04-13 13:56] Alex0cean opened #1792 "Issue with ribbon enablement API in Excel Online"
We recently noticed the following regression in the Ribbon Enablement of Excel using the Ribbon Enablement API. This immediately affects all our customers.

Summary:
All buttons within a Ribbon group are disabled. The API is used to enable one button in this group. By mistake all buttons in this group are disabled.
This error is reproducible in Excel Online in both Ribbon variants.

Video shows ho

[2021-04-13 15:26] nrueckmann commented on #882
@AbidRahman-MSFT since you assigned yourself to this ticket, do you see any option how to pass arbitrary data to the add-in?

[2021-04-13 16:17] jhschmidt38 opened #1793 "Desktop Excel JS Add-in displays browser download status in task pane"
### The task pane for a Desktop Excel Javascript add-in is used to display the download status bar.

## Expected Behavior

When downloading a file using a Javascript add-in I would expect a message box or a save as dialog to appear in the center of the application window so the download status is clear to the user. Task panes are not meant to be the center of attention and users can easily miss th

[2021-04-13 16:20] fr-pagesurfer commented on #1491
Looks like the UserVoice link stopped working as Microsoft seems to be moving away from that service. Is there another way to vote for this feature?

[2021-04-13 16:25] exextoc commented on #1752
@zaker - Thanks for following up on the issue. Here are a few articles that may possibly explain why this mailbox is hitting the issue specifically. Could you check if the setup in outlook profiles were done correctly based on how the mailbox was setup. The articles also have steps on resolving known issues with permission sets if setup the wrong way.

https://techcommunity.microsoft.com/t5/outloo

[2021-04-13 18:07] AbidRahman-MSFT commented on #882
Hey @nrueckmann, apologies for the delay here. Thanks for posting the question.

If i understand correctly, you're trying to fetch metadata from within your add-in when a link is clicked to open the Word document, is that correct?

Are you using the following method to open the document: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/pnp-open-in-excel?

and when opening the document, do

[2021-04-13 21:03] cody-lettau commented on #1780
@JuaneloJuanelo thanks for the detailed reply. I just followed up with you via email.

[2021-04-13 21:22] nrueckmann commented on #882
Hi @AbidRahman-MSFT, thanks for you fast reply. I've read the document you've sent. As far as i understand this solution would always include the need to write to the file before opening it. Unfortunately, this is not possible for our current project. We are at the very beginning of our planing, but for now all we need is to hand over some kind of context identifier while opening the document. The

[2021-04-13 22:19] trigurl commented on #1792
Thanks for attaching the repro.  Investigating.

[2021-04-13 22:46] AbidRahman-MSFT commented on #882
I see, thanks for the info @nrueckmann. How do you currently guarantee that the add-in will already be installed for the user opening the document?

If I understand correctly, the user would click a link to the document in your web app, the document opens in that user's desktop environment, presumably Windows, at which point you're looking for some kind of identifier from within the add-in runtime

[2021-04-13 23:00] ghost commented on #1775
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-13 23:00] #1775 closed, assigned to exextoc

[2021-04-14 00:16] lindalu-MSFT commented on #1790
Can you explain what you are trying to do? Are you using VBA, VSTO, JavaScript... Please provide your platform, Word version, language, etc. so we can triage. Here is the template:

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform

[2021-04-14 00:20] lindalu-MSFT commented on #1791
@NickDarvey I've triaged this and assigned a few of our PMs in the Word Add-ins team. You can also try Microsoft Q+A and tag https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html office-js-dev.

[2021-04-14 00:24] lindalu-MSFT commented on #1793
Hi, can you please submit this suggestion to our new Feature Suggestion platform?
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform

[2021-04-14 02:46] pb-jeff-oneill opened #1794 "Word.Range.insertText now moves the cursor"
I updated this to make the issue clearer on 2021-04-17.

---

Suppose I have this text in a Word doc:

    foo bar^

where the cursor is indicated by the `^` and I have a range `r` corresponding to the word `foo`.  Previously, if I did this:

      r.insertText('foofoo', 'Before');

then the Word document would then show this:

    foofoofoo bar^

Importantly, the cursor would stay after the word

[2021-04-14 02:49] jipinshi commented on #1794
@pb-jeff-oneill , what's the platform Win32/Mac/iOS/Word Online? and what's the build hit the issue?

[2021-04-14 03:10] xuxife commented on #1724
Hello Andi,
I appreciate all information you provided. I've tried it on latest 32bit Excel, the problem does not appear.
The best solution is that the customer upgrade the Office installation.

For the Office upgrade issue, the customer could send a frown face :( in "Feedback to Microsoft" with keyword "cannot upgrade Office" and attached information (maybe this issue link).

Thanks

[2021-04-14 03:49] gingerjia commented on #1685
hi @paulfrench, thanks for your confirm!
Have you also confirmed '[set MutationObserver=null]' works or not?

This is IE’s problem and IE’s bug unlikely gets fix since it’s in deprecating stage. Once our add-in platforms migrates to webView2, such problem should be resolved.

If has any other concern, please let us know!

[2021-04-14 05:01] xuxife commented on #1724
There is another method worth to try:
Switch to another channel, check updates then switch back and check again.

You can change channel in **Files-Account-Office Insider-Change Channel**
![image](https://user-images.githubusercontent.com/28257575/114656851-6641c500-9d21-11eb-94ed-13647b34ab17.png)

[2021-04-14 05:55] ndeeH commented on #1724
Thank you @xuxife for your tipps! 👌
_Where may I switch the Insider Channel?_
![image](https://user-images.githubusercontent.com/11518242/114661123-c111f700-9cf6-11eb-8960-8390d3e75e34.png)

[2021-04-14 06:50] grangeryy commented on #1768
Bug 5026687 is created to track this issue and we'll investigate soon.

[2021-04-14 06:52] xuxife commented on #1724
According to https://insider.office.com/en-us/join/windows, Office Insider for enterprise is managed by admin.

[2021-04-14 06:56] grangeryy commented on #1773
@leybal Agree with you on the point it is not the best workaround. Hide/Unhide workbook is still a Excel feature gap for Excel Online. I'll connect with the feature team to raise your issue. You may also try to give feedback directly through the status bar at the right bottom in Excel Online here:
![image](https://user-images.githubusercontent.com/50093161/114666994-82e5f900-9d31-11eb-9931-2c71918

[2021-04-14 07:00] grangeryy commented on #1773
I'll also created a item in backlog to support Custom Function for hidden workbook and prioritize with all other requirements together. Thx!

[2021-04-14 07:04] grangeryy commented on #1773
Feature request No.: 5026704

[2021-04-14 07:33] nrueckmann commented on #882
Hi @AbidRahman-MSFT, thanks again. I guess we will try a workaround by calling an external service like you suggested. The idea behind using query parameters was that we already know that all clients will only use the web version of office.

[2021-04-14 08:15] lumine2008 commented on #35
A bug (5021004) is created to track this issue.

[2021-04-14 08:59] leybal commented on #1773
We have sent feedback via Excel online referring to this issue. We will be grateful for any updates.

[2021-04-14 09:46] biswanathc commented on #882
@nrueckmann @AbidRahman-MSFT

Nice to see the same question still stands for other projects. Well, to share my experience on this when I created this query..
We were doing a modernization project where the idea was to shift completely from desktop office to O365 including content migration from sharepoint to onedrive and VSTO to officeJS.

During that time office js was not working for online word

[2021-04-14 10:44] exextoc commented on #1739
@clavx : Thanks for updated repro steps. The issue has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-04-14 10:51] 4tti opened #1795 "Side-loading behavior change makes the debugging harder"
## Expected Behavior

In the previous versions it was possible to have in shared folder add-in catalog multiple manifests referencing various versions of same add-in (with only difference in ID element in the manifest) and developer could just insert one addin at a time. To switch the only need was to clean cache/Wef folders.

## Current Behavior

All manifests in the shared folder are being loade

[2021-04-14 11:53] pb-jeff-oneill commented on #1794
I am on Mac OS X 11.2.3 with Office 365 and Word 16.48.  It happens with both installed Word and browser Word (Chrome).

A customer has the same issue on Windows 10, but I don't have the other details.

It seems to be a Javascript bug that is affecting all platforms.

[2021-04-14 12:47] PlayPratz opened #1796 "getAttachmentsAsync returns an id in invalid format on Outlook for Mac"
`Office.context.mailbox.item.getAttachmentsAsync` on Outlook for Mac returns an array of attachments, but their `id` attribute is not in the expected format.

## Expected Behavior

`getAttachmentsAsync` must return `id` in the same format as on Outlook on the Web.
**Output from Outlook on the Web: (expected format)**
[code]

## Current Behavior

**Output from the Mac client:**
[code]

## Steps to

[2021-04-14 15:19] keyur32 commented on #1644
Adding @AbidRahman-MSFT to help take a look at this issue.

[2021-04-14 18:07] exextoc commented on #1765
Could you clarify question here, is the issue:
1 The add-in or an API is not behaving as you expected and you can repro the issue in your environment. You are looking to understand addin or API behavior.
Or
2 Your addin is behaving as you expect, and you would like clarification on the cert results

For 1 - please provide information on the scenario, API you are calling, the behavior you expect an

[2021-04-14 18:23] AbidRahman-MSFT commented on #1791
Hey @NickDarvey,

Thank you for reporting the issue. This is unfortunately expected behavior with our current platform. The add-in framework is only loaded on instances of the document where we have confidence that it will be utilized (for e.g. if an add-in was previously installed by that account). As you've observed, this will only occur if a new document is opened while the user is signed into

[2021-04-14 18:35] atsopuronen commented on #1620
Hello Abid,

Yes, we have users at one of our customers who are experiencing ADD-IN ERROR even after upgrading to the latest and greatest Office version and Windows 10 version. The only thing they haven't tried yet is Windows user profile reset.

Because of the error, they are unable to use our Outlook add-in.

[2021-04-14 18:43] AbidRahman-MSFT commented on #882
Hey @biswanathc,

Thank you for sharing the workaround your team took to overcome this limitation. The approach you took makes sense to me and is similar to some of the approaches we've heard other ISVs take in this scenario.

If your userbase is integrated into M365, I'm hopeful that the new SSO feature for Office Add-ins would make this scenario much easier to handle in the future. When utilizin

[2021-04-14 18:44] #882 closed, assigned to mscaitlina, AbidRahman-MSFT

[2021-04-14 19:16] cody-lettau opened #1797 "[Outlook] Office.context.ui.displayDialogAsync sometimes open dialog and sometimes opens browser tab"
When calling ```Office.context.ui.displayDialogAsync``` with all of the same parameters on desktop or mobile, it sometimes opens a dialog and sometimes opens a new tab in the default browser. This appears to depend on which account I have setup and I am unable to determine what in that account would cause this difference in functionality.

## Expected Behavior
```Office.context.ui.displayDialogAsy

[2021-04-14 20:49] trigurl commented on #1792
I've logged a bug and assigned it to our area expert.

[2021-04-14 22:27] exextoc commented on #1797
To clarify, are you running Outlook online running in a browser in Mac?  What about iOS/Android - are you running Outlook online in the browser or are you using Outlook app on mobile?  Do you see this in Windows (either the Outlook app or Outlook in browser)?

[2021-04-14 23:01] keyur32 commented on #1793
Thanks, agree with @lindalu-MSFT  that we'd need to treat this as a seperate feature request, as today, we only have control of the taskpane.  If the file is an Excel workbook, then the recommendation would be to open it, or insert new sheets with that content using the upcoming AddFromBase64 APIs.

[2021-04-14 23:17] jhschmidt38 commented on #1793
In this case it is downloading an html or zip file so it can't be opened in Excel. I submitted a new idea this morning on the Microsoft 365 Developer Platform as Linda suggested.

Thanks Keyur and Linda

[2021-04-14 23:59] cody-lettau commented on #1797
@exextoc thanks for following up. This was seen on the following:
- Mac Desktop: Outlook 2016 app
- iOS: Outlook App
- Android: Outlook App

I will test on Windows tomorrow when I have an opportunity.

We do not see this issue when in the browser, but that is likely because our add-in specifically checks the platform to determine if it should just open a new tab or use the ```Office.context.ui.dis

[2021-04-15 00:05] cody-lettau commented on #1780
@JuaneloJuanelo I attempted to email you but I received a "Delivery incomplete" response.

[2021-04-15 00:19] NickDarvey commented on #1791
This would be an acceptable workaround. Is local storage retained through this? (If our add-in stores things in local storage, will it be lost each time this happens?)

A better workaround for this scenario would be appreciated as we keep running into issues with centralized deployment. (e.g. not all customers have the right licenses for it; it doesn't work with external identities, such as GoDadd

[2021-04-15 00:24] lindalu-MSFT commented on #1795
@sumurthy Hi Sudhi, this is a Script Lab/Excel/Sideloading issue. Can you please help triage? I'm not sure who the correct PM to assign to is. Thanks in advance!

[2021-04-15 02:31] 2020Mar commented on #1782
@leybal  Excel RichAPI team has fixed this issue and will tell Current Chanel version which contains this fix later. Please wait patiently, thanks!

[2021-04-15 02:35] shaowan-msft commented on #1782
@leybal Excel RichAPI team has fixed this issue and will tell Current Chanel which contains this fix later. Please wait patiently, thanks!

[2021-04-15 07:34] anuragjaiswal18 commented on #1736
Its working now 👍 . Thank you so much .

[2021-04-15 10:28] leybal commented on #1782
@shaowan-msft could you share estimation with us? Will the fix be released in a couple of weeks or months? Thanks.

[2021-04-15 10:49] digish777 opened #1798 "while using Office.context.document.getFileAsync, Office.context always empty"
while using  Office.context.document.getFileAsync, Office.context always empty.

I am using   Office.context.document.getFileAsync inside angular 11 application.

due to this, document always remain undefined. what is that issue?

calling the above method inside:
  const file: any = event.target.files[0];
      reader.readAsDataURL(file);
      reader.onload = () => {
                Office.contex

[2021-04-15 15:07] rajha-conga opened #1799 "Word add-in is not using latest Edge WebView2 runtime instead it is still running on Microsoft Edge Legacy"
My system got windows 10 update after that as per below link I was expecting Word add-in to use latest Edge WebView2 runtime instead of Microsoft Edge Legacy, which is not the case.

[New Microsoft Edge to replace Microsoft Edge Legacy](https://techcommunity.microsoft.com/t5/microsoft-365-blog/new-microsoft-edge-to-replace-microsoft-edge-legacy-with-april-s/ba-p/2114224)

OS : Windows 10 Enterpris

[2021-04-15 15:13] rajha-conga commented on #1799
@sumurthy @AlexJerabek @arttarawork @mscharlock

[2021-04-15 19:05] lindalu-MSFT commented on #1798
Hi, thanks for reaching out to us! However, in order for me to triage this, can you please fill out the following information? Also, since this appears to be a programming question, you can also try reaching out to the developer community on [Microsoft Q+A](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html) or on Stack Overflow.

## Expected Behavior

## Current Behavior

## Steps

[2021-04-15 19:09] lindalu-MSFT commented on #1787
Hi @Zamolxe00 Can you please submit this idea to [our feature request forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) on Microsoft Tech Communities? You can label this with Microsoft Graph and/or Office Add-ins development.

[2021-04-15 21:19] skaramchandani11 commented on #1713
@exextoc Can you provide an update here please? Many of our customers who use our add-in are running into this

[2021-04-15 21:48] cody-lettau commented on #1797
We are seeing this with a fair amount of test accounts. Without knowing what causes this, it is quite the blocker as it leads to users not being authenticated correctly (opening the link in their default browser instead of the dialog leads to cookies and localStorage data not being available).

[2021-04-15 22:09] amegan opened #1800 "[Outlook][Mac] `masterCategories.getAsync()` API returns error when the side panel is pinned"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Office.context.mailbox.masterCategories.getAsync() returns code: 5001, "Internal Error" if I call the API with side panel pinned on Mac Outlook. If the side panel is NOT pinned, it re

[2021-04-16 01:56] digish777 commented on #1798
that was helpful

[2021-04-16 01:58] #1798 closed, assigned to nobody

[2021-04-16 02:26] shaowan-msft commented on #1782
@leybal It may needs 1-2 months before you have this fix in your local side, I will keep eyes on the deployment process and update in this thread ASAP. Thanks!

[2021-04-16 03:59] thanakrid-kunghair-rft commented on #1734
Hi @grangeryy ,
I still can't recalculate streaming function with `range.calculate` in Excel Windows 10. Has the fix reached my version yet?

[2021-04-16 11:02] eneoli commented on #644
There is another problem:
If calling the function after 5-10 minutes it throws the following error:

`Uncaught (in promise) o {message: "Invalid token specified", filename: "", lineno: 0, colno: 0}`

The problem is, that the error is thrown within an setInterval, so there is absolutely no chance to catch it....

![image](https://user-images.githubusercontent.com/23139864/115015428-e7c95c80-9eb3-11

[2021-04-16 11:07] eneoli opened #1801 "getAttachmentContentAsync throws error that is not catchable"
As stated in  #644, getAttachmentContentAsync fails to fetch the attachments when waiting 5 - 10 minutes. In that case the following error is thrown:

`Uncaught (in promise) o {message: "Invalid token specified", filename: "", lineno: 0, colno: 0}
`

![image](https://user-images.githubusercontent.com/23139864/115015723-63c3a480-9eb4-11eb-916c-79c8922547c2.png)

The problem is, that the error is th

[2021-04-16 13:23] jwissocq opened #1802 "Port Office.addin API functions to Outlook JS addin"
[Office.addin](https://docs.microsoft.com/en-us/javascript/api/office/office.addin?view=excel-js-preview) exists for now in Excel and Powerpoint JS addins.
It would definitely be interesting to port this functionality to Outlook JS addin as well.

## Expected Behavior
Office.addin is loaded in Outlook JS addin, so that the taskpane can be shown or hidden.

## Current Behavior
Right now, Office.add

[2021-04-16 15:01] cody-lettau commented on #1797
@exextoc @lindalu-MSFT I created a recording of what we are seeing. This was tested on OSX Desktop App on the same computer (no change in environment as you will see). View here: https://screencast-o-matic.com/watch/crfD2RVnHwV

The same exact line is called ```Office.context.ui.displayDialogAsync(...)``` with a near identical url (just different query values. Yet, for one account, it opens the de

[2021-04-16 16:54] lliu113 commented on #1556
@mjrforce - Adding the domain to your manifest may resolve this issue, for more information see - https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/appdomain

I'm going to go ahead and close the issue for now. Please reactivate if you need further help. Thanks!

[2021-04-16 16:54] #1556 closed, assigned to lliu113

[2021-04-16 20:48] zorauf commented on #1739
@clavx Thanks for reporting. Can you please take a fiddler trace while this issue repros and attach it.
(Please make sure to remove auth headers and cookies from the fiddler trace, if you are sharing using a public mechanism)

[2021-04-16 21:05] sumurthy commented on #1794
@pb-jeff-oneill Thanks for making the connection from Stackoverflow to this Github issue. Looking at the issue, this is likely not related to Office-js update but more on the application side. That is, the API interface has not changed and rather the API behavior may have changed causing this issue. I think the right fix would involve fixing the bug in the Office app, which I guess will be looked

[2021-04-16 22:05] exextoc commented on #1802
We track Outlook add-in feature requests on our Tech Community Page: aka.ms/M365dev-suggestions
Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2021-04-17 16:46] rohit-gandhe commented on #1095
Seems like this broken again?
I submitted a stack question here: https://stackoverflow.com/questions/67140484/weblinks-deeplinks-to-outlook-in-ms-graph-api-not-working

[2021-04-17 20:26] sandeep007bonds opened #1811 "Unable to get Token using MSAL"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am unable to get access token using
**"await OfficeRuntime.auth.getAccessToken({ allowSignInPrompt: true, allowConsentPrompt: true })"** getting below mentioned error if I am using

[2021-04-18 09:31] ASamSam opened #1803 "Excel WEB Addin disappears (crashed) in <Excel on the web> if javascript code recreates table in parallel session"
Having two parallel sessions in a single file on SharePoint and Addin activated in both:
in the first session, the addin recreates (deletes and then adds) the worksheet, then creates a table there and fills it with data. at the 'add rows' step the addin in second session disappears without any errors reported in the console.

## Expected Behavior
Addin in second session remains stable

## Current

[2021-04-18 09:40] ASamSam opened #1804 "Strange Excel Validator behavior"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I meet strange Excel validator behavoir. My goal is to forbid user to enter some special symbols like '*'. so i found a solution based on ROW and INDIRECT.
so i do create some validat

[2021-04-18 17:19] ASamSam commented on #1014
seems i found a working case for me:
when i'm trying to call a dialog inside
`await Excel.run({ delayForCellEdit: true }, async function (context) {`
it fails with exactly same message (even with 'await').
but if i call it outside outside of 'run context' - it works stable.

Even more, seems it fails when excel have something to do (?context.sync()).

[2021-04-19 01:08] jipinshi commented on #1804
I can repro the issue and will investigate.

[2021-04-19 01:37] jipinshi commented on #1803
Thanks reporting the issue, we are investigating

[2021-04-19 01:58] MiaofeiWang commented on #1729
@DesertFoxNV This has been fixed on Excel Online with build >= 16.0.14012.37951.

[2021-04-19 02:33] lumine2008 commented on #1729
Thanks Miaofei, let me put the bug (#4984713) here for future reference.

[2021-04-19 02:41] grangeryy commented on #1714
Hey @igor-ribeiiro, do you have any update on this?

[2021-04-19 03:42] sumurthy commented on #1795
This is not likely anything to do with the Office JS library. Probably something to do with the platform. Will start with Sudheer and check.

[2021-04-19 06:47] seenark opened #1805 "Reload button in task pane of Excel installed version on Window10 did not reload on previous URL"
The **Reload Button** provided in taskpane did not reload on previous URL but there is reload from Ribbon URL.
I did reload my taskpane by same URL and add some query-params for determine which angular module to be lazy-load after taskpane reload completed, this things work well on Excel website in Chrome, IE11, MS Edge(Chromium), MacOS(installed version) but on Window10 it is not. I opened **F12-

[2021-04-19 08:24] exextoc commented on #1800
@amegan  Are you seeing this issue in Classic Mac Outlook or New Mac Outlook UI?

[2021-04-19 09:00] ghost commented on #1786
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-19 12:20] exextoc commented on #1788
Thanks for reporting this issue regarding getSelectedDataAsync API. It has been put on our backlog. We, unfortunately, have no timelines to share at this point
Internal tracking id: Office: 2065300

[2021-04-19 12:36] exextoc commented on #1796
@PlayPratz  This behavior is by design for Mac Outlook. In Compose mode, the attachment ID is valid only within the same session and isn't guaranteed to map to the same attachment across sessions. This is mentioned in the documentation  [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-and-remove-attachments-to-an-item-in-a-compose-form). The attachment ID returned by getAttac

[2021-04-19 12:59] moszti opened #1806 "Office.context.mailbox.item.getAttachmentContentAsync fails for attachmentType="cloud""
The call to the Office.context.mailbox.item.getAttachmentContentAsync function fails if there is a 'cloud' attachment type among the mail attachments.

## Expected Behavior
The function should return the attachment content

## Current Behavior
The function fails with the following error:
![image](https://user-images.githubusercontent.com/35491891/115238237-be136e00-a11d-11eb-89e1-fd923402df83.png)

[2021-04-19 13:29] PlayPratz commented on #1796
@exextoc If that is the case, what is the recommended way of mapping attachments across platforms? For my add-in, I want to attach files on the client side, then perform operations on them (getContent, remove, etc.) on the server side using Graph API. As you mentioned, there is no unique identifier for a single attachment.

[2021-04-19 13:44] DmitryKostochko opened #1807 "Outlook Desktop, WebView2, date.toLocaleDateString() and date.toLocaleTimeString() methods ignore Windows regional settings and return date/time in English (United States) formats"
In an Outlook add-in for compose mode, we are using the toLocaleDateString() and toLocaleTimeString() methods. Previously, when IE or Edge Legacy web view controls were used, these methods returned correct strings taking into account the regional settings of Windows and Outlook. Now, with the WebView2 control (Edge Chromium), we always receive date and time units in the EN-US format.

## Expected

[2021-04-19 14:25] exextoc commented on #1806
Thanks for reporting this issue regarding  Office.context.mailbox.item.getAttachmentContentAsync API. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: OutlookWeb:114469

[2021-04-19 15:49] igor-ribeiiro commented on #1714
Sorry for no updates, I will be looping with the Custom Functions team as they will be in a better position to solve this issue.

[2021-04-19 15:51] exextoc commented on #1797
@cody-lettau  Could you please provide a test account with which we can repro this issue on our side?
You can share the test account details to admin@M365x010952.onmicrosoft.com.

[2021-04-19 17:35] ic3guy commented on #1317
I just want to add that I'm using Angular 11 for an Excel Office.js Add-In and I'm getting the same error on slow connections.

The solution above written by @intellectyxArria is most likely correct. That the bundle size is too big. This really shouldn't be a problem Microsoft...

I do not like one liners so here is a little bit of an explanation of the options.

--prod specifies using the "produc

[2021-04-19 19:12] AbidRahman-MSFT commented on #1791
We've added backlog item (#5039675 for internal tracking) to address this issue.

Thank you for providing the information here @NickDarvey. To answer your first question, local storage should be retained through this (but sessionStorage will not). It should be no different than if you visited a webpage, closed your browser, and then re-opened that same web page at a later time.

[2021-04-19 19:17] amiram opened #1808 "MessageCompose.setSelectedDataAsync always add the text to the subject in web version"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When using MessageCompose.setSelectedDataAsync, text should be inserted to the subject or body, the last one that had focus. It is not working well and the text is always added to the

[2021-04-19 19:24] AbidRahman-MSFT commented on #1391
Hey @cattermo - thank you for reporting this issue and apologies for the delay in response.

@sumurthy and @AlexJerabek - there looks to be a conflict in terms of the supported file types for Word on iPad for the getFilesAsync API call.

PDF files ARE supported for Word on iPad in the following Requirement Set documentation for PDFs: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/re

[2021-04-19 21:04] trigurl commented on #1795
There's an email thread about this feedback with Heidi.

[2021-04-19 23:13] pb-jeff-oneill commented on #1794
Thank you @sumurthy for the feedback.  I can confirm that downgrading to Word 16.46 on Mac is a work around for this bug.

I will instruct my users that they need to turn off automatic updates of Office and downgrade Word to 16.46.

I'm looking forward to a quick fix of this bug.  Is there a better place to report this bug?

[2021-04-20 00:02] lliu113 commented on #1795
@4tti - sorry you're hitting this issue! Is the expected behaviour that removal of the WEF folders in step (5) results in no add-ins appearing in step (7) unless manually reloaded again?

[2021-04-20 00:56] rohit-gandhe commented on #1095
Is it just me who has this issue?

[2021-04-20 04:02] grangeryy commented on #1714
@logicaloud, we did some investigation and here is the finding:
1.	The issue only happens with the add-in generated by Yo office tool in Windows,
2.	The issue will not seen with add-ins in Office store,
3.	Following steps can mitigate the issue,
1)	Launch Registry Editor,
2)	Go to "HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\WEF\Developer",
3)	Look for the key whose name is the ID in manifest

[2021-04-20 05:00] yihuax-zz commented on #1794
Looks it is a MAC-only issue. I couldn't repro it with the latest win32 code.

Thanks!
Yihua

From: pb-jeff-oneill ***@***.***>
Sent: Monday, April 19, 2021 4:14 PM
To: OfficeDev/office-js ***@***.***>
Cc: Yihua Xiong ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Word.Range.insertText now moves the cursor (#1794)

Thank you @sumurthy<https://nam06.safelinks.protection.outlo

[2021-04-20 05:08] logicaloud commented on #1714
@grangeryy Thank you for looking into this. I can confirm that the function does not start twice when loading the spreadsheet without the debugger.

What first led me to this issue was an Admin-deployed Add-In that appeared to perform differently at the time when the spreadsheet was first created vs the time when it was loaded in an existing spreadsheet. The "loaded" behavior seemed consistent wit

[2021-04-20 05:25] grangeryy commented on #1714
Thank you @logicaloud for the additional information! Then I'll close this one, and pls feel free to open a new one if you encounter the other issue like mentioned above:)

[2021-04-20 05:25] #1714 closed, assigned to igor-ribeiiro, grangeryy, qinliuMSFT

[2021-04-20 05:45] thanakrid-kunghair-rft opened #1809 "[Excel][Shared Runtime]SetAppRuntimeState error occurs when open the task pane with showAsTaskpane()"
I have an office add-in project that uses shared runtime. I found this error when I try to open the task pane with Office.addin.showAsTaskpane() from function execution that is set from Ribbon. I've tried removing all cache and cookies, but it's not working as well.

The weird thing is that if I remove all custom functions of this add-in from the workbook then refresh the browser, I will be able t

[2021-04-20 06:51] jankratochvilcz commented on #1095
Hi @rohit-gandhe. I've tried today and I cannot repro this on our add-in.

[2021-04-20 07:32] jipinshi commented on #1804
5036128 was created

[2021-04-20 07:34] zaker commented on #1752
As it turns out, buisness operations has set this email address as hidden for lookup (msExchHideFromAddressLists == TRUE), and this seems to cause the error in outlook desktop.
The addin on top of office.js still works in OWA though.

The case for why they want it like that is as follows.
Nobody should send an email directly to this inbox, all items gets transferred over if a user with access cate

[2021-04-20 08:31] exextoc commented on #1808
Thanks for reporting this issue regarding setSelectedDataAsync API. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Office:2078820

[2021-04-20 09:18] Kronenberg opened #1810 "`mailbox.getCallbackTokenAsync({ isRest: false })` returns different token versions"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

General summary: I got different tokens based on platform in my case it is IOS

## Expected Behavior
On PC windows/MAC/Android i got this token structure using `mailbox.getCallbackTok

[2021-04-20 11:34] exextoc commented on #1796
@PlayPratz Unfortunately, there is no unique identifier across the platform in Compose mode. The Id returned by Add-in can only be used to call APIs on the client-side in the same session. Can you try getting the attachmentIDs using Graph API itself and then perform desired operations? Documentation on this is available [here](https://docs.microsoft.com/en-us/graph/api/attachment-get?view=graph-re

[2021-04-20 11:36] 4tti commented on #1795
Hello @lliu113,
until recently it was behaving just like that, i.e. we had to manually insert the addin. It would be useful to have option to drive this behavior because I can imagine cases when this autoloading is useful, however there are also cases when it is rather annoying. 😁

Update: to make it clear, it is required to have the old behavior also for other reasons, imagine you have multiple m

[2021-04-20 11:43] exextoc commented on #1779
@cody-lettau  This is by design in OWA. body.getAsync API will return the complete text only if '...' button is clicked.

[2021-04-20 11:47] pb-jeff-oneill commented on #1794
@yihuax, no the bug appears to be on all platforms.

I have personally verified the bug on:

- Windows 10 with Word 16.0.13901.20366, and
- web Word

Please let me know how I can help you replicate.

[2021-04-20 12:27] cody-lettau commented on #1779
@exextoc thanks for the reply.

This seems quite limiting if an add-in is trying to do anything with the entire message being sent. Relying on the user to click the '...' in order for the add-in to function properly seems counterproductive.

Are you aware of any possible workarounds or have any recommendations of how we could go about obtaining the entire body (including what gets appended when '.

[2021-04-20 12:52] cody-lettau commented on #1797
@exextoc I sent one over yesterday.

During further testing, we were also seeing the same call to ```Office.context.ui.displayDialogAsync``` sometimes return an error saying the url was not in the defined domain list, even when it was (and worked fine with the same url, just different query values, at other times).

[2021-04-20 13:58] yihuax-zz commented on #1794
Yes. I found that and made a fix last night.

Thanks for letting us know the issue. I'll submit the fix as soon as possible.

Thanks.
Yihua
________________________________
From: pb-jeff-oneill ***@***.***>
Sent: Tuesday, April 20, 2021 4:47 AM
To: OfficeDev/office-js ***@***.***>
Cc: Yihua Xiong ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Word.Range.insertText now moves

[2021-04-20 14:11] pb-jeff-oneill commented on #1794
@yihuax, amazing, thank you for the fast turn around!

Any idea when the fix will be in production?  It would be helpful to let our users know.

[2021-04-20 15:05] OanaCorinaFilip commented on #422
Hello,

I've experienced the same issue. It only happens on offline Word (Office 365 works fine). The Auto-Open feature works on documents created by the user opening the document, however, if a different user opens the document, the Auto-Open feature doesn't work.

My suspicion is that it has to do with how this setting is saved in the OOXML of the desktop document (which is different from the OO

[2021-04-20 17:46] cody-lettau commented on #1797
@exextoc as we continue to try to figure out a solution for this, we are seeing the issue intermittently now. At times, it is opening in the dialog and at other times, opening in the default browser. There has been no change the URL we are attempting to open. The thing that may be changing is the set of cookies that the add-in has set.

[2021-04-20 18:00] ghost commented on #1765
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-20 18:16] jeremy-msft commented on #1809
Can you please try clearing out all add-in data from the file using Document Inspector (see [discussion](https://stackoverflow.com/questions/67155454/office-add-in-setappruntimestate-error-when-open-taskpane-within-shared-runtim) on Stack Overflow)?  It may still be referencing an older version of the add-in that isn't enabled for shared runtime.

[2021-04-20 20:04] jeremy-msft commented on #1778
Hi @kullachoke-bosuwan-rft, thanks for reporting this issue.  `OfficeWebAddinDeveloperExtras` is not supported for shared runtime  add-ins, and the property will be ignored when using shared runtime in a future update.

[2021-04-20 20:04] #1778 closed, assigned to jeremy-msft

[2021-04-20 21:01] yihuax-zz commented on #1794
I have applied the fix to a sub-branch of our codebase. Once the sub-branch is merged to the main branch (probably by this weekend?), I will let you know the version number with the fix. Our guess is you may get it in production in late May.

Thanks again!
Yihua

From: pb-jeff-oneill ***@***.***>
Sent: Tuesday, April 20, 2021 7:12 AM
To: OfficeDev/office-js ***@***.***>
Cc: Yihua Xiong ***@***.***

[2021-04-20 21:22] ElizabethSamuel-MSFT commented on #1811
@sandeep007bonds Thanks for raising this issue. I'll transfer to office-js so the product team can take a look.

Thanks.

[2021-04-21 04:49] gingerjia commented on #1803
@ASamSam, I'm working on the investigation and not sure if it's kind of by design.
Since I tried the same steps but co-authoring  between Excel online and Excel Win32, I found after running script to add table and row at Excel online, at Win32 it will show up a yellow bar to reminder you to apply a new change. If you click yes to accept the new change, then there will be a refresh and taskpane clo

[2021-04-21 05:49] jipinshi commented on #1804
Thanks reporting the issue. One way could do similar thing is to hook onDataChangeEvent and then in the callback to use regex to check the new value, if the value breaks the rule, then can use the oldValue to recover. @ASamSam

[2021-04-21 06:15] PlayPratz commented on #1796
@exextoc That's pretty unfortunate. Maybe you can take it up as a feature request?

[2021-04-21 07:09] ndeeH opened #1812 "Content Add In fails when Edge WebView2 Runtime is installed"
Hi there,
we have an Office AddIn (Content Add In for PowerPoint) in the store for a long time:
https://appsource.microsoft.com/de-de/product/office/WA104381814?src=office&tab=Overview

With this Office Version we get a "Too many redirects" error while the Add In is authenticating:
![image](https://user-images.githubusercontent.com/11518242/115510005-7ad11080-a27f-11eb-9691-2763ca214715.png)

The

[2021-04-21 07:11] ASamSam commented on #1803
thanks for the proposal, going to apply it.

I have a couple of cases when addin stops working in excel online, but can`t figure out how to prepare an example or get some logs:
1. i have opened excel document and activated addin. After some time of inactivity (half of an hour? hour?) addin remains shown, but when I do click on it - it instantly disappears.
2.  i have opened excel document and acti

[2021-04-21 08:36] somenathmaji commented on #1281
## Data on object store is not persisting on quitting Office application.

#### Issue description
We have an add-in(Outlook, Excel) and we use indexedDB to store data for offline access and caching. This issue is specific to only MacOS and works perfectly on Windows.

This behavior could be tried out from Script Lab as well, I have an Outlook gist - https://gist.github.com/somenathmaji/ce64908e360

[2021-04-21 08:41] sandeep007bonds commented on #1811
Thanks @ElizabethSamuel-MSFT waiting for the response from the office-js so the product team.

[2021-04-21 08:55] exextoc commented on #1785
Is this problem happening for any particular platform or is it across all platforms (Win32, Mac, Web)?

[2021-04-21 08:58] DmitryKostochko commented on #1785
All platforms are affected.

[2021-04-21 08:59] thanakrid-kunghair-rft commented on #1809
Thank you. I will try using Document Inspector first.

[2021-04-21 09:21] ASamSam opened #1813 "Excel addin, parallel sessions - "can't merge changes" message appears, changes lost in both sessions"
I have a document opened in two browser sessions (I think it even could be opened on two different PC).
addin is activated only in 1 session.
during addin javascript code execution several things appear:
1. the message "Can't merge changes ... reload"
2. click reload in the second session
3. the same message appears in the session with the addin activated
4. click reload - changes done by addin ar

[2021-04-21 09:25] ASamSam commented on #1803
@gingerjia , I did apply the proposed workaround and found another issue, even worse I would say: #1813

[2021-04-21 09:32] ASamSam commented on #1813
sorry if the script is not accurate, were trying to reproduce the issue fastly

[2021-04-21 09:40] gingerjia commented on #1813
@ASamSam , you are really a very good tester! :)
If you can share the WAC session Id to us also, that would be very helpful! Thanks!

[2021-04-21 09:48] exextoc commented on #1797
@cody-lettau Thanks for sharing Account details but we did not get a repro with the Test Account. Could you please clarify the following?

1. When Office.context.ui.displayDialogAsync opens browser instead of dialog, do you see any errors in the callback?
2. Is the URL being opened mentioned in the AppDomains element or under the resources/urls section of manifest?. If not, please add the URL doma

[2021-04-21 10:02] ASamSam commented on #1813
@gingerjia , thanks, I have some experience :)
can you tell me what is the WAC session id and how I can get it?

[2021-04-21 10:20] gingerjia commented on #1813
Steps:
1. Please click F12 to open the devTool for Chrome
2. Take actions on taskpane to repro the issue
3. You can see the requests at Network tab, then select one of the request to get the wac session Id.
Here is a gif for detail reference:
![howtogetsessionId](https://user-images.githubusercontent.com/62282034/115537921-ea6dec80-a2cd-11eb-86ac-0e8565e42f27.gif)

[2021-04-21 10:25] Zamolxe00 commented on #1787
@lindalu-MSFT I would rather not create a Microsoft account to do this. I was lead to believe that here is where features should be created.

[2021-04-21 10:38] Zamolxe00 commented on #1787
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/office-item-interface-extraction-of-replyto-list-from-email/idi-p/2279902#M17

[2021-04-21 10:42] ASamSam commented on #1813
@gingerjia , ok, here is it:
b39f5d61-aa0b-4fb2-a3b2-4241a6c23136
what is the lifecycle of this id? is it stable or regenerated often?

[2021-04-21 10:52] thanakrid-kunghair-rft commented on #1809
Using Document Inspector can fix this issue. I will close it now.

Thanks again for the help!

[2021-04-21 10:52] #1809 closed, assigned to lliu113, jeremy-msft

[2021-04-21 11:58] KrisSodroski opened #1814 "Excel Js Events onDeleted and onActivated cannot be added at the same time"
When adding onDeleted and onActivated events to the context.workbook.worksheets property, OnDelete is never hit.  Instead, onActived is called when a sheet is deleted, and the event "type" is set to "WorksheetActivated."  Removing the onActivated event causes onDeleted to be hit correctly.

## Expected Behavior
onDeleted and onActived should be able to live in harmony.

## Current Behavior
onDelet

[2021-04-21 12:49] cody-lettau commented on #1797
@exextoc thanks for taking a look. In our testing yesterday, we actually couldn't reproduce the issue either. Yet, nothing in terms of how we are calling ```Office.context.ui.displayDialogAsync``` has changed and the URL has not changed.

That said, I did not check the callback for errors while we were seeing it. I will continue to keep an eye out for this issue and will take note of any errors wh

[2021-04-21 13:00] tsardy opened #1815 "WebView(Edge) control breaks the interactive functionality of all content in PPT presentation mode"
In PPT presentation mode all WebView Controls(edge) stop responding to user actions once the user passes the slide. Meaning navigating back to already passed slides and interacting with controls on them is not possible.

## Expected Behavior
Controls remain responsive to user actions

## Current Behavior

The recent versions of the WebView(Edge) control break the interactive functionality of all c

[2021-04-21 14:10] gingerjia commented on #1803
"  i have opened excel document and activated addin. After some time of inactivity (half of an hour? hour?) addin remains shown, but when I do click on it - it instantly disappears.
    i have opened excel document and activated addin - put PC to sleep mode (for a night). after activating and enabling the browser page - addin disappears in a second without any actions from me. "

@ASamSam, for you

[2021-04-21 14:23] ASamSam commented on #1803
@gingerjia , thanks a lot for the description. I have a feeling that I didn't see it in the specification. Ok, so it is not a result of a crash.
we are trying to use Excel as an interface allowing several users to change some data altogether.
data is loaded from our database through addin and stored back at some moment.
so, the 'loading' moment when the document is totally recreated (pages are rem

[2021-04-21 14:29] gingerjia commented on #1813
Thanks @ASamSam! I have created a bug 5050411 to track and will back to you when have progress!

[2021-04-21 14:37] ASamSam commented on #1813
Thank you,
did small experiment - seems issue does not appear when there are no 'add page' and 'add table' - then a huge amount of lines could be stored

[2021-04-21 16:00] amegan commented on #1800
@exextoc I see the issue in Classic Mac Outlook.

I tried to run the same code in New Mac Outlook and seems even worse.  With or without pinned side panel setting, It always returns "Permission Denied" error.

![image](https://user-images.githubusercontent.com/90184/115584730-dd2a1100-a27f-11eb-85ff-af9e91b4f08e.png)

[2021-04-21 17:52] exextoc commented on #1785
Could you help with a few confirmation / questions to help us connect to the correct team:
1. is the expected version of the addin 1.6.202.0?
2. Is the issue only happening for updates?  That is - if a user does a new installation of the addin, do they get the updated version?
3. Were there permissions changes in the addin, was it also ReadWriteMailbox before the update?
4. For the users who did n

[2021-04-21 19:08] mattgeim commented on #1727
@vivekchauhan the SSO API requires ReadDocument permission to work - the Word/Excel/PowerPoint related permissions documentation can be found [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/requesting-permissions-for-api-use-in-content-and-task-pane-add-ins).  In Outlook(the permissions documentation you linked to) the SSO API also does not work under Restricted as it contains u

[2021-04-21 19:08] #1727 closed, assigned to mattgeim, JuaneloJuanelo

[2021-04-21 21:19] KeithBook opened #1816 "Office.com not showing purchased add-ins in Home ribbon"
## Expected Behavior
<I expect to see purchased add-ins in the Home ribbon when I access Word via office.com.>
I expect to see purchased add-ins in the Home ribbon when I access Word, PowerPoint, and Excel via office.com.
## Current Behavior
<Purchased add-ins do not appear when I log into Word via office.com.->

Purchased add-ins do not appear when I log into Word, PowerPoint, and Excel via offic

[2021-04-21 22:36] jargil commented on #1281
I cannot repro on macOS Big Sur, unfortunately I don't have access to a machine with Catalina to confirm this behavior with IndexedDB. There's nothing special that Office does in terms of clearing/not-clearing IndexedDB. It's possible that there was a change in WebKit between what you have in Catalina and what is in Big Sur. At this point my only recommendation is that if you need to work with Ind

[2021-04-21 22:36] #1281 closed, assigned to jargil

[2021-04-22 00:39] jipinshi commented on #1814
Just tried locally cannot repro, it works good.

name: Blank snippet (2)
description: Create a new snippet from a blank template.
host: EXCEL
api_set: {}
script:
  content: |
    $("#run").click(() => tryCatch(run));

    async function run() {
      await Excel.run(async (context) => {
        context.runtime.load('enableEvents');
        context.workbook.worksheets.onDeleted.add(this.Delete);

[2021-04-22 00:54] jipinshi commented on #1814
@KrisSodroski , I tried with chrome and edge both cannot repro. Can you confirm?

[2021-04-22 03:34] exextoc commented on #1807
I can reproduce this issue and investigating.

[2021-04-22 04:32] JulesRM commented on #1585
Hi all!! @jargil, I am still having issues, even with the Beta channel (checked and Current Channel Preview did not have any updates) on Mac. I am using a property called <we:property name="documentId".
Your help will be much appreciated, since we are facing various complaints since the past 5 -6 weeks. It is causing all kinds of havoc, because we cant get information correctly since the documentI

[2021-04-22 04:59] exextoc commented on #1796
We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered when we go through our planning process.

[2021-04-22 05:46] exextoc commented on #1810
Thanks for reporting this issue regarding mailbox.getCallbackTokenAsync API. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2079353

[2021-04-22 05:55] exextoc commented on #1800
We are able to repro this issue in Classic Mac Outlook.  In new Mac Outlook, this error is shown because 1.8 APIs are not available in Production yet and will be made available in May.
Currently, 1.8 API set is available in Insiders Fast build. We recommend that you test the API in the latest [Insiders](https://insider.office.com/en-us/join/mac) version and let us know if the issue gets resolved.

[2021-04-22 09:01] exextoc commented on #1737
@agelenava This appears to be a bug in Android. Thanks for reporting this issue regarding getCallbackTokenAsync. It has been put on our backlog. We, unfortunately, have no timelines to share at this point. We will update this thread once the fix is available.
Regarding REST API, the target deprecation is Nov 2022. Timelines and further details are available [here](https://techcommunity.microsoft.c

[2021-04-22 09:09] Storygu opened #1817 "Enable/Disable is not working as expected."
I use Office from this URL "https://appsforoffice.microsoft.com/lib/1/hosted/office.js"
and I have created manifest with this structure
`<Group id="id.Group">
    <Control xsi:type="Button" id="SignIn.Button">
       <Enabled>true</Enabled>
    </Control>
    <Control xsi:type="Button" id="SignOut.Button">
       <Enabled>false</Enabled>
    </Control>
</Group>`
As you see I have Control with diff

[2021-04-22 09:57] ndeeH commented on #1724
Hi there,
at last we had exact the same version numbers of office and one installation worked - the other did not insert the local formatted numbers correct.
**Finally the customer uninstalled office and re-installed the latest 64bit version of office.
Now inserting local formatted values by the add in works like expected.**
Thank you, Andi

[2021-04-22 09:57] #1724 closed, assigned to lumine2008

[2021-04-22 10:08] DmitryKostochko commented on #1785
Yes, exactly.

Yes, the issue affects updates only. In new installations, we see the latest version of the manifest.

Permissions were not changed. We added a SSO section, probably this causes the issue?

On all our test machines, there are user installations.

[2021-04-22 11:00] ghost commented on #1786
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-22 11:00] #1786 closed, assigned to jipinshi

[2021-04-22 11:17] richie5um commented on #1784
I think I'm experiencing the same 'tracking prevention blocked access to storage for https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js' error too - only happens on a few machines, not all. I've checked those machines all are up-to-date with Edge.

Any updates from MS? My customers are getting a bit unhappy.

[2021-04-22 12:57] #1752 closed, assigned to exextoc

[2021-04-22 13:17] DmitryKostochko opened #1818 "Outlook Desktop, setSelectedDataAsync sets incorrect color for cell borders in a table"
In an Outlook add-in for compose mode, we use the setSelectedDataAsync method that inserts HTML with incorrect result, the color is not applied to all borders of a cell.

## Expected Behavior
All borders of a cell shall have the specified color.

## Current Behavior
Please see the screenshot below.

## Steps to Reproduce, or Live Example
Create a new email in Outlook Desktop and execute the follow

[2021-04-22 14:02] exextoc commented on #1779
One possible workaround is to get the body using [makeEwsRequestAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-1.5&preserve-view=true#makeEwsRequestAsync_data__callback__userContext_) API.  You can also use Graph APIs to get Message Body using itemId.[Documentation on Graph API ](https://docs.microsoft.com/en-us/graph/api/message-get?view=graph-rest-1

[2021-04-22 14:21] cody-lettau commented on #1779
@exextoc I'll give that a try! Thank you for the recommendation -- much appreciated!

[2021-04-22 14:41] els-ts commented on #1521
I suppose, that this issue have been fixed 🎉   I can confirm that since the 1st of April we have no error reports regarding this message.

Thank you all for taking care of it 🏆

[2021-04-22 14:41] #1521 closed, assigned to JiayuanL, AbidRahman-MSFT

[2021-04-22 14:52] KrisSodroski commented on #1814
@jipinshi , thanks for taking a look.

Here is a project that demonstrates the issue:

https://github.com/KrisSodroski/ExcelJsEventExample

On another note, without this [timeout](https://github.com/KrisSodroski/ExcelJsEventExample/blob/78823144c654408829d8ed6ad535c50eaadd2cd0/src/app/Pages/Addin/Addin.ts#L8), no events are added at all it seems, despite office being loaded.

[2021-04-22 15:10] amegan commented on #1800
@exextoc ah, ok. I see `Office.context.requirements.isSetSupported('Mailbox', '1.8')` returns false in Outlook new UI. We can gracefully fallback with that response.

We are dealing with the behavior in the classic mac outlook.  It returns `Office.context.requirements.isSetSupported('Mailbox', '1.8')` true but `masterCategories.getAsync()` API fails only if the side panel is pinned. Is there anyth

[2021-04-22 17:17] jargil commented on #1585
@JulesRM - I'll try to answer, let me know if this is not what you were asking, in which case please clarify by adding repro steps or explaining a bit more about your scenario.
Just looking at the two XMLs you shared, those are effectively coming from two different places, the first one (storeType=EXCatalog) is coming from a Centrally Deployed origin, while the second one is coming directly from t

[2021-04-22 17:33] Geraint87 commented on #1756
Any news please @mattgeim ?

[2021-04-22 18:47] pbl2108 commented on #1764
Hi @Rick-Kirkham and @croicu,

We are experiencing the same problem in Excel. Can you please provide an update of when do you expect to fix this? We have real clients having issues with this.

It is a frustrating issue.

Best,
Petre

[2021-04-22 20:47] cidev5 commented on #1764
I understand this is resolved in the beta channel. Is that the case? When can we expect this fix to be released more broadly?

We are currently instructing users to uninstall the WebView2 runtime.

Not ideal to say the least.

[2021-04-22 21:07] jeremy-msft commented on #1816
Please ensure the add-in has loaded successfully via **Insert > My Add-ins**.  Further details can be found in the help article [here](https://support.microsoft.com/en-us/topic/get-an-office-add-in-for-excel-d3df5854-0a4e-4169-9cc3-25177a288d3d).

[2021-04-22 21:07] #1816 closed, assigned to nobody

[2021-04-22 21:41] alison-mk commented on #1317
Thanks for contributing, @ic3guy.

@lumine2008 Can you take a look at the most recent comment on this issue, and provide information about the max bundle size?

[2021-04-22 22:22] naemcivic opened #1819 "Fail to obtain draft on Outlook365 groups delegated email"
When sending on behalf of a Outlook365 group's delegated email, the draft id from Office-js can not be used to lookup for the draft with the signed in user's on graph api.

## Expected Behavior
Draft should be placed in the user's folder which could be found when using graph api with the signed in user.

## Current Behavior
It gets placed in the group's draft folder, which is not accessible by the

[2021-04-22 23:22] yihuax-zz commented on #1794
The fix will be in build version 16.0.14022.10000.

Thanks!
Yihua

From: Yihua Xiong
Sent: Tuesday, April 20, 2021 2:02 PM
To: 'OfficeDev/office-js' ***@***.***>; OfficeDev/office-js ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [OfficeDev/office-js] Word.Range.insertText now moves the cursor (#1794)

I have applied the fix to a sub-branch of our codebase. Once the sub-branch is merged to the

[2021-04-23 01:27] Dengshan2018 commented on #1764
The fix will be in monthly channel very soon.

[2021-04-23 01:27] #1764 closed, assigned to croicu, Dengshan2018

[2021-04-23 02:27] jipinshi commented on #1814
@KrisSodroski, is it possible to repro the issue in ScriptLab? it will be more easier to debug. And for Office.onReady() will ensure the js is ready, you can refer  [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in).

[2021-04-23 02:29] jipinshi commented on #1814
And one difference from my sample code with yours is that I add two different callbacks for OnDeleted and onActivated. Not sure whether it has impact. Better to have scriptlab to repro.

[2021-04-23 05:42] christian-sap commented on #1690
Hi @jargil , I'm still waiting for our customers to provide the exported keys. Kind regards, Christian

[2021-04-23 09:38] agelenava commented on #1737
Thank you! We'll wait for an update :-)
And we're doing our migration to the Graph in the background.

[2021-04-23 12:33] KrisSodroski commented on #1814
@jipinshi  thanks for taking a look.

Hate to ask, but can you verify on your end using the above repo.  It would take me a week or so to get this in Scriptlab for you.

In the project, onActivated, and onAdded are hit, but not onDeleted.  Commenting out onActivated, then rerunning the test case, onDeleted is then hit.  Debug statements are placed already to clearly demonstrate the issue.

Since o

[2021-04-23 14:38] exextoc commented on #1819
@naemcivic

1. Are you facing this issue in New Mac Outlook or Class Mac Outlook UI?
2. Is the Add-in trying to access the drafts item from user's Account?
3. Could you please elaborate on the Add-in scenario that you are trying to achieve?

[2021-04-23 16:35] naemcivic commented on #1819
@exextoc

I am currently experiencing this on the Classic UI

getting the draft ID from `Office.context.mailbox.item.saveAsync()`

using the draft_id from step two to call graph v1 api with the signed in user and trying to retrieve the draft from the user's draft folder fails.

[2021-04-23 17:51] cody-lettau commented on #1779
@exextoc this works to retrieve the entire body of the message, which is a necessary part of our solution.

That said, we still have an issue where the original message is always appended to the message after the processing of our "onSend" function. I have not found a way to stop OWA from appending the original message unless the "..." button at the bottom of the compose is clicked.

Is there anyw

[2021-04-23 19:03] james-huang opened #1820 "MessageComposeCommandSurface spec does not put button on ribbon for pop-up mail composer in "New Outlook" mode."
MessageComposeCommandSurface spec does not put button on ribbon for pop-up mail composer in "New Outlook" mode. Outlook 365, MacOS.

## Expected Behavior
Ribbon button to launch popup should show while composing messages.

## Current Behavior
Ribbon button to launch popup is missing in "New Outlook" mode.

## Steps to Reproduce, or Live Example
- Launch MacOS Outlook 365
- Toggle to "New Outlook"

[2021-04-23 20:00] ghost commented on #1765
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-04-23 20:00] #1765 closed, assigned to exextoc

[2021-04-23 20:16] bconners1005 commented on #1725
This issue is still occuring for me.

I am trying to make a system to get information related to a Cloud uploaded attachment is when it seems to happen.

Is there a different method if I have the cloud link I should be processing to get the cloud attachment?

[code]

[2021-04-23 23:35] JackyChen200304 commented on #1792
@Alex0cean , thanks for your feedback, it is valuable to us. Seems you are still using the old beta version namespace for Ribbon JS API. After Ribbon API released out, it has been changed according to the feedbacks. Please use Office.ribbon.requestUpdate() to update the ribbon control status.
You may checkout the sample from https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in

[2021-04-23 23:40] JackyChen200304 commented on #1817
@Storygu, thanks for your feedback, it is valuable to us. Without your JS script, it's hard for us to repro and identify the issue. I suspect you are using the beta version Ribbon JS API namespace, after Ribbon API released out, it has been changed according to feedbacks. Please use Office.ribbon.requestUpdate() to update the ribbon control status.
You may checkout the sample from https://docs.mic

[2021-04-23 23:40] #1817 closed, assigned to lliu113

[2021-04-24 23:55] trigurl commented on #1795
I might have a way to make it a bit easier for you to switch between versions while developing.  I'm trying to get some feedback from my peers first to get their thoughts.

[2021-04-25 03:28] jipinshi commented on #1814
@KrisSodroski , I tried and found that these events can works good after disable all debugger. Here is screenshot:
![image](https://user-images.githubusercontent.com/44011941/115979599-69f30880-a5b9-11eb-9124-41bcdafc4142.png)

[2021-04-25 05:34] jipinshi commented on #1579
@smaremanda, can you help take a look at this issue?

[2021-04-25 07:54] jipinshi commented on #1805
@jeremy-msft , can you help take a look?

[2021-04-26 05:50] clavx commented on #1739
@zorauf  I captured a fiddler trace.
I disallowed the sign-in of the user who got the trace, so I think it is safe even if the cookie is raw data.

https://cube5w-my.sharepoint.com/:f:/g/personal/test_cube5w_onmicrosoft_com/ErO2rE9sqhpDnJuNCm5tlWABujvotsh5JPV_wOgsNPJfow?e=KKOjlQ

This is an update to the reproduction procedure.
It was not necessary to delete the two files.
It can be reproduced by

[2021-04-26 06:49] Coianiz opened #1821 "getSharedPropertiesAsync is undefined in shared/delegate mailbox in Outlook Mac 16.49"
I've noticed recently that the call to mailbox.item.getSharedPropertiesAsync() is undefined when in Outlook for Mac 16.48 and 16.49. The isApiSetSupported('Mailbox', '1.8') is returning true, the selected mailbox item is in a shared mailbox, but in my add-in and in the console only see the following:

![image](https://user-images.githubusercontent.com/60905116/116155716-d262f680-a72d-11eb-9902-18a

[2021-04-26 07:55] siseli opened #1822 "Add-in iframe does not allow storage access API activation"
Our office addin (Outlook) uses cookies for autentication.
Certain browsers (Safari always, Firefox optionally) block third party cookies.
Thesee browsers feature the Storage Access API (https://developer.mozilla.org/en-US/docs/Web/API/Storage_Access_API) which contains the `requestStorageAccess()` function to allow third party cookies.

Unfortunately the storage access API only works if the add-i

[2021-04-26 08:00] PlayPratz commented on #1796
Alright, will do.

[2021-04-26 08:00] #1796 closed, assigned to macOutlookExtensibility

[2021-04-26 08:09] 4tti commented on #1795
Thank you @trigurl!

[2021-04-26 08:59] clavx commented on #1545
I checked the current status because the WebView2 was automatically deployed.

It no longer occurs in the Monthly Enterprise Channel.
It is still occurring in the Semi-Annual Enterprise Channel.

OK: Version 2102 (Build 13801.20506) with WebView (EdgeHTML) or WebView2 (Chromium)
NG: Version 2008 (Build 13127.21506)

[2021-04-26 09:24] jwissocq commented on #1802
Thanks @exextoc so I posted https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/port-office-addin-api-functions-to-outlook-js-addin/idi-p/2277783#M13

[2021-04-26 10:21] nc-ewe opened #1823 "How to get CID of inline attachment"
Hi,
We're developing Outlook add-in for archiving emails and we're facing problems with inline attachments as we don't have a way to match attachment file with it's place in email html body. We need CID for this. Is there any way to obtain that property? We're using Office.context.mailbox.item.attachments and getAttachmentContentAsync to get information about attachments but there is nothing about

[2021-04-26 10:41] richie5um opened #1824 "Word Addin fails to load correctly (the Office.onReady isn't called) for some users, only started happening in last few weeks"
## Expected Behavior
Addin loads successfully - the onReady is called into our webapp.

## Current Behavior
Addin fails to fully load - seems as though the onReady isn't being called - although we've been unable to diagnose fully as we can't see the console on some installs of Word (right-click in sidebar, then 'inspect').

This issue seems to have started in the last few weeks. We had no problems

[2021-04-26 11:30] #1814 closed, assigned to lumine2008

[2021-04-26 14:12] VSlobolinskyi opened #1825 "OfficeGropus and OfficeControls"
Could you please add support in manifest.xml for OfficeGroups and OfficeControls for PowerPoint on Windows? Currently those are only supported for PowerPoint on the Web.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540ad65e-a396-ce57-34fa-00e490028f0d
* Version Independent ID: d7807a56-e4d6-aa64-0dd8-3af677b9849d
* C

[2021-04-26 15:50] tsardy commented on #1815
Hi @jeremy-msft,

do you have any updates on the above issue? it is very important for us. thank you!

[2021-04-26 16:24] Rick-Kirkham commented on #1825
I will investigate.

[2021-04-26 16:38] jeremy-msft commented on #1815
Hi @tsardy, tagging @smaremanda to help.  Thanks!

[2021-04-26 18:47] bconners1005 commented on #1801
I'm also receiving this error and have tried a bunch of different ways to capture it so that the system will continue to function to no avail yet as the Promise structure breaks the chain of events.

My use case is less the above issue and more that if I try to continually go out and in to the plug-in, but never refreshing the actual email on OWA.

So, my use case is someone opens and closes the p

[2021-04-26 19:09] AlexJerabek commented on #1391
@AbidRahman-MSFT, Thanks for

[2021-04-26 19:12] AlexJerabek commented on #1391
(Sorry for the accidental close. Blame the cat on my keyboard.)

According to the [requirement set source of truth](https://github.com/OfficeDev/Office-Js-Requirement-Sets/blob/master/mapping/requirements_officejs.json), the `PdfFile` requirement set is supported by Word on iPad. However, @cattermo, you're seeing errors when trying to actually use `getFileAsync`, correct?

[2021-04-26 19:41] lliu113 commented on #1805
@seenark sorry you're hit this! This is by design, the "Reload" command on the personality menu reloads the add-in to the base URL specified in the manifest. Sorry for the confusion this may have caused.

I'm going to go ahead and close this issue, please reactivate if you have any further questions. Thanks!

[2021-04-26 19:41] #1805 closed, assigned to lliu113, jipinshi

[2021-04-26 20:00] lliu113 commented on #1784
@frankaddelia - thank you for reporting this and sorry for the delay! Was your add-in dialog working at some point, but is no longer after an update? Or was it never able to access session storage?

[2021-04-26 20:31] frankaddelia commented on #1784
@lliu113 no worries! The add-in was able to access session storage and working properly until recently. I tried changing to local storage to see if it made a difference, but unfortunately it did not seem to.

[2021-04-26 21:05] trigurl commented on #1795
@4tti OK so I have a work around for you which you can use to "toggle" in between shared folders (aka fileshare).

Steps:  Here's an example of how to set it up, in my example I have 2 manifest versions that I wish to switch back and forth.
1) Create 2 shared folders, call it Version1 and Version2.  I have one manifest in folder Version1 and another in Version2.
2) Boot Excel, go to File | Options

[2021-04-26 21:11] Rick-Kirkham commented on #1825
The program manager confirms that these are only supported on PowerPoint for the web right now, but we are working on supporting them for Windows desktop and Mac desktop. We hope to achieve this in the next few months. Thanks for your interest. If you don't see the support by October, please add a comment to this issue and I'll get an update.

[2021-04-26 21:14] #1825 closed, assigned to Rick-Kirkham

[2021-04-26 23:17] mattgeim commented on #1756
@millerds can you help look in to this?

[2021-04-27 00:59] exextoc commented on #1239
The issue is fixed in all windows builds 21340 and later. Status on backports to older versions of Windows is still being decided.

[2021-04-27 01:00] exextoc commented on #1626
The issue is fixed in all windows builds 21340 and later. Status on backports to older versions of Windows is still being decided.

[2021-04-27 01:01] exextoc commented on #1713
The issue is fixed in all windows builds 21340 and later. Status on backports to older versions of Windows is still being decided.

[2021-04-27 01:10] jipinshi commented on #1824
@yihuax, can you take a look?

[2021-04-27 01:17] exextoc commented on #1807
Initial investigations seems to reveal that this value was changed to installed language of **Office** that the user has. In order to help the owning team understand the consequences of this decision (and possible solutions), how does this affect your add-in?

[2021-04-27 03:16] yihuax-zz commented on #1824
Sure.

From: jipinshi ***@***.***>
Sent: Monday, April 26, 2021 6:11 PM
To: OfficeDev/office-js ***@***.***>
Cc: Yihua Xiong ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Word Addin fails to load correctly (the Office.onReady isn't called) for some users, only started happening in last few weeks (#1824)

@yihuax<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2

[2021-04-27 05:39] yihuax-zz commented on #1824
@Jiping ***@***.***>, I used both a legacy taskpane add-in and a shared runtime add-in in Word win32, and both called onReady correctly.

Could be something wrong with the customer's javascript code, which looks quite complex?

Thanks!
Yihua

[2021-04-27 05:50] cattermo commented on #1391
Correct. I got an error without any detailed message so I gave up after that. This was in September last year and I haven't tried it since.

[2021-04-27 06:00] ghost commented on #1746
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-27 06:00] ghost commented on #1666
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-04-27 06:06] ngelsi commented on #1666
For now, we have opted to mark the version of the add-in which uses the on-send feature as alpha, and we will create an add-in which will manually process the e-mail using a button click. When we will have more information or steps to reproduce the internal errors, we will open another issue here. Nonetheless we would like to use the on-send feature version as the definitive one in the near future

[2021-04-27 07:36] richie5um commented on #1824
Hi @yihuax , our addin has been working correctly for many months. It only started to have this problem in the last few weeks - and we've not made any changes.

Do you know why sometimes the add-in opens with a URL like https://office.myaddin.com/?et=XXX&_host_info=XXX (replace 'XXX' with actual values), and sometimes it is just https://office.myaddin.com?

Have you seen the 'tracking prevention b

[2021-04-27 07:42] exextoc commented on #1796
Thank you!

[2021-04-27 08:08] pkpatels opened #1826 "Better way to get calculated values without updating UI."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have around 10,000 cells, scattered across ranges and worksheets (not adjacent).

Looping through each of them, one by one, we have to change the value of a cell, recalculate an ou

[2021-04-27 08:12] tsardy commented on #1815
@smaremanda could you pls drop an update. thank you!

[2021-04-27 08:15] DmitryKostochko commented on #1807
Thank you for the investigation.

All our controls with date and time values show data in a wrong format. It looks very strange to users - in the inbox, you see the correct / familiar date-time value in emails, but in the add-in's pane all data is in EN-US.

And from a developer's viewpoint, it looks like breaking changes.

[2021-04-27 08:39] lizhecome commented on #408
1 year later - is there any update here?

[2021-04-27 09:51] RuoyingLiang commented on #408
@lizhecome Thanks for the patient. We are working on the solution. Will update this thread once it's published.

[2021-04-27 12:44] cody-lettau commented on #1746
We can go ahead and close this as I won't have time to create an example for some time. Thanks for taking a look into it and I apologize that I haven't had time to provide a better example.

[2021-04-27 12:44] #1746 closed, assigned to exextoc

[2021-04-27 14:50] gkarmelich commented on #1585
Hi @jargil, thanks for replying to @JulesRM. I have a related question in regards to your explanation. We have many of our customers who need to sideload the manifest file to run our production application because they do not have access to the Microsoft store due to internal IT regulations.

My understanding is that sideloading the manifest file gives a storeType of `EXCatalog`, correct? If so th

[2021-04-27 15:38] AlexanderSokolov1 opened #1827 "How can I wrap several operation into single UndoRecord?"
Hi team,

I have a Word add-in that needs to do some manipulation on the document and be able to undo them with one click on the undo button. In the VSTO add-in version, I am using the [UndoRecord](https://docs.microsoft.com/en-us/office/vba/word/concepts/working-with-word/working-with-the-undorecord-object) class, but it looks like there are no analogues in office-js.

Is there any plans to imple

[2021-04-27 16:18] AlexJerabek commented on #1391
Thank you @cattermo. @AbidRahman-MSFT, are you able to repro the behavior of `getFileAsync` on iPad?

[2021-04-27 16:40] jargil commented on #1585
@gkarmelich - EXCatalog refers to what we call Centralized Deployment (https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment). Admins can deploy add-ins to their tenants either by directly side-loading a manifest, or by deploying from the Store to their tenant. You are correct that add-ins deployed directly from the Store and those deployed by the admins do not share s

[2021-04-27 17:31] zunquan commented on #1268
@cbishop-fv, can we get your addin to reproduce your issue?

[2021-04-27 18:03] cbishop-fv commented on #1268
We are using a custom auth flow for this now to avoid this error. We would be unable to reproduce this in our app at this time.

We were using the add in documented flow of using the dialog to open a window and the basic aws hosted Cognito.

[2021-04-27 19:00] jasonclg opened #1828 "CustomFunctions.StreamingInvocation setResult() performance issue"
## Expected Behavior
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs#make-a-streaming-function
I was testing streaming function ```increment``` with the tutorial above.
The interval is set at 1000ms in the example code. In my test, it's set at 1ms with incrementBy 1.
I expected the streaming function would update the result in the workbook at the interval close

[2021-04-27 21:29] yihuax-zz commented on #1824
Thank you Rich. Could you see whether you can narrow down the issue and then use Script Lab to repro it?

Thanks!
Yihua

[2021-04-27 21:43] richie5um commented on #1824
Thanks. I’ll try to repro - and with script lab too.

Do you know the answers to the other questions in my previous comment? Thanks.

[2021-04-27 21:59] yihuax-zz commented on #1824
That is something I don't know. Sorry. Maybe you can start a new topic in github?

Thanks!
Yihua

From: Rich Somerfield ***@***.***>
Sent: Tuesday, April 27, 2021 2:44 PM
To: OfficeDev/office-js ***@***.***>
Cc: Yihua Xiong ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Word Addin fails to load correctly (the Office.onReady isn't called) for some users, only started happenin

[2021-04-27 22:03] cody-lettau commented on #474
+1 to fix this issue - this is a pretty big issue when attempting to control the content of the email being sent. Lists are commonly used in emails and this results in the loss of those lists if we use the value from ```Office.context.mailbox.item.body.getAsync``` to set the email body with some modifications.

[2021-04-27 22:47] jambrogne commented on #1750
@ElizabethSamuel-MSFT Hi again - I hope you're all safe and healthy. Any ETA on this?

[2021-04-28 00:37] jipinshi commented on #1826
@pkpatels, thanks let us know it.  It seems there are a lot of API calls in the two for loop which caused the bad perf. Suggest to put data in a 2 dimension array values, then with range.values = values  to do similar thing, which makes it faster.

[2021-04-28 04:47] grangeryy commented on #1828
Hey @jasonclg could you share with us what scenarios users want to update streaming functions every 1ms?

[2021-04-28 05:34] pkpatels commented on #1826
@jipinshi Thanks for the response.

Actually we need to get calculated value of a cell while changing cells one by one.

e.g.
formula of **A1** is **=B1+C2+D3**

Now I want to get calculated value of A1
1 - by changing only value of B1
2 - by changing only value of C2
3 - by changing only value of D3

So in our situation I can't change values of B1, C2 and D3 in a single range as you suggest using

[2021-04-28 05:56] jordandev commented on #1828
I agree here. Real time streaming market data quotes for me would be nice to have faster than 500ms (1 ms may be pushing it 😬)

For example, RTD functions show much faster refresh speeds with recent 365 improvements (I realize these are completely different technology). Just from the examples at https://techcommunity.microsoft.com/t5/excel-blog/excel-performance-improvements-now-take-seconds-runni

[2021-04-28 06:20] grangeryy commented on #1828
Thx for the details! I think the ideal here is to make streaming Custom Functions refresh more frequently with faster calculation. Currently based on existing usage pattern, for most cases, 500ms can fulfil most of the scenarios. I've create a backlog for the new ask based on the information above: FEATURE 5067197

[2021-04-28 07:03] jasonclg commented on #1828
Hi @grangeryy
I echo with the points shared by @jordandev; especially the example of the performace boost from RTD.
Please keep us posted on the progress of bringing the refresh improvement to custom function.

Thanks!

[2021-04-28 07:31] nnyegaard opened #1829 "Office.context.document.getTaskFieldAsync returns wrong result for MileStone in Project"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The data I get back on a task when using add-ins don't match the data in project (Or VSTO)

## Expected Behavior

`Office.context.document.getTaskFieldAsync()` should return true, whe

[2021-04-28 08:04] swapnilwk commented on #704
In Microsoft Edge Devtools Preview,
Go to Network Tab then click on "Always refresh from server" and then press Ctrl + R or F5 to reload. This should reflect code changes in Debugger tab.

[2021-04-28 08:37] kotanda opened #1830 "js excel addin charts.add method issue in Web Office (365)"
!
## Expected Behavior
charts based on a two-column range and created from excel UI  and by js API should be the same

## Current Behavior
charts based on a two-column range and created from excel UI and by js API have a different view - chart created by js API interprets source range in a wrong way - it uses it in kind an opposite way and swap column and row data

## Steps to Reproduce, or Live E

[2021-04-28 08:59] jipinshi commented on #1826
@pkpatels, hope range.formulas and ctx.workbook.application.suspendApiCalculationUntilNextSync() can help here.

check [here]( https://docs.microsoft.com/en-us/office/dev/add-ins/excel/performance )

[2021-04-28 11:37] Alex0cean commented on #1792
Hi Jacky,

we already use Office.ribbon.requestUpdate() in our current add-in code. Sorry, the example that we used to document was slightly older. But even if you replace it with the new call, the error stays the same. Please re-check it.

Best,
Alex

[2021-04-28 11:48] exextoc commented on #1823
@nc-ewe
Can you try the `Office.context.mailbox.item.body.getAsync` API
Example below.

`/* ReadItem or ReadWriteItem or ReadWriteMailbox */
/* Get body content */
Office.context.mailbox.item.body.getAsync("html",
 function (asyncResult) {
  if (asyncResult.status == "failed") {
   console.log("Action failed with error: " + asyncResult.error.message);
  } else {
   console.log(asyncResult.value);

[2021-04-28 16:25] jordandev commented on #706
Great really need this

[2021-04-28 16:27] jordandev commented on #1068
is this still coming

[2021-04-28 18:57] exextoc commented on #1785
Yes SSO section could be the potential issue. Can you confirm how these addins are deployed for the affected users ? Is it admin deployed or user deployed?

[2021-04-28 22:23] lliu113 commented on #1697
@taylorjtatro - I'm going to go ahead and close this. Feel free to reactivate if you have any additional questions, thanks!

[2021-04-28 22:23] #1697 closed, assigned to lliu113

[2021-04-28 22:23] AbidRahman-MSFT commented on #1742
Thanks for reporting the issue, @ssoni2074. I can replicate the issue myself. @yihuax can you help investigate? If I'm setting it on Web, I can fetch it from Web but when I download to Windows, I can't fetch it anymore.

Repro steps:
1. Open new file on Word Web
2. Use code below to set customxml
3. Download file to desktop
4. Use second code below to fetch customxml

Code used on Word Web to set

[2021-04-29 01:16] jipinshi commented on #1830
My edge and chrome(Version 90.0.4430.93 (Official Build) (32-bit)) are latest version, they both cannot repro. So may I know the version of your repro browser for chrome @kotanda

[2021-04-29 02:27] exextoc commented on #1818
HTML in Outlook is rendered via Word, which doesn’t always behave the same as Web based HTML renders. We have made the owning team aware of this report, but it is unknown if this will be addressed.

In the meantime, it is likely you should rework the HTML to workaround this issue. Which will also have the benefit of working with older versions of Outlook/Word even if the issue is addressed.

[2021-04-29 06:14] yihuax-zz commented on #1742
Yes, I can repro it too.  Our custom XML setting and reading APIs are both working correctly. The custom XML ID is saved to file correctly too.  But when it is opened in Word win32, the custom XML part is not deleted, but its ID gets changed. I can verify it with VBA.  Looks this is a Word native behavior to change the custom XML ID when a document from internet is opened.  I am not sure whether i

[2021-04-29 07:23] kotanda commented on #1830
hi, of course, here is mine ---
Win OS --
chrome -- Version 90.0.4430.93 (Official Build) (64-bit) //
edge - Version 90.0.818.49 (Official build) (64-bit) //
opera - 76.0.4017.94 (Win 10 64-bit) // firefox - 88.0 (64-bit) //
Mac OS --
safari - Version 14.0.3 (15610.4.3.1.7, 15610) //
chrome - Version 90.0.4430.93 (Official Build) (x86_64) //

---
p.s. I checked all cases these cases before sending

[2021-04-29 07:24] kotanda commented on #1830
hi @jipinshi  , of course, here is mine ---
Win OS --
chrome -- Version 90.0.4430.93 (Official Build) (64-bit) //
edge - Version 90.0.818.49 (Official build) (64-bit) //
opera - 76.0.4017.94 (Win 10 64-bit) //
firefox - 88.0 (64-bit) //
Mac OS --
safari - Version 14.0.3 (15610.4.3.1.7, 15610) //
chrome - Version 90.0.4430.93 (Official Build) (x86_64) //

p.s. I checked all these cases before sendi

[2021-04-29 08:37] exextoc commented on #1673
Currently the feature of updating the sensitivity label using makeEwsRequestAsync, you requested, is not a part of the product. We track Outlook add-in feature requests on our [user-voice page](https://github.com/OfficeDev/office-js/issues). Please add your request here with the label “Type: product feature request”. Feature requests on user-voice are considered when we go through our planning pro

[2021-04-29 08:57] exextoc commented on #1822
We are unable to reproduce this issue on our end. Could you please provide us a sample add-in via email to our mail id admin@M365x010952.onmicrosoft.com so that we could reproduce it in-house?

[2021-04-29 09:20] DmitryKostochko commented on #1785
It is user deployed.

[2021-04-29 09:29] DmitryKostochko commented on #1818
Thank you. Please let me know when you have any news from the owning team.

[2021-04-29 09:30] exextoc commented on #1673
Currently the feature: Updating the sensitivity label using makeEwsRequestAsync, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

Githu

[2021-04-29 11:14] ndreisg commented on #1824
Got report from a customer with the same issue but in Excel. The issue appeared about a week ago. Before it was working as expected. We didn't change anything in our Add-In recently.

Same warning is displayed in the customers console: Warning: Office.js is loaded outside of Office client

The customer also reported that this only appears in one particular Excel Workbook. When he creates a new Wor

[2021-04-29 11:43] exextoc commented on #1779
Currently the feature: Remove email body during on send, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

Github Label: “Type: product

[2021-04-29 11:43] nnyegaard commented on #1554
@puentesdiaz I have gotten the number of tasks and then iterated through.

A small example:

[code]

I also turned the callback functions into promises so I could use async/await

[2021-04-29 12:04] nnyegaard commented on #938
There is also an issue with this field `Office.ProjectTaskFields.Milestone`

[2021-04-29 12:33] christian-sap commented on #1690
Hi @jargil , one of our customers replied that the requested registry key does not exist (Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\4) but only this here:
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3

[2021-04-29 12:49] lumine2008 commented on #1830
Thanks, a bug (5072600) was created to track this issue.

[2021-04-29 12:51] cody-lettau commented on #1779
I appreciate the response, even though it is quite unfortunate that there is absolutely no way to control what is actually sent when replying to an email.

I opened this feature request: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/ability-to-disable-appending-of-original-message-on-replies/idi-p/2306606#M37

[2021-04-29 14:33] DmitryKostochko commented on #1807
@exextoc, sorry for bothering you, but do you have any news about the issue?

[2021-04-29 14:56] derek-vena opened #1831 "Name range value on a Mac Excel different from Windows Excel with R1C1 enabled"
In our add-in, we want to check if the template is opened with R1C1 reference or A1 reference. We want to prevent the user from using our addin when R1C1 reference style is enabled. To achieve this, we have 2 possible solutions. When it's an empty template, we add a new name range and check the value of it where we would expect something like this (`Sheet1!$A$1` vs `Sheet1!R1C1`). Or if the templa

[2021-04-29 15:44] DmitryKostochko opened #1832 "Outlook Desktop, MessageCompose.from.getAsync() returns incorrect data in case of shared mailbox"
In an Outlook add-in for compose mode, we use the from.getAsync() method to get the email address of the message sender. If you reply to an existing message located in a shared mailbox, the from.getAsync() method returns your primary email address instead of the email address of the shared mailbox.

## Expected Behavior
The from.getAsync() method shall return the email address of the shared mailbo

[2021-04-29 17:24] leticiabecker opened #1833 "[Excel for Mac] Excel crashes when `context.workbook.close(Excel.CloseBehavior.skipSave)` gets called"
In our add-in, we want to allow the user to close the current workbook by calling `context.workbook.close(Excel.CloseBehavior.skipSave)` on a button click. It works fine on Windows, but it crashes Excel when it's called from Excel for Mac.

## Expected Behavior
`context.workbook.close(Excel.CloseBehavior.skipSave)` should close the Excel file without crashing Excel.

## Current Behavior
`context.w

[2021-04-29 18:08] ndeeH commented on #1812
@smaremanda It was a cookie problem.
see https://github.com/MicrosoftEdge/WebView2Feedback/issues/1194

[2021-04-29 18:08] #1812 closed, assigned to smaremanda

[2021-04-29 18:48] yihuax-zz commented on #1824
Could you give us the add-in files and the application files so we can try reproducing the issue?

Thanks!
Yihua

[2021-04-29 19:00] mscharlock commented on #1820
@exextoc can you have a look? Thanks!

[2021-04-29 19:21] puentesdiaz opened #1834 "Office.context.auth undefined"
We are develop a Project Addin with React Node (yeomen) on Windows 10 with Microsoft Project Professional 2019  (Version 2103 )( Build 13091.20462)

We can use some object and functions like:
`  Office.context.requirements`
` Office.context.document.getTaskFieldAsync`

But . Office.context.auth is undefined

In our taskpane.html we use :

`
    <script type="text/javascript" src="https://appsforof

[2021-04-29 19:26] jambrogne commented on #1750
@hjkim-MSFT @ElizabethSamuel-MSFT I think I've fixed this issue. I needed to install certificates and then manually run the dev server as described here: https://github.com/OfficeDev/generator-office/issues/470

[2021-04-29 19:26] #1750 closed, assigned to hjkim-MSFT

[2021-04-29 22:17] mscharlock commented on #1829
@BeReasonable based on this being related to Project, can you have a look? Thanks!

[2021-04-29 22:20] mscharlock commented on #1831
@lumine2008 Do you mind having a look at this? Thanks!

[2021-04-29 22:20] mscharlock commented on #1832
@exextoc do you mind having a look at this issue? Thank you!

[2021-04-29 22:21] mscharlock commented on #1833
Hi @lumine2008 - Can you have a look at this issue? Thank you!

[2021-04-29 22:22] mscharlock commented on #1834
Hi @BeReasonable - do you mind having a look at this issue? Thank you!

[2021-04-30 03:26] nikhilism15 opened #1835 "Latest Excel/Edge update separates the localStorage for dialog and taskpane although they are from the same origin"
I have a working Excel Add-In in production and with the latest update of Excel the add-in suddenly breaks because the dialog's functionality depends on using the localStorage that has entries created from the taskpane.

There are only a few ways to communicate between dialogs and taskpanes - query string parameters (while opening the dialog), localStorage and sessionStorage. Separating the instan

[2021-04-30 04:43] pkpatels commented on #1826
@jipinshi, I appreciate your suggestion but I already tried that and I didn't get the desired result.

Because here I want to get calculated values of a particular (single) cell by changing other cells one by one. In this case if we **suspendApiCalculationUntilNextSync** it calculate the value based on last change in cells (ignore the previous changes in the cell)

Here is the [gist url](https://g

[2021-04-30 06:49] nikhilism15 commented on #1741
I have the same issue, but with manifest-based add-ins. I depend on localStorage in a bunch of places to communicate between taskpane and dialog.

[2021-04-30 06:50] nikhilism15 commented on #1741
Will there be any reversal of this change or will this be permanent going forward?

[2021-04-30 08:07] clavx opened #1836 "Outlook on the web: Attachments can be added while the On-Send add-in is running"
When the OnSendAddinsEnabled flag is True, clicking the Send button locks the screen, but allows you to add attachments at that time.

## Expected Behavior

Attachments cannot be added.

## Current Behavior

Attachments can be added.

## Steps to Reproduce, or Live Example

1. Click the Send button on the pop-out window
2. Add an attachment while the On-Send add-in is running

## Context

If you l

[2021-04-30 08:10] clavx opened #1837 "Outlook on the web: Send Later feature error in using On-Send add-in"
When the OnSendAddinsEnabled flag is True, sending the email from the "Send Later" feature after composing an email will result in an error.

## Expected Behavior

It can be sent without error.

## Current Behavior

Unable to send due to an error.
It is necessary to perform the send operation again from the pop-out window.

## Steps to Reproduce, or Live Example

1. Compose an email
2. Send the me

[2021-04-30 08:15] clavx opened #1838 "Outlook on the web: Uploading does not proceed after the pop-out window opens"
If you click the Send button while uploading an attachment, the upload will not proceed.

## Expected Behavior

Uploading proceeds.

## Current Behavior

Uploading does not proceed.

## Steps to Reproduce, or Live Example

1. Compose an email
2. Click the Send button while uploading an attachment

If the OnSendAddinsEnabled flag is True and the On-Send add-in is installed, it will automatically po

[2021-04-30 08:17] lumine2008 commented on #1833
Thanks, we can repro this issue, a bug(5074894) is created to track this issue.

[2021-04-30 08:18] clavx opened #1839 "Outlook on the web: Attachments are not attached when forwarding a message"
If you click the Send button before the attached file is loaded, the email will be created without the attached file.

You can reproduce this by performing a quick send operation when forwarding the email.

## Expected Behavior

The message will be created with attachments.

## Current Behavior

The message will be created without attachments.
At this time, the body of the message will also be omi

[2021-04-30 16:15] AlexJerabek commented on #1391
Just to update the thread, it looks like PDFs are not supported for Word on iPad. We are working on changing the return for `isSetSupported("PdfFile")` to reflect that. We are also updating the documentation accordingly in https://github.com/OfficeDev/office-js-docs-pr/pull/2647.

[2021-04-30 17:10] Dengshan2018 commented on #1741
@nikhilism15 , do you have repro steps?

[2021-04-30 17:12] Dengshan2018 commented on #1741
@mattisdada , the thread is stale. do you still repro the issue?

[2021-04-30 17:50] timbeese opened #1840 "Text doesn't fit to rows when merged and shapes move when text is deleted."
If you enter multi-line text with wrapText on, but it lives in a merged cell, the text doesn't wrap properly, and then when you clear the contents of that cell, any shapes in your document get shifted upwards.

This only happens in the Excel web client.  I was unable to reproduce this in the desktop client.  I have steps that reproduce the issue outside of our add-in using ScriptLab.

## Expected

[2021-04-30 18:16] mscharlock commented on #1840
@lumine2008 Can you have a look at this issue? Thanks!

[2021-04-30 18:17] mscharlock commented on #1839
Hi @exextoc - can you have a look at this issue? Thank you!

[2021-04-30 18:18] mscharlock commented on #1838
Hi @exextoc - do you mind having a look at this? Thanks!

[2021-04-30 18:18] mscharlock commented on #1837
Hi @exextoc - do you mind having a look at this issue? Thank you!

[2021-04-30 18:20] mscharlock commented on #1836
@exextoc Hi there! Do you mind having a look at this? Thank you!

[2021-04-30 18:21] mscharlock commented on #1835
Hi @lumine2008, do you mind looking at this request? Thank you!

[2021-04-30 19:34] exextoc commented on #1818
Thanks for reporting this issue. After careful consideration, the owning team has decided to not fix this issue in the short term. We recommend you to upvote or create a new [Tech Community](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) item, this will give us visibility of the commonality of it and will help with our prioritization. I

[2021-04-30 19:34] #1818 closed, assigned to exextoc

[2021-05-01 14:29] gkarmelich opened #1841 "Error Launching Add-in When Using Documents With an Apostrophe in the Name"
When opening a document in Word where there is an apostrophe in the filename, our Word add-in cannot be initialized.

## Expected Behavior

Our add in should be initialized successfully.

## Current Behavior

Currently, the add-in cannot be initialized in this case, even when opening a document with no other data in it besides the filename. Our add-in becomes stuck and it cannot be used.

## Steps

[2021-05-02 06:45] exextoc commented on #1839
Does this happen only when you install any on send add-ins or does it happen even when just the flag OnSendAddinsEnabled is set to true without any on send add-ins installed?

[2021-05-02 06:50] exextoc commented on #1838
We are unable to reproduce this issue at our end. Could you please tell us more about your on send add-ins?
Does this happen only when you install any on send add-ins or does it happen even when just the flag OnSendAddinsEnabled is set to true without any on send add-ins installed?

[2021-05-02 07:13] exextoc commented on #1837
When you have on send add-ins installed, Send Later option should be disabled. However, I can see that it is enabled in your case. Are you facing this issue only for Send Later option or Send option also?

[2021-05-02 07:21] exextoc commented on #1836
Can you tell us if you are using any On Send add-in and if the add-in has any logic to block the send.

[2021-05-02 07:52] exextoc commented on #1800
Could you try if this works in the Insiders beta build for New UI. We will be releasing it soon in production, so if this resolves your issue that is great.

[2021-05-02 09:52] exextoc commented on #1821
Can you try the following code snippet
`Office.context.mailbox.item.getSharedPropertiesAsync((result) => showMessage(JSON.stringify(result))); `

[2021-05-02 22:53] Coianiz commented on #1821
The same result unfortunately:
![image](https://user-images.githubusercontent.com/60905116/116830371-ef477000-abec-11eb-9b17-d52c70399bde.png)

[2021-05-03 06:14] Byron-Mo commented on #1471
Hi, we'd like to confirm if this is related to the webview memory leak issue filed here. The user is encountering excessive slowness when using an Outlook Addin on Outlook Desktop. This is their memory usage - Desktop App Web Viewer is taking up 2.4gb of memory

![renditionDownload1](https://user-images.githubusercontent.com/14811552/116845953-22154800-ab9c-11eb-8dd3-2e41ded63366.jpeg)

[2021-05-03 06:21] nnyegaard commented on #1369
Hey @aninfeel, there are some documentation around that [here ](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/project-quickstart) if you want more I can provide you with some sample code

[2021-05-03 06:22] nnyegaard commented on #960
@ragavanrajan How did you get the Edge console to appear? I have been appending to a div to see logs

[2021-05-03 10:00] tsardy commented on #1815
@smaremanda do you have any updates?

[2021-05-03 12:00] ghost commented on #1673
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-03 12:26] sandeep007bonds commented on #1811
@JefWight Any update?

[2021-05-03 13:35] 4tti commented on #1795
@trigurl I'll give it a check, basically I think this could work... I mean having script to change the addin catalog by changing registry key can work fine.
Curious question - this behavior change was intended then, right? May I know the reason?
Thanks a lot!

[2021-05-03 13:55] rickygarg commented on #1031
Still able to reproduce the original issue:

```Office.context.requirements.isSetSupported("CustomFunctionsRuntime", "1.1") returns true, even though custom functions are not supported in this environment.```

Alternatively, it would be nice if custom functions are made available to users with perpetual license, as done for Ribbon API earlier. @keyur32

[2021-05-03 15:06] keyur32 commented on #1031
assigning to @grangeryy to take a look.

@rickygarg  - we are planning to make custom functions (and Excel Dynamic Arrays) available in the next version of perpetual version of Office, coming later this year. More details on what APIs will be supported in that version are here: https://docs.microsoft.com/en-us/deployoffice/office2021/overview-ltsc-preview#office-add-ins-javascript-apis

[2021-05-03 21:00] ghost commented on #1824
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-03 21:09] trigurl commented on #1795
So there's some behavior changes because we've added some new features.  Moving forward, we rely on the WEF folder to be present and wish to encourage folks not to make modifications to it.

[2021-05-03 21:26] ndvbd opened #1842 "Outlook api Office.context.mailbox.item.body.getAsync("html") sometimes brings error object"
On Mac, Outlook 16.48.411.0, sometimes (30% of the times, usually after a restart of the outlook), the Office.context.mailbox.item.body.getAsync("html") returns an error object instead of an object who's value is the actual html text.
The object contains code: 5001, and a message "An internal eror has occured", status: "failed".
This unexpected behaviour is very annoying. I don't have time to crea

[2021-05-03 22:37] skaramchandani11 commented on #1713
@exextoc - thank you for the information. Looks like that Windows build is in Beta. when will that be available in GA?

[2021-05-03 22:49] ifigueroap commented on #1784
Hi, I'm getting the same problem in a Word add-in where I use the local storage to feed several dialogs that are shown using `Office.context.ui.displayDialogAsync` .

This was working correctly until something was updated :(
On the taskpane component it seems the writing goes well, but on the dialog I get the following:

![image](https://user-images.githubusercontent.com/508183/116942802-4b87af80-

[2021-05-04 00:00] ghost commented on #1823
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-04 00:00] ghost commented on #1822
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-04 06:09] richie5um commented on #1824
I'm not able to send you my addin files, and as I'm unable to reproduce locally, I wouldn't know if this was failing anyway.

Are you able to get someone to answer the two questions above please?
* Why does it sometimes launch with the following query params (?et=XXX&_host_info=XXX) and sometimes it launches without?
* How do we disable tracking prevention? Or, what is the solution for the trackin

[2021-05-04 06:34] AlexPhilippov commented on #1835
I think we have a different issue but for similar reasons. After the engine was updated to WebKit, the behavior of displayDialogAsync has changed. Before the update, each new dialog has its own javascript environment, specifically, cookies weren't shared between calls. Now cookies are preserved and it requires changes in our auth flow. I didn't find any info in the documentation on that. It should

[2021-05-04 07:36] nikhilism15 commented on #1835
Here are further details on it:

Excel version:

![Excel version](https://user-images.githubusercontent.com/11223765/116972865-4aef2780-acd9-11eb-8bc8-b0e569a32bfc.png)

Office 365 version:

![Office 365 version](https://user-images.githubusercontent.com/11223765/116972890-53dff900-acd9-11eb-8d79-c125d3042f05.png)

Dialog and taskpane are two different HTMLs in different folders in the same websit

[2021-05-04 07:44] nikhilism15 commented on #1741
Hello @Dengshan2018, yes. I have created a separate issue for this:
https://github.com/OfficeDev/office-js/issues/1835

This is the Excel version I am working with:
![Excel version](https://user-images.githubusercontent.com/11223765/116973601-6b6bb180-acda-11eb-85aa-48e64c652d17.png)

Here is the Office 365 version:
![Office 365 version](https://user-images.githubusercontent.com/11223765/116973634

[2021-05-04 16:08] frankaddelia commented on #1784
@ifigueroap I've been finding that value is null as well. I've also noticed that the localstorage for the main task pane can actually contain the key value pair that was expected, but doesn't show up in the local storage for the new dialog windows that open. It seems like the local storage from both elements aren't syncing. I'm able to copy and paste the key values from the task pane local storage

[2021-05-04 16:12] ifigueroap commented on #1784
It seems to be the case for me too

what do you mean by this??

In the end, my workaround was to define a static html file for each of the contents that I was previously rendering dynamically---it was a bit of a pain but at least it works. However, if the content of the dialog is truly dynamic, then I would not know what to do :(

[2021-05-04 16:32] #1757 closed, assigned to shaofengzhu, croicu, exextoc

[2021-05-04 17:24] reidbill opened #1843 "Office.context.ui.messageParent not working on Mac in desktop excel"
When I call Office.context.ui.messageParent from an async dialog, the message is never received. This only fails on the Mac in Excel desktop. The code works fine in windows desktop excel, windows web excel (Edge, Chrome, Firefox) and Mac Web Excel (Safari, Chrome).

## Expected Behavior

I expect the message to be received in the Parent (task pane app) running within excel

## Current Behavior

No

[2021-05-04 18:24] frankaddelia commented on #1784
@ifigueroap I add the key value pairs from the console window when you right click on the task pane and click "Inspect". Then I go to Application>Local Storage and then click under key and add a new key manually and paste the value from the other local storage window here where it's missing. In my case it's the lists key and value I paste over.
<img width="913" alt="local storage example for githu

[2021-05-04 19:18] Dengshan2018 commented on #1741
@nikhilism15 , could you add repro steps in either of threads?

[2021-05-04 19:47] yihuax-zz commented on #1824
I don't know the answers but someone gave me a short answer for the first question:

"?et is the EToken, and it'll be appended for OMEX/FPA/Side-loaded registry if we have a token."

So you don't need to care about it.

Thanks!
Yihua