[2019-12-12 11:00] ghost commented on #482
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-12 11:00] #482 closed, assigned to lliu113, exextoc

[2019-12-12 14:09] ankushsolao opened #898 "InvalidArgument error when apply Indent in Word 2016 MSO(16.0.4738.1000)32-bit)"
I was trying to achieve the indent functionality in word add-in but getting an exception.
Below the details of issue:-

## Expected Behavior
The indent should be applied to the selected text/paragraph.

## Current Behavior
I am trying to use office.js API on Word 2016 MSO(16.0.4738.1000)32-bit) and facing an issue when I apply indent to selected text.
below the code:-
 Word.run(function (context)

[2019-12-12 16:40] cawise commented on #804
Thanks, @lumine2008, that makes sense. Could you provide the specific link to the feature? I'm not finding it.

[2019-12-12 18:03] hjkim-MSFT commented on #842
The crash issue has been fixed. 16.0.12412.10000 or higher builds should contain the fix.

[2019-12-12 22:05] JuaneloJuanelo commented on #859
Thanks so much for reporting this issue, this is now live! please try and if you find any issues we will re-open this case.

[2019-12-12 22:05] #859 closed, assigned to exextoc

[2019-12-13 01:05] jrpally commented on #892
I did sideload using word and shared folder in word, and it works, it adds in the ribbon, but for Office word online I cant see in the ribbon, I load the manifest and nothing happens. Any idea?

[2019-12-13 01:13] sureshjoshi commented on #892
So, were you able to try Office Online in incognito mode?

Also, I was referring to adding other add-ins or anything in Office Online, not using desktop Word. Are you able to load Script Lab in Office Online?

Also, does your manifest validate correctly using the office-validator?

[2019-12-13 01:16] jrpally commented on #892
I can add other addins in office online, I can run my addin/manifest in Word Desktop, but when I load my manifest using office online do not works.

[2019-12-13 02:02] hello-chenchen commented on #482
I have the same problem. And i have a workaround solution.
My main problem is on the browser, for browser the **Office.context.ui.messageParent("111")** api is not work, But **window.opener.postMessage("111", "*")** worked very well. And most browser can receive the message though **dialog.addEventHandler(Microsoft.Office.WebExtension.EventType.DialogMessageReceived, ()=> {})**, except IE11. So fo

[2019-12-13 10:13] zakhan4 commented on #895
Hi @weshi ,

So I tried your suggestion, but I still have the same issue. I also updated my github repo with the changes. Can you please try to run it at your end and check. Thanks!

[2019-12-13 10:25] Barax67 commented on #880
Is there anything new on this issue?

[2019-12-13 17:00] ghost commented on #875
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-13 17:00] #875 closed, assigned to nobody

[2019-12-13 17:00] ghost commented on #841
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-13 17:00] #841 closed, assigned to lumine2008, LiJiang-msft

[2019-12-13 18:25] JuaneloJuanelo commented on #151
Upon further investigation. Yes, this is specially confusing when there is only one control (ribbon button) defined in the manifest, and the icon of such control is different from the default icon. What happens is that the default icon is shown (instead of the one associated with the task pane). We can only  show one icon per add-in in Outlook for the Web.

Probably the right design is to have the

[2019-12-13 20:39] #853 closed, assigned to exextoc

[2019-12-13 22:04] exextoc commented on #889
Glad it's working now. Please let us know if there's anything else we can help you with.

[2019-12-15 15:12] juraevuz commented on #842
I am having the same issue with ie11 on windows 10. I extract Ooxml, make some adjustments and when I try to insert it back, Word crashes. The same Office App is working on latest version of Windows 10, which uses Edge to load add-ins. But on older versions with IE11 it crashes.

[2019-12-15 17:35] dtao opened #899 "Calling Range.expandTo followed by Range.search inserts unexpected OBJ characters"
I have a Word add-in that stores a list of defined terms in a document along with paragraph ranges where those terms are found. One of the features I'm trying to implement is selecting the range where a term is defined. The code supporting this feature in its current form calls `Range.expandTo` to select the full range comprising a particular _section_ of the document, then calls `Range.search` on

[2019-12-15 22:49] ifflanb commented on #704
Any updates on this. We are having the same issue ... what is the recommended approach for refreshing an office web add-in following a deployment of updated add-in files?

[2019-12-16 00:00] ghost commented on #797
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-16 00:24] og1sha commented on #378
I am experiencing same issue, do you have some updates on this?

[2019-12-16 09:36] clavx opened #900 "getAttachmentsAsync method returns an id that has no data"
We obtain the id by using the `getAttachmentsAsync` method, and execute the `getAttachmentContentAsync` method, then its return value content is empty.

## Expected Behavior

After conversion to text mode, the length of the array of attachments in the `getAttachmentsAsync` method is zero.

## Current Behavior

The `getAttachmentsAsync` method shows that the attachment array length is 1 and retriev

[2019-12-16 12:53] 4tti opened #901 "Significant performance decrease of Custom Functions when using Shared App Model"
The performance of custom functions is significantly decreased while using Shared App Model on insiders build.

## Expected Behavior

Custom Functions are fast as in separated Runtime or the performance differs just slightly and the calculation does not affect UI in any way.

## Current Behavior

The performance decrease issue is especially visible with larger amount of formulas (thousands).
With

[2019-12-16 13:24] SWDevB opened #902 "After updating Office, Excel can't start add-in any more"
After updating from Microsoft Office 365 ProPlus 1906 to 1911 (12228.20364) I cannot run my Excel-Add-In any more.

## Expected Behavior
Current version of Office still runs the add-in

## Current Behavior
After starting the desktop debugging, Excel starts, loads ribbon integration and opens task pane showing an empty window with just the following error

Clicking restart doesn't change anything.

[2019-12-16 13:42] 4tti opened #903 "It is not possible to copy/paste cells with custom function between Excel instances"
## Expected Behavior

Copy pasting of cells with Custom Functions work normally between excel instances.
## Current Behavior

IT is not possible to paste cells with Custom functions, it shows this message dialog:
![image](https://user-images.githubusercontent.com/19533927/70911187-9edc6c00-2011-11ea-9efb-cf63843593d3.png)

## Steps to Reproduce, or Live Example

Open workbook with Custom functions

[2019-12-16 13:46] ghost opened #904 "Outlook 16.32 crashed in Mac OS 10.15.2"
I got my new Macbook and synchronized my outlook account yesterday. Because some emails were not synchronized well, I deleted the account and tried to add it again. Then when I tried to open the outlook again, it does not work and crashes before the application is opened.

<img width="472" alt="image" src="https://user-images.githubusercontent.com/43507527/70911417-37481000-2055-11ea-9f9c-52e235f5

[2019-12-16 18:23] massonj commented on #896
Thanks for reaching out.

Per @exextoc, this is a feature request which is best logged on our user voice page here https://officespdev.uservoice.com/

[2019-12-16 18:23] #896 closed, assigned to nobody

[2019-12-16 18:42] massonj commented on #904
Thanks for reporting the issue. Unfortunately, this repo is only for tracking issues related to Office Add-ins, not general Office issues. The best way to report crashes like the one above to Microsoft is using the pictured dialog, along with any information on what you were doing at the time.

Thanks

[2019-12-16 18:42] #904 closed, assigned to nobody

[2019-12-16 18:54] massonj commented on #903
Hi @4tti

Currently the feature(Copy/Paste of custom functions between Excel instances) which you requested is not a part of the product. We track Office Add-in feature requests on our UserVoice page - https://officespdev.uservoice.com. Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

Thanks, Office Platform team

[2019-12-16 18:54] #903 closed, assigned to nobody

[2019-12-16 19:24] lukchen commented on #864
@lumine2008 Hello, is it possible to be in backlog or any interesting update?

[2019-12-17 00:41] jargil commented on #712
I think the main question was answered. Please comment again if you are still having problems and we'll reactivate!

[2019-12-17 00:41] #712 closed, assigned to lliu113

[2019-12-17 07:44] jrpally opened #905 "yo office generated manifest not working for Office Online"
I created an officeapp using yo office, for word, but I can;t open the app or at least nothing happens when I load this in office word online.
## Expected Behavior

Expected Behavior: Brand new apps created with yo office / word / react should be opened in office online
## Current Behavior

The current behavior: I created using yo office word app, but cant be opened in Word, but it can be opened i

[2019-12-17 08:25] hello-chenchen opened #906 "Windows Outlook Client add-on Error log in a higher probability: Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If your app has this functionality, try reloading this page."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

when i load my add-on on the right side task pane. This log will display on my F12Choose.exe console, in a higher probability.  and it will cause my web site display ui not execute th

[2019-12-17 08:29] hello-chenchen commented on #906
Another question the same behavior is, it is not load the MicrosoftAjax.js. Error:
![image](https://user-images.githubusercontent.com/1878089/70978035-00700980-20ea-11ea-9ea2-430fa1d49e13.png)
I think it is also a problem, because it happened to offen.

please take a look, thanks

[2019-12-17 08:45] 4tti commented on #903
@massonj Are you serious? Copy/Paste is in excel just normal feature and it should be part of Custom Functions. I understand it is not yet implemented and might not have such high priority (though it is surprising) but definitely should not be simply closed as 'by design' and raise user voice request. **I doubt this is by design.**
In worst case I would expect at least some 'internal tracking item

[2019-12-17 09:25] exextoc commented on #900
Thanks for reporting this issue regarding Attachment API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-12-17 09:32] 4tti commented on #903
Oh forget it. My mistake. It does not work even with UDFs. Sorry ;)

[2019-12-17 09:40] 4tti opened #907 "Application.Run and Application.Evaluate does not work with Custom Functions in VBA"
## Expected Behavior

I can run VBA code with Application.Run and Application.Evaluate to execute Custom Functions.

## Current Behavior

Currently it does now work, errors are shown.

## Steps to Reproduce, or Live Example

Open workbook and insert addin with custom functions in it.
Open VBA and try to execute e.g. Application.Evaluate function with the custom function.

## Context
This will allo

[2019-12-17 10:33] exextoc commented on #906
Hey @hello-chenchen ,

Just a few things to follow up with you.

1. Are you seeing this issue across browsers, or any specific browser?
2. Can you check that window.Office and Office.initialize exists, before you use or assign values to them?
3. Can you ensure that Office.initialize is indeed getting overridden? You can try to put a breakpoint inside of Office.initialize and ensure it's getting hi

[2019-12-17 11:47] jrpally opened #908 "Is <input type='file' /> supported in all versions of Office?"
Is input type = file supported in all versions of office webaddins? It opens a file dialog to load a file. Thanks

[2019-12-17 17:09] ZinatWali opened #914 "Issue with CustomeProperties get()"
I am using code based on this page:

function customPropsCallback(asyncResult) {
    var customProps = asyncResult.value;
    console.log(customProps);
    var myProp = customProps.get("myProp");
    console.log(myProp);
    customProps.set("otherProp", "value");
    customProps.saveAsync(saveCallback);
}

myProp is always coming as undefined. But customProps has the value previously stored in myP

[2019-12-17 18:30] rsalehi2013 opened #909 "Outlook Desktop: getAttachmentContentAsync "5000 the operation is not supported""
## Expected Behavior
Office.context.mailbox.item.getAttachmentContentAsync() executes the passed in callback function with the attachment contents

## Current Behavior
Office.context.mailbox.item.getAttachmentContentAsync executes the passed in callback function with an error of 5000 - the operation is not supported

## Steps to Reproduce, or Live Example
1. Take an Office outlook add-in that util

[2019-12-17 18:49] AlexJerabek commented on #914
@ElizabethSamuel-MSFT, could you please take a look at the code sample?

[2019-12-17 20:31] BeachAlmanack commented on #804
I am also having this problem

[2019-12-17 22:45] JuaneloJuanelo commented on #909
Hello! The cited API was released as part of our 1.8 Release starting on the Office 365monthly sku released ~ early November 2019  (starting with build 16.0.12130.xxxx).

The reason why its not available in your build is because you are on the Office Semi-Annual channel (who gets updates 2 times a year). So its not yet available for that sku, yet.

1.8 will be included in the next update to the Se

[2019-12-17 22:45] #909 closed, assigned to nobody

[2019-12-17 23:36] JuaneloJuanelo commented on #899
@dtao Thank you very much for taking the time to send us this issue.  I wrote a code snippet that implements what you are describing (basically a search within an expanded range.), please see the snippet [here](https://gist.github.com/JuaneloJuanelo/0bafab8f408f9e9516eb59d1612954e9).  that snippet basically expands from the selection till the end of the document and tries to find the word "hello".

[2019-12-18 02:30] RuoyingLiang commented on #902
Thanks for reporting. We are looking at it.

[2019-12-18 03:42] clavx opened #912 "Calling the getAttachmentContentAsync method freezes Outlook add-ins"
If we attach an Outlook item to a mail, call the `getAttachmentsAsync` method to obtain an ID, and then call the `getAttachmentContentAsync` method using that ID, you will get no exceptions, just a freeze.

## Expected Behavior

The process does not freeze and the contents of the attached item can be obtained.

## Current Behavior

We can't do anything because the process is frozen.

## Steps to R

[2019-12-18 06:00] SWDevB commented on #902
Thanks, as a workaround I installed fast insider, got version 2001 and there the issue doesn't occur. So it seems it was fixed in 1912, but the current monthly channel version contains the bug

[2019-12-18 09:13] exextoc commented on #880
Hey @Barax67,

Sorry for the late response. I do see the issue here, and i believe the problem is here:

[code]

`event.completed()` should only be called after your UIless add-in execution is done. Since this is being synchronously called, it is killing the dialog as soon as it's launched. Remove it, and and add the line only after the entire lifecycle of your add-in is over. See if this helps.

[2019-12-18 10:12] Vrushi007 opened #944 "The addin is not working when it is built to production mode. (developed using angular)"
I have created a addin for outlook using angular. When I publish the project. The addin is not working.
Is there any problem with build process?

[2019-12-18 13:47] rsalehi2013 commented on #909
Thank you! I was not aware of the release channels, but have now located the documentation on it. Looks like the default channel for ProPlus is semi-annual, and this part of the API will be available Jan 2020 for those users?

[2019-12-18 16:50] sarea commented on #897
For the autorun: having an event for **read** mode would be very helpful!

[2019-12-18 17:31] Barax67 commented on #880
Yes! I tried and now the addin works properly. Thank you so much for your support.

Ax

[2019-12-18 17:31] #880 closed, assigned to lliu113, exextoc

[2019-12-19 01:00] ghost commented on #797
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-19 01:00] #797 closed, assigned to exextoc

[2019-12-19 16:00] ghost commented on #842
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-19 17:03] rsalehi2013 commented on #909
on second look, it may be the case that November 2019 features wouldn't be included in the Jan 2020 update, but rather July 2020.

[2019-12-19 17:43] Reezaali commented on #944
Hi @Vrushi007, sorry to hear about the issue. To better assist, can you provide the following information please?

## Expected Behavior
Tell us what you expected to happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce

  1. ______
  2. ______
  3. ______

## Your Environment
Include as many relevant details about the environment you experienced t

[2019-12-19 21:44] Reezaali commented on #912
@clavx sorry to hear that you've run into this issue.

@exextoc can you investigate please? Thanks.

[2019-12-19 22:00] Reezaali commented on #905
Hi @jrpally sorry to hear about this issue. Can you include your repro steps please? Thanks.

[2019-12-20 04:21] Vrushi007 commented on #944
Hi Reezali,
I have created a project using command prompt as described in documentation.
Here in my project I have 2 buttons which use angular routing which takes to desired component.
When I publish my project, I'm getting error "https://***********/taskpane.html/#cc/0 can not be found".
I have attached the screen shots of the project I have created, and also the contents of dist folder when the

[2019-12-20 07:10] hello-chenchen commented on #906
Sorry, i have been to busy in the last few days.
Yes Actually, this is all platform(both windows outlook client, IE browser and chrome) both have this problem. But in relatively, the windows outlook client is more often.
In fact, not only my add-in, But also OneNote add-in can repro this problem.
![image](https://user-images.githubusercontent.com/1878089/71236795-cc3f5780-233a-11ea-89e0-ce6f6a2398

[2019-12-20 07:20] hello-chenchen commented on #906
just now, it happens on mac chrome browser too.
![image](https://user-images.githubusercontent.com/1878089/71237295-1d9c1680-233c-11ea-8aba-50f14dade58b.png)

[2019-12-20 07:30] hello-chenchen opened #913 "Outlook on the web: Accessibility: VoiceOver/NVDA cannot use keyboard input (tab) to enter the add-in"
accessibility software(VoiceOver and nvda) can't press "tab" and enter into the add-on right side panel.
And you can try to remove the **tabindex="0"** which is on the top of the add-on iframe panel div.
like below:
![image](https://user-images.githubusercontent.com/1878089/71237629-04479a00-233d-11ea-969b-74b0d5b6358a.png)

remove this one, and both VoiceOver and nvda can be worked.
like below:
!

[2019-12-20 17:36] ElizabethSamuel-MSFT commented on #963
@exextoc Can you provide an update? Thanks.

[2019-12-20 17:52] ElizabethSamuel-MSFT commented on #944
@Vrushi007 If you're in production mode then your add-in should be running on a domain that's not localhost. Can you update the manifest to replace localhost with your production domain and let us know if that helps?

Thanks.

[2019-12-20 19:18] ElizabethSamuel-MSFT commented on #914
@ZinatWali Thanks to letting us know. This behavior seems like a bug so I'm going to transfer it to the office-js repo for the product team to investigate.

Thanks.

[2019-12-20 19:20] ElizabethSamuel-MSFT commented on #914
@exextoc This seems to be a product bug. If you set myProp elsewhere then run the sample code, myProp comes back as undefined. Can you investigate?

[A similar code example in the docs](https://docs.microsoft.com/en-us/javascript/api/outlook/office.customproperties?view=outlook-js-preview#saveasync-callback--asynccontext-)

Thanks.

[2019-12-22 16:18] exextoc commented on #914
Hey,

From the code snippet that you've provided, I can see that "myProp" is not being set or saved anywhere to the custom properties. Only "otherProp" is being set, and then saveAsync is being called. Are you setting `myProp` and then saving using  `saveAsync`, the value of myProp on doing a `loadCustomPropertiesAsync` after it still returns nothing for myProp when you call it?

Just making sure

[2019-12-22 17:00] ghost commented on #842
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-22 17:00] #842 closed, assigned to nobody

[2019-12-22 17:19] hjkim-MSFT commented on #862
Thanks for reporting this issue. Microsoft identified the problem. We're working on the fix.

[2019-12-23 05:08] Vrushi007 commented on #944
Hi Elizabeth,
That's not the problem. I've replaced the localhost with domain URL.
As you can see in the image I've attached. There are two buttons in manifest.xml. which will take to same pane but to a different components.
It is working correctly when it is in development mode. But, when the project is built.  A button from manifest.xml which contains an URL such as "https://domain-url/taskpane.

[2019-12-23 15:21] lumine2008 commented on #908
Thanks @jrpally for your report, however, i am not sure if i understand your question,
would you please share a bit more about the issue you meet?
the expected result and actual result, it would be super helpful if you cuold share the gist for this issue.
Thanks again for your support

[2019-12-23 23:00] ghost commented on #905
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-23 23:00] ghost commented on #899
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-24 02:03] weshi commented on #908
@jrpally Yes, you can use it in your web add-in to open the file dialog to choose an input file. But you need to have the logic to handle how you deal with the file.

Do you see any issue with it?

[2019-12-24 05:56] weshi commented on #895
I noticed that you have put the below node under the wrong place:

    <Runtimes>
        <Runtime resid="Taskpane.Url" lifetime="long" />
    </Runtimes>

It should be put under VersionOverrides/Hosts/Host, just before the AllFormFactors.

![manifest](https://user-images.githubusercontent.com/11494417/71396697-20f21380-2656-11ea-882b-a8da8ef1c63d.png)

[2019-12-24 09:31] mashuangnong commented on #790
Same problem occurs on my mac pro.   The version of outlook is 16.16.11, 16.16.3;
I need somebody help,  Is there another way to get emialAddress by office.js in outlook ?

[2019-12-24 14:10] zetixar opened #915 "`OfficeRuntime.storage` gets cleared out"
# `OfficeRuntime.storage` gets cleared out
In Excel Desktop, I have an addin (not published yet) which has both function.js and the taskpane. To store and share the auth token between functions and taskpane we rely on `OfficeRuntime.storage` using `setItem`/`setItems`/`removeItem` but when there are multiple api calls (like when array formula sends multiple requests to the server which may produce

[2019-12-24 16:03] markb-trustifi commented on #889
I succeeded to reproduce the issue on the Windows Outlook desktop client only.
I update all 3 fields by the script:
[code]

When I'm sending recipients array as [1 TO recipient, 1 CC recipient, no BCC], I receive 3 events with changedRecipientFields:
`{bcc:false, cc:true, to:true}`

When I'm sending recipients array as [1 TO recipient, no CC, no BCC], I receive 3 events with changedRecipientFields

[2019-12-24 19:29] lindalu-MSFT commented on #915
Hi @zetixar , thanks for bringing this to our attention. We have limited resources this week due to the holidays, so I'm going to assign this to myself until I can find someone to have a look. Meanwhile, have you tried asking this question to the Excel developer community on [Stack Overflow](https://stackoverflow.com/search?q=%5Boffice-js%5D+OfficeRuntime.storage)? There might be a discussion alre

[2019-12-24 19:31] lindalu-MSFT commented on #915
@RuoyingLiang Is this something in your wheelhouse you can address for the customer? Thanks, lindalu

[2019-12-24 19:35] lindalu-MSFT commented on #913
@hello-chenchen Thanks for bringing this accessibility issue to our attention! I assigned this to the Outlook Dev team for further investigation. Please be aware that it is a holiday week here at Microsoft and many people are out of office. It might be a few days before you get a response. I also assigned myself to follow up and be sure this is attended to. Cheers, happy holidays!

[2019-12-25 08:26] lumine2008 commented on #792
@sethachoi ,
for 1#, you could use delayForCellEdit,  When true, the batch request will be executed immediately if the user is not in cell edit mode, but if the user is in cell edit mode the batch request will be delayed until the user exits cell edit mode. the document can be found at https://docs.microsoft.com/en-us/javascript/api/excel/excel.runoptions?view=excel-js-preview

This is the gist I

[2019-12-26 07:22] RuoyingLiang commented on #915
@zetixar, OfficeRuntime.storage cannot share between function and taskpane. Custom function and task pane could use shared mode to share token. You can get more information from  https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial . Coud you try and let us know if it works for your scenario?   Add @shaofengzhu to a

[2019-12-26 10:24] exextoc commented on #913
We are able to repro this issue on outlook web client. Thanks for reporting this issue regarding. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-12-26 12:59] exextoc commented on #906
@hello-chenchen,
- The mac snapshot also has ERR_NETWORK_CHANGED and ERR_CONNECTION_RESET errors. Can you check if your network connection is stable?
- It looks like you are using Vue Js library for the add-in, can you test without any Vue code in the add-in and see if issue exists?
- We are unable to repro the issue at our end. Can you share stripped down version of your manifest to repro this is

[2019-12-26 16:23] zetixar commented on #915
Thanks @RuoyingLiang, I've followed the steps described in the article but couldn't test the solution since the manifest.xml's validation fails while it has `<Set Name="CustomFunctionsRuntime" MinVersion="1.2"/>` in it, but when I change it to `<Set Name="CustomFunctionsRuntime" MinVersion="1.1"/>` it passes the validation. However, if I try to load the addin with sharedState in it, using that `1.

[2019-12-26 17:56] zetixar commented on #915
@RuoyingLiang @shaofengzhu

Another important thing here to note is that the core of the issue for me is not that we cannot use `OfficeRuntime.storage` to share the state between `functions.js` and `taskpane.js`. The main issue is that for some unknown reason(s) the whole addin gets reloaded silently and even `OfficeRuntime.storage` gets wiped out entirely. So even with being able to use `CustomFu

[2019-12-27 00:00] ghost commented on #905
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-27 00:00] ghost commented on #899
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-27 00:00] #905 closed, assigned to nobody

[2019-12-27 00:00] #899 closed, assigned to nobody

[2019-12-27 03:54] #895 closed, assigned to nobody

[2019-12-27 06:51] exextoc commented on #790
User email address is exposed only via Office.context.mailbox.userProfile.emailAddress and there is no other way to access it. Can you try to update your outlook version and check if it helps.

[2019-12-27 08:42] clavx opened #916 "Invalid return value content for Outlook Calendar item"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

If we attach an Outlook calendar item (Exchange item) that contains multibyte characters to a mail message and then use the getAttachmentContentAsync method to retrieve the contents o

[2019-12-27 09:44] hello-chenchen commented on #906
Thanks for your reply, @exextoc ,

I think it is not vue js library cause this problem. Because i repro this problem in your onenote add-on. And i notice that onenote seams use react library.

Maybe my network connection is not stable. It happens in a higher probability last week. But this week, It seams worked well. So, can you give user some network error notification when you throw this error?

[2019-12-27 09:47] hello-chenchen commented on #906
this error is throw from there:
![image](https://user-images.githubusercontent.com/1878089/71512384-e942d000-28d0-11ea-83cb-448847eb6e3c.png)

(Your debug code is Office.debug.js)
![image](https://user-images.githubusercontent.com/1878089/71512374-d4663c80-28d0-11ea-96bf-e189047e68ff.png)

[2019-12-27 10:10] hello-chenchen opened #917 "Outlook client add-ins: links and JS redirects to other domain, open a new browser tab"
Only happen on **Window 10 1903 Verison**!!!
Window 10 1903 Verison OS build: 18362.535

Outlook client: Verison 1911 (Build 12228.20364 Click-to-Run) MSO (16.0.12228.20322) 64Bit.

My site is domaina.com. when i execute this code on Microsoft Edge DevTools Preview:
[code]
it can't redirect to the domainb.com on the right site add-on panel, it open my default browser to load my links.

I have add

[2019-12-27 23:06] lindalu-MSFT commented on #916
@clavx Hi, thanks so much for bringing this to our attention! I've assigned this issue to the Outlook Add-ins Team (@exextoc). Due to the holiday, please allow them a few days to respond. Cheers, lindalu

[2019-12-27 23:12] lindalu-MSFT commented on #917
Hi @hello-chenchen Thanks for bringing this to our attention. I've assigned this issue to the Outlook Add-ins Team for follow-up. Due to the holidays, it might be a few days before you hear back from them! Cheers, lindalu

[2019-12-28 03:00] ghost commented on #908
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-29 07:09] SWei1234 opened #918 "[Outlook add-in] Outlook 2013 cannot run any add-in app error: outlook.15.01.js access denied"
Outlook 2013 cannot run any add-in app. All ad-in was show in error: outlook.15.01.js access denied.
We have tried many add-ins include 'My-template' . All add-in show in 'Office applications' and if I try to start any add-in will show error. I open the developer tool can see error:  "outlook.15.01.js access denied"
PS: This probelm happened on Outlook 2013 onpremise environment.
## Expected Behav

[2019-12-29 07:56] hello-chenchen commented on #917
hi @lindalu-MSFT , thanks for your reply.
Have fun, chen.

[2019-12-29 17:20] markb-trustifi commented on #889
@exextoc please reopen the issue. I reproduced it in Outlook desktop client.

[2019-12-30 07:38] lindalu-MSFT commented on #918
@SWei1234 Thank you for bringing this to our attention! I assigned this to the @exextoc , the Outlook Add-ins team. Please note that many people are on vacation this week due to the Holidays so please be patient. It might be a few days before they have a chance to address this issue. I will check back in a couple days! Thanks, lindalu

[2019-12-30 08:08] exextoc commented on #906
We agree with you on improving the logging part, have added it to our backlog.

Internal tracking id: OutlookWeb:62726

[2019-12-30 10:22] zakhan4 commented on #895
Dear @weshi,

Thanks for your response. This made it work for me!

[2019-12-30 19:50] exextoc commented on #918
@SWei1234, have you tried accessing [that url](https://appsforoffice.microsoft.com/lib/1.1/hosted/outlook-15.01.js) via a regular web browser? It may be that for whatever reason, your company firewall is preventing access to this file. I just tested the file and it seems to be working as intended.

[2019-12-31 01:24] SWei1234 commented on #918
Yes, I have already tried this and can access this file. Actually I see the .har file outlook.15.01.js show http 304. That means this file has already been cached but I just can't access this file.
By the way this only happened on some Outlook 2013 under the same network. It works fine on Outlook 2016/2019 and some other outlook 2013.

[2019-12-31 04:00] ghost commented on #908
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-31 04:00] #908 closed, assigned to nobody

[2020-01-01 07:04] asith-w commented on #430
any update ?

[2020-01-02 12:21] 4tti opened #919 "Excel: Binding's onDataChanged event does not work correctly when added to Range"
## Expected Behavior

The onDataChanged event should be fired **only** when the corresponding cell is changed. Then the binding can be used for just monitoring changes of specific cell.

## Current Behavior

When you use binding for cell, e.g. A1 it fires onDataChanged event randomly even for changing completely different cells.

## Steps to Reproduce, or Live Example

Check this gist (see the des

[2020-01-02 12:41] 4tti commented on #919
We wanted to use this event for customizing behavior when user types certain special 'command' over some of the cells/formulas, however with this strange event firing we cannot use it and it means for us quite critical issue.
It would be extremely helpful to get at least estimate when the fix will be ready (once confirmed it is bug).
Thanks in advance!

[2020-01-02 13:16] 4tti commented on #915
@RuoyingLiang: from my understanding OfficeRuntime.storage is the only way how to pass anything between Taskpane and Custom Functions Runtime (if it is separated runtime, not the shared app model).
As we share some important things too I am really interested in this issue cause it might in some way affect our addin as well.

[2020-01-02 17:18] #796 closed, assigned to exextoc

[2020-01-02 20:38] aldaliu opened #920 "Adding a brand new setting after modifying an existing setting causes an ItemNotFound error"
Trying to add a brand new setting after modifying an existing setting causes an ItemNotFound error on Excel Online but works in Desktop Excel (Office 365 mac)

i.e.
settings.add("thisExists", true)
settings.add("thisDoesntExist", true)
fails

This might be related to adding two brand new settings in a row

## Expected Behavior
It should work, both settings should be added

## Current Behavior
Work

[2020-01-03 03:38] ruei-yu-yang opened #932 "Excel: add comments do not work as expected"
My local execution environment: excel pro plus 2019.
I try to using this page add comments sample in my local machine,
no error occurred during execution, but no show comments.

var comments = context.workbook.comments;
comments.add("Sheet1!A1", "comments...");
return context.sync();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-01-03 07:25] SWei1234 opened #921 "Outlook online: Add-in problems when using new api getSharedPropertiesAsync."
Problems when using new api getSharedPropertiesAsync. Console report getSharedPropertiesAsync not a function in Office.context.mailbox.item. And I tried this on a shared calendar.
## Expected Behavior

I can use this api and get callback result.
By the way, is there any possible I can use any api to get email from shared calendar on add-in ?

## Current Behavior

When I use 'Office.context.mailbox

[2020-01-03 10:55] iromjkee opened #922 "Word: Can't do operations with text using numerical bounds(range) in add-in via JS API"
I need to do different operations with text using numerical bounds in MS Office Word add-in via JS API. Here is the case:

For example, I need to search text "Pete" and change it. For that I should search it using numerical bounds(I mean not to search by value "Pete", but to use word's position and range - (16,20) for first word "Pete" in this sentence.)

My questions are:
- Is it possible somehow

[2020-01-03 11:10] rajeshk7 commented on #913
I am able to get to the extension with tab. I am able to get to the cross button. Are you not able to reach to the cross button even ? Or you want to use tab button inside OneNote extension ?

[2020-01-03 13:03] hello-chenchen commented on #913
@rajeshk7 , yes, as a blind user, they will need use tab button inside the add-ins.

[2020-01-03 14:43] exextoc commented on #921
Few checks for getSharedPropertiesAsync to work :
1. One of the parameters for getSharedPropertiesAsync is the REST auth token, are you passing that?
2. Here is the documentation for getSharedPropertiesAsync  in case of delegate access: https://docs.microsoft.com/en-us/outlook/add-ins/delegate-access, did you get a chance to look at it.

[2020-01-03 18:56] AlexJerabek commented on #932
Hi @ruei-yu-yang,

Thanks for sharing your issue with the commenting APIs. Could you please provide your version and build number of Excel? You can find this by going to **File** > **Account**.

The reason I ask is because the commenting APIs are part of ExcelApi 1.10. You'll need Version 1907 - Build 11929.20306 (you can see the requirement set version requirements [on this page](https://docs.mic

[2020-01-04 20:50] richard-peters opened #923 "Outlook: getAccessTokenAsync SSO Token error (code 13005)"
As of yesterday we're unable to receive a SSO token from the getAccessTokenAsync request.

error: OSF.DDA.Error name: "Preauthorization missing." message: "Missing grant for this add-in." code: 13005

The application was working previously and there have been no application / manifest changes.

I have reauthorised the application (on-behlaf-of flow) as the tenant administrator and the issue persis

[2020-01-05 08:50] lumine2008 commented on #919
Thanks @4tti , I can repro this issue, a bug 3868915 is created to track this bug. team is investigating this issue now.

[2020-01-05 08:51] lumine2008 commented on #920
Thanks @aldaliu , I can repro this issue, a bug 3869316 is created to track this bug. team is investigating this issue now.

[2020-01-05 18:40] christianecker commented on #923
Experiencing the same issue resulting in the unavailability of an add-in thus a major problem for our business!

[2020-01-05 19:56] richard-peters commented on #923
Despite SSO being available since 2017, recent MS articles emphasise this as in preview only (not to be used in production) - this is confusing given the functionality seems to exist in release 1* of office.js

We're refactoring to use the Dialog UI / Authorization Code Flow, with a OBO exchange server side to get around it.

[2020-01-05 21:25] Lilyliu123 commented on #503
Is openBrowserWindow function still available? When I use this I got the compile error that openBrowserWindow does not exist.

[2020-01-06 02:46] #773 closed, assigned to exextoc

[2020-01-06 02:51] #799 closed, assigned to exextoc

[2020-01-06 07:36] MicleMing opened #933 "[outlook]: How can I access to microphone in office add-in ?"
There is a pop-up to ask for microphone permission on web, but Nothing happened on desktop app , so I can't access to microphone on desktop. It seems that there isn't any useful informations on docs.  how can I access to microphone on desktop ?
Platform: MacOS
Thanks

[2020-01-06 10:06] gordonmleigh opened #924 "PowerPoint web taskpane add-in: goToById doesn't work when presenting"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When the slideshow has started, `goToById` doesn't change the current slide for a **taskpane** add-in on web.

This is a resubmission of #875 which @donlvMSFT closed despite me provid

[2020-01-06 10:27] hello-chenchen commented on #917
hi @lindalu-MSFT @exextoc , Any info you can pass would be appreciated.

[2020-01-06 11:20] donlvMSFT commented on #924
Hi @gordonmleigh , sorry for that the original issue #875 is closed by accident, probably because the tag is not proper set. Really sorry for that.
We already filed the bug 3809617 tracking this, and will come back if there is any progress.

[2020-01-06 16:37] gordonmleigh commented on #924
@donlvMSFT we've had a submission to the store rejected because the functionality doesn't work in Office online. Have you any idea what the timescales will be on this fix?

Do we need to wait until this bug is fixed by your team before we can go ahead, or can we resubmit quoting your internal bug ID in the meantime?

[2020-01-06 17:11] illiach commented on #776
Method name: Office.context.mailbox.item.addFileAttachmentAsync()
URL and file name are provided and correct, file is correctly downloaded from browser.
AsyncResult error:

{code: 5001, message: "An internal error has occured.", name: "Internal Error"}

The issue occurs in Outlook for Mac only.

Please, advise what can be causing this and how to fix?

[2020-01-06 20:17] exextoc commented on #776
Bug 1340469<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1340469>: [OfficeDev/office-js] How to add an attachment to a new outlook email using a SOAP request in an Outlook Addin? (#776)

This is an Outlook For Mac  issue. But this poster is reviving an old thread. We should have them open this as another issue with more details.

Created using VSTS Out

[2020-01-06 21:05] madhavagrawal17 commented on #915
@zetixar: To persist the sharedState across different sessions you can use local storage. As shared state can be used between Taskpane and function.js along with local storage to unblock yourself. But Apart from this solution, we are interested in the original issue.

[2020-01-06 21:14] aldaliu commented on #920
Thanks @lumine2008! This seems to be a regression as this has worked for us in the past. Is there a timeline that we can expect for the fix? It's currently affecting us on production :/

[2020-01-06 21:33] lindalu-MSFT commented on #933
Hi @MicleMing Thanks for bringing this to our attention.  However, in order for me to assign this to the appropriate engineer on the Outlook team to have a look, I need more information. Can you please provide us with more information? Please provide the OS, version Outlook, and the actual steps to reproduce this. Please be as detailed as possible, and include screen shots if you can. Then, I can

[2020-01-06 21:52] hjkim-MSFT commented on #862
This problem has been fixed. Word for Mac 16.34 (20010700) or higher builds should contain the fix.

[2020-01-07 02:38] MicleMing commented on #933
The main requirement for me is using webRTC in office add-in, so I need access to microphone, On web, It works well, because browser will ask me for granting the access to microphone by popup a dialog, but desktop app will not, so I can't access to microphone.

### Repro steps:
- Install my add-in plugin
- open task pane (my plugin is host as taskPane)

### Actual results:
- on Desktop outlook cli

[2020-01-07 03:15] RuoyingLiang commented on #915
@zetixar : Sorry for the late response. Could you follow @madhavagrawal17 's solution and let us know if it works. To investigate the crash issue, is that possible you could provide the manifest file to us to repro and do further investigation? My mailbox is ruoyingl@microsoft.com. Thanks!

[2020-01-07 03:34] xiaochunms commented on #924
@gordonmleigh I am sorry for the inconvenience to bring to you. I am afraid that the submission may not success if the functionality doesn't work. There is a bug #3809617 filed to track the issue. The bug fix process may can be accelerated if you provide some data on how big the impact is. You may can drop me an email (xiliang@microsoft.com) if the data is sensitive.

[2020-01-07 04:54] lindalu-MSFT commented on #933
@MicleMing Thanks for the repro steps! There's a chance that this issue belongs in another repro. Let me see what I can find out and I'll get back to you tomorrow. Thanks, lindalu

[2020-01-07 05:11] AnjanaValsan commented on #790
@mashuangnong  Can you share the following details?
1) Version of exchange if its an exchance on-prem account
2) Office license details
3) does any of the APIs under [Office.context.mailbox.userProfile](Office.context.mailbox.userProfile) work for you? (like displayName,timezone)?
4) MacOS details
5) Is there a test account that we can try to repro this issue?

[2020-01-07 06:12] mashuangnong commented on #790
@AnjanaValsan    Thanks.
here are details we get:
1. Outlook version
    version: 16.16.11(190609)
![image](https://user-images.githubusercontent.com/24237527/71872680-1eb0ae80-3158-11ea-8158-18e9e3c64f53.png)
2. macOS：
    Mojave
    version: 10.14.6
![image](https://user-images.githubusercontent.com/24237527/71872742-443db800-3158-11ea-952b-347599aff90a.png)
3. Our outlook add-in  only uses the

[2020-01-07 07:42] MandytMSFT commented on #920
@aldaliu the culprit change has been turned off. I have verified your scenario works now from my side. Let me know if you still have this issue. Thanks for your reporting !

[2020-01-07 09:18] SWei1234 commented on #921
@exextoc
Thanks for your reply.
Now I can get the Token and Then call 'getSharedPropertiesAsync'. But I got an error:
'Office.context.mailbox.item.getSharedPropertiesAsync is not a function'
I run the code above on other's calendar who delegate access to me.
my code:

[code]

[2020-01-07 16:11] aldaliu commented on #920
@MandytMSFT @lumine2008 Thank you both for the quick responses and turnaround! Really appreciate it :)

[2020-01-07 23:01] fboterov commented on #923
Hi, Same issue here, any clue?

[2020-01-08 00:02] exextoc commented on #889
There is a known issue with setting recipients via the API and the event returned is not entirely accurate. (as you observed). However, it should be too noisy when the bug happens. i.e. it may return true when nothing has changed, but it should never return "false" when something HAS changed.

The work around is that you could compare recipients before/after between events to find out what has act

[2020-01-08 00:14] exextoc commented on #918
What versions of Outlook 2013 are not working? And which versions ARE working?
 Outlook-15.01.js is actually a very old version of the file, and you may be on versions of Outlook 2013 that are no longer under support. (outlook-15.04.js) is currently the latest.

What I suspect is happening is that the versions of Outlook 2013 that aren't working aren't on the latest Outlook 2013. After automatic u

[2020-01-08 05:54] ukalhapu opened #925 "Word Online: FunctionFile.html does not load if X-Frame-Options SAMEORIGIN header is set"
We are developing Office add-in for Word online. It has defined add-in commands to render custom ribbon.
The server has security setting which set header X-Frame-Options SAMEORIGIN for each resource.
Word online is unable to load the FunctionFile.html.
Browser shows message:
Refused to display '<server:port>/webapp/html/officeapp/app/FunctionFile.html?et=' in a frame because it set 'X-Frame-Option

[2020-01-08 10:23] justdevelopment commented on #923
We see the same issue on multiple tenants. We have a fallback for when SSO doesn't work, but since 13005 is a valid error (no consent) we aren't overwriting this.

We were wondering if perhaps it's related to the changes made for SPFx 1.10? Since that now offers a beta for SPFx in Outlook online and uses some kind of easy authentication flow.
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/of

[2020-01-08 10:56] kandharithirumalreddy commented on #923
Hi Same issue?

[2020-01-08 14:11] exextoc commented on #933
@MicleMing Can you share your add-in's manifest xml?
We can try your add-in and get back with possible solutions.

[2020-01-08 14:16] anilreddyr7 opened #926 "Office.context.mailbox.item.body.getAsync returns error 9020 An internal error has occured"
Since a few days we get an error response 9020 on the call Office.context.mailbox.item.body.getAsync. This code used to work flawless. Is there a Microsoft problem?

## Current Behavior
value: null
status: failed
error: OSF.DDA.Error
  name: GenericResponseError
  message: An internal error has occurred.
  code: 9020

## Steps to Reproduce, or Live Example
function getEmailBody() {
  Office.contex

[2020-01-08 14:31] kotanda commented on #902
Hi,
Do you have any news?
maybe some predictions?

[2020-01-09 00:53] codexeon commented on #923
@richard-peters what is the build number of your Outlook client? The preview API has been updated and provides additional parameters documented here: https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.authoptions?view=excel-js-preview. This particular error looks like Office needs to prompt the user for consent, but it is a silent API by default. You could try passing in

[2020-01-09 01:06] lliu113 commented on #9
@michahell so sorry for getting back to you so late. I tried to repro this in Word (Version 2001, Build 12428.20000) and I was able to successfully reopen the dialog after closing with ESC. Are you still seeing this issue?

Repro steps (I tried with the DocuSign add-in):
- Launch DocuSign
- Click "Log In". Dialog launches.
- Click ESC. Dialog closes
- Click "Log In". Dialog successfully reopens.

[2020-01-09 01:36] lliu113 commented on #128
@macote so sorry for the late response. We currently do not have plans to support 56x56 icons.

If 175% scale is a common user scenario for your add-in, feel free to submit a feature request for 56x56 icon support at https://officespdev.uservoice.com/

Thanks!

[2020-01-09 01:36] #128 closed, assigned to lliu113

[2020-01-09 02:00] lliu113 commented on #201
@raulgg Hey Raul, sorry for the late update response. We investigated the issue, and this is significantly above a bug level fix. For now, this is not a scenario we support (iOS with Google oAuth).

If this is an important user scenario for you, please submit a feature request at https://officespdev.uservoice.com/

Thanks!

[2020-01-09 02:01] #201 closed, assigned to lliu113

[2020-01-09 02:08] lliu113 commented on #220
@TinoDidriksen hey Tino, so sorry for the late response. Is this issue still reproing for you? If so, the easiest way for us to test is by using your add-in manifest. Is this something you're able to provide?

Thanks!

[2020-01-09 02:15] lliu113 commented on #242
@leoseccia hey Leonardo, so sorry for the late response. I tried your repro steps but it looks like the buttons are disabled for me (see attached screenshot).

![github button disabled](https://user-images.githubusercontent.com/6591834/72031914-c60a1000-3242-11ea-9d14-e17ba387a6bc.JPG)

Are you still seeing this issue?

Thanks!

[2020-01-09 02:19] MicleMing commented on #933
Hi, @exextoc  This is my manifest xml
[code]

[2020-01-09 02:32] lliu113 commented on #305
@hengchengfei sorry for the late update. At this point, we do not support defining widths via pixels sizes due to their poor interaction in dynamic DPI scenarios (e.g. when one monitor is high DPI, and another is low DPI and the application moves between them). You can read more about that [here](https://docs.microsoft.com/en-us/office/client-developer/ddpi/handle-high-dpi-and-dpi-scaling-in-your-

[2020-01-09 06:55] SWei1234 commented on #918
Hi @exextoc
Outlook MSO(15.0.5172.1000) 64 bit is work. And on this version outlook.js version is 15.04.
Outlook 2013 version which not working will reply you later.
By the way, I have a question , we all use outlook 2013 why I get outlook_15.04.js but other one get outlook_15.01.js.
what cause this difference? I wonder maybe it's not caused by outlook client version, because our version is close

[2020-01-09 08:34] justdevelopment commented on #923
I'm not Richard but I can add some info from our tenants :)

We see that the same add-in works fine when in Outlook Desktop, but it will give the consent issue when used in Outlook Online (same user). The admin had given correct consent across all users in the tenant before, and we've tried redoing this but it makes no difference. Is this new property you mention needed if an admin has given conse

[2020-01-09 08:42] wuarmin commented on #926
I have the same issue!

[2020-01-09 08:49] anilreddyr7 commented on #926
@exextoc Do you have any idea on this? Is it known issue?

[2020-01-09 09:13] christianecker commented on #923
Our issue is also related to Outlook Online when calling:

`Office.context.auth.getAccessTokenAsync((result) => {
..
});`

from office-js, which has no parameters.

I can confirm to have granted admin consent for openid, profile and preauthorized the office client (d3590ed6-52b3-4102-aeff-aad2292ab01c).

I read that OfficeRuntime is only available to the hosts: Excel, PowerPoint, Word (not mention

[2020-01-09 10:41] leoseccia commented on #242
Hello @lliu113, I haven't got the original test environment anymore.
I tried again on my actual machine (W10 / O365 v16) and I cannot longer replicate...
I am going to close the issue. Thanks for getting back to me.

[2020-01-09 10:41] #242 closed, assigned to lliu113

[2020-01-09 14:22] illiach opened #927 "Outlook for Mac: Office.context.mailbox.item.addFileAttachmentAsync() fails with "Internal Error""
Attempt to add an attachment to an Outlook message in compose mode using method Office.context.mailbox.item.addFileAttachmentAsync() fails with an error.

## Expected Behavior

Attachment should be added into Outlook message without any errors.
--
## Current Behavior

An error occurs:
{code: 5001, message: "An internal error has occured.", name: "Internal Error"}

## Steps to Reproduce, or Live Ex

[2020-01-09 15:20] klimchd commented on #923
Using  OfficeRuntime.auth.getAccessToken instead of Office.context.auth.getAccessTokenAsync solves the issue for Web Outlook (office.com and office365.com domains). The documentation says it doesn't work for outlook.com.
Judging from the documentation, the SSO functionality moved to OfficeRuntime around November 6th
https://github.com/OfficeDev/office-js-docs-pr/commit/e346a42d492c1471beb23c662f5d

[2020-01-09 16:57] sash1350git commented on #923
For me somehow it only works when providing both - allowConsentPrompt, allowSignInPrompt - options, set to true:

`OfficeRuntime.auth.getAccessToken({ allowConsentPrompt: true, allowSignInPrompt: true })`

Only this way it silently resolves the token. Seems like a bug to me =\

[2020-01-09 19:34] christianecker commented on #923
OfficeRuntime.auth.getAccessToken({ allowConsentPrompt: true, allowSignInPrompt: true }) solves it for me also.

For your information:
Before that, I tried the Authorization Code Flow according to https://docs.microsoft.com/de-de/azure/active-directory/develop/v2-oauth2-auth-code-flow as suggested by @richard-peters

First step of calling `/oauth2/v2.0/authorize` worked, second step of calling `/o

[2020-01-09 19:50] exextoc commented on #927
Just to confirm: This issue only happens on Outlook For Mac? And not Outlook for Win32?

Is it possible for you to provide the URL (or similar URL hosted on the same site), for us to test? It would also be interesting to note if ALL files aren't being attached...i.e. if you try to add a file from another domain)

[2020-01-09 20:20] richard-peters commented on #923
@christianecker - We implemented the auth code flow in conjunction with Dialog.UI (to support desktop), which returned the auth code, which was exchanged server side for access tokens (and renewal) - as this was an interactive authorisation request, we didn't get the same exception.

SSO is still in preview, so we weren't comfortable deploying to production.

[2020-01-09 21:34] plamenbotev commented on #926
We experience the same issue.

[2020-01-10 01:20] timwan03 commented on #918
There are very many different versions of Outlook 2013. It is likely that the users experiencing the error are on versions that are old or not supported anymore. (note that It is best to update all of Office and not Outlook). Being on-prem vs office 365, should not affect the outlook.js version loaded. It may however affect which add-ins are supported. As some APIs are not supported by On Prem, an

[2020-01-10 01:23] exextoc commented on #918
There are very many different versions of Outlook 2013. It is likely that the users experiencing the error are on versions that are old or not supported anymore. (note that It is best to update all of Office and not Outlook). Being on-prem vs office 365, should not affect the outlook.js version loaded. It may however affect which add-ins are supported. As some APIs are not supported by On Prem, an

[2020-01-10 01:40] exextoc commented on #912
I've tried this scenario. and what I repro is that the callback for getAttachmentContentAsync is never called. Is this what you mean by "frozen"? Or does the actual Outlook Process Crash?

[2020-01-10 01:45] exextoc commented on #916
Just to clarify, is the issue that the character returned in the format is incorrect? You were expecting: あ but instead got: 縺・n\r\n ?

[2020-01-10 03:13] lindalu-MSFT commented on #926
@exextoc Hi, it looks like several customers are experiencing the same issue. thanks for investigating, lindalu

[2020-01-10 03:19] lindalu-MSFT commented on #926
@exextoc @macOutlookExtensibility Please note that there are also two Stack Overflow unanswered questions about this same issue:

1.  [OSF.DDA.Error 9020 on Office.context.mailbox.item.body.getAsync()](https://stackoverflow.com/questions/59562379/osf-dda-error-9020-on-office-context-mailbox-item-body-getasync)
2.  [Office.context.mailbox.item.body.getAsync returns error 9020 An internal error has

[2020-01-10 03:37] lindalu-MSFT commented on #923
Hi all, I've assigned this to our team to investigate. I'm sure you've already checked the [Troubleshooting error messages in SSO](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins) topic. It might also be a good idea to reach out to the developer community on Stack Overflow (use [office-js] and [outlook-web-addins] tags).

[2020-01-10 03:51] lindalu-MSFT commented on #922
Hi @iromjkee This programming question should be addressed to the developer audience on Stack Overflow. Please use the tags [[office-js] and [ms-word]](https://stackoverflow.com/search?q=%5Boffice-js%5D+%5Bms-word%5D+%2Brange). I believe that someone asked this question already, or something very similar, and it was answered by our SME @JuaneloJuanelo . Please check out [How to Word JS APIs: exten

[2020-01-10 04:12] lindalu-MSFT commented on #921
@SWei1234 Hi, this question was asked on Stack Overflow, see the response to "[Office.context.mailbox.item.getSharedPropertiesAsync is not a function](https://stackoverflow.com/questions/57219732/how-to-try-the-preview-requirement-set-in-officejs)" in How to try the preview requirement sets in OfficeJS. As the [office.context.mailbox.item documentation suggests](https://docs.microsoft.com/en-us/of

[2020-01-10 04:56] exextoc commented on #926
@anilreddyr7 / @wuarmin / @plamenbotev
- Can you check whether there are any other console errors and share it with us?
- Is the API with CoercionType.Text always failing or is it failing with complex HTML content in the body?
- Can you share your add-in with us?

This will help us reproduce the issue on our end.

[2020-01-10 05:44] SWei1234 commented on #921
@lindalu-MSFT Hi, I call this api in a shared calendar, cause I see the api doc say it can support shared calendar.  My workmate had delegated his calendar to me. Am I wrong?
By the way, I see the stackflow say he login with other's account? For example, A delegated his calendar to me then I need login with A's account on Outlook?

[2020-01-10 06:13] SWei1234 commented on #918
Hi @exextoc  Can you show me the minimum version number that support add-in ?  I want to make sure if this problem is caused by Outlook version.

[2020-01-10 08:44] hello-chenchen commented on #917
hi @jargil , do you have any suggestion?
thanks~

[2020-01-10 09:12] glr0221 opened #928 "Previously Working AddIn Is Not Starting Up."
We have developed an addin which had been working really well with your standalone outlook clients. It is a script based taskpane-type addin. Recently,  some of our end users have started experiencing problems during the loading of the addin. I cannot reproduce the same issue on my machine (Windows 10 B1909 and  Office MSO 16.0.12325.20280). I was thinking that this was an issue related to Outlook

[2020-01-10 09:57] hello-chenchen commented on #917
when i execute code like below:
[code]

The Edge DevTools will console log an error result like below:
[code]

But in fact,
I have add domainb.com to my manifest:
[code]
But it is useless for
[code]

[2020-01-10 11:28] plamenbotev commented on #926
@exextoc In our use case, we are loading a mail from the addin in new popup.
After that, we are using the addin in the newly opened popup.
This use case was working properly for us for some time.

1. in any addin, open any message using `window.Office.context.mailbox.displayMessageForm`
2. in the newly opened message open the addin again
3. execute `Office.context.mailbox.item.body.getAsync('text'

[2020-01-10 12:45] clavx commented on #916
@exextoc Yes. Additional investigation into the cause of the garbled characters has revealed that it is caused by the system locale.

![RegionSettings](https://user-images.githubusercontent.com/58804032/72152860-9815fe80-33ef-11ea-9853-ebc7c91d0afe.png)

In case of Japanese locale setting, the contents of UTF-8 character code is output as the contents of Shift_JIS character code and garbled charac

[2020-01-10 12:57] clavx commented on #912
It means that `getAttachmentContentAsync` is never return. The Outlook process does not crash.

[2020-01-10 15:53] illiach commented on #927
@exextoc , yes this issue only happens on Outlook For Mac. Outlook for Win32 is not affected.
All files aren't being attached.
I will check if we can provide the URL to test.

[2020-01-10 16:23] AlexJerabek commented on #928
Thanks for reporting this @glr0221.

This seems like a product issue, so I'll transfer this to the appropriate repo. @exextoc, can you investigate?

[2020-01-10 19:29] sourabhkrishna opened #929 "Pattern match in outlook attachments"
how to perform pattern matching in Outlook attachments (Docx , pptx etc) while sending an email using office js

the getAttachmentContentAsync does get the file contents , but in base64 . how can I perform a simple search and modify content (highlight) before the mail is being sent.

[2020-01-10 19:31] exextoc commented on #918
All versions of Outlook 2013 should support Add-ins in some state. But different features were enabled at different times. There is no table that associates certain versions with features, as if you have components that are different versions. (i.e. you upgraded Outlook, but not MSO or Word), then those features are also not enabled. For example, Outlook 2013 15.0.4805.1000 is the first version th

[2020-01-10 19:42] exextoc commented on #916
Thanks, we can repro the bug. I've added it to the product team's backlog but I cannot comment on a timeline for when or if the bug will be fixed.

[2020-01-10 19:43] exextoc commented on #912
Thanks, as mentioned, we can repro the bug. I have added this bug to the product team's backlog, but I cannot comment on when or if the bug will be fixed.

[2020-01-10 19:50] exextoc commented on #928
Usually bugs like this mean that your add-in hasn't even been loaded yet.

- On customer machines that are failing, do ALL add-ins fail to load or just yours

- What versions of Outlook/Windows are the failing machines on?

If they are failing on IE, then it could be they have IE settings that are preventing the add-in from being reached/loaded. (see https://docs.microsoft.com/en-us/office/trouble

[2020-01-10 19:56] exextoc commented on #929
It may be helpful if you describe your scenario to better understand what solutions there are.

getAttachmentContentAsync does return to you results in base64. Could you convert it and search for the information that you want?

There is no way to highlight text in a compose body. You cannot modify an attachment, but you could remove and replace it.

[2020-01-10 20:01] lindalu-MSFT commented on #917
@hello-chenchen You might also try asking this question to the Outlook developer community on Stack Overflow. Use the tags [office-js] and [outlook-web-addins]. I did a search on [AppDomains ](https://stackoverflow.com/search?q=%5Boffice-js%5D+%5Boutlook-web-addins%5D+AppDomains)and found a few questions that might have the answer, or you can ask a new question. Let me know if you find out anythin

[2020-01-10 20:25] sourabhkrishna commented on #929
Use Case: Search the email attachments for some sensitive words and highlight them.
I tried using below snippet code in my outlook addin

Word.run(function (context) {
		var myNewDoc = context.application.createDocument(content);
		context.load(myNewDoc);
}

But got an error saying Word is not defined.
How can I convert base64 and perform a search using browser context ?

[2020-01-10 20:48] exextoc commented on #929
Unfortunately, Word Office JS functionality is not supported within Outlook JS.

Can you use atob() to convert the attachment to something you can decipher/change? Then use bota() to convert it back to base64 and use addFileAttachmentFromBase64Async() to add it back? This would work for simpler types of attachments (like text files). I am not sure it will work for Word / PPT Attachments. You may n

[2020-01-10 22:02] ghost commented on #932
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-11 00:59] lindalu-MSFT commented on #921
@SWei1234 I'm not technical enough to help out here which is why I suggest you ask seasoned programmers on Stack Overflow. I know our Outlook developers answer there as well. We'll keep this issue open until you find a resolution! Thanks, linda

[2020-01-11 15:25] Andrew-AnalysisPlace commented on #235
Every week I still have a couple new Mac customers report this issue. Please provide an update. When should I tell my customers this should be fixed?

[2020-01-11 20:06] jargil commented on #917
@hello-chenchen - could you please share your manifest and if possible the full snippet of the code where you call the dialog API?

[2020-01-12 18:16] exextoc commented on #927
We are not able to reproduce the issue mentioned, it will be helpful if you can share the url used.

[2020-01-12 18:22] exextoc commented on #926
Thanks for reporting this issue regarding body.getAsync() in pop out window. It has been put on our backlog. We unfortunately have no timelines to share at this point
 

[2020-01-12 18:35] exextoc commented on #921
@SWei1234 Once person A delegates his/her calendar to person B. B will have to add A's calendar to Outlook, then signing into B's account, you can view both B's calendar and A's delegated calendar.

Now from B's account, when you are trying to access A's delegated calendar getSharedPropertiesAsync will  be applicable.

Is this is the scenario you are trying?

[2020-01-13 01:49] SWei1234 commented on #921
@exextoc Yes, that's exactly what I'm doing.  And I create an event on A's calendar then try to use getSharedPropertiesAsync  and only get 'not a function' error.

[2020-01-13 02:00] ghost commented on #670
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-13 02:00] ghost commented on #9
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-13 03:00] ghost commented on #220
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-13 03:11] hello-chenchen commented on #917
hi @jargil ,
this below is the briefly version for manifest xml.
[code]

And  the full snippet of the code is:
[code]
execute the above code in Edge Devtools on:
[code]
you can repro this bug.

**As i have said that, this above code worked for mac, win10 1803, 1703, but for win10 1903 and Outlook client: Verison 1911 which use edge browser engine is not work**

[2020-01-13 03:14] hello-chenchen commented on #917
hi @lindalu-MSFT , thank you for your suggestion.
i will search more careful on stackoverflow again.
thanks a lot.

[2020-01-13 07:43] ruei-yu-yang commented on #932
Hi @AlexJerabek ,
    My Excel Version is 1912(Build 12325.20288).
Thank you for your kind assistance.

[2020-01-13 10:45] Rinzwind opened #930 "Creating and activating a worksheet doesn't work for the first sheet in Excel Online"
When executing the following snippet in a new workbook in Excel Online, the first time the created sheet is not activated. After the first time, the created sheets are activated as expected. This seems to be specific to Excel Online, in Excel for Mac, the created sheet is also activated the first time as expected.

[code]

A complete ScriptLab snippet is provided below. With a new workbook, pressi

[2020-01-13 14:56] cbishop-fv commented on #926
I am also having issues with Office.context.mailbox.item.body.getAsync returning error 9020.

Mac Outlook desktop client is fine both standard inline view and popout.
Mac Chrome in composing context is fine both standard inline view and popout.
Mac Chrome in reading context inline view returns the error often but on occasion passes.
Mac Chrome in reading context with the email in a new window retu

[2020-01-13 15:52] TinoDidriksen commented on #220
Appears this has been fixed in the meantime, either in iOS or in Word. A testcase https://retmig.dk/gas/ojs220/ojs220.xml ( https://retmig.dk/gas/ojs220/ ) works as I want on an iOS 13.3 iPad with newest Word app. The `target="_blank"` link from the popup now opens in an external browser, as it should. This did not happen at the time I filed the bug.

On my old iOS 10.3 iPad it exhibits the broken

[2020-01-13 15:52] #220 closed, assigned to lliu113

[2020-01-13 16:33] Rinzwind opened #931 "Setting cell to a formula copying an empty cell has different results on Excel for Mac and Excel Online"
The ScriptLab snippet given below has different results on Excel for Mac and Excel Online. The button “Create Sample Worksheet and Table” sets up a sample table with one column, and two data rows. On the first data row, the cell is empty, and on the second row, the cell contains “abc”. The button “Add Formula Column” adds a second column with a formula that just copies the first column. The button

[2020-01-13 17:07] lukchen commented on #864
Hello @lumine2008 @slabereemsft , just want to check what's your team's decision on this: is it doable and can be developed?

[2020-01-13 20:02] lindalu-MSFT commented on #933
@exextoc Should this issue be closed here and reopened in the office-js repo?

[2020-01-13 20:10] AlexJerabek commented on #932
Thanks @ruei-yu-yang. That build should have the `Comment.add` API. I'm going to transfer this issue to the product repo for further investigation.

[2020-01-13 20:11] AlexJerabek commented on #932
Assigning @catchingyu for further investigation.

[2020-01-13 20:43] kbrandl commented on #933
I've transferred this issue to the **OfficeDev/office-js** repo.

[2020-01-13 20:50] DC959 commented on #867
Having the same issue here, not entirely sure if circumstances are the exact same, but sounds similar.

Using dialog api in outlook, IE 11 webview would happily use the integrated authentication to log into an azure sso application using the correct url, but in edge webviewer the page tries to redirect to the sign in screen instead of using integrated authentication causing the add in to not sign

[2020-01-13 20:52] codexeon commented on #923
@sash1350git could you let me know what host you are having this issue? Is this Outlook win32/mac/web? Regarding Office.context.auth.getAccessTokenAsync and OfficeRuntime.auth.getAccessToken they should both be supported. If it only works passing allowConsentPrompt: true, allowSignInPrompt: true and not empty params, but no prompt shows, this sounds like a bug.

[2020-01-13 21:04] richard-peters commented on #923
@dsaunders45459 - I was experiencing the issue on Outlook mac & web (Office 365) - monthly build.

[2020-01-13 22:13] cidev5 opened #934 "Excel Custom Functions: API Calls Timing Out After 60 Seconds"
Our API needs longer than 60 seconds to complete some requests for custom functions, but there seems to be a limit of 60 seconds for completing API requests, after which requests fail. There is nothing specified on our end to cause requests to fail after 60 seconds, and setting timeouts on XMLHttpRequest does not fix this behavior. Is this a known limitation on custom functions, and is it possible

[2020-01-14 01:14] xiaochunms commented on #934
@dawid84 sorry for the inconvenience. May you please provide more information that can help us to debug? The information includes:
1. The platform runs when your API calls Custom Functions, is it Desktop or Excel Online?
2. May you please share some code snippets that we can know more about your scenario?

[2020-01-14 02:06] lapnd opened #935 "My Add-ins menu on Insert Ribbon Tab is disabled when opening xls file"
**My Add-ins** menu on Insert Ribbon Tab is disabled when opening xls file
## Expected Behavior

My Add-ins menu on Insert Ribbon Tab is enabled to select and activate add-ins to work with xls files

## Current Behavior

- Opening xlsx file: My Add-ins menu on Insert Ribbon Tab is enabled, everything work fine
- Opening xls file: My Add-ins menu on Insert Ribbon Tab is disabled, the add-ins can no

[2020-01-14 02:52] lumine2008 commented on #930
Thanks @Rinzwind  I can repro this issue, the team is investigating this issue,
A bug 3886599 was created to track this issue

[2020-01-14 03:00] lumine2008 commented on #931
Thanks @Rinzwind , i can repro this issue, our team is investigating on it.
a bug 3886601 was created to track this issue.

[2020-01-14 04:00] ghost commented on #925
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-14 05:13] exextoc commented on #926
Do you have any test account to reproduce this issue?

[2020-01-14 05:20] cidev5 commented on #934
Answers:

1. Desktop has the issue we are describing. Excel Online works correctly.

2. We are using `fetch`

[code]

[2020-01-14 09:44] glr0221 commented on #928
@exextoc @AlexJerabek

Thank you for your quick replies. There are currently at least 2 client-companies affected by the issue. I am collating all the data so please give me some time. Thanks again.

[2020-01-14 09:53] Anishmourya commented on #926
![Capture](https://user-images.githubusercontent.com/6560320/72332854-b52e2400-36b2-11ea-8b73-d7b2ac9d9baf.PNG)
value: null
status: failed
error: OSF.DDA.Error
  name: GenericResponseError
  message: An internal error has occurred.
  code: 9020
It is not working for my running app which been working from a long while. suddenly stopped and throwing an error I mentioned above.

[2020-01-14 11:13] lumine2008 commented on #235
Hi @Andrew-AnalysisPlace , I am very sorry about the experience of this issue, our team has done investigation, and tried to fix the issue, however, the code didn't check-in, because based on team's investigation, this is a not bug level fix, it would lead to other potential issues. so although this is a bug, but we treat it more like adding a new feature. As it take much longer time than we expec

[2020-01-14 11:42] ciaran-vox opened #936 "getOoxml on table leaves permanent selection highlight on page in Word"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
When getting the Ooxml of a table, the word document does not change to include a permanent blue selection highlight

## Current Behavior
While I can get the ooxm

[2020-01-14 11:47] sash1350git commented on #923
@dsaunders45459 - web version, and yes, that's correct:

[2020-01-14 11:54] xiaochunms commented on #932
@ruei-yu-yang Sorry for the inconvenience. May you please provide more information that can help us for debugging the issue?
1. Code snippet to repro the issue,
2. It would be great to have some screen snapshots that can help us to understand the issue,
3. Add try... catch block to catch errors if there is any

[2020-01-14 12:25] Anishmourya commented on #926
I replicated above issue on "Office 365 E3" based accounts, while its working fine on "Office 365 Business Essentials" based accounts.

[2020-01-14 14:47] cbishop-fv commented on #926
I am using a free outlook account to test.

[2020-01-14 18:01] Andrew-AnalysisPlace commented on #235
Thanks for the update @lumine2008
Our add-in is https://appsource.microsoft.com/en-us/product/office/WA104380955
Customers use it to update content (such as images of ranges) in Word or PowerPoint based on content in Excel. Here are customer scenarios (use cases): https://analysisplace.com/Use-Cases.
For example, in our add-in, if you "Insert Sample Content" in Excel and insert/view the {Chart:Sta

[2020-01-15 01:18] exextoc commented on #929
We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning process.

[2020-01-15 01:18] #929 closed, assigned to nobody

[2020-01-15 01:25] exextoc commented on #928
Thanks. We will wait to hear back from you.

[2020-01-15 01:52] #889 closed, assigned to exextoc

[2020-01-15 02:31] jargil commented on #917
<AppDomain>*.zoom.us</AppDomain> is an invalid entry in your manifest.
Wildcards are not supported and I'm actually surprised if this actually worked on Mac or other builds of Windows. Most likely the next line is not getting parsed. Try removing that entry in your manifest and try again. Let me know, if that doesn't fix your problem then I'll try to repro locally.

[2020-01-15 02:54] hello-chenchen commented on #917
hi @jargil ,
i removed <AppDomain>*.zoom.us</AppDomain>, But it seems that the same behavior.
Please try to repro on your site,  appreciated that. thank you so much.

[2020-01-15 02:55] hello-chenchen commented on #917
![image](https://user-images.githubusercontent.com/1878089/72400891-8a60d000-3785-11ea-8a36-6e499ed2d295.png)

Bug version.

[2020-01-15 05:06] hello-chenchen commented on #917
hi @jargil ,
for repro this bug, please execute the snippet code on the task pane which tag is  **messageReadTaskPaneUrl**

[2020-01-15 10:10] Rinzwind commented on #931
Here’s some additional observations. When I change the formula that is set in `addColumn` to:

[code]

Then cell B2 is “FALSE” in Excel for Mac, and “TRUE” in Excel Online.

When I then also change the order of the assignments to `numberFormat` and `values` in `createWorksheet` to become:

[code]

Then the difference disappears: cell B2 is “TRUE” in Excel for Mac as well as in Excel Online.

[2020-01-15 10:53] xiaochunms commented on #934
Thanks for the information. Good to know Excel Online works correctly. From your code snippet, is the "**makeApiRequest**" the custom functions who fails in Desktop due to the execution time longer than 60 seconds? Could you please explain a little bit more about your scenario, such as how the return result of **makeApiRequest** used? Screenshots are also helpful too.

[2020-01-15 11:40] duncan-smith-bj opened #937 "EWS ExpandDL operation always fails saying it is unavailable."
I am using a Mail Add-in hosted in OWA.

During the OnSend event, I need to expand any distribution lists on the message to get the members they contain. When I try to do this through EWS using the ExpandDL operation it always fails with the error:

**_The requested web method is unavailable to this caller or application._**

I have tried hosting the Mail Add-in in Exchange 2016, Exchange 2019 and

[2020-01-15 13:11] vputsenko opened #938 "Project: OfficeJS Office.context.document.getTaskFieldAsync fails on some important fields."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi guys,
I'm blocked with calling [getTaskFieldAsync ](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview#gettaskfieldasync-taskid--fieldid--c

[2020-01-15 13:20] kakusharma opened #939 "Security Popup in Outlook For Mac latest build every time I open a Contextual Add-In"
Everytime I click on the highlighted text to open the contextual Add-In, I get a popup with heading "Microsoft Office Potential Security Concern", asking me to allow the action. This same behavior is happening for in-built Add-Ins as well (Bing Maps for example). Once I click on "Yes", the Add-In window opens up and works fine. Now if I click on the highlighted text again, the same popup comes, ag

[2020-01-15 23:21] hjkim-MSFT commented on #834
Thanks for reporting this issue. Microsoft identified the problem and we're working on the right fix. We will update you again once a fixed build is ready.

[2020-01-16 02:01] ghost commented on #670
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-01-16 02:01] #670 closed, assigned to lliu113

[2020-01-16 02:01] ghost commented on #9
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-01-16 02:01] #9 closed

[2020-01-16 04:22] glr0221 commented on #928
@exextoc @AlexJerabek

Sorry for the delay. This is the best set of data we have gathered so far :

1 Company with over 60 clients are affected
=================
1. It looks like it is not happening on a domain-wide basis.
2. It does not seem to be an issue of Windows 10 version. As it has been reported to happen on Windows 10 builds 1803, 1809, 1903 and/or 1909.
3. It is not just our addin, but h

[2020-01-16 08:00] betheman commented on #108
Is there any way to password encrypt an excel using office js.

[2020-01-16 10:27] TobiasWolters commented on #874
The issue was solved properly by following the newly added documentation at: https://docs.microsoft.com/en-us/office/troubleshoot/error-messages/cannot-open-add-in-from-localhost

[2020-01-16 10:27] #874 closed, assigned to nokafor, LouMM

[2020-01-16 10:47] rudzon commented on #926
We experience the same issue across environments.
We call `Office.context.mailbox.item.body.getAsync` only in one place in the code.

The error code can be different:
* `9020 GenericResponseError` - chrome, firefox, opera
* `5001 Internal Error` - edge, ie
* `9030 APICallFailedDueToItemChange` - apple mail

We've tried to do retries every 1 second. And it seems to fix it in 13% of cases for the fi

[2020-01-16 18:10] erayc-msft commented on #935
Hello -- thank you for your feedback.  Currently the feature: My Add-ins support for XLS files, is not part of the product.  We track Office Add-in feature requests on our [UserVoice page](https://officespdev.uservoice.com/).  Please add your request there.  Feature requests on user-voice are considered when we go through our planning process.
Thanks, Office Platform team

[2020-01-16 18:10] #935 closed, assigned to nobody

[2020-01-16 20:02] ghost commented on #927
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-17 02:09] hello-chenchen commented on #917
submit a new stackoverflow issue, https://stackoverflow.com/questions/59727882/outlook-client-add-ins-links-and-js-redirects-to-other-domain-open-a-new-brows

[2020-01-17 03:35] glr0221 commented on #928
@exextoc
Probably linked to this : https://github.com/OfficeDev/office-js/issues/902

Just a quick update, it turns out this is not related to the above ticket.

[2020-01-17 03:36] glr0221 commented on #902
this is also happening in outlook?
please check this out : https://github.com/OfficeDev/office-js/issues/928

[2020-01-17 05:00] ghost commented on #925
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-01-17 05:00] #925 closed, assigned to lindalu-MSFT

[2020-01-17 05:28] asith-w commented on #626
i am getting same error when calling Office.context.roamingSettings.saveAsync with OWA [i have asked question also ](https://stackoverflow.com/questions/59768040/genericsettingserror-when-calling-office-context-roamingsettings-saveasync)

[code]
[code]

[2020-01-17 06:23] ukalhapu commented on #925
could you please re-open it ?

[2020-01-17 06:23] ukalhapu commented on #925
pls some take look ?

[2020-01-17 10:11] jjtfsalgado commented on #795
May I ask whats the reason to target just Office 365 subscriptions? Most of our customers are complaining about that fact. The majority of them don't use Office 365 and put us in this limbo where we have an add-in but nobody can use it. It's a big constrain for us.

[2020-01-17 10:41] 4tti commented on #795
@jjtfsalgado : FYI there's closed user voice with 150 votes https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/36915445-provide-update-for-retail-version-of-office-2019

[2020-01-17 10:45] jjtfsalgado commented on #795
@4tti thanks for letting me know

[2020-01-17 12:07] betheman opened #940 "Encrypt excel with password using office js"
I'm creating an Excel add-in using office js. I want to encrypt excel with a password using office js. I know how to do this using macro but I need to do this using office js only.

[2020-01-17 12:52] harri-rajala-koivu-solutions commented on #740
Any update?

[2020-01-17 15:33] illiach commented on #927
@exextoc , please use the following URL:
https://mm-litify-addin.smartcloudconnect.io/ExternalFiles/DownloadDocument/eb42da3d-d106-ea11-9c2b-3ca82a1e3f41/0612edf4-01ea-45d5-82d1-d2b99d5a0b8c/su25-2.jpg

[2020-01-17 18:03] jargil commented on #917
@hello-chenchen - sorry for the delay.
The problem is with the way you specified your AppDoimains.

Today you have this:
[code]

Your first two entries are invalid:
- You have to specify protocol.
- You cannot use wildcards.

Please fix it to something like this:
[code]
![image](https://user-images.githubusercontent.com/10125816/72634651-d3dd2680-390f-11ea-9d66-af3fd417c50e.png)

You should see th

[2020-01-17 19:59] erayc-msft commented on #940
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code. We typically suggest going to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) <change tag if appropriate> and see if your question has already been asked or ask a new question; and it looks like you've done so already.

Thanks, Office P

[2020-01-17 19:59] #940 closed, assigned to lumine2008

[2020-01-17 20:11] fds-ssg opened #941 "Excel on the web: Error trying to copy cell with custom function"
## Expected Behavior
Copy operation succeeds

## Current Behavior
Error dialog appears.  Message:
[code]

## Steps to Reproduce, or Live Example
* Additional details:
The affected cell contains a formula with a custom function.  **Note that the issue occurs whether our add-in containing the custom function is loaded or not.**

* To repro:
  1. Open attached file
[Book 47.xlsx](https://github.com/O

[2020-01-17 21:45] Greg-Hitchon commented on #770
Also getting this issue. Have not tried the @TCourtneyOwen  fix.

[2020-01-18 00:00] ghost commented on #918
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-18 00:36] lindalu-MSFT commented on #918
@exextoc Can we close this issue? If I closed it too soon, feel free to reopen!

[2020-01-18 00:36] #918 closed, assigned to exextoc

[2020-01-19 06:14] SWei1234 opened #942 "[Outlook add-in] After update windows , dev tool not work any more, any recommend?"
After update windows to 1903 , dev tool(IEChooser) can't debug outlook client add-in any more.
Can microsoft recommend a debug tool?

## Expected Behavior

Have a tool can debug add-in in Outlook Client windows.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: ______
* Operating System: windo

[2020-01-19 09:18] hello-chenchen commented on #917
hi @jargil ,
Got it. thank you so much for your help.
On the last few days, i just remove
[code]
, But not change
[code]
 to
[code]
I appreciated for your help again.
have a good day.

[2020-01-19 09:18] #917 closed, assigned to jargil

[2020-01-19 10:41] RuoyingLiang commented on #941
Thanks for the reporting. We can repro it and start to investigate. Will update here once we have result.

[2020-01-19 10:42] RuoyingLiang commented on #902
#928 should not be the same issue as this one is because the VS launched add-in had issue at some build.

[2020-01-19 10:42] #902 closed, assigned to RuoyingLiang

[2020-01-19 20:17] exextoc commented on #927
Hi, we're able to reproduce this bug with the URL you've provided. It only seems to happen for this particular URL. We are working on fixing this issue, but unfortunately we don't have any timelines to share at this point.

[2020-01-19 21:21] exextoc commented on #937
Hi, we are able to reproduce this on Outlook Web. Thanks for reporting this issue. We're working towards fixing it, but unfortunately don't have timelines to share at this point.

[2020-01-20 03:30] lumine2008 commented on #931
Thanks @Rinzwind , I have added the additional information to the bug, thanks for your support

[2020-01-20 03:34] lumine2008 commented on #108
Sorry @betheman , we don't provide password encrypt at API level due to encrypt workbook cannot be opened in excel online.

[2020-01-20 03:43] lumine2008 commented on #190
Hi @nikolay-borzov , You could use  `worksheets.load("items");` to load the array.

[2020-01-20 04:16] lumine2008 commented on #473
Hello @wcx11 , would you please validate this issue again, i cannot repro this issue anymore, please let us know if you still repro the issue. thanks.

[2020-01-20 08:08] betheman commented on #108
@lumine2008 is there any way we can protect **excel data** using office js.I just need only for desktop version.

[2020-01-20 09:04] exextoc commented on #942
We have some documentation here:
https://developer.microsoft.com/en-us/outlook/blogs/microsoft-edge-webview-for-office-add-ins/
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

These talk about using the [Microsoft Edge DevTools](https://www.microsoft.com/p/microsoft-edge-devtools-preview/9mzbfrmz0mnj?rtc=1&activetab=pivot%3Aoverviewtab) for debuggi

[2020-01-20 09:20] exextoc commented on #921
We are able to reproduce this issue on Outlook Web. Thank you for reporting this bug. We are working on fixing it. However, we do not have timelines to share at this point.

[2020-01-20 11:29] RuoyingLiang commented on #941
The fix is ready. Will update here once it's hit production. Bug 3896521 is tracking it.

[2020-01-21 08:35] lumine2008 commented on #940
Hello @betheman,  I am sorry office.js current do not provide the password protection in file level, because Excel Online does not support Password feature. When the workbook encrypted in win32, and Excel online cannot open it. So we will support after Excel Online support password feature.

You could submit your request in uservoice and upvote for this feature for Excel online at https://officesp

[2020-01-21 08:43] lumine2008 commented on #932
@ruei-yu-yang, we could not locate the issue you described in your post, so it would be great if you could share the gist and then we can do some investigation in our side. thanks

[2020-01-21 13:54] sourabhkrishna opened #943 "Outlook: OnSend add-in is not sending appointments on first attempt"
OnSend Add In for Meetings/Appointments doesnt send in the first call

## Expected Behavior
When I click send on my OnSend Add-In popup , the appointment needs to be sent.

## Current Behavior
But I'm having to trigger the addin twice and it creates 2 events in my calendar,
First event is just saved while second event is actually send.

## Steps to Reproduce, or Live Example
Attached the video rep

[2020-01-21 17:13] ElizabethSamuel-MSFT commented on #817
@exextoc Any update on this issue? Thx.

[2020-01-21 17:26] ElizabethSamuel-MSFT commented on #944
@Vrushi007 Thanks for providing this info. I'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2020-01-22 01:20] exextoc commented on #928
Were you able to determine whether [IE configuration](https://docs.microsoft.com/en-us/office/troubleshoot/error-messages/apps-for-office-not-start) was causing an issue for some of the users?

Note that starting in Office version 16.0.11629, [Edge WebView replaces IE](https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/) within Outlook for users running Wi

[2020-01-22 06:39] glr0221 commented on #928
@exextoc

Yes, our clients did the workaround.
Thank you very much. I will send your instructions to our client. I will ask them to send a feedback to send some diagnostics your way. And include the url for this ticket if that helps. Thank you very much.

[2020-01-22 09:01] csreddyennam opened #945 "Excel: On recent office upgrade we are unable to see the sharedfolder"
Issue details:
Open Excel:
In Menu, Go to Insert (Menu) -> Get Add-ins -> Office Add-ins (Under shared Folder) we are unable to see the shared path.
-	We could see the shared path before update excel.

Excel details: (After upgrade)
Microsoft Office Professional Plus 2019
Version 1912 (Build 12325.20288)
Microsoft Excel 2019 MSO (16.0.12325.20280) 32-bit

OS Details:
Windows 10:
OS: Version 1903
T

[2020-01-22 10:12] exextoc commented on #943
Would you be able to send either your add-in or a simplified version of it, along with whatever else I might need to repro the issue? The demo add-ins I have all still work with OnSend so I need more information to repro.

[2020-01-22 22:23] amiram opened #946 "Type definition of RecipientsChangedEventArgs is wrong"
## Expected Behavior
When you get the RecipientsChanged event in outlook, the object looks like:
[code]
## Current Behavior
In the ts definition file, the RecipientsChangedEventArgs looks like:
[code]

I can make a pull request to fix the ts file if you'd like me to.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
*

[2020-01-23 05:40] sourabhkrishna commented on #943
Sure . PFA the sample onSend App with manifest.
[onSendSampleAddin.zip](https://github.com/OfficeDev/office-js/files/4101528/onSendSampleAddin.zip)

Here is the scenario , it would fail. When I click send I'm performing an saveAsync inorder to use the getCallbackTokenAsync method. I need this token for my custom API to talk to Exchange server using EWS API to fetch mail/appointment details on the

[2020-01-23 08:03] ndeeH opened #947 "PowerPoint: content add-in not interactive in presenter view"
We have a **PowerPoint content add in** in the store and a customer wants to interact
with the add in in the **presenter view** (the black control screen when using two monitors).
Interacting in the "presented" view (second monitor) is possible.
He argues that he can interact with other PowerPoint controls like a video which he can start via the presenter view.

## Expected Behavior
The add in sho

[2020-01-23 10:40] Sankledar opened #948 "Outlook: Office.context.mailbox.item.cc and Office.context.mailbox.item.to returns only 20 email addresses in OWA"
Office.context.mailbox.item.to and Office.context.mailbox.item.cc returns only 20 email addresses for each field if add-in was opened in Email with more than 20 emails in each of these fields.

## Expected Behavior
https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-1.1#to
https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook

[2020-01-23 11:04] vputsenko commented on #938
Hi, any updates here?

[2020-01-23 11:05] ciaran-vox commented on #936
UPDATE: I previously said this does not occur on Windows, but it does. On Windows I was using Word version 1904 (Build 11601.20230) and this issue was not there. After an update (Windows not being my main environment) to Version 1912, the issue then presented itself. I've updated the issue title and initial post to reflect this.

UPDATE 2: I kept reverting back Office versions until the issue disa

[2020-01-23 18:51] DannyHinshaw opened #949 "Inserting Content Control Inside Chart Title Text Removes Chart"
I have a chart element on a Word doc. When I select the chart title text to edit and then try to insert a content control, it removes the entire chart instead of just adding a content control.

## Expected Behavior

It should handle inserting content control within chart title.

## Current Behavior

It replaces the entire chart element with only the user inserted content control.

## Steps to Repr

[2020-01-23 19:15] BrendanJiang opened #951 "Comment of "timeZone" is obviously wrong"
It's an obvious copy error by commenting "timeZone" as "Gets the user's SMTP email address.".

In fact I'd like to know what time zone ID this property shows, Windows, Rails, or Iana. Could you please specify this as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ddf3ef-2ff6-0046-19a4-191578b09135
* Version Ind

[2020-01-23 19:32] AlexJerabek commented on #951
Thanks for reporting this @BrendanJiang. Assigning @ElizabethSamuel-MSFT to investigate and address the content issue.

[2020-01-23 23:08] cidev5 commented on #934
`makeApiRequest` is used in each custom function to make the API request.

Here is an example custom function that has all the relevant parts of this method.

Please note the line `const response = await fetch(requestUrl);`

[code]

Result:

The cell will display `#BUSY!`
Until it errors out
Then it displays `error: Network request failed`

This is contingent on the call taking longer than 60 seco

[2020-01-23 23:57] exextoc commented on #944
I attempted to reproduce this, and in both localhost and in production, I never saw a `#` in the requested URL. This is because the `#` (or _fragment_) part of the URL is never included in a request to a web server and is only seen locally by the web client.

Once `taskpane.html` loaded, I also verified that `location.hash` in JavaScript returned the last part of the URL (i.e. `#cc/0`).

Could you

[2020-01-24 01:40] markdon commented on #369
The name for this issue could be improved. This has been answered on [StackOverflow](https://stackoverflow.com/users/7968093/mac-outlook-extensibility) so _could_ be closed if that is going to be the end of it.

However it does seem like an issue to me that Outlook on Mac fails to show any of the buttons that are supposed to be in a Custom Tab. Outlook on web shows buttons from all Custom Tabs col

[2020-01-24 05:33] exextoc commented on #948
Hi, we were able to repro this issue. Thanks for reporting. We, however have no timelines to share at this point. It has been put on our backlog.

[2020-01-24 10:00] ghost commented on #942
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-24 17:57] lindalu-MSFT commented on #945
@lumine2008 @keyur32 @Reezaali Hi, can you please address this issue? The customer reports that he cannot see the shared path after upgrading. Is this anything that is known or can be repo'd?  Please assign accordingly if necessary! Thanks, linda

[2020-01-24 18:00] lindalu-MSFT commented on #946
@amiram Hi, thanks for bringing this to our attention! Yes, please do fix and open the PR and I'll assign to our SME to verify. We really appreciate you taking the time to fix and bring to our attention!

[2020-01-24 18:10] lindalu-MSFT commented on #947
Hi @weird-dreams Thanks for your question!  I've assigned this issue to one of our PowerPoint SME's hoping they can assist. Meanwhile, I suggest that you try contacting the developer community on Stack Overflow. You can use the tags [PowerPoint] or [office-js] or [both]([powerpoint] [office-js]).

[2020-01-24 18:22] lindalu-MSFT commented on #948
Hi @exextoc Thanks for updating the customer about this issue. Question for you: until this is fixed, should I make an update to the documentation?

[2020-01-24 18:32] lindalu-MSFT commented on #949
Hi @DannyHinshaw Thanks for your question! Charts are actually part of Excel, and I think you'll have better luck asking this question to the Excel developer community on Stack Overflow. You can use the tags [office-js] and [excel]. In fact, I think that this question has already been asked there, see "[Inserting a ContentControl into a chart](https://stackoverflow.com/questions/50041795/inserting

[2020-01-24 18:32] #949 closed, assigned to nobody

[2020-01-24 22:41] ElizabethSamuel-MSFT commented on #951
@BrendanJiang I'll submit a PR soon to update the property description.

@exextoc Can you address the question about the timeZone?

We can make further doc updates as needed.

Thanks.

[2020-01-24 23:21] BrendanJiang commented on #951
Thanks for following it up Elizabeth!

As you know there’re a few time zone formats, such as Windows, Iana, Rails etc. An example “Pacific Standard Time” will be shown as the following strings in each format:
1) Windows:
"Pacific Standard Time"
2) Iana<https://en.wikipedia.org/wiki/List_of_tz_database_time_zones> (used by Linux):
"America/Los_Angeles"
3) Rails<https://github.com/rails/rails/blob/m

[2020-01-25 00:12] lindalu-MSFT commented on #938
Hi @vputsenko I'm not sure who is our subject matter expert on the Project area crew. @Rick-Kirkham @erayc-msft Do either of you know a Project eng who can help with this issue?

[2020-01-25 00:13] exextoc commented on #946
@amiram Thanks for reporting this issue. This is definitely an omission.

The event will return different properties depending on whether the item is a message or a calendar item. Because of this, I believe the simple fix will be to add both sets of properties to the type. So if you do submit a PR, when adding to, cc, and bcc, please keep the existing properties too.

@ElizabethSamuel-MSFT The doc

[2020-01-25 00:15] lindalu-MSFT commented on #938
@vputsenko Meanwhile, you can try asking your question on Stack Overflow. You might find someone in the Project developer community. Use the tags [office-js] and/or [ms-project]. I did find a few questions about [getTaskFieldAsync ](https://stackoverflow.com/search?q=%5Boffice-js%5D+getTaskFieldAsync)that might help.

[2020-01-25 02:07] exextoc commented on #928
@glr0221 Thanks for the update. Do you mean that the suggested fix resolved the issue, or that the issue persisted after the workaround was implemented?

[2020-01-25 03:19] #868 closed, assigned to lliu113, exextoc

[2020-01-25 04:22] exextoc commented on #658
A fix for this issue was made in the Android Outlook client and should now be resolved. Thanks.

[2020-01-25 04:22] #658 closed, assigned to exextoc

[2020-01-25 04:31] exextoc commented on #501
Let's use #652 to track the issue in iOS.

Reviewing this thread, it sounds like sync across other clients is working as expected.

[2020-01-25 04:31] #501 closed, assigned to exextoc

[2020-01-25 04:56] exextoc commented on #347
Thanks for your patience. A fix for this issue has been deployed.

[2020-01-25 04:56] #347 closed, assigned to exextoc

[2020-01-25 05:21] exextoc commented on #822
A fix for this issue was deployed at the end of November last year.

[2020-01-25 05:21] #822 closed, assigned to exextoc

[2020-01-25 05:31] exextoc commented on #652
Thanks again for reporting this issue. A fix for this issue was made shortly after this issue was opened and was released soon after that.

[2020-01-25 05:31] #652 closed, assigned to exextoc

[2020-01-25 18:00] ghost commented on #932
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-25 19:26] amiram commented on #946
There is also a difference in the property name. In the code it is called `changedRecipientsFields` but in runtime you get `changedRecipientFields` (with an 's' only at the end). Do you get the first one with an 's' for a calendar item or is it a mistake?

[2020-01-25 23:08] vputsenko commented on #938
Ok, i'll post to Stack Overflow too. However, please don't close the ticket here since it is really still not fixed. Any update will be appreciated.  I still don't have workaround.

Thank you.

[2020-01-26 17:48] exextoc commented on #926
We have fixed the bug and it should be available. Depending on the release channel a customer is on; getting an updated build can take anywhere between 4-8 weeks

[2020-01-26 18:02] exextoc commented on #963
Hi we could repro this issue and we are working internally with the partner team for this issue. We unfortunately have no timelines to share for this.

[2020-01-27 00:25] vputsenko commented on #938
Added stackoverflow post too https://stackoverflow.com/questions/59924007/officejs-office-context-document-gettaskfieldasync-fails-on-some-important-field

[2020-01-27 01:34] glr0221 commented on #658
Thank you as always @exextoc @kbrandl.

[2020-01-27 03:59] exextoc commented on #913
We looked at this and it is an add-in bug. Its the responsibility of an add-in to provide accessibility. We have reported it to OneNote add-in team and they will look into it.

[2020-01-27 03:59] #913 closed, assigned to exextoc

[2020-01-27 04:00] #865 closed, assigned to JuaneloJuanelo, exextoc

[2020-01-27 04:01] exextoc commented on #857
This bug has been fixed, closing the issue.

[2020-01-27 04:01] #857 closed, assigned to exextoc

[2020-01-27 04:02] #832 closed, assigned to exextoc

[2020-01-27 04:05] #753 closed, assigned to exextoc

[2020-01-27 04:48] #683 closed, assigned to exextoc

[2020-01-27 04:49] #308 closed, assigned to exextoc

[2020-01-27 04:50] #244 closed, assigned to exextoc

[2020-01-27 05:17] #921 closed, assigned to exextoc

[2020-01-27 05:27] exextoc commented on #943
Does it mean that the failure to send on one attempt occurs when used with saveAsync? Does the token is successfully fetched?

[2020-01-27 05:43] sourabhkrishna commented on #943
Yes , onSaveAsync the token is generated. Since Appointments do not have an Draft State , the appointment is saved in the user calendar, but on event.completed(true) the appointment inst sent. But the one the second instance of same scenario , the appointment is sent.

[2020-01-27 07:17] sergez commented on #753
Hi,
I'm wondering is the issue fixed?

[2020-01-27 10:00] ghost commented on #942
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-01-27 10:00] #942 closed, assigned to exextoc

[2020-01-27 14:10] tpasi opened #950 "Text Content controls in tables are rendering as FieldRange instead of Content Controls"
If a word document created using the desktop version of Word, contains a table with content controls in it, all of the content controls are no longer rendered as a content controls but rather as a field (gray disabled text).

Content controls outside of the table are rendering correctly.

## Expected Behavior
All of the content controls in the document should be rendered as content controls.

## C

[2020-01-27 16:45] ElizabethSamuel-MSFT commented on #946
@amiram Looks like it's a typo and should be `changedRecipientFields`. We'll update that as well. Thanks.

[2020-01-27 19:13] lindalu-MSFT commented on #707
Closing this issue since it is resolved "by design." Please go to User Voice to add your suggestion for Content Pane add-in support in Excel Online. Thanks, lindalu
[Office Developer User Voice suggestion box](https://officespdev.uservoice.com/)

[2020-01-27 19:13] #707 closed, assigned to nobody

[2020-01-27 19:20] lindalu-MSFT commented on #801
@sumurthy Please leave issue open and if we are tracking it internally with an ADO bug, please log the number here for cross-reference. Thanks!

[2020-01-27 19:38] lindalu-MSFT commented on #829
Hi @nesbtesh You can also reach out to the Excel developer community on Stack Overflow. Use the tags [[office-js](https://stackoverflow.com/questions/tagged/office-js)] and [sql]. I did a quick search for "how to run SQL query from javascript api" and found quite a few results. Closing this issue because it is not actionable. Please reopen if you feel this was closed in error! Thanks, lindalu

[2020-01-27 19:38] #829 closed, assigned to RuoyingLiang

[2020-01-27 19:42] ElizabethSamuel-MSFT commented on #951
@BrendanJiang The property description has been updated in the documentation and should be published soon.

I'll transfer this to the product repo (office-js) for the team to address your question about the time zone format.

Thanks.

[2020-01-27 19:45] lindalu-MSFT commented on #839
@lumine2008 Hi Raymond, is this in the backlog now (tracked internally) or can this issue be closed? Thanks,linda

[2020-01-27 23:53] lukchen opened #952 "When using XLL as custom function, how can it share data/state with TaskPane or Dialog? Or can UI side call XLL functions?"
https://stackoverflow.com/questions/59940546/when-using-xll-as-custom-function-can-it-share-data-with-taskpane-or-dialog

Tag your question with office-js or outlook-web-addins

[2020-01-28 08:13] exextoc commented on #753
Hey @sergez,
We have rolled out the new version of Outlook for Web across all Exchange Online mailboxes. In the new experience, this scenario should not exist. Are you still able to reproduce this issue?

[2020-01-28 10:14] ztdan4ik commented on #233
Hi there
Any news?

Excel 1912, `getFilePropertiesAsync` throws internall error

[2020-01-28 14:18] esegcy opened #953 "Outlook add-in keeps cache even though last-modified header from CDN is updated"
We store our html and javascript files on CloudFront CDN. When we update our code, we see that CloudFront successfully updates the `last-modified` HTTP response header, but nevertheless, at some occasions Outlook (on all device types) will show a blank page and only clearing cache would show the updated code.

## Expected Behavior
When we update our code, Outlook will show the most recent version

[2020-01-28 14:21] RuckertSolutions commented on #380
Facing the same issue on Windows with Ms Outllok 2016 (16.0.4954.1000) 32bit. @MS in which version did you apply the fix ?

If I close the taskpane, the dialog window goes back to the initial loading spinner but does not close itself.

[2020-01-28 14:51] aburtsev1 opened #954 "Win10. Word Desktop. Not able to Login in Add-in after Word update"
**Description**:
We have Office 365 ProPlus with Channel = Semi-Annual. We got a new update in January. And We are not able to login to our Add-In after the update.

**Word Version**: Version 1908 (16.0.11929.20562)
**Win Version**:   1909  Build 18363.657

**Steps**:
1. Install 'Model N Author' from  Add-in store
![Step1](https://user-images.githubusercontent.com/20722542/73273249-5907eb80-41ec-1

[2020-01-28 16:25] glr0221 commented on #928
@exextoc Yes, the issue persists even after the [IE Configuration](https://docs.microsoft.com/en-us/office/troubleshoot/error-messages/apps-for-office-not-start)  workaround. I talked with our Customer support team and they told me that this is their first step [IE Configuration](https://docs.microsoft.com/en-us/office/troubleshoot/error-messages/apps-for-office-not-start) when troubleshooting thi

[2020-01-28 19:00] ghost commented on #932
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-01-28 19:00] #932 closed, assigned to catchingyu, lumine2008

[2020-01-28 20:27] #952 closed, assigned to nobody

[2020-01-28 20:44] exextoc commented on #951
Office.context.mailbox.userProfile.timeZone will return the timeZone in the Windows format.

[2020-01-28 21:02] exextoc commented on #928
You're welcome. Please let us know if there is anything else needed, and we are happy to help if there are any more questions.

[2020-01-28 21:02] #928 closed, assigned to exextoc

[2020-01-28 21:27] exextoc commented on #953
When the blank page is shown, are there any errors in the console? Does Outlook only show the blank page until the cache is manually cleared, or will the add-in eventually load after some time?

[2020-01-29 00:00] ghost commented on #944
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-29 04:00] ghost commented on #914
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-29 04:00] ghost commented on #812
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-29 05:00] ghost commented on #717
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-29 05:00] ghost commented on #349
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-01-29 17:06] ElizabethSamuel-MSFT commented on #951
@exextoc Thanks for the update. We're adding this info to the docs.

Thanks.

[2020-01-29 17:16] malsabbagh commented on #149
The issue is still reproducible as of today.

[2020-01-29 18:38] tjcrowder commented on #770
@TCourtneyOwen - My colleague and I are getting the same error, having followed the steps [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs) for the "Before" (or "Begin", it varies) project.

We tried to follow the instructions in [the comment above](https://github.com/OfficeDev/office-js/issues/770#issuecomment-556621990), but unfortunately when t

[2020-01-29 18:59] TCourtneyOwen commented on #770
@tjcrowder are youseeing this on Mac or Windows?

[2020-01-29 19:05] TCourtneyOwen commented on #770
I see in the command you sent that you aren't escaping "/" characters.  Please replace this command with your relevant SP Object-ID and tenant names:

az rest --method patch --uri https://graph.microsoft.com/beta/servicePrincipals/<SP-OBJECTID> --headers "Content-Type=application/json" --body "{\"replyUrls\": [\"https:\/\/<TENANT-NAME>-my.sharepoint.com\/_forms\/singlesignon.aspx\", \"https:\/\/<T

[2020-01-29 22:43] #951 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2020-01-30 09:25] exextoc commented on #943
This scenario occurs when calling Office.context.mailbox.item.saveAsync on a new Calendar item that has not been sent yet. This is a known issue and we are looking into a solution to resolve this so that the API can be used as designed. The API should behave as designed in Mail and on Existing Calendar items. Note that for existing Calendar items, an update may be sent out to attendees depending o

[2020-01-30 09:25] #943 closed, assigned to exextoc

[2020-01-30 10:17] esegcy commented on #953
No errors in console.
The blank screen will be shown until clearing cache. It will not eventually load, even after retrying, closing apps completely, waiting more than an hour, and so on.

[2020-01-30 10:20] topkoong opened #955 "onCalculated event returns address as "null" (PREVIEW ONLY) in Beta version"
**I have used a freshly installed custom function from yeoman using "yo office".**
In Excel online and installed Excel with Office Insider program, the onCalculated event (written in taskpane.ts) returns the address of the ranges that completed calculation as "null".

I have also referenced the beta library on the CDN (https://appsforoffice.microsoft.com/lib/beta/hosted/office.js) and installed  t

[2020-01-30 14:06] waveheart opened #956 "office (Word) how to set the first pageheader header (or footer) different with others?"
if users didnot manually check the checkbox 'first page diffrent with others',
i get the first page header, the i set it , it not works
so i need mannualy checked the checkbox in the word to set the first page header diffrent with others

---
expect:
Is there an api that could set the setting 'first page different with others" ?

[2020-01-30 14:08] waveheart commented on #956
![image](https://user-images.githubusercontent.com/25602259/73456574-14777e00-43ad-11ea-9070-2eac720a03a7.png)

[2020-01-30 14:13] exextoc commented on #933
Hey,
We officially do not have support for microphone in a web add-in, but yes, we do realise that there is an inconsistency across platforms. We thank you for bringing up this issue, it has been put in our backlog and we will look into it. However, if you need Microphone support as a feature for add-ins I recommend adding a request on our [uservoice ](https://officespdev.uservoice.com/forums/2246

[2020-01-30 14:16] exextoc commented on #790
Hey @mashuangnong ,

We are unfortunately still unable to reproduce this issue due to the lack of a test account where this issue exists. Could you please tell us whether your account is on exchange online or On-prem or on gmail?

[2020-01-30 14:32] xiaochunms commented on #955
Hi @topkoong thanks for you to try the new feature of onCalculated event. You may notice that it is in Beta version. The feature is still in rolling out. Regarding to the feature rolling out, I am sorry I don't have ETA yet, but it should be available soon.

[2020-01-30 16:04] topkoong opened #957 "Share state between custom function and task pane code through sharedState variable."
I am able to share state between custom function and task pane through sharedState variable if custom function and task pane share the same domain.

However, I was wondering if I could share state between custom function and task pane having different subdomains or ports through sharedState variable. If so, it would be greatly appreciated if you could clarify this on the documentation like the Off

[2020-01-30 16:06] tjcrowder commented on #770
Thanks @TCourtneyOwen! While I was out of the office my colleague installed the Azure CLI for Windows (we had been trying to do the command in CloudShell) and put the JSON of the body in a separate file, which worked. We couldn't get the body JSON to work -- not by copying and pasting from the comment above, nor with escaping `"` with `\`, it just didn't like it. But putting the JSON in a file and

[2020-01-30 16:25] topkoong opened #958 "Would it be possible to change/disable the ribbon (Add-in commands icon/image for the button) after invoking any functions?"
I would like to change/disable the icon/image for the button after a successful login. So, I was wondering if you could let me know if it is possible to do so.

Thank you for your time and consideration.

[2020-01-30 16:31] david-on-github opened #959 "Office Dialog API on Desktop PC not posting messages to parent"
Having an issue in Excel, Word on Desktop for PC, where opening a dialog to an external allowed domain, and redirecting back to the domain of the task pane, the ability to post messages to parent doesn't work.

If the dialog is first opened to the same origin as the task pane, and then redirected to an external domain, then back to same origin domain, posting messages works.

## Expected Behavior

[2020-01-30 17:48] TCourtneyOwen commented on #770
@tjcrowder Yes, the steps you outline above match what I recommend for manually configuring the replyUrls. We actually do this automatically as part of of SSO configuration process now.  Have you tried using our SSO project template yet? If not, you can find instructions on how to use the SSO template at https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart

[2020-01-30 18:37] JuaneloJuanelo commented on #959
@david-on-github thanks so much for the detailed description, code, samples, etc. I was able to repro this issue, its seems to be a bug. We'll investigate further with bug 3928090.
Can you please clarify what version of Windows you are using?

[2020-01-30 18:44] JuaneloJuanelo commented on #959
we need the windows version please, hence the needs author flag

[2020-01-30 18:51] david-on-github commented on #959
@JuaneloJuanelo Thanks for looking,
Updated OS.

[2020-01-30 18:52] JuaneloJuanelo commented on #958
Hello! thanks for your question. Short answer:  No, this is not possible today,
Larger answer: but we are planning on adding relatively soon the capability of enable/disable ribbon buttons!! stay tuned!

I recommend you to get to our uservoice channel and upvote this is an existing request. https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/19026019-programma

[2020-01-30 18:53] #958 closed, assigned to nobody

[2020-01-30 19:13] JuaneloJuanelo commented on #959
@david-on-github : i think the behavior you are experiencing is by design, that's a security restriction we added to the dialog. please check the remarks on the documentation https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#send-information-from-the-dialog-box-to-the-host-page

is this a regression that you are experiencing?

[2020-01-30 19:35] david-on-github commented on #959
@JuaneloJuanelo
Oh okay thanks, I didn't realize this was changed.

I primarily work with Office for Mac and Office Online, and those platforms still receive the messages even if the dialog is not first opened to a task pane domain.

[2020-01-30 20:43] ragavanrajan commented on #944
Kindly confirm the Angular Version. So that we can able to assist you further

[2020-01-30 21:14] ragavanrajan opened #960 "Edge DevTools debugger hanging on Reload and it is not loading"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
When you reload the taskpane add-in, Add-in should reload and appear.

## Current Behavior

When I reload the Project TaskPane Add-in, It doesnt reload, instead i

[2020-01-31 03:45] topkoong commented on #958
@JuaneloJuanelo  Thank you for the information! Greatly appreciated!

[2020-01-31 08:57] topkoong opened #961 "Would it be possible to dynamically/programmatically close/hide the task pane from Ribbon/custom functions/ other stuff (in PREVIEW version)?"
I have configured my manifest to be able to share data and events between Excel custom functions and the taskpane utlizing window.shareState (available only in Preview).

Also, I have used the autoopen feature to specify the task pane to open automatically, and it works perfectly fine. Then, I have called onCalculated to actively listen to an event to identify which cells in the worksheet are calc

[2020-01-31 10:42] #812 closed, assigned to exextoc

[2020-01-31 10:54] tjcrowder commented on #770
Thanks @TCourtneyOwen, I'll have to look into that! I'd assumed since the most recent commit to https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/tree/master/SSOAutoSetup was two days before [your comment above](https://github.com/OfficeDev/office-js/issues/770#issuecomment-556621990) that for some reason you'd been unable to add those changes...

[2020-01-31 11:46] ravitejagGitHub opened #962 "How to open angular component as confirmation dialog box while user moving to another cell in excel ."
I would like to open angular component as Confirmation dialogue box (Yes/No options) in center of excel sheet while user moving to new cell.

Is there any example in dialogue box api to achieve this functionality? and is it recommended?
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

[2020-01-31 14:30] exextoc commented on #817
Hey, sorry about the wait, but we are unable to see this issue, do confirm if you still see this issue.
We are using the following code (which is a stripped down version of your code:

[code]
And we are using this code to fetch it:

[code]

And we are seeing the following output:
<img width="696" alt="Screenshot 2020-01-31 at 7 59 58 PM" src="https://user-images.githubusercontent.com/28549921/7354

[2020-01-31 16:08] thoffmann-fms commented on #817
Partially fixed if you save the event and then Edit it.

If you Save the event (which closes the window) and then open it again in Read mode the HTML is different.

_Using OWA (Edge Chromium Canary)_

Here's the body just after being written but the Event is not yet saved. My Add-In code was closed and then re-opened:
[code]

Save then event and then open it and run the Add-In while the event is *

[2020-02-01 00:55] exextoc commented on #953
Is your add-in reaching the correct pages when the blank page is displayed? One possible way to prevent files from being cached is to add the no-cache header.

[2020-02-01 05:00] ghost commented on #914
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-01 05:00] #914 closed, assigned to exextoc

[2020-02-01 08:00] ghost commented on #717
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-01 08:00] #717 closed, assigned to exextoc

[2020-02-01 08:00] ghost commented on #349
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-01 10:16] Vrushi007 commented on #944
Then angular version is ^8.0.0

[2020-02-01 13:39] Shepherd-rocks commented on #747
@exextoc any update or known work around about this issue?

[2020-02-02 09:13] esegcy commented on #953
Yes to the question, and I will try the "no-cache" header and update here.

[2020-02-03 08:44] MicleMing commented on #933
hi, @exextoc
 I have add a [request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/39616504-allow-user-to-access-to-microphone-in-office-add-i) on uservoice, and when can your support this feature and would you share the planning for me ?
  Thx

[2020-02-03 11:04] ragavanrajan commented on #938
same issue for us too :(

getResourceFieldAsync is not complete.

![image](https://user-images.githubusercontent.com/6369107/73648108-b6ff6c00-46e1-11ea-9559-78541093f226.png)

Version and Build Number:

![image](https://user-images.githubusercontent.com/6369107/73648183-dbf3df00-46e1-11ea-8335-a3022bd42bab.png)

**Windows version:**

![image](https://user-images.githubusercontent.com/6369107/7364

[2020-02-03 11:10] aburtsev1 commented on #954
Hello @weshi @JuaneloJuanelo
Do you have any updates on this item about eta and etc?

[2020-02-03 14:44] ElizabethSamuel-MSFT commented on #963
@exextoc Thanks for your response. I'll transfer to the office-js repo for the issue to be tracked there.

Thanks.

[2020-02-03 15:51] sarea opened #964 "OWA add-in error: We're sorry, we couldn't access [add-in name]. Make sure that you have a network connection. If the problem continues, please try again later"
`We're sorry, we couldn't access [add-in name]. Make sure that you have a network connection. If the problem continues, please try again later`
This error message starts showing on IE11 and we couldn't reproduce it.
Then it starts showing on Chrome as well, it happened randomly, but there's a way to reproduce it in one case only:
- having onsend functionality that will trigger a dialog when the se

[2020-02-03 16:19] DmitryKostochko opened #965 "Outlook for Mac, setSelectedDataAsync, font-size problem"
In an Outlook add-in for compose mode, we are using the setSelectedDataAsync method to insert HTML text into the email body. In Outlook for Mac, the default font size is set to 11pt (please see the screenshot attached). The setSelectedDataAsync method does not allow inserting HTML text with the default font size.

## Expected Behavior
The setSelectedDataAsync method shall insert HTML text with the

[2020-02-03 20:47] ragavanrajan opened #966 "OfficeJS getResourceFieldAsync(Project) is failing on significant fields and not completing properly"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our project add-in was running properly so far but not on the recent build which is using traditional edge browser. To confirm Add-in using edge browser

![image](https://user-images.

[2020-02-03 22:35] JuaneloJuanelo commented on #933
Thanks for adding the uservoice request! we will update what features will go into our backlog soon.

[2020-02-03 22:35] #933 closed, assigned to exextoc

[2020-02-04 00:03] exextoc commented on #944
Were you able to check the Fiddler trace and the `/` in your SourceLocation URLs?

[2020-02-04 07:15] jesyxue opened #967 ""supportSharedFolders" doesn't work on Outlook 2016 one-time purchase"
I am working on outlook web add-in. And I have added "supportSharedFolders" element to my manifest.xml. But on some Outlook client version, open the delegated calendar still cannot see my add-in button. My outlook version is Outlook 2016 one-time purchase, 16.0.4266.1001 (64 bit), open the delegated calendar by other person, cannot see my add-in button.

As the document's description, to use "supp

[2020-02-04 11:19] ntranvinh opened #968 "Outlook Add-in is not working on Android 9 and Android 10"
I am developing Outlook add-in using add-in command to execute a function.
The test version of the add-in will open dialog then user can choose to click OK or cancel then another dialog will appear and user can click OK to complete the action.
The add-in works well on iOS and web, but not on Android

## Expected Behavior
I expected the add-in can work on web, iOS, Android

1. The add-in will show

[2020-02-04 13:45] exextoc commented on #965
Hi, thank you for reporting this bug regarding the default font size on Outlook Mac. We are able to reproduce this issue, and it has been put in our backlog. Unfortunately, we do not have any timelines to share at this point.

[2020-02-04 13:45] #965 closed, assigned to exextoc

[2020-02-04 14:23] exextoc commented on #817
@timothyhoffmann We are able to reproduce this issue on both Mac and OWA, like you described. Could you help us with your scenario here? Are you trying to parse the HTML in an email that is already sent, on which the add-in has set some div and label tags? Are you looking for these same tags in the email that was received?

[2020-02-04 14:58] exextoc commented on #378
We are not able to reproduce the issue (Office.context.ui undefined). Could you paste a code snippet that reproduces the issue?

[2020-02-04 16:54] thoffmann-fms commented on #817
This is not an e-mail but an Outlook calendar event.  I push this DIV into the Calendar event via the AddOn and then at some future point the AddIn will look to find this DIV to extract the data for use.  I can look for the text only but since user's can alter the text it seems safer to use a hidden attribute rather than assume the text is un-altered.   ,E.G. possibly similar to what other addins

[2020-02-05 05:56] XiangGaoMSFT commented on #950
Hi @tpasi, thanks for reaching out.

It's a known behavior of Content Controls on Word for the web.
Please be noted that content control in table cell is not fully supported on Word for the web yet.

There are two kinds of content controls when you create them in table cell.

One is the content control containing the whole table cell, which is the ones you created in your document. They are not su

[2020-02-05 08:13] SWei1234 opened #969 "[outlook add-in]Can we get more info about recurring meeting"
I consult the microsoft add-in Doc. Only get this recurring meeting info. But when I edit this event or all events in this series I can't see any different.
As a result, A user can different what they are editing but as an add-in can't.

## Expected Behavior
I wonder is there a api for add-in to different what they are editing an event or entire series.
I see outlook have notification to let me kn

[2020-02-05 11:05] ciaran-vox commented on #936
@weshi @erayc-msft any comments?

[2020-02-05 11:41] exextoc commented on #817
@timothyhoffmann Thanks. Please note that the body API does not guarantee the retention of these HTML tags when the email is sent. [The documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.body?view=outlook-js-preview) says:

This is probably why the extra div IDs and classes are removed after the email (or meeting invite) is sent. It is not recommended to use HTML tags fo

[2020-02-05 11:41] #817 closed, assigned to exextoc

[2020-02-05 11:46] exextoc commented on #939
Thank you for reporting this issue. This has been brought about by a recent security change, and is expected behaviour. However, we are aware of the pain point this poses for contextual add-ins. We are looking at a possible workaround for this, and will update this thread if we have one.

[2020-02-05 11:56] janisdd commented on #235
I'm also on Excel (16.33) for mac and have the same issue.
The upside down image can be fixed relatively easy inside the add-in with various js image libraries...
For me the main issue is the color problem as it can't be fixed by the add-in itself.

[2020-02-05 13:42] exextoc commented on #969
Hi, just to clarify, are you looking for a way for the add-in to differentiate if the current event is part of a series or a single occurrence?

[2020-02-05 14:29] exextoc commented on #964
Hi, thanks for reporting this issue. Does this happen a few times randomly, when sending an email? We are not able to reproduce the bug on our end. Could you explain what you mean by "Add debugger in the dialog" in your repro steps? And is it possible for us to get a test account with this add-in installed, so it's easier for us to reproduce this?

[2020-02-05 15:35] DmitryKostochko opened #970 "Outlook for Mac, addFileAttachmentFromBase64Async, An internal error has occurred."
In an Outlook add-in for compose mode, we are using the addFileAttachmentFromBase64Async method to add attachments. In Outlook for Mac, the "Internal Error" occurs if attachmentName contains space characters.

## Expected Behavior
The Internal Error should not occur.

## Current Behavior
The following error occurs:
OSF.DDA.Error
name: "Internal Error"
message: "An internal error has occurred."
cod

[2020-02-05 18:23] JuaneloJuanelo commented on #967
Thanks for your question. Yes, that's as expected. We did not backported the 1.8 functionality to MSI builds you referred. You will need builds 16.0.12130.20272+ to support 1.8, including shared folders. We are updating the referred pages to reflect the builds where the requirement set is supported.

[2020-02-05 18:23] #967 closed, assigned to nobody

[2020-02-05 18:37] JuaneloJuanelo commented on #922
To answer the specific question, no this is not directly supported on the JavaScript API.
This was some sort of polemic exclusion from our API given the fact that accessing ranges by text position might lead to quite unexpected results. (i.e. by just typing one character the ranges might be invalid).

We considered a few alternatives to deal with this:

- use the [search API](https://docs.microsof

[2020-02-05 18:37] #922 closed, assigned to JuaneloJuanelo, lindalu-MSFT

[2020-02-05 18:46] JuaneloJuanelo commented on #338
I got the "replace" option  from your code :).  Say we fix the positioning issue, you will have the same problem with your code if track changes is active, you are ultimately replacing an image.  My post gives an alternative to select an replacing an Image within a content control and its by design that this will be reflected in track changes.

if you can adjust your  scenario and snippet so  that

[2020-02-05 18:49] JuaneloJuanelo commented on #236
sounds like @nokafor is the right person to follow up on this

[2020-02-05 22:04] JuaneloJuanelo commented on #447
This bug was recently fixed in Word Online, and its on its way to be rolled out (maybe a couple of weeks from today).

[2020-02-05 22:09] JuaneloJuanelo commented on #191
Thanks so much for reporting this issue. We consider inline content controls in Word Online  to be a new feature, hence this is not an issue with shipped features but it qualifies as a feature request, we track such requests in our  UserVoice channel.
Please o[pen or upvote a new User Voice request](https://officespdev.uservoice.com/), this is the place we use to track feature requests.
thanks!

[2020-02-06 01:04] SWei1234 commented on #969
@exextoc yes.

[2020-02-06 05:19] chanhohang commented on #545
@kbrandl can we get an update of this issue? my add-in encounters the same problem for the screen flickering in the taskpane as well.

[2020-02-06 10:04] exextoc commented on #970
Thank you for reporting this bug. We are able to reproduce this issue on Mac, and have added it to our backlog. However, we do not have any timelines to share at this point.

[2020-02-06 10:04] #970 closed, assigned to exextoc

[2020-02-06 10:27] exextoc commented on #969
As described [here](https://docs.microsoft.com/en-us/javascript/api/outlook/office.recurrenceproperties?view=outlook-js-preview), you can use the recurrence API to check if the current meeting is a one-time event or part of a series:

[code]

Can you confirm that this is what you needed?

[2020-02-06 10:54] exextoc commented on #968
Thanks for reporting this bug. We are able to reproduce this issue on Android. We have added it to our backlog. However, we don't have any timelines to share at this point.

[2020-02-06 10:54] #968 closed, assigned to exextoc

[2020-02-06 13:20] ravitejagGitHub opened #971 "How to give custom title for dialog box with option displayInIframe: true"
I'm opening dialog box with displayInIframe option true.

Is it possible to give custom title to dialog window instead of default title (Message from Add-in: )?

<img width="415" alt="Annotation 2020-02-06 184206" src="https://user-images.githubusercontent.com/20149862/73940355-522a5880-4911-11ea-927c-6860550c1f75.png">

[2020-02-06 13:39] exextoc commented on #350
Hi, thanks for reporting this bug, and sorry for the delay in getting back to you. We are able to reproduce this issue, and have added it to our backlog. However, we do not have any timelines to share at this point.

[2020-02-06 13:39] #350 closed, assigned to exextoc

[2020-02-06 14:29] exextoc commented on #790
Hi @mashuangnong , we have tried testing this issue on the same Exchange version as yours (2016 CU 12) and we're still unable to reproduce this. The only way we can fix this seems to be for us to get hold of a test account. Is it possible?

[2020-02-06 15:24] kbrandl commented on #545
@tutieu can you please follow up on this issue (or assign to someone else on your team to follow up)? Thanks!

[2020-02-06 20:07] exextoc commented on #953
Do you get the blank page if loading add-in in browsers?

[2020-02-06 23:55] wattsUpJaz opened #972 "[Excel] List data validation source property behaves inconsistently"
When setting the list data validation source property, the case sensitivity of comparisons to the list is determined by the type of the source (string or range).

## Expected Behavior

I expect the behavior of the list data validation to behave the same regardless of whether the source property is a string or range.

## Current Behavior

When the source is a string, the data validation is case sen

[2020-02-07 02:38] lumine2008 commented on #545
Thanks @chanhohang, for your post, and apologize for the delay,
it seems that we are not able to repro this issue in our side. could you please share with us the gist or code sample for us to repro this issue? therefore we can locate the root cause.

[2020-02-07 02:47] SWei1234 commented on #969
@exextoc No, I am not mean different the one-time appointment and recurrence.
I mean how to different the type of recurrence. like 'this event' or 'all events in this series'
For example:
![image](https://user-images.githubusercontent.com/15980696/73996655-2356c580-4997-11ea-8be6-71552439c5a0.png)
Do add-in have api to different this three option?

[2020-02-07 03:20] lukchen commented on #843
Hello @lumine2008  How is it going with this feature?

[2020-02-07 04:44] chanhohang commented on #545
@lumine2008 thanks for looking after this issue.

So the environment to reproduce it is Excel Application Office 365 pro plus and run on windows 10.

The Excel API will be 1.10 for this combination. and the underlying browser should be Edge running inside the Excel Process.

Our Code is similar to below.
it's called inside Excel.run( { delayForCellEdit: true }, async context =>{ // Method below})

[2020-02-07 05:53] keyur32 commented on #901
Just to touch on this, team is following up on a repro offline.

[2020-02-07 08:45] lumine2008 commented on #972
Thanks @jazcar , i just repro this issue, and this is a bug3943687	, we are investigating on this issue.

[2020-02-07 09:39] esegcy commented on #953
Yes, of course by "Office Online Outlook" I meant that it happens using browsers. Tested with Firefox & Chrome for Windows.

[2020-02-07 10:39] sarea commented on #964
Hi @exextoc, thanks for the quick reply.
- Yes, it happens a few times randomly, the reported case that we got from our customers is in IE11, they were getting the message when then press send and getting blocked from sending, but I was able to reproduce it in a different flow as I described above.
- Regarding "Add debugger", I just meant to add `debugger` statement in the code to stop executing,

[2020-02-07 12:29] exextoc commented on #964
@sarea are there any specific instructions for installing the add-in?

[2020-02-07 12:48] lumine2008 commented on #545
Thanks @chanhohang , the sample code is useful, our team has repro this issue, a bug3943969 is created to track this issue. Thanks again for your support

[2020-02-07 13:09] sarea commented on #964
Hi @exextoc
- clone/download the repo.
- `npm i`
- `npm start`
- got to `https://localhost:8443/v3`
you will get `Your connection is not private` press advance and proceed to that domain.
- go to owa, install the add-in as a file from the generated manifest in the src folder.
note: the manifest will be generated after starting the app

[2020-02-07 13:19] lumine2008 commented on #972
Hi @jazcar , we had a second look on this issue, we found that API behavior is as same as UI. therefore we believe this is a by design from API perspective, therefore , i think this should be a new feature request in Excel. so i would suggest that you could submit your request in uservoice and upvote for this feature at https://officespdev.uservoice.com/. and upvote for this feature. thanks for yo

[2020-02-07 15:56] soorajhealthplotter opened #973 "Office Add-in: Saving Custom Document Properties with Office js in Windows"
When I create the excel using Office 365 for Windows (Word desktop) and invoke my addin i have the added custom properties. When i close the excel file it will prompt for **save** or **Dont save**.If  i am selecting **Dont save** custom properties are not getting saved into the custom properties collection.if selecting **save** the custom properties are saved. However the  properties get saved whe

[2020-02-08 00:00] ghost commented on #955
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-08 03:00] ghost commented on #944
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-09 06:00] ghost commented on #950
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-09 21:00] ghost commented on #338
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-09 22:11] Lilyliu123 commented on #945
Same issue, cannot see the addins Insert (Menu) -> Get Add-ins -> Office Add-ins (Under shared Folder). User who have already had addin added before got the error that cannot reach to the server of shared folder （Sorry cannot remember the exact message).

Excel version: office 365 MSO(16.0.12430.20172) 64-bit

[2020-02-10 05:21] lumine2008 commented on #973
Thanks, @soorajhealthplotter for your report. The API behavior is as same as VBA and UI. Excel online autosave is on, so the workbook will be saved automatically in Excel Online, but in Windows, I think you are accessing the workbook in a local file and autosaved was turned off. and user click dont save the workbook when a save dialog is opened. so it should not save the workbook. which is by desi

[2020-02-10 08:20] rvanlaak commented on #338
The use-case in the issue as demonstrated via the snippet isn't a real world use-case, but narrows down the bug to the minimum required code.

As this issue was reported in december 2018 it seems there isn't any development in Office JS for Word. This is unfortunate, as it means we can not rely on it. Because of that we moved on.

[2020-02-10 08:28] exextoc commented on #964
Thanks, we got it working. But we couldn't reproduce the same issue(s) you're describing. When we click on send the dialog always appears. When we let it time out, the error message that is shown is: "The add-in OWA (localhost) has prevented this item from being sent." which is expected, from this scenario.

We cannot see the "we couldn't access [add-in name]" error message. We're suspecting this

[2020-02-10 09:50] sarea commented on #964
Thank you @exextoc , just one last question, did you get the debugger in [this line](https://github.com/sarea/test-owa/blob/master/src/app/pages/on-send-loading/on-send-loading.component.ts#L14)? and did you press continue? if so, could you please try the same thing but without continuing the execution of the debugger, just let it pausing, and you need to have the devtools open, otherwise, the deb

[2020-02-10 10:18] exextoc commented on #964
No, we did not hit the debugger anywhere. Do you only encounter this issue when execution is blocked by the debugger?

[2020-02-10 10:36] sarea commented on #964
Yes, and like I said before, this is one case to reproduce this issue which is not going to happen with the costumers as we trigger the debugger.
The other case is when the user presses the send button and got the same notification message, but I was not able able to reproduce that issue because it's happening randomly and only on IE11 as far as we know from our costumers.
So the debugger case is

[2020-02-10 10:37] exextoc commented on #969
@SWei1234 Currently this feature is not available via office JS APIs. Add-in can edit the view which is opened by the user. If user has opened series view it will update series else it will update the event. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Featu

[2020-02-10 12:00] ghost commented on #378
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-10 15:00] ghost commented on #790
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-10 16:07] modestfake commented on #926
BTW, I've managed to reproduce this error:
[code]

Steps to reproduce:
1. Subscribe to `Office.EventType.ItemChanged` event and try to fetch the email body using `Office.context.mailbox.item.body.getAsync` every time this event is triggered.
2. Pin the taskpane.
3. Try to click on a few emails quickly. I get this error when I click on two or three items.

[2020-02-10 16:23] modestfake opened #974 "ItemChanged event is not triggered on system emails"
By _system email_ I mean the email which I get when email delivery has failed:
![image](https://user-images.githubusercontent.com/16977959/74167631-3389d180-4c31-11ea-85fb-841ce36654c6.png)

## Expected Behavior
ItemChanged should be triggered when I navigate to system email

## Current Behavior
When I open a system email with pinned taskpane, I don't get ItemChanged event

## Steps to Reproduce,

[2020-02-10 17:53] chrisecorcoran commented on #926
@exextoc I'm trying to create a customer facing statement for users that license our App and run into this issue. You mentioned that the fix is dependent on the release channel a customer is on. Are you implying this is a fix that needs to be added to each client or is the fix on the server side? Regardless, can you help me explain to them how they can determine when they will get the fix from Mic

[2020-02-11 02:00] ghost commented on #955
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-11 02:00] #955 closed, assigned to xiaochunms

[2020-02-11 05:00] ghost commented on #944
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-11 05:00] #944 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2020-02-11 05:01] soorajhealthplotter commented on #973
Really i got troubled i was not knowing what the issue may be.
I appreciate for your update regarding issue.
Thank you

[2020-02-11 05:27] soorajhealthplotter opened #975 "Custom Property not set"
## Expected Behavior
I have got Excel Add-in. Here for adding a workbook id i use to create a custom property and add it to workbook. For Office Online, Excel 2019 and for Excel on all of my clients system works fine except one client.
The Office version client using is  **Windows 10  MSFT Office Professional Plus 2016 64 bit**

## Current Behavior

When the add-in loads in i check for a custom pr

[2020-02-11 07:46] SWei1234 commented on #969
Okay, I know. Thanks for your support.

[2020-02-11 07:46] #969 closed, assigned to exextoc

[2020-02-11 12:42] iksinski opened #976 "Adding table to worksheet"
I want to build a function to download data from an external service and insert it as a table to the worksheet. I started using some example found in the docs, but after a few changes it started working very inconsistent. From time to time, inserting headers values throws an "InvalidArgument" error.

[code]

So for some reason it stops after `console.log(3)` from time to time. What I'm planning to

[2020-02-11 13:35] lumine2008 commented on #976
Hello, could you please share what's the definition for generateString()?
`    expensesTable.name = generateString();`
I made a change to this line, it works for me.
`  expensesTable.name = "test" + Math.random();`

Here is the gist I created for you based on your sample code
https://gist.github.com/lumine2008/a7cddead512bb35f1f73f54343b8dc35

[2020-02-11 13:44] lumine2008 commented on #975
Hi @soorajhealthplotter
I notice that the code you share is as same as https://github.com/OfficeDev/office-js/issues/973?
have you saved the workbook?

[2020-02-11 14:27] iksinski commented on #976
Hi @lumine2008, thanks for your answer!

It's pretty similar to what you did:

[code]

I've checked and this fails even when strings are unique.

[2020-02-11 15:15] soorajhealthplotter commented on #975
Now saving the document is not the issue.that is done manually.but creating the custom properties only in this particular version is problem

[2020-02-11 23:24] corytheboyd opened #979 "Unable to save draft from context of pinned taskpane after switching to a different draft"
## Expected Behavior
The Outlook.js API call to save the draft should not fail when I try to call it from a pinned compose taskpane.

## Current Behavior

If you have already pinned the compose taskpane from a previous message compose, when you click reply on a message from your inbox again, the call to `Office.context.mailbox.item.saveAsync` will yield the following error:

| Code | Name | Messag

[2020-02-12 01:18] mashuangnong commented on #790
I'm terribly sorry，and  I am busy doing something else; Thanks a lot for following the issue. We develop an add-in for company, and the emailAddress is used as id for employee.  It works for some people, but it also don't work for several people. Those computer were purchased between 2015 and 2016, and does it matter ?  We have added some tips and links to help people finish on web.  Thanks again.

[2020-02-12 01:45] exextoc commented on #979
@corytheboyd One reason why this can happen is if your add-in does not register for the [ItemChanged event](https://docs.microsoft.com/en-us/outlook/add-ins/pinnable-taskpane). Can you add support for that to your add-in (if you haven't already) and see if that resolves this issue? If your add-in doesn't support this event, the `Office.context.mailbox.item` object in the add-in becomes stale, resu

[2020-02-12 01:46] lliu113 commented on #973
@soorajhealthplotter - it sounds like the issue is resolved so I will go ahead and close this. Please resurrect if you have any additional questions - thanks!

[2020-02-12 01:46] #973 closed, assigned to lumine2008

[2020-02-12 01:50] lliu113 commented on #972
@jazcar - I'm going to go ahead and close this issue, please reopen if you have any further questions. Thanks!

[2020-02-12 01:50] #972 closed, assigned to lumine2008

[2020-02-12 01:53] lliu113 commented on #971
@ravitejagGitHub - thanks for your question. For security reasons, we do not currently allow customizable dialog titles.

If this is a key customer scenario for you, you can vote for the feature on UserVoice here - https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/33035422-allow-to-customize-the-pop-up-dialogue-title-when

Thanks!
Lillian

[2020-02-12 01:53] #971 closed, assigned to lliu113

[2020-02-12 01:57] lliu113 commented on #959
@david-on-github  - thanks for reporting this! We are following up internally, the behaviour should be as described in the documentation. For auth scenarios, we recommend the latter code pattern you described in your original post - first opening to the same domain as the taskpane, redirecting to your external domain, then redirecting back to message the parent taskpane.

Does this pattern work fo

[2020-02-12 02:10] lliu113 commented on #961
@topkoong - thanks for your question! We are currently working on an API which allows you to dynamically open/close the taskpane associated with your shared runtime. This should be ready to preview over the next few months, will update this thread once it becomes available.

Thanks!

[2020-02-12 02:20] lliu113 commented on #805
@biswanathc - this is by design. closeContainer() will only close the taskpane if it is called from within the taskpane. We currently don't support closing a taskpane from a ribbon button.

[2020-02-12 08:00] ghost commented on #950
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-12 08:00] #950 closed, assigned to nobody

[2020-02-12 09:33] exextoc commented on #974
We are able to repro this issue on our end for Outlook web client. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-12 10:04] exextoc commented on #964
@sarea  Yes we are able to repro with the debugger. But in the case of debugger as we are waiting for 5 mins there could be a timeout happening. Does the flow reported by your customer also involves waiting or it happens on normal send?

[2020-02-12 15:01] sarea commented on #964
@exextoc there's a small issue that the customer had simulating the debugger use case. but that one can be fixed by fixing the bug from our side as it happened from our side first.
so as a conclusion from the debugger issue:
once the browser stops executing javascript with the dialog open we are going to get the message.
But the one that has been reported by our customers more often (which we have

[2020-02-12 15:10] LoveSponge opened #980 "Office.context.mailbox is undefined.... Sometimes."
I am creating an Outlook add-in and testing on Web mode but this will be expected to work in both web and desktop Office365 Outlook.
Requirement set 1.8 is required for my add-in, and has been defined as such in my manifest.xml.

I am experiencing `Cannot read property 'item' of undefined` when attempting the following:
[code]
This is extremely frustrating as it is not consistent. It is happening

[2020-02-12 15:15] LoveSponge commented on #980
I believe this is related to the following issues:
#835
#790
#607

Due to the nature of office add-ins, there could be more.

[2020-02-12 15:41] 4tti commented on #901
Looks the behavior got significantly improved with new versions of Excel. Retested again on Version 2003 (build 12607.20000) and now the formulas are successfully calculated.

There is still small performance difference, having  around 47k formulas the calculation times are:
26s for Shared App Model
22s for separated Custom Functions Runtime.

Just note it was rough benchmark and we are going to d

[2020-02-12 15:41] #901 closed, assigned to nobody

[2020-02-12 15:48] LoveSponge commented on #980
I think i found the problem, when creating the app i used the `yo generator-office` as they do in the tutorials, doing so created an `index.tsx` with the following code:

[code]

There are 2 calls to `render(App)`, one of which waits for Office to be ready (async), the other fires immediately (sync).
If any errors throw in the synchronous call, the application will kill itself in whatever state it

[2020-02-12 15:48] #980 closed, assigned to nobody

[2020-02-12 17:53] corytheboyd commented on #979
Thanks for the quick response! We should have an `itemChanged` listener already registered, but I will inspect that configuration now to look for any issues.

[2020-02-12 18:37] vputsenko commented on #938
@ragavanrajan  this post is not about not completed async calls. Please don't mess issues.

[2020-02-12 19:07] lliu113 commented on #962
@ravitejagGitHub - thanks for your question! You can include angular components as part of the webpage in the dialog box, but the frame itself cannot be an angular component.

[2020-02-12 21:05] exextoc commented on #979
Thanks @corytheboyd. Let us know what you find.

[2020-02-12 21:28] corytheboyd commented on #979
@exextoc After peeling back 100% of our application code and just exercising `itemChanged` event handling logic I am confirming that I no longer see this behavior, so yay there is no issue here! Thanks for checking in to help quickly resolve this.

[2020-02-12 22:24] exextoc commented on #979
Thanks for the update @corytheboyd Closing this issue.

[2020-02-12 22:24] #979 closed, assigned to exextoc

[2020-02-12 23:04] Byron-Mo opened #981 "Compatibility between Toggling 'Up/Down' arrows in Inspector View and Pinnable Taskpane"
The Outlook Addin has inconsistent behavior when it is pinned in Inspector View while the user interacts the 'up' and 'down' arrows to toggle through emails in Read Mode. Additionally, as the user toggle through emails in the Inspector View, the Explorer View also updates with the respective email. Because the addin is pinned, it also loads up in Explorer View and we observed a delay in the getIte

[2020-02-12 23:42] exextoc commented on #981
Thanks for reporting this issue. It has been placed on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-13 14:00] ghost commented on #378
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-13 14:00] #378 closed, assigned to lliu113, exextoc

[2020-02-13 14:33] mitoihs commented on #743
I've recently had the same issue ("Invalid API call in the current context") popping up when we've started to use [delayForCellEdit](https://docs.microsoft.com/en-us/javascript/api/excel/excel.runoptions?view=excel-js-preview#delayforcelledit) option. Any resolution (or at least a reason why is it happening) will be welcome.

[2020-02-13 14:41] tobiasviehweger opened #982 "Edge WebView: Outlook crashes when starting any add-in"
We have a customer, where ~25% of their users are seeing Outlook crashes when starting ANY office add-in. Edge WebView seems to be crashing on startup.

## Expected Behavior
Do not crash.

## Current Behavior
Clicking on any action of an Office add-in crashes Outlook for the customer, this is happening with our add-in, as well as every other one (e.g. OneNote). The sidebar still opens and a spinne

[2020-02-13 23:41] mrbfrank opened #983 "Office.context.mailbox.item.enhancedLocation.getAsync does not work correctly in OWA"
When editing an appointment in OWA if you change the locations in the appointment editor then call `Office.context.mailbox.item.enhancedLocation.getAsync` it returns old locations, & not any new locations added by the user.

## Expected Behavior

`Office.context.mailbox.item.enhancedLocation.getAsync` should return all locations that the user has entered into the appointment editor, not old locati

[2020-02-14 05:33] ZhengAudrey opened #984 "CoercionType doesn't support Image for Excel web add-in"
For office js API, based on this [link](https://docs.microsoft.com/en-us/javascript/api/office/office.coerciontype), Office.CoercionType.Image should be supported in Excel. But I find Office.CoercionType.Image is undefined in Excel Online. Only Text, Matrix, and Table have values.
[Screenshot](https://i.stack.imgur.com/em6Kp.png)

BTW, it seems that OneNote also supports Office.CoercionType.Image

[2020-02-14 05:57] exextoc commented on #964
Is the console error shared in the useful logs section from the send scenario? If not can you get the console log from your customer for working and failure scenarios?

[2020-02-14 06:49] exextoc commented on #983
We are able to repro the issue at our end. Thanks for reporting this issue regarding the enhanced location not returned correctly. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-14 10:27] leoseccia opened #985 "Word Online Search not working as expected with terms starting with '@' or '#' and 'matchWholeWord'"
The context.document.body.search API doesn't work if matchWholeWord is set to true in SearchOptions and the search term starts with the symbol `@` or `#`. It works in Windows Desktop Word application. Did not test with other symbols but this issue would seem related to: #218

## Expected Behavior
The search should return results even if the search term starts with a symbol such as `@` or `#`.

##

[2020-02-14 11:55] sarea commented on #964
There is no console error when the issue happened with the customer on IE11.

[2020-02-14 14:04] SWDevB commented on #710
This still is an issue. Has it been addressed already?

I'd guess experienced Excel users immediately know it's a syntactical error and what to do to fix it in the default function's behavior. If #VALUE! is shown, they probably won't. Unless there is a solution I'm not aware of, this means to enable users to find problems as fast as they are used to, it seems to be necessary to make all parameters

[2020-02-14 14:14] SWDevB commented on #710
Additionally, when I create a function using the insert function / function argument editor, also #VALUE! is shown as formula result. After clicking OK the correct result is shown in the edited cell.

![image](https://user-images.githubusercontent.com/44261862/74538498-a601f680-4f3c-11ea-8498-afbf0c5190f9.png)

[2020-02-14 14:16] SWDevB commented on #710
- Last comment is about Excel desktop windows
- Currently used version is 2001 (Build 12430.20184 Click-to-Run)

[2020-02-14 17:05] mrqzzz opened #986 "Office Add-in actions of type ExecuteFunction malfunction with more instances of Office Desktop Apps"
In an Office Add-in for Word or Excel, where a ribbon button calls an action of type "ExecuteFunction", if you open more that one instance of Word (or of Excel) , the function is always called for the first instance of the app that uses it, regardless which instance calls it after the first time.
Note: the Add-in Host is Mircosoft Edge. Edge Version 80.0.361.51

## Expected Behavior

If i sideload

[2020-02-14 18:05] ebortoluzzi-maualab commented on #653
Any alternative for the communication between the dialog and Excel custom function while this is being solved?

[2020-02-14 19:26] zhoukq opened #987 "Office.context.mailbox.displayNewMessageForm doesn't work in outlook 16.35"
Office.context.mailbox.displayNewMessageForm doesn't work in outlook 16.35

## Expected Behavior
run `Office.context.mailbox.displayNewMessageForm({htmlBody: "Platform: Mac<br/>Outlook Version: 16.35<br/> Add-in Version: 11.2.1.9999",subject: "Outlook Add-in Feedback",toRecipients: ["info@xxx.com"]})` with Office.js context should pop up a new email with the corresponding content.

## Current Beha

[2020-02-14 22:02] tpasi opened #988 "Content control in docx document show up as plain text when opening on Word for iPad"
When opening on Word for iPad a document that was created using Word for Desktop that contains content controls, these control show up as just text.

In our case the controls are not deleteable, but on the iPad version, the user can just simply delete it

## Expected Behavior

Content control should show up like least like they do on Word for Web

## Steps to Reproduce, or Live Example

Insert a c

[2020-02-16 03:00] ghost commented on #840
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-16 03:00] ghost commented on #790
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-16 07:01] exextoc commented on #953
To clarify the previous question, do you get a blank page after updating the CDN and then simply navigating to the SourceLocation/webpage of your add-in in a browser? So NOT using "Office Online Outlook", but simply copy/pasting your add-in's webpage into the address bar of a browser.

[2020-02-16 22:19] adam-harwood commented on #906
I want to +1 this, but also call out a larger impact it can have: If the add-in has an OnSend event handler, and a poor network connection, then the following can happen:
- The user clicks to Send an email.
- The request is sent to load the function-file for the add-in, but this takes a long time because of the poor network connection.
- After some period of time, Outlook times out the fetch, and

[2020-02-17 06:41] hello-chenchen opened #989 "Outlook add-in for ie browser and windows client: The ui display is strange, when block untrusted fonts in enterprise"
when block untrusted fonts in enterprise like this link: https://docs.microsoft.com/en-us/windows/security/threat-protection/block-untrusted-fonts-in-enterprise

the office 365 ui display is strange, some icon missed.

![image](https://user-images.githubusercontent.com/1878089/74628595-07ba9e80-5191-11ea-8c93-353d34f53b08.png)

and we use office css class in our add-in(which is .ms-ChoiceField-inp

[2020-02-17 06:53] exextoc commented on #989
From the screenshot, it appears you are running your add-in in the native Desktop Outlook client on Windows. Can you create a simple webpage (NOT an add-in) that uses the blocked font, and then navigate to that webpage in Internet Explorer and see if your simple webpage has the same problem or not?

[2020-02-17 07:04] hello-chenchen commented on #989
in fact, the first screenshot is online version. and the second screenshot is debug tools for the native Desktop Outlook client.

there are more details for the second screenshot:
![image](https://user-images.githubusercontent.com/1878089/74630693-18b9de80-5196-11ea-8c94-211983024988.png)

sorry i forgot upload the compare screenshot for online version.
miss icon for online version:
![image](https

[2020-02-17 07:18] hello-chenchen commented on #989
for the simple webpage, you can search and install zoom on your add-in store.
![image](https://user-images.githubusercontent.com/1878089/74631498-12c4fd00-5198-11ea-9bef-91211b595d5f.png)

and the checkbox is not worked for ie browser and windows native Desktop Outlook client when block untrusted fonts.
https://docs.microsoft.com/en-us/windows/security/threat-protection/block-untrusted-fonts-in-en

[2020-02-17 07:30] hello-chenchen commented on #989
i noticed that there is a solution from your document is to install the problematic fonts:
![image](https://user-images.githubusercontent.com/1878089/74632284-f924b500-5199-11ea-98fb-5af07129196e.png)

but it is still not work, after i install the "Office365Icons.ttf", and throw the seam error log:
![image](https://user-images.githubusercontent.com/1878089/74632373-30936180-519a-11ea-974a-a4b3cce1

[2020-02-17 07:33] exextoc commented on #989
Just to clarify, I'm not asking you to run your add-in in the online version of Outlook. I'm asking you to create a simple webpage (NOT an Outlook Add-In), and use the blocked font on the simple webpage, and then open that simple webpage in Internet Explorer to see if you experience the same problem.

[2020-02-17 09:11] exextoc commented on #939
We are currently working on a fix and it will be available in Production soon.

[2020-02-17 10:30] exextoc commented on #964
Can you share the actual manifest file so that we can install the Add-in and replicate the issue?

[2020-02-17 13:12] sarea commented on #964
The manifest is going to be generated in [the repo](https://github.com/sarea/test-owa) that I've shared with you, it's going to be in src folder  once you do `npm start` or you can access it by going to https://localhost:8443/v3/manifest.xml after starting the app (npm start)

[2020-02-17 14:16] exextoc commented on #964
@sarea  Thankyou. By actual manifest we were referring to the one which is being used by your Customers and not the test Add-in. Is it possible to share the same?

[2020-02-17 14:27] sarea commented on #964
This is exactly the same, the only difference is the company name, description, and the manifest ID

[2020-02-17 18:54] PrasadKasireddy opened #990 "Is -save is no longer necessary. All installs will be saved by default?"
I understand that -save is no longer required as it will saved bu default.
However, in the installation section it was mentioned as npm install @types/office-js --save https://www.npmjs.com/package/@types/office-js

As per NPM install docs (https://docs.npmjs.com/cli/install), by default, npm install will install all modules listed as dependencies in package.json. This seems to be the case since n

[2020-02-18 01:14] weshi commented on #956
Unfortunately, there isn't such an API to set it for the time being.

[2020-02-18 02:10] hello-chenchen commented on #989
hi @exextoc ,
this demo code is for you:
[code]

and this is the screenshot:
![image](https://user-images.githubusercontent.com/1878089/74697843-dbf1f400-5236-11ea-863f-4ec4eb5be92f.png)

[2020-02-18 02:59] XiangGaoMSFT commented on #985
@leoseccia thanks for reaching out.
It's by-design behavior currently because the API's behavior is the same as the UI feature of Word on the web. You can try the UI feature by pressing Ctrl+F with "Find whole words only" option enabled.

If you think the behavior is not correct, you may provide feedback to Word on the web team by clicking the "Give feedback to Microsoft" button on the bottom righ

[2020-02-18 05:38] exextoc commented on #987
Thanks for reporting this issue regarding Office.context.mailbox.displayNewMessageForm API. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-18 07:30] abtrip commented on #774
Hi Team -is there  any update on this issue?

[2020-02-18 07:46] fiddler commented on #617
This bug seems to be still alive and well. Tested on Word For Mac Version 16.32 (19120802).

The same code can replace OOXML just fine with small payloads, but when the size of the OOXML payload becomes big enough it starts failing with `GeneralException: RichApi.Error`.

What's the status of this? Any fix in sight?

[2020-02-18 13:22] chrisecorcoran commented on #926
@exextoc would you be kind enough to reply to the above RE: the customer facing message?

[2020-02-18 14:21] sjgarland commented on #526
How can I make information flow in the other direction between a dialog (which I am willing to open either in a `FunctionFile` or in a taskpane) and the workbook?  For example, suppose I want a dialog to display the value in a cell chosen by the user.  This would be possible if the dialog could call `context.sync()` or if it could get a response back from the parent page after sending a message wi

[2020-02-18 14:43] exextoc commented on #964
@sarea We would like to try hitting the same end point which is used by Customer instead of localhost and see if the issue occurs as we are not able to replicate the issue using localhost. So, we require the manifest with the end points where Add-in is originally hosted. Also, how soon does the error message gets displayed after the Send button is clicked?

[2020-02-18 14:46] sarea opened #991 "Getting Cross-Origin error when using OWA rest api in owa add-in in On-Premises"
I'm getting this error:
[code]
when fetching the message using [OWA REST API](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/mail-rest-operations)
As far as I know, using rest api is available since [the add-in api 1.5](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/outlook-requirement-set-1.5), which has to b

[2020-02-18 19:00] hjkim-MSFT commented on #834
The bug fix was checked in. The fixed build number is 16.0.12528.10000 or later builds.

[2020-02-18 19:21] david-on-github commented on #959
@lliu113
Yup I can make that work. Thanks

[2020-02-18 20:24] ybrodsky opened #999 "Deployment. Self hosting the source (?)"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish

Greetings.
I have built a add-in for Outlook following the tutorials. When the time came to deploy, I made a build and uploaded the dist files to a personal server. Its accessible through the web without restricting, the files are all being served correctly.
Then I edited my manifest.xml file changing the file sour

[2020-02-19 04:06] LiamWarnes opened #992 "Attempting to attach large file in Outlook for Windows using Office.context.mailbox.item.addFileAttachmentAsync() fails, but reports the result as successful"
I am using Office.context.mailbox.item.addFileAttachmentAsync() to attempt to attach a large .mp4 file (44.6 MB) to an email in compose mode in Outlook for Desktop, and it is reporting that the operation was successful in the result
![image](https://user-images.githubusercontent.com/61216957/74798953-55ffa700-5323-11ea-9dcc-b8368dc397db.png)

but it is then attaching the file with the addition "Do

[2020-02-19 04:52] lumine2008 commented on #984
Thanks @ZhengAudrey for your post, according to this document: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/image-coercion-requirement-sets,
Office.CoercionType.Image is not supported for Excel Online,

what's your scneario? can you use shape.AddImage?

[2020-02-19 05:00] ghost commented on #840
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-19 05:00] #840 closed, assigned to lliu113, lumine2008, MandytMSFT

[2020-02-19 05:00] ghost commented on #790
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-19 05:08] LiamWarnes opened #993 "Error in result from Office.context.mailbox.item.addFileAttachmentAsync() is only being returned as "Internal Error""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Attaching a large mp4 file (44.6 MB) to an email in compose mode using the regular attach file option in outlook will display the failure and an error saying the attachment was too la

[2020-02-19 05:44] lumine2008 commented on #975
seems i am not be able to repro this issue, could you please share me the gist and repro steps?

[2020-02-19 05:56] lumine2008 commented on #976
have you tried my gist that I created for you based on your sample code, it works in my side
https://gist.github.com/lumine2008/a7cddead512bb35f1f73f54343b8dc35

[2020-02-19 07:07] chanhohang opened #994 "Table Row delete() is not working when there is a filter apply to the table."
Sample code to reproduce the problem

[code]

the code above is working to remove all the records of a table when there is no filter.

When a table is having a filter, the rows are not deleted at all.

Can you kindly check if you can reproduce the problem?

[2020-02-19 08:58] lucetius commented on #976
Hi, @lumine2008
I'm working on this issue with @iksinski and attached gist file is not working.
In you're example you're only changing background of the cell but not inserting a new table.
Try to change `run` function content to proper one and try again.
You can start testing by adding function on cells: F20 and G11

[2020-02-19 17:00] kakusharma commented on #939
Great, thanks. Please do update me as soon as it's in production. Thanks again. :)

[2020-02-19 17:26] AlexJerabek commented on #999
Thanks for reporting this @ybrodsky.

@ElizabethSamuel-MSFT, can you drive this Outlook investigation? Also tagging @exextoc.

[2020-02-19 19:06] exextoc commented on #999
Have you added your online URLs to the [AppDomains ](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/appdomains) node in the manifest? Are you side-loading the add-in?

What is the build and version of Outlook that you are using? You can find this information by going to File > Office Account tab > About Outlook.

[2020-02-20 00:54] corytheboyd commented on #961
@lliu113 We're very interested in programmatic control over the Taskpane, is there a ticket I can subscribe to somewhere to stay up to date on progress?

[2020-02-20 02:56] soorajhealthplotter commented on #975
Hi i have noticed my system has some internal issue.i installed on another system and checked.now working fine

Thank you

[2020-02-20 02:56] #975 closed, assigned to lumine2008

[2020-02-20 06:26] exextoc commented on #926
@chrisecorcoran If you are referring to the issue posted by @anilreddyr7, the fix is already rolled out to Production. The issue posted by @modestfake appears to be different from the original issue.

[2020-02-20 08:23] esegcy commented on #953
No blank page when navigating directly in a browser to the url of SourceLocation/webapge.

[2020-02-20 09:04] schmkr commented on #964
Hey there, I'm a colleague form @sarea and we have now identified the root cause of this report.

It happened in two scenarios.

The first scenario happened when our add-in would load too slow and registering the onSend-event handler did not happen within an x (milli)seconds. This scenario happened we can address very easily by defining the handler already in the head of the DOM and when the handl

[2020-02-20 12:02] zjomzjom commented on #771
Even if you force Excel to open in the new instance, opening files through the Windows Explorer still causes the problem:

https://docs.microsoft.com/en-us/office/troubleshoot/excel/force-excel-to-open-new-instance

"This method works only when you use the Excel icon to open the application. If you use File Open within the Excel application or double-click a file in Windows Explorer, the files wil

[2020-02-20 12:24] chrisecorcoran commented on #926
@exextoc I am referring to the issue posted by @anilreddyr7 and I previously understood the fix was rolled out to production but my questions remain because of (my) confusion about the timing of the release (4-8 weeks). I need to understand more so I can provide our own customers with answers.

- How does the customer receive the fix (ie is it a client side update that depends on a release channel

[2020-02-20 14:01] mmatu-fmb opened #995 "Edge Webview - Can't authenticate with Azure SSO when conditional access requires domain joined"
## Expected Behavior
Edge WebView should pass conditional access checks like IE was able to prior to 1903 in Outlook Plugins.

## Current Behavior
Opening a plugin thru Outlook launches the SSO authentication process and fails because it appears that the device is not domain joined.  All other O365 applications work as intended and pass these checks normally.

## Steps to Reproduce, or Live Exampl

[2020-02-20 14:17] lumine2008 commented on #994
Thanks @chanhohang, it seems the code you provide cannot run successfully, would you mind to share the gist? you could use script lab and upload your gist.
![image](https://user-images.githubusercontent.com/26398035/74941805-a57ec980-542e-11ea-8700-50d9ac5a84c3.png)

[2020-02-20 14:24] jlevenssfdc opened #996 "displayMessageForm failures without an indicator"
There appears to be some race conditions around the outcome of this feature that cause a failure when a newly created item.itemId is specified.  The caller/consumer has no indication that the request failed.

## Expected Behavior
The ability to display a message form should permit a callback to be passed that expects an indicator of success/failure for the request.

## Current Behavior
When displa

[2020-02-20 14:27] lumine2008 commented on #976
Thanks @lucetius for your reply, I am not sure if I get it. For my gist, it could run successfully. would you mind to change my gist and share the updated gist back to me, therefore I can repro the issue.
![image](https://user-images.githubusercontent.com/26398035/74943896-1a9ece80-5430-11ea-9b7c-bda3e9e44792.png)

[2020-02-20 15:20] benj-spectory commented on #558
i have the same problem with excel on the local win 10 PC
excel version is 2001 does not work and i receive "TypeError: Network request failed" when trying to use fetch.
on Office 365 on the web it works! with the same host, and the same manifest.xml file.

did anyone manage to solve this?

[2020-02-20 15:23] jlevenssfdc opened #997 "Office.context.mailbox.item.internetMessageId has inconsistent formatting on clients"
Office.context.mailbox.item.internetMessageId has inconsistent formatting on clients

## Expected Behavior
When accessing this property, regardless of client, the return value formatting should be consistent.

## Current Behavior
On Mac and Window Outlook clients the property value is NOT wrapped in greater/less than symbols.

## Steps to Reproduce, or Live Example
Access the internetMessageId pro

[2020-02-20 17:11] fdjones opened #998 "Word: context.sync() fails when context.document.body.getOoxml() runs on document with layered images"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are getting an issue that with some documents that include (lots of) layered images, context.sync() is failing and throwing an error in the console. We think it may be to do with t

[2020-02-20 19:16] davidchesnut commented on #990
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about code. We suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question.

Thanks! Office Platform team

[2020-02-20 19:16] #990 closed, assigned to nobody

[2020-02-20 19:22] davidchesnut commented on #984
I'm checking to see if our docs need to be updated...

[2020-02-20 19:47] exextoc commented on #953
Try getting a fiddler/network trace to investigate any server errors. Look for the source url of your add-in and check the request is reaching the server as you expect.

[2020-02-20 20:57] mrbfrank commented on #714
Hello @exextoc can you say why this was closed? Was this bug fixed & released? Thanks.

[2020-02-20 21:47] exextoc commented on #992
Thanks for reporting this issue regarding addFileAttachmentAsync(). It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-20 22:08] exextoc commented on #997
I was not able to reproduce this behavior in PC Desktop. What is the version number of Outlook on your PC Desktop?

[2020-02-20 23:54] chanhohang commented on #994
Hi @lumine2008 ,
Please find the gist by following this link
https://gist.github.com/chanhohang/ee6e1cd608e06a51346a3eb13ea42736

To reproduce the problem, you have to create an Excel Table, and then apply column filter (e.g. exclude all blank values for this column), and then click the button.

[2020-02-21 02:17] hello-chenchen commented on #989
hi @exextoc ,
If anything can be updated, it would be greatly appreciated!

[2020-02-21 04:18] chanhohang opened #1000 "TableRowCollection.add is clearing custom sort of the table after a clearRows"
Custom Sort is regarding the Multi column sorting. i.e. sort by Column A ascending then Column B Descending.

This issue is found when I am implementing workaround of clearing table data when there is a filter applied.
https://github.com/OfficeDev/office-js/issues/994

## Expected Behavior
table.clearFilters() should keep custom sort of the Table,

## Current Behavior
table.clearFilters() is clear

[2020-02-21 05:44] sourabhkrishna opened #1001 "OnSend Add in - Fallback Mechanism"
Is there any fallback mechanism for OnSend Addin s.

The scenario is my onSend addin blocks the email sending and based on some logic which returns true/false based on which email is either sent /cancelled.

Now , if my server where the web addin is hosted goes down , does this mean the end user who has this addin configured would not be able to send mail and this is a blocker for mails.

Is there

[2020-02-21 07:17] SibeeshVenu opened #1002 "Office Addin Angular With Search the Word by HTML, after using getHtml() function or, by default API support for this"
I am developing an office word addin using Angular and I was successful in creating the same. I am getting an HTML with some classes assigned with some unique identifier to the DIVs and SPANs, from my API.

For Example:

`<span class="tip tip-5d4949a499b39510a0ea3676" id="tip-66b92187-d901-4366-99f4-417f20de60a1">nun</span>`

Now I loaded this newly given HTML to the word as follows after clearing

[2020-02-21 09:18] DmitryKostochko opened #1003 "Outlook for Mac, Office.context.mailbox.item.to.setAsync crashes Outlook"
In an Outlook add-in for compose mode, we are using the setAsync and addAsync methods of the Office.Recipients interface to add or update email recipients.

## Expected Behavior
The setAsync and addAsync methods shall work correctly.

## Current Behavior
The setAsync and addAsync methods crash Outlook for Mac when the displayName property of the EmailUser object is set to an empty string.

## Step

[2020-02-21 10:32] lumine2008 commented on #994
Thanks @chanhohang , i can repro it. we have done some investigation, and based on our investigation, The API behavior is aligned with UI, as in UI it does not allow ins/del of table cells in the presence of Table filters.

 ![image](https://user-images.githubusercontent.com/26398035/75026636-49707f80-54d8-11ea-8a7a-b623e5b1ba27.png)
In UI, when there is no filter you can delete Table Rows, But if

[2020-02-21 10:35] mitoihs commented on #771
I was going to submit another issue, but it's very similar to mine, so I'll just post it there:

We're developing Excel addin. Sometimes, when our addin is currently working and I'm opening another Excel workbook, I'm getting:

## Expected Behavior
No error or at least more descriptive message about what & why happened.

## Current Behavior
GeneralException

## Steps to Reproduce, or Live Example

[2020-02-21 10:45] lumine2008 commented on #1000
Thanks @chanhohang , it would be awesome if you could also share the gist therefore we can locate the issue. thanks

[2020-02-21 10:55] SWDevB commented on #710
Actually a good solution would be if Excel itself would provide a message mentioning all missing mandatory parameters. Maybe inside the comment of the cell marking errors.

[2020-02-21 13:41] DmitryKostochko opened #1004 "Outlook for Mac, shared mailbox, Office JS API does not work"
In an Outlook add-in for compose mode, we are using the Office JS API to fill in email fields. The "This browser does not support the requested API" error occurs on every OfficeJS call if a new email is created by using a shared mailbox account/from field.

## Expected Behavior
Office JS methods should work.

## Current Behavior
The "This browser does not support the requested API" error occurs.

[2020-02-21 14:07] modestfake commented on #721
We've figured out that `restUrl` is an empty string `""` on items from shared folders. Not sure if there are more cases. It would be great to mention this in the documentation.

[2020-02-21 19:06] exextoc commented on #721
For shared folders, you should use [SharedProperties](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-preview#getsharedpropertiesasync-options--callback-) to get the [targetRestUrl](https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-1.8#targetresturl).

[2020-02-21 21:57] jlevenssfdc commented on #997
@exextoc I'm sorry for including the window client in here, you are correct and it shouldn't be included here, my mistake, I'll edit this.  I am confident that we are seeing this on Mac though.

[2020-02-22 03:00] ghost commented on #985
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-22 07:48] chiragvidani opened #1006 "window.navigator.msSaveOrOpenBlob is undefined in Office Add-in WebView Edge browser"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Context
As per the requirement of our application, we invoke in-house API to get .pdf base64 file string.

And this .pdf base64 string will be passed to code that allows an option

[2020-02-22 10:25] exextoc commented on #993
Thanks for reporting this issue regarding addFileAttachmentAsync() in Office Online. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-22 10:41] lumine2008 commented on #1000
We have tried in both Win32 and Excel Online, however the custom sort is still on after `table.clearFilters()` , could you please share the gist to us? thanks

![image](https://user-images.githubusercontent.com/26398035/75090925-ccf6a300-55a2-11ea-8ea3-f4e30ffe8d85.png)

[2020-02-22 19:54] jaceaser commented on #558
I'm having the same issue and I haven't found a workaround. @keyur32 can you assist?

[2020-02-24 02:00] chanhohang commented on #1000
@lumine2008 you are right. i spend more time to reproduce the problem.
it's actually clear when tableRowsCollection.add is called.

Please find the gist for your info.
https://gist.github.com/chanhohang/a3a8e8b683040e3453a555804a7d2a5b

The Custom Sort filter is still there until the rows.add(xxx) is called.

I update the description to give it a more meaning title as well.

[2020-02-24 03:57] exextoc commented on #1003
Thanks for reporting this issue regarding setAsync(). It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-24 04:29] exextoc commented on #926
@chrisecorcoran

- For Outlook Online, new fixes are deployed every Monday and deployment saturates to 100% by Friday. The fixes are available globally thereafter.

- For highly critical issues, we do provide Hot Fixes which will reach the Customers earlier.

[2020-02-24 05:05] exextoc commented on #997
Thanks for reporting this issue regarding Office.context.mailbox.item.internetMessageId. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-24 05:43] AnjanaValsan commented on #714
This is not fixed at the moment.
In Outlook for Mac, the item id is the same as the series id for all instances. Only if an occurrence is a deviation we expose the item Id. (explanation below)
**Recurrence with deviation**
When one item in a series is scheduled for a different time, it is called a deviation or exception. (the highlighted one below)
![image](https://user-images.githubusercontent.co

[2020-02-24 09:21] exextoc commented on #996
API "displayMessageForm" does not provide a callback method. So, we do not pass information on API response as mentioned in the documentation here in the [document ](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-1.5#displaymessageform-itemid-)

[2020-02-24 11:49] lumine2008 commented on #771
Thank mitoihsThis is a known gap for our Excel JS API working on multiple worksheets，but  there is a workaround that you could try is to open a new excel workbook as a separate instance.