[2022-10-26 15:28] Wenjun-Gong commented on #2051
Hi @cidev5 , we have been looking into this issue. We will update the thread once we have update on this.

[2022-10-26 15:44] Wenjun-Gong commented on #1278
Ruizhi, could you help to take a look? @ RuizhiSunMS

[2022-10-26 16:28] mattgeim commented on #2913
This is related to tracking prevention in browsers - you can find information related to tracking prevention and how to address it in your add-in in our docs here:  https://learn.microsoft.com/en-us/office/dev/add-ins/develop/itp-and-third-party-cookies

[2022-10-26 17:26] thoffmann-fms commented on #2864
Tue 10/26, Fixed, no errors logged, and Office.context.mailbox.item.start.getAsync() works as expected.

[2022-10-26 21:01] ghost commented on #2869
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-27 01:07] timwan10 commented on #2910
I noticed that this was for OWA, so I'll let someone chime in for OWA, but you should not expect this to have 100% fidelity on Win32.  Since Windows uses Word as a rendering engine, when you Set HTML it gets translated to Word. When the HTML comes back from Word, it often has additional stuff added in it.

Since add-ins should run on all platforms, you should consider that in any code that you wri

[2022-10-27 06:09] exextoc commented on #2839
We have fixed the bug and the fix should be available in Production now.

[2022-10-27 06:19] Howard-Song commented on #2906
@exextoc Thank you, will post in to the [Tech Community Page](http://aka.ms/M365dev-suggestions).

[2022-10-27 06:32] exextoc commented on #2910
In OWA as well we dont expect 100% fidelity , we have highlighted this in our doc for get API "When working with HTML-formatted bodies, it is important to note that the Body.getAsync and Body.setAsync methods are not idempotent. The value returned from the getAsync method will not necessarily be exactly the same as the value that was passed in the setAsync method previously. The client may modify

[2022-10-27 06:34] exextoc commented on #2917
Currently resizing of taskpane in Outlook Web is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-10-27 06:38] repl-minatee-p commented on #2913
Sure, I will go through this doc. But we are also developing an outlook email add-in and in that case we don't see the same issue in safari browser. We are seeing this issue only for word/excel/powerpoint add-ins. And we are using the same 'OfficeRuntime.auth.getAccessToken' api in both the cases.
Why does this api work without any issue in outlook but not in word/excel/powerpoint ?

[2022-10-27 07:44] exextoc commented on #2919
The Join button is only supported in Outlook on the web, Mac, Android, and iOS. If you only see a meeting link, but don't see the Join button in a supported client, it may be that the online-meeting template for your service isn't registered on our servers. See the [Register your online-meeting template](https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting?tabs=non-mobile#re

[2022-10-27 09:19] JinghuiMS commented on #2776
@wh1t3cAt1k
Sorry we can't repro it after downloaded and opened [crash-demo.xlsx](https://github.com/OfficeDev/office-js/files/9350710/crash-demo.xlsx). It will show the below after clicked the trust add-in. Do you know whether Velixo has any updates? or can you repro it in your side now? If you can repro it, it's better to provide us the way to repro locally. Thanks.

[2022-10-27 14:44] theboyknowsclass opened #2922 "Powerpoint Online - Slide is not updated after adding a text shape"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Powerpoint Online - Slide is not updated after adding a text shape

Using the sample - "Basic API call (TypeScript)" - Run and click the button.

##Expected result:
Shape with textbox

[2022-10-27 18:02] ghost commented on #2732
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-27 18:33] exextoc commented on #2897
As per for description above it looks like you are trying to save custom data before handling OnAppoinmentSend event . You can achieve it via [Session Data ](https://learn.microsoft.com/en-us/javascript/api/outlook/office.sessiondata?view=outlook-js-preview) . After saving the custom data in session data ,you can read it while listening to AutoRun event OnAppoinmentSend

[2022-10-27 19:12] SharonCKC opened #2923 "Excel pivot table field bug when user renames the pivot field"
# When a pivot field is renamed by the user, there is no way to get the pivot items of the field
`Excel.RowColumnPivotHierarchy.getItem(pivotField.id).fields.getItem(pivotField.id).items.items` fails.

## Your Environment
* Platform: PC/Mac/Online
* Host: Excel

## Steps to reproduce
Given a pivot table "PivotTable1" containing only one row field named "ZIP", run this code:
[code]

Everything work

[2022-10-27 19:12] ghost commented on #2923
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-27 19:28] marindedic opened #2924 "Drag content from a TaskPane to a cell in Excel"
I am trying to figure out a way to drag an element (for example text), from the TaskPane to an Excel cell. However, I can't seem to find any documentation about that. Is that feature not supported without making workarounds? The only example I found was the wiki add-in: https://learn.microsoft.com/en-us/answers/storage/attachments/110013-drag-n-drop.gif

[2022-10-28 03:27] sumitjain-rsi commented on #2719
any update on the issue

[2022-10-28 07:24] RuizhiSunMS commented on #2914
@xchen9090 Thanks for reporting the issue.
Our designed behavior is to clear any styles if no empty paragraph accompanied with the content when using that api. Then if you said that all styles would be cleared in this scenario, that's it.
However, your case seems to be the 'heading 1' is the only invalid style when insert without empty paragraph.
Please make sure these details which can help our E

[2022-10-28 07:29] RuizhiSunMS commented on #2922
@ononder Please take a look.

[2022-10-28 07:31] RuizhiSunMS commented on #2921
@ononder Please take a look.

[2022-10-28 07:55] RuizhiSunMS commented on #2918
Thanks for reporting. This issue should be TaskPane related, I'm reaching out to related colleagues.

[2022-10-28 08:10] yuc014 commented on #2924
Hi @marindedic,

I tried the wiki add-in you mentioned, and looks like it only works on desktop. And I find many add-ins could do drag-and-drop on Excel desktop only if the text is selectable, see below video:

https://user-images.githubusercontent.com/87364252/198535443-a9d1a997-c80f-4c2c-8fcf-ca605ecfd0b0.mp4

So did you test your add-in on excel online?

By searching lots of docs I find drag-an

[2022-10-28 08:20] danielpdev commented on #2900
Hi @yaweizhu-henson, do you know if this is a bug or something?

[2022-10-28 08:21] RuizhiSunMS commented on #2909
Close this issue since the customer looks get the answer.

[2022-10-28 08:21] #2909 closed, assigned to nobody

[2022-10-28 08:25] RuizhiSunMS commented on #2907
@anna-feliz Thanks for reporting this issue. Our Eng has reproduced the issue. Then the ADO #7010550 is created to track this issue.
Will update here if new information comes in but we can't provide a timeline now.

[2022-10-28 08:26] otisyuan789 opened #2925 "Failed to set empty bcc with bcc.setAsync on office web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

On Edge/Chrome browser, , failed to set empty  bcc to remove all recipients with bcc.setAsync on office web

Notes: Only on

[2022-10-28 08:35] anna-feliz commented on #2907
This is definitely a bug. I have tried the following piece of code with insertText, and another example with insertOoxml, and then it has no issues.
[code]
This is directly after inserting the piece of html-code:
<img width="724" alt="bild" src="https://user-images.githubusercontent.com/5991226/198541950-04dd4de6-9579-4585-addf-0d9aa21900a0.png">

If I reload the document (In chrome browser) the f

[2022-10-28 08:43] aqewd commented on #2897
Thanks a lot, that's how I did it.

[2022-10-28 08:43] #2897 closed, assigned to exextoc

[2022-10-28 08:49] stefanoslig commented on #2839
thanks @exextoc !

[2022-10-28 08:55] gingerjia commented on #2876
@nvazhayil can you share your mail address by filling the survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR062poBcEKJIr6hgntP54CVUQU5MSjdFWkhPTEozTzFBWVUyNUoyNDRRUC4u and then I can reach out to you for details? Thanks very much for your patient to help us understanding the issue!

[2022-10-28 09:03] exextoc commented on #1474
Currently the feature you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-10-28 09:09] exextoc commented on #1570
Resolving issues older than 2 years. Please re-activate if it is still repro.

[2022-10-28 09:12] exextoc commented on #1419
This issue is with specific browser IE, as a workaround you can try using Edge or other supported browsers.

[2022-10-28 09:41] yuc014 commented on #2923
@SharonCKC Thanks for reporting this issue.
It has been put on our backlog<Bug#7030980> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-10-28 10:59] jacifkusto commented on #2925
We have the same issue with the To, Cc, Bcc fields.
We've also tried Office.context.mailbox.item.to.setAsync([],console.log). The To, Cc, Bcc fields are cleared after calling this method but the Web interface is not updated and shows the one of the recipients in the field.

[2022-10-28 12:12] #1409 closed, assigned to exextoc

[2022-10-28 12:17] #963 closed, assigned to exextoc

[2022-10-28 12:19] #937 closed, assigned to exextoc

[2022-10-28 12:20] #1205 closed, assigned to exextoc

[2022-10-28 12:20] #1286 closed, assigned to exextoc

[2022-10-28 12:21] #1361 closed, assigned to exextoc

[2022-10-28 12:57] #1570 closed, assigned to exextoc

[2022-10-28 13:54] SharonCKC opened #2926 "Pivot table Office.js bugs cause Excel to crash"
We have been seeing a lot of crashes with the Office.js pivot table API for Excel.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC, Mac, Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel

## Expected behavior
At the very least, it should not crash Excel. Ideally, it should throw a specific pivot table error message.

## Current behavior
Either Excel desk

[2022-10-28 13:54] ghost commented on #2926
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-28 14:44] leybal opened #2927 "Using chart.series.add() results in incorrect y-axis data on a chart. The new series on a chart do not match the values on the sheet."
# Provide required information needed to triage your issue
Hi. Our team and I working on charts. And we noticed that when we add a new series to the chart, incorrect data is displayed on the Y-axis of the chart.
Let's say we wanna create a chart and add a series on it referring to the same range.
The first series is displayed correctly.
The second series is displayed as if the Y-axis data has been

[2022-10-28 14:44] ghost commented on #2927
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-28 14:50] xchen9090 commented on #2914
I just double checked. If the last paragraph uses "Intense References" style, it works fine. The problem is only on "Heading 1" style.

[2022-10-28 14:56] wh1t3cAt1k commented on #2899
@SiruiSun-MSFT we identified the root cause in our code that led to the crash box, so that you can better reproduce it and improve messaging / behaviour around the error.

This call:

[code]

Was not **await**ed in our code (we have since enabled the linter rule to catch floating promises).

And _sometimes_ (race condition) subsequent interactions with Excel failed with an internal error.

Things

[2022-10-28 14:58] xchen9090 commented on #2914
"Our designed behavior is to clear any styles if no empty paragraph accompanied with the content when using that api. "
- Do you mean by design the style should be removed for the last paragraph? For "Heading 1" style, it works as designed. The "Intense References" style is a bug that it retains the style?

[2022-10-28 16:06] ElizabethSamuel-MSFT commented on #2905
@ChienHo Thanks for letting us know about these issues.

@RuizhiSunMS Can you take a look?

Thanks.

[2022-10-28 16:07] #2906 closed, assigned to exextoc

[2022-10-28 16:10] ElizabethSamuel-MSFT commented on #2918
@RuizhiSunMS Is there someone this issue can be assigned to? Thx.

[2022-10-28 17:15] Andrew-AnalysisPlace opened #2928 "OfficeRuntime.Storage on Macs does not share storage between Excel and Word add-ins"
I want to be able to share data between an Excel add-in and a Word add-in.  I have no problem doing this on Windows and Office Online, but we can't get the 2 add-ins to communicate on Macs. I need to get them to communicate on the user's device without sending customer data through a server.

## Your Environment
* Platform: Mac
* Host: Excel and Word
* Operating System: Mac OS (variety of Safari v

[2022-10-28 18:02] EdwinStraver opened #2929 "Charts are incorrectly drawn in Excel for the web, but correctly in desktop Excel"
I created a chart with the code:

var chart = ctx.workbook.worksheets.getActiveWorksheet().charts.add("XYScatter", range, "auto");

In desktop Excel, this works perfectly:
![image](https://user-images.githubusercontent.com/27964706/198702379-c522006f-fac6-497a-b29f-8fd0d14a9856.png)

But in Excel for the web, this results in:
![image](https://user-images.githubusercontent.com/27964706/198702482-84

[2022-10-28 18:33] EdwinStraver commented on #2929
Note: if I switch "auto", to "columns", it works ok.

[2022-10-28 23:47] nvazhayil commented on #2876
Clicking on the survey link says "You don't have permission to view or respond to this form"

[2022-10-29 19:51] sdudnic commented on #1561
The issue occured when a ScriptLab code does the `await context.sync()`
![image](https://user-images.githubusercontent.com/35489219/198850270-c60dc3c4-62f2-4f5a-b783-afd9e1d48c60.png)

![image](https://user-images.githubusercontent.com/35489219/198850329-7a9edb85-f4b7-4709-bbb4-95d673bdffaf.png)

![image](https://user-images.githubusercontent.com/35489219/198853460-e7dab033-ff39-4c3c-8ad0-7a2e54d9

[2022-10-29 23:01] ghost commented on #2869
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-29 23:01] #2869 closed, assigned to exextoc

[2022-10-30 00:01] ghost commented on #2884
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-30 09:01] ghost commented on #2912
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-30 09:01] ghost commented on #2382
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-30 09:04] guzman-rc commented on #2382
Ok, we will check in the next version if the bug has been fixed.

[2022-10-30 09:36] repl-minatee-p opened #2930 "How to get add-in version at runtime through OfficeJS API ?"
I need to fetch the "Version" property value from the add-in's manifest file. I see that add-in displays its version when we click on "Security Info" but I am not able to find a way to get this information through OfficeJS api in my javascript.

Is there a way to get the add-in version or access the security infos programmatically ?

[2022-10-30 15:01] ghost commented on #2386
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-30 20:01] ghost commented on #2732
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-31 01:01] gingerjia commented on #2876
Please try again as I modify the responder's limitation. Thanks!

[2022-10-31 02:39] demyte opened #2931 "Streaming function returns #VALUE when argument is entity data type"
# Provide required information needed to triage your issue

Using two of the samples in Script Lab as the bases for this reproduction the steps below show that when an entity value is passed to a streaming function the function always returns #VALUE!

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: WEB
* Host [Excel, Word, PowerPoint, etc.]: EXCEL
* Office version number

[2022-10-31 03:31] Biktop commented on #2716
The same issue under windows excel. And it works well under Mac and browser

[2022-10-31 03:49] demyte opened #2932 "Streaming function - after initial invocation - when F2 and Enter is used on it - it returns #VALUE!"
# Provide required information needed to triage your issue

As details and per steps detailed below.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: WEB
* Host [Excel, Word, PowerPoint, etc.]: EXCEL
* Office version number: N/A
* Operating System: WINDOWS
* Browser (if using Office on the web): Edge/Chrome Latest

## Expected behavior

The entity is returned, just like

[2022-10-31 04:45] vikramsw commented on #2386
@exextoc , Thanks. Looking forward to a resolution on this issue.

[2022-10-31 05:06] repl-kannan-d commented on #2769
@exextoc @JuaneloJuanelo Hi Team, Did you get a chance to look at the live extension that i had shared via email?

[2022-10-31 06:02] ghost commented on #2842
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-31 07:16] RuizhiSunMS commented on #2928
@mattgeim Suppose that you may help in this area?

[2022-10-31 08:36] RuizhiSunMS commented on #2930
Hi @repl-minatee-p , thanks for reporting.
In common, this channel has a standard forum for customer to provide more information. We strongly suggest you fill them then we may can get valuable hints from them.
And as for your issue itself, as far as I know there is no such one in Excel JS APIs( and I think there should be none in Common APIs neither.). If you want a new feature, here we suggest yo

[2022-10-31 09:02] ghost commented on #2919
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-31 09:02] ghost commented on #2917
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-31 09:02] ghost commented on #2910
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-31 09:11] yuc014 commented on #2929
Hi @EdwinStraver
I tried your repro step but it not repro on my excel online, see below video:

https://user-images.githubusercontent.com/87364252/198972312-46cb015c-3a16-4681-b641-c9d15038015a.mp4

And my gist: https://gist.github.com/yuc014/5c17e9a201040a8d93df3c540a39475d

If you still can repro, could you share a code snip? Thanks.

[2022-10-31 09:42] clavx opened #2944 "Outlook for Windows: "Resources" behavior in Calendar view"
Outlook for Windows: "Resources" behavior in Calendar view

I have a question about the return value of the `enhancedLocation.getAsync` method.

I have confirmed the following behavior in Outlook for Windows:
* The "Rooms" box and the "Resources" box are the same.
* (1) When an Equipment or User is specified in the "Resources" box (= "Rooms" box), it will be displayed in the "Required" field.
* (2

[2022-10-31 09:53] nbelyh commented on #1539
From my side, the issue seems to be still there.

[2022-10-31 10:29] RuizhiSunMS commented on #2905
As for Point 1 about Content Control, our colleague eng has ack and is investigating.
And for Point 2, @ononder please take a look?

[2022-10-31 13:44] repl-minatee-p commented on #2930
Thanks @RuizhiSunMS for your response. I will post it in other forums to know if there is any indirect way to achieve it.

[2022-10-31 13:44] #2930 closed, assigned to nobody

[2022-10-31 14:06] nickolasfisher opened #2933 "context.document.body.getHtml() fails on chrome and edge"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoin

[2022-10-31 14:06] ghost commented on #2933
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-31 16:16] AlexJerabek commented on #2944
Thanks for reporting this @clavx.

@samantharamon, can you please investigate?

[2022-10-31 19:33] ghost opened #2934 "When writing a large amount of data to Excel table, promise resolution of Excel.run occurs before data rendering complete."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2209 Build 1569.20208
* Operating System: Windows 10
* Browser (if using Office on the web): N/A

## Expected behavior

I have an Excel.run function that writes a large amount of data

[2022-10-31 20:26] exextoc commented on #2830
@sc41322, This is strange. Browser version shouldn't affect this at all. Are you perhaps testing on different build versions of Outlook or Windows? Against different versions of Exchange? (On Prem? Office 365?)

We need more information here to figure out what is going on:

* What specific build version of Outlook are you reproing this on. If it doesn't repro on a specific build, what is that too?

[2022-10-31 21:02] ghost commented on #2767
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-01 00:57] wh1t3cAt1k commented on #2732
@JHJ-MS @JinghuiMS @RuizhiSunMS @Wenjun-Gong please reopen this. The workaround proposed (adding another argument) is not working for us because we need to maintain 100% function-level compatibility with our legacy XLL add-in.

[2022-11-01 00:59] wh1t3cAt1k commented on #2776
@JinghuiMS it is definitely reproducing for me. Please see the attached videos.

https://www.loom.com/share/047d20d5e3bc428e88fe8f6ad84be51b

‼️‼️ Note that as per my steps above, the file I mentioned has two add-ins registered in it somehow.

The first time I saw it there was also a message about the (missing) development add-in with a retry button, which I clicked ("Retry").

Now I don't receive

[2022-11-01 01:10] wh1t3cAt1k commented on #2734
Note that this can be more easily worked around if this is implemented (also submitted by our company):

https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/abstract-away-the-5mb-api-request-limit-when-doing-excel-interop/idi-p/3629289

[2022-11-01 01:13] wh1t3cAt1k commented on #2734
We have submitted the idea specifically for this issue: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/support-permanent-application-screenupdating-setter-instead-of/idi-p/3666900#M1434

[2022-11-01 02:39] xuruiyao-msft commented on #2908
@rutvik95 Would you please attach the word document but not put the link. Sorry that I cannot login to the Link. It would be better for me to download the file and open it on PC desktop.

[2022-11-01 02:50] rutvik95 commented on #2908
@xuruiyao-msft  Sorry, the link must have expired. That's why it's asking for a login.

I have attached the file for your ease of access.

[TestFile.docx](https://github.com/OfficeDev/office-js/files/9906360/TestFile.docx)

[2022-11-01 03:10] xuruiyao-msft commented on #2908
@rutvik95 Thanks. I open the document and the date of the existing comments are normal, but the script lab shows the Dates of all the comments are "1899-11-30T00:00:00.000Z".
But I append a new paragraph into the existing document, copy the paragraph to append at the tail. The new added comments' date is normal too.
Is this issue existing in this doc only? Could you reproduce it on a new document?

[2022-11-01 04:27] rutvik95 commented on #2908
@xuruiyao-msft
So I think I've figured out the issue.
It seems to have nothing to do with copying comments.

Comments created in Office 2013 (That's the only version I have apart from 365) are showing the date as "1899-11-30..." In OfficeJS. Since I don't have any other version of office, I am unable to confirm if the issue persists on comments created in office 2016 or 2019.

Should I close this

[2022-11-01 07:39] RuizhiSunMS commented on #2918
@ElizabethSamuel-MSFT  , I think Heidi should know but I don't know his github account. I sent an email but got no reply

[2022-11-01 07:42] xuruiyao-msft commented on #2905
@ChienHo  could you please provide the code about how you insert the content control with the image? Thanks.

[2022-11-01 08:24] xuruiyao-msft commented on #2908
@rutvik95 I will open a work item to track the issue. If there's any progress, I will update to you

[2022-11-01 08:39] RuizhiSunMS commented on #2878
Hi @wh1t3cAt1k, sorry for the late reply. After some investigation, we find this issue is appsource related(not owned by us). Here are some explanations from appsource team guys (and rephrase by my understanding):
From the base design, expect Office regards two add-ins as the same is not supported. There is one id property for the application to identify same or different add-ins. If the add-in is

[2022-11-01 08:46] rutvik95 commented on #2908
@xuruiyao-msft Thank you!

If it helps, the comment.xml file in the document, more particularly the w:date attribute, shows the correct timestamp for the comments.

[2022-11-01 09:01] ghost commented on #2924
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-01 09:02] ghost commented on #2839
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-01 09:02] yuc014 commented on #2927
Hi @leybal, thanks for reaching us.
According to https://learn.microsoft.com/en-us/javascript/api/excel/excel.chartseries?view=excel-js-preview,
setXAxisValues(sourceData) : Sets the values of the x-axis for a chart series. **Only works for scatter charts.**
Thus this method is not for your chart(lineStacked type).

And secondly, you mentioned

The second series is displayed as if the Y-axis data

[2022-11-01 09:12] pvsleeper opened #2935 "Excel Bindings gets Deleted on refresh"
When performing a hard refresh in the browser (CTRL + F5), any bindings that were created in and Excel workbook gets delete when an Add-in loads.

Bindings were persisted up to about a day ago and suddenly, when my plugin loads, it deletes all bindings in the Workbook and there is no way to recover it.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
*

[2022-11-01 09:12] ghost commented on #2935
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-01 09:21] Howard-Song opened #2936 "[Outlook] Body.setAsync will break signature IMG on exchange on-premise"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **Exchange on-premise for web**
* Host [Excel, W

[2022-11-01 09:27] yuc014 commented on #2926
Hi @SharonCKC, thanks for reaching us.
I tried your step but not repro on my machine, see below video as an example (for scenario 2):

https://user-images.githubusercontent.com/87364252/199202382-7c57079b-b383-476f-a64d-326da45da4d3.mp4

If you could reproduce it steadily, could you give me a example.xlsx and a code snip? Then I can investigate it.

Thanks.

[2022-11-01 10:00] YbJerry opened #2937 "CustomXMLPart can't sync"
# Provide required information needed to triage your issue
I'am trying to use Common Office API to manipulate the Bibliography in the docx file. Because I think Bibiliography will be store in the customXml. So I try to use API about CustomXml in Common Office API to do that thing. At first, I try to add a Bibliography in a new document, it works. But later I find I can't change or add a source in

[2022-11-01 10:00] ghost commented on #2937
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-01 10:52] Iso5786 opened #3314 "With multiple mailboxes added to Outlook, SSO does not work for non-default mailboxes"
# Expected behavior

By implementing the provided example (https://github.com/OfficeDev/Office-Addin-Taskpane-SSO/blob/master/src/helpers/fallbackauthdialog.ts) I expect that if a user has several mailboxes added to her Outlook instance, that the correct user of the selected mailbox is authenticated.
In my case the default mailbox is from ru.nl, and second and third from outlook.com.

I also tried

[2022-11-01 12:02] ghost commented on #2923
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-01 12:02] ghost commented on #1474
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-01 12:02] ghost commented on #1419
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-01 13:28] gmichaud commented on #2878
Thanks @RuizhiSunMS for the follow-up. This looks to be a core design flaw with how deployment of add-ins is managed. I understand the technical challenge, but would like to point out that end-users are generally not nice and will simply complain that "things are not working".

Here's another example of the "poisoning" behaviour that @wh1t3cAt1k described here. I don't know if it has anything to d

[2022-11-01 13:52] leybal commented on #2927
Hi @yuc014
Thanks for the quick response. It was very helpful.
We have tested `setXAxisValues(sourceData)` method with `Excel.ChartType.line` chart and it seems to work correctly. Can you confirm that we can use `setXAxisValues()` for `ChartType.line` in [production](https://learn.microsoft.com/en-us/javascript/api/excel/excel.chartseries?view=excel-js-1.16)? If not, what are the difficulties we c

[2022-11-01 14:10] wh1t3cAt1k commented on #2878
Probably this is what I have minimal repro for in the related issue: https://github.com/OfficeDev/office-js/issues/2776#issue-1340252421

These two problems may be linked.

I feel like it's a very serious problem that is deserving of a much higher priority on Microsoft's end, both these issues have remained unaddressed for a long time.

[2022-11-01 14:32] 4tti commented on #2878
Just to be sure what ID are you referring? Cause manifest contains ID but I guess you are talking about "we:reference id" and not about the manifest one.

Nevertheless to me this seems to be critical design flaw. Adopters should be able to control this behavior and if they wish, they should have a way to tell to Office Apps that "hey, this particular Addin is same" and eventually even have options

[2022-11-01 15:46] ElizabethSamuel-MSFT commented on #2936
@JesseHeisenberg Thanks for letting us know about this.

@exextoc Can you take a look?

Thanks.

[2022-11-01 16:18] thoffmann-fms opened #2938 "OWA - Edit this and all following throws unhandled error"
# Provide required information needed to triage your issue

- Create a daily recurring event M-F, invite an Exchange Resource, Send.
-  Wait for the resource to accept the event.
- Right-click on Tuesday and Edit This and all following events.  Change the end time, click Send.
-  Error message displayed, clicking details throws another unhandled exception.
-  See screenshot below.

[code]
and clic

[2022-11-01 18:10] SharonCKC commented on #2923
@yuc014 thank you for the update. Would you have any rough idea of timing for the fix?

[2022-11-01 18:37] vinay-sattur opened #2939 "Add-in is not auto loading."
Add-in is not auto loading in production environment. It was working fine till yesterday(31st Oct 2022) but from today morning its not working. No changes/deployments are done from our end.

## Expected Behavior
Add-in is expected to auto load.

## Current Behavior
Add-in is not auto loading.

## Steps to Reproduce, or Live Example
1) Login to following account
https://newconnect.mheducation.com
u

[2022-11-01 19:03] Augustalex commented on #2921
When I press "Present", the add-in successfully loads while presenting.

It seems to only show this error when editing the presentation.

Which still makes it a very big concern for our users using it with PowerPoint Web.

[2022-11-02 00:41] taralex77 opened #2940 "Showstopping bug in Excel Online that breaks all add-ins"
Starting October 31st, 2022 (Halloween Special):
Any Excel spreadsheet open in Excel Online gets stripped of settings saved in it before. This renders useless all plug-ins that use _Office.context.document.settings.set(key, value)_.

## Expected Behavior
Settings saved by Excel add-ins in the property bag of an Excel spreadsheet should be retained on reopening the spreadsheet in Excel Online.

##

[2022-11-02 00:41] ghost commented on #2940
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-02 01:10] Biktop commented on #2940
I've tried several plugins from the market and it seems that they also loose their settings after refreshing page in the browser as it was described in the issue.

[2022-11-02 01:42] XiLiuRoy commented on #2940
HI @Biktop , we also experience similar issues that after a refresh/hard-refresh, the context.workbook.bindings are gone, by reading through your case, it seems lots of persisted data to workbook have gone after Oct 31st.
The issue we had is here https://github.com/OfficeDev/office-js/issues/2935

[2022-11-02 01:55] pvsleeper commented on #2940
Best bit is, if its the same issue as https://github.com/OfficeDev/office-js/issues/2935 - which also started as part of the Halloween Special, then the data is GONE.
I wrote some bindings to a sheet and then had a look at the backing xml and found the bindings in there. Then I refreshed Excel, loaded my add-in and my add-in couldn't find the bindings anymore. Downloaded the Excel file again, and

[2022-11-02 02:02] ghost commented on #2884
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-02 02:02] #2884 closed, assigned to exextoc

[2022-11-02 02:14] laysrain opened #2941 "Change the Series's Color and Name of Chart brought some unexpected problems."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___PC___
* Host [Excel, Word, PowerPoint, etc.]: ___Excel___
* Office version number: ___1.1___
* Operating System: ___Win10___
* Browser (if using Office on the web): ______

## Expected behavior

I want to change the series's color and name of use the excel api.

[2022-11-02 02:14] yuc014 commented on #2923
Hi @SharonCKC, we already had a plan for this quarter, sorry I cannot guarantee the time for fix.
Could you give me more details about this issue? For example, how many customers are impact, then maybe I could highlight this bug and raise its priority.

[2022-11-02 03:08] RuizhiSunMS commented on #2934
Hi @AlgaeBread , thanks for reporting.
One suggestion is to use await in excel.run(... reportTable.resize. Since you do use await in another place, I'm curious why you didn't do it

[2022-11-02 03:39] vgarun84 commented on #2876
I am getting **Error** RibbonApiNotAvailable while enable the controls button (ribbion) programatically

`const enableStaffList = async (event) => {
  try
  {
    await Office.ribbon.requestUpdate({
        tabs: [
            {
                id: "MyCustomTab",
                controls: [
                  {
                      id: "btnStaffList",
                      enabled: true

[2022-11-02 03:57] ChienHo commented on #2905
@xuruiyao-msft , here's the code: https://gist.github.com/ChienHo/4a177cb823f8b10072e1f51901cba6bb

[2022-11-02 04:40] JinghuiMS commented on #2776
@wh1t3cAt1k
I saw your reply on https://github.com/OfficeDev/office-js/issues/2878 thread. I would like to know your provided file(crash-demo.xlsx) installed 2 same add-ins(Velixo), one is from store, another one is from side-load manifest? is there anything else special?

[2022-11-02 04:50] avisheknand opened #2942 "OfficeRuntime.auth.getAccessToken() gets stuck in event-based activation Outlook Addin (Outlook Windows)"
# Provide required information needed to triage your issue

When running event based addin (smart alert on OnMessageSend) SSO OfficeRuntime.auth.getAccessToken() gets stuck. I have encounted this on Outlook for Windows... it works fine on Outlook on web

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office versi

[2022-11-02 06:14] RuizhiSunMS commented on #2939
Hi @vinay-sattur Thanks for reporting this issue. We also have got similar issue from another source and still focus on it. Will update if we make progress.

[2022-11-02 06:50] nvazhayil commented on #2876
Updated

[2022-11-02 07:03] donlvMSFT commented on #2941
Hi @laysrain ,

About the Fill.Color for the points, the Line with Markers chart type does not support the fill color. You may get the InvalidOperation error when trying to do this.

And for the 2 questions about save seriesName and point.color not work, I tried on my local machine but unfortunately couldn't repro. Could you share more information? Like:
1. The Office desktop version, you could fi

[2022-11-02 08:08] CG49071 commented on #2830
Please my response inline in blue:

From: Outlook Add-ins Team - MSFT ***@***.***>
Sent: 01 November 2022 01:57
To: OfficeDev/office-js ***@***.***>
Cc: Chhavi Gupta ***@***.***>; Comment ***@***.***>
Subject: [External Origin] Re: [OfficeDev/office-js] getUserIdentityTokenAsync method keeps returning obsolete identity token until 30 minutes when EdgeHtml used as browser in Outlook add-in (Issue #

[2022-11-02 08:12] laysrain commented on #2941
Hello @donlvMSFT,
May I ask what version the office.js is?
What is the current stable version?

[2022-11-02 08:30] donlvMSFT commented on #2941
Hi @laysrain ,
The office.js have 2 versions, [prod version](https://appsforoffice.microsoft.com/lib/1/hosted/office.js) and [debug version](https://appsforoffice.microsoft.com/lib/beta/hosted/office.js), you could refer to https://learn.microsoft.com/en-us/office/dev/add-ins/develop/understanding-the-javascript-api-for-office for more information.

[2022-11-02 08:55] sznorbert07 opened #2943 "Office.js initialization fails on Outlook Android"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mobile
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 1.1
* Operating System: Android 12
* Browser (if using Office on the web): ______

## Expected behavior

Office.js gets initialized and the `Office.initialize` method is being called on

[2022-11-02 10:18] exextoc commented on #2943
Hi @sznorbert07, could you please share the manifest file of the add-in you're developing and code-snippet so that we can repro the issue at our end?

[2022-11-02 10:26] sznorbert07 commented on #2943
Hi @exextoc. Thanks for the reply. Is there a way I can send the manifest to you privately?

[2022-11-02 10:27] claell commented on #2767
Yes, what feedback is needed from me?

[2022-11-02 11:01] ghost commented on #2912
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-02 11:01] #2912 closed, assigned to nobody

[2022-11-02 13:45] fmcgough commented on #2557
Hi, apologies for the delay in getting back to you on this. We've had a response from one of our customers to your questions, they report:
- the error occurs periodically, not on every request
- if they keep trying it eventually works
- they're not using Focused Inbox
- they're accessing Outlook on desktop only (on Windows)
- no inbox rules are in use.

I hope this is helpful for you, we'll contin

[2022-11-02 14:17] SharonCKC commented on #2923
@yuc014 Pivot tables is a new feature we will introduce in a few weeks. It would be awkward to have to tell customers that they cannot rename their pivot table's fields, otherwise weird things happen. Any chance the fix can make it in next quarter?

[2022-11-02 14:44] SharonCKC commented on #2926
Please use this workbook [Examples.xlsx](https://github.com/OfficeDev/office-js/files/9921357/Examples.xlsx), and the code below for each worksheet:

Example1:
[code]

Example2:
[code]

Example3:
[code]

Example4:
[code]

[2022-11-02 15:51] nickamckenna commented on #2815
We are also experiencing this problem. @JinghuiMS What workaround did you find?

[2022-11-02 20:18] wh1t3cAt1k commented on #2776
@JinghuiMS this is correct. There was nothing special except the fact that we frequently provide an update to our assets on our server (JS, CSS, HTML) without resubmitting the manifest to the store. Unlikely that this can be at play here, but on the off chance it does, it's worth mentioning.

[2022-11-02 20:33] wh1t3cAt1k commented on #2878
Just to reiterate the key invariants of a potentially better architectural solution, as I see them:

- When a developer has a sideloaded add-in installed, it is safe to assume that they want to use it in favour of the store version. It might also be reasonable to assume that admin-managed channel may take precedence over individual AppSource installations. This naturally produces a priority chain

[2022-11-02 21:32] wh1t3cAt1k commented on #2876
@gingerjia this doesn't look like manifest validation error in my case because the problem is with contextual tabs dynamically assembled from JSON, and it is sporadic.

I'm seeing in tests is that the tab doesn't appear about 50% of the time I open the add-in, and appears in other 50% of the cases. No idea what causes that.

What can we do to troubleshoot this?

[2022-11-02 21:47] samantharamon commented on #2944
Hi @clavx,

Thank you for providing details about your test scenarios. The video of the behavior you're getting is much appreciated. I'll look into this further to determine the expected behavior and get back to you.

[2022-11-03 02:06] nitingupta2012 commented on #1095
Hi @exextoc

We are also facing the same issue. Using graph API via power automate to generate emails and user can view the emails via weblink provided by API.

For some users the link is working fine and users are able to view the email and can edit the email via deeplink but for other set of users they are unable to edit the email hence can't send it.

Strange behavior's for users in same org wi

[2022-11-03 05:00] yuc014 commented on #2923
@SharonCKC Thanks for reply, already highlight this workitem to partner team, will update when have progress.

[2022-11-03 05:39] yuc014 commented on #2926
@SharonCKC Thanks for your detail reply, I can repro it now.
It has been put on our backlog<Bug#7072918> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-11-03 06:52] exextoc commented on #2943
Hi @sznorbert07, you can share the files here: OutlookExtensibility@M365x27035562.onmicrosoft.com

[2022-11-03 07:11] kgeorgiou1234 commented on #1863
Same where with contentControl.getHtml()

[2022-11-03 07:36] sznorbert07 commented on #2943
Hi @exextoc, I sent the manifest file to the email.

[2022-11-03 08:01] ghost commented on #2842
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-03 08:01] #2842 closed, assigned to exextoc

[2022-11-03 08:51] 4tti commented on #2878
@wh1t3cAt1k but this won't help with the 'prod vs test environment for OnPrem solutions' scenario, cause usually same approach of 'installation' is used (e.g. shared folder/centralized deployment). The proper solution should be that these logical groups ALLOW user to pick what they want to use (at least when they have permission to do so), i.e. I can imagine that actually there is 'Available' or '

[2022-11-03 11:01] ghost commented on #2919
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-03 11:01] #2919 closed, assigned to nobody

[2022-11-03 11:01] ghost commented on #2917
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-03 11:01] #2917 closed, assigned to nobody

[2022-11-03 11:01] ghost commented on #2910
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-03 11:01] #2910 closed, assigned to nobody

[2022-11-03 12:35] Stigjb opened #2945 "Content control inside text box not accessible via API"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: Microsoft® Word for Microsoft 365 MSO (Version 2209 Build 16.0.15629.20200) 64-biters
* Operating System: Windows 10 Pro

## Expected behavior

When using the `contentControls` attribute of a body, paragraph, etc., I expect all content controls

[2022-11-03 12:35] ghost commented on #2945
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-03 13:47] exextoc commented on #2943
Hi @sznorbert07, thanks for sharing the file. We are able to repro the issue. Could you please share the following so that we can investigate further"
- The code snippet where you are initializing the office.js
- You have mentioned that "The issue occurs very often, but there is a case when it works". Could you please share that use case?

[2022-11-03 15:25] AlinCatalinPreda opened #2946 "Parent content control is also deleted if the child content control is deleted"
# Provide required information needed to triage your issue

I created a word document which has two content controls, one is the parent and the other one is the child content control.
The parent content control contains the child content control and nothing else, while the child content control is the one who contains all the paragraphs. (Note that if the parent content control contains a paragrap

[2022-11-03 15:25] ghost commented on #2946
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-03 15:28] ElizabethSamuel-MSFT commented on #2938
@thoffmann-fms Thanks for letting us know about this.

@exextoc Can you take a look?

Thanks.

[2022-11-03 15:30] ElizabethSamuel-MSFT commented on #2942
@avisheknand Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2022-11-03 15:46] ElizabethSamuel-MSFT commented on #2024
@exextoc Can you take a look? Thanks.

[2022-11-03 15:50] ElizabethSamuel-MSFT commented on #2773
@wh1t3cAt1k Can you provide some more details that may help the investigation?

[code]

[2022-11-03 15:51] gmichaud commented on #2773
@wh1t3cAt1k I haven't seen this one in a while... has anyone reported it lately?

[2022-11-03 15:53] ElizabethSamuel-MSFT commented on #2861
@Oleg-O @exextoc As the author has confirmed this is a VSTO add-in, can we point them somewhere to get help with that?

Thanks.

[2022-11-03 16:03] ElizabethSamuel-MSFT commented on #2918
@RuizhiSunMS Ok, understood.

[2022-11-03 16:27] sznorbert07 commented on #2943
- I have inserted the relevant codes into the original request: https://github.com/OfficeDev/office-js/issues/2943#issue-1432737974
  If you need other code details, please specify them.
- Its totally random whether it works or not, but I have noticed it works after closing and reopening the add-in for the 3rd or 4th times. When I open the add-in on the first Outlook start, it almost never works.

[2022-11-03 17:03] wh1t3cAt1k commented on #2773
No Gabriel, let's close it. Thanks for your help!

[2022-11-03 17:03] #2773 closed, assigned to RuizhiSunMS

[2022-11-03 19:18] taralex77 commented on #2940
Looks like this issue has been fixed. Can anyone confirm?

[2022-11-03 20:20] ghost commented on #2934
Excel.Table.resize() does not return a promise, so it cannot be await-ed. Is the resize of the table the expensive operation causing the delay in rendering?

[2022-11-03 20:50] pvsleeper commented on #2940
Yes, appears to be retaining it from yesterday. Anyone knows if there is a way to retrieve the deleted data?

[2022-11-03 21:12] taralex77 commented on #2940
The only way to do it is to restore a previous version of the document from Version History.

[2022-11-03 21:35] pvsleeper commented on #2940
Oh geez… gonna be fun explaining that one to customers.

Does anyone know if this was a bug due to an update to the api or Excel that caused this issue? And is there somewhere where we can see if/when new versions of either had been released? (To assist with troubleshooting in the future - spend almost an entire day going through merged PR’s in our codebase trying to see what bug we’ve added that

[2022-11-03 21:56] taralex77 commented on #2940
Not clear. Looks like they quietly fixed it and will now make it look like it never happened.

[2022-11-03 22:30] taralex77 commented on #2716
we are seeing the same issue. Had to roll back our release with support of shared runtime because of that.

[2022-11-03 22:48] madhavagrawal17 commented on #2918
@dinglicoding, Can you please share the manifest file in order for us to investigate the issue?

[2022-11-03 23:30] Adrian-MSFT commented on #2911
Hi @eugene-plutoflume,

We do not hide the url because this is a necessary security feature in order to keep the user informed of where the dialog was navigated.

[2022-11-04 00:48] samantharamon commented on #2944
Thanks for your patience, @clavx. I've confirmed that the behavior you're experiencing is expected when running `enhancedLocation.getAsync`.

`enhancedLocation.getAsync` gets the locations specified in the Location field of the invite, then determines if each location also appears in the Required > Resources field. This determines the [location type](https://learn.microsoft.com/javascript/api/outl

[2022-11-04 02:27] Searion commented on #2937
Hi @YbJerry , I try to repro it and I ran initBib() in ScriptLab or run the example but I did not see anything change. Could you please provide more information about it?

[2022-11-04 03:16] dinglicoding commented on #2022
@ElizabethSamuel-MSFT   Yes, still has this issue

[2022-11-04 06:01] ghost commented on #2386
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-04 06:02] exextoc commented on #2888
Thank you for reporting this issue. This is an expected behavior with the recent update to the friendlier link names in email. Please refer to our [documentation ](https://support.microsoft.com/en-us/office/friendlier-link-names-in-email-02040f47-bd56-4806-8311-fc913fed54c0#:~:text=On%20the%20Message%20tab%2c%20select%20Link%20%3e%20Insert%2cURL%20to%20the%20name%20of%20the%20inserted%20file.)here

[2022-11-04 06:17] RuizhiSunMS commented on #2939
@vinay-sattur
Our colleagues said the issue should be ok now, please take a check.

[2022-11-04 06:33] RuizhiSunMS commented on #2935
hi @pvsleeper ,
Thanks for reporting this. Our colleague tried but failed to reproduce the issue. Could you please share your version number? His is 16.0.15903.42307.

[2022-11-04 06:34] vinay-sattur commented on #2939
Thank you @RuizhiSunMS . I verified it and its working, add-in is auto loading now.

[2022-11-04 06:36] YbJerry commented on #2937
Yes, when you open a new blank document and run initBib. You will find there is a new citation in the Word.

![图片](https://user-images.githubusercontent.com/34412324/199907193-8010cabe-6a3b-416a-a2d3-0d52e0e9db83.png)

But before this step, please don't do anything else. Even if you just click anything in Citation, this code will fail.

[2022-11-04 06:42] YbJerry commented on #2937
And if you run addBib(it's actually clear all the Citations, sorry, I forget change its name) and run getBib. You will find it has changed in OfficeJS.
![图片](https://user-images.githubusercontent.com/34412324/199908156-01ca3b78-738b-4a33-842f-41f54b77f542.png)
But Word seems not to sync this change and it still has the citation inserted before.
![图片](https://user-images.githubusercontent.com/34412

[2022-11-04 06:48] YbJerry commented on #2937
@Searion

[2022-11-04 07:29] pvsleeper commented on #2935
I think this is the same issue as experienced here : https://github.com/OfficeDev/office-js/issues/2940

It magically stared working again yesterday, probably why you can’t replicate. Clearly there was some bug deployed and then hot fixed to address this issue.

Unfortunately we have a whole bunch of documents whose binding have been deleted (confirmed by looking at the xml contents as mentioned i

[2022-11-04 07:57] dinglicoding commented on #2918
@madhavagrawal17  can you give me an email, then i send it to you ,thanks

[2022-11-04 08:08] exextoc commented on #2943
@sznorbert07:

We are able to unable to repro the issue with your error statement - "Error: Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If your app has this functionality, try reloading this page."

Whereas when we tried launching the add-in with the manifest shared, the add-in gets launched and w

[2022-11-04 08:17] #2886 closed, assigned to RuizhiSunMS

[2022-11-04 09:13] eugene-plutoflume commented on #2911
Hi @Adrian-MSFT ,

Why do you let the url be displayed on Windows only? On the Mac OS we don't see the url, nor in web browsers.

[2022-11-04 09:47] Texaner commented on #2864
I can confirm that the error messages are gone.
But the actual error as described by @maliksuyash is still present.
When can we expect a fix?

[2022-11-04 11:01] ghost commented on #2924
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-04 11:01] #2924 closed, assigned to yuc014, RuizhiSunMS

[2022-11-04 11:01] ghost commented on #2839
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-04 11:01] #2839 closed, assigned to exextoc

[2022-11-04 11:25] clavx commented on #2944
@samantharamon
Thank you for your detailed explanation.

Is the distribution list a group created by using the [New-DistributionGroup](https://learn.microsoft.com/en-us/powershell/module/exchange/new-distributiongroup?view=exchange-ps#-roomlist) cmdlet with the `RoomList` parameter?
Distribution lists (distribution groups, security groups, etc.) also returned `Room` type.

As far as I can see, eac

[2022-11-04 12:47] wh1t3cAt1k commented on #2878
I agree with @4tti that having an option to choose between "channels" within a logical group would be a cleaner way to handle this.

The key invariant even in this structure for us, though, would be that the "unavailable" channel, such as the sideloaded add-in, should not produce any warnings in case other channels are available.

@ElizabethSamuel-MSFT @jakobpn @RuizhiSunMS copying you on this...

[2022-11-04 14:00] ElizabethSamuel-MSFT commented on #2878
Adding @JuaneloJuanelo to see if this can be raised with the AppSource folks.

[2022-11-04 14:01] ghost commented on #1474
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-04 14:01] #1474 closed, assigned to nobody

[2022-11-04 14:01] ghost commented on #1419
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-04 14:01] #1419 closed, assigned to exextoc

[2022-11-04 14:03] ElizabethSamuel-MSFT commented on #2022
@dinglicoding Thanks for letting us know. Reopened.

[2022-11-04 14:03] ElizabethSamuel-MSFT commented on #2022
@preethikakiru Any update on this? Thanks.

[2022-11-04 14:24] #2939 closed, assigned to RuizhiSunMS

[2022-11-04 15:50] marindedic opened #2947 "How to create a content add-in using Office.js"
I have read the content add-in docs (https://learn.microsoft.com/en-us/office/dev/add-ins/design/content-add-ins), it has the implementations section. However, the mentioned implementation is 6 years old and doesn't use todays principles. Im looking just for a "hello world" type example or resource that can guide me.

[2022-11-04 18:53] ElizabethSamuel-MSFT commented on #2947
@marindedic Thanks for asking about this. I'll move this issue to our documentation repo.

[2022-11-04 23:09] samantharamon commented on #2944
Thanks for providing the scenario you're trying to address, @clavx. Regarding the distribution list condition, I verified that it only applies to [personal contact groups](https://support.microsoft.com/office/create-a-contact-group-or-distribution-list-in-outlook-for-pc-88ff6c60-0a1d-4b54-8c9d-9e1a71bc3023) and not Exchange distribution lists. Exchange distribution lists added via the Location fie

[2022-11-04 23:35] sys0601 commented on #2888
Can we please humbly request that you relook at this.

The friendlier names in the body of the email are fine. However we  feel that that both Office.context.mailbox.item.getAttachmentsAsync and Office.EventType.AttachmentsChanged should recognize that a file has been attached (when they are linked from one drive). Otherwise those two functions/events become incomplete.

Alternatively can you prov

[2022-11-05 03:01] ghost commented on #2929
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-05 14:18] gmani1978 commented on #2780
@ononder @JinghuiMS Any luck in this, please? We are really requesting some help. Please let us know if any workaround

[2022-11-05 21:19] rudifa opened #2948 "Basic Word add-in 'Hello world': the web app rejects the taskpane.css as having type 'text/html' - not always, see my report"
**If this is not the right place to report this issue please redirect me**

I observed a **frustrating problem** while working with the **basic Word add-in**
-  I created the add-in project per tutorial [Build your first Word task pane add-in](https://learn.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=yeomangenerator)
- I am testing in the **online MS Word app** served f

[2022-11-06 12:01] ghost commented on #2625
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-06 21:08] avisheknand opened #2949 "OnSmart Alert Message inside Outlook on Web does not render message correctly with new lines"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Outlook on web
* Host [Excel, Word, PowerPoint,

[2022-11-06 23:04] demyte commented on #2932
Hi @RuizhiSunMS - any movement on this issue?  Do you need anything more from me?

[2022-11-06 23:04] demyte commented on #2931
Hi @RuizhiSunMS - any movement on this issue?  Do you need anything more from me?

[2022-11-06 23:07] Oleg-O commented on #2938
Closing this here as it doesn't seem to be related to office.js. I've alerted the right team, but in future please use app feedback to submit app issue reports as described in our [documentation](https://support.microsoft.com/en-us/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-b43f-4dd2-9ff4-23cf144cfb11#platform=Office_for_the_web).

[2022-11-06 23:07] #2938 closed, assigned to exextoc

[2022-11-07 03:29] RuizhiSunMS commented on #2935
@pvsleeper Since we can't track it, I'd like to close it now. Please feel free to reopen it if it occurs again.
Thanks.

[2022-11-07 03:29] #2935 closed, assigned to lushanbo, RuizhiSunMS

[2022-11-07 03:36] RuizhiSunMS commented on #2940
Hi All,
Since we can't track it for some reasons, this issue will be closed.
Please feel free to reopen it if occurs again.
Thanks

[2022-11-07 03:36] #2940 closed, assigned to RuizhiSunMS

[2022-11-07 06:01] ghost commented on #2923
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-07 06:22] jipyua commented on #2945
hi, thanks for reporting this, this is currently a known design behavior to not return content controls inside textbox. As TextBox is also generally not supported by JavaScript API. If you think this feature is useful to you, please feel free to post an item in the [Microsoft 365 Developer Community](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365Develope

[2022-11-07 06:31] jipyua commented on #2946
hi, thanks for reporting this. This sounds like a bug and we will start investigating on our side to see how to give a fix. BTW, may I know what's the scenario for your case that you need another nested parent content control to just contain another child content control without any other content?

[2022-11-07 08:01] ghost commented on #2386
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-07 08:01] #2386 closed, assigned to exextoc

[2022-11-07 09:07] clavx commented on #2944
@samantharamon , thank you for your response and the information on where to submit our feature request.

I had overlooked the existence of contact groups. I have checked the behavior when specifying a contact group, and its existence itself does not appear to be detectable by the Office.js API. There is no change depending on whether or not a contact group is specified.

Is the specification that

[2022-11-07 09:14] RuizhiSunMS commented on #2933
@nickolasfisher . We can't reproduce the issue, could you please confirm the issue is still blocking you?

[2022-11-07 09:57] RuizhiSunMS commented on #2934
My bad. I should make it clearer since my last reply is ambiguous.
Not use await before resize function, it's to use like await excel.run(.....
Paste changed code here towards line 117 to line 140 in app.tsx
[code]
Hope it could help.

[2022-11-07 10:32] RuizhiSunMS commented on #2931
Hi @demyte ,
Our colleague tried but found no problem. Then it looks we need more information.
I wonder have you ever tried the sample code about stream function on the ScriptLab? First of all, we want to make sure the basic functionality works.
And #2932 is also reported by you and these two issues are similar.

[2022-11-07 12:01] ghost commented on #2926
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-07 12:39] marindedic commented on #2924
Thanks for the reply. I have found the exact question I was looking for on the MTC: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/support-drag-and-drop-to-from-officejs-addins/idi-p/3017629 but it doesn't have a solution.

[2022-11-07 12:51] barisbikmaz opened #2950 "getComposeTypeAsync throws on appointments"
The getComposeTypeAsync method used within an appointment throws with a message 'mailboxItem.getComposeTypeAsync is not a function.'

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web, PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Microsoft® Outlook® for Microsoft 365 MSO (Version 2210 Build 16.0.15726.20070) 64-bit
*

[2022-11-07 13:16] thoffmann-fms commented on #2938
What is the "right team"?

[2022-11-07 13:19] rudifa commented on #2948
1. Searching stackoverflow for `because its MIME type ('text/html') is not a supported stylesheet MIME type`  produces several answers along these lines:
[code]
If this be the case here, perhaps the webpack.config.js should be tweaked, but I don't know how.

2. I understand that the webpack-dev-server keeps its intermediate files (the equivalent of dist/* files in the build) in memory, so we can't

[2022-11-07 13:54] nickolasfisher commented on #2933
![image](https://user-images.githubusercontent.com/56088064/200327124-0d8be5ef-3194-464e-9c7d-c4eaeea9943c.png)

@RuizhiSunMS  I can confirm the issue still exists on Chrome though I cannot repro on Edge anymore

[code]

[code]

[2022-11-07 15:01] walkermeira opened #2951 "Pproblems creating dev account"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I can't create an dev account because a bug is happening.

The system don't send me a SMS, but my phone number is right. I tried in many ways, but it persists.

Can somebody help me?

[2022-11-07 15:23] carlosb1504 opened #2952 "Windows Outlook: internetHeaders.setAsync being ignored in on-send hook"
**PLEASE NOTE**: The behaviour described here is exactly the same as what is described in a ticket from December 2020, here: https://github.com/OfficeDev/office-js/issues/1401 - possible regression?

When you have a function file that processes a message during the send event any attempt to set internet headers during this window, specifically on Outlook for Windows, seems to result in a success f

[2022-11-07 15:46] anton-advasoftware opened #2953 "Update PivotTable DataSource with the Office Excel JavaScript API"
It was possible to change an existing pivot table's data source when developing an Excel COM [add-in](https://stackoverflow.com/a/9764063/4664207) and when using [VBA](https://answers.microsoft.com/en-us/msoffice/forum/all/change-pivot-table-data-source-through-vba/073b0e3b-1a9c-4d7d-bdfc-fc892040f7b6), but currently that does not seem to be possible in the JavaScript API.

It would be helpful to

[2022-11-07 17:23] KelBowen commented on #2949
@JuaneloJuanelo @ajays-msft  can you please review this?

[2022-11-07 18:09] KelBowen commented on #2953
Thank you for this feature request and for posting it to the Ideas forum. (I upvoted your idea there.) We track feature requests on the Ideas area so closing this here. Please check back there and encourage friends to upvote your idea.

[2022-11-07 18:09] #2953 closed, assigned to nobody

[2022-11-07 18:16] KelBowen commented on #2951
We actively monitor and act against suspicious activities to protect customers and Microsoft platforms from fraud, account compromises, and other malicious activity. Our actions vary from preventing users from joining our program to disabling subscriptions. In this case, the phone number you provided did not pass our verification checks.

[2022-11-07 18:56] samantharamon commented on #2944
That's correct. Identifying a contact group in the Resources field would also be a feature request. The contact group value can only be retrieved from the Required and Optional fields at this time.

[2022-11-07 20:40] ghost commented on #2934
Good call. Looks like I just missed awaiting the correct promise, I did some refactoring and now my UI is updating as expected.
I have an additional question regarding the performance of the table load. Is that the most efficient? Are there ways I could refactor it to make it faster? Do I need to log an additional issue to ask those questions?

[2022-11-07 21:19] ElizabethSamuel-MSFT commented on #2948
@rudifa Thanks for bringing this to our attention. It looks like we might need to update the template.

In the meantime, can you try the following?

1. Install additional loaders by running the following command.
[code]
    Example screenshot (note that it may not match your environment):
    ![image](https://user-images.githubusercontent.com/28541963/200415944-9f3f0646-51df-4d70-aba6-5074ee7fa5d0

[2022-11-07 21:26] Oleg-O commented on #2938
The team that owns the scenario you described, the OWA Calendar team. Or at least that seemed like a good starting point for this investigation. Thanks for reporting this issue!

[2022-11-07 21:40] madhavagrawal17 commented on #2918
@dinglicoding, Please send it to madhavagrawal17@outlook.com

[2022-11-07 22:07] exextoc commented on #2942
@avisheknand, can you setup runtime logging and look at the log file to see what error is being returned? Here's a link to setup runtime logging: https://learn.microsoft.com/en-us/office/dev/add-ins/testing/runtime-logging#runtime-logging-on-windows

[2022-11-08 02:38] timwan10 commented on #2830
I apologize, I had misread your post that the Token was expired. But it is in fact the AUD that is not updating. I think however, the cache is still the cause of what you are seeing. I tried to repro what you describe and see this:

1) Install Manifest
2) Get User Identity Token
3) Change Manifest Source Location to a different URL
4) Install Manifest
5) Get User Identity Token

The Token obtained

[2022-11-08 03:01] vikramsw commented on #2386
Requesting a re-open.

[2022-11-08 08:01] ghost commented on #2929
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-08 08:01] #2929 closed, assigned to yuc014, RuizhiSunMS

[2022-11-08 08:13] DxDen1004 opened #2954 "Using DialogAPI displayDialogAsync( ... ); causes document to lose focus"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

**General Information**
While developing an Outlook Web Add-In, if using `await Office.context.ui.displayDialogAsync(args)`, the document loses focus preventing the usage of all `navi

[2022-11-08 08:50] RuizhiSunMS commented on #2948
Create ADO#7093555 to track the change in template. Sorry for unable to provide exact schedule but will update here as soon as the progress is made.
Thanks.

[2022-11-08 09:22] RuizhiSunMS commented on #2934
Maybe loading by batch could be a choice.
And usually, we suggest you submit questions as your additional ones in stackoverflow with related tags.

[2022-11-08 09:23] RuizhiSunMS commented on #2933
Something very strange. Our colleague just can't reproduce the issue on any browser.
How is the status if you clear the cache?
Or can you provide a screen recording?

[2022-11-08 09:27] clavx commented on #2944
Thank you for your confirmation.

We have submitted our request.
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/retrieving-information-specified-in-the-resources-field-in/idi-p/3671521

Thank you.

[2022-11-08 10:02] RuizhiSunMS commented on #2914
@xuruiyao-msft

[2022-11-08 13:28] rudifa commented on #2948
Hi @ElizabethSamuel-MSFT @RuizhiSunMS @xiruatms

Thank you for the rapid response.

Indeed, the suggested modifications fix the problem - now the automatic reload of the add-in in the Word web app after a change in `taskpane.js` does not break the styling. Tested on my Mac 12.6, in Edge and in Chrome browsers.

[code]
[code]

[2022-11-08 13:33] dinglicoding commented on #2918
@madhavagrawal17  I have send an email, thanks

[2022-11-08 14:15] cody-lettau opened #2955 "[Outlook] New OWA UI - How to open add-in during compose?"
It appears there was a new update to the OWA UI that is being rolled out to some accounts. With this new UI, I am unsure of how to open add-ins during composing of a new message. Our QA team has spent some time trying to find the button to open the add-in that previously existed, but they are not seeing it (see screenshot below). They did ensure that the add-in is installed and we know that is has

[2022-11-08 14:23] cody-lettau commented on #2955
@exextoc we're hoping we are just not seeing something obvious here. I realize it's likely not a bug with Office.js, but any help in pointing us in the right direction would be great. Or talking to the OWA UI team and asking them to roll this back until it's fixed.

[2022-11-08 15:23] nickolasfisher commented on #2933
@RuizhiSunMS Yes, recording attached.

The recording below was taken on a 3rd machine (the first machine is my primary development machine, the second was a collegues, this third is an AWS Work Space instance).

For reference I've attempted to this on `node version 18.11.0` with `npm version 8.19.2` and `node version 16.13.2` with `npm version 8.1.2`  I deleted `node_modules` and reran `npm i` aft

[2022-11-08 16:12] ElizabethSamuel-MSFT commented on #2948
@rudifa Thanks for letting us know and so happy to hear it helped.

[2022-11-08 17:00] jabbera commented on #2469
I can't figure out why this is happening on mine and a fresh scaffold does not fix it. Did you ever figure it out?

[2022-11-08 17:33] R3D13 commented on #2460
I stumbled upon this issue as well while trying to make my React add-in run with IE11/Excel using IE11.

- Windows 10 Pro (version: 22H2, OS build: 19045.2193)
- Excel API version does not matter, tested from 1.1 to 1.8
- Office 2019 (16.0.10392.20029) 64bit

any news on this topic?

[2022-11-08 19:56] rudifa commented on #2948
@ElizabethSamuel-MSFT
I tested some more your fix,  on another add-in.
It works as expected (no more lost styling) on Edge, Brave, Safari and Chrome (my default browser).

However, when I tested it for the first time on Firefox 106.0.5 (MAcoS), the add-in was rejected.
Obviously, this is not a blocking problem for me.
However, i will open a separate issue.

[2022-11-08 19:59] ElizabethSamuel-MSFT commented on #2948
@rudifa Yes, please do create a new issue with the details then we'll dig in there. Thanks.

[2022-11-08 20:22] rudifa opened #2956 "Hello World Word add-in refused by Firefox in the Word web app"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment
* Platform: Mac
* Host: Word web app
* Office version number: current
* Operating System: MacOS 12.6 Monterey
* Browser (if using Office on the web): Firefox 106.0

[2022-11-08 20:23] rudifa commented on #2948
Done.

[2022-11-08 20:28] liamtim commented on #2955
@exextoc Same issue here. No access to add-ins from new compose as of today.

[2022-11-08 23:59] OfficeAddins opened #2957 "SSO with https://localhost:8080 - makeGraphApiCall"
# Provide required information needed to triage your issue

## Your Environment
* Platform: Windows 11
* Host: Word
* Office version number: Version 2210 Build 16.0.15726.20070 - 64-bit
* Browser: Edge Version 107.0.1418.35 (Official build) (64-bit)

## Expected behaviour
This should return a valid response
`let response = await makeGraphApiCall(bootstrapToken);`

## Current behaviour
The followin

[2022-11-09 01:59] avisheknand commented on #2866
Thanks @weidezhong-msft ... i had similar issue with Outlook launch event add-in and the information you shared above solved my issue.

[2022-11-09 02:21] avisheknand commented on #2942
@exextoc , thank you. i have set up the runtime logging... the issue was not with SSO. The issue seem to be that if we use "await " in launch event function.. the event. complete() method does not work at all on Outlook desktop. The pop up message shows that Addin is taking longer then expected and nothing happens until time out.

Below is a sample code that can be used to create the issue:

`Offi

[2022-11-09 03:35] neville-jones opened #2958 "Can no longer create new message using ms-outlook URI from task pane in Outlook on iOS"
## Your Environment

* Platform: iOS
* Host: Outlook
* Office version number: 4.2243.1
* Operating System: iOS 15.7.1

## Expected behavior
User of add-in opens the add-in on Outlook Mobile (Android or iOS) and uses the add-ins **Create Message** button to create a new message in Outlook Mobile; the new message pops up in front of the add-in and has focus allowing the user to specify the recipient

[2022-11-09 03:47] RuizhiSunMS commented on #2933
@nickolasfisher
Thanks for the attachment.
However, unfortunately we still can't reproduce the issue. Maybe answer the below questions could help.
1. the same file works fine on Edge but is caught by the problem on the Chrome?
2. does every file have the problem or only some specific files?
3. can you share your file with us?

[2022-11-09 04:28] RuizhiSunMS commented on #2957
@mattgeim Looks SSO related.

[2022-11-09 07:28] shaodowm opened #2959 "Outlook: Register the online-meeting template for Feishu meeting"
Can you register the online-meeting template for our feishu meeting service?

Thanks.

[2022-11-09 07:39] tj-aew commented on #2469
@jabbera - Sadly, no. Since it worked with the fresh project, we didn't look into it further.

[2022-11-09 09:42] OfficeAddins commented on #2957
Just to confirm that this is nothing to do with the Yeoman Generator project/template.
The context is when you add "office-addin-sso" to an existing project.

When I am signed into Word with an Office 365 Admin account, this is the error message:
`"Failed to load resource: the server responded with a status of 404 (Not Found)"`

when this line runs:
`let response = await makeGraphApiCall(bootstrap

[2022-11-09 10:15] OfficeAddins commented on #2957
Q - If you add/install the "office-addin-sso" package to an existing project and add a .ENV file to that project.
Will this information, be used/imported automatically by the "office-addin-sso" package when you build the project?

Q - Do you have to include an .ENV file in order for the "office-addin-sso" package to work?

Q - Does the .ENV file have to be copied to your 'dist' folder?

[2022-11-09 13:44] nickolasfisher commented on #2933
Actually today its failing on Edge.  Recording below.  I checked both my AWS machine and my primary development machine.

https://user-images.githubusercontent.com/56088064/200844352-22689829-7163-420b-bb8e-ddcd597391b0.mp4

The problem exists in all files as far as I can tell.  See recording below for the issue occurring on a new document.  I can provide more examples if needed but doesn't seem n

[2022-11-09 14:01] ghost commented on #2625
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-09 14:01] #2625 closed, assigned to guliums

[2022-11-09 14:02] xiruatms commented on #2933
hi,  @nickolasfisher , thanks for reporting this with all these useful information. We're working on this now.

As a mitigation, will you please take a try switching to "Web View" if possible? At the bottom right of the browser, you might notice there will be "Page View" and "Web View" in some cases. If there're, please make sure "Web View" is selected and run your test agin.

![image](https://use

[2022-11-09 14:05] nickolasfisher commented on #2933
@xiruatms  we're on to something.  Web View does indeed work

Please see attached video

https://user-images.githubusercontent.com/56088064/200851013-bb3567ca-cc25-414f-8c36-02feebd4735c.mp4

[2022-11-09 14:12] xiruatms commented on #2933
@nickolasfisher , thanks for your confirmation. Hope this can unblock your work to some extent. We're working on confirming a better solution to handle the case you reported. The fix might reach production soon.

[2022-11-09 14:17] nickolasfisher commented on #2933
@xiruatms verifying with a colleague that this resolves his problem as well but yes, this should temporarily unblock us.  If it causes further problems I'll let you know.  Can I be alerted as to when this reaches production as this does create a work around for our clients.

Thank you for your help

[2022-11-09 14:20] xiruatms commented on #2933
@nickolasfisher , surely I will keep you posted if the fix is confirmed on production. Thanks a lot for reporting this to us.

[2022-11-09 14:30] cody-lettau commented on #2955
This is a pretty big issue for our users who have seen their UI updated to this latest rollout. Can we please get an update?

[2022-11-09 15:10] rudifa commented on #2948
@ElizabethSamuel-MSFT : some concluding remarks

1. FYI, here  is my [add-in project](https://github.com/rudifa/Office-Add-in-2) on which I discovered the problem of the vanishing styling.

2. I fixed my project according to your suggestions, (installed the 2 loaders and required the `taskpane.css` file. I also removed from `taskpane.html `the clause `<link rel="stylesheet" type="text/css" href="t

[2022-11-09 15:12] adim1973 commented on #2901
OK, thank you.

[2022-11-09 15:12] #2901 closed, assigned to madhavagrawal17

[2022-11-09 15:39] exextoc commented on #2936
Hey @JesseHeisenberg ,

It took us some time to dig into this issue, but we need some further help from you. Can you please confirm your Exchange Server version so that we can accurately reproduce this issue? You can check your Exchange Server version from the documentation [here](https://learn.microsoft.com/en-us/exchange/new-features/build-numbers-and-release-dates?view=exchserver-2019).

[2022-11-09 16:26] Tsathyapriya80 opened #2960 "Outlook Add-in SSO - .Net core Redirect URI not able to set and fails in Outllook Browser App"
## Post how-to questions about your code on Microsoft Q&A

Outlook add-in with SSO using Microsoft Identity Platform. localhost -web page is working from browser, and it works on Outlook app in windows. But the same is authenticating from Outlook web app - it keeps on redirecting - looping and fails. it will be great if we can discuss some debugging tips. I have tried with Fiddler and from Develop

[2022-11-09 16:32] carlosb1504 commented on #1437
@milankonir can you advise if this is now fixed for yourself? As far as I can see the ItemChanged event is only called for the first change, and not thereafter. @exextoc FYI

[2022-11-09 16:49] davidchesnut commented on #2960
Hi @Tsathyapriya80,

Just to confirm, is this problem occurring from Office SSO (calling getAccessToken)? Or is this the fallback code for when SSO fails? This looks like a fallback implementation.

This error is informative: "The reply address 'https://localhost:52808/AzureADAuth/Authorize' does not match the reply address 'https://localhost:52808/signin-oidc' provided when requesting Authorizati

[2022-11-09 16:52] davidchesnut commented on #2960
BTW: For more debugging help, you can also find more info on logging and error handling in the MSAL docs: https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-logging-dotnet

[2022-11-09 17:12] Tsathyapriya80 commented on #2960
Hi David, I am not getting access token using JS. it does in the middleware. So I added the Redirect URI as it requires for Outlook web app

[2022-11-09 17:18] Tsathyapriya80 commented on #2960
In Startup ---
            var provider = services.BuildServiceProvider();
            var initialScopes = Configuration.GetValue<string>("DownstreamApi:Scopes")?.Split(' ');

            services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                        .AddMicrosoftIdentityWebApp(Configuration.GetSection("AzureAd"))
                      .EnableTokenAcquisitionToCallD

[2022-11-09 17:52] Subhanansahoo commented on #2625
This issue is being actively address by Microsoft team and communication is happening on a daily basis

Thanks & Regards
Subhanan
________________________________
From: msftbot[bot] ***@***.***>
Sent: Wednesday, November 9, 2022 7:32:02 PM
To: OfficeDev/office-js ***@***.***>
Cc: Sahoo, Subhanan ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Excel: While loading an excel tem

[2022-11-09 20:50] avisheknand commented on #2949
@ajays-msft following up on the above issue... any guidance would be appreciated

[2022-11-09 21:20] madhavagrawal17 commented on #2918
Thanks, @dinglicoding. We received the manifest files and we are looking into the issue.

[2022-11-09 22:27] milankonir commented on #1437
@carlosb1504 Tested with following ScriptLab Gist https://gist.github.com/milankonir/32b20a28d4ed68f7b36463702f263dbf and looks fixed to me. Keep in mind that you still have to register the recipients change handler on the new item whenever the item change event triggers

[2022-11-09 22:51] Oleg-O commented on #2955
Thanks for reporting!

I see the screenshot above is on "Home" ribbon tab. When I start new mail, I expect the ribbon to switch to "Message" ribbon tab, and this is normally where I expect to find the add-ins. Two questions:

1. did you switch manually to "Home" ribbon tab, or did you land on "Home" ribbon tab without any action in the ribbon?
2. if you switch to "Message" ribbon tab, do you see t

[2022-11-10 00:10] dorkster100 commented on #1561
For me it was the incorrectly named range issue, would be nice to have a proper error for this case, thank you

[2022-11-10 00:18] davidchesnut commented on #2957
If you are creating an add-in that you plan to deploy to production, we don't recommend using the office-addin-sso package. It's primarily for trying out and learning SSO. I recommend starting with the Node.js sample at https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-NodeJS-SSO. It has all the code you need to configure SSO in a production add-in.

To get th

[2022-11-10 00:27] davidchesnut commented on #2960
@mattgeim can you help with this issue? Thanks!

[2022-11-10 01:00] liamtim commented on #2955
Add-ins are not available within any tab (including the "Message" tab) when in new compose mode on the latest OWA release.

[2022-11-10 02:20] Howard-Song commented on #2936
Hi @exextoc ,
Sorry for give the wrong version before, I have just notice the version in  `Office.context` is not the real version of outlook, and it should be in `Office.context.mailbox`,
![image](https://user-images.githubusercontent.com/28775661/200983677-38bd2090-09e3-450b-98fe-7d820dcf5bd6.png)
![image](https://user-images.githubusercontent.com/28775661/200984194-cc6e9f37-5236-46f2-9e75-54a0c

[2022-11-10 06:42] Oleg-O commented on #2955
We've made some changes in the service that we hope should mitigate this issue. Can you please let us know if this is resolved now? You may need to refresh OWA a couple of times (F5).

[2022-11-10 07:27] OfficeAddins commented on #2957
Thank you for clarifying that the "office-addin-sso" package is only for learning SSO and not for production.
Let me take a closer look at the Node.js sample 👍

[2022-11-10 07:53] CG49071 opened #2961 "How to capture iframe open and close event"
We are using custom outlook addin which opens our application inside the iframe. Do we have provision for capturing iframe open and close events. We need this data to analytics purpose to capture how long addin was used.

[2022-11-10 08:01] ghost commented on #2923
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-10 08:01] #2923 closed, assigned to yuc014, RuizhiSunMS

[2022-11-10 11:08] #2959 closed, assigned to nobody

[2022-11-10 11:22] wh1t3cAt1k commented on #2847
Hey @JinghuiMS @preethikakiru , this has been stuck for a while... Is there any news?

[2022-11-10 12:01] carlosb1504 commented on #1437
Thanks for the reply @milankonir - confirmed your code works in scriptlab as expected. I then stripped down my item change handler to do nothing but print 'item changed' to console, and that works. So there must be something else going in my other code. I'll keep digging, but the event does now seem to work as expected.

Cheers!

[2022-11-10 12:36] exextoc commented on #2949
Hey @avisheknand ,

Thank you for reporting this issue. We have tracked it in our backlog and will pick it up to be fixed. However we have no timelines to share at this point.

Internal Tracking ID: 3180201

[2022-11-10 12:42] exextoc commented on #2959
Hey @shaodowm , please refer to the instructions [here](https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting?tabs=non-mobile#register-your-online-meeting-template) about how to add your template. You need to provide the regex that needs to be parsed for the meeting.

Also share the add-in that is in app store for which this online meeting pattern needs to be registered.

[2022-11-10 12:55] exextoc commented on #2950
Hey @barisbikmaz ,

`getComposeTypeAsync` API is available only in Message Compose mode and is not applicable to Appointment Read mode. You can refer to the documentation [here](https://learn.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview#outlook-office-messagecompose-getcomposetypeasync-member(1)).

[2022-11-10 13:42] cody-lettau commented on #2955
@Oleg-O is there a way to disable these auto updates to the UI for certain accounts? We run end-to-end tests using Playwright and these constant changes cause major headaches...and especially when only certain accounts get the updates and others do not. Or do you have any recommendations as to how we can implement our e2e tests in a more reliable way to deal with these rollouts that only affect ce

[2022-11-10 13:48] Aidam1 opened #2962 "RoamingSettings is not loading saved settings in Dialog (Outlook for Mac)"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.66.1 (22101101)
* Operating System: Mac

## Expected behavior
After I open new dialog through Dialog API, I want to use RoamingSettings that I have set in taskpane before.

## Current behavior
Once I open the dialog, I try to access Office.conte

[2022-11-10 14:01] ghost commented on #2926
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-10 14:01] #2926 closed, assigned to yuc014, RuizhiSunMS

[2022-11-10 14:24] JensMadsen commented on #2804
Hi @jipyua . Any news on this one?

[2022-11-10 15:02] ruiconti commented on #2955
@cody-lettau sorry to sidetrack your latest message but I am investigating this issue and want to understand it better.

If you navigate to "Settings" > "Mail" > "Customize Actions", do you have any add-ins that are selected here (within the black-stroke square below) that do not show up on the ribbon (the new UI surface)?

![image](https://user-images.githubusercontent.com/1834568/201128172-9f0d7

[2022-11-10 15:06] cody-lettau commented on #2955
I know we did when we reported this issue. We had our add-in checked and it was not showing up anywhere during the compose. It did show up when reading messages.

I have the team confirming with the specific accounts if they are able to open the add-in during compose now that updates have been pushed out by the Outlook team.

[2022-11-10 15:16] cody-lettau commented on #2955
It does appear for me when I check our add-in. But I'm not sure my account is on this new update that was rolled out or not.

[2022-11-10 15:17] liamtim commented on #2955
Is there a means to view which version of OWA a user is running? It's making things extremely difficult for us as it appears new UI is rolled out via canary deployments, and I can't find a way to

a) Check version numbers of OWA clients
b) Opt out of automatic updates
c) Roll back to prior versions

[2022-11-10 15:19] ruiconti commented on #2955
@cody-lettau do you see a bottom toolbar in compose?

![image](https://user-images.githubusercontent.com/1834568/201134273-48b84c62-4751-4846-8d88-7de7b2ff6f14.png)

[2022-11-10 15:24] ruiconti commented on #2955
@cody-lettau Can you also confirm if you the add-in that you have checked on settings and weren't able to see on the new UI surface had both `ReadCommand` and `ComposeCommand` capabilities?

[2022-11-10 15:28] cody-lettau commented on #2955
@ruiconti I do see the toolbar at the bottom on my personal account -- I never saw the Send button move above the compose pane:
![image](https://user-images.githubusercontent.com/7740624/201136031-3ad98ee2-eda0-46d1-a59a-6fe8646ddbd6.png)

I am positive that we have both ```MessageReadCommandSurface``` and ```MessageComposeCommandSurface``` capabilities defined in the manifest.

My QA team who rep

[2022-11-10 15:42] ruiconti commented on #2955
@cody-lettau, I want to personally thank you for initially reporting the issue so we could find it and mitigate it early. And also for clarifying and providing more relevant info timely. That helped me identify the issue and we should have a forward fix soon enough.

I am also sorry that you are going through the bumps of this rollout, that is definitely not the experience we want to provide for O

[2022-11-10 15:45] cody-lettau commented on #2955
@ruiconti glad to help out where we can!

[2022-11-10 17:00] #2955 closed, assigned to Oleg-O, exextoc

[2022-11-10 17:09] liamtim commented on #2955
Is this fix live on production for all users?

[2022-11-10 18:03] exextoc commented on #2954
Hey @DxDen1004 ,

We are looking into this issue and will keep you posted.

[2022-11-10 18:05] exextoc commented on #2961
You can use the iframe [beforeunload](https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event) properties to help capture the time when the iframe is unloaded. Does that work for you?

[2022-11-10 18:34] DxDen1004 commented on #2954
Hello @exextoc ,

Thank you for investigating the issue. While developing and testing I realized that the issue also occurs when the `displayInIframe` property is set to `false` or not specified.

Also, using the deprecated expression `document.execCommand('copy');` does not work either.

Could I ask you if there is any workaround that you may suggest we can try in the meantime to achieve the fina

[2022-11-10 18:45] ruiconti commented on #2955
Yes @liamtim, it rolled out to all live production builds.

[2022-11-10 18:52] Augustalex commented on #2921
We are getting a lot of support tickets regarding this error from our users. Is there any news to share, or anything you suggest we look into?

From our end the issue is very much a black box - hard to find out anything at all besides from the error shown.

[2022-11-10 19:31] adammpolak opened #2963 "Yeoman Excel Custom Functions using a Shared Runtime Generator Does Not Work on Node 18 - npm install fails"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows
* Host [Excel, Word, PowerPoint, etc.]:

[2022-11-10 19:31] ghost commented on #2963
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-10 19:52] evaneaston opened #2964 "Word DocumentSelectionChanged not firing for several scenarios"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Word

[2022-11-10 19:52] ghost commented on #2964
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-10 20:08] avisheknand commented on #2949
Thanks @exextoc

[2022-11-10 20:15] adammpolak commented on #2963
If it helps it gets frozen at this point before failure:

[code]

[2022-11-10 22:13] adammpolak commented on #2963
I downgraded to Node 16 and it worked. Node 18 does not work.

[2022-11-10 23:50] Adrian-MSFT commented on #2950
Hi @barisbikmaz ,

As an addition, if you would like to check if the item body is in html or plain text, you can use the `Office.context.mailbox.item.body.getTypeAsync` API.

[2022-11-11 04:59] jipyua commented on #2964
hi, thanks for reporting this. From the gif and my local testing, seems the event is always fired. can you share more information about at exactly what cases it's not fired?

[2022-11-11 06:01] ghost commented on #2941
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-11 07:45] Texaner commented on #2864
Any news or plan for a fix?

[2022-11-11 09:01] ghost commented on #2946
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-11 09:01] ghost commented on #2945
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-11 09:10] gingerjia commented on #2876
@vgarun84, is the failure 100% repro for you? If yes, could you help to check the requirement defined in your manifest meets the info in https://learn.microsoft.com/en-us/javascript/api/requirement-sets/common/ribbon-api-requirement-sets?view=excel-js-preview? Thanks!

[2022-11-11 09:16] hello-chenchen opened #2965 "OWA: Office.context.mailbox.item.loadCustomPropertiesAsync set property will create a draft event, and can not cancel after discard this event"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

code segment
[code]
after call setCustomInfo, in owa will create a draft event. after discard this draft event, it can't be drafted.
![add-in issue 1](https://user-images.githubuserco

[2022-11-11 09:18] gingerjia commented on #2876
@wh1t3cAt1k and @nvazhayil, could you help to share the session Id to us when the issue repro again? I may need to take a look at the session log to help further investigation. Thanks!

[2022-11-11 09:26] nvazhayil commented on #2876
which session ID? 
    On Friday, 11 November, 2022 at 02:49:12 pm IST, gingerjia ***@***.***> wrote:

@wh1t3cAt1k and @nvazhayil, could you help to share the session Id to us when the issue repro again? I may need to take a look at the session log to help further investigation. Thanks!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were ment

[2022-11-11 09:38] carlosb1504 commented on #2952
Good morning, getting on for 4 days since I logged this one with no reply. It's causing our users issues in production as we rely on these internet headers being set for certain elements of our add-in's functionality.

Any updates please?

[2022-11-11 13:25] sznorbert07 commented on #2943
Hi @exextoc,
Thank you for your response. It turned out that theres actually two issues. One that you mentioned, which resulted blank page. It was actually a mistake in our code, but I have fixed it.

The other one was the Office.js initialization. Originally I was using ngrok tunnel (tunneling to localhost) to test the add-in on mobile, and it turned out that the ngrok was downloading the build f

[2022-11-11 13:49] hengchengfei opened #2966 "Insert file to the footer of section instead of header"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___PC desktop___
* Host [Excel, Word, PowerPoint, etc.]: __Word____
* Office version number: ___Microsoft® Word 2019MSO (版本 2202 Build 16.0.14931.20764) 64 位___
* Operating System: ___Windows___
* Browser (if using Office on the web): ___Edge___

## Expected behavi

[2022-11-11 13:49] ghost commented on #2966
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-11 15:01] nickolasfisher opened #2967 "Calling `body.getHtml()` twice results in RichAPI.Error on Web"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the Web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: N/A
* Operating System: Windows 10 and Windows 11
* Browser (if using Office on the web): Tested in Chrome, Firefox, and Edge.  All Failing

## Expected behavior

There is funct

[2022-11-11 15:01] ghost commented on #2967
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-11 17:05] evaneaston commented on #2964
I was concerned that it wouldn't be abundantly clear what's happening in the gif because of no audio.

I updated my repo to include more explicit instructions to reproduce and it includes [an updated screen recording](https://github.com/evaneaston/office-js-issue-DocumentSelectionChanged/blob/main/Screen%20Recording%202.gif) where, I hope, it's a little clearer that, when the selection/caret is di

[2022-11-11 17:16] adammpolak commented on #2374
@Jason-Chieh-Lee  I am also using a shared runtime and making a custom function that does a webrequest never responds.

[2022-11-11 19:27] milankonir commented on #402
@exextoc Any chance you can provide more details? This is a very serious bug that makes the `body.getAsync` and `body.setAsync` methods useless to do any email content transformations as they can break user's emails any time.

I'm concerned that 4 years ago you also started working on a fix, but it was never delivered. It's hard to plan our product roadmap if we don't know if / when certain APIs w

[2022-11-12 00:45] samantharamon commented on #2944
Thank you, @clavx.

[2022-11-12 07:39] OfficeAddins commented on #2957
Thank you for the link to the Office-Add-in-NodeJS-SSO.

Q - Could you explain the difference between '@azure/msal-node' and '@azure/msal-browser'
Can a taskpane app work with both

Q - Does the .ENV file have to be copied to your 'dist' folder
Are there any links on where to put the secret when you release to production

many thanks, Russell

[2022-11-12 09:01] ghost commented on #2932
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-12 09:01] ghost commented on #2931
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-12 20:26] sureshjoshi opened #2968 "Is there any plan for Taskpane widths to be adjustable by `RequestedWidth`?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The default 320-350px Taskpane width is very limited, especially with progressively wider monitors and laptop screens.

Is there some way this default could be increased (even to as l

[2022-11-13 14:34] exextoc commented on #2958
Hey @neville-jones ,

Thank you for reporting this issue. We have added this to our backlog and will have a look at it. However, we have no timelines to share at this point.

Internal Tracking ID: 7125323

[2022-11-13 15:09] exextoc commented on #2954
Hey @DxDen1004 ,

Thanks for reproducing this issue. We have added it to our backlog. However, we have no timelines to share at this point.

Internal Tracking ID: 179694

[2022-11-13 15:10] adammpolak commented on #2178
@jeremy-msft @chiz-ms  @madhavagrawal17 I have the same issue

Making an API call with Auth headers does not work with custom functions.

Can you give an example of a POST call with an authorization header that works?

[2022-11-13 16:02] adammpolak commented on #558
Can you post an example?

[2022-11-13 16:05] adammpolak commented on #558
Reopen this issue.

There is no example online of making a POST request with an auth header online for a custom function.

No one knows if it is an excel custom function issue or something else.

[2022-11-13 20:06] avisheknand commented on #2942
@exextoc , any help on the above would be appreciated

[2022-11-13 20:18] rocknet commented on #558
Sorry, I don't even do it like this anymore.  It's been quite a while since I was using the JS only runtime.  I use the shared runtime and it has full CORS support, so my application/json type requests are working.  I'm not doing auth at this time though.

[2022-11-13 22:46] demyte commented on #2931
@RuizhiSunMS I would be interested to understand the test that was performed by your colleague to come to that conclusion.

The example I posted is a copy of the script lab example with a minor change to show the issue.

I did it this way to keep it as close to vanilla as possible and still show the issue.

[2022-11-13 22:46] demyte commented on #2932
@RuizhiSunMS as per my comment on #2931

[2022-11-13 22:54] adammpolak commented on #558
Appreciate the response!

I am also using a shared runtime but I am not able to get any auth POST requests working

[2022-11-13 23:26] demyte commented on #2932
@RuizhiSunMS Here is a video demonstrating this failing

https://user-images.githubusercontent.com/48166/201549520-b5985e34-e247-4b4f-b285-a6c61f3d779c.mp4

[2022-11-13 23:38] demyte commented on #2931
@RuizhiSunMS here is a video of it failing

https://user-images.githubusercontent.com/48166/201550277-1270104d-7fb0-4fb5-bdfc-f06aef526256.mp4

[2022-11-14 01:13] hengchengfei commented on #2968
+1

[2022-11-14 02:45] hengchengfei commented on #2694
use insertFileFromBase64 @mornir

[code]

[2022-11-14 03:08] hengchengfei commented on #2655
@dhoelzl You can do as follows:

[code]

[2022-11-14 04:18] jipyua commented on #2966
hi, I think you should use "Primary" instead of "FirstPage" to get the header/footer if your header/footer doesn't have special settings compare to other pages.

[2022-11-14 05:52] RuizhiSunMS commented on #2968
@ElizabethSamuel-MSFT Do you have any idea about who can help this?

[2022-11-14 05:56] CG49071 commented on #2830
We are facing the issue with step exactly you mentioned.
1. Can you please tell me where the token has been cached. How to remove that cache from outlook application. We have cleared the manifest cache but it did not work for us. We have deleted the manifest from the following location:
%userprofile%\AppData\Local\Microsoft\Office\16.0\Wef
2. We have UAT customers which move to the Prod enviornmen

[2022-11-14 06:32] hengchengfei commented on #2966
@jipyua
I tried “Primary”、“FirstPage”、“EvenPages”,But doesn't work!

There is no special settings.

[test.docx](https://github.com/OfficeDev/office-js/files/10000208/test.docx)

[2022-11-14 08:01] ghost commented on #2941
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-14 08:02] #2941 closed, assigned to donlvMSFT

[2022-11-14 08:41] dhoelzl commented on #2655
@hengchengfei Thank you for the suggestion, but for my generic use case this won't work because I don't know how the inserted content should look like. The leading paragraph could be there in the original inserted content by intent, or even not, and there is no way to find out how it really should be.

[2022-11-14 08:46] AlinCatalinPreda commented on #2946
@jipyua We are using content controls to wrap a certain word content in order to build a navigation to that certain word content. For example, we might have this hierarchy:
Section 1
  ---Section 1.1
     ------Word 1.1.1

What will happen with the content controls is the following:
Word 1.1.1 will have the whole word content inside a content control. Afterwards, we are detecting that Section 1.1

[2022-11-14 08:48] #2950 closed, assigned to JuaneloJuanelo, exextoc, ajays-msft

[2022-11-14 09:46] RuizhiSunMS commented on #2967
@nickolasfisher
Our colleague reproduced this issue successfully. Now we have an ADO #7126082 to track this.
We will update here if progress is made.
Thanks for reporting this issue.

[2022-11-14 09:54] gingerjia commented on #2921
@Augustalex thanks very much for reporting the issue! I can repro the issue from my side and found the failure is due to there is notHttps Domain URL in your add-in mainfest: "http://adfs.lu.se". This is not allowed and throw the error message.
Please let us if the issue isn't resolved by fixing the protocol. Thanks!

[2022-11-14 11:01] ghost commented on #2945
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-14 11:01] #2945 closed, assigned to RuizhiSunMS

[2022-11-14 12:02] gkarmelich opened #2969 "Bindings Created from `setDataAsync` in Word Online Do Not Work As Expected"
# Provide required information needed to triage your issue

Bindings created and updated in Word Online do not work as expected. If a binding is created in a Word Online document and the document is saved, the downloaded document does not retain the binding when opened in the desktop Word version. The binding is also broken if re-opened in Word Online at a later time.

## Your Environment

* Platf

[2022-11-14 12:43] Augustalex commented on #2921
Thanks!

I'll upload an updated manifest and see if that solves it, or if there is anything else.

[2022-11-14 15:52] benkridamira1 opened #2970 "smart alerts -onmessagesend event"
When trying to use onmessagesend event to create smart alert in my desktop outlook , i couldn't have the expected behavior such described in the documentation .
i think the problem is in the SendMode attribut in the manifest but a not sure about that .

[2022-11-14 15:58] ElizabethSamuel-MSFT commented on #2968
Adding @preethikakiru and @Rick-Kirkham - Any ideas who may be able to help with this?

[2022-11-14 16:25] davidchesnut commented on #2957
Hi Russell,

- msal-node is the library to use in Node.js servers such as express. In the sample, it enables the OBO flow to get the Graph token.
- msal-browser is the library to use in JavaScript clients (your task pane). In the sample it enables fallback auth when SSO fails.

A good way to see all the MSAL libraries and scenarios they get used in is to check out the [Microsoft identity code samp

[2022-11-14 17:25] OfficeAddins commented on #2957
Thank you so much David, for the quick reply

[2022-11-14 18:10] samantharamon commented on #2962
Thank you for reporting this, @Aidam1.

@exextoc, could you please investigate?

[2022-11-14 18:12] samantharamon commented on #2965
Thank you for reporting this, @hello-chenchen.

@exextoc, is this something you can assist with?

[2022-11-14 18:16] samantharamon commented on #2969
Thank you for reporting this, @gkarmelich.

@wangyun-microsoft, could you please assist with this?

[2022-11-14 18:18] davidchesnut commented on #2960
Hi @Tsathyapriya80 still working with the team to provide some guidance here. Hope to have an answer soon.

[2022-11-14 20:05] timwan10 commented on #2830
The cache is an in-memory cache. It is only cleared on reboot of Outlook. Customers that face this issue can reboot Outlook to fix it.

The tokens will automatically time out after the TTL for the token has expired. (which is usually one hour), but can depend on the server implementation.

This is considered by design.

It is possible that the timeout of the token has changed some months ago, but

[2022-11-14 20:25] Rick-Kirkham commented on #2968
@preethikakiru would know about future plans for providing this option.

[2022-11-14 21:13] exextoc commented on #2942
This is a limitation of the JavaScript engine that is used to execute your add-in's code. Currently, it supports up to ECMAScript 2016. The await keyword was introduced by ECMAScript 2017, so it is not supported. Can you avoid using it and also ensure that you are only using syntax supported up to ECMAScript 2016? We are working to update our documentations to reflect this.

[2022-11-14 21:31] davidchesnut commented on #2957
Sounds good, will close for now. Thanks!

[2022-11-14 21:31] #2957 closed, assigned to davidchesnut

[2022-11-14 21:48] exextoc commented on #2915
We consider meeting requests (such as the form created when forwarding an appointment) as Messages, so that's why we trigger the OnNewMessageCompose event. We will make that clear on our documentation page. If you believe we should separate meeting requests from the message category, please let us know by submitting a feature request to our Tech Community page: https://aka.ms/M365dev-suggestions.

[2022-11-14 21:51] ghelyar commented on #2915
The behaviour is at least inconsistent between versions of outlook, and between new, reply and forward.

[2022-11-14 21:58] timwan10 commented on #2970
Could you provide more details on your build version, manifest, JS code, what you expect to happen, and what is happening?

[2022-11-15 00:57] exextoc commented on #2952
This has found to be a regression from a change from a few months ago. We are looking to see if it is possible to roll out an emergency fix instead of waiting for the next build. We will update when we know more.

[2022-11-15 03:11] jipyua commented on #2966
would you please change your code to sections.items[sections.items.length - 1].getFooter("Primary").insertText("base64", "End"); to confirm whether it's the insertFileFromBase64 issue or footer issue?

[2022-11-15 06:47] hengchengfei commented on #2966
@jipyua

I tried by follow attach files.

[Test.docx](https://github.com/OfficeDev/office-js/files/10009979/Test.docx)
[base64.docx](https://github.com/OfficeDev/office-js/files/10009980/base64.docx)
![1](https://user-images.githubusercontent.com/3182964/201847935-0f680d9d-362a-41fb-bb6a-2bdb798feac7.png)

[2022-11-15 06:59] Shashank-Deol opened #2971 "In Chart Object the chartType is coming as null for waterfall and radarfilled charts."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In Chart Object the chartType is coming as null for waterfall and radarfilled charts.
This might be happening with other charts as well.

## Your Environment
* Platform [PC desktop, M

[2022-11-15 07:00] ghost commented on #2971
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-15 07:34] carlosb1504 commented on #2952
Thanks for the update. Is there a way that we can include the last unaffected version of the scripts in our application until this issue is resolved?

[2022-11-15 09:21] femkemarije commented on #2925
We also have the same issue. Empty array does not "remove" all recipients in the field(to/cc/bcc) anymore. When provided with at least one recipient in the array, it does work as expected.

[2022-11-15 09:27] jag-cloudextend opened #2972 "All document properties are wipeout in Excel addin"
# Provide required information needed to triage your issue
We have an application that makes use of [Office Settings](https://learn.microsoft.com/en-us/javascript/api/office/office.settings?view=excel-js-1.9). Recently all these properties are wipeout and we are getting back null
## Your Environment
This is happening on all the platforms

## Expected behavior
I should be able to retrieve the docum

[2022-11-15 10:10] benkridamira1 commented on #2970
i used this documentation for smart alerts :  https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest
i changed the manifest.xml , and created the launchevent.js file exactly as described  .
i supposed to have a popup before sending the mail like this
![smartAlerts](https://user-images.githubusercontent.com/77399009/201891953-9e884354-f3

[2022-11-15 10:18] Augustalex commented on #2921
It's uploaded. Let's see after it goes through certification ✅

[2022-11-15 10:56] Refinitiv-365 opened #2973 "Unable to use add-ins on workbook that save from Excel on Windows"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

when I use custom functions on Excel on Windows and save a workbook then close and open it again on Excel Online.
The custom function does not work and the task pane show warning "Thi

[2022-11-15 10:57] ghost commented on #2973
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-15 11:49] jiju-MS commented on #2932
Hey, @demyte, thanks for reporting this issue and providing the details, our engineer is looking into it, could you please try this gist:
https://gist.github.com/jiju-MS/7575d11e1b1781133bfa9768b39ce10a
on your environment and see whether it works for you?

Thanks!

[2022-11-15 14:36] JinghuiMS commented on #2823
I afraid we don't have the similar api, we would like to suggest you go to https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform and see if your question has already been asked or ask a new question. Feature requests on it are considered when we go through our planning process.

[2022-11-15 14:50] JinghuiMS commented on #545
The similar issue with https://github.com/OfficeDev/office-js/issues/2734

[2022-11-15 14:53] JinghuiMS commented on #2734
Closing this issue because it appears to be new feature ask, but please let us know if you have further questions or feel it needs to be re-opened.

[2022-11-15 16:18] Wenjun-Gong commented on #2733
similar as the behavior in #2268. Track that internally as a group.

[2022-11-15 16:46] exextoc commented on #1616
We have fixed the bug and the fix should be available in next build. When an updated build is available depends on the release channel a customer is on.

[2022-11-15 19:05] samantharamon commented on #2972
Thank you for reporting this, @Jagapathi126.

@RuizhiSunMS are you able to assist with this?

[2022-11-15 20:07] preethikakiru commented on #2022
Hi Elizabeth, reassigned this ticket because I don't think I have the right knowledge for this.

[2022-11-15 20:16] exextoc commented on #2970
What version AND build of Outlook win32 are you on?

Also just doing a sanity check, but the Javascript in the example you linked is checking for the words "send", "Picture", "document" and "attachment". I don't see those words in your video that you are testing?

i.e. in the video, it looks like it is working as intended. You sent an email, but did not contain any of the check words, so it did no

[2022-11-15 20:24] exextoc commented on #2952
The last unaffected version should be 16.0.15629.XXXXX

An emergency fix is being rolled out, and is scheduled to hit most builds in a few days. This schedule is not final, and can change if issues are found. I will update as more information is available.

[2022-11-15 20:26] ahm3dhany commented on #1874
@GarryLowther & @moshikonachmias
Did you managed to know the resolution for this issue? or it is still not fixed?

[2022-11-15 20:40] cbishop-fv opened #2974 "Gmail account on mac allows for addins"
We have an office outlook add-in and use https://github.com/AzureAD/microsoft-authentication-library-for-js for azure auth along with https://github.com/microsoftgraph/msgraph-sdk-javascript to make calls to perform mailbox actions for users in the addin.

Outlook Desktop on Mac allows users with gmail accounts to add them as "exchange" or "supported" accounts not just POP or IMAP. I believe the u

[2022-11-15 20:56] ahm3dhany commented on #1441
@moshikonachmias did you manage to find a workaround for this? same here, an add-in with OnSend functionality enabled.

@exextoc I'm confused... how is this behavior considered "by design" while it's a domain environment and admins are passing trust to end-users (e.g., pushing an add-in to extend OWA functionality)?

[2022-11-15 22:40] demyte commented on #2932
Hi @jiju-MS,

Yes, it looks like the very liberal use of `[][]` kicks them into gear when they are a streaming function.

(just to note, that breaks the non streaming function in that example because of line 186 - but thats not imporatant).

Is this mentioned somewhere in the doco that streaming functions need to assume the result is a 2D array (i asusme an Excel Range like thing)

I also note for

[2022-11-15 22:46] demyte commented on #2931
@RuizhiSunMS as per the discussion and workaround provided by @jiju-MS, in #2932, it looks like if I take the same approach to start treating things as Ranges (i.e. using `[][]` as their type), then I can get this issue resolved with the following change (as updated in [the gist](https://gist.github.com/demyte/2771f88abd175daf454c533fce4320f8))

![image](https://user-images.githubusercontent.com/4

[2022-11-15 23:39] davidchesnut commented on #2960
Hi @Tsathyapriya80, Okay providing some more information from the identity team here:

It's very important you implement the correct sequence of flow for auth sign-in to work correctly. If you are implementing SSO you want to use the [getAccessToken](https://learn.microsoft.com/javascript/api/office/office.auth#office-office-auth-getaccesstoken-member(1)) API to acquire the token. The following di

[2022-11-15 23:53] Adrian-MSFT commented on #2911
Hi @eugene-plutoflume,

The original design was to expose the URL in the right click menu, but this does not work in Leagcy Edge or Anaheim, so it was moved to the title for these instances. We do have a backlog item to redesign this, however, I unfortunately have no timelines to provide on when that would be completed.

[2022-11-15 23:53] #2911 closed, assigned to exextoc

[2022-11-16 01:43] dinglicoding commented on #2022
Hi @preethikakiru  Thanks for your reply.

Our excel addin has several menus. In order to better allow users to see our menu, it is convenient to click the menu button directly on Custom Tab. So after rendering the chart or table. Ability to automatically focus Custom Tab. Which can reduce customers looking for our custom Tab.

[2022-11-16 02:39] RuizhiSunMS commented on #2920
@xuruiyao-msft

[2022-11-16 02:44] RuizhiSunMS commented on #2972
Thanks @samantharamon .
Hi @Jagapathi126 , can you share your addin with us? It may help in locating the cause.

[2022-11-16 02:53] RuizhiSunMS commented on #2973
Hi @Refinitiv-365, thanks for reporting this.
One thing I want to make sure is: how is the addin without custom functions? Does the addin without custom functions still have this error? This may help us to locate target area.
Thanks

[2022-11-16 04:57] exextoc commented on #2798
@gianluca-venturini  We have fixed the bug and the fix should be available in next build. When an updated build is available depends on the release channel a customer is on. Can you check and confirm the fix?

[2022-11-16 05:23] jag-cloudextend commented on #2972
@RuizhiSunMS Thank you for your response. Can you provide your email id? I will share more details in an email

[2022-11-16 07:00] exextoc commented on #2962
@Aidam1  Thanks for reporting this issue regarding roaming settings with display dialog. It has been put on our backlog. We unfortunately have no timelines to share at this point. As a workaround you can pass roaming settings from host page to display dialog using different ways recommended [here](https://learn.microsoft.com/en-us/office/dev/add-ins/develop/parent-to-dialog)

Internal tracking id:

[2022-11-16 08:18] #291 closed, assigned to XuanZhouMSFT

[2022-11-16 09:08] donlvMSFT commented on #760
Close this thread due to long time in-active.

[2022-11-16 09:08] #760 closed, assigned to donlvMSFT

[2022-11-16 09:25] donlvMSFT commented on #856
The bug already been fixed and released after Office build version: 16.0.14702.37375, please help verify, and I'd like to close this thread due to the status.

[2022-11-16 09:25] #856 closed, assigned to gingerjia

[2022-11-16 09:31] donlvMSFT commented on #1153
This issue seems already been fixed due to bug status, please help verify. I'd like to resolve this thread, thanks for discussion!

[2022-11-16 09:33] CG49071 commented on #2830
Rebooting outlook is not fixing the problem. We tried that as well.

It took 20-30 minutes to update the AUD value for the new manifest. We are using only Office 365. But did not get this issue earlier.

User does not switch AUD value very often but it would create bad experience when they move from UAT to PROD environment.

[2022-11-16 09:36] donlvMSFT commented on #1274
Based on the bug status, this issue should already been fixed in new APIs, please help verify. I'd like to close this thread then.

[2022-11-16 09:36] #1274 closed, assigned to nobody

[2022-11-16 10:52] mimaj-oaw opened #2975 "Wrong recipient type in Outlook web (response for a meeting)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Outlook web, Outlook PC desktop
* Host [Excel, Wo

[2022-11-16 11:06] donlvMSFT commented on #1559
I'd like to close this thread as the discussion is closed, thanks for the discussion.

[2022-11-16 11:06] #1559 closed, assigned to nobody

[2022-11-16 11:09] donlvMSFT commented on #1561
Thanks for the discussion, I'd like to close this thread as the issue already closed.

[2022-11-16 11:09] #1561 closed, assigned to MandytMSFT

[2022-11-16 11:14] donlvMSFT commented on #762
This issue already been fixed from the bug status, and released after Office version 16.0.12509.34851, please help verify. I'd like to close this thread.

[2022-11-16 11:14] #762 closed, assigned to MandytMSFT

[2022-11-16 11:19] donlvMSFT commented on #806
This issue already been fixed based on bug status, and released with Office with 16.0.14702.37375, please help verify.
I'd like to close this thread, thank you!

[2022-11-16 11:19] #806 closed, assigned to gingerjia

[2022-11-16 11:36] donlvMSFT commented on #1577
Could you help verify whether this is still reproduced on WebView2?

[2022-11-16 11:46] donlvMSFT commented on #1754
This issue already been fixed based on bug status, please help verify.
I'd like to close this thread, thanks for discussion!

[2022-11-16 11:46] #1754 closed, assigned to gingerjia

[2022-11-16 11:49] donlvMSFT commented on #1770
This issue already been fixed based on the bug status, please help verify.
I'd like to close this thread, thanks for the discussion.

[2022-11-16 11:49] #1770 closed, assigned to gingerjia

[2022-11-16 11:58] exextoc commented on #2975
Thanks for reporting this issue regarding recipient type on OWA. It has been put on our backlog. We unfortunately have no timelines to share at this point
Internal tracking id: 3204347

[2022-11-16 12:05] #1860 closed, assigned to jipinshi

[2022-11-16 12:14] #1969 closed, assigned to qinliuMSFT

[2022-11-16 12:19] #2017 closed, assigned to keyur32

[2022-11-16 12:19] #2025 closed, assigned to gingerjia

[2022-11-16 12:21] donlvMSFT commented on #2026
The fix already been release with Office 16.0.14508.34850, please help verify.
I'd like to close this thread, thanks for discussion!

[2022-11-16 12:21] #2026 closed, assigned to gingerjia

[2022-11-16 12:38] jiju-MS commented on #2932
Glad to know it working for you. we will provide some samples for these scenarios to help.

[2022-11-16 14:09] Tsathyapriya80 commented on #2960
Thank you, David, I will add the JS to retrieve "getaccesstoken" and implement the pop up to sign in. if your team has any sample code with .NET core and SSO for Outlook add-in could you please check-in to the github.

Thanks,
Priya

[2022-11-16 14:17] maxym2020 opened #2977 "#value! message instead of arguments type in Function Argument box"
I'm building an Excel add-in with Custom Functions. This function has a description with types for every argument. To create a functions.json file I use YO generator provided by Microsoft. Everything works fine until some COM add-in is installed. In that case, the Function Arguments box shows the wrong argument types.

## Expected Behavior

![correct behavior](https://user-images.githubusercontent

[2022-11-16 15:51] Tsathyapriya80 commented on #2960
Hi David,
In the above flow, accesstoken is retrieved from office.js and goes to App Middle-tier, Is this retrieving the accesstoken in the *.cshtml - by adding javascript?

[2022-11-16 16:01] teejay001 commented on #2386
Hi,

We are facing the same issue with draft email on Mac OS. Any update on the issue please.

Do kindly reopen this issue as it's never communicated it's fixed and @vikramsw has also requested it been reopened.

Thanks

[2022-11-16 16:06] milankonir commented on #2386
@exextoc Can you please reopen the issue?

[2022-11-16 16:26] davidchesnut commented on #2960
You can refer to this sample for ASP.NET. It's not Outlook, but the pattern is the same. https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-ASPNET-SSO

There is also an Outlook sample, but it is out of date and will be updated soon. So don't use that one for now.

Yes, you need to add the javascript file to the .cshtml file. For example, I used a Scripts sectio

[2022-11-16 16:58] JHJ-MS commented on #2523
Hi @toni-lyttinen , thanks for your reporting, and sorry for the late response.

I use Yo Office to generate a CF addin project locally and upload its manifest on excel online. It works fine. A locally built project works fine for you too, right?

I'd like to further understand the repro steps. For the repro step "Host the built version on Azure blob", do you mean you put the JS and JSON files on

[2022-11-16 18:48] bkonic opened #2978 "invalid argument on body.insertOoxml in Word 2016 (16.0.5366.1000)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Extracting the body with getOoxml() and then inserting it again with body.insertOoxml fails with  Rich.api error "invalid argument"

## Your Environment
* Platform [PC desktop, Mac,

[2022-11-16 18:49] ghost commented on #2978
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-16 19:19] mebbert commented on #2490
This is definitely a real bug. I regularly drop attachments to an Outlook email (Mac OS Montery 12.6; Outlook 16.67) and the attachments will disappear, reappear, and disappear again. Sometimes it's just some of the attachments that disappear. As @hiddenkirby said, it's intermittent.

[2022-11-16 21:19] davidchesnut commented on #2490
Hi @mebbert, just curious when you reproduce this issue do you wait for Run to finish before clicking it again? Or do you have to click it repeatedly? I ask because if you await in JS, the await frees the thread to work on other events (button click). Which means you can have a second or third instance of the button event running before the first one is finished. Also I wasn't sure if that's the s

[2022-11-16 22:15] SeanSmithApryse opened #2979 "Office.context.ui.displayDialogAsync with a SharedRuntime creates an empty dialog / overlay"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Office.context.ui.displayDialogAsync with a SharedRuntime creates an empty dialog / overlay

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the

[2022-11-16 22:15] ghost commented on #2979
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-16 22:51] exextoc commented on #2830
If rebooting outlook doesn't fix the issue, then this could be a different problem.

How are the manifests being updated for users? Is it installed by the Admin? Or is it sideloaded manually by the user?

When this bug happens, is the manifest out of date *locally*? (or does it have the correct AUD value). The local manifest can be found at:

`C:\Users\[username]\AppData\Local\microsoft\office\16.

[2022-11-17 00:01] donlvMSFT commented on #2068
The issue already been fixed due to the bug status, and released after office version: 16.0.14715.34850, please help verify.
I'd like to close this thread, thanks for the discussion!

[2022-11-17 00:01] #2068 closed, assigned to qinliuMSFT

[2022-11-17 00:42] samantharamon commented on #2977
Thanks for reporting this, @maxym2020.

@yaweizhu-henson, is this something you can assist with?

[2022-11-17 00:45] samantharamon commented on #2974
Thank you for reaching out, @cbishop-fv.

@exextoc, could you please assist with this?

[2022-11-17 02:36] dinglicoding commented on #2022
Hi @preethikakiru  Custom Tab Focus  will add in Feature?

[2022-11-17 02:38] dinglicoding commented on #2918
Hi @madhavagrawal17    We look forward to your reply ，Thanks

[2022-11-17 02:38] prasadhpshenoy commented on #2802
Hi @JinghuiMS
I was about to ask for an update since we didn't receive anything post Sept 27, but I noticed that you have removed `Needs:attention` label.  Not sure what that means. I really hope it doesn't mean this is going to be deprioritized.

It is a major blocker for us.
We are working on migrating our functionalities from legacy VSTO add-in to the more modern and MSFT recommended office 365

[2022-11-17 03:18] donlvMSFT commented on #2117
Thanks for the discussion, I'd like to close this thread as the thread is answered.

[2022-11-17 03:18] #2117 closed, assigned to gingerjia

[2022-11-17 03:20] donlvMSFT commented on #2128
I'd like to close this thread due to the question already answered. Thanks for the discussion!

[2022-11-17 03:20] #2128 closed, assigned to qinliuMSFT

[2022-11-17 03:26] donlvMSFT commented on #2078
The fix already rolled out, please help verify.
I'd like to close this thread, thanks for the discussion!

[2022-11-17 03:26] #2078 closed, assigned to qinliuMSFT

[2022-11-17 03:29] RuizhiSunMS commented on #2979
@madhavagrawal17 for sharedruntime.
And @Rick-Kirkham do you know who own dialog api now?

[2022-11-17 05:01] jeremy-msft commented on #2802
Hi @prasadhpshenoy, the `Needs: attention` label corresponds to `Waiting on Microsoft to provide feedback`, so it's just status cleanup rather than indicating a deprioritization.

This item is still on our backlog and my earlier [response](https://github.com/OfficeDev/office-js/issues/2802#issuecomment-1244132075) still reflects the latest status.  We understand the importance here and while we co

[2022-11-17 05:26] jipyua commented on #2914
Thanks for reporting this, after confirming inside team this sounds like a new request, we will open an internal bug to track this issue. thanks.

[2022-11-17 05:29] jipyua commented on #2905
hi, for the first issue "Content control loses it’s content after browser refresh: [Content-control-issue.zip](https://github.com/OfficeDev/office-js/files/9831539/Content-control-issue.zip)". You mentioned that "after browser refresh", do you see this issue on word desktop or word online?

[2022-11-17 05:31] jipyua commented on #2946
Thanks for the confirmation! This bug has been fixed internally. When the patch is released through Office monthly update, you will be able to pick it.

[2022-11-17 05:33] jipyua commented on #2920
Thanks for reporting this, this sounds like an API bug, we will open an internal bug to track the investigation and fix.

[2022-11-17 05:40] jipyua commented on #2804
hi, this bug has been fixed internally, once the fix is deployed through the monthly update, you should be able to pick it.

[2022-11-17 05:41] jipyua commented on #2978
Thanks for reporting this, this is a known issue and has been fixed internally. Once the fix is deployed, you should be able to pick it.

[2022-11-17 06:00] donlvMSFT commented on #2135
I'd like to close this thread as the discussion is clear. Thanks for the discuss!

[2022-11-17 06:00] #2135 closed, assigned to qinliuMSFT

[2022-11-17 06:01] donlvMSFT commented on #2154
I'd like to close this thread as the issues been resolved. Thanks for discussion!

[2022-11-17 06:01] #2154 closed, assigned to gingerjia

[2022-11-17 06:19] #2169 closed, assigned to gingerjia

[2022-11-17 06:20] donlvMSFT commented on #2189
I'd like to close this thread as the fix is released. Thanks for the discussion!

[2022-11-17 06:20] #2189 closed, assigned to dingjin-ms

[2022-11-17 06:20] donlvMSFT commented on #2214
I'd like to close this thread as the fix already released. Thanks for the discussion!

[2022-11-17 06:20] #2214 closed, assigned to dingjin-ms

[2022-11-17 06:29] donlvMSFT commented on #2263
I'd like to close this thread, as the fix already released. Thanks for discussion!

[2022-11-17 06:29] #2263 closed, assigned to dingjin-ms

[2022-11-17 06:45] jipyua commented on #2966
Thanks, providing the Base64.docx file help clear the confusions. This is because your base64 file contains a text box, if you try a simple base64 file which just contains plain text, you will find that the content is inserted just to the footer.

If from UI, you tried to insert a text box to footer, you will find that you can both access the text box from header/footer and not just to footer. So

[2022-11-17 07:00] exextoc commented on #2386
@milankonir, @teejay001, @vikramsw  We have fixed the bug and the fix should be available in next build. When an updated build is available depends on the release channel a customer is on.

[2022-11-17 07:26] bkonic commented on #2978
Thank you, when can I expect the fix to be deployed?

[2022-11-17 08:48] RuizhiSunMS commented on #2928
@madhavagrawal17  or maybe you can take a look?

[2022-11-17 08:55] mkm17 commented on #2898
Dear @RuizhiSunMS, is there any update on the issue?

[2022-11-17 08:58] RuizhiSunMS commented on #2932
Close this bug since the workaround has been provided.
Feel free to reopen if the error appears again.

[2022-11-17 08:58] #2932 closed, assigned to RuizhiSunMS

[2022-11-17 09:01] donlvMSFT commented on #2977
Hi @maxym2020 , thanks for report this issue, I'm trying to repro but seems it works well with the first party com add-ins.
![image](https://user-images.githubusercontent.com/42738188/202402130-e01c50cf-1788-411d-8b51-151b0b74b7d9.png)
Could you share which com add-in you are using to reproduce? That could be really helpful.

[2022-11-17 09:13] RuizhiSunMS commented on #2931
Close this issue together with #2932.
Feel free to re-open the issue if the error appears.

[2022-11-17 09:13] #2931 closed, assigned to RuizhiSunMS

[2022-11-17 09:15] danielpdev commented on #2900
@RuizhiSunMS  so this is a bug?

[2022-11-17 09:20] maxym2020 commented on #2977
Of course.
I took it here: https://www.asap-utilities.com/download-asap-utilities.php
ASAP utilities. Home & student version

P.S. I confirm that everything is ok with "pre-added" com addins. ( I tried to turn on Pivot one)

[2022-11-17 09:41] RuizhiSunMS commented on #2972
ruizhisun@microsoft.com
You can send with this address. Thanks.

[2022-11-17 12:14] SiruiSun-MSFT commented on #2899
@wh1t3cAt1k Sorry for the slow response. And thanks for your investigation and feedback. That's really useful for us. We will discuss this issue with our PM to do more optimization. Thanks!

[2022-11-17 12:41] Alpesh-Chaudhari opened #2980 "Word API in Search method not working on Other regions"
Hello Team,
I am using Word API  for developing word add-in. I have used search method for searching all number from the word document. When I am using Slovenian(Slovenia) region then this method throw error and if I am using English(United States) then search method working fine.

# My Environment

* Platform : PC desktop
* Host: Word
* Office version number: Microsoft® Word for Microsoft 365 MSO

[2022-11-17 13:54] jag-cloudextend commented on #2972
Thank you for the address. I have shared the details over email.

[2022-11-17 15:16] Premsagar-lab commented on #2842
@exextoc Please reopen this ticket as it is still happening in customer prod environment.

[2022-11-17 18:19] madhavagrawal17 commented on #2918
@dinglicoding, Sorry for the delay. After an investigation by the SharedRuntime expert for Office online, we found that currently it is expected behavior because of some technical limitations on Office online. I am afraid you might have to use different Taskpanes Ids if you are using the same SharedRuntime Id.

[2022-11-17 19:06] exextoc commented on #2936
We are able to repro the issue on mentioned exchange server 2019 CU12 on OWA. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point
Internal tracking id: 3167946

[2022-11-17 20:34] wh1t3cAt1k opened #2981 "Icons not being displayed for some of the buttons in a contextual tab"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Version 2210 (Build 15726.20202 Click-to-Run)
* Operating System: Windows 11 Pro 22000.1219
* Browser (if using Office on the web): None

## Expected behavior

All icons are displayed in the ribbon created dynamically.

## Current behavior

So

[2022-11-17 20:34] ghost commented on #2981
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-17 20:43] wh1t3cAt1k commented on #2981
I also just tried reducing the number of available icon sizes to just 32x32 and 80x80 (the obligatory sizes). Didn't help:

![image](https://user-images.githubusercontent.com/5159662/202555618-682b643e-90d3-43a7-8750-93ab9b075a48.png)

![image](https://user-images.githubusercontent.com/5159662/202555641-35588141-be0d-4b12-8762-01b2a153eaa7.png)

[2022-11-17 20:53] gmichaud commented on #2981
<img width="941" alt="Screenshot 2022-11-17 at 15 52 50" src="https://user-images.githubusercontent.com/9433888/202557510-7594bb93-2ec3-4b82-a83a-50e6ed25833e.png">

I have replicated the same thing on Excel for Mac... looks like it's only working properly on Excel Online.

[2022-11-17 20:53] samantharamon commented on #2980
Thank you for reporting this, @Alpesh-Chaudhari.

@wangyun-microsoft, could you please assist with this?

[2022-11-17 23:13] wh1t3cAt1k commented on #2981
Note that I am not able to run the script lab in Excel Online because "the ribbon API is not available".

But please trust me when I say that even when running the script lab sample inside a proper add-in:

- Excel Online works as expected and displays large icons at the top level / small icons in the dropdown
- Excel for Windows / Mac makes some of the icons small for no reason, and the icons in

[2022-11-18 02:43] ChienHo commented on #2905
@jipyua , It happens on word online.

[2022-11-18 03:38] Tsathyapriya80 commented on #2960
Hi David,

 I have added popup and getaccesstoken. so here do we need to land into HomeController without authorization(anonymous). For my case I have added Authorize attribute. In Outlook windows app I can see context.user.claims present and it is authenticated and landing to HomeController -> Index. but for Outlook web app It doesnt contain claims and it is failing before landing to index where

[2022-11-18 05:36] dinglicoding commented on #2918
@madhavagrawal17  thanks for your quick reply.  you said SharedRuntime Id is the Taskpanes Id? where set ShareRuntime Id ，thanks

[2022-11-18 09:13] Tsathyapriya80 commented on #2960
David,

In this sample https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Outlook-Add-in-SSO, the process is not starting from js getaccesstoken, it is from .net middleware

[2022-11-18 10:35] Refinitiv-365 commented on #2973
Hi @RuizhiSunMS .

The workbook without any formulas, it's working normally.

[2022-11-18 13:31] kgeorgiou1234 opened #2982 "Word crashes after contentControl.getHtml in Word Online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In word online, if you have a list of content controls, you use getHtml, if you then try to set the content again, the word online crashes after some time (even if you don't do anythi

[2022-11-18 13:31] ghost commented on #2982
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-18 15:34] AlinCatalinPreda commented on #2946
1. I have found another instance in which the parent content control has other content besides the child content control which will be deleted, and the parent will also get deleted. Here is the gist link and the document reproducing the issue: https://gist.github.com/AlinCatalinPreda/0676b2ce01d6dc328a72f4584c16f71e
[ParentGetsDeleted.docx](https://github.com/OfficeDev/office-js/files/10042487/Par

[2022-11-18 16:29] wh1t3cAt1k commented on #2876
@JinghuiMS this is not a programming question, but a legitimate bug, I just encountered it again. The ribbon does not show at all and there are no errors in the console. The error is sporadic.

@gingerjia

The session ID where the ribbon did not appear:

53666fef-e140-4864-9a4a-56b2078bd1cd

[2022-11-18 16:30] wh1t3cAt1k commented on #2876
Then it worked normally in session cad38e18-05ea-449e-a3f9-939c9b7a6000 .

If you compare the logs between the two sessions you might be able to catch some differences 🙏🙏🙏.

Please check this guys, our marketing success depends on this working properly.

[2022-11-18 16:31] wh1t3cAt1k commented on #2876
I meant to ping @gingerjia with the above 👆👆👆

[2022-11-18 16:39] madhavagrawal17 commented on #2918
So SharedRuntime Id is the Id set on the Runtime element in the manifest:
<img width="560" alt="image" src="https://user-images.githubusercontent.com/48529581/202756404-5f05e054-9b95-42a6-8377-d722ffd8fcb5.png">

[2022-11-18 20:36] exextoc commented on #2952
The fix has been rolled out to Monthly Channels (builds 15726 and 15831) The Outlook Clients will have to be rebooted and connected to the internet. No, download/update is required. The fix should be live now, but it may be good to wait a few days to be safe.

[2022-11-18 20:36] #2952 closed, assigned to JuaneloJuanelo, ajays-msft

[2022-11-18 21:33] mebbert commented on #2490
Looks like I misunderstood the nature of your post.

I thought your .js code was testing the same event of dragging and dropping attachments into an email. I'm not writing plugins for end users. I'm just experiencing the same thing you describe as a "lay" end user whose attachments disappear intermittently.

[2022-11-19 00:01] ghost commented on #2942
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-19 12:02] jipyua commented on #2978
In order to make sure the quality, there is some internal process to let the changes go through different channels, it may take some time but we will try to deploy it as soon as possible. thanks for your patience.

[2022-11-19 15:01] ghost commented on #2823
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-19 17:13] tj-aew opened #2983 "Excel crashes if add-in deletes named item while another window is active"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

Deleting a named item with code in an add-in crashes Excel hard if the user has switched to a different worksheet.

## Your

[2022-11-19 17:13] ghost commented on #2983
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-20 06:01] ghost commented on #2934
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-20 12:01] ghost commented on #1564
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 02:17] MiaofeiWang commented on #2497
Hi @ExcelOffTheGrid , great thanks for the suggestion.
After our internal discussion, the new API `ChartFill.getSolidColor()` will always return the hex code of color. It was released in Excel api set 1.16 recently and here is the document: https://learn.microsoft.com/en-us/javascript/api/excel/excel.chartfill?view=excel-js-preview#excel-excel-chartfill-getsolidcolor-member(1).

[2022-11-21 02:17] JinghuiMS commented on #2876
@wh1t3cAt1k Thanks for providing information. We marked it as "programming question" first, before our engineer does not characterize it as a bug, and once it is determined to be a bug, we will change the corresponding type.

[2022-11-21 03:18] SiruiSun-MSFT commented on #2459
Hi @szilardd and @georgechr, we have fixed the problem and the fix has been rolled out to the current channel, build version above 16.0.15215.10000. Thank you for your report!

[2022-11-21 03:18] #2459 closed, assigned to SiruiSun-MSFT

[2022-11-21 04:16] donlvMSFT commented on #1840
I'd like to close this thread as the fix already been rolled out due to bug status, please help verify.
Thanks for the discussion!

[2022-11-21 04:16] #1840 closed, assigned to jipinshi

[2022-11-21 05:01] RuizhiSunMS commented on #2981
@Rick-Kirkham Hi Rick, Do you know anyone owning the Ribbon API? The only one I know is Roger but he is OOF.

[2022-11-21 05:41] donlvMSFT commented on #2977
Hi @maxym2020 , I tried on latest Office CC version, seems this issue is not happened, What's your channel? We could double confirm on that version.

[2022-11-21 05:58] gingerjia commented on #2876
@wh1t3cAt1k really thanks very much for sharing the session Id! It's very helpful. From the log, I can populate the failure reason is due to storeType wasn't defined. For the worked session, the storeType was populated correctly. I suppose both of the two sessions were from your testing env, right? It's may relate to the uploading method not very stable. From my understanding, if you publish the a

[2022-11-21 06:01] ghost commented on #2332
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 06:01] ghost commented on #915
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 07:05] RuizhiSunMS commented on #2905
@ChienHo My colleague tried but failed to reproduce it. Can you share some other information like platform, versions or others special.

[2022-11-21 07:19] wh1t3cAt1k commented on #2876
Thank you. @JinghuiMS should we change the label for this issue to a product bug?

[2022-11-21 07:25] JinghuiMS commented on #2876
@wh1t3cAt1k Sure, Done!

[2022-11-21 08:11] JinghuiMS commented on #2972
@Jagapathi126
Thanks for reaching us! I'd like to confirm if you/your customer hits this setting issue on Excel web? If so, please check it again on Excel online, this issue should be gone! Feel free to ask me if you have further questions.

[2022-11-21 08:36] Augustalex commented on #2921
It seems to be working now 👍

[2022-11-21 08:39] exextoc commented on #2943
Hi @sznorbert07
Office.initialize is the legacy way of initializing an add-in. OfficeJS will poll several times the user’s script trying to find an Office.initialize definition, if we cannot find a definition after 10s, OfficeJS will timeout failing to initialize the add-in. Office.initialize can only be defined once and will only be called once as soon as the user’s script defines it.
The recomme

[2022-11-21 09:01] ghost commented on #2266
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 09:01] ghost commented on #2253
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 09:01] ghost commented on #2158
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 09:08] jipyua commented on #2946
hi, thanks for providing further information, both issues will be fixed.

[2022-11-21 09:17] jag-cloudextend commented on #2972
Does that mean there was an issue in Excel web which is resolved now? Do we have a way to restore those settings?

[2022-11-21 09:27] yuc014 commented on #2927
Hi @leybal , sorry for the late reply.
I think use `setXAxisValues(sourceData)` for `Excel.ChartType.line` may cause some unknown issues, I recommend you not use it.
And the reason is `setXAxisValues(sourceData)` is kind of method only for scatter charts since only in scatter charts we will have the definition for "X values" and "Y values".
If you create two charts (line and scatter) with UI, you

[2022-11-21 09:35] jipyua commented on #2964
thanks for providing more detailed videos, we have logged a bug internally and will triage accordingly.

[2022-11-21 09:49] xiruatms commented on #2982
Thanks for reporting this. I've tried to repro this issue based on your steps. Unfortunately, I can't repro it.

Will you please help to clarify more for me?
1.  Does this happen all the time? Or just intermittently?
2.  Why are you mentioning that getHtml might be the reason of crashes? According to your steps, there're other operations/steps after getHtml.
3.  Do you notice any exceptions/errors

[2022-11-21 10:04] kgeorgiou1234 commented on #2982
1. Yes it happens every time we execute the specific order of steps
2. The only step after getHtml is to set the HTML. If this step is executed multiple times, there are no errors even if you wait for some time. As soon as you call getHtml and then set the content control's html again, if you wait for about a minute, then you get the crash.
3. No other exceptions in the console.
4. You will need t

[2022-11-21 10:10] JinghuiMS commented on #2972
yes, there was a problem with the build version in early November on Excel online, but it has been resolved now. You can refer to https://learn.microsoft.com/en-us/javascript/api/office/office.settings?view=excel-js-1.9 for how to restore the settings.

[2022-11-21 10:29] kgeorgiou1234 commented on #2982
[Screen recording.zip](https://github.com/OfficeDev/office-js/files/10055647/Screen.recording.zip)

[2022-11-21 12:01] ghost commented on #2961
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 12:01] ghost commented on #2798
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 12:01] ghost commented on #2260
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-21 12:06] carlosb1504 commented on #2952
Thanks for the update, @exextoc, looks like we're starting to see the fix rolling out now.

Given that an Outlook update wasn't required in this case, presumably the fix was in the Office.JS Javascript itself.

A question I've asked before but not had answered. In these situations where a breaking change has been made is it possible for us as developers to include a 'last known working' version of

[2022-11-21 13:09] AlexSanin opened #2984 "getAttachmentsAsync return inline attachments after delay."
## Environment:
Platform [PC desktop, Mac, iOS, Office on the web]: Outlook PC desktop
Host [Excel, Word, PowerPoint, etc.]: Outlook
Office version number: 2110 (Build 14527.20234)
Operating System: macOs Ventura 13.0.
## Expected Behaviour:
call
`const item = Office.context.mailbox.item`
`const options = { asyncContext: { currentItem: item } }`
`const inlineAttachments = new Promise( (resolve) =>

[2022-11-21 13:42] jag-cloudextend commented on #2972
Thank you @JinghuiMS for the update. However, I am unable to locate a way to restore the missed settings. Can you help me with more details?

[2022-11-21 16:07] sdudnic commented on #1561
@donlvMSFT please follow the thread logic,

The issue was not closed because resolved, but by inactivity. So, a comment reappeared, saysing that the problem is still there. And you close it because it was closed for inactivity? :)

[2022-11-21 16:57] peronald commented on #2494
Hey @nancy-wang can you follow up on this issue? Thanks!

[2022-11-21 19:27] exextoc commented on #2952
Actually, this wasn't an Office JS issue. It was a bug in the client. We had a rework of the Item Send code that rolled out recently, that shouldn't have impacted end users, but was necessary code rework for maintenance and groundwork for future fixes. Unfortunately, we did not catch this issue during testing. Office clients have the ability to "roll back/turn off" client side fixes without requir

[2022-11-21 20:45] exextoc commented on #2915
We have implemented fixes to ensure the current behavior based on the scenarios provided by customers. This means that the behavior in the latest builds is the expected one. I just tried Is there any particular difference/inconsistency you want to mention here?

Can you describe the scenario you are trying to accomplish?

[2022-11-21 23:37] mattlindsay26 opened #2985 "Powerpoint Add-In fails to load on desktop but not web saying "We can't load this add-in because we couldn't connect to the catalog""
# Provide required information needed to triage your issue
My Add-In (Peargrin) works in Excel & Powerpoint using the same manifest. It works just fine in Excel. In Powerpoint, it loads just fine on web but does not load on desktop (see screenshot). Clicking "See Details" brings me to this [link](https://appsource.microsoft.com/en-us/product/office/WA200004586?src=office&corrid=360af446-7fa9-6b00-

[2022-11-22 01:30] zhngx1 commented on #2984
Hi [AlexSanin](https://github.com/AlexSanin), in your last line of code, it should be a comma after the options, and there is a missing ) at the end of line.
`const inlineAttachments = new Promise( (resolve) => item.getAttachmentsAsync(options, (result) => resolve(result.value)))`

But I presume that's not the issue here. Have you tried to call .then on the inlineAttachments to get the result? Or

[2022-11-22 02:01] ghost commented on #2942
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-22 03:01] ghost commented on #2970
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-22 04:07] dinglicoding commented on #2918
@madhavagrawal17  thanks it ok

[2022-11-22 05:42] oztaskin opened #2986 "context.presentation.getSelectedShapes(); does not work for slide master or slide layout shapes."
# Provide required information needed to triage your issue
The "context.presentation.getSelectedShapes()" method correctly includes all selected shapes on any slide when Normal View is selected from the menu (View / Normal). However, It does not include any selected shape on any slide master, or slide layout when Slide Master view is selected from menu (View / Master / Slide Master).

## Your Envi

[2022-11-22 05:46] oztaskin commented on #2986
Additional context info: I need to extract shape.id and shape.type from selected shapes.

[2022-11-22 08:32] RuizhiSunMS commented on #2986
@ononder
Please take a look.

[2022-11-22 10:30] JinghuiMS commented on #2983
Thanks for reporting this issue. We can repro it locally.
It has been put on our backlog<Bug#7181843> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-11-22 10:46] JinghuiMS commented on #2972
To clarify that we need to confirm firstly that you can get your settings now. You should ensure you set/get setting from document by using the same add-in. If you still can't get the setting now, this issue should be the new one to us. We need to do new investigation for it.
For restore the missed settings, I'm afraid we don't support this feature. BTW, the issue happened in early November didn't

[2022-11-22 12:26] wh1t3cAt1k commented on #2883
Hi @jipinshi @RuizhiSunMS are there any news on the fixing or identifying the root cause? Any ETAs for the fix? This is a pretty pressing issue for us as some functionalities in the add-in simply don't work reliably on a Mac.

[2022-11-22 15:01] ghost commented on #2581
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-22 15:08] maxym2020 commented on #2977
@donlvMSFT What do you mean "channel"? To speak live?

[2022-11-22 15:43] kor01-bachem commented on #2845
Noticed the same issue, which appears to be due to the lookbehind in the regex (`?<=`), which works in the browser but not on the Desktop client.

[2022-11-22 17:01] ghost commented on #2823
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-22 17:01] #2823 closed, assigned to JinghuiMS

[2022-11-22 20:12] celluj34 commented on #3317
FYI my team has also been struggling with this. As far as we can tell, this has been the expected result since VBA add-in days. Any time you write to the sheet, the undo stack is cleared.

[2022-11-22 20:14] adim1973 commented on #3317
It's not happening in a JavaScript only runtime though, so it can be solved. It also doesn't happen in VSTO.

[2022-11-22 20:29] guzman-rc opened #2987 "Outlook Desktop (Windows): addFileAttachmentFromBase64Async throws code: 9000, message: "Los datos adjuntos no se pueden agregar porque son demasiado grandes.", name: "AttachmentSizeExceeded" in pinned add-in"
When I attach files larger than 15MB the error described above occurs if the add-in's pane is pinned.

**This error only occurs in Outlook desktop for Windows**, desktop Outlook for Mac OS X and Outlook Web work correctly for files larger than 15MB.

When I attach a **file larger than 25 MB the error occurs in all Outlook versions** (Windows, Mac OS X and OWA).

Attached are screenshots of the err

[2022-11-23 02:25] JinghuiMS commented on #2883
@wh1t3cAt1k
We're actively working on the reported issues according to their priority. Currently we haven't had any ETA yet. We will share once we have it. Thanks!

[2022-11-23 03:07] RuizhiSunMS commented on #2977
@maxym2020 see the last line 'Microsoft Current Channel (OuterRing)', you can get this by 'File -> Account'
![image](https://user-images.githubusercontent.com/97079392/203462030-ee5dbb16-0492-4a7b-b529-d3d18398005f.png)

[2022-11-23 03:31] jag-cloudextend commented on #2972
@JinghuiMS we are able to set and get the settings now.
We are highly dependent on Settings. Do you have any recommendations to avoid this situation in future?

[2022-11-23 04:10] JinghuiMS commented on #2972
@Jagapathi126
Sorry for the inconvenience caused to you. We can totally understand your concern! We will try our best to ensure the quality of our products. At the same time, if you encounter any problems, please report to us in time, and we will deal with them ASAP! I'd like to know what's the number of potential customers for the add-in? You can email us if you‘re not convenient to say it here!

[2022-11-23 08:01] ghost commented on #2934
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-23 08:01] #2934 closed, assigned to lushanbo, RuizhiSunMS

[2022-11-23 08:24] ChienHo commented on #2905
Here is a simpler example that can reproduce the issue more consistently. After browser refresh, the title and table get outside of the content control.

$("#run").click(() => tryCatch(run));

async function run() {
  await Word.run(async (context) => {
    const selectionRange = context.document.getSelection();
    const paragraph = selectionRange.insertParagraph("", "Before");
    await context.

[2022-11-23 08:25] ChienHo commented on #2905
@RuizhiSunMS ,  I'm using Chrome Version 107.0.5304.107 (Official Build) (64-bit) on Windows 10 Pro 21H2

[2022-11-23 08:56] exextoc commented on #2658
@carlosb1504 We have fixed the bug and the fix should be available in build 16.67 or later. Please update to the latest Outlook and confirm if the issue is fixed. Thanks.

[2022-11-23 10:08] exextoc commented on #2710
Hi @Aaditya-Rane
We investigated this issue and found that this needs a new feature implementation which is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please submit your request there and choose the appropriate label(s). Feature request

[2022-11-23 10:23] maxym2020 commented on #2977
No third line there
![image](https://user-images.githubusercontent.com/112814186/203523260-f2f3757f-1b5f-476a-98c0-f7b8c1bd293e.png)

[2022-11-23 13:20] meggoww opened #2988 "Still able to open another workbook while modal dialog is open on PC desktop"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Version 2212 Build 16.0.15

[2022-11-23 13:20] ghost commented on #2988
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-23 14:01] ghost commented on #1564
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-23 14:01] #1564 closed, assigned to TCourtneyOwen

[2022-11-23 15:26] dmitry-semenov opened #2989 "Outlook Add-In installed from the Store immediately disappears"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook Office365
* Office version number:
![image](https://user-images.githubusercontent.com/17027799/203522112-c064da5b-0be0-4c9c-9754-b837ca4c8c24.png)

* Operating System: Ventura MacOS
* Browser (if using Office on t

[2022-11-23 15:34] robertwilliamsfrog opened #2990 "Microsoft 365 Developer E5 Sandbox Provisioning Issues"
Microsoft 365 Developer E5 Sandbox Provisioning Issues

Hi,

I have been trying to reach the correct support team for issues I've been having trying to create a Microsoft 365 E5 Sandbox

The error I receive is,

Sandbox provisioning is currently disabled due to a technical issue. Please try again in a few days.

( https://developer.microsoft.com/en-us/microsoft-365/profile )

I have just tried to

[2022-11-23 18:37] guzman-rc commented on #2987
**Error produced for 15Mb files in Outlook desktop for Windows:**

![Error_15MB_1](https://user-images.githubusercontent.com/96702862/203621962-33faab47-880e-4f1d-a907-d9edf23b051c.PNG)

**Detail of the error from the debug console:**

![Error_15MB_2](https://user-images.githubusercontent.com/96702862/203621958-08477398-cf1c-4298-b3f7-d32d4df9ffc6.PNG)

**Detail of the error from the debug console

[2022-11-24 08:01] ghost commented on #2332
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 08:01] #2332 closed, assigned to dingjin-ms

[2022-11-24 08:01] ghost commented on #915
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 08:01] #915 closed, assigned to shaofengzhu, lindalu-MSFT

[2022-11-24 11:01] ghost commented on #2266
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 11:01] #2266 closed, assigned to dingjin-ms

[2022-11-24 11:01] ghost commented on #2253
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 11:01] #2253 closed, assigned to JackyChen200304

[2022-11-24 11:01] ghost commented on #2158
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 11:01] #2158 closed, assigned to gingerjia

[2022-11-24 12:27] bkonic opened #2991 "Numbering gets changed on getooxml/insertooxml in Word 2016 (16.0.5366.1000)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# getooxml and insertooxml (without changing the content) changes list numberings from small letters (a,b,c) to numbers

## Your Environment

* Platform [PC desktop, Mac, iOS, Office

[2022-11-24 12:33] bkonic commented on #2978
I made some additional tests and found out that the issue only occurs in the latest release (1.1.83_custom.0).
With Version 1.1.82 there is no exception when executing insertooxml.
(Although there is another issue with version 1.1.82 : #2991 )

[2022-11-24 12:58] exextoc commented on #2974
Hi @cbishop-fv , could you share a small addin where we can reproduce this issue with a gmail account. You could send an abridged add in which just demonstrates the issue. Our email id is - OutlookExtensibility@M365x27035562.onmicrosoft.com. This will help us in resolving this faster.

[2022-11-24 14:01] ghost commented on #2961
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 14:01] #2961 closed, assigned to exextoc

[2022-11-24 14:01] ghost commented on #2798
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 14:01] #2798 closed, assigned to exextoc

[2022-11-24 14:01] ghost commented on #2260
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-24 14:01] #2260 closed, assigned to dingjin-ms

[2022-11-24 15:11] DominikPalo opened #2992 "Content add-ins are sized incorrectly in PowerPoint online"
It seems that PowerPoint Online somehow wrongly scales the initial dimensions specified in the add-in manifest file.

### Here are the steps to replicate the issue:
1) Create a new testing content PowerPoint add-in
2) Specify its initial dimensions in the `manifest.xml` file for example to 960x540:
[code]

3) Sideload and insert that add-in on different platforms
4) Observe, that in PowerPoint run

[2022-11-24 15:15] 4tti commented on #2878
Hello all,

Is there any update please?
Thanks in advance!

[2022-11-24 15:17] 4tti commented on #2543
Hello,

is there any update please, at least some rough estimate when you'll know more?
Thanks.

[2022-11-24 17:13] maxym2020 commented on #2977
@RuizhiSunMS
Hi!
New updates.
I tried to create  a new excel add-in using this official  [manual](https://learn.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-overview)
After that, I added help url to function description:
`Add two numbers
@helpUrl https://somesite.com`

Everything was OK.
But then I installed ASAP utils add-in.
And the help url became broken.
And the type of argume

[2022-11-24 18:26] teejay001 opened #2993 "OfficeRuntime.auth.getAccessToken() throws an error on Safari browser"
## Summary:
Making any call to getting the office access token on safari browser (OfficeRuntime.auth.getAccessToken()) throws an unexpected error of code 13006 even when the requirement set is being supported

## Your Environment

* Platform : Office on the web (safari)
* Host : Outlook
* Office version number:
* Operating System: Mac Os Ventura 13.0.1
* Browser (if using Office on the web): Safar

[2022-11-25 01:05] demyte opened #2994 "Subsequent use of valuesAsJson when iterating over a RangeCollection from the Precedents property fails"
# Provide required information needed to triage your issue

I am using the precedents property of a single cell range to get all the cells that the current cells formula references.

As I iterate through that collection of ranges, I use the `valuesAsJson` property each iteration.

On the first iteration, I get the property successfully, but on subsequent iterations, there is a failure with the fol

[2022-11-25 01:05] ghost commented on #2994
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-25 01:36] victore opened #3005 "Problem trying to debug the taskpane"
# Prerequisites

Please answer the following questions before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**
- [Y ] I am running the latest version of Node and the tools
- [Y ] I checked the documentation and found no answer
- [ Y] I checked to make sure that this issue has not already been filed

# Expected behavior

Please describe the behavior you were expecting

I'm trying

[2022-11-25 02:20] demyte commented on #2994
I worked this one out as its about nested promises and resolution.

It's covered here in the docs: https://learn.microsoft.com/en-us/office/dev/add-ins/concepts/correlated-objects-pattern#read-values-from-the-document-with-the-split-loop-pattern

[2022-11-25 02:20] #2994 closed, assigned to RuizhiSunMS

[2022-11-25 05:01] ghost commented on #2970
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-25 05:01] #2970 closed, assigned to timwan10

[2022-11-25 05:05] puripats opened #2995 "Do you have plan for support CustomFunctions.StreamingInvocation on address/parameterAddresses in the future?"
## Microsoft 365 Developer Platform Ideas Forum

We're moving away from UserVoice feedback sites on a product-by-product basis throughout the 2021 calendar year. Later in 2021, we will leverage a 1st party solution for customer feedback. Meanwhile, please post feature requests and suggestions at the [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365

[2022-11-25 07:39] MorrisPenasso opened #2996 "SmartAlerts - Import TS Modules"
Hi,

i use smart alerts for my addin but i have a problem: i would like to call/import my modules from typescript files into launchevent.js. I see on documentation that is not possible. How can i do?

Thanks

[2022-11-25 09:01] ghost commented on #2288
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 09:01] ghost commented on #2047
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 09:01] ghost commented on #2027
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 09:01] ghost commented on #1803
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 09:35] RuizhiSunMS commented on #2996
@MorrisPenasso Thanks for reporting your question. In fact, we highly recommend you to complete the basic information table(one can find it when creating new bug). That basic information would help us to triage the problem and troubleshoot.
And if it's a programming question indeed, Microsoft Q&A may be a better place for you.

[2022-11-25 09:50] MorrisPenasso commented on #2996
Ok thanks. I try to post my question at Microsoft Q&A site.

[2022-11-25 09:53] leybal commented on #2927
@yuc014 thanks for the help. We can close the issue.

[2022-11-25 12:01] ghost commented on #2497
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 12:01] ghost commented on #855
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 12:31] ghelyar commented on #2915
With the following event-based add-in based on https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch?tabs=xmlmanifest

[code]

The results I get are
|                       | Outlook Web                                                   | Outlook desktop (Windows)              |
| --------------------- | ------------------------------------------------------------- | ------------

[2022-11-25 12:45] stefanoslig opened #2997 "Not possible to deploy add-in with MinVersion > 1.10"
# Provide required information needed to triage your issue

As you can see in the posted video, it's not possible to deploy a manifest even for  the one created from the Yeoman generator when the MinVersion in the manifest is > 1.10.

However, it is possible to install the add-in from the My Add-ins dialog without issues. Only when I try to deploy it, then it fails.

## Your Environment

* Platfor

[2022-11-25 13:00] #2996 closed, assigned to nobody

[2022-11-25 13:24] stefanoslig commented on #2925
Hi @exextoc! Any update regarding this issue?

[2022-11-25 14:36] rickgoud commented on #2925
Hi @ElizabethSamuel-MSFT and @exextoc . Indeed also very much hoping on an update! Thanks!

[2022-11-25 15:01] ghost commented on #2943
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 15:03] johnbergvall commented on #2437
We have customers that are having problems as well.

Our workaround for the time being:

`grep -lR AgaveErrorUX node_modules/@microsoft/office-js | xargs sed -E -i 's~AgaveErrorUX/~agaveerrorux/~g;s~([/\\])AgaveErrorUX~\1agaveerrorux~g;s~AgaveErrorUX.(css|js|html)~agaveerrorux.\1~g'`

[2022-11-25 16:28] mattlindsay26 commented on #2985
Please let me know if there is any additional information I can provide to accelerate the process.

[2022-11-25 17:01] ghost commented on #2581
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-25 17:01] #2581 closed, assigned to preethikakiru

[2022-11-25 18:01] ghost commented on #2966
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-25 20:19] nl-ruud opened #2998 "Office.File.closeAsync() does not close XLSM file containing a Form in the VBAProject on a Windows host"
Office.File.closeAsync()  works fine when the source document is an XLSX file, but when the source document is an XLSM file and on a Windows host, Office.File.closeAsync() does not work. That means the source document stays open (even though the AsyncResultStatus reports back as "Succeeded"). As the maximum number of open files is 2, this results in an error message upon the next autosave event.

[2022-11-26 08:37] t-ariyoshi30907 commented on #2648
@exextoc
Hi, Could you give me an update on the situation?
I need to explain to the customer, and I would like an answer to the question I asked the other day.

[2022-11-27 03:17] #2927 closed, assigned to yuc014, RuizhiSunMS

[2022-11-27 09:01] ghost commented on #2972
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-27 12:01] ghost commented on #2710
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-11-27 14:27] MorrisPenasso opened #2999 "Event OnMessageSend - Debug not work"
# Provide required information needed to triage your issue
I developing a Outlook Addin on Typescript and with old event "onSend" it work but i can't deploy on AppSource. So i use "OnMessageSend" event. When i try to start debugger, is not attached.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office versio

[2022-11-27 17:01] ghost commented on #2260
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 02:44] #2966 closed, assigned to RuizhiSunMS

[2022-11-28 02:59] RuizhiSunMS commented on #2998
@ruud-coder Thanks for reporting this. Usually, we suggest one submit his/her issue in the format and one can the format when creating issue in this channel.
Especially, please provide detailed reproducing steps which can reproduce the issue constantly, that would be very helpful for us to troubleshoot.

[2022-11-28 03:15] RuizhiSunMS commented on #2988
@Rick-Kirkham our colleague said it should be related with dialog api, do you know the contact?

[2022-11-28 07:12] Alexander-He opened #3000 "Outlook add-in error: We're sorry, we couldn't access [add-in name]. Make sure that you have a network connection. If the problem continues, please try again later"
# Provide required information needed to triage your issue
- This Error appears immediately when launch to compose a new message in Outlook
- The side panel part of the add-in works fine. (We guess this error caused by event-based activation code part)
- All Users within customer organization are complaining about this Error Message
- Outside of Customer’s Environment will not have this error mess

[2022-11-28 08:55] Edward-Zhou opened #3001 "getAsImage return the original image for "shapes.addImage""
I am trying to insert an image to Excel cell and then get the image from the image shape.

But the `getAsImage` return small image instead of the original image size.

If we change the cell size, the image in cell will increase, I want to get the original image size instead of cropped size.

Here is a test ScriptLab.

[code]

Here is test result.
![image](https://user-images.githubusercontent.com/

[2022-11-28 08:55] ghost commented on #3001
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-28 09:40] oliverbj opened #3002 "Office.EventType.ItemChanged loose focus after clicked href"
# Provide required information needed to triage your issue
When a button inside the taskpane of my Outlook add-in is clicked, the `Office.EventType.ItemChanged` is no longer firing when the selection changes to a new email.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  PC desktio
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2209 /B

[2022-11-28 11:01] ghost commented on #2288
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 11:01] #2288 closed, assigned to jargil

[2022-11-28 11:01] ghost commented on #2047
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 11:01] #2047 closed, assigned to madhavagrawal17

[2022-11-28 11:01] ghost commented on #2027
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 11:01] #2027 closed, assigned to gingerjia

[2022-11-28 11:01] ghost commented on #1803
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 11:01] #1803 closed, assigned to jipinshi

[2022-11-28 11:46] AlinCatalinPreda commented on #2946
Hello, I have found a similar scenario and I would kindly ask you to also please check if this will be fixed by the initial solution provided.
In this case, the parent content control cannot be deleted (with keeping its content) if there are child content controls that have the "cannot delete" property set to true.
Here are the gist and document reproducing the issue:
https://gist.github.com/AlinC

[2022-11-28 12:52] SiruiSun-MSFT commented on #2899
Hi @wh1t3cAt1k , we open a new task to track this ask(https://office.visualstudio.com/OC/_workitems/edit/7214821). And since we track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please also add your request there. Feature requests on are considered when we go through our planning process. Thanks, Microsoft 365 Developer

[2022-11-28 12:52] #2899 closed, assigned to RuizhiSunMS

[2022-11-28 13:22] 4tti commented on #2568
Hello @Wenjun-Gong, is there any update? It has been almost 1 month again.
It would be extremely appreciated to have somehow more active sharing of the information.

This issue is really blocker for many customers!

[2022-11-28 13:50] eyalmolad commented on #2568
A real blocker for us as well. @Wenjun-Gong

[2022-11-28 14:01] ghost commented on #2497
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 14:01] #2497 closed, assigned to yaweizhu-henson

[2022-11-28 14:01] ghost commented on #855
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 14:01] #855 closed, assigned to wandyezj, jeremy-msft

[2022-11-28 15:57] cbishop-fv commented on #2974
I should be able to do that I will try and get that later this week.

[2022-11-28 16:11] hapalacios commented on #2999
I have a similar issue. I thought I was my setup but since last month I am not able to debug the "**onMessageSendHandler**" as well. I receive this window message when I setup the regedit key, and start the debugger following all the steps mentioned on the  documentation, but the debugger doesn't do anything.
![image](https://user-images.githubusercontent.com/60803185/204326632-021921fc-1f29-4c21-

[2022-11-28 16:27] hapalacios commented on #2866
@avisheknand , @weidezhong-msft  could you share an example how did you setup your debugger and .well-know folder to be able to debug the launch event handlers? I am trying to fetch GET or POST endpoints after pressing Send but not luck reaching the endpoint or debugging the handler. I explain my issue here with more details. https://github.com/OfficeDev/office-js/issues/2999

[2022-11-28 17:01] ghost commented on #2943
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-11-28 17:01] #2943 closed, assigned to exextoc

[2022-11-28 17:04] davidchesnut commented on #2985
Hi @mattlindsay26, thanks for letting us know about this issue. I can repro this as well. @wangyun-microsoft can you please help on this issue to determine why this is happening?
Thanks!

[2022-11-28 17:34] davidchesnut commented on #2987
Hi @guzman-rc, thanks for letting us know about this issue. @exextoc team, can you help out? Thanks!

[2022-11-28 17:38] davidchesnut commented on #2989
Hi @dmitry-semenov, thanks for reporting this issue. @exextoc can you help out on this issue? Thanks!

[2022-11-28 17:50] davidchesnut commented on #2992
Hi @DominikPalo, thanks for letting us know about this issue. @wangyun-microsoft, can you help resolve this issue? Thanks!

[2022-11-28 17:57] davidchesnut commented on #2993
Hi @teejay001, thanks for letting us know about this issue. Have you double-checked the app registration and manifest to be sure values are set correctly? For example, the `<WebApplicationInfo>` contains the correct app registration id. The Azure app registration contains the correct scopes you plan to use, and so on.

Thanks!

[2022-11-28 18:00] davidchesnut commented on #2997
Hi @stefanoslig, Thanks for letting us know about this issue. @exextoc can you please help resolve this? Thanks!

[2022-11-28 18:11] davidchesnut commented on #2998
Hi @ruud-coder, thanks for letting us know about this. If you have a small code sample to reproduce this behavior (similar to the [getSliceAsync sample near bottom of article here](https://learn.microsoft.com/javascript/api/office/office.file?view=common-js#method-details)) that would be super helpful. Thanks!

[2022-11-28 18:47] davidchesnut commented on #3000
Hi @Alexander-He, thanks for letting us know about this issue. @exextoc can you help resolve this? Thanks!

[2022-11-28 18:51] davidchesnut commented on #3002
Hi @oliverbj, thanks for letting us know about this issue. @exextoc can you please help resolve this? Thanks!

[2022-11-28 19:53] trigurl commented on #2981
We've checked in a fix to address the icons in the menu.  The Windows layout is actually correct, when there are 4 controls in the group, the first control is large while the last 3 controls are small.  I do see that there is some inconsistency with Excel online however.

[2022-11-28 20:23] gmichaud commented on #2981
@trigurl thanks! When you check in a fix to something related to Office-js, does it go through the same release process as other Excel features (beta channel update, current channel (preview), etc...) ? Or is the release flow different?

[2022-11-28 20:47] lynneosmith opened #3003 "Word: Word.Range InsertBookmark gives an error on the web if bookmark name starts with an underscore or includes uppercase character"
Word Javascript API 1.4 says:
insertBookmark(name)
Inserts a bookmark on the range. If a bookmark of the same name exists somewhere, it is deleted first.
Parameters
name
string
Required. The bookmark name, which is case-insensitive. If the name starts with an underscore character, the bookmark is an hidden one.

If I insert a bookmark on Word web that starts with an underscore or contains an upper

[2022-11-28 20:47] ghost commented on #3003
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-11-28 21:14] trigurl commented on #2981
The fix is not in Office-js, it's a product fix.  The fix was submitted by a colleague in middle of November.  So it should be in Office Windows builds greater than 15918 approximately.