[2018-10-28 06:55] ThorstenHans commented on #285
Hey @keyur32 ,

😄 `console.log` was my first intention to see if the custom function was invoked or not. But the browser console doesn't show the custom logs.

Will try *b* and *c* on Monday

[2018-10-28 20:02] Zlatkovsky commented on #285
@ThorstenHans , `console.log` should be able to show up in the F12 tools.  You can also try the `debugger;` statement (with the F12 tools open) to ensure that your code is executing in the first place.
See https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/excel/custom-functions-best-practices.md#debugging for more info

[2018-10-29 06:32] ThorstenHans commented on #285
I know that it should but it actually doesn't :D

[2018-10-29 08:54] hengchengfei opened #286 "The text of command is splited to newline in add-in"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
I want to show the text in  one line as follows in Excel Online.
But in Excel Desktop,The text shows innormal.

for example:
Excel Desktop:
  **下载估
  值模型**

Excel

[2018-10-29 09:31] paronne commented on #279
Hi, thanks again for your reply.
I indeed use the office.js version you suggested. Thanks to your detail response i was able to find the root cause of the issue. I am running the functions within an Iframe, the check Object.getType(['sam@contoso.com']) !== Array returns true within the Iframe since the Array prototype would be different from the parent window prototype (where the office.js is load

[2018-10-29 09:31] #279 closed, assigned to nobody

[2018-10-29 10:22] vhenneuse commented on #284
Hi Goldensky321,

Thanks for your answer.
When I try to open the dialog from the taskpane the page is correctly opened ! But unfortunately I really need to open it from the ribbon.

To check the issue doesn't came from my Macos version, I migrate to mojave (10.14) and I installed the latest Excel version too (16.19) without change.

[2018-10-29 13:19] andschleicher opened #287 "Sidebar Fails Initial Load"
## Expected Behavior
When one of the buttons for a custom Add-In is clicked, the sidebar should load immediately with the correct content.

## Current Behavior
The first time a button for a custom Add-In is clicked on, the sidebar opens as expected but none of the content loads. If the same button is clicked again, another version of the sidebar opens and the content loads as expected. This issue

[2018-10-30 01:23] hengchengfei opened #288 "How to set add-in works only in Windows Desktop."
## Expected Behavior
I want my add-in will be work in Windows-only,Will not work in Online or Mac and Ipad.

How can I edit the manifest?

<img width="769" alt="1" src="https://user-images.githubusercontent.com/3182964/47689552-5606ff80-dc25-11e8-828d-bb62269b8648.png">

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: __PC desktop____
* Host [Excel, Word, PowerPoint, etc.]:

[2018-10-30 07:47] 3dot1four commented on #280
Update: Having a unused office.js dependency in app fixes this issue but why do Add-In is forces to have Office.js dependency to run Online?

[2018-10-30 14:52] LiXiaoooowei commented on #198
@weird-dreams I recently developed a content add-in for PowerPoint and faced the same wierd issue with PowerPoint online version. May I know which azure subscription did you use to fix the issue?

[2018-10-30 17:32] ndeeH commented on #198
@LiXiaoooowei
I tested again and it seems our add in is set to **work only in the desktop versions**.
It seems MS has a switch to do this, because we do not have any requirement restrictions to do so.
@JuaneloJuanelo The error still exists! May the store verification set to only support the desktop versions?

When we create our content add in the desktop version and open it via OneDrive in PPT onl

[2018-10-30 18:00] LanceEa commented on #261
Pinging...hoping to get this moved to the top of people's email...this still continues to plague us. We begun instructing users away from Excel Online because of this issue.

Here is the latest version I just tested on:
16.0.11028.37957

[2018-10-31 02:13] mattblackdev commented on #272
Bump...

[2018-11-01 17:10] kbl212 opened #289 "makeEwsRequestAsync not returning any response when size limit exceeded (Outlook for Mac 2016)"
When trying to get the MimeContent of a large (>1MB) email through EWS on Mac, there is no response from EWS, neither a success nor failure (expected) response. See stackoverflow issue here: https://stackoverflow.com/questions/53073456/ews-request-not-responding-with-error-on-mac

## Expected Behavior

I expect to get a response similar/equal to the one I see on Windows in the same situation - an

[2018-11-01 20:14] misaunde commented on #263
Where were you able to see that error in Event Viewer?

I'm having a similar issue (Excel has recently started silently closing and reopening when performing a function in my add-in), but I can't figure out where it would log the error too.

[2018-11-01 20:23] misaunde commented on #263
Ahh, I think I found the error under WindowsLogs > Application:

[code]
Unfortunately, it wasn't as helpful as I thought it'd be :(

[2018-11-02 02:55] macOutlookExtensibility commented on #289
Thanks for raising it. Will check and work towards fixing it.

[2018-11-02 14:05] michahell commented on #246
What the hell. We're seeing this error popup all of a sudden, just before an important demo of our add-in... is using `Office.onReady()` all of a sudden a requirement? if so, when and where would this have been communicated?

if so, the documentation is definitely not up to date because it states that both mechanisms can still be used:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/u

[2018-11-02 14:17] michahell commented on #246
Ah. all of a sudden it magically works again. intern deploy reverted, I guess...

[2018-11-02 16:28] Reezaali commented on #290
Hi @htryggva. I'm transferring this issue to the [office-js](https://github.com/OfficeDev/office-js) repo because an engineer has confirmed that this is a product bug.

The following is a potential workaround that you can try:

1. Resize the dialog such that it's a very small window.
2. Choose "Inspect Element" which opens in a new window.
3. Resize the dialog to its original size.
4. Use the insp

[2018-11-02 21:59] Reezaali commented on #290
Documentation has been updated in this [PR](https://github.com/OfficeDev/office-js-docs-pr/pull/539).

[2018-11-02 22:01] Reezaali commented on #290
Moving this issue to the office-js repo.

[2018-11-02 22:04] Reezaali commented on #290
@dmahugh @kbrandl can you try transferring this issue to the office-js repo please? I don't see that repo in the repo list when I choose **Transfer this issue**. Thanks!

[2018-11-05 09:00] htryggva commented on #290
Thanks @Reezaali. I can verify that the workaround works for me 👍

[2018-11-05 19:11] dmahugh commented on #274
@exextoc can you take a look at this?

[2018-11-05 19:26] dmahugh commented on #285
Hey Thorsten, just to verify - do you have the CustomFunctionMappings line in your JavaScript code that maps to your function? I.e., this line:

`CustomFunctionMappings.ADD = add;`

[2018-11-05 23:05] dgrudenic commented on #269
Any update on this one?

[2018-11-05 23:47] misaunde opened #291 "Function call causes Excel to silently crash and restart"
Within the last few weeks or so, without any changes to my code which has been running fine for months, Excel has started randomly silently closing and restarting. I've seen it happen on a number of different computers, workbooks, and often times near the same function call, although a few times at completely different locations in the app, even right at startup.

The frustrating part is, that it

[2018-11-06 14:58] serjant opened #292 "Core Properties open xml package part is missing"
As long as Office JS converts the HTML into OOXML incorrectly in add-in when you set the content using **context.document.body.insertHtml()** function, I decided to write my own HTML to OOXML converter in order to set the document content using **context.document.body.insetOoxml()** function instead and to have almost similar HTML rendering in the Word content pane using OOXML format. After finish

[2018-11-06 18:09] dmahugh commented on #273
I'm not able to reproduce this behavior. When I follow the steps as shown below, I get prompted to save the changes, and when I save the changes and then re-open the document the custom property has been saved.
![repro-failed-issue-273](https://user-images.githubusercontent.com/1130262/48084224-0045d080-e1ac-11e8-8c9c-e675bfd58d14.png)

[2018-11-06 18:59] dmahugh commented on #272
Hi Matt, sorry for the delay on this and thanks for provided detailed information about the issue. @JuaneloJuanelo can you look into this? It appears to be a bug - reading the headers causes some of them to disappear. It's reproducible by following Matt's steps outlined above.

[2018-11-06 20:40] david-on-github opened #293 "[Word] Incorrect paragraph collection items of selected table cells"
Subset selections of tables in Word don't properly retrieve the paragraphs in the currently selected cells.

Using the Word API, selecting a table or subset of table cells in Word doesn't return the correct objects in range selection. It returns either an incorrect paragraph collection with only the paragraph items within the **last row** of the currently selected cells.

Using the Common API we c

[2018-11-06 22:01] JuaneloJuanelo commented on #293
Hello! thanks for reporting this. Can you please include a script lab yaml? (please see https://aka.ms/scriptlab) i am not able to restore your code, it seems you are missing a few libraries.
thanks!!

[2018-11-07 01:17] dmahugh commented on #261
Hey Lance, very sorry for the delay on this. We're on it now, have filed an internal incident on this and engineers are looking into it. I'll follow up here, and if you have further info please let me know.

[2018-11-07 02:16] dmahugh commented on #291
Thanks for reporting this. To track down what's happening, it would be useful to know the Fault Bucket #, and then we can look into what Watson reported on our end. You should be able to find this in the next event after the error that you provided above, in the Event Viewer. Thanks!

[2018-11-07 04:51] david-on-github commented on #293
Thanks for looking,
https://gist.github.com/david-on-github/a09c92f4894f05d257a7879987bccf8b

[2018-11-07 08:09] hengchengfei commented on #246
I have the same questions!

[2018-11-07 15:33] misaunde commented on #291
Awesome, here's the fault bucket # and that entire log:
[code]

[2018-11-07 21:59] AlexJerabek commented on #330
Hi @macOutlookExtensibility,
Politely pinging the thread to see if this fix is live. Thanks!

[2018-11-08 08:46] kreja opened #294 "Excel - Deleting rows doesn't trigger onChanged event of table"
## Expected Behavior
Trigger the onChanged event when delete rows in table

## Current Behavior
I deleted some rows in the table which has been registered a onChanged handler, but nothing happened, the onChanged handler is not triggered.

## Steps to Reproduce, or Live Example
Changing the value of some cells does triggered the handler, while deleting rows not.
![excel](https://user-images.githubu

[2018-11-08 09:05] uncleyear commented on #118
Hi,
is there any progress on this issue?
(please say yes)

[2018-11-08 09:31] jipyua commented on #294
Hey, this is a known issue and we have gave a fix to it. Currently we haven't enable this fix yet, will enable it soon. Thanks for reporting!

[2018-11-08 16:12] dmahugh commented on #261
This is a bug, and it has been logged internally to get it fixed. For now you should be able to work around it by doing multiple requests with less data in each request. (For internal Microsoft reference, see ICM # 90931432.) Thanks for pointing this out, Lance!

[2018-11-08 17:04] LanceEa commented on #261
@dmahugh - Thanks for looking into this and getting it logged. Can we leave the issue open until it is resolved? I know giving estimated timings is what us software engineers like to do 😄  but can I get a ballpark exception of when this might be addressed (weeks, months, half a year??). Like I mentioned at this point I direct my users away from excel online and encourage them to get onto a Mac or

[2018-11-08 19:37] dmahugh commented on #261
Thanks for the additional info, @LanceEa
I'll pass that on, and I'm going to re-open the issue. I'll also try to get more info for you on an ETA for the bug fix.

[2018-11-08 20:07] JuaneloJuanelo commented on #225
we have a confirmation that this is a bug and we are working on a fix. Reference 2674065.

[2018-11-08 23:44] exextoc commented on #274
The issue you are observing may be related to inconsistent item state. Changes to an item via EWS/ REST (MakeEwsRequestAsync, or via a backend call), are updated directly in the exchange server. Changes made to an item using the Office.js API go to the client first and these changes, when using Outlook Desktop in Cached Mode, this means that are not synced to the exchange server immediately. Inste

[2018-11-09 00:54] kbrandl opened #295 "Test issue (please disregard)"
Test issue (please disregard)

[2018-11-09 06:10] dmahugh commented on #246
@michahell is it possible that you were on a slower network connection when you experienced the problems with `Office.initialize()`? There is no requirement to use `Office.onReady()` if you're using `Office.initialize()`, however there is a known issue with `Office.initialize()` on slow networks.

FYI, the [documentation page](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/understandi

[2018-11-09 06:59] hengchengfei commented on #246
It works when I developed  in Visual Studio.
But it doesn't work in Production Environment.

<img width="1235" alt="1" src="https://user-images.githubusercontent.com/3182964/48248460-604da880-e432-11e8-8b91-d3bce5ff8b75.png">

select '提取数据' add-in button.

<img width="1112" alt="2" src="https://user-images.githubusercontent.com/3182964/48248981-70668780-e434-11e8-8989-4f2895f24d5e.png">

[https://

[2018-11-09 17:45] danielgwilson commented on #275
Hi @nrakochy, sorry for the delay in response - this has actually come up previously  (#290), and the core cause of the issue is being investigated.

As a workaround, could you try the following?
1. Resize the dialog such that it's a very small window.
2. Choose "Inspect Element" which opens in a new window.
3. Resize the dialog to its original size.
4. Use the inspector as required.

[2018-11-09 18:26] ElizabethSamuel-MSFT commented on #331
@satrip: Can you provide an update? Thanks.

[2018-11-09 18:33] ElizabethSamuel-MSFT commented on #324
@Will-Blackburn: Can you confirm that you're meeting the conditions of using 'Events' per the [ExtensionPoint documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/extensionpoint#events)? Thanks.

[2018-11-09 19:37] danielgwilson commented on #284
Hi @vhenneuse, would you mind describing your use case further? Why you need it to open from the ribbon as opposed to the taskpane?

[2018-11-12 07:53] hengchengfei commented on #209
I had the same questions.
How to remove the errors.

* Platform:___PC desktop___
* Host: ___Excel___
* Office version number: ___16.0.11001.20064___
* Operating System:___Windows 10___
* Language: ___JQuery___

[2018-11-12 08:58] Will-Blackburn commented on #324
Hi @ElizabethSamuel-MSFT,

It's the same manifest code from the GitHub repo, with the exception of the comment and functionName value:

![image](https://user-images.githubusercontent.com/44230678/48336597-99fff880-e658-11e8-8e73-22495b29cfab.png)

I downloaded the code from GitHub but get the same issue even if I don't change anything. @exextoc has mentioned that they have been able to reproduce t

[2018-11-12 10:34] fkranenburg commented on #274
Our scenario is as follows: We created a Outlook add-in so our users can archive a existing e-mail inside our CRM application. After this is done we needed a way to let the user 'know' the mail is already archived. We did this by adding a category to the e-mail. For as far as we know adding a category is currently only possible to use the Office 365 REST api.

Then our users needed to know at what

[2018-11-12 11:35] hengchengfei opened #296 "Excel Application suspends when use Dialog in excel"
## Expected Behavior
When I open dialog from taskpanel firstly, and closed after input some info, that is OK.
But when I open dialog secondly,the Excel Application had been suspended.

<img width="1327" alt="1" src="https://user-images.githubusercontent.com/3182964/48344931-7fa63900-e6b1-11e8-9535-6f29d3e671da.png">

## Current Behavior

 Excel Application  suspended.

## Steps to Reproduce, or Li

[2018-11-12 18:03] exextoc commented on #324
@Will-Blackburn Are you seeing the error in Visual Studio or when installing the add-in to Office 365? It's possible the Visual Studio definition for the schema is out of date.

[2018-11-12 19:36] exextoc commented on #118
Is the command you are using a UILess function that launches a dialog? OWA displays a dialog when a UILess command is still running in the background to prevent the user from navigating until the operation is complete. It should look something like this:
![image](https://user-images.githubusercontent.com/28549921/48370610-b9098500-e66e-11e8-92ca-c6f123e10881.png)

This dialog will always appear wh

[2018-11-12 20:19] alexnb11 opened #297 "After create new dialog, it contains event handlers from previous dialog which was closed by dialog.close() call on Mac for outlook"
If we creates new dialog window with event handler for it and then close it (call dialog.close()), second created dialog window will contains event handlers from previous dialog. The bug reproduces only in outlook client, mac os.

## Expected Behavior
1. Call Office.context.ui.displayDialogAsync for create new dialog window and set event handler function for this dialog window.
2. On the dialog wi

[2018-11-13 01:13] hengchengfei commented on #297
`clickEvent.completed();`

[2018-11-13 06:19] isvdevchat opened #298 "getFileAsync function unexpected bug on Word"
Recently we encounter an issue related to Office.js API, it seems to be a bug. We may need your confirmation or advice.

We have a Word add-in which will invoke the [getFileAsync function](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=office-js#getfileasync-filetype--options--callback-) to get the entire document and store it or its hash in DB. when the user opens a d

[2018-11-13 06:26] jipyua commented on #291
@misaunde, seems this is caused by the GetFileAsync API, but can you provide a detailed repro step using your app and api code? we need to first repro it in order to fix it. thanks.

[2018-11-13 09:24] alexnb11 commented on #297
Hi, **hengchengfei**. What is it? What do you mean? I can not find any mentioning about it in documentation.

[2018-11-13 09:42] mhzer commented on #324
I am seeing this error when using centralized deployment in Office 365.

[2018-11-13 16:23] michahell commented on #246
@dmahugh OK, we're moving to the `onReady()` approach.
We have also assigned an empty function to `Office.initialize()`.
Everything seems to still work, the only thing I was wondering about:
does it make sense to have a `.catch()` clause for the `Promise` returned by Office? what are the conditions for this to trigger? will it - in a sense - never trigger ?

[2018-11-13 16:43] Zlatkovsky commented on #246
For the `Office.onReady()` Promise, it will never throw, so you don't need a `catch`.  But for most other Promisy things (e.g., `Excel.run(...)` or `context.sync()`), remember that those *do* need proper error-handling, so don't let it lull you into a false sense of security for those other ones!

[2018-11-13 17:31] exextoc commented on #324
We are aware of this issue and are working to resolve it as soon as possible.

[2018-11-13 18:02] Andrew-AnalysisPlace commented on #235
Tested on Mac 16.19. The issue still occurs (upside-down and incorrect colors).
My customers use this feature (get image of a range) often on Windows and would like to be able to support it on Mac too.
Any updates?

[2018-11-14 06:29] danielgwilson commented on #269
Weird - I'll look into it, sorry for the delay @dgrudenic

[2018-11-14 07:25] hengchengfei commented on #273
I had record the video。
The question has been existed.

[https://www.chengfeisoft.com/dfzq-office/help/sample.mp4](https://www.chengfeisoft.com/dfzq-office/help/sample.mp4)

[2018-11-14 07:54] hengchengfei commented on #297
<img width="588" alt="1" src="https://user-images.githubusercontent.com/3182964/48468214-31667680-e826-11e8-9afd-01e8e966cd55.png">

[2018-11-14 09:22] Will-Blackburn commented on #324
Just to add I'd only seen it in Visual Studio 2017 and had not tried to deploy the manifest file as @mhzer had the issue deploying so I'd made the assumption it was related and I would also get the same error.

[2018-11-14 10:55] gbottesi commented on #118
Launching a dialog is not mandatory.
Here is a small video of the reproduction with the code I've sent you.

Regard,
Guillaume

[bug-outlook.zip](https://github.com/OfficeDev/office-js/files/2580375/bug-outlook.zip)

[2018-11-14 11:29] alexnb11 commented on #297
No, @hengchengfei , in our case we don't use 'ExtensionPoint' for open dialog window. We don't have instance of event. We just transfer event handler function in Office.context.ui.displayDialogAsync call. And make this call not from 'OfficeTab' panel, we do it from index.html page. (There is our manifest file https://github.com/alexnb11/office-js-dialog-handler-bug-mac-os/blob/master/manifest.xml#

[2018-11-14 15:02] dmahugh commented on #273
Thanks for recording the video, @hengchengfei . I have re-opened the issue and will look into this further.

[2018-11-14 15:20] sugarp commented on #241
Update:

Have u done anything particular to make it work for Outlook desktop? I'm trying Outlook 2016 MSO 16.0.8431 and Im getting 5001. On the other hand I managed to get it working in IE and Chrome.
Thanks for any lead.

In IE we were having troubles with SSL certificate when developing on localhost. Error code was 13005 which was misleading but once we published the app to server with valid cer

[2018-11-14 15:29] sugarp commented on #241
In IE we were having troubles with SSL certificate. Once we published the app to server with valid certificate it has started working.

[2018-11-14 17:15] exextoc commented on #241
Bug 936876<https://o365exchange.visualstudio.com/web/wi.aspx?pcguid=d1a8f71c-7f64-45ad-9c5c-19c2f469d620&id=936876>: [OfficeDev/office-js] error:5001 - office.context.auth.getaccesstokenasync (#241)

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Petr Šugar <notifications@github.com>
Sent: Wednesday, November 14, 2018 7:29 AM
To: OfficeDev/office-js
Cc: Outlook

[2018-11-14 18:08] exextoc commented on #118
I am not able to reproduce the issue you are describing. In the video, it's unclear what the behavior of the test add-in is and what the issue is, the OnSend add-in appears to be running both times send is clicked, one blocks send though and the second time it doesn't. Is the command invoking event.completed() when it is done?

[2018-11-14 18:24] exextoc commented on #241
What version of Outlook are you using? Could you please provide a version number for Outlook 2016? Did the SSL certificate issue resolve your issue in Outlook 2016 as well?

[2018-11-14 18:37] exextoc commented on #274
This behavior has existed for some time now. It's possible that you're hitting this case now if Cached Mode was recently turned on for Outlook.

[2018-11-14 18:37] #274 closed, assigned to exextoc

[2018-11-14 20:09] danielgwilson commented on #269
This is definitely a bug and a fix is being looked into

[2018-11-14 21:31] uncleyear commented on #118
@exextoc

Hi exextoc.
Did you look at example presented by gbotessi that is dead simple and try to run it? Similar functionality is perfectly reproducible here in our environment.

[2018-11-14 21:35] uncleyear commented on #118
At first press send button the OnSend addin is not running at all and environment gives error on it -  weird, but all this was already said.

[2018-11-14 23:53] dmahugh commented on #298
Thanks for reporting this, @isvdevchat, it does indeed sound like a bug to me if the document is modified by calling `getFileAsync` to get the content. I've assigned to my colleague @JuaneloJuanelo so that he can take a look, and we'll follow up when we have more information.

[2018-11-15 00:27] exextoc commented on #118
I didn't see the example attached by gbotessi, I'm able to repro using this add-in.

[2018-11-15 10:45] ThorstenHans commented on #285
@dmahugh sorry for the delay.

Yes the Mapping is defined

[2018-11-15 14:27] sugarp commented on #241
I updated my comment and no, desktop is still not working.

[2018-11-15 20:27] JuaneloJuanelo commented on #272
@mattblackdev  thanks for reporting this issue, yes effectively this is a bug and we are working on a fix. there are 2 fixes we are planning to have here:

1. when traversing the headers of multiple sections we will return the linked content in all sections.
2. Even more important we will not remove the content of header/footers after traversing them.

tracking with 2688667

[2018-11-15 22:36] danielgwilson commented on #199
@Rick-Kirkham I can also change languages and get correct output - @georgechr, sorry for the delay and that the source of your issues is unclear. I'm going to close this for now, but please let us know if you can more minimally provide repro steps.

My repro steps (admittedly on a much more recent build):
[code]

Correctly outputs es-US when Spanish (United States) is selected as the default editi

[2018-11-16 09:48] abhijeetnarvekar commented on #281
I have also experienced this issue when add-in is deployed via centralized deployment.

[2018-11-16 10:52] georgechr opened #299 "Sheet name inconsistency different API calls"
## Expected Behavior
Sheet names from different API calls (context.workbook.getSelectedRange() and context.workbook.worksheets.getActiveWorksheet().name) should be consistent

## Current Behavior
If a sheet name has a space then context.workbook.getSelectedRange() returns the name wrapped in quotes and context.workbook.worksheets.getActiveWorksheet().name returns it as it is

## Steps to Reproduce

[2018-11-16 14:37] georgechr commented on #199
@danielgwilson  Not sure why this was closed. Did you try reproducing it on Windows 7? This is where the code I specified in the original bug report was/is running. It's been 6 months and all I can see is en-US. I gave up on this already as I have found a workaround.

[code]
The above is with editing language as Greek and content language as en-GB

[2018-11-16 19:42] JuaneloJuanelo commented on #299
@georgechr thank you for reporting this. In order to make an investigation actionable, can you please describe in what clients and versions you are observing this? (in other words can you please fill more details as per asked in the issue-template? thanks that will really help to promptly investigate!

[2018-11-16 19:58] JuaneloJuanelo commented on #299
verified the behavior this is by design. if a developer just wants the sheet name (ie. for displaying it in the add-in task pane) there is no need to get unnecessary quotes, onthe other hand in the context of using it in a range they are required (if there are spaces in the sheet name, otherwise the name cannot be resolved).  We cannot guarantee that getting the name of a sheet will be used only f

[2018-11-16 19:58] #299 closed, assigned to nobody

[2018-11-17 03:25] Rick-Kirkham commented on #199
@georgechr  We're trying to reproduce on Win 7. Win7 machines are surprisingly hard to find around here.

[2018-11-19 10:06] Will-Blackburn commented on #324
Hi @ElizabethSamuel-MSFT , @exextoc is there any news on a timeline for progression? I'm working on a project that we were hoping to be able to demonstrate to clients by the second week of December and I just need to know if I should look at an alternative work flow or if this is likely to be resolved soon?

[2018-11-19 10:15] mvpkenlin opened #300 "mailbox.item.body.getAsync return SCRIPT1014: Invalid character"
I developed outlook addin with this office js. All codes are working until today. Someone has invalid character in mail body and then the office js just fail into error.

I run in F12 Debugger, and found the error is SCRIPT1014: Invalid character on outlook-win32-16.02.debug.js (7877, 13).

and my code looks like this,

[code]

But the try block is just leaving directly before the error throws to

[2018-11-19 11:52] serjant commented on #292
Any news on that bug?

[2018-11-19 17:59] RXminuS commented on #20
Sorry to re-open this so late after the fact...but the select(selectionMode: string) method doesn't seem to be available until API version 1.1. which in turn doesn't seem to be supported by Office 2013. So is this really solved @JuaneloJuanelo ?

[2018-11-19 18:34] RXminuS commented on #20
@akellan Were you able to make their suggestions work in Office 2013?

[2018-11-19 19:34] Alturos opened #301 "Using Office.onReady() Breaks Outlook 2013 add-ins"
Our Outlook add-in has stopped working in Outlook 2013 after changing the entry point to onReady.  The problem appears to be that the HostType we receive in the info parameter is coming back as Excel. The follow-on to this is that many of the API's under Office.context (e.g. diagnostics, roamingSettings, mailbox) are undefined.

## Expected Behavior
We should be receiving Outlook as the HostType,

[2018-11-19 22:23] JuaneloJuanelo commented on #20
The features in 1.1 are not backported to MSI 2013. Sorry about this.

[2018-11-19 23:18] dmahugh commented on #301
Thanks for reporting this, @Alturos . We're looking into it and will follow up.

[2018-11-20 00:21] #65 closed, assigned to nobody

[2018-11-20 00:21] #194 closed, assigned to nobody

[2018-11-20 08:27] georgechr commented on #224
@XiangGaoMSFT Will a proper fix be implemented for this or should we put a warning that is a known Office issue?

[2018-11-20 17:37] JuaneloJuanelo commented on #301
This is now a known issue, we have a fix and will soon rollout. thanks for reporting! We are tracking with 2572847  internally.

[2018-11-20 18:12] JuaneloJuanelo commented on #298
Hello @isvdevchat ! we did an investigation on this issue and here are the results: From what you are describing you are trying to compare the documents just based on the file size (or at least that's the first premise you are using). This is not a reliable way of comparing 2 documents.  The getFileAsync method creates an identical copy of the file (content-wise), however additional metadata is ad

[2018-11-20 18:12] #298 closed, assigned to JuaneloJuanelo

[2018-11-20 18:58] JuaneloJuanelo commented on #293
update: the issue we have here is that the API currently does not support discontinuous range selection. This is exactly what happens when you partially select data in a table. This is something we will add in the future to the API, no ETA at this point.

[2018-11-20 18:58] #293 closed, assigned to nobody

[2018-11-20 19:05] JuaneloJuanelo commented on #288
I am not sure why you want to do that, can you share more details?
there is no way of targeting a specific platform with the manifest. what you can do is to show an error in those platforms that your add-in is not supported. (you can use office.context.diagnostics.platform to find out what platform you are and then potentially provide a page with information on the platforms you dont support)

[2018-11-20 19:05] #288 closed, assigned to nobody

[2018-11-21 02:56] XiangGaoMSFT commented on #224
@georgechr , sorry for the late response. We were looking into this issue. But it's quite complicated so it took longer time than we expected.

For the above workaround, my coworker provided a suggestion. I've updated it and please have a try.

[2018-11-21 20:03] kbrandl opened #302 "PowerPoint content add-in won't load in presentation mode (PowerPoint Online)"
## Note
I'm opening this issue on behalf of customer @butchmarshall, per this SO question: https://stackoverflow.com/questions/53418487/powerpoint-online-office365-content-add-in-never-loads-in-slide-show-mode-off. Seems possibly related to issue #198.

## Expected Behavior
Within both PowerPoint for Windows and PowerPoint Online, a PowerPoint content add-in should render/function properly in Edit

[2018-11-21 20:36] butchmarshall commented on #302
Thank you @kbrandl!  Yes, this looks to be the same issue as #198. Presentation mode in powerpoint online for content add-ins is broken.

[2018-11-22 06:40] sureshjoshi commented on #106
@JuaneloJuanelo Is there any update on a Footnotes API?

[2018-11-22 13:31] RoelVB opened #303 "Cannot redefine context property"
When trying to load Office.js I get the message:
`Kan de niet-configureerbare eigenschap context niet opnieuw definiëren
outlook-win32-16.02.debug.js (646,17)`
Which would translate to something like:
`Cannot redefine non-configurable context property `

## Steps to Reproduce
To give a complete picture. I'm actually hosting an Outlook add-in in Sharepoint Online as an SPFx webpart. When trying the

[2018-11-22 13:37] ATrogolo commented on #231
Hello @JuaneloJuanelo,
when this bug will be released?

Thanks in advance,
Andrea

[2018-11-22 16:47] ATrogolo opened #304 "Office.onReady() issue on different method usage"
## Expected Behavior
Referring to this [docs](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/understanding-the-javascript-api-for-office#initialize-with-officeonready) I was expecting that `Office.onReady()` method works exactly the same if called with Promise behaviour or with function as first parameter.
But it is not.

## Current Behavior
If I type:
[code]
It renders only the Progr

[2018-11-23 10:29] hengchengfei opened #305 "[Word,Excel]Support pixel of size when use dialog."
## Expected Behavior
[code]
I think that it would be better when can set the pixel size of dialog.
Because I don't know  the Client  size if I set the percentage.

it should supports as follows:

[code]
or
[code]

## Current Behavior
It only support percentage of dialog,don't support  the pixel of size when use dialog.

## Steps to Reproduce, or Live Example
[https://docs.microsoft.com/en-us/offic

[2018-11-23 13:44] ATrogolo commented on #9
Has this issue been fixed?
On Excel (Version: 1803 and Build: 9126.2295) if I open a dialog, press ESC and then trying to reopen the same dialog, it opens correctly.

[2018-11-23 13:52] ATrogolo commented on #189
@danielgwilson  @kbl212 I tried today to see if this issue was fixed but we're still stucked .. the dialog is created relatively to the size of the Excel application yet.
Is there any update?

[2018-11-23 16:36] Zlatkovsky commented on #303
Just as a guess:  are you sure you aren't including two copies of Office.js accidentally?  (Two separate script references to it?)

[2018-11-26 01:20] ninonextix commented on #298
Hello, @JuaneloJuanelo.

I was the one who contacted the dev support who opened this issue. For clarifications, the add-in calls the getFileAsync() function, converts the output into hash, and compares that hash to the database. May we know why this works on Word Online and not on other platforms? Moreover, we have a question regarding your recommendation for it.

We've tried to invoke the [body.g

[2018-11-26 08:08] sureshjoshi opened #306 "Office.onReady results don't match documentation"
## Expected Behavior

According to the `Office.onReady` Typescript documentation "...it can also be used outside the add-in. In that case, once Office.js determines that it is running outside of an Office host application, it will call the callback and resolve the promise with "null" for both the host and platform."

Thus, I am expecting both host and platform to be null when opening my app in the

[2018-11-26 09:20] RoelVB commented on #303
Thanks you for your reply. Unfortunately that's not the case.

[2018-11-26 10:57] ndeeH opened #307 ""This Add-In could not be loaded with your version of office." but should be supported."
We have a content Add-In for PowerPoint in the office store which should work with Office 2016.

Customers with Office 2016 Professional Plus (16.0.4549….) reported that they see this error:
`"This Add-In could not be loaded with your version of office. Visit the office store to find out which version..." (translated from german).`
![image](https://user-images.githubusercontent.com/11518242/490094

[2018-11-26 14:17] ghost commented on #140
i am not getting the Access Token in my outlook addin. i am using office 365 account and outlook web.what would be the issue? could anyone please help

[2018-11-26 14:30] SSAndersen commented on #241
If i recall this correct, there were an update to the SSO system (made it office insiders only in some versions), my solution were to use SSO where possible, and then switch to manuel login on errors. Altleast at the time, this were the solution i came up with.

[2018-11-26 14:49] ghost commented on #140
just want to give more information on issue, when i save the calendar event and open, i am getting the access token. is this the expected behavior? Won't i be able to get the token while composing as new? my add-in is for fetching the data before saving/send the appointment. please help

[2018-11-26 16:28] ElizabethSamuel-MSFT commented on #140
@Francis-B: Thank you for raising this issue. However, could you create a new issue as this one is already closed?

[2018-11-26 16:37] Zlatkovsky commented on #23
@wandyezj, passing this to you to investigate (and to check whether it's still happening -- the double-slash issue should be gone now, so perhaps it's not anymore?)

[2018-11-26 18:11] JuaneloJuanelo commented on #306
this is a known issue and we are working to update our JS CDN soon with a fix. thanks!

[2018-11-26 18:12] JuaneloJuanelo commented on #306
this is duplicate of this issue, so closing this one as such..
https://github.com/OfficeDev/office-js/issues/301

[2018-11-26 18:12] #306 closed, assigned to nobody

[2018-11-26 18:49] JuaneloJuanelo commented on #305
Thanks for sending this. It is a known issue and we are investigating if we should support it and how it will work. Tracking internally with 2544062

[2018-11-26 22:41] JuaneloJuanelo commented on #290
@Reezaali  can you please add the bug number you are referring to?

[2018-11-26 22:47] dmahugh commented on #297
Thanks for reporting this issue, @alexnb11. @macOutlookExtensibility, can you take a look?

[2018-11-26 23:07] dmahugh commented on #300
@exextoc can you take a look at this one?

[2018-11-26 23:36] Reezaali commented on #290
@JuaneloJuanelo - here you go.
[https://office.visualstudio.com/DefaultCollection/OC/OEP/_workitems/edit/2420400](https://office.visualstudio.com/DefaultCollection/OC/OEP/_workitems/edit/2420400)

[2018-11-27 01:45] timwan03 commented on #300
This is on Outlook Desktop and not Outlook Web Access? What's the Version Number of Outlook Desktop (something like 2016, 16.0.1111.XXXXX) (File->Office Account).

Can you provide a copy of the e-mail that is producing this error?

[2018-11-27 01:49] exextoc commented on #300
This is on Outlook Desktop and not Outlook Web Access? What's the Version Number of Outlook Desktop (something like 2016, 16.0.1111.XXXXX) (File->Office Account).

Can you provide a copy of the e-mail that is producing this error?

[2018-11-27 01:59] mvpkenlin commented on #300
@exextoc It is outlook Desktop, Microsoft Office 365 ProPlus, Version 16.0.11001.20097, 32-bit.

May I have your email so that I could forward you the problem email? But actually, you could test with those chars, the original email contains these chars and body.getAsync throw error. By removing them from email and reply to myself again, body.getAsync fired without any problem.

name of ʥ׿̗˼/span>1

[2018-11-27 02:17] exextoc commented on #300
Copying and pasting the characters doesn't seem to reproduce the issue. (likely copying/pasting the characters into Outlook "Fixes" the issue). Is there anyway you can upload the .msg file with the bad characters? Or reproduce the issue in a smaller email without any sensitive information that we could take a look at?

[2018-11-27 02:38] mvpkenlin commented on #300
@exextoc Sure, here it is. I tested this email is generating the script error.

[SampleEmail.zip](https://github.com/OfficeDev/office-js/files/2618065/SampleEmail.zip)

[2018-11-27 08:14] alexnb11 commented on #297
@dmahugh Thank you for supporting. I'm waiting a resolution, it is important for my work.

[2018-11-27 11:57] dm-shlandii opened #308 "messageParent and sendMessage domain check"
Hi,

There is rather strange condition in a loop which checks the current 'allowed domains'. i.e.
https://github.com/OfficeDev/office-js/blob/bdcaa766e570a4c91d1889e7dd5d84e9ff88db58/dist/outlook-web-16.01.debug.js#L8201

[code]
So on first occurrence which don't match the condition  'appDomains[i].indexOf("://") !== -1' - it will exit the loop. So the message would not be without any logging, etc

[2018-11-27 19:07] kbrandl commented on #309
This sounds like a platform issue; I'll transfer this issue to the **OfficeDev/office-js** repo, where someone from the product team can hopefully engage.

[2018-11-27 19:08] kbrandl commented on #309
@macOutlookExtensibility can you please provide input on this issue?  Thanks!

[2018-11-27 19:41] mattblackdev opened #310 "Content Controls not getting deleted"
Using ```ContentControl.delete(true)``` api does not delete the content control in some cases.

## Expected Behavior

The content control should  be removed during the next ```context.sync()``` call.

## Current Behavior

Our add-in inserts parent content controls for tables in a document. After the document has been saved and reopened, if the add-in attempts to delete the content controls, they d

[2018-11-27 21:39] exextoc commented on #308
The AppDomains should be in the format of https://<your url>, as we only support navigating to https domains.

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-1

[2018-11-28 00:50] exextoc commented on #118
Thanks for reporting this issue regarding OnSend. The bug has been put on our backlog. We unfortunately have no timelines to share at this point.

[2018-11-28 02:11] exextoc commented on #300
I've repro'ed the problem, and put the bug on a backlog. There is no timetable for when it will be addressed. On your side, I don't think you can fix the code. I did notice that if you get the text of the body as HTML, then it comes back correctly, but I'm not sure if that solves your problem.

[2018-11-28 04:10] mvpkenlin commented on #300
@exextoc getting as HTML body cannot fit into my system. We are indexing the mail body text. I am sorry. Please let me know by updating this issue after fixed by your team. Thanks a lot.

[2018-11-28 04:13] mvpkenlin commented on #300
@exextoc Is there a way like "try catch" and so it won't stop my js executation?

[2018-11-28 04:16] mvpkenlin commented on #300
@exextoc by the way, I also have another problem found when executing outlook Add-in, but I think that it is more on the Outlook team, but noone from their team read/found it. Am I posted to incorrect website?

https://stackoverflow.com/questions/52960506/how-to-disable-pinned-taskpane-when-clicked-mailitem-from-archive-folder

[2018-11-28 04:27] mvpkenlin commented on #307
it is a Task Pane App or Content App?
Mind to post more on your manifest?

[2018-11-28 04:32] mvpkenlin commented on #307
You can find the supported version of Office here,
https://docs.microsoft.com/zh-tw/office/dev/add-ins/reference/requirement-sets/dialog-api-requirement-sets?view=office-js

if you said, version 16.0.4549...... does not work, is it a C2R installes rather than MSI install? for C2R installs, you need 16.0.6741.... or above

![image](https://user-images.githubusercontent.com/20411183/49129128-689a548

[2018-11-28 07:00] ndeeH commented on #307
@mvpkenlin

**It is a powerpoint content app**

[code]

[2018-11-28 08:28] sureshjoshi commented on #106
Actually, @JuaneloJuanelo @Zlatkovsky (and other Office-JS devs), is there any way that any associated documentation for the internal Word Footnotes interop could be released, and that we (the community) could work on a Footnotes API in an open-source fashion?

I've been reading through the various JS files looking at the bridging, localhost document API, CoreUtility, HttpUtility, RichApiMessageUt

[2018-11-28 13:31] ndeeH commented on #307
@mvpkenlin
It is a **MSI installation** - so **16.0.4549** is higher than required **16.0.4390** - so it should work - but it does not!

![image](https://user-images.githubusercontent.com/11518242/49154907-ed8d6a00-f319-11e8-96e0-fa5791d81b5b.png)

[2018-11-28 14:57] barisbikmaz opened #311 "GeneralException error when inserting HTML into a focussed content control"
## Expected Behavior
Clear content control and replace its content by html.

## Current Behavior
A general exception is thrown.

## Steps to Reproduce, or Live Example
[Gist Repo](https://gist.github.com/barisbikmaz/73843453eeb22c31bc916d264c2442ee)

**Additional details:**

1. Create 2 rich content controls in an empty document.
2. Click on the second content control so that it is focussed. The '

[2018-11-28 17:16] ClaroJack opened #312 "Error while retrieving trackedObjects and ranges - only on Word Online"
## Expected Behavior
Should move the caret to the next sentence and also highlight next sentence.

## Current Behavior
Currently fails and gives error code. **GeneralException: Cannot read property 'xT' of null**, when trying on Word Online but works fine on Word on Desktop.

## Steps to Reproduce, or Live Example
[code]

[code]

## Context
I am trying to save the range so that the caret moves to

[2018-11-28 19:30] kbrandl commented on #313
Transferring this issue from OfficeDev/office-js-docs into OfficeDev/office-js.

[2018-11-28 19:54] kbrandl commented on #314
Transferring this issue from OfficeDev/office-js-docs into OfficeDev/office-js, as it seems to be a product bug. @AlexYovenko and @AndrewGorovoy are you still observing these issues?

[2018-11-28 19:58] kbrandl commented on #315
@darkocolak I apologize for the lack of response on this; I'm transferring this issue from OfficeDev/office-js-docs into OfficeDev/office-js, so that members of the product team can provide feedback. Are you still having this issue?

[2018-11-28 22:27] draconnus commented on #315
We gave up on the feature back then.
Maybe we can try it out soon again. I'll try to report back.

[2018-11-28 22:52] kbrandl commented on #315
Thank you for the update, and once again, apologies for the lack of response on our part. The Office.js API and platform has evolved a lot since this issue was opened; I'll attempt to repro this issue and will report back here with my findings.

[2018-11-28 23:48] nico-bellante commented on #5495
This should be fixed in Beta now, please reopen if the issue persists.

[2018-11-28 23:57] JuaneloJuanelo commented on #315
i just tried the methods on Excel, Word and PPT Online and this is no longer a repro. Issue solved!

[2018-11-28 23:57] #315 closed

[2018-11-29 00:21] JuaneloJuanelo commented on #314
i just tried the sample code to replace with a 100+ page document. It was slow but all the code got successfully executed. Did not get any errors.

[2018-11-29 00:21] #314 closed

[2018-11-29 00:28] JuaneloJuanelo commented on #313
@fergiemcdowall  I would not say that regular expressions are supported in searchOptions. We have a simple wilcard search as of now.

[2018-11-29 00:42] JuaneloJuanelo commented on #313
Regular expression search is currently not supported in the API. please add a request in our uservoice channel. https://officespdev.uservoice.com/

[2018-11-29 00:42] #313 closed, assigned to JuaneloJuanelo

[2018-11-29 01:01] JuaneloJuanelo commented on #312
@ClaroJack  Thanks for reporting this. since you have a few not included methods on these sample code, would you mind creating a https://aka.ms/scriptlab snippet, so we can quickly debug what's going on? .

[2018-11-29 01:49] timwan03 commented on #300
Do you have more information on how this e-mail got into this state? Is this a common problem? Or is it just one e-mail thread that is causing this issue? (i.e. is there a product out there that is causing emails with invalid characters in them, or if you have some way to reproduce the creation of the email)

[2018-11-29 01:55] exextoc commented on #300
Do you have more information on how this e-mail got into this state? Is this a common problem? Or is it just one e-mail thread that is causing this issue? (i.e. is there a product out there that is causing emails with invalid characters in them, or if you have some way to reproduce the creation of the email)

[2018-11-29 02:07] exextoc commented on #303
It's hard to guess what is happening here, without being able to debug it. Maybe systematically remove script references until the error goes away and try to figure out what may be causing the conflict?

[2018-11-29 08:32] fergiemcdowall opened #316 "Word add-ins steal focus from document"
After performing an action in an add-in, there seems to be no way to send focus back to the main document. The user is forced to manually click on the document.

(related: https://stackoverflow.com/questions/39888050/how-to-send-back-ms-word-cursor-focus-on-current-document-after-click-in-task-pa)

## Expected Behavior
I would expect there to be some way for the add-in to assign focus back to the

[2018-11-29 10:46] Reezaali commented on #309
[https://office.visualstudio.com/OC/_workitems/edit/2708106](https://office.visualstudio.com/OC/_workitems/edit/2708106)

[2018-11-29 14:28] ClaroJack commented on #312
@JuaneloJuanelo Thank you for the quick response! Here is a simple snippet which uses the cross Word.run context functionality that I am trying to utilize. The snippet works fine in Word for Windows but gives an error on Word Online.

https://gist.github.com/ClaroJack/6f4909a1e82451d882b32e8fe4ccfd94

[2018-11-30 16:14] sancarn opened #317 "CustomXMLPart operations don't appear to be relaying events properly?"
I have a VBA class containing the following code:

[code]

In OfficeJS I have something akin to this:

[code]

So it turns out that `part_NodeAfterReplace` and `part_NodeAfterInsert` is never called...? I can clarify that the xml data is being changed though. I assume this is a bug?

[2018-11-30 18:52] smaremanda commented on #309
@billshander - we arent able to repro this bug [see attached bug from @Reezaali ]. Can you update your Mac client to the latest version and try again? Or maybe there are errors in some of your manifests? If you are able to repro, then please send us the your manifests, Office version and OS version. thanks!

[2018-11-30 21:40] kbrandl commented on #368
@carruthe apologies for the lack of response on this. Are you still having trouble? The Office.js API and platform has evolved quite a bit since this issue was opened, as have the [docs](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=office-js#removehandlerasync-eventtype--options--callback-), so this may no longer be an issue. I'm going to close this issue, but please

[2018-11-30 22:07] kbrandl commented on #318
Apologies for the lack of response on this. I'm transferring this issue to the [OfficeDev/office-js](https://github.com/OfficeDev/office-js) repo, which members of the product team monitor for customer-reported issues like this.

[2018-11-30 22:22] kbrandl commented on #319
@BenjaminRichardson apologies for the slow response on this. I'm transferring this issue to the [OfficeDev/office-js](https://github.com/OfficeDev/office-js) repo, where it's more likely to be seen by members of the product team.

[2018-12-01 01:14] billshander commented on #309
I'm not using Visual Studio - just side loading into Excel directly. Are you talking about updating Excel? I keep it constantly uploaded. I'm on Mac (last time I tried this was on Sierra, I believe) and using Excel 16.19 but last tested this about 6 months ago (when I posted this bug) - not sure what version of Excel I was on at that point.

[2018-12-01 15:49] Foundasys commented on #46
Sorry for the delay but this is no longer an issue anymore. Search works fine now.

[2018-12-01 15:49] #46 closed, assigned to nobody

[2018-12-02 09:34] asifmai opened #320 "Word for Mac search method character limit"
Searching in the document using paragraph.search() executes without any error, but on Word for Mac throws error of invalidArgument

## Expected Behavior
Should be able to search without errors on Word for Mac, since the search string has characters less than 255

## Current Behavior
Throws error of Paragraph.search(), invalidArguments

## Steps to Reproduce, or Live Example
         paras.items.fo

[2018-12-03 18:53] JuaneloJuanelo commented on #320
Yes this is a known issue an a limitation of Word itself. You cannot perform such search from the UI. We will increment capacity when the feature is available in the product.

[2018-12-03 18:53] #320 closed, assigned to nobody

[2018-12-03 20:48] nrakochy commented on #275
Thanks for the note. I was pulled on to another project and have not had a chance to revisit. Will test this shortly.

[2018-12-04 06:30] hhqqnu opened #321 "Office.context.mailbox.item get bcc is null bug"
Get the mailbox item recipient bcc is empty.
I have tried reading the source code of office.js and can't find the bcc attribute.

filename: outlook-web-16.01.debug.js
![image](https://user-images.githubusercontent.com/2911670/49422977-c4188680-f7d0-11e8-8543-186901d610cf.png)

[2018-12-04 18:07] aelmariya commented on #324
Hi everyone !
i have an  issue with on send feature i already have an office365 account and i activate the on send feature using the powershell but when i try  to deploy the add in manifest in Microsoft 365 admin center i get this error
![github_error](https://user-images.githubusercontent.com/36902727/49463122-f4275000-f7f7-11e8-9489-6b0b39132f3a.PNG)

[2018-12-04 18:11] ElizabethSamuel-MSFT commented on #324
@Will-Blackburn, @mhzer, @aelmariya: It recently came to my attention that there is a possible mitigation for this issue: https://theofficecontext.com/2018/11/29/visual-studio-2017-this-is-an-invalid-xsitype-mailappversionoverrides-1-1event/. Please give it a try and let us know how it worked out. Thanks.

[2018-12-05 00:12] exextoc commented on #241
@sugarp Thanks for providing the version. Do you know if you see the same 5001 error in newer version of Outlook (for example, recent monthly channels or the newer Semi-Annual build, like 9126)?  16.0.8431 was one of the first build that had SSO in preview, but SSO preview was only enabled for monthly channel of 16.0.8431, and not for the Semi-Annual channel.

[2018-12-05 04:05] kkerr1 opened #322 "addFileAttachmentAsync Appends Invalid Authorization Header"
## Expected Behavior
`Office.context.mailbox.item.addFileAttachmentAsync` successfully attaches externally hosted files, for example those located on AWS S3.

## Current Behavior

`Office.context.mailbox.item.addFileAttachmentAsync` has started appending an invalid header which S3 rightfully rejects. The header is `Authorization: Bearer`. I have not indicated that this call should be authenticatin

[2018-12-05 04:06] exextoc commented on #321
Currently, bcc property is only available in compose mode. Are you trying to access "bcc" in read-mode? Please read documentation on 'bcc' here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/office.context.mailbox.item#bcc-recipientsjavascriptapioutlook15officerecipients

[2018-12-05 08:55] ClaroJack commented on #312
@JuaneloJuanelo Any update on this?

[2018-12-05 09:34] mhzer commented on #324
@ElizabethSamuel-MSFT The Visual Studio problem is very minor compared to the fact that Exchange Online and Office 365 reject our add-in manifests when trying to deploy it organization-wide. This makes shipping sophisticated Outlook addins impossible, as our clients won't be able to deploy them.

[2018-12-05 14:17] michahell commented on #9
Just checked. Yeap, absolutely. And completely ignored by MSFT.

![screenshot 2018-12-05 at 15 16 37](https://user-images.githubusercontent.com/225784/49519288-ef6aa680-f8a0-11e8-8255-cffa5ed4b0f0.png)

[2018-12-05 14:19] michahell commented on #9
update: there is an **error** event being sent, code: **12007**.
But re-opening is still not possible... see screenshot above. So this is still a bug.

[2018-12-05 16:16] JeffBarton1984 opened #323 "Using SharePoint Delegated Permissions in Word Online Addin Manifest"
Is it possible to grant consent to SharePoint permissions inside a Word Online Addin? I have the following permissions in an Azure Active Directory V2 Application:

![aadv2apipermissionscropped](https://user-images.githubusercontent.com/19809567/49521603-d3044500-f873-11e8-88aa-f2685c1f644d.png)

I tried adding the SharePoint scopes in the Office Manifest such as

`<Scope>AllSites.Read</Scope>`

#

[2018-12-05 17:01] ElizabethSamuel-MSFT commented on #324
@mhzer: That's a good reminder.
@exextoc: Any update on this?
Thanks.

[2018-12-05 18:09] kbrandl commented on #324
Since this is a product bug, I'm transferring this issue to the [OfficeDev/office-js](https://github.com/OfficeDev/office-js) repo.

[2018-12-05 18:10] kbrandl commented on #324
@exextoc can you provide an update on this issue (per recent customer inquiries earlier in this thread)?

[2018-12-05 18:17] kbrandl commented on #323
@JeffBarton1984 thanks for your interest in Office Add-ins development. Issues in this GitHub repository (**OfficeDev/office-js**) are intended for reporting errors/problems with the the Office.js API; therefore I'm closing this GitHub issue. I'd recommend that you instead post this question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag, and any a

[2018-12-05 18:17] #323 closed, assigned to nobody

[2018-12-05 18:19] kbrandl commented on #307
@JuaneloJuanelo are you able to provide any input about this issue? (Please let me know if this should be directed to someone else.)

[2018-12-05 18:26] kbrandl commented on #309
@billshander since you encountered this behavior 6 months ago but we're currently unable to repro, I'm going to close this issue with the assumption that it's no longer a problem. (The Office JS platform has evolved quite a bit in the past several months.) If you do encounter this problem again, please feel free to comment here in this thread so that we can reopen this issue and investigate furthe

[2018-12-05 18:26] #309 closed, assigned to nobody

[2018-12-05 18:28] kbrandl commented on #287
@andschleicher I'm unable to reproduce the issue that you've described. Are you still having this problem?

[2018-12-05 18:29] kbrandl commented on #289
@macOutlookExtensibility any update on this issue?

[2018-12-05 18:30] kbrandl commented on #290
@JuaneloJuanelo are you able to provide any input on this issue? (Please let me know if this should be directed to someone else.)

[2018-12-05 18:32] kbrandl commented on #291
@misaunde are you able to provide the information that @jipyua has requested?

[2018-12-05 18:32] kbrandl commented on #292
@JuaneloJuanelo are you able to provide any update on this issue?

[2018-12-05 18:33] kbrandl commented on #294
@jipyua or @JuaneloJuanelo are you able to provide any update on this issue?

[2018-12-05 18:34] kbrandl commented on #296
@hengchengfei I'm unable to repro the issue that you've described. Are you still having this problem?

[2018-12-05 18:36] kbrandl commented on #297
@macOutlookExtensibility are you able to provide an update on this issue?

[2018-12-05 18:52] kbrandl commented on #198
@JuaneloJuanelo are you able to provide any update on this issue?  FYI, seemingly related issue #302 contains steps to repro this issue.

[2018-12-05 18:52] kbrandl commented on #302
@JuaneloJuanelo are you able to provide any update on this issue?

[2018-12-05 18:54] kbrandl commented on #303
@RoelVB were you able to successfully troubleshoot this problem by using to the technique that @exextoc suggested earlier in this thread?  Are you still having this problem?

[2018-12-05 18:54] JuaneloJuanelo commented on #319
this is not an issue with the Javascript API. @BenjaminRichardson  please add/upvote this request in our uservoice channel. thanks! https://officespdev.uservoice.com/

[2018-12-05 18:54] #319 closed

[2018-12-05 18:59] kbrandl commented on #310
@mattblackdev are you still having this problem? If so, please provide repro steps here so that we can investigate. Thanks!

[2018-12-05 19:00] kbrandl commented on #311
@barisbikmaz sorry to hear that you're having trouble.

@JuaneloJuanelo are you able to provide any input on this issue? (Please let me know if this should be directed to someone else.)

[2018-12-05 19:01] JuaneloJuanelo commented on #317
in this case you are replacing the entire part, not a node, so those are not expected to be triggered.  IN Excel XML part support is limited to replacing the entire part, there is no node-level access.

Also in JS API we still dont have such events in Excel (we do in Word, though).

please add such requests on user voice so we consider them as additions in the future. https://officespdev.uservoice

[2018-12-05 19:01] #317 closed, assigned to nobody

[2018-12-05 19:04] kbrandl commented on #316
@fergiemcdowall thanks for reaching out about this.

@JuaneloJuanelo are you able to provide input on this issue? (Please let me know if this should be directed to someone else.)

[2018-12-05 19:09] kbrandl commented on #321
@hhqqnu does the information that @exextoc provided in this thread resolve this issue? If not, please add repro steps to this issue so that we can investigate.

[2018-12-05 19:10] kbrandl commented on #322
@kkerr1 thanks for reaching out about this and sorry to hear that you're having this problem.

@exextoc are you able to provide input on this issue?

[2018-12-05 19:23] sancarn commented on #317
Hi Juan,

Is it possible to replace/add a single node from JavaScript? As far as I am aware there is only `getXML()` and `setXML()` functions, correct? I.E. is there a work around I can use such that the events are raised?

Thanks

[2018-12-05 19:32] misaunde commented on #291
Well... Unfortunately, I can't send any code that consistently reproduces this. This is more in the ballpark of, apparently, at least a few stars have to align for it to crash. Somedays, I can reproduce it somewhat reliably by just submitting the file over and over again in quick succession until it crashes (usually before 5-10 submits).

Like I mentioned earlier though, I have not figured out how

[2018-12-05 19:51] kbrandl commented on #291
@misaunde thank you for providing this detailed information.

@jipyua and @XuanZhouMSFT please see the information that @misaunde has provided (per your earlier request).

[2018-12-05 20:24] kbrandl commented on #9
@michahell sorry to hear that you've having trouble with this, and apologies for the delayed response on this issue.

@JuaneloJuanelo are you able to provide any input on this issue?

[2018-12-05 21:11] Harkole commented on #324
Apologies it's rather busy at the moment so I've not had chance to attempt the work around in Visual Studio but as @mhzer has stated it's more about getting it accepted in Office365 for the clients to work with it

Edit, sorry posted from my personal account, this is @Will-Blackburn

[2018-12-05 21:55] JuaneloJuanelo commented on #316
as correctly answered on stack this is not supported today. @fergiemcdowall  if this is a pressing issue please open (or upvote)  a new request in our uservoice channel https://officespdev.uservoice.com/
. thanks.

[2018-12-06 02:06] andschleicher commented on #287
@kbrandl I am no longer experiencing this issue after updating the version of my desktop version of Word.

[2018-12-06 02:06] #287 closed, assigned to nobody

[2018-12-06 06:54] ndeeH commented on #307
@JuaneloJuanelo FYI - our customer is wondering why our [add in](https://appsource.microsoft.com/de-de/product/office/WA104381814?tab=Overview) is not available though the version of Powerpoint (16.0.4549 MSI) should support it.
If you need more information let me know...

[2018-12-06 18:52] RoelVB commented on #303
Sorry. I didn't have time to test his yet. Not completely sure how I could test this best. I'll start by adding some logs in the startup of the webpart. Maybe somehow it gets triggered twice.

It did check if `window.Office` exists when my webparts isn't loaded into the page. It doesn't, it gets created when te webpart loads.

[2018-12-06 19:03] exextoc commented on #324
@kbrandl we have engaged the right team to address this issue. We are waiting for an update from that team.

[2018-12-06 19:15] exextoc commented on #303
@RoelVB let us know when you have more information.

[2018-12-06 19:16] kbrandl commented on #324
@exextoc thanks for the update. We'll look forward to you adding additional info to this thread when you hear back from that team.

[2018-12-06 19:21] exextoc commented on #322
We are aware of this issue. We responded to the StackOverflow post. We have engaged the Outlook team to address this information. We don't have an ETA for fixing this issue. The workaround is to host the files elsewhere.

[2018-12-06 21:02] misaunde commented on #291
The majority of the time it appears crash after finishing the download and after closeAsync() returns "successful"

[2018-12-07 02:55] kreja opened #325 "MacOS Excel sheet name can still be renamed after protection"
## Expected Behavior
Can't rename the sheet after protection.

## Current Behavior
sheets still can be renamed after setting protection

## Steps to Reproduce, or Live Example

* steps:
  1. set protection of sheet
  2. change sheet name
  3. shouldn't be successful but actually succeed

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: __MacOs: 10.13.6____
* Host

[2018-12-07 19:19] kbrandl commented on #325
@kreja thanks for reaching out and sorry to hear that you've run into this problem. Can you please update this issue to add the code that you're using to protect the workbook (so that we're able to repro this problem, exactly as you're experiencing it)?

[2018-12-10 02:38] hhqqnu commented on #321
@exextoc Thank you for your answer, I am getting the "bcc" attribute in the sent message, I tried to pass "Office.context.mailbox.item.get_data()._data$p$0"
Get "bcc", which can be obtained in OWA, but not in OUTLOOK. The difference between OWA and OUTLOOK is shown in the screenshot below.

OWA:
![image](https://user-images.githubusercontent.com/2911670/49707659-3d97f500-fc67-11e8-87ab-93f30253097

[2018-12-10 03:26] exextoc commented on #321
The way you are accessing the bcc property from the OWA API file is not publicly documented or supported in all clients. As stated earlier, there is no way to access the bcc property in Read in all clients (see [bcc](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox.item#bcc-recipientsjavascriptapioutlookofficerecipients). If y

[2018-12-10 03:26] #321 closed, assigned to exextoc

[2018-12-10 08:07] kreja commented on #325
@kbrandl https://gist.github.com/95ac89f2757aa1efb42e4c548b7a0dd3  you can run this snippet in Script Lab

[2018-12-10 15:20] nirorlev commented on #198
@JuaneloJuanelo We're also experiencing the same issue on a different add-in that we develop.
If you need another add-in code for debugging this - I can share ours.
![image](https://user-images.githubusercontent.com/2757372/49741116-6091cb80-fc9e-11e8-97b6-83d2df600a4b.png)

[2018-12-11 07:52] ndeeH commented on #198
@nirorlev Your error message seams different from mine "_..couldn't connect to the catalog server..._".
Is there an exception outside of your code which leads to this error when switching to presentation mode?

[2018-12-11 16:14] kharenzze opened #326 "[Outlook Mobile] Office.context.mailbox.item.body.getAsync is not working on Xiaomi Mi8"
I need to use Office.context.mailbox.item.body.getAsync in order to get the content of an email, but the callback is never called. I've tried with several emails, just to ensure the problem is not related to the content. I've never noticed this problem on desktop, iPhone/iPad or different Android devices.

## Expected Behavior
The callback method I pass as an argument should be executed, as descri

[2018-12-11 17:43] mattblackdev opened #327 "Word Add-in icon moves and opens blank task pane"
Not sure if this is the appropriate place for this, please advise. [Also posted on stackoverflow.](https://stackoverflow.com/questions/53729975/office-js-word-add-in-how-to-manage-test-prod-versions-of-an-add-in-manifest)

## Summary
For some users, clicking our add-in icon on the ribbon will open a blank task pane. The icon appears to shift to the far right of the ribbon and clicking it again ope

[2018-12-11 17:55] andschleicher commented on #281
This issue appears to have been resolved as we are no longer experiencing issues with the Add-In failing to be loaded automatically

[2018-12-11 17:55] #281 closed, assigned to nobody

[2018-12-11 18:36] saurabhtripathi-iitd commented on #326
Thanks for reporting it.

Our team will work on it.

Thanks,
Outlook Mobile

[2018-12-11 19:17] andschleicher opened #328 "Unable to Load Custom Properties in Word Online"
## Expected Behavior
Loading Custom Properties should function the same in the desktop version of Word and in Word Online.

## Current Behavior
Currently I am able to read in the custom properties for a document in the desktop version of Word without any issues, but if I attempt to load that same document in Word Online then the custom properties are read in as null. Previously this was working as

[2018-12-11 19:54] JuaneloJuanelo commented on #327
knwn issue tracked internally with   2737165

This is effectively an issue of having the same add-in installed from multiple (independent) add-in catalogs (i.e. centralized deploymeny and store and/or centralized deployment/file share etc.)
and yes this should only happen to the universe of users who are in such conditions. At the time of shipping the feature this was considered an edge case. we a

[2018-12-11 20:01] mattblackdev commented on #310
@kbrandl We now believe Track Changes is the root cause of the issue. We've isolated it to documents that have track changes turned on. Once we accept changes on a document, we can then delete content controls through Office.js.

[2018-12-11 20:03] mattblackdev commented on #327
@JuaneloJuanelo thanks! That is encouraging. Is there a known work around for the users who are already in this condition? We've tried deleting the "wef" folder.

[2018-12-11 20:57] JuaneloJuanelo commented on #328
@andschleicher I am not able to repro this issue. I need more details.
this is what i did 1 tried 2 scenarios:
1. creating a new document on Word for Windows.  On a newly created Word document i add 2 custom doc properties and save the document. Then i goto both One Drive for Consumer and/or One Drive for Business, upload the document. i open it from Word online: i am able to retrieve the custom d

[2018-12-11 21:29] JuaneloJuanelo commented on #325
@kreja  worksheet protection does NOT protect changing the sheet name, not even by using the UI directly. If you want that you need to protect the workbook.
  context.workbook.protection.protect();

please confirm so we can close this issue.

[2018-12-11 21:34] JuaneloJuanelo commented on #318
Update: the team owning this issue is currently investigating

[2018-12-11 22:18] JuaneloJuanelo commented on #312
thanks for sharing the code snippet @ClaroJack ! I was able to repro the issue, its an interesting one and definitely we'll investigate why this is going on.  We are tracking internally with  2737457

That been said, I want to share another snippet with you ([on this gist for scriptlab](https://gist.github.com/JuaneloJuanelo/05dcde2ab360b1cb7dcec22f7a729a3a)) . Its a relatively similar example, bu

[2018-12-11 22:32] JuaneloJuanelo commented on #311
@barisbikmaz  i was able to repro the issue. BUT I think you not need to clear the content controls in this case. The insertLocation "replace" semantic (second parameter in the insertHtml method) was designed to replace the entire content of the content control with whatever supplied HTML.
I wonder why are you clearing the content controls before inserting the HTML? Given that you are using "repla

[2018-12-11 22:32] #311 closed, assigned to JuaneloJuanelo

[2018-12-11 22:41] JuaneloJuanelo commented on #310
I am not able to repro this issue, i just tried with multiple tables, with tracked changes on and off and still not able to repro. i can delete all Content controls.
closing for the moment unless @mattblackdev  can share a detailed repro.

[2018-12-11 22:41] #310 closed, assigned to nobody

[2018-12-11 22:47] andschleicher commented on #328
@JuaneloJuanelo Thanks for the quick response and the code examples. After doing additional testing, the issue appears to be with how the custom properties are being added and not how they're being read. Our backend system adds identification properties to the documents as they're being downloaded and it appears that Word Online is having issues reading in those automatically added properties. How

[2018-12-11 22:47] #328 closed, assigned to JuaneloJuanelo

[2018-12-11 23:32] mattblackdev commented on #310
Yep, understood. I’ll see if I can put cycles into it. We’ve been asking users to accept changes before running our tool and haven’t had any more reports.

Thanks,
Matt
On Dec 11, 2018, 5:41 PM -0500, Juan Balmori <notifications@github.com>, wrote:

[2018-12-11 23:59] JuaneloJuanelo commented on #198
guys i was able to repro this issue, it seems to only be happening when side loading add-ins and also when using corp catalog.

[2018-12-12 00:20] JuaneloJuanelo commented on #198
we are tracking with 2737719  we'll fix it ASAP thanks all for your feedback

[2018-12-12 00:21] JuaneloJuanelo commented on #302
closing as a dupe of : https://github.com/OfficeDev/office-js/issues/302

[2018-12-12 00:22] JuaneloJuanelo commented on #198
closing as a dupe of https://github.com/OfficeDev/office-js/issues/302

[2018-12-12 00:23] JuaneloJuanelo commented on #302
we are able to repro tracking with 2737719 we are working on a fix ASAP. thanks!
btw this only happens when sideloading or corp deployment. if the add-in is published to the store there is no issue.

[2018-12-12 02:38] danielgwilson commented on #249
Hey @barisbikmaz, we're still looking into this - in the meantime, however, there's a potential workaround.

See the Dialog API docs section on handling popup blockers:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

The allow popup prompt in online is now optional; by passing the optional parameter `promptBeforeOpen=false`, you can suppress the allow prom

[2018-12-12 02:42] danielgwilson commented on #19
Hi! This is now possible with the optional parameter, `promptBeforeOpen=true`.

See the section on Handling pop-up blockers in the Dialog API documentation:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#dialog-api-scenarios

[2018-12-12 02:42] #19 closed, assigned to nobody

[2018-12-12 02:47] danielgwilson commented on #290
@kbrandl this _may be fixed_ in the most recent build - I'll confirm.

[2018-12-12 10:49] rvanlaak opened #329 "[Word] Expose TrackRevision via API"
## Expected Behavior

Allow reading and modifying the `Document.TrackRevisions` setting.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.word._document.trackrevisions?redirectedfrom=MSDN&view=word-pia#Microsoft_Office_Interop_Word__Document_TrackRevisions

## Current Behavior

TrackRevision status (and related) is unaccessible and can not be changed.

## Context

Without bein

[2018-12-12 11:49] kreja commented on #325
@JuaneloJuanelo You're right! Protecting the workbook does work. But it also stops users from creating new sheets which doesn't satisfy my requirement. 😞

[2018-12-12 15:07] kbrandl commented on #290
@danielgwilson thanks for this info! I've assigned this bug to you (instead of Juan), and we look forward to hearing what you find out. Thanks again!

[2018-12-12 18:47] JuaneloJuanelo commented on #325
I know but this is just how Excel protection works.

I am not sure about your scenario, but if you are preventing users from  renaming sheets, sounds like you also should be controlling sheet creation, so your add-in can unprotect-create sheet-protect as needed.

[2018-12-12 18:48] #325 closed, assigned to JuaneloJuanelo

[2018-12-12 18:54] JuaneloJuanelo commented on #329
this is a known issue, currently tracked in our backlog. No solid ETA as of now. On top of this the feature is still not available in Word Online.

please up vote this one in our user voice channel https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/13649829-add-change-tracking-api

[2018-12-12 18:54] #329 closed, assigned to nobody

[2018-12-13 00:10] BrianSmithPhotos commented on #318
If anyone on this thread has a complete sample they reproduce the problem with I'd like to get this one resolved.  I appear to be able to read task details in 100 tasks with no issues, but I want to be sure I am not missing anything.
Thanks, and sorry for the huge delay in addressing this.
Brian Smith

[2018-12-13 09:52] rvanlaak commented on #329
Hi @JuaneloJuanelo can you elaborate on this a bit more? We would actually mark this as a bug.

Aside of the setting being accessible, when modifying the OOXML directly this should not add a track-change, as we did not add a revision to the OOXML.

The result is that the exact same text is seen as removed and then inserted again.

Best would be to have a parameter/option for the call to not let Wo

[2018-12-14 12:59] rvanlaak commented on #329
To be clear about what behavior is meant: using [`Office.context.document.setSelectedDataAsync`](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=office-js#setselecteddataasync-data--options--callback-) adds a track-change when the selected text itself was not modified.

@JuaneloJuanelo although solely working with the text selection OOXML (using `getSelectedDataAsync`)

[2018-12-14 22:06] kbrandl commented on #330
Transferring this issue from the **OfficeDev/office-js-docs-reference** repository (where documentation problems are tracked) to the **OfficeDev/office-js** repository (where product issues/bugs like this are tracked).

[2018-12-14 22:07] kbrandl commented on #330
@macOutlookExtensibility any update on the status of this issue and deployment of the corresponding fix?

[2018-12-14 22:30] kbrandl commented on #331
Transferring this issue from the **OfficeDev/outlook-dev-docs** repository (where documentation problems are tracked) to the **OfficeDev/office-js** repository (where product issues/bugs like this are tracked).

[2018-12-14 22:31] kbrandl commented on #331
@satrip or @exextoc any update on the status of this issue and deployment of the corresponding fix?

[2018-12-14 22:36] kbrandl commented on #296
@hengchengfei I'm closing this GitHub issue due to lack of response. If you're still having this problem, please comment on this issue so that we can re-open this issue and engage with you to investigate. Thanks!

[2018-12-14 22:36] #296 closed, assigned to nobody

[2018-12-15 05:03] satrip commented on #331
@kbrandl It is fixed and working in latest production build.

[2018-12-15 15:13] kbrandl commented on #331
@satrip thank you for the confirmation; I'll close this issue since the fix has been deployed.

[2018-12-15 15:13] #331 closed, assigned to exextoc

[2018-12-17 10:37] sebasthuis opened #332 "Bindings are removed in DOCX files generated by DOTX templates (only in Office 365)"
**Please see update at bottom of post.**

After an update of Office 365 from build 1803 to 1811 the Office.select method does not work anymore in generated documents (.docx) from a template (.dotx). This means that Office.select _does_ return the bindings in Office 2019, 2016 and earlier builds of Office 365. Additionally the method _does_ return the binding in documents that were not created by a

[2018-12-17 15:28] markb-trustifi opened #333 "Cannot get messages and contacts from Outlook REST API"
I'm using office-js version: 16.0.10831.10000 on Mac
The problems exist in both Outlook client and browser.

I can query for specific email item:
[code]

But when I ty to get a full email collection I get this error:
[code]

Another issue there is with contacts collection after retrieving token from Office.context.mailbox.getUserIdentityTokenAsync.
[code]

My manifest has permissions:
[code]

But

[2018-12-17 15:30] markb-trustifi commented on #333
crossposted to:
https://social.msdn.microsoft.com/Forums/en-US/bfb8bbd0-8ddf-424c-8469-a6fdd73c00ea/cannot-get-messages-and-contacts-by-outlook-rest-api?forum=outlookdev

[2018-12-18 11:54] rvanlaak commented on #329
@JuaneloJuanelo `getFileAsync` does not have a setter `setFileAsync` counterpart. How can we write Word files?

We want to disable the "track changes" setting, run our command, and restore the "track changes" setting. So more specific; how can we write the `word/settings.xml` file?

/cc @danielgwilson

[2018-12-18 14:04] rvanlaak opened #334 "[Word] Bug when adding comment to selection OOXML"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Adding a comment on a selection does mark the selection text as removed and inserted. The selection text has not been changed.

## Expected Behavior

Only a comment should be added, t

[2018-12-18 15:24] rvanlaak commented on #329
@JuaneloJuanelo @danielgwilson @kbrandl

Some help would be appreciated. No updates are getting posted on Uservoice:

* https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/13496982-create-word-comments-via-office-api
* https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/15055839-wrapping-ooxml-apis-needed-insertcomment-ins

[2018-12-18 16:05] rodrigoguariento opened #335 "Get AllDayEvent and Private flags from Office.context.mailbox.item (Outlook)"
I'm building an add-in for Outlook and here is a doubt: is it possible to get **AllDayEvent** and **Private** flags from Office.context.mailbox.item or somewhere else of an appointment? I haven't saw nothing related in this documentation. Thanks!

* Platform: PC desktop (test), Linux Ubuntu (dev), Office Online (test)
* Host: Outlook
* Office version number: Office 365 ProPlus v1803 build 9126.233

[2018-12-18 17:22] rodrigoguariento opened #336 "How to get appointment recurrence info"
I'm using Office 365 Enterprise E3 Developer. Is there a way (or alternative) for we get/set recurrence info from an appointment in my office-js project? Thanks.

- Platform: PC desktop (test), Linux Ubuntu (dev), Office Online (test)
- Host: Outlook
- Office version number: Office 365 ProPlus v1803 build 9126.2336, and Web (office.com)
- Operating System: Windows 10 Pro
- Browser (if using Office

[2018-12-18 23:17] exextoc commented on #333
You would need to call getCallbackTokenAsync with the isRest parameter set to true to get appropriate tokens

[2018-12-18 23:59] exextoc commented on #335
Currently the feature: Get Allday Event/ Private flag, you requested, is not a part of the product. We track Outlook add-in feature requests on our [user-voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

Meanwhile you could use t

[2018-12-19 00:00] exextoc commented on #336
Are you trying to connect against an O365 exchange account?

[2018-12-19 09:21] markb-trustifi commented on #333
1. I just mistyped my question, I always used it with rest=true.
2. getCallbackTokenAsync works only for read-email window and only to read/write item properties.

[2018-12-19 09:25] rvanlaak commented on #334
I am investigating the right way to work around these unwanted track-changes. Will track-changes also get added when the selection is marked as [content control](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/word-tutorial-content-control#replace-the-content-of-the-content-control), and thereafter modified using [`insertOoxml`](https://docs.microsoft.com/en-us/javascript/api/word/wo

[2018-12-19 10:37] rvanlaak opened #337 "[Word] ContentControl remove keepContent parameter not respected"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

## Expected Behavior

ContentControl should get removed, and content should get preserved.

## Current Behavior

ContentContro

[2018-12-19 10:52] rvanlaak opened #338 "[Word] image dissapears when adding contentcontrol"
Image gets hidden when content control is added to it, and `insertOoxml` thereafter is called with it's own ooxml value.

## Expected Behavior

Image should have a `contentcontrol` and stay on the same place, as when the line `cc.insertOoxml(ooxml.value, "Replace");` gets commented out.

## Current Behavior

Image dissapeared, changing image layout option shows it again.

## Steps to Reproduce, or

[2018-12-19 10:59] rvanlaak opened #339 "[Word] content control adds new line"
## Expected Behavior

Content should stay identical when adding content control, and when replacing ooxml with it's own ooxml.

## Current Behavior

Extra line is added with header, paragraph. No extra line gets added when just a few words are selected.

## Steps to Reproduce, or Live Example

[code]

## Context

Users can not rely on functionality with this bug in place, because they have to fix

[2018-12-19 12:07] rodrigoguariento commented on #335
Thanks by alternative. Do you mean that I need to get this itemId from callback.value of item.saveAsync? If I try getting item.itemId (at least in my scenario), this one returns always undefined.

[2018-12-19 12:15] rodrigoguariento commented on #336
I have no sure, I've created an account into [Office Developer Program](https://developer.microsoft.com/en-us/office/dev-program) and my project is being made with Office 365 from there. I started my project with **yo office** (npm generator-office). It will make difference? I thought that it was related to office js API version.

[2018-12-19 15:39] ghost opened #340 "Error 13008, function getAccessTokenAsync still running"
getAccessTokenAsync runs for the first time, but on a slow connection/when it gets spammed the function keeps running without receiving a response. The second time getAccessTokenAsync is supposed to run, it does not run again, because a token has already been requested for and I get the error message shown below.

The error message:
![image](https://user-images.githubusercontent.com/11733366/50230

[2018-12-19 19:35] exextoc commented on #335
Depends on the scenario, for meetings/appointments, if you are the organizer, you will have to call item.saveAsync and use the itemId returned there compared to a meeting on which you are an attendee where you can directly access item.itemId.

[2018-12-19 20:59] exextoc commented on #333
getCallbackTokenAsync should show Exchange.Callback.V2 and not V1 when isRest is passed as true. Could you share your outlook build number you are testing this from on MAC? It might be worth testing this API on a windows outlook client too, are you able to reproduce the issue there as well or does that work as expected?

[2018-12-19 21:04] exextoc commented on #336
If the account was set up using the developer program, it would be a test Office365 account. You could use REST to achieve this but in more recent Office clients(which you could get by updating yours), we have an office js API to get the recurrence object. I would look at the documentation [here](https://docs.microsoft.com/en-us/javascript/api/outlook_1_7/office.recurrence?view=office-js) as a sta

[2018-12-19 23:36] JuaneloJuanelo commented on #339
@rvanlaak can you please share the specific build your are using for Word? And I am asking this because we fixed this issue (long time ago) and it should not be adding a new line.

[2018-12-19 23:54] JuaneloJuanelo commented on #338
I was able to repro and will lookin into it. seems tobe that the OOXML gets beyond the image.
THere is a workaround: did you tried wrapping the selected image ? this code should work

[code]

[2018-12-20 09:08] rvanlaak commented on #338
"replace" is not an option for us, because our users always work with track-changes enabled. As result of that, the image gets seen as removed and inserted.

So, as long as programmatically enabling/disabling track-changes is not possible via the API, using the workaround is not a solution. Meaning, this bug does not have a workaround.

[2018-12-20 09:10] rvanlaak commented on #339
We are using Word version 1803, which should be the latest version? https://docs.microsoft.com/en-us/officeupdates/update-history-office365-proplus-by-date

![image](https://user-images.githubusercontent.com/2707563/50275331-624a5480-043f-11e9-8aa0-265749b11324.png)

Is there actually a way for us to write automated tests for this? As in, how can we write functional integration tests for our Word

[2018-12-20 12:38] #335 closed, assigned to nobody

[2018-12-20 12:39] #336 closed, assigned to nobody

[2018-12-20 15:40] rvanlaak opened #341 "[Word] Adding comment to header/footer via OOXML silently continues"
This issue is about when footer or header text is selected, and the selection's OOXML is written to add a comment.

## Expected Behavior

1 - Exception should be thrown, as footers / headers can not have comments. The comments section in the Word UI is disabled (see screenshot below).

2 - `Office.context.document.getSelectedDataAsync` or another API method should allow checking in what place of t

[2018-12-20 16:24] mattblackdev commented on #327
@JuaneloJuanelo we have sent a blast email to all our users asking them if they are experiencing this issue. So far we have 29 respondents who have never sideloaded and only installed through central deployment.

Since this Issue is closed now and likely out of scope anyway, we'll start a premier ticket with Microsoft for support on this. However, I thought you might want to know, given this evide

[2018-12-20 16:31] RoelVB commented on #303
I did some testing. The `office.js` file is actually loaded twice. But this only happens in Internet Explorer.

Internet Explorer:
![officejs](https://user-images.githubusercontent.com/10999128/50297372-eff86500-047c-11e9-9443-981ef32726b1.png)

Chromium:
![officejs2](https://user-images.githubusercontent.com/10999128/50297407-06062580-047d-11e9-8dde-61d4d9ff61db.png)

[2018-12-20 18:13] rodrigoguariento opened #342 "How to detect event Save and it's callback of Outlook add-in"
I built an Outlook Add-in, but I'd like to save my Add-in data when the end user click on Save button (of new Appointment/Calendar). Is it possible do get this event?

If yes, my Add-in would call an API to validate some data and if there is some error, I would like to cancel the Save and alert the end user about why). How to do that?

- Platform: PC desktop (test), Linux Ubuntu (dev), Outlook
- H

[2018-12-20 18:26] rodrigoguariento opened #343 "Is userProfile trusted to identify the end user?"
I would like to know if is necessary to create some authentication to identify an Add-in user? I was thinking to get user info from Office.context.mailbox.userProfile, because (in my mind) who is using Outlook 365 or higher presumably already have made his/her authentication.

Is Office.context.mailbox.userProfile trusted to identify some user in my back-end? Or do I need to create an SSO?

- Plat

[2018-12-20 18:33] markb-trustifi commented on #333
Now `getCallbackTokenAsync` returns:
ver: Exchange.Callback.V2
scp: Mail.ReadWrite Mail.Send Calendars.ReadWrite Contacts.ReadWrite
aud: https://outlook.office365.com

and returns another error for https://outlook.office365.com/api/v2.0/contacts (or messages):
[code]

On the other hand the `getUserIdentityTokenAsync` returns token with:
ver: ExIdTok.V1
aud: https://mydomain/#/mailbox

window locat

[2018-12-20 21:52] exextoc commented on #333
Your request url is malformed: change it to https://outlook.office365.com/api/v2.0/me/contacts and it should work. You should use the token returned by getCallbackTokenAsync and not the UserIdentityToken for the REST call. That should fix your issue.

[2018-12-20 23:06] exextoc commented on #342
Currently the feature: Events for when save is called, you requested, is not a part of the product. We track Outlook add-in feature requests on our[ user-voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

[2018-12-20 23:07] exextoc commented on #343
I would read the documentation here as a good starting point for authentication and when you may need it - [link](https://docs.microsoft.com/en-us/outlook/add-ins/authentication)

[2018-12-21 09:12] RoelVB commented on #303
I've posted an issue on the SPFx side: https://github.com/SharePoint/sp-dev-docs/issues/3160

A work around could be, stopping Office-js from throwing an error when it's already loaded. When it's already loaded it shouldn't try to load again.

[2018-12-21 10:04] rodrigoguariento commented on #342
Thank you!

[2018-12-21 10:04] #342 closed, assigned to nobody

[2018-12-21 11:44] rodrigoguariento commented on #343
Thank you!

[2018-12-21 11:44] #343 closed, assigned to nobody

[2018-12-21 22:28] jpc1976 commented on #142
I am using Excel API v1.8 and I still have the same problem. Property 'showGridlines' does not seem to be available in Excel.Worksheet, despite what the documentation specifies.

Any help appreciated!

[2018-12-23 12:32] markb-trustifi commented on #333
Yes, now I see, thank you for pointing it.
Unfortunately it doesn't solve my problem. I want to get the list of contacts from the compose window but `getCallbackTokenAsync` works only in read-message window:
[code]

[2018-12-26 03:41] dirtyluke opened #344 "chinese charactor support"
hi there
when i try to give a name to a series on a line chart in an excel file and the name was in chinese , after i run the code the name was garbled
here is part of the code
`let newSeries = chart.series.add("振华");`
and i got `æ¯å`

[2018-12-26 17:26] kbrandl commented on #344
@dirtyluke Thanks for reaching out and sorry to hear that you've run into this problem. Issues in this GitHub repository (**OfficeDev/office-js-docs**) are intended for engaging with the product team about the Office JavaScript API open specifications.  Therefore I'm transferring this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for customer-reported A

[2018-12-27 08:55] anilreddyr7 commented on #326
I'm facing the same issue with one of my android devices.
Device Info:
Lenovo K5 Note
Android Version:6.0

I need to use Office.context.mailbox.item.body.getAsync in order to get the content of an email, but the callback is never called. Is this the bug from Office Js?

[2018-12-27 08:56] anilreddyr7 opened #345 "[Office.js] Office.context.mailbox.item.body.getAsync is not working on Lenovo K5 Note"
I'm facing the same issue with one of my android devices.
Device Info:
Lenovo K5 Note
Android Version:6.0

I need to use Office.context.mailbox.item.body.getAsync in order to get the content of an email, but the callback is never called. It is working fine in desktop outlook client, webapp and even mobile web browser as well. It is an issue with mobile android outlook client. Is this the bug from

[2018-12-27 08:58] satrip commented on #326
This was an issue from Android client side. We have fixed it and will be in production by second week of January.

[2018-12-27 09:17] anilreddyr7 commented on #326
Cool. Thanks.

[2018-12-28 01:52] AlexJerabek commented on #5495
@nico-bellante I'm still having this happen for the HTML section. I can't reopen the issue since I'm not an admin on this repo.

[2018-12-28 03:39] Zlatkovsky commented on #5495
@AlexJerabek, reopened it for you

[2018-12-29 05:37] anilreddyr7 opened #346 "Office.context.mailbox.removeHandlerAsync is not working with documented steps."
Hello,

I am trying to run below code.

[code]

But it is failing with below exception. removeHandlerAsync it self is not getting invoked. I just followed the steps that are documented in Office API docs.

Sys.ParameterCountException: multiple optional functions in parameter list
    at Function.Error.create (MicrosoftAjax.js:5)
    at Function.Error.parameterCount (MicrosoftAjax.js:5)
    at c (o

[2018-12-29 06:12] anilreddyr7 opened #347 "OWA: Office.context.mailbox.addHandlerAsync is giving status as failed for when add-in is reloaded"
Office.context.mailbox.addHandlerAsync is giving status as failed.

When add-in is loaded initially, i'm able to see addhandlerasync is working fine. Event is registered properly and selection change event is getting fired. If I try to remove handle using removehandlerAsync and add again with addHandlerAsync, it should work as it does for initial one.

When I try to remove existing handler in one

[2018-12-31 21:53] Zlatkovsky commented on #5495
@AlexJerabek , I also added you to give to the repo, so you should be able to re-open issues in the future.

[2018-12-31 21:57] Zlatkovsky commented on #5495
@AlexJerabek , just tried it with the same "Basic conditional formatting" snippet that you have in your repro -- and I am not able to repro.  I am getting a beautifully multi-line template:

![image](https://user-images.githubusercontent.com/2230453/50568209-be488f00-0d03-11e9-82ea-b02a289694e6.png)

Is this happening to you with any snippet or with particular snippets?

FWIW, I still think there

[2018-12-31 22:22] Zlatkovsky commented on #142
Re-opening and assigning to @JuaneloJuanelo to investigate.

[2018-12-31 22:24] Zlatkovsky commented on #142
Actually, in the StackOverflow, looks like the issue has been resolved after all:

[2018-12-31 22:24] #142 closed, assigned to JuaneloJuanelo

[2018-12-31 22:38] AlexJerabek commented on #5495
Here's a test snippet I just repoed this with: https://gist.github.com/AlexJerabek/372f1dd5f065d89217415f9fb3c348d1

I imported the snippet using the gist URL, copied to the clipboard, then pasted into a .yaml file opened in VS Code. Here's the screenshot:
![newlinechars](https://user-images.githubusercontent.com/38896772/50568637-b390f880-0d09-11e9-91cc-37fc17bfdcf9.png)

[2019-01-02 01:21] theGove commented on #291
I'm experiencing very similar behavior as @misaunde.  However, I think I can provide a way to reproduce the error somewhate consistently.

The example comes from the MS Documentation on the getFileAsync() method as this URL: [https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=office-js](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=office-js).

[2019-01-02 05:18] exextoc commented on #333
In compose-mode, you have to first save the message and then call getCallbackTokenAsync(). Based on this, below sample code should work:

[code]

[2019-01-02 11:12] evantrimboli opened #348 "Custom functions add-in environment has CORS request failure"
I'm trying to execute a CORS `XmlHttpRequest`, however the request fails when running in the custom function environment. I'm able to run the request successfully in Chrome and IE11 if I run it directly in the browser. For example, I navigate to
`https://localhost:3000/functions.html` and then open the console and call `CustomFunctionMappings.MyFn(params).then(function(r) { console.log(r); });` Th

[2019-01-02 16:35] keyur32 commented on #348
Hi @evantrimboli,

Custom Functions currently only support simple CORS, so you may hitting that issue.

Can you try either of the following?

a) check the origin policy on your server?  I may be wrong, but I don't think you can set the policy as part of our http request (as it would by pass the security restriction).

b) We only support same origin (SOP), and simple methods/headers (Simple Cors) f

[2019-01-02 19:50] kbrandl commented on #291
@theGove thank you for providing this information.

@jipyua and @XuanZhouMSFT please see the information that @theGove has provided regarding repro steps for this issue (per your earlier request).

[2019-01-02 21:16] evantrimboli commented on #348
a) You're right, I didn't need to set the header on the client. As I said in my OP, I can make a CORS request to the server from other browser environments, so it's not a server issue.
b) The problem appears to be the authorization header, if I remove that it actually hits the server end point.

Is supporting anything like this on your roadmap? It makes it difficult to make CORS requests with such

[2019-01-03 03:26] richnew10 opened #349 "Adding event handler for dialog messages fails in Outlook for Mac"
## Expected Behavior

STR:

1. Add-in page opens a dialog and registers a handler.

[code]

2. Dialog page sends back.

[code]

Expected: `handleMessage` is called.

Actual: `handleMessage` is not called. Using Vorlon I find that Outlook logs `"messages received cannot be handlered"` when adding the event handler.

`onClose` is successfully called, so events are being delivered to the add-in.

Thi

[2019-01-03 05:34] J-January commented on #291
Update: There is already a fix now, still need some time for code to go to fast food.

[2019-01-03 05:38] donlvMSFT commented on #291
Update: There is already a fix now, still need some time for code to go to product.

[2019-01-03 07:21] ghost opened #350 "Anchor tags not working in Outlook android."
I'm trying to view/download a PDF/Docx file on click of anchor tag in Outlook web add-in (Android).

## Expected Behavior
It should be able to download or view a PDF/docx file.

## Current Behavior
Click on the link from web add-in and this fails to load. I even tried with displayDialogAsync and this just loads a blank window.

This link works fine with iPad/iPhone/MAC/Windows but not in Android O

[2019-01-03 07:27] ghost opened #351 "Updating outlook web addin in admin portal (Centralized deployment) fails to update version number and some danish characters are not supported"
We have a outlook web add-in that is deployed through centralized deployment.

**Question**

1. How can i **refresh/update** the changes in manifest in admin portal. Is just clicking on "Update add-in data" button ?

2. I clicked on "Update add-in data" button but the **version of the add-in remained same**

![image](https://user-images.githubusercontent.com/33859845/50626927-0e6b5f80-0f57-11e9-91

[2019-01-03 08:33] rvanlaak commented on #341
Are there any other options to find out whether the header / footer is selected?

Also asked on StackOverflow: https://stackoverflow.com/questions/54018956/check-if-text-selection-is-in-header-footer

/cc @exextoc @JuaneloJuanelo

[2019-01-03 10:27] markb-trustifi commented on #333
Is there a way to receive such token directly via http request?
or use `getUserIdentityTokenAsync` instead of it for querying Contacts API?

[2019-01-03 17:47] THPubs opened #352 "Can't set a test license token in an Outlook addin"
I'm trying to set a test license token in an Outlook add-in. According to the documentation, I have to set it in the `SourceLocation` in the manifest file:

    <Form xsi:type="ItemRead">
      <DesktopSettings>
        <SourceLocation DefaultValue="https://localhost:3000?et=%3Cr%3E%0A%20%20%3..."/>
        <RequestedHeight>250</RequestedHeight>
      </DesktopSettings>
    </Form>

The problem is

[2019-01-03 19:33] kbrandl commented on #291
@J-January thank you for the update; please comment here again when the fix has been deployed to the product.

[2019-01-03 19:35] kbrandl commented on #349
@richnew10 thanks for reporting this and sorry to hear that you've run into this problem. @exextoc can you please look into this?

[2019-01-03 19:39] kbrandl commented on #352
@THPubs sorry to hear that you've run into this problem. @exextoc can you please look into this?

[2019-01-03 19:56] kbrandl commented on #350
@AnushKatari sorry to hear that you've run into this problem. @exextoc can you please look into this?

[2019-01-03 20:01] kbrandl commented on #351
@AnushKatari can you please post this as a question to Stack Overflow, tagged with the [office-store](https://stackoverflow.com/questions/tagged/office-store) tag? Issues with this repository are intended for reporting problems with the Office JS APIs. Your question is more likely to reach the proper audience on Stack Overflow, and the answer you receive there is more likely to benefit other folks

[2019-01-03 20:01] #351 closed, assigned to nobody

[2019-01-03 20:04] kbrandl commented on #345
@anilreddyr7 sorry to hear that you've run into this problem. @exextoc are you able to provide any feedback about this issue?

[2019-01-03 20:08] kbrandl commented on #346
Closing as duplicate of: https://github.com/OfficeDev/office-js-docs-reference/issues/277.

[2019-01-03 20:08] #346 closed, assigned to nobody

[2019-01-04 03:22] THPubs commented on #352
@kbrandl Great thanks!

[2019-01-04 04:33] abtrip opened #353 "Word online addin - range.style fails in Word Online - works in Client"
When using the below code snippet in Word JS addin in Word online for a document containing customer style in below format , we get error
style name -
ABC Head - Fails in Wrd online, Works in Word client
Abc Head - Works in both Word online and Word client

function Setstyle() {
        Word.run(function (context) {
            // Queue a command to get the current selection and then
            /

[2019-01-04 05:50] exextoc commented on #347
Can you please share the sample code for the same? Also are you trying this for thick client or Outlook web client?

[2019-01-04 06:31] kreja opened #354 "the request cookie in windows Excel is wrong"
## Expected Behavior

I'm writing an excel add-in. It works fine in MacOS(though has some login questions), but when using it in Windows, there is a cookie problem.

## Current Behavior

The cookie in the request header has only one field, so the request can't get the right response

![](https://img.alicdn.com/tfs/TB1HvXez9zqK1RjSZFpXXakSXXa-2678-868.png)
![](https://img.alicdn.com/tfs/TB1RaVgz3Hq

[2019-01-04 06:53] anilreddyr7 commented on #347
I'm facing issue on Outlook Web Client. It is working fine on thick client.

Office.initialize = function (reason) {
  $(document).ready(function () {
    Office.context.mailbox.addHandlerAsync(Office.EventType.ItemChanged, loadNewItem, function (result) {
 **//Here I'm getting above error**
      if (result.status === Office.AsyncResultStatus.Failed) {
        // Handle error
      }
    });
  })

[2019-01-04 07:44] RickVanRousselt opened #355 "Single Sign-on in Word stopped working for latest builds from 1808"
Hi,

I implemented Single Sign-on in Word following these instructions (https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins)

This is working perfectly with the current Semi-Annual channel ( Version 1803 Build 9126.2336)

But when I switch to the targeted release channel (Version 1808 Build10730.20205 or Build10730.20262)
I'm getting the following error:
    code: 130

[2019-01-04 08:21] macOutlookExtensibility commented on #349
Thanks for raising it. Please provide the code for us to help in debugging.

[2019-01-04 08:57] exextoc commented on #347
I tried this sample code and it works for me
Office.context.mailbox.addHandlerAsync(Office.EventType.ItemChanged, loadNewItem, function (result) {
 if (result.status === Office.AsyncResultStatus.Failed) {
  console.log("event error");
 }
 else
  {
    console.log("event registered");
  }
});

function loadNewItem(eventArgs) {
	console.log("event changed");
	};
Can you try the same and see if it wo

[2019-01-04 14:44] anilreddyr7 commented on #347
Can you do this attach addHandlerAsync  event handler on Dom ready and reload the same frame again using right click.  You can see this error. Window reload is causing this issue.

[2019-01-04 16:45] richnew10 commented on #349
I'd love to, but I'm encountering this in a closed-source product.

Are you able to reproduce with the snippets I provided above?

From my research, this looks like a failure to parse the message envelope that's constructed [here](https://github.com/OfficeDev/office-js/blob/b18900e1d90a4e3bb7ab4baad5f0c493e9d9aae9/dist/outlook-mac-16.00.debug.js#L4601) and parsed [here](https://github.com/OfficeDe

[2019-01-04 17:48] exextoc commented on #341
Ignoring since tagged as "area: word"
________________________________
From: Richard van Laak <notifications@github.com>
Sent: Thursday, January 3, 2019 12:33 AM
To: OfficeDev/office-js
Cc: Outlook Extensibility Oncall; Mention
Subject: Re: [OfficeDev/office-js] [Word] Adding comment to header/footer via OOXML silently continues (#341)

Are there any other options to find out whether the header /

[2019-01-04 18:01] dmahugh commented on #261
@LanceEa I've heard today that this bug has been resolved. Please let me know if you run into it or anything similar going forward, and thanks again for your help in identifying it.

[2019-01-04 19:42] exextoc commented on #333
getCallbackTokenAsync is the most direct way for addin to get a REST token. there's no direct http request to get a REST token.  To be clear, getUserIdentityTokenAsync provides user identity, but does not provide access to any APIs.  Please take a look at https://docs.microsoft.com/en-us/outlook/add-ins/authentication for more details or options

[2019-01-04 20:37] kbrandl commented on #341
Closing this issue, as it looks like the [corresponding Stack Overflow question]( https://stackoverflow.com/questions/54018956/check-if-text-selection-is-in-header-footer) has been answered.

[2019-01-04 20:37] #341 closed, assigned to nobody

[2019-01-04 23:25] richnew10 opened #356 "Subresource Integrity hashes for Office.js"
The CDN is:

[code]

The current version in this repo is newer:

[code]

The previous commit is months earlier, and older:

[code]

Is there a process in place for updating this repo? Why is the CDN at a different version? I would expect that:

1. Every version retrieved from the CDN appears first in this repo, so it can be used for Subresource Integrity checks.
2. Each version delivered to the CD

[2019-01-05 00:03] exextoc commented on #352
see comment on https://stackoverflow.com/questions/54026756/cant-set-a-test-license-token-in-an-outlook-addin

[2019-01-05 00:12] exextoc commented on #347
Calling addHandlerAsync before and after reload currently doesn't work in Outlook Web Access. It is unknown when this would be fixed. Right now the recommended work around is to not call "window.location.reload" or similar commands. It would also help to understand your scenario and why window.reload is necessary.

[2019-01-05 00:21] kbrandl commented on #356
@richnew10 thanks for reaching out about this.

@wandyezj are you able to provide feedback regarding the questions @richnew10 has asked about the process/timing for updating this repo (OfficeDev/office-js) relative to the process/timing for updating the CDN?

[2019-01-05 00:28] kbrandl commented on #352
@exextoc thanks for the pointer to the related question on Stack Overflow.

@THPubs and @exextoc I'm going to close this issue in the **OfficeDev/office-js** repo; please continue to engage as necessary on the related Stack Overflow post:  https://stackoverflow.com/questions/54026756/cant-set-a-test-license-token-in-an-outlook-addin. (Stack Overflow question/answer is more likely to be discovered

[2019-01-05 00:28] #352 closed, assigned to exextoc

[2019-01-05 00:30] kbrandl commented on #354
@kreja thanks for reaching out and sorry to hear that you've run into this problem.

@JuaneloJuanelo are you able to provide any feedback about this issue?

[2019-01-05 00:31] kbrandl commented on #353
@abtrip thanks for reaching out and sorry to hear that you've run into this problem.

@JuaneloJuanelo are you able to provide any feedback about this issue?

[2019-01-05 00:32] kbrandl commented on #355
@RickVanRousselt thanks for reaching out and sorry to hear that you've run into this problem.

@JuaneloJuanelo are you able to provide any feedback about this issue?

[2019-01-05 00:35] kbrandl commented on #332
@ThePillowPrince thanks for reporting this problem, and for providing the detailed update as well.

@JuaneloJuanelo is there someone on the Word product team that we can hand-off this issue to (if it is indeed a problem with Word itself, as @ThePillowPrince suggests)?

[2019-01-05 01:14] Rick-Kirkham commented on #355
@niteshgolchha85 This is probably better directed to you than Juan.

[2019-01-05 13:33] rvanlaak commented on #341
Yes, the issue has been solved. Thanks for that.

The developer experience could be improved though, by throwing an exception in case the OOXML could not get accepted on `setSelectedDataAsync`.

[2019-01-06 19:13] MortenHaldMortensen opened #357 "Trigger VBA commands on open via Office.js"
## Expected Behavior
On Windows autoopen/autonew commands kicks in when opening a document using https://docs.microsoft.com/en-us/javascript/api/word/word.application?view=office-js#createdocument-base64file-.

This would be expected behavior on MAC as well.

## Current Behavior
Nothing happens...

## Steps to Reproduce, or Live Example
Create a "hello world" box that should run on autoopen/autone

[2019-01-07 21:04] #275 closed, assigned to nobody

[2019-01-08 02:56] niteshgolchha85 commented on #355
Since this feature is not GA yet so there could be some issue with the flighting service. Can you restart your office application and try again?

[2019-01-08 11:09] zakhan4 opened #358 "Word Add-In: BindingSelectionChanged event does not gets called after binding value is updated"
I'm working on Office JS Word Add-in with React and TypeScript. I created bindings and attach event handlers of BindingSelectionChanged and BindingDataChanged to it from Task Pane. And the callback functions are called just fine whenever the binding value is updated or selected.

Then I had a use case where I needed to update the binding values when clicking on the button from the menu bar. So I c

[2019-01-08 13:51] justdevelopment opened #359 "Error 5001 on getAccessTokenAsync - Outlook for web 'New experience'"
When opening an add-in which uses the Office SSO (Office.context.auth.getAccessTokenAsync) the new Experience in Outlook for web returns an 5001 Internal Server error.
Regular Outlook for web and up to date desktop versions of Outlook work correctly.

![image](https://user-images.githubusercontent.com/23448165/50834266-dfd4f680-1353-11e9-9b03-2b22e790cc0a.png)

I'm unsure where to report this issu

[2019-01-08 14:10] LanceEa opened #360 "Excel Online - Settings not persisting using Excel Specific settings API"
Cross posting from Stackoverflow because it hasn't been updated to indicate whether it was fixed or not and I do not have the ability to comment on Stackoverflow.

https://stackoverflow.com/questions/51661308/excel-js-online-settings-not-persisting-past-session

@dmahugh @JuaneloJuanelo - Can you comment on this here and/or Stackoverflow.

## Expected Behavior
Settings should get persisted using t

[2019-01-08 14:11] LanceEa commented on #261
@dmahugh - Thanks for the update. I have tested and so far it seems to be addressed. I have asked two other colleagues of mine to test and verify as well. I will let you know as soon as I hear back from them!

[2019-01-08 15:17] RickVanRousselt commented on #355
Did that... Also rebooted my machine, and tried on another user's machine.

[2019-01-08 15:20] RickVanRousselt commented on #355
Already tried it. Also rebooted my machine. And because I'm running this directly in debug mode from VS is also tried this with another user's machine where the add-in is installed into the tenant

[2019-01-08 15:42] kreja commented on #354
Do you have any ideas? I'm stuck by this issue.

[2019-01-08 21:58] JuaneloJuanelo commented on #327
@mattblackdev  i am re-opening the issue, based on your feedback, and sorry most of the team including me out on vacation. Can you please provide more details about your support case? what's the latest on this? is this still impacting your customers?

[2019-01-08 22:01] JamesIgoe commented on #5
I hope this isn;t too far off topic, but I have a question:

I ham finalizing the JS and CSS loading for an Office add-in, and need to write a fallback for the Office CDN. I have one for jQuery that works, but I don't know what to check for if the AppsForOffice files do not load. What object do I need to test for? I've searches around and did not find any example code for this CDN. I've tried test

[2019-01-09 02:46] THPubs commented on #352
Still waiting for a solution...

[2019-01-09 15:45] mattblackdev commented on #327
@JuaneloJuanelo Thanks for re-opening!

Out of 134 original users emailed, 36 users responded. Of those 36, 35 have the issue and only one does not.

Those 36 are all on Windows. I cannot say whether they are on Win 7 or Win 10 but I would assume most are on Win 10.

Of those 35 with the problem, only 3 or 4 did a side-load before installing from the company store.

As for the premier ticket, I do

[2019-01-09 20:08] JuaneloJuanelo commented on #327
excellent we are opening an incident to help you fix this.
i need more details from you (offline)
thanks!

[2019-01-10 00:20] niteshgolchha85 commented on #359
SSO is not yet supported on the new Outlook for Web version. I am expecting this to be supported in preview by the end of current month.

[2019-01-10 00:48] kbrandl commented on #360
@LanceEa thanks for reaching out about this.  @JuaneloJuanelo are you able to provide an update regarding that status of the bug that Lance describes?

[2019-01-10 16:34] markb-trustifi commented on #333
The solution is found.
Instead of office-js methods we can use the standard OAuth2 REST API:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

[2019-01-10 17:37] LanceEa commented on #261
@dmahugh - Has the fix been deployed? I'm still seeing the issue and getting 500 error returned. The gist above still fails in ScriptLabs.

The current Excel Online build for me is **16.0.11305.35027**

[2019-01-10 18:03] JuaneloJuanelo commented on #357
First of all a quick clarification, since this question is a bit misleading: It depends on your trust center settings whether if you will be able to execute a macro in Windows. where by default macros are disabled and users will be prompted if they call the createWorkbook API.  So for the vast majority of users they will be prompted if you intend to run a Macro.

The feature was disabled in Mac an

[2019-01-10 18:03] #357 closed, assigned to nobody

[2019-01-10 18:47] dmahugh commented on #261
Turns out it has not been deployed, sorry about that! (I misunderstood an internal communication.)
I'll follow up with engineering on this. By the way, are you able to work around it doing multiple smaller requests?

[2019-01-10 20:13] MortenHaldMortensen commented on #357
Hi @JuaneloJuanelo

Thank you for the response on this. I accept that it is closed and have found a work-around.

I was confused that it did work on Windows and that it worked on the Mac when opening a document (linked to a template) not using office.js. Also do note that the "issue" was with Word and not Excel. I will note that this is a feature that is discontinued purposely.

[2019-01-10 21:31] JuaneloJuanelo commented on #327
@mattblackdev  ping we need your help to repro the issue, can you please ping me? thanks! also it will be great to have the manifests and the link your add-in in the store...

[2019-01-10 21:56] LanceEa commented on #261
Ok thanks for the update. I'm sure I could but my Excel Online user base is small and right now they have been accepting of the work around.

**Workaround:**
Delete the excel sheet and/or delete the table before refreshing.

Again not ideal but we have a good enough relationship with our customers and the users that they are willing to do it for now.

[2019-01-10 23:37] JuaneloJuanelo commented on #357
thanks.. whats the workaround? also this info applies to Excel, Word and PPT, good catch!

[2019-01-11 08:50] MortenHaldMortensen commented on #357
The workaround was a completely different approach to support the legacy VBA features in a transitioning period where office.js is used for creating and legacy VBA can run until everything can be transitioned.

[2019-01-11 16:09] richnew10 commented on #356
Any news on this? The CDN files seem to be updated very frequently:

[code]

[2019-01-11 20:16] JuaneloJuanelo commented on #356
@sumurthy is a good person to answer this.
@richnew10 : why is this question relevant? our updates are incremental, and yes they are updated relatively frequently. the goal is to have that repo consistent to additions to APIs we ship.

[2019-01-11 20:57] JuaneloJuanelo commented on #360
still working on a fix and btw you have a workaround as described on stack. please use the workaround for now. thanks!

[2019-01-11 20:57] #360 closed, assigned to nobody

[2019-01-11 21:23] richnew10 commented on #356
@JuaneloJuanelo @sumurthy I would like to build an automated mechanism for computing [Subresource Integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) hashes for valid, published office.js files. On the face of it, this repository would be the right way to do this, if new releases appear here at some point before they are pushed to the CDN.

Right now add-in deve

[2019-01-13 04:30] stephenb159 opened #364 "getActiveparagraphOrNull() always returns null"
I am unable to make getActiveparagraphOrNull() (in the application class) EVER return a paragraph type other than null?
I am thinking this may be a bug in the API, but wanted to check to see if there was something wrong. I have no problem getting the active section, page, or outline. Take this code snippet:

function currentparagraph(){
OneNote.run(function (context) {
    var paragraph = context.

[2019-01-14 02:15] kreja commented on #354
waiting for your reply...

[2019-01-14 05:31] jarodchen opened #361 "promptBeforeOpen: false setting for Office.context.ui.displayDialogAsync not work for outlook online"
## Expected Behavior
if we set promptBeforeOpen: false, displayDialogAsync will not pop a confirm window.

## Current Behavior
displayDialogAsync always pop a confirm window, ignore the setting of promptBeforeOpen

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC deskto

[2019-01-14 08:03] Rick-Kirkham commented on #364
You must call context.sync after calling a *OrNull method or property. After the context.sync, you read the returned object's isNullObject property.

[code]

[2019-01-14 09:12] abtrip commented on #353
Hi all - i want to check back on this issue for your feedback and help

[2019-01-14 11:39] RickVanRousselt commented on #355
By now this issue has been pushed trough to the Semi-Annual Channel release that went live this month. Version 1808 Build 10730.20264

[2019-01-14 12:53] stephenb159 commented on #364
I should have mentioned that I tried it both ways already. This doesn't solve the problem. IT still returns "True" for the IsNull Object no matter what paragraph I have active. It will never return an actual paragraph object.

Relatedly, I think insertHtmlAtCurrentPosition(html) never works either, which makes me suspect there is an API bug in detecting the current position in OneNote, can you loo

[2019-01-14 13:12] ndeeH commented on #307
@JuaneloJuanelo @kbrandl Any new information for us or what to test at the customer site?

[2019-01-14 13:42] LanceEa commented on #360
@JuaneloJuanelo - Thanks for the update. Can we please leave this open so that once resolved it can be commented on here? AFAIK, there is no subscribe feature in stack overflow unless you participate (comment, answer, etc...).

This way I will get notifications from Github and know that we can revert the code.

Thanks,
Lance

[2019-01-14 17:04] rodrigoguariento opened #362 "How can I show my Outlook add-in in my Outlook for Android?"
Does anyone know how to configure my manifest.xml to show my Outlook Add-in in my Outlook for Android? My ExtensionPoint (xsi:type) was set for Desktop with AppointmentOrganizerCommandSurface.

At this moment my Add-in is working fine at PC, online, etc. except in my Outlook for Android. I'm not getting to see the button at some "OfficeTab".

Thanks!

Here is a snippet of my manifest.xml:

  <Vers

[2019-01-14 17:53] danielgwilson commented on #361
Hey! Sorry to hear you're running into an issue here—can you post your Office version number? It's in the About section of the File menu:

![wac_build](https://user-images.githubusercontent.com/11265967/51130581-27d79b80-17e2-11e9-8007-006bf3d486c7.jpg)

[2019-01-14 19:07] Rick-Kirkham commented on #364
I can reproduce on OneNote Online. I'm consulting with the product team.

[2019-01-14 20:05] exextoc commented on #362
Hi Rodrigo,

You need to add a MobileFormFactor node in the VersionOverrides v1.1 section. Please take a look here for more details:

[https://docs.microsoft.com/en-us/outlook/add-ins/add-mobile-support](https://docs.microsoft.com/en-us/outlook/add-ins/add-mobile-support)

[2019-01-14 22:20] wandyezj commented on #356
Hello @richnew10

The files in the GitHub office-js repository are currently updated on an adhoc basis.

At the moment, the office CDN always contains the most up to date files.

We are currently working on internal tooling to be able to update the files in the office-js repository on a more frequent basis in line with the office CDN.

[2019-01-14 22:45] richnew10 commented on #356
In the temporary absence of a notification channel, a couple of follow-up questions:

How long does it take for the Office CDN to achieve global stability when replicating a new version, such that all clients in all locations will see the same snapshot? 30 seconds? 5 minutes?

Is it acceptable for service providers to poll to detect changes? What is the highest frequency that's acceptable?

[2019-01-14 22:48] richnew10 commented on #356
And will that new internal tooling be retrospective (i.e., CDN deploy occurs prior to GitHub push) or prospective (GitHub first, then some pause, then CDN deploy)?

[2019-01-14 22:55] wandyezj commented on #356
Regarding Subresource Integrity hashes,

I'm not sure that Subresource Integrity hashes are practical for Office Add-ins:

* The Office CDN is meant to be updated at any moment to address any immediate issues.
* Office.js itself, is an entry point that loads other files on the Office CDN.
* The Office CDN is compliant with various governments security standards.
* Office Add-Ins are recommended/re

[2019-01-14 22:58] wandyezj commented on #356
Regarding Office CDN and GitHub update timing,

At the moment I can't give you any absolute guarantees on what will come first. In general you can expect the Office CDN to be the source of truth.

[2019-01-14 23:23] richnew10 commented on #356
In general, I would 100% prefer to host my own copy of the entire office.js code, which would allow for better testing and solid automated SRI. However, the add-in docs require that the Office CDN version be used if the add-in ships via AppSource. If that's no longer the case, please let me know (and update the docs!).

HTTPS is necessary but not sufficient; it makes attacks more challenging. Asso

[2019-01-14 23:29] richnew10 opened #1005 "Document required CSP values"
"Content Security Policy (CSP) is a computer security standard introduced to prevent cross-site scripting (XSS), clickjacking and other code injection attacks resulting from execution of malicious content in the trusted web page context."

https://en.wikipedia.org/wiki/Content_Security_Policy

A site with a CSP tag — which, ideally, should be every site — should whitelist individual domains that a

[2019-01-15 01:20] Rick-Kirkham commented on #364
This has been confirmed as a bug.* Someone will update here when it is fixed and/or when there is a workaround.

*The under-the-hood C# version of the method, that the JavaScript method wraps, actually consist of the single line saying "return null;" This is preceded by a comment saying, in so many words, the following is a placeholder for method body.
 LOL!!!!

[2019-01-15 09:57] zakhan4 commented on #358
It would be great to have an update on this please, or if you have any questions regarding the issue. Thanks!

[2019-01-15 10:22] rodrigoguariento commented on #362
Cool,

I wrote the following, it works but at Outlook Mobile for Android, no one icon is displayed. What I made wrong?

        <MobileFormFactor>
          <FunctionFile resid="residUILessFunctionFileUrl" />
          <ExtensionPoint xsi:type="MobileMessageReadCommandSurface">
            <Group id="mobileMsgRead">
              <Label resid="myAppGroupLabel" />
              <Control xsi:type="M

[2019-01-15 16:21] wandyezj commented on #356
Regarding Subresource Integrity hashes,

Just checking that we are on the same page: Office.js is a loader that loads other JavaScript files off of the Office CDN. So while the Subresource Integrity hash can be checked for Office.js the Subresource integrity hash will not be checked for the JavaScript files that Office.js loads.

It's possible to view Office.js file loading behavior using F12 tool

[2019-01-15 17:25] richnew10 commented on #356
Specifying SRI for office.js is the only thing an add-in is able to do, so it's a good first step. @wandyezj I think it would be a fine idea for `office.js` to itself use SRI when loading other files from the CDN, if it does so by adding script tags to the DOM. It's super easy if you're in control of the build system: build 'bottom-up' and calculate hashes. A nice safety win for users.

For those

[2019-01-15 17:55] wandyezj commented on #356
Thank you for the pointers @richnew10 !

Are Subresource Integrity hashes essential for your Add-In?

If you have a very strong security requirement for using Subresource Integrity hashes, you can include a note about it in your store submission. The store may grant an exception for you to reference your own version of Office.js. This would allow you to host and reference your own version of the o

[2019-01-15 18:43] Rick-Kirkham commented on #364
tracked using 2800061in the OneNote project of Azure DevOps, not the OC project.

[2019-01-15 20:55] dmahugh commented on #327
Closing this issue because @JuaneloJuanelo has taken it offline to work on a fix. Thanks @mattblackdev for reporting the issue and providing so much information!

[2019-01-16 03:25] stephenb159 commented on #364
Thank you for looking into this, and please keep me updated. Being able to access the active paragraph is critical to my development workflow.

[2019-01-16 09:50] dcruceanu opened #365 "Deleting a very hidden worksheet"
Hello,

I'm trying to delete a worksheet whom visibility is very hidden.

This piece of code
var hiddenSheet = context.workbook.worksheets.getItem('HiddenSheet');
hiddenSheet.delete();

Crashes into:
GeneralException: There was an internal error while processing the request.

I'm getting the office library using the NPM package for Office.js which is a copy of what gets published to the official "

[2019-01-16 19:33] richnew10 commented on #356
I wouldn't say "essential", in that it would work without them, but SRI (along with the rest of the family of web security technologies) is part of an expected baseline that we feel is necessary for our users.

I am hesitant to rely on "may grant", only to find out later that we took the wrong path — do you have a contact I can email to discuss further about how to proceed?

[2019-01-16 23:07] exextoc commented on #361
Thanks for reporting the issue, Jarod. We've confirmed that the parameter does not work currently for Outlook Web, and are looking into it further.

[2019-01-17 03:10] qquiuc opened #366 "addHandlerAsync with event RecipientsChanged not working on MAC"
Hi Team,
I'm working on a office web add-in project, we have used the addHandlerAsync method to register the event in the add-in,
### here is how we use the event
[code]

### here is the callback method, just show the event called times on the html
[code]

The test result from outlook client on windows shows the event called event time when i change the TO or CC in the outlook, but for outlook cli

[2019-01-17 17:51] kbrandl commented on #366
@qquiuc sorry to hear that you've run into this problem. I'm going to transfer this issue to the OfficeDev/office-js repo, where Office JavaScript API issues like this are tracked (and managed by members of the product team).

[2019-01-17 19:35] dmahugh commented on #360
Re-opening this issue per @LanceEa request.

[2019-01-18 10:59] rodrigoguariento commented on #362
Solved by myself! Thank you all.

See: [https://github.com/OfficeDev/outlook-add-in-command-demo/blob/master/command-demo-manifest.xml](https://github.com/OfficeDev/outlook-add-in-command-demo/blob/master/command-demo-manifest.xml)

[2019-01-18 10:59] #362 closed, assigned to nobody

[2019-01-21 06:09] wandyezj commented on #356
@sumurthy could you please follow up with @richnew10 ?

@richnew10 is there an email we can contact you at?

[2019-01-22 16:30] #333 closed, assigned to exextoc

[2019-01-22 16:43] #211 closed, assigned to keyur32

[2019-01-22 16:45] #218 closed, assigned to JuaneloJuanelo

[2019-01-22 17:12] #245 closed, assigned to nobody

[2019-01-22 17:14] #246 closed, assigned to nobody

[2019-01-22 17:15] #249 closed, assigned to nobody

[2019-01-22 17:17] #255 closed, assigned to nobody

[2019-01-22 17:17] #256 closed, assigned to nobody

[2019-01-22 17:23] d4rth-v4d3r commented on #245
Forgot to comment that I resolved this issue adding `babel-polyfill` npm package

[2019-01-22 17:29] #273 closed, assigned to dmahugh

[2019-01-22 17:30] #278 closed, assigned to nobody

[2019-01-22 17:37] #283 closed, assigned to nobody

[2019-01-22 17:41] dmahugh commented on #282
Thanks for the feedback, @hengchengfei. I've passed this on to the engineering team.

Watch for updates on the [Excel requirement sets](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets
) and [Word requirement sets](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/word-api-requirement-sets) documentation pages.

[2019-01-22 17:41] #282 closed, assigned to nobody

[2019-01-22 17:43] dmahugh commented on #285
@ThorstenHans are you still experiencing this issue? Sorry for the delay, just noticed this one is still open.

[2019-01-22 23:13] JuaneloJuanelo commented on #262
this issue is fix and shipped on since Ver 16.20 (december update)

[2019-01-22 23:13] #262 closed, assigned to JuaneloJuanelo

[2019-01-22 23:46] nrakochy commented on #366
I am facing a very similar issue.  In my case, the change handlers are getting called on 1st load, but subsequent changes are not invoking the callback.

Example code
[code]

[2019-01-23 00:56] qquiuc commented on #366
Hi @nrakochy
I have open an same issue in the stack overflow you could add comments to this to double push the office js team.
https://stackoverflow.com/questions/54232201/outlook-web-add-in-event-recipientschanged-not-working-outlook-on-mac

[2019-01-23 16:47] rvanlaak commented on #222
Any update on this bug report?

[2019-01-23 16:47] rvanlaak commented on #337
Any update on this bug report?

[2019-01-23 16:47] rvanlaak commented on #338
Any update on this bug report?

[2019-01-23 16:48] rvanlaak commented on #339
Any update on this bug report?

[2019-01-23 17:01] rvanlaak commented on #334
Any update on this?

Having programmatic read & write access to the track-changes settings would allow us to temporarily disable track-changes, then write the OOXML, and thereafter enable the track-changes again.

[2019-01-23 19:07] cliplicht opened #369 "Addin not present!"
Platform: Mac OSX Mojave (latest)
Product: Outlook
Version: 16.22.0 (19012002)

I loaded the add-in over the manifest.xml into Outlook via the Store button. The add-in is also shown in the Store UI but no CustomTab is shown in Outlook!

on the Windows platform the add-in works fine!

Issue encountered while completing this quick start: https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?t

[2019-01-23 21:23] kbrandl commented on #366
@nrakochy and @qquiuc based on input from @macOutlookExtensibility within the related [Stack Overflow post](https://stackoverflow.com/questions/54232201/outlook-web-add-in-event-recipientschanged-not-working-outlook-on-mac), it sounds like API requirement set 1.7 is not yet supported on Outlook for Mac (and since the `RecipientsChanged` event is part of API requirement set 1.7, this means it won't

[2019-01-23 21:25] #366 closed, assigned to macOutlookExtensibility

[2019-01-23 22:33] JuaneloJuanelo commented on #365
thanks for reporting this we are investigating this issue.

[2019-01-23 22:56] niteshgolchha85 commented on #355
Sorry it's not working on the expected release channels. We are investigating this issue and will respond as soon as we find something. Our initial guess is that the SSO feature has not been flighted but I'll double check that.

[2019-01-24 07:48] csgmike opened #367 "Double clicking the 'Allow' button on the dialog consent form in Word Online launches two dialogs"
## Expected Behavior
Only one dialog should be launched regardless of single/double click

## Current Behavior
When doble clicking the 'Allow' button, two dialogs are shown

## Steps to Reproduce
1. Load the 'Script Lab' addin in Word Online
2. Launch the 'Code' taskpane
3. Click the hamburger in the top left of the panel until you have the code view
4. Click the user login button in the top right

[2019-01-24 17:01] RXminuS commented on #368
Yes this issue still exists; could we re-open? I have the exact same behaviour but using FuseBox HMR.

Also...I don't understand how Office.context.document.removeHandlerAsync is supposed to work...it takes in a "string" as a function name? But the handler that we pass to Office.context.document.addHandlerAsync takes a function. In my case I pass in an arrow function...which is unnamed; how would

[2019-01-24 17:12] kbrandl commented on #368
@RXminuS thanks for reaching out about this. I'll re-open this issue and then I'm going to transfer it to the **OfficeDev/office-js** repository (which the members of the product team monitor for Office JS API issues like this).

[2019-01-28 05:57] abtrip commented on #353
A gentle check on this

[2019-01-28 23:57] misaunde opened #545 "Heavy usage of suspendScreenUpdatingUntilNextSync() causes Add-in Panel to blink"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Product
Excel

## Feedback
I was really excited to try out `suspendScreenUpdatingUntilNextSync()` and so I went to one of my add-ins that does quite a bit of writing (writes out 10

[2019-01-29 01:03] JuaneloJuanelo commented on #353
@abtrip  what is the literal style name you used when creating it? "ABC Style" or "Abc Style" or which one.

[2019-01-29 01:31] JuaneloJuanelo commented on #353
I was able to repro this issue and i noticed that its not even working with any option in Online. its a bug and
we are tracking with 2874167.

[2019-01-29 01:35] JuaneloJuanelo commented on #354
@niteshgolchha85  i wonder if you can provide guidance on this case? thanks!

[2019-01-29 01:37] JuaneloJuanelo commented on #358
@zakhan4  please provide a script lab snippet with a repro and we can investigate faster. thanks!

[2019-01-29 01:52] JuaneloJuanelo commented on #1005
@AlexJerabek  seems to be a documentation gap

[2019-01-29 01:58] JuaneloJuanelo commented on #353
issue was fixed and rolling out to prod, we will be able to validate soon.

[2019-01-29 03:11] lumine2008 commented on #344
@dirtyluke, would you please try the following code, it works for me to add chinese characters
let newSeries = seriesCollection.series.add("振华");

full code can be found at here:
async function addSeries() {
  await Excel.run(async (context) => {
    const sheet = context.workbook.worksheets.getItem("Sample");

    let seriesCollection = sheet.charts.getItemAt(0);
    let rangeSelection = sheet.ge

[2019-01-29 03:13] lumine2008 commented on #344
this is the screenshot for the demo
![image](https://user-images.githubusercontent.com/26398035/51881596-c6552680-23b6-11e9-89b3-e5f73c2bf05f.png)

[2019-01-29 09:55] zakhan4 commented on #358
@JuaneloJuanelo since the error happens when I update binding values after clicking on the button on the Word Ribbon, I don't think I will be able to reproduce the same error using Script Lab, since there is no way to configure the Function File in Script Lab, or is there?

[2019-01-29 11:30] serjant commented on #368
I also encountered this issue lately and it still persists

[2019-01-29 16:19] mattblackdev commented on #327
@JuaneloJuanelo what's the latest on this?

[2019-01-29 17:53] kbrandl commented on #369
@cliplicht thanks for reporting this issue. Since this sounds like a product issue (custom tab not appearing on Outlook for Mac) I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for issues like this.

[2019-01-29 18:00] dmahugh commented on #545
Thanks for reporting this. I agree it feels counter-intuitive for suspendScreenUpdatingUntilNextSync() to cause increased flashing as shown in the GIF above. @JuaneloJuanelo, any thoughts?

[2019-01-29 19:30] nrakochy opened #370 "Add Recipient to Appointment in Compose Throws Error"
Setting the recipients via the office.js api is throwing an error.

## Expected Behavior
The array passed to the API should correctly set the recipients.

## Current Behavior
Both `setAsync` and `addAsync` are throwing `Sys.ArgumentException: Sys.ArgumentException: Value does not fall within the expected range.` when receiving array of email addresses to set, which I have tried on these attributes

[2019-01-29 21:54] JuaneloJuanelo commented on #327
@mattblackdev  a fix was deployed late last week, can you give it a try now and see if the fix is applied? thanks!

[2019-01-30 02:22] niteshgolchha85 commented on #355
It seems that the flight for SSO has been turned OFF for the semi annual channel. This is by design - supposedly, we do not ship preview features for stable versions, incl perpetual. I'll see if we can document this.

[2019-01-30 10:40] lumine2008 commented on #344
@dirtyluke which platform are you experiencing this issue?

[2019-01-30 17:59] AlexJerabek commented on #1005
Hi @richnew10,

I'm researching the answer to your question with the product team. I'll update the documentation when I get a complete domain list.

In the meantime, I'll get this issue moved to the [documentation repo](https://github.com/OfficeDev/office-js-docs-pr), since this is not a product bug.

[2019-02-01 08:24] ambachtelijk opened #371 "Office.context.mailbox.displayNewMessageForm does not open new message form if user has received an email"
The `displayNewMessageForm` endpoint of the Outlook API does not open a new message form if the user has received an e-mail after the task pane plugin from which the action is triggered has initialized.

## Expected Behavior
When `Office.context.mailbox.displayNewMessageForm` is called in Outlook from a task pane with valid parameters, it should always open a new message form, regardless of the st

[2019-02-01 08:26] csreddyennam opened #372 "Office Add-in Desktop application"
Developed office Add-in for desktop, this doesn't load the local office.js (we have same set of files and structure as in CDN) file, when we point to the CDN path it work fine.
we don't see any error, tried to debug by F12 no luck

## Expected Behavior
Add-in should work with local path (relative path)

## Current Behavior
It should work for both relative path and absolute path

[2019-02-01 15:32] zakhan4 commented on #358
@JuaneloJuanelo I have created a github repo to reproduce the error I'm getting. Here is the link to the repo: https://github.com/zakhan4/test_addin. I have used yoeman generator to generate this project.

I have also updated the steps to reproduce in the original question. Please have a look and let me know if you have any questions!

[2019-02-01 19:05] JuaneloJuanelo commented on #372
why are you not using the CDN? also how are you getting your own copy of Office.js? and finally what products are you targeting with yout add-in?

[2019-02-02 19:15] csreddyennam commented on #372
Hi,
Thanks for your reply,
This is our on-premise solution. It may be possible that the customer may not have internet connection and they are operating in restricted environment. thats why we have provided the on-premise copy of officejs distributed by downloading it from NPM package from https://www.npmjs.com/package/@microsoft/office-js

we have also noticed that the version of office.js file i

[2019-02-04 11:45] abdulkareemnalband opened #373 "Office.js is not working in new outlook"
## Expected Behavior
Office.js API should work in "new outlook" (web)

## Current Behavior
Office.js calls fail on new Outlook (web)

## Steps to Reproduce, or Live Example
1. Open web outlook https://outlook.office.com/owa/?path=/calendar/view/Day
1. Enable new outlook (look at top right corner)
![image](https://user-images.githubusercontent.com/3139353/52205916-a9c95a80-289e-11e9-8835-bc36d3090f

[2019-02-04 13:19] alirezastack opened #374 "Unable to get property 'displayDialogAsync' of undefined or null reference"
I have used office js helpers module to implement login with Google and Facebook. The functionality works as expected in Office Online, but when I run the addin inside of Microsoft Word 2016 in Windows 10 it gives an error.

## Expected Behavior
Open a dialog box for authentication

## Current Behavior
gives the below error:
`Unable to get property 'displayDialogAsync' of undefined or null referen

[2019-02-04 21:04] exextoc commented on #361
We have resolved this issue and the fix will be deployed soon.

[2019-02-04 21:04] #361 closed, assigned to exextoc

[2019-02-05 01:15] Zlatkovsky commented on #374
From what you're describing, it sounds like it's an unpatched version of Office 2016 MSI.  You need a version that supports DialogApi 1.1.  See more at <https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/dialog-api-requirement-sets>.  You can either make this requirement set be a hard requirement in the manifest, or something that you query at runtime using `Office.cont

[2019-02-05 01:16] #374 closed, assigned to nobody

[2019-02-05 01:21] niteshgolchha85 commented on #355
Thank you for bringing this up..
The documentation has been updated with this information now - https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins
Do let me know if you run into this issue for any other build. If not, please close this issue.

[2019-02-05 04:39] exextoc commented on #373
This scenario occurs when calling Office.context.mailbox.item.saveAsync on a new Calendar item that has not been sent yet. This is a known issue and we are looking into a solution to resolve this so that the API can be used as designed. The API should behave as designed in Mail and on Existing Calendar items. Note that for existing Calendar items, an update may be sent out to attendees depending o

[2019-02-05 23:57] JuaneloJuanelo commented on #372
@csreddyennam in order to help you i need more information. can you please make sure to use our template to report issues? that way we will be able to help you faster.

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop,

[2019-02-06 07:38] RickVanRousselt commented on #355
Cool, Thanks for the help

[2019-02-06 13:00] jacob-j commented on #225
@JuaneloJuanelo Hello Juan. Do we have any updates on this issue? :) Thanks in advance

[2019-02-06 15:42] robraytaylor opened #375 "Cannot save Custom Properties on Calendar Event in new Outlook"
Cannot save Custom Properties on Calendar Event in new Outlook

## Expected Behavior
In the current version of outlook (not new) we can load and save custom properties using the following API call in Office JS ;
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.7/office.context.mailbox.item#loadcustompropertiesasynccallback-usercontext

## Current Behavior

[2019-02-06 16:19] JosephJShort commented on #375
More useful logs
------------------

The server responds with a 500 and the following text:
`{"Body":{"ErrorCode":500,"ExceptionName":"ErrorInvalidIdEmptyException","FaultMessage":"Id must be non-empty.","IsTransient":false,"ResponseCode":"ErrorInternalServerError"}}`

The request payload is a URL-encoded JSON blob inside the `x-owa-urlpostdata` header.
`{"request":{"__type":"SaveExtensionCustomPr

[2019-02-06 21:15] exextoc commented on #375
Thanks for reporting the issue. We've confirmed that save custom properties not working currently for new Outlook Web, and are looking into it further.

[2019-02-07 12:15] sebasthuis commented on #332
@kbrandl : Thank you for your response.
@JuaneloJuanelo : Is there any status update on this issue?

[2019-02-07 19:09] mberacochea opened #376 "Word Add-In not loading the first time"
The Word Add-In we built doesn't load the first time but it does the second time.

## Expected Behavior
I expect the Add-In to open the first time.

## Current Behavior
The Add-In panel says "Loading...". On the F12 debug console I can see an "Office Preload.html" window but nothing happens.

![image](https://user-images.githubusercontent.com/1123897/52436110-2b64f680-2af2-11e9-9ad0-bf515da99cd4.p

[2019-02-07 19:58] JuaneloJuanelo commented on #376
we need a few more details to be able to help you.
1. how did you launched the add-in ?
2. can you please provide a copy of your manifest?

thanks!

[2019-02-07 22:44] #63 closed, assigned to nobody

[2019-02-08 00:25] exextoc commented on #371
@ehmPlankje Have you tried to hookup ItemChanged event? For pinned add-in, this event will be triggered every time when item changed. Please find related articles [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/office.context.mailbox?view=office-js#addhandlerasynceventtype-handler-options-callback).

[2019-02-08 00:30] JuaneloJuanelo commented on #365
@dcruceanu This behavior is by design. The reason why we even have veryHiddenSheet is precisely to prevent the user from accidentally deleting it. so if you want to delete a very hidden you need to change its visibility to either hidden or visible and then delete it.

something like

[code]
so that's what you need to do.

[2019-02-08 00:35] JuaneloJuanelo commented on #365
@AlexJerabek  we probably need to document this behavior https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheet?view=office-js#delete--

that method will fail if a worksheet is very hidden.

[2019-02-08 00:35] #365 closed, assigned to JuaneloJuanelo

[2019-02-08 12:02] mberacochea commented on #376
Thank you for your quick response.

I launched the Add-In from the Insert menu. Is that what you are asking.

Manifest:
[code]

I have validated the manifest with `office-addin-validator` using this [guide](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest).

Thank you.

[2019-02-08 16:07] isawek opened #377 "newdoc.open() fails in test environment"
I created a Word Add in to filter some documents from sharepoint and open it in Word.
It works fine in my dev environment but when we test it in our test environment it fails with an General Exception on newDoc.open();

i recognized that it works when my code looks like the following example:

[code]

but when i try to load properties or f.e. run context.sync() after calling `newDoc.properties.cus

[2019-02-08 16:13] isawek commented on #377
My thinking is, that every context.sync() before calling newDoc.open() crashes the newDoc.open() in the test environment but i don´t have an idea why

[2019-02-08 16:53] splinter opened #378 "[Mac] Unable to access Office.context.ui object in dialog window"
We are initiating an SAML SSO flow in a dialog window that is opened via an Outlook plugin. The login
flow completes but we are not able to call the messageParent method on the Mac Outlook 2016 client.The
Office.context.ui object is not available when debugging the issue.

This behaviour is only present on the Mac Outlook 2016 Desktop Client, I have tested the following scenarios:
  - Outlook Live

[2019-02-08 17:10] JuaneloJuanelo commented on #377
@isawek  its not clear from your code when are you trying to get the properties. Is this before calling newDoc.Open()? FYI after you call Open() on the new document we are blocking any operations so you need to do it before. Also note that modifying the document is not an operation supported across platforms.

finally here is a sample showing how you can get the document (that snippet shows create

[2019-02-08 17:10] #377 closed, assigned to nobody

[2019-02-08 17:12] JuaneloJuanelo commented on #376
@mberacochea  thanks, yes but in the insertion dialog there are many tabs. :)   you have

1. my add-ins
2. my organization.
3. shared folder
4. admin managed
5. Store

which one you used? thanks!

[2019-02-08 17:24] mberacochea commented on #376
@JuaneloJuanelo the Add-In is in My Add-ins > Admin Managed.

![image](https://user-images.githubusercontent.com/1123897/52494584-244eee80-2bad-11e9-9a72-fe866148d95a.png)

Thank you.

[2019-02-09 00:11] ShannonLCapper opened #379 "[Outlook] Office.mailbox.item.body.getAsync provides out-of-date information (new OWA)"
In the new version of Outlook Web App (the one shown by turning on the `Try the new Outlook` toggle), calling `Office.mailbox.item.body.getAsync` when in compose-mode does not always return the mail body currently displayed on the page. It instead returns the mail body from the last-saved version of the draft from the server, which is often not current.

## Expected Behavior

When in compose-mode,

[2019-02-09 01:06] ShannonLCapper opened #380 "[Outlook] Dialog gets orphaned if user closes task pane (Outlook for Mac)"
In Outlook for Mac, closing the task pane does not automatically close an open dialog spawned by that task pane.

## Expected Behavior

When a taskpane gets closed (either because the user manually closed the task pane via the X button, or because they closed the window in which the task pane existed), I would expect a dialog opened by that task pane to also be closed. This is the behavior in Wind

[2019-02-09 10:09] ambachtelijk commented on #371
Thank you for your feedback, @exextoc! I have added a blank event listener to my `Office.initialize` callback, as such:
[code]

Strangely enough, this resolves present issue. However, I do not quite understand why an event listener is required in this scenario, since the `displayNewMessageForm()` call in present issue is not triggered asynchronously. Perhaps you could provide me with a little more

[2019-02-10 23:21] mjrforce opened #381 "getActiveCell returns InvalidArgument"
Running the[ sample code](https://docs.microsoft.com/en-us/javascript/api/excel/excel.workbook?view=office-js#getactivecell--) produces the following error:

InvalidArgument: The argument is invalid or missing or has an incorrect format.

## Expected Behavior
The selected cell should be returned

## Current Behavior

## Steps to Reproduce, or Live Example
name: Basic API call (TypeScript)
descript

[2019-02-11 08:49] weshi commented on #381
I cannot reproduce this issue. What version/build of Excel are you using when you see this issue?

[2019-02-11 10:19] ATrogolo commented on #231
@JuaneloJuanelo or @dmahugh : any news about this issue?

[2019-02-11 23:28] nrakochy commented on #370
Is this the correct forum for bug reports? Where should I report issues?

[2019-02-12 09:39] markb-trustifi commented on #378
Hi.
Are you calling `messageParent` from inside `Office.initialize = function (reason) {...}` ?

[2019-02-12 09:57] markb-trustifi opened #382 "Office.js is loaded outside of Office client"
When opening dialog by `Office.context.ui.displayDialogAsync` form Outlook Client it doesn't open popup but opens a new window in a browser with empty `window.caller` and printing warning that appears in title.

[code]

Add-in manifest contains domains:
[code]

## Expected Behavior
Works well in OWA - Chrome and **Safari**
Open popup.
Dialog can send messages back to its parent.

## Current Behavi

[2019-02-12 10:12] markb-trustifi opened #383 "Outlook doesn't switch Message view to Compose view"
After refreshing the add-in page the add-in remains in Message view and doesn't switch to Compose view.

## Expected Behavior
Compose view should appear

## Current Behavior
Doesn't work only in browser with old UI.
Message view appears

## Steps to Reproduce, or Live Example
Keep old Outlook UI.
Movie: https://streamable.com/bwhrr

- create new email
- pin taskpane
- click **Discard** - very impo

[2019-02-12 10:18] markb-trustifi commented on #308
This issue should be reopened, It is a bug.
I have these domains:
[code]
But domains that appear in appDomains array are different and are not related to manifest.
The loop condition is built incorrect. If the first item in an array is evaluated as **false** then the loop breaks out and doesn't check for next items.

[2019-02-12 10:33] splinter commented on #378
I am using the Office.onReady method to register a callback within which I am calling Office.context.ui.messageParent.

[2019-02-12 18:09] #127 closed, assigned to ElizabethSamuel-MSFT

[2019-02-12 18:17] Rick-Kirkham commented on #382
@markb-trustifi The URL that you pass to displayDialogAsync must be in the same domain as the add-in.
From [Dialog API in Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins):

Instead of passing login.microsoft.com directly, you must have a page in your add-in domain that redirects to login.microsoft.com. Then pass the URL of the page to displa

[2019-02-12 18:59] markb-trustifi commented on #382
@Rick-Kirkham Then what about this example? Why they add microsoft endpoints to AppDomain?
https://github.com/OfficeDev/office-js-helpers#for-office-add-ins

[2019-02-12 20:05] Rick-Kirkham commented on #382
@markb-trustifi
The page you linked to does not show passing either of the URLs in the `AppDomains` as the first URL that is directly passed to `displayDialogAsync`. As the doc I linked to says, the _first_ URL must be in the same domain (including subdomain, protocol, portal (if any)) as the add-in.

I'm not an expert on office-js-helpers, but I can tell you that `AppDomains` in the manifest is _

[2019-02-12 21:50] AlexJerabek commented on #1005
Hi @richnew10,

Here's the response I received from our product team:

"https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges shows all the IP ranges and domains Microsoft Office uses, use which includes our CDN networks as well.

When I check, Office CDN uses 198.105.244.114 and this is not part the IP list, but is part of the o365 list. So, hopefully the customer can t

[2019-02-12 22:03] richnew10 commented on #1005
Thanks for chasing. I'm not asking about network ACLs; that's not how CSP works.

CSP is a directive that has a webpage tell the browser which origins — _e.g._, `appsforoffice.microsoft.com` — should be usable for various kinds of action, _e.g._, loading script content, or connecting websockets.

The list your product team provided is not sufficient or precise enough for CSP. For example, it lists

[2019-02-12 23:29] exextoc commented on #371
When an addin is pinned we need to inform it about an item switch that happened by registering to an ItemChangedEvent. This is a mandatory requirement for all Pinned Addins in order for the APIs to continue functioning properly. If you do not register for the event it might cause your APIs to be cancelled. This is by design.

[2019-02-13 07:52] Edward-Zhou opened #384 "Unexpected result for body.getOoxml"
I want to get the comments in the word online by word.js, I tried with `body.getOoxml`, but it return unexpected result when I add a comment on the last words of the document.
## Expected Behavior

Ruturn all the comments when I use with `body.getOoxml`.
## Current Behavior

`body.getOoxml` did not return the comment which is added on the last words in the doc.
## Steps to Reproduce, or Live Examp

[2019-02-13 16:14] markb-trustifi commented on #382
@Rick-Kirkham : I found a simple workaround:
- open dialog with just
`var authwnd = window.open('https://login.microsoftonline.com/common/oauth2/v2.0/authorize?...', ...)`
- listen for window message events
- respond from popup window by:
`window.opener.postMessage(window.location.search, window.location.origin)`

[2019-02-13 16:47] faludigabor opened #385 "Powerpoint Api"
Hi ,

I would need more information on the powerpoint office.js api .

We'd like to convert an existing vsto app to office.js. in that ,we manipulate objects on slides all of them potentially. Identify objects move them , colour them etc. I dont beleive this is feasible via office.js. Can you ellaborate  ?

We would need to target windows/mac .

Tx,
gabor

[2019-02-13 17:38] Rick-Kirkham commented on #382
We recommend that developers use our Dialog API, rather than window.open, but since you are happy with this solution, I will close the issue.

[2019-02-13 17:38] #382 closed, assigned to Rick-Kirkham

[2019-02-13 18:21] Rick-Kirkham commented on #384
I can reproduce. Happens on Office Online, but not desktop. If there is no content at all, not even a space character after the last comment, then the comment is not included in the returned OOXML.
@JuaneloJuanelo Is this a known bug?

[2019-02-13 20:54] JuaneloJuanelo commented on #385
Thanks @faludigabor this site is enabled to track existing features. The right place for this request is our [user voice channel. ](https://officespdev.uservoice.com/)please make sure to add an entry there )or up-vote an existing one. thanks!

[2019-02-13 20:54] #385 closed, assigned to nobody

[2019-02-13 21:16] sharekits opened #386 "A"

[2019-02-13 21:17] #386 closed, assigned to nobody

[2019-02-13 21:19] marcoartaviaq opened #387 "Issue while inserting HTML on OWA with empty body"
When I try to insert HTML while composing an email on OWA, using the setSelectedDataAsync, the HTML does not inserts on the email if the email body is empty

## Expected Behavior
The custom HTML being inserted on the email

## Current Behavior
The HTML is not being inserted if the email has an empty body. If we write anything on the email body, the custom html is inserted just right.

This happens

[2019-02-13 23:11] nrakochy commented on #370
Added a [StackOverflow question](https://stackoverflow.com/q/54680835/3100284) where I will happily award points...

[2019-02-14 00:00] #371 closed, assigned to exextoc

[2019-02-14 03:34] csreddyennam commented on #372
Issue got resolved by removing add-in (we had a custom adding this was blocking the local files acquiring) from add-in dialog box and re-added the add-in gain. By UN-checking all the add-in restart the excel and add add-in again

Thanks,

[2019-02-14 03:34] #372 closed, assigned to nobody

[2019-02-14 09:55] macOutlookExtensibility commented on #370
Verified on latest version 16.23 and working fine. Could you please update to latest version and try.

[2019-02-14 10:13] ghost commented on #66
I have a similar issue with Visual Studio 2017 and Excel 2016. I tried reinstalling Office and Visual Studio, but with no luck. In the Event Viewer I have the following error:
![image](https://user-images.githubusercontent.com/29251745/52779633-d91f5a80-3048-11e9-97e2-669cb23e43fa.png)

And before that the following information event:
![image](https://user-images.githubusercontent.com/29251745/527

[2019-02-14 12:25] RXminuS opened #388 "[Word] Ranges have no shading and highlight colours are a lacking alternative"
I would like to be able to set the background color of a piece of text by using Range.set({style: ...}). However, the only option available is highlightColor. Which is inconsistent between platforms, in Office online the full RGB spectrum is supported...but on Desktop only 12 colors are supported and my RGB shades are thus clipped.

This could be solved if we were allowed to set a shadingColor ins

[2019-02-14 14:15] JSteunou opened #389 "[PowerPoint] How to know when the presentation is in presentation mode (fullscreen)?"
Cannot find any way reading the API doc, but I can see that the *Web viewer* add-in (from Microsoft Corporation) as a different footer between edition mode & presentation mode, so I'm guessing it is possible to detect it.

Is there a class, an event, something?

[2019-02-14 15:00] JSteunou commented on #389
Sorry to bother, I think I have found it in `getActiveViewAsync`, is that right?

[2019-02-14 16:02] RXminuS opened #390 "[Word] How to reliably create ranges in a document?"
We need to select a specific piece of text in a document. We know the offset in the paragraph, as well as the text before, inside and after. We tried the following approaches non of which allows us to reliably create a Range that we can call `select()` on.

**Attempt 1. Search for the matching text**
This leaves us to disambiguate between potential multiple matches (for instance if the matched wor

[2019-02-14 19:49] nrakochy commented on #370
I added screenshots to the Stackoverflow issue which show `line 8046` throwing an exception on the array

[2019-02-14 21:01] Rick-Kirkham commented on #121
This bug was fixed some months ago.

[2019-02-14 21:01] #121 closed, assigned to nobody

[2019-02-15 16:00] nrakochy commented on #370
Caused by iFrame `window` conflict.

[2019-02-15 16:00] #370 closed, assigned to exextoc

[2019-02-15 21:30] JuaneloJuanelo commented on #231
@ATrogolo  this is already fixed.. back to normal.

[2019-02-15 21:30] #231 closed, assigned to danielgwilson

[2019-02-15 21:47] JuaneloJuanelo commented on #119
used gist to validate this is now working in online.
https://gist.github.com/JuaneloJuanelo/5cc13aa2163017ae7f094c22cd04907a

[2019-02-15 21:47] #119 closed, assigned to JuaneloJuanelo

[2019-02-15 21:50] JuaneloJuanelo commented on #197
closing issue as its fixed ! :)

[2019-02-15 21:50] #197 closed, assigned to JuaneloJuanelo

[2019-02-15 21:51] JuaneloJuanelo commented on #204
issue fixed!

[2019-02-15 21:51] #204 closed, assigned to JuaneloJuanelo

[2019-02-15 21:58] JuaneloJuanelo commented on #61
at this point all questions are answered.

[2019-02-15 21:58] #61 closed, assigned to Rick-Kirkham

[2019-02-15 22:18] JuaneloJuanelo commented on #200
@raulgg  since August we dont hear back. will close the issue, if it persists please create a new and link to this issue. thanks!

[2019-02-15 22:18] #200 closed, assigned to nobody

[2019-02-15 23:04] JuaneloJuanelo commented on #225
yes its now working! please try it! have you?

[2019-02-15 23:05] JuaneloJuanelo commented on #225
@jacob-j  can you please test and let me know? thanks!

[2019-02-15 23:06] JuaneloJuanelo commented on #389
yes. you can subscribe to the event when there is a switch between design and presentation mode.

[2019-02-15 23:06] #389 closed, assigned to nobody

[2019-02-15 23:58] JuaneloJuanelo commented on #390
i am assuming its possible for you  to  get, within the paragraph of interest, the number of spaces before the text-you-want-to-select and after such text ?

because you can range-split a paragraph by spaces  (using [range.split](https://docs.microsoft.com/en-us/javascript/api/word/word.range?view=office-js#split-delimiters--multiparagraphs--trimdelimiters--trimspacing-)) and then traverse the col

[2019-02-15 23:59] AlexJerabek commented on #365
The documentation changes have been made [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33108) and [here](https://github.com/OfficeDev/office-js-docs-pr/pull/754). Those changes will be made live next update cycle.

[2019-02-16 00:21] JuaneloJuanelo commented on #384
sounds like a bug, tracking with 3122686

[2019-02-16 00:25] david-ps opened #391 "Content Pane Sizing Error and Critical Limitation"
There is a bug, inconsistencies and a critical-limitation imposed on the Content Pane in the JavaScript API and Excel Desktop.

1. **Inconsistencies**: There is a limitation to the width and height of a Content Pane at 1000 x 1000px. This limit is imposed when resizing via mouse in Excel Desktop and the JavaScript API. This (via mouse) is not true in Excel Online where the size can be set and save

[2019-02-16 00:36] kbrandl commented on #391
@david-ps thanks for raising this issue (and for logging the User Voice request as well). Just a heads-up that I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for issues about Office Add-ins platform and JavaScript APIs.

[2019-02-16 00:42] kbrandl commented on #391
@JuaneloJuanelo can you provide any input on this issue, or if not, do you know who can?

[2019-02-17 01:08] RXminuS commented on #390
Thanks @JuaneloJuanelo; I tried it but it's equally slow as Option 3, especially in Office Online.

[2019-02-17 08:38] kreja commented on #354
Seems to be the backend problem. Close this issue.

[2019-02-17 08:38] #354 closed, assigned to niteshgolchha85

[2019-02-18 12:42] jacob-j commented on #225
@JuaneloJuanelo We have tried it here at Pickit and it works fine :) Thanks for the support Juan!

[2019-02-18 14:57] ysobol opened #397 "[Word] - Word for some reason delete content control of first column in Child table"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

**Main reason:**
When user add new column for this specific Parent table , In this specific case, MS Word for some reason delete first content control of Child Table. On top of that M

[2019-02-18 15:02] ysobol opened #392 "[Word] - Word for some reason delete content control of first column in Child table"
**Main reason:**
When user add new column for this specific Parent table , In this specific case, MS Word for some reason delete first content control of Child Table. On top of that MS Word delete it in some wrong way.

**Steps:**
Create Template in Word Online
Add Parent Table with Any columns
Add new Row under Parent Table
Merge Cells in this row
Insert Child table in this row
Download document

[2019-02-18 15:05] ghost opened #398 "Error 13000, API for identity not supported"
I used the NodeJS SSO sample and continued to develop an application from there on out. In Word Online, the application works perfectly fine, but in the Word Client, no matter which version I use, I get error 13000 "API for identity is not supported for this add-in" when using the function getAccessTokenAsync even when I'm using the NodeJS SSO sample without any changes.

I've tried 2016/2017/2018

[2019-02-18 15:23] rimadu opened #393 "insertHtml on IPad inserts empty content control"
I was trying to insert html into the office365 word document and using `insertHtml` method. `insertHtml` inserts an empty content control (shows placeholder instead of html).

A problem can be reproduced on iPad iOS 11.3 browsers Safari and Chrome. Native word application on the iPad and other devices (linux, windows, mac - office365 and native word) are inserting correctly.

Code example:
[code]

[2019-02-18 17:09] JSteunou commented on #378
Hi @markb-trustifi , I have exactly the same bug on OSX 10.13 Mac PowerPoint 16.22 (190211)

On the `Dialog`, after the auth is complete, I'm inside a `initialize`, `Office.context.isDialog` is `false`, object `Office.context.ui` is present, but `messageParent` is `undefined`

No error with web office.

[2019-02-18 19:45] RXminuS commented on #320
Maybe add it to the documentation though. Just spent hours banging my head against the wall, to only rediscover this arbitrary limit.

[2019-02-18 21:45] Rick-Kirkham commented on #398
Please see this overview of the SSO preview: [SSO in Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins).
In the **Preview Status** section, you'll see this paragraph:

So you need to be on the lastest build that is distributed in the Insider channel. As of today that seems to be 1903 | 11406.20002.

I'll update the article that you linked to and the

[2019-02-18 23:05] david-ps commented on #391
@lumine2008 Here's the documentation link related to the proposed fix https://bit.ly/2T13aHk

[2019-02-19 04:30] glr0221 opened #396 "In Outlook-Office365, Addin Icons fail to load with some IE settings enabled."
@kbrandl sorry for the mention, but this is another issue we are experiencing right now with Outlook-Office365, with certain settings enabled for IE. Please let me know if this is the wrong channel to submit this issue and I will move it to the right channel. Thanks!

Currently, we are seeing issues with icons in Outlook Office365. Our Outlook office365 is not showing the right icons for any of ou

[2019-02-19 04:57] markb-trustifi commented on #378
You can try to solve this issue the way that I did:
https://github.com/OfficeDev/office-js/issues/382#issuecomment-463261231

[2019-02-19 08:04] JSteunou commented on #378
I could give it a try thanks. I though you re a member of the OfficeDev team, sorry to ping you like that.

[2019-02-19 08:12] JSteunou commented on #382
@Rick-Kirkham but unfortunately there is at least one issue with the Dialog API that is blocking, see #378

[2019-02-19 09:16] ghost commented on #398
![ubfi](https://user-images.githubusercontent.com/11733366/53003482-4eb36e00-342f-11e9-9323-d979544fdfdb.png)

![zxc](https://user-images.githubusercontent.com/11733366/53003484-51ae5e80-342f-11e9-9174-e9acef1d64f4.png)

Still doesn't seem to do the trick. Is it an absolute **must** to be in the Insider-fast program? I am on the version you provided.

Edit:

![image](https://user-images.githubuser

[2019-02-19 09:53] JSteunou commented on #378
@markb-trustifi using native `postMessage` is indeed simpler and have the advantage to work at least

[2019-02-19 10:30] hxltinh opened #394 "All browser except Firefox get error when adding large content to CustomXMLParts"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

Adding large content to CustomXMLParts should work fine

## Current Behavior

Adding large content triggers error, and content could not be Added.

## Steps to R

[2019-02-19 10:52] bhatnagarsaddy opened #395 "Office.context.mailbox.Item.start giving wrong value in Outlook for Mac"
I am fetching the start date of Meeting recurrence in outlook WebAddin using office.js API
 "Office.context.mailbox.item.Start".

**I am getting wrong start date value in case of "Outlook App for Mac".**

The value is showing up correctly everywhere else :

1. Outlook App for window
2. Outlook webApp
3. O365
4. Outlook WebApp in Safari.

**For an instance,** If there is a meeting recurrence which

[2019-02-19 17:49] kbrandl commented on #395
@macOutlookExtensibility can you provide input about this issue?  Also please note that this same error report has been posted to [Stack Overflow](https://stackoverflow.com/questions/54764255/office-context-mailbox-item-start-giving-wrong-value-in-outlook-for-mac), so please add the answer/resolution to that Stack Overflow thread as well, as you resolve this issue.

Note: I'm transferring this iss

[2019-02-19 18:13] kbrandl commented on #396
@glr0221 thanks for reporting this issue, and sorry that you've run into this problem. I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for product issues like this (related to the Office Add-ins platform and/or Office JavaScript APIs).

[2019-02-19 18:15] kbrandl commented on #396
@exextoc can you please investigate this issue?

[2019-02-19 18:20] kbrandl commented on #397
@ysobol sorry to hear that you're having this problem. I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitory for issues like this (related to the Office Add-ins platform and/or Office JavaScript APIs).

[2019-02-19 18:33] Rick-Kirkham commented on #398
@lokkwanfoo Yes. You _must_ be in the Insiders program and receive the latest build from the Insiders channel. The API is not supported on any other channel and it is turned off older versions, even if they were originally received from the Insiders channel.

[2019-02-19 20:00] ghost commented on #398
But as you see in my previous post, I am on the latest version and in the Insiders program and I still get the error.

I don’t know what other version I can try?

[2019-02-19 20:23] Rick-Kirkham commented on #398
@lokkwanfoo There was a misunderstanding. I thought that when you asked "Is it an absolute must to be in the Insider-fast program?" you meant to imply that you are not in the Insider program. I will reopen this issue, but because it is not really an issue for this sample, as such, I'm going to transfer the issue to the repo for the Office JavaScript library.

[2019-02-19 20:27] Rick-Kirkham commented on #398
@niteshgolchha85 This customer is on the latest Insider build, but is getting 13000 "API for identity is not supported for this add-in".

[2019-02-19 20:56] JuaneloJuanelo commented on #390
can you send a sample paragraph ? i would love to replicate the perf issue in our end.

[2019-02-19 21:12] niteshgolchha85 commented on #398
@lokkwanfoo The SSO API is in preview right now. All preview flights are disabled by default. I suspect that Office might not be able to get the latest flight state when the version changes so can you restart your office application after upgrading/downgrading and then try the SSO API?

[2019-02-19 21:21] ghost commented on #398
@niteshgolchha85 @Rick-Kirkham I've just restarted my Office client, and I'm seeing a different error. I haven't changed anything in code, I'm purely calling getAccessTokenAsync.

![image](https://user-images.githubusercontent.com/11733366/53048234-95877f00-3494-11e9-93a3-b54c0982cb04.png)

Message meaning "There is an unexpected error in the server", name meaning "There is an error in the verific

[2019-02-19 21:38] niteshgolchha85 commented on #398
What I meant was that every time you change the version of Office, you might want to restart Office to update the cache.
The error code now is 13007, which leads me to believe that there is some issue with you App registration with AAD and/or your manifest:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins

[2019-02-19 21:43] ghost commented on #398
@niteshgolchha85 I'm using the exact same manifest for the Word client and Word Online. It works on Word Online as shown here:

![image](https://user-images.githubusercontent.com/11733366/53049606-c9b06f00-3497-11e9-881f-8e33cdf92cdc.png)

In the Word client, it doesn't. I've restarted multiple times.

I'm starting to think the issues lies here.

![image](https://user-images.githubusercontent.com/

[2019-02-19 22:10] niteshgolchha85 commented on #398
Word by itself does not have a client ID. All the IDs of Office applications are represented right now by a single ID you see above (Microsoft Office). There is plan to change this into separate IDs but that's for a separate conversation.

[2019-02-19 22:31] ghost commented on #398
Could you tell me if it works in your Word client? And which version you are using?

[2019-02-19 23:36] Zlatkovsky opened #399 "`range.merge()` fails with "The current selection is invalid for this operation" if chart is currently selected"
The `range.merge()` method fails if a chart happens to be currently activated, even though that should be totally unrelated.

Simplest repro:
1. Open Script Lab
2. From the samples, find the "Report generation" sample (towards the bottom of the list, second-to-last section called "Scenarios")
3. Run the sample.  At the end, it will select the resulting chart.
4. Now run the sample again (with the

[2019-02-20 05:18] glr0221 commented on #396
@kbrandl thank you so very much for responding to my inquiry.  @exextoc Thank you in advance for your support.

[2019-02-20 07:48] sergiubucur opened #400 "Cannot deploy SSO-enabled manifest in Office 365 via Centralized Deployment"
At least since Feb 4th 2019 I cannot deploy an SSO-enabled Word Add-in manifest in the Office 365 admin portal using Centralized Deployment.

## Expected Behavior
The "Next" button on the permissions screen should not be disabled, allowing me to still deploy an SSO-enabled manifest.

## Current Behavior
The "Next" button on the permissions screen is disabled.

## Steps to Reproduce, or Live Exampl

[2019-02-20 07:53] niteshgolchha85 commented on #400
This is a known bug and @Alan1Mulhall is fixing this issue. @Alan1Mulhall can you throw some light on ETA for fix?

[2019-02-20 08:28] weshi commented on #397
@ysobol for the steps you listed, are they done by the Word JavaScript API, or you did it via the Word UI?

[2019-02-20 08:35] lumine2008 commented on #391
Thanks @david-ps , this is by design, due to performance, if we remove this limitation, the impact on the foodprint is significant.
as we support typically supports up to 400% zoom. With 1000x1000 restriction, the snapshot could be upto 4000x4000 in 400% zoom. if beyond this limitatio, it has a significant impact on the memory footprint, hence we decided to limit the size to 1000x1000.

[2019-02-20 08:40] david-ps commented on #391
Thanks for the advice @lumine2008
What is the "snapshot" and zoom?
This limit is not imposed on Content pane size in Excel Online and does not appear to have any performance issues that we have seen. Is it different?
This limit is not imposed on Content Pane size in PowerPoint. Is there no performance issue there?
Could the size limit be increased 2000x2000 ?

[2019-02-20 08:51] david-ps commented on #391
I understand what the zoom is but not the snapshot?

[2019-02-20 10:00] exextoc commented on #383
Thanks for reporting this issue regarding Compose view switch issue. We are able to repro this issue with old-OWA. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Note that this issue does not happen with new-OWA. If possible, you can switch to new OWA to resolve this issue immediately.

[2019-02-20 13:37] lumine2008 commented on #393
Thanks @rimadu for your message, we have created a bug (#3171568) to track this issue, based on quick investigation the root cause is in word online. we are trying to ask word online team to investigate this issue, will keep you update once we have.  Thanks

[2019-02-20 13:43] lumine2008 commented on #391
it's memory snapshot.
As you know limited to 1000x1000 is the performance consideration. could you please share us your scenario, why you need it beyond that limitation?

[2019-02-20 16:36] exextoc commented on #308
Thank you for reporting the bug. We are looking into it.

[2019-02-20 17:58] exextoc commented on #387
@marcoartaviaq I tried with both the APIs you have mentioned in the post and am able to insert HTML data. Can you please provide the exact code you have used here ?

[2019-02-20 18:40] exextoc commented on #396
I can repro the issue using your steps. I am investigating and checking with other product team members.

[2019-02-20 21:05] nrakochy opened #401 "Recurrence support on Mac"
Is there any API which provides recurrence in Outlook for Mac?

## Expected Behavior
Ability to retrieve `recurrence`

## Current Behavior
`getAsync` is returning an error object
[code]

## Steps to Reproduce, or Live Example
[code]

## Context
Integrating Outlook with a hotelling type of room scheduler - without recurrence, it is severely limited in capacity / value

Based on the conversation in

[2019-02-20 21:20] exextoc commented on #396
This is a current limitation that icons used for addins must be cached. The IE setting applies system wide in Windows, instead of just IE and so the setting prevents the icons from being saved locally by Outlook. The workaround, as you found, is to disable "Do not save encrypted pages to disk".

[2019-02-21 00:53] dmahugh commented on #392
Closed as duplicate of #397

[2019-02-21 00:53] #392 closed, assigned to nobody

[2019-02-21 00:55] #396 closed, assigned to exextoc

[2019-02-21 02:13] ShannonLCapper opened #402 "[Outlook] Office.context.mailbox.item.body.setAsync breaks images for recipient (Outlook for Mac)"
We are seeing an issue in Outlook for Mac around "roundtripping" the mail body with `Context.mailbox.item.body.getAsync` and `Context.mailbox.item.body.setAsync` when the mail body contains images. When the existing mail body contains images, the image will render correctly in the compose window but will be broken when the recipient opens the mail. This is a cross-post of [this Stack Overflow ques

[2019-02-21 03:02] JuaneloJuanelo commented on #394
@hxltinh  can you please provide the XML part you are tryin to insert?
is not clear in what in what platforms you are trying this.... is this on Word ONline, Excel Online? )you mention firefox so I am assuming online)

[2019-02-21 03:11] JuaneloJuanelo commented on #327
@mattblackdev  the fix was released! can you please update your clients and report back and confirm?
thanks!

[2019-02-21 03:44] hxltinh commented on #394
@JuaneloJuanelo word, excel are working ok, it happens only in Office Online, that's why we would like to have it fixed on Office Online.
My repo should explain very well this bug. Just try on Chrome to see how it works (app/index.html for quick view).
`<root xmlns="${xmlns}"><item>${loadedBase64Image}</item></root>`
I will update my issue to make thing clearer, hope it helps.

[2019-02-21 09:51] david-ps commented on #391
We are seeking to use the Content Pane for a typical gantt and other tasks related views of combined Excel and external data sources. The limitation of 1000x1000 is too small to be used as an effective UI for this and other potential applications we are considering for OfficeJS.  It seems that the limitation of 1000 selected for performance considerations may be somewhat arbitrary hence our reques

[2019-02-21 13:04] glr0221 commented on #396
Thank you @kbrandl @exextoc. Is there any time frame for fixing this limitation?

[2019-02-21 15:23] ghost opened #403 "Opening a dialog in a dialog"
Trying to open a dialog in a dialog with displayDialogAsync results in error.

## Expected Behavior
I'm using the first dialog to display a form. When a user wants to save the form, a new dialog with another form should appear.

## Current Behavior
Executing displayDialogAsync in a dialog results in error "Office.context.ui.displayDialogAsync is not a function". Office.js is loaded in the HTML fil

[2019-02-21 16:43] Rick-Kirkham commented on #403
This is expected behavior. The only Office.js APIs that work in a dialog that is opened by `displayDialogAsync` are `isSetSupported` and `messageParent`. So you cannot call `displayDialogAsync` inside a dialog that was opened with `displayDialogAsync`. But your scenario is interesting. Consider making a request for this ability in [Office Developer Voice](https://officespdev.uservoice.com/).

[2019-02-21 16:43] #403 closed, assigned to Rick-Kirkham

[2019-02-21 17:32] bhatnagarsaddy commented on #395
@macOutlookExtensibility can you please provide any input on this issue?
If there's any other property which can be used or any other work around to fix this issue?

[2019-02-21 20:44] mattblackdev commented on #327
@JuaneloJuanelo we haven't seen our environment get the update yet, but we are checking every other day. Will report back ASAP.

[2019-02-22 00:46] lumine2008 commented on #399
Thanks @Zlatkovsky, i can repro this issue, a bug 3179188 was created. we will update to you once it get fixed.

[2019-02-22 00:48] exextoc commented on #396
This is in our backlog. Currently, however, we do not currently have a timeline to share.

[2019-02-22 03:22] weshi commented on #399
We are working on the fix.

[2019-02-22 03:58] david-ps commented on #391
Also please comment on the implications of multiple Content Panes on the same worksheet (or workbook) eg. 2x 1000x1000 Content Panes. It is possible there are many Content Panes from different vendors in the same workbook. Are the same performance considerations at play?

[2019-02-22 05:25] niteshgolchha85 commented on #398
@lokkwanfoo Have you tried to repro the issue? @Alan1Mulhall This error seems to be coming from the OMEX server. Would you be able to investigate the root cause?

[2019-02-22 06:29] ghost commented on #398
@niteshgolchha85

I've just attempted to call getAccessTokenAsync and it seems to be working now :). I'm not sure what fixed it, but hopefully it can stay this way!

![image](https://user-images.githubusercontent.com/11733366/53224088-c1149000-3673-11e9-9d7d-6802424e3098.png)

Thank you!

[2019-02-22 06:33] lumine2008 commented on #391
Thanks @david-ps , we understand your scenario, i will add my colleague to provide more insights about your question. Thanks.

[2019-02-22 06:41] lumine2008 commented on #381
Hello @mjrforce,  it would be helpful if you could share us more information to repro this issue.

[2019-02-22 09:34] RXminuS commented on #390
The performance problems come forward just by having about 20-30 paragraphs. Adding to the problem is that the performance is extremely platform and Office version dependent. MacOS seems to be the slowest, but different versions of Word for Windows also have different performance.

So to replicate the issue, just generate some Lore Ipsum document and try to create ranges for about 100 words in it.

[2019-02-22 09:38] RXminuS commented on #390
Is there any way we can enable a trace in the OfficeJS API that I can send? Then I'll make some platform snapshots for you.

[2019-02-22 12:49] exextoc commented on #379
Thanks for reporting this. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-02-22 13:09] lumine2008 commented on #286
I can repro this  issue.  I created a bug 3180498 to track this issue.

[2019-02-22 15:31] niteshgolchha85 commented on #398
I'll be going ahead and closing this issue for now. Please re-open if the issue arises again. Thanks!

[2019-02-22 15:31] #398 closed, assigned to niteshgolchha85

[2019-02-22 16:45] mihao2002 opened #404 "executeRichApiRequestAsync undefined in Word online"
## Expected Behavior
I created an Office js app which runs well in Word win32, and I assume that it can run well in Word online as well because all Office js APIs I use are supported.

## Current Behavior
but when I hook it up with Word online (by using "upload my Add-in"), the app throws the following error:

## Steps to Reproduce, or Live Example
The error happens at "return context.sync()" in t

[2019-02-22 17:31] jgordner commented on #379
Thanks, @exextoc.
Is there a workaround? If we don't get identical behaviour cross-platform, then we can't rely on it.

[2019-02-22 18:30] Zlatkovsky commented on #404
The problem isn't in your JavaScript code.  Instead, it looks like the wrong internal Office.js files are getting loaded, or you are calling the method before it's ready.

What is your HTML page like, with the script reference to Office.js?
And, are you using `Office.onReady/Office.initialize`?

[2019-02-22 18:39] mihao2002 commented on #404
The Office.js reference is as bellow
`<script src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.js"></script>`

And my HTML page has the following script in the end to do the initialization:
[code]

And the method is called after the above script executes for sure.
Question: will that be a problem to invoke that method inside an iframe? or the iframe also needs to do the Office.onRea

[2019-02-22 18:40] mihao2002 commented on #404
BTW, same error happens if I use the production script as below:
`<script src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.js"></script>`

[2019-02-22 18:53] Zlatkovsky commented on #404
Ah.  Are you inside an iframe?  That would explain it.

Office.js was designed to operate at the top-level of the page (that is, it assumes that its parent frame, if any, is Office Online).  So if you have it inside of an iframe, it won't work.

If your iframe happens to be on the same domain as your outer page, you might be able to "share" variables by doing "iframe.contentWindow.Office = window.

[2019-02-23 03:03] danjyoung opened #413 "Regarding appointmentResponse"
The main issue is that appointmentResponse is not returning responses. It's returns undefined. It's is documented as returning MailboxEnums.ResponseType.

I'm also pointing out potential issues the the sample code on the documentation page this issue was reported from.

Are these examples correct? I don't see them calling getAsync. The examples do not work for me. Additionally, following the patte

[2019-02-23 05:59] mihao2002 commented on #404
I tried to share "Office" between t he top-level window and the iframe, but it doesn't work. Below is my sample code:

The top-level:

[code]
The iframe Html (iframesample.html):

[code]

Clicking the hyperlink in the iframe will end up with the following error message showing up:

While the same page runs well in Word win32.

Thanks
Michael

[2019-02-23 09:52] lumine2008 commented on #391
@david-ps, We can certainly add multiple content add-in one sheet/book. But, please note that we do not have a mechanism for direct communication between two different content add-ins. One workaround for this is to use databinding and bindingchanged event.

[2019-02-23 10:57] david-ps commented on #391
@lumine2008 Thanks for confirming a user can add multiple content add-ins in one sheet/book.

My question was "Are the same performance considerations at play?" By same I mean, you are restricting Content Pane size to 1000x1000 because of stated performance considerations. Does having multiple Content Panes (either different apps or instances) affect performance in the same way?

[2019-02-23 21:27] Zlatkovsky commented on #404
I think the part you're missing (or rather, over-including) is the script reference to office.js in the iframe.  You do **not** want to have one inside the iframe.  Instead, the `Office`/`Word`/etc variables must all come from the parent, just like you're doing.

FWIW, if you want to see a live version of this working, Script Lab uses this same mechanism for the runner.  Search for `officeNamespac

[2019-02-24 01:27] mihao2002 commented on #404
It works after removing the reference in the iframe page! Thanks!

[2019-02-24 03:11] Zlatkovsky commented on #404
Glad it helped.  Marking the issue as a a resolved question, then, and closing it.

[2019-02-24 03:11] #404 closed, assigned to nobody

[2019-02-24 05:37] bhatnagarsaddy commented on #395
@kbrandl  Is there any other team or dedicated group who can help me in this issue?

[2019-02-24 10:51] sergiubucur commented on #400
This is now working as expected again. Thank you!

[2019-02-24 14:27] heydanhey commented on #297
I'm having the exact same issue using the dialog in Word.

[2019-02-25 02:21] kbrandl commented on #395
@bhatnagarsaddy @macOutlookExtensibility is the proper owner for this particular issue. @macOutlookExtensibility can you please assist?

[2019-02-25 02:47] niteshgolchha85 commented on #400
I am closing this issue as per comments given above. @sergiubucur Please note that we do NOT recommend using SSO in production and such changes might occur in future as well.

[2019-02-25 02:47] #400 closed, assigned to Alan1Mulhall

[2019-02-25 04:32] bhatnagarsaddy commented on #330
@AlexJerabek Hi Alex, Did you find any resolution for this issue? I am getting similar inconsistency for "Office.context.mailbox.Item.start" property

[2019-02-25 06:43] benhoad commented on #97
Any solution to this?

Currently experiencing a similar issue with auth redirect/message passing flow.

[2019-02-25 14:10] exextoc commented on #373
Can you please try calling Office.context.mailbox.item.saveAsync on a new Calendar item again, it seems to be working now.

[2019-02-25 14:13] exextoc commented on #375
Can you please try this again now?

[2019-02-25 15:04] abdulkareemnalband commented on #373
Yes it is working again

[2019-02-25 15:04] #373 closed, assigned to exextoc

[2019-02-25 18:33] AlexJerabek commented on #330
I'll ping @macOutlookExtensibility again and try to track down some answers internally.

[2019-02-25 19:01] lliu113 commented on #391
@david-ps - Hey David! I work on the Office Platform team with Raymond. To build on the "snapshot" feature that Raymond mentioned, this is the ability to save a content image as a "saved image" (see attached screenshot). In the event that we have content add-ins exceeding 1000px, we run into issues with the memory footprint during the save. This is why the current restriction exists. Is this a fea

[2019-02-26 06:38] weird-dreams opened #405 "Office TaskPane Add In: could not be installed in restricted environment"
Our client wants to install our office add-in at a very restricted environment (group policies and network).
The are not able to use the Office Store - so they tried to use a App Source document for installation.
The add in could not be installed - they get this error (german):
![image](https://user-images.githubusercontent.com/11518242/53392204-fc2b0200-3998-11e9-9694-d1ac24cbf6c8.png)
which mean