[2022-09-08 23:13] ononder commented on #2799
Unfortunately, this is currently not possible with the available PowerPoint OfficeJs API.

[2022-09-08 23:15] ononder commented on #2780
We need to investigate this more, one quick question on top of my head is, does this happen with a specific content on the given file or does it happen with all files? If it doesn't happen with all files, we should try to find the problematic content in that file.

[2022-09-08 23:22] ononder commented on #2775
This, in theory, looks like working to set the selection to something new (setSelectedDataAsync), i.e. clearing existing selection and setting to something else. The primary scenario around this is to let the addins use and update whatever user has selected, such as grammer checking (first retrieving with getSelectedDataAsync and updating with setSelectedDataAsync). This is also mentioned in the d

[2022-09-09 01:54] zxyty commented on #2810
The PC desktop I use, and in the Chinese region, the Outlook client is Chinese language.

[2022-09-09 03:34] Edward-Zhou opened #2825 "What is corresponding method for VBA Table.AllowAutoFit For Word"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In Word Desktop version, I can disable Word auto fit by vba like below:

[code]
How to achieve the same function through Office Javascript Word api?

[2022-09-09 06:01] ghost commented on #2749
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-09 06:14] richard6094 commented on #2825
Hi Edward! Your issue has been under our investigation.

[2022-09-09 06:21] ghost commented on #2799
any plan to support it ? if yes, any timeline  ?

[2022-09-09 06:44] SiruiSun-MSFT commented on #2816
Hi jsoto-gladia,

Thanks for sharing your feedback. However, currently, the feature: Add-in entry in contextual menu is not supported yet. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests are considered when we go through our planning process.

Thanks, Microsoft 365 Dev

[2022-09-09 07:14] exextoc commented on #2821
Thanks for reporting this issue regarding displayNewAppointmentForm. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 6624834

[2022-09-09 07:18] ruijiaMS commented on #2814
Hi, @knight-baron,

Ctrl + Alt + F9 would trigger all cells recalculation in all open workbooks forcibly, some details could be found in https://docs.microsoft.com/en-us/office/client-developer/excel/excel-recalculation?source=docs#all-open-workbooks-tree-rebuild-and-forced-calculation

There are many keyboard shortcuts that are already in use by Office, like Ctrl + Alt + F9, and customer could no

[2022-09-09 07:53] Alex0cean commented on #2803
Thanks @yuc014 , this helped. I close the ticket.

[2022-09-09 07:53] #2803 closed, assigned to JinghuiMS, yuc014

[2022-09-09 09:19] ghelyar commented on #2163
Just to provide a reliable repro:

1. Create an add-in with the `OnMessageRecipientsChanged` launch event
2. Create an event handler that waits a short delay (e.g. 1 second) - this is just to simulate something like a network request
3. Call `setSignatureAsync` in the event handler with some data that is easy to see, like the current time or the current set of recipients.
4. In OWA, type a recipie

[2022-09-09 09:59] harri-rajala-koivu-solutions commented on #2818
@grangeryy
Please read my previous comment and give your opinion.

[2022-09-09 10:51] JHJ-MS commented on #2610
Thanks @david-ps for joining the meeting. This issue is now added to our backlog(tracked as 6625256 internally). We will update you here if it has any progress.

[2022-09-09 12:01] ghost commented on #2794
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-09 13:33] groh-f commented on #2762
Hallo @JinghuiMS ,
Is there any update on this issue?

[2022-09-09 13:40] 10142904 opened #2826 "Input file dont open File Explorer dialog"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.

[2022-09-09 14:02] ghost commented on #2675
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-09 14:14] 10142904 opened #2827 "web page will not display when start slide show"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

in edit mode of ppt i insert a content office add-ins which open a web page, the page can display, but i click slide show into display mode, the web page can not display

## Your Envi

[2022-09-09 15:44] onestep opened #2828 "Unable to call /replyAll API method with callback token from Outlook for Android"
Token retrieved with `getCallbackTokenAsync()` on Outlook for Android is not accepted by REST API /replyAll method.

## Environment
* Platform: Outlook for Android
* Host: Outlook
* Operating System: Android

## Expected behavior
According to [OfficeJS documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-preview#outlook-office-mailbox-getcallbacktok

[2022-09-09 16:13] lynneosmith commented on #2775
If you have a shape selected and then run this code, which you gave me as a workaround for addTextBox not working correctly in https://github.com/OfficeDev/office-js/issues/2699, the selected shape will be deleted. This occurs only on web. On desktop, the shape is not deleted.
Are you saying that in this code example, desktop is performing incorrectly?

If you are saying this is not a bug, how wou

[2022-09-09 16:17] lynneosmith commented on #2699
Since your workaround is causing the problem I entered in https://github.com/OfficeDev/office-js/issues/2775, is there any estimate on when a real fix for this original issue will be ready? It's been a month since you updated it. The real fix would be such that addTextBox will add a new text shape to the slide correctly on web as it does on desktop, not to the thumbnail.

[2022-09-09 18:06] madhavagrawal17 commented on #2744
@aluke1, I appreciate your patience. I think I am able to figure out the race condition. The problem is the API is being called before "Office.onReady()". What you can try is putting all the API call inside the "load_page" method inside the "Office.onReady()" so that it will be called when the Office.js is loaded and ready. Please let me know if this solves your problem.

[2022-09-09 18:16] madhavagrawal17 commented on #2802
@YasharHeydari, thank you for providing all the information. I am able to see the issue locally and I checked with our internal team. It seems we run Shared Runtime on WebView and currently, we are working on implementing the Undo stack feature for API for WebView. Currently, there is no solution for it but soon this feature will be released fully in production, and this will be fixed.

[2022-09-09 18:22] YasharHeydari commented on #2802
Thanks for the update and looking forward to having the fix soon.

[2022-09-09 18:31] prasadhpshenoy commented on #2802
Thanks the update Madhav. This would be a great relief for all our clients who are encountering the UNDO issue.
Do you have a tentative timeline on when this would be released??

[2022-09-09 20:17] aluke1 commented on #2744
@madhavagrawal17, thank you for your suggestion. I refactored the js to nest the load_page function in the Office.onReady()  function:

`async function login_action(event) {
    Office.onReady(function(info) {
        app.loadPage(event, app.pages.loginPage);
    })
}`

However, I still needed to click twice to load the taskpane initially. **However, I did find another solution for this problem.**

[2022-09-09 23:44] samantharamon commented on #2735
Hi @somenathmaji,

Apologies for missing your messages after this issue was reopened. Let me look into this further and I'll get back to you.

[2022-09-10 05:01] ghost commented on #2785
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-10 05:01] #2785 closed, assigned to nobody

[2022-09-10 09:01] ghost commented on #2677
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-10 12:01] ghost commented on #2812
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-11 03:55] david-ps commented on #2610
@JHJ-MS Thank you for taking time with your team to meet and clarify that the **critical use case** for our Excel Task Pane Add-in (and solution/business model) is not supported by the current Excel API.

Our use case is not supported because: ["_If you want to distribute your add-in with the document, so that users are prompted to install it, you must set the visibility property to 1. You can onl

[2022-09-12 07:01] benjamin-almarza opened #2829 "clear() fails on the web"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Operating System: Windows 10 Pro for Workstations 21H2
* Browser (if using Office on the web): Chrome Version 105.0.5195.102 (Official Build) (64-bit)

## Expected behavior

We expect to be able to clean all the content of file in web.

## Current behavior

Cleaning the con

[2022-09-12 07:57] exextoc commented on #2277
@milankonir Can you please share the logs again so we can debug them?

Steps to generate power lift logs.
Help -> Collect Diagnostics
This will generate a diagnostic id, please share that id with us.

[2022-09-12 08:01] ghost commented on #2749
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-12 08:01] #2749 closed, assigned to xuruiyao-msft, JinghuiMS, wangyun-microsoft

[2022-09-12 09:01] ghost commented on #2589
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-12 10:25] cordeiroph commented on #2768
Hi,

I have done more tests to try narrow down.

The issue only happens on the following conditions:
- Over a email split view. When you can see the list of email or drafts and compose email views side by side
- If you cancel or close (press x button) the spell check dialog.

Find the steps to a scenario that reproduce the issue.
1. Open outlook
2. Click on a email that is in your inbox.
3. Click

[2022-09-12 12:40] barclayadam commented on #2277
@exectoc We have customers running into this issue as well. It is most, if not all, customers although we cannot identify an easy reproduction (working on finding one now).

The error reported is  `{"name":"AccessRestricted","message":"Internal protocol error: '-2147467259'.","code":9017}`.

With our add-in (which loads custom props fairly early in event-based activation) I can reproduce this more

[2022-09-12 12:49] barclayadam commented on #2277
I'm including the below crash report, although not sure it is related. I am trying to replicate the error and Outlook crashed with the following info

<details>
Microsoft Error Reporting log version: 2.0

Error Signature:
Exception: EXC_BAD_INSTRUCTION
ExceptionEnumString: 2
Exception Code: 0x00000001 (0x000000012d810208)
Date/Time: 2022-09-12 12:46:38 +0000
Application Name: Microsoft Outlook
App

[2022-09-12 12:52] barclayadam commented on #2277
I believe the above crash _is_ related to this issue. I had installed a repro add-in with the following code, configured for event-based activation in the manifest:

[code]

With that installed if I, in quick succession, hit New Message multiple times I pretty consistently get the above crash

[2022-09-12 14:02] ghost commented on #2794
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-12 18:27] jeremy-msft commented on #2802
We don't currently have a timeline for undo support in the Office JS APIs. To provide more context to @madhavagrawal17's comment, we are investigating feasibility across different parts of the platform and will enable support once we can ensure it will be safe, reliable, and performant for each subset of the APIs.  If we discover that's not possible in certain scenarios, we'll be sure to clearly d

[2022-09-12 19:30] samantharamon commented on #2735
Thanks for your patience, @somenathmaji. To confirm, does the user still have the appropriate permissions to the shared mailbox? Once they've verified this, could they try removing and re-adding the mailbox to see if that makes a difference?

Please also note the [shared mailbox scenario limitations when in the Message Compose mode](https://docs.microsoft.com/office/dev/add-ins/outlook/delegate-ac

[2022-09-12 21:02] ElizabethSamuel-MSFT commented on #2307
**Update**: Further changes coming in PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62223 that should be published today.

[2022-09-13 00:35] lynneosmith commented on #2714
The fix works for us. Thank you very much for your assistance!

[2022-09-13 03:39] knight-baron commented on #2814
That means I can't turn off this hotkey. But can I use this key for another action instead?

[2022-09-13 03:51] JinghuiMS commented on #2820
@jargil This issue is a follow-up from https://github.com/OfficeDev/office-js/issues/2700. Could you share more? Thanks!

[2022-09-13 03:54] JinghuiMS commented on #2805
@wangyun-microsoft  Please help answer this question. Thanks!

[2022-09-13 05:07] JinghuiMS commented on #2823
@cysnet
Thanks for reaching us.
We don't support worksheet.ListObjects currently. BTW, you can use `context.workbook.tables.getItem(tableName) ` please refer to https://docs.microsoft.com/en-us/javascript/api/excel/excel.tablecollection?view=excel-js-preview#excel-excel-tablecollection-getitem-member(1). If this API can't unblock your scenario, we would like to suggest you go to https://techcommun

[2022-09-13 05:11] cysnet commented on #2823
Hi @JinghuiMS , thanks for you reponse! do you mean that I can get the same information as listobjects in VSTO via `context.workbook.tables.getItem(tableName)` in officejs?

[2022-09-13 05:22] JinghuiMS commented on #2823
The APIs supported by officejs are all in this document: https://docs.microsoft.com/en-us/javascript/api/excel/excel.tablecollection?view=excel-js-preview#excel-excel-tablecollection-getitem-member(1). Please check it as you needed.

[2022-09-13 05:39] JinghuiMS commented on #2824
@Rinzwind
Thanks for reaching us.
I can't repo the issue as your second dialog shown, It's definitely not right to have this error, could you provide more information about these two accounts to help us repro it? Such as the locale info of your PC, the locale info of your online file.

[2022-09-13 05:51] exextoc commented on #2277
Thanks for the details. We are able to reproduce the issue on our side by analyzing the logs that you have shared. We are working on a fix as quickly as we can.

[2022-09-13 05:52] sc41322 opened #2830 "getUserIdentityTokenAsync method keeps returning obsolete identity token until 30 minutes when EdgeHtml used as browser in Outlook add-in"
We are using getUserIdentityTokenAsync method provided by Microsoft to fetch the identity token for our custom Outlook add-in.

Whenever we are updating the manifest file in Outlook to install the add-in, getUserIdentityTokenAsync keeps returning obsolete identity token with old aud value instead of updated one. getUserIdentityTokenAsync method returns the correct updated token only after 30 minut

[2022-09-13 06:06] ruijiaMS commented on #2814
This is a key which defined by Office, so I think you cannot use it for another action instead or it can be seen as current api does not support your assumption. The better way to fix your problem is avoiding triggering such a key in your add-in behaviour/logic or you can post a feature request~

[2022-09-13 06:32] exextoc commented on #2828
Hi @onestep, thanks for reporting the issue. From the description, we are unclear about the use case and the working status of the API.

Can you please be more elaborate on the problem and the use case so that we can understand the problem better?

[2022-09-13 07:39] xiruatms commented on #2829
@benjamin-almarza , thanks for reporting this to us.

But unfortunately, I can't repro this in my local environment. If possible, will you please share your documents (without sensitive data inside) so that I can take a try?

[2022-09-13 07:56] milankonir commented on #2277
@exextoc Can you please clarify what fix you are working on? Is it the crash or the `AccessRestricted` error that the `loadCustomPropertiesAsync` API returns? Any confirmation on the connection of these two issues?

[2022-09-13 08:03] grangeryy commented on #2818
From security perspective, we need to keep blocking these macros by default to make sure customers are in safe state. May I know more details about in which cases you need to create a new workbook with macros enabled using Excel.createWorkbook? Any better suggestion @yaweizhu-henson ?

[2022-09-13 08:09] Rinzwind commented on #2824
Thank you for confirming it’s unexpected behavior. I tried the snippet again using just the first account, while changing the locale setting of the file. When it is set to “Dutch (Belgium)”, I get the expected result:

<img width="500" src="https://user-images.githubusercontent.com/1611248/189846441-74a9271a-5d40-41a6-890e-3b0907fe0938.png">

When I change the locale setting of the file to “Dutch

[2022-09-13 08:13] benjamin-almarza commented on #2829
Hi, I just tested and you are right it works in an empty file

In the gif you can see how it cleaned a newly created file, but it failed to clean our file:

![Animation](https://user-images.githubusercontent.com/51302934/189848073-579b8de8-83bf-48f9-b32b-ad3cbe08454f.gif)

Please use this file to test:
[file_example.docx](https://github.com/OfficeDev/office-js/files/9554814/file_example.docx)

[2022-09-13 09:59] sachin161194 opened #2831 "PRODUCTION ISSUE: Uncaught ReferenceError: Oidc is not defined in Office Javascript Library for Excel Desktop Addin"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# PRODUCTION ISSUE: Uncaught ReferenceError: Oidc is not defined in Office Javascript Library for Excel Desktop Addin
This functionality was working fine till morning,But now getting

[2022-09-13 10:08] stsje opened #2832 "Missing FloatingPictures property"
## Missing floatingPictures property

We seem to lack a way of retrieving floating pictures through the API.
Right now we're only able to retrieve inline pictures by using the `inlinePictures` property. It would be great to have the same for floating pictures :)
Currently there is no way of getting floating pictures at all.

Ideally the API should be something like
`context.document.body.floatingP

[2022-09-13 11:01] ghost commented on #2677
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-13 11:01] #2677 closed, assigned to ajays-msft

[2022-09-13 12:56] shamnani-kamlesh opened #2833 "context.document.saved property turns true before the document is saved"
As per the [documentation ](https://docs.microsoft.com/en-us/javascript/api/word/word.document?view=word-js-preview#word-word-document-saved-member) the 'saved' property should return true only when the document is saved but I am getting it true even the document is still saving (save operation is not finished)

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
*

[2022-09-13 14:01] ghost commented on #2812
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-13 14:02] #2812 closed, assigned to jipyua, JinghuiMS

[2022-09-13 14:06] jgbecker opened #2834 "Excel NamedItem.formula returns localized version of the formula"
The API does not seem to be language-agnostic with respect to the `formula` property of defined names (`Excel.NamedItem.formula`). While the `formulas` property of a range does give me the English version of the formula irrespective of the locale, the `formula` property of a defined name gives me the localized version. There seems to be no way of getting the English version of the formula for a de

[2022-09-13 14:41] JinghuiMS commented on #2832
@stsje  Thanks for reaching us.
Can I know which platform(Word Desktop, Word Online, Mac or iOS) you are seeing this error ? And what's the word version ? it will be helpful for us to better understand your scenario.

[2022-09-13 15:54] Uttam-Gupta commented on #2780
@ononder I agree, but I'm not able to figure out the root cause in that particular file. I've attached the file in this post, can you please guide me on how I can help you? It doesn't happen with all files but in the powerpoint file I've attached, it seems to happen for all slides.

[2022-09-13 18:22] vikramsw commented on #2386
@exextoc , It is unclear to me if the following is related to the root_cause of the issue, but right before when the issue occurs, an XPC failure for the Webkit.WebContent process also occurs alongside a mach-lookup failure for **com.apple.tccd.system** caused by **sandbox violation**.

**RELEVANT LOGS**
<code>
2022-09-10 02:05:30.609261+0530 0x496686   Error       0x0                  0      0

[2022-09-13 18:27] jimmydevine opened #2835 "Table selection not working properly in Word office-js"
Using Script Lab 1.5.0.0 from within Microsoft® Word for Microsoft 365 MSO (Version 2205 Build 16.0.15225.20394) 64-bit.

Select Basic API call (JavaScript) from the sample list

[code]

If I create a multi-row table and try to select multiple rows from within that table, choosing "Print selection" only prints the bottom row selected, independent of the row selection order.  If my selection includ

[2022-09-14 02:02] wangyun-microsoft commented on #2805
Currently, you need to use production CDN for your published add-ins. Please join the [community calls](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins-community-call) to get latest information about APIs. You could also join our [green panel](https://ux.microsoft.com/Panel/WordAddinDeveloper?utm_campaign=github&utm_source=github&utm_medium=url) where we periodically se

[2022-09-14 04:59] JinghuiMS commented on #2825
@Edward-Zhou
Thanks for reaching us.
Currently, we support autoFitWindow() API, please refer to [autoFitWindow()](https://docs.microsoft.com/en-us/javascript/api/word/word.table?view=word-js-preview#word-word-table-autofitwindow-member(1))
If this API can't meet your requirement, we we would like to suggest you go to https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Mic

[2022-09-14 05:01] xiruatms commented on #2829
@benjamin-almarza , thanks for providing the sample file. I can repro it now.

According to the investigation, it should be a by-design behavior. I can learn from the sample file that, there're multiple content controls in the file, and most of them are marked as "Content control cannot be deleted" as shown in the following screenshot

![image](https://user-images.githubusercontent.com/40648203/19

[2022-09-14 05:09] parched commented on #2716
We have a similar problem. Specifically the taskpane is blank when it's first opened, but if you resize it, the content appears.

[2022-09-14 05:10] benjamin-almarza commented on #2829
I will try removing those "no delete" from the content controls and check if I can clean the document.

[2022-09-14 05:28] repl-kannan-d commented on #2769
@JuaneloJuanelo Can you please let me know if you need the above inputs from me?

[2022-09-14 06:19] JHJ-MS commented on #2610
Involve our PM @yaweizhu-henson in this thread. He would be a better one to follow up on.

[2022-09-14 06:28] stsje commented on #2832
@JinghuiMS yes of course!
All Word platforms, and any version of the API should be missing this feature. The preview API does not have this feature either https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview

Tested with Microsoft 365 Word and Office-js 1.3

[2022-09-14 08:08] harri-rajala-koivu-solutions commented on #2818
@grangeryy @yaweizhu-henson
Our add-in does not need, use or create VBA macros. But users can add VBA macros if they want. We provide "Save to Cloud" and "Open from Cloud" functions, which should work even if the user adds VBA macros.

Can you at least change Excel.createWorkbook so that it disables VBA macros, showing the warning
_"File contains VBA macros which are disabled by default. Do you wa

[2022-09-14 08:27] exextoc commented on #2813
Thank you for creating the feature request. We would be prioritizing among the feature requests received based on the impact.

[2022-09-14 08:28] #2813 closed, assigned to exextoc

[2022-09-14 09:40] exextoc commented on #2277
@milankonir We are actively working on both the issues - Protocol error and the crash. We will keep you updated about the fix.

[2022-09-14 09:55] exextoc commented on #2830
Hi @sc41322 , thanks for reaching out. Are you trying it on Outlook desktop or OWA?

[2022-09-14 12:59] onestep commented on #2828
Works fine when token is requested with `isRest: true` on Android, closing.

[2022-09-14 12:59] #2828 closed, assigned to nobody

[2022-09-14 14:54] exextoc commented on #2277
@milankonir Good news! We have fixed the crash, and the fix should be available in the latest build. Kindly update the build and let us know if it works for you.

[2022-09-14 15:32] mbice commented on #1743
@ononder any insight on what might be happening with this one?

Thanks!

[2022-09-14 20:31] Rick-Kirkham commented on #2762
@massonj Who is the current engineer for the dialog APIs?

[2022-09-14 21:48] gustavo-torr3s opened #2836 "Excel Addin crashes when search text with CTRL F in Office dialog API"
* Platform: PC
* Host: Excel
* Office version number: 2208 build 15601.20148
* Operating System: Windows 11 Pro 21H2 22000.856

## Expected behavior
Search for texts without crashes after closing an office dialog window

## Current behavior
Searching for texts causes crashes and reloads and random clicks after the dialog windows is closed

## Steps to reproduce
1. Open office dialog
2. Open the se

[2022-09-15 03:20] benjamin-almarza commented on #2829
We did the change you suggested and now we set all the contentControls to "cannotDelete" to false before deleting.

[code]
We tested in files with some content control as cannotdelete, and the script is able to remove that lock. It works fine both in desktop and web but not in all files.
[success_file.docx](https://github.com/OfficeDev/office-js/files/9571400/success_file.docx)

For example, if we

[2022-09-15 03:20] guliums commented on #2834
Hi @jgbecker , thanks very much for reporting the issue. I think the API should return English format, but currently it is returning localized version on Desktop. I have created a backlog (tracked as 6671401 internally) to track the issue. Thanks for your support!

[2022-09-15 03:51] JinghuiMS commented on #2675
We actively worked with experts in related areas, and finally reproduced this issue locally, confirming that this is a WebView related issue.
We have created a workitem<ADO#6649810> for internal track. We will keep track of this issue and let you know if there’re any update. Thanks again for reporting this issue!

[2022-09-15 03:55] JinghuiMS commented on #2815
Thanks for reporting this issue. It's definitely not right to have this error, but fortunately there is a workaround to unblock us. It has been put on our backlog<ADO#6649732> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-09-15 04:12] ruei-yu-yang commented on #2675
Hi @JinghuiMS , thank you for making time for this issue. I really appreciate it.

[2022-09-15 04:14] #2714 closed, assigned to xuruiyao-msft, jipyua

[2022-09-15 04:48] exextoc commented on #2769
@repl-kannan-d Thanks for your patience. We are unable to repro the issue at our end. Can you please share the add-in manifest to OutlookExtensibility@M365x27035562.onmicrosoft.com so that we can debug it better?

[2022-09-15 05:06] grangeryy commented on #2818
@harri-rajala-koivu-solutions, thanks for the additional information and it's helpful to us to know that creating workbook with macros are not the "must" step for you add-in. Agree we could provide a better UI experience to improve the case so customers can know about the things he/she needs to deal with if creating new workbook with macros. We'll discuss internally and do some investigations firs

[2022-09-15 05:16] woai3c opened #2837 "How to keep the mouse cursor in the default state?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When I listen to the change of slide index, the mouse cursor will keep rotating because I keep calling `Office. context.document GetSelectedDataAsync()` Method. Is there a way to stop

[2022-09-15 05:31] JinghuiMS commented on #2824
Thanks for providing the information. I can repro this issue locally when change the regional setting from "Dutch (Belgium)" to "Dutch (Netherlands)". It has been put on our backlog<ADO#6671653> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-09-15 05:55] xiruatms commented on #2829
@benjamin-almarza , thanks for taking such a try.

For your questions regarding the current failure, that's a little different. As I checked in [fail_file.docx](https://github.com/OfficeDev/office-js/files/9571294/fail_file.docx), there're multiple PlainText contentcontrols.  But as specified here: https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=word-js-preview
    **

[2022-09-15 06:39] kgeorgiou1234 commented on #2815
So what is the workaround?

[2022-09-15 07:53] gopinathshiva commented on #2667
@alettieri any update on this ?

[2022-09-15 07:59] sc41322 commented on #2830
Hi @exextoc , Its Outlook desktop

[2022-09-15 10:16] echowwl commented on #2688
I can not reproduce the issue now, we can close it now

[2022-09-15 10:16] #2688 closed, assigned to exextoc

[2022-09-15 10:50] JanTrichter opened #2838 "How to create an email from a function file"
Hello there,
I have a project in which I spawn a dialog from a function file when clicking a ribbon:
[code]

I complete a multi-step form with several fetches to endpoints in the dialog and send the data from the forms via `Office.context.ui.messageParent(JSON.stringify(emailDetails));` back to the function file. The function file which then calls the `sendEmail` function which should compose a ne

[2022-09-15 11:01] ghost commented on #2589
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-15 11:01] #2589 closed, assigned to macOutlookExtensibility

[2022-09-15 12:22] nicolasmendonca opened #2839 "Event-based activations not triggered on Outlook web client add-ins"
# Provide required information needed to triage your issue

## Your Environment

* Platform: Outlook web client
* Host: Outlook
* Office version number: - (Web)
* Operating System: Mac OS Ventura
* Browser (if using Office on the web): Chrome 105.0.5195.102

## Expected behavior
Event-based activations should be working on the Outlook web client for emails and appointments. Which currently work on

[2022-09-15 15:23] stowellt opened #2840 "Bug that prevents document from updating after inserting OpenXML using JS api in Office Online in cloud storage partner program"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web from cloud storage partner program
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.0.15714.41022
* Operating System: Windows 11
* Browser (if using Office on the web): Chrome

## Expected behavior
Inserting OpenXML should

[2022-09-15 17:18] Rick-Kirkham commented on #2838
For debugging function commands, see https://docs.microsoft.com/office/dev/add-ins/testing/debug-add-ins-overview#special-cases

[2022-09-15 18:32] OfficeAddins commented on #2487
**_The Help link is still incorrect when you are editing an existing formula._**

The Help Link works when:
You start with an empty cell. Select **an empty cell** and select the Formulas tab, Insert Function, select your custom function and click on the "Help on this function" link - This works

The Help Link does not work when:
You select a cell that has the custom function already in it. Select

[2022-09-15 21:55] pivotgroup commented on #2764
This still appears to be causing issues.

When first opening the add-in pane, **Office.context.mailbox.item.recurrence.getAsync** returns null for a variety of the recurrence rules. I haven't figured out the pattern, however it appears it is NOT null if its a simply weekly recurrence and for basically every custom pattern I tried, the result of that call is null, which makes it impossible for me t

[2022-09-15 22:41] exextoc commented on #2810
dateTimeCreated is returning the MAPI Property PR_CREATION_TIME.
The Outlook UI displays PR_CLIENT_SUBMIT_TIME.

Hence the difference.

PR_CLIENT_SUBMIT_TIME is not available via Office.Js. If this is needed, it may be able to get the property via EWS makeEwsRequestAsync and GetItem (or through REST or Graph).

https://docs.microsoft.com/en-us/office/client-developer/outlook/mapi/pidtagclientsubmi

[2022-09-15 23:05] JuaneloJuanelo commented on #2731
Happy to hear this thanks so much! I am closing this issue now :)

[2022-09-15 23:05] #2731 closed, assigned to exextoc

[2022-09-16 00:33] JuaneloJuanelo commented on #2789
Unfortunately, not with the JS API, we don't provide a MAPI property accessor. I wonder if you can solve the problem with a server-side process. You could create a customProperty via Office.js with the values you need to then server side [after the message is received] identify the tagged customProperty and create a the MAPI extended property you need.  that might work depending on how the 3rd Par

[2022-09-16 02:50] benjamin-almarza commented on #2829
Ok, thanks you very much

[2022-09-16 05:08] mosimkhapathan opened #2841 "Is there any way in which on click of link/anchor tag it will redirect to some part of page/image in Word add-ins"
![image 3](https://user-images.githubusercontent.com/112383154/190558902-9f13a03d-fc68-45a5-b6a8-7d74ff1936e4.png)
## Is there any way in which on click of link/anchor tag it will redirect to some part of page/image in Word add-ins

I am trying to insert anchor tag ,  onclick of that link it will be redirect to that particular image which may be on same page or in different page.

[code]

- [Devel

[2022-09-16 05:26] jipyua commented on #2832
@stsje you are right that so far only inline pictures are supported. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum]( https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests there are considered when we go through our planning process. Thanks.

[2022-09-16 05:45] jipyua commented on #2833
hi @shamnani-kamlesh the document.save() method and document.saved property reflects the update to state at word client side. If your document is on a server, such as OneDirve, document.save() will trigger a save to start saving all your local changes. But as to when the server-side saving will be finished, so far this API doesn't care. If your word document is local on your disk, then you will no

[2022-09-16 06:05] jipyua commented on #2835
hi @jimmydevine Thanks for reporting this. Unfortunately, this is a known by-design issue. This is because in Word if you select a table column, actually it's a discontinues selection, each of the table cell in this column is a standalone selection part. Most probably we need to provide a new API called something like document.getSelections() to return a range collection for this kind of discontin

[2022-09-16 06:22] gingerjia commented on #2424
Hi @JensMadsen, sorry for the late reply as our expert team is working hard on fixing the issue.  We have released fix for most of possible root cause in July, and still working on other edge cases fixing. If you or your customer still see the issue, could you help to let us know the build number and send a frown to us at same if possible? This is really very helpful for us to track the corner iss

[2022-09-16 06:28] mayagit commented on #191
Hi everyone, happy to let you know that this capability has been enabled. We'd appreciate if you'd check if everything works as expected in your scenario and let us know if any issues.

[2022-09-16 06:29] #191 closed, assigned to weshi

[2022-09-16 07:05] Premsagar-lab commented on #2386
@exextoc Please provide some update on why this issue occurs when fetching attachments. Our customers are facing this issue intermittently on their machines and awaiting response from us.

[2022-09-16 08:36] rundongmsft commented on #2786
Hi @wh1t3cAt1k, here are my answers:
1. **_I believe you implemented automatic payload batching on your end in the related ticket from my original message?_**
We implemented automatic payload batching for **multiple CFs** instead of **single CF**. A single CF call is the smallest set of requests that cannot be split again. So, when a single CF returns data that exceeds the 5MB payload size limit i

[2022-09-16 08:53] mayagit commented on #191
Just a small update, the rollout to production is still in progress it's not available to all Word Online users yet. I will update the thread once it's fully rolled out :)

[2022-09-16 09:13] jipyua commented on #2756
In PowerPoint on the web, the [Document.ActiveViewChanged](https://github.com/OfficeDev/office-js-docs-pr/blob/main/javascript/api/office/office.document) event will never fire as Slide Show mode is treated as a new session. In this case, the add-in must fetch the active view on load, as shown in the following code sample.

https://github.com/OfficeDev/office-js-docs-pr/blob/main/docs/powerpoint/p

[2022-09-16 09:18] JensMadsen commented on #2424
@gingerjia I will report if our customers report the issue. We have internal reports but I cannot tell if this add-in vanished before or after July.

[2022-09-16 10:27] sumitmodi01 opened #2842 "getAttachmentContentAsync() fails with internal server error 5001"
# Provide required information needed to triage your issue
getAttachmentContentAsync() call fails intermittently with 5001 error in new outlook UI.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac BigSur 11.4 Outlook App
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Outlook version 16.64 (22081401) New UI
* Operating System: Mac OSX BigSur

[2022-09-16 10:38] exextoc commented on #2839
@nicolasmendonca Thanks for bringing this up. We are looking into the issue and will get back as soon we have an update.

[2022-09-16 11:18] knight-baron commented on #2814
Thank you for the answers.

[2022-09-16 11:20] JHJ-MS commented on #2777
Hi @wh1t3cAt1k, for the repeated prompts popping up the issue on WAC, totally understand the repro will affect your add-in users. Sorry that due to it can not repro now, we would not continue to follow this issue then. Thanks.

[2022-09-16 13:36] wh1t3cAt1k commented on #2786
Hi @rundongmsft , I have created the developer idea as you requested.

https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/remove-the-5mb-request-limit-for-custom-function-result-sets-in/idi-p/3629273#M1350

[2022-09-16 14:11] jimmydevine commented on #2835
@jipyua does this apply if you select entire rows?  I did find posts in the issues list that spoke to columns but since I was selecting rows that did not seem to apply.  I see that if I try to select only specific columns and move my selection beyond the table (which is the working scenario), it does force the selection to be full row selection, so perhaps selections that include both table and no

[2022-09-16 14:21] exextoc commented on #2842
@sumitmodi-lab  We are unable to repro the issue at our end. Can you please share the add-in manifest to OutlookExtensibility@M365x27035562.onmicrosoft.com so that we can debug it better?

And , what is the type of attachment that you have inserted?

[2022-09-16 14:36] gummybuns opened #2843 "notificationMessages.replayAsync throws error code 9027"
# Provide required information needed to triage your issue
We are noticing that our workflow for displaying `notificationMessages.replaceAsync` is occasionally failing with the following error:

[code]

Error code 9027 is not listed in the documentation for [common error codes](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes)

From experimentatio

[2022-09-16 19:00] YasharHeydari commented on #2802
Thank you Jeremy for the update,
    I was thinking about this last few days and we've been struggling on these for quite a time now. I was wondering if it's possible for you to provide a little bit more of context around what happens to Undo stack upon a function call ? Out of curiosity, is that a technical decision originally to clear the Undo stack or there have be defects so it's decided later

[2022-09-16 19:32] meisammofidi commented on #2800
@JinghuiMS
Would you add that "attention" label to this bug??!! Or any label leads to speed up the process to fix this bug. It seems that it may even take up to a decade to resolve this error duo to this bug is a known issue since 2016. Below you can see the link of proof
https://stackoverflow.com/questions/39787975/office-365-api-search-replace-on-word-online-fault#_=_

I am wondering why this is

[2022-09-17 05:14] exextoc commented on #2843
@gummybuns Thanks for reporting the issue. On looking at it, we could see that you are trying it in the Outlook desktop. Can you please confirm the platform on which you are facing this?

[2022-09-17 06:01] ghost commented on #2823
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-17 12:32] jipyua commented on #2835
if you select entire rows, then it's a continuous selection and you can get all the content of your selection. When table-related content is selected, inspect your selection from left to right, if some cells are not selected, then it's a discontinuous selection.

[2022-09-17 18:01] ghost commented on #2735
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-18 06:01] ghost commented on #2805
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-18 08:48] wh1t3cAt1k commented on #2777
@JHJ-MS regarding those repeated prompts, definitely would be interested in seeing some sort of alpha / beta channel mechanism in AppSource so that these rough edges can be smoothed out internally first without impacting the clients right away.

Who is the best person to talk to about that?

====

Otherwise, @madhavagrawal17 @zlatko-michailov as I understand we're moving forward with JSON cache he

[2022-09-19 02:19] #2814 closed, assigned to JinghuiMS, ruijiaMS

[2022-09-19 05:11] parched opened #2846 "`Excel.NamedItem.value` returns `#VALUE!` if it refers to a UDF"

[2022-09-19 06:01] ghost commented on #2781
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-19 06:01] ghost commented on #2732
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-19 07:45] rundongmsft commented on #2786
Thanks @wh1t3cAt1k!

[2022-09-19 07:48] plamenbotev opened #2844 "Token for EWS calls in hybrid setups"
Hello I have a follow up question to the discussion in https://github.com/OfficeDev/office-js/issues/2740
We have tried to use EWS tokens in our backend obtained from `Office.context.mailbox.getCallbackTokenAsync`.
However we need to be able to work on all messages in the user mailbox and the token, even with permission for ReadWriteMailbox is item scoped.
We have done some tests with obtaining to

[2022-09-19 09:27] shamnani-kamlesh commented on #2833
Thanks @jipyua but the issue is reproduced for local disk only.

[2022-09-19 09:37] jkopyto opened #2845 "Contextual addin not highlighting text in Outlook desktop client"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop, Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Microsoft® Outlook® for Microsoft 365 MSO (Version 2208 Build 16.0.15601.20148) 64-bit
* Operating System: Windows 11
* Browser (if using Office on the web): Chrome

## Expected behavior
I expect contextual addin to correc

[2022-09-19 11:50] rolfamadeus commented on #2756
Thank you for your response. I'm sorry but I am unable to get that to work. I have made a very simple test, you can get the manifest file here:

https://pptaddintest.s3.eu-west-1.amazonaws.com/manifest_test.xml

When using that manifest file in the web version it writes 'init' and 'edit' in the javascript console but when I run a presentation it does not write anything. Also, when going back to ed

[2022-09-19 14:38] gummybuns commented on #2843
@exextoc i will try to reach out to the user, based on the client using our add-in I am pretty confident it is a Windows PC w/ on Outlook Desktop. Not sure if u saw - the diagnostics are being returned like this, which seems off:

[code]

I will try to add the [platform](https://learn.microsoft.com/en-us/javascript/api/office/office.platformtype?view=common-js-preview) to our error capturing logic

[2022-09-19 16:40] jimmydevine commented on #2835
OK, this is the scenario that I'm calling out then as I am selecting entire rows but I only get back the content for the last row

![image](https://user-images.githubusercontent.com/19355989/191068288-a5ebf64d-40ab-496e-90e5-5d9d05ace674.png)

[2022-09-19 19:53] michelleranmsft commented on #2841
Hi @mosimkhapathan! As issues in this repo are meant to report bugs in the product or docs, we ask that how-to questions be posted to Stack Overflow and tagged "office-js". Thank you!

[2022-09-19 19:53] #2841 closed, assigned to nobody

[2022-09-19 20:15] #2816 closed, assigned to JinghuiMS

[2022-09-19 20:25] nicolasmendonca commented on #2839
BTW I posted a question related to this issue on stackoverflow [here](https://stackoverflow.com/questions/73717544/outlook-add-in-event-based-activations-not-working-on-web-browser), and I've got a reply where it says that the API is not supported for non-365 users. Which I signed up for the 90 day trial for developers and now I got it working.

Personally, as I don't fully understand how the offi

[2022-09-19 22:03] wh1t3cAt1k opened #2847 "requestCreateControls fails silently in case of invalid JSON schema"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I used your example of Contoso add-in https://learn.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs and while playing around with it, replaced "ExecuteFunction" action t

[2022-09-20 00:01] ghost commented on #2810
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-20 00:46] Oleg-O commented on #2665
Hi @LookerClocker, apologies for the delay in following up here. Could you please provide some clarifications:

1. What **Windows OS version** does this reproduce on? Do you have Microsoft Edge installed on this PC?
2. Do you observe this on more recent versions on Windows Desktop Outlook for your add-in?
3. Do you observe this with **any other add-in** - you could try a few free add-ins from stor

[2022-09-20 03:01] ghost commented on #2789
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-20 05:42] exextoc commented on #2843
1. Is our assumption correct? Error code 9027 is raised when an item is unsaved?

2. Our item.saveAsync is also failing, so there is some root cause that i need to understand why our item and our officejs requests are failing.

Error code 9027 indicate server is returning error for updating persistent notification messages. Can you please capture network trace when doing this test and share with u

[2022-09-20 05:43] exextoc commented on #2843
By the way, I tried addAsync(), replaceAsync() APIs and it currently seems to be working fine from our account and not returning error. If errors are reproducible in your setup, please capture network trace and share with us.

[2022-09-20 07:07] cysnet commented on #2823
Hi @JinghuiMS , another similar question, how to find objects in office-js that have the same functionality as XMLMaps in VSTO

VSTO code as below,
[code]

[2022-09-20 07:08] cysnet opened #2848 "How to find objects in office-js that have the same functionality as XMLMaps in VSTO"
how to find objects in office-js that have the same functionality as XMLMaps in VSTO.

VSTO code as below:

[code]

[2022-09-20 07:57] LookerClocker commented on #2665
Thanks @Oleg-O! Im on it!

[2022-09-20 08:05] BuWH commented on #1991
Same with Excel here. Seems like all office addin environments don't support Clipboard API.

[2022-09-20 09:14] shamnani-kamlesh commented on #2833
Looking more into this, the issue seems to be with `context.sync` method. It does not wait for the operation to finish.

For example in the sample code below the line `console.log('Saved the document');` executes even before the document is saved (see image below the code).  This is all in local disk only.

Please let me know if you need more information.

[code]

![image](https://user-images.gith

[2022-09-20 15:01] jlara005 opened #2849 "Unable to get the itemId of the item you are replying/forwarding to in compose mode?"
Hi all,

Is there a way to get the itemId of the item you are replying/forwarding to in compose mode using the Office-JS library? I want to be able to get the itemid of the email or meeting invite that I am replying/forwarding.

V/r,
JP

[2022-09-20 17:01] michelleranmsft commented on #2848
Hi @cysnet, thanks for your question! We use Github issues to report bugs with our product or documentation, so for general programming questions, we suggest you go to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html) and see if your question has already been asked or ask a new question.

Thanks,
Microsoft 365 Developer Platform team

[2022-09-20 17:01] #2848 closed, assigned to nobody

[2022-09-20 17:04] michelleranmsft commented on #2849
Hi @jlara005, thanks for your question! We use Github issues to report bugs with our product or documentation, so for general programming questions, we suggest you go to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html) and see if your question has already been asked or ask a new question.

Thanks,
Microsoft 365 Developer Platform team

[2022-09-20 17:04] #2849 closed, assigned to nobody

[2022-09-20 19:12] microsoft-github-policy-service[bot] opened #2852 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-20 20:01] ghost commented on #2735
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-20 20:01] #2735 closed, assigned to exextoc

[2022-09-20 21:25] jstick16 commented on #2543
Hi @Rick-Kirkham - Is there an update on review of the current behavior? Thanks

[2022-09-20 22:04] mwickens commented on #1108
Any update on this @JuaneloJuanelo? We just rolled out new templates functionality in Emailgistics and this issue is affecting our customers...  Thanks.

[2022-09-20 23:39] Oleg-O commented on #2557
Hi Frankie, I've spent some time today trying to reproduce the issue under various conditions and was still unable to. Thanks for answering Tim's questions above, this helps. However, I do have additional questions that may help us get to the bottom of this, and would appreciate your answers:

1. For those people who reproduce it, does this happen on specific existing messages or keep on reproduci

[2022-09-21 01:28] jingxuan0109 opened #2853 "test for farbric"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expected behavior

## Current behavior

## Steps to reproduce

1. ______
2. ______
3. ______

## Link t

[2022-09-21 01:28] ghost commented on #2853
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-21 01:29] #2853 closed, assigned to JinghuiMS

[2022-09-21 03:22] Refinitiv-365 opened #2854 "[PowerPointApi] changing Textbox wrapWord to true but it does not update on the slide"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Textbox does not wrap word after set to true

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Power

[2022-09-21 06:46] ghost opened #2855 "[PowerPoint] set font in text box"
I would like to set the font when addin a new text box in power point.
Is it possible ?

I think it is not since the font property of textRange is readonly cf [readonly font: PowerPoint.ShapeFont;](https://learn.microsoft.com/en-us/javascript/api/powerpoint/powerpoint.textrange?view=powerpoint-js-preview#powerpoint-powerpoint-textrange-font-member)

<img width="491" alt="image" src="https://user-i

[2022-09-21 08:01] ghost commented on #2805
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-21 08:01] #2805 closed, assigned to JinghuiMS, wangyun-microsoft

[2022-09-21 09:25] stsje commented on #2832
@jipyua I have opened a feature request as suggested https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/word-js-api-add-support-for-floating-pictures/idi-p/3633626

[2022-09-21 09:34] repl-kannan-d commented on #2769
@exextoc As requested i have sent mainfest to that specific address.. If its not reproducible, can we schedule a call to discuss this. I can probably show the issue.

[2022-09-21 09:40] Howard-Song opened #2856 "[Outlook] CPU usage is too high in outlook for mac(new UI)"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:   Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook for mac(new UI)
* Office version number: 16.65(22091101)
* Operating System:  MacOs Monterey 12.2.1
* Browser (if using Office on the web): ______

## Expected behavior

When use setInterval to monitor recipient

[2022-09-21 13:17] dmitry-semenov opened #2857 "[Outlook] Clicks on the Add-in menu buttons are not working"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook Web and Desktop
* Office version number:
![image](https://user-images.githubusercontent.com/17027799/191506809-3ccfc87b-17b8-4434-bd2d-e795469932b8.png)
* Operating System: Mac
* Browser (if using Office on the we

[2022-09-21 13:29] CaptainTammy commented on #35
@gingerjia @ElizabethSamuel-MSFT @lindalu-MSFT
Is there any progress expected on this in the near future? We have the same problem for our TaskPane-App that we would need to know when we are in edit or read (edit or presenting) mode. We are also stuck for getting our app submitted as we can not proceed without the web version working. We have also posted an issue about this [#2756](https://github.

[2022-09-21 13:47] CaptainTammy commented on #2756
@jipyua @ononder @JinghuiMS
Can you confirm that `Office.context.document.getActiveViewAsync` returning only 'edit' for a TaskPaneApp is still a bug like mentioned in issue [#35](https://github.com/OfficeDev/office-js/issues/35)?
And do you have a timeline for when it will be looked at?
Can you also confirm that this bug only exits in a TaskPaneApp add-in and not in a ContentApp add-in?

This is b

[2022-09-21 17:40] wh1t3cAt1k commented on #2732
Still relevant

[2022-09-21 18:54] michelleranmsft commented on #2855
Hi @jsoto-gladia, thanks for your question! We use Github issues to report bugs with our product or documentation, so for general programming questions, we suggest you go to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html) and see if your question has already been asked or ask a new question.

Thanks,
Microsoft 365 Developer Platform team

[2022-09-21 18:54] #2855 closed, assigned to nobody

[2022-09-22 01:57] zxyty commented on #2810
Please help to check

[2022-09-22 02:27] Howard-Song commented on #2856
Another point:
When I just get body in loop, the CPU usage become 60%-70%.
[code]
![Screen Shot 2022-09-22 at 10 17 53](https://user-images.githubusercontent.com/28775661/191644091-ed545b3e-4f9d-4a71-add7-1484189d4380.png)
And only get recipient in loop, the CPU usage will below 10%.
[code]
![image](https://user-images.githubusercontent.com/28775661/191644471-c1d11cdd-108e-418f-80ab-bc49730bfe15.p

[2022-09-22 02:27] JinghuiMS commented on #2854
@ononder  Do you have any ideas? Thanks!

[2022-09-22 02:34] jingxuan0109 opened #2859 "test for fabric"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expected behavior

## Current behavior

## Steps to reproduce

1. ______
2. ______
3. ______

## Link

[2022-09-22 02:34] ghost commented on #2859
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-22 02:46] #2859 closed, assigned to JinghuiMS

[2022-09-22 02:52] JinghuiMS commented on #2846
Thanks for reporting this, we are locally investigating the root cause and will update once we have some progress.

[2022-09-22 03:11] JinghuiMS commented on #2852
@ElizabethSamuel-MSFT @AlexJerabek
Could you experts have any ideas about this issue? Thanks!

[2022-09-22 05:39] exextoc commented on #2857
(1) Addins menu not working from Get-Apps:  We had this issue few weeks back but we fixed this and fix is already rolled out. Can you hard-refresh in browser and re-test this?

(2) When addin is pinned on Ribbon and sub-menu is not opening: We are able to reproduce this issue. We will get back to you shortly on this once.

[2022-09-22 06:22] exextoc commented on #2857
Thanks for reporting this issue regarding add-in sub-menu not opening from Ribbon. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: [172142]

[2022-09-22 06:32] exextoc commented on #2856
Thanks @JesseHeisenberg for reporting this issue. We are looking into this.

Meanwhile, I wanted to check if you explored using addHandlerAsync() API to register for events such as ItemChanged, RecipientsChanged events. This may be suitable for use case to execute some code whenever recipients change. Let us know if you are looking for any such event triggers.

Docs:
(1) https://learn.microsoft.co

[2022-09-22 07:07] Howard-Song commented on #2856
Hi @exextoc, I have added some event to monitor such as `attachmentChange`/`itemChange`. But I think there are no other way to get `bodyChange`, so as the sample code above, If I continue to use loop to get bodyChange, the CPU usage issue is still affect normal use.
By the way, thanks for your help.

[2022-09-22 08:01] ghost commented on #2781
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-22 08:01] #2781 closed, assigned to JHJ-MS

[2022-09-22 08:16] exextoc commented on #2769
@repl-kannan-d We are not able to install your addin with shared manifest.xml. It is showing this error to us:

This app can't be installed. The manifest file doesn't conform to the schema definition. The 'http://schemas.microsoft.com/office/appforoffice/1.1:Id' element is invalid - The value 'abc' is invalid according to its datatype 'http://schemas.microsoft.com/office/appforoffice/1.1:UUID' - T

[2022-09-22 11:57] jipyua commented on #2756
The above solution works for content addin. @rolfamadeus but seems you are working on a TaskPane addin? Per my understanding, TaskPane addin is not supposed to work in presentation mode. May I know why you need to test TaskPane addin in presentation mode?

[2022-09-22 13:46] liamtim commented on #2567
@exextoc Any updates here? This is quite concerning.

[2022-09-22 16:27] AlexJerabek commented on #2852
@JinghuiMS Someone with write permissions on this repo needs to check in this PR: https://github.com/OfficeDev/office-js/pull/2851

@wandyezj, can you help?

[2022-09-22 18:40] npw1990 opened #2860 "AppointmentRead item.location is not returning data when using web version of Outlook"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When viewing an event in AppointmentRead mode, the location is not being returned properly

## Your Environment
* Platform [

[2022-09-22 20:56] gummybuns commented on #2843
@exextoc I have added the `platform` to our error capturing like you have asked. Here are the diagnostics i am able to capture:
[code]

Our workflow is the following:
[code]

what is happening is the _first_ save call in our workflow is failing with a 9020 error code. Next we try to show a snackbar which, first tries to save the item, which _also_ fails with a 9020 code that we ignore. Then we try

[2022-09-22 23:18] david-ps commented on #2610
@yaweizhu-henson can you please review this issue and provide us with an ETA for resolution, thanks

[2022-09-23 00:10] rbhudson opened #2861 "Outlook API not returning shared contacts folder"
## Expected Behavior
A user of our Word AddIn should be able to add a contacts folder which was shared with the user.  Then the user should see contacts from the shared folder as well as their own contacts.

## Current Behavior
The AddIn code calls the Outlook API:  OutlookSearch.ActiveNamespace.GetSharedDefaultFolder(oUser, Outlook.OlDefaultFolders.olFolderContacts).
But, that API call throws an

[2022-09-23 05:01] ghost commented on #2789
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-23 05:01] #2789 closed, assigned to JuaneloJuanelo

[2022-09-23 06:16] JinghuiMS commented on #2859
test for add reply!

[2022-09-23 06:18] jingxuan0109 commented on #2859
test for author adding reply

[2022-09-23 08:21] eugene-plutoflume opened #2862 "Outlook on Mac with the classic/old UI returns null for the recipientType property (to, cc, bcc)"
# Provide required information needed to triage your issue
In an Outlook add-in for compose mode, specifically in the `ItemSend` event handler, we use the following methods to extract some data of recipients:

[code]

The `recipientType` property should return one of the [Office.MailboxEnums.RecipientType](https://learn.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.recipienttype?v

[2022-09-23 09:41] AkhileshShah-MS commented on #2758
@ThangaSperumal apologies for delay in response. I tried reproducing the issue with the steps you mentioned. But the custom manifest is failing to load on the client.
Also, In your step#13, I tried installing store 'Stratum' add-in from centralized deployment instead of custom add-in and observed that the URL values are persisting. So, this should not be an issue of source of deployment, but shoul

[2022-09-23 10:37] JinghuiMS opened #2863 "Test for new flow"
# Provide required information needed to triage your issue
Test for new flow

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expected behavior

## Current behavior

## Steps to reproduce

1. ______

[2022-09-23 10:37] ghost commented on #2863
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-23 12:52] maliksuyash opened #2864 "Office.context.mailbox.item.recurrence.getAsync is giving - Uncaught (in promise) Error: unhandled recurrence pattern undefined"
In our Office Add-In, when getting the recurrence details using outlook.js we are getting error in console - **Uncaught (in promise) Error: unhandled recurrence pattern undefined** when we are calling **Office.context.mailbox.item.recurrence.getAsync() function** in Outlook Web only but works perfectly in Outlook Native. It starts happening from today only. Previously, it was working fine. Has som

[2022-09-23 14:16] JinghuiMS opened #2865 "Hackathon for GitHub automatic distribution mechanism"
# Provide required information needed to triage your issue
This is a test issue for Hackathon project - GitHub automatic distribution mechanism

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expect

[2022-09-23 14:16] ghost commented on #2865
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-23 14:31] repl-kannan-d commented on #2769
Got it.. I will share the details via Email.

[2022-09-23 15:24] ThangaSperumal commented on #2758
@AkhileshShah-MS Thanks for looking into this issue. The custom manifest is failing because I had deleted my test website as I have not received any update for this issue.  This is still an issue for me. I have created my updated manifest (version 1.0.0.8 points to my new test website) to reproduce this issue (1.0.0.7 is the version published under office store points to my production website). Pl

[2022-09-23 15:26] #2865 closed, assigned to JinghuiMS

[2022-09-23 15:27] #2863 closed, assigned to JinghuiMS

[2022-09-23 21:02] ghost commented on #2842
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-23 21:02] ghost commented on #2838
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-23 21:02] ghost commented on #2783
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-23 22:04] LSDerekTardiff opened #2866 "Outlook Launch Event: fetch(url) TypeError: Network request failed"
Hello I am having issues with using fetch during my Outlook Launch Event.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2208
* Operating System: Windows 10

## Expected behavior
When making a fetch(url) request in the windows javascript runtime the request succeeds and I am able to do somethin

[2022-09-24 08:01] curtk commented on #2623
Hey vbachu-rsi,

I believe I had this same problem as you, but I've figured it out... You probably have as well, but in-case you didn't.

In my case, I had extracted xml from a preformatted word document with a header / footer.

I then attempted to insert that XML using the following method:

`context.document.sections.getFirst().getHeader("Primary").insertOoxml(XML, "Replace");`

The issue with t

[2022-09-24 13:39] maliksuyash commented on #2864
@exextoc One more issue is happening, Create a recurrence meeting from Outlook Native and change the time of whole series from OWA. The recurrence details are removed from the graph event thus making it single day meeting. Please find below screen shots.

![image](https://user-images.githubusercontent.com/91523389/192101038-4e21f329-b810-4aba-acd5-7b383ba591e7.png)

![image](https://user-images.gi

[2022-09-24 18:01] ghost commented on #2665
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-25 00:01] ghost commented on #2557
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-26 03:08] exextoc commented on #2861
@rbhudson Thanks for reporting this issue. Are you using "Outlook Desktop" on Windows for this?

[2022-09-26 03:59] exextoc commented on #2856
Yes, currently there is no event for "bodyChange". Can you please tell us your use-case for "bodyChange"? It will help us learn from your scenario and suggest other APIs or plan for improving our API support.

By the way, we are looking into original CPU usage high issue. We don't have any update on this yet. We will keep you posted.

[2022-09-26 04:10] Howard-Song commented on #2856
@exextoc We may want to handle the links which insert by our add-in, so that when user removed these link in email body, we will remove the inserted status in add-in. So we need to achieve body change event through get body method in every 300 ms.

[2022-09-26 04:29] exextoc commented on #2860
Thanks for reporting this issue regarding 'location in AppointmentRead'. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: [172317]

[2022-09-26 07:26] LookerClocker commented on #2665
Hi, @Oleg-O

Here the list of provided answers:

1. Windows 10
2. Seems like Yes
3. No
4. Only when Im adding my custom dropdown
5. Consistently
6. Single (since we have that specific version of Outlook only on single machine, so its depend of version of Outlook I believe)
7. One
8. No
9. No

Many thanks and sorry for delay!

[2022-09-26 07:57] boehmmic commented on #1095
Hello @exextoc could you open the issue again? It still / again only leads to a blank page when opening the event detail link via API on mobile devices.

[2022-09-26 10:23] thomas-tech commented on #2756
@jipyua @lindalu-MSFT @ononder @JinghuiMS
We have a polling tool that uses a dashboard for management, clients for participation, and we now want a presenter of PPT to be able to trigger the polling on slides while presenting.
This should then trigger some more functionality and contact to our servers so we can show the live results in real time on the presentation while presenting.
The taskpane i

[2022-09-26 10:25] CaptainTammy commented on #2756
@jipyua @lindalu-MSFT @ononder @JinghuiMS
We have a polling tool that uses a dashboard for management, clients for participation, and we now want a presenter of PPT to be able to trigger the polling on slides while presenting.
This should then trigger some more functionality and contact to our servers so we can show the live results in real time on the presentation while presenting.
The taskpane i

[2022-09-26 12:21] milankonir opened #2867 "[Outlook] Incorrect documentation and types for Office.InternetHeaders"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expected behavior

The documentation and `@types/office-js` to be correct and reflect the API behavio

[2022-09-26 12:38] estet commented on #2672
@preethikakiru @ononder @wangyun-microsoft Do you need any other information to speed up the resolution?

[2022-09-26 13:25] rogozind opened #2868 "addin does not start in Office Enterprise environment"
We have an add-in in MS Store called "Verity RMS for Office". It works well for all our clients. One customer cannot get it running and gets that dreadful "This add-in seems to be having problems. Click Restart to try restarting it again."

We have enabled the log and I see this:
[code]

They found out that if they enable compatibility mode for WebView2 to be Windows 8 it works:
<img width="286" a

[2022-09-26 16:15] gummybuns opened #2869 "Outlook item.saveAsync is not returning item ID in the callback function"
# Provide required information needed to triage your issue
According to the [documentation](https://learn.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview&preserve-view=true#outlook-office-messagecompose-saveasync-member(2)):

However we are encountering situations where a successful result is returned but the `value` is not the id of the item. It appears to

[2022-09-26 18:21] prasadhpshenoy commented on #2802
Jeremy and Madhav,
Is there any update on this??

[2022-09-26 19:01] timwan03 commented on #2810
There isn't more to check? Unless you have another question? The Office.js API IS returning to you the PR_CREATION_TIME. If you want another property (such as PR_CLIENT_SUBMIT_TIME) that is not available via the API at this time. You can fetch it via EWS or Graph/REST.

[2022-09-26 19:02] timwan10 commented on #2810
There isn't more to check? Unless you have another question? The Office.js API IS returning to you the PR_CREATION_TIME. If you want another property (such as PR_CLIENT_SUBMIT_TIME) that is not available via the API at this time. You can fetch it via EWS or Graph/REST.

[2022-09-26 21:15] davidchesnut commented on #2487
Hi @OfficeAddins,

Can you provide a small JavaScript sample custom function with a `@helpurl` that causes this behavior? I tried inserting a function into a cell already containing the custom function, and the help link goes to the correct url. Could be the issue occurs based on number of parameters, or some other factor. A sample would help. Also can you provide which version of Excel you are us

[2022-09-26 23:01] ghost commented on #2842
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-26 23:01] ghost commented on #2838
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-26 23:01] #2838 closed, assigned to nobody

[2022-09-26 23:01] ghost commented on #2783
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-26 23:01] #2783 closed, assigned to JinghuiMS

[2022-09-27 03:46] #2829 closed, assigned to xiruatms

[2022-09-27 04:57] exextoc commented on #2843
Can you please capture network trace for saveAsync call which returns 9020 error. It will help us troubleshoot the error.

[2022-09-27 06:55] exextoc commented on #2862
Thank you for sharing this issue. As a workaround, users can switch to the [New Outlook for Mac](https://support.microsoft.com/en-gb/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439?ui=en-us&rs=en-gb&ad=gb) experience which works as expected. We are not prioritizing this fix on classic Mac UI; please reopen the issue in case the workaround does not solve your scenario.

[2022-09-27 08:25] exextoc commented on #2839
Event based add-ins are currently supported for commercial accounts as they are only available as part of admin deployment. Supporting event-based activation for user acquired add-ins is on the road map and we will consider this as part of that requirement. We don't have an ETA for this yet.

[2022-09-27 08:30] eugene-plutoflume commented on #2862
@exextoc thank you for confirming the issue. But we would like to support the classic Mac UI because we can't ask users to switch over. Please let us know whether the issue is going to be fixed and the timeframe required for that.

[2022-09-27 08:40] JinghuiMS commented on #2852
@wandyezj  @jayrathi Could you experts can help it? Thanks very much!

[2022-09-27 08:42] exextoc commented on #2856
Thanks for reporting this issue regarding high CPU usage. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: [6764176]

[2022-09-27 09:35] xeras opened #2870 "Web add-In: how to download base64 encoded content in outlook on mac 2021?"
I want to implement a web add-in feature to download base64 encoded data. This works for OWA and windows client, but does not work in outlook on mac 2021.

Can you explain how to download any base64 encoded data in outlook on mac 2021?

## Tested variants

### FileSaver.js

[code]

Works on windows and OWA, but not in outlook on mac.

### Object URL with Link

[code]

Works on windows and OWA, but

[2022-09-27 12:21] resong opened #2871 "Excel worksheet protection prevents users from grouping/ungrouping rows and columns"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

It is a common use case for our Excel add-in to protect worksheets but permit users to group/ungroup rows or columns.

In the C# API, a `UserInterfaceOnly` property could be passed as

[2022-09-27 13:03] nicolasmendonca commented on #1544
Hi Team! I wanted to re-open this ticket since I'm also experiencing the same issue in Iframe mode.
Here's the style rule that is taking up the entire screen. Disabling it produces the desired result, and it begins to use the given parameters for width and height:

![Screenshot 2022-09-27 at 09 59 51](https://user-images.githubusercontent.com/22284473/192533556-6d2dc2bb-27a2-4e52-aef3-8a9df536d003

[2022-09-27 13:26] OfficeAddins commented on #2487
Hi David, Thank you for reopening this.

I will put a small sample together and then upload it for reference.
It may take me longer than 3/4 days though to get all the necessary information. I will post back to this thread when finished.
Many Thanks

[2022-09-27 13:52] JackTheDane commented on #2084
Is there any update on this issue? We are seeing similar problems when this API is invoked in a mail item created via a "Quick steps" action in Windows Desktop.

![image](https://user-images.githubusercontent.com/35668734/192545309-e39b7249-d975-4a0c-b12c-6bfdd9ad8b6e.png)

[2022-09-27 17:32] trashhalo opened #2872 "ContextMenu for Word for Web no longer present"
We have an addin in the store called Standd that describes in the manifest an DesktopFormFactor>ExtensionPoint#ContextMenu. This ContextMenu is no longer showing in Word for Web, but is showing in desktop Word (windows and mac). I found another extension called Power Thesaurus in the store that has a similar ContextMenu and theirs doesnt work either in Word for Web.

Has something happened in Word

[2022-09-27 17:39] trashhalo commented on #2872
Small note we also have a ExtensionPoint PrimaryCommandSurface button on the ribbon. That IS showing up on all platforms.

[2022-09-27 19:23] Oleg-O commented on #2861
This issue is opened for office-js repo, but I am not sure this question is related to this repo - the failing API in question does not appear to be an office-js API. Or am I missing something? Could you please clarify?

[2022-09-27 19:34] ElizabethSamuel-MSFT commented on #235
@david-ps Apologies for my late response. @gingerjia Any update on the backlog item?

Thanks.

[2022-09-27 19:36] ElizabethSamuel-MSFT commented on #35
@jipinshi Any update on this? Thanks.

[2022-09-27 21:11] exextoc commented on #2845
@jkopyto
Highlighting works differently between win32 and browser version. It is very picky about the content, like if you have an extra space, or a newline or whatever, it is not going to work.
To make it easier, I highly suggest your regEx to match something simpler. For example, you can just highlight the "BeginMessage", then use the body to get the actual test.

[2022-09-27 21:29] rbhudson commented on #2861
The issue occurs in a VSTO Addin not a js addin.

[2022-09-27 21:31] rbhudson commented on #2861
Yes.  This is on Office 2016 installed on Windows.  The Addin is a VSTO addin, not the newer js kind.

[2022-09-27 23:22] jeremy-msft commented on #2802
The undo stack currently gets cleared whenever API calls are made using a shared runtime to prevent unexpected conflicts that could arise, so the behavior you are seeing is as expected.  Unfortunately, I don't have any additional updates to share on future changes or timelines.

[2022-09-28 01:03] gingerjia commented on #235
Hi @david-ps , the issue is in still our backlog. May I know the @janisdd's workaround is suitable for you? And also may I understand the impact to your add-in? Then we can priority the work with PM based on it. Thanks very much!

[2022-09-28 01:06] gingerjia commented on #35
Hi @ElizabethSamuel-MSFT seems @Jipyua addressed the issue in thread https://github.com/OfficeDev/office-js/issues/2756. Thanks!

[2022-09-28 02:03] ghost commented on #2557
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-28 02:03] #2557 closed, assigned to Oleg-O, exextoc

[2022-09-28 02:09] Andrew-AnalysisPlace commented on #235
@janisdd's workaround is not suitable in our case because it does not fully correct the image (colors are not close).
Impact to our add-in: thousands of customers use our add-in; 20% are Mac users; approx a third of those would want to use the getRange() to transfer images of ranges to Word/PowerPoint docs (like Windows users do). We do recommend a workaround to our users: paste the range as a "li

[2022-09-28 02:29] JinghuiMS commented on #2872
@preethikakiru could you help answer this UX related issue. Thanks!

[2022-09-28 02:37] gingerjia commented on #235
@Andrew-AnalysisPlace  thanks very much for the quick reply and clear impact info. I have updated the info to our backlog item [BUG 4959708]. Since we did investigation before and found it's not a small effort fix, so during our side try to make progress for it, may still your kindly help to unblock your customer by the workaround as much as possible. We will keep you update if have progress.
Than

[2022-09-28 03:35] JinghuiMS commented on #2847
@preethikakiru Please help redirect this context menu related issue to correct Eng team for triage. Thanks.

[2022-09-28 04:42] exextoc commented on #2862
We understand the concern but in this particular instance we will not be able to prioritize it as moving to new UI is our recommended solution.

[2022-09-28 05:08] exextoc commented on #2864
We are not able to repro this. Can you please share the repro steps along with API calls made, it will help us to understand the issue better.

[2022-09-28 05:31] yjoshi-msft commented on #2870
Hi Xeras,

Would request you to post this on tack Overflow and tag it with office-js.
https://stackoverflow.com/questions/tagged/office-js

[2022-09-28 05:31] #2870 closed, assigned to nobody

[2022-09-28 05:36] jipyua commented on #2756
@CaptainTammy Thanks for providing more information. You mentioned that "The taskpane is used to add polls to a slide in edit mode, and coming to this slide in presenting mode,", But I want to confirm with you that in presenting mode, the taskpane can't show in the presentation, right? instead, it's under the background. At this case, how the presenter can operate the taskpane since he even can't

[2022-09-28 07:00] harri-rajala-koivu-solutions commented on #2818
@grangeryy @JinghuiMS @yaweizhu-henson
Do you have any updates?
Are you going to make changes related to this issue?
If yes, what and when?

[2022-09-28 07:30] ShovelMonkey commented on #2756
@jipyua When presentation is running, presentor doesn't have to see the task pane because functionality is automated just based on the slide he is currently on, which we keep polling on the background (this works on native but not on web version). From the code we can manipulate the content of slides directly.

[2022-09-28 08:16] AlexandrDiakov commented on #2864
I have encountered the same issue with outlook add-ins that try to get meeting recurrence.
We started developing our add-in not so long ago and everything worked just fine until a few days ago this  "unhandled recurrence pattern undefined" error started popping up in console.
It doesn't look like this problem is on our side cause we did no changes to our add-in code & it looks like the Zoom add-in

[2022-09-28 09:25] johnbergvall commented on #2864
One of our developers got this problem as well during the last couple of days, but no one else so far.

[code]
Minified code below.

The unhandled exception seems to be caused by owa.CalendarBoot.js sends `e.__type` as `"WeeklyRecurrence"` but all the `r[key]`-values have a `:#Exchange`-suffix. I.e. `r.MG == "WeeklyRecurrence:#Exchange"` != `"WeeklyRecurrence"`

![outlook_error](https://user-image

[2022-09-28 10:03] CaptainTammy commented on #2756
@jipyua
As you could see in the linked video in my post, the taskpane is not present or showing when in presenting mode, but as @ShovelMonkey mentioned we still can manipulate the slides while in presentation mode on the native PPT app.
The code/api can still be reached when presenting, (without the taskpane showing) for the native app, this seems to be different in the web version though.
This is

[2022-09-28 12:03] nicolasmendonca commented on #2839
I understand, thank you so much for clarifying this.

Although I'm a bit concerned with the "OnAppointmentSend" event, which is not working on an https://outlook.office.com/ for my account which I created using the 365 developer program. As soon as I indicate in my manifest that I need the API 1.12, my addin is not longer mounter anymore. And if I omit it, the event command is never invoked. I tri

[2022-09-28 13:23] thoffmann-fms commented on #2864
I and several other developers are seeing this too, on multiple browsers.  This also causes ```Office.context.mailbox.item.start.getAsync()``` to never return.  No failure, just the promise is never resolved/rejected.

Fails also on MacOS Safari when called by owa.addins.js version 20220916007.08

![image](https://user-images.githubusercontent.com/28546239/192799465-e98f0750-7c48-4e5a-9e3a-f18ec2d

[2022-09-28 14:41] gummybuns commented on #2843
Hey @exextoc i am trying to work with the user to get some sort of network trace from the browser directly. Is there anything else that is exposed via the `Office.AsyncResult` that would be good to pass to you or does Outlook have a documented way of capturing these network requests in any way?

[2022-09-28 15:26] thoffmann-fms commented on #2864
Pure OWA is failing (no Add-Ins involved).

Create a recurring meeting starting on Monday.  Select the end date of Friday. Save.
Console log full of errors:

[code]

Pick the Tuesday event, right-click and “This and all following”. Change the end-time and click save.  OWA aborts:

![image](https://user-images.githubusercontent.com/28546239/192818738-5550d8c7-515c-4c4b-8087-8b7e55a11281.png)

The “

[2022-09-28 17:07] sboudouk opened #2873 "[PowerPoint] Added slides are visually not up to date, but the preview is."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  Office 365 Web
* Host [Excel, Word, PowerPoint,

[2022-09-28 18:32] vikramsw commented on #2386
@exextoc , Any update regarding this issue ?

[2022-09-29 02:02] zxyty commented on #2810
Because both EWS and Graph apis are exclusive to certain email accounts, we are unable to utilize them to accomplish this due to the constraints of our business situation; Furthermore, our plugin is designed to work with various users and accounts.

[2022-09-29 02:40] jaceaser opened #2874 ""RichApi.Error Wait until the previous call completes" after executing custom function 200+ times concurrently."
I have a custom function which makes an asynchronous call. When I execute the function once it works fine, however if I have a worksheet with 200 of these calls and refresh the whole worksheet many of them error out with the GeneralException: Wait until the previous call completes.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.

[2022-09-29 02:40] ghost commented on #2874
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-29 03:46] exextoc commented on #2843
There is no predefined way for Outlook for capturing the network request. We just want to see the request and response for saveAsync call. Also, if you can share the repro video, that would be helpful to understand the issue fully.

[2022-09-29 03:50] exextoc commented on #2869
We need repro steps or a repro video to understand the issue better. Kindly provide that.

[2022-09-29 05:37] christian-sap commented on #1958
Hi @keyur32 any plans to fix this? There are no updates since almost 1 year.

[2022-09-29 05:50] christian-sap opened #2875 "Richapi.Error with context.workbook.names.add on newly copied sheet"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
The API call context.workbook.names.add throws an error when you run it on a newly copied sheet

## Your Environment
* Platf

[2022-09-29 05:50] ghost commented on #2875
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-29 06:52] exextoc commented on #2839
we need more details to be able to provide guidance and request for your add-in manifest and a repro video.

[2022-09-29 06:57] gingerjia commented on #2868
@rogozind , thanks very much for reporting the issue!
For the failure you posted above is for "add-in ID : f438b4e6-2b49-466f-9a91-b75f473eba96", seems it's not same as "Verity RMS for Office" add-in Id. Could you help to double confirm it?
And for the webview2 compatibility issue, could you help to get the detail diagnostic log to help us further investigate the root cause? Here is how to get the

[2022-09-29 07:12] gingerjia commented on #2871
@resong , thanks very much for reporting the issue! Sorry that currently we didn't have such API to support this operation. Could you help to fill a request for it in https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform? Then our PM will help to triage the requirement accordingly. Thanks again!

[2022-09-29 08:46] zxyty commented on #2810
Other Case:
When i use the Office.context.mailbox.item object, I need to get the original message reception date. But I only have dateTimeCreated and dateTimeModified.
But Current behavior is when I get the Office.context.mailbox.item object, it returns the dateTimeCreated and dateTimeModified date set to today, so I cannot know when the mail was received. There are any way to get the original rec

[2022-09-29 13:49] rogozind commented on #2868
Good catch on the addin ID. No wonder I was puzzled by the message. You are correct.
Thanks for log info. We will work with the customer to collect the data and maybe we learn something from that.

[2022-09-29 17:28] OfficeAddins commented on #2487
I have uploaded a sample to github and also included a few screenshots.
The manifest didn't seem to work on localhost but when uploaded to https it worked fine.

https://github.com/OfficeAddins/custom-functions

[2022-09-29 17:35] sboudouk commented on #2873
Is this a known issue @ononder ? Thanks for your help.

[2022-09-29 18:54] exextoc commented on #2810
This property is not available in Office.js API. Feature suggestions can be made at: https://aka.ms/M365dev-suggestions

However, it is unlikely that a change will be made here.

All accounts that support Web Add-ins, support EWS. If you do not want to do this server side, you use the makeEwsRequestAsync function, which is available as long as the add-in has ReadWriteMailbox permissions.

For exam

[2022-09-29 19:26] nvazhayil opened #2876 "Office.ribbon.requestUpdate throws an exception"
Referring to https://learn.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs, I created an Excel task pane add-in.

Sometimes the API Office.ribbon.requestUpdate() throws an exception saying **The API you are trying to use is not available. It may be available in a different scenario.**

This does not happen always. Sometimes it works and sometimes it doesn't. Both the times, the data

[2022-09-29 19:57] techpool commented on #2864
I'm getting the same error and hence not able to get whether an event is recurring or not. Is there any other way to figure that out?

[2022-09-29 20:19] ghost commented on #2876
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-29 20:41] thoffmann-fms commented on #2864
Until that bug is fixed other bad things happen, too.  I have also opened a case via the Exchange Support path and cross referenced this ticket. Waiting to hear back from that side.

[2022-09-29 21:10] davidchesnut commented on #2487
This is super helpful, thanks! I can repo the problem now. Looks like it has something to do with opening a second document. In the first document when it sideloads it works fine. When I do File New, and create a second document, that's when the issue occurs. Could be this is only something that affects sideloading during development and not when you do store or central deployment. I'll continue l

[2022-09-30 02:27] JinghuiMS commented on #2876
Thanks for reaching us.  To better assist you, could you provide more information for locally repro your issue? which APIs you use?  Please reproduce your issue in the Script Lab tool, export a gist, and provide the URL of the gist

[2022-09-30 03:00] Biktop opened #2877 "Text stuck in status bar after call add-in command from ribbon button"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop, Mac
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 16.65 (22091101) (Mac)
* Operating System: MacOS 12.6

## Current behavior
I use [Office-Add-in-samples](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/excel-shared-runtime-scenario) and slightly modified the source

[2022-09-30 03:00] ghost commented on #2877
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-30 07:17] nvazhayil commented on #2876
I can't repro this in a sample setup. It's only reproducible in our development setup and not always.
The API's used are Office.ribbon.requestCreateControls() and Office.ribbon.requestUpdate().
If you can provide some inputs on possible cause for this exception, I can try it out in my dev setup.

[2022-09-30 08:32] gingerjia commented on #2877
@madhavagrawal17 could you help to take a look at it seems it's shared runtime related? Thanks very much!

[2022-09-30 09:49] OfficeAddins commented on #2487
Thats excellent news 👍
There are so many different scenarios/possibilities.

**Another Bug I found:**
These URLs only seem to work with https.
Using http-localhost doesn't work (error message is Unexpected Resource - The resource you are trying to use does not exist).

[code]

 although http-localhost does work for this URL.
[code]

**Another Bug I found:**
All the page URLs only seem to work with

[2022-09-30 10:32] boehm-e commented on #2415
Hi @RuizhiSunMS @dariok  getting the same issue, have you find a way to resolve it ?
Thanks :)

[2022-09-30 11:06] #1680 closed, assigned to croicu, robert-gavrila

[2022-09-30 12:33] wh1t3cAt1k commented on #2786
@JinghuiMS  @rundongmsft @Rick-Kirkham this has got some attention on the platform, and the status of this item is "under investigation". Can we hope that it gets the product team's attention now?

[2022-09-30 12:38] wh1t3cAt1k commented on #2776
@JinghuiMS is there any update on this? The issue is pretty bad in our opinion and has produced support requests already.

We'd really like the add-in to be recognized as the same instead of registering multiple times in the workbook.

In addition, we would like clear product rules around the priority of such recognition.

For example, if the user has a sideloaded dev add-in registered in his mach

[2022-09-30 12:43] wh1t3cAt1k commented on #2876
On my end, I am seeing a similar bug, also without clear repro steps.
I confirm that I sometimes see the contextual ribbon and sometimes it simply does not appear.

In my case, it is behaving even more weirdly: `requestCreateControls` with `tab { visible: true }` **does not make it visible immediately** (despite the documentation saying otherwise).

I need to explicitly request an update with `{ v

[2022-09-30 13:04] wh1t3cAt1k opened #2878 "Duplicated add-ins from store and sideloading even though it's the same add-in, "poisoning" files"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: latest
* Operating System: Win 11
* Browser (if using Office on the web): Edge

## Steps to reproduce

- **Clear all browser cache for all time** and re-login
- Create a new Excel workbook
- Insert a new add-in from AppSource store call

[2022-09-30 13:04] ghost commented on #2878
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-09-30 13:08] resong commented on #2871
@gingerjia I had initially posted this issue as a feature request -- is there another place I should post my request?

[2022-09-30 13:43] gmichaud commented on #2878
I’ve been affected by this problem so many times that I now completely avoid sideloading dev versions on my main machine and use a separate set of workbooks.

[2022-09-30 14:20] rogozind commented on #2868
The client has attached the logs.
They also tried Wikipedia addin and that did not work either. So it is definitely something in their environment.
Let me see fi you find anything in the logs.

[App1664544362179424900_BF4895A0-FB7E-4968-89B5-6BE99F66CF77.zip](https://github.com/OfficeDev/office-js/files/9685170/App1664544362179424900_BF4895A0-FB7E-4968-89B5-6BE99F66CF77.zip)

[2022-09-30 23:07] davidchesnut commented on #2487
In general you should use HTTPS. You can run into issues when just using HTTP. See [hosting requirements](https://learn.microsoft.com/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-1#hosting-requirements). If a page isn't loading ("html" vs "htm") I try loading it in a browser directly just to be sure the url is correct. If it loads, then I run a trace like with Fiddler to see if Office is

[2022-09-30 23:23] davidchesnut commented on #2487
@yaweizhu-henson can you please take a look at this issue? You can follow the repo steps created at https://github.com/OfficeAddins/custom-functions, or you can repro this with yo office as follows:

1. run yo office and build an "Excel Custom Functions using a JavaScript-only Runtime". Use JavaScript as the language.
1. Open functions.js in VS Code.
1. Add `@helpurl https://github.com/officedev`

[2022-10-02 13:30] jindaldheeraj opened #2879 "word-win32-16.01 throwing InvalidArgument exception at location - Range.insertFileFromBase64"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi Team,

We have developed a word Addin to configure the templates. This Addin has capability to edit already existing templates by pulling them from repository and rendering them on

[2022-10-03 10:48] wh1t3cAt1k commented on #2777
@JHJ-MS @madhavagrawal17 @zlatko-michailov just pinging you for the update regarding custom function metadata JSON cache header compliance.

[2022-10-03 11:12] wh1t3cAt1k commented on #2732
@JinghuiMS @JHJ-MS the bug reproduces even for non-matrix arguments, so I will reformulate the bug title.

[code]

**Result:**

![image](https://user-images.githubusercontent.com/5159662/193563515-1852adc9-cf6d-431c-a754-c2d9b9b2ddb3.png)

**Expected result:**

The behaviour should be the same as we have in the COM-based add-in: Excel would check that at least the first of the repeating arguments

[2022-10-03 12:34] rogozind commented on #2868
The client has found a solution based on this article: https://learn.microsoft.com/en-us/answers/questions/693068/webview2-compatibility-issue.html

Registry Key : [HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Edge\WebView2]
"RendererCodeIntegrityEnabled"=dword:00000000

Feel free to close this ticket.

That being said, we have seen this "cannot load add-in" message a lot and it is always a pain

[2022-10-03 12:36] CaptainTammy commented on #2756
@jipyua
Hi, any progress on this?
We very much want to get the add-in out there, but we are at the moment quite tied down because of the differences between how the API works in the native app vs. the web version.
As I mentioned it stops us from getting through submission, so is there anything we can do to get this forward?

I'm not sure what you ment about understanding our use cases better, but

[2022-10-03 12:40] jindaldheeraj commented on #2879
Hi Team,

Did you get chance to review the above reported issue.

Regards,
Dheeraj Jindal

[2022-10-03 12:41] nicolasmendonca commented on #2839
Hello team, thanks for your patience.

I recorded a video explaining my issue here https://www.loom.com/share/9dcd76c5bdfb43a58d9475e995f7fdb8

Basically changing the Requirement sets from 1.10 to 1.12 makes my add-in dissappear.

Here's a cropped version of the manifest.xml I'm using. I'm trying to hide my add-in information for privacy reasons, so let me know if you need the full version and I c

[2022-10-03 13:10] #2868 closed, assigned to JinghuiMS, gingerjia

[2022-10-03 13:18] gingerjia commented on #2871
Hi @resong, please help to post a feature request in https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform. Thanks very much! :)

[2022-10-03 13:24] resong commented on #2871
Thanks, I've posted my request here: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/equivalent-of-userinterfaceonly-worksheet-protection-option-for/idi-p/3641774#M1375

[2022-10-03 13:50] gingerjia commented on #2875
@christian-sap, thanks very much for reported the issue. I can repro locally and reported a bug [BUG 6816893] to track the issue. Could you let us know the impact and we can priority it accordingly? Thanks very much!

[2022-10-03 16:44] Oleg-O commented on #2665
I wonder whether it'd be possible for you to create and share a simple ScriptLab snippet with your drop down to see if we could reproduce the issue? ScriptLab is a free Outlook add-in you can find in [Outlook add-in store](https://support.microsoft.com/en-us/office/get-an-office-add-in-for-outlook-1ee261f9-49bf-4ba6-b3e2-2ba7bcab64c8). It's a development tool were you can play with APIs and create

[2022-10-03 16:56] johnhrvatin-material opened #2880 "Outlook window steals focus from message windows when Task Pane closes"
This is a 100% repro and new in the last 2-4 months.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: MS365 Apps for enterprise - Outlook Version 2209 (Build 15629.201156 Click-to-Run)
* Operating System: Windows 10 Pro, 19044.2006
* Browser (if using Office on the web): n/a

## Expected b

[2022-10-03 17:28] lindalu-MSFT commented on #2879
@jindaldheeraj Hi, we don't triage on the weekends. I've tagged the appropriate SMEs who can investigate this issue. They should get back to you in 72 hours or less.

[2022-10-03 17:29] #2852 closed, assigned to nobody

[2022-10-03 19:49] exextoc commented on #2767
@claell, thanks for bringing this up. We don't provide timelines for feature requests, however, we do consider these feature requests during our planning process. Thanks.

[2022-10-03 19:50] exextoc commented on #2719
Apologies for the delay in responding.
We are actively investigating this issue and will get back to you shortly with our findings.

[2022-10-03 21:01] ghost commented on #2810
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-03 21:16] lynneosmith opened #2881 "Using CoercionType.XmlSvg, certain complex svg renders incorrect in PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our addin renders content into the powerpoint slide. We have successfully rendered many svgs, but ran across a complex one today that renders incorrectly/incompletely in Powerpoint .

[2022-10-03 22:05] Oleg-O commented on #2880
I was able to reproduce and without add-ins involved. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 6818737

[2022-10-04 00:29] johnhrvatin-material commented on #2880
Hi Oleg - can you share how you were able to reproduce "without add-ins involved"? I'm glad you were able to reproduce it, but I just want to make sure we're talking about the same issue.

Thank you so much for jumping on this today!

[2022-10-04 02:08] weidezhong-msft commented on #2866
When you host the JS files on localhost, make sure to enable direct debugging, otherwise the resource on localhost is not reachable and will result in a networking failure. [https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/debug-autolaunch](url)

[2022-10-04 02:55] maliksuyash commented on #2864
@exextoc  For first issue. We have developed an Add-In. Where we are fetching the recurrence details using the function **Office.context.mailbox.item.recurrence.getAsync()** of Office.js. But as soon as it is called the error gets logged **Uncaught (in promise) Error: unhandled recurrence pattern undefined** in developer console and the next statement in the below screen shot never gets called **i

[2022-10-04 03:03] maliksuyash commented on #2864
@exextoc For second issue **which is also happening in OWA only**. Go to OWA and create a recurrence.

![image](https://user-images.githubusercontent.com/91523389/193725090-d2f09d6a-75ef-4618-89cd-f777f9bb58cb.png)

Edit the same recurrence and change the time of whole series and save. It will give below alert

![image](https://user-images.githubusercontent.com/91523389/193725265-d7f982c1-f3ec-418

[2022-10-04 06:58] CaptainTammy opened #2882 "When targeting the PowerPointAPI 1.4 in the manifest, it can not be uploaded and deployed in the MS 365 admin center"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When trying to upload a manifest file in the MicroSoft 365 admin center containing
`<Requirements>
<Sets DefaultMinVersion="1.4">
<Set Name="PowerPointApi" MinVersion="1.4"/>
</Sets>

[2022-10-04 08:05] LookerClocker commented on #2665
Thansk, @Oleg-O  I'll try to run it with snippet and will let you know

[2022-10-04 10:52] exextoc commented on #2490
The product bug is resolved as we are not able to reproduce the issue at our end.

[2022-10-04 10:52] #2490 closed, assigned to exextoc

[2022-10-04 13:39] exextoc commented on #2857
The fix is deployed 100%. Please let us know if the issue persists.

[2022-10-04 17:25] johnhrvatin-material commented on #2880
In case it's helpful, I narrowed down which update introduced the bug.

I went back through [old Office updates](https://learn.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date) and determined the bug was introduced in **Version 2201**.

- Does NOT repro on Version 2112 (Build 14729.20260)
- DOES repro on Version 2201 (Build 14827.20158)

[2022-10-04 19:55] dmitry-semenov commented on #2857
Looks resolved, thank you!

[2022-10-04 19:55] #2857 closed, assigned to macOutlookExtensibility

[2022-10-04 21:43] david-ps commented on #2610
@JHJ-MS  can you please provide an update. I have received no response from @yaweizhu-henson

[2022-10-04 22:06] wh1t3cAt1k opened #2883 "Excel: inconsistent application.calculationState in Online and Mac"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

First environment:

- macOS monterey 12.3 21E230
- Excel for Mac 16.65(22091101)

Second environment:

- Excel for the Web
- Chrome browser latest

## Steps to re

[2022-10-05 00:18] Oleg-O commented on #2880
Hi, John, indeed, it may not be the same issue. I've observed that this happens on its own shortly after Outlook restart. All I do is restart Outlook, select a message, double click on it to bring the message in a new window and then observe. After a few seconds, that new message will go into the background on its own.

Unfortunately, I am unable to reproduce this with add-in flow you described wi

[2022-10-05 06:11] christian-sap commented on #2875
Hi @gingerjia , every issue is annoying. Our ~3000 active end users (per month) potentially run into this issue and get a toaster showing the error in our task pane. Of course this is no severe issue because there is workaround and nothing gets broken but it is the sum of little issues that lead to a bad user experience. So we would be happy if you could resolve this even though it is not prio ver

[2022-10-05 08:42] groh-f commented on #2762
Hello everybody,

any updates? It's been almost 2 months

Best regards

[2022-10-05 11:03] guzman-rc commented on #2382
In an Outlook add-in (new Mac UI preview) for compose mode, we are using the addFileAttachmentFromBase64Async method to add attachments. In Outlook desktop "new Mac UI preview", the "Internal Error" occurs if the add-in's pane is pinned.

In Mac Outlook desktop "Classic UI" this method work correctly.

My version of Outlook for Mac is: 16.65 (22091101)

This error was reported in January 2022 and

[2022-10-05 11:18] GMolini opened #2884 "Failed to load resource: net::ERR_CONTENT_DECODING_FAILED office script"
Im developing a vue 2.0 app addin for outlook. Right now, its on just on development mode so Im sideloading the addin.
A very weird bug is happening today. I have several mailboxes inside outlook, and one of them cant load the addin (again it was working fine until recently)

The failure it gives is this:

[code]

The problem is this part in my `index.html`
[code]
If I change that src to `https://

[2022-10-05 12:56] idr-raas opened #2889 "SendMode is not validated correctly when uploading custom app in MS Admin Center"
## Article URL

https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough#configure-the-manifest

## Issue

 when i try to upload this manifest to MS Admin Center/Integrated Apps/Upload Custom App it gives back the following error in the network tab of dev console. However, same file is validated on desktop and functions correctly when sideloaded

{
    "a

[2022-10-05 14:21] tj-aew opened #2885 "CustomFunctions.Error ignores custom error message for some error codes"
When you throw a `CustomFunctions.Error` using `CustomFunctions.ErrorCode.invalidNumber` as the `code`, any `message` you include is ignored and Excel just shows the generic message instead ("There is a problem with a number used in the formula.").

After we got hit by this, we found [the documentation](https://learn.microsoft.com/en-us/javascript/api/custom-functions-runtime/customfunctions.error

[2022-10-05 14:44] ghost commented on #2885
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-05 16:34] AlexJerabek commented on #2889
Thank you for reporting this @idr-raas.

@samantharamon, could you please investigate?

[2022-10-05 18:30] lindalu-MSFT commented on #2883
@AlexJerabek You're the only contact for Script Lab issues. Can you help triage this? Thanks, linda

[2022-10-05 18:50] AlexJerabek commented on #2883
@lindalu-MSFT This seems like an Excel for Mac issue. Assigning @JinghuiMS.

[2022-10-05 19:21] StephenRieger opened #2886 "Word Desktop:Non-editable content controls can't be deleted when revision tracking is enabled"
# Provide required information needed to triage your issue

For the desktop version of Word, when I insert a content control and mark it as non-editable (cannotEdit = true), the content control cannot then be deleted from the document when revision tracking is enabled. When I try to delete the content control, the error message reported is: "Some changes could not be accepted/rejected because they

[2022-10-06 04:40] ShivharakhYadav opened #2887 "@helpurl not showing in taskpane"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In the documentation, there is written that when we use @helpurl it will open in the task pane. But when I implement that functionality in the excel add-in custom function then helpur

[2022-10-06 04:41] ShivharakhYadav commented on #2887
If possible then we can check with code

[2022-10-06 05:06] meisammofidi commented on #218
@JuaneloJuanelo Seems this issue is still in force.
In my experience on Word online, When `matchWholeWord ` is set to True result is empty array [ ] while when we set to False some result come back. Anyways matchWholeWord  doesn't work in online Word. We are working on a project and this search option is crucial for us otherwise get wrong result by setting this option to False. I am wondering if a

[2022-10-06 10:12] CG49071 commented on #2830
@exextoc @michelleranmsft We are facing same issue with Chromium browser as well and it is impacting our customer base. Can you please provide any work around or update me on this issue?

[2022-10-06 10:31] sumitmodi01 commented on #2842
I have shared our manifest file over OutlookExtensibility@M365x27035562.onmicrosoft.com
We are also not able to repro this issue now, but want to understand, in what circumstances, this issue may occur and what's the best way to handle this type of issue.

Type of attachment we used was docx file (size ~ 40kb)

[2022-10-06 11:56] gingerjia commented on #2875
@christian-sap, thanks very much for the detail info! I have updated it to the bug also. Will keep you update if have progress. Thanks again for reporting the issue!

[2022-10-06 12:06] darko-kovac-clebex commented on #2864
I can confirm this started happening in our outlook add-in as well two weeks ago, same error messages.  Office.context.mailbox.item.recurrence.getAsync() function in Outlook Web fails but works perfectly in Outlook Native.

![image](https://user-images.githubusercontent.com/112626094/194308238-17063d88-d06d-4d00-8039-b77c7eb98313.png)

Any progress on the issue?

[2022-10-06 13:44] jindaldheeraj commented on #2879
Hi Team,

Do we have any update on the reported issue. This is started occurring recently and there were some office updates which got installed on the system. There is no way to uninstall them as uninstalling them is again reinstalling them.

Regards,
Dheeraj Jindal

[2022-10-06 13:45] andmaz commented on #790
By the way, this issue still occurs from time to time. It's really unstable (occurred twice last month on the test environment), so I cannot share the test account.

I can try to grab some details from the dev tools if it may help.
Currently, we know that:
- relading/reopening extension does not help
- switching to another email helps
- both new and old UI are affected

Thanks

[2022-10-06 14:29] exextoc commented on #2839
Will it be possible for you to send the manifest over mail: OutlookExtensibility@M365x27035562.onmicrosoft.com ?
(Please send a sample add-in where we can reproduce the issue, and hide all non important details)

[2022-10-06 14:40] exextoc commented on #2884
Please answer some questions below for us to understand the issue better :
1. Is the repro consistent for that user?
2. Where do you see the issue happening (Web / Windows client / Mac client / Mobile ) ?
3. Do you see any error in the console when this happens?

[2022-10-06 15:06] tj-aew commented on #2885
I should note that this is in those situations where the custom function **does** get called (so: **not** a custom function where the type of the parameter is `number` and so Excel knows it's invalid and doesn't even call the custom function). (That said, it'd be great to have an option to opt out of that so we could do all the validation at once, rather than giving the user piecemeal feedback.)

[2022-10-06 15:11] liamtim commented on #2567
@exextoc Any updates available?

[2022-10-06 15:33] GMolini commented on #2884
1. Is the repro consistent for that user?
Since yesterday yes, it happens all the time and has not stopped happening.

2. Where do you see the issue happening (Web / Windows client / Mac client / Mobile ) ?
Windows client. On the web it loads fine.

3. Do you see any error in the console when this happens?
The error in the console is the one I mentioned above
![image](https://user-images.githubuse

[2022-10-06 18:03] feannyn opened #2888 "Office.context.mailbox.item.getAttachmentsAsync not returning cloud attachments"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

On a Windows environment utilizing OWA, when attempting to attach a cloud based attachment, the cloud attachment is not add

[2022-10-06 19:55] exextoc commented on #2819
We are planning to adjust this in a future build of Outlook, so that Contacts resolved from the Personal Address Book return as type "Other".

This build will be updated with the fixed build numbers, once the change is made.

[2022-10-06 22:08] samantharamon commented on #2889
Hi @idr-raas,

I'm also getting an "Invalid manifest file" error when I attempt to upload the Smart Alerts walkthrough manifest file. I'll look into this further and will let you know what I find.

[2022-10-06 22:18] Adrian-MSFT commented on #2768
Hi @cordeiroph,

Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 6847077

[2022-10-06 23:01] ghost commented on #2810
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-06 23:01] #2810 closed, assigned to nobody

[2022-10-07 04:23] johnhrvatin-material commented on #2880
Hi Oleg,

We're doing it the same way you are so we set up a live repro to help figure out what's different.

- Add the attached add-in to Outlook desktop on Windows (I had to zip it for GitHub to allow it)
- Select a message
- Click the 'Test' button in the toolbar

The task pane will open, it will open the selected message in a new window, and after 5s it will call `closeContainer()` and the Out

[2022-10-07 07:34] idr-raas commented on #2889
I think schema validation has a problem. It is stating schema violation without providing any reason. Could it be the correct schema definitions are not updated on servers for the manifest to be properly validated

[2022-10-07 07:58] jipyua commented on #2756
@CaptainTammy  sorry that we just come back from a public holiday. is the poll that you added to the slide from Taskpane addin a content addin? or how you can update in real time the poll results to the slides?

[2022-10-07 08:21] jipyua commented on #2879
hi @jindaldheeraj does this error happens for all the API calls or just some of them? This InsertFileFromBase64() API accepts two arguments, the first one is a base64 string, the second one is the insert location. Would you please help confirm which one of them is reporting the error? BTW, can you also try to call the same API in the ScriptLab add-in (a public add-in in the Office Store) and see w

[2022-10-07 12:35] guzman-rc opened #2890 "Outlook desktop (new Mac OS X UI): addFileAttachmentFromBase64Async throws code: 5001, message: "An internal error has occurred." in pinned add-in"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
In an Outlook add-in (**new Mac UI preview**) for compose mode, we are using the **addFileAttachmentFromBase64Async** method

[2022-10-07 13:23] wh1t3cAt1k opened #2891 "Excel: impossible to set named item referring to multiple cells in a portable way"
Our add-in sometimes needs to create (and then work with) named items that refer to multiple cells or areas, however it's not possible to do it in a clean and portable way!

The list separator character differs on different platforms, most frequently ";" or ",". However, Office.js is opaque regarding which separator is actually used.

## Expected behavior

A possibility to retrieve the list separa

[2022-10-07 13:46] stefanoslig commented on #2839
It's the same for me. After changing the Requirement set from 1.11 to 1.12, the add-in is not visible anymore

The only change I made in the manifest was to change the DefaultMinVersion and MinVersion to 1.12 from 1.11. After this change, the add-in is installed but it's not appearing in the "My add-ins" section and it's not possible to use it when I compose a message

[2022-10-07 13:59] wh1t3cAt1k commented on #2891
Maybe it's a platform specific bug? Our list separator is set to ";" on a Canadian Mac, where Excel for Mac is installed.

And we **cannot** use the "," separator there when setting `refersToFormula`.

However apparently we should be, according to this answer: https://stackoverflow.com/a/37398895/499206

It would be ideal if we could simply use `,` everywhere and it was interpreted correctly as th

[2022-10-07 15:18] jindaldheeraj commented on #2879
Hi @jipyua - This is happening for InsertFileFromBase64(). We are passing two parameters - base64 string and second as replace. We don't know for which parameter it is throwing the error. Also, we tried replacing the "replace" with "start", still same error. Also, the Addin is working on my local machine but not on other set of users machine.

There are some office updates which were applied in mi

[2022-10-07 18:18] Oleg-O commented on #2880
Great, this helps. I'm able to consistently repro this now. We'll look into it.

Again, internal tracking id: Office: 6818737

[2022-10-07 18:58] madhavagrawal17 commented on #2877
Thanks for reporting this issue. I tried to reproduce the problem locally, but it seems it is not SharedRuntime-related. The appropriate team is working on this issue. We will provide an update once we find the root cause of this issue.

[2022-10-08 00:29] jipyua commented on #2879
@jindaldheeraj I mean on other set of user's machine, does the call to InsertFileFromBase64 fails every time or just for some specific base64 strings?  Same case as on your machine, this API is also working fine on our machine. We need to get more information in order to reproduce this. Would you please try to get the user's base64 string and see whether it works or not on your machine and sent it

[2022-10-08 03:53] Wenjun-Gong commented on #2610
@david-ps, we are looking into the details of this issue including how many cases are running into this scenario today and the possible solution for this. We take this as a new feature ask. We don't have any ETA to share at this moment. Thanks for your patient.

[2022-10-08 05:06] david-ps commented on #2610
@Wenjun-Gong thanks for getting back to me.
You mention "We take this as a new feature ask. "  Can you please explain how you arrived at the assesement of this as a new feature request when the critical failure described will occur for any add-in that shares data with the workbook and occurs during a typical workflow of sharing of a workbook with other users?

[2022-10-08 05:40] Wenjun-Gong commented on #2610
Hi David,

This is a scenario we haven't supported for a long time, instead of a regression or bug. That's why we take this as a new feature. We did not receive many feedback for this scenario in the past. We will take further look at the impact and design next. And this has been tracked as a feature backlog internally (6625256). Appreciate for your feedback and long discussion with us. Well recei

[2022-10-08 05:45] david-ps commented on #2610
@Wenjun-Gong Thank you, I really appreciate you taking this issue seriously, it has stalled our product development effort. I look forward to seeing you update on this in the community call.

[2022-10-08 06:01] wangyun-microsoft commented on #2672
Thanks for reaching out. Unfortunately, we don't have a target date to provide a fix for now.

[2022-10-08 06:34] jindaldheeraj commented on #2879
Hi @jipyua - Yes call to InsertFileFromBase64 fails every time for all the base64 string and they are using MS Office Standard 16 version - 16.0.5317.1000 MSO (16.0.5361.1000)

On my local I am using Office 365 where Script Lab addin is getting loaded successful whereas on MS Word 16 Standard machine it is displaying message - "Script Lab no longer supports the Internet Explorer 11 Browser or embe

[2022-10-08 09:54] jipinshi commented on #2891
@wh1t3cAt1k, thanks reporting the issue, can you share the complete sample script gist which is used to repro the issue? I tried above script and try to run in scriptlab in win32 and failed.

[2022-10-09 01:48] jipinshi commented on #2883
@wh1t3cAt1k ， not sure the scenario, in general, calculatestatus will have different status like pending and calculating and done. In general, users care about the status of done, when one calculation is done, it will trigger onCalculated event. Can you explain the scenario you need to take care of the status of calculate?

[2022-10-09 01:54] jipyua commented on #2886
@StephenRieger thanks for reporting this. We synced with the word feature team and confirmed this is a by-design behavior back to Office 2010. When "tracked changes" is on, a deletion is performed using an edit to apply a property indicates that this part of content should be tracked as a deletion instead of real deletion. Applying this property is, a form of edit and if the content control is loc

[2022-10-09 02:48] jipyua commented on #2881
@lynneosmith thanks for reporting this. In your attached snapshot, I can only save it as jpg but not svg. Would you please attach a zip file containing the .svg file as well as the xmlsvg string in txt file? Also would you please try to directly insert the svg file from PowerPoint UI and does it render correctly?

[2022-10-09 03:29] abhinovpankaj commented on #2703
Any progress on this issue?

[2022-10-09 07:03] RuizhiSunMS commented on #2878
Does it belong to your area? @AkhileshShah-MS

[2022-10-09 09:48] hello-chenchen commented on #2864
with the same problem @exextoc @lindalu-MSFT in owa. just in new event, select daily recurrence, you will receive this error

[2022-10-09 13:17] exextoc commented on #2839
The manifest provided above is incomplete. We tried to install it by completing it but were not able to reproduce the issue.
It'll be great if you can send the manifest over to OutlookExtensibility@M365x27035562.onmicrosoft.com so that we can install it and reproduce the issue.
(Please send a sample add-in where we can reproduce the issue, and hide all non-important details)

[2022-10-09 13:59] stefanoslig commented on #2839
@exextoc thanks for your reply.

No need to send my own manifest. I have the same problem with the manifest created from the Yeoman Generator. For example, this is the manifest from the app created with the generator. The only thing I changed is the DefaultMinVersion. Even when I install this add-in, I cannot see it after the installation in the "My admins" section and I cannot use it.

I try to i

[2022-10-09 17:41] ahthomsen commented on #2595
@jipyua  - I tried this approach and it did not work

Would be great to get this fixed

[2022-10-10 02:49] hxltinh opened #2892 "Mail Signature: duplicate signature when re-open Appointment/Event on Outlook"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop, Mac
* Host [Excel, Word, PowerPoint,

[2022-10-10 05:31] rundongmsft commented on #2885
Hi @tj-aew, Custom messages are only available with these two codes: `CustomFunctions.ErrorCode.notAvailable` and `CustomFunctions.ErrorCode.invalidValue`. `CustomFunctions.ErrorCode.invalidNumber` does not currently support custom messages.

[2022-10-10 06:21] zxyty commented on #2810
Thanks.  it's helpful!

[2022-10-10 08:11] tj-aew commented on #2885
@rundongmsft - Thanks for letting me know which ones work. But the point is that they all should accept custom messages.

[2022-10-10 09:01] ghost commented on #2843
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-10 09:13] CaptainTammy commented on #2756
Hi @jipyua hope you had a good holiday!

We currently don't use any content add-in at all. The real time poll results are updated through the ppt API when presenting as the task pane add-in is still running when in presenting mode.
All this is in the PPT native app, our big concern is that the native app and the web version is behaving so differently using the same API for both, so we can't use th

[2022-10-10 10:09] rundongmsft commented on #2885
Hi @tj-aew, currently custom error messages are not available with error codes except `notAvailable` and `invalidValue`. Let all error codes support custom messages should be a new feature request.
We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). You can add this request there. Feature requests are considered when we

[2022-10-10 10:24] jipyua commented on #2756
@CaptainTammy in order to show the real-time poll results when presenting, are you trying to use setSelectedDataAsync API to insert the latest poll result as an static image? Seems so far there are no other APIs on PowerPoint available to do similar things. If this is the case, I think content addin is a good choice for you. You just need a content addin and will be no need for the TaskPane Addin,

[2022-10-10 11:43] CaptainTammy commented on #2756
Hi @jipyua ,
Have you watched the video I linked earlier where I demo what we are doing? [PPT plugin demo](https://www.youtube.com/watch?v=Lz865WbD0jA)
We do shape manipulation on the slides as data is coming to the task pane add-in from our server. There is no static image except for the result of the Word Cloud question we have. All other slides uses stock ppt components that we manipulate when

[2022-10-10 12:03] exextoc commented on #2864
We are working on the fix with high priority. Will update once the fix is available.

[2022-10-10 12:17] nvazhayil commented on #2876
Any update on this @JinghuiMS ?

[2022-10-10 12:55] mariakazarnovskayamdcs commented on #1514
@ssoni2074 thanks for reaching us. Could you please confirm if this issue is still actual? I couldn't reproduce it.

[2022-10-10 13:45] trashhalo commented on #2872
Confirming that context menus extension points are still not visible in word for web. I think this is a bug, or the documentation is wrong. It says this is a viable option for addins using desktopformfactor.

[2022-10-10 14:32] estet commented on #2672
Thanks for responding @wangyun-microsoft.

This is a problem for our product - the same functionality gives different results depending on a platform (VSTO/Web Add-ins)

[2022-10-10 21:01] ghost commented on #2866
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-10 22:09] alexmaris commented on #1491
@JuaneloJuanelo - the uservoice site linked above is no longer working. What's a good medium for us to vote on this currently missing functionality?

[2022-10-11 03:16] gingerjia commented on #2876
@nvazhayil sorry for the late reply. I cannot repro the failure locally. :( Could you help to share your manifest or if you can share the add-in code then I could try to repro it from your code. Thanks very much for help to identify the issue!

[2022-10-11 06:56] tj-aew commented on #2885
@rundongmsft  - Thanks, I've posted there although I have to say that as a developer outside Microsoft using this API, there's no impression that suggestions there are even heard, much less acted upon.

[2022-10-11 06:56] #2885 closed, assigned to rundongmsft

[2022-10-11 07:44] repl-kannan-d commented on #2769
Attaching the video for reproducing the issue and corresponding developer logs.  Timer is running to save the duration every 3 secs,, so need to switch the email when its about to trigger the save action to reproduce the issue.

https://user-images.githubusercontent.com/13565405/195027295-a0a91184-cfdc-4d7d-a7ae-4086dc95a8d8.mp4

[outlook.office.com-1665473457812.log](https://github.com/OfficeDev/

[2022-10-11 07:47] stefanoslig commented on #2839
@exextoc did you manage to reproduce this one?

[2022-10-11 08:19] grangeryy commented on #2818
Hi @harri-rajala-koivu-solutions, after some initial investigation, we found this ask is not a common case for customers but requires large effort to implement to do Office security related changes.  We've added this requirement into the backlog to track in long-term.

[2022-10-11 10:09] exextoc commented on #2889
We are able to reproduce this issue. We are working on priority to resolve this issue.

[2022-10-11 10:18] nickamckenna opened #2893 "insertOoxml for Word does not work on WOPI host (CSPP)"
# Provide required information needed to triage your issue
I've attached a very simple demo Add-In which works fine in desktop and O365, but fails in the WOPI Word editor provided by CSPP (the Microsoft Cloud Storage Partner Program).

These lines of code:

        const range = context.document.getSelection();
        range.clear();
        range.insertOoxml(dummyXml, Word.InsertLocation.replace,

[2022-10-11 10:19] ghost commented on #2893
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-11 11:10] exextoc commented on #2892
Thanks for reporting this issue regarding duplicate signature. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal tracking id: 6872058

[2022-10-11 11:19] JamiesWhiteShirt commented on #2187
This is still an issue. [Embedded webviews cannot be used for authenticating with Google](https://developers.googleblog.com/2021/06/upcoming-security-changes-to-googles-oauth-2.0-authorization-endpoint.html) (and perhaps other identity providers as well). Thus, dialogs cannot be used to authenticate with Google in all non-browser versions of Office. Browser version of Office are not affected as Go

[2022-10-11 11:33] wh1t3cAt1k commented on #2883
@JinghuiMS @jipinshi

To be completely clear, my logic **does run** after the `onCalculated` event.

However, it takes some time and a couple of context syncs to get to the actual piece of code that needs to be executed, and by this time the calculation state might have already changed. My code needs not to run if the calculation state is not "done".

But it turns out that we cannot consistently d

[2022-10-11 11:37] wh1t3cAt1k commented on #2891
@jipinshi @JinghuiMS

Apologies, I thought it would be enough to share the relevant bits - we just need to add the Excel.run invocation and then get the first worksheet of the workbook into the `worksheet` variable.

Anyway, I am happy to amend the script to a full example for you.

[2022-10-11 11:55] wh1t3cAt1k commented on #2891
@jipinshi @JinghuiMS just battle-tested the full snippet, here it is:

[code]

[2022-10-11 11:58] wh1t3cAt1k commented on #2891
To reiterate, the above is what we currently have to use to understand which separator character we should utilize in `names.add` with a formula referring to multiple ranges.

This is a hack at best, ideally, we should either be able to retrieve the list separator character through the API or be able to use a universal character like `,` consistently on all cultures.

[2022-10-11 12:14] StephenRieger commented on #2886
@jipyua It's definitely an ask. And for us, a strong ask. As it is, this renders non-editable content controls useless for add-ins that need to support revision tracking. Supporting revision tracking is an absolute requirement for us.

Note that Word's native bibliographic citations already support this. They appear to be content controls that are non-editable, but can be deleted when revision tra

[2022-10-11 13:43] jipinshi commented on #2883
@wh1t3cAt1k, thanks for clarification. Will try to repro and open bug to track it.

[2022-10-11 15:03] adim1973 opened #3317 "Excel undo stack is cleared when adding/refreshing a custom function exposed through an Excel add-in that uses shared runtime"
# Prerequisites

Please answer the following questions before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**
- [x] I am running the latest version of Node and the tools
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Expected behavior

Excel undo stack should not be cleared.

# Current behavior

Th

[2022-10-11 16:43] Adrian-MSFT commented on #2884
Hi @GMolini can you please provide your windows client version?

[2022-10-11 18:07] GMolini commented on #2884
Windows: 10 Education, Version 10.0.19044 Build 19044
Outlook: Version 2209. Build 15629.20156

[2022-10-11 21:01] ghost commented on #2739
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-11 21:08] timnudecision opened #2895 "Excel: NamedItemCollection. addFormulaLocal fails on large formula"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
I am generating excel functions in my add-in; I want to make them available to user as a named function.  I am using addForm

[2022-10-12 03:11] jipinshi commented on #2891
@wh1t3cAt1k ， thanks for the info. names.add only accept English version like ","  while in other language like German will use ";".  For the requirement, not sure whether it is one continus area like A1:A5, or B1:C5, If it is , you can use : to do it.  Tried English language on both MAC and win32, both respect "," as separator. Let me know whether this is useful for you.

[2022-10-12 03:19] jipinshi commented on #2883
@wh1t3cAt1k , After trying on MAC with 12.5.1 version and cannot repro the issue. If this is not blocking issue, we can focus on the issue blocking you go ahead firstly. Wonder what's number of the potential customers for the addin?

[2022-10-12 06:59] honxmsft commented on #2895
Hi @timnudecision, I've tried to validate the formula in gist.

It seems you need to remove the semicolon `;` at the end.

[code]

You can try with the script above.

[2022-10-12 07:05] xuruiyao-msft commented on #2837
@woai3c would you please provide more code details about how the "Office. context.document GetSelectedDataAsync()" is used in this case?
How does the method getSelectedSlideIndex implemented?

[2022-10-12 09:49] wh1t3cAt1k commented on #2891
@RuizhiSunMS @jipinshi I'm afraid that does not help at all in our scenario.

I understand that different cultures use different separator, but this is precisely the problem, that we don't know through Excel API what this separator is. And we need to apply hacks to understand it.

I suspect it is a culture-specific issue on Excel for Mac.

We have users in Canada (French), the list separator in th

[2022-10-12 10:05] woai3c commented on #2837
@xuruiyao-msft ok, this is `getSelectedSlideIndex()` code:
[code]

[2022-10-12 12:06] wh1t3cAt1k commented on #2883
@jipinshi not just potential customers, but we already have 1000 clients who we are looking forward to migrate from the legacy solution to the new office.js based solution, and we want to work together with you to make everything as robust as possible!

I realized why it was not reproducing for you - in parallel I had a second file where our add-in was installed, and the file had a lot of custom f

[2022-10-12 12:34] JHJ-MS commented on #2874
Hi [jaceaser](https://github.com/jaceaser), I could repro it on the Excel Desktop on Windows using the [code sample in the doc](https://learn.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function#code-sample).

I noticed [the comment on another issue](https://github.com/OfficeDev/office-js/issues/1225) by @Rick-Kirkham ,

I wonder whether this issue is caused by the sam

[2022-10-12 14:05] timnudecision commented on #2895
Thanks for the quick work.

I have an interesting report.  Removing the semicolon resolves the issue on Windows, but not Mac.  Perhaps the Mac code lags the Windows in this case?

[2022-10-12 15:01] exextoc commented on #2839
@stefanoslig , we are able to reproduce it. We are looking into it and will provide some update soon.

[2022-10-12 15:03] exextoc commented on #2842
You can generate diagnostics log and send us the incident id:
1. Start Outlook on Mac
2. Reproduce the issue
3. Select Collect Diagnostics menu in Help menu
4. Please copy the diagnostics code generated & forward it

[2022-10-12 15:07] lynneosmith commented on #2881
[spineplot_issue.zip](https://github.com/OfficeDev/office-js/files/9766284/spineplot_issue.zip)

[2022-10-12 15:08] lynneosmith commented on #2881
@jipyua I just attached a zip file with the xml in a text file and the svg. Hope this helps!

[2022-10-12 15:22] jindaldheeraj commented on #2879
Hi Team,

Did you get chance to review the details which I have provided. Please let me know in case you need any further details.

Regards,
Dheeraj Jindal

[2022-10-12 15:58] 4tti commented on #2878
Our customers are affected by this as well. The issue is not only with side-loading but in combining multiple deployment methods. It will happen with centralized deployment, shared folder as well as store... and then nightmare with the custom functions registration will appear.

This is extremely painful... and for various reasons customers start with one deployment and later they will decide to u

[2022-10-12 16:03] adim1973 commented on #3317
Another finding, maybe it helps: even in a JavaScript-only runtime, where there is no problem with the undo when typing in a cell a custom function or refreshing the existing ones, when a custom function is written in a sheet by using a taskpane button, the undo stack is cleared.

[2022-10-12 16:23] roby100s opened #2896 "IPAD Excel 2.65.1 version possible issue with event handler"
I developed an addin on Windows within the JS office framework and the target environment is IPAD.
I  have an event handler managing on change data in a table, but on the Excel 2,65.1 on IPAD the event handler is not invoked any more while it was working with previous Excel releases and it's still working on Windows and Office on the web from the Safari browser on IPAD.
I would like to know if an

[2022-10-12 16:23] ghost commented on #2896
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-12 17:33] nicolasmendonca commented on #2839
Thank you team!

[2022-10-12 18:08] vikramsw commented on #2386
@exextoc , REMINDER:  An update is requested on this please.

[2022-10-12 18:36] stefanoslig commented on #2839
thank you!

[2022-10-12 20:04] wh1t3cAt1k commented on #2883
@jipinshi the repro steps are provided below, I wish I had simpler steps, but this really needs to be reviewed on your end since you have access to the internals of Excel, and a better understanding of why the calculation state gets stuck in "Pending".

Video: https://youtu.be/lA274NJe8R4

The steps are all visible in the video, but here is the text description just in case:

- Use Excel for Mac d

[2022-10-13 04:54] jipyua commented on #2881
@lynneosmith thanks for sharing the files. I tried to directly insert the SVG file from PPT rich client UI Insert->Pictures and it also repros your issue. So this is a PPT product related issue instead of an API one and I am afraid this channel will not be a good place to discuss this. I would suggest to submit from the PowerPoint in-app feedback channel (for Windows: File -> Feedback) to report t

[2022-10-13 05:52] jipinshi commented on #2891
@wh1t3cAt1k , can you try below script to get the seperator?  select like A3 range, range.formulasLocal[0][0].toString().substring(7,8) should be the Seperator you need here.

async function run() {
  await Excel.run(async (context) => {
    const range = context.workbook.getSelectedRange();
    range.load();
    await context.sync();
    range.formulas = [["=SUM(A1, A2)"]]

   console.log( range.

[2022-10-13 07:05] rundongmsft commented on #3317
Hi @adim1973, it is glad to see you researched this issue and provided a detailed description! We're working on this important feature, and in fact have made good progress.
So far, "let CF support undo" has supported first-party add-ins. This is the reason why you observed that the CFs in Script Lab does not clear undo stack. As for third-party add-ins, this feature is not ready, clearing the undo

[2022-10-13 07:16] rundongmsft commented on #2543
Here is a similar issue: https://github.com/OfficeDev/office-js/issues/3317. Some important information: So far, "let CF support undo" has supported first-party add-ins. This is the reason why the CFs in Script Lab does not clear undo stack. But for third-party add-ins, this feature is not ready, clearing the undo stack is still the expected behavior. Because this feature may bring some unsafe fac

[2022-10-13 07:42] adim1973 commented on #2543
From my research, the undo stack is not cleared by CF when using JavaScript only runtime. Once you upgrade your project to use shared runtime, the undo stack gets cleared when a CF is entered or refreshed
I guess that, for now, the fix is to downgrade from shared to JavaScript only runtime, which is a bummer.

[2022-10-13 07:43] jipinshi commented on #2883
@wh1t3cAt1k , thanks for the details steps and currently I can repro the issue on MAC. do you need to depend on the other workbook's addin's running status and do something? Just trying to understand the scenario. If this is critical to you, is there workaround for you now? And is it possible to have more simple repro steps with two scriptlab addins? Not with current big data? The main purpose is

[2022-10-13 07:53] wh1t3cAt1k commented on #2891
@jipinshi if I am not mistaken, this is not in principle different from the hack I posted above.

I would expect it will still fail on the cultures with the ";" list separator. Also it messes with the user's selected range which is not acceptable...

Could we ask for a proper fix to the problem instead, or at least a predictable way to determine the list separator?

Looping in @sshukurov @JinghuiM

[2022-10-13 08:01] wh1t3cAt1k commented on #2883
@jipinshi is there a way to add custom functions with scriptlab?

I would be grateful if you started looking as is, but if the above is possible I will work in parallel to prepare simple steps!

However this is the best I could come up with at the moment, I spent much time yesterday on that and could not find a much simpler setup.

It requires one-time setup but then reproduces really quickly once

[2022-10-13 08:02] clavx commented on #2590
We have confirmed that this issue has been fixed.
Thank you!

- Affected (version 2204-2207)
    - Current Channel: Version 2204 (Build 15128.20178) - Version 2207 (Build 15427.20210)
    - Monthly Enterprise Channel: Version 2204 (Build 15128.20280) - Version 2207 (Build 15427.20308)
- Not affected (resolved)
    - Current Channel: Version 2208 (Build 15601.20088)
    - Monthly Enterprise Channel

[2022-10-13 08:12] jipinshi commented on #2891
@wh1t3cAt1k , will open bug to track it.  After getting the list separator, could remove the range value. Which will not impact customer data. Even with cultures with the ";", it won't fail. I tested with windows changing the number Seperator from "," to ";" and it works.  The other way to do it is getting two ranges and set two values, usually range means one joint area.

[2022-10-13 08:43] jipinshi commented on #2883
@wh1t3cAt1k , yes, scriptlab can use custom functions. you can check Functions next to run in the scriptlab ribbon. If can find which custom function lead to the issue may help this.

[2022-10-13 08:58] sumitmodi01 commented on #2842
Please find below the diagnostic code:
CN9CDQGP

[2022-10-13 09:59] CaptainTammy commented on #2756
Hi again @jipyua
Now I have tested using a content add-in for our purpose, and I still get the problem with manipulating shapes while presenting on PPT online. The error I get is the following:

<img width="1779" alt="Screenshot 2022-10-13 at 11 56 14" src="https://user-images.githubusercontent.com/114082256/195558023-f0c7b29b-60ee-429d-b03f-45b46c560384.png">

Here is a demo project: https://gith

[2022-10-13 10:05] wh1t3cAt1k commented on #2883
@jipinshi do you have any visibility into the internal Excel status when it's in the pending state? What's it "waiting for"? If you have this information and could provide it on your end it can help us troubleshoot too

[2022-10-13 10:07] wh1t3cAt1k commented on #2891
@jipinshi for backward compatibility with our legacy XLL offering it needs to be all in one range 😢
Thanks for opening the bug, I appreciate it! 🙏 Will this ticket be updated with regards to this?

[2022-10-13 11:01] ghost commented on #2843
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-13 11:01] #2843 closed, assigned to exextoc

[2022-10-13 11:59] adim1973 commented on #2543
And another related thread: https://github.com/OfficeDev/office-js/issues/2802

[2022-10-13 12:17] jipyua commented on #2879
hi @jindaldheeraj  we are still investigating the root cause and will get back to you when we have some findings, thanks.

[2022-10-13 12:25] sshukurov commented on #2891
I believe `NamedItemCollection.add()` as well as any other API method expecting a range address as parameter (such as `Worksheet.getRange()`) should consistently accept the culture-agnostic (invariant) notation of the address, where the expected formula language would be English with `,` being separator, regardless of the content language used.

I think [this answer on SO](https://stackoverflow.co

[2022-10-13 17:11] aqewd opened #2897 "Add OnAppoinmentSend event to Office.EventType for handle send event"
# Add OnAppoinmentSend event to Office.EventType for handle send event

I want to handle `OnAppoinmentSend `event from taskpane in `AppointmentOrganizerCommandSurface` for synchronous request to my Service with custom data from taskpane. I can't use LaunchEvent because I need a taskpane for handle custom data. Or is there any other way to solve my problem?

# Your Environment

- Platform [PC deskt

[2022-10-13 18:42] exextoc commented on #2845
Thanks for reporting this issue regarding Regex. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2022-10-13 23:01] ghost commented on #2866
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-13 23:01] #2866 closed, assigned to exextoc, weidezhong-msft

[2022-10-14 05:26] jipinshi commented on #2883
@wh1t3cAt1k ,  pending means Changes that trigger calculation have been made, but a recalculation has not yet been performed.
Have you ever consider to set app.calculationMode set manual to improve perf and may can avoid the issue. Here is the link [https://learn.microsoft.com/en-us/office/dev/add-ins/excel/performance](url)

[2022-10-14 06:55] wh1t3cAt1k commented on #2883
@jipinshi the meaning of the Pending status is clear, however what is not clear and looks like a bug is:

why in Excel Online the calculation state becomes Done eventually, as one would expect in Automatic calculation mode, and in Mac it gets stuck at Pending?

This is not right, something in Excel internal state is messed up at that moment, which is why I figured you guys should take a look at it

[2022-10-14 06:56] exextoc commented on #2382
We are now working on this bug on priority. We, unfortunately, have no timelines to share at this point.

[2022-10-14 07:05] exextoc commented on #2842
@sumitmodi-lab were you able to repro the issue and the logs are taken after the issue was reproduced?

[2022-10-14 07:17] adim1973 opened #2901 "OfficeRuntime.Storage length"
Not sure where this issue should be posted....
Is there a way to check if OfficeRuntime.Storage is full? If OfficeRuntime.Storage becomes full, setItem will throw a QUOTA_EXCEEDED_ERR?

[2022-10-14 07:21] exextoc commented on #2890
We have a repro of this issue and are working on it. We unfortunately have no timelines to share at this point

[2022-10-14 07:58] sumitmodi01 commented on #2842
Yes, issue is reproducible on one of my mac machine, seen same internal server error.

[2022-10-14 08:06] exextoc commented on #2888
Thanks for reporting this issue regarding cloud based attachment. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: 3107060

[2022-10-14 14:10] vanjajansky commented on #2543
Any updates on progress? I still have the same issue.

[2022-10-14 14:32] 4tti commented on #2568
This issue is real blocker for many our end-users. We cannot endlessly convince them to wait for the fix... the workarounds (either (re)inserting the office.js addin or keeping out of com addins, etc.) are not maintainable for long period of time! And we are waiting for the fix for months.

I understand the fix may require some major effort (because of some core design flaws) but the communication

[2022-10-14 14:56] wh1t3cAt1k commented on #2568
Thanks so much for your post @4tti. I will go on a tangential here, but I am outlining a big picture that I'm seeing and that requires serious action on Microsoft's end.

We at Velixo have been working with Office.js for Excel for 2.5 years now and the issues around framework's quality were so numerous, and fixes taking so long that I am second-guessing myself whether it was the right choice for u

[2022-10-14 15:04] gmichaud commented on #2568
We are betting our future on office.js. At this point, only our Mac users are depending on it (we're not promoting it to our Windows users). The sheer number of issues and problems we have to go through in comparison to our COM-based add-in that litterally has 1000x more active users has me really worried. Our customers have come to depend and rely on our product, and we want to make sure we can k

[2022-10-14 15:12] wh1t3cAt1k commented on #1278
Again received it during session 943c279b-6c2c-4692-854a-09095dcc23af on build 16.0.15809.35901 in Edge.

![image](https://user-images.githubusercontent.com/5159662/195879754-e27d59c6-651e-4bf8-9c93-c6b8e001e746.png)

[manifest.zip](https://github.com/OfficeDev/office-js/files/9787608/manifest.zip)

Points of interest from the manifest:

![image](https://user-images.githubusercontent.com/5159662/1

[2022-10-14 16:47] sshukurov commented on #1278
Seems like this issue is very similar to this one I reported here: https://github.com/OfficeDev/office-js/issues/2096. Instead of 2 taskpanes, though, we get 2 taskpane **threads**. I provided a minimal repro with easy steps.

[2022-10-14 17:23] 4tti commented on #2568
Unfortunately I must somewhat agree with @wh1t3cAt1k
As of now I see some really critical things which are becoming more and more visible and are more and more considered as a blockers by our customers.

We do see huge potential in Office.js, especially with extremely changed approach by the Extensibility/Core teams when we are really listened and our ideas are quite often turned into real feature

[2022-10-14 20:51] JuaneloJuanelo commented on #1326
Hello @muratkuru happy to claim that we shipped it in the context of Ignite 2022 just a couple of days ago. It has also been a while in preview.  here are the details of the announcement, it was branded as "Smart Alert" and is included in our Mailbox 1.12 release.  https://devblogs.microsoft.com/microsoft365dev/whats-new-for-office-add-ins-at-ignite-2022/#:~:text=At%20Ignite%202022%2C%20we%20intro

[2022-10-14 21:04] muratkuru commented on #1326
That's good to hear! Thank you for the update @JuaneloJuanelo

[2022-10-14 22:28] wh1t3cAt1k commented on #1278
Thanks @sshukurov 🙏
I feel this definitely deserves the attention of the engineering team at MSFT, it's a long-standing issue with ugly symptoms.

[2022-10-14 23:02] ghost commented on #2739
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-15 00:14] wh1t3cAt1k commented on #2012
@grangeryy @yaweizhu-henson @xiaochunms @JinghuiMS sorry for necro-posting; I would like to apologize for misleading the team somewhat here - On Desktop platforms, I want to update you: the fact that every cell was recalculating upon file open was **our own fault**, due to a well-hidden `.Calculate()` call.

Indeed it is like @xiaochunms mentioned and only the erroneous cells will be recalculated

[2022-10-15 21:01] ghost commented on #2665
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-15 22:00] mkm17 opened #2898 "Body.getHtml() does not return all HTML classes"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.0.15810.41017
* Operating System: Windows 11
* Browser (if using Office on the web): Chrome

## Expected behavior
Body.getHtml() should return data with classes used in web like:  _SpellingErrorV2Themed_.

## Current behavior
The func

[2022-10-15 22:00] ghost commented on #2898
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-16 13:01] exextoc commented on #2567
Hi @liamtim, some fixes have gone in the related area. So, if you are still not able to see the addins, can you please let us know the versions of your outlook Mac.

[2022-10-16 21:09] sys0601 commented on #2888
I believe that this problem was introduced in a recent update to OWA. This was working before. We would be very grateful to get some indication on when a fix is expected as it has broken code that was working previously. We need to advise our clients.

[2022-10-17 04:04] RuizhiSunMS commented on #2901
This is not owned by Custom Function.
@ElizabethSamuel-MSFT I see you in the list of this API's doc page, can you share some information or direct the user to the right channel?

[2022-10-17 06:43] juritdev commented on #2864
Any update on the fix? Because it's been broken for over three weeks now. Thanks

[2022-10-17 09:17] rundongmsft commented on #2786
Hi @wh1t3cAt1k, we have put this new feature requirement in the backlog, but currently our team is working on another higher-priority requirement. We will continue to pay attention and will increase the priority of this new feature when there are more feedback and requirements.

[2022-10-17 09:28] AkhileshShah-MS commented on #2897
Thanks for reaching out to us!
@exextoc could you please help with this issue?
Thanks!

[2022-10-17 09:33] AkhileshShah-MS commented on #2895
Thanks for reaching out to us.
@guliums could you please help with the issue?
Thanks!

[2022-10-17 09:37] AkhileshShah-MS commented on #2892
Closing the issue as product owner is tracking the issue on backlog.

[2022-10-17 10:49] wh1t3cAt1k opened #2899 "Stability issues on Excel Online (but not Excel for Mac): internal error"
Dear Office.js team, could I please ask you to review one session from telemetry to help us get more insight into what's going on?

The session ID is 8c8e43eb-0337-41e4-98ce-d792bbde60bd.

On one report that returned several thousand errors from cells, one of our company, @gmichaud (but not me for whatever reason), is able to consistently receive a "crash message box" with "sorry, something went w

[2022-10-17 10:49] ghost commented on #2899
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-17 12:48] danielpdev opened #2900 "Office add-in appear in web excel document"
Hello,

Before making the add-in available we have to add the following in the manifest to prevent the add-in for being loaded in Excel Web:
`<Set Name="OpenBrowserWindowApi" MinVersion="1.1"/>`

[code]

1. Make add-in available for the whole organization
2. Install add-in locally on Excel Desktop
3. Create & save an Excel document in the cloud with add-in loaded.
4. Open document in Excel Web
5.

[2022-10-17 13:21] cody-lettau commented on #2888
Correct - this was working as expected not long ago.

[2022-10-17 14:28] ElizabethSamuel-MSFT commented on #2901
@adim1973 Thanks for letting us know about this issue.

@RuizhiSunMS I'll transfer the issue to the office-js repo.

[2022-10-17 17:49] wh1t3cAt1k commented on #2883
@JinghuiMS @jipinshi the importance of this issue has just increased for our team, one of our key product functionalities ("Drilldown") does not work reliably on Excel for Mac because of the bug

[2022-10-17 18:06] liamtim commented on #2567
@exextoc The issue is not resolved.

Add-ins in a new compose are disabled when switching the "From" address to a shared mailbox. [Recording](https://share.getcloudapp.com/E0uZJWBw)

Outlook for Mac: 16.67

[2022-10-18 00:34] jipinshi commented on #2883
@wh1t3cAt1k, I tried the scenario, and it will change to completed first and then go to pending after the log shows that all requests are done, I think there you can execute your logic in the callback. The first thing is trying to find some workaround to unblock this. As for the bug itself, still need your help to simple the steps in scriptlab to help dig down the root cause.

[2022-10-18 00:43] wh1t3cAt1k commented on #2883
@jipinshi so far I have not been able to simplify the steps. 😥

I was hoping for your insight regarding what is happening with Excel internally when it gets stuck in Pending — at MSFT you should have some sort of instruments for that, which are not available to external developers?

Is there some sort of "calculation queue" based on which Excel decides its state? If yes, is there anything in that

[2022-10-18 00:44] wh1t3cAt1k commented on #2883
Also, what is the log you're talking about that "all requests are done"? Can we catch this moment programmatically with minimal hacks?

[2022-10-18 02:09] RuizhiSunMS commented on #2898
We have caught the problem and are investigating.

[2022-10-18 06:15] mkm17 commented on #2898
@RuizhiSunMS thank you for checking. If there will be a need to provide more info, I am eager to provide the requested details

[2022-10-18 06:58] jipinshi commented on #2883
@wh1t3cAt1k , internally use 6930899 to track the bug, will update once there is progress. Also want to confirm that does the issue blocking you since you mentioned that you have workaround for it at first.

Also want to confirm what did the addin do after run the addin, since on win32 I also noticed that the calculationstatus would change from finish to pending to finish and to pending, pending.

[2022-10-18 07:37] wh1t3cAt1k commented on #2883
Yeah, for the original issue we did have a workaround, but now the same thing affects us in another place that is more important. It can be considered blocking.

Add-in doesn't have any kind of infinite logic, which is proved by the fact that on Excel Online all calculation will finish to Done eventually.

What would be great is to understand why Excel is in Pending state, what it is waiting to re

[2022-10-18 07:37] exextoc commented on #2864
We have checked in a fix and it is presently rolling out. It should be available by the end of this week.

[2022-10-18 08:34] xuruiyao-msft commented on #2837
@woai3c Hi I don't find any errors in the Code about the APIs. The mouse cursor changing is by design.

[2022-10-18 09:39] jipyua commented on #2879
hi @jindaldheeraj we are now working on how to resolve this issue, considering the fix and deployment may take some time to roll out, another way to mitigate this issue is to reference an old office.js/word-win32-16.01.js. Feel free to have a try.

[2022-10-18 10:44] rajeshpatil74 commented on #2715
Any solution for this issue ??

[2022-10-18 10:46] woai3c commented on #2837
Thank you for your replay! Are there any methods to change the mouse cursor or prohibit the mouse cursor from changing?

[2022-10-18 11:27] RuizhiSunMS commented on #2893
Thanks for your submitting.
This issue is somewhat complicated, and we decide to create a bug #6936950 to track.
Sorry for unable to provide a precise timeline now but will contact you if any update appears.

[2022-10-18 11:47] nickamckenna commented on #2893
Thanks - how do I track progress on this bug? Is there a link to it somewhere?

[2022-10-18 12:53] JackTheDane opened #2902 "OnNewMessageCompose event not triggered by Quick Steps action"
When composing an email using an action triggered via Quick Steps, any `OnNewMessageCompose` is not triggered

## Your Environment

* Platform: PC desktop
* Host: Outlook
* Office version number: 2210
* Operating System: Windows 10

## Expected behavior
`OnNewMessageCompose` should trigger the same when a new message is composed, whether from Quick Steps or the "New Email" button in Outlook.

## C

[2022-10-18 14:46] AkhileshShah-MS commented on #2900
Thanks for reaching out to us.
@yaweizhu-henson could you please help the customer with this request?
Thanks!

[2022-10-18 14:48] AkhileshShah-MS commented on #2902
Thanks for reaching out to us.
@exextoc could you please help customer with this request?
Thanks!

[2022-10-18 14:55] AkhileshShah-MS commented on #2901
Thanks for reaching out to us! To help us triage the issue to correct team, could you please provide more details regarding the issue in following format?

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ___

[2022-10-18 15:01] AkhileshShah-MS commented on #2888
@exextoc Requesting you to address the queries raised by @sys0601. Also, please close this issue if we are already tracking this on our backlog, and not further customer queries. Thanks!

[2022-10-18 15:35] emiliodangelo opened #2903 "Different behavior between PowerPoint desktop and Online when creating a new slide and adding content to it"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Created a task pane PowerPoint Add-in which creates a new slide and add some text and images on it. The add-in is working as expected in PowerPoint desktop, but fails to render the sa

[2022-10-18 16:55] wh1t3cAt1k commented on #1749
@yaweizhu-henson @JinghuiMS we are now at the level of around 1000 clients and 100 functions, and would like to intensify migration to the office.js based solution.

Unfortunately, this issue is a support workload for our small company - since it's more than 1.5 years old, is there any chance it will be addressed in the near future?

[2022-10-18 19:17] adim1973 commented on #2901
Not much to say here: according to the [official documentation of OfficeRuntime.Storage interface](https://learn.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.storage?view=common-js-preview#office-runtime-officeruntime-storage-setitem-member(1)), the storage limit is 10 MB per domain. What happens when the storage limit is reached and I use the OfficeRuntime.Storage.setItem? Is a

[2022-10-18 20:44] ecargynahteb commented on #402
Hi there, again chasing up on this update and when it will be resolved. Can someone please respond?

[2022-10-18 20:44] parched commented on #2193
This is in the ideas forum [here](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/allow-code-in-custom-functions-add-in-to-limit-the-function-list/idi-p/3608176).

This is already implemented by `Excel.CustomFunctionManager` and the Script Lab add-in uses it. It's just not in the public API.

[2022-10-18 21:30] jeremy-msft commented on #2543
Thanks for your feedback. This issue is tracked in our backlog, but we don't have any timeline updates to share at this time.

[2022-10-18 22:47] timwan03 commented on #2819
Updating that the builds AFTER 16.0.15813.10000 will have the fix. (Note that this build number will NOT match the official Monthly Release build #'s). But any release after 15813 will have it.

[2022-10-18 22:49] timwan10 commented on #2819
Every build after and including: 16.0.15813.10000 will have this change in it. Note that this build # will not match exactly with the final monthly release build number, but every build after 15813 should have this change.

[2022-10-18 22:59] Adrian-MSFT commented on #2884
Hi @GMolini - It may be caused by a temporary issue with the CDN. Please find this post for reference as well as a way to load this offline instead of using the CDN: https://stackoverflow.com/questions/71337900/failed-to-load-resource-neterr-content-decoding-failed-office-js

[2022-10-18 23:02] ghost commented on #2665
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-10-18 23:02] #2665 closed, assigned to Oleg-O

[2022-10-18 23:51] #2819 closed, assigned to exextoc

[2022-10-19 03:00] RuizhiSunMS commented on #2903
@ononder Could you give a hand?

[2022-10-19 05:13] exextoc commented on #2567
@liamtim could you please try installing ScriptLab for Outlook (https://appsource.microsoft.com/en-US/product/office/WA200001603?tab=Overview) and let us know if it is visible when you switch "From" addresses in your scenario?

[2022-10-19 08:40] toannguyenspce commented on #888
It'd been another year, Just want to check if it'd been implemented ?

[2022-10-19 11:06] 4tti commented on #2883
We are facing same issue unfortunately. We wanted to implement 'calculation in-progress' notification which would be visible for the end-user till all sheets are calculated but it is not possible, especially while onCalculated event is triggered per sheet and just for 'some' sheets (depending on formulas, etc.).

[2022-10-19 12:54] liamtim commented on #2567
@exextoc ScriptLab for Outlook remains active when in compose mode & I switch the "From" address to a shared mailbox address., however other add-ins do not.

[2022-10-19 13:41] danielpdev commented on #2900
ok, I found out what the issue is:
if I make a call to `Office.addin.setStartupBehavior(Office.StartupBehavior.load)`. Next time I open excel document Excel Web/ Excel Desktop, the add-in will be by default loaded, which is not desired because the requirements in the manifest should prevent this.

any ideas or alternatives to `Office.addin.setStartupBehavior(Office.StartupBehavior.load)` or fixing

[2022-10-20 06:25] Edward-Zhou opened #2904 "Excel Javascript API can't set range value from Binding Range"
I am trying to swap the two range values through Excel Javascirpt api.

If  I reference the range by cell address like below, it will work to swap the two cells.
[code]
But, if I use the `let targetRange = await sourceBinding.getRange();`, nothing will happen.

[2022-10-20 06:25] ghost commented on #2904
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-20 07:02] #2904 closed, assigned to RuizhiSunMS

[2022-10-20 07:39] exextoc commented on #2567
@liamtim the other add-ins you have installed listed above (Boomerang,Trustify etc. ) do not support shared folders, and thus are disabled in this delegate scenario. ScriptLab has this permission enabled, and so it works in this case.

For add-ins to work across shared folders, they require a specific configuration in the manifest to do so. You can read more here : [Enable Shared folders and Share

[2022-10-20 07:44] jiju-MS commented on #2846
Hey, Parched, currently it is a by-designed behavior due to some technical reason. Thanks for the feedback.

[2022-10-20 07:45] exextoc commented on #3313
Thanks for reporting this issue regarding a localization rendering error. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal tracking id: 3140659

[2022-10-20 07:53] exextoc commented on #2842
@sumitmodi-lab we are having trouble reproducing this issue. Could you help us understand:
* How frequently does this reproduce for you?
* Can you please record a video of this happening and share it with us?
* Alternatively, could you help us by collecting diagnostic logs immediately after the issue occurs. The logs shared do not seem to reflect any issues, so capturing it again may help.

[2022-10-20 07:56] exextoc commented on #2839
@stefanoslig we have checked in a fix and it is presently rolling out. It should be available within a week.

[2022-10-20 08:45] JHJ-MS commented on #2874
Hi @jaceaser,  we have created an internal item 6964325 on the backlog. The root cause is still under investigation. We'll decide the priority and whether to fix it after finding the root cause. We will let you know if there are any updates. Thanks, Haijia.

[2022-10-20 10:53] JHJ-MS commented on #2732
Hi @wh1t3cAt1k, the non-optional repeating parameter is not supported for Custom Functions now.  To achieve your goal, you can append an additional non-optional argument. Besides, you can go to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) to request a new feature.
Thanks for your reportin

[2022-10-20 11:07] JHJ-MS commented on #2689
Involve documentation team member @Rick-Kirkham to see whether he has some ideas.

[2022-10-20 11:10] sumitmodi01 commented on #2842
@exextoc I am not able to repro the issue now. My outlook version is upgraded 16.66.
I was consistently able to repro the issue with Outlook 16.64 on mac.

Also, can you please let us know how to handle these types of error.  Doing retry works in such scenarios?
Our business use case fails if we are unable to get composed message info like subject, body, attachments.

[2022-10-20 13:19] DaveWatson44 commented on #2689
Would still like to hear if there is a correct way to go about doing this. However, I was able to find a workaround which is actually noted in the microsoft docs as not recommended. Which is using 2 taskpanes. All I needed to do was display a web page in the taskpane which holds information and links to external sites for documentation. The taskpane wouldn't need to interact with anything in excel

[2022-10-20 15:09] adim1973 commented on #2901
Any updates?

[2022-10-20 15:25] ChienHo opened #2905 "Office add-in issue content control Word and table Powerpoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We encountered a few bugs that we want to bring to your attention and see if there are any plans to address these in the near future? They are currently affecting a few enactments we

[2022-10-20 16:33] guzman-rc commented on #2382
This issue is already being processed from this thread:
https://github.com/OfficeDev/office-js/issues/2890

[2022-10-20 18:42] parched commented on #2846
Ok, should this issue be moved back to the docs repo instead then?

[2022-10-21 03:36] Howard-Song opened #2906 "[Outlook] Office-js need a default timeout setting to release queue"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___
* Host [Excel, Word, PowerPoint, etc.]: ___Outlook___
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expected behavior

In our add-in, I set a local queue to let Office-JS API will called one by one

[2022-10-21 06:45] repl-kannan-d commented on #2769
@exextoc    @JuaneloJuanelo Hi Team, any update on this?

[2022-10-21 09:01] ghost commented on #2876
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-10-21 09:18] jindaldheeraj commented on #2879
Thanks a lot jipyua!!

Would wait for your response once the issue is fixed.

Regards,
Dheeraj Jindal

[2022-10-21 09:37] nvazhayil commented on #2876
What could be the possible causes of this exception? How about we look into that?

[2022-10-21 12:04] anna-feliz opened #2907 "contentControl (insertHTML) broken after re-opening document"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In my office js app for Word, sometimes a content control looses connection, so I cannot see the content control any longer, and then the document is broken for inserting new content

[2022-10-21 12:04] ghost commented on #2907
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-21 13:47] bhattikashif commented on #2716
We are facing same problem, any find a solution to this problem?

[2022-10-21 15:07] thoffmann-fms commented on #2864
11am Eastern on Fri 10/21, still getting the error.

[2022-10-21 17:50] nicolasmendonca commented on #2839
Good to know! thank you team!

[2022-10-21 19:43] ElizabethSamuel-MSFT commented on #2901
@madhavagrawal17 Can you address this issue?

Thanks.

[2022-10-22 05:37] rutvik95 opened #2908 "Word | Fetching creationDate of copied comments in OfficeJS returning "1899-11-30T00:00:00.000Z""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
The creationDate on comments copied from another document is returning "1899-11-30T00:00:00.000Z" in OfficeJS.

## Your Envi

[2022-10-22 05:38] ghost commented on #2908
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-24 07:18] hengchengfei opened #2909 "How to support Edge legacy?"
Now,I submit office addin to Office Store,and don't pass.

### Validation Failure:
![error](https://user-images.githubusercontent.com/3182964/197468399-d92c0922-b657-4c77-8cc6-a44efc3ef3bc.png)

### In Webview2 Runtime,it is OK!
![webview2](https://user-images.githubusercontent.com/3182964/197468512-55a90482-c17d-40da-9677-aaf741d2d5a4.png)
![webview22](https://user-images.githubusercontent.com/31

[2022-10-24 07:38] xuruiyao-msft commented on #2908
@rutvik95
1, Would you please describe how to copy the paragraph into a new file? By Office-JS API or manually?
2, The 'link to script' in 'Link to live examples' part only includes the APIs of getComments and comment's items. I cannot reproduce the issue using the provided script. Would you please double check if the script is correct?
Thanks for reporting the issue. I will keep close eye on this

[2022-10-24 07:59] RuizhiSunMS commented on #2909
Looks it's 'edge' related, @croicu suppose you might help it?

[2022-10-24 12:50] thoffmann-fms commented on #2864
Monday 10/24 AM, still happening, but at a different line  # than previously.
[code]

[2022-10-24 13:54] stijndeschuymer opened #2910 "mailbox.item.body.getAsync with Text Coercion type html adds line breaks to content"
with an Outlook add-in, add a long enough text between html tags to an email body using office-js:
[code]
Then retrieve the body using the following code:
[code]

The returned value now contains line breaks `\n` in random places in the text. Which is not expected.

##  Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host : Outlook
* Office version number: ___

[2022-10-24 13:57] hengchengfei commented on #2909
I want to add error Handling in WebView1 or Edge Legacy.

How to detect if user is using  WebView1 or Edge Legacy?

IE detect as follows:

### index.html
[code]

[2022-10-24 14:42] gingerjia commented on #2876
@nvazhayil the minor error at manifest may cause this failure. Could you do manifest validation by [Validate an Office Add-in's manifest - Office Add-ins | Microsoft Learn](https://learn.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest)? or could you share your manifest to us to help identify the issue? Thanks very much!

[2022-10-24 17:14] Rick-Kirkham commented on #2909
@hengchengfei Have you see this article? [Debug add-ins using developer tools in Microsoft Edge Legacy](https://learn.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-devtools-edge-legacy)

[2022-10-24 20:06] vikramsw commented on #2386
@exextoc , REMINDER: An update is requested on this please.

[2022-10-24 22:34] eugene-plutoflume opened #2911 "The title of dialog windows shows the target page URL on Windows"
# Provide required information needed to triage your issue
Dialog boxes contain an URL of the target page in Outlook for Windows (desktop). All other platforms displays the `ProviderName` field from the add-in manifest.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.15629.20200
* O

[2022-10-25 02:05] linsmac opened #2912 "Outlook: Register the online-meeting template for Contoso"
Can you register the online-meeting template for our Contoso?
 "<br>" +
  '<a href="https://contoso.com/meeting?id=123456789" target="_blank">Join Contoso meeting</a>' +
  "<br><br>" +
  "Phone Dial-in: +1(123)456-7890" +
  "<br><br>" +
  "Meeting ID: 123 456 789" +
  "<br><br>" +
  "Want to test your video connection?" +
  "<br><br>" +
  '<a href="https://contoso.com/testmeeting" target="_blank">

[2022-10-25 06:55] repl-minatee-p opened #2913 "'OfficeRuntime.auth.getAccessToken' is not working in Safari"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am developing a word add-in which will run in all supported platforms such as Windows, Mac and all browsers.
But 'OfficeRuntime.auth.getAccessToken' throws 'Refused to display' erro

[2022-10-25 06:55] ghost commented on #2913
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-25 07:35] rutvik95 commented on #2908
@xuruiyao-msft

Thank you for your response.

1. The paragraph was manually copied.
2. The linked script had worked for me. However, it seems there is some other action or other variable, in addition to copying the paragraph with comments, which may be causing the issue that I haven't been able to figure out yet.

On another note, in the documents where it is occurring, the comments.xml file seems

[2022-10-25 08:51] hengchengfei commented on #2909
@Rick-Kirkham

I had saw the link,it is OK.

[code]

[2022-10-25 09:44] JinghuiMS commented on #2734
For new feature request, we would like to suggest you go to https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform and see if your question has already been asked or ask a new question. Feature requests on it are considered when we go through our planning process.

[2022-10-25 11:54] mkm17 commented on #2898
@RuizhiSunMS Hi, I was wondering if you need any further information from me to resolve the issue.

[2022-10-25 12:04] marcotonani commented on #998
We are having the same issue mentioned by @RBILLC just above.
When calling the getOoxml method from word desktop we are getting a RichApi.Error GeneralException.
Using word online instead we are able to get the ooxml for the same document.
As @RBILLC said if we ungroup the image present in the document everything works correctly.
I'm attaching the word document that cause the issue.

Version:
Micr

[2022-10-25 14:52] xchen9090 opened #2914 "Style "Heading 1" at last paragraph missing after calling insertOoxml or setSelectedDataAsync"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our application converts a word document to OOXML and then inserted into another word document by using InsertOoxml() or setSelectedDataAsync() Javascript method. If the last paragrap

[2022-10-25 15:10] ElizabethSamuel-MSFT commented on #2307
@lwaltman The documentation has been updated to show only Before and After as options for Word.Paragraph.insertParagraph. As such, I'll close this issue.

Thanks.

[2022-10-25 15:10] #2307 closed, assigned to ElizabethSamuel-MSFT

[2022-10-25 16:00] adim1973 commented on #2901
Any updates?

[2022-10-25 16:06] ghelyar opened #2915 "OnNewMessageCompose event triggered by forwarding a meeting invite in Outlook desktop for Windows"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2209 (Build 15629.20208)
* Operating System: Windows 10
* Browser (if using Office on the web): ______

## Expected behavior
`OnNewMessageCompose` should not be triggered on forward

[2022-10-25 17:07] madhavagrawal17 commented on #2901
Sorry for the delay. Per my investigation, there is no API for OfficeRuntime.storage that can be used to get the current memory status of the Storage. The Storage limit is 10 MB. And we do throw an exception if someone tries to set it into storage once the limit is reached. The exception will contain the HRESULT with value 0x8007000E(E_OUTOFMEMORY).

[2022-10-25 20:23] sashakar opened #2917 "Outlook - Manage pane layout does not work in web version of Outlook"
# Provide required information needed to triage your issue
I would expect that in the web version of Outlook 365, I would be able to manage pane layout such as moving or resizing task panes the same way I could in the desktop version of Outlook. However I am unable to resize the task pane in the web.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel,

[2022-10-25 20:26] sashakar commented on #2699
@ononder Hi Onur, I am hoping to get an estimate on the fix for this issue - there has been no update from you in over two months. Unfortunately the workaround you provided did not work for us (see above comment) so we are really relying on this functionality being fixed to move forward with our development. Thank you

[2022-10-26 01:57] SiruiSun-MSFT commented on #2899
Hi Pavel Kabir,
As of now, we are still locating the exact reason. Can you provide a few more session ids, and provide us with the time (PST time zone) of this session? This will be of great help to our investigation. Thanks~

[2022-10-26 05:49] RuizhiSunMS commented on #2913
This is a common API. @mattgeim I realized you handled another issue about this API once, can you please take a look?

[2022-10-26 06:08] RuizhiSunMS commented on #2898
Another colleague from other team created a bug to track this issue since this one is not owned by us indeed. I realize that he has closed that bug. I'd contact him for further information.

[2022-10-26 06:32] exextoc commented on #2912
Can you please explain in details what are you trying to do here.
These are few questions i have
1)Are you trying to build a Meeting Addin??
2)Are you trying to add above text in event body??
3)If you are implementing an Addin can you please explain more in detail about your addin what it does

[2022-10-26 06:43] exextoc commented on #2842
Thank you for communicating on the issue. Unfortunately, we could not repro the error at our end and would need more information to comment on this. Do keep us posted if you face this issue again.

[2022-10-26 06:54] exextoc commented on #2382
We have fixed this issue and fix will be available on build >=  16.67(22101904) .It will reach Production soon

[2022-10-26 07:06] dinglicoding opened #2918 "Same TaskpaneId in web addin throw an error msg"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

when we use same TaskpaneId  for different Action, in office online web excel it throw an error. but use differenet Taskpan

[2022-10-26 08:13] luketowell opened #2919 "How to add a button into the appoinment summary"
Apologies if this is not the correct format but I have looked through the forums and blogs available online and I am unable to find any documentation for how to resolve my issue.

I am currently working on an add-in which allows a user to authenticate and create meeting sessions which is working as expected. We would now like to add a join meeting button to the meeting summary which pops up when t

[2022-10-26 08:26] RuizhiSunMS commented on #2898
Sorry to reply so late.
In fact, we found another problem while investigating your issue and that found invoked a fix from another team. We are still investigating because we need to wait for their fix's release.

[2022-10-26 08:32] mkm17 commented on #2898
@RuizhiSunMS Thank you for the response. I will wait for further information.

[2022-10-26 09:20] RuizhiSunMS commented on #2898
We create a work item #7010550 to track this issue. Share this info for that we can't give exact timeline.

[2022-10-26 12:19] nvazhayil commented on #2876
@gingerjia, I don't want to post my manifest file here. How can I share it with you?

[2022-10-26 12:28] exextoc commented on #2386
We are working on this issue and will update on this thread once we have a fix

[2022-10-26 12:35] Stigjb opened #2920 "Wrong page size reported by getOoxml from paragraph"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I use `getOoxml` to find out the document's page size. In some situations, the resulting OOXML reports a page size that is wrong. For example, when the document is non-empty and I cal

[2022-10-26 12:35] ghost commented on #2920
Thank you for letting us know about this issue. We will take a look shortly. Thanks.

[2022-10-26 12:47] exextoc commented on #2906
Currently the feature you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-10-26 13:02] exextoc commented on #402
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2022-10-26 14:53] Wenjun-Gong commented on #2568
Hi @wh1t3cAt1k , @4tti , @gmichaud and @toni-lyttinen , really appreciate for sharing the feedback with us. We did hear your voice. For the _xldudf_ namespace issue, we have been actively looking into the root reasons and possible solutions. But due to the complexity, we are not able to share any ETA at this moment.

For the rest of the issues talked in this thread, seems they have separate GH tra

[2022-10-26 15:17] Augustalex opened #2921 ""Add-in Error: We couldn't get the information needed to start this add-in." when adding Mentimeter add-in for PowerPoint Web"
# Reproduction steps:
1. Create a new presentation in PowerPoint Web.
2. Insert a new add-in, select Mentimeter from the Store tab. This will add the add-in to your first slide.
3. The add-in will try to load and show this message:
"Add-in Error: We couldn't get the information needed to start this add-in."

![Add in error](https://user-images.githubusercontent.com/5485655/198065265-f93794d6-f229-