[2020-06-10 04:08] exextoc commented on #1205
The supported image file types for inline attachments are .png, .gif, .bmp, .dib, .jpg, .jpe, .jfif, and .jpeg.
You can add .svg types as non-inline attachments use  `{ isInline: false }`

Outlook online does not know how to render other file types inline, so this is expected behavior.

[2020-06-10 05:29] lumine2008 commented on #1210
@smaremanda , I saw @AndreRSA asked a question in StackOverflow,  it looks to me like a webview control issue from the error. So I suggest @AndreRSA report this issue in github. could you please view and see if this is webview control area? thanks

[2020-06-10 08:21] exextoc commented on #1204
We cannot reproduce the issue. Is this the same issue reported on [stackoverflow](https://stackoverflow.com/questions/62244143/error-in-outlook-addin-dialog-typeerror-cant-redefine-non-configurable-proper/62275116#62275116)?

[2020-06-10 08:36] exextoc commented on #1089
@jive-tamaskuzdi We have fixed the issue reported and depending on the release channel, the fix can take up to 4 weeks.
Close the issue, once you verify the fix on your end.

[2020-06-10 09:12] DmitryKostochko commented on #1205
@exextoc, sorry, I cannot understand your answer. Do you think that this unhandled exception is really expected behavior? I would rather get a callback with the status set to AsyncResultStatus.Failed. Please consider this once again.

[2020-06-10 10:23] exextoc commented on #1205
Thanks for reporting this issue regarding addFileAttachmentAsync callback issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-06-10 12:03] DmitryKostochko commented on #1205
@exextoc, thank you! Please re-open this issue.

[2020-06-10 12:37] JensMadsen opened #1216 "Cannot insert contentControl on w:t with xml:space=\"preserve\""
When text sits inside `<w:t>` with `xml:space=\"preserve\"` inserting contentcontrol on corresponding range fails. If a parent has `xml:space=\"preserve\"` no problem.

Below is the extracted OOXML body

[code]
Document is here [UknownBug.docx](https://github.com/OfficeDev/office-js-docs-pr/files/4758433/UknownBug.docx)

I do not know how to generate that particular form of OOXML. I have not manip

[2020-06-10 14:30] peronald commented on #1209
Thanks for your question. We monitor StackOverflow for programming questions while this forum is for issues with our product or documentation. You should be getting a response from us on your StackOverflow question shortly.

[2020-06-10 14:30] #1209 closed, assigned to nobody

[2020-06-10 14:46] fkranenburg commented on #1134
@exextoc a lot of our users are starting complaining about this issue. Can you please update this issue with a timeline? Is there somebody working on it?
We are telling our users to use the desktop client for now, but this is really not acceptable for most users...

[2020-06-10 14:50] AnvarNazar commented on #1204
No. I actually found the issue. The `<AppDomain>` in plugin manifest didn't match the domain of the addin. It's working when I set the correct domain on the manifest.

[2020-06-10 14:54] #1204 closed, assigned to exextoc

[2020-06-10 15:04] exextoc commented on #1134
Thanks for your patience here, we have a fix for the issue. Depending on the release channel the customer is on, getting an updated build can take up to 8 weeks.

[2020-06-10 15:34] exextoc commented on #1185
@SWei1234 Can you try below snippet and share the result with us? We are trying to verify whether the set function even succeeded.

    Office.context.mailbox.item.loadCustomPropertiesAsync(function (result){
      result.value.set("test",{"test":"success"});
      result.value.saveAsync(function (result) {
         console.log(result);
      });
    });

[2020-06-10 19:10] dmitriyyepishin opened #1213 "License points to broken link"
The license file points to https://msdn.microsoft.com/en-US/cc300389, which is a broken link.

Please update whatever needs to be updated so that we can obtain all the licences related to this project. Without this our legal department will not allow us to use this library.

[2020-06-10 22:35] dho-caissa commented on #1184
@xiaochunms is there any update? Any suggestion? Thanks

[2020-06-10 23:00] ghost commented on #1183
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-10 23:00] #1183 closed, assigned to lumine2008

[2020-06-11 04:41] exextoc commented on #1211
We cannot reproduce the issue mentioned, can you share the code snippet/manifest used?

[2020-06-11 04:52] exextoc commented on #1194
@SWei1234 Can you share with us a screenshot of the window, where you set client default time zone?
Did you mean the default time zone for new events?

[2020-06-11 04:59] exextoc commented on #1171
@markb-trustifi We are not able to reproduce the issue on our end, it would be really helpful, if you can share recording/screenshot.

[2020-06-11 07:52] remar27 opened #1214 "[Word-Semi-Annual Channel] Table row with content controls becomes gray after running context.document.getSelection().getOoxml()"
## Expected Behavior
Running context.document.getSelection().getOoxml() on table row with content control should not affect content.

## Current Behavior
Table row becomes gray, but actually is not the part of table row background. Color dissapears after closing & reopening the document .

## Steps to Reproduce, or Live Example
* Link to live example: [Script Lab](https://gist.github.com/remar27/1

[2020-06-11 08:05] markb-trustifi commented on #1171
Yes, sure. I'll send the recorded video. Just give me your private email.

P.S. I updated the issue. The problem occurs when the email is created in OWA and opened in OWA.

[2020-06-11 08:19] SWei1234 commented on #1194
The left one is system Preferences and this setting is actually effective.
The right one is Outlook Preferences which not effective.
![Untitled](https://user-images.githubusercontent.com/15980696/84362200-72d82700-abff-11ea-858c-0712c20f5e22.png)
yes, I mean the default time zone for new events.

[2020-06-11 08:37] SWei1234 commented on #1185
@exextoc
Sure,
![Untitled](https://user-images.githubusercontent.com/15980696/84363779-c8adce80-ac01-11ea-8522-dd4e35a96fda.png)

[2020-06-11 09:19] oyvindo commented on #1134
Now context is the Outlook app. (as owa is pending ...)

The following may be of consideration for you working with reading messages in an outlook addin. It is some what related to the original issue. Any way I believe you are the appropriate  audience.

I'we noticed that appointment messages delays initialization of Office.context.mailbox.item in the itemChangeHandler if args.initialData is not a

[2020-06-11 09:34] jak-hammond commented on #1211
I have recreated the issue in Script Lab for Outlook, the gist link can be found here; https://gist.github.com/jak-hammond/e05378e93ca65f7eb43af2c82ae3b301

The code in the gist replicates the functionality we are offering in our add-in at the moment which runs fine on browser and Windows, but is currently not logging the last recipient change on Mac when Jane Doe is replaced with John Doe

![Chro

[2020-06-11 09:43] SWei1234 commented on #1013
@exextoc  Is there any other conditions that will cause all add-in on shared calendar greyed out?

The problems are all happening on windows version later than 1909 and on Office 365 online not in on-prem environment.  And Outlook version is 2002 or later.

And  this problem only happening on windows Outlook client shared calendar. Browsers and Mac outlook client don't have this problem.

Or is th

[2020-06-11 10:57] exextoc commented on #1195
@sirtwist Manifest which you shared has localhost url. Can you share manifest for deployed version? Or striped down version of addin with dark mode toggle logic only?

[2020-06-11 12:52] nopepper opened #1215 "[Word Online] Range tracking doesn't work / inconsistent with Office 365 Word"
A tracked range used to be robust to changes around it until a few days ago. The behavior is only bugged in the online version of Word.

Example:
- Have a sentence, e. g. "The house is green"
- Find the ranges for the words "The" (r1) and "green" (r2) and track them
- Set r1 to "[The]"
- Set r2 to "[green]"

## Expected Behavior
Word document should be: "[The] house is [green]"

## Current Behavio

[2020-06-11 13:30] AndreRSA commented on #1210
Just a correction - re-installing Edge did not fix the error.  The working test of the add-in and worksheet was on another PC.

[2020-06-12 02:15] jipyua commented on #1215
hi,

Due to some limitation on word online, sometimes this issue will happen. But if you changed your code to InsertText in the same batch, then it will be working. And actually for better performance, there is no need to put them into separate batch. so please change to the following and have a try:
 var par = context.document.body.paragraphs.getFirst();
      par.load();
      var r1 = par

[2020-06-12 06:00] ghost commented on #1154
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-12 07:16] MandytMSFT commented on #1208
@Simplici i just tried on Word online with https://gist.github.com/MandytMSFT/03b867f2eb50c8cbf49287451534d787 , it works well on my side. Could you try my gist to see if it works ?

![image](https://user-images.githubusercontent.com/52641972/84475644-7e8b2280-acbf-11ea-9293-2aab0dc3f129.png)

[2020-06-12 07:40] exextoc commented on #1201
@mscharlock Can you explain the scenario which you are blocked on? From your other forum post, we could gather that there is some problem with callback. If you can provide proper repro steps, it will be helpful for investigation,

[2020-06-12 08:22] exextoc commented on #1211
@jak-hammond Thanks for the script, we are able to reproduce the issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-06-12 08:33] nopepper commented on #1215
Hi @jipyua, thank you for your quick answer. You're right, in this example it wouldn't be necessary to have two batches. However, our system requires that the Range objects stay tracked beyond one particular batch. As I understand it, that's the purpose of the track() function.
I'd be grateful for a workaround or fix that doesn't require batching all actions together.

[2020-06-12 09:22] exextoc commented on #1185
Thanks for reporting this issue regarding custom properties issues. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-06-12 09:26] Simplici commented on #1208
@MandytMSFT it doesn't work. May the result be different based on account?
below is the version of Word online:
![image](https://user-images.githubusercontent.com/8101111/84489606-84d7c980-acd4-11ea-83c1-24c46f2e68c8.png)

[2020-06-12 09:30] exextoc commented on #1171
Please send it to meganb@m365x443023.onmicrosoft.com.

[2020-06-12 09:37] exextoc commented on #1134
@oyvindo Can you fork this into a separate issue? also share the platform (Windows / Mac)

[2020-06-12 12:48] Enotsoul commented on #1170
Unfortunately, other addins don't make usage of the whole functionality which we use, and neither could I find an addin which adds rooms AND users to test this out.

Will look more into this, however it seems that that specific functionality doesn't work properly on the API side

[2020-06-12 15:13] derekmurph commented on #1134
I have seen this issue in a pinned outlook add-in. We have seen this primarily on Windows 10 Professional version, on the outlook web application.

I have had more difficulty reproducing this issue in Windows 10 Home version, in addition have not seen this issue in Mac, OWA.

Maybe some issue with caching? Did a lot of debugging on this issue and the ItemChanged handler is being called -- however

[2020-06-12 17:15] exextoc commented on #1013
As mentioned above, the only conditions this is possible is if the client is on an older build number than when sharedFolders were supported or exchange is an onPrem account. It seems like both don't seem to be the issue for you. Could you share your Outlook specific build number along with channel details(this is easily available from File->Office Account and looking at About Outlook's descriptio

[2020-06-12 17:25] exextoc commented on #1170
@Enotsoul - ScriptLab's playground enables you to emulate your behavior using the APIs from sample snippets. You can use those snippets to set and get your attendees. For users, you'll use the setAttendees API passing in the details of the user, then you can use the enahancedLocation APIs to set conference rooms and lastly, make a call to getRequiredAttendees to see if you still see this behavior.

[2020-06-12 20:45] ElizabethSamuel-MSFT commented on #1216
@JensMadsen Thanks for raising this. I'll transfer to the product repo for the engineers to take a look.

[2020-06-12 21:10] acaibowl commented on #1128
Just checking in @sohailzafar @mscharlock @lumine2008 - please let us know if there is any additional information we can provide. We are preparing for new users using to use our add-on next week.

[2020-06-12 22:52] jeremy-msft commented on #1207
Hi @bdentino, thanks for your feedback.  We recently resolved this issue and the fix was released to production yesterday.  Please try again and let us know if you still see the problem.

[2020-06-13 05:15] 1001QAdotNET opened #1217 "OneNote API: How do I change the indentation of a paragraph and its children?"
HI
My question was posted yesterday on Stackoverflow as advised here. Here is the link
https://stackoverflow.com/questions/62348684/onenote-office-js-apis-updating-the-text-of-a-paragraph-and-indenting-it-as-nee

To give you a quick overview, I am trying to change the indentation of a paragraph and its children and I can't figure out what I should do for that. The OneNote Javascritp APIs don't see

[2020-06-13 14:35] MandytMSFT commented on #1208
@Simplici  you are right. I just tried on your build, the behavior is the same as yours. I used to test on 16.0.13011.41006 which ideally will be rolled out to your env early next week , it worked as expected. Though i don't know the difference of these 2 builds , given  it works in newer build, i'd suggest you waiting to see if it works for you next week. Feel free to let me know if the issue is

[2020-06-14 00:00] ghost commented on #1202
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-14 15:00] ghost commented on #1199
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-14 15:03] exextoc commented on #1155
When an application has been granted tenant-wide admin consent, all users will be able to sign in to the app unless it has been configured to require user assignment. To restrict which users can sign in to an application, require user assignment and then assign users or groups to the application. Hence if require user assignment is not configured all current users and future users would get the ad

[2020-06-14 17:47] exextoc commented on #1123
iOS upgrade fixes the issue.
Answer for the same question from different [forum](https://stackoverflow.com/a/61746995/7823505):
_"The iOS device was upgraded from OS 12.4.1 to 13.4.1 and this problem no longer occurs. So we're going to have to recommend users upgrade iOS as we haven't found any other way around this."_

[2020-06-14 17:47] #1123 closed, assigned to exextoc

[2020-06-15 02:52] Simplici commented on #1208
@MandytMSFT tks. I will come back to you later.

do you have anything like developper program which allows to try the latest dev version?

[2020-06-15 06:30] exextoc commented on #1172
We have fixed this issue and it will be rolled out 100% by end of this week.

[2020-06-15 07:14] justdevelopment commented on #906
We see the same issue, also think it might be related to internet speed. Users with slower internet report it more often and when throttling my connection I can reproduce the issue consistently.

[2020-06-15 07:29] ArashMotamedi opened #1219 "Provide timeline for switching to Chromium Edge in Windows Desktop Outlook"
[Enter feedback here]
What's the timeline for switching to Chromium Edge in Outlook Desktop for Windows for Taskpane addins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Of

[2020-06-15 07:57] SWei1234 commented on #1013
@exextoc
I confirm they are not use on Prem environment.
Their outlook client version is 16.0.12527.20612 , 16.0.12527.20720 on windows.
They are all using office 365 account.
The calendar shared is a specific user's calendar.
We reproduce this on calendar because our add-in need run on a event or appointment.
All add-in are grayed out not only one meeting add-in have this problem. The same as the

[2020-06-15 08:00] ghost commented on #1154
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-15 08:00] #1154 closed, assigned to exextoc

[2020-06-15 08:31] arturs-buls commented on #149
Issue still present....

Unfortunately it will not work for all cases. Per [docs](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-1.4#saveasync-options--callback-), it may take some time until ID can be used in API if outlook is in caching mode (afaik it is a default for Outlook desktop for Windows). Because of this - you can never be sure if you will

[2020-06-15 10:30] exextoc commented on #1194
On further analysis it was found that Client timezone is only returned in case of Outlook on Web, On all other platforms the System timezone is returned. We shall be updating our documentation to make it clear.

[2020-06-15 11:14] vyazadji commented on #149
I am no longer working on this project. But as far as I remember, we added a check that new ID after `Office.context.mailbox.item.saveAsync()` was really saved in Exchange. It looked messy, but we didn't find a better way how to do it.

Here is more info about this issue:
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/34593391-immediate-synced-to-the-serv

[2020-06-15 15:17] ElizabethSamuel-MSFT commented on #1219
@ArashMotamedi Thanks for asking about this.

@exextoc Can you take a look?

Thanks.

[2020-06-15 16:21] modestfake opened #1218 "Outlook add-in doesn't work in group boxes"
I've noticed that none of Outlook add-ins work in Outlook group boxes. I tested a few add-ins (Jira Cloud for Outlook, Slack for Outlook, Trello.

## Expected Behavior
Outlook add-ins work the same as they do in a regular inbox.

## Current Behavior
If I open a group box, Outlook add-ins don't show up.
Outlook WEB
![image](https://user-images.githubusercontent.com/16977959/84681361-acc96600-af3c-1

[2020-06-15 17:22] bx-anil commented on #1140
Also note that the itemId on shared calendar item is different for Desktop vs OWA.
Can you please prioritize the fix for this or provide a workaround. Shared Calendar is a big use case for us.
Let us know if using Graph API will work. Reason I'm asking is because the itemId on desktop vs OWA is different and this is input for Graph API too.

[2020-06-15 18:03] ElizabethSamuel-MSFT commented on #1219
Transferring to product repo office-js.

[2020-06-15 18:58] JuaneloJuanelo commented on #1218
That's right, Add-ins are not supported in groups. Please create/upvote issue https://officespdev.uservoice.com/ and share more details on your scenario.

[2020-06-15 18:58] #1218 closed, assigned to nobody

[2020-06-15 19:23] JuaneloJuanelo commented on #1215
Here is an example of how you successfully track ranges.  This code is actually doing a search, it actually keeps the ranges in an array for later use. Hope it helps.
https://gist.github.com/JuaneloJuanelo/a8b62c1f1dc31703c7960f661b9e8b18

[2020-06-15 19:23] #1215 closed, assigned to nobody

[2020-06-15 19:34] JuaneloJuanelo commented on #1216
I cannot repro this behavior.

i am using this code with the document you referenced. that document, btw only has one instance of  RPL § 232, stk. 3 (so it only find one range)
[code]

if you can still repro, please send a document with several instances, and also will be great if you can include the code you are using so we can investigate properly.
Also please indicate in what platforms and what

[2020-06-15 19:50] JuaneloJuanelo commented on #1214
I cannot repro this issue in the Monthly channel, however, this case apparently its been observed in the semi-annual channel. We'll keep investigating.

[2020-06-15 19:54] JuaneloJuanelo commented on #1213
Can you please add more details on where is the license you are describing or what page has that broken link? otherwise will be tough to fix.

[2020-06-15 19:55] dmitriyyepishin commented on #1213
The license file is here: https://github.com/OfficeDev/office-js/blob/release/LICENSE

[2020-06-15 21:27] JuaneloJuanelo commented on #1214
I was able to repro this issue in the semi annual channel. We are tracking internally with 4222326

[2020-06-16 03:26] topkoong opened #1220 "CustomFunctions.StreamingInvocation setResult() cannot set the result for a dynamic array"
CustomFunctions.StreamingInvocation setResult() cannot set the result for a dynamic array.

## Expected Behavior

CustomFunctions.StreamingInvocation setResult() should set the result for a dynamic array and display it once a second.
## Current Behavior

It returns #VALUE error which indicates an error in the functions' script file.

## Steps to Reproduce, or Live Example

[code]

[code]

## Your

[2020-06-16 06:23] Simplici commented on #1208
@MandytMSFT
I have seen a new build for Word Online:
![image](https://user-images.githubusercontent.com/8101111/84738607-cde19380-afdc-11ea-932c-3a7b0cb1ac2a.png)

from the build no., it seems more recent than 16.0.13011.41006, but still doesn't work.

[2020-06-16 08:25] Enotsoul commented on #1170
Greetings once again,

I've installed ScriptLab for OUtlook and tested it in both Outlook (for Windows) and OWA on multiple users and environments. Just to be sure we could replicate things evenly I took my time in testing a variety of things with the snippets provided.

I've used the set and get required/optional attendees snippets provided by ScriptLab UNALTERED.

Outlook:
When getting the requi

[2020-06-16 08:58] sergez commented on #714
Hi,
The issue is still reproduced for me on:

Platform [PC desktop, Mac, iOS, Office Online]: Mac
Host [Excel, Word, PowerPoint, etc.]: Outlook
Office version number: Outlook for Mac v16.37 (20051002)
Operating System: MacOS High Sierra v10.13.6

Also it reproduced when call saveAsync() on mailboxItem - `Office.context.mailbox.item.saveAsync(console.log);`

[2020-06-16 10:00] arturs-buls commented on #402
Hello, @macOutlookExtensibility .
Issue still present. Are there any timeline updates you can give on this? Maybe there is some kind of workaround that I can implement in a meanwhile?

[2020-06-16 10:29] nopepper commented on #1215
Hello @JuaneloJuanelo and thank you for the reply. I've tested your snippet and posted the video results below. Unfortunately the same problem persists, as changing the length of the document will offset the (supposedly tracked) ranges and apply the bold formatting to the wrong part of the text. Again, the problem only applies to Word Online, the local Office 365 Word for Windows works as expected

[2020-06-16 10:32] KantilalJadav opened #1221 "Download is disallowed in Google chrome browser"
## Expected Behavior
IFRAME should be allow download in google chrome browser.

## Current Behavior
We have developed outlook add-in for calendar. which will download all appointments from users calendar to excel. We have tested our add-in in all major browsers (IE-11, Firefox-77 and Chrome-83). In IE and Firefox add-in working as expected but Chrome is disallowed to download.

We are getting foll

[2020-06-16 10:32] exextoc commented on #1134
@fkranenburg We have fixed this issue of "Office.context.mailbox.item does not return current selected item" and its 100% rolled out also for OWA. Close the issue, once you verify the fix on your end.

[2020-06-16 10:33] sedano opened #1222 "excel-web-16.00.js served by the content delivery network (CDN) is different than the one on GitHub"
We started having issues with IE since few days ago, all the exceptions happening in `excel-web-16.00.js`. Our add-in was unchanged so we believe the culprit is `office.js`/`excel-web-16.js` but cannot see any changes to these files in the release branch so we cannot properly identify the root cause.

We discovered that [excel-web-16.00.js](https://appsforoffice.microsoft.com/lib/1/hosted/excel-we

[2020-06-16 10:33] exextoc commented on #1134
Can you fork this into separate issue?

[2020-06-16 11:11] fkranenburg commented on #1134
@exextoc  Just tested but I still have the same problems in OWA. Turning **ON** the conversation display option still works as a workaround. I'll retry tomorrow.

[2020-06-16 12:00] ghost commented on #1171
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-16 12:43] 3dot1four opened #1223 "Do we have Excel Add-In support for Ring 6 users/Environment? <EOQ />"

[2020-06-16 14:04] bchenhs commented on #1154
@exextoc Here is the video, demonstrating the issue using the script lab, running the code snippet above:

![clipboard_issue](https://user-images.githubusercontent.com/39492089/84784610-8812d400-afb8-11ea-8de7-fff828952fcf.gif)

[2020-06-16 15:19] sumurthy commented on #1222
Thanks for reporting this issue. Could you be more specific on when you started to experience the issue? Date?
Also, you mentioned that it fails when making an REST API call. Are you able to observe that such a call is failing on your end consistently?
Is your add-in available on the store for us to try/re-pro?
We did make an update to the CDN on June 9th, but it was backed out due to an unrelated

[2020-06-16 16:33] wilcotroost commented on #1134
@exextoc Same here... no fix yet

[2020-06-16 18:00] ghost commented on #1061
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-16 18:13] sirtwist commented on #1134
I can verify that this is still not working in OWA.

I turned off conversation view. First image is me selecting the first message. Second image is me selecting the second image. You can see in the console that the subject has not changed. When conversation view is turned on, the subject (i.e. the item) changes as you select a new message.

![image](https://user-images.githubusercontent.com/311246

[2020-06-16 19:08] danielebercovici commented on #1170
Thanks for the feedback and for reporting this issue regarding discrepancy between OWA and desktop. It has been put on our backlog. We unfortunately have no timelines to share at this point

To get rooms/locations you can use [enhancedLocation](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/get-or-set-the-location-of-an-appointment).

[2020-06-17 02:00] ghost commented on #1202
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-17 02:00] #1202 closed, assigned to nobody

[2020-06-17 03:44] xiaochunms commented on #1220
#VALUE error means wrong data type.  You can change the function definition as follows to have a try.

[2020-06-17 05:11] topkoong commented on #1220
@xiaochunms Thank you for the reply. I've tried that. Still, it shows #VALUE error.

[code]

[2020-06-17 05:59] exextoc commented on #1134
We checked again. It is fixed but it's not 100% deployed in WW ring. Sorry for the confusion. Please wait till the end of this week.

[2020-06-17 06:47] GeoffreyYue1 opened #1224 "Office.CustomProperties.saveAsync return succeed but custom property not saved to Event Item for Shared Calendars in OWA"
In out Outlook Add-in we are using Office.CustomProperties.saveAsync to save the custom properties, the function works fine in Outlook, my own calendar in OWA, but in the shared calendar of OWA, the API result succeed but didn't save the customer property to the meeting item.

## Expected Behavior
In OWA shared calendar meeting items,  Office.CustomProperties.saveAsync could save the meeting items

[2020-06-17 07:50] exextoc commented on #1154
Thanks for reporting this issue and sharing the repro video. We are able to repro the issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-06-17 08:37] xiaochunms commented on #1220
Suppose you are using scriptlab. Following code snippet works for me. The difference is that no "export" before function in codes below.

[code]

[2020-06-17 09:11] exextoc commented on #1221
We are already aware of this issue and have fixed this. It will take ~1 Weeks for 100% rollout. Please try again next week.

[2020-06-17 09:18] topkoong commented on #1220
Well, I've slightly modified a function from a sample code generated by Yeoman [https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows), and when I compiled it, I've got the following error message: **Invalid type: Custo

[2020-06-17 10:56] exextoc commented on #1196
We have fixed this issue and it will take ~1 week for 100% rollout.

[2020-06-17 11:02] #1194 closed, assigned to exextoc

[2020-06-17 11:07] exextoc commented on #1189
We have fixed this issue and it will take ~1 week for 100% rollout.

[2020-06-17 11:21] MandytMSFT commented on #1222
@sedano We recently have a JS minifier issue on office.js . The fix has been deployed to https://appsforoffice.microsoft.com/lib/1/hosted/ this afternoon , could you have a try to see if the issue has gone ? Or can you try https://appsforoffice.microsoft.com/lib/1/hosted/office.debug.js which wasn't minified to see if it works ?

[2020-06-17 11:21] exextoc commented on #1096
We have fixed this issue and will take ~1 week for 100% rollout in OWA. Thanks for your patience.

[2020-06-17 11:23] sedano commented on #1222
Thank you for the quick reply. We are currently doing validation of our Excel add-in, we tested IE11 the 4th of June and it was working fine. We repeated the same testing on June 15th and the issue appeared. It was with the same Excel add-in and testing environment.

I cannot share the code/add-in but I will try to create one add-in to replicate the issue. Basically, what we are doing is checking

[2020-06-17 11:24] sedano commented on #1222
@MandytMSFT when I used the debug version yesterday it worked fine. Will try again with hosted and come back to you.

[2020-06-17 11:26] MandytMSFT commented on #1222
@sedano  great, that's proved it caused by the JS minifier. Just be noted, the CDN cache refreshing may need about 24 hours

[2020-06-17 11:42] exextoc commented on #987
We have fixed this issue. Thank you for your patience.

[2020-06-17 11:42] #987 closed, assigned to exextoc

[2020-06-17 11:46] #926 closed, assigned to exextoc

[2020-06-17 11:51] exextoc commented on #828
We have already fixed this issue.

[2020-06-17 11:51] #828 closed, assigned to exextoc

[2020-06-17 11:53] exextoc commented on #810
We have fixed this issue.

[2020-06-17 11:53] #810 closed, assigned to exextoc

[2020-06-17 12:39] KantilalJadav commented on #1221
Thanks for such a valuable response.

[2020-06-17 14:23] itoxable commented on #1220
Hello,
I'm experiencing the same problem, it works on Excel online, but not on the desktop.
Is there any working examples?

Thanks

[2020-06-17 14:26] robertmuehsig commented on #412
Is this really fixed? We are seeing the same issue.
Our code works on Windows, Web & mac, but fails on iPad.

[2020-06-17 15:01] robertmuehsig commented on #1177
Any updates on this? We are seeing the same issue - works fine on Windows, Web & mac :/

[2020-06-17 16:51] JuaneloJuanelo commented on #1013
The Semi-Annual Enterprise channel 1908(11929.20838) does not support 1.8, hence it does not support Shared Folders/Delegates.  More info below.

•	The shared folders feature was released as part of 1.8 requirement set.  As per[ this page](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets), the 1.8 requirement set is available in builds 121

[2020-06-17 17:00] ghost commented on #1199
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-17 17:00] #1199 closed, assigned to lumine2008

[2020-06-17 18:13] exextoc commented on #1170
Thanks for the feedback and for reporting this issue regarding discrepancy between OWA and desktop. It has been put on our backlog. We unfortunately have no timelines to share at this point

To get rooms/locations you can use [enhancedLocation](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/get-or-set-the-location-of-an-appointment).

[2020-06-17 19:10] mscharlock commented on #1201
@exextoc tagging @saberone for further explanation

[2020-06-17 20:38] mdunn416 opened #1225 "Wait until previous call completes at certain limit"
## Expected Behavior

I am trying to iterate through a list of words, search the document for each word, once I find it, assign a bookmark to that word.

## Current Behavior

My code seems to work, but when the lists gets large I am getting an error.
[Error] Unhandled Promise Rejection: RichApi.Error: Wait until the previous call completes.
	dispatchException (polyfill.js:12173)
	invoke (polyfill.

[2020-06-17 20:59] hjkim-MSFT commented on #110
The issue is that the last paragraph doesn't get deleted with delete method. As a result, the section break will be outside of the content control in setup phase. In run phase, as another section break will be inserted in the content control. Consequently there are two section breaks in the document.

To work around this problem, we can select the last paragraph first and then delete the selected

[2020-06-17 21:07] Rick-Kirkham commented on #1225
You say that you are iterating through the words, but the code you've provided doesn't have any loops. Could you please clarify?

Also, it looks like your code only inserts a bookmark to the _first_ instance of each term. Is that your intention?

Finally, please take a look at this article: [Avoid using context.sync in a loop](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/correlated

[2020-06-17 21:44] hjkim-MSFT commented on #116
The issue is that the table intersects with the content control. Once this happens, the results of following operations are unpredictable. You could achieve the same goal without using content control. Here is a gist to demonstrate that.
https://gist.github.com/hjkim71/500d6a42187d6d9936112427fc22be39

I've noticed that the ooxml definition contains a table. If you want to use content control, the

[2020-06-18 03:18] SWei1234 commented on #1013
@JuaneloJuanelo
Yes, recently we have a lot of users met this problem.
Include using semi annual and other version. And we didn't have a clear standard about whether this feature(add-in on shared calendar) will be supported.

[2020-06-18 11:14] markb-trustifi commented on #1171
I cannot reproduce it now.

[2020-06-18 11:14] #1171 closed, assigned to nobody

[2020-06-18 12:07] sedano commented on #1222
@MandytMSFT @sumurthy We tested today again and we are still having the same issue. I don't know if the CDN cache was refresh already. Anyway, I created an add-in based on the yeoman office-generator where the issue can be reproduced.

We have a live version hosted it in one of our servers, here is the [manifest](https://github.com/sedano/cdn-excel-add-in/blob/master/cdn-manifest.xml).

Repo for t

[2020-06-18 12:26] MandytMSFT commented on #1222
@sedano  My fault, the fix deployed yesterday was only available for Microsoft internal. I am confirming with related people on progress for public user.

[2020-06-18 15:01] JuaneloJuanelo commented on #1013
@SWei1234 great, on the page that I referred we post all this content. let me know if we can improve it anyhow to make more clear our support matrix. Will close this issue for now.

[2020-06-18 15:01] #1013 closed, assigned to exextoc

[2020-06-18 15:21] Murugananths commented on #1148
@keyur32 ....As discussed with call any findings? Can we have status update if any?.. Thanks

[2020-06-18 15:22] keyur32 commented on #1148
thanks for the additional information. We are investigating and @sohailzafar  will revert back with questions/update.

[2020-06-18 15:24] keyur32 commented on #1223
Hi I'm not sure what is referred to as Ring 6 environments? Do you mean Excel add-ins supported in Excel Online, or something else.

[2020-06-18 17:52] tjcrowder opened #1226 "FilterCriteria objects with invalid null properties"
## Expected Behavior

Being able to use the [`FilterCriteria`](https://docs.microsoft.com/en-us/javascript/api/excel/excel.filtercriteria?view=excel-js-preview) objects we receive from autofilter:

[code]

...to (re)apply those criteria later via `apply`:

[code]

## Current Behavior

The objects from the `criteria` array have properties with the value `null`, but the TypeScript type information s

[2020-06-18 20:28] mdunn416 commented on #1225
I have read the link on Avoiding using context.sync inside a loop. An issue I seem to be having is passing a large number of items (in the dict argument) to search. (ie. Search for all instances dict = {'word1', 'word2', 'word3',.....} of a large list of words inside a document).

The code works on smaller lists (<20 items to search) but seems to fails when the list gets large (300+). When I say f

[2020-06-19 01:26] TCourtneyOwen opened #1237 "Do centrally deployed add-ins work in Office Online?"
I followed these instructions to centrally deploy an add-in to my tenant:  https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment.  However, when I log into Office Online using my tenant admin account, open a Word or Excel document, which the add-targets, I don't see the add-in show up in the ribbon.

Are centrally deployed add-ins supported in Office Online?

Thanks,

[2020-06-19 04:49] glr0221 commented on #1147
Thank you @exextoc! I will inform our clients of your decision then.

[2020-06-19 06:00] ghost commented on #1089
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-19 06:02] sanjaygovindan opened #1227 "Access Denied - PivotTable Add"
## Expected Behavior
Expect a pivot table to be created. This code was working prior to the new release of office js.

## Current Behavior
Currently receiving an error - AccessDenied: You cannot perform the requested operation

## Steps to Reproduce, or Live Example
Via the api:

1. Create new worksheet
2. Set new worksheet to active
3. Get active worksheet object from workbook object and set to n

[2020-06-19 06:57] jive-tamaskuzdi commented on #1089
I can confirm that the bug is fixed, thank you!

[2020-06-19 06:58] #1089 closed, assigned to exextoc

[2020-06-19 06:59] hjkim-MSFT commented on #1143
Fixed in 16.0.12928.10000 build.

[2020-06-19 07:07] hjkim-MSFT commented on #1042
This doesn't repro locally. Back to you Juan.

[2020-06-19 07:24] hjkim-MSFT commented on #123
A workaround is appending <br> tag to the html input.

[2020-06-19 08:31] calbrecht commented on #1163
This bug manifests, and is easily fixed in

Windows 10: Edge, Firefox
MacOS Catalina: Safari, Firefox
Linux: Firefox

The fix is to give the immediate parent `div.AppsForOfficeReactContainer` of the taskpane iframe the `display: flex` css property.

In `WordEditorWithCloudFonts.css`
[code]

This fix does not break the correct rendering in Chrome and Chromium on any platform.

[2020-06-19 08:38] calbrecht commented on #1163
@AbidRahman-MSFT, how long will this take to land in production?

[2020-06-19 11:06] code9 commented on #1227
Had the same issue using
https://appsforoffice.microsoft.com/lib/1/hosted/office.js

switched to a version at:
https://unpkg.com/@microsoft/office-js/  (ver 1.1.38) and all appears fine.

Found in a similar issue here
https://github.com/OfficeDev/office-js/issues/421

[2020-06-19 11:47] sandeep007bonds opened #1229 "Unable to get token"
Hi,
I have done all the steps but unable to get token.
I am developing Excel add in, I got the login popup only after login a got error "missing grant for this add-in : pre authorization missing "

![image](https://user-images.githubusercontent.com/48192725/85129431-b9a5cc80-b250-11ea-9ab6-3c5583f400d1.png)

Below is the API permission screenshot

![image](https://user-images.githubusercontent.com

[2020-06-19 14:47] malsabbagh opened #1228 "Auth is failing on Mac desktop app because of Office.context is null"
Authentication is failing using officeJS on Outlook Mac.

## Expected Behavior
Office-js-helpers should be able to send the token to the main client after a redirect call from oauth.

## Current Behavior
An exception is thrown in OfficeJS code because Office.contenxt is null. The exception message "DialogError: Cannot close dialog"
PC Desktop and other online browser clients don't have this issue.

[2020-06-19 15:28] TCourtneyOwen commented on #1237
I am seeing my centrally deployed add-in in Office Desktop apps however

[2020-06-19 18:35] malsabbagh commented on #1228
Hi @casieber @Zlatkovsky, I know office-js-helper is deprecated now but is there a planned alternative for it?

[2020-06-19 19:45] Rick-Kirkham commented on #1225
Thanks. Can you reproduce this problem in the Script Lab tool? If so, can you export a gist of the sample that I can use to try and reproduce?

[2020-06-19 19:51] Rick-Kirkham commented on #1229
We have more than one article about single sign-on. Please specify which one you are reading. Thanks.

[2020-06-19 20:00] ghost commented on #1061
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-19 20:00] #1061 closed, assigned to exextoc

[2020-06-19 20:00] ghost commented on #1229
Thanks for your interest in Office Add-ins development! Feedback here is intended for reporting problems with the Office Add-ins *documentation*. Can you please post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag? By posting how-to questions like this to Stack Overflow, you'll not only be able to reach a broader audience of folks who

[2020-06-19 20:13] sandeep007bonds commented on #1229
I was referring the below mentioned article

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-aspnet

[2020-06-19 20:26] Rick-Kirkham commented on #1229
I think the Preauthorization error refers to this step in the article. That's usually what error 13005 refers to as well. (For more information, see [13005](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins#13005).) Please double-check that you carried out this step:
![image](https://user-images.githubusercontent.com/9088056/85177108-412f1380-b230-11ea-

[2020-06-19 21:00] ghost commented on #1216
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-19 21:00] ghost commented on #1229
Thanks for your interest in Office Add-ins development! Feedback here is intended for reporting problems with the Office Add-ins *documentation*. Can you please post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag? By posting how-to questions like this to Stack Overflow, you'll not only be able to reach a broader audience of folks who

[2020-06-19 21:05] sandeep007bonds commented on #1229
I have already done this step

![image](https://user-images.githubusercontent.com/48192725/85179470-b0dbe780-b29e-11ea-9775-08fb360521f1.png)

I dont what I am missing here..

[2020-06-19 21:20] Rick-Kirkham commented on #1229
I'm going to move this to the office-js repo, so the bot will stop closing it.

[2020-06-19 21:21] sandeep007bonds commented on #1229
Thanks

[2020-06-19 21:22] Rick-Kirkham commented on #1229
Why do you have 5 preauthorized GUIDs instead of 4? Where did the GUID that begins df83... come from?

[2020-06-19 21:23] sandeep007bonds commented on #1229
Earlier it was only 4 that mentioned in doc..but when nothing was working and I thought I am missing something so I added the client I'd of register app to test. But nothing work for me

[2020-06-19 21:40] hjkim-MSFT commented on #842
Fixed in 16.0.12412.10000 build.

[2020-06-19 21:40] Rick-Kirkham commented on #1229
Remove that extra preauthorization with the client ID. You don't need to preauthorize your add-in to itself. It's misleading and might cause problems.

But then add a new preauthorization for this GUID: 08e18876-6177-487e-b8b5-cf950c1e598c
See if that fixes it.

[2020-06-20 03:02] Zlatkovsky commented on #1228
@malsabbagh, caseiber had left the company some time ago, and I also left the Office Extensibility team earlier this year.  Tagging @LouMM and @sumurthy , who are the current owners (and who were part of the office-js-helpers deprecation decision)

[2020-06-20 06:12] sandeep007bonds commented on #1229
Remove the client Id and added the GUID: 08e18876-6177-487e-b8b5-cf950c1e598c as per your suggestion, but getting the same error. I want to know what this new guid is all about where it came from.

Please let me know if you want anything from my side.

![image](https://user-images.githubusercontent.com/48192725/85194304-f0c8bc00-b2ea-11ea-88a7-66b1c20c6c29.png)

[2020-06-20 07:56] mdunn416 commented on #1225
Hi here is a gist sample of the complete code. As I mentioned this works fine on smaller docs, but when I try and search large documents for all instances of many words (300+) I run into some kind of issue.

 [https://gist.github.com/mdunn416/88fdef8499265e2ff46190347c7ae1ac](url)

Thanks

[2020-06-21 12:00] ghost commented on #1196
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-21 12:00] ghost commented on #1189
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-21 16:58] dho-caissa commented on #1184
Hi, Is there any update on the 60 seconds timeout rule? We tested Fetch and XmlHttpRequest with the Microsoft sample project (link below). When API takes more than 60 seconds, both methods call failed. thanks
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs

[2020-06-21 21:00] ghost commented on #1201
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-22 02:48] MandytMSFT commented on #1208
@Simplici that may because it's new feature of word online which has not been ON in your env. Seems your scenario will be supported in near future.

[2020-06-22 07:52] fkranenburg commented on #1134
Just did some tests and it looks like this issue is finally fixed!  Thanks, I will close this issue now.

[2020-06-22 07:52] #1134 closed, assigned to exextoc

[2020-06-22 08:34] oyvindo opened #1230 "Office.context.mailbox.item is undefined in ItemChanged after selecting an appointment"
Platform: Windows 10 Enterprise, v1903
OWA and Outlook 365 ProPlus
(https://appsforoffice.microsoft.com/lib/beta/hosted/office.js)

Description:
I'we noticed that appointment messages delays initialization of Office.context.mailbox.item in the itemChangeHandler if args.initialData is not accessed:

[code]
In our case, we only handle regular e-mails.
Scenario is:

1. Select a regular e-mail => Offi

[2020-06-22 09:37] algomaster99 opened #1231 "Event `onDataChanged` doesn't work even after it is registered"
## Expected Behavior
When I change the text inside a content control, the `handler` passed inside `contentControls.items[index].onDataChanged(handler)` should **run**. My code snippet for it.

## Current Behavior
I am able to log `Event handler successfully registered` in the console. But whenever I change text inside the current content control;

![cc](https://user-images.githubusercontent.com/35

[2020-06-22 12:22] Enotsoul commented on #1170
Hi there,

THanks for the reference to enhancedLocation. We've been able to implement a workaround which seems to work in Outlook. Still a  small issue exists on OWA.

It will still require further testing locally after which we'll launch it on our staging and production environments to validate that this does indeed provide a long awaited workaround/fix.

Will keep you posted.

[2020-06-22 12:42] algomaster99 commented on #1231
I had one more question regarding this issue.
In case I am able to detect the event successfully, and then I make a change to any one of the content controls, the handler will attempt to set the new data in the other content controls with similar `tag`/`title`. When the data is changed for other content controls, _I guess_ it will fire up the `onDataChanged` again (since it is attached to all the

[2020-06-22 17:17] Rick-Kirkham commented on #1229
I believe that the new GUID is meant to replace two or more of the original 4, so that preauthorization can be done faster, but I wasn't sure if it had been rolled out yet and it was the weekend, so I thought I'd have you try it. Looks like it did not help, so you can just remove it again.

[2020-06-22 17:20] Rick-Kirkham commented on #1229
@jargil Can you help this customer? He seems to be preauthorized, but he's getting an error that says he is not.

[2020-06-22 18:00] ghost commented on #1223
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-22 18:16] Rick-Kirkham commented on #1225
I've tried with up to 422 words and I've got no errors. I don't see anything visual change in the document, even with very small numbers of words. What should I see if it succeeds?

[2020-06-22 21:10] lindalu-MSFT commented on #1226
HI PM team @sohailzafar @weshi Here's a bug in W/X/P etc. and I'm not sure who to assign to look into this. Please advise!

[2020-06-22 21:15] lindalu-MSFT commented on #1227
@lumine2008 @tutieu Apparently, the new office-js breaks his code. Please advise! Thanks,

[2020-06-22 21:18] lindalu-MSFT commented on #1228
Hi, assigning to the @exextoc Outlook add-ins team to triage! Thanks, lindalu

[2020-06-22 21:29] lindalu-MSFT commented on #1212
@JuaneloJuanelo Hi, is OneNote your area? If not, do you know the correct PM to assign?

[2020-06-22 21:30] lindalu-MSFT commented on #1207
Closing, fixed!

[2020-06-22 21:30] #1207 closed, assigned to nobody

[2020-06-22 21:32] lindalu-MSFT commented on #1213
@dmitriyyepishin Where did you find this broken link?

[2020-06-22 21:40] exextoc commented on #1228
This is already tracked by Bug 1545877<https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_workitems/edit/1545877>: New GitHub Issue [OfficeDev/office-js]: Auth is failing on Mac desktop app because of Office.context is null

From: Linda Lu Cannon <notifications@github.com>
Sent: Monday, June 22, 2020 2:18 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Exten

[2020-06-22 21:53] lindalu-MSFT commented on #1228
@exextoc THANK you for the update.

This is being tracked by internal bug, no date but it is under investigation!

[2020-06-22 22:08] dmitriyyepishin commented on #1213
@lindalu-MSFT Here's how to see the broken link:

1. Open license file in this repository: https://github.com/OfficeDev/office-js/blob/release/LICENSE
2. The license file refers to this link: https://msdn.microsoft.com/en-US/cc300389. This link is broken.

[2020-06-22 22:30] #355 closed, assigned to niteshgolchha85

[2020-06-22 22:42] #770 closed, assigned to niteshgolchha85

[2020-06-22 22:48] #27 closed, assigned to Zlatkovsky

[2020-06-22 22:49] #175 closed, assigned to Zlatkovsky

[2020-06-22 23:00] ghost commented on #1216
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-22 23:00] #1216 closed, assigned to JuaneloJuanelo

[2020-06-22 23:21] sumurthy commented on #1188
I don't know knowledge of how this works. I'm checking with the team on who can address this.

[2020-06-22 23:22] sumurthy commented on #1036
@smaremanda  - could you please take a look at this issue and pass it to the right person?

[2020-06-22 23:31] sumurthy commented on #801
At this point, the CDN inside of China or other protected region is not in-scope. We have this in the backlog - but we don't intend to add local CDN support. The best option would be to periodically get the latest NPM version of Office.js.

[2020-06-22 23:31] #801 closed, assigned to sumurthy

[2020-06-22 23:33] sumurthy commented on #784
This seems to have been addressed by an older fix (I'm unable to track down which exact patch addressed this issue).
Knowing that the issue can't be reproduced, I'll close the issue.

[2020-06-22 23:33] #784 closed, assigned to sumurthy

[2020-06-22 23:36] sumurthy commented on #307
@lliu113 - could we address this? Seems like we made an attempt at this but got closed before we fixed the issue. https://github.com/OfficeDev/Office-Js-Requirement-Sets/pull/64/files

[2020-06-22 23:41] sumurthy commented on #356
No status update yet for this... still in backlog and no ETA yet.

[2020-06-23 02:15] vivagonna opened #1232 "Excel: AccessDenied error with pivotTables.add() method"
Hi team,

I got "AccessDenied: You cannot perform the requested operation." errors when testing my Excel Add-in to add a Pivot Table using Excel Javascript API. The manifest has read and write permission. The sample error also happens within the script lab examples, so I suspect this to be a bug.

`Debug info: {"code":"AccessDenied","message":"You cannot perform the requested operation.","errorLoc

[2020-06-23 05:16] topkoong commented on #784
@sumurthy  I don't think it's fixed as long as this still happens.

[2020-06-23 05:17] topkoong commented on #1220
Any update on this?

[2020-06-23 06:03] sagarpilkhwal commented on #1189
[#1134](https://github.com/OfficeDev/office-js/issues/1134) seems to be fixed for the reporter of the issue but I still haven't received the update, I will close this ticket once I receive the update and confirm its fixed for me.

[2020-06-23 06:35] algomaster99 opened #1233 "Word: binding.getDataAsync is not a function in Word on the web"
## Expected Behavior
I should have been able to successfully get the data associated with the binding according to [this API](https://docs.microsoft.com/en-us/javascript/api/office/office.binding?view=word-js-preview#getdataasync-options--callback-).

## Current Behavior
A `TypeError` is thrown which says "`binding.getDataAsync` is not a function on web version of Word"

## Steps to Reproduce, or

[2020-06-23 08:36] SWei1234 opened #1234 "Outlook: loadCustomPropertiesAsync can't get property saved by mapi"
Why loadCustomPropertiesAsync  can only get empty if the property saved by graph api but graph api can get property saved by 'customProps.set' ?
Just wondering they all saved info to property but can't read each other.
It's by design?

## Expected Behavior
both graph api and office api can read properties no matter which api saved them.

## Current Behavior
We register an app and use it's id on gr

[2020-06-23 09:00] ghost commented on #1173
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-23 09:00] ghost commented on #862
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-23 09:00] ghost commented on #834
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-23 09:00] ghost commented on #123
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-23 09:00] ghost commented on #116
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-23 09:00] ghost commented on #110
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-23 09:26] lumine2008 commented on #1166
Hi @wwy94621 , i would like to share an update: This issue has been fixed in build 16.0.13015.10000, would you please verify it, thanks.

[2020-06-23 09:37] aantimengocom opened #1235 "Setting 'From' address is Office 365 AddIn - Outlook (Web, MacOS, Android etc.)"
Hi,

I am working on an Outlook 365 Office Add In solution where it would be a great enhancement to the functionality and to the end product, if the Office Add-In API could set the ‘From’ address – in the same way as the “To, CC and BCC” is set.

As of now; my findings are; that the current API does not support setting the ‘From’ value on the mailbox items.:
![image](https://user-images.githubuser

[2020-06-23 12:54] sedano commented on #1222
@MandytMSFT do you have any news regarding the issue? When will the updated file be available on the CDN?

[2020-06-23 13:18] xiaochunms commented on #1220
The error message used to indicate some errors in the code. I may suggest to using [Scriptlab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab) and applying the code I shared to have a try then.

[2020-06-23 13:20] jak-hammond opened #1236 "Outlook on Mac: Removing any recipient in on-send hook breaks recipient change event handler in parent task pane"
We have some code that is invoked when the user sends the message. This displays a prompt to the user allowing them to confirm some details and add/remove any recipients as well. We have found an issue where, if they remove all the recipients and then decide to cancel the send, the associate event in the task pane no longer fires.

## Expected Behavior
If all recipients are removed from within the

[2020-06-23 14:19] MandytMSFT commented on #1222
@sedano  i didn't get accurate date from partner team. But i saw the hotfix has been included in next deployment which ideally will be happened in coming days.  Does this block you given debug version works well ?

[2020-06-23 14:19] liamtim commented on #1116
@exextoc Do you have updates here? This functionality had never been an issue up until April this year.

[2020-06-23 14:25] exextoc commented on #1235
@aantimengocom this is not possible today because the add-in might not be installed for the account you're switching to. Changing the "from" address implies that you are switching to a different account. Add-ins that are not installed for an account will not be able to access its emails.

It is possible to change the "from" address _only_ if the add-in is installed for that account as well. Feel f

[2020-06-23 16:54] pbl2108 commented on #1184
@xiaochunms, @RuoyingLiang do you have any update on this? It is really causing us problems.

[2020-06-23 16:58] vivagonna commented on #1227
+1 the same issue.

[2020-06-23 17:49] jak-hammond commented on #1236
A clarification here, it seems that the recipient change notifications are removed when **ANY** recipient is removed from the list, not just removing all of them, I did some more testing and confirmed it is more common than the edge case when all users were removed.

[2020-06-23 17:50] sandeep007bonds commented on #1229
@jargil  Please update..

[2020-06-23 19:08] exextoc commented on #1234
@SWei1234 Could you explain how you're setting custom properties using graph API? Could you post a code snippet?

[2020-06-23 20:07] ElizabethSamuel-MSFT commented on #1237
Transferring to office-js repo to get product team input.

[2020-06-23 20:56] lindalu-MSFT commented on #1201
This issue is fixed by MSAL team. [See this PR](https://github.com/AzureAD/microsoft-authentication-library-for-js/pull/1667). WIth this latest release, the user should be unblocked. – Per Stack, Answered by Outlook Add-ins Team - MSFT Jun 15 at 9:19

[2020-06-23 20:56] #1201 closed, assigned to exextoc

[2020-06-23 20:59] lindalu-MSFT commented on #1232
@vivagonna Can you please provide the steps to repro this bug? You can also try asking this question on Stack Overflow. Assigning this to our Excel team to help you triage this matter. Thanks for reporting!

[2020-06-23 21:02] lindalu-MSFT commented on #1233
@algomaster99 Thanks for reporting this! I've assigned this to the Word feature team to help triage.

[2020-06-23 21:04] #1235 closed, assigned to nobody

[2020-06-23 21:06] vivagonna commented on #1232
Duplicate of #1227

[2020-06-23 21:06] #1232 closed, assigned to lumine2008, tutieu

[2020-06-23 21:10] lindalu-MSFT commented on #1237
@TCourtneyOwen Have you tried asking this question on Stack Overflow? Our dev team monitors questions there (tag with office-js) and you may get an answer quicker there. Meanwhile, if you could kindly provide your exact steps to repro this, along with any errors, that would help me assign this to the right person. Thanks

[2020-06-23 21:13] jargil commented on #1229
@sandeep007bonds - for your screenshot for the "Expose a API" section, could you please show how the top part with the id uri and the scope look like?
Could you also confirm what Office client and what version of Office you're using?

[2020-06-23 21:35] jak-hammond commented on #1236
@lindalu-MSFT going from my previous comment, seeing as you updated the title, after some more testing, it isn't just removing all recipients, but the issue seems to be present when removing any recipient whilst the on-send hook is active causes the event handler to be removed/made inoperable.

[2020-06-24 01:01] aldvintumbelaka opened #1245 "Word: Published Add-Ins not Showing on Word Online Using Edge Chromium if Profile Sync is Turned On"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I'm having issue when with Word Online in Edge Chromium.
It works fine with local manifest, but once it gets deployed in the Office 365, I can't see the Add Ins.
What I notice is, I c

[2020-06-24 01:29] xtianfelix commented on #1245
I notice that under an unsyced edge chromium profile, this api call in network tab returns list of add-in that is installed on the tenant.
```https://auc-word-edit.officeapps.live.com/we/AddinServiceHandler.ashx?action=getAddIns&....```
there are 2 POST requests that has different payload. First one has empty ```authorizationCode``` and ```refreshToken```.
![image](https://user-images.githubuserco

[2020-06-24 04:00] amelehy commented on #1173
Apologies for the delay @hjkim71. I've gathered some more details about the environment. The client is using a "Cloud Desktop" service called ProZone via this IT firm: https://www.procirrus.com/

When launching Word from within ProZone, Citrix viewer is launched (details in the attached screenshot). Are there other specific details that would be helpful to know?
<img width="312" alt="Screen Shot 2

[2020-06-24 06:43] wwy94621 commented on #1166
My office 365 can only update to 16.0.12827.20200, will check it once I upgrade to 16.0.13015.10000
Many thanks

[2020-06-24 06:46] davyarris commented on #1146
I would like to please request that this issue is reopened considering that the linked issue has not been resolved.

### Summary
[**Office.context.mailbox.item.getSharedPropertiesAsync**](https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-1.8#getsharedpropertiesasync-options--callback-) method returns an instance of [**Office.SharedProperties**](https

[2020-06-24 06:59] topkoong opened #1238 "Disabling/Enabling Commands add-in for button or menu item in Office 365 Online (Excel) is not working as expected. (Preview)"
I have used the preview version of the Office JavaScript API library from the Office.js CDN. https://appsforoffice.microsoft.com/lib/beta/hosted/office.js in the index.html and created <Runtimes> element as the first child under the <Host> element in the VersionOverrides section where it has <Runtime resid="Contoso.SharedRuntime.Url" lifetime="long" /> as a child element of <Runtimes> element.

Al

[2020-06-24 07:01] topkoong commented on #1220
@xiaochunms I've used a sample code generated by Yeoman https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows and only modified this function. I would greatly appreciated if you could provide a repo/code sandbox for this.

[2020-06-24 07:57] MandytMSFT commented on #1222
@sedano  The new office js has been deployed 8 hours ago , you can have a try to see if it works.  Note that the CDN cache may take time to update.

[2020-06-24 08:00] sandeep007bonds commented on #1229
Hi @jargil,

Please find the attached screenshot.

I am using office 2016.

![image](https://user-images.githubusercontent.com/48192725/85519251-d3635d00-b61e-11ea-924c-e7c24aeec477.png)

[2020-06-24 09:16] vschaeidt commented on #1163
With the new Edge Browser Release (Version 83.0.478.54) on Windows, the Scrollbar has disappeared in the Browser (Edge), as well as the Word client.

So the Issue does just remain on FireFox, Safari, and the Word client on MacOS.

[2020-06-24 09:23] MandytMSFT commented on #1233
@algomaster99  The issue can't repro on my side, could you help try again ? Whenever i change the text, the handler can execute successfully. Our CDN has some known issue these days, that may be related. We just rolled out a new version today

![image](https://user-images.githubusercontent.com/52641972/85528845-03225d00-b63f-11ea-9dde-75a3557d9fa8.png)

[2020-06-24 10:21] topkoong commented on #1238
I have also tried sample code from the following repo: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario, but the buttons and menu items are still enabled.

[2020-06-24 10:53] Borgquite commented on #982
Have just tried the following to resolve, no luck though:
1) Clearing IE and Edge browser cache, history, cookies etc
2) Recreating Outlook profile
3) Running dism /online /Cleanup-Image /restorehealth
4) Running sfc /scannow

[2020-06-24 11:03] algomaster99 commented on #1233
@MandytMSFT I tried on `ScriptLab` only. Can you please share the CDN link with me?
I was currently using the [preview version](https://appsforoffice.microsoft.com/lib/beta/hosted/office.js).

Can you instead open the browser developer tool? The error is being logged there.
![error](https://user-images.githubusercontent.com/35191225/85554039-269ad700-b642-11ea-8f95-5c6d0d85059c.PNG)

What actually

[2020-06-24 11:32] exextoc commented on #714
Hi, this is a known issue and is in our backlog. We will update this thread once it is fixed, but do not have timelines to share at this point.

[2020-06-24 13:10] lumine2008 commented on #1232
It seems i cannot repro it, could you please share more information, repro steps, sample code? Thanks

[2020-06-24 13:12] lumine2008 commented on #1227
@code9 , @vivagonna , I have tried on my Desktop/Mac and Excel online, it seems not repro, would you please share your sample code to us? thanks.

[2020-06-24 13:51] vivagonna commented on #1227
@lumine2008 I am using the example code in this doc to create a pivot table https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-pivottables. @code9 is right, this issue happens with the version on official CDN https://appsforoffice.microsoft.com/lib/1/hosted/office.js , switching to older version mitigate this issue.

[2020-06-24 13:56] bx-anil commented on #1193
Reopening this for tracking even though this is a duplicate

[2020-06-24 13:57] exextoc commented on #1236
Hi @jak-hammond, we are able to reproduce this issue on Mac. Thanks for reporting this bug. We have added it to our backlog and will work towards fixing it. We'll update this thread when it is fixed, but unfortunately do not have any timelines to share at this point.

[2020-06-24 13:57] #1236 closed, assigned to exextoc

[2020-06-24 14:00] ghost commented on #1196
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-24 14:00] #1196 closed, assigned to exextoc

[2020-06-24 14:44] exextoc commented on #1116
Hi @liamtim , unfortunately support for getSharedPropertiesAsync has still not rolled out to Insiders. We are working on rollout, but cannot share timelines at this point. Thank you for your patience. We will update this thread once it is available.

[2020-06-24 15:02] exextoc commented on #1228
Hey @malsabbagh we are unable to reproduce this on Outlook Mac on the latest build. Could you provide a link to your add-in manifest for us to test, with instructions to reproduce the same?

[2020-06-24 16:45] exextoc commented on #1230
@oyvindo we are unable to reproduce this on OWA. Is it possible to share a video / screenshots of what exactly you're doing to reproduce the problem (for each step)? What do you mean by "appointment message" - do you mean a meeting request?

[2020-06-24 17:47] exextoc commented on #1224
@GeoffreyYue1 we aren't able to reproduce the issue. Can you tell us how you're checking whether the custom properties have been saved on the item? Are you checking using the add-in or on Exchange? Can you show us a code snippet of the REST call you're making?

[2020-06-24 18:26] pkkj commented on #1238
Hi @topkoong , would you like to provide more information about the environment (like platform, Excel's checkpoint, etc). Thanks.

[2020-06-24 19:18] jargil commented on #1229
@sandeep007bonds - the scopes uri is cut in the screenshot, what's the full string?
Could you also be specific about what Office version?  See this: https://support.microsoft.com/en-us/office/about-office-what-version-of-office-am-i-using-932788b8-a3ce-44bf-bb09-e334518b8b19

[2020-06-24 19:33] topkoong commented on #1238
@pkkj When I tried the sample code from the following repo: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario from Office 365 Insider Fast Version for Mac (‎Microsoft Excel on the Mac), disabling menu items on page load works perfectly fine. However, when I did the same thing on Office 365 Online through Chrome browser, it doesn't work.

I was wonderin

[2020-06-24 19:53] sandeep007bonds commented on #1229
@jargil Please find the screenshot for office version and scope uri.

![image](https://user-images.githubusercontent.com/48192725/85621173-77322480-b682-11ea-8c13-2b8c69796d05.png)

![image](https://user-images.githubusercontent.com/48192725/85620998-36d2a680-b682-11ea-8a78-e710a8ba817e.png)

[2020-06-24 20:46] JackyChen200304 commented on #1238
@topkoong , thanks for helping previewing our feature and provide us the feedback. I assume you are using O365 Online production environment which Single-line ribbon is not enabled yet.

There are several depends for Add-in Commands enable/disable feature, please checkout the preview technical documentation for more detail information about the requirements [https://docs.microsoft.com/en-us/office

[2020-06-24 20:59] sohailzafar commented on #1148
I got a chance to think through your scenario. The behavior you currently see id because one task pane is opening up in shared runtime and the other task pane opens up in regular runtime which does not support enable/ disable button, because it is a different URL. The recommendation is to use a single URL and then use some sort of query string parameter or other single page app model. The followin

[2020-06-24 21:36] jargil commented on #1229
@sandeep007bonds - thanks. The scope looks good. The second screenshot unfortunately missed the version details which should be right below the Updates, could you please paste that part?

Next set questions would be:
- How are you deploying this add-in to this machine?
- Could you please also share the full code snippet that calls the getAccessTokenAsync API? I'm interested in seeing what paramete

[2020-06-24 22:03] malsabbagh commented on #1228
Hey @exextoc, oddly enough I can't reproduce it anymore. We had this issue with a few individuals. But I have followed up with them and it seems the issue is no longer reproducible on their end. One individual reported the issue being cleared after a reboot (not sure if this has anything to do with the issue). OfficeJS code was not modified for any of the individuals who reported the issue.

The i

[2020-06-24 22:25] jonmoshier opened #1239 "Outlook desktop client - Add in instances freeze after first add in instance is pinned"
## Expected Behavior

Add in instances should be responsive to user input.

## Current Behavior

Add in is not responsive to user input.

## Steps to Reproduce, or Live Example

Using Script Lab add in:

1. Open outlook desktop client.
2. Go to inbox and select an email.
3. Open the Script Lab add in.
Addin State: Loads and is responsive to user interaction.

4. Pin add in.
5. Click Reply on email

[2020-06-24 23:29] lindalu-MSFT commented on #1228
@malsabbagh Thanks for the detailed response so we have a better understanding what happened to you. I will close this issue, but feel free to reopen if you experience it again!

[2020-06-24 23:29] #1228 closed, assigned to exextoc

[2020-06-25 00:10] davyarris opened #1240 "Calls to Office.context.mailbox.item.getSharedPropertiesAsync returns successfully but the targetRestUrl is absent"
## Expected Behavior
[**Office.context.mailbox.item.getSharedPropertiesAsync**](https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-1.8#getsharedpropertiesasync-options--callback-) method returns an instance of [**Office.SharedProperties**](https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-1.8) that contain

[2020-06-25 00:12] exextoc commented on #1239
Thanks for including the video. I cannot repro so far, following your exact steps.
Could you also include you Windows 10 version? Reason I ask is to confirm whether you are using the Edge WebView control, info here: https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/

[2020-06-25 01:10] jonmoshier commented on #1239
@exextoc

My system, from System Information:

[code]

Also, our add in users use Outlook Desktop Client, we don't have control over their platform or version. Thank you!

Thanks for the link, I believe I'm running as a non-subscription user and just saw this bullet in the article.

[code]

I'll retest this as a subscribed user.

[2020-06-25 03:16] topkoong commented on #1238
@JackyChen200304  Thank you for the reply. I'm not sure if I understand single-line ribbon correctly. Apart from UI, what's the difference between single-line ribbon and the traditional UI? I was wondering if you could elaborate more on this.

Also, I have checked the sample code from Microsoft, and looks like it uses the preview version of the Office JavaScript API library from the Office.js CDN

[2020-06-25 06:48] intellectyxArria opened #1241 "Excel: Download in Chrome triggered from excel does not work"
## Issue
Hello every one I just found out that chrome has depreciated download triggered from iframes or sandbox. because of this any download's I trigger does not work as expected inside excel add-in ( Only in chrome ). I found this issue while developing an excel add-in, but it is possible to occur in other MS applications as well ( like powerbi ).

`window.open('*url to my file*', 'Download');`

[2020-06-25 07:24] exextoc commented on #1161
Closing this, we will track this with https://github.com/OfficeDev/office-js/issues/1240

[2020-06-25 07:24] #1161 closed, assigned to exextoc

[2020-06-25 07:30] exextoc commented on #1240
Hi @davyarris , we are unable to reproduce this on outlook.office.com. This seems to be very account-specific. Is it possible to get a test account for which you're experiencing this issue, so that we can reproduce it on our end?

[2020-06-25 07:35] exextoc commented on #1127
@PavelKrupski we are unable to reproduce this issue, is it possible to provide your add-in manifest to us so we can check what the root cause is?

[2020-06-25 07:49] davyarris commented on #1240
Hmmm, I am using my own MS account atm. I guess I could look at getting a test account set up... It might be best for me to see if others in my org are experiencing the same problem. seems unusual.

[2020-06-25 07:51] davyarris commented on #1240
I wonder does the value usually returned by this property usually just return the Outlook REST API base URL - https://outlook.office.com/, even in situations where you are accessing on-premises?

[2020-06-25 10:08] davyarris commented on #1240
Hi @exextoc

As it turns out this was my bug. Massive apologies for wasting your time :|

Regards

Dave

[2020-06-25 11:43] 1001QAdotNET commented on #1209
OK so you guys closed this 15 days ago, My question has been sitting on StackOverflow for much longer than that. Any chance this could be looked at ?

[2020-06-25 12:33] sedano commented on #1222
@MandytMSFT We tested today and everything is working fine. Thank you for your help.

[2020-06-25 12:34] #1222 closed, assigned to sumurthy, lumine2008

[2020-06-25 14:47] Murugananths commented on #1148
@sohailzafar ...Thank you for the update but already i referred the sample provided you.
1) To achieve the scenario we have to merge all functionalities of other taskpane's  into one taskpane (taskpane.html in our sample).
2)  But in this case we have to get the button id of commands from manifest file to taskpane.html  (ShowTaskPane method) but i could not find the option for the same that how wo

[2020-06-25 16:26] nikhileshcs commented on #1172
@exextoc Facing few more issues

**Environment**
Platform : Mac
Host : Outlook Desktop Version

Current Outlook Version in use:
![Screenshot 2020-06-25 at 9 52 27 PM](https://user-images.githubusercontent.com/14127053/85758728-35f74e80-b72e-11ea-9cec-7fb28487d2fe.png)

Permission Set: `<Permissions>ReadWriteMailbox</Permissions>`

[code]
callback is receiving error: **Internal Error with code as 5

[2020-06-25 17:37] #1223 closed, assigned to nobody

[2020-06-25 17:54] sandeep007bonds commented on #1229
@jargil Please find the attached complete screenshot

![image](https://user-images.githubusercontent.com/48192725/85772146-31389780-b73a-11ea-9b40-6fc6979de2c0.png)

And answers to your questions are:

1. Add in is under development so we are using localhost..

2. I am using below code..
`async function getToken() {
    var returnObject;
    Office.context.auth.getAccessTokenAsync(function (result

[2020-06-25 17:56] sandeep007bonds commented on #1229
@jargil FYI I am able to see the authentication popup where I can put username and password after that I get the error.

[2020-06-25 18:03] lindalu-MSFT commented on #1142
@PrashSMSFT Hi, can you assist with this issue or assign it to someone on the OneNote area crew to help? Thanks much

[2020-06-25 18:06] #862 closed, assigned to nobody

[2020-06-25 18:28] jargil commented on #1229
@sandeep007bonds - thanks for the responses!
For 1 above, I was asking about how you're deploying your add-in to Office, e.g. are you sideloading? How? Are you Centrally Deploying?

For the API call, could you try calling with these AuthOptions and let me know what you see?
{ allowConsentPrompt: true, allowSignInPrompt: true }
The first one, allowConsentPrompt should make Office show a dialog wher

[2020-06-25 18:34] sandeep007bonds commented on #1229
@jargil I am using sideloading..and I have tried auth options too.. was getting the same error. I am trying this again and update you in few minutes.

[2020-06-25 18:46] #110 closed, assigned to hjkim-MSFT

[2020-06-25 18:46] sandeep007bonds commented on #1229
@jargil thanks for your help, now its working after adding this 2 auth options.

I was referring [https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-aspnet](url)

where { allowSignInPrompt: true, forMSGraphAccess: true } are mentioned not the "allowConsentPrompt: true" tha was confusion.

But thanks alot for your help.

[2020-06-25 18:47] #834 closed, assigned to shaofengzhu

[2020-06-25 18:48] #1172 closed, assigned to nobody

[2020-06-25 18:49] jargil commented on #1229
Thanks for the update, @sandeep007bonds

That's useful feedback for our samples.

[2020-06-25 18:49] #1229 closed, assigned to jargil

[2020-06-25 18:54] lindalu-MSFT commented on #86
No recent activity so closing this issue. Please feel free to reopen if you still need assistance!

[2020-06-25 18:54] #86 closed, assigned to shaofengzhu

[2020-06-25 18:54] nikhileshcs commented on #1172
@lindalu-MSFT Any reason for closing this issue? Do i need to open a new issue?

I see the above error mentioned by me is valid and it is reproducible easily in Mac Systems Outlook Desktop Version.

[2020-06-25 18:59] lindalu-MSFT commented on #199
@Rick-Kirkham I'm tracking down issues with no recent activity and was wondering if this was ever determined to be a doc issue or a bug? Can we close this? Assigning to you to determine the next step. Feel free to close or reassign.

[2020-06-25 18:59] jonmoshier commented on #1239
I retested this as a subscribed user and it is still an issue. Happy to provide any other info you need.

[2020-06-25 19:01] lindalu-MSFT commented on #289
@macOutlookExtensibility @exextoc Is there any resolution to this matter? Otherwise I'll close since there's no recent activity or follow-up.

[2020-06-25 19:04] sumurthy commented on #1188
@Kindyr, after talking to the experts, it looks like the best approach here is to remove the registry key (Assuming this is on Windows OS). The registry key to look at is HKEY_CURRENT_USER\Software\Microsoft\Office\16.0\WEF\developer and there will be sub keys for each add-in. Please try deleting the sub-key and see if this resolves the issue.

[2020-06-25 19:05] lindalu-MSFT commented on #23
@wandyezj Can you follow up and let us know if this is in the backlog or if there's a fix?

[2020-06-25 19:06] nikhileshcs opened #1242 "Error while setting Internet Headers on ComposeItem - Outlook"
## Expected Behavior
Internet headers should be set without errors in MacOS Outlook Desktop Version

## Current Behavior
Trying to set the Internet Header is throwing Internal Error with code: 5001

## Steps to Reproduce, or Live Example

* Open a New Email Compose Window
* Try to set a Internet Header from any Add-in
* Additional details:
  1. This issue is reproducible in the MacOS Outlook Deskt

[2020-06-25 19:08] nikhileshcs commented on #1172
I've raised a new issue for this. Thank you

[Error while setting Internet Headers on ComposeItem - Outlook #1242](https://github.com/OfficeDev/office-js/issues/1242)

[2020-06-25 19:31] #199 closed, assigned to Rick-Kirkham

[2020-06-25 19:58] trmccann-fv commented on #1239
I wanted to share some additional information.  Using Microsoft Outlook for Microsoft 365 MSO (16.0.12827.20328) 64-bit, I am able to reproduce the issue following the same steps as @jonmoshier.  Further, I am able to reproduce the issue using other add-ins, here's an example of the problem with Salesforce.

[Salesforce-add-in.zip](https://github.com/OfficeDev/office-js/files/4833535/Salesforce-ad

[2020-06-25 20:16] lindalu-MSFT commented on #1172
@nikhileshcs This was closed because the outlook engineering team tagged as FIXED. They noted that it will take a week to roll out the fix.

[2020-06-25 20:18] lindalu-MSFT commented on #1242
@nikhileshcs Per previous [issue 1172](https://github.com/OfficeDev/office-js/issues/1172), this has been fixed and will be 100% rolled out to prod.

[2020-06-25 21:57] bx-anil opened #1243 "Outlook add-in to Graph API"
We plan to use Graph API from Outlook add-in with scopes limited to calendar api (shared calendars) . How best to deal with auth.
 I have seen the documentation and there seems to multiple options. Can you suggest a best way with least user inputs.

Tag your question with office-js or outlook-web-addins

[2020-06-26 05:11] hdkdinh commented on #1155
We added permission and granted tenant-wide admin consent by application administrator from App Registrations on Azure portal. But future user still need accept again permission request. Do global admin (in client side) need to add permission and granted tenant-wide admin consent by themselves?

[2020-06-26 05:53] nikhileshcs commented on #1172
@lindalu-MSFT @exextoc The issue mentioned by me and the earlier reported are different. Can you please ask outlook engineering team to look into this?

[2020-06-26 05:53] nikhileshcs commented on #1242
@lindalu-MSFT @exextoc The issue mentioned by me and the earlier reported are different. Can you please ask outlook engineering team to look into this?

[2020-06-26 11:00] ghost commented on #123
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-26 11:00] #123 closed, assigned to JuaneloJuanelo

[2020-06-26 11:00] ghost commented on #116
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-26 11:00] #116 closed, assigned to JuaneloJuanelo

[2020-06-26 16:04] nikhileshcs opened #1244 "Outlook: Desktop Version is using different internetMessageId after the mail is composed and sent"
## Expected Behavior
InternetMessageId should be same after sending the email in the Outlook Desktop Version in MacOS.

## Current Behavior
Currently the InternetMessageId is changed after the mail is sent in Outlook Desktop Version.

## Steps to Reproduce, or Live Example
1. Setup sample Add in in MacOS Desktop Outlook Edition. Execute the following code

[code]

2. Now compose the mail and send

[2020-06-26 18:36] exextoc commented on #1243
By least user inputs, I assume you want to minimize prompts for auth. If your addin is also meant to work with shared calendar, following https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access should do what you want. If this does not seem to fit your scenario, could you expand and perhaps go into the operations you are planning to do with the Graph API?

I also notice that yo

[2020-06-26 18:53] bx-anil commented on #1243
Thanks for the prompt response.
Yes. We are exploring if Graph API will be good enough to cover the short comings because of the issue #1193 . Any by user inputs I mean, no consent page/login page when connecting to graph API . Please let me know if you have any suggestions

[2020-06-26 21:00] ghost commented on #1225
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-26 21:38] ElizabethSamuel-MSFT commented on #1245
@aldvintumbelaka @xtianfelix Thanks for letting us know about this. Transferring to the office-js repo so the product team can take a look.

[2020-06-26 22:57] exextoc commented on #1239
You should be on edge webview based on the versions of Outlook. I have also attempted a repro with 16.0.12827 and I don't see the freeze so far. How widespread or roughly how many users are seeing this? Could you try attaching a debugger to see if there are errors reported in the addin? https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-1

[2020-06-26 23:09] exextoc commented on #1243
An alternative is to use https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins. Note that it is still in preview. If you are using central deployment, the admin consent is granted and user should not see consent page. You will also have to create a AAD app with the calendar share graph scope (and other scopes if any) that you need for the graph API

I am also adding a n

[2020-06-26 23:15] exextoc commented on #1193
I noticed the discussion is based on centralized deployment. I just want to make sure the issue is indeed duplicate. Does your addin work fine if the addin is user installed (not installed via centralized deployment)?  Would user installation be an acceptable deployment method for the short term until this issue is fixed?

admin can use new-app -mailbox https://docs.microsoft.com/en-us/powershell/

[2020-06-27 04:50] rkw6086 opened #1246 "Word: Office.context.ui.displayDialogAsync callback's Dialog is an empty object on Mac using Latest Version"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Noticed today while testing out my plug-in on Mac using the latest version of Microsoft Word Version 16.38 (20061401), that when I try to hook up addEventHandler from the asyncResult

[2020-06-27 21:15] sanjaygovindan commented on #1227
Hi just confirming, had the same experience as  @vivagonna  & @code9, in both problem and workaround.

New office update came through last night. Version 2005. Build 12827.20336 Click-to-run. Cleared add in cache, and away we go!

It now looks like I am able to use the Add pivot function again, although slight bug with this as it doesn't allow me to use a table class as the source.

[code]

Get th

[2020-06-28 00:00] ghost commented on #1237
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-28 01:31] SWei1234 commented on #1234
@exextoc  Sorry for misleading. The property is saved by mapi. And can be successfully read by graph api.
But loadCustomPropertiesAsync  can only read empty result.
If necessary I can provide mapi save code.

[2020-06-28 11:06] bx-anil commented on #1193
We haven't tested on user deployment. Though the app works locally (dev env) it should most likely work for user deployment as well. We will give it a try.

[2020-06-28 12:40] lumine2008 commented on #1241
It looks like UX related issue, so let me re-direct to @lliu113

[2020-06-28 16:03] davyarris commented on #1240
Re-opening issue... Seems like it is still a problem:

![image](https://user-images.githubusercontent.com/59075773/85952441-a90df880-b9ac-11ea-833b-667dcfb24a24.png)

[2020-06-28 18:00] ghost commented on #1224
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-29 03:12] GeoffreyYue1 commented on #1224
As you can see from the description, we have the repro code below
When we run it in O365 OWA, there is no issue on the current user's Calendar, but in Shared Calendar, there is no value when I get the saved property.

[code]
When we run the repro code twice in the current user‘s Calendar, Console log output is:

[code]

When we run the repro code twice in the shared calendar, Console log output is

[2020-06-29 06:03] davyarris commented on #1240
Some further curious information is that:

When accessing email from https://outlook.office365.com/ then targetRestUrl returns as expected: "https://outlook.office.com/api"
but when accessing from https://outlook.office.com/ then targetRestUrl is undefined.

[2020-06-29 07:04] Premsagar-lab opened #1247 "Outlook: Onsend addins not invoked in multiple scenarios"
Following are cases where onsend addin is not invoked.
a.	Responding a Meeting with Accept or Tentative or Decline option.
b.	Responding a Meeting through RSVP option in OWA
c.	Forwarding a Meeting through Calendar Pane
d.	Content of Word document is selected and shared as HTML document through Mail. (Option to share in MSWord – File -> Share-> Send as HTML)
e.     OWA meeting invite does not get

[2020-06-29 07:17] zjomzjom commented on #771
Hi @lumine2008, could you tell me the status of this task? When you plan to release the bugfix?

[2020-06-29 07:58] d-franklin commented on #1239
I've also experienced the same issue, version Microsoft Outlook for Microsoft 365 MSO (16.0.12827.20328) 64-bit on Widnows 10.

I initially put the issue down to the VM software (KVM/QEMU) I was using, since the issue only manifested for me when running office inside it and I don't have the issue running the same version of office on bare metal or in VMWare.

But based on other peoples experience

[2020-06-29 08:12] Premsagar-lab opened #1248 "Outlook: Office.context.mailbox.item.body.getAsync() does not provide email body correctly in text format. In html format it returns differently on OWA and Client."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Body is retrieved using or written office JS Api
Office.context.mailbox.item.body.getAsync(coercionType, options, callback)
Coercion type can be either text or html.
When User edits e

[2020-06-29 09:00] ghost commented on #1230
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-29 09:05] Premsagar-lab opened #1249 "Outlook: User is able to edit the email after sending till OnSend Addin is working"
OnSend addin is invoked when user tries to send email. OnSend addin tries to fetch data from compose mail using Office JS API which works asynchronously. In the mean time on main thread user is able to edit the email.
Because of this OnSend addin worked on old body and updated email is sent through email

### Steps to reproduce issue:
1. Launch outlook and start composing email
2. Add few attachme

[2020-06-29 09:47] clavx opened #1250 "Outlook: emailAddress property returns LegacyExchangeDN format"
The emailAddress property of Office.From is returned in LegacyExchangeDN format instead of SMTP email address.

## Expected Behavior

The Office.From emailAddress property is set to the SMTP email address.

Office.EmailAddressDetails interface
https://docs.microsoft.com/en-us/javascript/api/outlook/office.emailaddressdetails?view=outlook-js-1.8#emailaddress

## Current Behavior

The Office.From em

[2020-06-29 10:08] Premsagar-lab opened #1251 "Outlook: Onsend addin is not invoked for mails sent with Do not forward option"
## Expected Behavior

Onsend Addin should be invoked for Do not forward mails

## Current Behavior

## Steps to Reproduce, or Live Example

1. Configure certificates for encryption.
2. Open a new mail window and draft a mail.
3. Go to Draft->Encrypt and select Do Not Forward option.

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop,

[2020-06-29 11:27] Premsagar-lab opened #1252 "Outlook: Office JS API to retrieve mail body does not return entire email thread when mail is replied in OWA"
OWA has option to reply or reply to messages in email reading window.
When we reply or reply all using this option, the mail thread is not loaded in compose window till ellipsis option is selected by user.
If the user edits the email and new content is added with ellipsis not selected then getAsync api for body only returns new content. Previous email body are not returned.

## Expected Behavior

[2020-06-29 17:05] exextoc commented on #1170
Do you have more info about the small issue in OWA? Or is that an issue to be discussed in a new post?

[2020-06-29 17:37] Murugananths commented on #1148
@sohailzafar ... I tried with single task pane url as sample and enable/disable of commands working fine. But below are the other issues am facing.

1) Once Clicks login button enabled the ribbon commands whatever set to disabled.
2) But in that scenario if again i clicked Login button the page not getting reloaded and idle.
3) Even not sure how to use query string to distinguish single url for mu

[2020-06-29 19:47] exextoc commented on #1251
This is currently intended behavior. No add-ins run (onsend / taskpane / executefunction etc.) when DRM is enabled on an email for security reasons.

[2020-06-29 20:22] lindalu-MSFT commented on #1247
Hi @Premsagar-lab In order for us to triage this issue, we need more repro steps and additional details. Do you have any of the useful log files?

[2020-06-29 20:25] lindalu-MSFT commented on #1249
Hi @Premsagar-lab Please provide repro steps, files, platform details, screen shots, whatever you can so we can triage this issue!

[2020-06-29 20:27] lindalu-MSFT commented on #1250
@clavx Can you please provide your files or screen shots so we can test your repro steps?

[2020-06-29 20:30] lindalu-MSFT commented on #1251
Because this is **resolution: by design**, closing this issue.

[2020-06-29 20:30] #1251 closed, assigned to exextoc

[2020-06-29 20:37] lindalu-MSFT commented on #805
Closing issue **resolution: by design**. Please feel free to reopen if you have questions.

[2020-06-29 20:37] #805 closed, assigned to lliu113

[2020-06-29 20:41] lindalu-MSFT commented on #1054
@lumine2008 Hi Raymond, can you shed any light on this issue?

[2020-06-29 20:46] lindalu-MSFT commented on #394
@weshi What are the size limitations for Office online? We need to have the doc team add this info. Please let me know how to follow up with this issue.

[2020-06-29 21:00] ghost commented on #1127
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-29 23:00] ghost commented on #1225
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-29 23:00] #1225 closed, assigned to Rick-Kirkham

[2020-06-30 06:46] intellectyxArria commented on #1241
Hello team the issue seems to be fixed now. Thanks for the effort

[2020-06-30 06:46] #1241 closed, assigned to lliu113, lumine2008

[2020-06-30 10:10] d-franklin opened #1253 "Outlook OWA pinned task pane does not navigate to correct url based on mode"
When replying to an email in OWA, the pinned task pane loads the "edit mode" url, but when clicking the discard button the url does not change back to the "read mode" url. This only occurs when replying to an email, if creating a new email, it functions as expected.

## Expected Behavior
The url should change to reflect what action the user is currently taking, edit or read, as it does on the desk

[2020-06-30 15:48] pbl2108 opened #1254 "Excel Custom Functions: API Calls Timing Out After 60 Seconds [DUPLICATE]"
Hi office-js Team and Contributors,

I apologize in advance for creating a duplicate bug report that already described here https://github.com/OfficeDev/office-js/issues/1184.

It is a show stopper for our Excel custom function production application. We have reported this issue twice, the first time on Jan 13, 2020 (https://github.com/OfficeDev/office-js/issues/934 and https://github.com/OfficeDe

[2020-06-30 16:53] Murugananths commented on #1148
Hi Team... Have you had a chance looking into this scenario?

[2020-06-30 18:46] lindalu-MSFT commented on #1254
Hi all @keyur32 @sumurthy @lumine2008 @tutieu Can we escalate this? The customer has already opened two issues previously, none of the suggested workarounds work and he is blocked. Thanks in advance.

[2020-06-30 19:36] exextoc commented on #1250
Hey @clavx ,

Are you seeing this issue only on Outlook for Windows (Desktop)?

Can you also provide the email that you are getting and that you are expecting?

[2020-06-30 20:13] exextoc commented on #1247
Hey @Premsagar-lab ,

Scenarios (a) and (b) are known scenarios that we do not support OnSend add-in execution on currently.
Scenario (c) is something we might have to reconsider, thank you for reporting this issue. Scenario (d) is a little unclear to me, which Word client (Desktop/Mac/web) are you using and which app are you using to send the final email? OnSend add-ins are not supposed to run ou

[2020-06-30 20:18] exextoc commented on #1234
Hey @SWei1234 ,

Sure, can you go ahead and provide us the Mapi save code that you're using? This will help us look into this issue better.

[2020-07-01 02:00] ghost commented on #1237
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-01 02:00] #1237 closed, assigned to nobody

[2020-07-01 06:00] Premsagar-lab commented on #1247
## Scenario D:
Onsend addin is not invoked when HTML content is shared by MS Word application on mac through Micorsoft Outlook for mac.

### Setup Details:
Machine - MacOs 10.14
Application - Microsoft Word for mac
Email Application - Microsoft Outlook for mac
 

Here Outlook Addin is not available to execute.

### Steps to Reproduce:
1. Open macOS Mail Preference - General - Select Default Email

[2020-07-01 13:06] clavx commented on #1250
@lindalu-MSFT

<img src="https://user-images.githubusercontent.com/58804032/86246271-b3670700-bbe5-11ea-99b7-8f4eb0a4ee2d.gif" width="600" />

@exextoc

Yes, this occurs in Outlook for Windows (Desktop).

Where should I provide it?

[2020-07-01 15:33] salmanansari-gep opened #1255 "Word: Office.context.ui.displayDialogAsync is not working in IE 11"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are trying to preview some data in display popup using Office.context.ui.displayDialogAsync, this is working fine in Chrome browser but not working in IE 11

## Expected Behavior
D

[2020-07-01 18:49] lindalu-MSFT commented on #1217
Hi @1001QAdotNET, I verified with the OneNote PM that on OneNote or any other Office canvas, you cannot modify the page indentation with office.js currently. You can always suggest this feature at [UserVoice](https://officespdev.uservoice.com/)!

[2020-07-01 18:50] #1217 closed, assigned to PrashSMSFT

[2020-07-01 19:28] jargil commented on #1100
Thanks for reporting this. I've fixed this on Office builds 16.0.13001 and newer.

[2020-07-01 19:28] #1100 closed, assigned to jargil

[2020-07-01 20:30] exextoc commented on #1253
Hey @d-franklin ,

The add-in ideally should only be pinned for one mode, and from switching away from Compose, the add-in should close. That being said, I understand the issue here since the add-in is not being refreshed on closing the reply mode. We have added this to our backlog and we will fix it, however we have no timelines to share at this point.

[2020-07-02 01:20] exextoc commented on #1250
I am able to repro this issue *only* if you use the "resend" feature in Outlook. I have opened a bug on the backlog of the product team, but I have no timelines to share at this time.

Does this match your repro steps? (You only repro this if you resend the email?)

Is this a normal scenario for your customers/app users? (resending emails from sent items?)

[2020-07-02 02:01] RuoyingLiang commented on #1184
The issue is under investigating. @shaofengzhu , could you help to update the thread once there are more information?

[2020-07-02 10:09] algomaster99 commented on #1233
@MandytMSFT Hi! Were you able to reproduce the bug? Please help me out :)

[2020-07-02 11:00] ghost commented on #1230
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-02 11:00] #1230 closed, assigned to exextoc

[2020-07-02 16:26] rkw6086 commented on #1246
@weshi @lindalu-MSFT

Any updates on what's going on with this?

[2020-07-02 16:32] Murugananths commented on #1148
Hi Team,

Based on sample provided tried below work around.

I have Login command (ExecuteFunction ) and logout command(Execute function)

1) Initially when I am clicking Login Command i was able to enable the commands which are disabled and open the taskpane with respective commands's event id using Office.addin.showAsTaskpane.
2) But if i am trying to click the same Login command or any of other

[2020-07-02 21:28] exextoc commented on #1244
Hey @nikhileshcs ,

Sorry for the late response, but unfortunately, we are unable to reproduce this issue. When we execute the code that you have provided, the internetMessageId in the response text is the same as that is later in the sent email. The only difference is that the internet message Id in case 1 is enclosed within angular brackets. Are you seeing a completely different identifier altog

[2020-07-02 22:49] exextoc commented on #1239
Unfortunately we haven't been able to repro this in-house. (nor find any known issue that is related to this). Any additional information that can be provided may help us track this down. Does this repro across many of your users / machines? Does it NOT repro in any situations? Can you try upgrading to a later version of Office (if possible) to see if it still repros there? Or a later version of W

[2020-07-02 23:00] ghost commented on #1127
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-02 23:54] thatusernamenotavailable commented on #1220
The following works on Excel online but it only shows "larry" in Office 365 for Windows:

[code]

I've tried with and without `export` with the same effect. Doesn't seem to be any documentation anywhere on why this doesn't work.

[2020-07-03 00:26] lumine2008 commented on #1238
Hi @lindalu-MSFT, Thanks for assignment, I think this is UX related issue, therefore you may @ UX team.
@lliu113, I believe this is in your area, would you please take care of it? thanks.

[2020-07-03 01:17] thatusernamenotavailable commented on #1220
The examples posted [in the docs](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-dynamic-arrays) work on online Excel but not in Excel 356 for Windows (same issue...just returns the first value):

[code]

[2020-07-03 01:17] thatusernamenotavailable commented on #1220
I imagine it's also broke in Mac version as well.

[2020-07-03 02:00] MandytMSFT commented on #1233
@algomaster99  sorry for the late response. I can repro with your gist , and i did a rough investigation, seems the event arg returned by BindingDataChanged event is different between word online and desktop. You can simply output the binding in handler to look details. And getDataAsync is missed on online.  I opened a BUG 4267228 for product team to address

[2020-07-03 02:45] algomaster99 commented on #1233
@MandytMSFT thanks for the response! Is there any other to get the value of a binding?

[2020-07-03 02:55] abdidaudpropel commented on #349
I am facing the same issue on Mac 10.15.5 and Excel 16.38.
The same code works in Excel Online and Excel windows.

Office.context.ui.messageParent does nothing and displayDialogAsync's callback is not triggered. Additionally, only on mac  Office.context.ui.closeContainer through undefined error (called by the dialog after office is initialized)

[2020-07-03 03:05] MandytMSFT commented on #1233
getDataAsync is the right way, could you help try below code to get the binding object by getByIdAsync before calling getDataAsync ? It works at my side.

async function handler(event) {
  const { binding } = event;
  Office.context.document.bindings.getByIdAsync(binding.id, function (asyncResult) {
    asyncResult.value.getDataAsync((result) => {
      if (result.status === Office.AsyncResultStat

[2020-07-03 06:56] exextoc commented on #1247
Hey @Premsagar-lab ,

Sorry for the late response. I can see this issue happen as you have mentioned across OWA and Mac. Thank you for reporting the issue, we have moved it to our backlog and we will fix it. However, we have no timelines to share at this point.

[2020-07-03 07:07] algomaster99 commented on #1233
@MandytMSFT yeah, this snippet worked. But I think it is a little redundant since we already have a reference to the `binding`. We shouldn't need to get it again using `Office.context.document.bindings.getByIdAsync`. I hope "BUG 4267228" is fixed soon :sweat_smile: Thanks for helping out though :)

[2020-07-03 07:49] max-yushchuk commented on #1096
@lindalu-MSFT, I see, you added "Status:fixed". But actually it doesn't work. When will this fix be delivered to end users? Thanks.

[2020-07-03 07:56] exextoc commented on #1248
Hey @Premsagar-lab ,

Sorry for the late response. Thank you for reporting the issue. We can see the issue across OWA and Mac as you have described. We have put this in our backlog and are going to fix it. Unfortunately, we have no timelines to share at this point.

[2020-07-03 07:58] exextoc commented on #1247
Hey @Premsagar-lab ,

Can you confirm that the OnSend policy is enabled for the account in which you're seeing behaviour (e)?
You can read about the OnSend policy here: [Install Outlook add-ins that use On-Send](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=classic#install-outlook-add-ins-that-use-on-send)

If this policy is enabled, it shouldn't display t

[2020-07-03 08:06] Premsagar-lab commented on #1247
Yes, onsend policy is enabled for the account in which we are seeing this behaviour.

[2020-07-03 08:11] exextoc commented on #1247
This is strange. Can you confirm that when the OnSend add-in does work (in a normal mail/ calendar compose scenario) do you see all other email/calendar edit fields being disabled while the add-in is running?

[2020-07-03 08:34] lumine2008 commented on #1226
We can repro this issue, a bug (4262773) is created

[2020-07-03 08:53] Premsagar-lab commented on #1249
Updated the issue with screenshots and repro steps.

[2020-07-03 09:17] Premsagar-lab opened #1256 "Outlook onsend addin is not invoked on Meeting cancellation"
Onsend addin not invoked while sending meeting cancellation.

## Expected Behavior

Onsend addin should be invoked on meeting cancellation.

## Current Behavior

Onsend addin is not invoked on meeting cancellation.

## Steps to Reproduce, or Live Example
1. Set and send a meeting invite to some outlook member.
![CreateMeeting](https://user-images.githubusercontent.com/67500503/86451991-46fd1c80-bd

[2020-07-03 09:39] Premsagar-lab opened #1257 "Error message on Outlook Client does not give exact information about network issue when Onsend AddIn JS is not accessible"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

There are scenarios in which Onsend Addin JS may not be accessible to Outlook Client while sending emails.
In that case, Outlook for mac gives generic message that there is problem wi

[2020-07-03 09:45] Premsagar-lab commented on #1247
No. Fields are not disabled while the addin is running. We can edit the fields till the addin is in progress.

[2020-07-03 10:05] exextoc commented on #1247
Hey,

There's a chance that the OnSend policy isn't enabled if you're seeing this behaviour. Could you please confirm that the policy is enabled?

For this you need to run the command-let:

[code]

(You will need Exchange admin account credentials for this)

Look out for the field:

[code]
If that field doesn't exist, the policy is probably not enabled. You can read about the Get-CASMailbox comman

[2020-07-03 10:09] Premsagar-lab opened #1258 "Outlook Onsend addin is not invoked if the email is updated in Outbox."
Suppose mail is stuck in outbox due to any network issue then User can edit the email and resent it to Outbox till the mail is actually sent. For these edits from Outbox folder, Onsend addin is not invoked.

### Expected Behavior
Onsend addin shall be invoked when mail is edited or drafted from any folder including Outbox.

### Current Behavior
Onsend addin is not invoked when email is edited.

##

[2020-07-03 10:40] KantilalJadav commented on #1221
Great, issue has been resolved.
Thank you.

[2020-07-03 10:50] Premsagar-lab commented on #1247
Hey exextoc,

Thanks for reply, We will check with this cmdlet. For the same user mailbox it's working when a message is drafted, replied or forwarded from inbox folder. The issue is only observed for meetings. Is there any different onsend policy for meetings?

[2020-07-03 18:00] ghost commented on #1170
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-03 22:03] cghaddar opened #1259 "Excel: Configuring the manifest to use shared runtime breaks custom functions with #N/A error on both Windows and Mac desktops"
I followed the instruction given here
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime
This broke the CONTOSO  custom functions tutorial. After the change =CONTOSO.ADD(1,1)  return #N/A error with the message 'A value is not available to the formula or function.'
The CONTOSO tutorial was working just fine prior to switching to shared runtime

[2020-07-04 00:00] ghost commented on #1243
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-05 07:58] exextoc commented on #1242
Hey @nikhileshcs ,

Sorry for the late response. However, I am unable to reproduce your issue on the build you mentioned, even from the code snippet that you have shared. is it possible for you to share the manifest of your add-in and a working endpoint where you are facing this issue so that we can look into it?

[2020-07-05 09:08] exextoc commented on #1240
Hey @davyarris ,

As we requested before, is it possible for you to share a test account where we can reproduce this issue? We will take a look.

[2020-07-05 11:23] exextoc commented on #1224
@GeoffreyYue1 As per discussions with you offline, we are tracking this bug in our backlog.

[2020-07-05 23:53] exextoc commented on #1257
Thank you for reporting this issue. We have put this issue in our backlog. However, we have no timelines to share at this point.

[2020-07-06 03:00] ghost commented on #1250
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-06 04:01] davyarris commented on #1240
Hi @exextoc

I'll have a chat to our admin and see if I can get an account set-up for this purpose.

It's more than just my account that is affected as we have seen similar symptoms in other tickets where the problem seemed to only occur when using Outlook from https://outlook.office.com/. I recall some mention of a call to discover either an endpoint or a schema perhaps which was failing with a 4

[2020-07-06 09:20] davyarris commented on #1240
Hi @exextoc

After some investigation, I think we may have found the problem. It appears that the issue where the targetRestUrl is not returned on the sharedProperties object occurs when the Primary inbox account (i.e. this is usually the first account that was set up under your Outlook client) does not have permissions to access domain information for the account.

 @JamesBigChange and @grumpyAL

[2020-07-06 10:07] exextoc commented on #1240
Hi @davyarris we will try to verify this scenario as well. Just to confirm, you are seeing this issue on OWA (browser version of Outlook), right? Did you remove your personal account before adding the work account?

[2020-07-06 10:40] SWei1234 opened #1260 "[Outlook] An extra empty meeting will be generated after save meting. (Mac outlook only)"
When I schedule an meeting on Mac outlook client by add-in. But after I update meeting time and then invite somebody click 'Send' . An empty meeting was generated at the time before update meeting.
In addition, we tried schedule meeting without add-in this problem still reproduce.
But if I only close and save this meeting this problem will not happen.

## Expected Behavior
No extra empty meeting s

[2020-07-06 11:35] Murugananths commented on #1148
Hi Team... Any update on this?

[2020-07-06 12:07] max-yushchuk opened #1261 "Outlook Office 365 for web creates additional add-ins instances and loads them together (Chrome, Safari)"
## Expected Behavior
It shouldn't load all add-ins, opened before. It has worked normally previously.

## Current Behavior
Open and close add-in on different email items.
When a user opens new item he/she will see that all items, opened previously are loaded as well.

## Steps to Reproduce, or Live Example
1. Create add-in from scratch.
2. Add, for example, console.log('INIT') in Office.onReady ca

[2020-07-06 16:24] Premsagar-lab opened #1262 "Outlook Addin Javascript timeouts in 60 second instead of 5 min."
Addin Javascript helps to retrieve the contents of attachment which can be as large as around 30 mb. We have to upload this data to our server where we process contents of attachments. This http Post request in addin Javascript  sometimes take more then 60 seconds to complete. But this request is timedout on Outlook Client.
The same request works properly in OWA in safari and Chrome.

https://deve

[2020-07-06 17:29] Murugananths commented on #1148
[Enabledisablemanifest.txt](https://github.com/OfficeDev/office-js/files/4880343/Enabledisablemanifest.txt)

@sohailzafar ... I have attached sample manifest file where it has two execute functions **getLogin** and **getLogin1** to show and hide task pane.
---> If user clicks  getLogin then taskpane is displayed with rendering data.
---> if user clicks getLogin1 then taskpane is able to hide.
--->

[2020-07-06 20:00] ghost commented on #1170
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-06 20:00] #1170 closed, assigned to exextoc

[2020-07-06 20:10] algomaster99 opened #1263 "Word: xPath parameter in `getNodesAsync` is not working as expected"
## Expected Behavior
Should have received an array of the nodes corresponding to the xPath.

## Current Behavior
An empty array is being showed as the output.
![empty-array](https://user-images.githubusercontent.com/35191225/86637121-b3ef0b80-bff2-11ea-91a0-3c01e7c3a8bc.PNG)

## Steps to Reproduce, or Live Example
[Script Lab](https://gist.github.com/algomaster99/fc10bc8fcf3429f1d3ad1fbadaa3216f)

[2020-07-06 22:08] algomaster99 commented on #1263
I am not able to get the nodes according to the xPath I provide. I always get an empty array. When I pass * as xPath, I get he first node and then I have to get nodes from there recursively (by passing '*').
Example,
[code]

This is just for demonstration. If `xPath` doesn't work, I might have to write a recursive function wherein I will get each node one by one.

[2020-07-06 22:27] abrahamdio opened #1264 "Outlook: body.getAsync fails with non-char ascii codes"
`Office.context.mailbox.item.body.getAsync` throws `SyntaxError: JSON Parse error: Unterminated string` when email content has non-char ascii codes (i.e. `&#17;`). It is observed in Outlook for Mac, and Outlook for Windows, but not in Outlook for Web (OWA).

## Expected Behavior
`body.getAsync` should return email's content (like OWA)

## Current Behavior
- Error is thrown for Outlook for Mac
- No

[2020-07-06 23:30] davyarris commented on #1240
Hi @exextoc
 good question! I actually added all accounts through Native Outlook. But the problem only seems to occur in OWA (specifically https://outlook.office.com/).
No accounts were removed. Only additional ones added (i.e. 1. Added personal, 2. added work)

[2020-07-07 00:00] ghost commented on #1239
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-07 02:00] ghost commented on #1243
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-07 02:00] #1243 closed, assigned to exextoc

[2020-07-07 03:00] ghost commented on #1239
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-07 03:05] topkoong commented on #1238
Any update on this matter?

[2020-07-07 03:05] topkoong commented on #1220
Any update on this matter?

[2020-07-07 05:00] ghost commented on #1243
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-07 09:00] ghost commented on #1252
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-07 12:08] bx-anil commented on #1193
Tried the new-app command and confirm that it works.

[2020-07-07 14:35] arturs-buls commented on #1239
We have also encountered this issue while testing. We were able to reproduce with our test app and Salesforce sidebar.

QA was using:
* Office 365 version Outlook (Version 2006 Build 13001.20266), 32-bit
* Windows 10 Version 2004 (Build 19041.329).
* Edge Version 83.0.478.58.
Windows/Outlook Updaters do not find any new updates

Pinning is required to reproduce issue. It can not be reproduced with

[2020-07-07 15:35] avgode opened #1265 "In Contextual office addins in Outlook specific word not gets highlighted properly"
## Expected Behavior

When using contextual addins in Outlook, I wanted to highlight few words like ill, holiday, leave and wrote regex as **\b(\r\n|\r|\n)|(leave|holiday|vacation|sick|ill|sickness|poorly|absent|absence)|(\r\n|\r|\n)\b**

So if  the message contains below text...
**Hi I'm still on holiday.**

It should only highlight **Holiday**
## Current Behavior

When using contextual addins in

[2020-07-07 15:39] avgode opened #1266 "Outlook: Contextual add-ins behave differently on Outlook Native and Outlook web"
## Expected Behavior

When we using contextual addins on Outlook web mentioned words as per regex should get highlighted whther its new mail received or fowarded mail or replied mail or sent mail in both.
RegEx is **\b(\r\n|\r|\n)|(leave|holiday|vacation|sick|ill|sickness|poorly|absent|absence)|(\r\n|\r|\n)\b**

## Current Behavior

When we using contextual addins on Outlook  web mentioned words a

[2020-07-07 16:01] morgan-tr opened #1267 "Word: Deleted redlined text in Word Online is included in paragraphs fetched via the Word API"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Word Online recently added a new Track Changes feature. When Track Changes is turned on and text is deleted, it is expected that this text will effectively no lon

[2020-07-07 17:22] exextoc commented on #1262
Hi, thanks for reporting this issue. We are able to reproduce this on Outlook Mac. We have added it to our backlog, but unfortunately do not have timelines to share at this point.

As a temporary workaround, we suggest breaking the POST request into smaller ones so they don't timeout.

[2020-07-07 17:22] #1262 closed, assigned to nobody

[2020-07-07 18:37] exextoc commented on #1261
Hi, we are unable to reproduce this issue on OWA. From your video, is it possible there are no redundant initialize calls, but all the "INIT" messages are being printed together after you open the console? Could you record a video by keeping the console open, and doing the same actions as your original video?

[2020-07-07 19:03] cbishop-fv commented on #1239
Outlook desktop - 16.0.12827.20328
I do have more than one email account setup but using Microsoft 365 for a business account with this test.

I am also able to reproduce this using the salesforce app without even needing an account. The environment picker on the login screen locks up using the original steps. Pinning is required.

I can also confirm the oddity that resizing the app unfreeze it bu

[2020-07-07 19:52] cbishop-fv opened #1268 "Outlook: Desktop "a problem occurred while trying to reach this addin" on network error in dialog"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

The dialog should remain open and render the page in the same way the web app does.

## Current Behavior

When using a dialog modal to auth with AWS cognito and

[2020-07-07 20:56] thunter05 commented on #653
Any update with this? I'm running into the same issue.

[2020-07-07 23:01] mwickens commented on #1100
Any chance there’s a work-around for this? Even once this is released, asking customers to upgrade in order to use our third-party add-in is not going to cut it.

[2020-07-07 23:03] jargil commented on #1100
@mwickens - this is fixed in 16.0.13001 and newer, are you still seeing this problem or are you in an older build? Is re-registering the events an option while waiting to get a newer Office build?

[2020-07-07 23:09] mwickens commented on #1100
Thanks for the quick reply. I was editing my comment when yours came in. As a third-party add-in, we can't ask all of our customers to upgrade (well, we can ask, but…). I'll look into re-registering the events.

[2020-07-07 23:18] exextoc commented on #1100
If you want to try the workaround of re-registering the events, ensure that you de-register (`removeHandlerAsync`) before re-registering (`addHandlerAsync`).

[2020-07-07 23:41] codexeon commented on #1262
You can set timeout on XMLHttpRequest to increase the limit beyond 1 minute.
var xhr = new XMLHttpRequest();
xhr.open('POST', "https://localhost:3000/testpost", true);
xhr.timeout = 80000; // time in milliseconds
xhr.onload = function () {
console.log(this.response);
};
xhr.ontimeout = function (e) {
  console.error("timeout");
};
xhr.send(null);

[2020-07-08 00:14] mwickens commented on #1100
Thanks, that worked!

[2020-07-08 03:34] weshi commented on #1259
Have you added your function.js to your taskpane.html?

[2020-07-08 05:20] Premsagar-lab commented on #1252
I have edited the issue to provide screenshots within it.

[2020-07-08 06:20] SWei1234 commented on #1260
@exextoc attach an recording here. Hope this will be helpful.

https://bcgdv.egnyte.com/dl/NjDW7oYQOn/

[2020-07-08 07:49] max-yushchuk commented on #1261
Hi, no it's not possible. I've cleaned the console after opening. You can see it on video. This issue existed till yesterday and suddenly disappeared. I suppose, it was something on Microsoft side. It didn't work only for two days.
So I'll close this issue. It doesn't exist now.

[2020-07-08 07:49] #1261 closed, assigned to nobody

[2020-07-08 08:17] exextoc commented on #1247
Hi @Premsagar-lab , we currently do not support the scenarios you've mentioned (a, b, c and d) and are evaluating the changes required to handle these scenarios. We will continue to investigate and work on them, Thank you for reporting the issue. Unfortunately, we do not have timelines to share at this point.

To answer your other question no, there shouldn't be a different policy for meetings.

[2020-07-08 08:23] exextoc commented on #1256
Hi @Premsagar-lab , we currently do not support the scenario you've mentioned (meeting cancallation) for OnSend add-ins. We are evaluating the changes required to handle this scenario, along with the other GitHub issue you've created (#1247 ). We will continue to investigate and work on them. Unfortunately, we do not have timelines to share at this point.

[2020-07-08 08:23] #1256 closed, assigned to nobody

[2020-07-08 08:25] exextoc commented on #1258
Thank you for reporting this issue. We do not support this OnSend scenario at the moment. We are evaluating all the OnSend scenarios you've mentioned, along with issues #1247 and #1256 . We unfortunately don't have any timelines to share at this point.

[2020-07-08 08:25] #1258 closed, assigned to nobody

[2020-07-08 09:22] exextoc commented on #1260
Hi @SWei1234 this doesn't seem to be an add-in issue, so we are closing this. We also cannot reproduce the issue on our latest build. We recommend updating to the latest Outlook Mac build and check if it still happens. If it does, you can report the issue through Help -> Send a Bug Report.

[2020-07-08 09:22] #1260 closed, assigned to nobody

[2020-07-08 09:39] exextoc commented on #1240
@davyarris Could you give detailed steps on how you added a personal and work account in OWA? We are trying to reproduce the scenario but have trouble understanding what you're doing to surface the issue.

[2020-07-08 11:18] clavx commented on #1250
Yes, it does.

Yes, our customers/app users are resending emails from sent items.

Our Office Add-in uses the On-Send function.

[2020-07-08 12:08] cghaddar commented on #1259
This is not specified in MS docs but I tried adding functions.js to my taskpane.html as you suggested
<script type="text/javascript" src="../functions/functions.js"></script>
Rebuild and tested but it made no difference. Same #N/A error.

[2020-07-09 00:36] lindalu-MSFT commented on #1263
Hi @algomaster99 I assigned this to one of the Word engs, but I think you might also have luck posting this question to [Stack Overflow tagged [office-js] and [Word]](https://stackoverflow.com/questions/tagged/office-js+word). There's a huge developer community there willing to help!

[2020-07-09 00:51] lindalu-MSFT commented on #1267
Hi @morgan-tr ! THanks for taking the time to fill out the issue template for us. I assigned this to one of the Word engs. Meanwhile, I think you should also post this question to the office-js/Script Lab developer community on Stack OVerflow! That way, you'll have more eyes on your question. Try tagging both [[office-js] and [scriptlab]](https://stackoverflow.com/questions/tagged/scriptlab+office

[2020-07-09 00:59] lindalu-MSFT commented on #1266
Hi @avgode, thanks for supplying the screen shots. I assigned this issue to our Outlook team to triage. Meanwhile, have you seen this [topic about RegEx rules](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-regular-expressions-to-show-an-outlook-add-in)? ALSO, you can post this same question to the Outlook developer community on [Stack Overflow tagged [office-js] and [outlook]](ht

[2020-07-09 01:03] lindalu-MSFT commented on #1265
@avgode Is this a dupe of the other issue?

[2020-07-09 01:04] lindalu-MSFT commented on #1265
This is a dupe of [https://github.com/OfficeDev/office-js/issues/1266](https://github.com/OfficeDev/office-js/issues/1266)

[2020-07-09 01:09] lindalu-MSFT commented on #1264
Hi @abrahamdio This programming question appears in a couple places on Stack Overflow. Please consider posting your question there to the Outlook developer community! That way, more eyes will be on your issue to help you. Let me know if you post there and please share the link so we can track it! Meanwhile, I assigned this to our Outlook team to triage. Thanks!

Stack Overflow tagged[ [office-js]

[2020-07-09 01:11] lindalu-MSFT commented on #1264
P.S. I'm sure you've already checked this topic, but posting here anyone in case it helps others!
[Office.Body interface on Office DevDocs](https://docs.microsoft.com/en-us/javascript/api/outlook/office.body?view=outlook-js-preview).

[2020-07-09 03:18] davyarris commented on #1240
Hi Exextoc

I added my account via **NATIVE** Outlook as follows

1. Open newly installed Outlook (windows native) - you could use an existing install but remove all accounts first
2. Add a new account  (File > Add Account...). This should be an account that does not have any access to the domain like a personal email account. For me, it was my personal outlook.com account
3. Add your company acco

[2020-07-09 05:06] avgode commented on #1265
Why you closed this issue. 1266 is different issue which talks about highlight not happening on forwarded and replied mails in web outlook. This issue talks about some words highlighted wrongly. Please reopen this issue.

[2020-07-09 05:07] avgode commented on #1265
This is not dupe of 1266

[2020-07-09 05:11] avgode commented on #1265
Please reopen the issue(1265) as this is different issue from 1266. This issue talks about words getting highlighted in improperly.
And 1266 talks about words not getting highlighted in forward and reply mails in outlook on web.

Cheers,
Amey Gode

On 09-Jul-2020, at 6:34 AM, Linda Lu Cannon <notifications@github.com> wrote:

﻿

Closed #1265<https://github.com/OfficeDev/office-js/issues/1265>.

—

[2020-07-09 07:39] algomaster99 commented on #1263
@lindalu-MSFT I have asked the question here https://stackoverflow.com/questions/62809742/xpath-parameter-in-getnodesasync-is-not-working-as-expected.

[2020-07-09 08:56] avgode opened #1271 "In Contextual office addins in Outlook specific word not gets highlighted properly"
This is not dupe of #1266. I have created this as #1265 closed saying dupe of #1266. But both are different issues.
**Here we saying word getting highlited wrongly**. And in **#1266 we saying word not getting highlighted on forwarded and replied emails on Outlook on Web**.
## Expected Behavior

When using contextual addins in Outlook, I wanted to highlight few words like ill, holiday, leave and wr

[2020-07-09 10:29] exextoc commented on #1271
Hi @avgode , we think your regex should be:

\b((\r\n|\r|\n)|(leave|holiday|vacation|sick|ill|sickness|poorly|absent|absence)|(\r\n|\r|\n))\b

With the added **()**. You can test your given regex with https://regex101.com/, for example, which highlights "ill" in "still", and "holiday" in "holidaying".

Please let us know if this fixed your issue.

[2020-07-09 11:14] avgode commented on #1271
Hi @exextoc
It not resolved my issue. It looks you misunderstood my issue. My issue is **ill** gets highlighted in **still** word, which I don't want. **I want ill should get highlighted on individual word like ill, ILL, Ill but not in Still , till**
Also my regex works fine in https://regex101.com/ but not working in Contextual addins.
I hope you got what my real issue is.

[2020-07-09 11:28] exextoc commented on #1271
Using your regex, the word **ill** _does_ get highlighted in the string: "holidaying instill". Can you try the same on http://regex101.com/?

Using the regex we've given, however, only highlights individual words "ill", "holiday", etc. Can you test this out?

[2020-07-09 11:33] avgode commented on #1271
Hi @exextoc
Thanks for the help.
In  http://regex101.com/ I have checked my regex and there **ill** gets highlighted in **still**. And after your regex it is not highlighting. So your regex does work on http://regex101.com/
But same regex given by you with extra **()** not working in Contextual Addins (both on web and on desktop outlook).

[2020-07-09 11:39] avgode commented on #1271
Even regex **\b(leave|holiday|vacation|sick|ill|sickness|poorly|absent|absence)\b** is working in http://regex101.com/ but not working on Outlook on web and on Outlook native app and also with that there is another issue that words not getting highlighted in new lines, so I have added **(\r\n|\r|\n)** at start and at end, which solved the new line issue.
So there is some different interpretation o

[2020-07-09 12:29] calbrecht commented on #53
Reminder ping, two years later ;)

[2020-07-09 12:31] calbrecht commented on #53
Just release the sources, would be great benefit for all.

[2020-07-09 13:06] exextoc commented on #1271
@avgode Yes, you're right. The \b doesn't seem to be respected by Outlook, on any platform (Web / Mac / Windows). Thank you for reporting this issue. We have added it to our backlog to fix, unfortunately we don't have any timelines to share at this point.

[2020-07-09 13:06] #1271 closed, assigned to nobody

[2020-07-09 13:23] avgode commented on #1266
I have tried those forums but none solved and mentioned about the issue with forward and reply emails where words not highlighted in Web Outlook.

[2020-07-09 13:49] exextoc commented on #1240
Hi @davyarris , we tried the same repro steps, but still couldn't reproduce the issue - we still get a valid targetRestUrl.

What we surmise is that this issue (targetRestUrl being absent for outlook.office.com accounts) was a recent bug that we fixed. It was rolled out two weeks back or so. The issue was probably still persisting for you due to a cached value, and once you removed the accounts fr

[2020-07-09 13:49] #1240 closed, assigned to exextoc

[2020-07-09 15:06] exextoc commented on #1266
Hi @avgode , we're able to reproduce this on Outlook Online. We're investigating this and will get back to you on this.

[2020-07-09 15:16] davyarris commented on #1240
Hi @exextoc

That wouldn't surprise me at all! I'm happy so long as it doesn't re-appear.

Thanks

@davyarris

[2020-07-09 15:21] exextoc commented on #1266
We are able to reproduce this issue, and it has been put in our backlog. Thanks for reporting this bug. Unfortunately we don't have timelines to share at this point.

[2020-07-09 15:21] #1266 closed, assigned to exextoc

[2020-07-09 19:37] amegan opened #1272 "[Outlook][Mac] Office.context.mailbox.item.body.setAsync breaks signature replacement and causes app freeze with a certain signature"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Signature insertion usually replaces the inserted signature if it is called more than once.  This signature insertion does not replace existing signature but insert another signature

[2020-07-10 01:28] abrahamdio commented on #1264
@lindalu-MSFT thanks for responding! I am afraid this might be a regression rather than a programming question. Can you re-consider it to be triaged to the OfficeJS API team?

As mentioned before, the use case is there are certain characters that's breaking the API contract, and we don't have control on those inserted characters because it is allowed to be inserted in the composer in the first pla

[2020-07-10 06:00] ghost commented on #1244
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-10 08:05] kullachoke-bosuwan-rft opened #1273 "Excel: Unable to run OfficeJs under iframe. Uncaught Sys.ArgumentNullException: Sys.ArgumentNullException: Value cannot be null. Parameter name: conversationId"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Taskpane app should be able to host another app that required OfficeJs Api within iframe.

## Current Behavior
If taskpane hosted another app that required Office

[2020-07-10 09:02] kullachoke-bosuwan-rft opened #1274 "Excel: error shown in console after executed `Office.context.ui.messageParent`"
There is an error message shown in console every times that we executed function `Office.context.ui.messageParent` from dialog.

The error has no effect on our app workflow, add-ins are working fine but it would be great if you can get rid of this error message.

## Expected Behavior
No error in console after executed function Office.context.ui.messageParent

## Steps to Reproduce, or Live Example

[2020-07-10 12:00] ghost commented on #1242
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-10 12:00] ghost commented on #1234
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-10 12:42] exextoc commented on #1272
Hi, we followed your repro steps, and are able to partially reproduce this. The compose area does become unresponsive, but the rendering doesn't appear broken - and the application does not crash or hang. We will take this issue up. Are you in Insiders Ring, or using the production version of Outlook?

[2020-07-10 15:11] exextoc commented on #1252
We are able to reproduce this issue on OWA. Thank you for reporting this issue. It has been put into our backlog and is under investigation. Unfortunately, we don't have timelines to share at this point.

[2020-07-10 15:11] #1252 closed, assigned to exextoc

[2020-07-10 15:21] exextoc commented on #1249
Hi @Premsagar-lab , from your screenshots we presume the issue is on Outlook Mac. We are currently investigating this.

[2020-07-10 15:24] Premsagar-lab commented on #1249
Hi exextoc, Issue is on both OWA as well as Outlook for Mac.

[2020-07-10 15:25] exextoc commented on #1249
Hi @Premsagar-lab , from your screenshots it looks like the issue is on Mac Outlook. We are able to reproduce this and have copied it to our backlog. Thank you for reporting this. Unfortunately, we don't have timelines to share at this point.

[2020-07-10 15:25] exextoc commented on #1249
Thanks for the input. We will investigate this on OWA as well.

[2020-07-10 16:30] exextoc commented on #1116
Update: getSharedPropertiesAsync has been rolled out to Insiders. You should be able to use the API on the latest Insider Fast build. It will be rolled out to non-Insider builds soon.

[2020-07-10 22:10] amegan commented on #1272
Hi, I am on insider fast but the issue has happened on prod as well.  We originally received the issue last year with the customer's real signature and it is still happening.  My sample might not be enough on happening the issue constantly but hopefully, you got something from it.  Maybe a little bit more complicated signature design might help to reproduce the issue constantly.

[2020-07-10 22:52] nbelyh opened #1275 "Visio: PageView.getPosition returns two times X, i.e. (x,x) instead of (x, y)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The issue is about Visio API, function `PageView.getPosition` that is supposed to return page position (X, Y)
https://docs.microsoft.com/en-us/javascript/api/visio/visio.pageview?view

[2020-07-11 00:28] nbelyh opened #1276 "Visio data: urls are not working with Visio addOverlay function"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am trying to display image overlays in Visio Online using addOverlay function:
https://docs.microsoft.com/en-us/javascript/api/visio/visio.shapeview?view=visio-js-1.1#addoverlay-ove

[2020-07-11 02:00] pbl2108 commented on #1184
@shaofengzhu could you please let us know if there is an update on this?

[2020-07-11 03:08] pbl2108 commented on #1254
@lindalu-MSFT thanks for escalating this. Please keep us posted on any updates.

[2020-07-11 21:00] ghost commented on #1239
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-12 00:45] exextoc commented on #1265
Re-opening this issue because it is different from #1266

[2020-07-12 03:16] exextoc commented on #1265
Closing this issue since #1271 was created to replace this one.

[2020-07-12 03:16] #1265 closed, assigned to exextoc

[2020-07-12 03:51] exextoc commented on #1268
@cbishop-fv when the user enters an incorrect username/password, does the page attempt to navigate, resulting in the 401 error?

[2020-07-12 11:21] cstfr commented on #1095
Hi,
I have the same problem.

From the graphics explorer, when I click on the web link, I have "the loading screen empty indefinitely"
but when I copy the text link and paste it into a browser, it works.
Is URL rewriting responsible for this?

**1 - From Graph explorer:**

https://outlook.office365.com/mail/deeplink?ItemID=AAMkADM4YWVhNTc4LTNmZjctNDE0Zi05YTg2LWY3NTNiMWIwZDUxNABGAAAAAAA%2F0P8H%2FEV

[2020-07-12 13:28] exextoc commented on #1264
Thanks for bringing this to our attention. This is a known issue in our backlog. Unfortunately, we don't have any timelines to share regarding the fix.

[2020-07-12 14:32] exextoc commented on #1250
Thanks for the info. We have added this issue to our backlog to address it. Unfortunately, we don't have any timelines to share.

[2020-07-12 14:32] #1250 closed, assigned to exextoc

[2020-07-12 15:12] exextoc commented on #1239
We have an in-house repro of this issue. We are currently investigating the root cause.

[2020-07-12 17:30] exextoc commented on #1236
We have fixed the bug and the fix should be available in build 16.40 (20070801) or later. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-07-13 03:15] weshi commented on #1267
When tracked changes feature is turned on, the text itself is not removed, therefore when you call API, it also includes those text. This is consistent behavior with UI.

On desktop, if you show these changes by below steps, you can also see same API behavior:

![Issue1267](https://user-images.githubusercontent.com/11494417/87267388-26cc1b00-c4fa-11ea-971c-4ddec80bb9fc.png)

[2020-07-13 03:28] weshi commented on #1263
The answer is provided from the above stackoverflow question. Closing this one.

[2020-07-13 03:28] #1263 closed, assigned to nobody

[2020-07-13 03:31] weshi commented on #1246
@hjkim71 could you take a look as this is for Mac only?

[2020-07-13 06:51] ppagadala opened #1277 "Excel: Double clicking on Ribbon item opens multiple taskpanes"
## Expected Behavior
One instance of the Task pane should be opened.

## Current Behavior
Two panes are opened.
Should not open two taskpanes or should give config param in manifest to disable the double click on Ribbon item.

## Steps to Reproduce, or Live Example
1. Have a plain manifest with a button in ribbon which opens a taskpane
2. Upload the manifest in Excel.
3. Double click on the Ribbon

[2020-07-13 06:53] ppagadala opened #1278 "Excel: Double click on Ribbon item opens two taskpanes"
## Expected Behavior
One instance of the Task pane should be opened.

## Current Behavior
Two panes are opened.
Should not open two taskpanes or should give config param in manifest to disable the double click on Ribbon item.

## Steps to Reproduce, or Live Example
1. Have a plain manifest with a button in ribbon which opens a taskpane
2. Upload the manifest in Excel.
3. Double click on the Ribbon

[2020-07-13 08:00] ghost commented on #1244
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-13 08:00] #1244 closed, assigned to exextoc

[2020-07-13 08:40] exextoc commented on #1272
@amegan We will go ahead with the partial repro of bug with compose area becoming unresponsive. We have added it to our backlog. Thanks for reporting this issue. We unfortunately have no timelines to share at this point.

[2020-07-13 09:39] SWei1234 commented on #1234
Hi @exextoc
    Here is how mapi save properties:
    `HRESULT hr = S_OK;
     if(!m_spAppt)
			break;
		CComPtr<IMessage> spMsg;
		hr = m_spAppt->get_MAPIOBJECT( (IUnknown**) &spMsg);
		if( (spMsg == NULL) || FAILED(hr) )
		{
			break;
		}

		MAPINAMEID PropName;
		PropName.lpguid				= (LPGUID) &PS_PUBLIC_STRINGS;
		PropName.ulKind				= MNID_STRING;
		PropName.Kind.lpwstrName	= bstrName;

		LPMAP

[2020-07-13 11:30] exextoc commented on #1234
Does loadCustomPropertiesAsync API fails on Outlook Online (OWA) only or does it fail on Outlook Desktop clients Win32/Mac as well?

[2020-07-13 14:00] ghost commented on #1242
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-13 14:00] #1242 closed, assigned to nobody

[2020-07-13 15:31] morgan-tr commented on #1267
Thank you for the suggestion @lindalu-MSFT. I was only using Script Lab as a way of reproducing the scenario - there is no problem with Script Lab itself. The StackOverflow community would not be able to help with this issue I'm afraid as it is likely to do with the source code.

[2020-07-13 15:40] morgan-tr commented on #1267
@weshi What you're describing is setting track changes to only show formatting changes. This isn't the case that I've described. I've described a case where Track Changes is tracking and redlining textual changes (not just formatting changes). The API on Word for desktop returns paragraphs without the deleted redlined text, and Word online returns them with the deleted redlined text.

[2020-07-13 18:47] cbishop-fv commented on #1268
Correct, The login form posts to itself and in the case of bad UN/PW combo returns a 401 unauthorized. The AWS cognito hosted login page sees this and normally just presents an error message to the user as seen in the 2nd image above. This works fine for outlook addins on the web but not the desktop outlook client.

[2020-07-13 22:43] exextoc commented on #1193
This is a duplicate of issue #1140 which we have on our backlog. We don't have any timelines to share regarding this fix.

[2020-07-13 22:43] #1193 closed, assigned to exextoc

[2020-07-13 22:48] JuaneloJuanelo commented on #1095
hello all, the  fix is now live, can you please confirm its fixed?

[2020-07-13 23:13] exextoc commented on #1249
**Correction :** This has been discovered to be the design of the feature. The user can interact with the form while any add-in is running. This is true of TaskPane, ExecuteFunction and OnSend Add-ins. However, OnSend Add-ins have an additional feature where, while the displayDialogAsync dialog is on the screen, the user will not be able to edit the original mail form. (clicks and keystrokes are d

[2020-07-14 00:03] Umair-Munir opened #1279 "Outlook Add-in not showing on web version menu with sideload"
Hi,

I am developing outlook add-in on Mac and using visual code. I am following [https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator](this) tutorial to create Taskpane App using Yeoman generator. I am able to build and run dev-server. I uploaded the manifest file on the web version of outlook to run and test the add-in. Everything works fine to

[2020-07-14 01:30] SWei1234 commented on #1234
I have tried on both windows and Mac outlook and online , this api actually not response failed but just get empty result.
But the graph api on COM can get the correct data on the same event.

[2020-07-14 01:52] lindalu-MSFT commented on #1278
@lliu113 @sohailzafar Hi! This issue is a UI issue, not a JS issue. Can you please have a look? Thanks!

[2020-07-14 03:36] rkw6086 commented on #1246
Any help on this is great. Thanks @weshi!

[2020-07-14 06:52] seandevenish commented on #1255
We are encountering this issue also, including when displayInIframe: false. We have terminal server clients attempting to use our add-in (which uses IE)... we regret ever trying office js for an enterprise app!!

[2020-07-14 07:13] exextoc commented on #1279
@Umair-Munir  Please check these docs to see if you missed anything [Build your first Outlook add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart) and [Outlook add-in tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/outlook-tutorial) .

- Is it possible for you to share the manifest file of your Add-in?
- Looks like you are trying to us

[2020-07-14 07:19] weshi commented on #1178
This is a known limitation in Word on the Web that the pre format is not honored. Even when you copy/paste it from the UI, the same behavior is observed.

[2020-07-14 07:46] Umair-Munir commented on #1279
@exextoc yes, my manifest file contains the ExtensionPoint attribute. I used the Yeoman generator to generate a Task pane plugin. From the tutorial, it should display the Task pane tab. This is the [manifest](https://github.com/OfficeDev/office-js/files/4917278/manifest.xml.zip) file of the Task pane plugin

[2020-07-14 08:37] davidfishlock commented on #1095
@JuaneloJuanelo the issue seems to be fixed when using a desktop browser. Using a mobile browser, the email doesn't load and the user ends up on the OWA homepage / inbox.

Attaching a .har file showing the loading of a deeplink on Android Chrome browser. The same link is now loading correctly on Windows 10 Chrome.

[OWAMobileDeeplink.har](https://share.getcloudapp.com/E0uzB8DE)

[2020-07-14 10:00] jak-hammond opened #1280 "Internet Message header with spaces in value cause failure on Windows"
When attempting to set an internet message header that contains a space in the value, both quoted and un-quoted, the call fails with an error code of 2006 saying that the given object was of an invalid format.

## Expected Behavior
The header should be set without issue.

## Current Behavior
When run on Windows, values that contain a space will cause a failure when calling `setAsync` on an item th

[2020-07-14 12:04] exextoc commented on #1279
@Umair-Munir as your manifest file contains only MessageReadCommandSurface ExtensionPoint, it will be visible in message read scenario. If you want it to be shown when user is composing a mail you should add MessageComposeCommandSurface ExtensionPoint as well.  Same applies for event surfaces AppointmentOrganizerCommandSurface and AppointmentAttendeeCommandSurface.

[2020-07-14 12:21] Umair-Munir commented on #1279
@exextoc yes, that makes sense. Thank you for the response

[2020-07-14 12:21] #1279 closed, assigned to exextoc

[2020-07-14 16:12] JuaneloJuanelo commented on #1178
@jasonhieu1905  we recommend to add this as a feature request in our [uservoice ](https://officespdev.uservoice.com/)channel, for the time being, we can track it there. thanks.

[2020-07-14 16:12] #1178 closed, assigned to nobody

[2020-07-14 16:16] chucklay commented on #1158
@areed1192 Were you ever able to get this working? I'm running into the same thing now, trying to get a React-based taskpane + custom functions. The suggestion to downgrade clean-webpack-plugin worked, but I'm in the same boat with the add-in starting but the functions not being loaded.

I'm really surprised this doesn't work out of the box. It feels like this would be a pretty common use-case.

[2020-07-14 17:45] chucklay commented on #1158
Update: was able to fix my issue. I typo'd `Runtime` as `Runtimes` in my manifest. Enabling runtime logging led me to the answer:

https://docs.microsoft.com/en-us/office/dev/add-ins/testing/runtime-logging

(And in case that page gets moved/deleted, since that seems to happen a lot with the add-in docs, here's the short version)
run `npx office-addin-dev-settings runtime-log --enable`
tail your l

[2020-07-15 11:49] exextoc commented on #1234
@SWei1234 can you also share the loadCustomPropertiesAsync code snippet which you are using to get the custom properties via Add-in?
Can you run this test code to set and get custom properties via Add-in APIs and see if returns custom property value on get.

**// Set and save custom property**
Office.context.mailbox.item.loadCustomPropertiesAsync(
 function customPropsCallback(asyncResult) {
  if

[2020-07-15 12:29] vikaskeskar11 opened #1281 "IndexedDB not getting initialized on first add-in open request"
This behavior is observed on MAC Catalina OS.
When I open office js Word add-in for the first time after quitting and reopening word or when I fresh open word, and then open add-in. But, when I close the task pane and reopen add-in, it loads data stored in IndexedDB.
## Expected Behavior

- It should always fetch data from IndexedDB if written in code
## Current Behavior

- On first time add-in op

[2020-07-15 13:27] SWei1234 commented on #1234
Hi @exextoc
My loadCustomPropertiesAsync  code is same as you write above.
In your way , I can save and read property.
But only read empty result on property saved by mapi.

[2020-07-15 13:37] Borgquite commented on #1036
Fixed for me in the latest Current Channel release (2006 Build 13001.20384)

https://docs.microsoft.com/en-us/officeupdates/current-channel#version-2006-july-14

'Addressed a crash issue with the office host in windows, when an add-in is activated while the registry TabProcGrowth value is REG_SZ type.'

[2020-07-15 13:37] Borgquite commented on #982
Fixed for me in the latest Current Channel release (2006 Build 13001.20384)

https://docs.microsoft.com/en-us/officeupdates/current-channel#version-2006-july-14

'Addressed a crash issue with the office host in windows, when an add-in is activated while the registry TabProcGrowth value is REG_SZ type.'

[2020-07-15 18:39] exextoc commented on #1234
@SWei1234 Can you download this MAPI exe from [here](https://github.com/stephenegriffin/mfcmapi/releases/tag/17.0.17099.01 ) and try to set custom property using Property -->Additional Property -->Add and check in your Add-in. It seems to work fine on our side.
Can you share your Add-in so that we can try to repro it at our end?

[2020-07-15 21:39] lindalu-MSFT commented on #1276
Hi @nbelyh Thanks for reporting this issue. I verified with the Visio team that they are aware of this are tracking it internally in their backlog. Due to limited resources available, there is no timeline available for the fix. You might try Stack Overflow and see if the Visio developer community has a solution that might work! Thanks, linda

[2020-07-15 21:40] lindalu-MSFT commented on #1275
HI @nbelyh Same thing with this issue. It is being tracked internally in our backlog. Thanks much for reporting!

[2020-07-15 22:49] lindalu-MSFT commented on #1280
@jak-hammond Thanks for providing all the relevant info in this issue! I've assigned to the Outlook team to triage.

[2020-07-16 05:10] JuaneloJuanelo commented on #1231
Hello @algomaster99, there are  actually 2 questions on this post. so lets take it one by one.

1. Regarding onDataChanged.add(handler);  -> This is a nice way to subscribe to events, however that's a preview API(you are actually using the preview CDN for office.js and we are not servicing it, so for starters I  recommend you to switch to the production one **https://appsforoffice.microsoft.com/li

[2020-07-16 06:41] kullachoke-bosuwan-rft opened #1282 "[Excel] An error thrown in console on all Angular app"
All of Angular app has an error thrown in dev console, please check gif image or video file attached. It happens almost every time and only when included officejs script. An error has no effect with an app but it would be great if you can fix it.

App in video has been generated from scratch by using ng generate <app>, There is nothing in the project, only included officejs script.

## Expected Be

[2020-07-16 13:03] algomaster99 commented on #1231
Hi! So I have made it work what I wanted to do using four steps:
1. Attach content controls to `Bindings`.
2. Whenever a change is triggered in a `content control`, I invoke a `Office.EventType.BindingDataChanged` event listener which gets all the content controls with same `tag`s.
3. I iterate over the all these content controls and update their values. Now the catch is that whenever their values

[2020-07-16 16:04] Murugananths commented on #1148
Hi Team,

I tried Enable/Disable with UI-less in manifest which is attached with this request and below are the sample logic tried.

[EnableDisableManifest.txt](https://github.com/OfficeDev/office-js/files/4932663/EnableDisableManifest.txt)
[taskpane.txt](https://github.com/OfficeDev/office-js/files/4932664/taskpane.txt)
[port.txt](https://github.com/OfficeDev/office-js/files/4932665/port.txt)

Ki

[2020-07-16 18:28] amiram commented on #474
Is there any progress with this issue? It causes us serious trouble with Mac users.

[2020-07-16 18:43] naemcivic commented on #1116
@exextoc
From the docs (https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview#getsharedpropertiesasync-callback-) this function is not supported on Mac Outlook

I have tried with the following:
API set: Mailbox 1.8 is met
Mac Outlook: Insider Build 16.40 (20071407)
Office JS 1.1.40

The following call returns an undefined function
[code]

[2020-07-16 18:58] JuaneloJuanelo commented on #1231
happy that you have your scenario working!

[2020-07-16 18:58] #1231 closed, assigned to JuaneloJuanelo

[2020-07-17 00:34] exextoc commented on #1280
Thank you for providing the Gist repro and screenshots. I was able to reproduce the issue as well on the same version of Outlook. Our team tested OWA and Mac as well and the issue only occurred on Windows.

This issue has been added to our backlog for triage.

Internal tracking # (helps to provide an update later): Office:4301643

[2020-07-17 07:46] aantimengocom opened #1283 "Setting "From" address on mailboxitem - is it possible from office 365 Addin API?"
Hi,
I am working on an Outlook 365 Office Add In solution where it would be a great enhancement to the functionality and to the end product, if the Office Add-In API could set the ‘From’ address – in the same way as the “To, CC and BCC” is set.
Setting the From address is possible by manually setting the From address on an email from Outlook (both Web and Desktop version) – but there is no API for

[2020-07-17 08:02] exextoc commented on #474
Tracked by BUG 1412472<https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/1412472>
________________________________
From: Amiram Korach <notifications@github.com>
Sent: 16 July 2020 23:58
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Mac outlook

[2020-07-17 08:15] exextoc commented on #1283
@aantimengocom Outlook does not support any API for setting the From address. The main reason being that when you change the From address user mailbox is changed and current Add-in is closed. The Add-ins gets validated and reloaded for new mailbox.

[2020-07-17 08:23] aantimengocom commented on #1283
When i manually select the From address in the Web and Desktop version of Outlook, i can still use the "SendItemEvent" and the Addin (Taskpane) etc.  and it is still hooked into the current mailboxitem reference that is open in the composer- so what you are saying is not what the current API does - it does not close the composer when choosing a new From address, it does not reload the Taskpane Add

[2020-07-17 09:39] exextoc commented on #1283
Are you seeing that if you have a TaskPane Add-in open and switch the from address the Add-in does not close and you can continue to use it?

[2020-07-17 09:45] aantimengocom commented on #1283
@exextoc

This is the current functionality as i see it - addin is running v1.8, changing the From address in either Outlook 365 online, or Outlook 365 Desktop - the task pane stays open after changing the From Address.

[2020-07-17 10:29] algomaster99 opened #1284 "Word API automatically inserts line break but only after the first Paragraph"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
The APIs should have either inserted a `LineBreak` after every heading or shouldn't have inserted a `LineBreak` at all

## Current Behavior
A `LineBreak` after fi

[2020-07-17 10:47] algomaster99 commented on #1284
This doesn't happen on Word on the web though.
![demo-web](https://user-images.githubusercontent.com/35191225/87778515-f31a2980-c848-11ea-979b-bceb5456124a.PNG)

[2020-07-17 10:56] DmitryKostochko opened #1285 "Outlook Online, IE & Edge, the displayDialogAsync method does not work"
In an Outlook add-in for compose mode, we call displayDialogAsync. In IE and Edge, the method does nothing, the dialog window does not show up, the callback is not executed.

## Expected Behavior
The displayDialogAsync method shall work correctly.

## Current Behavior
Nothing happens, the dialog window does not show up, the callback is not executed.

## Steps to Reproduce, or Live Example
Please t

[2020-07-17 11:47] exextoc commented on #1283
Does it happen for all the taskpane Add-ins ? Is it possible for you to share your Add-in's manifest ? Can you share the exact steps you are following with screenshots?
Also are you switching to delegate mailbox ?

[2020-07-17 12:07] exextoc commented on #1285
@DmitryKostochko I tried the code shared by you it works for me. Does API work in other browsers or Outlook Desktop Client? Can you check what does console.log(Office.context.requirements.isSetSupported("DialogApi",1.1)); returns?

[2020-07-17 16:15] westconference opened #1286 "DialogMessageReceived event is not being triggered in Exchange 2016 OWA since 8th July"
We started seeing an issue recently in our add-in where in Exchange 2016 OWA, when an opened dialog (not in iFrame) uses messageParent to send a message back to its parent, the parent window was not executing its DialogMessageReceivedHandler. This started happening around 10 days ago (automated tests began to fail).

## Expected Behavior
Parent window should receive the message event from child wi

[2020-07-17 17:41] aymen-kammoun opened #1287 "IsSetSupported not reliable"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am developping an addin for our customers and I'm testing with an Exchange 2013 account with office web app.
I need to get the body of emails and appointments (in read mode) :
if (O

[2020-07-17 20:41] liamtim commented on #1116
@exextoc Can you provide some insight here please?

[2020-07-17 21:03] daneshd commented on #1116
I'm hitting this issue with as well, on the insider build for Outlook for Mac

[2020-07-19 13:06] donlvMSFT commented on #1245
Already have internal bug tracking this issue [Bug 4291393](https://office.visualstudio.com/OC/_workitems/edit/4291393) and feature team is working on it. Will update later here.

[2020-07-20 06:36] SWei1234 commented on #1234
@exextoc I can provide you our reading part code but I can't provide you all the project. And other codes think is unnecessary for this question.
I want to read the properties from zoom plugin. Can you try read the properties from zoom plugin?

[2020-07-20 09:02] exextoc commented on #1116
getSharedPropertiesAsync has been rolled out to Insiders and is available in latest IF build 16.40 (20071407). But, the issue reported is reproducible in Message Compose surface alone while it works as expected on other surfaces. Can you confirm this on your side?

[2020-07-20 12:32] stephenegriffin commented on #1234
This is all by design. The CustomProperties interface provides access to a bag of properties specific to the add-in using it. These properties are not stored as individual MAPI properties, but rather as a blob on a single MAPI property (you can find this property with some digging in MFCMAPI). The CustomProperties interface does NOT provide generic access to any MAPI property. That's not part of t

[2020-07-20 12:37] exextoc commented on #1287
Thanks for reporting this issue regarding IsSetSupported API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-07-20 12:48] DmitryKostochko commented on #1285
2exextoc, sorry, my original code sample was incorrect, please try this one:

`    try {`
`      const url = location.origin + '?param1&param2';`
`      console.log(url);`
`      Office.context.ui.displayDialogAsync(url, { width: 30, height: 30 }, (asyncResult) => {`
`        console.log(asyncResult);`
`      });`
`    } catch (ex) {`
`      console.error(ex);`
`    }`

It seems something happens

[2020-07-20 14:23] naemcivic commented on #1116
We currently only use the library in compose mode for Outlook, therefore we are not certain if it works on other surfaces or not. Compose surface is what we are concerned at the moment, which unfortunately doesn't work.

[2020-07-20 14:31] DmitryKostochko opened #1288 "OAuth 2.0 code flow - requested permissions are displayed incorrectly for free (outlook.com) accounts"
In an Outlook add-in for compose mode, we use Microsoft Graph to get access to OneDrive on behalf of a user. The following Microsoft Graph permissions are used in the scope query parameter:
'openid',
'profile',
'user.read',
'files.read.all',
'sites.read.all',

There is a difference in the "Ask to consent to the required permissions" steps for Office365 and Outlook.com accounts. I have attached 2 s

[2020-07-20 15:07] exextoc commented on #1285
We are able to reproduce this issue on our side on above mentioned versions of IE and Edge. Thanks for reporting this issue regarding DisplayDialog API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-07-21 03:03] clavx commented on #1250
@exextoc
How do I get the SMTP email address from the LegacyExchangeDN?
I would like to know if there is an alternative because it has a significant impact on our add-in.

[2020-07-21 06:48] exextoc commented on #1116
Thanks for confirming that you are seeing this issue in Message Compose surface. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-07-21 08:35] SWei1234 commented on #1234
Thank you so much @stephenegriffin @exextoc

[2020-07-21 08:52] westconference commented on #790
I also see this issue where userProfile.emailAddress is undefined with the following environment;
* Outlook for Mac 16.39
* Exchange 2016 Version 15.1 Build 1913.5

Issue does not occur for me on Windows Outlook clients (2016 and 365 check).

[2020-07-21 09:09] DmitryKostochko commented on #1285
@exextoc, I think this issue is quite critical because Edge is the default browser in Windows 10 and users actively use it. Please consider fixing this issue as soon as possible.

[2020-07-21 09:56] exextoc commented on #790
Tracked by BUG 1272638<https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/1272638>
________________________________
From: westconference <notifications@github.com>
Sent: Tuesday, July 21, 2020 2:23 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [OfficeDev/office-js] C

[2020-07-21 10:03] exextoc commented on #790
@westconference Is this issue consistently occurring for all users in the specified environment?  Could you please share a test account with which this issue can be reproduced?

[2020-07-21 10:12] #1234 closed, assigned to exextoc

[2020-07-21 10:14] westconference commented on #790
@exextoc It's consistent yes for all users. I can't share a test account as it's an on-premise lab Exchange Server not exposed externally.

[2020-07-21 11:24] exextoc commented on #790
@westconference  Does any of the APIs under Office.context.mailbox.userProfile work for you? (like displayName,timezone, accountType)?

[2020-07-21 11:36] westconference commented on #790
@exextoc displayName, timezone and accountType are also undefined on Mac Outlook against Exchange 2016. They are all set in OWA

Full JSON stringify output for userProfile on Mac Outlook is below (with actual values swapped out for 'test' etc);

[code]

Note the Exchange server does have a restUrl defined on other platforms even though it is empty here and the getCallbackTokenAsync call succeeds i

[2020-07-21 13:20] naemcivic commented on #1116
@exextoc Can this issue be reopened? or is there another issue we can follow along here?

[2020-07-21 13:26] Murugananths commented on #1148
Hi Team,

I tried with another example attached files. Kindly have a look and advise.
[Manifest.txt](https://github.com/OfficeDev/office-js/files/4953740/Manifest.txt)
[commands.txt](https://github.com/OfficeDev/office-js/files/4953741/commands.txt)
[taskpane.txt](https://github.com/OfficeDev/office-js/files/4953742/taskpane.txt)

Commands.ts ---> It is called execute action from manifest and perf

[2020-07-21 13:34] exextoc commented on #1116
We will update this thread once the issue is fixed.

Internal tracking id: Office:4312812

[2020-07-21 14:04] max-yushchuk commented on #1286
We have the same issue as well. As a workaround just replace:

dialog.addEventHandler(Office.EventType.DialogMessageReceived, function(data){ / code to execute when child sends message });

with:

window.addEventListener("message", function(data){ / code to execute when child sends message }, false);

But I think, it needs to be fixed from OfficeJS side, because it has been worked previously.

[2020-07-21 14:09] westconference commented on #1286
@max-yushchuk yeah adding the message event listener works for us too but I was hesitant to switch away from the framework recommended approach so currently just using a local copy of the February office-js dist. Long term we don't want to do this though as we'll fall behind on getting other fixes in the latest dist.

I notice there was a release updated 14 hours ago but that seems to be exhibitin

[2020-07-21 18:14] exextoc commented on #1249
Thanks for reporting this issue regarding OnSend. We have put this issue in out backlog and are tracking work to improve the behavior. We unfortunately have no timelines to share at this point.

[2020-07-21 18:14] #1249 closed, assigned to exextoc

[2020-07-22 06:24] lakeman commented on #876
I can't find any mention in the online documentation that this tag is required, eg [1](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins-fundamentals#accessing-the-office-javascript-api-library) [2](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/referencing-the-javascript-api-for-office-library-from-its-cdn). Nor is any error or warning displayed to the user

[2020-07-22 07:33] fkranenburg commented on #1255
We have the same problem. This did work correctly before. This issue should be fixed soon!

[2020-07-22 07:50] fkranenburg commented on #1285
This is the same issue as #1255. This should be fixed ASAP because it makes almost any add-in completely unusable.

[2020-07-22 09:38] seandevenish commented on #1285
We have production enterprise code broken by this, it needs urgent attention!

[2020-07-22 10:57] exextoc commented on #1285
Can you tell us which Add-in is impacted by this issue?

[2020-07-22 11:11] exextoc commented on #790
Thanks for sharing this information. We are not able to repro this on our side. However, we are working on another fix which could potentially fix this issue as well. Once fix is deployed, we will reach out to you to confirm if the issue persists or not.

[2020-07-22 12:35] onesev commented on #1285
I am experiencing this as well and the issue is rendering the desktop version of Outlook useless. If you look at #1286 , it's mentioned that this issue didn't occur until July 8th.  I did some digging and it looks like [parseUrl](https://github.com/OfficeDev/office-js/blob/bf505bf7310c28718df373720eab015369d5a15f/dist/outlook-web-16.01.debug.js#L901) is returning a blank url for IE, thus causing `

[2020-07-22 14:06] DCdeVilliers opened #1291 "displayDialogAsync callback unable to bind to dialog object due to 5001 error."
Whilst opening a dialog (displayDialogAsync) from an Outlook web add-in running on Android v10, the callback's AsyncResult parameter has a status property value of Office.AsyncResultStatus.Failed, which prevents binding to the created dialog object via the AsyncResult's value property.

I have only experienced this issue on Android. Web and desktop clients as well as ios work as expected.

## Expe

[2020-07-22 14:12] jlevenssfdc opened #1292 "Unable to access shared mailbox item with REST API with token granted from admin installed add-in"
We are working with OfficeJS in an Outlook add-in.

We're attempting to access an item in a shared mailbox using the prescribed method of getting the shared properties of an item and a rest token, handing those off to our application server where we are performing REST request from.

When we generate the token from a user installed add-in we can do this without issue using the above method.  Howev

[2020-07-22 14:35] jlevenssfdc opened #1293 "Office.SharedProperties delegatePermissions contains int value not defined in Office.MailboxEnums.DelegatePermissions"
I've not looked at all of the users, but of the two that I've looked at the delegatePermissions value returned getSharedPropertiesAsync has a value not defined in the enum Office.MailboxEnums.DelegatePermissions.  I'm seeing values like 63 and 49.

We're unable to use this property if we can't lookup/translate the value in the enum.

## Expected Behavior
The value of delegatePermissions is always

[2020-07-22 15:05] exextoc commented on #1292
@jlevenssfdc This appears to be duplicate of issue #1140 which we have in our backlog. Please track the same for updates. Unfortunately, we don't have any timelines to share regarding this fix.

[2020-07-22 15:07] lliu113 commented on #1274
@kullachokebosuwan-refinitiv - thanks for reporting this! Just to clarify, it sounds like the add-in is working as expected but the error message is annoying? What domain is your taskpane in when messageParent() is called?

Some background: we historically had a more restricted messaging model, where it will only work when the taskpane and dialog are on the SAME domain. This was relaxed to allow m

[2020-07-22 15:53] liamtim commented on #1116
@exextoc Is there any way to bump the priority on this issue? It was initially reported that the function does not work when using Compose mode via Mac OS  3 months ago

[2020-07-22 16:32] JuaneloJuanelo commented on #1140
tracked internally with bug 1496409 (BLR)

[2020-07-22 16:32] JuaneloJuanelo commented on #1292
tracked internally with bug 1496409 (BLR)

[2020-07-22 18:09] algomaster99 opened #1294 "`body.insertHtml` working incorrectly with list items"
## Expected Behavior
I am trying to run this code:
[code]
to expect:
![expected](https://user-images.githubusercontent.com/35191225/88211910-0297d900-cc74-11ea-99c3-402242c768b7.PNG)

## Current Behavior
Somehow, the API doesn't detect the last list item.
![bug](https://user-images.githubusercontent.com/35191225/88211929-0a577d80-cc74-11ea-882f-6e8af841110d.PNG)

## Steps to Reproduce, or Live Exa

[2020-07-23 04:13] davyarris commented on #1140
I have recently experienced an issue that looks the same as this.  In my case though I am iterating through a number of attachments on an email. The problem seems to occur intermittently. For example I get through 10 out of 20 attachments then start receiving the 403 errors.  So I thought it might be related to the access token becoming invalid after it reaches a timeout. I was wondering if this c

[2020-07-23 07:15] axelauvinen commented on #1285
Any update on possible timeline for this fix? We are experiencing massive usability block for a hefty amount of users in our services, and are also opting to rolling back to locally hosted version mentioned in https://github.com/OfficeDev/office-js/issues/1286

[2020-07-23 07:24] Simplici commented on #1208
it just tried, it works now

[2020-07-23 07:29] MandytMSFT commented on #1208
@Simplici thanks for your confirmation. Then i'd like to close this thread.

[2020-07-23 07:29] #1208 closed, assigned to nobody

[2020-07-23 07:38] exextoc commented on #1285
Thanks for providing for more information @onesev. We are actively working on this issue as it is high priority. We will update this thread once the fix is deployed.

[2020-07-23 10:20] rajha-conga opened #1296 "How to run word add-in using internet explorer 11 after update (Windows 10 ver. >= 1903 / Office 365 ver >= 16.0.116291)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

My system got updated to below version of windows OS and Office 365.
**Windows 10 ver. >= 1903 / Office 365 ver >= 16.0.116291**
I want to open the word add-in using **internet e

[2020-07-23 11:30] exextoc commented on #1140
We have fixed the bug and depending on the release channel a customer is on, getting an updated build can take anywhere from 4-6 weeks.

[2020-07-23 11:32] #1292 closed, assigned to nobody

[2020-07-23 14:10] agelenava commented on #1064
just faced the same issue on Exchange 2016 OWA. Do you plan to fix it?

[2020-07-23 14:12] dmbilous commented on #1064
Same story with Exchange 2016.

[2020-07-23 14:19] phihochzwei commented on #933
Is there a certain amoint of voices needed for to get active? We are also in need of this, rather basic feature. In May this year it was actually possible and now it isnr anymore :(

[2020-07-23 14:29] Enotsoul commented on #1285
Hi there, I can confirm that this issue also affects our test, staging AND production environment in  OWA Outlook Addin.
Seems to impact Edge, oddly enough IE 11 seems to work for what I've tested. (Other things don't work there, but that's another issue)

[code]

[2020-07-23 14:34] exextoc commented on #790
We would like to have a look at the network trace for an Account that is facing this issue. Can you share the same to MeganB@M365B998009.OnMicrosoft.com ?

[2020-07-23 14:48] GrumpyAL opened #1295 "When opening a shared mailbox in OWA by "Open Another Mailbox" item.getsharedPropertiesAsync is undefined"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When using OWA to open a shared mailbox by selecting "Open Another Mailbox" we are unable to determine that we are in a delegate scenario / shared folder

## Expected Behavior
item.ge

[2020-07-23 15:00] exextoc commented on #1064
Tracked by 1429370
________________________________
From: Dmytro Bilous <notifications@github.com>
Sent: Thursday, July 23, 2020 7:42 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Outlook add-in: Calling saveAsync on CustomProperties results in Undefined Async

[2020-07-23 16:25] JuaneloJuanelo commented on #1214
The issue is fixed and will be released in the next semi-annual update. (to be released ~ Jan 2021)

[2020-07-23 16:25] #1214 closed, assigned to nicheungMSFT

[2020-07-23 17:26] lindalu-MSFT commented on #1281
Hi, sorry for the delayed response! We're a bit short on resources this week due to vacations. I assigned this to the Word team to investigate. Thanks, linda

[2020-07-23 17:29] lindalu-MSFT commented on #1282
@kullachokebosuwan-refinitiv Hi, sorry for the delayed response! We're a bit short on resources this week due to vacations. I assigned this to the correct team to investigate. Thanks, linda

[2020-07-23 17:38] lindalu-MSFT commented on #1296
Hi @rajha-apttus , thanks for taking the time to report this issue. I've assigned this to the right team to triage. Meanwhile, since this is more of a "how-to" question, and so we suggest you post this question on Stack Overflow and tag it office-js. You might get a faster response from the Word developer community!

[2020-07-23 17:42] lindalu-MSFT commented on #1294
Hi @algomaster99, thanks for taking the time to open this issue. This is more of a "how-to" question, and so we suggest you post this question on Stack Overflow and tag it [office-js and Word](https://stackoverflow.com/questions/tagged/office-js+word). You should get a response from the developer community there! This repo is for report bugs and blocking issues, not programming questions.

[2020-07-23 17:42] #1294 closed, assigned to nobody

[2020-07-23 19:00] lindalu-MSFT commented on #1274
@kullachokebosuwan-refinitiv Our Eng just reported they could repro this. That's good news! It's under investigation, will let you know when a fix is available. No time expectation yet.

[2020-07-23 23:15] lindalu-MSFT commented on #1286
Hi, sorry for the delayed response! We're a bit short on resources this week due to vacations. I assigned this to the Outlook eng team to investigate. Thanks, linda

[2020-07-23 23:34] #1107 closed, assigned to RuoyingLiang

[2020-07-23 23:35] #1140 closed, assigned to nobody

[2020-07-23 23:38] #1087 closed, assigned to lumine2008

[2020-07-23 23:38] #751 closed, assigned to exextoc, peronald

[2020-07-23 23:38] #312 closed, assigned to weshi

[2020-07-24 00:04] JuaneloJuanelo commented on #1096
@max-yushchuk  can you please confirm now tht the issue is fixed?

[2020-07-24 00:05] JuaneloJuanelo commented on #1095
We still have the issue in Mobile browsers, so we need to keep this open.

[2020-07-24 00:06] lindalu-MSFT commented on #1095
@JuaneloJuanelo THanks for letting me know! Please remove the "resolution" tag so the bot won't close it as a stale issue. I was simply doing a manual cleanup prior to FHL.

[2020-07-24 00:08] lindalu-MSFT commented on #1095
Removed resolution label and added under investigation. This will not be closed now! It will remain open "by design."

[2020-07-24 00:11] lindalu-MSFT commented on #1096
@JuaneloJuanelo thanks for adding the needs author feedback tag! That will override "status: fixed" until customer confirms.

[2020-07-24 00:37] mike-thompson-day8 commented on #1054
@lindalu-MSFT  can you explain the resolution of this, please?  The reason for closing?

We carefully provided a repo which replicated the problem. ***We then participated in a screenshare session with members of the Microsoft team and they acknowledged the problem is real.***   This is clearly a serious problem.

[2020-07-24 00:56] lindalu-MSFT commented on #1054
@mike-thompson-day8 Misunderstanding! This was tagged resolved. I removed the resolved tag and readded the needs attention. In addition, I added under investigation so it won't get closed again. The issue is reopened!

[2020-07-24 04:36] topkoong commented on #1220
Any update on this? @xiaochunms

[2020-07-24 04:59] rajha-conga commented on #1296
Sure @lindalu-MSFT
Thanks for reply.

[2020-07-24 06:58] exextoc commented on #1286
We are able to reproduce this from our side. Thanks for reporting this issue regarding DisplayDialog. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-07-24 08:01] max-yushchuk commented on #1096
The second issue (when "Conversation View" is "off") was fixed.
But the first and the main issue in this thread (switching between items in conversations) still exists.

[2020-07-24 10:13] exextoc commented on #474
The issue is in our backlog and we will update the thread once the fix is available. Thank you for your patience.

[2020-07-24 13:04] exextoc commented on #1291
We would like to have look at the handler methods also. Can you share the entire code snippet including the handler methods?

[2020-07-24 13:13] DCdeVilliers commented on #1291
The entire code snippet as requested...

[code]

[2020-07-24 17:16] lindalu-MSFT commented on #1054
@lliu113 Hi, reassigning to you as this appears to be a content add-in issue. Can you help with this? Thanks in advance!

[2020-07-24 18:55] exextoc commented on #1268
In the desktop client, if the initial page of the add-in returns a 401 response, the 401 is handled and the add-in error is displayed in the displayDialog.

I noticed in the repro steps that you mention that the app crashes. Does the entire add-in show an error or just the displayDialog?

[2020-07-24 19:04] cbishop-fv commented on #1268
Hi, for clarification the app opens a dialog for auth. When the 401 happens the taskpane sidebar app is unchanged, still displays our page / app where it was when the auth dialog modal opens. When the 401 occurs the dialog modal is what shows the yellow "ADD-In ERROR" message seen in the OP. So to answer just the displayDialog shows the error.

[2020-07-24 23:06] exextoc commented on #1293
[Office.MailboxEnums.DelegatePermissions](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.delegatepermissions?view=outlook-js-preview) is a bitmask that represents a delegate's permissions on a shared folder. For example, when you receive 63 as the value for delegatePermissions, which is represented as 111111 in binary, this means that the permissions DeleteAll, DeleteO

[2020-07-25 00:01] exextoc commented on #1268
The add-in error you are seeing is by design. The win32 client handles 401 responses and will display this error in the displayDialog (the taskpane will remain unchanged).

A possible workaround is to set the sourceLocation to a page that does not require authentication, and then perform the login from that page. This way if there is a 401 response, the navigation will occur to a page that does no

[2020-07-25 17:45] shyambhiogade opened #1297 "how to allow single sign on login using office 365 from office desktop addin"
we have an office excel addin developed using office.js. to be able to use our addin - the user needs to have user id and password to log in. We provide the single sign-on option with office 365 along with other sign-in option.

![image](https://user-images.githubusercontent.com/10468130/88463087-0b033600-ce65-11ea-912c-83feb9ff6952.png)

As I understand any domain accessed from the office addin s

[2020-07-25 19:30] zzpzzh opened #1298 "addSecureTextField(placeholder: string, text: string)"
Post feature requests at https://officespdev.uservoice.com/

[2020-07-25 23:23] #1298 closed

[2020-07-26 07:36] shyambhiogade commented on #1297
@weshi @lindalu-MSFT @Rick-Kirkham can you please help

[2020-07-27 09:03] exextoc commented on #1295
Delegate add-ins scenario are currently undefined for shared mailboxes that are accessed through 'Open another mailbox'. This is in our product backlog and we will update our documentation when its available.

[2020-07-27 09:13] exextoc commented on #1291
Can you please try moving the handlers (processLoginMessage, processLoginDialogEvent) above the displayDialog API.

[2020-07-27 10:16] exextoc commented on #1096
The update given was for the second issue. First issue is in our backlog. We unfortunately have no timelines to share at this point.

[2020-07-27 11:42] kamilmach opened #1299 "content controls are not deleted when track changes is turned on"
## Expected Behavior

Content Controls should be deleted.

## Current Behavior

After creating new content control - turning on 'track changes' and putting a comment on content control causes this content control to be 'undeletable'
## Steps to Reproduce, or Live Example

* Repro steps:
  1. create new content control by running this gist : https://gist.github.com/kamilmach/8178ff3f857174c881104bc

[2020-07-27 13:51] dho-caissa commented on #1254
@lindalu-MSFT is there any update to the issue? Any recommendation? thanks again

[2020-07-27 14:57] pbl2108 commented on #1254
Hi @lindalu-MSFT could you please provide an update on this? We have reported this issue in January 2020 and we have not received any kind of explanation as to what's the cause of the 60 second timeout limit on the HTTP requests made by Excel custom functions. We have clients facing issues with this. Any solution to avoid this will be much appreciated.
Thanks,
Petre

[2020-07-27 15:00] ghost commented on #790
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-27 15:43] cbishop-fv commented on #1268
🤔 hmmm I am not sure I follow. I am not sure what " then perform the login from that page " would look like, especially using a AWS cognito hosted login. We already start the user on a sourcelocation that is a local unauthenticated page since we can't start them on AWS cognito. From there we redirect them to a cognito hosted login and thats where the 401 can occur. I think to handle the way you ha

[2020-07-27 17:24] lindalu-MSFT commented on #1254
Hi, the assignees can provide the update. I'm just the triage person!

[2020-07-27 17:45] pbl2108 commented on #1254
Thanks @lindalu-MSFT . Can someone else please provide an update or explanation on the cause for this issue?

[2020-07-27 18:00] ghost commented on #1283
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-07-27 20:07] lindalu-MSFT commented on #1297
@RuoyingLiang Can you please help us triage this matter?

[2020-07-27 20:35] hmistry-lz opened #1300 "`displayNewAppointmentForm` function is not setting html content correctly in macOs."
`displayNewAppointmentForm` function is not able to set HTML content in Outlook Mac.
the same function works fine in Office365.
I want to display HTML content in the appointment Body but it shows me HTML tag in a plain string.
![image](https://user-images.githubusercontent.com/53185673/88589037-236a8080-d01e-11ea-8e96-49c2fb302c81.png)

## Expected Behavior
It should set HTML content in the appoin

[2020-07-27 22:40] #1293 closed, assigned to exextoc

[2020-07-28 07:18] abhsha opened #1301 "Office Dialog API not working on Outlook Client from Outlook AddIn"
Pop-Up opened with office dialog API not getting closed in Outlook Client. It is working for OWA. We are trying to open dialog using Outlook -AddIn.

## Expected Behavior
Pop-Up should close on every environment.

## Current Behavior
Pop-Up not getting close in Outlook Client from Outlook Add-In.

## Steps to Reproduce, or Live Example
Template used for Outlook AddIn  :Office Add-in Task Pane proj

[2020-07-28 08:56] exextoc commented on #1300
Thank you for reporting this issue. This has been put in our backlog. We unfortunately have no timelines to share at this point.