[2020-11-11 14:48] BEPLA99 commented on #1488
I’m sorry, the officeatwork-add-ins are the only add-ins we deploy centralized.
PDF-Xchange is via local installation as add-in available.

Mit freundlichen Grüßen
i.A. Dipl.-Ing. Bernd Platzek

assmann GmbH
Baroper Straße 237
44227 Dortmund
Fon +49.231.75445.134
Mobil +49.163.7544534
platzek@assmanngruppe.com <mailto:platzek@assmanngruppe.com>
www.assmanngruppe.com <https://:/www.assmanngruppe.co

[2020-11-11 17:28] osvath58 opened #1498 "Office.js Excel Add-in manifest update does not update command/ribbon"
We have developed an Office Add-in for Excel, when an updated manifest is uploaded, the next time Excel is opened, the add-in should be updated.

The code for the panel is updated as expected, as well as the changes to the ribbon/commands. This holds true for the add-in panel, nut the command ribbon is not showing the latest changes for all users. Some see it right away, but others have to go into

[2020-11-11 17:49] LanceEa commented on #12
@megharajdeepak - We have users that download 750k rows x 60+ columns and it can do this relatively quickly under 2 minutes pending column width and size.

Out add-in is in a stable place (mostly maintenance at this point) so its been awhile since I looked at the Excel API. But, I can outline some techniques we used and how we try to maximize the concurrent work.

1. Web Sockets - Allows us to str

[2020-11-11 19:23] leticiabecker commented on #1463
Hi @lumine2008, thanks for replying.

Most of our users' templates have worksheets with frozen rows and columns, but some of those worksheets might be hidden at times.
Our Excel Add-in has 2 buttons: `Deactivate Flags`* and `Activate Flags`*.

- `Deactivate Flags` basically allows users to change all their template worksheets to a "raw" state, unfreezing panes, showing hidden columns and rows, amo

[2020-11-11 20:14] jeremy-msft commented on #1488
@BEPLA99, it appears that PDF-XChange is a COM add-in?  Can you please let us know if the issue occurs with other web add-ins instead, checking with both Store and Centralized Deployment?

[2020-11-11 22:15] smaremanda commented on #1436
@westconference - thanks for bringing this up during the community call this am. We're working on this issue along with the Edge team. I can confirm that we are able to repro this internally. Will keep you updated on the progress.

[2020-11-11 22:15] smaremanda commented on #1036
Thanks for the update.

[2020-11-11 22:15] #1036 closed, assigned to smaremanda

[2020-11-11 22:16] smaremanda commented on #982
Thanks for the update.

[2020-11-11 22:16] #982 closed, assigned to croicu

[2020-11-11 22:17] smaremanda commented on #848
@EdwinStraver - I have an internal bug opened on this one. We will follow up with you if we need more info and will keep you updated on the progress.
Curious does this repro for you on the new Edge Webview2 as well?

[2020-11-11 22:19] EdwinStraver commented on #848
I think so, but can you tell me how I can tell for sure if I am using the new Edge Webview 2 ?

From: Sudheer Maremanda <notifications@github.com>
Sent: Wednesday, November 11, 2020 14:18
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Edwin Straver <Edwin@solver.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Dialog widens itself with Edge control, to fit

[2020-11-11 22:26] EdwinStraver commented on #848
For example, here is one of our dialogs we pop up, where Edge is ignoring the specified width:

[Graphical user interface, application  Description automatically generated]

From: Sudheer Maremanda <notifications@github.com>
Sent: Wednesday, November 11, 2020 14:18
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Edwin Straver <Edwin@solver.com>; Mention <mention@noreply.github.com>
Subj

[2020-11-11 23:58] extremeandy commented on #1297
We are also facing this issue. We're rolling out to hundreds of clients, who may have different company portals they're required to sign into, and it's not really feasible to hand-craft a manifest file for each and every client.

[2020-11-12 04:14] ArjunSureshKumar92 commented on #1402
Got the customer to update to Windows 10, but still have the exact same issue.
Update info:
Windows 10: 1909
Outlook version(o365) : 2002
MSO version: 16.0.12

We are close to losing the customer, any help will be much appreciated. Thanks

[2020-11-12 07:26] MandytMSFT commented on #1497
@hxltinh Thanks for reporting! This should be an issue, I logged  BUG 4635116 for internal track.

[2020-11-12 09:17] megharajdeepak commented on #12
Hi @LanceEa
Thank you for comprehensive steps that seemed to have worked great for your use case. Before trying out web socket, web worker and batch processing, I wanted to give the 3rd download mode a try ie, No Excel Table and only write data to Excel Range.

After struggling for 2 days, I couldn't believe my eyes and it looked truly magical that the add-in stopped crashing, with a cherry on top

[2020-11-12 12:58] SWei1234 opened #1499 "Office.context.mailbox.item.body.getTypeAsync get 5001 error on Mac"
When trying call :
Office.context.mailbox.item.body.getTypeAsync(function (result) {
                    if (result.status == Office.AsyncResultStatus.Failed){
                        zopLog("getBodyType: Office.AsyncResultStatus.Failed:"+result.status);
                        //...
                    }
                    else {
                        //...
                    }

[2020-11-12 15:26] wh1t3cAt1k commented on #1449
Hey guys, also encountering this issue, any update so far? @lumine2008

[2020-11-12 15:58] ArjunSureshKumar92 commented on #1402
@ElizabethSamuel-MSFT
Is it possible for IRM or other security features to prevent the add-in from getting the item info.

[2020-11-12 17:00] ElizabethSamuel-MSFT commented on #1402
@ArjunSureshKumar92 Thanks for providing this additional info.

@exextoc Can you take another look?

Thanks.

[2020-11-12 19:40] exextoc commented on #1402
Are you using IRM or signed messages? To activate add-ins on IRM make sure that you have the requirements documented [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview#add-in-activation-on-items-protected-by-information-rights-management-irm) and [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/

[2020-11-12 19:56] smaremanda commented on #848
I cant see the image you uploaded. can you try again? Also, to confirm you are running WebView 2, right click within your taskpane and you should see an option to "Inspect". this will launch the new Edge WebView 2 developer tools.

[2020-11-12 20:00] EdwinStraver commented on #848
Yes, we see "inspect", and so we are using Edge.

Here is a screenshot of a dialog that has been widened by the control:

![image](https://user-images.githubusercontent.com/27964706/98989902-9a009080-24de-11eb-8f58-5a689d9e8a69.png)

[2020-11-12 20:01] EdwinStraver commented on #848
Note that this only happens if the url is "too long". If Edge wouldn't display the url (which frankly is really what we would like), this problem would not happen.

[2020-11-12 20:10] smaremanda commented on #848
Ok got it. we display the URL for security purposes, so the user is aware what is being loaded into the dialog. Let me check to see if there are ways around it - but just to set the expectation, this is likely by design.

[2020-11-12 22:26] exextoc commented on #1522
What value are you passing into removeAttachmentAsync as your attachmentId? Can you please share the code snippet that you used to get this error?

[2020-11-12 22:49] smaremanda commented on #1470
@swiecaJS - great question. yes, we force add-ins with "Runtime" manifest element to run in IE/Trident today. I believe you have 3 main questions here in this post:
1. is there a ways to test this functionality with EdgeHTML [the legacy Edge WebView]
-- No, there isnt a way at this point. In fact we dont recommend it because we believe there will likely be some errors you will encounter.
2. Is the

[2020-11-13 00:54] exextoc commented on #1492
Thanks for bringing this to our attention. We don't support Office.context.host for Outlook 2016 MSI, and we will fix the documentation. You can you try using [Office.context.mailbox.diagnostics](https://docs.microsoft.com/en-us/javascript/api/outlook/office.diagnostics?view=outlook-js-1.7) which has hostName.

[2020-11-13 03:09] lumine2008 commented on #1449
Thanks @wh1t3cAt1k for your ask, the issue was fixed, it is rolling out stage, but not yet deployed to production.

[2020-11-13 03:13] Kaidali commented on #1473
Not sure what version/build of Office you're working on, but probably you're still in Office2010?
if so, then we recently fixed an issue about EnumVariantInterceptor::Next, and a new deployment of the library is currently planed on Nov 17, then this issue would get a fix. Thanks.

Regards,
Flora

[2020-11-13 04:04] zerobytes909 opened #1500 "Outlook Client Add-in blocking downloads"
Tag your question with office-js or outlook-web-addins

I have a outlook add-in for 2016.  The add-in fetches and streams files to download.  The add-in on any web browser works perfectly fine, however on the client outlook I'm successfully opening the download stream as file but the Outlook Desktop client is blocking all downloads.  I have tried everything.  Any suggestions?

[2020-11-13 12:23] 4tti commented on #848
I agree with @EdwinStraver that actually it would be nice to have option to not show the URL although I understand the reason why it is being displayed.

[2020-11-13 15:10] SuprajitGhosh opened #1501 "context.sync is throwing error in windows 10 build 1909 but not in 1803"
We have been creating an office add-in for excel for our client. In Dev environment we have office 365(Microsoft Excel for Microsoft 365 MSO(16.0.13231.20250) 64-bit) and windows version 1803 (OS Build 17134. 1488). The custom tab we have created contains various buttons to perform read write operation on the excel. This is not working On one of the staging system. The only difference is that the

[2020-11-13 16:05] EdwinStraver commented on #848
Yes, and if it is by design, you probably want to update the documentation for the DisplayDialogAsync, and note that setting the width as described, simply doesn't work.

[2020-11-13 16:59] ivark16 opened #1502 "OnChanged Event handler in Excel add-in is not invoked until mouse is hovered over TaskPane when two or more Microsoft accounts are linked to Excel."
I'm creating an add-in in Excel where I want to detect changes in the workbook and update the button ribbon when certain criteria are met. By changing the button ribbon I mean disable and enable a button that I have defined in the manifest.xml, other than the one that opens the panel.

I have a "Sync" button that's displayed in the Excel ribbon. By default the button is disabled but when the docum

[2020-11-13 17:02] ivark16 commented on #1371
It seems to be working now, thank you guys so much! 😃

[2020-11-13 17:12] yowl opened #1503 "Excel custom function: null is converted to 0 when returning an array"
When a custom function returns an array that contains null , '0' is displayed in Excel as though the number 0 was in the array.  A better result would be to leave the cell empty, so that ISBLANK returns true.

## Expected Behavior
Not 0, I would prefer to have cell blank so that ISBLANK returns true

## Current Behavior
null values in javascript are converted to 0:
![image](https://user-images.git

[2020-11-13 18:42] exextoc commented on #1500
Could you share the Outlook build number you are using to test this/seeing this behavior on? Also could you please elaborate the steps to reproduce this issue. Screenshots or code snippets will also help.

[2020-11-13 18:58] jeremy-msft commented on #1371
You're welcome, we're glad we were able to resolve this!

[2020-11-15 07:19] samfrach commented on #61
We are in november 2020, you are working on it since 2018... is it so hard ?

[2020-11-15 10:56] lumine2008 commented on #1494
Thanks, @AbhishekGupta100 for your post, as our design principle is to align with UI,
if the discontinuous range is in the same column or row, we will support, but due to both Win32/Mac and Excel Online doesn't support copy discontinuous range to another discontinues range from UI action, therefore, this action is not supported via API as well. Thanks for your support

[2020-11-15 14:51] zerobytes909 commented on #1500
Outlook build is 365 MSO (16.0.133328.20262) 64 Bit.  However we have other users with same experience on MAC versions.

I am running a Javascript Outlook 365 add-in ( that is a get from our server ) that uploads and downloads files.  The Javascript calls a Java include through iFRAME, the IFRAME is from the same server address to prevent any CORS.

<iframe src="" class="iframe" id="myframe" scrol

[2020-11-15 21:55] namnn96 commented on #1469
Hi @hjkim-MSFT and @JiayuanLiMSFT,

Do you have any updates on this issue?

[2020-11-16 03:37] exextoc commented on #1479
There are some alternative ways for parent-to-dialog-box messaging suggested here- https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#conditional-messaging-from-parent-page-to-dialog-box. Can you please try those?

[2020-11-16 05:26] MandytMSFT commented on #1501
@SuprajitGhosh Thanks for your reporting. Is that possible to share your test code with a scriptlab gist to help us repro?  or did you simply try workbook.worksheets API with scriptlab to see whether the API call itself works or not ?   And what's the Excel Version on the bad environment?

[2020-11-16 05:43] MandytMSFT commented on #1502
@ivark16 Thanks for the reporting! Based on your description, 2 factors may be related. 1) onChanged event didn't be triggered timely. I have tried on my machine , the onChanged is always triggered on time. 2) The render for ribbon button is delayed.

Could you help confirm if the onChanged event is triggered timely in your machine?

[2020-11-16 08:08] BEPLA99 commented on #1488
We don’t use any other web-addins.

Mit freundlichen Grüßen
i.A. Dipl.-Ing. Bernd Platzek

assmann GmbH
Baroper Straße 237
44227 Dortmund
Fon +49.231.75445.134
Mobil +49.163.7544534
platzek@assmanngruppe.com <mailto:platzek@assmanngruppe.com>
www.assmanngruppe.com <https://:/www.assmanngruppe.com>

<https://zoom.assmanngruppe.com/zoom/details/lernwelten-von-morgen-1-1>[cid:image001.png@01D6BBF8.11

[2020-11-16 09:20] jak-hammond commented on #1479
Thank, I've seen that piece of documentation, however, due to #1474 and #1399 I am trying to find a solution that will work for all platforms, which is proving difficult given these 3 issues combined. This `messageChild()` functionality seems to solve everything, from our testing, hence our eagerness to get this issue fixed so we can implement it, if it could be bumped up in some priority, that wo

[2020-11-16 11:35] ivark16 commented on #1502
Hi @MandytMSFT, thanks for your fast reply!

I have checked and the onChanged event handler isn't triggered until the add-in is hovered. (Check [this video](https://www.loom.com/share/c688fa28006f45c0ab58e59d9be71d6e) where I demonstrate this. The mouse isn't as clear as I wanted it to be but I was trying to demonstrate that the code is not triggered until I hover the TaskPane add-in). I checked t

[2020-11-16 12:34] iuri1994 commented on #1488
Hi, I had a similar error, this is a certificate error, you need to go to the page where your server is allocated, and you need to allow, after this, you can access.

![image](https://user-images.githubusercontent.com/51403191/99252950-bdda1400-2807-11eb-810d-1e5c8cb2809a.png)

[2020-11-16 12:48] BEPLA99 commented on #1488
Hi, iuri1994.

That is not the message we get. And, the add-ins were installed from Microsoft’s cloud server – and we can trust them.

Mit freundlichen Grüßen
i.A. Dipl.-Ing. Bernd Platzek

assmann GmbH
Baroper Straße 237
44227 Dortmund
Fon +49.231.75445.134
Mobil +49.163.7544534
platzek@assmanngruppe.com <mailto:platzek@assmanngruppe.com>
www.assmanngruppe.com <https://:/www.assmanngruppe.com>

<

[2020-11-16 15:57] dcegress commented on #1484
Regarding the above, we have some users that do not have an OWAMailboxPolicy appliend with OnSendAddinsEnabled set to true, however when they use OWA and click Send, the Add In code runs.

Based on the documentation this should not happen?

[2020-11-16 20:10] jeremy-msft commented on #1488
@BEPLA99, could you please help with the following troubleshooting steps per my earlier posts so we can try narrowing down the issue?

[2020-11-16 21:07] jnSWPC opened #1504 "[office-js] - Is there a way to update the data source range of existing pivot table via code."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

There is a pivot table existing on a sheet.. Via code I would like to update the data source range without having to delete and recreate the pivot table.. Is there a way to do this ?

[2020-11-17 00:56] Byron-Mo opened #1505 "Duplicate Draft Events being Created in Outlook Web Access (OWA) after loading Add-in in New Event create window"
## Update
This issue is also occurring on both Windows Outlook Desktop and Outlook for Mac. In these instances, after item.saveAsync is called, a draft of the event is saved even though the user chose to discard the event

![image](https://user-images.githubusercontent.com/14811552/110045919-4a99d680-7d00-11eb-9ad2-c11882aabf34.png)

## Expected Behavior

When the user creates a new event in Outlo

[2020-11-17 02:17] SWei1234 commented on #1460
Hi @exextoc
Please help reopen this issue.

[2020-11-17 03:00] ghost commented on #1470
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-17 03:43] grangeryy commented on #1503
Thank you, @yowl , for reporting the issue. We have some investigation on this and currently it is a by-design behavior by dynamic array, and it is consistent with VBA UDF.

[2020-11-17 05:12] exextoc commented on #1400
We have fixed the issue with attachmentId. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-11-17 05:25] exextoc commented on #1487
We have fixed the issue with Body API and fix is available in build >= 16.44(20111502). Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-11-17 05:25] #1487 closed, assigned to nobody

[2020-11-17 05:41] exextoc commented on #1460
Per new response by OP, reactivated github and Bug 1749805<https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_workitems/edit/1749805>: New GitHub Issue [OfficeDev/office-js]: [Outlook] loadCustomPropertiesAsync can't access custom property on Mac outlook application(9020)

[MS Logo]       Philip Chan
pchan@microsoft.com
________________________________
From: SWei1234 <notificatio

[2020-11-17 06:44] SWei1234 commented on #1499
Hi @exextoc
More and more user met this problem. Any idea?
Thanks

[2020-11-17 07:10] exextoc commented on #1434
As mentioned, unfortunately we do not have any workarounds in new Mac UI. However you can use it for other clients like OWA and Win32. Also this issue has been added to our backlog. But we do not have any timelines to share at this point.

[2020-11-17 09:14] jameshoward opened #1506 "Unable to add attendees in new Outlook (Mac) if field is focussed"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

The following code, triggered as an add-in command, should add `test@example.com` to the required attendees field:

[code]

## Current Behavior

The code above w

[2020-11-17 10:49] exextoc commented on #1484
The addin code will run. But even in that case are you seeing the popout coming up with its controls disabled?

[2020-11-17 11:27] dcegress commented on #1484
So what is the point of OnSendAddinsEnabled true / false then if the code always runs ?

[2020-11-17 12:34] exextoc commented on #1485
Hi,

Could you please share Fiddler trace for this issue to addin-help@outlook.com.
This is required to debug this issue from our end.

Here are the steps

1.	Install Fiddler.(https://www.telerik.com/fiddler)
2.	Close ALL applications.
4.	Launch fiddler:
•	Go to: Tools -> Options… -> HTTPS
•	Enable "Decrypt HTTPS traffic"
5.	Launch Outlook Desktop Client:
•	Run the flow which has issue.Here update

[2020-11-17 12:46] BEPLA99 commented on #1488
Hi,

it does work for a user with no (or a brand new) roaming profile who log on for the first time at this very pc. If a user HAS a working roaming profile and log in on a different pc it’s sometimes working and sometimes not – that’s the weird situation.

Making a brand new profile and delete the current one on the different pc works every time. So the question is: where in the profile-path or i

[2020-11-17 13:16] yowl commented on #1503
Thanks,  ok I understand that compatibility with VBA could be important.  For now I've wrapped the result in
[code]
Which converts the nulls to empty strings.  It's not great either (ISBLANK returns false for '') but at least visually it looks right.

[2020-11-17 16:48] ig-jb opened #1507 "Office.context.document.url does not get updated when a document is renamed"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Currently, I believe the only way to get access to the document name is to parse Office.context.document.url. This value gets updated after document reload (i.e. close and reopen) if

[2020-11-17 18:15] exextoc commented on #1505
Thank you for reporting this issue. It can be repro-ed and we have added this to our backlog. Unfortunately we don't have any timelines to share at the moment.

As a workaround, you can try refreshing this page and this duplicate draft should disappear.

[2020-11-17 18:32] exextoc commented on #1476
Hello, @jak-hammond - For OWA can you please check whether DialogApi 1.2 is behaving ideally or not? The fix has been made and is in process of being rolled out.

For Mac scenarios, we will communicate in the other github thread (https://github.com/OfficeDev/office-js/issues/1479)

[2020-11-17 23:00] jeremy-msft commented on #1488
Thanks -- based on that information, we will need ULS and WinDbg TTD logs to debug this issue further.  That is beyond the scope of this venue, so please open a case with Microsoft Support who can help guide you through collection.  Please make sure to reference this GitHub issue so they can route the logs back to us.

[2020-11-17 23:00] ghost commented on #1522
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-17 23:00] #1488 closed, assigned to jeremy-msft

[2020-11-18 02:24] exextoc commented on #1402
With IRM, the behavior should be that the addin's would not open and addins should not be available.

I want to verify your repro here. does Office.onReady get called by the framework? (note that the framework / office.js+outlook.js should call Office.onReady). API's are not guaranteed to be ready. Office* APIs (including Office.context.mailbox.item) are only ready during or after Office.onReady/i

[2020-11-18 03:38] exextoc commented on #1460
@SWei1234 Please confirm with customer whether customProperty write is successful.
Meanwhile, we will investigate why first few minutes after Outlook boot, behaves differently.

[2020-11-18 05:39] wsywq commented on #1505
Hi @exextoc  , i also met this issue. It's a quite confused for me. Hope you can fix it soon! Some of our customers also met this issue. I think it has a big impact on many people.

[2020-11-18 05:56] SWei1234 commented on #1460
Hi @exextoc
Sure, I 'm waiting customer's response.
But I think writing should be successful. Because even if you need to wait for some time, you can still read the custom properties successfully in the end.

[2020-11-18 06:04] wsywq opened #1508 "Outlook Add-in: Office.loadCustomPropertiesAsync cannot get the custom property of a exception meeting"
In my Outlook Add-in, i try to call Office.js API to save some information for a meeting. According to MSFT docs, i use Office.loadCustomPropertiesAsync to do it. Add-in calls this interface to get the custom property(cecp-clientId) of a exception meeting.
## Expected Behavior

My expect result is that Add-in can get the custom property of this exception.

## Current Behavior

But actually, it ret

[2020-11-18 08:00] MandytMSFT commented on #1493
Currently the feature you requested is not supported due to security reason. We track Office Add-in feature requests on our [UserVoice page](https://officespdev.uservoice.com/) Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

[2020-11-18 08:00] #1493 closed, assigned to nobody

[2020-11-18 08:14] 2bigO opened #1509 "displayDialogAsync not working every time, works sometimes, hooked to on-send event in an outlook web add-in"
## Expected Behavior
`displayDialogAsync` should show the dialog every time.

## Current Behavior
The dialog is not shown in about 1 out of 3 times, this happens when my users click send (the dialog is hooked to `ItemSend` event) in long email threads. It gets stuck in `[add-in] is working on your request`.

It's very important for my use case that the dialog is shown evry time consistently.

## S

[2020-11-18 13:02] DmitryKostochko opened #1510 "Outlook Desktop, Outlook for Mac, setSelectedDataAsync produces incorrect formatting for lists"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The setSelectedDataAsync method inserts HTML with incorrect markup, the last item in a bulleted or numbered list is inserted as a paragraph instead of a list item.

## Expected Behavior
The setSelectedDataAsync method should work as expected.

## Current Behavior
The setSelectedDataAsync method ignores markup,

[2020-11-18 13:12] adem opened #1511 "Re-introduce `frame-src blob:` CSP directive to re-allow downloading Blobs via the Task Pane"
## Expected Behavior
In Firefox, I expected to get a browser download dialog when clicking on a link with its `href` attribute pointing to a Blob URL.

## Current Behavior
I get the following error reported in the console:

My suggested change involves adding `blob:` as a valid scheme-source to the `frame-src` CSP directive. I would argue that this change does not have any security implications co

[2020-11-18 13:57] lumine2008 commented on #1463
Thanks, @leticiabecker for your reply, we are still having an internal discussion about whether we should support freeze and unfreeze when the worksheet is invisible. as there will be potential bugs and issues if we support, therefore we have a workaround solution for your scenario, you could register the freeze/unfreeze operation to onActivated event, and implement freeze/unfreeze when the target

[2020-11-18 14:24] ig-jb commented on #1492
Thanks @exextoc, I'll use the workaround for 2016.

[2020-11-18 15:41] CarlSutter commented on #1504
There is not currently a way to do this, but this is being actively worked on and should be available in the beta version of the JS-API soon.

[2020-11-18 19:06] ArjunSureshKumar92 commented on #1402
_ does Office.onReady get called by the framework? _

The entire code is written inside office ready.
`Office.onReady(function () {
// the entire code...
});`

_The other thing to check - have you checked the console log to see if there are errors there._
Not sure what you mean, one of our customers is facing this issue in their outlook desktop version. Not sure how I can get the console logs. Can

[2020-11-18 19:12] exextoc commented on #1402
Got it on Office.onReady. I wasn't sure if the result was because of clicking on refresh, or if the result was filled in from the code in Office.onReady
In terms of console log, a debugger needs to be attached https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10 To do this, you will need access to the customer's repro.

[2020-11-19 01:02] exextoc commented on #1500
Could you show us the screenshot or video of the repro showing the error?
Also, I am not familiar with the download code here, Could you include more details or snippet on the iframe or how this code is used in the addin?

[2020-11-19 01:25] #1492 closed, assigned to nobody

[2020-11-19 03:59] exextoc commented on #1510
@DmitryKostochko We can reproduce the issues, while we investigate the root cause.
Can you append `<br />` or any other tag to your content as a work around?

    function setSelectedDataAsyncTest() {
        Office.context.mailbox.item.body.setSelectedDataAsync(
             '<ul><li>A</li><li>B</li><li>C</li></ul><br />',
             { coercionType : 'html' }, (asyncResult) => {
             if

[2020-11-19 06:12] SuprajitGhosh commented on #1501
Hi @MandytMSFT. Thank you very much for replying.
We have been using Visual Studio 2019 to create the add in. The excel version of the bad environment is version 2009(Build 13231.20262 Click to run).
The issue is occurring for the app we developed. Have not yet created a separate sample code to check if it is happening for that too as this is a staging system and installing VS in this environment

[2020-11-19 08:56] DmitryKostochko commented on #1510
@exextoc, thank you for a quick turnaround!

Sorry, we cannot modify the content.

[2020-11-19 09:04] DmitryKostochko commented on #1483
@exextoc, sorry for bothering you but do you have any news regarding this issue?

[2020-11-19 13:15] AhmedJDev opened #1661 "NotificationMessageAction contextData implementation not clear"
Hi!

I have been able to get the notification action working and it opens a the task pane as requested. I want to pass data across and I see there is a property call contextData which I pass JSON data to. But it isn't actually clear on how to get that information because when the function is called it doesn't pass any data? Was wondering if there is any additional documentation on how it is actual

[2020-11-19 17:50] AlexJerabek commented on #1661
Hi @AhmedJDev,
Thanks for reaching out. I'll tag @ElizabethSamuel-MSFT to look into the additional documentation for this preview API.

[2020-11-19 19:40] ArjunSureshKumar92 commented on #1402
Yes, I will try to get this info asap. Thanks.

[2020-11-19 22:20] modestfake commented on #1485
@exextoc unfortunately I have already reinstalled the add-in and have the latest version installed. Is there a way to install the previous version from AppSource, so I could reproduce the issue? I don't have any accounts with the older version.

[2020-11-19 23:55] AbidRahman-MSFT commented on #1299
We are internally tracking this bug with: 4650379.

[2020-11-20 05:00] ghost commented on #1470
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-20 05:00] #1470 closed, assigned to davidchesnut

[2020-11-20 08:34] david-ps commented on #1415
51 days - any news about this fatal bug investigation?
@lliu113 @keyur32 @lumine2008

[2020-11-20 08:36] exextoc commented on #1499
We have fixed the bug and the fix should be available in build 16.44(20111502) or later.When an update build is available depends on the release channel a customer is on

[2020-11-20 10:11] harit-m-kumar commented on #1431
This code works in the Desktop version, but not in the onlone version.
In the online version, it says that the key "OfficeTheme" does not exist within Office.OfficeTheme
![OfficeColorInExcel](https://user-images.githubusercontent.com/58638877/99788226-ce132b80-2b46-11eb-8274-ebc6b5cc7991.PNG)

[2020-11-20 10:12] harit-m-kumar commented on #1431
The above code fragment works fine for Office desktop version, but not for Office online. It says that Office.context does'nt have a theme called OfficeTheme.

[2020-11-20 10:25] exextoc commented on #1506
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-11-20 10:37] modestfake commented on #1400
Hi @exextoc
I'm on the latest Outlook 16.44 (20111807). I can see that the issue with `attachmentId` has been resolved but `restUrl` is still empty. Can it be a regression?

[2020-11-20 13:23] exextoc commented on #1423
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-11-20 15:02] exextoc commented on #1479
We have fixed this issue and fix should be available with latest build.

[2020-11-20 16:31] dimitri-bourreau opened #1512 "OfficeRuntime.auth.getAccessToken via a LaunchEvent action returns error code 5001"
I'm trying to make an _Outlook for web_ add-in with Yeoman, configuring it initially for SSO.
From a TaskPanel `OfficeRuntime.auth.getAccessToken({ allowSignInPrompt: true })` works just fine.
From an event-based action, `OnNewMessageCompose`, I get an error code 5001 (Internal error).

## Expected Behavior
This is my first add-in, I can't confirm this is a bug but at least I'm calling for help. 🙏

[2020-11-20 21:22] bconners1005 commented on #1119
@exextoc Has this come up as a fix on the roadmap yet?  I am developing a system to use this and to tell them "if it does not work wait 15 minutes or do a full refresh" to fix the problem.

[2020-11-20 23:20] onestep commented on #1286
Hello, we've got the same problem. While investigating the cause I've found that message handler compares message origin with `OSF._OfficeAppFactory.getInitializationHelper()._appContext._addInSourceUrl`, which is empty for OWA in Exchange. If I add this property manually, then `messageParent` starts working. Probably it would be better to compare message origin with `_appDomains`, which seems to

[2020-11-21 00:07] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev We're in the process of adding a walkthrough/tutorial that includes how to use this feature. I'll work on getting you a sample in the meantime.

[2020-11-21 01:00] ghost commented on #1522
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-21 01:35] ArjunSureshKumar92 commented on #1402
We are currently working with Microsoft support. Thank you for  all your help. Closing the case for now.

[2020-11-22 05:17] Kronenberg opened #1513 "Cannot get Delegates Folder Username/Folder owner name"
Good day, i am trying to get some information about shared folder information.

_User A_ delegates permissions to _user B_ account and now _user B_ see his inbox folder and subfolder.
_User B_ is trying to use Office.context / Office.context.mailbox / Office.context.mailbox.item API,
but do not see ant differences between his own mailbox and shared mailbox. He see his username and email under init

[2020-11-22 06:00] ghost commented on #1505
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-23 02:28] SWei1234 commented on #1499
Thanks @exextoc

[2020-11-23 06:02] ssoni2074 opened #1514 "Entire line is considered inside content control"
On clearing text inside a content control, text outside of content control are shown inside of it with bounding box around it .This seems to be a UI bug as on writing again in that content control bounding box is wrapping that newly inserted text only

## Expected Behavior
Bounding box (of content control) should not wrap wording outside of it.

## Current Behavior
All words outside of empty conte

[2020-11-23 06:21] ssoni2074 opened #1515 "Placeholder text appears on clearing content control"
On clearing content control placeholder text **Click here to enter text** appears in content control even if I have custom placeholder text on browser.
*Setting placeholder text through word api on browser is not supported
pfa.
## Expected Behavior
Custom placeholder text should appear

## Current Behavior
default placeholder text **Click here to enter text** appears

## Steps to Reproduce
clear t

[2020-11-23 07:02] MandytMSFT commented on #1507
@ig-jb Currently, we don't have a direct way to get the file name. As an workaround, Could you try getFilePropertiesAsync like below to see if it can meet your requirement ?  For Office.context.document.url didn't get updated, i log a
BUG 4655764 for internal track

 Office.context.document.getFilePropertiesAsync(function (asyncResult) {
      var fileUrl = asyncResult.value.url;
      console.log

[2020-11-23 07:12] ssoni2074 opened #1516 "issue with Word.InsertLocation.replace"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Word.InsertLocation.replace is behaving same as Word.InsertLocation.start.
I am tring to replace text inside content control with `contenControl.insertText('new text',Word.InsertLocat

[2020-11-23 09:27] AhmedJDev commented on #1661
Yes please, getting any form of sample would be good as I have a demo in the next day or two! Thank you!

[2020-11-23 09:50] ssoni2074 opened #1517 "How to know changes to office api"
How can I get noticed that certain part of API is added from beta to hosted API? or some new feature is added like recently resizing taskpane on browser was added but I don't think there is any post or something about this.
Is there a blog or something which posts announcements ?

Also there is two hosted CDN with version 1 and1.1 what is the difference
https://appsforoffice.microsoft.com/lib/1/ho

[2020-11-23 11:30] ivark16 commented on #1502
UPDATE for Mac:  It seems not to be an issue for two or more accounts. My associate that uses Mac does not have two or more accounts linked to his Excel account.

[2020-11-23 14:46] chintan-avnio opened #1518 "EventType.DialogMessageReceived not working in Word Online"
## Expected Behavior

Dialog close after sign in

## Current Behavior

It was working till last week suddenly stoped working online word app though it continues to work with excel. I don't know why this is happening is the online word app has been updated?
![image](https://user-images.githubusercontent.com/72140171/99975862-bc40bb00-2dc8-11eb-9394-96873829b7c0.png)

[2020-11-23 14:58] ghost opened #1519 "SSO in Excel not working (Unsafe Javascript attempt and error 13007)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

I try to enable SSO in an Excel add-in.
So I followed 'Create an ASP.NET Office Add-in that uses single sign-on' guidelines. But I keep getting an errormessage when I call 'Offic

[2020-11-23 21:35] AbidRahman-MSFT commented on #1299
Hey everyone, after investigation, this behavior is by-design. If trackchanges mode is on, content controls that are deleted must be displayed in the Ooxml of the document. If the content control is no longer represented in the Ooxml, there is no way for the application to restore the changes.

You can see the Ooxml file has several w:customXmlDelRangeStart - w:customXmlDelRangeEnd pairs, while a

[2020-11-23 21:35] #1299 closed, assigned to AbidRahman-MSFT

[2020-11-23 21:58] AbidRahman-MSFT commented on #1428
Thank you for reporting the issue. We were able to repro the issue and a fix has been made. The fix will be available on Word version greater than or equal to: 13523.10000.

[2020-11-23 21:58] #1428 closed

[2020-11-24 00:40] #1458 closed, assigned to MandytMSFT

[2020-11-24 01:38] exextoc commented on #1239
Unfortunately, I cannot give an ETA on the progress being made here, except that it is the appropriate team's backlog.

[2020-11-24 01:41] exextoc commented on #1450
Updated internal tracking id (Microsoft: 30684890)

[2020-11-24 01:54] exextoc commented on #1500
I would like to follow up that downloading files to disk is not supported within the Add-in Framework. (there are certain browser functions that are disabled while the browser is embedded in Office).

You can however open a dialog in the default browser via the openBrowserWindow Api
https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=outlook-js-preview

Office.context.ui.openBrow

[2020-11-24 04:01] MandytMSFT commented on #1502
@ivark16 I can repro the issue on my machine. The cause is your addin is configured to use sharedRuntime which will use IE webview. The event issue you reported is a known issue for IE webview.

This fix is adding " **<script> MutationObserver=null; </script>**" before referencing office.js in your taskpane.html as below. I have tried locally, it works for me.

  _<title>Contoso Task Pane Add-in</

[2020-11-24 06:46] SanketDG commented on #1511
Hi,

Is there any update on this issue? We are also facing the same issue on Firefox and Safari.

[2020-11-24 08:54] MandytMSFT commented on #1502
@ivark16  just realized I override previous reply, Not sure if you can receive notification or not. Pls refer to the solution in last reply.

[2020-11-24 09:19] SWei1234 commented on #1499
Hi @exextoc
We have user can update to 16.44.20112300 . Did this version fixed this problem?
Thanks

[2020-11-24 09:32] rosergeev opened #1520 "mailbox.item.itemId on Android return id in different format"
There is a difference in format in returned value of itemId of the mail item between Android and desktop(windows) platform

## Expected Behavior
itemId of the same mail item should be the same

## Current Behavior
On desktop browser itemId property return value in following format:
AAMkADYyOWViNTEzLTNkMmItNDBiMC05NDcyLThmZTBiN2FjMjI2NQBGAAAAAADwmiZ0cOqgTb7+Fs7DzKlyBwC6KBvAkVoERJgOYFuMJLI7AAAAAAEMA

[2020-11-24 11:13] clavx commented on #1250
@exextoc
The bug that the value of the emailAddress property of the Office.From cannot be obtained correctly has not been fixed yet.

We have now confirmed the following behavior:
- When using Resend feature for an email that goes into the outbox after it is sent, the FROM value is retrieved correctly.
- If you quit and restart Outlook and then use the Resend feature on the same email, you will ge

[2020-11-24 11:19] Nitramchaus commented on #936
i confirm the problem is still here on up to date office 365 (2002 12537.21330)
![image](https://user-images.githubusercontent.com/8090262/100087638-50edfc00-2e4f-11eb-9411-c5cb04a27d44.png)

[2020-11-24 12:24] modestfake commented on #1485
@exextoc we've been able to find an account where we still have the previous version installed and reproduced the behavior on Outlook for Mac and OWA. I've sent you an email.

[2020-11-24 12:47] els-ts opened #1521 "`Can't find variable: OfficeRuntime` for Word in iOS"
In our New Relic reporting tool we get this error:
`Can't find variable: OfficeRuntime` that comes from the iPad devices.

## Expected Behavior
No error being thrown.

## Current Behavior
`Can't find variable: OfficeRuntime` is thrown in  https://appsforoffice.microsoft.com/lib/1.1/hosted/word-ios-16.00.js

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: **iOS**
* Host [E

[2020-11-24 12:51] ivark16 commented on #1502
@MandytMSFT thanks so much for this. In a quick glance this solution seems to be working just fine! Thanks for the help! 😄 🥳

[2020-11-24 14:00] jak-hammond commented on #1661
@ElizabethSamuel-MSFT if we could get an ETA on the sample app or the docs being updated at all? We are also very interested in looking at these actionable notifications and being able to pass context from a notification into the taskpane opens up a lot of possibilities for us! :)

[2020-11-24 16:44] zerobytes909 commented on #1500
Thanks.  I'll try kicking them out to a web container or the OpenBrowserWindow  Sorry for the delay, as there isn't really an error to screen shot.  It just gets blocked with no error provided or thrown.    Thanks..

[2020-11-24 16:47] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev @jak-hammond Thanks for your interesting in this feature! I'm working on creating an article/tutorial to be published within the next month or so.

@AhmedJDev Unfortunately, I don't know that I'll have a sample ready in time for your demo but we are working on getting an example usage into the reference as soon as possible.

Thanks.

[2020-11-24 17:28] exextoc commented on #1512
Your observation is correct. Some APIs are not supported in event-based activation. These limitations are mentioned here:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#event-based-activation-behavior-and-limitations

[2020-11-24 18:00] ghost commented on #1479
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-24 18:05] dimitri-bourreau commented on #1512
Exactly @exextoc , and thank you for your help!

What bugs me is that this doc only refers to `getAccessTokenAsync` not being supported and not `getAccessToken`.

I admit I've doubted `getAccessToken` wouldn't be supported neighter though I'd like a confirmation.

[2020-11-24 18:16] exextoc commented on #1512
Makes sense. We will update documentation to add 'getAccessToken' API as well explicitly. Thanks for the feedback.

[2020-11-24 18:43] #1512 closed, assigned to ElizabethSamuel-MSFT

[2020-11-24 18:45] ElizabethSamuel-MSFT commented on #1512
Updated documentation should be published soon.

[2020-11-24 18:48] exextoc commented on #1509
Thanks for reporting this issue regarding displayDialogAsync. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-11-24 19:12] exextoc commented on #1250
(Internal Tracking Office:4264741) Unfortunately, I don't have any updates to report, this thread will be updated when the fix happens. It is still on the product team's backlog at this time.

[2020-11-24 19:43] ElizabethSamuel-MSFT commented on #1522
Transferring to office-js for product team to investigate.

[2020-11-24 21:12] ElizabethSamuel-MSFT commented on #1522
Reclosing

[2020-11-24 21:17] exextoc commented on #1513
You should be able to use the shared properties to get information on whether or not the item is in a shared folder (as well as the owner) (getSharedPropertiesAsync)

https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-preview#owner

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access

[2020-11-25 01:02] exextoc commented on #1483
For the first point, I'm not observing what you see. If I add a fake url (say https://i.imgur.com/WJXkliccccf.png) via Attach File -> Browse This PC. And then paste that URL in, I get a "Download failed" in the UI.

There are some issues where the client teams have implemented features differently across platforms (Windows, Mac, Web). We strive to make the APIs consistent across all clients, but t

[2020-11-25 04:36] exextoc commented on #1510
Thanks for reporting this issue regarding setSelectedDataAsync() API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-11-25 09:21] DmitryKostochko commented on #1483
Yes, you are right, now I see the same behavior, I guess it was changed in the latest Outlook update (I have version 2011 now), thank you.

I fully understand you and am trying to help in finding and removing these differences. In my opinion, if the API function cannot perform its action (add an attachment in our case) and returns 'failed', then the attachment shall not be added.

[2020-11-25 09:40] jak-hammond commented on #1479
@exextoc Can I get a build number that this is fixed in please, I updated my Outlook this morning to the version shown below and the issue is still present.

![image](https://user-images.githubusercontent.com/664193/100209803-36288f80-2f02-11eb-8888-50e13cbd64e3.png)

[2020-11-25 09:45] jak-hammond commented on #1476
Hi @exextoc, I have taken a quick look on Office Online and can confirm that the Dialog API is now being correctly supported, thanks for getting this fixed :)

![image](https://user-images.githubusercontent.com/664193/100210416-df6f8580-2f02-11eb-91ec-2202d68a217a.png)

[2020-11-25 09:45] #1476 closed, assigned to nobody

[2020-11-25 09:53] jak-hammond commented on #1478
@exextoc I have checked on https://outlook.office.com and the issue is still present.

[2020-11-25 10:29] MartinSSeifert commented on #780
@catchingyu do you have any update on this - has this issue been fixed?

[2020-11-25 10:33] MartinSSeifert commented on #1144
@weshi did you have a chance to look at this?

[2020-11-25 11:20] MandytMSFT commented on #1431
@harit-m-kumar Yes, as mentioned in our official document (https://docs.microsoft.com/en-us/javascript/api/office/office.officetheme?view=word-js-preview), office.theme is only supported on Excel Desktop and not on Office online.

We track Office Add-in feature requests on our [UserVoice page](https://officespdev.uservoice.com/) Please add your request there. Feature requests on user-voice are con

[2020-11-25 11:48] ChangingTerry commented on #1095
Still having the same issue here

[2020-11-25 12:27] DmitryKostochko opened #1523 "Outlook Desktop, Outlook for Mac, setSelectedDataAsync produces incorrect formatting for tables"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The setSelectedDataAsync method inserts HTML with incorrect markup, the caption of a table is

[2020-11-25 12:49] modestfake commented on #1400
Hey @exextoc
Just installed the latest Outlook 16.44 (20112309). I can see `restUrl`, but now `attachmentId` is different for files in old and New Outlook 😄
 Here's an example:
**Old Outlook**
[code]

**New Outlook**
[code]

[2020-11-25 12:55] exextoc commented on #1478
Sorry, it was a mistake from our side. Fix is rolling out. We will let you know once fix is available to users.

[2020-11-25 15:21] ivark16 commented on #1371
Hi @jeremy-msft,

I have run into this issues again. After deploying my add-in code to Azure App Service I noticed this problem has resurfaced. I have tried with the same code running both locally (running the code on localhost) and live from Azure App Service. It all works when run locally but the bug is still present when hosting the add-in on azure.

[2020-11-25 21:30] jeremy-msft commented on #1371
Hi @ivark16, we were not able to repro your issue using a sideloaded manifest pointed to a non-localhost server.  Can you please provide additional details about your environment and any console errors you are seeing?   Is the server URL the only difference between your two manifests?  Does it work fine on the Desktop client?  Also, please let us know the build number shown in Online under File ->

[2020-11-26 05:26] exextoc commented on #1520
This is expected.

1. itemId returned from Mobile is "REST-formatted ID". This is mentioned here in documentation: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api#get-the-item-id . We will improve our documentation so that this information is easily available to developers.

2. To convert this "REST Formatted ID" to "EwsId", you can use converToEwsId() API. Documentation:

[2020-11-26 05:48] c-suraj opened #1524 "Not able to detect the difference between the deleted content control and remaining normal content control having text when the Track changes are ON using OfficeJS API in Word add-in."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Description:
As per the requirement of our application, we are tagging/adding the same text/paragraph multiple times on the document using word add-in tagging functionality. When we t

[2020-11-26 06:52] rosergeev commented on #1520
I had already tried this approach, but ended up with the same result.

**Web Office:**
![web](https://user-images.githubusercontent.com/12766193/100317009-a1d72f00-2fcc-11eb-9c07-4351b217998f.png)

**Android:**
![photo_2020-11-26_09-46-30](https://user-images.githubusercontent.com/12766193/100317037-ae5b8780-2fcc-11eb-90fe-9c31b7745679.jpg)

![photo_2020-11-26_09-47-03](https://user-images.githubu

[2020-11-26 07:43] rosergeev commented on #1520
https://github.com/OfficeDev/office-js/blob/9f2b5db05d97c5060af3b43dd9b915da86728ccf/dist/outlook-15.04.debug.js#L520-L526

[2020-11-26 08:33] TobiasWolters commented on #1518
We have also seen this issue. The event handler for `Office.EventType.DialogMessageReceived` simply doesn't get triggered in Word Online.
Note that it works perfectly in all offline Office applications, and it works in PowerPoint Online and Excel Online.

This is quite critical and should be fixed ASAP.

[2020-11-26 10:00] exextoc commented on #1523
Thanks for reporting this issue regarding setSelectedDataAsync. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-11-26 10:29] exextoc commented on #1499
Yes, version 16.44.20112300 should have the fix.

[2020-11-26 15:44] ivark16 commented on #1371
Hi @jeremy-msft,

Thanks so much for your answer. I decided to take a closer look at this problem. The manifest file that is producing the bug is distributed by centralized deployment through the admin center [(via this documentation)](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment).  I decided to take my existing manifest file that references my live Azure code

[2020-11-26 17:57] westconference opened #1525 "window.open from add-in in Windows Outlook using WebView1 returns null window"
Calling window.open from an add-in on versions of Windows Outlook that use WebView1 (old Edge, specifically Office for 365 16.0.13328.20350) is seen to return null rather than a reference to the newly opened window. The new window is opened however no reference is returned to it. Further the new window will have window.opener set to undefined and its window.parent will refer to itself, effectively

[2020-11-27 00:42] dimitri-bourreau commented on #1661
Hi @ElizabethSamuel-MSFT , is there any way to get the _how_ without waiting for an entire article / tutorial ?
Is this functionnality doable now ?

Thanks!

[2020-11-27 07:26] MandytMSFT commented on #1524
@c-suraj  thanks for reaching us. Unfortunately, currently we have no way to detect this. We track Office Add-in feature requests on our [UserVoice page](https://officespdev.uservoice.com/) Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

[2020-11-27 07:30] exextoc commented on #1479
Apologies. It is a mistake from our end. Fix is not yet available fully world-wide. We will update you once fix is available in December sometime. Thanks for your patience.

[2020-11-27 07:33] exextoc commented on #1476
Thanks for confirming.

[2020-11-27 07:39] c-suraj commented on #1524
Thanks for the reply @MandytMSFT .

I already raise feature request on UserVoice page. Below is the UserVoice link for this issue:
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/42053035-not-able-to-detect-the-difference-between-the-dele

[2020-11-27 08:06] exextoc commented on #1400
Apologies. It is mistake from our side to notify. Fix is rolling out slowly. We will update you once fix is available to all users world-wide. Thanks for your patience.

[2020-11-27 10:30] westconference commented on #1525
Further odd behaviour is that after the window is opened if I then try to use the displayDialogAsync method of office-js back on the caller I'm seeing an odd (looks like an overflow error code) Internal Error returned in the displayDialogAsync result.

[code]

[2020-11-27 20:16] maxidr commented on #1286
I tried the workaround of @onestep and fixed the problem too!

[2020-11-27 22:47] GPetrites opened #1526 "Dynamics 365 App for Outlook - appears in OWA but not Desktop for a single user"
Dynamics App for Outlook has been deployed to users.  Most users can see the Dynamics ribbon/menu options in both Outlook Web App and Outlook Desktop client.  We have one user who is able to see and interact Dynamics in Outlook Web Access, but NOT in Outlook Desktop.

We've verified that the app manifest is getting downloaded to the user's machine by looking under:

%localappdata%\Microsoft\Office

[2020-11-29 08:10] MandytMSFT commented on #1514
@ssoni2074 thanks for reaching us. I can only repro this issue on word online and BUG 4675868 is opened for internal track

[2020-11-29 08:28] MandytMSFT commented on #1515
@ssoni2074  thanks for reporting. BUG 4675869 is opened for internal track

[2020-11-30 02:31] SWei1234 commented on #1499
Hi @exextoc
But it looks users who update to '16.44.20112300' still have this problem. Report 5001. Will update to newer version be helpful.
For example, update version in  'inside faster' mode.
Also tried update to beta version '16.44 (20112309)' . But not fix this problem. This problem might not fixed in this channel...
Thanks

[2020-11-30 08:52] SWei1234 commented on #1430
Hi @exextoc
 Sorry for reply late. I have send manifest xml to your mailbox. Please check it and reopen this ticket.
Thanks

[2020-11-30 15:44] glr0221 commented on #1495
@ElizabethSamuel-MSFT any chance somebody can take a look at this? Not really super important. But might be something to look at thanks.

[2020-11-30 19:04] jeremy-msft commented on #1371
@ivark16, thanks for the details.  We are still in the process of addressing this issue for Centralized Deployment; we'll update you once that fix is rolled out.  Re-opening this issue for tracking.

[2020-11-30 19:10] exextoc commented on #1525
window.open will behave differently due to the underlying engine. (https://github.com/OfficeDev/office-js/issues/1468)

either openBrowserWindow (if the window should be opened in the default browser), or displayDialogAsync (for two way communication) should be used.

DisplayDialogAsync can only be called from the original taskpane or uiless add-in.

[2020-11-30 19:40] exextoc commented on #1526
Has the user turned off connected experiences in Outlook?

 https://developer.microsoft.com/en-us/microsoft-365/blogs/outlook-add-ins-and-optional-connected-experiences/

Do other Add-ins work for the user? Can the user open the Add-in Store?

[2020-11-30 21:00] #1500 closed, assigned to nobody

[2020-11-30 21:27] exextoc commented on #1508
There are developers that expect properties from the master series to NOT propagate to exceptions, and developers like you that expect them to be there, so we are investigating many possible solutions

[2020-11-30 23:05] jcupps opened #1527 "Bindings are lost during concurrent editing of Word documents in SharePoint"
When two users edit a Word document from SharePoint concurrently and one user adds a binding, the binding is lost when the changes are synced with the other user.

## Expected Behavior
Bindings should not be lost.

## Current Behavior
After changes are synced, no bindings are returned from `Office.context.document.bindings.getAllAsync`, and they can be confirmed to be missing from the document by

[2020-11-30 23:29] #1513 closed, assigned to nobody

[2020-12-01 02:06] blesliecan opened #1528 "Outlook always resets the cursor position after handling a drag&drop email attachment."
We have an Outlook Add-in that can handle attachments by uploading them to a secure storage location and inserting a Url into the body of the email that can be used to access the file.

Our problem is that when the user adds attachments using drag and drop the cursor is being reset so that it is just before the inserted Url rather than after it.
## Expected Behavior

I expect that the insert curso

[2020-12-01 04:15] exextoc commented on #1484
#1381

[2020-12-01 05:22] exextoc commented on #1460
@SWei1234 So far we don't have a repro with the steps mentioned. Could you please provide more clarity with the steps?
1 -> Is the Custom Property being read immediately after the setCustomProperty in a new meeting or is the meeting invite being sent and then Custom Property is being read after a while or an Outlook restart.
2 -> In step 3 mentioned, is loadCustomProperty being done by the delegat

[2020-12-01 05:48] ArjunSureshKumar92 commented on #1401
We are facing the exact issue and is significantly affecting our addin product. Is there any temporary fix to pass along the headers?. Thanks in advance.

[2020-12-01 05:50] ArjunSureshKumar92 commented on #1401
Also, from our tests, it looks like the headers work fine in OWA. It seems to only be an issue with the outlook desktop client.

[2020-12-01 06:03] chintan-avnio commented on #1518
@sumurthy  Can you please check this issue! Or you can tag a responsible person to check this. Thanks!

[2020-12-01 06:30] wsywq commented on #1508
Thanks. We only want to get the cecp value for Add-in not all properties.

[2020-12-01 09:51] greatescape95 commented on #1440
@lliu113 @nickxbs @htryggva it seems the issue is on microsoft production again! dialog api communication is not working for me in word online app, but this time there is even no error in the console. I again made the same fix as last time (using office js from npm instead from official CDN). It is bad we need to introduce these hacks in our codebase just to make basic things to work.

[2020-12-01 10:54] westconference commented on #1525
@exextoc  'openBrowserWindow' doesn't return the opened window so I wouldn't be able to send data to it from the parent - [spec](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=powerpoint-js-preview#openBrowserWindow_url_).

'displayDialogAsync' only supports two way communication with requirement set 1.9 right (via messageParent and messageChild)? That limits its usage to O3

[2020-12-01 11:19] nchakravarthi commented on #1480
@exextoc Can you answer the above question?

[2020-12-01 13:50] rosergeev commented on #1520
@exextoc, your suggestion to use convertToEwsId is not suitable for Android due to API restrictions:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-mobile-support#unsupported-apis

[2020-12-01 16:23] ekowpo opened #1529 "insertooxml does not work on document with page number from word desktop."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Word desktop page number is within a content control. but not the same for word online. When a document has page number added from word desktop. word online removes the page number le

[2020-12-01 17:32] GPetrites commented on #1526
Perfect!  The user had connected services disabled for some reason.  Enabling it immediately resolved the issue.

Thanks for the quick response. (The three days was over a holiday weekend so it was actually much quicker than it may appear...or that I expected.)

[2020-12-01 17:32] #1526 closed, assigned to nobody

[2020-12-01 17:33] roebuk opened #1530 "Edge DevTools Preview Crashes on connect"
Everytime edge devtools preview connects to my outlook add-in it crashes within a second of opening if the JavaScript code contains a syntax error.

## Expected Behavior
The devtools should connect and remain open to inspect the error.

## Current Behavior
Everytime edge devtools preview connects to my outlook add-in it crashes within a second of opening.

## Steps to Reproduce, or Live Example
*

[2020-12-01 19:47] ElizabethSamuel-MSFT commented on #1495
@glr0221 Thanks for raising this issue and pinging us about it. We'll take a look and direct where appropriate.

[2020-12-01 21:12] jak-hammond commented on #1401
@ArjunSureshKumar92 the only work around we have at the moment is using the task pane to send to set the headers for a new message.

[2020-12-02 02:56] exextoc commented on #1401
We have fixed the bug and the fix should be available in build 16.0.13530.20004 or later. When an updated build is available depends on the release channel a customer is on.

[2020-12-02 03:10] exextoc commented on #1530
What is your Office/Outlook version number?

[2020-12-02 03:25] SWei1234 opened #1531 "Office.context.ui.displayDialogAsync popup window size can be fixed by px"
When using Office.context.ui.displayDialogAsync to create a popup window, the size is fixed by percentage. But this will cause a problem as add-in is defined a cross platform application, it will running at different size screen device. As a result it will looks bad on some device.
Can we provide a switch trigger on this api so that developer can fix window size by px?

[2020-12-02 06:56] ulonsjo opened #1532 "Page.getRestApiId() returns empty string not the id."
Page.getRestApiId() always returns empty string.

## Expected Behavior
Return of Id used by Microsoft Graph

## Current Behavior
Always returns empty string, instead of the id.

## Steps to Reproduce, or Live Example

From the oneline documentation https://docs.microsoft.com/en-us/javascript/api/onenote/onenote.page?view=onenote-js-1.1#getRestApiId__,
OneNote.run(function(ctx){
    // Get the curr

[2020-12-02 09:36] roebuk commented on #1530
The Outlook version number is 16.0.13328.20408 and it's the 64 Bit version. I've also updated the original post with the version number.

[2020-12-02 09:48] roebuk commented on #1530
I believe the devtools may also be instantly closing even when an error isn't present.

[2020-12-02 10:10] mausinc commented on #1145
@Libinjoseph @sanjaygovindan  did you find a way to solve this problem?

[2020-12-02 10:49] Paul-Gerarts commented on #1095
Same here.

[2020-12-02 11:05] jankratochvilcz commented on #1095
@exextoc @JuaneloJuanelo  Could you please comment on when could we expect the fix in production?

[2020-12-02 20:28] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev @jak-hammond @tobudim Can you share where you're trying this out (e.g. platform/browser)?

In Windows, you can set e.g. `"contextData" : '{"name": "Joey"}'`. While the notification is still displayed, you can call `Office.context.mailbox.item.getInitializationContextAsync` (also [in preview](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outl

[2020-12-03 02:36] alexuaua opened #1533 "Excel chart line weight throws exception when using non-integer values"
While working on porting VSTO solution to Office JS solution, I've found that it is not possible to set line weight for chart series to a non-integer values. Documentation just says it has to be a number and one can set a line weight to any positive value using Excel UI, XLSX file format, as well as VSTO or VBA APIs.
This issue also results in inability to preserve a line weight value when it's be

[2020-12-03 03:40] dimitri-bourreau commented on #1661
Hi @ElizabethSamuel-MSFT , thanks.

I planned to use this functionnality on Outlook for web.

Though it doesn't fit my needs as the panel can still be open from the default button, a button that does not pass data.

So I've decided to use localStorage.

[2020-12-03 08:57] glr0221 opened #1534 "Outlook Clients Do Not Follow Manifest Locale-based values."
Outlook clients, unlike OWA, does not display the right locale-based text values.

## Expected Behavior

Outlook clients must display the right locale-based text.

## Current Behavior

The current behavior is that Outlook clients do not display the locale-based text.
Instead it displays the default value.

## Steps to Reproduce, or Live Example

1. Download and install the evernote addin. This eve

[2020-12-03 10:00] jak-hammond commented on #1661
@ElizabethSamuel-MSFT during the send processing event we are showing some notifications and it would be useful, say if an error were to occur, that when the user clicked the button in the notification, that the error information could be passed through to the task pane to provide a more detailed view and any steps they could take to resolve it.

It will also be useful, again in a similar style, w

[2020-12-03 19:25] zhaoliu-MSFT commented on #1469
Hi @namnn96 ,

I'm trying to find out the cause of the issue. I can repro the Scenario #1, but I cannot repro the Scenario #2. What I have tried is to update the part XML with the function setXmlAsync in the interface Office.CustomXmlNode.

The steps that I have taken:
1) Open the document "Issue 1469 - Test document.docx" that is attached in the post
2) Open Script Lab and create a new project fr

[2020-12-03 22:17] Byron-Mo opened #1535 "New Outlook for Mac does not show Custom Categories"
The new Outlook for Mac UI does not show custom categories on emails that previously had them. Default categories, however, are available.

## Expected Behavior
Emails with a custom category should be displayed

## Current Behavior
Emails with a custom category is not available. Emails with a default/pre-existing category is available

## Useful logs
New Outlook for Mac (custom category):
![image]

[2020-12-03 22:38] namnn96 commented on #1469
Hi @zhaoliu-MSFT,

From our end, we have a com-addin sitting behind to handle updating content-controls.

For scenario 2, there was an issue where table bindings not always updated properly, so on every call to update table content-controls, we worked around by toggling the design mode twice to make sure data is bound properly, which leads us to the same with scenario 1.

Is there a way to toggle

[2020-12-03 22:39] JuaneloJuanelo commented on #1250
Hey @clavx  we just had a conversation in the team about this issue. Can you please share more details about your scenario and how frequently you find the need to use the resend the feature among your customer base? btw feel free to ping me directly juanbl@microsoft.com to dive into your case. thanks!

[2020-12-04 00:10] ElizabethSamuel-MSFT commented on #1661
@tobudim @jak-hammond Thanks for sharing about your scenarios and use cases as well.

[2020-12-04 04:34] exextoc commented on #1483
Thanks for the feedback @DmitryKostochko .
We will pass this feedback onto the client/product team as we strive for a more consistent experience across all Outlook clients.

[2020-12-04 04:34] #1483 closed, assigned to exextoc

[2020-12-04 06:10] glr0221 commented on #1534
@ElizabethSamuel-MSFT Thank you for understanding that I had to tag you on this one. But I hope this ticket gets some attention too. Thank you again.

[2020-12-04 09:06] pauljereb commented on #1119
we seem to have the same problem, not only in OWA though, getAttachmentContentAsync() is not working (anymore?).

[2020-12-04 09:37] AlexPhilippov opened #1536 "Troubles getting add-in updates"
Our users having troubles getting the last updated version of the add-in: https://appsource.microsoft.com/en-us/product/office/WA104379640
1. User doesn't get the last version automatically. It's required to uninstall the add-in and then install it again to get the latest changes. Update panel appears for some users (mostly MacOS) but it seems to happen randomly, we can't rely on that. The only wa

[2020-12-04 13:41] iuri1994 opened #1537 "[Outlook] Office.context.mailbox.item.recurrence.getAsync is not getting the recurrence of event"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
When using the Office.context.mailbox.item.recurrence.getAsync I expected to get the recurrence of the event

## Current Behavior
I am not getting the recurrence.

[2020-12-04 15:14] MartinSSeifert commented on #1432
@JuaneloJuanelo has there been any progress made on this case? Do you have any updates you could share?

[2020-12-04 17:30] JuaneloJuanelo commented on #1471
This is an issue with the web view engine.

[2020-12-04 21:27] ElizabethSamuel-MSFT commented on #1482
@jnSWPC We'll close this issue now but if you need further help with this, let us know so we can reopen this issue or you can create a new one.

Thanks.

[2020-12-04 21:28] #1482 closed, assigned to lumine2008

[2020-12-04 21:31] ElizabethSamuel-MSFT commented on #1494
@AbhishekGupta100 Thanks for asking about this. Based on @lumine2008's response, I'll close this issue now. However, if you have further questions, you can let us know so we can reopen this issue or you can create a new one.

Thanks.

[2020-12-04 21:31] #1494 closed, assigned to lumine2008

[2020-12-04 21:39] ElizabethSamuel-MSFT commented on #1502
@ivark16 Closing this issue since it seems to be resolved.

Thanks.

[2020-12-04 21:39] #1502 closed, assigned to MandytMSFT

[2020-12-04 21:42] ElizabethSamuel-MSFT commented on #1503
@yowl Closing this issue as it seems to be by design. If you have further questions on this, let us know so we can reopen this issue or you can create a new one.

Thanks.

[2020-12-04 21:42] #1503 closed, assigned to grangeryy

[2020-12-04 21:50] ElizabethSamuel-MSFT commented on #1515
@MandytMSFT / @AlexJerabek Can you confirm if this is fixed now?

Thanks.

[2020-12-04 22:46] ElizabethSamuel-MSFT commented on #1525
@westconference I'll close this issue now. However, if you still have questions about this, let us know so we can reopen this issue, or you can create a new one.

Thanks.

[2020-12-04 22:46] #1525 closed, assigned to exextoc

[2020-12-04 23:19] ElizabethSamuel-MSFT commented on #1534
@glr0221 Sure, no problem. Assigning to the team to take a look.

Thanks.

[2020-12-04 23:33] exextoc commented on #1528
We are able to repro a similar issue with regular text in the body of a message without using the add-in. @blesliecan when dragging and dropping an image / text file into the email, there appears to be a drag cursor which indicates the location of the cursor after the image/text is attached. Screenshot below to clarify this. Is that what you are experiencing?

![image](https://user-images.githubus

[2020-12-04 23:38] Rick-Kirkham commented on #1531
The old Office Helpers repo had a technique for adding more flexibility to the dialog size. Maybe you could copy some of that code: [office-js-helpers dialog.ts](https://github.com/OfficeDev/office-js-helpers/blob/a54a6d70ea9295d4a1d8f9c4372758175b1a552c/src/helpers/dialog.ts)

[2020-12-05 02:10] exextoc commented on #1534
According to our documentation, the string overrides must specify the locale using the BCP 47 language tag format. So for French (from France), it should be **"fr-fr"**, not "fr". So that's most-likely why the override strings are not being displayed for EverNote. Here's a link to our documentation : https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/override

If you try anothe

[2020-12-05 07:01] exextoc commented on #1508
Yes, that's what we are referring to. Some developers want the cecp values of an add-in to propagate from the master series to exceptions. Others do not desire such behavior. So we are currently investigating how to approach these scenarios.

[2020-12-05 13:23] exextoc commented on #1537
We are unable to repro the issue locally.
<img width="1117" alt="Screenshot" src="https://user-images.githubusercontent.com/28549921/101244159-ccdb2480-372a-11eb-9d5d-4dba11b89709.png">

We followed the below steps:
1. Open Outlook Web on Chrome
2. Create a new calendar event
3. Open Script Lab add-in and import  https://gist.github.com/iuri1994/6f315f98a9281339e8e2fef534074860
4. Change the recur

[2020-12-05 13:34] exextoc commented on #1535
Can you share the version of Outlook Mac?
We can route this to the Outlook team internally.

[2020-12-05 13:48] exextoc commented on #1495
This is not an add-in specific issue.
We will route this issue to Outlook team internally.

[2020-12-06 07:09] blesliecan commented on #1528
It may be related but the problem is that the add-in is unable to set the cursor position to the end of the inserted link

[2020-12-07 01:27] alexuaua opened #1538 "Charts related functions issues on iPad (in particular, markerStyle)"
I've issues with some charts related API methods on iPad (markers and axes related).
In this report I have included code on one of them, but I'm not sure if this a good idea to create an issue for each of them (please let me know). This is an API related issue, because Excel on iPad supports rendering different markers.

## Expected Behavior
Change marker style for line series, similarly to Excel

[2020-12-07 01:49] SWei1234 commented on #1531
Hi @Rick-Kirkham
Thank you so much.
I have simulate this way set height/width to (screen height/width) x 50% .

[2020-12-07 01:49] #1531 closed, assigned to lliu113

[2020-12-07 02:32] MandytMSFT commented on #1527
@jcupps I simplified your code as https://gist.github.com/MandytMSFT/a1f6a4b93788fff17571021680a35fba and tried on word desktop with scriptlab, i can't repro the issue your reported. Every time client A added a new binding, it can be synced to client B successfully without any notification.

Given you mentioned add-in reloaded happen, I suspect there is some issue happened on your addin instead of

[2020-12-07 05:01] exextoc commented on #1528
I missed the link to your add-in zip file. It appears you are building a [VSTO add-in for Outlook](https://docs.microsoft.com/en-us/visualstudio/vsto/walkthrough-creating-your-first-vsto-add-in-for-outlook?view=vs-2019), instead of a [web add-in for Outlook](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-add-ins-overview). Ignore my previous comment then. I will pass this issu

[2020-12-07 05:45] glr0221 commented on #1495
Thank you @exextoc @ElizabethSamuel-MSFT. If this is properly routed, we can close this ticket then, Thank you again.

[2020-12-07 05:51] glr0221 commented on #1534
@exextoc @ElizabethSamuel-MSFT  Thank you both for always taking time to answer my questions. I understand and will take a look at the manifest once I get to my MS machine later. The only other thing though, is that this behavior is not the same as the javascript addins. Would it be possible for the outlook-client team to take a look into the possibility of making the experience the same as the br

[2020-12-07 07:08] exextoc commented on #1530
We are unable to reproduce this issue in-house. What is your Windows version number? And also, what type of JavaScript syntax error do you have in your add-in? Can you share a code snippet? We tried with some gibberish text in our JavaScript file and we could not reproduce this issue.

[2020-12-07 08:08] MandytMSFT commented on #1529
@ekowpo Unfortunately, the content control wrapped with page number is not supported by word online, the API call just returned with correct error.

Ypu can submit your request to word online by clicking [Give Feedback to Microsoft]->[I have a suggestion] shown in screenshot below

![image](https://user-images.githubusercontent.com/52641972/101325094-27e55680-38a6-11eb-8f3b-2e6346b338ef.png)

[2020-12-07 09:30] iuri1994 commented on #1537
Hi, I refreshed the file, https://gist.github.com/iuri1994/0c19503bcda03f9727986aa8e0d41af5, this happens in chrome and edge, with firefox the script labs was not working, so I couldn't try it there, in the outlook app it's working. I think the problem is when I use the saveAsync function before the recurrence function.

here is a small video of me testing it with all the steps.

https://www.youtu

[2020-12-07 17:38] jcupps commented on #1527
Hi @MandytMSFT thanks for the reply and the gist. We ran it using Script Lab and were able to reproduce repeatedly, though not 100% consistently (which could have been due to the bug being intermittent, but also possibly failure to perform the repro steps exactly). The following environmental details could explain the difference in behavior that we are seeing:
- We are on the "semi-annual enterpri

[2020-12-07 19:39] exextoc commented on #1535
We are not able to reproduced this issue at our end nor the concerned team is aware of any such issue.
Can you please share Outlook version and more detailed repro steps?

[2020-12-07 20:00] nbelyh opened #1539 "Visio: the viewer breaks periodically on loading"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When you embed Visio drawing into a page (a simple built-in example is File Viewer stock SharePoint web part), loading file can stop unexpectedly, and part of the diagram is not loade

[2020-12-07 23:17] AlexJerabek commented on #1515
@ElizabethSamuel-MSFT I've updated the documentation to describe the Word on the web support: https://github.com/OfficeDev/office-js-docs-reference/pull/852. I'll close the issue, but please reopen if there's more to say on the matter.

[2020-12-07 23:17] #1515 closed, assigned to AlexJerabek, MandytMSFT

[2020-12-07 23:17] #1401 closed, assigned to exextoc

[2020-12-07 23:51] Byron-Mo commented on #1535
Thanks, following up with the customer and will provide updates soon

[2020-12-08 02:00] ghost commented on #1661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-08 05:53] xiaochun commented on #1536
@AlexPhilippov Thanks to reach us. Sorry to hear that the issue bothers you for a while. I am trying the same locally with repro steps and noticed the java script file for custom functions may be missed to be referenced in "_**Knoema.DataFinder.Url**_ (https://addins.knoema.com/KnoemaDataFinder/Start.html)". You may can add `<script type="text/javascript" src="https://addins.knoema.com/KnoemaDataF

[2020-12-08 09:48] exextoc commented on #1480
@gs-nchakravarthi Having to reconfigure account to access restUrl is a bug at our end and the team is currently working on fixing this. We unfortunately have no timelines to share at this point.

[2020-12-08 14:32] rosergeev commented on #1520
@exextoc , have you had a chance to take a look?

[2020-12-08 16:14] ElizabethSamuel-MSFT commented on #1495
Thanks for raising this issue, @glr0221. We'll close this issue now but if you have any further questions here, let us know so we can reopen it, or you can create a new issue.

Thanks.

[2020-12-08 16:14] #1495 closed, assigned to exextoc

[2020-12-08 18:41] Byron-Mo commented on #1535
Affected Outlook for Mac version: 16.43 (20110804)

We have an Outlook addin that is setting a custom category with EWS (https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/categories). All custom categories that are set before or after enabling the new Outlook UI do not show when the new UI is enabled.

[2020-12-08 20:56] exextoc commented on #1478
The fix has been made available to 100% users.

[2020-12-08 20:58] jak-hammond commented on #1661
@ElizabethSamuel-MSFT awesome, thanks for the info, we'll give it a shot and see how it goes!

[2020-12-08 21:15] JeremyKelley commented on #1288
Just to clarify the issue, thankfully this is a cosmetic issue where the strings in the dialog are incorrect, the actual permission being requested and granted is still Read Only.  String changes have been submitted but are not yet live.

[2020-12-08 22:53] hunef39 opened #1540 "Excel Woorksheet.onSingleClick is not reliable"
## Expected Behavior
I would expect the onSingleClick event to be fired consistently when I click on a single cell.
_Further more, I would expect the event to be fired when the mouse click is pressed and released in the same cell (no multi-select)_
## Current Behavior
When the mouse button is pressed on a single cell, even the slightest movement of the pointer within the cell boundaries will preve

[2020-12-08 23:49] fusiled opened #1541 "setSelectedDataAsync with Html coercion does not work on Outlook on Big Sur"
Trying to add text or HTML to a mail body with `Office.context.mailbox.item.body.setSelectedDataAsync` function does not work reporting that a generic internal error occurred in Outlook for Mac on Big Sur after a non-deterministic number of insertions.

## Expected Behavior
The content should be inserted in the body without any issue.

## Current Behavior
Calling `setSelectedDataAsync` multiple ti

[2020-12-08 23:53] fusiled commented on #1541
Related to [this](https://github.com/OfficeDev/office-js/issues/1499#issuecomment-735510209)?

[2020-12-09 00:00] ghost commented on #1473
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-09 05:09] david-ps commented on #1415
Hey Guys, any news?
@lliu113 @keyur32 @lumine2008

[2020-12-09 05:37] grangeryy commented on #1446
Hi @Shubhajit01, this bug was fixed. Please have a try and let me know whether it works. Thx!

[2020-12-09 05:37] #1446 closed, assigned to grangeryy

[2020-12-09 06:25] MandytMSFT commented on #1415
@david-ps  Sorry for the delay. We are actively working on that. I just assigned the thread to right person in order we can track better on that.

[2020-12-09 07:17] Matej4386 commented on #912
Any news?

[2020-12-09 07:41] friedlaenderhans commented on #1473
Flora wrote:

Hello,
sorry for not having answered for a couple of weeks.

We had the problem with a variety of current versions of MS Office. Our VBA/.NET-code was doing some "for each" loops on "Recordset.Fields" which produced the abortion of Word. Our developer replaced that whith "for i to Count-1", now evereything is running smooth again.

Best regards, may everybody stay well and safe!

Han

[2020-12-09 10:10] dakshika commented on #704
Any update on this?

[2020-12-09 10:40] exextoc commented on #1541
Thanks for reporting this issue regarding setSelectedDataAsync(). It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-12-09 10:52] AlexPhilippov commented on #1536
@xiaochun, thanks, that helped with the 2nd point. Any information on how can we ensure that clients will get the latest available version after the update(point 1)?

[2020-12-09 11:38] DmitryKostochko commented on #1288
Thank you very much! Please let me know when it can be tested.

[2020-12-09 11:53] leybal opened #1542 "setStartupBehavior(Office.StartupBehavior.load) results in the ADD-IN ERROR when opening saved workbook"
Hello. We launched the [excel-shared-runtime-scenario](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) add-in locally. Then made sideload of this add-in in google chrome and clicked the Load on doc open button on ribbon. After that we saved a copy of the document to the computer. An ADD-IN ERROR message occurred when we opening the workbook. Please

[2020-12-09 13:30] sarala-bhalerao opened #1543 "ADD-IN ERROR Sorry, we had to restart because this add-in wasn't responding."
## Current Behavior
After add-in load in word some time it shows Add-in error

* Additional details:
  1. Office.initialize() is added in setInterval() because we are loading same angular application in C# add-in

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: Microsoft 365 MSO (16.013426.2

[2020-12-09 15:00] ghost commented on #1460
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-09 18:59] jeremy-msft commented on #704
Hi @dakshika, please see https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache for guidance on clearing the add-ins cache.  If you are still seeing issues, please also try clearing the browser cache in the corresponding browser (https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins).

[2020-12-09 18:59] #704 closed, assigned to croicu, jeremy-msft

[2020-12-10 03:08] abimaelmartell commented on #256
Any fix on this? I'm having this same issue

[2020-12-10 03:22] grangeryy commented on #1536
@AlexPhilippov Great to know it works for #2 problem. For #1 issue, we are still contacting the partner team on the updating process and will let you know once we have more information.

[2020-12-10 07:11] david-ps commented on #1415
@mandytmsft That's great, thank you!

[2020-12-10 08:39] MandytMSFT commented on #1475
@FlorinBuffet can you reach officeatwork first to solve your problem ?

[2020-12-10 09:35] MandytMSFT commented on #1501
@SuprajitGhosh Is this issue resolved for you?

As for creating a sample code, you don't need install VS and deploy manifest, you can just use ScriptLab to try your API code. This can help identify whether the cause is from API call or related to Addin config or something else.

Here is how to use scriptLab: https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab

[2020-12-10 09:37] clavx commented on #1250
@JuaneloJuanelo Thank you for your reply.

Our customers have indicated that they use the resend feature in the following cases:
Case 1: They are using it to create emails that are slightly different from the text of the previous email.
For example: creating daily, weekly, and monthly reports
Case 2: When I want to edit and reuse the email text, address and attachments sent by others, I change the

[2020-12-10 09:56] MartinSSeifert commented on #1475
@MandytMSFT we can assure you that the Add-in is published properly (via AppSource, checked by Microsoft). Other customers have no issues at all! Can you please investigate why the 'web view' is showing this MICROSOFT generated message about licensing - this is NOT an officeatwork message! So we can not solve this - only Microsoft can!

[2020-12-10 09:58] MandytMSFT commented on #1516
@ssoni2074 I tried on Word online, It works fine to me as shown video below. Can I know your word version?
![ezgif com-gif-maker](https://user-images.githubusercontent.com/52641972/101756743-4dc26380-3b11-11eb-970d-1d4d561b7f14.gif)

[2020-12-10 10:24] MandytMSFT commented on #1475
@MartinSSeifert Aha, Thanks for the info to help me understand your role.

Could you pls share a high quality screenshot or share the message shown on error page ? i can't see clearly what the screenshot saying. Then I can redirect to right team for help.

[2020-12-10 10:26] MartinSSeifert commented on #1475
@FlorinBuffet can you please send Mandy a higher resolution image as she requested in her message to me - thx. cc: @MandytMSFT

[2020-12-10 10:55] Khivar opened #1544 "Iframe Dialog box height and width implementation is broken"
When opening a Dialog box with Office.context.ui.displayDialogAsync and displayInIframe set to true in the options object, the implementation of the height and width options parameters (which are defined as a % of the page) is broken.

## Expected Behavior
The Dialog box itself should be the size defined by the width / height parameters.

## Current Behavior
In Outlook Web, the Dialog box is imple

[2020-12-10 11:20] clavx opened #1545 "Outlook for Windows crashes after closing the dialog box"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In Outlook for Windows, closing a dialog box using the `close()` function causes Outlook to terminate unexpectedly.

## Expected Behavior

Outlook does not crash.

## Current Behavior

[2020-12-10 11:52] FlorinBuffet commented on #1475
Hi @MandytMSFT
Please find attached the Screenshot. Can you please reassign yourself the case?
![10-12-_2020_12-46-42](https://user-images.githubusercontent.com/73933252/101768657-26a26c80-3ae6-11eb-832f-d30252e593eb.png)

@MartinSSeifert Many thanks for your participation.

Best Regards
Florin

[2020-12-10 16:44] mattgeim commented on #1539
@prateek9us can you take a look at this please?

[2020-12-10 16:57] roqz commented on #1441
Any updates on this issue?

Further Question @exextoc : Is there any chance to change the selection a user made when the one-time prompt first appeared? A lot of users clicked on cancel and therefore now there are limitations for them (for example Links within the app that open a browser window no longer work/do nothing, whereas it still works for users that clicked ok on the popup)

[2020-12-10 17:24] JuaneloJuanelo commented on #1522
@sempre76  Hello! hey we have a  hypothesis that this is due to the length  of the attachment ID, is it possible that you can confirm that?  would be really useful to make sure if our fix will help you.

[2020-12-10 20:08] JiayuanL commented on #1521
Hi @els-ts, thanks for reaching, could you please let us know what API are you using under OfficeRuntime object? Is your ios scenario newly enabled? Or is has been working but ran into issue recently? Thanks.

[2020-12-10 20:35] lliu113 commented on #1518
@chintan-avnio thanks for reporting this! We tried reproing this on our end and we weren't successful - the dialog closed successfully. Would you be able to provide more detailed repro steps? If you have any code snippets/manifest you can share that would also be helpful.

Thanks!

[2020-12-10 22:06] jeremy-msft commented on #1542
Hi @leybal, we weren't able to reproduce this issue.  Could you please try running the steps again and sharing the session ID with us?  You can find the Session ID under File -> About.

[2020-12-11 01:51] ifflanb commented on #1239
Still no update on this? This is still an unresolved issue.

[2020-12-11 08:58] muneeb-devp opened #1547 "Unhandled exception in https://appsforoffice.microsoft.com/lib/1/hosted/word-win32-16.01.js"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

0x800a138f - JavaScript runtime error: Unable to get property 'openBrowserWindow' of undefined or null reference

This is a strange bug i've been encountring for a few weeks now. I'm

[2020-12-11 09:54] SanketDG commented on #1511
@adem Did you find any workaround for this?

[2020-12-11 10:23] chintan-avnio commented on #1518
Step1: Open Word Online.
Step2: Search for Grammerly Addin in store.
Step3: Sign in with your Account.
Step4: Check with Word Client and Word Online.
(Online word will not close Dialog after successful sign-in)

If still doesn't getting the issue!

Please write in here will create a sample code for dialog close issue

[2020-12-11 10:47] adem commented on #1511
Unfortunately not. If your blobs aren't very large (< 1MB), converting to a data URL via [FileReader.readAsDataURL](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL) might be an option, but it's not an option for us.

[2020-12-11 11:27] TobiasWolters commented on #1518
We also still experience the issue.

[2020-12-11 13:13] AhmedJDev commented on #1661
@ElizabethSamuel-MSFT  Similar to Jak, we use the send event on outlook when composing a message to talk to our services which gives back data. I will need to pass that data through to the task pane when it is displayed. I Will give this a shot and give some feedback! This is on the following platforms (windows, mac and OWA)

[2020-12-11 13:41] eneoli opened #1548 "window.open creates Pop-up warning in Chrome BUT still opens window"
## Expected Behavior
Clicking on a button that executes a function that should open a new window via window.open(...) opens a new tab with no pop-up warnings.

## Current Behavior
Clicking on a button that executes a function that should open a new window via window.open(...) opens a new tab WITH pop-up warnings.

Firefox does not raise a pop-up warning.

## Steps to Reproduce, or Live Example
Cre

[2020-12-11 14:57] leybal commented on #1542
Thanks for the answer.
Here is the session ID for case when we have the add-in error: 14e9536e-2038-4bc4-914d-c85a266b831b. Also please take a look at [video](https://drive.google.com/file/d/1hpFqkKgp_czKzTHIngSUz3N5V76cN1CF/view?usp=sharing).
In this case we set Office.addin.setStartupBehavior(Office.StartupBehavior.load).

The session ID when here is no error: b6d69612-cce2-4796-ba4d-1ee362ecb86

[2020-12-11 16:16] AhmedJDev commented on #1661
@ElizabethSamuel-MSFT I have tried to implement it and got the actions working but I wasn't able to get the contextData.
I have added my project to my github for you to look at:
https://github.com/AhmedJDev/OfficeJsNotifications

[2020-12-11 16:46] ekowpo commented on #1529
Thanks, @MandytMSFT. Could you send me the link to the suggestion. Also, the problem transcends beyond page numbers to custom headers, document properties in the header/footer.

[2020-12-11 16:46] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev Thanks for getting back to us. Are you running this in Windows?

Thanks.

[2020-12-11 17:33] AhmedJDev commented on #1661
@ElizabethSamuel-MSFT I tried running this on windows but the task pane wouldn't open whereas on OWA it would but no context data

[2020-12-11 18:06] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev Thanks for the update. There's a bug in the feature on Windows where the first time you open the InsightMessage notification and click the action, the task pane may not open. Try dismissing the message then clicking send again to get the notification to be displayed again. Clicking the action in the notification should open the task pane. Let us know if this info helped.

The feature cr

[2020-12-11 18:43] Dengshan2018 commented on #1415
@david-ps , the root cause is located. The fix is on the way.

And please confirm there is no issue if update table just from the taskpane.

[2020-12-11 23:01] nbelyh commented on #1378
@patrikhellgren There is probably nothing wrong with referencing Visio API using the standard office-js package. The point is when creating the sample in 2018, the office-js package was non-existing (for Visio). Now you can simply install the package, Visio API is included. Check out here the comment from the author of the sample you are using as a reference: https://github.com/pnp/sp-dev-fx-webpa

[2020-12-11 23:04] jargil commented on #1536
@AlexPhilippov - thanks for reporting your concerns.

I looked at the updates situation and I was not able to reproduce any problems with it locally. One thing to clarify is that updates don't happen immediately after they have been approved. It can take from a few hours to a few days for different computers. There are other internal factors that could also add delays in updating an add-in on a gi

[2020-12-11 23:38] patrikhellgren commented on #1378
@nbelyh Thanks for the heads up. I will give that a try. It's just unfortunate that this is so undocumented and that the existing documentation doesn't mention any of this and instead mentions the reference way as the way to do it.

[2020-12-12 02:09] exextoc commented on #1534
[Localization for Office add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/localization#control-localization-from-the-manifest) has a more complete description of the localization guidance and limitations:

If you would like to suggest more consistent support, this would impact more clients than just Outlook. Please consider leaving some feedback on [UserVoice here](https://offi

[2020-12-12 08:57] nbelyh commented on #1378
@patrikhellgren  Looks like visio online api is not the piority number one for now 😅 .unfortunately I also faced a number of issues, this one for  example can become blocker, if you want to use this api actively  https://github.com/OfficeDev/office-js/issues/1539 😞

[2020-12-12 17:00] ghost commented on #1460
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-12 20:29] exextoc commented on #1548
Opening a new window from add-in function works for me without any warning. Can you please elaborate what does the warning sign say?

[2020-12-12 20:59] eneoli commented on #1548
I created a completely new project via the yeoman generator. In fact I only changed the code in the "action" function in the "commands.ts" to
[code]

And still I get in Firefox AND Chrome a pop-up warning. It says "Firefox prevented this site from opening a pop-up window"
Firefox:
![grafik](https://user-images.githubusercontent.com/23139864/101994677-64f58280-3cc4-11eb-94f0-010d5879fe96.png)

Chro

[2020-12-12 21:01] eneoli commented on #1548
P.S. as mentioned before, the site still opens BUT a warning appears. This prevents the addin from beeing approved for the store...

[2020-12-14 00:00] ghost commented on #1530
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-14 01:32] MandytMSFT commented on #1475
@FlorinBuffet thanks for the details. I have assigned to right people to help figure out cause.

[2020-12-14 03:43] blesliecan commented on #1528
What is the next step here? Should I have reported this bug somewhere else?

Will I get feedback here from the Outlook Desktop product team or is there a tracking number or something that I can use to keep track of this?

[2020-12-14 05:23] MandytMSFT commented on #1540
@hunef39 thanks for reaching us. Currently it's a by-design behavior that single click is not triggered if you moved mouse pointer before releasing. Our API relied on OS to decide if it's a left click event.

We track Office Add-in feature requests on our [UserVoice page](https://officespdev.uservoice.com/) Please add your request there. Feature requests on user-voice are considered when we go thr

[2020-12-14 05:34] MandytMSFT commented on #1529
@ekowpo  you can find the link by opening any of your word document in browser :)

[2020-12-14 05:42] MandytMSFT commented on #1538
@alexuaua Thanks for reporting. We can repro the issue and Bug 4708364 is created for internal track. We unfortunately have no timelines to share at this point.

[2020-12-14 08:50] alaeMellon opened #1549 "A problem occurred while trying to access this add-in."
Hello,

since I installed the Microsoft Edge DevTools (Preview) last night I can't access my add-in in Outlook. I get the following error message: "A problem occurred while trying to access this add-in.".

However, it works fine in Outlook Web. And also on my old laptop the add-in still works.

Does anyone else have any ideas perhaps? (On my old laptop it works fine in Outlook. I have already unin

[2020-12-14 10:16] ssoni2074 commented on #1516
@MandytMSFT please find attached picture.I would like to inform that all our team members are having same build number but some are facing this issue and some are not facing this issue ( our team members are in INDIA, AUSTRALIA, AMERICA mostly are facing this issue but some are not)
![image](https://user-images.githubusercontent.com/66596870/102069042-3d68fc00-3e23-11eb-9470-a931d69cd496.png)

[2020-12-14 18:00] ghost commented on #1522
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-14 20:51] bx-anil opened #1550 "[Outlook] Installing add-in thru URL fails but works fine when I use the downloaded xml"
When I use the option to install the add-in via the url it throws an error. But when I down the manifest.xml  and tried to install it works fine.
The add-in for Outlook and not part of the store. It is a managed/centrally deployed add-in.

manifest url: https://<domain>/manfiest or https://<domain>/manfiest.xml

Exception when using the URL:
{"anonUID":"","BillingRegion":"US","Browser":"Chrome87",

[2020-12-14 23:48] #1534 closed, assigned to exextoc

[2020-12-15 00:23] namnn96 commented on #1469
Hi @hjkim-MSFT,

I noticed you marked the ticket as fixed. Could you please elaborate on:
- Minimum version of Windows/Office
- What solution has been done? Is it to fix the flickering when toggle the design mode?

[2020-12-15 05:56] MandytMSFT commented on #1516
@ssoni2074 Thanks for the update. Could you share a sessionID which can repro the issue to me for further dialogistic?

[2020-12-15 06:27] ssoni2074 commented on #1516
@MandytMSFT 36c5a5ba-35ff-4d16-b53c-bc5f94aee914

[2020-12-15 09:22] neso613 opened #1551 "Microsoft Publish Failure for Outlook Addin"
Hi
I have developed an Outlook for Windows Add-in using Office.js.
The add-in has functionality ​to assist users in scheduling and  starting a meeting in Microsoft Outlook quickly. Add-in has settings UI so that user can save its room/pin/username for meeting. There is a custom tab which opens new appointment window with pre-populated text.
I have submitted it on Microsoft Store for publish. But I

[2020-12-15 09:52] exextoc commented on #1537
Hello @iuri1994 , not sure we understand your issue completely. Can you please post the recurrence properties that you're receiving and also whats the expected behaviour? We see that in the video you've shared, the recurrence property JSON is coming up, as already communicated before.

[2020-12-15 10:48] roebuk opened #1552 "Error message spills out of its container"
When adding an invalid XML file the text spills out of the container.

![image](https://user-images.githubusercontent.com/474377/102205302-eadf1c80-3ec2-11eb-891e-81b7669e1534.png)

It's also difficult to read, perhaps some better formatting of the error message wouldn't go a miss.

[2020-12-15 10:49] iuri1994 commented on #1537
Hi,
the problem is the function recurrence.getAsync where I am getting a Null value instead of the recurrence values.
![image](https://user-images.githubusercontent.com/51403191/102203204-347a3800-3ec0-11eb-94b8-4155dadb2ee0.png)

But when I use the addHandlerAsync I am getting the correct value.

After a few tests, this only happens when I reproduce these steps.

1 - open a new event (don't fill

[2020-12-15 12:20] ig-jb commented on #1548
@Eneoli I noticed similar inconsistencies around popups -- the workaround I used was the same one that you can see in Script Lab - > Help; which is to have a button trigger the launching of the popup.

I believe the difference is how far in the stack the browser has to check before it is clear that it was triggered by user interaction (and therefore is acceptable)

[2020-12-15 15:31] AhmedJDev commented on #1661
@ElizabethSamuel-MSFT I have tried this aswell. It still doesn't work on Windows. I need to be able to send that information across to the task pane when the onSend handler does what it needs to do and opens the task pain. I was thinking maybe it is where I am placing the getInitalizationContextAsync? any other advice? Thank you for all the help so far!

[2020-12-15 18:45] ElizabethSamuel-MSFT commented on #1661
Adding @exextoc to take a look. Thanks.

[2020-12-15 18:50] eneoli commented on #1548
@ig-jb That could be a suitable workaround.
Either way I think this is a bug. In fact the user is willing to open a link by clicking on the action. Also it is strange that Chrome raises a Pop-up warning but still opens the site.

@exextoc  It would be really great if you could take a look at this, thank you very much!

@ig-jb Would you mind showing the code you used to create this Button dialog. I

[2020-12-15 19:17] exextoc commented on #1498
Hi osvath58,

There is a cache implemented on the server side which could be preventing the Addins from refreshing immediately.
Cache expires after 24 hrs for Excel.
Can you please confirm how much time after deployment have we tried checking Excel?

[2020-12-15 20:58] exextoc commented on #1549
What is your build and version of Outlook?

Does the add-in load when Edge DevTools is closed or uninstalled? Do you have a screenshot of the error?

[2020-12-16 05:56] exextoc commented on #1535
Hello @Byron-Mo , just to confirm if you're trying to set custom categories in the new UI, then it is not possible since the new UI does not support 1.8 API set currently.

More details on this documentation - https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview

[2020-12-16 05:59] Byron-Mo commented on #1535
Thank you for the information! Do you have a timeline of when 1.8+ will be supported?

[2020-12-16 08:37] prateek9us commented on #1539
@nbelyh can you please share a screenshot or an error that you see?

[2020-12-16 09:24] nbelyh commented on #1539
@prateek9us @mattlind

Some screenshots (the error varies):

freezes forever:
![image](https://user-images.githubusercontent.com/528366/102328645-9c478600-3f87-11eb-9385-b22ac2462623.png)

or gives this:
![image](https://user-images.githubusercontent.com/528366/102328275-23e0c500-3f87-11eb-8f90-29554186ed68.png)

Please check the JavaScript file above - the error looks pretty much straightforward

[2020-12-16 09:25] ig-jb commented on #1548
@EneOli Unfortunately my example has a large amount of code irrelevant to the problem and quite a bit of abstraction; so showing you what I've done wouldn't help too much.

However, in essence what I did was:
1. Pass a description of what we are looking to launch to the dialog via a query string parameter. Return a promise to the caller.
2. When the dialog loads, find the query string parameter an

[2020-12-16 09:35] eneoli commented on #1548
@ig-jb Thanks for outlining your steps.

I got it working now. As you mentioned, the child pages need to have office-js loaded and also the action event is not allowed to be completed before the dialog is closed.

@exextoc maybe one could add ig-jbs points to the docs, beacuse there isn't a single hint about including office-js into the child page. Instead it is qouted "optional"?

@ig-jb Thank yo

[2020-12-16 09:58] exextoc commented on #1544
Hello, we are unable to reproduce this issue.  Can you share the manifest of the addin which you're trying this from?

[2020-12-16 18:13] GeorgeHung opened #1553 "range.numberFormat does not work properly in German Regional Setting"
After setting Mac's regional setting to Germany, range.numberFormat does not apply the number format correctly

## Expected Behavior
The number format passed to range.numberFormat api should be applied.

## Current Behavior
After setting Mac's regional setting to German, range.numberFormat does not apply the number format correctly

## Steps to Reproduce, or Live Example
1.  In Mac, go to System P

[2020-12-16 19:06] davidchesnut commented on #1542
Hi @leybal,

Just a quick update: I submitted a [PR to the sample](https://github.com/OfficeDev/PnP-OfficeAddins/pull/106) which fixes the RichApi.Error you were seeing logged to the debug console. That was a bug in the sample unrelated to the add-in error, but good to fix.

I also reproduced the problem by following your video (which was super helpful!). Now that we can repro the add-in error, th

[2020-12-16 19:34] puentesdiaz commented on #318
Hi iam try use
`Office.context.document.getTaskByIndexAsync(3, function (resultTask) {
      if (resultTask.status === Office.AsyncResultStatus.Succeeded) {
        this.setState({ idDocuMongo: resultTask.value + "_ GUID _" + parseInt(Math.random() * 100) });
      }
      else {
        matrizTask.push("resultTask.error");
      }
    }
    );`

but i don't get anything

[2020-12-16 23:01] zhaoliu-MSFT commented on #1469
Hi @namnn96,

The fix should be available on Build 13610. It happens to be a simple fix in the code so the fix was justified quickly.

The flickering is caused by the WM_SETREDRAW message that can be seen with the Spy++ tool in one of the HWNDs. The fix will prevent the WM_SETREDRAW message if the add-in taskpanes are present, which should fix cases including the design mode and changing view mode

[2020-12-16 23:47] exextoc commented on #1528
We have forwarded this bug along to the Outlook Desktop product team. It is being tracked with bug id 4715226.

The guidance for reporting feedback to the Outlook Desktop product team is to use the Help->Contact Support, Help->Feedback, or Help->Suggest a Feature buttons in the Outlook ribbon as appropriate to your situation. Issues entered through these avenues will contain logging information an

[2020-12-16 23:47] #1528 closed, assigned to JuaneloJuanelo, exextoc

[2020-12-17 02:00] ghost commented on #1530
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-17 02:00] #1530 closed, assigned to smaremanda, croicu

[2020-12-17 06:14] exextoc commented on #1535
It is targeted to be available in [insiders ](https://insider.office.com/en-us/join/mac)in Feb of 2021.

[2020-12-17 06:24] exextoc commented on #1537
Can you please try out the following code snippet for using getAsync in recurrence and test once?
`
function myCallback(asyncResult)
{
  var recurrence = asyncResult.value;
  console.log(asyncResult);
  if (recurrence == null)
   {
    console.log("Non-Recurring Meeting");
	  return;
   }
}
Office.context.mailbox.item.recurrence.getAsync(myCallback);
`

[2020-12-17 06:44] exextoc commented on #1551
Can you please tell the process which you've followed to publish the addin? Also can you please share the manifest of the same?

[2020-12-17 08:20] MandytMSFT commented on #1553
@GeorgeHung  Thanks for reaching us. I think the difference is the decimal separator given Germany is using different decimal separator as other locale like en-us. I can get the same display on Windows by changing region to Germany. Application.useSystemSeparators return true in this case.

Could you try this workaround to see if it works for you ? Setting workbook don't use system separator by **

[2020-12-17 09:15] iuri1994 commented on #1537
Hello,
The code you send me it's the normal code to get the recurrence, with that I can get the recurrence, but that is not the problem here, if you see the code I sent you, you will see that there is the saveasync function before the recurrence function. I tried your code without the saveasync function and it works, if you tried to follow my steps with the function you sent me, but put the saveas

[2020-12-17 11:21] shff commented on #1499
I'm on 16.45 (20120106) beta and it's still happening.

[2020-12-17 11:26] shff commented on #1499
Updated today to 16.45 (20121303) and it's also still broken for me.

The error happens after I call `body.setAsync`... after that I can't call any getter functions.

The only workaround is to ask the end-user to select the email again in the "From" field, even if it's already selected.

[2020-12-17 12:40] puentesdiaz opened #1554 "Office.context.document.getTaskByIndexAsync work?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi i am try use **Office.context.document.getTaskByIndexAsync** in my code, i'm develop a ADDIN for Project Desktop
i know how many rows or task i have inm y Project File
So i want ge

[2020-12-17 13:30] ssoni2074 opened #1555 "[Word] Unable to delete text in content control (on word online)"
Sometimes in some content control (not all ) I can add text but deletion is not allowed .
For more clarity on problem ,procedure and properties of content control please look at video attached .
Video shows onscreen keyboard and keystrokes .
You can also see properties of content control in chrome debug panel/section on right .

## Expected Behavior
Insertion and deletion of text should be allowed

[2020-12-17 16:03] GeorgeHung commented on #1553
Mandy

Thanks for your response.  However, I am using Mac, and I couldn’t find Options under the File in Office for Mac.

Regards,
George

[2020-12-17 20:00] ghost commented on #1522
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-17 20:00] #1522 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2020-12-17 20:42] exextoc commented on #1545
I was unable to repro the issue you are seeing. Could you provide us with a crash dump or Watson ID for the crash?

[2020-12-17 23:24] exextoc commented on #1661
For Outlook on Windows, does your add-in work without the contextData parameter? Which build and version of Outlook are you using?

Also, the getInitializationContextAsync API is currently in preview. To use this API, make sure you meet all the [requirements](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview) to use pr

[2020-12-18 00:59] mjrforce opened #1556 "[Excel] Uncaught Error: Sys.ArgumentNullException: Value cannot be null. Parameter name: conversationId"
I am using office JS to build my Excel add in, which authenticates into another system via oAuth. I can open the dialog like this:
[code]
Then go through the authentication flow, but when we get to my callback page, I am getting the following error:
[code]

This is preventing Office.onReady() from being called.  Currently running in Office365 in Chrome. I haven't tested other browsers.

[2020-12-18 02:36] SWei1234 opened #1557 "[Outlook] Custom property disappeared after serval minutes on delegate calendar"
Custom property disappeared after serval minutes on delegate calendar.
1. delegate permission is full calendar, Tasks are both Editor
2. This problem only happened on Mac Outlook (16.44  20121301)

## Expected Behavior
Custom property will not disappear until I delete them.

## Current Behavior
Custom property will disappeared after saving about 30 minutes on shared calendar

## Steps to Reproduce

[2020-12-18 02:57] SWei1234 commented on #1460
Hi @exextoc
1 -> Is the Custom Property being read immediately after the setCustomProperty in a new meeting or is the meeting invite being sent and then Custom Property is being read after a while or an Outlook restart.
A: The Custom Property can be read after an Outlook restart serval minutes. Looks like only related with Outlook restart...

2 -> In step 3 mentioned, is loadCustomProperty being d

[2020-12-18 03:54] MandytMSFT commented on #1553
@GeorgeHung My fault, i thought the settings on Mac is similar as Win32. Then how about changing the system separator on Mac by: **System Preferences ->Language and Region->Advanced**. Change the Group separator from full stop (.) to a comma (,) and Decimal separator from a comma (,) to a full stop (.) as screenshot below.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/52641972

[2020-12-18 05:39] glr0221 commented on #1534
@exextoc @ElizabethSamuel-MSFT

Sorry for the late response. I have been very busy these past few days. Thank you for the very clear response @exextoc. I am now following the BCP-47 syntax for the locale-codes. I based it on the Translator for Outlook manifest.

As for the request on consistent support, yes I will file this in the user voice later.

Thank you always for all your support and prompt

[2020-12-18 07:01] exextoc commented on #1537
I used this following code to test.
`
 Office.context.mailbox.item.saveAsync(function(item) {
        Office.context.mailbox.item.recurrence.getAsync(function(asyncResult) {
          // debugger;
          if (asyncResult.status === Office.AsyncResultStatus.Succeeded) {
            var recurrence = asyncResult.value;
            if (recurrence === null) {
              console.log('recurrence_fun

[2020-12-18 07:36] exextoc commented on #1550
Hi bx-anil, Can you please share the exact command used, it would help us in debugging this further? Looks like Exchange is not able to reach the host passed.

[2020-12-18 07:49] 4tti commented on #1553
@MandytMSFT this is not solution of the issue nor viable workaround, we cannot ask every single user to change their preferences. The issue is that the range.numberFormat should be locale neutral, i.e. developer should always pass the format in language neutral format and it should then format the cell correctly using appropriate group/decimal separators, e.g. if I pass '###,##0.00' it should form

[2020-12-18 08:29] koonal19 commented on #289
@macOutlookExtensibility @exextoc @lindalu-MSFT
I am using MacOs Mojave 10.14.6 with Mac Outlook version 16.44 (20121301).
Here repro steps are the exactly same via EWS makeEwsRequestAsync Request.

Here i am able to get the error in windows outlook client and OWA in all the browsers.

[2020-12-18 08:38] iuri1994 commented on #1537
Yes, that's the expectation, but for me, it's not working in that way, the recurrence it's not coming with the correct value.

[2020-12-18 11:05] clavx commented on #1545
This has been observed in the following test environments:
- Windows 10 running on Hyper-V in a local PC
- Windows 10 running on Azure

The Azure VM was created with the following configuration:
- Size: Standard D2s v3 (2 vcpus, 8 GiB memory)
- Operating system: Windows
- Publisher: MicrosoftWindowsDesktop
- Offer: Windows-10
- Plan: 20h1-pro-g2
- VM generation: V2

-----

View technical details

[2020-12-18 15:33] meladm commented on #1432
I came across a similar issue: https://answers.microsoft.com/en-us/msoffice/forum/all/office-add-ins-disappearing-due-to-multiple-office/f92ad961-7389-42e1-8a50-94f3344905a1

[2020-12-18 17:13] awasser-omnispear commented on #1414
I'd like to pile on my experience as well.
I am encountering the same issue, but with the Yo Office result directly without any change to the manifest or any of the code.
* Excel Enterprise version: 2011 (Build 13426.20332 Click-to-Run)
* Windows 10 Pro Version 10.0.19041 Build 19041

I've tried a number of templates in yo office, and even cloning the Custom Functions template directly from github

[2020-12-18 20:25] GeorgeHung commented on #1553
Mandy

If I apply the number format manually, it actually works without changing the settings.  You can try by right click on the cells and to go Format Cells->Number Tab->Select Custom from category.  After you apply custom format "###.##0,00", the number is formatted as expected.

Regards,
George

[2020-12-18 21:00] alexuaua commented on #1538
@MandytMSFT Thank you. Could you please advise me if I should open another issue: when I use markers/line formatting related API for charts (marker size/line style) with latest Excel on iPad _and_ more than one chart, only the first chart is displayed and no exception goes to catch{}. I can prepare a demo script based on my code, just wanted if it is ok to report as another issue.

[2020-12-19 21:00] ghost commented on #1549
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-21 03:07] MandytMSFT commented on #1538
@alexuaua It's better to share a gist to me first to understand your operation before I can give you a confirmed answer :). You also can try the same API calls on other platforms like excel desktop/Excel Online, if they are behaved differently from iOS, then you can report to us. Ideally, API behavior is consistent among different platforms.

[2020-12-21 04:00] MandytMSFT commented on #1553
@GeorgeHung @4tti Maybe I have some misunderstanding on the issue before. To clarify, You want C3 show as 7,50 instead of 7,5000, correct ?  Then I think range.numberformatLocal is the right API, could you have a try ? and let me know if the issue is not resolved

[2020-12-21 06:04] clavx commented on #1545
I was able to get the dump by running ProcDump as follows, but the file size is about 660MB.
How can I share it?

[code]

[2020-12-21 06:59] MandytMSFT commented on #1555
@ssoni2074 Thanks for reaching us. I can't repro on my side. Could you share your sample doc to us ? and what's your build version of word online ?

[2020-12-21 07:14] ssoni2074 commented on #1555
@MandytMSFT **session id** 36c5a5ba-35ff-4d16-b53c-bc5f94aee914
**build version** 16.0.13610.41006

there are multiple content controls in this file you can try adding and deleting data from these content control .This issue is reproducible on web only .
[Entire Agreement.docx](https://github.com/OfficeDev/office-js/files/5722817/Entire.Agreement.docx)

[2020-12-21 10:27] sshukurov commented on #1449
@lumine2008, has the fix reached the production yet?

[2020-12-21 12:12] LidiaEmma opened #1558 "MS login window comes up in browser, not needed, only in Outlook Client Application"
I have an outlook add-in and, when it's loaded it should read the token via the MSAL library (updated at version 1.4.4.) and in case it's not found load a sign-in button, and after click an authentication form appears in outlook app.
It's happening , but at the load of add-in (so not at click of button) another thing not needed is happening: a browser with the authentication page comes out.

In ou

[2020-12-21 15:39] blesliecan commented on #1528
Is there anyway I can see what the status of bug id 4715226 is?

[2020-12-21 16:44] jag-cloudextend opened #1559 "Date value not recognized by Excel"
When we format the column as Date type (dd/mm/yyyy) and write a date (Ex: 21/12/2020), Excel is not recognizing it as a Date value

## Expected Behavior
It should treat the value as Date and give us the option to filter them as Dates instead of Text
![image](https://user-images.githubusercontent.com/12657943/102798407-0ff9f080-43d7-11eb-9e8b-aff0c2bae2b3.png)

## Current Behavior
They are recogniz

[2020-12-21 18:44] AlexJerabek commented on #855
Pinging this thread to say that ExcelApi 1.10 in currently in the nuget file, but 1.11 and 1.12 are not. @sumurthy & @weshi, is there any way to get regular updates to the nuget file or have that update be part of our requirement set release cadence?

[2020-12-21 22:33] lindalu-MSFT commented on #1552
@roebuk Hi, can you please let us know which Office client you are working in (assuming Outlook??) and your configuration? Please refer to the issues template for the fields we need to triage your issue. Thanks in advance!

[2020-12-21 22:36] #1540 closed, assigned to lumine2008, tutieu

[2020-12-21 22:43] #1535 closed, assigned to nobody

[2020-12-21 22:43] lindalu-MSFT commented on #1535
Closing resolved Feb 2021 (if needed, feel free to reopen)

[2020-12-21 23:00] lindalu-MSFT commented on #1545
Hi clavx, can you zip it and place it on your public drive or even try attaching it here? If compressed, you might be able to drag and drop the dump directly to a message. That way, the Outlook eng team can have a closer look.

[2020-12-21 23:02] lindalu-MSFT commented on #1532
@ElizabethSamuel-MSFT , have we sorted out who the OneNote SME is? This should be assigned to someone to get the attention it deserves. Thanks, lindalu

[2020-12-22 02:00] ghost commented on #1661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-22 02:08] gerrychong opened #1560 "Excel add ins manifest<OfficeMenu id="ContextMenuCell">unable to run"
An error occurred when I tried to use this manifest item
[https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/extensionpoint](url)

## Expected Behavior
ContextMenuCell - Displays the item on the context menu when the user opens the context menu (right-clicks) on a cell on the spreadsheet

## Current Behavior
Unable to run while creating ContextMenuCell

## Steps to Reproduce, o

[2020-12-22 04:41] MandytMSFT commented on #1555
@ssoni2074  thanks for the quick reply. We can repro and our team is working on the investigation.

[2020-12-22 06:34] AlexPhilippov commented on #1536
@jargil, thanks for the response.
It's quite unfortunate that we need to wait a few days to get an updated version. Along with the approval process, it's taking now somewhat about a week to provide a new version to a common user.
Are there any known factors that delay the updates? Is there any reliable way for common users to update their version to the latest except for add-in reinstallation and

[2020-12-22 12:43] eneoli commented on #1548
Why was this closed? In my opinion that's a bug. ig-jb's comment is just a workaround.
If pressing an action button, the user is willing to let the addin do something (open a window for example)

At least the documentation should be updated, because office-js MUST be included into the child page and is not optional as stated in the docs. Also the event is not allowed to be completed while the dial

[2020-12-22 12:46] eneoli commented on #1548
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

[2020-12-22 12:49] chintan-avnio commented on #1518
@TobiasNissen is this fixed in your app?

It started working for 2days!

[2020-12-22 12:58] TobiasWolters commented on #1518
Yes, it also works for me again. Feel free to close this issue.

[2020-12-22 12:58] #1518 closed, assigned to lliu113

[2020-12-22 14:44] roebuk commented on #1552
1. Create an manifest.xml file that's invalid
  2. Attempt to add the add-in
  3. The error message appears as it does in the screenshot above.

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2011 Build 13426.20332
* Operating System: Windows 10
* Browser (if using Office on the web): N/A

[2020-12-22 16:56] ElizabethSamuel-MSFT commented on #1532
@lindalu-MSFT As far as I know, the SMEs are known but we don't have any GitHub IDs for them. I've emailed them about the issue but I may need to follow up once folks are back from the holiday break.

[2020-12-22 18:08] lindalu-MSFT commented on #1560
@lliu113 Lillian is this your area? Please let me know if I need to reassign! Thanks in advance, double EL

[2020-12-22 19:52] ElizabethSamuel-MSFT commented on #1661
Removing these tags so the issue is not closed prematurely over the holidays.

[2020-12-22 20:29] lindalu-MSFT commented on #1552
Thanks! I'll reassign to the Outlook engineers. We're a bit backlogged due to the holidays but you should hear back soon.

[2020-12-22 20:30] lindalu-MSFT commented on #1548
OK good feedback, reopening. @exextoc is this on our backlog?

[2020-12-22 20:32] lindalu-MSFT commented on #1536
Reopening due to ongoing communication.

[2020-12-22 23:00] ghost commented on #1549
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-22 23:00] #1549 closed, assigned to exextoc

[2020-12-23 10:23] christian513 opened #1561 "RichApi.Error when loading office.js script: The argument is invalid or missing or has an incorrect format"
Hi,
we load the Office.js with this script in our html app:

<script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>

Every time the html file is loaded the following error occurs on the console. The error even occurs if we do not call any Office.js API in our code.

RichApi.Error: The argument is invalid or missing or has an incorrect format.

##

[2020-12-23 10:52] PavanaKatta opened #1565 "Comments and Grouping are not loaded into excelusing addFromBase64"
Hi Team,

We are using **addFromBase64** in Office 365. Comments and Grouping in not loading in the excel.

Could you please suggest any other way i can achieve this functionality.

Thanks team in advance!!..

Thanks,
Pavan

[2020-12-23 11:18] barisbikmaz opened #1562 "[Excel] Excel.createWorkbook throws exception on ios"
## Expected Behavior
Excel.createWorkbook(base64) should not throw

## Current Behavior
Excel.createWorkbook(base64) creates a workbook but also throws a "Not Implemented" exception on ios.

## Steps to Reproduce, or Live Example

* Additional details:
  1. Create a snippet with Excel.createWorkbook(base64).catch(displayError)
  2. Replace "base64" with the base64 representation of a workbook.
  2

[2020-12-23 14:09] christian513 opened #1563 "[Excel] Non-error promise rejection when launching a dialog"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

every time we launch a dialog from our add-in in PC desktop using the Office.context.ui.displayDialogAsync API we see this error in our application monitoring (sentry.io):

"Non-

[2020-12-23 14:54] chucklay opened #1564 "[Excel] Office add-in fails to load due to invalid cert authority even after installing dev certs"
Currently being experienced by @viperhodge11. On trying to insert our add-in in Excel online (in Edge), was unable to load the add-in, despite the CAs being installed.

We've attempted to uninstall/reinstall the certs via `npx office-addin-dev-certs uninstall` and `npx office-addin-dev-certs install` (restarting the dev server and edge between installs) multiple times, but haven't gotten anywhere.

[2020-12-23 16:39] ElizabethSamuel-MSFT commented on #1565
@PavanaKatta Thanks for raising this issue. Moving to office-js repo for product team to investigate.

Thanks.

[2020-12-23 16:49] exextoc commented on #1119
Hey,

A fix for the issue has been checked in should be available now. We are now unable to reproduce this issue any more. Can you all confirm the same?

[2020-12-23 17:15] PavanaKatta commented on #1565
Disable cell functionality is also  missed.

[2020-12-23 17:56] lindalu-MSFT commented on #1561
Hi @sumurthy, I think this is a ScriptLab issue. Can you triage and reassign if necessary? Thanks, lindalu

[2020-12-23 18:46] christian513 commented on #1561
Hi, it is not an issue of ScriptLab. It occurs with every add-in.

[2020-12-23 19:49] gummybuns opened #1566 "saveCustomPropertiesAsync on Event Occurrence raises error when sending a series master update Windows Desktop Only"
**In Windows Outlook Desktop Only**
1. Create a recurring event
2. Open an occurrence -> save a custom property on the occurrence
3. Open series master -> edit the title -> send

## Expected Behavior
It sends and updates the series

## Current Behavior

It shows an error suggesting the event failed to update, although the update does actually get sent.

![Screenshot 2020-12-22 at 14 36 16](https:/

[2020-12-23 21:18] naemcivic commented on #1423
@exextoc
Are there any updates on this as we are relying on this to work on our issue. thank you

[2020-12-23 23:39] exextoc commented on #1558
Unfortunately we don't have enough experience with the MSAL library to comment on the former part of your request. From the sounds of it, it looks like it's specific to the add-in you're creating - how/where you're initializing the library or on how the library behaves if the user isn't authenticated. As for the latter part of the issue, where a browser opens up instead, is the URL of the page whe

[2020-12-24 00:08] exextoc commented on #1566
We are unfortunately unable to reproduce the issue. Is there maybe a step missing in between the repro steps? Once you open the occurrence of a recurring meeting and set customProperty, do you save the item or send an update or simply hit 'x' to close the item without hitting save/send? Also, could you try using ScriptLab for Outlook from App Store (hit Get Add-ins and search for ScriptLab. Within

[2020-12-24 00:55] gummybuns commented on #1566
Thanks for responding, I tried to create a very basic application that only sets custom properties. I agree that it is not reproducible under normal circumstances. There is something that our application is doing or some sort of race condition that is causing this problem for us

[2020-12-24 01:55] gummybuns commented on #1566
It seems to happen when `Office.context.mailbox.item.saveAsync` and `customProperties.saveAsync` are called in parallel

![Kapture 2020-12-23 at 17 20 28](https://user-images.githubusercontent.com/47437711/103048405-61bf8980-4543-11eb-8233-e5aea9958857.gif)

I will work on trying to include the source code into a single file

[2020-12-24 02:13] gummybuns commented on #1566
[code]

i will also try to follow the instructions for ScriptLab, this was just easier to show

[2020-12-24 03:49] MandytMSFT commented on #1561
@christian513 Thanks for reaching us. Can I know which platform(Excel Desktop, Excel Online, Mac or iOS) you are seeing this error ? And what's the excel version ?  It's definitely not right to have this error, if you can provide a repro video, that will be helpful for us to better understand your scenario.

[2020-12-24 05:15] MandytMSFT commented on #1565
@PavanaKatta  Thanks for reaching us. Can I know which platform (Excel desktop, online, mac or iOS) you are using AddFromBase64? I am asking this because Comments and Grouping has been supported on Excel Desktop. If you are on desktop, can I know your excel version ?

Besides, what do you mean by "Disable cell functionality is also missed" ?

[2020-12-24 05:43] #1478 closed, assigned to nobody

[2020-12-24 05:53] MandytMSFT commented on #1559
@Jagapathi126 Thanks for reaching us. Can I know how you get below date filter window pop up ?  I tried the same setting in Gist on Excel UI, It behaved the same as API did.

![image](https://user-images.githubusercontent.com/52641972/103064557-33978380-45ef-11eb-9aff-bd09ac04c746.png)

[2020-12-24 06:52] exextoc commented on #1499
Hey guys,

The issue with body API failing consistently has been fixed and should be available in the December build update 16.44 (20121301) and later. About the getter functions failing, can you share some repro steps, and if possible- a manifest where this issue is reproducible? That would really help us with our investigation.

[2020-12-24 09:52] exextoc commented on #1445
@DmitryKostochko @rinfex-holfer  Could you please confirm if are you still facing this issue in latest versions of Mac Outlook?

[2020-12-24 10:04] exextoc commented on #1548
Hey @EneOli ,

Can you point me to the exact line which you believe is ambiguous? We'll make an effort to make it more clear in our documentation. The fact that OfficeJS must be included inside the dialog page is mentioned under here:

![image](https://user-images.githubusercontent.com/28549921/103081124-4e70f480-45fd-11eb-920c-fab61d22985b.png)

Do tell us if there's a part of the documentation w

[2020-12-24 10:26] eneoli commented on #1548
Ok, maybe one could point out that office-js MUST be included. Because I understand it that way, that office-js only must be included if one needs the messageParent function.

Also this lines got be confused. I understand it that way, that every page can be used (no office-js needed)
![grafik](https://user-images.githubusercontent.com/23139864/103082178-cf1df980-45d9-11eb-9229-84590f5e8327.png)

W

[2020-12-24 10:27] eneoli commented on #1548
P.S. Isn't there anything you could do against the pop-up warnings?

[2020-12-24 10:30] exextoc commented on #1520
Hey @rosergeev ,

On Outlook Mobile the ID returned is an immutable ID instead of EWS ID. Please use the following to handle this case

Possible solutions that can be implemented at add-ins side
Option1: Use REST API instead of EWS as immutable ID is accepted by REST APIs.
Option 2: Use the following REST API to convert the immutable id to EWS ID,

REST API : https://docs.microsoft.com/en-us/graph

[2020-12-24 11:11] jag-cloudextend commented on #1559
I got this dropdown by directly typing in the dates in the specified format (In this example `dd/mm/yyyy`) into the Excel table

[2020-12-24 15:00] ghost commented on #1544
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-24 16:38] PavanaKatta commented on #1565
-------------------------------------------------------------------
I am using Excel Online (Office 365).

I am protecting sheet and enabling some cells. But, this is not working in excel online.

[2020-12-25 02:11] MandytMSFT commented on #1565
@PavanaKatta thanks for clarify. Then they are known limitation for this API on Excel Online. Could you help review if steps below is acceptable or not ? Besides, We track Office Add-in feature requests on our [UserVoice page](https://officespdev.uservoice.com/) You can add your request there if needed. Feature requests on user-voice are considered when we go through our planning process.

1.	Firs

[2020-12-25 03:03] MandytMSFT commented on #1559
@Jagapathi126 If I typed dates with format(dd/mm/yyyy), I still can't get the data filter shown as below. But If I typed date with format (yyyy/mm/dd), then I can get the date filter shown correctly and the UI displayed as dd/mm/yyyy since you set the numberformat as dd/mm/yyyy

![image](https://user-images.githubusercontent.com/52641972/103116036-d3ace580-469f-11eb-9900-d7ec8bd7cdc2.png)

I chang

[2020-12-25 06:00] ghost commented on #289
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-25 06:31] PavanaKatta commented on #1565
------------------------------

Thanks for the quick response.

Could you please help me the links on how to add comments and groups  back to opened excel which you have mentioned in the Step3.

[2020-12-25 08:11] david-ps commented on #1415
@Dengshan2018 No, we have not discovered any issue with updating tables/sync data from the taskpane only the contentpane.
Can you please advise as to the implications of the fix ie. will it require the use of an updated API Requirement Set? What exactly being fixed?

[2020-12-25 10:48] clavx commented on #1545
Just in case, I got another account and recreated the Azure environment and tried it, but it reproduced the issue.

https://cube3w-my.sharepoint.com/:u:/g/personal/test_cube3w_onmicrosoft_com/EZqz3kAL7_tChOkIfA7v2wMBjtIhy6rDbXWzP3eZScbh-g?e=5u2BF8

[2020-12-25 18:31] Dengshan2018 commented on #1415
@david-ps Thanks for the confirmation. This is memory leak issue. The fix will be available in future release 16.0.13530.20252+. The fix might be back ported to old version. But no promise. There is no change required in your end. Thanks again for reporting the issue.

[2020-12-25 19:08] david-ps commented on #1415
@Dengshan2018 Thanks for the update. We have been developing for target **ExcelApi 1.9** | Version 1903 (Build 11425.20204) or later | 16.0 or later | 16.24 or later | May 2019. Can you please port fix back to that version so that we can engage our researched target audience.

_Updated: Changed from Excel API 1.11 to 1.9 that is required_

[2020-12-26 00:00] ghost commented on #1551
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-26 00:00] ghost commented on #1550
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-26 00:00] ghost commented on #1521
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-26 03:00] ghost commented on #1553
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-26 05:40] jag-cloudextend commented on #1559
@MandytMSFT thank you for the response. The reason we are formatting the column first so that we don't need to run a loop on the date fields in the response from our source system and convert it into ISO format. We expect that if the Date provided is in the same format as the column format, Excel should recognize it as a date. What do you suggest?

[2020-12-26 10:25] exextoc commented on #1400
Hey @modestfake ,

The issue has been fixed and we have confirmed the fix on Outlook build 16.45 (20122006). Please do confirm that you see it working for you as well.

[2020-12-26 10:56] exextoc commented on #289
Hey @koonal19 ,

We are investigating this issue and we will keep you updated.

[2020-12-26 11:23] bx-anil commented on #1550
Yes the add-in host is unreachable from the Exchange server

[2020-12-26 11:23] #1550 closed, assigned to exextoc

[2020-12-26 13:45] exextoc commented on #1537
Hey @iuri1994 ,

Apologies for the delay, it took a while to confirm things on our end. We are able to reproduce this issue now, and we have put it in our backlog to fix it. However, there are no timelines we can share at this point.

[2020-12-27 10:42] kanaksony commented on #1551
Hey @exextoc We have published the app via Microsoft  Partner Center - Appsource Dashboard. And this is the [URL](https://mop.infocus.net:3000/infocus-conx-outlook-addin.xml) for Manifest.

![image](https://user-images.githubusercontent.com/6097596/103169091-e1f53000-485e-11eb-9adb-438dc2bee30c.png)
Edit: Attaching screenshot of error.

[2020-12-27 17:00] ghost commented on #1544
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-27 17:00] #1544 closed, assigned to lliu113

[2020-12-27 19:10] exextoc commented on #1460
Hey @SWei1234 ,

We are investigating this issue and would really appreciate your patience. We will keep you posted.

[2020-12-28 00:00] ghost commented on #1558
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-12-28 02:10] MandytMSFT commented on #1562
@barisbikmaz thanks for reaching us. I can repro this issue and BUG 4741547 is opened for internal track. We unfortunately have no timelines to share at this point.

[2020-12-28 03:03] chenxizhang commented on #888
After more than 1 year, Do we have the plan to provide this feature on OWA?  Do we have the workaround to support this requirement?

[2020-12-28 07:12] clavx commented on #1119
I have confirmed the information reported above.
All were resolved.
Thank you for your response.

[2020-12-28 09:59] DmitryKostochko commented on #1445
@exextoc, I have just tested the issue with Outlook for Mac version 16.44 (20121301) and it is not fixed, sorry.

[2020-12-28 14:26] modestfake commented on #1400
Hi @exextoc
Thank you! I've tested it and yes, it works now.
The only difference between the "old" and "new" Outlook is the "Supported Outlook API version" (1.8 on "old" Outlook and 1.7 on "new" one) but seems like it doesn't affect our add-in, so I'm closing this issue. Thank you again for the great work!

[2020-12-28 19:38] gummybuns commented on #1566
To take it one step further, i am also noticing that when calling `item.saveAsync` and `customProperties.saveAsync` sequentially is reproducing this issue. Here is a different `handleClick` that causes the same problem for me:

[code]

[2020-12-28 21:54] exextoc commented on #1566
Thank you for reporting this issue. This has been put in our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office:4742730

[2020-12-29 00:50] gummybuns commented on #1566
One of the reasons we are using `item.saveAsync` is old versions of Outlook Clients prior to requirement set 1.8 do not have a `Office.context.mailbox.item.getItemIdAsync` method in the Calendar

My understanding is the workaround to getting the item id in these old versions is to call `saveAsync` and get the id in the callback. Is there a different way to get the itemId for these older versions?

[2020-12-29 02:00] ghost commented on #1521
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-29 02:41] MandytMSFT commented on #1559
@Jagapathi126 (I am not sure if it's related to locale) Looks like if the input data format is DD/MM/YYYY, Excel will recognize it as Text instead of Date. Is it possible to change your input data format as MM/DD/YYYY or YYYY/MM/DD ? Input data format is the one table.rows.add used.

[2020-12-29 03:54] MandytMSFT commented on #1565
@PavanaKatta  You can find comment/group related API on below page:
https://docs.microsoft.com/en-us/javascript/api/excel/excel.commentcollection?view=excel-js-preview#add_cellAddress__content__contentType_

https://docs.microsoft.com/en-us/javascript/api/excel/excel.shapecollection?view=excel-js-preview#addGroup_values_

[2020-12-29 05:00] ghost commented on #1553
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-29 05:00] #1553 closed, assigned to lumine2008, MandytMSFT

[2020-12-29 07:32] exextoc commented on #1557
@SWei1234,
Thanks for reporting this issue regarding custom properties on delegate calendar. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office 1838683

[2020-12-29 09:56] frasparacio commented on #1521
I'm experiencing the same problem under Outlook iOs Add-in.
It is a new add-in, it is working correctly under desktop and web client.
I could get more info through ApplicationInsights on client and I'm having the same error "Can't find variable: OfficeRuntime" when I try to get an access token (OfficeRuntime.auth.getAccessToken)

Edit: I've updated my code not to use OfficeRuntime.auth that looks

[2020-12-29 10:16] exextoc commented on #289
Thanks for reporting this issue regarding makeEwsRequestAsync .It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office: 1759533

[2020-12-29 12:34] jag-cloudextend commented on #1559
@MandytMSFT my system preferences are set to use `DD/MM/YYYY` as the date
![image](https://user-images.githubusercontent.com/12657943/103283872-b9f10280-49ff-11eb-93b5-fe5ed8a05799.png)
So the expectation is Excel should recognize the text in the above format and process it as the Date field.

[2020-12-29 16:09] skyhawk92 commented on #1119
At first it seemed ok for me, but now I am still getting CORS issue on GetAttachmentDownloadToken.
Usually it works for me for about 5 calls to get attachment then it starts failing.

[2020-12-29 16:14] rosergeev commented on #1520
Hey, @exextoc,
Thank you for your reply.

### Option 1:
 It's not suitable for our project(it's not a jedi way) due to we would replicate backend code that work with ews ids on client side.

### Option 2; I stuck with this approach.

- My first try:

![invalid_parameter](https://user-images.githubusercontent.com/12766193/103295379-d93e5e80-4a04-11eb-8193-ff6ef67f3818.png)

I think this is a docume

[2020-12-29 16:18] rosergeev commented on #1520
Moreover, I changed permissions in manifest file from ReadWriteItem to ReadWriteMailbox, but this didn't help as well

[2020-12-29 16:21] leybal opened #1567 "Calculation option in Formulas tab does not affect to calculation of custom formulas when opening the workbook"
When we set Calculation options to Automatic in Excel it should run the calculation of custom formulas after opening the workbook. But currently changing Calculation options does not lead to recalculation of custom formulas when we opening the workbook.
If we work with Streaming custom functions or add Volatile values in custom functions then changing Calculation options affects recalculation of t

[2020-12-30 02:29] xiaochunms commented on #1567
@leybal Thanks to reach us. According to your description, i.e. "If we do same steps with Streaming custom functions such as INCREMENT that will see recalculation process." I'd say the behavior is expected. By setting the option to "Automatic", when loading a workbook, for a normal custom functions, i.e. not a streaming or a volatile one, if there is already a right value returned, the recalculati

[2020-12-30 09:09] leybal commented on #1567
@xiaochunms Thanks for the answer.
Previously, we created the [issue](https://github.com/OfficeDev/office-js/issues/1542#issuecomment-746843739), setStartupBehavior(Office.StartupBehavior.load) results in the ADD-IN ERROR when opening saved workbook. Are there any updates on this issue?
Maybe there is another way to start recalculating normal custom functions when user opening a workbook?

[2020-12-30 14:27] cghaddar opened #1568 "Excel Crashes consistently if custom functions add-in use window.localStorage in shared runtime on Windows platforms"
Using window.localStorage  in a custom function in shared runtime seems to work as long as you have a single instance of Excel and one workbook open. If you open a second workbook in new instance of Excel, it will crash immediately and log the following error to the event log:

Faulting application name: EXCEL.EXE, version: 16.0.13426.20404, time stamp: 0x5fdea626
Faulting module name: mso20win32c

[2020-12-30 17:59] lindalu-MSFT commented on #1568
Phoebe and/or Jeremy, Ruoying is still out on maternity leave. Can you help triage this issue? Thanks, lindalu

@grangeryy @jeremy-msft

[2020-12-30 18:31] lindalu-MSFT commented on #1533
@MandytMSFT HI, can you have a look at this one? It seems this issue has been overlooked. @alexuaua are you still experiencing this issue? So sorry for the delay. :octocat:

[2020-12-31 01:27] alexuaua commented on #1533
@lindalu-MSFT Thanks for keeping in touch, and yes, we do, but fortunately this issue isn't as critical as charting issues on iPad (and many users say they would really love to have charts in add-in on iPad).
So far, we just added hack to round line width and round any weight < 1 upward, kind of:
`weight  = weight < 1 /* weight is always > 0 for visible lines in our code */ ? 1 : Math.round(weight

[2020-12-31 02:00] ghost commented on #1558
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-12-31 02:00] #1558 closed, assigned to exextoc

[2020-12-31 07:15] neso613 commented on #1551
looking forward for solution.

[2021-01-02 18:00] ghost commented on #1119
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-03 12:03] katyapavlenko opened #1569 "When bookmarks API would be released officially?"
Hi!
My product depends on bookmarks API, so I am interested if there are any estimations when it would be released fully?

I see that now it's only supported in preview mode and only for windows
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/word-preview-apis#see-also

[2021-01-03 21:00] ghost commented on #1561
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-03 21:00] ghost commented on #1499
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-04 01:38] MandytMSFT commented on #1533
@lindalu-MSFT  I forgot to update the thread :(.  @alexuaua Thanks for reaching us, This is a real issue and we have opened Bug 4704601 for internal track but unfortunately we have no timelines to share at this point.

[2021-01-04 14:07] jlevenssfdc commented on #1119
In testing this using the above add-in / steps I'm not seeing anymore token requests.  If that's the nature of the fix/change please advise, otherwise I'm going to continue to test until I see a few successful token requests.  Thanks!

-- edit: after a short interval I see the token request being made while idle.  The issue should be resolved as it looks to have been removed in lieu of a separate

[2021-01-04 14:17] #1119 closed, assigned to exextoc

[2021-01-04 15:02] exextoc commented on #888
Hi @chenxizhang , thanks for your query. We already have this feature in our backlog, but it is not prioritized yet. Unfortunately, we do not have any timelines to share at the moment.

[2021-01-04 15:02] #888 closed, assigned to exextoc

[2021-01-04 18:29] Dengshan2018 commented on #1415
@david-ps Oldest version we can port back is 16.0.13127.*(semiannual version which is released on July 2020). New Excel version should support ExcelApi 1.9. Can those Office users update their version to 16.0.13127+?

[2021-01-04 18:58] #1469 closed, assigned to AbidRahman-MSFT

[2021-01-04 19:00] jargil commented on #1536
It's all timing and expiration of cached items that drive our internal update logic. My recommendation is to wait for Office's internal logic to kick in and do its updates rather than trying to force it. Obviously this discussion is only relevant for manifest updates. You can always make logic changes to your add-in's source code and those will update independently of how often Office gets a manif

[2021-01-04 19:58] AbidRahman-MSFT commented on #1475
Hey @FlorinBuffet - thanks for reporting this issue. We are aware of this and are currently investigating. A few clarifying questions:

1. Are you able to consistently reproduce this issue? Does the error show up every single time you install and open the officeatwork add-in?
2. Have you seen this error happen for other add-ins as well?
3. Any other information that can help us reproduce this erro

[2021-01-04 20:02] AlexJerabek commented on #1570
Moving this issue to the office-js repo, since it is a product bug instead of a documentation bug.

[2021-01-04 20:06] AbidRahman-MSFT commented on #1569
Hello Katya,

Unfortunately there is no timeline for an official release for the bookmarks API (along with the rest of the Preview APIs for Word). It has been in our backlog for a while but we will not be able to get to it for at least this fiscal year. I apologize as I cannot give you a timeline. Please follow our blogs [developer blog](https://developer.microsoft.com/en-us/office/blogs/) as we w

[2021-01-05 01:37] SWei1234 commented on #1499
Hi @exextoc
We have tried this on zoom add-in.
Steps is open zoom then open dev-tool-> console->call 'Office.context.mailbox.item.body.getTypeAsync'
And then get this error.

[2021-01-05 01:53] MF-KoyaEbata opened #1571 "Even if you select "This and all folowing events", the seriesId does not contain the seriesId of the repeating reservation."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Tag your question with office-js or outlook-web-addins

In Outlook web, when I select "This and all folowing events" for a recurring appointment, the seriesId of the recurring appoint

[2021-01-05 07:28] exextoc commented on #1095
Hi @deyanskiq @psantwani @ChangingTerry @Paul-Gerarts @jankratochvilcz we have made a fix for this that should be available. Could you check if this issue has been fixed?

Please make sure that the URL is unescaped ("`&amp;`" needs to be "`&`", etc).

We are not able to reproduce this on our end anymore. We are closing this, please reopen if you still don't see it fixed.

[2021-01-05 07:29] #1095 closed, assigned to exextoc

[2021-01-05 11:09] exextoc commented on #1460
Hi @SWei1234 you have mentioned your environment as on-prem. Add-ins for shared folders / calendars aren't available yet for on-prem accounts, on Outlook Mac. We are in the middle of an ongoing investigation about whether we can add shared folder support for them. Unfortunately, we don't have timelines to share at this point.

You should not be seeing add-ins on shared calendars at all, for on-pre

[2021-01-05 11:14] exextoc commented on #1484
@dcegress "OnSendAddinEnabled" flag set to true allows add-ins to block the editing of the email. To achieve this, OWA creates a separate dialog. If "OnSendAddinEnabled" is set to false, the add-in will still work but the pop up dialog will not come up.

Our documentation has inconsistencies and doesn't convey the above feature appropriately. We are in the process of fixing the document.

We hope

[2021-01-05 11:14] #1484 closed, assigned to exextoc

[2021-01-05 11:24] exextoc commented on #1499
Hi @SWei1234 , we were not able to reproduce this error on the latest Outlook. Have you tried updating to 16.44 (20121301) or later, on the Insider Fast channel?

[2021-01-05 11:33] davidfishlock commented on #1095
@exextoc thanks, I can confirm that the links returned by the Outlook and graph APIs appear to be working for us now.

[2021-01-05 13:47] exextoc commented on #1551
Hi @nehasoni3 @kanaksony ,  please open a Customer Support ticket here for marketplace publisher support:

https://aka.ms/marketplacepublishersupport
Browse topics Category: Commercial Marketplace
Topic: Certification issue
Next step: Office Add-in

[2021-01-05 13:47] #1551 closed, assigned to exextoc

[2021-01-05 15:44] AhmedJDev commented on #1661
@exextoc I will give this a shot and this is the build and outlook version I am using
![image](https://user-images.githubusercontent.com/72918679/103666683-d7c4e700-4f6c-11eb-9d4d-b1228dd972e7.png)

I will have a read through the API requirements to make sure I meet all of them.

[2021-01-05 16:33] exextoc commented on #1548
There are actually two issues here:

1. The pop-up warning issue for window.open() in OWA
2. displayDialog's dialog behaving weirdly (permanent spinner?) if the dialog html does not include Office.js.

We are trying to reproduce both issues and will update this thread. We appreciate your patience on this.

[2021-01-05 16:52] exextoc commented on #1571
Thank you for reporting this issue. We are able to reproduce this bug - seriesId is null for "This and all following events". We have put this in our backlog. Unfortunately, we do not have any timelines to share at this point.

[2021-01-06 02:43] sameera commented on #1559
@MandytMSFT @lindalu-MSFT
Can you kindly take another look at this issue.

I have further simplified @Jagapathi126 's gist here to highlight the key issue.
Please run this gist in ScriptLab: https://gist.github.com/sameera/40208a075eecf03553a06f396f608493

Steps:
1. Set the computer's region settings to UK. Date format will now be DD/MM/YYYY
2. Write The following dates to a table range (as in the

[2021-01-06 03:53] MF-KoyaEbata commented on #1571
@exextoc
Thank you for contacting us.
Do you have any plans to fix this problem?

[2021-01-06 06:00] exextoc commented on #1571
Hi @MF-KoyaEbata, we are investigating this issue. We will reply on this thread once we have an update. Thanks!

[2021-01-06 06:21] exextoc commented on #1363
This issue for OWA is in our backlog. We unfortunately don't have timelines to share at this point.

[2021-01-06 07:17] gs-achandrakamal opened #1574 "Font size getting changed when email is sent from Outlook app"
When sending normal text email from Outlook desktop app, the font sizes are being changed randomly when received.

## Expected Behavior

Font size for email content should remain consistent when received.

## Current Behavior

Font size is decreasing randomly in the received email
## Steps to Reproduce, or Live Example

* Additional details:
  1. Compose new mail from outlook app
  2. Add text con

[2021-01-06 09:52] ssoni2074 commented on #1516
Hi @MandytMSFT any update on this ?

[2021-01-06 11:02] MandytMSFT commented on #1527
@jcupps sorry for overlooking your reply and thanks for your details. Are you still facing this issue and can I know your word version to help repro?

[2021-01-06 11:03] Paul-Gerarts commented on #1095
@exextoc yes, thank you! Everything works as it should again

[2021-01-06 13:10] vinodifour opened #1575 "How to run desktop Word AddIn with Angular 11.0.5 in MS office 2016"
- With Angular 5.2.11 and MS Word 2016 my AddIn working fine
when upgrading the version of angular to 11.0.5 it's not working.

[2021-01-06 14:10] sarala-bhalerao opened #1576 "OfficeJS : Context menus are not visible when right click on table"
I am using OfficeJs to create word add-in. In that i have added context menus from manifest I can see the context menus on right click of document, content control but when I perform right click on table i'm not able to see the context menus. Why the context menus are not visible on right click on table? Please help if anyone know the solution.

## Your Environment
Platform [PC desktop, Mac, iOS,

[2021-01-06 16:52] exextoc commented on #1548
We tried reproducing the two issues.

1. **The pop-up warning issue for window.open() in OWA** - the warning does not ever appear for us. We tried the same code that @EneOli tried - just call window.open() followed by event.completed() in the UI-less command receiver function. We don't get a popup warning. @EneOli were you able to see this warning in this case as well, or is it only in a React sce

[2021-01-06 16:55] ig-jb commented on #1548
@exextoc I would suggest also that the 5 minute timeout on add-in commands should be documented.

There is strange behaviour there too - in OWA the dialog is not automatically closed on timeout, leaving the page in an invalid state; whereas in the desktop client the dialog is closed automatically successfully. This one is already logged as #1452; but it may be appropriate to enhance the documentat

[2021-01-06 17:03] exextoc commented on #1548
Thanks for the feedback @ig-jb . Could you raise a new issue for this? This one is a little confusing as it is, we're already dealing with two different problems in a single thread.

Also, please let us know the scenario where you're able to see the popup warning, as we believe that is the issue in the original post. We would like to resolve this.

[2021-01-06 17:07] ig-jb commented on #1548
@exextoc I'll add a note to #1452 that I think the 5 minute timeout on commands should be documented.

RE: the popup warning -- I was able to reproduce this in Firefox when driving window.open _directly_ from a command. The workaround was to create a button which launches the tab instead. I believe the difference may be how far up the stack Firefox searches for user interaction before blocking a p

[2021-01-06 17:08] ig-jb commented on #1452
I would suggest also that the 5 minute timeout on add-in commands should be documented.

[2021-01-06 17:12] exextoc commented on #1574
Hi @gs-achandrakamal , this doesn't seem to be an issue related to add-ins. Is the problem specifically with the body being set by add-ins?

[2021-01-06 17:20] eneoli commented on #1548
ig-jb got the point. Pop-up warnings are raised by the browsers if  "windows appear automatically without your permission. " How browsers make sure a window opening is raised directly by the user depends on the browser itself (probably by following the origin of the window.open call. If it is a User Event, like a click event, the browser handles the action as wanted by the user and does not raise

[2021-01-06 17:25] exextoc commented on #1548
Yes, we are able to see this issue on Firefox, thanks for reporting it. We will add this to our backlog as well, and investigate what can be done here. _However_, it might be something we can't do much about. The browser treats this as a popup because it is not directly coming from a user click.

We will investigate and update this thread.

As a workaround, you can either
1. Add the domain to pop-

[2021-01-06 17:30] lowefraser opened #1577 "input type="file" not working on dev"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

if you add an `<input type="file"/>` to the taskpane (or a dialogue) and deploy using the dev tools (npm start) then clicking on browse does not do anything.

However, if you deploy t

[2021-01-06 17:30] eneoli commented on #1548
Side note: workaround 1 is not a good option if one want's to publish the addin. It gets rejected by the reviewer. Maybe one could communicate that to the review team?

Also personally I don't feel comfortable with 3, because it enables a third party to act under the corporate of the app and send melicious links if the gateway site does not restrict special links :(

[2021-01-06 17:38] exextoc commented on #1548
@EneOli Yes, we will take that up with the concerned team.

Could you explain what you mean by "gateway site" here?

[2021-01-06 17:45] eneoli commented on #1548
ig-jbs workaround works by displaying a dialog box with a button in it. Clicking on this button, redirects the user to the desired site without a warning.
The site (I call it gateway site) with the button takes a query parameter with the destination url (That's exactly how OfficeLab handles links).
A malicious third party could reverse engineer the url of that site and use it to pass links to mali

[2021-01-06 17:55] exextoc commented on #1548
@EneOli With workaround (1), the URL should be sourced from the dialog's HTML / JS itself, to avoid this security issue. It should not be passed from the add-in as a query param. This might not work for all scenarios, and does seem like a limitation in that sense.

[2021-01-06 22:29] KelBowen commented on #1575
Thank you for logging this issue. I think we need more details to properly route your issue. Would you mind providing us more details?

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___

[2021-01-06 22:35] KelBowen commented on #1576
@lliu113 - hoping you can help? Not sure if this is a how-to question or a bug.

[2021-01-06 23:00] ghost commented on #1561
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-07 07:01] vinodifour commented on #1575
With Angular 5.2.11 and MS Word 2016 my AddIn working fine
when upgrading the version of angular to 11.0.5 it's not working.

**Code attached on below link :**
https://drive.google.com/file/d/1sftv5yFuH7yzyQHC34oH52wxopHR8KgP/view?usp=sharing

**Additional details:**
- AddIn working fine with Outlook Word online fine
- AddIn not working with MS Word 2016 desktop App after upgrading to latest angul

[2021-01-07 08:49] ig-jb commented on #1548
@exextoc @EneOli I share the concern about open redirects by passing the URL to the dialog. I avoided this by using messageParent on click to then trigger window.open from the add-in instead of the dialog. This avoids tightly coupling the 'request click' dialog to your target URL.

[2021-01-07 08:53] eneoli commented on #1548
Interesting... this does not trigger a pop-up warning?

[2021-01-07 08:55] ig-jb commented on #1548
@EneOli It shouldn't, unless the browsers increase their strictness later. I last verified it late last year.

[2021-01-07 09:04] gs-achandrakamal commented on #1574
It's not specific to add-in, it's happening in normal emails too. But as our add in sets the email's body ,this issue happens there also. It was reported by one of our customers using Outlook app.

[2021-01-07 09:27] exextoc commented on #1574
Thanks @gs-achandrakamal. Since this is not an add-in specific issue, it probably doesn't belong here. Can you file a bug report from within Outlook?

[2021-01-07 09:30] lowefraser commented on #1577
Update: I believe this only applies to the workbook that opens automatically when you run `npm start`.

When using a blank workbook, going to 'Insert' > 'My Add-ins' drop down and selecting the developer add-in, the Browse... button does open the file dialogue.

[2021-01-07 10:51] ChangingTerry commented on #1095
@exextoc Yes all working thanks

[2021-01-07 11:27] MandytMSFT commented on #1527
@jcupps  Sorry for the delay response. I tried your scenario on Semi-Annual word ( 16.0.12527.21416, this version should similar as yours since they have same baseline), but I can not repro the issue as well.

First I can't get notification saying update available. So I used another way: **do some changes on Client B, then Ctrl+S to save document** to trigger changes in client A got updated in cli

[2021-01-07 12:04] AdielAhmad commented on #1439
Hi @exextoc is there any new information, regarding this topic?

[2021-01-07 12:45] eneoli commented on #1548
I can confirm this workaround still works. That makes 1 a suitable workaround. Thank you @ig-jb

[2021-01-07 14:11] kratikal-archit commented on #1441
@exextoc as you said, we updated with latest October SU, it started to work fine on Internet Explorer and Edge browsers, but Chrome is still not showing one-time prompt. I went more into the problem and found that outlook is using iframe to load our add-in and outlook needs to have `allow-modals` tag in sandbox attribute of iframe. In absence of this tag, chrome is blocking one-time prompt. Is the

[2021-01-07 16:04] jcupps commented on #1527
@MandytMSFT Thank you for following up. It is puzzling that you're not seeing the same behavior. At this point, my team has settled on a work-around that completely avoids bindings. While it would be nice to get to the bottom of the problem, we have a path forward so you're welcome to close this issue if you're unable to reproduce. Thanks again for your response.

[2021-01-07 16:16] JamesBigChange opened #1578 "displayDialogAsync() on IE11 Word Online returns error 12004 'The domain of the URL is not included in the AppDomains element in the manifest'"
## Expected Behavior
displayDialogAsync() with the setting displayInIframe: true, on IE11 Word Online should successfully open a dialog window just like it does on all other browsers including Chrome and Edge.

## Current Behavior
On IE11, displayDialogAsync() returns a failed status with the error message:
"The domain of the URL is not included in the AppDomains element in the manifest, and is no

[2021-01-07 16:20] chucklay opened #1579 "Taskpane addins stuck on loading screen, sometimes eventually open. Desktop only."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

This is a weird one. I'm attempting to switch my Excel add-in back to individual runtimes instead of a shared runtime. (on a related note - is there any timeframe on when we can expec

[2021-01-07 19:59] KelBowen commented on #1579
@jeremy-msft can you provide insight about the change from IE to Edge as the default browser for shared runtime?
@lumine2008 can you provide further assistance on reverting to individual run times?
@chucklay is the browser issue why you want to revert to the individual run times? Or is there another issue blocking you from using the shared runtime?

[2021-01-07 20:20] chucklay commented on #1579
@KelBowen Yes, we've found that debugging in edge-based web views is a much smoother experience. Plus, one of the things our add-in does is pull data from our database and stick it in spreadsheets. Some of these tables are pretty large, so when we send out a request to pull the data, the response ends up being pretty hefty. On modern browsers this isn't an issue as we're able to stream the respons

[2021-01-07 21:07] chucklay commented on #1579
One thing I've noticed just now: the add-in sometimes loads with the error message after ~a minute, but sometimes the loading screen just hangs indefinitely. When it hangs indefinitely, the "We're starting the add-ins runtime, please wait a moment..." message is also stuck on the bottom of the screen.

[2021-01-07 22:23] JiayuanL commented on #1527
@jcupps Thanks for reaching, I tried to follow the steps and I cannot repro the issue either. Happy to hear that you have some workaround to get unblocked. Will close this issue for this moment and please let us know if any further help we could provide. Thanks.

[2021-01-07 22:39] keyur32 commented on #1567
Hi @leybal,  to allow functions to recalculate on workbook open, you'll want to declare the specific functions as volatile. (note: doing this will cause the formulas to recalculate even not outside of open): https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-volatile

Willl check with @davidchesnut  on the previously created issue and team will reply back on to that specifi

[2021-01-07 23:39] jeremy-msft commented on #1568
Hi @cghaddar, thanks for reporting.  We're currently investigating this issue and will update once we have more info.

[2021-01-08 03:22] MandytMSFT commented on #1559
@sameera thanks for the update. We have confirmed the API do have different behavior as Excel UI when inputting the same date . BUG 4766979 has opened for internal track. Unfortunately there is no timeline to share at this time.

[2021-01-08 06:55] He-Dongwei-GitHub opened #1580 "Office.context.mailbox.item.getAttachmentContentAsync not work in IE11"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
`Office.context.mailbox.item.getAttachmentContentAsync` should get the attachments successfullly in IE11

## Current Behavior
When I call `Office.context.mailbox.

[2021-01-08 07:59] exextoc commented on #1439
Hi @AdielAhmad this issue is still in our backlog. We do not have an update yet, but we will update this thread once we do.

[2021-01-08 08:09] exextoc commented on #1479
Hi @jak-hammond the fix has been rolled out and we have verified it with the add-in and repro steps given by you. We cannot see the console error any more. Please confirm from your end.

[2021-01-08 08:26] exextoc commented on #1548
@EneOli for the pop-up warning issue, could you give us some info about your specific scenario? We would like to understand your use case for why you need to window.open() from a UI-less command.

[2021-01-08 09:48] exextoc commented on #1580
Hi @He-Dongwei-GitHub we're able to reproduce this issue on IE11. Thank you for reporting this. We have put this item in our backlog. Unfortunately, we don't have timelines to share at this point.

[2021-01-08 11:26] gs-achandrakamal commented on #1574
Okay, thank you. It will be really helpful if you provide any link for that Outlook repo or any other portal for reporting this bug.

[2021-01-08 12:00] ghost commented on #1501
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-08 13:43] MandytMSFT commented on #1516
@ssoni2074  Sorry for delay update here.

Based on your previous info that not all people were facing this issue, I suspect it was related to some flight. But I applied all the flight in your given session manually, unfortunately I still can't repro.  I will keep looking and update here if i have new finding.

[2021-01-08 14:38] chucklay commented on #1579
I've also noticed (and this is essentially speculation at this point) some behavior that almost seems like it's trying to open the add-in twice. Clicking the taskpane toggle again after waiting for my add-in to load (with the error message) it opens a second taskpane tab instead of hiding the existing taskpane. In addition, another dev who tried to load my changes had the "Using multiple taskpanes

[2021-01-08 18:16] KelBowen commented on #1578
@qinliuMSFT - I can't seem to find you in the list of assignees.

[2021-01-08 20:02] Byron-Mo commented on #1239
Would also like an update to this as we have a customer case opened that is experiencing the same issue

[2021-01-08 20:04] exextoc commented on #1441
@kratikal-archit
Chrome must have cached version of OWA. Please try clearing cache and cookies and try reloading OWA.
If it shows for IE and edge, it means the update has reached to you, chrome should also work.

[2021-01-08 21:00] ghost commented on #1536
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-08 21:08] jeremy-msft commented on #1579
Hi @chucklay, Re: Edge support for shared runtime, please see @smaremanda's comment [here](https://github.com/OfficeDev/office-js/issues/1470#issuecomment-726388915) about timelines.  This should be rolling out soon.

[2021-01-08 21:51] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev Thanks for doing so and let us know the outcome.

Thanks.

[2021-01-08 21:55] chucklay commented on #1579
@jeremy-msft Fantastic! Thanks!

[2021-01-09 09:09] david-ps commented on #1415
@Dengshan2018  Is 16.0.13127.*(semiannual version which is released on July 2020) M365 Version 2002 and Excel API Requirement Set 1.11?

What is the link between [Requirements Sets](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets) and [M365 Version Semi Annual](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-

[2021-01-09 12:00] ghost commented on #1499
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-09 12:00] ghost commented on #1460
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-09 14:59] WillemSleegers opened #1581 "Incorrect scrollbar behavior in Word Online using Safari"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
The width and height of the taskpane should adapt to the content of the taskpane, only producing scrollbars if the content of the taskpane exceeds the width and h

[2021-01-09 17:24] eneoli commented on #1548
The end user could  have some type of ticket software. When he performs an action, it gets transferred to the ticket system. After transfer the user is redirected to the ticket system to make further changes and finally save the transferred mail as ticket. The url of the ticket system is returned from the endpoint for ticket creation, called on action perform.

[2021-01-10 09:00] ghost commented on #1472
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-11 04:24] sarala-bhalerao commented on #1576
Here are some screenshots:
1) when content control in document context menu is visible
![Context menu in doc (2)](https://user-images.githubusercontent.com/71916499/104146944-7d0b0f80-53f2-11eb-8555-351358c32b8b.png)

2) In table context menu is not visible.
![context menu in table (2)](https://user-images.githubusercontent.com/71916499/104146963-8a27fe80-53f2-11eb-9903-6349c19e01d1.png)

[2021-01-11 07:08] ssoni2074 commented on #1516
@MandytMSFT can you use this session id a8291d3f-7604-4519-b67e-b957acab1820

[2021-01-11 08:14] leybal commented on #1542
Hi @danielgwilson,
Are there any updates regarding this issue?

[2021-01-11 08:23] AlexPhilippov commented on #1536
@jargil, I can give you the whole story of why we're trying manifest updates now to get the latest version.
1. We're started with a simple static application stored on Amazon S3 + CloudFront that works only inside the add-in panel. We have a starting html-file that redirects to the latest version and correct office-host content since we need different implementations for Excel/Word. We updated thi

[2021-01-11 08:29] qinliuMSFT commented on #1578
The issue related to Dialog API, @lliu113 will help take a look.

[2021-01-11 13:44] ShubhamJain-Outlook opened #1582 "Impact of SameSite cookie attribute for session cookies on Outlook Add-in in Outlook Desktop client."
Browsers are changing their default behavior for the cookies as following:-
•	Cookies without a SameSite attribute will be treated as SameSite=Lax, meaning the default behavior will be to restrict cookies to first party contexts only.
•	Cookies for cross-site usage must specify SameSite=None; Secure to enable inclusion in third party context.

For Addin in Outlook Desktop Client, we will be launch

[2021-01-11 14:00] ghost commented on #1501
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-11 14:00] #1501 closed, assigned to lumine2008, MandytMSFT

[2021-01-11 14:34] rodimius opened #1583 "Very general error when starting an Outlook add-in - "A device attached to the system is not functioning""
## Expected Behavior
I'd expect my task pane add-in to start correctly and redirect me to a login page

## Current Behavior
I get a blank page on opening the add-in pane. On checking the console logs I get a generic error after some amount of my javascript code runs.
(All systems are localised as nl-NL).
![image](https://user-images.githubusercontent.com/8717/104191262-337fec00-5415-11eb-96a6-b909

[2021-01-11 22:54] exextoc commented on #1583
Where is that error coming from? Are you getting that as a return error when you call an API function?

Does this occur on the same machines with other add-ins that aren't yours?

What build version of Outlook are you on? (i.e. 16.0.XXXX.YYYY). What build version of Windows 10 are you on? (1908, etc.)

Is Office.Initialize being called?

[2021-01-11 23:33] jargil commented on #1536
@AlexPhilippov - very useful details, thank you! Some of the things you mentioned fall outside my area of expertise so I've asked one of my peers to chime in.

[2021-01-12 01:26] exextoc commented on #1552
Internal Tracking: 4775568

[2021-01-12 01:43] madhavagrawal17 commented on #1536
@AlexPhilippov, Thank you for your explanation. I wanted to provide some clarification on the design for SharedRuntime.
1. If you are using SharedRuntime then the Custom functions JS file will be part of the HTML page and it will use the latest JavaScript as we don’t cache or use the JavaScript provided in the manifest for the SharedRuntime.
2. We only use the Metadata file (JSON file) from the ma

[2021-01-12 04:24] vinodifour opened #1584 "How to get selected pid/ anchorId from Word document from cursor location using AddIn in angular"
How to get selected pid/ anchorId from Word document from cursor location using AddIn in angular

**var selectedParagraph = context.document.getSelection().paragraphs.load('items');
await context.sync();**

with above code I'm trying to get pid/anchorid , but getting id 0

[2021-01-12 05:14] david-ps commented on #1415
@Dengshan2018 @MandytMSFT We are unable to continue development or testing until we have a fixed version and can confirm backwards porting and minimum Excel version and Requirement Set. Please advise asap re previous post questions.

[2021-01-12 05:30] Dengshan2018 commented on #1415
@david-ps the fix is already in Current Channel from [M365 Version Semi Annual](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date). Please verify. Latest office version should support all API set by default.

[2021-01-12 06:02] david-ps commented on #1415
@Dengshan2018 @AlexJerabek @alison-mk Sorry, I am not clear on what "[Current Channel from M365 Version Semi Annual](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date)" means.

Can you please be specfic and advise **Release Date**, **Version** and **Build** in which the fix has been deployed and when it will be released to the Monthly and Semi Annual Enterpris

[2021-01-12 06:23] Dengshan2018 commented on #1415
@david-ps The fix is in 2012 | 13530.20316 | January 5, 2021
![image](https://user-images.githubusercontent.com/45212981/104277033-f1799900-545a-11eb-9dc6-26eeb8c073ff.png)
Need more justification and time to port back to Semi Annual Enterprise Channels.

[2021-01-12 06:24] AlexPhilippov commented on #1536
@madhavagrawal17, we expect that metadata update might require additional efforts. For now, we struggling with point 1. Invalidating cache for HTML-file with the reference to the new functions JS-file won't give us updated content in several hours.
Regarding point 2, new manifest approval won't give us updates of the content as well, we have to wait for several days to get the new content. We rece

[2021-01-12 06:33] david-ps commented on #1415
@Dengshan2018 Thanks. What more justification do you need and how much time would it take to port back to below?

![image](https://user-images.githubusercontent.com/47418828/104278024-a8c1ee80-54f3-11eb-80b3-c602ca6e8a77.png)

[2021-01-12 07:02] Dengshan2018 commented on #1415
@david-ps I've created the bug for customer support. You might be contacted for more information once the supporting engineering is acknowledged. Before that, feel free to verify the fix.

[2021-01-12 07:30] david-ps commented on #1415
@Dengshan2018 ok thanks! Will get back to you with results soon.

[2021-01-12 07:32] christian513 commented on #1561
Hi, as I wrote in the "Reproduction steps": you can reproduce it with every add-in, so use the ScriptLab add-in for example. Click on "Code" ribbon button and check the console. See attached screen recording.

https://user-images.githubusercontent.com/3823739/104283278-9a061800-54b0-11eb-838c-2c1c104d8694.mp4

This issue occurs with all add-ins. So it is not an issue of the ScriptLab.
The issue is

[2021-01-12 07:48] david-ps commented on #1415
@Dengshan2018 Yes, the problem is fixed. Thanks you :)

@AlexJerabek @alison-mk Can you please help with the questions below and any documentation where these are described?
1. Which version of Excel does M365 Version 2002 (Build 12527.20988) released in the Semi-Annual 14 July 2020 channel contain?
2. We know that you can check [Requirement Set availability at Runtime](https://docs.microsoft.com/

[2021-01-12 09:00] ghost commented on #1479
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-12 12:30] exextoc commented on #1548
@EneOli can you use the dialog API instead? That is the right approach for this kind of scenario.

[2021-01-12 14:00] ghost commented on #1499
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-12 14:00] #1499 closed, assigned to exextoc

[2021-01-12 14:00] ghost commented on #1460
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-12 14:00] #1460 closed, assigned to exextoc

[2021-01-12 14:40] eneoli commented on #1548
No, I can't, because multiple end users run the software on different servers.

[2021-01-12 17:40] rodimius commented on #1583
clarification here:
Outlook version is actually Outlook 2019 MSO, build 16.0.10346.20002 32-bits
Windows version is Windows Server 2019 Datacenter 10.0.17763, which appears to map to build 1809
I'll double check what the situation is with other add-ins on the same machine.
We're using the Office.onReady callback to bootstrap our app, and I can see logging from there.

The error doesn't appear to c

[2021-01-12 19:37] erayc-msft commented on #1584
Thank you for this question. To better assist you, we suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and we will follow up there.  Thanks, Office Platform

[2021-01-12 19:55] exextoc commented on #1583
Unfortunately, there is no obvious place in our code that returns that error. (Unless you are calling a specific API and getting that back, then we could investigate further). Could this be a failure somewhere coming from Angular? Normally I'd say that maybe there is something in IE that isn't compatible in your code...but you say that it loads fine in OWA in IE? (or just that the pages load fine

[2021-01-12 20:02] jeremy-msft commented on #1568
Hi @cghaddar, we have been unable to reproduce this issue.  If you are still seeing this problem, could you please share your logs with us after you experience the crash?  You can do this with the following steps:
1. Relaunch Excel and go to File > Feedback
2. Select "Send a Frown"
3. Check "Attach my logs to help troubleshoot" and note "SharedRuntime LocalStorage Crash" in the comment field.

[2021-01-12 20:31] gkarmelich opened #1585 "Word Add-In: Office.context.document.settings.get Does Not Return the Same Value Across Different Word Versions"
The `Office.context.document.settings.get` method returns the correct data when using the same Word Version as when it was saved, but returns `null` when using a different version. An important note is this issue occurs when using the add-in in production that was installed from the Microsoft App Store, **NOT** when sideloading during development.

## Expected Behavior

The expectation is `Office.

[2021-01-12 21:49] davidchesnut commented on #1542
Hi @leybal,

Okay, so I have some updates from the team here. Currently setStartupBehavior is not configured to support startup when the add-in is sideloaded during development. When going from web to desktop like in your video, it will fail to work. However, it will work if the add-in is deployed to the store, or through central deployment. So when deployed this won't be an issue. This is just a

[2021-01-13 00:57] mmoore-3lc commented on #1141
Hello,

Is it possible to look at this issue?

[2021-01-13 01:05] exextoc commented on #1582
You probably already know this, but for reference this is the document that talks about that upcoming change:
https://docs.microsoft.com/en-us/microsoft-edge/web-platform/site-impacting-changes

This is coming to new versions of Edge based on Chrome.

this change is **not** going back to "Old Edge" (Spartan) or to IE, and shouldn't affect add-ins until the transition to "New" Edge for add-ins happ

[2021-01-13 01:32] james-huang opened #1586 "AppDomains Not Working for Office (Word) Add-in in preventing domains from opening in new window on Mac"
## Expected Behavior
I have something like the following in my Word Add-in Manifest
[code]

In the browser it opens in the taskpane.
## Current Behavior
When navigating to google.com in my Word add-on on Mac it always opens in a new window.
I believe it should open in the taskpane.

## Steps to Reproduce, or Live Example
1. Add a domain `https://google.com` to Manifest AppDomains
2. Set windows.lo

[2021-01-13 05:58] madhavagrawal17 commented on #1536
@AlexPhilippov, I checked the details of your manifest and start.html file.  Firstly, to answer your question, Excel will always reference the start.html file specified in the manifest.
Now let me point towards some issues that I see:
1. You have used the start.html as the starting point so as to keep the URL in the manifest file the same and on Office.onReady() you redirect it to a specific versi

[2021-01-13 06:58] AlexPhilippov commented on #1536
@madhavagrawal17, some comments on mentioned issues.
1. It was xiaochun's suggestion to add the link to functions.js. Without it, the 2nd case in the original description will still be reproducible. Please, check.
2. I checked the invalidation of HTML-file on S3 in IE and it seems to be working fine. To be clear I didn't just rewrite the file. There is a special command "CloudFront Invalidation" i