[2021-03-03 16:58] AlexJerabek commented on #1686
Thanks for the question @rickgoud. I'll tag @JuaneloJuanelo, who presented that part of the community call, to help you out.

[2021-03-03 17:06] AlexJerabek commented on #1684
Hi @4tti,

Thanks for reporting this. I was able to reproduce your issue. I'll tag @lumine2008 to investigate.

One question, are you able to reproduce this behavior without the Script?

[2021-03-03 17:10] AlexJerabek commented on #1685
Hi @paulfrench,

Thanks for reporting this. I'll tag @grangeryy to investigate.

[2021-03-03 17:12] AlexJerabek commented on #1685
Also, @paulfrench, is it possible to reproduce this issue without signing into your test environment? That would make it much easier for us to investigate what's happening.

[2021-03-03 17:31] hello-chenchen commented on #1679
hi @jargil , thank you so much for your help.
you are right my second tenant is not the admin role. I will find out it's admin account tomorrow(the second tenant is also a test tenant AAD). Could you please told me for how to grant admin consent for the first tenant saasbee if i have the second tenant zoom video communications inc's admin account.
from you provide this link: https://docs.microsoft

[2021-03-03 18:05] jargil commented on #1679
The consent is granted directly in the second tenant, not from the tenant where you made your app registration. Once you get the admin account for the second tenant, try deploying your add-in manifest by following this:
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide#:~:text=Deploy%20an%20Office%20add-in%20using%20the%20admin%20center.,t

[2021-03-03 20:00] ghost commented on #349
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-03 20:08] macky360 commented on #1684
Which #SPILL are you getting? There are [7 types](https://support.microsoft.com/en-us/office/how-to-correct-a-spill-error-ffe0f555-b479-4a17-a6e2-ef9cc9ad4023). You can tell by clicking on the error floatie.

My guess is that you are dealing with the indeterminate size error and the behavior is expected.  You can see details on the help page. Pasted below for convenience:

_Indeterminate size

Exc

[2021-03-03 20:38] reidbill opened #1687 "'unsafe-inline' required in script-src content-security-policy to load excel-web-16.00.js"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our security team would like us to have a strict content-security-policy without any 'unsafe-inline' within our directives. Currently if we remove 'unsafe-inline' from the script-src

[2021-03-03 21:05] exextoc commented on #1686
Can you confirm the build number of your office build is 16.0.13801.XXXXX? (or later)

The GPO Policy tool should be used to help write those reg keys:

https://www.microsoft.com/en-us/download/details.aspx?id=49030

![image](https://user-images.githubusercontent.com/28549921/109872144-e05e3480-7c20-11eb-9bb1-b2176d24ba15.png)

Though setting those reg keys should have worked.

The Web Add-in Id s

[2021-03-03 21:24] AlexJerabek commented on #1687
Thanks for question @reidbill.

Tagging @mattgeim and @jeremy-msft to help answer.

[2021-03-03 22:05] alexuaua opened #1688 "Charts functions issues on iPad - axis min/max, markers, ticks, second axis, reversePlotOrder"
I've issues with charts related API on iPad. The earlier bug that caused a crash when assigning a marker style is fixed with v2.46 (thank you), but we have issues with axis related chart API methods.
I've checked the [Excel API Requirement sets page](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets) and it says that Excel for iPad v16.40+ sh

[2021-03-03 22:07] AlexJerabek commented on #1688
Thanks for reporting this @alexuaua.

Tagging @lumine2008 to investigate.

[2021-03-03 22:37] 4tti commented on #1684
Hey @macky360,

I think you are right:
![image](https://user-images.githubusercontent.com/19533927/109881605-dff18800-7c78-11eb-8953-052971f3e975.png)

Thanks!

[2021-03-03 22:39] #1684 closed, assigned to lumine2008

[2021-03-04 01:56] alexuaua commented on #1688
@AlexJerabek  I've created much simpler script with more atomic requests (for better debug) and only one chart. The script works well with any desktop Excel (tested from Excel 2016 up to insider Office 365), and works in Excel online (thanks for ScriptLab for Excel online) except for `markerStyles`, but fails with markerStyles and axis related methods on iPad.

https://gist.github.com/alexuaua/640

[2021-03-04 03:02] exextoc commented on #1660
Following up with devs who own this code, they are not aware of any client side feature that would do this. Since this is happening with only one user, is it possible they have a COM add-in (or something else) that is doing this on client side?

The other thing to try is to compare the **complete** HTML from a saved draft (BEFORE it was sent), and the **complete** HTML from the Sent Items folder A

[2021-03-04 03:07] grangeryy commented on #1658
Hey @yiquanchaoren,

1. Does this issue also happen for you in Excel on the web? https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-online (npm run start:web)
2. You may have a try to see if it could help at least load the add-in successfully by: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-cata

[2021-03-04 04:20] hello-chenchen commented on #1679
hi @jargil ,thank you so much.
i am developing for outlook client's add-in.
from your reply, as the second tenant admin, i need to manual deploy my develop manifest on office365 admin center. like below right:(let me wait for 12 hour to get this add-in on my outlook client.)
![image](https://user-images.githubusercontent.com/1878089/109906785-18767d80-7cdc-11eb-94bf-b345595a089f.png)

as an tenant

[2021-03-04 06:49] hello-chenchen commented on #1679
hi @jargil , after install my develop manifest using admin account, i can get the token for getAccessToken api. But when i want to use this token to get access token by using https://login.microsoftonline.com/common/oauth2/v2.0/token/ and add client_id and client_secret, assertion, requested_token_use, grant_type and scope, it return the error message.
[code]
does it need i to pop up a microsoft p

[2021-03-04 06:55] arshadshibli opened #1689 "Use MS office word built in ribbon elements from custom web-addin in office-js"
Is there any way I can control the built-in ribbon elements in MS office word web from a custom addin using office-js ? and is there a way to catch the word events from web-addin taskpane

For example
1. Is there any way to load the MS office word comments  ribbon by clicking a button from custom add-in
2. Is there a way to load custom addin taskpane on clicking a MS word comment ribbon item

offi

[2021-03-04 07:51] rickgoud commented on #1686
Hi!
See screenshot. Version is 13819.
![image](https://user-images.githubusercontent.com/13066218/109928195-7d72a900-7cc5-11eb-99b3-bd72b0bf61a3.png)

This is the value I set. I tried with or without {}
![image](https://user-images.githubusercontent.com/13066218/109928093-60d67100-7cc5-11eb-8808-4904e848f18e.png)

This is the link to the manifest: https://owa.zivver.com/v3/manifest.xml

This is th

[2021-03-04 07:53] christian-sap opened #1690 "Taskpane add-in is blocked although protected mode is enabled"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Some of our customers are getting the following ADD-IN ERROR in the taskpane with a link to [this page]( https://docs.microsoft.com/en-US/office/troubleshoot/office-suite-issues/apps-

[2021-03-04 09:08] Shaon1989 commented on #1367
@exextoc pls re-open it.
Give us some insight on this issue occurring repeatedly. Our technology support(@Ashishagrawalbroadcom) has shared the incident id of Outlook logs submitted to you, pls come up with a RCA soon.
It's been about 5 months now from the beginning date/time of this case.

[2021-03-04 09:11] hello-chenchen commented on #1679
hi @jargil and @exextoc , thank you so much for your help. i have got the right grant method from this document: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/grant-admin-consent#construct-the-url-for-granting-tenant-wide-admin-consent
use this url to grant for my app: https://login.microsoftonline.com/{tenant-id}/adminconsent?client_id={client-id}

[2021-03-04 09:27] Premsagar-lab commented on #1367
Hello @exextoc, Our Customer is still facing this issue. As @Shaon1989 already said that logs have been provided by Ashish on the given email id.
Kindly let us know if you were able to analyse the cause from given logs.

[2021-03-04 14:39] wsoccorsi-yw commented on #1660
@exextoc Sure I'll work on getting that information for you. But we technically don't insert the HTML until "on send" so I am wondering how this helps?

And for clarification we have about 5 users reporting this issue.

[2021-03-04 16:06] keyur32 commented on #1690
Hi @christian-sap,  can you highlight what the customer sees in the File > Options > Trust Center > Trusted Add-in Catalogs?  I wonder if their is a group policy that was set for desktop specifically that prevents add-ins from starting, which would be the case if either of the below items were checked:

![image](https://user-images.githubusercontent.com/3476087/109992734-6aa9a580-7cc0-11eb-888f-a3

[2021-03-04 16:11] keyur32 commented on #1676
Hi @sshukurov,  thanks for your issue. As it is specific to the Excel for web product, and not our extensibility model, we ask that you please click the "Give Feedback" link as this will send in the appropriate logs.  We'll also send this issue over to the Excel team in case there is a known issue (And in which case, we will reply back here).  Thanks.

[2021-03-04 16:11] #1676 closed, assigned to keyur32

[2021-03-04 16:16] keyur32 commented on #1564
Hey sorry for the delay on this one. Adding @TCourtneyOwen to see if he can help.

Is localhost unreachable from your add-in or browser? or both?

[2021-03-04 16:17] rickgoud opened #1691 "How to detect if a taskpane is pinned?"
Hi,

Is there a way to detect whether a user has pinned the task pane in both compose and read mode?
And if there is no 'real' way, are there suggestions on how to detect this as good as possible?

Thanks!

Regards,
Rick

[2021-03-04 16:17] keyur32 commented on #1498
Hi @osvath58,  I think we've followed up with you offline about the 24 hour cache for centrally deployed add-ins. I'm closing this for now but please feel free to up re-open.

[2021-03-04 16:17] #1498 closed, assigned to keyur32

[2021-03-04 16:30] christian-sap commented on #1690
Hi @keyur32, we checked the settings and both are disabled.
I tried enabling the settings on my local machine. Both settings block the add-in completely. So the ribbon bar of the add-in isn't shown at all.
Our customers have a different behavior: they are able to see the add-in ribbon bar and click the ribbon button to open the task pane.
After that the task pane shows the above ADD-IN ERROR.

[2021-03-04 17:06] keyur32 commented on #1690
I see. thanks. We're checking.

[2021-03-04 17:08] AlexJerabek commented on #1691
Hi @rickgoud,

Thanks for the question. Let me tag @exextoc to help answer.

[2021-03-04 17:10] AlexJerabek commented on #1689
Hi @arshadshibli,

Thanks for the questions. I'll tag @AbidRahman-MSFT and @sohailzafar to help answer.

[2021-03-04 18:29] exextoc commented on #1367
Can we please get the data how many customers are facing this issue? An approximate number would help us prioritize this issue faster. As mentioned before this issue is alrady in our backlog. But we unfortunately have no timelines to share at this point.

[2021-03-04 18:52] amelehy commented on #1585
Hi @AbidRahman-MSFT any updates here?

[2021-03-04 19:00] AbidRahman-MSFT commented on #1689
Hey @arshadshibli,

Thank you for the question. We currently don't have this capability in Word.

We did recently introduce this capability for PPT on Web and the feature is in private preview. If you are interested in this feature for Word, please let us know by posting a feature request on [UserVoice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=16356

[2021-03-04 19:00] #1689 closed, assigned to sohailzafar, AbidRahman-MSFT

[2021-03-04 19:38] jeremy-msft commented on #1677
Thanks, we'll investigate and get back to you if we need more details.

[2021-03-04 21:06] exextoc commented on #1686
So using the group policy editor I was able to do this:

![image](https://user-images.githubusercontent.com/28549921/110029289-21218080-7ce9-11eb-8875-1099a2ac3a39.png)

I used the UmOutlookAddin.FormRegionAddin (since that is a COM add-in that is launched by Outlook by default)... and doing it this way correctly disabled the Zivver Web-Addin.

To use the Group Policy Editor I download the templat

[2021-03-04 21:30] exextoc commented on #1660
I guess that makes this more problematic to debug.

If you have a repro environment I would suggest writing a test add-in that inserts the image via prependAsync/setAsync/setSelectedData. Grab the HTML body. Send the Mail. Then compare the HTML body afterward.

You could probably do this with ScriptLab (on the Office Store) and write a quick snippet that does this.

I understand setting up somethi

[2021-03-04 21:50] exextoc commented on #1691
This is currently not possible with the API.

Unfortunately we are not aware of a viable workaround at this time. ItemChanged events will ONLY come if an Add-in is Pinned...but if the user never selects another item, then ItemChanged events will never come. If a user unpins an add-in afterward, you also won't know. (or if the user pins an item after "popping" out the item in an inspector).

If you

[2021-03-04 21:58] wsoccorsi-yw commented on #1660
So this is actually a wonderful idea and I've got an idea on how to implement it. Since I can't repro on my end I will have to create a test environment that stops an email from sending on the users end. This will take some time but we at least have a way forward here. Thanks!

[2021-03-04 22:20] AbidRahman-MSFT commented on #1521
This has been fixed in version 13822.10000. We will keep the issue open until we can verify the fix in a production environment.

Note: If you go to https://appsforoffice.microsoft.com/lib/1.1/hosted/word-ios-16.00.js, you can check the current prod version (which is 13426.10000).

[2021-03-04 23:22] wsoccorsi-yw commented on #1660
Before I grab that info here are the sent and inbox emails with personal info redacted:

Github doesn't let me upload as a `.eml`, so just change the extension on your end.

Sent:
[sent.txt](https://github.com/OfficeDev/office-js/files/6087155/sent.txt)

Inbox:
[inbox.txt](https://github.com/OfficeDev/office-js/files/6087184/inbox.txt)

[2021-03-05 01:30] exextoc commented on #1660
Just to clarify
inbox.eml = the email after it was sent, and in the recipients inbox.
sent.eml = the email from the sender's sent items folder?

[2021-03-05 02:23] gummybuns opened #1692 "getUserIdentityTokenAsync fails with Internal Protocol Error while switching between items with a pinned taskpane"
When the taskpane is pinned, and the user switches quickly between different items. `getUserIdentityTokenAsync` returns an unexpected error. These seems to happen consistently for our users while we are initializing our app.
[code]
## Expected Behavior
The system should not throw an error when the add-in calls `getUserIdentityTokenAsync` while the user is clicking through multiple items will the T

[2021-03-05 03:12] SWei1234 commented on #1648
Hi @exextoc
We setting up the delegate permission by default, like:
![image](https://user-images.githubusercontent.com/15980696/110061874-4246a780-7da3-11eb-93bc-c56bf677bf2f.png)

I add shared calendar steps:
Right click on my calendar-> choose open shared calendar-> open a shared calendar under group 'My calendars'.
Any idea?
Thanks

[2021-03-05 05:06] NickDarvey commented on #1645
Any chance someone from the team can comment on this one?

[2021-03-05 06:19] taylorjtatro opened #1697 "Developer Window Pop Up"
## Article URL

https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/tutorials/excel-tutorial.md
## Issue

Hello!

 I have completed the Protect Worksheet section of the documentation. Whenever I use the newly created add-in I get a blank "Developer window - My Office Add-in" that pops up. The add-in works but I get this pop up every time.

I have double checked all the code and cannot

[2021-03-05 06:31] lumine2008 commented on #1690
Hi @christian-sap ,

The owner team is looking into it, they would like to ask your help to do the following 2 things, thanks in advance.

1)	Could you ask your customer to export these two keys and send them to us?
a.	Internet Zone: Computer\HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3
b.	Restricted Sites Zone: Computer\HKEY_CURRENT_USER\SOFTWARE\Microsoft

[2021-03-05 09:52] juangburgos commented on #1018
Having this same issue. Can enable SSL, but complicates matters in debug environment.

[2021-03-05 10:09] els-ts commented on #1521
Thank you 🤩

I'll keep an eye on the version number and our metrics and let you know if something changed

[2021-03-05 10:43] rickgoud commented on #1691
Hi,

Our functional requirement is: we want to give a tip to users to pin a taskpane if not done, because we see that for many users it is not clear that it can be pinned and how. But you only want to give a tip when the taskpane is not already pinned.
Any suggestions on how to realize this would be very much appreciated!

[2021-03-05 11:45] CristovaoTorres commented on #1383
Any news?

[2021-03-05 11:45] CristovaoTorres commented on #1669
Any news?

[2021-03-05 12:00] ghost commented on #1635
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-05 14:23] arshadshibli commented on #1689
Thanks @AbidRahman-MSFT @AlexJerabek

@AbidRahman-MSFT  Can you please share any reference of this capability for PPT , That would be helpful

[2021-03-05 14:28] barisbikmaz opened #1693 "mailbox.item.subject.setAsync with undefined options throws an error"
The typings for mail subject say that "options" can be undefined.
[code]

But call with undefined option throws an error:
context.mailbox.item.subject.setAsync(subject, **undefined**, callback)

This call works:
context.mailbox.item.subject.setAsync(subject, **{}**, callback)

## Expected Behavior
Subject shoulb be inserted without any error, when options are undefined.

## Current Behavior
Subjec

[2021-03-05 14:39] wsoccorsi-yw commented on #1660
Yup!

[2021-03-05 17:29] AlexJerabek commented on #1693
Hi @barisbikmaz,

Thanks for reaching out. I believe what you're showing is the expected behavior. In TypeScript, arguments cannot follow omitted optional parameters. So, in order to provide a callback, you need to provide options. Since all the properties of `AsyncContextOptions` are optional themselves, you can pass `{}`, but you still need to provide something. In other words, you either need t

[2021-03-05 17:43] AlexJerabek commented on #1669
Hi @CristovaoTorres,
I'll send a reminder to the feature crew to investigate this. In the meantime, can you please provide more information about the desktop behavior? When you say it doesn't work, what happens? Thanks!

[2021-03-05 17:46] AlexJerabek commented on #1697
Hi @taylorjtatro.

Thanks for reporting this. Let me take a look and see if I can repo this issue.

[2021-03-05 17:53] CristovaoTorres commented on #1669
Hi.
My function doesn't work on the desktop, return #VALOR!

![image](https://user-images.githubusercontent.com/46796748/110206495-c1e47d00-7e5c-11eb-9581-77b840383e79.png)

[2021-03-05 18:00] AlexJerabek commented on #1692
Thanks for reporting this issue @gummybuns.

@mattgeim, can you please investigate?

[2021-03-05 18:26] AlexJerabek commented on #1697
Hi @taylorjtatro,

I tried out the tutorial on Windows and did not see the pop-up in question. It's possible this is coming from your IDE. Which program are you using to develop your add-in? (For what it's worth, we typically recommend VS Code as a development environment.) Also, was this pop-up appearing earlier in the tutorial (like after a [fresh start with yo office](https://docs.microsoft.com

[2021-03-05 18:52] AlexJerabek commented on #1645
Hi @NickDarvey,

I'll ping @AbidRahman-MSFT to confirm, but I don't believe this functionality exists for public add-ins today. I'd recommend adding or upvoting this feature request on [UserVoice](https://officespdev.uservoice.com/). That helps us prioritize new features based on community interest.

[2021-03-05 18:54] taylorjtatro commented on #1697
@AlexJerabek,

First, thanks so much for looking into this, really appreciate the help!

I am using VS Code for my development environment.

It only started appearing after adding the worksheet protection. It pops up a small blank window and when I inspect element it is just the blank html body from the commands.html

I am using the excel application also not the web app if that is relevant.

I ha

[2021-03-05 19:19] AlexJerabek commented on #1697
@taylorjtatro,

Happy to help. Hopefully we can figure out what's happening. Just to be clear, this isn't blocking your progress, right? Is the pop-up window in the "kind of annoying" category of issue?

In either case, I want to make sure this is isolate to the new command. Can you open your `manifest.xml` file and remove the control for the Protection Button? It'll be this bit of code:

[code]

[2021-03-05 19:30] taylorjtatro commented on #1697
@AlexJerabek

The issue does not stop progress but is a bit cumbersome. A new window pops up every time I press the button to protect and then unprotect. So if I’m testing I’ll end up with 3 or so window pop ups. Also it never appears when I use the task pane buttons.

I won’t have a chance until tonight but I will take it through all the paces you outlined above to see if I can help narrow it dow

[2021-03-05 20:11] exextoc commented on #1691
There is no direct way to do this at this time. (so making a suggestion via UserVoice) is probably the best way to go.

The only thing I can suggest is you could display the tip if you've never gotten an item changed event. If the user dismisses your warning, or you get an item changed event, you could store this in roamingSettings (https://docs.microsoft.com/en-us/javascript/api/outlook/office.ro

[2021-03-05 21:52] austinwang commented on #1683
Thanks for the quick response. We're following up to get the build version and will let u know what we were seeing it on.

[2021-03-05 22:35] exextoc commented on #1692
From your sample code you do not appear to be registered for item change events. If you want to support pinning, you need to call addHandlerAsync() with the itemChanged event.

I've created a short ScriptLab gist file with an example here:
https://gist.github.com/exextoc/cdda502b27dbb69bfd98a9e5b12f4767

[2021-03-05 22:43] exextoc commented on #1660
Yeah so ultimately, it's unclear why this is not a deterministic issue for all users, and only this certain subset of users is hitting this issue. (I assume they're hitting it 100%?) If there is anything unique about the people that are hitting this issue, that may help us determine what the root cause is, please forward along that info. (i.e. I'm hoping the messages may help us figure out what is

[2021-03-05 23:59] jeremy-msft commented on #1677
Hi @malikirfan, we took a closer look and it appears this is caused by the limitations of arrow function expressions.  Could you please try again using a traditional function expression (e.g. `Office.onReady = function () {};`)?

[2021-03-06 00:00] ghost commented on #1649
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-06 01:15] AbidRahman-MSFT commented on #1645
Thanks for the ping Alex!

Hey @NickDarvey , sorry for the delay. Thanks for the question and for the sample. I had a chance to take a look at the sample you provided. It looks like there is an error in the namespace URL that you are using. You're missing an 's' in schema's'. Try changing to the following namespace:

`http://schemas.openxmlformats.org/officeDocument/2006/bibliography`

Fixing the

[2021-03-06 03:00] ghost commented on #1511
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-06 04:10] taylorjtatro commented on #1697
@AlexJerabek

Alex, so I believe it is isolated to that code block on the Excel desktop version 16.46.
I am running MacOS 10.14 Mojave

I tried removing that control and got no pop up. It only returned when I re-added the control to manifest.xml and side loaded the add in again. (Cleared all Caches each time). And again it only pops up when I click on the ToggleProtection Add-In Button.

I did try

[2021-03-06 06:29] neso613 commented on #1642
As per the report from store validation team ----

Your offer demonstrate insufficient interaction with our service in Message Read mode. Please consider adding functionality which either reads information from or writes information to the Office Client.

*****it is likely that the validation team didn't found that you weren't interacting with the loaded mail item******,

[2021-03-06 06:33] neso613 commented on #1642
@saurabh-msft
![Screenshot_20210306-120020_Skype](https://user-images.githubusercontent.com/31642462/110197793-f6affe80-7e73-11eb-9fbd-fa29625d8801.jpg)

[2021-03-06 06:37] neso613 commented on #1642
+ @kanaksony

[2021-03-06 07:48] rickgoud commented on #1691
Thanks @exextoc, I'll try it out and report some results here for community learnings!

[2021-03-06 08:36] barisbikmaz commented on #1693
Hi @AlexJerabek ,

The problem happens when you want the define every possibility in one typing.

The current typing is wrong and causing an **exception**. The current typing allows you to set "undefined" which is not allowed. We had this issue in our production environment with lots of customers after an update of the typings.

Here you have two options:

Either you add different typings without

[2021-03-07 10:00] rickgoud commented on #1686
Hi @exextoc ,

Thanks for you help! Tried it with Group Policy Editor and also with UmOulookAddin as you suggested, but without result.

See here the settings I set in Group Policy Editor
![image](https://user-images.githubusercontent.com/13066218/110236017-dba4c380-7f33-11eb-804f-9cd2425fd2fc.png)

See here the result that were set in the registry (as expected)
![image](https://user-images.github

[2021-03-07 10:03] sharon8811 opened #1694 "OWA addin fails to report from Outlook for shared mailboxes"
I have used the &lt;SupportsSharedFolders&gt;true&lt;/SupportsSharedFolders&gt; as mentioned in the docs,
It is letting me use the API over OWA but when I am using it from Outlook 365 for Windows (16.0.13801.20240 64bit) It does not let me, I am getting the following error:
`API not supported for shared folders.`
When I am using:
`const item = Office.context.mailbox.item`

## Expected Behavior
I s

[2021-03-07 19:34] exextoc commented on #1673
Edited: Can you share the api you are using to get itemId? The itemId before sending an email is temporary and it gets changed after the mail is sent.

[2021-03-08 07:16] adem commented on #1511
I tested the proposed approach using `Office.context.ui.displayDialogAsync` (because our main concern is the browser, not the Outlook desktop clients). Luckily I was able to access the Blob as long as the dialog I displayed was of the same origin as the Blob URL origin and was even able to trigger the download dialog for that Blob. That's definitely an improvement!

With the new approach in sight,

[2021-03-08 08:25] harit-m-kumar opened #1695 "Can I specify shortcut keys for Ribbon elements through manifest : 508 Issue"
I have been using a custom addin "data" for Office365 in Excel online, as shown. Related to the 508 compliance, It has been found that :

1.  On  pressing alt key, the 'Data' menu is assigned a default short cut 'A'. Is it possible to assign a custom shortcut for that?
2. The elements in the ribbon are assigned, default shortcuts like 'RA', 'K' etc. Is it possible to assign meaningful custom short

[2021-03-08 10:09] georgechr opened #1696 "HTTP Redirect not working for shared custom runtime functions resources"
OK, this is a bit of a complicated one.

We updated our manifest and build process for custom function to use SharedRuntime as per: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime

We wanted to do this because our service(s) which serve the add-in JS, HTML, CSS files sits behind a proxy server which redirects users to closest one geographic

[2021-03-08 10:43] puripats opened #1701 "Is linkedDataTypes api working?"
[Enter feedback here]
Deat Support Team,

I run this on Excel web with beta setup in the guide.
I try to learn linkDataTypes api. I try to use simple code for example, I run

Excel.run(function (context) {
var linkedCount = context.workbook.linkedDataTypes
linkedCount.getCount()
}
return context.sync().then(function(){
console.log(linkedCount)
  });
})

After that the result showed.
Uncaught (in p

[2021-03-08 14:00] ghost commented on #1635
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-08 14:00] #1635 closed, assigned to ononder

[2021-03-08 15:58] saurabh-msft commented on #1642
@neso613 The above error is from 24 Nov, 2020. According to our validation team the validation errors you received were resolved on the submission made on Feb 11, 2021. Is there still some issue you are facing while submitting to the Partner Center?
If so please raise a ticket here https://partner.microsoft.com/en-US/support/v2/?stage=1 where you can ask for individual cert/validation failure resu

[2021-03-08 16:56] AlexJerabek commented on #1693
Tagging @exextoc to look into the type definitions.

[2021-03-08 17:28] AbidRahman-MSFT commented on #1695
Hey @harit-m-kumar,

Thank you for your question. There is currently no way to set custom shortcut keys for Excel buttons in the ribbon. If you would like to see this feature, please suggest it over at [UserVoice](https://officespdev.uservoice.com/) for the community to help surface the need for this feature.

What you are seeing in the ribbon is known as [access keys](https://support.microsoft.co

[2021-03-08 17:29] exextoc commented on #1694
To clarify the repro steps, are you only calling `Office.context.mailbox.item`? Are you calling another API on the item?

[2021-03-08 17:29] #1695 closed, assigned to AbidRahman-MSFT

[2021-03-08 17:56] harri-rajala-koivu-solutions commented on #1675
@qinliuMSFT @lumine2008 Do you have any estimate of when this is fixed?

[2021-03-08 18:08] jargil commented on #1585
Thank you for your bug report, and thank you for your patience. We're looking into this. Will update here as soon as we have something to share.

[2021-03-08 18:27] Premsagar-lab commented on #1673
@exextoc
Yes, we are getting a valid EWS id before sending a mail.

We are doing the following:
1. We are saving the email being composed.
2. Then we call "Office.context.mailbox.item.getItemIdAsync" to get the Item ID on the saved email.
3. Using this ItemID, we retrieve the ChangeKey of the email  using GetItem request of Office.context.mailbox.makeEwsRequestAsync API.
4. This ItemID and ChangeK

[2021-03-08 18:53] exextoc commented on #1686
In the File->Options->Add-ins are the COM Add-ins being loaded? (Not Disabled)

![image](https://user-images.githubusercontent.com/28549921/110367344-67822280-7ffc-11eb-8657-aebe1d83514e.png)

And if you go Manage Add-ins (Go)

![image](https://user-images.githubusercontent.com/28549921/110367363-6f41c700-7ffc-11eb-973d-1b2ed2156f75.png)

Are the Add-ins set to Load At Startup?

Also as a random s

[2021-03-08 19:00] AlexJerabek commented on #1697
Thanks @taylorjtatro.

This is looking like a product bug. I'm going to transfer the issue to the office-js repo so members of the feature crew can investigate.

For anyone repoing this is issue, you'll need to follow this tutorial: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial?view=excel-js-preview
You just need to complete the following sections:
- Prerequisites
-

[2021-03-08 19:23] amelehy commented on #1585
Thank you for the update @jargil 🙏  - what are the chances that this is resolved by the end of the month?

[2021-03-08 19:40] jargil commented on #1585
@amelehy - I can't comment on timelines at this point. Once I have something concrete to share I'll make sure to provide an update here.

[2021-03-08 19:52] keyur32 commented on #1696
@jeremy-msft  - can you take a look please?

[2021-03-08 19:56] keyur32 commented on #1677
hi @malikirfan  - were you able to check with Jeremy's recommendation?  Thanks

[2021-03-08 21:28] AbidRahman-MSFT commented on #1689
Hey @arshadshibli - here are the preview docs around that feature for PPT: https://docs.microsoft.com/en-us/office/dev/add-ins/design/built-in-button-integration

[2021-03-08 22:25] JuaneloJuanelo commented on #1508
there is a workaround for this issue:
	Exception (from series) meeting is created
	Gets a webhook with series ID of the parent series
	Retrieves custom property of the series ID
	Then set property  it on the exception meeting

[2021-03-08 22:25] #1508 closed, assigned to exextoc

[2021-03-08 23:21] Sageparker47 commented on #1683
@exextoc Here is the build number that our customer is on.
<img width="284" alt="Zoom_Meeting" src="https://user-images.githubusercontent.com/27702295/110394793-d8880100-8021-11eb-800f-45646a01ec51.png">

We were also asked if "64-bit" would play a factor in this?

[2021-03-09 00:27] #1402 closed, assigned to exextoc

[2021-03-09 00:53] triandco commented on #1645
Hi @AbidRahman-MSFT,

I copied and ran the code snippet that you sent through. Unfortunately, this only works for documents that has been saved. If the document is newly created and is not saved, the result of getByNamespaceAsync is an empty array. Would there be a difference depending on the version of words I use? I'm running word on Windows:
![image](https://user-images.githubusercontent.com/61

[2021-03-09 01:06] AbidRahman-MSFT commented on #1645
Hey @triandco - thanks for pointing that out. That looks like a bug to me. The version of Word should not matter here as the APIs have been supported for quite a while.

We'll investigate and let you know what we find.

[2021-03-09 01:24] sohailzafar commented on #1681
Thank for providing the detailed repro steps. We suspect that the icon is not getting cached in desktop. Desktop client needs a cache in order to use the icon and this is by design. Can you try checking the response for “vary: Cookie” header and remove that if present because that prevents the caching.

Thanks
Sohail

[2021-03-09 02:00] ghost commented on #1649
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-09 02:00] #1649 closed, assigned to exextoc

[2021-03-09 04:58] arshadshibli commented on #1689
Thanks @AbidRahman-MSFT

[2021-03-09 06:40] exextoc commented on #1667
Inserting svg images in owa through the setAsync api is not permitted by design. Request you to go for other image formats like jpeg/png/gif etc.

[2021-03-09 06:44] hello-chenchen commented on #1667
@exextoc is there any official description for question 1? and what about question 2?

[2021-03-09 07:04] arshadshibli opened #1698 "Get the range of field inserted in a document office -js word web-addin"
I have to insert a field around a selected range to implement a functionality. As fileds are not supported in office-js I am using office open xml . I have implemented the code to insert a field before and after a selected text in a word document. OOXML corresponding to the field inserted looks like.
[code]
**After inserting is there anyway I can select the range where the fields are inserted.**

[2021-03-09 11:17] qinliuMSFT commented on #1675
@harri-rajala-koivu-solutions , we have fixed the bug and the fix should be available in build 16.0.13908.20000 or later. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks, or longer if they are on the Semi-Annual Enterprise Channel.

[2021-03-09 11:28] harri-rajala-koivu-solutions commented on #1675
@qinliuMSFT Ok. Thanks.
Can you tell which Excel versions have this bug?
Do you know if there is any workaround that we could tell our customers affected by this bug?

[2021-03-09 11:30] ElivonRadecki commented on #507
Hi, I have a client who sideloaded an add to his mac (for word, ppt and excel) and is experiencing the same issue described by misaunde above. While I get it that this is expected behavior for the sideloaded add in to only show within the drop-down menu in the my add ins section, I was wondering if there is a way to instead have the add in to persist in the ribbon. Grateful for any insights.

[2021-03-09 14:03] timbeese commented on #1681
Yes, the vary: Cookie header is indeed the culprit here.  I changed our header to return vary: Accept-Encoding instead, and the icons showed up in my desktop Excel client.  Thank you for the information!

[2021-03-09 14:23] nikhilism15 opened #1699 "Excel Add-In with Dialog API stops execution until F12 is opened"
When an Excel is opened for the first time, if it has a dialog included (for example, login dialog), the code that has to execute after message is passed back to the taskpane doesn't execute until I open F12Chooser or IEChooser from C:\Windows\SysWOW64\F12 folder. Once I open it, it starts working fine even after closing it. I need an immediate solution for this as a production-deployed app is cau

[2021-03-09 14:56] sharon8811 commented on #1694
I have few lines of code:
`const item = Office.context.mailbox.item`
`const from = item.from`
`const recipientType = from.recipientType`
`const hostName = Office.context.mailbox.diagnostics.hostName`
and it fails when I ran it over Outlook 365

[2021-03-09 15:10] sharon8811 commented on #1694
My code is using EWS as well, can it be supported for shared mailbox from OWA (using the browser) but not from Outlook?

[2021-03-09 15:59] keyur32 commented on #1698
@AbidRahman-MSFT  - can you take a look please?

[2021-03-09 16:06] AlexJerabek commented on #1699
Hi @nikhilism15.
Thanks for reporting this. I'm going to transfer this to the [product repo](https://github.com/OfficeDev/office-js), where members of the product team will triage and investigate your issue.

[2021-03-09 16:40] AbidRahman-MSFT commented on #1698
Hey @arshadshibli ,

In the future, I highly suggest you post your question on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and tag `office-js` as it will help you quickly get an answer from the wider office js community.

For issues and/or unexpected behavior regarding APIs, feel free to continue posting an issue on this GitHub repo.

For this specific scenario, there is

[2021-03-09 16:40] #1698 closed, assigned to AbidRahman-MSFT

[2021-03-09 17:02] paulfrench commented on #1685
[example.zip](https://github.com/OfficeDev/office-js/files/6110110/example.zip)

I've uploaded an example. Sorry it has taken a lot of time to narrow down the issue. It seems to be due to the es.promise polyfill.

To get up and running...

npm install
npm run build
npm run dist

You do require http-server installed globally I think. Also I cheated a bit and re-use the certificate generated by anot

[2021-03-09 17:29] keyur32 commented on #1699
@lliu113  to help. thanks.

[2021-03-09 17:40] AlexJerabek commented on #1685
Thanks @paulfrench. We really appreciate the streamlined version.

Let me tag @keyur32 to help investigate or triage this polyfill issue.

[2021-03-09 17:53] CristovaoTorres opened #1700 "Addin not working in desktop with Share data and events between Excel custom functions and the task pane"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Add-in not working in desktop with Share data and events between Excel custom functions and the task pane.

## Your Environment

* Platform [PC desktop, Mac, iOS,

[2021-03-09 18:03] exextoc commented on #1683
As mentioned above, for Win32 the primary fix is in build 16.0.13231.10000 and above. Please update your Outlook for the fix in Windows.

[2021-03-09 18:10] exextoc commented on #1511
For your first question, you can set the `promptBeforeOpen` property to `false` in order for the the dialog to not be shown. See the documentation [here](https://docs.microsoft.com/en-us/javascript/api/office/office.dialogoptions?view=outlook-js-preview).
For your second question, you can use `messageParent` API documented [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-a

[2021-03-09 18:14] ElizabethSamuel-MSFT commented on #1701
@puripats Thanks for letting us know. I'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2021-03-09 22:00] exextoc commented on #1648
Thanks for providing that info!
When you tried it on your Boss's calendar (or any Shared Calendar), did you see the same issue? And did the issue occur when you updated all events or a single event (meeting exception)?

[2021-03-09 23:15] Byron-Mo opened #1702 "Addins not working when using Remote Desktop to remote into Outlook Desktop on Windows"
After upgrading Windows, when users use Remote Desktop to remote into their Windows machine from their personal Macbook or Linux, Addins on Outlook Desktop are not loading properly.

## Expected Behavior

Addins should load and sign in properly on Windows 2004 or 2009

## Current Behavior

Addins such as Evernote and Salesforce Outlook Integration do not load:

Evernote

![image](https://user-imag

[2021-03-09 23:24] exextoc commented on #1694
Can you share how you are setting up the shared mailbox (specific steps that you took to both setup (the delegator) the shared mailbox and how you are accessing it from the delegate).

[2021-03-10 00:08] masayukiiizuka opened #1703 "Asian language ribbon strings aren't displayed in one line on Excel desktop client"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Asian language ribbon strings aren't displayed in one line on Excel desktop client even though the width is enough.

## Expected Behavior

Asian language ribbon strings are displayed

[2021-03-10 00:25] gummybuns commented on #1692
Ok it seems like you want me to move everything that is in `useEffect` to instead be within a `addHandlerAsync` for the itemChanged event. But then the app does not initialize until i pin the taskpane and make a change.

I would need the initialize logic to run in `useEffect` _and_ in the `addHandlerAsync` correct? That would still cause the unexpected error in getUserIdentityTokenAsync() when the

[2021-03-10 01:02] exextoc commented on #1702
Are you able to load add-ins on other Office applications such as Excel?

[2021-03-10 03:41] JinghuiMS commented on #1701
Thanks for reaching us. The LinkedDataTypes api is not ready yet, it is likely to be released in ExcelAPI1.14. You can follow our release information.

[2021-03-10 03:51] puripats commented on #1701
Many thanks JinghuiMS

[2021-03-10 03:56] xiaochunms commented on #1700
@CristovaoTorres sorry for the issue. Is it possible to share the manifest file that I can take further debugging?

[2021-03-10 04:34] wynntee commented on #558
Whilst a Shared Runtime allows Full CORS, it also forces the add-in to run in IE11, which severely limits the JS methods that I want to use, eg. WebAssembly. When will the Shared Runtime move to Edge Webview?

[2021-03-10 04:50] #1701 closed, assigned to lumine2008

[2021-03-10 05:22] nikhilism15 commented on #1699
Hello product team, can you please help me out in this matter at the earliest? Our product is deployed in production and its not working for windows users with version lower than 1903. It's urgent as all of our users are in that configuration and are unable to use our product due to that.

[2021-03-10 08:03] exextoc commented on #1667
Unfortunately we don't have any official documentation for question 1 at this moment. We will make sure that we update the official docs with this scenario.

As for question 2, is this applicable for a particular browser?

[2021-03-10 08:12] hello-chenchen commented on #1667
I haven't test all the browser, but i think the answer is it will happen for all browser. At least, it will happened on Chrome and new Microsoft Edge(chromium base) with my office365 E3 license. for every add-in, you can execute my demo code under your official add-in, such as OneNote on outlook online: https://outlook.office.com/calendar/view/week with a new event. it will happened for 100%.
[cod

[2021-03-10 11:54] CristovaoTorres commented on #1700
@xiaochunms  ok,
Here you go
https://github.com/CristovaoTorres/ExcelCustomFunction_Shared_avaScriptRuntime

[2021-03-10 13:27] sharon8811 commented on #1694
This is the way that the shared mailbox is set:
![image](https://user-images.githubusercontent.com/18531500/110636220-ace95000-81b4-11eb-8c60-f02e2fcb10da.png)
![image](https://user-images.githubusercontent.com/18531500/110636603-1e290300-81b5-11eb-9c1b-a2ffb17f2138.png)
But I am not sure if it is relevant,
The mailbox is accessible when I use the same addon in the browser.

[2021-03-10 13:38] christian-sap opened #1704 "Loading add-ins from Windows shared folder stopped working"
Loading add-ins from Windows shared folder stopped working. When inserting an add-in from a shared folder the status bar says "Loading add-ins..." but never finishes.

## Expected Behavior
Loading add-ins from shared folder should be possible.

## Current Behavior
Loading add-ins from shared folder is not possible.

## Steps to Reproduce, or Live Example
Follow the steps here: https://docs.microso

[2021-03-10 14:23] alexhrytsak opened #1705 "In Safari, I get nothing from `Office.context.ui.messageParent`"
In Safari, I get nothing from `Office.context.ui.messageParent`
## Expected Behavior

I do receive a message from `Office.context.ui.messageParent`
## Current Behavior

I do not receive a message from `Office.context.ui.messageParent`
## Steps to Reproduce, or Live Example

I using this is[ example ](https://github.com/OfficeDev/Office-Add-in-Dialog-API-Simple-Example/blob/master/SimpleDialogSampl

[2021-03-10 16:33] wsoccorsi-yw commented on #1660
Emerging here again!

@exextoc Right back at you thanks for helping out.

I've got an AoS call right to drafts before sending and some good news is this is where things are happening!

*** Note ***
I did this by creating a delay on Outlook Desktop, Sending the Email but it stays in the outbox and then I bump it to drafts. Once in drafts I can look at the message still in compose. Maybe this proces

[2021-03-10 17:05] wsoccorsi-yw commented on #1660
It might be helpful to note, https://answers.microsoft.com/en-us/msoffice/forum/msoffice_outlook-mso_other-mso_o365b/inline-images-not-showing-up-in-office-365-outlook/b54ea10e-8cf4-4396-9836-0b4a1c24ff7b. The thread goes into a private chat but maybe something useful in that discussion.

Edit: I've pulled on the notion of turning off images and inline images but can't repro this. I figure you mig

[2021-03-10 17:27] paulfrench commented on #1685
What is interesting, is my application will not render in IE11 browser (just the addin, not Excel online), I get the error 'Promise'is undefined. This is what I expect since I have no es.promise polyfill.
However the add in runs fine in IE11 when run as part of Excel online. It suggests a polyfill has been added by Microsoft? Again the addin runs fine in desktop Excel, but in this case, if I do in

[2021-03-10 20:05] exextoc commented on #1694
Shared mailboxes are not supported at this time, we only support Shared Folders/Delegate scenarios. An overview of what is not supported can be found [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-add-ins-overview). And if you're interested in enabling Delegate Scenarios in an Outlook add-in, documentation can be found [here](https://docs.microsoft.com/en-us/office/dev/

[2021-03-10 23:53] exextoc commented on #1660
Just to clarify you did this in Outlook Win32 Desktop **(NO OWA involved at all).**

1) Inserted the HTML in Mail
2) Sent it with delay send in Outlook
3) Pulled the HTML of the item.

Is there a chance we could see the HTML between steps 1 and steps 2? (or did you do that an that is the "healthy" HTML you sent?

The replaced image link looks suspicious.

https://attachments.office.net/owa/redacte

[2021-03-10 23:54] exextoc commented on #1692
Depending on your scenario, you can have `useEffect` in both initialize and the addHandlerAsync.
A number of things could stop working if AddHandlerAsync / ItemChanged is not included with a pinnable taskpane, even though `getUserIdentityTokenAsync()` does not depend on the item. Calls to `getUserIdentityToken` should succeed once you include `addHandlerAsync()` no matter when they were called. (I

[2021-03-11 00:09] exextoc commented on #1660
I realize I may have glossed over a point: How are you getting the HTML from the messages when I say "Pulled the HTML of the item" Are you using OWA? or Using Desktop Outlook Visual Basic or Our Office.JS APIs via Desktop Outlook?

[2021-03-11 00:19] zliebersbach commented on #1577
Have tested on macOS Catalina and Online and neither produce this error. Seems to be a regression in the IE WebView.

:crossed_fingers: we get WebView2 for shared runtimes soon...

[2021-03-11 07:22] sitthinan opened #1706 "Can not create custom contextual tabs in Office Add-ins"
## Expected Behavior

My custom contextual tabs should appear on the Excel ribbon when a chart is selected.

## Current Behavior

I try to implement it following this [document](https://docs.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs) The custom contextual tabs do not appear on the ribbon when I select an Excel chart.

## Steps to Reproduce, or Live Example

I have implemented t

[2021-03-11 09:58] hello-chenchen commented on #1679
hi @jargil , i can grant it by direct to https://login.microsoftonline.com/{tenant-id}/adminconsent?client_id={client-id}, but do you know have to revoke my grant?

[2021-03-11 10:37] hello-chenchen commented on #1679
@jargil there is no need, thanks, i can remove it on azure portal.

[2021-03-11 10:37] #1679 closed, assigned to mattgeim, jargil

[2021-03-11 11:51] gbalatckii commented on #898
No response for more than 1 year ....

Same by me Word 2016 (16.0.5110.1000) MSO (16.0.5134.1000) 32-Bit, Windows 10
![Bildschirmfoto 2021-03-11 um 12 45 15](https://user-images.githubusercontent.com/57895385/110782682-c1d2eb80-8267-11eb-9a99-8bf9659f93fc.png)

This is what I get if nothing is selected
![Bildschirmfoto 2021-03-11 um 12 50 24](https://user-images.githubusercontent.com/57895385/1107

[2021-03-11 12:14] harit-m-kumar commented on #1695
Thanks for the response. But it says only about adding shortcuts for actions like opening taskpanes. I need to map it to individual buttons which comes under <Control> tag.
Please refer to the first comment. I need the shortcuts to be displayed on the button say 'SA' for sortAscending
Can you please specify what format the Json should be.?

[2021-03-11 16:03] wsoccorsi-yw commented on #1660
Sure so I can help clarify a few points.

1. The user set up a delay on Outlook Desktop
2. In order to use AoS I had to have them "click send" to insert the HTML
3. This email is then sent to the outbox
4. I "move" the item to drafts
5. I then go to OWA to inspect element and copy the HTML which is listed here

I've done this on my machine (the healthy HTML) and the users machine.

They do not hav

[2021-03-11 16:59] AbidRahman-MSFT commented on #1695
@harit-m-kumar That's correct, as I mentioned, what you are seeing in the ribbon is known as access keys. They are slightly different than shortcuts in the way that we have no control of what access keys are assigned to the ribbon, they are done purely from an accessibility perspective. There's no way to change these access keys.

If you are adding **custom ribbon buttons to the ribbon through you

[2021-03-11 17:58] exextoc commented on #1667
We tried using this code snippet and yes the OWA crashes. It has something to do with this styling.

`<style type="text/css">\nbody{height:100% !important; margin:0; padding:0; width:100% !important;}\n</style>
`

Right now we don't have a root cause for this. As a workaround either you can not use this <style> or use Outlook Win32 client (where this works fine). We will create a bug in our backlo

[2021-03-11 18:22] vddgil opened #1707 "Outlook appendOnSendAsync method seems to have a size limit on the data attribute."
appendOnSendAsync method in Outlook seems to have a size limit on the data attribute.

## Expected Behavior
Should append the text on send whatever is the size of it.

## Current Behavior
When adding an HTML Signature (9438 characters) I get the following error:
Sys.ArgumentOutOfRangeException: Sys.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name

[2021-03-11 19:39] jcl-nfs commented on #1702
Hi, I'm one of end-users that was involved with the discovery of this issue.  If you can you recommend a benign excel add-in to test, I'd be happy to do so.

[2021-03-11 19:44] DiliTrustApplicant opened #1708 "Edge destroys session cookie on pane closing."
Currently we use session cookies to allow authentication for our addin. We are starting to have users complain that they have to login every time because of the pane closing.  We're assuming this is edge behavior.

We've looked at perhaps storing the cookie in local storage but does that not leave the cookie vulnerable to cookie stealing if we turn off httponly?  How do we handle authentication se

[2021-03-11 19:59] exextoc commented on #1702
Feel free to try any add-in. For example you can try the [Script Lab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab) add-in.

[2021-03-11 20:03] exextoc commented on #1660
Okay, sorry. Accessing HTML on OWA is what's causing confusion here. Rendering mails in OWA translates Attachments Images, into those weird links, which is why we were getting confused as to how Outlook Desktop was somehow inserting OWA code.

The HTML we need, needs to come from the email itself, not after it has been rendered. The easiest way to do this is to use our JS api. Office.context.mailb

[2021-03-11 20:08] jcl-nfs commented on #1702
Hi, same behavior as presented.  On the RDP Mac session, the rolling dots at the bottom repeat over and over.

[2021-03-11 21:59] neville-jones commented on #1678
similar to #1670  ?

[2021-03-11 22:25] exextoc commented on #1702
Are you able to load add-ins on the same Windows machine when not remoting?

[2021-03-11 22:32] jcl-nfs commented on #1702
Yes.  Here are the three cases:
  Local windows work fine.
  PC->rdp->PC works fine.
  Mac->rdp->PC does not.
The windows version presented in original submission is key to this.  Anything prior to 19041, and the Mac->rdp->PC works.  Anything 19041 and after, and it fails/hangs/blanks.

[2021-03-12 00:20] AbidRahman-MSFT commented on #898
Hey @ankushsolao,

I can't repro the issue you mentioned, please try the following code to set the left indent of a paragraph in the document:
Note that this is only using APIs that are available in Word API 1.1 and 1.2:

[code]

You need to make sure to load the properties before accessing them. The property in this case is the items property of a Paragraph Collection. Once you load the items, yo

[2021-03-12 00:42] AbidRahman-MSFT commented on #1682
Hey @ndvbd ,

Thanks for reporting this issue. I can reproduce it on my machine, and you're right it is a bug. Comments was not a part of Word on Web when .getHtml() method was implemented and it looks like there may be some additional work we would need to do to ensure we include comments as part of the HTML in Word on Web. I've opened bug #4946935 to internally track this issue.

I'm curious to

[2021-03-12 00:58] giulianozor commented on #1037
happy birthday, I suppose... Any news ?

[2021-03-12 05:42] SWei1234 commented on #1648
Hi @exextoc
Yes, When I tried this on a shared calendar this problem will happen include my boss's.
And I can replicate this on my side and it's inevitable.
Thanks
,

[2021-03-12 06:42] gbalatckii commented on #898
Hi @AbidRahman-MSFT,

I used this example as a template for my project, but just with react:
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?view=word-js-preview&tabs=yeomangenerator

So I am using React 16 with this office versions:
    "office-addin-cli": "^1.0.10",
    "office-addin-debugging": "^3.0.31",
    "office-addin-dev-certs": "^1.5.2",
    "office-addin-

[2021-03-12 07:43] xiaochunms commented on #1700
@CristovaoTorres I just noticed that you already pasted the link of the code in the initial thread. Sorry for missing it and thanks to share it again. BTW, looks like the resources is inaccessible, for example I cannot reach "http://YaraOp2b:8002/dist/functions.js" from my side. Is the website accessible? The Add-in installation will fail if related resources is inaccessible.

[2021-03-12 08:38] trigurl commented on #1706
Hi @sitthinan, I am an engineer on the Office team, can you show me your add-in xml manifest please?

[2021-03-12 09:20] sitthinan commented on #1706
Hi @trigurl ,
This is my xml custom tab
![image](https://user-images.githubusercontent.com/56704884/110919409-ce7e3f00-834e-11eb-999c-56e87ca82714.png)

[2021-03-12 11:13] westconference commented on #1436
@smaremanda this is still occurring, any updates? Getting worried as the documentation says WebView2 is going to be rolling out at the end of March.

[2021-03-12 11:42] ssoni2074 opened #1709 "How to move cursor on word document with office js api"
How can I move blinking cursor by few character left/ right in js addin ? For VSTO addin we were simply doing **range +/- 1** .
Even doing range.clear() or range.delete() doesn't show blinking cursor.
## Expected Behavior
range.clear() or range.delete() should show a cursor where we can start typing directly without clicking on the document

## Current Behavior
currently after range.clear() range

[2021-03-12 11:47] ndvbd commented on #1682
1. So we agree that the getHtml() should be consistent. The best thing would be to add a parameter so the developer can choose whether to retrieve the comments or not.
2. What is exactly the difference between getHtml and getOOxml?
3. Regarding the 'specific need', well, the biggest API problem is that in order to highlight or replace a Range in the text, the only api you provide to generate a Ran

[2021-03-12 12:35] Krishna-de opened #1710 "excel-win32-16.01.js:2 Ressource not found when we deployed from Admin center"
Created excel addin with babel and webpack config for IE11 engine.

We referenced "Office.js"  in html     **"<script src="/assets/office-js/office.js"></script>"**
Excel office add in works fine if we reference from assets in Debugging.

Now we published it in admin center, office js intialized fine but unfortunately console shows **"excel-win32-16.01.js"** not found. Excel sheet functions does n

[2021-03-12 13:03] CristovaoTorres commented on #1700
@xiaochunms  the manifest file were updated.
http://YaraOp2b:8002/dist/functions.js -> https://main.dvntzptumz7ya.amplifyapp.com/dist/functions.js

[2021-03-12 13:22] dhoelzl opened #1711 "[Word] insertFileFromBase64 does not work properly in browser"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

`insertFileFromBase64 ` in a Word document does not work as expected when executed in the browser.

Office Version: 16.0.13911.41025

Steps to reproduce:
* create simple OfficeJS Add-

[2021-03-12 13:28] GrumpyAL commented on #1646
Hello,

We have done some additional testing.  To summarize, when on an External network, every aspect of Outlook and Office Add-ins appears to work fine with the exception of getCallbackTokenAsync() (REST or EWS).

To add some detail.  I modified the TokenViewer Sample App (available here https://github.com/OfficeDev/Outlook-Add-In-Token-Viewer) to have it only get a single token on demand (inste

[2021-03-12 13:28] sarala-bhalerao commented on #1543
Thank you for your feedback!

[2021-03-12 13:28] #1543 closed, assigned to arttarawork

[2021-03-12 13:37] wsoccorsi-yw commented on #1660
Thanks for the in depth way to do this, going to have to find time on the clock with a user to perform these operations. Will write back here soon with the info!

[2021-03-12 13:54] christian-sap commented on #1704
Issue was caused by some VPN issues that somehow had an effect on loading add-ins from a shared folder of the local machine.

[2021-03-12 13:54] #1704 closed, assigned to nobody

[2021-03-12 13:55] adem commented on #1511
This is exactly what we need - thanks a lot! Using these APIs, the `frame-src blob` directive is not needed anymore. I'm closing this issue.

[2021-03-12 13:55] #1511 closed, assigned to exextoc

[2021-03-12 13:58] AndyHore commented on #422
Looking for an update on this. This is a MAJOR problem and miss on functionality for WOPI that our customers require.

[2021-03-12 14:00] harit-m-kumar opened #1712 "Unable to Load addin in MS - Word 365 - saying content is blocked as it is not signed by a valid security certificate"
i am trying to side -
![error](https://user-images.githubusercontent.com/58638877/110950070-6557f500-8369-11eb-97e8-ae5cafcda20e.PNG)
![Version](https://user-images.githubusercontent.com/58638877/110950073-66892200-8369-11eb-9189-87c6bf5c47b4.PNG)

load an addin, which works well in other systems with the same office versions. The addin loads with an error saying - The content is blocked because i

[2021-03-12 16:55] AbidRahman-MSFT commented on #1682
Hey @ndvbd ,

1. That is not correct, html will not be consistent across the different endpoints and this is specified in our documentation, see below, that being said I do agree that comments should be returned in the html for Web, but you cannot use getHtml if you are looking for consistency:
![image](https://user-images.githubusercontent.com/53581099/110971813-2ea1c080-8310-11eb-89c0-55a251f161

[2021-03-12 18:04] AlexJerabek commented on #1037
Hi @giulianozor,

I'm sorry this issue went under the radar. Let me tag @keyur32 and @smaremanda to try and help.

[2021-03-12 18:14] gummybuns opened #1713 "Pinned Taskpane is unclickable when transitioning from Inbox -> Inline Reply"
## Expected Behavior
When a user opens the Taskpane in Inbox Mode, pins the Taskpane, and replies to an email in Inline Reply Mode, the pinned taskpane should be responsive.

## Current Behavior
Instead, the Taskpane UI is unclickable, giving off the appearance that it is frozen.

I believe what is happening is the pinned taskpane was opened in Inbox Mode and Inline Reply requires the Compose Task

[2021-03-12 18:50] exextoc commented on #1713
The problem with an unclickable pinned taskpane for an in-line reply is a known issue that we have in our backlog. We unfortunately have no timelines to share at this point regarding this issue.

[2021-03-12 20:36] trigurl commented on #1706
Hello, since you did not provide me with your full manifest, can you double check whether it is using the shared runtime?  Your add-in must be shared runtime.
`
<Host xsi:type="Workbook">
<Runtimes>
<Runtime resid="YourAddin.SharedRuntime.Url" lifetime="long" />
</Runtimes>
`

[2021-03-12 20:55] exextoc commented on #1648
As previously mentioned, the problem with Custom Properties missing on the updated single event (a.k.a meeting exception) is a known issue that we have in our backlog. We unfortunately have no timelines to share at this point regarding this issue.

Similar to #1508, the recommended workaround for this issue is:
- Exception (from series) meeting is created
- Gets a webhook with series ID of the par

[2021-03-12 20:58] ndvbd commented on #1682
Thanks.

[2021-03-12 21:00] ghost commented on #1677
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-12 21:16] logicaloud opened #1714 "Excel streaming custom function starts twice after loading spreadsheet (non-shared runtime)"
After creating a spreadsheet containing a streaming custom function, saving it, then reloading it later, it shows that a streaming custom function starts twice.

## Expected Behavior
The custom function should only start once after loading the spreadsheet.

## Current Behavior
The custom function starts twice.

## Steps to Reproduce, or Live Example
To reproduce the issue for Excel Desktop:

Creat

[2021-03-13 00:00] ghost commented on #1637
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-13 08:41] rickgoud opened #1715 "Profile menu hidden behind task pane making it unusable"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

With a Taskpane open, clicking on the profile menu, the profile menu falls behind the task bar. This makes it impossible to use the profile menu without closing the task pane. Certain

[2021-03-13 16:39] malikirfan commented on #1677
Sorry for late response. Yes it works with traditional function. Thank you @jeremy-msft

[2021-03-13 16:39] #1677 closed, assigned to grangeryy, jeremy-msft

[2021-03-13 21:00] ghost commented on #1691
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-13 21:00] ghost commented on #1686
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-14 18:38] exextoc commented on #1606
Closing this as we're communicating on the second question via this link

https://github.com/OfficeDev/office-js/issues/1673

[2021-03-14 18:38] #1606 closed, assigned to macOutlookExtensibility

[2021-03-14 18:52] exextoc commented on #1666
Thanks for sharing the issue. We could reproduce this issue at our end. We have added this to our backlog but unfortunately we do not have any timelines to share for the same.

[2021-03-14 19:15] exextoc commented on #1707
Just to confirm, is this issue faced on Outlook MAC client or Outlook On The Web in Mac OS?

[2021-03-15 05:14] exextoc commented on #1631
Thanks for sharing this issue. We are presently working on it and will update once it is available in Insiders.

[2021-03-15 07:11] splinter commented on #1683
We have a customer who is experiencing the issue with build `13628.20448`. They are on a Semi Annual release channel.

The steps to reproduce the issue are identical. On this system the `Evernote` add-in does not cause the issue to reproduce.

EDIT: Just putting this information here to help the debugging process

[2021-03-15 08:46] vddgil commented on #1707
Hello,

On Outlook mac client.

[2021-03-15 08:52] SWei1234 opened #1716 "[Outlook] Office.context.mailbox.item.seriesId value show null when edit one event of recurring meeting"
We use seriesId to distinguish between a single event of recurring meeting and the whole series. But recently it has been found that this value is sometimes incorrect.
This problem only happened on Mac Outlook. Windows outlook and web works fine.

Note: But some times this seriesId will work after a few hours.

## Expected Behavior
When edit single event of series ,series Id will show a value. not

[2021-03-15 11:58] qinliuMSFT commented on #1714
Thanks for reporting this issue. We could repro it and created bug 4900383 to follow up.

[2021-03-15 12:50] nikhilism15 commented on #1699
I have to say I'm disappointed by the response time. Not even a message saying you'll look into it? I mentioned already that it's an issue in production created because office has to use IE11 everywhere even if windows 10 with edge is installed. I would appreciate a message explaining what's happening at least.

[2021-03-15 12:53] nikhilism15 commented on #1710
Hey Krishna, I faced a similar issue, solved it by downloading this [file](https://appsforoffice.microsoft.com/lib/1/hosted/excel-win32-16.01.js) and placing it in my assets folder along with office.js.

[2021-03-15 12:54] nikhilism15 commented on #1712
Wherever you deployed your JS code, it needs to be HTTPS enabled. You need to install a self-signed certificate to setup HTTPS in the server.

[2021-03-15 13:57] ndreisg opened #1717 "Add-In settings lost after Office Update"
Recently we are getting many customer reports that all settings in the Add-In suddenly disappeared after they updated Office.

In our Excel Add-In we use the browsers localStorage to save some settings, please note that these settings should be saved independent of the document, so the `Office.Settings` API can't be used in this case.

[This document](https://docs.microsoft.com/en-us/office/dev/ad

[2021-03-15 15:13] keyur32 commented on #1703
Assigning to @sohailzafar  to investigate.

[2021-03-15 15:15] keyur32 commented on #1705
Assigning to @lliu113 to investigate, as this is related to the Dialog API (on Word Web)

[2021-03-15 15:18] keyur32 commented on #1708
Hi thanks for the report. Assigning to @smaremanda  to look at the edge cookie issue.

We would generally recommend using OAuth, which will allow you to take advantage of SSO as you mention.

[2021-03-15 15:19] keyur32 commented on #1709
@AbidRahman-MSFT  to take a look. thanks.

[2021-03-15 15:20] keyur32 commented on #1715
@JuaneloJuanelo for the feedback to take a look.

[2021-03-15 16:29] arshadshibli opened #1718 "Document get changed on replacing OOXML with it's own OOXML without making any modification"
I have a requirement where I am getting the OOXML of a word document , Inserting it back after making some modification . I have to upload the modified document to server from my addIn . But the server does not recognize the document as a modified version of previous document.
So I just tried to get the OOXML of a document and insert it back without making any changes.

`await Word.run(async (cont

[2021-03-15 16:34] amelehy commented on #1585
Hi @jargil, is there any update on when this fix will be released? This is still a major issue for our customers who are starting to become very frustrated with Word itself as this was not the only Word bug introduced recently. Thank you for your help.

[2021-03-15 17:00] popecode opened #1719 "onDataChanged bindings for a cell returns RichApi.Error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

When trying to observe excel cell changes we are getting an error back in the api

## Current Behavior

We want to receive real-time event data information

## S

[2021-03-15 17:03] keyur32 commented on #1719
assigned to @lumine2008  to investigate, per offline thread.

[2021-03-15 17:05] keyur32 commented on #1718
@AbidRahman-MSFT  to help investigate.

On surface, this could be Word's code running in the app and modifying the content that is inserted (i.e. for example re-laying out things).

[2021-03-15 17:14] AbidRahman-MSFT commented on #1709
Hey @ssoni2074,

Thanks for posting the question. You are correct, there is no way to achieve this behavior using Office JS.

I would suggest posting a feature request on [UserVoice[(https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/filters/top?category_id=163566) as that helps us and the community keep track of future investments.

I would also recommend posting a simi

[2021-03-15 17:15] jargil commented on #1702
I tried reproducing this by connecting from Mac to Windows/PC and I could not see this problem, using multiple Office builds as well as the latest Windows build.

@Byron-Mo, @jcl-nfs:
Could you please try and report the following?
* Remote from Mac to Windows,
* Try starting an add-in and confirm it is blank, or hang, etc.
* Reconnect to the Windows PC locally and confirm if the add-in is still bl

[2021-03-15 17:42] AbidRahman-MSFT commented on #1645
Hey @triandco, we investigated this issue and the engineering team has decided that this is by-design expected behavior from CustomXMLParts.

More context: The CustomXMLParts of a document reflects what is actually written out into XML on disk - someone cracking open the .docx themselves also wouldn't see anything until a save happens in this case. For a workaround, what you can try here is gettin

[2021-03-15 17:42] #1645 closed, assigned to AbidRahman-MSFT

[2021-03-15 17:56] lliu113 commented on #1699
@nikhilism15 - firstly, apologies for the very late response to this. I know how frustrating it is, and you're right to expect a prompt reply.

Can you provide your version of office (File > Account) as well as your manifest to help us repro?

[2021-03-15 19:11] jargil commented on #1585
We've made a fix that I think will address the bug described here. If you want to try it out please join the Office Insiders program. The fix should rollout to the Mac Beta Channel sometime this or next week with build 16.48 (21031400) or newer.

https://insider.office.com/en-us/join/mac

[2021-03-15 19:17] amelehy commented on #1585
This is great news @jargil , thank you very much 🎉

We will check out the release via the Office Insiders program as soon as it's available. How long does it usually take to go from the Office Insiders Beta to the next full production release?

Also, wanted to confirm that this is not just a Mac issue but is an issue on Windows as well. Will this fix only fix things for Mac?

[2021-03-15 19:28] jargil commented on #1585
Our fix applies to both Mac and Windows.

Release of this fix is quality driven, assuming everything goes without problems you should expect this to rollout to Production sometime between early and mid April.

[2021-03-15 19:36] amelehy commented on #1585
Great @jargil , thank you for the clarification on both accounts 👍

[2021-03-15 20:19] #1709 closed, assigned to AbidRahman-MSFT

[2021-03-15 22:03] lliu113 commented on #1697
@taylorjtatro - thanks for reporting this! Just to confirm, you see the pop-up when you click on the "Toggle Worksheet Protection" button, but not the "Show As Taskpane" button? Does it launch a new window each time?

I went through the tutorial and was also unable to repro, but let me circle back with the engineering team and see if I can get more info on what the developer window is.

[2021-03-15 23:03] lliu113 commented on #1674
@groh-f - thanks for reporting this! Just to confirm, you're seeing this on Windows, Mac and Online? Is the GUID always the same?

[2021-03-15 23:58] lliu113 commented on #1665
Updating with bug number: 4955355

[2021-03-16 02:00] ghost commented on #1637
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-16 02:00] #1637 closed, assigned to exextoc

[2021-03-16 03:58] grangeryy commented on #358
This bug is fixed so close it.

[2021-03-16 03:58] #358 closed, assigned to grangeryy

[2021-03-16 03:59] grangeryy commented on #605
@dinglicoding does this issue still repro for you?

[2021-03-16 04:02] grangeryy commented on #606
@lliu113  guess this is an add-in UX related improvement ask?

[2021-03-16 04:10] KazuyaHarashima4500 commented on #1678
That's the fundamental thing I would like to ask.
On top of that, I would like to ask you about the specific schedule when that is.

[2021-03-16 07:35] triandco opened #1720 "Word.Range.insertParagraph() throws exception after using Word.Range.delete()"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Summary
We were trying to create an reference Add-in to replace user's highlighted text with a paragraph with the same fontFamily/size/color as user's highlighted text.

We tried t

[2021-03-16 08:02] xuxife commented on #1719
Hi @popecode, would you please provide "ServerCorrelationId" or "SessionId" of your repro document if you're using Office web?
If you're using desktop Excel, you can send a "feedback to MS" to help us identify the problem session.

[2021-03-16 08:47] nikhilism15 commented on #1699
Office version is 2102 (Build 13801.20294) Click to Run (Office 365)
Windows Version is 1809.
Manifest is as below (please note that I have replaced the domain URL with localhost for privacy reasons):
`
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:bt="h

[2021-03-16 09:02] groh-f commented on #1674
@lliu113 Yes we were able to see it in all the environments. As far as I can see It seems like that the GUID only changes when your session changes.

[2021-03-16 09:37] jpalo commented on #1145
Any tips how to use openBrowserWindow? It is not defined in `https://appsforoffice.microsoft.com/lib/1/hosted/office.js` nor in `https://appsforoffice.microsoft.com/lib/beta/hosted/office.js`.

[2021-03-16 09:43] jpalo commented on #1511
But where is the openBrowserWindow defined? Just getting "Uncaught TypeError: Office.context.ui.openBrowserWindow is not a function" even with "https://appsforoffice.microsoft.com/lib/beta/hosted/office.js".

[2021-03-16 09:54] rickgoud commented on #1686
Hi @exextoc  ; see attached. Yes, all loaded on startup (apologies for the delay).
Any other suggestions?
Do other people got this working?

Really looking forward to getting this fixed.
Thanks!

Regards,
Rick

![image](https://user-images.githubusercontent.com/13066218/111289734-bb68b900-8645-11eb-812e-204984f5089f.png)

[2021-03-16 10:18] EugeneLazutin opened #1721 "item.categories.addAsync gives an error "The operation is not supported" in compose mode"
Office 365 online throws an error in compose mode although according to the [documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mastercategories?view=outlook-js-preview#addAsync_categories__options__callback_) it should work;

![image](https://user-images.githubusercontent.com/12011141/111293185-0bea1180-865a-11eb-87cf-3f8137c97784.png)

[2021-03-16 10:56] Alex0cean opened #1722 "Automatic formatting setting in desktop apps (different in Excel Online)"
You select an area in Excel and format the area with a specific style. Cells around this area are still on default styles.

If you now enter values in the surroundings, Excel desktop apps (Win and Mac - latest semi-annual channel) try to derive some styles automatically.

For the add-in we're developing, it looks like we have not reset some styles after some layout changes.  (Note: Excel Online be

[2021-03-16 11:22] rickgoud opened #1723 "Get email addresses of distribution list in Outlook"
Hi,

We want to validate recipients in an Outlook Add-in, but what is the best way to do that? The documentation is not clear on how to do that with OfficeJS or am I missing something?

Any help would be greatly appreciated!

Regards,
Rick

[2021-03-16 12:42] PavanaKatta commented on #1565
I am protecting sheet and enabling some cells. But, this is not working in excel online.

Is the above issue resolved.

[2021-03-16 15:16] ndeeH opened #1724 "Excel: numbers formatted wrong when creating a table whith european formats and target hosts"
## Expected Behavior
Formatted values must be inserted in correct regional format (settings of host system).

## Current Behavior
On some client computers the values get wrong decimal and thousand separators:
#### **"123.456"** will become **"123,456"**

All versions OS, office version and all region settings are the same.

Seems the API will interpret the values on some clients as american format

[2021-03-16 15:17] groh-f commented on #1674
@lliu113 I am sorry, I talked about it with my colleagues.  We are currently only able to reproduce it reliable within Windows Excel Desktop with IE 11.  It seems like it was never a issue on Mac

[2021-03-16 15:21] DiliTrustApplicant commented on #1708
They still have to put in their username every single time...

Or how else can 1 manifest know 100 different users...

[2021-03-16 16:16] popecode commented on #1719
Hi team.

[code]

[code]

and document link:
https://xero365-my.sharepoint.com/:x:/r/personal/ben_gemperline_xero_com/_layouts/15/Doc.aspx?sourcedoc=%7B1BFE39E4-3637-4C90-A4C8-933CB965D8C5%7D&file=Book%2017.xlsx&action=editnew&mobileredirect=true&wdNewAndOpenCt=1615910176443&ct=1615910176443&wdPreviousSession=c252a919-4b52-4144-afd7-18773f3358a7&wdOrigin=OFFICECOM-WEB.START.NEW

Does this help?

[2021-03-16 16:47] Krishna-de commented on #1710
Hey Nikhil,

I also exported office.js and excel-win32-16.01.js both files to assets , I still got the error. Could you please give me some sample example? Thank you again for the reply.
You are from Hyderbad. I used to live there for couple of years

[2021-03-16 17:40] popecode commented on #1719
It should also be noted that we are getting an error even if we do:

[code]

[2021-03-16 18:14] smaremanda commented on #1724
@lumine2008 @tutieu Tuan/Raymond - could you please take a look at this issue and redirect?

[2021-03-16 18:18] smaremanda commented on #1723
@rickgoud Hi Rick - can you please explain the scenario a bit more? Will help us point you in the right direction.

[2021-03-16 18:18] keyur32 commented on #1254
Cleaning up, as this was a duplicate.

[2021-03-16 18:18] #1254 closed, assigned to keyur32, shaofengzhu, lumine2008, tutieu, RuoyingLiang

[2021-03-16 18:22] smaremanda commented on #1722
@Alex0cean - can you pls share expected behavior, esp as this relates to add-ins?

[2021-03-16 18:27] smaremanda commented on #1720
@hjkim-MSFT - could you please take a look at this one?

[2021-03-16 18:28] lliu113 commented on #1697
@taylorjtatro - looks like the developer window is part of the debug support for Mac and UI-less app commands. It enables hosting UI-less add-ins in a window so developers can right click to inspect and debug.

You can disable this by setting the OfficeWebAddinDeveloperExtras flag to false. Instructions for how to do so are here -> https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-

[2021-03-16 18:40] smaremanda commented on #1717
@ndreisg - thanks for connecting with us. The issue you outline is expecting as the localstorage is not shared between browser controls.
Couple of questions:
Can you please let me know why you cant use Office.Settings API to store these settings?
Localstorage in general cannot be considered a permanent storage. so you'll need to plan for cases where the user somehow clears this storage. What exact

[2021-03-16 19:00] jlevenssfdc opened #1725 "[Outlook] getAttachmentContentAsync fails when contentType=text/xml"
getAttachmentContentAsync fails when contentType=text/xml

## Expected Behavior
Should be able to get the attachment content

## Current Behavior
Unable to get the attachment content and an unhandled rejection is thrown

## Steps to Reproduce, or Live Example
- Send an email with an xml attachment
- Find email in sent items
- run this:
`Office.context.mailbox.item.attachments.map((attachment) => {

[2021-03-16 19:11] rickgoud commented on #1723
Hi,

To check whether users are allowed to receive documents/messages and whether information is allowed to be shared, we need to know/check the individual recipients underlying a distribution list (so the individual email addresses). With COM-addins this is possible, so want to understand how this possible with OfficeJS too.

Does this help?

Thanks!

Regards,
Rick

[2021-03-16 19:28] AbidRahman-MSFT commented on #1718
Hey @arshadshibli,

Thanks for reporting this behavior. This is expected behavior for Word. Here is some more context on the behavior from @yihuax:

When ooxml is inserted, Word doesn’t compare the new paragraphs with the paragraphs that will be replaced. So, we basically say, we now have paragraphs a, b, c, d, and we are inserting a few paragraphs that will replace a/b/c/d. We cannot name the new

[2021-03-16 19:28] #1718 closed, assigned to yihuax-zz, AbidRahman-MSFT

[2021-03-16 19:55] Alex0cean commented on #1722
Sudheer,
our expectation is that - like in Excel Online - the style of the new cells is not changing automatically, but stays as originally defined/defaulted. The automatic alignment is not straightforward and I do not understand the logic behind - some styles are changed, some not. Better to keep the original style and let the user change manually if needed.

Thanks,
Alex

[2021-03-16 20:28] handofthecode opened #1726 "Search strings within 255 character limit throws errors"
Search strings under the 255 character limit can throw errors if character escapes are used. It seems like 8 escaped characters is too many, and will throw an error. But using 7 can also cause issues if the search string is too close to the character limit of 255.

**Example**
[code]

One of the escaped characters must be removed to prevent the error.

**Avoid the error:**
`c[)][(]1[)][(]A[)][(]i[

[2021-03-16 22:16] exextoc commented on #1686
Other people have gotten it working. Personally I was able to get it working with the Manifest you provided (https://owa.zivver.com/v3/manifest.xml) me, and the "UmOutlookAddin.FormRegionAddin" Prog Id.

So it's curious that you weren't able to get it working with the UmOutlookAddin. At this point, I would verify that the Web Add-in GUID is in fact the same one you have in the registry. (You can c

[2021-03-16 23:00] ghost commented on #1691
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-16 23:00] #1691 closed, assigned to exextoc

[2021-03-16 23:43] exextoc commented on #1683
Thank you for providing additional build information. We are aware of another issue in win-32 that causes some pinned add-ins to take focus on compose. We have shared this information with the appropriate team, and it has been put on the backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 4387430

[2021-03-17 01:43] lumine2008 commented on #1722
Hi @Alex0cean, Thanks for your report. From the video, it looks like you observe this issue from UI directly. May I know whether you have called some JS APIs or not? if not, it seems it may not related to office-js issue.

[2021-03-17 03:19] xuxife commented on #1724
Hi @ndeeH , you can use "range.formulasLocal" to make the local number format work.

https://gist.github.com/xuxife/13fe46fbf4f44143e7e77c4cd40415bf
[code]

[2021-03-17 05:15] grangeryy commented on #1383
Adding @jeremy-msft to help.

[2021-03-17 05:18] #1426 closed, assigned to grangeryy

[2021-03-17 05:28] grangeryy commented on #605
Currently close this with no repro. Pls reopen when necessary.

[2021-03-17 05:28] #605 closed, assigned to grangeryy

[2021-03-17 05:31] grangeryy commented on #1410
@marami52 does this still repro for you?

[2021-03-17 05:32] grangeryy commented on #1464
@ivanosipov95 does this issue still repro for you?

[2021-03-17 05:39] lumine2008 commented on #108
You could use sheet.protection.protect to protect the sheet

[2021-03-17 05:41] lumine2008 commented on #233
it would be great if you share us the snippet for us to repro this issue. thanks a lot

[2021-03-17 05:44] safiness commented on #1145
@jpalo  - nope, but if it's outside the whitelisted domain in your manifest it should open in a new window outside excel.

For now, just living in dialogs.

[2021-03-17 05:51] jpalo commented on #1145
Turns out openBrowserWindow didn't work if I used it in Typescript file. Not sure why, probably related to webpack. After switching to vanilla Javascript, I was able to open new browser window just fine (via ribbon button command).

[2021-03-17 05:51] lumine2008 commented on #421
Hi @misaunde , do you still repro this issue?

[2021-03-17 05:52] safiness commented on #1145
Thanks - Great!

[2021-03-17 05:54] lumine2008 commented on #469
@3dot1four , please let us know if you can still repro this issue. thanks

[2021-03-17 05:55] #473 closed, assigned to lumine2008

[2021-03-17 05:55] lumine2008 commented on #473
Please reactivate if you still repro this issue

[2021-03-17 05:57] lumine2008 commented on #480
@ndreisg , would you please help confirm whether this issue still repro? thanks.

[2021-03-17 05:59] betheman commented on #108
Hi,

I already know this but the main issue is with the security of data. The
client does not want excel to open even in read-only mode.

On Wed, Mar 17, 2021 at 11:10 AM Raymond ***@***.***> wrote:

[2021-03-17 06:00] #551 closed, assigned to lumine2008

[2021-03-17 06:09] lumine2008 commented on #856
Current office js do not support turn off cell-edit mode. from your description, Win32 click save button not exiting cell edit mode is a bug 4216350 is logged to track this issue

[2021-03-17 06:12] #836 closed, assigned to lumine2008

[2021-03-17 06:12] lumine2008 commented on #836
Please reactivate this issue or open a new one if you still repro this issue

[2021-03-17 06:15] lumine2008 commented on #808
@vitalcode may i know whether this issue still repro for now?

[2021-03-17 06:16] lumine2008 commented on #744
This issue was fixed, would you please verify it?

[2021-03-17 06:16] #1068 closed, assigned to RuoyingLiang

[2021-03-17 06:16] #744 closed, assigned to lumine2008

[2021-03-17 06:16] RuoyingLiang commented on #1068
Use UserVoice to track new request.

[2021-03-17 06:18] RuoyingLiang commented on #1067
Glad to know it's resolved with shared runtime. The feature is already released.

[2021-03-17 06:18] #1067 closed, assigned to RuoyingLiang

[2021-03-17 06:20] #1058 closed, assigned to RuoyingLiang

[2021-03-17 06:20] #1041 closed, assigned to RuoyingLiang

[2021-03-17 06:24] RuoyingLiang commented on #957
Shared Runtime should support this scenario  [https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime](url)

[2021-03-17 06:24] #957 closed, assigned to lliu113, RuoyingLiang

[2021-03-17 06:25] #941 closed, assigned to RuoyingLiang

[2021-03-17 06:27] #934 closed, assigned to RuoyingLiang

[2021-03-17 06:29] lumine2008 commented on #743
Hi @jagadeeshkorikana , does delayForCellEdit help with your scenario?

[2021-03-17 06:31] lumine2008 commented on #792
Closing this issue, please reactivate or open a new issue if you still observe the issue.

[2021-03-17 06:31] #792 closed, assigned to lumine2008

[2021-03-17 06:31] RuoyingLiang commented on #891
@xiaochunms could you help to check if this issue still existing? if not, please close this item. Otherwise please open a bug. Thanks!

[2021-03-17 06:32] #885 closed, assigned to RuoyingLiang

[2021-03-17 06:32] lumine2008 commented on #741
Hi slowkoala , please let us know if you still repro this issue. thanks

[2021-03-17 06:32] grangeryy commented on #1685
@AlexJerabek more like IE issue for add-in, not only impact Custom Functions but also other APIs.

[2021-03-17 06:33] #884 closed, assigned to RuoyingLiang

[2021-03-17 06:33] lumine2008 commented on #740
This issue was fixed, would you please validate? thanks

[2021-03-17 06:33] #740 closed, assigned to lumine2008

[2021-03-17 06:34] #739 closed, assigned to lumine2008

[2021-03-17 06:34] #877 closed, assigned to RuoyingLiang

[2021-03-17 06:37] RuoyingLiang commented on #806
@lumine2008 could you help to triage if this is an issue and still existing?

[2021-03-17 06:37] lumine2008 commented on #735
we have just release preview version insertWorksheetFromBase64 for Excel Online, would you please try it? https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-preview-apis?view=excel-js-preview

[2021-03-17 06:37] #735 closed, assigned to lumine2008

[2021-03-17 06:38] RuoyingLiang commented on #769
This scenario is covered with Shared Runtime [https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime](url)

[2021-03-17 06:38] #769 closed, assigned to RuoyingLiang

[2021-03-17 06:41] xuxife commented on #1719
Thank you, this helps a lot. We cannot access your file since it's under your domain.
We've gone through that session's log, it looks like your Addin instance has some problem, is it a Taskpane Addin?
Can you repro this issue from other workbooks or after creating a new Addin instance?
Do you also encounter this error even running this code in ScriptLab?

[2021-03-17 06:43] lumine2008 commented on #656
@lliu113 , is seems related to UX areas, would you please take care of it, thanks.

[2021-03-17 06:44] lumine2008 commented on #570
This issue was fixed, please verify, thanks

[2021-03-17 06:44] #570 closed, assigned to lumine2008

[2021-03-17 06:47] RuoyingLiang commented on #710
Custom functions now can accept invalid input and return customized message

[2021-03-17 06:48] lumine2008 commented on #564
Hi @ndreisg , i am revisiting the issues, may i know if this issue still active? if yes, would you please share with me the gist/snippet? therefore we can do further investigation.

[2021-03-17 06:48] #710 closed, assigned to RuoyingLiang

[2021-03-17 06:49] lumine2008 commented on #552
@tiagoalves , as this is by design, would you please validate if the workaround provided by soorajhealthplotter can unblock your scenario?

[2021-03-17 06:49] RuoyingLiang commented on #706
The support is on the way :)

[2021-03-17 06:51] lumine2008 commented on #1227
Hi @sanjaygovindan, may i know if this issue can still repro in latest version? thanks

[2021-03-17 06:51] lumine2008 commented on #806
Yes, this bug still exist, we have a bug 4216350 for this issue.

[2021-03-17 06:53] #1226 closed, assigned to lumine2008

[2021-03-17 06:53] lumine2008 commented on #1226
Please re-activate if you still have question regarding to our workaround

[2021-03-17 06:53] RuoyingLiang commented on #562
Close this issue. Please reopen if you can still repro.

[2021-03-17 06:53] #562 closed, assigned to RuoyingLiang

[2021-03-17 06:55] #539 closed, assigned to lumine2008, RuoyingLiang

[2021-03-17 06:57] harri-rajala-koivu-solutions commented on #740
@lumine2008 What is the first Excel version that fixes this issue?

[2021-03-17 06:58] grangeryy commented on #1335
dup with 1383: https://github.com/OfficeDev/office-js/issues/1383

[2021-03-17 06:58] #1335 closed, assigned to grangeryy

[2021-03-17 06:59] lumine2008 commented on #1166
This bug was fixed, kindly verify

[2021-03-17 06:59] #1166 closed, assigned to lumine2008

[2021-03-17 06:59] grangeryy commented on #1396
@jeremy-msft  not sure if you know more about this.

[2021-03-17 07:01] lumine2008 commented on #1149
This issue was fixed, please verify, thanks

[2021-03-17 07:01] #1149 closed, assigned to lumine2008, MandytMSFT

[2021-03-17 07:02] RuoyingLiang commented on #539
Has work around so close this issue. @lumine2008, could you help to double check if the large data set has been supported in onChange event?

[2021-03-17 07:05] #1122 closed, assigned to lumine2008

[2021-03-17 07:05] #1110 closed, assigned to lumine2008

[2021-03-17 07:05] RuoyingLiang commented on #393
According to the dup stackoverflow item, The issue is resolved.

[2021-03-17 07:05] #393 closed, assigned to RuoyingLiang

[2021-03-17 07:06] lumine2008 commented on #1109
Hi @ElizabethSamuel-MSFT , as this is not Excel JS API area, so unassign myself

[2021-03-17 07:07] lumine2008 commented on #1103
Closing this bug, please re-open if you still repro this issue

[2021-03-17 07:07] #1103 closed, assigned to lumine2008

[2021-03-17 07:11] lumine2008 commented on #1011
This issue was fixed, kindly verify. thanks

[2021-03-17 07:11] #1011 closed, assigned to lumine2008

[2021-03-17 07:12] lumine2008 commented on #1007
If you still observe this issue, please reopen it, thanks

[2021-03-17 07:12] #1007 closed, assigned to lumine2008

[2021-03-17 07:14] lumine2008 commented on #931
The behavior is same as Excel online UI operation. Our API behavior should consistent with UI, so the issue should be by design

[2021-03-17 07:14] #931 closed, assigned to lumine2008

[2021-03-17 07:14] lumine2008 commented on #930
This issue was fixed, kindly verify. thanks

[2021-03-17 07:14] #930 closed, assigned to lumine2008

[2021-03-17 07:16] #920 closed, assigned to lumine2008

[2021-03-17 07:21] lumine2008 commented on #1590
@billcawley, does rundong's workaround work for you?

[2021-03-17 08:08] barisbikmaz commented on #744
Yeah looks good.

[2021-03-17 08:11] marwankhalili commented on #1613
Same issue here. `OfficeRuntime.auth.getAccessToken` and `Office.context.auth.getAccessTokenAsync` both seem to rely on third party cookies, probably a cookie from `login.microsoftonline.com`.

I haven't found a workaround yet that works with third party cookies disabled.

[2021-03-17 08:17] grangeryy commented on #585
Created a new feature for this: 4959644

[2021-03-17 08:20] Alex0cean commented on #1722
Hi @lumine2008 , no it is not related to office-js. Just pure UI ... but it came up as "bug" from our add-in testers.

[2021-03-17 08:23] lumine2008 commented on #1318
This issue was fix, would you please verify? thanks

[2021-03-17 08:23] #1318 closed, assigned to lumine2008

[2021-03-17 08:24] lumine2008 commented on #1329
This issue was fixed, please verify, thanks.

[2021-03-17 08:24] #1329 closed, assigned to lumine2008

[2021-03-17 08:25] lumine2008 commented on #1357
This issue was fixed, please verify, thanks

[2021-03-17 08:25] #1357 closed, assigned to lumine2008

[2021-03-17 08:26] lumine2008 commented on #1393
We learn from owner team that the behavior is by design. here are some advice from owner team:
a. Do virtual getrange calls to speed up the ranges retrieval
b. Display some notification the the user that the values from the script run aren't yet fetched

[2021-03-17 08:28] ndeeH commented on #1724
@xuxife Thank you for your tipp.

Our productive Add In does use the "old" way to insert a table via **setSelectedDataAsync()** - see Gist:
https://gist.github.com/ndeeH/e8b4e40a850b6ae48d6867c39bbbbbb6

**_Is it possible to force local format or formulasLocal this way?_**

We see at the same company (all computers use same os, same office version)
- on some computers the value formats inserted co

[2021-03-17 08:32] lumine2008 commented on #1562
This issue was fixed, please verify, thanks

[2021-03-17 08:32] #1562 closed, assigned to sumurthy, lumine2008

[2021-03-17 08:33] #1653 closed, assigned to lumine2008

[2021-03-17 08:34] #1407 closed, assigned to lumine2008

[2021-03-17 08:46] lumine2008 commented on #531
as this issue is not in Excel SJ API scope, so unassigning myself

[2021-03-17 08:49] lumine2008 commented on #1565
insertWorksheetsFromBase64 is now in preview for Excel online, would you please verify this API?
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-preview-apis?view=excel-js-preview

[2021-03-17 08:50] gaurav2493 opened #1727 "[SSO] With Restricted permissions, SSO is not working"
With permissions set to **Restricted**, SSO fails to work

## Expected Behavior
As per the [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/understanding-outlook-add-in-permissions), the permissions are only applied on the **document**, so SSO should work if permission is set to **Restricted**.
On setting the permission to **Read** or **ReadWrite,** it is working

## Cur

[2021-03-17 08:51] lumine2008 commented on #108
thanks, therefore i am closing this issue, please open a new issue or feature ask accordingly

[2021-03-17 08:51] #108 closed, assigned to lumine2008

[2021-03-17 08:52] ndeeH commented on #1724
Changed the issues description to our current real life problem with the officejs API in our productive Add In
Please restart triage if necessary!

[2021-03-17 08:56] lumine2008 commented on #815
converted to a feature ask 3811311

[2021-03-17 08:59] lumine2008 commented on #728
I just check the issue, it was close, so i am going to close, please open a new issue, if you still meet this issue

[2021-03-17 08:59] #728 closed, assigned to lumine2008

[2021-03-17 09:00] billcawley commented on #1590
Thank you for the workaround.     I found other methods to achieve my end, but it is useful to know that there might be a workaround.  However it does not seem to cover the case where the merged area does not start on the same row.  If the return is undefined, then it is not possible to ask for  properties.

[2021-03-17 09:00] #1590 closed, assigned to lumine2008

[2021-03-17 09:02] lumine2008 commented on #1025
Clean up, please reopen this issue, if you still observe this issue.

[2021-03-17 09:02] #1025 closed, assigned to lumine2008

[2021-03-17 09:03] lumine2008 commented on #919
This issue was fixed, please verify. thanks

[2021-03-17 09:03] #919 closed, assigned to lumine2008

[2021-03-17 09:05] lumine2008 commented on #1496
We just enable this API to run on Excel online, and now it is under preview. would you please verify, we will release if the quality is good.
**https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-preview-apis?view=excel-js-preview**

[2021-03-17 09:05] #1496 closed, assigned to lumine2008

[2021-03-17 09:07] lumine2008 commented on #1346
I am cleaning up the issues, please reopen if you still repro this issue.

[2021-03-17 09:07] #1346 closed, assigned to lumine2008

[2021-03-17 09:10] lumine2008 commented on #1463
This bug 4599725 was fixed, please verify

[2021-03-17 09:21] thulium3 commented on #1318
our code has changed since then, do not use document properties anymore. But I keep in mind that this should work now.

Thanks
Mark

[2021-03-17 09:23] lumine2008 commented on #465
This issue was fixed, Fixed Build: 16.0.11624.10000.

[2021-03-17 09:23] #465 closed, assigned to lumine2008

[2021-03-17 09:28] harri-rajala-koivu-solutions commented on #1675
@lumine2008 @qinliuMSFT Can you tell which Excel versions have this bug?

[2021-03-17 09:32] lumine2008 commented on #804
This is by design, would you please create a user voice for this issue.  https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563

[2021-03-17 09:35] #815 closed, assigned to lumine2008

[2021-03-17 09:36] lumine2008 commented on #907
VBA is running in Sync mode, but CF is running a Async mode, so i think VBA API cannot evaluate CF which is by design

[2021-03-17 09:37] exextoc commented on #1723
Hey @rickgoud,

We do not have an API to expand DLs through OfficeJS as of today. But you can use the Groups Graph API to help with your case.
The documentation for Graph API: https://docs.microsoft.com/en-us/graph/api/group-list?view=graph-rest-1.0&tabs=http

And these are the links on how to use Graph API in your application [with SSO](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/

[2021-03-17 09:42] exextoc commented on #1721
Hey @EugeneLazutin ,

While Categories API for adding categories to item is supported in Read Mode for both Outlook for Windows and Outlook for Web, the support in Compose Mode today is only limited to Outlook for Web. The documentation that you shared shows addAsync only for MasterCategories which is supported across platforms. You can request for using addAsync on item categories on our [uservoi

[2021-03-17 09:42] lumine2008 commented on #1404
Clean up issue, please re-open if you still have some questions, thanks

[2021-03-17 09:42] #1404 closed, assigned to lumine2008

[2021-03-17 09:43] lumine2008 commented on #1416
Closing, let's track by uservoice

[2021-03-17 09:43] #1416 closed, assigned to lumine2008

[2021-03-17 09:44] exextoc commented on #1707
Hey @vddgil ,

`appendOnSendAsync` is implemented only on Outlook for Web and Outlook for Windows as a part of the API set 1.9. API set 1.9 is not yet shipped for Outlook for Mac. You can find the specifications for which API set is supported across which client [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#outlook-client-support

[2021-03-17 09:45] lumine2008 commented on #1431
as this is a new feature request, so let me close this issue, and track in uservoice. thanks

[2021-03-17 09:45] #1431 closed, assigned to lumine2008

[2021-03-17 09:57] lumine2008 commented on #1157
@redcirkle could you kindly share us the scriptlab gist/snippet?  thanks

[2021-03-17 09:59] lumine2008 commented on #677
Let's use voice user to track the feature-related ask.
Could you please create a UserVoice, https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563 So I am closing this bug for now. thanks.

[2021-03-17 09:59] #677 closed, assigned to lumine2008

[2021-03-17 10:01] lumine2008 commented on #843
Would you please create a uservoice at https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563 and let's track the feature request at uservoice.

[2021-03-17 10:01] #843 closed, assigned to lumine2008

[2021-03-17 10:01] EugeneLazutin commented on #1721
Yes, I messed up with master categories. But documentation for [categories.addAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.categories?view=outlook-js-preview#addAsync_categories__options__callback_) also says it should work in Compose mode.
In the example above I do use Outlook for Web in chrome browser (correct if I'm wrong and Outlook for Web is something different).

[2021-03-17 10:04] lumine2008 commented on #1449
this issue was fixed, please validate, thanks

[2021-03-17 10:04] #1449 closed, assigned to lumine2008

[2021-03-17 10:07] lumine2008 commented on #609
Let's use voice user to track the feature-related ask.
Could you please create a UserVoice, https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563
So I am closing this bug for now. thanks.

[2021-03-17 10:08] #609 closed, assigned to lumine2008

[2021-03-17 10:10] exextoc commented on #1721
Hey @EugeneLazutin ,

I see the documentation does not accurately reflect the behaviour of the API and we're working to get it corrected. Thanks for pointing it out. Outlook on Web as of today does not support `item.categories.addAsync` for Compose mode in Outlook for Web (The one you used in the example above)

[2021-03-17 10:11] lumine2008 commented on #552
Please reopen the issue, if you still have additional questions. thanks

[2021-03-17 10:11] #552 closed, assigned to lumine2008

[2021-03-17 10:12] lumine2008 commented on #743
Please reopen this issue, if the workaround doesn't work for you

[2021-03-17 10:12] #743 closed, assigned to lumine2008

[2021-03-17 10:14] #804 closed, assigned to lumine2008

[2021-03-17 10:14] jkpieterse commented on #1011
I have tested the script and it now behaves as expected: The Workbook.Names collection only shows the global, workbook-level names, the Worksheets.Item[i].Names collection only shows the names local to the worksheet in question.
Bug fixed.

[2021-03-17 10:15] lumine2008 commented on #1273
Hi @kullachoke-bosuwan-rft , would you please share some more information to us? may i know the reason that you need to run in iframe? thanks

[2021-03-17 10:16] #1463 closed, assigned to lumine2008

[2021-03-17 10:18] lumine2008 commented on #1688
Yes, some Axie API doesnt work for iOS, A bug 4922579 was logged to track this issue.

[2021-03-17 10:20] tjcrowder commented on #804
Instead of "could you please create a uservoice" could you please **just do that**? It's a constant refrain from Microsoft and frankly unconstructive. People have already spent their time providing the feedback. Just because it's not in the arbitrary place you say you want it is not a reason to ask them to do it again.

[2021-03-17 10:20] lumine2008 commented on #1675
I think you may need to wait for a few more weeks, please check Excel build > 16.0.13908.20000 , thanks.

[2021-03-17 10:28] lumine2008 commented on #804
Sorry @tjcrowder, I was cleaning up the issues under my name.
Just had a second look, we do have a backlog item 3780438 to track this issue. I notice that you also created UserVoice already.  https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/40468168-make-working-with-invalid-bindings-easier

A workaround is : To use eventResult.remove(callback) to delete ev

[2021-03-17 10:34] lumine2008 commented on #1197
I have checked the bug status, it seems UI have the same behavior. so it looks a by design issue

[2021-03-17 10:40] lumine2008 commented on #1722
Got it, Thanks Alex

[2021-03-17 10:43] qinliuMSFT commented on #1675
Hi @harri-rajala-koivu-solutions , sorry for the delay reply.
As the fix (in build 16.0.13908.20000) still need some time to get deployed, we turned off the previous change that caused this bug, to unblock you firstly. I've confirmed that this issue is no longer repro in current Semi-Annual Channel (16.0.13127.21348) and Monthly Channel (16.0.13801.20294). Please help ensure you could also not rep

[2021-03-17 11:07] harri-rajala-koivu-solutions commented on #1675
@qinliuMSFT @lumine2008 Thanks!! I can confirm that I could not repro this issue anymore with the Excel version 16.0.13801.20294.

[2021-03-17 11:20] leybal opened #1728 "Can't copy formula if parameter using concatenating"
Hi
Our team work with custom formulas in online Excel. We notice an error when we trying copy whole spill formula. A formula's paramenter we crete via concatenating cell value with custom name from very hidden sheet and string. It's looks like this =FORMULA(cellName_FromVeriHiddenSheet & "string"). We can copy formula selecting first cell. But an error occurs when we select the entire range of the

[2021-03-17 12:09] elariccc opened #1729 "Windows Excel, errors with markerStyle, axes max and min, scaletype "logarithmic""
After Update Release 16.0.13721.35451 (#1640) we have errors with assigning to chart properties such as markerStyle, axes max and min, logarithmic type of chart.

## Expected Behavior

![image](https://user-images.githubusercontent.com/66617789/111463022-2d1d3180-8730-11eb-876d-fe8f450b1566.png)
![image](https://user-images.githubusercontent.com/66617789/111463203-5fc72a00-8730-11eb-83e9-665a93e5d

[2021-03-17 12:48] exextoc commented on #1716
Hey @SWei1234 ,

Are you seeing this issue in the New Outlook UI or the Old UI? Since this is an intermittent issue, it might take some time to narrow things down. Can you see if this issue exists in the [latest build of Outlook](https://docs.microsoft.com/en-us/officeupdates/update-history-office-for-mac) as well?

[2021-03-17 13:12] CristovaoTorres commented on #1700
Any news?

[2021-03-17 13:33] lumine2008 commented on #1675
let me close the issue

[2021-03-17 13:33] #1675 closed, assigned to lumine2008, qinliuMSFT

[2021-03-17 13:41] lumine2008 commented on #1017
We convert this bug as feature backlog

[2021-03-17 13:45] lumine2008 commented on #1153
it seems it is not an Excel JS API related issue, so let me loop shaofeng.

[2021-03-17 13:56] lumine2008 commented on #740
this issue was checked in Dec 2019, so SAC should have this fix. please re-open it if you still observe the issue. thanks

[2021-03-17 14:01] ndreisg commented on #1717
Because these settings should persist when the user opens the Add-In in another document.

That's exactly the point: The office-js API currently doesn't offer any way to do this. The suggested way to save settings in a global scope is "techniques provided by the underlying browser control" as you can see in the first link I posted. All these techniques have the same issue.

What exactly would you

[2021-03-17 14:43] popecode commented on #1719
It is a Taskpane addin that was created by the yo generator. It uses React, Redux, and TypeScript.
We can reproduce the issue with other workbooks.
We have not had the issue running it in Script lab so we do believe that there is an issue in the addin. We are looking for support on isolating the issues as we could be missing implicit requirements.

One thing that we think might be causing the prob

[2021-03-17 15:18] ndreisg commented on #564
Not reproducible any longer

[2021-03-17 15:18] #564 closed, assigned to lumine2008

[2021-03-17 15:32] ElizabethSamuel-MSFT commented on #1109
@mattgeim Can you help direct this issue to an appropriate owner? Thx.

[2021-03-17 15:32] ndreisg commented on #480
Unfortunately I don't have the VM with the old MSI installation anymore.
I will try to setup a new system as soon as I find the time and will come back to you once I got results.

[2021-03-17 16:53] cawise commented on #804
@lumine2008, could you elaborate on this workaround? I am not currently using events. It looks like your proposed workaround would remove an event but not the binding itself, so I'm not sure how it's relevant to this situation.

[2021-03-17 16:56] jamestm27 commented on #609
Thanks for letting me know, we were using the bug below to track:

https://office.visualstudio.com/OC/_workitems/edit/3480572/?triage=true

From: Raymond ***@***.***>
Sent: Wednesday, March 17, 2021 3:09 AM
To: OfficeDev/office-js ***@***.***>
Cc: James Marshall ***@***.***>; Author ***@***.***>
Subject: Re: [OfficeDev/office-js] ChartFill (#609)

Closed #609<https://nam06.safelinks.protection.out

[2021-03-17 20:08] lindalu-MSFT commented on #1723
Closing because question has been answered. Please reactivate if you need further assistance! Thanks, linda

[2021-03-17 20:08] #1723 closed, assigned to exextoc

[2021-03-17 21:19] popecode commented on #1719
Update:

it fails when we call it from within the context of the custom functions in a shared context.
it works when we call it from within our react components.

[2021-03-17 21:37] keyur32 commented on #869
Closing this out as this has been fixed now. Excel for web should have consistent behavior with Desktop now.

[2021-03-17 21:37] #869 closed, assigned to keyur32

[2021-03-17 21:40] keyur32 commented on #1175
Hi there, sorry for the delay. In Excel, you can use this to configure a shared runtime: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime.

You can then configure your add-in to handle open/close events: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/show-hide-add-in

[2021-03-17 21:40] #1175 closed, assigned to keyur32, JuaneloJuanelo, smaremanda

[2021-03-17 21:41] keyur32 commented on #1175
Note: it is currently only available in Excel. It is available on PowerPoint in Preview, and not yet available in Word (but is the plan to add support for all hosts).

[2021-03-17 21:44] keyur32 commented on #1422
hi @vikasm1720, checking back to see if you had have a chance to add a sample repro of above so we can help investigate?

[2021-03-17 21:45] keyur32 commented on #1690
Assigned to @lumine2008, so we can follow up offline to confirm if this has been fixed or is still an issue with the customer.

[2021-03-17 21:51] keyur32 commented on #1685
hi @paulfrench,  @lumine2008  can confirm our API behavior but I wonder if there is some part of the polyfill code that is still running, which is preventing Excel from knowing the operation is done.  Likewise, I'd suggest looking at suspend screen updating section here (and ensure if you are calling that, you are avoiding calling that in a loop):
https://docs.microsoft.com/en-us/office/dev/add-in

[2021-03-17 21:52] jeremy-msft commented on #1396
Adding @madhavagrawal17 per related issue #1568

[2021-03-17 21:55] els-ts opened #1730 "`performance.getEntriesByType is not a function` thrown from `sendPerformanceTelemetry` in Word for Mac"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our New Relic tool reports that the given error has been thrown within our application from Word library:
[code]

Unfortunately I cannot provide more details as this error has been ca

[2021-03-17 21:57] jeremy-msft commented on #1383
Thanks for reporting this issue.  We're currently investigating and will let you know once we have more information.

[2021-03-17 22:50] yanli0303 opened #1731 "Incorrect value returned by `Office.context.displayLanguage`"
On macOS 11.2.2 (Big Sur), Outlook Desktop application, the `Office.context.displayLanguage` returns incorrect value.

## Expected Behavior

`Office.context.displayLanguage` should returns `zh-CN` when the macOS language is set to `zh-CN`.

## Current Behavior

`Office.context.displayLanguage` returns `en-US` when the macOS language is set to `zh-CN`.

## Steps to Reproduce, or Live Example

- Set

[2021-03-18 00:01] marami52 commented on #1410
no. I close the issue. Thank you.

[2021-03-18 00:01] #1410 closed, assigned to grangeryy

[2021-03-18 00:26] avisheknand commented on #1442
Hi,

I am also having similar issue with Outlook addin ItemSend addin where SaveAync does not save the changes on the item. We are saving the appointment using SaveAsync method and from the call back we get the ItemID .

The  ItemID is used to convertToRestId so we can use the id in ms graphs to query for the appointment item and check the contents of it. However, if we cancel the sending of appoi

[2021-03-18 01:27] jeremy-msft commented on #1383
@suresh-anumolu, @CristovaoTorres -- we were unable to repro this problem.  Full CORS is working fine on our end.   Can you please reverify that you have configured shared runtime correctly?  A simple test would be to ensure you can share a variable between a custom function and task pane.  If that's working, would you be able to share a sample manifest that repros this issue?

[2021-03-18 02:16] grangeryy commented on #706
Feature：4664778

[2021-03-18 02:22] Rick-Kirkham commented on #1731
The Mac OS language is not what determines these values. They are determined by the Office language settings in  File > Options > Language in the Office host application. See this documentation page: [Office.context](https://docs.microsoft.com/en-us/javascript/api/office/office.context?view=common-js#displayLanguage)

[2021-03-18 02:22] grangeryy commented on #1669
We are investigating into this one and will update the finding later. Thx!

[2021-03-18 02:24] grangeryy commented on #1464
Close this without repro. Please feel free to reopen it once the issue shows up again. Thx!

[2021-03-18 02:24] #1464 closed, assigned to grangeryy

[2021-03-18 05:30] hello-chenchen opened #1732 "Outlook: forMSGraphAccess not work for OfficeRuntime.auth.getAccessToken api"
when i execute this demo code in Outlook add-in:
[code]
i can get jwt token success.
But in fact, my app was not granted by admin.
when i try to use this jwt token to get access_token, by call this api:
[code]
i get an error for not granted.
[code]

[2021-03-18 07:52] exextoc commented on #1725
Hey, unfortunately, we are not able to reproduce this issue at our end on a Machine running Mac OS running Chrome. Can you please verify if your issue is reproducible on a Windows PC or Mac running any of the standard browsers?

We are able to see the xls attachment successfully be fetched using the code you shared:

<img width="448" alt="Screenshot 2021-03-18 at 1 18 21 PM" src="https://user-imag

[2021-03-18 07:54] xuxife commented on #674
@RoelVB , do you still block on this problem?

[2021-03-18 08:00] exextoc commented on #1725
Hey,

Unfortunately, we are unable to reproduce the issue with the code you shared on Outlook for Web on MacOS. Can you please confirm if this issue is specific to Ubuntu running Chromium or do you see this issue on Browsers running in a Windows PC or a Mac as well? Is there any administrator policies blocking XML attachments for you? (this will prevent you from downloading an XML attachment by cl

[2021-03-18 08:06] xuxife commented on #1724
Sorry, we don't have a feature like "force German format" currently.
**setSelectedDataAsync** is supposed to work with local number format setting.
Number format has a separate setting both in Windows and Excel:

For Win, Control Panel - Clock and Region - Change date, time, or number formats - Additional settings...
![image](https://user-images.githubusercontent.com/28257575/111592211-71c5cd00-88

[2021-03-18 08:50] qinliuMSFT commented on #1728
Hi @leybal , thanks for reporting this issue. To make myself more clearly, could you please answer the following questions:
1. Does it also repro in Desktop Excel?
2. Does it also repro if the formula's parameter from visible sheet or hidden sheet? or this issue only repro when formula's parameter from very hidden sheet?
3. I written a sample custom functions/formula like below, is it correct? if

[2021-03-18 09:14] xuxife commented on #1719
Can you provide a sample Addin? I've tried yo-generating an Addin followed your description but cannot repro this error.
A file or sample Addin that can repro the problem will help us a lot! Thank you!

[2021-03-18 10:57] vddgil commented on #1707
Hello @exextoc,

You are right, but it was not working on windows either.
But found in the docs that that there is a 5000 character limit, for those who are wondering ;)

[2021-03-18 10:57] #1707 closed, assigned to nobody

[2021-03-18 11:16] vddgil opened #1733 "Event based feature working on outlook.com but not outlook windows"
I'm trying to implement an event-based feature to automatically insert a signature.
It's working on outlook web but not on outlook windows (Same office 365 account)

## Expected Behavior
It should work on outlook windows

## Current Behavior
It's not working on outlook windows

## Your Environment
* Platform : PC
* Host :Outlook
* Office version number: Outlook 16.0.13801.20240
* Operating System:

[2021-03-18 11:22] Premsagar-lab commented on #1673
@exextoc Any updates on this?

[2021-03-18 11:30] #1669 closed, assigned to grangeryy

[2021-03-18 11:31] CristovaoTorres commented on #1669
@grangeryy
Give preference to https://github.com/OfficeDev/office-js/issues/1700

[2021-03-18 13:39] jlevenssfdc commented on #1725
No one has explicitly set any download rules that I know of, how/where would that be confirmed?  I just tested in Firefox on Ubuntu, Edge Chromium on Windows, Safari/Chrome on Mac with the same result.  Are you using a different version of OfficeJS maybe?  I notice yours has a _.debug.js_ suffix, where mine, loaded from the cdn does not.

If you want, you might have an old email from me with a log

[2021-03-18 13:57] wsoccorsi-yw commented on #1660
Hello! Following up, we are still trying to get a user to hop on a call with us and reproduce this issue to grab this info. As of right now I've found another example of this, where the user has the src tag changed but its not pointing to `image001.png`. I thought it might be interesting and give you another thread to pull on:
[code]
Edit:
It turns out this user is on Mac OWA which is even strange

[2021-03-18 13:58] yanli0303 commented on #1731
@Rick-Kirkham

- On macOS Outlook Desktop Application, File > Options > Language isn't available (I can't find any settings in the Preferences that are related to language).
- I can't reproduce this issue on newer macOS with Big Sur v11.2.3 and older macOS with Mojave v10.14.2. **Per my testing, the Mac OS language is indeed what determines the value of `Office.context.displayLanguage`.**
- I can

[2021-03-18 17:29] madhavagrawal17 commented on #1568
@cghaddar, The crash has been fixed and the fix will be available on March's monthly release. Adding @xiaochunms for further tracking.

[2021-03-18 17:45] ndeeH commented on #1724
Hi @xuxife ,
we double checked those settings and it seems that your statement is not valid for some office versions:

Some office versions do not use the given local number format and change the values.
I will send you the version number as soon as I get it from the customer.
Is it possible that you look if there have been changes in that region?
TIA, Andi

[2021-03-18 20:08] nikhilism15 commented on #1710
Hey Krishna, I cannot read German but can you please explain the error in English? It doesn't look like the win32 file is not found, it looks like there is some error within? Can you please clarify?

[2021-03-18 20:39] popecode commented on #1719
Hi it seems to be an issue when you're calling Excel.run() from within a custom function invocation within a shared runtime environment.  That's what I found out and is the most accurate way to reproduce. I'm not sure I can provide an example as it is commercially sensitive. But if can ask if you think it's necessary

[2021-03-18 21:12] lindalu-MSFT commented on #1026
Closing, issue is fixed. Please reactivate if you need further assistance! Thanks, linda

[2021-03-18 21:12] #1026 closed, assigned to exextoc

[2021-03-18 21:25] lindalu-MSFT commented on #1622
@lumine2008 Hi Raymond, for some reason this issue never got triaged. @jnSWPC Apologies for the late reply, I'm not sure what happened here! Please let us know if you're still experiencing this issue. Otherwise, feel free to close.

[2021-03-18 21:32] lindalu-MSFT commented on #1678
Hi, we can't share a specific schedule here but you can join the Insiders program. Then you'll be able to not only get preview info, but more details regarding the roll-out. [Microsoft Insiders](https://insider.microsoft.com/)

[2021-03-18 21:32] #1678 closed, assigned to nobody

[2021-03-18 21:36] lindalu-MSFT commented on #1696
Not sure if this has to do with deployment or browser. @jeremy-msft @keyur32 Can we find the right person to route this issue to?

[2021-03-18 21:43] lindalu-MSFT commented on #1715
@JuaneloJuanelo Is this something we can create a bug for and put on the backlog? Or is this not actionable/won't fix?

[2021-03-18 21:48] lindalu-MSFT commented on #1729
@lumine2008 Seems to me there are other issues with Chart objects. Is this a dupe of another issue that's in the backlog?

[2021-03-18 21:53] lindalu-MSFT commented on #1687
@mattgeim @jeremy-msft @lumine2008 Do we need any more information from the customer to investigate? This issue needs attention. Thanks, linda

[2021-03-18 21:55] lindalu-MSFT commented on #887
@ravikmrsingh8 Closing due to the issue is stale. If you still further assistance, please click the New Issue button and create a new issue. Please fill out all areas including steps to repro, environment, logs, etc. so we can triage. Thanks, linda

[2021-03-18 21:55] #887 closed, assigned to shreedhart

[2021-03-18 21:59] lindalu-MSFT commented on #883
@MandytMSFT Can you confirm if this has been fixed or is it still in the backlog?

[2021-03-18 22:02] lindalu-MSFT commented on #886
@sureshjoshi Is this still causing issues with your add-in?

[2021-03-18 22:06] jeremy-msft commented on #1687
Assigning over to @mattgeim

[2021-03-18 22:25] lindalu-MSFT commented on #269
@dgrudenic in Zagreb! Greetings, can you verify this has been fixed in the latest Office build?

[2021-03-18 22:27] lindalu-MSFT commented on #1575
@AbidRahman-MSFT Somehow, this issue did not get an assignee and got overlooked. Can you please help triage and assign the correct person to follow up with Vinod? Thanks, linda

[2021-03-18 22:30] lindalu-MSFT commented on #1542
Related to https://github.com/OfficeDev/office-js/issues/1567.

[2021-03-18 22:31] lindalu-MSFT commented on #1567
Closing due to issue is by design/has workaround. If further assistance is needed, please reactive! Thanks, linda

[2021-03-18 22:31] #1567 closed, assigned to nobody

[2021-03-18 22:32] lindalu-MSFT commented on #1574
Closing issue, not related to office-js.

[2021-03-18 22:32] #1574 closed, assigned to nobody

[2021-03-18 22:34] lindalu-MSFT commented on #305
Closing due to not actionable and no recent activity. Thanks, linda

[2021-03-18 22:34] #305 closed, assigned to nobody

[2021-03-18 22:37] lindalu-MSFT commented on #1406
@ssoni2074 Are you still experiencing this issue? I noticed that there's no recent activity on this issue. Please let us know if you need further assistance. Feel free to reopen this issue. For us to triage your problem, we need as much info as you can provide:
Steps to repro, environment, links to your add-in, logs, etc.

[2021-03-18 22:37] #1406 closed, assigned to nobody

[2021-03-18 22:44] lindalu-MSFT commented on #1584
Closing issue due to it's a programming question. @vinodifour if you still need help, we have a new forum for office-js questions: [Microsoft Q+A (tagged office-js-dev)](https://docs.microsoft.com/en-us/answers/questions/topics/single/192525.html).

[2021-03-18 22:44] #1584 closed, assigned to nobody

[2021-03-18 23:08] lindalu-MSFT commented on #1532
@ulonsjo Sorry this has taken us so long to track down someone to help with this issue. Have you resolved the issue yourself or should I leave this issue open? Maybe we can find someone on the graph side to help.

[2021-03-18 23:11] lindalu-MSFT commented on #1539
@prateek9us Is there an update on this? Are you the Visio PM? We have a couple other Visio issues in this repo that haven't had any recent activity.

[2021-03-18 23:13] lindalu-MSFT commented on #1408
@smaremanda Somehow this didn't get assigned so it's been overlooked. Can you answer this? The question is if there are any plans to support Shared Runtime in Edge in the coming release. Thanks, linda

[2021-03-18 23:15] jlevenssfdc commented on #1725
@lindalu-MSFT What additional feedback should I provide?  Thanks!

[2021-03-18 23:20] lindalu-MSFT commented on #151
@JuaneloJuanelo Can you verify if this has been fixed? If so, please change status from "Status: in backlog" to "Status: fixed" and close. I'm chasing down older issues that are still open. Thanks, linda

[2021-03-18 23:31] davidchesnut commented on #1542
Hi @leybal,

Yes the same steps would be taken with the add-in from the store.

You can view the settings by exploring the XML when you save the file. For example, if you save a file named test.xlsx, change the file extension to test.zip. Then you can use File Explorer to browse into the XML sections of the document. The settings are saved in the **webextensions** folder of the XML. If you save a

[2021-03-18 23:31] #1542 closed, assigned to davidchesnut, jeremy-msft

[2021-03-18 23:32] lindalu-MSFT commented on #512
According to bug, this has been fixed. Closing issue.

[2021-03-18 23:32] #512 closed, assigned to nobody

[2021-03-18 23:33] lindalu-MSFT commented on #476
@lliu113 Do we have a bug to track this internally?

[2021-03-18 23:37] lindalu-MSFT commented on #356
@sumurthy Is there a bug number where we are tracking this internally?

[2021-03-18 23:43] lindalu-MSFT commented on #395
@macOutlookExtensibility  Do we have an internal bug number to track this issue?

[2021-03-18 23:47] jnSWPC commented on #1622
This is still an issue
Thanks 

Sent from Yahoo Mail on Android

  On Thu, Mar 18, 2021 at 4:25 PM, Linda Lu ***@***.***> wrote:

@lumine2008 Hi Raymond, for some reason this issue never got triaged. @jnSWPC Apologies for the late reply, I'm not sure what happened here! Please let us know if you're still experiencing this issue. Otherwise, feel free to close.

—
You are receiving this because you

[2021-03-18 23:58] lindalu-MSFT commented on #1622
@jnSWPC OK we will triage it and see what we can do to help.

[2021-03-19 00:09] lindalu-MSFT commented on #542
According to bug, this is Won't Fix since it should be fixed by React upgrade. Please let us know if you're still experiencing the issue. Otherwise, closing bug.

[2021-03-19 00:09] #542 closed, assigned to nobody

[2021-03-19 00:15] lindalu-MSFT commented on #681
@catchingyu Is this still in the backlog or can this issue be closed as won't fix? Asking because it's been flagged as no recent activity. Thanks, linda

[2021-03-19 00:32] lindalu-MSFT commented on #714
@exextoc Is this still in the backlog or has it been fixed? Is there an internal bug number for tracking? Thanks, linda

[2021-03-19 00:35] lindalu-MSFT commented on #916
I just checked the internal bug and it is still in the backlog, FYI. No update.

[2021-03-19 00:39] lindalu-MSFT commented on #838
@AbidRahman-MSFT Is there an internal bug tracking this?

[2021-03-19 01:28] xuxife commented on #1724
Try to input the number from UI to check if the locale number format setting works.
If setSelectedDataAsync didn't behave like UI in some version, it should be a bug.

[2021-03-19 03:05] SWei1234 commented on #1716
Hi @exextoc
We met this problem on Old UI.
I will try update Outlook to latest version and see if this problem still exist.
Thanks for you reply.

[2021-03-19 03:39] xiaochunms commented on #1700
@CristovaoTorres sorry for the late response as I am busy working on other things recently. I compiled your project and executed "npm start" to launch excel, the add-in can be installed successfully at my side. However I noticed the add-in name is AddinJavaScript, which is different from the one (Vcm1xExcel) you were installed. I am not sure if they are the same one.

![image](https://user-images.

[2021-03-19 05:26] wwy94621 commented on #1166
got it, thanks!

[2021-03-19 08:00] xuxife commented on #1719
Did you mean [Call Excel JavaScript APIs from a custom function](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function) within a shared runtime add-in like ([Configure your Office Add-in to use a shared JavaScript runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime))?
I've created an internal bu

[2021-03-19 09:22] paulfrench commented on #1685
I do not suspend screen updating. The key for me is the fact that I do not require a promise polyfill when I run the addin in an Excel environment. If I try to view my addin in a browser (just as a webapp) it will not load due to Promise not being defined.

If I include es6.promise polyfill everything works fine in all environments apart from desktop Excel. If I do not include it, everything works

[2021-03-19 09:26] thanakrid-kunghair-rft opened #1734 "Streaming functions in Excel desktop(Windows10/Mac) won't recalculate after execute `range.calculate()`"
Hi!
Currently, I'm working on changing my project's custom functions in to streaming, but I found that when I use a refresh button, which my team implement with `range.calculate()`, the streaming function at the giving range won't show #BUSY. However, I tried using `range.calculate()` against a normal custom function, and it recalculated.
Another thing is I can use `range.calculate()` to recalcula

[2021-03-19 09:50] exextoc commented on #1666
Hey @ngelsi ,

Needed a quick check from you. Are you seeing this issue on the new Outlook for Mac UI or the Old Outlook for Mac UI?

[2021-03-19 09:53] ngelsi commented on #1666
@exextoc Currently we are testing on the old Mac UI. The new Mac UI has even more show stopping bugs so we are currently recommending the old Mac UI to the customers for the time being.

[2021-03-19 09:58] hamouzj opened #1735 "onSingleClicked event is fired only when mouse doesn't move while clicking"
If mouse moves just a little within one cell, it is not taken as a click but just as a selection.

## Expected Behavior
There should be a little shift of mouse position allowed while clicking.

## Current Behavior
Currently if the click down and up positions are not exactly the same, the click event is not fired.

## Context
We need to receive click events when user clicks quickly on cells. The fa

[2021-03-19 10:21] lumine2008 commented on #1729
it seems i cannot repro this issue, could you please share your gist? i have tried on this version.

![image](https://user-images.githubusercontent.com/26398035/111765898-deae9500-88df-11eb-85e4-d74dd8650505.png)

[2021-03-19 10:26] anuragjaiswal18 opened #1736 "Teams meeting feature does not save in OWA if outlook Add-in App save custom property(extended property) using office.js"
Hi,
Teams meeting feature does not save in appointment in OWA if outlook Add-in App save custom property(extended property) using Office.js , but if custom properties are saved using Office.js and later add Teams meeting  in appointment , it works and save Teams meeting data.
This works fine in case of native Outlook client.

## Expected Behavior
Teams meeting option should be saved if user has se

[2021-03-19 11:04] els-ts commented on #1521
@AbidRahman-MSFT - as far as I understand, the current release has the version number `13903.10000`, which should include the fix, however we are still seeing this problem in our reports.

Is this just the case that it haven't been yet released to all users or there's some more calls to this API in your code?

[2021-03-19 11:57] exextoc commented on #1732
Hey @hello-chenchen ,

Can you please tell us which Outlook platform (Windows/Mac/Web) you're seeing this issue in and what is the build number you're on?

[2021-03-19 12:31] exextoc commented on #714
Hey @lindalu-MSFT , This issue has been verified as fixed and the fix should be completely rolled out. @MennoAret , Can you confirm that you see the issue fixed on the latest version of Outlook for Mac?

[2021-03-19 13:11] MartinSSeifert commented on #1488
@BEPLA99 have you been able to resolve this issue? Was Microsoft Support helpful? We have another customer that is most likely experiencing the same issues (also in Germany). If Microsoft Support could not help so far, it might be helpful to have a second environment to figure out the issue. Any feedback would be highly appreciated. Thx.

[2021-03-19 13:14] exextoc commented on #1673
Hey @Premsagar-lab ,

Apologies for the delay. I am able to reproduce this issue across clients. It seems like the UpdateItem call is not working even from a Taskpane add-in. We are investigating this issue to see if this scenario is supported and if there are any workarounds for it.

[2021-03-19 14:24] gingerjia commented on #1685
@paulfrench, let me clarify your issue first:
1.	Exclude ‘es.promise’ polyfill in his Add-in code:
a.	Add-in cannot render as a simple pure webapp in IE11 -> it’s expected since exclude the ‘es.promise’ polyfill;
b.	Add-in can render and work as expected in Excel environment (start the Add-in and click cells, you will see the cell clicked is reported in the taskpane) -> do it mean a polyfill has b

[2021-03-19 14:24] BEPLA99 commented on #1488
Hi Martin,

For us it could only be solved when we delete the entry for user profile in active directory. Then we deleted the user-profile on the laptop / pc.
We no longer choose roaming profiles stored on a local server. Since then everything works fine.

Instead of the deprecated roaming profile we use OneDrive for the Desktop, Documents and Pictures. The browser Edge Chromium helps to get the b

[2021-03-19 14:31] cghaddar commented on #1568
@madhavagrawal17, @xiaochunms,  I updated to Version 2102 Build 13801.20360 (latest but not sure if this the intended March's release) but unfortunately the crash continues to happen.  I captured the core dump again in case it helps.
If this is not the correct build, please post the build number which will contain the fix.

![build](https://user-images.githubusercontent.com/67807626/111795024-34ae

[2021-03-19 14:44] agelenava opened #1737 "Outlook REST API call ends with 403 response code when auth with callback token from OfficeJs on Android"
## Expected Behavior
Callback Token works fine as it was before.

## Current Behavior
On modern versions of Microsoft Outlook on Android, the callback token is invalid and REST API request ends with 403 if using the token to auth.

## Steps to Reproduce, or Live Example
- use o365 account;
- on Android with MS Outlook version 4.2108.3 (32108814) or 4.2109.2 (32109815) сall OfficeJs `getCallbackTok

[2021-03-19 17:18] paulfrench commented on #1685
You are correct.

It's worth noting that for "2.a" a few clicks may work, but then the taskpane stops responding to the clicks until you hover over it.

[2021-03-19 17:54] lindalu-MSFT commented on #1727
@JuaneloJuanelo @mattgeim Hi Juan, Hi Matt... as this is related to SSO, I am reassigning to you to triage. Thanks for your help! linda

[2021-03-19 18:01] lindalu-MSFT commented on #1622
@jeremy-msft Hi Jeremy, as this is regarding shared runtime, I am reassigning to you to triage. Thanks for your help! linda

[2021-03-19 18:07] jeremy-msft commented on #1622
@TCourtneyOwen, could you please help with this VS debugging issue?

[2021-03-19 20:11] exextoc commented on #1646
Thank you for the information. We have identified this issue as a client bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 4961334

[2021-03-19 20:15] AbidRahman-MSFT commented on #1726
Hey @handofthecode,

Thanks for reporting the issue.

This is a limitation of Word. Unfortunately, there's nothing we can do from an API perspective to change this behavior. You will notice that when using the Find and Replace UI for Word, you will get a similar error when using the search string provided. Therefore I am going to resolve this as By Design.

![image](https://user-images.githubuserc

[2021-03-19 20:15] #1726 closed, assigned to RuoyingLiang, AbidRahman-MSFT

[2021-03-19 20:19] AbidRahman-MSFT commented on #1671
Hey @AlexanderSokolov1,

We do have plans on bringing shared runtime for Word within the next 6 months. Please keep an eye on the O365 Add-in [blogs](https://developer.microsoft.com/en-us/office/blogs/technology/add-ins/) for an update when it is ready for developers.

Thanks,
Abid

[2021-03-19 20:19] #1671 closed, assigned to davidchesnut

[2021-03-19 21:19] lliu113 commented on #1278
@ppagadala - Unfortunately I'm still unable to repro this on Excel, using Chrome. I tried with the Scriptlab add-in, double-clicking the 'Code' ribbon button launches a single taskpane. Additional clicks refresh the taskpane.

I'm going to close this issue for now, please reactivate if you're still seeing this. If you can provide another manifest to help us test that would be extremely helpful. Th

[2021-03-19 21:24] lliu113 commented on #456
@jglodde - I'm going to close this issue now for. Please reactivate if you're still encountering this - thanks!

[2021-03-19 21:24] #456 closed, assigned to lliu113

[2021-03-19 21:31] AbidRahman-MSFT commented on #838
We are internally tracking this request with #3810520. There is no ETA for this at the moment.

[2021-03-19 22:07] AbidRahman-MSFT commented on #1575
Hey Vinod,

We need more detailed information to help you here. Are you running across errors? What is preventing the add-in from running? Does the add-in run but has errors? Are you able to side load the add-in? What is the actual issue?

Also, as it stopped working after updating your angular version, this seems to be an issue with angular and not office js.
I'm going to close the issue, please

[2021-03-19 22:07] #1575 closed, assigned to AbidRahman-MSFT

[2021-03-19 22:31] AbidRahman-MSFT commented on #838
@ndeeH , are you still having this issue?

[2021-03-19 22:50] exextoc commented on #1733
Could you describe your scenario you are trying to achieve?

Are you seeing any errors in the console? What behavior are you seeing (ie signature API not called at all, signature API called but not adding any data, callback not reached, API adding incorrect data)?

[2021-03-20 00:00] ghost commented on #1694
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-20 00:00] ghost commented on #1692
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-20 02:21] gingerjia commented on #1685
Thanks @paulfrench for your confirm! I will let you know when have progress!

[2021-03-20 06:58] ic3guy opened #1738 "From Excel Office.js Add In, Desktop App Web Viewer will not retrieve saved credentials"
My add-in makes an iframe call to another server, which causes a windows security box to appear and ask for credentials. I enter the credentials (I can see they are saved in credential manager) and the call succeeds. If I restart the add-in, the windows security box pops up again for my credentials.

## Expected Behavior

Desktop App Web Viewer should have access to saved Credentials.

## Current

[2021-03-20 13:23] lumine2008 commented on #233
I'm going to close this issue for now, please reactivate if you're still seeing this. If you can provide us the snippet or gistto help us test that would be extremely helpful. Thanks!

[2021-03-20 13:23] #233 closed, assigned to lumine2008

[2021-03-20 13:24] lumine2008 commented on #741
I'm going to close this issue for now, please reactivate if you're still seeing this. IThanks!

[2021-03-20 13:24] #741 closed, assigned to lumine2008

[2021-03-20 13:25] lumine2008 commented on #421
I'm going to close this issue for now, please reactivate if you're still seeing this.

[2021-03-20 13:25] #421 closed, assigned to lumine2008

[2021-03-20 13:26] lumine2008 commented on #469
I'm going to close this issue for now, please reactivate if you're still seeing this. If you can provide snippet/gist to help us test that would be extremely helpful. Thanks!

[2021-03-20 13:26] #469 closed, assigned to lumine2008

[2021-03-20 13:28] lumine2008 commented on #808
I'm going to close this issue for now, please reactivate if you're still seeing this. If you can provide snippet/gist to help us test that would be extremely helpful. Thanks

[2021-03-20 13:28] #808 closed, assigned to lumine2008

[2021-03-20 18:24] sureshjoshi commented on #886
Hi @lindalu-MSFT

I'll take a look on my next deployment and test it out again. I've just been avoiding Office Online for a while. Was there any code implemented to this end?

[2021-03-21 00:00] ghost commented on #1686
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-21 15:10] ndeeH commented on #838
Hi @AbidRahman-MSFT ,
I wanted to re-check this issue. At the moment the authentication flow does not work anymore - we get a message "Too many redirects" in Chrome and Edge. It seems that MS or Google has changed the behavior of redirects in a window.
This completely breaks our authentication! Do you know anything about this?
Normal authentification flows only work by several redirects!
In Firefo

[2021-03-21 17:38] exextoc commented on #1146
Hey @GrumpyAL ,

It should not be possible to access the /me API for a different mailbox. Is it possible for you to share a fiddler trace for this repro, and we can have a look?

You can share the trace at this email ID: admin@M365x010952.onmicrosoft.com

[2021-03-21 17:49] exextoc commented on #1442
Hey @avisheknand ,

Unfortunately this item is still on our backlog and we have no timelines to share.

[2021-03-21 18:20] exextoc commented on #1725
Hey @jlevenssfdc ,

Can you share your Manifest for the Outlook add-in (or a test account credential, which would be even more helpful) where you can reproduce this issue, either here or at admin@M365x010952.onmicrosoft.com? We'll take a look.

[2021-03-21 18:24] exextoc commented on #1731
Hey @yanli0303 ,

Are you seeing this issue in the New Outlook for Mac, or the Old Outlook for Mac?

[2021-03-21 19:26] exextoc commented on #1736
Hey @anuragjaiswal18 ,

Thank you for reporting this issue,. We are able to reproduce this issue and have added it to our backlog. However, we have no timelines to share at this point.

[2021-03-22 00:00] ghost commented on #1422
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-22 04:37] exextoc commented on #1355
Hey @ydock1 ,

This issue has now been fixed. Please do have a look from your side and confirm the same. Please reactivate this thread again if you still see the issue.

[2021-03-22 04:38] #1355 closed, assigned to exextoc

[2021-03-22 05:03] grangeryy commented on #1383
Close this with no repro. Please feel free to reopen it once the issue happens again. Thx!

[2021-03-22 05:03] #1383 closed, assigned to grangeryy, jeremy-msft

[2021-03-22 07:29] clavx opened #1739 "Outlook on the web: Deleted attachment is restored when sending email"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When sending an email using OWA, the attachment is restored and sent.

## Expected Behavior

The attachment list can be obtained correctly.

## Current Behavior

The file is supposed

[2021-03-22 08:33] nikhilism15 commented on #1699
@lliu113 can you please help me out on this? Clients are after us as to why its not working in production. I hope you understand the urgency of this issue.

[2021-03-22 09:36] hello-chenchen commented on #1732
hi @exextoc , it happened on Web. Not sure if it works for Mac And Windows. My problem has been solved i think. Cause when i re-create an App on Azure On Admin Account A(In tenant A). And only request User.Read permissions(No Need Admin consent). Then I use Admin Account B(In tenant B), to assign this App to B tenant, By Deploy My Add-in Manifest on Admin Center. It Don't Need Admin grant, can get

[2021-03-22 09:36] #1732 closed, assigned to exextoc

[2021-03-22 09:40] arshadshibli commented on #1718
@AbidRahman-MSFT Thanks for the info. Change in the paragraph IDs are ok. But In my case I can see even a **bookmark got deleted** after the above operation . Is that also expected
![bookmarkmissing](https://user-images.githubusercontent.com/36449762/111969729-8d411880-8b20-11eb-958e-a12cc9074305.PNG)

[2021-03-22 11:16] leybal commented on #1728
@qinliuMSFT thanks for the questions. It seems that the problem arises when we refer to a cell with sheet name such as Sheet1!A1. Sometimes we fail to copy the formula. But if only a cell is specified in the formula parameters, without a sheet name (like A1), there is no problem. Also Its repro for regular Excel functions like this =IF(Sheet1!A1 <> "", MUNIT(3), "").
We made [the video](https://dr

[2021-03-22 15:03] wh1t3cAt1k commented on #256
Guys, consider reopening this. Everyone on our team reproduces the issue using the steps provided above.

[2021-03-22 15:33] AlexanderSokolov1 commented on #1671
@AbidRahman-MSFT, great, thank you!

[2021-03-22 15:38] AbidRahman-MSFT commented on #1718
That's certainly not expected, few clarifying questions:

1. Is this on Word for Web only?
2. Everytime you create a new bookmark, and then call the Ooxml api, does it remove the bookmark?

Can you provide some repro steps that can help us debug the issue?

Thanks,
Abid

[2021-03-22 16:51] popecode commented on #1719
That's correct. Thank you.

[2021-03-22 18:21] popecode commented on #1719
A code example can be found [here](https://gist.github.com/popecode/b52a6181b0f675a0af1598e2dcfed37a)

[2021-03-22 19:04] GrumpyAL commented on #790
I know this is an older closed ticket but I ran into this today and wanted to share some information in case it helps with repro steps or others run into this.  I was working in an environment that was (or had) migrating from on-prem Exchange to 365 and running into this issue where Office.context.mailbox.userProfile.emailAddress returned undefined.  This was on Outlook for Mac 16.46.  The mailbox

[2021-03-22 19:06] elariccc commented on #1729
@lumine2008 I reproduced this bug in simple visual studio 2019 project https://github.com/elariccc/bugReproduce.

You will find script with issue in home.js, function highlightHighestValue. I've commented lines that throws exceptions.

1) In case of logarythmic type of axis, minimum of axis between 0 and 1 throws exception.
![image](https://user-images.githubusercontent.com/66617789/112042419-8898

[2021-03-22 21:21] dhilgarth opened #1740 "Can't insert new slide from Ribbon after inserting Slide via insertSlidesFromBase64"
## Expected Behavior
After inserting a slide with `insertSlidesFromBase64` the 'New Slide' button in the Ribbon bar continues to work as expected.

## Current Behavior
The button works before but not longer after calling `insertSlidesFromBase64`. Clicking it will have no effect at all.

## Steps to Reproduce, or Live Example
I created a full add-in demonstrating the behavior. It can be found here:

[2021-03-22 21:38] yunho-microsoft commented on #883
On Windows for manifest logging, we don't show success logging message. If you don't see any error message then your manifest is good to go. We can take a deeper look if anyone can share some example logs from Mac. Thanks.

[2021-03-22 22:54] ElizabethSamuel-MSFT commented on #1740
@dhilgarth Thanks for letting us know about this.

@sohailzafar Can you take a look or assign to someone else to investigate?

Thanks.

[2021-03-22 22:56] ElizabethSamuel-MSFT commented on #1739
@clavx Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2021-03-22 23:01] ElizabethSamuel-MSFT commented on #1738
@ic3guy Thanks for raising this issue.

@smaremanda Can you take a look or assign to an appropriate person to investigate?

Thanks.

[2021-03-22 23:03] ElizabethSamuel-MSFT commented on #1737
@agelenava Thanks for raising this issue.

@exextoc Can Android folks take a look?

Thanks.

[2021-03-22 23:05] ElizabethSamuel-MSFT commented on #1735
@hamouzj Thanks for raising this issue.

@lumine2008 Can you take a look or assign to an appropriate person to investigate?

Thanks.

[2021-03-22 23:08] ElizabethSamuel-MSFT commented on #1734
@thanakrid-kunghair-rft Thanks for raising this issue.

@grangeryy Can you take a look or assign to an appropriate person to investigate?

Thanks.

[2021-03-22 23:45] jcl-nfs commented on #1702
Hi:
First test:
1. MAC RDP to Windows
2. Opened both outlook and excel, enabled plugins, observed their broken state (circling / blank) **
3. Left the RDP session active
4. Accessed Windows computer locally about 1 hour later (drove to work)
5. Logged into machine, which took over RDP session, and the sidebars remained stuck
6. Upon refreshing sidebars, issue went away ++

I took videos of what's

[2021-03-23 00:00] ghost commented on #1706
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-23 00:00] ghost commented on #1690
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-23 00:00] ghost commented on #1680
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-23 00:00] ghost commented on #1658
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-23 00:20] jargil commented on #1702
Thank you, @jcl-nfs.

I tried to repro again by using the same Microsoft Edge Legacy runtime, connecting from Mac to PC and could not reproduce.

Given you're seeing it with the Microsoft Edge Legacy runtime, if possible, could you try the new Edge runtime? If you are able to update to Office 16.0.13530.20424 or newer and install the WebView2 runtime, you'll be able to have your add-ins running in

[2021-03-23 00:59] jcl-nfs commented on #1702
Hi:  the office applications are on latest version, however, none of the systems have webview2.  After installing, the issue has been resolved.  Thank you.  I realize this is a tech support issue on a development board, but thank you anyway.  We ragged our brains on this for months trying to make it work.

[2021-03-23 01:01] jargil commented on #1702
Thanks for confirming this works fine after installing WebView2. I'll go ahead and close.

[2021-03-23 01:01] #1702 closed, assigned to jargil

[2021-03-23 01:01] jcl-nfs commented on #1702
@Byron-Mo I tried updating the case in SF without luck, if you're able to add that, great.

[2021-03-23 02:00] ghost commented on #1694
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-23 02:00] #1694 closed, assigned to sharon8811

[2021-03-23 02:00] ghost commented on #1692
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-23 02:00] #1692 closed, assigned to mattgeim

[2021-03-23 02:04] ic3guy commented on #1738
If I load the add-in in Edge (outside of Excel) the iframe load picks up the saved credentials just fine.

[2021-03-23 02:11] grangeryy commented on #1734
@thanakrid-kunghair-rft Thanks for reporting this. We'll investigate and update the status later. Thx!

[2021-03-23 02:18] gingerjia commented on #1719
hi @popecode, the file you shared to us above cannot be accessed due to permission. Can you help to create a new workbook and try to repro the issue? This won't include any commercially information. And if can repro, could you help to share the workbook to us also? The workbook can help us to populate issue much quickly. Thanks very much!

[2021-03-23 02:25] grangeryy commented on #1728
From the repro video, this issue also happens to regular Excel functions like IF. @lumine2008 do you know about this?

[2021-03-23 02:29] grangeryy commented on #1734
Bug 4975234 is created to track this.

[2021-03-23 02:48] mattisdada opened #1741 "Dialog local storage and panel local storage are separate in Webview2 Windows Outlook environments - despite same origin. Only from AppStore, local installs are fine."
## Expected Behavior

We expect given the same origin, the dialog and panel should share the same localStorage as per normal [html spec](https://html.spec.whatwg.org/multipage/webstorage.html).

## Current Behavior

We only started noticing this issue last Friday, but in the AppStore / production version of our add-in, it seems that the panel and dialogs we spawn are in completely different contex

[2021-03-23 05:06] Byron-Mo commented on #1702
Excellent, @jcl-nfs . I'll work with our support team to get the case updated with the resolution. Thank you!

[2021-03-23 05:18] ssoni2074 opened #1742 "Word CustomXmlPart is deleted"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am using
`Office.context.document.customXmlParts.addAsync('<someTag>${data}</someTag>',
        (result: Office.AsyncResult<Office.CustomXmlPart>) => {
        save(data)
        })

[2021-03-23 05:39] lumine2008 commented on #1728
It looks like there is no API called for reproing this issue? if yes, it seems this is not a office.js related issue.

[2021-03-23 05:40] lumine2008 commented on #480
OK, Thanks, kindly reactivate this issue, when you have the environment. Thanks a lot.

[2021-03-23 05:40] #480 closed, assigned to lumine2008

[2021-03-23 05:41] #907 closed, assigned to lumine2008

[2021-03-23 05:44] lumine2008 commented on #1735
when clicking with mouse moving will be triggered as drag and drop.  therefore, it looks like a by design to me. maybe you could try a different mouse and see if it still repro?

[2021-03-23 06:38] christian-sap commented on #1690
@lumine2008 I sent you the exported data from one of the affected customers.

[2021-03-23 07:10] dhilgarth opened #1743 "Inserting an image into selected placeholder behaves weird in PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
When I select a placeholder and insert an image via `setSelectedDataAsync`, it should always insert the picture into the selected placeholder and scale it to matc

[2021-03-23 07:19] 4tti commented on #1735
@lumine2008 well then this event firing is unreliable and destroys UX cause whoever wants to use singleClick event must be focused only on the correct way of clicking.

[2021-03-23 07:21] dhilgarth opened #1744 "Inserting image via setSelectedDataSync"
## Expected Behavior
The Undo and Redo buttons behave consistently.

## Current Behavior
Inserting an image doesn't add its own Undo entry but it does hijack existing ones

## Steps to Reproduce, or Live Example
Sample add-in: https://github.com/dhilgarth/PowerPointIssueWeirdInsertImageBehavior

1. Click on Run in the taskpane
2. Image is inserted but Undo button is disabled
3. Insert Shape -> Und

[2021-03-23 08:04] 4tti commented on #1735
@lumine2008  btw there is this issue https://github.com/OfficeDev/office-js/issues/1540

[2021-03-23 08:25] hamouzj commented on #1735
@lumine2008 Please open _Single click event_ sample in Script Lab, try clicking quickly on cells and check that not all clicks are logged in the console. It's not a broken mouse issue as my colleagues can reproduce it too .

[2021-03-23 08:29] thanakrid-kunghair-rft commented on #1734
Hi!
I would like to add that this issue also happen on Safari as well.
Thanks.

[2021-03-23 08:29] ssoni2074 commented on #1516
Hi, we are again facing this issue with ` item.insertText("new text", Word.InsertLocation.replace);` and ` item.insertHtml("new text", Word.InsertLocation.replace);`
session id c1ffebb7-ddac-4190-b0b6-f71f4db1a34f
build 16.0.13916.41002

[2021-03-23 08:38] MantautasG opened #1745 "Word online when trying to create/open new document from base64 string i get an error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hey, I have an add-in, in my case I get a base64 document string and want to create/open new document in online word.
My code is:
[code]
when this function executes I get this error c

[2021-03-23 09:11] lumine2008 commented on #1735
Thanks, @4tti and @hamouzj, I just try it on my side, it seems no repro to me.
I think a video would be helpful for us to do further investigation, could you please share a short repro video? thanks a lot

[2021-03-23 10:48] #1721 closed, assigned to exextoc

[2021-03-23 13:23] lumine2008 commented on #1393
If this is important for your add-in, feel free to submit this as a feature request to our Uservoice - https://officespdev.uservoice.com/

Closing the issue as "by design", please reactivate if you have any more questions/feedback.

[2021-03-23 13:23] #1393 closed, assigned to lumine2008

[2021-03-23 13:24] lumine2008 commented on #1197
If this is important for your add-in, feel free to submit this as a feature request to our Uservoice - https://officespdev.uservoice.com/

Closing the issue as "by design", please reactivate if you have any more questions/feedback.

[2021-03-23 13:24] #1197 closed, assigned to lumine2008

[2021-03-23 13:28] lumine2008 commented on #1710
@Krishna-de, do you observe this issue before you publish to admin center? if no, it looks like a deployment issue.

[2021-03-23 14:02] yanli0303 commented on #1731
I can reproduce this issue with both new and old of Outlook for Mac desktop applications.

<img width="1416" alt="Screen Shot 2021-03-23 at 10 04 15" src="https://user-images.githubusercontent.com/3038713/112159286-60900e00-8bbf-11eb-8cd9-3a4766407e22.png">

[2021-03-23 15:20] popecode commented on #1719
Hi I have changed the permissions on that file.

[2021-03-23 16:14] cawise commented on #804
~~Should I be concerned that the Office UserVoice site has been down almost a week?~~

Apparently UserVoice is not coming back.

https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a

[2021-03-23 16:25] arshadshibli commented on #1718
Hi @AbidRahman-MSFT

1. This is in word web only .
2. I have many bookmarks in the document . It does not delete all the bookmarks , Only one bookmark shown in the image is getting deleted.

[2021-03-23 17:07] AbidRahman-MSFT commented on #1718
Hey @arshadshibli - if you are able to **consistently** reproduce this missing bookmark issue, can you please open a new issue with the sample document and the sample code and we can help investigate why its occuring.

Thanks,
Abid

[2021-03-23 17:42] ElizabethSamuel-MSFT commented on #1741
@mattisdada Thanks for raising this issue.

@exextoc / @croicu Can you take a look?

Thanks.

[2021-03-23 17:46] ElizabethSamuel-MSFT commented on #1743
@dhilgarth Thanks for raising this issue.

@sohailzafar Can you take a look or assign to an appropriate person to investigate?

Thanks.

[2021-03-23 17:48] ElizabethSamuel-MSFT commented on #1744
@dhilgarth Thanks for letting us know about this issue.

@sohailzafar Can you take a look or assign to an appropriate person to investigate?

Thanks.

[2021-03-23 18:02] ElizabethSamuel-MSFT commented on #138
@mattgeim / @wandyezj Has this issue been resolved?

[2021-03-23 18:11] ElizabethSamuel-MSFT commented on #99
@mattgeim Is this something you can help direct to an appropriate person to investigate? Thanks.

[2021-03-23 18:12] ElizabethSamuel-MSFT commented on #1532
Followed up with product team. Hope to have a response soon.

[2021-03-23 18:14] ElizabethSamuel-MSFT commented on #269
@danielgwilson Can you provide a current status on this? Thx.

[2021-03-23 18:50] ic3guy commented on #1738
The other issue is why is this credential even popping up? The server respondes with an WWW-Authenticate: NTLM so the credentials should be picked up.

[2021-03-23 19:07] JuaneloJuanelo commented on #1505
tracking with bug 1784176

[2021-03-23 19:45] bconners1005 commented on #1725
I am actually having this issue as well, but can't tell if it is new or existing, issue.  It seems to be tied to when the method is called when trying to get content for a OneDrive attachment link using `item.getAttachmentContentAsync`.

The error comes in as:

[code]

It then does not finish processing.  Even the example code given for a return of CloudAttachment links seems to be skipped.

Hopef

[2021-03-23 19:55] keyur32 commented on #1297
Hi sorry for the delay on this, but unfortunately we don't have a good story for allowing wild card support in our sub domains list. It is still something the team is checking on but we don't have an ETA the moment. I have tagged this to indicate it is a product feature request for tracking purposes.

[2021-03-23 20:55] cody-lettau opened #1746 "Remove attachments from previously drafted email fails"
Unable to remove attachments from an email that during the "on send" handling (add-in) if that email was previously saved as a draft and attachments added prior to saving. I believe this may be considered that the "session" has ended, but this isn't exactly clear.

When attempting to remove the attachments, I see the following error:
[code]

## Expected Behavior
The ability to remove attachments f

[2021-03-23 20:58] lindalu-MSFT commented on #886
@sureshjoshi Hi SJ, yes there have been updates to Word for Mac. Also, you can consider joining [Office Insiders](https://insider.office.com/en-us/) to get the latest builds, if you haven't already! Sorry to hear you're avoiding Office Online, please give us a shot again! Thanks, linda

[2021-03-23 20:59] lindalu-MSFT commented on #886
Also, if you run into issues, please provide us with steps to repro, and any logs or scripts so we can traige again. Thanks, linda

[2021-03-23 21:18] cody-lettau commented on #1746
So I may have found what leads to this issue occurring.

When we are adding a notificationMessage to the message during compose, we see this error. Yet, when I do not add the notificationMessage to the email during compose (using ```Office.context.mailbox.item.notificationMessages.addAsync(...)```), we do not run into the issue removing attachments.

Why would this be?

[2021-03-23 21:31] cody-lettau commented on #1746
And further debugging has found that it likely has to do with the notificationMessage not having a unique id across different drafts.

[2021-03-23 21:36] cody-lettau commented on #1746
Can probably close this out, but the documentation should be a bit more descriptive around notification messages and the need for unique ids.

[2021-03-23 22:55] advisoray commented on #1719
We'll generate a new workbook, install our add-in, trigger the error, and invite you. Is there anything particular we should do to invite? Any specific account or sharing setting?

[2021-03-24 00:00] ghost commented on #1733
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-24 02:00] ghost commented on #1686
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-24 02:00] #1686 closed, assigned to JuaneloJuanelo

[2021-03-24 02:13] gingerjia commented on #1719
@popecode @advisoray , thanks! After you trigger the error, please download the file as a copy, and attached file to your reply comment box directly:
![image](https://user-images.githubusercontent.com/62282034/112244082-a7e2d100-8c89-11eb-8938-214a99f9a267.png)
Then I can get the file for further check. Thanks again!

[2021-03-24 04:20] ic3guy commented on #1738
I figured this out by using fiddler to first confirm that NTLM was being correctly requested but not automatically triggering IWA (Integrated Windows Authentication)
- It was working in Edge outside of Excel because that's Chromium Edge but my version of Excel is using WebView (Legacy Edge) to render the add-in
- I had to add the CNAME (which matches the URL that I was requesting) to the IE Intern

[2021-03-24 04:20] #1738 closed, assigned to smaremanda

[2021-03-24 05:56] agelenava commented on #1737
I found a difference, the broken callback token has `"scope":"AAkALgAAAAAAHYQDEapmEc2byACqAC-EWg0Aabol7TmVQkmDNhnSdkE8jAAAiPSJTAAA"` in `appctx`, whereas working token has `"scope":"ParentItemId:AAkALgAAAAAAHYQDEapmEc2byACqAC-EWg0Aabol7TmVQkmDNhnSdkE8jAAAiPSJTAAA"`. Maybe it's a key to find out the root cause. Maybe this `ParentItemId:` is important to authorize REST API cal but I'm not complete s

[2021-03-24 06:53] hello-chenchen opened #1747 "what's the different about: Office.context.auth.getAccessTokenAsync vs OfficeRuntime.auth.getAccessToken"
after execute these code below, the result is the seam:
[code]
and
[code]

[2021-03-24 07:03] exextoc commented on #1737
@agelenava can you share following details:
1.  Is it possible for you to share code snippet for the call you are making to getCallbackTokenAsync and the REST API call?
2. How are you getting the REST endpoint "https://outlook.office365.com:443/api/v2.0/"? Are you using Office.context.mailbox.restUrl?
3. Can you try to decode both tokens(working/broken) on [https://jwt.io/](https://jwt.io/) and se

[2021-03-24 07:49] ulonsjo commented on #1532
Great that this issue gets some attention.

[2021-03-24 08:27] #1710 closed, assigned to lumine2008

[2021-03-24 08:28] Krishna-de commented on #1710
Thanks Nikhil, we figure it out

[2021-03-24 11:21] hello-chenchen commented on #1747
problem have been solved, link answer here.
https://stackoverflow.com/questions/66776046/whats-the-different-about-office-context-auth-getaccesstokenasync-vs-officerun/66779080#66779080

[2021-03-24 11:21] #1747 closed, assigned to nobody

[2021-03-24 15:29] mattgeim commented on #1663
@paulfrench the various parts of the manifest are available in the documentation in more detail (example - [IconUrl](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/iconurl)),  we will  also investigate the ask around unsupported icons being reported back as part of the validator.

Thanks!

[2021-03-24 15:42] 4tti commented on #1735
@lumine2008 attached is the video

https://user-images.githubusercontent.com/19533927/112339452-f6ab5d80-8cbf-11eb-8390-579cf915ff11.mp4

[2021-03-24 15:43] ElizabethSamuel-MSFT commented on #1532
OneNote bug ID 4632802. @ulonsjo I can't transfer this issue to the [OneNoteApi repo](https://github.com/OneNoteDev/OneNoteApi). If you want, you can create an issue there and link to this one.

Thanks.

[2021-03-24 16:45] advisoray commented on #1719
[Book 27.xlsx](https://github.com/OfficeDev/office-js/files/6199030/Book.27.xlsx)

Here's a copy of the file from onedrive demonstrating the internal error.

[2021-03-24 17:21] jargil commented on #1690
@christian-sap - thanks for sending the exported registry keys. A few follow up questions:
* Any reason why Protected Mode is disabled for the Internet Zone? And could you ask them to enable it back and try?
* Did they try as suggested by deleting both registry keys?
* Could you also send over their exported keys under HKLM for 3 and 4 just like before? e.g. Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Mi

[2021-03-24 18:33] AbidRahman-MSFT commented on #1712
Hey @harit-m-kumar, as nikhilism15 mentioned you need to install a self-signed certificate to setup HTTPS in the server that is hosting your JS code.

As this issue is not related to Office Js or the APIs involved, I'm closing this issue. If you continue to have related problems with sideloading the add-in, I suggest posting a question on StackOverflow with the tag 'office-js', that will allow for

[2021-03-24 18:33] #1712 closed, assigned to AbidRahman-MSFT

[2021-03-24 18:43] AbidRahman-MSFT commented on #1555
Closing the issue for now, please re-open if the issue still persists.

[2021-03-24 18:43] #1555 closed, assigned to MandytMSFT, AbidRahman-MSFT

[2021-03-24 18:46] AbidRahman-MSFT commented on #1302
Hey @remar27 and @shishiradas,

Thanks for reporting the issue and apologies for the delay in response.
We currently do not support plain text content controls for any API functionality. Only rich text content controls are supported right now. We do have plain text content control support in our backlog but currently it is not a prioritized feature so there is no ETA i can provide.

Thanks,
Abid

[2021-03-24 18:46] #1302 closed, assigned to AbidRahman-MSFT

[2021-03-24 18:50] #1233 closed, assigned to JuaneloJuanelo, AbidRahman-MSFT

[2021-03-24 19:24] lliu113 commented on #422
This looks like an issue with custom WOPI hosts, so looping in @keyur32

@stowellt - have you tried the auto-open taskpane feature? You need to tag the document, and the pane should automatically open. Thinking it might suffice as a workaround. https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document

[2021-03-24 19:34] AndyHore commented on #422
Hi,

Yes, we've tried it, and No, it doesn't work!

Andy.

From: Lillian Liu ***@***.***>
Sent: Wednesday, March 24, 2021 3:25 PM
To: OfficeDev/office-js ***@***.***>
Cc: Andrew Hore ***@***.***>; Comment ***@***.***>
Subject: Re: [OfficeDev/office-js] Word: Addin is not auto-loading in Word Online with custom WOPI host (#422)

This looks like an issue with custom WOPI hosts, so looping in @keyur3

[2021-03-24 21:29] ElizabethSamuel-MSFT commented on #1746
@cody-lettau Thanks for letting us know about this issue and providing details.

@exextoc Can you take a look?

If the docs need to be clarified, let me know.

Thanks.

[2021-03-25 02:00] ghost commented on #1422
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-25 02:00] #1422 closed, assigned to nobody

[2021-03-25 04:30] hamouzj commented on #1735
@lumine2008 Here is the video showing slow and fast clicking (together with the _selection_ event):

https://user-images.githubusercontent.com/56103045/112419072-00b67600-8d2b-11eb-9802-3010fab87154.mp4

https://gist.github.com/hamouzj/b3e000ab371fa47ad63d2758d6ae1b48

[2021-03-25 06:12] christian-sap commented on #1690
Hi @jargil , they temporarily enabled "Protected Mode" for the Internet Zone and this solves the issue. But this is no acceptable solution because of their corporate policy. [In your documentation](https://docs.microsoft.com/en-US/office/troubleshoot/office-suite-issues/apps-for-office-not-start) the "Protected Mode" should only be enabled for the Restricted Sites.
Deleting both registry keys will

[2021-03-25 09:11] mnkumar8 opened #1748 "After updating the patches in office 2016, 'displayDialogAsync' method started giving the error - Unable to get property displayDialogAsync of undefined or null reference"
I got this error before and it got resolved by updating with office 2016 patch. I started seeing this error again after updating office 2016 with recent updates. What could be the reason for this error?
I confirm that office.js is loaded and can able to read excel data from Office.initialize block.
The supported excel API version on my machine is 1.10.
Please see the attached picture for the offic

[2021-03-25 10:11] exextoc commented on #1660
@wsoccorsi-yw Can you help with following questions on OWA issue :
1. The above html from OWA is it from sent items of sender or inbox of recipient?
2. Is the sender able to see the inline image in sent items in OWA?
3. Is it happening on different browsers for same user or any specific browser?
4. Can you share the snapshot of html similar to what is requested on Windows?

[2021-03-25 10:19] exextoc commented on #1666
@ngelsi Can you share details on what type of issues are you facing on new Mac UI ?

[2021-03-25 12:27] exextoc commented on #1746
@cody-lettau Ideally notification messages should not affect the attachments. You also mentioned that you are not able to remove the attachment via UI(by clicking on x). Is this problem also solved when you change notification message ID?
Can you share the notification message code snippet ?

[2021-03-25 14:09] ngelsi commented on #1666
@exextoc General reliability issues. In some cases the asynchronous requests to get attributes (subject, recipient, body, etc.) of the e-mail fail with a failed async result stating an 'internal error'. In these cases, the whole process comes to a halt, and even if the call of the completed method on the Office js event object is executed, the processing doesnt end, and the '<add-in> is working on

[2021-03-25 15:06] exextoc commented on #1646
We have fixed the bug and the fix should be available in build 16.0.13925.10000 or later. When an updated build is available depends on the release channel a customer is on.

[2021-03-25 16:25] cody-lettau commented on #1746
@exextoc it did appear to fix the issue with even clicking the "x" to delete the attachment from what I saw. So I have a toggle button to enable/disable security. Turning that on/off would add/remove the notification message. Then it appeared to cause issues when saved as a draft and opened later and sent. But it could have caused issues even without the draft...but I didn't do any testing around

[2021-03-25 17:03] GrumpyAL commented on #1646
Thank you!  We will test once the build is available.  Looks like we were running Semi-Annual Enterprise channel in our testing.

[2021-03-25 17:04] GrumpyAL commented on #1146
Sorry for the delayed response here.  I will test and share the trace as soon as I can.  It may be a few more days.  Thanks!

[2021-03-25 17:23] vitalykuvaev opened #1749 "Support for non-optional parameters following optional in custom function"
Excel fails to load an add-in where any custom function has optional parameters preceding non-optional parameters in metadata.

## Expected Behavior
Should be able to create optional and non-optional parameters in any order, as it is possible to do with Excel-DNA/UDF.

## Current Behavior
Excel reports that it fails to load an add-in when any custom function has an non-optional parameter following

[2021-03-25 21:50] jambrogne opened #1750 "Word Add-In Quick Start: Add-in Not Loading in Ribbon"
I'm trying out the "Build your first Word task pane add-in" tutorial, using the Word 2016 / Yeoman generator method. Here is the tutorial link:
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=yeomangenerator

Issue: I can't get the Add-in to display in my Word Ribbon.

Details: At step 2 of the "Try it out" section, I enter the command "npm start", and then a n

[2021-03-26 00:28] zunquan commented on #1436
@westconference. this is a known issue in WebView2. We are waiting for a fix from WebView2. In the meantime, we have a mitigation for the 1st time when this happens during an addin's activation. Basically, when an user activates your addin, he\she will see the login prompt WITHOUT the error banner. But if he\she inputs wrong creds and triggers the login prompt again, the error banner will show. Th

[2021-03-26 02:00] ghost commented on #1706
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-26 02:00] #1706 closed, assigned to trigurl

[2021-03-26 02:00] ghost commented on #1680
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-26 02:00] ghost commented on #1658
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-26 02:00] #1658 closed, assigned to millerds

[2021-03-26 05:30] gingerjia commented on #1685
@paulfrench, I tried your add-in locally and cannot repro the issue, no matter include/exclude es.promise polyfill, on Desktop Excel (IE11), the cell address can be updated correspond at Taskpane.
You mentioned "a few clicks might work and then the taskpane stops responding to cell clicks" above, have you measured about how long will it stop work? And if you can share any repro video to us, that w

[2021-03-26 06:00] ghost commented on #1367
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-26 06:07] Shaon1989 commented on #1367
This problem is still happening, pls post some update.
Also this Exchange online Addin (after deployed through Microsoft admin centre) is been populated in Windows Outlook client & therefore people also complaining about slowing down their computers while sending emails.

[2021-03-26 06:31] sarthak625 opened #1757 "Outlook Add-In built using Angular showing blank taskpane on Windows Outlook App pre 1903 build"
We are developing an Outlook add-in using angular. The add-in works on IE11, Edge, Chrome and Safari, but on Windows Outlook desktop app versions (< 1903) which use IE11, it shows an empty taskpane.
Following workarounds I have tried and still the issue persists, so would like to know if it is a compatibility issue. Attaching the code below this:

1. Ensured that the document mode is set to edge u

[2021-03-26 06:40] RuoyingLiang commented on #1745
@MantautasG Thanks for reaching us. The problem here is the generated document doesn't support to set property in Word WAC. Because in browser a word session cannot edit another word document, the add-in cannot set the value to the new doc. So in your code, if you didn't set the property, the document can open as you expected.

If you need to set the property in the new opened doc, you can add tha

[2021-03-26 07:52] lumine2008 commented on #1735
Thanks, I have created a feature backlog 4984572 to track this issue.

[2021-03-26 08:32] RuoyingLiang commented on #1654
Thanks for reaching us. I use the insertOoxml to insert some content in Word Online and it works well. Could you share with me the xml content you inserted so we can try to repro the issue?

[2021-03-26 09:04] dhoelzl commented on #1654
Thank you for looking at this!

I can reproduce it by creating a new default document, entering the simple text "TEXT" without any additional formatting, selecting that text and executing the following code:

[code]

This code should duplicate the selected "TEXT" in the document.

The following is logged to console (the Ooxml to be inserted):

[OOXML.txt](https://github.com/OfficeDev/office-js/fil

[2021-03-26 09:34] paulfrench commented on #1685
I'll share a video with you when I get a chance. Cheers

[2021-03-26 10:07] adomasven opened #1751 "Feature request: Word Field API"
Since UserVoice is no longer supported I'll move this request here. There has been a long standing request since at least 2016 on UserVoice to add field functions to the Word JS API. I am a developer at Zotero, one of the biggest reference managers, and our citation integration with Word relies on fields. Other reference managers such as Endnote and Mendeley also rely on fields for their current d

[2021-03-26 10:36] Premsagar-lab commented on #1367
@exextoc Currently it has been reported by only one prominent customer. @Ashishagrawalbroadcom Kindly comment on exact data.

[2021-03-26 10:54] oleksandr-slys commented on #1355
Hi @exextoc!
1 - what was the problem?
2 - how to troubleshoot such the problems?
I have the similar problems but the conditions are different. In on of my mailboxex `mailbox.item` returns `undefined` for all emails, but other mailboxes works just fine.
Can I check some permissions or settings in mailbox to find out why `mailbox.item` is undefined?

[2021-03-26 11:02] frezo00 commented on #1723
Hi @exextoc,

I've been checking the Graph API documentation based on the answer you gave to @rickgoud, but it seems like it is not the answer we were looking for. So, if the user creates a group, that group will have its own email and members which is totally fine.
But the problem is that the users often create the distribution list using the "New contact list" under the _People_ section like on

[2021-03-26 11:22] zaker opened #1752 "Outlook Item is undefined when on a certain mailbox"
Our add-in works on any other mailbox and in for all in owa.
But on a certain shared (office365)mailbox for the desktop the items cannot be loaded.
The settings for this is the same as others that

## Expected Behavior

Item values should be readable, like any other item in the other inboxes

## Current Behavior

Item doesn't load,  and initialize method doesn't let it self be overridden

windows.

[2021-03-26 11:30] MrP commented on #1685
I could reproduce this issue with my add in.  When including the core-js Promise polyfill I had the same issue of the task pane not responding to selection events until I hovered over the panel with the mouse.  It was doing my head in until I found this thread (Thanks @paulfrench!).  Removing the Promise polyfill fixes the issue for me as well.

I'll see if I can produce a minimal add in with the

[2021-03-26 11:48] ydock1 commented on #1355
Hello, the issue is resolved. Thank you!

[2021-03-26 11:52] exextoc commented on #1355
@oleksandr-slys As you have mentioned in your case conditions are different. Can you create a separate post with all the details about your environment and repro steps?

[2021-03-26 12:00] ghost commented on #714
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-26 12:12] exextoc commented on #1631
@Petryxasport Add-ins support on pop out compose is now available on New UI for Insiders Beta users. You can update to latest version and use the New UI as workaround. For information on Office Insiders program check [here](https://insider.office.com/en-us/join/mac).

[2021-03-26 12:59] dhoelzl opened #1753 "Malformatted hyperlink in Office Online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When opening the attached document in Office Online (Build 16.0.13925.41023) and hovering over the hyperlink (the document contains one single hyperlink), the following URL is display

[2021-03-26 13:39] MrP commented on #1685
Ah, did I say I could fix it? Not so!  Turns out removing that Promise polyfill only appears to fix it if you open the dev tools!  Before opening the dev tools it still fails to register the events.

[2021-03-26 13:52] sshukurov opened #1754 "Excel.RangeFormat.autofitColumns doesn't account for custom number format coupled with bold font"
Custom number format we use in our project for financial amounts is: `_(* #,##0.00_);_(* (#,##0.00);_(* ""-""??_);_(@_)`

When we assign this number format to a cell, set the font to bold, and then invoke `autofitColumns`, we see the following picture:
![image](https://user-images.githubusercontent.com/36232686/112640876-9a813e80-8e63-11eb-9214-b4318ea45e4a.png)

## Minimal repro
https://github.co

[2021-03-26 14:19] sshukurov commented on #1449
I confirm the issue no longer reproduces. Thank you very much!

[2021-03-26 14:27] MrP commented on #1685
Right, I take it all back, what I see now is just the dev tools behaviour: With dev tools closed events don't "take", and with dev tools open they do.

[2021-03-26 14:58] MantautasG commented on #1745
@RuoyingLiang  Thank your for your answer. If I understand correctly my function in this case should look like this :
[code]
The problem is that i still get the same error as mentioned earlier.

[2021-03-26 15:12] dhoelzl opened #1755 "insertText: Weird behavior when inserting vertical tabulation ("\v")"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Inserting text into a Word document via `Range.insertText` does not work properly when inserting vertical tabulator characters ("Shift-Enter" line breaks).

## Expected Behavior
inser

[2021-03-26 15:30] exextoc commented on #1723
@frezo00 - As the original issue has been closed, may we recommend to please open a separate issue with what you're tryin to achieve/issues you are facing. This way we can have an active involvement on the new post and make sure that appropriate help is provided. It may also help others who are facing a similar issue.

[2021-03-26 15:54] RoelVB commented on #674
@xuxife Customer learned to live with it
Not 100% certain the issue still exists.

[2021-03-26 15:57] paulfrench commented on #1685
@MrP - I only had an issue in desktop Excel, online Excel was fine. Everything is working for me in online and desktop without the es6.promise polyfill. I would not be surprised you are seeing the same issue but a slight variation?

@gingerjia - yes only a few clicks in desktop Excel and then I saw an issue. It seems to reset itself sometimes and mostly resets itself if you hover over the taskpane

[2021-03-26 16:00] paulfrench commented on #1685
It's worth adding I transpile down to two lots of code, one for modern browsers and one for IE11. So no polyfills are included for the modern browsers. I had to remove es6.promise polyfill for IE11

[2021-03-26 16:02] james-huang commented on #1586
Hi Microsoft, any updates on this?

[2021-03-26 16:51] MrP commented on #521
Wow!

First of all: Thanks! this helped me with my issue where events didn't register properly in the add in until I hovered the mouse over the pane.

Second: What is this sorcery?! @catchingyu can you explain what's going on here? I tried with the setInterval in the "right" way, and it didn't work.  Am I seeing things right? What am I missing?

[2021-03-26 16:53] Geraint87 opened #1756 ""Runtimes" section in TaskPaneApp section within VersionOverrides incorrect"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Either it's not wholly accurate, or there is an old schema definition, but what I observe is:
The documentation says that the Runtimes section comes immediately inside the `Host` and

[2021-03-26 16:58] MrP commented on #1685
I got it to work by adding `setInterval(30000, () => {})` to my `onReady`.

I found that workaround here:

https://github.com/OfficeDev/office-js/issues/521#issuecomment-502944107

Note that for me `setInterval(()=>{}, 30000)` does not help, only the "wrong" argument order helps.

I have no idea what's going on!

[2021-03-26 17:11] exextoc commented on #1752
Could you share a bit more details on what's working and what's not? Does your add-in work on your own mailbox but not on sharedMailboxes? Does the manifest support shared Folders feature - There needs to be a manifest change to enable this. You mention that the item doesn't load - Is it that the Office.context.mailbox.item is undefined? Sharing details of repro steps/video of the repro would be h

[2021-03-26 17:46] AlexJerabek commented on #1756
Thanks for reporting this @Geraint87.

@Rick-Kirkham, could you please investigate?

[2021-03-26 17:46] OfficeAddins commented on #1644
Have you been able to look at this please

[2021-03-26 17:57] paulfrench commented on #1685
Yeah that makes no sense, that will throw a javascript error. Maybe just try and throw an error. It's looking like some horrible race condition and timing issue. Don't know, very strange. Why promises exist in IE11 Desktop Excel without me adding the polyfill is a mystery to me. I know that is the case since my taskpane will start in a browser and does not require office.js to run and display. Yet

[2021-03-26 18:00] Rick-Kirkham commented on #1756
The documentation is correct. I believe the problem is with the validation in Visual Studio.  I'm going to try to transfer this to the office-js repo.

[2021-03-26 18:25] MrP commented on #1685
The promise polyfill comes from office.js itself.  Apparently, it uses MutationObserver internally if available.  Which in IE11 it is, but apparently it's buggy and sometimes it gets "stuck".  I think that's where the weird hovering behaviour comes from.

That could also explain why opening F12 fixes it for me.  It must do something that "unsticks" that MutationObserver.  Or something.

What I can

[2021-03-26 23:40] ElizabethSamuel-MSFT commented on #1757
@sarthak625 Thanks for reporting this.

@croicu / @exextoc Can you take a look?

Transferring to product repo office-js as this doesn't seem to be a documentation issue.

Thanks.

[2021-03-27 00:26] ElizabethSamuel-MSFT commented on #1748
@mnkumar8 Thanks for letting us know about this.

@lumine2008 Can you take a look, or assign to an appropriate person to investigate?

Thanks.

[2021-03-27 00:29] ElizabethSamuel-MSFT commented on #1749
@vitalykuvaev Thanks for raising this issue.

@grangeryy Can you take a look, or assign to an appropriate person to investigate?

Thanks.

[2021-03-27 00:31] ElizabethSamuel-MSFT commented on #1750
@jambrogne Thanks for asking about this.

@hjkim-MSFT Can you take a look, or assign to an appropriate person to investigate?

Thanks.

[2021-03-27 00:35] ElizabethSamuel-MSFT commented on #1751
@adomasven Thanks for recording your request here.

@AbidRahman-MSFT Can you take a look and verify if this is already on the feature backlog?

Thanks.

[2021-03-27 00:42] ElizabethSamuel-MSFT commented on #1753
@dhoelzl Thanks for raising this issue. However, it seems to be unrelated to Office Add-ins. As such, we're tagging this is external and will close. If that's a misunderstanding, do respond with office-js details so we can reopen and investigate.

@AbidRahman-MSFT Can you see if we can raise issue with Word product team?

Thanks.