[2021-10-21 02:15] sureshjoshi opened #2195 "New Footnotes API not providing 'body' or 'reference', but provides 'type'"
I just saw that the [Word Preview has a Footnote/Endnote API](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#footnotes) in Office Online, so I'm testing it out (knowing that it's not final, subject to change, draft, etc etc etc). However, I'm unable to even get a hello world example running - so I'm wondering if it's not yet implemented - or if I'm doing someth

[2021-10-21 02:33] Lilyliu123 opened #2196 "Getting API error: GeneralException with WorksheetFreezePanes.freezeRows"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___PC desktop___
* Host [Excel, Word, PowerPoint, etc.]: __Excel__
* Office version number: __2019 Build (16.0.1440.20292) 64-bit__
* Operating System: __Windows 10 64 bit__
* Browser (if using Office on the web): __N/A__

## Expected behavior
No exception when usi

[2021-10-21 04:37] pkkj commented on #2184
Hi @skurian123 , I would like to confirm that the Dialog API is working correctly in your environment. Would you like to side load this very simple add-in to verify that: [Manifest](https://kepengtestapp.azurewebsites.net/manifest/AzureOutlook.xml). It's an app command so you can click "Show Taskpane" first, and then click "launchDialogSameOrigin" button in the taskpane.

One more small problem is

[2021-10-21 06:04] emileletueur opened #2197 "Custom function not available"
I created an excel add-in (taskpane) from scratch ( no use of yeoman but with angular cli ).
In a second time I'll need to implement a custom function that will work with my taskpane.
I set up the new function.js, function.html and function.json files in my solution and changed my manifest file to use the shared runtime and set up function part

## Expected Behavior
I'll can see my custom function

[2021-10-21 07:31] HongpengRen opened #2198 "Office.context.mailbox.item.end.setAsync() set event time zone to UTC on Outlook Web"
# Office.context.mailbox.item.end.setAsync() set event time zone to UTC on Outlook Web

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: __Outlook Web____
* Host [Excel, Word, PowerPoint, etc.]: ___Outlook Web___
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ___Google Chrome___

## Expected behavior
Calling Office.conte

[2021-10-21 08:38] exextoc commented on #1660
@wsoccorsi-yw Thanks for reporting this issue regarding `appendOnSendAsync`. We have been able to reproduce it on Mac Outlook on New UI. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-10-21 09:03] bkonic commented on #2137
Hi @AbidRahman-MSFT,
Do you have any Updates? Thx

[2021-10-21 09:23] ghost commented on #2127
@AbidRahman-MSFT @robert-gavrila
We have had the same issue in below browser also:

![91cd1681-7418-4367-b70b-5290b5a9bdb5](https://user-images.githubusercontent.com/36051026/138249558-8f2286dd-825e-43b1-8619-a3bf33a70a81.png)

Could you please suggest how to proceed further? Could you also suggest which browser (and in which versions) supports _**right click + open link in new window**_ ?

[2021-10-21 11:57] exextoc commented on #2113
Hi, we have fixed the bug where getAttachmentContentAsync would throw an error on drag and drop items. Can you confirm whether the fix is available to you or not? We will soon be updating the documentation to reflect this change as well.
On the categories API for Outlook Web, we are currently restricted due to Outlook host limitations. We recommend that you share this as a feature request on https

[2021-10-21 12:58] crestbala commented on #2182
Hi @chiz-ms,

Here I've shared the document link, kindly please take a look at this.

Link: https://1drv.ms/w/s!AselupYGuZUJsw2xwkPBrMRSHqxM?e=6bD8XT

Many thanks,

[2021-10-21 13:02] wsoccorsi-yw commented on #1660
@exextoc Awesome! Thanks so much for working with me here, please keep in mind this bug can happen on other platforms just consistently on Mac "New Outlook"

[2021-10-21 16:10] jfoclpf opened #2199 "How to make Outllook Addin appear on the Calendar Meeting ribbon?"
I am here around for hours reading the extensive MS documentation about Outllook addins. I could already create an addin and uploaded it to Outlook but it is only available when I open mail messages, and not Calendar Meetings.

Nowhere I can find where I need to change the manifest XML such that the addin appears in the Meeting ribbon, like the Teems or Skype Addin

[![enter image description here

[2021-10-21 16:46] AbidRahman-MSFT commented on #2137
Hey @bkonic - after further investigation, this behavior is by design for Word 2016. The behavior was implemented after Word 2016 version was released and at that time, the paragraph collection only contained top-level paragraphs.

There is no way to retroactively add this feature for past versions. Is there any reason the users are unable to upgrade?

[2021-10-21 17:22] isabela-dominguez commented on #2191
Thank you for sharing this issue @sachin161194 . We are taking a look to fix this.

[2021-10-21 17:25] isabela-dominguez commented on #2192
Thank you for sharing this issue @nickdekesel. We are working on fixing this issue.

[2021-10-21 17:29] isabela-dominguez commented on #2193
Thank you for sharing this issue @wh1t3cAt1k! Connecting you with @grangeryy who may be able to help.

[2021-10-21 20:11] isabela-dominguez commented on #2194
Thank you for sharing this issue @TonyNSPF! Connecting you with @dingjin-ms who may be able to help.

[2021-10-21 20:16] isabela-dominguez commented on #2195
Thank you for sharing this issue @sureshjoshi! Connecting you with @RuoyingLiang who may be able to help.

[2021-10-21 20:19] isabela-dominguez commented on #2196
Thank you for sharing this issue @Lilyliu123! Connecting you with @dingjin-ms who may be able to help.

[2021-10-21 20:23] isabela-dominguez commented on #2198
Thank you for sharing this issue @HongpengRen! Connecting you with @exextoc who may be able to help.

[2021-10-21 20:29] exextoc commented on #2198
@HongpengRen Thanks for reporting this issue regarding `Time.setAsync()` api. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal Tracking Id 132301

[2021-10-21 20:58] elegault commented on #2125
@exextoc No, it's still not working for me!

[2021-10-21 21:12] cidev5 opened #2200 "getRange, given a named range, is returning a columnIndex that is not zero-based as expected but rather 1 based"
We've very recently started noticing our Excel add-in is not populating cells with data as we expect, and getting a "parameter out of range" error message.

I am not sure how I can have you reproduce the issue, but I am wondering if this is something known that is due to a recent change? This was working on our end until just recently.

In the screenshot below, when I set a breakpoint, the `const

[2021-10-21 23:33] ElizabethSamuel-MSFT commented on #2201
The docs have been updated with this info (see PR https://github.com/OfficeDev/office-js-docs-pr/pull/2998). Transferring to the product repo to track the fix.

[2021-10-21 23:34] AbidRahman-MSFT commented on #2127
Hey @ShahViral6438, these are the native right-click menus for each browser. The Office JS platform does not explicitly create any right-click context menus. The 'right click + open link in new window' option only exists in the Microsoft Edge with WebView2 (Chromium-based) browser engine. Similar to how you can see the same option when browsing any webpage using the new MSFT Edge browser.

You can

[2021-10-22 00:32] skerr4311 opened #2202 "setSignatureAsync on Mac Outlook"
## Add-in for Mac
I am working on an add-in that uses setSignatureAsync.  I am using launch events to set the signature and It is working really well on outlook web and outlook windows. I have moved on to mac and noticed that launch events do not seem to work on mac. While running through some debugging steps I noticed that for mac:
1. body.setAsync - works on mac
2. subject.setAsync - works on ma

[2021-10-22 02:50] JinghuiMS commented on #2195
Thank you for using footnote API and asking your questions. In your scenario, we have got the body of footnote by calling footnotes.items[0].body, we can continue the following operation on the footnote body, such as footnotes.items[0].body.text. So we can get the text on the footnote body.

You can refer to this sample:
https://gist.github.com/JinghuiMS/4e5b7de8c5b5e93fefa6d04d69dc70e1

Feel free

[2021-10-22 02:56] sureshjoshi commented on #2195
Thanks @JinghuiMS

I did try digging in deeper to the object, but I didn't see anything - but maybe I mistyped something, as there are no TS types yet, and I didn't see the objects.

But, based on what you've said, it sounds like it's just the toJSON or whatever emits it as a string that's causing my issues?

I'll test out again and report back!

[2021-10-22 03:12] sureshjoshi commented on #2195
Okay, looks like it's working now, as I'm able to retrieve text from the API.

[code]

Console.log:

[code]

The need to `load()` and `context.sync()` twice is unfortunate while loading footnotes (one for the items, one for the body).

But, that answers my question, thanks!

[2021-10-22 03:12] #2195 closed, assigned to RuoyingLiang

[2021-10-22 06:14] exextoc commented on #2125
@elegault Can you share a test account where the issue reproduces? You can email us the account details at OutlookAddins@M365x693897.onmicrosoft.com

[2021-10-22 06:17] zhenhuangMSFT commented on #2196
Hi @Lilyliu123! Thanks for reporting the issue! The API call of `WorksheetFreezePanes.freezeRows` will throw a general exception if the row you try to freeze is outside the visible range. Could you please verify that if this is the case? If not, could you please provide more details about your add-in's script so that we can reproduce it for further investigation.

[2021-10-22 07:34] aafvstam commented on #2137
This is why requirement sets were introduced don't you agree?

If this is not supported in the 1.1 API it should be pointed out/added to the requirement set documentation:
[Word JavaScript API - Paragraphs](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-1.1#paragraphs)

[Word JavaScript API requirement sets](https://docs.microsoft.com/en-us/office/dev/add-ins/reference

[2021-10-22 07:43] grangeryy commented on #2193
@wh1t3cAt1k  Currently we don't support the capability for Custom Functions. I created a new feature to track in backlog:5514799.

[2021-10-22 08:11] bkonic commented on #2137
@AbidRahman-MSFT : Some large customers have other legacy applications hindering them from upgrading quickly without months of testing.

@aafvstam : I fully agree.  Right now, it seeems kind of random. This should be in the documentation.

[2021-10-22 09:49] exextoc commented on #2199
Refer to (https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/extensionpoint) to read about different extension points which are available on different surfaces in Outlook.
Specifically I think (https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/extensionpoint#appointmentorganizercommandsurface) would be of interest for you. This extension point makes your ad

[2021-10-22 10:11] jfoclpf commented on #2199
Thanks, it is working

[2021-10-22 10:11] #2199 closed, assigned to exextoc

[2021-10-22 10:28] exextoc commented on #2202
@skerr4311  Thanks for reporting this issue regarding `setSignatureAsync` api. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal Tracking Id MAC 5515082

[2021-10-22 12:22] edfowle opened #2203 "Unexpected exfc_main notification appears when blocking email on send"
When blocking any email by implementing the onsend feature and calling `.completed({ allowEvent: false });`, an unexpected additional notification appears:
![image](https://user-images.githubusercontent.com/10868335/138451895-51398312-5374-41ff-98f9-f327e649d924.png)
This occurs in OWA but not in the O365 Outlook Windows application.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on

[2021-10-22 14:38] isabela-dominguez commented on #2203
Thank you for sharing this issue @edfowle! Connecting you with @exextoc who may be able to help.

[2021-10-22 15:06] nbreath opened #2204 "Office.context.mailbox.item.to getAsync returning error code 5010 in Outlook 2016"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When using `Office.context.mailbox.item.to.getAsync`, `Office.context.mailbox.item.cc.getAsync` or `Office.context.mailbox.item.bcc.getAsync` in compose/edit mode the result for the c

[2021-10-22 17:29] elegault commented on #2125
@exextoc Done. I assume I don't have to configure my test add-in for your use with that mailbox?

[2021-10-22 18:35] exextoc commented on #2188
@lukesolar As per the documentation `Office.context.mailbox.item.itemId` is not available in AppointmentCompose or MessageCompose objects. `itemId` is only available in AppointmentRead and MessageRead(for items which are already present on Exchange server). Refer: https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-1.7

[2021-10-22 18:39] #2127 closed, assigned to AbidRahman-MSFT, robert-gavrila

[2021-10-22 19:13] AbidRahman-MSFT commented on #2137
Hey @aafvstam and @bkonic,

I agree with you completely. We will get that information updated in the documentation.

Paragraphs in tables were introduced as part of requirement set 1.3, this requirement set also introduced several methods for the Paragraph class that can allow you to differentiate between a paragraph in a table and a regular paragraph (for e.g. [parentTable property](https://docs.

[2021-10-22 20:01] isabela-dominguez commented on #2197
Hi @emileletueur, please post your question on Stack Overflow and use the office-js tag: https://stackoverflow.com/questions/tagged/office-js
We will answer your question there. We try to limit GitHub issues for reporting bugs or errors in our documentation.

[2021-10-22 20:01] #2197 closed, assigned to nobody

[2021-10-22 20:04] isabela-dominguez commented on #2200
Thank you for sharing this issue @cidev5! Connecting you with @dingjin-ms  who may be able to help.

[2021-10-22 20:06] isabela-dominguez commented on #2204
Thank you for sharing this issue @nbreath! Connecting you with @exextoc who may be able to help.

[2021-10-22 21:25] jscoder1009 commented on #1822
facing same issue on Microsoft Word windows and when opening Add-in in web word instance. Our application is built on Angular 12.

 "@angular/core": "~12.0.1",
  "@azure/msal-angular": "^2.0.4",
  "@azure/msal-browser": "^2.18.0",

Error while parsing the 'sandbox' attribute: 'allow-storage-access-by-user-activation' is an invalid sandbox flag.

I can confirm app works when loaded as side-loaded A

[2021-10-22 21:38] #2185 closed, assigned to Rick-Kirkham

[2021-10-23 10:19] exextoc commented on #2204
@nbreath Does this issue reproduce a 100% of the time on all emails or is it intermittent? Is this only on some emails?
The insufficient permission error may or may not be related.

[2021-10-23 11:51] exextoc commented on #2177
We are in the process of updating our documentation for OfficeRuntime.Storage.
Outlook does not support the SharedRuntime requirement set, however, Outlook Event-Based Add-Ins have access to OfficeRuntime.Storage.

For Outlook taskpane add-ins, localStorage should be sufficient. However, taskpane add-ins are executed using an underlying web browser as the sandbox whereas Event-Based Add-Ins are ex

[2021-10-23 12:42] exextoc commented on #2152
The fix is rolled out worldwide now.
It is available in Outlook build 16.0.14326.20258 and above.
We are writing up a set of instructions that are required to allow SSO to work in Event-Based Add-ins.
That should be online on our documentation shortly. We will update this thread once it is available.

[2021-10-23 12:50] exextoc commented on #2138
@questionhead are you using our `sessionData` APIs in your add-in?
We have checked-in a potential fix that will rollout with Office updates.
Depending on your channel, you may get it in a few days to about 6 weeks.

[2021-10-23 12:53] #2118 closed, assigned to exextoc

[2021-10-23 12:55] exextoc commented on #1861
I tried your VB script. I had to modify it a bit to get it to execute. However, it didn't work as expected because the signature gets inserted after the script has executed. I'm going to try this out again.

[2021-10-23 13:31] questionhead commented on #2138
Meanwhile I already have a new notebook, so I can't test it.
Thanks for your help anyway.

[2021-10-23 14:36] barclayadam commented on #1861
You will find that, depending on what add in you are testing that the signature will get inserted hundreds, maybe thousands of times before it fails (in particular the GitHub hosted PnP sample can take a long time until it fails).

It is 100% reproducible eventually, at least on the VMs we have set up, and from customer reports.

The idea is the script creates a new email, focuses the body and ins

[2021-10-23 15:36] nbreath commented on #2204
@exextoc 100% of the time, with any email or even if it's empty.

[2021-10-24 18:59] exextoc commented on #2173
@hello-chenchen localProperties api is provided by the underlying browser. We do not interfere with the API. To proceed with your Customer we can try following things to find a solution/workaround,
1. Is your customer able to use this api in safari browser in the same device? If no, what is the error which the API returns?
2. Read through (https://developer.mozilla.org/en-US/docs/Web/API/Web_Stora

[2021-10-24 19:09] exextoc commented on #2125
@elegault Thanks for sharing the details over email. We will get back to you soon.

[2021-10-25 05:26] hello-chenchen commented on #2173
hi @exextoc , thanks for your reply. our customer's feedback for us:
[code]
i will keep tracking this issue, and do some research for RoamingSettings.
Thanks a lot.

[2021-10-25 06:06] rsoeldner commented on #1751
Any update on this topic?

[2021-10-25 06:08] exextoc commented on #2203
@edfowle Thanks for reporting this issue regarding block onSend. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal Tracking Id 2419285

[2021-10-25 06:23] chiz-ms commented on #2182
Hi @crestbala, thanks for the additional information. The issue has been confirmed and put on our backlog as ADO#5519802.
In the meantime, could you try this workaround and see if it works?
- Select Table 1 in the document:
![image](https://user-images.githubusercontent.com/19398640/138643924-8337bc28-e530-433e-9993-5e6bb7aea558.png)
- Set cell shading to "No Color":
![image](https://user-images.g

[2021-10-25 06:37] hello-chenchen opened #2205 "After Disable Teams for Outlook add-in, the other online meeting service provider is also disappeared on android outlook"
after follow this document to disable teams for outlook add-in: [Manage meeting policies in Teams](https://docs.microsoft.com/en-US/MicrosoftTeams/meeting-policies-in-teams?WT.mc_id=TeamsAdminCenterCSH#allow-the-outlook-add-in)

the other online meeting service provider which designed followed by this document is also disappeared: [Create an Outlook mobile add-in for an online-meeting provider](ht

[2021-10-25 06:45] hello-chenchen commented on #2205
Teams disappeared:
![image](https://user-images.githubusercontent.com/1878089/138647222-b9565c6f-3dfa-42d3-9623-037af927f90f.png)

[2021-10-25 06:47] hello-chenchen commented on #2205
But i have the other online meeting provider:
![image](https://user-images.githubusercontent.com/1878089/138647508-d9b83d4c-6e3d-4d65-9e11-61b13abc7f7f.png)

[2021-10-25 07:53] shaowan-msft commented on #2200
Hi @cidev5  thanks for contacting us. Our team is already working on your issue.
I can not reproduce your issue in my side. My Excel version is 14527.20216. Could you provide more information to help on investigation?
1. Could you print the columnRange address and tell what it is?
2. Could you import this gist and tell what is result in output window after run?https://gist.github.com/2020Mar/6a1b7

[2021-10-25 09:10] skurian123 commented on #2184
@pkkj - we are able to move a little and we could see the dialog popping up now, but when we implement the same codebase we could see a consent popup coming in the webmail but not in the outlook native app.

[2021-10-25 09:16] barclayadam commented on #2177
For our current use-case we can get by without sharing the data, but in an ideal world being able to share this data would be great (and given the current size limits of other techniques like `RoamingSettings` we cannot use those).

We have updated to use OfficeRuntime.Storage and that is working well now but have no solution in OWA because of the above error. The browser(s) that we have tried it

[2021-10-25 09:23] gingerjia commented on #2189
@jnSWPC, thanks very much for reporting the issue! Our fix for this issue has been check-in to July fork and planned to finish deployment at Nov, 9th.  So the issue won't impact SAC from with this fix.
We will update the thread when the deployment to SAC Preview is done.
And please let us know if any other further issues. Thanks again!

[2021-10-25 10:47] grcsoftware commented on #1620
Hi all,

We are suddenly getting this issue across our entire estate of Windows 10 Enterprise, Intune managed devices.

Office 365 MSO Version 2109 Build 16.0.14430.20292) 64-bit. Tried the above with no luck unfortunately and not seeing much else on the internet that helps. Any help would be greatly apreciated.

Cheers,

[2021-10-25 11:14] Alex0cean opened #2206 "getDirectPrecedents API call is not robust"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

If you call getDirectPrecedents API on a range that does not contain a formula or only formulas with no precedents, it fails and returns an API error.

see screenshot:

![image](https

[2021-10-25 11:22] 3volutions opened #2207 "Get recurrence edit mode"
Hello

Is it possible somehow to get the edit mode for the appointment if it includes recurrence's? I searched the entire api documentation for the current office js (Version 1.10) but didn't find anything. Did i misss something?

![image](https://user-images.githubusercontent.com/28921672/138686401-c23d643c-10b0-4566-b1c7-119c8b846ffd.png)

[2021-10-25 12:15] bjoernbur commented on #2066
Any updates on that issue? We have exactly the same problem. The call works in Outlook client but not in Web access.

[2021-10-25 12:53] crestbala commented on #2182
Thanks for your insights @chiz-ms , it is working correctly when I set the **Cell Shading** color to "No Color".

Many thanks,

[2021-10-25 14:34] cidev5 commented on #2200
Hi @shaowan-msft,

1. The columnRange address is `M:M` (is expected to be `L:L`)
2. the output from the gist is:
    `The range address was "Sheet3!A1:D1".`
     `The range columnIndex was "0".`

[2021-10-25 16:53] atsopuronen commented on #1620
Hi

We have today received a suspiciously high number of reports of the ADD-IN ERROR from our customers. So far only one user has confirmed their Office version: 16.0.14430.20306.

[2021-10-25 17:38] cidev5 commented on #2200
Hi, it seems the issue was with our template and the named ranges in question getting assigned to different columns somehow (it was altered).

[2021-10-25 17:51] cbishop-fv opened #2208 "Outlook: Desktop "a problem occurred while trying to reach this addin" in modal."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2109 Build 16.0.14430.20292
* Operating System: Windows 10 v 19043.1288
* Browser (if using Office on the web): N/A

## Expected behavior
The user should open the dialo

[2021-10-25 18:02] timmaffett opened #2210 "The ContextMenuText and ContextMenuCell menus DO NOT WORK IN EXCEL (using preview channel)."
[Enter feedback here]
If the simplest example of ContextMenuText or ContextMenuCell are present in an manifest.xml for excel (current preview channel version as of Oct 25, 2021) the addin will not load and get an error.   (This bug has been present since at least Dec of 2020)
Exactly as described here:
   https://github.com/OfficeDev/office-js/issues/1560

that issue was erroneously closed by over

[2021-10-25 18:43] pkkj commented on #2184
@skurian123 would you like to share a screenshot for the popup in Outlook Online,? Thanks.

[2021-10-25 19:59] atsopuronen commented on #2208
The same issue with identical error message details plus a different message variant of ADD-IN ERROR has been reported also by multiple customers of ours, and also here: https://github.com/OfficeDev/office-js/issues/1620.

Something  is broken.

[2021-10-25 20:51] exextoc commented on #2204
We are looking into this issue further, and we will get back to this post with our findings soon.

[2021-10-25 20:53] exextoc commented on #2208
It appears your add-in code in the dialog is not initializing properly.
Can you confirm that you are correctly invoking Office.onReady or Office.initialize in the dialog's JS file before running any code?

[2021-10-25 21:01] cbishop-fv commented on #2208
I would think it would error for users on web and all users if this were the case. It also errors for users that it has worked for previously.

But I can also confirm we check for office before render.

[code]

[2021-10-25 21:07] cbishop-fv commented on #2208
In addition, the page that is rendered in the modal has no dependency on office.js at this point. it is our auth form.

[2021-10-25 21:22] exextoc commented on #2177
We will keep the ideal case in mind as we work on improving this platform. Thanks!
The OWA issue is actively being investigated by the OWA team. I have alerted them to your update to this post.

[2021-10-25 21:31] exextoc commented on #2138
Great! Just curious, are you using our `sessionData` APIs in your add-in?
The potential fix I mentioned is un-related to the `sessionData` API. It is specific to your issue, however, I'm curious whether your add-in is using this API or not since that could be a separate issue?

[2021-10-25 21:41] skerr4311 commented on #2202
Thanks for looking into this issue. While building a body.setAsync work around I have notice that Office.context.mailbox.item.getComposeTypeAsync throws the same error "You don't have sufficient permissions for this action" on Mac.

[2021-10-25 21:44] exextoc commented on #1861
Let me check if we can setup a meeting to discuss this online.

[2021-10-26 01:10] shaowan-msft commented on #2200
Hi @cidev5, glad to know you find the issue with your template. Can you help mark this issue as resolved?

[2021-10-26 01:39] chrisGNTC commented on #1620
We observed the same issue today. We uninstalled the Microsoft Edge WebView2 Runtime 95.0.1020.30 then the issue was instantly fixed with a relaunch of the Outlook Add-in.

[2021-10-26 03:03] chrisGNTC commented on #1620
See this thread for updates and workaround. https://github.com/MicrosoftEdge/WebView2Feedback/issues/1860

[2021-10-26 03:57] chiz-ms commented on #2171
Hi @benjamin-almarza and @kevinjansz, we believe the fix should have arrived production. Please verify and see if it works.

[2021-10-26 04:09] chiz-ms commented on #2206
Hi @Alex0cean, thanks for the report. Based on our investigation, this behavior is considered by design. If you're requesting a new method `Range.getDirectPrecedentsOrNullObject`, please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature. Feature requests on are considered when we go t

[2021-10-26 04:51] neville-jones opened #2209 "Outlook Office.context.mailbox.item.body.prependAsync will put content inside of table if body starts with a table"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop, Office on the Web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2109 (Build 14430.20306 Click-toRun); OOTW Current Channel
* Operating System: Windows
* Browser (if using Office on the web): Chrome

## Expected behavior
The pr

[2021-10-26 06:15] questionhead commented on #2138
Hi
how should i check this?

[2021-10-26 07:25] Alex0cean commented on #2206
Hi,
thanks for your prompt answer.
Can you help us (we're developing an add-in available in the MS store) how we should use this function?
We currently need the direct precedents information whenever a formula changes. But not all formula changes raise a sheet_change (e.g., if you don't touch the formula, but only move one of the precedents). Due to this, we have to get the direct precedents in sh

[2021-10-26 09:13] atsopuronen commented on #2208
https://github.com/OfficeDev/office-js/issues/1620#issuecomment-951514281

[2021-10-26 09:16] benjamin-almarza commented on #2171
thanks. I will check

[2021-10-26 13:07] chiz-ms commented on #2206
Could you share more details about the purpose of keeping track of the direct precedents of all formulas in your add-in?

[2021-10-26 13:34] #2200 closed, assigned to dingjin-ms

[2021-10-26 14:17] exextoc commented on #2163
This is to inform that we could repro this issue and is currently in our backlog. Unfortunately we do not have any timelines for the same.

[2021-10-26 14:21] exextoc commented on #2066
Apologies for the delay in response. We could repro this issue and has been added to our backlog. We will take a look at this in priority. Will keep you posted once the fix is available.

[2021-10-26 14:26] exextoc commented on #2205
This is to inform that a fix has already been made will the rollout will be complete by next week. Will keep you posted on this thread.

[2021-10-26 14:30] exextoc commented on #2177
Can you please share a code snippet which you're using to access the localstorage?

[2021-10-26 16:29] Alex0cean commented on #2206
For each formula which is located in a certain Excel NamedRange (one which we populate with data), we move the formula around, if we change the data in this Excel NamedRange.

Formulas, which have precedents in the same NamedRange, we ignore and we inform the user, that we will ignore this formula.

[2021-10-26 19:40] Lilyliu123 commented on #2196
Hi Zhenhuang,

Sorry for the delay. Yes, it could be the reason.
When the issue happened the worksheet we tried to freeze was not activated.
I have added the code to activate the sheet before calling WorksheetFreezePanes.freezeRows . We are now doing the testing and I'll update to you once we finish the testing.

Cheers
Lily

[2021-10-26 19:44] robert-gavrila commented on #1680
I looked at the video with the repro and I saw the browser window opening. Thank you for sending it. I see that for this particular user none of the processes from the list was present, which cannot happen, is there a mistake in the highlighted line?

[2021-10-26 22:18] ElizabethSamuel-MSFT commented on #2207
@3volutions Can you check if the following article is helpful?

[Get and set recurrence](https://docs.microsoft.com/office/dev/add-ins/outlook/get-and-set-recurrence)

Thanks.

[2021-10-26 23:07] Rick-Kirkham commented on #2210
Thanks for your interest in Office Add-ins. We use the issues of this repo to track problems with the documentation. Since you believe you have encountered a bug, I will transfer this to the office-js repo.

[2021-10-26 23:21] exextoc commented on #2138
You can check if you are using any of the session data APIs detailed [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview#session-data) in your add-in's implementation.

These APIs are in preview, so they could be causing an exception which can prevent the add-in from loading.

[2021-10-27 05:08] hummingbed commented on #964
Pls, am also having the same error message when I tried the samples https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch tutorial. Kindly help out

[2021-10-27 07:01] exextoc commented on #2125
Hello, there is a two step auth enabled for this account and as a result we are unable to log in. Can you please disable it and confirm?

[2021-10-27 09:46] chiz-ms commented on #2206
I'm not sure I understand the scenario, but let me try to rephrase:
- There are a significant number of cells with data in the worksheet, possibly referenced by formulas;
- A large number (otherwise it'll be feasible to call `getDirectDependents` on each cell) of data cells will be moved by your add-in at the same time, but you're afraid of breaking the formulas dependent on them;
- So you would l

[2021-10-27 10:43] barclayadam commented on #2177
[code]

The above is the core of accessing `localStorage` object when it is failing in OWA (and as discussed Desktop). That logger line prints to console with the error from the first post (`Failed to read the 'localStorage' property from 'Window': Access is denied for this document`).

[2021-10-27 10:52] barclayadam opened #2211 "Changing the "From" address clears signatures and does not raise any events"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Overview

We are adding signatures to emails in the `MessageCompose` launch event. The issue is that if during the composing of an email, the user changes the "From" address the si

[2021-10-27 15:21] cbishop-fv commented on #2208
We tracked this back to an issue with our AWS cloudfront settings and react routing. Why the 404 only caused some clients to crash and not others I am not sure.

required fix was:
![image (6)](https://user-images.githubusercontent.com/56599161/139096142-1ddd5066-6994-44be-9ec4-a7d275291a94.png)

[2021-10-27 15:21] #2208 closed, assigned to lliu113, exextoc

[2021-10-27 19:34] iotataru commented on #2190
The issue has been resolved.

[2021-10-27 19:35] iotataru commented on #2191
The issue has been resolved.

[2021-10-27 19:35] iotataru commented on #2192
The issue has been resolved.

[2021-10-27 20:12] albeiroespitia opened #2212 "Office lib taking more than 1100 miliseconds to load in the ItemSend event"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop, Mac, iOS, Office on the Web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 20211018001.04
* Operating System: Windows, macOS, Linux
* Browser (if using Office on the web): Chrome, Firefox, Edge

## Expected behavior
The

[2021-10-27 20:50] wilcotroost opened #2213 "Office.auth... not recognized by typescript/intellisense"
I would like to use the method Office.auth.getAccessToken to create SSO for my TaskPad application for Outlook and Word. Using Vscode and Angular12 my intellisense and typescript compiler do not recognize 'auth' behind Office (Office.auth.getAccessToken).

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac and PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook an

[2021-10-27 22:11] exextoc commented on #2211
Thanks for reporting this issue regarding setSignature and changing the From address. We have put the feature request for a From changed event in on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 5256718

[2021-10-27 22:41] wandyezj commented on #356
@ineale2 How do you envision SRI working with the office.js evergreen model where the CDN can update at any time?

Does your Add-In need to work on Office on the Web? Would it be sufficient if your Add-In loaded the JavaScript from the Desktop client directly instead of a CDN?

[2021-10-27 23:10] exextoc commented on #2213
Office.auth.getAccessToken is enabled in the IntelliSense for TypeScript add-in projects by using the type definitions from [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/office-js). I checked DefinitelyTyped and was able to verify that getAccessToken is defined.

You can enable IntelliSense for a TypeScript project with these [instructions](https://docs.mic

[2021-10-27 23:20] ineale2 commented on #356
@wandyezj Could versions be used in the CDN along with published SRI hashes for each version?

Perhaps instead of `https://appsforoffice.microsoft.com/lib/1/hosted/office.js.` we could hit `https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js.` with a SRI published for 1.1. If 1.2 is published, so too is the SRI and clients could update both at once.

Any loads of subresources of office-js

[2021-10-27 23:25] ineale2 commented on #356
@wandyezj I'm not sure what you mean by "desktop client" in this context. Do you mean via an explicit npm dependency? It would be sufficient to do that, but unfortunately my company has issues with the license not being open source that makes the npm package deny-listed.

[2021-10-28 00:38] Lilyliu123 commented on #2196
Hi Zhenhuang,

Yes. I think it is the case that WorksheetFreezePanes.freezeRows throw an exception when the row is outside of visible range.

I added activating sheet and removed some rows above the target row to make target row visible, then it worked.

Are you going to fix this issue or we need to put the workaround to make it work for now? It is a bit hard to us to use the workaround as I have

[2021-10-28 02:53] zhenhuangMSFT commented on #2196
Hi @Lilyliu123,

Thanks for your precious feedback!

The general exception is indeed confusing and we have been trying to make it more informative. As to whether we will fix the issue, we will need more discussion with our PM since this will be a change on API design. After all, it does not make sense to freeze rows outside the visible range because that would freeze the whole view.

We will keep

[2021-10-28 04:51] Lilyliu123 commented on #2196
Hi Zhenhuang,

Thanks for the clarification. That does make sense.
We have made some changes to make the frozen row visible to solve the issue.

Kind regards
Lily

[2021-10-28 04:51] #2196 closed, assigned to dingjin-ms

[2021-10-28 07:32] krajdeepr opened #2214 "Issue while retrieving date format data from a chart using getDimensionValues from Excel.ChartSeries class"
I generated a chart with date format ( M/D/YY ) data as category

Date | Volume ('000) | Closing Price
-- | -- | --
6/22/2020 | 1,383 | $121.07
6/19/2020 | 3,961 | $122.47
6/16/2020 | 1,466 | $125.15
6/15/2020 | 1,229 | $121.65
6/18/2020 | 697 | $124.16
6/17/2020 | 690 | $124.15
6/12/2020 | 1,195 | $121.91
6/11/2020 | 2,511 | $118.01
6/10/2020 | 1,326 | $129.87
6/9/2020 | 1,419 | $131.87
6/8/2020

[2021-10-28 07:45] wilcotroost commented on #2213
Thanks exetoc. I am using the DefenitelyTyped index.d.ts file according to the same instructions you mention. My intellisense/typescript does not allow me to use Office.auth(.getAccessToken). In this type definition file I can find getAccessToken as part of the Auth interface. But even Office.Auth is not accepted. Did you try this in Angular/Vscode yourself?

I didn't realize that the Auth interfa

[2021-10-28 08:42] yuc014 commented on #2158
Hi, @saivishnutammineni. Thanks for reporting this issue.
After investigation, I thought this is an UI refreshing issue. The right value is saved in the cell, but shown old value on UI. This issue would not affect calculation in the sheet.
I would like give a workaround to unblock your issue.
[code]
I added four lines of code in your 'update' method. Take a look at "add code part one" and "add cod

[2021-10-28 09:07] carlosb1504 commented on #2203
hi @exextoc & @isabela-dominguez - We are also experiencing this behaviour any time that our add-in prevents the onSend action in Outlook Web Access - our custom error message is replaced with the text 'exfc_main'. This represents a fairly major degradation of service for us, so would need this to be dealt with as a matter of urgency. With that in mind do you have any timescales available for a fi

[2021-10-28 11:38] saivishnutammineni commented on #2158
Hi,
Thanks for the workaround. I am glad the issue could be reproduced. We are following a workaround where we update the sheet twice. As currently the number of rows we are dealing with are very less in prod and we started to decrease the row size by restricting it's height we are not seeing the issue. Will certainly try this.

[2021-10-28 13:15] elegault commented on #2125
@exextoc Done

[2021-10-28 14:14] beatrixmorar commented on #1868
This is quite interesting. I have the same issue with the dialog box and localStorage not being shared, both in Excel and Word add-ins generated with Yeoman. I could not find a reason for that, so this issue report was useful.

[2021-10-28 14:30] sureshjoshi commented on #2195
@JinghuiMS Is there any way to get an entire list of the footnotes without calling `context.sync()` on each footnote?

[2021-10-28 17:33] chiz-ms commented on #2214
Thank you for reporting this issue regarding `ChartSeries.getDimensionValues` API. ADO#5533223 is opened in our backlog to track this issue.

[2021-10-28 19:09] wh1t3cAt1k commented on #1749
@grangeryy @keyur32 my apologies for nudging, I would like to ask for an update on this issue!

We have accumulated almost **thirty** (!) custom functions where we are forced to mark logically obligatory parameters as optional simply because they go after some optional ones.

(also we need to implement our own runtime checks that the arguments are in fact present)

We are getting unnecessary suppo

[2021-10-28 19:22] keyur32 commented on #1749
@grangeryy - can you please help? thanks!

[MS Logo]       Keyur Patel
PM, Office Platform
***@***.***
________________________________
From: Pavel Kabir ***@***.***>
Sent: Thursday, October 28, 2021 12:10 PM
To: OfficeDev/office-js ***@***.***>
Cc: Keyur Patel ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Support for non-optional parameters following optional in custom fun

[2021-10-28 20:47] sureshjoshi opened #2215 "Office Online environment corrupted after trying to run script while viewing Footnotes"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I don't know if this is a problem with OfficeJS or Office Online - but something weird is happening, which is making testing/development very slow and painful.

I've attached a video

[2021-10-28 21:09] sureshjoshi opened #2216 "Cannot insert multiple footnotes using Footnote API"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

While using the footnote API, I'm unable to insert more than 1 footnote. I've attached an example where I create 2 paragraphs, and add a footnote to the end of each with every permuta

[2021-10-28 23:34] exextoc commented on #2212
Thanks for reporting this issue. We are aware of these performance issues, and we have work items in development and in the backlog that may improve this in the future. We unfortunately have no timelines to share at this point.

One thing to try would be loading office.js as the first script in your HTML, if you are not doing so already.

[2021-10-28 23:37] madhavagrawal17 commented on #1950
@austinhimler, We investigated this issue. It seems the behavior is by design. We don't parse the Overrides when the current locale is the default Locale. For this scenario as en-US is the default and the current locale, we use the default value of the DisplayName. In order to fix this please update the DefaultValue for the property DisplayName in the manifest.

[2021-10-28 23:47] exextoc commented on #2213
The announcement you referenced is for **OfficeRuntime**.auth.getAccessToken(), which is supported on W/X/P/O today and you can use it now. It is an equivalent to Office.auth.getAccessToken. You should use this API if you are working on multiple hosts since it works on all of them. Please note that in Outlook, this API is not supported if the add-in is loaded in an Outlook.com or Gmail mailbox.

T

[2021-10-29 02:09] JinghuiMS commented on #2195
@sureshjoshi
you can use 'context.document.body.footnotes' to get all footnotes of current body.

    async function getfnfrombody() {
      await Word.run(async (context) => {
        const body = context.document.body;
        const result = body.footnotes;
        result.load("length");
        await context.sync();
        console.log("The count of footnote in body:" + result.items.length);

[2021-10-29 02:17] sureshjoshi commented on #2195
Thanks @JinghuiMS - but I don't have access to all of their text's though. I found a workaround though an hour or so ago. Not perfect, but saves a LOT of time when iterating and reading through hundreds of footnotes.

Thanks for the quick response!

[2021-10-29 02:20] JinghuiMS commented on #2195
That's cool you found a way to unblock yourself.

[2021-10-29 02:32] sureshjoshi opened #2217 "Updating Footnote text with Footnote API has unexpected UI problems"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

While using the Footnote API to try to programmatically replace footnote text content, I'm seeing some "strange" behaviour using the `insertText` API with "Replace" and then `.clear()

[2021-10-29 03:39] grangeryy commented on #1749
@wh1t3cAt1k , really sorry to hear the issues here. Unfortunately, we don't have a quick fix solution for this, which means to support the requirement, it will take some time. Trying to understand more about the impact here, how many of the customers are actually impacted by the 30 functions? Except for the existing 30 custom functions, how many remaining functions also need to make changes? Thx!

[2021-10-29 06:24] exextoc commented on #2139
Update: The fix is available. Request you to confirm this.

[2021-10-29 07:31] chiz-ms commented on #2215
Thank you for reporting this issue regarding `Body.clear` API in footnotes. The issue is confirmed and tracked as ADO#5535646 in our backlog.

[2021-10-29 11:14] Tamilarasan-ThiDiff opened #2218 "outlook calendar screen add-ins not opened ,it is showing error"
when i open outlook add-ins in calendar screen , some time this error came , add-ins not opend
<img width="1280" alt="Screen Shot 2021-10-29 at 12 54 38 PM" src="https://user-images.githubusercontent.com/90826888/139426111-dbdc730d-58e1-48ed-9fb2-b571779e680d.png">

**outlook-web-16.01.js:20 Uncaught TypeError: Cannot read properties of null (reading '_appName')
    at Object.d [as callback]** ,
a

[2021-10-29 11:57] MicGensty commented on #2175
Great, thank you.
@mattgeim do you know any workaround for this issue?
Or, maybe you can share some information when a fix can be expected?

[2021-10-29 12:39] wh1t3cAt1k commented on #1749
@grangeryy we have several hundred clients on our XLL add-in with many of those expressing interest to work on Mac and Online, for which we direct them towards the new OfficeJS based add-in we're developing.

We don't have proper usage statistics yet but I think a sizeable portion of them are already using, or tried out, or plans to use, the cross-platform add-in.

The problem with misleading "opt

[2021-10-29 14:37] exextoc commented on #2202
It should be available in 1.10 api set which is currently in [Insiders](https://insider.office.com/en-us/join/mac).

[2021-10-29 14:48] exextoc commented on #2177
Hi, thanks for sharing the snippet. We tried this and couldn't repro this issue. Will it be possible to share the addin's manifest with us so that we can try to repro this?

[2021-10-29 15:06] exextoc commented on #964
Hi thanks for reporting. Can you please open a new github post with the details for this?

[2021-10-29 16:05] wilcotroost commented on #2213
After adding the @types/office-runtime typefile and putting "office-runtime" in my compiler options in tsconfig.app.json I managed to compile my code with OfficeRuntime.auth.getAccessToken().

Then I followed the instructions at https://docs.microsoft.com/en-us/office/dev/add-ins/develop/register-sso-add-in-aad-v2 and https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/sso-in-o

[2021-10-29 17:58] mattgeim commented on #2175
@MicGensty Sorry for the delay here.

The workaround would be to open the document from teams inside of the Word desktop client or Office on the web instead of viewing it directly in teams.

Right now we are working to enable it but I don't have a timeline to share yet - it is a high priority to enable this scenario in all the places Office documents can be opened. We will announce functionality w

[2021-10-29 20:01] exextoc commented on #1239
This issue was fixed, and the fix should be available in Windows build 19043.1266 or later. Note that it is the Windows Build that matters, not the Office build.

[2021-10-29 20:01] #1239 closed, assigned to exextoc

[2021-10-29 20:02] exextoc commented on #1626
This issue was fixed, and the fix should be available in Windows build 19043.1266 or later. Note that it is the Windows Build that matters, not the Office build.

[2021-10-29 20:02] #1626 closed, assigned to exextoc

[2021-10-29 20:03] exextoc commented on #1713
This issue was fixed, and the fix should be available in Windows build 19043.1266 or later. Note that it is the Windows Build that matters, not the Office build.

[2021-10-29 20:03] #1713 closed, assigned to exextoc

[2021-10-29 20:06] exextoc commented on #1861
Thanks for reporting this issue regarding launch based activation. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-10-29 20:47] exextoc commented on #2213
Yes, Outlook web is the same as outlook.com

For the intellisense issue, we have identified the issue and are working on the fix.

For the issue with SSO, we are reaching out to our partner team for more guidance.

[2021-10-29 23:09] exextoc commented on #2204
We were unable to repro the issue you are seeing. Does this issue repro for multiple users or a single user? Does it repro for multiple machines? Does it repro for all add-ins or just a single add-in?

[2021-10-30 01:08] ononder commented on #2172
This should be fixed, and I was able to verify the issue no longer repro's in the production servers. Thanks for your report and let us know if you have any other feedback.

[2021-10-30 01:08] #2172 closed, assigned to lliu113, ononder

[2021-10-30 01:09] ononder commented on #1668
This should be fixed now. Thanks for the feedback and report.

[2021-10-30 01:09] #1668 closed, assigned to ononder

[2021-10-30 01:12] ononder commented on #1650
This should be fixed now. Let us know if that is not the case. Thanks for the feedback and report.

[2021-10-30 01:12] #1650 closed, assigned to sohailzafar, ononder

[2021-11-01 03:10] chiz-ms commented on #2216
Thank you for reporting this issue regarding `Range.insertFootnote` API. The issue is confirmed and tracked as ADO#5539077 in our backlog.

[2021-11-01 03:13] chiz-ms commented on #2217
Thank you for reporting this issue regarding `Body.insertText` API in footnotes. The issue is confirmed and tracked as ADO#5539078 in our backlog.

[2021-11-01 06:51] RuoyingLiang commented on #2216
@sureshjoshi Thanks for reaching us. The focus will be in the footnote body so the second footnote cannot be inserted. We will take a look at this behavior. Currently, you may consider to set focus to the next footnote's range and insert.

[2021-11-01 07:54] clavx commented on #1894
OWA hostVersion: 20211025002.09

I checked the current status.
I was not able to reproduce the issue with the procedure I reported.
This issue seems to have been resolved.

@exextoc Do you have any updates on this?

[2021-11-01 12:27] barclayadam commented on #1861
So does this mean you can reproduce the issues above? This GH issue became a little muddied with a couple of different issues reported in the end (JS not loading and calls disappearing), can you reproduce both of them?

[2021-11-01 12:30] barclayadam commented on #2211
Thank you @exextoc.

Without this feature, it is impossible for us to do anything in this case and, especially with the signature being removed, it feels broken for our users.

Is not killing the add-in something you would consider separately from the more useful event being added as a feature? If the add-in was not completely stopped we would be able to use current workaround

[2021-11-01 14:00] gummybuns opened #2219 "The Add-in could not be started. Close this dialog to ignore the problem or click "Restart" to try again"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Some of our customers are running in to a specific error message:

This error seems to happen before the add-in even begins

[2021-11-01 14:33] sureshjoshi commented on #2216
Thanks @RuoyingLiang !

But question, isn't that what should happen when I select the `context.document.body.insertParagraph`? Wouldn't that re-focus my range back to the doc?

What you've described is what I assumed was happening, but I guess I assumed that my code automatically re-shifted focus. How would I do this explicitly?

[2021-11-01 14:55] GrumpyAL commented on #1888
Hello,

I have heard from someone else that a fix for this has started to roll out.  Is that true? (I, unfortunately, have no way to test this). You previously stated:

However, I wasn't sure if/when that may make it out to production Outlook for iOS clients (especially given that the REST API is deprecated).  Any update appreciated!  Thanks!

[2021-11-01 15:08] barclayadam commented on #2177
To be clear, I am only talking about this code being used from within an event-based activation event handler.

Included below is a code file + manifest. The code file just tries to access localStorage so would not actually output any value. The below results in (in Chrome v95):

[code]

[code]

[code]

[2021-11-01 22:27] #2168 closed, assigned to nobody

[2021-11-01 22:32] #2187 closed, assigned to nobody

[2021-11-01 22:53] exextoc commented on #2143
We are closing the bug, but please feel free to re-open if you have additional information or a repro to share.

[2021-11-01 22:53] #2143 closed, assigned to croicu, exextoc

[2021-11-02 08:01] clavx commented on #1545
I checked the current status.
I think this issue has been resolved in version 2102.

Semi-Annual Enterprise Channel:
- Resolved: Version 2102 (Build 13801.20808)
- Not resolved: Version 2008 (Build 13127.21792)

Any updates on this?

[2021-11-02 14:47] dmitry-semenov commented on #1680
There should be no mistake here. Are these processes expected when the buggy window is open or loaded add-in is enough?

[2021-11-02 15:51] edfowle commented on #2203
Hi @exextoc, has there been any progress with this? or any timelines you can share? thanks

[2021-11-02 15:52] jeff1haupt opened #2632 "Issues using Azure Static Website with Outlook Add-in"
I was able to deploy my outlook add-in to Azure storage and then set it up as a static website, but outlook is not letting me load the manifest file from the url.  Any specifics on how best to do this would be helpful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b9105a4-a164-1e91-11ad-8ccb4f4d6b2d
* Version Indepen

[2021-11-02 16:30] peronald commented on #2632
Hi @jeff1haupt - What is the error you are getting when trying to load the manifest file with the url?

[2021-11-02 17:21] jeff1haupt commented on #2632
Thanks for the quick response @peronald! Here's the screenshot of what I'm getting:

![image](https://user-images.githubusercontent.com/66330433/139914304-493c26b7-d67c-4b98-9e53-341c666430a6.png)

A lot of stackoverflow boards talk about this being a DNS issue, but since this is coming from my Azure storage account, I wasn't sure that would be an issue.

[2021-11-02 17:31] robert-gavrila commented on #1680
The Add-in is loaded inside one of the processes that I mentioned. If none of them is present it means that we fail to load the add-in. It will be useful if you can provide the session Id / date of the Outlook instance when this happens.  You can find the session Id when you click on the "About Outlook" button.

[2021-11-02 17:58] bferreira commented on #2126
It has been more than a month. Any updates?

[2021-11-02 18:01] keyur32 commented on #2126
Hey there, sorry for missing this.

Please see this documentation: https://docs.microsoft.com/en-us/office/dev/add-ins/design/add-in-commands#supported-platforms.

It appears the customer is not on a supported version of Office that supports the add-in commands feature.

[2021-11-02 18:25] AbidRahman-MSFT commented on #2157
Hey @jrpally - sorry for the delay here. We are unable to reproduce the issue. We have tried to sideload the manifest on our machines and it is working as expected. Are you still having issues?

[2021-11-02 18:29] AbidRahman-MSFT commented on #2137
The documentation has now been updated. Please see the note for the [paragraph property in the body class](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#paragraphs).

[2021-11-02 18:29] #2137 closed, assigned to AbidRahman-MSFT

[2021-11-02 23:24] trigurl commented on #2210
Hi, I'm sorry you are having trouble.  Here's a manifest I created with ContextMenuCell in Excel.  Can you give it a try, it's showing up for me when you right click on a cell at the bottom of the menu.

<?xml version="1.0" encoding="UTF-8"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bt="http://schemas.micros

[2021-11-02 23:28] trigurl commented on #2210
I'm sorry you are having issues, here's a sample manifest with ContextMenuCell in Excel, can you give it a try?  Just rename the file with a .xml extension.   In this example, I created a submenu in the ContextMenuCell, then added one button to it.

[2021-11-02 23:30] trigurl commented on #2210
[ContextMenuOnMenuButton.log](https://github.com/OfficeDev/office-js/files/7464543/ContextMenuOnMenuButton.log)

[2021-11-03 01:11] chanhohang opened #2220 "Excel CustomFunctions automatically executed upon start of workbook"
I follow the tutorial with my add-in and customfunctions sharing data.

https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial

When my workbook is saved with my CustomFunctions as a cells formula. The excel will execute the customfunctions and thus trigger connection to my add-in when the workbook is opened.

What we

[2021-11-03 02:00] ghost commented on #2161
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-03 02:00] #2161 closed, assigned to nobody

[2021-11-03 03:00] ghost commented on #2212
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-03 03:00] ghost commented on #2207
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-03 03:00] ghost commented on #2204
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-03 03:00] ghost commented on #2188
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-03 03:00] ghost commented on #2184
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-03 03:00] ghost commented on #2138
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-03 04:58] xiaochunms commented on #2220
@chanhohang sorry for the issue. Suppose calculation will be not triggered on workbook loading. But there are some exceptions, such as the result saved in workbook is not a final result but an intermediate one, such as #NAME, or the function is a streaming function. May you please share more details about the function? BTW, are you using online version or desktop version?

[2021-11-03 05:11] chanhohang commented on #2220
@xiaochunms

Our function is a streaming function which is getting data from our websocket. and the excel runtime that we are testing with is Desktop office365 version.

[2021-11-03 06:10] xiaochunms commented on #2220
@chanhohang  Thanks for your information. Unfortunately formula calculation will be triggered on workbook loading if it is a streaming function. I don't quite understand well the logic that the function connects to add-in as the function can access the web via websocket in its logic.

[2021-11-03 06:54] exextoc commented on #1888
Hey @GrumpyAL ,

Yes, the fix has been released, and will be available in iOS app 4.2142.0 onwards.

[2021-11-03 07:22] chanhohang commented on #2220
@xiaochunms is there any way to mark a Streaming Function as non-executable until the related add-in is started/loaded?

[2021-11-03 08:08] lordbenz opened #2221 "How to debug on Excel installed version"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

**Task Pane APP**

I faced a problem after click the button on Ribbon and Function is open a new task pane but it does not working and my IEChooser can't see any task pane process on

[2021-11-03 10:06] wh1t3cAt1k commented on #2220
Related: https://github.com/OfficeDev/office-js/issues/2012

Our clients with large workbooks also experience inconvenience due to this behaviour, I suggest that there be implemented an add-in manifest switch that disables automatic recalculation of functions upon start-up.

[2021-11-03 11:05] wh1t3cAt1k opened #2222 "Excel: returning large datasets from a custom function makes it infinitely stuck in #BUSY"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **Excel Online**
* Host [Excel, Word, PowerPoint, etc.]: **Excel**
* Office version number: **latest**
* Operating System: Windows
* Browser (if using Office on the web): Google Chrome latest evergreen

## Current behavior

Functions returning relatively large datasets (~5000 rows, 20 columns) get infinitely stuck with #BUS

[2021-11-03 15:10] #2126 closed, assigned to keyur32

[2021-11-03 17:29] timmaffett commented on #2210
Hi Angela,
   Thanks for the working example!  I was able to add this
<ExtensionPoint></ExtensionPoint> to my manifest and get a working
ContextMenu.  The reason why all the previous examples I had used didnt
work is that they were attempting to place a SINGLE (non-parent) menu item
onto the context menu.  I am still unable to get that working.
Is it possible that only parent menu items (with chil

[2021-11-03 19:23] trigurl commented on #2210
So we only support the following:
1) One submenu added to the ContextMenuText/Cell that contains buttons (this is the sample I provided earlier)
OR
2) Add buttons to ContextMenuText/Cell without being in a submenu.  For example this will add one button to the ContextMenuCell.

Note - if you take my previous sample manifest, replace the ExtensionPoint with this snippet instead you will see one butt

[2021-11-03 19:42] courington opened #2223 "Office.context.mailbox.getCallbackTokenAsync to return a token valid for Graph API mail scopes/endpoints?"
Currently the Office.context.mailbox.getCallbackTokenAsync method returns a token that I can use as an Authorization Bearer token for Outlook REST API calls in my Outlook add-in. Will this method be able to return a token with graph scopes for mail endpoints when the REST API is turned off?

If not, is there another preferred method to achieve Graph API authentication without presenting the end us

[2021-11-03 21:29] timmaffett commented on #2210
Hi Angela,
   Your single button example indeed works for me!!  The only difference
that I could see from my version that was causing the addin to fail to load
(below)

<ExtensionPoint xsi:type="ContextMenu">
            <OfficeMenu id="ContextMenuCell">
              <Control xsi:type="Button" id="ContextMenuButton1">
                <Label resid="MenuLabel" />
                <Supertip>

[2021-11-03 23:31] Theo-Evrard opened #2225 "`Word.Range.expandTo` edits the undo stack"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
This issue is related to the `expandTo` method of the `Range` class from the `Word Javascript API`.

## Your Environment

*

[2021-11-04 01:55] readnotify commented on #2161
My iPad is still locked-up on "initializing".  I've force-closed Outlook and re-started it - same problem.

@nancy-wang - please REMOVE the tag "product feature request" - this is NOT a feature request - this is a bug in your code which prevents all add-ins from working on iPad.

[2021-11-04 01:57] readnotify commented on #2139
I see no difference - my iPad is still locked-up.
I have force-closed outlook and re-opened - also still locked up.

How do we get the fix - do we need to update something manually ?

[2021-11-04 02:00] gitcnd commented on #2139
Still not working for me. What are the steps to apply the fix?

[2021-11-04 05:17] chiz-ms commented on #2222
Thank you for reporting this issue regarding Custom Functions. ADO#5549594 is opened in our backlog to track this issue.

[2021-11-04 06:06] chiz-ms commented on #2225
Thanks you for reporting this issue regarding `Range.expandTo` API. ADO#5549623 is opened in our backlog to track this issue.

[2021-11-04 06:18] gitcnd opened #2226 "setSignatureAsync stopped working in Outlook for Mac: An internal error has occurred."
Calling this worked a few weeks ago everywhere:-

`Office.context.mailbox.item.body.setSignatureAsync with [ "hello", {coercionType:"html"}  ]`

However - it no longer works in the Outlook program on Mac today (it does work on the web though):-

It now always does this:-

`{"status":"failed","error":{"code":5001,"message":"An` internal error has occurred.","name":"Internal Error"}

## Your Environ

[2021-11-04 08:38] clavx commented on #1836
I have checked the current status.
The issue seems to be unresolved.

If the current state is the expected behavior, please specify it in the document.

https://user-images.githubusercontent.com/58804032/140282127-21de3eb4-710c-46f7-b48f-58cc0812d478.mp4

[2021-11-04 12:39] gitcnd commented on #2226
I just tested on Outlook version 16.54 - same problem:

1. My code fails.
2. Both of the Script Lab examples in "Work with client signatures" also fail:-

The setSignature example fails with "permission denied".
The "setSignature with inline image" fails with a different non-explained error (probably caused by the underlying Internal Error)

[2021-11-04 12:41] carlosb1504 opened #2227 "Outlook - Mac 'Old UI' - changing 'From' address during composition breaks office.js functionality"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Changing 'From' address during email composition should not stop calls to office.js APIs from being successful.

## Current Behavior

With the same add-in enabled

[2021-11-04 13:44] christian-sap commented on #2078
@jwhite-venacorp thanks a lot for reporting this issue. Our add-in users run into the same error and I did not manage to reproduce it so far. After I found your reported issue I opened a second workbook and then the error comes immediately. You saved me a lot of time :-)

[2021-11-04 13:45] christian-sap commented on #2078
@honxmsft Can you please tell us when the fix will be released in the different Excel channels?

[2021-11-04 15:35] svdsande opened #2228 "Add or remove column in table with vertical text direction crashes"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 2110 (build 14527.20234)
* Operating System: Windows 10 version 21H1
* Browser (if using Office on the web): Not applicable

## Expected behavior
After you just inserted an HTML table

[2021-11-04 16:54] timmaffett commented on #1560
In response to the issue I was having Angela from MS provided me with these working examples:

This one adds a parent menu with children to the cell context menu :

 <OfficeMenu id="ContextMenuCell">
                <Control xsi:type="Menu" id="myMenuID">
                  <Label resid="residLabel" />
                  <Supertip>
                      <Title resid="residLabel" />

[2021-11-04 18:23] donquijotedelamancha commented on #1593
This issue continues to reproduce for Excel on the Web.
Is there any updates on this?

[2021-11-05 07:37] clavx opened #2229 "Outlook on the web: Execute again when the window width is changed while the On-Send feature is active"
# Provide required information needed to triage your issue

If you change the window width while the On-Send feature is active, the add-in is re-executed as if you pressed the send button again.

This issue occurs when you widen the browser's window and not when you narrow it.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPo

[2021-11-05 08:12] clavx commented on #2143
I have the same issue.
Edge WebView2 (Chromium) works fine, but Edge WebView (EdgeHTML) does not.

This issue seems to be caused by changing `location.hash` after calling the `addHandlerAsync` method.

You can reproduce this by editing the `App.tsx` file with the code generated by `generator-office`:
[code]

Test environment:
- Current Channel: Version 2110 (Build 14527.20234)

[2021-11-05 08:40] exextoc commented on #1894
Hey @clavx ,

Yes, this issue has been fixed and is no longer reproducible. We are closing this bug. You can reopen it if it needs further investigation.

[2021-11-05 08:40] #1894 closed, assigned to exextoc

[2021-11-05 08:43] exextoc commented on #2139
Hey @gitcnd ,

Can you please check what the version of your Outlook for iOS is? This fix has been available since 4.2142.0 onwards. If possible, please try to add your accounts again to Outlook.

[2021-11-05 08:45] exextoc commented on #2173
Hey @hello-chenchen ,

Please do confirm if there's further help you need from us, or we will close this issue.

[2021-11-05 08:48] exextoc commented on #2203
Hey all,

We are working on a fix for this bug, and will inform you as soon as the fix is available.

[2021-11-05 12:49] mohamadAtlassian commented on #2145
Is there any deadline for this issue ?. We are using this dialog in our product.

[2021-11-05 12:53] mohamadAtlassian commented on #2145
and still with no fix since 2019.

[2021-11-05 14:50] nbreath commented on #2204
So we kind of fixed it. To anyone that is facing something similar in `Outlook 2016`, don't try to handle/convert the `getAsync callback` into `Promises`. Even if you added polyfills for promises for IE11.

It will work for `Outlook 2019` onwards but will raise the code 5010 in `Outlook 2016`.

[2021-11-05 15:28] GrumpyAL opened #2230 "Outlook for Android 4.2142.1 (42142810) will not load manifest with uppercase GUID in <id> tag"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform: Android
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 4.2142.1

[2021-11-05 15:48] beatrixmorar opened #2231 "OSF.DDA.Error: Permission denied when opening dialog"
When launching a dialog from our Excel or Word add-in on desktop using the Office.context.ui.displayDialogAsync API, the following error is logged to the browser console:

## Your Environment
* Platform: PC desktop
* Host: Excel and Word
* Office version number:  Microsoft 365 MSO (16.0.14326.20384) 64-bit
* Operating System: Windows 10 Pro

## Expected behavior
The error not to appear when a dial

[2021-11-05 18:46] #2184 closed, assigned to nobody

[2021-11-05 18:54] exextoc commented on #2219
Thanks for reporting this issue. Are you facing this issue for all add-ins or specific add-ins? Could you try installing other addins to confirm if this is consistent across all addins? Also, could you try upgrading your outlook to a more recent version to see if the problem persists. A newer version for Semi-Annual Channel should be present for you to upgrade to

[2021-11-05 22:53] croicu commented on #2143
Edge WebView2 (Chromium) should be used by default by Office Version 2110, and it should be installed by Office setup.

[2021-11-06 04:53] gitcnd opened #2232 "The text "Bottom of Form" shows up when not wanted sometimes..."
## Expected Behavior
MS-Word should not insert text we do not want.

## Current Behavior
If a &lt;form> element is present in HTML when inserted into an outlook email (when MS-Word is the editor), the unwanted text "Bottom of Form" is added to the email by MS-Word.

## Steps to Reproduce, or Live Example
Using outlook (the App, not OWA):
Office.context.mailbox.item.body.setAsync( "a &lt;form> here

[2021-11-06 05:00] ghost commented on #2212
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-06 05:00] #2212 closed, assigned to nobody

[2021-11-06 05:00] ghost commented on #2207
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-06 05:00] #2207 closed, assigned to ElizabethSamuel-MSFT

[2021-11-06 05:00] ghost commented on #2188
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-06 05:00] #2188 closed, assigned to macOutlookExtensibility

[2021-11-06 05:00] ghost commented on #2138
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-06 05:00] #2138 closed, assigned to exextoc

[2021-11-07 12:38] oabdelkarim commented on #1184
Any updates on this!?

[2021-11-07 15:32] exextoc commented on #2226
Hey @gitcnd ,

We are unable to reproduce this issue in the Outlook for Mac version that you have mentioned in the new Mac UI. If your add-in is hosted on an endpoint, could you please share a manifest for an add-in where you see this issue? Are you using the old Mac UI?

[2021-11-07 16:52] exextoc commented on #2223
Hey @courington ,

The authentication to Graph API is only possible through [SSO API ](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph)or through [Dialog API](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph-without-sso). I have linked the documentations here.

[2021-11-07 17:26] exextoc commented on #2177
Hey @barclayadam ,

Sorry for the delay in response. We are still investigating this issue and we will keep you posted.

[2021-11-07 23:22] gitcnd commented on #2226
Did you successfully install Script Lab ?
Which one(s) of the setSignature examples did you test and see working?
IT sounds like you did not test the right thing to me: this is still verified as not working right now, one 2 different Macs, with 2 different accounts, and 2 different Outlook's (the latest version for High Sierra, and also the latest version for Mojave).

![Screen Shot 2021-11-08 at

[2021-11-08 02:21] chiz-ms commented on #2221
@millerds or @mattgeim, could you help to assign this issue to the correct owner? Thanks.

[2021-11-08 04:12] exextoc commented on #2125
Hey @elegault ,

Sorry for the delay, but we were unable to load the add-in in your mailbox (I am assuming that the only custom add-in installed is the one). Is the add-in live right now?

[2021-11-08 04:28] exextoc commented on #2218
Hey,

Hey, if your add-in has been hosted online, could you share the manifest with us so that we can test this out?

[2021-11-08 05:41] RuoyingLiang commented on #2078
@honxmsft could you help to check if the fix is in prod? Thanks

[2021-11-08 07:46] exextoc commented on #2205
@hello-chenchen We have fixed the bug and the fix is available in build 4.2142.0 or later. Kindly test it and let us know your feedback.

[2021-11-08 07:54] exextoc commented on #2203
@edfowle Thanks for your patience. We have fixed the bug from our end. Can you please try it once and let us know your feedback?

[2021-11-08 08:07] clavx commented on #2143
This is the result of the test with the WebView2 runtime uninstalled.

Microsoft 365 Apps in Current Channel:
- Works: Version 2106 (Build 14131.20332) and earlier
- Does not work: Version 2107 (Build 14228.20204) and later

If you recommend the use of Edge WebView2 (Chromium) for Microsoft 365 Apps version 2110 and later, it would be helpful if you could clearly state this in the documentation so

[2021-11-08 09:33] edfowle commented on #2203
@exextoc looks good to me, thanks. I'll close this once our testers have taken a look

[2021-11-08 11:23] exextoc commented on #2177
@barclayadam Thanks for your patience. We are unable to reproduce this issue with the manifest that you have shared, as the HTML page rendered points to an expired domain. Can you please verify and share the updated manifest?

And meanwhile, we tested the particular code snippet that you have shared and its working as expected.

try {
        const item = window.localStorage.getItem('stored-value'

[2021-11-08 11:42] Lakshman176 opened #2234 "Excel add-in page is constantly reloading"
####  **Excel Add-in page reloading continuously **

Hi Team,
I have developed **Angular with Excel add-in**.
[Excel add-in page is constantly reloading.zip](https://github.com/OfficeDev/office-js-docs-pr/files/7496609/Excel.add-in.page.is.constantly.reloading.zip)

I always have a problem with the reload issue.

### Reproduce steps:
- Manifest file created.
- Created 3 groups as a custom tab
- Cr

[2021-11-08 12:08] exextoc commented on #2226
@gitcnd  We have rolled out a fix for this as a part of the 1.10 API set. This is currently in [Insiders](https://insider.office.com/en-us/join/mac). Can you please check the insider build and let us know if it's working for you?

[2021-11-08 12:19] gitcnd commented on #2226
Do I use Beta or Preview channel for that?
FYI - here's the errors again from Big Sur (new and old UIs):-

<img width="322" alt="Screen Shot 2021-11-08 at 10 12 06 pm" src="https://user-images.githubusercontent.com/4301826/140740830-a764ea4d-f861-4960-ba32-67544c9f5d85.png">

<img width="326" alt="Screen Shot 2021-11-08 at 10 13 20 pm" src="https://user-images.githubusercontent.com/4301826/1407408

[2021-11-08 12:43] gitcnd commented on #2226
Thanks - half way there:  That works now in Big Sur Outlook 16.56 from the beta channel in the "New Outlook" mode,
however - is is still broken if the New mode is not turned on:-

<img width="317" alt="Screen Shot 2021-11-08 at 10 40 00 pm" src="https://user-images.githubusercontent.com/4301826/140744021-634b4439-b729-4146-b838-56f497853593.png">

<img width="312" alt="Screen Shot 2021-11-08 at 10

[2021-11-08 13:13] alexuaua commented on #915
@zetixar have you got this issue resolved? I've similar issues while playing with SharedRuntime, and nowadays it it the only way to save data locally with Office on the web add-ins (localStorage does not persist its state on browser reload: even when Storage Access API grants access, it gets cleaned on exit for iframes)

[2021-11-08 15:21] jonathanstokes commented on #256
This worked for me, on MacOS Big Sur (11.6.1).  I deleted `~/Library/Containers/com.microsoft.Word`, and then I could side-load in the Desktop version again.

[2021-11-08 15:35] wh1t3cAt1k commented on #256
@grangeryy @keyur32 pinging for notice, there seem to be a few votes for additional investigation of this issue, see @ralphtheninja 's comment...

[2021-11-08 15:37] exextoc commented on #2229
@clavx  Thanks for reporting this issue regarding the activation of onSend when the width of the window is changed. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Outlook Web: 127464

[2021-11-08 15:49] amrjnarayan commented on #2189
Hello.. Has the fix been released or is on track to release this week?

[2021-11-08 16:10] tobiasviehweger opened #2233 "Office add-in taskpane / dialogs open in default browser"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Operating System: Windows 10
* Browser (if using Office on the web): IE WebView

![image](https://user-images.githubusercontent.com/2111803/140776961-c6180b70-6c07-4ba5-b440-13c9bc23df61.png)

## Expected be

[2021-11-08 16:11] tobiasviehweger commented on #2233
This is our manifest, as listed in AppSource: https://office365.yasoon.com/jira/manifest-store.xml

[2021-11-08 16:50] barisbikmaz commented on #2125
Same for us. We also get a CSP error in Online
![Mail Signature](https://user-images.githubusercontent.com/6338132/140783764-5c663e48-77b9-4517-9bfe-c29a6ccf1d57.gif)

[2021-11-08 17:21] exextoc commented on #2230
@GrumpyAL Thanks for raising the issue. We are unable to reproduce the issue. Can you please share your manifest so that we can understand it better?

[2021-11-08 17:48] AlexJerabek commented on #2234
Hi @Lakshman176,

Thank you for reporting this issue. I'm going to transfer it to the [office-js repo](https://github.com/OfficeDev/office-js/issues) where product issues are addressed.

[2021-11-08 18:01] jasonclg commented on #710
Hi @RuoyingLiang, do you have the doc for the new behavior?

[2021-11-08 18:01] ghost opened #2235 "Excel.TableCollection.GetItemOrNullObject(key) returning table from other worksheet."
# Provide required information needed to triage your issue
When calling Excel.TableCollection.GetItemOrNullObject(key) on a TableCollection for a given worksheet, it is returning tables that are part of a different worksheet in the workbook. Even though we are not calling GetItemOrNullObject on a TableCollection of the entire workbook.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office

[2021-11-08 18:22] ghost commented on #2235
Closing issue because I did not read enough. I didn't realize table names had to be unique across the workbook and not just a worksheet. Apologies for wasting anyone's time.

[2021-11-08 18:22] #2235 closed, assigned to nobody

[2021-11-08 18:59] millerds commented on #2221
The message in the toolbar "Refinitive Add-in is working on your Sign In" looks like something about a specific add-in and not from Excel.

Newer webview technology used to render the taskpane is not going to work with IEChooser.  Instead you can use VS Code  (debugger tab) or you can use the attach debugger command from the taskpane menu to get the newer devtools.

[2021-11-08 19:10] GrumpyAL commented on #2230
[sample.zip](https://github.com/OfficeDev/office-js/files/7499463/sample.zip)

Hello!  Here are two sample manifests.  These are slightly modified versions of the Token Viewer demo so that it shows up on mobile devices.  If I load both of these, I can see each one in OWA but only the lowercase one in Outlook for Android.

[2021-11-08 19:11] jonmoshier commented on #2223
Hey @exextoc,

We're looking at using the SSO API but are concerned that the [getAccessToken endpoint](https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.auth?view=excel-js-preview#getAccessToken_options_) doesn't currently support outlook.com.

Is there a workaround for this or will outlook.com eventually be supported?
![image](https://user-images.githubusercontent.com/7

[2021-11-08 19:12] pkkj commented on #2231
Hi, would you like to confirm that the URL is defined in the manifest, or it has the same host name as parent? You may find more useful information in this [document](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=excel-js-preview):

_The domain must be either the same domain as the host page (including protocol and port number), or it must be registered in the `AppDomains`

[2021-11-08 21:25] ElizabethSamuel-MSFT commented on #1287
@cattermo Thanks for asking about this and for opening issue https://github.com/OfficeDev/office-js/issues/1391. We verified that PdfFile is actually now supported in Word on iPad and so your problem is unrelated to the original issue reported here. We're updating the documentation in PRs https://github.com/OfficeDev/office-js-docs-pr/pull/3068 and https://github.com/DefinitelyTyped/DefinitelyType

[2021-11-08 21:31] exextoc commented on #1861
Going back to your issue description, there are 2 problems you mentioned.

For the second one, we have internal bug tracking it (Office Bug # 5551163). We are actively working on this, however, we have no timelines to share regarding it. This is the bug that results in the error infobar with the message `"We're sorry, we couldn't access [add-in name]. Make sure you have a network connection. If th

[2021-11-09 06:07] christian-sap commented on #2078
Hi @RuoyingLiang , @honxmsft, this is a severe issue for our customers. Could you please provide a detailed plan, when the fix will be released in the different Excel channels? Is there a workaround available?

[2021-11-09 07:09] beatrixmorar commented on #2231
Hi, yes, the host and dialog are using the same domain and port: https://localhost:3000.
An example of the HTTPS URL that we pass to the Office.context.ui.displayDialogAsync method is "https://localhost:3000/dialog.html?page=login".

[2021-11-09 07:24] exextoc commented on #2226
@gitcnd Thanks for verifying it in the Insider build. Mailbox 1.9 and above are only supported in the new UI. And since this fix is a part of the 1.10 API set we have supported this in the new UI.

[2021-11-09 08:40] exextoc commented on #2230
@GrumpyAL Thanks for reporting this issue and we are able to repro the issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: Eg: Outlook Android: 5558959

[2021-11-09 08:55] s-pilkhwal opened #2236 "Add-ins not showing up on Outlook android app"
Similar to issue #676, addin is not showing on Outlook android v4.2142.2 but its showing up on v4.2141.0

* Platform: Outlook for Android
* Host: Outlook
* Outlook app version number: v4.2142.2

## Expected behavior
Addin should load and show up along with other installed addins

## Current behavior
Apart from "Send to OneNote" addin, no other installed addin is loaded.

## Useful logs
- Already i

[2021-11-09 09:25] yuc014 commented on #2189
Hi, @amrjnarayan @jnSWPC .
Our fix is already deployed to SAC Preview.
If you still see the issue, please let me know, I will keep follow up. Thank you.

[2021-11-09 09:51] AlexPhilippov commented on #2051
@xiaochunms, any update on this? This is causing a lot of trouble since users work with both types of add-ins on a daily basis.

[2021-11-09 11:16] honxmsft commented on #2078
@christian-sap

It should be included in Oct. fork. The Oct. fork plan is:
[code]

You can try it now if you have Microsoft Current Channel (OuterRing) excel, which is shipping the version 2111 (Build 14701.20060 Click-to-Run).

[2021-11-09 11:18] exextoc commented on #1557
@vitaliimyrvoda , Thanks for your patience. We are unable to reproduce the issue at our end.

Can you please verify if it's still happening to you? If so, we would like to collect the logs to understand the issue more.
Follow these steps to get us the incident ID:

1. Repro the issue
2. Click on the Help tab from Outlook Menu
3. Click on collect Diagnostics
4. This will generate an Incident ID, sh

[2021-11-09 11:27] exextoc commented on #2236
@s-pilkhwal Thanks for reporting the issue. We are unable to reproduce it.
Can you try installing add-ins other than Report Phishing and Message Header Analyser and let us know your feedback, please?

[2021-11-09 12:44] exextoc commented on #2209
@neville-jones Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue in the short term.
As a workaround, kindly insert a new line before calling Office.context.mailbox.item.body.prependAsync()

We recommend you to upvote or create a new [Tech Community](http://aka.ms/M365dev-suggestions) item, this will give us visibility of the commonality of it

[2021-11-09 13:49] s-pilkhwal commented on #2236
@exextoc  I tried with Trello app and its loading up fine, any idea why "Message Header Analyzer" isn't loading up ? That might help me figure out whats wrong with my addin manifest. I have been using the "Test Button" addin since last 4+ years and recently after v4.2142.1 the addin stopped loading on Outlook Android.

[2021-11-09 20:07] elegault commented on #2125
My apologies @exextoc, I didn't know you needed the add-in to be deployed and I thought you had some other mechanism for testing. I have now deployed an add-in that is live from GitHub pages that will be activated when you compose a new email or appointment/meeting request.

[2021-11-09 21:01] exextoc commented on #2233
Does this issue repro 100% of the time for the customer? If possible can you share a repro video or screenshot? Does this repro on any other platforms? (OWA, Mac?)

It might also be worth checking if you are making any window.open calls in your code?

[2021-11-09 22:13] tanmay-joshi-tfs commented on #1822
I see this error too when I try side-loading oneNote add-in in chrome.

[2021-11-09 22:16] tobiasviehweger commented on #2233
Hi @exextoc,

- Happens 100% of the time in the virtualized environment (Citrix, RemoteDesktop, not exactly sure)
- Happens only on Windows (saw it working on OWA)
- It still uses the IE 11 webview, despite the newish Office version
- We do make some calls to window.open, but not at that early point. We have 3 ribbon commands, 2 use a ribbon functions file to call displayDialogAsync with our code,

[2021-11-10 00:12] #2209 closed, assigned to exextoc

[2021-11-10 00:58] gitcnd commented on #2226
I don't quite understand - why are you not fixing this bug properly ?

Are you not allowed to go back and fix bugs in 1.9 or earlier ?

How are we supposed to ship products when they "sometimes will not work" because broken things are left in the API ?

[2021-11-10 01:35] GregReddick opened #2237 "Excel formatting cell color affects cell not in range"
Changing the color of a range of cells affects a cell that is not in the range.

This one is really weird and kind of unexplainable. Formatting a set of cells to one color affects a cell that is outside the range of cells that was messed with. I have isolated the code down to just the parts of my code that show the problem.

## Your Environment
Windows Excel. Microsoft® Excel® for Microsoft 365 MS

[2021-11-10 03:39] jasonhieu1905 opened #2238 "getAsync recipient from mailbox item (cc, to, bcc ...) return different results between outlook web and outlook for Mac and for Windows."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Outlook web, Outlook Mac
* Host [Excel, Word, Po

[2021-11-10 04:45] exextoc commented on #2236
@s-pilkhwal  Thanks for the confirmation. "[Message Header Analyzer](https://appsource.microsoft.com/en-us/product/office/WA104005406?tab=DetailsAndSupport)" is currently not being supported in Android.

And, we have been facing an issue with the Private add-in installation and we are currently working on it. Unfortunately, we don't have timelines to share now, but we will keep you posted once it'

[2021-11-10 05:55] s-pilkhwal commented on #2236
@exextoc  any specific reason you guys have found on why private add-ins aren't working ? Is it something related to the Outlook for Android release as if I install v4.2141.0 my add-in is working as expected. Is there any why by which I can help you to get some more information on this issue ?
Is there an internal bug already added for this issue?

[2021-11-10 05:59] exextoc commented on #2238
@jasonhieu1905 Thanks for reporting this issue regarding the getAsync recipient results. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id:: Outlook Web: 134393, MAC: 5563127

[2021-11-10 06:00] s-pilkhwal commented on #2219
I have a few users facing similar issue, I have checked for IE protected mode, tried repairing "Microsoft Edgewebview 2 runtime" installation but still no luck. I tired installing "Message Header Analyzer" and its too facing the same error.

The user is running on:
OS - Win10 20H2 (19042.1165) 64 bit
Outlook version - M365 MSO 16.0.13801.21002 64 bit
Edge - 95.0.1020.44
IE - 19042.1165

[2021-11-10 06:12] exextoc commented on #2236
@s-pilkhwal It is related to the latest Android release. We are already tracking this issue at Internal bug id: 5558959. We will update you once the fix is rolled out. Thanks for the support :)

[2021-11-10 07:05] chiz-ms commented on #2237
Thanks for reporting this issue regarding formatting APIs. The issue has been confirmed and tracked as ADO#5563249 in our backlog.

[2021-11-10 07:09] christian-sap commented on #2078
@honxmsft thanks for the information. How can I install the "Current Channel (OuterRing)"? It is not documented, see https://docs.microsoft.com/en-us/deployoffice/update-channels-changes.
I installed the "Current Channel (Preview)" but only got version 2110 (14527.20234).

And what do you mean with "Production"? We need the fix asap in all the channels, especially in "Semi Annual Enterprise" and "

[2021-11-10 09:01] AlexeyVanyukevich opened #2239 "range.getHTML() returns wrong for footnotes and endnotes"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have an issue with my Word-office.js-Add-in, implemented with Angular.

When I call range.getHTML() in my macOS Big Sur & Word 16.54 setup the html contains wrong values for endnote

[2021-11-10 09:51] edfowle commented on #2203
confirmed fixed

[2021-11-10 09:51] #2203 closed, assigned to exextoc

[2021-11-10 13:02] jonathanstokes opened #2240 "insertHtml() in Word does not honor margin-left style in Office on the web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When `insertHtml()` includes a `<p style="margin-left: 40px">`, it appears indented as expected on Desktop Word, but does not get indented in the web version of Word.

## Environment

[2021-11-10 13:15] ubabukos opened #2241 "Cannot edit ContentControl tags in Word Online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Currently unable to edit some content controls in Word Online. Attached is below is a sample document with a citation and th

[2021-11-10 14:43] s-pilkhwal commented on #2236
@exextoc  is this issue also observed on iPhone Devices ?

[2021-11-10 15:05] gummybuns commented on #2219
To follow up on this strange issue, as I mentioned before the customer's IT Department fixed this problem by updating the registry

[code]

Which has `Internet Explorer` in the path. We also were able to this screen shot of the add-in working on the user's computer. The picture below is of a Dialog window that was opened via the `displayDialogAsync` method.
![Webex 2021-11-08 at 10 35 52 AM](https

[2021-11-10 16:29] massonj commented on #2234
Hi @Lakshman176

Thank you for this report. Do you have an example add-in you can share with us which shows this behavior? That will be super helpful in tracking this down.

Thanks

[2021-11-10 18:26] pkkj commented on #2231
Without looking your code, I am not able to figure out what's happening. But I would like suggest trying my sample add-in in your environment. Here is the manifest: [Manifest](https://kepengtestapp.azurewebsites.net/manifest/AzureDialogTest.xml) You could side load this taskpane add-in and verify whether it's working.

![image](https://user-images.githubusercontent.com/7818153/134721357-41785289-0

[2021-11-10 18:34] EdwinStraver opened #2242 "Edge (Webview2) widens the dialog to fit the title"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When opening a dialog using the JS API (Office.context.ui.displayDialogAsync) , and specifying the width and height, Edge (WebView2) seems to ignore the width, and widen the dialog, i

[2021-11-10 20:42] exextoc commented on #2233
The Office version is quite recent so this could have something to do with still using IE, we would recommend the customer to upgrade to WebView2 and see if the problem still persists. [Here ](https://docs.microsoft.com/en-us/deployoffice/webview2-install) is the link to our WebView2 documentation. It is also listed in our documentation [here ](https://docs.microsoft.com/en-us/office/dev/add-ins/c

[2021-11-10 21:07] cody-lettau commented on #991
@exextoc what is meant by the "addin-backend"? I am running into this for a customer with an on-prem setup using an add-in in OWA. We are trying to figure out how to make the REST API calls work in OWA for that customer.

[2021-11-11 04:06] chiz-ms commented on #2240
Thanks for reporting this issue regarding `Range.insertHtml` API. The issue is now tracked as ADO#5566492 in our backlog.

[2021-11-11 05:49] exextoc commented on #2232
@gitcnd  Thanks for reporting this. We are unfortunately not able to reproduce the issue. Can you please share a small video of the bug to 'OutlookAddins@M365x693897.onmicrosoft.com'?

[2021-11-11 06:45] exextoc commented on #2236
@s-pilkhwal , No. We are not experiencing this issue in iOS.

[2021-11-11 07:15] beatrixmorar commented on #2231
Thanks for your response. I tried out your sample add-in and the error is there, both when opening dialog from same origin ("launchDialogSameOrigin") and from different origin ("launchDialogDifferentOrigin"):

![Screenshot_1](https://user-images.githubusercontent.com/52167887/141254197-39eb9df6-717e-4d1e-817e-930a7339d165.png)
![Screenshot_2](https://user-images.githubusercontent.com/52167887/1412

[2021-11-11 07:53] libjosep opened #2243 "Cannot delete content control manually using keyboard in browser version"
I am using `insertContentControl` function to insert a content control to current selection. I am also making it not editable by setting `cannotEdit = true`. If I select the whole paragraph where I insert this content control and press Backspace or Delete key on the keyboard, it is not deleting it. This happens only in the browser version.

## Your Environment

* Platform [PC desktop, Mac, iOS, Of

[2021-11-11 08:00] exextoc commented on #2226
We support API requirement sets 1.9 and above only on the New Outlook for Mac as captured in the documentation (screenshot below). We are no longer adding new Add-in capabilities to the old UI.

![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/28549921/141260392-62377e1b-c200-4676-ad67-a2f1bd01deff.png)

[2021-11-11 08:02] Fruch6807 opened #2244 "Inconsistent behavior between platforms when editing paragraphs with Word.Range"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When a paragraph tracked by a `Word.Range` object is split in two, both of them should be associated with the same `Word.Ran

[2021-11-11 08:19] JunielKatarn commented on #1184
This issue was fixed over a year ago. Feel free to close.

[2021-11-11 08:27] clavx opened #2245 "Outlook on the web: Custom property returns value of the item in another folder"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
For threaded mail, selecting the same message in another folder does not change the value of the custom property.

I think t

[2021-11-11 08:55] chiz-ms commented on #2243
Thanks for reporting this issue regarding content control in Word Online. ADO#5567218 is created in our backlog to track this issue.

[2021-11-11 09:00] exextoc commented on #2125
@elegault  Thanks for your patience. We have fixed the bug from our end. Can you please try it once and let us know your feedback?

[2021-11-11 09:07] chiz-ms commented on #2244
Thanks for reporting this issue regarding `Word.Range` in Word Online. ADO#5567236 is opened in our backlog to track this issue.

[2021-11-11 09:09] RuoyingLiang commented on #2243
Hi Chi,

Could you assign Word API related issue to the rotation contact in Word API fc? I don't have bandwidth to go through the issues and may delay the response...

Thanks
Ruoying

From: chiz-ms ***@***.***>
Sent: Thursday, November 11, 2021 4:55 PM
To: OfficeDev/office-js ***@***.***>
Cc: Ruoying Liang ***@***.***>; Assign ***@***.***>
Subject: Re: [OfficeDev/office-js] Cannot delete content c

[2021-11-11 09:10] RuoyingLiang commented on #2243
Ruoying Liang would like to recall the message, "[OfficeDev/office-js] Cannot delete content control manually using keyboard in browser version (Issue #2243)".

[2021-11-11 12:27] barisbikmaz commented on #2125
Works again for me. Thanks.

[2021-11-11 12:43] exextoc commented on #2201
Thanks for your patience. We have updated the document. Kindly reopen the bug if you have any other queries.

[2021-11-11 12:43] #2201 closed, assigned to exextoc

[2021-11-11 12:56] exextoc commented on #2245
Thanks for reporting this issue regarding the custom property. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Outlook Web: 134546

[2021-11-11 14:32] tobiasviehweger commented on #2233
To be totally honest, I don't think thats the only factor.. The customer has shown me that it's working on their non-virtualized machines (other team), where the exact same version of Office is installed and IE is also used as a webview, and it's working on these machines.. Still trying to get hold on the video/screenshots - any possibility to share those privately?

[2021-11-11 17:49] Earthman55 opened #2246 "ScriptLab for Outlook Set Selected Text fails with error"
Tried running Set Selected Text sample in ScriptLab for Outlook and experienced failure with message:
[ERROR]: [
    "Object doesn't support property or method 'setSelectedDataAsync'",
    "https://script-lab-runner.azureedge.net/",
    57,
    5,
    TypeError: Object doesn't support property or method 'setSelectedDataAsync'
]

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the

[2021-11-11 20:51] pkkj commented on #2231
I understand. This exception is a false alarm caused by an internal exception in Office code and we will be working on it. Generally speaking this won't break any functionalities for the dialog API, so you may just ignore it. Thanks.

[2021-11-11 21:41] exextoc commented on #2246
Can you also provide your office build number? Is the add-in using IE or WebView? But based on our documentation [here](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting#:~:text=Error%3A%20Object%20doesn%27t%20support%20property%20or%20method%20%27defineProperty%27), this could be the common error listed in the table. Please try the resolution to check for com

[2021-11-12 05:30] MiaofeiWang commented on #1688
@alexuaua I tried again on Excel iPad: the result is same with that on Excel Windows and Excel Online. My Excel build on iPad is Version 2.55 (21102904).
Close this case as fixed.
![image](https://user-images.githubusercontent.com/28795134/141414832-02c482d9-751b-490a-961d-ea9651892267.png)

[2021-11-12 05:30] #1688 closed, assigned to gingerjia

[2021-11-12 05:58] donlvMSFT commented on #2169
The fix already been released to public clouds, @damogongzi , please help verify and see if it works.

[2021-11-12 06:01] gingerjia commented on #2154
@nsakar For SAC Preview Channel, we have deployed the fix and validated it works as expected.
Please let me know if you have any further issues. Thanks!

[2021-11-12 06:23] exextoc commented on #991
"Add-in backend" denotes "Addin-server" over here. We currently do not support REST calls in on-prem, and kindly use EWS calls. For more info, kindly check https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api#call-the-api

[2021-11-12 10:21] Hamish-A-SB opened #2250 "On-send event withdrawn on browser window resize Outlook on the Web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

As far as I can tell, my code is fine and it is something in Outlook on the web that is causing the problem so I am submitting this issue.

The problem is for Outlook on the web in al

[2021-11-12 10:41] els-ts commented on #2241
@massonj @RuoyingLiang - this it not really a "product feature requests" but a "bug report".

In general this feature is available and works most of the time, however we've recently discovered that there are some ContentControls that throws this error when we try to modify them. We've managed to find the CC that is consistently throwing this error (at least for us) and now asking for investigation

[2021-11-12 10:57] AlexPhilippov commented on #2051
Updates on my comment regarding reproducing the same issue when calling VBA-addins. Apparently, you can add VBA-addin as a macro on the Quick Access toolbar and then disable its loading in the Excel Add-Ins dialog. Then if you restart Excel when you'll be calling macros from the Quick Access toolbar it will load VBA add-in and cause the same issue - office-js custom functions will fail to register

[2021-11-12 13:14] vimal-darji-ifour opened #2247 "Not getting all Office.js Word Document Styles"
Hello There, I am trying to get list of styles supported by Office Word Document, as mentioned in below image.
![image](https://user-images.githubusercontent.com/39907946/141472740-86486560-48e1-4619-8a5a-3d61919f59df.png)
To Retrive styles from Office.js I am getting below list.
![image](https://user-images.githubusercontent.com/39907946/141472765-30458fdb-c022-4748-a68c-ae4e3cd453cd.png)
Please

[2021-11-12 13:24] thecodeholic opened #2248 "Pass authorization information to `Functions.Metadata.Url`"
When developing excel add-in you have possibility to specify metadata JSON file with certain format and functions from this file will be available in excel.
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json

We have an API endpoint which returns JSON in the correct format.
Is there any possible way to pass any kind of additional data (such as header) to the request wh

[2021-11-12 13:55] cody-lettau commented on #991
Thanks for the answer @exextoc. Are there any plans to add support for use of the REST API in an on-prem environment? Having to rely on SOAP/XML in 2021 is a bit cumbersome...

[2021-11-12 15:18] girazuzta commented on #938
I also have a similar issue
In my case is with custom fields (Text30 and Number20)
The async result status resolved is "failed"
The strange thing is that it happends most of the times but not allways.

[2021-11-12 15:24] Freymaurer opened #2249 "Add-in loads in Excel web-version and Excel365 but not in Excel2019"
# Provide required information needed to triage your issue

I am currently trying to set up a minimal example template for an Excel web add-in ([this one](https://github.com/Freymaurer/SAFE-MinExcel)). It is based on the F# [SAFE stack](https://safe-stack.github.io) and parses client side f# code to js with [Fable](https://fable.io). To the problem i have: The add-in works perfectly fine for Excel

[2021-11-14 03:00] gitcnd commented on #2232
It's probably easier for you to search through your source code for the phrase "Bottom of Form" - which is the cause of the bug.

Alternatively, use script-lab or anything to insert some html that includes the tag <form> to see the bug show up.

Remember that a google search for this weird issue shows many other people having the same problem in other situations too, so fixing this here will also

[2021-11-15 02:46] grangeryy commented on #2051
Hey @AlexPhilippov, sorry for the late response. This issue is still in the backlog to track with other items. We've figured out the issue happens when user triggers both vba functions and custom functions. The fix will take a while and unfortunately we don't have enough bandwidth to cover this in this quarter. The only work around is just like in the discussion before, which is to insert the vba

[2021-11-15 03:02] jiju-MS commented on #2220
@chanhohang, currently it is not able to set streaming function as non-executable since it need to follow the excel calculation behavior.

[2021-11-15 03:10] chiz-ms commented on #2220
@chanhohang and @wh1t3cAt1k, if there's a feature request for "marking a Streaming Function as non-executable until the related add-in is started/loaded", please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature. Thanks.

[2021-11-15 03:56] chiz-ms commented on #2241
Thanks for reporting this issue regarding `ContentControl.tag` API. The issue has been confirmed and tracked in our backlog as ADO#5579330.

[2021-11-15 09:52] chiz-ms commented on #2239
Hi @AlekseyVanyukevich, thanks for reporting this issue. We are still working on reproducing this issue on our side. Could you help to provide the following information?
- Is this issue also observed with Word Online?
- When the issue is observed, what was the actual behavior vs. expected behavior? e.g. did you get an unexpected exception, or did you see some unexpected value? If it was some unexp

[2021-11-15 10:26] Montago commented on #1398
Hi

I'm struggling with Outlook 365 and Pinning my Add-In ...

Would you care to share the Manifest so i can see what you did right and what I did wrong ?

I can't make the pinning icon show :(

[2021-11-15 18:05] AlexJerabek commented on #2250
Hi @Hamish-Atkins-SB,

Thanks for reporting this. I'm going to transfer the issue to the [Office JS repo](https://github.com/OfficeDev/office-js) where product issues are looked at by members of the team.

[2021-11-15 21:21] jlevenssfdc commented on #1119
@exextoc We started getting reports of this same issue again.  Request to get the token is failing b/c of CORS.  I thought that request was removed from the flow as the fix?  Any idea on if there has been a regression recently?  Thanks!

[2021-11-15 21:38] Earthman55 commented on #2246
The office build number is: 16.0.14527.20234

I am not sure I know how to distinguish between IE or WebView – I am just using the “Script Lab for Outlook” browser panel that appears in Outlook when the add-in is run.

With regard to the link you provided:

*	Is the common error to which you refer “Error: Object doesn't support property or method 'defineProperty'”?          If so, there are no webs

[2021-11-16 06:00] ghost commented on #2202
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-16 06:00] ghost commented on #2125
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-16 06:00] ghost commented on #1557
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-16 06:15] xiaoyuMS commented on #2217
Hi, @sureshjoshi, thanks for your experience with these new apis
I have made a fix and it will be rolled out to production in several weeks.

[2021-11-16 07:40] christian-sap commented on #2078
@honxmsft I installed CC (Preview) version 2111 (14701.20100) and the issue is still there. This is a really serious issue. Should the fix be part of this version?

[2021-11-16 09:00] ghost commented on #2226
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-16 09:00] ghost commented on #2205
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-16 10:00] vimal-darji-ifour commented on #2247
@AbidRahman-MSFT any update on this?

[2021-11-16 15:00] ghost commented on #991
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-16 16:54] albeiroespitia opened #2251 "Outlook add-in offline not saving the email in the outbox folder"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 20211018001.04
* Operating System: Windows

## Expected behavior
When there is no internet connection outlook should save the email in the outbox folder

## Current behavior
When there is no internet connection outlook is showing an e

[2021-11-16 17:29] exextoc commented on #2246
`setSelectedDataAsync` is only available in compose mode. Can you confirm that you are not in Read mode?
Can you please share the snippet with us? Choose the "Share" menu within the snippet. Then share as a private [GitHub Gist](https://docs.github.com/en/github/writing-on-github/editing-and-sharing-content-with-gists/creating-gists) and grant us access.

[2021-11-16 17:50] elegault commented on #2125
@exextoc It is now working for me!

[2021-11-16 18:27] sureshjoshi commented on #2217
@xiaoyuMS Thanks for the quick fix!

Please let me know when the new Word/OfficeJS is released, and I can re-test

[2021-11-16 18:44] AbidRahman-MSFT commented on #2247
Hey @vimal-darji-ifour,

There is currently no way to fetch all available document styles from the Office JS API for Word. Word.Style will return the current style for each element in the document, it will not return all styles that are available to use. Word.Style is also an enum, so you are not able to set the style using this property.

If you are looking for a way to fetch all available styles

[2021-11-16 20:13] Earthman55 commented on #2246
As noted earlier, this is the ScriptLab sample code that is provided with ScriptLab, for which I expect the Add-in development team at Microsoft is responsible.  In any event, I had nothing to do with this code.

I did try the sample in compose mode and found that it did indeed work.  I also just noticed that the taskpane has a “Required Mode: Compose” statement, which was not obvious to me when I

[2021-11-16 21:11] alison-mk commented on #2251
Hi @albeiroespitia, thank you for submitting this issue! I've assigned it to the @exextoc engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-11-16 23:07] exextoc commented on #2246
Just to clarify, is this issue resolved now? Can we close the github?

The documentation that you linked looks like it's for Word. Please refer to [this](https://docs.microsoft.com/en-us/javascript/api/outlook/office.body?view=outlook-js-preview#setSelectedDataAsync_data__options__callback_) documentation for Outlook. You should see applicable modes under Remarks.

[2021-11-16 23:37] Earthman55 commented on #2246
You may close this item.

From: Outlook Add-ins Team - MSFT ***@***.***>
Sent: Tuesday, November 16, 2021 4:07 PM
To: OfficeDev/office-js ***@***.***>
Cc: Earthman55 ***@***.***>; Author ***@***.***>
Subject: Re: [OfficeDev/office-js] ScriptLab for Outlook Set Selected Text fails with error (Issue #2246)

Just to clarify, is this issue resolved now? Can we close the github?

The documentation that

[2021-11-16 23:38] #2246 closed, assigned to exextoc

[2021-11-17 02:22] swiftinitdotcom commented on #1784
I have exact same issue suddenly. This was working few months back.
dialogSSOv1.html:1

       Tracking Prevention blocked access to storage for https://appsforoffice.microsoft.com/lib/1/hosted/office.js.
OSF.DDA.Error
code: 7000
message: "You don't have sufficient permissions for this action."
name: "Permission Denied"
[[Prototype]]: Object

[2021-11-17 02:29] swiftinitdotcom commented on #1824
I have exact same issue suddenly in excel addin. This was working few months back.
dialogSSOv1.html:1

   Tracking Prevention blocked access to storage for https://appsforoffice.microsoft.com/lib/1/hosted/office.js.
OSF.DDA.Error
code: 7000
message: "You don't have sufficient permissions for this action."
name: "Permission Denied"
[[Prototype]]: Object

[2021-11-17 03:31] ghost opened #2252 "How to get the calendar for an email address in o365 in outlook add-in?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I want to write a meeting related add in, and I want to get the calendar for an email address in o365 in outlook add-in, I don't see the API, need help, thanks.

[2021-11-17 04:39] jiju-MS commented on #2248
The Functions.Metadata.Url need to be set so custom function can load the file to build functions, so currently it may not possible to remove this. could you tell us some details about the authorized part in your sceanrio?

[2021-11-17 05:36] #2125 closed, assigned to exextoc

[2021-11-17 06:54] honxmsft commented on #2078
@christian-sap My colloeage and I have tried two gists again on the version 2111 (14701.20100), 2111 (14701.20040), 2111 (Build 14701.20142). The win32 excel does not throw exception or crash. Perhaps it's not the proper way to verify this issue? Can you describe how you verify this issue?

[2021-11-17 06:55] exextoc commented on #2232
@gitcnd I have tried to reproduce the issue in the latest version of Outlook and it is not reproducible. Could you please update the outlook to the latest version and try to reproduce it. Also, could you please share a video of it when it is reproducible?

[2021-11-17 07:16] thecodeholic commented on #2248
The authorization in add-in is done through Office 365 SSO.
Based on who is authorized we want to show different custom functions.
We don't want always all the functions to be visible for the user.
Do you have any ideas how that can be solved, if possible?

[2021-11-17 07:45] beatrixmorar commented on #1784
@swiftinitdotcom
I think you might find this support issue helpful: #2231

[2021-11-17 07:55] swiftinitdotcom commented on #2231
I have exact same issue suddenly. This was working few months back.
dialogSSOv1.html:1
I have logged a support ticket because the dialogbox is not closing

   Tracking Prevention blocked access to storage for https://appsforoffice.microsoft.com/lib/1/hosted/office.js.
OSF.DDA.Error
code: 7000
message: "You don't have sufficient permissions for this action."
name: "Permission Denied"
[[Prototype]]:

[2021-11-17 08:16] oldrich-s commented on #1144
Is there any work-around for this behaviour? Something like detecting it and removing it or similar?

So far I came to the following, which is not ideal but works.

[code]

[2021-11-17 08:25] dingjin-ms commented on #2237
Hi @GregReddick , thank you for your report!
After some investigation, I found that this issue also repros when editing from UI, and I'm discussing the problem with UI team. Will let you know if we have progress.

[2021-11-17 08:47] exextoc commented on #991
Currently the feature: REST API in an on-prem environment, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered when we go through our planning process.

Github Label: “Type: product

[2021-11-17 09:09] exextoc commented on #2252
The documentation link for the add-in APIs : [Documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets)

Also, could you please elaborate on your requirement so that we could assist you better.

[2021-11-17 09:17] SWei1234 commented on #1557
@exextoc
Just wonder if this problem have any update.

[2021-11-17 09:45] exextoc commented on #1557
We are unable to reproduce this issue at our end, in order to fix the issue, could you please collect the logs and send them to us. Follow these steps to get us the incident ID:

Repro the issue
Click on the Help tab from Outlook Menu
Click on collect Diagnostics
This will generate an Incident ID, share that with us.

It will be helpful if you can send a short video of the same to OutlookAddins@M3

[2021-11-17 09:58] ghost commented on #2252
Requirements: Every time we have a meeting we need to invite one of the person from special team, there are more than 20 members in the team and we only need any of them. currently we need find person who is available one by one, it takes a lot of time. We want outlook add-in to query who is available at given time slot, so I need to query user calendar in add in.

[2021-11-17 09:58] christian-sap commented on #2078
Hi @honxmsft , see the attached modified gist.
The root cause is that after opening another workbook the named item type is "null". Before opening the workbook is it "range" which is correct.
If you run the gist in "Current Channel (Preview)" you see the error on the console.
If you run the gist in "Semi-Annual Enterprise" Excel crashes completely.
[namedItemType.txt](https://github.com/OfficeDev/

[2021-11-17 09:59] lordbenz opened #2253 "Sometimes Execute function not work in Excel installed version (Semi-Annual)"
## Environment
* Platform: Excel Installed Version(Semi-Annual) on window 10
![image](https://user-images.githubusercontent.com/28835449/142177618-df6722f6-5438-4d39-b4b6-3e8d65dae10a.png)

## Expected behavior
Execute function must be callable every time that the Ribbon button was clicked.

## Current behavior
We found that sometimes the Execute function at the Ribbon button did not work.

Step t

[2021-11-17 12:28] exextoc commented on #2252
@timothyzhang999 you can leverage the graph APIs to achieve the same.

Documentation: [Link](https://docs.microsoft.com/en-us/graph/outlook-get-free-busy-schedule)

[2021-11-17 14:58] FranCerrada opened #2254 "PowerPoint.createPresentation does not work anymore in PowerPoint Online"
In PowerPoint Online when trying to create a presentation using powerpoint web api the presentation is not created and we get the following error:
[code]
This was working yesterday and nothing has change in our side. We are using the beta channel, but also tried using the release channel and the issue is still reproducible.
If it helps, I can say that this dialog is not showing anymore
![image](ht

[2021-11-17 17:05] ElizabethSamuel-MSFT commented on #2101
Refined descriptions partly based on this issue: PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57068.

[2021-11-17 18:46] exextoc commented on #2251
The current ItemSend event add-in is designed for critical add-ins that must be run before send. As a result, if you are in offline mode, you cannot run add-ins, and so the message cannot be sent. We understand that this is not ideal in certain situations. One option would be to use [Smart Alerts](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough) w

[2021-11-17 22:29] alison-mk commented on #2254
Hi @FranCerrada, thank you for submitting this issue! We've assigned it to @lliu113 and @ononder, who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-11-17 22:57] emmanuelpineda opened #2255 "PowerPoint.createPresentation is not working"
The PowerPoint.createPresentation method is no longer working. I received reports from my users that this stopped working as of yesterday.

## Environment

* Platform: Office on the web
* Host: PowerPoint
* Office version number: PowerPoint on the web
* Operating System: mac, windows or chromebook
* Browser: firefox, chrome and edge

## Expected behavior
After calling the createPresentation method

[2021-11-17 22:58] alison-mk commented on #2253
Hi @benzdechapon, thank you for submitting this issue! We've assigned it to @dingjin-ms, who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-11-18 02:32] ghost commented on #2252
How to use this API? I tried to get token in add-in and postman, get error,
**I get token in add-in this way:**
[code]

And I use this accessToken as Bear token in postman, post to https://graph.microsoft.com/v1.0/me/calendar/getschedule,
get this error:
[code]

The other question is we will get CROS error when I post request from add-in to https://graph.microsoft.com/v1.0/me/calendar/getschedule.

[2021-11-18 03:20] xiaoyuMS commented on #2241
Hi @els-tsan you provide the process of how you created these uneditable CC ?

[2021-11-18 03:44] xiaoyuMS commented on #2241
Hi, @els-ts~
As you mentioned above, these CCs are "special".
Could you please share the process of how you created these uneditable CCs for further investgation?

[2021-11-18 05:59] honxmsft commented on #2078
Thanks @christian-sap. I've checked your new gist, and the named item type did return null (unexpected), but I think this is an issue other than workbook.names.add API 😞 , as I tried to checkNamedItemType on the named item created from Name Manager UI right after a workbook creation, it will still return null on namedItem.type. We will create another internal bug to track this issue.

BTW, the fix

[2021-11-18 06:49] RuoyingLiang commented on #2241
@els-ts , @ubabukos we found there is a hidden section in the content control paragraph, which may cause this unexpected behavior. We will do more investigation. Meanwhile, could share more information of why need the hidden section, is that auto generated?

[2021-11-18 07:45] ogomez92 commented on #327
We are getting blank task pane errors with our Add-in as well, so far more than 10 users.

[2021-11-18 10:40] exextoc commented on #2252
@timothyzhang999 Please refer to the following link  to get the access token for using graph APIs.
Url: [https://docs.microsoft.com/en-us/graph/auth-v2-user](https://docs.microsoft.com/en-us/graph/auth-v2-user)

[2021-11-18 13:56] els-ts commented on #2241
@xiaoyuMS @RuoyingLiang - to be honest we don't know. This is example we've received from our user and we have no idea how this ContentControl ended up in this state 😓

I can only presume that our users have another add-in that somehow add this hidden section into our element (or there's some unknown Word functionality that does this), as this is something we not really expect to happen. As I've m

[2021-11-18 15:16] xiaoyuMS commented on #2241
@els-ts @ubabukos, thanks for more details~

We did a further investgation to find that there is a shading on this CC(both on whole CC and inside text) which is not supported on Word Web right now.
I have repro this CC by set the shading of a range including CC to Blue and set the paragraph in CC to no color. Then, it looks like a no color text but the shading of this range is blue which you can s

[2021-11-18 15:32] markb-trustifi opened #2256 "Roaming error with some specific account"
# Provide required information needed to triage your issue
We cannot save roaming data using office-js SDK for 1 specific account `mmizrahitest@outlook.com`.
It doesn't work with this account in different PCs and other outlook.com accounts do work on this PC.

[code]
We receive an error:
`OSF.DDA.Error {name: 'GenericSettingsError', message: 'An internal error has occurred.', code: 9019}`

## Your

[2021-11-18 18:15] jcbdev commented on #1198
Edit: my original didn't work as I thought so I removed it but this 100% fixes it for me -->

Add this to index.html to repatch the two missing functions after Office.js loads and then angular behaves correctly again
(see issues #1344 and #429)

[code]

[2021-11-18 19:21] gaambion opened #2257 "Web Outlook Dialog Will Not Close After Some Long Delay"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **PC Laptop**
* Host [Excel, Word, PowerPoint, etc.]: **Web Outlook**
* Office version number: **20211101003.17**
* Operating System: **Windows 11**
* Browser (if using Office on the web): **Microsoft Edge**

## Expected behavior

- Open a dialog thru on send event

[2021-11-18 19:31] dmitry-semenov commented on #1680
user 1:  When she uses the Outlook Loft It button Google Chrome opens a new tab. Here is the URL that opens: https://outlook-connect.salesloft.com/functions?_host_Info=Outlook$Win32$16.02$en-US$$$$0
Session ID – E6E50636-ECE9-48F8-97F7-CED5063F6C5E
user 2
Session ID - DA2C2866-31CE-4305-804A-8721EDAD4BE5
user 3
Session ID – 6A3A8E59-0ADE-47E9-99A6-FE654D3D69E7

[2021-11-18 20:36] albeiroespitia commented on #2251
Yeah, we have been trying to implement the smart alerts solution, but it's just not working for us, the onMessageSendHandler function is not getting called at all, what's the difference between this and the ItemSend event?

[2021-11-18 21:37] ononder commented on #2254
We have identified the issue that is causing this and currently waiting for the fix to be deployed. Thanks for your feedback.

[2021-11-18 21:38] ononder commented on #2255
We have identified the issue that is causing this and currently waiting for the fix to be deployed. Thanks for your feedback.

[2021-11-18 22:58] emmanuelpineda commented on #2255
Thank you!

[2021-11-19 00:14] GregReddick commented on #2237
Thank you. I wasn't seeing this outside of the JavaScript. My equivalent C# code driving Excel through COM didn't show the problem. However, it doesn't surprise me that this is an Excel bug. It is really odd.

[2021-11-19 00:30] alison-mk commented on #2256
Hi @markb-trustifi, thank you for submitting this issue! I've assigned it to the Outlook engineering team @exextoc who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-11-19 00:34] alison-mk commented on #2257
Hi @gaambion, thank you for submitting this issue! I've assigned it to the Outlook engineering team @exextoc who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-11-19 00:43] jcbdev commented on #429
this works for me fix in angular which manifests as a routing loop which crashes the browser eventually

[code]

[2021-11-19 00:44] jcbdev commented on #1344
This works for me to fix in angular which manifests as a routing loop bug

[code]

[2021-11-19 02:45] timothyzhang999 commented on #2252
Hi @exextoc , thanks, but I'm afraid the link you gave can't be used by add-in app.

[2021-11-19 05:28] ghost commented on #2252
I tried it, I also looked the sample: https://github.com/OfficeDev/office-js-helpers, https://docs.microsoft.com/en-us/office/dev/add-ins/develop/grant-admin-consent-to-an-add-in, it needs org ADMIN login. Is it possible login without org ADMIN, we only need to get Schedule.

[2021-11-19 05:47] AlekseyVanyukevich commented on #2239
1. The issue only present on Mac.

[2021-11-19 06:55] SWei1234 commented on #2116
Hi @exextoc
Just want to confirm, is there a way we can forbidden/deactivate some plugin when add-in is installed?
If we can, this might be another way to solve this problem.
Thanks

[2021-11-19 07:41] Freymaurer commented on #2249
Hey @croicu if you need any additional info pls tell me! Getting this to work is important to me and i'd like to help as much as possible.

[2021-11-19 07:54] AlexeyVanyukevich commented on #2239
1. The issue only present on Mac.
2. I get unexpected value for endnote/footnote character. I need the correct values so that I can update the document content from the taskpane later. Please try to get the html from 728 to 738 index using the code and file I've attached
[test.docx](https://github.com/OfficeDev/office-js/files/7568633/test.docx)
.

[2021-11-19 08:00] ghost commented on #2202
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-19 08:00] #2202 closed, assigned to exextoc

[2021-11-19 08:02] FranCerrada commented on #2254
Thanks!

[2021-11-19 08:08] Fruch6807 opened #2258 "paragraph.text property contains a special character when the paragraph has a comment."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
`paragraph.text` property contains `\u0005` special character when the paragraph has a comment.

## Your Environment

* Plat

[2021-11-19 08:08] chiz-ms commented on #2239
Thanks for the additional information, @AlekseyVanyukevich. Transferring to @AbidRahman-MSFT since this issue is only on Mac.

[2021-11-19 10:20] els-ts commented on #2241
@xiaoyuMS - thank you for the investigation 🏆

Is there a way to clear this using an API? And maybe getting a better error message, so we can react to this error on behalf of our users? Or any other way we can programmatically find out what's the issue with the documents containing those CCs?

[2021-11-19 10:45] jh0274 opened #2259 "websocket"
## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office Onl

[2021-11-19 10:45] #2259 closed, assigned to nobody

[2021-11-19 10:46] jh0274 commented on #2259
opened in error

[2021-11-19 11:00] ghost commented on #2226
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-19 11:00] #2226 closed, assigned to macOutlookExtensibility

[2021-11-19 11:00] ghost commented on #2205
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-19 11:00] #2205 closed, assigned to exextoc

[2021-11-19 11:47] justin0522 commented on #1811
Duplicate of #3601

[2021-11-19 12:54] nrueckmann opened #2260 "[Excel] DocumentProperties.lastSaveTime"
Why is there no DocumentProperties.lastSaveTime for Excel documents like we have for Word documents?

Is there any workaround to detect if a file has been changed by a user not using the Add-In? Example: We have an Add-In which pushes data to a third party. The user should push the data whenever he finished his work. The Add-In will remind him to push the data before closing the document. But the

[2021-11-19 14:38] emmanuelpineda commented on #2255
Do you know the estimated time for the solution to be deployed live?

[2021-11-19 15:27] xiaoyuMS commented on #2241
@els-ts here is a workaround On Desktop to fix the CC in this doc( Sovacool et al citation.docx )

I created a custom style named "MyCustomStyle" (this can be created by UI operation) whose font is the same as the content in CC and used this style to fix this CC.
[code]
It is workable for this CC but may not solve all problems in your side. Hope it is helpful for you.

Thanks~

[2021-11-19 18:42] exextoc commented on #2256
Can you please confirm which platforms you are seeing this in? The office version number you provided is for Mac, are you seeing this in Windows? If so, what is the windows office version number?

[2021-11-19 20:04] cidev5 commented on #2051
Hi, a number of our clients and internal users are experiencing a similar issue, and we (and they) are rather frustrated by this.

Our custom functions get prefixed with _xldudf and often with a path - in addition - to the other add-in (in our case our own older legacy add-in, a COM add-in - but also the Bloomberg add-in which is frequently used by our clients as well).

The workaround you propose

[2021-11-19 23:52] alison-mk commented on #2258
Hi @Fruch6807, thank you for submitting this issue! We've assigned it to @AbidRahman-MSFT who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-11-20 00:10] alison-mk commented on #2260
Hi @nrueckmann, thank you for submitting this issue! I've assigned it to @dingjin-ms who will be able to provide you with more information.

Cheers,
Alison

[2021-11-20 09:09] chiz-ms commented on #2260
Hi @nrueckmann, as you've described, currently `DocumentProperties.lastSaveTime` is not supported in Excel Add-In. A workaround would be using Graph API to get `lastModifiedDateTime`: https://docs.microsoft.com/en-us/graph/api/resources/driveitem?view=graph-rest-1.0. But please note that Microsoft Graph is a separate set of REST APIs and has its own limitations.

You may also want to consider goin

[2021-11-20 13:29] markb-trustifi commented on #2256
I see it in OWA in Chrome browser and in desktop clients in both Mac and Windows.
There is something wrong with the outlook account itself because other accounts work correct.

[2021-11-21 09:00] ghost commented on #2232
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-21 09:00] ghost commented on #991
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-21 12:00] ghost commented on #1557
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-22 04:45] #2139 closed, assigned to exextoc

[2021-11-22 04:47] #2173 closed, assigned to exextoc

[2021-11-22 05:05] #2177 closed, assigned to exextoc

[2021-11-22 06:39] thoriyadaxesh opened #2261 "Office.context.ui.openBrowserWindow is not working"
Office.context.ui.openBrowserWindow is not working with restricted permission of outlook web add-ins after installing to outlook desktop application
If I set "ReadWriteItem" permission Office.context.ui.openBrowserWindow is working fine.

## Expected Behavior
Office.context.ui.openBrowserWindow should open the window in default browser

## Current Behavior
Office.context.ui.openBrowserWindow is co

[2021-11-22 06:44] exextoc commented on #1119
There is no such known regression, Also we are not able to repro at our end. Can you please share more details on it?

[2021-11-22 08:00] AlexeyVanyukevich opened #2262 "Highlight text"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I'm attempting to implement functionality to highlight some text within a Word document. I don't want to modify the document, much like when you perform a search with Find and Replace

[2021-11-22 08:42] chiz-ms commented on #2262
Hi @AlekseyVanyukevich, currently the feature you described is not supported. In some cases you may consider using selection instead of highlighting as a workaround, or you may go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature.

[2021-11-22 09:51] SWei1234 commented on #2113
Hi @exextoc
I have the same question on get 'Sensitivity' setting.
Actually, I have already get 'Sensitivity' setting from a saved event.
But the problem is I can't get this setting on a composing event, no matter I using rest-api or office.js.
Does Microsoft support add-in get 'Sensitivity' setting on compose now?
Thanks

[2021-11-22 10:32] exextoc commented on #2113
Please create a new GitHub post for your query.

[2021-11-22 16:19] jasonclg commented on #710
@grangeryy
Maybe you could help link the doc for the new behavior?

[2021-11-22 16:58] AbidRahman-MSFT commented on #2114
Hey @ndvbd, we will work with the documentation team to ensure this is correctly documented as part of the Body.text documentation. Thanks for your patience.

[2021-11-22 17:00] AbidRahman-MSFT commented on #2258
Thanks for posting this issue @Fruch6807 - this looks to be a similar issue as #2114 , you can use the workaround provided in that issue to solve this problem and we will ensure we update the documentation to be accurate.

[2021-11-22 17:30] Fruch6807 commented on #2258
@AbidRahman-MSFT thank you for this workaround, but I'm still not sure this is the intended behavior, since this character is not added in Office on the web:

![image](https://user-images.githubusercontent.com/24506031/142906697-e7ab4530-04e7-446d-94e8-8fa4fe8034ae.png)

[2021-11-22 17:46] AbidRahman-MSFT commented on #2258
Thanks for highlighting that @Fruch6807. Comments are a new feature on Word Web so we need to make sure they work similar to Windows/Mac. Adding @RuoyingLiang here as FYI. I will work with them team to ensure the behavior is the same cross platform.

[2021-11-22 18:53] exextoc commented on #2251
Can you check/confirm if your Office client is in Preview? Can you also re-share your Outlook version/office build number that can be found in Outlook when you go under Files and Office Account?
it should look something like this:
![image](https://user-images.githubusercontent.com/28549921/142918812-5ac73cef-ad89-4075-9838-ec0344fa2b02.png)

Smart Alerts is the new and improved version of ItemSend

[2021-11-22 18:57] gmichaud commented on #2222
Hi @chiz-ms, is there any update on this issue? We have one potential client that has a Mac-only ecosystem and using our legacy XLL product is not an option for them.

[2021-11-22 20:19] ononder commented on #2255
Sorry for my delayed reply, as I was trying to get more information about the timelines, the deployment speed depends on the success of changes so the timing can vary a lot, I was going to mention it might take up to a week, but today I can see several production level rings have the fix and I can verify the fix is working in my end. Not all rings have the change yet, but it might become available

[2021-11-22 22:22] GregReddick opened #2263 "AutoFill of Promise Causes Excel to Crash"
Trying to do an autoFill method on a promised value causes Excel to crash. I have simplified the code below as much as possible. The actual code does a fetch of the promised value from a remote server, hence the promise, but that isn't necessary to show the problem.

## Your Environment

Windows 11, Microsoft® Excel® for Microsoft 365 MSO (Version 2110 Build 16.0.14527.20270) 64-bit

## Expected b

[2021-11-22 22:35] preethikakiru commented on #2261
Hi @thoriyadaxesh, thank you for submitting this issue! I've assigned it to the Outlook Engineering Team @exextoc who will be able to further help you resolve this issue and provide you with more information.
Best,
Preethika

[2021-11-22 22:53] preethikakiru commented on #2263
Hi @GregReddick, thank you for submitting this issue! I've assigned it to @dingjin-ms who will be able to provide you with more information or help resolve this issue.
Best,
Preethika

[2021-11-22 22:56] exextoc commented on #2261
Thanks for reporting. I can reproduce the behavior and will be taking a closer look.

[2021-11-23 00:54] GregReddick commented on #2263
Well, I thought the Promise was important. But if I change the function to just return a zero, instead of a Promise of a zero, it does the same crash on the autoFill. So it appears that doing the autoFill on any custom function causes the crash.
[code]

[2021-11-23 01:44] SWei1234 opened #2264 "[ Outlook ] question on getting 'Sensitivity' setting in compose mode"
I have a question on getting 'Sensitivity' setting.
Actually, I have already get 'Sensitivity' setting from a saved event. ( use rest api )
But the problem is I can't get this setting on a composing event, no matter I using rest or office.js api.
Does Microsoft support add-in get 'Sensitivity' setting on compose mode now?

[2021-11-23 01:45] exextoc commented on #2256
Do you notice other issues with this account?  For example, could you create and send email with this account? Is it possible that the mailbox is full?

[2021-11-23 01:52] emmanuelpineda commented on #2255
Thank you, I checked that it works fine now

[2021-11-23 02:02] exextoc commented on #2264
For specifics on REST/ Graph API, this is best to check with graph documentation and forums.  For composing events, the item may not be synced to the server until save. If you want to check if this is an addin specific issue, please include the API call and the error you are getting.

In general, for setting / getting properties that are on the client, the best experience for users of the addin wo

[2021-11-23 02:10] ononder commented on #2254
The issue should be fixed now, let us know if you have any follow up questions regarding this. Thanks for your feedback.

[2021-11-23 02:10] #2254 closed, assigned to lliu113, ononder

[2021-11-23 02:37] SWei1234 commented on #2264
Hi @exextoc
I see office.js already have this api: https://docs.microsoft.com/en-us/javascript/api/outlook/office.sensitivity?view=outlook-js-preview
Just not support commercial applications for the time being.
For rest api, we need itemId which only generate after event synced to the server. But some sensitivity option can be see directly on UI, like:
![image](https://user-images.githubuserconten

[2021-11-23 02:40] 10142904 opened #2265 "Content Office Add-ins Lost focus after select file from file input"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

after i updated office to Microsoft 365MSO (version 2111 Build 16.0.14701.20030) 32 bit, when click file input button from my content office add-in and select a file, return to conten

[2021-11-23 02:43] grangeryy commented on #710
@jasonclg you may find some information [HERE](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-errors#the-customfunctionserror-object)

[2021-11-23 02:49] grangeryy commented on #2051
@cidev5 and @AlexPhilippov , sorry for the issue. We are re-evaluating the impact and will share the update soon. Also adding the our engineer @jiju-MS to support.

[2021-11-23 02:54] #2085 closed, assigned to grangeryy

[2021-11-23 03:38] neville-jones commented on #2257
As per [https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=windows#how-does-the-on-send-feature-work](url) :

Can't recall if this is mentioned in the API documentation, but you have to use a timer to automatically close the dialog prior to the 5 minute timeout.

[2021-11-23 05:27] grangeryy commented on #706
@suresh-anumolu we finally make this into preview recently. Pls have a try: [HERE](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-data-types-concepts#output-a-formatted-number-value)

[2021-11-23 06:02] chanhohang opened #2266 "officejs API error when user select multiple sheets in Excel"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 365
* Operating System: Windows 10
* Browser (if using Office on the web): NA as Desktop Excel

## Expected behavior

officejs api call should be running without error.

## Current be

[2021-11-23 06:12] exextoc commented on #2223
Currently graph API doesn't allow auth in personal accounts. We track Outlook add-in feature requests on our [Tech Community Page](https://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s).
Feature requests on Tech Community are considered, when we go through our planning process.

[2021-11-23 06:14] exextoc commented on #2252
The authentication to Graph API is possible through [SSO API ](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph)or through [Dialog API](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph-without-sso). I have linked the documentations here. Please see if this helps you.

[2021-11-23 06:23] exextoc commented on #2264
Thanks for pointing out the https://docs.microsoft.com/en-us/javascript/api/outlook/office.sensitivity?view=outlook-js-preview in preview. I missed that.  Sorry for the confusion.  You are right that such OfficeJS APIs (that get/set client properties) would be client side as much as possible, and avoiding sync delays and having client reflect the changes as soon as possible are some of the reasons

[2021-11-23 06:40] chanhohang opened #2267 "Excel shared runtime with CustomFunction not working upon service restarted"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.

[2021-11-23 06:41] chiz-ms commented on #2266
Thank you @chanhohang for reporting this issue. The issue has been confirmed and tracked as ADO#5606489 in our backlog.

[2021-11-23 06:49] chanhohang commented on #2220
@chiz-ms thank you so much for your suggestion, i have submitted the idea https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/office-365-excel-custom-function-streaming-function-should-not/idi-p/2995951#M485.

[2021-11-23 06:49] dingjin-ms commented on #2237
Hi @GregReddick, after some investigations of Excel team, they think it's an autofill by design behavior. If you have further questions or concerns, please just let me know. Thank you very much!

As for the C# code you have mentioned, I'm not sure if it's using the same code path as Excel UI or Rich API so that it has a different behavior.

[2021-11-23 07:32] FranCerrada commented on #2254
I can confirm is working again. Thank you!

[2021-11-23 09:38] SWei1234 commented on #2264
Yes, we have a plan to get this attribute, but at present, it seems that no interface can meet the requirements.
Only hope that this interface can be released in the near future.
Thanks

[2021-11-23 10:42] timburg1 commented on #2149
I can reproduce this behaviour. My testFunc() just contains a call to console.log with the name of the called function. Running the add-in from Excel and clicking the button twice only yields "testFunc" once in the Visual Studio Output window:

Verbose logs are written to:
C:\Users\tim\AppData\Local\Temp\visualstudio-js-debugger.txt
Tracking Prevention blocked access to storage for https://appsfor

[2021-11-23 11:42] gaambion commented on #2257
Thank you for this information. I was not able to see this one as I only looked through the dialog documentation. Will keep this noted.

[2021-11-23 11:43] #2257 closed, assigned to exextoc

[2021-11-23 12:09] Alex0cean opened #2268 "getSelectedRange leads to error when chart is selected"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Calling
Workbook.getSelectedRange
Workbook.getSelectedRanges
leads to error when a chart is selected.

## Your Environment
Excel Mac desktop 16.55 (but also current MS channels are af

[2021-11-23 15:37] GrumpyAL opened #2269 "Office.context.mailbox.userProfile.emailAddress returns UPN in Outlook for Android"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Android
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Outlook for Android 4.2144.1 (42144813)
* Operating System: Android
* Browser (if using Office on the web): n/a

## Expected behavior
When getting the user's SMTP address from Office.context.mailbox.userProfile.emailAddress the Primary SMTP add

[2021-11-23 17:33] GregReddick commented on #2237
Really? By Design? I was able to reproduce it in the UI. If you change the color of 3 or more cells back color (doesn't happen with 2), say A6:A8, fill them with values, then change a value within 3 cells (doesn't happen with 4), say, A11, it changes the back color to match the above cells. They think this is by design? If so, I think they should revisit their design. This makes no sense from a UI

[2021-11-23 17:42] preethikakiru commented on #2265
Hi @10142904, thank you for submitting this issue! I've assigned this issue to @lliu113 who will be able to further help you resolve this issue and provide you with more information!
Best,
Preethika

[2021-11-23 18:24] GregReddick commented on #2237
It also doesn't happen through VBA. Here is some VBA code:
[code]
If the code puts the value in cell A5, it doesn't change to blue. But if I put it in by hand (after the other code, commenting out the A5 line), it does. Oddly, if the code puts the value in A5, then I change the value, it doesn't change color. This just seems completely non-deterministic on when it will and won't change color from

[2021-11-23 20:36] preethikakiru commented on #2269
Hi @GrumpyAL, thank you for submitting this issue! I've assigned it to the Outlook Engineering Team @exextoc who will be able to provide you with more information!
Best,
Preethika

[2021-11-23 20:41] preethikakiru commented on #2268
Hi @Alex0cean thank you for submitting this issue! I've assigned this issue to @dingjin-ms who will be able to further help you resolve this issue and provide you with more information!
Best,
Preethika

[2021-11-23 23:21] pkkj commented on #2253
Hi @benzdechapon, one more question: does this problem only happen in semi-annual, or it also happens in the newest build?

A few questions:
1. Does this problem only happen in semi-annual, or it also happens in the newest build?
2. How often does this problem happens?
3. You may verify a similar scenario in the ScriptLab add-in. It's an add-in command and you could install it from the store easil

[2021-11-24 02:55] jiju-MS commented on #2248
understand, so the real request is to show different custom function list according to different user profile.

[2021-11-24 03:10] dingjin-ms commented on #2237
Hi @GregReddick , really sorry for the inconvenience! I will sync your feedback with UI team and double confirm about the behavior. Thank you very much!

[2021-11-24 05:29] lordbenz opened #2270 "[Excel] Shortcut not working"
## Environment
Web: Chrome, Safari, Excel IDV, Excel for Mac

## Expected behavior
Able to use shortcut keyboard.

## Current behavior
The shortcut is not working.

## Steps to reproduce
1. Download manifest.xml file from https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/excel-keyboard-shortcuts.
2. Open Office on the web.
3. Choose Excel, and then open a new document.
4. Open the In

[2021-11-24 05:35] dingjin-ms commented on #2266
Hi @chanhohang , thank you for reporting the issue. After some investigations, we found that this is by design behavior, which is not supported by UI as well.
![1637732001(1)](https://user-images.githubusercontent.com/80384052/143180645-9a0f3e3a-d944-4e56-9208-5a4936c88e19.jpg)

However, the error message is not user friendly, we will follow up this problem by updating the error message to a more

[2021-11-24 05:37] chiz-ms commented on #2263
Thank you @GregReddick for reporting this issue regarding `Range.autoFill` API. The issue has been confirmed and tracked as ADO#5609110 in our backlog.

[2021-11-24 06:55] xuxife commented on #2268
Hi @Alex0cean,
throwing `InvalidSelectionException` from '`Workbook.getSelectedRange`' when a chart is selected is **by-design** according to our API contract.
There're indeed a set of [*OrNullObject APIs]() satisfying your description

[2021-11-24 08:12] thecodeholic commented on #2248
That's correct. Is there any way to achieve this?

[2021-11-24 08:26] chiz-ms commented on #2268
Thank you @Alex0cean for reporting this issue. According to the team, the behavior of `Workbook.getSelectedRange` and `Workbook.getSelectedRanges` is by design. It aligns with other APIs where we provide `*OrNullObject` variations for the purpose of not throwing exceptions. In this case, you may want to ask for new APIs `Workbook.getSelectedRangeOrNullObject` and `Workbook.getSelectedRangesOrNullO

[2021-11-24 08:43] RuoyingLiang commented on #2268
Hi @Alex0cean , You may consider to catch the exception when Workbook.getSelectedRange and Workbook.getSelectedRanges. Currently, we don't have Workbook.getSelectedRangeOrNullObject and Workbook.getSelectedRangesOrNullObject. You could go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) to submit a request.

[2021-11-24 09:21] carlosb1504 commented on #2227
any updates on this one please?

[2021-11-24 09:26] chiz-ms commented on #2248
Hi @thecodeholic, according to the team we don't currently support the feature you described. Please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature.

[2021-11-24 10:45] cmitjans-at-wiris commented on #1889
Hello, sorry to open this again, but what would be the approach to reading a previously inserted image via `setSelectedDataAsync`?

[2021-11-24 10:58] chiz-ms commented on #2222
Hi @gmichaud, the team has been investigating this issue but so far we don't have anything to share yet. We'll come back to this thread once there's any update. Thanks.

[2021-11-24 11:00] ghost commented on #2232
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-24 11:00] #2232 closed, assigned to exextoc

[2021-11-24 11:00] ghost commented on #991
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-24 11:00] #991 closed, assigned to exextoc

[2021-11-24 12:21] barisbikmaz commented on #1144
FYI: We can't use this workaround because we don't generate the html.
Our addin accepts html and inserts it into the document. The customer generates the html.

[2021-11-24 14:00] ghost commented on #1557
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-24 14:00] #1557 closed, assigned to exextoc

[2021-11-24 16:06] carlosb1504 opened #2271 "Add-ins are disabled entirely when using 'share' functionality from an external application to send mail"
Any Office-JS based web add-in which subscribes to the MessageCompose surface, is seemingly completely absent from the Outlook Window which is created when a user performs any kind of 'share' operation from an external application.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version

[2021-11-24 16:32] MattBeauceron commented on #2219
@exextoc Is there any update on a fix for this? We a few users who have been experiencing this issue for the past couple weeks.

[2021-11-24 18:30] preethikakiru commented on #2270
Hi @benzdechapon, thank you for submitting this issue! I've assigned this issue to @dingjin-ms who will be able to further help you resolve this issue and provide you with more information!
Best,
Preethika

[2021-11-24 18:45] davidchesnut commented on #2270
Hi @benzdechapon, Just for more information, I tested this out and the sample will work in Excel on Windows. Looks like the issue is only happening on Excel on web. In case you need to work around the issue while we look into this more.

Cheers,
David

[2021-11-24 19:16] exextoc commented on #2271
Currently the feature: addins on email started from external app or 'send file via email', you requested, is not a part of the product. This behavior is documented [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-add-ins-overview#mailbox-items-available-to-add-ins):

We track Outlook add-in feature requests on our [Tech Community Page](https://aka.ms/M365dev-suggestions).

[2021-11-24 19:50] dgtllion commented on #1904
@yihuax now i got time to test the fix.
Its long time ago that i posted about that issue... and unfortunately i see that the issue still persists.
Can you check if the update you added is available on production version?
The version of Mac Word: **16.55 (21111400)**

[2021-11-24 22:01] jasonclg commented on #710
@grangeryy
Looks like I still cannot catch the exception and override the error message when no parameter was applied.

[2021-11-24 22:43] margielovelet opened #2272 "Add notification on email sent"
Is there a way I can add notification on the email I am sending using the add-in. I can add notification on the emails on my mailbox.
I can also add notification on the email in the compose window. But I wanted the notification in the compose window to persist even after is was sent. Is this possible. Thanks.

[2021-11-25 07:43] JensMadsen opened #2273 "New requirement sets for Word API anytime soon?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Question: Are you planning to release new requirement sets for the Word API at some time? There are some very useful features (e.g. document.settings) in the preview set but the lates

[2021-11-25 08:35] knight-baron opened #2274 "[Excel] Sometimes the Office.context.ui.displayDialogAsync shows a blank page."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Sometimes the Office.context.ui.displayDialogAsync shows a blank page.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, Po

[2021-11-25 08:45] JensMadsen opened #2275 "Deployed add-in does not always show up"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have an add-in for Word. I have deployed the add-in to a test user account which is used in our CI/CD flow. In the flow we have a UI test which requires (of course) that the add-in

[2021-11-25 12:13] vimal-darji-ifour opened #2276 "Office.js API - Add nested content control in word file"
## Office.js API - Add nested content control in word file

I am developing a plugin for Office Word, I want to add a feature that allows users to add content in hierarchical order in form of nested content control.
[code]

This is what I have done so far. but I am unable to find a way to add content control within/nested content control.
Your help would be much helpful for me.

![image](https://u

[2021-11-25 13:29] andreyvcita commented on #839
@ElizabethSamuel-MSFT @anilreddyr7 Hi, any update?  UserVoice is no longer available

[2021-11-25 14:39] milankonir opened #2277 "loadCustomPropertiesAsync throws AccessRestrictedError 9017"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac iOS
* Host [Excel, Word, PowerPoint, etc.]: Outlook for Mac (new UI)
* Office version number: 16.55 (21111400)
* Operating System: macOS
* Browser (if using Office on the web): N/A

## Expected behavior

Custom properties are loaded

## Current behavior

The ca

[2021-11-25 16:35] leewisestamp commented on #839
We also need this functionality. Any update or workaround? Thanks.

[2021-11-25 16:38] MattBeauceron commented on #2236
@exextoc Any update on when a fix will be rolled out? We are also experiencing this issue with our Android users.

[2021-11-26 01:23] carlosb1504 commented on #1861
We are seeing very similar behaviour with event based activation, we are also using the `onMessageCompose` event, which has now moved to GA rather than Preview.

We see the `"We're sorry, we couldn't access [add-in name]. Make sure you have a network connection. If the problem continues, please try again later"`. In my testing locally I'm seeing this intermittently using the same js file each time

[2021-11-26 03:08] jiju-MS commented on #2267
Hi, chanhohang,
we'd like to verify some details about your issue:
1. Do you hold your custom function files(like function.js and metadata.json) on the same service using  https://localhost:20080?
2. Does this blank taskpane issue happened before you using shared runtime(long runtime)
3. May I ask the expecting behavior for your user scenario? Will it be the add-in taskpane should remain when the

[2021-11-26 03:29] chanhohang commented on #2267
chanhohang=> That's Correct. The Custom Function and taskpane is the same https://localhost:20080
Please feel free to check the attached manifest file.
[TbricksExcelManifest.txt](https://github.com/OfficeDev/office-js/files/7606095/TbricksExcelManifest.txt)

chanhohang => we never test disconnect/reconnect without long runtime. So i will say not applicable to my case.

chanhohang => so this user s

[2021-11-26 07:50] chiz-ms commented on #2276
Hi @vimal-darji-ifour, I tested and calling `insertContentControl` inside a content control should work:

    var contentControl = context.document.getSelection().insertText('outer\n', Word.InsertLocation.start).insertContentControl();
    contentControl.insertText('inner', Word.InsertLocation.end).insertContentControl();

![image](https://user-images.githubusercontent.com/19398640/143545286-26556

[2021-11-26 08:16] JensMadsen commented on #2082
In the documentation there is no mention of `items` in the load method. However, I see `items` when JSON stringify? Could you please explain?

[2021-11-26 12:57] Freymaurer commented on #2249
Hey @zacfarnsworth can i do anything to help with this issue? This is of high priority for me and i would really like to help get this done faster.

[2021-11-26 14:25] carlosb1504 commented on #1861
Further to my last comment I can confirm that for us, adding a `/.well-known/microsoft-officeaddins-allowed.json` file to the server so that a 404 response is avoided, _does_ resolve the problem. See below screenshot:

![image](https://user-images.githubusercontent.com/47693383/143594151-59a0f289-38a8-4997-b1cd-093800f5c15a.png)

All of the above tries, using the same strategy as in my last post,

[2021-11-26 18:32] lliu113 commented on #2270
@benzdechapon - thanks for reporting this! Can also confirm that this is working for Excel on Windows but not for Excel on WAC. Considering this is impacting your production add-in, I have opened a Sev 1 incident to help resolve (internal incident id: 274530087).

We will look into this as quickly as possible, but as it is currently thanksgiving holidays in the USA the majority of the team will be

[2021-11-27 00:00] ghost commented on #2251
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-11-28 10:17] Kronenberg opened #2278 "Error in Admin Portal -> "Update Manifest via URL""
In admin portal in any web browser when admin trying update the add-in using "I have a URL for the manifest file" he gets error.

Cannot perform the action you requested. Please try again later.
(e94d32e2-6031-4b99-86f4-d49ddcf79fe3)

If we are going same flow but with "I have the manifest file (.xml) on this device.
Everything is working, and we are using same manifest version that we download fr

[2021-11-28 15:01] hengchengfei opened #2279 "Office.js Word Add-In: Performance Issue with Updating Values in Large Tables"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

* Updating values in large Word tables (larger than 10 by 10) is very slow. Performance gets exponentially worse with table size.
* I'm using myTable.values = arrNewValues. I've also

[2021-11-29 02:44] grangeryy commented on #2272
@margielovelet, could you please provide more details on this?
- What Platform are you using? [PC desktop, Mac, iOS, Office on the web]
- Host? [Excel, Word, PowerPoint, Outlook, etc.]
- Office version number?
- Operating System?

[2021-11-29 02:47] grangeryy commented on #2273
@RuoyingLiang do you have any information on the new requirement set for Word APIs?

[2021-11-29 02:54] grangeryy commented on #2274
@knight-baron, for this issue, could you share with us additional information, for example, which add-in are you using to stably hit this problem? What are the steps you are taking to reproduce this issue? Thx!

[2021-11-29 03:03] dingjin-ms commented on #2263
Thank you @GregReddick for your reporting, we would try to fix the bug as soon as possible.

If you are using 'range.autofill' to copy the values, I'm wondering if using 'range.values' instead could unblock you first.

[code]

[2021-11-29 03:09] grangeryy commented on #2275
@JensMadsen, which deployment approach did you choose for the Word add-in: [Deploy and publish Office add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish) or did you use the [Centralized Deployment in the admin center](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide)? Have you tried other add-in for the test accou

[2021-11-29 03:24] grangeryy commented on #2279
@AbidRahman-MSFT do you have any suggestion on this?

[2021-11-29 08:32] JensMadsen commented on #2275
@grangeryy Sorry about the missing information. I was just a bit frustrated :-) I use centralized deployment, I.e. I go to office365 admin center and deploy the manifest to users from there. When the addin does not show up this request time-out

```https://euc-word-edit.officeapps.live.com/we/AddinServiceHandler.ashx?action=getAddIns&app=word&catalog=privatecatalog&clientCode=WAC_Word&clientVersio

[2021-11-29 09:35] exextoc commented on #2236
This issue has been fixed and deployed from our side.
Please check with the latest build of Microsoft Outlook for Android, from the play store.

[2021-11-29 10:24] thoriyadaxesh commented on #2261
Do we have any ETA on fix?

[2021-11-29 11:21] margielovelet commented on #2272
@grangeryy
Answers below, thank you.

What Platform are you using? [PC desktop, Mac, iOS, Office on the web]
Answer: Office on web and Windows PC

Host? [Excel, Word, PowerPoint, Outlook, etc.]
Answer: Outlook

Office version number?
Answer: Outlook 365

Operating System?
Answer: Windows 10

[2021-11-29 11:48] theboyknowsclass commented on #2275
We're also having this issue, seems to fail 3 out of 4 times

[2021-11-29 12:04] SWei1234 commented on #2264
Hi @exextoc
Another strange thing about this api is:
I tried 'https://docs.microsoft.com/en-us/javascript/api/outlook/office.sensitivity?view=outlook-js-preview#getAsync_options__callback_' this office api, but never get a response.
I have included the 'https://appsforoffice.microsoft.com/lib/beta/hosted/office.js' and manifest file permission is 'ReadWriteItem'

My code is:
`Office.context.mailbo

[2021-11-29 12:07] Arvini92 opened #2280 "Word addin truncates the URL that we pass to SourceLocation"
Word addin truncates the URL that we pass to SourceLocation

## Environment
Microsoft 365 MSO (Version 2110 Build 16.0.14527.20270) 64-bit

## Expected behavior
don't truncate SourceLocation url `<SourceLocation DefaultValue="https://webserver/index.html#/addin"/>`

## Current behavior
pass `<SourceLocation DefaultValue="https://webserver/index.html#/addin"/>` it becomes <`SourceLocation DefaultVa

[2021-11-29 13:44] s-pilkhwal commented on #2236
I can confirm the private add-ins are now showing up and working as expected on Outlook for Android app v4.2145.1

[2021-11-29 13:44] #2236 closed, assigned to exextoc

[2021-11-29 13:44] grangeryy commented on #2275
Adding @AkhileshShah-MS to see if he knows about this issue.

[2021-11-29 18:10] AbidRahman-MSFT commented on #2270
The issue has been resolved, and the fix is currently rolling out. Please let us know if you continue to run into issues for shortcuts on Excel on Web.

[2021-11-29 18:43] GregReddick commented on #2263
I found that instead of performing
[code]
that if I did
[code]
that it worked. However, this does not have all of the power of autoFill. The autoFill can copy other things besides formulas. The copyFrom, however, did solve the problem in my particular worksheet where the only thing I was interested in was copying the formulas. The autoFill should not be crashing Excel, but the workaround has me un

[2021-11-29 21:18] SylvaD-MS commented on #2219
@gummybuns, could you clarify the work around provided above?  The IE registry key (https://docs.microsoft.com/en-us/troubleshoot/browsers/32-bit-browser-applications-not-working-as-expected) is specific to legacy technology when loading COM object within IE process and not directly related to Office Add-in per se.  Can you check the IE browser bitness in both cases using Windows [TaskManager] und

[2021-11-29 21:53] zacfarnsworth commented on #2249
Sorry about the delay on this, I am currently trying to install a build of Excel 2019 and will look into this.

[2021-11-30 01:53] knight-baron commented on #2274
Press the button that runs. Office.context.ui.displayDialogAsync Repeat, you will find that sometimes the page a blank page.
This problem is found only in Excel Semi-annual.
screen record: https://drive.google.com/file/d/1dEfjGLuVO4VuJRaCWB-1qgYwXVW8aTXF/view?usp=sharing

[2021-11-30 02:00] ghost commented on #2251
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-11-30 02:00] #2251 closed, assigned to exextoc

[2021-11-30 02:11] dingjin-ms commented on #2263
@GregReddick Thank you for your information! We have found root cause of this problem and would fix it soon, will let you know when we check in the code.

[2021-11-30 02:13] gummybuns commented on #2219
Thanks for the reply,

I have only heard of one user encountering this problem, and will try to reach out to them and see if I can get the above information

[2021-11-30 02:33] knight-baron opened #2281 "[Excel] CustomFunctions shouldn't automatically execute upon start of the workbook"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

##CustomFunctions shouldn't automatically execute upon start of the workbook

That CustomFunctions Autorun is quite problematic as some users want to see the last data after pause str

[2021-11-30 04:24] chiz-ms commented on #2281
Hi @knight-baron, could you take a look and see if this issue is identical to #2220?

[2021-11-30 04:34] knight-baron commented on #2281
@chiz-ms  I'm sure this is the same problem.

[2021-11-30 04:40] chiz-ms commented on #2281
Thanks for the confirmation, @knight-baron! This would be a feature request so please feel free to go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and vote for the existing feature request.

[2021-11-30 04:46] knight-baron commented on #2281
I'm sure this is the same problem.

[2021-11-30 04:46] knight-baron commented on #2281
thank you very much

[2021-11-30 06:28] #2276 closed, assigned to nobody

[2021-11-30 07:34] Shujee commented on #2231
Any update on this? I'm facing this exact issue.

[2021-11-30 08:26] Freymaurer commented on #2249
I actually think i found the problem. I tried to open the web app on IE 11 and it didn't work. I guess my "bable translation to my webpack" how i called it in the post above does not work correctly.

[2021-11-30 09:11] vimal-darji-ifour opened #2282 "Office.JS -Angular : Word Content Control style not working with Word in Desktop (windows)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Trying to add content control with in content control (nested), its working fine, and for further development, trying to add some style to content control (nested) and its works fine

[2021-11-30 13:03] zacfarnsworth commented on #2249
Yes I was actually just about to comment that I’m pretty positive it has to
do with the fact that Excel 2019 still uses IE11 for it’s WebView control
for add-ins, and the issue likely stems from how the code is being
translated to JavaScript ES5.

On Tue, Nov 30, 2021 at 1:26 AM Kevin Frey ***@***.***> wrote:

[2021-11-30 13:12] Freymaurer commented on #2249
Yes i worked on this for the last few days and finally got it running. The problem came from the update to webpack5 in combination with some other dependency updates. The minimal example repo i linked in my first answer works now. If anyone finds this issue i will describe the core changes i needed to do:

- add `target: ["web", "es5"],`  to webpacks `module.exports`
- Use `babel-loader` with poly

[2021-11-30 14:31] benemohamed commented on #2234
same here with ***Office.JS -Nuxt***

[2021-11-30 15:52] hdwatts commented on #1268
@croicu @zunquan Any update on this? Our clients are experiencing it while authenticating with Okta. The 401 status is being returned and it is then followed up with a successful connection (screenshot from a successful login via Chromium Edge).

![image](https://user-images.githubusercontent.com/16158417/144080957-9e67080f-428e-45b7-92ee-6cbf040215ca.png)

[2021-11-30 17:27] exextoc commented on #2277
Can you please generate the powerlift logs, where the issue is reproducible?

Steps to generate powerlift logs.
Help -> Collect Diagnostics
This will generate a diagnostic id, please share that id with us.

[2021-11-30 17:31] exextoc commented on #839
You can get the add-in guid without office.js. Since the add-in guid is a constant and known to the add-in, you can have a constant in the add-in JS to get the guid. Alternatively, the add-in can also use a parameter and include the guid in the add-in’s entry point URL to retrieve the guid.

[2021-11-30 18:31] exextoc commented on #1861
Thank you for the detailed analysis. We are looking into the issue with the additional information.

[2021-11-30 20:33] AbidRahman-MSFT commented on #2279
Thanks @hengchengfei for reporting the issue here. I can reproduce the same issue on a Mac as well - I will discuss with our engineers and get back to you to see if there is any way we can improve the performance for updating larger tables.

[2021-11-30 21:10] cidev5 commented on #2051
@grangeryy, do you happen to have an update yet?

[2021-11-30 23:25] pkkj commented on #2231
This exception is a known issue and it will be fixed. However it's an internal problem and it won't cause any storage-related issue.

[2021-12-01 03:09] grangeryy commented on #2280
@Arvini92, you may post the question on Stack Overflow and tag it with office-js: [HERE](https://stackoverflow.com/questions/tagged/office-js)
)

[2021-12-01 04:40] NickDarvey commented on #2275
We're also, inconsistently, seeing this too.

When it succeeds the network calls look like:

[code]

[code]

When it fails the network call looks like this:

[code]

[code]

[2021-12-01 04:59] knight-baron commented on #2274
@grangeryy Any more updates?

[2021-12-01 05:17] NickDarvey commented on #2275
My issue is consistent with #1245, specifically [this detail](https://github.com/OfficeDev/office-js/issues/1245#issuecomment-676898200).

[2021-12-01 05:24] NickDarvey commented on #1245
Are there any updates on this issue?

I have some additional details which might help others: it appears to be affected by new deployments of our add-in. Notably not where we're changing the manifest, but _changing our application code_ (such that our `taskpane.html` pointed to a new `taskpane.<hash>.js`).

If you get the add-in to appear once in a private/incognito browser session (i.e. ensure on

[2021-12-01 06:08] grangeryy commented on #2274
@lliu113 do you have more information on this issue?

[2021-12-01 06:50] GregReddick opened #2283 "Adding Name via JavaScript API Wraps Formula in Double Quotes"
Adding a name via the JavaScript API forms the address part of the name wrong, surrounding the address with double quote marks.

## Your Environment
Windows 11, Microsoft® Excel® for Microsoft 365 MSO (Version 2110 Build 16.0.14527.20270) 64-bit

## Expected behavior
Address should be without quotes.

## Steps to reproduce
1.  Yo Office, Task Pane Project, TypeScript, Excel
2. Replace the run code

[2021-12-01 07:08] exextoc commented on #2264
Hello @SWei1234

Thanks for reporting this issue regarding the Sensitivity APIs in OWA. It has been put on our backlog.
We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Outlook Web: 136308

The Sensitivity APIs are still in preview, and we have not decided which API set to ship these APIs in.

[2021-12-01 07:13] GregReddick commented on #2283
Never mind...my bug. If I put an equals sign in front of the formula, it does the right thing. Sorry.

[2021-12-01 07:13] #2283 closed, assigned to nobody

[2021-12-01 07:35] chiz-ms commented on #2214
We have fixed the issue and the fix is in the release process. We'll get back to this thread when it's publicly available.

[2021-12-01 07:57] jiju-MS commented on #2267
we are trying to repro the issue locally, here are some thoughts may help:
Excel need to download all files related to custom function like function.js, metadata.json and taskpane.html(sharedruntime), so if the service which hold this files(https://localhost:20080) disabled, then it can not download and will show blank taskpane. so if in the real scenario, your service process restart will not aff

[2021-12-01 10:11] leewisestamp commented on #839
Can you please share a code sample of how to do what you mentioned? We couldn't find any documentation on this.

[2021-12-01 13:18] benemohamed opened #2284 "Office.js Excel Add-In: displayDialogAsync don't work correctly with hash url"
# displayDialogAsync don't work correctly with hash url

## Your Environment

* Platform : Office on the web
* Host : Excel
* Operating System: Linux
* Browser: Edge, chrome

## Expected behavior

the `displayDialogAsync` open correct url `https://excel.tomba.io/#/start`

## Current behavior

the `displayDialogAsync` on dev mode work correctly the url : `https://localhost:3000/#/start`
the `displa

[2021-12-01 13:28] barisbikmaz commented on #2186
I also ran into the problem. Within the runtime it is not possible to add a responseType to the request which makes it impossible to download an image.

I tried it with fetch.blob(), fetch.arrayBuffer()=, xhr and setting responseTypes nothing worked.

Our use case is to download an image from SharePoint within the runtime.

On Outlook for Web everything works fine.

Would be really great if you co

[2021-12-01 13:45] benemohamed commented on #2284
Never mind ...fixed

1. delete hash from url `https://excel.tomba.io/start`
2. X-Frame-Options delete list of header `X-Frame-Options,Referrer-Policy,Feature-Policy`

[2021-12-01 13:45] #2284 closed, assigned to nobody

[2021-12-01 14:32] rsoeldner opened #2285 "Word Enable Track Changes"
Is it possible to enable track changes?
I would like to insert text inside a specific content control, e.g.:

[code]
while tracking these kind of document interactions (Review mode).

[2021-12-01 14:33] Arvini92 commented on #2280
@grangeryy Yes already=) https://stackoverflow.com/questions/70154239/word-addin-truncates-the-url-that-we-pass-to-sourcelocation
Thank you!)

[2021-12-01 14:42] #2249 closed, assigned to croicu, zacfarnsworth

[2021-12-01 15:17] wh1t3cAt1k commented on #2096
@slabereemsft @shaofengzhu any news on that bug? We are still affected, the issue is pretty ugly...

[2021-12-01 16:34] barclayadam commented on #2177
This issue is because cookies/local & session storage etc. is blocked by default by Chrome (and assuming other browsers) when using incognito mode within an iframe, which these scripts will be in. I was testing in incognito without giving it much thought.

Could the docs @ https://docs.microsoft.com/en-us/office/dev/add-ins/develop/persisting-add-in-state-and-settings be updated a little to expand

[2021-12-01 16:36] courington commented on #2223
@exextoc Thanks, I'll post in the Tech Community Page. Currently I'm using the Dialog API and that's working for us, but I am hoping for something a bit more seem less, ie: when the customer installs the add-in and accepts scopes there, since they're already authenticated into Outlook when the add-in is being used and scopes have been accepted on add-in installation being able to forgo a dialog or

[2021-12-01 16:39] barclayadam opened #2286 "Office.context.requirements.isSetSupported not available in Desktop Outlook Event Activation"
I am unable to use `Office.context.requirements.isSetSupported` in an event based activation script on Desktop Outlook

## Your Environment

* Platform: PC Desktop
* Host: Outlook

## Expected behavior
That I could use `isSetSupported` to determine supported features, such as knowing 1.11 is supported and that I can stop using a workaround for the lack of onRecipientsChanged event in previous vers

[2021-12-01 19:02] timbeese opened #2287 "Office.ribbon.requestUpdate steals focus from my TaskPane app"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

As part of my task pane add-in, I can take actions that cause our ribbon state to change.  When I call requestUpdate on the ribbon, my keyboard focus returns to the worksheet, even if

[2021-12-01 19:18] AkhileshShah-MS commented on #2278
Hello! Could you please share following info regarding the issue.
- Is the issue limited to single add-in and/or single tenant or happening with multiple?
- Does the URL contain any redirection or is directly pointing to the add-in manifest?
Thanks!

[2021-12-01 20:15] exextoc commented on #2286
What build of Outlook are you using? Support for the Mailbox requirement set for Office.context.requirements.isSetSupported is supported in builds >= 16.0.14729.10000. We currently have items in the backlog to add support for other requirement sets, and we unfortunately have no timelines to share at this point.

[2021-12-01 20:44] exextoc commented on #2213
To clarify the last comment, are you using OWA with an outlook.com account?

[2021-12-01 22:10] JunielKatarn commented on #2186
`blob` type is not currently supported. I will communicate this to the corresponding component owners.

[2021-12-02 02:11] grangeryy commented on #2285
Hey @rsoeldner, we are using this repo to mainly for reporting issues. You may consider posting the question on Stack Overflow and tag it with office-js to get more quick answer: [HERE](https://stackoverflow.com/questions/tagged/office-js) THX!

[2021-12-02 02:11] #2285 closed, assigned to nobody

[2021-12-02 12:56] Kronenberg commented on #2278
Hello, here is all the details:
1. No its not for single tenant, it's happening with multiple -> "22a34b4e-6093-4e8c-ae5e-bc296f985bca", if you need more tenants let me know. This is our internal tenant of our organization.
2. No ULR didn't contain any logic behind the scenes, and we didn't change for very long time (during like two years) and it worked perfect.

[2021-12-02 15:02] fiftydegrees commented on #402
The issue is still happening; is fixing this issue still in the roadmap?

[2021-12-02 15:04] fiftydegrees commented on #1510
Hi @exextoc, the issue is still happening; is fixing this issue still in the roadmap?

[2021-12-02 15:05] fiftydegrees commented on #149
The issue is still happening; is fixing this issue still in the roadmap?

[2021-12-02 22:31] stenly311 commented on #1608
The user's voice is no longer available (the hyperlink from above seems to be dead).

I would like to see some way of driving history changes as Garry mentioned via the Office.js library.
Moreover, having the option to reset (delete) the history would be the one I would find very useful for my use case.

Is there any chance to add this as a new feature into the next release, please?

[2021-12-02 23:53] exextoc commented on #2261
We are still investigating this issue. What is your scenario when you want to use Office.context.ui.openBrowserWindow with Restricted permission?

[2021-12-02 23:59] exextoc commented on #2272
Currently, the feature to persist notifications through send, that you requested, is not a part of the product. We track Outlook add-in feature requests on our Tech Community Page. Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

Github Label: “Type: product feature request”
https://ak

[2021-12-03 02:11] skerr4311 commented on #2202
Hi @exextoc
Sorry It has taken so long to get back to you. I have been working hard on the widows desktop part of this project. I took your advice, followed the link and have tested on mac using the 'Current Channel (Preview)' and 'Beta Channel' and both of them are still not allowing me to write to the signature.

I would also like to ask you, when will LaunchEvent support be available for Mac? I

[2021-12-03 05:53] ppagadala opened #2288 "Any actionable element not showing Hand Cursor in Mac Excel IDV add-in task pane."
# Any actionable items like Button, Hyperlink etc are not showing Hand cursor on hover of that element.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 16.55 (21111400)
* Operating System: MacOS Catalina
* Browser (if using Office on the web): No

## Expected behaviour
Hand Cursor has to be shown

[2021-12-03 06:01] ppagadala commented on #2288
Video recording for Reference

https://user-images.githubusercontent.com/11500788/144556348-2e319b4a-53f1-4950-be0f-543f7e9ddf72.mp4

[2021-12-03 06:49] dgtllion commented on #1904
@yihuax @AbidRahman-MSFT, is there someone who can fix this issue?

[2021-12-03 09:25] hello-chenchen commented on #1592
hi @exextoc , is there any update for this problem?

[2021-12-03 11:26] thoriyadaxesh commented on #2261
Yes that's correct

[2021-12-03 17:37] pb-jeff-oneill commented on #2146
FYI, this is still happening to my customers.  :(

I passed on those instructions so you are hopefully getting debugging info.

[2021-12-03 18:43] yihuax-msft commented on #1904
Hi, @dgtllion, Sorry to reply late. I was on vacation until this Wednesday.

I just verified that, with a new empty Word document, if I run the code I put above on Jun 7, I only get one header reference:
<w:body>
<w:p w14:paraId="4B3D01DD" w14:textId="77777777" w:rsidR="00224BE4" w:rsidRDefault="00224BE4"/>
<w:sectPr w:rsidR="00224BE4">
<w:headerReference w:type="default" r:id="rId6"/>
<w:pgSz w:w

[2021-12-03 19:13] AbidRahman-MSFT commented on #1904
Verified to be working as expected on 16.57 Mac version.

[2021-12-03 19:25] AbidRahman-MSFT commented on #2146
Hey @pb-jeff-oneill - can you please share your manifest file for the add-in?

[2021-12-03 20:08] pb-jeff-oneill commented on #2146
Hi @AbidRahman-MSFT, yes, no problem.  Attached.

[manifest.zip](https://github.com/OfficeDev/office-js/files/7652092/manifest.zip)

[2021-12-03 21:52] exextoc commented on #839
In your add-in [manifest](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/manifests), you define your add-in id such as:
`  <Id>7164e750-dc86-49c0-b548-1bac57abdc7c</Id>`

This id is a constant and known to you. You can define this id in the JS of your add-in implementation for use within your add-in.

[2021-12-03 23:36] exextoc commented on #2261
Could you please describe your scenario in more detail for when you use Office.context.ui.openBrowserWindow with a Restricted permission level?

[2021-12-03 23:51] exextoc commented on #1510
We have fixed the bug and the fix should be available in build 16.0.13708.10000 or later. When an updated build is available depends on the release channel a customer is on.

[2021-12-03 23:51] #1510 closed, assigned to exextoc

[2021-12-04 00:00] ghost commented on #2256
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-04 14:33] JensMadsen commented on #1486
@ElizabethSamuel-MSFT @MandytMSFT Any news on this?

[2021-12-04 15:53] leewisestamp commented on #839
Right. The problem is that we have 3 manifest files (1 per environment: Dev, QA, PROD) that each have a different ID. So how do we know in the JS which ID to use?

[2021-12-05 03:00] ghost commented on #2271
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-05 07:55] markb-trustifi commented on #2256
This account looks ok and can send and recieve emails.

[2021-12-05 09:00] ghost commented on #2277
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!