[2021-01-13 09:30] AlexPhilippov commented on #1396
@xiaochunms, we faced the same issue. IEChooser.exe displays log messages in our case but there is a catch. It's not displaying log messages that were posted before IEChooser was loaded. So now there is basically no opportunity to get debug information for custom functions loading for Excel desktop.

[2021-01-13 11:00] ghost commented on #1472
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-13 11:00] #1472 closed, assigned to exextoc

[2021-01-13 12:37] ShubhamJain-Outlook opened #1587 "Outlook Add-in support for on-premise exchange server"
In our add-in we will be using Outlook Rest API to create and fetch events from the user’s mailbox. It is working fine for us for the mailboxes hosted in cloud. But we also need to add support for On-Premise exchange servers and there is no specific documentation details for the same.
As per the link https://techcommunity.microsoft.com/t5/exchange-team-blog/on-premises-architectural-requirements-f

[2021-01-13 12:56] ShubhamJain-Outlook opened #1588 "Outlook Exchange Server Environment for Testing"
Hi Team,
Is there any exchange server environment managed by Microsoft where we can perform functional and performance testing on different versions of exchange server.

@office-js @outlook-web-addins

[2021-01-13 13:30] cghaddar commented on #1568
Hi Jeremy
I sent the feed back as requested. I am also attaching a video recording of the crash. Not sure if this is related but I am running Windows 10 in a dedicated hard drive partition on a MacBook Pro laptop rather than a regular PC. Another fact is it seems  so far impossible to get any logs when running in shared runtime from custom functions. I have another open report on this (see https:/

[2021-01-13 13:59] waliwa opened #1589 "Insert slides in a PowerPoint presentation - Fails if the browser is IE with GeneralException"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When trying to insert slides using the following  tutorial:- https://docs.microsoft.com/en-us/office/dev/add-ins/powerpoint/insert-slides-into-presentation:-
context.presentation.inse

[2021-01-13 16:53] lliu113 commented on #1578
@JamesBigChange - thanks for reporting this! Are you able to provide the manifest for your add-in? We have restrictions around the domain that can be opened in the dialog, and it's possible it's throwing an error from a false positive. The manifest will help us repro the issue.

Thanks!
Lillian

[2021-01-13 16:59] gkarmelich commented on #1585
I also posted the same issue to [Stack Overflow](https://stackoverflow.com/questions/65706403/office-context-document-settings-get-not-working-across-multiple-platforms-for-t).

[2021-01-13 17:15] JamesBigChange commented on #1578
Hi Lillian

Thanks for looking into this issue - our manifest file is attached.

​All the best,
​
James Brown
Products Integration Developer
3150 Century Way
Thorpe Park
LS15 8ZB
T
E
W
+44113 457 1000
james.brown@bigchange.com
www.bigchange.com
Legal Disclaimer: BigChange Limited is a provider of mobile workforce management technology.  If the recipient of this email is not the addressee, such rec

[2021-01-13 17:33] billcawley opened #1590 "[Excel] getMergedAreas returns only the top left cell of the merged areas"
The method ‘getMergedAreas’ when applied to a row in Excel either returns an undefined area (there are merged areas which intercept with the row, but none start on the row) or returns a series of single cells (e.g. if the merged area is T4:U5, only T4 is returned).

I had wished to fill every cell of a merged area with the value in the top left, but given that only the top left cell is returned, t

[2021-01-13 17:56] lliu113 commented on #1372
@bendhayer @v-pidoplichko - sorry for the late response, thanks for your patience on this. I tried reproing this on IE 11 in Excel Online and the dialog is launching correctly. I used the snippet provided by @bendhayer.

Can you confirm whether this is still reproing?

[2021-01-13 18:16] lliu113 commented on #1581
@WillemSleegers - thanks for reporting this! The horizontal scrollbar is indeed incorrect, will open a bug internally and get this fixed.

[2021-01-13 18:37] defusioner commented on #256
Having the same issue

[2021-01-13 21:42] nikhilism15 opened #1591 "Unable to run Excel JS Add-In in Windows Server 2016"
I am unable to enable the add-in properly in Windows Server 2016 with Office 2016 installed. It works fine in Windows 10 systems, but in Windows Server 2016, the dialogs don't work (there are some backticks in the JS code of dialogs that are shown as invalid characters) and the custom tab doesn't show at all. Any ideas why this is the case? We need to remedy this urgently as there is a use case wh

[2021-01-13 22:08] lliu113 commented on #1576
@sarala-bhalerao thanks for reporting this! Unfortunately the context menu is only supported for basic text in the document, and not tables or other objects within Word.

If you'd like to make a feature request for additional support, please submit a new idea to https://officespdev.uservoice.com/.

Closing this issue, please reopen if you have any further questions. Thanks!

[2021-01-13 22:08] #1576 closed, assigned to lliu113

[2021-01-13 22:09] lliu113 commented on #1563
@christian513 thanks for reporting this! Just so I understand, this is not blocking your dialog from launching but it's throwing an internal error? What is your dialog doing?

[2021-01-13 22:12] exextoc commented on #1587
For the most part REST is NOT supported On-Prem. There are some hybrid deployments that do support Rest (https://docs.microsoft.com/en-us/graph/hybrid-rest-support) But new REST Apis/updates aren't given to these environments. There are certainly will always be On Prem servers, where REST is not available and you need to fall back to EWS.

The EWS token can be used for GetItem and GetAttachments o

[2021-01-14 03:16] hello-chenchen commented on #1347
hi @exextoc , we have verified it is worked on mac 16.44. But right now, we  get a same problem on IOS. Could you please verify this problem on IOS.

[2021-01-14 03:18] hello-chenchen opened #1592 "IOS and Android: client add-in not support prompt for cert selection when using adfs or azure ad intune to doing sso login"
the same problem with this one, but it is not Mac outlook client, it is IOS outlook client. https://github.com/OfficeDev/office-js/issues/1347

for android, i have enrolled my android device, but it always show "to enroll your device, install the free Microsoft Intune Company Portal app. -> go to goole play"
![image](https://user-images.githubusercontent.com/1878089/106079055-7816c180-614f-11eb-95

[2021-01-14 04:11] nikhilism15 commented on #1591
Hey @AlexJerabek,

I realised that the office version is different, uninstalling office 2016 and installing office 365 fixed the issue for me. I wanted to know what's the minimum office version that will run an excel js add-in? We need to specify the requirement set for our clients and I cannot seem to find the answer in docs.

[2021-01-14 06:06] christian513 commented on #1563
@lliu113 you are right. The dialog is launched correctly but every time this error occurs. The error does not show up in the dialog but nevertheless it should not happen. The error is triggered when launching the dialog. So it does not depend on what the dialog is doing. Even if the dialog is a completely empty page without functionality the error occurs.

[2021-01-14 07:18] WillemSleegers commented on #1581
I think the vertical scrollbar is also incorrect; it seems to behave unusually when scrolling. When I scroll through the Samples section of the add-in, the scrollbar does not respond until I get to the bottom of the add-in.

And in Chrome I do not get the initial vertical scrollbar.

[2021-01-14 10:20] JamesBigChange commented on #1578
Thanks @lliu113, I have emailed you our manifest. Please confirm that it was received.

[2021-01-14 10:42] rodimius commented on #1583
There is a good mix of systems on site, so I will check if any are using edge.
I will go away and double check those things. Thanks.

[2021-01-14 10:43] katyapavlenko commented on #1569
thank you, @AbidRahman-MSFT

[2021-01-14 10:43] #1569 closed, assigned to nobody

[2021-01-14 11:10] AnuragMohta commented on #1014
@MSFT team , wondering if there was any update on this issue, as i am facing it in my Excel Add-in as well. Thanks !

[2021-01-14 14:59] sshukurov opened #1593 "[Excel] Context menu control icon defined in manifest does not show in Excel on the Web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Context menu controls' icons must be visible on all supported platforms, including Excel on the Web.

## Current Behavior
Currently the icon gets displayed correc

[2021-01-14 15:08] atomroflman opened #1594 "[Outlook] OfficeRuntime.auth.getAccessToken Token does not contain scopes named in manifest.xml"
When I try to aquire a token for my current user with the following function:
[code]
the token does not contain the scopes I defined in the manifest.xml.
[code]
Stackoverflow Link: https://stackoverflow.com/questions/65721173/outlook-getaccesstoken-does-not-return-scopes-declared-in-manifest
## Expected Behavior
I expect a property in the decoded JWT 'scopes' that holds the scopes I defined in the

[2021-01-14 16:13] lliu113 commented on #1560
@gerrychong - sorry for the late response to this! I took a look at your manifest, there seems to be nothing wrong with the context menu portion but the manifest itself has issues (e.g. schema violations).

The manifest you used has since been deleted, my guess is that it was stale. Let me follow-up internally to see if there is a better add-in template for you to use.

Thanks!
Lillian

[2021-01-14 17:44] lliu113 commented on #1578
@JamesBigChange - manifest was received, thank you! What's the domain of the dialog you're trying to launch? And this is occurring just in IE11, correct? All the other browsers are working correctly?

[2021-01-14 17:52] JamesBigChange commented on #1578
@lliu113 thank you. The domain for the dialog is: https://clients.bigchange.com
Yes that's correct - it works in all browsers except IE11.

[2021-01-14 17:56] lliu113 commented on #1578
@JamesBigChange - Unfortunately I can't seem to get your add-in to side-load (it's giving me a blank page in the taskpane), and I'm unable to repro this with another add-in. The dialog is launching correctly in IE11 for me, when the domain is one specified under AppDomain.

Let me circle this internally and see if this is a known bug. Will revert back soon - thanks!

[2021-01-14 18:40] Rick-Kirkham commented on #1594
FYI. The manifest is only used to create the dialog that prompts the user to grant permissions. It is not used for asking AAD or Graph for the permissions. The token returned by getAccessToken should have only one scope: access_as_user. See the sample token at [Example access token](https://docs.microsoft.com/office/dev/add-ins/develop/sso-in-office-add-ins#example-access-token). This token is the

[2021-01-14 19:31] lindalu-MSFT commented on #1014
I believe @lliu113 Lillian was investigating this issue.

[2021-01-14 22:35] waliwa opened #1595 "How do I get hold of PowerPoint JavaScript API 1.2 - its not on the CDN"
How do I get hold of PowerPoint JavaScript API 1.2 - its not on the CDN?
Is it officially released?

[2021-01-14 22:35] waliwa opened #1596 "How do I get hold of PowerPoint JavaScript API 1.2 - its not on the CDN?"
How do I get hold of PowerPoint JavaScript API 1.2 - its not on the CDN?
Is it officially released?

[2021-01-14 22:35] waliwa opened #1597 "How do I get hold of PowerPoint JavaScript API 1.2 - its not on the CDN?"
How do I get hold of PowerPoint JavaScript API 1.2 - its not on the CDN?
Is it officially released?

[2021-01-14 23:44] lliu113 commented on #1578
@JamesBigChange - quick update, we were able to repro this issue successfully. The manifest was a huge help, thank you for providing that! We are currently investigating the root cause, which may take some time. Will update when we know more, thanks!

[2021-01-14 23:47] lindalu-MSFT commented on #1597
Hi, we have a few [preview APIs on the PowerPoint docset](https://docs.microsoft.com/en-us/javascript/api/powerpoint?view=powerpoint-js-preview). @sohailzafar is there anything else publicly available?

[2021-01-14 23:47] lindalu-MSFT commented on #1596
Closing. Dupe of https://github.com/OfficeDev/office-js/issues/1597

[2021-01-14 23:47] #1596 closed, assigned to nobody

[2021-01-14 23:47] lindalu-MSFT commented on #1595
Closing. Dupe of https://github.com/OfficeDev/office-js/issues/1597

[2021-01-14 23:47] #1595 closed, assigned to nobody

[2021-01-14 23:49] lindalu-MSFT commented on #1594
Thanks, @Rick-Kirkham! @atomroflman does this answer your question?

[2021-01-15 03:47] rundongmsft commented on #1590
Hi Billcawley,

Thanks for your questions! I have a workaround that can help to get all the cells of mergedAreas:

[code]
Can this workaround solve your problem?

[2021-01-15 04:06] GeorgeHung commented on #1553
Switch from numberFormat to numberFormatLocal does fix the issue.  However, for Excel online, the problem still exist with numberFormatLocal.

[2021-01-15 07:09] VivianVenter commented on #1585
I also posted a similar issue to [Stack Overflow](https://stackoverflow.com/questions/65720404/office-settings-not-retrievable-in-excel-online-when-created-and-set-in-excel-de)

[2021-01-15 08:28] atomroflman commented on #1594
First of all thanks for your answers @Rick-Kirkham & @lindalu-MSFT.
The links will be helpful, but my solution was already working 2 months ago. I didn't change the request flow with the MS-Graph.
So I am wondering why I have to implement the 'token swap' now?

[2021-01-15 08:40] PriyaKatkade opened #1598 "How to hide developer window when performing ribbon or context menu action in OfficeJS Word"
Hello,

We are using OfficeJS Beta https://appsforoffice.microsoft.com/lib/beta/hosted/office.js to create Word Addin.
Our add-in contains Ribbon and Context menus (Add-in commands). We have created manifest.xml which supports this commands. Function file is there which handles execution for this add-in commands.

When we execute any add-in command(Ribbon button or context menu), it executes the o

[2021-01-15 09:39] dsebastien commented on #1507
Being able to get the document's name is very useful for scenarios where we want to create an add-in uploading specific file to third-party systems.

[2021-01-15 11:00] ghost commented on #1479
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-15 11:00] #1479 closed, assigned to nobody

[2021-01-15 14:39] gibbitz commented on #817
This is disappointing when an unstyled tag (p/span) is substituted for a styled one (li/h2 etc) or when it strips my style attributes. Would be nice to have a reliable method of styling my add-on generated messages.

[2021-01-15 15:27] pravin-mamdge commented on #1598
To hide the Developer Window, run the following command in terminal -
defaults write com.microsoft.Word OfficeWebAddinDeveloperExtras -bool false

[2021-01-15 15:42] PriyaKatkade commented on #1598
Thanks @pravin-mamdge.

Command works as expected.

[2021-01-15 15:42] #1598 closed, assigned to nobody

[2021-01-15 16:18] chucklay commented on #1579
I still really need some help getting my add-in to load. I've rolled back to a version that I know works (using a shared runtime), but I'm still getting a blank taskpane (now without a loading spinner). OfficeAddins.log.txt still doesn't provide any useful information, and again, this is only happening on desktop. It loads perfectly fine in every browser I try.

It seems like debugging/logging the

[2021-01-15 20:46] amelehy commented on #1585
My team is also experiencing this issue (it is also **URGENT** as our entire add-in relies on the Settings object being consistently accessible). We've narrowed things down to a mismatch in the value of `store` in the `webextension1.xml` and `webextension2.xml` files. It seems that a recent version of Word thinks that the add-in being loaded is a different add-in if it was installed from the web v

[2021-01-15 21:39] exextoc commented on #1588
What versions of exchange server are you looking to test on? Microsoft doesn't provide a way to test against On-Prem Exchange servers. For Office 365, you could look into: https://developer.microsoft.com/en-us/microsoft-365/dev-program

You could also create a consumer account on outlook.com to test outlook add-ins.

[2021-01-16 00:04] AbidRahman-MSFT commented on #1585
Hey everyone, thank you for reporting this bug. We are able to reproduce it and are currently investigating the issue. I will let you know as soon as we have an update.

[2021-01-16 09:58] Petryxasport opened #1600 "Function saveAsync does not work after removing item"
**Issue:**
Function saveAsync does not work after removing Email and throw the error:
{
   "code": 9021,
   "message": "Connection error occurred while trying to save the item on the server.",
   "name": "SaveError"
}

**Steps to Reproduce**
1. Open add-in in compose mode
2. call `saveAsync` - Email will be saved as draft item.
3. remove email
4. call again `saveAsync`
5. call fails with following

[2021-01-16 15:11] ozhanatali commented on #1579
I don't want to open a new issue on it but **shared runtime** absolutely not working with webview2 on the latest excel build (even with the latest beta 13707.200008)

System: Windos10
Webview: webview2
Env. : sharedruntime
addin : excel
symptom: taskpane not loading (https://github.com/MicrosoftEdge/WebView2Feedback/issues/820#issuecomment-760580110)
same manifest.xml works well on office web,

[2021-01-16 20:00] ghost commented on #1661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-17 15:13] AdielAhmad commented on #1580
Hi @exetoc, i am running into the same issue, would the validation policy for Office Add-Ins deny my submission in this case?
It seems like this issue is only related to IE11, but older versions of the Desktop-Application are using IE11 aswell.

[2021-01-17 15:51] sabven opened #1601 "Word web Add-in AAD pop-up not returning token back to add-in"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I'm working on word web add-in and I am using AAD for authentication. so, when users click the add-in, the add-in opens the pop-up for AAD and after that it gives back the token to ad

[2021-01-18 11:53] exextoc commented on #1520
The add-in callback token doesn't have enough permission scope to use the translateExchangeIds API. translateExchangeIds requires User.Read.All, User.ReadWrite.All permission but the add-in token only has Mail.ReadWrite permission.Right now the only option is to use a REST API on Android.

[2021-01-18 14:03] exextoc commented on #1548
@EneOli Can you please elaborate why dialog API will not work for your scenario?

[2021-01-18 15:59] paulfrench opened #1602 "Office Version reported as 0.0.0.0"
# Issue

Running online Excel using Addin in shared runtime.

I check the properties:

- Office.context.diagnostics.version
- Office.context.diagnostics.platform

..and they are reported as:

- 0.0.0.0
- OfficeOnline

 ## Expected Behavior

The actual online version of office.js should be reported and not 0.0.0.0

## Current Behavior
Office.context.diagnostics.version=0.0.0.0

## Steps to Reproduc

[2021-01-18 16:34] paulfrench opened #1603 "Remove IE11 as default browser for desktop Excel in shared runtime"
When can we expect IE11 to be removed as the default browser in desktop Excel when using the javascript shared runtime? It's a massive pain having to make your Addin work in IE11 since a lot of frameworks have dropped support for IE11 and polyfills do not exist for all the newer browser features e.g. new CSS stuff etc

[2021-01-19 06:38] madhavagrawal17 commented on #1536
@AlexPhilippov, find my reply to your comments.

1. I think adding functions.js in start.html won’t solve any of your problems.  I think uninstalling and reinstalling the add-in doesn’t install custom functions for you is a different problem. I think Xiaochun suggested that change because he was thinking start.html is your final html, but it is not the case as per your design.
2. I tested your sce

[2021-01-19 09:33] honxmsft commented on #1559
@sameera After we discussed with PM, we think the current API's behavior is by design.

At the early design of the js API, the APIs use USA locale by default. The same code run in different regions will produce same result unless you explicit use locale related API. If you want to use the current locale to set value, please explicitly use [Range.formulasLocal](https://docs.microsoft.com/en-us/java

[2021-01-19 12:07] vddgil opened #1604 "Feature displayDialogAsync add an action parameter to the url which break google oauth flow"
## Expected Behavior
When opening a dialog for google oauth, displayDialogAsync shoudn't add any params to the given url

## Current Behavior
displayDialogAsync add a param "action=dialogOpen" which break google oauth flow
See screenshot:

![Screenshot](https://d3dehtdmp2rwcw.cloudfront.net/ms_40099/1LI635HSHWxf3kq22xOymQ4La2GuJD/Office%2BAdd-ins%2B-%2Baccounts.google.com%2B2021-01-19%2B13-01-54.p

[2021-01-19 14:46] rodimius commented on #1583
This ended up being caused by folder redirection. Specifically using Ivanti UEM.
The integrity level of the IE low integrity cache was not set to Low as a side effect of the folder redirection.
The error was being thrown when writing to localStorage, which I confirmed in the console, which helped us track it down.

Thanks for your help.

[2021-01-19 14:46] #1583 closed, assigned to exextoc

[2021-01-19 15:57] amelehy commented on #1585
Hi @AbidRahman-MSFT, is there any update on this? This is extremely urgent for us.

[2021-01-19 18:36] elthombre commented on #1073
can someone offer insight into what needed to be changed in the manifest or routes (i.e. what was causing this error?)

[2021-01-19 18:49] elthombre commented on #1016
nobody has any ideas why this was happening?

[2021-01-19 18:51] exextoc commented on #1073
@elthombre this issue was closed many months ago. If you have a related issue, please open a new one.

[2021-01-19 19:57] LouMM commented on #1543
@mattgeim This looks like an API issue. Is the customer using our templates? Can  @shaofengzhu or someone take a look?

[2021-01-19 20:49] AbidRahman-MSFT commented on #1585
@amelehy Still investigating, will update this thread on when/how we are mitigating the issue.

[2021-01-19 20:58] exextoc commented on #1552
Thanks for reporting this issue regarding the error UX. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office # 4763022

[2021-01-19 21:00] ghost commented on #1661
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-19 21:02] amelehy commented on #1585
Thanks for the update @AbidRahman-MSFT. From what we're seeing the store ID has always been `en-001` when installing an add-in from AppSource, and that is still the case today.

The real problem is that when calling `Office.context.document.settings.get`, Office JS is not recognizing an existing webextensions file with the same add-in ID as the add-in that is making the `Office.context.document.se

[2021-01-19 21:08] AbidRahman-MSFT commented on #1585
@amelehy thanks for the context here. I've shared it with the team. I can give you an estimate as soon as we can drill down on what internal change is causing this issue. Unfortunately, we don't know the source of this issue yet.

[2021-01-19 21:45] jeremy-msft commented on #1579
Including @smaremanda for the reported WebView2 issue.

[2021-01-19 21:59] jeremy-msft commented on #1568
Thanks @cghaddar, could you please try applying the attached registry key (rename to .reg) and let us know if that resolves your issue?  It will disable a recent change that we think might be causing the problem.

[overrideKey.txt](https://github.com/OfficeDev/office-js/files/5838790/overrideKey.txt)

[2021-01-19 22:43] eneoli commented on #1548
Because the users set the url to open in addin settings

[2021-01-20 00:00] ghost commented on #1587
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-20 01:19] sameera commented on #1559
@honxmsft Thank you for the details.
We will switch to using `formulasLocal`.

[2021-01-20 01:27] JuaneloJuanelo commented on #1602
You are checking for this parameter in Excel for the Web  who is always on latest version

[2021-01-20 01:27] #1602 closed, assigned to nobody

[2021-01-20 01:28] lliu113 commented on #1563
@christian513 appreciate the clarification, I will follow-up internally. Thanks!

[2021-01-20 01:35] lliu113 commented on #1604
@vddgil thanks for reporting this! Can you provide a little more info to help us repro - which app and browser are you seeing this on?

[2021-01-20 01:37] JuaneloJuanelo commented on #1600
@Petryxasport  thanks for reporting this. Can you please clarify the scenario?  Why do you want to save an item after you delete it? Are you expecting a deleted item to be saved?  Probably this is by design.

[2021-01-20 02:34] hdkdinh commented on #1027
Hi @exextoc , how about this issue? Do you have any update for this bug?

[2021-01-20 07:16] vddgil commented on #1604
@lliu113 Hello ! It's on outlook, i'm one macOS, thats pretty simple to reproduce, just open a dialog with displayDialogAsync and you will see that the method add an extra parameter "action=dialogOpen" in the url. Which is actually not a big deal, except for google oauth flow wich is very strict regarding url parameters (see screenshot).

There is an old issue on the following repo => https://gith

[2021-01-20 07:36] VivianVenter commented on #1585
Good Day everyone,

Just some context from my side surrounding this. This happens in Excel as well. We have an add-in that we've been using for around 3 years, we store metadata in the settings object such that if you send your excel file to a colleague our add-in can read the metadata and the user can continue using the add-in with the file. A week ago a colleague told me the add-in is causing is

[2021-01-20 08:22] MandytMSFT commented on #1555
@ssoni2074  The fix for this issue has been reached on word online. Could you help confirm if it's resolve from your sides. I tried on 16.0.13713.41009, looks good to me.

[2021-01-20 08:46] liwei118 opened #1605 "Body content style changed after inserting html from Outlook add-in on Mac"
## Expected Behavior
After inserting html to the top of mail body content from Outlook add-in on Mac, part of the beginning of original body content is not changed.

## Current Behavior

After inserting html to the top of mail body content from Outlook add-in on Mac, part of the beginning of original body content is wrapped with <span style="color:white"></span> tag.

## Steps to Reproduce, or Liv

[2021-01-20 12:56] exextoc commented on #1605
Is this issue happening on both Mac and Windows?In Mac is it happening on old UI or new UI?
I tried reproducing this issue on Mac but was not able to reproduce it .Can you please elaborate  the repro steps with sample code for both scenario?

[2021-01-20 14:25] cghaddar commented on #1568
Unfortunately, this did not resolve the problem. I verified the reg keys were added, cleared my office cache and restarted Excel multiple times but the problem persists. It sounds like a potential memory access violation. After the crash, the Window.local storage is wiped out the next time I start Excel.  Local storage persists if I just start and close and restart one instance of Excel. I did app

[2021-01-20 15:33] lliu113 commented on #1604
@vddgil appreciate the clarification - let me circle back internally and figure out what's happening.

[2021-01-20 23:19] smaremanda commented on #1603
@paulfrench I understand your feedback on IE11.
We are getting ready to rollout support for WebView2 over the next several weeks. This will likely start with the November fork of Office. For Office versions numbers and corresponding browser support you can see this page here: https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins
Please note that you will

[2021-01-21 03:17] wh1t3cAt1k commented on #360
It seems like I am observing the same problem on the latest version of office.js - sometimes the changes would not persist back to the workbook despite explicitly awaiting for `Excel.run()` and `context.sync()`. I am now trying the shared API to see if things get better using it.

Has this been solved, or should the workaround be used in the meanwhile?

[2021-01-21 03:17] wh1t3cAt1k commented on #360
Also, @dmahugh @JuaneloJuanelo I think you meant to re-open this issue but it was never re-opened :)

[2021-01-21 03:47] liwei118 commented on #1605
old UI
repro steps:
https://21vms-my.sharepoint.cn/:v:/g/personal/v-rehong_21vms_partner_onmschina_cn/EVDwczSMO5NFpe5r42LRnmkBYo6eaIXjglC0Ss-_UFOC7w?e=STYzWr

[2021-01-21 04:59] Premsagar-lab opened #1606 "[Outlook] [Onsend addin] Unable to read MIP Labels through get internet headers API in onsend addin"
We have use case of checking if the emails being sent have applied MIP Labels as configured. We tried to read using the Office.context.mailbox.item.internetHeaders.getAsync() method but it fails to provide the labels. We found that the MIP labels are applied on the email after invocation of Onsend addin hence addin cannot get that headers.

## Expected Behavior

Labels should be applied before the

[2021-01-21 05:44] SWei1234 opened #1607 "mailbox.makeEwsRequestAsync get error on shared calendar"
I just trying use 'makeEwsRequestAsync' to get Extend properties.
Just wonder can this API running on a shared calendar.
When I trying this api on a shared calendar (have Editor permission on 'Calendar' and 'Tasks') it report me 'Office extension have no permission to access any other mailboxes then the mailbox provided in the user context.'

## Expected Behavior
makeEwsRequestAsync can run on sha

[2021-01-21 06:49] exextoc commented on #1605
We tried to reproduce this issue with sample code shared above on Mac(Old UI) and windows but could not able to reproduce this issue .Can you please share the manifest which you are using to reproduce this issue?

[2021-01-21 09:16] hello-chenchen commented on #1592
hi @exextoc any update here? we found android outlook also have the same problem here.
when i try to use azure ad (which open the intune device verify, it means need select cert selection on browser). when i use chrome directly, it works fine. and can prompt the certification select. but on android outlook app, it can't do that.
below screenshot is what chrome behavior:
![image](https://user-image

[2021-01-21 10:19] paulfrench commented on #1603
@smaremanda that is good news.

Does this also help with Office Store submissions? Currently I cannot submit my Addin unless it works on all platforms and that currently means IE11 in desktop Excel as well as safari on Mac/IOS ?

It's crazy we are forced to support many platforms which we have no plans to support ourselves e.g. IOS

Basically my problem is I want to submit an Addin to the Office S

[2021-01-21 10:53] paulfrench commented on #1603
Also looking at the link you supplied, point 3 is applicable to me...

`If your add-in includes the Runtimes element in the manifest, it uses Internet Explorer 11 regardless of the Windows or Microsoft 365 version. For more information, see Runtimes.`

Is this restriction going away since I do use a shared runtime?

[2021-01-21 14:29] lliu113 commented on #1604
@vddgil our team is looking into this. While we investigate, is it possible for you to redirect to a page on your app domain first and then redirect to the google auth page? Doing so should hopefully unblock you in the meantime.

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api#authentication-flow-with-the-office-dialog-box

[2021-01-21 14:36] ShubhamJain-Outlook commented on #1582
Hi @exextoc
Outlook Add-in application which is launched in the TaskPane of the Outlook Desktop Client, is it considered as third party application or first party applications. If it is considered as First Party Application then also can it impact add-in application.

Our assumption is that when add-in is launched in TaskPane it is opened directly in Outlook embedded browser so application is cons

[2021-01-21 14:36] lliu113 commented on #1581
@WillemSleegers - I think you might be right, thanks for testing this. Will amend our internal bug to include both scrollbars. This is in our backlog but no ETA yet. Will update when we ship a fix - thanks!

Ref: Bug ID 4782012

[2021-01-21 14:46] lliu113 commented on #1560
@gerrychong here is more info on the error you hit - https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-development-errors?view=excel-js-preview#getting-error-this-add-in-is-no-longer-available

[2021-01-21 14:55] ShubhamJain-Outlook commented on #1587
Is there any support for on-premise customers with MS Graph APIs

[2021-01-21 14:58] lliu113 commented on #1556
@mjrforce - sorry for the late response to this. Are you able to provide your add-in manifest so we can repro on our end? ConversationID is a parameter for Outlook, so it's odd it's throwing in Excel.

[2021-01-21 15:11] lliu113 commented on #1545
@clavx - thanks for providing the dump! We will look into this internally

[2021-01-21 16:43] mjrforce commented on #1556
@lliu113 So I've gotten past this issue. However, Now I am getting a different error.
`
error: {
code: 12011
message: "Browser restrictions prevented us from creating the dialog box. The domain of dialog box and the domain of the add-in host are not in the same security zone."
name: "Display Dialog Error"
}
`

Which is odd because the addin is using window.location.origin to build the url for the

[2021-01-21 16:52] lliu113 commented on #1452
@ig-jb - thanks for reporting this, sorry for the late response! I was able to repro this in Outlook (both web and desktop), but not the other apps e.g. Word. I will create a bug for this internally and get it triaged.

[2021-01-21 17:07] ig-jb commented on #1452
Thanks @lliu113. I would advise also that the 5 minute timeout limitation should be documented, as even once the dialog closes successfully the behaviour may confuse other developers & users of their addins.

[2021-01-21 19:35] exextoc commented on #1587
I don't think there's MS Graph support for exclusive on-premise environment. However, there support for hybrid deployments. See this documentation : https://docs.microsoft.com/en-us/graph/hybrid-rest-support

[2021-01-21 20:25] exextoc commented on #1582
The terms first-party cookie and third-party cookie are different from first-party add-in and third-party add-in here.

All add-ins built by internal Microsoft teams are considered first-party add-ins, whereas those built by developers external to Microsoft are considered third-party add-ins.

Cookies that match the domain of the current site in the browser's address bar are considered first-party

[2021-01-22 02:45] liwei118 commented on #1605
manifest：
 https://sbux-outlook.chinacloudsites.cn/manifest.prod.xml

[2021-01-22 05:09] madhavagrawal17 commented on #1568
Thanks, @cghaddar for validating our suspicion. I tried your scenario locally but I am not able to repro it. We need more info from you.
1. Does this happen only for custom functions with Localstorage? If Yes, Could you try the same scenario with a simple custom function like '=CONTOSO.ADD'. We would like to check it is a document open problem or a custom functions execution problem.
2. Could you

[2021-01-22 09:23] raymondnexsoftech commented on #1441
Hi all,
Any update on this?
The 'do you trust the domain' popup makes my client confuse.

[2021-01-22 10:41] exextoc commented on #1606
One which Mac UI are you seeing this issue:-Old or New UI?

[2021-01-22 10:45] rosergeev commented on #1520
So I ended up with requesting entryId via Graph API and then converting it to ews format at back end. In any case, @exextoc thank you for your support!

[2021-01-22 10:45] #1520 closed, assigned to exextoc

[2021-01-22 11:09] exextoc commented on #1607
We does not support EWS in Delegate scenario .Follow this document for more information :-https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access.
REST API, however, works! We made server changes specifically for this.

[2021-01-22 11:20] Premsagar-lab commented on #1606
@exextoc We are seeing this on Old UI. New UI does not support Onsend addin.

[2021-01-22 12:19] leybal commented on #1542
@davidchesnut thanks for the answer.
I have additional questions. It looks like setStartupBehavior does not give us the ability to do autorun the add-in. The following steps need to be taken:
1. a user have to interact with the add-in,
2. we set Office.StartupBehavior.load,
3. this setting will be saved in the workbook,
4.  and only when the workbook is reopened, the add-in will run automatically.

[2021-01-22 12:38] exextoc commented on #1605
Manifest which you shared require QR Code to login .Can you please share the exact sample code in Add-in which you are running .I tried with sample code shared above but newDom was not defined in that sample code and we are not able to run it .

[2021-01-22 13:31] gerrychong opened #1608 "Undo operation with Office-js"
How do I undo an operation done by Office. Js to Excel?

[2021-01-22 13:36] georgechr commented on #1335
Hello @RuoyingLiang

Is there a workaround for this? We've had this issue for a long time now and it's impeding releasing enterprise applications to our clients.

Thanks

[2021-01-22 13:37] lumine2008 commented on #1608
Thanks for your post, unfortunately, office JS currently does not support undo. I would suggest that you could vote in the [uservoice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/10754784-fix-the-issue-with-new-javascript-api-for-excel-a)

meanwhile, would you please also share your scenario?

[2021-01-22 13:44] gerrychong commented on #1608
In fact, everyday scenarios already have a lot of undo operations,It shouldn't be Office. JS to support it, it should be Excel to record it and then undo it....

[2021-01-22 13:46] gerrychong commented on #1608
I think that's a very important thing to do, rather than having users vote on it.

[2021-01-22 13:48] lumine2008 commented on #1608
Thanks, the reaon that this workitem hasn't get the priority is that the cost is super high plus VBA currently don't support it.

Can you please share us your scenario, we have an idea, but we would like to see if this could help in your scenario or not.

[2021-01-22 20:09] Tjerkdb opened #1609 "auth.getAccessToken not working in dialog"
I am developing an power point office add-in where i use a dialog. I would like to generate a bootstraptoken using the office.auth.getaccestoken but it does not seem to work inside the dialog while it does work in the taskpane. Is this by design or is this a bug?

## Expected Behavior
when I call office.auth.getAccessToken I expect a bootstrap token

## Current Behavior
The code breaks without err

[2021-01-22 21:43] Rick-Kirkham commented on #1594
Please provide the token that is being returned by getAccessToken. You can obfuscate GUIDs and other personal data.

[2021-01-22 21:47] Rick-Kirkham commented on #1594
@atomroflman Are you the same person that created the stack overflow issue? That person seems to have solved the issue. Are you still having a problem?

[2021-01-22 23:15] waliwa commented on #1589
Hello,
can you please confirm that inserting slides is supported if the browser is IE11?
As mentioned we have no problem with Edge. IE11 is the browser that we also have to support.

thanks!

[2021-01-23 08:33] sarala-bhalerao commented on #1576
Can I get list of objects for which context menu is not supported and list of supported objects?

[2021-01-24 00:01] cghaddar commented on #1568
Actually, this could very well be a document loading problem rather than a local storage issue. Here is what observed with more testing:
1. I get the same crash whether I use the async officeruntime storage or the sync window storage.
2. Excel does not crash if I open multiple blank books at once. I can evaluate custom functions in any of the open books and Excel is happy.
3. I opened multiple bla

[2021-01-24 03:00] ghost commented on #1600
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-24 11:54] HackerM00n opened #1610 "[OUTLOOK FOR MAC] getAttachmentContentAsync() returns '7000' error in "New Outlook" 16.45 for macOS Big Sur"
The getAttachmentContentAsync() method can't get the attachment value. This bug appears only in “New Outlook” for macOS Bug Sur. If I switch back to "Old Outlook" it disappears. It also doesn't appear in WEB / Win 10 Outlook.

## Expected Behavior

Attachment successfully loaded, base64 can be obtained from result.value.content.

## Current Behavior
Attachment not loaded:
**code:** 7000
**message:

[2021-01-25 09:53] ShubhamJain-Outlook commented on #1582
Whether the cookies used by outlook add-in in the Outlook Desktop client will be considered as first party cookies or third party cookies. As addin is directly opening in the embedded browser of Outlook Desktop Client.

[2021-01-25 09:56] atomroflman commented on #1594
@Rick-Kirkham: That's me. I solved the issue with your support.
Thank you.

[2021-01-25 09:56] #1594 closed, assigned to exextoc

[2021-01-25 10:31] jurisjansons opened #1611 "[OUTLOOK FOR MAC] saveAsync() returns '5000' error in New Outlook on macOS Big Sur"
Using office.js method `Office.context.mailbox.item.saveAsync()` returns error in callback response. Same code works fine when switching off New Outlook toggle button.

## Expected Behavior
returns object with property value which contains id of the event

## Current Behavior
return object with error

## Steps to Reproduce, or Live Example

1. Create add-in which uses `Office.context.mailbox.item.

[2021-01-25 11:25] SWei1234 commented on #1607
Thanks for your reply. @exextoc
Will try use other ways on shared calendar.

[2021-01-25 11:25] #1607 closed, assigned to nobody

[2021-01-25 13:46] DmitryKostochko opened #1612 "Outlook Online, IE, the setSelectedDataAsync() method does not work after cleaning an email body"
In an Outlook add-in for compose mode, we are using the Office.context.mailbox.item.body.setSelectedDataAsync method to insert HTML into a message body. In Internet Explorer, the method stops working if you clean the message body manually.

## Expected Behavior
The setSelectedDataAsync method shall work correctly.

## Current Behavior
The setSelectedDataAsync method does nothing after cleaning the

[2021-01-25 15:34] DmitryKostochko opened #1613 "Outlook Online, Safari, the getAccessToken method returns 13001 error code"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In an Outlook add-in for compose mode, we are using the OfficeRuntime.auth.getAccessToken method to take advantage of the SSO capabilities. In Safari, the method returns the following

[2021-01-25 16:04] AhmedJDev commented on #1661
I have finally been able to test this and added the js library that I was missing. Got the method to run aswell. I also added a button which would run that code. But nothing is picking up and it doesn't get the context data. I am doing this all on OWA as it doesn't work on Outlook Windows.

Here is what the console logs:
![image](https://user-images.githubusercontent.com/72918679/105731175-0b20e30

[2021-01-25 16:56] ElizabethSamuel-MSFT commented on #1661
@AhmedJDev Thanks for getting back to us.

@exextoc Can you take a look?

Thanks.

[2021-01-25 16:57] gkarmelich commented on #1585
Hey @AbidRahman-MSFT 👋,  just checking in to see if you have any updates regarding this issue.

[2021-01-25 19:23] exextoc commented on #1582
The cookie will be a first party cookie if it matches the domain of the SourceLocation in your manifest. If it doesn't match, it will be a third party cookie.

[2021-01-25 21:00] ghost commented on #1587
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-26 01:31] AbidRahman-MSFT commented on #1521
Hey @frasparacio - you are correct. The Auth APIs are currently not supported for iOS. You can see the full list of supported platforms here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/identity-api-requirement-sets

The team is working on bringing auth scenarios to additional platforms, so stay tuned! Keep an eye on the developer blogs for updates: https://devel

[2021-01-26 01:58] SWei1234 commented on #1557
Hi @exextoc
If have any update or anything need my help, please update here. Thanks

[2021-01-26 02:30] liwei118 commented on #1605
You may scan the QR Code and click "link" button on the page it opens, then you should be able to test. It is just a demo, the login process will only store your email address and a randomly generated GUID. thanks.

[2021-01-26 06:04] kullachoke-bosuwan-rft opened #1614 "Taskpage close automatically after long time inactive"
Hi, the issue has been raised by our QA team. The taskpane close itself after left inactive for 1-2 hours, or after pc wake from sleep mode. There are some errors in dev console, I've attached the screen shot below. I've tested and able to reproduce the issue. It happens on script lab add-ins too.

## Expected Behavior
Taskpane should not close itself without user action.

## Steps to Reproduce, o

[2021-01-26 08:19] exextoc commented on #1557
This is in our backlog. Unfortunately, we still have no timelines to share at this point.

[2021-01-26 20:06] wsoccorsi-yw opened #1615 "Outlook Windows Desktop `appendOnSendAsync()` not appending to draft messages and stripping text."
## Expected Behavior
Replying to an inline message `appendOnSendAsync()` that is not a draft appends whatever text I want. Opening an inline message that is a draft `appendOnSendAsync()` allows me to add new text, continue composing and insert whatever text I want.

## Current Behavior
Replying to an inline message `appendOnSendAsync()` that is not a draft appends whatever text I want. Opening an

[2021-01-26 20:16] hjkim-MSFT commented on #1461
We tried to repro this issue but we couldn't.

Here is what we did:
Create a custom XML part as  `<A xmlns="http://ab.org"><B/></A> (or as <A xmlns="http://ab.org"><B></B></A>)`. Note that "B" has no text.
In VBA, add this new Custom XML part: activedocument.CustomXMLParts.Add("the xml here") It is the fourth part in the document.
In VBA, get this new part's ID:  ?activedocument.CustomXMLParts(4).

[2021-01-26 21:23] ralphtheninja commented on #1461
The empty xml nodes that I'm trying to set look like `<B xmlns="757d984d-6dab-4bc2-83cc-8319df82947b" xsi:nil="true"/>`. I'm not sure if it's the `xsi:nil="true"` part that cause the problem. I got around this issue by setting the complete xml instead of manipulating single nodes at a time.

[2021-01-26 22:50] wsoccorsi-yw commented on #1402
👋  @exextoc I used to experience something similar but no longer do, I'm assuming this was patched. Would you be able to point to documentation around this `ItemChanged` `null` `item `fix?

[2021-01-26 23:54] Byron-Mo opened #1616 "Outlook for Mac new UI hostVersion is incorrect"
Outlook for Mac new UI's hostVersion returns the version of the Exchange Server instead of the version of the host application. This is not the case on Outlook for Mac old UI.

Documentation states (https://docs.microsoft.com/en-us/javascript/api/outlook/office.diagnostics?view=outlook-js-1.8#hostVersion):
`If the mail add-in is running in Outlook on a desktop or mobile client, the hostVersion pro

[2021-01-27 00:00] ghost commented on #1588
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-27 05:00] ghost commented on #1600
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-27 07:40] exextoc commented on #1027
We have fixed the bug and the fix should be available in upcoming builds. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks

[2021-01-27 07:55] exextoc commented on #1441
**@raymondnexsoftech**
Refer to earlier comment on 20th Oct: [Link](https://github.com/OfficeDev/office-js/issues/1441#issuecomment-712636929)

[2021-01-27 08:23] MandytMSFT commented on #1516
@ssoni2074 Applying flights in session above still not repro the issue. But looking at the log behind, there are some errors related to bad paragraph. Is there any special thing in your word document? If possible, could you share your workbook to us for reproduce ?

[2021-01-27 12:06] vinodifour opened #1617 "How to apply text highlight color and Strikethrough of Paragraph in Word Addin using Angular 11"
![forum2](https://user-images.githubusercontent.com/37571552/105987915-f2e6ca80-60c4-11eb-880f-df744e6b49e3.png)
As per show in the image ,I want to make text "Test1234" highlight and Strikethrough of Paragraph in Word Addin using Angular 11.
Here paragraph exists in the Content control. Here I am getting text and all other properties from word document using addin , but unable to apply background

[2021-01-27 12:14] exextoc commented on #1612
We are able to repro the issue. Thanks for reporting it. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-01-27 15:56] splinter opened #1618 "Desktop App Web Viewer does not load and web add-ins do not load"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have an encountered a scenario where no web add-ins load on a user's machine. This is caused by the fact that the Desktop App Web Viewer process does not start up.

## Expected Beh

[2021-01-27 18:46] #1461 closed, assigned to AbidRahman-MSFT

[2021-01-27 20:34] AbidRahman-MSFT commented on #1614
Hey @kullachoke-bosuwan-rft ,

Thank you for bringing this to our attention, we are internally tracking this issue with #3995826. This feature is in our backlog, however, at the moment, I don't have a timeline I can share with you.

Thanks,
Abid

[2021-01-27 21:22] Byron-Mo commented on #1472
Hi, we have a customer case that is experiencing this exact same issue. Customer's Outlook & Windows config are:

Outlook is on 13127.21064 and Windows is on 18363.1316

We are following up and asking if upgrading to use WebView2 would be a reasonable solution. In the meantime, would it be possible to reopen this ticket? Thanks

[2021-01-27 21:39] AbidRahman-MSFT commented on #1617
Thanks @vinodifour for posting the issue.

Thank you @yihuax for looking into the issue, @vinodifour, please try the following:

Suppose you want to set the highlight color and strike through of the paragraph where your cursor is in, you can run (I used Script Lab) the javascript below and it works correctly:

$("#run").click(() => tryCatch(run));

async function run() {
  await Word.run(async (co

[2021-01-28 01:49] hello-chenchen commented on #1592
hi @lindalu-MSFT @exextoc any update here please?

[2021-01-28 02:18] exextoc commented on #1472
@Byron-Mo We meant to close this issue as a duplicate of #1471

Could you please add any information you have to that issue? Thanks!

[2021-01-28 03:34] bx-anil opened #1619 "Add-in fails to load on Outlook iOS"
We have an add-in works fine on desktop Outlook and OWA. When we enabled it for mobile it fails to load on iOS Outlook app.
Is there way to inspect logs for the add-in that is loading on iOS Outlook app?

Additional information:
1) Since the add-ins are web apps essentially, we tried loading it in Safari iOS and it works fine.
2) Cookies are not the cause.
3) We are unable to route the traffic thr

[2021-01-28 04:47] kullachoke-bosuwan-rft commented on #1614
@AbidRahman-MSFT

Thank you for letting me know. It's alright, This is not a critical issue on our add-in. At least, we have a ticket for tracking issue.

Thanks.

[2021-01-28 05:10] exextoc commented on #1661
I followed the documentation to try adding a notification and open the task pane with an initialization context in both Win32 Outlook and OWA.

I ran into these two issues. I worked around the first issue (it was a documentation bug) to get the initialization context in Win32 Outlook. But we'll have to continue to investigate the behavior in OWA.
1. [The contextData](https://docs.microsoft.com/en-

[2021-01-28 05:13] exextoc commented on #1611
Currently, saveAsync is not supported in New Outlook Mac in Event Compose. This document has information:
[https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview)

[2021-01-28 05:23] madhavagrawal17 commented on #1568
@cghaddar, Yes! that was my suspicion as well that this crash is happening on document open when it contains custom functions. We fixed a similar issue on the December release. I think the December release is available now. Could you try if this scenario works for you on the December release (16.0.13721.20008)? Also, I would appreciate it if you could follow the below steps to capture the dump fil

[2021-01-28 06:23] exextoc commented on #1610
getAttachmentContentAsync is part of 1.8 API which is currently not supported on new Outlook on Mac. Here is the link:
[https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview)

[2021-01-28 07:59] hansdaume opened #1620 "Error when loading an Add In"
Hello all,

unfortunately some employees in our company have the problem that an Add In cannot be loaded. The following error message appears:
![image](https://user-images.githubusercontent.com/78138374/106106343-b0b19d80-6145-11eb-973b-f9defa151310.png)

## Expected Behavior

Normally, the add-in should load and be used after a few moments. This is also the case for some employees in our company.

[2021-01-28 08:33] tanapone-kanongsri opened #1621 "Cannot convert black icon to white icon while I'm using the dark theme"
## Expected Behavior

Convert black icon to white icon when using the dark theme
## Current Behavior

On windows installed version the sub-menu still using black icon
## Steps to Reproduce, or Live Example

![icon-issue](https://user-images.githubusercontent.com/78138777/106110669-97c4de80-617d-11eb-8da4-7b6e2cbefd6d.jpg)

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:

[2021-01-28 09:07] HackerM00n commented on #1610
What method would you recommend to get attachments by their id without limiting the number of requests?
Do you have an estimated date when API 1.8 will be supported in "New Outlook" for macOS?

[2021-01-28 09:56] exextoc commented on #1619
To test your addin, refer to [https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-mobile-addins#testing-your-add-ins-on-mobile](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-mobile-addins#testing-your-add-ins-on-mobile).

A few important points there:
_Make sure your manifest is properly formatted to contain MobileFormFactor or it won't load._
Troubleshooting

[2021-01-28 12:00] exextoc commented on #1592
Bug 1922224<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1922224>: [OfficeDev/office-js] IOS and Android Outlook: client add-in not support prompt for cert selection when using adfs or azure ad intune to doing sso login (#1592)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>

Thanks,
Sachin
From: hello_chenchen <no

[2021-01-28 13:19] exextoc commented on #1605
We are able to repro the issue. Thanks for reporting it. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-01-28 14:23] bx-anil commented on #1619
We are unable to route the traffic thru fiddler as Outlook app does not trust fiddler certs.

[2021-01-28 17:04] keyur32 commented on #1603
Hey @paulfrench, yes, if webview2 is available, we will use that for the shared runtime as well, instead of the IE11 runtime. Thanks!

[2021-01-28 17:04] ElizabethSamuel-MSFT commented on #1661
@exextoc We have an [internal item](https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/1808517) tracking that Office.context.mailbox.item.getInitializationContextAsync does not return the contextData in OWA.

I'll update the sample in the docs.

@AhmedJDev Can you let us know if this helped for Windows?

Thanks.

[2021-01-28 17:04] keyur32 commented on #1603
I'm going to mark this as closed but please do let us know if you have any issues with webview2 control or if you have any other questions.

[2021-01-28 17:04] #1603 closed, assigned to keyur32

[2021-01-28 17:25] paulfrench commented on #1603
When you say November, do you mean November 2021 coming or the November release of Office last year will be forked and so we will get WebView2 support in the next few weeks?

[2021-01-28 17:34] keyur32 commented on #1603
November was when we forked the code and got the build ready.  It should be rolling out to customers on the current channel within the next few weeks! Thanks.  @smaremanda  can confirm once that build that has it has been rolled out :)

[2021-01-28 19:59] lliu113 commented on #307
@ndeeH  - I know this is historic, are you still seeing this problem with your users?

[2021-01-28 20:49] cghaddar commented on #1568
@madhavagrawal17,  I got the attached core dump with my current  Excel version 16.0.13530.20418  64-bit.
[EXCEL.EXE_210128_152806.zip](https://github.com/OfficeDev/office-js/files/5889855/EXCEL.EXE_210128_152806.zip).

I did not try 16.0.13721.20008 yet. not showing yet as an update option for me in Excel?

Here is log from procDump

ProcDump v10.0 - Sysinternals process dump utility
Copyright (C)

[2021-01-28 21:43] cghaddar commented on #1568
@madhavagrawal17, I updated Excel to 16.13628.20234.  Excel now says I am up to date, so I m not sure if 16.0.13721.20008 is an available option at this time. I got the attached  dmp file with ProcDump
[EXCEL.EXE_210128_163737.zip](https://github.com/OfficeDev/office-js/files/5890138/EXCEL.EXE_210128_163737.zip)
Here is console log from ProcDump

ProcDump v10.0 - Sysinternals process dump utility

[2021-01-28 21:49] AbidRahman-MSFT commented on #1620
Thanks for reporting the issue, @hansdaume. We are aware of this bug and are currently investigating it. (#4757066 for internal tracking).

We will give an update here as soon as we know more.

[2021-01-28 22:17] madhavagrawal17 commented on #1568
@cghaddar, Thank you for sharing the dump. I think now we have all the info needed to investigate this issue. We will update you on the solution. I think you have the December release with 16.13628.20234. It seems 16.0.13721.* is for January release. Sorry for the confusion.

[2021-01-28 22:18] lliu113 commented on #1578
@JamesBigChange - the fix is checked in, and starting to roll out

[2021-01-28 22:24] lliu113 commented on #1609
@Tjerkdb thanks for reporting this! This is by design, we have a [reduced API surface](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-best-practices#rules-and-gotchas) inside the dialog for security reasons.

To do auth, either pass the auth token to your dialog via the [messaging API](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#use-

[2021-01-28 22:24] #1609 closed, assigned to lliu113

[2021-01-28 22:25] jnSWPC opened #1622 "office-js Unable to debug excel web-addin code in Visual Studio 2017 - Office 2101"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I was able to debug the excel web-add-in code from within visual studio when I had the following set up
Windows OS Version:  Windows 2016 - 1609
Visual Studio - 2017 - 15.9.5
Office E

[2021-01-28 23:00] ghost commented on #1587
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-28 23:00] #1587 closed, assigned to exextoc

[2021-01-28 23:05] exextoc commented on #1605
To help us repro in Outlook for Windows, could you provide the Outlook version number (I see Outlook 2019 is mentioned above, but without the full version number).

In addition, could you update the repro steps with what the value for `newDom` should be? Being able to reproduce the issue outside of your add-in will help us fix the issue. Thanks.

[2021-01-28 23:12] exextoc commented on #1582
Let us know if this thread has answered your questions. Thanks.

[2021-01-28 23:13] lliu113 commented on #1451
@ig-jb - thanks for reporting this! Is there a reason why you are unable to redirect the existing dialog after auth?

[2021-01-29 00:20] croicu commented on #1618
Hi, can you try to run from an elevated command prompt:

powershell Add-AppxPackage -register -disable c:\windows\SystemApps\Microsoft.Win32WebViewHost_cw5n1h2txyewy\AppxManifest.xml

From: Outlook Add-ins Team - MSFT <notifications@github.com>
Sent: Thursday, January 28, 2021 2:26 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Alexandru Croicu <alexcro@microsoft.com>; Assign <assig

[2021-01-29 00:36] AbidRahman-MSFT commented on #1620
@hansdaume, are you able to verify the Windows and Office version that the error is occurring on?

This bug may be related to an issue only seen on IE 11, please help us verify if that is the case, you can find the list of Office and Windows versions that still use IE as the browser host for the add-in: [Browsers used by office add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/

[2021-01-29 02:20] exextoc commented on #1615
I was able to reproduce this issue as well. Like you mentioned it occurred when editing a saved draft and then sending the email after calling the appendOnSendAsync API (even when edits were made after calling the API).

The API call wasn't shown in your video, but I assume the API was called after the saved draft was opened?

I've opened a product bug for us to investigate further (internal id fo

[2021-01-29 03:22] hello-chenchen opened #1623 "Mac new Outlook client not support: Office.context.mailbox.item.enhancedLocation.addAsync"
Mac **new** Outlook client, which is use the new UI for Mac.
version: 16.45(21011103)
code segment:
[code]
error message:
Object

error: Object

code: 7000

message: "You don't have sufficient permissions for this action."

name: "Permission Denied"

![image](https://user-images.githubusercontent.com/1878089/106227435-212eec00-6224-11eb-918e-6be6e477e73d.png)

[2021-01-29 05:11] splinter commented on #1618
Hi @croicu ,

I just wanted to ask two questions:
1. This command needs to be executed after closing all Outlook instances?
2. What does this command do?

[2021-01-29 05:45] ShubhamJain-Outlook commented on #1582
Thanks for the answer

[2021-01-29 05:45] #1582 closed, assigned to croicu

[2021-01-29 07:06] liwei118 commented on #1605
verison:
<img width="372" alt="815b62c881ea4c4839d26ca6b48a5c1" src="https://user-images.githubusercontent.com/42823739/106223720-eecdc080-621c-11eb-95ba-a842ca748675.png">
![36204d42-1d4c-4c9b-b533-b84a62c04a9e](https://user-images.githubusercontent.com/42823739/106224883-0b6af800-621f-11eb-8636-49ba664fb7d6.jpg)

[2021-01-29 07:16] SWei1234 commented on #1430
Hi @exextoc
I think this problem can be easy replicate.
Can I have any update ?
Thanks

[2021-01-29 07:30] DmitryKostochko commented on #1613
Do you have any news about the issue?

[2021-01-29 09:10] exextoc commented on #1623
This is expected behaviour. enhancedLocation.addAsync in New Outlook Mac UI is not supported.

Please find the documentation for this
[https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-ma

[2021-01-29 09:10] Petryxasport commented on #1600
Yes, our clients expect that we save Email again as new one. Scenario is:
1. Client click on the Reply
2. Then clients open add-in and use it.
3. Then save Email with information using add-in in enother system. ((add-in calls SaveAsync to get Email id and recive stream from server side).
4. Then clients can send Email or close it. In case of closing we have to remove Email.

Outlook API does not p

[2021-01-29 09:35] ig-jb commented on #1451
@lliu113 The auth dialog renders best as a different size than our content dialogs. Additionally, allowing a redirect URL to be passed into the dialog leaves it wide open to an open redirect attack unless you tightly couple the authentication dialog to approved pages to redirect to.

However, regardless of reason for closing one dialog and opening another - a synchronous method acting asynchronous

[2021-01-29 10:22] liwei118 opened #1624 "When inserting content to appointment body, content does not show up immediately."
It is kind of slow when inserting content to appointment body with Office.context.mailbox.item.body.setAsync(). Is this a known issue as I see there is a tip "Teams meeting details will be added after sending the invitation" in the Teams Add-In.

[2021-01-29 10:26] liwei118 opened #1625 "Cursor moves to the bottom after inserting content to appointment body on Mac."
Cursor moves to the bottom and scrollbar scrolls to the bottom after inserting content to appointment body on Mac. While on Windows it stays on top.

[2021-01-29 11:52] exextoc commented on #1613
Thanks for reporting this issue regarding getAccessToken. It has been put on our backlog. We unfortunately have no timelines to share at this point
 
Internal tracking id: 106308

[2021-01-29 12:44] wsoccorsi-yw commented on #1615
@exextoc Awesome thanks, looking forward to a fix! And yes the API is called after we grab the draft/item.

[2021-01-29 13:55] JamesBigChange commented on #1578
@lliu113 thank you. Do you have an estimate for the rollout time?

[2021-01-29 16:56] croicu commented on #1618
This command will reinstall the WebView control, I suspect the installation is corrupted on your machine. You should restart Outlook after you run the command.

From: Sameera Medagammaddegedara <notifications@github.com>
Sent: Thursday, January 28, 2021 9:12 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Alexandru Croicu <alexcro@microsoft.com>; Mention <mention@noreply.github.com>

[2021-01-29 19:47] AbidRahman-MSFT commented on #1625
Hey @liwei118, can you please provide more information regarding the issue you are facing? Please use the default template when creating an issue:

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on t

[2021-01-29 23:43] lliu113 commented on #1451
@ig-jb your concerns are very valid, we do have a locked down surface in the dialog in order to support auth, and it can only redirect to trusted domains in your manifest. For more info, see [Authenticate and Authorize with Dialog API](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api)

I totally see your point about the docs. The method is actually designed t

[2021-01-29 23:47] lliu113 commented on #444
@hirossyi73  - I'm closing this issue as it's historic, please reactivate if you are still seeing this. Thanks!

[2021-01-29 23:47] #444 closed, assigned to lliu113

[2021-01-29 23:49] lliu113 commented on #774
@shyampatroms - I'm closing this issue as it's stale. Please reopen if you are still experiencing problems. Thanks!

[2021-01-29 23:49] #774 closed, assigned to lliu113

[2021-01-29 23:52] lliu113 commented on #961
@corytheboyd - sorry for the very belated response to this. If you're still interested in the close/hide taskpane feature this is now in GA. You can find more information about it here - https://docs.microsoft.com/en-us/office/dev/add-ins/develop/show-hide-add-in.

I'm going to go ahead and close this issue, please free feel to reactivate if you have any additional question. Thanks!

[2021-01-29 23:52] #961 closed, assigned to lliu113

[2021-01-30 00:00] ghost commented on #1608
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-01-30 00:02] lliu113 commented on #511
@barisbikmaz  - so sorry for the very belated response to this. Are you still seeing this issue? Completely agree with you that the header should not included in the height of the dialog. If you're still seeing this, I can open up a bug to investigate.

[2021-01-30 00:42] lliu113 commented on #1578
@JamesBigChange - unfortunately no estimate as of yet, but will update next week on status. Thanks for your patience!

[2021-01-30 00:43] lliu113 commented on #1563
Internal bug: 4803453

[2021-01-30 00:46] lliu113 commented on #1427
@osasseville - sorry for the very belated response to this. Are you still seeing this issue?

[2021-01-30 00:54] lliu113 commented on #1440
@greatescape95  - sorry for the very belated response to this. I agree that having to switch to using the npm version of officejs instead of the official CDN is not ideal. Let me open a bug to investigate.

Just to reiterate - using the official CDN means that the messageParent API does not work. However, switching to the npm version fixes the issue.

[2021-01-30 02:00] ghost commented on #1588
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-01-30 02:00] #1588 closed, assigned to exextoc

[2021-01-30 11:52] ozhanatali commented on #1622
I have posted the the same issue (with webview 2 and shared runtime), not resolved yet unfortunately

[2021-01-31 17:48] exextoc commented on #1610
We are targeting Mar '21 for GA of 1.8 API, but you can sign up for Insiders to get an earlier build which we are expecting to release by end of Feb.

[2021-02-01 00:00] ghost commented on #1617
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-01 02:29] liwei118 commented on #1625
No recurrence, the problem has been solved. Thanks.

[2021-02-01 04:26] exextoc commented on #1430
Can you please share the manifest file again and share the location for the file.

[2021-02-01 04:59] yuwu9145 commented on #1363
However, I think the primary issue for Gmail account is `getCallbackTokenAsync` does not return the token rather than cannot use the token being returned by it? Same error happened to one of our clients as well.

[2021-02-01 05:38] SWei1234 commented on #1430
Hi @exextoc
Can I still send the manifest to "admin@a830edad9050849405E20081103.onmicrosoft.com" ?
Or other mail box?
Thanks

[2021-02-01 06:56] exextoc commented on #1624
@liwei118
1.  Could you please the following information?
  -         Platform [PC desktop, Mac(Classic or New UI), iOS, Office on the web]:
  -         Office version number:
  -         Operating System:
  -         Browser (if using Office on the web):
2. Please provide us the script with which you are inserting the text along with repro steps. Perhaps, a video recording would help us understan

[2021-02-01 08:55] ig-jb commented on #1451
@lliu113 I believe the trusted domain list in the manifest is only used for direct usage when opening a dialog etc? If you window.open or redirect to a url passed into the dialog via query string parameter, it'll happily load despite not being listed in the manifest?

RE: designed to be asynchronous -- in Javascript, the norm is for a function to be synchronous unless it returns a PromiseLike/then

[2021-02-01 10:58] vinodifour commented on #1575
Just checking if there is any ETA on fixing this issue.

[2021-02-01 13:09] tballast commented on #733
Is there any update on this? I'm experiencing the exact same problem.

[2021-02-01 17:37] #1625 closed, assigned to nobody

[2021-02-01 18:33] #1610 closed, assigned to macOutlookExtensibility

[2021-02-01 20:13] wsoccorsi-yw opened #1626 "[Outlook Desktop Windows] Double pinning freezes 'all' add-in's"
Pinning Outlook add-ins, which are "cached" in Outlook Desktop freezes or changes the mouse detection of the second opened add-in.

## Expected Behavior
Click on an email, open and then pin my add-in in read mode. Reply to an email and open add-in in compose mode. This second opened add-in should be clickable and interactive.

## Current Behavior
Click on an email, open and then pin my add-in in r

[2021-02-01 20:35] osasseville commented on #1427
Hi @lliu113, I still see the issue.

[2021-02-01 20:58] osasseville commented on #1392
Any update on this?

[2021-02-02 00:40] blakezeisler opened #1627 "Office.js causes build failure for Outlook 2016 Addin"
Office.js fails to load https://telemetryservice.firstpartyapps.oaspapps.com/telemetryservice/telemetryproxy.html the server responded with a status of 404. I do not need this for my app.

I am calling office.js from CDN in header of HTML, then initializing in main.ts file:

`<script src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js" type="text/javascript"></script>`

[code]
It is fa

[2021-02-02 00:56] parilla opened #1628 "Start of 5 second initiation timer"
For the statement _'Office applications require that add-ins initialize within 5 seconds of activation'_ I would like to know precisely when this time starts?

Reason being is our Add-in is hosted on a SiteMinder protected web server, and performs an authentication process which takes approx 3.5 seconds to execute. This process performs a series of HTTP 302 redirects to facilitate authentication.

[2021-02-02 02:00] ghost commented on #1608
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-02 02:00] #1608 closed, assigned to lumine2008

[2021-02-02 02:24] amelehy commented on #1585
Hi @AbidRahman-MSFT, can we get an update on the status and estimated time to a released fix?

[2021-02-02 02:36] liwei118 commented on #1624
Platform [PC desktop, Mac(Classic or New UI), iOS, Office on the web]:  Mac

Office version number:  16.46 (21012005)

Operating System: Big Sur

Browser (if using Office on the web):

[2021-02-02 04:11] rainierlugue opened #1629 "OfficeJs Add-in Task Pane Width Value is Ignored by Word"
## Expected Behavior
OfficeJs Add-in taskpane width value should be used as the default width of the taskpane

## Current Behavior
OfficeJs Add-in taskpane width value is ignored by Word. The task pane always opens with the same width.

## Steps to Reproduce, or Live Example
1. Create a new document
2. Open an OfficeJs add-in task pane, like for example Script Lab Code
3. Change the width of the t

[2021-02-02 06:01] exextoc commented on #1619
Outlook trusts only preinstalled system CA certificates. One way to see the traffic is by making sure your certificate is part of system certificates (not user), it is tough for anyone who is not an OEM.
Another way to debug is using remote JavaScript debugging tools like
http://vorlonjs.com/documentation/#introduction
https://remotejs.com/  (A free version of TrackJS)
https://jsconsole.com/remote

[2021-02-02 06:49] exextoc commented on #1430
@SWei1234  Please share the manifest to the new mailbox admin@M365x010952.onmicrosoft.com. You can also share the URL to a stripped-down version of the manifest with which we can repro the bug.

[2021-02-02 07:03] exextoc commented on #1430
Thanks for sending the manifest. We are working on reproducing the issue on our side.

[2021-02-02 11:19] exextoc commented on #1624
@liwei118 Thanks for sharing information about the Platform. Could you please specify whether you are seeing this issue in Classic Mac UI or New Mac UI?
Also, Please answer the second question in the previous comment so that we can try to repro the issue locally.

[2021-02-02 11:34] exextoc commented on #1592
@hello-chenchen Thank you for reporting this issue. We have added this issue to our backlog and unfortunately have no timelines to share at this point.

[2021-02-02 11:42] hello-chenchen commented on #1592
thanks @exextoc

[2021-02-02 15:26] els-ts commented on #1521
@JiayuanL - sorry for the long reply...

Unfortunately I cannot answer your questions as fully as I would like to, because the error is thrown in the script belonging to your domain and due to browsers safety restrictions I'm unable to get stack traces. This is the most common error we can see in our New Relic reports. We haven't yet found its origin in our code.

As far as our reports are reachin

[2021-02-02 20:07] lliu113 commented on #1628
@parilla  - can you link the doc where you got the 5 secs initialize from?

[2021-02-02 20:12] lliu113 commented on #1629
@rainierlugue - thanks for bringing this up! This is actually by design, we currently don't support taskpane width persistence. Your users will need to reset the width every time.

If this is important for your add-in, feel free to submit this as a feature request to our Uservoice - https://officespdev.uservoice.com/

Closing the issue as "by design", please reactivate if you have any more questio

[2021-02-02 20:12] #1629 closed, assigned to lliu113

[2021-02-02 21:03] dmitriyyepishin commented on #1213
This has been fixed.

[2021-02-02 21:03] #1213 closed, assigned to shaofengzhu

[2021-02-03 01:04] AlexJerabek commented on #1628
@lliu113 - In this doc: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/apis
In the blue "Important" section.

[2021-02-03 01:17] parilla commented on #1628
@lliu113 the doc link has been correctly identified by @AlexJerabek

Please note the SiteMinder scenario I am describing will be quite common in large multinationals with significant IT investments.

[2021-02-03 01:23] liwei118 commented on #1624
Classic Mac UI

[2021-02-03 05:38] raflyalk commented on #1519
Hi @ALDriehuis, I'm also having the same problem as you. I'm following the [Create a Node.js Office Add-in that uses single sign-on](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs) guidelines. Have you got any solutions to this problem?

[2021-02-03 06:59] nathanhammond opened #1630 "Excel CustomFunctions not installing on web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The add-in that fails to work is entirely open source, built using `yo office` and the Office's [Excel-Custom-Functions template](https://github.com/OfficeDev/Excel-Custom-Functions).

[2021-02-03 07:34] xiaochunms commented on #1630
Please check the Version element in manifest.prod.xml, which is <Version>1.0.2</Version>, however the syntax expected is <Version>n .n .n .n</Version> as [manifest version](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/version) shows. You may can change it to <Version>1.0.0.2</Version> to have a try.

[2021-02-03 07:51] nathanhammond commented on #1630
It appears possible that this change may result in the add-in working. However, that this passes both submission validation and local validation is definitely a bug.

[code]

[2021-02-03 07:57] nathanhammond commented on #1630
Also worth noting, changing the version number being the solution strongly implies that Excel for Web and Excel for Mac are using different methods for identifying the version of an add-in. Those should likely be brought into parity.

[2021-02-03 08:01] nathanhammond commented on #1630
Note: I've just updated the published version to use a four digit version number. The validation passes with a three-digit version number.

[2021-02-03 09:16] Petryxasport opened #1631 "[Outlook] function "displayReplyAllForm" does not work properly"
**Issue:**
A wrong place of a Signature when use the function "displayReplyAllForm" on a MacOS system.

**Steps to Reproduce:**
1. Add Signature into Outlook
2. Open Add-in in Outlook
3. Call function: Office.context.mailbox.item.displayReplyAllForm({});
Result: As you can see below the signature is on the bottom.
![image](https://user-images.githubusercontent.com/17165899/106632494-dd731400-658e-

[2021-02-03 09:28] ghost commented on #1519
unfortunately...I did not get it to work.
But I am using a workaround now: I don't get the access-token within the office-add-in. What I do currently:
* Present the user a login button
* when the button is pressed, I open a dialog (on the clientside) with displayDialogAsync with an API call to it's login method
* There I login to Azure with a return call the a API methode 'Authorize'
* This 'Autho

[2021-02-03 09:29] xiaochunms commented on #1630
@nathanhammond good to know the add-in works with four digit version number. This is the first time I've seen an issue as such. There might be a hole in validation process. Thanks to raise the issue.

[2021-02-03 10:12] exextoc commented on #1631
@Petryxasport Are you seeing this issue in Classic Mac UI or New Mac UI?

[2021-02-03 10:17] schmitch commented on #1603
@keyur32 will there be a time when WebView2 Runtime is bundled with Office365 or at least will get installed with it while running the installer or be distributed with windows.
It's such a pain to actually **force** people to use install the WebView2 runtime.

Or at least it would be a breeze to support store submissions where users **need** to install WebView2 to install the addin. i.e. make use

[2021-02-03 10:18] Petryxasport commented on #1631
Issue is relevant only for Classic Mac UI

[2021-02-03 10:45] exextoc commented on #1631
Thanks for reporting this issue regarding displayReplyAllForm. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

[2021-02-03 10:50] exextoc commented on #1624
@liwei118  We are not able to reproduce this issue on our side. Could you please help us with repro steps?

[2021-02-03 16:00] exextoc commented on #1606
@Premsagar-lab  Could you please help us understand more about the scenario here and why On-send Add-in needs access to internet headers?

[2021-02-03 16:08] exextoc commented on #1430
@SWei1234  We are not able to repro this issue on our side. Do you have a Test account that you can share with us to analyze the issue?

[2021-02-04 02:00] ghost commented on #1617
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-04 02:00] #1617 closed, assigned to yihuax-zz, AbidRahman-MSFT

[2021-02-04 03:30] exextoc commented on #1626
Thank you for reporting this issue regarding pinning causing add-ins to freeze. We have forwarded this issue along to the appropriate team, and it has been added to their backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: [29713794]

[2021-02-04 07:55] Premsagar-lab commented on #1606
@exextoc We check the email contents when the email is being sent. If content has some sensitive content as per the policy of the enterprise then we have to apply the sensitive MIP tags as configured by enterprise.

It is possible that the user had already selected a MIP label for the email. We wanted to retrieve the MIP label and check if its in accord with the configured policy. Also, if user ha

[2021-02-04 16:02] atsopuronen commented on #1620
We have few customers with this issue. All settings related to ADD-IN ERRORs have been triple-checked (Protected Mode, TabProcGrowth, firewall, anti-virus, etc.), also in GPO and registry level. Their issue is caused by **something else**.

It **seems** to have started after they installed Edge Chromium to replace EdgeHTML. There's a crash event in Event Viewer for Win32WebViewHost.exe and edgeman

[2021-02-04 19:34] GeorgeHung opened #1632 "range.numberFormatLocal does not work properly in German Regional Setting for Office Online"
range.numberFormatLocal does not work properly in German Regional Setting for Excel Online

## Expected Behavior
range.numberFormatLocal should work properly in German Regional Setting for Excel Online as it works in Excel for Mac

## Current Behavior
After setting Mac's regional setting to German, range.numberFormatLocal does not apply the number format correctly in Excel online

## Steps to Repr

[2021-02-04 23:02] lliu113 commented on #1578
@JamesBigChange - good news, this is now in production! Please test and let us know whether this is working for you.

[2021-02-04 23:09] lliu113 commented on #1451
@ig-jb - yes - the trusted domain list is only used for opening the dialog. It can redirect to any other domain, but must be back on a trusted domain to communicate back to the taskpane.

And I completely agree that this should be documented, the current design is indeed odd. I'll log a work item with the content team to update our docs, appreciate the feedback.

[2021-02-04 23:15] bygate commented on #1239
I have a client affected by this issue also. Any updates??

[2021-02-05 00:22] jnSWPC commented on #1622
After trial and error I have found the rootcause of being unable to debug the add-in.. I have the following tags in my manifest to enable SharedRunTime and when this is removed the debugger attaches correctly and I am able to debug.. Is there a known issue with SharedRuntime and the Office version 2101? As mentioned it works fine with Office Version 2008

![image](https://user-images.githubusercon

[2021-02-05 06:38] exextoc commented on #1367
@Premsagar-lab Are you still facing this issue? If so, Could you please provide us with logs from Outlook using the below steps?
1.  Launch Outlook (start a new session)
2. Wait for Add-ins to load
3. Reproduce the On-Send issue
3. Click on Help -> Collect Diagnostics.
This will generate an Incident ID. Note the same and share it with admin@M365x010952.onmicrosoft.com

[2021-02-05 07:16] exextoc commented on #1606
internetHeaders.getAsync is intended to return the values of the custom headers you set using the setAsync method. So, the API is not designed to get the headers set using Sensitivity labeling in compose mode.
Unfortunately, we don't have an API to read the MIP label in Compose mode.
Can the On-send Add-in add the label anyway(without checking if the user has already added it) before send and save

[2021-02-05 07:16] hansdaume commented on #1620
Thanks for the answers. We have updated the Windows version of a user who experienced this problem. After that, the add-in could be loaded. We are now trying it on other users to see if it really is the solution to the problem.

[2021-02-05 09:09] ssoni2074 commented on #1516
seems to be resolved!!!

[2021-02-05 09:17] ig-jb commented on #1451
Thanks @lliu113

[2021-02-05 12:12] atsopuronen commented on #1620
**From** which version and **to** which version did you update Windows? Do you know under what process does the add-in now run on? WebView (EdgeHTML), WebView2 (EdgeChromium)?

[2021-02-05 12:15] ankitsurkar commented on #1511
We are facing the same issue with Firefox and now on Windows client as well. When we try to download The outlook using the Edge browser as the background engine we get the following error.

![image](https://user-images.githubusercontent.com/16094526/107032280-92990c80-67d9-11eb-9505-5ddec980cefe.png)

Even the dataURI are causing the problems and the addin is crashing.
@exextoc it would be great i

[2021-02-05 15:28] tballast commented on #1158
@areed1192 Thanks so much for that. I saw your videos as well, and must say that it's pretty much the most comprehensive resource for Office Add-Ins at the moment.

[2021-02-05 21:50] davidtauriello opened #1633 "Unable to replicate Partner Source report of failed login on MacOS Catalina with Excel 16.45 add-in"
## Expected Behavior

[Sideloaded manifest](https://github.com/OfficeDev/office-js/files/5935479/XBRLAddinManifest-v1.1.zip) with valid test credentials [opens as expected in defined environment](https://1drv.ms/v/s!AuPPGUe9HNyxzlGPJHWTAW6GXC9p?e=5fCAPl).

## Current Behavior
Partner Center reports the [login button is unresponsive](https://url.upwork.com/_01ft2K97w6qR7ZHlAcO_MKK93lVKH7C4Cj)

## S

[2021-02-05 23:15] exextoc commented on #1600
Thank you for the clarification of your scenario.

Currently, the feature of knowing if an e-mail is closed or sent, you requested, is not a part of the product. The saveAsync API was not designed for this scenario, and if there is no item, it is expected to fail. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/1317

[2021-02-05 23:20] #1600 closed, assigned to exextoc

[2021-02-05 23:22] exextoc commented on #1605
For win-32 Outlook, we were unable to repro the bug you are seeing. Are you reproing this issue in Outlook win-32? If so, can you confirm the build of Outlook win-32 you are seeing this issue on? Are you seeing this on Version 2101, Build 16.0.13628.20274 as per your screenshot or on Outlook 2019?

[2021-02-05 23:55] exextoc commented on #1627
Are you loading Office.js inside of the Outlook application? Office.js will only work inside an Office application, which could be causing the error you are seeing. Are you seeing any other errors in the console while building?

[2021-02-06 01:48] exextoc commented on #1511
We were not able to repro this issue on Outlook desktop. What build and version of Outlook are you seeing this issue on? Are your repro steps for desktop the same as above? If not, please create a new GitHub issue for us to track this issue.

[2021-02-06 02:10] blakezeisler commented on #1627
I am loading office in Outlook 2016 desktop. I found the build is successful, but since outlook 2016 only supports IE 11, some of the components of my web app don’t support polyfills that are back compatible to IE 11, so the taskpane comes up blank.

I ended up needing to move forward so I rolled into using JavaScript with fabric js components.

[2021-02-06 20:00] ghost commented on #1661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-06 22:48] suresh-anumolu commented on #1383
Hi, Do you have any update on this issue? We are still facing the issues with CORS, same works on excel -web .

Thanks
Suresh

[2021-02-08 05:21] lushanbo commented on #1632
Could you please try below steps on Excel Online:

1.  Changed the regional format settings in Excel for the web, follow this guideline [here](https://support.microsoft.com/en-gb/office/change-regional-format-settings-in-excel-for-the-web-c206344b-0d45-4a82-8eee-34ff6b008e9c?ui=en-US&rs=en-GB&ad=GB)
2.  Please make sure your third-party cookies in the browser are enabled, otherwise you will not be

[2021-02-08 06:00] ghost commented on #1624
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-08 07:02] exextoc commented on #1631
Thank you for sharing this issue. As a workaround, users can switch to the new Outlook for Mac experience which works as expected. We are not prioritizing this fix on classic Mac UI; please reopen the issue in case the workaround does not solve your scenario.

[2021-02-08 07:04] Premsagar-lab commented on #1606
@exextoc We are adding the MIP label by setting the internet header "msip_labels" with value in the format "MSIP_Label_8cdfea29-c7dd-4d85-bd07-f0b0c7031a36_Enabled=true;
 MSIP_Label_8cdfea29-c7dd-4d85-bd07-f0b0c7031a36_SiteId=3973ce53-0d96-4385-b58b-68fda2fc4865;
 MSIP_Label_8cdfea29-c7dd-4d85-bd07-f0b0c7031a36_ActionId=87d0f5bb-0f22-4cde-85b3-0f49075f2a4c;
 MSIP_Label_8cdfea29-c7dd-4d85-bd07-f0b0

[2021-02-08 11:12] ankitsurkar commented on #1511
@exextoc we are actually seeing this issue on the Outlook desktop app for windows from version 1908. We have tested the same code on version 1902 it is working fine. We are facing issues for the versions where the background engine has changed to edge rather than the Internet Explorer. These issues are occurring only on a small subset where the background engine has changed to edge but not edge wi

[2021-02-08 13:18] exextoc commented on #1606
Can you confirm if this suggestion works for you - the On-send Add-in add the label anyway (without checking if the user has already added it) before send and save.
You can use setAsync API for this

[2021-02-08 14:33] GrumpyAL commented on #1146
@exextoc I'm seeing this reverted again in a shared mailbox:

1. If I get an item ID for a shared item and...
2. Get a rest token using getCallbackTokenAsync(isRest:true) and...
3. Construct the rest URl using the /me/messages endpoint

I am able to pull the message, however, I don't expect this to work per the blog post linked above:

https://developer.microsoft.com/en-us/office/blogs/accessing-o

[2021-02-08 14:37] Premsagar-lab commented on #1606
@exextoc No.. it does not work in scenario when already label has been applied. Let say if "internal" was applied by the user and according to policy we wanted to apply "confidential". But it is not applied with setAsync.

[2021-02-08 16:41] lliu113 commented on #1556
@mjrforce - thanks for the update! What did you do to get past the last issue? Would you be able to provide your add-in manifest, it would help us repro.

Is the domain of the URL you are trying to load in your dialog the same as that of your taskpane? If it is different, did you add it as a trusted domain in the manifest?

[2021-02-08 16:47] lliu113 commented on #1336
@Murugananths - apologies for the very late response to this. Is this issue still reproing? Are you seeing this on both desktop and online?

Just so I understand, the dialog was correctly passing the token and redirectly correctly using the legacy runtime but this is not working with the shared runtime?

[2021-02-08 16:52] lliu113 commented on #1316
@vikasm1720 - firstly, apologies for the very late response to this. Appreciate you bringing this to our attention, and for providing the repro video. That was very helpful!

I've opened a bug internally to track:
**bug number:** 4853040

[2021-02-08 16:56] lliu113 commented on #1372
@bendhayer, @v-pidoplichko - I'm going to go ahead and close this issue, hoping this is no longer reproing. Please reactivate if this is still a problem and we will look into this.
Thanks!

[2021-02-08 16:56] #1372 closed, assigned to lliu113

[2021-02-08 18:05] AlexJerabek commented on #1597
Hi @waliwa,

The PowerPointApi 1.2 requirement set should be in the CDN now. I've verified in the [type definitions published to the CDN](https://appsforoffice.microsoft.com/lib/1.1/hosted/office.d.ts) that those APIs are there.

The full list of APIs released in 1.2 can be found in the article [What's new in PowerPoint JavaScript API 1.2](https://docs.microsoft.com/en-us/office/dev/add-ins/refere

[2021-02-08 18:05] #1597 closed, assigned to sohailzafar

[2021-02-08 20:10] exextoc commented on #1615
An emergency backfix was deployed for this, and the fix should have gone out by now to all Outlook clients. No download/client update is needed, however Outlook will need to be rebooted, and be connected to the internet. (Rebooting the machine should not be necessary, but could help). If you are still hitting the issue, please let us know the symptoms/cause and the Build Number of Outlook.

[2021-02-08 20:37] GeorgeHung commented on #1632
It seems to address the issue.  You can close the bug,  Thanks.

Regards,
George

[2021-02-08 20:39] suresh-anumolu commented on #1383
Hi, do you have any update on this issue? I am facing same issue on my end.. any help on this would be appreciated.

[2021-02-08 21:17] wsoccorsi-yw commented on #1615
@exextoc Wonderful! I just gave this a test and see it now working :D. I'll reach out if certain versions experience this but for now it looks great so thanks a bunch.

[2021-02-08 21:32] lliu113 commented on #1451
@ig-jb - I'll go ahead and close this bug, thanks for reporting it. Will work with our doc team to get the info updated so it's clear that the API is async. Thanks!

[2021-02-08 21:32] #1451 closed, assigned to lliu113

[2021-02-08 21:53] lliu113 commented on #1628
@AlexJerabek - thanks for linking the doc!
@parilla  - appreciate the confirmation. Will follow-up internally and get some clarification.

[2021-02-08 22:04] lliu113 commented on #1427
@osasseville - thanks for confirming! Really appreciate the repro video and manifest too, thanks for providing that. Context menus are only supported for basic text, and not when no text is selected. It will also not work when e.g. text is inside a table. I understand this is frustrating and has added additional overhead, but unfortunately this is by design.

You can submit a new feature request o

[2021-02-08 22:04] #1427 closed, assigned to lliu113

[2021-02-08 23:24] #1615 closed, assigned to exextoc

[2021-02-09 00:57] #1632 closed, assigned to lushanbo

[2021-02-09 03:38] davidtauriello commented on #1633
we've resolved the issue in our code.

[2021-02-09 03:38] #1633 closed, assigned to nobody

[2021-02-09 07:22] sagarpomal commented on #1545
Hi @clavx, @lliu113,

We are facing a similar issue with Word on Azure VM. The Office Store security team uses VM to test the add-ins, and it is failing because of the issue. Have you found any resolution for it?

[2021-02-09 09:00] ghost commented on #1367
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-09 11:04] Ashishagrawalbroadcom commented on #1367
Fortunately(since yesterday), we haven’t encountered any user in our work queue, asking for help on this case.
Hence, we’d require few more time to identify a user with similar symptoms, as it’s a random pattern and not all are affected by this.

[2021-02-09 12:38] zjomzjom commented on #771
@lumine2008 unfortunately, we have found functions that are not working when multiple workbooks are opened and the workbook has no focus:
function worksheet.activate();
setting the new value of worksheet.position;
functions defined in worksheet.freezePane.

Is there any chance to fix those functions? If it would be hard to fix, maybe you could introduce a mechanism similar to 'delayForCellEdit' th

[2021-02-09 13:50] lumine2008 commented on #771
Thanks @zjomzjom ,

For worksheet.activate() and worksheet.freezePane(), we found a high risk to fix this issue, especially for worksheet.activate(), it will change the focus, so we decide to throw a more meaningful error code InactiveWorkbook.
because when workbook is inactivate, if you call worksheet.activate sucessfully, it will activate the workbook in the background. which is a wired user exp

[2021-02-09 14:39] amiram opened #1634 "RecipientsChanged not fired when selecting recipients from address book on Outlook web"
RecipientsChanged not fired when selecting recipients from address book on Outlook web

## Expected Behavior

RecipientsChanged is fired

## Current Behavior

RecipientsChanged not fired

## Steps to Reproduce, or Live Example

add a handler to RecipientsChanged
[code]

Add contacts from address book - event not fired.
Add contacts by typing in the To field - event fired.

## Your Environment

* P

[2021-02-09 16:52] Ashishagrawalbroadcom commented on #1367
Hi Team,

Please find the required incident ID 23SGKP2N, also sent it to the admin@M365x010952.onmicrosoft.com

[2021-02-09 18:04] AhmedJDev commented on #1661
@exextoc, Those are the exact issues and other than the fact that windows doesn't open the side panel at all. I am going to try this implementation and see where I can get with this. Sorry for the delay. I have been dragged into other projects. But we are very keen on this feature working.
@ElizabethSamuel-MSFT Thank you, I will confirm with you in the upcoming days whether this helps for windows.

[2021-02-09 18:11] jeremy-msft commented on #1371
This should now be resolved.  Please let us know if you continue to see issues.

[2021-02-09 18:11] #1371 closed, assigned to jeremy-msft

[2021-02-10 00:00] ghost commented on #1605
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-10 00:14] Hamdan85 commented on #382
@markb-trustifi this approach works in mac, but not in windows. In windows, windo.opener returns undefined.

[2021-02-10 00:38] lliu113 commented on #1628
@parilla - looks like this is an error in our documentation, we strongly recommend your add-in activates within 5 seconds but there is no error message. However, once activated we may display an error message if your add-in is unresponsive or if it exceeds an acceptable CPU usage.

Hope that clears things up! We will be working to get this amended in the docs.

[2021-02-10 04:40] mariselvanm opened #1635 "Insert presentation with custom tag removed while inserting a presentation"
I was trying to insert a presentation using the below office js API. `data` contains base64 format of pptx. In each and every `chart.xml` file I was having some custom tags like `<author>, <uniqueId>`. Using the below code to insert a presentation.

    await PowerPoint.run(async function(context) {
       context.presentation.insertSlidesFromBase64(data);
       await context.sync();
    });

 Af

[2021-02-10 05:10] #1441 closed, assigned to nobody

[2021-02-10 05:46] exextoc commented on #1367
Thanks for sharing the log .It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-02-10 06:02] parilla commented on #1628
Thankyou @lliu113

This may explain why I was unable to force an error message to occur via deliberately delaying the initialization with this code:

setTimeout(function(){
  /* Render application after Office initializes */
  Office.initialize = () => {
    isOfficeInitialized = true;
    render(App);
  };
}, 10000);

Even after a 10 second delay the add-in still loaded without error.

If there a

[2021-02-10 06:50] exextoc commented on #1027
We have fixed the bug and the fix should be available in build 4.2102.0 or later

[2021-02-10 08:15] zjomzjom commented on #771
@lumine2008
Could you list all known functions of high risk?

Our scenario:
We have a long-running task of fetching huge data from the backend. This process can take even 1 hour. At the end of this process, we sort worksheets alphabetically (so modification of worksheet.position), freeze headers row (worksheet.freezePane), and set as active the base worksheet (worksheet.activate). During this long

[2021-02-10 13:22] exextoc commented on #1146
Is it started happening for Read or compose Item or both?

[2021-02-10 13:29] GrumpyAL commented on #1146
Read.  It's almost as if it's working the way it was previously.  Per the blog post this was the wrong way to access shared items and it was disabled.

The odd behavior I'm seeing is that it's "working" when I use "Open Another Mailbox" but only because the sharedProperties interface isn't available so we're using the /me endpoint thinking we're not in a shared scenario and for some reason the /me

[2021-02-10 17:00] Petryxasport commented on #1631
We know, but unfortunately can not switch to the New UI because Dialog window does not support add-in for the new Mac UI. This issue described here:
https://github.com/OfficeDev/office-js/issues/1438

[2021-02-10 17:31] Petryxasport opened #1636 "Reply/ReplyAll/Forward has to provide option to open in active window for the New Mac UI"
Current functions Reply/Reply All/Forward are opened Dialog pop-up instead of opening in an active window based on a new idea of New Mac UI.

Will be grate to have some additional Boolean parameter "Is Dialog" for _displayReplyAllFormAsync or displayReplyAllForm_ function to have an option stay in current window without opening via pop-up.

[2021-02-10 18:57] amelehy commented on #1585
Hi @AbidRahman-MSFT , checking in on this again.

[2021-02-10 18:59] AbidRahman-MSFT commented on #1585
Hey @amelehy, thanks for checking in. We are still working on figuring out the correct fix for this issue as the scope spans several teams. I'm hopeful that we will be able to provide an update on the investigation end of this week or early next week. Thanks.

[2021-02-11 03:10] exextoc commented on #1634
Thanks for reporting this issue regarding Recipient Changed Event. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-02-11 03:14] #1611 closed, assigned to macOutlookExtensibility

[2021-02-11 08:00] ghost commented on #1624
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-11 08:00] #1624 closed, assigned to exextoc

[2021-02-11 10:20] jurisjansons commented on #1611
@exextoc is there a way to tell if user currently in "New Outlook Mac" or "Outlook Mac" to show some notification for them? And is "by design" the right tag for this? Are you guys planning implementing this feature and maybe can share road map?

[2021-02-11 15:17] exextoc commented on #1611
1)is there a way to tell if user currently in "New Outlook Mac" or "Outlook Mac" to show some notification for them?
Could you please explain the requirement ? Did it means an API exposed to support this notification ?
2)And is "by design" the right tag for this? Are you guys planning implementing this feature and maybe can share road map?
We are tracking this work item internally and we will upda

[2021-02-11 18:00] ghost commented on #1619
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-11 18:00] ghost commented on #1430
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-12 06:14] #1623 closed, assigned to exextoc

[2021-02-12 09:20] julianulrichioz opened #1637 "inserting HTML into the body of the message, styling changes for the following paragraph"
when inserting HTML into the body of the message (via the Outlook.js API) the styling changes for the following paragraph

## Expected Behavior
same formating for all new content/text

## Current Behavior

when inserting HTML into the body of a mail message (via the Outlook.js API) the styling changes for the following paragraph

## Steps to Reproduce, or Live Example

* Link to live example:

htt

[2021-02-12 09:53] leybal opened #1638 "displayDialogAsync works unstable on add-in initialization"
Hello. I've downloaded and run the [excel-shared-runtime-scenario](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) add-in sample. I had created a new workbook and then pressed Connect service button on the ribbon. Its always result in add-in initialization with a message in the consol "init globals for command buttons". But in some cases, the dialog

[2021-02-12 09:53] leybal opened #1993 "displayDialogAsync works unstable on add-in initialization"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello. I've downloaded and run the [excel-shared-runtime-scenario](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) add-in sample. I ha

[2021-02-12 11:07] exextoc commented on #1637
Can you please share the sample code and body content which you are using ?

[2021-02-12 12:05] julianulrichioz commented on #1637
See attached

IOZ AG
Julian Ulrich
Projektleiter, IOZ AG
Direkt: +41 41 925 84 90 | Zentrale:+41 41 925 84 00
julian.ulrich@ioz.ch | https://www.ioz.ch
St. Georg-Strasse 2a, CH-6210 Sursee
E-Book Microsoft Teams Excellence kostenlos herunterladen
Von: Outlook Add-ins Team - MSFT <notifications@github.com>
Gesendet: Freitag, 12. Februar 2021 12:08
An: OfficeDev/office-js <office-js@noreply.github.c

[2021-02-12 15:11] ArjunSureshKumar92 commented on #1402
Our interaction with Office 365 support, [Case #:22924777]  has been closed with the following reason: "the issue needs to be fixed by developer team". From our tests, we've noticed for a tenant having 2 shared mailboxes, one has the issue while the other works fine. This rules out a tenant specific issue, or an underlying network issue. There is no difference in the way the shared mailboxes were

[2021-02-13 02:00] ghost commented on #1605
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-13 02:00] #1605 closed, assigned to nobody

[2021-02-14 02:00] ghost commented on #1661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-14 06:00] ghost commented on #1367
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-14 20:00] ghost commented on #1619
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-14 20:00] #1619 closed, assigned to exextoc

[2021-02-14 20:00] ghost commented on #1430
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-14 20:00] #1430 closed, assigned to macOutlookExtensibility

[2021-02-14 21:26] mstransky commented on #1576
Is there any reason not to enable it on all objects? I think its wonderful feature

[2021-02-15 00:52] lliu113 commented on #1316
@vikasm1720  - quick q: is this a recent regression (i.e. it was working correctly but is now not), or has it always been displaying this behaviour? Thanks!

[2021-02-15 03:04] ionuttamas opened #1641 "Read current mail body in FunctionFile?"
I have followed the small tutorial [here](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) and I have the following question:

How can I read the current mail body in the FunctionFile function?

I have the following simple config:

**Manifest**:
![image](https://user-images.githubusercontent.com/5080185/107900891-2b750980-6ef7-11eb-8bce-5af27

[2021-02-15 05:18] exextoc commented on #1402
Could you share the console.log information as requested previously. Also, post the update was the user able to see the pin icon in their Outlook, given their manifest is the most recent one like you confirmed?

[2021-02-15 05:24] exextoc commented on #1511
This behavior of opening a dialog box when clicking an href link is not supported in desktop clients. You should be using the [openBrowserWindow](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) API instead.

[2021-02-15 05:35] Premsagar-lab commented on #1367
@exextoc, @Ashishagrawalbroadcom had shared the logs with incident ID 23SGKP2N.

[2021-02-15 05:37] Premsagar-lab commented on #1247
Hi @exextoc, Any update on these issue?

[2021-02-15 05:41] exextoc commented on #1637
Could you share your Outlook build number and windows build number you're using. Is this reproducible through a stand alone addin as well? You can use Script Lab for Outlook from the store to try and reproduce the issue by pasting in a single line of text (as HTML) and seeing if the formatting changes for that as well.

[2021-02-15 07:04] julianulrichioz commented on #1637
Hi
Outlook Build Nr:

[cid:image001.png@01D70371.16228DB0]

Windows Build Number:
Win 10 Pro 20H2
[cid:image004.jpg@01D70371.16228DB0]

For script lab: i cannot edit the text in the panel to check if the formatting changes when I go to a new line or am I doing something wrong

[cid:image005.png@01D70371.16228DB0]

IOZ AG
Julian Ulrich
Projektleiter, IOZ AG
Direkt: +41 41 925 84 90 | Zentrale:+41 4

[2021-02-15 07:34] jurisjansons commented on #1611
1) Is there a way to tell if user opens Add-In from "New Outlook Mac". I will handle notification, I just need a way to tell who is using "New Outlook Mac"
2) Hope for fast resolution. It's a critical feature for us

[2021-02-15 08:21] vikasm1720 commented on #1316
It has always been displaying this behaviour.

[2021-02-15 09:00] ghost commented on #1634
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-15 09:34] JamesBigChange commented on #1578
@lliu113 I am unable to load Word Online in IE11 to check this. The following page is displayed:
https://support.microsoft.com/en-us/office/we-recommend-viewing-this-website-in-microsoft-edge-160fa918-d581-4932-9e4e-1075c4713595?ui=en-us&rs=en-us&ad=us

The issue with displayDialogAsync() was flagged during a Microsoft review of our add-in prior to it being updated in MS AppSource. Please can you

[2021-02-15 13:41] AhmedJDev commented on #1661
After changing the code, I was able to get it working on Windows Outlook and even got data passed through!
![image](https://user-images.githubusercontent.com/72918679/107953639-4bf2a180-6f93-11eb-95b3-57b0b42356b5.png)

However as @exextoc had mentioned, the contextData doesn't pass through on OWA which I am assuming is being investigated. I would like to know as soon as it does if possible. This

[2021-02-15 19:44] lliu113 commented on #1316
@vikasm1720  - thanks for the quick response! Will pass that onto the dev team.

[2021-02-16 08:38] neso613 opened #1642 "Office Store Publishing issue: Outlook Add-in for creating appointment fails when submitting to Store"
Hi
I have developed an Outlook Add-in using OfficeJS API for creating appointments with some setting and text.
Outlook Add-in has following features-
1. Add-in should be visible at command tab as ribbon command having 2 options- settings and schedule meeting. If settings are there,only then user can create dynamic event for new appointment else save settings first.
2. A ribbon(add/remove) is at co

[2021-02-16 13:51] NickDarvey opened #1643 "Custom XML part is not updated"
We're trying to append an item to a collection in a custom XML part. We can create the part with some initial content, however we cannot update it.

## Expected Behavior
We can create a custom XML part via `customXmlParts.addAsync` and then update it.

## Current Behavior
We cannot updated a custom XML part once created.

## Steps to Reproduce, or Live Example
* Link to live example: https://gist.

[2021-02-16 19:34] nkkinariwala commented on #1641
Thank you for logging this issue. It would be nice if you can provide following details?

Your Environment
Platform [PC desktop, Mac, iOS, Office on the web]: ______
Host [Excel, Word, PowerPoint, etc.]: ______
Office version number: ______
Operating System: ______
Browser (if using Office on the web): ______

[2021-02-16 19:58] nkkinariwala commented on #1642
@neso613 - Thank you for posting a question. It would be nice if you can provide following information.

Your Environment
Platform: ________
Host: Outlook
Office version number:________
Operating System: ________
Browser (if using Office on the web): ________

[2021-02-16 20:36] Hamdan85 commented on #349
Cmon guys, how this is closed? It's not working yet.

[2021-02-16 20:36] OfficeAddins opened #1644 "Uncaught (in promise) TypeError: Cannot read property 'name' of undefined"
<img src="https://bettersolutions.com/github/undefined/screenshot.png">

## Expected Behaviour
What is this error message ?

## Current Behaviour
When I press the button to display the task pane, I am seeing the following error message in the console window which I cannot remove or explain:

"Uncaught (in promise) TypeError: Cannot read property 'name' of undefined"
    at t (word-web-16.00.js:26)

[2021-02-16 20:41] abimaelmartell commented on #349
It seems like `displayDialogAsync` mutates the options object, so in order to get this working you need to send a new object every time.

[code]
Seems like an issue on the library, but this seems to work ok.

[2021-02-16 22:09] madhavagrawal17 commented on #1536
We are closing this issue as we don't see any problem with the current design. It seems there is some problem in AWS S3 CloudFront as the same scenario works for me.

[2021-02-16 22:09] #1536 closed, assigned to jargil

[2021-02-16 23:55] #1627 closed, assigned to exextoc

[2021-02-17 01:20] NickDarvey commented on #1643
This works if you alter `exampleContent2` from
[code]
to
[code]

and update the `part.getNodesAsync` path during the update branch from `/` to `/*`.

It does seem like `setXmlAsync` ought to return an error if supplied with the former. I'll leave this open for consideration, but feel free to close it if `success` is considered correct behaviour.

[2021-02-17 01:37] NickDarvey opened #1645 "Fetching document sources or bibliography with customXmlParts"
We're trying to look at a documents sources (a.k.a. citations, or `http://schema.openxmlformats.org/officeDocument/2006/bibliography/Sources`) of a document, however we can't fetch it using `customXmlParts.getByNamespaceAsync`

## Expected Behavior
An array of document sources are returned.

## Current Behavior
An empty array is returned.

If we inspect the document (unzip, look at the custom part

[2021-02-17 02:25] AbidRahman-MSFT commented on #1643
Hey @NickDarvey, thanks for posting the issue.

It looks like you are attempting to update a single node of an XML with an entire XML snippet and hence were running into the error. I do agree that the error could be more useful to debug quicker, unfortunately, we won't be making any additional changes to the Common API set.

FYI:
If you are only targeting Word on Windows and Word on Mac for your a

[2021-02-17 02:25] #1643 closed, assigned to AbidRahman-MSFT

[2021-02-17 02:32] NickDarvey commented on #1643
Thanks for the tip @AbidRahman-MSFT. That Preview API does look much more pleasant, but unfortunately we'll have to wait till it's more widely available.

[2021-02-17 12:44] dgrayling commented on #1098
We also have a use case for this property.

We want to provide links to our users to documents associated with their group. Download links are not suitable because we expect our users to collaborate within their group and passing static documents around does not meet thier needs.

So we want either this sourceDoc id (As seems to be provided in the VB api https://docs.microsoft.com/en-us/office/vba

[2021-02-17 13:32] dgrayling commented on #1507
Mandy's solution is correct, code snippet for converting the callback to a promise for use in async:

   const promise = new Promise((resolve, reject) => {
     Office.context.document.getFilePropertiesAsync(function (asyncResult) {
         const fileUrl = asyncResult.value.url;
         if (!fileUrl || fileUrl === "") {
           reject('no url')
         } else {
           resolve(fileUrl);

[2021-02-17 13:40] Hamdan85 commented on #349
I just do it once, and it opens the window in mac but not in windows.

But in mac, it doesn't receive events back (call back triggers this message: "messages received cannot be handlered")

It seems that there are also an error in edge which prevents us from knowing the opener window. Do you know anything about that?

using this:

Office.context.ui.messageParent(JSON.stringify({ authenticationCode

[2021-02-17 13:51] dgrayling commented on #831
@weshi For the file location URL, this behaves as an automatic download link. Do you mean that we can open the document given that we've downloaded it or can this url some how be opened as the file avaliable on web?

[2021-02-17 15:45] mariselvanm commented on #1597
Hi @akatrukhin ,

I just went throw the link, but it's not working. And the link navigates me to office 1.1 (that's what present in the URL).

https://appsforoffice.microsoft.com/lib/1.1/hosted/office.d.ts

And if I'm changing the version to 1.2 still it's not working. In my local, I have created the add-in with the help of `Yomen Gengerator`. Here I have the below link which created while the tem

[2021-02-17 16:43] GrumpyAL opened #1646 "Incorrect EWS URL used to attempt to obtain token when Exchange environment has both External and Internal EWS URLs set"
## Expected Behavior
When using getCallbackTokenAsync from an Outlook on Windows client while external to the Exchange environment, the command is sent through the  external EWS URL (as seen in fiddler).  It is expected that the client/Office Add-ins framework would use the appropriate URL depending on the client's network status (External vs Internal access).

## Current Behavior
When using getCa

[2021-02-17 18:04] AlexJerabek commented on #1597
Hi @mariselvanm,

The `1.1` in the URL refers to an office-js version, rather than the PowerPointApi requirement set. office-js contains APIs for multiple Office applications (such as ExcelApi 1.12 and PowerPointApi 1.2). The linked `.js` file and the Type Definitions in [`@types/office-js`](https://www.npmjs.com/package/@types/office-js) contain the most up-to-date set of released APIs.

[2021-02-17 18:20] ionuttamas commented on #1641
@nkkinariwala I have the following:

Your Environment
Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
Host [Excel, Word, PowerPoint, etc.]: Outlook
Office version number: 2103 (Build 13812.20002 Click-to-Run)
Operating System: Windows 10
Browser (if using Office on the web): ______

[2021-02-17 19:46] exextoc commented on #1402
Also, add-ins don't have any official support for the [Shared Mailboxes](https://docs.microsoft.com/en-us/microsoft-365/admin/email/create-a-shared-mailbox?view=o365-worldwide) feature in Outlook. Is that what you were referring to in your last response, or is that completely unrelated?

[2021-02-17 19:50] exextoc commented on #1637
It seems your images/screenshots were stripped out in your last response. Can you please resend them?

[2021-02-17 22:17] lliu113 commented on #1628
@parilla - we don't check this policy when showing the errors, so they can't be controlled with that setting. There's no restrictions in the code, so we shouldn't be showing initialization errors. If you encounter future issues please don't hesitate to open a new issue and we will follow-up.

We will be updating the documentation to correctly reflect the state. Closing this issue - thanks for brin

[2021-02-17 22:17] #1628 closed, assigned to robert-gavrila

[2021-02-17 22:45] mwickens commented on #1402
Thanks for the response. Arjun is out of the office until Monday, but I'll try to get the info you've requested.

I can tell you that, yes, the add-in is designed to work with (and only with) shared mailboxes. As for them not being supported, is [this page](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/supportssharedfolders) wrong?

[2021-02-17 23:16] exextoc commented on #1402
The page/documentation you referred to is about Shared Folders, not Shared Mailboxes. Those are 2 separate features. So it appears the issue you are currently having is only in a Shared Folders scenario?

[2021-02-17 23:34] mwickens commented on #1402
Our issue is definitely with shared mailboxes. Sorry for my confusion, and sorry if I linked to an irrelevant page, but we followed along on community calls and discussed shared mailbox support with several Microsoft people as it was being developed over a year ago. [This user voice page ](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/11634318-support-fo

[2021-02-18 00:35] exextoc commented on #1402
I'm checking with our User-Voice page admin. I will send an update once I hear back from the admin.

[2021-02-18 05:42] exextoc commented on #1247
@Premsagar-lab This has been added to our backlog. Unfortunately, we do not have timelines to share at this point for fix to be available.

[2021-02-18 06:28] exextoc commented on #1367
Thanks @Premsagar-lab.

One more question: Do you know how many customers (approximately) are affected by this problem?

[2021-02-18 06:36] exextoc commented on #1430
@SWei1234

1. If possible, can you please share test account so that we can repro with that account? We are not able to repro with given manifest file.
2. Can you please confirm if you're using New Mac UI or Old Mac UI ? It is possible that add-ins are not pinned on ribbon but are available in some overflow menu in UI?
3. Is it possible to capture network trace when "Outlook Mac" start fresh? Plea

[2021-02-18 06:49] exextoc commented on #1541
1. We tried to reproduce this with latest Outlook Mac build and we were not able to repro this now. Can you please check if this problem is still reproducible for you with latest build?
2. If it is reproducible, please share your Outlook Mac build number.

[2021-02-18 07:36] julianulrichioz commented on #1637
Hi see attached and below. Hopefully one of both will work.

Outlook Build Nr:

[cid:image001.png@01D705D1.0FA9A9C0]

Windows Build Number:
Win 10 Pro 20H2
[cid:image002.jpg@01D705D1.0FA9A9C0]

For script lab: i cannot edit the text in the panel to check if the formatting changes when I go to a new line or am I doing something wrong

[cid:image003.png@01D705D1.0FA9A9C0]

IOZ AG
Julian Ulrich
Proje

[2021-02-18 11:00] ghost commented on #1634
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-18 11:00] #1634 closed, assigned to nobody

[2021-02-18 12:52] atsopuronen commented on #1620
My team has set up a dedicated site about our findings into our knowledge base:
https://support.hoxhunt.com/hc/en-us/articles/360019436319

Please let us know of your troubleshooting efforts, they are highly appreciated!

[2021-02-18 13:40] cghaddar commented on #1568
@madhavagrawal17 I updated to latest available release 16.0.13628.20318 and the same bug persists.

[2021-02-18 18:02] wsoccorsi-yw opened #1647 "**ignore** 'appendOnSendAsync' returns true but does not add payload"
I currently have a user that has `appendOnSendAsync` return success with no message/payload attached. I am seeing a successful grab of the `office.context.mailbox.item.item.body` and inserting html, as an example, "hello". This promise returns true however when I look at the email I do not see the appended message.

## Expected Behavior
I expect to use `appendOnSendAsync` on an email and have the

[2021-02-18 18:45] #1647 closed, assigned to nobody

[2021-02-18 18:45] wsoccorsi-yw commented on #1647
Looks like this is an error on my end.

[2021-02-18 23:31] exextoc commented on #1402
I have informed our User-Voice page admin. It appears our documentation and User-Voice are conflicting. We are working to correct this issue.

[2021-02-19 00:13] exextoc commented on #1637
It seems we may have different views of this page.
In my view (web browser), I don't see the pictures in your recent response, however, you probably see it in your view/GitHub client. Below (intentionally formatted to appear as code) is what I see in my view. It appears the images were attachments to an email-type response, and they are not being displayed here in my browser view.

Can you share t

[2021-02-19 00:20] exextoc commented on #1641
Thanks for sending your environment/config info. We are unable to reproduce this in-house.
Thanks for adding the code snippet to the original post. There are 2 issues with the code that may explain the behavior you are seeing.

1. Calling `event.completed()` immediately after calling `notificationMessages.replaceAsync`: This can result in a race condition because the add-in is asking the platform

[2021-02-19 00:24] exextoc commented on #1646
Which other calls appear to go to the external URL? Are those calls from the add-in or from the Outlook client itself?

[2021-02-19 02:34] madhavagrawal17 commented on #1568
@cghaddar, Our Custom Functions team is still working on this issue as we are not able to reproduce it locally. I will update you once they have a fix available. Thank you.

[2021-02-19 03:21] SWei1234 opened #1648 "[Outlook ] Custom property missing when update scheduled recurring meeting"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have scheduled an recurring meeting( write something in custom properties) and  then updated one event of the series.
Problem is, when I open the updated single event the custom pro

[2021-02-19 05:04] exextoc commented on #1661
@AhmedJDev We are able to repro the bug in OWA. contextData set in NotificationMessage is not retrievable via getInitializationContextAsync() API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-02-19 06:00] ghost commented on #1511
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-19 06:21] adem commented on #1511
Commenting because the issue has been marked as stale - I don't think I can provide any additional input at this point. Is there any intermediate investigation result yet? Thanks

[2021-02-19 06:43] julianulrichioz commented on #1637
Sure, here the informations by text

Outlook Build Nr: 16.0.13628.20128
WinVersion: Windows 10 Pro 20H2 Build 19042.804

Formatting in the Script Lab preview looks fine but I cannot change any of the formatting in preview

Regards
Julian

IOZ AG
Julian Ulrich
Projektleiter, IOZ AG
Direkt: +41 41 925 84 90 | Zentrale:+41 41 925 84 00
julian.ulrich@ioz.ch | https://www.ioz.ch
St. Georg-Strasse 2a, C

[2021-02-19 06:48] exextoc commented on #1611
@jurisjansons

(1) We don't have any API to detect if it is "Old Outlook Mac" or "New Outlook Mac". But, we believe a better way for add-in is to check which API set is supported and make decisions based on that. Example:

if (Office.context.requirements.isSetSupported('Mailbox', '1.8')) {
   // API set 1.8 is supported
}
else {
   // API set 1.8 is NOT supported
}

Will this work for you?

(2) Fo

[2021-02-19 07:33] jurisjansons commented on #1611
Thank you for your help, will look what I can do with API set. As of workaround it will not work in our case. Hoping that this will be resolved soon.
Good luck!

[2021-02-19 08:41] ionuttamas commented on #1641
Thank you very much: this helped me in my use-case! :)
By the way, setting a message with more than 150 silently hangs the Outlook Add In (no errors either in Outlook or in node).

[2021-02-19 10:04] AhmedJDev commented on #1661
@exextoc Sounds good. If there are any work arounds till the bug is fixed, please do let me know

[2021-02-19 12:28] mmcalynnproof opened #1649 "Outlook 2016 Reporting Incorrect Dialog API/Mailbox Requirement Set Support"
Calling isSetSupported("DialogApi", 1.1) or isSetSupported("Mailbox, 1.4) in Outlook 2016 is reporting false, even though the Dialog API works in that environment as it supports Mailbox API 1.4.

## Expected Behavior
Office.context.requirements.isSetSupported("DialogApi", 1.1) and Office.context.requirements.isSetSupported("Mailbox", 1.4) should return true in Outlook 2016.

## Current Behavior
Of

[2021-02-19 15:50] GrumpyAL commented on #1646
So far I've only noticed that the token calls go to the incorrect internal URL whereas everything else go to the external as expected.  The one I'm not 100% sure of is an identity token call, that one is a bit harder to track.

The calls are coming from Outlook.exe and I can only see them in Fiddler.  They do not show up in the F12 Dev tools when attached to the frame (assuming because they aren't

[2021-02-19 18:01] #1641 closed, assigned to exextoc

[2021-02-19 21:11] exextoc commented on #1511
We added a comment about using our `Office.context.ui.openBrowserWindow(url)` API to achieve your scenario since we don't support the `frame-src blob` directive. Our API is mentioned on this page: https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins. Can you try that out to see if it is sufficient for your scenario?

[2021-02-19 21:20] exextoc commented on #1637
Thanks for sharing your Outlook and Windows version numbers.
From the video, it appears that the font switches from Arial to Calibri unexpectedly.
This may just be a quirk of the underlying email rendering engine. Can you share a snippet of your code with us with some dummy text that we can use for an in-house repro? That may also assist us in coming up with a potential workaround.

[2021-02-19 21:31] exextoc commented on #1641
Glad your issue is resolved.
When the 150 character threshold is exceeded, we throw an exception, which is why it appears that the add-in is hanging if the caller is not using a try...catch block.

[2021-02-20 06:54] SWei1234 commented on #1648
Hi @exextoc
Just update the description:
I found that this problem also happened on shared calendar.
But when I open the same event on Boss's calendar. I can access the properties fine.
But think this might be permission issue. Just need confirm this.
Thanks

[2021-02-20 16:44] neso613 commented on #1642
Update?

[2021-02-21 00:20] dhilgarth opened #1650 "Promise from context.sync never resolves when inserting slides"
## Expected Behavior
After inserting a slide with `insertSlidesFromBase64` and then calling `context.sync()`, the promise returned by `sync` should eventually resolve, no matter how many times this routine is called.

## Current Behavior
The first time I call `context.sync()`, the promise resolves. In subsequent calls, the promise doesn't resolve, although the slide still gets added successfully.

[2021-02-21 19:22] dhilgarth opened #1651 "getSelectedDataAsync with SlideRange only returns first selected slide"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Calling `Office.context.document.getSelectedDataAsync(Office.CoercionType.SlideRange` should return an array of all selected slides.
And I am pretty sure it used

[2021-02-21 19:50] dhilgarth opened #1652 "goToById(Next, Index) in PowerPoint doesn't clear selection from previous slide"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
When navigating to a slide with `goToById(..., Index)` that new slide should be the only selected slide.

## Current Behavior
The slide to which is being navigate

[2021-02-22 06:00] ghost commented on #1247
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-22 06:48] julianulrichioz commented on #1637
Hello
Please fine attached some example code
Regards
Julian

IOZ AG
Julian Ulrich
Projektleiter, IOZ AG
Direkt: +41 41 925 84 90 | Zentrale:+41 41 925 84 00
julian.ulrich@ioz.ch | https://www.ioz.ch
St. Georg-Strasse 2a, CH-6210 Sursee
Umfrage Challenge Report: Mitmachen und gewinnen
Von: Outlook Add-ins Team - MSFT <notifications@github.com>
Gesendet: Freitag, 19. Februar 2021 22:20
An: OfficeDev

[2021-02-22 07:14] exextoc commented on #1661
@AhmedJDev Unfortunately there is no workaround available.

[2021-02-22 07:24] exextoc commented on #1636
@Petryxasport Currently the feature you requested is not available. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

[2021-02-22 08:04] DmitryKostochko commented on #1481
Sorry for bothering you, but do you have any news about this issue?

[2021-02-22 08:41] Nassim33 opened #1653 "Add a binding from a prompt and get selected range with Office.js API"
I want to get the values of a range binding from a prompt. To implement this I follow the spec: [Add a binding from a prompt](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/bind-to-regions-in-a-document-or-spreadsheet#add-a-binding-from-a-prompt)
## Expected Behavior

When I call the method Office.select("bindings#myBinding").getDataAsync I expect to get the the values corresponding t

[2021-02-22 09:41] dhoelzl opened #1654 "insertOoxml always causes exception "word-web-16.00.js:27 Uncaught RichApi.Error: unknown" when executed in web browser"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When `insertOoxml` is called in a task pane in an Office-Add-In in a web browser in Office on the web (e.g. a current version of Google Chrome or Microsoft Edge on office.com), the XM

[2021-02-22 11:06] ThoughtRiverAdmin opened #1655 "Office add-in not updating automatically"
I submitted a new manifest file for an Office add-in on AppSource and the change was approved by the AppSource team, however, users of the add-in were still able to use the old version of the manifest file. This meant they were using an outdated version of the add-in that no longer worked as intended.

My question is should Microsoft Word automatically update add-ins when there is a new version on

[2021-02-22 13:38] GrumpyAL commented on #1295
Hello, @exextoc!  Just wondering if there is any rough release estimate on this enhancement.  Also, which specific documentation page should I watch for an update? Would it be here (https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access) or elsewhere? Thanks so much!

[2021-02-22 14:38] adem commented on #1511
Thanks! I'll try it out as soon as I can (no sooner than a week) and will let you know if it fits our use case.

[2021-02-22 14:50] ArjunSureshKumar92 commented on #1402
@exextoc

We do not have the console.log available. Unfortunately, we were not able to install the debugger in the customers system.

The user is able to see the pin icon in their outlook.

Is there any other info we can provide that would help?.

Thanks.

[2021-02-22 15:30] olivertylsar opened #1656 "Word AddIn: Can't apply styleBuiltIn on paragraph inserted on Range object"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Paragraph is inserted with desired style applied.

## Current Behavior
Returns RichApi.Error: Invalid arguments. Only paragraph is inserted, style is not applied.

[2021-02-22 16:53] CristovaoTorres opened #1657 "xample functions return #N/Ain Web"
I'm having trouble with the custom function.

only on the web I always have the return # N / A

yesterday it worked perfectly

![image](https://user-images.githubusercontent.com/46796748/108741123-262a4700-7515-11eb-8a88-9dd36eacd443.png)

[2021-02-22 17:52] efremsternbach commented on #1657
I'm seeing similar problems when trying to troubleshoot access to our company add-in from office.com. The add-in functions correctly when using desktop excel on windows or mac. The taskpanes seem to be working but the customfunctions are not.

I see many warnings in the javascript console with the form

`Could not load content for https://c1h-excel-15.cdn.office.net/x/s/*.js.map: HTTP error: statu

[2021-02-22 20:18] exextoc commented on #1648
The problem with Custom Properties missing on the updated single event (a.k.a meeting exception) is a known issue that we have in our backlog. We unfortunately have no timelines to share at this point regarding this issue.
For the Shared Calendar scenario, are you observing this problem on a meeting exception as well?

[2021-02-22 22:59] exextoc commented on #1646
Let me investigate the EWS calls from outlook.exe and get back to you.

[2021-02-22 23:50] lliu113 commented on #1614
@kullachoke-bosuwan-rft  - +1, thanks for reporting this! As Abid mentioned, this is on our backlog. I'll go ahead and close this issue, please reactivate if you have any additional questions/concerns.

Thanks!

[2021-02-22 23:50] #1614 closed, assigned to lliu113

[2021-02-22 23:56] lliu113 commented on #1655
@ThoughtRiverAdmin  - as you mentioned, your users should see a prompt to update the next time they use the add-in. The prompt cannot be ignored - users should not be able to use an older version of your manifest if a new one is available.

It may take a little time for the new manifest info to propagate, how long are your users still able to use the older manifest for?

[2021-02-23 00:15] NickDarvey commented on #1645
Is there anyone on the team familiar with working with the bibliography? Are there any examples out there of this being done?

The 'Researcher' does this, but I'm not sure it's an add-in. If it is, it would be great to share the source.

![image](https://user-images.githubusercontent.com/6076697/108786749-6991bd80-75c8-11eb-9b96-6b3b9eeb9136.png)

[2021-02-23 02:28] yiquanchaoren opened #1658 "npm run start:desktop shows add-in error"
I follow the link, do a test in my local excel
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows

When I run the "npm run start:desktop" in command, the opened excel shows the error:

![image](https://user-images.githubusercontent.com/35981627/108795405-68a95d80-75c1-11eb-84e8-e148fb933b70.png)

my excel version:
![image](https:

[2021-02-23 08:51] morgan-tr commented on #1163
Could you please provide an update on the status of this fix? Has it been deployed to production?

Thanks!

[2021-02-23 12:53] lumine2008 commented on #1653
Thanks @Nassim33 , i can repro this issue, a bug (4895051) is logged to track this issue.

[2021-02-23 12:54] vputsenko commented on #1402
Hi @exextoc,

OfficeJS raises itemChanged event in next situations:

1. each time user changes selection to unsupported item
2. user switches between compose and read mode - Outlook runs two sidebars in this case, one is hidden another is visible.
3. even simpler - on each item change OfficeJS raises itemChanged event passing null item following by ItemChanged event with selected item.

You can ev

[2021-02-23 13:51] sahil1504001 opened #1659 "Office PowerPoint 1.2 - Issue in method insertSlidesFromBase64"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Office PowerPoint 1.2 API - insertSlidesFromBase64 is failing for given base64 data

## Expected Behavior
The slide should be added to the PowerPoint opened.

Note:
1. The base64 is p

[2021-02-23 17:33] wsoccorsi-yw opened #1660 "Outlook Desktop/OWA corrupts `<img>` `src=` tag"
Some users using our add-in have experienced images we insert with `appendOnSendAsync` consistently lose their `src` attribute. This `src` attribute then points to a white block called `Image001.png`. As mentioned in the title this also happens with `prependAsync` and `setAsync` but for the sake of brevity and clarity I will be using AoS as the example.

Please note that we only have one piece of

[2021-02-23 18:41] ElizabethSamuel-MSFT commented on #1661
Given that we can't do anything further on the docs side, I'm going to transfer this to the office-js repo to track the OWA bug fix.

We can make any further docs updates after that.

Thx.

[2021-02-23 19:17] AbidRahman-MSFT commented on #1163
Hey everyone,

The fix has been deployed to production as of this morning. I have verified the fix in Firefox and can no longer see the horizontal scrollbar.

Closing the issue as fixed. Please let us know if you see any related issues.

Thanks for the patience.

[2021-02-23 19:17] #1163 closed, assigned to AbidRahman-MSFT

[2021-02-23 20:19] kzkiser opened #1662 "office.js use in IE11 seems to hang/can't use Office.onReady"
## Summary
Internet Explorer does not seem to work with the office.js library.  We have a simple logon.html in place to allow a message to alert the user that IE 11 isn't supported.

## Context
This issue is in the context of an addin to Office 365 (primarily through office.com, but it can also be loaded via MS Excel Desktop version).  Once the manifest is uploaded with office 365, when you click

[2021-02-23 20:40] sumurthy commented on #1662
@kzkiser Could you please try this approach and see if it works?
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in#initialize-with-officeinitialize

[2021-02-24 01:09] exextoc commented on #1660
A few clarification questions,
- you only see the issue if <img> tag getting modified for some, but not all users?
- When the <img> gets modified, do you know if it gets corrupted by sender's client? Did you try to getBody and check the result immediately after prePendAsync returns (noting that you cannot try this with AOS)?  What about sent-items? Here, I am seeing if we can identify when the cha

[2021-02-24 01:24] exextoc commented on #1649
I have been unable to reproduce this issue so far, Office.context.requirements.isSetSupported("DialogAPI", 1.1) and Office.context.requirements.isSetSupported("Mailbox", 1.4) both return true in my setup of Outlook 2016.

Could you help confirm the binary version for Outlook.exe and osf.dll to make sure? (right click, properties, details tab on the files that should be in the directory where offic

[2021-02-24 03:41] grangeryy commented on #1657
Sorry for the issue. We've already identified the root cause and we are working on the fix. Will update with you the progress. Thx!

[2021-02-24 05:27] exextoc commented on #349
@abdidaudpropel Is this issue happening in Outlook Mac new UI or old UI?
@Hamdan85 Do you mean you are seeing issue in Outlook windows client also? Can you share the Outlook client version?
Have you tried the workaround suggested by @abimaelmartell ?

[2021-02-24 08:49] exextoc commented on #1606
Currently the feature you requested is not available. We track Outlook add-in feature requests on our [ user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered when we go through our planning process

[2021-02-24 11:58] saurabh-msft commented on #1642
@neso613 Can you please help us with the following ?

1. On submission you get a failure. Can you give us error message and snapshots?
2. We will need the exact manifest being submitted as well.
3. Please give as much details as possible.

[2021-02-24 14:42] paulfrench opened #1663 "Cannot side load Excel Addin in desktop Excel"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I've followed the instructions as exactly given at https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

[2021-02-24 15:06] paulfrench commented on #1663
I created a new Yo office project and generated a default project holding the manifest only. This appears okay in the office addin list. So it does not like my manifest, yet this manifest loads fine in the web version. How do I find out what the issues are?

[2021-02-24 15:11] kzkiser commented on #1662
I tried the following html (see bottom), however even in a chrome browser, the initialize isn't called.  I could put a break point when I set the call back, but the contents never fired.  Checking the break point, the Office object seemed to already be populated, which makes me think the initialize has already happened.  We get it too late in the startup to work.

<html class="bg" lang="en-us" dir

[2021-02-24 15:24] paulfrench commented on #1663
Okay, running npm run validate gives me some clues what it does not like about the manifest. I will fix the issues it highlights and see if that helps. Running npm run validate against the default manifest still gives 3 errors but it still loads okay so I will assume these are acceptable errors while developing against localhost

Error #1:
Missing Support URL: The manifest support URL could not be

[2021-02-24 15:28] wsoccorsi-yw commented on #1660
@exextoc I'll do my best to answer these:
"You only see the issue if img tag getting modified for some, but not all users?" => Yes only some users have this happen, and they can reproduce this consistently every time. Never being able to send an image tag.

"When the  gets modified, do you know if it gets corrupted by sender's client? Did you try to getBody and check the result immediately after p

[2021-02-24 15:43] Hamdan85 commented on #349
I discovered the issue here.
THe problem is that the documentation doesn't says anything about the URL argument necessarily need to be absolute and outlook on mac behaving differently.

On mac it opens the dialog but the parent cant receive messages back.
On windows, it just don't do anything.

Changing it to absolute URL fixed my issues.
Just add this to the documentation.

[2021-02-24 17:44] smaremanda commented on #1577
@lowefraser - we are looking into this issue. In the meantime, have you tested this using the latest WebView2 control? If yes, please share any details.

[2021-02-24 18:49] aburtsev1 opened #1664 "Cross-platform issue. Word return an error when the user tries to modify table/table values"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello,

We have an application called “Model N Author” (available at MS Store) which uses Word API 1.3.

It is designed to work with O365 hence with both Word 365 desktop and Word Onl

[2021-02-24 18:52] stringbean commented on #1613
We are also having the same issue with an add-in that we are developing. Attempting to call `OfficeRuntime.auth.getAccessToken` results in an error 13001 even if the user has just authenticated.

Disabling 'Prevent cross-site tracking' in the Safari preferences and restarting the browser does allow the request to work but this isn't a viable option for a public add-in.

[2021-02-24 18:57] aburtsev1 commented on #1664
Previously we had communication in scope of https://github.com/OfficeDev/office-js/issues/470

[2021-02-24 19:15] kayramu opened #1665 "Excel AddIn - Desktop - Window.open (url) shows blank dialog box instead of a new window for pdf files in latest Excel versions"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

 window.open(url) on Ribbon or Taskpane should open a new window opening pdf files (which is in a different domain).
## Current Behavior

 window.open(url) is sh

[2021-02-24 20:15] paulfrench commented on #1663
It now loads okay, apologies for raising issues. It did not like using svg instead of png in desktop Excel. I created png for the svg icons and all loaded okay. Is there any where you can see the errors why it can't load the manifest? Trial and error is a pain! Cheers

[2021-02-24 23:09] exextoc commented on #1660
Thanks for the answers. Based on what you described with how the path look opening by recipients in gmail and Outlook (assuming OWA or Outlook on MAC here), it looks like the attached src link from the sender is converted to an attached image. By attached image, I mean an image attachment, and the image that is shown inline in the body referencing the attachment.

Let's consider where the conversi

[2021-02-24 23:55] exextoc commented on #1646
I expect requests that Outlook make to EWS (for addin tokens/ and other EWS calls) should be using the same endpoint. Here are few things to look into:

From addin:
- could you also print out the diagnostics object for this error. Info: https://docs.microsoft.com/en-us/javascript/api/office/office.asyncresult?view=excel-js-preview#diagnostics

For Outlook:
- there should be logic to fall back (ext

[2021-02-24 23:58] exextoc commented on #1637
We cannot access the attachment via github forums, could you try pasting the scriptlab snippet as text in the github post?

[2021-02-25 00:38] neville-jones opened #1670 "WebView2 not being used in Outlook add-in despite requirements of table being satisfied"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

This document does not seem to contain accurate information, based on our testing.

Our test environment is:
- Windows 10 Enterprise version 10.0.18363 (from System Information)
- Mic

[2021-02-25 01:24] grangeryy commented on #1657
Hey @CristovaoTorres this issue is already mitigated. Please check if CF work on Web. Thx!

[2021-02-25 01:44] Rick-Kirkham commented on #1670
By coincidence I learned the cause of this just today. Support for WebView2 is being rolled out gradually. It will not be in all computers that are on the monthly channel until the end of March at the earliest. Semi-Annual channels will take longer. I will be adding a note to this effect to the document.

[2021-02-25 01:46] davidchesnut commented on #1993
Hi @leybal, Okay I'm seeing similar behavior. If I open the task pane I see a notification about the security settings for dialog, which probably has something to do with it. do you also see a security warning when you open the task pane (after clicking to connect to the service)?

I'm moving this issue to the PnP-OfficeAddins repo which is where the sample is.

I'll look into this and get back to

[2021-02-25 02:16] neville-jones commented on #1670
Thanks Rick, however we did try Beta and Current Preview channels and they did not work either.

We used the approach of modifying the registry under
`HKLM\SOFTWARE\Policies\Microsoft\Office\16.0\Common\OfficeUpdate`
and setting the REG_SZ value with name `UpdateBranch` to `InsiderFast` and `FirstReleaseCurrent` (respectively), performing an Office update, restarting Outlook, confirming newer vers

[2021-02-25 06:41] julianulrichioz commented on #1637
Hello. here the html code

<body lang=DE-CH link=blue vlink="#954F72">

	<div class=WordSection1>

		<p class=MsoNormal><b><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>ANGEBOT
| Projekt-Nr. XXXXX</span></b></p>

		<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>

		<p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial

[2021-02-25 06:45] julianulrichioz commented on #1637
[code.txt](https://github.com/OfficeDev/office-js/files/6040998/code.txt)

[2021-02-25 08:00] ghost commented on #1247
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-02-25 08:00] #1247 closed, assigned to exextoc

[2021-02-25 08:57] ngelsi opened #1666 "Outlook for Mac, body.setAsync call during ItemSend event breaks inline images with a local source, in body and in signature"
The Add-in subscribes to the ItemSend event in the XML using

[code]

which then inside the sendEmail function call, retrieves the e-mail body using

[code]

The URLs of links in the e-mail body are appended with additional query parameters, using regex searching and string replacing. Afterwards the changed body is set using

[code]

The process completes without errors on all tested platforms (Ou

[2021-02-25 09:17] rklaui commented on #1666
Problem also observed in Outlook for Mac version: 16.46 (21021202).

[2021-02-25 10:13] hello-chenchen opened #1667 "outlook online Office.context.mailbox.item.body.setAsync bug"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

question 1:

demo code
[code]
got error result:
[code]
if change svg to jpg or png, it will work fine:
[code]

question 2:
demo code
[code]
the root cause code is:
[code]
the whole of

[2021-02-25 11:19] Premsagar-lab commented on #1606
hello @exextoc, we will be requesting on user-voice page.
Can we send EWS request from Outlook Add-In to fetch the MIP Label for the mailbox item after saving the email?
Or we can read the internet headers from ews?

[2021-02-25 11:30] CristovaoTorres commented on #1657
Hello.
It works for me. TKS ;)

[2021-02-25 11:30] #1657 closed, assigned to grangeryy

[2021-02-25 11:35] sumurthy commented on #1662
Thanks for the details. We'll look into this.

[2021-02-25 13:27] GrumpyAL commented on #1646
Thanks!  I will look into this and get back to you.  Please note, I do not have direct access to this environment to repro so it may take me a few days to collect everything.  Thanks again!

[2021-02-25 13:47] exextoc commented on #1667
Bug already created for this- Bug 1975767<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1975767>: New GitHub Issue [OfficeDev/office-js]: outlook online Office.context.mailbox.item.body.setAsync bug

Thank you,
[MS Logo]       Neelu Agrawal
Software Engineer II
nagrawal@microsoft.com
________________________________
From: Sudhi Ramamurthy <notifications

[2021-02-25 14:46] #1662 closed, assigned to sumurthy

[2021-02-25 14:48] kzkiser commented on #1662
I believe I have found a way around this.  I believe this was developer error.  There was non-vanilla javascript in the original that was causing issues.  The timing issue that I was trying to recreate was a red herring.  Sorry for the confusion.

[2021-02-25 15:54] barisbikmaz opened #1668 "PowerPoint insertSlidesFromBase64 method does not return in Office Online"
## Expected Behavior
insertSlidesFromBase64 promise should resolve after inserting slides.

## Current Behavior
insertSlidesFromBase64 promise does not resolve after inserting slides. So we don't know if inserting is finished.

## Steps to Reproduce, or Live Example
You can  use the "Insert slides from other presentations" snippet in Script Lab and add a console.log after the sync method.

[code]

[2021-02-25 16:49] CristovaoTorres opened #1669 "Custom Function not working in Excel Desktop with array parameters"
My function doesn't work on the desktop, but it works on the Web return #VALOR!

I have a function called RESULTADO that receives any parameters
![image](https://user-images.githubusercontent.com/46796748/109185252-997ac580-776e-11eb-88ab-977016f1bb0e.png)

All other functions in my project work perfectly on the Desktop and WEB

Project is here:https://github.com/CristovaoTorres/CustoFunctionNorWo

[2021-02-25 18:12] lliu113 commented on #1659
@sahil1504001 - thanks for reporting this! I've opened an internal bug to track: 4902245.

[2021-02-25 18:25] lliu113 commented on #1665
@kayramu - thanks for reporting this, I'm sorry this has caused so many issues with validation.

We will take a look internally, will update when we know more.

[2021-02-25 18:28] Rick-Kirkham commented on #1670
I am transferring the issue from docs to the office-js repo.

[2021-02-25 18:46] lliu113 commented on #456
@jglodde - apologies for the very late response to this. Are you still having issues side-loading your add-in?

[2021-02-25 19:21] lliu113 commented on #36
@Rick-Kirkham  - closing this bug as we've migrated to showing the domain in the title. Please reactivate if this is still an issue.
Thanks!

[2021-02-25 19:21] #36 closed, assigned to lliu113

[2021-02-25 19:24] lliu113 commented on #307
@ndeeH  - I'm going to close this for now, please reactivate if you're still able to repro this.

[2021-02-25 19:24] #307 closed, assigned to lliu113

[2021-02-25 19:41] lliu113 commented on #476
@ShannonLCapper, @umar-khan  - apologies for the very late response to this. Is the pointer issue something you are still seeing?

[2021-02-25 19:43] lliu113 commented on #511
@barisbikmaz - I'm going to go ahead and close this issue for now. Please reactivate if you're seeing this and we can investigate. Thanks!

[2021-02-25 19:43] #511 closed, assigned to lliu113

[2021-02-25 21:17] Rick-Kirkham commented on #1451
The docs are updated: https://docs.microsoft.com/en-us/javascript/api/office/office.dialog?view=common-js#close__

[2021-02-26 01:29] alison-mk commented on #1317
Closing this issue as it is resolved. Thank you for sharing your solution!

[2021-02-26 01:29] #1317 closed, assigned to lumine2008

[2021-02-26 09:00] ghost commented on #1027
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-26 11:08] ThoughtRiverAdmin commented on #1655
@lliu113 It was a few days after the new add-in version was showing on the Office Store/AppSource. Since the previous manifest pointed towards a service that's no longer used, it caused the user to no longer be able to use the add-in. We were able to solve it by getting the user to re-download the add-in from the store.

Do you know if the old manifest file is cleared from the Office cache once an

[2021-02-26 12:42] AlexanderSokolov1 opened #1671 "Synchronization between instances of the Office Word JavaScript add-in"
Hi folk,

I'm working on JavaScript add-in for Office Word (Win10 and Mac) and store some shared data in `OfficeRuntime.storage` (open for suggestions about other global persistent storages). Add-in displays this data on taskpane. Currently, if a user changes this data though one instance, it won't affect other add-in instances (e.g. in other open documents) until the taskpane is reopened or the a

[2021-02-26 14:26] GrumpyAL commented on #1646
@exextoc Quick question.  Is it expected that asyncresult.diagnostics property will contain information if the error is **not** HTTPRequestFailure or InternalServerError?  I have implemented the diagnostics property but I can't seem to fake the right error to get it to print out information.

In the case of using the wrong EWS URL here, we're getting DNS resolution failure so I'm not sure we'll se

[2021-02-26 14:36] wsoccorsi-yw commented on #1660
@exextoc Sorry for the late response, thats a very interesting insight! I would agree it is with the Sender as well. Just because it doesn't happen to everyone, and based on the Sender happens 100% of the time.

So I am getting a user to download the email from their sent folder and send it to us so we can narrow this down. Thanks for working with me here. I'll post back here when I have these ans

[2021-02-26 14:50] ghost opened #1672 "ConentControl Operations slow down Word Online"
## Expected Behavior
Word Online is usable and does not crash or slow down drastically when editing ContentControls.

## Current Behavior
When inserting HTML into a ContentControl via contentControl.insertHtml("mytext", "Replace") the operation takes more time every call. I tried using the clear()-function and inserting without replacing but that caused the same issue. After trying that I thought

[2021-02-26 15:07] wsoccorsi-yw commented on #1660
I thought I'd mention that we have a user who only gets this on Outlook Desktop for Windows but not OWA which I find interesting and might change some of your suspicions.

[2021-02-26 15:26] Premsagar-lab opened #1673 "[OnSend Addin] Sample code of Updateitem which updates sensitivity label using makeEwsRequestAsync API is not working"
I tried the sample code from my onsend outlook addin to update the sensitivity of the email from the given sample from the document at below link:
https://docs.microsoft.com/en-us/exchange/client-developer/web-service-reference/updateitem-operation

## Expected Behavior

Sensitivity label should be changed.

## Current Behavior

I receive error name "GenericResponseError" and code: "9020". descrip

[2021-02-26 17:32] groh-f opened #1674 "[Excel] Instead of Dialog Title a GUID is shown"
Sometimes when you open a dialog the title is not set correct (Add-In name or "Message send by Add-In name)  instead a GUID is shown.

## Expected Behavior
Add-In name should be shown within the title

## Steps to Reproduce, or Live Example
There is no certain event or behaviour which seems to cause this. Further it does not appear always. It can be fine for 5 times opening the same dialog and the

[2021-02-26 17:57] harri-rajala-koivu-solutions opened #1675 "Data validation in sheet 1 is copied to other rows in sheet 1 when new rows are added to the table in sheet 2."
Data validation in sheet 1 is copied to other rows in sheet 1 when new rows are added to the table in sheet 2. See comments on the example code for more information.

## Expected Behavior
Excel should not copy data validation to other rows.

## Current Behavior
Data validation is copied to other rows.

## Steps to Reproduce, or Live Example
[code]

## Context
This is a critical bug. Our Excel Add-

[2021-02-26 18:28] sshukurov opened #1676 ""Data > Refresh All" from Excel for Windows in co-authoring mode leads to error in Excel for the web"
I am running into an issue which can be reproduced as follows:
1. Create a new workbook in `Excel for Windows`, save it in `OneDrive`.
2. Open the same workbook in `Excel for the web`.
3. Press `Data` > `Refresh All` button in `Excel for Windows`.
4. Edit contents of any cell in `Excel for the web` instance.

`Excel for the web` instance renders the following error:
![image](https://user-images.gi

[2021-02-26 19:17] exextoc commented on #1646
The diagnostics property may not be present in all cases (depend on client version too), but should be there when the error message says that it is.  For coding/printing this, definitely check that the diagnostics property is present, and print JSON.stringify the property.

Thanks for the additional info on the EWS hitting DNS error. It will still be interesting to see if any EWS calls (specifical

[2021-02-26 22:04] exextoc commented on #1660
Got it on that there's a user hitting the issue on Outlook desktop and not OWA. It will still be useful to examine the sent-items to know if the attachment change has happened. For these affected users, it will be useful to know the Outlook desktop build version, Windows version (may be less important), and if applicable, OWA version. OWA version is closely related to the user's email server versi

[2021-02-26 23:04] td-gonzales commented on #140
This is still very confusing and I just ran into it. If I'm not supposed to use `Office.context.mailbox.getCallbackTokenAsync` to get a token to use with the Graph API what should I use?

[2021-02-26 23:15] td-gonzales commented on #140
Where was this published?

[2021-02-26 23:27] ElizabethSamuel-MSFT commented on #140
@td-gonzales Thanks for asking. Looks like we lost this update at some point so we'll get that resolved. However, can you take a look at the referenced articles [Outlook REST API via Microsoft Graph](https://docs.microsoft.com/outlook/rest/#outlook-rest-api-via-microsoft-graph) and [Compare Microsoft Graph and Outlook REST API endpoints](https://docs.microsoft.com/outlook/rest/compare-graph) and s

[2021-02-26 23:31] td-gonzales commented on #140
So I can use the [explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) to get my access token then hard code it to send an email from my outlook add-in. What should I use in the office-js lib to get that token dynamically?

[2021-02-27 08:04] malikirfan opened #1677 "ReferenceError: 'OfficeRuntime' is undefined"
I have created an Addin using "Yo Office" for Excel Custom Functions and then changed it to Shared Runtime as per documentation. Everything works at this time. Now when I am trying to set Token in storage OR Retrieve token from Storage, getting this exception. Here are my code snippet.
`taskpane.js
--------------------------------
Office.initialize = () => {
  document.getElementById("sideload-msg

[2021-02-27 09:00] ghost commented on #1636
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-27 09:00] ghost commented on #1541
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-27 11:11] leoseccia commented on #1427
@osasseville - did you submit a feature request? If yes, please share a link and I will throw some votes at it...

[2021-02-27 19:33] ndvbd commented on #390
Same issue here. Why there is no constructor to create Range like in:
https://developer.mozilla.org/en-US/docs/Web/API/Document/createRange
We need the ability to traverse the elements in the body so we can create our own custom range (based on startPosition and endPosition) and not based on .search()

[2021-02-28 06:00] ghost commented on #1367
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-02-28 18:00] ghost commented on #349
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-03-01 03:12] qinliuMSFT commented on #1675
Thanks for reporting this issue. We could repro this issue on latest Excel version, and this is also could be repro on Excel UI. We will contact Excel team to follow up the fix.

[2021-03-01 03:24] KazuyaHarashima4500 opened #1678 "About the Chromium Edge rollout schedule"
I would like to ask the specific schedule when office add-ins that meet the conditions for becoming Chromium Edge will be changed from EdgeHTML.

I asked MR.Yanagizawa of Microsoft Japan about the situation,but Even if the following conditions are met,there is no change of Chromium Edge.
So i didn't get a definite answer from MR.Yanagizawa.
About this situation ,Can you tell me about the schdule f

[2021-03-01 04:56] neso613 commented on #1642
[link](https://mop.infocus.net:3000/infocus-conx-outlook-addin.xml)

[2021-03-01 05:15] saurabh-msft commented on #1642
Thanks @neso613. I tried uploading the xml file you gave in our test partner center portal and it doesn't throw any error while xml gets validated in PartnerCenter-->Packages section.

Earlier you mentioned this:
"When I submit this to Store, It failed. Because my add-in do not read/write any info for mail.
Please tell and help to make this add-in correct for publishing."

Can you please paste the

[2021-03-01 05:54] #1636 closed, assigned to exextoc

[2021-03-01 07:26] lumine2008 commented on #1653
Thanks @Nassim33 , Our team has done some investigation, we suggest that you could use our workbook.bindings API to add a binding to multiple cells.
`const newBinding = context.workbook.bindings.add("A1:A100","Range","cc1c.onDataChangedBinding:"+"A1:A100");
`

PS. Common binding API (document.bindings) does not support add binding to multiple cells which is by design.

[2021-03-01 07:28] hello-chenchen opened #1679 "OfficeRuntime.auth.getAccessToken() not support different tenant account"
when i use OfficeRuntime.auth.getAccessToken() under my own azure account who have create an app registrations on azure portal. it can works fine.
[code]
but when i install this manifest.xml to other tenant account user, there is an error message:
[code]
does this OfficeRuntime.auth.getAccessToken() support in different office tenant account. not only under the same azure account?

[2021-03-01 07:44] MiaofeiWang commented on #1538
Hi @alexuaua This issue has been fixed after version 2.46.21020800. Could you please update your Office and try again?

[2021-03-01 09:46] ononder commented on #1635
I'm looking at this bug @mariselvanm, but I couldn't repro the issue when I add a tag to the chart shape. I wonder if the tags you mention is a different tag.

Can you share a sample pptx file which reproduces this behavior? It can be a very simple file, it could be shared as a gist or even in base64 format with a sample usage.

[2021-03-01 11:00] ghost commented on #1027
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-01 11:00] #1027 closed, assigned to exextoc

[2021-03-01 11:57] Diegoescalonaro commented on #912
Any news on this? `getAttachmentContentAsync` is not working

[2021-03-01 12:22] CristovaoTorres commented on #1669
Do you have any news about the issue?

[2021-03-01 13:45] ndvbd commented on #390
Same problem here. Please open this issue. Also see this question here: https://stackoverflow.com/questions/44916485/create-custom-range-in-word-javascript-api-office-js

[2021-03-01 15:26] dmitry-semenov opened #1680 "Outlook Add-in Command periodicaly opens new browser window"
## Expected Behavior

Add-In Comman should not popup browser window with the function file URL from manifest

## Current Behavior

Our product customer reports that their extension periodically opens new window at the URL we defined as our function URL instead of executing the function itself.

## Steps to Reproduce, or Live Example
n/a

## Context
n/a

## Your Environment

* Platform [PC desktop,

[2021-03-01 15:52] sumurthy commented on #1671
There's no event-support for Word. The Office.storage APIs are also meant for Excel.
You may want to check-out this document to see how to store shared information: https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/persisting-add-in-state-and-settings.md

For detecting changes, I think you'll have to poll periodically.

[2021-03-01 15:52] sumurthy commented on #1671
@davidchesnut - Is there any PnP to help for this scenario?

[2021-03-01 15:53] sumurthy commented on #1672
@AbidRahman-MSFT  are you the right person for Word online or should I assign them to someone else?

[2021-03-01 16:20] AlexanderSokolov1 commented on #1671
@sumurthy, thanks for response. I have read this article but I need a **global** persistent storage, not only on the document level.

[2021-03-01 16:35] jeremy-msft commented on #1677
@malikirfan, thanks for reporting this issue.  Can you please provide us with details about your environment?  Additionally, if using Office on the web, please confirm whether or not you are in Private/Incognito mode.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System:

[2021-03-01 16:44] davidchesnut commented on #1671
@sumurthy, no, there is no PNP sample for this scenario.
@AlexanderSokolov1, it sounds like you are looking for real time communication between add-in instances (potential cross-platform, cross-process)? Would it make sense to look into real time communication libraries like [SignalR](https://dotnet.microsoft.com/apps/aspnet/signalr), or similar?

Cheers,
David

[2021-03-01 17:03] AlexanderSokolov1 commented on #1671
@davidchesnut, yes, I'm looking for solution which will help me to handle scenario when the storage changed through another add-in instance (e.g. from another document of the same Word process). Some kind of the [Storage](https://www.w3schools.com/jsref/event_storage_url.asp) event is exactly what I need.

In case of SignalR (or others) I will have to use some server installed on the client machin

[2021-03-01 19:40] timbeese opened #1681 "Ribbon Icons not displayed for Windows desktop client, but work on web client"
## Expected Behavior

We expect for the same icons on the ribbon to be shown on the desktop that we see on the web.

## Current Behavior

We have an add-in for Excel that defines several icons for the ribbon.  Our add-in is deployed on site for the customer, so the URL for the icons is specific to the customer deployment.  Here is a snip from our manifest file, where ~remoteAppUrl would be replace

[2021-03-01 21:59] AlexJerabek commented on #1681
Thanks for reporting this @timbeese.

@sohailzafar, can you please investigate?

[2021-03-01 22:30] exextoc commented on #912
There were some issues while fixing this that the product team is taking another look at. I don't have further updates to share at this time.

Internal Tracking Id changed to: Office: 4720588

[2021-03-01 22:41] exextoc commented on #1680
It's not clear what you are asking. If you installed the add-in "SalesLoft". and it is popping up a dialog, then you should take the issue up with the Add-in Developer.

If you are a developer writing this add-in, then we need to know what APIs that you are calling that is causing this.

[2021-03-01 22:48] exextoc commented on #1673
Just to clarify what platform are you on? Mac Rich Client (what build?), or the Browser version of Outlook (Outlook Web Access) on Safari on a Mac?

[2021-03-01 23:38] AbidRahman-MSFT commented on #1672
Hey @tillkaemmerer , are you able to repro this issue consistently? Does it also occur if you are using Script Lab to insert HTML into content controls or only when you are sideloading your development add-in?

For eg. I tried modifying content controls using the existing sample in Script Lab and I am not able to repro this issue. I am able to insert HTML into the content controls quickly without

[2021-03-02 00:47] exextoc commented on #1402
I think something may have gotten lost as we passed this issue between owners. There are also several users commenting in here on several different issues.

What you describe is intended behavior as you noted. (and we had mentioned before that Null Item while pinning needs to be accounted for). Null items should NOT be coming through when not pinned. (A previous post said that NULL items were comi

[2021-03-02 01:25] exextoc commented on #1637
Apologies for asking again, but this code repro will need to be shared with other teams and the HTML in your code is quite large. Is there a chance you can reduce it to just the problematic issue? (And also include it as a scriptlab snippet) Or at least supply the code that you using? (i.e. I'm not sure which function you are using to insert text. body.setAsync ? body.prependAsync?

[2021-03-02 01:29] exextoc commented on #1648
Can you also share how you are setting up the Shared Calendar Scenario (specific steps that you took to both setup (the delegator) the Shared Calendar and how you are accessing it from the delegate)

[2021-03-02 02:41] yiquanchaoren commented on #1658
Anybody? Is the document is wrong?

[2021-03-02 05:37] Premsagar-lab commented on #1673
@exextoc I have tried with Microsoft Outlook for mac version  16.43 and also on OWA in safari version 14.0.1.

[2021-03-02 09:44] hello-chenchen commented on #1679
hi @exextoc do you know this one?

[2021-03-02 09:51] ghost commented on #1672
Actually reproducing this in ScriptLab helped me fixing the issue. I was using the Promises ``then()``-callbacks. Using async methods and awaiting the results fixed the issue. Thanks for suggesting.

If find that behaviour fairly odd. If you are able to explain the reason for that I'd love to know.

[2021-03-02 09:52] dmitry-semenov commented on #1680
Hi @exextoc I'm developer of this add-in, and the issue seems to happen immediately after the ribbon button is pressed - while it should run function in the function file, the Outlook opens the function file URL in the new browser window instead.
The first API in this function we use is the notification API that should print "Lofting in progress..." and this is not happening.

[2021-03-02 09:52] #1672 closed, assigned to AbidRahman-MSFT

[2021-03-02 11:00] ghost commented on #1541
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-02 11:00] #1541 closed, assigned to exextoc

[2021-03-02 13:45] ndvbd opened #1682 "Word addin: context.document.body.getHtml().value brings back comments in Word Software but does not in Word online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Word addin: context.document.body.getHtml().value bring back comments in Word Software but does not in Word online.
This is a major difference in the api between the offline/online ve

[2021-03-02 14:32] wsoccorsi-yw commented on #1660
Hey @exextoc sorry for the wait the user just sent the original/downloaded message from Outlook Desktop looks to be identical: `<img id=3D"_x0000_i1025" src==3D"cid:image001.png@01D70B90.B1961C40">`

[2021-03-02 14:54] austinwang opened #1683 "Add-in "steals" focus from the compose window onload"
The addin seems to takes the "focus" away from the compose window when it loads.
Example use case is this.
1. User has our Addin "pinned" so that it auto-opens in new windows
1. User clicks reply to an email
1. Outlook opens reply window and user starts typing their reply
1. Outlook loads the our addin in the side of the compose window (this takes a couple seconds) - On load, the focus is taken ou

[2021-03-02 15:23] CristovaoTorres commented on #1383
I am facing same issue on my end. Any news?

[2021-03-02 16:04] AlexJerabek commented on #1383
Adding @grangeryy to help investigate.

[2021-03-02 16:07] AlexJerabek commented on #1683
Thanks for raising this concern @austinwang.

@exextoc, could you please weigh in on the intent of this behavior and if it's something that can be changed? Thanks!

[2021-03-02 16:10] AlexJerabek commented on #1682
Hi @ndvbd,
Thanks for reporting this difference in behavior between Word platforms.

@AbidRahman-MSFT, could you please investigate?

[2021-03-02 16:12] AlexJerabek commented on #1672
Hmm, `then()` should also work. @tillkaemmerer, if it's a persistent problem, consider posting that issue on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js).

[2021-03-02 16:32] AlexJerabek commented on #1658
Hi @yiquanchaoren,

Let me tag @akrantz to help investigate.

Also, have you tried [clearing the cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache) before running `npm run start`? That might help get Office in a good state before sideloading the add-in.

[2021-03-02 16:41] mwickens commented on #1402
As mentioned, our product relies on the fact that this works (99.9% of the time) and the fact that Microsoft announced this as supported on UserVoice. I hope any fix is in the direction of official support, not removing functionality that lets our product work.

As for our original issue, as reported by @ArjunSureshKumar92, the problem has suddenly, inexplicably gone away for the one remaining cus

[2021-03-02 16:55] akrantz commented on #1658
You can turn on runtime logging using `npx office-addin-dev-settings runtime-log --enable` and then open that file with VS Code. It will update as logging is written.

Also make sure that the dev-server is running, either in VS Code using Terminal, Run Task, Dev Server, or outside using `npm run dev-server`.  For an add-in to run, it has to first load from the SourceLocation in the manifest, which

[2021-03-02 19:17] GrumpyAL commented on #1646
@exextoc are there any Framework calls you want me to make that would have an underlying EWS call?  Right now I am using the token viewer demo app to troubleshoot this.  I have a modified version that won't pull the tokens until you ask for each one so we can make sure to only try for one token at a time (and prevent the ID token from getting cached before we're ready).

But before I setup a sessi

[2021-03-02 19:30] exextoc commented on #1402
We will be updating our typings file to indicate that the item should be null. This was an error on our part.

I don't have more to share about SharedMailboxes right now, but the product team is considering a number of different options, and your feedback has been noted.

[2021-03-02 20:59] exextoc commented on #1673
I am forwarding this issue internally to our Mac/OWA teams, however it is likely that setting the sensitivity via EWS during OnSend event, is not reliable. (since EWS the server, and OnSend is happening on the client) A sensitivity office-js api will be needed to really do this properly.

Suggestions for future APIs can be made at User Voice:
https://officespdev.uservoice.com/forums/224641-general

[2021-03-02 21:09] exextoc commented on #1680
I don't repro this issue. (your build of Outlook while not the latest seems reasonably recent).

Do you repro the issue 100% of the time with your add-in? Did it ever work? Does it work on other platforms? (OWA, Mac?)

We haven't had reports of anything similar to this before, or been able to repro, so my initial reaction is that something inside your add-in may be doing this. (are you doing any c

[2021-03-02 23:06] dmitry-semenov commented on #1680
Well, the issue here is that this is our customer's report, I was not able to reproduce the issue as well.
https://outlook-connect.salesloft.com/manifest/manifest.xml here's our manifest which works just fine for the rest of our users.
I checked the codebase for `window.open` and didn't find any calls to it at all.
The only real confirmation of the issue I've got is the screenshot from a customer

[2021-03-02 23:14] exextoc commented on #1683
On Win32. What build number are you on? Talking with the developer team, part of this was fixed in build 16.0.13231.10000.
However, there are certain situations where this bug can still repro, and that bug is still in the backlog. I don't have a timetable for that bug at this time.

For Mac, I've contacted the Mac team about this. I/they may reply with more questions in the future.

Internal Track

[2021-03-02 23:30] exextoc commented on #1680
Do other add-ins on that customer's computer also repro the issue? For reference, they can install "Script Lab" from the Office Store under "Get Add-ins" And click the "Code" button. This is *supposed* to bring up a client dialog that lets you edit snippets. But if instead it brings up the functions file in another browser window, then obviously it's not something in your add-in.

Can you provide

[2021-03-02 23:49] exextoc commented on #1646
You could try:

makeEWSRequestAsync()
getCallbackTokenAsync() (both isRest = true and false)
getUserIdentityTokenAsync()

makeEWSRequestAsync() should make an EWS Call every time. However, this does not have the diagnostics data object on return.

The Token Calls DO have a diagnostics object returned on the latest builds of Outlook.
The UserIdentity token is cached for some number of hours, so it

[2021-03-02 23:56] exextoc commented on #1679
You may need admin authorization in the tenant that you are installing the add-in:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph

From that doc:  Office cannot prompt for consent to any Microsoft Graph scopes, not even User.Read.

So admin auth is needed.

[2021-03-03 00:20] jordan21398 commented on #1014
Hi I'm having this same issue where Office.context.ui.messageParent does not work in our Excel Add-in when we are using shared runtime but it works without shared runtime. Has anyone found a resolution?

[2021-03-03 01:43] jargil commented on #1679
Take a look at our documentation, there's guidance for errors that SSO can return to you, including 13005:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins#:~:text=Office-Add-in-NodeJS-SSO%20Conditional%20access%20/%20Multifactor%20authentication%20errors%20In,when%20the%20user's%20Microsoft%20365%20tenancy%20does%20not.

[2021-03-03 02:01] yiquanchaoren commented on #1658
I tried, but not work. I strictly install the document step operation, which has no effect on the desktop excel.

[2021-03-03 02:02] yiquanchaoren commented on #1658
I met the error in the desktop excel, pure nodejs code, not using vs code.
 I strictly install the document step operation, which has no effect on the desktop excel.

[2021-03-03 02:41] hello-chenchen commented on #1679
hi @exextoc @jargil , thank you for your suggestion.
my question is about multi-tenant situation. I have success to use OfficeRuntime.auth.getAccessToken() api to get token, but it only work for the same tenant azure account, which create the oauth app [register the add-in with Azure AD v2.0 endpoint](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs#regi

[2021-03-03 04:10] zliebersbach commented on #1577
We are having a similar issue with our **production** add-in which uses the shared runtime, so is as of yet unsupported by WebView2 (as far as we know). The issue has appeared in release Excel for Windows v2102 (Current channel).

As you can see in the attached video, Excel completely crashes if you have the file picker open for more than a few seconds. The add-in reloads, but the entire UI become

[2021-03-03 04:29] jargil commented on #1679
The API works for multi-tenant. The document you linked to has some details for making sure your registration is multi-tenant.

You need to grant consent for the user in the other tenant. Look at notes at the top of the link about why/when this consent will be needed:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/grant-admin-consent-to-an-add-in

[2021-03-03 04:34] alexuaua commented on #1538
@MiaofeiWang  Yes, thank you for letting me know. There are still other issues with axes, but this issue is resolved with v2.46. Thanks!

[2021-03-03 04:43] #1538 closed, assigned to lumine2008, tutieu

[2021-03-03 06:13] Premsagar-lab commented on #1673
@exextoc, Does UpdateItem request works with Onsend addin? If yes, Can you share any sample updateitem soap request which works with onsend addin?
Basically I want to set the MIP Label if UpdateItem works successfully.

[2021-03-03 08:00] ghost commented on #1367
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-03-03 09:14] exextoc commented on #1683
@austinwang The issue is reprodcible in only on old UI on MAC. In new UI it works fine for me. Can you please try the experience on new UI?

[2021-03-03 09:50] ghost commented on #1672
@AlexJerabek, I already posted on Stack Overflow. I am pretty confident that ``then()`` was the problem because it's also working in the more complex application now.

[Stack Overflow Post](https://stackoverflow.com/questions/66388070/contentcontrol-operations-slow-down-word-online)

[2021-03-03 10:13] dmitry-semenov commented on #1680
Asking for additional info, this can take a while.

[2021-03-03 10:37] 4tti opened #1684 "In certain cases Dynamic Array function returns #Spill! error although it should just work"
I've prepared small GIST where it is reproducible with automatic calculation, you need to click multiple times.

## Expected Behavior
Dynamic Array function (RANDARRAY) should return correct data.

## Current Behavior
It returns #Spill! error randomly but the max array size is 5x5 and the cells are empty.

## Steps to Reproduce, or Live Example
Use this gist and just click randomly in the spreadsh

[2021-03-03 13:06] paulfrench opened #1685 "Cells in desktop excel will not update until I hover mouse over my taskpane, corejs v3 es.promise polyfill causing problems"
Everything works great in online Excel. I'm using a shared runtime since I have custom functions that make REST calls to the backend and a shared runtime is recommended by Microsoft in the docs.

## Expected Behavior
In desktop Excel (uses IE11) cells should update as soon as custom function has run

## Current Behavior
In desktop Excel cell does not update until I hover over the taskpane window

[2021-03-03 13:18] malikirfan commented on #1677
Hi @jeremy-msft, Hope you are doing well. Here is the required detail:

I am on Windows 10 using Excel Desktop (version: Microsoft Excel for Microsoft 365 MSO (16.0.13127.21210) 64 bit) created add-in using Yeoman generator as mentioned in [this tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows) and then converted it to S

[2021-03-03 13:54] rickgoud opened #1686 "Disabling your Web Add-in if you have an Equivalent COM/VSTO Add-in doesn't work?"
Like described in the feb 2021 community call I want to disable by web-addin by setting an equivalent com add-in. I update to the latest beta version (build 2103) and set all the registry key values, but does not seem to work.... What is the best way to check what is wrong? Can we debug? Any tips/examples of people that got this working?

PATH: HKCU\SOFTWARE\Policies\Microsoft\Office\16.0\Outlook\

[2021-03-03 16:33] hello-chenchen commented on #1679
hi @jargil , thank you for your suggestion.
but it seems not work for me. In fact, which i mean multi-tenant is means these multi-tenant is under different AAD with different azure admin account.
these is my two different tenant which is under different AAD with different azure admin account. does this api OfficeRuntime.auth.getAccessToken() support this situation?
this is my tenant for saasbee:
!

[2021-03-03 16:51] jargil commented on #1679
Your multi-tenant scenario is supported. If I understand correctly the problem is that you don't have admin role in the second tenant and thus you're not able to grant profile consent. For testing with users in the second tenant you'll definitely need to be able to have the rights to grant admin consent. Given you have it working in one test tenant, I assume you have added all the correct permissi