[2022-08-06 09:01] ghost commented on #2618
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-06 12:47] mrcn04 commented on #1127
Yea, sure.

[code]

When I remove the `office.js` script from `dialog.html` or `redirectPage.html` it does not close but I am not able to access Office properly.

`dialog.html`: First page that opens from `displayDialogAsync`
`redirectPage.html`: Coming from redirection of my oauth2

[2022-08-06 15:01] ghost commented on #974
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-07 03:01] ghost commented on #2737
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-07 16:27] JinghuiMS commented on #2742
Thanks for reporting this issue. It has been put on our backlog<Bug#5627879> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-07 16:51] JinghuiMS commented on #2752
Thanks for reporting this issue. It has been put on our backlog<Bug#6385767> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-08 03:20] wangyun-microsoft commented on #1743
Adding Onur.

Onur, can you look at this and provide some insights?

Thanks.

[2022-08-08 03:37] david-ps commented on #2610
@davidchesnut Way beyond frustrating...

Thanks for your workaround suggestion but that would mean a permanent message would have to be maintained in a prominent place and not removed by any shared user. A message like this cannot be added at runtime on Close because there is no close event.

Yes, this does affect Open in Excel and means any Task Pane Add-in that the workbook relies on eg. has Cus

[2022-08-08 07:02] xuruiyao-msft commented on #2749
@bulgariamitko @JinghuiMS Thanks for your update. And I can reproduce the issue locally.
I investigate the code in windows desktop. The insert footnote process is:
1,insert the reference mark (\x2) into the paragraph, which printed as question mark
2, insert the reference mark into the footnote pane at the bottom of the current page
3, insert space after the reference in front of footnote at the b

[2022-08-08 07:59] xuruiyao-msft commented on #2749
@bulgariamitko Discussed with inner colleagues, the behavior is expected.
The paragraph.insertText  method with replace option indeed deletes the original content include the footnote. So the footnote at the bottom of the page will disappear.
The newText you fetched from the original paragraph actually is the type of text. It only includes the text format in which the reference mark is "\x2" (i.e.

[2022-08-08 08:02] bulgariamitko commented on #2749
@ahegongzhu , thanks for the replay. The problem is that I can't use RegEx inside the method search, right? Because this code will delete all the spaces that are more then 1 space, but what if I have 100 spaces and want to convert them to one space?

Update: Is there a way to actually use search with RegEx or find the range using RegEx?

Update2: The code that you provide is great, but it will act

[2022-08-08 08:43] xuruiyao-msft commented on #2749
@bulgariamitko would you please try this piece of code:

async function replaceSpace() {
  await Word.run(async (context) => {
    var paragraph = context.document.body.paragraphs.getFirst();
    paragraph.load();
    await context.sync();

    let rangeCollection = paragraph.search(" {2,}", {matchWildcards: true});
    rangeCollection.load();
    await context.sync();
    console.log("range.lengt

[2022-08-08 09:01] ghost commented on #2707
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-08 09:02] JinghuiMS commented on #2741
Thanks for reporting this issue. We can repro it locally, and it has been put on our backlog<Bug#6387343> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-08 09:16] JanTrichter opened #2755 "Fetch works in browser but not in desktop application"
Hello there,
I was recently creating an add-in for Outlook and I switched to the web for debugging purposes. It works great now and I managed to fix all errors except when trying to run the application in the desktop client.

I get `failed to fetch` as an error message. The API that I call has a custom SSL certificate which caused problems in the browser earlier but is not causing any problems cur

[2022-08-08 09:52] dhoelzl commented on #2752
I found a small bug in my repro-script (The # 3 enumeration check was wrongly inside the outer loop).

I updated the issue text accordingly.

[2022-08-08 09:57] Artsiom-L commented on #1537
Hi, I experience almost the same issue, but saving events doesn't help, and it only plays in Office on the web.
osfweb version: 16.0.15201.10000
office-js-api version: 20220404.2

[2022-08-08 10:23] bulgariamitko commented on #2749
@ahegongzhu , that is great that search support matchWildcards, but isn't that matchWildcards is limited and it is Office/Word strict version of RegEx. For example if I want to delete spaces at the the begging of every paragraph can I do it like that?
`let rangeCollection = paragraphs.items[h].search("^\s*", {matchWildcards: true});`
Because I can do it right now with
`let newText = text.replace(/

[2022-08-08 12:14] rolfamadeus opened #2756 "Powerpoint addin online does not update active view when running presentation"
We are developing a powerpoint add-in that needs to do stuff when the user is in presentation mode.

Running in native powerpoint:
-Office.EventType.ActiveViewChanged event fires when user switches from edit to presentation mode and vice versa.
-Office.context.document.getActiveViewAsync returns 'edit' or 'read' depending on if presentation is running or not.
-Office.context.document.getSelectedDa

[2022-08-08 14:22] cody-lettau commented on #2736
@exextoc this is only occurring for us with free Outlook.com accounts. We do not see any issues with other types of accounts.

I'm not sure what you mean by "Options settings" in Virtru. The impact of this is that users of our add-in who are using a free Outlook.com account will have some major usability issues due to the add-in not being able to tell if the email being viewed was sent by the curr

[2022-08-08 15:46] somenathmaji commented on #2735
@exextoc Could you please look into this once?

[2022-08-08 15:47] YasharHeydari commented on #2543
Any feedbacks on this?

[2022-08-08 17:12] millerds commented on #236
This doesn't look like a DevX tooling project . . . it's adding Office.js to an existing Angular project.  I don't have any expertise in Angular to know how this works.  (note our Angular template doesn't use the angular cli so it's not the same thing).

[2022-08-08 17:25] millerds commented on #1038
The test environment says it's Windows 10 which doesn't support IE11 anymore.  Windows 7 is also past it's supportability date.  I don't think this issue applies anymore.

[2022-08-08 17:25] #1038 closed, assigned to millerds

[2022-08-08 18:23] exextoc commented on #2740
@plamenbotev Yes, it works in 365 and in preview for on-premises.
You can find more detail in link below:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access?tabs=windows

[2022-08-08 19:01] jstick16 commented on #2543
Also seeing this issue

[2022-08-08 19:10] prasadhpshenoy commented on #2543
Am seeing this too.
Any add-in that is developed for excel is breaking undo functionality.
Appreciate if solution can be provided soon.

[2022-08-08 19:26] xianyao009 commented on #2543
I'm seeing this issue as well. Hopefully a solution can be provided asap. Thanks

[2022-08-08 19:50] exextoc commented on #2730
This behavior happens when Outlook saves the file to disk whenever saving the document. The `image001.png` is the name of the local file saved to disk. What scenario is this impacting for you?

[2022-08-08 20:23] exextoc commented on #2728
@pavig30 based on your description, it is unclear whether this is an OfficeJs issue or not. Are you using an Office web add-in to insert the table to reproduce this bug, however, this doesn't reproduce without using the add-in?

[2022-08-08 20:44] exextoc commented on #2736
@cody-lettau
![image](https://user-images.githubusercontent.com/28549921/183510458-c05eb505-4e68-4689-997a-2d1871137057.png)
It will be super helpful if your team can share the account with us. Because I am still not able to reproduce the issue.

Below are my reproducing steps, please correct me if I am wrong:
1. Start a new compose with outlook.com account
2. Encrypt message with Virtru and send

[2022-08-08 22:08] exextoc commented on #2736
@cody-lettau @feannyn If you have your test account ready, please follow the steps to share the credential:
1. Create a private git repo
2. Put your credential in a file and give @exextoc access to your repo.
3. You can delete the repo once we close the ticket.

[2022-08-08 22:43] pavig30 commented on #2728
I observed this issue in Microsoft Outlook app in Windows. This issue is not in OfficeJS. No I am not using Office web.

[2022-08-08 23:02] exextoc commented on #2747
@p6l-richard webview2 doesn't support push notification as far as I know.

[2022-08-09 02:41] xuruiyao-msft commented on #2749
@bulgariamitko The matchWildcards is indeed the Office/Word strict version of RegEx. I'm afraid that Some RegEx is not supported in our JS library.

[2022-08-09 07:15] bulgariamitko commented on #2749
@ahegongzhu So in my case if I would like to remove all spaces that are more then one in the document and spaces that are in front of the paragraph and after that. I think I can't use the matchWildcards and if I have a footnotes I can't use the insertText as well as it is removing my footnotes. So what is my solution in this case?

[2022-08-09 07:31] plamenbotev commented on #2740
Hello again @exextoc and thank you for answering my questions.
I got the impression that Graph will not be working properly at some point for mailboxes that are on-prem in hybrid setups:
https://techcommunity.microsoft.com/t5/exchange-team-blog/the-end-of-the-rest-api-for-on-premises-mailboxes-preview/ba-p/3221219

But perhaps I interpreted that incorrectly?

[2022-08-09 07:56] LookerClocker commented on #2665
Hey @preethikakiru @JuaneloJuanelo did you have a chance to take a look on it?
Thanks!

[2022-08-09 08:31] wangyun-microsoft commented on #1589
insertSlidesFromBase64 does not require a specific web browser. The web browser support is controlled at Addin level. Please refer to the following link for supported browser for each OS and Office version.

https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

[2022-08-09 08:35] Premsagar-lab commented on #2751
@exextoc: Please check this video:
https://user-images.githubusercontent.com/67500503/183603459-5ca0d9ec-277f-4ace-9dab-0c7ed322220a.mov

[2022-08-09 10:27] barclayadam commented on #2730
We add attachments and then may need to, at a later time in the lifecycle of composing an error, remove that attachment. We store the name and id of the attachment as it is added, but both of those values change meaning we have no way of removing the attachment.

Primarily, this issue is therefore that the id changes, not the name

[2022-08-09 10:34] JHJ-MS commented on #2543
@rundongmsft please take a look at it, thanks!

[2022-08-09 11:01] ghost commented on #2618
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-09 11:01] #2618 closed, assigned to exextoc

[2022-08-09 11:06] carlosb1504 opened #2757 "Calls to Office.context.mailbox.addHandlerAsync() resulting in OSF.DDA.Error code=5000 'The operation is not supported'"
Calls to Office.context.mailbox.addHandlerAsync() in order to register an event handler resulting in OSF.DDA.Error code=5000 'The operation is not supported' on Outlook for Windows only. OWA and Mac Outlook seem to be unaffected.

We are currently using this to subscribe to the `Office.EventType.ItemChanged` event.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desk

[2022-08-09 11:08] exextoc commented on #2750
@milankonir: Yes, could you please share a video showing the repro steps and the network log.

[2022-08-09 11:14] teejay001 commented on #2757
Hi,

Facing the same issue this morning even after upgrading to the latest version.

![image](https://user-images.githubusercontent.com/99417649/183634262-0c0310ee-cc3e-4b0d-92f7-e8f86495e50e.png)

[2022-08-09 11:49] JensMadsen commented on #2424
Is this related to https://github.com/OfficeDev/office-js/issues/2146 ?

We have a customer reporting that the Word add-in vanishes after he opens Outlook.

[2022-08-09 12:01] ghost commented on #2358
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-09 14:10] feannyn commented on #2736
https://github.com/feannyn/ticket_for_microsoft

[2022-08-09 14:14] lynneosmith commented on #2714
I wanted to check back to see if there is any update on this work item since it's been three weeks since we've heard anything? We are really hoping for a fix soon as this issue will impact us being able to ship our product. Thanks.

[2022-08-09 14:28] feannyn commented on #2736
I added you as a collaborator on the repository

To reproduce:

1. Use the provided Outlook account
2. Open Compose for a new message
3. Install the Virtru add-in and activate
4. Once activated, enable the Add-in
5. From here, you want to send the new message, keep the add-in open and wait for the "Sending With Virtru" pop-up to close. If you leave before this occurs, the message will not complete

[2022-08-09 14:33] cody-lettau commented on #2736
@exextoc let us know if you have questions.

On another note, you can see how we are handling the issue where a user cannot click away during the send by showing the "Sending in progress" modal. It's definitely not an ideal user experience (another bug that we've reported in the past, but is considered a feature request).

[2022-08-09 15:12] ThangaSperumal opened #2758 "Office JS – Excel Add-In doesn't retain stored values when deployed under office 365 centralized deployment (Admin Managed)"
# Provide required information needed to triage your issue
Our Add-in for excel (Office JS Add-In) which is inserted/downloaded from Office store (Stratum Excel Connector) properly retain stored values using Office.context.document.settings.set() and Office.context.document.settings.get() methods. It appears if the excel file uses our excel add-in from the office store and saved with the Office.co

[2022-08-09 15:42] dhoelzl opened #2759 "Creating content control: Failed to set properties after insertFileFromBase64 and ID unexpectedly changes"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoin

[2022-08-09 17:01] ghost commented on #974
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-09 17:01] #974 closed, assigned to exextoc

[2022-08-09 17:05] ElizabethSamuel-MSFT commented on #716
@slabereemsft Is this something you can take a look at? Thanks.

[2022-08-09 17:07] ElizabethSamuel-MSFT commented on #236
@slabereemsft Is Office.js performance in this case something you can speak to? Thanks.

[2022-08-09 17:31] ElizabethSamuel-MSFT commented on #716
@ravikmrsingh8 Sorry for the late response but are you still facing this issue? Thanks.

[2022-08-09 18:59] exextoc commented on #1537
Hi @ArtsiomLysianok: We are not able to repro this issue based on the details you provided. Please open a separate GitHub issue with repro steps so that we can investigate this further. Thanks!

[2022-08-09 19:28] slabereemsft commented on #716
I tried using the Wikipedia add-in in Excel and clicking the reload button on the menu from the upper right of the task pane.  It reloaded fine.  Given the age of the bug this has either resolved itself or we need more information about the repro to investigate.  Waiting for author feedback.

[2022-08-09 19:35] exextoc commented on #2728
@pavig30 Thanks for confirming. This repo is for [Office Add-Ins](https://docs.microsoft.com/en-us/office/dev/add-ins/) hence closing this post since it is not applicable here.

[2022-08-09 19:35] #2728 closed, assigned to exextoc

[2022-08-09 20:51] amiram opened #2760 "On Outlook web: Local developed addins are not loaded. Get addins modal not loaded."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: _Outlook
* Office version number: Web
* Operating System: Ubuntu, Windows
* Browser (if using Office on the web): Chrome

## Expected behavior

Local developed addin and "get addins" modal should work.

## C

[2022-08-09 21:08] ElizabethSamuel-MSFT commented on #1135
@kMutagene If this is still an issue for you, do comment and we can reopen. You can also create a new issue.

Thanks.

[2022-08-09 21:10] ElizabethSamuel-MSFT commented on #1128
@acaibowl If this is still an issue, do comment and we can reopen. You can also create a new issue if you so choose.

Thanks.

[2022-08-09 21:10] #1128 closed, assigned to nobody

[2022-08-09 21:11] #1135 closed, assigned to nobody

[2022-08-09 21:13] #1297 closed, assigned to nobody

[2022-08-09 21:18] ElizabethSamuel-MSFT commented on #1593
@sshukurov @zoulou00 @donquijotedelamancha If this is still an issue, please comment and we can reopen. Or you can create a new issue. Thanks.

[2022-08-09 21:22] ElizabethSamuel-MSFT commented on #1681
Closing as the question was answered and issue resolved.

[2022-08-09 21:22] #1681 closed, assigned to sohailzafar

[2022-08-09 21:25] ElizabethSamuel-MSFT commented on #1655
@ThoughtRiverAdmin @jordandev If this is still an issue, please comment and we can reopen. Or you can create a new issue. Thanks.

[2022-08-09 21:25] #1655 closed, assigned to nobody

[2022-08-09 21:26] ElizabethSamuel-MSFT commented on #1621
@tanapone-kanongsri If this is still an issue, please comment and we can reopen. Or you can create a new issue. Thanks.

[2022-08-09 21:26] #1621 closed, assigned to nobody

[2022-08-09 21:27] ElizabethSamuel-MSFT commented on #1620
Closing as there seems to be a workaround. Thanks.

[2022-08-09 21:27] #1620 closed, assigned to nobody

[2022-08-09 21:30] ElizabethSamuel-MSFT commented on #1744
@dhilgarth Is this still an issue for you?

@wangyun-microsoft Can you take a look?

Thanks.

[2022-08-09 21:31] ElizabethSamuel-MSFT commented on #1740
@dhilgarth Is this still an issue?

@wangyun-microsoft Can you take a look?

Thanks.

[2022-08-09 21:36] ElizabethSamuel-MSFT commented on #1703
@masayukiiizuka Is this still reproing for you?

@preethikakiru Can you take a look?

Thanks.

[2022-08-09 21:39] ElizabethSamuel-MSFT commented on #1834
@puentesdiaz Are you still able to repro this?

Thanks.

[2022-08-09 21:44] ElizabethSamuel-MSFT commented on #1919
@kullachoke-bosuwan-rft Are you still able to repro this?

@preethikakiru Can you take a look?

Thanks.

[2022-08-09 21:45] pavig30 commented on #2728
Could you please share me the link for raising issue with Microsoft outlook app?

[2022-08-09 21:45] ElizabethSamuel-MSFT commented on #1883
Closing out as author was asked to post this to Q&A.

[2022-08-09 21:46] #1883 closed, assigned to nobody

[2022-08-09 21:47] ElizabethSamuel-MSFT commented on #1868
Closing out as issue seems to be resolved.

[2022-08-09 21:47] timwan10 commented on #2755
Are you trying to do this in a ShowTaskpane or ExecuteFunction based add-in? or a LaunchEvent Add-in?

[2022-08-09 21:54] ElizabethSamuel-MSFT commented on #1963
@lindalu-MSFT I don't this darrelmiller is on OP. Reassigning to millerds.

@millerds Can you help with this?

@hengchengfei Are you still able to repro this?

Thanks.

[2022-08-09 21:56] preethikakiru commented on #2581
@Refinitiv-365 Hi, I attempted to reproduce this issue, but whenever I click sign-in it pops up the taskpane with the log-in instructions (which I am assuming is the expected behavior) and even when traversing through sheets the taskpane on the side remains the same unless I go make changes. Can I assume that this issue has been resolved?

[2022-08-09 22:00] ElizabethSamuel-MSFT commented on #1959
@Rick-Kirkham Are you the right person to help us document this limitation?

Thanks.

[2022-08-09 22:09] ElizabethSamuel-MSFT commented on #1948
@rasharmkum Apologies for the late response. Are you still facing this issue?

@wangyun-microsoft Can you take a look?

Thanks.

[2022-08-09 22:09] exextoc commented on #2730
This is caused by the underlying way that Word renders the inline image and email body when getBody is called. If your main concern is not being able to remove the attachment when removing the signature, you can use the workaround of adding the inline base64 image through html like the following:
[code]
Then you can just remove the signature and the image will be removed as well and no attachment

[2022-08-09 22:16] exextoc commented on #2747
An add-in is just a webpage embedded in Outlook, so you may be able to send data to it through websockets or long polling outside of a standard request. However, this is not a supported use case scenario.

[2022-08-09 22:19] exextoc commented on #2748
An add-in is just a webpage embedded in Outlook, so you may be able to send data to it through websockets or long polling outside of a standard request. However, this is not a currently supported use case scenario.

[2022-08-09 23:08] ElizabethSamuel-MSFT commented on #2022
@dinglicoding Apologies for the late response. Are you still facing this issue?

@preethikakiru Can you take a look?

Thanks.

[2022-08-09 23:12] ElizabethSamuel-MSFT commented on #1997
@sitthinan @jerousseau Apologies for the late response. Are you still facing this issue?

@preethikakiru Can you take a look?

Thanks.

[2022-08-09 23:15] ElizabethSamuel-MSFT commented on #1994
Link with the example mentioned: https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=excel-js-preview#office-office-document-getfileasync-member(1)

@nima-chatlani Thanks for your reply and apologies for the late response. Are you still facing this issue?

@wangyun-microsoft Can you take a look?

Thanks.

[2022-08-09 23:17] ElizabethSamuel-MSFT commented on #1990
@nkrtarm Apologies for the late response. Are you still facing this issue?

@preethikakiru Can you take a look?

Thanks.

[2022-08-09 23:21] ElizabethSamuel-MSFT commented on #1989
@hirandesai Checking on your status. Thanks.

[2022-08-09 23:24] ElizabethSamuel-MSFT commented on #1987
@jnSWPC Are you still facing this issue? If so, can you provide more details about your configuration as previously requested, e.g., Office version, platform?

@preethikakiru Can you help with this?

Thanks.

[2022-08-09 23:26] ElizabethSamuel-MSFT commented on #1986
@Rick-Kirkham, is this something you can help document?

Thanks.

[2022-08-09 23:27] ElizabethSamuel-MSFT commented on #1982
@jnSWPC Apologies for the late response. Are you still facing this issue?

@preethikakiru Can you take a look?

Thanks.

[2022-08-09 23:31] ElizabethSamuel-MSFT commented on #2060
@zoulou00 Apologies for the late response.

@JuaneloJuanelo Do you know if this will cause a problem with the Store submission?

Thanks.

[2022-08-09 23:33] ElizabethSamuel-MSFT commented on #2036
@anant-matelabs Are you still facing this issue?

@preethikakiru / @madhavagrawal17 Can you take a look?

Thanks.

[2022-08-09 23:37] ElizabethSamuel-MSFT commented on #2140
Seems like the response on the other thread unblocked this issue so closing.

@beatrixmorar If there's something else that should be addressed here, let us know so we can reopen.

Thanks.

[2022-08-09 23:37] #2140 closed, assigned to nobody

[2022-08-09 23:39] ElizabethSamuel-MSFT commented on #2098
@jargil @preethikakiru Any thoughts here? Thanks.

[2022-08-09 23:44] ElizabethSamuel-MSFT commented on #2210
Looks like the issue author was unblocked so closing.

[2022-08-09 23:44] #2210 closed, assigned to lliu113

[2022-08-09 23:45] #2191 closed, assigned to isabela-dominguez

[2022-08-09 23:48] ElizabethSamuel-MSFT commented on #2179
@LeonardoDavinci Are you still facing this issue?

@preethikakiru Can you provide current status?

Thanks.

[2022-08-09 23:50] ElizabethSamuel-MSFT commented on #2163
@exextoc Any update on this? Thanks.

[2022-08-09 23:51] ElizabethSamuel-MSFT commented on #2162
@YossiCohen Glad to hear your issue was resolved. Closing out this issue.

[2022-08-09 23:51] #2162 closed, assigned to nobody

[2022-08-09 23:53] ElizabethSamuel-MSFT commented on #2155
@FromPerm Are you still facing this issue?

@JuaneloJuanelo @preethikakiru Any ideas about this?

Thanks.

[2022-08-09 23:55] ElizabethSamuel-MSFT commented on #2157
@jrpally Are you still facing this issue?

Thanks.

[2022-08-09 23:57] ElizabethSamuel-MSFT commented on #2242
@EdwinStraver Are you still facing this issue?

@massonj Can you assign to the appropriate person to take a look?

Thanks.

[2022-08-09 23:58] jargil commented on #2098
Could you try installing the WebView2 runtime and trying again?
https://docs.microsoft.com/en-us/DeployOffice/webview2-install

[2022-08-10 00:00] ElizabethSamuel-MSFT commented on #2231
Closing as this seems to have been fixed.

@beatrixmorar and others: If that's not the case, let us know by commenting on this thread so we can reopen if needed. Or you can create a new issue.

Thanks.

[2022-08-10 00:00] #2231 closed, assigned to pkkj

[2022-08-10 00:00] EdwinStraver commented on #2242
Hi Elizabeth, yes, we are still facing this issue.

[2022-08-10 00:01] ghost commented on #1158
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-10 00:03] ElizabethSamuel-MSFT commented on #2242
@EdwinStraver Thanks for letting us know.

[2022-08-10 00:07] ElizabethSamuel-MSFT commented on #2280
@Arvini92 Thanks for sharing the link to Stack Overflow. Closing this issue.

[2022-08-10 00:07] #2280 closed, assigned to nobody

[2022-08-10 00:08] ElizabethSamuel-MSFT commented on #2265
@massonj Can you assign to the appropriate person to take a look?

Thanks.

[2022-08-10 00:15] ElizabethSamuel-MSFT commented on #2320
@g138 Are you still facing this issue? If so, can you let us know how you added the manifest to Exchange? Which of the [deployment options](https://docs.microsoft.com/office/dev/add-ins/publish/publish) did you use?

Thanks.

[2022-08-10 00:18] ElizabethSamuel-MSFT commented on #2318
@ndeeH Apologies for the late response. Can you check if [Browsers used by Office Add-ins](https://docs.microsoft.com/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) answers your question?

Thanks.

[2022-08-10 00:19] masayukiiizuka commented on #1703
@ElizabethSamuel-MSFT problem still occur. Please look into this problem.

[2022-08-10 00:22] ElizabethSamuel-MSFT commented on #2372
@massonj Can you assign to the appropriate person to take a look? Thanks.

[2022-08-10 00:22] ElizabethSamuel-MSFT commented on #1703
@masayukiiizuka Thanks for letting us know.

[2022-08-10 00:25] ElizabethSamuel-MSFT commented on #2458
Seems like this was fixed so closing out.

@dm-shlandii If you're still facing this issue, please comment so we can reopen. Or create a new issue.

Thanks.

[2022-08-10 00:25] #2458 closed, assigned to exextoc

[2022-08-10 00:28] ElizabethSamuel-MSFT commented on #2604
@wangyun-microsoft Can you take a look?

Thanks.

[2022-08-10 00:31] ElizabethSamuel-MSFT commented on #2601
@trigurl Do you have any suggestions for the user to get past this? Thanks.

[2022-08-10 00:33] jargil commented on #2318
This is our official documentation around runtimes supported:
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

[2022-08-10 00:33] #2318 closed, assigned to jargil

[2022-08-10 00:38] ElizabethSamuel-MSFT commented on #2701
@madhavagrawal17 Can you look into this? Thanks.

[2022-08-10 00:40] ElizabethSamuel-MSFT commented on #2700
@jargil Can you take a look? Thanks.

[2022-08-10 00:49] jargil commented on #2700
This is not supported in Mac by directly navigating to the file. Please use the OpenBrowserWindowApi: https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/open-browser-window-api-requirement-sets?view=excel-js-preview

[2022-08-10 00:49] #2700 closed, assigned to jargil

[2022-08-10 03:05] meisammofidi opened #2761 "Word Add-Ins API: Search base on the page number"
## Microsoft 365 Developer Platform Ideas Forum

We are developing a Word add-Ins, in which we are searching words in document.

Possibility:
Search either the entire document or selected context by below codes
`const searchResults = context.document.body.search('my word', { matchCase: false, matchWholeWord: true });
`
`const searchResults = context.document.getSelection().search('my word', { matc

[2022-08-10 05:01] ghost commented on #2737
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-10 05:01] #2737 closed, assigned to JinghuiMS

[2022-08-10 07:16] mrsanor commented on #1868
Well not really, the solutions here are just workarounds, not real fixes. You still can't have debugging and local storage working at the same time, it's either or.

[2022-08-10 07:31] eldhose-peter-imanage commented on #2661
@exextoc When office.js fails to load ItemSend execution (network error), is there a way to allow "Send" even if the add-in fails.

[2022-08-10 07:38] dimitarbikov commented on #2677
Hello team and @ajays-msft

Can we get an update on this?

[2022-08-10 07:47] hirandesai commented on #1989
We moved on with a different implementation since this was not working.
Sorry, I cannot help you now to check whether this will work or not!

[2022-08-10 09:22] exextoc commented on #1127
@mrcn04 - Thanks for sharing the manifest. Will it be possible for you to share a stripped-down version of your app that we can use to debug this issue?

[2022-08-10 10:31] jipyua commented on #2761
Currently, search by pages is not supported. but you can try to just search inside some scoped object, such as search inside table for section.

[2022-08-10 10:56] sshukurov commented on #1593
@ElizabethSamuel-MSFT not clear why this issue was closed, this is still reproducing for me. Can I ask you to share internal task number for ease of tracking?

[2022-08-10 11:14] LeonardoDavinci commented on #2179
@ElizabethSamuel-MSFT yes we still have the issue with larger presentation files! We would be very glad if someone could look into it, since it makes the GetFileAsync API not really usable at all.

[2022-08-10 13:14] exextoc commented on #2753
Hi @jackdawHome: We don't have a solid repro at this point so we will investigate/add more detailed error logs to find the problem and fix it. If you can identify a user condition or have a solid repro, please feel free to comment here again that will help our investigation and get sooner to the issue.

[2022-08-10 13:51] martiny360 commented on #2424
What version/build number is the fix? Had a client try to update Office, but it was already on the newest version, and it still didn't work.

[2022-08-10 14:45] lynneosmith commented on #2699
Thank you for the work around. I tried the workaround in ScriptLab and can see the shape in the actual slide. I was able to get this to work in our product as well, but I had to add a lot of additional await context.sync() calls that are not necessary in the desktop Powerpoint client in order for it to work properly.
We would still prefer the actual fix as soon as it is available since it is not i

[2022-08-10 15:09] ElizabethSamuel-MSFT commented on #1593
@sshukurov Thanks for letting us know. I'll reopen.

[2022-08-10 15:09] ElizabethSamuel-MSFT commented on #1593
@preethikakiru Can you take a look? Thanks.

[2022-08-10 15:12] ElizabethSamuel-MSFT commented on #1868
@mrsanor Thanks for your response. I'll reopen.

@massonj Can you assign to the appropriate person to take a look?

Thanks.

[2022-08-10 15:20] jackdawHome commented on #2753
Hi @exextoc, thank you for looking into the issue. When you are saying "We don't have a solid repro" does it mean you could reproduce the issue at least once? The issue is intermittent  by its nature. In my environment it starts to manifest itself when the delay reached 30000. Maybe it is different in yours. I will see if there is any other way to reproduce it.

[2022-08-10 15:33] ElizabethSamuel-MSFT commented on #1989
@hirandesai Thanks for letting us know.

[2022-08-10 15:35] ElizabethSamuel-MSFT commented on #2179
@LeonardoDavinci Thanks for the update.

@wangyun-microsoft Can you take a look and provide status of this issue?

Thanks.

[2022-08-10 16:03] Wenjun-Gong commented on #2610
Hi @david-ps , thanks for submitting the request on the M365 dev ideas forum. I have seen it. We will keep monitoring whether there are more partners would vote for this one.

Also I'd like to let you know that we are looking at this issue to understand your scenario better and seeking for possible workaround, or any possible new feature we should provide to mitigate this problem.  I have a few qu

[2022-08-10 16:42] EdwinStraver commented on #2242
@ElizabethSamuel-MSFT Do you know if some action will be taken on this? It has been a long time, and it is quite a nuisance for us.

[2022-08-10 16:43] ElizabethSamuel-MSFT commented on #2242
@EdwinStraver It would depend on what the team finds when they investigate.

[2022-08-10 16:52] millerds commented on #1963
That menu is part of the add-ins framework (someone on OPC) and not dev tooling.  I'm not sure what triggers it.

[2022-08-10 17:08] ElizabethSamuel-MSFT commented on #1963
@millerds Thanks for your response.

@jargil Any idea who might be able to help look into this?

Thanks.

[2022-08-10 17:31] groh-f opened #2762 "displayDialogAsync with displayInIframe: true fails with escaped line breaks in query string of dialog URL"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: any
* Operating System: any
* Browser (if using Office on the web): reproduced with Chrome, assumed: any

## Expected behavior
Dialog should be shown without issues

## Current behavior
Excel dialog API throws with internal error 5001.

[2022-08-10 18:08] jargil commented on #1963
This is the expected behavior if you're running with Edge's Legacy control.

This is how you debug with Edge legacy: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-devtools-edge-legacy

This is the list of runtimes Office supports: https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

[2022-08-10 18:08] #1963 closed, assigned to jargil

[2022-08-10 18:59] JuaneloJuanelo commented on #2757
@carlosb1504   we might think we have a repro here...can you please confirm in what context does this happen?  is this happening when subscribing to the event when you pop a compose or a read item? (this should not happen on the explorer view)

[2022-08-10 20:08] meisammofidi opened #2763 "Word Add-Ins API: Display the desired word on right click menu dynamically like spell & grammar check at MS Word"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Microsoft 365 Developer Platform Ideas Forum

I am developing a task pane Word Add-Ins which finds the desired words in word document. What I am trying to do is to give an ability

[2022-08-10 20:34] exextoc commented on #2736
@feannyn What is the name of your repo? I don't see it in my list.

[2022-08-10 20:56] JuaneloJuanelo commented on #2757
we verified offline that this is due to a recent "bug fix" we shipped and are in the process of rolling back. this will be fixed in a few days. for now you can safely remove that check from your add-in to solve the problem immediately.

[2022-08-10 20:56] #2757 closed, assigned to exextoc

[2022-08-10 21:24] jackdawHome commented on #2753
Hi @exextoc, I have the steps to reproduce the issue. In the Add-in I created two buttons. The first button adds three headers. The second button removes one of the headers.
1. Compose a message and run the add-in.
2. Click "Add Headers" button, which will add three headers.
3. Save message as a draft.
4. Click "Remove some headers" button, which will remove one of the headers.
5. Send the message

[2022-08-11 01:16] JinghuiMS commented on #2763
@preethikakiru  Do you have any insights on it? Thanks!

[2022-08-11 06:25] JHJ-MS commented on #2610
Hi @david-ps, very sorry for letting you wait so long. After a further internal discussion, we'd found another solution that may be a quick workaround to unblock you:

- step1. **config your Addin to be auto-open enabled** following this [doc "Tag the document on the client side"](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document#tag-the-doc

[2022-08-11 07:03] JinghuiMS commented on #2762
Thanks for raising question!
@Rick-Kirkham could you help involve current dialogAPI area expert into this thread? Thanks in advance!

[2022-08-11 08:04] mayagit commented on #1751
Hey everyone, we are starting to look into this area. Could you please go ahead and fill in this survey to help us understand and prioritize requirements: https://aka.ms/WordAPI ?
Thanks!

[2022-08-11 08:10] mayagit commented on #2040
Happy to let everyone know that support for content controls within tables in Word Online has been rolled out to production. Please take a look if your scenario(s) are working as expected and report back if any additional issues...

[2022-08-11 08:11] #2040 closed, assigned to RuoyingLiang, qinliuMSFT

[2022-08-11 08:21] Iso5786 commented on #2707
The IRMA component we utilize is written in Javascript as we develop an addin based on officejs.
So I don't see a way how to use the [getLaunchIntentForPackage](https://developer.android.com/reference/android/content/pm/PackageManager#getLaunchIntentForPackage%28java.lang.String%29) function ..
The IRMA intent links work well within other browsers / webviews.

[2022-08-11 08:36] JanTrichter commented on #2755
@timwan10 `<Action xsi:type="ShowTaskpane">` if that's what you mean.

[2022-08-11 08:43] MartinSSeifert commented on #2040
@mayagit love it 👍

[2022-08-11 08:49] david-ps commented on #2610
@JHJ-MS Thanks for your suggested work around.

Unfortunately, it does not address the use case: **User can share a document with an add-in, with another user who does not have the add-in installed**

You can see here in Microsoft documentation [Automatically open a task pane with a document]...(https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-docum

[2022-08-11 10:00] ivaylomitrev commented on #2740
A follow up question from me too.

From what I gather from this discussion and the links provided:

EWS:
* works in hybrid and cloud
* works for shared folders
* _does not_ work for shared mailboxes

Graph API:
* works in hybrid and cloud at the moment
* works for shared folders and shared mailboxes (in preview) for both cloud and hybrid
* according to [this article](https://techcommunity.microsof

[2022-08-11 10:46] Artsiom-L opened #2764 "Office.context.mailbox.item.recurrence.getAsync always returns null in web clients"
## Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number:
* - osfweb version: 16.0.15201.10000
* - office-js-api version: 20220404.2
* Operating System: Win 10 (21H1 OS Build 19043.1826)
* Browser (if using Office on the web): Chrome (v 104.0.5112.81 64-bit), Edge (v 104.0.1293.47 64-bit), Firefo

[2022-08-11 12:14] JensMadsen commented on #2424
@guliums we really appreciate that a fix has been deployed. My question is if there is a way to monitor this bug if it still happens. Right now we only get to know that the add-in has disappeared if our customers contact us.

[2022-08-11 12:32] moeBabazadeh opened #2765 "PowerPoint Add-In: Office.context.document.settings.get return wronge values from different instance of Add-In in same document"
# Provide required information needed to triage your issue
We have an Add-In, where we save to the document settings using Office.context.document.settings.set (followed by Office.context.document.settings.saveAsync()).
Also, users can insert multiple instances of our Add-In in the same document across different slides. (some users prefer to copy/paste the first slide instead of inserting Add-In o

[2022-08-11 12:34] xauat001 commented on #2745
@yaqiyang hi Yaqi, I have sent the mail to you, but I tried to send email to outlook email address using work email, the email have been treated as spam, I'm afraid that you didn't see the mail, so could you check your junk mail folder if you have not seen the mail please?

[2022-08-11 12:36] claell opened #2766 "[Outlook] Allow setting user signature"
I'll create a mirror issue for https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/allow-setting-user-signature-in-outlook-from-add-in/idi-p/3596992 here, as that forum seems to be pretty much dead right now (almost no reaction, no tasks being worked on).

Coming from https://stackoverflow.com/questions/57551608/access-user-signatures-from-within-outlook-add-in.

This functiona

[2022-08-11 12:38] claell opened #2767 "[Outlook] Allow setting bodyType to HTML"
I'll create a mirror issue for https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/allow-setting-bodytype-to-html-in-outlook-from-add-in/idi-p/3596975 here, as that forum seems to be pretty much dead right now (almost no reaction, no tasks being worked on).

Coming from https://stackoverflow.com/questions/68318423/how-to-change-coercion-type-of-email-body-to-html-from-text-usin

[2022-08-11 12:52] claell commented on #2364
Just out of curiosity. What is the scope of the Web Add-ins? Are they planned to replace the native, legacy Add-ins or is it just meant to be an addition with limited capabilities?

Maybe not the right place to ask this (sorry), but seeing this closed, indicates that it is currently more seen as some addition with limited capabilities and not wanted to really replace the old Add-ins?

[2022-08-11 13:01] claell commented on #2211
Referencing the forum with similar request: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/outlook-web-addin-add-event-on-from-address-change/idi-p/2464795.

[2022-08-11 13:45] cordeiroph opened #2768 "Outlook Add-In - Spellcheck box shows up twice on send event"
The spellcheck box shows twice, once when clicked on the send button and another time after the Outlook AddIn gets resolved. (After the event.completed)

## Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.14326.20450
* Operating System: Windows 10

## Expected behavior
The spellcheck box sho

[2022-08-11 14:17] repl-kannan-d opened #2769 "When item changes happens during custom properties save, library sends the latest itemId to the server instead right one."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **Office on the web**
* Host [Excel, Word, PowerPoint, etc.]: **Outlook(Email)**
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): **Chrome**

## Expected behavior
If itemchanged after save custom properties request

[2022-08-11 18:12] ivankenig commented on #2484
Same issue here...
We are on publishing of our addin written in angular and we have some critical validations. Among other things:
 Predictable Behavior
1120.3.7.3 Office for Mac

Your offer does not work in Office for Mac connected to an M365 subscription. OSx Version: Office Version.

Addin is not loading properly when launched.

1. Launch outlook.
2. Select any mail.
3. Launch the addin.
4. Iss

[2022-08-11 18:21] jbindert commented on #2484
Unfortunately not, still waiting to hear that this has been resolved.

[2022-08-11 18:32] ivankenig commented on #2484
What we have:
[code]

auth-outlook.html site contents:

[code]

So auth-completed.html contents:

[code]

This works fine on all other platforms: Web outlook (in all browsers), outlook on Windows, but now on outlook on Mac...

There is a similar issue: https://github.com/OfficeDev/office-js/issues/378 solved by param _host_Info using angular Router from '@angular/router'...But we are not using rou

[2022-08-11 19:20] timwan10 commented on #2755
Does adding the appropriate domains to AppDomains work
* https://docs.microsoft.com/en-us/javascript/api/manifest/appdomains?view=excel-js-preview
* https://docs.microsoft.com/en-us/javascript/api/manifest/appdomain?view=excel-js-preview

[2022-08-11 19:21] lynneosmith commented on #2699
In further testing, I found another issue in ScriptLab even using your workaround code. We have had problems in Web powerpoint when trying to insert a shape into the slide when a shape in the slide is active. I found this issue with your work-around. Would you consider this a separate issue that I need to enter a different bug for or part of this problem?

In Powerpoint web on the first slide, the

[2022-08-11 21:02] JuaneloJuanelo commented on #2740
@plamenbotev  when you say that you are testing EWS services to get additional information for the messages in a shared mailbox with no issues, what specifically you mean? how are you testing this?   EWS calls are blocked in Outlook Add-ins when they are activated in a shared folder or mailbox context, to be very precise you cannot use the Office.js makeEwsRequestAsync method in such conditions, t

[2022-08-11 22:06] ononder commented on #2699
I think `setSelectedDataAsync` is doing the right thing because it is actually changing the selected shape, so in that sense the workaround is not actually fully complete, but the behavior might be ok as described.

We are working on an actual fix on this, I will try to keep this thread updated as we go.

[2022-08-11 22:15] ononder commented on #2754
Hello Praveen,
I tried this code on Desktop PowerPoint, and didn't had any issues. Given that you mention this works on web, I have theory that this might be dependent on the content on the presentation.

Would you be able to isolate the issue that causes the problem? i.e. you can try to delete slides and shapes on a slide, until the error disappears. And whenever it works, we can try to understan

[2022-08-11 22:22] JuaneloJuanelo commented on #2740
@ivaylomitrev i think we need to differentiate an important aspect here. which is Calling EWS using Office.js vs Calling EWS [without Office.js.](https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/get-started-with-ews-client-applications)

1. Using EWS via Office.js you **cannot do** operations on shared folders or mailbox.
2. Using EWS without Office.js is Universal.

[2022-08-12 05:16] plamenbotev commented on #2740
@JuaneloJuanelo Hello and thank you for taking the time to look into our questions.

I have done the following steps to get information via EWS for mail sent to shared mailbox:

1. Created shared mailbox in the exchange admin center using development tenant
2. In delegation tab for the newly created shared mailbox added my mail in **Read and manage (Full Access)**
3. In my web outlook client I hav

[2022-08-12 06:54] jipyua commented on #2765
hi, would you please try to call setting.refreshAsync() before call settings.get() and see whether this works?

[2022-08-12 07:21] JinghuiMS commented on #2759
Thanks for reporting this issue. It has been put on our backlog<Bug#6405531> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-12 09:18] JanTrichter commented on #2755
@timwan10 already did that but it has no effect.

[2022-08-12 13:27] tj-aew opened #2770 "Desktop Excel - Excel.Application's calculationMode is incorrect"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

In Desktop Excel, the `calculationMode` property of `context.workbook.application` does not accurately reflect the setting

[2022-08-12 13:57] david-ps commented on #2610
@davidchesnut after watching the Aug Office Add-ins Community call regarding the Open in Excel functionality I understand how any add-in are automatically installed. However, if the initial user shares that document with another user that does not have the add-in installed then I believe the add-in will not be present and any integration will fail or is Visibility = 1 set?

[2022-08-12 14:01] ghost commented on #2358
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-12 14:01] #2358 closed, assigned to exextoc

[2022-08-12 15:09] feannyn commented on #2736
ticket_for_microsoft

[2022-08-12 15:43] praveenbattula commented on #2754
Thanks for the reply @ononder. I have tested with new powerpoint presentation which has 1 slide with a text box with text "test". And it fails to read textFrame property. I can read slides and metadata and shapes. When try to read textFrame it fails no matter what. Please make sure the version you have is same as ours "Microsoft 365 MSO (16.0.14326.21008) 32-bit Version 2108". Please let me know i

[2022-08-12 17:28] Rick-Kirkham commented on #1959
@CoreyKovalik Sorry for the long delay. This had been assigned to someone who left the company shortly after your comment and it was mistakenly not reassigned. I'm researching 12011 (and 12010) and will update the documentation as soon as I can.

[2022-08-12 18:58] CoreyKovalik commented on #1959
Thanks for the update!

@Rick-Kirkham What's your recommended way to get support or questions answered for Outlook add-ins and the Office API these days?

[2022-08-12 19:15] exextoc commented on #2764
Thanks for reporting this issue regarding the recurrence API. It has been put on our backlog. We unfortunately have no timelines to share at this point

 
Internal tracking id: Office: 167618

[2022-08-12 19:45] jackdawHome commented on #2386
We have the same issue with Office.context.mailbox.item.internetHeaders.getAsync. It fails randomly with internal error 5001.
macOS Monterey, version 12.2
Microsoft Outlook for Mac, v 16.63 (22070801)

[2022-08-12 19:56] JuaneloJuanelo commented on #2740
thanks @plamenbotev , Can you clarify your 3rd step: How did you accessed the shared Mailbox from OWA?
note that shared mailboxes is not supported in OWA yet, so I am not sure how you tested that part.

[2022-08-12 20:06] jackdawHome commented on #2277
Observed the same issue. Outlook for Mac, v. 16.63 (22070801)

[2022-08-12 20:15] JuaneloJuanelo commented on #2740
@plamenbotev Thanks for sending this detailed description. I am able to repro your behavior in Outlook for the Web. The behavior is inconsistent with the Win32 Outlook client where EWS calls are not allowed neither on delegates nor in shared mailboxes. This is a platform disparity issue and  I am able to repro those. That been said, shared mailboxes is not officially supported yet in OWA, so this

[2022-08-13 00:42] samantharamon commented on #2766
Hi, @claell. Thank you for submitting your request to Tech Community and for your feedback on your experience. I'm sorry to hear about your frustration with the process. While Tech Community is currently the correct platform to submit your features requests and ideas, please be advised that our team is investigating ways to better engage with the community. If you get a chance, I highly recommend

[2022-08-13 02:01] ghost commented on #1158
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-13 02:01] #1158 closed, assigned to akrantz

[2022-08-13 08:32] moeBabazadeh commented on #2765
Thank you @jipyua  for your quick response. We used to call "settings.refreshAsync" before every "settings.get" call, but as it returns internal error very often we preferred to remove it at some point to prevent other issues!

Also, I can say refreshing the setting helps to reduce the amount of wrong data fetching but it does not fix it totally!

Here is the "asyncResult"  response of "settings.r

[2022-08-13 12:01] ghost commented on #2734
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-13 21:01] ghost commented on #716
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:01] ghost commented on #2157
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:01] ghost commented on #2155
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #2036
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #2022
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1997
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1994
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1990
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1987
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1982
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1948
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1919
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1834
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1744
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 00:02] ghost commented on #1740
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 03:01] ghost commented on #2750
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 03:01] ghost commented on #2748
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 03:02] ghost commented on #2747
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 03:02] ghost commented on #2730
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 03:02] ghost commented on #2320
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 12:01] ghost commented on #1127
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-14 13:16] plamenbotev commented on #2372
If the issue is caused by the event handler in the dialog not yet been bound due to the async nature of the dialog API, you can delegate it as follows:

1. In the dialog l, trigger custom event to the parent to notify it that the dialog is loaded. Before triggering that event, bind the handler for the messageChild
2. In the handler of the event sent to the parent from the child, trigger the event

[2022-08-14 13:24] mvelbaum opened #2771 "[Outlook Add-In] Custom providers for Outlook Places Service"
Currently, when creating a meeting OWA and mobile Outlook both use the Bing Maps API to query for public locations. I would like to have the ability to use a different 3rd party map API for public locations lookup. Is this already possible?

[2022-08-14 20:06] tqdo opened #2772 "Office Excel JS - Find and replace"
I just wonder whether we can find and replace using Office Excel JS? I have read through the [doc](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/) but it does not mention about this functionality.

[2022-08-15 02:23] jipyua commented on #2765
hi admir4l, it's sad to hear refreshAsync also has some issue to not working properly, I am afraid we will need to open a bug to track the investigation and fix. Thanks for reporting this.

[2022-08-15 02:30] JinghuiMS commented on #2772
@tqdo
Thanks for reaching us.
For find, you can use range.find API, please refer to https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#excel-excel-range-find-member(1)
For replace, you can use worksheet.replaceall API, please refer to https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheet?view=excel-js-preview#excel-excel-worksheet-replaceall-mem

[2022-08-15 03:08] pvsleeper commented on #2372
Yes, I am doing something similar to what @plamenbotev is doing and its working fine for me.

The code opening the dialog looks something like this:
[code]

And then the code in dialog.html looks something like this:

[code]

[2022-08-15 09:01] ghost commented on #2697
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-15 12:35] claell commented on #2766
Thanks, @samantharamon, for the reply. I am aware of that sample, that you linked. Unfortunately, that is about inserting a custom signature from within the Add-in. I am looking for a way to select an existing user signature from the Add-in. So the signature itself comes from Outlook, not from the Add-in.

[2022-08-15 12:48] claell commented on #2766
Also, thanks for the reference to the community call, where this topic was discussed. Nice to see that this is on your agenda. I agree that changing to GitHub entirely will likely hugely improve things. Developers are used to it, so there is no problem with usability on that side, I guess. Integrating this into the normal development flow without too many unnecessary platforms in between is a good

[2022-08-15 12:49] claell commented on #2766
Forgot to ping @lindalu-MSFT

[2022-08-15 14:44] wh1t3cAt1k opened #2773 "Is this an error on the Office.js side?"
We have a phantom error in our add-in that is always healed by reloading it.
The error happens on Excel for Mac and the message says "Integrity/Authenticity check failed!" when our add-in tries to execute requests to our back end.

![image](https://user-images.githubusercontent.com/5159662/184656696-1ded60e0-363e-40f7-ab27-49abb24f0a46.png)

Googling yields nothing about this particular error text

[2022-08-15 14:52] wh1t3cAt1k commented on #2617
@JHJ-MS @yaweizhu-henson good evening guys, any news on this scenario?

[2022-08-15 15:23] JuaneloJuanelo commented on #2767
Effectively changing the body type is not supported on the API. You can identify what the body type the user chose and then insert either plain text or html accordingly.

[2022-08-15 15:51] JuaneloJuanelo commented on #2771
Hello this is a great idea but unfortunately this is not supported but I suggest you add a new feature request [here ]. Thank you. (https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform)

[2022-08-15 15:51] #2771 closed, assigned to JuaneloJuanelo

[2022-08-15 17:19] exextoc commented on #2736
@feannyn @cody-lettau  I logged in the account in the repo and followed all steps above, but I am still not able to repro it in my local.
![image](https://user-images.githubusercontent.com/28549921/184683601-a9fe77ef-b170-4f66-994f-7056214308a9.png)

We don't have a solid repro at this point so we will investigate/add more detailed error logs to find the problem and fix it. If you can identify a u

[2022-08-15 17:22] #2747 closed, assigned to exextoc

[2022-08-15 17:37] lindalu-MSFT commented on #2766
@claell Thanks for pinging me. Do you mind if I convert this to a Discussion and we can test this out?

[2022-08-15 17:55] claell commented on #2767
@JuaneloJuanelo Exactly. This issue is a request to support setting the body type on the API 😃

[2022-08-15 18:03] claell commented on #2766
In my experience, both, issues and discussions have their downsides. From a user perspective, using issues seems more straightforward. Of course, the backlog will get huge, but that is nothing to feel worried about, imho.

I think I know one other project that switched to discussions for a short time and then back to issues again. Not sure what the reasons were, though. Feel free to convert this i

[2022-08-15 18:43] JuaneloJuanelo commented on #2679
@ANHPearce  Hello, thanks for reporting. I have a question about your scenario, are you doing operations on your scenarios for each recipient and you are not checking if there are any dupes there? (ie. what if a user actually types a recipient 2 times). I want to understand more the impact of this issue, and hence adjust the priority of the bug. thank you!

[2022-08-15 18:46] timwan10 commented on #2755
At this point you may need to run fiddler and capture your queries, and see if that leads to any additional information as to why it's failing.

[2022-08-15 18:59] majoy opened #2774 "Bottom border DOES NOT show for all cells in the web, but DO show correctly in desktop"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello,

I have attached a xlsx file that has the issue which happens only on Excel Web. As you can see from the attached image, Current Assets which is made up of 2 merged cells start

[2022-08-15 19:27] wh1t3cAt1k commented on #2734
@JinghuiMS if you removed the inner context.sync() you would definitely see a RichApi.Error because request payloads are limited in size, especially in Excel Online as mentioned in the ticket description.

I am talking about the conceptual problem here:

- on the one hand, you **have** to sync() regularly to avoid hitting the request payload limit.
- on the other hand, as soon as you sync(), it **

[2022-08-15 20:00] lynneosmith opened #2775 "Web Powerpoint adding a textbox shape will cause any active shape to be deleted"
# Provide required information needed to triage your issue
Running web powerpoint, you can recreate this issue following the steps I specify below using Scriptlab. You insert an image, have it selected, and then insert a textbox, using the workaround specified in https://github.com/OfficeDev/office-js/issues/2699 or inserting text with setSelectedDataAsync(). Either way, the image will be deleted

[2022-08-15 22:19] Rick-Kirkham commented on #1959
Go here: [Microsoft Q&A](https://docs.microsoft.com/answers/products/)

Use the tags **office-addins-dev** and/or **office-js-dev**,

[2022-08-16 01:48] JinghuiMS commented on #2773
@jayrathi  Do you have any ideas on it? Thanks!

[2022-08-16 02:52] echowwl commented on #2660
We have added a join link to the email template, why do some "join" buttons of different email templates can jump normally, while others cannot, and the error The application can't be opened is reported?

**System version information is:**
macos monterey, version 12.3.1
outlook version:16.62
1. normally jump:
![image](https://user-images.githubusercontent.com/105787768/184787422-afc28edc-eff7-461a

[2022-08-16 03:16] sumitjain-rsi commented on #2719
[OutlookTestSharedMailbox.zip](https://github.com/OfficeDev/office-js/files/9347674/OutlookTestSharedMailbox.zip)
attached is the test add-in application to reproduce the issue. it is the sample application that created thru VS2022 template.

[2022-08-16 06:41] t-miyake commented on #2760
I have the same issue.
I have tried with multiple tenants and all have the same issue.

[2022-08-16 07:10] JinghuiMS commented on #2770
Thanks for raising this issue.
It has been put on our backlog<Bug#6410677> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-16 08:10] atsopuronen commented on #2358
I have submitted an idea to Tech Community Page here: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/add-ins-deployed-before-april-21-2021-should-be-auto-pinned-in/idi-p/3600742

[2022-08-16 09:02] ghost commented on #2761
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-16 11:07] JanTrichter commented on #2755
@timwan10 I managed to make it work. First I had to make sure that both the host for the static files was using http (Outlook denied localhost for whatever reason) and then make sure I added the API as AppDomain (already did that before). Lastly I had to create a valid ssl certificate for the API so that it wouldn't fail to fetch. Looks like Outlook cached an old version or I forgot to upload the

[2022-08-16 11:07] #2755 closed, assigned to exextoc

[2022-08-16 12:05] wh1t3cAt1k opened #2776 "🔥🐛 Crash on the attached file in Excel for Windows Desktop"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2207, Build 15427.20210 Click-to-Run
* Operating System:

Processor	12th Gen Intel(R) Core(TM) i9-12900F, 2400 Mhz, 16 Core(s), 24 Logical Processor(s)
Edition	Windows 11 Pro
Version	21H2
Installed on	‎12/‎05/‎2022
OS build	22000.856
Experienc

[2022-08-16 12:06] wh1t3cAt1k commented on #2776
The problem is not observable on Mac or Excel Web.

[2022-08-16 12:11] wh1t3cAt1k commented on #2776
Workaround:

I managed to fix the file by unzipping the xlsx, deleting the `webextensions` folder and zipping it up again.

This means the root cause lies somewhere in that folder.

Another important consideration is that our add-in uses the XLL compatibility mode with our legacy COM-based add-in, which might be important for the repro, see [manifest.zip](https://github.com/OfficeDev/office-js/fil

[2022-08-16 14:27] celluj34 commented on #2716
We are having the same problem. I thought https://github.com/OfficeDev/office-js/issues/1303 might be related but it's hard to reproduce reliably.

[2022-08-16 14:28] cut2run commented on #2753
@exextoc We posted the requested solid reproduction a week ago per your request. Is there any news? Did you have a chance to try the steps we have provided with? I believe we should not open yet another "fresh" ticket to get your attention to this matter, do we?

[2022-08-16 18:44] jayrathi commented on #2773
Office.js does not have any errors which return this string "Integrity/Authenticity check failed!" I am not sure what could cause this.

[2022-08-16 19:11] ThangaSperumal commented on #2758
Any update or suggestions to resolve this issue?

Thanks,
Thanga

[2022-08-16 22:51] meisammofidi commented on #2763
@preethikakiru Any idea please?

[2022-08-16 23:01] ghost commented on #716
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-16 23:01] #716 closed, assigned to ElizabethSamuel-MSFT

[2022-08-16 23:09] wh1t3cAt1k opened #2777 "Excel unnecessarily caches custom function metadata JSON, not respecting cache-control header sent by the server"
I feel like we need to ask it here because we really look bad in front of our customers every time we update the add-in code to a new version.

Our add-in is distributed through [AppSource](https://appsource.microsoft.com/en-us/product/office/wa200002311?tab=overview).

We would like to get to the bottom of how exactly add-in assets are:

- Cached by the host - do they respect the Cache-Control he

[2022-08-17 02:01] ghost commented on #2157
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:01] #2157 closed, assigned to wangyun-microsoft

[2022-08-17 02:01] ghost commented on #2155
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:01] #2155 closed, assigned to JuaneloJuanelo, preethikakiru

[2022-08-17 02:02] ghost commented on #2036
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #2036 closed, assigned to preethikakiru, madhavagrawal17

[2022-08-17 02:02] ghost commented on #2022
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] ghost commented on #1997
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1997 closed, assigned to preethikakiru

[2022-08-17 02:02] ghost commented on #1994
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1994 closed, assigned to wangyun-microsoft

[2022-08-17 02:02] ghost commented on #1990
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1990 closed, assigned to preethikakiru

[2022-08-17 02:02] ghost commented on #1987
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1987 closed, assigned to preethikakiru

[2022-08-17 02:02] ghost commented on #1982
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1982 closed, assigned to preethikakiru

[2022-08-17 02:02] ghost commented on #1948
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1948 closed, assigned to wangyun-microsoft

[2022-08-17 02:02] ghost commented on #1919
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1919 closed, assigned to preethikakiru

[2022-08-17 02:02] ghost commented on #1834
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1834 closed, assigned to nobody

[2022-08-17 02:02] ghost commented on #1744
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1744 closed, assigned to wangyun-microsoft

[2022-08-17 02:02] ghost commented on #1740
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 02:02] #1740 closed, assigned to wangyun-microsoft

[2022-08-17 02:12] jipinshi commented on #2770
@tj-aew, finding this is related force save, as long as you do any action to trigger force save of the document after changing the option, then it can get the right value.

[2022-08-17 03:14] JHJ-MS commented on #2610
@David-ps, thanks very much for your patient for answering our questions!

We totally understand your requirement. But really sorry that currently it cannot be totally fulfilled as the scenario gap here. The autoopen feature was target for users who want to keep the add-in always open but don’t want the add-in expose to the consumers of the file. So the [Tag the document on Client side](https://na

[2022-08-17 05:01] ghost commented on #2750
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 05:01] #2750 closed, assigned to exextoc

[2022-08-17 05:01] ghost commented on #2748
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 05:01] #2748 closed, assigned to exextoc

[2022-08-17 05:01] ghost commented on #2730
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 05:01] #2730 closed, assigned to exextoc

[2022-08-17 05:01] ghost commented on #2320
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 05:01] #2320 closed, assigned to exextoc

[2022-08-17 08:23] tj-aew commented on #2770
@jipinshi - Thanks. What's a "force save"? What kinds of actions would cause it?

[2022-08-17 08:59] Amulyakr opened #2778 "I'm trying to open word document from a file path and insert footer into opened document using Office Add-ins for Word."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Assume I have a word document open with taskpane having button to open document from given destination(local file path) then insert footer into newly opened document.As I'm new to thi

[2022-08-17 10:13] rundongmsft commented on #2543
Sorry for the late response, some email errors caused me not to receive these messages in time. I will investigate this issue as soon as possible.

[2022-08-17 10:24] somenathmaji commented on #2735
@exextoc Could you please provide some input here?

[2022-08-17 10:28] DmitryKostochko commented on #2731
Do you have any news about the issue?

[2022-08-17 10:32] ndeeH commented on #2318
Yes - that seems complete.

[2022-08-17 10:34] guliums commented on #2424
Hi @martiny360 @JensMadsen, sorry for late response. Let me add ribbon expert @preethikakiru to help.
If you still see the issue in latest build, could you provide a session id and build number. That will be very helpful for investigation. Thanks!

[2022-08-17 10:40] JensMadsen commented on #2424
Thank you @guliums. I report back if we get more reports from our customers. Again, is there a way to monitor the bug?

[2022-08-17 12:23] danielpdev commented on #2650
Hi @AbidRahman-MSFT ,

Sorry for late response, I've tested with the latest preview apis from : `https://appsforoffice.microsoft.com/lib/beta/hosted/office.js` and it still does not work for me.

Thanks.

[2022-08-17 14:01] ghost commented on #1127
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-17 14:01] #1127 closed, assigned to exextoc

[2022-08-17 15:17] ilbrando commented on #2034
This works from my Windows Outlook, but not from the web version outlook.com. I use version 1.1 of the Office addin API (https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js).

Is there a fix for this in the web version?

[2022-08-17 17:32] exextoc commented on #2768
@cordeiroph would you be able to provide a YAML or snippet URL for us to reproduce this issue in your add-in (or an add-in prototype similar to yours)?

Also is this reproducible on any other platforms? (Web, Mac, Android)

[2022-08-18 05:14] jipinshi commented on #2770
@tj-aew, like when you change some cell value, it will trigger save, the force save means the save action happened in document hoster, like onedrive or sharepoint.

[2022-08-18 08:21] Refinitiv-365 opened #2779 "[PowerPointApi] Support table object and hyperlink on PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi

We plan to run our applications on PowerPoint.
But as I check on PowerPointApi documents, it seems not to support table objects and hyperlinks.
So I would like to request a suppor

[2022-08-18 09:18] rundongmsft commented on #2543
Hi @maleta, thanks for your repro. I have tried 10 times in my side by following your steps, but still cannot reproduce the undo unavailable even once. Do you know how to trigger this issue more easily?

[2022-08-18 09:33] rundongmsft commented on #2543
Hi @4tti, thanks for your video. I noticed that you used the add-in "Infor" to trigger this issue and Vit gave the feedback. I once handled another issue from "Infor" for Vit, and we successfully reproduced and located that issue in the environment he provided. Since I still couldn't reproduce this issue in my environment, could you please also provide me your environment?

[2022-08-18 11:01] ghost commented on #2697
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-18 11:01] #2697 closed, assigned to JinghuiMS

[2022-08-18 11:56] tj-aew commented on #2770
@jipinshi - Thanks again. I've tried reassigning `formulas` and changing `values` without luck (see example below). Could you update the ScriptLab snippet showing how you got it working, or just post the code you used? (Note again that it's the `AutomaticExceptTables` value that is unreliable, so important to test with that.) Thanks.

[code]

[2022-08-18 12:00] Uttam-Gupta opened #2780 "MS Powerpoint Addin : Insert Slide from Base 64 Powerpoint addin API does not carry over the original formatting of the slide"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  PC Desktop
* Host [Excel, Word, PowerPoint, etc

[2022-08-18 12:17] jipinshi commented on #2770
@tj-aew , here is the script I used, before run the script, change the mode from options->formular in win32, first change to manual, run the script, it shows manual, then change to AutomaticExceptTables, run the script, it shows AutomaticExceptTables.

    context.workbook.getActiveCell().values=[["sss"]];
    context.workbook.save();
    await context.sync();
   context.workbook.application.load(

[2022-08-18 12:21] tj-aew commented on #2770
@jipinshi - Wow, fast reply! Thanks for the workaround! (Works at this end too, I was missing the `save` call.)

[2022-08-18 14:44] cut2run commented on #2753
I am not sure what is going on over there, maybe @exextoc is on vacation or something, would it be appropriate to as someone else to look at the issue, don't you think @Wenjun-Gong ? Yet another 2 days nothing going on. For example the last Outlook related tickets are taken by @JuaneloJuanelo and I know he is a very experienced developer and definitely able to crack the case in an hour or two. Wou

[2022-08-18 16:01] yuanagain opened #2781 "Hosted Excel Add-In does not run custom functions"
Custom functions run when hosted locally, but do not run in the add-in when content is built and hosted.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 16.64
* Operating System: OS X 12.4

## Expected behavior

I expected to have the same functionality regardless of host. In particular, formula

[2022-08-18 21:54] wh1t3cAt1k commented on #269
@lliu113 @lindalu-MSFT I am still reproing that on large Excel files in Excel Online.

![image](https://user-images.githubusercontent.com/5159662/185501900-2b7fde99-1b3b-4095-884a-a5525a02a43a.png)

[2022-08-18 21:55] wh1t3cAt1k commented on #1278
![image](https://user-images.githubusercontent.com/5159662/185502011-3975b605-8eb5-4a71-a5f6-2a5e5301b5ac.png)

@lliu113 I am still seeing this in Excel Online on very large files (>40k custom functions) with our add-in by clicking on the ribbon button multiple times during the load process.

[2022-08-18 21:56] wh1t3cAt1k commented on #1278
@keyur32 @lindalu-MSFT I suggest to reopen this and investigate in more depth, this has been sporadically affecting us for over a year and the clients are really unhappy.

[2022-08-18 22:03] samantharamon commented on #2766
Thanks, @claell. I've added @JuaneloJuanelo to this post for visibility. When you get a chance, could you provide us with more detail about your scenario for getting and selecting user signatures from Outlook?

[2022-08-18 22:33] ElizabethSamuel-MSFT commented on #269
@wh1t3cAt1k Thanks for the update. However, this issue is pretty old so can you open a new issue so we can start a fresh investigation?

Thanks.

[2022-08-18 23:40] pvsleeper opened #2782 "A11y focus problems when running plugin in Excel Web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

There appears to be a couple of focus related A11y issues when running a plugin via Excel web.

1. When pressing the ESC key while focus is on any input, the focus jumps to the first

[2022-08-19 03:32] lindalu-MSFT commented on #1278
Hi @wh1t3cAt1k Pavel, I'm "just" the editor and not the subject matter expert. I can, however, reopen this and ping @keyur32 as well as other Excel people who might be able to help. @yaweizhu-henson @JinghuiMS

[2022-08-19 03:40] lindalu-MSFT commented on #1278
@wh1t3cAt1k Pavel, have you created a bug report from within the Excel application you're using? For example, in Excel on the web, go to Help > Feedback > I don't like something (aka "send a frown")
<img width="163" alt="image" src="https://user-images.githubusercontent.com/30682803/185537904-ad6ed7b6-d3b0-4b68-aa3b-99a2d1d5239e.png">

[2022-08-19 05:32] david-ps commented on #2610
@JHJ-MS thanks for the update and confirmation of the scenario gap: _Users **always** prompted to install included Add-in_

Responses to your instructions:

_>> A:  Yes, we do this already, does not address scenario_

_>> A: Yes, we do this already, does not address scenario_

I made these suggestions initially (see first post):

1. Extend [OoxmlCoercion](https://docs.microsoft.com/en-us/javascrip

[2022-08-19 09:01] ghost commented on #2772
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-19 09:22] exextoc commented on #2753
@cut2run , sorry about the delay. We are investigating this issue and will get back to you at the earliest.

[2022-08-19 09:24] exextoc commented on #2707
Hey @Iso5786 , I think there's a bit of confusion in understanding this issue. Can you share any public documentation available to attempt what you're doing (opening an intent link from an URL), so that we can investigate further.

[2022-08-19 09:27] Amulyakr opened #2783 "Im trying to automatically show taskpane on opening document.I followed https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document. But its not working as expected. On opening document taskpane is not opening."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.64
* Operating System: Bigsur

 ## Steps

In manifest.xml
Action xsi:type="ShowTaskpane">
            <TaskpaneId>Office.AutoShowTaskpaneWithDocument</TaskpaneId>
            <SourceLocati

[2022-08-19 09:42] danielpdev opened #2784 "Ribbon button images are not loaded"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

I have an issue with the images that I use for the buttons in the ribbon which are not being loaded.
I tried to return Cache-control: public, but still no way to fix it.
This are

[2022-08-19 09:47] Iso5786 commented on #2707
1. We develop an Outlook office-js addon to encrypt emails.
2. Within the addon we start an IRMA session (https://github.com/encryption4all/postguard-outlook-addon/blob/519bbbdc00e446776d4bf80765c505b12c950fba/src/decryptdialog/decrypt.ts#L350).
3. The IRMA session is handled by the IRMA frontend packages (https://github.com/privacybydesign/irma-frontend-packages)
4. The IRMA packages generate eit

[2022-08-19 10:24] JinghuiMS commented on #2784
Thanks for reaching us. Can I know which App(Word, PPT, Excel) and platform(Desktop, Excel Online, Mac or iOS) you are seeing this error? If you can provide a repro video, that will be helpful for us to better understand your scenario.

[2022-08-19 10:56] exextoc commented on #2707
Thanks @Iso5786 ,

What I meant was, is there a public documentation about how "intent://qr/json" type links are supposed to work inside of Android, and how they are handled?

[2022-08-19 11:01] ghost commented on #2761
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-19 11:01] #2761 closed, assigned to jipyua, JinghuiMS

[2022-08-19 11:05] wh1t3cAt1k commented on #1278
@lindalu-MSFT I believe I did, but not sure anymore :)

Yes please reopen since it's reproducible and has severity, at the same time it's a heisenbug which we see only sporadically and more rare than in the past.

Can you guys do a code review to understand the code paths where this can happen?

We also use auto open behaviour, most of the time we see two taskpane threads when the file is huge and

[2022-08-19 11:08] Avneet711 commented on #2543
I am facing this issue too - as soon as I click on the add-in in the task pane, undo history is cleared and undo doesn't work anymore.
Platform: Windows
Version: Microsoft® Excel® for Microsoft 365 MSO (16.0.14326.20782) 64-bit
Operating System: Windows 10

[2022-08-19 11:10] #2764 closed, assigned to JuaneloJuanelo

[2022-08-19 11:13] exextoc commented on #2760
Hey all,

Is this occuring for all add-ins, or is there a specific add-in which it's not working for? What exactly do you mean by add-ins Modal? Do you mean a taskpane or an add-ins dialog? Could you share a screenshot(s) of your issue to understand further?

[2022-08-19 11:15] exextoc commented on #2760
I see that this issue has been referenced in this stackoverflow post: https://stackoverflow.com/questions/73252824/custom-outlook-add-in-not-opening-from-more-apps-popup

Is this the exact same issue that is being talked about here?

[2022-08-19 11:18] amiram commented on #2760
The addins that installed by outlook are working. Our addin isn't. Until a
few days ago only the local developed addin wasn't working. Now the one we
publish for QA (in s3) is also not working. There is a button to open the
get addins dialog in order to add or remove an addin. This is also not
working. Nothing is showing up so I can't upload a screenshot of nothing.
Microsoft support found a worka

[2022-08-19 11:20] amiram commented on #2760
It looks similar

[2022-08-19 11:34] exextoc commented on #2760
Can you share a screenshot of the console logs you get when you click "Get Add-ins" button? The issue we are aware of currently is happening only for Add-ins that have a Menu element in them, like the one referenced in this stack overflow post: https://stackoverflow.com/questions/73170162/add-ins-with-ribbon-menus-cannot-open-from-the-more-add-ins-menu-in-the-outloo

Does your add-in have a Menu e

[2022-08-19 11:39] BCRaveD commented on #2163
We are experiencing the same issue with our add-in when using Office on the web.

We are using setSignatureAsync(), and it can be event driven (depending on settings).
For example, when a new message is composed, it will update or insert a signature for the user if required.
The signature may update with subsequent changes to the message recipients or subject etc, if set to do so.
Both move focus

[2022-08-19 11:39] dariocar1990 commented on #2543
Any progress on this?

[2022-08-19 11:40] mork-the-destroyer commented on #2543
I have the same issue, any progress on this?

[2022-08-19 11:50] jspthesixth commented on #2543
Facing this issue as well.
Version: Microsoft® Excel® 16.64
Operating System: macOS Ventura v13.0

[2022-08-19 11:53] exextoc commented on #2751
Hey @Premsagar-lab , we are able to reproduce this issue, and are working on it. This issue occurs when the location is left unresolved- it should not happen when the location is resolved correctly. Nonetheless, we are working on fixing it. However, there are no timelines we can share at this point.

[2022-08-19 12:09] amiram commented on #2760
We have two buttons on the ribbon. Here is the console screenshot. I can share the manifest in private.

![image](https://user-images.githubusercontent.com/1693597/185615266-5ae4f3df-2157-40c8-90f1-9b60f2605b14.png)

[2022-08-19 12:46] exextoc commented on #2760
Can you please share your add-in at OutlookAddins@M365x693897.onmicrosoft.com ? also, are you using Outlook live, or an account on Office365 cloud? Or are you on some other environment like OnPrem?

[2022-08-19 12:50] dpopaext commented on #2784
Hi,

It is on powerpoint and it happens on windows server.
I tried to clear cache. Delete addin cache. Nothing works.
Just open the addin with office-addin-debugging and the problem is there. Howerver, same addin works on windows 10 pro or windows 10 arm beta

[2022-08-19 13:15] amiram commented on #2760
Addin sent to the email address. We are using only Office 365 accounts with Exchange online hosted by Microsoft. No OnPrem since we are using Microsoft Graph.

[2022-08-19 13:16] claell commented on #2766
Thanks, @samantharamon. ~I have explained a scenario where I need this functionality for in #2767.~ Basically, the current use case I am thinking of is creating an Add-in that can force the reply to use HTML format and also then uses the HTML standard signature. ~See the referenced issue for more details on it.~

That also involves changing the signature back to the HTML one after changing the bod

[2022-08-19 13:24] exextoc commented on #2753
Hey all, thanks for your patience. We are able to consistently reproduce this issue thanks to your reproduction steps. We have added this fix to our backlog. However, there are no timelines to share at this point.

Internal tracking ID: 168397

[2022-08-19 13:30] exextoc commented on #2358
Keeping this as closed as it has been diverted back to the techcommunity page.

[2022-08-19 13:50] wh1t3cAt1k commented on #2776
Just had another crash on a Mac. I feel like this is really severe.

It may be our personal data point, but after so many years of development, I still often find the framework not as good as the COM-based solution; maybe it's the combination of various delivery modes (AppSource/admin delivery/development insertion) and Office.js that doesn't work out well, maybe it's the XLL compatibility mode th

[2022-08-19 17:41] somenathmaji opened #2785 "User is getting logged out from the outlook addin in iOS"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: iOS
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 4.2230
* Operating System: iOS 15.6
* Browser (if using Office on the web): N/A

## Expected behavior
The user shouldn't get logged out after closing the outlook app.

## Current behavior

[2022-08-19 17:53] Iso5786 commented on #2707
This is the official Android documentation: https://developer.android.com/guide/components/intents-filters

[2022-08-20 18:01] ghost commented on #2679
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-21 01:26] ANHPearce commented on #2679
@JuaneloJuanelo

The scenario in question is just adding users to the required attendees list without having to check for duplicates. The operation would be getRecipients --> Add an email address --> setRecipients.

There should be no need to check that something not being asked to be added to the list is being added.

Please read ticket above again and test for yourself. The entity being added in

[2022-08-21 18:01] ghost commented on #2736
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-22 00:39] JinghuiMS commented on #2784
Route to the owner team to better handle it.

[2022-08-22 01:07] JinghuiMS commented on #2782
Thanks for reporting this issue. It has been put on our backlog<Bug#6445750> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-22 04:03] exextoc commented on #2707
Hey @Iso5786 , from what we can see, this documentation provides instructions on how to invoke intent from within the app. Can you share any documentation about opening an intent URL from the browser or a WebView and what is the expected behaviour?

[2022-08-22 06:30] GavinGu07 commented on #2778
Currently the feature: **_open word document from a file path_**, you requested, is not a part of the product. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum]( https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests on are considered when we go through our planning process.

Thanks,
Microsoft 365 Developer Platform team ​

[2022-08-22 06:45] exextoc commented on #2163
Thank you for reporting this issue of cursor movement. It is in our backlog. We unfortunately have no timelines to share at this point.
Internal tracking ID- 131538

[2022-08-22 08:39] GavinGu07 commented on #2783
Thanks @Amulyakr for reaching us.
Task panes can't be automatically opened in new documents. You can launch your add-in to see the task pane and save the document. Then reopen the document, and you may see the auto-open task pane.

[2022-08-22 08:43] JHJ-MS commented on #2781
Hi @yuanagain , here is troubleshooting guidance for dealing with #BUSY error,
[troubleshooting guidance ](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-troubleshooting)

Besides, could you please have a try:
1. Does the hosted Excel Addin-in work if it do not contain Custom Functions?
2. Does any JS API call in your hosted Excel Addin works?

[2022-08-22 09:28] honxmsft commented on #2774
Can you provide the script to create this file template? Or can you provide a minimal script to repro this situation?

[2022-08-22 09:38] JinghuiMS commented on #2776
Thanks for reporting this issue. It has been put on our backlog<Bug#6463394> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-22 11:01] ghost commented on #2772
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-22 11:01] #2772 closed, assigned to JinghuiMS

[2022-08-22 11:13] benjamin-almarza commented on #2577
Hi, any progress on this issue

[2022-08-22 13:06] milankonir commented on #2750
@exextoc The full network log contains PII / tokens which is not something that is possible to post into a public issue tracker.  I can anonymise failing `ExecuteEwsProxy` request, are there any request information (e.g. cookies / ids) that would be important to share?

[2022-08-22 13:43] maleta commented on #2543
Hi @rundongmsft, thanks for the reply. Can you specify on what OS you tried to reproduce the bug?

I am afraid that the steps to reproduce cannot be more straightforward than I already said. The UNDO stack is cleared as soon as I use a custom function from the official recommended generator's default addin. (macOS)

[2022-08-22 15:46] praveenbattula commented on #2754
I have updated original post with additional things I have found by enabling logging. Please verify new code and image added.

Also, I have got new version of office installed on my laptop for testing. The new version is "Microsoft® PowerPoint® for Microsoft 365 MSO (Version 2202 Build 16.0.14931.20648) 32-bit" - Semi annual enterprise channel. Can someone throw some ideas or ways to fix it as it

[2022-08-22 16:29] yuanagain commented on #2781
Hi @JHJ-MS, I believe I've used the steps the docs suggest for debugging custom functions running in the shared runtime; I've confirmed that `functions.json`; see below and above. There are simply no logs (from the custom functions).

To answer your questions:

1) The non-custom function features (i.e. the taskpane) work just fine.
2) Yes; the taskpane is able to read the selected range and modify

[2022-08-22 16:32] tj-aew commented on #848
How is this different to [the previous version of this issue](https://github.com/OfficeDev/office-js/issues/2242) raised four days earlier? Shouldn't they be combined?

[2022-08-22 17:50] YasharHeydari commented on #2543
Attached is my experience with Custom functions in Repo, I've followed the the same steps to reproduce the issue and in Custom Function Runtime, opening the task pane will clear the undo stack. When using the Shared runtime, the Undo stack is cleared in each function call as stated in the initial message.

[2022-08-19 14-19-57.zip](https://github.com/OfficeDev/office-js/files/9396498/2022-08-19.14

[2022-08-22 18:01] ghost commented on #2768
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-22 21:57] majoy commented on #2774
Hi @honxmsft,

Here are the repro steps:

1. Open the following xlsx file in Excel Web:
[happy-path-report.xlsx](https://github.com/OfficeDev/office-js/files/9397835/happy-path-report.xlsx)
2. Open Script Labs, click Import, and paste the following url to the yaml file
https://gist.github.com/majoy/c148eb7d9f6a80183e25e811c715660d#file-missing-border-excel-yaml
3. Click Import to import the yaml f

[2022-08-22 22:08] majoy commented on #2774
@honxmsft if you have trouble importing the yaml file in Excel web the workaround, once you open the happy-path-report.xlsx file, is to:
1. Open Script Labs,
2. Click the New Snippet button
3. Replace js with the following script
[gist-script](https://gist.github.com/majoy/8681036bbd4788c74bbebfe3da63f3d8)

[2022-08-23 00:39] samantharamon commented on #4622
Thank you for your patience, @CameronDwyer. We're still looking into providing an alternative approach to using a REST token, but I wanted to provide an update on the decommission as a whole. Please be advised that active add-ins that use the REST service will be granted an exemption to keep using the service until extended support ends for Outlook 2019 on October 14, 2025. This includes new add-i

[2022-08-23 01:54] david-ps commented on #2610
@JHJ-MS with regard to my suggestion to Extend [OoxmlCoercion](https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/office-add-in-requirement-sets?view=common-js-preview&irgwc=1&OCID=AID2200057_aff_7815_1243925&tduid=(ir__vldi9j3htokf6numxvgw0cx1fe2xvzvakanikzm900)(7815)(1243925)(je6NUbpObpQ-1NhT.kkKrquj7YwXAsY7QA)()&irclickid=_vldi9j3htokf6numxvgw0cx1fe2xvzvakanikzm900#ooxmlcoe

[2022-08-23 04:26] exextoc commented on #2750
@milankonir Please share the repro video.

[2022-08-23 07:07] exextoc commented on #2760
@amiram Unfortunately, the previous account is down, and your email could not be accessed. Please share the add-in again on OutlookExtensibility@M365x27035562.onmicrosoft.com . Apologies for any inconvenience caused.

[2022-08-23 08:28] JHJ-MS commented on #2781
Hi @yuanagain, from your screenshot, the functions.js has been downloaded successfully but the functions.json hasn't been downloaded. This is strange because both of them should be downloaded.

1. Could you check whether your Shared Runtime config is correct following this [doc](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime)?
2. Could you

[2022-08-23 09:12] rundongmsft commented on #2543
OK, I think I figured out what was going on. There are two issues of undo, after CF was calculated.
1. Undo unavailable in MacOS.
2. Undo unavailable in Windows.

For MacOS, I have reproduced it and found the undo was set as disabled **as long as** CF was calculated. @maleta's repro works. Notice that this behavior is different from how undo behaves in Windows. In Windows, sometimes undo is still

[2022-08-23 09:43] wh1t3cAt1k opened #2786 "Large matrix dataset infinitely stuck at #BUSY in Excel for the Web"
Returning a large dataset from a custom function makes the function infinitely stuck at #BUSY.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **Office on the Web**
* Host [Excel, Word, PowerPoint, etc.]: **Excel**
* Office version number: latest
* Operating System: Windows
* Browser (if using Office on the web): Chrome latest

## Expected behaviour

The dataset returns

[2022-08-23 11:02] derpylz commented on #2662
Any news on this? Thanks!

[2022-08-23 11:19] Sayan751 commented on #888
Is there at least any workaround for this?

[2022-08-23 12:12] KLate91 opened #2787 "add-in DisplayName font size, section height changes in taskpane and dialog box."
We are developing an add-in to encrypt and decrypt mails.

When the taskpane is opened, **DisplayName** (in manifest) content's size is fixed and we can't modify it like we do in add-in's manifest to change the taskpane **DesktopSettings** properties.

We have already checked all the documentation related to manifest and office-js but didn't see any way to handle the height of **DisplayName** cont

[2022-08-23 13:45] kyle-apex commented on #2558
@PradeeshKS1 I did not see a post about selecting multiple ranges, so I created the following and would appreciate upvotes from anyone else who would like to see this feature.  Thanks!

https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/select-multiple-discontiguous-cells-ranges-rangeareas-in-excel/idi-p/3607100

[2022-08-23 13:52] airwangyun commented on #2577
@benjamin-almarza Thanks for asking. This is in our backlog, we'll update this entry once we have progress.

[2022-08-23 14:55] maleta commented on #2543
@rundongmsft Not only **as long as** it is calculated but as soon as you use custom function and it returns the value, you are no longer available to UNDO edits from Worksheet that has been done before using any custom function.
So from my [steps to reproduce](https://github.com/OfficeDev/office-js/issues/2543#issuecomment-1199274794) after step  6. you cannot UNDO edits from step 4.

[2022-08-23 15:15] teejay001 opened #2788 "Inserted shapes not reflected in body of message nor returned as an attachment."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC, Office on the Web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2207
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome

## Expected behavior

The inserted shapes should be returned within the body o

[2022-08-23 18:09] carlosb1504 opened #2789 "Setting MAPI Extended Properties on an outgoing message using office-js"
We have a use case whereby a third party mailflow middleware mandates us setting a collection of MAPI Extended properties over which we have little control. We currently do a Graph API PATCH Operation upon the message during an `ItemSend` event handler in order to achieve this, before allowing the message to be sent.

This works fine in an add-in when run in OWA and we can observe the MAPI Extende

[2022-08-23 18:17] sashakar opened #2790 "PowerPoint - Manage pane layout does not work in web version of PPT"
I would expect that in the web version of PowerPoint 365, I would be able to manage pane layout such as moving or resizing task panes the same way I could in the desktop version of PowerPoint. However I am unable to resize the task pane in the web.

## Expected Behavior

I would expect to be able to resize the PPT task pane in web because 1) I can resize the task pane of PPT in the desktop version

[2022-08-23 18:44] jackdawHome opened #2791 "Message Internet headers set in one outlook client are not available in the another client in the draft folder."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows, Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Microsoft® Outlook® 2019 MSO (Version 2110 Build 16.0.14527.20234) 32-bit
* Operating System: Windows 10 Pro version is 21H2, OS build 19044.1469
* Browser (if using

[2022-08-23 19:01] wbecker opened #2792 "Word: paragraph.insertBreak adds break in the next paragraph, not the current one"
When I use paragraph.insertBreak("Line", "After"), I expect it to work as it would if I clicked shift+enter. This adds a new line at the end of the current paragraph. However, when the paragraph is in a numbered list, it adds it to the next one. It is important that it adds it to the end of the current one so that I can put something before the next list item.

## Expected Behavior
When I use para

[2022-08-24 06:19] JHJ-MS commented on #2777
Hi @wh1t3cAt1k ,

**1.** The following steps you mentioned to update a Custom Functions Addin are exactly what we suggested.

**2.** Regarding to these two questions:

Yes, Excel would respect them.

It will fetch the latest JSON metadata file and Js file according to the latest manifest.

**3.** Regarding this issue:

Only the manifest updated will cause the "A newer version of the add-in is avai

[2022-08-24 06:21] exextoc commented on #2760
@amiram  The issue is not reproducible using the add-in shared by you. Can please you confirm if issue is still there. If it is there, does get add-ins issue happen for the main window or a popped-out window? Does Local developed add-in issue happens in all surfaces or one of read or compose surface?

[2022-08-24 07:01] JHJ-MS commented on #2610
Hi @david-ps , would you mind provide your email address for us through this [link](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRys0ic_JgUxHqv5klOpzrpNURVM2NDBZNkFVMVJXSE0ySUFCN1YyOE5GQi4u)  for more further discussion?

[2022-08-24 07:04] david-ps commented on #2610
@JHJ-MS Unable to provide email with your link "You don't have permission to view or respond to this form"

[2022-08-24 07:32] JHJ-MS commented on #2610
Hi @david-ps ,  I have just changed the form's config, would you please try again?

[2022-08-24 07:40] xuruiyao-msft commented on #2792
@wbecker I think it is by design and not a issue.

The paragraph.insertBreak("Line", "After") always inserts the line break after the paragraph no matter if there're list number or not.
The  carriage return and the line feed  also belongs to the paragraph. We call it "eop" i.e. end of paragraph. The parameter "after" means that the line break is outside of the first paragraph, so the "\u000b" is

[2022-08-24 07:49] nikitamittal2501 commented on #2787
Hi @KLate91 Thank you for for connecting with us. GitHub issues are for reporting potential bugs or errors in our documentation. In this case, you can share your question on Stack Overflow and tag it with office-js.

https://stackoverflow.com/questions/tagged/office-js

Thank you.

[2022-08-24 07:49] #2787 closed, assigned to nobody

[2022-08-24 07:54] wbecker commented on #2792
Thanks @ahegongzhu - I don't think a user would ever want to add a line break at the start of the next paragraph, as opposed to within the current one! I understand that it doesn't necessarily fit the definition of "after".

I have worked around this by adding a "\u000b" to the end of the paragraph instead.

[2022-08-24 08:30] repl-mohan-krishna commented on #2034
![Screenshot (140)](https://user-images.githubusercontent.com/86103151/186369916-9d88841a-24ae-4dac-b82e-c54f67c14cfe.png)
it is not working properly in web version of outlook email(outlook.office.com)
is there any workaround for this?? @jargil @exextoc

[2022-08-24 08:42] repl-mohan-krishna opened #2793 "OSF.DDA.Error 5001 when calling Office.auth.getAccessToken() on Outlook Email web"
We are developing Taskpane add-in for outlook email. when we calling getAccesToken method, sometimes i'm getting 5001 error.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: outlook
* Office version number: ______
* Operating System: windows 10
* Browser (if using Office on the web): chrome

## Expected behavior
O

[2022-08-24 09:11] sboudouk commented on #1184
It is not fixed at all.

Using either `fetch` or `XMLHttpRequest` which both have default timeout set to 0 (no timeout) will timeout within 60 seconds. Excel is doing something under the hood that create this behaviour.

I don't know if it is intended or not but judging by maintainers comments I'd say no.

The consistent and simple workaround is to set manually your HTTP Client Timeout to somethin

[2022-08-24 09:29] JunielKatarn commented on #1184
@sboudouk can you please share the Office/Excel version you are using?

See https://support.microsoft.com/en-us/office/about-office-what-version-of-office-am-i-using-932788b8-a3ce-44bf-bb09-e334518b8b19

[2022-08-24 09:56] sboudouk commented on #1184
Sure.

Excel for Mac with a 365 subscription, version 16.64 (22081401)

Similar behaviour can be observed on latest versions of Windows / Office 365 Web.

To reproduce, just setup any server that answer after 60s + and request it from a shared runtime custom function through `fetch` or `XMLHtttpRequest`. I can share my very basic Express server that I use for test if needed.

[2022-08-24 10:49] exextoc commented on #2793
Can you confirm if there's any dialog already open through the addin while calling getAccessToken?

[2022-08-24 11:08] repl-mohan-krishna commented on #2793
No. pre authorization already done by admin through Microsoft 365 admin center. it won't show any dialog while calling getAccesToken method

[2022-08-24 11:13] milankonir commented on #2750
@exextoc We have got back in touch with the customer and they claim that they cannot consistently reproduce anymore. We can keep this closed and we will get back in touch if anything changes.

Thank you for the support.

[2022-08-24 12:01] wangyun-microsoft commented on #2577
Hi @benjamin-almarza, thanks for asking. We don't have a plan to fix this issue in the short term. However, can you let me know what is your use case here?

[2022-08-24 15:24] wbecker opened #2794 "When I try to delete inline pictures that I have added (via the addin), Word doesn't delete them all."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

* Operating System: Office on web
* Browser (if using Office on the web): Firefox

## Expected behavior
I am adding images under paragraphs to alert the user of problems. I may someti

[2022-08-24 15:25] wbecker commented on #2794
I will try deleting images from document.body.paragraphs.items[x].inlinePictures instead as a work around.

[2022-08-24 15:34] wh1t3cAt1k commented on #2777
@JHJ-MS thanks for the clarifications. This just in, however, could you guys check just in case?:

We have updated the bundle (and the metadata JSON file) because MS provides a new TEXTSPLIT function, and we had another one with the same name, but different signature.

So, we renamed the function to TEXTSPLIT -> VXTEXTSPLIT and updated the JSON + JS bundle without resubmitting the manifest.

The r

[2022-08-24 15:46] wbecker commented on #2794
I have tried doing the same on a per paragraph basis:

[code]

I note that it has the same problem (only a single paragraph is deleted at once) however, paragraph.inlinePictures is updated to reflect the actual amount of inlinePictures, so this function can be called multiple times until there are no inlinePictures left to remove. Not a perfect solution, but will work for the time being!

[2022-08-24 19:03] AhmadSukkar98 opened #2795 "Coloring the font of a selection Range is coloring all the paragraph in word Add-in"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected behavior
When we color the font of a selection range only the selected range is colored and nothing else.

## Current behavior
coloring the font of a selection range will

[2022-08-24 20:01] ghost commented on #2736
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-24 20:01] #2736 closed, assigned to exextoc

[2022-08-24 22:25] JuaneloJuanelo commented on #2679
@ANHPearce ;

I understand your problem description, but I was confused because on the "steps to reproduce" section above the code in the post is inconsistent with the code in the screenshot: In one you are using the required recipients list and in other from the optional list.

Anyways, the root cause of this problem is that in the Win32 implementation of the API we return the Organizer as a requ

[2022-08-24 22:25] #2679 closed, assigned to JuaneloJuanelo

[2022-08-24 22:46] JuaneloJuanelo commented on #2740
Nothing further to add on this thread. We ahve a follow up on adjusting this functionality upon support of shared mailboxes in OWA.

[2022-08-24 22:46] #2740 closed, assigned to exextoc

[2022-08-25 00:05] omarenri29 opened #2809 "InsertWorksheetOptions method inserting relative path to existing workbook formulas"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

[Enter feedback here]
Hello,

I´m using insertWorksheetsFromBase64 method in an Excel Add-in to import an existing workbook to a new workbook, but when I do this, formulas from existi

[2022-08-25 03:20] JunielKatarn commented on #1184
I drove the Windows implementation only.
Office uses React Native for its JS framework.
The macOS version of the HTTP module is completely separate from the Windows one.

I'll reach out to the team owning the macOS variant.

If you also notice this on Windows, would you kindly also obtain that version number?
I'll try to reproduce this behavior on my end.

[2022-08-25 03:28] honxmsft commented on #2774
@majoy We have created an internal bug 6505755 to track this issue.

For this scenario, you can call border API manually to workaround

[code]

[2022-08-25 04:15] repl-kannan-d commented on #2769
Hi @JuaneloJuanelo , Any updates on this?

[2022-08-25 05:20] exextoc commented on #2760
The add-in has a submenu, this is a known issue which is fixed now. Please mention if it still happens
The get addins not working in popout is a known issue in our backlog. But unfortunately we donot have any timelines to share at this point.

Internal tracking id - 165664

[2022-08-25 06:04] plamenbotev commented on #2740
@JuaneloJuanelo Yes, I think that we have a clear idea how to proceed.
Thank you. :)

[2022-08-25 07:14] sboudouk commented on #1184
Same issue on Windows, Microsoft 365 MSO Version 2207 Build 16.015427.20182 64-bit

[2022-08-25 07:39] xuruiyao-msft commented on #2792
@wbecker There's another way to achieve your goal.
Try this piece of code:

const par = context.document.body.paragraphs.getFirst();
    let range = par.getRange('End');
    range.insertBreak("Line", "Before");

    await context.sync();

It will add the line break at the end of the first paragraph and still belongs to the first paragraph.

[2022-08-25 09:12] exextoc commented on #2793
Can you share a code snippet where you are calling getAccessToken?

[2022-08-25 11:01] repl-mohan-krishna commented on #2793
![image](https://user-images.githubusercontent.com/86103151/186648052-1ac54c9f-c437-403b-a53e-8d6b0f8f9bda.png)

Both values (allowSignIn,allowConsent ) are false always as user is already preauthorized at admin center((https://admin.microsoft.com).

[2022-08-25 13:46] ghost opened #2796 "[ppt] retrieve text while editing the content of a textbox"
Hello

In powerpoint:
- when I click on a textbox, I am able to retrieve the text content of it with the code_1. This is the output I get:

- however when I click inside the text box (to edit the text), the same code_1 gives me an empty value.  This is the output I get:

Is there a way to retrieve the text content of a text box while editing its content ?
Thanks

code_1 is:

      Office.CoercionT

[2022-08-25 14:33] JensMadsen opened #2797 "document.changeTrackingMode does not work on Word Windows. document.load not registered"
When I use document.changeTrackingMode I get the "PropertyNotLoaded" error. This error is only seen in the windows Desktop app and not reproduced in Word Online. I have a gist which reproduces the error here: https://gist.github.com/JensMadsen/39bc5a9332941468ef3ebbb92a538a31

This is seen in Scriptlab as well. This problem influences our customers. Reason being that some of the range intersection

[2022-08-25 15:04] somenathmaji commented on #2735
Hi Team, could you please look into this?

[2022-08-25 16:38] AlexJerabek commented on #2809
Hi @omarenri29,

Thanks for reporting this. @alison-mk, could you please investigate?

[2022-08-25 18:49] gianluca-venturini opened #2798 "Outlook Addin button not working on OWA when email matches contextual string"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook web
* Office version number: Current Office on the web
* Operating System: Mac OSX
* Browser (if using Office on the web): Chrome

## Expected behavior
- I created an addin that activates in the foll

[2022-08-25 18:58] JuaneloJuanelo commented on #2769
we are investigating, but quick question for you, is this issue only happening in OUtlook for the Web?  i wonder if it repros in Windows and Mac?

[2022-08-25 19:07] JuaneloJuanelo commented on #2731
@DmitryKostochko  we have seen reports about this and we identified a root cause for this and we rolled out a fix.
btw i wonder why you have not installed the latest update for windows?  (also are you in the Monthly Enterprise Channel(MEC)? or what licensing you have? just to make sure you are getting this fix. (might be delayed a bit in the MEC)

btw the latest update is build 16.0.15427.20210

[2022-08-25 20:01] ghost commented on #2768
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-25 20:01] #2768 closed, assigned to JuaneloJuanelo

[2022-08-25 20:13] ThangaSperumal commented on #2758
Not sure this issue is on hold as I don't see any activity for more than 16 days. Do I need to log a new issue for this ticket? Please provide some update.

[2022-08-25 21:03] ghost opened #2799 "[ppt] retrieve shapes data points"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello
Is it possible to retrieve the data points that create a shape?
Thanks
Jonathan

For example, if I create a new rectangle shape, I would like to retrieve the four data points th

[2022-08-25 21:11] ghost commented on #2799
I see an object m_trackedObjects. is it of any interest ?

[2022-08-25 21:23] ghost commented on #2799
I also see shape['m_context']['_customData'] but it is only a string whose value is IterativeExecutor...

[2022-08-26 01:46] JunielKatarn commented on #1184
This version contains the fix that makes the low-level HTTP client timeout configurable, with a value of `0` meaning not timeout.
But, we have found a hard-coded 60 second timeout for CORS preflight requests (not the actual final request).
However, this would not behave as you described (the manual timeout would not override this value):

We verified the lower-level components' timeout behavior, a

[2022-08-26 06:41] JinghuiMS commented on #2796
Thanks for reaching us.
GetSelectedDataAsync API is for getting the data contained in the **current selection** in the document. If you select the textbox, it will return the whole content of textbox. If you click into textbox, your current selection is a cursor, so it will return an empty value. You can select the text you need first, then call getSelectedDataAsync API to unblock your self. You c

[2022-08-26 07:14] JinghuiMS commented on #2797
@JensMadsen Thanks for reaching us.
Regarding tracking change related APIs had been released on Word online, we will support it on Word Rich Client in the upcoming release. Meanwhile, you can try to update your office version to latest, you may access to these new APIs in advance.

[2022-08-26 07:39] JensMadsen commented on #2797
@JinghuiMS Thank you for the swift response. I did not know about online-only requirement sets. I read 1.1. Sorry. Our addin crashes when track changes is enabled due to range intersection operations (I think). Is there any other way to detect that track changes is enabled in Word Windows Desktop?

[2022-08-26 07:41] exextoc commented on #2798
Thanks for reporting this issue. We have put it in our backlog. Unfortunately, we don't have any timelines to share at this point. Internal tracking id: 169197

[2022-08-26 08:37] exextoc commented on #2785
Hey, we are unable to reproduce this issue. Anything written to localStorage should persist across sessions on Outlook. Can you share a manifest for your add-in if your add-in is publicly hosted so that we can investigate further? Otherwise you can try setting a simple value to localStorage from your add-in and see if it persists across Outlook sessions and report if you can still see the issue.

[2022-08-26 08:38] maartendebal commented on #2681
Hi all,

Any news on this. Do you think this will get fixed?
If not, this poses a risk to our project so I would like to now.

Thank you very much.
Kind regards,

[2022-08-26 08:41] maartendebal commented on #1442
Any news on this issue?

[2022-08-26 08:47] DmitryKostochko commented on #2731
@JuaneloJuanelo, thank you.

I have Windows 10 Pro and don't know the exact reason why the 21H2 update has not come to my machine yet, probably it will arrive later.

I already have this update installed.

Please specify - in which update did you include the fix?

[2022-08-26 08:47] exextoc commented on #1442
Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue in the short term as this is by design. Please wait for save as draft feature or you can create a new [Tech Community](http://aka.ms/M365dev-suggestions) item, this will give us visibility of the commonality of it and will help with our prioritization. If we end up working on this issue we will

[2022-08-26 09:07] JinghuiMS commented on #2799
Add @ononder expert on PPT JS API to better handle it.

[2022-08-26 10:15] exextoc commented on #2793
We have not been able to reproduce the issue with the given snippet. Can you share a manifest and test credentials for your add-in to OutlookExtensibility@M365x27035562.onmicrosoft.com if your add-in is publicly hosted so that we can investigate further?

[2022-08-26 10:49] sboudouk commented on #1184
Thanks, great actions. I'm sure this will help the next ones facing this issue.

[2022-08-26 12:17] egloff commented on #2291
Same for us, hope this will be addressed soon...

[2022-08-26 13:27] ghost commented on #2796
hello great,
that is a good tip.
would it be possible, when you are inside the selection, to retrieve the parent shape (to retrieve the text in this parent ship) ?
thanks

[2022-08-26 14:07] mikeappell opened #2800 "Different behavior in OfficeJs (Word) on search/replace between desktop and web application"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I'm experiencing different behavior when performing a search/replace in MS Word between web and desktop applications.

Note: I originally posted this on StackExchange and it was sugge

[2022-08-26 15:05] cody-lettau opened #2801 "Expose "pendingSave" event for all products/platforms"
I realize that submitting feature requests is not something we typically do on Github, but this is a major limitation of the Office.js library that I believe should be addressed immediately.

Please see the feature request here: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/expose-quot-save-quot-event-in-office-js-across-platforms/idi-p/3610495#M1310

I'd be more than hap

[2022-08-26 15:13] mypasswordsucks commented on #2277
@exextoc any update on question from @milankonir, please?

[2022-08-26 16:33] JHJ-MS commented on #2777
Hi @wh1t3cAt1k,
1.regarding your issue On Excel Online

If you can still repro this issue could you please provide a Fiddler trace for us?

2.Regarding the issue you mentioned in your comment, Could I confirm with you whether your addin is using Shared Runtime?
If your add-in is using Shared Runtime, would you please first go through the comments of this  [issue](https://github.com/OfficeDev/offic

[2022-08-26 18:32] YasharHeydari opened #2802 "SharedRuntime 1.1 does not support UNDO"
# Provide required information needed to triage your issue
Hello,
     In Browser Runtime mode UNDO clears out. Once a Custom Function is called, the UNDO history is gone and no more UNDO is available. Changes will have undo support until next call to Custom Function again!
    Video is provided
Thankyou

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host

[2022-08-27 03:43] wynntee commented on #2777
@JHJ-MS , in my experience Excel does NOT respect cache-control for the JSON metadata file. It respects for the other files (HTML and JS) but definitely not JSON.

In fact, I raised [this suggestion](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/respect-http-cache-control-header-when-caching-an-excel-add-in-s/idi-p/3055887#M593) at Microsoft 365 Developer Platform and som

[2022-08-27 15:01] ghost commented on #2543
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-28 06:01] ghost commented on #2781
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-28 16:17] yuanagain commented on #2781
Hi @JHJ-MS, thanks for the quick reply:

1. That's indeed the guide I used. I checked again and my `manifest.xml` and webpack config again and they're consistent with what's described in the guide.

2. Basic functions (I have one that generates a random number and doesn't require network access) do not work.

3. the function you provided does not work--see (2).

What is the expected behavior? What

[2022-08-28 17:53] wh1t3cAt1k commented on #2777
@JHJ-MS correct, we are using the shared runtime.

However the issue you linked indeed makes an impression that Excel does not respect cache control headers for metadata, as @wynntee mentioned in his last message.

Moreover, from what I understand, the client in the linked issue was eventually forced down the manifest resubmission route on every update. This is _very inconvenient_ to say the least

[2022-08-28 18:08] ghost commented on #2799
hello @ononder any news on this ?

[2022-08-29 05:00] repl-kannan-d commented on #2769
Thanks for the update. I have tested it only on Office Web.. If required, we will do it on desktop.. Technically, it seems to be bug office.js and i am not sure  whether the code flow is different for web and desktop

[2022-08-29 06:44] JinghuiMS commented on #2675
Thanks for reaching us.
We're actively investigating it and will let you know if there're any updates!

[2022-08-29 08:09] JinghuiMS commented on #2675
@ruei-yu-yang
Empty href attributes can cause multiple problems. I would like to suggest you use href="javascript:void(0)" or href="#" instead of href = ''.  BTW, it should be "window.location.href" not "windows.location.href". I know, it might be a typo.
Please feel free to let us know if it can't unblock your scenario!

[2022-08-29 08:44] JinghuiMS commented on #2801
Thanks for reaching us.
New Feature requests on https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform are considered when we go through our planning process.

[2022-08-29 08:44] Alex0cean opened #2803 "transparent icon leaves white box (Win desktop only)"
# Provide required information needed to triage your issue
We are using a fully transparent icon in front of the texts in the dropdown menu. You see that there is a white box now in front of the text (only Windows desktop).
Works fine in Excel Online and Mac.

![image](https://user-images.githubusercontent.com/80747078/187161217-d53803b8-1714-4ace-92cc-c60d3bd23ba9.png)

## Your Environment
* Plat

[2022-08-29 10:08] JinghuiMS commented on #2790
Thanks for reaching us.
Could you try again? It should be possible to resize now.

[2022-08-29 10:11] JinghuiMS commented on #2792
If no further question, we will close this thread! Thanks for raising your question again!

[2022-08-29 13:33] JinghuiMS commented on #2794
@wbecker
Thanks for reporting this issue. It's definitely not right to have this error, but fortunately there is a workaround to unblock us. It has been put on our backlog<Bug#6539755> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-29 13:53] JensMadsen opened #2804 "Word crashes when change hyperlink on range when track changes is enabled"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop Windows
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 1908
* Operating System: Win10
* Browser (if using Office on the web): ______

## Steps to reproduce

Watch this video:  https://user-images.githubusercontent.com/6726111/187217192-bfa8fc26-6ed2-4843-b983-b1c96e94cbe2.mp4

or

1. Create

[2022-08-29 13:54] JensMadsen commented on #2797
@JinghuiMS a minimal demonstration of the problems we face are described here: https://github.com/OfficeDev/office-js/issues/2804

[2022-08-29 14:08] JensMadsen commented on #2797
@JinghuiMS If you can clarify if it is possible for an add-in in the Windows Word Desktop application to know if track changes is enabled or not I think we can close this issue?

[2022-08-29 14:24] JinghuiMS commented on #2675
@ruei-yu-yang
Could you help check your browser(webview)? Please refer to https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins#microsoft-365-subscription-on-windows
![image](https://user-images.githubusercontent.com/56814588/187223766-5dfc003e-045a-4680-b040-5637108e0da2.png)

[2022-08-29 15:34] omarenri29 commented on #2809
In addition to the above, the method works correctly in Excel desktop and the problem is in the formulas that have references to other tabs in the document.

[2022-08-29 18:02] alison-mk commented on #2809
Hi @omarenri29, thank you for reporting this issue and for providing additional information. To help clarify, I have a few questions:
1. I see that you say that the insertWorksheetsFromBase64 method works correctly in Excel on desktop. Are you only seeing this problem in Excel on the web?
2. Can you provide a code snippet to illustrate the how you're using the method?

Thank you,
Alison

[2022-08-29 18:07] omarenri29 commented on #2809
Hi @alison-mk thanks for replying,
1. yes the problem only occurs on Excel web version.
2.
` Excel.run(async function async(context) {
      let sheets = context.workbook.worksheets;
      sheets.load("items/name");
      await context.sync();
      let sheetNames = sheets.items.map((sheet) => sheet.name);
      if (!compareArray(sheetNames)) {
        // Remove the metadata before the base64-enco

[2022-08-29 18:20] exextoc commented on #2791
In Win32, all internet headers are saved to a MAPI prop while composing / in draft mode. They are converted to actual internet headers when sending the email.

OWA doesn't care about the Win32 MAPI prop since they handle internet headers differently.

If you do believe The consistency of internet header is important, you can always submit a feature request on our [Tech Community Page](https://aka.

[2022-08-29 21:43] JuaneloJuanelo commented on #2731
@DmitryKostochko this is an Office Update, this has no dependency with the Windows build.
You should not see this problem anymore, can you please confirm?

[2022-08-29 21:48] JuaneloJuanelo commented on #2769
@repl-kannan-d  can you please confirm the Win32 behavior?

[2022-08-29 22:02] Adrian-MSFT commented on #2739
Hi @ArjunSureshKumar92

We have seen reports about this and we identified a root cause for this and we rolled out a fix.
You should not see this problem anymore, can you please confirm?

[2022-08-29 22:30] JuaneloJuanelo commented on #2789
Hey @carlosb1504  thanks for asking this.  Yes, the properties that you are setting before the email is sent are overridden when the message itself actually arrives.

Couple of questions:
1. Did you tried to use our customProperties API? why is this not working for your scenario? (see code  sample [here](https://gist.github.com/JuaneloJuanelo/0f4c12f5456d70a02671d2dbdf556d3d), remember to call sav

[2022-08-30 00:32] JinghuiMS commented on #2797
@JensMadsen
Currently, we may not have a way to detect that track changes are enabled on Word Desktop before the tracking change related APIs release. Why don't you try to update？

[2022-08-30 00:48] JinghuiMS commented on #2796
@jsoto-gladia
You could try getParentShape() API. Please refer to
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest

[2022-08-30 03:07] omarenri29 commented on #2809
These are examples of how the formulas are displayed when they run on the web and on the desktop
Desktop:
![image](https://user-images.githubusercontent.com/90602445/187339864-6dc06edd-e7f3-4e0a-8060-c14d9e6c78c6.png)

Web:
![image](https://user-images.githubusercontent.com/90602445/187339906-22f7faa6-981a-464f-ab67-84d7f9857b3f.png)

As I mention before when running on web I get a path attached t

[2022-08-30 03:26] JinghuiMS commented on #2795
@AhmadSukkar98
Thanks for reporting this issue. It's definitely not right to have this error. It has been put on our backlog<Bug#6541704> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-08-30 03:38] JinghuiMS commented on #2800
Thanks for reaching us!
A possible workaround might be rewriting the logic to update only the first result, and search again:

[code]
BTW, we have created an internal workitem<ADO#6542408> on it. We will keep track of this issue and let you know if there's any updates.

[2022-08-30 05:12] JinghuiMS commented on #2803
@Alex0cean
Thanks for reaching us.
Is the task you’re trying to accomplish is a new feature in the new add-in, or an existing feature in the old version?

[2022-08-30 06:08] JensMadsen commented on #2797
@JinghuiMS I will try to update to the most recent version on another VM. But the problem is that our customers report and experience this problem. We cannot ask them to update so I need to find a more general solution I think. I have tried to extract the OOXML with and without Track changes so see if I am able to deduce it from there, but so far I do not see any solution going down that path.

[2022-08-30 06:21] JinghuiMS commented on #2797
@JensMadsen
I can understand. Indeed, we tried to use getOOxml API to see if we can get something from it after you asked further question last week. Sorry we didn't find a way to unblock you.

[2022-08-30 06:24] rundongmsft commented on #2786
Hi @wh1t3cAt1k, we have reproduced this issue. And we are finding the root cause. If there is progress, we will update it in time.

[2022-08-30 06:36] #2797 closed, assigned to JinghuiMS

[2022-08-30 08:25] carlosb1504 commented on #2789
Hey. We are having to work within the constraints of an existing 3rd party mailflow solution which is why we are having to set these very specific MAPI properties at specific addresses.

We do use customProperties for other scenarios and I am investigating with the 3rd party whether that or a couple of other alternatives I've suggested will be viable in the longer term, but this will require a bes

[2022-08-30 08:36] DmitryKostochko commented on #2731
@JuaneloJuanelo, Sorry, right now I can't confirm that the issue has been fixed because it was quite unexpected and reproduced sporadically. Please, give us a week, we will watch our Outlooks.

[2022-08-30 08:41] Alex0cean commented on #2803
Thanks for your response @JinghuiMS ,

we've been using the transparent icon since a while - and it works in all other platforms as expected, but not in Win Desktop.

[2022-08-30 08:42] danielpdev opened #2805 "SharePoint app catalog deployment with `VersionOverrides` tag"
Hi,

I've read here: https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish#sharepoint-app-catalog-deployment
that if I want to publish my add-in via sharepoint app catalog I should not have an add-in which defines VersionOverrides in the manifest file. But because I need a ribbon, functions file I need to define that tag.

Is there any way I could be able to have a manifest file with

[2022-08-30 09:01] yuc014 commented on #2803
Hi @Alex0cean, sorry I'm not familiar with icon part.
But I found this may help you: https://docs.microsoft.com/en-us/office/dev/add-ins/design/add-in-icons-monoline#color
![image](https://user-images.githubusercontent.com/87364252/187395254-24faa8ba-b20b-49c4-98f3-904a919ebc97.png)
Seem you should try Background Fill (250,250,250)?

[2022-08-30 09:31] jipyua commented on #2804
Thanks for reporting this, we are locally investigating the root cause and will update once we have some progress.

[2022-08-30 10:15] Iso5786 commented on #2707
Hi, I asked one of the IRMA developers and he provided me with the following:
- https://developer.android.com/guide/components/intents-common.html#ViewUrl (but only uses http in this example)
- Example of a tel:/ scheme: https://developer.android.com/reference/android/content/Intent#ACTION_VIEW

[2022-08-30 11:07] benjamin-almarza commented on #2577
Our application is managing large number of documents on behalf of our customers, those documents are usually extracted (downloaded for edit) from our system and redlined, changed or formatted in MS Word. Our customers use both  Office 365 as well as desktop MS Word in order to manage the documents. Right now we rely on the frequent content snippets insertion. The delay in inserting "OOXML" in the

[2022-08-30 11:26] JBoman32768 commented on #938
I can confirm @vputsenko  's findings.  although for me the getTaskFieldAsync callback just never fires on the following fields:

- ConstraintType
- OutlineLevel
- PercentComplete
- PercentWorkComplete
- Priority
- Status
- Type
- (And a bunch of other earned value and fixed cost accrual fields)

Additionally the following fields are always false even when they should be true:
 - Active
 - Summary

[2022-08-30 11:32] Alex0cean commented on #2803
Thanks @JinghuiMS ,
but what if you change the Office theme? We wanted to be independent of that, that's why wanted to have a TRANSPARENT icon  (which works in some platforms) ....

[2022-08-30 12:34] Uttam-Gupta commented on #2780
@JinghuiMS @ononder Any update on this issue? We have a lot of customers using this feature, so any kind of information on this issue would be highly helpful. Thanks.

[2022-08-30 12:35] prasad-cm commented on #773
Appreciate if there is any update on this issue? We are processing the body contents by line separators which is breaking on online outlook

[2022-08-30 13:11] JBoman32768 commented on #1829
Have confirmed @nnyegaard result.

In addition to the Milestone field the "Active" and "Summary" fields also always return False.  Perhaps same root cause?

[2022-08-30 13:12] FranCerrada opened #2806 "PowerPoint: Create presentation using a presentation with size 37.50 MB or bigger fails"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Is there any limitation on the size of the presentations that can be used to create a new presentation on PowerPoint Web Add-in using the `createPresentation` method?

Every time I tr

[2022-08-30 13:15] JBoman32768 commented on #1369
There is actually an undocumented function that creates tasks in MS Project Desktop.  Seems to work well.

[code]

[2022-08-30 13:31] JinghuiMS commented on #2806
@ononder Do you know whether this has size limitation?

[2022-08-30 13:41] JBoman32768 opened #2807 "Office.context.document.getTaskFieldAsync returns wrong result for Summary, Milestone, Active in Project"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When executing [getTaskFieldAsync](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview#office-office-document-gettaskfieldasync-member(2)) with

[2022-08-30 13:52] JinghuiMS commented on #2780
From official document(https://docs.microsoft.com/en-us/office/dev/add-ins/powerpoint/insert-slides-into-presentation#insert-slides-with-insertslidesfrombase64), the inserted slides keep the formatting of the source file by default, otherwise, you can use below code to keep the formatting of the destination.

[code]

@ononder  What do you experts think about this issue?

[2022-08-30 14:00] Alex0cean commented on #2803
Hi @JinghuiMS , I do not suspect this is an OfficeJS bug, but rather Excel general ... but Yawei Zhu asked me to open a ticket and you guys can forward ...

[2022-08-30 14:03] mikeappell commented on #2800
Hey @JinghuiMS! Wanted to say thanks for taking on/investigating/assigning this issue.

Re: your workaround suggestion, I'd had a similar thought but was a little concerned about the potential performance impact. In any given document, there's really no way to know how many instances needing to be replaced there will be, either in total or in a specific line.

Could you hazard a guess as to what t

[2022-08-30 14:15] JinghuiMS commented on #2800
@mikeappell
We agree with your concern, we are seriously considering a perfect solution, this workaround is only to temporarily unblock you, we agree that this is not a perfect solution, so we created an internal workitem to track this issue.

[2022-08-30 15:20] ElizabethSamuel-MSFT commented on #1369
That function is actually documented at https://docs.microsoft.com/javascript/api/office/office.document?view=common-js-preview#office-office-document-getselectedtaskasync-member(1). The [Office.Document object](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=common-js-preview#methods) has this and other methods that can be used with Project.

[2022-08-30 15:27] maleta commented on #2543
Hey @rundongmsft, do you have any update regarding this issue? Thanks

[2022-08-30 15:45] MadRoosterCro commented on #2543
Any progress with this? I encountered the same issue.

[2022-08-30 17:11] exextoc commented on #2788
Hello @teejay001, thank you for reaching out. I'm currently unable to reproduce this issue on my end. After attaching the image and adding text, I see an attachment added when calling mailbox.item.getAttachmentsAsync:

`{"value":[{"id":"0","name":"image001.png","size":0,"attachmentType":"file","isInline":true}],"status":"succeeded"}`

and the image "<v:rect id=\"Rectangle_x0020_1\"" is present in

[2022-08-30 18:21] ononder commented on #2806
I believe there is a limit of 50MB, but that is the transport size, and base64 encoding conversion loses bytes, so
50 MB = 50x1024x1024  = 52428800 bytes transport can hold 52428800 x 6 / 8 = 39321600 bytes of base64 encoded file data, which is equal to 39321600 / (1024 * 1024) = 37.5 MB.

As far as I know this affects PowerPoint Online only, not desktop endpoints.

[2022-08-30 18:26] FranCerrada commented on #2806
Thanks for the answer, this explains the issue. Do you know if there is a plan on changing this in the near future, also if this information is available anywhere on the PowerPoint API documentation?
We got some customers complaining about it and would be great to have an official answer we could use to explain the root cause.

[2022-08-30 22:38] JBoman32768 commented on #1369
Ah okay - I missed that.  They should probably consider adding it to the TypeScript @types/office-js package as the TypeScript compiler will actively tell you it doesn't exist.

[2022-08-30 23:14] ElizabethSamuel-MSFT commented on #1369
@JBoman32768 Actually, it's in the [DefinitelyTyped .d.ts file](https://raw.githubusercontent.com/DefinitelyTyped/DefinitelyTyped/master/types/office-js/index.d.ts) for the office-js type.

However, I'm not sure about the config for Project on Windows so it's possible the local cache is outdated or something like that.

[2022-08-31 04:46] rundongmsft commented on #2543
This issue is still under internal discussion. I will update as soon as there is a clear progress or workaround.

[2022-08-31 05:34] jipyua commented on #2655
@dhoelzl we further tried different cases and confirmed that this is the current word design. If you put the cursor at the start of a content control and try to insert a table from UI, then I will also try to insert an empty paragraph in front of it. So the API behavior is same as UI.

If you don't need it, I think you can detect whether the previous paragraph is empty, if yes, then remove it.

[2022-08-31 06:27] amiram commented on #2760
@exextoc It seems that it is working well now. Local addin works. The get addins modal also works but I had to clear the cache for that.

[2022-08-31 06:48] dhoelzl commented on #2655
If this is by design, how is it possible to reliably detect if the first empty paragraph needs to be removed and how to differentiate between the cases that the file to be inserted contains a wanted first empty paragraph or not?

I have tried it manually with Word 365 on Windows (Microsoft® Word für Microsoft 365 MSO (Version 2207 Build 16.0.15427.20182) 64 Bit) and this time without a content con

[2022-08-31 08:58] ghost commented on #2796
great thanks. let me try this out

[2022-08-31 09:01] fmcgough commented on #2557
Hi @Oleg-O, do you have any updates or further suggestions to share on this? The issue is still affecting a small number of users fairly consistently.

[2022-08-31 11:10] wangyun-microsoft commented on #2179
Thanks for reporting this. We will investigate it. However, we have no timelines to share at this point.

[2022-08-31 11:50] cordeiroph commented on #2768
Hi,

The issue still happening,  I created a simple addin that can replicate the issue.

https://github.com/cordeiroph/OutlookIssue

The issue only happens on Windows using outlook application, the outlook version tested is 16.0.14326.20450.

[2022-08-31 17:40] aluke1 commented on #2744
I am having the exact same issue. In my case, the ribbon button is supposed to invoke a function that opens the taskpane. However, when the user first installs the Add-In from the store, the first click of the ribbon button does not invoke the function, so the taskpane does not appear.

This is very frustrating for users because the Add-In doesn't appear to have installed properly since nothing ha

[2022-08-31 18:52] omarenri29 commented on #2809
Hi @alison-mk were you able to reproduce this bug?

[2022-08-31 22:13] Rick-Kirkham commented on #1959
I have confirmed with the Microsoft engineers that 12011 occurs whenever an under-the-hood call of window.open fails. This error is only seen on Office on the web, and it means that the user has some browser or web configuration that blocks window.open. The main situation for which it was created is when the user is using IE or Edge Legacy and the add-in is not in the same security zone as the hos

[2022-09-01 04:41] JinghuiMS commented on #2790
@sashakar Can you resize your taskpane on PPT online now?

[2022-09-01 04:49] JinghuiMS commented on #2803
@yuc014 any updates?

[2022-09-01 05:02] #1959 closed, assigned to Rick-Kirkham

[2022-09-01 05:39] yuc014 commented on #2803
Hi @Alex0cean, I consulted design team, they recommend use SVG icons without background to make it transparent and follow with theme.

[2022-09-01 05:40] YijunMS commented on #2794
@wbecker
Thanks for reporting this issue. I did some investigation and tried to reproduce it in **ScriptLab**.

For the two problems you mentioned:

1. In my tests, the length of `context.document.body.inlinePictures` **do** changed during the several calls. I guess the way we call the function `removeButtonsFromDocument` might be different. It would be helpful if you could provide more informatio

[2022-09-01 06:05] dimitarbikov commented on #2677
Hello @exextoc, @preethikakiru  and @ajays-msft . Any update on this?

[2022-09-01 06:46] Uttam-Gupta commented on #2780
@JinghuiMS Thanks for your input but the issue is that source formatting is not getting retained for the file I've attached.

[2022-09-01 07:32] FranCerrada commented on #2806
By the way, with "this affects PowerPoint Online only" I guess this also includes PowerPoint for Mac as it uses the same Javascript API, right?

[2022-09-01 08:03] rundongmsft commented on #2786
Hi @wh1t3cAt1k, the function was stuck at "#BUSY" is because the request payload size has exceeded the limit. You can refer to this documentation: "[https://docs.microsoft.com/office/dev/add-ins/concepts/resource-limits-and-performance-optimization#excel-add-ins](https://docs.microsoft.com/office/dev/add-ins/concepts/resource-limits-and-performance-optimization#excel-add-ins)"
You can batch the re

[2022-09-01 08:09] JinghuiMS commented on #2780
@Uttam-Gupta
If you don't specific to use "formatting: "UseDestinationTheme"", it should keep the formatting of source file by default.

[2022-09-01 08:32] wh1t3cAt1k commented on #2786
@rundongmsft I believe you implemented automatic payload batching on your end in the related ticket from my original message?

Wondering why it doesn't work in this case?

Unfortunately we cannot use multiple custom functions or the JS API because we need to achieve full reports compatibility with our old XLL add-in, where it works fine.

Logically a call to Velixo's GI() is a single dataset that

[2022-09-01 08:49] ruei-yu-yang commented on #2675
The window.location.href will not be empty, it will point to another add-ins site url, and this location has been added to the <AppDomain> of menifest.xml, and it can be directed to target site last year, but when using it this year, I found that an error would occur in Excel 365, but Excel 2016 can be successfully redirect to the destination site.

[2022-09-01 08:50] ruei-yu-yang commented on #2675
Hi @JinghuiMS,
The window.location.href will not be empty, it will point to another add-ins site url, and this location has been added to the <AppDomain> of menifest.xml, and it can be directed to target site last year, but when using it this year, I found that an error would occur in Excel 365, but Excel 2016 can be successfully redirect to the destination site.

[2022-09-01 09:01] ruei-yu-yang commented on #2675
Hi @JinghuiMS,
My OS & Excel Version Info:
OS: Windows 10 Enterprise 21H2 Build:19044.1826
Excel 365: Microsoft 365 Apps for enterprise Version 2206 (Build 15330.20264)

Manifest file not include Runtimes elements.

[2022-09-01 09:12] JinghuiMS commented on #2675
@ruei-yu-yang
Whether the target url can be accessed by customer this year or now？
In order to better locate the problem, could you give us the steps to stabilize the repro? And the files/codes required by repro if possible(please remove sensitive information before you sent to us, such as passwords, user data, etc.).

[2022-09-01 15:22] JiayuanL commented on #2744
Thanks for reaching! We tried the scenario but cannot reproduce it in our side, would you please share the manifest also shared runtime home page you are using? We could try investigating based on those, thanks!

[2022-09-01 15:33] sashakar commented on #2790
@JinghuiMS I tested that I can successfully resize the task pane on web PPT. Thanks so much! You can close this track.

[2022-09-01 16:23] aluke1 commented on #2744
Hi @JiayuanL, sure I can share all of that. First of all, you can experience the issue if you load our AddIn through the store since it is available in production. Here are instructions for finding us in the store, under "installing the AddIn":
https://www.valueanalytics.org/excel

Here is the dev manifest file (only difference from prod are the URLs)
[manifest.development.xml.txt](https://github.

[2022-09-01 16:50] JiayuanL commented on #2744
Thanks for your reply @aluke1, I could access your Addin from store. I could trigger the taskpane to show by clicking "login" ribbon button only one time, I'd like to check is "login" button what you mentioned need two time click? Is that intermittently repro or consistent?

[2022-09-01 16:59] JinghuiMS commented on #2790
Thanks for reporting again. If you run into this problem again and feel this issue needs to be re-opened, please let us know.

[2022-09-01 16:59] #2790 closed, assigned to JinghuiMS

[2022-09-01 18:08] aluke1 commented on #2744
Hi @JiayuanL, yes it is the login button that should show the taskpane. It consistently requires two clicks for myself and others.  Here is a screenshot of my excel version:
<img width="365" alt="excel_version" src="https://user-images.githubusercontent.com/37984796/187983389-c5ddf698-6f6f-459d-9f11-a035f4075118.png">

[2022-09-01 21:13] Rick-Kirkham commented on #2543
I have been informed by @rundongmsft that this is actually expected behavior. Any call of an Office.js API is expected to wipe out the undo stack. The puzzle is that it sometimes doesn't wipe out the undo stack. We are reviewing whether to change the current (intended) behavior.

[2022-09-02 03:53] alison-mk commented on #2809
Hi @omarenri29, thank you for the information and for reporting this issue!

I see a similar issue. It's not exactly the same issue, but I think we are seeing the same bug. Here are the steps that I take, and the bug that I see:

1. Open this snippet in Script Lab, in **Excel on the web**: https://github.com/OfficeDev/office-js-snippets/blob/main/samples/excel/50-workbook/workbook-insert-external-

[2022-09-02 03:54] rundongmsft commented on #2786
Hi @wh1t3cAt1k. In your case, CONTOSO.ANSWER() returned around 12.59M data, which will be requested to the server. However, 12.59M exceeds 5M payload size limitation of Excel on the web, so it doesn't work.
A feasible idea is let JS API listen to the [onChange event](https://docs.microsoft.com/zh-cn/javascript/api/excel/excel.worksheet?view=excel-js-preview#excel-excel-worksheet-onchanged-member).

[2022-09-02 04:01] alison-mk commented on #2809
@JinghuiMS Can you take a look at this Excel issue? It's a bug with the insertWorksheetsFromBase64 method that was initially reported in a docs repository. I was able to replicate the bug. My steps are recorded in my previous comment.

The bug: In Excel on the web, when using the insertWorksheetsFromBase64 method to import a workbook that has links between worksheets, the links between worksheets

[2022-09-02 05:17] JHJ-MS commented on #2781
Hi @yuanagain , since the #BUSY! is shown, it means your Custom Function has been registered and recognized successfully but hit some issues when executed. You can right-click your add-in task pane and click the "Inspect", search your function's name and add a breakpoint on it, to debug whether some errors occurred on the client-side.

[2022-09-02 05:35] somenathmaji commented on #2735
Hi Team, any update?

[2022-09-02 06:41] maleta commented on #2543
Hi @Rick-Kirkham, thank you for your answer.

So, you expect us to tell our clients: "If you use our tool, you cannot rely on Office UNDO action in the document? (so use it wisely, I guess)"

[2022-09-02 07:02] yuc014 commented on #2809
@alison-mk  @omarenri29
I can repro this bug on my machine, this bug now added in our backlog(tracked as 6570397 internally). Thanks for reaching us.

[2022-09-02 07:52] zxyty opened #2810 "Why is the createTime obtained through Add-in Office.js different from the receiving time displayed in the outlook email?"
# Background:
We hope to develop a outlook add-ons by office.js, then user can use and open our add-on, then it can retrieve the current selected email's subject/from/to/cc/mailbody and the reception date displayed in user's outlook, then pass this mail and other info inputted on the add-on panel to back-end server, back-end server can re-generate the mail again. the mail is a evidence in busines,

[2022-09-02 09:20] MajuMadhusudanan opened #2812 "Office JS add-ins for Word / Excel / PowerPoint - Insert tag automatically into document"
Hi,

I would like to insert a tag in body part of the document or footer of the document when user opens document from a directory. We are into enterprise content management software and stores document and manages it.

There is a use case with word / excel / PowerPoint apps. When user downloads a document from store to local directory and opens its from directory, we want to insert a tag into the

[2022-09-02 09:31] xuruiyao-msft commented on #2749
@bulgariamitko

1. For the spaces not at the beginnings and the endings, we can still use this piece of code below to convert multiple spaces to one space:
`let rangeCollection = paragraph.search(" {2,}", {matchWildcards: true});
rangeCollection.load();
await context.sync();
console.log("range.length:"+ rangeCollection.items.length);

for (let i = 0; i < rangeCollection.items.length; i++) {
  var

[2022-09-02 10:39] MajuMadhusudanan opened #2813 "Outlook 365 for Mobile app - Compose window support for Office JS add-ins"
Hi,

We are exploring the new Office JS add-ons model for Outlook for mobile apps and wanted to integrate our product with iOS/Android apps. While exploring the new Office JS model, we didn't see any way to integrate the product with compose window. Task-pane or commandBar way of integration is missing for compose window.

Compose window task-pane or commandBar integration is common use case among

[2022-09-02 11:03] wh1t3cAt1k commented on #2786
@rundongmsft apologies if I sound harsh, but this sounds like a terrible kludge, difficult to maintain.

I am also concerned about the performance implications of listening to every possible change across all the cells in the workbook. Furthermore, since this only impacts Excel for the Web, there is a cost of either maintaining two code branches for Web/Non-Web, which defeats the purpose of a cros

[2022-09-02 12:02] ghost commented on #2792
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-02 12:12] repl-kannan-d commented on #2769
@JuaneloJuanelo I don't have windows32 os but using windows 10 pro 64 bit OS.. Would you like to know the desktop app behaviour on this environment?

[2022-09-02 13:54] prasadhpshenoy commented on #2543
Hi @Rick-Kirkham
This is a little puzzling and confusing to me. I am not able to understand why clearing stack is an expected behavior??

[2022-09-02 14:27] omarenri29 commented on #2809
Thanks a lot

[2022-09-02 14:49] wh1t3cAt1k commented on #2786
As a follow up to the previous comment, another reason why the workaround is not feasible for us because it will overwrite the source formula with the data contents, and also any data that will be in the way of the "spilling range".

As I mentioned, we have a legacy XLL product where this exact formula spills without any trouble, and the other cells depend on this behaviour using references like A

[2022-09-03 01:05] exextoc commented on #2768
Hi,

I installed this test addin, enable spellcheck in outlook and I'm still having trouble replicating the issue. For me the spellcheck only occurs once and then the email item is sent. Do you have anything else enabled?

[2022-09-03 03:16] aluke1 commented on #2716
We are having the same issue. This is very frustrating to our users since they think the Add-In did not install properly when the task pane fails to load initially. We are also using a shared runtime with custom functions. I have not seen this issue on mac, only web and windows versions of excel.

[2022-09-04 00:02] ghost commented on #2788
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-04 06:02] ghost commented on #2801
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-04 09:11] tj-aew commented on #2770
@jipinshi  - Unfortunately, the workaround impacts our users too much. Just because the user asked our add-in to do something, it doesn't mean they want to save the workbook at that point. Is there a bug report logged for making this information correct without saving? Thanks.

[2022-09-04 12:20] amiram commented on #2760
@exextoc UPDATE: local addin works, but the get addins dialog isn't being opened if you open it from a compose toolbar. If it is a readonly item, it works.

[2022-09-04 13:28] exextoc commented on #2813
Currently the feature: MessageComposeCommandSurface for mobile, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-09-04 15:22] exextoc commented on #2810
Which Platform[PC desktop, Mac, iOS, Office on the web] do you see this issue? Could you also provide us the details about the language you are using for Outlook?

[2022-09-04 18:02] ghost commented on #2791
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-04 18:09] ghost commented on #2799
hello, any news on this ?

[2022-09-05 01:00] MajuMadhusudanan commented on #2813
Added as a feature request in [Tech Community Page](http://aka.ms/M365dev-suggestions) page.

[2022-09-05 05:53] jipinshi commented on #2770
@tj-aew, can you workaround it by save one invisible cell value with something like empty string and update it back with original value? With this, customers won't see obvious change. Can you help explain the impacts to end-users? Let me see whether it can be resolved. In internal, we have logged bug 6410677. Sorry not block you directly.

[2022-09-05 06:02] ghost commented on #2796
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-05 06:21] rundongmsft commented on #2786
I do understand that it is important to keep the software consistent across multiple platforms. A better solution to your issue is to let Excel support batching data in single CF requests, which is not currently part of our product.
We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum]( https://aka.ms/m365dev-suggestions). Please add your request there. Feat

[2022-09-05 06:31] JHJ-MS commented on #2777
Hi @madhavagrawal17 , from your comment in this [link](https://github.com/OfficeDev/office-js/issues/1536) and @wh1t3cAt1k and @wynntee 's comment above, it seems that When using Shared Runtime, Excel does NOT respect "must-revalidate" headers for the JSON metadata file. Could you provide more info on why we do NOT respect cache-control for the JSON metadata file like other files (HTML and JS)? Is

[2022-09-05 07:35] tj-aew commented on #2770
@jipinshi  - Thanks. I'm afraid I don't understand what you mean. Just changing a cell doesn't make the `calculationMode` problem disappear (I just checked). It's doing a save that's a problem. Although most users have auto-save, for those who don't (or people working read-only workbooks), doing a save when the user hasn't asked you to isn't something we're okay with.

[2022-09-05 09:02] ghost commented on #2793
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-05 09:15] Uttam-Gupta commented on #2780
@JinghuiMS The issue is that even if we are using the 'Source Formatting', the exact formatting doesn't seem to appear. We have used `{ formatting: 'KeepSourceFormatting' }` but it's not working as expected for the file i've attached. The issue seems to appear only for certain files.

[2022-09-05 10:59] dariocar1990 commented on #2543
Hello @Rick-Kirkham seems silly to me that this should be expected behaviour. Any news on changing this?

[2022-09-05 11:36] wh1t3cAt1k commented on #2777
@JHJ-MS we only reproduced infinite update loops after a JS update having been delivered to the bundle without resubmitting the manifest. Because there are real people using the product and this is our company reputation, we are reluctant to live-test this again.

As a side note, it would be immensely helpful if we could have some sort of **alpha-track** in AppSource store for our internal team to

[2022-09-05 14:02] ghost commented on #2792
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-05 14:02] #2792 closed, assigned to xuruiyao-msft, JinghuiMS, wangyun-microsoft

[2022-09-05 15:04] Alex0cean commented on #2803
Thanks for your reply @yuc014 .
But if we reference svg files in the manifest, it does not show. See https://stackoverflow.com/questions/51304877/office-plugin-wont-show-up-in-local-desktop-version-of-excel-manifest-issue .

[2022-09-06 02:37] yuc014 commented on #2803
Hi @Alex0cean
Sorry to hear that solution not work, I take a study with current Add-ins, and I found some of them use transparent icon like yours.
For example:
![image](https://user-images.githubusercontent.com/87364252/188534794-7ab4cb78-a1ad-42b1-ab09-0385ea6665e9.png)
And I try to get its manifest to see how it set the icon.
[code]
As you see, they use `Solver.Empty_16x16`, `Solver.Empty_32x32`

[2022-09-06 02:56] jipyua commented on #2812
hi, do you must insert a "tag" into the body part of the document which is someplace together with the paragraphs? Can you insert as some setting which is not visible from UI but you can get and set them freely? Please refer here for details: https://docs.microsoft.com/en-us/javascript/api/office/office.settings?view=common-js-preview

If you need events to notify the document open, I am afraid so

[2022-09-06 04:58] knight-baron opened #2814 "How to disable excel shortcuts when add-ins run."
## How to disable excel shortcuts when add-ins run.

When the user presses Ctrl + Alt + F9, excel calculates all worksheets in all open workbooks, regardless of whether they have changed since the last calculation.
But if our add-in is running I don't want this shortcut(Ctrl + Alt + F9) to work how can I do it?

Can I turn off this shortcut via Office.js?

[2022-09-06 06:01] ghost commented on #2774
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-06 07:08] exextoc commented on #2677
We have fixed the bug and the fix should be available in build 16.65.825.0 (16.65.22082501) or later. When an updated build is available depends on the release channel a customer is on.

[Outlook Add-ins Engineering Team]

[2022-09-06 07:12] majoy commented on #2774
@honxmsft thanks for the replay. if i understand correctly the "workaround" you're proposing would be to force a redraw of the bottom borders for each of these parent "nodes" that can show up when using our addon. without knowing how to identify this issue programmatically, we'd be forced to redraw bottom borders for all parent nodes as the user uses our addon to update the report in real-time. th

[2022-09-06 08:50] MingjiaLiu1995 commented on #2805
Hi, thanks for the question. We recommend [Centralized Deployment](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/centralized-deployment-of-add-ins?view=o365-worldwide) if you are developing an add-in for organization. If you want to test your add-in, you could use [share a folder](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-t

[2022-09-06 09:11] cebrotea commented on #2606
Hey guys, any progress with this one? it has a huge impact on us since we work with a lot of tables and we could not find any workaround yet

[2022-09-06 12:02] ghost commented on #2675
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-06 12:58] kgeorgiou1234 opened #2815 "RichApi.Error with content control when changing properties using set or insertHtml"
## Expected Behavior
Able to insert html in content control multiple times in Word online and update it's properties, for example title, even when the user's cursor is in the content control.

## Current Behavior
When the user clicks in the content control and types something leaving the cursor in the content control and then code tries to modify the content control HTML, there are errors thrown.

[2022-09-06 16:18] sashakar commented on #2775
Hello @JinghuiMS @ononder Could you please provide an update to this issue? There has been no update in over 3 weeks. Thanks so much.

[2022-09-06 16:19] sashakar commented on #2714
Hello @ahegongzhu  Could you please provide an update to this issue? There has been no update in almost 6 weeks. Thanks so much.

[2022-09-06 16:21] JinghuiMS commented on #2775
@ononder  You expert, could you help answer this question? Thanks!

[2022-09-06 17:55] madhavagrawal17 commented on #2777
@JHJ-MS , there is no special implementation for Shared vs Non-shared Runtime for caching. The only difference is for Non-Shared Runtime we download and cache both JSON metadata file and JS file but for Shared Runtime we just download and cache JSON metadata file as the JS file comes from the HTML page. For caching we have an expiration time of 24 hours. After 24 hours we make a request and do res

[2022-09-06 19:19] david-ps commented on #2610
@JHJ-MS I have submitted my email but have had no contact. Please advise.

[2022-09-06 19:20] david-ps commented on #2610
@JHJ-MS I have submitted my email but have had no contact. Please advise.

[2022-09-06 20:05] madhavagrawal17 commented on #2744
@aluke1, I tried to debug this issue and it seems like some race condition on the first click when the first time the runtime is created. Can you please provide me the implementation snippet inside method "app.loadPage(event, app.pages.loginPage)"? It seems we are invoking the action "login_action" but the Task pane is not launching for the first time. I want to see if you have any conditions befo

[2022-09-06 20:26] aluke1 commented on #2744
hi @madhavagrawal17, yes there are several other methods that are called before showAsTaskpane() is invoked. Here is loadPage:

[code]

 here is clear_styling:

[code]

here is this._runtimeStorage.getStyled():

[code]

here is set_current_nav:

[code]

[2022-09-06 20:29] aluke1 commented on #2744
@madhavagrawal17 there are other parts of the app that style some of the sheet cells, and we clear the styling when the user navigates between pages. The cells we have styled are stored in the OfficeRuntime.Storage object so we can access them later.

[2022-09-06 20:41] madhavagrawal17 commented on #2744
@aluke1, I tried to check if I am getting the call for the showAsTaskpane() for the first click and it seems I am not getting the call. Can you locally check if there is a failure in the clear_styling() method? You could also try locally moving the showAsTaskpane() at the top of the loadPage() method to see if the first click is working in order for us to narrow down the root cause.

[2022-09-06 22:15] wh1t3cAt1k commented on #2777
@madhavagrawal17 we're not necessarily talking about a change to the existing function name, it applies to adding a new function in equal measure.

It really feels wasteful to force the whole re-review process upon adding any minor function to the JSON just because the software does not respect the cache-control header (and quite unexpectedly at that).

It's not entirely clear why JSON is "special

[2022-09-06 22:32] wh1t3cAt1k commented on #2786
@rundongmsft I understand it might be relatively complex to implement API limit batching in CF requests, but we're really in a fix right now because our clients expect to use the same reports on Windows and Mac / Web consistently and it turns out we simply cannot advertise migration to the supposedly "superior" office.js.

Is there a chance that as a temporary measure, the limit be temporarily inc

[2022-09-06 22:53] wh1t3cAt1k commented on #2786
I would also like to point out that an issue with exactly the same symptom and very similar reproduction steps: https://github.com/OfficeDev/office-js/issues/2222 was taken into consideration and fixed, but apparently the fix was incomplete?

We already followed up with our clients that #2222 was fixed but apparently there's a different kind of limit now :(

[2022-09-07 00:02] wynntee commented on #2777
@madhavagrawal17 , I agree with @wh1t3cAt1k . In addition to his scenario of adding new functions, I also update the JSON file to:
1) Fix any typos in the description/documentation.
2) Add new parameters to a function in a backward-compatible manner.

Scenario (1) is less urgent, but important nonetheless. In scenario (2), I update the HTML/JS files to match the new parameters. My HTML file includ

[2022-09-07 02:01] ghost commented on #2788
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-07 02:01] #2788 closed, assigned to nobody

[2022-09-07 03:01] ghost commented on #2785
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-09-07 05:09] JHJ-MS commented on #2610
Hi @david-ps , we have just booked a meeting with you, look forward to talking with you, thanks.

[2022-09-07 05:52] aluke1 commented on #2744
@madhavagrawal17, I refactored the loadPage() method for testing and removed all of the other function calls:

`async loadPage(event, page) {
      await Office.addin.showAsTaskpane();
      event.completed();
  }`

However, it still requires two clicks for the taskpane to open upon initial load. So, it appears there is an issue with the  showAsTaskpane() method.

I am developing on mac and I cann

[2022-09-07 06:45] ghost opened #2816 "contextual menu for office add in"
As of now add in's allow the user to interact with ms partners technology through the task pane (in the particular case of excel, you have the possibility to create custom functions)
To have a more integrated approach, is there anything that allows to ms partners to add their functions in side the contextual menu (right click menu) ?
i.e. take a look at this image where you can see ms partner func

[2022-09-07 06:48] ghost commented on #2816
@jqueguiner

[2022-09-07 06:49] ghost commented on #2816
@jqueguiner

[2022-09-07 07:07] JinghuiMS commented on #2816
@jsoto-gladia
Provide required information needed to triage your issue. Include as many relevant details about the environment so we can triage your issue. Better to provide current behavior and expected behavior together.
* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser

[2022-09-07 07:27] harri-rajala-koivu-solutions opened #2817 "Exce"
## Post how-to questions about your code on Microsoft Q&A

We have several forums where you can ask the developer community questions about your code. Try one of the following forums to ask technical questions about:
- [Developing Office Add-ins for Word, Excel, PowerPoint, Outlook, Project, Visio, and OneNote](https://docs.microsoft.com/answers/topics/office-addins-dev.html)
- [Access programming

[2022-09-07 07:36] harri-rajala-koivu-solutions opened #2818 "Excel.createWorkbook blocks VBA macros."
Our Excel add-in allows users to upload and download Excel files.

For upload, we use Office.context.document.getFileAsync method to upload the current workbook to our server (file is stored in Google Cloud Storage).

For download, we first download an excel file from Google Cloud Storage using a signed URL and convert that to a base64 string. After that, we open a new workbook using Excel.createW

[2022-09-07 07:50] sshukurov commented on #2777
As a software engineer I have to say it is greatly inconvenient to have such a distinguishing experience with development versus production add-ins, which is worsened further by the inexistence of a channel / path for beta-testing in a production-like environment.

The issue raised by @wh1t3cAt1k is putting a significant strain on our development and support teams, while the workaround we currentl

[2022-09-07 08:01] ghost commented on #2801
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-07 08:01] #2801 closed, assigned to JinghuiMS

[2022-09-07 08:17] JinghuiMS commented on #2818
@yaweizhu-henson  Could you help answer this question? Thanks!

[2022-09-07 08:41] grangeryy commented on #2818
@harri-rajala-koivu-solutions this behavior is expected as Office will block macros downloading from the internet by default for security reasons. Details can be found in [this blog](https://techcommunity.microsoft.com/t5/microsoft-365-blog/helping-users-stay-safe-blocking-internet-macros-by-default-in/ba-p/3071805/page/2#comments).

To unblock macros, you may find some solutions in below two arti

[2022-09-07 08:44] htryggva opened #2819 "Outlook for Windows: recipientType is incorrect for Personal Contacts"
When calling `Office.context.mailbox.item.to.getAsync()`, the `recipientType` is set to `'user'` for contacts in the address book (Personal Contacts) even if they have @gmail.com or @outlook.com domains or even an account from another Microsoft 365 tenant. This makes it impossible to differentiate between users in the same tenant and personal contacts.

**Note that this is inconsistent with Outloo

[2022-09-07 08:49] htryggva commented on #2819
Hi @JuaneloJuanelo. We are reporting this because we have a customer that is blocked from using the Internal/External scoping feature in our Mail Signature because of this issue. Any chance you can have someone look at this? It's possibly related to #2238. Regards from Switzerland!

[2022-09-07 09:28] somenathmaji commented on #2735
Hi Team,

Could we please have an update?

Thanks

[2022-09-07 09:53] harri-rajala-koivu-solutions commented on #2818
You said:

But how can I do that from the add-in using the OfficeJS library?

I don't want that the end user needs to handle or manually save/open any Excel files. Our add-in should do everything for our customers. I want that the only thing that the end user needs to do is to click the button inside our add-in and after that user will see a new Excel workbook (with VBA macros enabled). No "Save A

[2022-09-07 10:54] sshukurov commented on #2786
I strongly agree with @wh1t3cAt1k that the proposed workaround is absolutely unacceptable as it overwrites the source formula. This is not what users expect and more than that, I'm surprised something like that is being suggested by professionals as a potential measure.

On the other hand, we find the 5MB limitation on a custom function's result size to be completely frustrating, because first of

[2022-09-07 11:18] danielpdev commented on #2805
ok, thank you @MingjiaLiu1995
Btw, are there any issues if we publish our add-in to AppSource and use preview apis?

[2022-09-07 13:02] hbnrmx opened #2820 "`Office.context.ui.openBrowserWindow` does not work for Office URI schemes"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 16.61.1 (22052000)
* Operating System: MacOS
* Browser (if using Office on the web): -

## Expected behavior

Invoking `Office.context.ui.openBrowserWindow` with a custom protocol (e.g. Offi

[2022-09-07 13:49] DmitryKostochko commented on #2731
@JuaneloJuanelo, we haven't seen this issue so far, it seems to be fixed. Please close the case, thank you!

[2022-09-07 15:20] luketowell commented on #2393
Hi, are there any updates on this issue?

I have created a plugin and I am able to create the appointment using the displayNewAppointmentFormAsync method however as is stated above I receive a date of 17/11/2032 instead of the current date which is correctly displayed in the console.

Please find screen shots below:
Code:
[code]
Created Outlook Appointment:
<img width="920" alt="Screenshot 2022-09

[2022-09-07 16:00] luketowell opened #2821 "Outlook displayNewAppointmentForm displays incorrect date (2032)"
I am currently attempting to create a new appointment form using the `displayNewAppointmentForm` method. I have used the example provided as part of the OfficeAPI documentation however a completely different date is being displayed in the created Appointment.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office ver

[2022-09-07 16:17] madhavagrawal17 commented on #2777
@wh1t3cAt1k, for repeated prompts popping up issue on WAC I think @JHJ-MS will help you. For the JS/JSON update and caching issue I still want to understand the issue correctly. As per us if you define a new Custom Function in the JSON metadata file then until the new JSON metadata is fetched the user won't be able to use the Custom Function (currently we have 24 hours caching expiration time on w

[2022-09-07 16:57] wh1t3cAt1k commented on #2777
@madhavagrawal17 for the best pain point scenario description, I would refer to the @wynntee 's message above:

To be clear, we definitely wouldn't want this to move in the backwards direction (towards arbitrary 24h caching of everything), but rather, towards respecting the cache-control headers for every kind of asset.

[2022-09-07 17:48] praveenbattula commented on #2754
Hi, any help on this? what else information you may need to investigate? This is a blocker and if any help would be greatly appreciated. Thank you.

[2022-09-07 20:01] ghost commented on #2791
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-07 20:01] #2791 closed, assigned to nobody

[2022-09-08 02:30] ahegongzhu commented on #2714
since

[2022-09-08 02:36] wangyun-microsoft commented on #2577
**For content snippets, do you mean content controls? Or other types of content that you want to insert into the document?**

[2022-09-08 03:05] MingjiaLiu1995 commented on #2817
Hi, thanks for the comment! I'm closing this issue because there seem no potential bugs or documentation errors need to solve. Please let us know if you have other concerns. Thanks!

[2022-09-08 03:05] #2817 closed, assigned to nobody

[2022-09-08 04:54] benjamin-almarza commented on #2577
Snippets , please check this video I made where you can see  the insertion:

https://user-images.githubusercontent.com/51302934/167996381-c2503f69-2b38-4b98-af8b-62b189a3a4a9.mp4

[2022-09-08 05:01] jipyua commented on #2714
hi @lynneosmith @sashakar sorry for the waiting, the fixing and deployment need some time. Now the deployment is almost done. If your PowerPoint Online version is equal to or greater than 16.0.15631.40512, then it will contain our fix. Feel free to have a try and let us know whether it works for you. Thanks.

[2022-09-08 05:12] JinghuiMS commented on #2805
@danielpdev  We don’t allow the use of preview CDN reference on the store, we do have a policy of only allow add-ins using the public production CDN. (see screen shot below)
![image](https://user-images.githubusercontent.com/56814588/189039546-c735a414-1a3c-4565-9422-825c1f8730e8.png)

[2022-09-08 06:18] ghost commented on #2816
This is a generic question that applies for :
Platform [PC desktop, Mac, iOS, Office on the web]: all platforms
Host [Excel, Word, PowerPoint, etc.]: all hosts
Office version number: latest i.e. 1.1
Operating System: all OS
Browser (if using Office on the web): all browsers
Expected behavior : have ms partner functions appeareing in contextual menu
Current behavior : it is impossible

[2022-09-08 06:29] danielpdev commented on #2805
@JinghuiMS  and if we have the preview apis loaded from our domain and not from the CDN, it is accepted?
We need the preview apis for things that are not yet available in the stable version.

[2022-09-08 06:53] exextoc commented on #2589
@hello-chenchen Could you please update your outlook to version 16.66 and above and verify if the issue is still reproducible?

[2022-09-08 07:38] woai3c opened #2822 "How to get the selected slide data?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Through the document, I found that I could read the data of the whole PPT document and get the selected slide index. But cannot get the selected slide data.

* [Get the whole document

[2022-09-08 08:01] ghost commented on #2796
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-08 08:01] #2796 closed, assigned to JinghuiMS

[2022-09-08 08:18] JinghuiMS commented on #2805
@danielpdev
Our PM @wangyun-microsoft  will answer your question. Thanks!

[2022-09-08 09:13] sumitmodi01 commented on #2386
We are also facing the same issue. Getting this error 5001 in getAttachmentContentAsync() call. Its intermittent issue.

Setup details:
macOS BigSur 11.4
Outlook version 16.64 (22081401)
Outlook New UI

Error string :
{"name":"Internal Error","message":"An internal error has occurred.","code":5001}

Steps to Repro:
1. Make sure outlook addin is loaded.
2. compose a mail item in popped up window
3.

[2022-09-08 09:55] danielpdev commented on #2805
Thank you @JinghuiMS, we need this ASAP.
Btw, is there a subscribe channel or something that we can get notified when a new version of preview/stable apis are going to be release? We need to be sure that there are no breaking changes.

[2022-09-08 10:07] JinghuiMS commented on #2796
Closing this issue because it appears to be resolved, but please let us know if you have further questions or feel it needs to be re-opened.

[2022-09-08 10:21] ghost commented on #2796
yes thnaks

[2022-09-08 11:01] ghost commented on #2793
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-09-08 11:01] #2793 closed, assigned to nobody

[2022-09-08 13:16] cysnet opened #2823 "How to get ListObjects of one WorkSheet in office-js?"
I could get ListObjects of one WorkSheet in VSTO. But how to get ListObjects in office-js?

VSTO Code as below:
[code]

[2022-09-08 13:30] Rinzwind opened #2824 "Setting and getting `Range.numberFormat` for a date format gives inconsistent results in Excel in Office for the web"
The Script Lab snippet included below gives different results, depending on which user account I use, in Excel in Office for the web. Using one account, the result is as expected:

<img width="351" alt="1" src="https://user-images.githubusercontent.com/1611248/189134200-732f6844-c75f-4567-ad34-8257d6b8b70a.png">

Using another account, the result is as follows, note the difference w.r.t. the `numb

[2022-09-08 13:43] prasadhpshenoy commented on #2802
Is there any update on this??
We are encountering the same issue and its really annoying..
Appreciate quick response on this.

[2022-09-08 15:59] madhavagrawal17 commented on #2802
Can you provide me details on what APIs you are calling inside the Custom Functions? Can you also try a simple add Custom Function to see if UNDO is working or not ?

[2022-09-08 16:11] madhavagrawal17 commented on #2744
@aluke1, Thanks for providing the information. I am looking into this issue.

[2022-09-08 16:24] YasharHeydari commented on #2802
Hi @madhavagrawal17,
    Thanks for response. I've tested with a very simple add custom function. When it's  Shared Runtime, calling the custom function causes the UNDO stack wipe out and it won't work on previous actions. In other words UNDO stack is cleared on each Custom Function call.

[2022-09-08 16:37] madhavagrawal17 commented on #2802
@JinghuiMS, could you please look into this issue. It seems it is happening for simple Custom Functions, so it is not related to Shared Runtime.

[2022-09-08 20:17] YasharHeydari commented on #2802
@madhavagrawal17 & @JinghuiMS
  Thanks for working on this. Just to make it clear, it is related to shared runtime, as when I change it to Custom Function Runtime ( JS Only ) the problem mitigates drastically and Undo stack gets cleared just when the Task Pane is opened. But when I change the Runtime to Shared Runtime, every function call clears the Undo stack.
I will share both repos by the end o

[2022-09-08 21:43] YasharHeydari commented on #2802
Hi again,
   As promised, below I've provided the code repos and the videos of running each of those Custom Functions (Add function) on my Windows 10 machine:

This is the **SharedRuntime Repo** and Video:
https://github.com/YasharHeydari/CF_SharedRuntime
[AddMethod_SharedRuntime.zip](https://github.com/OfficeDev/office-js/files/9530759/AddMethod_SharedRuntime.zip)

This is the **Custom Function R