[2022-01-24 09:00] xiruatms commented on #2370
@JensMadsen , thanks for your response.

Can you be more specific about your confirmation on NBSP? How did you verify that?

As I can see from your testing document, there's no such NBSP as you mentioned:
![image](https://user-images.githubusercontent.com/40648203/150751605-088d9a60-55d1-4aa2-b49d-465ba0eea08b.png)

Moreover, if opened the corresponding testing document with OpenXML reader, I noti

[2022-01-24 11:00] ghost commented on #2367
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-24 11:00] #2367 closed, assigned to dingjin-ms

[2022-01-24 11:42] guliums commented on #2380
Hi @chengtie, thanks for reaching us and the great detailed description.

When INDEX returns a single cell, it could work if we change the formula to use VALUETOTEXT function to convert the reference to value.
name2 = "=VALUETOTEXT(INDEX(Sheet1!$B$3:$B$8,3))"

if INDEX returns an array, unfortunately based on my investigation, we does not support this kind of named item to get
its range as we only

[2022-01-24 11:54] guzman-rc commented on #2329
OnMessageAttachmentsChanged event still not working.

[2022-01-24 12:09] RuizhiSunMS commented on #2375
Thanks for your question @savanetllc, here are some questions we want to ask to make the scenario clear:
1. for now those disabled buttons could only be enabled after task pane opened?
2. By which ways do you expect to implement expected functions? Via manifest or by some apis?
3. Is there any another workaround you could accept?

[2022-01-24 14:00] ghost commented on #2361
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-24 14:00] #2361 closed, assigned to dingjin-ms

[2022-01-24 14:18] GrumpyAL commented on #2381
Hi, @exextoc

Thanks for the fast response.  Unfortunately, we can't reproduce it in our environment either.  So we believe it's some kind of compound issue and there's a factor we're missing.  Is there anything more we can do to try to figure out why the Outlook for Mac client would not return an item ID?

When we had reverted to 16.50 we checked the OAI JavaScript that was loading and it was the

[2022-01-24 15:36] savanetllc commented on #2375
Hi @RuizhiSunMS Thanks for your reply. Here are answers of each question in order.

1. Yes those buttons enabled after task pane opened.
2. I am looking for possible ways to meet with mentioned requirements Any way to enable ribbon buttons without opening task pane is acceptable.
3. Yes, sure.

Let me rephrase my requirements for better understanding. We have 4 ribbon buttons in Excel in which 3 b

[2022-01-24 16:45] shff opened #2383 ""saveAsync" breaks all image attachments of a message in Outlook for Mac"
# Provide required information needed to triage your issue

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: macOS
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.56 (21121100)
* Operating System: macOS Big Sur 11.1 (20C69)
* Browser (if using Office on the web): N/A

## Expected behavior
Images **keep working** after calling saveAsync in an ext

[2022-01-24 17:15] ADearingIntlFarming commented on #1198
Hi @RyanHedges, thanks for posting this patch. What is in "/assets/office-js/office.js" your above? I tried getting the office.js from the cdn and putting it my assets folder, but it doesn't seem to work.

[2022-01-24 20:23] AbidRahman-MSFT commented on #2340
Hey @tomprod - apologies for the delay in response. Could you provide a sample document that is causing the issue? Does it fail on a blank document as well?

[2022-01-24 20:41] zacfarnsworth commented on #2234
@Lakshman176 are you still experiencing this issue? If so, could you share the add-in so we can better examine what's going on?

[2022-01-24 22:23] tomprod commented on #2340
Hey, yes it fails on a blank document, only in office word desktop, online works fine.
Just put "#DC{&7=1}@31/12/2020@" in a blank word document, then script lab :

[code]

output in console :

[ERROR]: Error:
{
    "stack": "RichApi.Error: GeneralException\n    at new n (https://appsforoffice.microsoft.com/lib/1/hosted/word-win32-16.01.js:26:242451)\n    at n.i.processRequestExecutorResponseMessa

[2022-01-24 22:51] exextoc commented on #2300
SessionData is available at the production endpoint now.
Still working on getting the updated build numbers with the fix.

[2022-01-25 06:48] RuizhiSunMS commented on #2350
Causing there has been passed so long, we decide to close this issue. Please feel free to re-active and contact us if there were other questions.
Thanks.

[2022-01-25 06:48] #2350 closed, assigned to dingjin-ms, RuizhiSunMS

[2022-01-25 08:50] RuoyingLiang commented on #1944
@AndyHore sorry for the late response. Unfortunately the insertFileFromBase64 API doesn't support WOPI env well. We have an internal  item to track (There was a github thread for the same ask https://github.com/OfficeDev/office-js/issues/1341 ). But we don't any concrete timeline to share yet.

[2022-01-25 09:59] exextoc commented on #2329
Thanks @guzman-rc for your input. We are checking it internally if feature released as planned.

[2022-01-25 11:00] ghost commented on #2355
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-25 11:00] #2355 closed, assigned to SiruiSun-MSFT, RuizhiSunMS

[2022-01-25 11:04] ralphtheninja commented on #1629
@lliu113 Hi. Can you please provide an alternative url to https://officespdev.uservoice.com/ ? It's no longer working. Thanks!

[2022-01-25 11:07] ralphtheninja commented on #647
@JuaneloJuanelo Why is this the case? Is there any way we can provide feedback for this?

[2022-01-25 11:33] AndyHore commented on #1944
@RuoyingLiang , thanks for the update, even if it isn't good news! What can we do to raise visibility on this? Your linked thread gives a link to something called "User Voice" and that's now dead! For our customers, WOPI is not an option for them without this working and there IS no alternative...

[2022-01-25 11:56] shff commented on #2383
Bug is still present in version `16.57 (22011101)`.

[2022-01-25 12:39] fiftydegrees commented on #1510
Unfortunately we can still experience the issue (macOS, Outlook version 16.58 build 22012401). Plese find enclosed a screencast of our product with the issue enabled (the ordered list is not preserved while we just get and set the body).

https://user-images.githubusercontent.com/5269843/150978313-03dd5a2a-cb55-49e0-9b3d-101978643eac.mp4

.

[2022-01-25 17:28] lliu113 commented on #2373
@Edward-Zhou - thank you for your question! The title of the dialog cannot be changed - this is by design. This is to prevent spoofing as the title displays the URL of the page that is loaded.

We also do not have the ability to disable the close button. We try to develop our platform consistent with native Office principles, and having a close function on dialogs aligns with that. It is also pref

[2022-01-25 17:28] #2373 closed, assigned to lliu113

[2022-01-25 18:57] cidev5 commented on #2051
Hi @grangeryy, @jiju-MS.

It was stated that you would share an update soon. That was two months ago.

Can you share an update please?

[2022-01-25 22:51] MorganWilliamson opened #2384 "Word Add-In: Error Installing Add-In via AppSource Link ("Can't Open File")"
# Provide required information needed to triage your issue
We utilize a link from AppSoure to allow our customers quick installation of our add-in. Previously, they would only need to click the link to have our add-in installed, added to the ribbon menu, and ready to use. Following a recent update (on January 4th, 2022), this link no longer works. Instead, users will now be met with an error ([scr

[2022-01-26 02:13] grangeryy commented on #2340
Hi @tomprod, we've created a bug to track this issue:  BUG 5750743. For the impacted user wise, is it quite common for your customers hitting the issue?

[2022-01-26 02:39] grangeryy commented on #2051
@cidev5 @AlexPhilippov I'm really sorry for the issues you've encountered and my apology for the late response from us. In recent quarter we did more detailed investigation on original bug 5349227, and to fix the root cause behind is more complicated than fixing a bug (We need re-design the part of custom functions registration logic without breaking vba side). We are now under internal discussion

[2022-01-26 08:01] ghost commented on #2368
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-26 08:10] tomprod commented on #2340
Hey @grangeryy, thank you for the follow up. I am developing an addin for office word for a big accounting software editor and the addin cannot work on desktop with that bug : it only works on office word online. So users will not be able to use the addin on desktop which is blocking for them.

[2022-01-26 09:28] milankonir commented on #2277
@exextoc Would be possible to get an update on this? Let me know if you'd like me to create new issue or update this one's title / description to update the failing API.

[2022-01-26 10:00] Pradhi15 opened #2385 "Custom Outlook add-in grayed out Quick Access Toolbar options"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **PC Desktop**
* Host [Excel, Word, PowerPoint, etc.]: **Outlook**
* Office version number: **2016**
* Operating System: **Windows 10**
* Browser (if using Office on the web): ______

## Expected behavior

Quick access options should be available even after addin i

[2022-01-26 10:27] laurensmartz opened #2390 "file.getSliceAsync download a pdf with this.print(true) javascript in it"
[Enter feedback here]
I use file.getSliceAsync api to convert a office file to pdf.

I can convert the file succss, but when I download it, the pdf with a js this.print(true) in it, and my pdf editor auto open the print dialog when I open the converted pdf. This is not happen in Word but in Excel and PPT, the js in pdf is below:

//-------------------------------------------------------------
//--

[2022-01-26 10:49] milankonir opened #2386 "Office APIs failing with internal error 5001"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.1211.1000
* Operating System: Mac OS X
* Browser (if using Office on the web): N/A

## Expected behavior

Office APIs do not randomly fail with internal errors

## Current behavior

O

[2022-01-26 11:00] ghost commented on #2306
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-26 11:00] #2306 closed, assigned to exextoc

[2022-01-26 11:24] beatrixmorar opened #2387 "Word: Office.onReady called multiple times"
In a Word add-in, the callback method for Office.onReady() is being executed multiple times. If the code is in commands.js for example, then the callback methods gets executed each time an add-in command is initiated.

## Environment
* Platform: PC desktop
* Host: Word
* Office version number: Microsoft 365 MSO (Version 2112 Build 16.0.14729.20156) 64-bit
* Operating System: Windows 10 Pro

## Exp

[2022-01-26 12:21] v-somov opened #2388 "EnhancedLocation returns old locations after attachment is added to appointment"
When editing an appointment in OWA if you change the locations in the appointment editor and add attachment and then add new locations when you call `Office.context.mailbox.item.enhancedLocation.getAsync` it returns old locations, & not any new locations added by the user.
Subscribe to the `Office.EventType.EnhancedLocationsChanged` event also doesn’t work as expected.

## Your Environment

* Plat

[2022-01-26 13:42] JackTheDane commented on #2382
Just want to chime in that we are also seeing the same error in an Event-Based context, where we have narrowed down the issue to the `addFileAttachmentFromBase64Async` method as well in Outlook Desktop for Mac with the new UI.

[2022-01-26 17:19] milankonir opened #2389 "displayDialogAsync in ItemSend fails when sending from pop out window"
# Provide required information needed to triage your issue

Displaying dialog through `Office.context.ui.displayDialogAsync` during `ItemSend` event triggered in OWA pop out window fails with error 12007 (dialog already opened).
This is especially problematic when the `OnSendAddinsEnabled` policy is enabled for the mailbox as then every sent item automatically pops out on send.

## Your Environmen

[2022-01-26 18:16] exextoc commented on #2369
For tracking purposes, the product bug ID = 5728681.

[2022-01-26 18:30] exextoc commented on #2385
Is this custom Outlook Add-in built using the [modern Office add-in's framework](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins), or is it built using the [COM/VSTO framework](https://docs.microsoft.com/en-us/visualstudio/vsto/getting-started-programming-vsto-add-ins?view=vs-2022)?

[2022-01-26 18:46] AlexJerabek commented on #2390
Thanks for raising this issue @laurensmartz.

This seems like a product issue, so I'm going to transfer it to the [office-js repo](https://github.com/OfficeDev/office-js). There, members of the product can help examine the issue.

Do you have a piece of code that quickly reproduces the issue? Like a [Script Lab](https://docs.microsoft.com/office/dev/add-ins/overview/explore-with-script-lab) snippe

[2022-01-27 01:30] jnSWPC opened #2391 "Bubble Chart"
I have created a bubble chart following sample at https://github.com/OfficeDev/office-js-snippets/blob/main/samples/excel/10-chart/chart-bubble-chart.yaml

I would like to know how to set via api
1. Axes Scale - Value changes by 1
![image](https://user-images.githubusercontent.com/22331494/151274945-0f71d8c1-45fa-42e7-a2ea-a3efd1e4fbd3.png)

2. the bubblescale property- Control the size of the bub

[2022-01-27 01:55] exextoc commented on #2302
Office build 16.0.13801.21050 is from the Semi-Annual Channel (SAC).
A new build was recently released to this channel, and we are unable to reproduce this issue.
Can you check if updating to the latest build on SAC resolves this issue?

[2022-01-27 02:41] thao33 opened #2392 "Is internetMessageId of office.js and microsoft graph api is the same?"
Hi,
I'm a developer using both office.js and microsoft graph api.
I have questions, and yes, I tried to find out the answer but got nothing.

My questions is:
1. Is internetMessageId of office.js and microsoft graph api is the same ?
2. And when we sending message, then it's moved from draft to sent folder,(or when message be moving between folders) internetMessageId will not change?

I've posted

[2022-01-27 02:53] thao33 commented on #2383
@shff i'm also using `saveAsync` at Outlook for Mac. But i can't reproduce your issue. Btw, I'm using `makeEwsRequestAsync` to sending email.

[2022-01-27 03:08] Pradhi15 commented on #2385
Hello,

It is built using COM/VSTO framework...
And it's not publicly available. It has to stay inside our network, hence i cannot share the addin with you too

[2022-01-27 04:57] Lakshman176 commented on #2234
On Tue, 25 Jan 2022 at 2:12 AM, zacfarnsworth ***@***.***>
wrote:

Hi,
Issue is resolved my end , it’s a local storage issue ,not possible to
remove directly ,so I deleted it through coded mail
Thanks for follow up

--
Thanks and Regards
G.Lakshmana rao.
+91 8374727176

[2022-01-27 06:53] clavx commented on #2356
@exextoc any update on this?
This issue is always encountered when the `OnSendAddinsEnabled` flag is `True`, as it forces the **"Open in new window"** behavior. As a temporary workaround, we are telling our customers to set the `OnSendAddinsEnabled` flag to `False` and not to use **"Open in new window"**.

It seems to be possible to work around this issue by ignoring the 12007 error, so we are con

[2022-01-27 07:50] Sreeram-ms commented on #2387
hi @beatrixmorar, Thank you for taking the time to report this issue. Could you please help us with repro steps as well?

[2022-01-27 08:20] beatrixmorar commented on #2387
Hi @Sreeram-ms,
I updated my comment with steps to reproduce the issue in a taskpane add-in project generated with Yeoman.

[2022-01-27 08:21] trigurl commented on #2146
I've looked through our data and can't figure out how users are getting into this situation.  Please have them send a frown and details regarding whether they were upgrading, did they refresh the add-in dialog?

[2022-01-27 08:57] barisbikmaz commented on #2238
@exextoc Maybe to explain the problem with this issue and get more attention for it. We have an Outlook addin which inserts a Mail Signature. Outlook has now the feature to have Event-Based actions. When the user adds new recipients to his mail, we decide based on the recipient types if we insert a signature for internal or extenal users. Currently our addin cannot insert the correct signature in

[2022-01-27 09:15] Sreeram-ms commented on #2391
Hi @jnSWPC, Could you please post this to StackOverflow and tag it with office-js?

https://stackoverflow.com/questions/tagged/office-js

[2022-01-27 09:46] milankonir commented on #2389
Looks like this was already reported in #2356

[2022-01-27 11:50] exextoc commented on #2277
Thanks for updating the title.

We are looking at diagnostic logs you provided. We will be able to provide update after 1 or 2 days.

[2022-01-27 12:05] exextoc commented on #2389
As you noticed, this is already filed with #2356 . We are actively working on this issue and will provide update on original issue #2356

[2022-01-27 12:06] #2389 closed, assigned to exextoc

[2022-01-27 14:06] exextoc commented on #2381
@GrumpyAL Thanks for the update. Would it be possible for you to share manifest with us which may help us in the repro?

[2022-01-27 14:09] exextoc commented on #2382
Thanks for reporting the issue. We are looking into this.

[2022-01-27 14:11] GrumpyAL commented on #2381
Our add-in is actually self-hosted so I don't have a manifest I can send you for that.  I'll see if I can get the customer to load a test add-in I have (a modified version of the token-viewer demo) and if it will reproduce there.  Then I can provide a copy of a manifest for that.

Also, small update here: We have seen this for a 2nd customer now but we still don't have a root cause.  Still working

[2022-01-27 14:41] exextoc commented on #2386
Thanks @milankonir for reporting this issue.

(1) Can you please provide Outlook Mac version you are using?
(2) Is this happening with a particular Outlook Mac version or all kinds of version with "New UI"?
(3) Can you please provide specific Mac OSX version you are using?

[2022-01-27 14:56] barclayadam commented on #1861
@exextoc As above we continue to have numerous customers that experience the issue of the add-in not loading. Typically we are seeing just one, or perhaps two users that have the issue out of the whole M365 tenant. We have:

 - Upgraded some user's Outlook and the problem has gone away
 - Upgraded some user's Outlook and the problem has **not** gone away
 - **Not** seen the `msoadfsb.exe` process

[2022-01-27 15:08] milankonir commented on #2302
What is the version this has been fixed in? Was it fixed for legacy Edge rendering engine or does it rely on rendering engine being upgraded to Chromium Edge?

We can see multiple users on versions newer than `16.0.13801.21050` that are still on legacy Edge rendering engine. Will it work for them?

![image](https://user-images.githubusercontent.com/72383088/151385579-64d7d070-7f2d-4171-be27-7fdeea

[2022-01-27 15:59] balazserdeszlogmein opened #2393 "[New Outlook for Mac] `displayNewAppointmentForm()` creates meeting by default for November 2032"
Running this single line of code will reproduce the issue:
[code]

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: New Outlook for Mac
* Host [Excel, Word, PowerPoint, etc.]: New Outlook for Mac
* Office version number: 16.57 (22011101)
* Operating System: MacOS Big Sur 11.6
* Browser (if using Office on the web): -

## Expected behavior
Running this line of code:
[code]

[2022-01-27 17:26] fjaeger commented on #2383
@thao33 We can reliably reproduce this bug. We do not use `makeEwsRequestAsync` but let the user send the message manually. The only reason we use `saveAsync` in the first place is to get the email's item identifier.

[2022-01-27 18:31] #2234 closed, assigned to croicu, zacfarnsworth

[2022-01-27 18:45] CoreyKovalik commented on #1959
We had this error reported, `12011` is not documented here as it should be: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-handle-errors-events#errors-from-displaydialogasync

The dialog has been working until recently. I wonder if there have been any changes to the office API recently

[2022-01-27 19:55] lliu113 commented on #2190
Closing bug as fixed

[2022-01-27 19:55] #2190 closed, assigned to lliu113

[2022-01-27 19:56] lliu113 commented on #2192
Closing as bug is fixed

[2022-01-27 19:56] #2192 closed, assigned to lliu113

[2022-01-27 20:01] lliu113 commented on #2328
Assigning to @ononder for investigation

[2022-01-27 20:08] lliu113 commented on #2363
@donlawatch - apologies for the late response. I can repro, bug has been opened (internal bug id: 5755662)

[2022-01-27 20:40] ltrcx opened #2394 "Excel custom function returns #BUSY on Excel Web when the permission is WriteDocument"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello, I have an excel add-in that has some custom functions (functions.html, functions.js...) and a task pane. It's not using the shared runtime. Task pane has some html inputs to ge

[2022-01-27 21:53] Feetterer20 opened #2395 "displayDialogAsync and messageParent functions aren't working correctly when messaging across domains"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Word & Excel
* Office version number: Version 2108 (Build 14326.20748 Click-to-Run)
* Operating System: Windows 10 Enterprise, build 19042.1348
* Browser (if using Office on the web): N/A

## Expected behavior

Whe

[2022-01-27 23:14] pkkj commented on #2395
Hi,

There is one more step that can help us to triage the problem in your environment. Would you like to try to side load this [add-in](https://kepengtestapp.azurewebsites.net/manifest/AzureDialogTest.xml) in your test environment? You could examine the source code of the [main page](https://kepengtestapp.azurewebsites.net/pages/dialog-taskpane.html) before you load it. There are several button i

[2022-01-28 01:52] ctruong9 opened #2396 "Impossible to reach Outlook add-ins with keyboard navigation in Outlook for Mac app (new UI version)"
## Expected Behavior
After keyboard navigating through the Outlook for Mac (new UI version) app, and pressing the link/button to load an add-in, the keyboard focus should automatically go into the add-in.

## Current Behavior
After keyboard navigating through the Outlook for Mac (new UI version) app, and pressing the link/button to load an add-in, the keyboard focus stays on the same link/button.

[2022-01-28 02:07] ctruong9 opened #2397 "Keyboard focus not visible after loading Outlook add-in on Outlook Desktop app in Windows"
# Provide required information needed to triage your issue
After using keyboard to navigate to a link/button to open an Outlook add-in, the focus disappears. After pressing tab an indefinite amount of times, the keyboard focus does not reappear. The only workaround I could find was pressing "space" once, then the immediate next "tab" press will show keyboard focus within the Outlook add-in loaded.

[2022-01-28 03:24] r0bb077 opened #2398 "Office.context.mailbox.item.body.getAsync results in OSF.DDA.Error code: 9020"
# Provide required information needed to triage your issue

Office.context.mailbox.item.body.getAsync is failing to work on the web version of the add in but works on Desktop. This seems also to fail only when I use email accounts within my work organisation. I've used a test personal outlook account and that works fine, so it seems specifically for my work account.

## Your Environment

* Platfor

[2022-01-28 05:33] exextoc commented on #2398
Thanks @r0bb077 for reporting this issue. Can you please tell us if you are trying this API in Read-Mode (reading email) or Compose-Mode (writing new email)?

[2022-01-28 05:37] r0bb077 commented on #2398
Sorry, forgot to add that in my original issue, this happens in Read Mode only. Compose looks good.

[2022-01-28 05:49] exextoc commented on #2398
Thanks for reporting this issue regarding body.getAsync. We are able to reproduce this issue internally. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 142470

[2022-01-28 07:56] RuizhiSunMS commented on #2391
Reply at https://stackoverflow.com/questions/70879580/officejs-bubblechart-scale-bubble-size-and-set-axes-value-scale

[2022-01-28 08:20] exextoc commented on #2396
@ctruong9 Can you please provide us a video to better understand the UI experience you are seeing with tab navigation? Thanks!

[2022-01-28 09:37] otisyuan789 opened #2399 "Sometimes Office.context.ui.displayDialogAsync cannot display dialog successfully when AsyncResultStatus is succeeded"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___web___
* Host [Excel, Word, PowerPoint, etc.]: ___outlook___
* Office version number: ______
* Operating System: ___windows10___
* Browser (if using Office on the web): ___chrome___

## Expected behavior
Dialog should be always opened successfully when the Async

[2022-01-28 09:56] otisyuan789 opened #2400 "No response after user click ignore button when trigger the dialog by Office.context.ui.displayDialogAsync"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___web___
* Host [Excel, Word, PowerPoint, etc.]: ___outlook___
* Office version number: ______
* Operating System: __windows10____
* Browser (if using Office on the web): __chrome____

## Expected behavior
![image](https://user-images.githubusercontent.com/6097990

[2022-01-28 14:36] Pradhi15 commented on #2385
Hello,

Please let me know if you need further details on this.

[2022-01-28 19:50] Feetterer20 commented on #2395
@pkkj Thank you for the quick response! I ran your add-in in my local testing environment and utilized the cross-domain messaging and it appears to be working as expected.

Some things I noticed in your code that is different from our solution:
 - When I called `Office.context.requirements.isSetSupported("DialogOrigin", "1.1")` through the developer tools for both the add-in and the separate dialo

[2022-01-28 21:24] pkkj commented on #2395
Hi. I am wondering is it possible to use the CDN office.js in your environment for your add-in and verify whether the API is working. The Office.js is being updated very frequently so the older version might not work correctly. And please make sure that both your taskpane and dialog are consuming the Office.js from CDN.

Regarding the `Office.EventType.DialogParentMessageReceived`, I need this in

[2022-01-28 21:40] milankonir commented on #2386
As mentioned in the ticket description, these are coming in through our telemetry and we have a hard time reproducing in house. We are keeping an eye on these errors and will collect powerlift logs if we encounter them.

The errors are reported exclusively for Outlook for Mac "New UI", so far we have record following Outlook / Mac OS versions:

Outlook: 16.0.1211.1000 / Mac OS: 10.15.7
Outlook: 16

[2022-01-28 22:51] rulopimentel opened #2401 "Office.js SourceMaps.getMapForGeneratedPath: exception. It is impossible to debug an Outlook Add-In with Visual Studio"
# Office Add-In development.
I am trying to debug an Outlook Add-In application, but the Office.js library throws a Source Map exception.

## Your Environment

* Visual Studio 2019
* Office version number: Office 365
* Operating System: Windows
* Browser (if using Office on the web): Microsoft Edge

## Expected behavior
Add-In runs in the Outlook web application.

## Current behavior
- Add-In does

[2022-01-29 09:00] ghost commented on #2380
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-29 09:00] ghost commented on #2362
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-29 09:10] guliums commented on #2390
Hi @laurensmartz , Thank you for taking the time to report an issue. I tried this API on Excel win32 build 14827 and open the pdf using Adobe Acrobat Pro, I didn't see the javascript script. Could you share more details about the script you are using to download the pdf file and also the excel version you are using when met this issue? Thanks very much.

## Your Environment

* Platform [PC desktop

[2022-01-30 08:55] rundongmsft commented on #2394
Hi @Itrcx. Thanks for your reporting, bug 5760650 has been assigned for tracking this issue. Before the further fix, please use "ReadWriteDocument" permission as a workaround.

[2022-01-30 16:03] danlg opened #2402 "Word insertParagraph is not working on Mac (addin office.js)- only from Developer Window"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Expected behavior
I am expecting to have text inserted using my dialog. I have spent literally hours and it drives me mad.

# Current behavior
The current behaviour works ONLY from

[2022-01-30 16:50] danlg commented on #2402
May be related https://github.com/OfficeDev/office-js/issues/1094 @weshi . Any idea @raevskymichail ?

[2022-01-31 02:40] chengtie opened #2403 "Add-ins "flashes" when changing its width in Excel Online"
I realized that my add-in "flashes" when changing its width in Excel Online, then I tested with Script Lab, it has the same problem.

#### Steps to reproduce the problem:

1. Open for instance Script Lab in Excel Online
2. Click on a cell
3. Drap the border of the task pane and change its width
4. Click on another cell
5. We could see that the task pane "flashes"

Note that this problem does not e

[2022-01-31 02:50] jake-chambers commented on #2349
@jipinshi The addin is released, you can download it [here](https://appsource.microsoft.com/en-cy/product/office/WA200002252?tab=Overview). This blocks us from iterating on one of our latest features, there are around 3000 people using the add in.

[2022-01-31 05:50] exextoc commented on #2329
The feature is completely rolled out now, Can you please test it from your end and confirm if it works for you now.

[2022-01-31 05:58] exextoc commented on #2382
We used the add-in provided by you and for us it attaches the attachment as expected. Not sure if we are missing any step to reproduce the issue. Can you please share a video for the issue to help us understand more.

[2022-01-31 07:55] JatinGupta22 commented on #2399
@otisyuan789 Can you please provide us a video to better understand the UI experience you are seeing with display dialog? Thanks!

[2022-01-31 09:08] Suntechnick commented on #2399
We are experiencing the same issue in the same environment.

In our code we call `Office.context.ui.displayDialogAsync` method on Send button click, in console we log the result of it and it is always successful:
![displayDialogAsync result](https://user-images.githubusercontent.com/30172623/151765828-bad5ff86-25c9-461a-9e33-b29f37a1ccfc.JPG)
Despite that, sometimes dialog is not shown and the .ht

[2022-01-31 10:15] guzman-rc commented on #2329
The event is executed only for the first attachment. When the second file is attached the event is not fired.

You can use the following implementation of Outlook add-in for event-based activation to test:
https://www.adarsus.com/addin/outlook_event/manifest.prod.xml

[2022-01-31 12:07] exextoc commented on #2277
We are looking at the logs to understand the issue more. In the meantime if possible, please share the repro steps to debug at our end or a test account where this is reproable

[2022-01-31 12:28] exextoc commented on #1861
@barclayadam thanks for the update.
We have addressed some bugs in msoadfsb.exe that could be the reason why the issue is fixed for some users.
And for the .well-known issue, please don't use an empty file. Having the file will help users on older builds that have the bug that is addressed by adding this file.
I have alerted the sandbox team to look into the crash in msoadfsb.exe. Thanks for addin

[2022-01-31 12:42] exextoc commented on #2302
The latest build for the Semi-Annual Channel (SAC) is 16.0.14326.20738, which is currently deployed to 100%. Customers on the older builds will have to move to this newer build. During our tests, we were unable to reproduce this issue on the latest SAC build, so the issue appears "fixed" in newer builds. We disabled the Chromium Edge sandbox and the taskpane add-ins were rendered and worked succes

[2022-01-31 12:51] exextoc commented on #2385
Unfortunately, office-js refers to Office add-ins built using the modern web framework.
For help on COM/VSO add-ins, please post in the Outlook forum : https://answers.microsoft.com/en-us/outlook_com/forum

[2022-01-31 14:28] guzman-rc commented on #2382
The error appears randomly.
Please create new emails and attach files, the error will appear after several attempts.

[2022-01-31 15:13] exextoc commented on #2381
We are not able to repro the issue at our end with the configuration mentioned by you. It will be good if you can share the manifest or the test account with us where the issue is reproable. Also you can share the Diagnostics ID with us to look at the logs.
How to get Diagnostic ID:
Repro the issue, then click on help->Collect Diagnostics . You will see a popout with Incident ID
![6aa172df-7e4d-41

[2022-01-31 15:25] barclayadam commented on #1861
@exextoc I have updated the readme with my email address, I look forward to hearing from you.

We do not return an empty .well-known file in production, I was only testing with different variants before.

[2022-01-31 16:10] exextoc commented on #2397
Do you have a video you can share so that we can better understand this issue?

[2022-01-31 16:43] cidev5 commented on #2051
Hi @grangeryy, thank you for the update.

Regarding the equivalent XLL workaround, I don't understand how this would work for our case.

We try to make using our add-in as straightforward a process as possible. So we have our add-in that we instruct our clients to download via the Office Add-ins store.

It sounds like, but correct me if I'm wrong, that for this workaround we would need to instruct

[2022-01-31 20:09] courington commented on #2398
Following this issue as I have an Outlook add-in with customers effected by this bug. Web (Chrome and Edge) affected, desktop app working as expected.

[2022-01-31 20:11] cbishop-fv commented on #2398
Our app is seeing the same.

[2022-01-31 22:40] Feetterer20 commented on #2395
@pkkj After updating my local environment to consume `Office.js` from the CDN, I was able to verify that messages were being sent correctly across domains and the code in our solution was then working as expected.

With regards to where we need to add the `Office.EventType.DialogParentMessageReceived` event handler, I was able to get things working correctly with just having this added to the task

[2022-01-31 23:34] #2385 closed, assigned to exextoc

[2022-01-31 23:58] exextoc commented on #2261
@thoriyadaxesh is there a reason why you cannot use the ReadItem permission level?

[2022-02-01 00:04] eneoli opened #2404 "How to read manifest information (for example id)?"
Is there any way to read the properties defined in the addin manifest?

[2022-02-01 03:25] exextoc commented on #2113
Closing this bug as per the answer posted on Oct 21, Please reopen if you still see any issues again.

[2022-02-01 03:25] #2113 closed, assigned to exextoc

[2022-02-01 04:01] exextoc commented on #2388
Thanks for reporting this issue regarding EnhancedLocation.getAsync. We are able to reproduce this issue internally. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-02-01 05:49] exextoc commented on #2329
Thanks for reporting this issue regarding OnMessageAttachmentChanged event. We are able to reproduce this issue internally. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2022-02-01 10:55] aliabyshev opened #2405 "Outlook add-in: Calling saveAsync on CustomProperties throw error Sys.ArgumentOutOfRangeException"
# Provide required information needed to triage your issue
After trying to save large data in custom properties have an error

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Operating System: Windows 10 Enterprise
* Browser (if using Office on the web): Chrome

## Expected behavior
saveAsync should save

[2022-02-01 11:00] ghost commented on #2380
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-01 11:00] #2380 closed, assigned to nobody

[2022-02-01 11:00] ghost commented on #2362
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-01 11:00] #2362 closed, assigned to dingjin-ms

[2022-02-01 11:38] exextoc commented on #2383
we are not able to repro this at our end, can you please share the repro video or some test tenant where this issue is reproable.

[2022-02-01 11:41] exextoc commented on #2386
The format of the outlook version you have shared doesn't match with Mac outlook version. Mac outlook versions looks like
![c591b39d-e6b8-4460-a2ad-0b15a0f90133](https://user-images.githubusercontent.com/28549921/151962233-a9c61e8e-97ec-4bf1-8149-d763bf0dbc0a.jpg)
Can you get it by clicking on : Outlook->About Outlook and share it with us.

[2022-02-01 11:43] exextoc commented on #2393
Thanks for reporting this issue regarding displayNewAppointmentForm(). We are able to reproduce this issue internally. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-02-01 11:44] exextoc commented on #2398
We have fixed the bug, will update you once it reaches 100% of the users.

[2022-02-01 11:49] JatinGupta22 commented on #2404
Hi @EneOli can you post this question on Stack Overflow and tag it with office-js, and the team will get back.
https://stackoverflow.com/questions/tagged/office-js

[2022-02-01 11:53] exextoc commented on #2400
We are not able to repro this at our end, can you please share a hosted manifest with which we can repro or a test tenant where this issue is reproable.

[2022-02-01 12:36] aliabyshev commented on #2405
I see that now it is only 2500 characters, so it can be closed

[2022-02-01 12:36] #2405 closed, assigned to exextoc

[2022-02-01 13:30] milankonir commented on #2386
As I already mentioned on two occasions, the errors are collected in our telemetry that is coming in from customers. The versions come from the `Office.diagnostics.hostVersion` API  https://docs.microsoft.com/en-us/javascript/api/outlook/office.diagnostics?view=outlook-js-preview#outlook-office-diagnostics-hostversion-member

For old UI for Mac, the diagnostics API reports same version as is displ

[2022-02-01 13:42] milankonir commented on #2277
Unfortunately, we have no stable repro that we could provide at the moment, we continue to investigate the issue on our end.

[2022-02-01 16:09] danlg commented on #2402
Any idea @grangeryy ?

[2022-02-01 17:50] ndreisg opened #2406 "Office 2016 VLSC versions still use Internet Explorer to display Add-Ins"
# Office 2016 VLSC versions still use Internet Explorer to display Add-Ins

## Your Environment

* Platform: PC Desktop
* Host: Excel/Word
* Office version number: 16.0.5266.1000
* Operating System: Windows 10

## Expected behavior
Since Internet Explorer support will soon be discontinued, I would expect VLSC versions to use the new WebView 2 instead (like the C2R versions already do).

## Current

[2022-02-01 20:36] timbeese opened #2407 "Different icon sizes aren't being used, other icons are being scaled"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
I have an Excel add-in that defines several buttons on the ribbon, as well as a menu that has several buttons beneath it.  O

[2022-02-01 23:43] avisheknand commented on #2356
@exextoc , any updates on this issue?

[2022-02-02 04:20] kodefile opened #2408 "Add-In Size Limit for CustomXMLPart on Web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
I have written an add-in for **Word** that stores some data as a custom xml part. When the add-in runs on the Desktop for bo

[2022-02-02 08:20] exextoc commented on #2379
We are not able to repro the issue at our end. We debugged using contoso add-in and the function validateSubjectAndCC gets called only once. Also the add-in works perfectly fine in main and popout window both. Can you please share a repro video or a test account where the issue is reproable to help us understand more on this issue.

[2022-02-02 10:37] gkarmelich commented on #2384
Is there any update on this? I am also seeing this bug and I have been unable to get any support from Microsoft. Every channel (Azure team, Office 365 help) I have contacted has not been able to help. This issue has caused much confusion to our users and it is concerning nobody on the Microsoft team has any idea about this.

[2022-02-02 11:08] Stepan-Valkov opened #2409 "Office js object table.sort.fields is empty when table's header is hidden in Excel"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Version 2112 Build 16.0.14729.2025

[2022-02-02 11:35] sztukiecki opened #2410 "Microsoft Graph instead of Outlook REST API (version 2.0)"
I saw that the Outlook REST API will be removed in November 2022 and wanted to start using Microsoft Graph instead.
But the only solution I found to get the authorization token is to show login popup to user.
This doesn't make sense to me, as the user is already authenticated in the context of his Outlook account.

There is also Office.context.mailbox.getCallbackTokenAsync(), which returns the tok

[2022-02-02 13:40] dhoelzl opened #2411 "Inserting a content control with customXML binding to a document package removes custom style in last paragraph"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When inserting a content control via insertOoxml wich has an xpath binding to a node in a customXML containing a complete do

[2022-02-02 14:42] Nikolay-Uvarov opened #2529 "The element 'Host' in namespace 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1' has invalid child element 'Runtimes' in namespace 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1'"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

I tried to configure my Outlook add-in for event-based activation. I went step by step and got the following error:

I found Runtimes node only in  [http://schemas.microsoft.com/

[2022-02-02 16:33] fjaeger commented on #2383
You should be able to reproduce this by first dragging an image into a draft email and afterwards opening the task pane with the simple demo add-in source:

`Office.onReady(() => {
  Office.context.mailbox.item.saveAsync(() => {});
});`

When sending the email next, the image attachment will be broken. It seems that either the part in a multipart message is broken, e.g.

[code]

or it is still ref

[2022-02-02 16:34] wh1t3cAt1k commented on #2031
Hi @grangeryy @keyur32 !

I wanted to ping if this is something scheduled to be fixed soon?

It becomes an increasingly painful issue for our larger customers who now expect their big workbooks to work consistently across all platforms (Windows, Online, Mac).

The same workbooks that worked fine on Win / Mac suddenly break when opened in Online due to the limitation.

[2022-02-02 18:15] AlexJerabek commented on #2529
Thanks for reporting this @Nikolay-Uvarov.

@ElizabethSamuel-MSFT, could you please take a look?

[2022-02-02 21:15] GrumpyAL commented on #2381
Hello,

We now have 3 customers reporting this issue (I still haven't been able to reproduce myself).  I have sent some details to the address provided above regarding a repro one of the customers did.

Something else of note in this, when we see this issue (Where ItemID is empty) we also are unable to get an EWS token.  That is visible in the test results as well.  For visibility's sake I'll post

[2022-02-02 22:47] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov Can you share some info about your setup? Thanks.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

[2022-02-02 23:24] Nikolay-Uvarov commented on #2529
@ElizabethSamuel-MSFT
Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
Host [Excel, Word, PowerPoint, etc.]: Outlook
Office version number: 2016
Operating System: Windows 10
Browser (if using Office on the web): Chrome

[2022-02-02 23:31] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov Thanks for the info. Can you also share the Outlook version and build numbers?

These instructions should help if you're not already familiar with the steps.

Thanks.

[2022-02-03 03:10] exextoc commented on #2386
Thanks for reporting this issue. We are able to reproduce this issue internally. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-02-03 03:16] exextoc commented on #2399
We are not able to repro the issue at our end. Can you please share a repro video or a test account where the issue is reproable to help us understand more on this issue

[2022-02-03 05:55] exextoc commented on #2381
Have you sent a mail on OutlookAddins@M365x693897.onmicrosoft.com, we have not received any details.

[2022-02-03 10:01] StevenDeRoover commented on #1418
Following ...

[2022-02-03 10:01] Nikolay-Uvarov commented on #2529
@ElizabethSamuel-MSFT
Thanks!
Version: 16.0.4498.1000

I got those errors in Visual Studio 2022. I can not build the project. Does the office version affect VS 2022?

Screenshot from VS:
![image](https://user-images.githubusercontent.com/22148553/152320988-94395724-41ae-404c-a64b-b4b71716aa28.png)

[2022-02-03 10:07] ch-alex72 commented on #2398
Dear exextoc!

Can you estimate how much time this could take? We are experiencing this issue in combination with the Salesforce Outlook Addin...

Thanks a lot in advance!

Br, Alex

[2022-02-03 10:37] exextoc commented on #2382
we are able to repro the issue with the following steps:
1. Install the add-in
2. Reply to an email
3. Switch to full compose mode
4. Close the full compose mode window
5. Click on "Resume Editing" button on the nested compose window
6. Open the add-in
7. Attach a file through the add-in

We see the below error in the add-in:
![7dc5034c-e67d-4184-99f7-6adb4ac0adea](https://user-images.githubuserco

[2022-02-03 10:57] JatinGupta22 commented on #2404
Closing this issue. If you feel the issue is not resolved and needs to be re-opened, let us know.

[2022-02-03 10:57] #2404 closed, assigned to nobody

[2022-02-03 11:14] exextoc commented on #2300
The fix build is 16.0.14701.20290.
And we have updated the hosted JavaScript libraries as well.

[2022-02-03 11:14] #2300 closed, assigned to exextoc

[2022-02-03 11:47] guzman-rc commented on #2382
Yes, that is the error.
The error only occurs in Outlook desktop "**new Mac UI preview**", in classic view the function call:
Office.context.mailbox.item.addFileAttachmentFromBase64Async
works correctly.

[2022-02-03 11:51] Suntechnick commented on #2399
I'm not permitted to show a video unfortunately, but it seems that our case is exactly the same as the one described in this ticket:
https://github.com/OfficeDev/office-js/issues/1509

[2022-02-03 13:09] GrumpyAL commented on #2381
Yes, I sent it from a dev account (so another onmicrosoft.com domain).

![image](https://user-images.githubusercontent.com/28786762/152348847-31558532-8032-4187-90f8-595d821739c1.png)

[2022-02-03 16:19] exextoc commented on #2383
We are not able to repro this issue at our end. Please share the demo test tenant where the issue is reproable.

[2022-02-03 17:08] Feetterer20 commented on #2395
@pkkj To follow up on this issue, we saw there was a new `Microsoft.Office.js` Nuget package released (`v1.1.0.19`) which we have installed in our solution and this has resolved our issue.

Thank you again for all of your help, it is very much appreciated!

[2022-02-03 17:08] #2395 closed, assigned to pkkj

[2022-02-03 17:42] hiddenkirby commented on #2382
I'd like to add, that I am seeing this issue as well... but it is very specific to ONLY when composeType is 'forward' for me.

I have a SO here - https://stackoverflow.com/questions/70975668/officejs-outlook-add-in-getting-internal-error-when-using-addfileattachmentfro

[2022-02-03 20:02] Jason-Chieh-Lee commented on #2374
Hi guys,

Has there been any updates on this issue?

[2022-02-03 21:28] JensMadsen commented on #2370
hi @xiruatms . Sorry about the delayed response. The error happened to me when inserting HTML  into Word online and then inserted contentcontrols. The NBSP does not show in Word Desktop.

I have bad experiences with contentcontrols in Word online. Therefore, I have spend the last days to get rid of them in my application. I could close several weird bugs.

[2022-02-03 21:50] girazuzta commented on #966
same thing happening to me
it fails constantly (result.status === Office.AsyncResultStatus.Failed)
when I get this result I re run the query, but fails over and over again to get the same resource data.

[2022-02-03 22:41] exextoc commented on #2410
There are a few authentication options for Outlook add-ins. These options are detailed in the documentation [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/authentication).

One option is to use SSO. Single sign-on access tokens provide a seamless way for your add-in to authenticate and obtain access tokens to call the [Microsoft Graph API](https://docs.microsoft.com/en-us/graph

[2022-02-04 00:28] geniuslionel commented on #2398
Last week, I noticed this issue and thought it was our module. Our module was written and tested five years ago. We have a ton of users affected by this issue. Patiently waiting :)

[2022-02-04 03:07] thao33 commented on #2392
Sorry but still investigating?

[2022-02-04 06:14] exextoc commented on #2382
@guzman-rc Thanks for reporting this issue. We are able to reproduce this issue internally. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-02-04 08:24] exextoc commented on #2398
We have fixed the issue, please confirm.

[2022-02-04 09:00] ghost commented on #2396
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-04 10:23] lukesolar commented on #2261
Hi - I'm facing the same problem. Maybe related to this one. However I did set `<Permissions>ReadWriteItem</Permissions>`
The problem only appears on Office 2016 (exact version: 16.0.5197.1000) (maybe with IE running in the background, which is still supported)
Can you reproduce this? Any suggestions?

[2022-02-04 11:19] thoriyadaxesh commented on #2261
"ReadItem" permission gives me more control over user's mail, which is privacy risk. Mail could be anything, it can contain personal information.
We don't need those details to run our add-ins then why should we give more permission to our add-ins.

[2022-02-04 11:50] ltrcx opened #2412 "OfficeRuntime.Storage: Where is the data actually stored on Excel Desktop & Web?"
Hello, I have an excel add-in that has some custom functions (functions.html, functions.js...) and a task pane. It's not using the shared runtime. Task pane has some html inputs to get credentials from the user. These credentials are stored with OfficeRuntime.storage. Then these are accessed within the custom functions to make an API call.

The data is shared with the OfficeRuntime.storage between

[2022-02-04 12:16] danlg commented on #2402
Is someone working on this issue ? This is a blocking point for me to develop a product integrating well with Word and Office applications. What is the alternative @Zlatkovsky, can you coach for 1 hour for a fee?

[2022-02-04 12:27] JensMadsen opened #2413 "word: range.search on empty string crashes"
Not if if this is intended but search with an empty string e.g.
[code]

yields :

[ERROR]: Error:
{
    "stack": "RichApi.Error: The argument you provided is not valid. Check the OfficeExtension.Error.debugInfo for more information.\n    at new n (https://appsforoffice.microsoft.com/lib/1/hosted/word-web-16.00.js:26:307868)\n    at n.i.processRequestExecutorResponseMessage (https://appsforoffice.m

[2022-02-04 13:14] Nikolay-Uvarov commented on #2529
Manifest:
[code]

[2022-02-04 14:18] ronald-forscale commented on #2068
Hi @honxmsft , it seems the workaround is too good to be true. The loaded top and height properties are independent from the zoom, it is the placement of the shapes that depends on the zoom.

[2022-02-04 15:25] GrumpyAL commented on #1731
I'm seeing something similar to this with other locale codes for MacOS and iOS.  I'm not sure if related to this or if you'd prefer or I open a new bug (or if it's working as intended).

However, on both Mac or iOS if locale is set to es-ES (or any es-XX locale) Office.context.displayLanguage will always return es-US.  This is also true for en-GB (it will return en-US).  Works as expected on OWA a

[2022-02-04 15:58] Zlatkovsky commented on #2402
@danlg , I've left the Extensibility team some time ago, so I'm afraid I'm no longer involved (nor particularly current) on the product, nor am I doing any coaching/etc. Hopefully someone from the product team can help. You filed your bug in the right place.

FWIW, looking at the video, it's unclear to me what the difference is between the "Developer window" vs "Dialog window". How are you launchi

[2022-02-04 18:02] oldoldman opened #2414 "call Office.onReady in a dialog page raise exception"
I have an excel dialog page (```dialog.html```) which is opened from an add in command function and I follow this [doc](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#handle-dialogparentmessagereceived-in-the-dialog-box) to set up to enable the dialog to receive message from parent , in ```dialog.html```
[code]
in command function
[code]
the bi-direction c

[2022-02-04 18:13] alexisweeren commented on #2398
Running into the same problem as discussed above. Still not working for me :/

[2022-02-04 19:50] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov Thanks for providing this information. We're investigating.

Thanks.

[2022-02-04 22:55] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov It seems like the XSD files are out-of-date. The instructions for how to update the ones you need can be found in the [troubleshooting guide](https://docs.microsoft.com/office/dev/add-ins/testing/troubleshoot-development-errors#manifest-schema-validation-errors-in-visual-studio-projects). Can you try that out and see if it helps?

Also note that the instructions in the event-based

[2022-02-05 00:00] ghost commented on #2397
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-05 00:33] geniuslionel commented on #2398
@exextoc Looks like the fix didn't propagate immediately. My timezone is PST. Until early afternoon, had intermittent successful API calls. Late afternoon, had all successes. I'll check again Monday. Thank you and have an excellent weekend!

[2022-02-05 00:59] ctruong9 commented on #2396
It this screen recording, you can see I use keyboard navigation to go from the Search bar and eventually to open Outlook Add-in for One Note. From there, you can see the keyboard focus stays on the "..." Onwards, I try to keyboard navigate through the Outlook app to be able to reach inside of the One Note add-in but as you can see, my keyboard focus loops around until I reach the line with all the

[2022-02-05 01:20] ctruong9 commented on #2397
As you can see in the recording provided, I click on "Search People" text input to begin keyboard focus. From there, I use keyboard navigation to go to OneNote add-in button. I activate OneNote add-in pressing "space bar" and from there you can see keyboard focus disappears. While there is no keyboard focus, I am continually pressing tab and you can see from about 10 second to 14 second mark, ther

[2022-02-05 03:19] exextoc commented on #2397
Thank you for the video. We have fixed the bug and the fix should be available in build 16.0.14816.10000 or later. When an updated build is available depends on the release channel a customer is on.

[2022-02-05 21:00] ghost commented on #2302
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-06 17:14] girazuzta commented on #966
Problem solved
The promise returns "failed" when several promises are hold at the same time and one function is trying to handle all the resolutions at once. For instance, you use a loop from the first resource to getResourceMaxIndexAsync to iterate getResourceByIndexAsync and getResourceFieldAsync for each field that you need using Promise.all, at the end of the iteration you handle the resolutio

[2022-02-06 19:55] jimbarrett33 commented on #667
FYI. This is still broken on the Mac Client. Version 16.57 (22011101). Setting any table option other than headerRow causes `Office.context.document.setSelectedDataAsync()` to fail with error "One or more of the tableOptions parameters have values that aren't allowed. Double-check the values and try again."

This [comment ](https://github.com/OfficeDev/office-js/issues/78#issuecomment-505619312) s

[2022-02-06 22:19] r0bb077 commented on #2398
Still running into the issue here also.

[2022-02-07 01:03] dariok opened #2415 "Word Online: inserting a link crashes Word and possibly Edge"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In Word Online, I try to insert a simple hyperlink to a selected text. This used to work just fine but now Word crashes every time I try it. I usually inserted that link simply by wra

[2022-02-07 02:46] grangeryy commented on #2402
@danlg, could you help to provide more details on the differences between "Developer window" and "Dialog window"?

[2022-02-07 03:08] grangeryy commented on #2031
Hey @wh1t3cAt1k, this item is still tracking in our backlog. Before increasing the number of custom functions for web, we are now working on addressing payload size limit for Excel Online for add-ins (this is the pre-condition to support larger amounts of calculations) and hopefully issues around large calculation will be mitigated after the effort.

[2022-02-07 03:12] wh1t3cAt1k commented on #2031
That's great news @grangeryy , please keep us posted!

[2022-02-07 03:26] exextoc commented on #2356
We have fixed the issue, will update you once it reaches 100% of the users.

[2022-02-07 07:21] glr0221 opened #2416 "Email Addins Are not Enabled for emails with 'Content-class:sharing' header."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Emails with the 'Content-class:sharing' header disables the use of addins for Outlook clients in MAC and Windows. OWA-Outlook however, allows the use of addins for emails with the s

[2022-02-07 07:40] JHJ-MS commented on #2412
Yes. For add-in on Excel online, the data created with OfficeRuntime.storage is stored in local storage.
For add-in on Excel Desktop, each add-in has an independent sandbox that guaranteed the runtime(and the data) of one add-in is isolated from other add-ins. The data stored with OfficeRuntime.storage is stored in the corresponding local storage.

Here is another [documentation](https://docs.micr

[2022-02-07 08:08] ltrcx commented on #2412
@JHJ-MS Thanks a lot for the details.

The documentation page you shared also mentions:

I didn't use the shared runtime because all I need is to share API credentials between taskpane and custom function. And I can do that with OfficeRuntime.storage without using **shared runtime**. I wonder why the shared runtime is suggested everywhere while there is a solution like OfficeRuntime.storage? Do yo

[2022-02-07 08:25] RuizhiSunMS commented on #2391
Close the issue for long time waiting for feedback. Please re-active issue if there was any other question.

[2022-02-07 08:25] #2391 closed, assigned to nobody

[2022-02-07 08:58] RuizhiSunMS commented on #2408
Thank you for reporting this issue.
The limitation towards file size is by designed according to consideration on server's load and others. So we will not fix it in short term.
We recommend you to submit a new Tech Community New Ideas Item which will give us visibility of the commonality of it (You can submit on https://aka.ms/m365dev-suggestions).

[2022-02-07 09:48] JHJ-MS commented on #2412
Hi @ltrcx,
Actually, on Excel desktop, a non-SharedRuntime CF add-in will run code for custom functions and the task pane in separate JavaScript runtime. The purpose of SharedRuntime is to configure an add-in to share code in the same JavaScript runtime. This enables better coordination across your add-in and access to the task pane DOM and CORS from all parts of your add-in. Compare to OfficeRunt

[2022-02-07 10:30] ltrcx commented on #2412
@JHJ-MS Thank you so much for the help.

[2022-02-07 10:30] #2412 closed, assigned to nobody

[2022-02-07 11:21] Nikolay-Uvarov commented on #2529
@ElizabethSamuel-MSFT I updated MailAppVersionOverridesV1_1 and OfficeAppManifestV1_1 files but it **did not help** me. I
still have the same error. As I said I could not find 'Runtimes' child for 'Host' node in the http://schemas.microsoft.com/office/mailappversionoverrides/1.1 schema [link](https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-owemxml/8e722c85-eb78-438c-94a4-edac7e9c

[2022-02-07 12:00] ghost commented on #2399
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-07 12:32] bcziommer-sovarto commented on #1652
Any update on this?
It's still happening

[2022-02-07 12:40] guliums commented on #2409
Thank you @Stepan-Valkov for reporting this issue. The issue has been confirmed and tracked as ADO#5781997 in our backlog.

[2022-02-07 13:45] Nikolay-Uvarov commented on #2529
I tried to use [Yeoman generator (yo office) version of the quick start](https://docs.microsoft.com/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) and it seems to be working.

Does event-based activation work for Outlook 2016? Maybe I did something wrong but it doesn't work in Outlook 2016. It does in Web.

Thanks!

[2022-02-07 15:06] kodefile commented on #2408
Thanks for your feedback on this issue but I am not sure I understand the issue about server load because I can add multiple CustomXML Parts each of size 1MB. I have successfully added 27 CustomXML Parts, each 1MB, in a single file. So the aggregate size of the custom   xml is 27MBs.  The CustomXML Part size limitation wouldn't be an effective way of limiting server loads.

The Size Limit on the W

[2022-02-07 17:54] alexisweeren commented on #2398
It is working for me now!

[2022-02-07 19:13] samantharamon commented on #2416
Thank you for reporting this and for providing your repro steps, @glr0221.

@exextoc, would you be able to assist with this?

[2022-02-07 22:19] robebsta commented on #2398
I take that back, it seems to be working for me now also.

[2022-02-07 23:09] avisheknand commented on #2356
@exextoc thanks for the update. Appreciate the work on this :)

[2022-02-07 23:32] #2397 closed, assigned to exextoc

[2022-02-08 00:00] ghost commented on #2410
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-08 01:32] xiruatms commented on #2413
@JensMadsen , thanks for reporting this.

I confirm this is an expected result as the error message shows:
..
"code": "InvalidArgument",
"message": "The argument you provided is not valid. Check the OfficeExtension.Error.debugInfo for more information.",
...

Empty string is not accepted as a string to be searched.

[2022-02-08 01:45] pkkj commented on #2414
Hi,

This is a known issue. However, this exception is just a false alarm and it has no impact to later API call. This issue is expected to be fixed in the next release of Office.js.

Thanks.
Kejing

[2022-02-08 01:48] oldoldman commented on #2414
ok. thanks

[2022-02-08 01:48] #2414 closed, assigned to nobody

[2022-02-08 02:58] SiruiSun-MSFT commented on #2214
Hi Krajdeepr, the fix has been released into production already. Thanks again for your reporting!

[2022-02-08 04:10] exextoc commented on #2398
@geniuslionel Can you please confirm if the issue is fixed for you?

[2022-02-08 06:23] christian-sap commented on #1958
Hi @RuoyingLiang , no update since 4 months now. Are you planning to fix this?

[2022-02-08 07:01] giulianozor commented on #1037
@AlexJerabek I suppose this will not be fixed... is this project still maintained ?

[2022-02-08 08:01] NgaiKaKit opened #2417 "enhancedLocation.removeAsync will return error 2006 when the room emailAddress's top level domain are more than 6 character in Windows Outlook"
# Provide required information needed to triage your issue
enhancedLocation.removeAsync will return error 2006 when the room emailAddress's top level domain are more than 6 character in Windows Outlook.

## Your Environment

* Platform: PC desktop
* Host: Outlook
* Office version number: Microsoft® Outlook® for Microsoft 365 MSO (Version 2201 Build 16.0.14827.20158) 64-bit
* Operating System: Wind

[2022-02-08 08:29] JHJ-MS commented on #2374
Hi @Jason-Chieh-Lee,
I can not repro it. I have generated a Custom Functions Add-in project using yo office and choosing TypeScript. I run this project on Excel Desktop that is using IE11. The basic custom function =CONTOSO.ADD(1,2) is working as expected.

May I know how you config your Excel to use IE11 but not Chromium-based browsers?

[2022-02-08 11:26] Stepan-Valkov commented on #2267
I have created a feature request for this issue: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/excel-add-in-with-custom-functions-should-reload-without-issues/idi-p/3135920#M700

[2022-02-08 12:51] RuizhiSunMS commented on #2415
Hello @dariok , thanks for reporting this issue. We will trace this as a work item with id 5785166 and it has been put into our backlog. Reply will be given out as soon as the bug is fixed but it's hard to share timeline now.

[2022-02-08 15:26] andreismolingmail opened #2418 "A pane add-in closes without user action"
# Provide required information needed to triage your issue
Download the sample add-in project here: [http://s3.amazonaws.com/temp.add-in-express.com/support/as/test-excel-app.zip](http://s3.amazonaws.com/temp.add-in-express.com/support/as/test-excel-app.zip).

Install the certificate; see the ssl folder.
Start node app.js to run the application on https://localhost:4200.
Start  Excel Online and lo

[2022-02-08 15:31] GrumpyAL commented on #2381
Hello,

Just following up on this.  Did that message come through? Do I need to resend?  I have a 2nd diagnostic ID to share but wanted to confirm receipt of the above first.  Thanks.

[2022-02-08 15:48] ubabukos commented on #2311
Hi @chiz-ms following the suggestion by MS to batch content controls into smaller chunks, we did notice a performance improvement albeit a small one, when adopting this approach. We plan to implement a solution similar to the code snippet below into the add-in as the __temporary workaround__ so please continue to work on a much better, long term solution to improving this particular performance is

[2022-02-08 15:53] alexisweeren commented on #2398
Hi, this was working for me yesterday and now I am getting the same error as before.

[2022-02-08 16:34] els-ts commented on #2311
In addition to what @ubabukos said, some view on the metrics:

No: of content controls in the document | Average times with existing implementation | Average times with batches of 10 | Average times with batches of 25 | Average times with batches of 50
-- | -- | -- | -- | --
40 | 1.305s | 1.571s | 1.266s | 1.288s
80 | 2.320s | 2.715s | 2.384s | 2.407s
160 | 5.322s | 5.272s | 5.046s | 4.903s
320 |

[2022-02-08 17:34] exextoc commented on #2401
1. Can you help us with the steps you followed to understand more around it ?
2. Did you make any changes to the files, or you were not able to start the initial debugging ?

You can follow these docs for smooth debugging
1. https://docs.microsoft.com/en-us/visualstudio/vsto/configuring-a-computer-to-develop-office-solutions?view=vs-2022
2. https://docs.microsoft.com/en-us/office/dev/add-ins/devel

[2022-02-08 17:47] rulopimentel commented on #2401
Hi @exextoc , These are the steps to reproduce the behavior:

1. Using Visual Studio 2019, create a new Project. Create a new web Outlook Add-In (c#)
2. Compile and execute.
3. Wait for Outlook to be launched on the web.
4. Start the session
5. Compose a new message
3. Read the log in the Output window in Visual Studio.

**You could read the next exceptions:**
Failed to load resource: the server r

[2022-02-08 17:51] alexisweeren commented on #2398
@exextoc

[2022-02-08 17:53] Jason-Chieh-Lee commented on #2374
I followed the instructions here in Microsoft's tutorial https://docs.microsoft.com/en-us/office/dev/add-ins/testing/ie-11-testing#install-a-version-of-office-that-uses-internet-explorer

and installed a version that uses IE 11 for example 16.0.13127.21668. Was the version I provided above not running IE 11?

If that's the case, then the version I ran above also does not work.

Another one of my q

[2022-02-08 17:55] Shujee commented on #2183
Any update about this? I'm getting this behavior on Windows 11 and Word 2019 MSO (Version 2201 Build 16.0.14827.20028) 32-bit. `insertText` simply doesn't insert anything in the ContentControl. No exception either.

[2022-02-08 17:55] Jason-Chieh-Lee commented on #2374
Furthermore, could it be an issue with configuring the addin to use a shared runtime?

[2022-02-08 18:15] samantharamon commented on #2418
Thank you for reporting this and providing the steps you took, @andreismolingmail.

 @dingjin-ms, could you please assist with this? Thanks!

[2022-02-08 18:19] samantharamon commented on #2417
Thank you for reporting this, @NgaiKaKit.

@exextoc, could you please assist with this? Thanks!

[2022-02-08 18:42] AbidRahman-MSFT commented on #1037
Hey @giulianozor,

A few questions to help understand the issue:
1. You have two different manifest files, one is v1.0.1.0 and one is v1.0.2.0.
2. The 'AutoShowTaskpaneWithDocument' feature was added as part of v1.0.2.0
3. Are you sideloading both of these manifests in your steps?
4. When you remove v1.0.1.0 and sideload v1.0.2.0, then re-open the file, are you finding that the add-in installed is

[2022-02-08 19:18] yihuax-msft commented on #2183
@mynameismon What is the expected behavior? What are the results you saw on your computer? I am not clear what is the problem you encountered....

When you said "Select" content control, did you mean to select all text INSIDE the content control, or you meant to select also the control control's start and end tags? (click ribbon's Developer tab and then click "Design Mode".)

Also, when you said "

[2022-02-08 19:25] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov Glad to hear that the yo office version worked for you. Office 2016 (one-time purchase) only supports up to 1.4. The supported Outlook clients are noted in [this article](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#outlook-client-support).

I'll continue investigating the VS situation and let you know.

Thanks.

[2022-02-08 19:54] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov We're working on getting the Mail 1.1 XSD updated to include Runtimes and related elements. Thanks again for letting us know about this issue.

Thanks.

[2022-02-08 23:00] ghost commented on #2302
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-08 23:00] #2302 closed, assigned to nobody

[2022-02-08 23:37] geniuslionel commented on #2398
@exextoc It's fixed. Yesterday, our support also confirmed this. If possible, please add a unit test. I already added a watch dog in our code just in case this happens again. Thank you!

[2022-02-09 02:14] JinghuiMS commented on #2403
Thanks for reaching us. Can I know which browser & system you are seeing this error? It's definitely not right to have this error, I also can't repro it on my side. If you can provide a repro video, that will be helpful for us to better understand your scenario.

[2022-02-09 03:21] giulianozor commented on #1037
@AbidRahman-MSFT
Hello,
1. yes
2. yes
3. yes
4. IIRC it was 1.0.2.0, but it was 2 years ago and I might be wrong. I am sure I cleaned the cached add-ons after removing 1.0.1.0

I can't check if this is still an issue as I moved to different tasks

[2022-02-09 04:20] gingerjia commented on #2418
@andreismolingmail, this is due to the session has been inactive for long time and need to silent load when you back to the session. During silent loading happens, the taskpane will be closed automatically.
If you think it's a blocker for your side, please help to visit https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform to request a new feat

[2022-02-09 06:25] JinghuiMS commented on #2406
Thanks for reaching us. This is current design, you can refer to the following document.
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

If you need it working on WebView 2, you can submit the new requirement for new feature asking.

[2022-02-09 07:18] mynameismon commented on #2183
Hi,

It has been a while since I have touched this, but I can certainly answer your questions from my memory.

Expected Behaviour: Text is inserted in the content controls on calling ``wordCountContentControls.insertText()``
Results: Nothing happens. By nothing I mean, no text is inserted.

All the text. However, that is not where the problem lies, since the content control is being identified fin

[2022-02-09 07:22] exextoc commented on #2381
We could confirm with the logs that the item id is empty. However, we are unable to repro this in our environment with version 16.57. Could you please share a test account with us on the admin@a830edad9050849405e20081103.onmicrosoft.com if it is a consistent repro for you?

[2022-02-09 07:31] exextoc commented on #2112
Hey @gitcnd, are you still able to reproduce the issue?

[2022-02-09 08:11] RuizhiSunMS commented on #2384
Sorry for delay @gkarmelich , my colleagues still have to do some discussions on it.

[2022-02-09 08:17] rstoye opened #2419 "Outlook 2016 - makeEwsRequestAsync - AccessDenied -> callbackToken missing ParentItemId"
We have developed an Outlook Add-In with backwards compatibility for Outlook 2016 and 2019 as well as Exchange 2016 and 2019. For accessing attachment information of the mail item via soap request we use `makeEwsRequestAsync`. This works fine on any legacy platform (OWA with any browser and Outlook 2019 for both Exchange 2016 and 2019) except with Outlook 2016. We have two different testing enviro

[2022-02-09 13:11] Nikolay-Uvarov commented on #2529
@ElizabethSamuel-MSFT Thank you!

Do you know when Android and IOS devices will support the newest version of API requirement set? Or where I can find this roadmap?

[2022-02-09 14:20] juergen1976 commented on #2312
Any updates on this issue ? I do the update described in https://github.com/OfficeDev/office-js-docs-pr/pull/3218 but i still dont get a simple event based activation to work with https://localhost:3000...

[2022-02-09 14:31] danlg commented on #2402
Hi @grangeryy, the Developer Window on Mac is launched when the command `defaults write com.microsoft.Word OfficeWebAddinDeveloperExtras -bool true` is run. When the flag is set to false, no Developer Window is appearing, just the Dialog Window appears (but without the possibility to inspect the code and see the console),  this is why I have turned it on.
My understanding is that the  "Developer w

[2022-02-09 14:55] danlg commented on #2402
I have published a repo which clearly reproduces the issue https://github.com/danlg/bug_addin_react. I am trying to see in parallel if the same code which is supposed to be cross-platform would run and activate properly the addin Word running on Windows.
@grangeryy I have updated the case.

[2022-02-09 16:50] GrumpyAL commented on #2381
Thank you.  We ourselves are unable to reproduce the issue as well. But we are seeing it happen to 3 different customers on their Macs.  It is a consistently reproduceable issue for them.  We will inquire about the possibility of a test account and if anyone is able have it sent to the above.

In the meantime, is there any other data gathering we can assist with?  We understand it's very difficult

[2022-02-09 17:21] danlg commented on #2402
When running on Windows 10 Entreprise Eval VM, the same code from repo https://github.com/danlg/bug_addin_react, I can compile `npm run dev-server`, but when running `npm run dev`, it hangs on the question "Allow localhost loopback for Microsoft Edge WebView" ? whether I choose y or n.

[code]
I would be very keen to know whether this issue is cross platform or specific to Mac

[2022-02-09 17:27] samantharamon commented on #2419
Thank you for reporting this and for providing detailed information, @rstoye.

@exextoc, could you please assist with this?

[2022-02-09 17:29] ElizabethSamuel-MSFT commented on #2312
@bas-eenhoorn Thanks for sharing. We're working on incorporating your feedback into the docs. However, we're still investigating this issue.

@juergen1976 Can you respond with the behavior you're seeing?

Thanks.

[2022-02-09 18:01] juergen1976 commented on #2312
I create a new simple Outlook AddIn. Then i do from the documentation the activation based example change.

I see two behaviours:
1. Doing the example from the current active documentation: I see immediately the error: "We're sorry, we couldn't access [My Office Add-in]. Make sure you have a network connection. If the problem continues, please try again later. Dismiss this message"
2. If i do the

[2022-02-09 18:28] #1037 closed, assigned to grangeryy, RuoyingLiang

[2022-02-09 18:42] AbidRahman-MSFT commented on #2375
Hey @savanetllc - is your add-in utilizing shared runtime? Here is more details on the shared runtime feature: https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands#shared-runtime-required

[2022-02-09 19:17] cidev2 commented on #2051
@grangeryy is there an update on fixing the issue? We have clients that are running into the issue.

Also, the workaround you provided in your last post will not work for our use case. We do not have control over the XLL add-ins that our clients install and moreover it will be quite a project to re-implement the custom functions in XLL that we have already built using the JavaScript API.

[2022-02-09 19:41] yihuax-msft commented on #2183
@mynameismon, Let me check why the insertText API is not called. In the meantime, you may use the following code to get the selected content control:

    var sel = context.document.getSelection();
    var myCCs = sel.contentControls;
    var parentCC = sel.parentContentControlOrNullObject;
    myCCs.load();
    parentCC.load();
    await context.sync();
    if (myCCs.items.length > 0)
      conte

[2022-02-09 22:40] jtrueblood-anaqua commented on #1268
We are running into this issue as well using a SAML provider for SSO. The flow for SAML first returns a 401 for unauthorized users. The Office JS Dialog window does not like this.

![image](https://user-images.githubusercontent.com/36737370/153302456-22f281ff-eff0-4fc0-be2b-46fb90945d2b.png)

[2022-02-09 23:20] ElizabethSamuel-MSFT commented on #2529
@Nikolay-Uvarov We don't currently have a roadmap. As additional requirement sets are supported, we usually update documentation like the [requirement sets page](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview) and the [availability page](https://docs.microsoft.com/office/dev/add-ins/overview/office-add-in-availability), a

[2022-02-10 00:27] yihuax-msft commented on #2183
Hi, on my machine the following code works (I removed "globalThis" since it is not supported on my machine). Just compare it with your original code. Thanks!

let wcUpdate = setInterval(() => {}, 1000);
var wordCountContentControls;
var essayContentControls;

$("#updateWordCount").click(() => {
  wcUpdate = setInterval(updateWordCount, 1000);
});

$("#stopUpdateWordCount").click(() => {
  clearInt

[2022-02-10 03:09] dingjin-ms commented on #2263
Hi @GregReddick Thank you again for reporting! We have finally checked in our fix, and the fix would be in CC in about 1 month.

[2022-02-10 04:03] mynameismon commented on #2183
Works. Thanks!

[2022-02-10 04:04] #2183 closed, assigned to yihuax-zz, grangeryy

[2022-02-10 08:43] danlg commented on #2402
@grangeryy I have updated the case, did you have a chance to have a look at the repo or the issue ? If confirmed, **this bug seems huge (basically removes all interest from an add-in in Word as we cannot interact with the document)** so, in a way, I hope I am doing something wrong and that it can easily be resolved by an expert at Microsoft with some guidance.

[2022-02-10 09:32] exextoc commented on #2398
Is it still broken for you @alexisweeren ?

[2022-02-10 10:15] andreismolingmail commented on #2418
Thank you!

[2022-02-10 10:31] fjaeger commented on #2383
Please try with the following demo add-in: https://d1eml6gikbp2iz.cloudfront.net/save-async-issue-demo/manifest.prod.xml

Then follow the following steps on Outlook for Mac (not using the new UI):

1. Create new email
2. Drag&drop an image into the email body
3. Open the demo add-in's task pane and click on the "Run" button to call `saveAsync`
4. Send the email
5. Open the email with a different e

[2022-02-10 11:04] exextoc commented on #2392
The InternetMessageId is assigned by the sending Message Transfer agent (MTA).
It is a part of the RFC spec, check out here https://en.wikipedia.org/wiki/Message-ID.

- It is expected to be the same, you can get it from either graph call or Office.context.mailbox.item.internetMessageId
- The internetMessageId shouldn't change when you move messages from folders.

[2022-02-10 13:25] barclayadam commented on #1861
@exextoc we are continuing to experience new users hitting this issue, and it is becoming pressing now with many customers having a handful of users with errors. We have one customer that, from around 400 users has 5 that do not work.

They have updated their Outlook (we are not yet sure what release channel they are on, but we do have customers on the current channel with the same behaviour) and

[2022-02-10 13:56] alexisweeren commented on #2398
It is working now! Thanks for checking back in.

[2022-02-10 14:00] ghost commented on #2399
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-10 14:11] oldoldman opened #2420 "What kind of api set can be declared in addin manifest?"
This [doc](https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands#test-for-platform-support-with-requirement-sets) mentioned that
[code]
So is is there a complete list of api set that can be declared in the manifest ? Many thanks!

[2022-02-10 14:34] thao33 commented on #2392
@exextoc Thank you for your support !
You really made my day !!

[2022-02-10 14:34] #2392 closed, assigned to nobody

[2022-02-10 15:26] oldoldman opened #2421 "How to add loopback exemption to msoadfsb?"
I have an Excel custom function which failed to fetch resource from the localhost.
1. I know the custom function is hosted by msoadfsb.exe and it is an ```AppContainer```
2. from this [doc](https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/cannot-open-add-in-from-localhost#option-1-use-command-to-add-a-local-loopback-exemption) ```AppContainer``` is restricted to access loca

[2022-02-10 15:54] oldoldman commented on #2421
Found it. From [process explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) , I can get the SID of the ```AppContainer```
![image](https://user-images.githubusercontent.com/13962657/153445009-5344a2fa-dcbe-4183-bd00-c7b9ed8e1443.png)
then execute the following command
[code]

[2022-02-10 15:55] #2421 closed, assigned to nobody

[2022-02-10 16:08] teejay001 opened #2422 "Edit recipient on OWA does not trigger a "RecipientsChanged" event handeler"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number:
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome

## Expected behavior
When the recipient is edited directly and changed to another, the registered ‘RecipientsChanged’ event handler should be triggered.

##

[2022-02-10 17:18] Zlatkovsky commented on #2402
@danlg , from your repro, I think the salient part is that you're trying to call into Word methods from inside a dialog window (launched using `displayDialogAsync`). Per https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins:

Essentially, the Office APIs can only be used from within a taskpane, whereas the Dialog API is really only meant for quick modal interacti

[2022-02-10 17:51] exextoc commented on #2416
Thanks for reporting this issue. We are able to reproduce this issue on outlook client for mac. It has been put on our backlog. This is the internal tracking Id 5793362.

We are testing the same on the outlook client for windows and will get back with an update.

[2022-02-10 17:58] exextoc commented on #2399
Hello @otisyuan789, @Suntechnick
Is the issue still reproducible?

[2022-02-10 17:59] exextoc commented on #2356
Hey @avisheknand, is the issue still repro for you?

[2022-02-10 19:06] tomprod opened #2423 "Escaping "[" "]" in capturing groups in document.body.search is not supported (Desktop word and Word online)"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Operating System: Windows 10
* Browser (if using Office on the web):  98.0.4758.82 (Official build) (64 bits)

(please note same problem happens on both word online and desktop)

## Expected behavior

const searchResults = context.document.body.search('[[[][]]a

[2022-02-10 20:14] samantharamon commented on #2422
Thank you for detailing the steps you took and for providing a link to your repo, @teejay001.

@exextoc , could you please assist with this?

[2022-02-10 20:17] samantharamon commented on #2423
Thank you for reporting this, @tomprod.

@grangeryy, could you please assist with this?

[2022-02-10 20:23] Suntechnick commented on #2399
Hello @exextoc Yes, the issue is still relevant for us.

[2022-02-10 20:31] JuaneloJuanelo commented on #2261
Hello. After careful consideration we have decided to not fix this issue, rationale:

1. It can be easily fixed by providing a read permission. (Please note that even if you fix this, it will be a violation of our store policies and most probably the add-in will be rejected to be on the store)
2. We don't want to encourage an extensibility model in Outlook that does provide any interactions other

[2022-02-10 20:31] #2261 closed, assigned to croicu, zacfarnsworth, exextoc

[2022-02-10 22:49] samantharamon commented on #2420
Thank you for reaching out to us, @oldoldman.

For more information about the API sets, please refer to the [API reference page](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office). This page provides links to specific information about application-specific and common APIs. If a requirement set that you need is not supported in the manifest, it will be mentione

[2022-02-10 23:50] milankonir commented on #2356
@exextoc The issue is still reproducible with the sample add-in and reproduction steps I have provided in #2389

[2022-02-11 00:12] exextoc commented on #2419
Based on the 2 environments you provided is one of the environments failing and one succeeding? Or are both of them failing? We use different tokens for getCallbackTokenAsync and makeEwsRequestAsync so the difference in tokens would not be the cause of the issue. If possible can you take a fiddler trace of the makeEwsRequest to see if the request is going through properly?

[2022-02-11 00:23] exextoc commented on #2416
"Content-class: Sharing" header is supposed to be used to create a message for sharing calendars, etc. Richer clients will not interpret this as a regular Message item and instead display the item with special UI/forms as a Sharing item where add-ins are not supported. Can you explain your use case of sending items with this header?

[2022-02-11 02:00] ghost commented on #2410
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-11 02:00] #2410 closed, assigned to exextoc

[2022-02-11 02:37] avisheknand commented on #2356
@exextoc , yes i am still able to repro the issue. Also have tried to clear by browser cache and test it out and it is repro

[2022-02-11 02:42] oldoldman commented on #2420
got it . thank you.

[2022-02-11 02:42] #2420 closed, assigned to samantharamon

[2022-02-11 02:57] JHJ-MS commented on #2346
Currently, we don't have a document to guide creating excel Custom Functions Add-in with Angular. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests are considered when we go through our planning process. Thanks, Microsoft 365 Developer Platform team

[2022-02-11 03:08] glr0221 commented on #2416
Hello @exextoc,

Thank you very much for your prompt response. It is nice to see you well, it has been a while.

As for the email with that header, I did not send it. A client of ours actually received a phishing email with those headers. And was a bit surprised to see that he/she cannot report the said email. If i can, with our customer's permission, I will send you a screenshot of the said email

[2022-02-11 03:59] NgaiKaKit commented on #2417
Just found a related issue, for addAsync function
[code]
Will not return error message, but the room cannot add to outlook when top level domain more than 6 characters

[2022-02-11 04:15] yihuax-msft commented on #2387
@beatrixmorar, How can I do what you said: "Given a custom button in the ribbon which executes a function on click (inserts some text into the document) and a callback function defined for Office.onReady() in commands.js (logs some dummy text to console) in a taskpane add-in project generated with Yeoman"?

@RuizhiSunMS, Can I have the test add-in you used for this issue? Or maybe you give me the

[2022-02-11 05:03] yihuax-msft commented on #2411
@dhoelzl @RuizhiSunMS, This is a known issue. You are inserting three paragraphs into an empty document. But, the empty document in fact contains one paragraph. You can see this empty paragraph by clicking the Home tab in the ribbon, and then clicking the button with a mark like a paragraph end. Now you can see the empty document has an EOP (end of paragraph) mark, and this paragraph has its own s

[2022-02-11 07:44] xiruatms commented on #2423
@tomprod , thanks for connecting with us.

When I tried your search string in the "Find and Replace" dialog with Word on Win32, it complains that "The Find What text contains a range that is not valid.".

Usually, APIs work in the similar way as native features on Word. That's why API took this as an invalid argument.

Just want to confirm how you got the search string "[[[][]]a-z]{1,}", have you

[2022-02-11 08:26] tomprod commented on #2423
@xiruatms thank you for your answer.

I got the search string as i looked at the documentation on searching in word with office js at
[https://docs.microsoft.com/en-us/office/dev/add-ins/word/search-option-guidance](url)

which states :

![image](https://user-images.githubusercontent.com/65723479/153558420-30e050ba-a1ac-47e9-966b-3cbcb2b3e263.png)

![image](https://user-images.githubusercontent.co

[2022-02-11 09:00] ghost commented on #2390
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-11 10:05] rstoye commented on #2419
Both environments are failing.

I also just tested the add-in with 3 different windows-accounts that are logged in on our test server. All 3 accounts have outlook set up with the same exchange account, which is "testuser". All 3 accounts get different errors when making the EWS request.

Administrator -> `ErrorAccessDenied`

rstoye -> `ErrorConnectionFailed` ->  roughly translated error message:

[2022-02-11 10:49] djaeger-inercomp commented on #2174
Do you have any update on this issue?

[2022-02-11 11:02] exextoc commented on #2422
We are not able to reproduce the issue at our end. Please answer the below questions to help us debug the issue.
- Is the repro consistent for you or does it happen once in a while?
- Is it something which was working earlier and broke recently?
- Can you please share a repro video of the experience with us?

[2022-02-11 11:39] exextoc commented on #2383
The manifest you have provided loads dummy "Contoso" website in the taskpane.
We cannot reproduce the issue with the manifest provided.

[2022-02-11 11:59] exextoc commented on #2396
Thanks for reporting this issue.
We are able to reproduce this issue internally. It has been put on our backlog.
This is the internal tracking id of the bug : 5795803
We, unfortunately, have no timelines to share at this point.

[2022-02-11 14:25] andreijitaru-gep commented on #1771
Hello! Did you find any work-around for this?

[2022-02-11 14:51] fjaeger commented on #2383
@exextoc Please scroll to the bottom of that "dummy" sidebar. There should be a button at the bottom, which simply calls `Office.context.mailbox.item.saveAsync(() => {});`

[2022-02-11 17:09] exextoc commented on #2417
Thanks for reporting this issue regarding enhancedLocation and the limited characters in the top level domain. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 5793526

[2022-02-11 17:38] teejay001 commented on #2422
Hi,

Is the repro consistent for you or does it happen once in a while? - This happens consistently
Is it something which was working earlier and broke recently? - I don't know if this was working initially, this was discovered during a demo.
Can you please share a repro video of the experience with us? - Link to the requested video/gif .. https://github.com/teejay001/OWA_RecipientUpdateHandeler/b

[2022-02-11 18:48] yihuax-msft commented on #2402
@danlg, @Zlatkovsky is correct. I double checked with our team that API calls from dialog window are not supported, except for MessageParent. We may consider supporting it in the future. Thanks.

[2022-02-11 18:57] MicGensty opened #2424 "Add-in disappearing from customers' ribbon in Word desktop"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are getting an increased number of reports from customers that our add-in sporadically disappear from the ribbon in Word. It is a problem for us as people don't use what they can't

[2022-02-11 22:13] samantharamon commented on #2424
Thank you for reporting this, @MicGensty. I'm sorry to hear that your customers have been experiencing issues. Would you be able to provide us details about your add-in to assist us with the investigation?

@grangeryy, could you please look into this? Thanks!

[2022-02-11 22:18] exextoc commented on #2419
In general this is how it works.
makeEwsRequestAsync will use EWS to contact the Exchange Server for a Token. Then use that Token and your XML payload and make another EWS call to Exchange, then give you back the results.

(i.e. the Outlook Client is kind of acting as a passthrough for your call). This hasn't changed too much between client versions of Outlook, (but there have been bugs fixed so m

[2022-02-12 12:27] gitcnd opened #2425 "Bug Report - Office Add-Ins "store" garbled inside Outlook App on Mac"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Open any store item, and the "screenshots" CSS inflates (and is all warped) immediately, blocking text from view

## Steps to Reproduce, or Live Example
1. Click "Get Add-ins" from Ou

[2022-02-12 15:00] ghost commented on #2400
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-12 15:00] ghost commented on #2379
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-13 09:00] ghost commented on #2403
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-13 09:00] ghost commented on #2347
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-14 01:41] grangeryy commented on #1998
We are tracking new feature request this using [feature request and ideas](https://aka.ms/m365dev-suggestions) and this one is quite similar as the [item](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/excel-custom-functions-possibility-to-provide-list-of-predefined/idi-p/3066769).

[2022-02-14 01:41] #1998 closed, assigned to grangeryy

[2022-02-14 02:48] xiruatms commented on #1771
Thanks for reporting this issue.

This is an expected behavior according to current design.

There're 2 supported content control on Word WAC:

1. Inline contentcontrol:

     All of the parts of this contentcontrol are in the same paragraph, there's no new line or new paragraph in this contentcontrol.

2. Block contentcontrol:

     There could be multiple paragraphs in the same contentcontrol. B

[2022-02-14 05:11] RuizhiSunMS commented on #2418
Close this issue for having answered the question. Please contact us if there were any other questions.

[2022-02-14 05:11] #2418 closed, assigned to guliums

[2022-02-14 05:54] jiju-MS commented on #2174
Hi, @djaeger-inercomp, could you update the excel to the latest version and try again? It should work on the latest version of excel. If still not, could you share the sample code of your scenario to us?

[2022-02-14 06:24] RuizhiSunMS commented on #2387
Hello Yihua,

Here might be something wrong, I am just the one ack this issue and don't have that add-in in fact.
Sorry for being short of help.

Yours sincerely,
Ruizhi
________________________________
From: yihuax-msft ***@***.***>
Sent: Friday, February 11, 2022 12:15
To: OfficeDev/office-js ***@***.***>
Cc: Ruizhi Sun ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Word:

[2022-02-14 06:29] RuizhiSunMS commented on #2411
Hello Yihua,

Thank you for your effort and workaround.

Yours sincerely,
Ruizhi
________________________________
From: yihuax-msft ***@***.***>
Sent: Friday, February 11, 2022 13:03
To: OfficeDev/office-js ***@***.***>
Cc: Ruizhi Sun ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Inserting a content control with customXML binding to a document package removes custom style i

[2022-02-14 06:32] yihuax-msft commented on #2387
Thanks, @RuizhiSunMS.

@beatrixmorar, Could you provide more detailed reproduce steps? Thanks.

[2022-02-14 06:47] xiruatms commented on #2423
@tomprod , thanks for making more clarification about your use cases.

Given “[” or "]" has special meaning in wildcard searches, if you want to search for them, it's best that you always put a backslash in front of “[” or "]".

In your use case, you may consider the search string as "[\[][a-z]{1,}[\]]". With this, "[test]" can be successfully found as I tested.

[code]
Please take a try and let m

[2022-02-14 07:07] grangeryy commented on #2051
@cidev2 and @cidev5, really sorry to know the work around doesn't help a lot. We notice this issue is more easier to hit when mix-use custom function add-in and VBA add-in. We've got the severity of the impact but it will take time to completely address the root cause behind.

[2022-02-14 08:17] clavx commented on #2356
We have confirmed that our add-in works fine after the change to the new UI design.

Does not work (OLD design):
![owa_old](https://user-images.githubusercontent.com/58804032/153824501-e406c3ec-45dd-4f9b-a79e-a0a28471fc32.png)

Works (NEW design):
![owa_new](https://user-images.githubusercontent.com/58804032/153824518-47ced83b-3bbe-4525-b320-24a8f67f79fb.png)

Thank you for resolving the issue!

[2022-02-14 08:36] tomprod commented on #2423
@xiruatms Thank you for you answer.

Yes it works for "[test]" but it will not work if i want to search for [] brackets that could be anywhere in the search string, like "#DC{[H!A0D+H!A0E] /100}"

That's why i was looking for a way to use brackets inside a capturing group like [a-z[]]

I took "[test]" as a simple example to explain my problem but maybe it was too simple, sorry for that

[2022-02-14 09:00] ghost commented on #2406
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-14 09:01] xiruatms commented on #2423
@tomprod , I'm not quite sure about your string pattern, but following search string works in my test case:
#DC[{][\[][A-Z][\!][A-Z0-9+]{1,}[\!][A-Z0-9]{1,}[\]][ /0-9]{1,}[\}]

With it, "#DC{[H!A0D+H!A0E] /100}" will be found.

There might be other better options of search string, this is just for your reference.

Please take a try and let me know whether it fits your need.

[2022-02-14 09:24] tomprod commented on #2423
@xiruatms of course it will work because you know in advance that there will be a [ at the beginning, a ] at the end etc... but i can have :

#DC{[H!A0D+H!A0E] /100}
#DC{[H!A0D+H!A0E] - [H!A0F + H!A0Y] /100}

So that's why i'm trying to put the brackets **inside** the capturing group, like "[[]a-z0-9!+-/*]" just like i would do with regexes, so i could search for strings which contains "these spec

[2022-02-14 11:00] ghost commented on #2390
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-14 11:00] #2390 closed, assigned to guliums

[2022-02-14 13:21] sybers opened #2426 "New Outlook Mac: body.getAsync should only return email body, not the whole html document"
On "New Outlook" for Mac: `item.body.getAsync()` should only return email body, not the whole html document.

## Your Environment
* Platform: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.57 (22011101)
* Operating System: macOS

## Expected behavior
`Office.context.mailbox.item.body.getAsync("html")` should return the email inner body, not the whole document inclu

[2022-02-14 13:25] xiruatms commented on #2408
@kodefile , thanks a lot for your feedback. All of your findings and insights mean a lot to us.

Given some existing limitation and consideration, the current implementation might not be the best option. A serious discussion had been held between related teams. A work item 5794915 is now logged. The priority and/or efforts will be evaluated and planned along with other work items. This might not b

[2022-02-14 18:54] jozefizso opened #2427 "PowerPoint: slides.add() must return slide ID"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Existing `slides.add()` method returns `void` which makes it impossible to correctly determine which slide was added by this call. As there are synchronization issues with `context.sy

[2022-02-14 18:56] jozefizso commented on #2406
Office 2016 VLSC should display content using WebView 2.

[2022-02-15 02:32] JinghuiMS commented on #2406
For feature requests please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature there. Thanks.

[2022-02-15 04:06] rogozind opened #2428 "smart quotes get corrupted when getHtml() is called (MacOS only)"
I have a document with a smart quote:
<img width="213" alt="image" src="https://user-images.githubusercontent.com/10505245/153990458-0d524df9-74c5-41fe-98ba-d0b2f9cae835.png">

(the document is the standard "Welcome to Word" from MS Word library).

When I use body.getHtml() API on Windows the HTML contains the symbol correctly.

When I do the same on MacOS I get 3 strange characters instead:

<img

[2022-02-15 05:34] RaviKumar1096 commented on #2312
Same problem exist for me as well I simply created a outlook add-in and use command npm start to run the add-in for online version all events like onSend and onCompose is working but on desktop version none of them is working got the same error message: "We're sorry, we couldn't access [My Office Add-in]. Make sure you have a network connection. If the problem continues, please try again later. Di

[2022-02-15 06:00] ghost commented on #2346
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-15 07:19] jeroenrosendaal opened #2429 "Excel API 1.1 - unable to append data to table"
After updating our server we encounter problems with appending data to a table.
Before the update the code was running as expected.

## Your Environment
* Excel API 1.1
* Windows Server 2019 Standard (17763.2565)
* Office 2016 (16.0.52)

## Expected behavior
Rows are added to the selected table.

## Current behavior
Rows are not added to the table and triggers the error below:
[code]
## Output
htt

[2022-02-15 07:54] jasonhieu1905 opened #2430 "setSignatureAsync with coercionType html and data contains &apos; does not displayed Outlook for Windows"
* Platform : PC desktop
* Host : Outlook
* Office version number: 2112 (Build 14729.20260)
* Operating System: Windows

## Expected behavior
it should show `'` like outlook online.

Outlook for Online
![image](https://user-images.githubusercontent.com/13063615/154016655-de9e7a51-6b01-4f54-89e4-87b4497f4fda.png)

Outlook for Windows
![image](https://user-images.githubusercontent.com/13063615/154015

[2022-02-15 08:14] #2403 closed, assigned to pkkj-msft

[2022-02-15 09:43] yuc014 commented on #2429
Hi @jeroenrosendaal,

After investigation, I can repro your issue and the full error log is:
[code]
The root cause is that you want to add two table with the same name. You could confirm it by searching the table name "ExpensesTable" in your file.

You could remove this line: `expensesTable.name = "ExpensesTable";` or give the table another name, then everything would be fine.

If you still block

[2022-02-15 09:43] djaeger-inercomp commented on #2174
Hi, @jiju-MS, I updated Excel and it is still not working. I created a sample shared runtime project following the instructions in the docs and I added a custom function which returns a dynamic array containing errors, I created a public github repo which can be found here: https://github.com/DavidJaeger10/Excel-shared-runtime-add-in

[2022-02-15 09:48] djaeger-inercomp commented on #2174
The excel version I currently have is Version 2201 (Build 14827.20192)
My current windows version is: Windows 10 Pro, Version 21H2, Build 19044.1526

[2022-02-15 09:59] jeroenrosendaal commented on #2429
@yuc014 I removed the ```expensesTable.name = "ExpensesTable";``` part but results in the same error. I'm running the add-in in a empty Excel file so there are no other tables

[2022-02-15 11:13] yuc014 commented on #2429
@jeroenrosendaal
Ok, that's weird. Here is my screen recording:
[myTestVideo.zip](https://github.com/OfficeDev/office-js/files/8068199/myTestVideo.zip)  (Compressed)

Project repo: https://github.com/yuc014/Test_tableAdd_Addin

Could you make a screen recording and provide your project sample? It is better for me to debug in your scenario.

[2022-02-15 11:45] guzman-rc commented on #2329
Can you provide an approximate date to resolve this issue?
We need to know the resolution date to inform our clients.
Thanks a lot.

[2022-02-15 11:47] guzman-rc commented on #2382
Can you provide an approximate date to resolve this issue?
We need to know the resolution date to inform our clients.
Thanks a lot.

[2022-02-15 12:14] jeroenrosendaal commented on #2429
@yuc014 I cloned your repo and ran the code.
Here is my recording
[recording.mov.zip](https://github.com/OfficeDev/office-js/files/8068919/recording.mov.zip)

[2022-02-15 14:37] JensMadsen commented on #2275
@AkhileshShah-MS Do have an update on this issue?

[2022-02-15 15:00] ndreisg commented on #2406
Posted a feature request here: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/office-2016-vlsc-should-display-add-ins-using-webview-2/idi-p/3167940

[2022-02-15 15:23] exextoc commented on #2383
Unfortunately, we are still not able to reproduce. A few questions:
1. Is it broken only in different mail application? What happens if you open it with Mac-outlook, outlook on web?
2. Can you share test tenant where this is reproducible?
3. Can you share video of the issue?

[2022-02-15 15:28] kodefile commented on #2408
Greatly appreciate you looking into this issue. To get the error referenced above, I used Word on Desktop to add a CustomXML part that was 2MB to a document and saved it. I then used Word on the Web to open the document and attempted to retrieve the custom xml part using  Office.context.document.customXmlParts.getByIdAsync(id, callback). This method returned an Office.AsyncResult object containing

[2022-02-15 15:45] AndreiJitaru commented on #1771
Hi @xiruatms! Correct me if I'm wrong but wasn't this possible until recently? Having a block content control start from the middle of a paragraph, I mean. I remember seeing this very behaviour on an officeJs project some time go. Was the design recently changed? It's just my curiosity. Thanks!

[2022-02-15 17:00] ghost commented on #2400
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-15 17:00] #2400 closed, assigned to exextoc

[2022-02-15 17:00] ghost commented on #2379
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-15 17:00] #2379 closed, assigned to nobody

[2022-02-15 17:21] atsopuronen commented on #2358
Would you have any updates regarding this ticket?

[2022-02-15 17:59] xeras commented on #2419
Hi @exextoc,

I'm a colleague of @rstoye and just wanted to avoid some confusion and clarify the behavior.

When we test the SOAP request in OWA (provided by the same Exchange Server 2016) it works perfectly.

We could reproduce this behavior by sending the SOAP request with postman:
- if we use the token, that we received from `getCallbackTokenAsync()` while using the add-in with OWA, the request

[2022-02-15 18:47] bendblasko commented on #2398
I am still receiving this error when using older version of Outlook that use IE 11.

[2022-02-16 00:51] exextoc commented on #2419
To help us understand what is going on, a Fiddler trace will reveal the network requests and responses, so if it is not too much to ask, please grab a trace and send it to us. For security reasons, please create a private repo and at-mention "exextoc" so that we can privately access it instead of making it public. Here's a link to Fiddler's website that has all you need to help you install and cap

[2022-02-16 02:02] uoc1691 commented on #1059
I'm facing the exact same issue.

Add-in tested on Microsoft® Word for Microsoft 365 MSO (16.0.14326.20706) 64-bit

As a hacky workaround before saving the document, I insert an empty paragraph and delete it straight away.

[code]

Although this works, it's not something I want to do.

[2022-02-16 02:19] JinghuiMS commented on #2406
@ndreisg Thanks for posting new request. If you have no further issue, I will close this github issue.

[2022-02-16 03:47] ab1osborne opened #2431 "Office.context.ui.displayDialogAsync "flash" dialog with onsend, but works if send is done from a popout window"
This Addin has been working for a long time and now suddenly stopped. It is an onsend addin that presents a dialogue for message classification.

What happens now is the dialog window simply flashes and the email is not sent.

When the same email is composed and sent from a popout, it works correctly.

Here is a video of the issue  https://pecdm3.preemptive.com.au/owa/owa-issue.mp4

This happens o

[2022-02-16 09:43] rstoye commented on #2419
I created a trace file and uploaded it to a private repository. @exextoc you should have an invite to the repository.

[2022-02-16 10:07] jasonhieu1905 opened #2432 "Outlook Online: setSignatureAsync - sometimes signature is placed at cursor position"
* Platform [PC desktop, Mac, iOS, Office on the web]: Outlook for web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Operating System: Windows
* Browser: Chrome Version 98.0.4758.82 (Official Build) (64-bit)

## Expected behavior
signature should be inserted at the end.

## Current behavior
signature is inserted at the cursor position.

## Steps to reproduce

This is just one of the way I can r

[2022-02-16 11:00] ghost commented on #2347
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-16 11:00] #2347 closed, assigned to nobody

[2022-02-16 11:29] #2406 closed, assigned to nobody

[2022-02-16 15:45] jtrueblood-anaqua commented on #1268
Any update on this? This seems to be a pretty standard authentication flow:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate

[2022-02-16 16:29] stefanoslig commented on #2431
We have exactly the same issue. A lot of customers are affected. Could you let us know if you're going to work on this?  Is there any workaround in meantime?

[2022-02-16 17:00] rickgoud commented on #2431
Indeed this is a very bug suddenly appearing, so must be after some MS changes. Can you please give this high prio @exextoc as this makes sending normal messages almost impossible?!

[2022-02-16 20:44] neville-jones commented on #2431
Observed with our customers too, since approximately the weekend just gone.

We have found a workaround is to set the OnSendAddinsEnabled to **false** in the users' OwaMailboxPolicy which somehow seems related to changes in this setting as mentioned at end of #1484

[2022-02-16 22:00] ab1osborne commented on #2431
The other interesting 'feature' we've found is the onSendEvent can fire up to three times when the send button is pressed. All activations call the Office.context.ui.displayDialogAsync function, but only one dialogue will appear, but if we change the

promptBeforeOpen: false,
displayInIframe: false

You might see up to three dialogues appear ! Something very odd is going on.

[2022-02-16 23:16] exextoc commented on #2419
It looks like the fiddler trace is from an RTM build which is not supported (unless you have extended support). Can you please provide a fiddler trace from a more recent build like env 2?

[2022-02-17 02:16] RuoyingLiang commented on #2275
Hi @JensMadsen , sorry for the late response. The issue has been fixed. Could you help to check if you are still encounter this issue?

[2022-02-17 06:13] exextoc commented on #1731
@GrumpyAL, I tried on Mac with es-ES and display language is returned as es-ES. You can open a new bug with the details if you are still facing the problem.

[2022-02-17 06:13] #1731 closed, assigned to exextoc

[2022-02-17 06:22] exextoc commented on #2112
@gitcnd . The fix for this issue has been rolled out.

[2022-02-17 06:34] exextoc commented on #2277
@milankonir we don't have a repro of the issue. However, based on the logs, we have created a backlog bug. We unfortunately have no timelines to share at this point.

[2022-02-17 07:28] exextoc commented on #2381
@GrumpyAL, there is no repro for us. In the logs we could see that the item-Id is empty but there is not sufficient information to proceed further. We will wait for test account or repro steps.

[2022-02-17 07:35] exextoc commented on #2399
@Suntechnick Is the issue still there? A fix has been rolled out for this.

[2022-02-17 07:38] danlg commented on #2402
I have tried to implement using messageParent and, as many complain, the event is not fired for some reason. So this is still blocking and a bug as I am concerned. I have reverted to using the Ribbon instead of a dialog but this is far poorer UX...

[2022-02-17 07:57] danlg opened #2433 "Bug - Office.js Word Add-in Ribbon works only with Developer Window [Mac]"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Office Word Add in Ribbon work only with Developer Window
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac 16.57
* Host [Excel, Word, PowerPoint, etc.]:

[2022-02-17 07:58] danlg commented on #2433
![bug_developer_window_mac](https://user-images.githubusercontent.com/12525045/154430900-e29be753-ec51-43a6-aea3-e6a59c318c38.jpg)

[2022-02-17 08:00] JensMadsen commented on #2275
@RuoyingLiang It has actually been solved for some time (to the point where I re-enabled UI tests), but I have experienced the error this week again. Thats why I asked for an update. I think it is the same error but I have not investigated it in detail. In any case, when I opened this issue the addin would load 1 out of 10. It is way better now! Thanks

[2022-02-17 08:04] Suntechnick commented on #2399
@exextoc I am unable to reproduce this issue now. Thank you!

[2022-02-17 08:29] robino2020 commented on #2431
Do we know when this change was introduced?

[2022-02-17 09:07] s-o-na commented on #2265
Hi,

I am developing an add-in for PowerPoint, which has file upload functionality. On Windows when a user tries to upload a file, the main window loses focus and the add-in becomes unusable (if you minimize and maximize the PowerPoint window, or try to resize the add-in the focus will be back)
Is there a way to bring back the focus to the main window programmatically? any available functions in O

[2022-02-17 09:12] sumitmodi01 commented on #2003
Any updates on fixing this issue. We have to use hardcoded sleep(3-4 seconds) to making it work, which we can not use in production.

[2022-02-17 09:33] xiruatms commented on #2423
@tomprod , as I didn't know what is the exact pattern you're trying to search, I can only show you a simple sample with escaping which API currently supported. It seems there's no explicit APIs issues now. I would like to try to design the wildcard string for you, but given I'm not a wildcard design expert, I can't make any promise here.

Whatever, I will be very glad to help if you identified any

[2022-02-17 09:47] Vineet-Yadav commented on #2142
@exextoc , Any Update regarding this.

[2022-02-17 10:09] svlc1 opened #2434 "ItemSend event broken"
When using an add-in that uses the ItemSend event the mail item stays in drafts.

## Your Environment

* Platform: Office on the web
* Host: Outlook
* Browser (if using Office on the web): Firefox

## Expected behavior
The mail item is sent.

## Current behavior
When sending the mail item, the browser shows a pop-up that disappears very quickly. The mail item is not sent, but instead put in the dr

[2022-02-17 10:13] tomprod commented on #2423
@xiruatms i don't know, this is hard to explain, but if you take my last comment, and read it, you will see that Word APIs don't support brackets in a [a-z] range, which is clearly a problem to me, the documentation states that you can escape brackets (which are special characters to word regexes) with other brackets, like [[] which works outside of a range, but does not work inside a range.

To m

[2022-02-17 10:32] xiruatms commented on #2423
@tomprod , in the last code snippet I posted, you can see, brackets can be searched with escaping.

`async function run() {
  await Word.run(async (context) => {
    const body = context.document.body;

    const res = body.search("[\[][a-z]{1,}[\]]", {
      matchWildcards: true,
      matchCase: false
    });
    res.load("text");
    await context.sync();
    console.log(res.items[0].text);
  }

[2022-02-17 10:37] fjaeger commented on #2383
You can find a video of the issue here: https://drive.google.com/file/d/1eNOjLEeWycOG5gKiRjUAKFMPfa-fwW3L/view?usp=sharing

You can see that even when sending to myself and opening in Outlook for Mac, the image is broken after the add-in has been used during composing the email.

[2022-02-17 10:55] tomprod commented on #2423
@xiruatms you are right, this works. I just tested in Scriptlab with [test]. But it doesn't work with the string i provided in my initial post :

"Context
I am trying to detect strings representing special templating fields like #DC{[mycode+mycode2] / 100} and cannot proceed because of the mentionned problem"

And not with the other strings i posted after.

Because, i think, this is my opinion, ag

[2022-02-17 11:14] xiruatms commented on #2423
@tomprod , if that's not a good example, how about the following one? When your pattern is a little more complex, the search text should be well designed:
`async function run() {
  await Word.run(async (context) => {
    const body = context.document.body;

    const res = body.search("#DC[\]\[a-z]{1,}", {
      matchWildcards: true,
      matchCase: false
    });
    res.load("text");
    await c

[2022-02-17 11:45] JensMadsen opened #2435 "I am able to send POST request to domain not listed in AppDomains"
I am able to send a request to an external domain (Rollbar API) which is not listed in the AppDomains section of my manifest. Is that intentional (see https://docs.microsoft.com/en-us/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-1#specify-domains-you-want-to-open-in-the-add-in-window)? I list my API endpoint but perhaps that is not needed either? I am confused :-)

This is seen on Word W

[2022-02-17 12:11] exextoc commented on #2431
@ab1osborne can you send the manifest at: admin@M365x338999.onmicrosoft.com.

[2022-02-17 12:36] tomprod commented on #2423
@xiruatms Yes it works 🎉 So yes, to escape [] inside range groups we can use backslash \ ! Didn't know it.
Thank you very much

[2022-02-17 12:36] #2423 closed, assigned to grangeryy

[2022-02-17 13:02] exextoc commented on #2431
We are able to reproduce the issue and are working on a fix on a priority basis. We will patch the fix to production in a short time.

Meanwhile, as a workaround please try any of these:
1. Pop-out the window before send.
2. Disable the onSend policy

[2022-02-17 13:07] exextoc commented on #2432
@jasonhieu1905 I tried on my local set-up and am not able to repro the issue. So, we will like to understand a few things:
1. Was this issue always there or you started to see it with some recent build?
2. Can you try a different browser and see if the problem is still there?

[2022-02-17 13:40] rexweston commented on #2312
I'm not a tech, but would like to add my comment stating that this is important to me.  RaviKumar1096 is developing an add-in that will insert email signatures into messages.  We have roughly 100,000 users, and once we deploy this tool it will be in pretty much constant use worldwide.  It's an instant problem for our customers if they click compose and their signature does not appear.  It's very i

[2022-02-17 13:56] sjoerd222888 commented on #2312
Please fix this. In this state event based activation is not reliable and we have to take sacrifices not being able to properly develop and test add-ins using this API.

[2022-02-17 13:56] sureshjoshi commented on #2215
Hi @chiz-ms - is there any movement on this bug? It's a tricky one for development, since it requires a full browser refresh.

Thanks!

[2022-02-17 14:04] exextoc commented on #2426
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-02-17 14:37] Marcel-Balk commented on #2431
Or disable Reading Pane and then it is fixed to!
To disable for all users: Get-Mailbox -ResultSize unlimited -RecipientTypeDetails UserMailbox | Set-MailboxMessageConfiguration -GlobalReadingPanePosition Off

[2022-02-17 15:53] JensMadsen opened #2436 "Word: Range.select for tracked ranges crashes the add-in"
I have the following gist: https://gist.github.com/JensMadsen/40f5f58b1921eabef90d49fbc129ad9f

This works in Word Online using Chrome, but fails on Word Windows Desktop. The error message is:
[code]

Are we doing it wrong or is it a bug? This bug makes a central feature in our add-in break :-(

[2022-02-17 16:51] MarioVitale opened #2437 "AgaveErrorUX folder wrong name"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When opening office.js in Outlook web on Exchange (I tested it in versions 2013, 2016, 2019), the add-in tries to load the node_modules/@microsoft/office-js/dist/AgaveErrorUX/index.ht

[2022-02-17 19:09] carlosb1504 commented on #2422
any update on this one please?

[2022-02-17 19:11] carlosb1504 commented on #2329
We are also seeing this same issue. Some timescales would be appreciated for us too.

[2022-02-17 22:30] clavx commented on #2356
Sorry for the lack of confirmation.
We only checked when the `OnSendAddinsEnabled` flag was `False`, not when it was `True`. We additionally checked the case where the `OnSendAddinsEnabled` flag is `True`, and were able to reproduce another problem reported by https://github.com/OfficeDev/office-js/issues/2431.
We are sorry for the confusion.

[2022-02-17 23:07] exextoc commented on #2430
Unfortunately, `&apos` is only supported in latest HTML 5, which Outlook for Windows does not support. It works in Outlook for Online because the browsers chose to support it. You can try instead using HTML code &#39; or just the symbol '.

[2022-02-17 23:46] neville-jones commented on #2434
same as #2431  ?

[2022-02-18 02:40] RuoyingLiang commented on #2275
@JensMadsen Did you recently update the add-in? Does the add-in disappear after the upgradation?
Is this happened in Word Online?

[2022-02-18 03:10] RuizhiSunMS commented on #2435
Hello @JensMadsen , please add some information following the format below to make us clear about your question ( or this issue happened together with the other one you submitted today?)
Platform :
Host :
Office version number:
Operating System:

[2022-02-18 04:35] NgaiKaKit commented on #2417
Thank you for your information.
May I know that is my assumption are correct, which the problem are cause by top level domain more than 6 characters,
So I can avoid this scenario when implement the outlook add-in

[2022-02-18 04:43] NickDarvey commented on #2275
@RuoyingLiang

Is this happened in Word Online?

I know you're asking @JensMadsen, but this is exactly what we see! When we deploy an update to our add-in, it disappears. If we rollback the update, it reappears.

[2022-02-18 05:25] RuoyingLiang commented on #2275
Thanks @NickDarvey Is this issue happens in online or windows or Mac?

[2022-02-18 06:56] RuizhiSunMS commented on #2215
Hello @sureshjoshi , we colleagues fixed this issue together with the one in https://github.com/OfficeDev/office-js/issues/2216.
Now You can take the reply about deployment date in that link as an example.
Sorry for updating late.

[2022-02-18 07:02] exextoc commented on #2431
The fix for this is live. Please let us know if you are still facing any issues.

[2022-02-18 07:14] exextoc commented on #2437
@MarioVitale are you trying to create a new Outlook Addin and facing this problem? What are the exact steps that you have followed?

[2022-02-18 07:31] JensMadsen commented on #2275
@RuoyingLiang I have only investigated it in Word online (this is how we currently run UI tests in our CICD pipeline). The manifest has not been updated for months. In this case the addin is uploaded using admin.micorsoft.com and deployed to our test user used in our CICD pipeline. I will give an update if I get reports on this on Windows Desktop and/or when the app is deployed from App Source.

[2022-02-18 07:31] #2434 closed, assigned to nobody

[2022-02-18 07:36] JensMadsen commented on #2435
@RuizhiSunMS I have tried to provide the information you asked for :-)

[2022-02-18 07:39] RuizhiSunMS commented on #2435
Thanks @JensMadsen .
@yihuax-msft another issue about word desktop, would you please take a look ?

[2022-02-18 08:00] ghost commented on #2346
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-18 08:00] #2346 closed, assigned to nobody

[2022-02-18 08:11] mbalk-ram commented on #2431
At this moment we stil see problems with customers on our end using the plugin Zivver.

[2022-02-18 08:42] MarioVitale commented on #2437
I tested one of our plugins that works well in O365.
On the outlook web on exchange server the user must confirm the identity of the plugin (Error message: This add-in has been disabled to help keep you safe. To continue using the add in, validate that this item is hosted in a trusted domain or open it in the Office desktop app.)
At first launch from web office js tries to open AgaveErrorUX to bri

[2022-02-18 09:38] svbygoibear opened #2438 "`.getSelection` bug on Table rows and columns in Word"
Currently, when a user selects more than one row or more than one column without selecting the full table in Word, the result returned from `getSelection()` only returns the last row's values.

If I call `.getOoxml()`, `.getHtml()` or even `.getText()` it only shows the values for the last row and none of the rows above it that has been selected.

## Your Environment
* Platform [PC desktop, Mac, i

[2022-02-18 10:00] exextoc commented on #2356
@avisheknand @stefanoslig can you confirm that the issue is resolved.

[2022-02-18 10:12] avisheknand commented on #2356
@exextoc , retested today and confirming that the issue is fixed. Thanks for the work on this.

[2022-02-18 10:59] exextoc commented on #2383
Ah, that should have been our first question. I can see that you are trying it on old UI, can you check that you are facing the issue on new UI also.

[2022-02-18 11:14] fjaeger commented on #2383
I can confirm that this issue does not manifest anymore in the new Outlook UI for Mac.

Do you still work on issues for the legacy Outlook UI on Mac?

[2022-02-18 15:59] GrumpyAL opened #2439 "Office.context.displayLanguage returns the wrong country when language is Spanish on macOS or iOS"
On macOS or iOS when the language is set to non-US Spanish (e.g. es-ES, es-MX) Office.context.displayLanguage returns es-US.  This happens if the language is set for the general OS language preference or as an application specific language setting.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number

[2022-02-18 17:08] jasonhieu1905 commented on #2432
@exextoc : I could reproduce on MS Edge too (Version 98.0.1108.55 (Official build) (64-bit).
Basically with our addin's context:
 - new message compose
 - type something in the body - with having multiple line breaks.
 - click somewhere in middle of the body
 - click more apps -> Script Lab -> run (make sure the editor with code is ready before)
 - observe the result (do not click somewhere else)

[2022-02-18 17:56] alexisweeren opened #2440 "Speech Sdk not working on Outlook app on mac"
I am using the speech sdk speech to text in a custom outlook add-in. When I am using the add-in on outlook on the web it works with no problem but when mac users are using the Outlook add-in on the native outlook app it doesn't always work. Are there any limitations to using the add-in on the native Outlook app for macs?

It isn't working for the Microsoft Outlook for Mac version 16.57.

# Provide

[2022-02-18 19:22] kinkoazc commented on #2432
Hello. I've also encountered this issue. I've created a repro setup around the `outlook-set-signature` sample, at https://github.com/kinkoazc/Office-Add-in-samples/tree/main/Samples/outlook-set-signature (you can work with either the remote or local install manifest). Here is how this issue looks in my case:
![2432-repro](https://user-images.githubusercontent.com/2164590/154747078-490a3900-b117-41

[2022-02-18 20:24] ElizabethSamuel-MSFT commented on #2312
Thanks for the additional comments providing context and more info. We're actively investigating this issue and hope to respond with a fix or mitigation soon.

Thanks.

[2022-02-18 20:40] ElizabethSamuel-MSFT commented on #2307
@lwaltman Thanks again for raising this issue. We're in the process of refining the docs around this type of situation. For now, please continue to refer to the parameter's description for accepted/supported values.

Thanks.

[2022-02-19 09:00] ghost commented on #2413
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-19 13:30] chenxizhang commented on #2231
same issue here

[2022-02-19 14:05] danlg commented on #2433
thanks @KelBowen this is blocking go to live. thanks for your help. Note : this happening on Word for Mac not Outlook ( I saw   macOutlookExtensibility assigned), although I may be at a later date, it's less urgent - interested to have this plugin in Outlook too.

I am surprised to say it politely by the number of bugs I have found in Office @exextoc ... The critical issues I am experiencing and t

[2022-02-19 14:54] ryanmccall101 commented on #2348
Hi All, I am having the same issue.  I am running a complicated program using Excel Javascript API - it works fine on desktop but when I use the excel online I got 'Error: GeneralException: An internal error has occurred.' - The error was intermittent though seemed to be around the section of code that develops pivot tables.  I removed the .catch error's to see what would happen and got the same m

[2022-02-19 15:00] ryanmccall101 commented on #2348
[Temp File - Screen Shots Console Errors and Excel Online Error Codes.docx](https://github.com/OfficeDev/office-js/files/8102392/Temp.File.-.Screen.Shots.Console.Errors.and.Excel.Online.Error.Codes.docx)

Hi again, i have attached a file with screen shots showing the adhoc nature of the Error: GeneralException, and also at the bottom of the file is some screen shots of the excel online error codes

[2022-02-19 23:28] eric-urban commented on #2440
@alexisweeren @KelBowen - In case this is an issue with the Cognitive Services Speech SDK, please see [https://github.com/MicrosoftDocs/azure-docs/issues/88349](https://github.com/MicrosoftDocs/azure-docs/issues/88349). I hope this helps!

[2022-02-20 23:37] msm2020 commented on #773
Do you manage to fix this bug ?

[2022-02-21 00:00] ghost commented on #2419
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-21 01:22] markdon commented on #2439
I interpret this as _displayLanguage will give you the locale of the host application's UI_. Which may not match the user's preference exactly (if set via OS) since the office applications aren't translated in to every possible language variant.

I'm not Microsoft.

[2022-02-21 04:12] #2356 closed, assigned to exextoc

[2022-02-21 04:38] #2431 closed, assigned to nobody

[2022-02-21 08:46] exextoc commented on #2383
Thank you for sharing this issue. As a workaround, users can switch to the New Outlook for Mac experience which works as expected. We are not prioritizing this fix on classic Mac UI; please reopen the issue in case the workaround does not solve your scenario.

[2022-02-21 09:00] ghost commented on #2399
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-21 09:00] ghost commented on #2381
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-21 09:02] rstoye commented on #2419
Sorry for the late response, are you talking about the Outlook client or the Exchange Server?

[2022-02-21 09:29] lachvit commented on #1686
Hi guys, maybe you will be able to help me. I'm experiencing similar issues, but with Office 2016, do we have any solutions for Office 2016?

[2022-02-21 09:34] guliums commented on #2348
Hi @ryanmccall101 , thanks very much for reporting this. This issue has been tracked as ADO#5750426 in our backlog. I will let you know when we have update. Thanks.

[2022-02-21 09:47] exextoc commented on #2439
We are unable to reproduce this issue from our side .Can you please share a repro video??

[2022-02-21 10:02] ryanmccall101 commented on #2348
Thanks, if you need more info I am more than happy to help - also if you want to meet on teams I would be happy to demonstrate.

Regards Ryan McCall +447428089960

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: guliums ***@***.***>
Sent: Monday, February 21, 2022 9:35:11 AM
To: OfficeDev/office-js ***@***.***>
Cc: ryanmccall101 ***@***.***>; Mention ***@***.***>

[2022-02-21 11:20] exextoc commented on #2003
We have a triage bug for this. Need to change tags and update OP accordingly.

From: sumitmodi-lab ***@***.***>
Date: Thursday, 17 February 2022 at 2:43 PM
To: OfficeDev/office-js ***@***.***>
Cc: Outlook Extensibility Oncall ***@***.***>, State change ***@***.***>
Subject: Re: [OfficeDev/office-js] [Outlook Onsend AddIn] SaveAsync Office JS API does not update MIP Label to Exchange Server in Outl

[2022-02-21 13:15] xiaoyu03 commented on #2216
Hi @sureshjoshi
Sorry for those poor experiences with these APIs and also thank you for your valuable feedback.
Good news is that the fix has reached the production ring, please have a try.

We change the default behavior of insertFootnote/Endnote() to make sure that it can be called multiple times in a row.
Before:
The footnote/endnote editor will be opened and the focus will be switched to the e

[2022-02-21 14:11] plamenbotev opened #2441 "Using Outlook REST API in hybrid setup"
Hello,
We are using the Outlook REST API for various tasks in our addin.
Can you please share if the Outlook REST services are available in hybrid setup environment with Exchange 2019?
Currently I am struggling to find definitive documentation about that other than:
https://techcommunity.microsoft.com/t5/exchange-team-blog/on-premises-architectural-requirements-for-the-rest-api/ba-p/605609

Best R

[2022-02-22 00:00] ghost commented on #2430
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-22 02:35] grangeryy commented on #2424
Adding @RuoyingLiang  for the add-in disappearance issue.

[2022-02-22 02:38] RuoyingLiang commented on #2424
@MicGensty, thanks for raising the issue. May I ask if the add-in has update recently? Is this happened after the add-in updating?

[2022-02-22 02:45] RuoyingLiang commented on #2424
@MicGensty , is that possible you can ask the customer to provide the the session id? Customer can get it from “File”->”Account”->”About Word” , click the "About Word" button and there is session ID.  That will be very helpful for our investigation.

[2022-02-22 04:34] jrpally opened #2442 "Input file html dialog component is disabled when sideloading,"
yarn sideload

Causes:
Input file html dialog component is disabled when sideloading MS Word.

[2022-02-22 04:40] Refinitiv-365 opened #2443 "Twice or Unable sign-in with the Admin Managed"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Twice or Unable sign-in with the Admin Managed in Insert tab. It's
## Your Environment

* Platform [PC desktop, Mac, iOS, Of

[2022-02-22 07:08] RuizhiSunMS commented on #2442
Hello @jrpally , can you provide some more information about your issue? It's pretty hard for us to locate based on what you provided.
One suggested format is as below:
Platform :
Host :
Office version number:
Operating System:
Current Behavior
Expected Behavior
Step to Reproduce Issue
Thanks.

[2022-02-22 07:30] clavx commented on #2278
I checked the current status and found that the Deploy from URL function works fine.
So does that mean it is fixed? Thanks.

[2022-02-22 08:02] christian-sap opened #2444 "getActiveWorksheet error"
# Provide required information needed to triage your issue
The API call context.workbook.worksheets.getActiveWorksheet() throws an error depending on the active sheet type.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: All latest Excel channel versions
* Operating System: Win + Mac

## Ex

[2022-02-22 08:12] ogomez92 commented on #225
Is this broken for office online? I get an error saying cannot modify selection when using setSelectedDataAsync in Powerpoint Online.

[2022-02-22 09:46] yuc014 commented on #2349
Hi @jake-chambers @sheldoncoates,

Please try this workaround:
[code]

When cell color == "#FFFFFF" and tintAndShade == null, means this is a default style cell. Then we do nothing for set new format.

The root cause is: when we "getCellProperties", it get the fill color of the cell. If the style of the cell is default, we can still get the color "#FFFFFF" from it. Then when we "setCellProperties"

[2022-02-22 10:03] exextoc commented on #2425
We are not able to reproduce this issue from our side ,Can you please share Display settings and Outlook build version on which you are seeing this issue?

[2022-02-22 10:12] exextoc commented on #2422
This scenario is as per design for us.Can you please help us understand how it is impacting you??

[2022-02-22 10:13] exextoc commented on #2329
we are prioritizing the dev investigation and will let you know when there is a further update.

[2022-02-22 11:00] ghost commented on #2413
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-22 11:00] #2413 closed, assigned to nobody

[2022-02-22 11:03] sebiJo opened #2445 "Content add-ins intermingle document settings if PPT slide with add-in is copied"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When a slide which contains a content add-in is copied, the copied add-ins will share the same settings object, which is very problematic. The behavior also occurs when the insertBase

[2022-02-22 11:49] teejay001 commented on #2422
Hi,

Thanks for the response.

The issue highlighted is the fact that the event ["RecipientsChangedEvent"](https://docs.microsoft.com/en-us/javascript/api/outlook/office.recipientschangedeventargs?view=outlook-js-1.7) is not being triggered even though the recipient has clearly being changed. Not sure how this would be in line with design.

The implication of this is that developers are not able t

[2022-02-22 14:25] GrumpyAL commented on #2381
Hello,

We are still trying to gather more information or find someone who is able to share a test account.  I have had reports of this from ~3-4 different organizations at this point but we're still looking for the missing repro step.

[2022-02-22 16:45] #2430 closed, assigned to nobody

[2022-02-22 17:08] AlexJerabek commented on #1686
Hi @lachvit,

The build requirements for the equivalent COM add-in feature are listed here: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/make-office-add-in-compatible-with-existing-com-add-in

Basically, you'll need a supported version of both Outlook and Exchange.

- Outlook on Windows (version 2102 or later) against a supported Exchange server version
  - Exchange Online
  - Excha

[2022-02-22 17:13] lachvit commented on #1686
Hi @AlexJerabek,

Thank you for you answer. I'm using exchange online and everything works fine with Outlook 365 but doesn't work with Outlook 2016, so if I understand correctly this solution is not designed for Office 2016. Maybe we have another solution for older office versions?

[2022-02-22 17:44] AlexJerabek commented on #1686
Hi @lachvit,

I don't believe there's a solution for Outlook 2016, but let me tag @exextoc to confirm.

[2022-02-22 19:10] sureshjoshi commented on #2216
@xiaoyu03 Thanks! I'll take a look at them later this week to test!

[2022-02-22 20:53] davidchesnut commented on #2348
Hi @ryanmccall101,

I spotted a very similar issue to yours at https://stackoverflow.com/questions/47044810/generalexception-in-excel-add-in-with-excel-online. Do you think any of the suggested solutions there apply to your scenario?

[2022-02-22 23:38] markdon opened #2446 "Dialog's "wants to display a new window" has white-on-white message text"
In Outlook Web, when an add-in tries to open a dialog from a ui-less function with the `promptBeforeOpen: true` option, the dialog has unreadable white-on-white text.

In my case, I'm opening a dialog from an on-send event handler.

Light mode:
![image](https://user-images.githubusercontent.com/9063681/155237546-b97124f1-a3b0-4038-8ce3-7384faa909f6.png)
Dark mode:
![image](https://user-images.gith

[2022-02-23 01:07] ambachtelijk opened #2447 "Critical: Outlook Identity API SSO calls wrong OAuth endpoint URL to authorize"
# Provide required information needed to triage your issue
When trying to sideload an add-in in Outlook that uses the Identity API to authorize the user via SSO, during first authorization, the Identity API calls the token endpoint at `https://ccs.login.microsoftonline.com/common/oauth2/authorize` instead of `https://ccs.login.microsoftonline.com/ccs/common/oauth2/authorize`. This results in an HT

[2022-02-23 03:23] jasonhieu1905 opened #2448 "(ContentControl): insertFileFromBase64 to table of contents has ItemNotFound ContentControl._OnAccess error."
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: Version 2201 Build 16.0.14827.20198
* Operating System: Windows

## Expected behavior
content control insert file from base 64 should have no error.

## Current behavior
exception: ItemNotFound ContentControl._OnAccess

## Steps to reproduce
1.

[2022-02-23 04:30] guliums commented on #2275
Hi @NickDarvey , thanks very much for reporting the issue. Does "deploy an update to our add-in" means you upload a new manifest file from admin.micorsoft.com? May I know it disappears from user's ribbon or disappear from "Admin Managed" tab in Office Add-ins dialog? Does rollback the update means upload the old manifest file? Is it possible that the issue is in the new version of the manifest? Co

[2022-02-23 04:55] NickDarvey commented on #2275
Hi @RuoyingLiang, @guliums. Sorry for the delay.

I mean we deploy a change to the webapp such as altering the `index.html` or `taskpane.js` which is loaded when the add-in is opened. There is no change to the manifest.

This was happening on Word Online.

If it helps you investigate, I did have a support request open, case 28927071, in which I recorded and shared HARs for diagnosis. It would incl

[2022-02-23 05:01] NickDarvey commented on #2275
I just tested and can see it occurring right now. Notably, we deployed an update just yesterday  (again, to the taskpane.js).

This request:
[code]

times out after one minute. No add-ins are listed in 'admin managed', my add-in doesn't show in the UI (even though it was showing before).

[code]

[2022-02-23 05:41] guliums commented on #2443
@AkhileshShah-MS Looks like an issue with Centralized Deployment, could you help triage? Thanks

[2022-02-23 06:19] RuizhiSunMS commented on #2444
Thank @KelBowen  for reporting.
After some investigations, we colleagues found that it was by design. Chart sheet and macro sheet are not worksheet. Most APIs don't support non worksheet type.

[2022-02-23 06:23] christian-sap commented on #2444
Hi @RuizhiSunMS , and how can we find out that the currently activated sheet is not a worksheet? For example a property "type" on Excel.Worksheet would be an idea that tells us which sheet type it is. Or maybe return null in case of an unsupported sheet.
Currently we call getActiveWorksheet and get an exception which is not the best behavior.

[2022-02-23 06:30] christian-sap commented on #2444
@RuizhiSunMS beside that my event handler on context.workbook.worksheets.onActivated is not called when a chart sheet is activated. This should be fixed as well.

[2022-02-23 08:30] ryanmccall101 commented on #2348
Hi David,

I have actually reviewed that problem previously but it did not help.

I checked the version number in the manifest – see below, trying to change xml version="1.0" to version 1.0.0.0 results in error, so I presume OP was talking about the second mention of version per the following:

I also checked and confirm I am not mixing the Office 2013 paradigm ("getSelectedDataAsync") with the Of

[2022-02-23 08:43] ryanmccall101 commented on #2348
Hi, one other thing I forgot to mention, some pivot tables revert to ‘count’ rather than ‘sum’ – hence the reason I have added the following:

pivotTable.dataHierarchies.items[0].summarizeBy = Excel.AggregationFunction.sum;

        pivotTable.dataHierarchies.items[1].summarizeBy = Excel.AggregationFunction.sum;

        pivotTable.dataHierarchies.items[2].summarizeBy = Excel.AggregationFunction.s

[2022-02-23 10:57] guliums commented on #2348
Hi @ryanmccall101 , thanks very much for the details. We have found the root cause that causing the Error Id in your attached file [Temp File - Screen Shots Console Errors and Excel Online Error Codes.docx](https://github.com/OfficeDev/office-js/files/8102392/Temp.File.-.Screen.Shots.Console.Errors.and.Excel.Online.Error.Codes.docx) and working on the fix, but it need some time to get deployed to

[2022-02-23 10:57] exextoc commented on #2446
We are not able to reproduce this issue ,can you please share the manifest or sample code which you are using ??

[2022-02-23 11:03] ryanmccall101 commented on #2348
No problem, actually it is a big relief to hear you have found root cause so thanks for helping.  Just one more query if I may, I was looking to apply to put the App on AppSource in the near future though part of the approval process (I understand) require’s web version operability.  Is it possible to get an exemption on this requirement while the fix is pushed through?

From: guliums ***@***.***>

[2022-02-23 11:35] guliums commented on #2348
@ryanmccall101 what time do you plan to publish your add-in to appsource? I'm sorry that this issue blocking your web version add-in. We will treat this issue as high priority and I was hoping the fix could be deployed before the AppSource process.

[2022-02-23 11:41] ryanmccall101 commented on #2348
Hi, I have finished all functional requirements and performance improvements and am now focusing on testing.  I would’ve liked to start the application process in 4 to 8 weeks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: guliums ***@***.***>
Sent: Wednesday, February 23, 2022 11:35:43 AM
To: OfficeDev/office-js ***@***.***>
Cc: ryanmccall101 ***@***.***>; Men

[2022-02-23 12:37] MahammedAslam opened #2449 "Outlook add-in - React Web App - MSAL authentication - Slowness Issue"
**Background**
We have custom Outlook Add-in (React web App based) for which Authentication implemented using MSAL package ( "@azure/msal-browser": "^2.16.1", "@azure/msal-react": "^1.0.1"). Earlier we faced issue in login popup getting hanged during authentication process using MSAL Package. Later MSAL React team provided a workaround for this issue  through using the below code snippet.

wait Of

[2022-02-23 13:47] RuizhiSunMS commented on #2448
@yihuax , seems another issue in word client api. Please have a look.

[2022-02-23 14:17] MicGensty commented on #2424
Latest as of yesterday, we received reports of this happening. Two of our colleagues (one on Win11 and one on Win10) experienced it as well. And it happened again today for a colleague on Mac - we were able to get the Session id: 567E8543-2A7E-4159-A9E3-08E5B1D38B98. (Office build number: 16.58 (22021501))

It did not coincide with one of our code updates. Was there maybe an update of Word desktop

[2022-02-23 15:26] guliums commented on #2275
Hi @NickDarvey , thanks very much for the details. Is there any error message showed in 'admin managed' while No Add-ins are listed? Will the add-in show up if you click the refresh in the Office Add-ins dialog?

[2022-02-23 15:39] MicGensty commented on #2424
(Office build number in that case: 16.58 (22021501))

[2022-02-23 16:32] barclayadam opened #2450 "OWA: Some images broken when adding as attachments"
## Your Environment
* Platform: Office on the web
* Host: Outlook
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome v98

## Expected behavior
When adding an attachment it is displayed correctly in OWA.

## Current behavior

![image](https://user-images.githubusercontent.com/973909/155356340-987c8ccc-bcf5-49c1-ae21-349d193c01cf.png)

## Steps to reproduce
Install our tes

[2022-02-23 23:33] NickDarvey commented on #2275
@guliums

No, just a loading icon and then 'no add-ins available' after the request times out.

No, just a loading icon and then 'no add-ins available' after the request times out. 😅

[2022-02-24 01:32] markdon commented on #2446
I figured out what's happening.

Part of how this dialog works involves opening the addin's FunctionFile URL in an iframe. The dialog text and buttons are created inside this iframe. CSS that appears when loading the FunctionFile URL can affect this dialog!

My addin supports dark mode, which was turning the dialog text white.

I may open a docs issue to make this behaviour more obvious.

[2022-02-24 01:32] #2446 closed, assigned to nobody

[2022-02-24 01:36] exextoc commented on #2449
I believe msalInstance.handleRedirectPromise call is part of the MSAL library. Have you asked MSAL team about the slowness of this call?  Or do you only see the slowness when the call is used in Office addin dialog?

[2022-02-24 02:01] gitcnd commented on #2425
Microsoft Outlook for Mac 16.16.27(201012)
Also other Mac Outlooks versions too - it's the same on all my test machines.
It's not *every* store entry (e.g. Evernote still works), but it *is* almost all of them.

See screencast:  https://autode.sk/3BN5u8N

The Store expands the screenshots wrongly.

[2022-02-24 02:46] exextoc commented on #2447
There seems to be 2 separate issues here:
1. Addin is not showing up in Outlook Win32 in read mode.  However, I do see "Open HAMMOCK" in compose.  I also notice that HAMMOCK shows up correctly in read if I remove module extension point.  Is that what you are seeing as well?  Are you saying this changed recently?

2. For the auth issue, I have tried Win32, I do see the login consent. (and get 13002

[2022-02-24 06:41] exextoc commented on #2437
We are not able to repro this ,can you help us with these queries for further investigation:-
1)Is the repro consistent for all add-ins or happens for some add-ins?
2)Since when are you seeing this issue, was this happening before?
3)Can you help us with a test account/repro video where it doesn't find the correct folder and goes into error?

[2022-02-24 06:54] jeroenrosendaal commented on #2429
@guliums @KelBowen Can you give an update?

[2022-02-24 06:55] exextoc commented on #1686
Yes, this is correct this solution does not work for Outlook 2016. There is no equivalent in Outlook 2016, other than to disable /remove the web addin manually

[2022-02-24 07:10] guliums commented on #2429
Hi @jeroenrosendaal , sorry for late response. Are you using Office 2016? According to document [Excel.TableRowCollection class - Office Add-ins | Microsoft Docs](https://docs.microsoft.com/en-us/javascript/api/excel/excel.tablerowcollection?view=excel-js-preview#excel-excel-tablerowcollection-add-member(1)), this API only support insert single row in ExcelAPI 1.1. And it support add mutiple row a

[2022-02-24 07:16] guliums commented on #2275
Thanks @NickDarvey for confirmation.
@AkhileshShah-MS looks like the issue is similar to the original one that request AddinServiceHandler.ashx?action=getAddIns timeout. Could you confirm it is fixed or not?

[2022-02-24 07:18] exextoc commented on #2416
Thanks for clarification. I want to note that yes, we can also repro this bug for Windows, and it has been put in our backlog. We unfortunately have no timelines to share at this point.

[2022-02-24 07:24] jeroenrosendaal commented on #2429
@guliums Yes we are using Office 2016 with Excel API 1.1. I updated the code so it will insert one row, but results in the same error. See recording. We cannot update to Excel API 1.4 due to Windows version.
[recording.zip](https://github.com/OfficeDev/office-js/files/8130445/recording.zip)

[2022-02-24 07:29] swiftinitdotcom commented on #2231
Is this fixed we are not able to do sso because of this issue.

[2022-02-24 07:32] lachvit commented on #1686
@exextoc Thank You for you reply, could you elaborate more about: "than to disable /remove the web addin manually"? How I can remove we add-in, because I can't see it in "Add remove programs" or Outlook add-in list.

[2022-02-24 07:39] guliums commented on #2429
Hi @jeroenrosendaal , could you help provide the session id after you hit the issue? You could get it from “File”->”Account”->”About Excel” , click the "About Excel" button and there is session ID. That will be very helpful for our investigation. Thanks!

[2022-02-24 07:44] jeroenrosendaal commented on #2429
@guliums Sure, this is what I see.

<img width="653" alt="Schermafbeelding 2022-02-24 om 08 44 17" src="https://user-images.githubusercontent.com/37666832/155480288-84ac4266-45a6-4080-b65e-7b963d63da70.png">

[2022-02-24 08:43] exextoc commented on #2450
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point

[2022-02-24 09:59] exextoc commented on #773
We have this in out backlog and we are planning to take this up soon and will keep you posted on the progress

[2022-02-24 10:01] exextoc commented on #2142
This bug is in our backlog and we will keep you posted on the progress.Meanwhile can you please let us know how many users are impacted by this??

[2022-02-24 10:08] exextoc commented on #2422
Currently the feature you requested, is not a part of the product. We track Outlook add-in feature requests on our Tech [Community Page](http://aka.ms/M365dev-suggestions).Please submit your request there and choose the appropriate label. Feature requests on Tech Community are considered, when we go through our planning process.

[2022-02-24 11:00] ghost commented on #2399
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-24 11:00] #2399 closed, assigned to exextoc

[2022-02-24 12:14] FranCerrada opened #2451 "PowerPoint inserts image always into image placeholder if exists."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Something has recently changed in PowePoint Web Add-in that introduces the following behavior: when inserting an image into a slide with an image placeholder, the image will always be

[2022-02-24 12:24] exextoc commented on #2432
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point

[2022-02-24 13:36] jeroenrosendaal commented on #2429
@guliums Is this the information you need?

[2022-02-24 14:01] MarioVitale commented on #2437
I created 2 projects, one using Node as http server and one using wildfly.
With Node the problem does not arise because node works with insesitive case path.
![Node-OK](https://user-images.githubusercontent.com/25910212/155534560-60d40925-e03c-44c3-8073-2a546ef7e5d8.png)

Instead with wildfly the problem arises because it works with path case sensitive.
![Wildfly-Error](https://user-images.githubu

[2022-02-24 15:31] GrumpyAL commented on #1731
https://user-images.githubusercontent.com/28786762/155554997-a7361aec-3da7-4fd6-ae4b-e153a27c88c1.mp4

This shows us changing to es-MX and getting es-US but this happens for multiple Spanish locales that we tried (Panama, Colombia, Spain, and Mexico)

[2022-02-24 15:33] GrumpyAL commented on #2439
https://user-images.githubusercontent.com/28786762/155555391-fd1158eb-02f5-4bdb-b26c-a538390a01b8.mp4

This shows us testing on es-MX but this happens on multiple Spanish locales that we tried (Panama, Colombia, Spain, and Mexico)

[2022-02-24 18:01] exextoc commented on #2441
Are you using REST API in your addin with token from getcallbacktokenasync addin API call? If so, REST API with getcallbacktokenasync should work in on-premise Exchange 2016 and 2019

[2022-02-24 18:43] exextoc commented on #1686
@lachvit Do you see the web addin in "Get Add-ins" on the ribbon or File > Manage Add-ins (note that this is a different button from the COM add-ins) similar to what's described in https://support.microsoft.com/en-us/office/get-an-office-add-in-for-outlook-1ee261f9-49bf-4ba6-b3e2-2ba7bcab64c8 ?

Alternatively, you can also use powershell to get https://docs.microsoft.com/en-us/powershell/module/ex

[2022-02-24 20:40] JuaneloJuanelo commented on #2398
@bendblasko  this issue is focusing on Outlook on the Web. If you are  getting this issue please open a separate issue. We will close this one as this has been fixed as reported by many folks including the opening party.

[2022-02-24 20:40] #2398 closed, assigned to nobody

[2022-02-24 20:42] yihuax-msft commented on #2438
This is by design. Our APIs does not support the function of getting selection of columns.

We do support getting the selection of multiple WHOLE rows. The condition is that the selection is the row selection, not the cell selection that covers multiple rows. To make the row selection, put the cursor at left (and outside) of the table to select one or multiple rows.

Thanks.

[2022-02-25 01:05] HelenNeigel commented on #1965
Hi guys, looks like the issue is back:

Office version number: Microsoft® Excel® for Microsoft 365 MSO (16.0.14326.20782) 64-bit
Operating System: Windows 10
Browser: Microsoft Edge Version 98.0.1108.62 (Official build) (64-bit)

[2022-02-25 01:05] HelenNeigel commented on #1938
Hi guys, looks like the issue is back:

Office version number: Microsoft® Excel® for Microsoft 365 MSO (16.0.14326.20782) 64-bit
Operating System: Windows 10
Browser: Microsoft Edge Version 98.0.1108.62 (Official build) (64-bit)

[2022-02-25 01:41] yihuax-msft commented on #2436
The cause of the problem is that, if a tracked object is from a collection item, then the collection must also be tracked.
The following code works on my machine:

async function run() {
  let foundRange: Word.Range;
  let foundRangeCollection;
  await Word.run(async (context) => {
    const body = context.document.body;
    const insertString = "heste";
    body.insertText(insertString, "Start");

[2022-02-25 01:43] swiftinitdotcom commented on #1784
I opened support ticket, lets see

[2022-02-25 01:49] Dengshan2018 commented on #1965
@HelenNeigel, could you confirm the version of webview2 runtime (the version of msedgewebview2.exe)? though browser version and webview2 runtime version are same in most of cases.

[2022-02-25 01:53] RuoyingLiang commented on #2424
Thanks @MicGensty. We are proactively investigating the issue and will back to this thread once we have update. If you could repro in Windows  again, please also share the build number with us. That will be super helpful. Thanks!

[2022-02-25 02:09] HelenNeigel commented on #1965
Microsoft Edge WebView2 Runtime 98.0.1108.56

[2022-02-25 02:15] Dengshan2018 commented on #1965
Thanks @HelenNeigel. I can't repro so far. any special steps or only repo on specific add-ins?

[2022-02-25 02:25] HelenNeigel commented on #1965
I experience the issue with other add-ins as well, for example Script Lab. I tried the suggested registry key, maybe some other settings should be updated?

[2022-02-25 03:04] yihuax-msft commented on #2428
I cannot reproduce this issue on Mac.  For example, if I select "you've" and then get selected text, I got 6 characters, which is correct. Are you using Word on MAC of another language?

![image](https://user-images.githubusercontent.com/85257380/155645761-5c470450-c36a-4ac3-bdbf-a317713b8a7a.png)

[2022-02-25 03:19] yihuax-msft commented on #1059
This is Word's native behavior. I saw the same behavior with VBA. I am not sure it is by design or it is a bug.

@AbidRahman-MSFT, Could you assign this issue to Word team? Thanks.

[2022-02-25 03:38] yihuax-msft commented on #2448
This is by design.

After you inserted TOC, there are two content controls: the original content control, and the TOC's content control.

You code inserts something into both content controls. But, after the stuff is inserted into the first content control, the nested second content control has been replaced and it no longer exists.

If you change the second parameter "**Replace**" in the line:

[2022-02-25 03:58] rogozind commented on #2428
The problem is not getSelection(). The problem is body.getHtml() API. Take the entire HTML using getHtml() and look for that area. All smart characters will exhibit this issue.
I have Mac English version.

[2022-02-25 05:39] yihuax-msft commented on #2428
You are right. Looks that, if you get the whole body's html of that specific document, the issue does occur.
If we remove the lines above and below the interested place, that is, if the whole body only contains the paragraphs with the quote mark, body.getHtml works correctly.
We need to investigate further. Also, if you convert the 3 garbage characters into the coding values, I guess, it probably

[2022-02-25 05:50] guliums commented on #2429
Thanks @jeroenrosendaal for the information. We are investigating this and will update to you back when we have progress.

[2022-02-25 06:01] christian-sap commented on #2444
Hi @RuizhiSunMS , do you have answers to my questions? Is it possible to fix the issue that we do not even get a "sheet activate" event when the user activates such a sheet?

[2022-02-25 06:51] MahammedAslam commented on #2449
@exextoc - No, we've not reached MSAL team on slowness. We are not sure whether slowness occurred due to calling from Add-in dialog. First we would like  to understand approach in implementing authentication process's under Outlook Add-in was correct.  Can we've a quick connect call to clarify below

1. If approach's correct, Solution to avoid calling repeated authentication process every time lau

[2022-02-25 07:44] FranCerrada commented on #2451
I want to provide a bit more information after trying out the Api thoroughly:

**Before**

- It was not possible to insert images into placeholders, so when trying to insert an image with a placeholder selected an error was thrown.

**Now**

- it's possible to insert an image into a placeholder, but only if the placeholder supports images.
- Placeholders with image support are Content, Picture and

[2022-02-25 08:57] exextoc commented on #2439
Thanks for sharing the video. What we are observing is that iOffice.context.displayLanguage shows en-us after first relaunch of Outlook after changing the language to Spanish but when i again restart Outlook we are getting correct language in Office.context.displayLanguage api .Can you please confirm if it is same behaviour for you as well

[2022-02-25 09:00] ghost commented on #2383
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-25 10:36] LeonardoDavinci commented on #2179
Any updates on this? We are having the same problem when loading a larger presentation file (around 140-180mb).

[2022-02-25 11:35] rogozind commented on #2428
I'm glad you reproduced it. I'll wait for the fix. It is not super critical because our users are primarily on Windows.
Any expectation when this can be fixed? And whether or not the fix will require Office client upgrade?

[2022-02-25 13:33] lachvit commented on #1686
@exextoc  once again thank You for your help. If I choose File > Manage Add-ins , I'm able to see that add-in, but I can't remove it (remove button is greyed out). Looks like everything what is related with web add-in settings doesn't work in Outlook 2016. I've blocked web add-ins using GPO, but his add-in is still active... :)
![image](https://user-images.githubusercontent.com/58638102/155723831-

[2022-02-25 16:39] JensMadsen commented on #2436
Thank you @yihuax-msft. A bit surprising since it works in Word Online. Nonetheless It also works without tracking the range. Tracking the RangeCollection is enough. Perhaps it would be an idea to add some information (if possible) to the error message in this case, and describe it in the docs if not already there?

[2022-02-25 17:03] Dengshan2018 commented on #1965
@HelenNeigel , could you add the repro steps for Script Lab? I played with it. Didn't experience any add-in reload.

[2022-02-25 17:29] yihuax-msft commented on #2436
Thank you @JensMadsen for your patience. Glad to know it works. We certainly should keep improving our documentation. Good suggestion! I will let our documentation engineers know.

[2022-02-25 17:42] jfoclpf commented on #1550
How to make it reachable? I have the same issue. I can't upload manifest.xml via URL

[2022-02-25 18:02] JensMadsen opened #2452 "Caanot load addin in yarn workspace in Word version using ie11"
I have created a fresh project using yeoman https://github.com/OfficeDev/generator-office
I choose: typescript, Word and React. Everything works fine out of the box.

If I do the exact same thing in a fresh yarn workspace it does not work. I suspect that the problem is that some packages (related to polyfill??) do not work as expected.

I have experimented with the `nohoist` config but no luck. Do

[2022-02-25 18:31] jargil commented on #2435
@JensMadsen - yes this is expected. AppDomains lists the domains that you'll be allowed to navigate to in the add-in frame as well as which domains will be able to call Office APIs, it does not prevent doing XHRs, that's controlled by the browser via CORS, etc., but not by Office.

[2022-02-25 18:31] #2435 closed, assigned to jargil

[2022-02-25 18:48] CherylWetherington commented on #2438
Thank you for your response! Is there a plan to support this scenario in the future?

[2022-02-25 18:53] slaurent42 commented on #2438
Thank you for your response! Is there a plan to support this scenario in the future? and if so, what is the timeline about?

[2022-02-25 19:07] yihuax-msft commented on #2438
We have no plan yet to expand our support of the selection, the selection of multiple areas (column selection is multi-area, since it is not continuous). What is your scenario? Do you have a workaround based on the existing functionalities? Thanks.

[2022-02-25 19:08] exextoc commented on #2447
@ehmPlankje Could you split the github issue? We should have 1 github issue tracking that the addin is not showing up at all in Wn32.   We should have another github issue tracking the getAccessToken issue you are seeing in OWA.

[2022-02-25 19:11] GrumpyAL commented on #2439
Ok, we did some more testing but restarting Outlook multiple times has not fixed the issue.  We also tried flipping to a different language (French-France) and that showed as fr-US (which I don't believe is a code I have seen before).  After many reboots and trying other languages (and restarting Outlook a few times for each one) we were not able to get it to return the expected value.  We also sa

[2022-02-25 19:17] exextoc commented on #2449
Let's confirm the scenario first.  What do you plan to use auth for?  For example, do you plan to use the auth to login to your service, call graph API, etc?  Have you considered: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins ?

exextoc does not have expertise in specific auth process to answer your questions.  In general, we do recommend using dialog to for add

[2022-02-25 19:22] exextoc commented on #1686
Thanks for trying and clarifying. The previous suggestions were all for remove the add-in from the user's account. I did not realize you only need to remove the addin for only specifically Windows Outlook 2016.  Unfortunately, I do not have other alternatives

[2022-02-25 19:33] slaurent42 commented on #2438
Would it be possible to show case our scenario in a call? Thank you!

[2022-02-25 19:47] yihuax-msft commented on #2438
Sure. Maybe sometime this afternoon using Teams?

[2022-02-25 19:59] alison-mk commented on #1938
Hi @HelenNeigel, thanks for the information. @guliums can you take a look at this issue?

[2022-02-25 21:18] slaurent42 commented on #2438
I would like to involve our product manager and engineers who are based in South Africa. Would meeting with them next week Tuesday at 9AM PST work for you?

[2022-02-25 21:27] yihuax-msft commented on #2438
Sorry Tuesday doesn't work. Wednesday at 9am?

[2022-02-25 21:27] cody-lettau opened #2453 "Unable to run embedded WASM (which uses SharedArrayBuffer)"
# Provide required information needed to triage your issue
I am attempting to instantiate a WASM module within my Outlook add-in and am running into issues with the use of ```SharedArrayBuffer``` not being available.

![image](https://user-images.githubusercontent.com/7740624/155804690-c8696a2d-3d8f-489a-ad5b-ca71941621a4.png)

From my reading, it appears that there are specific security requireme

[2022-02-25 21:28] slaurent42 commented on #2438
yes, that will work. Thank you

[2022-02-25 21:35] slaurent42 commented on #2438
to what address may I send you a Teams meeting invite?

[2022-02-25 21:37] yihuax-msft commented on #2438
@slaurent42:  yihuax@microsoft.com please. Thanks!

[2022-02-26 10:12] lachvit commented on #1686
@exextoc anyway, thanks for your collaboration, I really appreciate it.

[2022-02-26 20:16] JensMadsen commented on #2435
Thank you for the explanation @jargil . I misunderstood things. I thought that we had to label our API as allowed in order to send requests to it.

[2022-02-26 21:00] ghost commented on #2442
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-27 00:06] zwang1225 commented on #1580
Please is there any update on this issue? My team is facing the same issues. @exextoc

[2022-02-27 09:00] ghost commented on #2329
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-27 10:14] guzman-rc commented on #2329
OnMessageAttachmentsChanged event still not working. We hope to have news soon.

[2022-02-27 21:49] mikewalker74 commented on #2359
We have some customers who are using Outlook 2019 Volume License LTS release and as such crazily MS seem to make this force to use IE as the render engine, the issue we are having is trying to provide a friendly message from a React based solution and even at the Index.HTML page there seems to be some issues in JS running properly and wonder if there is a specific issue on Windows 11 and using the

[2022-02-28 04:51] guliums commented on #1938
Duplicated with https://github.com/OfficeDev/office-js/issues/1965 @Dengshan2018 could you take a look? Thanks.

[2022-02-28 05:55] t-miyake opened #2454 "The OnSend add-in does not run in Outlook on the web when I follow certain steps to send an email."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

The OnSend add-in does not run in Outlook on the web when I follow certain steps to send an email.
Also, depending on the p

[2022-02-28 06:31] #2289 closed, assigned to preethikakiru, RuoyingLiang

[2022-02-28 08:36] glr0221 commented on #2416
@exextoc

Thank you for your response. Should any update be available, would you be kind to update the ticket please?
Againg, thank you.

[2022-02-28 09:05] RuizhiSunMS commented on #2444
Hello @christian-sap .
https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheet?view=excel-js-preview
As above doc said, we regard a grid of cells as a 'worksheet' which is the only target of our apis about 'sheet'.
In other words, one can not achieve the goal of using an event handler of worksheet to deal with non-worksheets. That is by-designed feature for now.

[2022-02-28 11:00] ghost commented on #2383
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-02-28 11:00] #2383 closed, assigned to exextoc

[2022-02-28 17:17] Dengshan2018 commented on #1938
@HelenNeigel , are same repro steps or different?

[2022-02-28 21:00] ghost commented on #2441
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-02-28 21:34] SylvaD-MS commented on #2359
@mikewalker74, correct setting Win32WebView (MS Edge Legacy browser) to zero (instead of 1) will force IE\Trident rendering engine to be used for Web Add-in.  In addition, on Win11, the IE browser can't be launched manually, and it might be disabled (https://docs.microsoft.com/en-us/troubleshoot/developer/browsers/installation/disable-internet-explorer-windows).  But the IE\Trident rendering engin

[2022-02-28 21:48] yihuax-msft commented on #2428
@rogozind, After my investigation, I think it is a behavior by design. Clearly, it is not "3 garbage characters", because when opening the html file with these "3 garbage characters", both Google Chrome and Apple Sarafi can display back the quote mark correctly. Also, Word can also display it correctly if you open the saved html file.

I think the quote mark is not an ordinary single quotation mar

[2022-02-28 22:53] rogozind commented on #2428
I do not see either Chrome or Word being able read this file. Here is what I do:
1. Print getHtml() to Javascript console.
2. Copy paste this text to a file (rename to html). [raw.html.txt](https://github.com/OfficeDev/office-js/files/8157348/raw.html.txt)
3. Open it in Chrome:
<img width="598" alt="image" src="https://user-images.githubusercontent.com/10505245/156069862-4896a4da-e60f-4dfc-af64-a0

[2022-02-28 23:03] yihuax-msft commented on #2428
I think you are right. I found I made a mistake today. Let me investigate more. Thanks.

[2022-02-28 23:04] rogozind commented on #2428
Sure thing. And thank you for such deep investigation.

[2022-03-01 10:03] m-pd commented on #1400
Hi @exextoc Very sorry for the late reply. The problem still exists after running the commands. This is the diagnostics id - 7XFACQRS

[2022-03-01 11:11] plamenbotev commented on #2441
Hello @exextoc,
Thank you so much for taking the time to look into this.
Yes, we are using the REST API with token from getcallbacktokenasync.
Should the services work out of the box in this case or is there anything specific on the exchange server that must be done additionally? If any I would really appreciate if you point me in the right direction in the documentation.

Best Regards,
Plamen

[2022-03-01 13:08] lukesolar opened #2455 "Description of item cannot be updated anymore after calling saveAsync"
After calling saveAsync on an occurrence of a meeting series, the Description of the item cannot be updated anymore by the user and the items id becomes invalid.

This is a serious bug related to Outlook (Office 2016).

## Your Environment

* Platform: PC
* Host: Outlook
* Office version number: Office 2016 (16.0.5278.1000) 32-bit
* Operating System: Windows
* Calendar Provider: Exchange 2016

##

[2022-03-01 13:34] MicGensty commented on #2424
In Windows:
Session-id: A9BDA8DA-B565-4F46-BB53-A1FCAFAA9485
Microsoft Word 365 MSO,  (Version 2203 Build 16.0.15018.20002) 64-bit

[2022-03-01 17:49] milankonir opened #2456 "Forwarded message loads custom properties from previous message"
# Provide required information needed to triage your issue

According to documentation, the `loadCustomPropertiesAsync` should return custom properties on per app / per item basis. This is not true when you forward a message in Outlook for Windows - the `loadCustomPropertiesAsync` will return custom properties from the forwarded message.

## Your Environment

* Platform [PC desktop, Mac, iOS, Offi

[2022-03-01 21:00] ghost commented on #2447
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-01 21:24] exextoc commented on #2416
Yes, this issue will be updated when we have new information to share.

[2022-03-01 23:00] ghost commented on #2442
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-01 23:00] #2442 closed, assigned to nobody

[2022-03-02 00:21] ElizabethSamuel-MSFT commented on #2312
We've updated the documentation regarding setting up the loopback exemption for localhost. You **do** need to set the full GUID. In this case, the name being "AppContainer NOT FOUND" means that it doesn't have an assigned/associated name, not that it wasn't set up correctly.

We're still investigating the issue as to why the feature still doesn't work even after the loopback exemption is set.

[2022-03-02 00:57] yihuax-msft commented on #2428
@rogozind, My investigation found that on MAC, the returned html string is in fact a UTF-8 string. The quote mark is correct in that it occupies three bytes, with values 0xE2 0x80 0x99. See https://www.compart.com/en/unicode/U+2019. The task is to convert the utf-8 string to a normal javascript string. For some reason, the line
        var string = new TextDecoder().decode(uint8array);
does not wo

[2022-03-02 01:10] rogozind commented on #2428
Is this what you re looking for:
<img width="801" alt="image" src="https://user-images.githubusercontent.com/10505245/156275400-2b2f88be-3bc4-477b-bcfb-472140ff644e.png">
Seems to do teh right things both ways. This is the JS console from the addin.

[2022-03-02 01:13] yihuax-msft commented on #2428
Yes. But the decoded string still displays wrongly on my machine. If it works on your machine, it would be great in that the issue is resolved. My machine is just tooooo old.

[2022-03-02 01:17] rogozind commented on #2428
This test does work in the same JS console in the addin. But actual body.getHTML() does not.
Is there any way to debug  getHTML()? Maybe a non-minified  version of the source code? If yes I can possible debug it for you.

[2022-03-02 05:05] Suchin15 commented on #1101
Hello

![image](https://user-images.githubusercontent.com/91460622/156298708-fd04af11-fb98-4ac2-9fb2-9bfbd2532f93.png)
I'm facing this issue can anyone help me

[2022-03-02 06:08] splinter commented on #1784
We are also facing the same issue and it seems to be blocking  a login flow

[2022-03-02 06:09] splinter commented on #2231
We are also facing the same issue and it seems to be blocking  a login flow

[2022-03-02 06:25] christian-sap commented on #2444
Hi @RuizhiSunMS , I understand that this is the designed behavior but then I have to say that the design is not really good because it is incomplete. I do not expect that all API functions are working on those non-worksheet sheets but at least we need 1 (!!!) API function that tells us that the user has activated an unsupported sheet.
At the moment the Excel user can use chart sheets and our add-i

[2022-03-02 06:57] ghelyar commented on #2312
No, it definitely needs to be truncated at 50 characters, at least on Windows 10.

Once you use the truncated name, it stops saying "appcontainer not found" and instead displays the name, which confirms the truncated name is correct. I was also able to get it to work after changing this name, as long as I build in development mode and then use the npm `http-server` package to host the `dist` direc

[2022-03-02 07:30] pkkj commented on #2231
Hi.

This issue is caused by an internal exception from Office.js. Generally speaking, it's a false alarm and it won't block the add-in's JavaScript logic.

The fix has reached the beta version of Office.js. In my test environment, this exception disappears after I use this version. Feel free to try it if possible. The path to beta CDN is https://appsforoffice.microsoft.com/lib/beta/hosted/office.

[2022-03-02 07:39] RuizhiSunMS commented on #2444
Hello, @christian-sap ,
With some investigation, one way might work is to use try-catch and getActiveWorksheet ( that api would throw error if active sheet is not worksheet). This is just a advice programming-wise.
Sorry for saying that your requirement is not supported. But I'd like to suggest you to forum on which we track feature request. Here is the link: Microsoft 365 Developer Platform Ideas

[2022-03-02 10:05] m-pd commented on #2381
Hi. This issue was reported in another issue and I have supplied new diagnostics - https://github.com/OfficeDev/office-js/issues/1400

[2022-03-02 10:11] chenxizhang commented on #2231
Thanks for the update @pkkj  let me try the beta version and will back to you soon

[2022-03-02 10:18] dhoelzl commented on #2411
Hello!

Thank you for looking at this.

Our purpose is to use the data binding without further modifying the content of the content control or the bound document.

Deleting the last paragraph programmatically after the insertion would partially solve it, but once the source document in the custom XML changes (we update the content of the custom XML prior to the document being opened) the extra ins

[2022-03-02 10:24] swiftinitdotcom commented on #2231
We did a lot of head scratch and finally found one workaround....
The way its fixed for us is by using
Office.context.ui.messageParent("Some message", { targetOrigin: "*" })

[2022-03-02 12:43] MahammedAslam commented on #2449
Yes, we use auth for calling graph API using access token and fetching user profile information using it.

While doing so, this flow takes more time(like ex: 10 -14 secs) to authenticate and this leads to performance impact which raised by end users of Outlook Addin.

[2022-03-02 13:53] chenxizhang commented on #2231
I tried this solution, and the error was gone.

But it still another problem, I called the method "Office.context.ui.messageParent", seems like it don't close the dialog, and the main page will not receive anything.

Is there anything I am missing?

The sample code in main page

[code]

The sample code in the dialog page
[code]

[2022-03-02 13:54] chenxizhang commented on #2231
Unfortunately this is not works for me😂

[2022-03-02 14:08] pkkj commented on #2231
Actually this is the correct way to call the messageParent API, if your code is doing cross-domain messaging. This is a recent breaking change in our API and you could find more detail in this [page](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#cross-domain-messaging-to-the-host-runtime). Thanks.

[2022-03-02 14:17] stefanoslig opened #2457 "Not possible to close the dialogs. The dialog.close() API is broken."
# Provide required information needed to triage your issue

Our OWA addin is currently broken because the dialog.close() API is not working. We get the following error:

[code]

All of our customers are affected. It's crucial for us to be fixed ASAP since it's a very basic API.

If you know already a workaround, please let us know.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on

[2022-03-02 14:20] pkkj commented on #2231
It seems in your sample code in main page, there is no code to close the dialog. Besides, "alert" function is disabled by Office.js and it cannot be used to show the alert dialog (this is by-design). Therefore you could not use it for debugging purpose.

If possible you could use the debugger to debug the taskpane source code, to figure out whether the event is triggered there correctly. I also ha

[2022-03-02 14:34] designcode commented on #2457
As Stefanos mentioned, It's quite basic functionality and it's rendering our whole application broken. Can you please make it high priority?

[2022-03-02 14:42] pinchukdiana commented on #2457
@exextoc could you please treat this issue as a high priority? It completely blocks our product and our customers

[2022-03-02 15:06] dm-shlandii opened #2458 "Outlook TypeError: Cannot set properties of undefined (setting 'targetOrigin') at OSF.DDA.WAC.Delegate.closeDialog"
WebAddin for Outlook. OfficeJS

We have functionality which open Dialog (via dialogAPI) from commands.js
Dialog showed correctly, but when button is pressed and it should close - got at error.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: ______
* Operating System: _Windows
* Br

[2022-03-02 15:18] stefanoslig commented on #2458
@dm-shlandii check this one https://github.com/OfficeDev/office-js/issues/2457. It's the same issue. As a workaround try to set `displayInIframe: false` when you open the dialog

[2022-03-02 15:45] graysenpack commented on #2424
@samantharamon - This has been happening with a number of our customers and employees as well on both Windows & Mac computers.

Here is one of our internal Macs that has experienced this today:

Microsoft Word for Mac
Version 16.58 (22021501)
Device ID: 90607221-002E-567B-A55F-B05E68D21D16

Not sure if Device ID & Session ID are the same, but let me know if I can provide any additional information

[2022-03-02 17:14] yihuax-msft commented on #2411
Thank you for your information. Let me see whether we can improve the API by adding an optional parameter. I will let you know.

[2022-03-02 22:53] neville-jones commented on #2457
This break is causing major disruption for our customers - showing dialog with the on send event and the users cannot close the dialog and message not being sent

`Uncaught TypeError: Cannot set properties of undefined (setting 'targetOrigin')
    at OSF.DDA.WAC.Delegate.closeDialog (outlook-web-16.01.js:20:212335)`

[2022-03-02 23:41] ab1osborne commented on #2458
Our customers are seeing the issue as well. Please fix asap.

[2022-03-02 23:47] neville-jones commented on #2458
Seen by our customers too. Huge impact on customers as dialog shown from an on send event handler - users cannot close dialog so messages cannot be sent from OOTW. Please fix ASAP

[2022-03-03 02:32] t-miyake commented on #2457
This very serious problem is also occurring with our clients.
(Our customer has over 120,000 users.)

@exextoc I hope you will fix this problem ASAP.

[2022-03-03 02:46] Gustavogbs commented on #2457
We (Microsoft Engineers) are working on this issue. It will be fixed soon

[2022-03-03 04:02] avisheknand commented on #2457
We are having similar issue as well. Our clients are affected and they are complaining that they can not send emails at all because the dialog is not closing on the onsend event. Hoping this gets solved ASAP.

[2022-03-03 04:47] clavx commented on #2457
@exextoc is it related to the following issue?

![admin-health](https://user-images.githubusercontent.com/58804032/156497753-abe48c6a-2773-4498-85a9-876e0dc120d1.png)