[2019-09-09 16:39] AlexJerabek commented on #709
@sumurthy, Can you please follow up based on the provided information or reassign as necessary. Thanks!

[2019-09-09 16:43] AlexJerabek commented on #716
@nokafor, Could you please investigate?

[2019-09-09 16:44] WBendrot commented on #714
+1

[2019-09-09 17:58] michaelrway commented on #714
+1

[2019-09-09 18:17] JefCurtis commented on #626
@jargil
* ✅I've had a chance to test Office 2016 and it looks like the new version did fix the problem.
* ❓I could not test the 2013 update as I don't have a version of Office 2013. I'm using a version of Outlook 2013 that is **not** bundled with Office so the update wouldn't apply.

If you're able to provide a copy of Office 2013 (in any form such as trial), I'd be happy to test it out though.

[2019-09-09 20:04] hmistry-lz opened #717 "Dialog API is not loading URL in frame in Outlook 16"
I am using `displayDialogAsync` API to load our application in iFrame. When I click on `Schedule` UI-less component in Outlook 16 for Mac, It only displays a blank white screen.

## Expected Behavior
It should render the application correctly as it does in OWA
## Current Behavior
Plugin fails to render the URL and it displays a blank screen.

## Steps to Reproduce, or Live Example
Install this plu

[2019-09-09 20:35] AlexJerabek commented on #717
@exextoc, Can you please take a look at this?

[2019-09-09 21:17] samuelkdavis-mccarthyfinch commented on #697
@JensMadsen Aside from selenium with Word Online, how would you expect to be able to test MSOffice in any automated fashion?

[2019-09-09 21:57] jargil commented on #697
@JensMadsen - No worries, is a fair question. We do have test coverage, unfortunately this bug slipped through. The bug had been fixed before it was reported here, however I'll still follow up to understand why it was not detected at the moment of the initial code change.

[2019-09-09 22:00] ghost commented on #486
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-09 22:00] #486 closed, assigned to exextoc

[2019-09-09 23:00] ghost commented on #439
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-09 23:00] #439 closed, assigned to lumine2008

[2019-09-10 01:48] ntranvinh commented on #685
Hi, any update please?

[2019-09-10 03:23] MandytMSFT commented on #674
@RoelVB  thanks for reporting this issue. I can repro under page layout view, but the main purpose for this API is for print preview/page layout dialog/printing. Is this blocking your critical scenario ? or is it possible to use other action to trigger render as workaround ?

[2019-09-10 04:00] as-aaron commented on #711
What is the purpose of the time out? Is there a way to extend the duration? We have a potentially long running task in a dialog that would need to be reconsidered if this is the case.

[2019-09-10 08:40] JensMadsen commented on #697
@samuelkdavis-mccarthyfinch no clue (but I must figure it out if it is a problem for our customers) :-) I would like to know that as well :-) If there is an easy way to build tests for word Offline I would be happy to know?

@jargil great. Seized by the confessional spirit here I must admit that I have also deployed several buggy bits and pieces.... ;-)

[2019-09-10 09:46] georgechr commented on #695
Hello,

Sorry I was away and did not respond. Is this happening because I am not part of the Insider program and dynamic arrays are only available for those in the Insider program?

@RuoyingLiang  That's pretty much what I've tried and it doesn't work, i think because the dynamic arrays feature has not been released yet

[2019-09-10 12:23] GarryLowther commented on #644
This is not the only problem, my code uses getAttachmentContentAsync and it can get attachment data in Outlook 365 Web no problem however in the desktop installed Outlook, it returns
 "HostError: the operation is not supported"

[2019-09-10 12:28] GarryLowther commented on #645
It is not just an Android problem. Our getAttachmentContentAsync code to read attachments works perfectly in Outlook Web, but the installed Outlook throws an error: "the operation is not supported"

[2019-09-10 12:31] nemisj opened #720 "Validating token doesn't work"
When I read your documentation regarding the validation of identity token and try to perform it, it doesn't work. It looks like the JWT token which is issued is not signed with the key provided by JSON.

This is the token I get when calling `getUserIdentityTokenAsync` within Microsoft Add-in:

[code]

Below is the certificate, which is now at https://outlook.office365.com/autodiscover/metadata/jso

[2019-09-10 12:36] GarryLowther opened #718 "getAttachmentContentAsync "the operation is not supported""
The call to getAttachmentContentAsync works perfectly in Outlook 365 Web however it fails in Windows Installed Outlook 365 ProPlus Version 1902 (Build 11328.20392 Click-to-Run)

## Expected Behavior
I expect this to work THE SAME as in Outlook 365 Web

## Current Behavior
Throws a "Host Error: the operation is not supported

## Steps to Reproduce, or Live Example
[code]

## Context
This is a show-

[2019-09-10 13:09] ravikmrsingh8 commented on #716
Tried Office.initilize and Office.onReady but got no luck. intialization handlers are not getting called on Addin Reload

[2019-09-10 14:37] cyrelk commented on #697
Our machines are now updated to the latest revisions (for 365 and 2016/19) and everything is working again.

Thanks

[2019-09-10 14:51] kanaksony commented on #430
Hi, This is still not fixed an must remain open.

[2019-09-10 14:52] kanaksony commented on #440
Hi, is there any timeline for this bug fix?

[2019-09-10 16:34] jchilde commented on #617
I can confirm that today's update to version 1909 (12026.20108 Click-To-Run) fixed the issue at this post https://github.com/OfficeDev/office-js/issues/617#issuecomment-528537479.

What prompted that comment was the conversion of a document from file was failing.  I incorrectly assumed that the workaround https://github.com/OfficeDev/office-js/issues/617#issuecomment-511667536 was also broken.  It

[2019-09-10 16:35] jchilde commented on #697
Our machines are working using Version 1909 (12026.20108 Click-To-Run).

[2019-09-10 16:41] CGann opened #719 "context.sync() hangs if character length exceeds threshold"
Attempts to get all the text from the body of the document using the code below are failing if the document exceeds a character length threshold. The the first 'return context.sync()' operation hangs indefinitely.

The threshold value appears to be affected by document formatting.

## Expected Behavior
I'm expecting to be able to get the full text of the document. But, if I can't for some reason,

[2019-09-10 16:44] AlexJerabek commented on #718
Hi @exextoc, can you please investigate?

[2019-09-10 16:47] AlexJerabek commented on #719
Thanks for reporting this @CGann. @sumurthy, can you please investigate?

[2019-09-10 16:48] GarryLowther commented on #718
Your documentation at https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentdetails?view=outlook-js-1.7 only shows how to list attachments, not to download them.
You do have separate documentation at https://docs.microsoft.com/en-us/javascript/api/outlook/office.item?view=outlook-js-preview#getattachmentcontentasync-attachmentid--options--callback-
There is also a similar bug re

[2019-09-10 16:52] AlexJerabek commented on #718
Thanks for reporting this @TriSysBusinessSoftware. I'll also tag @ElizabethSamuel-MSFT to look into the documentation.

[2019-09-10 17:01] ElizabethSamuel-MSFT commented on #720
@nemisj Thanks for asking about this. I'll transfer to the product repo for investigation. Thx.

[2019-09-10 17:09] AlexJerabek commented on #720
@niteshgolchha85, can you please investigate this issue?

[2019-09-10 17:12] ElizabethSamuel-MSFT commented on #718
Per the [preview page](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview?view=outlook-js-preview#attachments), this API should be supported in web and Windows.

@exextoc Let me know if I need to update the docs. Thx.

[2019-09-10 17:25] CGann commented on #719
My pleasure. Thanks for looking into it so quickly! If there's anything else I can do to help please let me know.

[2019-09-10 18:35] exextoc commented on #644
@TriSysBusinessSoftware : We recommend opening another issue on github regarding what you are facing. This way we can track and have a quicker turn around time in responding back to posts. Could you open another issue on github explaining the issue you are facing and we'll look into it. Thanks.

[2019-09-10 19:02] exextoc commented on #515
@modestfake : We recommend openeing a new issue explaining exactly what you are facing. This helps us keep issues independent and have a quicker turn around time in responding to you. May we request you to open an independent issue regarding what you are facing. Mentioning the build numbers of the client will also be helpful

[2019-09-10 19:12] exextoc commented on #692
@AlonEkelund : May we request to open a separate issue regarding what you are facing. This way we can respond to posts individually and have a faster turn around time.

[2019-09-10 19:19] exextoc commented on #440
The bug has been acknowledged & since we do not have concrete timelines, we are closing this issue. We have an internal bug number that is linked to this post. Whenever this is fixed, we will make sure to respond to this post with the build numbers that have the fix. Internal Bug#: 1056872

[2019-09-10 19:20] #440 closed, assigned to exextoc

[2019-09-10 19:20] exextoc commented on #430
The bug has been acknowledged & since we do not have concrete timelines, we are closing this issue. We have an internal bug number that is linked to this post. Whenever this is fixed, we will make sure to respond to this post with the build numbers that have the fix. Internal Bug#: 1053556

[2019-09-10 19:20] #430 closed, assigned to nobody

[2019-09-10 19:33] exextoc commented on #698
@dmitry-semenov : May we request opening a separate issue for what you are facing. This way we can keep issues independent and have a faster turn around time with responding individually.

@IhorHalanDevPro : For the makeEWS call, we recently added a diagnostics object to the asyncResult object. In cases of failures that you are seeing, could you share what the diagnostics object contains, if it ex

[2019-09-10 19:37] JefCurtis commented on #626
@jargil Is it possible, that after updating Outlook 2016 using [this update](https://support.microsoft.com/en-us/help/4475580/september-3-2019-update-for-office-2016-kb4475580) that the version of OfficeJS has changed and removed support for `v1.5` and above?

Some of our add-in functionality was dependent on `v1.5` and up so there is a conditional check in the code to confirm that the version of

[2019-09-10 19:47] modestfake opened #721 "Missing restUrl in window.Office.context.mailbox.restUrl (Outlook)"
Sometimes `restUrl` is missing when accessing it from `window.Office.context.mailbox.restUrl`. It's really hard to reproduce it, it only happens to me once. But I see this happens quite often for our customers.

## Expected Behavior
`restUrl` is in `window.Office.context.mailbox.restUrl`, so we can use it to send requests.

## Current Behavior
`restUrl` is an empty string `''` sometimes.

## Steps

[2019-09-10 19:48] modestfake commented on #515
Thanks @exextoc
I've ended up creating one #721.

[2019-09-10 19:50] AlexJerabek commented on #721
Thanks @modestfake for writing this up as a separate issue. Assigning to @exextoc to investigate and track.

[2019-09-10 20:00] ghost commented on #712
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-10 21:49] samuelkdavis-mccarthyfinch commented on #697
@JensMadsen I don't know of any easy way.

One option would be using something like AutoHotKey on windows to simulate clicks + button presses at pre-defined locations + take screenshots and run an image diff (something like https://storybook.js.org/docs/testing/automated-visual-testing/). This wouldn't be particularly easy or stable.

The addon can be spun up via command line with 'office-toolbox'

[2019-09-10 22:00] samuelkdavis-mccarthyfinch commented on #697
Confirmed the update has fixed our system.

Version 1908 (Build 11929.20300) using Edge. Our issue was selecting content controls & selecting the OOXML crashing when working with large data sets.

[2019-09-10 22:01] samuelkdavis-mccarthyfinch commented on #702
Confirmed fixed https://github.com/OfficeDev/office-js/issues/697#issuecomment-530137265

[2019-09-10 23:55] davidchesnut commented on #685
Pinging @exextoc again...

[2019-09-11 00:30] exextoc commented on #718
The build number you mentioned happens to be a semi-annual channel build number. For those channels, this API is only supported for builds greater than **16.0.11716.1000**. For the monthly channel however, builds greater than **16.0.10901.1000** are supported. Also note that this API is in preview still and may be prone to bugs until it's released as a part of a requirement set.

[2019-09-11 00:30] #718 closed, assigned to exextoc

[2019-09-11 01:00] ghost commented on #696
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-11 03:45] jargil commented on #697
Thanks everyone who have confirmed the fix is working for them.

I'll keep this issue open until we reach 100% deployment across the multiple builds affected.

[2019-09-11 03:57] jargil commented on #626
@JefCurtis - thanks for confirming the update for 2016 works.

That's unexpected given the fix we deployed with Sept's update. Could you please open a new issue to track this new finding? If you agree I'll then close here to mark that we've now fixed the permission denied error.

Once you open the new bug feel free to assign it to me and I'll follow with the subject matter experts.

[2019-09-11 03:58] jargil commented on #633
@TheSamsterZA - build 16.0.12105 is now deploying to Office Insiders. Please let me know if you can confirm the fix works for you. Thanks!

[2019-09-11 05:05] harri-rajala-koivu-solutions commented on #697
I can also confirm that Version 1908 (Build 11929.20300) fixed this issue. Thanks.

[2019-09-11 08:03] kanaksony opened #722 "OWA on Safari : Office.context.mailbox.displayNewAppointmentForm does not invoke"
Bug : OWA Schedule Meeting does not opens a new appointment form in Safari browser.

## Expected Behavior
Must open a new Appointment pre-populated with details filled  in #2.

## Current Behavior
It does not open the appointment window. No error is seen in console.

## Steps to Reproduce, or Live Example
1) Install Plugin, Fill information under Settings.
2) Click on Schedule Meeting from ConX Pl

[2019-09-11 09:59] AlonEkelund commented on #692
We solved the issue.

[2019-09-11 10:11] VamsiKrishnaNori commented on #684
Hello Team, any update on this?

[2019-09-11 11:24] GarryLowther commented on #718
Those version numbers (16.0....) do not correspond to those documented here: https://docs.microsoft.com/en-us/officeupdates/update-history-office365-proplus-by-date
Is there a 'mapping' between 16 versions and Office 365 versions? If so, how can I view these?

[2019-09-11 11:41] IhorHalanDevPro commented on #698
@exextoc Sure, I'll share the diagnostics object if we get one.

As for the logs you requested, the user who contacted us initially about the issue is not willing to provide them. We'll try to figure out the other way to get the logs if the approach with diagnostics object fails.

[2019-09-11 11:58] GarryLowther commented on #718
![image](https://user-images.githubusercontent.com/5684253/64695342-cca29980-d493-11e9-8e3b-bcaabeee1abf.png)
I can confirm that downloading attachments works in this version of Outlook.

[2019-09-11 14:25] AlexJerabek commented on #722
Thanks for reporting this @kanaksony. @JuaneloJuanelo, can you please investigate?

[2019-09-11 20:21] webivation opened #723 "No way to select 64 bit instance of IE/Edge/3rd party browser"
I am trying to populate a UI dropdown of choices from our database in an Outlook Add-In for indexing emails into a content management service.  The size of the options list is non-negotiable, and well over 400,000 items.  To filter this we use a type ahead filter in a KendoUI combo-box.  With json data/html option list/html element styling/etc this exceeds the hard 1.4 GB limit of data in the UI,

[2019-09-11 21:00] AlexJerabek commented on #723
Hi @webivation,

Thanks for sharing your scenario and issues. I'm assigning @smaremanda to investigate whether a solution exists for you today.

I'd also recommend posting on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) with the office-js tag. SO is a resource for questions regarding the implementation of your add-in.

[2019-09-11 21:05] webivation commented on #723
Thank you.

This issue already exists on SO, marked answered as "there is no way to
select which browser is used".

On Wed, Sep 11, 2019, 4:00 PM Alex Jerabek <notifications@github.com> wrote:

[2019-09-11 23:38] exextoc commented on #721
@modestfake When the restURL is empty, is it empty throughout that session of outlook? Also, can you make sure you are calling this withing after office.initialize is called? If you're addin is pinned, you should be calling this after listening to the itemChangedEvent. Also, what exchange are you connecting against, exchange online/on-prem?

[2019-09-12 06:18] exextoc commented on #722
Are you facing this issue when trying to launch the add-in from MessageReadCommandSurface or AppointmentComposeCommandSurface. Is the add-in working fine in other browsers and not working specifically in Safari or is it reproducable accross all the browsers.

[2019-09-12 06:27] 3dot1four opened #724 "[Reliability] Office.ready and Office.initialize not being triggered on Add-in reload. Culprit: Office.context.document.settings.set"
## Expected Behavior

On reload Add-in after saving value stored in below file via 'Office.context.document.settings.set' Add-in should trigger Office.ready or Office.initialize
## Current Behavior

Office.ready or Office.initialize not being triggered.

## Steps to Reproduce, or Live Example

It's very easy to repro.

1. Create a content Add-in from Visual studio template
2. Store content in the

[2019-09-12 07:26] TheSamsterZA commented on #633
@jargil I can confirm that the issue I was seeing before, `AgaveSink could not find a suitable sink to use`, has been fixed! I can log in via the OfficeJS dialog on the LEAP Mail Manager successfully, and I receive my auth token. I also did a quick test with my simple repro add-in, and all is well there, too.

Thank you for sticking with this and finding the solution. 😃

[2019-09-12 07:26] #633 closed, assigned to jargil

[2019-09-12 07:55] kanaksony commented on #722
Getting this issue when trying to launch it from MessageReadCommandSurface.
Yes - this is working fine in Google Chrome and Mozilla Firefox and not working specifically in Safari.

[2019-09-12 16:00] ghost commented on #661
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-12 16:00] ghost commented on #583
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-12 16:00] #661 closed, assigned to lumine2008

[2019-09-12 16:00] #583 closed, assigned to exextoc

[2019-09-12 16:22] AlexJerabek commented on #724
Thanks for reporting this @rohitrewa and thank you @mandyt-Git for investigating.

[2019-09-12 17:37] JefCurtis opened #725 "Outlook 2016: API v1.5 no longer supported with newest release."
Hello folks 👋

After updating Outlook 2016 using [this update](https://support.microsoft.com/en-us/help/4475580/september-3-2019-update-for-office-2016-kb4475580) it seems that the version of OfficeJS has changed and removed support for Office API `v1.5` and above?

Some of our Outlook add-in functionality was dependent on `v1.5` and up so there is a conditional check in the code to confirm that t

[2019-09-12 17:38] JefCurtis commented on #725
@jargil Pinging you here.

[2019-09-12 17:39] JefCurtis commented on #626
@jargil Done. Here is [the issue](https://github.com/OfficeDev/office-js/issues/725). I've no idea how to assign the issue to you (I don't think it's possible) so I've just left you a comment. Feel free to close this issue though.

[2019-09-12 18:06] jargil commented on #626
Thanks! Closing this issue as this specific problem is now fixed.

[2019-09-12 18:06] #626 closed, assigned to jargil

[2019-09-12 19:08] exextoc commented on #725
This is the expected behavior. Outlook 2016 MSI versions (which is the one you are on) only supports uptil requirement set 1.4. Documentation [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets). If before this update it was sending true for supporting 1.5 that would have been a bug. What APIs are you dependent on that requires you to

[2019-09-12 20:00] leandrolares commented on #712
@jargil - Simply executing this
[code]
opens the sidebar of the add-in itself in the default browser.

This code
[code]
doesn't do anything when I click myButton.

[2019-09-13 03:28] TheSamsterZA commented on #584
Update:

While it appears that the memory consumption issue has been resolved, I am still seeing on an intermittent basis Word seeming to hang after closing the dialog window (either directly via the red 'X' or programmatically via dialog.close from the taskpane). I cannot get Word to respond to any actions, including bring-to-front.

WWAHost.exe looks like it's stuck (CPU usage ~30% continuously)

[2019-09-13 06:25] exextoc commented on #722
I've tried to launch the add-in in Safari browser and was able to see the appointment window. Can you check if pop-up was disabled in your browser.

[2019-09-13 10:48] kanaksony commented on #722
Okay, so after changing the popup window drop-down settings to "allow" it opens up the window but with error! Between - I have refreshed the browser window multiple times but no luck. But, Firefox and Chrome still working fine.

**I see an error in console.**

`
[Error] Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 't.id')
	(anonymous function) (compose:310:2555)

[2019-09-13 16:04] GeorgeHung opened #726 "Creating 10000 names in a worksheet cause Excel online to throw an exception"
Creating 10000 names in a worksheet cause Excel online to throw an exception
## Expected Behavior

According https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3, the limitation of names in a workbook depends on available memory.  I can create 1000 names in ten different worksheets in Excel online.  Therefore, I except that I should be able

[2019-09-14 01:00] ghost commented on #696
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-14 01:00] #696 closed, assigned to lumine2008

[2019-09-15 09:00] ghm9836 commented on #719
@sumurthy @AlexJerabek This issue is deep impact for our startup launch and sumurthy appears to be away for Sept.  May we please have an active person assigned in his place? I'm new to github so please excuse my ignorance if the request is impolite.

[2019-09-16 02:15] weshi commented on #699
This is actually expected behavior for this API in Word on the Web. The tab is not supported in Word on the Web. If you try to enter tab in between any text, it does not insert any space there. Only in the beginning of a paragraph, it will increase the indent the paragraph, but it is not a tab character.

Since the tab character is not included in the text, when you call the API to get the text, i

[2019-09-16 02:15] #699 closed, assigned to weshi

[2019-09-16 05:50] exextoc commented on #711
Since there is no UI for the UI less Add-ins, the time-out is there to prevent the Add-ins from running indefinitely without user being aware of it. Furthermore, since some of the Outlook functionalities such as mail encryption are blocked while the UI less Add-in runs, timeout avoids bad user experience.

There are no plans yet to increase the time out. Please raise a user voice request for it:
h

[2019-09-16 05:50] #711 closed, assigned to lliu113

[2019-09-16 05:54] TheSamsterZA commented on #685
Hello,

I would like to put on record my disappointment with the way Microsoft have handled this issue. It appears that it is not seen as important enough to warrant attention.

**TL;DR: Outlook for Android is completely broken. We have provided our scenario. We have provided stack traces. PLEASE prioritize a fix for this ASAP!**

Specifically, I will provide my experience with the Outlook for And

[2019-09-16 06:47] kapgupt commented on #685
Sorry for delay, Can you please provide link to your add-in's manifest ? the Type Error mentioned does not break add-in. That error is related to internal telemetry. please provide manifest file. I will start debugging it.
Thanks

[2019-09-16 07:11] tonyroberts commented on #699
@weshi If you look at the screenshot provided (or try it yourself) you will see that pressing the ‘tab’ key results in some blank space inserted between words in the middle of a paragraph. This may not be a ‘tab’ character on the web version of Word, but it is textual content. How can this white space be retrieved using the API?

I would suggest that using a tab character would be a reasonable sol

[2019-09-16 08:05] rina-andria opened #727 "Cannot create content controls other than richtext content type"
hello, we won't to have the same functionalities as with VSTO Word add-in: add content control with the types dropdownlist, combobox, picture, checkbox and mostly datepicker.
can you please advise on how to do this? so far we only have the insertContentControl() method which inserts a Rich text one. Is there any parameter we can pass or any property we can specify to get  the other content control

[2019-09-16 11:37] david-ps opened #728 "Excel Table Row Inserted Event Address Issue"
In the Excel JS API the table event called "onChanged" fires whenever a change happens  and exposes the parameter "Excel.TableChangedEventArgs".

This class has a property called "[address](https://docs.microsoft.com/en-au/javascript/api/excel/excel.tablechangedeventargs?view=excel-js-preview#address)" which should return the Range Address of the change that has occurred.  There is a use case when

[2019-09-16 11:53] sergiubucur commented on #355
This issue has reappeared for us in Version 1908 (Build 11929.20300) on the Monthly channel. SSO was working fine in the previous release, Version 1908 (Build 11929.20254).

Calling getAccessTokenAsync() results in error code 13012.

[2019-09-16 19:54] kanaksony commented on #722
@exectoc, can you please check if you are getting same issue?

[2019-09-17 00:25] TheSamsterZA commented on #685
Hello @kapgupt,

Here is a link to the LEAP Mail Manager pointing to our test environment:

https://www.dropbox.com/s/ydzazr4k1uasv1w/LEAP.Office.Outlook.AddIn.test.xml?dl=0

As I mentioned before, this manifest has been updated to add mobile support. You should be able to sideload this and have it appear on your Android and iOS devices.

Please let me know if you need anything further.

Thank you

[2019-09-17 01:22] keyur32 commented on #728
@lumine2008  - can you take a look please?

[2019-09-17 03:26] catchingyu commented on #726
@lumine2008  to take a look

[2019-09-17 03:28] lumine2008 commented on #726
This is expected behavior, as the excel online payload size is 5MB for each call, so please try to separate into 2 calls.

[2019-09-17 03:49] catchingyu commented on #728
team is investing it now.

[2019-09-17 04:47] david-ps commented on #728
FYI we also raised this API documentation/unexpected change [issue](https://github.com/OfficeDev/office-js-docs-pr/issues/1303)

[2019-09-17 06:25] exextoc commented on #722
Hi @kanaksony we are currently investigating the scenario, will get back to you with our observations.

[2019-09-17 06:25] hoshizorayuuta opened #729 "about Office URI Schemes"
When using the OFFICE URI to open the word, powerpoint, excel, use "?" to bring the parameters, powerpoint and excel can normally pass the parameters back to the server, but the word will not bring the parameters back.
Word:ms-word:ofe|u|uri?parameters
Powerpoint:ms-powerpoint:ofe|u|uri?parameters
Excel:ms-excel:ofe|u|uri?parameters

[2019-09-17 06:34] sergiubucur commented on #355
I can confirm it is working again now. The version is still 1908 (Build 11929.20300).

[2019-09-17 08:05] catchingyu commented on #727
Currently we only support the Rich Text. Other types are not supported now. Can you also share with us more context of this need in our UserVoice site, which is the center place tracking the feature request. And we would keep it on our radar for our future backlog planning, also, other developers can review and potentially comment or up vote on it.

[2019-09-17 08:29] kapgupt commented on #685
@TheSamsterZA  Can you please provide any test account using which i can test the add-in ?
Please share the exact problem(on which step ?) you are facing in case of android device ?
Thanks

[2019-09-17 10:13] MandytMSFT commented on #724
@rohitrewa  I tried the scenario you show me last week, seems it can be saved successfully in my side. So I suspect there happen to have some special characters in your string, could you help try again and send me the string you are using then I can help identify from API side to see what the cause is.

I have attached repro video in our email thread for your reference

[2019-09-17 11:02] kapgupt commented on #685
@TheSamsterZA I checked the add-in, In Android it is having log:
"[AuthService] Redirecting to 'https://auth-test.leap.services/oauth/logout?redirect_uri=https://outlookapp-test.leap365.com/index.html' "
Seems add-in code is redirecting to home page instead of opening Dialog.
In Outlook web log was of opening dialog:
"Opening dialog with URL https://auth-test.leap.services/oauth/authorize?client_i

[2019-09-17 12:39] m-mains commented on #719
@CGann @ghm9836 I think this is the same issue as has already been reported here. The good news is there are indications it has been fixed as of latest builds (although they might not be distributing quite yet) See #702 where the 64kb threshold was the issue. That issue refers to #697 for the fix. This was an Excel issue but the same underlying problem, an IE11/Edge inconsistency in which the Edge

[2019-09-17 15:16] keyur32 commented on #729
Hi there, thank you for this issue. This question seems to be different than the office-js api. @davidchesnut  - can you help me route?  I'm unsure of the correct repo for this, but seems to be specific to client.   @catchingyu - fyi

[2019-09-17 16:32] jargil commented on #697
This is now deploying across all the builds that were affected. Thanks again for your feedback and repro steps.

[2019-09-17 16:32] #697 closed, assigned to jargil, lumine2008

[2019-09-17 16:45] keyur32 commented on #729
@davidchesnut  - assigning to you to redirect to right repo. We may have to ask poster to redirect to a location outside of github but not clear where it fits under.

[2019-09-17 16:48] kbrandl commented on #729
@keyur32 seems like this issue belongs in the [MicrosoftDocs/office-developer-client-docs](https://github.com/MicrosoftDocs/office-developer-client-docs) repo -- which contains documentation about [Office URI Schemes](https://docs.microsoft.com/en-us/office/client-developer/office-uri-schemes).

@hoshizorayuuta can you please open this issue in the [MicrosoftDocs/office-developer-client-docs](http

[2019-09-17 16:48] #729 closed, assigned to nobody

[2019-09-17 16:54] kbrandl commented on #727
@rina-andria here's the URL to the UserVoice site: https://officespdev.uservoice.com/. If you can please log this feature request there, the product team can consider it for the future. Thanks!

[2019-09-17 16:54] #727 closed, assigned to catchingyu

[2019-09-17 16:58] kbrandl commented on #726
Closing this as "by design" per @lumine2008's feedback above. @GeorgeHung please let us know if you have any follow-up questions re @lumine2008's suggestion. Thanks!

[2019-09-17 16:58] #726 closed, assigned to lumine2008

[2019-09-17 21:11] keyur32 commented on #13
Closing this as the dialog api now contains an optional parameter to not show that window (that window is in place to allow the platform to workaround pop-up blockers, but that can also be managed by the add-in developer).

[2019-09-17 21:11] #13 closed, assigned to nobody

[2019-09-17 21:47] rina-andria commented on #727
thanks for the updates. i ll add this feature request.

[2019-09-18 00:25] TheSamsterZA commented on #685
@kapgupt

You can use `aravind.nairld@leap.au / Leap20171` to test.

Details of my Android device:
Nokia 8
Android 9, security patch level: 1 August 2019
Outlook for Android version 4.0.7 (346)

1. On my device, the add-in sideloads fine, and I see the Welcome Screen.
2. When I tap on the Start button, it appears to be loading the Login Screen (where the add-in redirects to  `auth-test.leap.servic

[2019-09-18 04:22] keyur32 commented on #412
@JuaneloJuanelo  - you were the last one to comment on this. Is there an update here? thanks.

[2019-09-18 04:23] keyur32 commented on #340
@niteshgolchha85  can you take a look to see if this is still an issue. It may need an update from the author as well.

[2019-09-18 04:25] keyur32 commented on #208
@rahul-mi  - can you check if we need to follow up on this please?

[2019-09-18 05:43] JuaneloJuanelo commented on #725
@JefCurtis  as previously commented, in that version of Office that's expected (1.5 is not supported there and if you call any 1.5 API will fail).What functionality of 1.5 are you using in your Add-in? Can you confirm such APIs fail in the cited build?

[2019-09-18 09:38] MandytMSFT commented on #713
Filed BUG 3620704 to track internally.

[2019-09-18 10:19] ntranvinh commented on #685
Hi @kapgupt ,
Here is my sample git for the code:
https://github.com/ntranvinh/AndroidOutlookAddinSample
The add-in is also built and hosted, you can easily install the manifest in manifest folder and see the add-in on android.
The process can be stuck at any step, but sometimes it does not stuck. I also put a notification named "finished!" to indicate the add-in work is completed. Please reproduc

[2019-09-18 11:37] alexnb11 commented on #297
@kbrandl  Any updates?

[2019-09-18 12:06] ndeeH opened #730 "Inserting OfficeOpenXml via setSelectedDataAsync() resets WordOnline Add In"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our add in inserts OfficeOpenXml into Word Online.
When the document does NOT have focus this fails and resets the add in.

## Expected Behavior
When the document has focus (once clic

[2019-09-18 13:55] kbrandl commented on #297
@alexnb11 apologies for the delay on this -- @macOutlookExtensibility is the one who'll need to investigate and provide feedback on this (as it's not my area of expertise.)

@macOutlookExtensibility can you please provide an update on this issue?

[2019-09-18 20:19] JensMadsen opened #731 "context.sync() afterparagraph.search method on string longer than 255 chars fails silently on word desktop"
i found #168. same goes for paragraphs

Works on web version but not on windows dekstop.

Before fixing the issue you could at least throw an error (i wasted a lot of time on this)

[2019-09-18 22:10] jargil commented on #503
@Hombr33 - opening a blob within the Office clients is not supported in Windows or Mac. One possible solution you could pursue in both platforms is to call Office.context.ui.openBrowserWindow(URL); with a URL that you own and from there once the full browser opens, create your blob object and get the browser to download the file.

[2019-09-19 00:54] keyur32 commented on #695
Hi @georgechr , likely that is the case. You can join the insiders program on insiders.office.com. If you need a development account, you can get one through our developer program: https://aka.ms/o365devprogram.

Closing this one for now.

[2019-09-19 00:54] #695 closed, assigned to keyur32, RuoyingLiang

[2019-09-19 00:56] keyur32 commented on #705
Hi @Dmytrooo, this is because the "Upload my add-in" only is available on Excel for the web. In your screenshot you are trying  it on desktop and you'll need to use a different sideload option:

https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

[2019-09-19 00:57] keyur32 commented on #705
Closing this for now. Let me know if this doesn't work for you. thanks.

[2019-09-19 00:59] keyur32 commented on #709
Hi @jjtfsalgado, there is a currently an issue that is preventing store add-ins from appearing in the Mac client store. We will revert back when it is addressed.

[2019-09-19 01:01] keyur32 commented on #731
@JensMadsen  - sorry for the issue. It is on the backlog but we can make it more visible.

@kbrandl , @davidchesnut  - can we transfer to teh docs repo and add a note for this issue?

[2019-09-19 01:15] JuaneloJuanelo commented on #731
@JensMadsen  this is a known issue on Word Programmability. (same issue happens in VBA etc.)
fortunately, there is a workaround described by Cindy Meister here: https://stackoverflow.com/questions/50911606/body-search-issue-in-word-desktop/51159442#51159442

btw this is already documented here: https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#search-searchtext--s

[2019-09-19 03:19] topkoong opened #732 "Query regarding accessing local resources from Office JS"
Hi there!

I'm trying to access local resources via Excel JavaScript API, Excel task pane add-in or Excel custom function. Would it be possible to do so? I know that Office add-ins are web applications that are displayed using iFrames, and they are using embedded browser controls in Office for desktop and mobile clients.

Could we, developers, change embedded browser controls in Office for desktop

[2019-09-19 04:17] keyur32 commented on #730
Hi @weird-dreams , we are unable to repro with the information provide (do you have a specific set of repro setps to try?),, i..e sample ooxml to try?

thanks

[2019-09-19 04:20] keyur32 commented on #723
Hi @webivation, per the stack overflow response I will close this out. Thank you for your report.

[2019-09-19 04:20] #723 closed, assigned to smaremanda

[2019-09-19 04:21] keyur32 commented on #230
Closing this issue out, as this feature is in our backlog and is currently being worked on..

[2019-09-19 04:21] #230 closed, assigned to keyur32, RuoyingLiang

[2019-09-19 04:24] ndeeH commented on #730
Look at the video:  Use the add in IDL.OFFICELINK from store to reproduce.
From your side you should be able to log the parameters (Ooxml) which are passed to your API.
TIA

[2019-09-19 04:25] keyur32 commented on #710
@RuoyingLiang  can you check on this one please?

[2019-09-19 05:46] exextoc commented on #722
@kanaksony we have made the fix from our end and the solution should be available in production within 2 weeks.

[2019-09-19 06:18] JensMadsen commented on #731
@JuaneloJuanelo thank you for pointing me to the workaround :-)

I simply suggest that instead of failing silently when the search string is longer than 255 please throw an error whenever the search string is longer than 255 chars. Could be two lines of code which would save others a lot of time.

[2019-09-19 06:25] Dmytrooo commented on #705
thanks for the response, it is pity that shared folder is the only option but we have what we have...

[2019-09-19 06:28] #705 closed, assigned to jeremy-msft

[2019-09-19 07:28] anilreddyr7 commented on #347
@kbrandl As we know this is product BUG on outlook web access. Can we get any update on this issue when it will be fixed?

[2019-09-19 07:29] anilreddyr7 commented on #347
window.reload is necessary as we deal with multi document model to load multiple objects on screen.

[2019-09-19 13:22] adam8797 opened #733 "Excel Failing to load basic Custom Functions Add-in"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

This is a mirror of a question I [posted on Stack Overflow](https://stackoverflow.com/questions/57994822/excel-failing-to-load-basic-custom-functions-add-in), just trying to get more

[2019-09-19 14:17] glr0221 commented on #676
Any updates on this issue? thanks.

[2019-09-19 14:21] kbrandl commented on #347
@anilreddyr7 apologies for the delay on this. Given that this is beyond my area of expertise, I don't personally have insight into timelines for addressing this issue -- @exextoc will need to provide that feedback.

@exextoc can you please provide an update as to the status of this issue (and timeline for fixing, if known)?

[2019-09-19 15:39] chopraniitn opened #734 "makeEwsRequestAsync throws an error for delegate calendar"
I am working on office 365 addin at the moment and just trying to use office js function for delegate calendars. some of the functions works ok , but when i try to use makeEwsRequestAsync method, it get fails and give ErrorAcessDenied as Error code and message i get as Office extension have no permissions to access any other mailboxes then the mailbox provided in the user context

i have tried bet

[2019-09-19 15:49] collinstowell opened #735 "Unhandled Rejection: worksheets.addFromBase64 is not a function"
So with the release of 1.1.32, it was expected that the beta functionality allowing worksheets.addFromBase64 would start working on the regular (non-beta) distribution of OfficeJS. However, I seem to still get this issue with the production CDN build of OfficeJS even though 1.1.32 has officially been released and tagged with the latest tag.

## Expected Behavior
I expected the functionality to bec

[2019-09-19 17:02] keyur32 commented on #733
Hi @adam8797, I responded on StackOverflow.   For now, if you can, I'd recommend following the Custom Functions tutorial to debug with VS Code, which you can do on Windows or Excel for the web.

[2019-09-19 17:13] adam8797 commented on #733
@keyur32 thanks for the reply. I’ll try to keep the two threads in sync, but I figure the issue is probably better for discussion.

To recap the SO comments, I’m running the following:

Visual Studio 2019 Version 16.2.5 with Office Developer Tools 16.0.28818.01

And I also attached Fiddler and confirmed that the *only* web request Excel makes is to the home page

[2019-09-19 17:28] adam8797 commented on #733
I just attempted to run the example project found in https://github.com/OfficeDev/Excel-Custom-Functions by doing the following:

1. Download the Zip version of the repo
2. Open power shell in the root
3. `npm install`
4. `npm start`
5. Excel starts, the task pane logo is visible, but the custom functions are not available.

WEF Logs
[code]

[2019-09-19 21:07] kapgupt commented on #685
@TheSamsterZA  We are working on the problem, mean while you can try dialog flow for login. I will update you here, once we will get it fixed.

[2019-09-19 23:46] JuaneloJuanelo commented on #347
issue is tracked internally with 971375

[2019-09-20 00:46] JuaneloJuanelo commented on #734
@chopraniitn : thanks so much for trying our Preview APIs ! we are investingating this issue, meanwhile i have a couple of questions for you:

1.  Is there a reason why you are not using the Microsoft Graph as opposed to EWS? Turns that the token we generate to make the EWS request does not support delegate scenarios. With REST/Graph you could so we will follow up with some documentation on it.
2.

[2019-09-20 00:48] JuaneloJuanelo commented on #734
btw this exact issue was duplicated in stack: https://stackoverflow.com/questions/58014027/makeewsrequestasync-throws-an-error-for-delegate-calendar

[2019-09-20 00:55] JuaneloJuanelo commented on #731
@JensMadsen thanks for the suggestion. We are tracking internally with 3649518.

[2019-09-20 00:55] #731 closed, assigned to nobody

[2019-09-20 00:59] JuaneloJuanelo commented on #732
@topkoong  hello!  No you cannot change the embedded browser control.

Can you be more specific on what local resources you are referring to or want access to? in general the answer to this will no. (for security and other reasons like  is there a multiplatform equivalent?  this is supposed to be a platform neutral technology)

[2019-09-20 03:51] ntranvinh commented on #685
Hi @kapgupt , please also review my case to see if it has the same issue. Code and live sample posted.

[2019-09-20 07:33] catchingyu commented on #735
what do you mean by the release of 1.1.32, is it some release version of your add-In? The WorksheetCollection.addFromBase64  API is still in the Beta Preview State , so the production do not have this API now.

[2019-09-20 08:40] chopraniitn commented on #734
HI Juan,

we are exploring Graph API at the moment and because they are at quite
young stage so we are bit cautious in implementing those. Eventually we
will. But at the moment I am trying to resolve an ongoing issue which is
using makeEwsRequestAsync  on a delegate calendar. it works fine on a user
calendar.

Thanks
Nitin

On Fri, Sep 20, 2019 at 1:46 AM Juan Balmori <notifications@github.com>
wr

[2019-09-20 09:04] xiaochunms commented on #733
Regarding to https://github.com/OfficeDev/Excel-Custom-Functions, you may miss a step "npm run build" before "npm start" is executed.

[2019-09-20 09:45] joelfmrodrigues commented on #208
Hi @rahul-mi and @keyur32

Thanks for raising this again. I have just retested it and was unable to see the bug now.
Same code (SharePoint Framework web part), but now updated to the latest SharePoint Framework version - not sure if this can have an impact.
This is the code, in case you want to give it a try at your end.
https://github.com/joelfmrodrigues/sp-dev-fx-webparts/tree/react-visio-191/sa

[2019-09-20 09:45] #208 closed, assigned to rahul-mi

[2019-09-20 10:53] chopraniitn commented on #734
yes, that was me. but i did not get response in past so was not too hopeful if i get any response there. but i had some hope here on git  and see i was not wrong :)

[2019-09-20 12:16] kakusharma opened #736 "Contextual Add-In closing by itself if there is an advertisement"
When I am trying to open the contextual Add-In, it is getting closed as sson as it opens when there is a advertisement on the right panel. What's happening is whenever I click the text to open the contextual add-in, the advertisement frame refreshes and then the add-in window also closes. Its opening fine when there is no advertisement though

## Expected Behavior

The Add-In window should not clo

[2019-09-20 13:30] adam8797 commented on #733
@xiaochunms just ran it agin on a fresh copy of the repo and I saw no change. Logs still complain about unrecognized XML

[2019-09-20 15:10] collinstowell commented on #735
I appreciate the quick response. I had figured when the 1.1.32-beta (from NPM) version moved to @latest / 1.1.32 that the feature would have been promoted to production. Any idea when this feature is expected to be available on production?

[2019-09-20 17:03] JuaneloJuanelo commented on #734
The Graph is the way to go on this scenario, as mentioned earlier, the token you get with EWS does now work with delegates...

[2019-09-21 00:48] jargil commented on #667
@bferreira - Office build 16.0.12112 is already deploying to Office Insiders and should contain this fix. Were you able to test that this works for you?

[2019-09-21 17:00] ghost commented on #724
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-21 17:03] 3dot1four commented on #724
Had an offline discussion with @mandyt-Git and she has to come back with her investigation.

[2019-09-22 06:00] ghost commented on #725
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-23 00:04] keyur32 commented on #733
Hey, thanks for the additional details. I would like to double check your version of office as that channel may not yet support custom functions.

Just to double check. Open excel > get addins > in the store dialog search for an addin: “Data drum”. Does it appear and let you insert the addin and custom function?

[2019-09-23 05:08] TheSamsterZA opened #737 "OfficeJS initialization error on documents with apostrophes in their name"
If the document opened in Word contains an apostrophe in its filename, OfficeJS fails to load successfully, and the entire initialization process that follows is stopped completely.

## Expected Behavior

I expect OfficeJS to load successfully regardless of the document's filename.

## Current Behavior

OfficeJS does not load successfully. The error is quite cryptic:
[code]
The add-in cannot conti

[2019-09-23 09:22] chopraniitn commented on #734
So, the conclusion is makeEwsRequestAsync wont work on delegate calendars in any circumstances and graph is the only way.

And for graph to work on delegate calendars with office js, do i need to use  getSharedPropertiesAsync (in preview) first? or i can use it straight away.

[2019-09-23 11:38] MarcEichenberger commented on #191
@JuaneloJuanelo The same behavior occurs when we insert a Word field into a ContentControl via insertOoxml.

[code]
ooxmlfield:
[WordField.txt](https://github.com/OfficeDev/office-js/files/3641894/WordField.txt)

Insert via Word Desktop:
Everything ok - Open document in Word Online: CC is read-only (and all actions fail with "NotAllowed")

Insert via Word Online:
Field appears without content and

[2019-09-23 15:46] rgmills commented on #486
Hi, I have a question regarding this behavior. (Please let me know if we should move to another issue).

In the case of calling `Office.context.mailbox.item.to.getAsync(callback);` when there are only contacts who are not resolved, Outlook is removing those contacts from the To recipient list.

To reproduce:

- Open new email message
- Manually type in an smtp email address, hit esc to switch focu

[2019-09-23 17:13] leandrolares commented on #712
@jargil - I'm having the same issue in Excel for Mac now, therefore it's specific to Edge View.

[2019-09-23 17:24] adam8797 commented on #733
@keyur32 I tried to add it, but I’m leaning inconclusive on this one. The add-in “Data Drum” failed to install and start, with my WEF logs complaining that access to the Manifest XML failed (similar to the errors from the initial post). However, I’m also behind a corporate firewall and its very possible that I’m just not able to install external add-ins. I tried some others from the store, and not

[2019-09-23 17:43] exextoc commented on #737
Thanks @TheSamsterZA for reporting this issue.

You mentioned "Host" as "**Word**" but "Office version" as "Office version number: **Outlook 2016** for Windows Version 1910". Is this issue applicable to only "Word" or this scenario is possible in "Outlook" as well?  This information will help me redirect this issue to correct team internally.

[2019-09-23 19:14] exextoc commented on #486
Hi @rgmills, please open another issue as your issue is different from this one, and we'll be sure to take a look at it asap.

[2019-09-23 19:24] rgmills opened #738 "item.to.getAsync removes unresolved mail addresses"
Moving to a new issue from https://github.com/OfficeDev/office-js/issues/486#issuecomment-534160039

In the case of calling `Office.context.mailbox.item.to.getAsync(callback);` when there are only contacts who are not resolved, Outlook is removing those contacts from the To recipient list.

I've checked in the Outlook Web client and it does not remove the unresolved smtp email address.

## Expecte

[2019-09-23 19:24] rgmills commented on #486
@exextoc Opened https://github.com/OfficeDev/office-js/issues/738

[2019-09-23 20:34] kapgupt commented on #685
@ntranvinh Thanks for reminding me and patience. I have found the root cause of problem. Soon Fix will be shipped.

[2019-09-23 22:22] s-KaiNet opened #742 "Wrong behavior in Outlook for Edge-hosted add-in"
I have a very strange behavior in an office outlook add-in with Edge as a host. I consider it a bug.

If your backend code sends HTTP 302 status code to redirect a user, Edge-hosted add-in opens a new browser tab, instead of performing the redirect.
Check out how it works in IE11-hosted add-in: [outlook-ie11-no-issue](https://1drv.ms/v/s!Aga8ybrtcxQHgZojXwUWLFEyctZHxg?e=oZfbYl)
The same add-in Edg

[2019-09-24 00:04] TheSamsterZA commented on #737
@exextoc thank you for the response.

Apologies, that was a typo on my part. I have updated my initial post with the correct host.

I noticed this issue on Word. I have not tried to test this in Outlook via crafting a mail item with (possibly?) a subject that contains apostrophes, but if you believe the issue affects all hosts, then please let me know and I'll spend some time trying to replicate o

[2019-09-24 00:11] JuaneloJuanelo commented on #734
You can either use Outlook REST API or Graph for it. [Here is a help ](https://docs.microsoft.com/en-us/outlook/add-ins/delegate-access)topic you can use to get an idea on how to make the call. **Warning** the: targetRestUrl property does not work in Windows, there its named restUrl, please note that API is in preview, we are renaming it so its consistent across all platforms. (the final name will

[2019-09-24 00:12] TheSamsterZA commented on #685
@kapgupt Thank you, this is good news. Please remember to update here once the fix has shipped, I would be happy to verify.

[2019-09-24 01:27] niteshgolchha85 commented on #340
@lokkwanfoo Can you confirm if you are able to repro the issue consistently? 13012 would probably mean that AAD is still in the process of providing an access token and when you requested again, it rejects the call as it is still processing the first request. This seems unusual and I'd like to know if you're able to repro the issue consistently. Also, can you provide your environment details?

[2019-09-24 01:30] niteshgolchha85 commented on #355
Closing as the API is working. Feel free to reopen if the issue persists.

[2019-09-24 01:33] niteshgolchha85 commented on #720
@exextoc I believe this is an Outlook API and you should be the right owner looking into this issue?

[2019-09-24 05:20] kapgupt commented on #685
@TheSamsterZA Your issue is different from the one @ntranvinh was facing.
Right now i could fix only @ntranvinh 's problem. I would suggest you to use dialog for login, mean while i will try to debug and fix.

[2019-09-24 06:48] dinglicoding opened #739 "[Excel] Can use offline office.js?"
i use online office.js.

https://appsforoffice.microsoft.com/lib/1/hosted/office.js

but some time can not connect ,the error

The connection to 'appsforoffice.microsoft.com' failed. <br />Error: TimedOut (0x274c). <br />System.Net.Sockets.SocketException 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。 23.65.187.233:443

i found the IP   23.65.187.233   is Japan , The network in china   can't connect. so it's

[2019-09-24 07:48] exextoc commented on #720
Yes @niteshgolchha85 and @nemisj. We will take a look at this.

[2019-09-24 08:42] topkoong commented on #732
@JuaneloJuanelo I would like to get data from a text file on my local machine or any location in which Excel task pane add-in or Excel custom function could access. Would it be possible to do so?

[2019-09-24 08:43] harri-rajala-koivu-solutions opened #740 "Cannot add named item that refers to "=MyTable[[#Headers],[MyColumn]]""
You cannot add named item that refersh to "=MyTable[[#Headers],[MyColumn]]".

Code example:
[code]

## Expected Behavior
Previous code example should print **"=MyTable[[#Headers],[MyColumn]]"**.

## Current Behavior
For some reason it prints **"=Sheet1!$A$1"**.

If you change previous example to use **"addFormulaLocal"** method (instead of "add") then it returns correct value. But the problem with

[2019-09-24 16:15] slowkoala opened #741 "Inconsistent behavior when the website redirects during ribbon command execution"
When executing a ribbon command, we want to redirect our website to a different url if we know the user is authenticated.  When we do this, we're seeing inconsistent results with different setups.

Testing with PC Excel, you need to call `event.completed()` before you redirect.  After you redirect, your command isn't called automatically, so you need to communicate the command you need to execute

[2019-09-24 17:39] kbrandl commented on #742
@s-KaiNet sorry to hear that you've run into this inconsistency in behavior. I'm going to transfer this issue to the **OfficeDev/office-js** so that a member of the product team can provide feedback there.

[2019-09-24 18:03] exextoc commented on #738
I'm unable to repro your issue, could you share a minimal example add-in?

[2019-09-24 19:27] exextoc commented on #700
Sorry, after taking a look at your manifest it looks like you are using a "Custom Tab". CustomTabs do not show up in In Line Reply, for Compose Mail Items. They do show up in the "popped out" inspector window of compose mails. This is currently a gap in our Add-in Command feature. If you need this feature you can request it on our UserVoice: https://officespdev.uservoice.com/forums/224641-general/

[2019-09-24 19:35] ghost commented on #118
Wondering if a fix for this is available in the latest preview, which includes the ItemSend event type?

[2019-09-25 02:44] rgmills commented on #738
@exextoc Here's a repro.  As you found, it wasn't simply just calling `getAsync` that caused the issue.  The actual issue is calling `setAsync` on another recipient collection causes other recipient collections to resolve.  The same steps from above for reproducing apply.

Two observations:
- Outlook for Web does not exhibit this behavior
- If I switch to `addAsync` the issue does not occur.

[cod

[2019-09-25 05:08] wonderplayer commented on #700
Nope, I've moved to CustomTab after DefaultTab was not showing them either. With CustomTab I prooved to myself that Add-In isn't loading and it's not just me who can't find buttons in DefaultTab.
So, same problem persists in DefaultTab for me.

[2019-09-25 07:00] ghost commented on #725
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-25 07:00] #725 closed, assigned to exextoc

[2019-09-25 07:39] TheSamsterZA commented on #737
I spent some time trying to pin down exactly when this bug was introduced, although I have limited knowledge of Microsoft's release process. Here is what I found:

The bug is NOT present in `Office Version 1908 (Build 11929.20300 Click-to-Run), Monthly Channel`<sup>**1**</sup>

The bug IS present in `Office Version 1909 (Build 12026.20190 Click-to-Run, Monthly Channel (Targeted)`<sup>**2**</sup>

[2019-09-25 08:12] TheSamsterZA commented on #685
@kapgupt I have pushed the change you suggested to the LEAP Mail Manager on our test environment. The add-in now opens a dialog on mobile (both Android and iOS) to the login page.

Unfortunately, on Android, after logging in, the dialog does not close, and in the logs I am seeing the same error:

[code]

On iOS, everything works just fine: the dialog opens, I log in, the dialog closes, and I can u

[2019-09-25 08:31] kapgupt commented on #685
This error is not related to add-in work flow. You can see this error even if add-in working perfectly. Can you share sample code which can help me to reproduce the issue or add-in manifest?

[2019-09-25 08:34] TheSamsterZA commented on #685
@kapgupt,

I shared a link to the manifest in a previous comment:

[2019-09-25 09:44] s-KaiNet commented on #742
@kbrandl thank you! Could you post a link to the new issue? I can't find it in the OfficeDev/office-js-docs-pr repo..

[2019-09-25 11:15] vputsenko commented on #584
I see the fix in Outlook version 1908 (Build 11929.20300 Click to Run) which is available in monthly channel. New code looks like:

window.external.UnregisterEvent = function(id, target, callback) {

        var agaveResponseCallback = function(payload) {
            if (callback) {
                return callback(new WebViewSafeArray(payload));
            }
        };
        var parameters = {

[2019-09-25 11:25] kapgupt commented on #685
@TheSamsterZA , i have started working on it.

[2019-09-25 12:53] jagadeeshkorikana opened #743 "Getting "Invalid API call in the current context" error while writing data to excel using office.js from Task pane application"
**Actual Issue:**
Getting error message "Invalid API call in the current context" from office.js
(API method: Office.context.document.bindings.addFromNamedItemAsync)

**Issue scenarios:**
1) If a read/write operation is being performed on a namerange in Excel through Office.js, and User is trying to manually edit any sheet in the same excel
(in parallel), then Office.js operation fails with an err

[2019-09-25 14:32] kbrandl commented on #742
@s-KaiNet there's just one issue (i.e., [this one that you're viewing now](https://github.com/OfficeDev/office-js/issues/742)) -- I've just moved it to a different repo -- now it resides here in the **OfficeDev/office-js** repo as # 742.

[2019-09-25 19:28] exextoc commented on #738
Thanks for reporting this issue regarding recipients. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-09-25 20:19] exextoc commented on #700
Could you please share the manifest that uses the default tab? I'm seeing compose add-ins in In-Line Reply just fine.

[2019-09-25 20:52] s-KaiNet commented on #742
Ah.. I haven't noticed that... thank you again! :)

[2019-09-25 23:18] Rick-Kirkham commented on #657
@TheSamsterZA Sometime in the next week or two, you should see a new Edge webview troubleshooting section added to this article: [Browsers used by Office Web Add-ins](https://docs.microsoft.com/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins). It will describe this problem and the solution.

[2019-09-25 23:54] Rick-Kirkham commented on #584
Possibly related. I've noticed that if I'm developing an add-in with a Dialog and working with the add-in a lot, opening and closing dialogs, eventually, the login dialog will start to flicker and seem to reload itself over and over. When this happens, I see in **Task Manager** that there are many  **Desktop App Web Viewer** processes using a great deal of memory. Closing them all fixes the proble

[2019-09-26 05:28] wonderplayer commented on #700
I've checked it myself before sending to you and tried custom and default tabs and they really are working!
Seems that something was wrong with the mail I was testing on as for that mail Add-In still doesn't show up, but for all others it is fine...
The mail item might be broken as there are custom configurations on it.

Anyway, thank you very much for your assistance! Hope I didn't bother you too

[2019-09-26 05:28] #700 closed, assigned to exextoc

[2019-09-26 07:18] exextoc commented on #736
We are not able to reproduce this issue. Can you please send us a video of when this is happening and console logs from browser DevTools if possible?

[2019-09-26 07:44] vputsenko commented on #584
One more thing here. Even when we have that fix, i think that still memory leak is possible there:
`var done = callback(JSON.parse(payload));
            if (done === undefined || done === true) {
                delete callbackList[callbackId];
            }`
if callback returns false then what? Host (Outlook) knows nothing about the result so it will not call agaveHostCallback  again and in this

[2019-09-26 08:00] exextoc commented on #737
Thanks @TheSamsterZA for testing this and providing these additional details. We are looking into this and will update you soon on this.

[2019-09-26 09:03] kapgupt commented on #685
@TheSamsterZA I checked problem on Both iOS and Android when opening dialog, your parent page is getting refreshed. is it expected ? I It is possible that because of refresh, registered eventHandler of dialog is not getting executed.

[2019-09-26 11:58] kakusharma commented on #736
Seems like its not happening anymore. Last time I tried on my account, the Add-In window was getting closed as soon as it was opening up.

[2019-09-26 11:58] #736 closed, assigned to exextoc

[2019-09-26 14:25] jargil commented on #737
@TheSamsterZA - as always, thanks for reporting this. I have a fix in review and will update here once I have a build to share that contains the fix.

[2019-09-26 18:07] bferreira commented on #667
Hi @jargil, yes, I can confirm. All works now. Thank you!

[2019-09-26 18:10] jargil commented on #667
@bferreira - thanks for taking the time to test this new build!

[2019-09-26 18:10] #667 closed, assigned to jargil

[2019-09-26 21:11] mrbfrank commented on #714
![bitmoji](https://render.bitstrips.com/v2/cpanel/f3b1c198-8c3a-4386-a2de-5902bf7309df-64d1d15a-3b37-4f67-95ff-dc67d1e6d091-v1.png?transparent=1&palette=1&width=246)

[2019-09-26 22:52] jargil commented on #584
@vputsenko - APIs that support batching return false until eventually their work is complete. Office.js takes care of returning false/true.

@TheSamsterZA - I'll try to repro. Is there a particular add-in you're using where you see these hangs? LEAP Mail?

[2019-09-27 00:03] TheSamsterZA commented on #685
Hi @kapgupt,

No, the page isn't being refreshed, the add-in is routing to the next page (the web app is written in Angular).

The way this is set up is:

1. On the Welcome Page, when the user taps on Start, the parent opens the dialog. The parent has OfficeJS dialog handlers setup waiting for a response from the dialog.
2. The user logs in on the dialog, which redirects to the add-in. This instan

[2019-09-27 02:19] TheSamsterZA commented on #584
@jargil This appears to be an issue on Word, not Outlook.

You can try to replicate by following these steps:

1. Install the LEAP Document Manager from AppSource and run it. You should see a Welcome Screen.
2. Click on the LEAP Document Manager heading on the top left of the taskpane (next to the icon). A Debug Tools dropdown should appear.
3. Pick either the Log Viewer or the Custom XML Part Edi

[2019-09-27 03:39] MandytMSFT commented on #724
Root cause has been figured out.  it's related to edge webview, switching back to IE webview works. Log BUG 3670903 for internal track and assign this issue to @jargil

[2019-09-27 08:06] barisbikmaz commented on #412
This is still an issue. Any updates on this ?

[2019-09-27 09:49] exextoc commented on #720
@nemisj Are you copy pasting this key "MIIHS.....KEMG073DQ==" as-is in jwt.io?

jwt.io expects key to be in PEM format. Above key from (https://outlook.office365.com/autodiscover/metadata/json/1) is in x509Certificate format. This is mentioned just before "value" like this: "type":"x509Certificate". You will need to convert x509certificate key format to PEM format first. You can do that using anot

[2019-09-27 11:33] xiaochunms commented on #733
There is a tutorial you may can have a try: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows.

[2019-09-27 11:51] barisbikmaz opened #744 "Problems on inserting SVG images on Excel"
## Expected Behavior
Inserting an SVG image should work always.

## Current Behavior
Inserting an SVG image works sometimes, depending on the SVG content.
The error code is: 5001, internal error.

## Steps to Reproduce, or Live Example
* Link to live example: [Gist Example](https://gist.github.com/barisbikmaz/c99ec337d470439e348ea9fd526fd73a)

When you try to insert the svg in this gist repo you'l

[2019-09-27 12:05] nemisj commented on #720
My bad. It's true. I'm missing the headers for validation. Thank you for finding out.

[2019-09-27 12:05] #720 closed, assigned to exextoc

[2019-09-27 13:45] kakusharma opened #745 "Inconsistent behavior of Contextual Add-In on Outlook for Mac and Outlook for Windows"
On Outlook for Mac 2019, the regex expression in the manifest file is not getting highlighted in the email when I wrap an anchor tag around text, even though the same is getting highlighted for Outlook 2019 on windows and on web clients.
## Expected Behavior

The Add-In behaviour should be consistent on all the supported clients. Add-In should get triggered even when I am wrapping the text with an

[2019-09-27 23:38] jpetersen-cuda opened #746 "Internet Message ID incorrect on Outlook for Mac"
When querying for `Office.context.mailbox.item.internetMessageId` in Outlook for Mac OfficeJS is returning `2415681bce7c00293a83fce817e928a4` when the exact value of the `Message-ID` header is `<2415681bce7c00293a83fce817e928a4>`. However the `internetMessageId` key in MS Graph for the message is `<2415681bce7c00293a83fce817e928a4>` and in OWA `Office.context.mailbox.item.internetMessageId` return

[2019-09-28 02:00] ghost commented on #340
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-28 18:00] ghost commented on #721
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-28 18:00] ghost commented on #698
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-28 18:00] ghost commented on #515
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-28 18:00] ghost commented on #450
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-28 19:34] modestfake commented on #721
Hi @exextoc. Sorry, I was on vacation, so couldn't respond.
We log `accountType` for every error. This happens 98% for Office365 account types. So, it's probably not Exchange.
This happens after `Office.onReady()`. I will check if it also happens after `itemChangedEvent` and let you know if I can confirm this. Thanks for the suggestion.

We run that code after the user performs some actions, so ye

[2019-09-28 20:46] Shepherd-rocks opened #747 "Office.context.mailbox.displayMessageForm not working on Mac Outlook and UI less Add-In"
I'm currently facing an issue with Outlook object model of the API in all versions from v1.1 and higher on Mac Outlook 2016 (V16.26.0 and below). **The method Office.context.mailbox.displayMessageForm is not working on Outlook for Mac as long as the Add-In is UI less** and not displaying a task pane. On Windows as well as on the online versions everything is working fine.

### Current situation
I

[2019-09-28 21:50] Nagapito commented on #450
We am using both REST and JS API.
Without entering into much details, we are syncing the Exchange calendars with our Room Reservation system. This is done trough the REST API.
Our room reservation system also allows extra services on the rooms. We created an addin for Outlook so the user could also boom these extra services.
So, when the user chooses something in the addin, we store this informati

[2019-09-29 06:47] lumine2008 commented on #739
Thanks @dinglicoding, I am sorry, we currently don't support offline access, because our add-in is a web add-in, the code is not in local machine, so we need network to access. How often does this connection failure in your side?

[2019-09-29 06:53] sirius1024 opened #748 "Who should use office.js?"
I need to build an internal website to process Excel(xls/csv/xlsx)

e.g.
- Upload an xlsx file work with its data and output charts with our logic, then put charts into xlsx file as pictures and download it.
- Read xlsx data then count/filter lines/columns with user custom conditions and show reports.
- Something like above that R/W excel files and operate it.

Should I use office-js or OpenXML SD

[2019-09-29 06:56] lumine2008 commented on #741
Thanks @slowkoala for your post, could you please us more information on this issue?
it would be awesome,that you could share us your gist, therefore we could better understand this issue.

Thanks a lot for the support.

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Wor

[2019-09-29 07:13] dinglicoding commented on #739
Thanks @lumine2008  sametime connection failure in my side, but offen slowly , the  appsforoffice.microsoft.com for cdn has china?

[2019-09-29 07:36] lumine2008 commented on #744
Thanks @barisbikmaz , i can repro this issue with your gist, i have created a bug (3674387) to track this issue. team is investigating on this issue. thanks

[2019-09-29 07:37] lumine2008 commented on #743
Thanks @jagadeeshkorikana for your post , do you mind to share us the gist, therefore we can have local repro to better locate this issue. thanks a lot.

[2019-09-29 14:57] kbrandl commented on #740
@lumine2008 can you please assist with this issue, or assign to someone else on your team?

[2019-09-29 14:59] kbrandl commented on #742
@jargil are you able to investigate this issue (since it seems related to Edge Webview)?

[2019-09-29 15:00] kbrandl commented on #745
@macOutlookExtensibility FYI, assigning to you for investigation.

[2019-09-29 15:01] kbrandl commented on #746
@macOutlookExtensibility FYI, assigning to you for investigation.

[2019-09-29 15:02] kbrandl commented on #747
@macOutlookExtensibility FYI, assigning to you for investigation.

[2019-09-30 07:41] macOutlookExtensibility commented on #747
Bug 1242048<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1242048>: [OfficeDev/office-js] Office.context.mailbox.displayMessageForm not working on Mac Outlook and UI less Add-In (#747)

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Kim Brandl - MSFT <notifications@github.com>
Sent: 29 September 2019 20:32
To: Office

[2019-09-30 07:42] macOutlookExtensibility commented on #746
Bug 1242050<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1242050>: [OfficeDev/office-js] Internet Message ID incorrect on Outlook for Mac (#746)

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Kim Brandl - MSFT <notifications@github.com>
Sent: 29 September 2019 20:31
To: OfficeDev/office-js <office-js@noreply.github

[2019-09-30 13:58] ellorenz2 opened #749 "git"
[ERROR]: Unhandled promise rejection

[ERROR]: Error:
{
    "message": "Object doesn't support property or method 'split'",
    "description": "Object doesn't support property or method 'split'",
    "number": -2146827850,
    "stack": "TypeError: Object doesn't support property or method 'split'\n   at Anonymous function (https://appsforoffice.microsoft.com/lib/1/hosted/telemetry/oteljs_agave.js:

[2019-09-30 17:18] kbrandl commented on #746
Internal work item created by @macOutlookExtensibility: # 1242050 (*o365exchange.visualstudio.com*).

[2019-09-30 17:19] kbrandl commented on #747
Internal work item created by @macOutlookExtensibility: # 1242048 (*o365exchange.visualstudio.com*).

[2019-09-30 18:57] Zlatkovsky commented on #749
@wandyezj FYI.

[2019-09-30 20:30] JuaneloJuanelo commented on #748
Hello! this question is a really good candidate to be in stack overflow (#office-js) since its not really  an issue in out platform, I recommend you to use that resource in the future.

That been said, without looking into the details on what exactly you mean by custom conditions, sounds like you could choose either technology, it will boil down to the experience you want to provide.

So, if you w

[2019-09-30 20:30] #748 closed, assigned to nobody

[2019-10-01 02:00] ghost commented on #340
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-01 02:00] #340 closed, assigned to niteshgolchha85

[2019-10-01 10:12] hungvnguyen-kms opened #750 "getFileAsync return file not correct when not closeAsync on Word online."
When I getFileAsync, then close the taskpane before executing function file.closeAsync(), then open the taskpane and getFileAsync again, the file slice becomes different and cannot be opened when I download it.

To be specific, I'm writing a function to upload the document to server. Firstly, I getFileAsync, and getSliceAsync then hash it, it returns thing like *hashcode1*. When all the slices are

[2019-10-01 12:00] ghost commented on #733
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-01 14:06] kbrandl commented on #733
Please disregard the @msftbot's comment about this issue being marked as stale; I've updated tags so this is no longer the case.

[2019-10-01 16:38] adam8797 commented on #733
@kbrandl Thanks, I’m still interested in finding a fix for this.

@xiaochunms I’ve gone through that tutorial already, and I have what I believe *should* be a working add-in. I’ve also tried the example add-ins and none work. I think this issue is before the add-in even gets loaded, or during the parsing of the manifest. Either with my setup or with Excel, but I need some more help determining whi

[2019-10-01 17:10] hilarudeens opened #751 "Wanted to enable right-click menu on sideload addin"
Im developing outlook office addin,
I need to allow user to right click and choose past option from context menu.
Everything was working till, I update windows10 and outlook.
Now it is not working.
Please any help would be appreciated

It is not working only in outlook desktop client, which is using edge webview

<img width="172" alt="right-click-menu" src="https://user-images.githubusercontent.co

[2019-10-01 17:13] kbrandl commented on #751
@hilarudeens sorry to hear that you've run into this problem. Issues here are intended to report problems with the Office Add-ins documentation, so I'm going to transfer this issue to the **OfficeDev/office-js-docs** repo instead (which members of the product team monitor for issues like this related to the Office Add-ins platform and APIs).

[2019-10-01 17:23] JuaneloJuanelo commented on #732
@topkoong  thanks for the clarification. In web programming you cannot open the file directly for security you need to ask the user what file to process. In other words, the user needs to pick the file.  You can enable that by using the file input type in your html, something like:

[code]

And then you need a handler to process the file the user selected.

something like:

[code]

I hope this set

[2019-10-01 17:27] #732 closed, assigned to JuaneloJuanelo

[2019-10-01 17:41] JuaneloJuanelo commented on #654
I can repro in windows...looks like a bug , we are tracking internally with 3679427

[2019-10-01 18:00] ghost commented on #698
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-01 18:00] #698 closed, assigned to exextoc

[2019-10-01 18:00] ghost commented on #515
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-01 18:00] #515 closed, assigned to exextoc

[2019-10-01 18:01] JuaneloJuanelo commented on #412
yes its still an issue in iOS. so to clarify where we are:  right now the team is working to fix the issue that the requirement set is not supported in iOS. we are tacking with bug 3468656.

[2019-10-01 18:10] JuaneloJuanelo commented on #222
@rvanlaak  the fix is in. Can you please try it?  its on the latest insiders fast release (aka 16.0.12126.20000).  I just tried it myself an its working but it will be really awesome if you can also confirm it. thanks!

[2019-10-01 18:18] misaunde commented on #224
Any Update on this?
This bug confused me a bit as it repeatedly writes only the first value onto just the filtered range, but I'm glad there's a workaround.

With the workaround, I'm writing 9 columns of just over 20k rows in about 60.71 seconds vs 17.078 without it.

In office.js, is there a property you can view/read to determine if there's currently a range filtered in Excel? For example someth

[2019-10-01 18:35] hilarudeens commented on #751
Thanks @kbrandl

[2019-10-01 19:50] yanli0303 opened #788 "Is there a way to get all recipients in `to` or `cc` fields?"
It is mentioned in documentation of `Office.MessageRead.to` that:

This limitation is working correctly, if I have an message which was sent to more than 100 recipients, I can only get 100 of email addresses with `Office.context.mailbox.item.to`.

No similar limitation is mentioned in documentation of `Office.AppointmentRead.requiredAttendees`, but I can only get 100 of email addresses with `Offic

[2019-10-01 22:27] exextoc commented on #721
@modestfake could you send us a repro of the issue you're facing?

[2019-10-02 02:35] XiangGaoMSFT commented on #224
@misaunde This issue should have been fixed in 16.0.11929.x builds.

I would assume you don't need this workaround anymore.
But just for your reference, we do have solutions to determine if there's currently a range filtered in Excel.
You can use `Range.getTables()` to get tables that include the given range. Then you can use `Table.autoFilter` to get the auto filter and check whether it is filter

[2019-10-02 02:35] #224 closed, assigned to XiangGaoMSFT

[2019-10-02 06:44] hxltinh opened #752 "Importing large image (> 5MB) fails on PowerPoint Online"
## Expected Behavior

- it should import large images (> 5MB) successfully
## Current Behavior
- importing large images will throw error: `The specified data object is too large.`

## Steps to Reproduce, or Live Example

* Link to gist example: https://gist.github.com/hxltinh/e508ba1d096983c4e14c61672a8aec79
### steps:
1. Select more than 5MB image from file input
2. Click `Insert image from input

[2019-10-02 06:57] 4tti opened #764 "Unable to clear Custom Functions from the cache"
We are currently facing an issue with Mac version where we started to test our addin and we realized we don't know how to clear the cache there.
Repro steps:
1) Have one side-loaded manifest with custom functions (it is working fine)
2) Clean the cache as described here on this page (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#clearing-the-offic

[2019-10-02 07:19] rvanlaak commented on #222
Thanks, will put it on my list to test, but will not be able to get to it this week.

A new feature release is coming? I found [`customxmlpart`](https://docs.microsoft.com/en-us/javascript/api/word/word.customxmlpart?view=word-js-preview) in `Word.Preview`. Will that allow replacing text selections with our own xml without Word adding a revision on it?

[2019-10-02 09:25] macOutlookExtensibility commented on #746
Thanks for reporting this issue regarding inconsistent behaviour for Internet Message ID. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-10-02 10:25] sergez opened #753 "[Outlook] Attendee is not removed after calling Office.context.mailbox.item.saveAsync()"
## Expected Behavior
The attendee should be removed or "discard/not discard changes" dialog should be shown.

## Current Behavior
Attendee is not removed

## Steps to Reproduce
1/ Open existing meeting/appointment and open web Add-In panel. I use the following sample:

import * as React from 'react';
import * as ReactDOM from 'react-dom';
ReactDOM.render(
    <button onClick={() => Office.context.

[2019-10-02 11:09] chopraniitn opened #754 "makeEWSRequestAsync does not work on outlook on mac"
## Expected Behavior
makeEWSRequestAsync should return valid data when its been called and all the required data is provided to the method. like item id with a valid soap request.

## Current Behavior
I am trying a outlook 365 addin where we call makeEWSRequestASync() Method to do some operations. but it seems like its not working and returns an error, even if i pass the valid item id

## Steps to

[2019-10-02 17:09] slowkoala commented on #741
@lumine2008 I created a gist and filled out the information below:

Description : Redirecting the website while executing a command is inconsistent between Excel Online and PC Excel.

Expected Behavior : If you don't mark the event as complete, PC Excel should call the event again on the redirected website.

Current Behavior : If you don't mark the event as complete, PC Excel doesn't do anything a

[2019-10-02 19:20] JuaneloJuanelo commented on #750
The API is not designed to work across different sessions. Also the hash is expected to be different since the getFileAsync first creates a copy of the file, which is the one who get paginated, so the slices can be different.
You will need to start paging the file again on the new session and always call closeAsync otherwise you will get an exception, we do not allow more than 2 copies of the file

[2019-10-02 19:20] #750 closed, assigned to nobody

[2019-10-02 19:39] JuaneloJuanelo commented on #654
@VitaliyLavrenko we have an update. Are you trying the API in a Right-To-Left RTL culture ?
I was able to repro your issue, but only when I try to insert the Hebrew (who is a RTL language) into a paragraph using a LTR Culture (English on this case). Mixing a RTL and LTR text in the same paragraph is kind of a corner case. It IS valid to have multiple cultures in the same document, but you need to

[2019-10-02 19:43] JuaneloJuanelo commented on #654
@tsabbay  my answer above applies to Arabic too and to any RTL language. thanks!

[2019-10-02 19:57] JuaneloJuanelo commented on #222
@rvanlaak  thanks!
please lets not mix content from different issues. customXML parts is releases since 2013. and yes you should have the APIs you need to get the XML part content and replace it anywhere you need.  please check our the documentation here:  https://docs.microsoft.com/en-us/javascript/api/office/office.customxmlpart?view=word-js-preview

also here is a relevant sample: https://githu

[2019-10-03 02:53] hungvnguyen-kms commented on #750
I understand that we need to closeAsync the file. But if user closes the taskpane immediately, how can I handle it? I have tried to put the function in componentWillUnmount (I'm using React) or subcribe event 'beforeunmount' of window, the function doesn't run.

[2019-10-03 05:07] Kashishmsft opened #755 "While deleting content control (with text) from table cell in Word document, error occurs: "A table in this document has become corrupted""
## Title

Developing an Office JS Word add-in and trying to add and delete the content controls (and text in it) in the table inserted in Word document in enviroment Office 2016 MSI only, error is produced: "A table in this document has become corrupted".

## Expected Behavior

Error as above is not expected, it should delete the content control and text in Word 2016 MSI without issue.

## Current

[2019-10-03 06:05] anilreddyr7 commented on #347
Thanks for the update. Do we have any timeline for this issue? @JuaneloJuanelo It is very helpful for us to know the time line for this fix. One of our customers were expecting this and it is priority for us.

[2019-10-03 06:30] macOutlookExtensibility commented on #747
Hey @Shepherd-rocks . Did you try a longer delay than the one you are using to let the item sync?

[2019-10-03 06:32] kapgupt commented on #685
@TheSamsterZA , I checked multiple times and every time home page was getting reloaded.
As it has been long time, can you please send your email id and suitable time, we want set up a call with you to discuss it further.

[2019-10-03 06:59] rvanlaak commented on #222
Yes, I hereby can confirm it works.

Thank you for verifying that, as that actually is an issue for us. We replace the selected content with it's exact same content, but with a comment included. The above behavior causes a revision to get added on the selection where we don't want it to. But, that is whole other issue.

[2019-10-03 06:59] AnjanaValsan commented on #745
@kakusharma , thanks for reaching out to us. We are trying to figure out the right experience here, because of the platform in-consistencies. We will keep you posted on the decision really soon.

[2019-10-03 07:12] Shepherd-rocks commented on #747
@macOutlookExtensibility Yep, I tried e. g. 10 seconds and longer but nothing happend. Interestingly, everything works fine if I execute the same function from a side pane with 2000 milliseconds delay.

[2019-10-03 07:18] Shepherd-rocks commented on #754
Hi @chopraniitn which Mac Outlook Build version are you using? I think it should have been fixed with 16.24. Related conversation is [here](https://github.com/OfficeDev/office-js/issues/433)

[2019-10-03 07:44] TheSamsterZA commented on #685
@kapgupt I have just emailed you with details. Hopefully we can figure this out quickly! 😄

[2019-10-03 08:31] chopraniitn commented on #754
HI, we are using 16.29. i went through the link. but i could not locate the cache folder for outlook as mentioned in the discussion.
Not sure where to look into. i tried removing and re-add my account. but same result.

[2019-10-03 11:33] macOutlookExtensibility commented on #754
Hey @chopraniitn,

Could you please share a formatted version of your code? The "//" is making it hard to debug what exactly is commented out in your code. We are curious to know how you are getting the item ID. Also could you share us the details of the error that you're getting? It should be a part of the asyncResult.error object in your callback.

[2019-10-03 13:51] chopraniitn commented on #754
HI,

I am getting ID format error. here is xml i get back.

`<?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:ServerVersionInfo MajorVersion="15" MinorVersion="20" MajorBuildNumber="2305" MinorBuildNumber="24" Version="V2018_01_08" xmlns:h="http://schemas.microsoft.com/exchange/services/2006/types" xmlns:xsd="http://www.w3.org/2001/

[2019-10-03 15:00] ghost commented on #743
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-03 19:26] craigkeating commented on #355
I am getting this now with version 1908 (Build 11929.20300). Has worked for months on the previous versions. Please let us know how sergiubucur resolved this issue.

[2019-10-03 19:29] craigkeating commented on #355
Specifically, calling Office.context.auth.getAccessTokenAsync and getting back 13012 with:
- API is not supported in this platform.
- A connection was lost during the sign in process.

Tried with options forceConsent as false and forceConsent as true.

[2019-10-03 21:00] craigkeating commented on #355
I just ran this from my Microsoft Surface Laptop with version 1909 (Build 12026.20264) and it worked.  Both using the same code in the App Service.
How can I get the version 1908 (Build 11929.20300) to work?

[2019-10-03 21:10] chopraniitn commented on #734
Based on discussion it seems like graph api is only way to handle delegate scenario. so closing it.
Thanks @JuaneloJuanelo

[2019-10-03 21:10] #734 closed, assigned to exextoc

[2019-10-03 21:47] JuaneloJuanelo commented on #412
update the fix to the requirement set is coming on the October Update for iOS. (should start rolling out in the next couple of weeks.

@barisbikmaz  please add support for PPT iOS in our u[servoice channel.](https://officespdev.uservoice.com/) thanks!

[2019-10-03 23:13] shyambhiogade opened #756 "addFromPromptAsync does not work on excel online in chrome"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

I am using following api to select the range from excel online in chrome, but it does not allow me to select background range,

[2019-10-04 06:22] sergiubucur commented on #355
@craigkeating I didn't do anything. The API wasn't working one morning and then the next it started working again by itself.

[2019-10-04 11:03] GopalZadafiya commented on #692
@AlonEkelund, Can you please guide how did you solve this issue ?

[2019-10-04 14:08] tiagoalves opened #757 "Office.context.document.getFileAsync() fails in some Excel clients"
As asked in [this SO question](https://stackoverflow.com/questions/58199895/using-office-js-i-cant-read-the-ooxml-file-in-some-excel-clients), when my Excel add-in tries to fetch the whole OOXML zip file with the code:

    Office.context.document.getFileAsync(Office.FileType.Compressed, {
      sliceSize: 65536
    }, callback);

Some users are getting the error:

    {"name":"Permission Denied",

[2019-10-04 15:17] sureshjoshi commented on #106
Hi, did something change in either Word or OfficeJS regarding this bug?

I implemented some workarounds to support adding footnotes, but in the past few weeks, it seems that all my workarounds (untouched code) now cause Word to crash whenever a footnote is updated.

Which means I've crashed Word about 12 times in the last 20 minutes.

[2019-10-04 16:09] shyambhiogade commented on #756
https://stackoverflow.com/questions/45151481/addfrompromptasync-does-not-work-correctly-in-excel-online

[2019-10-04 20:17] peronald commented on #751
Can you elaborate on what the intended behavior is as well as explain more in detail what the issue is (which APIs you are using and what is failing, etc)? Can you submit a screenshot of the intended behavior as well?

[2019-10-04 20:34] peronald commented on #756
Are you saying the issue is that the dialog doesn't allow the user to select the range with the cursor? If so, that is by design in the Excel Online client. The user can still enter the range in the text box though.

[2019-10-04 22:05] craigkeating commented on #355
I just tried it now and it still isn't working for me.  Wish it was :o)

[2019-10-04 22:35] 3dot1four opened #758 "[Content Addin] Excel online crashes and corrupts the file on saving settings"
## Expected Behavior

Excel online should not crash while saving settings
## Current Behavior

Excel online crashes with below error
![image](https://user-images.githubusercontent.com/4102247/66243899-d8484f80-e723-11e9-8a46-33b1c0b49956.png)
## Steps to Reproduce, or Live Example

Just run below line of code from a content Addin
`Office.context.document.settings.set("data", new Uint8Array(200000)

[2019-10-05 16:08] AmirNorouzpour commented on #494
@Rick-Kirkham Hi Rick I'm still having trouble!
How to register paths for office online server,
![1](https://user-images.githubusercontent.com/24652732/66257554-aaa4ea00-e7a7-11e9-81f3-033bdb35ee9a.PNG)
on-premise server?!

[2019-10-05 21:13] shyambhiogade commented on #756
@peronald thanks for your reply, you understood it right, i am not able to select the range with cursor., why is there different experince for desktop and online version. at-least it should show the range selection in the backround when user manually enters the range, its not very intuitive, I would rather not show the prompt selection dialog in excel online. is there any way to detect if officead

[2019-10-06 16:00] ghost commented on #743
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-06 17:00] ghost commented on #721
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-06 20:00] ghost commented on #654
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-07 02:59] hungvnguyen-kms commented on #750
@JuaneloJuanelo Can you share me a solution to closeAsync the file for this case? (when user closes the taskpane while the code is processing the file)

[2019-10-07 03:32] Rick-Kirkham commented on #788
Thanks for your question. We'll look into the possible problem that you found with the documentation for the `Office.AppointmentRead.requiredAttendees` API.

For your programming question, we suggestion you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/outlook-addin)  and see if your question has already been asked or ask a new question. Thanks, Office Platform team

[2019-10-07 05:50] exextoc commented on #347
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-10-07 06:30] macOutlookExtensibility commented on #754
Hey @chopraniitn, Can you with share me the format of the Item ID being used in your request? It would be great if you could share the item ID itself. This will help us look into this further.

[2019-10-07 09:10] kakusharma opened #759 "Show/hide elements depending on whether an Outlook web Add-In is installed or not"
I need to show an element in the email body if a specific Outlook web Add-In is not installed. Is there any way we can do that?

[2019-10-07 12:59] chopraniitn commented on #754
HI,
Here is the example if id i am passing . AQMkAGMwMAFhM2E2LWFiMGUtNDhkNC1iNWE0LTE4MzgwMWU2MzFlNwBGAAAD0tjtDdOkAkC_T7FP3oOb2gcA4QdUjomZfkS5W8iS_P3T8wAAAgENAAAA4QdUjomZfkS5W8iS_P3T8wABDDaZwgAAAA==

but as i said earlier this id we are getting from after calling  saveAync().

Thanks

[2019-10-07 13:59] sajsarka opened #760 "[Content Addin] getFilePropertiesAsync call fails for Excel online file"
## Expected Behavior

getFilePropertiesAsync should return file properties of the file for which call is made.

## Current Behavior

It fails intermittently with ErrorCode : 5004, ErrorMessage : Invalid API call in the current context

## Steps to Reproduce, or Live Example

This is intermittent and in last one week we encountered 4 such failures.

## Context

## Your Environment

* Platform : Exc

[2019-10-07 14:45] sajsarka opened #761 "[Content Addin]On saveAsync(callback) call, settings property bag is persisted but API's status reports not succeeded"
## Expected Behavior
API should never report failure if data is persisted.

## Current Behavior

API call successfully persists settings property but gives error in async result.
ErrorCode : 5001
ErrorMessage : An internal error has occurred

## Steps to Reproduce, or Live Example
This is intermittent in nature.

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: Ex

[2019-10-07 17:05] jargil commented on #503
Thanks for filing your bug with us. I'm closing this issue as this is by design.

[2019-10-07 17:05] #503 closed, assigned to jargil

[2019-10-07 17:07] jargil commented on #712
@leandrolares - Sorry I don't understand your last comment. We don't use Edge View in Mac, that would be WebKit instead.

For the problem where your "myButton" does not do anything on click, you'd need to debug your add-in to make sure that the proper event is being attached to the button on the right time with regards to its DOM lifecycle. The fact that executing the script by itself does what is

[2019-10-07 17:12] jargil commented on #742
@s-KaiNet - for this to work, you'll have to include example.com in your AppDomains list. Currently your manifest is listing the sample manifest with AppDomain1, AppDomain2, AppDomain3:
https://github.com/s-KaiNet/outlook-web-addin-edge-issue/blob/master/OutlookWebAddInIssue/OutlookWebAddInIssueManifest/OutlookWebAddInIssue.xml

Here some documentation about AppDomains:
https://docs.microsoft.com/

[2019-10-07 17:14] jargil commented on #712
@sumurthy - sending it back to you to follow up.

[2019-10-07 17:16] jargil commented on #737
Just a quick update, this week we should get a build in Office Insiders that contains this fix.

[2019-10-07 19:15] exextoc commented on #759
There is currently no way to do something like this, in Read Mode. Can you help us understand the scenario that you are trying to achieve?

[2019-10-08 00:47] weshi commented on #760
Could you share your test code? I didn't reproduce it. Here is my test code:

[code]

[2019-10-08 01:21] exextoc commented on #450
@Nagapito this is something that must be worked around. The data that is changed via REST does not sync down to clients immediately, (and will also not refresh until the item is refreshed). If that is data that is needed it should always be accessed and retrieved in the same way. (either REST or through OfficeJS). Additionally, you could store that data on your backend and access it that way too.

[2019-10-08 03:24] grangeryy commented on #749
Bug 3698263 is created for further investigation.

[2019-10-08 03:35] grangeryy commented on #758
Bug 3698271 created to track.

[2019-10-08 04:11] exextoc commented on #754
Thank you for reporting this bug. We have added this to our backlog. Unfortunately we cannot share timeline at this point. As a workaround you can replace _ with + and - with / in itemId which you are getting. That should work.

Internal tracking id:3698327

[2019-10-08 05:53] XiangGaoMSFT commented on #761
Thanks for reporting it to us.
I tried to reproduce it but failed. Could you provide more details?
* Sample code which can reproduce this issue. We suggest to create a snippet by ScriptLab and [share it to us](https://github.com/OfficeDev/script-lab/blob/master/README.md#import).
* Session ID. Please reproduce this issue in Excel Online and provide the Session ID to us. You can find the Session ID

[2019-10-08 07:32] MandytMSFT commented on #758
@rohitrewa i can't repro this issue on 16.0.12206.31877 which is the newer version. Could you help try again? If it's still repro, could you provide below info to us ?

- Sample code which can reproduce this issue. We suggest to create a snippet by ScriptLab and share it to us.
- Session ID. Please reproduce this issue in Excel Online and provide the Session ID to us. You can find the Session ID f

[2019-10-08 08:01] 3dot1four commented on #758
This still repros for me for the latest version: 16.0.12207.35901
session id: e6d40507-ea33-445a-8cd7-52b677bf7584
The issue does not repro for side pane addins so script lab snippet will not work.

I have added a Video in the bug, you guys can have a look.

https://office.visualstudio.com/e853b87d-318c-4879-bedc-5855f3483b54/_apis/wit/attachments/ae43c0ed-dd0b-41d6-b6ab-f3e04e5b6450?fileName=Medi

[2019-10-08 08:09] Nagapito commented on #450
@exextoc Thanks for the feedback. From my latests researches, I was indeed expecting this behaviour. We will have to find another way to do this communication that does not involve the CustomProperties.

[2019-10-08 08:25] MandytMSFT commented on #749
Assign to @wandyezj as it's call stack from CDN

[2019-10-08 09:42] glr0221 commented on #676
Sorry for the trouble guys but is there any update on this? @kbrandl  @JuaneloJuanelo Any update would be very much appreciated. Thank you in advance!

[2019-10-08 09:56] chopraniitn commented on #754
Is there any way i can get notification whenever you will fix the bug? or it will be updated here in this ticket?

[2019-10-08 14:54] iuri1994 opened #765 "Doesn't work in outlook app"
I am using the makeEwsRequestAsync to get user information like phone number and email. The problem is i can obtain all the parameters in the web-app (outlook in chrome) and when i use it in the windows app i can't. For example, when i use it to get the phone numbers, i can obtain how many numbers that contact have, but the phone numbers returned are undefined.
On the web-app, i don't have any pro

[2019-10-08 16:01] Sheikaa3 opened #762 "Unprotecting a worksheet with a password specified when the sheet was not protected with a password results in any future programmatic protect calls to not apply any new specified passwords"
## Expected Behavior
I'm currently working on an Excel add-in and ran into the following issue:

After the user protects a worksheet manually, I unprotect the sheet, do some add-in behaviour on the sheet and then protect it back. In the workflow, when a user protects a sheet without a password, I apply a default password during the re-protect process. This should result in the sheet being protecte

[2019-10-08 18:27] yanli0303 commented on #615
Hello, any updates?

[2019-10-08 18:38] eneoli opened #763 "Is there a way to debug ExecuteFunction-Action in Outlook/Office Desktop?"
Debugging Add-Ins that use a TaskPane is easily possible using F12 Tools or VisualStudio Debugger, but ExecuteFunction-Actions don't have this possibility what get's really frustrating if your code works in owa and you don't have any information to work with.
## Steps to Reproduce, or Live Example

Just try to debug an ExecuteFunction-Action

## Context

We had a Button in a taskpane executing a f

[2019-10-08 22:33] ElizabethSamuel-MSFT commented on #765
@iuri1994 Thanks for reporting this issue. I'm transferring this issue to the office-js repo for the product team to take a look.

Thanks.

[2019-10-08 22:48] TheSamsterZA commented on #685
@kapgupt thank you for taking the time to attend our meeting. It was enlightening.

I have made some changes to the code for the LEAP Mail Manager pointing to our test environment. From my tests it appears that:

1. the error `e.split is not a function` still happens on Android, but
2. I can login and use the add-in as expected

The code changes were:
- remove any code that sets `window.location.h

[2019-10-09 01:44] exextoc commented on #765
What is your xml for the get request, and the response you get in each case? What Exchange Server version are you connecting to? What is the version of the desktop client that you are using?

[2019-10-09 01:57] exextoc commented on #763
If you are still on a version of Windows 10 or Office that does NOT support the new Edge WebView, you can attach a debugger (like Visual Studio) in Script mode to the iexplorer.exe process running in script mode to debug.

[2019-10-09 02:11] #450 closed, assigned to exextoc

[2019-10-09 02:13] exextoc commented on #615
Unfortunately there are no real updates. The Edge team found this to be an issue and the bug was added to their backlog. There are no ETAs to share at this time :(

[2019-10-09 03:13] MandytMSFT commented on #596
Internal BUG 3479363 is tracking this issue

[2019-10-09 03:59] ghost opened #766 "I can't find out the event to save document."
I am building Word Add-in API using Visual Studio.
I can't find out the event to save document or remove add-in.
Maybe this function is private API.
If you had some experience with this, please let me know your thought.

[2019-10-09 04:00] #766 closed, assigned to nobody

[2019-10-09 05:04] jagadeeshkorikana commented on #743
Hi Team.
I will update the POC repo in an hour can  you please reopen this issue.

[2019-10-09 07:19] MandytMSFT commented on #518
@slowkoala is this a blocking issue for your add-in release ?

[2019-10-09 08:27] exextoc commented on #747
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-10-09 08:41] iuri1994 commented on #765
https://github.com/OfficeDev/office-js/issues/765

The xml code in a string `'<?xml version="1.0" encoding="utf-8"?>'+
'<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"'+
'               xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages"'+
'               xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types"'+
'               xmlns:soap="http:/

[2019-10-09 08:42] exextoc commented on #753
We are not able to repro this. Can you share repro video?

[2019-10-09 09:25] anilreddyr7 commented on #347
Thanks for the update. Can you let me know the process that we need to do to follow to make the item as priority for you? @exextoc

[2019-10-09 10:06] #722 closed, assigned to exextoc

[2019-10-09 10:08] eneoli commented on #763
Using Internet Explorer for owa works also as a workaround. Closing issue

[2019-10-09 10:08] #763 closed, assigned to exextoc

[2019-10-09 10:32] exextoc commented on #679
We have fixed this bug and it is available in production now.

[2019-10-09 10:32] #679 closed, assigned to exextoc

[2019-10-09 10:50] exextoc commented on #379
We have fixed this issue and it is available in production.

[2019-10-09 10:50] #379 closed, assigned to exextoc

[2019-10-09 15:36] kapgupt commented on #685
@TheSamsterZA, Right now we are busy with some important project, we will soon pick the problem `"e.split is not a function"`. Right now at this stage, i can not commit any date. be assured, we will fix it soon.

[2019-10-09 16:43] 3dot1four commented on #758
@MandytMSFT Any luck in getting the repro now?
@grangeryy Can you please help here in getting the bug triaged and assigned to a developer.

Team this is a very important bug for us and our first release is blocked on this.

[2019-10-09 16:57] exextoc commented on #765
We already have a bug tracking this.  I updated the bug that OP responded.
Bug 1252808<https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_workitems/edit/1252808>: New GitHub Issue [OfficeDev/office-js]: Doesn't work in outlook app

From: Kim Brandl - MSFT <notifications@github.com>
Sent: Wednesday, October 9, 2019 9:20 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc:

[2019-10-09 17:00] ghost commented on #721
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-09 17:00] #721 closed, assigned to exextoc

[2019-10-09 17:17] slowkoala commented on #518
@MandytMSFT I ended up writing a custom webpack plugin to remove the words `window.focus()` from all of our build output.  It's not ideal, but this is no longer blocking our add-in release.

[2019-10-09 17:59] ndeeH opened #767 "Excel: Office.SetSelectedDataOptions.tableOptions fails when setting table options"
We have a TaskPane add in in the office store which adds content into excel and word.
Since a few weeks we get errors when we add formatted tables into excel via the Common API.

## Expected Behavior
We are using `setSelectedDataAsync(data: TableData, options: [SetSelectedDataOptions]) ` since a long time and have set the table style and options via the **[options.tableOptions parameter](https://d

[2019-10-09 21:00] ghost commented on #654
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-09 21:00] #654 closed, assigned to JuaneloJuanelo

[2019-10-10 02:45] MandytMSFT commented on #518
@slowkoala  thanks for the info. We are looking at this bug actively, currently it's proved to be a original bug of IE. We will keep this bug on track.

[2019-10-10 04:18] SWei1234 opened #768 "[Outlook add-in]Office.context.mailbox.item.body.getAsync can not get right content, which will cause error"
I am a developer on office365 add ins.
In outlook 2013, when I try to get a body with an attachment using 'body. getAsync', a picture with a hyperlink is returned. So that after I put this Body back use 'Body.setAsync', this attachment can not be open directly by double click.

## Expected Behavior
In HTML mode body.getAsync can identify the attachment with a special tag.
Or there is a js API to g

[2019-10-10 04:40] MandytMSFT commented on #758
@rohitrewa  yes, i can repro it now. And our team is working on that.

[2019-10-10 06:00] donlvMSFT commented on #767
Thanks for reporting it to us.

I tried to reproduce it but failed, but  This seems works well on Excel latest version. Both using your add-in or use [snippet](https://gist.github.com/J-January/587f677a57aca25b6a71cba892edac3a) create in ScriptLab couldn't reproduce this issue.

Could you update the Office version and give it a try?

[2019-10-10 06:25] sajsarka commented on #760
our code is similar to the test code above. It is very intermittent in nature, whenever trying to reproduce not hitting the issue. When we investigated error logs, we found this issue.
In which scenario, this error (ErrorCode : 5004, ErrorMessage : Invalid API call in the current context) could come?

[2019-10-10 06:38] ndeeH commented on #767
@J-January
OK - I updated my Office version and now with this version:
![image](https://user-images.githubusercontent.com/11518242/66543203-0ae3b500-eb35-11e9-8b76-4d3320a94a4d.png)
**It works - again!** 🎉

**_So between those build versions (*.20288 - *.20384) this error definitely existed.
Don't you have test cases to validate that each release of the API is fully functional?_** 🤔

Should we add

[2019-10-10 07:40] donlvMSFT commented on #767
Glad it work!

API do have many test cases, but test cases couldn't cover all of the scenarios.
We will follow up to add test cases base on this issue to avoid further regression, thank you!

[2019-10-10 08:58] sergez commented on #753
![OfficeWebAddIn-Context-saveAsync-Attendees](https://user-images.githubusercontent.com/164393/66554205-38d8f180-eb55-11e9-8a3f-e1c6799e9846.gif)

[2019-10-10 09:59] harri-rajala-koivu-solutions commented on #740
@kbrandl @lumine2008 Do you have any updates on this issue?

[2019-10-10 10:58] bferreira commented on #667
hi @jargil, do you know when we could expect this fix to out on different Office update channels or if you know the correct place to ask this?
I would like to inform our customers when this would be fix.
There are more reporting the problem now when getting Windows version 1903.

[2019-10-10 11:43] zakhan4 opened #769 "Office Common API is not available in Custom Functions Runtime on Desktop"
## Expected Behavior

I expect to have [Office.Context](https://docs.microsoft.com/en-us/javascript/api/office/office.context) Common API available for Custom Function Runtime as well. As it has very important information inside it for example: information regarding display/content language, host, platform, requirements etc. of the system where add-in is running

## Current Behavior

Although I ca

[2019-10-10 12:37] hilarudeens commented on #751
@peronald
It is about outlook addin.

My addin have few forms which is having fields like text, textarea, radio button and so on.

As a user, i wanted to fill the form. I wanted to copy the text and paste in textarea by right click and chose paste option.

I'm not using anything crazy. Simple HTML form with text area as follows,
[code]
and i enabled addin by pickig xml file from my local machine.

[2019-10-10 15:11] keyur32 commented on #769
Hi this is feature is actively being worked on. Workaround if you have a taskpane visible is to fetch it from the taskpane and pass it to the Custom Function via OfficeRuntime.storage API.

[2019-10-10 16:16] #767 closed, assigned to nobody

[2019-10-10 18:44] exextoc commented on #751
This is a known issue with the Edge WebView and we are working with the Edge team to address it. In the meantime, you can use JavaScript to create custom menus for your add-in, as a workaround.

[2019-10-10 18:52] exextoc commented on #768
Can you give an example of the response that you are getting, and what you are expecting?

More than likely though, the version of Outlook 2013 is out of date, and needs to be upgraded. There were some changes made GetBody after SP1. Please make sure that Outlook 2013 is upgraded to the latest version, as well as the rest of the Office client. (notably, MSO.dll, osf.dll, and Word all need to be up

[2019-10-10 22:07] keyur32 commented on #707
I think this one is by design  in terms of the content add-ins on non visible sheets not being activated as we don't load that hidden sheet in the browser for performance reasons (since the add-in would need a web browser to activate).

[2019-10-10 22:08] keyur32 commented on #707
For scenarios like this, we'd instead recommend a taskpane add-in.

[2019-10-11 01:52] exextoc commented on #765
Do you have the find response request from the Desktop Client? Is it empty? or is it giving you errors? Do other MakeEwsRequests from desktop client also fail? Using fiddler may also help figure out why the ewsrequest from desktop is failing.

[2019-10-11 03:09] nyn3x opened #770 "The reply url specified in the request does not match the reply urls configured for the application"
I just created a simple POC using Excel. I used side-loading to upload my addin to excel on the web.

However: when the `getAccessTokenAsync` is invoked I get an error like this:

I followed the steps at [Create a Node.js Office Add-in that uses single sign-on (preview)](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs#register-the-add-in-with-azure-ad-v

[2019-10-11 04:03] Rick-Kirkham commented on #770
The Redirect URI that you specify in the registration cannot be a sharepoint.com URI. You should specify the URI where you want Azure Active Directory (AAD) to send the access token. This would be a URI in your add-in's web app. When you are developing, this is a localhost:nnnn domain URI. If you have moved the add-in to staging or production, then the domain will be the domain where you are hosti

[2019-10-11 05:01] exextoc commented on #753
We are able to repro the issue. Thank you for reporting this issue and sharing clear repro step. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-10-11 06:03] nyn3x commented on #770
I think I didn't express this correct.

*I* did not specify sharepoint as being the redirect URI, instead I specified `https://localhost:3000` (which is the default from the yeoman generator).

I then added the `getAccessTokenAsync` to my code. When I call my addin I'm being redirected (by the `getAccessTokenAsync`). This redirect is not done by either me nor my application, but `57fb890c-0dab-425

[2019-10-11 07:57] zjomzjom opened #771 "GeneralException when two workbooks are opened"
Excel javascript API (both 1908 and 1909 ) throws GeneralException when workbook calls ctx.sync() and in another workbook, a cell is selected.

## Expected Behavior
Selection change in the active workbook should not affect other workbooks.

## Current Behavior
When some cell is selected in the second workbook, an exception is thrown in the first workbook, where ctx.sync() is called. The problem do

[2019-10-11 12:38] ravikmrsingh8 commented on #761
Hi @XiangGaoMSFT
We got the  Excel Online Session ID where this issue was reproduced.
**Session ID "03592158-e2a6-4f6e-8ca7-153abf5c31e8"**

Following error we get in AsyncResult:  Error Code: 5004Error Message: Invalid API call in the current context.Error Name: Invalid API Call

We donot have consistent repro, This settings.saveAsync() function fails in both PC and XLO intermittently.

[2019-10-11 13:20] SWei1234 commented on #768
Thanks for your reply.
I insert a file (testfile.xml) to my email body
My code like:
`Office.context.mailbox.item.body.getAsync("html", {coercionType: Office.CoercionType.Html}, function (result) {
                    resolve(result.value);
                });`
Then I get response is:
`<p class=MsoNormal><img width=96 height=81 src="~WRS%7b6....D06-82C5-82AD48888B93%7d.files/image001.png"></p>`
I

[2019-10-11 13:28] iuri1994 commented on #765
Hi
Today i tried to transform the response of the makeEwsRequestAsync into a string using the XMLSerializer(), with that i could confirm that the outlook is making the request and it's getting a response from the server,  because i am getting the same response in both, web app and windows app, and with that i can now find the parameters i want, this was the solution i found.
![image](https://user-

[2019-10-11 13:31] yanli0303 commented on #788
https://stackoverflow.com/questions/58289577/is-there-a-way-to-get-all-recipients-in-to-or-cc-fields

https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/38779018-do-not-require-readwritemailbox-permission-to-ca

[2019-10-11 13:36] DotNet-Fan opened #772 "Wrong Dialog Title on MAC dialogs"
In MAC , the dialog title is coming as "Office Add-ins - "xxxx.xxxx.com"".
## Expected Behavior
It should behave the same as in Windows - "App name" - "html title tag contents" "

## Current Behavior

In MAC , the dialog title is coming as "Office Add-ins - "xxxx.xxxx.com".

## Steps to Reproduce, or Live Example
Create a html with title tag - <title>XXXXXX</title>
In Mac , open the html within th

[2019-10-11 17:49] Rick-Kirkham commented on #770
In that case, I don't understand what you meant by "the redirect-uri given at the authorization is: https://[tenant]-my.sharepoint.com/_forms/singlesignon.aspx". Could you please explain?

Please open the add-in's registration page in the Azure portal. Open the **Authentication** blade and report to us what is the value of **REDIRECT URI**.

Also, could you share the entire call to `getAccessToken

[2019-10-11 17:58] mpetro-t commented on #772
I want to add that this same bug happens on PC too since updating to Edge WebView control.

[2019-10-11 18:13] exextoc commented on #765
I'm sorry your last post was kind of unclear. You ARE getting a response back from the desktop client version? If you do a JSON.stringify(asyncResult). What is the value in the web client? What is the value in the desktop client? (are they the same?)

[2019-10-11 18:21] mpetro-t opened #773 "mailbox.item.body.getAsync with Text Coercion type returns incorrect text."
mailbox.item.body.getAsync with CoerctionType.Text does not separate text lines/paragraphs in Outlook Online when message type is Html. In Outlook for desktop it returns paragraphs/lines separated by spaces (which is the expected behavior).

## Expected Behavior
To have email message paragraphs separated.

## Current Behavior
All paragraphs are "glued" together in Outlook Online. They are separate

[2019-10-11 18:36] kbrandl commented on #742
@s-KaiNet please let us know if the information that @jargil provided helps you resolve this issue. Thanks!

[2019-10-11 18:37] exextoc commented on #768
Those strange img src tag was a bug that was fixed in Outlook 2013. If your users upgraded Outlook 2013 they should see a fix. Do you know the specific build version of Outlook 2013 that they are on? (something like 15.0.XXXX.1000) (the XXXX is the stuff that is important). More importantly Outlook 2013 allows people to update binaries individually, so it is often not enough Outlook is just update

[2019-10-11 18:54] AlexJerabek commented on #533
I've documented the workaround with https://github.com/OfficeDev/office-js-docs-pr/pull/1358. @catchingyu and @tong-1324, please keep me up-to-date on the product fix.

[2019-10-11 19:07] ghost opened #774 "Office.context.ui.displayDialogAsync is failing with error code -2147208651"
We are using adal for AAD authentication in our Addin
For opening a Sign In dialog we are using Office.context.ui.displayDialogAsync() function

## Expected Behavior
The dialog should be successfully opened or it should throw error code from
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

## Current Behavior
Dialog is failing to open and it is returning er

[2019-10-11 19:11] nyn3x commented on #770
This is my redirect configuration:
![image](https://user-images.githubusercontent.com/581049/66677155-58f9d500-ec69-11e9-8c50-d8cc4d9e880b.png)

and this is the code in my addin's `app.tsx`:

[code]

and this is part of my `manifest.xml`:
[code]
The resource of the `manifest.xml` is take from the "Expose an API" section from the azure portal.

When I execute my addin my browser redirects to the fo

[2019-10-11 19:37] iuri1994 commented on #765
I am sorry for my last post been unclear,
1. I am getting a response from the desktop client version.

2.I receive the same response in both of them, I discovered this using the makeewsrequestasyn as a string and not transforming it in JSON.

3. Using the response as a string I can obtain the info I need, if I use it like JSON I get the undefined values.

In my last post I posted the code I use to

[2019-10-11 19:41] jargil commented on #724
@rohitrewa - this is unfortunately a bug in how Edge is parsing your string. The same can be reproduced directly on the Edge browser if you simply try to assign your sample data to a random variable. There's not much that can be done from Office's side.
It does not seem to be related to the length of the string, but simply that Edge complains that the constant is unterminated. I'm not sure how you

[2019-10-11 19:48] jargil commented on #737
@TheSamsterZA - the fix should be available for you to test in Office Insiders build 16.0.12130.20112 or newer. Please let me know once you're able to verify.

[2019-10-11 20:15] s-KaiNet commented on #742
Yes I resolved the issue, thank you, the name of the property `AppDomains` is quite confusing because domain usually doesn't include protocol part.
However, now I'm curious why it works in IE-hosted Outlook without the `AppDomains` entry :)

[2019-10-11 20:20] kbrandl commented on #742
@s-KaiNet thanks for confirming! I'm going to go ahead and close this issue now, since the problem is resolved; but perhaps @jargil will be able to chime in as to _why it works in IE-hosted Outlook without the `AppDomains` entry_.

[2019-10-11 20:20] #742 closed, assigned to kbrandl

[2019-10-11 20:31] Rick-Kirkham commented on #770
Where are you seeing the call to login.microsoft.com? It doesn't show up in Fiddler on my computer?

[2019-10-11 21:07] nyn3x commented on #770
Interessting - my addin has a button, and in the click-event I actually call `Office.context.auth.getAccessTokenAsync`. As soon as this is called my browser is redirected to `login.microsoft.com`.

BTW: are you using Excel Desktop App or Excel Web App? I'm using the later one ...

[2019-10-11 22:04] exextoc commented on #765
If the response is the same, then the function is working as intended. There is likely something wrong with your code that is parsing the information that we can't assist with. It is likely that since desktop will use IE, that different libraries / functions do not work in the IE environment.

[2019-10-11 22:08] ElizabethSamuel-MSFT commented on #788
@yanli0303 Thanks for creating items in Stack Overflow and User Voice.

@exextoc Can you take a look at this issue?

Thanks.

[2019-10-11 22:17] exextoc commented on #788
Yi's links are correct. 100 recipients is the limit. The uservoice link is also the best way to request that this change.

[2019-10-11 22:33] ElizabethSamuel-MSFT commented on #788
@exextoc Thanks for confirming. I'll update the docs to note this restriction for requiredAttendees. Can you confirm if there is similar restriction for item.optionalAttendees? Thanks.

[2019-10-11 22:41] exextoc commented on #788
Yeah the 100 recipient restriction applies to all recipients. to, cc, requiredAttendees and optionalAttendees.

[2019-10-11 22:43] ElizabethSamuel-MSFT commented on #788
@exextoc Thanks for confirming. I'll get the docs fixed up.

Thanks.

[2019-10-12 00:16] Rick-Kirkham commented on #770
Are you saying that a dialog opens and redirects to login.microsoft.com or that  your task pane does?

[2019-10-12 06:31] catchingyu commented on #771
@zjomzjom  how do you create/open the second workbook ? Do you open the second workbook through Excel UI directly?

[2019-10-12 07:09] nyn3x commented on #770
When I click the button on the task pane then I'm being redirected; correct. I would guess that I'm redirected because of the error and in case of success this would not happen and instead this would just take place in the background.

[2019-10-12 07:31] fdevp commented on #771
@catchingyu I have tried a few ways to open the second workbook. The problem still exists, no matter which way I select.

1. By creating new workbook through Excel UI directly
2. By loading an xlsx file through ExcelUI
3. By opening an xlsx file
4. By clicking excel icon in menu-start

[2019-10-12 07:35] catchingyu commented on #757
Thanks a lot for reaching us. Since it is not reproducible, could you help on more questions below:

How often does your customers encounter this permission issue?
Is it happening on specified customers or randomly happens on different customers?
Is it possible that you could reach out your customers and get their files/environment and reproduce the issue?

[2019-10-12 07:35] zjomzjom commented on #771
@catchingyu I have tried a few ways to open a new/second workbook. No matter which way I selected, the problem still exists.

1. Creating new workbook through Excel UI
2. Loading an xlsl file through Excel UI
3. By clicking on excel icon in menu-start
4. Opening an xlsl file

[2019-10-12 07:49] catchingyu commented on #762
Thanks a lot for reaching us.

One clarification on the reproduce steps:
1. Unprotected the file with the old pwd
2. Protected the file again with the new pwd

Expected :
We expect the new pwd should work

Current Behavior :
The file just can be opened successfully without the input of the pwd.

[2019-10-12 07:51] #533 closed, assigned to catchingyu

[2019-10-12 08:15] nyn3x commented on #770
Maybe this helps ...
![excel-addin](https://user-images.githubusercontent.com/581049/66697749-cabd3780-ecd8-11e9-9a8a-c6e38c05c6a5.gif)

As you can see, the file is in my one-drive and Excel recognizes me as being myself ... so I should be authenticated already 😊

[2019-10-12 10:55] MandytMSFT commented on #724
@jargil i think there are some misconception on the issue. The real problem is Office.ready or Office.initialize will not be triggered after switching to Edge webview even with normal string. I have reactivated the bug, pls help take a look

[2019-10-12 15:41] #724 closed, assigned to jargil

[2019-10-13 11:06] ghost commented on #595
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-13 15:00] ghost commented on #743
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-13 18:20] Rick-Kirkham commented on #770
Something's wrong here. getAccessTokenAsync should not open a new browser window in any case. I'm reassigning this to the PM for the API.

[2019-10-14 07:03] TheSamsterZA commented on #737
@jargil I can confirm that this now-infamous apostrophe bug has been fixed! Thank you for jumping on this fairly quickly. 😃

[2019-10-14 07:03] #737 closed, assigned to jargil

[2019-10-14 08:28] MandytMSFT commented on #771
I can repro this issue, file BUG 3710971 for track

[2019-10-14 08:39] hungvnguyen-kms commented on #757
Hi, currently I found that Excel on iPad doesn't support getFileAsync() function because when I logged it, it is 'undefined'. Is that true?
I have checked the requirement sets from here https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/office-add-in-requirement-sets#file. It says that Excel on iPad supports this function, but in all of three FileType (Compressed, Pdf a

[2019-10-14 09:37] kakusharma commented on #759
I want to show install Add-In message only if the Add-In is not installed already. Otherwise, hide that text.

[2019-10-14 09:40] zakhan4 commented on #769
Hi,

Thanks for the response @keyur32. I'm glad that this feature is being actively worked on, but just the fact that it is already working in Office Online right now makes it a bit confusing, was my point.

Also about the workaround you suggested, I have already tried it. But I don't think that it is a reliable way to solve this problem. Because to fetch the values from the Task Pane and then sen

[2019-10-14 09:48] ravikmrsingh8 commented on #761
Another Excel Online Session with issue
041ea613-09f5-4ac8-a3ab-f4cd0b83f135

[2019-10-14 10:04] MandytMSFT commented on #684
@star1ord Does this issue still repro for you? We have bug fixed in each release, both @catchingyu and I can not repro the issue you reported in version later than yours. Could you try to update your excel version ?

[2019-10-14 10:47] m-pd commented on #482
I have come across this problem too and asked this question - https://stackoverflow.com/questions/58137170/failed-to-execute-postmessage-on-domwindow-for-add-in-within-message-inspect

[2019-10-14 11:58] jagadeeshkorikana commented on #743
https://microsoft-my.sharepoint.com/:u:/p/v-jakor/ET9r6jZmWeVGqx5FyM1GGLcBl3dJS4vk8r6HzY83jN0Uwg?e=mDdZNa

Steps to reproduce the scenario in the excel web add-in POC app:

1. Open the link and download the zip file
2. Unzip folder
3. Open solution file
4. Run the project
5. Open book 1.xlsm
6. Click on "show taskpane"
7. Click on “Write opp” button in TPA
8. Edit any cell in the book1.xlsm , this

[2019-10-14 16:50] AlexJerabek commented on #533
@catchingyu Why was this issue closed? While we have a workaround the underlying issue remains.

[2019-10-14 19:09] AlexJerabek opened #775 "Worksheet.copy() does not work with "Before" or "After""
## Expected Behavior
I expect the specified worksheet will be copied before or after itself.

## Current Behavior
I get an InvalidArgument Error.

## Steps to Reproduce, or Live Example
https://gist.github.com/AlexJerabek/05bc3be21d6a0d9986b2bdd7538675d7

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Of

[2019-10-14 20:28] exextoc commented on #788
Sorry, I'm digging into this a bit more. It looks like this may vary by client. For Desktop Outlook in Win32 (Outlook 2013, 2016 if updated all the way), the limit should be 500 recipients.

In what client are you seeing only 100 recipients come back? (I will try to follow up on my end as well, so we can get our documentation updated accordingly)

[2019-10-14 22:33] lliu113 commented on #391
@david-ps Hey David, sorry for the late response. We investigated relaxing the size restrictions entirely, but there were significant performance issues at larger sizes. For now, we've gone ahead and **doubled the size restriction of content add-in size from 1000px -> 2000px**. The snapshot we take of the add-in will remain capped at 1000px, so be aware that at larger sizes screenshots of your add

[2019-10-15 03:21] exextoc commented on #759
Currently the feature you are requesting, is not a part of the product. We track Outlook add-in feature requests on our [user-voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process

[2019-10-15 03:34] SWei1234 commented on #768
Thanks for your reply, I didn't get the customer's version yet. But I can reproduce this problem on my computer. My outlook 2013 version is 2013 (15.0.5172.1000) MSO (15.0.5172.1000) 64bit.
So, what patches should I install to fix this problem? May I have a patch number? Or patch link is better.

[2019-10-15 06:41] J-January commented on #775
Thanks for reporting this, our team has started investigate for the issue.

[2019-10-15 07:34] AlonEkelund commented on #692
We solved the issue when a dialog pop up is not closing in IE, Edge using the following.

 Office.initialize = function (reason) {
            $(document).ready(function () {
                isAuthenticated = true;
                Office.context.ui.messageParent(true);
                setTimeout(TryInoldway, 5000);

            });
        };
    }
    function TryInoldway() {
        if (window.o

[2019-10-15 07:59] J-January commented on #775
Update:

This behavior is by-design, “Before” or “After” must come with the second parameter relativeTo, so the API know before or after which sheet. If the user wants the sheet to be copied before or after itself, he need call the API like _sheet.copy("Before", sheet);_    rather than  _sheet.copy("Before");_.

The document may have some ambiguity, we will update that.

[2019-10-15 09:10] david-ps commented on #707
@keyur32 Thanks for following up this issue.

Your suggestion of using the Task Pane Add-in is a slightly different use case and does not solve, but has a similar intrinsic issue. If the Task Pane Addin is designed to monitor and respond to events in ranges on a sheet, whereby data on different sheets is synced, it will not be enabled in Excel Online or Desktop on file open, if the Task Pane Addin

[2019-10-15 09:17] david-ps commented on #391
@lliu113 Hi Lillian, this is great news for us and a big step forward, thanks to all for working it through.

Obviously it is not a complete solution and the blurry 1000px snapshot is still a problem.

I won't close the issue because @chartnado may not see this as so great given their apps possibly critical reliance on the snapshot.

Thanks again! :)

[2019-10-15 09:23] david-ps commented on #391
I have updated [User Voice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/31827364-remove-the-size-limitation-of-content-pane-add-in?tracking_code=d7ed2dd914e7719046a359206e01cbe6)

[2019-10-15 09:49] MandytMSFT commented on #749
@ellorenz2 did you still see this error ?

[2019-10-15 09:56] VamsiKrishnaNori commented on #684
@MandytMSFT and @catchingyu Thanks for resolving the issue. It is fixed in the latest version of Office updates

[2019-10-15 10:07] MandytMSFT commented on #684
thanks @star1ord  for confirmation!

[2019-10-15 10:07] #684 closed, assigned to catchingyu

[2019-10-15 13:13] glr0221 commented on #676
Hi microsoft team. Hope you are all doing well. Is this issue fixed already? thanks

[2019-10-15 13:17] sagarpilkhwal commented on #676
@glr0221 This is working as expected for me, don't know when the update was pushed by it somehow started working without any application update on my device.

[2019-10-15 13:17] #676 closed, assigned to exextoc

[2019-10-15 13:24] THPubs opened #776 "How to add an attachment to a new outlook email using a SOAP request in an Outlook Addin?"
Right now I use the `Office.context.mailbox.item.addFileAttachmentAsync` method to attach new files to the currently composing email. I want to use a SOAP request to do this instead to better support self-hosted exchange servers.

I found the following doc: https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-add-attachments-by-using-ews-in-exchange#add-an-attach

[2019-10-15 14:11] glr0221 commented on #676
Thanks @sagarpilkhwal I will check on my end again today too.

[2019-10-15 14:16] #759 closed, assigned to exextoc

[2019-10-15 14:19] kbrandl commented on #775
@AlexJerabek I've assigned this one back to you, so that you can transfer it to **office-js-docs-pr**, if you think the docs need to be updated per the info above.

[2019-10-15 14:26] chartnado-brian-haas commented on #391
Thanks! This is very good news for us and we look forward to seeing it.

[2019-10-15 15:12] Sheikaa3 commented on #762
@catchingyu Hello, I just wanted to verify that you were also able to reproduce the issue with the following steps:

1. Protect file without using a password
2. Unprotect with a password provided
3. Protect with a new password

Expected (and the behaviour in 1908):
The new password should work

Current Behaviour:
The file can be unprotected successfully without the input of a password

[2019-10-15 15:46] Sheikaa3 commented on #762
We're curious about the process as well and what your timeline looks like, if you can share any information regarding that. We have to choose whether to push out a fix that would compensate for this behaviour so any further info would be appreciated. Thank you!

[2019-10-15 17:15] DLehenbauer opened #777 "[Excel Online] getActiveCell() throws "PropertyNotLoaded" after load/sync"
## Expected Behavior
Snippet should log the active cell coordinates to the console.

## Current Behavior
Despite calling 'load()' and 'sync()', throws RichApi error with "PropertyNotLoaded",

## Steps to Reproduce, or Live Example
[code]

Some other variations I tried:
* getSelectedRange() instead of getActiveCell()
* Not awaiting Excel.run(..) -- i.e., letting the onSelectionChange promise resolv

[2019-10-15 17:32] Zlatkovsky commented on #777
@DLehenbauer , the issue is that you are creating an `Excel.run` with a new "anonymous" context, but you are using an existing object (in this case, the workbook that comes from the event).

If you did `await Excel.run(e.workbook, async context => ...)`, it should work.

If you want the `delayForCellEdit` as well, I believe the following syntax should work:

[code]

[2019-10-15 17:43] DLehenbauer commented on #777
Thanks!  I had no idea that contexts need to be created for specific objects.  That solves my problem.

[2019-10-15 17:43] #777 closed, assigned to nobody

[2019-10-15 17:47] yanli0303 commented on #788
I was working with Microsoft Outlook for Mac Version 16.31 (19101400) (Office Insider Fast).
macOS Mojave 10.14.6

[2019-10-15 18:29] exextoc commented on #776
Office.context.mailbox.item.saveAsync returns item id in the async result.  However there are additional issues with this approach.  The soap(EWS) request only works on items that exist on the Exchange server.  In Desktop Outlook, for example, saveAsync only saves the item locally and sync-ing to Exchange can take additional time.

Additionally, you will need to have access to EWS to call the meth

[2019-10-15 19:12] exextoc commented on #768
That build should have the fixes it it. So perhaps I misunderstood your original problem. Are you using RTF e-mails to insert attachments?

[2019-10-16 01:44] SWei1234 commented on #768
Let me take an example to describe this problem:
I wanna schedule a meeting with a doc attachment in email body. I can double-click and open the file after I drag it in. But After I use Body.getAsync and Body.setAsync to insert my html invitation page. I can't open the doc in email body by double click.
So is there anything I can do to let this doc can be open by double click? or at least let it w

[2019-10-16 03:14] THPubs commented on #776
@exextoc Actually I'm sending the ewsURL to our API and from there I call the exchange server using the callbackToken to in the header like this:

    request.post(
      {
        url: ewsUrl,
        headers: {
          Authorization: `Bearer ${callbackToken}`,
          'Content-Type': 'text/xml'
        },
        body: setAttachmentSOAP
      },
      async (error, response) => {
        con

[2019-10-16 03:18] THPubs commented on #776
@exextoc The problem with the direct method is that for older exchange servers and for some self hosted exchange servers it does not work.

[2019-10-16 03:30] THPubs commented on #776
@exextoc I just tried with the item id returned by the `Office.context.mailbox.item.saveAsync` method but the response gave me the following errors:

[2019-10-16 04:01] deeagar opened #779 "Async APIs not 'awaitable'"
I'm assuming `state.file.getSliceAsync()` being an asynchronous function, it should be awaitable like await state.file.getSliceAsync() (Trying to use office.js in Angular 7). However this intermittently works. Sometimes it waits for the function to complete (as expected) but sometimes it just runs asynchronously.

Thoughts?

[2019-10-16 05:47] exextoc commented on #776
With the callbackToken (from getCallbackTokenAsync) Only GetItem and GetAttachment are supported.  See https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox#getcallbacktokenasyncoptions-callback

I am curious about the issues you are seeing with addFileAttachmentAsync.
What versions of Exchange are you targeting?  For Outlook, are

[2019-10-16 07:56] XiangGaoMSFT commented on #761
@ravikmrsingh8 , I checked the log but didn't find much useful info. But it could be caused by data validation as I saw some data validation failures. Could you provide more info like
* Does the workbook contain data validation?
* Could you try to simplify your code/workbook to figure out a way that can reproduce it?

[2019-10-16 08:59] tiagoalves commented on #757
@catchingyu, here are the answers to your questions:

My users encounter this issue when they're evaluating my add-in and either try again (and encounter the error again) or they simply give up.

It happens to different customers. But they all seem to be using the same Excel environment:
* PC, Windows 10 (I don't know the exact release)
* Excel 16.0.0000.0000 with IE11 WebView.

I contacted the us

[2019-10-16 11:50] THPubs commented on #776
I'm trying to give support to all mobile, desktop (Both Mac and Windows) and web. Any idea how to authenticate without the callback token for `addFileAttachmentAsync`?

[2019-10-16 12:00] ghost commented on #595
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-16 12:00] #595 closed, assigned to lliu113, exextoc

[2019-10-16 14:59] anilreddyr7 commented on #347
Hi Guys, Can you respond to my last query?

[2019-10-16 16:58] exextoc commented on #776
Ok, there's currently no support for compose addin on mobile, so I will focus on desktop and web.
For desktop and web, addFileAttachmentAsync was the first available API on the platform for adding attachment, so it has the best coverage for older versions.

You don't need a token to call Office.context.mailbox.item.addFileAttachmentAsync.
If you mean getting a token to add attachment, you can cons

[2019-10-16 17:04] sarea commented on #734
I got similar issue, tried to set the internet message header for a delegated account using `makeEwsRequestAsync` and got access denied, I found [this SO](https://stackoverflow.com/questions/38214197/set-a-custom-header-with-outlook-office-365-rest?noredirect=1&lq=1) very helpful knowing that this is not very clear in the documentation.
there's another way to change the header `internetHeaders.set

[2019-10-16 17:18] sarea opened #778 "GetSharedPropertiesAsync is not a function in not shared folder"
I'm developing add-in OWA and trying to use `getSharedPropertiesAsync` for the shared folder from delegated account which is in preview,
it worked fine, but when I use it in a not shared folder I got the following.

`core.js:7376 ERROR Error: Uncaught (in promise): TypeError: Office.context.mailbox.item.getSharedPropertiesAsync is not a function
TypeError: Office.context.mailbox.item.getSharedProp

[2019-10-16 17:46] THPubs commented on #776
Thanks. Yes, surely I'll dive deeper into the issue and see. The problem was one of our main users had issues with it and they had a self-hosted exchange server version 2016. I just installed it my own machine and let's see how that goes. Any known issue with that version of the exchange server?

[2019-10-16 17:54] exextoc commented on #776
For Outlook desktop in Windows, the Exchange server should not matter for addFileAttachmentAsync.  Client side firewall may block the download but that would be the same with any Exchange version.

For OWA, the attachment is retrieved from the Exchange server.  So the self-hosted Exchange needs to reach the url of addFileAttachmentAsync.  Again, the exact version of Exchange should not matter, but

[2019-10-16 19:12] 4tti commented on #764
@lumine2008, @RuoyingLiang : any update please?
We just noticed that in the file is StoreType as "registry" but we were not able to find any registry with that addin ID.

[2019-10-17 00:59] deeagar commented on #779
Thanks Alex. For now, as a workaround, I've wrapped this inside a new explicitly created Promise like below (putting it here for the benefit of community if anyone is facing similar issue), Let me know if you see any problems here.

![image](https://user-images.githubusercontent.com/45327371/66969515-6f5bc280-f0a7-11e9-9a9d-622958543470.png)

[2019-10-17 04:09] danielgwilson commented on #779
@deeagar, I believe you've actually got the correct approach—despite the name, `getSliceAsync()` doesn't actually return a promise like one might assume.

_From https://docs.microsoft.com/en-us/javascript/api/office/office.file?view=word-js-preview#getsliceasync-sliceindex--callback-_

[code]

The only way to use it with async/await is therefore to wrap it in a promise yourself—as you have done 🙂

[2019-10-17 04:21] exextoc commented on #778
GetSharedPropertiesAsync is supposed to work only for shared mailbox, calendar and folder. Please check the documentation: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox.item#getsharedpropertiesasyncoptions-callback. We agree the error can be more descriptive.

[2019-10-17 05:09] niteshgolchha85 commented on #770
Hi @nyn3x,

Have you consented to the add-in scopes before? If not, can you reproduce this issue after consenting to the add-in?

[2019-10-17 05:12] niteshgolchha85 commented on #355
@craigkeating Can you go to File->Options->Experiment on you Windows machine and attach a screenshot?

[2019-10-17 06:32] exextoc commented on #773
It is a bug from our end. we have added this to our backlog.

[2019-10-17 08:00] MandytMSFT commented on #771
@zjomzjom could you help explain a little on your scenario ? The root cause has figured out, we want to   know more about your case, for example, why use setInterval to add bunch of new worksheet ?

[2019-10-17 09:02] nyn3x commented on #770
Yes - I did. Actually a granted admin-consent (for ease of testing)

[2019-10-17 09:39] jasonhieu1905 opened #780 "The api Office.context.application.createDocumentAsync fails on iOS platform."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
The api should work fine on Powerpoint iOS.

## Current Behavior
Insert an pptx file it's always throw an error : {"name":"Internal Error","message":"An internal

[2019-10-17 11:37] zjomzjom commented on #771
I have used "setInterval" method to make some async actions. I wanted to show you that there is a problem with the working of multiple workbooks parallel. It is not only a problem with "worksheet.add" method. Calling ctx.sync() with selection in other workbooks throws an exception.
Another example: Scriptlab sample snippet "Gradient", but with little modifications (to be able to change focus to th

[2019-10-17 13:06] #778 closed, assigned to exextoc

[2019-10-17 16:19] kbrandl commented on #779
Closing this issue, per @danielgwilson's feedback above. Please comment here again if further clarification is needed. Thanks!

[2019-10-17 17:31] px-wmeng opened #781 "Excel.WorksheetCollection.addFromBase64 API(PreviewAPI) not working in excel online"
I am using one preview API 'addFromBase64'  in Excel.WorksheetCollection class, it works fine in my installed Excel on PC, but not workING in excel online. it throws "NotImplemented" error.
Do you know is this API not supported in Excel online, or it is a bug?
And also I would like to know when this preview API will be released?

Thanks,
Wei

[2019-10-17 21:40] lliu113 commented on #391
@david-ps @chartnado Thanks for your feedback and patience on this! I'll go ahead and close this issue (thanks for updating uservoice btw, david). Feel free to reopen if you have any other questions.

[2019-10-17 21:40] #391 closed, assigned to lliu113, lumine2008

[2019-10-17 23:47] JuaneloJuanelo commented on #781
Known issue:  that's an API in preview and not yet available in Online. There is no clear ETA for this.

[2019-10-17 23:48] #781 closed, assigned to nobody

[2019-10-17 23:50] exextoc commented on #768
In Outlook 2013, the only format for meeting request is RTF and there's no way to change to HTML for meeting requests. Unfortunately, what you are seeing is a limitation of the API with RTF editor.  There are no plans to change Outlook 2013 editor.

[2019-10-18 02:57] topkoong opened #784 "Query regarding loading resources from Office JS (OTel not loaded)"
Hi there!

I built an Excel task pane add-in using Angular from the given template and **didn't even write or modify any original code**. However, after uploading the manifest file, I got an error message regarding "**OTel not loaded!**" from excel-web-16.00.js file (a CDN from Microsoft). I don't think the problem is at my end. So, I was wondering if you guys could let me know how to fix this pro

[2019-10-18 04:26] THPubs commented on #776
@exextoc Just setup the latest 2016 exchange server (CU12). I tried to use the `addFileAttachmentAsync` to attach a file and it returned the following error:

[code]

To make sure it's not only my attachment. I tried to upload some other image files I can find in the web. But nothing works. And when I log into the server and open a browser, I can access these files without issue. This method workd

[2019-10-18 06:47] exextoc commented on #776
To confirm, are you getting the error with OWA?
If you are getting the error for Windows or Mac Outlook, could you provide those client versions also?

[2019-10-18 06:49] THPubs commented on #776
Right now only tested in OWA.

[2019-10-18 07:26] jasonhieu1905 opened #785 "ContentControl.placeholderText isn't supported by Word in a browser."
## Expected Behavior
ContentControl.placeholderText should work fine in Word online, just like other hosts.

## Current Behavior
Exception : { code : "NotAllowed", message: "The action isn’t supported by Word in a browser. Check the OfficeExtension.Error.debugInfo for more information."}

## Steps to Reproduce, or Live Example
Script Lab : https://gist.github.com/jasonhieu1905/7f2af652e09800795ee2

[2019-10-18 07:49] SWei1234 commented on #768
Yes,I see. That's doesn't matter.  But I really want to know is:
Is there anything I can do to let this doc can be open by double click after I use Body.getAsync get whole body and then use  Body.setAsync set them back?
Thanks

[2019-10-18 11:02] THPubs commented on #500
@celowsky Did you find a solution for this issue?

[2019-10-18 14:34] esegcy opened #786 "Add-in disappears from Outlook when switching out-and-back-in to account"
On Windows 10, Outlook 2016 Version 16.0.4849, setting up two email accounts: one with an add-in that is Centralized Deployed and the other is without this add-in, then switching between the two accounts causes the add-in to disappear.

## Expected Behavior
Expected that _always_ when switching to the account with the add-in, that add-in will appear.
Of course I am testing the add-in according to

[2019-10-18 14:43] esegcy opened #787 "Add-in appears in Mac Outlook for a split second and disappears forever"
When launching Mac Outlook v16.29 on MacOS Mojave, with only one email account setup, and the add-in deployed with Centralized Deployment from a manifest file, I see the add-in appear for a split second in this Mac Outlook, and then it disappears and never re-appears.

## Expected Behavior
Add-in should constantly appear, and never disappear.
Of course I am testing the add-in according to its acti

[2019-10-18 15:49] Rick-Kirkham commented on #780
@keyur32 The code works fine in Windows. Seems to be an iOS issue.

[2019-10-18 17:25] ElizabethSamuel-MSFT commented on #788
Mac should also return 500 recipients. I'll transfer this issue to the office-js repo so the product team can dig into this a bit more.

[2019-10-18 19:13] exextoc commented on #786
We have not been able to repro this so far. Could you include a screen shot or video to make sure we are using the same steps?

[2019-10-18 21:21] niteshgolchha85 commented on #770
@nyn3x Can you try granting consent by following the steps on this link and let me know if you can repro the issue?
https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment

[2019-10-18 22:32] catchingyu commented on #780
team start investigation on it.

[2019-10-18 22:36] catchingyu commented on #780
bug 3723611 is used to track it.

[2019-10-18 22:43] catchingyu commented on #762
Team is actively working on this issue. bug 3723631 is created to track this issue.

However, with your reproduce steps, are you doing that all through the API, right? The last step 'the file can be unprotected successfully without the input of a pwd', are you saying unprotect the file using JS API or just using the Excel App to open it?

[2019-10-19 03:49] Austenite2 opened #789 "Can't set selectionMode to Unlocked? Excel add-in, Office.js"
Per advice over at Stack Overflow, have re-created here.

I have a small excel add-in, written in office.js and using Visual Studio 2019.  Whatever I do, I can't get the add-in to protect the worksheet and allow the user to only select unlocked cells.

I've googled till my eyes bleed, best example for use is [this one](https://stackoverflow.com/questions/45463578/how-to-lock-only-dedicated-cells-v

[2019-10-19 04:14] wandyezj opened #800 "getSelectedDataAsync returns string null when no text is selected on Outlook on the web"
on Outlook on the web when no text is selected getSelectedDataAsync result.value.data value is string null.

I was surprised!

It might be reasonable to make a note of the unexpected behavior in the documentation or if possible fix the issue.

Actual:
"null"

Expected:
""

Code to reproduce and work around the issue:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-10-19 13:42] THPubs opened #790 "Cannot fetch the account emailAddress from outlook desktop on an exchange account"
## Expected Behavior
`Office.context.mailbox.userProfile.emailAddress` to return the email of the user's account inside an Outlook Addin.

## Current Behavior
It is returning the email as a string in all occasions except when I use the Outlook mac client and with an email account hosted in an Exchange server (2016 CU 12). In this particular case, it does not return the email.

## Steps to Reproduc

[2019-10-19 15:00] ghost commented on #749
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-20 05:18] sethachoi opened #791 "Click spamming in protected excel sheet breaks JS flow"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

Given a protected excel worksheet (in our case, recently protected via API), spamming clicks on the sheet itself breaks the fl

[2019-10-20 06:06] sethachoi opened #792 "Click spamming breaks pushing a format update"
(Related to #791 at least in context)
When pushing a format update (IE cell highlight color), spamming clicks can prevent the format change from updating.

## Expected Behavior
Click spamming should not prevent cell formatting push.

## Current Behavior
Occasionally, spamming clicks will prevent the cell from properly updating formatting.

## Steps to Reproduce, or Live Example
- On some sort of t

[2019-10-20 08:00] ghost commented on #761
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-21 01:38] SWei1234 opened #793 "[Outlook add-in]we got "executeEntryPoint.tsx:39 Uncaught (in promise) TypeError: Cannot read property 'mode' of undefined" error"
we got "executeEntryPoint.tsx:39 Uncaught (in promise) TypeError: Cannot read property 'mode' of undefined" error since 2019/10/18 afternoon. This will cause we can't open add-in (even My Templates not work too) in a new meeting page without a page refresh.

## Expected Behavior
we could open add-in without page  refresh.

## Current Behavior
1. open a meeting page, then open a add-in and this tim

[2019-10-21 02:25] weshi commented on #785
This is a known limitation for Word on the web. The content control placeholder cannot be changed from JS APIs.

[2019-10-21 04:31] THPubs commented on #776
Just tested with Outlook Desktop for Mac and in there `Office.context.mailbox.item.addFileAttachmentAsync` works! But still fails in the web addin.

[2019-10-21 04:50] JRuncikInfor opened #794 "[Excel - Custom Functions - Performance] Calculation of dependent custom function is too slow."
We use custom fictions heavily. When some of them depends on others custom function the performance is bad with long delay.

## Expected Behavior
Ideally it should be fast as standard excel function = without significant delay.

## Steps to Reproduce
1) In script lab create simple function:
/**
 * Increments value.
 * @customfunction
 * @param {number} value
 * @returns The value + 1.
 */
function

[2019-10-21 06:55] ravikmrsingh8 commented on #760
Found this https://office.visualstudio.com/OC/_workitems/edit/2660006 bug, which was closed and marked as Not Repro. We face this issue and it affects 2% of the sessions.

[2019-10-21 07:32] RuoyingLiang commented on #794
Thanks for reaching out. Yes, the perf is not good for dependent call in custom function(customer function’s parameter is another custom function). We will have further actions to improve this. Will back to this thread once we have update.

[2019-10-21 07:34] JRuncikInfor commented on #794
I am looking forward.
Thanks Jarda

[2019-10-21 08:59] topkoong commented on #784
Do you guys have any update on this?

[2019-10-21 09:32] exextoc commented on #793
We are able to reproduced this issue. We are looking at this with high priority. Thanks for reporting this.

[2019-10-21 09:37] exextoc commented on #790
Thanks for reporting this issue. What does it return with Exchange server 2016 CU 12? Does the API fail or returns "empty" or "null"?

[2019-10-21 09:39] THPubs commented on #790
Looks like it returned `undefined`.

[2019-10-21 09:43] exextoc commented on #790
Thanks for quick response. Is this problem happening in "Mac Outlook" only or with "Windows Outlook" as well?

[2019-10-21 09:45] THPubs commented on #790
Your welcome! I did not try Windows yet. But it does happen in both Mac Desktop and on the web version (Firefox).

[2019-10-21 10:27] THPubs commented on #790
Wait. Really sorry. It does work on the Web version. The only problem is with the desktop version. But didn't test on Windows and Mobile yet.

[2019-10-21 11:05] ravikmrsingh8 commented on #760
<pre><code>
Office.context.document.getFilePropertiesAsync(function (asyncResult) {
	if ((asyncResult.status === Office.AsyncResultStatus.Succeeded)) {
		let fileUrl = asyncResult.value.url;
		if (isNullOrUndefined(fileUrl) || fileUrl === "") {
			console.log("Error:Excel Online file is not saved yet");
			resolve("");
			return;
		}
		console.log("Excel File saved");
		resolve(fileUrl);
	} else {

[2019-10-21 11:11] ravikmrsingh8 commented on #760
The AsyncResult in callback function has status as Failed.  and we get log "**getFilePropertiesAsync failed for Excel Online. Error Code: 5004Error Message: Invalid API call in the current context.Error Name: Invalid API Call**"

[2019-10-21 11:20] kbrandl commented on #795
I've transferred this issue to the **OfficeDev/office-js** repo, so that someone from the product team can respond to this question. @RuoyingLiang can you please provide feedback? Thanks!

[2019-10-21 13:59] #765 closed, assigned to exextoc

[2019-10-21 14:28] keyur32 commented on #795
Ack! Thanks Kim and sorry I missed this. Currently we don't have any plans to backport this to previous versions of Excel. It is currently only available through accounts connected to Office 365 subscriptions. Will let @RuoyingLiang follow up if this is something we can address in the future

[2019-10-21 16:10] bchenhs opened #796 "Outlook Office.context.ui.closeContainer() does nothing in Read mode"
From the taskpane, calling `Office.context.ui.closeContainer()` in read mode does not close the taskpane and does not return any error.

The same method works when called from compose mode.

## Expected Behavior
Office.context.ui.closeContainer() closes the taskpane.

## Current Behavior
Office.context.ui.closeContainer() does not close the taskpane, and does not yield any errors.

## Context
We a

[2019-10-21 18:15] umar-khan commented on #476
We're seeing a similar issue in Excel.

## Current Behavior
On initial load, the cursor changes to `pointer` based on the CSS as expected.
However, if you move the mouse cursor out of the taskpane and then bring it back in, the cursor never changes from the default cursor.
If you then right-click inside the taskpane, the curor starts changing to `pointer` once again.

## Steps to Reproduce, or Liv

[2019-10-21 21:40] craigkeating commented on #355
I didn't see Experiment listed in the set of options available in File -> Options from our Microsoft Word.

We did upgrade to version 1910 (build 12130.20184) so we could get unblocked to finish testing and releasing our Office Add-In.

[2019-10-21 23:37] jesyxue opened #797 "Outlook web add-in load error "This add-in could not be started ...""
It shows one error message when the user click my outlook web add-in.

ADDIN-ERROR :

This add-in could not be started. Close this dialog to ignore the problem or click "Restart" to try again.

It is not responding even if I click the "Restart" button.

This issue is only happening on Outlook 2016 for Windows.
Outlook 2016 1908

Note:
It works on browser IE, Chrome and Edge. So it was not blocked

[2019-10-21 23:40] AlexJerabek commented on #800
Thanks @wandyezj. Assigning @ElizabethSamuel-MSFT to investigate.

[2019-10-21 23:47] AlexJerabek commented on #797
Hi @jesyxue,
Thanks for reporting this. It appears to be a product issue, not a documentation issue. I'm going to transfer this to the product GitHub repo (https://github.com/OfficeDev/office-js). There, members of the product team can diagnose the underlying issue.

[2019-10-22 00:02] jesyxue commented on #797
Thanks for your support.

[2019-10-22 00:40] exextoc commented on #796
Thank you for the issue report and scenario description.

On which platform and Outlook version do you see the read mode `closeContainer()` issue?

I believe closeContainer() won't work for your scenario because the add-in task pane is unpinned when it's closed, including when it's closed with `closeContainer()`. From the [closeContainer documentation](https://docs.microsoft.com/en-us/javascript/a

[2019-10-22 00:41] donlvMSFT commented on #760
Hi Ravi, I still couldn't repro this bug on my machine.
Could you give us more information to shoot the issue? Like how you get the 2% failure rate? Which version does the failure happened?
Thanks.

[2019-10-22 00:47] shyambhiogade opened #798 "do not see the ribbon bar buttons for excel add-in"
I am not able to see the custom buttons I have added for my excel addins

## Expected Behavior
it should display the custom buttons

## Current Behavior

Custom buttons are not displayed, addins is loaded correctly but ribbon bar buttons are not displayed, with the same manifest file, it shows ribbon bar buttons in insight online.

## Steps to Reproduce, or Live Example

* Link to live example: __

[2019-10-22 02:41] SWei1234 commented on #768
@exextoc Hi ,Is my description not very clear? any information I can provide？

[2019-10-22 05:08] exextoc commented on #776
1. Thanks for reproducing this in OWA. Can you also please share your code-snippet for adding the attachment?

2. "_And when I log into the server and open a browser, I can access these files without issue_". I wanted to understand this more. Do you mean you login to Exchange Server machine and trying to access the Outlook from Browser? What files you are able to access?

[2019-10-22 06:25] ravikmrsingh8 commented on #761
Another Excel Session ID
7c0c7846-659e-498a-a0c0-023eeed6a7d5

[2019-10-22 06:36] macOutlookExtensibility commented on #787
Hello, thanks for reporting this.
We are trying to repro this issues at our end. A couple of questions more,

1) does this issue appear on other platforms like Windows and Outlook web (in case your add-in manifest supports other platforms)
2)Can you give details of the user account? (admin or user account?/ account alias)
3)Can you see if the add-in appears under the _My Add-ins_ sections of in-ap

[2019-10-22 08:23] ravikmrsingh8 commented on #761
Hi @XiangGaoMSFT ,
We have data validation rules added in code but we have done the error handling. after validation rules are added we have context.sync() method inside try catch block which did not throw any error.

The code to save office settings is below, but it didnot fail always, in our telemetry log we see that the error is reported in  2-3% of all the sessions we  have.
<pre><code>
public

[2019-10-22 10:10] esegcy commented on #786
Hi @exextoc - I am working on creating this. Sorry for the delay.

[2019-10-22 11:15] esegcy commented on #787
Hi,
Thanks for replying. Answers:
1. So far it only happens on one end-user's Mac device. I could not reproduce this as well.
2. This email account is of an IT administrator with admin permissions.
3. Yes, it appears. But keep in mind it was deployed through Centralized Deployement, so it appears there with the note "Required by your administrator".

I could not find documentation on how it is pos

[2019-10-22 11:56] Harshagracy commented on #241
Hi

I am struck with the same iisue. I am trying in outlook from browser(chrome, IE).

[code]

Please reopen this issue .

[2019-10-22 11:57] chopraniitn opened #799 "Addin itemsend event in manifest block the send operation"
## Expected Behavior
When i register ItemSend event in manifest, Whilst sending a meeting invite to someone a corresponding handler should execute.

## Current Behavior
When i register ItemSend event in manifest , Whilst sending a meeting invite to someone addin blocks whose send operation and registered function does not even execute. seems like its trying to find handler but could not find . see

[2019-10-22 12:05] Harshagracy commented on #241
And it works perfectly in the outlook desktop app.

[2019-10-22 12:50] macOutlookExtensibility commented on #787
thanks for the information,
ok, so this is an issue that happens only on Mac and the user is able to view the add-in on Outlook web or Windows.

Could you provide us with the following :
1) Manifest of the add-in
2) Domain/Alias of the end user (IT admin)

this is important for us while we check the logs

[2019-10-22 12:53] esegcy commented on #787
Summary is correct, but please note there's a different error we're seeing in Win (reported here in issue #786).
As these details you further requested might be considered confidential to our company, can I email them privately to you somehow?

[2019-10-22 12:57] esegcy commented on #786
Hi @exextoc - As such a recording with our add-in might be considered confidential to our company in matters of competition, can I email them privately to you somehow?

[2019-10-22 14:24] ndeeH commented on #730
Any news?

[2019-10-22 14:45] THPubs commented on #776
1) The code snippet:

[code]

2) Yes you are correct. Login to the exchange server machine and try to access the `fileURL` im passing to the `addFileAttachmentAsync` function.

[2019-10-22 15:00] ghost commented on #749
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-22 15:00] #749 closed, assigned to wandyezj

[2019-10-22 17:21] ElizabethSamuel-MSFT commented on #800
@wandyezj This behavior is only happening in the body while subject is working as expected. This seems like a bug so I'll transfer to office-js for triage.

[2019-10-22 17:44] bchenhs commented on #796
Hi @exextoc, I've updated the issue with platform data. It is observed on Office 365 online (outlook.office.com) running in Chrome, macOs Mojave.
This issue happens with the taskpane pinned. It works (successfully closes the taskpane) when `Office.context.mailbox.item` is a compose item, but not when it is a read item.

[2019-10-22 17:54] kbrandl commented on #241
@Harshagracy I've reopened this issue, per your request. @niteshgolchha85 are you able to assist with this one (since it's SSO-related)?

[2019-10-22 18:11] kbrandl commented on #795
@keyur32 thanks for the input on this one! I'm going to go ahead and close this issue (since you've provided a response), but @RuoyingLiang please feel free to comment here if you have anything else to add. Thanks!

[2019-10-22 18:11] #795 closed, assigned to RuoyingLiang

[2019-10-22 23:33] dinglicoding opened #801 "CDN for office js in China"
The office js CDN is global

## Current Behavior

In China,we noticed that ips from japan are blocked on our network which prevents we from accessing office.js .

## Context

some time is fine, but some time is block. if the ip from jp,it's block.
i think the cdn of office.js has not in china.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: _PC desktop_____
* Host [Excel, W

[2019-10-23 02:01] SWei1234 commented on #768
@exextoc Our customer's Version is 2013 (15.0.5163.1000) MSO (15.0.5172.1000) 32-bit part of microsoft Office Professional Plus 2013

[2019-10-23 03:59] catchingyu commented on #789
Thanks a lot for reaching us. Can you elaborate more on your scenario with a real example. So basically you intend to protect some part of the worksheet while other parts/cells can be edited by your customers?

It would be great that you could also share with us your example worksheet and a git hub gist with your current code, we probably can start there.

[2019-10-23 05:16] sumurthy commented on #739
We do have edge server coverage across globe - but coverage in China may be lacking. One other option is to use the [offline copy](https://www.npmjs.com/package/@microsoft/office-js) and keep up with the versions. We'll follow-up on the CDN coverage as well.

[2019-10-23 05:50] catchingyu commented on #791
I tried it with the below piece of code, and it does not reproduce on my machine. How often do you reproduce it?

$("#run").click(() => tryCatch(setup));

async function setup() {
  await Excel.run(async (context) => {
    let sheet = context.workbook.worksheets.getItem("Sheet1");
    console.log("run");
    sheet.protection.protect();
    await context.sync();
    await setTimeout(async () => {

[2019-10-23 05:51] catchingyu commented on #792
Can you share with us how often do you encounter this problem? To say, trying 10 times, how many time it can be reproduced?

[2019-10-23 06:09] lumine2008 commented on #740
Hi @harri-rajala-koivu-solutions , Thanks for your post,
we have created Bug3674409 for tracking this issue, team is working on it.

[2019-10-23 06:47] THPubs commented on #776
@exextoc Any updates on this?

[2019-10-23 07:04] harri-rajala-koivu-solutions commented on #740
@lumine2008 Thanks.
Any estimate when that will be fixed?

[2019-10-23 07:27] exextoc commented on #799
Dupe of

Bug 1276181<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1276181>: New GitHub Issue [OfficeDev/office-js]: Addin itemsend event in manifest block the send operation

________________________________
From: jeremy-msft <notifications@github.com>
Sent: Wednesday, October 23, 2019 4:53 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc:

[2019-10-23 07:54] sumurthy commented on #784
Able to repro. The error won't affect the API in any way. So, it is okay to ignore this error message if you can in your app. We'll look at why the error appears even though all resources are loaded.

[2019-10-23 07:57] sumurthy commented on #801
We do have edge server coverage across globe - but coverage in China may be lacking. One other option is to use the [offline copy](https://www.npmjs.com/package/@microsoft/office-js) and keep up with the versions. We'll follow-up on the CDN coverage as well.

[2019-10-23 08:01] sumurthy commented on #712
@lliu113 is this something you could follow-up on?

[2019-10-23 08:09] sumurthy commented on #709
This is still unresolved due to a version# mismatch between what's being sent from the client and our backend system. We're looking into this issue. Sorry it's taking a long time to fix this.

[2019-10-23 08:18] sumurthy commented on #680
I fixed part of the [issue](https://github.com/OfficeDev/Office-Js-Requirement-Sets/pull/47). I'm not sure why this is not working still. (Could you re-try again?) I will follow-up with the team that handles this.

[2019-10-23 08:20] sumurthy commented on #680
Can you also confirm which OS? Windows or MacOs?

[2019-10-23 08:21] sumurthy commented on #356
This is in the backlog. The earliest we think we'll be able to take it up is in Q1-2020.

[2019-10-23 08:24] exextoc commented on #776
@THPubs Does it work if you give fileURL as any publicly accessible URL? Example: http://i.imgur.com/WJXklif.png

[2019-10-23 08:26] THPubs commented on #776
Nope. Tried that also.

[2019-10-23 08:29] sumurthy commented on #719
Refer to related issues.

[2019-10-23 08:29] #719 closed, assigned to sumurthy

[2019-10-23 09:15] exextoc commented on #799
1) Is this issue started recently? Was this working correctly some days/week ago?
2) We fixed a very critical bug in Calendar + Addin and pushed to production. Can you please retry this again and see if this problem persists?

[2019-10-23 09:32] chopraniitn commented on #799
Hi,

I tried this feature yesterday only and found this happening. i will try updating outlook client and see if it make any difference.  but not sure how  can test this on outlook web with the changes made

[2019-10-23 09:33] catchingyu commented on #757
@tiagoalves  have you reproduced the issue with the latest Excel Version. Is it possible you could have the screen shoot from your customer with the version info under the 'Account' tab?

![image](https://user-images.githubusercontent.com/3336834/67379263-2af68800-f5bb-11e9-8e4b-ec0533a1c8a1.png)

If you can reproduce it, then it would be more helpful for us to identify the issue.

[2019-10-23 09:41] chopraniitn commented on #799
ok i tried updating outlook , but same issue. Addin is still blocking send operation. Not sure if i missed something in my code, but i believe i did whats in documentation.

Is there any working sample which you can provide and i can try that.

[2019-10-23 10:08] MandytMSFT commented on #762
@Sheikaa3  i can not repro your issue, but i am on 1911. What kind of protection you are using? i mean to something like "Insert rows"/"Insert columns".

[2019-10-23 10:10] Harshagracy commented on #241
Thanks @kbrandl . Please let me know if you require any more detail to get to the root of the issue.

[2019-10-23 11:10] ravikmrsingh8 commented on #761
Excel Session ID having issue
ed4ac56d-0bf2-409a-8431-08b305feb90e

[2019-10-23 11:23] chopraniitn commented on #799
ok, one of the issue which was blocking send operation seems resolved on office client after i modified my manifest, seems like **FunctionFile** resid was not correct.  But main issue is still here , the handler is not being invoked when send button is being pressed.

Problem still remains on outlook web, but i think thats due to fact its not a preview version.

[2019-10-23 11:56] THPubs commented on #776
@exextoc I take it back. That URL worked. But earlier also I tested with a general image like this and it worked. But still out own images are failing.

[2019-10-23 14:40] tiagoalves commented on #757
@catchingyu I was never able to reproduce it with the latest Excel version for Mac nor for Windows. I also tried with Windows 10 pre-1903 and with Office 2016 Pro Plus with and without the latest updates.

I already asked my customers to tell me which version of Excel they use but no one responded.

I understand that this issue is not easy for the Office team to act on so feel free to close it.

H

[2019-10-23 15:01] Sheikaa3 commented on #762
@catchingyu All of the steps are done through the Excel Interop API (found here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.excel?view=excel-pia) or through VBA as described. In the case of the unprotect, that was tested both with VBA and the interop calls and the problem was reproducible.

@MandytMSFT In both the interop and VBA I was performing the protect with no other

[2019-10-23 15:14] exextoc commented on #776
I see. So, it looks like HTTP/HTTPS server (hosted on Exchange Server) has something special which makes addin/OWA not able to fetch file from there and attach it. Right? Can you try capture networking trace when this API is running and see what you see when downloading file from HTTP/S server (Exchange Server)?

[2019-10-23 15:45] exextoc commented on #745
@kakusharma Mac behavior is correct. We will be fixing behavior for Outlook Windows and OWA to not launch addin for URLs and email-addresses. Thanks for reporting this inconsistency.

[2019-10-23 18:31] kbrandl commented on #476
Reassigning to @lliu113 (and unassigning @exextoc) since this seems to be a platform-wide, UI-related issue. @lliu113 are you able to provide any estimate as to when customers might expect this issue to be resolved? Thanks!

[2019-10-23 22:02] exextoc commented on #768
It's not possible in Outlook 2013 because the API only supports this scenario for HTML messages, and in Outlook 2013 all meeting requests are in RTF.

[2019-10-23 22:38] adam-harwood opened #802 "Log files for OnSend events are lost"
If an addin logs an error message to the console during an OnSend event, then there is no way to retrieve these logs from Outlook desktop

## Expected Behavior
The log messages for OnSend events running on Outlook desktop should be somehow retrievable, so that issues can be debugged.

## Current Behavior
The console logs are lost when the OnSend event completes, since the instance of the add-in is

[2019-10-24 00:22] sethachoi commented on #791
hi @catchingyu thanks for the response

It should break but it's hard to get it at first. Honestly with the minimum viable case (IE your/my test code) it's kind of hard to break and I have to click as fast as humanely possible with a mouse to get it, but once you figure it out you can reproduce somewhere between 1/2 the time to almost every time.

With code that has more complexity (and therefore

[2019-10-24 00:24] sethachoi commented on #792
@catchingyu hi thanks for the reply

In the case above when I am deliberately trying to break it, I can usually break it about half the time, but that's with me spamming clicks at an inordinately fast rate. In our actual "real world" code, we run into problems with it maybe like... 3/10 times when we aren't deliberately trying to trigger it? Maybe a little less or a little more, but 100% enough to

[2019-10-24 02:30] SWei1234 commented on #768
Okay, Thanks for your reply. last question:
So in Outlook 2013 there is no api for add-in to get the body with attachment and set them back right? At least so far.

[2019-10-24 05:13] exextoc commented on #800
Thanks for reporting this issue regarding getSelectedDataAsync API issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-10-24 06:19] MandytMSFT commented on #762
@Sheikaa3 Got you. I can repro by VBA. We are actively working on this.

[2019-10-24 06:37] exextoc commented on #799
@chopraniitn Thanks for your response. I downloaded your Addin code and issue was reproducible. There are few problems the way OnSend feature is implemented in your addin. I was able to fix all of those and then it started working. I suggest you to look at following problems and resolve them:
1. FunctionFile was not defined. This is must for UILess addin (OnSend is UILess addin)
2. You need to hav

[2019-10-24 08:36] chopraniitn commented on #799
Hi,

Thank you very much for your response. Yes i figured out my functionfile was not correct.

when you say OnSend is UILess addin , does that mean it wont work if i have addin with UI. Reason why i am asking because in my usecase requires to some operation on ui first before starting send operation. in my scenario

1)  I want to load addin
2) get meeting data from outlook and show some options t

[2019-10-24 10:14] lumine2008 commented on #740
@harri-rajala-koivu-solutions, we are evaluating this fix, as if we fix, this would be a breaking change, because some users has already wrote the code to get the "=Sheet1!$A$1" if we change, it may break their add-in. so may i know your scenario? i would like to know the scenario for returnning "=MyTable[[#Headers],[MyColumn]]".

[2019-10-24 10:51] ravikmrsingh8 commented on #761
@XiangGaoMSFT  Another Excel online Session Where save Settings failed
"d3bc8d3b-9389-4822-b881-0cc4449dba10"

[2019-10-24 16:05] aburtsev1 commented on #470
@JuaneloJuanelo  Sorry for such long inactivity and thanks for your work on this issue. Our team will give feedback according to our priorities in the future.

[2019-10-24 20:19] niteshgolchha85 commented on #355
@craigkeating Can you restart your Office application and try again? I suspect this might be an issue with flighting

[2019-10-24 20:44] craigkeating commented on #355
I have since upgrade Word and can no longer reproduce the issue.

Prior, though, I did try signing out and signing back in to Office. I did also try rebooting. None of these steps resolved the issue.

In case I can find someone still running the older version, what did you mean by restarting office, if that is different than signing out and signing back in.

[2019-10-25 03:19] topkoong commented on #784
@sumurthy Thank you for the reply. Looking forward to hearing from you.

[2019-10-25 04:11] XiangGaoMSFT commented on #761
@ravikmrsingh8 , thanks for providing the session ids. I checked the new sessions you provided but still didn't see any failures related to settings.saveAsync.

Since you don't have a consistent repro, I may still need your help to identify the root cause.

It seems saveAsync would report different errors, but actually the settings are persisted. Am I right?

When you hit error in XLO next time
*

[2019-10-25 05:37] ravikmrsingh8 commented on #761
Hi @XiangGaoMSFT
We get two type of errors in log.
[2019-10-24T11:26:59.411Z] Metadata save failed Error Code: 5004Error Message: Invalid API call in the current context.Error Name: Invalid API Call
[2019-10-24T15:02:20.744Z] Metadata save failed Error Code: 5001Error Message: An internal error has occurred.Error Name: Internal Error

We are also not sure whether the settings are actually saved ev

[2019-10-25 05:47] XiangGaoMSFT commented on #761
@ravikmrsingh8 , the log you provided is helpful since they clarifies the time and the error code. One more question, is it UTC time?
When you hit the failures next time, please attach them with XLO session id.

Due to Microsoft's privacy policy, we may not have full logs for some sessions. So it would be helpful if you could provide multiple sessions.

[2019-10-25 06:40] THPubs commented on #776
@exextoc You mean check the network trace from the Exchange Server's side? May I please know how to do it?

[2019-10-25 08:03] ghost commented on #770
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-25 14:58] salmanansari-gep opened #803 "Create Content Control Not Working With Office 365(WOPI)"
## Expected Behavior
User should able to create content control using office.js API

## Current Behavior
I have added a button for adding content control in word document
Its is failing with below error message:
"GeneralException: Sorry, something went wrong. Check the OfficeExtension.Error.debugInfo for more information."

This is working fine in offline copy of MS Office 2016

## Code Snipets
//

[2019-10-25 17:56] exextoc commented on #615
This issue remains in the Edge backlog. Closing since there are no updates at this time.

[2019-10-25 17:56] #615 closed, assigned to exextoc

[2019-10-25 20:01] cawise opened #804 "Difficulty working with invalid bindings"
When a binding is made invalid, such as when the range it references is removed, an attempt to load the binding object yields an InvalidBinding error. This error is thrown during a context.sync(), which is a relatively expensive operation. Checking whether a binding is invalid requires making a sync() call solely to attempt to load one binding and catching the resulting error if there is one.

Als

[2019-10-25 23:46] exextoc commented on #797
Thanks for providing details about the issue. Since other add-ins (i.e. My Templates) are not working as well, try these steps to resolve the issue:
https://docs.microsoft.com/en-us/office/troubleshoot/error-messages/apps-for-office-not-start

[2019-10-26 02:16] exextoc commented on #326
Closing since the fix for the body.getAsync in Android issue was deployed in January per the comment above.

@SWei1234 if you still need help with the API on other platforms, please open a new issue. Thanks!

[2019-10-26 02:16] #326 closed, assigned to exextoc

[2019-10-26 02:18] exextoc commented on #345
This was an issue impacting body.getAsync on Android that was fixed in January per #326

[2019-10-26 02:18] #345 closed, assigned to exextoc

[2019-10-26 10:00] biswanathc opened #805 "Word: closeContainer method not working for word"
I am working on word addin. On click of button I want to unload the sideloaded window. For this I am using below method.

function closeWindow()
{
 Word.run(function (context)
{
Office.context.ui.closeContainer();

 return context.sync();
})
.catch(errorHandler); }

Problem is I am getting null reference exception on calling closeContainer method. Also, in debug mode I see the closeContainer metho

[2019-10-27 15:00] ghost commented on #789
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-28 02:47] SWei1234 commented on #793
Now browser works fine. Thanks for your support.

[2019-10-28 02:47] #793 closed, assigned to exextoc

[2019-10-28 03:35] MandytMSFT commented on #674
@RoelVB  politely ping

[2019-10-28 04:48] adam-harwood commented on #322
@exextoc any update on this issue? It's coming up to a year since opening, and almost 4 months since a status update was asked for.

[2019-10-28 04:54] weshi commented on #803
Could  you share a sample document with which you encountered this issue? I tried in Dropbox.com, and cannot reproduce this issue. We need more information to investigate. Thanks.

[2019-10-28 08:06] salmanansari-gep commented on #803
Kindly find the attached sample document

[493d7723-03f4-4325-b46c-b57e4655d5e7.docx](https://github.com/OfficeDev/office-js/files/3777636/493d7723-03f4-4325-b46c-b57e4655d5e7.docx)

We have implemented WOPI (https://wopi.readthedocs.io/en/latest/)
There is two environment in WOPI (Staging & Production)

You might have tested on dropbox production environment and there is a MS office version diffe

[2019-10-28 09:00] ghost commented on #770
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-28 13:50] barisbikmaz commented on #311
Hi @JuaneloJuanelo, sorry for the late response :-)
I used clear before replace because of #129

[2019-10-28 15:11] edwardcawley commented on #771
We're also having this issue. JS which takes a minute or two to run as it is inserting many sheets with lots of data. In the mean time the user decides to do some other Excel work and opens another book, this crashes the JS.

Not always at the same line. It seems, as others have pointed out, that the context.sync() breaks when another book is being worked on, it could be any .sync().

Good to know

[2019-10-28 15:23] edwardcawley opened #806 "Excel stuck in cell editing mode even when the user clicks the task pane"
The user clicks a cell then changes its value. They then immediately click a button in the task pane e.g. to save or update or load a new report. The code hangs as it waits on a context.sync() which uses delayForCellEdit true.

It will then continue if the user clicks on another cell in the sheet. This is awkward behavior - when the user clicks in the task pane the cursor stops flashing in the cel

[2019-10-28 17:16] ElizabethSamuel-MSFT commented on #27
Looks like the internal bug has been fixed. Please verify if this issue can now be closed.

[2019-10-28 17:20] ElizabethSamuel-MSFT commented on #35
@JuaneloJuanelo Can you help get this directed appropriately? Thanks.

[2019-10-28 17:23] ElizabethSamuel-MSFT commented on #38
@tutieu, @lumine2008: Does the API now support this feature? Thanks.

[2019-10-28 17:26] ElizabethSamuel-MSFT commented on #44
Closing this issue as there was a response on Stack Overflow.

[2019-10-28 17:26] #44 closed, assigned to nobody

[2019-10-28 17:30] #57 closed, assigned to nobody

[2019-10-28 17:33] ElizabethSamuel-MSFT commented on #76
@eblancperso @wertyphil Are you still able to repro this? If so, let us know and we'll see if we can provide a workaround. Closing for now.

[2019-10-28 17:33] #76 closed, assigned to nobody

[2019-10-28 17:38] #79 closed, assigned to nobody

[2019-10-28 17:44] ElizabethSamuel-MSFT commented on #129
@kbrandl Would it make sense to document this? Thx.

[2019-10-28 17:46] ElizabethSamuel-MSFT commented on #137
@Rick-Kirkham Can you still repro this? Thanks.

[2019-10-28 17:50] ElizabethSamuel-MSFT commented on #149
@macOutlookExtensibility Has this issue been fixed? Thanks.

[2019-10-28 17:51] ElizabethSamuel-MSFT commented on #151
@exextoc Can you provide a current status on this? Thanks.

[2019-10-28 17:55] ElizabethSamuel-MSFT commented on #175
@Zlatkovsky Can you provide current status on this? Thanks.

[2019-10-28 18:00] ElizabethSamuel-MSFT commented on #201
@lliu113 Can you provide a current status on the bug fix? Thanks.

[2019-10-28 18:08] ElizabethSamuel-MSFT commented on #221
@shyambhiogade Seems this may be related to how the tenant is configured. If that is not the case, let us know and we'll reopen this issue. Thanks.

[2019-10-28 18:08] #221 closed, assigned to nobody

[2019-10-28 18:14] ElizabethSamuel-MSFT commented on #236
@JuaneloJuanelo Is there someone who can provide guidance for this situation? Thanks.

[2019-10-28 18:24] ElizabethSamuel-MSFT commented on #338
@JuaneloJuanelo Can you provide an update for this? Thanks.

[2019-10-28 18:26] ElizabethSamuel-MSFT commented on #456
@lliu113 Is there someone who can take a look at this content add-in issue? Thanks.

[2019-10-28 18:28] hectorAmaral opened #807 "Office.context.mailbox.item.getEntitiesByType(Office.MailboxEnums.EntityType.Contact) returns empty array"
## Expected Behavior
Calling `Office.context.mailbox.item.getEntitiesByType(Office.MailboxEnums.EntityType.Contact)` on Outlook Add-in taskpane should return the selected email item contacts array
## Current Behavior
Both `Office.context.mailbox.item.getEntitiesByType(Office.MailboxEnums.EntityType.Contact)`
and `Office.context.mailbox.item.getEntities().contacts` are returning empty array.

## St

[2019-10-28 18:38] johnkreagan commented on #807
I've seen this issue as well

[2019-10-28 18:40] EdTech101 commented on #807
I'm experiencing the same issue.

[2019-10-28 20:25] vitalcode opened #808 "Excel Add-in. ADD-IN ERROR. This add-in could not be started."
I released an Excel adding around a year ago.

Recently, users start reporting the issue. They cannot load adding. Instead following message is shown:

ADD-IN ERROR. This add-in could not be started. Close this dialog to ignore the problem or click "Restart" to try again.

Users did not have this issue before, the issue started when they install Windows or Excel updates. All users have similar env

[2019-10-28 21:00] ghost commented on #355
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!