[2019-07-29 20:38] JefCurtis opened #641 "Fetching token using `getCallbackTokenAsync` requires mailbox item to be saved"
My Outlook add-in can fetch a token just fine using when in a `MessageReadCommandSurface` ExtensionPoint but returns an error when in `MessageComposeCommandSurface`.
This seems to be the expected behavior when the add-on _doesn't_ have full `ReadWriteMailbox` permission but I _do_ have full permissions and I'm still seeing this error.

## Expected Behavior
While the add-in is running in `MessageCo

[2019-07-29 21:43] niteshgolchha85 commented on #605
@grangeryy/ @dinglicoding  Apologies for the confusion. I wrongly marked this Github issues as 'fix-pending'. Please continue your investigation

[2019-07-29 21:45] niteshgolchha85 commented on #434
We will be deprecating use of office-js helpers soon so for now, please use Dialog API and let me know if you still see the same issue.

[2019-07-29 21:46] niteshgolchha85 commented on #563
Closing as there is no response for a month. Please re-open if you face this issue again.

[2019-07-29 21:46] #563 closed, assigned to niteshgolchha85

[2019-07-29 22:19] jeremy-msft commented on #626
Thanks again for everyone's patience with this issue.  [Version 1907](https://docs.microsoft.com/en-us/officeupdates/monthly-channel-2019#version-1907-july-29) (build 11901.20176) released today for Monthly Channel fixes this issue and an update for Office Insiders version 1908 will be available shortly.

[2019-07-30 02:28] dinglicoding commented on #590
@tfjy2008  thanks.  i use  numberFormatLocal  , it resolved my issue.

[2019-07-30 02:28] #590 closed, assigned to catchingyu

[2019-07-30 03:03] dinglicoding commented on #632
@Zlatkovsky  thanks. if i use this code, each time i reload , it does not cache of my js.

i expect  if have new js ,it reload. no new js .it still cache

[2019-07-30 03:13] Zlatkovsky commented on #632
@dinglicoding, this is really just browser behavior, not something that office add-ins can control one way or another.  An add-is is just a web page with an Office manifest...

[2019-07-30 05:18] exextoc commented on #501
@THPubs
1.  Across outlook clients sync issue could be due to delay in Roaming Settings to be saved in backend and all clients syncing the updates. Give some time for sync to happen and then verify.
2. If the task pane navigates to another page or reloads the current page, the in-memory object is reset to its initial values, even if your add-in has persisted changes. https://docs.microsoft.com/en-

[2019-07-30 08:51] exextoc commented on #641
@JefCurtis To get accessToken in compose mode use below code. The item must be saved in order to get a token. Once a save call has been successfully made, you should be able to get a token. Please let us know if you still see the error after saving-

[code]

[2019-07-30 09:04] ravikmrsingh8 opened #642 "Excel Desktop - Office.context.document.settings.saveAsync() didn't persist settings"
Shared office API for saving settings didn't work for excel desktop version 1908 (build 11903.20002 C2R). When excel file is reopened then it did not persist the saved settings.
I am able to do Office.context.document.settings.set('key', value) and the call Office.context.document.settings.saveAsync(callback) also succeeded, but with excel these settings never seem to persist.
## Expected Behavior

[2019-07-30 10:28] THPubs commented on #501
Just tested the plugin again in mobile. Have plenty of time to sync with the other platforms but still when I load the web client the saved values are there but the mobile client still shows empty. @exextoc

[2019-07-30 10:43] eneoli opened #643 "window.open does not work on Outlook Desktop"
Using window.open to open an url in users default browser fails. Using window.open on OWA and Android/Mobile works perfectly.

## Expected Behavior
Open passed url in users default browser

## Current Behavior
window.open does not work.
How to debug Office Desktop?

## Steps to Reproduce, or Live Example
window.open("https://google.de");

## Context
Our web app returns an url, that we want to open

[2019-07-30 11:23] exextoc commented on #638
Mail receive time is not a property that we expose as part of office.Js and there is no plan to expose that in the near future.

[2019-07-30 11:25] exextoc commented on #638
Mail receive time is not a property that we expose as part of office.Js and there is no plan to expose that in the near future. We track Outlook add-in feature requests on our user-voice page. Please add your request there. Feature requests on [user-voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) are considered when we go through our planning process

[2019-07-30 11:42] exextoc commented on #501
@THPubs Which Mobile Client it is? Android or iOS?

[2019-07-30 11:42] THPubs commented on #501
@exextoc iOS

[2019-07-30 14:16] cawise commented on #626
@jeremy-msft Thanks for the prompt fix. Is there any workaround in the meantime? Being on the semi-annual channel, it will be 6-12 months before everyone in my organization gets version 1907 or higher. So right now it appears my only option is to scramble to update our internal app to use something other than document settings.

[2019-07-30 16:29] #577 closed, assigned to exextoc

[2019-07-30 16:39] exextoc commented on #624
Closing due to inactivity

[2019-07-30 16:39] #624 closed, assigned to nobody

[2019-07-30 17:03] exextoc commented on #643
Hi EneOil,

I'm unable to reproduce your issue on any of my test machines, but [here's](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/attach-debugger-from-task-pane) the article on how to debug add-ins in Outlook Desktop. The article talks about Excel, but the same process is used for outlook, with 1 minor wrinkle: **Rather than clicking on the Personality Menu, right click anywhere

[2019-07-30 17:04] exextoc commented on #643
If you do find an error message while debugging, please feel free to reply with the error message so we can help you further.

[2019-07-30 17:28] jeremy-msft commented on #626
@cawise Can you confirm what build your organization is currently on?

[2019-07-30 18:01] cawise commented on #626
@jeremy-msft Sorry, I should have included that. A few weeks ago we were upgraded to Version 1808 (Build 10730.20360).

![image](https://user-images.githubusercontent.com/39171616/62248397-990d2380-b3ad-11e9-9bd0-3fdcbf932076.png)

[2019-07-30 18:14] #607 closed, assigned to exextoc

[2019-07-30 18:18] ShannonLCapper commented on #607
Would it be possible to update the documentation so that others know that this is a case they need to handle? Right now the [documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=office-js#item) makes it sound like Office.context.mailbox.item will always be defined

[2019-07-30 18:30] exextoc commented on #607
The documentation for pinnable taskpane [here](https://docs.microsoft.com/en-us/outlook/add-ins/pinnable-taskpane#handling-ui-updates-based-on-currently-selected-message) mentions the null check.

[2019-07-31 01:14] JuaneloJuanelo commented on #642
known issue the team is working on a fix. (btw released today on insiders fast, please give it a try!)

[2019-07-31 04:21] neso613 commented on #501
@exextoc Yes.I have waited for long but Add-in not working as expected.

[2019-07-31 06:21] ravikmrsingh8 commented on #642
![image](https://user-images.githubusercontent.com/22787917/62188228-65200700-b389-11e9-94a2-de4673cbe6cc.png)
Verified  with this build, I could not repro the issue there.

Thank you Juanelo : )

[2019-07-31 07:17] alaaet commented on #294
What was the fix?
the same issue seems to still exist.

[2019-07-31 07:53] eneoli opened #644 "getAttachmentContentAsync fails to get Attachments when waiting 5 - 10 minutes"
## Expected Behavior
getAttachmentContentAsync should return the asked attachment.

## Current Behavior
It works perfectly, when you request the attachment immediately, but when waiting, there will be an error instead.

## Steps to Reproduce, or Live Example
 wait 5 - 10 minutes
Office.context.mailbox.item.getAttachmentContentAsync(id)

## Context
Trying to get attachments from mail and send them

[2019-07-31 08:12] eneoli commented on #643
I will try. Thank you

[2019-07-31 10:09] eneoli opened #645 "getAttachmentContentAsync does not invoke callback on android app"
## Expected Behavior
The passed callback should be called, like on other platforms like OWA or Outlook Desktop

## Current Behavior
The callback doesn't get called using the Add in with the Outlook android app. Using the exactly same code on OWA or Desktop works perfectly.

## Steps to Reproduce, or Live Example

Tested on two android phones with Android 9

## Context
Passing attachments from mail

[2019-07-31 11:53] kapgupt commented on #645
@EneOli right now, Outlook mobile only support API level requirement set 1.5. So this API is not supported as of now in Outlook Mobile(Android or iOS).

[2019-07-31 12:59] rvanlaak commented on #24
Unfortunately under review since 2016 already. This feature would be a big step in closing the functionality gap between VBA and Office JS.

Reference: https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/6572900-add-keyboard-shortcut

https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/14060244-enable-binding-keyboard-shor

[2019-07-31 13:06] exextoc commented on #644
@EneOli  Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Can you share the use case due which you are waiting for 5-10 min after getting the attachment and then getting its content?

[2019-07-31 14:16] #435 closed, assigned to exextoc

[2019-07-31 14:20] #387 closed, assigned to exextoc

[2019-07-31 14:21] #413 closed, assigned to exextoc

[2019-07-31 16:02] exextoc commented on #117
Closing due to inactivity

[2019-07-31 16:02] #117 closed, assigned to exextoc

[2019-07-31 17:35] cawise commented on #626
It seems that using the host-specific API still works!

In my case, I can successfully use the [Excel API for settings](https://docs.microsoft.com/en-us/javascript/api/excel/excel.settingcollection?view=office-js) in place of the [Common API for settings](https://docs.microsoft.com/en-us/javascript/api/office/office.settings?view=office-js). This provides a much easier fix than rushing to redesign

[2019-07-31 20:18] nathandpeterson commented on #584
@jargil Thanks for taking a look. I should have mentioned earlier that the main reason why we are concerned about this leak is the yellow banner that pops up when an add-in "uses too much memory." We've seen this banner both in our application and in other production add-ins. For example, take a look at Send To One Note:

<img width="1648" alt="Screen Shot 2019-07-31 at 12 05 45 PM" src="https://u

[2019-07-31 22:04] fraziermork commented on #506
I'm also having this problem with mac OS 10.14.5 and outlook 16.27

[2019-07-31 22:29] misaunde commented on #521
I'm not sure why this was closed, but I recently updated to **Excel 1902 (11328.20368) & Angular 8.1.3** from Excel 1808 (I believe) and Angular 5, and I'm seeing the same behavior as described in this case though not as pronounced - I'm seeing a 1-3 second delay.

The only other differences from what's described above is instead of using Vue, I'm using Angular and instead of `onChanged` I'm using

[2019-07-31 23:33] misaunde commented on #533
What an interesting workaround.

I can get rid of the lag if I go all the way down to 10 milliseconds:
`setInterval(() => {}, 10);`
but that seems sketchy/risky, even though (locally) everything appears to be behaving like normal.

[2019-08-01 02:31] #642 closed, assigned to nobody

[2019-08-01 05:57] CreaQuora opened #646 "Table co-authoring"
I think there is an error when entering data into the Excel table at the same time (co-authoring). When I add a row to the table on one computer, it appears outside the table on the other. It is likely that the table scope definition will not change when you update the workbook. Sheet is protected … this may be the reason too.
The macro makes those changes. With manual changes, worksheet is locked

[2019-08-01 06:35] eneoli commented on #644
The Add In is part of our ticket system. It might be possible, that the service employee gets a call from the customer or calls the customer while the mail is open.

[2019-08-01 07:28] exextoc commented on #501
@nehasoni3 We are not able to repro this. Sync happens after wait. As per the doc here- https://docs.microsoft.com/en-us/javascript/api/outlook_1_5/office.roamingsettings?view=office-js, "The persisted changes will not be available until the task pane (or item in the case of UI-less add-ins) is closed and reopened." Have you tried this?

[2019-08-01 07:34] exextoc commented on #644
@EneOli Thanks for reporting this issue and sharing the usecase. We have already added this to our backlog.

[2019-08-01 09:09] THPubs commented on #501
@exextoc I tried it. It works for the web but not for mobile.

[2019-08-01 10:59] Nagapito commented on #450
I also start having this issue yesterday.
My addin was reading correctly custom properties added/changed by REST calls without issues (last 4-6 weeks) until yesterday.

Now, Outlook seems to be caching the custom property and can only read the new values if I restart Outlook. The moment the addin fetches the custom properties once, he will never be able to retrieve new values added/inserted via RE

[2019-08-01 16:28] kbrandl commented on #646
@CreaQuora thanks for reporting this issue; I'm going to transfer it to the **OfficeDev/office-js** repository, which members of the product team monitor for issues related to the Office Add-ins platform and JavaScript API.

In the meantime, I've also updated your original post in this issue to include asks for information that the product team will need, before they're able to assist. Can you ple

[2019-08-01 17:41] caggers commented on #626
Hi @jeremy-msft and @sumurthy I'm on the same team as @JefCurtis above.

We need to investigate an alternative fix for this issue as like @JefCurtis stated we have hundreds of affected customers and almost all of them are on annual and not monthly updates. We are a Microsoft Partner and we are really keen to speak to someone involved in the fix.

We are currently using Office.RoamingSettings is th

[2019-08-01 17:56] keyur32 commented on #553
Hi,  this has now been fixed.  It is available on Insiders channel, and will roll out to production as part of the "August Update"

[2019-08-01 17:58] keyur32 commented on #580
Hi @ddanehl, in reviewing it internally, the reason why only the top left cell is returned when you return a matrix on Excel online is currently a limitation as that feature is not supported on Excel Online, as to have multiple values returned, you would need to have it be array-entered, which Excel online does not yet support. On the desktop, you may see this working as you may be on the Insiders

[2019-08-01 18:04] exextoc commented on #486
If the recipient are **not resolved**. They will not be returned. (sorry to repeat this, but you never answered whether or not the recipients were resolved in the previous replies) As of today that is the only known case where stuff in the recipient well is not returned. (and by design).

Otherwise, we haven't been able to repro this, so any additional information (videos, screenshots, repro steps

[2019-08-01 18:11] exextoc commented on #450
Sync time is just never guaranteed. It can change based on network, or how Outlook handles cached mode. Ideally all changes are only done on one side (either server or client) to avoid conflicts. Or some workaround has to be done to keep them in sync. Turning cached mode off to online mode in Outlook can eliminate these issues, but Cached mode is the default for most users.

[2019-08-01 18:26] jjhua-github commented on #626
@cawise @JefCurtis Setting API would be broken only if Dialog API were used during the calling flow

[2019-08-01 19:05] exextoc commented on #493
If you did not change the permission level, clients should get the updated manifest within 3 days, with no action.

Otherwise users should try uninstalling and reinstalling the add-ins.

Note that if you have added pinning to your manifest, if users are on older On Prem Exchange Accounts, they will not be allowed to install the add-in as the older servers cannot parse the new manifests.

[2019-08-01 20:41] JuaneloJuanelo commented on #646
@kbrandl  this sound like an issue in Excel coauth team. I think its not related whatsoever with JS APIs or Web Add-ins.

[2019-08-01 20:41] #646 closed, assigned to nobody

[2019-08-01 20:50] JuaneloJuanelo commented on #645
@EneOli  we recommend you to check for this requirement at runtime and when supported on such platform your code will just work.

[2019-08-01 20:50] #645 closed, assigned to nobody

[2019-08-01 20:51] JuaneloJuanelo commented on #644
known issue, item in backlog, so closing issue

[2019-08-01 20:51] #644 closed, assigned to exextoc

[2019-08-01 22:13] JefCurtis commented on #626
@jjhua-github I'm sorry, I'm not following you.

Could you be more specific? Are there links to the Office docs that would help?

[2019-08-01 22:14] jeremy-msft commented on #626
Hi @caggers @JefCurtis @cawise, are you able to provide repro steps for how you're seeing this issue happening in version 1902?  We want to make sure the problem you're running into is the same as what we've fixed in the original report vs. something else related to settings.  Also would be helpful if you can confirm whether the problem has been resolved for you in the Version 1907 build.

[2019-08-01 23:39] JefCurtis commented on #626
@jeremy-msft So I've managed to switch my development version of Office 365 over to the monthly channel using [these instructions](https://docs.microsoft.com/en-us/office365/troubleshoot/administration/switch-channel-for-office-365) so that I could test that, indeed, a fix for the error we were receiving when using `Office.context.roamingSettings.saveAsync` was released. I'm happy to report that i

[2019-08-02 03:25] catchingyu commented on #533
How about trying this workaround to see whether the problem can solved :
 add `MutationObserver=null` to the beginning of the main html

[2019-08-02 03:26] catchingyu commented on #521
@misaunde

How about trying this workaround to see whether the problem can solved :
add MutationObserver=null to the beginning of the main html

[2019-08-02 05:28] ravikmrsingh8 commented on #642
Hi @JuaneloJuanelo ,

Could you please let us know the office versions where we have the save issues for office settings. Also from which version this issue was fixed.
We have an Excel Addin which is near GA and we don't want users to encounter this.

Thanks,
Ravi

[2019-08-02 07:08] #643 closed, assigned to nobody

[2019-08-02 08:21] MandytMSFT commented on #540
@dinglicoding could you help provide more details to help us better identify the issue?

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online):

[2019-08-02 08:57] m-pd commented on #378
I'm seeing this issue too with Outlook for Mac Version 16.16.12 (190715). This is a big problem.

This is the value of **Office.context** in the dialog window:

[code]

[2019-08-02 10:12] exextoc commented on #501
@THPubs Roaming settings in iOS are not synced real time. Rather they are synced at app restart if it hasn't been synced in last 5 minutes.

[2019-08-02 10:24] AnjanaValsan commented on #636
This bug is resolved and the fix will be rolled out to Production in a week's time.

[2019-08-02 15:55] misaunde commented on #533
That doesn't appear to change anything for me. Using `MutationObserver=null` I still see the delay.

Here's my main.ts:
[code]

[2019-08-02 16:35] jargil commented on #626
@JefCurtis - If you could just start by listing the steps you follow to get to this error, that would be useful. Example:
1. Boot Outlook,
2. Open e-mail,
3. Activate add-in,
4. Click button that launches invoked the dialog API,
 ... You could share some snippets here...
etc. until you get to the error.

After that depending if the repro is clear enough we may be good to go, or we may ask for a si

[2019-08-02 16:40] jargil commented on #584
@nathandpeterson - thanks for the additional information! When you get that yellow bar, could you share a quick snapshot of how much memory your system has total (RAM), how much available, and how much the wwahost.exe process associated to add-ins is consuming for both shared and private working set (you can get the pid from the Edge DevTools)? When we show the yellow bar it means you're running l

[2019-08-02 20:00] danielgwilson commented on #367
Hi, this is something you can prevent by checking whether a dialog is already open before opening a new one.

I have an example here:
https://github.com/danielgwilson/github-office-add-in/blob/master/src/functions/getTokenViaDialog.ts

[code]

It's admittedly not a great idea to track `_dialogOpen` as a global constant, but this is the gist of what you'd need to do to prevent the double click issu

[2019-08-02 20:00] #367 closed, assigned to lliu113

[2019-08-02 22:09] nathandpeterson commented on #584
@jargil I'm attaching some screenshots below:
<img width="1614" alt="Screen Shot 2019-08-02 at 3 05 29 PM" src="https://user-images.githubusercontent.com/29267823/62401257-41022880-b537-11e9-8d62-0b09de44efe8.png">
<img width="1609" alt="Screen Shot 2019-08-02 at 3 04 50 PM" src="https://user-images.githubusercontent.com/29267823/62401261-46f80980-b537-11e9-9486-ea92d30e1729.png">
I see what you a

[2019-08-02 22:32] JefCurtis commented on #626
@jargil For us, it was fairly straight forward. We are testing using a Business o365 subscription on version 1902.

| Reproduction steps
-- |
* Open Windows 7/10 desktop Outlook (this works fine in any browser)
* Open an email
* Open the add-in and if not logged in to an external service, be taken to a login page.
* A login (oAuth) window is triggered and the user successfully logs in
* At this po

[2019-08-03 17:40] ntranvinh commented on #501
I have the same issue, the roaming setting was set using web app from 2019-08-02 10:00am and now 2019-08-03, on iOS 12 (iphone SE), there is nothing appears in the setting:
{"_rawData$p$0":null,"_settingsData$p$0":{}}
I opened the add in on web and still see the setting value there.
I tried to uninstall and install the latest version of Outlook for IOS, also tried to remove and add account and res

[2019-08-04 15:13] Ballzer0 opened #651 "Status on Preview"
There are videos on youtube from back in summer of 2017 where you guys first showed off the SSO API.
https://www.youtube.com/watch?v=w0VBrpVXPvk

How come the feature is still in preview? and can we expect it to go live soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb06c24b-9d11-9cc5-2e98-561601452638
* Version

[2019-08-04 17:01] eladco898 commented on #633
I have the same issue. It appeared in Windows Outlook Desktop client only after installing the latest Windows security update KB4464534.

[2019-08-05 02:26] csgmike commented on #367
@danielgwilson I don't think this is an acceptable solution to the issue. This should be something that the framework provides as it affects any addin using the dialog API.

It should not be up to every developer to implement this in their code. Please re-open.

[2019-08-05 03:21] TheSamsterZA commented on #584
Adding my voice to the issues reported here: I am seeing the same thing. It does appear to be due to `WWAHost.exe` not releasing memory - and it is not just due to the usage of the Dialog API.

My clients open and close Word multiple times a day, and we are noticing that WWAHost.exe both survives the Word closure and seems to increase in memory usage as each instance of our add-in is opened.

We a

[2019-08-05 03:34] THPubs commented on #501
@exextoc I also closed the app and re-opened. It still didn't work.

[2019-08-05 05:48] niteshgolchha85 commented on #532
Closing since there was no response for >30 days. Please feel free to reopen if the issue still persists.

[2019-08-05 05:48] #532 closed, assigned to niteshgolchha85

[2019-08-05 06:33] exextoc commented on #501
@THPubs can you please create a separate post for iOS mobile issue, also please create a feature request here [user voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) for roaming settings to be updated syncronously.

[2019-08-05 07:38] catchingyu commented on #533
@misaunde  can you try to put add MutationObserver=null **to the beginning of the main html**

[2019-08-05 08:43] rake93 opened #647 "Taskpane is not opening with specified width after adding RequestedWidth in manifest.xml"
I'm facing Drop down items wrapper issue in Office Word-addin. Dropdown values are not properly aligning when the Taskpane has been loaded. So I added the  RequestedWidth in manifest.xml to open the panel with specified width. But the below code is not working. Could you please suggest me to open the Task Pane with specified width.
[code]

## Expected Behavior

![image](https://user-images.githubu

[2019-08-05 11:20] barisbikmaz opened #648 "Imagecoercion in Excel Online is missing"
## Expected Behavior
Office.context.requirements.isSetSupported("imagecoercion", "1.2") should be true in Excel Online
see [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability)

## Current Behavior
Office.context.requirements.isSetSupported("imagecoercion", "1.1") == false
Office.context.requirements.isSetSupported("imagecoercion", "1.2") == false

[2019-08-05 11:41] rake93 opened #649 "Content Controls Events/Callback to navigate specific Task Panes based on CC selections."
**Requirement:**
I have a requirement where my word plug-in needs to navigate Task-panes based on the selection of rich text controller. I have build word plug-in using Reactjs and have used react-router for navigation. I'm loading task panes based on the task pane menu selection.

**Example scenarios:** Lets say I have (1) **Bookmarks**, (2) **Embed** and (3) **Grid** task-panes. Through our appl

[2019-08-05 13:27] SWDevB opened #650 "Opening dialog from custom functions inside of Excel desktop"
When I open a dialog via OfficeRuntime.displayWebDialog during the execution of a custom function in the Excels's desktop version, the page I provided the URL for is only shown once. So when I evaluate a single formula it is shown, after running the function again the dialog only shows a white page.

## Expected Behavior
I would expect the dialog shows the page matching the url parameter on every

[2019-08-05 14:55] zakhan4 commented on #650
I'm also facing the same exact issue.

### My environment

- Platform [PC desktop, Mac, iOS, Office Online]: PC
- Host [Excel, Word, PowerPoint, etc.]: Excel 64 bit
- Office version number: 1908 (Build (11929.20002 Click-to-Run)
- Operating System: Windows 10 Enterprise 1903 18362.239

[2019-08-05 16:11] misaunde commented on #533
@catchingyu, to clarify, you said main html - do you mean main.ts or another file?

Assuming you meant main.ts, I tried at the beginning of the file, I tried after the imports, I tried on the succeeding lines. I tried adding `MutationObserver=null` to each place, one at a time and then to all of those places at once. So far though, I haven't noticed any difference using that line regardless of whe

[2019-08-05 19:00] JuaneloJuanelo commented on #647
@rake93 Today is not possible to start an **task pane** add-in with a specific width. The requestedWidth and requestedHeight elements are only applied on **Content** Add-ins.

[2019-08-05 19:00] #647 closed, assigned to nobody

[2019-08-05 19:18] JuaneloJuanelo commented on #649
Hello @rake93  this is more of a question rather than an issue in our platform. I recommend you to use stackoverflow with #office-js tag for it.

That been said there is an event on rich text content control that gets triggered when the content control is selected.  check out my answer on this [similar stack question.](https://stackoverflow.com/questions/36704444/how-to-implement-onenter-and-onexi

[2019-08-05 19:18] #649 closed, assigned to nobody

[2019-08-05 19:36] elegault commented on #501
+1 on iOS issue. Settings do not sync after 15 minutes or app restart. It seems to be a different bucket then desktop/mobile

[2019-08-05 21:24] jargil commented on #626
@JefCurtis - thanks for the detailed repro steps! The step I was missing before is the use of the dialog API ("A login (oAuth) window"). With that information I can confirm that yes we're talking about the same issue that was fixed in Main (as you confirmed) and we're looking to deploy to the semi annual channels soon. Unfortunately I cannot confirm an exact date for the update to be available.

[2019-08-05 21:36] jargil commented on #584
@nathandpeterson - when you load your html/js directly to Edge how much memory is using?

@TheSamsterZA - I believe you're in Office Insider? Could you confirm your Office build number? I believe we have already published the fix for the hang you comment and I want to confirm if you have the proper build to test.

[2019-08-05 21:52] jargil commented on #633
@TheSamsterZA - thanks for the detailed repro steps. I still cannot reproduce. I followed your steps and then added multiple additional navigations to different urls within the same domain and I was able to call messageParent just fine. Could you double check your sample code? Maybe if you could post a sample repro using ScriptLab?

@eladco898 - there was a regression with our security update that

[2019-08-05 21:54] jargil commented on #516
Closing as the behavior is expected given the type of url being opened.

[2019-08-05 21:54] #516 closed, assigned to jargil

[2019-08-05 21:55] jargil commented on #418
@AlvinNiu - closing as there's been no additional updates to our questions. Please re-activate if this still a question and if there's anything we can do to assist.

[2019-08-05 21:55] #418 closed, assigned to jargil

[2019-08-05 22:15] cawise commented on #626
Similar situation here. With further experimentation, getting the "internal error" 5001 appears to only happen for me in Excel v1808 when using the message from a dialog like so:

[code]

Savings settings outside of that context still succeeds.

I'm not sure I can test v1907, but it certainly seems to be the same issue.

[2019-08-05 23:55] wamaina commented on #651
Hi @Ballzer0,

Thanks for asking I'm going to assign this to @niteshgolchha85.
@niteshgolchha85 can you please answer this customer?

[2019-08-06 02:33] ntranvinh commented on #501
Just do a test, I update some Roaming settings on iOS device, these updates appears quickly on web client when I open, but doesnot on Andoird.

[2019-08-06 02:40] #641 closed, assigned to exextoc

[2019-08-06 02:53] #638 closed, assigned to exextoc

[2019-08-06 02:58] TheSamsterZA commented on #633
@jargil [Script Lab is not available in Outlook](https://appsource.microsoft.com/en-us/product/office/WA104380862).

Here is my updated list of versions:

**NOTE:** [Since my environment supports it](https://docs.microsoft.com/en-au/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins), Outlook is using the Microsoft Edge WebView, browser engine EdgeHTML 18.18362 (not Chromium).

I am s

[2019-08-06 03:09] TheSamsterZA commented on #584
@jargil Here is my updated list of versions:

I am still seeing the hang - but it does seem to take longer to happen. I see it after ~5 dialogs are opened, then closed. WWAHost.exe looks like it's stuck (CPU usage ~30% continuously).

Please let me know if you need more info.

[2019-08-06 03:10] #565 closed, assigned to exextoc

[2019-08-06 03:19] #502 closed, assigned to exextoc

[2019-08-06 03:27] exextoc commented on #583
This appears to be a bug in OWA. Does this reproduce when "Try the new Outlook" is toggled on or off? Could you share a version number of Outlook on the Web?

[2019-08-06 05:15] splinter commented on #486
Can you please elaborate by what you mean by "resolved"? If by resolved you mean detecting their display names then yes.

[2019-08-06 06:00] THPubs opened #652 "Roaming settings are not synced to iOS devices"
## Expected Behavior

- Add some data to the roaming settings.
- Save roaming settings.
- Open the iOS client.

The iOS client should be able to read the saved data from roaming settings.

## Current Behavior

The iOS client don't have the data in it's roaming settings. Tried after several minutes and even after several hours. Also tried closing the iOS client (Clearing the app not just minimizing

[2019-08-06 06:06] THPubs commented on #501
@exextoc Created a new issue and a user voice request: https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/38312956-sync-roaming-settings-asynchronously

Everyone who need asynchronous syncing issue, please vote in UserVoice.

Please comment in the new iOS issue if you have issues with the iOS client not getting the data at all: https://github.com/OfficeDev/of

[2019-08-06 09:13] vputsenko commented on #584
I don't know whether this is root cause or not but i found serious memory leak inside Web control <-> OfficeJS internal API marshaling code.
Each asynс call to Web control host leaks callback function. This is true either for oneoff calls or event  registrations. See code below, you can find it in "eval"  debugger section (Office injects it using [AddInitializeScript](https://docs.microsoft.com/en

[2019-08-06 09:22] lumine2008 commented on #648
Thanks @barisbikmaz , i just verified, this issue can repro in my side. i created a bug (3537516), team is looking into this issue.

[2019-08-06 10:31] exextoc commented on #652
Thanks for reporting this issue. This is a recently introduced regression. We are working on a fix.

[2019-08-06 10:33] exextoc commented on #501
We have observed a recently introduced regression in iOS. We are working on a fix. Thanks for reporting.

[2019-08-06 10:54] SWDevB opened #653 "Access Storage from Dialog opened by Custom Functions"
There is a dialog I open from task pane or custom functions runtime and this dialog has an input which's data should be stored inside the OfficeRuntime.storage to be available for task pane and custom functions run time as well.

I at first tried to directly write into the storage from the dialog itself and this worked fine while running the add-in in Excel online. But when I try to run it in Exce

[2019-08-06 11:02] THPubs commented on #652
Thanks

[2019-08-06 12:10] VitaliyLavrenko opened #654 "Insert content control with hebrew text"
When insert hebrew text to Content Control it insert bad.

<img width="319" alt="Screen Shot 2019-08-06 at 15 04 09" src="https://user-images.githubusercontent.com/2865372/62538464-8b4b1880-b85b-11e9-8d1c-8b3de8dd2000.png">

## Expected Behavior

Text should be inside content control.
## Current Behavior

Now text insert near control, by using
[code]
## Steps to Reproduce, or Live Example
https://

[2019-08-06 14:50] ntranvinh commented on #652
Yeah, experient the same issue.
I played around with the Roaming stuff and also found one issue that when I try to set some roamming setting on iOS client, and expect to see the roamming settings appears on Andoird client but it not.

[2019-08-06 14:52] ntranvinh commented on #501
@THPubs , thank you. Just added comment :)

[2019-08-06 17:32] exextoc commented on #486
Here is an example in OWA but the same behavior exists for the API on Outlook Desktop too:
![image](https://user-images.githubusercontent.com/28549921/62561459-20d2b200-b834-11e9-85f0-6213b1a74d35.png)
Jesse is a resolved recipient, Kat is an unresolved recipient. Only resolved recipients will be returned from the Recipients API.

Can you share more about particular scenarios where the API is not

[2019-08-06 17:58] nathandpeterson commented on #584
@jargil You asked

I'm a little unclear on what you are asking. Since we don't usually load html/js directly to Edge (without Office), I cannot easily test the memory usage in isolation. That said, I did create a tiny little [add-in](https://github.com/nathandpeterson/dialog-memory-leak) to show that the issue that concerns me is not the _size_ of the memory allocation but the pattern over time. I

[2019-08-06 18:13] wamaina commented on #654
Thanks @VitaliyLavrenko for reporting this issue!

@weshi, I was able to reproduce this in windows as well. Could you please follow-up on this bug?

[2019-08-06 18:24] wamaina commented on #650
Thanks @SWDevB and @zakhan4 for reporting this issue!

@keyur32, I was able to reproduce this as well. Could you follow-up on this bug?

[2019-08-06 19:06] RyanMcArthur commented on #533
@misaunde
Before the import of the office.js file in the main.html I was able to add
<script> MutationObserver=null; </script>

and it appears to be working correctly now. I have removed the previous workaround I mentioned above.

[2019-08-06 19:09] keyur32 commented on #621
Hi some details:
- Office 2013 has a limit of 2mb, this was removed in 2016 versions and higher. I don't think we did max testing then to see what the new limitations of that would be, but just that it would be constrained just like any other part of the document.

That said what @RuoyingLiang mentioned was accurate that the settings wasn't designed for large sets of data as in your case. Instead

[2019-08-06 19:23] keyur32 commented on #650
Investigating. Thanks for reporting.

[2019-08-06 19:53] kkerr1 commented on #322
We are now seeing this in the latest semi-annual releases 1902 and 1907 monthly releases. This means that seven months after reporting this issue, it has expanded to both public release channels. Without a fix we will have to build a workaround to address. @exextoc and @kbrandl  This is extremely disappointing and the second time a bug has required a substantial workaround on our end in the last f

[2019-08-06 20:01] kbrandl commented on #322
@kkerr1 thanks for reaching out about this, and sorry to see that the team's progress has been so slow with this issue -- I can certainly understand your frustration.

@wamaina FYI (for escalation, since you're currently on rotation.)  @exextoc can you please provide an status update on this issue (including an ETA for resolution, if available)?

[2019-08-06 20:28] keyur32 commented on #650
Internal Bug #3538661.

[2019-08-06 21:16] Bartlebyy commented on #623
Yes, our Calendly application is experiencing this too. Any update on this?

[2019-08-06 21:17] Bartlebyy commented on #623
@exextoc Yes, our Calendly application is experiencing this too. Any update on this?

[2019-08-06 21:18] Bartlebyy commented on #623
@exextoc @lliu113 Yes, our Calendly add-in is experiencing this too. Any update on this?

[2019-08-06 23:20] jaymaskell opened #655 "displayDialogAsync Doesn't display Web Application in Windows Outlook Client"
Authentication application does not display properly from displayDialogAsync in Windows 7 Outlook client but does display properly when using OWA with IE 11.  It does display properly on MAC using the Outlook client.  See the MP4 attachments.

The same problem occurs in Windows 10 versions 1803 and 1903.

Authentication application should display the login screen

## Current Behavior

The authenti

[2019-08-06 23:55] mm90849491 opened #656 "Scroll bar of ScrollablePane(from Fabric) is missing on Excel task-pane"
## Expected Behavior
Vertical scroll bar shall present.

## Current Behavior
Vertical scroll bar is missing in Excel with Edge.

## Steps to Reproduce, or Live Example
I put the Fabric documentation page (https://developer.microsoft.com/en-us/fabric#/controls/web/scrollablepane) in Excel, and the following screen-shot is the result:
![2019-08-06 13_09_26-](https://user-images.githubusercontent.com

[2019-08-07 01:26] TheSamsterZA opened #657 "Edge DevTools debugger crashes frequently"
## Expected Behavior

When debugging my OfficeJS add-in, I expect a solid, stable debugging experience.

## Current Behavior

Debugging OfficeJS add-ins using the Edge DevTools is extremely frustrating. The debugger crashes often, and reloads my add-in to boot.

This is not expected behaviour.

## Steps to Reproduce, or Live Example

  1. Download and install the [Edge DevTools](https://www.micros

[2019-08-07 02:22] weshi commented on #654
This issue does not repro in Word Online. @JuaneloJuanelo Could you reassign this bug?

[2019-08-07 03:02] glr0221 opened #658 "Missing AddIn In Android Outlook"
Some registered addin(s) in the MS O365 Admin Center are not shown on android devices. The missing android addin however is present when viewing email via IOS outlook and Chrome browser (OWA) outlook.

## Expected Behavior

All platforms of outlook should show the same set of registered addins.

## Current Behavior

Current behavior is that 1 fixed addin deployed to everyone in the domain is missi

[2019-08-07 03:05] glr0221 commented on #658
@kbrandl it's been a while, i hope you are doing really well. The issue i submitted above is probably not for the office-js team. But I wrote it here anyway because I find you and your team highly responsive and reliable. If this issue needs to be moved somewhere else, please feel free to do so. Thank you very much for your support and understanding.

[2019-08-07 03:06] glr0221 commented on #658
@kbrandl it's been a while, i hope you are doing really well. The issue i submitted above is probably not for the office-js team. But I wrote it here anyway because I find you and your team highly responsive and reliable. If this issue needs to be moved somewhere else, please feel free to do so. Thank you very much for your support and understanding.

[2019-08-07 03:07] glr0221 commented on #658
@kbrandl Sorry I accidentally clicked the "Close and comment" button. Thank you again.

[2019-08-07 03:27] tsabbay commented on #654
FYI: We see the same thing with Arabic as well.

[2019-08-07 08:19] kakusharma opened #659 "Office.OnReady is getting called twice"
The Office.OnReady function is called twice for an Outlook Contexxtual Add-In that I am creating.

## Expected Behavior

 Office.OnReady should be called only once.

## Current Behavior

Office.OnReady should be called only once

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1.  Office.onReady().then(info => {  }); This is getting called twice. No

[2019-08-07 10:30] AllepuRajkumar commented on #631
I'm also facing the same issue, while adding task pane add-in to MS Project.

![image](https://user-images.githubusercontent.com/43134772/62616163-7ab6a300-b92c-11e9-9b52-450c6a7963d3.png)

MS Project Client details:

![image](https://user-images.githubusercontent.com/43134772/62616245-ae91c880-b92c-11e9-83bc-aed5293f6948.png)

[2019-08-07 17:01] keyur32 commented on #506
Hey folks, can you verify your writes command was set:
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac?

thanks!

[2019-08-07 17:13] kranti3033 commented on #626
Hello,
We have an excel based office app that’s run mainly on windows machines. From past 3 weeks, we too are facing a similar problem (An error message is thrown while trying to run the app "An internal error has occurred.”).
Our app users run the office app in Windows OS 10 and Microsoft excel 2016 MSO(16.0.4549.1000) 64-bit or Microsoft excel 2019.
We came across a few posts saying the issue ha

[2019-08-07 18:30] jaymaskell commented on #655
The URL for the displayDialogAsync is https://staasf-staging4.shoretelsky.com/outlook-addins/calendar/authRedirect.htm which redirects (via window.location.replace) to https://auth.dev.mitel.io/authorize?app_name=Mitel Meet Outlook Add-In&scope=gauth abc&ui_locales=en&client_id=5f7965dc7b0cfadeb09e8ee304209baa&response_type=code&redirect_uri=https://staasf-staging4.shoretelsky.com/outlook-addins/c

[2019-08-07 22:25] caggers commented on #626
Hi @jargil as @JefCurtis said we can upgrade Office 365 and update to 1907 on our in-office testing machines.

But is this fix available for other versions of Office like 2013, 2016 and 2019? So far I haven't been able to similarly upgrade and grab the fix in Outlook 2013. We are working on a new manifest file to send to Microsoft for validation after out last one failed. We are trying to work out

[2019-08-08 00:19] JefCurtis commented on #623
@exextoc The Clio add-in is having the same issues. In fact, it was one of the reasons our lest review submission was rejected!

[2019-08-08 02:54] lumine2008 commented on #656
Thanks @mm90849491 for your post.
i have tried to load the https://developer.microsoft.com/en-us/fabric#/controls/web/scrollablepane to my taskpane, but looks the scrollbar is here. could you please share more information for me to repro in my side. thanks.
![image](https://user-images.githubusercontent.com/26398035/62671824-dd5e7c00-b9ca-11e9-9093-bdc109f93c82.png)

[2019-08-08 05:01] mm90849491 commented on #656
Hi @lumine2008 , thank you for your attention to this ticket.
This is a screen-shot of the area rendered properly on Edge (or any other browser including IE inside Excel):
![Snap1](https://user-images.githubusercontent.com/10732375/62675728-06e0be80-b95d-11e9-8c91-0b913d1e2bec.png)
The horizontal scroll bar is present and vertical bar is not covered by the Sticky header nor footer area.
I think my

[2019-08-08 07:18] SWDevB commented on #653
I mentioned office not being initialized for dialogs currently, at least for me - and this seems to be the bigger issue right now because that way Office.context.ui.messageParent also wont work. Can this be confirmed and also tackled within this issue or should I create another one?

[2019-08-08 15:59] exextoc commented on #659
Is this issue happening in old OWA or the new OWA client(After enabling toggle button)?

[2019-08-08 16:17] kakusharma commented on #659
In old OWA, I guess. There is no toggle option there.

[2019-08-08 16:27] exextoc commented on #659
What is the version of OWA? You can find this information using our Diagnostics API:
`Office.context.mailbox.diagnostics.hostVersion`

https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox.diagnostics#hostversion-string

[2019-08-08 16:31] misaunde commented on #533
Thanks @catchingyu and thanks for clarifying @RyanMcArthur.

I put that at the top of my index.html and looks like that fixed it for me too:
[code]

[2019-08-08 16:37] kakusharma commented on #659
Its showing "2019080502.05"

[2019-08-08 16:55] syun-dymo opened #660 "Add-In cannot communicate to local hosted windows service with Word version of 1301.XXX.."
I have a sample word Add-In that send message to local windows service which is Self Hosted Web API. The communication was working until test with version of Word  1301.XXX.
While I am debugging the API,  API did not receive any requests.

Is there anyone have any solution for this issue?

[2019-08-08 17:08] cskr11 commented on #533
@catchingyu Thanks.
We were also facing the same issue with sheetChange event (Task pane excel addin) and
<script> MutationObserver=null; </script> seems to have fixed that issue.
We have put exactly like how @misaunde has put.
What is the idea behind doing this? Can we rely on this solution for production roll out of our OFFICE JS/EXCEL ADDIN?

[2019-08-08 17:29] sebisebo opened #661 "Compatibility with windows 10"
I have an issue with my Excel add-in on windows 10. I catch my Excel.Run() and always receive an error "AccessDenied". I don't understand because it worked fine on windows 8. Is there any reason ? I'm on 1.1.0.14 version.
Try to update to 1.1.0.15 but that create me a lot of error during compilation. (namespace office in double in office.d.ts)

[2019-08-08 17:33] wamaina commented on #653
Hi @SWDevB,

Thank you for reaching out with this issue. I've added @lliu113 to this item. @lliu113, could you look into this?

[2019-08-08 18:37] exextoc commented on #659
Does this repro when using `Office.initialize` instead of `Office.OnReady`?

[2019-08-08 18:46] kakusharma commented on #659
Nope, it works fine with Office.initialize.

[2019-08-08 20:03] mm90849491 commented on #656
The following Pen contains codes to reproduce both horizontal and vertical bars are missing on a task-pane:
https://codepen.io/mm90849492/pen/aeGZVp

[2019-08-08 22:10] javierpr71 opened #662 "Excel.run error in IE 11"
I'm creating an Excel Addin using the Office Add-in generator, by @OfficeDev!
I'm running "yo office" and create with this options:
  Office Add-in Task Pane project
  JavaScript

A project with a default template is created ok.

Next, as an admin, in a powershell console I run:
  npm run start:web
The server starts and I test my Exce Addin in Excel Online in Internet Explorer 11.239.18362.0

When

[2019-08-09 01:55] dinglicoding opened #663 "[Excel] open Taskpane is still Loading"
## Expected Behavior

open pane quick if i  click ribbon button to show Taskpane

## Current Behavior

![image](https://user-images.githubusercontent.com/3963826/62748406-13633500-ba8b-11e9-993b-d120383b6c83.png)

show Taskpane is still loading  and nothing show,  our United States User can not open it sometimes.

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: _

[2019-08-09 03:17] YiJinMSFT commented on #653
This tag in html header should solve your initialization problem.
`<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>`
Where do you get the error message? is it from messageParent or displayDialog? I assume it is not from localStorage. It will be helpful if you can provide the parameter when you are calling these api.

[2019-08-09 12:35] alexnb11 commented on #297
@kbrandl @macOutlookExtensibility Any updates about this bug???

[2019-08-09 14:12] marianatuma opened #664 "Resuming work on funcioning Excel add-in now throws AccessDenied error"
Hi all. I have asked a [question ](https://stackoverflow.com/questions/57362064/worksheets-loaditems-fails-leading-to-an-access-denied-error)about this on SO, but haven't had any luck so I thought I'd bring it over here.

I'm working on an Excel add-in that makes some changes to files. This project had to be put on hold for a while, but it was working at that point. I resumed work on it this week,

[2019-08-09 21:13] wamaina commented on #663
Hi @dinglicoding,

Thank you for reaching out! Could you provide a bit more detail on this issue?

- Is this an add-in taskpane?
- If so, does the taskpane not load for all add-ins?
-Does this only happen in the Excel Desktop application or does it also happen in Excel Online?

[2019-08-10 01:09] jargil commented on #626
For Office 2019 the fix should already be available if you have the monthly updates (as you stated with 1907), if you're not in a monthly model then the update is yet to be published.
For Office 2016, the fix is already available: https://support.microsoft.com/en-us/help/4475551/august-6-2019-update-for-office-2016-kb4475551
For 2013 we still don't have an ETA to share.

Hope this helps.

[2019-08-10 05:49] jargil commented on #657
@TheSamsterZA - what you're observing is Office detecting a hang in your add-in and restarting it to get unblocked - the debugger is not crashing. In this case the hang is caused by your breakpoints and thus blocking your add-in UI from pumping messages.

Please read this document:
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/resource-limits-and-performance-optimization

In order t

[2019-08-10 12:10] exextoc commented on #659
Can you share the exact console error you are getting, when you are using Office.OnReady, and are you able to reproduce the same error in Outlook Desktop client as well, or does this happen only in OWA?

[2019-08-11 19:50] tsabbay commented on #654
@weshi  and @JuaneloJuanelo  Any updates regarding this?

[2019-08-12 02:20] lumine2008 commented on #664
Hello @marianatuma , i cannot repro the issue, by copied some your code and try it in my side.
do you think you could upload your gist to the github. therefore we can have a repro in our side? thanks

[2019-08-12 02:20] weshi commented on #660
To help us understand the exact root cause of this issue, could you please provide us with below information:
1) Platform information: are you using Office on the web, or Office on Windows? (From the description above, it seems that you are using Office on Windows. This is to double confirm).
2) Office Build information (you can find this from File->Account->About Word, there is a Version informat

[2019-08-12 05:24] MandytMSFT commented on #540
@dinglicoding  could you help provide more details for investigation purpose, thanks !

[2019-08-12 07:29] dinglicoding commented on #540
@tfjy2008

Description :
In HD screen textbox will display wrong first time, if i  second run it, it's ok

Expected Behavior
textbox display in HD Screen it's also fine.

Current Behavior
In HD screen textbox will display wrong first time, if i  second run it, it's ok

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]: PC desktop
Host [Excel, Word, PowerPoint, etc.]: Excel
Office ver

[2019-08-12 08:37] pdesai-mimecast commented on #349
Can confirm that this is still an issue with Mac Outlook 16.16.12. As @djpereira mentions, it appears to be a domain issue. The problem doesn't exist for Web or Windows.

Both aaa.com and bbb.com are <AppDomain> in the manifest.

[2019-08-12 09:42] marianatuma commented on #664
I generated another project using `yo office`, moved all files in `src/components` from the broken project to the new one, and things work fine now... I don't know what the problem was. Previously I was using a local version of the library, maybe something about it became deprecated when the project was on hold, and now that I'm using a new version of the library, things work again?

Either way, t

[2019-08-12 09:42] #664 closed, assigned to nobody

[2019-08-12 09:55] georgiik-welldone commented on #506
Still doesn't work

<img width="684" alt="Screenshot 2019-08-12 at 11 54 23" src="https://user-images.githubusercontent.com/20322794/62857467-0008d180-bcf8-11e9-8421-9540daed4674.png">

## Environment
MacOS 10.14.4 (18E226)
PowerPoint 16.27 (19071500)

[2019-08-12 12:55] harry-levick opened #665 "addFileAttachmentAsync() produces attachment that I cannot view/open"
## Expected Behavior

addFileAttachmentAsync attaches document to composing email that can be opened.

## Current Behavior

The result of the method call is successful, I am able to get the attachment id of the result. However, i'm not able to open the attached document.
For example, when trying to open a docx document that I have attached to an email, I get the error `Word found unreadable conten

[2019-08-12 13:42] sureshbrp opened #666 "Javascript Excel addin is not working for some users after upgradation of office 365"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I traced this issue in fiddler and i came to know that the below error
![image](https://user-images.githubusercontent.com/8668231/62869257-79e38f80-bce5-11e9-908b-1cf088ea4c61.png)

[2019-08-12 14:39] bferreira opened #667 "Excel Add-in - setDataAsync not working after Windows and Office upgrade and now running with Edge"
Our Excel Add-In stopped working after an office upgrade for monthly target users. They got an update together with the new version of Windows 10. The Excel Add-in in now running on Edge and not IE11.

## Expected Behavior
Data is transfer from the add-in to excel document. The table on the excel sheet should received the data.

## Current Behavior
The table is created, but we received the error c

[2019-08-12 16:39] exextoc commented on #665
Could you provide a version number to help us understand the environment to reproduce this? You can get the version number by calling the api `Office.context.mailbox.diagnostics.hostVersion`. When the callback for the API is invoked, what is the result that is returned?

[2019-08-12 21:49] keyur32 commented on #506
Update: We think this is specific to the Mac App Store Build of Office, which currently doesn't support these flags.  To workaround this, you will need to get a non App Store build. You can get one by signing up for the developer program and getting a tenant: https://aka.ms/o365devprogram.

[2019-08-13 03:42] lumine2008 commented on #661
Thanks @sebisebo for your post, could you please share a bit more information about repro steps? therefore we could have a try in our side.

[2019-08-13 05:59] dinglicoding commented on #663
@wamaina
Is this an add-in taskpane?
Yes
If so, does the taskpane not load for all add-ins?
this is happened at our customer computer. so i can not know.

-Does this only happen in the Excel Desktop application or does it also happen in Excel Online?
we try it only in the excel desktop application

in our computer sometime like this, we have add Office.onReady()
![image](https://user-images.github

[2019-08-13 07:13] kakusharma commented on #659
There is no error as such just that OnReady is being called twice. I have checked it on OWA only. I am unable to load the Add-In in Outlook Desktop client.

[2019-08-13 07:26] schachdavid commented on #476
Did you made any progress on this issue?

[2019-08-13 07:41] exextoc commented on #659
Can you please share your Manifest and the basic add-in code in order for us to test. Thanks.

[2019-08-13 07:45] harry-levick commented on #665
I have updated the issue with the correct version number

[2019-08-13 07:45] wilcotroost commented on #623
We experience the same problem with our TimWeb AddIn. Beside the fixed height of 150px we also see a visual correction of the width after opening the addin. It start slightly wider and corrects automatically to the normal width. I hope this get's some attention soon...

[2019-08-13 07:51] m-pd commented on #349
This is still an issue with Outlook for Mac version 16.16.12. It's a serious blocker. Any road map to fix this?

[2019-08-13 08:09] RuoyingLiang commented on #666
Could you help to provide below information:

- Which add-in on what platform ( e.g. Windows, Online, etc)?
- What's the Office version number?
- What's the behavior of the add-in? Is there error on status bar?

[2019-08-13 08:46] #118 closed, assigned to exextoc

[2019-08-13 11:25] lumine2008 commented on #648
Hi @barisbikmaz, based on our engineering team investigation, we found we do no support imagecoercion for Excel online, therefore the documentation has an issue, we will fix the document issue. thanks for your understanding.

[2019-08-13 11:55] kakusharma commented on #659
Manifest file:
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0"
  xmlns:mailappor="http://schemas.microsoft.com/office/mailappversionoverrides/1.0" xsi:type="MailApp">
  <Id>05c2e1c9-3e1d-406

[2019-08-13 11:57] kakusharma commented on #659
Also, getRegExMatchesByName is returning null for Outlook 2013 desktop client, even though its working well in web client. Is 'getRegExMatchesByName' available for desktop clients or not?

[2019-08-13 12:44] sebisebo commented on #661
Hi,
What type of information do you need ?

[2019-08-13 12:54] barisbikmaz commented on #648
Thanks for the info.

[2019-08-13 12:54] #648 closed, assigned to lumine2008, tutieu

[2019-08-13 13:11] kakusharma commented on #462
I am also facing the same issue with Outlook 2013 desktop client wherein getRegExMatchesByName is returning null. Is there any workaround for now until this is fixed?

[2019-08-13 15:07] sureshbrp commented on #666
We have developed a customized javascript excel addin to post the data from excel to mvc application grid and it is on the **windows platform**.
We designed this addin installation/addition to the excel from the manifest file of shared folder.
We are unable to get the response from addin UI, when we click on addin customized button after upgradation of Office 365.  So, I traced in Fiddler and got

[2019-08-13 17:15] jargil commented on #584
@nathandpeterson - I definitely understand there's a problem you're getting into where this memory error is being reported after opening the dialog multiple times. I've opened a bug in our internal bug database to track this.
Additionally, this is a good document that explains a bit better how Office monitor memory and CPU usage:
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/resourc

[2019-08-13 17:27] AlexJerabek commented on #648
For closure, the documentation will be fixed with this PR: https://github.com/OfficeDev/office-js-docs-pr/pull/1244

[2019-08-13 18:11] exextoc commented on #665
In the solution you provided, the first url (https://demo.myeqms.com/Administrator/LoadDocADM.Asp?ID=2179&Ext=True&CCID=1) uses client side script to redirect a browser to fetch the actual image.
The addFileAttachmentAsync API only fetches what's provided the direct url, that's why it only attaches the content from LoadDocADM.Asp.  Please try updating your url to the direct url instead. (In this e

[2019-08-13 19:36] JuaneloJuanelo commented on #642
16.0.11727.20286 +

[2019-08-13 21:14] niteshgolchha85 commented on #651
@Ballzer0 Thanks for your patience. We are actively working to GA SSO API but I don't have a specific date yet. May I know how do you plan to use the SSO API? Do you need it to access Graph? Also, how do your users expect to get your add-in - via store or centralized deployment?

[2019-08-13 21:17] exextoc commented on #462
@kakusharma I'd like to focus this post on OWA.  Outlook 2013 desktop client only has supports for older sections for the manifest and likely to be a different issue.  Could you open a new post for what you are seeing with Outlook 2013 and share repro steps in the new post?

[2019-08-13 22:50] lliu113 commented on #667
Hey @bferreira, thanks for reporting the issue! Are you able to provide a copy of your manifest for us to side-load, so we can try and repro?

Looping in @jargil for Edge

[2019-08-13 22:55] smaremanda commented on #660
hi there - I am guessing this is on Windows 10? If yes, we started using the Edge Webview control to host the add-in in newer versions of Office. Please see this blogpost here: https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/
Can you try the localhost loopback exemption mentioned in the blogpost and let us know if that fixes the issue?

[2019-08-13 22:56] lliu113 commented on #663
@dinglicoding are you able to provide the office version your customer is on? For extra diagnostic logs, you can ask them to "Send a Frown". You can do this by going to File > Feedback > I Don't Like Something.

Make sure they tick "Attach my logs to help troubleshoot", and include the keywords "office add-in" somewhere in the description.

![SendDiagnosticLogs](https://user-images.githubuserconte

[2019-08-13 23:02] nathandpeterson commented on #584
@jargil Thanks again for looking into this. I took a look at the link that you sent, which makes it clear that the yellow banner reflects memory consumption as a percentage of total available system resources. Are these values available through the Office.js api? It would be helpful if we could log how often our users are hitting this issue.

You also mentioned that you addressed a fix to the issu

[2019-08-13 23:32] binarykitchen commented on #631
@jjhua-github it's been 18 days ... is this fix out yet?

[2019-08-13 23:34] ragavanrajan commented on #631
@binarykitchen  I think the thread is not updated. It started working on the above reported build. Could you please check.

[2019-08-13 23:55] #489 closed, assigned to exextoc

[2019-08-13 23:57] #589 closed, assigned to exextoc

[2019-08-14 00:01] sharaaU7 commented on #237
This is in the context of Word add-in (agave). I am trying to change the icon for the button, but new icon is not being picked up. I  still see the default icon.

![image](https://user-images.githubusercontent.com/6740088/63054108-18175700-be98-11e9-9b0b-7b70b0154322.png)

So far, I have tried cleaning the cache, renaming file, updating manifest to reflect the new name, making edge browser request

[2019-08-14 00:06] binarykitchen commented on #631
Right, latest version `//unpkg.com/@microsoft/office-js@1.1.29/dist/office.js` resolves this.

[2019-08-14 00:37] jargil commented on #631
This fix is getting deployed already. Thanks everyone who confirmed is working now.

[2019-08-14 00:37] #631 closed, assigned to jjhua-github

[2019-08-14 00:55] jargil commented on #667
@bferreira - you said Office version is 1907, are you on build 16.0.11901.20176?

Alternatively to your manifest to side-load, if you could you try to repro using Script Lab in Excel and send us the script that would also be very useful.

[2019-08-14 02:07] dinglicoding commented on #663
@lliu113  thanks ,
my customer office version is 1907.

today i open my taskpane. it's display nothing too . my office version is 1907.
![image](https://user-images.githubusercontent.com/3963826/62989587-36bb2500-be7b-11e9-83da-ede65ca38e99.png)
and F12 log display
![image](https://user-images.githubusercontent.com/3963826/62989534-ff4c7880-be7a-11e9-9618-112bdd46bb54.png)

[2019-08-14 05:37] MandytMSFT commented on #648
@barisbikmaz  @lumine2008  To clarify ,there are 2 issue in the thread and they are not related.

1. Excel online didn't support imagecoercion 1.1 and 1.2.
2. can't insert images on Excel Online by shape.AddImage.

For 1, as mentioned above, Excel Online didn't support imagecoercion 1.1 and 1.2, we will update the documention.
For 2, the fixing has checked in today, ideally it will be deployed to

[2019-08-14 05:56] hello-chenchen opened #675 "for getTypeAsync api"
why we can get html or text, not both of them or which i want to get. and can i change it? if can, maybe you can provide an api, maybe just like setTypeAsync.
thanks a lot.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 0498adf2-3f86-3520-82c2-df88e6ea4b95
* Version Independent ID: 347c34b6-0586-9ce5-2c84-ae010c27b276
* Content: [Office.Body interface - Office Add-i

[2019-08-14 06:55] bferreira commented on #667
Yes, it is that version
![image](https://user-images.githubusercontent.com/1233578/63000100-9eb83e00-be70-11e9-9568-83671e2afa6a.png)

And the manifest:
[WAPIExcelPlugin.xml.zip](https://github.com/OfficeDev/office-js/files/3500154/WAPIExcelPlugin.xml.zip)
Is there a secure way to send you credentials to our service?

I will try to create a script using Script Lab.

[2019-08-14 09:16] kakusharma commented on #462
Sure, will do.

[2019-08-14 09:34] fabian-bouchy commented on #118
Hi @exextoc,

When this fix will be available in production ?

Thanks a lot

[2019-08-14 09:38] kakusharma opened #668 "getSelectedRegExMatches() doesn't work in the Outlook 2013 desktop client"
Office.context.mailbox.item.getSelectedRegExMatches() returns null in Outlook 2013 desktop experience while returning an expected array of one match in the web client.
## Expected Behavior

Using contextual add-in, when I open the add-in in outlook 2013 desktop client, it should return the array of all the matched texts.

## Current Behavior

Instead of returning the list of the matched texts, its

[2019-08-14 10:36] shis91 opened #669 "[Excel] Worksheet onChanged insert column index 0 causes DataChangeType.rowInserted"
When a user insert first column (index = 0) the worksheet's onChanged event handler changeType is Excel.DataChangeType.rowInserted instead of Excel.DataChangeType.columnInserted.

## Expected Behavior
Inserting first column event trigger should contain changeType === Excel.DataChangeType.columnInserted.

## Current Behavior
Inserting first column event trigger contains changeType === Excel.DataCha

[2019-08-14 11:18] dulange opened #670 "Content add-ins’ focus behavior"
This bug report is connected to the StackOverflow thread [“Excel’s cursor/selection focus after inserting content add-ins”](https://stackoverflow.com/questions/57481847/excel-s-cursor-selection-focus-after-inserting-content-add-ins).

## Expected Behavior
In Excel on the desktop, right after inserting a content add-in, the container of the add-in gets the focus (the resize handles appear and Excel

[2019-08-14 11:23] exextoc commented on #659
@kakusharma I'm currently trying to reproduce your scenario, can you please file a separate issue for the getRegExMatchesByName returning null for Outlook 2013.

[2019-08-14 11:27] kakusharma commented on #659
Sure, for that I already created a new issue.

[2019-08-14 12:44] 4tti opened #671 "#CALC! error appears when referencing Dynamic Array Custom Function in volatile function and using batching"
## Expected Behavior
Formulas are calculated in proper order and no error is shown.

## Current Behavior

When using P&P batching sample with Custom Functions that return Matrix result (dynamic array) and while referencing part of that result it will end up with #CALC! error.

## Steps to Reproduce
Here is gist: https://gist.github.com/4tti/0dba18309a03a32e28b967fc289fe488
Set up report like this:

[2019-08-14 12:53] 4tti opened #672 "Volatile Custom Functions are being recalculated unnecessarily when formatting/structuring sheet"
## Expected Behavior
Volatile custom functions should be recalculated only when required.

## Current Behavior
Volatile custom functions are sometimes calculated in cases when it is not required, e.g. when changing column width, hiding empty row, etc.
In huge reports it might be real issue.

## Steps to Reproduce, or Live Example
Use this GIST: https://gist.github.com/4tti/0dba18309a03a32e28b967fc

[2019-08-14 13:05] sagarpilkhwal opened #676 "Add-ins not showing up on Outlook android app"
Is there any recent change in the manifest syntax for _MobileFormFactor_ ? None of the Outlook add-ins are showing up on Android Outlook application.

[2019-08-14 13:33] glr0221 commented on #658
@wamaina @exextoc any update on this item for today? Thank you very much.

[2019-08-14 15:13] keyur32 commented on #671
Internal bug: #3555586

[2019-08-14 16:14] jargil commented on #584
@nathandpeterson - They're not available through Office.js. Search here to see if someone else had suggested this such API, else feel free to suggest it:
https://officespdev.uservoice.com/

For the other fix you ask about, Office build 16.0.12013 or newer should have it already.

[2019-08-14 16:29] AlexJerabek commented on #675
Hi @hello-chenchen,

Thank you for your question. @ElizabethSamuel-MSFT can help you further with these APIs.

[2019-08-14 17:42] kbrandl commented on #676
@sagarpilkhwal sorry to hear you're experiencing this problem, but appreciate you reporting it. I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for issues like this.

[2019-08-14 17:49] kbrandl commented on #676
@sagarpilkhwal GitHub's **Transfer issue** feature doesn't seem to be working at the moment, so I'm unable to transfer this issue to the **OfficeDev/office-js** repository. I'll transfer this issue when that feature is restored. In the meantime, you might want to keep an eye on the following issue in the **OfficeDev/office-js** repository, as it seems related to what you're reporting: https://gith

[2019-08-14 17:51] kbrandl commented on #658
@exextoc FYI, see related issue here:  https://github.com/OfficeDev/outlook-dev-docs/issues/673. Are you able to provide any update for the customer about this problem?

[2019-08-14 17:59] exextoc commented on #668
Outlook 2013 desktop client does not support DetectedEntity and actually ignores any manifests node under version override 1.1.  Is it possible that your addin is showing up in Outlook 2013 because of other sections of the manifest and are the regex defined there as well?  It would help if you can include the full manifest and a screenshot of your addin running in Outlook 2013.

[2019-08-14 18:05] sagarpilkhwal commented on #676
I'm able to access add-ins like Trello, Slack, etc on OWA and Outlook desktop but on Android device I don't see any add-ins

![Screenshot_20190814-191823~2](https://user-images.githubusercontent.com/20281013/63044333-9a7d3680-beeb-11e9-97e9-39ef63167940.png)

[2019-08-14 18:25] ElizabethSamuel-MSFT commented on #675
@hello-chenchen I recommend that you consider adding or upvoting your API/feature requests on [UserVoice](https://officespdev.uservoice.com/) as that helps us prioritize features.

In the meantime, [getAsync](https://docs.microsoft.com/javascript/api/outlook/office.Body?#getasync-coerciontype--options--callback-) with coercionType set to your preferred CoercionType may be useful for your purpose.

[2019-08-14 18:33] kakusharma commented on #668
[code]
Okay, so contextual add-ins are not supported by Outlook 2013 desktop client? I couldn't find that anywhere in the documentation.

[2019-08-14 19:21] nathandpeterson commented on #623
@exextoc Hi, we are also experiencing this bug in Safari. The height of the iFrame is only 150px. We would appreciate an update on this serious issue. Thanks so much.

[2019-08-14 20:21] jacobx1 opened #673 "Outlook for Mac crashes when setting html containing an hr in a table"
When calling `body.setAsync` while composing a message in Outlook for Mac where the html contains a table with a horizontal rule in one of the cells, the app will crash.

Typical scenario is getting the body contents, modifying, then putting back. The original message has the offending content which causes the crash.

## Expected Behavior
Expected to not crash but, instead, either handle or return

[2019-08-14 21:49] TCourtneyOwen commented on #662
@javierpr71 Thanks for contacting us about this issue.  I just tried out your scenario in the latest generator-office release (1.3.0), and didn't run into any problems. Can you please run "npm view generator-office version" and ensure you are running version 1.3.0.  If not please update generator-office by running "npm install -g generator-office@1.3.0"

[2019-08-14 22:10] JefCurtis commented on #626
@jargil So yesterday (Aug 13th) there was [an update](https://docs.microsoft.com/en-us/officeupdates/semi-annual-channel-targeted-2019#version-1902-august-13) for semi-annual channels. Can you confirm that the fix you described above is included in this release? There is no direct mention of it in the release notes but it does seem to be working on my end. I would like confirmation though as I nee

[2019-08-14 23:06] jargil commented on #626
@JefCurtis - yes, this update contains the fix. This applies to people in the Semi-Annual Channel (Targeted) 2019, other versions of Office, e.g. 2016 need to apply the KB linked in my previous comment.

The fix for settings is mentioned in the update under the "Office Suite: Non-security updates" section:
Fixed an issue in which Setting API doesn't work in the Office JavaScript library in certain

[2019-08-14 23:57] exextoc commented on #668
Correct, Outlook 2013 does not support DetectedEntity (and entire mailappversionoverrides/1.1 is ignored).  Your addin is showing up because of Form node in your manifest.  I will tag this as a doc bug.
In Outlook 2013, there was 'CustomPane' extension point, but that is no longer supported.  See https://developer.microsoft.com/en-us/office/blogs/make-your-add-ins-available-in-the-office-ribbon/

[2019-08-15 07:00] jd-piq commented on #237
Having the same issue in Excel desktop (16.0.11901.20170) 64-bit

[2019-08-15 09:32] RoelVB opened #674 "Excel header/footer not showing immediately"
## Expected Behavior
The inserted/changed Excel header/footer should show up immediately after changing it.

## Current Behavior
After changing a header/footer it doesn't show the change. On mouse over (the header/footer) the change becomes visible. Scrolling also seems to help.
Looks like something has to trigger a (re)render of the header/footer.

## Steps to Reproduce, or Live Example
A small e

[2019-08-15 11:43] hello-chenchen commented on #675
@ElizabethSamuel-MSFT thank you for your support. But, unfortunately, this information is not what i want.

First of all, i want to know why i will get 'text' type in one mac outlook client, and get 'html' type in another mac outlook client, what's the reason cause this different.
And second, 'getAsync' can get the different body context indeed, but it is not useful for me. what i want to is to se

[2019-08-15 15:24] ElizabethSamuel-MSFT commented on #675
@hello-chenchen Thanks for your clarification. I'll get this issue transferred to the office-js repository so that the feature crew can take a look at this (possibly buggy) behavior.

[2019-08-15 17:08] exextoc commented on #675
@hello-chenchen, getTypeAsync is intended to reflect what the user has chosen for the message body. The user can change this on a per message basis.  (Outlook may also decide on html or plain text based on the message the user is replying to.)  There is no 'setTypeAsync' API currently. As @ElizabethSamuel-MSFT noted, you can add or upvote on UserVoice.

As for body.setAsync, as documented, "Invali

[2019-08-15 22:42] JuaneloJuanelo commented on #676
THanks. This is a known issue and the team has been actively working on a fix.

[2019-08-15 22:49] JuaneloJuanelo commented on #676
btw the internal incident tracking this issue is 139217145

[2019-08-15 22:57] kbrandl commented on #658
@glr0221 FYI, per an update posted on related issue #676 just now -- "This is a known issue and the team has been actively working on a fix. The internal incident tracking this issue is 139217145." Just wanted to make sure you were aware of this status.

[2019-08-16 00:02] glr0221 commented on #658
Thank you always @kbrandl for the assist. Thank you @JuaneloJuanelo for updating the #676 ticket. I will update my clients about this too.

[2019-08-16 03:44] gappyp opened #795 "Any plans to bring custom functions to perpetual licenses?"
Subject says it all :)

(Re content in:  [Custom Functions requirement sets - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-requirement-sets#feedback))

[2019-08-16 05:59] exextoc commented on #623
@nathandpeterson the fix has been made and should be available in production within the next 2 weeks.

[2019-08-16 05:59] #623 closed, assigned to lliu113

[2019-08-16 06:19] exextoc commented on #659
@kakusharma I'm unable to repro it in both Compose and Read mode

[2019-08-16 06:34] kakusharma commented on #659
I think I found it. It was because the javascript file where I am initializing the Office was getting loaded twice. I just checked the source and found out. Sorry for the trouble. Closing the issue. Appreciate your help!

[2019-08-16 06:34] #659 closed, assigned to exextoc

[2019-08-16 08:47] hello-chenchen commented on #675
@exextoc , thank you for your comments.

And i will add 'setTypeAsync' on UserVoice. But i think maybe, it is a little big feature for mac outlook client. And i notice in windows 10 outlook client, there is a menu bar called "Format Text", and user can select paste 'As Html' , 'As plain Text' or 'As Rich Text'. I think maybe, it is only windows outlook client feature without mac.

And the reason w

[2019-08-16 09:04] hello-chenchen commented on #675
[if can add a new api for outlook add-ins Office.Body interface to change body type, maybe called setTypeAsync](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/38387839-if-can-add-a-new-api-for-outlook-add-ins-office-bo)

UserVoice track.

[2019-08-16 09:14] kakusharma commented on #668
The same thing is happening on Outlook 2016 too. It's saying "getSelectedRegExMatches" does not exists. And "getRegExMatchesByName" and "getRegExMatches" are returning "null", even though the same thing is working on Outlook web client.

[2019-08-16 09:15] SWDevB commented on #653
Hello, thanks for the hint but the html header is already present. The initialization of excel should call the following function, which it does if called from anything but the **custom functions** in **desktop**).

[code]

So I'm in this case still stuck on the "Please sideload your addin to see app body." and unfortunately still not able to reproduce my initial error when opening from custom fun

[2019-08-16 09:20] hello-chenchen commented on #675
@exextoc , yes, i tested the 'getTypeAsync' api in windows 10 outlook client, By switch to 'Format Text' menu bar, and select paste 'As Html' , 'As plain Text' and 'As Rich Text'. And called 'getTypeSync' separately, the result are 'html', 'text', 'html'.

[2019-08-16 09:29] RuoyingLiang commented on #672
WHen the column width changed, the column may hide. Some formula may changed according to visibility. So those actions will trigger the calculation.

[2019-08-16 09:29] #672 closed, assigned to nobody

[2019-08-16 10:02] saikarthikj opened #677 "How to get source data for XYscatter chart"
Tag your question with office-js or outlook-web-addins
Using Excel.Chart Object able to read Y-axes data but not X-axes data. How to get X-axes data or Source data of chart.
Please refer screenshot.

![chart data](https://user-images.githubusercontent.com/8529680/63160198-d70b7800-c03a-11e9-8412-f3d067ad356b.png)

[2019-08-16 11:54] NikosSherpany commented on #626
My add-in Store submission has been recently rejected due to this error on Word/PowerPoint in Office 2013 on Windows 7. Checked that and the same issue can be observed on Windows 7 x32 in Word 2013 (1..0.5163.1000).

[2019-08-16 11:55] Niko0pl commented on #626
My add-in Store submission has been recently rejected due to this error on Word/PowerPoint in Office 2013 on Windows 7. Checked that and the same issue can be observed on Windows 7 x32 in Word 2013 (1.0.5163.1000).

[2019-08-16 12:13] 4tti commented on #672
@RuoyingLiang and could you explain why e.g. NOW() native and volatile function does not have this issue?
I don't consider this as sufficient answer. Imagine situation when you have thousands or hundreds of thousands of volatile formulas and you will just resize column...

@keyur32  FYI

Edit: and I am not mentioning web requests :)

[2019-08-16 12:25] syun-dymo commented on #660
That solved issue, Thank you.
________________________________
From: smaremanda <notifications@github.com>
Sent: Tuesday, August 13, 2019 5:55 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: syun-dymo <dymosoftware@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Add-In cannot communicate to local hosted windows service with Word version of 1301.XXX

[2019-08-16 12:59] gaelroustan commented on #476
I'm also interested in the status of this issue. Do you have any release plan?

[2019-08-16 13:04] kakusharma opened #678 "Office Api's not working"
I am creating a contextual Outlook Add-In with "ItemHasRegularExpressionMatch" rule. Below are the issues that I am facing:
1. Office.context.mailbox.item.(getRegExMatchesByName |  getRegExMatches) are retrning null in Outlook 2016 desktop client, though its working on web client.
2. Office.context.mailbox.item.body.getAsync as HTML is not returning the mail body.  Instead its just returning me th

[2019-08-16 17:11] exextoc commented on #668
Could you include the build version of Outlook 2016 you are using?  'getSelectedRegExMatches' is part of requirement set 1.6 (https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.6/office.context.mailbox.item) and not all builds of Outlook 2016 support it.

On the issue you are seeing with "getRegExMatchesByName" and "getRegExMatches", are you using the same

[2019-08-16 17:17] exextoc commented on #675
Thanks for adding the UserVoice request and including the scenario and observations there.  Since this is a new API / feature request, we would be tracking in UserVoice, and I am closing this.

[2019-08-16 17:17] #675 closed, assigned to nobody

[2019-08-16 17:24] exextoc commented on #668
@kakusharma I noticed you have added a new post https://github.com/OfficeDev/office-js/issues/678 for issues you see on Outlook 2016.  We will keep this post for 2013 and further discuss 2016 issue on https://github.com/OfficeDev/office-js/issues/678

[2019-08-16 17:31] kbrandl commented on #795
@keyur32 can you please provide feedback about this question? Thanks!

[2019-08-16 17:33] lliu113 commented on #670
@dulange thanks for reporting this!

I tried this out with the People Graph add-in with the following repro steps:
1) Highlighted table
2) Insert > People Graph
3) Data > Select Data
4) Clicked "Create"

Although there is no UI cue that the focus has moved to the workbook (which is most likely a bug), it seems to have picked up the pre-selected range and was successfully able to create a table wit

[2019-08-16 17:38] lliu113 commented on #669
Thanks for reporting the issue @shis91!

Looping in @lumine2008 to follow up

[2019-08-16 17:40] lliu113 commented on #673
Thanks for reporting this @jacobx1! Looping in @macOutlookExtensibility  to follow-up.

[2019-08-16 17:48] lliu113 commented on #674
@RoelVB - thanks for reporting this! Looping in @lumine2008 to help

[2019-08-16 17:51] exextoc commented on #678
'getSelectedRegExMatches' is part of requirement set 1.6 (https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.6/office.context.mailbox.item) and only available on click-to-run versions of Outlook.

For your other issues, could you please try getting updates for Outlook?

[2019-08-16 17:52] lliu113 commented on #677
@saikarthikj - are you able to provide a code snippet?

[2019-08-16 17:57] lliu113 commented on #663
@dinglicoding are you opening the taskpane from an app command button? Is this the same behaviour for other add-ins, or does this only happen for your own add-in?

[2019-08-16 21:31] ElizabethSamuel-MSFT commented on #668
I'll transfer to the office-js-reference repo to handle the request to update the documentation.

[2019-08-18 14:10] YannickRe commented on #633
I'm encountering the same issue in Outlook included with Office 365 ProPlus. It started occurring when we were switched from IE WebView to Edge WebView.
My add-in still works in browser Edge, but fails in Edge WebView with the error `Error: AgaveSink could not find a suitable sink to use`.

As a result, my access token isn't passed to the add-in task pane and we are stuck.

[2019-08-19 05:33] saikarthikj commented on #677
@lliu113 my question is regarding how to get source data used to render the chart using office-js.

[2019-08-19 08:03] javierpr71 commented on #662
npm view generator-office version
    1.3.0

I think this is related to Windows version
WIndows 10 Pro 10.0.18362 Build 18362

I can reproduce this issue in this windows version

[2019-08-19 11:03] Niko0pl opened #680 "PowerPointApi set does not pass the validation"
The PowerPoint Api requirement set (`<Set Name="PowerPointApi" MinVersion="1.1"/>`) does not pass the validation of `office-addin-validator`. The response message is:

However, when debugging using Visual Studio, this requirement set works and allows to sideload the add-in.
Is it a known issue? How can i make it pass the validation?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-19 15:44] mpetro-t opened #679 "ConversationId is 'null' in new OWA on Forward"
Office.context.mailbox.item.conversationId is returning null when we are forwarding email in Outlook UI for web. It works properly in Outlook for Desktop and it was working propertly in old OWA.

Almost exact issue was already reported for Reply functionality (#636) and it was fixed, but for Forward it doesn't work.

## Steps to Reproduce, or Live Example
Steps are identical to linked issue (#636)

[2019-08-19 16:29] AlexJerabek commented on #680
Hi @Niko0pl,
This sounds like an issue with the product. I'm going to transfer this issue to the [office-js repo](https://github.com/OfficeDev/office-js) so the product team can investigate.
Tagging @sumurthy to take a look.

[2019-08-19 17:07] exextoc commented on #679
Closing this as a duplicate. It appears to be due to the same root cause as the following issue:
https://github.com/OfficeDev/office-js/issues/636

[2019-08-19 17:09] exextoc commented on #636
Making a note here: the referenced issue @mpetro-t opened is likely due to the same root cause.

[2019-08-19 17:11] mpetro-t commented on #679
Why is this closed? Issue #636 is fixed and now it is live - as it was stated in it's comments. This issue was not fixed by #636 fix?

[2019-08-19 17:22] mpetro-t commented on #636
Yes, this behavior is observed while Forwarding email too.

p.s. It seems that reading conversation Id is now ok while replying.

[2019-08-19 17:42] david-davidson commented on #599
@exextoc @kbrandl  @lliu113 Hi there! It _looks_ like this fix is live; I can no longer reproduce the problem. 🎉

Is it correct that the fix has shipped?

[2019-08-19 19:12] mpetro-t commented on #679
Based on this comment https://github.com/OfficeDev/office-js/issues/636#issuecomment-517650107 I would think that this "Forward" bug is not a duplicate. Fix for #636 was rolled out today to Production but #679 behavior happens. Can you please re-open this?

[2019-08-19 20:15] david-davidson commented on #402
Hi there @macOutlookExtensibility, thanks for looking into this!  :)

Wanted to check in and see if there's a ballpark timeline around the fix. I'd be happy to help in any way!

[2019-08-19 22:02] jargil commented on #667
@bferreira - could you try updating to 16.0.11901.20218 and post back if you see any difference?

[2019-08-19 23:01] nathandpeterson commented on #474
@exextoc Any update on this? I am also finding that bullet items are not preserved in Mac Outlook, which means that we cannot determine the styles that users are applying to their emails. Thanks!

[2019-08-20 00:27] linaelf commented on #380
I have the exact same issue as yours. Did you solve it?
JS in host page:
[code]

JS in Dialog:
[code]

[2019-08-20 03:56] AnjanaValsan commented on #402
Hello David, we are targeting end of Q4 to get this resolved. Thanks!

[2019-08-20 05:52] htryggva commented on #631
@jargil @jjhua-github I can confirm that it's working for me (Version 1908). Thanks!

[2019-08-20 08:00] exextoc commented on #679
Thanks for reporting this issue regarding conversation Id being null in case of message forwarding scenario. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-08-20 10:48] 4tti commented on #672
@RuoyingLiang, @keyur32 : please reconsider this. It happens even when applying cell format, etc.

[2019-08-20 14:14] px-wmeng opened #681 "GetRange with sheet name include '-' will cause error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When I try to update value with a range string 'Sheet-2!A1:B3' will generate error.

I reproduce this issue with script lab , here is the code sample. I am using the latest officeJs l

[2019-08-20 15:09] kranti3033 commented on #626
@jargil We updated both 2016 and 2019 after your post regarding the availability of the update. It was worked fine in 2019 after the update. But for 2016 we still see the same old issue. We did testing in 3 machines with 2016 and all of them showed a similar error.
Below is the updated version for 2016.
![image](https://user-images.githubusercontent.com/53872173/63359487-75952300-c332-11e9-9f7e-2b

[2019-08-20 17:03] kbrandl commented on #662
I'm transferring this issue to the **OfficeDev/generator-office** repo.

[2019-08-20 17:13] kbrandl commented on #599
@david-davidson thanks for reaching out about this.

@exextoc -- can you please confirm whether (or not) the fix for this issue has shipped? If it *has* shipped, please comment and close this issue. Thanks!

[2019-08-20 19:23] vijaypemmaraju opened #682 "OnSend event appears to not fire on Outlook for Mac"
The [OnSend docs](https://docs.microsoft.com/en-us/outlook/add-ins/outlook-on-send-addins?tabs=windows) appear to suggest that the OnSend event is supported on Outlook for Mac on an Office 365 Subscription. I am developing an addin that adds some html and, I followed the steps in the above link to add the extension point for the `ItemSend` event. The functionality works well in Outlook 365 Web, bu

[2019-08-20 21:58] jargil commented on #626
@kranti3033 - for Office 2016, you say "similar error". Could you clarify which exact error?

[2019-08-20 22:12] jargil commented on #657
Closing this one. Thanks for taking the time to create this report/issue.

[2019-08-20 22:12] #657 closed, assigned to jargil

[2019-08-21 01:39] yanli0303 commented on #615
Hello @exextoc Any updates on this issue?

[2019-08-21 03:24] RuoyingLiang commented on #672
@4tti The trigger point should same as build-in fomular. If not, it should be an issue. As NOW() may doesn't change value when you do the action( it the same minute so you cannot see the value refreshed), suggest to use RAND() to compare. We tried in our machine and didn't see inconsistency. Please let me know if still see difference. A video will be a great help for us to do further investigation

[2019-08-21 03:30] dinglicoding commented on #663
@lliu113
are you opening the taskpane from an app command button?
yes
my excel also add Script Lab ,but it often can't open in china.
next time i try other add-ins.

does this only happen for your own add-in?
no, other people has same problem. but it not often happen.

one day my customer can not open.but my computer can open. the only different is location and network.

[2019-08-21 03:45] AnjanaValsan commented on #673
Hello @jacobx1 , thanks for reporting! we can repro this bug and currently we do not have a workaround for this apart from suggesting you to keep <hr> outside of the table. We are working with another team to get this resolved. I do not have an ETA at the moment. We will update the post here as soon as its fixed

[2019-08-21 03:54] AnjanaValsan commented on #474
Hello @nathandpeterson , we do not have an accurate ETA. Late Q4 is what we are targeting.
thanks,

[2019-08-21 04:49] catchingyu commented on #681
Thanks for reporting.
It is an known bug, we tracked it through the Bug 3567629 .

[2019-08-21 06:07] kranti3033 commented on #626
@jargil - For 2016, after updating the excel with the patch provided in the above link .. we are still getting **{"name":"Internal Error","message":"An internal error has occurred.","code":5001}** error.

[2019-08-21 07:42] 4tti commented on #672
@RuoyingLiang: you are correct, my mistake. I either had manual calc in one case or I accidentally used Format Painter tool (which triggers recalculation for some reason). Yes, I tried even RAND() previously...
Sorry for confusion!

[2019-08-21 07:59] geilerdev commented on #626
We are running version:1907 build:11901.20218 and still get an 'permission denied' error when saving async. This is both 2016 and 2019 clients.

Office.context.roamingSettings.set('apikey', key);
Office.context.roamingSettings.saveAsync( saveCallback );

the error code is 9019.

[2019-08-21 08:46] exextoc commented on #599
Yes, we shipped the fix. Thanks @david-davidson for confirming that problem is resolved for you.

[2019-08-21 08:46] #599 closed, assigned to exextoc

[2019-08-21 08:57] AnjanaValsan commented on #682
Are you on insiders Fast channel? onSend for Outlook Mac is currently in preview (limited to Insiders fast channel)

https://insider.office.com/en-us/join/mac

[2019-08-21 13:19] jacobx1 commented on #673
@AnjanaValsan My current workaround is to strip `<hr />` in tables by using the selector `table hr`. I am only doing this on the Mac client. I decided the formatting loss is better than having the client crash.

I'm looking forward to a fix so I can remove this workaround 😄

[2019-08-21 13:28] Niko0pl commented on #680
@sumurthy , any news here? I can't submit my add-in cause validator on Seller dashboard throws the same message.

[2019-08-21 13:55] bferreira commented on #667
@jargil I have updated but it is still not working.
I create the https://gist.github.com/bferreira/1777edb4a7ab3127f458c7bd59047572 , but this works. I have no html or react component, of course.

It needs to be something not working well with the react app itself.
What could cause this error? I don't have any dialog window or am I creating any in the whole code.
Also when using the same version o

[2019-08-21 14:07] syedaliahsan opened #683 "Folders area does not refresh after the addin (using EWS) creates new folder(s)"
## Expected Behavior
Newly created folders are visible in the Folders area.

## Current Behavior
Folders area does not refresh so newly created folders are not visible until the OWA web-page is reloaded in the browser.

## Steps to Reproduce, or Live Example
1. Install the demo add-in from https://newdev.timesolv.com/Integrations/addin/SimpleVersion.xml
2. Open OWA.
3. Select an email message.
4.

[2019-08-21 16:49] jargil commented on #626
@geilerdev - please also verify that you're using the latest version of Office.js available from the CDN.

@kranti3033 - the internal error you're seeing was happening on 2019 only and for people on Windows 10 with May's update. For 2016 the fix addresses a permission denied error. Please double check you have the latest version of Office.js.

I'm keeping this issue open while we're only waiting f

[2019-08-21 16:55] VamsiKrishnaNori opened #684 "Unexpected Behavior of Context.sync().then() after update of Excel build (16.0.11901.20218)"
**Problem:**
Excel web Add-in not executing functions in context.sync().then()

**Context:**
We have built an Excel web add-in using office.js which loads data into the Excel sheet. The ‘then’ statement which has to execute after context.sync() call is not executing after recent update of Excel build (16.0.11901.20218). It is working fine when we reverted to earlier build (16.0.11901.20176) of Exc

[2019-08-21 17:59] arturo3 commented on #450
I've also experienced what @Nagapito has detailed.

In my scenario, I'm using Office.js to set/retrieve custom properties. There is no problem saving but I do see the "caching" issue when retrieving properties in the Windows/Mac desktop client. I'm not able to retrieve new custom property values even after restarting either client.

[2019-08-21 20:21] vijaypemmaraju commented on #682
That's good to know, thanks @AnjanaValsan! FYI, the docs say: `This feature is also available in preview on Windows and Mac connected to an Office 365 subscription`, so it's not clear that this feature is limited to the insiders fast build. I'll close the issue.

[2019-08-21 20:21] #682 closed, assigned to nobody

[2019-08-21 20:37] sureshbrp commented on #666
Hi,
Is there any update on this issue?

[2019-08-21 21:15] vijaypemmaraju commented on #682
@AnjanaValsan just out of curiosity: do you know when the OnSend feature will be generally available?

[2019-08-22 04:49] catchingyu commented on #684
Can you share with us the Windows Excel Version for reproduce this issue ? It will be great you could also provide us a screen shot on the Version.
Meanwhile, Is it possible you can share with us a gist for the example reproducing the above issue?

I tried with the very basic function of context.sync().then on the Windows Excel Version 1909 (Build 12005.20004), it works well.

async function setup

[2019-08-22 05:03] jargil commented on #633
@TheSamsterZA - The problem with your GitHub sample is that you have a couple of invalid characters in your dialog.html. After making below change, I see that upon clicking on "Send message to parent", the page navigates to Index.html, sends the message and closes:

diff --git a/src/dialog.html b/src/dialog.html
--- a/src/dialog.html
+++ b/src/dialog.html
@@ -21,7 +21,7 @@
     function onClick()

[2019-08-22 06:21] geilerdev commented on #626
@jargil - we load javascript directly from this url: https://appsforoffice.microsoft.com/lib/1/hosted/Office.js

[2019-08-22 07:24] YannickRe commented on #633
@jargil I would be VERY surprised that changing the backticks to normal single quotes would solve this issue, and even if it does then I believe it is a sign of a deeper rooted problem.
The backticks are a sign of template literals (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) that would allow for easy string interpolation. Now, if you change it to normal si

[2019-08-22 10:57] VamsiKrishnaNori commented on #684
![image](https://user-images.githubusercontent.com/29355955/63509348-9360b480-c4f9-11e9-8f34-9baf43afead3.png)

Please find the Microsoft Excel Version as seen in the snapshot above, for whcih we are facing the issue. Could you please try the same function on this version?

FYI, This version was available few days ago. And the newer version 1909 is not available yet to update.

[2019-08-22 13:11] jargil commented on #633
On a second inspection, the sample as is is throwing "SCRIPT1014: Invalid character dialog.html (24,17)" on the IE runtime (pre Windows May update) which is throwing your DOM into an error state (e.g. onClick is left undefined) and additionally blocking the dialog WebView instance from loading all the required JavaScript, thus the AgaveSink error you see. Without the string replacement happening t

[2019-08-22 13:20] TheSamsterZA commented on #633
@jargil Thanks for your detective work, that is an interesting find.

It is quite late here (11 PM) so I will verify your suggested fix tomorrow. Please hold off on closing this issue until then.

[2019-08-22 13:26] jargil commented on #633
Note that I was incorrectly using the previous IE runtime when I posted the first part about changing the quotes, sorry about that. On Edge WebView I cannot reproduce what you're seeing so I'm not able to really help much other than confirm that your sample works for me.

[2019-08-22 14:45] ntranvinh opened #685 "Outlook Add-in command is not working well and consistently on Android"
I am developing Outlook add-in using add-in command to execute a function.
The test version of the add-in will open dialog then user can choose to click OK or cancel then another dialog will appear and user can click OK to complete the action.
The add-in works well on iOS and web, but not on Android

## Expected Behavior

I expected the add-in can work on web, iOS, Android
1. The add-in will show

[2019-08-22 15:11] YannickRe commented on #633
@jargil That explains it, since IE doesn't support template literals.
I don't have an issue with the sample @TheSamsterZA posted, but I do have this issue in my add-in (only in the Edge WebView, not in Edge browser or any other browser).
I'll open a new issue once I'm able to provide a simplified, reproducible sample. I'm thinking mine has to do with a redirect to a different domain (for authentic

[2019-08-22 17:29] exextoc commented on #450
@Nagapito @arturo3 Is this issue reproducing when you turn cached mode off to online mode?

[2019-08-22 17:31] #665 closed, assigned to exextoc

[2019-08-22 17:33] exextoc commented on #678
Does the body.getAsync issue reproduce on multiple emails?

[2019-08-22 18:47] dankurtzGR opened #686 "After updating to Microsoft.Office.js 1.1.0.15 getting an error loading scripts"
After updating our nugget package to Microsoft.Office.JS 1.1.0.15 -  Office.JS reports a console error and it no longer fully loads

## Current Behavior
Console error :  MicrosoftAjax.js is not loaded successfully.

This appears because in the most reference version of this file the method to load in additional scripts - the code now adds this attribute to the <scripts> element calls -    f.setAtt

[2019-08-22 19:34] Nagapito commented on #450
Yes, disabled cache mod still caused it.
I even tried to fully reinstall office, in the hopes it somehow would fix himself since I also started having other issues with outlook. (cant right click on the addin and see the context menu so I can attach a debugger and F12 tool stop detecting the add-in browser plugin...)
I had to setup another machine with a fresh installation of windows and office to

[2019-08-22 20:41] dankurtzGR opened #687 "After upgrading the Microsoft.Office.Js Nuget package from version 1.1.0.12 to 1.1.0.15, there were multiple compiler errors"
After upgrading the Microsoft.Office.Js Nuget package from version 1.1.0.12 to 1.1.0.15, there were multiple compiler errors.  We resolved the compiler errors by removing a file that was installed by the package, office-with-first-party.d.ts

## Expected Behavior
Adding the package to a site, should compile by default

## Current Behavior
There are .TS files that compile and create the same code a

[2019-08-22 21:05] ghost opened #688 "Selecting Addin while editing text in FormulaBar Crashes Excel"
## Steps to Reproduce, or Live Example

1. Insert the Addin to Excel File
2. Click on Formula Bar add some text
3. Then try selecting the Addin.

Excel Crashes with error "Reference isn't valid"

## Your Environment
Excel Desktop 11929.20182 Click-to-Run
Windows 64 Bit.

## Useful logs

The following dialog shows up as we navigate through the excel and makes Excel completely unusable until we fina

[2019-08-23 02:38] catchingyu commented on #688
Is it possible for you to provide us more information on this issue? Which AddIn you are using?
Thanks a lot for the support.

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online

[2019-08-23 08:48] VamsiKrishnaNori commented on #684
To add more details. We have seen the issue affect if you are having more than 20 cells updated.

[2019-08-23 12:15] VamsiKrishnaNori commented on #684
The gist of the function which we are using is We paint data values in rows and columns from data response object(This is received from the database).

We are using two loops one for rows and other for columns to populate the data. Office.JS worksheet.getCell is used to get excel object reference and populate data.

The below code snippet is one example case where it is failing. Instead of data fr

[2019-08-23 23:39] davidchesnut commented on #687
Hi @dankurtzGR thanks for bringing this to our attention! We'll take a look and get back to you.

[2019-08-23 23:41] davidchesnut commented on #686
Thanks @dankurtzGR! looks like this is related to #687 we'll take a look and get back to you

[2019-08-23 23:44] davidchesnut commented on #685
Hi @ntranvinh, thanks for taking the time to document this issue. We'll take a look and get back to you. Thanks!

[2019-08-23 23:50] davidchesnut commented on #683
Hi @syedaliahsan, thanks for letting us know about this issue. We'll take a look and get back to you.

[2019-08-24 00:03] davidchesnut commented on #677
Hi @saikarthikj, I see the [stackoverflow thread](https://stackoverflow.com/questions/57522986/get-source-data-for-xyscatter-chart) was created. I assigned this to @lumine2008 to follow up and close. Thanks!

[2019-08-26 03:54] exextoc commented on #683
Thanks for reporting this issue regarding Folders area not refreshing. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-08-26 06:37] niteshgolchha85 commented on #651
Closing as there is no response from the the issue author since couple of weeks. @Ballzer0 Please feel free to reopen the issue.

[2019-08-26 06:37] #651 closed, assigned to niteshgolchha85

[2019-08-26 06:38] niteshgolchha85 commented on #434
Closing since there hasn't been any response from the issue poster. @Edward-Zhou Feel free to reopen the issue if the issue still persists.

[2019-08-26 06:38] #434 closed, assigned to niteshgolchha85

[2019-08-26 07:23] david-ps commented on #391
@lliu113 @lumine2008 - any update on the proposed fix and the new build ETA?

[2019-08-26 08:13] kakusharma commented on #678
Everything worked since I updated the Outlook 2016. Thanks for the help.

[2019-08-26 08:13] #678 closed, assigned to exextoc

[2019-08-26 13:44] lumine2008 commented on #677
Thanks @saikarthikj, we have logged a feature request(3566367). we will need to evaluate the right priority for this feature.

[2019-08-26 13:53] lumine2008 commented on #674
Thanks @RoelVB for your post.  when i use your code, i can set the page setting.
![image](https://user-images.githubusercontent.com/26398035/63695997-650e0c80-c84c-11e9-9fb5-d4d50593d161.png)

so I am not quite sure if i understand your scenario correctly, it would be helpful if you could share a screen shot for your current behavior. Thanks.

[2019-08-26 16:40] arturo3 commented on #450
@exextoc The issue is resolved when cached mode is turned off. At least for the Windows desktop client. After some research, I found out that Outlook for Mac always runs in cached mode. Are there any workarounds for the Mac client that you know of?

[2019-08-26 17:00] jargil commented on #633
@TheSamsterZA - I cannot repro neither by following up your repro steps or by using your GitHub sample. Please let me know if you have any further questions or follow ups.

[2019-08-26 17:05] jargil commented on #667
@bferreira - thanks for the follow up. Your gist sample works fine in Script Lab. Were you able to also make it work with your add-in?

If you're still having issues, I can help take a quick look, you said you needed to share credentials to your service, feel free to e-mail details here: dxipfb@microsoft.com
Personnel monitoring that e-mail address will forward me the information.

[2019-08-26 17:12] jargil commented on #626
@geilerdev - please open a new issue with all your repro steps and information for us to debug and follow up separately. If you  can provide a basic sample add-in that'd be super useful.

[2019-08-26 17:56] lindalu-MSFT commented on #632
Thanks @Zlatkovsky and @sumurthy , can this issue be closed?

[2019-08-26 17:57] lindalu-MSFT commented on #677
Thanks @lumine2008 ! Leaving this issue assigned to you for now. Thanks for logging the feature request.

[2019-08-26 20:08] JefCurtis commented on #626
@jargil I can confirm that we are still seeing this error in Outlook 2016. The version that I'm testing has been upgraded using [this link](https://www.microsoft.com/en-us/download/details.aspx?id=100056). We are pulling in the OfficeJS library directly from the [CDN provided](https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js).

Outlook 2016 version |
-- |
![image](https://user-images.g

[2019-08-26 22:19] kbrandl commented on #660
Closing this issue, per @syun-dymo's most recent comment.

[2019-08-26 22:19] #660 closed, assigned to weshi

[2019-08-26 22:43] wandyezj commented on #687
Hello @dankurtzGR

Thank you for your patience,

I have deployed a new version of the package.

Could you please check that the latest version resolves the build errors?

[2019-08-26 22:43] exextoc commented on #655
Could you provide the build numbers for the Outlook desktop clients in which you are seeing this issue?
Also, could you add the lines of code where you call displayDialogAsync?

[2019-08-26 23:09] jaymaskell commented on #655
Here is the product information.

[cid:image002.jpg@01D55C28.99738670]

Code calling displayDialogAsync:

                var clHost =auth.dev.mitel.io;

function openDialog() {

    loggingInStatus();

    authCode = null;
    dialog = null;

  var redirectURL = 'https://staasf-staging4.shoretelsky.com/outlook-addins/calendar/authRedirect.htm';
  var authUrl = '#https://' + clHost + '/authorize?a

[2019-08-27 00:17] TheSamsterZA commented on #657
Hello @jargil,

Apologies for the late reply on this. Life happens. :)

I searched high and low and could not find this registry key. Do you perhaps have more information about where I should look?

Please forgive my ignorance, but why is it that this does not happen when debugging using F12 Tools with breakpoints? There is clearly a difference here, and I believe the way Office now handles debugg

[2019-08-27 00:42] jargil commented on #657
@TheSamsterZA - thanks for your feedback.

When you're in development mode, say loading from a local manifest, you should be able to test your add-in end to end before submitting to the Office store, that includes testing for performance issues that could be flagged by Office.

Try adding the following key:
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Office\16.0\Wef]
"AlertInterval"=dword:00000000

Ple

[2019-08-27 01:12] adam-harwood commented on #322
Can we get a status update on the status update?

[2019-08-27 01:23] pkkj commented on #533
The reason is, in IE, Office.js is using a special implementation of **Promise**, which uses MutationObserver to schedule a task "in idle". However, MutationObserver has weird issue in IE and sometimes it gets stuck at the very beginning. Therefore, setting MutationObserver =null can force the Office.js to use the most native solution: setTimeout(0, func()) to schedule a task "in idle".

[2019-08-27 02:52] jargil commented on #626
@JefCurtis - could you check that the file versions listed in the KB for Office 2016 match the versions you see in your machine where you repro this?
https://support.microsoft.com/en-us/help/4475551/august-6-2019-update-for-office-2016-kb4475551

For example osf.dll should be version 16.0.4888.1000.

[2019-08-27 05:39] 3dot1four opened #691 "[Perf] AddIn infra goes in inconstant state on adding multiple AddIns"
## Expected Behavior

We are developing an AddIn for Excel. On Adding multiple instances of AddIn on different sheets the AddIn infra kind of crashes and keeps restarting all the AddIn instances. I believe there should be some optimization which can give more cycles to AddIns which are in view and do lazy load of AddIns which are not in view.

## Current Behavior

All the AddIns starts to load tog

[2019-08-27 15:24] Sheikz opened #692 "Office.context.ui.messageParent does not work on Internet Explorer"
It works fine on Chrome, but it does not work on Internet Explorer.
The dialog opener does not receive any message upon invocation of the method in the dialog box.

It is also not working in Outlook Desktop application, which is based on IE

[2019-08-27 16:04] Rick-Kirkham commented on #692
We use the office-js-docs-pr repo to track issues with the documentation. Since this is about the framework, not the documentation, I have transferred it to the office-js repo.

[2019-08-27 17:30] lliu113 commented on #655
@jaymaskell  - thanks for providing the code snippet! It looks like you are correctly using the API - we are debugging and will respond once we know more.

[2019-08-27 18:12] JefCurtis commented on #626
@jargil Yes, the file versions do match what is listed in the release notes.

`osf.dll` as an example |
-- |
<img src="https://user-images.githubusercontent.com/3892972/63796154-55c5a800-c8ba-11e9-87dc-74c245cf105a.png" width="350px"> |

[2019-08-27 20:10] dankurtzGR commented on #687
I see in the new version the file we removed manually to workaround the issue is no longer present in the the latest.  I also see that MicrosoftAjax.js is removed.
We will test and check the results.  I assume this issue would be resolved, but I am not sure about #686 since the error in the debug console was with the loading of other scripts due to the crossOrigin attribute

[2019-08-27 20:38] wandyezj commented on #687
Thank you @dankurtzGR for the quick followup,

Please let us know if you continue to see these issues after the update.

[2019-08-27 22:16] exextoc commented on #655
The display dialog is correctly redirecting to the URL "https://auth.dev.mitel.io/authorize...". The page is not loading correctly, but there are no errors in the console for the dialog. Are you handling exceptions (such as script errors) that might be occurring?

[2019-08-27 22:20] exextoc commented on #692
We were not able to repro this issue in Desktop or IE. What is the build number for your Outlook desktop client? Do you see any errors in the console for IE?

Also, you can try clearing your cache to get the most recent version of office.js from the CDN.

[2019-08-27 22:47] jaymaskell commented on #655
Not sure since this is not my application.  The application is a webpacked Angular application.
It does not explain why the application works properly with IE 11 (OWA) as the client yet fails in the Outlook IE 11 environment.  I did verify the IE build numbers are the same in the two environment.  Are there other IE restrictions when running in the Outlook client which could cause this failure?

[2019-08-27 23:05] jargil commented on #626
@JefCurtis - thanks for confirming the version. We're working on redeploying the KB with the proper binaries that contain the fix. I'll post back here once that's available.

[2019-08-28 00:00] ghost commented on #600
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #583
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #415
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #410
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #394
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #397
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #381
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #312
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #284
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #241
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 00:00] ghost commented on #224
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-28 02:02] kbrandl commented on #394
Please ignore the previous message from **msftbot**. The **Needs: author feedback** label was incorrectly applied to this issue; I've removed that label and this issue is no longer marked as stale.

[2019-08-28 02:04] kbrandl commented on #312
Please ignore the previous message from **msftbot**. The **Needs: author feedback** label was incorrectly applied to this issue; I've removed that label and this issue is no longer marked as stale.

[2019-08-28 02:06] kbrandl commented on #224
Please ignore the previous message from **msftbot**. The **Needs: author feedback** label was incorrectly applied to this issue; I've removed that label and this issue is no longer marked as stale.

[2019-08-28 02:07] kbrandl commented on #397
Please ignore the previous message from **msftbot**. The **Needs: author feedback** label was incorrectly applied to this issue; I've removed that label and this issue is no longer marked as stale.

[2019-08-28 02:09] kbrandl commented on #415
Closing this issue, per @JuaneloJuanelo's comment that this behavior is "by design".

[2019-08-28 02:09] #415 closed, assigned to danielgwilson

[2019-08-28 02:12] kbrandl commented on #583
Please ignore the previous message from **msftbot**. The **Needs: author feedback** label was incorrectly applied to this issue; I've removed that label and this issue is no longer marked as stale.

@Warsame-Egal if you're able to answer @exextoc's most recent question in this thread, that might help with troubleshooting. Thanks!

[2019-08-28 04:07] dzwillia opened #694 "Excel: Custom Functions installation error message contains a 404 link"
## Expected Behavior

Expected the link in the error message to point to a valid docs page.

## Current Behavior

The link in the error message (https://aka.ms/customfunctions-troubleshooting) points to a 404.

![excel-online-add-in-error](https://user-images.githubusercontent.com/1385356/63825111-6ceeaf00-c927-11e9-8f96-701ca5f0719e.png)

## Steps to Reproduce, or Live Example
Follow the steps in

[2019-08-28 04:16] keyur32 commented on #694
Fixed! Sorry we had issues with the link.

[2019-08-28 06:40] ntranvinh commented on #685
hi @davidchesnut , @exextoc , any updates please?

[2019-08-28 09:28] bferreira commented on #667
No @jargil it does not work on the add-in. Probably something there that I cannot reproduce.
I have just sent you the credentials and the steps to test it.
Let me know if you need more information or if something is not clear.

Thank you!

[2019-08-28 10:38] RoelVB commented on #674
@lumine2008 I've made a short video:
![Header_text](https://user-images.githubusercontent.com/10999128/63848467-271a0100-c990-11e9-80a5-a39b61058c6e.gif)

As you can see something else triggers the change.
I'm using the developer tools for this demo, but I'm seeing the exact same thing when doing this from an add-on.

[2019-08-28 13:06] georgechr opened #695 "Return type matrix for Excel custom functions"
Return type matrix for custom functions still requires the user to select the area where the data will be returned and enter the formula using the Ctrl+Shift+Enter combvination.

In a comment by one of MS people on stackoverflow it was mentioned that this might not be required in the Excel JS custom functions release: https://stackoverflow.com/questions/47396809/excel-js-custom-function-does-not-r

[2019-08-28 16:11] dzwillia commented on #694
Thanks! I saw you had updated the README to include the new link so figured it was just lost in the mix. :-)

From: Keyur Patel - MSFT <notifications@github.com>
Sent: Wednesday, August 28, 2019 12:16 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Dave Williams <dave@flex.io>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Excel: Custom Functions installation

[2019-08-28 16:14] #694 closed, assigned to nobody

[2019-08-28 17:47] dankurtzGR commented on #687
I am no longer seeing the compile errors in the new version

[2019-08-28 17:47] #687 closed, assigned to keyur32

[2019-08-28 20:53] kbrandl commented on #636
@AnjanaValsan if the fix for this issue has been deployed, can you please comment here, update the label (status: fixed) and close the issue? Thanks!

[2019-08-28 20:59] kbrandl commented on #632
Closing this issue, per @Zlatkovsky's most recent comment. Please feel free to comment here if you feel it should be reopened.

[2019-08-28 20:59] #632 closed, assigned to sumurthy

[2019-08-28 21:02] kbrandl commented on #621
Closing this issue, as it seems like it's been addressed via the comment thread.

[2019-08-28 21:02] #621 closed, assigned to RuoyingLiang

[2019-08-28 21:11] kbrandl commented on #601
Closing and marking as 'not actionable', per @tfjy2008's most recent comment.

[2019-08-28 21:11] #601 closed, assigned to weshi

[2019-08-28 21:16] kbrandl commented on #585
@keyur32 are you able to provide input on this issue (or suggest someone who can)? Thanks!

[2019-08-28 22:32] jargil commented on #667
@bferreira - I've received the info. Will update you here soon. Thanks!

[2019-08-28 22:38] AlexJerabek commented on #394
Pinging @weshi for updates. Until the investigation is completed and there is information for the doc update, I'm going to un-assign myself from this issue. Please reassign me once progress has been made.

[2019-08-28 23:38] exextoc commented on #655
There should not be any restrictions on IE when running in the Outlook desktop client.

We debugged your add-in from the platform side, and we did not see any issues with our platform. We did find an error: "Error: Unspecified error" when calling replaceState. The internal Outlook desktop IE browser has does not support the History API. The history.replaceState function is visible but will just th

[2019-08-29 00:53] jaymaskell commented on #655
Thanks.

Can you tell me what other JavaScript API's are not supported in the Outlook desktop IE browser?
These differences should be documented in the displayDialogAsync browser environment since may web applications expect these APIs to exist.

How did you debug this issue?  Is there something more we could have done to find these types of issues?

[2019-08-29 03:10] RuoyingLiang commented on #671
@4tti Thanks for reporting this issue. We fixed this  in version 1908 (Build 11929.20254). Please let me know if this issue still there in build newer than that version.

[2019-08-29 03:10] #671 closed, assigned to keyur32, RuoyingLiang

[2019-08-29 04:17] exextoc commented on #636
This issue has been Fixed so closing it.

[2019-08-29 04:17] #636 closed, assigned to exextoc

[2019-08-29 07:39] 4tti commented on #671
@RuoyingLiang : yep, I can confirm it seems to work. Good job!

[2019-08-29 13:34] glr0221 commented on #676
Hello Microsoft, @kbrandl @JuaneloJuanelo  any updates on this? Thank you very much. :D

[2019-08-29 14:23] lumine2008 commented on #691
@rohitrewa , we would like to have local repro for this issue. so could you please share us your code or your gist (preferred) or provide us the following information. thanks

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:

[2019-08-29 15:14] gch1234567 opened #696 "Excel-addin- Office API Javascript - office.js warning and telemetryproxy.html not found"
0

I tried to load my excel-addin on chrome browser.

I have added office.js api and I am getting warning and error in console as warning: Warning: Office.js is loaded outside of Office client Error: Failed to load resource: the server responded with a status of 404 (Not Found) telemetryproxy.html

I checked in the network tab and the error: https://telemetryservice.firstpartyapps.oaspapps.com/tel

[2019-08-29 15:20] lumine2008 commented on #696
Thanks @gch1234567 , i am not sure if i understand your issue.
as i replied your post in stackoverflow. looks like this URL has problem? it cannot open in browser.

could you please share us your code or your gist (preferred) or provide us the following information.  therefore we can have a local repro. thanks

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

[2019-08-29 17:42] exextoc commented on #655
If you would like to see what JavaScript APIs are supported for your version of Outlook, you can look at what requirement sets are supported [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#clients), and then view the supported APIs for those requirement sets.

The History APIs are not one of the JavaScript APIs for Office. The hist

[2019-08-29 19:07] kbrandl commented on #570
@lumine2008 if this issue has been fixed, can you please comment here to indicate such, and close this issue? Thanks!

[2019-08-29 19:10] kbrandl commented on #567
@Vivekananda-Athukuri apologies for the slow response, looks like this issue was overlooked until now. @weshi can you please investigate? Thanks!

[2019-08-29 19:17] kbrandl commented on #564
@ndreisg apologies for the slow response, looks like this issue has been overlooked until now. Are you still having this issue (with newer builds of Office)?

Adding @tutieu to investigate the issue you've reported with Excel, and @jargil to respond to your question about whether or not Edge WebView control will also come to Office 2016.

[2019-08-29 19:19] kbrandl commented on #558
@keyur32 was this issue resolved by you connecting directly with @marcboivin to troubleshoot? If yes, can you please comment here and close this issue? Thanks!

[2019-08-29 19:21] kbrandl commented on #552
@lumine2008 is there any update you can provide on this issue?

[2019-08-29 19:23] kbrandl commented on #549
@dinglicoding does @lumine2008's feedback effectively resolve this issue?

[2019-08-29 19:25] kbrandl commented on #548
@dinglicoding did the information that @lumine2008 provided unblock you, or do you still need help with this issue?

[2019-08-29 19:27] kbrandl commented on #547
Closing this issue, as it seems that @lumine2008 provided info that answers the question.

[2019-08-29 19:27] #547 closed, assigned to lumine2008

[2019-08-29 19:28] kbrandl commented on #545
@misaunde apologies for the slow response, looked like this issue has been overlooked in OfficeDev/office-js until now. @tutieu is this something that you or someone on your team can investigate? Thanks!

[2019-08-29 19:32] kbrandl commented on #540
@tfjy2008 looks like @dinglicoding has provided the details you requested -- are you able to resume investigation now? Thanks!

[2019-08-30 07:40] ntranvinh commented on #685
More information that may help, the dialog webpage also use reactjs. We use webpack for bundling the script. Please note that it works well on iOS and owa, except Android.

Here is the code for demonstration:

 dialog html:

[code]
dialog.js

[code]
success-owa

[code]

Here is the code for openning dialog

[code]

I also inject Sentry to catch the error if any. Sometimes the add in works well, th

[2019-08-30 08:00] ghost commented on #391
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-30 09:32] RuoyingLiang commented on #695
Thanks for reaching out. Custom function support to return array as result in Excel desktop. for example:
function testFunc(): number[][] {
  return [
    [Math.floor(Math.random() * 5) + 1, Math.floor(Math.random() * 5) + 1],
    [Math.floor(Math.random() * 6) + 1, Math.floor(Math.random() * 6) + 1]
  ];
}
Could you try on Excel in desktop? If it's not working, could you share your build version

[2019-08-30 12:55] kbrandl commented on #391
Please disregard the recent comment from @msftbot; this issue was mistakenly labeled as "Needs: author feedback". I've updated the labels to accurately reflect the status of this issue, so it is no longer marked as stale (and not at risk of being automatically closed).

[2019-08-30 13:07] harri-rajala-koivu-solutions opened #697 "context.sync() hangs when it is reading values from Range (Office 1908)"
ExcelJS (Office version 1908) hangs in context.sync when it is reading values from Range object. Office version 1907 works fine.

## Expected Behavior
ExcelJS should not hang. It should return values from the Range object.

## Current Behavior
ExcelJS hangs. Somehow hang is related to combination of rows, columns and data length of the cells. See example code.

**Note! Same code works with Office

[2019-08-30 13:47] lumine2008 commented on #697
Hi @harri-rajala-koivu-solutions , looks like i am not be able to repro this issue.
I just a tried in 1908 build Desktop, looks this is not repro. I also try this gist in my Mac, it also not repro.
below is the gist i am using. https://gist.github.com/lumine2008/fea50e00a84a8329b4218b1884a83d08

![image](https://user-images.githubusercontent.com/26398035/64025541-7b2f0c00-cb6f-11e9-810b-6b7bf4ae48

[2019-08-30 17:55] harri-rajala-koivu-solutions commented on #697
We have two machine with same 1908 Excel build and both have same hang issue.

Is there anything that we can do to provide more info or internal stack traces etc. to you? So that you could find out the reason for this hang. Should we for example generate crash dump from Excel process?

[2019-08-30 21:03] jaymaskell commented on #655
The history API is part of the Javascript 1.3 engine in IE 11 and has nothing to do with the JavaScript APIs for Office. It's part of the DOM window object.

Our application is an Angular 8 application and does not directly use the history API.  However, Angular components such as the Angular Router do use this API. There could be many other package dependencies using the history object (or other

[2019-08-30 22:00] ghost commented on #688
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-08-30 22:59] exextoc commented on #655
Thank you for pointing out this issue. We will pass along this information to our documentation team.

[2019-08-31 01:00] ghost commented on #600
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-08-31 01:00] #600 closed, assigned to Zlatkovsky

[2019-08-31 01:00] ghost commented on #410
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-08-31 01:00] #410 closed, assigned to weshi

[2019-08-31 01:00] ghost commented on #381
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-08-31 01:00] #381 closed, assigned to weshi, lumine2008

[2019-08-31 01:00] ghost commented on #284
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-08-31 01:00] #284 closed, assigned to nobody

[2019-08-31 01:00] ghost commented on #241
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-08-31 08:24] lumine2008 commented on #697
@harri-rajala-koivu-solutions , have you tried my gist, does my gist work in your side?
from your code it doesnt look it has problem, so could you please share me your gist, I want to see if any other part may cause the issue.
Thanks,

[2019-08-31 09:30] harri-rajala-koivu-solutions commented on #697
I tried your gist and Yes, I'm able to repro hang issue also with that code. And is it really so that when you run that script you see "Done" text in C5 and row count in D4. For me C5 is "Running..." and D4 is empty because code hangs in context.sync. Have your tried other numbers for example testRowCount = 100 000 and columnDataLength = 20?

Please note that my Excel is 32 Bit. Have you tried als

[2019-08-31 14:46] ltanase77 opened #704 "Updating a sideloaded add-in"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-office-add-ins-for-testing

## Issue
There is no explication about how to make the Office application to show updates for a side-loaded add-in. In practice the Office 365 or IE 11 caching mechanism makes extremely difficult to see the changes made in add-in code. For some reasons the application is stuck in showing

[2019-09-01 21:00] ghost commented on #628
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-02 00:03] TheSamsterZA commented on #633
@jargil I think it is premature to close this issue. I am seeing this on our live add-ins that are on AppSource. Here are replication steps:

1. Install [LEAP Mail Manager from AppSource](https://appsource.microsoft.com/en-us/product/office/WA104381209?tab=Overview).
2. Ensure a mail item is selected.
3. Open the LEAP Mail Manager. You should see a welcome screen with a Start button.
4. Click on t

[2019-09-02 00:04] lumine2008 commented on #697
Just tried testRowCount = 100 000 and columnDataLength = 20, it doesnt repro in my side.

My windows version: Windows 10 enterprise is [Version 10.0.18362.295] 64 bit
My Excel version is 64 bit, let me try to find a 32 bit excel to have a try.

[2019-09-02 00:26] TheSamsterZA commented on #657
@jargil I can't speak for everyone, but at my company we have multiple environments which we use to test our add-ins. My development process goes something like this:

1. There's a bug.
2. Load up the add-in on my local machine, with a manifest pointing to localhost (**Dev Environment**).
3. Boot up the localhost web server (via Angular CLI).
4. Attempt to replicate the issue.
5. Narrow it down to

[2019-09-02 08:05] abdulkareemnalband commented on #15
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/38501812-provide-api-to-get-event-start-end-time-zone-usin

[2019-09-02 12:54] syedaliahsan commented on #683
Hi,

Any updates on the ETA? We are unable to release our add-in to our customers because of this.

[2019-09-02 13:24] cyrelk commented on #697
Hi,

We experiment the same problem with the latest revision of Excel, the following script hangs on the Excel.run(...) part.

Additionnaly the debug console logs displaying the selected item and range raise an exception. Many of their properties are displayed with a <Permission denied> string. So we think that's a new permission issue.

The code works fine with the previous revisions of Excel. We

[2019-09-02 18:00] ghost commented on #696
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-02 18:00] ghost commented on #691
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-02 19:43] kbrandl commented on #704
@ltanase77 thanks for providing this feedback; I can look into adding this type of info to the sideloading article. A question for you though -- when you say that "the application is stuck seeing the *old code* -- what type of code changes are you making that aren't being automatically reflected by the add-in? i.e., changes to task pane HTML, changes to task pane CSS, changes to the JavaScript, or

[2019-09-02 20:00] ghost commented on #549
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-02 20:00] ghost commented on #548
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-02 20:43] kbrandl commented on #524
Closing this issue, as it seems like @catchingyu has provided feedback to effectively address it. @arpit974 if that's not the case (and you'd like this issue to be re-opened) please comment here to let us know what additional information you need, and we'll re-open the issue. Thanks!

[2019-09-02 20:43] #524 closed, assigned to catchingyu

[2019-09-02 20:46] kbrandl commented on #515
@splinter are you still having this problem, or can this issue be closed? Thanks!

[2019-09-02 21:15] kbrandl commented on #503
@Hombr33 apologies for the lack of response on this; seems like this issue was overlooked until now. Are you still having this problem?

[2019-09-02 21:18] kbrandl commented on #495
@dannycurrie apologies for the lack of engagement on this issue. Are you still having this problem?

[2019-09-02 21:20] kbrandl commented on #493
Closing this issue, as it seems like the information provided by @exextoc effectively addresses it. @splinter if that's not the case (and you'd like this issue to be reopened) please comment here to let us know what type of additional information / assistance you need. Thanks!

[2019-09-02 21:20] #493 closed, assigned to exextoc

[2019-09-02 21:21] kbrandl commented on #486
@splinter do you need more assistance with this issue, or has the feedback provided by @exextoc unblocked you? Thanks!

[2019-09-02 21:25] kbrandl commented on #482
@mkoczka @jak-hammond @kathirvalavan are any of you still having this problem, or can this issue be closed? Thanks!

[2019-09-02 21:26] Hombr33 commented on #503
Hello sir, yes I still have this problem. We have put the project on hold
actually because of this. Help would be much appreciated.

On Tue, Sep 3, 2019, 00:15 Kim Brandl - MSFT <notifications@github.com>
wrote:

[2019-09-02 21:28] kbrandl commented on #480
@ndreisg did the feedback provided by @Zlatkovsky (re an old Office host being the root cause of this issue) unblock you, or are you still having problems with this? Thanks!

[2019-09-02 21:31] kbrandl commented on #478
@ShannonLCapper @david-davidson apologies for the lack of response regarding whether or not this issue has been fixed. @exextoc can you please comment here to indicate the status of this bug fix (and if it's been deployed please also close this issue)? Thanks!

[2019-09-02 21:33] kbrandl commented on #477
@azmatzuberi can you please confirm whether this issue has been resolved, now that the fix has been deployed? Thanks!

[2019-09-02 21:36] kbrandl commented on #506
Closing this issue, as it seems like @keyur32's most recent comment explains root cause and identifies a work-around. If you need further assistance with this issue, please comment here and we'll re-open it. Thanks!

[2019-09-02 21:39] kbrandl commented on #503
@Hombr33 thanks for the quick response. @exextoc can you please investigate?

[2019-09-02 21:42] kbrandl commented on #473
@wcx11 apologies for the lack of response on this issue; seems that it was overlooked until now. Are you still having this problem? @lumine2008 are you able to provide feedback on this issue?

[2019-09-02 21:46] kbrandl commented on #471
@MakotoE apologies for the lack of response on this issue; seems that it was overlooked until now. Are you still having this problem? @lumine2008 are you able to provide feedback on this issue?

[2019-09-02 21:47] kbrandl commented on #469
@rohitrewa apologies for the lack of response on this issue; seems that it was overlooked until now. Are you still having this problem? @lumine2008 are you able to provide feedback on this issue?

[2019-09-02 21:48] modestfake commented on #515
I'm experiencing the same issue.

[2019-09-02 21:49] kbrandl commented on #468
Closing this issue per the comment from @marianatuma above.

[2019-09-02 21:49] #468 closed, assigned to lumine2008

[2019-09-02 21:53] kbrandl commented on #441
Closing this issue, as the information provided by @exextoc seems to provide information that effectively addresses it. @garrit-schroeder if that's not the case (and you need further assistance), please comment here and we'll re-open the issue. Thanks!

[2019-09-02 21:53] #441 closed, assigned to nobody

[2019-09-02 21:56] kbrandl commented on #439
@GuoGuitang apologies for the lack of response to the information that you provided in your most recent comment. Are you still having this issue (do you still need help with this)?

[2019-09-02 21:57] kbrandl commented on #515
@modestfake thanks for confirming that this issue is still present. @exextoc can you please re-engage with the customers to continue investigating this issue? Thanks!

[2019-09-02 22:02] kbrandl commented on #449
Closing this issue, as it seems like the information provided by @lumine2008 effectively addresses it.

[2019-09-02 22:02] #449 closed, assigned to lumine2008

[2019-09-02 22:06] kbrandl commented on #448
FYI for all -- based on the (MSFT-internal) tracking bug that @tutieu mentions above, looks like this issue is still being investigated. @weshi can you please update this GitHub issue as the status of the internal tracking bug evolves? Thanks!

[2019-09-02 22:10] kbrandl commented on #442
@MakotoE are you still having this problem?

[2019-09-02 22:17] kbrandl commented on #433
@outreach-soren I'm doing some housekeeping (clean-up of old issues) here in **OfficeDev/office-js** and seems to me (based on my understanding of this lengthy comment thread) that this issue has been resolved. Can you please confirm that this problem's been addressed and this issue can be closed? Thanks!

[2019-09-02 22:19] kbrandl commented on #447
@htryggva apologies for the lack of response to your latest comment on this issue. Are you still having this problem? @weshi can you please re-engage with the customer on this issue? Thanks!

[2019-09-02 23:00] ghost commented on #688
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-02 23:00] #688 closed, assigned to catchingyu

[2019-09-03 00:00] TheSamsterZA commented on #696
Hi @gch1234567,

That's your problem right there. When the OfficeJS script runs, one of the first things it does is detect the Office host it is running in (Excel, Word, Outlook, etc). If no host is found, it logs the warning you saw:

`Warning: Office.js is loaded outside of Office client`

Try to load your add-in on Excel Online.

[2019-09-03 04:46] exextoc commented on #683
This feature is in our backlog. We unfortunately have no timelines to share at this point

[2019-09-03 05:04] wonderplayer opened #700 "MessageComposeCommandSurface does not add add-in to reply email"
In Outlook Web, I can see my add-in whether I'm replying to email or creating a new one. But in Outlook Desktop App, I can only see my add-in when creating a new email.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e092f1-aa6a-45b5-50ce-a1afca772776
* Version Independent ID: fa9c31b7-b63a-9867-f298-4d579b899c30
* Co

[2019-09-03 07:54] jak-hammond commented on #482
@kbrandl I can now get messages passing between the dialog and the parent add-in fine, although it seems to need the add-ins base URL (in my case `https://localhost:3000`) added to the AppDomain portion of the manifest file.

I don't recall seeing this mentioned anywhere in the docs, apart from cases where we were wanting to navigate to domains that were different from the domain hosting the app?

[2019-09-03 08:22] #383 closed, assigned to exextoc

[2019-09-03 08:59] ndreisg commented on #564
@kbrandl Yes I'm still facing this issue. But my version number is still 16.0.4849.1000.  I didn't get a newer version after installing Windows updates.

[2019-09-03 09:25] ntranvinh commented on #685
I put sentry to capture message with dialog stuff. In case the dialog is hang and clicking button in the dialog doesn't do anything, I notice that the message I put in the callback of displayDialogAsync is never show up. It seems the dialog callback is not called.

[2019-09-03 09:53] ndreisg commented on #480
@kbrandl I am still facing this issue with a fresh MSI installation.
@lumine2008 @Zlatkovsky I could provide an ISO if that helps (16.0.4266.1003)

[2019-09-03 10:39] Dmytrooo opened #705 ""Upload My Addin" button doesn't exist"
in "Office Add-ins" dialog on "MY ADD-INS" tab I see neither "Manage My Add-ins" or "Upload My Add-in" buttons. please describe why they may not be visible and how to make them so

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab35128-1e97-c6ad-babc-f696f2e7b0fe
* Version Independent ID: cd1bacb1-14d7-a38d-321c-ebc2a5

[2019-09-03 11:22] htryggva commented on #447
@kbrandl @weshi Yes, we are still experiencing this problem.

[2019-09-03 11:33] IhorHalanDevPro opened #698 "[Outlook] Error while making EWS request to find mailing item"
We use `Office.context.mailbox.makeEwsRequestAsync` to manage mailbox items from our Outlook add-in and it randomly throws error for our customers. Unfortunately, we were not able to reproduce the error, but we have it in our production logs (see below). The description of the error is blank, but it's code is `-2147417843`.

## Expected Behavior
EWS requests should be executed successfully.

## Cu

[2019-09-03 12:20] VitaliyLavrenko commented on #697
Have same problem with Word, try read lot of content controls, and if load only 1 props it good, it load prop where we store our field config it stuck run. To solve problem we just load it by chunks, like this slower run flow, but have no case. On earlier Word version all was ok, on Mac ok too. Only after last Word update appear bug.

[2019-09-03 12:21] cyrelk commented on #697
For informationn we just tried on a windows 7 machine and the code runs fine.

It seems that the problem is between Excel and Edge.

[2019-09-03 12:57] harri-rajala-koivu-solutions commented on #697
FYI
Here is one StackOverflow question (created today) related to same hang issue.
https://stackoverflow.com/questions/57769321/excel-javascript-api-fails-to-read-range-from-sheet-edge-vs-ie

[2019-09-03 13:26] VitaliyLavrenko commented on #697
Maybe I be cursed, but in OfficeJS for add-in I more like IE instead of Edge, after edge appear have lot of bugs like OAuth dialogs didn't close, context.sync() didn't call when sync lot of objects.

P.S. Before context.sync() was near 200ms to run, so basic if user have 200-300 objects, if you load it by groups of 40-50 it took much time, for simple action. I see better get OOXML and parse DOM in

[2019-09-03 13:28] sbludlow commented on #680
@sumurthy , we see the same error and can't submit our add-in.  Any progress to share?

[2019-09-03 13:55] kbrandl commented on #447
@htryggva thanks for confirming. @weshi can you please resume investigation? Thanks!

[2019-09-03 13:56] kbrandl commented on #480
@ndreisg thanks for confirming. @lumine2008 can you please resume investigation? Thanks!

[2019-09-03 13:59] kbrandl commented on #564
@ndreisg thanks for confirming. @tutieu are you able to assist with this issue? Thanks!

[2019-09-03 14:00] ghost commented on #695
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-03 14:00] ghost commented on #692
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-03 14:18] lumine2008 commented on #564
Hello @ndreisg, can you repro now, i just have a try in my side, looks not repro it anymore. please let me know if you still be able to repro, and kindly share me your gist/snippet?

[2019-09-03 15:06] harri-rajala-koivu-solutions commented on #697
I think also that Edge is root cause for this hang issue.

We have one machine with same Excel & Office version (1908) and that works fine, no hang issue!! When Excel add-in is started in that machine I can see that it starts IE process (iexplore.exe). So clearly it uses IE.

But then those two machines (again same Excel & Office version 1908) where hang issue occurs does not use IE. When Excel ad

[2019-09-03 16:03] ltanase77 commented on #704
Hi,
Thank you for your quick reply. Mostly the javascript changes are not reflected by the add-in. I remember that I had some problems with css files in the past, but was some time ago and I do not remember the details.

The current add-in is based on vuejs framework and fabricjs for UI and the javascript code is doing the heavy lifting in generating the html.

The problem is that sometime it work

[2019-09-03 16:05] tonyroberts opened #699 "[Word] getTextRanges strips tabs"
When calling Range.getTextRanges with trimSpaces=false on text containing tabs, the tabs are not included in the returned text.

**NOTE** This only applies to the online version of Word, tested in Edge, IE and Chrome. In the desktop version this works as expected.

## Expected Behavior
The full text, including the tab characters, should be returned.

## Current Behavior
Any tabs included in the te

[2019-09-03 16:30] Andrew-AnalysisPlace commented on #697
Multiple customers are reporting issues with our add-in (https://appsource.microsoft.com/en-us/product/office/WA104380955) after upgrading to 1908. Issue is far more likely to occur with larger workbooks. Issue sometimes seems related to reading ranges and other times the sync() to get chart images. For example the "Advanced Features" workbook causes the issue, but the simpler workbooks still work

[2019-09-03 16:41] ElizabethSamuel-MSFT commented on #700
@wonderplayer Thanks for raising this issue. We'll transfer this issue to office-js, the product repo, to determine if it's a product issue then subsequently update the documentation if needed.

Thanks.

[2019-09-03 16:43] #442 closed, assigned to lumine2008

[2019-09-03 16:46] outreach-soren commented on #433
I can't confirm or deny from personal experience. We moved to proxying all our EWS requests through a backend service due to the high impact and duration of this bug.
Reading through the thread it sounds like it?
https://github.com/OfficeDev/office-js/issues/433#issuecomment-497282769
Sounds like you'd have to follow up with @macOutlookExtensibility and others who were experiencing the issue to be

[2019-09-03 16:50] MakotoE commented on #471
Oh wow, this issue has been fixed at some point after I wrote this issue. Thanks Office team!

[2019-09-03 16:50] #471 closed, assigned to lumine2008

[2019-09-03 17:03] kbrandl commented on #478
Closing this issue now, per (offline) confirmation from @exextoc. Thanks!

[2019-09-03 17:03] #478 closed, assigned to exextoc

[2019-09-03 17:06] kbrandl commented on #564
@lumine2008 FYI, looks like the end of your previous comment is missing something at the end of it. Can you please edit that comment to indicate what info you'd like@ndreisg to provide?

[2019-09-03 17:24] kbrandl commented on #705
@Dmytrooo sorry to hear you're having this problem. A couple of questions for you:
- In what Office application (Excel, Word, etc.) and are you seeing this issue, and in what browser (Chrome, Edge, Firefox, etc.)?
- Are you signed-in using your work account? If so, I wonder if your O365 Admin has disabled the ability for users within the organization to upload their own add-ins. You might consider

[2019-09-03 17:33] kbrandl commented on #697
Labeling as **Area: Edge WebView** and adding @jargil to list of assignees. @jargil are you able to weigh in on this issue (since it's been implied that it might be related to add-ins' use of Edge WebView in some way)?

[2019-09-03 17:47] kbrandl commented on #433
@outreach-soren thanks for the feedback (and for the quick response). Per @macOutlookExtensibility's [previous comment](https://github.com/OfficeDev/office-js/issues/433#issuecomment-497282769) I'm going to go ahead and close this issue, as it was specifically raised for Outlook on Mac. As that comment advises, if anyone else is experiencing this same issue in Outlook on Windows and/or Outlook on

[2019-09-03 17:47] #433 closed, assigned to macOutlookExtensibility

[2019-09-03 17:48] kbrandl commented on #471
@MakotoE thanks for confirming (and for closing the issue)!

[2019-09-03 18:03] jargil commented on #626
We've published the updates for Office 2013 and 2016, please find the links below.

@JefCurtis - could you please confirm that this patch works for you?

Office 2013:
https://support.microsoft.com/en-us/help/4475562/september-3-2019-update-for-office-2013-kb4475562

Office 2016:
https://support.microsoft.com/en-us/help/4475580/september-3-2019-update-for-office-2016-kb4475580

[2019-09-03 18:09] jargil commented on #657
@TheSamsterZA - thank you for your feedback! I've taken note and will discuss internally.

[2019-09-03 18:10] jargil commented on #633
@TheSamsterZA - thanks for the additional repro steps. Taking a look.

[2019-09-03 18:42] sumurthy commented on #700
@exextoc is this by design?

[2019-09-03 18:51] sumurthy commented on #699
@weshi can you comment on this?

[2019-09-03 18:53] sumurthy commented on #698
@exextoc could you please comment?

[2019-09-03 18:53] jargil commented on #697
Sorry, I cannot repro. However there was a bug that could have caused this for Edge WebView that I fixed starting with Office's build 16.0.12026.20074 (for Monthly Channel) and 16.0.12102 (for Insider) and newer. Unfortunately this build is not yet deploying to Office Insiders, but should hopefully soon. I'll post here once one Office build becomes available that contains this fix.

[2019-09-03 19:00] harri-rajala-koivu-solutions commented on #697
Could you please answer these question?

**How do I change Excel add-in to use IE instead of Edge?**
Why one machine uses IE and other uses Edge even though Excel & Office version is same?

[2019-09-03 19:02] jargil commented on #697
@harri-rajala-koivu-solutions - this is controlled by which version of Office/Windows you have, there's no switch.

https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/

[2019-09-03 19:16] harri-rajala-koivu-solutions commented on #697
So the only option for use and our customers is to go back to Office Version 1907 that works fine.

Please send instructions how I can remove Office Version 1908 and install version 1907?
Please note that we are on Monthly Channel.

[2019-09-03 19:38] harri-rajala-koivu-solutions commented on #697
@jargil You said that you cannot repro. Did you try with the same versions that we have?
**32-bit** Excel: 16.0.11929.20234 32 Bit
Office: 1908 (Build 11929.20254 Click-toRun)
Windows: Microsoft Windows 10 Home, Version 10.0.18362 Build 18362

[2019-09-03 22:11] kbrandl commented on #428
@vyazadji apologies for the slow response; looks like this issue was overlooked until now. Is this issue still present (i.e., do you still need assistance)? Thanks!

[2019-09-03 22:26] jargil commented on #633
@TheSamsterZA - I can confirm I can reproduce with the "LEAP Mail" app. Will debug through and update once I have something.

[2019-09-03 23:20] AlexJerabek opened #701 "Certificate issues with Edge"
I setup an Office Add-in using a manifest created by yo office (with the rest through the Vue setup and manual edits described in the [quick start](https://review.docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-vue?branch=master)). I opened a browser pointing to the add-in, running on localhost:3000, and trusted the certificate. When attempting to sideload the add-in, the

[2019-09-04 00:07] #655 closed, assigned to lliu113, exextoc

[2019-09-04 00:23] jargil commented on #633
@TheSamsterZA - so there's definitely a bug that I'll address in Office's code. While I finalize the fix, and the fix gets deployed, let me explain what's going on and see if you can work-around.

You stated (https://github.com/OfficeDev/office-js/issues/633#issuecomment-515245302) that after you open the dialog, you navigate to a different page "dialog.html on the same domain", and then redirect

[2019-09-04 00:42] samuelkdavis-mccarthyfinch opened #702 "Word add-in sidebar context.sync hangs with getOoxml(), reproducible with hello-world app."
The following code hangs on await context.sync(); with payloads seemingly >64kb. On empty documents the code below works. On large documents it fails (>50 pages of text).

Loading content controls also hangs on context.sync which I believe is the same issue.

[code]
## Expected Behavior
ooxml should be populated with the ooxml contents.

## Current Behavior
No errors generated, context.sync() just

[2019-09-04 00:44] samuelkdavis-mccarthyfinch commented on #702
I believe this is being caused by whatever is also breaking this issue: https://github.com/OfficeDev/office-js/issues/697

This looks like a wide-spread Office bug where a number of fundamental API calls are now broken.

[2019-09-04 01:24] samuelkdavis-mccarthyfinch commented on #702
A coworker was able to run this successfully on word version 1908 build 11929.20254, however under the hood his add-in was using IE11. This bug appears to be specific to Edge.

[2019-09-04 01:27] thi-mcf commented on #697
We are having the same issue with Word. Our issues started late last week, i suspect after the 1908 update for word (only affects users where the add-in is rendering using Edge rather than IE).  We have tested with number of machines, each machine with word 1908 build that renders using Edge is broken, and every machine that has 1908 build that renders with IE is fine. A bare bone example for this

[2019-09-04 02:40] sumurthy commented on #701
@nokafor Could you please look into this?

[2019-09-04 02:42] sumurthy commented on #701
@kbrandl we are missing an area for this - it should be part of 'developer experience'

[2019-09-04 02:56] azmatzuberi commented on #477
Yes, I believe it has been fixed

On Mon, 2 Sep 2019 at 17:33, Kim Brandl - MSFT <notifications@github.com>
wrote:

[2019-09-04 03:09] sumurthy commented on #702
Please refer to https://github.com/OfficeDev/office-js/issues/697

[2019-09-04 03:09] #702 closed, assigned to nobody

[2019-09-04 03:27] samuelkdavis-mccarthyfinch commented on #702
It may be worth confirming whether the potential fix mentioned here is related.
https://github.com/OfficeDev/office-js/issues/697#issuecomment-527590923

[2019-09-04 03:56] ntranvinh commented on #676
Hi, any new updates please :) ?

[2019-09-04 04:20] keyur32 commented on #585
@RuoyingLiang  to consider on the backlog. Currently we do not support this.

[2019-09-04 04:22] keyur32 commented on #566
Fix should have deployed by now. Closing.

[2019-09-04 04:22] #566 closed, assigned to keyur32

[2019-09-04 04:24] keyur32 commented on #558
@marcboivin , we never heard back from you (please feel free to ping again, sorry if something got lost in junk) but a change that will enable this is coming soon to insiders.

[2019-09-04 05:34] #477 closed, assigned to weshi

[2019-09-04 05:42] thi-mcf commented on #697
For anyone who wants to add an exception on their Addins inorder to implement an alternative screen or alternative functionality, here are some sample code to check if you have an affected machine/build:

[code]

...use it at your own risk. it basically checks if its running in Edge and office version number matches the specific version that causes the bug (there could be more versions that I'm ar

[2019-09-04 07:09] Dmytrooo commented on #705
1. I've experienced it in Excel and Word Desktop applications
2. yes, I'm using work account. assume I am an admin, where is this setting can be found? Article doesn't mention that it can be disabled

[2019-09-04 08:00] IvandeJong opened #703 "Excel javascript api fails to read range from sheet Edge vs IE"
We have an excel addin which writes an range to an excel sheet and lets user modify it. Once he is done he will press a button on wich we will read the range from the sheet and will try to parse it.

Excel has recently updated its integration browser:
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

Windows 10 ver. < 1903 / Office 365
Internet Explo

[2019-09-04 08:11] #703 closed, assigned to nobody

[2019-09-04 08:11] IvandeJong commented on #703
Duplicate of https://github.com/OfficeDev/office-js/issues/697

[2019-09-04 08:11] IvandeJong commented on #697
We have an excel addin which writes an range to an excel sheet and lets user modify it. Once he is done he will press a button on wich we will read the range from the sheet and will try to parse it.

Excel has recently updated its integration browser:
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

Windows 10 ver. < 1903 / Office 365
Internet Explo

[2019-09-04 10:03] VitaliyLavrenko commented on #697
I use this notation of load and get it by chunks, like this ok
load(option?: { select?: string; expand?: string; top?: number; skip?: number })

[2019-09-04 10:11] Dmytrooo commented on #705
![image](https://user-images.githubusercontent.com/54843421/64246434-74105100-cf15-11e9-99d0-92c955a396ad.png)
office version that I use

[2019-09-04 10:12] Dmytrooo commented on #705
and addins window:
![image](https://user-images.githubusercontent.com/54843421/64246539-9f933b80-cf15-11e9-8a61-034d1ab24f85.png)

[2019-09-04 12:12] exextoc commented on #639
We have fixed this issue and it is live now.

[2019-09-04 12:12] #639 closed, assigned to exextoc

[2019-09-04 12:20] exextoc commented on #598
We have fixed this issue and it is in production now.

[2019-09-04 12:20] #598 closed, assigned to exextoc

[2019-09-04 13:38] kbrandl commented on #705
@Dmytrooo thanks for providing this additional information. I'll do some research into this today and will let you know what I find.

[2019-09-04 13:50] kbrandl commented on #676
@JuaneloJuanelo are you able to provide a status update on this issue? (I don't seem to have access to the internal work item that you've noted above - 139217145.)

[2019-09-04 13:58] kbrandl commented on #701
@sumurthy I've added a new label for **Area: DevX** and also added assignees (Sylvia and Julian). @jargil this issue also seems related to Edge WebView, as the add-in runs fine in Office Online using Chrome, but will not load in Office Online using Edge or in Office on Windows (which also uses Edge).

[2019-09-04 14:11] Andrew-AnalysisPlace commented on #697
For customers that cannot wait a couple weeks until a fix is published, what can we tell them?
I have been telling them to revert to a prior version of Windows, but that may not be the answer. I have a customer that did that but still seems to have the issues. I can confirm that user has IE by their UserAgent: "Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; .NET4.0C; .NET4.0E; .NET CLR 2.0.5072

[2019-09-04 16:04] kbrandl commented on #482
@jak-hammond thanks for providing this information. I've added @lliu113 to this issue, as she's the PM for the Dialog API and knows more about it than I do. @lliu113 can you please respond to @jak-hammond's most recent comment?  (If it turns out we need to update the docs, I can open a separate issue in the docs repo.) Thanks!

[2019-09-04 16:25] Rick-Kirkham commented on #482
It should not be necessary to add the add-in's own domain to `<AppDomains>`. This looks like a bug in Outlook. But it is intermittent. We have a very recent Outlook sample that uses messageParent and has nothing in `<AppDomains>` here: https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/auth/Outlook-Add-in-Microsoft-Graph-ASPNET

[2019-09-04 16:30] kbrandl commented on #704
@ltanase77 thanks for providing this detailed information. I'm going to transfer this issue to the **OfficeDev/office-js** repo so that members of the product team can provide feedback about the caching behavior you've described. (I'll plan to update the documentation based on information received there.)

[2019-09-04 16:33] kbrandl commented on #704
@sumurthy can you please assign this issue to someone on the product team who can can provide clarification about the add-in caching issue that @ltanase77 has described? Thanks!

[2019-09-04 16:35] jargil commented on #697
Thanks everyone for your reports. I can confirm that the fix is coming with the following builds:
Office build 1909: 16.0.12026.20074 or newer.
Office build 1908: 16.0.11929.20300 or newer.
Office Insiders: 16.0.12102 or newer.

[2019-09-04 16:36] kbrandl commented on #705
@Dmytrooo I'm going to transfer this issue to the **OfficeDev/office-js** repo so that members of the product team can provide feedback about why the "Manage My Add-ins" link is missing, and how it can be restored. (I'll plan to update the documentation based on information received there.)

[2019-09-04 16:39] kbrandl commented on #705
@sumurthy can you please assign this issue to someone on the product team who can can provide clarification about the missing "Manage My Add-ins" link that @Dmytrooo has described? Thanks!

[2019-09-04 16:43] jargil commented on #701
This is not related to certificates.

The yellow error bar has a "See Details" button that when clicked opens a browser to:
https://docs.microsoft.com/en-us/office/troubleshoot/error-messages/cannot-open-add-in-from-localhost

That explains what's happening, and what to do.

[2019-09-04 18:04] kbrandl commented on #701
@AlexJerabek when you have a chance, can you please try adding a local loopback exception (as described in the article that @jargil links to above), to see if that fixes the problem you're having with the add-in not running in Edge? Thanks!

[2019-09-04 18:25] Rick-Kirkham commented on #701
@jargil Actually, I've been getting that same error with the same link frequently for a few days now on computers where I've already done the loopback enable for Edge. I've solved what was going wrong, but it was a wide variety of causes. So, that error is popping up in response to almost anything that goes wrong with the loading of the add-in. This is a bug. It should only appear (at least with t

[2019-09-04 18:36] jargil commented on #701
@Rick-Kirkham - improvements for our documentation? The error that Office is showing is simply saying that we could not access localhost. The link to our documentation is the one that just mentions the exemption loopback. Perhaps you should modify the document/link to mention other possible causes for localhost not being available and thus this error showing up.

[2019-09-04 18:47] Rick-Kirkham commented on #701
@jargil The documentation team doesn't control that error message. The wording of the message that precedes the button implies that whatever the user sees when he clicks the button is the one and only thing that can cause the error. Perhaps the text just before the button could say something like "Click the button for information on one of several things that could be causing this error:"

But tha

[2019-09-04 19:36] harri-rajala-koivu-solutions commented on #697
@jargil When will these builds be available?

[2019-09-04 22:00] ghost commented on #628
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-04 22:00] #628 closed, assigned to RuoyingLiang, MandytMSFT

[2019-09-04 23:15] jargil commented on #697
The update for 1908 is tentatively scheduled to begin deploying on 9/10, but please note that it depends on multiple factors, so could be delayed.

I'm sorry I don't have a date yet for when the other builds will be available. I'll update here once I have a date to share.

[2019-09-04 23:19] exextoc commented on #698
Does it happen randomly on many persons, or only one person? Could you provide fiddler trace for more investigation?

[2019-09-04 23:25] samuelkdavis-mccarthyfinch commented on #697
9 October, or 10 September?

[2019-09-04 23:28] jargil commented on #697
@samuelkdavis-mccarthyfinch - September 10th.

[2019-09-04 23:44] Biktop opened #706 "How return date from custom function?"
I implemented custom function which return value with different types (e.g. string, number, date). If I return value as number (e.g. **10**, **10.101**) then Excel detects type correctly.

But I don't understand what I should return in case of date? I've tried different variants such as:

1. **new Date()**

1. **"2020-10-12"** (it works if insert data via office.js API).

1. **"2019-09-04T23:42:24

[2019-09-05 00:14] AlexJerabek commented on #701
@jargil
The loopback exception did fix the problem. Thanks!

[2019-09-05 00:14] #701 closed, assigned to jargil

[2019-09-05 01:07] jargil commented on #667
@bferreira - thanks for sending your repro steps and information! After debugging with your add-in, we found a bug in our side that we'll be fixing. Will keep you posted with regards to which build to use for testing. It'll be made available first in Office Insider for you to test.

[2019-09-05 02:43] RuoyingLiang commented on #706
@Biktop, Thanks for reaching out. Currently Custom Function support string and number, but not support other data types.  We are working on improving that. Will let you know once we have solution. Could you let me know more about your scenario and add-in?

[2019-09-05 05:19] harri-rajala-koivu-solutions commented on #697
@jargil You told originally that you could not reproduce this issue.

So did you finally able to reproduce hang? And you have verified that these new builds really fixes the hang issue?

Or is it still so that you cannot reproduce? And you just hope that maybe these new builds fixes the hang issue?

Which one is correct?

If you think the most important functionality of ExcelJS, it is "get data fr

[2019-09-05 06:28] david-ps opened #707 "Content Pane Addin Not Loading in Excel Online"
## Content Pane Addins - Loading Differences
**Excel Desktop**: When an Addin is added to a Worksheet; the Addin loads on File Open even if the Addin is **not** on the Active Worksheet that was selected when the file was last Saved.

**Excel Online**: The Addin is **not loaded** until the Worksheet containing the Addin is selected and Active, ie. when the iFrame Loads.

## Expected Behavior
A **Co

[2019-09-05 06:35] david-ps commented on #391
@lumine2008 @lliu113 A new comment about this issue has been [added to UserVoice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/31827364-remove-the-size-limitation-of-content-pane-add-in?tracking_code=d7ed2dd914e7719046a359206e01cbe6). Can you please provide an progress/eta update asap?

[2019-09-05 06:43] ravikmrsingh8 opened #708 "Excel Desktop is throwing OLE Error"
We are trying to create diagram from the excel  table data. The table get inserted and then Excel throws the  error "Microsoft Excel is waiting for another application to complete an OLE action" .
Could you please let us know when this error could happen.

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. _

[2019-09-05 06:48] sumurthy commented on #708
Sorry, this doesn't sound like Office.js related issue. Can you confirm if you are referring to add-in related issue or Excel product related? If Excel product related then logging a stanckoverflow issue and tagging with excel would be more productive.

[2019-09-05 06:48] #708 closed, assigned to nobody

[2019-09-05 06:52] sumurthy commented on #707
@lliu113 Can you please take a look at this?

[2019-09-05 07:55] TheSamsterZA commented on #685
Hello,

I am also seeing this issue, and also only on Android. However, my stacktrace is slightly different (possibly due to other external updates?):

[code]

[2019-09-05 08:02] TheSamsterZA commented on #685
Hello,

I am also seeing this issue, and also only on Android. My app is written in Angular.

My stacktrace is slightly different (possibly due to other external updates?):

[code]

I've contacted support on the Outlook app with the same info.

Please let me know if more information is required.

[2019-09-05 08:13] dannycurrie commented on #495
Thanks for getting back to me @kbrandl - we're working around the problem at the moment, so it isn't a live issue for us, but it would be helpful to us if fixed.

[2019-09-05 08:30] tsabbay commented on #697
This is a terrible experience, seems like the response from Microsoft is very slow.
We had to rebuild our code from scratch to support chunks.
We got few reported bugs, none is being seriously handled.

[2019-09-05 09:29] exextoc commented on #583
@Warsame-Egal  Could you share a version number of Outlook on the Web? We are not able to repro this. Can you share stripped down version of your add-in code in github repository, where issue is reproducible?

[2019-09-05 09:38] jjtfsalgado opened #709 "Excel add-in is missing on the office store (Mac)"
We've deployed an excel add-in to the office store using the office js api but recently we noticed some users couldn't find it on the store using excel desktop in the mac (works fine in excel online and in windows, both online and desktop). According the [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/requirements-for-running-office-add-ins#client-requirements-os-x-des

[2019-09-05 10:39] lumine2008 commented on #669
Thanks @shis91 , this is a known issue BUG 3559511, it has been fixed. thanks for your support

[2019-09-05 10:53] SWDevB opened #710 "Custom function with missing parameters doesn't match behavior of built in functions"
When a built in function is entered in a cell without mandatory parameters (e.g. "=BAHTTEXT()") excel shows the "There's a problem with this formula" in desktop version and it's not possible to leave the cell without fixing or clearing it. In Excel online it's possible to leave the cell but it will get a red border and indicating a problem on mouse over. For custom functions there is #VALUE! shown

[2019-09-05 12:46] Niko0pl commented on #680
My add-in keeps being rejected by Office validation team. They don't give a damn that this bug still exists on 2013 and that it can't be excluded from the manifest.

[2019-09-05 13:05] #669 closed, assigned to lumine2008

[2019-09-05 13:10] Niko0pl commented on #680
My add-in keeps being rejected by Office validation team. It would be great to get some update here.

[2019-09-05 13:17] lumine2008 commented on #661
could you please share us your code or your gist (preferred) or provide us the following information. therefore we can have a local repro. thanks

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if

[2019-09-05 14:09] kbrandl commented on #495
@dannycurrie thanks for the update. @weshi can you please investigate? Thanks!

[2019-09-05 14:39] vyazadji commented on #428
Hello @kbrandl. We changed our UI, and now we don't use popup. So this issue isn't actual for me now.  I don't know if it reproducible in the latest Mac Outlook.

[2019-09-05 14:47] kbrandl commented on #428
@vyazadji thanks for the update!

[2019-09-05 14:47] #428 closed, assigned to macOutlookExtensibility

[2019-09-05 15:16] IhorHalanDevPro commented on #698
It happens randomly to different people. The cases are not frequent and affect <1% of users. I'll try to get some network logs, but it might take a day or two.

[2019-09-05 16:15] hmistry-lz opened #711 "Dialog crashes after being idle for ~5-6 mins."
I have an outlook add-in which opens up Dialog using `displayDialogAsync`. It crashes after keeping it open for ~5-6 mins. After that I am unable to open unless I refresh the tab in which it was open.

## Expected Behavior
It should not close itself after being idle.

## Current Behavior
Dialog crashes and closes the modal as a result and I am unable to use it thereafter.

## Steps to Reproduce, o

[2019-09-05 17:41] Biktop commented on #706
@RuoyingLiangm, my scenario is next:
User can configure my custom function for cell which retrieves values from external source. It could be strings, numbers and dates.

In case of numbers and strings function returns JS types and Excel autodetects values (aligns values to right side). But in case of date (or date with time) Excel treats it as simple text (e.g. user cannot app date/time formats).

[2019-09-05 19:00] ghost commented on #691
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-05 19:00] #691 closed, assigned to catchingyu, lumine2008

[2019-09-05 19:13] jchilde commented on #617
So now my users are on version 1908 (11929.20254) and the workaround mentioned here https://github.com/OfficeDev/office-js/issues/617#issuecomment-511667536 has now stopped working.  I will do further troubleshooting to try and identify the error; however, the "Resolution: has workaround" should now be removed from the tags since the work around has now been broken as well.

[2019-09-05 20:30] adetayoadeyemi commented on #102
Any update on this issue??
I'm here September 2019

[2019-09-05 20:36] kbrandl commented on #102
@adetayoadeyemi according to the internal work item that @JuaneloJuanelo [sites above](https://github.com/OfficeDev/office-js/issues/102#issuecomment-507862067), this issue has been fixed. I'm therefore going to label this issue as 'fixed' and close it; please do comment here if you continue to observe this issue. Thanks!

[2019-09-05 20:40] exextoc commented on #450
@Nagapito could you share the scenario why you use REST instead of JS API?
@arturo3 Turning off cached mode is only a workaround.

[2019-09-05 20:41] adetayoadeyemi commented on #102
issue not fixed, my project was created with Yo Generator 4 days ago, last update was 10 days ago, pretty sure I did not miss it

[2019-09-05 20:45] kbrandl commented on #102
@adetayoadeyemi thanks for the update; I'll reopen this issue and remove the 'fixed' label. @JuaneloJuanelo can you please comment here to indicate when this fix will be available to customers, and what version of PowerPoint they'll need to be running in order to get the fix? Thanks!

[2019-09-05 20:49] adetayoadeyemi commented on #102
Thanks, waiting for response from @JuaneloJuanelo

[2019-09-05 20:54] exextoc commented on #515
@modestfake Did you encounter all of these three errors, or some of them? What is your outlook version?

[2019-09-05 21:00] ghost commented on #549
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-05 21:00] ghost commented on #548
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-05 21:00] #549 closed, assigned to lumine2008

[2019-09-05 21:00] #548 closed, assigned to lumine2008

[2019-09-05 21:01] modestfake commented on #515
@exextoc sorry to not clarifying it before. So I only see this:

Because of this, we can't send a request to get email attachments.

[2019-09-05 22:02] exextoc commented on #700
It is not by design.
For windows desktop, does the addin show up in popup reply window?
What is your outlook desktop build? Could you share manifest and screenshot for us to do more investigation?

[2019-09-05 22:49] leandrolares opened #712 "Excel sidebar add-in opens links in a weird window rather than browser."
Previous to Edge WebView in Windows 10, links inside an Excel add-in opened in the default browser. Now they open in a weird window inside Excel. This happens with both <a> tags (<a target="_blank">) and JavaScript window.open("https://...").

This weird browser-like window inside Excel lacks the print functionally, which is required in my use case. Further more, PDFs inside iframes are not displa

[2019-09-05 22:53] jchilde commented on #617
Upon further troubleshooting, this bug appears to be related to https://github.com/OfficeDev/office-js/issues/697.

Based on my troubleshooting, inserting smaller OOXML bytes does in fact work.   Only when the size of the Ooxml to be inserted gets to around 60K bytes or larger does insertion fail.

Not sure what magic words I need to use next time, but seems like this and but 697 were easily preve

[2019-09-05 22:53] exextoc commented on #711
Does the issue happens in browser only, or also in windows outlook desktop?

[2019-09-05 22:57] jargil commented on #633
@TheSamsterZA - just a quick update regarding which build will have the fix for you to try: 16.0.12105 or newer. Should begin deploying to Office Insiders sometime next week, unfortunately I just missed the window for this week's update. Thanks again for all your input and feedback.

[2019-09-05 23:59] samuelkdavis-mccarthyfinch commented on #617
My issue #702 was closed as a duplicate of #697 which is hopefully correct given all the responses from MS saying they're unable to reproduce the issue. The issue is specific to add-ins using the latest version of office, and using Edge as the rendering engine.

My issue is getOoxml with msword, fails for large documents & works for small documents. The example I provided was the standard Visual S

[2019-09-06 02:12] Lijing29 opened #713 "The Value of Office.context.OfficeTheme is not Changed When Changing the Excel's Theme with Edge Engine"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
The value of Office.context.OfficeTheme should be changed when the Excel's theme is changed

## Current Behavior
The value of Office.context.OfficeTheme is not ch

[2019-09-06 02:20] mrbfrank opened #714 "Outlook: When editing a single event within a Recurrence, Office.context.mailbox.item.itemId returns an id for the 'seriesMaster' instead of the single 'Occurrence' according to the Outlook REST API"
## Expected Behavior

When editing a single appointment occurrence that is part of a series, the expected behavior is that `Office.context.mailbox.item.itemId` should return the ID for that individual Occurrence.

## Current Behavior

Using `Office.context.mailbox.item.itemId` to query the Outlook REST API returns the parent `seriesMaster` object instead of the `Occurrence`.

## Steps to Reproduce

[2019-09-06 03:40] hmistry-lz commented on #711
It only happens in browser

[2019-09-06 05:44] sumurthy commented on #714
@exextoc

[2019-09-06 06:48] MandytMSFT commented on #713
I can repro on version 1909(build 12026.2000 click to run). One simple way to repro is :

1. Run console.log(Office.context.officeTheme);  from script lab to get current officetheme with Edge webview
2. Change officeTheme from UI to a different one  (see screenshot) then run step1 again
3. You can see the officeTheme from scriptlab didn't change

But if i switch to IE webView, it works fine

async

[2019-09-06 06:49] MandytMSFT commented on #713
@jargil is this a known issue for edge webview ?

[2019-09-06 06:50] wonderplayer commented on #700
Sure.

No

11929.20254 Click-to-Run

Added manifest and screenshots.
[Archive.zip](https://github.com/OfficeDev/office-js/files/3582495/Archive.zip)

BTW, add-in is from tutorial: https://docs.microsoft.com/en-us/outlook/add-ins/addin-tutorial, only changed default tab to custom tab.

[2019-09-06 07:24] exextoc commented on #462
We have fixed the bug and the fix should be available in ~2-3 weeks. Closing this.

[2019-09-06 07:24] #462 closed, assigned to exextoc

[2019-09-06 08:11] bferreira commented on #667
Thank you @jargil ! That will be great

[2019-09-06 09:06] ndreisg commented on #564
@lumine2008 I'm getting another error now. The `Excel` object is undefined:

    if (Office.context.requirements.isSetSupported("ExcelApi", "1.1")) {
      Excel.run(function(context) {  // --> Unable to get property 'run' of undefined or null reference
        // ...
      });
    }

[2019-09-06 11:38] guruprasanna commented on #714
Thanks for reporting this issue. We are able to reproduce it. We will proceed to investigate and update this thread.

[2019-09-06 13:50] dmitry-semenov commented on #698
We're getting similar stacktrace when fetching recipient:
[code]
hostName: Outlook
hostVersion: 16.0.11929.20254

[2019-09-06 14:00] ghost commented on #695
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-06 14:00] ghost commented on #692
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-09-06 14:00] #692 closed, assigned to exextoc

[2019-09-06 14:53] exextoc commented on #714
Thanks for reporting this issue. We are able to reproduce it. We will proceed to investigate and update this thread.

[2019-09-06 16:19] AnjanaValsan commented on #503
@Hombr33 apologies for the delay in fixing this. We are working on fixing it. We will update this thread as soon as its done. I should be able to give you an ETA by next week

[2019-09-06 16:23] jargil commented on #503
@Hombr33 - we'll investigate and post an update as soon as we have something. Sorry for the delays here.

[2019-09-06 16:35] jargil commented on #667
@bferreira - the fix will be available starting with Office build 16.0.12106, this build or a newer one should begin deploying to Office Insiders sometime next week. Please let me know once you're able to validate. I'll keep this issue open until then. Thanks!

[2019-09-06 16:41] Hombr33 commented on #503
Thank you for the investigation. I am looking forward to see the new patch!

Best regards,
Damian Radinoiu

On Fri, Sep 6, 2019, 19:39 Julián Argil <notifications@github.com> wrote:

[2019-09-06 18:51] sumurthy commented on #711
@lliu113 would that be you to review this and get back?

[2019-09-06 18:53] sumurthy commented on #712
@jargil is there a guidance we can provide here?

[2019-09-06 18:53] sumurthy commented on #709
Can you please provide the requirement sets that you may have in your manifest?

[2019-09-06 19:16] jargil commented on #712
@leandrolares - For tags you'll have to use a script to popup the browser. From JavaScript could you please try something like this with your own urls:

[code]

[2019-09-06 19:36] lindalu-MSFT commented on #705
FYI, the "Upload My Add-in" link does appear in the online version of Excel:
![image](https://user-images.githubusercontent.com/30682803/64455604-f11d0100-d0a2-11e9-8f76-6f59545342ba.png)

[2019-09-06 19:43] lindalu-MSFT commented on #705
Weird, I definitely experienced this exact issue several days ago, and so I would use the Online version. But NOW when I go to the desktop version of Excel, I see it. I'm using Build 16.0.12105.35900. Is there a more recent version @Dmytrooo should try to update to?

[2019-09-06 19:55] sumurthy commented on #704
@croicu could you look into this?

[2019-09-06 19:56] sumurthy commented on #705
@jeremy-msft is this something you can look into?

[2019-09-06 19:57] sumurthy commented on #704
Adding @jeremy-msft  as well

[2019-09-06 22:00] ghost commented on #486
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-06 22:00] ghost commented on #439
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-06 22:47] JefCurtis commented on #626
@jargil I'll absolutely test these versions for you but I won't be able to get to them until Monday morning 👍

[2019-09-07 00:00] ghost commented on #696
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-07 00:20] Rick-Kirkham commented on #696
The error about the telemetry file refers to a file that can only be loaded by add-ins that are created internally by Microsoft employees. The error has no effect on your add-in. If you are trying to open your add-in directly in Chrome, then what @TheSamsertZA says is correct. You must sideload the addin to either desktop Excel or Excel Online.

[2019-09-07 03:41] jag-cloudextend opened #715 "Addin doesn't respond when trying to read 1000 rows of data"
When we try loading values for 1000 rows 6 columns, Excel API sync doesn't respond with either success or failure.

## Expected Behavior
Excel API should return values for the cells

## Current Behavior
API never responds making addin wait forever

## Steps to Reproduce, or Live Example
1. Read 1000 rows of data from a sheet
#### Sample Data
https://celigo3-my.sharepoint.com/:x:/g/personal/jagapat

[2019-09-08 02:00] sumurthy commented on #715
@weshi

[2019-09-08 04:46] jargil commented on #715
Please refer to #697

The estimate for this fix to begin deploying is this coming week.

[2019-09-08 04:46] #715 closed, assigned to nobody

[2019-09-08 04:52] jargil commented on #697
Sorry for the confusion, we were able to reproduce. I can confirm the fix works for the multiple samples provided here. To reiterate, the fix is planned to begin deploying this coming week, estimate for 1908 is Sept 10.

The following builds contain the fix:
Office build 1909: 16.0.12026.20074 or newer.
Office build 1908: 16.0.11929.20300 or newer.
Office Insiders: 16.0.12102 or newer.

The core o

[2019-09-08 16:47] ravikmrsingh8 opened #716 "Excel Desktop: Warning: Office.js is loaded outside of Office client on Addin reload"
When we reload the addin in excel desktop, it displays the blank page and we see the warning:
Office.js is loaded outside of Office client.

## Expected Behavior

Addin should reload properly and should not display the above warning as the host is excel desktop
## Current Behavior
When we reload the addin in excel desktop, it displays the blank page and we see the warning:
Office.js is loaded outs

[2019-09-09 08:17] JensMadsen commented on #697
Bothered by the same problem in Word. I would also like to know the answer to @harri-rajala-koivu-solutions question:

Do you have tests that cover this kind of basic functionality on all office/os versions supported or not?

EDIT: Sorry If my comment was a bit harsh. To be honest I would really like to know this because if test coverage is poor we have to add tests for these kind of functionaliti

[2019-09-09 08:51] bferreira commented on #667
Great! Since I have Office 365. I have asked the admin to allow my account to get Office insider builds. Hopefully that will be sorted soon.

[2019-09-09 09:13] RuoyingLiang commented on #716
Desktop's sideload process is different than online. During debuging and testing,  please see [https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins] for how to side load add-in in desktop. After the add-in is published to store, the add-in would be loaded successfully cross platforms.

[2019-09-09 09:23] ravikmrsingh8 commented on #716
Addin is published to the store (Private preview). I see the same issue. in online it works fine but fails in desktop.
In desktop it loaded fine when addin is created but shows a blank page when reloaded, I see the warning  "Office.js is loaded outside of Office client"

[2019-09-09 09:28] exextoc commented on #711
Thanks for reporting the issue. The time-out of 330s for UI less add-in is an intended behavior. We will update the documentation to reflect the same. We have created a workitem in our backlog for the crash issue.

[2019-09-09 10:18] AlonEkelund commented on #692
We have recently got this problem in all our Outlook Add-ins on the desktop. It works in all browsers. After authenticating the authentication window will not close. We did check try clearing the cache and we do have the most recent version of office.js from the CDN.

This is the Outlook version
![picturemessage_svqjhrqw lcb](https://user-images.githubusercontent.com/31590641/64523101-d5f8fe00-d2f

[2019-09-09 10:21] jjtfsalgado commented on #709
Sure @sumurthy :

[code]

[2019-09-09 14:37] hmistry-lz commented on #711
@exextoc Is there any way we can prevent the crashing before the team ships out fix for this issue?

[2019-09-09 15:00] ghost commented on #661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-09-09 15:00] ghost commented on #583
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!