[2022-06-21 09:21] dhoelzl opened #2655 "insertFileFromBase64 into a content control with a Word file starting with a table will add an unwanted paragraph before the table"
## Environment

* Platform: Mac (Not explicitly tested on other platforms wich also may be affected)
* Host: Word
* Office version number: 16.61 (22040301)
* Operating System: macOS

## Expected behavior
When using `insertFileFromBase64 `to insert a Word which starts with a table into a newly created content control (or replacing the content of an existing one which was cleared prior to insertion)

[2022-06-21 11:01] ghost commented on #2622
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-21 11:01] #2622 closed, assigned to JHJ-MS

[2022-06-21 11:46] exextoc commented on #2648
@t-ariyoshi30907 Thanks for reaching out. We do have the following questions.

1. When you mention "I'm seeing unexpected behaviour when I encrypt my email.", does it mean that the email is IRM protected. For more info,

https://docs.microsoft.com/en-us/javascript/api/requirement-sets/outlook/preview-requirement-set/outlook-requirement-set-preview?view=common-js-preview#add-in-activation-on-items-

[2022-06-21 12:18] jipjan commented on #2484
Same issue here...

[2022-06-21 13:46] t-ariyoshi30907 commented on #2648
@exextoc

sorry！I was writing the wrong content.
It also happens when the email is not encrypted.

my customers are having trouble with this issue. Please fix it as soon as possible so that no error occurs.

[2022-06-21 13:49] s4eideh commented on #2639
Hi Adrian,
Thank you for your reply.

This issue happens for any HTML that is inserted

I have attached two images.
one for the native Outlook Desktop signature with `setSignatureAsync` and the other with the enabled add-in.
 in both cases, there is an extra line with a different font format.

![C1](https://user-images.githubusercontent.com/38518799/174812231-c83f0cb4-fd5d-403b-8ede-23886ed83182.p

[2022-06-21 14:39] ExternalMe commented on #2291
We use this API to archive email attachments in our own cloud solution and make them accessible to our customers. Our customers trust that they can bring in any email and its attachments at any time. I am writing this comment in the hope to highlight the importance of a working interface and to encourage you, that this much needed feature will be implemented soon. It is incomprehensible to our cus

[2022-06-21 19:40] alison-mk commented on #2655
Hi @dhoelzl, thank you for submitting this issue! I've assigned it to @grangeryy who should be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-21 19:42] alison-mk commented on #2653
Hi @pb-jeff-oneill, thank you for reporting this issue! I've assigned it to @grangeryy who should be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-21 20:31] alison-mk commented on #2654
Hi @ronald-forscale, thank you for submitting this issue. I've assigned it to @guliums who should be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-22 00:46] gitchristopher commented on #1436
Has there been any development on this?
I am creating an add-in that is suffering from this error when a user logs in.

[2022-06-22 01:32] samantharamon commented on #2634
Hi @glr0221,

I've received clarification from the team that the Outlook REST v2.0 APIS will be decommissioned in November 2022 for Exchange Online. All other REST APIs for on-prem servers will then be decommissioned in March 2023.

Should you require further assistance, please do not hesitate to let us know.

[2022-06-22 05:06] exextoc commented on #2647
@teejay001 Can you please share a video explaining the issue so that we can debug it better? We need to understand when and how is the getAttachmentContentAsync() being invoked.

[2022-06-22 05:06] exextoc commented on #2640
@teejay001 Can you please share a video explaining the issue and a fiddler trace so that we can debug it better? We need to understand when and how is the getAttachmentContentAsync() being invoked.

[2022-06-22 06:12] GavinGu07 commented on #2638
Hi @tomuGo, thanks for your question.

How you get your range? If you get your range in another method, you should define your range as a global variable, track in that method and add it in the second line as:
`.then(range, function() {`
It would be better if you can post your full code.

[2022-06-22 06:25] moshikon opened #2656 "Outlook on-send Add-In freezing when open a dialog in Desktop"
Our Add-In is using the On-Send functionality and it used to work for both OWB and Desktop without any problems.

Our users started to notice that on Outlook for Mac when the on-send is triggered and opens a modal, Outlook is freezing and not responding.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version n

[2022-06-22 06:46] exextoc commented on #2656
@moshikon We tried with a few of our onSend add-ins and it worked as expected. Can you please share the manifest of your add-in so that we can try to repro the issue and debug it?

[2022-06-22 06:58] neville-jones commented on #2372
I have observed the same problem in Word, but also found that if I call messageChild a second time the message is received by the dialog...

[2022-06-22 07:51] moshikon commented on #2656
@exextoc https://aka.ms/li-gong-plugin/scheduling_add_in.xml

[2022-06-22 08:22] GavinGu07 commented on #2652
Thanks for reporting @gullbyrd. We have reproduced your issue and created a work item on it. We will keep track on this issue and let you know if there are any updates.

[2022-06-22 10:12] exextoc commented on #2618
@t-ariyoshi30907 Kindly make sure the setting "Allow Programmatic Access" is enabled in your admin settings. If its enabled, the add-ins will get invoked on IRM mails. For more info on how to configure the usage rights, please check this link https://docs.microsoft.com/en-us/azure/information-protection/configure-usage-rights#usage-rights-and-descriptions : Encoding in policy: OBJMODEL

[2022-06-22 13:06] CameronDwyer opened #4622 "NAA: Update example code of how to call getSharedPropertiesAsync without using the deprecated REST token obtained via getCallbackTokenAsync."
The example code on shared mailbox scenarios uses the deprecated getCallbackTokenAsync approach to obtain a REST token to be able then call getSharedPropertiesAsync. https://devblogs.microsoft.com/microsoft365dev/outlook-rest-api-v2-0-deprecation-notice/

Please show supported example of how to call getSharedPropertiesAsync without using a REST token obtained via getCallbackTokenAsync.

---
#### D

[2022-06-22 13:23] sahil1504001 commented on #2614
Hello @ssnyder-msft, any update on this issue?

[2022-06-22 15:05] cody-lettau opened #2657 "Outlook add-in: Attachment Change event should be emitted when a cloud attachment is changed to a copy"
Currently, the ```Office.AttachmentsChangedEvent``` does not get emitted when an attachment is changed from a "Cloud" attachment to a "Copy" (see screenshot), and vice-versa.

Since there a pretty major differences in how cloud and copies need to be handled, I believe that the change in type of attachment should be emitted as a change to the attachment.

## Your Environment
All platforms

## Expec

[2022-06-22 16:25] carlosb1504 opened #2658 "Outlook on Mac - New UI - getAttachmentContentAsync() fails inside ItemSend handler with Error 5001 'Internal error has occurred'"
Calls to `Office.context.mailbox.item.getAttachmentContentAsync()` inside an ItemSend Event handler, fail with a 5001 'Internal Error has occurred' in Mac Outlook v16.62.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.62
* Operating System: MacOS Monterey
* Browser (if using Office on the w

[2022-06-22 17:17] Wenjun-Gong commented on #2571
@JHJ-MS , would you please help to re-route? Thanks.

[2022-06-22 18:39] codexeon commented on #2656
This issue only exists in Insider Beta version 22061407, it will be fixed in the next Insider Beta release but until that is available you can switch to Current Channel or Current Channel (Preview) which does not have the issue. To switch channels, use Help > Check for Updates > Advance > Update Channel

[2022-06-22 20:01] AlexJerabek commented on #4622
Thanks for the sample request @CameronDwyer. Let me tag @samantharamon to help answer.

[2022-06-22 21:13] muratkuru commented on #1326
Hi, is there any progress for "soft on send" feature or is there any workaround?

[2022-06-22 22:54] alison-mk commented on #2657
Hi @cody-lettau, thanks for submitting! We use GitHub issues to report bugs with the product, and it looks like you are requesting a feature. For feature requests, we recommend submitting via [Microsoft 365 Developer Platform Ideas](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). We use Microsoft 365 Developer Platform Ideas to prioriti

[2022-06-22 22:54] #2657 closed, assigned to nobody

[2022-06-22 22:55] alison-mk commented on #2658
Hi @carlosb1504, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-23 01:42] stenly311 commented on #1157
hi @guliums , I thought I am going to give you a short update on how using "worksheet.calculate(true)" works for us.

Firstly, I was surprised by the Excel application performance lagging after calling this function in the Task pane app compared to the Excel native calculate sheet feature found upon this UI:
![image](https://user-images.githubusercontent.com/8539921/175187980-2c92c4c4-87de-4ad0-86

[2022-06-23 01:52] samantharamon commented on #4622
Hi @CameronDwyer,

Thanks for bringing this to our attention. We'll be working on updating any documentation that mentions REST. I've added your sample request to our list and will let you know once the sample is available.

[2022-06-23 03:00] exextoc commented on #2658
@carlosb1504 Can you please confirm whether you have registered the event handler for the ItemChanged? Doing this will notify the add-in when the item is changed. A sample for doing this can be found [here](https://docs.microsoft.com/en-us/outlook/add-ins/pinnable-taskpane#register-the-event-handler).

[2022-06-23 03:01] echowwl commented on #2592
Sorry, I still have this problem

[2022-06-23 03:01] echowwl commented on #2592
Please help me reopen this ticket

[2022-06-23 03:42] t-ariyoshi30907 commented on #2618
@exextoc
Thank you.
By the way. I want to ask another question

Even if I change the setting, in some cases the dialog is not displayed and an email is sent.

The cases where problems occur are described below.

1. Click on the encrypted email in inbox.
2. Click Reply or Forward.
3. Write and send an email.

Customers are having trouble with this issue. I want you to fix it as soon as possible bef

[2022-06-23 06:15] exextoc commented on #2656
@moshikon Can you please try the same on the latest version and let us know if it's still reproducible?

[2022-06-23 06:24] exextoc commented on #2618
@t-ariyoshi30907 Can you please be more specific with the cases where the add-in does not launch? Because the cases that have been listed cover most of the use cases.

    1. Does the add-in launch for non-encrypted mails?
    2. For Reply/Forward and new mail - Is it for encrypted/non-encrypted?

[2022-06-23 07:45] jonoshearman opened #2659 "internetMessageId changes after sending - Outlook Desktop client draft email"
Main problem: internetMessageId changes after sending draft email only on Outlook Desktop client

## Provide required information needed to triage your issue
We are using an Outlook addin to save a draft email and retrieve message.id and message.internetMessageId from the graph.
We store these values in order to be able to find the email on the graph at a later stage after sending in order to proc

[2022-06-23 08:58] exextoc commented on #2658
@carlosb1504 We are not able to reproduce the issue on our end. Can you please share the manifest file of your add-in, so that we can debug it?

[2022-06-23 09:16] echowwl opened #2660 "Create meeting with google addon and invite O365 user in google calendar，After opening the event on Outlook in the MAC, click the join button and report an error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

1. create a meeting in google calendar by google addon:
![image](https://user-images.githubusercontent.com/105787768/175261165-aae039d9-94f7-4714-9c73-4f9267a972e5.png)
2. click the e

[2022-06-23 10:22] carlosb1504 commented on #2658
Hi @exextoc - I have created a small test app which demonstrates the issue, see attached:

[onSendGetAttachmentContentTest.zip](https://github.com/OfficeDev/office-js/files/8966289/onSendGetAttachmentContentTest.zip)

Run this in the usual way and execute 'npm run start' to start a local web server, there is a cert to trust inside 'security', then add the manifest.xml to your Outlook.

during onSe

[2022-06-23 10:57] exextoc commented on #2660
@echowwl Thanks for reporting this issue regarding the issue in join experience. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: Eg: Office: 2890596

[2022-06-23 11:36] teejay001 commented on #2640
To show a video explanation for this would require exposing personal details. Please, can you provide an email I can send this to. I have also attached a word document with pictures showing each step of reproducing the issue at your end.

You need the OneNote App to reproduce the issue.

[OneNote Attachments Error.docx](https://github.com/OfficeDev/office-js/files/8966825/OneNote.Attachments.Error

[2022-06-23 11:45] milankonir opened #2661 "ItemSend times out when office.js fails to load"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.62
* Operating System: macOS Monterey 12.4
* Browser (if using Office on the web): N/A

## Expected behavior

When office.js fails to load during `ItemSend` execution (script error or n

[2022-06-23 12:08] moshikon commented on #2656
@exextoc Is there an option to downgrade my Outlook Desktop version with the Microsoft AutoUpdate tool?

[2022-06-23 12:28] teejay001 commented on #2647
To show a video explanation for this would require exposing personal details. Please, can you provide an email I can send this to. I have also attached a word document with pictures showing each step of reproducing the issue at your end.

[OutlookItem Attachment Error.docx](https://github.com/OfficeDev/office-js/files/8967126/OutlookItem.Attachment.Error.docx)

[2022-06-23 14:35] exextoc commented on #2658
@carlosb1504 We are able to repro the issue with the details provided. Thanks for reporting this issue regarding the intermittent issue in getAttachmentContentAsync(). It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Office: 2887846

[2022-06-23 15:25] exextoc commented on #2640
@teejay001  Please share the video to "OutlookAddins@M365x693897.onmicrosoft.com".

[2022-06-23 15:25] exextoc commented on #2647
@teejay001 Please share the video to "OutlookAddins@M365x693897.onmicrosoft.com"

[2022-06-23 17:11] teejay001 commented on #2647
Video clip sent to email address.

[2022-06-23 17:11] teejay001 commented on #2647
Video clip sent to email address.

[2022-06-23 17:11] teejay001 commented on #2640
Video clip sent to email address.

[2022-06-23 21:23] alison-mk commented on #2661
Hi @milankonir, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-23 21:23] alison-mk commented on #2659
Hi @jonoshearman, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-23 23:56] Oleg-O commented on #2659
Hi @jonoshearman, why do you want to avoid the CustomProperties route?

[2022-06-24 01:28] t-ariyoshi30907 commented on #2229
@exextoc
This problem no longer occurs today. Did you fix it?

[2022-06-24 04:20] exextoc commented on #2647
@teejay001 Thanks for the video.
We believe that you are using some onSend add-in while composing a message which invokes "Office.context.mailbox.item.getAttachmentContentAsync". Can you please share its manifest also to the same mail id?

[2022-06-24 04:21] exextoc commented on #2640
@teejay001 Thanks for the video.
We believe that you are using some onSend add-in while composing a message which invokes "Office.context.mailbox.item.getAttachmentContentAsync". Can you please share its manifest also to the same mail id?

[2022-06-24 06:07] exextoc commented on #2637
Thanks for reporting this issue regarding the missing anchor tags in ItemSend. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: Eg: Office: 2865284

[2022-06-24 07:53] exextoc commented on #2661
@milankonir  Can you please be more specific with the problem? Are you facing office.js load problem in the add-in or are you trying to create the error programmatically?
As if there is an issue in the loading office.js, we show an error almost immediately.

[2022-06-24 08:28] teejay001 commented on #2640
Hi,

The attachment contains the manifest and a sample helpful app.

[TestingOnSend.zip](https://github.com/OfficeDev/office-js/files/8974510/TestingOnSend.zip)

[2022-06-24 08:29] teejay001 commented on #2647
Hi,

The attachment contains the manifest and a sample helpful app.

[TestingOnSend.zip](https://github.com/OfficeDev/office-js/files/8974518/TestingOnSend.zip)

[2022-06-24 10:30] derpylz opened #2662 "Mouse scrolling in PowerPoint content add-in not working anymore"
Hello!

I’m the author of the [babyplots](https://bp.bleb.li/) library, a plotting library for interactive 3D plots using the [babylonjs render engine](https://www.babylonjs.com/). I’ve also created a [PowerPoint content add-in](https://appsource.microsoft.com/en-nz/product/office/wa200002329?tab=overview) to go along with it, where you can embed interactive plots (meaning the user can rotate the

[2022-06-24 10:33] exextoc commented on #2640
Thanks for reporting this issue regarding the error message in Office.context.mailbox.item.getAttachmentContentAsync(). It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Office: 2871645

[2022-06-24 11:27] exextoc commented on #2647
@teejay001 Thanks for the supporting files. As per our current design, getAttachmentContentAsync API throws a 9043 error if the attachment is an item type other than an email or calendar item (such as a contact or task item). Kindly refer https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes

[2022-06-24 11:54] mdunn416 opened #2663 "How to store a range in word document to use later?"
## Post how-to questions about your code on Microsoft Q&A

We have several forums where you can ask the developer community questions about your code. Try one of the following forums to ask technical questions about:
- [Developing Office Add-ins for Word, Excel, PowerPoint, Outlook, Project, Visio, and OneNote](https://docs.microsoft.com/answers/topics/office-addins-dev.html)
- [Access programming

[2022-06-24 12:01] ghost commented on #1434
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-24 12:25] exextoc commented on #2656
@moshikon  Yes, please refer to https://docs.microsoft.com/en-gb/officeupdates/update-history-office-for-mac

[2022-06-24 12:32] clavx commented on #2590
Our add-in uses the On-Send event to confirm the domain part of all email addresses (Sender/From/To/Cc/Bcc).
When this issue occurs, we treat it as an error, so our add-in will not work and they will not be able to send emails.

We do not know how frequently because of this caused by customer actions.

This issue only occurs in Outlook for Windows, and it appears that OWA can be avoided, so we are

[2022-06-24 13:06] teejay001 commented on #2647
Okay, thanks for the update.

[2022-06-24 13:06] #2647 closed, assigned to exextoc

[2022-06-24 14:16] moeBabazadeh commented on #2510
Any update on this? I am getting lots of unhandled rejections on my logging system because of this bug!
@nkkinariwala @LuyiH

[2022-06-24 15:10] mumarniaz opened #2664 "Binding not working with Track changes enabled in Word"
I'm working Office App for Word using Office.js which has to detect changes whenever any content is changed inside a content control. For that I have used binding as shown below:

[code]

It's working fine if I haven't set the track changes enabled from review tab but If I enabled the track changes feature, now if I add any additional content in a content control it marked as red and `OnBindingCha

[2022-06-24 18:57] GrumpyAL commented on #1400
Hello,

We actually just saw this again on one of our production machines.  The user restarted and the issue didn't clear.  We could see the itemID was returning empty.  We had them add a second account on a dev tenant and the issue persisted there so I don't believe it was related to any tenant mailbox settings (also I'm not aware of other user's in our production environment having this problem)

[2022-06-24 19:00] millerds commented on #2646
The references aren't left over, they are part of the PowerPoint session.  In order for it to be removed after "office-addin-debugging start ..." you have to close PowerPoint . . . all open windows.  This should remove the temporary reference and when you start PowerPoint again it will be gone.

[2022-06-24 19:18] alison-mk commented on #2662
Hi @derpylz, thank you for submitting this issue! I've assigned it to the @LuyiH who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-24 19:22] alison-mk commented on #2663
Hi @mdunn416, thank you for submitting! We use Github issues to report bugs with the product, and it looks like you are asking a more general programming question. For programming questions, we suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question. Stack Overflow has an active community of deve

[2022-06-24 19:22] #2663 closed, assigned to nobody

[2022-06-24 19:25] alison-mk commented on #2664
Hi @mumarniaz, thank you for submitting this issue! I've assigned it to @grangeryy who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2022-06-24 21:31] sureshjoshi commented on #2217
@grangeryy I haven't heard back regarding these APIs - I was wondering if the roadmap had changed at all?

[2022-06-25 03:58] t-ariyoshi30907 commented on #2618
@exextoc
Thank you for your reply.
1. yes. A add-in is run when sending non-encrypted email.
2. Add-in is run when sending a new email.and does not run when Reply or Forward.
Share the video of this issue.

■video URL
https://drive.google.com/file/d/15jlDnEz9OF2HcdAOaIOACqbA1US-zL1_/view?usp=sharing

[2022-06-25 04:07] xiaoyuMS commented on #2217
@PrashantShrimal
Currently, you can try to insert footnotes by directly modifying the ooxml on Word desktop. I think @sureshjoshi may have some experience on that. We also provide some JS APIs to insert ooxml, such as [Body.insertOoxml()](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#word-word-body-insertooxml-member(1)).

[2022-06-25 21:01] ghost commented on #2641
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-26 03:01] ghost commented on #2634
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-26 12:01] ghost commented on #2635
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-27 04:49] exextoc commented on #2229
@t-ariyoshi30907 Yes, it is fixed. Thanks for the confirmation.

[2022-06-27 04:49] #2229 closed, assigned to exextoc

[2022-06-27 05:30] clavx commented on #2229
We have confirmed. Thanks!

hostVersion: 20220617005.06

Related links:
- GitHub - OfficeDev/office-js
  - https://github.com/OfficeDev/office-js/issues/2250
- Stack Overflow
  - https://stackoverflow.com/questions/69917032/outlook-on-send-dialog-add-in-breaks-when-browser-window-is-resized

[2022-06-27 06:38] guliums commented on #1157
Hi @stenly311 , sorry for the inconvenience. Do you have an example file that shows the worksheet.calculate(true) different with UI "Calculate Sheet"?

[2022-06-27 07:24] milankonir commented on #2661
@exextoc We are facing issues with office.js load within our add-in - our crash telemetry in Rollbar shows cases where `Office` namespace is not defined during our add-in scripts execution even tho the `<script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js"></script>` is correctly ordered as the first script in the add-in index / commands page. This means

[2022-06-27 13:01] LookerClocker opened #2665 "Outlook addin page. Adding custom Dropdown element make page looks scrambled"
**When adding the custom dropdown element into addin page. It looks a bit weird only on Native Outlook with specific version.**
_**Version: 2016 (16.0.5197.1000) MSO (16.0.5278.1000)**_

## Your Environment

It doesn't work for Windows Native Outlook.  **But on Web Outlook (all versions) its working fine** 

**Microsoft Outlook Native App
Version: 2016 (16.0.5197.1000)**
![2022-04-03_15h06_08](htt

[2022-06-27 14:01] ghost commented on #1434
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-27 14:01] #1434 closed, assigned to nobody

[2022-06-27 14:46] milankonir opened #2666 "Office.CustomProperties.saveAsync slowness on Outlook for Mac"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook (new UI)
* Office version number: 16.62 (22061100)
* Operating System: macOS Monterey 12.4
* Browser (if using Office on the web): N/A

## Expected behavior

We assume that Outlook for Mac uses cached mode and upd

[2022-06-27 18:11] ssnyder-msft commented on #2614
The fix for this is mostly rolled out. Are you still seeing this issue?

Be sure to clear your local storage:
https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/storage/localstorage

[2022-06-27 20:06] preethikakiru commented on #2665
Hi @LookerClocker, thank you for making us aware of this issue! I was wondering if it would be possible to see clearer images of the expected output vs the custom dropdown element's current behavior?
Best,
Preethika

[2022-06-27 20:15] preethikakiru commented on #2666
Hi @milankonir, thanks for making us aware of this issue! I have assigned it to @ajays-msft who should be able to give you more insight and information to help resolve this for the future.
Best,
Preethika

[2022-06-27 20:21] preethikakiru commented on #2645
Hi @pb-jeff-oneill, thanks for making us aware of this issue. I understand that this would be an inconvenient experience for users. To get more context, is your add-in available for Word online and desktop and if so does this error occur for both?

[2022-06-27 21:21] milankonir commented on #2666
Thanks for the quick response @preethikakiru

On top of our telemetry data, I have also played with following Gist (it just loads custom properties, sets one simple value and saves them): https://gist.github.com/milankonir/de0b55f80c2b9e39c23d38d714b060e5

In new Outlook UI for Mac, the save consistently takes over ~400ms on my machine:

![image](https://user-images.githubusercontent.com/72383088/

[2022-06-27 22:14] pb-jeff-oneill commented on #2645
Our add-in available both desktop and online, but nearly all of our users are on desktop.

I've only received bug reports for desktop.

[2022-06-28 04:39] stenly311 commented on #2231
didn't work for me :/

[2022-06-28 04:58] pkkj commented on #2231
Hi. The fix for this issue has been deployed to the official Office CDN for more than one month. I tested it again and there is no OSF.DDA.Error when the dialog is launching. If an add-in is referring the Office.js from CDN, the error should disappear. Thanks.

[2022-06-28 06:03] exextoc commented on #2666
Thanks for reporting this issue. We will try to repro this inhouse using script-labe script and get back to you soon.

[2022-06-28 06:07] xuruiyao-msft commented on #2664
@mumarniaz  Thanks for reporting. We have created an internal work item 6190458 on it. We will keep track of this issue and let you know if there are any updates.

[2022-06-28 06:22] exextoc commented on #2661
Thanks @milankonir for providing these details for better clarity.

One more thing: Are you using "Outlook Mac New UI" or  "Outlook Mac Old UI" when testing this?

We tried this internally with "Outlook Mac New UI" and are not able to repro with "blocking office.js network call". We observe that "Send" immediately fails with error message.

Is it possible for you to share your addin (only necessar

[2022-06-28 06:36] #2635 closed, assigned to exextoc

[2022-06-28 06:51] gopinathshiva opened #2667 "Getting error as `The file format and extension of *.htm doesn't match`"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In Mac, when a user tries to install the product for the first time, they get an alert "The file format and extension of "***.htm" doesn't match. the file could be corrupt or unsafe".

[2022-06-28 07:04] exextoc commented on #2618
@t-ariyoshi30907 Addins are not yet enabled on encrypted emails (IRM) emails.

This feature is work in progress and available for preview in only "Outlook on Windows". [Link.](https://docs.microsoft.com/en-us/javascript/api/requirement-sets/outlook/preview-requirement-set/outlook-requirement-set-preview?view=common-js-preview#add-in-activation-on-items-protected-by-information-rights-management-ir

[2022-06-28 07:47] LookerClocker commented on #2665
Hi @preethikakiru ! Thanks for reply! Sending to you unblured screenshots:
This is how it looks now on **Outlook Native Application, with version 2016 (16.0.5197.1000)**
![2022-04-03_15h05_02](https://user-images.githubusercontent.com/4919709/176122319-da052efe-a1e6-415d-a1b8-e3c458f8eedb.png)
so, as you can see there is a dropdown but also we got some black border of some window

**But we're expe

[2022-06-28 07:49] milankonir commented on #2661
The way I reproduce this:

1. Install following add-in https://github.com/milankonir/onsend-prevent-addin (it does not have any `ItemSend` handling besides `event.completed({ allowEvent: false });`)
2. Add `127.0.0.1       appsforoffice.microsoft.com` entry into hosts file (simulates office-js scripts to be unreachable)
3. Make sure that the office-js scripts are not network cached (for Outlook fo

[2022-06-28 07:54] exextoc commented on #2661
Thanks @milankonir for providing these details. We are trying out again to repro this with these steps.

[2022-06-28 09:16] ghelyar commented on #2354
Also `OfficeRuntime.apiInformation.isSetSupported`

[2022-06-28 09:18] exextoc commented on #2278
@Driss878  Kindly share the manifest on addin-help@outlook.com. You can mask those fields in manifest which you think is PII. We will be fixing this issue. We are not able to reproduce this issue for any other LOB addin.

Thanks.

[2022-06-28 09:56] ghelyar opened #2668 "Checking for a feature/requirement set does not work in Outlook desktop (Windows)"
# Provide required information needed to triage your issue
There doesn't seem to be any way to reliably check for the availability of a requirement set or feature on Outlook desktop for Windows when running from event-based activation.

Our add-in targets 1.10 as a minimum version, but uses `Office.SessionData` from requirement set 1.11 to provide extra functionality if it's available.

[The docum

[2022-06-28 13:07] rvab commented on #1268
Did you find any workaround for this? I'm too facing the same issue with SAML SSO.

[2022-06-28 13:07] rvab commented on #1268
@jtrueblood-anaqua

Did you find any workaround for this? I'm too facing the same issue with SAML SSO.

[2022-06-28 14:00] DxDen1004 commented on #1991
Same here, we were trying to develop a simple internal add-in to archive email messages links but hey, no way to use the clipboard APIs, nor many other APIs to be precise. At this very moment web Add-in development is very very limited.

[2022-06-28 14:46] t-ariyoshi30907 commented on #2618
@exextoc
thank you! I understand.
I have received a request from my customer. I hope it will be available in Outlook on the web.

[2022-06-28 14:53] pietrofxq commented on #1991
@DxDen1004 we ended using the old school solution.

[code]

[2022-06-28 15:48] cbishop-fv commented on #1268
We had to build our own auth page using the cognito UI libs and hook to work around it. pain :(

[2022-06-28 17:59] millerds commented on #2327
@preethikakiru this doesn't look like a DevX tooling problem.  It looks like an office.js compatibility problem and should go to the office.js engineers.

[2022-06-28 18:55] #2641 closed, assigned to exextoc

[2022-06-28 21:27] Adrian-MSFT commented on #2639
Hi @s4eideh ,

Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue in the short term. We recommend you to upvote or create a new [Tech Community](http://aka.ms/M365dev-suggestions) item, this will give us visibility of the commonality of it and will help with our prioritization. If we end up working on this issue, we will re-activate as needed.

[2022-06-28 21:29] #2639 closed, assigned to exextoc

[2022-06-28 21:41] DxDen1004 commented on #1991
@pietrofxq unfortunately, for our outlook Web add-in the document.execCommand('copy') is not available. We tried that without being able to get it to work. I also tried using jQuery to reference the iframe from within itself and change the allow prop, but that also does not seem to work.

[2022-06-29 03:22] xuruiyao-msft commented on #2655
@dhoelzl Thanks for reporting. We have created an internal work item 6194174 on it. We will keep track of this issue and let you know if there are any updates.

[2022-06-29 05:01] ghost commented on #2634
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-29 05:01] #2634 closed, assigned to samantharamon

[2022-06-29 05:42] SWei1234 commented on #2593
Sorry for reply late. I have send the recording to [OutlookAddins@M365x693897.onmicrosoft.com](mailto:OutlookAddins@M365x693897.onmicrosoft.com). Please check the attachment. Thanks

[2022-06-29 08:00] preethikakiru commented on #2667
Hi @gopinathshiva, thank you for making us aware of this issue! Just to clarify, so when a user tries to install your excel add-in on Mac they receive an alert that the add-in might be corrupt?

[2022-06-29 08:05] preethikakiru commented on #2668
Hi @ghelyar, thank you for making us aware of this! I have assigned this issue to @JuaneloJuanelo and @samantharamon who will be able give your more information that will help you get to a resolution.

[2022-06-29 08:08] preethikakiru commented on #2665
Ok great thanks! I have assigned this issue to @JuaneloJuanelo, who will be able to give you more information and help you get to a resolution.

[2022-06-29 08:11] #2532 closed, assigned to preethikakiru

[2022-06-29 08:15] preethikakiru commented on #2581
Hi @Refinitiv-365, I was wondering if you could give me more context on what the expected behavior should be?

[2022-06-29 08:23] gopinathshiva commented on #2667
yes @preethikakiru . This is the message shown to the user **The file format and extension of "Spreadsheet-Sync.htm" doesn't match. the file could be corrupt or unsafe. Do you want to open ?**

[2022-06-29 09:55] mspiess opened #2671 "Allow .msg file export through JS add-in API in Outlook-Desktop"
Feature Request:
I'd like to create an add-in which create a .msg file of an email and sends it to a remote server for archival purposes.
Outlook already can create .msg files through the "Save as..." dialog but this functionality is not exposed to the Office API.

I could access all relevant information through the API and create an .eml file for example (or use EWS/graph-API for that), but I'd p

[2022-06-29 13:46] estet opened #2672 "PowerPoint: Unexpected behavior of slide insertion using office.js"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Something strange happens to a slide inserted using office.js

![image](https://user-images.githubusercontent.com/604635/176441180-1efd1558-6810-4924-a098-fbec52fbfba7.png)

Code that

[2022-06-29 15:20] lkedmi commented on #2327
I will say that I moved on to a more "classic" solution but it'll be nice if we could use modern meta frameworks to build office add-ins.

[2022-06-29 15:21] barclayadam opened #2673 "setSignatureAsync fails with InternalError"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2203 Build 16.0.15028.20282
* Operating System: Windows

## Expected behavior
When calling setSignatureAsync no error occurs and the signature is set on the body of the email

## Current behavior
For at least one of our users in a large compa

[2022-06-29 17:12] glr0221 commented on #2634
Thank you for the informaion @samantharamon . This is very much appreciated.

Moreover, may we also ask how this 'decommissioning' will happen? Assuming an addin is currently running with REST APIs. And then REST gets decommissioned by November 2022. Will the addin start failing in getting the resturl? or the token for rest?

Thanks again.

[2022-06-29 19:05] timbeese opened #2674 "range.copyFrom() can duplicate the copied content N times in the range where it is copied to"
I am working on an add-in that reads in a worksheet and then copies the content from that worksheet into a different range of cells on another worksheet.  In certain circumstances the content is duplicated.  I have reproduced the issue with ScriptLab.  In general, it appears that if the rows or columns in the destination range are an exact multiple of the rows/column in the source range, the avail

[2022-06-29 20:18] wh1t3cAt1k commented on #2222
This is incredible. Half a million cells returned from one function and it's working successfully :) Thanks a lot!

[2022-06-29 20:19] wh1t3cAt1k commented on #2222
![image](https://user-images.githubusercontent.com/5159662/176537136-22ff06a4-65f6-4759-bd15-9b1846080293.png)

[2022-06-29 20:22] wh1t3cAt1k commented on #2222
@grangeryy @yaweizhu-henson @JHJ-MS one question for you guys: **does this need any update to the Excel host** or was the fix done completely on the Office.js side?

[2022-06-29 20:44] samantharamon commented on #2634
That's a great question, @glr0221. Please be advised that any active add-in using the REST service prior to the November 2022 decommission date will be granted an exception to keep using the service until Office 2019 goes out of support (October 14, 2025). This exception is based on the add-in's ID and applies to both privately released and in-store add-ins. If you're still developing your add-in

[2022-06-30 00:39] david-ps commented on #2610
@massonj any ETA on the bug fix? This is a critical issue.

[2022-06-30 05:55] preethikakiru commented on #2671
Thanks for sharing your request @mspiess, I assigned this issue to @JuaneloJuanelo who will be able to provide you with more information moving forward.

[2022-06-30 05:57] preethikakiru commented on #2672
Thanks for submitting this issue @estet, I've assigned it to @LuyiH who should be able to provide you with more information to help you resolve this issue.

[2022-06-30 05:58] preethikakiru commented on #2671
I actually reassigned this issue to @exextoc.

[2022-06-30 06:00] preethikakiru commented on #2673
Thanks for submitting this issue @barclayadam, I've assigned this to @exextoc who will be able to give you more information moving forward.

[2022-06-30 06:01] ghost commented on #2656
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-30 06:04] preethikakiru commented on #2674
Thanks for submitting this issue @timbeese. I will do some investigation and get back to you.

[2022-06-30 06:09] ruei-yu-yang opened #2675 "add-ins crash when using window.location.href on Excel O365 desktop, but Excel 2016 is fine."
In the excel add-ins developed by us, it allows users to switch to different site in add-ins content for different usage scenarios. When using Excel O365 to redirect page (window.location.href etc.), it will cause the addins to crash (On average 5 times may be successful 1 time), and the error information cannot be recorded in the inspect tool, but in Excel 2016 is work, the problem happened at th

[2022-06-30 07:41] milankonir commented on #2277
@exextoc This is still very much plaguing our users and hurts our add-in adoption. We do recommended users to switch to the old UI as it does not suffer from this bug. This becomes increasingly hard as you push for the new Outlook UI and the switch back becomes less accessible.

We did make more attempts to get a stable repro of the issue without any luck. It looks like this is some race condition

[2022-06-30 08:30] LuyiH commented on #2672
@wangyun-microsoft   please help follow this question

[2022-06-30 08:51] exextoc commented on #2277
Hi @milankonir, this issue is fixed and available on the latest build of Outlook new UI for mac. Could you please switch to the latest build and check if the issue still persists?

[2022-06-30 08:58] milankonir commented on #2277
@exextoc This is great news! Just to clarify - is 16.62 (22061100) the latest build or do I need to switch to some other update channel?

[2022-06-30 09:23] Stepan-Valkov opened #2676 "Reapplying an excel table's sort causes a general exception when there's two workbooks open"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2205, build 15225.20288
* Operating System: Windows 10
* Browser (if using Office on the web): n/a

## Expected behavior
Table.sort.reapply() call reapplies sorting as expected even if there are several workbooks open.

## Current behavior
When

[2022-06-30 09:24] wangyun-microsoft commented on #2672
I'm adding Onur into this one as well.

@ononder can you please look at this one?

Thanks.

[2022-06-30 09:32] dimitarbikov opened #2677 "Outlook Mac Client with new UI, can't set enhanced location"
We have an add-in that searches for rooms and sets them as an enhancedLocation.
It does not set the enhancedLocation on Mac Outlook client version 16.62 with the new UI.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  Mac Outlook client v16.62 with the new UI enabled
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number:  The Office JavaScript API lib

[2022-06-30 10:48] JHJ-MS commented on #2222
Great to hear that! It seems your issue's recovery is not related to our fix #5549594, our fix is only targeted at a CF **WAC** payload limitation issue. As far as I know, what your mentioned should work fine at the very beginning. So I think no need for any update. Thanks.

[2022-06-30 11:12] JHJ-MS commented on #2610
Hi @david-ps, we want to confirm with you what is your need.

1. Are you requesting to let the OpenXML API can set the Visibility property to 1 using OpenXML not only while the document is closed but also while the document is open? Or do you want us to provide a JS API to implement changing the Visibility property's value? Or do you want us to provide a JS API to generate the webextension and tas

[2022-06-30 11:56] kgeorgiou1234 commented on #2643
Any update on this?

[2022-06-30 12:48] toni-lyttinen commented on #2568
Any progress on the internal item?

[2022-06-30 12:49] toni-lyttinen commented on #2523
Any progress on this ?

[2022-06-30 13:55] #2222 closed, assigned to grangeryy, yaweizhu-henson

[2022-06-30 14:35] bconners1005 opened #2678 "Office Init ERROR TypeError: Cannot read properties of undefined (reading 'getSharedPropertiesAsync') only on select users"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
We are currently running into an issue with a user running Chrome 103.0.5060.53 wherein the add-in is not loading on Outlook

[2022-06-30 14:42] ANHPearce opened #2679 "Outlook Appt Compose RequiredAttendees.getAsync returns the Outlook User in addition to current list"
When using Office.js RequiredAttendees.getAsync the current outlook user is appended to the listed recipients even if they are already present in the list. This makes the returning value not suitable for subsequent re-use with RequiredAttendees.setAsync without modification as it will duplicate the current Outlook user in the recipients list.

## Your Environment

* Platform : Desktop,
* Host : Ou

[2022-06-30 14:49] wh1t3cAt1k commented on #2617
We're also experiencing a similar issue with Velixo, @gmichaud just installed a production version from the store on Excel for Mac and none of the functions are recognized. We have cleared the Office cache multiple times.

https://appsource.microsoft.com/en-us/product/office/WA200002311?tab=DetailsAndSupport

@grangeryy @peronald @yaweizhu-henson could you describe the root cause / potential impac

[2022-06-30 14:50] gmichaud commented on #2617
As indicated by @wh1t3cAt1k I am seeing this issue -- occuring on Excel for Mac

[2022-06-30 15:55] sureshjoshi commented on #2327
@lkedmi  Could you please re-name this issue's title to not specify Next.js? Perhaps something like "Office.js should not null out history APIs"

I've had this problem with various React routers, and am currently having this issue with SvelteKit.

This is entirely a problem inside Office.js, which nulls out `pushState` and `replaceState`, and breaks modern routing libraries because IE11 does not h

[2022-06-30 17:05] Oleg-O commented on #2671
Hi Marco, looks like you've already [added this](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/allow-msg-file-export-through-js-add-in-api-in-outlook-desktop/idi-p/3561260) as a new feature idea on our Tech Community page - that's the right way to request it. We review those regularly and consider adding them to our backlog.

[2022-06-30 17:05] #2671 closed, assigned to exextoc

[2022-06-30 17:21] davidchesnut commented on #2610
@david-ps I just realized that text from the article "this can only be done using OpenXML" is no longer true (at least not entirely). It is true that you can't do this using OpenXML, but you can do it using the Office JS API. This was a change introduced with the shared runtime.

1. [Configure your add-in to use the shared runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/config

[2022-06-30 17:33] exextoc commented on #2661
Hi @milankonir, we don't have a solid repro at this point. Could you please share a video showing the repro steps and also share the diagnostic logs to help us investigate this issue quicker? Thanks!

[2022-06-30 18:42] exextoc commented on #2277
@milankonir The fix is available on 16.63, which should release in mid-July. We do not have a specific date for the release.

[2022-06-30 19:11] jjustus commented on #1400
I can also confirm this behavior is still the same (i.e, missing itemId, etc...) for Mac Outlook version 16.62 when running in "New Outlook" mode.

[2022-07-01 01:42] xiaoyuMS commented on #2327
@AbidRahman-MSFT @preethikakiru Does anybody know who is the contactor of office.js?

[2022-07-01 02:13] glr0221 commented on #2634
Hello @samantharamon

You are a heaven-sent. Thank you so much for being so responsive and accurate on your answers.

I did not know of this exception for existing addins that use the REST APIs. I thank you sincerely for this answer and the additional links that you posted. May I know when was this exception offered? Aside from the blog and the youtube video, which documentation was this exception

[2022-07-01 06:09] exextoc commented on #2677
Hi @dimitarbikov, thanks for reporting this issue regarding enhancedLocation. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 2906045

[2022-07-01 06:11] pasunmaa commented on #256
Same issue here. I wonder if there is any other solution than quick and dirty?

[2022-07-01 07:19] exextoc commented on #2666
Hi @milankonir, thanks for reporting this issue regarding new UI. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 2896680

[2022-07-01 07:45] JHJ-MS commented on #2667
Is your add-in an Office-JS-Addin or COM add-in? Has your add-in been published to the add-in store? If so, could we know its name to have a try to repro this issue? Or a screenshot is also helpful.

[2022-07-01 08:53] Aaditya-Rane opened #2680 "Attachment fails to add, still "Office.context.mailbox.item.addFileAttachmentAsync" returning success response in "mac outlook client new UI""
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.62 (22061100)
* Operating System: iMac 16, 2
* Browser (if using Office on the web): ---

## Expected behavior
Attachments should get added in compose pane, when adding using "Office.context.mailbox.item.addFileAttachmentAsync" and if it send "s

[2022-07-01 10:59] vivek-lakhataria commented on #1427
@lliu113 @osasseville  I have created something similar my menu loads successfully but the issue I face is when i select some text and click on button it is not interacting with the TaskPane.
Hoping you can help

[2022-07-01 11:47] maartendebal opened #2681 "Contextual add in fails to initialize on OWA in appointment context"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Contextual add in doesn't initialize on OWA in appointment context.
The link is highlighted but the window doesn't show up.

## Your Environment
* Platform: OWA on Chromium
* Host: Ou

[2022-07-01 16:20] F-Fontinha opened #2682 "getFileAsync returns 5001 with PDF file open in Word"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

getFileAsync returns Error 5001 when trying to read the document after it was converted from pdf by word.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: M

[2022-07-01 19:43] exextoc commented on #2678
@bconners1005 Thank you for reaching out about this. Are you able to reproduce this in any other Outlook Platform (Windows, Mac, mobile, etc.)? Or is this something you are only seeing on Outlook on the web?

[2022-07-01 20:12] bconners1005 commented on #2678
@exextoc We are unable to open the add-in on anything other than OWA because of Safari restrictions that blocks all access to our code due to the new-ish security implementations on newer Mac OS versions past Big Sur.

[2022-07-01 21:12] exextoc commented on #2678
@bconners1005 I see you mentioned above that you cannot consistently reproduced this issue, but you can see it live for a particular user. Is this issue consistent for that particular user or also sporadic?

[2022-07-01 21:14] JuaneloJuanelo commented on #2673
@barclayadam  do you have more details on what OS is this? (windows 8, windows 10?)
Also there are new builds available for that Channel, is the user applying those updates?

Btw the other aspect you want to check is if the user is inserting the image on Plain text mode. you might get an error there.

[2022-07-01 21:29] JuaneloJuanelo commented on #2673
Tried insert signature on that build and it works. Closing as non-reproducible.

[2022-07-01 21:29] #2673 closed, assigned to exextoc

[2022-07-02 00:40] samantharamon commented on #2679
Thank you for reporting this, @ANHPearce. I was able to replicate the issue in Outlook on Windows. I also noted that running optionalAttendees.getAsync then passing its value to requiredAttendees.setAsync worked as expected, i.e. the current required attendees were overwritten and the organizer's name wasn't duplicated or added. I tested both of your snippets in Outlook on the web and it worked as

[2022-07-02 21:01] ghost commented on #2573
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-03 06:01] ghost commented on #2655
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-03 08:01] ghost commented on #2656
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-03 08:01] #2656 closed, assigned to macOutlookExtensibility

[2022-07-03 09:06] Kronenberg opened #2683 "Admin Portal/GetSharedPropertiesAsync API Timeout"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Good day Office.JS team, at this stage I will describe the issue from admin perspective, but below you'll get the step by step guide.

So, as admin wanted to change **userB** principa

[2022-07-03 17:06] m14d3n opened #2684 "context.workbook.close(Excel.CloseBehavior.skipSave); not working properly"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Office 365
* Operating System: Windows
* Browser (if using Office on the web): Edge, Chrome

## Expected behavior

Workbook should be closed without saving data and without pro

[2022-07-03 23:47] david-ps commented on #2610
@davidchesnut My understanding from the documentation, and our testing, is that the code you mention will only Auto-open the Add-in if it is already installed. It does not prompt you to trust and install the Add-in if it is not there.

The change that must be made according to the OpenXML documentation, is setting the `taskpane` part > Visibility = 1

This is not changed by the Office JS API, and

[2022-07-04 00:03] david-ps commented on #2610
Hi @JHJ-MS , please see answers below:

**Answer>>** We believe the best solution is for the JS API to change the Visibility property's value in the `taskpane` part while the document is open instead of the OpenXML approach

**Answer>>** That is correct. User cannot effectively share Excel files that rely on the Add-in to others who do not have the Add-in already installed.

**Answer>>** Yes. Cust

[2022-07-04 03:09] yaweizhu-henson commented on #2617
Sorry for late response, I just read the message. I will invole our ENG to see what happened

[2022-07-04 03:16] grangeryy commented on #2680
Thank you for reporting the issue @Aaditya-Rane. I've added @macOutlookExtensibility to have an investigation.

[2022-07-04 03:19] grangeryy commented on #2683
Thank you @Kronenberg for reporting the issue. I've added @exextoc to take an investigation.

[2022-07-04 03:21] grangeryy commented on #2681
@maartendebal thank you for reporting the issue. I've added @exextoc to take a look. THX!

[2022-07-04 03:22] grangeryy commented on #2682
Thank you @F-Fontinha for reporting the issue. We'll take a look. @wangyun-microsoft @grangeryy

[2022-07-04 03:26] grangeryy commented on #2684
Thank you @m14d3n for reporting the issue. I've added @yaweizhu-henson to see if he can help to resolve it. THX!

[2022-07-04 04:00] neville-jones opened #2685 "Word on Windows/Mac adding custom document property as string, read back as Date"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform: PC desktop or Mac
* Host: Word
* Office version number: Windows: 2204 (Build 15128.20280 C

[2022-07-04 04:25] neville-jones opened #2686 "Excel on Windows/Mac adding custom document property as string, stored as date, read back as office-js Date but is a javascript string"
## Your Environment

* Platform: PC desktop or Mac
* Host: Excel
* Office version number: Windows: 2204 (Build 15128.20280 CTR); Mac: 16.62 (22061100)
* Operating System: Windows 10 or macOS Big Sur 11.6

## Expected behavior

When adding a custom document property where you specify a name and a value, if the value is a javascript string then when reading the custom document property back would ex

[2022-07-04 05:04] grangeryy commented on #2653
@pb-jeff-oneill, do you still reproduce the issue? And does it happen for a specific add-in or also happen to multiple different add-ins? I'm also adding @AbidRahman-MSFT to see if he's aware of this problem.

[2022-07-04 05:26] grangeryy commented on #2580
@roskamm, based on [API documentation](https://docs.microsoft.com/en-us/javascript/api/excel/excel.customxmlpartcollection?view=excel-js-preview#excel-excel-customxmlpartcollection-getbynamespace-member(1)), getByNamespace(namespaceUri: string), the parameter must be a fully qualified schema URI; for example, "http://schemas.contoso.com/review/1.0".

[2022-07-04 05:31] #2580 closed, assigned to grangeryy

[2022-07-04 05:42] grangeryy commented on #2574
@els-ts sorry for the late response. Have you worked out the solution?

[2022-07-04 05:44] roskam commented on #2580
But that is a change of functionality because in the past (in vsto but also in the function getByNamespaceAsync) it was also possible to set the namespaceUri to an empty string (so that you could get a customxmlpart with no fully qualified schema Uri set.

[2022-07-04 06:07] grangeryy commented on #2499
The issue has been fixed. @barano21 please have a try and let us know if it's resolved:)

[2022-07-04 06:07] #2499 closed, assigned to grangeryy

[2022-07-04 06:13] #2465 closed, assigned to yihuax-zz, grangeryy

[2022-07-04 06:19] grangeryy commented on #2438
@svbygoibear, check to see if you still have the issue? THX!

[2022-07-04 06:19] #2428 closed, assigned to yihuax-zz, grangeryy, RuizhiSunMS

[2022-07-04 06:22] grangeryy commented on #2411
@dhoelzl does the work around mentioned above solve the issue for you?

[2022-07-04 06:46] grangeryy commented on #585
@jordandev and @BlazorDashboard, do you still have the requirement for this capability? To better manage the new feature requirement, please consider posting the feature ask in [Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) which is the new place for "UserVoice".

[2022-07-04 06:46] #585 closed, assigned to yaweizhu-henson

[2022-07-04 06:52] grangeryy commented on #1850
Hey @beatrixmorar, really sorry for the late response as the bug is still in tracking mode. May I know if any of the customers are blocked by this? Thank you!

[2022-07-04 06:57] grangeryy commented on #1951
@wh1t3cAt1k internally this ask is still tracking in our backlog. To make it more visible to people who have the same ask, we recommend you posting the requirement in [Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) (which is a new version of "UserVoice").

[2022-07-04 07:02] grangeryy commented on #2174
@djaeger-inercomp are you still seeing the error in your version?

[2022-07-04 07:04] grangeryy commented on #2193
@wh1t3cAt1k internally this ask is still tracking in our backlog. To make it more visible to people who have the same ask, we recommend you posting the requirement in [Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) (which is a new version of "UserVoice").

[2022-07-04 07:07] #2220 closed, assigned to yaweizhu-henson

[2022-07-04 07:12] grangeryy commented on #2552
@swaroopa-rani, do you still reproduce the issue?

[2022-07-04 07:13] grangeryy commented on #2553
@swaroopa-rani, do you still have this issue?

[2022-07-04 07:19] grangeryy commented on #2575
@cidev5 sorry for catching up late on this issue. Do you also see this error in 32-bit machine when using other Custom Function add-ins?

[2022-07-04 07:24] grangeryy commented on #1944
@AndyHore, you may raise the requirement on [Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) which is the replacement of UserVoice

[2022-07-04 08:42] SiruiSun-MSFT commented on #2674
Hi @timbeese,

Thanks for letting us know this issue. However, regarding the question you raised, now the behavior of the API and the native feature (UI) is consistent, and we will fill in the form as much as possible when they are under integer multiple, which is by design.

Thanks, Microsoft 365 Developer Platform team

[2022-07-04 08:53] barisbikmaz commented on #2483
I realized that you have to apply the styles first in Word for PC. Then it works
![Copy Word Styles 3](https://user-images.githubusercontent.com/6338132/177119293-f6337f1f-69b7-4a3f-a05b-778d5b9d6740.gif)

[2022-07-04 09:14] lukamaletin commented on #1922
Thank you for your patience. The issue is now resolved and the fix is fully rolled out to production. Please verify it works as expected on your end, and let us know if you face any issues.

[2022-07-04 09:14] #1922 closed, assigned to grangeryy, wangyun-microsoft

[2022-07-04 09:14] lukamaletin commented on #1995
Thank you for your patience. The issue is now resolved and the fix is fully rolled out to production. Please verify it works as expected on your end, and let us know if you face any issues.

[2022-07-04 09:14] #1995 closed, assigned to qinliuMSFT

[2022-07-04 09:14] lukamaletin commented on #2243
Thank you for your patience. The issue is now resolved and the fix is fully rolled out to production. Please verify it works as expected on your end, and let us know if you face any issues.

[2022-07-04 09:14] #2243 closed, assigned to RuoyingLiang

[2022-07-04 09:45] mumarniaz commented on #2664
@grangeryy @wangyun-microsoft any update on this issue ? It is very critical for our product development and if that won't work we have to postpone our development and will lose our potential client.

[2022-07-04 10:24] exextoc commented on #2618
yes, the feature is in progress. We unfortunately have no timelines to share at this point.

[2022-07-04 10:42] exextoc commented on #2683
Can you please share the steps, how did you share the user B mailbox to User A? Is it a shared mailbox account?

[2022-07-04 11:25] Kronenberg commented on #2683
Good day @exextoc here is the additional steps:
1. Admin goes to https://portal.office.com/AdminPortal/Home?#/SharedMailbox
2. Admin add members to this mailbox(**userB**) under the same link
3. Admin goes to Azure Portal https://portal.azure.com/#view/Microsoft_AAD_IAM/UserDetailsMenuBlade/~/Profile/userId/very_nice_user_id and under this page he has ability to change principal name of this user

[2022-07-04 15:05] jordandev commented on #1850
We have had user complaints about this.

[2022-07-04 17:54] Arvini92 opened #2687 "Please check the release version"
Please check the current release version, it seems there is a lack of lines in office.js, and in other files like https://github.com/OfficeDev/office-js/blob/release/dist/office.debug.js it ends on the else statement. Diff between CDN office js and this one
![Screenshot (297)](https://user-images.githubusercontent.com/24441434/177200726-929f3155-6737-4a33-8ced-adef50f1eb71.png)
![Screenshot (298)]

[2022-07-04 18:40] bojanClarivate commented on #2527
Hi all after some API updates that i noticed on your side, outcome is a little bit different. I updated original post with new findings.

[2022-07-05 00:02] pb-jeff-oneill commented on #2653
I am no longer able to reproduce this.

[2022-07-05 02:23] JinghuiMS commented on #2687
@Arvini92 Thanks very much for reporting this issue.
Assign it to @jayrathi who recently updated the https://github.com/OfficeDev/office-js/blob/release/dist/office.debug.js.

[2022-07-05 03:32] yuc014 commented on #2686
Hi @neville-jones , I could repro it on win32 and online (16.0.15425.35901). They both shows Date type.
And after see the code, this is by design. When it receives a new custom document property, it will try to parse the value by ISO8601, to see whether this is a date property.
About you say "Does not occur with Excel on the web". Could you give me your web build number? Since win32 and web worked

[2022-07-05 03:37] JinghuiMS commented on #2684
@m14d3n
I can't repro this issue on my side, if you close the workbook on the UI (click x on the tab), will this "Leave site" dialog also appear?
It's definitely not right to have this error, if you can provide a repro video, that will be helpful for us to better understand your scenario. Thanks!

[2022-07-05 04:55] GavinGu07 commented on #2685
Hi @neville-jones, Thanks for submitting this issue! This is by design that converting a string in ISO8601 format to a date type, both in Word and Excel. If you want to store as a string, you can convert it in your JavaScript code.

[2022-07-05 04:55] neville-jones commented on #2686
Hi @yuc014 , I have re-tested in Excel web and have found it works the same there so I must have been mistaken with the similar case for Word.

The workaround is not ideal for our situation, as we are using the value in a hash calculation and the string value we start with as the input is retrieved in the future and needs to be identical as its original input, otherwise the hash does not validate.

[2022-07-05 04:56] jipyua commented on #2682
would you please provide use the pdf document you are using? does it contain specific content that word can't covnert?

[2022-07-05 05:03] jipyua commented on #2624
Thanks for reporting, this bug is now tracked by internal bug 6211840, we will update this when we have some progress.

[2022-07-05 05:12] exextoc commented on #2681
Thanks for reporting this issue regarding contextual add-in not working in OWA Calendar. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office:  162429

[2022-07-05 05:31] libjosep commented on #2594
As @guliums said, this depends on the range size. It is difficult to split ranges based on overlap condition since I have too many ranges to check. Since it works if we divide in to small ranges, can you fix it without splitting the ranges?

[2022-07-05 05:41] yuc014 commented on #2686
Ok, then what about parse date to timestamp(milliseconds) and do hash.
I see timestamp is saved as string.
![image](https://user-images.githubusercontent.com/87364252/177257273-a10fb045-fb85-4a62-8ffa-321c5d505fc4.png)

[2022-07-05 05:52] wangyun-microsoft commented on #2653
@pb-jeff-oneill If you could no longer reproduce this, I'll close this one. Please reopen when needed. Thanks.

[2022-07-05 05:52] #2653 closed, assigned to grangeryy, wangyun-microsoft

[2022-07-05 06:02] gopinathshiva commented on #2667
@JHJ-MS Thanks for the reply.

It is an Office-JS-Addin. It is already available in the store with name Spreadsheet Sync - https://pages.store.office.com/addinsinstallpage.aspx?rs=en-GB&assetid=WA200003784&isWac=True&ui=en-US&ad=GB

[2022-07-05 06:17] xiaoyuMS commented on #2217
Hi @sureshjoshi,
While I am not quite sure of the exact timeline, the good news is footnote/endnote APIs on desktop are already planned.

[2022-07-05 06:24] exextoc commented on #2680
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 6211967

[2022-07-05 07:41] F-Fontinha commented on #2682
Any file returns the same result for me. Here's an example with a simple pdf with just one line.
[example.pdf](https://github.com/OfficeDev/office-js/files/9044277/example.pdf)

[2022-07-05 08:39] djaeger-inercomp commented on #2174
Hi grangeryy, unfortunately this error is still present

[2022-07-05 09:12] echowwl opened #2688 "use schedule assistant for zoom in OWA, Outlook calls our oneClickPrepareMeeting interface twice,"
1. reproduce the issue:
![image](https://user-images.githubusercontent.com/105787768/177293721-7b6bf31a-9ade-48e3-a49d-c7ce285f7c12.png)
https://success.zoom.us/rec/share/y89AUFCFKhuh7akv4p8spuAgnpRJV3xpWXe9u-9MkrINhsRqetYJIqCmC_UcD5T0.Jx4iXwkYhtfzuGON
Passcode: e0b%m!z6
add online meetings to all meetings should be a new feature of Microsoft.

From the console log of dev-tool, we can see that aft

[2022-07-05 10:49] AndyHore commented on #1944
@grangeryy , do we have to re-submit all our defects as ideas on the other forum (because they will be ignored here...)? And if this forum dead at this point?

[2022-07-05 11:23] wangyun-microsoft commented on #1944
@AndyHore For insertFileFromBase64, it is in our list, and we are looking at the possible enhancement here. For the defects, they are not ignored. We actively review the list and prioritize what is requested. For new ideas or requirements that you would like to get votes from others, Ideas Forum is a valid channel to go. Thanks.

[2022-07-05 12:01] AndyHore commented on #1944
@grangeryy, ok, thanks for clarifying.

[2022-07-05 13:07] sureshjoshi commented on #2217
Thanks @xiaoyuMS - that's excellent news!

[2022-07-05 13:51] bconners1005 commented on #2678
@exextoc it is consistent.  It will happen every time the user opens the add-in on Chrome.

[2022-07-05 15:37] nssoft-rlagrange commented on #2329
Hi, any news on this ?

[2022-07-05 15:42] dhoelzl commented on #2411
Hello!

Thank you for the reply.

The workaround is not a real solution for our problem, because we do not want the extra paragraph in the content control, as this changes the way the document will look. If multiple content controls are among each other, there will always be a gap between them.

Regards,
Dominik

[2022-07-05 21:06] DaveWatson44 opened #2689 "How to enable a SharedRuntime Environment in a custom function excel add-in with a separate vuejs taskpane"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I need to create a shared runtime environment so that my excel custom functions can have access to the workbook context.

Current Setup: The way the project seems to have been set up

[2022-07-05 21:39] JuaneloJuanelo commented on #2416
Hey @glr0221  I was discussing this issue with the team today, I wonder if we can sync offline regarding your scenario, if so please email me juanbl@microsoft.com. Thanks!

[2022-07-05 23:01] ghost commented on #2573
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-05 23:01] #2573 closed, assigned to exextoc

[2022-07-06 00:17] neville-jones commented on #2685
Hi @GavinGu07 - we do want to store the value as a string, hence why we pass down a string representation of the datetime, but, as you have confirmed, Word is actually converting it to a date type when storing it, which is "by design". Part of the problem with trying to work around this is that when we read the date value back, it appears to be time shifted by a second so this is very problematic

[2022-07-06 00:29] neville-jones commented on #2686
We have an equivalent COM add-in which has been storing the timestamp as a ISO8601 string representation of the datetime (in syntax YYYY-MM-DDTHH:mm:ssZ) so our Office web add-in has to use the same representation for interoperability between the two add-ins so the hash calculation algorithm can remain the same.
The COM add-in has been in use since 2008 so many workbooks in use at customer sites w

[2022-07-06 03:28] jipyua commented on #2682
hi F-Fontinha, for this case it's because the file save hasn't really happened, and the file type is still pdf, thus you saw this error. if you save the file to local disk and try again, it will succeed.

[2022-07-06 03:40] GavinGu07 commented on #2685
I understand your concern. However, this conversion was asked by many customers before, so we designed it like this. I also noticed your reply in #2686, and I'd recommend going to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) and see if this feature has already been requested or request a

[2022-07-06 03:59] exextoc commented on #2678
Can you please help with following queries:
1. Is the issue only reproducible for one user while same add-in works fine for all other users?
2. Is the add-in working fine in all other browsers? And is it working fine in outlook Desktop?
3. Is the user calling the getSharedPropertiesAsync API from the item from delegated mailbox?
4. If possible, can you share the manifest and the code snippet with

[2022-07-06 04:15] exextoc commented on #2329
The issue has been fixed. Is it still reproable for you?

[2022-07-06 10:43] theawesomenayak commented on #2625
Hi Team, any update on the above bug? We have been following up with MS support using our corporate channel (Intuit) but not able to get an update. This is affecting one of our products and impacting over 1K customers.

[2022-07-06 11:00] exextoc commented on #2688
Thanks for reporting this issue. We are able to repro the issue at our end. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office:  162614

[2022-07-06 11:16] glr0221 commented on #2416
Thank you @JuaneloJuanelo . I have sent you email using my office/work email address. Thank you again.

[2022-07-06 11:26] rwolfdev opened #2690 "Syntaxerror in npm package with version 1.1.76"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
I can not use the npm package of office-js to build my word-add-in. I defined the package in my package.json as follows:
"@m

[2022-07-06 13:09] theboyknowsclass opened #2691 "Requirement check for Powerpoint API 1.4 fails"
Hi i can't seem to get the requirement check working for Powerpoint Api 1.4 on web

https://gist.github.com/theboyknowsclass/7f53b99b961674cf9e60787c60058a08

# Provide required information needed to triage your issue

## Your Environment
* Operating System: Windows 10
* Browser (if using Office on the web): Edge

## Expected behavior
expect the Office.context.requirements.isSetSupported("PowerPoi

[2022-07-06 13:29] wangyun-microsoft commented on #2664
@mumarniaz When tracking changes is on, the text is completely deleted after you apply the changes. The handler will be called then. Can you send me an email (wyun@microsoft.com) so that we can discuss your use case and see how to proceed? Thanks.

[2022-07-06 15:53] JuaneloJuanelo commented on #2590
update: we checked in a fix. you should be able to test in beta within the next 3 weeks. then will be released to production ~mid september.

[2022-07-06 16:08] JuaneloJuanelo commented on #2416
Thanks! we are looking into this.

[2022-07-06 16:42] mumarniaz commented on #2664
@wangyun-microsoft Sure let me send you the email with more detail via a video

[2022-07-06 17:05] keyur32 commented on #2676
sorry was on vacation and didn't see this. Assigning to @yaweizhu-henson  who drives Excel APIs. thx.

[2022-07-06 18:23] GarethCarey commented on #2567
I'm experiencing the same issue. All add-ins become greyed out and disabled when in compose mode & a delegate is selected using the new Mac UI. Is there an update available here?

[2022-07-06 18:40] gofish543 opened #2692 "Footnotes on Microsoft Word (Desktop) NotImplemented Exception"
How can one access, insert, update, and otherwise manipulate footnotes in a desktop environment? None of the API calls which work on web are working locally.

This really puts a significant damper on the development of add-ins if I cannot use the same functionality across platforms. Is there any intention to add this in the future?

[2022-07-06 18:50] sureshjoshi commented on #2692
There is some information about that here: https://github.com/OfficeDev/office-js/issues/2217#issuecomment-1174660505

Right now, footnotes/endnotes are WordOnline 1.1 (released relatively recently), with desktop support coming at some point.

[2022-07-06 23:34] jayrathi commented on #2674
@timbeese, as Sirui said, the api behavior is same as what happens in Excel UI, so this behavior is as designed. My recommendation for your problem is to have slightly tweak your code like this
`selectedRange.getCell(0,0).copyFrom(dataRange)`

By selecting just the first cell, you will only end up creating one copy of the data.

[2022-07-06 23:59] JuaneloJuanelo commented on #2634
Hello @glr0221 , good discussion. We are already following with you offline for this issue. We are going to be using the ID element on the manifest to determine what are those add-ins using REST prior to the decommission date. Each add-in in the store gets its own GUID for an ID automatically. For folks not using the store as deployment model they need to make sure you use the same ID (GUID) going

[2022-07-07 00:23] jasonclg commented on #1828
Hi,
Is this issue still being tracked?

[2022-07-07 01:34] SWei1234 commented on #2593
Hi @exextoc
    Have you received the mail? Or need I send the recording again?
Thanks

[2022-07-07 05:31] yuc014 commented on #2686
It's good to hear that at least a workaround could work.
For this api, yes, it needs a parameter to make this function better.
I would recommend you go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if this feature has already been requested or request a new feature.

[2022-07-07 05:41] exextoc commented on #2567
Currently the feature of supporting add-ins in shared mailbox, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-07-07 05:56] yuc014 commented on #2625
@theawesomenayak @raj01104
One of our engineers is working on the fix. Really sorry for the inconvenience.

[2022-07-07 08:42] JinghuiMS commented on #2691
@theboyknowsclass
For powerpoint common API, the latest version should be 1.1.
For powerpoint JS API, the latest version should be 1.4.
More detailed info you can refer to this document:
https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/office-add-in-requirement-sets?view=common-js-preview

[2022-07-07 08:49] theboyknowsclass commented on #2691
Yes, I understand that, but the code here https://docs.microsoft.com/en-us/javascript/api/requirement-sets/powerpoint/powerpoint-api-requirement-sets?view=common-js-preview#checking-for-requirement-set-support-at-runtime seems to return the wrong value in scriptlab

[2022-07-07 09:50] mornir opened #2694 "Does the current version of office.js allow the insertion of images (e.g. logos) in headers and footers of Word documents?"
This question has been asked about headers in Excel worksheet: https://stackoverflow.com/questions/68696821/adding-image-to-worksheet-header-footer-office-js-excel
The answer was that this feature was planned.

Also asked about Word, but without an answer: https://stackoverflow.com/questions/66805165/how-can-i-insert-picture-in-footer-section-with-javascript-office-js

Hence my question 😊

[2022-07-07 11:02] sahil1504001 commented on #2614
It working @ssnyder-msft, Thank you very much!

[2022-07-07 13:08] ADearingIntlFarming commented on #1198
So, for anyone finding this error later, I have another solution that worked for me (because I couldn't get the above one to work):
In the `index.html` file:
[code]
In the main.ts file:
[code]

[2022-07-07 13:55] barclayadam opened #2695 "Changing From address adds additional new lines between body and signature"
# Provide required information needed to triage your issue

When changing the From address of an email additional empty new lines are injected in to the body of the email, above the signature area:

[Body of the email]

 --> New lines added here <--

[Signature area]

If From is changed multiple times, new lines will keep being added
## Your Environment

* Platform: PC desktop
* Host: Outlook
* Of

[2022-07-07 14:59] shff opened #2696 "Using prependAsync changes the formatting of the text to Calibri 11 (macOS "new" Outlook)"
Using prependAsync in HTML mode changes the formatting of the text to Calibri 11.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.59
* Operating System: macOS 14 and 15
* Browser (if using Office on the web): -

## Expected behavior
The font should not change.

## Current behavior
The font ch

[2022-07-07 15:48] F-Fontinha commented on #2682
Hi. And isn't there any way to actually read it as docx without saving it locally? As I understand, the getFileAsync function reads the file you are currently seeing (which I thought would be a docx file converted from pdf in this case). For example, when you create a new docx file you can use getFileAsync function without needing to save it locally first.

[2022-07-07 15:58] #2692 closed, assigned to wangyun-microsoft

[2022-07-07 18:10] liamtim commented on #2567
@exextoc It's currently a feature on OWA, Outlook for Windows, Outlook for Mac old UI. Are you implying that this feature is being removed intentionally for Mac new UI?

[2022-07-07 18:14] samantharamon commented on #2634
Thanks for clarifying the information about the ID, @JuaneloJuanelo.

@glr0221, regarding the documentation, we will be updating [Use the Outlook REST APIs from an Outlook add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api) in the coming days to include guidance on the exemption. Regarding feedback, no worries at all; I'm happy we were able to help. :)

[2022-07-07 18:41] carlcarlsoniv commented on #2146
Adding a comment here after coming across this while searching about a similar issue some of our users are experiencing. After our add-in is installed, a button is added under the Home ribbon. Multiple users are reporting that this button disappears without them removing it and without any notice.

They then have to go to Insert - My Add-ins, find our add-in which is listed under MY ADD-INS, then

[2022-07-07 21:52] gofish543 opened #2697 "Two+ instances of insertText are overlapping each other"
Take the string `A  long  walk  in  the  park`

And the code
[code]

The result in the word document is

`A long alk   `  with each instance of the for loop overwriting `index` characters of the next identified string. What is the workaround for this?

[2022-07-08 04:44] tranhuyentran23 opened #2698 "[Word Online] Content with image is inserted outside content control"
# Provide required information needed to triage your issue

## Your Environment

* Platform: Office Online
* Host: Word
* Office version number: 16.0.14413.41001
* Operating System: Windows 10
* Browser: Chrome

## Expected behavior
Content with an image will be inserted inside the content control

## Current behavior
Content with an image is inserted outside content control

## Steps to reproduce

[2022-07-08 06:01] ghost commented on #2655
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 06:01] ghost commented on #2638
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 06:01] ghost commented on #2574
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 06:20] exextoc commented on #2683
Thank you for reporting the issue. It takes minimum 24 hours to get the updated username post the changes are made.

[2022-07-08 07:04] dhoelzl commented on #2655
Do you need anything from me (as autobot marked this as "stale")?

[2022-07-08 08:19] exextoc commented on #2567
As a correction to our earlier response this isn't a new feature request, and we are currently working on bringing this feature to the new Mac UI. We unfortunately don't have any timelines to share with you at the moment.

[2022-07-08 09:01] ghost commented on #2575
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:01] ghost commented on #2553
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #2552
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #2501
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #2479
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #2438
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #2248
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #2193
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 09:02] ghost commented on #1951
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 12:47] cody-lettau commented on #2377
Hi @JuaneloJuanelo - I sent an email regarding our use case back in mid-June. Just wanted to follow up as we have tried the popup to indicate the add-in is running during the send process, but it's really not a good user experience.

Many times, we are seeing issues with opening/closing of the dialogs causing issues (sometimes we show another dialog for the user to decide if an email needs to be e

[2022-07-08 16:21] JinghuiMS commented on #2691
Thanks for reporting this issue. It has been put on our backlog<Bug#6224524> for internal track.

[2022-07-08 17:33] JinghuiMS commented on #2697
@gofish543
Thanks for reaching us. Can I know which platform (Word Desktop, Word Online, Mac or iOS) you are seeing this error? And what's the word version? Because I can't repro it on my local machine both desktop and online platform, if you can provide a repro video, that will be helpful for us to better understand your scenario.

[2022-07-08 17:41] JinghuiMS commented on #2694
@mornir Thanks for reaching us.
I want to confirm one thing, you said footer not footnote.
For footer, I would recommend you go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if this feature has already been requested or request a new feature.

[2022-07-08 18:01] ghost commented on #1850
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-08 18:09] jasonclg commented on #1850
unstale

[2022-07-08 20:29] alison-mk commented on #2655
@dhoelzl Thanks for checking in. This issue was inadvertently marked as needing your feedback, but it doesn't because the previous comment states:

Sorry for the confusion!

[2022-07-08 20:50] lynneosmith opened #2699 "Powerpoint ScriptLab Insert shape, line and text box sample does not work on web; works fine on desktop"
Using ScriptLab sample to insert shape, line and text box. If I do this on the desktop powerpoint version, it works correctly. If I do this on powerpoint on the web, the shape, line or textbox is not displayed in the slide. They are displayed in the slide thumbnails on the left. I am attaching a screenshot.
Subsequently, if you try to remove the using your sample, that also won't work.
When I trie

[2022-07-09 04:04] JinghuiMS commented on #2698
Thanks for reporting this issue. It has been put on our backlog<Bug#6225785> for internal track. We unfortunately have no timelines to share at this point.

[2022-07-10 06:01] ghost commented on #2685
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-10 08:34] mornir commented on #2694
Thanks for the quick answer. Yes, in the **footer**.

I didn't find this feature in the submitted ideas. I'm going to submit a new one.

[2022-07-10 08:34] #2694 closed, assigned to JinghuiMS

[2022-07-10 09:01] ghost commented on #2684
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-10 19:03] YossiCohen commented on #704
@awhowart
Do I need to add the parameter to all the links in the manifest?
Or does it works also if we change only the Default serrings?

[2022-07-10 23:15] exextoc commented on #2668
@ghelyar, this has been fixed in the newest versions of the Semi-Annual Channel, which will be released soon. We are going to update our documentation to reflect what you pointed out. The checks that you performed are all valid, however, won't been needed any more in the upcoming Semi-Annual Channel release.

[2022-07-10 23:24] exextoc commented on #2695
Thanks for reporting this issue regarding our Signature API. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 6217083

[2022-07-11 01:42] guliums commented on #2625
Hi @raj01104 @theawesomenayak May I know is this a recent issue or it happened from the beginning?

[2022-07-11 02:51] jipyua commented on #2682
so far this is a limitation for PDF converted files, it will have to be first saved and then will be truly docx files.

[2022-07-11 03:14] JinghuiMS commented on #2687
@Arvini92 Please double check whether it works for you, because
https://github.com/OfficeDev/office-js/blob/release/dist/office.debug.js. had been updated. Thanks!

[2022-07-11 04:56] rajeshgaur23 commented on #2625
@guliums This is happening from beginning only

[2022-07-11 05:09] exextoc commented on #2696
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 6239410

[2022-07-11 06:01] ghost commented on #2686
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-11 07:41] ghelyar commented on #2668
Thanks for the update.

Does this mean that semi-annual channel will be updated to some version that meets requirement set 1.11, so SessionData will work from SAC in the upcoming release, but it would still be needed for future requirement sets?

[2022-07-11 08:01] ghost commented on #2638
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 08:01] #2638 closed, assigned to grangeryy, wangyun-microsoft

[2022-07-11 08:01] ghost commented on #2574
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 08:01] #2574 closed, assigned to grangeryy, wangyun-microsoft

[2022-07-11 08:50] hxltinh commented on #2238
Hi @JuaneloJuanelo, this issue also happens on runtime process for reply message:
email: andrew@tinhhadev.onmicrosoft.com
reply to: sushi@tinhhadev.onmicrosoft.com
Environment: Outlook for Mac

<img width="990" alt="Screen Shot 2022-07-11 at 12 10 54" src="https://user-images.githubusercontent.com/8114730/178224710-e5605c9a-98cc-4b4b-bf55-180eabbee150.png">
it shows that the user has `recipientTyp

[2022-07-11 09:28] els-ts commented on #2574
@grangeryy - no, not yet. We haven't got time to look back to this issue yet.

[2022-07-11 10:43] beatrixmorar commented on #1850
Hi @grangeryy,
Our product is still in development mode, but we want to deliver a good product, therefore we would like to know if there is an estimation on when this bug will be fixed.

[2022-07-11 11:01] ghost commented on #2575
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:01] #2575 closed, assigned to yaweizhu-henson

[2022-07-11 11:01] ghost commented on #2553
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:01] #2553 closed, assigned to guliums, yaweizhu-henson

[2022-07-11 11:01] ghost commented on #2552
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:01] #2552 closed, assigned to yaweizhu-henson

[2022-07-11 11:01] ghost commented on #2501
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:01] #2501 closed, assigned to grangeryy, wangyun-microsoft

[2022-07-11 11:01] ghost commented on #2479
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:01] #2479 closed, assigned to yihuax-zz, grangeryy, wangyun-microsoft

[2022-07-11 11:02] ghost commented on #2438
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:02] #2438 closed, assigned to yihuax-zz, grangeryy, wangyun-microsoft

[2022-07-11 11:02] ghost commented on #2248
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:02] #2248 closed, assigned to yaweizhu-henson

[2022-07-11 11:02] ghost commented on #2193
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:02] ghost commented on #1951
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-11 11:14] awhowart commented on #704
Updating the Version tag alone should work for bypassing the local cache, but it doesn’t always. Not in my experience anyway. That’s why I also update the SourceLocation as well.

I should clarify that I use WebPack to build my application, which automatically changes any JavaScript / CSS filenames, so they wouldn’t exist in the cache yet. I just need to force the updated HTML file down from the s

[2022-07-11 12:34] Subhanansahoo commented on #2625
@yuc014 @guliums Can we have an ETA on the fix being implemented?

[2022-07-11 12:39] gmichaud commented on #2617
The problem is gone on my side

[2022-07-11 13:33] m-pd commented on #1400
Hi @exextoc This has now finally been resolved. Apparently this:
`<key>SuppressO365AutodiscoverOverride</key>`
was in our profiles and set to true.

When you asked me to run the above command apparently it couldn't override the profile setting. Also, what we discovered was that even if the value is true or false we were seeing the problem. We have had to remove the key from the profiles to remove

[2022-07-11 16:58] hbnrmx opened #2700 "Office for Mac (WKWebView) file download support"
# Provide required information needed to triage your issue

We have an office addin with a sidepane that can download files:
[code]

I have whitelisted the domain so that it opens within the same window in the `manifest.xml`:
[code]

The download works fine when opening the addin in any browser or in Office for Windows,
but seems to fail in Office for macOS (WKWebView):
<img src="https://user-imag

[2022-07-11 17:36] anthonypcole opened #2701 "Shared runtime Excel Addin with webpage using SignalR stops Excel from shutting down correctly"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Using a background signalR connection with the shared runtime enabled, I noticed that the excel process no longer immediatel

[2022-07-11 18:20] timbeese commented on #2674
I didn't realize that it behaved that way with normal copy and paste, but indeed it does.  So yes, this is working as designed.  I've implemented the suggested workaround to move data into the top left cell and that is working nicely.  Thanks!

[2022-07-11 19:24] wandyezj commented on #2674
@AlexJerabek While the behavior is consistent with the UI, there is no mention of this behavior in the [range.copyFrom API documentation](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#excel-excel-range-copyfrom-member(2))

Would it make sense to update the documentation with this information?

[2022-07-11 19:34] wandyezj commented on #2690
Add-Ins should **NOT** typically reference the office-js NPM package.

Per [office-js NPM package readme](https://www.npmjs.com/package/@microsoft/office-js)

Instead, you should reference office-js from the CDN and use the [@types/office-js](https://www.npmjs.com/package/@types/office-js) package for IntelliSense via `npm install --save-dev @types/office-js`

For more information see [Accessing t

[2022-07-11 19:36] wandyezj commented on #2690
@AlexJerabek we should consider adding a big warning at the top of the [@microsoft/office-js](https://www.npmjs.com/package/@microsoft/office-js) README.md that puts the target scenarios first and a link to the docs on how to use the CDN.

This is a common mistake I've seen a few developers make.

[2022-07-11 19:56] AlexJerabek commented on #2674
@wandyezj, sure we can expand that documentation. @alison-mk, could you please draft the update and track this in our internal spreadsheet?

I believe we can close this issue in the meantime.

[2022-07-12 00:57] rogozind opened #2702 "RichApi.Error when loading inline images"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We use the code below to fetch inline images from a word document. This code used to work a few months ago. Recently (not sure exactly when) it started to throw this error under speci

[2022-07-12 03:17] guliums commented on #2625
Hi @Subhanansahoo @raj01104 @theawesomenayak , sorry for inconvenience. After investigation, it turned out that the bug is in Excel side when open template file from Microsoft AppSource that impacted office.js API. We have contact Excel team and they are actively working on it. Unfortunately I don't have a timeline to share at this point, but I will keep updated in this thread.
As the bug is cause

[2022-07-12 03:55] rwolfdev commented on #2690
I have understand the usage scenarios of the npm package. And my solution must work behind a firewall where there is no access to the CDN. For this reason I have tried to use it.

[2022-07-12 09:07] SiruiSun-MSFT commented on #2676
Hi @Stepan-Valkov , sorry for delay response. After investigation, it turned out that the bug is in Excel side when reapplying an excel table's sort (bug id: 6244801). We have contact Excel team and they are actively working on it. Unfortunately, I don't have a timeline to share at this point, but I will keep updated in this thread. Thanks!

[2022-07-12 09:09] SiruiSun-MSFT commented on #2564
Hi @LeapSoftware , sorry for delay response. After investigation, it turned out that the bug is in Excel side when set cell properties on a large table (bug id: 6244786). We have contact Excel team and they are actively working on it. Unfortunately, I don't have a timeline to share at this point, but I will keep updated in this thread. Thanks!

[2022-07-12 12:39] mornir commented on #2694
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/office-js-allow-insertion-of-images-in-headers-and-footers-for/idi-p/3570889#M1093

[2022-07-12 13:01] milankonir commented on #2661
@exextoc Here are the full steps to reproduce including cloning the test add-in and installing it into the Outlook https://share.getcloudapp.com/mXuxbzG1

[2022-07-12 13:38] lynneosmith commented on #2699
Is there an update on when this will be resolved? Thank you!

[2022-07-12 13:39] GrumpyAL commented on #1400
@m-pd thank you!  I have been unable to reproduce this issue in my dev environment (or prod for that matter).  Until now.  Adding that key has caused the itemID (and other) properties to go missing.  I can switch Outlook for Mac back to Legacy and the issue goes away, but when I switch back to "New" it returns.  This is the same behavior we were seeing for some of our customers.

I am testing on 1

[2022-07-12 14:15] barclayadam commented on #2673
@JuaneloJuanelo our customer has confirmed that they have this version of Outlook (as per original submission) & Windows 10 Enterprise 20H2 19042.1766 on approximately 1200 machines, but only a single user appears to be having this issue at this time.

The customer has said, as a test, they could try upgrading this single user. Before they do that, would it be helpful if we can try to get any logs

[2022-07-12 16:52] JinghuiMS commented on #2690
Thanks for reaching us. To better assist you, we suggest you go to Microsoft Tech Community New Ideas forum for the Microsoft 365 Developer Platform ([https://docs.microsoft.com/answers/products/m365](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform)) and see if your feature has already been requested or request a new feature.

[2022-07-12 17:10] abhinovpankaj opened #2703 "Simple space regex won't work when regional setting is "Germany""
I am using word API to create  a simple Word Add-in for find and replace function.

Regional settings: US
The below code like charm, and it searches just fine.
[code]

Once the regional settings changes to attached image, simple search starts to throw exception.
![image](https://user-images.githubusercontent.com/15319976/178551878-e652ff60-3147-458a-9f64-bf78ce56eb04.png)

Exception :

[ERROR]: Er

[2022-07-12 17:32] JHJ-MS commented on #2689
The steps you took to create shared runtime look correct.
To add the task pane, do not forget to _Open manifest.xml and find the <bt:Urls> tags inside the <Resources> tag. Locate the <bt:Url> tag with the ID Taskpane.Url and update its DefaultValue attribute._    Here is a related link for reference, [Use Vue to build an Excel task pane add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/q

[2022-07-12 17:43] AlexJerabek commented on #2703
Hi @abhinovpankaj,

Thanks for reporting this issue. This appears to be a product bug, so I'll transfer this issue to the office-js repo. There, members of the product team can investigate your findings.

[2022-07-12 17:46] AlexJerabek commented on #2703
@abhinovpankaj, can you please also provide the following system information:

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

[2022-07-12 17:59] abhinovpankaj commented on #2703
Office version number:
![image](https://user-images.githubusercontent.com/15319976/178561064-88a46df5-8a2e-478e-a55f-d89060a45afd.png)

Operating System: Win 11
Browser (if using Office on the web): NA

I have tried this on Win 10 as well. Not sure about the office version there( Its user's machine)

[2022-07-12 18:01] ghost commented on #2697
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-12 18:01] ghost commented on #2691
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-12 18:06] alison-mk commented on #2674
I've recorded a request to update to this API description in our internal tracking spreadsheet, and the change will be included in our next batch of reference documentation updates. I will close this issue in the interim. Thanks for the contribution, @timbeese!

Cheers,
Alison

[2022-07-12 18:06] #2674 closed, assigned to gergzk

[2022-07-12 21:14] DaveWatson44 commented on #2689
Hi JHJ-MS, thanks for helping look into this.

This is the value I currently have for the bt:Url tag:
<bt:Url id="Taskpane.Url" DefaultValue="http://localhost:8080/"/>

I have also tried it with:
<bt:Url id="Taskpane.Url" DefaultValue="http://localhost:8080/index.html"/>
Just to make sure it didn't need the index.html, but it still wasn't successful.

Here are some examples of the errors I'm getti

[2022-07-12 21:16] DaveWatson44 commented on #2689
Also just to note I've made the adjustments as outlined in the Microsoft Documentation, but also added the taskpane to the entry config as follows:

[code]

And this is how my HtmlWebpackPlugin section is formatted:

[code]

[2022-07-12 22:52] jgonzalez-at-wiris opened #2704 "Office Settings API not persisting settings in PowerPoint Online after closing the add-in or reloading the web page."
# Office Settings API not persisting settings in PowerPoint Online after closing the add-in or reloading the web page.

## Your Environment
* Platform : Office on the web
* Host: PowerPoint
* Office version number: Build 16.0.15507.40519
* Operating System: Windows 10
* Browser (if using Office on the web): Brave, Version 1.40.113 Chromium: 103.0.5060.114 (Official Build) (64-bit)

## Expected beh

[2022-07-13 05:25] neville-jones commented on #2685
Hi @GavinGu07, can you at least explain why the time shift back one second occurs? In my script lab sample we write down a string value of 2022-01-01T10:00:00Z but when we read it back it has date value of Sat Jan 01 2022 20:59:59 GMT+1100

[2022-07-13 06:01] ghost commented on #2698
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-13 07:43] milankonir opened #2705 "External images set through `body.setAsync` are blocked in reply"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.

[2022-07-13 08:33] SWei1234 commented on #2593
Hi @exextoc
   Need I share you more recording? Or anything else need I supply?
Thanks

[2022-07-13 09:02] GavinGu07 commented on #2685
Hi @neville-jones. After investigation, we think it could be a bug. We have created an internal work item 6248145 on it. We will keep track of this issue and let you know if there are any updates.

[2022-07-13 11:01] ghost commented on #2684
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-13 11:01] #2684 closed, assigned to yaweizhu-henson

[2022-07-13 15:13] timbeese opened #2706 "Text style not honored with insertWorksheetsFromBase64"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When using insertWorksheetsFromBase64 on the excel web client, some of my text is rendered black on black.  It renders prope

[2022-07-13 15:39] m-pd commented on #1400
@GrumpyAL
The docs show the key value should be `true` (or `false`). It's possible `0` is invalidating the key and that is why it works for you.
https://docs.jamf.com/technical-papers/jamf-pro/microsoft-office/10.18.0/Microsoft_Outlook_Default_Preference_Keys.html

[2022-07-13 16:02] Iso5786 opened #2707 "Outlook mobile - intent link opens in webview"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Outlook mobile - intent link opens in webview

## Your Environment

* Platform: Motorola G5 with Android 9
* Host: Outlook mobile
* Operating System: Android 9

## Expected behavior
I

[2022-07-13 16:16] glr0221 commented on #2619
Hello @exextoc @ndeleuze is this already fixed? I am still having the following issue :

x-ms-diagnostics: 2000008;reason="Delegate access to this API requires the following permissions: 'Mail.Send.All,Mail.Send.Shared'. However, the application only has the following permissions granted: 'Mail.ReadWrite,Mail.ReadWrite.Shared,Mail.Send,Calendars.ReadWrite,Calendars.ReadWrite.Shared,Contacts.ReadWr

[2022-07-13 17:18] abhinovpankaj commented on #2703
Any suggestions? Or any different regex which will work.

[2022-07-14 01:11] gofish543 commented on #2697
@JinghuiMS Absolutely! I was on vacation for the week. I'll get a video to you later this week, no later than Friday.

[2022-07-14 07:28] xiruatms commented on #2702
@rogozind , thanks for reporting this.

If possible, will you please share a testing document with us? That'll be much helpful for us to verify your case.

[2022-07-14 08:01] ghost commented on #2686
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-14 08:01] #2686 closed, assigned to JinghuiMS

[2022-07-14 08:47] wh1t3cAt1k commented on #2193
@grangeryy could we please keep this open? This is important to us since we're exposing a function called TEXTSPLIT, and a function with the same name gets added by Microsoft in the new versions of Excel.

In our COM-based add-in, we can conditionally expose this function based on whether Excel supports the new function. In Office.js we can't.

[2022-07-14 08:52] wh1t3cAt1k commented on #1951
@grangeryy @keyur32 I disagree that this was closed as needing author feedback. The issue is still there and it's a legitimate one.

Even in VBA there are functions like ISBLANK that allow one to distinguish blank cells (probably by testing the underlying "missing" value), Office.js on the other hand works counter-intuitively with matrix arguments.

Therefore we're blocked from completely migratin

[2022-07-14 10:56] coredeveloper commented on #2329
Any progress with this? I am facing the same issue.

[2022-07-14 12:04] barclayadam commented on #2673
Further to the above, this user has been upgraded to "Microsoft 365 Apps Update - Monthly Enterprise Channel Extended Quality Update for x64 based Edition Version 2204 (Build 15128.20312)" and the issue persists.

[2022-07-14 12:26] rogozind commented on #2702
Attached.

[Welcome to Word.docx](https://github.com/OfficeDev/office-js/files/9111727/Welcome.to.Word.docx)

[2022-07-14 13:21] sonalpandit03 commented on #324
Using the statement <ExtensionPoint xsi:type="LaunchEvent"> I am getting an error:

This is an invalid xsi:type 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1:LaunchEvent'.

I have tried an example of adding an "OnNewMessageCompose" event from Microsoft docs for Outlook add-in.

Please tell me why is not working in Visual Studio and if there is any workaround for it.

[2022-07-14 15:00] andreipaun opened #2708 "Cannot get ContentControl content by calling getOoxml() in specific scenario"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Discovered a usecase for which a call to contentControl.getRange("content").getOoxml() ends up in a RichApiError. Below you will find attached a simple document created to exhibit the

[2022-07-14 15:09] cristoslc commented on #1400
Confirmed I had that key set to 0, and also tried removing it from the plist.  Issue persists in both cases in my environment.

[2022-07-15 02:43] t-ariyoshi30907 commented on #2648
@exextoc
Hi, Could you give me an update on the situation?

and there's one more thing I'd like to ask you about.

When I send an email from outlook on the web and in the Group mailbox, the add-in doesn't launch.

On the other hand, Outlook for windows.
the add-ins triggered.

Is it supported in Outlook on windows?

[2022-07-15 03:04] t-ariyoshi30907 opened #2709 "Under certain conditions, it takes time for the dialog screen to appear."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

This is what I previously reported on stack overflow.
https://stackoverflow.com/questions/71566437/i-get-an-error-when-sending-an-email-in-a-new-window/71570161#71570161

I want to ch

[2022-07-15 06:01] ghost commented on #2687
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-15 07:05] SWei1234 commented on #2593
Hi @exextoc
   We receive more ticket about this issue ? Any update?
   This problem can even replicate on OWA.
Thanks

[2022-07-15 07:59] Aaditya-Rane opened #2710 "Redirect URL mismatch error when using SSO with Office.js in Outlook add-in, if Outlook URL is custom/vanity URL."
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: ---
* Operating System: ---
* Browser (if using Office on the web): Chrome

## Expected behavior
When URL for Outlook is **a custom/vanity URL**, then office-js should be able to fetch access tokens using SSO in the outlook add-in.

##

[2022-07-15 08:13] abhinovpankaj commented on #2703
What should I do?

[2022-07-15 08:31] xuruiyao-msft commented on #2703
We are investigating this issue. Will update status soon.

[2022-07-15 09:30] exextoc commented on #2593
Hey @SWei1234

We have the repro video and working on the repro.
We'll get back to you in some time around it.

Thanks a lot for your patience.

[2022-07-15 09:38] xuruiyao-msft commented on #2703
@abhinovpankaj  We've created a work item 6255730 on it and tracked the progress. Once there's any update we'll sync with you.

[2022-07-15 09:53] avisheknand opened #2711 "Outlook SSO Addin throws 13012 Error"
We have updated our app to use   OfficeRuntime.auth.getAccessToken from OfficeRuntime.auth.getAccessTokenAsync . The new method OfficeRuntime.auth.getAccessToken works fine on the OWA however, when we use Outlook for Desktop is throwing 13012 error.

## Your Environment

* Platform :  Outlook desktop
* Host: Outlook
* Office version number: Office 365 Version 2206 Build 1533.20246
* Operating Syst

[2022-07-15 10:17] JinghuiMS commented on #2708
Thanks for reporting this issue. It has been put on our backlog<Bug#6255786> for internal track. We unfortunately have no timelines to share at this point.

[2022-07-15 10:21] exextoc commented on #2709
We already have a triage path created for this issue.
We, unfortunately, have no timelines to share at this point.

Tracking Id: 153054

[2022-07-15 11:59] tranhuyentran23 opened #2712 "Content control with Table of content inside cannot be modified or cleared"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

* Platform: Office Online
* Host: Word
* Office version number: 16.0.14413.41001
* Operating System: Windows 10
* Browser: Chrome

## Expected behavior
Content wi

[2022-07-15 13:26] VictorJDX commented on #2617
The issue is still appearing for me, when using Excel Web

[2022-07-15 14:48] rogozind opened #2713 "OneNote paragraph getHtml() API does not return color information."
I am trying to get paragraph html in OneNote. I have a line with various fonts, sizes, bold/italic and foreground and background colors. The HTML I get back contains styles for everything except colors. So the color information is lost.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: __Office on Web
* Host [Excel, Word, PowerPoint, etc.]: _OneNote_____
* Office version

[2022-07-15 16:45] ElizabethSamuel-MSFT commented on #2307
**Update**: Some changes in [this PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/59920) relate to this issue and have been published. We're still working on further updates that can help decrease the confusion.

[2022-07-15 17:50] ArjunSureshKumar92 commented on #1130
@exextoc  Having the exact same issue as [DmitryKostochko](https://github.com/DmitryKostochko).

![image](https://user-images.githubusercontent.com/35875176/179281848-76fd546c-5514-4c46-a634-370417371f03.png)

The attachment uploads within seconds in outlook desktop. Never completes in OWA. There is no error.

Code
function func1() {
    Office.context.mailbox.item.addFileAttachmentAsync(

[2022-07-15 18:01] ghost commented on #2659
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-15 20:01] ghost commented on #2691
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-15 20:01] #2691 closed, assigned to JinghuiMS

[2022-07-15 20:18] lynneosmith opened #2714 "Powerpoint web: SetSelectedDataAsync is incorrectly converting points to pixels, but API documentation says points"
When using setSelectedDataAsync to insert content like images, graphs, etc, PowerPoint on the web is taking the top, left, width and height parameters and converting them to points... but they were specified as points already so now their value is incorrect. If you use the new Shape API to check the left, top, width and height values, you can see that their values are incorrect. This works correct

[2022-07-16 03:27] david-ps commented on #2610
@JHJ-MS Please advise resolution status and if these answers are sufficient to proceed?

[2022-07-16 08:01] ghost commented on #2698
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-16 08:01] #2698 closed, assigned to JinghuiMS

[2022-07-16 08:18] JinghuiMS commented on #2712
Thanks for reporting this issue. It has been put on our backlog<Bug#6258921> for internal track. We unfortunately have no timelines to share at this point.

[2022-07-16 10:49] ravipuri opened #2715 "Office Dialog when closed, stops debugging in Visual Studio"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am debugging an Excel add-in, in Visual Studio 2022 and when the add-in completes authentication using Office dialog, closing the dialog manually or programmatically causes excel.ex

[2022-07-18 02:53] LuyiH commented on #2713
Hi @rogozind, could you help open this issue in [https://github.com/OneNoteDev/OneNoteApi](url), and MS engineer will help you solve this issue there

[2022-07-18 03:09] rogozind commented on #2713
Will do, thanks.

[2022-07-18 03:09] #2713 closed, assigned to nobody

[2022-07-18 03:46] ruei-yu-yang commented on #2675
Hi @keyur32  , have any feedback? Thank you!

[2022-07-18 08:01] ghost commented on #2687
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-18 08:01] #2687 closed, assigned to jayrathi, JinghuiMS

[2022-07-18 10:14] xiruatms commented on #2702
@rogozind , thanks for providing the sample document.

I've taken a try but didn't encounter the issue you reported. Will you please help to isolate the suspected codes in a simple scriptlab code snippet which could repro this issue?

Following are the codes I used for testing.  Sorry about the formatting, it seems something wrong with the github editor.
async function getImage() {
  await Word.ru

[2022-07-18 10:51] exextoc commented on #2710
For vanity domains, the tenant will need to add an additional reply URL. The tenant administrator can resolve it manually.

More on it can be found here: [https://stackoverflow.com/questions/38372040/change-azure-active-directory-reply-url-via-powershell-command](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2f%2fstackoverflow.com%2fquestions%2f38372040%2fchange-azure-active-directo

[2022-07-18 11:38] xuruiyao-msft commented on #2714
@lynneosmith  Thanks for reporting the issue. I can reproduce it. The setSelectedDataAsync method behaves different on WAC platform from the desktop platform. We've create the work item 6268407 to track it. If there's any further update, we'll sync with you.

[2022-07-18 12:19] Aaditya-Rane commented on #2710
Hi @exextoc

The current issue is happening at the point "1. getAccessToken()" from the below flow [How it works at runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph#how-it-works-at-runtime).

**We are receiving a redirect URI error for an application with clientId "bc59ab01-8403-45c6-8796-ac3ef710b3e3" which is Microsoft's application with the name

[2022-07-18 13:35] rogozind commented on #2702
ok, I'll try to put something together but it will take a bit.

[2022-07-18 19:36] caolgood opened #2716 "Excel add-ins using shared runtime and custom functions not rendering the task pane"
When opening a desktop Excel file with an add-in using a shared runtime installed, there is a chance that the task pane will fail to render the page and only show a blank screen.
As soon as you resize the taskpane or the excel window the taskpane display pops back in.

![image1](https://user-images.githubusercontent.com/23510349/179595694-e6e1de75-51ad-450b-9ea9-471febf297e0.png)

## Your Environm

[2022-07-18 20:01] ghost commented on #2659
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-07-18 20:01] #2659 closed, assigned to Oleg-O, exextoc

[2022-07-18 21:42] alettieri commented on #2667
I'll drop a comment here, because we are experiencing the same issue. https://appsource.microsoft.com/en-us/product/office/WA200003983

[2022-07-18 21:45] keyur32 commented on #2675
Sorry, I was on vacation prior. Assigning to @yaweizhu-henson for follow up (I *think* this may be a previously reported issue)

[2022-07-18 23:57] ztcddsb commented on #2711
@avisheknand Can you provide the right version of your Outlook? The version listed above missed a digit. It is possible that you have an old build of Outlook that does not support this API.

OWA is a separate codebase and its logic is different from Mac/Win32.

"forMSGraphAccess" is just a performance shortcut and it is most likely the reason you get this error, can you confirm if the API works wi

[2022-07-19 00:35] t-ariyoshi30907 commented on #2709
@exextoc

Thank you for your response.
I understand.

and there's one more thing I'd like to ask you about.

The following operations cause another problem.

1) Execute the reproduction procedure from step1 to step7.

2) Wait 5-6 minutes.

3) Click “Send" button.

■result

I can't click "send" button.
After about 5 minutes, an error message will be displayed.

Is this also a bug? If so, I hope you

[2022-07-19 02:48] avisheknand commented on #2711
Thanks @ztcddsb ! Here is the screenshot of my Outlook version

![image](https://user-images.githubusercontent.com/80862413/179653095-e8916bea-32b5-4ff6-9113-db6838ec5d6d.png)

I have tried to use without "forMSGraphAccess" and the API works fine!  :) However, we are planning to publish this app to AppSource soon.

I have also tried the Outlook SSO Addin Demo app and it also has similar issue : ht

[2022-07-19 09:05] xuruiyao-msft commented on #2704
@jgonzalez-at-wiris I tried to reproduce the issue but failed. I want to confirm which situation you are in:
1, Settings are saved in the online ppt doc but you cannot get the settings value from desktop platform.
2, or Settings are save in the online ppt doc but your **coworkers** cannot get the settings value from online or from desktop platform.
Which situation is more similar to yours?

[2022-07-19 09:19] #2585 closed, assigned to guliums

[2022-07-19 09:32] exextoc commented on #2329
Hi @coredeveloper, are you using event.completed method after processing the launch event? Refer to the document at:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#event-based-activation-behavior-and-limitations

[2022-07-19 09:49] exextoc commented on #2593
Thanks for reporting this issue regarding undesirable behaviour of location.getAsync. We are able to reproduce the problem. It has been put on our backlog. We unfortunately have no timelines to share at this point
 
Internal tracking id: Office: [6278732]

[2022-07-19 10:05] jgonzalez-at-wiris commented on #2704
Hello @ahegongzhu.

The situation is:
1. in PowerPoint online, saved settings are lost if you relaod the webpage (this is not the expected behaviour).
2. if you save settings in PowerPoint online, download the file, and then open it with PowerPoint desktop, the settings are available (this is the expected behaviour)

My coworkers simply can't reproduce the problem with the same browser as I do: in

[2022-07-19 14:42] Wenjun-Gong commented on #2699
Add @ononder to take a look.

[2022-07-19 17:08] ztcddsb commented on #2711
Thanks for sharing the version.
Did you sideload the add-in by any chance?

[2022-07-19 22:34] avisheknand commented on #2711
@ztcddsb , yes the add-in was sideloaded

[2022-07-19 22:36] maxxpm-ben opened #2717 ""onNewMessageCompose" launch event not working on desktop"
# Provide required information needed to triage your issue
The launch event onNewMessageCompose will not trigger the handler function on desktop. The function triggers as expected when using the web version, but I cannot get it to trigger from a desktop client. I have tried two different machines, both running Windows 10, and neither will trigger the handler function.

## Your Environment

* Platf

[2022-07-20 01:46] SWei1234 commented on #2593
Hi @exextoc
    Actually we tried 'Office.context.mailbox.item.enhancedLocation' API. It looks working good on Mac Outlook NEW UI. But I'm not sure this is the final solution. Can you help me confirm this with develop team?
Thanks

[2022-07-20 17:25] ztcddsb commented on #2711
@avisheknand
I think that is the problem, you should not side-load when passing forMSGraphAccess, this will fail the validation.

This flag checks if the add-in was installed by an administrator and thereby administrator would have already consented to Graph scopes, or fail otherwise.

[2022-07-20 18:35] timbeese opened #2718 "Excel web client fails with insertWorksheetFromBase64 on some worksheets"
# Provide required information needed to triage your issue
We have a service that creates worksheets.  When certain styling is set in these worksheets, the web client fails to open the generated worksheet, whereas the desktop client is able to open them successfully.

## Your Environment
The problem only occurs on the Excel web client
* I run on Windows 10 (21H2 - OSBuild 19044.1766)
* Running on

[2022-07-20 21:43] avisheknand commented on #2711
@ztcddsb, Thanks for the info. I have not tried by deploying the add-in from the admin center.

From this [article ](https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.authoptions?view=common-js-preview) i thought that if you are using forMSGraphAccess parameter, admin consent for graph is required... therefore i tired to grant Admin consent from the Azure -> Enterprise A

[2022-07-20 22:04] ztcddsb commented on #2711
@avisheknand This seems like a common issue that add-in developers encountered.
We might need to rephrase the article as it causes confusion. I will talk with my team and create a task for it.
Thanks for bring it up.

[2022-07-20 22:45] avisheknand commented on #2711
@ztcddsb , Great Idea!  Thanks lots for your help.

[2022-07-20 23:44] neville-jones commented on #2709
@t-ariyoshi30907
For an on-send add-in, you only have 5 minutes before a timeout occurs:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=windows#how-does-the-on-send-feature-work

So in your dialog code you should include a timeout function that automatically closes the dialog just under the 5 minute mark.

[2022-07-21 07:35] JinghuiMS commented on #2706
Thanks for reporting this issue. It has been put on our backlog<Bug#6251083> for internal track.

[2022-07-21 08:33] exextoc commented on #2593
We are going to make sure that location.getAsync returns proper value as this API is not deprecated. EnhancedLocation allows get/set a set of locations. You can go ahead and use it.

[2022-07-21 09:47] guliums commented on #2718
Hi @timbeese , thanks for reporting the issue. I can repro it and it has been put on our backlog 6296739. I will let you know when there is update. Thanks!

[2022-07-21 10:25] sumitjain-rsi opened #2719 "Office Js providing wrong attachment ID while dragging and dropping email from shared mailbox to own mailbox in Outlook Client"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Office Js is providing the wrong attachment id when user drag and drop any email from shared mailbox to his own mailbox. It

[2022-07-21 11:02] Subhanansahoo commented on #2625
@guliums Any further updates on the resolution of this issue?

Thanks for your suggestion to install the add-in from the Excel add-in Store. However, this will break the seem less user journey to install the add-in.
Currently, we embed this link inside our product (ms-excel:https://api.addins.store.office.com/addinstemplate/en-GB/ea26f6e7-8229-4bb0-b188-ba20148571f5/WA200003784/none/Spreadsheet-Sy

[2022-07-21 11:12] guliums commented on #2625
Hi @Subhanansahoo , an engineer from Excel Team is actively working on this bug, it may need some time as the bug affect not only office.js API but also Excel native feature.  As temporary workaround, could you try to remove the "?omexsrctype=1" from the URL? If that works it should not have such issue. Thanks!

[2022-07-21 11:22] Subhanansahoo commented on #2625
Thanks, @guliums !
@raj01104 Can we please try the workaround suggested?

[2022-07-21 16:50] exextoc commented on #2705
Hello @milankonir, are you able to reproduce this issue on any other platform, or does this only seem to persist on Win32?

[2022-07-21 18:44] exextoc commented on #2705
Are you able to set the body with the external image when the Automatic Download settings are configured differently?

[2022-07-21 20:32] ztcddsb commented on #2711
@avisheknand I have created a task for our technical writer, I will close the ticket for now if you don't have any further questions.

[2022-07-21 20:43] #2711 closed, assigned to exextoc

[2022-07-21 20:51] exextoc commented on #2668
In general, we don't add new features to older releases, so unfortunately, the 16.0.14326.* Semi-Annual Channel release will not be updated to support requirement set 1.11. It will stay on 1.10.

[2022-07-21 20:51] #2668 closed, assigned to JuaneloJuanelo, exextoc

[2022-07-21 21:00] AhmadSukkar98 opened #2720 "Word Add-in breaks the undo button behavior"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected behavior
Undo button works even while I am using the Add-in

## Current behavior
Nothing happen when you press on an active undo button while the add-in is open

## Steps

[2022-07-22 06:33] debangshui2chain opened #2721 "Office.context.mailbox.item.removeAttachmentAsync() is not recieving response all the time."
Office.context.mailbox.item.removeAttachmentAsync() is not recieving response all the time.

Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Web, outlook desktop
* Host : Outlook
* Office version number: 16.63
* Operating System: mac & windows
* Browser (if using Office on the web): Chrome

## Expected behavior
whenever we detach a file using Office.context.mailbox.item.removeAt

[2022-07-22 07:26] milankonir commented on #2705
@exextoc It only affects Windows, Mac and OWA works fine.
I'm able to set external image when the automatic download is allowed (either completely or via exception - e.g. allow downloading images from trusted sites).

[2022-07-22 08:34] xiruatms commented on #2720
Thanks for reporting this.

To make further steps on investigating details, will you please help to share a screen recording of your testing steps? That'll be greatly helpful.

[2022-07-22 09:16] JinghuiMS commented on #2697
@gofish543
Are you back from vacation? :)  And do you unblock yourself from this issue? If no, let's work together to find the solution!

[2022-07-22 09:22] JinghuiMS commented on #2694
Thanks for submitting the new feature request!

[2022-07-22 09:56] repl-minatee-p opened #2722 "OfficeJS Word add-in (on the web) support for Office.StartupBehavior.load"
I am developing a word add-in which should be loaded on document open and it should support both desktop and web apps.

When I am trying to use 'Office.addin.setStartupBehavior(Office.StartupBehavior.load)' for office word on the web then getting RichApi InvalidRequest error as mentioned below.

RichApi.Error: InvalidRequest
at new n (word-web-16.00.js:25:309056)
at i.processRequestExecutorRespons

[2022-07-22 10:29] exextoc commented on #2661
We are able to repro this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point 
Internal tracking id: [6304800]

[2022-07-22 10:34] georgechr commented on #2291
We also have this issue. It's annoying that Office JS is broken in this case

[2022-07-22 10:45] georgechr opened #2723 "Attachment IDs empty for encrypted emails"
When an email is encrypted the add-in does have programmatic access to it on Outlook desktop.
However, accessing Office.context.mailbox.item.attachments gives a list of attachments with all the properties filled in except the ID. This is annoying as it means we cannot fetch the attachments from Graph API.

Is this a known issue? If not, how can we work around it? We haven't found anything in the d

[2022-07-22 11:15] maleta commented on #2543
I recently started developing add-ins for Excel and encounter this behavior as well.

Excel 16.64.1(22071301)
macOS Moneterey 12.3.1

Add-in has few custom functions and each custom function is making HTTP request and displays the result to user. The only thing I could find on web about this issue has something with Worksheet_Change event and VBA for Excel, but since the add-in I am working on is

[2022-07-22 11:40] AhmadSukkar98 commented on #2720
@xiruatms  Hi,
Sure, here is a screen recorded video demonstrating the issue
[Video](https://drive.google.com/file/d/1FToShYE1ftze_YNnP2m2IruSDFcecgtP/view?usp=sharing)

Thank you in Advance.

[2022-07-22 13:44] wh1t3cAt1k commented on #2568
@JHJ-MS just interested what would be the fixing strategy for this work item and what is the root cause?

Background: I was experiencing the same when I was experimenting with the removal of `EquivalentAddins` mechanism.

we have a COM-based addin and the modern add-in with the same function names. I felt this "EquivalentAddins" mechanism was not mainstream-tested and it was the source of obscure

[2022-07-22 13:46] rogozind commented on #2702
Try this example: https://github.com/MariSytnyk/office-document-loading-issue

[2022-07-22 14:01] maartendebal opened #2724 "RecipientsChangedEvent is triggered when switching between menu items"
The RecipientsChangedEvent is triggered when clicking on tracking af using the Scheduling Assistant and adding a recipient.

## Your Environment

* Platform: PC Desktop
* Host: Outlook
* Office version number: Microsoft® Outlook® for Microsoft 365 MSO (Version 2206 Build 16.0.15330.20260) 64-bit
* Operating System: Windows 10 Pro 21H2 19044.1826

## Expected behavior
Event only triggers when a rec

[2022-07-23 09:01] ghost commented on #2567
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-23 12:01] ghost commented on #2329
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-23 12:11] guzman-rc commented on #2329
OnMessageAttachmentsChanged event still not working.

[2022-07-24 09:28] t-ariyoshi30907 commented on #2709
@neville-jones
Thank you for your response.

Trigger the "onsend" event and expect an error to occur immediately if something goes wrong.
But when this happens, the "send" button freezes for 5 minutes.
Why is this?
If it's a bug in Office-js, I want you to fix it.

Share the video when the problem occurs.
■video
https://drive.google.com/file/d/1Q1VUn66jZSbRLxVdl516Zzp6yNs2c5xq/view?usp=sharing

[2022-07-25 00:55] libjosep commented on #2488
Any updates on this

[2022-07-25 02:42] xiruatms commented on #2722
Thanks for reporting this.

Unfortunately, I can't repro this with my environment. Are you still encountering this exception consistently? If possible, @repl-minatee-p , will you please share your codes snippet? A screen record of the issue would be much helpful.

We can investigate deeper if there are more information.

[2022-07-25 05:04] exextoc commented on #2721
We are not able to repro this. Can you let us know the scenario when you face this problem. It will be helpful, if you can provide us a video of the issue.

[2022-07-25 07:09] exextoc commented on #2329
@guzman-rc, the add-ins framework requires developers to use the event.completed method after processing the launch event in order to ensure that your subsequent events are correctly handled on both ends.

Can you please confirm that you are calling the event.completed() method at the end of your handler function as detailed in the documentation?

Refer to the documentation at:
https://docs.micros

[2022-07-25 07:13] oFlo193o commented on #2700
Hi there! Any news ?

[2022-07-25 08:14] JensMadsen commented on #2146
Our customers report the same issue. I do not know how to reproduce

[2022-07-25 08:18] JensMadsen opened #2725 "Sometimes the add-in does not load: unrecognized feature "keyboard-map" chrome"
Sometimes the add-in does not load. If the add-in is reloaded (click button again), the add-in loads as expected. The console error is:
![image](https://user-images.githubusercontent.com/6726111/180731086-9c8e53b9-7fc5-4626-b99a-a966f02266c4.png)

Online (Chrome)
Word
Linux

[2022-07-25 08:22] JinghuiMS commented on #2722
The same issue with https://stackoverflow.com/questions/73054441/officejs-word-add-in-support-for-office-startupbehavior-load

[2022-07-25 09:30] JinghuiMS commented on #2702
Thanks for reporting this issue. It has been put on our backlog<Bug#6320493> for internal track. We will keep track of this issue and let you know if there are any updates.

[2022-07-25 09:32] nbnataraj7 commented on #2484
@jbindert were you able to find any fix for this or any workaround? I am also facing a similar issue on Mac Desktop

[2022-07-25 10:45] danielpdev opened #2726 "Office.addin.beforeDocumentCloseNotification.*() does not appear after `close anyway` dialog button is closed"
Hi,

I have an issue in Excel with `Office.addin.beforeDocumentCloseNotification.*()`.
It works perfectly when I click `Don't close` meaning that the dialog will appear again next time when the Excel document is going to be closed.

The problem comes when I click `Close anyway`, the dialog disappears and then I click cancel on the dialog that asks me to save or not save the changes, but if I try t

[2022-07-25 11:53] 4tti commented on #2543
This is extremely annoying. Please reopen.

[2022-07-25 12:29] #2725 closed, assigned to JinghuiMS

[2022-07-25 12:34] JensMadsen commented on #2599
I can reproduce this consistently in Word as well just by throttling the network

[2022-07-25 12:42] 4tti commented on #2599
We've encountered it as well. Please give this high priority!

[2022-07-25 13:21] osasseville commented on #1427
@lliu113 I can see that the uservoice has been closed. Can you provide a link where I can make a feature request?

[2022-07-25 13:53] yaweizhu-henson commented on #2700
Sorry for late response.
I will let engineer have a look at it ASAP!

[2022-07-25 13:58] yaweizhu-henson commented on #2716
Thanks for feedback, I will let engineer have a look into this issue

[2022-07-25 14:02] yaweizhu-henson commented on #2715
Thank you for your feedback, I will let engineer have a look at this issue

[2022-07-25 14:17] lynneosmith commented on #2699
Just checking in again to see if there has been an update on this and/or if a work item has been created? AddTextBox working on web is critical for our product release. Thank you.

[2022-07-25 14:49] liamtim commented on #2567
@exextoc What feedback are you looking for?

[2022-07-25 15:35] repl-minatee-p commented on #2722
I freshly created a project using 'yo office' and tried again. It seems to be working. So, I am closing the issue.

[2022-07-25 15:35] #2722 closed, assigned to JinghuiMS

[2022-07-25 15:39] JinghuiMS commented on #2722
Cool~ Glad to see you unblocked yourself!

[2022-07-25 20:49] exextoc commented on #2717
I don't see any calls to Office.actions.associate in the code snippets you provided. That is required for Desktop Outlook. Can you try that? You can read more about it here: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#implement-event-handling

[2022-07-26 00:29] exextoc commented on #2705
I have followed the repro steps and am not able to repro this. The image appears on my end when running the script you provided. I will continue to look into this.

[2022-07-26 00:29] yuanagain opened #2727 "After following Custom Runtime setup tutorial, `Excel` is no longer defined; other unreliabilities in shared runtime"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi! After following the tutorial [at docs.microsoft.com](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane

[2022-07-26 00:38] wandyezj commented on #2690
Hello @rwolfdev,

Did you follow the instructions in the [NPM Readme](
https://www.npmjs.com/package/@microsoft/office-js) in the section titled __Use the NPM package__?

It would be helpful to see the instructions implemented in the:

[2022-07-26 02:53] JinghuiMS commented on #2726
@danielpdev Thanks for reporting this issue!
To better answer your question, add @guliums who is the developer of these Apis. He will reply you later today in Beijing time.

[2022-07-26 03:10] JinghuiMS commented on #2599
@jayrathi @wandyezj Do you have any ideas on this office.js load failure on slow network? Any inputs are high appreciated!

[2022-07-26 04:02] yaweizhu-henson commented on #2675
Sorry for the late response, I will let engineer have a look at this issue

[2022-07-26 04:04] yaweizhu-henson commented on #2617
Our engineer is still try to investigate what is going wrong here, I will update when there is something new for you

[2022-07-26 05:21] yaweizhu-henson commented on #2523
Sorry for the late response, I will let engineer have a look at this issue!

[2022-07-26 07:46] JinghuiMS commented on #2700
It's not a specific Excel API issue, involve add-ins platform into this thread to better handle it!

[2022-07-26 08:07] JinghuiMS commented on #2174
Add @jiju-MS for awareness, please take care of this customer issue!

[2022-07-26 08:16] jiju-MS commented on #2174
Hey, Djaeger-inercomp, could you share the code you used in scriptlab about this issue? we can try it on our environment.

[2022-07-26 09:30] guliums commented on #2726
Hi @danielpdev , thanks for reporting the issue. When design this API, we are trying to avoid showing the dialog for many times which may annoy users. If user click "Close Anyway", we think that the users already noticed the notification but they still want to close. In this case we will clear the add-in lists which have enabled the notification. So after user click "Cancel" in Excel save dialog a

[2022-07-26 09:35] danielpdev commented on #2726
Hi @guliums
Thanks for responding so quickly.
The thing with calling `beforeDocumentCloseNotification.enable()` is that we don't know when the add-in list has been cleared out in order to reenable the notification.

Is there a way to check if the `beforeDocumentCloseNotification` is enabled or not?

[2022-07-26 09:36] #2429 closed, assigned to guliums

[2022-07-26 09:40] #2097 closed, assigned to guliums

[2022-07-26 09:42] #2093 closed, assigned to guliums, qinliuMSFT

[2022-07-26 09:50] guliums commented on #2726
Hi @danielpdev , we don't have API to check enable/disable status. The add-in should enable/disable it according to the add-in's logic. If you need to enable the notification, I think you can always call enable() without checking its current status. It should work even when beforeDocumentCloseNotification has already be enabled.

[2022-07-26 09:56] exextoc commented on #2707
@Iso5786 could you please share a small snippet of the part of the code where your redirect takes place? Or the redirect Url itself? This would help us quickly pinpoint the source of the issue.

[2022-07-26 10:16] exextoc commented on #2710
Could you try running the [script](https://stackoverflow.com/questions/38372040/change-azure-active-directory-reply-url-via-powershell-command) mentioned in Powershell (if you haven't already) and tell us what errors you are facing? That will help us understand how best to proceed.

[2022-07-26 10:22] guliums commented on #2424
Hi @hdwatts @graysenpack @LMSCM sorry for late response. The owner team has fixed a major bug that caused the add-in disappearing from ribbon. We think most users on CC channel who hitting the issues are caused by this bug. The fix went to CC Prod on 7/6. There are still some corner cases that may lead to add-in disappear and the owner team are actively working on the investigation. Please let us

[2022-07-26 11:27] hdwatts commented on #2424
@guliums Thanks for the update here! Can you confirm if the fix was for Word specifically or for all Office apps? To note, our issue was with Excel Add-ins

[2022-07-26 11:35] guliums commented on #2424
Hi @hdwatts, the fix is for all apps (Word, PowerPoint and Excel).

[2022-07-26 18:44] pavig30 opened #2728 "Windows Outlook native app is not announcing anchor href links as links while using NVDA screen reader"
# Provide required information needed to triage your issue
Windows Outlook native app is not announcing anchor href links as links while using NVDA screen reader
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows Laptop
* Host [Excel, Word, PowerPoint, etc.]: Microsoft Outlook Native app
* Office version number: Version 2206 (Build 15330.20266 Click-to-Run)
* Operat

[2022-07-26 20:48] matthe68gps commented on #1048
@keyur32 You mentioned "[Centralized Deployment] supports exactly that scenario". From his request, I am understanding this to mean that when you use Office 365 to do centralized deployment of an office addin to members of an organization- if you upload the manifest by url, everytime you update the manifest and the version number it should automatically update the addin throughout the organization

[2022-07-27 00:03] maxxpm-ben commented on #2717
It appears that was the problem. Thanks!

[2022-07-27 00:03] #2717 closed, assigned to exextoc

[2022-07-27 00:40] exextoc commented on #2705
@milankonir I was able to reproduce this issue. We will be reviewing the design of this functionality, but unfortunately don't have a timeline to share at the moment. In the meantime, these are some workarounds that you can consider using:

1. Download the images from the email thread which will stop the image insertion from being blocked.
2. Use the `item.addFileAttachmentAsync` API and then the

[2022-07-27 03:10] msyezhong opened #2729 "Outlook add-in sso for MSA user in OWA failed with "13012 API is not supported in this platform""
Outlook add-in sso for MSA user in OWA failed with  "13012 API is not supported in this platform".

Environment:
OWA version 20220715009.12

With the same manifest and get token code, it works for my aad account, but fails for my msa account. I do not set forMSGraphAccess. Can anyone tell me the reason and how to fix it?

Appreciate it a lot for your help in advance.

[2022-07-27 05:38] Aaditya-Rane commented on #2710
Hi @exextoc,

As I have mentioned in a previous comment, "bc59ab01-8403-45c6-8796-ac3ef710b3e3" is Microsoft's application with the name "Outlook Online Add-in App".

While executing the given PowerShell script with appId : "bc59ab01-8403-45c6-8796-ac3ef710b3e3",
`Get-AzureADApplication -Filter "AppId eq '$($appId)'"`  returns nothing as it executes filter query on the list of applications with ap

[2022-07-27 06:37] ruei-yu-yang commented on #2675
Thank u for the trouble.

[2022-07-27 06:57] exextoc commented on #2729
Hello @msyezhong, we currently do not support add-in SSO for MSA accounts (Outlook.com or Gmail mailbox), and the error you are seeing is the expected response for this scenario.

You can find more information on this here : [getAccessToken API Documentation](https://docs.microsoft.com/en-us/javascript/api/office/office.auth?view=common-js-preview#office-office-auth-getaccesstokenasync-member:~:te

[2022-07-27 09:41] barclayadam opened #2730 "Loading HTML body from task-pane breaks output of getAttachmentsAsync"
# Provide required information needed to triage your issue

If adding a signature via event-based activation with an embedded image attachment, then subsequently loading the HTML body in the task-pane, the attachment is "replaced" by a 0-length image with the wrong name.

## Your Environment

* Platform: PC Desktop
* Host: Office
* Office version number: Microsoft® Outlook® for Microsoft 365 MSO (

[2022-07-27 11:06] Iso5786 commented on #2707
What do you exactly mean with redirect?
The intent link generated?

I can provide several references to external libraries responsible for generating and showing the intent link:
- Intent link generation: https://github.com/privacybydesign/irma-frontend-packages/blob/157c07beaadd06468531954800449cc2357ec48d/plugins/irma-client/state-client.js#L289
- Generating button element: https://github.com/pr

[2022-07-27 14:45] DmitryKostochko opened #2731 "Outlook Desktop, ribbon icons of installed add-ins disappear, no installed add-ins in the Get Add-ins dialog"
# Provide required information needed to triage your issue
We develop an Outlook add-in for compose mode. The add-in has a ribbon button. Sometimes our ribbon button disappears along with the buttons of other add-ins. And in this case, there are no installed add-ins in the Get Add-ins dialog.

## Your Environment
* Platform: PC desktop
* Host: Outlook
* Office version number: Version 2206 (Build 1

[2022-07-27 14:57] wh1t3cAt1k opened #2732 "🐛 Cannot install functions if a repeating matrix argument is marked as required"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

If an argument is simultaneously **repeating**, **matrix** and **optional: false**, add-in fails to install the custom functions.

## Your Environment

* Platform [PC desktop, Mac, iO

[2022-07-27 18:08] wh1t3cAt1k opened #2733 "Range.getPrecedents() throws a "requested resource doesn't exist" if the cell has no precedents"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Excel Online
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: latest
* Operating System

[2022-07-27 18:36] wh1t3cAt1k opened #2734 "There is no way to avoid recalculations / updates with Application.suspend...UntilNextSync when trying to avoid payload size limit"
This feels like a design limitation in Office.js that I feel needs be addressed since it results in a poorer user experience when working with large datasets.

[This piece of documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/performance#suspend-screen-updating) states:

At the same time, Excel Online has a payload size limitation that causes `context.sync()` to fail if it ha

[2022-07-27 21:58] ononder commented on #2699
Thanks @lynneosmith, we confirmed that the issue happens in PowerPoint Online. We currently don't have a workaround to unblock you but we are working on a fix. We are sorry about the inconvenience that this is causing.

[2022-07-28 05:21] guliums commented on #2733
Hi @wh1t3cAt1k , thanks for reporting the issue. For this API, "ItemNotFound" error is by design if there is no precedents. It is align with other APIs like Range.find() or .getItem(). And the workaround is to use try catch to detect such type of error. For getPrecedentsOrNullObject(), You may go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) to request a new

[2022-07-28 05:44] neville-jones commented on #2317
Same observation here - not getting the entire body when replying.

Any update or alternatives?

[2022-07-28 05:44] msyezhong commented on #2729
@exextoc Thanks for your reply.
Three more questions,

1. The add-in SSO for MSA account is not supported for Outlook add-in, or all office add-in.
2. Do you have plan to support it?
3. If the SSO is not support, it means that we need to let user manually sign in again in our add-in?

[2022-07-28 12:10] exextoc commented on #2707
From what we can understand you're trying to use a web link URL to redirect to your Android app from Outlook Mobile through the add-in. Ideally, if this URL is entered into the browser, we should see it redirect to your Postguard App or install link. Is this assumption correct? If so, can you give us a sample URL that you would redirect to- which you would expect your PostGuard App to intercept?

[2022-07-28 13:42] somenathmaji opened #2735 "getSharedPropertiesAsync() is undefined in outlook desktop in windows"
The user can't use our addin in a shared mailbox in outlook desktop in windows 10. They are using exchange online.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook 32 bit
* Office version number: Version 2205 Build 16.0.15225.20292
* Operating System: Windows 10
* Browser (if using Office on the web): No

## Expe

[2022-07-28 14:26] feannyn opened #2736 "Email Address returns empty string for sender and from"
When making a call to `Office.context.mailbox.item.from.emailAddress` and `Office.context.mailbox.item.send.emailAddress` the return value is not the user's email address, instead it is an empty string.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows 365 Cloud PC
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2205 (build 15225.20356)
*

[2022-07-28 16:06] wh1t3cAt1k commented on #2733
Doesn't it have poor performance implications to always rely on exception handling?

Both `Range.find()` and `Range.getItem()` have the `...orNullObject` counterpart, but not this method.

I'm surprised that we need to file a whole feature request and collect votes for something that looks like a very minor change that remedies a valid (though minor too) deficiency in the API design.

[2022-07-28 16:27] exextoc commented on #2710
Thanks for reporting this issue regarding SSO use for vanity domains. This is a known issue that we are looking into. We unfortunately have no timelines to share at this point, but we will update this thread when we have a fix. Internal tracking id: Office: 165553

[2022-07-28 16:53] nvazhayil opened #2743 "Support for Keyboard shortcuts in custom contextual tab."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Currently, when we press ALT on the keyboard and move to the custom context tab, we see that the buttons within the context tab are assigned shortcuts numbered from 1 to 9.

It would

[2022-07-28 18:22] exextoc commented on #2735
According to our [documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-preview#outlook-office-messageread-getsharedpropertiesasync-member(1)), the `getSharedPropertiesAsync` API is a method on the `Office.context.mailbox.item` object, as opposed to the `Office.context.mailbox` object.

[2022-07-28 18:32] somenathmaji commented on #2735
We might have missed it. Thank you.

[2022-07-28 21:05] timwan10 commented on #2723
For encrypted emails this is by design. The Attachments Ids are not available. Can you use GetItem (with the itemID) from Graph to get Attachments instead?

If getAttachmentContentAsync (https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentcontent?view=outlook-js-preview) worked with an INDEX instead of an Id? Would that help with your scenario?

[2022-07-28 21:31] jnSWPC opened #2737 "PivotField - Set Number Format"
## Post how-to questions about your code on Microsoft Q&A
Hello I am looking to set number format on a Pivot Table field. I dont see any api for this in https://docs.microsoft.com/en-us/javascript/api/excel/excel.pivotfield?view=excel-js-1.14

Could you please let me know if this is supported and if so how i can set this?

Thanks

[2022-07-28 22:30] ztcddsb commented on #2724
Thanks for reporting this issue regarding RecipientsChangedEventArgs. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 5221404

[2022-07-28 23:47] ztcddsb commented on #2736
Thanks for reaching out. Can you be more clear about the version of outlook? Are you using win32 version or web version?

[2022-07-29 03:59] georgechr commented on #2723
@timwan10 I tried using the GetItem on the Graph but it seems like the item you get back is a "generic" email saying something along the lines of "this is an encrypted email, click here to see it" , without the attachments of the actual email.

We'd rather retrieve the attachments from Graph but if getAttachmentContentAsync can be the only potential solution then we can live with it. There will at

[2022-07-29 05:23] pvsleeper opened #2738 "Office.context.ui.displayDialogAsync throws an exception when ranges are being added in Excel."
When you run code that adds a new bindings to a workbook and displayDialogAsync gets executed before context.sync() gets called (to sync the new bindings), the newly opened dialog throws either an
```OSF.DDA.Error {name: 'Internal Error', message: 'An internal error has occurred.', code: 5001}``` exception
or a
```Uncaught Function ContextActivationManager_getAppContextAsync call failed. ErrorCode

[2022-07-29 06:01] ghost commented on #2721
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-29 07:18] Iso5786 commented on #2707
I am not sure if an intent link is a web link URL. So I think the web view should not even open, but Outlook should redirect directly to the intended app.
The intent URL is:
`intent://qr/json/%7B%22u%22%3A%22https%3A%2F%2Fihub.ru.nl%2Firma%2F1%2Fsession%2FJbWoxfsP7YvWbA8ZpA9N%22%2C%22irmaqr%22%3A%22disclosing%22%7D#Intent;package=org.irmacard.cardemu;scheme=irma;l.timestamp=1659078974962;end`

[2022-07-29 08:56] hbnrmx commented on #2700
Hi @yaweizhu-henson,
Hi @JinghuiMS,

as this is probably a macOS / Webkit / `WKWebview` host configuration issue,
Could you kindly point me to the correct repo?

Thank you!

[2022-07-29 10:02] sboudouk commented on #558
Any news on this ?

[2022-07-29 13:16] maleta commented on #2543
I created default add-in for custom functions in Excel: [repo](https://github.com/maleta/default-addin)

To test it:
1. Clone repository
2. Run `npm install`
3. Run `npm start`
4. Write whatever in A1, A2, A3
5. Try to UNDO once -> It works
6. Write `=CONTOSO.ADD(40;2)` in B1 and wait for the result
7. Write anything in C1
8. Try to UNDO -> it works (undoing change in C1)
9. Try to UNDO again -> i

[2022-07-29 13:22] ArjunSureshKumar92 opened #2739 "Outlook Office Js addin randomly missing from the ribbon"
In outlook desktop, we have recently noticed our addin (looks like all addins) are not loading in the ribbon section. This is not permanent. When we open the profile again, sometimes its there and we cannot find any pattern to this behavior.

Adding screenshots of the same.

From the image, you can see the addin taskpane opens with our addin "Emailgistics". However, the addin does not show up in t

[2022-07-29 22:33] timwan10 commented on #2723
Internal Id #: 6342384

The internal product team has been notified of this. I don't know when an update can be given, or if this can/wil be implemented/fixed at this time though.

[2022-07-31 09:01] ghost commented on #2329
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-07-31 11:17] t-ariyoshi30907 commented on #2709
@exextoc
Sorry to bother you again.
Please investigate the cause of this issue as well.

[2022-07-31 11:28] t-ariyoshi30907 commented on #2648
@exextoc
Sorry to bother you again.
I need to explain to the customer, and I would like an answer to the question I asked the other day.

[2022-07-31 20:16] plamenbotev opened #2740 "EWS support for shared mailbox"
Hello,

We are testing the EWS services to get additional information for the messages in a shared mailbox and we see no issues. All tested operations so far are working as expected.
However I have noticed in the documentation, that EWS are not supported for shared maiboxes: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access?tabs=windows#rest-and-ews

Is it safe for us to

[2022-08-01 05:03] JinghuiMS commented on #2734
Thanks for reporting this issue. I tried it on Excel Win32 and Wac platform by using below queries. I didn't see the flicker and richapi.error. Could you provide the repro video to help us better understand your scenarios? Please let us know if I have any misunderstanding. Thanks.
[code]

[2022-08-01 05:35] JinghuiMS commented on #2737
Thanks for reporting this issue.
Confirmed with Api owner, there's no setNumberFormat API on PivotTable. Could you try to use `range.numberFormat` to unblock yourself?  Please refer to https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#excel-excel-range-numberformat-member

[2022-08-01 06:03] JinghuiMS commented on #2738
@AbidRahman-MSFT
Could you help take a look at this Dialog API related issue?

[2022-08-01 06:49] guliums commented on #2733
Hi @wh1t3cAt1k , sorry for inconvenience. Your point makes sense. Currently both getPrecedents and getDependents APIs don't have corresponding *orNullObject APIs. I have created backlog (tracked as 6351772 internally) to add .orNullObject for getPrecedents and getDependents APIs.

[2022-08-01 07:32] JinghuiMS commented on #2727
@madhavagrawal17  This issue is related to shared runtime, could you please help take a look. Thanks!

[2022-08-01 07:54] djaeger-inercomp commented on #2174
Hi @jiju-MS, the function that I use in Scriptlab is the following
![scriptlab](https://user-images.githubusercontent.com/77481781/182100488-79248c6b-3d90-4499-97c9-cff6b51eccd9.PNG)

[2022-08-01 08:01] ghost commented on #2721
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-08-01 08:01] #2721 closed, assigned to exextoc

[2022-08-01 08:47] JinghuiMS commented on #2720
@AhmadSukkar98
Thanks for reporting the issue. It's actually not right behavior and it has been put on our backlog 6353463. We will let you know when there is update. Thanks!

[2022-08-01 09:16] guzman-rc commented on #2329
If we invoke the event.completed() method at the end of the process it works correctly.

Thank you very much.

[2022-08-01 11:24] Subhanansahoo commented on #2625
@guliums We tried the workaround suggested by removing extra URL parameters, buts it's not working.
Any further updates on the resolution of the bug? Currently, it has started affecting 2K Intuit customers.
Is there any other way, we could expedite the bug fix?
cc: @raj01104 @theawesomenayak

[2022-08-01 11:50] richie5um opened #2741 "Inconsistent behaviour of xmlPart.getNodesAsync xpath on different platforms"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

My xPath may be wrong, but I've noticed inconsistent behaviour of getNodesAsync.

Works on MacWord, but not on OnlineWord (returns empty array of nodes):
* `xmlPart.getNodesAsync("*/*

[2022-08-01 12:48] abhinovpankaj commented on #2703
Thanks for the update. Will keep an eye.

[2022-08-01 13:07] dhoelzl opened #2742 "Updates to properties of content controls get lost"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Updates to properties of a content control get unexpectedly lost when closing a saved document.

## Your Environment
* Platf

[2022-08-01 13:40] eran-levy commented on #2665
Hi @preethikakiru @JuaneloJuanelo I wonder if there is any way to assist us in this?

[2022-08-01 16:59] feannyn commented on #2736
Hey! This is the Outlook for Windows Desktop (win32)

[2022-08-01 17:03] exextoc commented on #2736
@feannyn Thanks for your reply. But we are not able to reproduce this issue locally.
Does this happens to all your emails or just a specific one? Can you attach that email in the thread so that we can look into it?

[2022-08-01 18:06] yatibawri1 commented on #2740
Shared mailboxes are not supported at this time, we only support Shared Folders/Delegate scenarios. An overview of what is not supported can be found [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-add-ins-overview) And if you're interested in enabling Delegate Scenarios in an Outlook add-in, documentation can be found [here](https://docs.microsoft.com/en-us/office/dev/a

[2022-08-01 18:10] yatibawri1 commented on #2740
https://github.com/OfficeDev/office-js/labels/Area%3A%20Outlook https://github.com/OfficeDev/office-js/labels/Needs%3A%20author%20feedback

[2022-08-01 18:19] plamenbotev commented on #2740
Hello and thank you for your reply.
If I understood correctly shared folders should be accessible using EWS?
Currently what I have tested is to create a shared mailbox in a development tenant. The mailbox appeared automatically in my web and desktop clients.
I loaded my addin in the context of the shared mailbox and executed successfully EWS requests with token obtained from the office.js API.

I

[2022-08-01 19:14] feannyn commented on #2736
[eml_files.zip](https://github.com/OfficeDev/office-js/files/9236528/eml_files.zi

This is a zip containing the .eml files of the messages along with a recording. I also created a new outlook account and this is reproducible.

[2022-08-01 19:34] yatibawri1 commented on #2741
https://github.com/OfficeDev/office-js/labels/Area%3A%20Word

[2022-08-01 22:25] exextoc commented on #2736
@feannyn Can you resend the recording, I don't see it in the zip file above.
Also I am not able to reproduce the issue with the email in attachment sadly. We would need the recording to better understand your scenario.

[2022-08-01 22:46] davidchesnut commented on #2743
Looks like a request so moving to office-js repo.

[2022-08-02 00:01] ghost commented on #2705
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-02 02:16] JinghuiMS commented on #2743
@madhavagrawal17
Could you give your insights on this issue? it should be related to shared runtime. Thanks!

[2022-08-02 06:21] questicles opened #2744 "Ribbon button requires 2 clicks before function is invoked"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Reporting behaviour logged here 2 years ago but was closed due to author inactivity in the hopes I can get some direction no

[2022-08-02 07:21] exextoc commented on #2618
Currently IRM feature, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-08-02 11:13] xauat001 opened #2745 "Redistribute VBA 7.1 ?"
Hello everyone, I have the same problem as in the following link:

https://github.com/OfficeDev/office-js/issues/2566

Is there anyone could help me to get the latest VBA SDK?

[2022-08-02 12:08] guliums commented on #2625
Hi @Subhanansahoo , that is wired.  I cannot repro if I try to open [https://api.addins.store.office.com/addinstemplate/en-GB/ea26f6e7-8229-4bb0-b188-ba20148571f5/WA200003784/none/Spreadsheet-Sync.xlsx](https://api.addins.store.office.com/addinstemplate/en-GB/ea26f6e7-8229-4bb0-b188-ba20148571f5/WA200003784/none/Spreadsheet-Sync.xlsx). The url should NOT have any parameters after .xlsx. Could you

[2022-08-02 13:02] MicGensty commented on #2175
@mattgeim,
Is there any news on enabling SSO for the user flow we described? It is the most natural way for a teacher to access a document they need to provide feedback on with our add-in.

We have during the spring told customers about the workaround, but it is still a big issue for us, as it adds overhead for each customer making sure they manage to log in the first time, and they are not partic

[2022-08-02 13:12] cody-lettau commented on #2736
@exextoc - @feannyn will be putting together a better video with an example of what we're seeing (hopefully will have that to you here today or tomorrow).

[2022-08-02 13:48] exextoc commented on #974
Currently there is no support for addins from system generated emails We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-08-02 14:18] feannyn commented on #2736
https://user-images.githubusercontent.com/17707848/182397002-ddd36925-f803-4748-b889-fc203a1d349b.mov

<img width="687" alt="Outlook_version" src="https://user-images.githubusercontent.com/17707848/182397161-b8ef61ac-9f2f-4a5b-b1d2-10203ba60ed4.png">

This is the video recording and also linked is the version of Outlook we are using to test this.

[2022-08-02 15:01] ghost commented on #2543
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-08-02 16:04] maleta commented on #2543
bump

[2022-08-02 16:25] yatibawri1 commented on #2745
Based on the link that you shared, may I know if you tried contacting the contact mentioned in the thread?

For the VBA SDK, you could connect Yaqi by [Yaqi.Yang@microsoft.com](mailto:Yaqi.Yang@microsoft.com) directly, he would send you the updated SDK. Thank you!

[2022-08-02 17:58] emmanuelpineda opened #2746 "Add-in panel is hidden when opening backstage view"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
When the Add-In panel is undocked or in a separate window, it should be visible even when the Word Backstage view is opened

## Current Behavior
When the add in p

[2022-08-02 18:08] #2270 closed, assigned to AbidRahman-MSFT, dingjin-ms

[2022-08-02 18:10] AbidRahman-MSFT commented on #2134
This issue has been fixed on versions 16.0.10385.20005 and greater.

[2022-08-02 18:10] #2134 closed, assigned to sohailzafar, AbidRahman-MSFT

[2022-08-02 18:16] #2500 closed, assigned to AbidRahman-MSFT

[2022-08-02 18:31] AbidRahman-MSFT commented on #2650
Hey @danielpdev - are you still having issues with Ribbon API 1.1 for Mac/Windows on PPT?

[2022-08-02 18:35] #2545 closed, assigned to AbidRahman-MSFT

[2022-08-02 18:36] #2468 closed, assigned to AbidRahman-MSFT

[2022-08-02 18:36] #2504 closed, assigned to AbidRahman-MSFT

[2022-08-03 00:10] Adrian-MSFT commented on #2739
Hi @ArjunSureshKumar92

Thank you for bringing this to our attention. We are aware of this and currently investigating it.

[2022-08-03 02:39] xauat001 commented on #2745
It's been a few months since the linked issue was posted so I'm not sure if I should contact Yaqi, I have sent the email to Yaqi yesterday but I haven't receive reply yet, I'll continue to wait a few days, thank you.

[2022-08-03 05:13] xuruiyao-msft commented on #2704
@jgonzalez-at-wiris Thanks for clarification. I've created the work item 6370702 to track the issue. And If there's any update, I will synch with you.

[2022-08-03 05:52] lordbenz commented on #2270
Thanks all

[2022-08-03 06:45] JHJ-MS commented on #2732
Hi @wh1t3cAt1k , if the argument is simultaneously repeating, **number**, and optional: false, will the custom functions fail to install?
If it will, I think this may cause by repeating parameters by default is optional and cannot change to not optional. Otherwise, we don't know how many repetitions are appropriate.

If it won't, It should be a bug.

[2022-08-03 07:25] exextoc commented on #2707
Can you please share a short repro video and code snippet which is responsible for redirecting the intent URL to the IRMA app for further debugging??

[2022-08-03 08:03] Iso5786 commented on #2707
Not sure what the repro video should additionally show as what happens in the background is that a [IRMA session](https://irma.app/docs/irma-protocol/#sequence-diagram) is started, and the frontend-package subsequently generates the link.
If I click then on the button with the link within the taskpane of the addon, the webview opens with the error shown above.
The link is attached as href attribut

[2022-08-03 08:35] wh1t3cAt1k commented on #2732
@JHJ-MS it's quite clear in my view, that the behaviour should be the same as we have in the COM-based add-in: Excel would check that at least the first of the repeating arguments is specified (and display it as non-optional in Intellisense), and the rest of repetitions are displayed as optional.

Argument1, [Argument2], ...

I can check the number case later today

[2022-08-03 09:45] oFlo193o commented on #2700
Hi there. Any news?

[2022-08-03 11:56] bulgariamitko opened #2749 "When using insertText() footnotes are being erased"
When I am using this code `paragraphs.items[h].insertText(newText, "Replace");` for example if I have any footnotes inside this paragraph there were deleted and I get a question marks where the numbers were before that.
This is the original text
![Снимка на екрана на 2022-08-03 13-52-20](https://user-images.githubusercontent.com/7221384/182601564-7474bd62-0cc8-446a-ac72-040dc12611da.png)

And this

[2022-08-03 12:04] danielpdev commented on #2650
Hi @AbidRahman-MSFT , I will retest with latest version of preview APIs and let you know.

[2022-08-03 12:05] danielpdev commented on #2726
This can be closed for now.

[2022-08-03 12:05] #2726 closed, assigned to JinghuiMS

[2022-08-03 15:36] somenathmaji commented on #2735
We ran the proper command this time but got the following error -
![Screenshot 2022-08-03 at 8 57 55 PM](https://user-images.githubusercontent.com/10449421/182647513-621c36aa-1196-4283-8600-13a8a4c1749e.png)

`Office.context.mailbox.item` is undefined in a shared mailbox.
![Screenshot 2022-08-03 at 8 57 08 PM](https://user-images.githubusercontent.com/10449421/182647382-ccbf32d0-fe88-4218-905b-f3c

[2022-08-03 16:04] p6l-richard opened #2747 "How can I call the `Notification` APIs methods in an outlook add-in?"
## Problem
I've tried using the `Notification.requestPermission()` API method in my outlook  add-in, but the method call doesn't trigger the usual notification dialog.

Is the [Notification API](https://developer.mozilla.org/en-US/docs/Web/API/notification) not supported in outlook's in-app browsers?

I've tried on macOS & the web app in Chrome. I would've definitely expected the latter to work.

[2022-08-03 16:20] p6l-richard opened #2748 "What's the recommended way to send push notifications to an outlook add-in from a web server?"
## Problem

I can't seem to find a reference a suggested way to implement sending notifications from a web server to an outlook add-in.

I've looked on:
- the officeJS docs, which have a deprecated entry about notifications [rest api v2.0](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/notify-rest-operations), pointing to the [Microsoft Graph](https://docs

[2022-08-03 16:25] ElizabethSamuel-MSFT commented on #2749
@bulgariamitko Thanks for letting us know about this issue. Can you share a little more about your environment? Thanks.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

[2022-08-03 16:49] ElizabethSamuel-MSFT commented on #2749
Transferring to the product repo for triage.

@bulgariamitko Can you provide the following additional info so the product team can triage and investigate?

## Context
How has this issue affected you? What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world.

## Useful logs
Please include any of the following logs that may help us d

[2022-08-03 16:53] ElizabethSamuel-MSFT commented on #2749
@wangyun-microsoft Can you take a look? Thanks.

[2022-08-03 20:45] exextoc commented on #2736
@feannyn Sorry about the delay, but I am still not ale to re produce this. What is your options setting in Virtru and what is the size of impact of this issue?

[2022-08-03 21:18] mrcn04 commented on #1127
Hey, any updates on this? I'm getting the same error.

[2022-08-03 21:30] #2724 closed, assigned to exextoc

[2022-08-03 22:02] ononder commented on #2699
I would like to update with a workaround in the meantime, if we add another shape using `setSelectedDataAsync` and delete it, that causes an update on the slide and the missing shapes come back.

Also, another thing to note is, if the user changes the slide zoom level or resizes browser window (if slide is set for zoom to fit), the shapes also appear for other zoom levels.

Here is the code from t

[2022-08-04 00:55] JinghuiMS commented on #2749
@ElizabethSamuel-MSFT I will ping feature crew to take this issue. Thanks.
@bulgariamitko Thanks for reaching us. As ElizabethSamuel said, can we know which platform(Word Desktop, Word Online, Mac or iOS) you are seeing this issue? If you can provide a repro video, that will be helpful for us to better understand your scenario. Thanks!

[2022-08-04 04:19] exextoc commented on #2707
Can you please try with [getLaunchIntentForPackage](https://developer.android.com/reference/android/content/pm/PackageManager#getLaunchIntentForPackage%28java.lang.String%29) instead of intent URI.

[2022-08-04 06:50] bulgariamitko commented on #2749
## Your Environment
Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
Host [Excel, Word, PowerPoint, etc.]: Word
Office version number: Microsoft Office Professional Plus 2016
Operating System: Windows 11 Pro, Bulgarian language pack
Browser (if using Office on the web): not using Office on the web

## Context
So what I was trying to do is to delete all additional spaces in Word like

[2022-08-04 07:17] xauat001 commented on #2745
@yaqiyang hi Yaqi, could you send the VBA SDK 7.1 for me please?

[2022-08-04 11:14] mrcn04 commented on #1127
@lindalu-MSFT Hey, can we reopen this issue please?

[2022-08-04 12:36] milankonir opened #2750 "makeEwsRequestAsync fails in OWA (WasProxySuccessfull: false)"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 20220721048.03 (collected from diagnostics API)
* Operating System: Windows 10
* Browser (if using Office on the web): Microsoft Edge 102.0.1245.62

## Expected behavior

The

[2022-08-04 12:40] milankonir commented on #2705
@exextoc Thanks for looking into this and for the suggested workarounds.

The workarounds are unfortunately not suitable for our use case us as the image link points to a dynamic resource which is intended to be loaded on recipients end.

[2022-08-04 14:04] milankonir commented on #2277
👋 Was this fix included in the 16.63 release? Most of our customers are up to date with the latest version, but we are still getting the same volume of these errors.

[2022-08-04 15:51] yaqiyang commented on #2745
We only provide updated VBA SDK packages to our existing licensees. If you are a licensee, please e-mail me at yaqi.yang@microsoft.com directly from your work e-mail and give me the name of your company that has signed our VBA license agreement. Once it is verified, I will give access to your work e-mail address.

[2022-08-04 17:58] mattgeim commented on #2729
Hi @msyezhong,

MSA users should work in the Outlook desktop clients that have SSO support, but they are not supported in OWA at this time. MSA is supported for Office add-ins.

At this time we do not have any plans to share around support for MSA account support for SSO in OWA.

You should use a fallback method, such as the dialog API and MSAL, and enable that for any time SSO may not be availabl

[2022-08-04 17:58] #2729 closed, assigned to nobody

[2022-08-04 18:45] exextoc commented on #2740
@plamenbotev As the documentation said, we do not support EWS for shared mailbox and therefore we don't guarantee the result for it.

[2022-08-05 00:12] exextoc commented on #2730
Thank you for the post. We are currently investigating this issue.

[2022-08-05 03:33] JHJ-MS commented on #2610
Hi @david-ps , my first reply ("You can manually change the file extension from “.xlsx” to ".zip", then open the xl->webextensions->taskpanes.xml, set the visibility from "0" to "1"， and then change the file extension from ".zip" to ".xlsx") will be a good workaround for you.  **One could do that when the workbook is closed. After one has done that for a workbook, he can then open it and share it

[2022-08-05 05:45] xauat001 commented on #2745
Thank you Yaqi, I'll contact you with work email ASAP.

[2022-08-05 05:54] #2745 closed, assigned to nobody

[2022-08-05 06:02] david-ps commented on #2610
Hi @JHJ-MS I saw your workaround suggestion 49 days ago and replied 21 days ago to advise that this manual approach does not address our use cases and is not practical in any circumstance that I can think of.

Your advice to put an idea on the "Developer Forum" to solve this critical issue is very disappointing, particularly after waiting so long.

I have heard that all Development Ideas submissio

[2022-08-05 09:42] JHJ-MS commented on #2617
Something Update here.

We can repro it using Jedox. We found the CustomFunctions registration failed caused by a 400 invalid argument error. We are actively investigating the root cause.
![image](https://user-images.githubusercontent.com/94002141/183049572-543095d5-a68b-4a49-99ed-7e051add2eb5.png)

Thanks.

[2022-08-05 10:14] Premsagar-lab opened #2751 "[Outlook Onsend addin] Office.context.mailbox.item.location.getAsync() is not providing entered location when Appointment or meeting composed through OWA"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Meeting location is retrieved through office js api Office.context.mailbox.item.body.getAsync().
It works perfectly for stor

[2022-08-05 11:30] exextoc commented on #2750
We are not able to reproduce this at our end .We need some more details to debug it further.
1)Is it constant repro for the customer where it is failing?
2)From when it started failing ??
3)Can you please share a repro video of the issue ??

[2022-08-05 11:45] exextoc commented on #2751
We are not able to repro this issue can you please share a repro video for further debugging?

[2022-08-05 11:57] exextoc commented on #1127
we are unable to reproduce this issue, is it possible to provide your add-in manifest to us so we can check what the root cause is?

[2022-08-05 12:00] exextoc commented on #2358
Currently there is no support for this feature. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-08-05 13:49] bulgariamitko commented on #2749
After doing some more research I think the reason for this is another code, this one

[code]
This code is converting all spaces which are more then one to only one space in a document and I believe footnote numbers are counted as a space in Word and this code is messing it with the logic, but I will wait for your answer to confirm or deny this.

[2022-08-05 14:57] dhoelzl opened #2752 "Data loss in content control's tag and title values when using insertFileFromBase64"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint

[2022-08-05 16:31] davidchesnut commented on #2610
Hi @david-ps,

Sorry for the frustration on this. The only workaround I can think of in this case is perhaps the add-in can insert a message into the spreadsheet to notify the user to remember to install the add-in. I'll keep an eye on this issue from a samples perspective because I believe it also affects our [Open in Excel](https://docs.microsoft.com/office/dev/add-ins/excel/pnp-open-in-excel) s

[2022-08-05 17:18] jackdawHome opened #2753 "Internet Headers are not deleted if there is a delay between internetHeaders.setAsync and internetHeaders.removeAsync"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Microsoft® Outlook® 2019 MSO (Version 2110 Build 16.0.14527.20234) 32-bit (Outlook desktop)
* Operating System: Windows 10 Pro version is 21H2, OS build 19044.1469
* Browser

[2022-08-05 19:11] praveenbattula opened #2754 "Powerpoint office-js fails to read shapes in desktop version"
I have implemented the solution using Typescript, React, OfficeJS for PowerPoint. I have success in reading slides, but while reading shapes and textframes in each slide I see generic error:
![image](https://user-images.githubusercontent.com/7248139/183144272-a2ab29a4-e59f-4a84-bae2-f22453f2ed67.png)

**Update 08/22/2022**
I have enabled full statements using command to see where exactly it fails

[2022-08-05 19:16] ElizabethSamuel-MSFT commented on #1743
@mbice: @sohailzafar no longer works in this space. Assigning to @wangyun-microsoft to take a look.

Thanks.

[2022-08-05 22:02] milankonir commented on #2750
1. It's a constant repro, the `makeEwsRequestAsync` fails 100%
2. It has never worked for them
3. What would you like to see in the video (e.g. the OWA network log)?

[2022-08-05 22:09] ElizabethSamuel-MSFT commented on #545
@JinghuiMS Can you take a look and reassign as appropriate? Thanks.

[2022-08-05 22:12] ElizabethSamuel-MSFT commented on #716
@millerds Can you take a look? Thanks.

[2022-08-05 22:13] ElizabethSamuel-MSFT commented on #1038
@millerds Can you take a look?

[2022-08-05 22:16] ElizabethSamuel-MSFT commented on #1180
Removing mscharlock. @slabereemsft Any update on this? Thanks.

[2022-08-05 22:19] ElizabethSamuel-MSFT commented on #1148
@preethikakiru Can you take a look? Thanks.

[2022-08-05 22:22] ElizabethSamuel-MSFT commented on #1238
@preethikakiru Can you take a look and reassign as needed? Thanks.

[2022-08-05 22:24] ElizabethSamuel-MSFT commented on #1386
@preethikakiru Can you take a look and reassign as needed? Thanks.

[2022-08-05 22:26] ElizabethSamuel-MSFT commented on #1589
@wangyun-microsoft Can you take a look and reassign as needed? Thanks.

[2022-08-05 22:27] ElizabethSamuel-MSFT commented on #1581
@preethikakiru Can you take a look and reassign as needed? Thanks.

[2022-08-05 22:43] rgwood commented on #1180
FWIW I'm happy to close this. I've long since given up on "modern" Office integration; the developer experience for building Office Add-ins is a nightmare and I literally quit a job to get away from it. I would recommend that anyone reading this for professional reasons run far, far away.

[2022-08-05 22:43] #1180 closed, assigned to slabereemsft

[2022-08-05 23:36] millerds commented on #716
I don't see any dev tooling questions here.  It sounds like and add-in that already being hosted for store access.  Someone on the platform might know more, but I'm not sure who to talk to.

[2022-08-06 07:13] plamenbotev commented on #2740
@exextoc Thank you for your answer.
Another question regarding the supported setups with the graph services, will they be working properly on hybrid setups?
This is actually the main reason for me to test the EWS as a backup and fallback if the graph calls error out.
We are trying to make our product backward compatible as much as possible after the discontinuation of the Outlook REST services in