[2021-05-04 20:38] 4tti commented on #1795
@trigurl thanks. That is pretty important information. Can I ask more questions?:
- does it mean that 'clearing cache' as mentioned in the docs should avoid removing content of WEF?
- Does it apply also to mac versions?
see docs: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache#clear-the-office-cache-on-windows

Thank you!

[2021-05-04 20:39] richie5um commented on #1824
Thanks. The presence of the ?et query param, seems to also have the _host_info query param too, and if that is present, *and* the tracking prevention causes hostInfoValue to be prevented from reading, then that seems to cause the addin to not load.

?!!?

[2021-05-04 23:08] trigurl commented on #1795
So the document you referenced is for side-loading which is different from shared folders (aka fileshare).   Side-loading can be used by Outlook add-in developers test their add-in on Exchange.  Outlook will cache the add-in after it has downloaded it from Exchange and to be efficient, it may not check for a newer version until some time as past.  So an Outlook dev might delete the WEF folder to f

[2021-05-04 23:51] mattisdada commented on #1741
Yes, this issue is still reproduceable, very reliably so. It happens with our Production app only downloaded from [AppSource](https://appsource.microsoft.com/en-us/product/office/wa200002228?tab=overview).

This doesn't occur on _every_ machine using our app, but it does happen on all of _my_ machines. I did find if I uninstalled WebView2 from my system it works, but that's because it gets rendere

[2021-05-05 00:42] Dengshan2018 commented on #1741
@mattisdada thanks for providing the detail information. The add-in is in debug mode, but webdialog is in normal mode. so the localstorage can't be shared. if you undo the debug setting for add-in, you should be able to resolve the issue.

[2021-05-05 00:45] amegan commented on #1800
@exextoc I verified category api starts working on insider fast outlook client in New UI.  Do you have a plan to fix the issue in Old UI?  We can't ask users to use New UI because of https://github.com/OfficeDev/office-js/issues/1616 .

[2021-05-05 00:49] mattisdada commented on #1741
What debug setting?

[2021-05-05 01:51] Dengshan2018 commented on #1741
Just manually delete all registry keys under "Computer\HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\WEF\Developer"

[2021-05-05 02:03] mattisdada commented on #1741
That did fix it for me, is this documented anywhere and it is still a little odd, the registry was pointing to a local manifest file, but it wasn't affecting my local install, only prod. Very odd :/

[2021-05-05 03:45] avisheknand opened #1853 "Office.context.mailbox.item.SaveAsync throws an error in Onsend Addin if Send Later option is used on OWA"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi Everyone,

I am facing issue in our OnSend office addin in OWA. When we use send later option in OWA there is an error in the office. js for Office.context.mailbox.item.saveAsync M

[2021-05-05 04:07] nikhilism15 commented on #1741
@Dengshan2018 the fix you mentioned worked for me as well, but I didn't have to delete all entries under the folder: I only had to change "UseDirectDebugger" property to 0 from 1 in all the GUID folders under  "Computer\HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\WEF\Developer".

Thank you so much for the fix, but please document this and let us know why it works that way.

[2021-05-05 04:08] nikhilism15 commented on #1835
https://github.com/OfficeDev/office-js/issues/1741#issuecomment-832363275

This comment is the fix for the issue. @Dengshan2018 thank you for fixing the issue.

[2021-05-05 04:08] #1835 closed, assigned to lumine2008

[2021-05-05 09:05] exextoc commented on #1797
Since we are no longer able to reproduce this issue I will close this for now. Feel free to reopen once you have a repro.

[2021-05-05 09:05] #1797 closed, assigned to exextoc, macOutlookExtensibility

[2021-05-05 10:38] arshadshibli opened #1844 "Automatically open a task pane with a document on opening document"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am using 'Automatically open task pane with document' [https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document](url) feature of of

[2021-05-05 10:55] exextoc commented on #1800
Thank you for confirming that this works well in the New Outlook for Mac - it will be available in prod by mid May. While we have noted down the Old UI bug, old UI bugs are lower in priority and hence we may not be able to pick it up.

[2021-05-05 13:13] 4tti commented on #1795
Thank you for all the clarifications!
I am going to close this...

@lindalu-MSFT feel free to reopen if you'll find some of the info interesting for the docs to be updated (as I think there is valuable information).

[2021-05-05 13:13] #1795 closed, assigned to lliu113

[2021-05-05 13:40] aninfeel commented on #1369
Thanks. But I have switched to VSTO for several months.

[2021-05-05 14:14] OfficeAddins commented on #1644
Have you been able to look at this please

[2021-05-05 16:15] Petryxasport opened #1845 "Add-in Word/Excel Online: displayDialogAsync does not work “NotHttps”"
Our word add-in uses function "displayDialogAsync" and everything was good, then this function was broken for a Word Online in Chrome browser.

Our product in life and this is critical issue. Could you please fix and advice a temporary workaround?

**Example of code:**
`Office.context.ui.displayDialogAsync(url, { height: 80, width: 25, displayInIframe: true }, dialogCallback);`

## Expected Behavi

[2021-05-05 16:16] msgarycha commented on #1792
@Alex0cean,

Sorry for the delay. We can confirm that there is a regression on our side. We are working on a fix. Meanwhile, please avoid disabling all buttons in a group to prevent hitting the problem as a temporary remedy.

Regards,
Gary

[2021-05-05 17:05] jordandev commented on #585
We need this as well

basically want multiline data table header descriptions

[2021-05-05 17:05] randeepchaudhary commented on #1811
Hi, did you get the cause for this behavior?

[2021-05-05 19:23] AbidRahman-MSFT commented on #1841
@smaremanda, I believe this is a WebView2 issue. I've seen similar issues popping up recently for users using Webview2 where the filepath includes an apostrophe. Here is a repro video for the same issue: https://www.youtube.com/watch?v=ada1E9mQDn0

[2021-05-05 19:36] exextoc commented on #1821
Thanks for reporting this issue regarding getSharedPropertiesAsync API. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office: 2088338

[2021-05-05 19:37] yihuax-zz commented on #1644
How to repro it? Where to find the TypeScript add-in?

[2021-05-05 19:59] OfficeAddins commented on #1644
Many Thanks.
The following repository contains the project (only 5 files):
https://github.com/OfficeAddins/undefined

[2021-05-05 20:27] lliu113 commented on #1311
@sarea - it appears that the issue has been resolved, I'm going to go ahead and close this. Please reactivate if you need any further assistance, thanks!

[2021-05-05 20:27] #1311 closed, assigned to lliu113

[2021-05-05 20:33] lliu113 commented on #1186
@rvskrishnaprasad - I'm going to go ahead and close the issue for now. If this is still an issue, please reactivate with the extra information if possible, thank you!

[2021-05-05 20:33] #1186 closed, assigned to lliu113

[2021-05-05 20:59] sshukurov opened #1846 "[Excel on the web] Context menu button not triggering the linked action"
Affects Excel on the web, does not affect the desktop version.

## Expected Behavior
When I click on a context menu button added using `<OfficeMenu id="ContextMenuCell">` element in the manifest, it should trigger the action defined in the `Action` element.

## Current Behavior
`Action` does not get triggered. Affects both `ExecuteFunction` and `ShowTaskpane` types of action.

## Steps to Reproduc

[2021-05-05 21:08] lliu113 commented on #1093
@pinetreeps - this is marked as resolved internally, so I'm going to go ahead and close this issue. Please reactivate if you have any additional questions, thanks!

[2021-05-05 21:08] #1093 closed, assigned to lliu113

[2021-05-05 22:41] lliu113 commented on #663
@dinglicoding - sorry for the very late response to this, are you still seeing this issue?

[2021-05-05 22:49] lliu113 commented on #772
@Kallzz @mpetro-t - sorry for the very late response to this, and thank you for the feedback. The difference in dialog titles is by design. We have a work item in our backlog to normalize the titles across platform, but we have no ETA to share currently.

I'll go ahead and close this issue for now, feel free to reactivate as necessary. Thanks!

[2021-05-05 22:49] #772 closed, assigned to lliu113

[2021-05-05 22:54] lliu113 commented on #1674
@groh-f - thanks for the extra info! We are able to repro this internally and have opened up a bug to track.
Bug ID: 5023697

No ETA right now to share, but will update if that changes.

[2021-05-05 23:12] lliu113 commented on #838
@ndeeH - sorry to hear about the auth issue! If this is still a problem, can you open a separate github issue for it? This will better help us track. If you could include some repro steps for the login flow, that would be very helpful. Thanks!

[2021-05-05 23:22] lliu113 commented on #1274
@kullachoke-bosuwan-rft - late response but wanted to update that this is in our backlog, internal bug: 5088512

[2021-05-06 03:10] Issac-Nguyen opened #1847 "Can not add comment with excel add-in"
Can not add comment in excel add-in

## Expected Behavior
Can add comment via function add of comment object

## Current Behavior
Can not add comment into cell in excel add in, error not implemented is thrown when using comments.add function

## Steps to Reproduce, or Live Example
This is my snippet of script-lab
[https://gist.github.com/Issac-Nguyen/ac7a8adfe745e665335efad26b7cea39](url)

## Cont

[2021-05-06 05:15] davyarris commented on #1807
I too have this issue. If the locale is derived from the Installed Office version then this results in no way to change it. Which is definitely a problem for our users. I assumed the locale for the browser (being Edge in the case of native Add-in) would be used. Accessing outlook.com obviously results in the correct behaviour (i.e. using the locale from Settings > Languages of the browser).

[2021-05-06 05:56] nnyegaard commented on #1369
@aninfeel Yeah it feels that is the only option for Project development

[2021-05-06 06:18] clavx commented on #1836
We have installed only one On-Send add-in.
The add-in passes a send event after 10 seconds, as shown in the code above.

This is done with the following code. It is based on the code generated by generator-office.

[code]

[2021-05-06 06:38] ghost commented on #1847
Hi @AlexJerabek,

var comments = workbook.comments;
"This operation is not implemented."

I still facing this issue when trying to add comments in Excel using Excel Javascript Api. You can see the error attachment image below for more detail. I'm getting the error for all comment-related API. Please help me to resolve this issue. Thanks

![image](https://user-images.githubusercontent.com/63444197/

[2021-05-06 07:35] clavx commented on #1837
This issue occurs only with the "Send Later" option.

I understand that the Send Later feature allows you to specify the date and time to send, and the Undo send feature allows you to cancel while sending.

I have confirmed that the Undo send feature does not work in the pop-out window.

https://user-images.githubusercontent.com/58804032/117258289-51e27b00-ae3c-11eb-934b-91ce0e1bf530.mp4

[2021-05-06 07:39] ndeeH commented on #838
@lliu113 @AbidRahman-MSFT
Hi there,
I posted another issue and solved it already 😀 details [here](https://github.com/MicrosoftEdge/WebView2Feedback/issues/1194)
(was a Cookie-Problem coming up with Chrome... SameSite-Mode)

**Today I tested the "blury" issue and it has gone with the actual version of office and chrome.**

Thank you, Andi

[2021-05-06 07:39] #838 closed, assigned to AbidRahman-MSFT

[2021-05-06 07:56] Hourglasser23 opened #1848 "Outlook desktop: loadCustomPropertiesAsync and save erases MAPI property set"
I am tracking Outlook items (Message and Event) to our CRM system. When I want to track message receive I send a request to our backend from office-js addin, it creates an activity object in our CRM system and then sets an icon for Outlook item via Graph API

[code]
After that, I send back the ID of the CRM activity and add it to custom properties in addin and save it.

[code]

## Expected Behavio

[2021-05-06 08:56] jipinshi commented on #1840
@timbeese, I can repro the issue, 5072600 was reported to track the issue.

[2021-05-06 09:00] ghost commented on #1839
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-06 09:00] ghost commented on #1838
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-06 09:00] jipinshi commented on #1840
For the merged cell autofit cannot work now, maybe you can do autofit for one cell first, and then merge two cells first to unblock first.

[2021-05-06 09:26] honxmsft commented on #1847
I've tested on Version 2105 (Build 14026.20084 Click-to-Run), Channel OuterRing,
and Version 2104 (Build 13929.20296). It seems the issue does not repro.

Can you check if you can repro this again?

I've checked recent change, and I think this might be caused by a license related problem, I'll update this thread if I have any further update.

[2021-05-06 13:57] gingerjia commented on #1813
@ASamSam sorry for late reply as we just back from international labor vacation.
It's good to hear that the issue was resolved by removing 'add page' and 'add table'.
And another workaround to unblock you is to add 'await context.sync()' before adding the second workbook:
<img width="460" alt="Untitled" src="https://user-images.githubusercontent.com/62282034/117310238-a8d86680-aeb5-11eb-9c1f-5b29f

[2021-05-06 14:00] ghost commented on #1673
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-05-06 14:00] #1673 closed, assigned to exextoc

[2021-05-06 14:15] gingerjia commented on #1803
@ASamSam please see the workaround provided at https://github.com/OfficeDev/office-js/issues/1813.
If this can unblock your work now, that would be great. Thanks very much for reporting so great questions!

[2021-05-06 14:45] gkarmelich commented on #1841
Thanks @AbidRahman-MSFT. I looked at the video you linked and that is the same experience our users are having.

[2021-05-06 14:54] ASamSam commented on #1813
Thank you very much, will keep it in mind

[2021-05-06 16:39] brgruber92 opened #1849 "Excel add-in reloading when Attach Debugger"
I'm locally debugging my Excel add-in from VS Code on Excel Desktop. It used to work fine, but since yesterday, when I hit "Attach Debugger" in the task pane, the add-in reloads itself after 5 seconds approximately, making the debug windows to close.

## Expected Behavior
To keep the Debug windows opened during the execution of the add-in.

## Current Behavior
Reloads the add-in approximately 5 se

[2021-05-06 19:30] timbeese commented on #1840
We'll look into workarounds for the issue.  Thanks for the update.

[2021-05-06 22:50] #1741 closed, assigned to croicu, Dengshan2018

[2021-05-06 22:50] nancy-wang commented on #1827
Great question - I've tagged @AbidRahman-MSFT who works in this space. Thanks for asking @AlexanderSokolov1 !

[2021-05-06 23:00] nancy-wang commented on #1849
Thanks @brgruber92! I've tagged @lumine2008 from our team to investigate this further.

[2021-05-06 23:04] nancy-wang commented on #1815
Thanks for leaving us this feedback @tsardy! I'll make sure @smaremanda from our team is notified of your issue - appreciate your understanding here.

[2021-05-06 23:13] nancy-wang commented on #1842
Thanks for sharing this feedback with us @ndvbd - I've tagged @macOutlookExtensibility to investigate this further.

[2021-05-06 23:14] nancy-wang commented on #1844
Thanks so much for this feedback @arshadshibli ! I've tagged @AbidRahman-MSFT from our team to investigate further.

[2021-05-06 23:19] nancy-wang commented on #1846
Thank you @sshukurov ! I've tagged @keyur32 from our team to investigate this further

[2021-05-06 23:26] bconners1005 commented on #1801
@exextoc I hadn't been doing any tagging on this, but was there any momentum on this?

It causes the responses and the feature extension to be erratic.  Sometimes making it unusable without having to do full reloads of the items.

As the original poster had mentioned it seems to happen when there is a setInterval or timer on checking the asynch status of the returns.  I have tried doing an unhandl

[2021-05-07 00:23] #1813 closed, assigned to gingerjia

[2021-05-07 01:47] jipinshi commented on #1849
@brgruber92, Thanks reporting the issue. Wonder was there any recent change for manifest or js code and then met the reload issue? Or didn't make any change but it worked before and later it didn't work? Here want to confirm whether it was caused by any regression. And also wonder if you don't attach, will it cause crash after load the taskpane addin and wait 1 min? Another question is which proce

[2021-05-07 02:00] ghost commented on #1823
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-05-07 02:00] #1823 closed, assigned to exextoc

[2021-05-07 02:00] ghost commented on #1822
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-05-07 02:01] Issac-Nguyen commented on #1847
hi @honxmsft ,
I'm using same version with @tvkien using, but same result as him. Could you please share your snippet example so I can import and check on my computer?

Thanks.

[2021-05-07 02:27] gingerjia commented on #1826
@pkpatels, seems your requirement is to suspend UI update while calculate values to better the perf. If this purpose, then I think 'suspendScreenUpdatingUntilNextSync' can meet your requirement. Here is the details: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/performance

And for your gist https://gist.github.com/pkpatels/8b3bca619b39c78cb0bc09e18c8512c1, there are couple of areas ca

[2021-05-07 02:28] jasonclg opened #1850 "Parameter types of custom function are missing in Function Arguments dialog"
## Steps to Reproduce, or Live Example
1. Generate custom function project following steps in this [tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows)
2. Go to Formulas - Insert Functions
3. Pick the function to insert in the list

## Expected Behavior
![sum](https://user-images.githubusercontent.com/2009930/117388057-dc5

[2021-05-07 03:35] honxmsft commented on #1843
Hi, can you try this on your Mac again? The team closed the flight causing this problem. It should work now.

[2021-05-07 05:45] splinter opened #1851 "postMessage does not work on On-Premise OWA"
We have a customer who is using the Outlook Web Application that is exposed via an on-premise Exchange server.The messageParent method does not post a response back to the parent window.

## Expected Behavior
The messageParent method should send a message to the parent window

## Current Behavior
The messageParent method does not send messages to the parent window

## Steps to Reproduce, or Live E

[2021-05-07 05:47] davyarris commented on #1807
Further information related to this issue, I attempted to obtain the correct locale from within the Add-in (inside Native Outlook), so it was using an Edge viewer. My Windows locale is set to en-AU. My Edge Browser is set to en-AU and my Office Locale is set to en-AU.. This is the results:
![image](https://user-images.githubusercontent.com/59075773/117403410-7711df00-af4b-11eb-9c75-44727be73411.pn

[2021-05-07 06:03] honxmsft commented on #1831
Can you share more information about your Excel Mac build? You can find them in Excel > About Microsoft Excel.

[2021-05-07 08:23] jipinshi commented on #1840
For the other one shape moved issue, 5089360 is used to track the issue

[2021-05-07 08:33] exextoc commented on #1851
Please make sure that the page calling Office.context.ui.messageParent must also be on the same domain as the parent page.

Also can you share the on-Premise exchange version. Requirements sets supported by different exchange versions can be found [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets).

[2021-05-07 08:33] G00golplex opened #1852 "EdgeWebview crashing after 5 seconds"
Until now I have alwayse used Microsoft Edge DevTools preview but finally the update of the Edge Chromium with webView 2 DevTools have been deployed. I wanted to run my office JS Excel addin (TypeScript React, FluentUI, with the Yeoman generator scaffolding) and attach the debugger. but the debugger opens up for 5 seconds and then closes and restarts the plugin. As a concenquence, after the reboot

[2021-05-07 08:49] honxmsft commented on #1847
I tried with your gist in ScriptLab, and the script mentioned by tvkien.

However, before you retry it in your computer, can you tell me what license you have? I think it might be a license issue. Currently, the comment collection feature is required Perpetual 2021 license or O365 subscription.

Also, did this API work for you like several months ago? Or is this the first time you encounter this i

[2021-05-07 08:52] MiaofeiWang commented on #1830
@kotanda Thanks for reporting this. It is a known issue and we are actively fixing it (local fix ready).
Before the fix ready for Production, can you try the workaround: selecting the range before adding chart? Sample code below:
` let dataRange = sheet.getRange("A1:E7");`
`dataRange.select();`
`let chart = sheet.charts.add("Line", dataRange, "Auto");`

[2021-05-07 09:02] clavx commented on #1838
The issue is that if you open the pop-out window during an upload, the upload will not progress and you will not be able to send.
And you will not be able to delete the attachment even if you perform the delete operation, but you will be able to send it in that state.

If the OnSendAddinsEnabled flag is True and any On-Send add-in is not installed, clicking the Send button will not automatically p

[2021-05-07 09:09] clavx commented on #1839
If the OnSendAddinsEnabled flag is True and any On-Send add-in is not installed, clicking the Send button will not automatically pop-out the window, so this will not occur. However, you can reproduce it by opening the window yourself.

[2021-05-07 10:57] G00golplex commented on #1852
Update!!!
I tried a brand new project with the Yeoman generator (TypeScript, React) today and the result is identical. WebView closes after 5s and I cannot debug.

[2021-05-07 13:32] derek-vena commented on #1831
@honxmsft
![image](https://user-images.githubusercontent.com/83288408/117457384-2aacac00-af17-11eb-923b-d05ebfd17ca7.png)

[2021-05-07 13:33] derek-vena commented on #1831
@honxmsft
![image](https://user-images.githubusercontent.com/83288408/117457564-5465d300-af17-11eb-9af2-781574e9829c.png)

[2021-05-07 15:19] brgruber92 commented on #1849
Thank you guys for taking care of this incident. Here are the answers to the questions:

- No, there wasn't any change in the manifest or source code. I don't know if that is related, but my Windows and VS Code both updated in the previous night of the problem.
- If I don't attach a debugger, the add-in works as expected. It only reloads when I attach it - it doesn't matter when : when it starts,

[2021-05-07 17:28] reidbill commented on #1843
This is still a problem for us. I updated Excel on the Mac to 16.48 (21041102) and cleared out the cache following instructions here, https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache and I am still not getting the message in the parent. Is there anything else I need to do?

[2021-05-07 18:37] AlexJerabek commented on #1853
Hi @avisheknand,

I'm going to transfer this issue to the office-js repo, where member of the project team can help you (this repo is for documentation issues and requests).

In the meantime, do you have some code that consistently reproduces this issue?

[2021-05-07 20:08] joshuawwright opened #1854 "Angular Add-in Served From Localhost No Longer Loads On Excel Online"
## Expected Behavior
I expect an add-in that I am hosting via localhost to load on excel online for ease of development.

## Current Behavior
After uploading my add-in manifest, a new ribbon is shown. After clicking a ribbon button for my web addin a pane is opened, but the add-in fails to load. The new behavior started for me Today (5/7).

## Steps to Reproduce, or Live Example
1) Create an angul

[2021-05-07 20:43] nancy-wang commented on #1852
Thanks for this feedback @G00golplex ! I'll tag someone on our team to investigate this further.

[2021-05-07 20:47] nancy-wang commented on #1850
Thanks @jasonclg for this feedback! I've tagged @grangeryy from our team to investigate this further.

[2021-05-08 00:07] codexeon commented on #1811
You are getting this error because our SSO developer scenario for Office Online was built for admin deployment scenario. For Office Online only, it requires you to have an admin account for the tenant to test your SSO add-in, or an admin to have previously deployed an SSO enabled add-in on the same tenant you are testing with. With an administrator account, you can go to https://portal.office.com/

[2021-05-08 00:24] exextoc commented on #1848
Generally, making server-side and client-side changes to an item simultaneously can result in conflicts, and that is what is happening here. Outlook has logic for conflict resolution. I'm sure that if there's sufficient time allowed between your server-side change and the client-side change, you won't experience this issue because Outlook will synchronize the updated server item before applying th

[2021-05-08 01:29] exextoc commented on #1832
There appears to be a difference in behavior between Windows Outlook and Mac Outlook when it comes to items from Shared Folders. In Windows Outlook, whenever a user creates a new message or a reply, it resides in the primary mailbox that the Shared Folder was shared with. That is why the `from.getAsync` returns the email address of the primary mailbox. In other words, the new item is not in the Sh

[2021-05-08 01:30] jipinshi commented on #1849
@brgruber92, can you have a try for Visual studio to do debug? Looks like not api related regression.

[2021-05-08 01:31] #1830 closed, assigned to lumine2008

[2021-05-08 01:32] jipinshi commented on #1830
Close the case now, if you have further requirement, please open a new one.

[2021-05-08 01:35] jipinshi commented on #1849
I think this is similar issue with [this one]( https://github.com/OfficeDev/office-js/issues/1852)

[2021-05-08 02:33] grangeryy commented on #1850
BUG 5095320 is created to track this issue.

[2021-05-08 03:04] jipinshi commented on #1831
5095340 was recorded to track the issue.

[2021-05-08 03:33] pkkj commented on #1843
Hi. I am not able to repro this issue under Excel Mac.

You may run a simple test in your environment to identify whether the API is working correctly. I create a very simple test add-in and you can find the manifest here:
https://pkkj.github.io/manifest/TwoWayMessageDialogTest.xml
Please read the source code to ensure that you trust the code of the add-in before side loading it:
https://pkkj.gith

[2021-05-08 05:27] jipinshi commented on #1847
@Issac-Nguyen. if the license is Perpetual, this is by design. If it is this case, you may need to change license to unblock you.

[2021-05-08 08:27] clavx commented on #1839
https://user-images.githubusercontent.com/58804032/117532418-eed91b80-afd6-11eb-8c26-6e03910f56c8.mp4

[2021-05-08 14:42] ndvbd opened #1855 "Outlook outlook.live.com getSelectedDataAsync returns InvalidSelection when there is a valid selection"
It doesn't work. Returns "InvalidSelection", when there is a valid selection. Am I missing something?
Sometimes, it does work and returns the selection of the text in the subject, even when the body is selected. The behaviour is not consistent.

I tried it on Chome 88 + https://outlook.live.com/mail/0/inbox

## Steps to Reproduce, or Live Example
 Office.initialize = function () {
      Office.con

[2021-05-09 19:48] exextoc commented on #1819
The above mentioned scenario works fine for us in New Mac UI. Can you also please try on new UI and share the feedback?

[2021-05-09 20:42] exextoc commented on #1842
When the issue reproduces does that happen only on a particular mail or all the mails? If there is a particular mail can you send that to us on admin@M365x010952.onmicrosoft.com.
If this is a generic failure then can you share your code snippet?

[2021-05-10 01:31] jipinshi commented on #1849
@smaremanda, can you take a look?

[2021-05-10 01:35] jipinshi commented on #1840
@timbeese. I also found the shape issue is related to postion, if you move the shape align with the cell top line, then the issue won't repro, it can be unblocked by this, for the bug itself, we are investigating.

[2021-05-10 01:36] jipinshi commented on #1840
Close the issue, have used bug to track the issue itself, if have further question, please open new or active this one, thanks.

[2021-05-10 01:38] jipinshi commented on #1833
@mscharlock , can you have a try whether the issue still repro, suppose it cannot repro now.

[2021-05-10 01:59] Issac-Nguyen commented on #1847
Hi @jipinshi, I think it's a problem because of missing license. We can close this ticket. Thanks.

[2021-05-10 01:59] #1847 closed, assigned to jipinshi

[2021-05-10 04:58] avisheknand commented on #1853
Sorry AlexJerabek for posting at the wrong place. Thank you setting it up for me.

I am adding the function which we use to reproduce the issue.

       function getItemIDFromOutlookAPI()

       {

       let  itemId = null;
 	Office.context.mailbox.item.saveAsync(function (asyncResult) {

                if (asyncResult.status === Office.AsyncResultStatus.Failed) {

                    console.l

[2021-05-10 07:46] pkpatels commented on #1826
Thank you @gingerjia, as I mentioned above we already use `app.suspendScreenUpdatingUntilNextSync()` (https://github.com/OfficeDev/office-js/issues/1826#issue-868584238 check line no 21 in [gist url](https://gist.github.com/pkpatels/8b3bca619b39c78cb0bc09e18c8512c1#file-sync-yaml-L21))  and I can't use  `app.suspendApiCalculationUntilNextSync()` because https://github.com/OfficeDev/office-js/issue

[2021-05-10 08:05] gingerjia commented on #1826
Currently we only has context.sync level suspend UI update API. We have logged work item for your new requirement as session level based suspend UI update.
For your side issue, can you divide the more than 10,000 ranges/cells buffer update into multiple context.sync()? And can you optimize your script according our best practice https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/resource

[2021-05-10 08:11] pkpatels commented on #1826
@gingerjia yes. I already update buffer into multiple (100) `context.sync()`. It reduce the time for a single `context.sync()` but still I see white screen only (Excel cells are not visible) for some time on every `context.sync()`

[2021-05-10 11:12] exextoc commented on #1838
Thanks @clavx for clarifying this again. It looks like this bug is reproducible even with just simple mail compose pop-out and no addin. Since, this is not extensibility (addin) related, we will ask OWA team to look into this internally.

[2021-05-10 13:01] naemcivic commented on #1819
@exextoc
I am unable to add an Office365group to the New UI, it can only be added and utilized via the old UI. Please share the steps on how to add such groups to the new UI.

[2021-05-10 13:02] reidbill commented on #1843
Can you send me a link to the source for your addin? Yours is working so I'd like to see what we are doing differently to make ours fail only on mac desktop. thanks

[2021-05-10 14:07] reidbill commented on #1843
nevermind, it is all contained in the .html file I can view it via the debugger window

[2021-05-10 15:58] AlexJerabek commented on #1853
Thanks @avisheknand!

@exextoc, can you please take a look?

[2021-05-10 20:06] ifigueroap commented on #1784
Hi all again,

Sadly, I'm now facing the situation where I must transmit data that is really dynamic into the dialog, but the error persists....
I will see if it this possible to perform the ajax calls in the dialog itself, rather on the taskpane component...

It was working well previously :(

[2021-05-10 20:15] reidbill commented on #1843
I see the problem. On Excel desktop for the mac, you can't send a boolean value in the message. I changed true to "true" for my message and it worked. The docs say you can send either a boolean or a string so you might want to leave this open to fix or change the docs. booleans do work everywhere else.

[2021-05-10 21:12] ifigueroap commented on #1784
I managed to solve partially my issue by creating many different HTML files, and by dispatching based on dynamic data. Also a shared js file with some ajax calls work relatively "well".

However I'm now running into the impossible, because the dynamic call to ajax requires as input the text currently selected by the user in the add-in.... Hence I have no way to pass the resulting data to the dialo

[2021-05-10 22:01] lliu113 commented on #1685
@paulfrench - it seems like you're unblocked, so I'll go ahead and close this issue. Please feel free to reactivate if you have any additional questions/concerns. Thanks!

[2021-05-10 22:01] #1685 closed, assigned to lliu113, smaremanda, lumine2008

[2021-05-10 22:05] sohailzafar commented on #1815
Thank you for your patience, we will provide an update as soon as we are done investigating.

[2021-05-10 22:19] joshuawwright commented on #1854
I was able to get my app working by doing the following:

1) Update the manifest urls to point to https. Aka **http**://localhost:4200 to **https**://localhost:4200
2) Run Angular development server using "ng serve app-name --ssl"

Not sure why this wasn't needed in the past ...

[2021-05-10 22:23] sohailzafar commented on #1852
Thanks for your patience, we will provide an update as soon as we are done investigating.

[2021-05-10 22:28] sohailzafar commented on #1846
Thanks for your patience, also following up with the engineering manager.

[2021-05-11 00:46] smaremanda commented on #1815
@tsardy first and foremost, thanks for bringing this to our attention and my sincere apologies for the delay. I can repro the issue on WebView [legacy Edge based] but not consistently. the WebView on page 1 does respond if you wait a while, but there were certainly times when it went unresponsive. We'll be digging deeper to figure out the root cause here. In the mean time, here are some thoughts:

[2021-05-11 02:59] RuoyingLiang commented on #1790
Thanks for reaching out. Currently there is no API to set the position of header and footer. You can set header/footer's body to target style. Add the request to backlog. Could you please submit the request with your scenario in  [https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform](url) ?

[2021-05-11 03:00] #1790 closed, assigned to RuoyingLiang

[2021-05-11 03:58] exextoc commented on #1367
@Premsagar-lab @Ashishagrawalbroadcom

We have not heard from your in last couple of weeks (on github or email). So, we are not able to troubleshoot this issue further. We will go ahead and close this issue for now, please feel free to reopen if you want us to continue looking into this.

Furthermore, can you please also try this scenario in "New Outlook Mac" and check if this problem persists the

[2021-05-11 03:58] #1367 closed, assigned to exextoc

[2021-05-11 04:13] swiftinitdotcom commented on #1561
We are having exact same issue Rich api error-
InvalidArgument: The argument is invalid or missing or has an incorrect format. Its excel addin with data coming from json.

[2021-05-11 04:14] swiftinitdotcom opened #1856 "InvalidArgument: The argument is invalid or missing or has an incorrect format rich api error"
getting this error in excel addin when we get data from json into excel. office 365 excel addin

InvalidArgument: The argument is invalid or missing or has an incorrect format.

stack trace-
"RichApi.Error: The argument is invalid or missing or has an incorrect format.
    at new n (https://appsforoffice.microsoft.com/lib/1/hosted/excel-win32-16.01.js:26:235644)
    at n.i.processRequestExecutorRe

[2021-05-11 04:24] jipinshi commented on #1856
@swiftinitdotcom , can you use script lab to repro the issue and share the gist? And which platform do you use? like windows?MAC? or wac online?

[2021-05-11 04:26] swiftinitdotcom commented on #1856
When I commented below code it stoped that error but I need these formulas....
 /* temp commented
                                    * RichApi.Error: The argument is invalid or missing or has an incorrect format.
                                    * https://github.com/OfficeDev/script-lab/issues/772
                                    * https://github.com/OfficeDev/Excel-Custom-Functions/issues/

[2021-05-11 04:54] jipinshi commented on #1856
@swiftinitdotcom, I see there are two parts, one is range.dataValidation.rule and the other one is Range1.conditionalFormats.add(...), may I know which one cause the issue? And can you also share one reproable excel file? Please also let me know which platform do you run it.

[2021-05-11 05:00] jipinshi commented on #1826
@pkpatels, can you use autofill to replace  sheet1.getCell(row, col).formulas = [[Math.random()]]; for each cell? Refer to [this](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#autoFill_destinationRange__autoFillType_) and [this](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#autoFill_destinationRange__autoFillTypeSt

[2021-05-11 05:25] splinter commented on #1851
Please find the On-Premise Exchange version below:
[code]

This is working for all our customers that are on Office 365 and as a result cannot be an issue with the domain.

[2021-05-11 05:38] 4tti commented on #1852
Hey @G00golplex , @sohailzafar  please check UseLiveReload - when True it was causing issues on our end (you need to check all the items under 'Developer' key...
![image](https://user-images.githubusercontent.com/19533927/117763744-9babd680-b22b-11eb-9609-752fab68e717.png)

[2021-05-11 08:00] lumine2008 commented on #1831
Thanks, @derek-vena , the team is doing the investigation, this issue is triggered because of our recent bug fix, we fix the behavior.

Looks like you are using this to detect the R1C1 setting, so the correct approach is that we build this API for you. API work item (#5100669) is created.

before we build this API, we would like to learn your feedback for the following questions:
- Is R1C1 a commo

[2021-05-11 08:07] pkpatels commented on #1826
@jipinshi Thank you for your time. To elaborate more, the cells are scattered across ranges and worksheets (not adjacent). So I don't think autofill can help here.

To give you more idea I update the description (original text). Kindly check it once.

[2021-05-11 08:11] paulfrench commented on #1685
Yes I'm unblocked but set MutationObserver=null did not work for me. other things went wrong. I did not have time to dig further. I simply do not include the promise polyfill for IE11 or Old Edge and all is okay for me.

[2021-05-11 08:24] silviulupu commented on #268
Hello,

Since last Friday ( 7th of May ) we are facing exactly the same issue with Word document on Word Online ( no change in the code on our side ).

For some controls ( but not for all ) we get OBJ instead of the text expected after refreshing the document.
Do you have any idea ?

Thanks,
Silviu

[2021-05-11 08:30] clavx commented on #912
@exextoc
I was unable to reproduce the issue with the steps I reported.
I think this issue has been resolved, do you have any updates?

Tested:
- Outlook for Windows: Version 2104 (Build 13929.20296)
- OWA: 20210426004.08

[2021-05-11 09:03] westconference commented on #1851
@splinter sounds like the same issue as [1286](https://github.com/OfficeDev/office-js/issues/1286). There were some workarounds suggested there;
* https://github.com/OfficeDev/office-js/issues/1286#issuecomment-661881445
* https://github.com/OfficeDev/office-js/issues/1286#issuecomment-731456779

[2021-05-11 09:47] tsardy commented on #1815
@smaremanda I just got the information via other channels that the issue was recognized and it is fixed in Windows build 21340 and higher. (i can confirm this testing the issue in Windows insider version 21376.1).
Could you check the internal status about fixing this issue for the affected versions between 20H2 and 21H1?
Enterprise clients are not that flexible in their windows and office update p

[2021-05-11 10:18] Delsus78 commented on #1852
@4tti Hey, i try to modify these REGEDIT but it doesnt seem to resolve the issue for me, have you other tricks that can maybe work ? x)

[2021-05-11 10:24] exextoc commented on #1839
Thanks @clavx for your response.  It looks like this bug is reproducible even with just simple mail compose pop-out and no addin. This is same as issue #1838 which we have asked OWA Team to look at internally. I will mark this issue as duplicate of #1838 and also notify internally about this issue as well.

[2021-05-11 10:24] #1839 closed, assigned to exextoc

[2021-05-11 11:47] exextoc commented on #1819
@naemcivic Can you please try these steps?

Open Outlook and navigate to Preferences -> Accounts -> Delegation and Sharing -> Shared With Me -> "Open these additional mailboxes". Add ie: office365group@domain.com as a delegate"

Also, please update your app to version 16.48 if possible.

[2021-05-11 11:58] exextoc commented on #1822
@siseli We have pushed a fix which will take a week or so to be available. Please try your scenario by 17th or 18th May to check if things work for you.

[2021-05-11 12:53] mrsanor opened #1868 "Dialog boxes don't share localStorage with taskpane and debugger not working"
# Expected behavior

When opening a dialog by calling `Office.context.ui.displayDialogAsync('/dialog-url.html')`, I would expect the debugger to work and it to share `localStorage` with the parent taskpane.

# Current behavior

1. Debugger won't stop to any breakpoints in the dialog JavaScript and nothing is logged to console. I have tried WebStorm and VS Code.
2. Contents of `localStorage` are no

[2021-05-11 13:43] DB-ADM commented on #1620
Hi @atsopuronen - This issue has come up over the past year for a few of my clients as well and typically the resolution is to just have them use the add-in through the OWA until we can get them on a version of Office that supports Edge Chromium.  However, this came up for another client recently that for one reason or another, is unable to upgrade their version of Office.  After a bit of time tro

[2021-05-11 13:49] G00golplex commented on #1852
@4tti:  the UseWebDebugger Reg_Dword is false for all of them. Only UseDirectDebugger is 1.
![useWebDebugger](https://user-images.githubusercontent.com/13833985/117826549-86a56680-b270-11eb-888d-32c2b5ce3a7e.jpg)

[2021-05-11 14:04] frankaddelia commented on #1784
@ifigueroap That's the same wall I hit with passing data to the different components. From what I read in the documentation, they recommend passing data through localstorage, which is what the add-in seems to be having issues accessing. You _could_ pass some text through the URL, but I'm trying to pass too much data for that to work.

[2021-05-11 14:58] dan-sra opened #1857 "GeneralException when trying to track and later select Range objects"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
I expect to be able to select() tracked Range objects outside of the original Word run context.

## Current Behavior
When trying to select a tracked Range object,

[2021-05-11 15:25] 4tti commented on #1852
@Delsus78 unfortunately I don't
@G00golplex well and what about the UseLiveReload ?

[2021-05-11 16:18] derek-vena commented on #1831
@lumine2008 Thank you for the update

1. R1C1 not commonly used by our customer, but it is something that we want to prevent our user to have on when they are using our add-in. In the current behaviour of our add-in, when the R1C1 reference style is detected, we throw an error screen and force the user to update the reference style before they can continue.
2. Since this is a mac only issue, I wou

[2021-05-11 16:33] smaremanda commented on #1815
@tsardy - good to hear you were able to confirm that this was fixed in newer builds of Windows. We are working on pushing for the backport. Will let you know what comes out of it.

[2021-05-11 17:13] Medhyena opened #1858 "When getAccessToken is using "allowConsentPrompt" to display a pre-authorization popup, the next rights delegation is considered done and redirects immediately"
I tried using both Office.context.auth.getAccessTokenAsync({ allowConsentPrompt: true}, asyncFunc) and OfficeRuntime.auth.getAccessToken({ allowConsentPrompt: true}). If the user needs to pre-authorize the application, there is a popup asking for some basic rights (profile and email if I'm not mistaken). When the user accepts this one, we fetch a MS Graph token through a request of "on-behalf-of"

[2021-05-11 18:05] smaremanda commented on #1854
@DesertFoxNV - thanks for the update. Yes - https is a requirement even when running in localhost.

[2021-05-11 18:05] #1854 closed, assigned to smaremanda

[2021-05-11 18:08] smaremanda commented on #1849
@jipinshi - we're looking into it. will respond as soon as we understand the root cause.

[2021-05-11 18:18] joshuawwright commented on #1854
@smaremanda Not sure where it should go, but it would be nice to put this somewhere in the documentation. I believe it mentions https is required for deployment, but it would be good also to mention that it is even required in development.

Actually, even better the manifest should be rejected with the reason http is not allowed. Aka add this to the manifest validation.

[2021-05-11 19:02] eneoli commented on #1801
@exextoc, @lindalu-MSFT  Does someone mind taking a look at it?

[2021-05-11 20:15] brgruber92 commented on #1849
Great! Thanks a lot

[2021-05-11 22:55] millerds commented on #1852
Can I get some clarification . . .
- "Microsoft Edge DevTools preview" works with the legacy edge and not the chromium.  You said you got an update, but I'm not sure what you are referring too.  Are you talking about the dev tools that are part of the Edge chromium install?
    - If you are what are you doing to attach to the add-in (I've only been able to use that in association with a page in th

[2021-05-11 23:35] pshutchins commented on #1095
Links from mail webLink were working fine, then I changed to using immutableid and now the links are broken. They only display a spinning wheel - loading.
Same problem?

[2021-05-12 01:28] lumine2008 commented on #1831
Here are priority definitions, would you please let us know which is the right one for you?

- P1 - Blocker
- P2 - Critical
- P3 - Major
- P4 - Minor

[2021-05-12 03:00] ghost commented on #1031
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-12 04:33] Aniruddha-Shriwant commented on #1852
Hey @millerds, I was also getting the same error that @G00golplex has,
First I used to use Microsoft Edge Dev Tools Preview for debugging my add-in

![image](https://user-images.githubusercontent.com/58624108/117917794-78eef000-b307-11eb-8b60-30dd76c299b9.png)
Accord Project is the name of my add-in whenever I used to sideload it on ms word there in the debugger tool I used to get an option of Acc

[2021-05-12 04:47] Aniruddha-Shriwant commented on #1849
This issue looks similar to #1852 see [this comment](https://github.com/OfficeDev/office-js/issues/1852#issuecomment-839425906)

[2021-05-12 05:07] exextoc commented on #1801
@EneOli @bconners1005 Apologies for delay in responding. We will take a look at this shortly and get back to you.

[2021-05-12 05:28] exextoc commented on #1095
@pshutchins Can you please explain in detail how you are getting link, immutableid and how you are changing it to use immutableid? It will help us understand use-case and help us answer better.

[2021-05-12 05:59] pshutchins commented on #1095
Using microsoft.graph\3.31.0 and AspNetCore.App.Ref\5.0.0

In my c# code I am using the following code I found online.

Without the headeroptions message.WebLink provides a useful link,
With the headeroptions message.WebLink provides broken link.

I store the link in a SQL db.

https://graph.microsoft.com/.default
var headerOptions = new List<HeaderOption>()
    {
        new HeaderOption("Prefer"

[2021-05-12 06:07] siseli commented on #1822
Thx. will report back here, if it solves our issue.

[2021-05-12 06:16] exextoc commented on #1842
Thanks for reporting this issue regarding body.getAsync() API. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 5105135

[2021-05-12 06:17] pshutchins commented on #1095
Also if it will help, this is error from browser console (Microsoft Edge Version 90.0.818.56):

types.js:262 [Deprecation] SharedArrayBuffer will require cross-origin isolation as of M91, around May 2021. See https://developer.chrome.com/blog/enabling-shared-array-buffer/ for more details.
createServiceFetchError.ts:12 Uncaught (in promise) Error: ResponseCode=ErrorItemNotFound, ActionSource=LoadI

[2021-05-12 06:24] rickygarg commented on #1031
Thanks @keyur32 , looking forward to the next version of Office. Meanwhile, if isSetSupported could be made to work for custom functions, it'd be super helpful @grangeryy !

[2021-05-12 06:31] exextoc commented on #1095
@pshutchins Thanks for your reply. Couple of more questions.

1. Which platform are you using - Outlook Desktop, Outlook Mac, Outlook on Web or Outlook on Android/iOS?
2. I am trying to understand which addin API is at fault here? Are you getting immutableid from some addin API which is not working as expected with some graph API?

[2021-05-12 06:57] pshutchins commented on #1095
As far as platform I am not sure what you are asking, I am new to this (MS Graph) so bare with me.
I do appreciate any assistance.

I am using VS2019 to create a C# .Net Core ASP web application that creates a draft message in a particular folder within our organization's Exchange Online account.
Using microsoft.graph 3.31.0 on the server.
This is a daemon application.

When it creates the message

[2021-05-12 07:07] 2020Mar commented on #1782
@leybal If you are in Excel CC chanel and update to the latest version, the issue will disappear. I have validated in my side the issue is resolved, my Excel version is
![image](https://user-images.githubusercontent.com/63632212/117933085-c7b27f00-b333-11eb-928d-e18d891ef3f2.png)

[2021-05-12 07:10] exextoc commented on #1095
@pshutchins Are you using any Outlook Addins APIs which is not working for you as expected? Which API is that?

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/apis

[2021-05-12 07:41] pshutchins commented on #1095
I am not aware of any AddIns being used in OWA.

[2021-05-12 07:47] exextoc commented on #1095
@pshutchins In that case, most likely it is not the same issue. This GitHub project and issue are related to OfficeJS APIs (addins apis). You may want to reach out to other GitHub project (probably Microsoft Graph APIs?) and file a new issue.

Thanks for your understanding.

[2021-05-12 07:48] pshutchins commented on #1095
thanks

[2021-05-12 11:02] exextoc commented on #1801
@EneOli @bconners1005 We tried reproducing this in-house but we are not able to. Here are our steps:
1. Open email with attachment
2. Open addin and keep it open for 10mins.
3. Then try running getAttachmentContentAsync API from same addin.
4. Result: API works and it returns attachment content.

We tried this multiple times and still not able to repro this.

Question:  Are you able to repro this

[2021-05-12 11:04] DmitryKostochko commented on #1832
Thank you for explaining the difference in behavior between Windows Outlook and Mac Outlook.

However, the problem is when the user replies to an existing email in a shared folder in Windows Outlook, they see the correct data in Outlook's From field, but the Office JS API returns incorrect data. I believe the data the user sees and the data the from.getAsync method returns should be the same, othe

[2021-05-12 11:13] KorzunAV opened #1859 "Add-in was removed because it made Outlook crash"
[Enter feedback here]
'Just had a partner report that she installed Huddle on to her Outlook desktop application on Friday via outlook add-ins. This morning (Monday, April 12th, 2021) she logged in and received an error message that said it was removed because it made Outlook crash. Any ideas on what to look at/troubleshoot on this?'

*"Microsoft 365 Version 2103."

---
#### Document Details

⚠ *D

[2021-05-12 12:30] exextoc commented on #1855
Thanks for reporting this issue regarding getSelectedDataAsync(). It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 117069

[2021-05-12 13:54] derek-vena commented on #1831
This is a P4-Minor issue on our end

[2021-05-12 16:17] AlexJerabek commented on #1859
Hi @KorzunAV,

I'm sorry to hear an Outlook Add-in caused your partner's Outlook session to crash. If you have a copy of the error message that was generated, that would help. I'd also recommend contacting Huddle's technical support.

I'm going to transfer this issue to the office-js repo, where we monitor product issues. The page you're referencing is for troubleshooting the development of our ow

[2021-05-12 16:19] CTDProgrammer opened #1860 "horizontalFitToPages does not set if Page Layout tab is not selected"
I have the following code that runs on a button click:
[code]

## Expected Behavior
I wish for the Scale to Fit > Width to be set even when I don't have the Page Layout tab open.

## Current Behavior
If I am not on the Page Layout tab, then Scale to Fit > Width does not get set. However the printGridlines and orientation do get set. The same thing happens if the last line is
[code]

but does *not*

[2021-05-12 16:23] barclayadam opened #1861 "Preview Launch-Based Activation troubleshooting"
I am trying to use the preview of event-based activation (https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch) but it is proving to be a massively frustrating experience.

I _did_ have it working, I think, at one point using v16.0.14026.20138 of Outlook 365 but I simply cannot get it working again. I have stripped code back to an almost bare minimum to just add a notification me

[2021-05-12 16:36] liamtim commented on #1819
@exextoc I have an Office 365 group called office365group@domain.com added to my Outlook profile. When "New Outlook" is switched off, I can see this group on the left hand pane of Outlook, along with my other accounts.

When I switch on "New Outlook", the Office 365 group is no longer in the left hand pane, and I am unable to add it via delegates.

https://user-images.githubusercontent.com/4429466

[2021-05-12 19:27] Emailgistics-Arjun commented on #1402
Hi @ElizabethSamuel-MSFT ,
For a few months we did not face the issue and assumed the issue was resolved. However, we have one customer facing the same issue again. Multiple users are members of the shared mailbox, but only one user who is working from Europe (rest work in North America) is facing the issue. The error we get is the same as before.

Any help will be much appreciated. Thanks in adva

[2021-05-12 19:34] lliu113 commented on #1845
@Petryxasport - sorry you're hitting this issue! Do you see the same error if displayInIframe: false?

[2021-05-12 19:40] lliu113 commented on #1845
Internal bug number: 5106779

[2021-05-12 19:48] lliu113 commented on #1843
@reidbill - happy to hear the issue is now resolved! We will work to update the documentation, thanks for flagging this. I'm going to go ahead and close this issue, feel free to reactivate if you have any additional questions/feedback.

[2021-05-12 19:48] #1843 closed, assigned to lliu113

[2021-05-12 20:42] exextoc commented on #1402
Add-ins on SharedMailboxes are not supported right now, and we have noted your feedback. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office: 4915600

[2021-05-12 21:31] pkkj commented on #1843
It seems it's OK to send a boolean. I modify my test add-in mentioned in my previous thread. Now if you click the "SendMessageToParent" without input, it will send "true" to the parent. And parent will close the dialog if it receives "true". The taskpane also outputs the type of the message from the child in the text area, to verify that it's a boolean type.

Thanks

[2021-05-12 21:35] G00golplex commented on #1852
Hi,

please see my clarification below.

On Wed, May 12, 2021 at 12:55 AM Darren Miller ***@***.***>
wrote:

![attach debugger](https://user-images.githubusercontent.com/13833985/118499615-6588be00-b727-11eb-964a-fcad0a5081ac.png)

version 1.0.15
[image: image.png]
I also installed  Microsoft Office Add-in debugger

am used to have with Visual Studio. But here there is also something
strange. I ca

[2021-05-12 21:50] lliu113 commented on #1387
@dinglicoding @yinzixin - sorry for the very late response to this. We currently do not have any "focus" style APIs in the backlog.

For feature requests, please submit these to [Microsoft 365 Developer Platform Ideas](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform).

I'm going to close this issue as it's not a product bug, feel free to

[2021-05-12 21:50] #1387 closed, assigned to lliu113

[2021-05-12 22:21] millerds commented on #1852
Thanks.  I'm getting a better picture, but all the images seems to be missing.

[2021-05-12 22:41] lliu113 commented on #1316
@vikasm1720  - this appears to be a Mac browser behaviour. Here is a related Stack Overflow issue - [Windows.open opens new tab in safari when maximized](https://stackoverflow.com/questions/41392444/window-open-opens-new-tab-in-safari-when-maximized).

You can change the setting to allow your dialog to be in a new window.

Closing this issue, please reactivate if you have any additional questions.

[2021-05-12 22:41] #1316 closed, assigned to lliu113

[2021-05-12 22:52] lliu113 commented on #1705
@alexhrytsak - sorry for the belated response to this. What domain are you sending the message from in the dialog, is it the same as your taskpane?

[2021-05-12 23:00] lliu113 commented on #1748
@mnkumar8 - just want to confirm that you followed the instructions for the dialog as specified in the [Dialog API requirement sets article](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/dialog-api-requirement-sets)? Osfclient-x-none is the one you want - it seems like you've downloaded it but just wanted to confirm.

[2021-05-12 23:58] millerds commented on #1852
I have been able to repro the same behavior.  I'm not familiar with the debug comment in the add-in menu so I'm trying to find some one who is.

In the mean time, you can try the VS Code debugger instead of the dev tools.  Before you do this you'll need to correct some dev cert problems triggered by using the dev tool menu (possibly related to your problem).  First delete the 'C:\Users\{username}\

[2021-05-13 05:34] jipinshi commented on #1856
@swiftinitdotcom , could you also share us the Excel build you used and platform like mac or win32 or excel online?

[2021-05-13 05:49] jipinshi commented on #1860
@CTDProgrammer , thanks for reaching us to report the issue. Can you show us with one video and let us know the Platform you are running win32/MAC/Excel online? and also help check the build version you are running your excel. Check from File->Account to get the excel build version if it is win32/MAC. I tried with the steps mentioned here cannot repro on windows 64 bits.

[2021-05-13 06:41] SWei1234 opened #1862 "[Outlook] Add-in show compatibility problem right after installed Webview2 Runtime"
Add-in show compatibility problem right after installed Webview2 Runtime. (90.0.818.49)
If uninstall 'Webview2 Runtime' add-in can work normal.
And most effected user is auto installed webview2 Runtime on 04/01.
About 75% percent auto installed webview2 runtime user effected by this problem.

## Expected Behavior
Add-in will not meet compatibility problem.

## Current Behavior
Show compatibility e

[2021-05-13 08:15] SWei1234 commented on #1862
Hi @exextoc
I found a Webview2 Runtime related ticket:
https://github.com/MicrosoftEdge/WebView2Feedback/issues/1194
Is this the same problem?
Thanks

[2021-05-13 08:19] ndvbd commented on #1855
@exextoc Hi, it's a killer bug, and it happens to me sometimes also on Outlook Mac. This bug prevents some users from using the add-in completely, so if you can nail it down quickly, that would be lovely.

[2021-05-13 08:22] ndvbd commented on #1842
"When the issue reproduces does that happen only on a particular mail or all the mails? "->  I don't know, haven't tested it with multiple emails, because I don't have multiple 365 subscriptions (it cost money, you don't give developer accounts for free :(. You should. ). If you give me multiple email accounts, I can test it.

[2021-05-13 08:28] Petryxasport commented on #1845
@lliu113 Yes, we have  played with different options and url etc.
![image](https://user-images.githubusercontent.com/17165899/118100865-a018f080-b3df-11eb-8415-517b0d16d6c3.png)

[2021-05-13 08:39] Petryxasport commented on #1845
Pop-up is critical for our product. Could you please provide the plan of fix?

[2021-05-13 09:04] prk21 opened #1863 "Using getHtml() function is leading to the word doc becoming read-only"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
The word doc should not become read-only when the getHtml() code snipped from:https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#

[2021-05-13 09:28] Petryxasport commented on #1845
The same issue came for Excel as well.  A week ago this worked.
![image](https://user-images.githubusercontent.com/17165899/118106720-934bcb00-b3e6-11eb-8b70-a60dd075d861.png)

[2021-05-13 09:39] barclayadam commented on #1861
Further to above, I'm currently under the impression that this is a javascript syntax / runtime issue. I replaced the file with the absolute bare minimum and changed nothing else and it worked.

The Web Add-In Runtime Logging proceeds past "Outlook LaunchEvent JS loaded!" to:

[code]

In the case that something is going wrong, whatever that may be, would be great to have some indication in that lo

[2021-05-13 13:36] CTDProgrammer commented on #1860
@jipinshi
I am on Excel on Windows 10, Microsoft 365 Apps for enterprise Version 2104 (Build 13929.20296 Click-to-Run)

https://user-images.githubusercontent.com/84091612/118133127-74d9d580-b3ce-11eb-9f18-394bf82bde86.mp4

In the above video, on try 1, somehow the width got updated as I was clicking around on the ribbon, and I haven't observed that before. On try 2, I had to click on a cell for it

[2021-05-13 13:49] naemcivic commented on #1819
@exextoc
Unfortunately I can not add the 365groups by the way you have suggested, however when I switch back to the old UI I am able to see the group.

[2021-05-13 13:57] brgruber92 commented on #1849
Hi @Aniruddha-Shriwant that's the same problem I'm having. I'm closing this incident, so we can focus there. Thank you.

[2021-05-13 13:57] #1849 closed, assigned to smaremanda, lumine2008

[2021-05-13 14:34] Ssereno opened #1864 "Event handler for dialog messages fails in Excel 365"
In excel 365 desktop the authentication windows don't close after login successfully, but in the excel online works fine with the same manifest.

## Expected Behavior
The windows must close to fire the Office.EventType.DialogMessageReceived.

My login.js file
[code]
My login.html
[code]
My login angular component:

[code]

## Current Behavior
The host window remains open. But if close it the event

[2021-05-13 15:32] barclayadam commented on #1861
I've not been able to track down why the issue occurs, but it does seem that if I `import {init as initApm} from '@elastic/apm-rum';` the resulting code ends up being a problem for M365 Outlook (OWA continues to work).

[2021-05-13 17:23] K-Kumar-01 commented on #1852
@millerds
I am unable to get the dropdown options that are shown on your screen. Is there any specific procedure for these dropdowns to be shown?
![Screenshot (66)](https://user-images.githubusercontent.com/59891164/118162056-ef8e0980-b43d-11eb-8c03-c5959215754a.png)

[2021-05-13 17:50] millerds commented on #1852
OK . . . looks like you're project was created with a version of the template that didn't include the debug configuration that are now part of it.  You can add them by clicking the link that says create a launch.json file (looks like that is what you clicked) and picking anything from the list there (we'll be replacing it anyway).  When the file opens, replace the item in the configurations array

[2021-05-13 18:40] K-Kumar-01 commented on #1852
@millerds
Thanks a lot. It seems to work though I have some doubts.
I have to run the following commands `npm run dev-server` and `npm run start` to start the dev server and open the word add in respectively.
If I do not do it, a window pop up appears.
![Screenshot (68)](https://user-images.githubusercontent.com/59891164/118170859-3a148380-b448-11eb-9980-727412becd36.png)
I am not quite able to un

[2021-05-13 19:35] lliu113 commented on #606
@3dot1four - sorry for the very belated response to this. On windows, the shortcut to access the menu is Ctrl+Shift+F10. On Mac, it is accessibile using VoiceOver keys.

@magda-pearson - sorry you're hitting this! It does appear to be a separate issue, so if you could open up another github issue that will help us track more effectively.

I'm going to go ahead and close this one for now, feel free

[2021-05-13 19:35] #606 closed, assigned to lliu113

[2021-05-13 20:05] exextoc commented on #1832
When a new reply is created, that reply is created in the primary mailbox of whoever created that reply, not the shared folder. The `from.getAsync` API uses the primary mailbox, so that is why you are getting that user's information. The From field in Outlook reflects the owner of the shared folder, not whoever created the reply. I will open a documentation bug to clarify this in our documentation

[2021-05-13 20:08] millerds commented on #1852
Looks like there are other pieces that need to be added to your project (the config includes some pre and post task that it's trying to do).  I would create a fresh vanilla project using "yo office" and then look at the stuff in the .vscode folder and maybe the package.json file (possibly some others I'm not sure of).  See the differences between those filed and yours and then add what you need to

[2021-05-13 21:26] exextoc commented on #1861
You will not be able to use any imports in the add-in's JS. The JS file has to be one single file and cannot depend on any other files or libraries. A workaround would be to bundle any other files together within the JS file.

[2021-05-13 23:53] lliu113 commented on #1452
@ig-jb - changing the documentation is a good call, thanks for the suggestion. This issue is being tracked internally with bug ID: 5110800

[2021-05-14 02:04] jipinshi commented on #1864
@lliu113, can you help take a look?

[2021-05-14 03:54] jipinshi commented on #1860
@CTDProgrammer, now I can repro the issue, will continue investigate the root cause, thanks for reporting, 5111634 is used internal track.

[2021-05-14 03:58] jipinshi commented on #1860
@CTDProgrammer,  when the pagelayout was ever clicked before, even go to home tab, the script also still can work, so one way to unblock you is try to switch to pagelayout first and then run the script, hope it can unblock you first.

[2021-05-14 04:20] pkpatels commented on #1826
@jipinshi I thought about one solution to avoid `context.sync()` call.

The idea is that I can subscribe to **WorksheetCalculatedEvent**. But **WorksheetCalculatedEvent** do not pass information about calculated value ([Documentation](https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheetcalculatedeventargs?view=excel-js-preview)).

Can you provide the [details](https://docs.microso

[2021-05-14 05:47] wyh commented on #1771
Is this bug resolved or still open?

[2021-05-14 06:49] hello-chenchen commented on #1592
hi @exextoc , the same problem with Windows Outlook. it also not support prompt for cert selection.

[2021-05-14 06:57] jayrathi commented on #1845
The error "NotHttps" tells that the url being passed in to displayDialogAsync is not https. Can you check the url and confirm? Thanks.

[2021-05-14 07:18] jayrathi commented on #1864
As described [in this article](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#send-information-from-the-dialog-box-to-the-host-page), the messageParent function needs to be called to fire the DialogEventReceived event. Also, the message handler needs to close the dialog, it is not automatically closed. Please try the steps in the linked article and see if

[2021-05-14 08:16] RuoyingLiang commented on #1771
The bug is still open. We will update the thread once there is update. Thanks!

[2021-05-14 08:17] clavx opened #1865 "Outlook on the web: Clicking the Send button immediately after refreshing the page does not execute any on-send add-in"
When the OnSendAddinsEnabled flag is False and the Send button is clicked immediately after refreshing the page with the F5 key, any on-send add-in will not run.

## Expected Behavior

If you click the Send button, the on-send add-in runs.
The Send button should not be clickable until the on-send add-in is loaded.

## Current Behavior

If you click the Send button, the on-send add-in does not run.

[2021-05-14 09:05] DmitryKostochko commented on #1832
@exextoc, I hope you understand that if you do not correct this behavior, the from.getAsync will be absolutely useless in a case of a shared folder in Windows Outlook. After all, we have no other way to get the real sender in this case, right?

[2021-05-14 10:45] Ssereno commented on #1864
@jayrathi I update the issue with the my code. In doing as the article says. Frist i call the  `Office.context.ui.messageParent` and then at the angular component i close the login dialog. But the problem is that the event DialogMessageReceived isn't fired. And as i have comment above in the web excel all works fine

[2021-05-14 13:04] Petryxasport commented on #1845
Please see the first screenshot in my post and below:
![image](https://user-images.githubusercontent.com/17165899/118274667-172cb280-b4ce-11eb-8033-55960d938326.png)

[2021-05-14 13:28] barclayadam commented on #1861
@exextoc Sorry for the confusion, I _do_ already bundle to a single file using webpack. My comment should have been more explicit.

The issue appears to be importing that package ends up creating a bundle that cannot be loaded, in some way, by the desktop JS engine. I cannot narrow it down any more with an error in anyway as I see no error anywhere, just the lack of any further messages in the run

[2021-05-14 21:01] ssnyder-msft commented on #1846
This issue should now be resolved.

[2021-05-14 21:10] exextoc commented on #1861
The problem here could be that the package you are importing is not compatible with the environment. Are you able to share this package with us if it is public, or is this a private package that you authored?

[2021-05-14 22:33] ElizabethSamuel-MSFT commented on #1142
@lindalu-MSFT Can you help get this transferred to https://github.com/OneNoteDev/OneNoteApi?

Or @Roei-Bracha Can you open a new issue in the https://github.com/OneNoteDev/OneNoteApi repo and reference this issue?

The issue should then get more traction with the OneNote API team.

Thanks.

[2021-05-14 22:34] ElizabethSamuel-MSFT commented on #1212
@lindalu-MSFT Can you help get this transferred to https://github.com/OneNoteDev/OneNoteApi?

Or @pvasek Can you open a new issue in the https://github.com/OneNoteDev/OneNoteApi repo and reference this issue?

The issue should then get more traction with the OneNote API team.

Thanks.

[2021-05-14 22:35] ElizabethSamuel-MSFT commented on #1456
@lindalu-MSFT Can you help get this transferred to https://github.com/OneNoteDev/OneNoteApi?

Or @YutongLi291 Can you open a new issue in the https://github.com/OneNoteDev/OneNoteApi repo and reference this issue?

The issue should then get more traction with the OneNote API team.

Thanks.

[2021-05-14 22:47] ElizabethSamuel-MSFT commented on #1736
This has been verified as fixed so closing.

[2021-05-14 22:48] ElizabethSamuel-MSFT commented on #1802
@Deymoun Thanks for posting on Tech Community!

Closing this issue.

[2021-05-14 22:48] #1802 closed, assigned to nobody

[2021-05-14 22:48] #1736 closed, assigned to nobody

[2021-05-14 23:10] sshukurov commented on #1846
@ssnyder-msft thank you, it's indeed working as expected now!

[2021-05-14 23:11] #1846 closed, assigned to keyur32

[2021-05-14 23:14] exextoc commented on #1713
We unfortunately have no timelines to share at this point regarding the expected release date of that Windows build.

[2021-05-14 23:15] exextoc commented on #1862
Are you able to repro this issue with other 3rd party add-ins? Could you try to repro with ScriptLab for Outlook, which can be installed from the store [here](https://appsource.microsoft.com/en-us/product/office/WA200001603?src=office).

When you updated to Webview 2, did you follow all the required steps, as described in this [blog post](https://developer.microsoft.com/en-us/office/blogs/understa

[2021-05-14 23:16] sohailzafar commented on #1868
We would recommend using MessageParent/ MessageChild APIs instead of local storage. Below is a helpful article

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

[2021-05-15 08:13] mrsanor commented on #1868
Thank you, yeah I was aware I could go around using localStorage with that API, however the bigger problem is that debugger won't work in dialogs.

[2021-05-15 21:00] ghost commented on #1848
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-16 08:25] Hourglasser23 commented on #1848
I could not find how to set an icon with anything else than `Extended Properties`. I went through the docs and asked on StackOverflow and did not notice any possible solution of changing an icon via `Custom Properties`. Is it possible? It would solve my problem absolutely :)

[2021-05-16 09:00] ghost commented on #1031
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-16 11:25] barclayadam commented on #1861
@exextoc The package is on npm @ https://www.npmjs.com/package/@elastic/apm-rum. It is [Elastic APM](https://www.elastic.co/apm) integration to track performance and errors.

It may well be that it makes assumptions about the environment that are not correct (i.e. it expects to be in a full browser environment). If that is the case, then some better error logging is needed from Outlook's side as t

[2021-05-16 12:13] pb-jeff-oneill commented on #1794
As of the May 11, 2021 Word update:

- The bug **is not fixed** on Windows 10 with Word 2104 (Build 13929.20372)
- The bug **is fixed** on Mac with Word 16.49 (21050901)

Getting closer at least...

[2021-05-16 18:20] yihuax-zz commented on #1794
@AbidRahman-MSFT ***@***.******@***.***>  Abid, The fix should be in devmain 14022. Word 2104 (Build 13929.20372) is earlier than devmain 14022, right?

From: pb-jeff-oneill ***@***.***>
Sent: Sunday, May 16, 2021 5:14 AM
To: OfficeDev/office-js ***@***.***>
Cc: Yihua Xiong ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Word.Range.insertText now moves the cursor (#1794)

As

[2021-05-17 00:57] jipinshi commented on #1856
@swiftinitdotcom, does the issue get resolved? If not,  could you help provide more info asked in the comments?

[2021-05-17 01:30] lumine2008 commented on #1826
@pkpatels ， would you kindly share your scenario, as WorksheetCalculatedEvent event happens frequently, more information provided in this event may result in the perf impact. therefore we would like to learn your scenario and see if there is any solution to unblock your scenario.  Thanks.

[2021-05-17 05:35] pkpatels commented on #1826
@lumine2008 Thanks for the response.

I tried to describe the scenario in the description [here](https://github.com/OfficeDev/office-js/issues/1826#issue-868584238). Is it clear or do you require any specific additional information?

[2021-05-17 06:35] clavx commented on #1250
@exextoc
I checked the current status, and this issue no longer occurs except in the Semi-Annual Enterprise Channel.

Am I correct in assuming that this has been fixed? Is there any update?

Work
- Current Channel: Version 2104 (Build 13929.20372)
- Monthly Enterprise Channel: Version 2103 (Build 13901.20516)

Not working (still has issue)
- Semi-Annual Enterprise Channel: Version 2008 (Build 1312

[2021-05-17 06:47] ektadesai22 opened #1866 "Excel add-in is not loading and only shows white screen on some desktop excel application"
Excel add-in is not loading only shows white screen on some desktop excel application.

Can you help us to identify the root cause?
I am getting below general error and it is not helping to identify the cause.
 **"Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If your app has this functionality, try

[2021-05-17 06:51] ektadesai22 opened #1867 "Office dialog is not loading (Dialog API) from Excel add-in Taskpane on some desktop excel application."
Office dialog box is not loading (Dialog API) from Excel add-in Taskpane on some desktop excel application.
Can you help us to identify the root cause?

Configurations:
	Windows 10 Pro
         Microsoft office Professional Plus 2016 (version 2104, build 13929.20372) – 64 bit

![image](https://user-images.githubusercontent.com/40557245/118443916-1785a300-b6b2-11eb-9f86-a66cc92dc56a.png)

Even unab

[2021-05-17 07:10] exextoc commented on #644
Apologies for delayed response. We tried this multiple times and not able to repro this now. Are you still able to repro this? Does it repro all the time, or it happens only few times?

[2021-05-17 07:50] exextoc commented on #1819
We are not able to repro this on our end in new UI. Can you provide us a test account in which the issue is still reproducible? Also, can you remove the account from the old UI first and then try to add it again in new UI?

[2021-05-17 15:55] zoulou00 commented on #1593
Any update ?
I have both problems (repeated labels and icons not loaded)
Thank you

[2021-05-17 16:09] lindalu-MSFT commented on #1212
@ElizabethSamuel-MSFT That repo is in a different (non-OfficeDev) org. I don't have the required permissions to transfer this issue to that repo.

[2021-05-17 16:09] lindalu-MSFT commented on #1212
@ElizabethSamuel-MSFT That repo is in a different (non-OfficeDev) org. I don't have the required permissions to transfer this issue to that repo.

[2021-05-17 16:09] lindalu-MSFT commented on #1142
@ElizabethSamuel-MSFT That repo is in a different (non-OfficeDev) org. I don't have the required permissions to transfer this issue to that repo.

[2021-05-17 16:09] lindalu-MSFT commented on #1456
@ElizabethSamuel-MSFT That repo is in a different (non-OfficeDev) org. I don't have the required permissions to transfer this issue to that repo.

[2021-05-17 16:43] AbidRahman-MSFT commented on #1794
That is correct, the bug has been fixed in Word version 2105. (Or any build greater than 14022.00000).

[2021-05-17 17:11] Roei-Bracha commented on #1142
https://github.com/OneNoteDev/OneNoteApi/issues/40
created a new Issue as you requested

as I wrote over there I am no longer have a macbook to check it but hope it will help @lindalu-MSFT @ElizabethSamuel-MSFT

[2021-05-17 17:16] ElizabethSamuel-MSFT commented on #1142
@Roei-Bracha Thanks for copying this issue. Please check there for updates going forward.

Closing this issue now.

[2021-05-17 17:16] #1142 closed, assigned to lindalu-MSFT

[2021-05-17 17:22] slabereemsft commented on #1867
Hi ektadesai22,

From the title, it says its not able to work on "some desktop excel application".  Does that mean it does work on others?  If so, you do you have details on the differences?

A great way to diagnose the issue is to take a fiddler trace to see what resources its trying to hit (if any) and compare between the two.

One thing to check out is the following - https://docs.microsoft.com

[2021-05-17 17:25] mrsanor commented on #1868
I have reverted back to Visual Studio but I noticed that the problem persists.

Now when first starting to debug the add-in and clicking on it in word it shows the following dialog, which it didn't show previously when using Visual Studio to build the project.

And now there is the same problem, even when building with Visual Studio, `localStorage` and debugger won't work in dialogs.

I reproduced

[2021-05-17 18:05] exextoc commented on #1250
We have fixed the bug and the fix should be available in build 16.0.13727.10000 or later. When an updated build is available depends on the release channel a customer is on.

[2021-05-17 20:04] exextoc commented on #1861
We are not familiar with this package. If the package isn't compatible with the environment, our sandbox process will consider the bundle broken. We are investigating how to improve our error logging here for such scenarios. Are you able to achieve your scenario without using this package?

[2021-05-17 21:21] lliu113 commented on #1864
@Ssereno - sorry you're hitting this! I've opened up a bug to investigate, internal tracking: 5117832

[2021-05-17 21:26] yihuax-zz commented on #1857
The following code works on my machine, if we keep track of the collection, not just a item in it:

async function findSelect() {
  var searchResults;

  await Word.run(async (context) => {
    searchResults = context.document.body.search("<(canary)>", { matchWildcards: true });
    searchResults.load();
    await context.sync();
    searchResults.items[0].font.color = "green";
    await context.s

[2021-05-17 23:27] exextoc commented on #1859
Unfortunately, since this is an issue with the Huddle add-in, please contact their technical support team. Outlook is behaving as expected by disabling the add-in because it is crashing and causing a bad user experience.

[2021-05-17 23:27] #1859 closed, assigned to nobody

[2021-05-17 23:52] exextoc commented on #1832
This information has been passed to the appropriate product team and is currently being investigated. We will update the issue when we have more information.

[2021-05-18 01:54] jipinshi commented on #1856
Based on no further feedback in last week, close it first. If there is further feedback, please reactive this one or open one new, Thanks. @swiftinitdotcom

[2021-05-18 01:54] #1856 closed, assigned to lumine2008

[2021-05-18 02:00] ektadesai22 commented on #1867
@slabereemsft - Thank you for quick response.

Yes, it is working on other, below is configurations.

   Windows 10 Home
   Microsoft office Professional Plus 2016  (version 2104, build 13929.20372) – 64 bit

I will check fiddler trace and compare.
The dialog box domain is different. I will do changes & will update you on this.

[2021-05-18 07:26] DmitryKostochko commented on #1832
Thank you!

[2021-05-18 07:51] Ssereno commented on #1864
@lliu113 Thanks. If you need my prod manifeste let know.

[2021-05-18 10:08] Medhyena opened #1869 "On Outlook for the Web, meeting requests don't update the Office.context.mailbox.item and don't fire the ItemChanged event"
## Context
For our addin to be responsive when pinned, we update the content when the item changes. It works fine on the Outlook Client for Windows.

## Expected Behavior
On Outlook for the Web, when clicking on a meeting invite, it should correctly update the Office.context.mailbox.item and thus firing the ItemChanged EventType.

## Current Behavior
On Outlook for the Web, when clicking on a meet

[2021-05-18 11:43] moshikonachmias commented on #1441
Our add-in is using the on send feature.
I am able to see the popup on outlook web (although the domain is set to undefined for some reason), but on Outlook desktop there is no indication, therefore the users cannot send emails/meetings, they were only shown a notification in the message UI header area that " is working on your request".
what is the solution for that?

[2021-05-18 13:26] leybal opened #1870 ""Excel found problem with one or more formula references in this worksheet" error and broken charts due to custom functions"
Hi
Let's consider the case based on [excel-shared-runtime-scenario](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario) example. We want to show chart based on custom function data (`=MYCUSTOMFORMULA(A1,10)`). This custom function can returns matrix different size.  Since we want make dynamic chart we ussed Name Manager to create references to a range o

[2021-05-18 13:42] exextoc commented on #1822
@siseli Is the issue resolved?

[2021-05-18 13:52] exextoc commented on #1837
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-05-18 14:36] exextoc commented on #1869
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-05-18 15:09] ektadesai22 commented on #1866
add-in working fine for below configuration
   Windows 10 Home
   Microsoft Office Professional Plus 2016 (version 2104, build 13929.20372) – 64 bit

[2021-05-18 17:42] lliu113 commented on #1440
@greatescape95 @nickxbs @htryggva - it looks like the fix for this was checked in in January. It should be safe to revert back to the CDN version.

I'm going to go ahead and close this issue, please reactivate if you're still seeing this problem and we can escalate. Thanks!

[2021-05-18 17:42] #1440 closed, assigned to lliu113

[2021-05-18 18:33] eat-sleep-code opened #1871 "getAttachmentContentAsync() returns '7000' error in "New Outlook" 16.49 for macOS Big Sur"
The `getAttachmentContentAsync()` method can't get the attachment value. This bug appears only in “New Outlook” for macOS Bug Sur.

---

**This is essentially the same as the issue [here](https://github.com/OfficeDev/office-js/issues/1610).    In the comments of this issue, it indicated that this was part of Requirement Set 1.8.   However, it does not yet appear to be resolved**

---

[This docume

[2021-05-18 18:56] eat-sleep-code commented on #1871
Adding the following code to my add-in results in the defined error being thrown:

[code]
So, the documentation indicating that 1.8 is part of the new UI appears to be incorrect -- as is the prior posting that it would be supported in March 2021.

[2021-05-18 18:57] vijay665 opened #1872 "GetAppManifests EWS operation for Outlook add-in"
office-js

I have followed the MSDN document to get the app manifests for a mailbox using makeEwsRequestAsync to GetAppManifests EWS operation but it returns error response as **ErrorAccessDenied**.

[https://docs.microsoft.com/en-us/exchange/client-developer/web-service-reference/getappmanifests-operation?redirectedfrom=MSDN](url)

`<?xml version="1.0" encoding="utf-8"?><s:Envelope xmlns:s="http:

[2021-05-18 20:00] mattgeim commented on #1858
Currently, Office isn't able to consent for Graph scopes on behalf of a user. We recommend that administrators grant admin consent for the tenant to deal with this situation.  We do have some documentation on this [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph#distributing-sso-enabled-add-ins-in-microsoft-appsource).  We are investigating how to inc

[2021-05-18 20:00] #1858 closed, assigned to mattgeim

[2021-05-18 20:52] Dengshan2018 commented on #1415
The fix should be in Semi-Annual 2008 for a few months.
![image](https://user-images.githubusercontent.com/45212981/118721689-076be180-b7e0-11eb-8488-a1ec41e82510.png)

[2021-05-18 20:52] #1415 closed, assigned to Dengshan2018

[2021-05-18 20:55] Dengshan2018 commented on #1807
Still under the discussion. There is no solution for the issue yet.

[2021-05-18 20:58] Dengshan2018 commented on #1862
@SWei1234

[2021-05-18 21:35] exextoc commented on #1592
Can you check if this problem also repros on OWA? If it does not repro in OWA this would also be a Win32 issue, and in that case, please open a separate issue for Win32 so we can track it there as this thread is used to track the Android and iOS side of the problem.

[2021-05-19 01:35] SWei1234 commented on #1862
Hi @exextoc  @Dengshan2018
Yes, This problem can be repro on other 3rd party add-ins.
Thanks for your steps. Current office version is Enterprise Channel 2102 should be higher than required version.
Thanks

[2021-05-19 02:15] exextoc commented on #1848
What we would recommend for you to get unblocked is that if you're using Graph to set the ExtendedProperty, you should also use Graph to retrieve it. Else, you could use setCustomProperties API and then the loadCustomProperties will work as expected.

In addition:
Client side JS API for setting extended properties is not currently a part of the product. We track Outlook add-in feature requests on

[2021-05-19 02:26] exextoc commented on #1441
@moshikonachmias Thank you for reporting this issue, this thread was originally started for Outlook on the Web and has been closed with a fix, for your current issue could you please open a new problem and provide more up to date details? This will also help others to better track the problem.

[2021-05-19 02:56] markdon commented on #1872
`makeEwsRequestAsync` only supports a limited set of operations listed [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/understanding-outlook-add-in-permissions#readwritemailbox-permission).

It may not solve your issue, but getting an EWS auth token from [getCallbackTokenAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-preview#getCall

[2021-05-19 03:21] exextoc commented on #1731
@yanli0303 We tried to repro on some other macOS versions also but could not repro this. Can you please confirm that it only repros on 11.2.2 for you?

[2021-05-19 03:21] exextoc commented on #1731
@yanli0303 We tried to repro on some other macOS versions also but could not repro this. Can you please confirm that it only repros on 11.2.2 for you?

[2021-05-19 06:04] markdon opened #1873 "Outlook Event attendees (individual/group) do not have `recipientType` set as expected"
On Mac clients and https://outlook.office.com/, When composing an Event (aka. Appointment) and retrieving optional/required attendees ([requiredAttendees.getAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-preview#requiredAttendees)) the individual users and groups ([EmailAddressDetails](https://docs.microsoft.com/en-us/javascript/api/outlook

[2021-05-19 06:10] Dengshan2018 commented on #1862
@SWei1234, Could you try to repro with ScriptLab for Outlook?
Is there any software from your IT department to block webview2 running?

[2021-05-19 06:26] Hourglasser23 commented on #1848
`What we would recommend for you to get unblocked is that if you're using Graph to set the ExtendedProperty, you should also use Graph to retrieve it` - yes, that is exactly what I am doing. I set an icon on `Extended properties` via Graph API, not even retrieving it I just tried to retrieve to confirm it is saved.

`Else, you could use setCustomProperties API and then the loadCustomProperties wil

[2021-05-19 06:46] SWei1234 commented on #1862
Hi @Dengshan2018
How could we know which software will block webview2 running?
Are there any test standard?
Is there any different between ScriptLab and other 3rd party add-in? We tried some add-ins and all not work.
Thanks

[2021-05-19 09:10] jipinshi commented on #1860
@CTDProgrammer , you could try below code to unblock you either.
currentWorksheet.pageLayout.zoom = { scale: 100 };
currentWorksheet.pageLayout.zoom = { horizontalFitToPages: 2 };

[2021-05-19 09:10] siseli commented on #1822
No, I don't see any change in the addin iframe (yet).
Still no `allow-storage-access-by-user-activation` value in the `sandbox` attribute.

Checked just now on https://outlook.office.com.

[2021-05-19 09:41] moshikonachmias opened #1874 "Outlook on-send Add-In popup a dialog in OWA but not in Desktop"
Our Add-In is using the On-Send functionality and it used to work for both OWB and Desktop without any problems.

Now I have 2 issues that prevent my users using the add-in:
On Desktop, there is a message saying "...is working on your request" which never disappears and nothing happen.
On OWA, when sending an email or a meeting, an alert popups.

Why is the domain _undefined_? where I should defin

[2021-05-19 10:42] magda-pearson commented on #606
@lliu113 Thanks for your message. I'm not able to replicate it anymore, it occurs to be fixed. I can open the add-in via the keyboard in Chrome 90.0.4430.212.

[2021-05-19 11:00] ghost commented on #1031
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-05-19 11:00] #1031 closed, assigned to grangeryy

[2021-05-19 11:11] paulnearney opened #2626 "Register the online-meeting template for PGiConnect"
Can you register the online-meeting template for our PGiConnect service?

                let tableString = "";
                for (let number of numbers) {
                    tableString = "<tr>" +
                        "<td style=\"width:112.5pt;padding:0in 5.4pt 0in 5.4pt;\" valign=\"top\" width=\"145\">" +
                        "<span style=\"font-size:10.5pt;font-family:'Segoe UI',sans-

[2021-05-19 12:02] nnyegaard commented on #1829
Hey @mscharlock, do you have any updates? Atm we are going down the path of VSTO, but with the focus on .NET 5 from Microsoft, it feels like this approach is not that viable since we have to relay on the .NET Framework

[2021-05-19 12:45] CTDProgrammer commented on #1860
@jipinshi Thank you for the workaround. If I try it in the context of my full code it seems to work.

If I try the workaround on the reproduction code and I have opened the page layout tab before I programmatically adjust the zoom, then I have to click on a cell for the scale to fit information to update.

[2021-05-19 15:30] keyur32 commented on #1840
re-opening this issue since bugs are active and marking fix pending.

[2021-05-19 15:57] hitmanwar commented on #1869
Added in the backlog. Internal tracking id: 117617

[2021-05-19 16:12] ElizabethSamuel-MSFT commented on #2626
@paulnearney Thanks for trying the online-meeting feature! We'll get this info to the team and let you know once the registration is complete.

Thanks.

[2021-05-19 16:54] AbidRahman-MSFT commented on #1827
Hey @AlexanderSokolov1,

Thanks for posting your issue. Currently, we don't have any plans to introduce this capability to Office Add-ins. I highly recommend posting this feature suggestion on the [M365 Developer Platform Forums](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform).

Thanks!!

[2021-05-19 16:54] #1827 closed, assigned to AbidRahman-MSFT

[2021-05-19 18:28] lliu113 commented on #1784
@frankaddelia - we've opened up a bug to investigate, internal tracking: 5123799

As a workaround, will the messaging APIs work? We have both [messageParent() (dialog -> taskpane) ](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#send-information-from-the-dialog-box-to-the-host-page)and [messageChild() (taskpane -> dialog)](https://docs.microsoft.com/en-us/

[2021-05-19 18:37] lliu113 commented on #656
@mm90849491 - thanks for providing the Pen! Unfortunately I'm having some issues running it (it doesn't show anything when I run).

Just to clarify, are the scrollbars inside the add-in page or part of the taskpane? If you're able to upload a video showing the scrollbars (or where the scrollbars are missing), that will be very helpful. Thanks!

[2021-05-19 20:31] lliu113 commented on #1054
Reassigning to @croicu who owns content add-ins on desktop

[2021-05-19 20:41] lliu113 commented on #1578
@JamesBigChange - add-ins are still being test against IE11. Are you able to provide a video of the error you're seeing? Doesn't look like I'm able to repro

[2021-05-19 20:58] mydavidzhang opened #1875 "Web browser outlook add-in tab navigation issue for web components"
In web browser (like Chrome) open outlook add-in (https://outlook.office.com/mail/inbox), when there are multiple web components inside add-in, could not use tab to navigate between them. The first web component can be focused, but after click tab the focus will go to add-in close button, which should go to the second web component.

## Expected Behavior
Should be able to use tab to navigate betwe

[2021-05-19 21:34] lliu113 commented on #1403
@leybal - thank you for providing the sample! Unfortunately I was unable to repro it on desktop, there is no delay when inserting and it inserted each time. Can you verify whether you're still seeing this issue?

[2021-05-19 21:48] lliu113 commented on #1336
@Murugananths - I'm going to go ahead and close this issue for now. Please reactivate if you're still having problems or if you have any additional questions. Thanks!

[2021-05-19 21:48] #1336 closed, assigned to lliu113

[2021-05-19 22:40] handofthecode commented on #1852
I am also not able to inspect the taskpane without the taskpane crashing and restarting. It works fine with macOS/Safari, but crashes on Windows 10/Edge Chromium. I've tried generating fresh projects with the yo generator and they have the same issue. The debugger works within VS Code, but it's an issue to not be able to inspect the DOM.

[2021-05-20 00:56] james-huang commented on #1820
Hi Microsoft, any updates on this?
Was this reported to the right place?

[2021-05-20 01:17] mm90849491 commented on #656
@lliu113 , thank you for your attention to this ticket.

The scrollbars are not the taskpane component, they belong to several <div />s generated by React-Fabric.

[2021-05-20 01:51] exextoc commented on #1872
Based on @markdon's comment it's correct that

So it is not possible to use GetAppManifests with makeEwsRequestAsync. As for the second comment, getting an EWS auth token actually has more limitations.

Can you please share the use case for this? What information are you trying to get from the mailbox's App manifest? Getting the mailbox's app manifest could cause privacy issues since add-ins shoul

[2021-05-20 02:18] jipinshi commented on #1840
@keyur32, the code to do the fix is ready locally, and is going through checkin process. I think it needs time to be released to the latest monthly build. Will let you know when it is done. As for workaround, I think you can put the shape a little higher the cell to unblock or try to not use the combined cells to do the autofit.

[2021-05-20 02:42] jipinshi commented on #1860
@CTDProgrammer, glad to hear it can unblock your work first. We are actively working on the investigation, will let you know when the fix is ready.

[2021-05-20 03:24] vijay665 commented on #1872
Thank you for looking into my issue.

We were deploying the App manifest to the user mailbox using API programmatically where we enable supportsSharedFolders, supportsPinning, and other configurations in manifest.xml.

One scenario is that the App not visible on the shared mailbox, to confirm whether this **supportsSharedFolders** node present in the App manifest.xml we use to check the latest man

[2021-05-20 04:43] exextoc commented on #1836
@clavx Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: 117708

[2021-05-20 05:59] exextoc commented on #1871
@eat-sleep-code This issue is fixed now. Can you please check and confirm? If the issue still repros, please provide the diagnostics ID by clicking on Help->Collect Diagnostics.

[2021-05-20 06:18] exextoc commented on #1874
@moshikonachmias Can you please answer following questions to help us debug and investigate-

For OWA issue,
1. Do you see the prompt every time you log in to your account?
2. Which browser do you use? Can you try the same on other browsers? Can you try once in incognito?
3. Do you see any errors in the console?
4. How long have you been seeing this?
5. Which domains do you use? (I can see O365 an

[2021-05-20 07:18] exextoc commented on #1873
@markdon Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal tracking id:
OWA:  117717
Mac: 5125404

[2021-05-20 07:56] Kronenberg opened #1876 ""Add-in" is not loaded on Office 365 ProPlus 1909 12026.20344"
Good day,
Add-in" is not loaded for some users. _( screenshot with error message was attached to this article below )_
Windows and office versions are consistent across all users.

## Expected Behavior

Add-in should be opened without any errors.

 ## Question
Do you have any known issues for this specific case/version or what might be the root cause for this?
Can you give me an idea what can help

[2021-05-20 10:07] mrsanor commented on #1868
Now I got `localStorage` working with Yeoman based project.

`office-addin-debugging start` changes the following registry value:
[code]

By setting `UseDirectDebugger => 0`, `localStorage` starts to work.

However now the debugger of course won't work in any way.
I tried setting registry value `UseWebDebugger => 1` and debugger started working in non-dialogs but once again `localStorage` stopped

[2021-05-20 10:10] sarea opened #1877 "Cannot install add-in in shared or delegate mailbox in OWA"
when I open another mailbox from the top left menu, I'm not able to install an add-in there, I got an error message that says:

![Screenshot 2021-05-20 at 11 12 57](https://user-images.githubusercontent.com/16371285/118953572-3cea0980-b95d-11eb-9dbe-1b66071ffab7.png)

We couldn't find a way in the admin settings or in the online exchange settings to give that permission.
Even when installing the a

[2021-05-20 10:33] rosergeev commented on #1738
Hi, @ic3guy
We've experienced the same issue, can you give me a hint or example what exactly I have to add to internet props instead of server name?

[2021-05-20 11:06] lumine2008 commented on #1729
@elariccc would you please validate if this issue still repro?

[2021-05-20 11:06] lumine2008 commented on #1729
Kindly reactive this issue if you still repro, thanks

[2021-05-20 11:06] #1729 closed, assigned to lumine2008

[2021-05-20 11:08] lumine2008 commented on #1782
Thanks for your validation, i am closing this issue for now, please re-open if you still observe the issue. thanks

[2021-05-20 11:08] #1782 closed, assigned to lumine2008

[2021-05-20 12:20] moshikonachmias commented on #1874
@exextoc
OWA:
1. No, after pressing 'OK' it didn't popup anymore. in incognito appears on every message, even if I pressed 'OK' before.
2. I check with Chrome and Safari, both acts the same as described.
3. No errors.
4. I started noticed on the 16th of May but I'm not using it on daily basis.
5. It happens in my personal account (live) and work account (O365).

Mac Outlook:
1. The issues is only

[2021-05-20 13:08] eat-sleep-code commented on #1871
@exextoc Unfortunately, I am still having the issue.   Diagnostics ID: BBDJCXK3

[2021-05-20 14:35] lumine2008 commented on #1826
I would suggest discussing via mail. do you mind to send me a mail: raymonlu@microsoft.com,
if needed, we could schedule a meeting to discuss in detail. thanks.

[2021-05-20 14:44] harit-m-kumar opened #1878 "Unable to add shared runtime to common Manifest"
We have a common manifest for our add-in which works on all the three platforms - Excel, Word and PowerPoint. Currently, I was trying to add shared JavaScript runtime to our application, because i was facing this issue :

"window.sessionStorage" gets cleared when our application opens a new PowerPoint instance to load a file.

So I was referring the given link -

https://docs.microsoft.com/en-us/o

[2021-05-20 15:06] ektadesai22 commented on #1867
@slabereemsft - The site which I am trying to open in dialog is not supported Internet explorer. Do you think this could be a reason? Is there any way that add-in uses Microsoft Edge browser instead on internet explorer?

[2021-05-20 15:08] ektadesai22 commented on #1866
@smaremanda - Could you please provide information on this?

[2021-05-20 16:53] ElizabethSamuel-MSFT commented on #2626
@paulnearney The team has requested the following information/updates:

- Your text should say something like "PGiConnect meeting" instead of "Microsoft Teams meeting"
- We will need complete HTML content. You can share HTML content from any meeting which you created using your add-in.
The HTML you have shared doesn’t have your meeting URL and phone number, etc. That is, we need the actual info in

[2021-05-20 17:26] paulnearney commented on #2626
Thanks @ElizabethSamuel-MSFT

Our service augments a standard Teams meeting with additional dial-in details - hence wanting to leave the text as "Microsoft Teams meetings".

I can provide a sample of complete HTML content, but in real-world usage, the list of telephone numbers will vary in length and detail from customer to customer.

Is there any issue with either of the above?

[2021-05-20 19:49] yanli0303 commented on #1731
I was not able to reproduce this issue in any other version.

[2021-05-20 20:46] exextoc commented on #1876
Is seems that this an older version of Office, please update your Office 365 version and see if this problem still persists.

[2021-05-20 21:15] millerds commented on #1852
While we are working on a fix for the devtools/webview2 crash you can use this workaround to use the devtools instead of VS Code:

1. After running "npm start" open an Edge browser tab
2. Type "edge://inspect" for the url and wait a few seconds after the page opens
3. You should see a remote target section get populated with the add-in URL and a few links under it
4. Click the 'inspect' link.

You

[2021-05-20 21:47] exextoc commented on #1848
Just to clarify, you are setting property A through exchange and a separate property B through client side with setCustomProperties? And when you say that the original extended property "A" is getting overridden, is property A lost completely? or is it getting set to a  different value? After you set property A with Graph and B with setCustomProperties can you try to get property A again through G

[2021-05-20 21:54] exextoc commented on #1872
To clarify your use case, is it only trying to get this information through the add-in while the add-in is running? Or is the use case for getting the information in general? In general, there are PowerShell commands such as this: https://docs.microsoft.com/en-us/powershell/module/exchange/get-app?view=exchange-ps that could help with retrieving the mentioned information.

[2021-05-21 05:29] exextoc commented on #1875
@mydavidzhang We cannot repro this with our test add-ins. You need to add tabIndex in your add-in html code, so that tab navigation works correctly.

[2021-05-21 07:00] Hourglasser23 commented on #1848
`Just to clarify, you are setting property A through exchange and a separate property B through client side with setCustomProperties` Yes

`And when you say that the original extended property "A" is getting overridden, is property A lost completely` nah, property A is icon ('Integer 0x1080') as you can see in script I attached above - it cannot get lost from Message item. setting custom propertie

[2021-05-21 07:47] Medhyena commented on #1858
Hello, it doesn't answer my question...
My problem here is that the pre-authorization needed for the add-in (if needed, not for everyone, prob depends on people's Azure configuration I guess) requires the user to accept minimum rights. When doing this, I need then to ask them the permissions to use the particular rights if the on-behalf-of request fails. In this case, it feels like Outlook keeps a

[2021-05-21 09:22] mkuszewski opened #1879 "Can't fetch email recipient when it's not saved in Outlook"
## Expected Behavior
When calling the method `Office.context.mailbox.item.to.getAsync()`, the array of recipient objects should be returned.

## Current Behavior
Method `Office.context.mailbox.item.to.getAsync()` returns an empty array. This issue occurs only if a recipient isn't saved in Outlook (unknown/new recipient email).

## Steps to Reproduce, or Live Example

- create new email (draft)
- i

[2021-05-21 11:27] ikaban opened #1880 "We receive wrong window.outherWidth value when the task pane is closed"
Hi,
we found a problem with window.outerWidth in Excel for web. When a user resize the browser window and the task pane is open window.outerWidth changes, but if a user close the task pane and resize browser window window.outerWidth does not change. It looks like a bug.

## Expected Behavior

When a user resize a browser window and the task pane is closed, the window.outerWidth should change.

##

[2021-05-21 13:29] Petryxasport commented on #1845
Any updates? Can you reproduce the issue?

[2021-05-21 14:50] atsopuronen commented on #1620
Hello @DB-ADM

I'm glad to announce that your instructions worked!! By following them our customer was able to resolve the issue after months of frustration.

Thank you!

[2021-05-21 15:43] ElizabethSamuel-MSFT commented on #2626
Thanks for your response, @paulnearney. The team asked the following:

Thanks.

[2021-05-21 16:54] DB-ADM commented on #1620
@atsopuronen - Awesome!  I'm happy that I was able to help!

[2021-05-21 17:25] lindalu-MSFT commented on #205
If you're still interested in add this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Thanks, lindalu

[2021-05-21 17:25] #205 closed, assigned to sumurthy

[2021-05-21 17:26] lindalu-MSFT commented on #517
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Thanks, lindalu

[2021-05-21 17:26] #517 closed, assigned to mattgeim

[2021-05-21 17:27] lindalu-MSFT commented on #863
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Thanks, lindalu

[2021-05-21 17:27] #863 closed, assigned to smaremanda

[2021-05-21 17:28] lindalu-MSFT commented on #956
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Thanks, lindalu

[2021-05-21 17:28] #956 closed, assigned to AbidRahman-MSFT

[2021-05-21 17:29] lindalu-MSFT commented on #1297
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Please add link to the suggestion in the comments for tracking. Thanks, lindalu

[2021-05-21 17:31] lindalu-MSFT commented on #1420
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Please add link to the suggestion in the comments for tracking. Thanks, lindalu

[2021-05-21 17:31] #1420 closed, assigned to lliu113

[2021-05-21 17:35] lindalu-MSFT commented on #1751
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Please add link to the suggestion in the comments for tracking. Thanks, lindalu

[2021-05-21 17:35] #1751 closed, assigned to RuoyingLiang

[2021-05-21 17:35] lindalu-MSFT commented on #864
If you're still interested in adding this feature, please go to our new [Ideas forum](https://aka.ms/m365dev-suggestions) and click **Submit an Idea**. If there's enough interest (votes), we will follow up with you there and add it to our feature request backlog. Please add link to the suggestion in the comments for tracking. Thanks, lindalu

[2021-05-21 17:35] #864 closed, assigned to smaremanda

[2021-05-21 18:13] dan-sra commented on #1857
@yihuax Your code did fix the initial problem, but now if you select the same object twice you still get a GeneralException. Code below:

[code]

[2021-05-21 18:49] paulnearney commented on #2626
Thanks @ElizabethSamuel-MSFT

I'm not seeing the join button light up on iOS or Android. I've pasted the full HTML of the meeting invite body (generated on iOS) below.

[code]

[2021-05-21 19:09] ElizabethSamuel-MSFT commented on #2626
@paulnearney Thanks for this info. I'll pass along to the team and we'll update you soon.

Thanks.

[2021-05-21 19:09] paulnearney commented on #2626
@ElizabethSamuel-MSFT , here's some more detail, in case it comes in useful.

When we toggle the online meeting slider to On, I'm fetching the Exchange Identity, prompting for auth (if needed), and calling Graph as the user (delegated permissions) to generate a new Teams meeting. I'm then returning this URL to the client.

I then grab the current message body, and append my meeting details section

[2021-05-21 19:10] ElizabethSamuel-MSFT commented on #2626
@paulnearney Thanks for the additional details. Will pass along to the team as well.

Thanks.

[2021-05-21 19:25] adomasven commented on #1751
Voted on an [existing idea](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/adding-field-codes-for-word-using-word-javascript-api/idc-p/2376739#M93). If you've come here looking for the feature, make sure you vote on it there.

[2021-05-21 19:39] lindalu-MSFT commented on #1751
Thanks for cross posting here @adomasven, it really helps us drive people to the feature request. We don't want to track the same request in two places! We appreciate you taking the time.

[2021-05-21 21:54] jayrathi commented on #1644
Can you try using this using lowercase o when referencing the office.js url -
src="appsforoffice.microsoft.com/lib/beta/hosted/**o**ffice.js"

[2021-05-22 00:00] ghost commented on #1861
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-23 00:00] ghost commented on #1592
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-23 21:43] vijay665 commented on #1872
Yes, that's correct, we have diagnostics in our Mail App where we need an option to download the App manifest while the add-in is running. It will be very helpful if you share the permissions required to GetAppManifests as per the document https://docs.microsoft.com/en-us/exchange/client-developer/web-service-reference/getappmanifests-operation?redirectedfrom=MSDN

[2021-05-24 04:35] jipinshi commented on #1880
Tried windows in Chrome, the window.outerWidth should mean the width of the browser size which is browser behavior, so it is not related to taskpane show or not, since when it show, it will resize the left content width. If your location wants to center the dialog in the middle of the content, I guess you can hook Office.addin.onVisibilityModeChanged and then get the taskpane width, and then get t

[2021-05-24 12:28] mnkumar8 commented on #1748
Yes, i have followed the instructions in the specified link and downloaded it and it resolved the issue now. I have seen the error 'Unable to get property displayDialogAsync of undefined or null reference' twice on a particular machine.
1) First time, it got fixed by updating the office 2016 by our IT team.
2) After few days, the same error appeared again.
3) I have then created this ticket to kno

[2021-05-24 13:26] paulnearney commented on #2626
Hi @ElizabethSamuel-MSFT

I've been experimenting with different HTML to see if I can get the Join link to light up but not managed to make it work. Is it possible to get an overview from the team as to what exactly they are looking for in the HTML?

[2021-05-24 14:46] Premsagar-lab opened #1882 "[Onsend Addin] Unable to provide option in manifest to load Outlook Web addin only on macos platform"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our web addin is currently designed to work on Macos only. Addin is deployed using Office 365 CDS for user. Addin is loaded automatically for that user even on windows. So the addin i

[2021-05-24 17:27] matthe68 opened #1883 "Can't create custom contextual tab"
## Expected Behavior
I have been reading through Microsoft documentation for Office Web Add-Ins about how to create a custom contextual tab. It states that I need to have a shared runtime to do this and tells me that I need to add <Runtimes> <Runtime resid="Taskpane.Url" lifetime="long" /> </Runtimes> directly following the <Host> tag. What should happen is simply that I have a validated manifest

[2021-05-24 18:48] millerds commented on #1756
VS uses some xsd files to validate the manifest and provide intellisense.  I looks like those files are out dates compared to the updated documentation you are referring to.  This needs to be updated in VS.

In the mean time, if you take the documented schema you've pointed to and update the xsd files on your machine (at: C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Xml\Schemas\10

[2021-05-24 19:07] sergioalcalaweb commented on #712
you can try with this validation

if (Office.context.platform == 'OfficeOnline') {
 // code that work only in browser office apps
}

[2021-05-24 20:29] lliu113 commented on #947
@ndeeH - sorry you're hitting this limitation! This is actually a new feature request, we don't support this functionality today. Please submit this to the [Microsoft 365 Developers Platform](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform), click on "Submit an Idea". This will help us triage requests in our backlog.

I'm going to close t

[2021-05-24 20:29] #947 closed, assigned to lliu113

[2021-05-24 20:31] lliu113 commented on #663
@dinglicoding - I'm going to go ahead and close this issue for now. Please reactivate if you're still hitting this and we can investigate. If you're able to provide a video, or manifest that will help us debug. Thanks!

[2021-05-24 20:31] #663 closed, assigned to lliu113

[2021-05-24 20:41] lliu113 commented on #1238
@topkoong - this feature is no longer in preview, are you still hitting this issue with enable/disable? Looping in @sohailzafar

To answer your previous question, single line ribbon looks like this:
![SLR](https://user-images.githubusercontent.com/6591834/119404898-55c42900-bc95-11eb-8528-244b81f007c0.JPG)

Traditional ribbon looks like this:
![MLR](https://user-images.githubusercontent.com/659183

[2021-05-24 21:00] ghost commented on #1876
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-24 21:32] eat-sleep-code commented on #1871
@exextoc  Do you need any further information from me?

[2021-05-24 21:57] lliu113 commented on #1560
@gerrychong - I'm going to go ahead and close this issue for now. Please reactivate if you have any additional questions. Thanks!

[2021-05-24 21:57] #1560 closed, assigned to lliu113

[2021-05-24 22:10] lliu113 commented on #1748
@mnkumar8 - great to hear that it is now resolved! I'll go ahead and close this, please reactivate if you hit any other problems. Thanks!

[2021-05-24 22:10] #1748 closed, assigned to lliu113

[2021-05-25 01:30] exextoc commented on #1848
The issue you are observing may be related to inconsistent item state. An item can get in an inconsistent state if it is updated using office.js API and Graph API before Outlook client gets a chance to sync its state. In your case, since you were only able to set the icon via Graph, it is recommended to also set property B via Graph. Mixing the two can result in conflicts.

[2021-05-25 02:00] ghost commented on #1861
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-05-25 04:39] exextoc commented on #1865
Hello @clavx , what you're experiencing is expected behaviour.
Since just after hitting refresh the addins framework itself takes some time to load, your onsend addin does not work. But on making the OnSendAddinsEnabled flag to true; this pops up a new window (along with blocking on screen controls) which allows some more time for the addins framework to load and hence the onsend addin works.

[2021-05-25 04:44] exextoc commented on #1871
Hi @eat-sleep-code can you please try restarting and then try this again? This issue is fixed but you may need to restart before the changes are picked.

[2021-05-25 05:07] exextoc commented on #1879
Unfortunately this is by design and you can get the recipients in OWA only after this is saved.

[2021-05-25 05:47] eat-sleep-code commented on #1871
@exextoc I have restarted Outlook, also rebooted the whole Mac as just applied the latest macOS patch, still the same errors occurring.

macOS Big Sur 11.4 (20F71)
Outlook: 16.49 (21050901)

I still see `Requirement set 1.8 is not supported` from my above debug console output.

[2021-05-25 06:18] ndeeH commented on #947
@lliu113 Added as an idea:
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/support-interactive-content-add-in-in-powerpoint-presenter-view/idi-p/2382443

[2021-05-25 07:34] Hourglasser23 commented on #1848
Okay, it makes sense now. If I update it via Graph then it should not be the problem. Thank you

[2021-05-25 07:34] #1848 closed, assigned to exextoc

[2021-05-25 07:59] jipinshi commented on #1880
@ikaban, let me know whether the comment above helps you.

[2021-05-25 08:35] clavx commented on #1865
Thank you for your reply.
I understand the content.

Are there any plans to change the specifications?

[2021-05-25 09:57] exextoc commented on #1855
Hello @ndvbd this issue has been fixed for OWA. The fix should be available within the 2-4 weeks.

[2021-05-25 16:55] bx-steven opened #1884 "Office.context.mailbox.item.itemId discrepancy between Desktop and OWA - SharedCalendars"
Accessing Outlook Shared Calendar item via REST API from Outlook Desktop is failing.

## Expected Behavior
When retrieving a calendar item Id from a shared calendar context, the Id's should match when opened on Outlook Web App and Outlook Desktop.

## Current Behavior
The value we are retrieving from window.context.mailbox.item.itemId is different when retrieved from Outlook Web App and Desktop. T

[2021-05-25 17:10] ElizabethSamuel-MSFT commented on #2626
@paulnearney Thanks for this update. I'll make sure they're aware of this.

Thanks.

[2021-05-25 18:12] OfficeAddins commented on #1644
Thank you so much Jay !!! Yes, the error message has disappeared !!

[2021-05-25 18:13] #1644 closed, assigned to jayrathi, yihuax-zz, RuoyingLiang, AbidRahman-MSFT

[2021-05-25 19:13] exextoc commented on #1872
@vijay665 The ability to call GetAppManifests isn't supported, either directly or through makeEwsRequestAsync. I assume you're trying to look at the results for GetAppManifests to confirm that users are using the most recent version of your add-in, i.e; includes your updates to the manifest recently released. If so, one workaround you could use when updating your manifest is to also update the URL

[2021-05-25 19:18] exextoc commented on #1884
To confirm, the client at fault is Outlook Win32? Here you're getting getSharedPropertiesAsync as undefined and an incorrect itemId that causes the REST call to fail but OWA works as expected?

[2021-05-25 19:19] G00golplex commented on #1852
The Workaround works fine without a crash!

[2021-05-25 19:26] bx-steven commented on #1884
The client is running on 64 bit version. Confirming that we're getting getSharedPropertiesAsync as undefined. The incorrect itemId is causing the REST call to fail on Desktop whereas the REST call works as expected on OWA.

[2021-05-25 23:09] handofthecode commented on #1852
@millerds, I believe I am seeing the same issue when trying to debug IE11 in visual studio. Is there a similar workaround for this environment as well?

![2021-05-25 16-02-40_Trim (2)](https://user-images.githubusercontent.com/20215308/119579581-8b3f4400-bd73-11eb-9497-1f40c5bc1dd2.gif)

[2021-05-25 23:17] ralphtheninja commented on #1130
Any progress made on this yet? I'm also having problems with `Office.context.mailbox.item.addFileAttachmentAsync()`, however I get an internal error with code 5001. The `failed to attach file` is my `console.log()`, the rest is `console.log(result.error)` where `result` is the `AsyncResult` object.

NOTE that this is only on Mac desktop. It works just fine on Windows.

![image](https://user-images

[2021-05-25 23:23] handofthecode commented on #1852
@millerds, I believe I am seeing the same issue when trying to debug IE11 in visual studio. Is there a workaround for this environment as well?

![2021-05-25 16-02-40](https://user-images.githubusercontent.com/20215308/119580569-7ebbeb00-bd75-11eb-85b6-ad74a08fc123.gif)

[2021-05-26 02:00] ghost commented on #1592
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-05-26 05:18] xiaochunms commented on #1870
@leybal Thanks to report the issue. You may can try the workaround by changing the Counts defined name to “=IFERROR(OFFSET(Sheet1!$D$1,0,0,Sheet1!$A$2),0)”. Please let me know if it does not work.

[2021-05-26 05:23] prk21 commented on #1863
Hi team!
Any updates?

[2021-05-26 06:11] moshikonachmias commented on #1874
@exextoc @lindalu-MSFT any updates?
a lot of users encounter that issue and it's **preventing them from using Outlook Desktop** without uninstalling the add-in.

[2021-05-26 07:18] lindalu-MSFT commented on #1883
Hi @matthe68 Please post this question on our [office-js Q&A forum](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html).

[2021-05-26 10:47] andreagasparin opened #1887 "Cookies are not shared between OfficeDialog and task pane using WebView2 (Chromium-based)"
The cookies set during authentication via OfficeDialog are lost when the dialog is closed and are not available in the task pane, this problem does not occur using WebView (EdgeHTML) or Excel Online.
We followed this guide to implement authentication:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api

## Expected Behavior
Cookies that are set via authenticatio

[2021-05-26 12:00] derek-vena commented on #1831
@lumine2008 I have just confirmed that this issue is now affecting Windows Excel as well, the code block I posted originally no longer works on Windows Excel now

[2021-05-26 13:18] ikaban commented on #1880
@jipinshi thank you for your answer! It seems like we have a misunderstanding.

Task pane width is not related to our issue. We need to receive the correct browser width.

We create a Dialog box via Office.content.ui.displayDialogAsync() based on browser width (window.outerWidth).

For example: Office.context.ui.displayDialogAsync('https://myDomain/myDialog.html', {height: 100, width: outherWidth

[2021-05-26 14:01] paulnearney commented on #2626
@ElizabethSamuel-MSFT, another update.

I've tried replacing the meeting body with the full HTML that is returned from creating the OnlineMeeting via graph. I'm accessing the meeting body this way:

`HttpUtility.UrlDecode(meeting.JoinInformation.Content.Split(",")[1]);`

This still doesn't enable the Join button etc.

[2021-05-26 14:37] siseli commented on #1822
@exextoc can we still expect a fix being pushed to outook?
could you please reopen the ticket as the issue is not solved yet.

[2021-05-26 15:56] handofthecode commented on #1852
Never mind. I was able to debug using F12: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10

[2021-05-26 17:17] jeremy-msft commented on #1878
Hi @harit-m-kumar, thanks for reaching out. Unfortunately this isn't possible today -- requirement sets apply to all Hosts declared in your manifest.

[2021-05-26 17:18] #1878 closed, assigned to jeremy-msft, AbidRahman-MSFT

[2021-05-26 17:29] rahulaggarwalfl commented on #1044
Is the shared runtime available for Word addins too? If not when can we expect it to become available.

[2021-05-26 17:53] AbidRahman-MSFT commented on #1863
Hey @prk21 - apologies for the delay.

I am able to repro the same behavior. When using the following gist: [https://gist.github.com/AbidRahman-MSFT/fce5766c420b76ad01c745c8a36c241a](https://gist.github.com/AbidRahman-MSFT/fce5766c420b76ad01c745c8a36c241a) in ScriptLab on Word on Web, I'm unable to continue typing on the canvas.

@RuoyingLiang - is it possible to investigate this issue?

Steps:
1.

[2021-05-26 18:19] davidtauriello commented on #1845
I'm also having this issue with our Excel add-in on the web.

Issue is not confined to Chrome - not working in Edge, either

![image](https://user-images.githubusercontent.com/11542574/119711673-caca6680-be2d-11eb-8b71-36fd60dc223f.png)

https://stackoverflow.com/questions/67712731/timing-for-fix-to-broken-excel-web-16-00-js

[2021-05-26 19:51] GrumpyAL opened #1888 "Tenants with non-standard 365 REST URLs return the default 365 REST URL in Outlook on iOS"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Outlook App on iOS
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: n/a (any tested so far.  Apologies, I don't have one available).
* Operating System: iOS
* Browser (if using Office on the web): n/a

## Expected behavior
If the 365 tenant has a custom or vanity mail URL in addition to the defaults

[2021-05-26 21:14] Techno11 commented on #1852
I am experiencing the same issue as G00golplex originally brought up, which Aniruddha-Shriwant captured perfectly in their video earlier.  I'm experiencing this in outlook, and the workaround above shows the exact same behavior. When I launch edge chromium and navigate to `edge://inspect/#devices`  I can click "inspect", but roughly 5 seconds later the devtools "disconnects" and the outlook addin

[2021-05-26 21:58] Rick-Kirkham commented on #1845
I'm trying to get an update on this issue internally. In the meantime, does this happen on a localhost domain or only on the azurewebsites.net domain?

[2021-05-26 22:10] davidtauriello commented on #1845
Thanks, Rick - it’s in GitHub (production) and Azure

Search the office store for ‘XBRL filed data’ in excel and install, then try to login via web excel. Login window doesn’t appear.

[2021-05-26 23:04] smaremanda commented on #1887
@andreagasparin - this is sounding like an issue related to how the SameSite attribute is handled differently by the different browsers. Can you please try setting the SameSite attribute to None and see if that addresses the issue?

[2021-05-27 02:36] jipinshi commented on #1880
@ikaban, window.outwidth is browser behavior, I tried chrome it can work, so looks like there is bug in the browser you are using.

[2021-05-27 06:46] afcruzs opened #1889 "ImageCoercion 1.2 XMLSvg not working in Powerpoint"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows
* Host [Excel, Word, PowerPoint, etc.]: Powerpoint
* Office version number: version 2105 (build 14026.20246)
* Operating System: Windows 10
* Browser (if using Office on the web): NA

## Expected behavior

Retrieve Image XML using the ImageCoercion 1.2 API

[2021-05-27 07:13] gmlu-systech opened #1890 "Office 365 Shared Office Add-Ins does not refresh automatically"
**Office 365 Shared Office Add-Ins does not refresh automatically**

Actually we have Office 365 Version 2002 (Build 12527.21814) and we have added an
a trustful catalog Add-In in the options in the Trust Center and have clicked "Show in menue" there.
The trustful Catalog is stored on a network shared path.

If we open O365 Word (or other O365 programs) we can see the added Office-Add-Ins from the

[2021-05-27 07:23] exextoc commented on #1822
Apologies for providing incorrect information earlier. Fix is still rolling out and we will provide update on this soon.

[2021-05-27 07:40] andreagasparin commented on #1887
@smaremanda -I verified that the SameSite parameter is already set to none for the Set-Cookies in the response header from the 3rd party domain.
What I wanted to point out is that using WebView (EdgeHTML) with the task pane and OfficeDialog open I see that they both share the same processes (even when debugging with Edge DevTools I see the Console and Network tabs with the same details for both):

[2021-05-27 09:00] Medhyena opened #1891 "When getAccessToken is using "allowConsentPrompt" to display a pre-authorization popup, the azure authorization popup is using the cache of the pre-authorization (even if the scopes are different)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I could not re-open the issue since it was closed by a contributor so here is the linked comment of my answer : https://github.com/OfficeDev/office-js/issues/1858#issuecomment-8457369

[2021-05-27 09:07] AeroRooms opened #1892 "Add-ins can not be started when Attack Surface Reduction Rules are active"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

We are currently on a pilot phase where we activated all Attack Surface Reduction Rules within the Endpoint Security tab in

[2021-05-27 09:23] davidfishlock commented on #1095
@exextoc it appears that deeplinks on mobile OWA are broken again. In all cases the weblinks returned by Outlook REST API or graph appear to load the inbox.

[2021-05-27 11:22] ikaban commented on #1880
@jipinshi, you are right. All works correctly in Safari and Mozilla Firefox. But in Google Chrome we have a problem. Thank you so much!

[2021-05-27 12:35] kinkoazc opened #1893 "setSignatureAsync behavior not consistent between event-based activation usage and taskpane usage(signature doesn't get replaced)"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: BETA
* Operating System: Windows
* Browser (if using Office on the web): Chrome

## Expected behavior

After a signature was set as a result of event-based activation, it sho

[2021-05-27 14:25] SergDi commented on #1867
I have the same error when opening dialog (displayDialogAsync)
in **MonthlyEnterprise Channel**
_Version 2103 (Build 13901.20516)
MSO 16.0.13901.20516  64-bit_

**Windows Event Viewer:**

however, it works OK in **SemiAnnual Channel**
_Version 2008 (Build 13127.21624)
MSO 16.0.13127.21624  64-bit_

Besides, we cannot debug our add-in in Version 2103 with Microsoft Edge DevTool - the add-in process

[2021-05-27 17:33] exextoc commented on #1832
@DmitryKostochko - We have fixed the bug and the fix should be available in build > 16.0.14128.10000 or later. When an updated build is available depends on the release channel a customer is on.

[2021-05-27 17:51] exextoc commented on #1884
Is this a calendar that someone(another user) shared with you/gave you delegate permissions to or does this calendar belong to a sharedMailbox to which you have access permissions?

[2021-05-27 17:56] bx-steven commented on #1884
This is for another user's calendar that was shared with me/gave me delegate permissions.

[2021-05-27 18:29] exextoc commented on #1884
We're unable to reproduce the issue on our end. A couple of things to try:
 - There should be a newer version of Office available to upgrade to. Can you try to upgrade to see if it still reproduces?
- Does this happen for all calendars shared with you or just for 1 user? If latter, maybe try revoking the permissions, deleting the calendar from your outlook and then requesting them to share again t

[2021-05-27 20:24] davidtauriello commented on #1845
Hi @Rick-Kirkham and @lliu113 - any updates on the status of **Internal bug number: 5106779** - ?

We're in the same situation as @Petryxasport and anyone else using a popup for login: _our add-in is currently useless on the web_ (so, school computing labs and other 'public' facilities).

Please let me know timing for a fix - thanks.

https://appsource.microsoft.com/en-us/product/office/WA20000259

[2021-05-27 22:21] eat-sleep-code commented on #1871
@exextoc  Would it be helpful to see the manifest file to see if there is something wrong there?

[2021-05-28 00:45] jipinshi commented on #1880
@ikaban, great to know it can work in other browser, so I will close this case. If you have other issues, please open new.

[2021-05-28 00:45] #1880 closed, assigned to jipinshi

[2021-05-28 00:48] jipinshi commented on #1891
@mattgeim, can you help follow the issue?

[2021-05-28 00:56] jipinshi commented on #1892
@croicu , could you help take a look?

[2021-05-28 06:14] exextoc commented on #1865
Sorry we do not have any plans as of now to change the specifications. But please feel free to add your suggestion here at [Microsoft 365 Developer Platform New Ideas forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform)

[2021-05-28 06:14] #1865 closed, assigned to exextoc

[2021-05-28 06:22] exextoc commented on #1874
Hello, we've checked the logs but there was not much to be found.
Request you to provide addin-in manifest/code/test account for a local repro.

Also can you try with the new UI? On-send for new UI has been rolled out recently.

[2021-05-28 06:23] exextoc commented on #1871
Yes please help us with the manifest.

[2021-05-28 06:38] exextoc commented on #1877
Can you please specify which client is this? Is this happening in Outlook on the Web/Mac/Win32 or mobile client?

[2021-05-28 06:44] exextoc commented on #1893
Thanks for reporting this issue. Are you using this api as a part of any addin?

[2021-05-28 06:46] exextoc commented on #1888
Hello, thanks for reporting this issue. This is however a known issue and we are working to release a fix soon.

But as a workaround, please use the Audience Field inside of the JWT Tokens received from getCallbackTokenAsync. (Callback tokens are JWT tokens and can be decoded using libraries such as these: https://github.com/auth0/jwt-decode). You can use this Audience field to make further API ca

[2021-05-28 06:52] kinkoazc commented on #1893
Hello. Yes, in development.

[2021-05-28 07:15] sarea commented on #1877
Hi @exextoc, it's on the OWA

[2021-05-28 07:18] clavx commented on #900
I checked the current status and found that it works fine.
I think this issue has been resolved.

Any updates?

[2021-05-28 08:04] clavx opened #1894 "Outlook on the web: Embedded image data does not disappear"
# Provide required information needed to triage your issue
If you delete an embedded image after you insert it, you can still get information about the embedded image from the `getAttachmentsAsync` method.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: -
* Operating System: Windows 10
*

[2021-05-28 09:55] paulnearney commented on #2626
Hi @ElizabethSamuel-MSFT , is there any update on this? We have a number of customers waiting for this feature and it would be good to be able to give them an update. Thanks

[2021-05-28 09:58] DmitryKostochko commented on #1832
Wow! Thank you! I will retest the issue and let you know.

[2021-05-28 11:35] westconference commented on #790
This worked for an O365 user who was seeing this with our add-in. Full Name hadn't been set, entered a value and restarted then add-in was able to get the user email address. Thanks @GrumpyAL.

[2021-05-28 13:49] leybal commented on #1870
@xiaochunms thanks a lot. Your recommendations helped us.

[2021-05-28 16:42] ThangaSperumal opened #1895 "Task pane auto open doesn't work when deployed under Office 365 Organization Centralized Deployment"
# Provide required information needed to triage your issue

Add-in for excel which is deployed under Office 365 Organization Centralized Deployment (uploaded Manifest) does not work when using Excel Online (Excel Web) .  The same manifest.xml that has been deployed under Centralized Deployment deployed using sideloaded under Insert Add-In Upload file option works fine.

Also works fine using Offic

[2021-05-28 16:47] slabereemsft commented on #1890
Thanks for reporting this issue.  Per our documentation (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins) there are some limitations:

  Deployment by network share is not supported for production add-ins. This method has the following limitations:

  The add-in can only be installed on Windows computers.
  If a n

[2021-05-28 16:47] #1890 closed, assigned to nobody

[2021-05-28 17:09] lliu113 commented on #1845
@davidtauriello , @Petryxasport - thanks for your patience with us on this. I know this is frustrating as your add-ins are failing. Our engineering team is still investigating and unfortunately we don't have any updates to share right now.

Will keep everyone updated as we know more.

[2021-05-28 18:12] eat-sleep-code commented on #1871
@exextoc  See below, from our local development instance:

[code]

[2021-05-28 19:03] pb-jeff-oneill commented on #1794
Confirming that this is now fixed for Office 365 on Windows.

I don't have access to Office 2019 so I am not able to check that.

[2021-05-28 19:22] yihuax-zz commented on #1794
Good. Thanks!

[2021-05-28 19:23] yihuax-zz commented on #1794
Great! Thanks.

[2021-05-28 22:08] iotataru commented on #1845
Hi everyone! I took a look at this and there seems to be calls to http://api.xbrl.us which is not using https. Please get a valid cert and use https for api calls in production.

![image](https://user-images.githubusercontent.com/63681485/120046173-7a3a4100-bfc6-11eb-8065-75211b3f8d72.png)

[2021-05-29 04:49] hello-chenchen commented on #1592
Okay, thanks for the reply. I think that It's a win32 problem.By the same root cause.
I will re-create a new issue for win32.

[2021-05-29 04:55] hello-chenchen commented on #1592
@exextoc It was automatic closed. We need to re-open.But I don't know how to re-open it. Could you please help us to re-open it?

[2021-05-29 12:46] davidtauriello commented on #1845
thanks, @iotataru - I updated our add-in manifest to remove http: domain references, tested and confirm this fix works in our circumstance.  Is there documentation I can point our dev to regarding the change - ? - asking because the add-in worked with http: in the manifest until sometime earlier this month.

@marcward - FYI, please see the note regarding 'valid cert' (? not sure this is an actiona

[2021-05-29 21:00] ghost commented on #1872
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-30 00:49] frankaddelia commented on #1784
@lliu113 Hello, sounds good. Unfortunately, I'm no longer at the company where I was working on this Excel add-in, but hopefully it can get resolved for anyone still having the issue. If I'm remembering correctly, I was having the same issue with the messageParent as well since the main issue seemed to be with accessing the local storage and the messageParent still seemed to pass data this way bet

[2021-05-30 09:00] ghost commented on #1876
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-05-30 11:31] exextoc commented on #1820
We are in the process of rolling out the New Outlook UI for full mail compose, and Add-ins will be available on it. You can test it in the latest [Insiders ](https://insider.office.com/en-us/join/mac)build. We expect the feature to be generally available by mid to end June.

[2021-05-30 12:24] exextoc commented on #1877
Can you please share us a repro video and/or the exact repro steps of this issue? This would help us try to repro this locally.

[2021-05-30 12:36] exextoc commented on #1893
Can you please share the manifest of your addin? The setSignatureAsync should replace the content of the 'Signature' div here. Are you saying that this is happening because of using two different divs?

[2021-05-30 13:49] exextoc commented on #1894
Hello, thanks for reporting this issue. We could repro this issue at our end and have added this to our backlog. We, however have no timelines to share for the fix.

[2021-05-31 02:00] hello-chenchen opened #1896 "Windows Outlook: client add-in not support prompt for cert selection certification when using some device verify system such as adfs or azure ad intune or okta device verify to doing sso login"
the same problem with this one. https://github.com/OfficeDev/office-js/issues/1347
and this one: https://github.com/OfficeDev/office-js/issues/1592
![image](https://user-images.githubusercontent.com/1878089/120129615-e00d0f80-c1f6-11eb-9b67-2aea3a425465.png)

[2021-05-31 05:00] exextoc commented on #2626
Thanks for providing the HTML, we tried the HTML snippet and the join button did not appear for us as well. We will identity the changes and do the needful to show join button.

[2021-05-31 07:40] paulnearney commented on #2626
OK, thanks @exextoc. Do you have an ETA of when our customers could expect to see this functionality?

Will the appearance of the join button just be driven from the existence of a Teams URL? It would be good to know what rules to follow if we need to change the content of our meeting template in the future.

[2021-05-31 08:47] hello-chenchen opened #1897 "Outlook Online Calendar can't open app store by click get add-ins"
![image](https://user-images.githubusercontent.com/1878089/120167075-e4a1ea00-c22f-11eb-9a0a-15892f07b5c9.png)

[2021-05-31 09:50] atsopuronen commented on #1620
Hello again,

We had another customer with this issue but the above solution didn't work for them. They found a simple and elegant solution that worked:

1. Remove this folder:
`%userprofile%\AppData\Local\Packages\Microsoft.Win32WebViewHost_cw5n1h2txyewy\`

2. Execute the following Powershell:
`Get-AppxPackage "Microsoft.Win32WebViewHost" | foreach {Add-AppPackage -DisableDevelopmentMode -Registe

[2021-05-31 10:49] kinkoazc commented on #1893
I've used the instructions from https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch to set the event activation(listening for the "OnNewMessageCompose" event). There seems to be a demo repo, https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/outlook-set-signature, but I can't replicate the issue there. Maybe it depends on the context/manifest. The manifest I use can

[2021-05-31 10:50] exextoc commented on #1897
Hey @hello-chenchen ,

Can you share some more details about this scenario? Does nothing happen when you click on "Get Add-ins", or do you get some kind of error?

[2021-05-31 10:59] hello-chenchen commented on #1897
![image](https://user-images.githubusercontent.com/1878089/120183304-191ea180-c242-11eb-9b49-03878edd2b4c.png)
the only message is [Violation] Forced reflow while executing JavaScript took 40ms
but it seems not the reason.

[2021-05-31 11:00] hello-chenchen commented on #1897
i can repro this problem in every browser and every network environment by every account type (both Office 365 E5 License, E3 License, free user).

[2021-05-31 18:24] vijay665 commented on #1872
Thanks for the suggestion. Also, could you please update the document  if GetAppManifests did not support either by makeEwsRequestAsync or with EWS auth token from getCallbackTokenAsync?

https://docs.microsoft.com/en-us/exchange/client-developer/web-service-reference/getappmanifests-operation?redirectedfrom=MSDN

[2021-06-01 00:20] piedrahitapablo opened #1898 "Office.context.ui.addHandlerAsync does not work after a redirect on Outlook for Windows"
# Provide required information needed to triage your issue
I'm currently developing an add-in for outlook, we need our users to login using microsoft as an identity provider, for that we show a Office dialog that redirects the users to a page of the add-in after they accept the prompt. The add-in page, registers a handler for the parent messages but the callback is never called and the handler is

[2021-06-01 01:03] lumine2008 commented on #1895
@exextoc , it seems this issue related to UX or Central Deployment, so i am looping @lliu113

[2021-06-01 01:05] lumine2008 commented on #1833
@mscharlock, the issue is fixed, so I am closing this issue now, please reactive if you still observe the issue

[2021-06-01 01:05] #1833 closed, assigned to lumine2008

[2021-06-01 01:32] hello-chenchen commented on #1592
@exextoc this issue is not fixed, please re-open it.

[2021-06-01 03:20] #1870 closed, assigned to grangeryy

[2021-06-01 04:25] GauravBagewadi88 opened #1899 "Edge Developer tool is not working on office 365 Current channel 14026.20246"
We have developed an Office JS add-in where for debugging purpose we are using edge developer tool but for testing office version we have took current version 14026.20246 where edge developer tool is not working (we could not able see any add-in under debug section to attach the process). It is not working for any Microsoft store add-in as well

Prod/Sandbox
* Platform [PC desktop, Mac, iOS, Offic

[2021-06-01 07:31] iotataru commented on #1845
Awesome glad to hear that! We are trying to enforce 'https' across add-ins on all platforms in order to enhance security. You likely saw a gap caused by different deployment timelines.

[2021-06-01 07:32] iotataru commented on #1845
@lliu113 please close the issue

[2021-06-01 13:01] leybal opened #1900 "An add-ins custom functions are not available after add-in installation in Excel for Mac"
# Provide required information needed to triage your issue
Hi, our team noticed some production problems after an add-in installation in Excel for Mac.
Let's consider example based on Cryptosheets add-in. After the add-in installing a user has no access to custom functions. A user can open the task pane, but can't use custom functions from this add-in. Custom functions are not available in the lis

[2021-06-01 15:40] exextoc commented on #1851
Hey @exextoc ,

Thanks for reporting this issue. We have tracked it in our backlog and are working on it. However, we have have no timelines to share at this point.

[2021-06-01 15:40] #1851 closed, assigned to exextoc

[2021-06-01 16:03] exextoc commented on #1897
Hey @hello-chenchen,

I can reproduce this issue and we are working on fixing it. Just to confirm, this behaviour does work for you in the overflow menu of Email Read?

[2021-06-01 16:13] exextoc commented on #1592
Hey @hello-chenchen,

We have re-opened this issue as you requested. We are investigating this issue and will keep you updated.

[2021-06-01 16:24] Techno11 opened #1901 "Outlook: OnMessageRecipientsChanged Not Triggering"
# `onMessageRecipientsChangedHandler` Not Triggering when message recipients are added

## Your Environment

* Platform: Outlook Desktop for Windows, Outlook on the Web
* Host: Outlook
* Office version number: Outlook 16.0.14026.20202
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome 90.0.4430.212

## Expected behavior
When I add recipients to a new email in Outlook via

[2021-06-01 18:23] exextoc commented on #1250
I apologize, that due to complications with this fix, the Monthly Channel is indeed fixed for 13727 and later, but the Semi-Annual Enterprise Channel, is NOT fixed in 16.0.13801.XXXXX. It is scheduled to be fixed in the SAC build AFTER 13801.

[2021-06-01 18:35] Foundasys opened #1902 "MSWord online : content controls in Header are not found/detected"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When I add a content control to the primary header and footer using MSWord offline then MSWord online does not find the content control in the header. Content controls in the body and

[2021-06-01 18:37] exextoc commented on #1896
@hello-chenchen Please add the Windows version and [Outlook version](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/office-versions-and-requirement-sets#how-to-check-your-office-version) numbers to the issue. Thanks!

[2021-06-01 18:40] #1845 closed, assigned to lliu113

[2021-06-01 22:22] lliu113 commented on #1895
@ThangaSperumal - thanks for reporting this and sorry you're hitting this issue! This is a known bug, which is in our backlog. We currently do not have an ETA for the fix.

Internal tracking: 3546573

[2021-06-01 22:23] julio177 commented on #1177
Checking on this, are you still seeing this issue? @qqytqqyt

[2021-06-01 22:31] lliu113 commented on #1867
@ektadesai22 are you able to provide your manifest so we can help troubleshoot?

[2021-06-01 22:55] lliu113 commented on #1705
@alexeystrakh - I'm going to close this issue for now, please reactivate if you're still experiencing this issue. if you can provide more information on your dialog domain, as well as whether you're seeing any errors that will help us debug. Thanks!

[2021-06-01 22:55] #1705 closed, assigned to lliu113

[2021-06-01 23:18] lliu113 commented on #1674
@groh-f - good news, we have checked in the fix. We were using a raw pointer which sometimes caused issues during thread switching but this has been addressed. I'm going to go ahead and close this issue, thanks!

[2021-06-01 23:18] #1674 closed, assigned to lliu113

[2021-06-02 02:05] hello-chenchen commented on #1896
hi @exextoc , for windows version is 1909
![image](https://user-images.githubusercontent.com/1878089/120412721-9d2f7100-c389-11eb-975f-912eb78afaca.png)

outlook version is: 2105
![image](https://user-images.githubusercontent.com/1878089/120412890-ec75a180-c389-11eb-8d73-2036ed19c129.png)

[2021-06-02 02:09] hello-chenchen commented on #1897
@exextoc , yes it work for the email page.
it 's only happened on calendar page.

[2021-06-02 04:52] exextoc commented on #1592
Hey,

We have tracked this bug in our backlog and we are following up on the progress. Unfortunately we have no timelines to share at this point. We are closing this bug since it's moved to backlog.

[2021-06-02 04:52] #1592 closed, assigned to exextoc

[2021-06-02 07:10] kinkoazc commented on #1893
Closing, as the problem was in my implementation, with calling `body.setAsync` after `body.setSignatureAsync`. Sorry about the false report.

[2021-06-02 07:10] #1893 closed, assigned to exextoc

[2021-06-02 07:13] MiaofeiWang commented on #1688
@alexuaua This issue should be fixed on all platforms (for iOS, the Office build is 2.49). Could you try it again?
I will close this case and please re-activate it if still repro.

[2021-06-02 07:22] xiaochunms commented on #1900
@leybal Sorry to hear the issue and thanks to report it. I tried the same at my side, the Custom Functions in the add-in works well (My Excel Mac version is 16.49 (21050201) which is a little bit earlier than yours (16.49 (21050901)) but I think there is no big difference.) From the video and the description, I think the root cause is that Custom Functions in the add-in are not registered. You may

[2021-06-02 08:21] ghost commented on #1087
hi
do you have a solution for the above problem ?
I am expriencing a similar problem when trying to copy paste manually from a table that has been filled by code written in officejs , and the borders are not copied ,only the data...
i would appreciate if you could join here apiece of code that configure the table while being created by the code to include 'all borders' so when copying from it, the

[2021-06-02 09:12] clavx commented on #1250
Thank you for letting me know.

[2021-06-02 10:05] #1897 closed, assigned to exextoc

[2021-06-02 11:00] ghost commented on #1876
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-02 11:00] #1876 closed, assigned to nobody

[2021-06-02 13:43] ThangaSperumal commented on #1895
Hello Lillian Liu,

Thanks for looking into this issue.

Regards,
Thanga

From: Lillian Liu ***@***.***>
Sent: Tuesday, June 1, 2021 5:23 PM
To: OfficeDev/office-js ***@***.***>
Cc: Thanga Perumal ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Task pane auto open doesn't work when deployed under Office 365 Organization Centralized Deployment (#1895)

@ThangaSperumal<https://

[2021-06-02 19:00] Techno11 opened #1903 "Outlook: addFileAttachmentFromBase64Async with isInline: true not displaying"
# `addFileAttachmentFromBase64Async` with `{isInline: true}` yields no image in body of email

## Your Environment

* Platform: Outlook Desktop for Windows, Outlook on the Web
* Host: Outlook
* Office version number: 16.0.14026.20202
* Operating System: Windows 10
* Browser: Chrome 90

## Expected behavior
Image to be added inline of the email body

## Current behavior
Attachment appears to be lin

[2021-06-02 19:14] lliu113 commented on #1867
@ektadesai22 - another quick test you can do is to try and run the Scriptlab add-in. This will determine if it is a platform issue. To acquire the add-in, go to your Excel App > Insert > Get Add-ins > Search for Scriptlab > Click "Add". Once installed, try and launch a dialog by clicking on "Tutorial" in the ribbon.

Let us know if you're able to successfully launch a dialog. If so, there might be

[2021-06-02 19:24] lliu113 commented on #1784
@frankaddelia - thanks for providing the extra context + stackoverflow link! Will pass that along to our engineering team.

[2021-06-02 19:25] Techno11 commented on #1429
I'm experiencing the exact opposite in #1903 ... My 'inline' image doesn't show at all.  However, it could be a difference between `addFileAttachmentAsync` and `addFileAttachmentFromBase64Async`

[2021-06-02 19:36] lliu113 commented on #286
@hengchengfei - know it's been awhile but wanted to provide a quick update. This bug is still in our backlog, there are some underlying shared office code that may be causing this issue and we don't currently have an ETA but we are working on it. Thanks!

[2021-06-02 19:39] Techno11 commented on #1894
I also noticed this issue when I was debugging one of my other issues

[2021-06-02 19:43] Techno11 commented on #1903
Something of note for this issue on Outlook on the Web, I have the react debug tools enabled that outlines elements when a re-rendering is triggered.  After attempting to attach an image inline, the email editor does re-render, as if something is supposed to change, but nothing actually does.

[2021-06-02 19:56] lliu113 commented on #653
@SWDevB - sorry for the very late response to this. The behaviour you're witnessing is by design, the dialog only supports a very limited range of APIs. As a workaround, we suggest passing data between the dialog and taskpane via the [messaging APIs](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#send-information-from-the-dialog-box-to-the-host-page).

The

[2021-06-02 19:56] #653 closed, assigned to lliu113

[2021-06-02 20:28] lliu113 commented on #1651
@dhilgarth - sorry for the belated response to this, and thanks for reporting this issue! I'm able to repro this online, will open up a bug to track this internally.

Bug tracking #:5160518

[2021-06-02 20:40] yihuax-msft commented on #1187
@jnSWPC, Do you still have this issue? Thanks.

[2021-06-02 22:39] ektadesai22 commented on #1867
@lliu113 - I have found the root cause why it is not loading but I am not able to understand what causing it.

I have use window.location.href in DialogParentMessageReceived event. It is not redirecting. So I made changes and reopen dialog for that URL.

`Office.EventType.DialogParentMessageReceived,
    (event) => {
		var req = new XMLHttpRequest();
		req.open("POST", "/xxx/");
		req.onreadystate

[2021-06-03 05:25] prk21 commented on #1863
Hi team, any updates that what is the cause of this issue? and any fix in place yet ?

[2021-06-03 07:14] dgtllion opened #1904 "MSWord: After calling section.getHeader("Primary") multiple headerReferences and footerReferences are added to .docx xml"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When i open new document and extract XMLs within `.docx` file i see these references:
[code]
But after running this code below i get multiple headerReferences and footerReferences:
[c

[2021-06-03 09:39] gercobrandwijk commented on #1644
@jayrathi Do you have any idea how this solves the problem/How this caused the problem?

[2021-06-03 09:48] ralphtheninja commented on #256
I have the same issue and there's no apparent way or workaround to make this work. Why was this issue just closed without giving a single explanation?

[2021-06-03 15:00] ghost commented on #1874
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-03 17:55] exextoc commented on #1873
Hey @markdon ,

According to our documentation, "group" is not a valid recipientType. The recipient types are [documented here](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.recipienttype?view=outlook-js-preview) and are expected to show "other" for group email addresses.

[2021-06-03 19:01] lindalu-MSFT commented on #1456
@ElizabethSamuel-MSFT Easiest of @YutongLi291 opens the issue in the https://github.com/OneNoteDev/OneNoteApi repo. Once the issue is cross referenced here, we can close.

[2021-06-03 22:31] pkkj commented on #1864
Hi, I am wondering would you like to try the sample code for messageParent API in our document in your environment? We would like to determine whether it's the API issue, or it's the add-in's coding issue. Thanks.

[2021-06-04 06:00] hengchengfei commented on #286
almost 3 years~~~

[2021-06-04 08:56] somenathmaji opened #1905 "getSharedPropertiesAsync() isn't returning correct shared mailbox properties"
On a multiple shared mailbox setup, getSharedPropertiesAsync() is returning the properties of the different shared mailbox.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.49
* Operating System: Big Sur (11.4)
* Browser (if using Office on the web): N/A

## Expected behavior
The API should r

[2021-06-04 11:39] Ssereno commented on #1864
@pkkj Yes. When and how?

[2021-06-04 14:06] hazcod opened #1906 "[Outlook] How to get raw email EML?"
Hi looking at the Outlook API, I do not see a way to retrieve the raw email source? (EML)
Typically:
[code]

[2021-06-04 14:23] Petryxasport commented on #1845
Thank you! Updating of manifest works fine!

[2021-06-04 16:10] peterdesio opened #1907 "Outlook Plugin Not Releasing Memory"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: ______
* Operating System: Windows
* Browser (if using Office on the web): Edge (through Outlook plugin)

## Expected behavior
Memory should release whenever an email is closed

##

[2021-06-04 17:34] ektadesai22 commented on #1866
@smaremanda - Could you please help me on this?

[2021-06-04 17:39] massonj commented on #1517
There are a few ways that you can keep up with changes happening in Office add-ins and APIs
1) We have a blog here where we discuss larger features and announcements - https://developer.microsoft.com/en-us/microsoft-365/blogs/technology/office-add-ins/
2) We also host a monthly community call where we share information on what the team is working on - https://docs.microsoft.com/en-us/office/dev/ad

[2021-06-04 17:39] #1517 closed, assigned to sumurthy

[2021-06-04 23:00] yihuax-zz commented on #1904
Let me file a bug and then investigate this issue. Thanks for letting us know.

[2021-06-05 03:23] yihuax-zz commented on #1904
I investigated the issue, and I think this is by design.

When a new document gets created initially, we don't create the header and footer sub-documents.  We create them when they are needed.

We can repro this manually:

  1.  Start Word.
  2.  Create a blank document.
  3.  Don't touch the header or the footer areas.
  4.  Save the document.
  5.  Close Word.
Check the newly created .docx file:

[2021-06-05 09:04] exextoc commented on #2626
On digging futher we realised the join button should not be already appearing for meetings created with PGiConect addin. We will have to add rules based on the HTML you provided. Yes, the rule will check for existance of Teams URL.
We have added this task to our backlog but we cannot share any timelines at the moment.

[2021-06-05 17:18] paulnearney commented on #2626
Thanks @exextoc. Is there any way for me to get a notification when timelines are available?

[2021-06-05 18:00] exextoc commented on #2626
Yes definitely we will keep you posted here.

[2021-06-05 19:19] dgtllion commented on #1904
@yihuax thanks for your answer. Thats correct, but...
The design does also the following:

1. Start Word.
2. Open blank document.
3. Double click the header area. Now the cursor is in header. This makes the header/footer ready for operation.
4. **Type something in there**
5. **Now click the body (so that the cursor will be in body)**
6. Save the document
7. Quit Word.
8. Check `.docx` file

You'll

[2021-06-06 14:33] eat-sleep-code commented on #1871
@exextoc Were you able to find any issues in the Manifest, or any indication why this is failing?

[2021-06-06 14:43] peronald commented on #1906
Thank you for this question. To better assist you, we suggest you go to [Stack Overflow](https://stackoverflow.com/) and see if your question has already been asked or ask a new question with the tag outlook-web-addins. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and we will follow up there.
Thanks,
Microsoft 3

[2021-06-06 15:02] #1888 closed, assigned to nobody

[2021-06-06 15:12] #1879 closed, assigned to nobody

[2021-06-06 17:50] exextoc commented on #1871
Hey @eat-sleep-code ,

Sorry for the delay. Since your manifest does not contain a hosted endpoint we could not test it out. However, We have tested your original repro steps in Big Sur 11.4 with Outlook Version Outlook 16.49 (21050901) on New Outlook and it seems to work fine (the issue does not reproduce). We tried to replicate your scenario in an add-in with the same Mailbox permissions, but th

[2021-06-06 17:51] #1875 closed, assigned to exextoc

[2021-06-06 18:18] exextoc commented on #1906
What do you mean by Email? If you need Email Id, it is available under `Office.context.mailbox.userProfile.emailAddress`
Or are you trying to get complete item in the form .eml file?

[2021-06-06 21:26] eat-sleep-code commented on #1871
@exextoc : Two separate users, encountered same issue.  Do you have a method to send you the hosted endpoint information without sharing the information publicly with the world? :)

[2021-06-07 00:00] ghost commented on #1867
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-07 03:41] ektadesai22 commented on #1867
@lliu113 - I have found the root cause why it is not loading but I am not able to understand what causing it.

I have use window.location.href in DialogParentMessageReceived event. It is not redirecting. So I made changes and reopen dialog for that URL.

Office.EventType.DialogParentMessageReceived, (event) => { var req = new XMLHttpRequest(); req.open("POST", "/xxx/"); req.onreadystatechange = fu

[2021-06-07 06:56] mstancu-globe opened #1908 "Word Add-In not available in the Office Store"
## Expected Behavior
I have published an Word Add-In to the Office365 available for all people in the organization.

## Current Behavior
The Add-In is not available in the Office Store, it not appearing in the search.

## Steps to Reproduce, or Live Example
The Add-In is called Amelkis DM and it was published by aboulcane@amelkis-solutions.com

* Additional details:
  1. ______
  2. ______
  3. __

[2021-06-07 08:57] clavx opened #1909 "recipientType value is not distributionList"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
The value of the `recipientType` property of the `Office.EmailAddressDetails` object obtained by the `getAsync` method is no

[2021-06-07 09:35] SergDi commented on #1867
@lliu113 - I have added some content to the page that opens in a dialog box for testing. I can see this content, so the problem is not caused by the onReady callback.
After this, a Javascript running the oauth code flow is started on this page, and then Auth0 Authorization Server redirects the user to the login and authorization prompt.
This page is not displayed in the dialog box.

[2021-06-07 13:54] DmitryKostochko opened #1910 "Outlook Online, item.body.setSelectedDataAsync() inserts text not into the current selection but underneath the default signature"
In an Outlook add-in for compose mode, we use the item.body.setSelectedDataAsync() method to insert HTML into the current selection. In case of a new email message that has a signature inserted automatically, the item.body.setSelectedDataAsync() method inserts HTML below the signature.

## Your Environment
* Platform: Office on the web
* Host: Outlook
* Office version number:
* Operating System: W

[2021-06-07 16:00] els-ts commented on #448
@AbidRahman-MSFT @kbrandl - do you maybe know what's the status of the internal investigations ticket?

[2021-06-07 16:06] Dengshan2018 commented on #1862
@SWei1234 , it seems that antivirus is causing the issue when inject the code. you might follow the steps for trouble shooting: https://textslashplain.com/2019/09/27/aw-snap-every-tab-crashes/

[2021-06-07 16:10] Dengshan2018 commented on #1907
@peterdesio , what do you mean "Memory is not released"? are you seeing the memory of outlook keep increasing when repeat the steps? how much is increased each time?

[2021-06-07 16:17] peterdesio commented on #1907
It keeps adding a Webview task. We opened this ticket at the request of our Salesforce technician. He has a detailed description of the issue, with screenshots, and will be a better technical resource than me.

--
Pete DeSio
Principal

CAPITAL S CONSULTING

e: ***@***.***

[2021-06-07 16:42] AbidRahman-MSFT commented on #448
Hey @els-ts,

This issue was investigated in November of 2019 and we were not able to get a stable reproduction of the issue and have deprioritized it.

If you are able to reproduce this issue effectively, please open a new issue with the appropriate repro steps.

Thanks,
Abid

[2021-06-07 16:42] #448 closed, assigned to AbidRahman-MSFT

[2021-06-07 18:00] ghost commented on #1874
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-07 18:53] yihuax-zz commented on #1904
Good discovery! Let me investigate more.

[2021-06-07 19:04] pkkj commented on #1864
You could try to write a simple sample based on our documentation.

You could also try to side load a test add-in. Here is the manifest:

[code]

You could click "LaunchDialog" to launch the dialog.
![image](https://user-images.githubusercontent.com/7818153/121074101-3f839600-c788-11eb-8680-8bc07b5d7a25.png)

Then click the "Close this dialog" to test the closing code.
![image](https://user-images

[2021-06-07 19:15] AbidRahman-MSFT commented on #353
This issue has been fixed in version 16.0.11329.1+ for Word. If you are still running across this problem, please open a new issue. Thanks.

[2021-06-07 19:15] #353 closed, assigned to AbidRahman-MSFT

[2021-06-07 19:17] AbidRahman-MSFT commented on #384
This issue was fixed in version 16.0.12528.1+. Please feel free to re-open the issue or create a new one if the problem still persists. Thanks.

[2021-06-07 19:17] #384 closed, assigned to AbidRahman-MSFT

[2021-06-07 19:19] davidfishlock opened #1911 "Calls to mailbox.getCallbackTokenAsync and notificationMessages.replaceAsync sometimes fail on Outlook Win32 with permissions error."
Our add-in runs within the read item view, which means that it should implicitly have the necessary permissions to call both [getCallbackTokenAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-1.5&preserve-view=true#getCallbackTokenAsync_options__callback_) and [notificationMessages.replaceAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/off

[2021-06-07 19:41] AbidRahman-MSFT commented on #567
Hey @va1729,

I apologize for the delay. It looks like in your sample, you're missing the .bindings property. I've changed the second function in your sample to the following:

[code]

The above snippet will now search for the binding with the "myBinding" id and can successfully log the type and id to the console:
![image](https://user-images.githubusercontent.com/53581099/121078288-fa666080-c795-

[2021-06-07 19:41] #567 closed, assigned to AbidRahman-MSFT

[2021-06-07 20:11] AbidRahman-MSFT commented on #730
@ndeeH - This post has been stale for quite some time. Are you still experiencing the same issues?

[2021-06-07 20:12] #755 closed, assigned to shaofengzhu, AbidRahman-MSFT

[2021-06-07 20:13] AbidRahman-MSFT commented on #892
Hey @jrpally, as this issue has been stale for quite some time, I am going to go ahead and close the issue. If you are still experiencing this issue, please feel free to re-open or add a new issue. Thanks! :)

[2021-06-07 20:13] #892 closed, assigned to AbidRahman-MSFT

[2021-06-07 20:27] AbidRahman-MSFT commented on #898
Hey @GeorgeBalat - I am still unable to repro the issue you are mentioning. As this is unrelated from the original problem this issue was created for, can you please post a new issue with details around how to reproduce the problem you are facing? Thanks!

[2021-06-07 20:27] #898 closed, assigned to AbidRahman-MSFT

[2021-06-07 20:28] AbidRahman-MSFT commented on #894
Hey @ankushsolao - this issue was resolved in the following thread: https://github.com/OfficeDev/office-js/issues/898

I'm going to go ahead and close this as a duplicate. Please feel free to re-open if you have more info or questions. Thanks!

[2021-06-07 20:28] #894 closed, assigned to AbidRahman-MSFT

[2021-06-07 20:32] AbidRahman-MSFT commented on #1059
Hey @nocoli, I apologize for the delay in getting back to you, are you still facing the same issue today?

[2021-06-07 20:47] urielgb413 commented on #1863
Hello, any updates on this issue? seems to happen only for Word Online, as it works as expected in Word for macOS.

[2021-06-07 20:48] lliu113 commented on #269
@dgrudenic - thanks for reporting this issue to us, it looks like this has been fixed! I wasn't able to repro this anymore, after opening the document (and the taskpane auto-opening), clicking on the auto-open sample button refreshes the already opened pane instead of launching a new one.

Will close this issue for now, please reactivate if you're still seeing the double taskpane on your end and w

[2021-06-07 20:48] #269 closed, assigned to lliu113

[2021-06-07 21:39] exextoc commented on #1903
When adding an inline attachment, the attachment won't automatically appear in the message. You'll need to modify the html body of the message to include an `<img>` element with a reference to the inline attachment.

Adding to your example, this code calls `prependAsync` with an `<img>` element, though `setBody` would work as well.

[code]

In the `addFileAttachmentFromBase64Async` doc, there's [a

[2021-06-07 21:56] lliu113 commented on #1078
@Domen122  - thanks for reporting this, sorry for the very belated response. I'm unable to repro this on my end - the long title introduces the horizontal scroll but the "x"/close button still works. Can you confirm whether you're still seeing this issue?

Thanks!

[2021-06-07 22:16] AlexJerabek commented on #1391
Closing because the documentation updates have been made.

[2021-06-07 22:16] #1391 closed, assigned to AlexJerabek

[2021-06-08 05:27] ndeeH commented on #730
@AbidRahman-MSFT - The behavior is still the same - you should be able to reproduce using the video of the initial issue post.
(I had to click in the search box above word online to move the focus out of the document)
I provided a non optimized version for debugging this issue to Kaidal but never got any response. 🤔

[2021-06-08 05:36] Dengshan2018 commented on #1907
@peterdesio could you ask Salesforce technician to add more details?

[2021-06-08 06:23] yihuax-zz commented on #1904
I investigated more. Looks Word has the following function: When the focus goes from the header/footer view back to the main doc view, Word knows it is the end of header/footer editing, so Word removes the extra unused headers/footers.

When the API getHeader or getFooter is called, it is basically equivalent to entering the header/footer editing view. But we don't know when or which API marks the

[2021-06-08 06:29] saurabh-msft commented on #1908
Hi @mstancu-globe

Can you please give us more details as below?
1. When was the add-in published?
2. Publisher Name/ProviderName
3. Screen Snapshots indicating submission went through fine on Partner Center portal
4. Can you confirm the add-in name is 'Amelkis DM' and is only for MS-Word workload?
5. Have you got any email from Microsoft Validation team on validation errors and progress?

[2021-06-08 06:43] JinghuiMS commented on #1902
Thanks for reporting. BUG 5172411 has opened for internal track.

[2021-06-08 06:55] Kaidali commented on #730
hmmm, I can repro it but met errors while debugging. Will ask my colleague to help follow up.

[2021-06-08 06:56] mstancu-globe commented on #1908
Hi @saurabh-msft

1. It was published on 28 May 2021
2. Amelkis Solutions https://www.amelkis-solutions.com/fr/
3.
![Published](https://user-images.githubusercontent.com/52195836/121136152-ff7eea80-c83d-11eb-956b-58852303e271.png)
4. Yes it's Amelkis DM
5. The publisher did not receive any email from Microsoft
6. It was published from the account aboulcane@amelkis-solutions.com

[2021-06-08 07:34] SWei1234 commented on #1862
@Dengshan2018
Thanks for your help. We will try this.
Thanks

[2021-06-08 09:30] dgtllion commented on #1904
Ah thanks @yihuax
Can i have a notice when it will be released?
Or is there a page or roadmap where i can check?

[2021-06-08 10:27] els-ts commented on #448
Thanks for letting me know.

I'll verify if this is still happening and will try to find easier steps for reproduction if it does.
I'll reopen ticket if I get any findings.

[2021-06-08 11:14] jasonhieu1905 opened #1912 "removeWhenEdited with content control causes the issue on Web"
when inserting text, html into a content control and mark it removeWhenEdited . It throws the exception on the web

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the Web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): Chrome

## Expected behavior
- it should not sh

[2021-06-08 12:53] andreagasparin commented on #1887
Hi @smaremanda @lliu113,
Any news on this?

[2021-06-08 14:01] saurabh-msft commented on #1908
Hi @mstancu-globe

We don't seem to have a record of this add-in with our validation team. Is this a published add-in? Or a Sideloaded add-in?
Can you please give a snapshot from the partner center portal indicating this is a published add-in. The snapshot you gave above is from the admin portal. We need the snapshot from partner center portal.

[2021-06-08 14:16] bx-steven commented on #1884
I've upgraded my Office to Version 2103, and the addin still crashes. For context, this is happening for multiple users that are trying to open the addin on a shared calendar item. We've tried removing/resharing a calendar (Can view all details) as well which didn't make a difference:

- As mentioned earlier, the primary issue we're dealing with is that the itemId's are mismatched when opening on

[2021-06-08 15:21] DmitryKostochko commented on #1910
Oops, we have just found that setSelectedDataAsync() inserts HTML at the very bottom when you forward an email. Here are the steps:
- select an email in Inbox.
- click the Forward button.
- do not switch the keyboard focus to any other control.
- execute the code above.

The presence or absence of an email signature does not affect anything in this case.

Shall I post this issue in a separate bug

[2021-06-08 15:39] exextoc commented on #1901
Please ensure that you are on Insider Beta Channel to use event-based activations. New events are in preview (not requirement set 1.10), refer to [this ](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#supported-events) documentation for more details.

[2021-06-08 15:59] sarea commented on #1877
Hi @exextoc, step to reproduce the issue:

- user 'A' has access to user 'B'
- user 'A' login to user 'B' by open another mailbox from the top right corner list
- now in the window of the user 'B' mailbox, the user  'A' try to install the add-in from 'create a new draft' => get Add-ins => My add-ins => add custom add-in => add from URL then install!
- the result is the screenshot that added in the

[2021-06-08 16:52] Techno11 commented on #1903
Thanks! I missed this in the documentation. I'll give it a shot and update here if I have any issues.

[2021-06-08 16:52] #1903 closed, assigned to JuaneloJuanelo, exextoc

[2021-06-08 16:53] Techno11 commented on #1901
I'll do that. Thanks for the response! I'll update here if I have any additional troubles.

[2021-06-08 16:53] #1901 closed, assigned to exextoc

[2021-06-08 17:53] lliu113 commented on #1075
@shivinder5 - thanks for reporting this issue, and apologies for the belated response. We were able to repro this on desktop, but not online. I've opened a bug to investigate -
Internal Bug: 5174058

[2021-06-08 21:01] lliu113 commented on #1014
@ravitejagGitHub - thanks for reporting this issue, and apologies for the belated response to this. We did some investigation and it appears to be an async execution issue in Excel. Are you able to provide the manifest for your add-in so we can repro this on our end?

@jordan21398 - sorry you're hitting this, are you able to open another github issue so we can track it appropriately? Don't want it

[2021-06-08 21:21] yihuax-zz commented on #1904
No, the same select() method, but improved behavior: When the new selection is in header/footer, Word goes into the header/footer view.

If nothing unexpected happens, it should be in the June's monthly release, and you will get the update in late July. I will tell you the earliest Office version that contains the change.

@***@***.***>, Do we issue any notice or whether we have a page to check th

[2021-06-08 21:53] lliu113 commented on #1356
@AltitudeApps - sorry for the issues you're hitting and the belated response, I know it must be frustrating. On your mention of chromium, WebView2 is now available for add-ins from Office version 16.0.13127.20082. For more information, see this [blog post](https://developer.microsoft.com/en-us/office/blogs/announcing-webview2-for-office-add-ins-platform/).

Please let us know if your add-ins are c

[2021-06-08 22:18] lliu113 commented on #1867
@ektadesai22 - thanks for debugging this. Just so I understand, the dialog was throwing an error when you were using window.location.href, is the code you provided the fixed version? So instead of redirecting directly you're setting the URL as part of the DialogParentMessageReceived event and navigating to it from the dialog?

@SergDi - is your dialog displaying correctly, but throws the "Sorry we

[2021-06-08 23:36] exextoc commented on #1911
What version of Outlook Windows desktop client are you on?

[2021-06-08 23:38] exextoc commented on #1898
Ensure that the dialog box's domain is the same as the domain of the host page, refer to the dialog documentation [here.](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#open-a-dialog-box-from-a-host-page)

[2021-06-08 23:45] massonj commented on #1900
@leybal closing this issue assuming that @xiaochunms 's suggestions resolved the issue for you. If not, feel free to re-open, and please include the information from the runtime logs.

[2021-06-08 23:45] #1900 closed, assigned to sumurthy, lumine2008

[2021-06-09 05:36] lumine2008 commented on #1831
@derek-vena , we fixed the issue, would you please validate, see if you can repro this issue? thanks

[2021-06-09 06:50] SergDi commented on #1867
@lliu113  -
I already solved the problem, I added setTimeout for the oauth code runs

[2021-06-09 07:13] dgtllion commented on #1904
@yihuax , one more question...
I see that you are using twice `select()` method. Why is `hdr.select();` needed?
Will it not select if i do `section.getHeader("Primary")` anymore and i need to call `hdr.select()` always to manipulate data init?
And i see also that you are using `setTimeout(setCursorBack, 3000);` Why is that?
You cant call it directly? like this?
[code]

[2021-06-09 09:35] exextoc commented on #1905
We are unable to repro this issue at our end. Can you share following to details to help us repro the issue:
1. Are you using [New Outlook](https://support.microsoft.com/en-us/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439) for Mac?
2. Does it repro on both Old and New Outlook ?
3. What do you mean when you say "Open a shared mailbox A"? Does it mean opening an existing email

[2021-06-09 13:14] exextoc commented on #1898
Message parent failures are often caused by failing domain validation where the dialog URL is not the same as the taskpane it’s trying to call.   It is okay for the dialog to redirect after launch but it must ensure that all communication between the dialog and the taskpane is according on the same domain.

 Refer to the document for using dialog with authentication [here.](https://docs.microsoft.

[2021-06-09 14:52] Ssereno commented on #1864
@pkkj It close the dialog and send a message to the parent.

![image](https://user-images.githubusercontent.com/32569245/121378006-b82a5400-c93a-11eb-9e78-4a9cacd8c57a.png)

[2021-06-09 17:32] atvoegerl opened #1913 "Salesforce Outlook Integration - Microsoft Edge Webview2 - Multiple Instances running and Memory Leak"
When using Salesforce Outlook Integration to log emails the add-in will crash.  We have observed that multiple instances of Microsoft Edge Webview2 are running as Outlook processes in Task Manager.  We have determined that these processes are spawned by the Outlook Integration add-in.  We would only expect 1 Webview2 process to run.  In addition to the multiple processes, memory usage increases wi

[2021-06-09 17:39] yihuax-zz commented on #1904
Looks Word can remove the extra unused header/footer when Word leave header/footer view, so our API can do the UI change by first entering the header/footer view (hdr.select(); or select anything in header/footer), and then leave the header/footer view (context.document.body.select();  or select any other places in main document).  section.getHeader("Primary") only returns the header/footer's body

[2021-06-09 17:47] yihuax-zz commented on #1904
I have submitted the change to office version 16.0.14210. You can check the new version you are receiving and see whether it is 14210 or later. Unfortunately, we don't have a webpage to let the users outside to monitor the release process. Thanks!

[2021-06-09 18:04] dgtllion commented on #1904
Ah ok, uhmmm the version that i have now is 16.49.21050901 (MacOS). or you mean this is the version of office.js?

[2021-06-09 19:19] Ssereno commented on #1864
@pkkj if you want try my sample. The source code and manifest are available here https://github.com/Ssereno/office365

[2021-06-09 20:03] yihuax-zz commented on #1904
For MacOS: Your version is the April release.  The May release could be rolled out very soon. My change will be in June release.

MacOS version 16.51.210610xx or later contains the change.

[2021-06-09 20:18] StephenRieger opened #1914 "Word Online: insertOoxml() inserts a copy of the OOXML when there's anything more than just the content control in a paragraph"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint

[2021-06-09 22:19] pkkj commented on #1864
I am not able to run your add-in since I don't have the similar development environment. But I copy most of the core code from your test add-in (except Angular) to my test add-in. And those codes are working correctly.

You could use my test add-in again. There is a new button called "LaunchDialogOauth" which will launch the "login.html" directly. I cannot launch https://stg-identity.primaverabss.

[2021-06-10 02:32] derek-vena commented on #1831
@lumine2008 we just tried the issue on both Mac and Windows with the latest available Excel version and was still able to reproduce the issue with the provided code block.

Here's the Mac version we tested on
![image](https://user-images.githubusercontent.com/83288408/121455394-63a2cb00-c972-11eb-901a-31fc6a6a2302.png)

And here's the Windows version
![image](https://user-images.githubusercontent.

[2021-06-10 05:28] ektadesai22 commented on #1866
Finally, I found the root cause.
The office is using Internet Explorer for addin and ES6 is not supported in IE11.
I have used Arrow functions which are not supported in IE11 and because of that office.js is not loading. I have replaced the arrow functions with normal functions and then it works fine.

[2021-06-10 07:33] somenathmaji commented on #1905
I tried to repro it now and it's showing `TypeError: window.Office.context.mailbox.item.getSharedPropertiesAsync is not a function.` It's weird because a few days back it used to behave differently and show wrong shared properties. The requirement set 1.8 is supported and I'm using it from a shared mailbox. Here's a screenshot of the error -

<img width="1490" alt="Screenshot 2021-06-10 at 12 56 4

[2021-06-10 07:51] AkshayDudhe opened #1915 "Word : Replacing starting/end word from range causing removal of that word from range."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am working on project where I want to replace words in selection range.When I replace first word from the range it omits the first replaced word and starts from second word which ca

[2021-06-10 09:03] mstancu-globe commented on #1908
Hi @saurabh-msft

They don't have a Microsoft Partner account. They will create one and will publish from there.
Thank you very much!

[2021-06-10 11:39] ndvbd commented on #100
I see this problem of "Word undefined" in Word 2013, but I don't see it in Word 365. Any progress here? There are many users with Word 2013.

[2021-06-10 11:44] higearappdev commented on #1395
Hello all,

Just putting this out here in the hopes it may be useful for someone else

I ran in to the same issue where #busy is shown indefinitely while using the shared runtime. In my case I had included the import <script src=".../custom-functions-runtime.js" type="text/JavaScript"></script> in my task pane.html. Simply removing that line solved it for me.

[2021-06-10 12:48] barisbikmaz commented on #1912
I suspect that the commands are not synched in the order in which they are typed. On Windows Desktip it works.

[2021-06-10 12:53] harri-rajala-koivu-solutions opened #1916 "Excel copies formulas from other rows even when the formula has been set to empty string, null or undefined for that row."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When adding column data to the table, Excel copies formulas from other rows even when the formula has been set to empty string, null or undefined for that row.

## Your Environment

*

[2021-06-10 14:13] htryggva opened #1917 "ContentControl.insertHtml with class reference doesn't work on Word for the Web"
When inserting HTML to a Content Control that references a built in Word Style, it doesn't work on Word for the Web as it does on Word for Windows:

[code]

## Your Environment

* Platform: Office on the web
* Host: Word
* Office version number: 16.0.14208.41014
* Operating System: Windows
* Browser (if using Office on the web): Edge

## Expected behavior
The paragraph attributed with the `msoTitl

[2021-06-10 14:13] davidfishlock commented on #1911
@exextoc As I mentioned above I am not reproducing this locally, I see it in Sentry reports from users.

I see errors coming from versions `16.0.13903.10000` and more recently `16.0.14021.10000` of `outlook-win32-16.02.js`.

[2021-06-10 15:20] piedrahitapablo commented on #1898
Yeah, I think that's what's happening here and I can solve it just as the dialog with authentication document says, opening the dialog first on the add-in domain and then redirecting to the microsoft domain, and that's a good solution. The only thing that keeps me thinking is that opening the dialog directly on the microsoft domain only fails on the windows client, the rest of them (mac and web) w