[2020-09-17 19:49] exextoc commented on #1379
Hey @LovikaJain ,

Can you please share the logs on the console or debugger (in the browser inspector) after the add-in runs? That can help us debug what might be going wrong.

[2020-09-17 20:04] exextoc commented on #1389
Hey @T-Roth ,

Can you give me the javascript transpiled version of this code so that I can understand better? The semantics make it a little confusing to actually understand what it's trying to do. Also, can I understand why you would need to call getAccessToken twice, since calling it twice consecutively is likely to return the error "The operation failed because this add-in is already requestin

[2020-09-17 21:48] T-Roth commented on #1389
@exextoc
I only called it twice in a row in the code I posted above when I was trying to trouble shoot the issue.  My actual app does not do that, but like I said there is a logout button on my Spa app so when the user tries to log back in that 2nd call will trigger the error.

[code]

[2020-09-17 21:56] osasseville opened #1392 "Word: Context menu is not visible when right-clicking a paragraph within a list (Word Desktop)"
When adding an OfficeMenu with an id set to "ContextMenuText", the context menu is only visible to the paragraphs that are not an element of a list (numbered or bullet) in word desktop. It's important to note that is not the case of Word on the web.

## Expected Behavior
It should either work on be mention in the documentation.

## Current Behavior
Context menu displays in any paragraph that is no

[2020-09-18 03:13] SWei1234 commented on #653
Hi @exextoc
Any idea about this?
I met the same issue on Outlook 16.0.4266.1001 ,Windows 10 1903, IE version 11.1457.17763.0

Or you think this is not related with office.js?
Thanks

[2020-09-18 09:34] kullachoke-bosuwan-rft opened #1393 "[Excel] `delayForCellEdit ` is not working as expected."
Based on this page https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-delay-in-cell-edit,
I've already set `delayForCellEdit` option but the batch request has not wait for user to exits cell edit mode. The api failed to write new value to cell without any errors.

## Steps to Reproduce, or Live Example
`
Excel.run({ delayForCellEdit: true }, (ctx) => {
  const ws = ctx.workboo

[2020-09-18 10:39] BelikovSergey commented on #1244
This is easily reproduced on Windows desktop Outlook from Office 365 when it is working in Online mode. Maybe something broken at Exchange end? Since AFAIK internet-message-id generated and set by it.

[2020-09-18 17:11] lindalu-MSFT commented on #1387
Hi @dinglicoding I assigned this to triage but we need to know more about your environment. Please fill in the following template:

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______

[2020-09-18 17:14] #1365 closed, assigned to nobody

[2020-09-18 17:16] exextoc commented on #1385
Hey @SWei1234 ,

Unfortunately, we are unable to reproduce this issue.

To be clear about the repro steps:
1. We open a new appointment on a Shared Calendar in Outlook for Mac Client.
2. In the Appointment compose, we launch an add-in which sets and saves Custom Properties (using saveAsync) to the appointment.
3. We save/send the appointment.
4. We reopen the appointment and check for custom prope

[2020-09-18 17:52] bx-anil opened #1394 "ItemId on shared calendar item is empty"
ItemId on Shared Calendar is not available when the shared calendar is from a mailbox in a different region

## Expected Behavior
ItemId on shared calendar item should be available if the calendar was shared with delegate/edit permissions even if the mailboxes are on different region.

## Current Behavior
There is no ItemId on shared calendar item when the shared mailbox is in a different region

[2020-09-18 18:01] cghaddar opened #1395 "Excel custom functions in shared runtime display #BUSY! indefinitely until another unrelated action is performed from the TaskPane"
Almost consistently, a custom function in shared runtime will remain in #BUSY! state for over a minute or until  another unrelated action is performed in the Taskpane. Normal computing time should be a fraction of a second.
Often just opening a closed Taskpane is sufficient to trigger the function to display the result. This seems to happen for async custom functions using office.js api.
I can pro

[2020-09-18 18:07] exextoc commented on #1384
Hey @modestfake ,

Apologies for the delay. However, we are unable to reproduce this issue on our end. Can you share an add-in manifest for an add-in where you're seeing this issue? You can share the add-in at this ID:
admin@a830edad9050849405E20081103.onmicrosoft.com

[2020-09-18 18:38] exextoc commented on #1394
@bx-anil On which Outlook platform(s) do you see this behavior (i.e. Outlook on Windows, Outlook on Mac, or OWA)?

Also, which version of Outlook is the user using?

[2020-09-18 19:16] bx-anil commented on #1394
Sorry, I missed that information. This is on Outlook Desktop v1912, v2002 and v2007 on Windows 10 v1809 and v1909. Also on OWA (Chrome v84) we cannot open the shared calendar meeting item. Double clicking on the item doesn't work.

[2020-09-18 20:11] cghaddar opened #1396 "Runtime logging from custom functions in shared runtime with console.log() does not work"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I followed the instructions to enable runtime logging given here using both npx and registry RuntimeLogging key
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/runtime-log

[2020-09-19 09:50] modestfake commented on #1384
Hey @exextoc,

Thanks! I've sent my manifest to that mailbox.

[2020-09-19 13:09] exextoc commented on #1312
Hey all,

Unfortunately, we are still investigating this issue. Please do use the Graph API as a workaround for getting the recurrence of the meeting till this is resolved: https://docs.microsoft.com/en-us/graph/outlook-schedule-recurring-events

[2020-09-19 13:19] exextoc commented on #653
Hey @SWei1234 ,

Are you facing an issue with messageParent for an Outlook web add-in? Is the issue only on a particular platform? (Outlook for Windows/Mac/OWA)

[2020-09-19 13:26] exextoc commented on #1389
Hey @T-Roth ,

I am unable to correctly reproduce the exact issue. The second call to accessToken should return an exception, but should not fail with the trace that you have mentioned. Could you just execute a simple code snippet:
[code]
And see if you see the same error? (The handling of the promise might be irrelevant in this case).

[2020-09-19 13:59] exextoc commented on #1381
Hey @sarea ,

Yes, builds would have been updated as per the rollout. Do you see this behaviour consistently across your accounts now?
By disable I mean that the fields are non editable by the user.

[2020-09-19 14:04] exextoc commented on #1119
Hey @clavx ,

Thanks for the elaborate repro steps. We are investigating this issue and working on a fix.

[2020-09-20 14:05] exextoc commented on #1367
Hey @dlpsysqa ,

Thanks for the spindumps, we will investigate this further and let you know what else we need.

[2020-09-21 01:33] dinglicoding commented on #1387
@lindalu-MSFT

Expected Behavior
after create char, we need  switch to our excel ribbon menu

Current Behavior
excel will auto switch the menu

Steps to Reproduce, or Live Example
Link to live example: ______
Additional details:
Context
Your Environment
Platform [PC desktop, Mac, iOS, Office on the web]: ____desktop__
Host [Excel, Word, PowerPoint, etc.]: __excel____
Office version number: ___vers

[2020-09-21 01:41] lumine2008 commented on #1390
Thanks @soorajhealthplotter for reporting this issue, it seems we are not be able to repro this issue, would you please use the script lab to generate the gist and I could repro this issue in our side.
![image](https://user-images.githubusercontent.com/26398035/93727632-8deb0780-fbee-11ea-9ae6-ecd18365f83e.png)

[2020-09-21 01:45] SWei1234 commented on #653
Hi @exextoc
    I got the error : {"name":"Permission Denied","message":"You don't have sufficient permissions for this action.","code":7000}
    Report api: 'displayDialogAsync'
    Currently this issue only happened on: outlook on windows.

[2020-09-21 03:21] soorajhealthplotter commented on #1390
Actually my issue is when i open the same workbook in different version of excel in different system the worksheet id is different. i am not sure how can gist reproduce issue

function run() {
  return Excel.run(function(context) {
    var range = context.workbook.worksheets.getActiveWorksheet();
    range.load("id");
    return context.sync().then(function() {
      console.log('The worksheet id

[2020-09-21 03:35] lumine2008 commented on #1393
Hi @kullachokebosuwan-refinitiv , we have created a gist https://gist.github.com/jingch0109/e814fb8cf2f035ac1c3e189fb83253c6, but it seems it works fine on XLO, would you please review the gist and suggest how we can repro this issue?

[2020-09-21 03:35] hello-chenchen opened #1397 "Android Outlook Add-in not support security verify with Android Intune App"
When user open the security verify with Intune App, they can't login in though Outlook Add-in.
it seams that the two app can’t communicate with each other.

here is a step for reproduce this problem:
[Fail Step.docx](https://github.com/OfficeDev/office-js/files/5253340/Fail.Step.docx)

and here is the configure for the CA Policies:
[CA Policies Configure.docx](https://github.com/OfficeDev/office-j

[2020-09-21 06:00] kullachoke-bosuwan-rft commented on #1393
Thank you @lumine2008  for take a look into this.

step to reproduce,
1.  import code from https://gist.github.com/kullachokebosuwan-refinitiv/ae25d695bbb457e6b8f1765ce772e1b8
2. open network console and set Network Throttling to `Fast 3G`
3. run the code and immediately enter cell edit mode on `E5`

or see this video for all steps: https://drive.google.com/file/d/16unitJbsSgvQZMKFpZ0oDzaTDban2-fn

[2020-09-21 06:38] SWei1234 commented on #653
Resolved by install update package:https://support.microsoft.com/en-us/help/4475580/september-3-2019-update-for-office-2016-kb4475580

[2020-09-21 07:49] SanketDG commented on #1388
We have since realized that this issue was happening for entirely some other reason.

Closing.

[2020-09-21 07:49] #1388 closed, assigned to exextoc

[2020-09-21 10:22] Premsagar-lab commented on #1367
@exextoc Can someone from Microsoft Support join us in discussion and debugging this issue in Customer's environment? This can help us achieve faster resolution and collect required logs from user's machine where we are facing issue.

[2020-09-21 12:25] inderjitkr opened #1398 "Unable to Pin the TaskPane"
I want to Pin my Outlook Add-Ins to maintain the Persistency and Consistency while it is being used.

I want to pin my Task pane so that while navigating to others mail it should remain open.

I got some support code to Pin the task pane from Microsoft Doc but not working.
I used <SupportsPinning> tag as option 'true'. It supposed to Work as per Microsoft but showing Version Overrides issue.

LINK

[2020-09-21 13:06] exextoc commented on #1367
Hi @Premsagar-lab sure, we can join for a debugging session. Could you send a meeting invite to admin@a830edad9050849405E20081103.onmicrosoft.com?

[2020-09-21 13:11] jak-hammond opened #1399 "Windows Outlook localStorage events not firing"
We are building a Vue.js powered add-in that makes use of various APIs in Office.js, one critical part of functionality for us is to sync the client state of the application between the taskpane and any child dialogs that it spawns, this also includes dialogs we spawn when processing the send event.

We started using localStorage to act as a 'cache' and then the client application would register a

[2020-09-21 14:02] exextoc commented on #1384
Hi @modestfake , this issue has been fixed by our team. Please update to the latest Insider Fast build (16.42 (20091509)) to get the fix. If you're not on the Insiders ring, it will roll out to all users by mid of October.

[2020-09-21 14:02] #1384 closed, assigned to exextoc

[2020-09-21 14:24] exextoc commented on #653
@SWei1234 so we take it the issue is fixed for you?

[2020-09-21 14:27] exextoc commented on #1398
Hi @inderjitkr , are you sure you're adding the SupportsPinning tag under Version Overrides 1.1, and not 1.0? Can you give a link / copy of your manifest so we can take a look at it?

[2020-09-21 16:14] lindalu-MSFT commented on #1387
@lliu113 Can you help me understand what this issue is?

[2020-09-21 17:04] inderjitkr commented on #1398
Hi, I tried adding both places under 1.0 and 1.1 version overrides but
it didn't worked and showing error. I want to add pin in the outlook
Add-Ins. Please help me.

PFA...

Thanks and Regards
InderJit Kumar

<?xml version="1.0" encoding="UTF-8"?>

<OfficeApp
          xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

[2020-09-21 18:29] modestfake opened #1400 "Several properties are missing from window.Office.context.mailbox on "New Outlook" for Mac"
I've enabled "New Outlook" for Mac and found that several properties are missing from `window.Office.context.mailbox`, and some of them have different values.

| Property | "Old Outlook" | "New Outlook" |
| ------------ | ------------- | ------------- |
| `window.Office.context.mailbox.userProfile.accountType` | `outlookCom` | `office365` |
| `window.Office.context.mailbox.item.itemId` | `AQMk...E

[2020-09-21 18:32] ZainW commented on #1116
I've been following this thread as well, I still have the problem as described by @naemcivic even on insiders build

[2020-09-21 20:24] yumao5 commented on #1116
@exextoc thank for update. But still have issues as @naemcivic mentioned. Fast build not quite works.

[2020-09-21 21:19] jak-hammond opened #1401 "Windows Outlook: internetHeaders.setAsync being ignored in on-send hook"
When you have a function file that processes a message during the send event any attempt to set internet headers during this window, specifically on Outlook for Windows, seems to result in a success from Office.js, in so much that no error is return in the async result, but when the recipient inspects the message headers, the specified header is not there.

Setting headers from a taskpane works as

[2020-09-21 21:59] exextoc commented on #1399
Can you try this out using [WebView2](https://docs.microsoft.com/en-us/microsoft-edge/webview2/). You can check that you have a recent enough build [here](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins).

Depending on your scenario, you can also try using [roamingSettings](https://docs.microsoft.com/en-us/javascript/api/outlook/office.roamingsettin

[2020-09-21 22:10] exextoc commented on #1394
Here's something to check on Outlook Desktop on Windows. If the owner of the shared calendar created the meeting, the add-in with open in **organizer** mode and the item id will be returned by [saveAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-1.8&preserve-view=true#saveasync-options--callback-). If the calendar's owner is an **attendee**

[2020-09-22 01:38] yinzixin commented on #1387
Hi  @lindalu-MSFT

This is not a issue. It's a feature request.

Currently if user clicks a cell or chart generated by the plugin, the ribbon menu will automatically show the 'Home' tab, user need switch back to plugin tab again and again. We'd like to have a way that can programmatically show the plugin tab.

Noticed there will be a new Ribbon API, but it only has  enable/disable function, is it

[2020-09-22 02:06] dinglicoding commented on #1386
Hi @pkkj,  I have add <Runtime resid="Contoso.SharedRuntime.Url" lifetime="long" /> , but it still throw ApiNotAvailabe . Can you provide a demo of this manifest. thank you

[2020-09-22 05:30] SWei1234 commented on #653
Yes, Thanks for your support.

[2020-09-22 05:57] T-Roth commented on #1389
@exextoc

Took quite a while, but I tracked it down to the  Array prototype methods in our project.  I still don't know why it causes the error, even stranger no matter what I name the methods something in outlook-web.js calls it (see image below).  Once I updated the methods to check that the index param exists, the getAccessToken error went away.

[code]

![image](https://user-images.githubuserc

[2020-09-22 06:03] xiaochunms commented on #1395
@cghaddar I tried the same locally, however I could not get it reproed. Is it possible to share a screen record that I may know the difference with operation of mine? And may you please to output the range value by adding "  console.log(JSON.stringify(range.values));" after "await context.sync()" and before "return range.value[0][0]"? You can see the output in console of F12 developing tool.

[2020-09-22 06:12] xiaochunms commented on #1396
@cghaddar in shared runtime case, the log will go to console of browser debugging tools instead of Runtime logging.

[2020-09-22 07:17] jak-hammond commented on #1399
@exextoc I've moved over to the Beta Channel and currently have version 2010 (Build 13318.20000) installed which I think, according to the documentation you linked, should be everything that is required for WebView2 to be used as the embedded browser control. Unfortunately the behavior is still the same, no storage events are being fired, even with Edge Dev Tools open, I can see that the value in

[2020-09-22 10:23] jak-hammond commented on #1401
We've been doing some more investigating this morning and there is some timing or sync issue at play here. We have been able to get it working sporadically by attempting to modify other aspects of the message, we experimented with modifying the subject or prepending an empty string to the start of the message;

[code]

That above code did result in the headers being present for a short time, but t

[2020-09-22 12:40] cghaddar commented on #1395
@xiaochunms I am attaching  the complete basic project src which produces the problem consistently. I have also captured a screen video of the behavior. In the video I set A1 to 1, then I get its value with =CONTOSO.GETRANGEVALUE("A1"). You can see that it remains #BUSY! until I open the TaskPane.  It will do the same thing on repeated evaluation.
[Excel add-in 418ab57f-10bc-48cf-834e-b48051bf875e

[2020-09-22 13:00] ArjunSureshKumar92 opened #1402 "Office.context.mailbox.item is null"
I have created an outlook add-in for our customers. For only one customer when we retrieve the Office.context.mailbox.item object, we are getting a null value. This issue only occurs for this customer and others have no issue.

The issue is only with the outlook desktop client. OWA is working fine. Customer is using windows 7/windows 2019 with outlook version 2002.

`Office.onReady(function () {
O

[2020-09-22 14:19] leybal opened #1403 "Impossible to insert a string in a cell from the Dialog Box in Desktop Excel 365 (Windows)"
We took the excel-shared-runtime-scenario sample ([link](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario)) as a base and added the ability to open a dialog box from a ribbon. A user should be able to insert a string into a cell when clicking on the "Insert from Dialog" button in the dialog box. This script works fine on Mac, Office on the web, but do

[2020-09-22 14:49] xiaochunms commented on #1395
@cghaddar Thanks for the efforts to share the screen video and the test project. I think return "range.value[0][0]" is fine as I get the result by just returning it. When you run custom functions in a shared runtime with the task pane, your add-in will run in a Microsoft Internet Explorer 11 browser instance. So the console.log() will output to browser debug console. [The article](https://docs.mic

[2020-09-22 15:24] cghaddar commented on #1395
@xiaochunms.  Hopefully you will be able to produce the same behavior. A fix or workaround would be immensely helpful as this odd behavior is blocking release of my actual add-in.  Other developers seem to have also run into same problem. Here is a recent report I found on stackoverflow.
https://stackoverflow.com/questions/63461391/async-custom-functions-in-excel-add-in-always-return-busy-error

[2020-09-22 18:21] exextoc commented on #1402
Is the add-in pinned? If the add-in is pinned and there is an event handler for an ItemChanged event, the item can be null when you switch items or select an item header. Can you describe how your add-in is being used?

[2020-09-22 19:53] ArjunSureshKumar92 commented on #1402
I tried the same without pinning the addin, the result is the same. Like I stated in the description is it working fine for me and most of my customers. We only have this issue with one customer.
_If the add-in is pinned and there is an event handler for an ItemChanged event_
Correct me if I'm wrong, but even if we have this event handler, the value we get from the office object should not be null

[2020-09-22 21:00] ghost commented on #1385
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-22 21:00] ghost commented on #1379
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-22 21:44] exextoc commented on #1402
Can you provide repro steps or a screen recording of how you are getting this error.

[2020-09-22 21:56] jargil commented on #1399
@jak-hammond - you're probably still running with the legacy WebView. Could you take a look at this post and make sure you have everything that is required for the new WebView control to be used by Office?
https://developer.microsoft.com/en-us/office/blogs/announcing-webview2-for-office-add-ins-platform/

[2020-09-22 22:09] jak-hammond commented on #1399
Okay, so after following the steps in the link you provided @jargil I can now confirm that using WebView2, I am able to get storage events firing between instances of the add-in.

I would however say that there is a deficiency in the documentation at; https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins since it doesn't highlight the third point in the l

[2020-09-22 22:20] jak-hammond commented on #1401
After some more investigation from our QA Engineers today, it seems the issue is more prominent when creating a brand new message compose session, so far our testing has not been able to reproduce this issue when replying to or forwarding a message that a recipient might have received.

We have tried various other approaches to try and work around this issue but after a few successful cases using

[2020-09-22 22:31] jargil commented on #1399
@jak-hammond - thank you for confirming this is working with WebView2. I'll pass your feedback to our documentation folks.

Your assumption is correct, there's no current plan to change this localStorage behavior in the current WebView control and we'll have to wait for WebView2 to rollout to all users. At this point there's no date I can share for when that will happen, this is going to be entire

[2020-09-22 22:34] jak-hammond commented on #1399
Okay, whilst not ideal, that clarification on the fix and backporting not being possible does help a lot, thanks @jargil :)

If the docs can be updated, I am sure it would save a lot of people headaches as trying to get WebView2 running, before your additional advice was far from simple, but we at least have it now, thanks for you assistance in this!

[2020-09-22 23:26] Rick-Kirkham commented on #1399
I will clarify in the docs that the WebView2 control is still a separate download from the installation of Edge. But more importantly, there now is a "way for the parent to pass new state to the child". We recently released a `messageChild` API that does this. Please see this article: [Pass information to the dialog box](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-off

[2020-09-23 02:20] bx-anil commented on #1394
The meeting was not opened as an organizer but as an attendee. The nuances of organizer and attendee mode are already taken care of and everything works on regular calendar and if the shared calendar is from the same region.

[2020-09-23 02:27] 2020Mar commented on #780
@jasonhieu1905 Hi, I am working on the issue you reported, as far as I know, the public document only introduce API
PowerPoint.createPresentation(base64File) for creating a PPT document, and actually it is a wrapper of createDocumentAsync. Could you help tell where do you find the API createDocumentAsync introduction?

[2020-09-23 07:40] SWei1234 commented on #1385
Hi @exextoc
Sorry for reply delay.
This is happened on some user's PC but it works fine on other users.  Just want to know is there any thing we can try to solve this?
Or any idea about this?
Thanks

[2020-09-23 08:26] jak-hammond commented on #1399
@Rick-Kirkham that's good to hear about the `messageChild` method, we knew it was coming but we weren't sure of an actual date. A question around that, in the link you put, it said support for Outlook is currently underdevelopment, is this still the case or is it now available for us to use?

Also, I know we can query if the client we are currently running on supports a specific requirement or fun

[2020-09-23 10:56] jak-hammond commented on #1401
We have found that this issue is caused by a release made on July 30th, specifically version 2007 (Build 13029.20308) Current Channel, prior to that the behavior was working as expected, everything after that date is exhibiting this issue, so it would seem something has regressed within Outlook itself.

[2020-09-23 11:19] exextoc commented on #1385
Unfortunately, we cannot reproduce this and don't have enough information to investigate it further.

1. Can you confirm the repro steps in our previous response?
2. Are you seeing this bug in "New Outlook" or the old one?

[2020-09-23 11:23] exextoc commented on #1389
@T-Roth is there a way we can reproduce this ourselves so we can investigate? And is the issue fixed on your end?

[2020-09-23 11:25] exextoc commented on #653
Reopening this since the original question was about Excel. Sorry about that.

[2020-09-23 11:54] exextoc commented on #1398
@inderjitkr The "Action" element cannot occur directly as a child to the VersionOverrides element. It should be under "Group" or "Menu". In your manifest, you should copy the entire part under "VersionOverrides1_0" into "VersionOverrides1_1", and make further changes (adding the SupportsPinning tag), instead of just adding parts that you want to override.

When VersionOverrides1_1 is supported by

[2020-09-23 12:22] #1398 closed, assigned to exextoc

[2020-09-23 12:39] vault79 commented on #1377
FYI for other developers who has same issue and certification trouble.

For resolving my business blocker, I re-submit my app to partner center with this issue url. Partner center advices me to submit support ticket from here.
https://aka.ms/marketplacepublishersupport

If you encounter same issue, please refer this info. I'll update if I have progress.

[2020-09-23 13:00] exextoc commented on #1312
Hi, looks like there are multiple issues being talked about here, causing confusion.

1. recurrence.getAsync throws error / returns null - This issue has been fixed from our end on OWA. recurrence.getAsync() shouldn't be returning null anymore. We aren't able to reproduce this bug from our end any more. If you're in organizer mode, **make sure you call recurrence.getAsync() and not item.recurrence

[2020-09-23 15:34] tjcrowder commented on #1226
I was wrong about the impact of this: It's a big problem holding up our progress rolling out our add-in, because I cannot save and restore filtering settings when there's more than one filter.

If I do a text filter ("begins with" "tjc") and a value filter (TRUE), the `criteria` array has four objects, which look like this:

[code]
Removing those invalid `null` properties and putting those objects

[2020-09-23 16:45] Diegoescalonaro commented on #1119
Hi guys. Any update on this? I'm having the same problem

[2020-09-23 18:37] exextoc commented on #1400
Hi @modestfake , thanks for reporting these issues.

Addressing each issue individually:

**1. mailbox.item.itemId is empty** - we have already fixed this issue for Gmail accounts. We'll let you know when the fix is in Insider Fast.
**2. mailbox.item.internetMessageId is different** - we are able to reproduce this bug. We have added it to our backlog.
**3. mailbox.restUrl is empty** - We are aware

[2020-09-23 19:43] modestfake commented on #1400
Hi @exextoc
Thank you for detailed reply. I forgot to mention that I was testing all of these fields on `xyz@outlook.com` email. So
1. Yeah, I recently reported that issue for Gmail but I can see the same issue on `@outlook.com` email on "New Outlook".
5. It's not a problem. We use this field for analytics, but if this gonna change, that's alright.

[2020-09-23 21:50] smaremanda commented on #1403
hi @leybal - This is by design. The dialog is meant for authentication purposes and not as a surface for executing apis. what is the reason why you couldnt execute this api from the taskpane?

[2020-09-23 22:59] lindalu-MSFT commented on #1226
@lumine2008 Hi, do we have a workaround for this customer until the bug gets resolved?

[2020-09-23 23:38] exextoc commented on #1364
We have fixed the bug and the fix should be available in build 16.41 for Mac and build 13231 for Windows or later. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-09-24 00:06] #1364 closed, assigned to exextoc

[2020-09-24 05:38] dinglicoding opened #1404 "Excel:Is there a storage larger than localstorage"
We Use localstorage,It only supports 5M data。

Is there a storage larger than localstorage？ thanks

[2020-09-24 07:47] ssoni2074 opened #1406 "Can't see my centralized deployed addin in incognito chrome"
I have deployed an add-in via centralized deployment and can see it in office on web and desktop ,also in incognito mode in all browsers except chrome .What could be the possible issue ?
Note- addin is for word 365
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41508035-2045-1706-9917-cd2da1e99cc7
* Version Independent

[2020-09-24 11:01] SWei1234 opened #1405 "[Outlook ] Discard recurring meeting issue"
When we scheduling a recurring meeting and then discard this meeting.
It will show me an error :  Uncaught (in promise) TypeError: Cannot read property 'IsMeeting' of null
And this meeting was saved even I don't want to save it ...

## Expected Behavior
Recurring meeting will not be saved and with no error

## Current Behavior
Show me an error and saved the discard meeting.

## Steps to Reproduce,

[2020-09-24 11:07] SWei1234 commented on #1312
Hi @exextoc @jbaptistehuguenin @Texaner @MrAshRhodes
I created an new ticket for this issue:
https://github.com/OfficeDev/office-js/issues/1405
Thanks

[2020-09-24 11:50] xiaochunms commented on #1395
@cghaddar may you please try the workaround: add `<script> MutationObserver=null; </script>` before importing office.js/custom-functions-runtime.js? One of my colleagues told me that it did fix the similar issue before.

[2020-09-24 12:22] leybal commented on #1403
@smaremanda thanks for the answer. According to business requirements, our users should be able to open a dialog box from a ribbon and insert a string into a cell. With the publishing of shared js runtime, we can modify the value in the cell when clicking on the button on the ribbon (as shown in the excel-shared-runtime-scenario example). In our case, we get a string from the dialog and handle ins

[2020-09-24 16:10] AlexJerabek commented on #1406
Hi @ssoni2074,

Thank you for reporting this issue. This seems like a product issue, rather than a documentation one, so I'll transfer it to the office-js repo. There, a member of the product team will investigate.

[2020-09-24 18:03] bdentino opened #1407 "getStartupBehavior throws NotImplemented error in Chrome"
Attempting to call getStartupBehavior crashes the add-in in Chrome.

## Expected Behavior

Nothing I could find in the docs indicates that this API is not available on certain platforms, so I would expect that it should behave as other platforms and return the startup behavior of the document.

## Current Behavior

Attempting to call getStartupBehavior crashes the add-in in Chrome with a NotImplem

[2020-09-24 21:15] T-Roth commented on #1389
@exextoc

I would think that if you made an Array Prototype like I did above you should be able to reproduce it.  Something in Office appears to call **all** the array prototype methods in our project, but only the ones that had a 2nd index parameter that wasn't being checked caused the error (actually got into the splice method).   I ended up fixing it by checking that the index was a number.

Th

[2020-09-24 21:37] exextoc commented on #1394
Thank you for reporting this issue. This has been put in our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office:4501807

[2020-09-24 21:43] lumine2008 commented on #1390
We have tried O365 and Excel online but not repro. what's your version? kindly please share a bit more information for us to repro. thanks

[2020-09-25 00:21] cghaddar commented on #1395
@xiaochunms I added <script> MutationObserver=null; </script> at first but I am seeing mixed results with this change. It seems to have fixed the demo project with one async call in the sheet. However, with multiple async calls on the same worksheet, the effect is mixed. Some evaluations returned results promptly while others remained in #BUSY  state till I interacted with the task pane. It seems

[2020-09-25 01:58] SWei1234 commented on #1385
Hi @exextoc
Your steps  is exactly what we met.
We seeing this bug on the old one.
Thanks

[2020-09-25 05:05] chanhohang opened #1408 "Share Runtime Performance in IE"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

We are adding support of shared runtime to our Excel Add-in and find the performance of IE is much slower than Edge. (Our data update operations take 2-3 times longer in Shared R

[2020-09-25 05:59] Premsagar-lab commented on #1367
Hi @exextoc, Team forwarded a meeting invite at the given email id admin@a830edad9050849405E20081103.onmicrosoft.com.

The invite is about 2 pm 25th Sept IST. Please confirm.

[2020-09-25 09:43] xiaochunms commented on #1395
@cghaddar good to know adding "<script> MutationObserver=null; </script>" works for your demo project. Regarding to the mutilple async calls on the same worksheet issue, may you please share your project also here? And may you please help to record another screen record for the new issue? In your interaction with the taskpane, could you please don't close the taskpane, instead please just keep the

[2020-09-25 11:28] SWei1234 commented on #797
@exextoc
Can you help me confirm will this problem happening on
Windows： 1909 18363.1082
Outlook: 2002 12527.21104
We met this problem on this environment.
And I tried reset IE security configuration, and restart IE and outlook.
Confirmed that localStorage can read and write. And cleaned the cache every time.
Any idea?
Thanks

[2020-09-25 11:51] Petryxasport commented on #1255
Issue is relevant also for Chrome! Any news around this?

Issue in another thread was closed without parameter **displayInIframe: true**
Example below still have problem on Chrome as well:
Office.context.ui.displayDialogAsync(url,
{ height: 50, width: 50, displayInIframe: true }, this.dialogCallback);
}

[2020-09-25 13:54] exextoc commented on #1385
@SWei1234 we are trying to understand this issue better. Is this happening for specific accounts across devices (the same account installed on multiple devices reproduces the same bug)? Or is it happening on particular devices irrespective of accounts (bug reproduces for multiple accounts on the same device)?

[2020-09-25 15:19] helmarluiz opened #1409 "[Firefox] Add-In Dialog is closing when clicked"
Hi,

I'm developing a Click to Call Add-In, using Contextual-Regex which finds phones in the email body, creating a click link with "tel" protocol (`<a href="tel:+353888888888"> </a>`). Clicking on the link it opens the Add-In Dialog (which is managed by Outlook) with a text field and a button, which the user can edit the number and them click on to open the local software for calls.

The Add-In I

[2020-09-25 16:03] ElizabethSamuel-MSFT commented on #1409
@helmarjunior Thanks for raising this. I'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2020-09-25 16:09] gena7gena commented on #1004
Observing very similar issue with the same error in Outlook for Mac 16.41.

Steps:
1) In Outlook for Mac open calendar,
2) Create an event for shared calendar, close the event
3) Open it again for editing, open the plugin
4) with code inside of plugin, similar to the code below, you can see the error "This browser does not support the requested API"

[code]
Notes:
1) Plugin executes code successfu

[2020-09-25 17:42] smaremanda commented on #1255
@Petryxasport - can you please update this thread with the latest repro steps? Will help our engineering team to debug the issue. thanks!

[2020-09-25 19:07] exextoc commented on #797
We would like to determine whether this is specific to Outlook or common across all Office clients. Can your customer try installing any add-in from the store such as Scriptlab in another client such as Microsoft Word or Excel?

[2020-09-25 23:00] ghost commented on #1379
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-25 23:00] #1379 closed, assigned to exextoc

[2020-09-25 23:21] fergy-hs commented on #1248
Any updates on this? This is becoming a big issue for my company.

[2020-09-26 12:55] cghaddar commented on #1395
@xiaochunms  I have tried to produce the same behavior using the test project with multiple calls in sheet but it is always working now as expected . In my own add-in I have also seen noticeable improvement after clearing office cache. The BUSY state only lasts for a few seconds  without a need to open the taskpane which is significant improvement compared to how it was.  Will post again If I run

[2020-09-26 13:11] #1395 closed, assigned to grangeryy

[2020-09-27 12:00] ghost commented on #1381
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-27 12:05] nikhilism15 commented on #1353
Hi, may I know when this issue will be potentially fixed in the library?

[2020-09-27 12:44] sarea commented on #1381
Hi @exextoc
Thank you for the update.
This issue is still occur on some of our accounts, the majority to be precise.
Is this a new thing?
Because we just start getting it 2 months ago.

Also, is there a way to disable this behavior but keep the sending functionality? As we got a lot of bad feedback from our clients because of it.

Thanks

[2020-09-27 18:00] ghost commented on #1402
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-27 22:53] james-huang commented on #474
+1 vote on fixing this issue.

[2020-09-28 01:33] marami52 opened #1410 "Excel Shared JavaScript runtime does not work with Solver or Analysis ToolPak in Mac OS"
## Expected Behavior
I expect to have an Excel JavaScript add-in to work without any conflict with other Excel add-ins such as Solver or Analysis ToolPak on Mac OS.

## Current Behavior
When I install an Excel Add-in which uses Shared JavaScript runtime, it stops working when I activate Solver or Analysis ToolPak in my Mac OS. This issue does not happen on Windows (we tested on WIndows 10).

## St

[2020-09-28 04:48] exextoc commented on #1397
Hi @hello-chenchen , we are unable to reproduce this on our end. Is it possible for us to get a test account where this bug is reproduced? If so, can you email account details to admin@a830edad9050849405E20081103.onmicrosoft.com?

[2020-09-28 08:30] clavx opened #1412 "Attachment API with blocked attachments"
I have a question about Attachment API specification when attaching a file that is [blocked by Outlook](https://support.microsoft.com/en-us/office/blocked-attachments-in-outlook-434752e1-02d3-4e90-9124-8b81e49a8519).

The behavior differs as described below.
What is the expected behavior?

**Windows Outlook:**
You can retrieve content with `getAttachmentContentAsync()` API after attaching a file w

[2020-09-28 09:09] leybal commented on #1403
@smaremanda @lliu113 Could you please provide us the updates regarding this question? It blocks our work.

[2020-09-28 11:20] SWei1234 commented on #1385
Hi @exextoc
This seems happened on particular  devices and only happened on Mac Outlook client.
Sorry for reply late.
Thanks

[2020-09-28 12:00] ghost commented on #1312
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-28 12:20] DmitryKostochko commented on #1004
@rinfex-holfer, this 1004 issue is closed, please consider creating a new bug report. Hope this will speed up the reaction from Microsoft's side.

[2020-09-28 12:40] Petryxasport commented on #1255
@smaremanda The issue was relevant on Friday 100%. Today everything works on all browsers. This request should be closed.

[2020-09-28 13:03] exextoc commented on #1004
@rinfex-holfer We have fixed this bug for event on shared calendar recently. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-09-28 13:40] tido-ms opened #1411 "Office.context.mailbox.item does not return recipient email address on copy-paste"
When copy and paste pre-existing recipients, Office.context.mailbox.item returns recipients without email addresses. This library is used in a outlook add-in, as the recipient email address is not returned, the add-in prompts an error.

## Expected Behavior
When copy and paste pre-existing recipients, Office.context.mailbox.item returns valid recipient email addresses.

## Current Behavior
When co

[2020-09-28 13:46] gena7gena commented on #1004
@exextoc thanks, nice to hear! In what version of Outlook on Mac we can expect the fix? If it is possible to say.

[2020-09-28 21:43] ElizabethSamuel-MSFT commented on #1356
@lliu113 Any update on this? Thx.

[2020-09-28 21:48] ElizabethSamuel-MSFT commented on #1363
What is the current status of the OWA investigation? Thx.

[2020-09-28 22:10] ElizabethSamuel-MSFT commented on #1369
@JuaneloJuanelo Any guidance here? Thanks.

[2020-09-28 22:11] ElizabethSamuel-MSFT commented on #1368
@mattgeim Following up on VS 2019 dev experience. Thx.

[2020-09-28 22:11] ElizabethSamuel-MSFT commented on #1371
@jeremy-msft Any update here? Thx.

[2020-09-28 22:17] ElizabethSamuel-MSFT commented on #1372
@lliu113 Any update on this? Thx.

[2020-09-28 22:26] ElizabethSamuel-MSFT commented on #1373
@msiemens The OneNote page does need to be active for fetching page content to succeed - see https://docs.microsoft.com/office/dev/add-ins/onenote/onenote-add-ins-page-content#accessing-page-contents.

If you would like to see support added for getting the content of non-active OneNote pages, please upvote or request a feature on [UserVoice](https://officespdev.uservoice.com/).

Thanks.

[2020-09-28 22:26] #1373 closed, assigned to JuaneloJuanelo

[2020-09-28 22:36] ElizabethSamuel-MSFT commented on #1378
@prateek9us Can you help with this issue? Thx.

[2020-09-28 22:39] jargil commented on #1399
I don't have anything else to add, so I've removed myself from the assignees. Let me know if you have questions regarding what I said above.

[2020-09-28 22:40] ElizabethSamuel-MSFT commented on #1380
@MarcEichenberger It seems like you were able to resolve this issue? Thx.

[2020-09-28 22:44] ElizabethSamuel-MSFT commented on #1383
@RuoyingLiang Can you take a look at this custom functions issue? Thx.

[2020-09-28 22:44] fergy-hs commented on #474
+1 to fix this issue that is causing a lot of pain. Thanks

[2020-09-28 22:50] naemcivic commented on #1116
@exextoc @macOutlookExtensibility

Is there any update on this please. would really like to get this to be sorted out, as this has been on going for so long. thank you

[2020-09-28 22:55] AltitudeApps commented on #1356
Thank you for the attention to this ticket.

I checked yesterday, and I am still seeing the same (non) behavior.  That is, on the box in question,  ScriptLab still won't even start.  I am not going to bother attempting to check to see if my project works until I can see ScriptLab working reliably.
I've been focusing on other things, because I can't justify putting a lot of effort into office-js ex

[2020-09-28 23:08] ElizabethSamuel-MSFT commented on #1393
@lumine2008 Any update here? Thx.

[2020-09-28 23:10] ElizabethSamuel-MSFT commented on #1396
@grangeryy Any update here? Thx.

[2020-09-29 01:30] hello-chenchen commented on #1347
hi @exextoc ,do you have any timelines or update for this problem here? thanks a lot.

[2020-09-29 03:54] MarcEichenberger commented on #1380
@ElizabethSamuel-MSFT : Yes, i will close the issue. Thx.

[2020-09-29 03:54] #1380 closed, assigned to nobody

[2020-09-29 05:24] exextoc commented on #1004
It should be available in next insiders build. Check more about insiders build [here](https://support.microsoft.com/en-us/office/outlook-for-mac-release-notes-for-insider-fast-builds-d6347358-5613-433e-a49e-a9a0e8e0462a?ui=en-us&rs=en-us&ad=us). Please confirm once you receive the fix.

[2020-09-29 08:38] jak-hammond commented on #1399
Nope, I think we've solved at least got an answer to the initial issue so I'll close this now.

[2020-09-29 08:38] #1399 closed, assigned to Rick-Kirkham, exextoc

[2020-09-29 10:11] vikaskeskar11 commented on #1281
Are there any updates on this? This issue is affecting customers.

[2020-09-29 10:16] LaurentV9 commented on #995
Hi, I have the same issue. Is there a solution to this?

Laurent

[2020-09-29 11:09] jasonhieu1905 commented on #780
Hi @2020Mar : We know how to use **createDocumentAsync** API because  it during the preview phase for the feature. Now, we've tried with the latest code using  **createPresentation** api and it seems the issue still there.  ( https://github.com/jasonhieu1905/PowerpointUploader/blob/master/src/taskpane/taskpane.js). Note that the new **createPresentation** works fine on other environments.

![ezgif

[2020-09-29 11:57] cghaddar commented on #1396
@xiaochunms  I start excel with the add-in loaded, (64bit) then I launch  C:\Windows\SysWOW64\F12\IEChooser.exe. However, it displays an empty pane with no targets to debug or any setting to adjust.

[2020-09-29 12:05] cghaddar commented on #1383
Attempts to do a cross-origin post in shared run time are failing with either Network request failed or status 0 (depending on the method used). I am not even able to post to https://login.microsoftonline.com get access token for SSO on  the client side. I added the following to the manifest file (back slash added just to show tag in this post)

\<AppDomains>
   \<AppDomain>https://login.microsoft

[2020-09-29 13:54] ghivert opened #1413 "[Outlook Add-in] Fetch in UI-Less doesn’t work"
## Expected Behavior

Hi, I’m using an Add-in Outlook and I’m using a fetch in a UI-less function. It’s fine and perfectly working on Outlook for Web, but not on Outlook for Mac or Outlook for Windows.

Here’s a snippet :

[code]

## Current Behavior
I got this error on desktop:

![image](https://user-images.githubusercontent.com/7314118/94567287-9507ba80-026b-11eb-8d39-098c71e05ca3.png)

## Steps

[2020-09-29 14:12] Sayyed-Abbas commented on #995
You need to use broker service via Authenticator.

Update your info.plist with MS-Authenticator SDK , repackage and deployed to Intune.

The app compliance will be accessible only via Authenticator App.

[2020-09-29 15:55] lliu113 commented on #1403
@leybal thanks for reporting this issue, and sorry for the delayed response!

As Sudheer mentioned, the block on API calls is by design. For a bit of context, the current dialog box has a locked-down API surface for security reasons as it needs to redirect to untrusted domains for auth. We're investigating a new type of dialog box that will be allowed to call office.js APIs, but there is no curren

[2020-09-29 16:29] chucklay opened #1414 "Sideload fails: "ADD-IN ERROR: This add-in is no longer available.""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Not sure if this is a bug with office-js or excel itself, but my Excel installation seems to be stuck, not letting me sideload my add-in. Attempting to `npm run start` an add-in cause

[2020-09-29 16:51] ElizabethSamuel-MSFT commented on #1401
@exextoc Any update here? Thx.

[2020-09-29 16:54] ElizabethSamuel-MSFT commented on #1402
@ArjunSureshKumar92 Can you provide repro steps or recording per exextoc's earlier request? Thx.

[2020-09-29 19:40] exextoc commented on #1401
Thanks for reporting this issue regarding internetHeaders.setAsync in on-send. It has been put on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office:4492614

[2020-09-29 20:58] exextoc commented on #1413
I have just tried a fetch request in UI-less and that is working correctly in Desktop Outlook for Windows. There should not be anything specific with ui-less that prevents fetch. A few things to check:
- have you tried the fetch request from a task pane?
- Could you check if the server response is expected?

Another note: for Office in Windows, older versions of office uses an IE based web control

[2020-09-30 05:56] hello-chenchen commented on #1397
hi @exextoc it seams our customer have try working with microsoft relate teams already. so will close this issue, thanks.

[2020-09-30 05:56] #1397 closed, assigned to exextoc

[2020-09-30 06:21] LaurentV9 commented on #995
Hi, thanks for your response but my error in for Windows 10 and not for IOS. As explained in first post by mmatu-fmb

Laurent

[2020-09-30 07:10] JinghuiMS commented on #1407
@ElizabethSamuel-MSFT
Do you configure your Office Add-in to use a shared runtime? this step is required. See the first highlight area in below link for details. https://docs.microsoft.com/en-us/office/dev/add-ins/excel/run-code-on-document-open?view=word-js-preview
If you did it, could you provide more infomation about your addin manifest? Because in too many cases, the error of your screenshot w

[2020-09-30 08:39] leybal commented on #1403
@lliu113 thanks for the answer. It looks like we have a misunderstanding. We did exactly the same as what you have described.

In dialog-box, we **did not execute** any Office JS API calls besides the messaging APIs back to its parent runtime. We **used only messageParent API** to pass the string to the host page (in our case It's a Ribbon).  And already the host page is engaged in inserting the s

[2020-09-30 09:53] david-ps opened #1415 "Fatal Memory Issue - Excel Content Pane updating a Table"
## Expected Behavior
We add Rows to a Table from an Excel Content Pane Add-in and expect that any increase in the user's memory will be consistent with the size of the added data and any other memory consumed for the add process, will be minimal and/or reduce after the process is complete.

## Current Behavior
Adding a Row to a Table from a Content Pane Add-in permanently increases the memory by ~

[2020-09-30 09:57] exextoc commented on #1347
We have fixed the bug and the fix should be available in latest build. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-09-30 10:11] hello-chenchen commented on #1347
hi @exextoc , my mac outlook client is 16.42, the latest production channel build version.
![image](https://user-images.githubusercontent.com/1878089/94672713-382e0200-0348-11eb-8abe-324e863b6655.png)

do i need to switch to insider fast channel?

[2020-09-30 10:22] hello-chenchen commented on #1347
hi @exextoc , thank you so much, i have tested on insider fast channel, and it is worked well. we will wait 4-8 weeks on production channel, and close this issue after tested.

[2020-09-30 11:20] exextoc commented on #1385
@SWei1234 When this issue repros can you check if you are able to get the custom properties for same meeting/appointment from Outlook on Web? This will help us ensure whether custom properties are set properly.

[2020-09-30 11:29] LokiMidgard opened #1570 "Icon of Button not displayed in Outlook web"
I defined the icon element as described with 3 images in the size 16, 32 80. However on the website only the IconUrl is used for the button scaled down.

I don't think I missed something, here is my manifest:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8e5f40-63fe-f71c-a021-4842a26ef9ec
* Version Independen

[2020-09-30 12:00] leybal opened #1416 "Delete comments in the selected area"
Hello,

In Excel Online, we can select a range of the cells, right-click on it, and delete the comments that are located in this area. Is it possible to reproduce the same behavior using excel js API? If we apply **context.workbook.comments.getItemByCell** to a cell that has no comments, an error occurs. If we try to add a comment to a cell that already has a comment, an error occurs too.

How can

[2020-09-30 13:27] DmitryKostochko opened #1417 "Outlook for Mac, Office JS API does not work after switching accounts in From field"
In an Outlook add-in for compose mode, we are using the Office JS API to fill in email fields. OfficeJS methods throw the "The selected item has been changed" error in a new email window after changing an email account in the From field.

## Expected Behavior
Office JS methods should work.

## Current Behavior
The following error occurs:
"error":{"name":"APICallFailedDueToItemChange","message":"Th

[2020-09-30 13:30] sturlath opened #1418 "Blazor as a Office addin?"
I asked [this question at the aspnetcore repo](https://github.com/dotnet/aspnetcore/discussions/26419) and will repeat it here.

There is an [article from Nov 2019](https://developer.microsoft.com/en-us/office/blogs/office-add-ins-community-call-november-13-2019/) that says

**Is this still the case?** Any work being done on offering it?

I find it really strange if this programming model (C#) wil

[2020-09-30 15:16] ElizabethSamuel-MSFT commented on #1407
@bdentino I think this comment is meant for you. Can you respond to JinguiMS' questions? Thx.

[2020-09-30 15:51] DmitryKostochko opened #1419 "Outlook Online, IE and old Edge, the displayDialogAsync method opens a popup window behind the main browser window"
In an Outlook add-in for compose mode, we are using the Office.context.ui.displayDialogAsync method to display a dialog to a user. In Internet Explorer and old Microsoft Edge (not Chromium) the opened dialog window is not visible because it is opened behind the main browser window.

## Expected Behavior
The displayDialogAsync method shall open the dialog window and bring it to the front.

## Curre

[2020-09-30 16:17] jargil commented on #995
@LaurentV9 - This problem should be resolved by applying the latest Windows updates. Please let me know if after updating to the latest you still have problems.

[2020-09-30 16:27] mmatu-fmb commented on #995
@jargil This issue self resolved for us a month or two ago after Microsoft 365 and Windows updates.  Was this officially addressed in a specific update?  Do you know if it was on the 365 side or Windows side?  Just trying to get some clarification for our management because we never received any notification and want to be 100% sure that there wasn't some other random change that fixed it.

[2020-09-30 16:31] jargil commented on #995
@mmatu-fmb - Good to hear. Yeah it was specifically addressed with a Windows update. It was released as multiple patches, depending on which OS version you have installed. Releases happened on or around 7/21 and 7/31.
This is one example, you can scroll down and you'll see a mention to Conditional Access and Office.:
https://support.microsoft.com/en-us/help/4568831

[2020-09-30 16:50] exextoc commented on #1409
@helmarjunior We are unable to repro this issue on our side.
1. Is it possible to share sample add-in so that we can repro this issue on our side?
2. Does Add-in dialog closes on clicking anywhere in the dialog or just on clicking the text field ?
3. Can you try this [sample contextual add-in](https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex) once and check if you face same issue?

[2020-09-30 17:04] ElizabethSamuel-MSFT commented on #1418
@sturlath Thanks for asking about this.

@mattgeim Someone has also asked about Blazor on the docs repo: https://github.com/OfficeDev/office-js-docs-pr/issues/1711.

Thanks.

[2020-09-30 17:43] jeremy-msft commented on #1371
We are able to reproduce the issue and currently investigating a fix.

[2020-09-30 18:55] exextoc commented on #738
We have fixed the bug and the fix should be available in build 16.0.13330.10000 or later. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-09-30 18:55] #738 closed, assigned to exextoc

[2020-09-30 21:42] bdentino commented on #1407
Sure, thanks for the notification.

We do have our add-in configured to use a shared runtime. Note that everything works as expected on desktop platforms. This is the basic structure of our manifest, with urls & strings redacted.

[code]

[2020-09-30 23:30] david-ps commented on #1415
@lumine2008 Could this bug have been introduced when #391 was resolved?
We've been working on this app for months and never noticed this issue. Now all development has come to a stop because we cannot proceed with any UAT so this is critical for us. FYI @jamilnawaz @chartnado-brian-haas

[2020-10-01 05:16] vikasm1720 opened #1422 "Cookies do not persist on Excel for MAC"
I have Excel add-in which uses shared runtime and UI less custom function. I am using dialog API for authentication. When a user closes a workbook and opens a new one or reopens a saved workbook, cookies do not persist and user needs to re-login. I am facing this issue only on Excel for MAC platform. it is working as expected on windows and online.

---
#### Document Details

⚠ *Do not edit this s

[2020-10-01 06:49] LaurentV9 commented on #995
Hi,

Many thanks for your help but We are in Windows10 1909. Do you know if there is an update for this version? the link you provided is for 2004 version.

Regards,

Laurent

[2020-10-01 08:14] TheSorbex opened #1420 "[Excel] Handling Default Event for Modal Closing"
Need an ability to handle the default closing of the Modal when a user clicks on a cross-icon. We have the ability to close modal using `messageParent` and `dialog.close()` but it’s shared only on custom buttons, cross-icon can’t be handled by it now.

Adding of this feature will allow us to run some logic on closing modal, not depending on a way how it was closing. It would be great if you extend

[2020-10-01 11:23] Dizzzlectic opened #1421 "Displaying appointment form not working in Safari"
## Expected Behavior

When executing the following function, to open the new appointment dialog message:
[code]

## Current Behavior

While testing my plugin, running the following in Safari does not open the new appointment dialog, while its working just fine in Chrome, Firefox and the Outlook app.
[code]

## Steps to Reproduce, or Live Example

* Link to live example: https://github.com/SpellCra

[2020-10-01 13:04] ghivert commented on #1413
Thanks, the bug was indeed due to body.getAsync, giving a different output on web and desktop. (One give a fragment of HTML, the other one giving an entire HTML page.)

[2020-10-01 13:04] #1413 closed, assigned to exextoc

[2020-10-01 14:00] ghost commented on #1312
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-01 14:00] #1312 closed, assigned to exextoc

[2020-10-01 14:17] sturlath commented on #1418
Thanks @ElizabethSamuel-MSFT but I see the first issue (that I missed sorry) has not been answered. I added comments to it and will in turn close this one and have the other one as the main driver for my question.

[2020-10-01 14:17] #1418 closed, assigned to mattgeim

[2020-10-01 14:25] exextoc commented on #1421
@SpellCraft The add-in you have shared works on fine on our end on Safari browser as well. Can you make sure settings for Safari browser does NOT block popups?  You can check how to block/unblock popups on safari from [Block pop-ups in Safari on Mac](https://support.apple.com/en-in/guide/safari/sfri40696/mac)

[2020-10-01 14:36] tjcrowder commented on #1226
@lumine2008 - Any progress? I need to give an update on this soon... Thanks. :-)

[2020-10-01 15:24] ElizabethSamuel-MSFT commented on #1422
@vikasm1720 Thanks for raising this issue. I'll transfer this issue to the office-js repo for the product team to take a look.

Thanks.

[2020-10-01 15:35] exextoc commented on #1419
We are unable to repro the issue on our side with the code snippet shared by you. Can you try setting [displayInIframe]( https://docs.microsoft.com/en-us/javascript/api/office/office.dialogoptions?view=word-js-preview#displayiniframe) option to true and check if you still see the issue?
You can try sample code
var dialogOptions = { height:80, width:50, displayInIframe: true,};
Office.context.ui.di

[2020-10-01 16:37] jargil commented on #995
@LaurentV9 - updating from within Windows to apply the latest patches should work. If you want to manually just apply this patch, then this one should work for 1909:
https://support.microsoft.com/en-us/help/4559004

[2020-10-01 17:37] naemcivic opened #1423 "getSharedPropertiesAsync() on Mac Outlook returns false delegatePermissions information"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

On Outlook Mac we are getting a 0 return value for `delegatePermissions` on a mailbox that has delegatePermission setup for a shared mailbox when calling `Office.context.mailbox.item.

[2020-10-01 20:31] chucklay commented on #1414
Sorry to beg for help again, but this is a complete blocker, and nothing I've turned up has helped. I've tried loading this on another computer, with the same result. Even rolling back to a previous version of the manifest (And add-in in general) that I know worked hasn't helped.

[2020-10-01 20:49] chucklay commented on #1414
Aaand as soon as I leave that comment, I found the issue. While the add-in's HighResoutionIcon has to be 64x64, if the high resolution icon for your buttons is anything other than 80x80, you get this error. I'd like to change this issue to a request to have the manifest validator catch that, since your add-in will not work if you don't have it right.

[2020-10-01 20:55] TCourtneyOwen commented on #1414
Sorry to hear you are having problems.  A  few questions for you:

- Did you create this project with Yo Office?
- When you run "npm start"does the dev-server start?
- If it does indeed start, are you able to browse to https://localhost:3000/taskpane.html?  If you aren't then that would be a problem and probably indicates the dev-server certs aren't installed

-Courtney

[2020-10-01 20:57] TCourtneyOwen commented on #1414
So in reading through this thread is the real issue the size of the icon?

[2020-10-01 21:07] chucklay commented on #1414
Yes, the icon size of my taskpane buttons was the problem. I had them set to 64x64. (I had done a find/replace to switch 80x80->64x64 after my HighResolutionIcon was incorrectly set to 80x80). However, it appears that Excel cached the old button icon, so this issue didn't pop up until much later.

What was really confusing is that this doesn't prevent the add-in from sideloading into excel online.

[2020-10-01 21:13] TCourtneyOwen commented on #1414
So essentially manifest validation fails when the icon size is set to 64x64?  If this is the case I can see about asking that we don't fail manifest validation for this, but this will not be a quick fix, as I believe this is owned by our team in Ireland.

-Courtney

[2020-10-01 21:40] chucklay commented on #1414
Actually it's the opposite problem - If the icons are the wrong size, `npm run validate` claims that the manifest IS valid, and the add-in will load in Excel online. However, using `npm run start` to run on desktop will cause it to not load with the error message/description in my original post.

[2020-10-01 22:49] TCourtneyOwen commented on #1414
Interestingly, I changed my manifest to use 64x64 icons and was able to start my add-in project successfully in Desktop.  I am using a Excel taskpane project I created via Yo Office

[2020-10-02 01:37] ifflanb commented on #1239
We are experiencing a very similar issue on Windows 10 Build 2004 and Outlook desktop 2009. All web based add-in seem to freeze when replying to emails. They become unfrozen when discarding the email that was created as the reply.
Only possibly related thing that I have also noticed is that when using the office js library in the add-in to change the context based on the newly selected email, the

[2020-10-02 01:38] david-ps commented on #1415
@tutieu @ElizabethSamuel-MSFT Can you please give us an estimated timing on when this bug will be investigated and the likely solution and/or workaround?

[2020-10-02 06:52] LaurentV9 commented on #995
Many thanks. I tried with last CU from September and it works.

Best regards,

Laurent

[2020-10-02 11:22] Dizzzlectic commented on #1421
Excuse my late reply.
I double checked on my Mac mini (Late 2014) that the block pop-up setting in Safari was disabled, and nothing happened still, while on my newly purchased (today) Macbook Pro that's replacing the Mini, it works just fine.

It's running the same version of macOS Catalina and Safari, even though one is somewhat slower than the other, I do expect it should work the same?

[2020-10-02 11:53] exextoc commented on #1417
Thanks for reporting this issue regarding pinned add-ins. It has been put on our backlog. We unfortunately have no timelines to share at this point.
However the [New Outlook for Mac](https://support.microsoft.com/en-gb/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439?ui=en-us&rs=en-gb&ad=gb) doesn't have this issue, which is currently available in our Insiders program. You can g

[2020-10-02 12:42] DmitryKostochko commented on #1419
@exextoc, unfortunately we cannot use displayInIframe: true. We need a new pop-up window with authentication pages.

It is a bit strange that you cannot reproduce the issue. On our side, I can see the new pop-up window for about half a second, and then it gets hidden behind the main browser window.  What else can we try to check?

[2020-10-02 13:02] sshukurov commented on #1371
We are experiencing the same issue. Calling `Office.addin.setStartupBehavior(Office.StartupBehavior.load)` outputs the following error to console: **RichApi.Error: This operation is not implemented.**
![image](https://user-images.githubusercontent.com/36232686/94925954-7870ba00-04d9-11eb-9f10-e15d1d97ab42.png)

[2020-10-02 13:31] chucklay commented on #1414
Hmm, strange. Just to clarify, the incorrectly sized icons were for my ribbon buttons. Maybe it had something to do with them being on a custom tab? This is the problem section in question, and this version of my manifest does demonstrate the problem: https://gist.github.com/chucklay/4f8d1da6a5b15234b194552a2a1f0211#file-manifest-xml-L61-L105

Based on the feedback I got when I submitted this add-

[2020-10-02 14:26] gkarmelich opened #1424 "Font Size Issue (12 pt font) With setDataAsync In A Word Add-in"
In a Word add-in, we are using the setDataAsync method to insert HTML into the document body. In this HTML, we have various font sizes that mimic most of the font sizes offered by Word. The setDataAsync method does not allow inserting HTML with the font size 12pt, however, all other font sizes work as expected.

## Expected Behavior

The setDataAsync method should insert font size 12pt.

## Curren

[2020-10-02 16:56] ElizabethSamuel-MSFT commented on #269
@danielgwilson Any update on this? Or can you tag the current feature owner?

Thanks.

[2020-10-02 17:03] ElizabethSamuel-MSFT commented on #1128
@sohailzafar @lumine2008 Any update here?

Thanks.

[2020-10-02 17:11] ElizabethSamuel-MSFT commented on #1158
@areed1192 Thanks for taking the time to share these details.

@mscharlock Is this something that should be documented? @akrantz @TCourtneyOwen Is this something that should be incorporated in the related templates?

Thanks.

[2020-10-02 17:14] ElizabethSamuel-MSFT commented on #1181
@hmartiins Thanks for asking about this.

@slabereemsft @mattgeim This seems like a DevX situation. Can you take a look?

Thanks.

[2020-10-02 17:20] ElizabethSamuel-MSFT commented on #1212
@pvasek Thanks for raising this issue. I'm reaching out to OneNote folks internally and will provide an update as soon as possible.

Thanks.

[2020-10-02 17:26] ElizabethSamuel-MSFT commented on #1310
@keizo-furukawa Looks like this issue has been fixed so I'll close it now. If that's not the case, let us know by creating a new issue.

Thanks.

[2020-10-02 17:26] #1310 closed, assigned to nobody

[2020-10-02 18:10] exextoc commented on #1411
Thanks for reporting this issue regarding recipients API. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 4516844

[2020-10-02 18:38] exextoc commented on #1412
I would like to look at the difference in 2 angles:
1. When does Outlook / OWA decides that an attachment is blocked? As you noted, OWA considers an attachment is blocked right away, and Outlook does so after saving. This is a difference in how each client recognizes blocked attachment and it is outside the scope of the Outlook addins API.

2. What is the API behavior for blocked attachments?
Outl

[2020-10-02 21:38] jeremy-msft commented on #1422
Hi @vikasm1720, thanks for reporting this issue.  Could you please provide us with a small sample repro of the issue you're seeing (e.g.  storing/reading the cookies with test data instead of going through your full auth flow)?  Also, please let us know what version of Mac OS and Office you are running.

[2020-10-03 00:00] ghost commented on #1390
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-03 15:10] exextoc commented on #1570
@LokiMidgard The manifest looks right. Are you seeing IconUrl being used for button id="msgComposeMenuButton". How are you checking which icon is getting used?
Is it possible to share a video with issue repro?
Can you share stripped down version of you code for us to repro this at our end?

[2020-10-03 15:40] exextoc commented on #1419
@DmitryKostochko Does this happen on multiple systems or is it on a specific system ?
Can you confirm if you are repro the issue with sample code share above with displayInIframe: false? If Not, can you share sample add-in with which we can repro this issue at our end.

[2020-10-03 18:00] ghost commented on #1402
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-04 04:58] SWei1234 commented on #1385
@exextoc Sure, I will update here as soon as I got the result. Thanks for your support.

[2020-10-04 09:00] ghost commented on #1004
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-04 18:53] ifflanb commented on #1239
Is anyone looking into this issue? Is there an update please? thanks

[2020-10-04 23:57] TCourtneyOwen commented on #1181
@hmartiins @slabereemsft @ElizabethSamuel-MSFT @mattgeim

We don’t support Linux for most DevX operations. If we do opt to start supporting Linux more broadly, we could add support for office-addin-dev-certs, but I don’t envision that happening in the near future.

If you look at the way we generate dev-certificates [here,](https://github.com/OfficeDev/Office-Addin-Scripts/blob/master/packages/off

[2020-10-05 08:33] exextoc commented on #1421
Could you please provide me the version of the safari browser you are using?

Also, could you try the following steps to narrow down the issue?
1. Run the below code snippet and see if the issue is reproducible. Note: Do not add any params in the API call.
[code]

2. If the issue is not reproducible, try adding the params one by one to figure out which param is causing the issue.

[2020-10-05 09:01] inderjitkr opened #1425 "Loading of the bing map when clicking on the Address"
I have appended the code for regular expression. when hovering on the address then the dialogue box is appearing. Can you please guide me how to activate the Bing map?

The map is not getting loaded with the map images.

## Issue
Console Error :
Cannot read property 'getSelectedEntities' of undefined at NLG.SuggestedAddresses.SuggestedAddressesExtension._getSelectedAddresses$p$1

Issue is of loadi

[2020-10-05 09:19] LokiMidgard commented on #1570
@exextoc I have created a minimum Addin ([Github Repo](https://github.com/LokiMidgard/TestOwaIcons))

I created screenshoost instead of a video, I hope that this is ok:

![image](https://user-images.githubusercontent.com/389101/95061597-16dc6580-06fc-11eb-98f1-5b8c4e6851ec.png)

![image](https://user-images.githubusercontent.com/389101/95061637-222f9100-06fc-11eb-96d4-0cd28db02550.png)

I have che

[2020-10-05 09:24] exextoc commented on #1421
@SpellCraft
Could you please provide me the version of the safari browser you are using?

Also, could you try the following steps to narrow down the issue?
1. Run the below code snippet and see if the issue is reproducible. Note: Do not add any params in the API call.

[code]

2. If the issue is not reproducible, try adding the params one by one to figure out which param is causing the issue.

[2020-10-05 09:56] DmitryKostochko commented on #1419
It happens on different systems. For example, I have just re-tested IE on my virtual machine with the following configuration:
- Windows 10 Version 1909 (build 18363.1082)
- Internet Explorer 11.1082.18362.0
- Code: Office.context.ui.displayDialogAsync(url, { width: 30, height: 30, displayInIframe: false }, (result) => {

I have just reproduced the issue again, please see the details above. What o

[2020-10-05 20:38] ElizabethSamuel-MSFT commented on #1425
@inderjitkr Thanks for raising this issue. I'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2020-10-05 22:39] lindalu-MSFT commented on #585
Is this actually in the backlog? If so, is there an internal number to track? Thanks, llc

[2020-10-05 23:17] #1340 closed, assigned to donlvMSFT

[2020-10-06 01:18] Rick-Kirkham commented on #1425
Please show the code context where you call `getSelectedEntities`.

[2020-10-06 02:00] ghost commented on #1390
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-06 02:00] #1390 closed, assigned to lumine2008

[2020-10-06 05:17] exextoc commented on #1419
@DmitryKostochko We are unable to reproduce this issue on our end with the information you provided. Could you please share a sample add-in with us in order to reproduce the bug?

[2020-10-06 06:01] inderjitkr commented on #1425
Hi Rick, This is the code I used -

            <ExtensionPoint xsi:type="DetectedEntity">
              <Label resid="contextLabel" />

              <SourceLocation resid="detectedEntityURL" />
              <Rule xsi:type="RuleCollection" Mode="And">
                <Rule xsi:type="ItemIs" ItemType="Message" />
                <Rule xsi:type="ItemHasKnownEntity" EntityType="Address" />

[2020-10-06 07:27] exextoc commented on #1389
@T-Roth
Thanks for reporting this issue regarding getAccessToken. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-10-06 07:40] inderjitkr commented on #1425
I didn't used this Rick. Instead I used this -
 var item = Office.context.mailbox.item;
 var addresses = item.getEntitiesByType(Office.MailboxEnums.EntityType.Address);

[2020-10-06 09:54] DmitryKostochko commented on #1419
@exextoc, no problem, you can install the test add-in using the following manifest:
https://online-addins.ablebits.com/testaddin/manifest.xml

I have also attached its sources and manifest:
[test-add-in.zip](https://github.com/OfficeDev/office-js/files/5332891/test-add-in.zip)

[2020-10-06 12:00] ghost commented on #1409
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-06 12:00] ghost commented on #1347
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-06 13:24] helmarluiz commented on #1409
@exextoc I created a new Microsoft 365 account to reproduce the issue:

1. It's happening even using the [sample contextual add-in](https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex) code.
2. It closes on clicking anywhere in the dialog, except in the dialog title.
3. I just tried to use the [sample contextual add-in](https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex) code wi

[2020-10-06 13:41] exextoc commented on #1405
We have fixed the bug and the fix should be available in the latest build.
[Outlook Add-ins Engineering Team]

[2020-10-06 15:30] ElizabethSamuel-MSFT commented on #1212
@pvasek The team has confirmed this is still reproing and they're investigating next steps. We'll comment as we get updates.

Thanks.

[2020-10-06 20:00] ghost commented on #1402
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-06 22:42] fergy-hs commented on #482
+1
Please can we fix this?
This happens on Outlook for Mac. Our sidepanel is on a specific domain and the dialog is on a different one. When we close the dialog we get the cross-origin error. We have all the domains in the AppDomains section of the manifest.
This works fine on Outlook Web

[2020-10-07 05:53] thitiphanjen opened #1426 "#REF! error when copying formula between workbook if EquivalentAddin is set in manifest"
Got #REF! error when copying formula between workbook if EquivalentAddin is set in manifest file.

## Expected Behavior

Formula should be copied correctly.

## Current Behavior

Got #REF! error when copying formula between workbook if EquivalentAddin is set in manifest file.
![image](https://user-images.githubusercontent.com/21177487/95292058-f565b000-089a-11eb-8b66-8b9308f9d181.png)
![image](htt

[2020-10-07 06:12] exextoc commented on #474
We have added this to our backlog but it is not a priority item at this moment. We will keep this thread posted when this work item gets picked.

[2020-10-07 06:19] exextoc commented on #1419
@DmitryKostochko We are unable to reproduce this issue on our end. Could you please provide us a test account so that we can investigate this issue?

[2020-10-07 07:16] exextoc commented on #1409
Thanks for reporting this issue regarding Add-In Dialog. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-10-07 07:28] sundariragavan commented on #429
@vyazadji  @exextoc i'm getting this error **Uncaught TypeError: Cannot read property 'apply' of null** . How to solve this error.

[2020-10-07 07:37] vyazadji commented on #429
@sundariragavan I resolved it as described here https://github.com/OfficeDev/office-js/issues/429#issuecomment-479982199. It was more than a year ago. I no longer work on a project, where I used it, so I can't confirm that it's still actual.

[2020-10-07 07:47] exextoc commented on #1425
@inderjitkr We are not able to reproduce the issue with the above code snippet. Could you please share a sample add-in with us for reproducing it?

[2020-10-07 08:57] DmitryKostochko commented on #1419
@exextoc, I have just created a test account on outlook.com and reproduced the issue. How can I pass the email address and password to you?

[2020-10-07 09:48] exextoc commented on #1419
@DmitryKostochko Could you please share the test account credentials with us at admin@a830edad9050849405E20081103.onmicrosoft.com

[2020-10-07 10:36] clavx commented on #1412
Thank you for your response.

Our add-in uses the On-Send feature to inspect attachments and remove unwanted attachments.
With the current behavior of Windows Outlook, it is not possible to retrieve whether or not an attachment exists, and the removal process cannot be carried out. Therefore, the mail is sent with unnecessary attachments, and there is an issue  that uninspected attachments can be

[2020-10-07 11:20] DmitryKostochko commented on #1419
@exextoc, thank you, I have just sent the credentials.

[2020-10-07 12:22] exextoc commented on #1419
@DmitryKostochko we could not reproduce the issue with the test account provided by you using Internet Explorer on Windows 10. Could you please try updating your Internet Explorer to the latest version? Also, could you please try reproducing this issue on a different system than you mentioned earlier?

[2020-10-07 15:50] osasseville opened #1427 "Word: Context menu is only visible when the selection has a length (Office on the web)"
Context menu buttons added using the manifest is only visible when some text is selected in the Word Webapp. This is not an issue in the Word Desktop.

## Expected Behavior
The context menu button should display even if no text is selected.

## Current Behavior
The context menu button is only visible when some text is selected in the Word web application. If the cursor has no text selected, the co

[2020-10-07 18:13] exextoc commented on #1412
Thanks for giving your feedback. We have opened a backlog bug for the owning team to take a look at the difference. In general, we strive to make the api behave the same across different clients, however, the clients can sometimes implement specific features in different ways that require our API to also behave differently. I am not sure what bucket this falls into at this time.

Internal Tracking

[2020-10-07 18:52] exextoc commented on #1412
In the meantime you may want to see this article, in configuring Exchange to block outgoing mails with attachments that have certain extensions:

https://support.microsoft.com/en-us/help/2795329/how-to-block-a-message-from-being-sent-or-received-based-on-the-file-n

Would that combined with your solution meet your needs?

[2020-10-08 02:27] david-ps commented on #1415
We see this error using:
Windows 10 Pro 10.0.19041 Build 19041
Excel for Microsoft 365 MSO (16.0.13127.20266) 32-bit
Semi-Annual Enterprise Channel (Preview)
On that basis, I believe the browser being used is WebView (EdgeHTML) based on [documentation​​​​​​​](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)
_NB: The issue environment details are upd

[2020-10-08 04:08] Premsagar-lab commented on #1367
Hi @exextoc, any updates on this issue?

[2020-10-08 04:59] exextoc commented on #1367
Thanks for reporting this issue regarding OnSend. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

[2020-10-08 08:13] david-ps commented on #1415
@keyur32 We have NOT installed [Microsoft Edge WebView2 (Preview)](https://developer.microsoft.com/en-us/microsoft-edge/webview2/)

[2020-10-08 09:31] DmitryKostochko commented on #1419
I don't  have any updates for Internet Explorer in Windows Update.

Here are 2 other configurations where the issue is reproducible:

Windows 1809 (build 17763.1397)
- Internet Explorer 11.1397.17763.0
- Microsoft Edge 44.17763.831.0, Microsoft EdgeHTML 18.17763

Windows 2004 (build 19041.450)
- Internet Explorer 11.450.19041.0
- Edge 44.19041.423.0, Microsoft EdgeHTML 18.19041

[2020-10-08 10:34] clavx commented on #1412
I forgot that we can use transport rules to block outgoing mail.
There is no problem in our scenario.
Thank you for the helpful link.

[2020-10-08 10:42] stankonikolic opened #1428 "getSelection on table rows problem with Word API"
If user selects more than one row in the table (but not entire table), getSelection() function is returning corrupted result.
If I call getOoxml() (or getHtml()) function, the result is showing only the last row selected.
There is no way to implement even sample use case based on this selection, e.g. to change style of selected rows.

## Expected Behavior

Resulting OOXML or HTML structure should

[2020-10-08 12:21] DmitryKostochko opened #1429 "Outlook Desktop, addFileAttachmentAsync with { isInline: true } adds inline attachment as usual/visible attachment"
In an Outlook add-in for compose mode, we are using the Office.context.mailbox.item.addFileAttachmentAsync method to add attachments including inline ones. If an email already contains a manually added attachment, addFileAttachmentAsync with { isInline: true } adds an inline attachment as a usual/visible attachment.

## Expected Behavior
When { isInline: true } the added attachment shall be hidden

[2020-10-08 12:37] ArjunSureshKumar92 commented on #1402
@ElizabethSamuel-MSFT  Sorry for the delay. Attaching screen shots for the steps.
Explanation:
Success Case:
Step 1(success_1.png):
Select the test addin
Step 2(success_2.png):
Press refresh button, and the message details is populated correctly. message id, message imi and subject
Step 3(success_3.png):
The log info is shown.
All the office object values are present so we return true.

Error case

[2020-10-08 18:53] exextoc commented on #1402
- Does your refresh do anything aside from just dump stuff out to the log? (from the code you pasted, it doesn't look like it, but I wanted to double check).

- Instead of a Refresh button could you just do everything in the Initialize() function? Also just use OnReady() OR Initialize(). Not both. https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in. It could be the fact t

[2020-10-08 19:32] #1412 closed, assigned to exextoc

[2020-10-08 19:36] exextoc commented on #1429
Thank you for the detailed repro steps. I am able to repro this, and will open a bug on the backlog for the product team to look at.

I did notice some workarounds that may be useful in the meantime.

1) Using body.setAsync() avoids the problem. (though I understand that setAsync and setSelectedDataAsync() serve different purposes)

2) If you save the item. (either through item.saveAsync() or manu

[2020-10-08 19:44] keyur32 commented on #1410
Needs investigation, but repro seems odd as the enabling of Solver/ATP built in add-ins should not affect Custom Function registration.

[2020-10-09 02:03] SWei1234 commented on #1405
Hi @exextoc
Thanks, I will check it and change the ticket status.

[2020-10-09 07:26] exextoc commented on #1381
@sarea The feature has been rolled out 100%. Could you please check if it is still reproducible?

[2020-10-09 10:37] clavx commented on #1412
I think it is a bug to return empty value in OWA.
I don't know what the final behavior will be, but if the behavior changes, I would be happy to share it here.

[2020-10-09 11:36] sarea commented on #1381
Hi @exextoc, thanks for the response

We still have some customers/accounts who do not get that feature.

There are a few things that still not clear to me

1- How come this become a feature? it's not mentioned in the documentation (including the link that you shared in one of your comments) that **a new browser tab will be open/popup** when sending a message if the onsend functionality is enabled

[2020-10-09 11:43] georgechr commented on #1335
Hello,

Is there an update on this? It's hindering further development of an enterprise add-in we would like to roll out.

Thanks

[2020-10-09 11:54] Jcolnz commented on #1381
@exextoc Hey there! I'm a product manager that works closely with Sarea on our outlook web add-in. Just to add a little more context to his comment above.

The problem we've experienced is that until recently, clicking `send` on a message would simply open our add-in wizard to help guide the user through the process before sending the message, now upon clicking `send` they are taken to a new tab w

[2020-10-09 12:00] ghost commented on #1421
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-09 14:00] ghost commented on #1347
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-09 14:00] #1347 closed, assigned to exextoc, macOutlookExtensibility

[2020-10-09 14:13] lumine2008 commented on #1393
Team has repro'ed this issue and a bug (4497788#) was created to track this issue. thanks for your information

[2020-10-09 14:37] lumine2008 commented on #1420
Hi @lliu113 , this looks to me like an UX request. would you please help confirm? thanks

[2020-10-09 14:38] lumine2008 commented on #1408
@smaremanda , it seems to me that this issue is in your scope. would you please take care of it?

[2020-10-09 14:41] lumine2008 commented on #1404
may I know your scenario of using local storage? which API are you using?
if you want to the large storage, maybe you could consider worksheet custom property?

[2020-10-09 15:23] DmitryKostochko commented on #1429
1) The body.setAsync method does not suit us, sorry.
2) I also noticed that saving manually fixes the issue. But I have tried item.saveAsync() and this did not help for some reason...
3) I can confirm this, a recipient does not see the inline image in the attachments list.

Nevertheless, thank you very much for looking for workarounds. Do you have any timeline for fixing this issue?

[2020-10-09 18:00] ghost commented on #1181
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-09 18:54] exextoc commented on #1429
Sorry I don't have any timelines to share at this point.

[2020-10-10 02:17] lumine2008 commented on #1415
it looks like UX related issue, looping Lillian as well

[2020-10-10 06:00] ghost commented on #1385
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-10 07:06] lumine2008 commented on #1416
Thanks for your question, it looks to me a new API request, would you please submit your ask in uservoice at https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563 and upvote your request?

A workaround that may help in your scenario is to catch the exception thrown by api “getItemByCell(cellAddress)”, and if the error is “itemNotFound”, then it means ther

[2020-10-10 08:15] SWei1234 opened #1430 "[Outlook ] Exchange can not deploy add-in to Mac Outlook user"
Exchange can not deploy add-in to Mac Outlook user.
Exchange version: Version 15.1 ‎(Build 1913.5)‎
Mac outlook version: 16.41 (20083005)

We can see deployed add-in on Windows web or Outlook application normally. But just can't see them on Mac outlook.

## Expected Behavior
Can see deployed add-in on Mac outlook.

## Current Behavior
1. login Exchange ecp with admin account
2. deploy an add-in to

[2020-10-10 08:46] SWei1234 commented on #1405
@exextoc  The issue is fixed! Thanks

[2020-10-10 08:46] #1405 closed, assigned to exextoc

[2020-10-10 10:42] david-ps commented on #1415
@lumine2008 Thanks for getting involved. What does UX related issue mean?

[2020-10-10 12:37] lumine2008 commented on #1415
it's an internal team:)

[2020-10-11 09:00] ghost commented on #1425
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-11 17:49] harit-m-kumar opened #1431 "Office.OfficeTheme interface not supported in Office 365"
I have been trying to **get the background theme , colour using API's in Excel 365**.

https://docs.microsoft.com/en-us/javascript/api/office/office.officetheme?view=word-js-preview

But the Office.OfficeTheme API is not present in Excel 365. And the given link says that it is supported only in Office 365

https://www.eliostruyf.com/using-office-theme-colors-add/

Is there any way to **get the Off

[2020-10-12 03:22] JinghuiMS commented on #1407
Involve our PM @lumine2008 for more ideas.

[2020-10-12 03:57] exextoc commented on #1570
Thanks for reporting this issue regarding[Icon of Button. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-10-12 06:53] grangeryy commented on #1426
It is a known issue. The root cause is, copy and paste doesn't support this scenario yet. We'll track this request in our backlog and prioritize with other items together. You may try to retype the content in the destination workbook as a work around.

[2020-10-12 07:06] exextoc commented on #1026
We have fixed the bug and the fix should be available in build 16.0.12419.10000 or later of outlook-web.js file.

[2020-10-12 09:35] meladm opened #1432 "Some Users unable to access Admin Managed Add-In section"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have a few users that are missing the add-ins (in detail we use the officeatwork add-ins) we deploy using centralized deployment. When they want to check the admin managed section

[2020-10-12 13:01] exextoc commented on #1394
We are not able to reproduce the same on OWA. Do you see any error on console when you perform the above ?

[2020-10-12 14:00] ghost commented on #1421
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-12 14:00] #1421 closed, assigned to exextoc

[2020-10-12 15:35] MartinSSeifert commented on #1432
@JuaneloJuanelo, this seems to me, to most likely be the same behavior you witnessed during our last meeting!

[2020-10-12 18:08] bx-anil commented on #1394
Here is the exception on OWA:
Uncaught (in promise) Error: [fetchFullCalendarEvent] Action source:DeeplinkShowReadingPane_Deeplink with error: [getCalendarEventService] request failed. Message: The specified object was not found in the store., Can't connect to the mailbox of user Mailbox database guid: 161c3ef3-335a-40ea-a05c-7b10e178b691 because the ExchangePrincipal object contains outdated info

[2020-10-12 20:00] ghost commented on #1181
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-12 20:00] #1181 closed, assigned to slabereemsft, mattgeim, TCourtneyOwen

[2020-10-12 22:48] exextoc commented on #1411
We have fixed the bug and the fix should be available in build 16.0.13408 or later. When an updated build is available depends on the release channel a customer is on.

[Outlook Add-ins Engineering Team]

[2020-10-12 22:48] #1411 closed, assigned to exextoc

[2020-10-12 22:50] tido-ms commented on #1411
Great, thanks for the quick fix.

[2020-10-13 01:38] davyarris opened #1433 "Outlook Add in pinning does not work in Shared folders - Outlook Office Webmail - SupportsPinning and SupportsSharedFolders"
## Summary
We have implemented an Outlook Add in that uses the SupportsPinning option from Req Set 1.5 and the SupportsSharedFolders option from Req Set 1.8. Both options are working fine in Windows Outlook Native client but malfunction in Outlook Office Webmail - https://outlook.office.com/mail/login.html (tested in latest Chrome, IE and Edge).

## Steps to Reproduce, or Live Example
These are th

[2020-10-13 08:00] ghost commented on #1385
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-13 08:00] #1385 closed, assigned to exextoc

[2020-10-13 08:10] inderjitkr commented on #1425
Sorry for the delay due to some technical problem. I will provide the code.
[OutlookTry.zip](https://github.com/OfficeDev/office-js/files/5369859/OutlookTry.zip)

[2020-10-13 08:35] rickgoud commented on #1381
@exextoc : Any updates/response to the previous question? Also for us a really strange, most likely, unintended behavior that needs better explanation/understanding.
Thanks!

[2020-10-13 13:40] gingerjia commented on #1226
@tjcrowder can you try to call sheet.autoFilter.clearCriteria() to restore the first and third filter when you found both criterion1 and criterion2 are null in the filter?

[2020-10-13 13:45] I369697 commented on #326
var body;
Office.context.mailbox.item.body.getAsync(Office.CoercionType.Text, function (result) {
    if (result.status !== Office.AsyncResultStatus.Succeeded) {
        body= result.error;
    } else {
        body= result.value;
    }
});

document.getElementById("item-body").innerHTML = "<b>Body:</b> <br/>" + body;

Why body empty at the first call, and have the result only in the second call?

[2020-10-13 14:23] tjcrowder commented on #1226
@gingerjia  - I'm afraid I don't understand. Why would [`clearCriteria`](https://docs.microsoft.com/en-us/javascript/api/excel/excel.autofilter?view=excel-js-preview#clearcriteria--) **restore** anything?

[2020-10-13 15:35] lavrynenko-devpro opened #1434 "New UI in Outlook for Mac. conversationId property isn't null when user creating new message"
On the old outlook UI when adding a template from an add-in, a subject was added after checking the conversationId. It was `null` when new message was created, and there was id of conversation when replied on message.
[code]
Now conversationId property has value even when new message created, so subject do not change.

[2020-10-13 19:37] david-ps commented on #1415
@lliu113 Can you please provide an update?

[2020-10-13 20:55] exextoc commented on #1434
Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-10-14 01:54] gingerjia commented on #1226
Hi @tjcrowder ,  let me try to understand your question and clarify my suggestion.
1. First you get the four criterias object and stored them in saveCriteria array
let saveCriteria = sheet.autoFilter.criteria.slice();
In the four criterias, the second and fourth are with criterion1 value, the first and third are empty criteria in fact.

2. Someone else modified your data criteria by UI or some oth

[2020-10-14 02:28] lumine2008 commented on #1407
Thanks @bdentino  for reporting this issue, a bug (4552017) was created and engineering team has been worked on the fix, it will be rolled out soon.

[2020-10-14 09:48] MandytMSFT commented on #1431
@harit-m-kumar I'd like to confirm why you say "Office.OfficeTheme API is not present in Excel 365" ?  The document say this API is only supported in Office on Windows. That means this API can be used on Excel desktop, but excel on web/Mac/iOS can't. I tried it work on Excel desktop, Does this meet your requirement ?

[2020-10-14 10:03] dmitry-semenov commented on #1434
@exextoc can you suggest a workaround that can be used to determine new email thread?

[2020-10-14 10:08] tjcrowder commented on #1226
@gingerjia - Thanks. It's not that someone *else* changes the filter. My code updates the data being filtered, and so has to save and then turn off the filters (`clearCriteria`), update the data, and then re-apply the filters.

Please see [this comment](https://github.com/OfficeDev/office-js/issues/1226#issuecomment-697553705); I've previously tried reapplying only the second and fourth entries (w

[2020-10-14 10:12] dlpsysqa opened #1435 "on send addin is not invoked with new outlook feature of outlook vesion 16.42"
on send addin is not invoked when outlook is used in "New outlook" feature for the version 16.42.

[2020-10-14 17:01] westconference opened #1436 "WebView2 Task Pane displays error during HTTP Authentication"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

On an environment configured to use Edge WebView2 on Outlook Beta channel, the Outlook task pane displays an error when it encounters a HTTP Authentication 401 challenge, 'Add-in Erro

[2020-10-14 17:23] rickgoud commented on #1381
Running the MS On Send demo gives a similar unexplainable pop-up opening the message in a new tab... @exextoc @AlexJerabek. Can you respond please as for every one trying to use on-send functionality this must be disastrousl!

Thanks!

[2020-10-14 17:37] bconners1005 commented on #395
@macOutlookExtensibility @exextoc
Pinging this old thread as this was put into Backlog a few months ago.  Has there been any momentum on this particular issue?  It impacts a large enough subset of users for a plug-in that we'd just like to make sure we have a spotlight every once and awhile so we can adequately update our user base.

[2020-10-14 22:25] mscharlock commented on #1158
@ElizabethSamuel-MSFT let me follow up with you offline :)

[2020-10-14 22:26] wamaina commented on #1435
@dlpsysqa could you please provide the steps to reproduce this issue or a Live sample?

[2020-10-15 01:21] dlpsysqa commented on #1435
steps to reproduce
1. on mac update the outlook to version 16.42
2. run the outlook in "New outlook" mode. this is new outlook with UI changes which MS has released
3. sideload the attached manifest file that is the on send  addin
4. compose a mail and click on send button. this doesnt trigger the addin loaded in step 3
attached is the manifest file change the file extension to xml
[manifest.txt](

[2020-10-15 04:19] gingerjia commented on #1226
@tjcrowder , thanks very much for your detail scenarios info. I'm also an engineer from Microsoft, haha.
Here I shared my work gist for your reference: [https://gist.github.com/gingerjia/65ac444476035c03032f74914deb1613](url)
This is my test data:
![image](https://user-images.githubusercontent.com/62282034/96076546-29b31f00-0ee0-11eb-9322-6426c85391a9.png)
Steps:
1. Click Apply Filter;
2. Click re

[2020-10-15 09:24] exextoc commented on #1381
- Thanks for letting us know the behavior, this can be a potential bug from our side. Please help us more with a repro video of the same, where you can edit the contents after send.
- We are investigating as to why it is enabled for some clients and why not for others. Please make sure every client is on the same outlook-web version.
- We are working on the bug with the documentation, the same wil

[2020-10-15 09:43] westconference commented on #1435
@dlpsysqa New Outlook for Mac UI doesn't support on-send yet according to their docs.

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview

[2020-10-15 10:12] Jcolnz commented on #1381
Hey, @exextoc I'm beginning to think we are not on the same page here with what we find to be the issue!

I've attached an example of what's happening, can you or someone from your team please confirm if the expected behavior upon clicking `send` is to push my message into a popup like in the gif, as opposed to how it has functioned previously where the onsend function executes in the original win

[2020-10-15 10:40] exextoc commented on #1433
Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-10-15 11:09] exextoc commented on #1430
- Can you please confirm if you're using New Mac UI or Old Mac UI ?
- Can you please share the Manifest file to "admin@a830edad9050849405E20081103.onmicrosoft.com" if possible, we'll try to reproduce the same from our end ?

[2020-10-15 11:26] exextoc commented on #1419
We are not able to reproduce the issue from our end, please update the browsers to the latest version and try again.

[2020-10-15 11:27] exextoc commented on #1419
Moreover can you please share a repo video for our reference ?

[2020-10-15 12:17] jak-hammond opened #1437 "Pinnable Add-In breaking Recipient Change notifications on Windows Desktop"
We have recently implemented the pinnable add-in functionality and registered the required item change handler, however we have come across an issue on Windows desktop Outlook client where, when in inline composing mode, the recipient change handler seems to break completely and we do not get any change events firing, the active item event does still fire however.

Mac Outlook does not support the

[2020-10-15 12:24] DmitryKostochko commented on #1419
As I mentioned earlier, IE is up to date.

Of course, please see it attached.

[IE-video.zip](https://github.com/OfficeDev/office-js/files/5384805/IE-video.zip)

[2020-10-15 15:06] Petryxasport opened #1438 "Dialog window does not support add-in for the new Outlook for Mac"
Our clients are using new Outlook design 16.42 (20101102)
Our Add-in uses functions: reply/replyAll/forward they open Dialog window(pop-up) and this window does not support add-ins.
This is really critical issue, because our clients use pinned panel of add-ins to complete their workflow.
Could you please clarify when can we use the add-in inside Dialog window for european region?

[2020-10-15 17:01] Oleg-O commented on #326
Ali, there is a bug in this code - on line 3, "asyncResult" is undefined, I believe you want to say "result" instead. Also, for any new inquiry it would be best to open a new issue on GitHub and include all the standard information about product platform and version, etc.

[2020-10-15 17:33] I369697 commented on #326
Ah, this error has been created when I copied the code and changed it, it's not the problem I am facing.
I have added the code here just because it's a related thing hoping to get a fast solution.

[2020-10-15 17:39] Oleg-O commented on #326
ok if you are still having issues with body.getAsync API, please create a new GitHub issue and provide system, client version information and detailed repro steps and correct code, as usual. Thanks!

[2020-10-15 19:06] AdielAhmad opened #1439 ""Outlook for web" is not able to send attachments with API call "addFileAttachmentFromBase64Async""
## Expected Behavior

I am expecting to receive attachments added from an Outlook-Addin inside "Outlook for web".
## Current Behavior

It seems like "Outlook for web" is not able to add Image-Files as attachments correctly when adding them from my Outlook-Addin (they are visually available while writing the mail, but dont appear in the sent mail) , this behaviour only applies to "Outlook for web",

[2020-10-15 19:11] nickxbs opened #1440 "I can't pass information from a dialog window to parent add-in"
I can't pass information from a dialog window to parent add-in

## Expected Behavior
calling Office.context.ui.messageParent from displayDialog shuld notify the function registered with  addEventHandler(Office.EventType.DialogMessageReceived,...) in a Word add-in

## Current Behavior
the call does not activate the manager registered in the addin

## Steps to Reproduce, or Live Example
[code]

## Y

[2020-10-15 23:31] exextoc commented on #1437
The RecipientsChanged event registration is an item-only event. It doesn't persist after switching items.
Looking at your code, it appears you are not re-registering the event after switching items. If that's the case, the behavior you are seeing is By Design.

[2020-10-16 00:51] davyarris commented on #1433
Thanks for letting us know @exextoc . Given that it's working fine in Native Shared folders and web standard folders makes me think that it's pretty close.

[2020-10-16 06:27] dlpsysqa commented on #1435
@westconference  does  on send addin is not supported only on preview builds or it applies to release version of 16.42 also?.

from 16.42 new outlook feature is available in production builds.

below documentation for the production builds doesn't mention any limitation about on send addin.
https://support.microsoft.com/en-us/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439

[2020-10-16 10:35] westconference opened #1441 "Task Pane add-in shows 'disabled to keep you safe' starting October 15th 2020 in OWA (Exchange back-end)"
Our add-in that launches a task-pane started failing in OWA for Exchange 2016 on October 15th 2020. Instead of loading the expected page the add-in displays a message:
* "This add-in has been disabled to keep you safe. To continue using the add-in validate that this item is hosted in a trusted domain or open it in the Office desktop app".

There is a 'continue' button however clicking simply shows

[2020-10-16 10:45] LokiMidgard commented on #1441
Same here.

Using the old Edge the Add-In however shows a dialog asking if the domain of the Add-In is trusted.
![image](https://user-images.githubusercontent.com/389101/96249096-f5596480-0fac-11eb-8ea0-0fc67619a577.png)

In chromium based browsers or firefox this confirmation dialog is supressed because the iFrame does not have `allow-modals` set. So you can't enable the add-in again.

Manipulati

[2020-10-16 10:56] exextoc commented on #1441
Please update to the latest SU that was released on October 13, 2020. It has the code changes required for add-ins to work.

[2020-10-16 11:27] exextoc commented on #1438
Currently the feature add-ins inside pop-up window, you requested, is not a part of the product New Mac UI. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning process.

[2020-10-16 11:32] exextoc commented on #1435
Currently the feature on-send, you requested, is not a part of the product New Mac UI.
We track Outlook add-in feature requests on our user-voice page. Please add your request there. Feature requests on user-voice are considered, when we go through our planning process.

[2020-10-16 11:36] greatescape95 commented on #1440
I am experiencing the same issue. Oddly, when I use this url to load to office scripts: https://appsforoffice.microsoft.com/lib/1/hosted/Office.js

I get this error in the console of the dialog window:
![image](https://user-images.githubusercontent.com/11823934/96253588-2b4e1700-0fb4-11eb-87ac-ebec284de3d8.png)

When I use this url(not the casing on "office"): https://appsforoffice.microsoft.com/l

[2020-10-16 12:09] exextoc commented on #1434
Unfortunately there isn't any way currently in the New Mac UI.
For OWA/win32 clients you can use [getComposeType](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview#getcomposetypeasync-options--callback-) .

[2020-10-16 12:55] Premsagar-lab commented on #1435
Hi @exextoc, is it possible to share the link of user-voice page?

[2020-10-16 13:17] exextoc commented on #1435
Please find [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) here.

[2020-10-16 16:32] westconference commented on #1441
Updated to CU18 and applied the security update from October 13th. That causes Chromium based browsers to now show the 'do you trust the domain' message which we would prefer users not have to encounter but does seem to store their selection for future across browser restarts.

![Screen Shot 2020-10-16 at 5 25 55 PM](https://user-images.githubusercontent.com/64404605/96284053-fd2cff00-0fd4-11eb-86

[2020-10-16 20:05] exextoc commented on #1433
Closing issue for now since this is now in our backlog. Thanks!

[2020-10-16 20:05] #1433 closed, assigned to exextoc

[2020-10-16 20:38] Andrey26 opened #1442 "saveAsync for appoinment does not work"
## Expected Behavior
We have AddIn for Outlook for Appointment (<ExtensionPoint xsi:type="AppointmentOrganizerCommandSurface"> in manifest file). On AddIn panel we have button 'save' that uses method https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-1.4&preserve-view=true#saveasync-options--callback-
I expect (and it worked on Exchange 2016) that exe

[2020-10-17 08:25] LokiMidgard commented on #1441
I agree with @westconference our non tech users propably don't even know what a domain is. The domain the add-in runs on may also be a domain the user had never seen, especially if the admin provided the Add-In, So either they press cancel and do not use a maybe required add-in. Or even worse they lern if something asks you `Do you trust me` just click OK and everything will be fine.

Oh and there

[2020-10-17 17:47] jak-hammond commented on #1437
@exextoc gist has been updated to register handler again on item change and issue is still presenting itself as before.

[2020-10-18 01:10] exextoc commented on #1437
We are able to repro this issue. We has been placed it in our backlog. Unfortunately, we have no timelines to share at this point. Internal tracking id : Office: 4565987

[2020-10-18 04:14] whowhatwhen opened #1443 "Unable to set cookie"

[2020-10-18 20:37] #1438 closed, assigned to exextoc

[2020-10-18 23:38] neville-jones commented on #1441
This breaking change was severe for our Outlook add-in which uses the on-send event because the end-user was not shown any error information. They only knew something was wrong because the message was never sent and they could not create a new message or open another message for reading; they were only shown a notification in the message UI header area that "<add-in> is working on your request".

[2020-10-19 09:08] Petryxasport commented on #1438
@exextoc It' s quet strange to have a new Design without supporting previous functionalities. :( Can you suggest any workaround for our product? Perpheps we can do "reply/replyAll" into current window without oppening via pop-up or something.

[2020-10-19 09:42] rai1109 opened #1444 "Office add-in is not rendering properly in safari browser version 11.1.2."
In Safari browser v11.1.2, the Installed add-in is not rendering properly. The add-in reserved space is not completely utilized. which means, It has height issue.
## Expected Behavior
When you install add-in from office store it should cover over all right panel of the excel. Find attached image for more info.

![Screenshot (61)](https://user-images.githubusercontent.com/53037339/96263653-dd9bd380

[2020-10-19 10:45] ArjunSureshKumar92 commented on #1402
_Does your refresh do anything aside from just dump stuff out to the log? (from the code you pasted, it doesn't look like it, but I wanted to double check)._
No, this is a debugging addin we created to strip out everything other than getting the item from the office js object.

_Instead of a Refresh button could you just do everything in the Initialize() function? Also just use OnReady() OR Initia

[2020-10-19 13:01] SanketDG commented on #718
We are also facing this issue with Outlook 365 Windows Desktop Client, we do have the right Outlook version as mentioned below:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/8980971/96454135-0f0edc00-1239-11eb-8ee9-834c11560042.png)

Is there any update on this?

[2020-10-19 15:30] kratikal-sarthak commented on #1441
I am getting the same error but i am using Exchange On prem 2013 and i have updated the Exchange 2013 server to CU23, but still i am getting the same error.

[2020-10-19 16:27] ArjunSureshKumar92 commented on #1402
Code Update:
`Office.onReady(function () {

refresh: function () {
            try {
                app.logtext += "\nRefreshing data";
                if (!Office.initialize) {
                    app.logtext += "\nError initializing office..."
                } else {
                    if (Office.context) {
                        app.logtext += "\nOffice.context true"
                    }

[2020-10-19 17:05] jeremy-msft commented on #1443
Hi @whowhatwhen, this is a [limitation](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-authentication) of the UI-less custom functions runtime.  We recommend you use a [shared runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime) if you require browser cookie support for your custom functions.

[2020-10-19 17:05] #1443 closed, assigned to jeremy-msft

[2020-10-19 17:14] exextoc commented on #1438
Yes "reply/replyAll" in the current window will work.

[2020-10-19 19:29] exextoc commented on #718
@SanketDG The OP confirmed that the original issue was resolved in Version 1908 Build 11929.20300. Could you open a new issue with a code sample for the API that's failing?

[getAttachmentContextAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-1.8&preserve-view=true#getattachmentcontentasync-attachmentid--options--callback-) was released with [Requi

[2020-10-19 19:45] JuaneloJuanelo commented on #1435
a few clarifications on this issue.

1. Thanks for trying the new Mac UI, but at the time of this writing is still considered  preview and not considered released.
2. While the OnSend Feature (shipped as part of Mailbox 1.8) is not yet supported in the new Mac UI, the team is actively working on it and looking forward to release it in the short term. So there is no need to add this to user-voice.

[2020-10-19 19:45] #1435 closed, assigned to exextoc

[2020-10-19 20:31] neville-jones commented on #1441
you also need this Security Update - https://www.microsoft.com/en-us/download/details.aspx?id=102164

[2020-10-20 05:39] lumine2008 commented on #1393
Update:
based on our investigation, we learn that when the result is back, but due to the slow network, the result has not been rendered and meanwhile user is getting into edit mode. So, API result is lost, in order to resolve this issue, we need Excel online input. so we created a new bug(4497788#) for Excel online team

[2020-10-20 05:48] kullachoke-bosuwan-rft commented on #1393
Thanks for the update, I really appreciate it. hope this will be solved soon.

[2020-10-20 06:03] kratikal-sarthak commented on #1441
@neville-jones i have also upgraded to this security Update but noting has changed. still getting the same error

[2020-10-20 06:04] kratikal-sarthak commented on #1441
@neville-jones The Security Updated you provided is CU23 and we have already done that , but still we are facing the same issue.

[2020-10-20 06:56] exextoc commented on #1441
The update was provided to improve the security around Office add-ins. we recommends that you update to the [latest October SU](https://support.microsoft.com/en-us/help/4581424/description-of-the-security-update-for-exchange-server-october-2020) to stop the add-ins from breaking. Once the SU is done, users will see a one-time prompt asking them whether they trust the domain on which the add-in is

[2020-10-20 09:20] westconference commented on #1286
@exextoc any update on this issue? We've been forced to use a copy of the office JS scripts from April otherwise the add-in won't work due to this issue. Which means we're unable to take security related fixes like in https://github.com/OfficeDev/office-js/issues/1441.

[2020-10-20 10:40] exextoc commented on #1286
Unfortunately it is still part of our backlog with Internal tracking id: OutlookWeb:91074. We have no timelines to share at this point

[2020-10-20 13:11] DmitryKostochko opened #1445 "Outlook for Mac: Office.context.mailbox.item.body.getTypeAsync returns "An internal error has occurred" after several (3-5) calls"
In an Outlook add-in for compose mode, we are using Office.js methods to fill in email fields. The getTypeAsync method stops working after a few executions in case of Outlook for Mac.

## Expected Behavior
The method should work.

## Current Behavior
The getTypeAsync method stops working after 3-5 executions.

## Steps to Reproduce, or Live Example
I have created a test add-in, you can install it

[2020-10-20 13:13] Shubhajit01 opened #1446 "Excel crashes while loading a named item which contains custom function that has @requiresAddress attached."
We have an add-in that contains a custom function.
That function has the  **@requiresAddress** tag.
It works perfectly fine when used in any cell.

Now, I have a named item with that function as the value/formula.
Whenever I try to load the items for ```context.workbook.names```, excel crashes and reloads.
Even just loading that particular named item, the same issue occurs.

## Expected Behavior
E

[2020-10-20 13:39] DmitryKostochko opened #1447 "Outlook Desktop, Outlook for Mac: Office.context.mailbox.item.getSelectedDataAsync returns incorrect HTML for numbered and bulleted lists"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In an Outlook add-in for compose mode, we are using the getSelectedDataAsync method to get access to the selected text in an email body. In Outlook Desktop and Outlook for Mac, the ge

[2020-10-20 14:04] htryggva commented on #1440
@lliu113 We are also seeing this problem on Edge Chromium. Users of any of our add-ins on Word for the web are unable to sign in when using the DialogAPI flow.

**We consider this a serious issue as it makes our add-in unusable in this context.**

Note: The DialogAPI works fine on PowerPoint and Excel for the web.
Note: It actually works on IE11

[2020-10-20 14:17] DmitryKostochko commented on #1307
@exextoc, sorry for bothering you but do you have any news about this issue?

[2020-10-20 19:26] tuwrraphael commented on #378
I had a similar problem, and found the problem in my case:

In Outlook Desktop 2016 Windows, I used the `displayDialogAsync` and then in my open dialog box the `Office.context.ui.messageParent` was undefined:
`Object doesn't support property or method 'messageParent'`

I debugged and found out that similar to what @JSteunou described, my `Office.context.isDialog` is `false`.

While debugging deepe

[2020-10-21 03:08] neville-jones commented on #1441
@kratikal-sarthak The link is to a Security Update that is on top of Exchange 2013 CU23; e.g. size is 78.4 MB and was released 12 Oct 2020

[2020-10-21 08:00] Jcolnz commented on #1381
@exextoc @AlexJerabek Morning! Just wondering if you could provide an update on the comment above. If not could you please escalate the issue to someone who can?

[2020-10-21 08:51] mathtypeengineering opened #1448 "Word Online: bugs when inserting OOXML containing OMML equations in a document"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Inserting OMML equations using OOXML in Word documents works just fine in Word Desktop and Word for iPad but results in several bugs and crashes that make it unusable when done in Wor

[2020-10-21 08:55] grangeryy commented on #1446
@Shubhajit01 We can reproduce it and create a bug (BUG 4576906) for it.

[2020-10-21 08:57] david-ps commented on #1415
@keyur32 @lumine2008 Any news or ETA on this **critical issue**? Our development has been stopped now for 3 weeks awaiting the outcome!

[2020-10-21 12:08] sshukurov opened #1449 "Range.getDirectPrecedents issue when equivalent XLL are specified"
We are developing an Excel JS addin which makes use of custom functions, and we also have equivalent XLL specified in our manifest for compatibility with our legacy COM addin. We welcome Office JS team's efforts on constantly bringing new functionality to us, one of the latest of which is `Range.getDirectPrecedents` api.

Invoking the api mentioned on a cell which contains one of our custom functi

[2020-10-21 13:23] exextoc commented on #1445
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-10-21 13:28] exextoc commented on #1447
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-10-21 13:56] DmitryKostochko opened #1450 "Outlook Desktop: WWAHost.exe and Win32WebViewHost.exe hang after closing Outlook"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are developing an Outlook add-in for compose mode. Recently, we've noticed hanging WWAHost.exe and Win32WebViewHost.exe processes in the Task Manager.

## Steps to Reproduce, or Li

[2020-10-21 15:06] ig-jb opened #1451 "dialog.close is incorrectly asynchronous"
The close method on the Office.Dialog returned in the callback to Office.context.ui.displayDialogAsync is not listed in the documentation as an asynchronous method (https://docs.microsoft.com/en-us/javascript/api/office/office.dialog?view=word-js-preview#close--), and you cannot await it or provide a callback to be called once the dialog has been closed.

This means if you wish to display a dialog

[2020-10-21 16:10] ig-jb opened #1452 "Command timeout does not close active dialogs"
There is a 5 minute timeout on Command methods, which is meant to close all active dialogs launched from the command. The reason for this is that the command handler is forcefully terminated, so dialog operations are invalid after that time. This does not seem to be documented on the API documentation, only on stackoverflow: https://stackoverflow.com/a/46248600

However, dialogs are not automatica

[2020-10-21 22:10] shumach5 opened #1453 "Outlook Online + IE11: Unable to move to another site in a pop-up window created by displayDialogAsync method"
In outlook online + IE11, when our Office outlook add-in opens a pop-up window, the add-in tries to redirect users to another site such as `https://login.microsoftonline.com` for authentication by setting the value to `window.location.href`. This approach works on Chrome, but not working with outlook online + IE11. The popup window is created by `Office.context.ui.displayDialogAsync` method.

## E

[2020-10-21 23:28] jeremy-msft commented on #1444
@rai1109, thanks for reporting this; we've identified the problem and were able to fix the issue.  Please let us know if the problem is still not resolved for you.

[2020-10-21 23:28] #1444 closed, assigned to JackyChen200304

[2020-10-22 02:18] MandytMSFT commented on #1448
Thanks for reporting. BUG 4580433 has opened for internal track

[2020-10-22 04:03] lumine2008 commented on #1407
Update:
This issue was resolved, please verify, thanks.

[2020-10-22 06:40] harit-m-kumar commented on #1431
Hi,
I would like to add a clarification.
Office.OfficeTheme has no field called "bodyBackgroundColor" as shown in the first link posted.

Sorry for the miscommunication.

My actual requirement is that I should be able to get the theme color for the specific office application(green for excel, blue for word), using "Office.officeTheme.bodyBackGroundColor" or any similar API.

[2020-10-22 07:43] Rinzwind opened #1454 "Documentation on Fabric components recommended for use in Office add-ins seems inconsistent w.r.t. MessageBar, Callout and CommandBar"
The [section titled “Use Fabric Components”](https://docs.microsoft.com/en-us/office/dev/add-ins/design/office-ui-fabric#use-fabric-components) in the documentation (quoted below) is a bit confusing: it first gives examples of the kinds of components Fabric provides that can be used to build an add-in, and then gives a bullet list of the components that are recommended for use in add-ins; the firs

[2020-10-22 09:53] inderjitkr commented on #1425
can you please help me in the above problem?

[2020-10-22 10:00] v-pidoplichko commented on #1372
@lliu113 we're facing the same issue, do you have any updates or any workaround?

[2020-10-22 10:52] exextoc commented on #1381
The on-send pop-up changes are as per design. This was made to make sure that email cannot be edited when On-Send is functioning. The documentation doesn't clearly call it out and its a bug from our end. We will update the documentation. However, we take the bad user experience part as a feedback and will evaluate it.

[2020-10-22 11:00] d-franklin opened #1455 "Mobile does not support add-ins in compose mode"
Unlike desktop or web version of add-ins, mobile does not support the ability to be accessed when in compose mode for mobile.

## Expected Behavior
It is expected that there is parity between version so the user experience is uniform. Being unable to offer this to end users, especially when mobile first has been accepted practice for several years, puts developers, end users and even Microsoft at

[2020-10-22 11:00] rickgoud commented on #1381
Hi @exextoc; you really mean the inline message popping out and at least causing a 4 second delay for every message, so frustrating people's workflow for every message, is by design and can not be suppressed/configured? I really find that hard to believe... and if so, should be considered a serious bug instead of 'feedback'? I guess 99%+ of all add-ins won't work and/or will be deinstalled in a co

[2020-10-22 11:36] exextoc commented on #1442
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-10-22 12:19] exextoc commented on #1439
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-10-22 13:33] gena7gena commented on #1445
Hi!

Also both `getAsync` and `setAsync` stop working after first use, for `Office.context.mailbox.item.body`, `Office.context.mailbox.item.location` and other fields. Error is 5001 ('Internal error occurs') again.

Looks like the same issue.

Environment is exactly the same as described in original post.

[2020-10-22 18:42] exextoc commented on #1445
Have updated the backlog issue with additional detail.

[2020-10-22 20:14] exextoc commented on #981
This should be fixed in builds 16.0.13110.10000 and later.

[2020-10-22 20:14] #981 closed, assigned to exextoc

[2020-10-22 20:57] exextoc commented on #1450
Thanks for reporting this issue. I'm able to reproduce it with your repro steps.

I've added this issue to our backlog for further investigation (internal tracking id Office:4584153).

[2020-10-22 21:00] ghost commented on #1430
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-22 21:04] YutongLi291 commented on #364
I'm still having this problem. The method is still not marked as Deprecated on the Office-js reference and it still appears in intellisense. Is there any alternatives to getting the current paragraph/selection then?

[2020-10-22 22:30] exextoc commented on #1402
You mentioned the customer is using both Windows 7 and Windows Server 2019? Does the issue occur on both configurations? It could be unrelated, but that version of Outlook (Version 2002) [is supported on](https://www.microsoft.com/en-us/microsoft-365/microsoft-365-and-office-resources) Windows Server 2019, but not on Windows 7.

[2020-10-22 23:13] YutongLi291 opened #1456 "OneNote Settings.saveAsync() gives failed status"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When I try to save my settings in OneNote online using saveAsync, it returns an asyncResult with error code 5001.

## Expected Behavior
The settings should be saved to the notebook fo

[2020-10-23 01:52] SWei1234 opened #1457 "[Outlook] Item.body.getTypeAsync not work when edit an exist meeting on shared calendar (Mac)"
We get a problem when we try insert something to meeting body on an exist meeting in shared calendar.
Looks like when I try call 'Office.content.mailbox.item.body.getTypeAsync' will return failed.
The delegate permission role is editor.
  'Office.content.mailbox.item.body.getTypeAsync' can run normally on a new meeting or my own calendar.

## Expected Behavior
  'Office.content.mailbox.item.body.g

[2020-10-23 07:49] exextoc commented on #1400
We have fixed the RestUrl bug and the fix should be available in next monthly build. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-10-23 12:04] arshadshibli opened #1458 "Not able to insert document variables using word.Word.Body.insertOoxml"
I am trying to insert document variables to a word document by editing the office open xml. But could not find the <w:docVars> element after inserting the corresponding OOXML using  word.Word.Body.insertOoxml function

## Expected Behavior
xml element <w:docVars> should be there as a child node to <w:settings> element

## Current Behavior
No <w:docVars> element present as a child to <w:settings> e

[2020-10-23 13:23] ArjunSureshKumar92 commented on #1402
We had the issue with both, but recently all the tests were on Windows 7.
_but that version of Outlook (Version 2002) is supported on Windows Server 2019, but not on Windows 7._
So if I understand correctly, this is a version issue? Can you provide me a link where this info is available. It will be easier for me to convince the customer to upgrade with that link available for them to check as well

[2020-10-23 13:57] chucklay opened #1459 "Manifests targeting ExcelApi > 1.1 still attempt to support Excel for Mac 2016"
When defining `Requirements` in a manifest, the supported platforms are automatically determined. However, it seems like Office for Mac 2016 seems to always be considered a supported platform, even when API requirement sets that it does not support are specified

## Expected Behavior

With the following `Requirements` section in a manifest, Excel for Mac 2016 should not be considered a supported p

[2020-10-23 18:24] exextoc commented on #1425
The addin provided by you doesn't load because it has unresolved references.

[2020-10-23 22:01] PrashSMSFT commented on #1456
Hey Jeremy - are you sure I am the right person to be assigned this? I am not the owner for OneNote topics, hence asking.

Thanx,
Prash

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jeremy-msft <notifications@github.com>
Sent: Friday, October 23, 2020 1:41:49 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: PrashSMSFT <prash@alum.mit.edu>; Assign <

[2020-10-24 04:28] SWei1234 opened #1460 "[Outlook] loadCustomPropertiesAsync can't access custom property on Mac outlook application(error code:9020)"
When we open outlook application on Mac . The first 10 ~ 20 minutes we can't access to custom property.
report error code 9020 .
But after this, we can access custom property normally.
Is this an known issue? Any idea?

## Expected Behavior
User can access to custom property soon after open outlook application on Mac.

## Current Behavior
When we open outlook application on Mac . The first 10 ~ 20

[2020-10-24 11:29] shumach5 commented on #1453
Because of this bug, we cannot pass our app store review... so I'd highly appreciate if you take a look at this issue soon.

[2020-10-25 11:35] ralphtheninja opened #1461 "CustomXmlNode.setTextAsync() fails on node with no text set, error 6100"
## Expected Behavior

Setting the text on an empty node should work.

## Current Behavior

If a node has no text set, it errors with 6100.

However, if the node already has a value set (if you do this manually by editing the custom property under `Info` in office desktop) then `node.setTextAsync()` works as expected.

Another observation I made was that if the property has a value set already and

[2020-10-25 23:00] ghost commented on #1430
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-10-26 01:53] lumine2008 commented on #1449
Thanks @sshukurov for reporting this issue, we can repro this issue, a bug(4580782) is created to track this issue.

[2020-10-26 14:30] AlexPhilippov opened #1462 "Custom functions doesn't recalculate on Formulas -> Calculate Now"
Executing Formulas -> Calculate Now (F9) doesn't recalculate custom functions.

## Expected Behavior
Formulas -> Calculate Now (F9) triggers the recalculation of both built-in and custom functions.

## Current Behavior
Custom functions get recalculated on cell editing, removing cells from the sheet, but not on Calculate Now.
Meanwhile, build-in functions like RAND() get recalculated on each Calcul

[2020-10-26 15:55] YutongLi291 commented on #1456
Sorry, it seems that refreshAsync should not have been included the question as I misunderstood how it works. However, my question regarding the saveAsync failed problem inside of OneNote still stands. Hope I can get a response soon!

[2020-10-26 21:03] leticiabecker opened #1463 "[Excel] unfreeze() throws an exception when trying to unfreeze panes on hidden sheets"
`sheet.freezePanes.unfreeze()` throws an exception when trying to unfreeze panes on a hidden sheet from the Excel add-in

## Expected Behavior
`unfreeze()` should be able to unfreeze all sheets, including the hidden ones.
https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheetfreezepanes?view=excel-js-preview#unfreeze--

## Current Behavior
If a workbook has a visible sheet with a fr

[2020-10-26 23:07] jwhite-venacorp commented on #1463
I can confirm this fails on Windows with Excel version 16.0.13127.20620 (64-bit).

[2020-10-27 01:03] xiaochunms commented on #1462
In Custom Functions case, instead to use Calculate Now (F9), ctrl-alt-shift-F9 or ctrl-alt-F9 is recommended for recalc.

[2020-10-27 03:54] JuaneloJuanelo commented on #1432
@meladm thanks for reporting this. We actually need more details to investigate this isssue.
As @MartinSSeifert  suggests, we experienced a similar behavior, what  I noticed back then is that the user who was logged-in in the device was using a Microsoft Account (i.e. @outlook.com account) and they trying to get Add-ins deployed in the organization, and for that an Organizational Account is needed

[2020-10-27 05:07] MandytMSFT commented on #1458
@arshadshibli currently <w:docVars> is not supported by insertOOXml. If you want to store these data, you can try custom XML APIs, here is the related doc: https://docs.microsoft.com/en-us/javascript/api/word/word.customxmlpart?view=word-js-preview

[2020-10-27 07:42] meladm commented on #1432
@JuaneloJuanelo thanks for your reply. The user ist logged-in in the device with an organizational account (AAD, Company owned and Intune managed device). So the case seems not to be the same.

Currently the user is on build 13231.20262 and I've asked her to check for updates and try again. She will let me know tonight.

[2020-10-27 07:54] rickgoud commented on #1381
@exextoc @AlexJerabek ?

[2020-10-27 11:13] GMolini opened #1465 "Addin disappeared. Get addins redirects to web"
I have this issue: https://github.com/OfficeDev/outlook-dev-docs/issues/514 but cant comment since it has been closed. I had sideloaded my addin correctly and was trying some things when I accidentally closed outlook. Now, after opening again, the addin is not loaded and whenever i click on the get addins button it opens a tab in the browser and redirects me to: https://appsource.microsoft.com/en-

[2020-10-27 13:34] jasonjoh commented on #1465
Transferred to the correct repository.

[2020-10-27 13:45] ivanosipov95 opened #1464 "Custom function works well in Online excel and doesn't work in Desktop Excel"
Add-in works well in Excel Online. On the desktop version, I always get #N/A error. I use shared environment

## Expected Behavior

If the custom function works correctly in Online Excel it should work well in Desktop Excel. Or I missed some differences in configuration?

## Current Behavior

The custom function doesn't work in Desktop but works in Online Excel

## Steps to Reproduce, or Live Exam

[2020-10-27 14:37] exextoc commented on #1460
@SWei1234 Could you please provide following information?

1. Are you facing this issue in Classic Mac Outlook or New Mac Outlook UI?
2. Does the issue occur consistently?
3. Please share the steps to repro the issue.

[2020-10-27 14:46] exextoc commented on #1394
We are still not able to repro the issue on OWA. Could  you please provide us with Test Accounts with which we can repro the issue from our side?

[2020-10-27 14:47] westconference commented on #1436
@smaremanda hi, has there been any progress on this? Were you able to reproduce it internally?

[2020-10-27 15:05] exextoc commented on #1457
@SWei1234
Could you please share the repro steps? We would like to understand if any APIs are called prior to the Office.content.mailbox.item.body.getTypeAsync call to update the body.
Also, Please share the error response that is being returned.

[2020-10-27 15:50] ElizabethSamuel-MSFT commented on #1465
@jasonjoh Thanks for transferring.

@GMolini Thanks for raising this. I'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2020-10-27 15:52] JuaneloJuanelo commented on #1432
@meladm  thanks! I am assuming in the same Organization where the add-in was deployed, right?

[2020-10-27 18:51] exextoc commented on #1402
Windows 7 support has ended. More information can be found [here](https://support.microsoft.com/en-us/windows/windows-7-support-ended-on-january-14-2020-b75d4580-2cc7-895a-2c9c-1466d9a53962).

You can check if a version of Outlook is supported on Windows Server 2019 [here](https://www.microsoft.com/en-us/microsoft-365/microsoft-365-and-office-resources).

[2020-10-27 23:26] exextoc commented on #1465
What client are you using (win32, mac, OWA) and what is the build of Outlook? What OS and version number are you using?

[2020-10-28 01:39] SWei1234 commented on #1460
Hi @exextoc

1. Are you facing this issue in Classic Mac Outlook or New Mac Outlook UI?
In classic Mac Outlook.
2. Does the issue occur consistently?
Yes, I tried clean cache and checked the delegate permission , but this issue occur consistently.
3. Please share the steps to repro the issue.
Pre condition: Quit Outlook Application, then reopen it.
1) open a new meeting on a shared calendar. (in d

[2020-10-28 07:03] exextoc commented on #1455
Add-in support on mobile compose is under review and we are working on defining the right UX experience for mobile users. Unfortunately we do not have a timeline that we can share publicly.

[2020-10-28 09:06] MandytMSFT commented on #1463
Open an internal BUG 4599725 to track

[2020-10-28 09:27] exextoc commented on #1419
@DmitryKostochko  Thanks for sharing the video. We are able to repro this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-10-28 09:50] lumine2008 commented on #1463
Thanks @leticiabecker  for reporting this issue, @MandytMSFT  from our team has repro this issue and bug was created to track this issue, we will keep you update once we have progress on this issue.

[2020-10-28 10:26] ig-jb opened #1466 "[invalid] Office.context.mailbox.item.getAttachmentsAsync only works in Compose mode"
The documentation at https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentcontent?view=outlook-js-preview indicates that Office.context.mailbox.item.getAttachmentsAsync should work in either Compose or Read mode. However, it only works in Compose mode

## Expected Behavior
Office.context.mailbox.item.getAttachmentsAsync and result.asyncContext.currentItem.getAttachmentContentAs

[2020-10-28 11:16] exextoc commented on #1453
@shumach5  We are not able to repro this issue. Do you see any errors in the console on attempting to redirect?
Could you please share a stripped down version of the manifest/add-in with which issue can be reproed?

[2020-10-28 11:45] exextoc commented on #1466
Office.context.mailbox.item.getAttachmentsAsync is a Compose mode API.
For Read mode, we have Office.context.mailbox.item.attachments API.  You can find the details here https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-preview&preserve-view=true#property-details
The result of this API can be used by  Office.context.mailbox.item.getAttachmentContentAsync  t

[2020-10-28 11:47] ig-jb commented on #1466
@exextoc Unless I'm missing something Office.context.mailbox.item.attachments doesn't provide access to the attachment content (method getAttachmentContentAsync doesn't exist on the object), while Office.AttachmentContent is described in the documentation as being for either Compose or Read?

Do you perhaps have a working example of this for an item in read mode?

[2020-10-28 12:13] ig-jb commented on #1466
Got it -- I had missed something. Thanks @exextoc

Example based on the script lab compose example for anyone else who comes across this later:
[code]

[2020-10-28 12:13] #1466 closed, assigned to nobody

[2020-10-28 12:22] GMolini commented on #1465
Os: Windows 10 Education
Version: 1909 OS Build 18363.1139
Outlook: Version2009 (Build 13231.20390 Click-to_run)

It has actually started working again, without me doing anything. But it would be great to know what causes the problem in case it happens again, and what could be the solution.

[2020-10-28 13:25] barisbikmaz opened #1467 "ContentControl.insertFileFromBase64 resets content control properties"
When I create a content control with some properties and upload this document to Word Online and then change the properties there and insert a document with insertFileFromBase64 then the content control properties are resetted.

## Expected Behavior
The method insertFileFromBase64 should not reset content control properties.

## Current Behavior
The method insertFileFromBase64 resets content contr

[2020-10-28 18:42] chrsblck commented on #746
@kbrandl Any updates on this?

[2020-10-28 18:51] ivanosipov95 commented on #1464
@keyur32 Hi, any ideas?

[2020-10-28 18:54] keyur32 commented on #1464
Hey, can you provide more information please.
a) are you using the shared runtime for your custom function?
b) can you verify the associate command is set to register your metadata?
c) Can you enable runtime logging on windows desktop?
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-troubleshooting#enable-runtime-logging
d) Are you able to call your function successfully

[2020-10-28 18:58] keyur32 commented on #1462
Hi, it appears you're missing the "@volatile" tag on your functions. This will allow your functions to be treated like volatile files like Rand() in Excel.

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-volatile\

thanks

[2020-10-28 18:58] #1462 closed, assigned to keyur32

[2020-10-28 18:59] keyur32 commented on #1415
Still under investigation and @lumine2008  will comment when updated. Thanks.

[2020-10-29 01:38] lumine2008 commented on #1415
Thanks for your patient, @david-ps , yes, our team is still doing the investigation, we found this issue is not related to any specific API, it may relate to the EdgeHTML webview, we are working with the related team to do further investigation.

[2020-10-29 05:33] swasti1994 commented on #746
We are also facing the same issue with `internetMessageId` on Mac Desktop Clients. We currently work around it by adding the opening and closing chevron wherever they are missing due to the lack of an alternative.

We are facing another (maybe related) issue where we are unable to fetch a message resource using a non-outlook internet message ID via Outlook REST APIs. This is universal across all c

[2020-10-29 08:31] MandytMSFT commented on #1467
I can repro this issue,  BUG 4603048 is opened for internal track

[2020-10-29 09:29] david-ps commented on #1415
Thanks for keeping us updated @lumine2008 Great to hear it's not related to the API.

[2020-10-29 09:43] htryggva commented on #1440
@lliu113 @nickxbs It appears that this issue is resolved on our side 👍

[2020-10-29 12:20] sergez commented on #1221
The issue is still reproduced on:
 - Exchange Server 2016 CU 18;
 - Exchange Server 2019 CU 7;

[2020-10-29 13:33] exextoc commented on #1460
@SWei1234 Can you confirm if this is occurring on updating an existing meeting or in a new meeting window. Is it possible for you check if the custom property being set in Mac can be read from other Platforms like Windows or OWA?

[2020-10-29 14:15] kbrandl commented on #746
@chrsblck I'm no longer working at Microsoft, so unfortunately can't provide an update on this. @macOutlookExtensibility can you please provide an update?

[2020-10-29 15:07] GMolini commented on #1465
And it has happened again.

[2020-10-29 21:40] modestfake opened #1468 "Problem with rendering page when using window.open in Outlook for Windows"
Let me know if this is the wrong place to raise such issues.

We render sidebar and inside a sidebar we do this
[code]

If the server returns 409 HTTP status code for `/example`, Outlook shows this error, even if the response is a valid HTML.
![image](https://user-images.githubusercontent.com/16977959/97632252-efe32c00-1a3a-11eb-97da-18b86d986198.png)

It actually works in OWA and Outlook for Mac,

[2020-10-30 08:54] exextoc commented on #1400
We have  fixed the issue with userProfile.accountType. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-10-30 09:04] exextoc commented on #746
We are actively working on the fix for Office.context.mailbox.item.internetMessageId format. We will update this thread once the fix is deployed.

[2020-10-30 10:37] koonal19 commented on #289
Hi @macOutlookExtensibility @exextoc @lindalu-MSFT getting same issue with Outlook 2019 mac client 16.42 version for large large email (>1MB including attachments) . it doesn't show any error while executing Office.context.mailbox.makeEwsRequestAsync function to read the mime content of the mail.

@kbl212 please let me know if you get any work around for the same issue.

[2020-10-30 12:17] meladm commented on #1432
@JuaneloJuanelo  correct, everything is inside the same Org. I just got her reply: 2010 Build 13328.20292 and the issue still exists.

[2020-10-30 13:59] shumach5 commented on #1453
@exextoc Sorry for the late reply. Actually once we added the url into `Trusted Zone` in IE11, it worked! So I am gonna close this issue. Thank you for your support!

[2020-10-30 13:59] #1453 closed, assigned to exextoc

[2020-10-30 16:14] agelenava commented on #746
Just facing the same issue when internetMessageId is different on Windows/OWA and Mac/iOS. We did hardcode on our side but we are awaiting a fix from OfficeJs side.
Thanks in advance.

[2020-10-30 17:44] GMolini commented on #1465
Some more info. As I said, addin comes and goes. But at some point when I clicked to in the addin button, the following message appeared:

![image](https://user-images.githubusercontent.com/1327783/97739112-990e3e80-1a9c-11eb-85ed-e15d8e9d89d4.png)

Which is weird, because its been working fine, its a self signed certificate that i did following the tutorial. After that message appears, if I close

[2020-10-30 22:51] exextoc commented on #1465
Do you have [Fiddler ](https://www.telerik.com/fiddler)(or any other network tracing tool) open when you are using your sideloaded add-in? Something that might help debug this intermittent issues is to have Fiddler open when Outlook is booted. This will help see if any calls are failing that might prevent add-ins from showing. Do you see any calls to Exchange that fail in Fiddler once Outlook is b

[2020-10-30 22:57] exextoc commented on #1468
The behavior you are seeing is by-design in Outlook win-32 when using Edge Webview as the underlying browser. 4xx responses are handled by the Webview, and this error is displayed.

The new Edge WebView2 will popup a browser and display whatever error/content the browser shows. There are instructions to begin testing with Webview 2 [here](https://developer.microsoft.com/en-us/office/blogs/announci

[2020-10-31 15:00] ghost commented on #1425
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-10-31 21:00] ghost commented on #1402
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-01 15:51] exextoc commented on #289
@koonal19  This original bug was fixed in 16.24 and later builds.  Are you facing this issue in Classic Mac Outlook or New Mac Outlook? Also, Can you share the repro steps? Is it same as the original issue reported?

[2020-11-02 01:00] namnn96 opened #1469 "OfficeJS add-ins are flickered after updating content-control bound to a repeating table"
If the document opened in Word contains a content-control bound to a repeating table, after updating that content-control's value, all OfficeJS add-ins are flickered.

## Expected Behavior

Regardless of whether a content-control is bound to singular value or repeating table, updating fields in Word document should not flicker OfficeJS add-ins.

## Current Behavior

All OfficeJS add-ins are flicke

[2020-11-02 09:00] ghost commented on #1457
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-02 09:00] ghost commented on #1394
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-02 09:12] swiecaJS opened #1470 "<Runtime> tag in the manifest + IE11 End of Life"
In our addin we need to use `Runtime` tag in the manifest to allow custom functions to the same runtime as taskpane. Based on this document: https://docs.microsoft.com/en-gb/office/dev/add-ins/reference/manifest/runtimes
There is no way to use the Edge Web View + Runtime tag in the manifest on the desktop version of Office + Windows 10.
Knowing that IE11 end of life is August 17th, 2021 -there is

[2020-11-02 11:46] swasti1994 commented on #1069
This issue is still reproducible even after applying [August 2020](https://support.microsoft.com/en-us/help/4566116) Patch for a few of our users.

[2020-11-02 15:30] TomKnibbs opened #1484 "email opened in new browser window on itemsend"
Hi,

This issue is related to when using the following code to open a dialog box on itemsend within outlook web (Do not run into the issue on the desktop version).

`<ExtensionPoint xsi:type="Events">
                  <Event Type="ItemSend" FunctionExecution="synchronous" FunctionName="validateSubject" />
 </ExtensionPoint>`

Instead of opening the dialog box the email to be sent is reopened in a

[2020-11-02 15:36] patrikhellgren commented on #1378
Any news on this issue, it´s been almost two months?

[2020-11-02 15:52] bx-anil commented on #1394
I'm assuming the exception stack wasn't helpful.

[2020-11-02 16:46] davidchesnut commented on #1470
Hi @swiecaJS, the note in that document is an error. I'll take an action to go remove it. Shared runtime will work regardless of IE or Edge WebView usage by the Office apps.

Thanks!

[2020-11-02 18:41] bx-anil commented on #1394
Please ignore the OWA issue. We don't see the issue on OWA anymore.
But on Outlook desktop its still an issue.

[2020-11-02 19:04] exextoc commented on #1394
We have fixed the bug for Outlook Desktop and the fix should be available in build 16.0.13423.10000 or later. When an updated build is available depends on the release channel a customer is on.

[2020-11-02 19:13] JuaneloJuanelo commented on #1069
Followed up offline with @swasti1994  and his scenario is different. @swasti1994  please open a separate issue for your scenario. thanks!

[2020-11-02 20:33] swiecaJS commented on #1470
Hi @davidchesnut

However, where I have shared runtime in the manifest, the app runs in the IE11, not edge. Is there a way to force using an edge web view?

[2020-11-02 21:55] davidchesnut commented on #1470
Hi @swiecaJS ,

Sorry, I gave you bad info here. I checked with the rest of the team, and the article is correct. Shared runtime will indeed force the IE runtime to be used. So you are absolutely correct. We're working to remedy this, but there is no exact timeline yet.

Cheers,
David

[2020-11-03 07:38] swasti1994 opened #1471 "Memory leak issue in Outlook Add-ins when app is pinned and opened in multiple new windows"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

##  Expected Behavior
The add-in should not cause an abrupt increase in memory utilization and should not cause Outlook to crash.

## Current Behavior
On following the steps below, th

[2020-11-03 07:40] swasti1994 opened #1472 "Memory leak issue in Outlook Add-ins when app is pinned, and a user scrolls through the outlook messages"
##  Expected Behavior
The add-in should not cause an abrupt increase in memory utilization and should not cause Outlook to crash.

## Current Behavior
On following the steps below, the add-in becomes unresponsive and eventually crashes Outlook.
**Please note that this issue is reproducible even after the recent [August 2020 IE Patch](https://support.microsoft.com/en-us/help/4566116)**.

## Steps t

[2020-11-03 09:00] ghost commented on #1460
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-03 09:25] friedlaenderhans opened #1473 "Word is aborted when loading a global template (*.dotm)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

A macro package (*.dotm) which is loaded as a global template by a Com-AddIn causes Word to crash. Yesterday (2020-11-02) the problem was restricted to Word 2016 versions, today (2020

[2020-11-03 11:33] swiecaJS commented on #1470
@davidchesnut so to summarize, currently, it works only on IE11, you are working on enabling runtime on Edge, but without a specified timeline. So can we assume that our app will work after August 17th, 2021 (Mainstream support ends for IE11)? We would like to be prepared for this date :)

Thanks for your help!

[2020-11-03 12:07] friedlaenderhans commented on #1473
Additional information: it seems that the problem is restricted to Click-to-run-installations. Best regards, Hans

[2020-11-03 15:55] tjcrowder commented on #856
@lumine2008 - Is it possible to either turn off cell-editing mode or proactively check whether the app is in cell-editing mode?

With our add-in the user fills in some cell information and clicks Save in the add-in's task pane. We have a user who habitually presses Enter after editing the cell, activating cell-edit mode in the next cell in a range they've selected, and then clicks Save -- and runs

[2020-11-03 16:28] JuaneloJuanelo commented on #1472
@swasti1994 can you please help us describe the issue in more detail? It sounds a bit edgy that the user is continuously scrolling for 7 minutes through the email. Is that the condition you are observing?
A video could be really helpful.

[2020-11-03 17:00] ghost commented on #1425
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-03 17:00] #1425 closed, assigned to exextoc

[2020-11-03 17:35] jak-hammond opened #1474 "Safari ITP and Taskpane -> Dialog LocalStorage"
With the latest release of Intelligent Tracking Prevention in Safari, the ability to use local storage to communicate between taskpanes and dialogs has become non-functional.

This is tied to the hosting model of Office.js add-ins. When running in OWA, the top-level domain is https://outlook.office.com, or some variation, the add-in is then hosted on some other domain and embedded in the iFrame, t

[2020-11-03 23:00] ghost commented on #1402
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-04 00:00] ghost commented on #1468
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-04 00:00] ghost commented on #1465
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-04 03:32] Kaidali commented on #1473
Sorry but a question is: does all com add-in will make work crash? or a specific one? Thanks.
Since I tried it, but seems loaded correctly.

[2020-11-04 07:53] friedlaenderhans commented on #1473
Kaidali wrote:

No, the COM-AddIn itself is loaded correctly and works as expected. When I deactivate it and try to load the dotm-macro package manually Word crashes anyway, so the COM-AddIn is not the problem.

So far we managed to see that another dotm-macro package we develop and sell loads ad first, but causes Word to terminate when some of its functions are called. We fear that maybe one of t

[2020-11-04 08:35] FlorinBuffet opened #1475 "Licencing Issue with officeatwork add-ins in Office 2016"
## Expected Behavior
The expected behaviour is exactly the same as it is with Word 365. The Add-In is expected to do its job and open.

## Current Behavior
Instead we see a Licencing Issue.
![licencingissue](https://user-images.githubusercontent.com/73933252/98087548-8cb12980-1e80-11eb-8d36-e89b692f30a2.jpg)

## Steps to Reproduce, or Live Example
In our Citrix envirement it is often the case when

[2020-11-04 11:16] jak-hammond opened #1476 "Outlook Online Reporting Incorrect Dialog API Support"
We are looking at adding support for the new messageChild() function inside the DialogAPI, but we need to ensure that we only
use this functionality on clients where it is supported. We are using the Office.context.requirements.isSetSupported() function to figure out if the client supports the necessary 1.9 Mailbox and 1.2 DialogAPI sets but when this is run on Outlook Online, the DialogAPI check

[2020-11-04 12:50] jak-hammond commented on #1474
I also think it is quite important to call this specific behavior out here; https://docs.microsoft.com/en-us/office/dev/add-ins/develop/parent-to-dialog where you state that local storage is a method through which add-ins can communicate to their dialogs, without the user disabling the Privacy functionality in Safari, this is not possible.

[2020-11-04 13:18] modestfake commented on #1468
So, it's not a bug but it will work as we expect soon. Is there any ETA when this will be GA (not on the Insider program but for all customers)?
And also, this issue can be closed. Thank you!

[2020-11-04 13:51] wh1t3cAt1k commented on #256
I just faced a similar issue after I had been side-loading locally for a while and then installed a store version as soon as it got approved.

Upon calling an add-in's custom function in Excel for Mac, I get a second taskpane tab saying "this add-in is no longer available".

Clearing Mac office caches as indicated in https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-

[2020-11-04 14:33] wsoccorsi-yw commented on #402
@macOutlookExtensibility 👋  I've been able to confirm this is still prevalent. I'm seeing this stripping bullet points as well as images. I'd love to echo what @arturs-buls mentioned. Would you happen to have a timeline for this fix, or is there a workaround in the meantime? Thanks :D

[2020-11-04 15:30] DmitryKostochko opened #1477 "Outlook Online: empty space (50px) under the add-in pane in a separate window"
## Steps to Reproduce, or Live Example
* Create a new email in Outlook Online by using for example the Chrome browser.
* Click the "Open in new window" button.
* Start any add-in for compose mode.
* Notice that the add-in's pane does not take all space.

## Context

## Your Environment
* Platform: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number:
* Operatin

[2020-11-04 17:03] jak-hammond commented on #1477
I have also seen this, seems very intermittent, some times it will resolve itself from a simple open and close and other times it will stick around for a while.

[2020-11-04 17:27] jak-hammond opened #1478 "Office.EventType.DialogParentMessageReceived triggered twice in Outlook Online"
When implementing the `messageChild()` functionality for the dialog API, it requires the registration of an event handler for the `Office.EventType.DialogParentMessageReceived` event. When run on OWA/Outlook Online, the handler is triggered twice whilst the same code when running on Outlook for Windows is only triggered once.

## Expected Behavior
Event will only be fired once.

## Current Behavio

[2020-11-04 17:57] jak-hammond opened #1479 "Office.context.ui.addHandlerAsync is not a function"
According to the [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/dialog-api-requirement-sets) on the Dialog API, and the response from the `isSetSupported()` method, Outlook for Mac should support the 1.2 set of this API however, when trying to wire up an event handler for the appropriate event, the error `Office.context.ui.addHandlerAsync is not a fu

[2020-11-04 19:15] nchakravarthi opened #1480 "Missing rest Url property in the mailbox context object in New Outlook for Mac"
Office.context.mailbox.restUrl property is missing, the value of the property is ""

## Expected Behavior
Ideally, **_Office.context.mailbox.restUrl_** property should fetch the restUrl of the mailbox.

## Current Behavior
The value of the **_Office.context.mailbox.restUrl_** property is empty string in the [New Outlook for Mac](https://w2.outlook.com/outlookmac/)

## Steps to Reproduce, or Live E

[2020-11-04 21:14] exextoc commented on #1468
We unfortunately don't have an ETA yet we can commit to but are trying hard to get this out.

[2020-11-04 21:14] #1468 closed, assigned to nobody

[2020-11-05 04:22] extremeandy commented on #771
Are there any other workarounds for this? Our users are encountering this error and the suggested workaround is not suitable given that we have many clients using our add-in.

[2020-11-05 05:49] SWei1234 commented on #1321
Hi @exextoc
    We have another exception phenomenon about this api.
    After we save an html in body and update it. Another will be generated there above the table. I have mentioned this in last shooting meeting on teams.
   Can you please fix this when you have ETA?

    Thanks

[2020-11-05 06:56] lumine2008 commented on #771
Thanks for the patient, this issue was fixed and check-in, but it is in the rolling out stage,
You could try insider build (Build number >= 13127)  or semi-annual build in 2021 Jan for these 2 APIs
- worksheets.add()
- worksheet.load()

You could try insider build (Build number >= 13328)  or semi-annual build in 2021 July for this API
- worksheet.delete()

You could have validate and let us know i

[2020-11-05 10:44] DmitryKostochko opened #1481 "Outlook Online: Supertip's Title is added to button's label in ... menu"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are developing an Outlook add-in for compose mode. Recently we have noticed that the Supertip->Title value from the manifest is added to the add-in's button label in the 3 dots (..

[2020-11-05 11:00] ghost commented on #1457
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-05 11:00] #1457 closed, assigned to exextoc

[2020-11-05 14:06] jnSWPC opened #1482 "addFromBase64 - Preview API - Does not copy sheets from xlsm files"
## Expected Behavior
Select xlsm file and then  copy worksheet to a target excel document. The sheet gets copied.

## Current Behavior
The api copies sheets when the source workbook is xlsx type but seems to error out during addFromBase64 statement when the source excel document is xlsm. type  Wanted to check if xlsm files are supposed to be supported?

## Steps to Reproduce, or Live Example

* Li

[2020-11-05 15:35] exextoc commented on #1477
Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-11-05 15:47] exextoc commented on #1478
Thanks for reposting this issue, The fix has already been made and is in roll-out phase.
Please wait while the fix reaches you.

[2020-11-05 15:49] jak-hammond commented on #1478
Is there an ETA on when it will reach production?

[2020-11-05 15:58] DmitryKostochko opened #1483 "Outlook Desktop: addFileAttachmentAsync adds an attachment (fake?) to the attachments list after unsuccessful call"
In an Outlook add-in for compose mode, we are using the addFileAttachmentAsync function to add attachments. In desktop Outlook, an attachment is added to the attachments list even if a call failed, i.e. result.status === "failed".

## Expected Behavior
An attachment shall not be added to the list of attachments in this case.

## Current Behavior
The attachment is added, please see the screenshot b

[2020-11-05 16:00] exextoc commented on #1478
Please expect the changes to reach by End Of Next Week.

[2020-11-05 16:05] jak-hammond commented on #1478
Thanks, I will check the reproduction again on Friday 13th or Monday 16th and if fixed will close off the ticket.

[2020-11-05 16:10] exextoc commented on #1476
Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
For work around please use
`Office.context.requirements.isSetSupported('Mailbox', '1.9')
`
It too has the same changes.

[2020-11-05 16:17] jak-hammond commented on #1476
Ah, okay, this was actually a question I had asked elsewhere but got no answer, does Dialog API 1.2 have a dependency on Requirement Set 1.9? I ask as according to the issue I have logged #1479 here about Mac support and the documents say that Mac doesn't currently support Requirement Set 1.9 yet, but it does (or should) support Dialog API 1.2......so I am trying to understand if the Dialog API is

[2020-11-05 18:00] ghost commented on #289
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-05 18:20] exextoc commented on #1479
Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2020-11-05 18:31] jak-hammond commented on #1479
So the `messageChild` functionality in the 1.2 Dialog API will not be available until this is fixed?

[2020-11-05 19:57] AlexJerabek commented on #1484
Hi @TomKnibbs,
Thanks for reporting this.
I'm going to transfer this issue to the https://github.com/OfficeDev/office-js repo, when product issues are investigated.

[2020-11-05 22:22] modestfake opened #1485 "After adding new permission to manifest Outlook keeps prompting to upgrade"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Recently we've changed the permission of Outlook add-in from `ReadWriteItem` to `ReadWriteMailbox`. According to [this page](https://docs.microsoft.com/en-us/office/dev/store/appsourc

[2020-11-05 23:23] extremeandy commented on #771
That's great news, thanks @lumine2008.

Unfortunately we don't have control over which version of Excel our users are running so likely scenario is it will be 1-2 years before this fix makes it into their systems. So we still need a workaround until then.

We don't even have any way of identifying whether the user opened another workbook; at least if we did we could warn the user. For now we are j

[2020-11-06 06:45] exextoc commented on #1474
Thanks for reporting the issue. We are able to reproduce it. We have created a backlog item for further investigation and research on the above. We don't have any timelines as of now.

[2020-11-06 07:07] exextoc commented on #1476
Two Way Dialog Api functionality was released along with Mailbox 1.9 Api set. So while it doesn't really have any direct dependency; but you won't get this new DialogApi support in previous Mailbox Api set i.e 1.8 and below.

[2020-11-06 08:01] lumine2008 commented on #1482
Thanks @jnSWPC for your question. addFromBase64 support xlsx and xltx file types.  we don't support vba macro file type. so I would suggest that you could convert xlxm to xlsx. thanks.

[2020-11-06 09:20] jak-hammond commented on #1484
We have seen this happen a few times ourselves in an application we have been developing. Only myself and one of our QA engineers see this issue, for the other 4 people on my team, the message remains inline and does not pop out, so if there is anything we can do to fix or document on how to turn on or off, would be appreciated!

[2020-11-06 09:34] jak-hammond commented on #1476
So if the Mac Outlook doesn't currently support 1.9, but does support Dialog API 1.2, is this an error in the documentation or something else?

[2020-11-06 09:51] JensMadsen opened #1486 "ContentControl on range with hyperlink fails when inserted in Desktop then opened in online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
That content controls and hyperlink do not fail when inserted in Word Desktop and then opened in Word Online

## Current Behavior
When a contentControl is added t

[2020-11-06 10:01] TomKnibbs commented on #1484
We also have the same issue in which it affects some users but not all...

[2020-11-06 10:49] nickxbs commented on #1440
@htryggva we moved to npm version. I think changing cdn content without changing the endpoint should be unsafe for us.

[2020-11-06 10:59] ToniFr commented on #1440
@nickxbs @htryggva Isn't it the case that Office.js team recommends using the CDN url (that is always the same) for production apps, and not npm package (see https://github.com/OfficeDev/office-js#support)? If that is the case, then why CDN tends to break? What is the safer to use in the future?

[2020-11-06 11:00] ghost commented on #1460
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-06 11:00] hello-chenchen opened #1487 "Office.context.mailbox.item.body.setAsync not work for Mac Outlook 16.44(20110306)"
demo code:
[code]

get error message:
[code]

[2020-11-06 11:01] greatescape95 commented on #1440
@nickxbs @htryggva Isn't it the case that Office.js team recommends using the CDN url (that is always the same) for production apps, and not npm package (see https://github.com/OfficeDev/office-js#support)? If that is the case, then why CDN tends to break? What is the safer to use in the future?

[2020-11-06 12:05] mitoihs commented on #771
Hi @lumine2008 ! Is that fix about all cases of `GeneralException` being thrown during various office-js operations or just when those 3 `worksheet` APIs are used?

[2020-11-06 12:30] ivark16 commented on #1371
Hi, are there any updates on this issue?

[2020-11-06 13:00] MartinSSeifert commented on #1485
We also see similar behaviors (Update message) when we update our manifest file and re-submit those changes to the office store. Once that gets approved, many of our customers get yellow update messages. We believe that for centralized deployed add-ins, users should not ever get an update message. You can help upvote this matter in UserVoice here: https://officespdev.uservoice.com/forums/224641-fe

[2020-11-06 14:26] BEPLA99 opened #1488 "OfficeAtWork Add-Ins don't load correctly"
## Expected Behavior

The OfficeAtWork-Add-Ins are a tenant-wide installation and load correctly on a freshly installed pc with a user who never logged in (or a user with no roaming profile).
## Current Behavior

There is a yellow dialogbox that says: "The Add-In could not be started. Please close this dialog to ignore the problem or click on RESTART to try again" (translation from the german vers

[2020-11-06 15:02] MartinSSeifert commented on #1488
@BEPLA99 thx. for creating the issue.

[2020-11-06 18:58] jeremy-msft commented on #1371
Hi @ivark16, thanks for your patience.  This should now be fixed; please let us know if you continue to see the problem.

[2020-11-06 21:00] ghost commented on #1394
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-11-07 02:00] ghost commented on #1465
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-07 02:00] #1465 closed, assigned to exextoc

[2020-11-07 15:53] swasti1994 commented on #1472
@JuaneloJuanelo We are working to get a video of the scenario to help with the investigation. We will share the same with you offline by Monday. Thanks !

[2020-11-07 17:03] exextoc commented on #1488
Could you share what client you are using to test this?

[2020-11-08 20:00] ghost commented on #289
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-09 01:37] lumine2008 commented on #771
Hi @mitoihs , Thanks for your question.  The general exception issue in this scenario is caused by 2nd workbook is opened, so the fix is to let these APIs can be run successfully when 2nd workbook is opened.

[2020-11-09 03:32] vault79 opened #1490 "getTypeAsync needs to support read mode"
Need a method to identity CoercionType (Text/Html) in read mode, but getTypeAsync doesn't support read mode.
A developer want to create reply form by [displayReplyAllForm](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-1.5&preserve-view=true#displayreplyallform-formdata-). displayReplyAllForm supports to set Text or HTML format data in read mode. But, Of

[2020-11-09 07:29] BEPLA99 commented on #1488
We are using

  *   Windows 10, 20H2
  *   Office 365 (32- and 64-bit), Version: 16.0.13328.20262
  *   The problem is not separated to 32-bit-Versions of O365
  *   The PCs are from Intel i5-6th-generation up to i9-10th-generation

Mit freundlichen Grüßen
i.A. Dipl.-Ing. Bernd Platzek

assmann GmbH
Baroper Straße 237
44227 Dortmund
Fon +49.231.75445.134
Mobil +49.163.7544534
platzek@assmanngruppe

[2020-11-09 07:42] exextoc commented on #1133
@DmitryKostochko We have fixed the bug and the fix should be available in latest builds.

[2020-11-09 07:42] #1133 closed, assigned to exextoc

[2020-11-09 09:13] htryggva commented on #1440
@nickxbs @greatescape95 Happy to hear that the NPM version fixes the issue for you but our add-in is published on AppSource, which means that we have to use the CDN version according the submission guidelines:

[Certification Policies - 1120.1 Easy identification](https://docs.microsoft.com/en-us/legal/marketplace/certification-policies#11201-easy-identification)

With that in mind, the CDN versio

[2020-11-09 10:17] Namrata99sah opened #1491 "Enable outlook addin for multiple mail selection"
Hi,
How to activate the addin when multiple emails are selected. I tried the ItemHasRegularExpressionMatch for any generic filter so that the addin button is enabled for all but it's not working.

[2020-11-09 11:41] ig-jb opened #1492 "Office.context.host is unavailable in one-time purchase Outlook 2016"
One-time purchase Outlook 2016 is documented to support requirement sets up to 1.4 (or at least 1.3 depending on patch version).

Office.context.host is documented as being in requirement set 1.1.

https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.1/

[2020-11-09 12:28] masem1899 opened #1522 "Outlook Error Code 5010 is not documented"
When using Office.context.mailbox.item.removeAttachmentAsync the following error occurs, but isn't documented:
code: 5010
name: Interner Fehler
message: Ein interner Fehler ist aufgetreten.

Documentation Link:
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes

[2020-11-09 13:08] abdul-kurtosys opened #1493 "Inserting svg from office web on windows fails"
Attempt to insert an svg using Office.context.document.setSelectedDataAsync fails inside word, on the web (office365), on windows 7 and 10. All tested browsers fail (chrome, edge, internet explorer)

## Expected Behavior
Svg should be inserted like on other platforms.

It currently works on windows desktop, mac desktop, and mac web. It does not work for any browser on windows 7/10

## Current Beha

[2020-11-09 13:38] MartinSSeifert commented on #1493
+1 on the ask for supporting SVG via Office.context.document.setSelectedDataAsync

[2020-11-09 14:07] nickxbs commented on #1440
@htryggva @greatescape95  the lib was modified without changing the versioning of cdn. As you can see my plugin was broken overnight, due to this bug, from 25 days... This is unsafe for me.
The npm version is older but can be managed and versioned

[2020-11-09 17:46] AbhishekGupta100 opened #1494 "[Excel] Issue using RangeArea.copyFrom to copy values from one RangeArea to another RangeArea"
I'm trying to copy values from multiple ranges and paste to another set of ranges of the same size using ```RangeArea.copyFrom```, but I am getting General Exception Error.

## Expected Behavior
I expect to be able to copy-paste values from one RangeArea to another using ```RangeArea.copyFrom```.

## Current Behavior
I am getting a General Exception Error when I am trying to run the function.

##

[2020-11-09 18:30] AlexJerabek commented on #1522
Thanks for reporting this @sempre76.

@ElizabethSamuel-MSFT, can you please investigate and update the documentation accordingly? Thank you!

[2020-11-09 19:15] exextoc commented on #1492
Are you able to reproduce this issue in another Office Application? For example in Excel or Word.
Can you please provide your [Exchange version number? ](https://docs.microsoft.com/en-us/exchange/new-features/build-numbers-and-release-dates?view=exchserver-2019)

[2020-11-09 20:06] jeremy-msft commented on #1488
Hi @BEPLA99, are you seeing this problem with all add-ins or just this one?  Is every machine in your environment experiencing the same issue?

[2020-11-09 23:00] ghost commented on #1394
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-11-09 23:00] #1394 closed, assigned to exextoc

[2020-11-10 01:05] exextoc commented on #1483
Thanks for reporting this issue. The described behavior is consistent with how Outlook Desktop in Windows behaves if a user directly adds a non-existing file URL attachment. Please try it. To avoid this condition, we recommend you to validate the URL and check if the file exists before calling addFileAttachmentAsync.

[2020-11-10 02:40] MandytMSFT commented on #1431
@harit-m-kumar Office.OfficeTheme do have field called bodyBackgroundColor. I tried this gist: https://gist.github.com/MandytMSFT/2f8a2116b7c74bf2a518a9db059e3c54 on Excel Desktop , it returned
#e6e6e6 for bodyBackgroundColor.

But looks like it's not green color that you expected, is this your point ?

[2020-11-10 03:11] lumine2008 commented on #1463
Hi @leticiabecker , would you please share a bit more on your scenario, we would like to learn more about the reason that need to freeze/unfreeze the hidden worksheets.

[2020-11-10 03:25] SWei1234 commented on #1385
Will update here result. Please don't close this ticket.

[2020-11-10 08:37] exextoc commented on #1381
@rickgoud We appreciate your feedback and concern on this. We understand that the user experience may not be optimal for the on-send experience on Outlook Web with send-delays. We will evaluate if the time delay can be reduced. It is a non trivial design change for us. We have put this work item  in our backlog, but we don't have a timeframe for the fix.

[2020-11-10 08:57] DmitryKostochko commented on #1483
@exextoc, thank you, but there is one difference between adding a fake attachment manually and by using addFileAttachmentAsync. In case of addFileAttachmentAsync, the attachment is added and the "Download failed" label appears. When added manually, the attachment is also added but there is no "Download failed".

In general, I don't quite understand why addFileAttachmentAsync behaves differently in

[2020-11-10 09:32] ig-jb commented on #1492
@exextoc I've tried this in Word 2016 and although Script Lab refuses to run (states too old) - I was able to load an addin to output the available keys in Office.context which returned `["contentLanguage","displayLanguage","touchEnabled","commerceAllowed","host","platform","isDialog","diagnostics","license","ui","auth","document","officeTheme","requirements"]` ; correctly containing "host" with a

[2020-11-10 10:41] dmitry-semenov commented on #1434
@exextoc sorry for bumping this, just want to understand is the issue closed due to being fixed in the latest builds or not?

[2020-11-10 10:43] glr0221 opened #1495 "Outlook-OWA not displaying email properly when email headers are sent."
As the title states, there is a case where OWA fails to properly display the email if some email headers are in the content of the email. Outlook clients display the headers correctly though.

I don't think this is the right forum, but took a chance at filing the ticket anyway since I have had pleasant experiences with this group. And I am hoping this will be re-routed to the right team. Thank you

[2020-11-10 10:48] exextoc commented on #1480
@gs-nchakravarthi This issue is already fixed, and it will be rolled out in next monthly build release. This fix is currently in Insider Fast build, if you are in Insider fast and still seeing this issue then you can try removing outlook.com account and adding it again.

[2020-11-10 11:05] BEPLA99 commented on #1488
Hi there,

either all add-ins are affected or none, regardless if it is office 32-bit or 64-bit. One colleague was logged in at another pc with their roaming profile this morning. On this machine the add-ins do not work.
Back to her actual pc she always uses everything works fine.

Mit freundlichen Grüßen
i.A. Dipl.-Ing. Bernd Platzek

<https://zoom.assmanngruppe.com/zoom/details/lernwelten-von-mo

[2020-11-10 19:27] ElizabethSamuel-MSFT commented on #1522
@exextoc Can you provide info on this error so I can update the docs?

Thanks.

[2020-11-10 19:47] exextoc commented on #1522
@sempre76 Can you please give us more details on how you got this error and what build/version of Outlook you are on?

[2020-11-10 20:30] jnSWPC opened #1496 "When will addFromBase64 API be released for Production use"
Currently it appears the api is provided as a preview for developers . When will it get formally released for production use?

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [E

[2020-11-10 20:56] exextoc commented on #1488
Can you access any add-in in another Office Application? ie: Excel or Word.

[2020-11-10 21:08] jeremy-msft commented on #1488
Thanks.  In addition to @exextoc's question, does it work for another user on that PC (and if so, is that user roaming or non-roaming)?

[2020-11-10 23:37] YutongLi291 commented on #1456
Could I please get a response soon? Thanks!

[2020-11-11 00:22] JuaneloJuanelo commented on #1491
This is actually a known gap in the platform, please upvote this user request to influence our backlog
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/11080962-allow-outlook-add-in-commands-to-be-used-on-select

[2020-11-11 00:22] #1491 closed, assigned to nobody

[2020-11-11 02:10] SWei1234 commented on #1460
Hi @exextoc
Sorry for reply late. Please reopen this issue.
We are confirming this with customer now. Will response soon.
According to can access custom property after 20 minutes believe the custom properties write is succeed.
Thanks

[2020-11-11 03:12] lumine2008 commented on #1496
Thanks @jnSWPC for your questions, this API is in preview mode for 2 years because of the lack of support of Excel online, so this quarter we are actively working on supporting this API on Excel online, and this API has a small change. so it will need to release to beta soon. please stay tuned. thanks for your patient.

[2020-11-11 03:33] MandytMSFT commented on #1486
This is a known gap for content control. BUG 4631498 is opened for internal track

[2020-11-11 04:50] hxltinh opened #1497 "(Word Online) Issue with Updating Content Control when removeWhenEdited set back to true from false."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

update content control without removing the content control

## Current Behavior

the content control is removed when updated.
Happens on word Online, it should

[2020-11-11 05:17] exextoc commented on #1490
Currently getTypeAsync API is not supported in Message read mode. We track Outlook add-in feature requests on our  [user-voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins ) page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

[2020-11-11 05:22] #1490 closed, assigned to nobody

[2020-11-11 05:36] exextoc commented on #1487
Thanks for reporting this issue. We are already aware of this issue and working on fixing this.

[2020-11-11 05:58] Kaidali commented on #1473
Thanks for the info, Hans.
We haven't heard a similar crash so far, and it's hard to get a clue with those info.
Can you please provide some more details like, which of your calls actually terminate word? Or crash call stack. Thanks.

Regards, Flora

[2020-11-11 07:10] BEPLA99 commented on #1488
Yes, other Add-ins like PDF-Xchange do work!

Mit freundlichen Grüßen
i.A. Dipl.-Ing. Bernd Platzek

assmann GmbH
Baroper Straße 237
44227 Dortmund
Fon +49.231.75445.134
Mobil +49.163.7544534
platzek@assmanngruppe.com <mailto:platzek@assmanngruppe.com>
www.assmanngruppe.com <https://:/www.assmanngruppe.com>

<https://zoom.assmanngruppe.com/zoom/details/lernwelten-von-morgen-1-1>[cid:image001.png@0

[2020-11-11 07:33] friedlaenderhans commented on #1473
Hello,
it turned out that the "Microsoft Office 16.0 Access database Engine Object Library" which has been updated by Microsoft aorund Nov. 2 caused the error. In our dotm we used common database questions on MDB-files ("table exists" and field exists") in "for each"-loops. After changing that method into something else (sorry, our developer told me, it was something using an index, if necessary I

[2020-11-11 07:34] exextoc commented on #1484
What you are seeing is the expected behavior if the OnSendAddinsEnabled policy is enabled for a mailbox. You can read the documentation about enabling the policy here: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=classic#install-outlook-add-ins-that-use-on-send. The users that are not seeing this behavior might not have the OnSendAddinsEnabled policy enab

[2020-11-11 07:34] exextoc commented on #1484
What you are seeing is the expected behavior if the OnSendAddinsEnabled policy is enabled for a mailbox. You can read the documentation about enabling the policy here: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=classic#install-outlook-add-ins-that-use-on-send. The users that are not seeing this behaviour might not have the OnSendAddinsEnabled policy ena

[2020-11-11 07:35] PrashSMSFT commented on #1456
I am not on the OneNote team. Hey @Linda<mailto:Linda.Cannon@microsoft.com> / @Prashant Pathak<mailto:Prashant.Pathak@microsoft.com> – can you please address Yutong’s issue?

From: Yutong Li <notifications@github.com>
Sent: Tuesday, November 10, 2020 3:38 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: PrashSMSFT <prash@alum.mit.edu>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-11-11 08:05] nchakravarthi commented on #1480
@exextoc I have verified the same in Insider build and it is working fine. However, I was able to only access the restUrl after I reconfigured the account.

Does everyone using the newer version in the upcoming build needs to do that?

If yes, that would be a bad user experience asking users to reconfigure their accounts in Outlook

[2020-11-11 08:10] exextoc commented on #1481
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-11-11 09:29] megharajdeepak commented on #12
Hi All,
@misaunde @Zlatkovsky @LanceEa @sameera @deinspanjer @tong-1324
@JuaneloJuanelo @Hongbo-Miao @Danwakeem

I am using "@microsoft/office-js": "^1.1.43" within Angular CLI project ("@angular/common": "~10.2.0").

Before this post, I was using straight forward way ie., dataTable.rows.add(rows) and this was working fine only for up to 10k records, but it was time consuming, but wasn't crashing.

[2020-11-11 12:03] megharajdeepak commented on #12
Hi @LanceEa
Were you able to scale it to render 100k rows or you had to limit the number of rows?

[2020-11-11 12:56] MartinSSeifert commented on #1488
@BEPLA99 is PDF-Xchange also deployed using centralized deployment? If not, can you try out with a different modern add-in deployed via centralized deployment - like Script Lab from Microsoft?

[2020-11-11 13:51] masem1899 commented on #1522
The error occurs when calling the function Office.context.mailbox.item.removeAttachmentAsync
In the asyncResult the following error is returned:
code: 5010
name: Interner Fehler
message: Ein interner Fehler ist aufgetreten.

Build version:
![image](https://user-images.githubusercontent.com/5462033/98819655-6ade1680-242d-11eb-9df9-4c7f27c73a06.png)