[2021-08-02 06:51] xiaochunms commented on #1984
@thanakrid-kunghair-rft sorry to hear the issue. Please let me clone your examples locally and back to you with my findings then.

[2021-08-02 06:59] grangeryy commented on #2016
@eldargum have you followed the instruction on how to [Receive and handle data with custom functions](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs)? If it still doesn't work, it would be of great help if you could share to us the sample your code snippet. THX!

[2021-08-02 08:55] qinliuMSFT commented on #2014
Hi @lucasqu-venacorp , I could not repro your issue on my environment. Do you only have this issue on the specified file and specified version of Excel?
BTW, could you please have a try on the latest version of Excel? The latest monthly channel version should be 16.0.14228.xxxxx.

[2021-08-02 09:32] david-ps opened #2018 "No mouseleave event when moving the cursor outside Excel Content Pane container"
There appears to be recent  changes introduced that negatively affect the way hover events work in Excel Content Pane Apps that affect the UX.

## Environment
* Platform: PC
* Host : Excel
* Office version number Microsoft 365 MSO 16.0.14228.20200
* Operating System: Windows 10

## Expected behavior
There is a mouseleave event when moving the cursor away from a button and outside the Content Pane

[2021-08-02 09:39] wh1t3cAt1k commented on #2012
@grangeryy @keyur32

Thank you for the clarification...
What about desktop platforms? Does it calculate upon load there?
Does this need to be documented somewhere?

Also thanks for the feature request. How could we track its implementation, with this issue being closed?

(also, could we hope for it to be delivered soon?.. It looks relatively simple to implement, but it's causing immense trouble: c

[2021-08-02 09:46] wh1t3cAt1k commented on #2012
(As an alternative suggestion, maybe all platforms simply need to be brought in line with each other and with legacy COM add-ins: not to invoke recalculation in any case and keep Excel files in the same state as they were saved...)

[2021-08-02 09:59] wh1t3cAt1k commented on #2012
@grangeryy should we mark this as "open" and "status: in backlog" instead so that it can be tracked on our end? Thank you!

[2021-08-02 10:02] grangeryy commented on #2012
We can keep the issue open for tracking:)

[2021-08-02 10:02] exextoc commented on #1400
@m-pd Can you please run the comand shared above and again generate Diagnostic Id like you did before and share it with us?

[2021-08-02 10:19] eldargum commented on #2016
Hi @grangeryy,

my code snippet is below and it's working in office web excel
[code]

[2021-08-02 10:27] lago-dev opened #2019 "Outlook add-in: Minimum release for event-based activation with InsightMessage"
Hi,
we have implemented event-based activation for a OnNewMessageCompose event to autolaunch our Outlook add-in and display an InsightMessage. Everything works very nicely with release 16.0.14228.20204 (Current Channel).

## Expected Behavior
According to the documentation we have expected that both OnNewMessageCompose and InsightMessage will work on 16.0.14026.20334 (Monthly Enterprise Channel) i

[2021-08-02 13:41] kumaro commented on #1999
Any update on this issue?

[2021-08-02 16:04] #1018 closed, assigned to jeremy-msft

[2021-08-02 16:08] wh1t3cAt1k commented on #2012
@grangeryy Thanks a lot!

What about non-Web platforms, do they exhibit the same behaviour of auto-calculating upon start?

[2021-08-02 16:27] lindalu-MSFT commented on #2015
Hi, thanks for the suggestion. Please go to https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform and click Submit an Idea.

[2021-08-02 16:33] davidchesnut commented on #1756
Hi @Geraint87 and @kevinxbrown,

We documented recently in the troubleshooting guide how to work around this problem and update the XSD files in Visual Studio. See [Troubleshoot development errors with Office Add-ins - Manifest schema validation errors in Visual Studio projects](https://docs.microsoft.com/office/dev/add-ins/testing/troubleshoot-development-errors#manifest-schema-validation-errors-

[2021-08-02 17:14] sshukurov commented on #1968
I am experiencing the same problem. I get a warning in the console when I click `Office Add-ins` button:
![image](https://user-images.githubusercontent.com/36232686/127899083-eb5c9acc-c182-4994-8976-5fb20ecc9454.png)

I tried playing around with IE11 security settings and  turning off SmartScreen - it doesn't help.

[2021-08-02 23:25] davidchesnut commented on #1983
Hi @ndeeH,

To be clear are you asking for a troubleshooting guide/checklist for IT/admins on managing add-ins? We do have a [Centralized Deployment FAQ](https://docs.microsoft.com/microsoft-365/admin/manage/centralized-deployment-faq?view=o365-worldwide) Is this what you are looking for? Or something similar?

Thanks,
David

[2021-08-02 23:30] davidchesnut commented on #1987
Hi @jnSWPC,

Can you provide some additional details on how to reproduce this behavior? We need to know if this is happening on web, or desktop, and which version of Office you are using. Also if you have a small sample of the XML that causes the behavior that would be helpful.

Thanks!
David

[2021-08-03 00:36] pkkj commented on #1864
One more problem, please check this document to ensure that your are following the correct flow for page redirection: [https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api)

[2021-08-03 00:53] nima-chatlani opened #2020 "closeContainer() throwing error "TypeError: Office.context.ui.closeContainer is not a function.""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Post how-to questions about your code on Microsoft Q&A

I'm developing a word add-in and am trying to close the taskpane when a button is clicked, like this:

[code]

But I keep ge

[2021-08-03 03:00] ghost commented on #2005
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-03 06:32] ndeeH commented on #1983
Nop. We are not looking for guidelines for centralized deployment.

We are looking for a FAQ for normal store deployed add ins - all common problems that could occur
for example IE problems like Protected Mode or Group Policy based problems.

Something like this - but complete and not product related and containing all common issues:
https://docs.revenuegrid.com/ri/fast/articles/Troubleshooting-Ad

[2021-08-03 06:57] exextoc commented on #683
@syedaliahsan This issue is fixed now. Please check with your add-in that you no longer face this issue.

[2021-08-03 09:31] grangeryy commented on #2016
@xiaochunms could you help to take a further look? THX!

[2021-08-03 12:58] lucasqu-venacorp commented on #2014
@qinliuMSFT  Hi, it is happened on a specified file and we tried different versions of excel and got the same error. I attached the file in the description, you can find it in **Useful Logs** Session. And yes i'll try again with the version you mentioned.

[2021-08-03 13:07] david-ps commented on #2018
@AbidRahman-MSFT Note this behaviour does not occur in Excel Online and works as expected.

[2021-08-03 13:43] syedaliahsan commented on #683
I had already checked a few months back and it was fixed.

Thanks

Kind regards,

Ali Ahsan

On Tue, Aug 3, 2021 at 11:57 AM Outlook Add-ins Team - MSFT <
***@***.***> wrote:

[2021-08-03 13:45] SwesthuisTNO opened #2021 "when using createDocument controls are not bound to schema.xml properties"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

I've created a simple template document using plain text controls connected to schema.XML.
When re-opening the document and

[2021-08-03 14:41] Ssereno commented on #1864
@pkkj Problem solved, this documentation make the diference. Thanks for your help.

[2021-08-03 14:41] #1864 closed, assigned to lliu113

[2021-08-03 17:50] exextoc commented on #1940
For Windows, the bug has been fixed for builds above 16.0.14308.10000.

[2021-08-03 18:30] AbidRahman-MSFT commented on #2018
Hey @david-ps, thanks for reporting this issue.

I'm trying to understand the technical implementation here - are you using this [mouseleave event](https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseleave_event) on your content add-in?

If so, did this use to work as expected in Windows and recently the experience has regressed?

Thanks for your time and the info!

[2021-08-03 19:49] exextoc commented on #2019
Thanks for reporting this issue. We have addressed it and the minimum build for the Monthly Enterprise Channel for the Event-Based Add-ins feature is 16.0.14131.20000.
This build will be released on 08/10/2021.
If this still doesn't work after 08/10/2021, let us know so that we can look further into it.

For Semi-Annual Channel, we just forked for July 2021, and this fork will be released to the S

[2021-08-03 20:42] jlevenssfdc commented on #2009
We'll move to use rest but it's deprecated and decommissioned in 2022 so we're talking with Juan to find a longer term solution.

[2021-08-03 20:42] #2009 closed, assigned to exextoc

[2021-08-04 06:56] dinglicoding opened #2022 "[Excel] Custom Tab Can Focused"
We saw that you released a new function contextualTab, and we introduced your new function to our excel addin plug-in. Whether the button is editable is very good, we also like it, but when we edit the table, we also want our plug-in tab to be selected and the focus is on our addin. From the documentation, only visible and select are available. No focus my addin

![image](https://user-images.githu

[2021-08-04 07:04] ruleechen opened #2023 "[Outlook] Duplicated addin pane"
It appears two outlook addin pane when I double click on the ribbon button to show addin pane.

## Your Environment

* Platform: PC desktop
* Host: Outlook
* Office version number: Microsoft Outlook for Microsoft 365 MSO (16.0.13801.20772) 644-bit
* Operating System: Windows 10
* Browser (if using Office on the web): I think it's embedded IE

## Expected behavior
Only one pane on the right hand si

[2021-08-04 07:14] sumitmodi01 commented on #2003
I updated my mac outlook app to version : 16.51 and now OnSend addin is getting invoked.

But with new outlook UI, we are not able to get "MIP Sensitivity label Name" using EWS API.
I checked the internet headers of an email (new UI) having Sensitivity label applied, but that label name is not present in internet headers.
We rely on that internet header to get label (fetched from EWS). Its missing

[2021-08-04 07:19] sumitmodi01 commented on #2003
_### Sample labels from internet headers : Old UI_
msip_labels:
 MSIP_Label_2bdc0c70-012z-3b90-a141-123d4290ber4_Enabled=true;
MSIP_Label_2bdc0c70-012z-3b90-a141-123d4290ber4_SetDate=2021-08-03T13:42:48Z;
MSIP_Label_2bdc0c70-012z-3b90-a141-123d4290ber4_Enabled=true;
MSIP_Label_2bdc0c70-012z-3b90-a141-123d4290ber4_Method=Privileged;
MSIP_Label_2bdc0c70-012z-3b90-a141-123d4290ber4_ActionId=1f3060ff-

[2021-08-04 08:08] JuergenHoffmann opened #2024 "Mail shows up as encrypted in Outlook 2019, but it's signed."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

hi folks,
one of our customers uses Office 2019 and if we create mails via code with the later following code-lines. Outlook shows the mails as encrypted in the outbox. the custer has

[2021-08-04 08:48] tsardy commented on #2000
@AbidRahman-MSFT  , @sohailzafar , @smaremanda , please update the status. this issue blocks us from releasing the new version of our product and our users are not able to place content panes! URGENT!

[2021-08-04 13:41] timbeese opened #2025 "Euro symbol missing when setting more than one cell value at a time."
# Provide required information needed to triage your issue
I have a table of values that I am setting into the worksheet using the officejs interface.  I have an entire column of data and the data is formatted with a Euro symbol at the left, like this:
  Euro
  €127,819.21

When I insert these values on desktop Excel, the Euro is lost.  However, if I use the web version of Excel, the Euro is maint

[2021-08-04 14:11] lynneosmith opened #2026 "Setting conditionalFormat lowerBoundRule and upperBoundRule for databar to automatic only puts bar in one cell of range"
We are trying to insert a report using office js into an Excel sheet. I have a range of numeric values in a column and have created a databar conditional format. I want to set the upperBoundRule and lowerBoundRule type to be Excel.ConditionalFormatRuleType.automatic. When I do that, only one cell in the range shows a databar. It is the cell with the highest value.
This happens on the web and deskt

[2021-08-04 14:26] exextoc commented on #2023
Does the duplicate taskpane only show up with the "Schedule with RingCentral" add-in or does it happen with other add-ins as well?
Do both taskpanes load?

[2021-08-04 14:47] timbeese opened #2027 "Dollar sign changed to Yen symbol when inserting to Excel"
# Provide required information needed to triage your issue
I am inserting a table of data into the Excel worksheet using office-js.  When my data contains a leading $, the value that gets shown in the worksheet is changed to a ￥.  This happens when my OS regional settings are set to Chinese (Simplified, China) and I'm running desktop Excel.  It also occurs when I am using the Excel web client, and

[2021-08-04 16:03] dmitry-semenov commented on #1680
Another customer brought this to us again, they're on outlook version 16.0.13801.20442 and 16.0.13801.20772. Asked for a recording  but not sure if they can provide something due to the random nature of the issue.

[2021-08-04 23:16] davidchesnut commented on #2024
Hi @JuergenHoffmann,

This looks like you are using VBA or VSTO code. This repo is for tracking product bugs found related to Office Add-ins, that use JavaScript. For VBA programming questions you'll want to go to Stackoverflow and use the [vba] and optionally the [outlook] tags: https://stackoverflow.com/questions/tagged/vba+outlook

Hope this helps,
David

[2021-08-05 03:27] exextoc commented on #2023
Are you only seeing a duplicate taskpane with Schedule with RingCentral add-in or does it happen with other add-ins as well.

[2021-08-05 04:46] ruleechen commented on #2023
I tried OneNote addin. The same problem exists.

Actually, I can not always reproduce it. I noticed that I can reproduce it much easier when my CPU is heavy used.

![image](https://user-images.githubusercontent.com/907369/128291748-ef2fe668-b8cf-49f7-8b75-10ab0584e3b2.png)

[2021-08-05 05:04] ruleechen commented on #2023
Additional information
1. Only the one on the correct place will loaded (right hand side).
2. The one on the left top will always on the same place (maybe left 0, top 0) even when I move the Appointment window.
3. After I close the Appointment window the one on the left top still there on the same place.
4. After I close the Outlook application the one on the left top finally gone.

![image](https

[2021-08-05 07:41] RuoyingLiang commented on #2001
Thanks for contacting us. This is an issue. Open Bug 5317429 to track.

[2021-08-05 09:05] qinliuMSFT commented on #2014
@lucasqu-venacorp , could I know your attempt result on the up-to-date version? I've tried your provided file in Useful Log on this version, and it could run successfully.

[2021-08-05 09:51] xiaochunms commented on #1984
@thanakrid-kunghair-rft I tried the same locally, however the value can be updated timely (Please see the screen recording attached. I changed the timeout value from 30s to 1s. I think it should still work as expected with time out value of 30s).

https://user-images.githubusercontent.com/1261601/128321036-cd297335-07a2-4bac-8b22-1243085e26b8.mp4

[2021-08-05 12:39] sundariragavan commented on #2005
Platform : Outlook on the Web.
The login is handled in separate browser window. After login will navigate to outlook addin redirect url ---https://localhost:3000/taskpane.html
Redirect is working correctly. But which event will get fired when we come to outlook add in ?

[2021-08-05 15:37] cody-lettau opened #2029 "Outlook Add-in not available when viewing draft folder item"
# Provide required information needed to triage your issue
It doesn't appear that any add-ins are available (see top ribbon -- and for the pinned Add-in, it says it is not supported for this message type) when viewing an item in the "Drafts" folder.

I cannot find any documentation on this limitation, so I am curious if it is a bug or if we may be missing something in our manifest to enable our ad

[2021-08-05 19:00] millerds commented on #1852
This issue should be fixed with the July updates to Edge

[2021-08-05 19:00] #1852 closed, assigned to smaremanda

[2021-08-06 03:32] thanakrid-kunghair-rft commented on #1984
@xiaochunms This issue occurs on some workbooks. Not sure if you have a chance to run the test-add-in on the workbook that I attached yet.

[2021-08-06 12:16] romglusker commented on #2013
Please let me know if there are any updates with the investigation here. Thanks!

[2021-08-06 15:30] sshukurov opened #2031 "[Excel] Duplicating a sheet with 100K custom functions takes forever in Chrome"
## Some background
Our Excel JS addin contains a range of custom functions and is used by our clients which frequently build workbooks of significant size with as many as 100K-150K formulas involved. A client reported to us about very slow performance on their workbook, and while triaging it and attempting to get to a minimal repro we suddenly discovered this issue with duplicating a large workshe

[2021-08-06 16:09] sshukurov commented on #2031
I just got the following error:
![image](https://user-images.githubusercontent.com/36232686/128539608-0941cd59-51ba-43d3-b0da-5442da0db049.png)

I was duplicating a sheet with ten thousand custom functions this time, and it was my 5th attempt - 4 preceding duplication actions went smoothly.

[2021-08-06 17:58] sshukurov opened #2032 "[Excel] Addin is unusable in Chrome in a workbook with certain number of custom functions"
## Context
Background to the issue is described in https://github.com/OfficeDev/office-js/issues/2031. I was able to reach a minimal repro where Excel Custom Functions addin is absolutely unusable in Chrome. I created a workbook with 8 sheets, each sheet containing 10K custom functions.

## Environment
* Platform: Office on the web
* Host: Excel
* Office version number: 16.0.14401.35900
* Operatin

[2021-08-06 18:34] wh1t3cAt1k commented on #2032
To give you guys some background, this minimal repro is based off a real workbook from one of our (Velixo) clients who has about 130000 custom functions in the workbook.

We got a support ticket complaining that the add-in was not refreshing data, and this is how we discovered the issue.

The important point is that our legacy COM-based add-in built for Excel Desktop for Windows is perfectly usabl

[2021-08-07 00:00] ghost commented on #2008
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-07 00:00] ghost commented on #1987
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-07 09:00] ghost commented on #1768
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-07 09:55] wh1t3cAt1k commented on #1768
Hi guys,

We haven't observed this error recently. Not sure what it was. Thanks!

On Sat, Aug 7, 2021, 12:00 msftbot[bot] ***@***.***> wrote:

[2021-08-07 11:01] #2005 closed, assigned to exextoc

[2021-08-07 18:39] exextoc commented on #2029
@cody-lettau You will have to select an email from Drafts folder and enter Edit mode for that mail to be able to use add-in or auto launch pinned addin.

[2021-08-07 21:00] ghost commented on #2019
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-07 21:00] ghost commented on #2018
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-08 20:20] ralphtheninja commented on #256
Ping. Linking into the future https://github.com/OfficeDev/office-js-docs-pr/issues/2297#issuecomment-894850045

You guys on Mac having this problem. You might want to try my dirty solution if that works for you. Maybe backup the `~/Library/Containers/com.microsoft.{host}` before attempting it.

[2021-08-09 00:00] ghost commented on #2024
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-09 01:50] grangeryy commented on #1768
@wh1t3cAt1k thanks for the info! Will close the issue for temporary and feel free to reopen it once the error shows up again.

[2021-08-09 01:50] #1768 closed, assigned to grangeryy

[2021-08-09 01:59] david-ps commented on #2018
Hi @AbidRahman-MSFT

We are using a 3rd party toolbar shown in the animated example above that manages the hover events, but we assume fails to get a mouseleave event when the cursor travels outside the Content Pane (shape).

This is new and did not happen previously. We notice there have been some recent changes to Content Pane "Shapes" behaviour  eg. they now are subject to z-order so it appears

[2021-08-09 03:01] grangeryy commented on #2031
@sshukurov, After initial investigation, for web version, there is a limitation on maximum number(50K) of Custom Functions calculated simultaneously, and the issue you encountered is caused by hitting the limitation. We've created a task to do more investigation on it:  TASK 5328306. This could be more complicated than a bug level fix effort and may take time. As a short term work around, could th

[2021-08-09 03:02] grangeryy commented on #2032
This one shares the same root cause  with [Issue](https://github.com/OfficeDev/office-js/issues/2031) .

[2021-08-09 03:02] #2032 closed, assigned to grangeryy

[2021-08-09 05:59] JuergenHoffmann commented on #2024
hi david,
yes your right, the code shown is VB, but in the end you will have the same problem, no matter which programming language your using. I only used VB, as it's buildin to outlook and easy to test for everyone that way.

[2021-08-09 07:33] sshukurov commented on #2031
@grangeryy thanks for the reply. Is the limitation documented anywhere?

[2021-08-09 07:37] wh1t3cAt1k commented on #2031
@grangeryy thanks!

Splitting the workbook is what we recommended to the client too, and we also recommended using some conditional IF() formulas to prevent unnecessarily evaluating bulky data tables which contained the majority of the invoked custom functions. These tables were used for cross-validation only. Can you confirm IF() will help?

In the meanwhile, I suggest documenting the limitation

[2021-08-09 08:09] gingerjia commented on #1943
@Rinzwind, when we try to investigate details about the root cause, we found the issue not repro now. My excel build is:
![image](https://user-images.githubusercontent.com/62282034/128676337-cdb02681-8dbd-4de6-8470-ccc758bcf903.png)

Can you help to double confirm at your side? If still repro, please let us know. Thanks very much!

[2021-08-09 09:24] Rinzwind commented on #1943
@gingerjia: I can still reproduce the issue. Using the “Complete Script Lab Snippet” (from my [first comment](https://github.com/OfficeDev/office-js/issues/1943#issue-928078804)), I get:

On Excel for Mac (v16.51 21071101, macOS 10.15.7):

<img width="160" alt="Excel for Mac" src="https://user-images.githubusercontent.com/1611248/128684855-60309042-928c-4eac-931f-444a3972a0c2.png">

On Excel Onlin

[2021-08-09 09:38] gingerjia commented on #1943
@Rinzwind, thanks very much for helping confirm. We will do the further investigation and update to you soon when have any progress. Thanks again!

[2021-08-09 10:03] Aidam1 commented on #1991
Thank you for the suggestion. I have created the idea on Tech Community Page: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/outlook-addin-enable-clipboard-api/idi-p/2626853

[2021-08-09 10:08] wh1t3cAt1k opened #2033 "Excel host application version is not available in the API"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

Some of our add-in's functionality depends on particular Excel features to be available (i.e. dynamic arrays, functions lik

[2021-08-09 10:35] eldargum commented on #2016
I tried also request to github but the error remained
xhr.open("GET", "https://api.github.com/rate_limit");

[2021-08-09 12:00] ghost commented on #2014
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-09 13:04] lucasqu-venacorp commented on #2014
hi @qinliuMSFT  yes. I tested on the update-to-date version: "16.0.14228.20226" on current channel, and can get the same error.
Did you try the script i provided?
[code]

[2021-08-09 13:14] cody-lettau commented on #2029
@exextoc thanks for the insight into what is supported. Much appreciated! Feel free to close this out if there will be no change to this functionality.

[2021-08-09 15:56] edfowle opened #2034 "OSF.DDA.Error 5001 when calling OfficeRuntime.auth.getAccessToken()"
The latest beta channel builds on both mac and windows consistently throw an error when trying to retrieve an AD access token.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2109 (14329.20000)
* Operating System: Windows 10 Pro 21H1

## Expected behavior
OfficeRuntime.auth.getAccessToken

[2021-08-09 18:19] exextoc commented on #2034
A few questions to clarify to help us isolate the issue:
1. Was the token call successful with the Yo Office template, before you updated the code? If not, do you get the same error?
2. Your call includes forMSGraphAccess, there is additional info here https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph to comment out forMSGraphAccess when sideloading (this is

[2021-08-09 18:25] exextoc commented on #1911
Thanks for the information. One thing to mention is that if an add-in is uninstalled while the taskpane is open, maybe the permissions from the add-in would be reset, and then the issue would repro after changing items.

[2021-08-09 20:22] exextoc commented on #2034
Update: We have an internal repro, and we are investigating this further.

[2021-08-09 20:37] sshukurov opened #2035 "[Excel] Function Arguments dialog in Excel for Windows when equivalent XLL are specified"
Our Excel JS addin with Custom Functions has a COM equivalent, so we have `EquivalentAddins` element set up in our addin's manifest for XLL compatibility. While testing our addin in a scenario when the COM equivalent is NOT installed, we came across this issue when our custom functions' definition is missing in `Function Arguments` dialog.

## Environment
* Platform: PC desktop
* Host: Excel
* Off

[2021-08-09 23:52] jargil commented on #2034
@edfowle thanks for your report. This should be fixed in Office's Windows 16.0.14410 build or newer. Likewise 16.53.210810 or newer Mac build should have the fix.

[2021-08-09 23:52] #1988 closed, assigned to keyur32, smaremanda, Dengshan2018

[2021-08-09 23:53] #1887 closed, assigned to lliu113, smaremanda, Dengshan2018

[2021-08-09 23:54] #1862 closed, assigned to croicu, Dengshan2018

[2021-08-10 01:01] exextoc commented on #1911
To explain a bit more about the questions we have asked so far, the error you are hitting would be correct if your addin permission is Restricted. This is clearly not the case, since you have other successful users and your addin is in the store. We suspect the issue is that part of the framework is somehow marking the addin as having Restricted permission incorrectly.  Your help to get the result

[2021-08-10 02:00] ghost commented on #2008
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-08-10 02:00] ghost commented on #1987
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-08-10 02:50] xiaochunms commented on #2012
Q: What are the conditions under which the framework is going to recalculate the custom functions in the file?
[xiaochun] Usually the recalculation will not be triggered when loading a workbook with custom functions in the file. However in some situations the recalc will be triggered:
1. There is volatile function in the workbook,
2. There is streaming function in the workbook,
3. There is #NAME o

[2021-08-10 03:00] gingerjia commented on #2027
@timbeese thanks very for reporting the issue. After investigation, we found it's by design since the current Region settings is Chinese.
For why simply paste $54.54 into Excel, the symbol is not changed? It's due to "$54.54" was considered as a string.
For the above two cases, the data stored in the file are different:
![image](https://user-images.githubusercontent.com/62282034/128801459-4f99730f

[2021-08-10 04:05] gingerjia commented on #2025
@timbeese , thanks very much for your question.

I tried on my local PROD Excel, seems the issue not repro with your above gist:
![image](https://user-images.githubusercontent.com/62282034/128806564-5dadd039-b018-4998-b9bc-9f88ebd6a273.png)
The result:
![image](https://user-images.githubusercontent.com/62282034/128806601-9a1a2877-c5fc-4f3e-8b5e-e64346926ed6.png)

And my Excel version is:
![image](

[2021-08-10 05:55] gingerjia commented on #2026
@lynneosmith, thanks very much for reporting the issue. I can repro it and opened a bug 5331677 to track the issue. I will update to you when have any progress.

[2021-08-10 06:00] exextoc commented on #1999
Apologies for the late response. This is already in our backlog, but unfortunately we do not have any timelines to share for the same. As a workaround, we suggest to use the CoercionType.Html to get the line breaks.

[2021-08-10 06:05] #1991 closed, assigned to exextoc

[2021-08-10 06:23] #2029 closed, assigned to exextoc

[2021-08-10 07:40] qinliuMSFT commented on #2014
Hi @lucasqu-venacorp , yes I tried the script you provided and the file in the Useful logs, but I could not have a local repro. I will try on another machine later. Will back to you then.
In addition, could you please confirm the issue only happens on this specified file, and could not repro on some normal files, is it right?
I'm wondering how this file is different from other files if you only hi

[2021-08-10 07:41] jak-hammond commented on #2008
@exextoc thanks for that explanation, helps understand the differences a little better, we will give the `item.start` approach a look to see if that works but if that `item.itemClass` could be made available across more scenarios, that would be the perfect solution.

As I say, in our work around at the moment, we are calling Graph directly so I imagine in a compose scenario, the item might not hav

[2021-08-10 08:19] edfowle commented on #2034
@exextoc thanks for picking this up so quick, looking forward to the fix

[2021-08-10 08:52] anant-matelabs opened #2036 "Enable/disable ribbon button using shared runtime opens wrong taskpane when clicked"
# Provide required information needed to triage your issue

## Your Environment

* Platform: Laptop MacBook
* Host: Excel
* Office version number: 1.1.71
* Add-in runtime: Safari WebKit v1.0.0
* Operating System: macOS Big Sur v11.3.1
* Browser (if using Office on the web): NA

## Context
I'll give a minimal example.
In my Excel add-in, I have two groups in a custom tab. Login button in first grou

[2021-08-10 11:42] frantwo opened #2037 "Search method of body with matchWildcards not runs properly"
## Your Environment
Platform: Desktop Windows
Host: Word
Office version number: Microsoft® Word para Microsoft 365 MSO (16.0.14228.20216) 64 bits
Add-in runtime: Microsoft Edge, Versión 92.0.902.67 (Compilación oficial) (64 bits)
Operating System: Windows 10 Pro, Version 20H2
Browser (if using Office on the web): NA

## Expected behavior
I hope to use the search method from body using wildcards an

[2021-08-10 13:26] lucasqu-venacorp commented on #2014
@qinliuMSFT Yes thank you very much!  And yes this is a specific file we are hitting the error, others are good.
I think there should not have any difference in creating this worksheet. originally, this file has a lot of contents and names on the sheet. Since I am trying to narrow down the problem, I cleared the worksheet it looks like an empty worksheet now. I guess there is something wrong behin

[2021-08-10 14:42] suresh-anumolu commented on #706
Grangeryy - any update on when this feature will be available ?

[2021-08-10 16:04] barclayadam opened #2038 "setSignatureAsync is broken in OWA when email is plain text"
When using `Office.context.mailbox.item.body.setSignatureAsync` to set a signature for a 'plain' email, the signature is not set but instead prepended to the email body when in plain text mode.

## Your Environment

* Platform: Office on the web (I have not tested with desktop Outlook at this time)
* Host: Outlook
* Browser: Chrome

## Expected behavior

Like with HTML signatures and the built-in

[2021-08-10 18:01] davidchesnut commented on #1987
@sohailzafar can you help with this issue? Thanks!

[2021-08-10 23:00] ghost commented on #2019
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-08-10 23:00] #2019 closed, assigned to exextoc

[2021-08-11 05:04] grangeryy commented on #706
@suresh-anumolu, thanks for checking! We are almost there. Currently we still need some time to do the validation tests and fix bugs. Pls stay tuned!

[2021-08-11 06:09] grangeryy commented on #2016
Created a bug 5337742 to track this issue.

[2021-08-11 06:11] grangeryy commented on #1984
BUG 5337749 is created to track this

[2021-08-11 08:26] rernst-bag opened #2039 "Officeatworks Plugin not available in Microsoft Office Apps"
## Expected Behavior

User should be able to see office at works Template / Content Chooser
It's not available in Word, Excel etc.

## Current Behavior

Content Chooser and Template Chooser is not available in Office Apps
Checkt the Plugin using the following link: https://help.officeatwork.com/en/articles/34-where-to-check-if-office-add-ins-are-deployed-to-the-user

Under ADMIN MANAGED I only get

[2021-08-11 08:56] jasonhieu1905 opened #2040 "ContentControls inside a table can not be loaded [Word Online]"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.0.14404.41000
* Operating System: Windows
* Browser (if using Office on the web): Chrome

## Expected behavior
Word Online:
 - content controls inside a table should be loaded.

## Current behavior
Word Online:
 - content controls ins

[2021-08-11 09:25] xiaochunms commented on #2016
@eldargum sorry for the issue. As it works on web, I am thinking if configuring the project to use shared runtime can help ([configure-your-add-in-to-use-a-shared-runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime))? And is it possible to share a sample project that I can have a try locally at my side?

[2021-08-11 09:44] eldargum commented on #2016
@xiaochunms, thanks. Of course you can share. I'll look into shared runtime.

[2021-08-11 10:32] qinliuMSFT commented on #2014
Thanks @lucasqu-venacorp for the clarification, I'm hoping it will not block your current work since the issue only occurred in this specific file. I've created bug VSO#5338191 to track this. If we have any progress, will let you know.

[2021-08-11 11:31] qinliuMSFT commented on #2040
Hi, this issue is reproducible from my side, it has been put on our backlog VSO#5338259, will let you know once we have any updates.

[2021-08-11 12:19] lucasqu-venacorp commented on #2014
@qinliuMSFT  thank you! Let me know if there anything I can help for debugging.

[2021-08-11 14:40] davidfishlock commented on #1911
@exextoc The add-in currently has around 3000 unique users per week, so the overall percentage of users that are encountering it appears low. On the other hand, if the add-in is being refused permissions entirely this may be the root cause of some other error reports beyond the calls to the two methods originally mentioned.

Where it does affect a user it seems they can encounter it several times

[2021-08-11 15:09] gingerjia commented on #2014
@lucasqu-venacorp thanks very much for reporting the issue.
The root cause is due to part of the range("A1:N31") in the file isn't in viewable area. If you change the range to a smaller one that totally in viewable area, then won't get this error.

For setting freezePanes in unviewable range isn't allowed and this is by design, which is align with UI:
![image](https://user-images.githubusercontent

[2021-08-11 15:28] sshukurov commented on #1968
Verified just now, the issue got resolved for me - I am able to upload the manifest in IE11.

Thank you!

[2021-08-11 18:04] Dengshan2018 commented on #2018
@david-ps Thanks for reporting the issue. working on the fix.

[2021-08-11 18:37] Emailgistics-Arjun commented on #1877
With support for shared mailboxes in the preview addin. Will this issue be resolved?

[2021-08-11 19:36] exextoc commented on #1877
@Emailgistics-Arjun - not quite and I'd like to elaborate on why that's the case. For now I'll be concentrating on delegateAccess feature (which is in production for OWA) - a user in the org having shared their folders with you/provided you with delegate access to their mailbox. I'll get to sharedMailboxes later here.

The moment you're logging into the delegate account using the email and pwd, it

[2021-08-11 20:41] zoulou00 opened #2041 "Excel 2016 : Cannot get charts titles of a worksheet if one chart is a waterfall."
Hello,

Excel 2016 : Cannot get charts titles of a worksheet if one chart is a waterfall.

## Your Environment
* Platform: PC desktop,
* Host: Excel
* Office version number: Excel 2016 (16.0.5188.1000) 64 Bit
* Operating System: Windows 10

## Expected behavior
I would like to retrieve all charts titles of a specific worksheet.
As specified in the documentation, properties like chart.title is avai

[2021-08-11 21:22] olliesweez opened #2042 "Office.context.mailbox.item.from/organizer.getAsync returns error for exchange 2016 In Outlook for Mac"
## Your Environment
* Platform: Mac
* Host: Outlook
* Office version number: 16.52.808.0
* Operating System: MacOS 11.5.1
* Exchange on premise 2016

## Expected behavior
Office.context.mailbox.item.from/organizer.getAsync should return the sender of the email or the organizer

## Current behavior
Both return
[Log] from result (outlook-mac-16.00.js, line 20)
Object

error: Object

code: 5001

mess

[2021-08-12 01:47] xiaochunms commented on #2016
@eldargum, thanks to take efforts to look into shared runtime. And at the same time is it possible for you to share your sample project with me that I can try locally at my side? Sorry for the misleading in my last message if there is any.

[2021-08-12 05:26] SWei1234 opened #2043 "Office.context.mailbox.item.location have problem on Mac new Outlook"
If I manually set seral locations there. Then use Office.context.mailbox.item.location.getAsync get them all and save it to parameter 'A'. But when I trying set them back with parameter 'A', all locations will be glued together to become one location.

This problem is inevitable in the Mac new outlook. But it works fine on old version Outlook...

## Your Environment

* Platform [PC desktop, Mac, i

[2021-08-12 06:26] soorajhealthplotter commented on #1390
I am still having issues. for office 365 and excel online iam not having issues,but is excel 2016 ia am having issue

[2021-08-12 06:27] soorajhealthplotter commented on #1390
Platform [PC desktop, Mac, iOS, Office Online]: PC Desktop
Host [Excel, Word, PowerPoint, etc.]: Excel
Office version number: Microsoft Office Professional Plus 2016
Operating System: Windows

[2021-08-12 06:28] soorajhealthplotter commented on #1390
I have worksheet id is "{BF289900-56FF-4681-92AD-4C1C8EC2CB39}", then I created some sheet specific metadata to store data in database using worksheet id and saved workbook.

I send the file over the client and the client was not able to access metadata. When debugging i understood the worksheet id got changed it shows me that the worksheet.id now is "{00000000-0001-0000-0003-000000000000}" .

I c

[2021-08-12 11:28] masha-mariya4 commented on #926
issue is still reproduced((

[2021-08-12 11:37] AkhileshShah-MS commented on #2039
Hello!

Is this issue specific to one user or for all the users to whom the add-in is deployed?
If specific to one user, please try hitting 'Refresh' on admin managed tab in Get Add-ins or alternatively, restarting word/excel where you are not able to view the add-in.

Please note that it may take upto 24 hours before the add-in is reflected to user's account.

[2021-08-12 12:22] rernst-bag commented on #2039
Hello!

We currently have it on every user.
Also tried to refresh it with restartingo the office app.

User is experiencing the issue for several days now

Many thanks in advance

Remo

________________________________

Remo
Ernst, Engineer
A. Baggenstos & Co AG
Neugutstrasse 14, CH-8304 Wallisellen
phone:+41 44 832 66 66
direct:
+41 44 832 67 63
***@***.***
web: www.baggenstos.ch
Video: Wie Spros

[2021-08-12 12:43] exextoc commented on #2038
Thanks for reporting this issue. However this is a known limitation from our side and the current behavior mimics what the Outlook natively allows us to do. We will keep the enhancement request in our backlog.

[2021-08-12 12:49] exextoc commented on #926
Can you please create a new issue with the detailed repro steps? It would help us track better.

[2021-08-12 13:42] masha-mariya4 opened #2044 "Office.context.mailbox.item.body.getAsync returns error 9030 APICallFailedDueToItemChange"
## Your Environment
I'm working on Outlook desktop add-in on Mac (High sierra 10.13.6)

## Current behavior
Each time when I open taskpane and run request body.getAsync returns the error "APICallFailedDueToItemChange". The detail of this error is {name: "APICallFailedDueToItemChange", message: "The selected item has been changed.", code: 9030}

code: Office.context.mailbox.item.body.getAsync(Offic

[2021-08-12 13:43] masha-mariya4 commented on #926
@exextoc  created issue https://github.com/OfficeDev/office-js/issues/2044

[2021-08-12 15:41] barclayadam opened #2045 "HTML gets modified in setSignatureAsync breaking inline styles"
When calling `setSignatureAsync` with HTML that contains inline styles in Outlook Desktop in reply emails the signature HTML is manipulated in such a way as to remove styles and make it default to an incorrect font.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.14228.20186
* Operat

[2021-08-12 18:04] exextoc commented on #2045
I am trying to repro with your sample code and have been unable to so far. To confirm,
1. In the reply case (style changed), is the signature showing up as the wrong font in the UI? Or is the issue about Outlook modifying the style (but the font renders correctly)?  So far, I am seeing the correct font being rendered.
2. For the reply case, to make sure I get the right repro, I hit reply and then

[2021-08-12 18:57] AbidRahman-MSFT commented on #2040
Hey @jasonhieu1905 - can you confirm that this is not a regression from a recent change?

Unfortunately, supporting content controls inside of a table was never supported on Web and we would need to tackle this as a new feature. The current workaround is to insert some text into the same table cell - so the table cell will have the content control as well as additional text. This allows the API to

[2021-08-12 19:02] lucasqu-venacorp commented on #2014
@gingerjia thank you!

[2021-08-12 19:02] #2014 closed, assigned to qinliuMSFT

[2021-08-12 19:13] MartinSSeifert commented on #2040
@AbidRahman-MSFT, I think we can not say if this has ever worked or not - I guess not!

Due to the many parity issues with the Web version for Word, not many customers have taken the time to check if their templates/documents actually work with Word for the Web.

The use case with one Content Control in a cell is a super common one for almost **every existing customer and future customer**. The wo

[2021-08-12 20:32] masha-mariya4 commented on #2044
also the same problem was with request Office.context.mailbox.getCallbackTokenAsync((asyncResult) => {..

it returns error for first mailbox item:

diagnostics: {InvokeCodeResult: -2147467259}
error: Error {name: "AccessRestricted", message: "Internal error of protocol: \"-2147467259\".", code: 9017}
status: "failed"
value: undefined

and successed when switch to another emai

[2021-08-13 01:43] gitty-git-git opened #2046 "Excel Add-in broke suddenly"
# Provide required information needed to triage your issue
I have a JavaScript Add-in for Excel that has a custom function. Just in the past week it seemed to have broken for most of my users (I haven't tinkered with it for a while). Users get "#BUSY!" for my custom formula. In the online version at office.com, users continually have to click a "trust this add-in" - and that is new as well.

## Yo

[2021-08-13 02:48] qinliuMSFT commented on #2046
Thank you for logging this issue, I think we need more details to properly route your issue. Would you mind providing us more details? For example:
   Steps to reproduce or live example,
   Your environment(Office version number),
   Useful logs.

[2021-08-13 03:04] qinliuMSFT commented on #2036
Hi @jeremy-msft , could you please have a look at this issue?

[2021-08-13 04:38] donlvMSFT commented on #2041
Hi @zoulou00 , thanks for raising up this issue.

Chart.Title is supported for ApiSet 1.1 for most of the chart types, but the support of API for some chart type are explored in Excel JavaScript API 1.9 requirement set, which includes: maps, box and whisker, waterfall, sunburst, pareto. and funnel.

Please refer to https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/exce

[2021-08-13 05:53] dinglicoding opened #2047 "publish a new excel addin error"
we publish a new version of excel addin, it's error for us
1、we add SharedRuntime for our add-in xml :
![image](https://user-images.githubusercontent.com/3963826/129310658-33d1ff08-3ead-4315-9aa8-df68b53420bf.png)
![image](https://user-images.githubusercontent.com/3963826/129310684-6e5a9240-2d2d-47d2-832c-4684b4d236f8.png)

in excel it's ok.
and we validation our manifest,it's passed.
![image](htt

[2021-08-13 07:29] barclayadam commented on #2045
@exextoc I will work to get you some more concrete examples of emails that cause this issue. It appears this does *not* affect all replies, as a number of other emails I reply to have Calibri (I have included an example of a full working reply at the bottom, below the non working version).

The add-in does some work to load the signatures etc. but that is all automated within an event-based launch

[2021-08-13 07:40] grangeryy commented on #2035
@sshukurov Sorry for the issue. We just did the initial investigation and seems it is a feature missed in XLL compatibility mode for custom functions. I've created a backlog to track: FEATURE 5343323

[2021-08-13 11:00] exextoc commented on #1976
Hello, can you please confirm if you are on the same domain as https://httpstat.us/401 ?

[2021-08-13 11:42] mohamadAtlassian opened #2048 "UI libraries are not supporting IE 11 anymore - Outlook Office Add-ins"
Hello there,

I am working on outlook office addin product. The product must be installed and supported on all Outlook Desktop version (2013 >). However, most of UI libraries won't support IE 11 anymore. What we should do in this case ? our product is not work on outlook desktop 2013, 2016 and 2019. Is there a way to open another WebView like webview2 instead of IE 11 ?

Specs :

- Windows 10
- Ou

[2021-08-13 12:24] eldargum commented on #2016
@xiaochunms, I added my script

[customfunctions_gh.txt](https://github.com/OfficeDev/office-js/files/6982355/customfunctions_gh.txt)

[2021-08-13 20:10] zoulou00 commented on #2041
Thanks @donlvMSFT !

Understood, nevertheless it would be helpful to have this info directly in the doc of the code.
Currently we have :
<img width="494" alt="image" src="https://user-images.githubusercontent.com/36133851/129413362-be93cd3a-926e-4695-b809-73557b086d88.png">

[2021-08-13 20:10] #2041 closed, assigned to donlvMSFT

[2021-08-13 20:28] timbeese commented on #2027
I see what you're saying with the values.  I could always just set the numberFormat to text on the cell if I want to force the values to be placed as a string.  But, when possible, we like for Excel to interpret the type so that our user can use the value in formulas, which they can't do if the value is a string.

I still think that it is wrong for the officejs interface to take a value with one c

[2021-08-13 20:43] timbeese commented on #2025
I'm using version 2107.  I tried to upgrade and it did something, but I'm still showing version 2107.  I'll have to check and see if my organization has some setting that's not letting me get the latest.  I'll see if I can get to the latest Office to give it another try.

[2021-08-13 21:54] ElizabethSamuel-MSFT commented on #2048
@mohamadAtlassian Thanks for asking about this.

@exextoc Can you investigate and advise?

Thanks.

[2021-08-13 22:28] exextoc commented on #2048
To clarify, is your addin using Atlaskit by Atlassian, and that IE11 is no longer supported by Alaskit, and so addins do not run in some Outlook + Windows version combinations? You mentioned Outlook 2013, 2016, 2019, as well as listing Outlook version 16.0.14228.20216, could you be a bit more specific on the versions of Outlook + Windows that your addin does not work in?

In case it helps, these 2

[2021-08-14 06:34] mohamadAtlassian commented on #2048
Now, I am using Outlook version 16.0.14228.20216, however I also tested the application on outlook 2013 and 2019 and get a blank page. Atlaskit is no longer supporting IE, but Microsoft itself will stop supporting IE. Microsoft edge webview is only for office greater than 16.0.11629. I've many clients that are not using this office version, so is there any other way ?

[2021-08-14 09:36] gingerjia commented on #2027
Thanks @timbeese. If I understand correct you aren't block by the issue now.
I will sync your suggestion with our PM as this impact the behavior design of VBA and Excel API. Thanks again!

[2021-08-14 09:48] sundariragavan opened #2049 "How to get the OnAppointmentAttendeesChanged LaunchEvent"
Hello,
  I want to get the Appointment Attendee change, Time change event.
 https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/outlook/autolaunch.md I have referred this document.
I'm able to get the OnNewMessageCompose, OnNewAppointmentOrganizer event. But unable to get the Preview events.

I have integrated my app in microsoft 365 admin center.

https://github.com/OfficeDev/PnP-Offi

[2021-08-14 21:00] Rick-Kirkham commented on #2049
Thanks for your interest in Office Add-ins. I'm not clear on what you mean by "getting" an event. Could you clarify? Even better, could you show the code that is not working and specify what you expect to happen and what actually happens?

Finally, I'm going to try to transfer this to the office-js repo because it looks more like a programming issue than a problem with the documentation.

[2021-08-15 21:00] ghost commented on #1877
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-16 03:15] JunYuZhang0812 opened #2050 "About VSTO implementation undo operations"
##Content
I started using VSTO recently and found that if I modified Excel using code, I could not undo it.  Looked for many places but did not find a suitable solution.  You have to figure out how to undo it.  The current method is to record the current selection in SheetSelectionChange, put it in the Stack, and backtrack when it needs to be undone.  The downside to this solution is that SheetSel

[2021-08-16 05:18] sundariragavan commented on #2049
@Rick-Kirkham  I want to get the calendar events. Outlook supporting for some of the events in calendar.
For example ,
`<ExtensionPoint xsi:type="LaunchEvent">
          <LaunchEvents>
            <LaunchEvent Type="OnNewMessageCompose" FunctionName="onMessageComposeHandler"/>
            <LaunchEvent Type="OnNewAppointmentOrganizer" FunctionName="onAppointmentComposeHandler"/>
            <Launch

[2021-08-16 07:20] #2049 closed, assigned to exextoc

[2021-08-16 09:18] gingerjia commented on #1955
@jwhite-venacorp, the fix has been deployed to CC( Preview) at Aug 05. And for CC(Production) is planned to deploy at Aug 23. Thanks!

[2021-08-16 09:50] SlavkaKnoema opened #2051 "Issues on loading add-in affect loading custom functions of another add-in"
Our customers are having trouble when using our Knoema Data Finder add-in with another add-in from Excel, f. e.  ‘Euro Currency tools’.

## Your Environment
PC, Excel, Microsoft 365 Version 2107(Build 14228.20250) 64 bit, Windows 10

## Steps to reproduce
1. Create the new file.
2. Install Knoema Data Finder add-in
3. Insert custom function KNOEMA.VERSION()
4. Go to Insert -> My Add-ins -> Manage

[2021-08-16 10:18] masha-mariya4 commented on #349
issue is still reproduced for mac!

[2021-08-16 10:30] tranhuyentran23 opened #2052 "[Word Online] Content control tag cannot be updated when re-opening in Onedrive"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Content control tag cannot be saved successfully when re-opening document in Onedrive then doing some updating.

## Your Environment
* Platform: Office Online
* Host: Word
* Office ve

[2021-08-16 11:12] JunYuZhang0812 opened #2053 "VSTO's question about how to undo"
## Content
I started using VSTO recently and found that if I modified Excel using code, I could not undo it. Looked for many places but did not find a suitable solution. You have to figure out how to undo it. The current method is to record the current selection in SheetSelectionChange, put it in the Stack, and backtrack when it needs to be undone. The downside to this solution is that SheetSelect

[2021-08-16 14:42] ihor-chepurnyi commented on #1680
Hi @exextoc, what else we can provide from our side except recording? It just randomly happens for our customers.
They still sometimes see a modal window
![image](https://user-images.githubusercontent.com/54581474/129582013-52988cc8-11a6-4428-834d-cf37c0b970bc.png)

[2021-08-16 16:09] #1794 closed, assigned to yihuax-zz

[2021-08-16 17:14] barclayadam commented on #2045
[RE Test email for signature font issue.zip](https://github.com/OfficeDev/office-js/files/6994175/RE.Test.email.for.signature.font.issue.zip)

Attached is an email that, if you were to reply to it, you should see the font issue above

[2021-08-16 18:38] exextoc commented on #2048
There isn't, except to use a UI library that is compatible on IE on those versions.

Outlook/Office has already been upgraded with newer versions that support non-IE rendering engines. Older versions (2013/2016) of Office/Outlook will not be upgraded to support WebView. Those users will need to upgrade Office to versions that support the newer Webviews.

It is possible that you could obtain older

[2021-08-16 19:04] Rick-Kirkham commented on #2053
Closing as duplicate of 2050.

[2021-08-16 19:04] #2053 closed, assigned to nobody

[2021-08-16 19:12] Rick-Kirkham commented on #2050
@JunYuZhang0812  This repo is for Office Web Add-ins which are something different from Office VSTO add-ins. See [How are Office add-ins different from COM and VSTO add-ins](https://docs.microsoft.com/office/dev/add-ins/overview/office-add-ins#how-are-office-add-ins-different-from-com-and-vsto-add-ins). For questions about VSTO add-ins please go to stackoverflow.com and be sure to tag your questio

[2021-08-16 19:12] #2050 closed, assigned to nobody

[2021-08-17 00:58] xinchiyang-venacorp opened #2054 "Office Add-in stopped opening in Excel Online"
# Provide required information needed to triage your issue
Our Vena add-in opens automatically when you open a Vena file. However on August 10th onwards it stopped opening automatically on Excel Online.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: ______
* Operating System: _____

[2021-08-17 02:45] xiaochunms commented on #2051
@SlavkaKnoema Sorry for the inconvenience due to the issue. Looks like I can repro the issue at my side too. Will take further investigation and get back to you soon.

[2021-08-17 03:13] kullachoke-bosuwan-rft commented on #1968
I've checked and confirmed that the issue has been resolved.

[2021-08-17 03:13] #1968 closed, assigned to smaremanda, sohailzafar

[2021-08-17 07:06] barclayadam commented on #2038
@exextoc This is disappointing to be treated as an enhancement request only and not a bug with higher priority, given that (at least) Outlook on Windows handles this correctly.

If we cannot have the same functionality with an add-in across platforms, it goes against the whole point of having cross-platform add-ins. We have to test and caveat our products with "feature x does not work in platforms

[2021-08-17 07:37] xiaochunms commented on #2051
Looks like the inserting "Euro Currency tools" triggers the re-registration of Custom Functions. Bug 5349227 was filed to track the issue. @SlavkaKnoema as a workaround please insert "Euro Currency tools" first then insert Custom Functions add-ins. Sorry for the inconvenience.

[2021-08-17 08:04] garysharp opened #2055 "Outlook: Addins failing when a meeting appointment window is open on some Windows desktops"
Some users are unable to send (any) meeting appointments. After some time, Outlook reports:

This is limited to meeting appointments on PC Desktop Outlook. Users have no problems sending regular email. MSEdgeWebView2 is not fetching any add-in code. Breakpoints are never hit when debugging. Issue appears to be profile-scoped - a different user on the same device may not have the problem. Our curre

[2021-08-17 09:12] wh1t3cAt1k commented on #2012
@xiaochunms thanks for the clarification!

I am aware that we can set the calculation to manual to avoid recalculations, however I think as soon as we set it back to Automatic it will trigger recalculation, correct?

[2021-08-17 09:18] peacewater-vm commented on #1557
Hi @exextoc,
The same issue was reproduced in OWA (Chrome, Mozilla, and Edge browsers) and in Desktop Outlook O365 (16.0.14228.20204).
The user has full rights on a delegated calendar (delegatePermission: 63) but can not save customProperties tho' in Read mode - Office sends "status: succeeded" after saving custom props however it is not saved actually (loadCustomPropertiesAsync shows that rawData

[2021-08-17 10:55] qinliuMSFT commented on #2052
Hi @tranhuyentran23 , thanks for reporting this issue. I tested your gist on Office Online version 16.0.14404.41000, and it's not repro. Could you please try your scenario on latest Office Online?

[2021-08-17 11:08] barclayadam commented on #1861
@exextoc we are still experiencing issues here. How can we share more information with you privately?

[2021-08-17 16:00] bconners1005 opened #2056 "Outlook: System UI is showing scrollbar from Appointment/Email overlayed on top of plug-in"
We recently updated our system to be more inline with flex CSS styling vs. using more strict and rigid versions of different displays as we did in the past.  Once this change was made we noticed that the scrollbar that exists for the Appointment/Email was bleeding into the foreground above the plug-in pane.  It is not interactive (in that it does not allow scroll) and it is not directly accessible

[2021-08-17 17:37] EdwinStraver opened #2057 "How to get the addin to ask for additional permissions"
I have an Excel addin that takes advantage of SSO to log the user into my app.

I now would like to add some permissions (scopes) to access the users Teams info, using the graph api.
I added the new scopes and permissions in the portal; i added the scopes to the manifest file, and i added them to the actual REST calls.

But I can not get the add-in to ask the user for the new permissions; how can

[2021-08-17 17:50] Dengshan2018 commented on #2018
The fix is in 16.0.14416+. @david-ps , you can try if you are in Beta Channel.

[2021-08-17 18:41] bconners1005 opened #2058 "Outlook Office.context.mailbox.item.organizer returning no data/undefined on Outlook Client v2102"
We have a client using a system in which we pull Office.context.mailbox.item.organizer to bind for display on the page.  For some reason (on both beta and release) the system will return undefined on the Outlook Windows Client, but Outlook on the Web returns the data properly.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office

[2021-08-17 19:45] Rick-Kirkham commented on #2057
@EdwinStraver Please show the line of code that calls getAccessToken so we can see what parameters you are passing.

Assigning to @jargil

[2021-08-17 19:52] EdwinStraver commented on #2057
Initially, in the client addin, I call:
OfficeRuntime.auth.getAccessToken({ allowSignInPrompt: true, allowConsentPrompt: true, forMSGraphAccess: true }).then(function (accessToken)

This passes me an accestoken (a bootstraptoken), and then I call my server, passing the token in the authorization header. On the server, I have this code:
string[] token = Request.Headers["Authorization"].Split(' ');

[2021-08-17 21:36] xinchiyang-venacorp commented on #2054
I was able to confirm we can reproduce this on Mac with Excel Online as well.

[2021-08-17 22:07] exextoc commented on #2058
any additional information you may have on what causes this to repro may be helpful. (Does it repro on EVERY meeting, only accepted meetings, etc.) Does it repro on later builds? (if you have access to them), Does it only repro on your client's machine, or also on your machines.

We are trying to track this down locally as well, but don't have an ETA on when this may be addressed.

Internal Tracki

[2021-08-17 22:23] exextoc commented on #2055
When this happens to users, it's a 100% repro for them? Can they still open other add-ins in Taskpane?

This error usually happens when either the add-in cannot be loaded from the webpage (i.e. the connection to the webserver hosting the add-in is down), or the add-in does not call event.completed in 5 minutes. If it is failing in less than 5 minutes, I would expect trouble reaching the website as

[2021-08-17 22:55] exextoc commented on #2008
itemClass is not currently slated to be on the road map. Adding a feature request here would help prioritize the issue:
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform

Please let us know if the item.start workaround helped at all.

[2021-08-17 22:57] exextoc commented on #1952
I cannot comment on the timeline for when this will be supported.
This is a feature that we know is needed.

[2021-08-17 22:59] exextoc commented on #1911
We can continue looking at this at our end, but we are having difficulty in making headway here.

When this happens, a restart of Outlook may fix the issue? If your code detects this is happening, bringing up this suggestion to the end user could be helpful (I realize this is not an ideal solution)

[2021-08-17 23:39] bconners1005 commented on #2058
Hey @exextoc
   For context:
     How often:  This happens on all meetings that are not-owned.  If a meeting is owned the system returns the data as intended (reason for this is because we don't use the Office.context.mailbox.item.organizer but instead use the getAsynch).
    Repro:  I have tried it on v2107 current updated Windows 10 build and the system works as intended.
    Repro on other mach

[2021-08-17 23:44] exextoc commented on #2058
Sorry just to clarify, you have Outlook v2107. And the bug DOES Repro? Or it doesn't?

Another question:
If you right click your Calendar, then on the context menu->Properties,

![image](https://user-images.githubusercontent.com/28549921/129814698-21aa8979-e90a-4500-a28d-74d959e2d00f.png)

Under Type: it will say (MAPI) or (REST).

Can you let us know what this is on buggy machines, and what it is

[2021-08-18 00:09] bconners1005 commented on #2058
The bug does NOT repo on the v2107 machine so it seems isolated to just the machine running v2102.  I will contact the user and have them check on the buggy machine what the return is from before.

On the machine I cannot repo it it says MAPI

[2021-08-18 00:10] SylvaD-MS commented on #2023
Thanks for reporting the issue.  I have installed Ring Central Scheduler Add-in which requires some sign in with a pop up (which might be the 2nd window that you are seeing?  Can you resize it?).  In addition, could you clarify whether you are already signed in when you repro the issue.  When you don't repro the issue do you see a quick flash?  Finally, how fast is your Network connection because

[2021-08-18 01:43] hello-chenchen commented on #1976
hi @exextoc , sorry i don't understand clearly for what you mean.
in fact, in my manifest, the https://httpstat.us domain is not in my manifest file.
but i think it is the right way to not add the https://httpstat.us to the manifest. Because in my opinion, this situation is offen happened on sso login case.

[2021-08-18 02:28] gingerjia commented on #1943
@Rinzwind sorry for late response. We can repro the issue at 16.51.
And we did a fix for it and the fix has been deployed to 16.52  version.
Could you help to upgrade your build version to 16.52 and have a try when you are convenient?

If any other issues please let us know! Thanks!

[2021-08-18 02:42] TakeEasyBoy commented on #503
@Hombr33 Hello sir.
I'm now using this solution to solve my problem in add-ins.
But when i use it in an dialog which opened by ```Office.context.ui.displayDialogAsync```API. then i call the ```Office.context.ui.openBrowserWindow```API  to open my own ```download.html``` to trigger download. just like this
![image](https://user-images.githubusercontent.com/31021942/129828188-b60afe7d-da32-4948-90dd

[2021-08-18 02:46] bconners1005 commented on #2058
@exextoc
I am contacting them again to make sure, but the response area for them was different.  It feels like they clicked on the wrong area but the type they say does say "Folder containing Calendar Items" but no (MAPI/REST) was next to it.  Could it be old enough from another update line it would have the MAPI/REST somewhere else?

[2021-08-18 02:55] Dengshan2018 commented on #1899
@GauravBagewadi88 you might use webview2 runtime. You can start the dev tool from context menu by clicking "Attach Debugger".
![image](https://user-images.githubusercontent.com/45212981/129829404-27b2842b-e120-4124-91f3-e648b500c065.png)

[2021-08-18 03:01] Dengshan2018 commented on #1965
Please try latest webview2 runtime version. The issue should be fixed 92.0.902.+. usually, webview2 runtime is auto updated. if not, please reinstall from https://developer.microsoft.com/en-us/microsoft-edge/webview2/

[2021-08-18 03:01] tranhuyentran23 commented on #2052
Hi @qinliuMSFT, thanks for your feedback, I tried with the latest Office Online 16.0.14413.41001
I created a new document,
then inserted a content control
then closed this document and opened it again in Onedrive to modify this content control
then closed this document and opened it again to check the tag value
and I still saw that issue happens. Could you help to test again? Thanks!

![F6WJuMnxUq

[2021-08-18 03:04] Dengshan2018 commented on #2000
@tsardy
The fix is in Beta Channel (16.0.14413+) or Preview (16.0.14326.20150+)

[2021-08-18 05:41] ic3guy commented on #1738
@rosergeev I used the cname for the auth machine. The cname that is requested by the front end.

[2021-08-18 06:13] tsardy commented on #2000
@Dengshan2018 Thank you for the info! So it means the fix will be delivered via office update? do you have any idea on when the fix will be delivered to regular end-users on the monthly update channel?

[2021-08-18 07:00] Rinzwind commented on #1943
@gingerjia: using the “Complete Script Lab Snippet” again, I get:

On Excel for Mac (16.52 21080801, macOS 10.15.7):

<img width="162" src="https://user-images.githubusercontent.com/1611248/129852205-5b5a9084-3599-4b41-bdf0-5b58a5237fcd.png">

So I can confirm it has been fixed. I will close this issue, thanks!

[2021-08-18 07:00] #1943 closed, assigned to lumine2008

[2021-08-18 07:39] garysharp commented on #2055
Thanks for this @exextoc.

Yes. I can say that this is happening 100% of the time for affected users.

We were able to reproduce when hosting the add-in via localhost. I can also confirm (by using Fiddler) that all (attempted) requests to the server are successful and returning the expected payload. In our production environment the add-in is hosted on Azure Blob Storage (static website) behind an

[2021-08-18 09:40] tsardy opened #2059 "Drag does not work inside content panes in PPT presenter mode"
The mouse events used by the drag actions are incorrectly fired in PowerPoint Presenter mode (inside content panes).
The root seems to be an unwanted event fired automatically in presentation mode by PowerPoint.
Looks like PowerPoint on mouse down fires all 3 right away: mousedown, mouseup, click.
It used to work in d the past but recently stopped working.

## Your Environment
Platform PC desktop,

[2021-08-18 09:56] qinliuMSFT commented on #2054
Hi @jeremy-msft, it seems related to Shared Runtime, could you please have a look at this issue?

[2021-08-18 12:14] barclayadam commented on #2045
[Font Issues.zip](https://github.com/OfficeDev/office-js/files/7007088/Font.Issues.zip)

Attached is a couple of emails that, if replied to, would demonstrate the problem. You'll see the .eml files have a font name in their file name which indicates what font Outlook we set as the signature when replying.

The signature being set is:

[code]

If the signature is more complex (i.e. tables) then all

[2021-08-18 13:26] PlayPratz opened #2061 "EquivalentAddIns tag support for Outlook Web Add-ins"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/make-office-add-in-compatible-with-existing-com-add-in#specify-an-equivalent-com-add-in

## Issue

 The document mentions:

<img width="910" alt="image" src="https://user-images.githubusercontent.com/37703928/129904824-0570558b-4252-4ee0-8e49-ce99a8b18f55.png">

However, uploading a manifest with the <EquivalentAddins> tag

[2021-08-18 14:18] timbeese commented on #2025
I upgraded to the beta channel and I'm using Excel version 2109 now.  I see the correct behavior, so it looks like whatever was causing that euro symbol to be lost has been fixed.  Thanks for the update.

[2021-08-18 15:33] exextoc commented on #349
Hey @masha-mariya4 ,

The document has been updated to read that the dialog URL provided must be an absolute URL with the hostname and protocol present. Are you seeing an issue despite providing the absolute URL for the dialog?

[2021-08-18 15:35] exextoc commented on #1976
Hey @exextoc , We meant that all URLs that are being accessed must be a part of the AppDomains list in the manifest. Can you try adding the URL to the AppDomains list and see that the issue still reproduces?

[2021-08-18 15:45] robino2020 commented on #1686
@exextoc we have multiple customers who cannot apply a GPO because they use InTune. We've tried to apply the register key in HKCU\SOFTWARE\Microsoft\office\16.0\addins\equivalentcomaddin\ however this does not seem to work reliable.

In some cases the Addin does get removed. However, the next time we launch Outlook the Addin shows up again. In some cases the register key does work and we cannot re

[2021-08-18 15:53] zoulou00 opened #2060 "End of Line for manifest.xml"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello,

Are they any recommandations regarding the eol of the manifest.xml file ?
Until now I deploy directly  from my local computer to a shared folder, the end of line of file is CR

[2021-08-18 16:05] exextoc commented on #2038
Hey @barclayadam ,

We understand your frustration, however, since plain text editing is not a very commonly used scenario and to support signature API in this scenario would be difficult for us, we can only keep this as an enhancement request. Can we understand your scenario and usage better as to why specifically you need setSignatureAPI to work in plaintext editing mode?

[2021-08-18 16:09] exextoc commented on #2042
Hey @olliesweez ,

Are you seeing this issue in the new Outlook for Mac experience or the old Mac UI?

[2021-08-18 16:10] exextoc commented on #2043
Hey @SWei1234 ,

Sorry for the wait. We are investigating this issue and will get back to you shortly.

[2021-08-18 16:12] exextoc commented on #2044
Hey @masha-mariya4 ,

Apologies for the delay. Can you tell us the build version number of your Outlook for Mac and whether you are on the New Outlook for Mac experience or the Old Outlook for Mac UI.

Also, I would want to understand your scenario better. What exactly do you mean by re-loading the add-in window- Is your add-in Pinned and you're switching email items?

[2021-08-18 16:21] exextoc commented on #2056
Hey @bconners1005 ,

Does this issue still exist if the parent div of the add-in is set to:
[code]
Can you share a small HTML snippet (perhaps from `<body>` tag and everything inside along with the CSS styles)?

[2021-08-18 16:58] masha-mariya4 commented on #2044
Hi @exextoc! I use Outlook v16.42(20101102), I guess it old Outlook. My add-in pinned, but almost everytime when I open add-in and run request body.getAsync for first message, it returns errors. When I said 're-loading the add-in window' I mean that I close it and open again, then I see the same error until I switch my pinned add-in to another email.

[2021-08-18 17:01] exextoc commented on #1686
@robino2020 If a user cannot use a GPO, then you should use the manifest method, and add the equivalentAddins section to your manifest as described here: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/make-office-add-in-compatible-with-existing-com-add-in.

Note if your customers are on Exchange On Prem, they will have to update to the latest CU versions of Exchange. (Exchange Online

[2021-08-18 17:08] masha-mariya4 commented on #349
Hey again @exextoc !) I uses absolute URL for it. Maybe the reason that I run the add-in on my local web server (localhost) and dialog URL has different domain? Although I added it in <AppDomain> list

[2021-08-18 17:11] bconners1005 commented on #2056
Hey @exextoc
   This does fix it, but it isn't really the best fix given the situation is taking it into absolute is causing side effects to other code down the chain given we're removing it from the original context.

   What I did instead, and does work as well, is setting the z-index to 600 because I keep the divs in flex without having to change to absolute which doesn't break context.

  Reas

[2021-08-18 17:11] #2056 closed, assigned to exextoc

[2021-08-18 17:48] mbice commented on #1743
@sohailzafar Any updates on this? We are experiencing the same issue. Works fine in desktop app, but has the above described behavior in PowerPoint web.

[2021-08-18 21:21] Dengshan2018 commented on #2000
The fix could be in monthly update channel by the end of August.

[2021-08-18 21:36] olliesweez commented on #2042
Hi @exextoc old Mac ui, I can't even use this particular email account (exchange on premise 2016) in the new ui.

[2021-08-18 23:00] ghost commented on #1877
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-08-18 23:00] #1877 closed, assigned to exextoc

[2021-08-18 23:33] exextoc commented on #2061
To clarify where/how are you uploading the Manifest and it's failing? (Are you trying to deploy via Centralized Deployment for all users in an org?)

If this is an on-prem server, make sure that you have the latest updates:

Exchange 2019 Cumulative Update 10 or later (KB5003612)
Exchange 2016 Cumulative Update 21 or later (KB5003611)

**Update**: This is not applicable to your situation since you

[2021-08-19 00:24] wynntee commented on #1979
I opened this case separately in Microsoft Partner Center and it's finally been resolved after 1 month. The engineering team said it was a bug in Excel online. Closing this issue now.

[2021-08-19 00:24] #1979 closed, assigned to keyur32, JuaneloJuanelo

[2021-08-19 01:49] SWei1234 commented on #2043
Hi @exextoc
Thanks for your effort.
I noticed that MS have other location api like addAsync and removeAsync. Actually it can help improve this problem on Mac. But it can not works well on Windows.
My need is to add and delete locations freely on both old and new Outlook. If we can, I hope we can do that.
Thanks

[2021-08-19 02:21] hello-chenchen commented on #1976
hi @exextoc , i will not add the url to the AppDomains list in the manifest. Cause it is not an undesirable solution.
As i mentioned above, when users try to log in by SSO and redirect to their own company's domain, we cannot stop it and must redirect, which is necessary for SSO login. It is impossible for us to add all the doamins of companies that require SSO login to AppDomains.

[2021-08-19 09:49] dingjin-ms commented on #1920
@Alex0cean Hi Alex, the fix has been rolled out to the latest build, thank you for your support!

[2021-08-19 10:13] richie5um opened #2062 "GetSelection().ContentControls is always empty on Word for Mac, but works on Online Word."
Trying to get the ContentControls for the current selection (or, more specifically, where the cursor is) fails on Word for Mac, but works fine in Online Word.

I've had to switch to use parentContentControl, but this isn't 100% if that range belongs to multiple content controls (at least, it does in content-control hierarchy - i.e the immediate content control could belong to a parent content cont

[2021-08-19 12:21] wh1t3cAt1k opened #2063 "Function Arguments window truncates multiline argument description"
# Function Arguments window truncates multiline argument description

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2107 (Build 14228.20250)
* Operating System: Windows
* Browser (if using Office on the web): None

## Expected behavior

Full custom function argument description to be disp

[2021-08-19 13:11] AlexPhilippov opened #2064 "Excel file with Centralized Deployment Add-In crashes when file is opened with OMEX-store Add-In installed"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Our clients use [Knoema Data Finder Add-In ](https://appsource.microsoft.com/en-us/product/office/wa104379640?tab=overview) via Centralized Deployment - EXCatalog-store add-in.
When a

[2021-08-19 13:41] wh1t3cAt1k opened #2065 "Custom function argument descriptions are not available at all in Excel Online"
On the desktop platform, when one uses the "Fx" (insert function) dialogue on Windows, after selecting a function, there is also a "Function Arguments" dialogue that allows one to review

a) The list of function arguments
b) Their descriptions
c) Pre-evaluate formula result

Screenshot from Excel Desktop for Windows:

![image](https://user-images.githubusercontent.com/5159662/130078161-79cd695b-37

[2021-08-19 14:42] balazserdeszlogmein opened #2066 "Recurrence is always null in web clients, while addHandlerAsync's handler is called twice with old and new recurrence value as well."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
The issues reported in these threads:
- https://stackoverflow.com/questions/63616869/outlook-add-in-calendar-event-recurrenc

[2021-08-19 15:35] ElizabethFerriss commented on #2051
Thanks for the workaround @xiaochunms! We will look into that. How can we track the status of Bug 5349227?

[2021-08-19 19:14] Rick-Kirkham commented on #2065
I have assigned this issue, but in the meantime could you clarify whether your issue is about an end user working with Excel Online or whether it is a developer issue for a developer who is creating custom functions.

[2021-08-19 19:29] Rick-Kirkham commented on #2064
@massonj If you're not the right person for this, can you suggest who is?

[2021-08-19 19:32] Rick-Kirkham commented on #2063
@wh1t3cAt1k It's not clear to me if the issue is for developers that are creating custom functions or a problem in the UI for end users. Please clarify.

[2021-08-19 19:39] wh1t3cAt1k commented on #2065
Hi Rick, the problem is on the user interface - the part for argument descriptions from CF metadata is essentially useless in Excel Online because there is nowhere that the user can review those descriptions.

I apologise if it's the wrong place for the ticket as I am not sure where else I could put this feedback - UserVoice for Excel seems stale and our suggestions don't appear on the platform an

[2021-08-19 19:41] wh1t3cAt1k commented on #2063
Hi Rick, the problem is on the user interface, however I am not certain if it's a problem of the framework or the platform.

[2021-08-19 20:01] timbeese commented on #1959
I am seeing the exact same behavior with my add-in.  I am running with a Shared Runtime.  If I launch my dialog from within my task pane (react app) it works every time.  But, if I call it from the ribbon and it fires an event over to my react app to launch the dialog, it fails the first time, but works the second time.  Both are using the exact same call.  I'm running this inside of Excel on the

[2021-08-19 20:22] dlineg4 commented on #2010
I'm also have an Office.js add-in that has stopped rendering with the same User Agent string:

Mozilla/5.0 (Windows NT 10.0; Win64; x64; WebView/3.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.19042

This was on Windows 10 and Desktop Outlook

[2021-08-19 23:56] exextoc commented on #2045
I was able to repro with your attached emails. However I was also able to "fix" the sample you provided via this:

`const sig = '<style type="text/css"> .myStyle { font-family: Calibri; font-size: 11pt; } </style> <div class="myStyle"> <span class="myStyle"> Many thanks </span> </div>';`

Putting the Span inside the Div instead of the Div inside the Span.

The underlying issue here is that Outlook

[2021-08-20 00:03] #2048 closed, assigned to exextoc

[2021-08-20 00:11] exextoc commented on #1861
If you can create a private github and give this account access, I can forward it to the product team.

[2021-08-20 03:12] grangeryy commented on #2065
To show the tip of argument  should be supported in Web already. I've opened a bug for this: 5356916

[2021-08-20 03:28] grangeryy commented on #2065
@wh1t3cAt1k  can you also share with us the SessionID ?

[2021-08-20 03:33] wynntee commented on #2065
@wh1t3cAt1k , in Excel online, the "Fx" button is under the "Insert" tab.  This is different from Excel desktop where it's under the "Formulas" tab.

[2021-08-20 04:02] neville-jones commented on #2055
We are seeing reports of similar problems with a few users, but not all. Seems limited to Outlook Current Channel (or Current Preview) on Windows desktops; older Outlooks don't show the problem.

Interestingly, for users affected by the problem, if they attempt to start the standard Microsoft "My Templates" add-in in the meeting invite then it fails to load, coming up with a yellow warning and sug

[2021-08-20 04:39] xiaochunms commented on #2065
@wh1t3cAt1k I think the parameter description is here:
![image](https://user-images.githubusercontent.com/1261601/130179541-69e931d5-bfef-4749-9c4c-4a1ded9f8bce.png)

However if you expect the parameter description as following screenshot shows, please move the focus to the cell then.

![image](https://user-images.githubusercontent.com/1261601/130179605-2059b2f6-9e11-4fba-be01-e3c35b97059e.png)

R

[2021-08-20 06:05] wh1t3cAt1k commented on #2065
@grangeryy @xiaochunms the "name" of the argument is indeed displayed as `ConnectionName`, but **description** isn't:

(the highlighted part on the below screenshot is what I'm talking about - there seems to be no possibility to access this tip on the Web)

![image](https://user-images.githubusercontent.com/5159662/130187528-f365a3aa-efbc-48e5-a1e3-5f83f84285b5.png)

[2021-08-20 06:08] wh1t3cAt1k commented on #2065
@grangeryy the latest session ID is 60db8879-9317-455e-bb1a-da6e3bc8b905

[2021-08-20 07:00] garysharp commented on #2055
The team has coordinated a series of tests based on your feedback @exextoc.

Firstly, we simplified the add-in as much as possible. All tests were performed with our production add-in, the [MS sample add-in](https://github.com/OfficeDev/Outlook-Add-in-On-Send), and a [minimal and minimal-inline add-in](https://github.com/garysharp/Outlook-Add-in-On-Send/commit/2fc73b8fc2edec0caa2dbae7449d74feb807b

[2021-08-20 07:01] xiaochunms commented on #2065
@wh1t3cAt1k I understood your concerns. I think it is a feature ask for excel online to display the "description" as you described as unlike desktop, excel online cannot show the details for built-in functions such as "SUM". May provide the feedback to UserVoice work?

[2021-08-20 07:36] PRIVERA-IT opened #2067 "Administrator managed Office-Add-Ins are not deployed in Word"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Laptop HP ELITEBOOK 830 G5
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: Version 2002 (Build 12527.21966 Click-and-go) Semi-annual enterprise channel
* Operating System: Windows 10 Version 1909 (Build 18363.1679)
* Browser (if using Offic

[2021-08-20 08:28] AkhileshShah-MS commented on #2039
Hello!

Thanks for confirming the same. For us to proceed further, please share your TenantId, one sample affected user id and fiddler trace when the user refreshes Admin Managed tab to addin-help@outlook.com.

[2021-08-20 10:59] exextoc commented on #349
Hey @masha-mariya4 ,

The fact that you're on localhost should not be an issue if you have added the dialog URL domain to the AppDomains. Can you reproduce this only on Mac (on both old and new UI?), or is it the same for you on OWA too?

[2021-08-20 11:03] masha-mariya4 commented on #349
unfortunetely I don't have an opportunity to test it on OWA now, but the research in github issues tells me that it's only mac issue)

[2021-08-20 13:00] exextoc commented on #2043
Hey @SWei1234 ,

We are unfortunately not able to reproduce this issue. The steps we have tried are:
-> Adding two locations manually in Outlook for Mac.
-> Retrieving them through enhancedLocation.getAsync

We are able to get the response as expected. Could you share a code snippet of the code you're trying to execute. Also could you update to the latest release of Version 16.52 (21080801) and se

[2021-08-20 19:26] exextoc commented on #2061
Update there is a likely issue regarding this with Unified Deployment. I believe you are already in contact with MS support on this?

In any case, I will update this thread as soon as we find out more/can deploy a fix.

[2021-08-20 20:02] exextoc commented on #2055
This is an interesting note. And probably why we are only seeing this on recent builds. I am going to try and foward this issue to the appropriate dev owners and see if they have any ideas. It is likely some additional logging will need to take place.

Usually the first step is to grab ULS Logging:

https://docs.microsoft.com/en-us/office365/troubleshoot/diagnostic-logs/collect-office-diagnostic-l

[2021-08-20 20:19] neville-jones commented on #2055
I note that uninstalling WebView2 forces Outlook 2107 (Build 14228.20250 Click-to-Run) to use the original WebView (not based on Edge Chromium). Will ask our affected user to try this approach and see if it 'fixes' the problem. I speculate that Outlook might restore WebView2 in the background so might only be a temporary workaround.

[2021-08-20 20:52] Rick-Kirkham commented on #2067
Bhavin, can you take a look at this?

[2021-08-20 21:55] wh1t3cAt1k commented on #2065
@xiaochunms Some of the recent feedback on UserVoice submitted by our team never made it to the platform... Looked to us that it was stale and not monitored anymore.

I would be glad if you could relay this feedback to the Office on the Web development team through internal means so that it's not lost.

In particular, I already submitted the idea about function arguments dialogue to UserVoice two

[2021-08-20 22:18] massonj commented on #2064
Thank you for the high quality bug report. We have been able to reproduce this issue internally, and it appears to be a bug within the product, which we are tracking internally as bug 5358792, which our engineers are investigating. Unfortunately, we do not have a suggested workaround at this time, other than avoiding this specific scenario.

Thanks

Jim

[2021-08-21 05:53] techindia2010 opened #2068 "Mismatch in Top property of range (address format like H21:I22 ) when zoom level of sheets are different."
# Mismatch in Top property of range (address format like H21:I22 ) when zoom level of sheets are different.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]:Excel
* Office version number: Microsoft 365 Apps for enterprise ver 2102
* Operating System: Window 10
* Browser (if using Office on the web): NA

## Expected behavi

[2021-08-21 12:00] ghost commented on #2046
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-21 12:38] Tamil2000 opened #2069 "when i click calendar page in outlook handler trigger on outlook add-ins"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Microsoft 365 Developer Platform Ideas Forum

We're moving away from UserVoice feedback sites on a product-by-product basis throughout the 2021 calendar year. Later in 2021, we wil

[2021-08-22 16:48] exextoc commented on #2003
Hey @sumitmodi-lab ,

We are able to reproduce this issue and have added this to our backlog. Thank you for reporting this. Unfortunately, we have no timelines to share at this point.

[2021-08-22 16:48] #2003 closed, assigned to exextoc

[2021-08-22 16:58] exextoc commented on #2044
Hey @masha-mariya4 ,

We are still unable to understand your scenario. Can you list down the repro steps for the issue, and what you see is the behaviour? Added screenshots would also be really helpful.

[2021-08-22 17:02] exextoc commented on #2066
Hey @balazserdeszlogmein ,

We are investigating this issue with recurrence. However, since it's an intermittent issue, we need some time to fully understand this. We will keep you posted.

[2021-08-22 17:23] exextoc commented on #2038
Hey @barclayadam ,

We are closing this issue. For further help you can reach out on the Help and Feedback on the Outlook app: https://support.microsoft.com/en-us/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-b43f-4dd2-9ff4-23cf144cfb11#platform=Office_for_the_web

[2021-08-22 17:23] #2038 closed, assigned to exextoc

[2021-08-22 19:16] masha-mariya4 commented on #2044
Hi @exextoc

When I open my add-in in outlook desktop on mac and run request body.getAsync:

Office.onReady(() => {
..
     Office.context.mailbox.item.body.getAsync(Office.CoercionType.Html,  (result) => {
     ...[here result = undefined and got error {name: "APICallFailedDueToItemChange", message: "The selected item has been changed.", code: 9030}
     })
})

   Then as my add-in is pinned I ca

[2021-08-23 02:43] SWei1234 commented on #2043
Hi @exextoc
Sorry for wrong title. It's location not enhancedLocation.
I updated to version 16.52 (21080801) but this issue still exist.
My replicate step is:
1. manual input two(or more ) location like: Camtest and Deqing. Open dev tool->Console
2. Then use: `Office.context.mailbox.item.location.getAsync( { context: {value: 1}}, function (aa) {
                    bb = aa.value;
                }

[2021-08-23 03:21] qinliuMSFT commented on #2068
Hi @techindia2010, thank you for logging this issue. The issue is reproducible for us, and has been put on out backlog VSO#5360258, will let you know once we have any updates.

[2021-08-23 03:48] grangeryy commented on #2065
Hey @wh1t3cAt1k, about UserVoice, the system is being deprecated so the better channel here is to use "Give Feedback to Microsoft" button at the right bottom:
![image](https://user-images.githubusercontent.com/50093161/130387467-1e27f67b-d7f4-41b2-8178-a946c359352b.png)

[2021-08-23 05:03] balazserdeszlogmein commented on #2066
Thank you @exextoc!

It is more than intermittent, until the browser restart on Thursday I could 100% reproduce - we had discussed this issue several times over the past weeks and we could always reproduce it. I was surprised when the browser restart temporarily solved it.

I tried it again today just a moment ago (after browser restart), the issue is again happening constantly, on every try.
Some

[2021-08-23 05:32] qinliuMSFT commented on #2052
Hi @tranhuyentran23, the issue is reproducible, it has been put on our backlog VSO#5351861, will let you know once we have any updates.

[2021-08-23 05:36] garysharp commented on #2055
We've performed some additional testing and ULS logs have been emailed to @croicu - thank you.

We _had_ tested recreating the **Windows** user profile. I can confirm that recreating the **Outlook** profile has no effect - the problem still occurs.

It does seem to be a broader issue than just OnSend handlers.

As @neville-jones noted, our affected users are also not able to load "My Templates":
!

[2021-08-23 06:36] wh1t3cAt1k commented on #2065
Ok! it's what we used to do as well,  no one seems to contact back from there either - that's why I asked to relay our feedback to the product team...

Thanks for the help anyway!

[2021-08-23 07:17] #2065 closed, assigned to grangeryy

[2021-08-23 07:26] Tamil2000 opened #2070 "Outlook add-ins"
I am researching in outlook event handlers , when I open the Outlook any possible to trigger some function in outlook add-ins?

Many ways i tried but not getting any solution, any possible to trigger a event when i open the outlook in my outlook add-ins, If you have any idea about that please share me?

[2021-08-23 08:15] honxmsft commented on #2068
Hi @techindia2010, we are currently working on the fix. Meanwhile, we found a workaround which possibly can unblock you scenario.

Instead to use the `range.top`, you can use the `range.height` API to get correct top.
For example, if you want to get the `range.top` of the range `H25:I26`, it's equivalent to get the `range.height` of range `A24:H24`, which won't be affected by active worksheet.

In

[2021-08-23 10:36] ferrykranenburgcw commented on #1286
This is still an issue for Outlook 2016 clients. Please fix this asap

[2021-08-23 14:33] barisbikmaz opened #2071 "insertSlidesFromBase64 after selected slide throws error"
# Provide required information needed to triage your issue
Inserting a slide after a selected slide does not work anymore. It throws an exception "Cannot read property 'invokePropertySet' of null"

## Your Environment

* Platform: Office on the web
* Host: PowerPoint
* Operating System: Windows
* Browser: Chrome

## Expected behavior
You should be able to insert Slides after a selected slide.

##

[2021-08-23 15:18] ElizabethFerriss commented on #2064
Is there an estimated timeline or way that we can track bug 5358792?

[2021-08-23 18:02] bconners1005 commented on #2058
@exextoc
  In regards to the issue and timeline.  I have a user waiting (wherein their entire organization uses the same version carbon copied to all machines). I could move forward with this being a known issue if need be since they cannot specifically update without their IT doing full clearance.

  Has there been movement or something I can do to help with this as well?

[2021-08-23 19:09] jordandev commented on #1462
Why can't a @stream function also be @volatile? Otherwise @stream functions do not recalculate on 'Calculate Now'

[2021-08-23 19:32] keyur32 commented on #2071
@lliu113  - can you please take a look? I can repro the error on scriptlab.

[2021-08-23 19:53] GrumpyAL opened #2072 "Mechanism for determining EWS and REST URL"
I have what I hope is a quick question.  We are trying to track down why a specific EWS/REST API URL is being returned in OWA by Office Add-ins. Are you able to share the mechanism by which the REST and EWS URLs are determined when running Office.context.mailbox.ewsUrl (or .restUrl).  How does the framework determine the right URL to use when in OWA.  It doesn't appear to make any extra calls to E

[2021-08-23 20:59] olliesweez commented on #2042
@exextoc Has any progress been made on this issue?

[2021-08-23 21:32] mmoloney9966 commented on #1945
I have heard some rumors that in addition to the changes in the hostinstalladdins.html page, our WOPI host will also need to implement the supportsFrameTrustedPostMessage and App_IsFrameTrusted, the whole "PostMessage to interact with the office for the web iframe application" implementation.

Any truth to that or just this "AppID" payload for the form field value post ?

I've added the form field

[2021-08-23 21:49] keyur32 commented on #1945
Hi, please see this: https://wopi.readthedocs.io/en/latest/faq/host_install_addins.html#addins-faq  for information on how to do that.  You will need your domains to allow listed first by contacting the CSPP team,  I believe.

[2021-08-23 22:12] keyur32 commented on #2070
Thank you for this question. To better assist you, we suggest you go to [StackOverflow](https://stackoverflow.com/questions/tagged/office-js) <change tag if appropriate> and see if your question has already been asked or ask a new question. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and we will follow up there

[2021-08-23 22:13] keyur32 commented on #2072
Thank you for this question. To better assist you, we suggest you go to [StackOverflow](https://stackoverflow.com/questions/tagged/office-js) <change tag if appropriate> and see if your question has already been asked or ask a new question. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and we will follow up there

[2021-08-23 22:14] keyur32 commented on #2069
Hi @Tamil2000, can you please update this with repro steps for your issue you are having? It seems cut off. Thanks.

[2021-08-23 22:16] keyur32 commented on #2047
Assigning to @lumine2008  who I believe was following up offline on this issue. Thanks.

[2021-08-23 22:52] keyur32 commented on #2046
Hi @gitty-git-git , checking in. Can you provide more details or repro steps? THanks

[2021-08-23 23:20] keyur32 commented on #2054
Thank you @xinchiyang-venacorp  for the report. It is under investigation and internally tagged as issue #257763895.  Can you share the Mac build number?

[2021-08-23 23:45] lliu113 commented on #2071
@barisbikmaz - thanks for reporting this, we will investigate internally.
Internal bug tracking: 5366182

[2021-08-24 02:51] SylvaD-MS commented on #2055
I have looked at the ULS logs which were provided and I can find the error above.  I can also repro the issue; if I choose a different locale for Office without closing all the Office Apps especially if a Web Add-in is already activated.  No new Web Add-in will be activated until the previous Office App has been closed and the existing WebView2 process (msedgewebview2.exe)  has been terminated.

U

[2021-08-24 04:29] ononder commented on #2071
Thanks for reporting the issue @barisbikmaz. We have identified the issue, a fix is currently being checked-in and it will get through the pipeline. Sorry for the inconvenience this issue may have caused.

[2021-08-24 04:47] garysharp commented on #2055
Thanks for stepping in @SylvaD-MS.

This doesn't appear the cause of our problem. I can confirm that our affected users _are not_ changing their locale settings.

(more details and screenshots have been emailed)

[2021-08-24 05:11] neville-jones commented on #2055
Thanks @SylvaD-MS but like @garysharp our users have not been changing their locale settings. Our users are largely based in Australia and New Zealand; Gary's are in Australia.

Maybe it is something to do with the users have a locale setting in Office or Windows of other than en-US?

[2021-08-24 05:25] Tamil2000 commented on #2069
Hi @keyur32  First of all Thanks for Reply
I am implementing the outlook add-ins related to salesforce , and i am creating the events from add-ins to outlook calendar using outlook create event RestAPI, But This create event function trigger when i open add-ins , i want this automatically trigger this create event function automatically in background ,so In outlook account open or outlook account

[2021-08-24 06:07] anant-matelabs commented on #2036
Do you have a repro?

[2021-08-24 06:37] exextoc commented on #349
@masha-mariya4 Could you please provide us sample code along with the manifest or an add-in endpoint so that we can reproduce it in house?

[2021-08-24 08:01] Tamil2000 opened #2073 "Is it possible to trigger the handler in outlook add-ins when i open the outlook Mail calendar tab?"

[2021-08-24 08:05] Tamil2000 commented on #2070
https://stackoverflow.com/questions/68901939/outlook-add-ins-event-handler?noredirect=1#comment121771695_68901939

[2021-08-24 08:14] barisbikmaz commented on #1650
This issue is still happening. @ononder Do you have any plans to fix this ?

[2021-08-24 09:33] barclayadam commented on #2045
Because signatures are user-controlled we are trying to find a generic workaround, a way of processing the HTML before it gets to Outlook for Word to destroy it. Tweaking and playing with individual HTML snippets is OK for a static example but breaks down fast in our scenario.

I'm still a little confused as to why it only breaks on certain inbound emails too.

Again, what I am trying to get to is

[2021-08-24 09:51] exextoc commented on #2070
The functionality you are looking for is currently not present in outlook add-ins. Please go through the documentation to know more about the supported events.
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch

[2021-08-24 11:10] ShubhamJain-Outlook opened #2074 "Validate amURL in Exchange Identity Token"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

As mentioned in the document validate-an-identity-token , outlook addin needs to validate the claims of exchange identity token. And as the token is signed, public key can be obtained

[2021-08-24 11:17] DmitryKostochko commented on #1910
Do you have any news about the issue?

[2021-08-24 11:50] DmitryKostochko opened #2075 "New Outlook for Mac, item.from.getAsync() returns email address in the displayName property"
In an Outlook add-in for compose mode, we use the item.from.getAsync() method. In new Outlook for Mac, the method returns the EmailAddressDetails object but with email address in the displayName property.

## Your Environment
* Platform: Mac
* Host: Outlook in the NEW mode
* Office version number: Microsoft Outlook for Mac Version 16.52 (21080801)
* Operating System: MacOS Big Sur Version 11.4 (20

[2021-08-24 12:52] somenathmaji opened #2076 "Outlook addin is not able to get updated context while pinned"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Microsoft 365 Build >= 16.0.14228
* Operating System: Windows 10
* Browser (if using Office on the web): N/A

## Expected behavior
When we change mail the `Office.context.mailbox.item` should be picked from the current mail.

## Current behav

[2021-08-24 12:55] mmoloney9966 commented on #1945
CSPP had replied that if we were already a WOPI Integration partner, we're already "on-boarded" but I am suspicious the respondents may not be correct.
Is this a special/additiona listing of our current production and/or lower test domains to on-board them for this capability?

From: Keyur Patel - MSFT ***@***.***>
Sent: Monday, August 23, 2021 5:50 PM
To: OfficeDev/office-js ***@***.***>
Cc: Mich

[2021-08-24 13:02] exextoc commented on #2075
Thanks for reporting this issue regarding Display Name. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: Office: 2307997

[2021-08-24 13:28] exextoc commented on #2074
Could you please elaborate on your question here?

[2021-08-24 14:00] ShubhamJain-Outlook commented on #2074
For our outlook add-in we are using exchange identity token generated by Office.context.mailbox.getUserIdentityTokenAsync to authenticate user. And we are passing this token to our server side code which is developed in Java. There we are validating the identityToken which is a JWT token as mentioned on https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/validate-an-identity-token. As this

[2021-08-24 14:07] barclayadam commented on #1861
@exextoc I have added your account to a repro repo at https://github.com/barclayadam/office-js-launch-repro

At the moment it contains just a readme with some details of the issue + access to a VM that has a running Outlook instance pointing at our add-in and associated services that you should be able to replicate the issue with

Please let me know what else you would need

[2021-08-24 14:28] xinchiyang-venacorp commented on #2054
@keyur32
Mac build: 16.52 (21080801)
Windows build: 2102 (13801.20294)
Excel Online build: 16.0.14411.35900

However we've been able to reproduce this reliably on any computer we've tried so far.

[2021-08-24 14:29] GrumpyAL commented on #2072
I apologize.  I have reposted the question over on StackOverflow.  Thank you!

[2021-08-24 14:29] #2072 closed, assigned to exextoc

[2021-08-24 14:48] exextoc commented on #2044
@masha-mariya4 we are unable to reproduce this issue. Could you please provide us a sample add-in through email at OutlookAddins@M365x693897.onmicrosoft.com

[2021-08-24 15:02] exextoc commented on #2043
Thanks for reporting this issue regarding location. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2285938

[2021-08-24 15:27] DmitryKostochko opened #2077 "Outlook Desktop, setSelectedDataAsync inserts paragraph with incorrect font size"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In an Outlook add-in for compose mode, we use the item.body.setSelectedDataAsync() method to insert HTML in the body of the item. For particular email items, the setSelectedDataAsync(

[2021-08-24 16:23] AbidRahman-MSFT commented on #2062
Hey @richie5um, thanks for posting the issue. I tried to reproduce the issue with your gist but was unable to do so.

Here's a video showing my attempt at reproducing on Word on Mac:

https://user-images.githubusercontent.com/53581099/130653561-91ad1dbe-0ac9-4d67-92a2-17f8ec8307cb.mov

[2021-08-24 16:24] AbidRahman-MSFT commented on #2037
Hey @frantwo, sorry about the delay. Thanks for posting your issue, we will investigate and get back to you as soon as possible.

[2021-08-24 16:25] mmoloney9966 commented on #1945
Keyur,

In your July 28 email when you this new mechanism for the hostinstalladdins, you stated:

"....This capability will allow you to embed add-ins on load (note: add-in must be hosted in the store, just like today), with auto-show-taskpane...."

Excuse my ignorance but is the "auto-show-taskpane" talking about the addin manifest file entry....

                  <Action xsi:type="ShowTaskpane"

[2021-08-24 18:02] mmoloney9966 commented on #1945
Light bulb may have gone off about the "auto-show-taskpane" note.
Does this mean we have to apply the information documented in
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document ?

Which indicates a change in our manifest and we actually have to modify the document to set a property before streaming it to the Office Online (WOPI) edit sessio

[2021-08-24 18:18] AbidRahman-MSFT commented on #2037
Hey @frantwo - we recently made a change to no longer support `matchWildCards` as it is an invalid parameter for the search function. Replacing `matchWildCards` with `matchWildcards` will fix your issue (note the capitalization on the 'c').

[2021-08-24 18:18] #2037 closed, assigned to AbidRahman-MSFT

[2021-08-24 21:31] vouyoung-alloy commented on #1519
Aso having the same issue....  Seems like this was never solved after all this time

[2021-08-24 22:07] exextoc commented on #2058
We've investigated further. This is going to require a client update to fix. There are various things that can cause this issue to repro or not repro, which means it the API may fail 100% for some users, but be intermittent for others (or always work). Upgrading to 2107 may or may not help the issue.

Until a fix can go out, and the affected users upgrade, the workaround is to use EWS to fetch the

[2021-08-25 00:09] david-ps commented on #2018
@Dengshan2018 Great, thanks!

[2021-08-25 05:24] eldargum commented on #2016
Hi @xiaochunms,

 have you time to look my issue?

[2021-08-25 06:02] xiaochunms commented on #2016
Hi @eldargum, sorry for the late response. I tried with the manifest.xml from the sample, and it is running correctly on Excel web and Excel Win32 both. The result is same with @davidchesnut's. So I am thinking the batching should work well. Then I tried to run with manifest-local.xml, which can debug your functions with local host server, unfortunately in Win32 I hit an issue that the resource fi

[2021-08-25 06:37] frantwo commented on #2037
Thank you very much for your answer!
BR!

[2021-08-25 06:38] eldargum commented on #2016
thanks @xiaochunms ,

the sample works well, the issue occurs when requesting the web service

[2021-08-25 13:04] ElizabethFerriss commented on #2064
Is there any update or suggested workaround?

[2021-08-25 14:30] ShubhamJain-Outlook commented on #2074
Hi Team,
Do we have any update on the issue

[2021-08-25 16:57] mmoloney9966 commented on #1945
I've implemented the OpenXML tagging of the document we are trying to edit via a WOPI/OfficeOnline session.  I can open that modified docx in local desktop Word, in our WebDAV integration for Word, and in the Office365.com Word.  However, when I send that same file content to OfficeOnline using our WOPI integration, we just get a popup message saying "there was a problem and we can't open this doc

[2021-08-25 17:24] jwhite-venacorp opened #2078 "Cannot access names in inactive workbook"
# Provide required information needed to triage your issue

When the workbook hosting the addin is not the active window, named ranges cannot be added. In some cases, this results in an exception, "ItemNotFound". In other cases, Excel will actually crash (closing all the documents.)

ScriptLab examples for both cases provided.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the w

[2021-08-25 18:51] jroycroft-venacorp commented on #2078
I get the same results when I run the scripts in the ScriptLab gists above, on Excel version 16.52 on Mac Big Sur

[2021-08-25 20:09] keyur32 commented on #2078
@lumine2008  - Can you please take a look?

[2021-08-25 20:11] keyur32 commented on #2073
Thank you for this question. To better assist you, we suggest you go to [StackOverflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and we will follow up there.  Thanks, Microsoft 365 Dev

[2021-08-25 20:11] #2073 closed, assigned to nobody

[2021-08-25 20:16] keyur32 commented on #2070
marking as closed, as answer was provided here as well as on stackoverflow (thank you for posting there). As this now seems like a feature request as this functionality is not yet supported, we would encourage you to post your idea on the [Microsoft Tech Community New Ideas forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform#). Thank y

[2021-08-25 20:16] #2070 closed, assigned to nobody

[2021-08-25 20:19] keyur32 commented on #2067
Hi there, thank you for the report. We're following up internally on this issue. Thanks.

[2021-08-25 21:10] ElizabethFerriss commented on #2051
Is there a time estimate for Bug 5349227?

[2021-08-25 22:44] neville-jones commented on #2055
We have more customers reporting this problem occurring for some of their users.

@SylvaD-MS - we believe the users do **not** have Office running side by side with different locales so how do we go about having Microsoft continue investigation into this issue?

[2021-08-26 03:06] grangeryy commented on #2063
@wh1t3cAt1k Looks to me more like Excel dialogue interface display issue instead of Custom Functions creation/execution issue. I'll    reach to the Excel side to see what we can do on this. You may also send the issue through:
![image](https://user-images.githubusercontent.com/50093161/130893942-ed7fe9a8-0894-43d3-b2f5-bfd9c516096c.png)

[2021-08-26 03:13] grangeryy commented on #2051
@ElizabethFerriss the bug is still under investigation.

[2021-08-26 03:39] #2002 closed, assigned to sohailzafar

[2021-08-26 04:38] gitcnd commented on #872
I am having the same problem.  It is easily reproduced.
Load the ScriptLab sample "Get from (message compose)" and click the "Who is this from?" button - the answer wrongly returns the email address in place of he name.
The same problem exists for both Office.context.mailbox.item.from.getAsync as well as Office.context.mailbox.userProfile.displayName

[2021-08-26 04:40] gitcnd opened #2079 "both Office.context.mailbox.item.from.getAsync and Office.context.mailbox.userProfile.displayName return wrong data"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am having the same problem as https://github.com/OfficeDev/office-js/issues/872

It is easily reproduced.

Load the ScriptLab sample "Get from (message compose)" and click the "Who

[2021-08-26 04:51] eldargum commented on #2016
@xiaochunms , below is a simple sample with github API to validate one cell formula.

`async function getGithubLimit() {

  return new Promise (function (resolve) {

    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {

         if (xhr.readyState === XMLHttpRequest.DONE) {

            var res =xhr.responseText;
          //  console.log(resFloat);
          var resObj=

[2021-08-26 04:58] gitcnd commented on #2079
It also returns the wrong time zone (PST - but that is not my zone).

Note: it FAILS as described from outlook.exe (windows).
It *works* OK from https://outlook.live.com/mail/0/inbox

So this is just a fault with the .EXE (and possibly other clients) - but not with the web version.

[2021-08-26 06:50] wh1t3cAt1k commented on #2063
Hi @grangeryy ! Thank you, I'd appreciate you reaching out to the Excel team.

I enjoy having a bi-directional communication with you here, you guys are very responsive. On the other hand, I've never had anyone reach out through the "Feedback" dialogue :(

[2021-08-26 08:29] kaave opened #2080 "Word crashes on call `Office.context.document.getFileAsync` with password-locked `.docx` files."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.5.2 (21080801)
* Operating System: macOS Big Sur 11.5.2
* Browser (if using Office on the web): ______

## Expected behavior

Word NOT chashes when using `Office.context.document.getFileAs

[2021-08-26 08:37] kaave commented on #2080
P.S. After updating Word to `16.5.2 (21080801)`, my team members and I started to face this problem.

[2021-08-26 09:15] ghost opened #2081 "insertWorksheetsFromBase64 not working with Sensitivity label"
Hi Guys,

We are creating an Excel addin and we are now in the phase of testing it worldwide.

Our tool makes use of the insertWorksheetsFromBase64 (it is so cool!!!) and it works in most cases for us. BUT we found that people using Miscrosoft's Sensitivity Label feature, are getting an error ('There was an internal error while processing the request.') whenever this function is called.
The templa

[2021-08-26 09:31] qinliuMSFT commented on #2078
Thank you for logging this issue. The issue is reproducible for us, and has been put on our backlog VSO#5372098, will let you know once we have any updates.

[2021-08-26 10:49] shakoorattari commented on #500
Hi, I'm also getting same issue on office for mac 2019

[2021-08-26 11:01] shakoorattari commented on #790
Issue is still there for office for mac 2019

[2021-08-26 11:27] vinodifour opened #2082 "Getting custom property from word online giving “\n ” value while reading with below code"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: office365
* Browser (if using Office on

[2021-08-26 12:40] exextoc commented on #872
@gitcnd could you please provide more info about the platform where you are facing this issue. As mentioned in the description, this bug is for Outlook for Windows. However, it is not reproducible there.

[2021-08-26 12:50] exextoc commented on #2079
We are unable to reproduce this issue on our end. Could you please provide us more details about the platform and the version of the Outlook client?

[2021-08-26 13:06] exextoc commented on #500
@shakoorattari could you please provide us more details about the Outlook client. Are you using Outlook New UI or Old UI? Also which version are you using and finally provide us with the code snippet to reproduce the issue?

[2021-08-26 13:08] exextoc commented on #790
@shakoorattari are you using the new UI or old UI?

[2021-08-26 15:15] 0xA17C opened #2083 "AppointmentAttendeeCommandSurface TaskPane swallows first click"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When I open an addin on an appointment (`AppointmentAttendeeCommandSurface`), there seems to be an overlay preventing the fi

[2021-08-26 16:37] keyur32 commented on #2082
@RuoyingLiang  can you please take a look at this Word Online issue?

[2021-08-26 16:39] keyur32 commented on #2081
Cool use case. Assigning to @lumine2008 to help investigate.

[2021-08-26 16:59] chadhobson commented on #349
@exextoc There's several examples above so please stop asking for them and just fix the problem. You can follow your very own tutorial (https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) and get the exact same result that everyone here has gotten.

Regardless, I will also chime in and confirm it does NOT work on Mac. Works fine on Windows, thou

[2021-08-27 02:38] qinliuMSFT commented on #2081
Hi @ALDriehuis, thank you for logging this issue. I'm trying to repro this problem by using the sample snippet ***Insert external worksheets*** in Script Lab. But I'm not able to repro. My repro file's permission like below.
![image](https://user-images.githubusercontent.com/73509856/131062652-c541cafb-39e2-47ce-bcb6-2d20a43d0b40.png)

Could you please check and compare my snippet and file permiss

[2021-08-27 03:15] gitcnd commented on #2079
Can you send some screen-shots showing what you have tested?  I fails every time for me, using the most recent Office on the most recent Windows 10, with everything updated to now.

![Screen Shot 2021-08-27 at 1 06 07 pm](https://user-images.githubusercontent.com/4301826/131066348-902038ef-8299-4c8b-a012-f53ca87fd06b.png)

![Screen Shot 2021-08-27 at 1 11 33 pm](https://user-images.githubuserconte

[2021-08-27 03:40] jasonhieu1905 opened #2084 "[MailboxItem]: getComposeTypeAsync has error when opening from external tools"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

An internal error as occured when calling Office.context.mailbox.item.getComposeTypeAsync.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows
* Host [

[2021-08-27 04:19] #2018 closed, assigned to Dengshan2018, AbidRahman-MSFT

[2021-08-27 04:19] #2000 closed, assigned to sohailzafar, croicu, Dengshan2018

[2021-08-27 04:20] #1965 closed, assigned to croicu, Dengshan2018

[2021-08-27 04:21] #1899 closed, assigned to croicu, Dengshan2018

[2021-08-27 04:51] wh1t3cAt1k commented on #1965
Hi guys. I confirm it is fixed. Many thanks for the update and the fix!

[2021-08-27 05:43] grangeryy commented on #2064
Hey we are still investigating and have found some clues on the root cause. Will drive a fix as soon as possible. And unfortunately we don't have a work around suggestion at current.

[2021-08-27 08:18] ghost commented on #2081
Hi,

First or all, thanks for looking into this case.

But I do not know how to answer your question. What do you mean with repro environment and how can I check these settings.

Maybe good to tell. Our company is doing a test in (only) Brazil with Sensibility Label. In my region we are not using it, and I have no experience on this at all.
But if you could provide me some additional information o

[2021-08-27 09:23] atsopuronen commented on #1646
This issue seems to still occur for our customer after updating to Semi-Annual Enterprise Channel version 2102 (build 13801.20864). At least the symptoms and workarounds are identical.

**NOTE:** While the build doesn't match with the "16.0.13925.10000 or later" mentioned above, the release notes for Semi-Annual Enterprise Channel version 2102 (build 13801.20808) (July 13, 2021) contain the fix:

[2021-08-27 12:22] KevlarBat commented on #2076
Same issue : Our customers using old Edge web view are not enable to update their add-in anymore.
I delete the webview2 on my personal computer to test it and I have the same problem.
As a clue, I figure out that this issue only append when trying to subscribe to the ItemChanged event inside the Angular context of our application (or any other PoC with Angular). I try to subscribe to the event at

[2021-08-27 13:05] exextoc commented on #2074
Can you capture a Fiddler trace? Or can you provide us a sample token or fault details? From the description, it looks like that the cert used to sign token is not matched with the public key in metadata (amURL?). But we couldn’t get to know more details

[2021-08-27 14:21] exextoc commented on #1976
@hello-chenchen You do not need to add the redirection URL in AppDomains if you are using location.href on the pop-up window. Hence, the behavior in mac is correct.

[2021-08-27 15:23] keyur32 commented on #2080
@AbidRahman-MSFT - can you please take a look at this issue?

[2021-08-27 15:30] keyur32 commented on #2017
Hi there, sorry for missing this earlier, but this API is only supported in the Excel 1.8 Requirement Set.

You can learn more here:
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-1-8-requirement-set,  and learn about requirement sets in general here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets.

[2021-08-27 17:17] AbidRahman-MSFT commented on #2080
Hey @kaave, we've started the investigation here and are able to reproduce the issue. Will keep you updated on any progress. Thank you for reporting!

[2021-08-27 17:53] lbourda opened #2085 "HYPERLINK function invoking custom function indefinitely"
## Expected Behavior
The custom function should only be invoked once.

## Current Behavior
The custom function keeps being invoked indefinitely even though it's been seemingly completed since there's no longer #calc on the sheet, and I do get a hyperlink look-alike string.

## Steps to Reproduce, or Live Example
Apparently it's not possible to mix custom functions and buttons so you'll have to man

[2021-08-27 18:28] jargil commented on #2057
@EdwinStraver  - The getAccessToken (SSO) API only supports prompting for profile consent. You can read more about this in our documentation:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microsoft-graph#distributing-sso-enabled-add-ins-in-microsoft-appsource

If your add-in will be deployed by tenant admins, they'll be granting your add-in permission to other scopes dur

[2021-08-27 18:28] #2057 closed, assigned to jargil

[2021-08-27 18:30] #2034 closed, assigned to jargil

[2021-08-27 19:26] lliu113 commented on #2059
@tsardy - thanks for reporting this bug! I was able to repro with the attached file, thanks for providing it.
Internal bug number: 5377914

[2021-08-27 19:28] jargil commented on #349
Hey all. I'm sorry to hear you're having problems with the Dialog API on Mac. I've tried reproducing this in multiple ways and I'm not seeing any problems with the API, so getting your samples is very useful for us in order to understand if there's a particular use case where things are breaking for the Mac platform. We really appreciate your input and help here!

Anyway, I created a very simple S

[2021-08-27 20:03] SylvaD-MS commented on #2055
As discussed, the issue is a known issue which has been fixed but unfortunately not 100% deployed worldwide.  It is somewhat specific to Outlook (but could also affect other Office Apps depending on the order of the Web Add-ins activation).  If you are currently reproing the issue then a mitigation is to have matching **Office Display language** and **Office Authoring Languages and proofing** sett

[2021-08-27 21:34] exextoc commented on #2077
I'm able to reproduce this issue using your sample msg file.

We have had similar reports about certain emails not being rendered correctly in Outlook, for example Issue #2045.

Issues like this all stem from a difference between the rendering engine of web browsers, and that of Microsoft Outlook (which is actually Microsoft Word). When working with HTML-formatted bodies in Outlook, the API calls

[2021-08-28 00:00] ghost commented on #2046
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-28 04:34] exextoc commented on #1646
The fix build of 16.0.13925.10000 is for the Monthly Release Channel.
For the Semi-Annual Release Channel, the fix build is 16.0.13801.20686 (ver. 2102), so your customer should have the fix.
We are going to re-validate the changes to understand what is going on.

[2021-08-28 06:25] exextoc commented on #2079
I'm able to reproduce the displayName issue in Windows Outlook, however, I cannot reproduce this is the web client (OWA).

For time zones, Windows Outlook returns your system's time zone whereas the web client returns the value configured in the settings. In the web client, click on the  Settings icon -> General -> Language and time, and check the value of Current time zone.
Is this the behavior y

[2021-08-28 06:49] exextoc commented on #2084
Thanks for reporting this issue about the `getComposeTypeAsync` API.
This is a known issue. Internal product bug 5344464.
We unfortunately have no timelines to share regarding the resolution of this issue.

[2021-08-28 07:03] exextoc commented on #2076
@somenathmaji based on the response from @KevlarBat, are you using Angular?
If yes, does @KevlarBat's response help?

[2021-08-28 12:27] ShubhamJain-Outlook commented on #2074
@exextoc ,
It is not the case. We want to validate amURL on the server side because if someone tried to mock identity token and put attacker's URL in the amURL so we want to safeguard our application to avoid hitting such URL.

[2021-08-28 15:00] ghost commented on #2044
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-28 18:00] ghost commented on #2043
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-28 18:38] masha-mariya4 commented on #2044
@exextoc sorry, I can't share my addin code because of intellectual property policy

[2021-08-29 18:00] ghost commented on #2062
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-29 22:23] exextoc commented on #2058
We have fixed this bug and the fix should be available in build 16.0.14426.10000 or later.
When an updated build is available depends on the release channel a customer is on.

[2021-08-29 22:23] #2058 closed, assigned to exextoc

[2021-08-29 22:46] exextoc commented on #2045
We have contacted the Microsoft Word team to get guidance on this issue and we are awaiting their response.

[2021-08-29 23:04] exextoc commented on #1952
We have fixed this bug.
For the Semi-Annual Channel, the fix should be available in build 16.0.14326.20258 or later.
For all other channels, the fix should be available in build 16.0.14425.10000 or later.

When an updated build is available depends on the release channel a customer is on.

[2021-08-29 23:32] exextoc commented on #1861
I tried out the VM and your add-in worked every time I tried it. I tried a total of 10 times.
I inspected your bundle which is cached on the VM and I couldn't find anything obvious that was problematic.
I must admit that your bundle file was quite large so it is possible I missed something.

One thing to know is that we only allow 5 simultaneous instances of your add-in per Outlook session.
I don'

[2021-08-30 02:02] qinliuMSFT commented on #2081
Hi @ALDriehuis, sorry the "environment" may cause the misunderstanding. I'm talking about the snippet/sensibility permission, etc. Could you please help answer the following questions?
1. Could you please give us a sample snippet to help repro? I'm using the sample snippet ***Insert external worksheets*** in Script Lab, I'm wondering if it's enough to repro this issue?
2. Could you please confirm

[2021-08-30 04:28] exextoc commented on #1821
Thank you for sharing this issue. As a workaround, users can switch to the New Outlook for Mac experience which works as expected. We are not prioritizing this fix on classic Mac UI; please reopen the issue in case the workaround does not solve your scenario.

[2021-08-30 05:18] gingerjia commented on #1969
Verified at PROD with below build and it works as expected now:
![image](https://user-images.githubusercontent.com/62282034/131288756-2fdf99e4-5f42-45bd-ae26-a3f0aaf5021d.png)

Thanks!

[2021-08-30 05:40] gingerjia commented on #1955
@jwhite-venacorp, I verified the issue at PROD and it works as expected now:
![image](https://user-images.githubusercontent.com/62282034/131290660-a3638af4-32e2-402c-9efc-11b9b165529b.png)

Thanks!

[2021-08-30 07:10] KevlarBat commented on #2076
There is a misunderstanding :
The change events from the office API are not trigger at all as soon as I initialize my Angular app.
this work :
[code]
this do not :
[code]

The issue is not resolve and I still need help

[2021-08-30 08:30] vdboots commented on #1952
thanx great to hear ! 👍

[2021-08-30 08:41] rernst-bag commented on #2039
Hello!

Sorry for my late response due to vaccations.
I think we found the problem: The Users are not Exchange Online Enabled.

We have one user with Exchange Online License and Mailbox. On this User it is working as expected.

Are the plugins only be pushed / installed if the user has an Exchange Online Mailbox?

Many thanks in advance.
Remo
________________________________

Remo
Ernst, Engineer

[2021-08-30 09:06] somenathmaji commented on #2076
@exextoc Yes, we are also using Angular. @KevlarBat Are you facing this issue on a specific outlook build? We noticed this issue first in outlook build 14228 and it's still present in the latest build 14326.

[2021-08-30 10:32] exextoc commented on #2042
Really sorry about your experience. We are not able to reproduce the issue from our end.
Can you please help us with a sample manifest and a repro video (if possible) ?
You can send the manifest to _admin@a830edad9050849405E20081103.onmicrosoft.com_

[2021-08-30 10:44] exextoc commented on #349
Hello @masha-mariya4 , @chadhobson

We regret the inconvenience caused.
We are still not able to reproduce it from our end.
And if it is not reproducible for us, we can't fix it.

Please help us understand the situation better
- Does it happen on New Mac UI or Old Mac UI? Is the repro consistent ?
- Does the same Snippet for work on other platforms and fail for Mac?
- Have you tried the above Scri

[2021-08-30 10:47] exextoc commented on #2044
Please share a **_sample add-in_** where the issue can be reproduced.
This can be handy in building an add-in: https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/project-quickstart

[2021-08-30 11:40] KevlarBat commented on #2076
@somenathmaji I am currently on build 14326 and we also noticed it in 14228.

[2021-08-30 12:59] jwhite-venacorp commented on #1955
Thanks @gingerjia -- I tested this on a beta/preview a few weeks ago and everything worked! We really appreciate this fix.

[2021-08-30 13:35] lumine2008 commented on #1955
Thanks @jwhite-venacorp for your confirmation on the fix

[2021-08-30 13:35] #1955 closed, assigned to lumine2008

[2021-08-30 13:36] #1952 closed, assigned to exextoc

[2021-08-30 14:12] mmoloney9966 commented on #1945
Keyur,

Not sure if this will help or not but any insight you could offer would be greatly appreciated.
Attached is a Word docx modified using OpenXML to enable the auto-open-taskpane.
Attached the fiddler trace (renamed with .log extension to allow uplaod; but it doesn't show anything compared to a successful WOPI edit of an unmodified docx) but did attach a console log of the failed WOPI open of

[2021-08-30 14:18] FromPerm opened #2086 "Issue when try to use together two addins functions"
Our customers try to use external add-in Hodrick Prescott Filter (downloaded from https://web-reg.de/webreg-hodrick-prescott-filter) like a VBA add-in with our custom functions from Knoema Data Finder add-in and get an error #VALUE

## Your Environment
PC, Excel, Microsoft 365 Version 2107(Build 14228.20250) 64 bit, Windows 10

## Steps to reproduce
1. Open Excel.
2. Install Knoema Data Finder add

[2021-08-30 14:20] mmoloney9966 commented on #422
We've used the OpenXML SDK to add the webextensions and taskpane parts to the DOCX.
All Word platforms (local desktop install, WebDAV integration, Office365.com) are able to open the modified DOCX but if issued to WOPI, Office Online just shows a "trouble opening document" message.  The browser console does show the following exception....

WordEditorDS.js:2444 Uncaught (in promise) TypeError: Can

[2021-08-30 14:43] keyur32 commented on #422
Hi there,

Thanks for the additional details. I think we're missing an update to the automatically open a taskpane with a document article as we have a new attribute, you'll want to set storeType="wopicatalog"   (all lower case),   as specified in the file format reference article: https://docs.microsoft.com/en-us/openspecs/office_standards/ms-owexml/d4081e0b-5711-45de-b708-1dfa1b943ad1.

Can you

[2021-08-30 14:52] keyur32 commented on #422
Note: for the documentation issue, filed https://github.com/OfficeDev/office-js-docs-pr/issues/2909 to update the article.

[2021-08-30 15:15] Alex0cean commented on #1920
Thanks @dingjin-ms , we have validated the fix with the current channel Excel 2108. When can we expect the roll/out to the other channels, in particularly semi-annual enterprise? Just to know when we can build back the workaround ...

Thanks a lot for your support

[2021-08-30 15:18] mmoloney9966 commented on #422
WIll try this ASAP.
Quick question first, do the other attribute values (e.g.: app ID, store, etc...) need to be lowercase?

[2021-08-30 15:24] keyur32 commented on #422
thanks. Good question.

Here's an example:
![image](https://user-images.githubusercontent.com/3476087/131363076-2b0c6aee-15b8-4a54-b48c-fe5a9fb84732.png)

The asset id for your add-in should start an upper case "WA" string, I believe.  This is the code for you add-in you can get from app source (navigate to the listing on app source and you will see the asset id in the URL).

[2021-08-30 15:50] mmoloney9966 commented on #422
Still failing with the error message in the iframe "Sorry, there was a problem.....".
Still seeing console error:

Uncaught (in promise) TypeError: Cannot read property 'jc' of null
    at f.mXe (WordEditorDS.js:2444)
    at f.get value [as value] (WordEditorDS.js:2826)
    at Hl.jUf (WordEditorDS.js:4691)
    at df.yCh (WordEditorDS.js:1950)
    at WordEditorDS.box4.dll1.js:7125
    at new Promis

[2021-08-30 16:02] uptimelegal-adam opened #2087 "Desktop Outlook Windows: addFileAttachmentAsync seems to truncate URL at 527 characters"
When attempting to use addFileAttachmentAsync in an Outlook add-in, running Outlook desktop on Windows, the attachment fails to download and the URI seems to be truncated at 527 characters.

## Your Environment

* Platform: Windows Desktop
* Host: Outlook
* Office version number: Microsoft® Outlook® for Microsoft 365 MSO (16.0.14228.20216) 64-bit
* Operating System: Windows 10 Pro 19042.1052
* Bro

[2021-08-30 16:09] keyur32 commented on #422
Ah, did you also follow these instructions here (sorry, thought I had posted that earlier in the thread but wasn't clear):
https://wopi.readthedocs.io/en/latest/scenarios/hostinstalladdins.html

To enable this embedding you will need to register your staging and production environment domains first to allow add-ins to run in your host, and also send the same add-in ids as part of your post message

[2021-08-30 16:34] mmoloney9966 commented on #422
I did implement those changes as well for the additional form parameter "host_install_addins".  I even still have the fiddler script change in to ensure the host_install_addins is being sent.

I am unsure who to ask or how to confirm that our environment domains are "registered" for this purpose.  We have our addin officially in the Microsoft store.  We have our WOPI host domains whitelisted by WO

[2021-08-30 16:40] keyur32 commented on #422
I think you'll first need to do an additional registration to have add-ins run in be auto installed in your host. Please contact csppteam@microsoft.com to get the process started.

[2021-08-30 17:13] mmoloney9966 commented on #422
I will try them again.   They didn't seem very aware when I asked this same question 3 weeks or longer ago.

Does our addin manifest need the "TaskPaneId" change as well for this to work?

[2021-08-30 18:58] mmoloney9966 commented on #422
**Keyur,

Here is the response I got from CSPP.  Wanted to get your opinion on what they are stating before we go off and try to implement this trusted window/frame layer....**

WOPI hosts must now communicate to M365 applications that they are embedded in a trusted page. When the M365 app has validated that the add-in is running in a trusted page environment, the app will activate the add-in.

To

[2021-08-30 19:08] robert-gavrila commented on #1680
Does this issue happen after one click on the ribbon button or when the user double-clicks on it?

[2021-08-30 19:38] exextoc commented on #2061
This should be fixed now. Please let us know if you are still experiencing issues.

[2021-08-30 19:38] #2061 closed, assigned to exextoc

[2021-08-30 21:27] robert-gavrila commented on #1680
Also, I'm interested to know the parent process of the opened browser window.

[2021-08-31 00:01] Dengshan2018 commented on #2059
@tsardy  thanks for reporting the issue. How Add-in will use drag&drop during slide show?

[2021-08-31 02:00] ghost commented on #2046
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-08-31 02:00] #2046 closed, assigned to qinliuMSFT

[2021-08-31 02:09] xiaochunms commented on #2086
Hi @FromPerm thanks to raise the question. I noticed your usage would be call JS add-in formula in a VBA add-in formula, i.e. "=HP(KNOEMA.GET("IMFWEO2021Apr", "", "", "614", "NGDPD"), 10)", "HP" is a VBA add-in formula, while "KNOEMA.GET" is a JS add-in formula. I am sorry that usage is not supported. You may know VBA formula is a sync call, while JS formula is an async call. For a sync call it re

[2021-08-31 02:15] dingjin-ms commented on #1920
Thank you for your validation @Alex0cean , the fix has been rolled to semi-annual enterprise channel, and I believe it's available on all other channels. If it's not, please feel free to contact me to confirm it.

[2021-08-31 02:51] benmcinerney opened #2088 "CustomXmlNode.setXMLAsync() fails (error 6100) in Word 16.0.13801.20864, works using 16.0.8201.2200"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Description Of Issue

We have production release of Word Add-In working for about a year, on Word 2016 (16.0.8201.2200).
Business is moving to M365 Semi-Annual Enterprise Edition (W

[2021-08-31 05:03] moshikonachmias opened #2089 "Dialog Freezing on Outlook Desktop when trigger with On-Send event"
Our Add-In is using the On-Send functionality and it used to work for both OWB and Desktop without any problems.
On send, we popup a dialog and the user needs to select `adding an attendee and send` or `only send` via 2 buttons.
Now, when using on Desktop, the dialog freezing without any option to click on the buttons.

## Your Environment
The issue occurs on Outlook Desktop.
Version number is bel

[2021-08-31 05:16] tsardy commented on #2059
@Dengshan2018 it is more like grab-drag-release. Our users can manipulate chart values in presentation mode by dragibg chart points. More about it can be found here: www.activegraf.com

[2021-08-31 06:03] FromPerm commented on #2086
Thanks for your answer!

[2021-08-31 06:31] Gregg8 opened #2090 "Drag and Drop appears to be disabled or broken in my content pane add-in"
The components in our add-in which make use of the browser drag/drop events currently don't work. The drag doesn't even start. It appears as if drag/drop is disabled in add-ins.

## Your Environment
* Platform: PC desktop
* Host: Excel
* Office version number:
   * 2108 (build 14326.20238 64-bit)
   * Also fails on 2107 and 2109 (current beta channel)
   * Note: One of our clients was pinned to ve

[2021-08-31 06:44] #2086 closed, assigned to alison-mk, grangeryy

[2021-08-31 06:47] AlexPhilippov commented on #2086
Can we have some links on documentation on this, so it will be clear for everyone?
Also, it feels like Excel shouldn't allow using such formulas together or at least have some meaningful error shown other than #VALUE.

[2021-08-31 06:49] grangeryy commented on #2063
Hi @wh1t3cAt1k, I've reached to the Excel team and got some suggestion on this. Current best practice is to refine the description without line break. As the dialogue is implemented quite long time ago and line break is not used by any 1st party strings so far.

[2021-08-31 08:31] david-ps opened #2091 "Issue Removed"
Removed this bug > doing further app investigation

[2021-08-31 08:56] barclayadam commented on #1861
@exextoc thank you for investigating.

The almost randomness of the loading issue makes me feel like it's potentially a race condition of sorts, or something similar. There is no pattern that I can discern. I have seen it work 20-30 times before it fails to one once, 10 times can in all likelihood work absolutely fine.

The instance limit will not be an issue here.

The bundle has a bit of overhea

[2021-08-31 09:12] barclayadam commented on #2045
Another data point on this that I think is important: This behaviour does **not** replicate if you use the native UI (i.e. HTML file on disk) for managing and inserting signatures.

I would have expected the exact same behaviour to the built-in signatures functionality, not for the HTML to be treated differently even if it is Word doing the modifications

[2021-08-31 09:44] wh1t3cAt1k commented on #2063
Hi @grangeryy , thank you!
We have refined the description without any line breaks as a work-around.

We can close this ticket. Perhaps it makes sense to make an internal note for the Excel product nevertheless, I'm sure more people with custom functions will try multiline descriptions :)

[2021-08-31 09:57] grangeryy commented on #2063
Thanks for the suggestion! I'll close this issue and also share feedback to Excel team:)

[2021-08-31 09:57] #2063 closed, assigned to grangeryy

[2021-08-31 13:21] dmitry-semenov commented on #1680
It is single click

Need some time for this one

[2021-08-31 14:50] DmitryKostochko commented on #2077
@exextoc, thank you for the detailed explanation.

But let me please try to explain the issue with the following HTML:

`<p class="MsoNormal" style="margin-top: 0px; margin-bottom: 0px;">`
`          Normal text, inherits MsoNormal style (works)<br>`
`          <span style="font-size: 11pt;">11pt text (BUG)</span><br>`
`          <span style="font-size: 8pt;">8pt text (works)</span><br>`
`

[2021-08-31 15:39] ndreisg commented on #1717
Any news about this issue?

Also another question: When WebView2 is used where will the user data folder be located?

Since the new WebView2 is used to display Add-Ins this issue is now appearing much more frequently (not only when updating Office).
I got reports from customers that settings are lost every weekend.
I guess Office sets the user data folder for the WebView2 to some kind of temp loca

[2021-08-31 16:49] davidchesnut commented on #2016
Hi @eldargum,

I tried the getGithubLimit() sample and it runs fine. However I set it up as its own custom function along with its own description in functions.json. I'm not confident that this is the same configuration as your sample. Since you are just working with sample code, would it be possible to share your project in a GitHub repo so we can try running the same project code and be sure we

[2021-08-31 17:16] aspantel commented on #1100
Hi Microsoft team, this bug seems to be back in the recent Outlook versions (i.e. Version 2107).
Has anyone noticed this yet?

[2021-08-31 19:21] dmitry-semenov commented on #1680
Is there any specific way to get the data you're interested in? cause it's just normal chrome window with chrome as a parent in the process list.

[2021-08-31 19:32] dmitry-semenov commented on #1680
Maybe there is a way for other plugins to make such impact on the add-in? We don't have access to the customer's machines to get better understanding of their infrastructure/security software, and the issue seems to be isolated to just one customer (several users), so it seems to be a configuration thing.

[2021-08-31 19:44] robert-gavrila commented on #1680
This is enough for now. I'll let you know if I need more info. Thanks

[2021-08-31 20:00] ghost commented on #2043
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-08-31 20:00] #2043 closed, assigned to exextoc

[2021-08-31 20:49] mmoloney9966 commented on #422
Keyur,

Not sure you saw this question in all our threads.

Does our addin manifest also need to be modified so that within the "Action" element for "ShowTaskpane", the "TaskpaneId" attribute is set to "Office.AutoShowTaskpaneWithDocument" ?

[2021-08-31 21:08] SylvaD-MS commented on #2055
Thanks for reporting this issue and providing us detail information.  This turned out to be a variant of a known issue and a mitigation is being deployed to prevent it.  In parallel, a fix is getting implemented to avoid this issue to occur in the future.

[2021-08-31 21:50] #2091 closed, assigned to nobody

[2021-08-31 21:50] exextoc commented on #2089
Does this issue only repro in Outlook desktop version 2108 and on appointments? How are you opening the dialog?

 Does your Office add-in dialog use cross-domain communication? If so, it will [need to be updated as per this documentation](https://developer.microsoft.com/en-us/office/blogs/action-required-update-your-office-add-in-dialog-for-cross-domain-communication/?_cache_bypass=1630098590).

I

[2021-08-31 22:04] exextoc commented on #2087
I was not able to repro the issue you described. I tested the 2048 character limit, and it was correctly enforced.

Are you able to repo this issue in the ScriptLab add-in?

Directions for using ScriptLab Add-in:
1. Install the [ScriptLab Add-in for Outlook from the store](https://appsource.microsoft.com/en-us/product/office/wa200001603?tab=overview)
2. Click on "Code" in the ribbon.
3. There is a

[2021-08-31 22:17] neville-jones commented on #2055
One of our affected users upgraded to Outlook on Windows desktop to Version 2108 Build 14326.20238 and it did not rectify the problem - all Outlook web add-ins not functioning in meeting invite. Some users of the organisation had experienced intermittent issues with web add-ins when sending email messages and this Outlook release seems to helped alleviate the problems for them.

The affected user

[2021-08-31 23:29] benmcinerney commented on #2088
Update:
I reviewed code posted on MS Documentation page for setXmlAsync and noticed i had an extra wrapper around my function (i think based on earlier ScriptLab example code):
[code]
I removed this code wrapper and early testing appears to have resolved issue.
Other users testing now to confirm resolution.

[2021-09-01 02:28] benmcinerney commented on #2088
No, its failing (again).
The pattern seems to be it updates successfully on the first call to the function, but subsequent calls fail (to update other document properties).
This appears to suggest that the document content is getting out of sync - so the XML must be presenting itself as corrupt on the subsequent calls.
So, am I missing a line of code that deals with syncing:   context.sync().
I su

[2021-09-01 04:09] lumine2008 commented on #2027
Thanks Timbeese, we have discussed with this issue internal.  This is by design behavior. $ here means number format of this range is currency. so it will follow with the system locale.
The recommendation is to use numberFormatLocal to set the right current symbol. ensure the $ symbol, you could use the following code in order to make it work.

[code]

[2021-09-01 07:38] gingerjia commented on #2026
@lynneosmith, the fix has been check-in. Will update to the thread when deployed to PROD. Thanks!

[2021-09-01 08:48] FranCerrada commented on #2071
Hi @ononder, any estimations about when the fix will be released? We are also affected by it.

[2021-09-01 09:00] ghost commented on #2079
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-01 09:07] MartinSSeifert commented on #2067
@AkhileshShah-MS can you share any progress you have made so far? The customer is not seeing any activity - and that is a bit worrying. Looking forward to any feedback you would be able to share with us. Thank you.

[2021-09-01 09:10] JamesBigChange opened #2092 "Dialog Not Communicating With Outlook or Word add-in"
Our Outlook and Word add-ins open a dialog using Office.context.ui.displayDialogAsync() but following an Office update to version 2108, the add-ins no longer receive messages or events back from those dialogs.

The add-in dialogs are working as expected in Office Online (in a browser).

Our issue appears somewhat similar to: https://github.com/OfficeDev/office-js/issues/2089  but I can't be certai

[2021-09-01 10:46] harri-rajala-koivu-solutions opened #2093 "Excel duplicates and replaces formulas within a column."
When adding column data to the table, Excel copies and replaces formulas from other rows.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Version 2108 (Build 14326.20238)
* Operating System: Windows 10 Version 21H1 (OS Build 19043.1165)

## Expected behavior
Excel should not copy formulas

[2021-09-01 10:58] xiaochunms commented on #2016
Hi @eldargum,
Like @davidchesnut did, I tried the getGithubLimit()  at my side too and I did not hit the issue when requesting the web service.  I think @davidchesnut's proposal to share your project in a GitHub repo is a good idea that we are running and debugging the exact same project.

What would you think?

[2021-09-01 11:21] david-ps opened #2094 "Excel Content Pane App UI becomes frozen after Windows Resume"
There appears to be recent changes to the way the Content Pane is managed as a Shape that causes the UI to become frozen on Windows Resume or when the Excel/Content Pane App is idle for some time.

## Environment
Platform: PC
Host : Excel
Office version number Microsoft 365 MSO 16.0.14228.20200
Operating System: Windows 10

## Expected behavior
The Content Pane App is responsive in Excel when resu

[2021-09-01 11:50] AkhileshShah-MS commented on #2067
Hello!
Is this limited to Win32 Word client or happening for other platforms as well? Also, do the affected users have a mailbox assigned to them?

For debugging further, could you please email your tenant ID, fiddler trace of when affected user refreshes admin managed tab to addin-help@outlook.com?

Thanks!

[2021-09-01 12:18] JackTheDane opened #2095 "Outlook for the Web: Adding multiple attachments at the same time slows performance"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi team!

We're encountering an issue which is affecting our performance. The issue appears to be that trying to add multiple inline attachments at the same time drastically increases

[2021-09-01 12:59] aspantel commented on #1100
![image](https://user-images.githubusercontent.com/1057059/131675416-00155186-c1c3-4cb1-964f-5bb98b39fe77.png)

[2021-09-01 14:03] uptimelegal-adam commented on #2087
Thank you for the reply!  After a few more days of nonstop investigation of this problem, I believe it does NOT have to do with the URL length.  The JPEG file at this AWS presigned URL:
`https://uptime-legalworks-public.s3.us-east-2.amazonaws.com/long-names/jack-white-baseball-game.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIGBPDPNKRZJWPIIA%2F20210901%2Fus-east-2%2Fs3%2Faws4_reques

[2021-09-01 14:48] Dengshan2018 commented on #2094
@david-ps could you try the workaround once you experience the issue:
1. switch to other application and leave excel in the background for more than 20 seconds.
2. switch back to excel

[2021-09-01 14:59] jargil commented on #1100
@yoxel - could you open a new Issue listing all the details, preferable with a script we can use to reproduce. Could you also please confirm in your new Issue if your add-in is running on the WebView2 runtime?

Here's some information about the runtimes and how to confirm if you're on WebView2:
https://developer.microsoft.com/en-us/office/blogs/understanding-office-add-ins-runtime/

[2021-09-01 19:04] jargil commented on #2092
@JamesBigChange - please take a look at this announcement. Is your taskpane/dialog doing a cross-domain messageParent/messageChild call? Let me know if the documentation I'm sharing helps.

https://developer.microsoft.com/en-us/office/blogs/action-required-update-your-office-add-in-dialog-for-cross-domain-communication/?_cache_bypass=1630098590

[2021-09-01 20:00] ghost commented on #2062
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-01 20:00] #2062 closed, assigned to AbidRahman-MSFT

[2021-09-01 20:17] ononder commented on #2071
Hi @FranCerrada, the fix should be available in most of the production servers as of now. If you still encounter the issue, please let us know.

[2021-09-01 20:28] ononder commented on #1650
Hello @barisbikmaz, we will prioritize this issue and I'll get back to this thread with the updates. We are sorry for the inconvenience this is causing currently.

[2021-09-01 21:02] exextoc commented on #1646
What symptoms are you seeing and what workarounds have you tried?

Could you add fiddler logs for when you see this issue repo?

[2021-09-01 21:19] exextoc commented on #2045
Thank you for the additional information. We are reaching out to the Word team with additional information and awaiting their response. Internal tracking ID: 5401672

[2021-09-01 21:21] exextoc commented on #2077
Thank you for the additional context. We are reaching out to the Microsoft Word team for additional guidance and awaiting their response. Internal tracking ID: 5401672

[2021-09-01 23:40] exextoc commented on #2087
The error code 9054 is the AttachmentDownloadFailed error. The API is failing because the download of the attachment fails.

I was able to repro the issue you are seeing. I took a closer look using fiddler during the addFileAttachmentAsync call, and I saw that the request came back with a `400 Bad Request` Response code. If you open fiddler during the API call, you should be able to see this as we

[2021-09-02 00:23] gitcnd commented on #2079
When can we expect you to fix this bug?

The OWA client is not affected - please carefully read my report - I already said that.

Note that your idea about the time zone is not correct - Windows outlook is NOT returning my system's time zone at all - you need to work out which zone you want to return, and fix the bug that's returning the wrong thing.  I suggest you make it return the same thing as

[2021-09-02 01:37] david-ps commented on #2094
@Dengshan2018 Yes, that worked for a Content Pane instance that displayed inactive and transparent on Windows Resume which I have see occasionally in addition to the UI as (frozen) image. The Content Pane system menu was still active and Reload executed but failed to resolve the issue. As requested, I switched to another application for 20+ seconds and on return to Excel it was working normally.

[2021-09-02 02:10] exextoc commented on #2079
The From Bug has been filed with the Product Team. I unfortunately cannot share a time line or update status to this bug at this time.
Internal Reference Id:  5378628

The Time Zone in Windows Outlook should be taken from the Windows System:

![image](https://user-images.githubusercontent.com/28549921/131769255-bbcd5471-e198-4845-98d4-a45485bb4d28.png)

The value returned in the API should be the

[2021-09-02 02:43] qinliuMSFT commented on #2093
Hi @harri-rajala-koivu-solutions, thanks for logging this issue. It's reproducible from us, and has been put on our backlog VSO#5389572, will let you once we have any updates.

[2021-09-02 07:26] xiaochunms commented on #2012
When switching back to Automatic, whether the recalculation will be triggered or not depends on the state of the workbook. If there is no change in workbook when Calculation Options is Manual, switching back to Automatic will not trigger the recalculation.

[2021-09-02 08:10] JamesBigChange commented on #2092
@jargil - thanks for sharing this post. I will give it a try and report back.
I'm curious as to why our dialogs continue to work on 'Office on the web' whereas the post states that this update was released to this build from 19-Jul-2021.

[2021-09-02 08:20] Marientus commented on #61
Hello @wandyezj,

could you direct me to a documentation on how to disable telemetry events for a add-in on outlook? The company i work for really does not want these requests to be made at all and looking for a way to disable them fully.

Thanks!

[2021-09-02 08:34] moshikonachmias commented on #2092
@JamesBigChange what is the parameter you are sending to messageParent ? string or boolean?

[2021-09-02 08:38] moshikonachmias commented on #2089
- The issue only reproduced in Outlook desktop version 2108 and on appointments. It’s working fine for me on Outlook desktop for Mac and on Outlook web.
![image](https://user-images.githubusercontent.com/60843583/131787536-c2a4bed9-5fe6-4088-8421-7be12f6537ca.png)

- I'm opening the dialog with `Office.context.ui.displayDialogAsync`

- That is not the case

- I don't think it is similar because as

[2021-09-02 08:43] moshikonachmias commented on #2089
I found the bug. I sent a boolean and not a string to messageParent.

Office.context.ui.messageParent(true);
instead of
Office.context.ui.messageParent('true');

It was working for more than a year with the boolean value, it this change intended?
it's of course still working on the web and on Mac.

As well there is no error on the console when doing it.

[2021-09-02 08:45] JamesBigChange commented on #2092
@moshikonachmias I am passing a string (JSON) but will try with the new DialogMessageOptions parameter later today.

[2021-09-02 08:46] moshikonachmias commented on #2092
Good luck!
For me that was the problem.

[2021-09-02 09:00] guliums commented on #2093
Hi @harri-rajala-koivu-solutions, thanks for the detailed description and demo code. With "calculated columns" features, Excel will automatically expand the formula to the rest of the column in the table. But I think your requirement is very reasonable and we will evaluate if we can support disable "calculated columns" by JS API. Meanwhile could you try below workaround to see if it can unblock yo

[2021-09-02 09:11] sshukurov opened #2096 "[Excel] Duplicate taskpane thread"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are building an Excel JS Addin using Custom Functions and Shared Runtime.

Clicking the Taskpane command button (on the ribbon) fast enough upon page load leads to duplicate taskpa

[2021-09-02 09:16] wh1t3cAt1k commented on #2096
It's quite an old bug (several months at the least), not a recent regression, it's just that only recently we managed to find a minimal repro for this.

[2021-09-02 12:16] mrsanor commented on #1868
Are there any updates on this? If debugger won't work properly, it makes using Yeoman based projects quite hard.

[2021-09-02 12:17] harri-rajala-koivu-solutions opened #2097 "The table is broken if the first row in the first column is an empty string."
The table is broken if you add column data with an empty string in the first row.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Version 2108 (Build 14326.20238)
* Operating System: Windows 10 Version 21H1 (OS Build 19043.1165)

## Expected behavior
The empty value in the first row should

[2021-09-02 12:33] somenathmaji commented on #2076
@exextoc Do we have any updates?

We also want to know how could the app keep using Edge HTML in spite of webview2 being installed? (the OS and Office meets the required versions)

Any help is appreciated.

[2021-09-02 12:33] harri-rajala-koivu-solutions commented on #2093
Hi @guliums, thanks for the workaround. It works, but it is not a good solution to our issue. Our tables might have, for example, 15000 rows and 250 columns. This workaround will slow down our add-in application because we need to put column data twice, first with an empty string and "1". After that, with real data.

What is your estimation of when "disable calculated columns by JS API" would be a

[2021-09-02 12:39] harri-rajala-koivu-solutions commented on #2093
Hi @guliums, can you please check another critical bug report (**#2097** _The table is broken if the first row in the first column is an empty string_) that I added today. It might be related to this issue?

[2021-09-02 13:49] guliums commented on #2097
Hi @harri-rajala-koivu-solutions , the table created from one row with hasHeaders=true is a little different than other table. After creating table from A5:B5, it looks like A6:B6 is also a table row. But if you edit A7, the table won't auto expand to A7 if you didn't set the value in A6 firstly. That also happens when create table from UI button.
Would it work for you to create table from 2 rows

[2021-09-02 14:00] JamesBigChange commented on #2092
@jargil I can confirm that this resolved our issue.
Is there a way to subscribe to these blog posts so that we don't miss future updates?

[2021-09-02 14:10] exextoc commented on #1940
For OWA, the bug is in the backlog. We will look into the issue, on priority.

[2021-09-02 15:07] guliums commented on #2093
Hi @harri-rajala-koivu-solutions , I just found that it does not need to set every cell to "1". It only need one cell in the column has existing data to avoid Excel auto expand the formula. So the workaround could be just set the last cell in the column to "1", and then set the formula. I think in that way it should not slow down the add-in too much.
For "disable calculated columns by JS API", it

[2021-09-02 16:01] uptimelegal-adam commented on #2087
Comparing the results from Fiddler on Mac (works) vs. Windows (doesn't work) I see quite different sequence of requests:

**Mac (works, file successfully downloaded and attached to message):**
<img width="1115" alt="Screen Shot 2021-09-02 at 9 35 08 AM" src="https://user-images.githubusercontent.com/44655203/131877339-2da91d38-62af-498e-95a6-9220086e67c3.png">

**Windows (doesn't work)**

<img wid

[2021-09-02 19:01] Dengshan2018 commented on #2090
There is the issue to support ondrop/ondragover in in-content add-in on webview2. Working with webview2 team to see if there is workable solution.
 @Gregg8, as alternative solution, could you build similar experience through mouse event?

[2021-09-02 19:01] Dengshan2018 commented on #2059
@tsardy working on the fix.

[2021-09-02 19:07] Dengshan2018 commented on #1907
@peterdesio there are a few fix related with memory leaks. they are available in beta channel.

[2021-09-02 19:08] Dengshan2018 commented on #1913
@informaruth @atvoegerl there are a few fix related with memory leaks. they are available in beta channel.

[2021-09-02 19:27] robert-gavrila commented on #1680
Can you let me know which of the following processes is present on the failing customer machine when the add-in is loaded?
iexplore.exe || msedgewebview2.exe || (win32webviewhost.exe & wwahost.exe).

[2021-09-02 20:20] AbidRahman-MSFT commented on #2088
Hey @benmcinerney - is the issue resolved if you add a 'context.sync()' directly after setting the XML?

[2021-09-02 20:23] AbidRahman-MSFT commented on #2080
This issue should now be resolved in production environments. @kaave - please let us know if you continue to experience any problems here.

[2021-09-02 20:32] exextoc commented on #2076
To implement a pinnable taskpane, make sure that you have added the SupportsPinning element to the Action element in the manifest that describes the task pane button. The SupportsPinning element is defined in the VersionOverrides v1.1 schema, so you will need to include a VersionOverrides element both for v1.0 and v1.1.

Full instructions for implementing the pinnable taskpane can be found [here](

[2021-09-02 20:35] AbidRahman-MSFT opened #2098 "Unable to authenticate in add-in for Citrix shared virtual desktop environments"
Trying to log into the SmartCite add-in fails when using the add-in in a shared virtual desktop environment.
Please see below video for user flow:

https://user-images.githubusercontent.com/53581099/131911775-7e18db23-6ee5-44cb-9daa-1686e26fa37b.mov

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: The issue occurs on Win32 and on Web (IE and Chrome), not tested on Mac
*

[2021-09-02 20:36] AbidRahman-MSFT commented on #2098
@jargil, @lliu113 - any ideas what could be the issue here? Is it possible the virtual environment is blocking some network call needed to finish the authentication process?

[2021-09-02 20:52] lliu113 commented on #2092
@JamesBigChange - great question, you can subscribe to blogs via the [RSS feed](https://developer.microsoft.com/en-us/office/blogs/feed/), You can also subscribe to the [Microsoft 365 Community channel](https://www.youtube.com/c/Microsoft365PnPCommunity/featured), which uploads the monthly community calls, where this change was announced.

For your question on why this is working on Office on the

[2021-09-02 21:36] exextoc commented on #2089
Yes, this change was intended. The value in the parameter to Office.context.ui.messageParent must be a string due to compatibility problems. Office can use different browser controls, which can handle types differently. Some browsers can pass a string, integer and boolean and it will always convert the data to string, while some browsers may throw exception when it hits non-string data. To avoid t

[2021-09-02 22:38] #2092 closed, assigned to jargil

[2021-09-02 23:25] exextoc commented on #2087
Mac could have a different client implementation of downloading attachments. These network calls are generated by the implementation in Windows Outlook that is used to download attachments.

These calls looks like they are failing due to the auth mechanism you are using. From the URL you provided, it looks like you have both the X-Amz-Alogrithm query parameter and the Signature query parameter. Yo

[2021-09-02 23:34] benmcinerney commented on #2088
Hi @AbidRahman-MSFT, no I haven't tried that - i wasnt sure if it was a correct approach. I will try it this morning and get back to you.
I have been focussing on changing the update to do all nodes (document properties) at once, as in manipulating the entire XML (from xpart.getNodesAsync(settings.xpathroot) and then using node.setXmlAsync(allDocProps).

[2021-09-03 00:00] ghost commented on #2023
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-03 00:00] ghost commented on #1911
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-03 00:00] Gregg8 commented on #2090
Thanks @Dengshan2018. Yes, we are looking into simulating drag/drop in our code, as jQuery does.

[2021-09-03 01:06] neville-jones commented on #2055
The affected user mentioned above has fixed this issue by changing the following setting in Outlook and restarting Outlook:

![image001 (1)](https://user-images.githubusercontent.com/62081302/131935132-5e8e5251-3395-44e6-99c4-1d36dcfe8a8d.png)

The user is not on a multi-display workstation, just a laptop with single display but the change rectified the problems with web add-ins not working in mee

[2021-09-03 02:18] kaave commented on #2080
@AbidRahman-MSFT Thank you! I can confirm that the problem has been solved in my environment 👍

[2021-09-03 02:27] 10142904 commented on #2059
@Dengshan2018  Has it been fixed ? I just tested and it does seem to be fixed, my ppt version is Microsoft 365 MSO (16.0.14326.20262) 32 bit，I tried to upgrade and he said it was already the latest version, ppt's subscription channel is version 2018 Current Channel(preview)

[2021-09-03 03:00] ghost commented on #2081
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-03 03:22] Dengshan2018 commented on #2059
The fix is not out yet.

[2021-09-03 03:40] 10142904 commented on #2059
i see, thanks!

[2021-09-03 06:00] ghost commented on #1821
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-03 06:57] ghost commented on #2081
Hi,

Many thanks for your time spend until now, but I suggest we close the issue right now. I do not get any feedback from our team and because I am living in a region where our company has not yet rolled out Sensitivity Labels, I can not supply any additional data. Many thanks again!

Lou

[2021-09-03 06:57] #2081 closed, assigned to lumine2008, qinliuMSFT

[2021-09-03 08:07] harri-rajala-koivu-solutions commented on #2093
Hi @qinliuMSFT I tested that, and it works. I will change our add-in application to use that workaround.

Please let me know when you have an update related to "disable calculated columns."

[2021-09-03 08:20] Tomer-Priel commented on #2089
How is this OK???
You guys are literally changing an API without any announcement!!
It's not a documentation change but an actual API change that caused developers add-ins to break.

[2021-09-03 08:23] harri-rajala-koivu-solutions commented on #2097
Hi @guliums. Yes, that works but not anymore after you have deleted existing rows and added new rows. And actually, this is an issue only with the latest Excel version, 2108.

If you run this code with the previous version 2107 (Build 14288.20250), you can see that both tables are ok.
But if you run this same code with 2108 (Build 14326.20238), you can see that the first table is broken.

[code]

[2021-09-03 12:00] ghost commented on #2042
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-03 12:00] ghost commented on #349
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-03 12:06] barclayadam commented on #1861
We have continued to investigate this issue and have created a small add-in that shows the issue. The issue is not easy to reproduce and is very non-determinstic, it feels like a race condition.

I have updated the readme at https://github.com/barclayadam/office-js-launch-repro with details and repros, and included some log files for failures.

Would love to progress this as we have customers expe

[2021-09-03 12:48] eldargum commented on #2016
Hi @davidchesnut, @xiaochunms, thank you for your answers

Today I replaced the web server (IIS with npm http-server) and my sample started working. Now I want to understand whether it will work with IIS.

[2021-09-03 14:09] uptimelegal-adam commented on #2087
After investigating the failing Windows GET request, I see that an "Authorization:Bearer" header has been appended to the headers.  Looks like I've run into this (closed but unresolved) issue: [office.js #322: addFileAttachmentAsync Appends Invalid Authorization Header](https://github.com/OfficeDev/office-js/issues/322).  I believe I will be able to work around this by using a regular XMLHttpReque

[2021-09-03 14:09] #2087 closed, assigned to exextoc

[2021-09-03 15:14] davidchesnut commented on #2016
Sounds like IIS wasn't serving all of the files. The sample is just using static pages which is definitely supported by IIS. I'd open a browser window and browse directly to the URLs for functions.json functions.js, etc... These should all return the file contents for the http-server you set up. Then try under IIS. I'm guessing one or more will fail. That should help indicate what's happening with

[2021-09-03 15:46] KHeavyy commented on #1059
+1 - Also experiencing this issue, but it doesn't save the properties even if the contents of the document has changed.

If it helps, the issue doesn't occur on the Excel API and a call to `context.workbook.save()` does save the value of the custom property.

[2021-09-03 17:18] alexuaua commented on #1688
@MiaofeiWang , sorry, I missed the notification.
Unfortunately, second axis group and other parameters are still being ignored on Excel online as well as on iPad.

[2021-09-03 17:31] lynneosmith commented on #1840
@keyur32 @jipinshi Is there an update on the fix you mentioned above? Thanks!

[2021-09-03 17:59] slabereemsft commented on #2096
@shaofengzhu - This looks like a Shared Runtime bug to investigate first.

[2021-09-03 20:09] ikexq opened #2099 "`Office.context.mailbox.item.saveAsync` has a blank `value` field in JSON on success under new Outlook UI"
When `Office.context.mailbox.item.saveAsync` is called, it returns a blank `value` field when the call is successful ( `status : 'succeeded'` ). This only occurs when the new (beta) Outlook UI is toggled on/enabled.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.52
* Operating System: macOS

[2021-09-03 20:34] exextoc commented on #322
We have fixed the bug and the fix should be available in build 16.0.12625.10000 or later. Depending on the release channel you are on, getting an updated build can take anywhere from 4-8 weeks.

[2021-09-03 21:04] exextoc commented on #2087
Thank you for reporting this issue regarding addFileAttachmentAsync. We have engaged with the Outlook product team about this issue. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 2599582

[2021-09-03 21:38] exextoc commented on #1911
We don't have a solid repro at this point so we will investigate/add more detailed error logs to find the problem and fix it. If you can identify a user condition or have a solid repro please feel free to comment here again that will help our investigation and get sooner to the issue.

[2021-09-03 21:38] #1911 closed, assigned to exextoc

[2021-09-03 22:57] exextoc commented on #1861
Thank you for the additional information. We are still following up with the sandbox team to get instructions on how to get further logging for the sandbox (ULS logs), as those could be helpful in determining the issue.

[2021-09-03 23:20] exextoc commented on #2089
We are following up with the product team about this issue and will update once we have more information.

[2021-09-04 00:44] david-ps commented on #2094
@slabereemsft @croicu @keyur32 @Dengshan2018  A sidenote of concern: It appears that recent changes to how Content Pane works (ie. Shape properties behaviours eg. Z-order supported) has created bugs and unintended consequences in addition to this bug and the previous bug posted #2018
For example, our Content Pane add-in that previously supported mouse drag in Power Point presentation mode now does

[2021-09-04 01:25] safiness opened #2100 "Pivot Field not loading a collection of pivot items"
# Provide required information needed to triage your issue

## Your Environment

Not relevant

## Expected behavior
The items of a pivot field should represent a collection of PivotItems.

## Current behavior
The items of a pivot field represent the collection of pivotfields that the pivotfield came from.

# Provide additional details
The documentation seems a bit off, it is not clear on the expec

[2021-09-04 03:28] pkkj commented on #2089
We are also wondering how will your code handle this boolean value when it is picked up by the parent taskpane. Thanks.

[2021-09-04 03:37] guliums commented on #2097
Hi @harri-rajala-koivu-solutions, thanks very much for the helpful information. I can repro the issue, internal 5396209 was reported to track it. I will let you know when we have update.

[2021-09-04 08:17] david-ps commented on #2094
@croicu FYI: Testing the same app in PowerPoint exhibits similar behaviour. Frozen but also locked up PowerPoint. Not sure if it is related and it may be an app issue but we have not had this before. Will raise separate issue if required. See Task Manager actvity while frozen:
![PowerPointFreezeTaskManager](https://user-images.githubusercontent.com/47418828/132087895-c60bcdcc-7bf5-44d9-b52b-254b95

[2021-09-04 14:12] Dengshan2018 commented on #2094
@david-ps are you saying you repro same issue in PowerPoint add-in? could you add the version of window 10?

[2021-09-05 02:29] gitcnd commented on #2099
Didn't you mean this (**Compose**, not **Read**) ?

    <ExtensionPoint xsi:type="MessageComposeCommandSurface">

[2021-09-05 02:37] ikexq commented on #2099
Thank you, yes that is what I meant. I have updated the issue.

[2021-09-05 02:41] gitcnd opened #2101 "Office.context.mailbox.item.body.getAsync returns the wrong content (or perhaps Office.context.mailbox.item.saveAsync saves the wrong content)"
The 5-character email body "Hello" turns into 40,000 bytes of HTML/XML formatting etc when returned (or saved?) by Office.context.mailbox.item.body.getAsync (or Office.context.mailbox.item.saveAsync ?) even though when that email is received, the body is only 7k.

## Your Environment
Outlook.EXE (current) on Windows 10 (Current)

## Expected behavior
Should return the same email body as what recip

[2021-09-05 03:46] gitcnd commented on #2101
Note that OWA (Using outlook in a web browser) works OK - only the .EXE version seems to misbehave.

[2021-09-05 06:34] gitcnd opened #2102 "Add-in "Pin" logic is broken (does opposite of what it says, and the link always does the same thing regardless of whether you click pin or unpin)"
When installing new add-ins, Microsoft-365 helpfully tells us "... pinned for quick access ..." which is untrue.
It also gives us the option to "un=pin" as well - which is broken.

- Add-ins do NOT get pinned, even though they say they are.
- When you "Un-pin" them, they then DO become pinned.
- After you un-pin them, if you re-pin them again, they stay pinned.

## Your Environment
OWA "Modern" on

[2021-09-05 17:11] honxmsft commented on #1831
I've tested on the version 2108 (Build 14326.20304) and the fix is there. Maybe we can verify it again.

[2021-09-05 23:18] david-ps commented on #2094
@Dengshan2018 I cannot say for certain it is same issue in Power Point just that Content Pane is similarly frozen on resume but may be coincidental and from our app so we are continuing to test. We do not believe it is our app issue in Excel.
Windows: 10 Pro
Version: 20H2
OS build: 19042.1165
Windows Feature Experience Pack 120.2212.3530.0

[2021-09-06 01:11] jipinshi commented on #1840
@lynneosmith , can you verify whether it repros now? Currently suppose the bug has been fixed and I cannot repro it in production.

[2021-09-06 03:04] mike-thompson-day8 commented on #2059
@Dengshan2018
Just out of interest, assuming the fix was completed now, how long are the release cycles?  How long before a fix is released?

I ask because I'm not sure if we are talking about weeks or months or years.  (I'm assuming not "days")

I guess it would go through a Beta channel release first.  Then GA?  If possible approximate timings on both would be interesting.

OR are you still wait

[2021-09-06 03:17] Dengshan2018 commented on #2059
@mike-thompson-day8 this fix is fully under the control. should be weeks. will publish the version which has the fix.

[2021-09-06 04:41] exextoc commented on #2095
Thank you for raising the bug. We have put it in the backlog. We do not have any timeline to share as of now.

[2021-09-06 05:02] exextoc commented on #2083
Thanks for raising this issue. We have put it in our backlog. Currently, we do not have any timeline to share.

[2021-09-06 08:15] yuc014 commented on #2097
Hi @harri-rajala-koivu-solutions, I tried the code below and it works.
[code]
Hope that would unblock your issue.

[2021-09-06 08:44] ghost opened #2103 "insertHtml - Vertical Tab does not work in Word Online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

We are currently migrating a VSTO Add In to Office.js. To support the old documents we need to insert CHR(10) or an equival

[2021-09-06 08:53] exextoc commented on #2102
We are not able to repro the issue at our end, Pinning/UnPinning works fine for us. Can you please share a small video reproing the issue, it will help us understand more.

[2021-09-06 09:12] eldargum commented on #2016
@davidchesnut , But my sample works fine with IIS in the online Excel version

[2021-09-06 11:46] exextoc commented on #2099
We are not able to repro this issue at our end. We would like to collect the logs to understand the issue more. For that follow the following steps:
1. Repro the issue
2.  Click on Help button from Outlook menu
3. Click on Collect Diagnostics
4. This will generate the dialog with incident ID

Share the Incident ID with us.

[2021-09-06 11:48] wh1t3cAt1k commented on #2012
Unfortunately the recipe above did not help.

I tried to disable the calculation as soon as Office.js script has loaded:

![image](https://user-images.githubusercontent.com/5159662/132212334-b3332007-b4e3-428f-bcd1-93de7d390812.png)

and then enabled it again after a timeout:

![image](https://user-images.githubusercontent.com/5159662/132212824-3e55a467-8c80-4753-9e61-7dd790c16a19.png)

(I verifie

[2021-09-06 11:54] harri-rajala-koivu-solutions commented on #2097
Hi @yuc014 Thanks, that works as a workaround. But like I said, the example code was working with version 2107 without any workaround, but not with version 2108. With 2108 you must use the workaround you provided.

[2021-09-06 14:20] dmitry-semenov commented on #1680
Don't have answer to the processes question yet, but we were able to capture repro video, can I get your contact to share it without posting it here as it contain our customer's data?

[2021-09-06 16:25] jak-hammond commented on #2008
Hi @exextoc unfortunately, checking the `item.start` was no good for us as it seems to be only present when the item is in read mode, but we need to access this information during a message composition.

[2021-09-06 23:42] garysharp commented on #2055
## Resolution
It seems that some new functionality in Outlook was being gradually rolled out. The team were able to identify the cause and revert the roll out centrally. This should have come into effect on or about Wednesday 2021-09-01 3:30am UTC (1:30pm AEST, 3:30pm NZST). Users restarted Outlook for the change to be applied.
Thanks for providing support @SylvaD-MS, @croicu and team.

[2021-09-06 23:42] #2055 closed, assigned to croicu, exextoc, SylvaD-MS

[2021-09-07 01:20] qinliuMSFT commented on #2103
Thanks @tillkaemmerer for logging this issue. The issue is reproducible form our end, and has been put on our backlog VSO#5398128, will let you know once we have any updates.

[2021-09-07 02:15] benmcinerney commented on #2088
Hey @AbidRahman-MSFT , @shaofengzhu,

I have made significant changes to the Issue statement above, now supplying you with the Word document to test on, and my ScriptLab snippet (YAML) for you to directly test against.

In the **Run Tests** section, you will see the issue manifesting itself.
This is the same behaviour that I was experiencing with updating single node  values - whereas this new cod

[2021-09-07 02:23] yuc014 commented on #2097
Hi @harri-rajala-koivu-solutions, let me explain why the behavior changed.
From this issue: https://github.com/OfficeDev/office-js/issues/1916, we realized the behavior is not constant on PC and Web (Web is ok).
After change, PC and Web have same behavior. So your issue should also repro on web, it's better if you help us confirm that.
Now we continues investigate the root cause, and I will let yo

[2021-09-07 02:37] grangeryy commented on #2085
@lbourda , sorry for replying late. Current HYPERLINK function seems does not support to take a custom formula if you refer to [THIS](https://support.microsoft.com/en-us/office/hyperlink-function-333c7ce6-c5ae-4164-9c47-7de9b76f577f). May I know more details about your scenario? You may also provide us the sample workbook to help us understand the requirement. THX!

[2021-09-07 06:40] harri-rajala-koivu-solutions commented on #2097
Hi @yuc014 and @guliums
I can confirm that I can repro the issue on Web (Build 16.0.14501.31875).

I have created issue #1916 you are referring to. Actually, I have created 3 issues (#1916, #2093, and #2097) that are all somehow related to the same thing. As a developer, I want that my code works as I have written that. If I put data to Excel table using Excel JS, I want that it really goes to Exc

[2021-09-07 08:09] s-pilkhwal opened #2104 "Add-ins not showing up on Android/iOS web browsers"
Outlook add-ins are missing on Android/iOS web browsers

* Platform : Mobile Phones (Android / iOS)
* Host : Outlook
* Office version number: latest (outlook.com)
* Operating System: Android, iOS
* Browser (if using Office on the web): Chrome, Safari, Brave, Firefox

## Expected behavior
Installed add-ins list should be displayed and add-in should work as expected

## Current behavior
Installed ad

[2021-09-07 10:37] MiaofeiWang commented on #1688
@alexuaua sorry to know that. But I tried your gist https://gist.github.com/alexuaua/6404d44ea6c496a5e2b2faac3747ef73 on Excel Online and below is the result which is same with that on Excel Windows.
![image](https://user-images.githubusercontent.com/28795134/132330522-6daf6004-1a7a-40dd-adbf-fdf327c95671.png)

Could you provide more information about the error you meet?

[2021-09-07 13:47] DmitryKostochko commented on #2077
Thank you and please keep us informed!

[2021-09-07 15:26] ikexq commented on #2099
Thanks, done. Incident ID is E5P2UTZA

[2021-09-07 17:57] lynneosmith commented on #1840
@jipinshi The shape is no longer jumping, however the problem with the text that Tim describes is still there. I see it on the web client only. The text displays the ending part of the text string. On the desktop Excel client, the text correctly displays the beginning of the text string.

[2021-09-07 18:08] #2080 closed, assigned to AbidRahman-MSFT

[2021-09-07 19:09] davidchesnut commented on #2016
Sorry about that. So when using IIS as the server, you get the error: "Host may not have set any promise continuation callback". And only on Excel on Windows. it does work on Excel on the web. But if you switch the server to Node.js, it starts working on Excel on Windows. And it also works on Excel on the web.

The only other thing I can think of is to try changing the GUID id in the manifest to a

[2021-09-07 20:00] ghost commented on #2042
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-07 20:00] #2042 closed, assigned to exextoc

[2021-09-07 20:00] ghost commented on #2023
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-07 20:00] #2023 closed, assigned to croicu, exextoc, SylvaD-MS

[2021-09-07 20:00] ghost commented on #1821
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-07 20:00] #1821 closed, assigned to exextoc

[2021-09-07 20:00] ghost commented on #349
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-07 20:00] #349 closed, assigned to exextoc

[2021-09-07 21:00] ghost commented on #2079
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-07 21:00] ghost commented on #2076
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-07 21:00] ghost commented on #1646
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-07 21:43] gitcnd commented on #2079
OK - never mind the time zones.  When will the name/email mixup be fixed ?

[2021-09-07 22:58] robert-gavrila commented on #1680
rgavrila@microsoft.com

[2021-09-07 23:02] ElizabethSamuel-MSFT commented on #2101
@gitcnd Thanks for raising this.

@exextoc Can you take a look?

Thanks.

[2021-09-08 01:20] xiaochunms commented on #2012
Hi @wh1t3cAt1k how about we set back a little bit? Your original question is to expect custom functions not calculating when add-in is loaded. I think custom functions is not calculated excepted the cases I listed above. Could you please share the workbook and project you are working on and I can have a further look on your issue? And furthermore, if there is recalc triggered, I think not all cust

[2021-09-08 01:26] JuaneloJuanelo commented on #2089
@Tomer-Priel Sorry about this. this was effectively a breaking change, the team is working with high priority  on a fix (that only requires a change on the JS library) that will still allow the Boolean parameter to avoid breaking, however at some point we will deprecate it so we recommend you to pass a string, that's the best solution long term.