[2021-12-05 14:16] eneoli commented on #1801
The issue still exists and happens even, if the addin is not open.

So opening a mail, waiting 10 minutes and than executing a addin command results in the error

[2021-12-05 14:57] Arvini92 commented on #1824
Yes, have the same issue. For me, it begins with new office UI update. For old version, it works fine. https://github.com/OfficeDev/office-js/issues/2280 https://stackoverflow.com/questions/70154239/word-addin-truncates-the-url-that-we-pass-to-sourcelocation

[2021-12-05 19:48] milankonir commented on #2277
We are reaching out to some of our affected users to see if we can collect the powerlift logs. I'll post here once I have an update.

[2021-12-05 21:00] ghost commented on #2286
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-05 21:00] ghost commented on #2213
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-06 15:26] barclayadam commented on #2286
I'm using "Microsoft® Outlook® for Microsoft 365 MSO (Version 2110 Build 16.0.14527.20234) 32-bit".

I cannot see that build being available on beta channel or otherwise so cannot test it out. Is it right that the method to even try to test for support will not be available at all in earlier versions?

[2021-12-06 18:18] AbidRahman-MSFT commented on #2279
Hey @hengchengfei - this is currently a limitation of the API. Please try the following workaround to populate table values using the 1.0 API set, this should greatly improve performance:

[code]

[2021-12-06 18:57] AbidRahman-MSFT commented on #2146
Hey @pb-jeff-oneill - there's nothing in the manifest that would be causing issues with loading add-in resources. Please continue to encourage your customers to send a frown whenever the issue occurs and we will continue to investigate. If you are able to get a consistent repro for this issue, also let us know and we will try to reproduce it and investigate further.

[2021-12-06 19:54] jargil commented on #2288
@ppagadala - thanks for reporting this. Could you please provide a working sample we can use to reproduce and investigate? Preferably a gist we can put into Script Lab. Thank you.

If you try the same using Excel Web under Safari, are you able to reproduce the same?

[2021-12-06 20:52] preethikakiru commented on #2287
Hi @timbeese, thanks for bringing attention to this issue! I'm currently looking into it and will come back with my findings soon.
Thanks!
Best,
Preethika

[2021-12-06 20:59] preethikakiru commented on #2287
@timbeese Would it be possible for you to share a screen recording of this scenario on Excel Online?

[2021-12-06 22:47] exextoc commented on #839
If you have multiple add-in ids, you will probably need to implement this using the second option: "the add-in can also use a parameter and include the guid in the add-in’s entry point URL to retrieve the guid."

You can pass the add-in guid that is defined in the manifest as a query parameter in the add-in entry point URL (defined in the same manifest). Then, you can read the query parameter in t

[2021-12-07 00:00] ghost commented on #2272
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-07 04:43] xiaoyuMS commented on #2217
Hi, @sureshjoshi
Thanks for waiting. This fix has reached the production ring, please have a try~

[2021-12-07 04:46] chiz-ms commented on #2216
The team has reported that the issue has been fixed in code and the fix is currently in the release process. We'll come back to this thread when it is publicly available.

[2021-12-07 04:50] sureshjoshi commented on #2217
Thanks @xiaoyuMS!

I'll test it out in a couple of days.

[2021-12-07 04:50] sureshjoshi commented on #2216
Thanks @chiz-ms !

[2021-12-07 05:53] xiaoyuMS commented on #2216
Some information about this fix for @sureshjoshi .

The focus won't be shifted when you call getRange().

For insertfootnote(), we added an optional parameter called "keepCurrentFocus: boolean" to decide whether to keep the current focus.
The default value is false which indicates that the footnote editor will be opened and the focus will be shifted to the editor.

You can set it true which indica

[2021-12-07 07:12] jonathanhotono opened #2289 "Office AddIn stops working on word online"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Word Online only
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: Office Online
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome, edge

## Expected behavior
Office add-in should work on both word online and desktop.

## Current behavior
All office add-in stops working on wor

[2021-12-07 07:26] sztukiecki opened #2290 "Pin doesn't work in Outlook for events invitations"
# Provide required information needed to triage your issue

## Your Environment

* Platform: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2102 (13801.21050)
* Operating System: Windows

## Expected behavior
Pin works contentiously for every type of message.

## Current behavior
Pin doesn't work in Outlook Desktop App for event invitations. It works for all ot

[2021-12-07 10:43] SorinMiron commented on #1273
Any news about this issue? I'm struggling rn with that

[2021-12-07 10:59] dgtllion commented on #1904
I see why it didnt works in my case.
It will give unexpected results if you dont add `hdr.select()`

In my case if i only want to `clear()` the data in header section (without selecting it) it will give multiple references.
Example:
[code]

[2021-12-07 11:23] barclayadam commented on #1861
We had ignored the .well-known JSON file returning 404 until now. Adding that to return a simple empty file containing `{}` only does not help to improve our situation.

We have got to a point of being able to run our test script to see this working for hundreds of times (typically > 600), but it will still eventually fail in the ways described above.

@exextoc we have seen the process `msoadfsb.e

[2021-12-07 11:28] barclayadam commented on #2211
Hi @exextoc

I was following up to see if there is any movement on the feature request you mentioned, 5256718? In addition is there any potential for changes / bug fixes as discussed above that could, even without a full event implementation, potentially allow us to have workarounds continue to work (i.e. do not kill the add-in, or run the OnMessageCompose event again as Outlook seems to treat cha

[2021-12-07 12:25] thowoi opened #2291 "Empty attachment id if mail is digitally signed in Outlook desktop"
On Outlook desktop `window.Office.context.mailbox.item.attachments` returns an array of attachments with empty ids and zero size:

[code]
Note: Outlook Online works as expected with digitally signed mails.

## Expected Behavior

Attachment id should be present in `window.Office.context.mailbox.item.attachments` array.

## Current Behavior

Attachment id is an empty string ""

## Steps to Reproduce

[2021-12-07 13:30] dgtllion opened #2292 "Add functionality to set LinkToPrevious to Word Header/Footer sections"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi Office.js team,

Is it possible to add functionality to set the "Link To Previous" to header/footer sections?

I see that it is possible in Office VBA but not in Office.js see link

[2021-12-07 13:48] svdsande commented on #2228
@AbidRahman-MSFT Is there something I can further clarify or something I can help you guys with?

[2021-12-07 13:56] sureshjoshi commented on #2217
@chiz-ms @xiaoyuMS

Awesome, it works! Confirmed that using all of the buttons generate the same footnote content result.

Thanks!

[2021-12-07 13:57] sureshjoshi commented on #2216
Thanks @xiaoyuMS - I'll test it out when it reaches production

[2021-12-07 15:11] emmanuelpineda commented on #2255
I have received reports that the error has returned, although it is not generalized, I received the report from a user in Canada, could you please check it out?

[2021-12-07 15:55] yusufsamsum commented on #1771
Is the bug resolved? Also, is there anyone who come up with a work around or a solution for that bug? Thank you.

[2021-12-07 17:40] ThangaSperumal opened #2293 "Office JS – Excel Add-In Ribbon doesn't show in the toolbar after inserting our Excel Add-in (Stratum Excel Connector) from Office Store."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

Our Add-in for excel (Office JS Add-In) which is inserted/downloaded from Office store (Stratum Excel Connector) does not w

[2021-12-07 20:52] timbeese commented on #2287
![focus-issue](https://user-images.githubusercontent.com/16708768/145104106-6bd5a29e-a6fa-441c-92f2-d645c81e1ccf.gif)

When the selection is on a shape that our add-in inserted into the worksheet, we enable a couple of buttons on the ribbon (Update / Find Selection).  When we set focus over to our task pane, the selected shape in the worksheet becomes unselected, and the new selected cell is the l

[2021-12-07 20:57] lucas-gismondi opened #2294 "Excel: RichText support"
Hi there, are there any plans to support RichText in the Excel API? As of right now it looks like I can only set formatting for the entire cell and not specific pieces of text within the cell. Thank you!

[2021-12-08 00:00] ghost commented on #2261
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-08 04:50] chanhohang commented on #2267
@jiju-MS

thank you so much for your reply and suggestion. deploying the resources localhost is part of the "mandatory" requirement for our solution.

So it will be great if Excel can handle better the connection loss to add-in resources.

[2021-12-08 05:00] ghost commented on #2271
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-12-08 05:00] #2271 closed, assigned to exextoc

[2021-12-08 07:30] chiz-ms commented on #2292
Thank you for proposing this feature request. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please see if your feature has already been requested or post a new request there.

[2021-12-08 07:35] chiz-ms commented on #2294
Thank you for proposing this feature request. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please see if your feature has already been requested or post a new request there.

[2021-12-08 07:36] dgtllion commented on #2292
Hi @chiz-ms,

I've looked there but there is nothing to find about that.
Do i need to add a request there?

[2021-12-08 07:39] chiz-ms commented on #2292
Hi @dgtllion, please feel free to post a new request there for your feature.

[2021-12-08 13:28] milankonir opened #2295 "Office.context.mailbox.item undefined when switching between inline replies with pinned task pane"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Microsoft 365 MSO (Version 2110 Build 16.0.14527.20234) 32-bit
* Operating System: Windows 10
* Browser (if using Office on the web): N/A

## Expected behavior

The `Office.context.

[2021-12-08 14:41] lucas-gismondi commented on #2294
done! https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/richtext-support-excel-js-api/idi-p/3033874#M531

[2021-12-08 19:12] meghan-mcqueeney commented on #1660
Hi there. I'm a co-worker of @wsoccorsi-yw and noticing this issue with another customer. I am attaching some screenshots showing this user's setup if it might be helpful:
![image (4)](https://user-images.githubusercontent.com/3697294/145269340-f9da8fd9-c9ba-4c71-b325-0efe333528c9.png)
![image (5)](https://user-images.githubusercontent.com/3697294/145269377-6c99a6be-a792-47dc-8470-9f7a3bfb1b97.png

[2021-12-08 20:17] JensMadsen commented on #1245
@aldvintumbelaka You write: "What I notice is, I can only see the add-ins if sync profile is turned off." Where do you set "sync profile"?

[2021-12-08 21:23] preethikakiru commented on #2287
Another quick question, for the above scenario what would the ideal behavior be?

[2021-12-08 21:29] timbeese commented on #2287
The ideal behavior would be that when we set the focus to an item in the taskpane that it would remain focused.  I understand if we do something to activate a sheet or select a cell that focus will go to the worksheet.  But simply changing the enabled state of the ribbon should not cause the focus to change.

[2021-12-08 23:00] ghost commented on #2213
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-12-08 23:00] #2213 closed, assigned to exextoc

[2021-12-08 23:45] atsopuronen commented on #2278
Have you attempted to insert the manifest URL with or without "https://" in the beginning?
At least at one point the empty URL field contained "https://", suggesting you shouldn't include that part in your copy-paste. Adding the manifest URL without "https://" resulted in an identical error for me.

[2021-12-08 23:46] milankonir commented on #2295
We have found out that the when going through this scenario the `ItemChanged` triggers twice:

First time when user leaves inline reply of the first email - `Office.context.mailbox.item` is null at that point
Second time when user enters the inline reply of the second email - `Office.context.mailbox.item` is defined at that point.

I don't know if it is intentional to trigger `ItemChanged` event w

[2021-12-09 00:06] atsopuronen commented on #2233
If I understood correctly, your Task pane is opening in a separate (default browser (window) instead of within Outlook window?

One of our customers had a similar problem, and it was caused by Zscaler's web app authentication. See below our internal notes about the case. I have replaced our domain details with "Contoso":

We also had another similar case in our archives, although we never were abl

[2021-12-09 00:32] atsopuronen commented on #2219
@gummybuns based on the affected user's Office version and Windows version, I agree with you that Office add-ins on that computer should be running in Edge WebView (not IE or WebView2).
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

But is it possible WebView runtime is not available on the computer, so add-in loading goes to a limbo since it can'

[2021-12-09 01:34] waveheart opened #2296 "How to set Word lineSpacing in (real) points ?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I set linespacing in what the  documents write, but the fact is the paragraph's linespacing is set by grid unit, not by points
i found this in [documents](https://docs.microsoft.com/z

[2021-12-09 03:04] robert-gavrila commented on #1680
We were not able to find much using the Session IDs provided, I think we will need an ULS log [Enable Microsoft 365 Apps for enterprise ULS logging for random issues - Office 365 | Microsoft Docs](https://docs.microsoft.com/en-us/office365/troubleshoot/diagnostic-logs/collect-office-diagnostic-logs) or an iDNA trace from the customer [Recording Time Travel Traces - OSG Wiki](https://www.osgwiki.co

[2021-12-09 06:47] chiz-ms commented on #2293
Thank you for reporting this issue. @croicu could you take a look and see who should be the best contact for this? It looks related to activation or downloading from catalog.

[2021-12-09 07:16] alettieri commented on #1868
I ran into this today as well. My issue is that the session token won't persist across the dialog, which is used to authenticate a session, and the  taskpane.

[2021-12-09 07:49] somenathmaji opened #2297 "Attachment contentType isn't properly set for XLSX file"
## Client's Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.13801.21050
* Operating System: Windows 10 19043.1348
* Browser (if using Office on the web): N/A

## Expected behavior
ContentType should be properly set.

## Current behavior
ContentType is undefined for an attachment with `.XLSX`

[2021-12-09 08:10] tobiasviehweger commented on #2233
That is very good feedback @atsopuronen - thanks. It would make sense, since that probably breaks the AddDomains list, which validates the intercepted URL and then decides it needs to open this outside Outlook.

[2021-12-09 08:21] wilcotroost commented on #2213
We are using the online version of Outlook as part of a paid Office365 business subscription. I presume that Outlook.com is the personal variant of this. Is this presumption incorrect?

@exextoc Any news on the progress of the intellisense fix?

In my [github discussion](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/29771) regarding this matter it is mentioned that this feature is stil

[2021-12-09 09:08] chiz-ms commented on #2296
Thank you for reporting this issue regarding `Paragraph.lineSpacing` API. The behavior inconsistency with documentation is confirmed and tracked in our backlog as ADO#5649619. Regarding the feature request to support setting line spacing in points, please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or r

[2021-12-09 09:54] abdulkareemnalband opened #2298 "OfficeRuntime.auth.getAccessToken() is failing"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
We have an issue with our SSO implementation for our Word and Outlook add-in.

We have updated our Application manifest as i

[2021-12-09 14:28] alettieri commented on #2140
I wonder if this is related to #1868.

I had the same issue and ended up turning off the debug flag. Which solved my use case.

[2021-12-09 14:28] theboyknowsclass opened #2299 "Powerpoint document.settings not persisting between desktop and online versions within an addin."
Hi this could be similar to https://github.com/OfficeDev/office-js/issues/1585

We have an addin, where we save to the document settings using Office.context.document.settings.set (followed by Office.context.document.settings.saveAsync()).

This seems fine when persisting between sessions within Desktop, and within Online.

but if I save a document on the desktop,  when I go to PowerPoint online t

[2021-12-09 14:33] alettieri commented on #1868
I ended up disabling the debugger using:

[code]

 followed by:

[code]

 This ended up solving my use case, I could still use the `Inspect` tool to debug my way through the app.

 This is what's in my package.json file, which is used by the `office-addin-dev-settings` command:

[code]

[2021-12-09 14:45] carlosb1504 commented on #1861
How about having the .well-known call return a file with the launch event js URL as per the docs? I'm still seeing this issue and can reliably reproduce fixing it by serving this file. It's important to clear that 'Wef' folder on the machine with Outlook closed to force Outlook to re-attempt to retrieve your js files, as it's doing some internal caching which can mask the problem

[2021-12-09 14:57] beatrixmorar commented on #1868
@alettieri your solution seems to work for me as well.

Starting dev server and the sideloading the add-in using `npx office-addin-dev-settings sideload <path_to_manifest>` did the trick (for me, debugging was already disabled).

For the record, I used in general the  `office-addin-debugging start manifest.xml` to sideload my add-in and then always encountered the problem described in this issue.

[2021-12-09 15:01] beatrixmorar commented on #2140
@alettieri Thanks for the hint.

Just for others following this thread: please have a look at @alettieri 's comment on #1868

[2021-12-09 16:40] carlosb1504 opened #2300 "Office.context.mailbox.item.sessionData only available in beta library, doesn't persist between launch events and taskpane"
# Provide required information needed to triage your issue

 Office.context.mailbox.item.sessionData which was advertised as becoming GA in the [Outlook 1.11 requirement set](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.11/outlook-requirement-set-1.11). Seems to first of all only available in the beta version of the office.js library, and also doesn't

[2021-12-09 17:01] eran-levy commented on #2278
As far as I know @atsopuronen , just checked it now - the field includes the https:// in the beginning as a pattern. I just checked and the error still happens and we are not pasting the "https" twice

[2021-12-09 17:28] JuaneloJuanelo commented on #2300
thanks for reporting this Carl, there might be delay on fully releasing the feature.

i think you are reporting 2 aspects on this email.

1. Can you please verify the latest build you have?  16.14701.20226 is the latest for win32 and you seemed not to be on it.
2. you mention data persisted with  sessionData  is not available for both taskpane and js runtime, i am assuming this a behavior you are

[2021-12-10 00:20] joshuayuen99 opened #2301 "[Outlook] multi-line text sent within <pre> tags being transformed and original <pre> tags are removed"
# Provide required information needed to triage your issue
Multi-line email bodies that are surrounded by a single set of `<pre>` tags are instead transformed into a multi-line email with separate `<pre>` tags surrounding each line of the body. There are now also empty `<o:p>` tags inserted at the end of each line too.

## Your Environment
* Platform: PC desktop
* Host: Outlook
* Office version nu

[2021-12-10 02:00] ghost commented on #2272
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-12-10 02:00] #2272 closed, assigned to exextoc

[2021-12-10 03:09] chiz-ms commented on #2299
Hi @theboyknowsclass, thanks for reporting this issue. Do you have a pptx file that could consistently repro this issue? It would be helpful if you could share a test file containing such saved settings (but no sensitive data) to help us investigate this issue.

[2021-12-10 07:33] RuoyingLiang commented on #2298
Thanks for reaching us. @mattgeim could you help to take a look this SSO question?

[2021-12-10 08:47] SWei1234 commented on #2264
Hi @exextoc
I will close this ticket now. If any update please reopen this ticket or send me a message here.
Thanks

[2021-12-10 08:47] #2264 closed, assigned to nobody

[2021-12-10 08:53] atsopuronen commented on #2278
Sorry for ambiguity in my last post. I meant:
Make sure the manifest URL you paste into the field DOES include "https://".

[2021-12-10 09:41] thoriyadaxesh commented on #2261
Here is my scenario.
We are not reading any outlook mail data so we have keep permission level as "Restricted". We have button on ribbon when user clicks on, it should open default browser and open website.

[2021-12-10 09:59] milankonir opened #2302 "Event activation capability vs DefaultMinVersion"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.13801.21050
* Operating System: Windows 10
* Browser (if using Office on the web): N/A

## Expected behavior

Add-in that contains `<ExtensionPoint xsi:type="LaunchEvent">` sho

[2021-12-10 10:58] carlosb1504 commented on #2300
Hi,

1. 16.0.14701.20204 was the latest available to me on the current channel as of yesterday. Having checked this morning there is indeed an update to 14701.20226 which I have tried and the behaviour appears to be the same.
2. The Outlook build is the current channel, however I mentioned that the SessionData API appeared to be unavailable at all using the `https://appsforoffice.microsoft.com/lib

[2021-12-10 12:37] DmitryKostochko opened #2303 "Outlook Desktop, link title is broken after sending emails"
In an Outlook add-in for compose mode, we use the Office.context.mailbox.item.body.setSelectedDataAsync() method to place HTML markup into the body of an email being composed. If HTML contains a link with the title attribute, the title looks broken in incoming/received emails.

## Your Environment
* Platform: PC desktop, Office on the web
* Host: Outlook
* Office version number: 2011 (Build 14701.

[2021-12-10 18:16] trigurl commented on #2293
Hello, can you please try a later build of Excel 64 bit.  The documentation says Add-in Commands requires build 16.0.6769+
https://docs.microsoft.com/en-us/office/dev/add-ins/design/add-in-commands#command-capabilities

Thanks Angela

[2021-12-10 18:16] trigurl commented on #2293
Hello, can you please try a later build of Excel 64 bit. The documentation says Add-in Commands requires build 16.0.6769+
https://docs.microsoft.com/en-us/office/dev/add-ins/design/add-in-commands#command-capabilities

Thanks Angela

[2021-12-10 19:23] ThangaSperumal commented on #2293
Hello Angela,

Thanks for your update.  This issue is happening only on Excel 2016 64 bit version and work fine on Office 2019 and Office 365 subscriptions.  I did some search looking for the Excel 2016 64 bit latest build but could not find the exact build/version number. Do you know the latest build number for the Excel 2016 64 bit version that I can upgrade to?

Thanks,
Thanga

From: Angela ***

[2021-12-10 20:16] trigurl commented on #2293
Hello, the article I sent you above has this:
Basically, make sure the digits after the 16.0 are > 6769.  The Excel 64 bit version you were using is 5239 so that is an older unsupported build.   Add-in Commands was introduced around that time frame, so verify the build.  The 32 bit Excel you said you were using build 14527, so that build is newer.

**Supported platforms**
Add-in commands are curre

[2021-12-11 04:55] Shujee opened #2304 "Office.js can't even import its own generated OOXML"
I haven't been able to make Office.js import my OOXML content. I was trying to follow instructions from the [official documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/word/create-better-add-ins-for-word-with-office-open-xml). My OOXML injects an image in the primary header of the document. Whenever I run the following line:

`context.document.body.insertOoxml(myOOXML, Word.Insert

[2021-12-12 12:49] hengchengfei commented on #2279
@AbidRahman-MSFT
Thank you.

I tried but it taked more time.

[2021-12-13 01:22] neville-jones opened #2305 "Firefox 95 failing to fetch Office.js due to HTTPS OCSP error"
This issue is related to how Office.js is being served up in the CDN that is causing an error in Firefox's handling of the OCSP response. This is resulting in Firefox not loading Office.js and hence Office web add-ins being inoperable in that browser.

## Your Environment

* Platform: Office on the web
* Host: Outlook, but would affect all when used in Firefox browser
* Operating System: Windows 1

[2021-12-13 01:47] exextoc commented on #2286
Build 16.0.14729.10000 is the base build for the November release, which should be rolled out to the Beta Channel very soon. We are working on implementing this fix for previous builds (up to the September 2021 release).

[2021-12-13 02:53] exextoc commented on #2290
The link to the live example didn't work for me. Can you send a publicly accessible link or attach the video if there are no privacy concerns? I just tried this on a recent build of Outlook and it works fine for me.

[2021-12-13 03:16] exextoc commented on #1592
Unfortunately, this has not been picked up yet. But work is expected to start on it soon.

[2021-12-13 03:21] exextoc commented on #2291
Thanks for reporting this issue.
We are aware of this behavior, however, we don't have any timelines to share regarding it.
Internal tracking id : Office 4714964.

[2021-12-13 03:27] exextoc commented on #2295
I believe this is the default behavior in Desktop Outlook, for which we have documented a guideline to always check for null before doing any work in the `ItemChanged` event handler, on this [page](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/pinnable-taskpane).

![image](https://user-images.githubusercontent.com/28549921/145747779-4e642cfd-9577-4563-aad3-4dceddc0f0fb.png)

However,

[2021-12-13 03:44] exextoc commented on #2300
We have fixed this issue internally and are working on applying the fix to previous builds.
Internal tracking bug : Office 5654146.

[2021-12-13 03:54] exextoc commented on #2301
In Desktop Outlook, we use Word underneath the covers to render emails. This means that we do not have control of how the email will be formatted. In general, Word will modify the HTML to optimize it for rendering, which is most-likely what is happening in your case.

We also have documentation line about the behavior `Office.context.mailbox.item.body` APIs. In general, `setAsync` and `getAsync` a

[2021-12-13 04:01] exextoc commented on #2302
Thanks for reporting this.
The Event-Based Activation should not impact the taskpane. Does your add-in work when you remove the Event-Based Activation elements from the manifest?

Also, when the add-in fails to load, what error message do you get?
Do you have a manifest you can share with us assuming there are no privacy concerns at the moment?

[2021-12-13 04:18] exextoc commented on #2303
Thanks for reporting this.
I am able to reproduce this issue. The presence of the `target` attribute of the `a` element results in an extra `t` in the formatted HTML.

Desktop Outlook uses Word for formatting and processing HTML. And Word will sometimes modify the HTML for better rendering. That modification could be the reason for this issue.

Here's the modified HTML after I tried your scenario,

[2021-12-13 05:22] exextoc commented on #2297
Thanks for reporting this issue.
I can reproduce this issue so I have created a product bug for it. At the moment, we don't have any timelines to share about this bug.

Internal tracking bug : Office 5657412

[2021-12-13 07:48] jennacui commented on #2305
@madhavagrawal17 I'm not sure who is responsible for the add-in lifecycle. Could you please take a look and if you have the contact this issue should be assigned to? Thanks!

[2021-12-13 07:53] milankonir commented on #2295
Thanks for linking the docs, as suggested, we now check for the presence of Item in the change handler.

[2021-12-13 07:53] #2295 closed, assigned to exextoc

[2021-12-13 08:07] sztukiecki commented on #2290
[video.zip](https://github.com/OfficeDev/office-js/files/7701989/video.zip)

[2021-12-13 08:18] milankonir commented on #2302
We have verified, that removing the Event-Based Activation from the manifest fixes the problem. There is no error displayed to user, the task pane just remains blank.

We have limited debugging capability as our dev boxes are on latest Microsoft 365 clients and we have only seen the problem impacting our customers. Debugging with customers is tricky as they are on legacy Edge WebView that requires

[2021-12-13 08:50] exextoc commented on #2256
@markb-trustifi the error you are receiving also indicates that the total size of the roaming settings for the account you are using is greater than the limit of 32 KB characters.

This means that length of the serialized form of the new settings you are adding + the length of the serialized form of already existing settings is greater than 32 * 1024 characters.

Try debugging your add-in by using

[2021-12-13 09:09] exextoc commented on #2233
@tobiasviehweger to share screenshots / videos privately with us, please create a private GitHub repo and @-mention exextoc so that we can access it.

Does the information from @atsopuronen help you here?

[2021-12-13 09:24] markb-trustifi commented on #2256
Thank you for this answer. I'll implement it.

[2021-12-13 09:28] exextoc commented on #2211
We are currently reviewing this scenario to determine the right approach(es) here. There are multiple cases that we have to consider, and what you mentioned above regarding choosing the same email address is definitely one of them.

[2021-12-13 09:34] exextoc commented on #1861
@carlosb1504, thanks for your input here.

@barclayadam when msoadfsb.exe crashes, can you check the Windows Event Viewer for crash reports to confirm this?

[2021-12-13 10:42] theboyknowsclass commented on #2299
hi @chiz-ms thanks for the quick response.

Here is a file created in our add-in in ppt desktop ->
[Shoe Presentation - Saved in Desktop.pptx](https://github.com/OfficeDev/office-js/files/7703033/Shoe.Presentation.-.Saved.in.Desktop.pptx)

The metadata is readable only in the Desktop Add-in

This is a file created in the same add-in in ppt online ->
[Shoe Presentation - Saved Online.pptx](https://

[2021-12-13 10:52] theboyknowsclass commented on #2299
looking at the webextension1.xml in the .zip, could it be that the powerpoint online is checking for more than the just the 'id' and is also looking at 'store' and 'storeType'?

[2021-12-13 13:00] jimmy-1990 commented on #2305
I can confirm that I am having the same problem trying to access portal.office.com this morning in Firefox.

[2021-12-13 13:41] Kronenberg commented on #2278
Here is example of our URL -> https://user.company-name.cloud/inbox-security/outlook/addin/cis-manifest.xml

[2021-12-13 16:56] westconference opened #2306 "Contextual add-ins failing to load page when clicked in OWA O365"
Contextual Outlook add-in using a regular expression is failing to launch view when clicking highlighted text in OWA. An error is output to the developer console indicating a problem with manifest caching.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: OWA when viewed in Firefox, Chrome on both Mac and Windows.
* Host [Excel, Word, PowerPoint, etc.]: Outlook OWA Office

[2021-12-13 17:46] cespujunk66 commented on #2275
Same problem here!

[2021-12-13 19:24] aranapatona commented on #2305
trying to download visual studio community edition, just couldn' t connect,:
_**Error code: MOZILLA_PKIX_ERROR_OCSP_RESPONSE_FOR_CERT_MISSING**_

was surprised that finally a bug hits me and not someone else.
 https://visualstudio.microsoft.com/vs/community/

[2021-12-13 19:52] exextoc commented on #2302
To send us your manifest, please create a private repo in GitHub, at-mention exextoc and we will be able to access it and check your manifest.

Just to clarify, it seems that your customers are able to reproduce this issue, and they are using the legacy Edge WebView for running add-ins. So, for the environment you provided earlier on for this issue (Office version number = 16.0.13801.21050 and Ope

[2021-12-13 20:11] lwaltman opened #2307 "General Exception in Word Javascript API when adding New List Item in New Paragraph"
## General Summary
Open a word document and create a new numbered list, such as:

1. Item 1
2. Item 2
3. Item 3

Select and delete text in the second element, and click a button which triggers the following function using the Word Javascript API:

[code]
Result: The new paragraph is added. However, adding the new list item triggers the following exception:

[code]
Another issue is that the API has

[2021-12-13 20:26] neville-jones commented on #2305
Problem not replicated today so something seems to have been fixed - can access https://appsforoffice.microsoft.com/lib/1/hosted/office.js and https://portal.office.com and Office web add-ins are operational.

[2021-12-13 20:27] milankonir commented on #2302
I have published the manifest into https://github.com/milankonir/office-manifest and gave you access if you still need it altho you have a repro.

The Office and Windows version provided in the issue description are from our impacted customer (where the issue is reproducible). They are indeed on the legacy Edge WebView.

Our work around for the time being is that we also distribute an alternative

[2021-12-13 23:39] yihuax-msft commented on #2304
@Shujee, What is the real source code you used? What is the error message? You put a picture in the header, but you are still reading and writing the main document. So your picture is not used at all.

[2021-12-14 01:36] exextoc commented on #2297
After internal discussion, this issue won't be fixed. (this API Value will eventually be deprecated). In our current documentation:

https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentdetails?view=outlook-js-preview#contentType

Note the comment:

Important: While the contentType value is a direct lookup of the attachment's extension, the internal mapping isn't actively maint

[2021-12-14 01:53] exextoc commented on #1660
I unfortunately don't think this is actionable without a specific repro that is showing the issue (see previous responses). i.e. ideally there would be a scriptlab gist that could be shared and reproduce the issue. (or at least do so consistently on a specific machine) to help us identify what may be causing the issue.

[2021-12-14 01:59] exextoc commented on #2303
This issue was found to involve another product team that owned the code. After careful consideration, it was decided to not fix this issue in the short term. We recommend you to upvote or create a new  [Tech Community](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) item, this will give us visibility of the commonality of it and will he

[2021-12-14 01:59] #2303 closed, assigned to exextoc

[2021-12-14 02:08] exextoc commented on #2290
I sync'ed the version of Outlook that your reported. And this works for me:

![image](https://user-images.githubusercontent.com/28549921/145919665-6eabcd33-c5b0-43fe-8e87-7c57922705c7.png)

(Other developers on the team tried with more recent builds of Outlook, and it also worked)

Do you have anything else installed on your machine that may cause this? Perhaps, A COM add-in that has a custom form

[2021-12-14 02:13] exextoc commented on #2261
This is going through an internal security review on whether or not this API should be allowed at the Restricted level. We will update when there is a decision made.

[2021-12-14 02:24] exextoc commented on #2291
Would also like to add what is your scenario here? Are you trying to download the attachment contents? Or something else?

[2021-12-14 04:40] Shujee commented on #2304
@yihuax Hi, thanks for the input. Answering your questions:

1. Full error message is already there in my original post above.
2. I have shared the minimal steps to reproduce the problem. Basic issue is that `insertOoxml` throws this **GeneralException** even for its own xml, i.e. if you call `getOoxml` function, store its output somewhere and then call `insertOoxml` and supply the store xml to it

[2021-12-14 05:20] somenathmaji commented on #2297
@exextoc Thanks for looking into this. We will use the attachment's extension and process it for types.

[2021-12-14 05:25] exextoc commented on #1801
We are unable to reproduce this issue .Can you please share the repro video and console logs to investigate further?

[2021-12-14 05:50] SWei1234 opened #2308 "[Outlook] 'OnMessageSend ' and 'OnAppointmentSend' was not triggered"
I tried below steps to testing 'OnMessageSend ' and 'OnAppointmentSend' on Outlook application add-in.

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough

But it seems that the event was not triggered.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office versi

[2021-12-14 06:10] exextoc commented on #149
It is in our backlog and unfortunately we do not have a timeline to share as of now.Can you please help us understand what is the impact you are having with this issue

[2021-12-14 06:32] sztukiecki commented on #2290
Thank you for your answer.
I checked out the Script Lab and it works fine.
Then I commented out my `Office.context.mailbox.addHandlerAsync` invocation and I realized that it fixed the issue (I had a bug in `Office.context.mailbox.addHandlerAsync`).
Thanks for help, I'll close this ticket.

[2021-12-14 06:32] #2290 closed, assigned to exextoc

[2021-12-14 07:26] batatg commented on #2278
The thing here is that when we do 'Deploy Add-In' with this URL - it works.
Only when we do 'Update Add-In' - it fails.
When looking at the error in the network, I see that the request to UpdateAddIn returns with status code 200 but with but with ResponseResult "BadRequest" in the body

[2021-12-14 07:52] fiftydegrees commented on #149
Thanks @exextoc for your reply.

In our case, we provide a spellchecking tool; errors found are displayed in a task pane, and the user can click on a suggestion to apply a correction. As there is no API to replace the text at a specific index, or delete a given length at any index, we retrieve the whole text, update it, then re-inject it using `setAsync`. Unfortunately, as some pieces of styles ar

[2021-12-14 08:09] gingerjia commented on #2299
Hi @theboyknowsclass, seems you are already get the root cause :). Yes, if the storeType isn't same, we considered it as different add-in, so cannot reading the setting value from each other. This is by design for security consideration.
Another thing may need your help to confirm is when you repro the scenario, the detail steps are like below?
1. **inserted Add-ins at Desktop and save settings,**

[2021-12-14 08:26] voltagex commented on #2305
Getting this issue with https://www.microsoft.com/en-us/videoplayer/embed/RWNYGZ

[2021-12-14 08:57] theboyknowsclass commented on #2299
Thanks @gingerjia
The issue is that that is not how excel or word behave - metadata seems to be readable regardless of store type

Also a file created in ppt online can be read fine by ppt desktop even though the store types etc are different.

[2021-12-14 09:56] GarryLowther commented on #1874
We are getting the same issue. This is very much a live issue on Windows 10 with Microsoft Edge.
See the attached screenshot from today:
![image](https://user-images.githubusercontent.com/5684253/145975667-f41f8ecb-8b82-45ef-9356-11c91cb812de.png)

[2021-12-14 10:01] GarryLowther commented on #1874
If the user clicks OK quickly and F5, the browser will allow the add-in to work correctly as shown in this screenshot:
![image](https://user-images.githubusercontent.com/5684253/145976466-81bd65cb-ca02-4231-b9ee-8a5a748d624a.png)

[2021-12-14 10:04] GarryLowther commented on #1874
Obviously this reflects badly on us, the software supplier, as customers will conclude that our add-in clearly does not 'play nice' with Outlook.
This is rather unfair as our add-in clearly works correctly, and in fact it is Edge or Windows or Outlook which is causing this problem.

[2021-12-14 10:08] GarryLowther commented on #1874
@lindalu-MSFT and @exextoc are you able to re-open this issue please?

[2021-12-14 11:50] andreas-schoch opened #2309 "getOoxml() steals focus away from modern comments"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# getOoxml() steals focus from modern comments
Using `getOoxml()` to get the ooxml of either the whole document body or for a single range, steals the focus away when user tries to in

[2021-12-14 12:04] lazycipher opened #2310 "Office js is causing issues in MSTeams App initialization"
# Provide required information needed to triage your issue
I've a webapp with ReactJS which has a few screens for outlook while a few for msteams.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___PC desktop___
* Host [Excel, Word, PowerPoint, etc.]: __MSTeams____
* Office version number: __Web Browser____
* Operating System: ___Mac___
* Browser (if using Office on the

[2021-12-14 16:18] gingerjia commented on #2299
Hi @theboyknowsclass I tried at Excel side, it does works even store type not same.
But for a file created in ppt online and then open in desktop to read, this doesn't work for me. For ppt app, no matter from online to desktop, or from desktop to online, both not work due to store type not same. I will compare the logic with Excel side and update to you when have progress.

For your point "Also a

[2021-12-14 16:24] theboyknowsclass commented on #2299
just for moire detail this is my desktop version -> Microsoft® PowerPoint® for Microsoft 365 MSO (Version 2110 Build 16.0.14527.20270) 64-bit

But the steps are as follows:

Load powerpoint online
Upload your addin
Save Metadata to the document and save the document (we're saving to onedrive)

Load powerpoint desktop
Open the document we just saved from onedrive
Load the addin (from a trusted netw

[2021-12-14 16:28] emmanuelpineda commented on #2255
Any update on this error?

[2021-12-14 17:28] mattgeim commented on #2298
@abdulkareemnalband you mentioned that the sideloaded manifest worked fine but not the ones from AppSource.  Is this still the case?

Was this an initial submission to AppSource or an update to enable SSO for an existing listing?

[2021-12-14 18:24] exextoc commented on #1874
Sorry for the inconvenience caused.
It is still a no repro for us.

Does it happen with a specific add-in or all add-ins?
Can you please help us with a sample manifest? It'll really help us understand the issue better.

[2021-12-14 21:39] teamits commented on #2305
Still a problem for me today on https://docs.microsoft.com/exchange/mail-flow-best-practices/non-delivery-reports-in-exchange-online/fix-error-code-550-5-1-0-in-exchange-online but strangely not https://docs.microsoft.com/.  https://partner.microsoft.com/en-us/dashboard/home wasn't working this morning, but is working now.

Edit: the Partner site stopped working at some point after letting me log

[2021-12-15 00:39] ononder commented on #2255
Hello Emmanuel, sorry for my late response, I was out of office and I'm taking a look at this issue today.

I tried to execute this function from a few locations and couldn't reproduce the bug mentioned here. CreatePresentation call worked as expected.

I don't have data to see if there is a datacenter specific issue with an older build, but I would like to double check with you if the issue is st

[2021-12-15 03:11] jlaundry commented on #2305
Firefox bug, currently rated P1 S2: https://bugzilla.mozilla.org/show_bug.cgi?id=966856

[2021-12-15 03:50] els-ts opened #2311 "Word `context.sync` performance issues with 100's of Content Controls"
Our add-in is quite often creating 100's and sometimes 1000's of Content Controls elements across many pages in Word document. We've noticed that general performance suffer proportionally to the number of those elements. Based on the requirements of the text contents we're using either `insertText` or `insertHtml` methods and we've also noticed that the later is causing even worse results that the

[2021-12-15 06:21] gingerjia commented on #2299
@theboyknowsclass thanks very much for the detail info. It's very helpful and I do repro now. I will go on following up the issue and back to you when have result. Thanks!

[2021-12-15 06:46] exextoc commented on #2202
Is Launch Event and Signature API are still not working for you in latest version?? Can you please share the Outlook Mac Version on which you are trying Signature and LaunchEvent ?? Are you in Old UI or New UI of Outlook Mac?? LaunchEvent is in production now ,are you still not seeing it working??If you are still facing the issue ,can you please share the Logs with us(Help-->Collect Diagnostic)??

[2021-12-15 06:54] exextoc commented on #2308
This feature is currently in preview, and only available if you are in the Insiders Fast Channel. (it appears the documentation on the feature may have mistakenly linked to Preview Events, which is not relevant to this feature, I will look into clarifying/fixing this)

Otherwise, if you believe you are in the channel you can provide your manifest to check it over.

[2021-12-15 07:02] chiz-ms commented on #2299
The issue is confirmed and tracked as ADO#5663545 in our backlog.

[2021-12-15 07:46] exextoc commented on #2310
office.js is not intended to be loaded inside a Teams app. Only within Word / Excel / PPT and Outlook add-ins.

What scenario do you need to load Office.Js in your teams app?

[2021-12-15 09:40] dmitry-semenov commented on #1680
@robert-gavrila can we setup a live debugging session with a customer for easier resolution?

[2021-12-15 09:48] SWei1234 commented on #2308
Here is the manifest file please check it.
[manifest.zip](https://github.com/OfficeDev/office-js/files/7718171/manifest.zip)

[2021-12-15 10:52] GarryLowther commented on #1874
Yes of course I can help you diagnose this. Here is the manifest:
https://apex.trisys.co.uk/office/install/OfficeAppManifests/TriSysOutlookWebAddInManifest.xml

This add-in is awaiting update, but here is the listing on the Office Store:
https://appsource.microsoft.com/en-us/product/office/WA200000544?src=office

We are in the UK so we may encounter a few hours delay between our response, but you

[2021-12-15 10:53] GarryLowther commented on #1874
It appears that only our add-in is affected.

[2021-12-15 12:17] ghelyar opened #2312 "Event-based activation does not work from Outlook desktop when hosted on localhost"
# Provide required information needed to triage your issue
Following the event-based activation walkthrough documentation [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch) does not work for Outlook desktop on Windows.

The add-in can be created, and the task pane works, but for event-based activation, Outlook just shows "We're sorry, we couldn't access [My Office Add-i

[2021-12-15 14:19] thowoi commented on #2291
Yes, it's for downloading the attachment contents. We are implementing a custom attachment encryption api.

[2021-12-15 14:39] Krismix1 commented on #1801
Hi, we are also hitting this problem.

I will try later to prepare some better reproduction steps and maybe put together a sample repository.
The issue is happening somewhat consistently for me, e.g. today I had it happen at least 5-7 times.

But just to give some context where/when it happens:

1. I open an email
2. Click the button for the plugin.
3. The plugin opens a dialog and fetches the con

[2021-12-15 16:22] pb-jeff-oneill commented on #2146
I received some very helpful feedback from a customer:

Can you please look into this?

[2021-12-15 18:52] exextoc commented on #2308
To clarify you need to be in Office Insiders: https://insider.office.com/en-us/join/windows
And in the BETA channel, NOT the Current Channel.

[2021-12-15 19:28] madhavagrawal17 commented on #2305
@jennacui, Thank you for reaching out to me. I have contacted the owner team to take a look at this issue.

[2021-12-15 19:45] #2308 closed, assigned to ElizabethSamuel-MSFT

[2021-12-15 19:49] ElizabethSamuel-MSFT commented on #2308
@SWei1234 We've updated the "How to preview" section to clarify about the required channel (PR https://github.com/OfficeDev/office-js-docs-pr/pull/3139). Do give it a try and if you're still facing issues with trying to preview the feature, let us know by opening a new issue or asking us to reactivate this one.

Thanks.

[2021-12-15 20:00] gar3thjon3s opened #2313 "Streaming function does not compile in Javascript add-in, but works in typescript?"
I generated a new custom functions project using the yo office generator, and choose javascript as the language. If I edit the clock function to be (note the matrix string response):

[code]

When I run `npm start` I get a compilation error complaining about the StreamingInvocation signature:

`Invalid type: CustomFunctions.StreamingInvocation (18,12)`

If I generate a new custom functions project

[2021-12-15 20:09] skerr4311 commented on #2202
Hi @exextoc ,
Thanks for getting back to me. I will get that information to you withing the next few hours. My partner is currently using the Mac for work.

Thanks,

[2021-12-15 20:13] exextoc commented on #2290
Glad to hear you resolved it. Note that handling addHandlerAsync for the itemChange event is necessary for pinned add-ins otherwise the item API will not be updated as you change between items.

[2021-12-15 20:16] #2297 closed, assigned to exextoc

[2021-12-15 23:15] skerr4311 commented on #2202
Hi @exextoc,
I have switched to the New UI of outlook on Mac and now the setSignature and LaunchEvents are both working perfectly. Thank you for taking the time to get back to me about this matter. I really appreciate your help!

Thanks,

[2021-12-16 08:21] lazycipher commented on #2310
@exextoc, I've a single web app that I want to use in both Outlook and Teams app.

[2021-12-16 12:08] andreas-schoch opened #2314 "context.document.body.text differs depending on whether revisions are shown as balloon or inline"
User settings influence what `context.document.body.text` returns in a Word add-in.

## Your Environment

* Platform: PC desktop
* Host:  Word
* Office version number: 2111 (Build 14701.20226 Click-to-Run)
* Operating System:  Windows 10 Pro (20H2)

## Expected behavior
No matter whether user has tracked changes displayed as inline or balloons, `context.document.body.text` (or another exposed prop

[2021-12-16 12:29] abdulkareemnalband commented on #2298
An update to enable SSO

[2021-12-16 17:36] exextoc commented on #1874
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-12-16 18:59] exextoc commented on #2310
Office.js isn't intended to be loaded outside of Office Apps. Perhaps there is a way you can prevent it from loading in teams? Or have the manifest in each file point to different HTML that loads different JS libraries depending on the app that hosts it.

[2021-12-16 19:02] lazycipher commented on #2310
@exextoc,
Since I'm using ReactJS, there's a single html file which loads when the web app initialises.

[2021-12-16 19:05] exextoc commented on #2312
If you host your add-in on a non-localhost server does it work correct?

Do you get the bundle.js file in this location on your machine? (and is it your JS bundle)

C:\Users\[UserName]\AppData\Local\Microsoft\Office\16.0\Wef\[GUID]\[encoding]\Javascript

(the brackets will be unique on your computer)

[2021-12-16 19:08] exextoc commented on #2310
At this point you are probably better of having separate web apps that load in Outlook and Teams.

[2021-12-16 20:28] wandyezj commented on #2305
@neville-jones I tested using Firefox 95 on 2021-12-16

The [Word Rhyme for outlook Add-In](https://appsource.microsoft.com/en-us/product/office/WA200001477) is able to load.

I am also able to access: https://appsforoffice.microsoft.com/lib/1/hosted/office.js

Are there additional steps I should take to test?

[2021-12-16 21:31] exextoc commented on #2302
Thanks for sharing your manifest.
We are actively investigating this issue now and we will update this thread with our findings.

[2021-12-16 21:52] neville-jones commented on #2305
@wandyezj - from my reading of https://bugzilla.mozilla.org/show_bug.cgi?id=966856 it seems this was caused by use of SHA-256 digital signatures for OCSP stapling at a number of Microsoft sites but Firefox v 95.0 and below not supporting such. It looks like the Firefox issue has been fixed, but maybe Microsoft temporarily reverted its OCSP stapling method to use SHA-2 based digital signature and t

[2021-12-16 22:25] namnn96 commented on #704
Hi all,

Using Edge Devtools works for development, but we cannot expect the clients who consume the add-ins to do the same thing everytime there is a new release pushed.

Asking users to perform some cache management is not an ideal thing to do, is there a way we could control this cache from our app? We added the meta tags for Cache-Control, Pragma and Expires but they don't seem to be sufficien

[2021-12-17 06:00] ghost commented on #2301
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-17 07:49] exextoc commented on #2306
Thanks for reporting this issue regarding Contextual Add-in. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-12-17 08:59] djaeger-inercomp commented on #2174
Hello,
The issue has now been fixed for quite some time, but since the newest Excel update I get the same error again.

[2021-12-17 09:10] ghelyar commented on #2312
I have got it working now, but I had to make some changes to what the docs said.

In the manifest, I replaced all instances of `www.contoso.com` with `localhost:3000`. I don't know if this in particular was strictly required for localhost. I did it so that when running `npm run build` it included it in the find/replace `urlDev` to `urlProd`, so that I could upload it.

and I changed
[code]
to
[cod

[2021-12-17 15:49] theboyknowsclass opened #2315 "Word Content Control Id is not persisted / consistent in Word online"
We were using the contentcontrol.id to tie in to our application specific metadata.  This appears to be consistent in Word desktop (and also it used to be consistent in Word online).

## Steps to reproduce
Programatically create a content control in word online
Save the created content control id to the document (we use the metadata)
Open the document, and read the id from the content control

##

[2021-12-17 16:26] joshuayuen99 commented on #2301
Thanks for letting us know. Is it possible there's some undocumented API or some other way to directly set/get the email body without being touched by the extra Word renderer?

[2021-12-17 21:27] #2256 closed, assigned to exextoc

[2021-12-17 21:47] ghelyar commented on #2312
So are you going to fix the documentation?

[2021-12-17 23:07] exextoc commented on #2301
There unfortunately isn't.

[2021-12-17 23:10] exextoc commented on #2291
We've encountered difficulty in getting attachment ids from signed mails. We are exploring ways to enable this scenario (perhaps enable getAttachmentContentAsync) to work on these attachments, but we are still exploring this space and can't share when a solution would be implemented.

[2021-12-17 23:12] exextoc commented on #2310
This feature isn't implemented yet. We track Outlook add-in feature requests on our Tech Community Page. Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

http://aka.ms/M365dev-suggestions

[2021-12-17 23:15] exextoc commented on #2312
Yes sorry, a doc update was submitted. We can leave this issue open until it reaches the public docs

[2021-12-18 08:06] ghelyar commented on #2312
Thanks, I just wanted to know if you would do it or I should submit a pull request somewhere.

[2021-12-19 03:00] ghost commented on #2255
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-20 04:59] jiju-MS commented on #2174
Hi, could you share the Excel version number which have this error with us? we check the recent excel and seems it works well

[2021-12-20 07:01] xiruatms commented on #2315
hi, @theboyknowsclass , thanks for reaching out to us.

I've tried but can't repro the issues you posted. Will you please help to provide a little more information?
1. Which word online are you using?
2. The code snippet you're using will be much helpful.
3. What's the exact steps to repro the issue?

The more information we got, the sooner we might help.

Thanks.

[2021-12-20 07:58] chiz-ms commented on #2267
Hi @chanhohang, after investigation the team feels this would be a new feature request to Custom Functions. Please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature there.

[2021-12-20 08:09] chiz-ms commented on #2311
Thank you @els-ts for reporting this issue regarding Word API performance. The issue has been tracked as ADO#5676469 in our backlog.

[2021-12-20 09:31] JackTheDane commented on #2300
Do you have any ETA of when the fix might be released to production that you can share?

[2021-12-20 11:30] DmitryKostochko opened #2316 "Outlook Online: item.body.getAsync() method works strange"
In an Outlook add-in for compose mode, we use the Office.context.mailbox.item.body.getAsync() method to get the entire email body in the HTML format. The method returns just part of the email body when you are replying to an existing email.

## Your Environment
* Platform: Office on the web
* Host: Outlook
* Office version number:
* Operating System: Windows 10, Mac OS
* Browser (if using Office o

[2021-12-20 11:57] Krismix1 commented on #1801
@exextoc I have put together a repository that can trigger this issue: [link](https://github.com/Krismix1/officejs-repro-attachments-issue). The most interesting part is probably [here](https://github.com/Krismix1/officejs-repro-attachments-issue/blob/master/src/taskpane/taskpane.ts#L52).

Reproduction steps:
I have observed this behaviour in Google Chrome 96.0.4664.110 and Firefox 96.0b5.

You wi

[2021-12-20 14:38] DmitryKostochko opened #2317 "Outlook Online, outlook.com: item.body.getAsync() does not work when replying to emails grouped by conversation"
In an Outlook add-in for compose mode, we use the Office.context.mailbox.item.body.getAsync() method to get the entire email body in the HTML format. The method never returns the whole body when the Settings -> View all Outlook settings -> Layout -> "How do you want your messages to be organized" option is set to "Show email grouped by conversation".

## Your Environment
* Platform: Office on the

[2021-12-20 16:13] ndeeH opened #2318 "Internet Explorer retirement in June 2022 vs. Office Add Ins in MSI Installs"
IE will be retired in June 2022 by windows update. (IE will only be available via Edge internal IE Mode)
Short question:
**_What browser will be used from June 2022 by Office AddIns when called from an Office MSI install?_**
(I think only "up-to-date" installs of office via M365 will benefit from WebView2 = Edge Chromium)

[2021-12-20 16:41] theboyknowsclass commented on #2315
this can be closed, i no longer see the issue. thanks!

[2021-12-20 18:00] ghost commented on #1874
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-20 18:12] g138 opened #2319 "Unable to run the contextual add-in provided by outlook"
I am following the example from this link https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex

Note: I am running the application locally.

So, on uploading the manifest.xml file on the outlook it highlights the regex text, but clicking it, doesn’t work. Seems like `index.js` is working.

getting this error below:

[code]

[2021-12-20 18:26] g138 opened #2320 "Cannot see the add-in after adding xml from exchange under admin-managed."
I have added the manifest.xml file to the exchange, but the user under the tenant id cannot see them.

Does it take time to upload?

Also, the manifest contains `<MobileFormFactor>`. I cannot see it on my iPhone aswell.

[2021-12-20 18:50] AndyHore commented on #1944
Is there any update on the status for this defect? This is causing MAJOR problems for our customers because the alternative is inserting from HTML, and that loses formatting.

[2021-12-20 19:22] GarryLowther commented on #1874
Should I keep posting comments to keep this Open? If it gets auto-closed, will it ever get looked at?

[2021-12-20 20:00] exextoc commented on #2269
Thanks for reporting this issue regarding userProfile.emailAddress API. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal tracking Id: 2474019.

[2021-12-20 20:34] exextoc commented on #1874
@GarryLowther I have updated labels to avoid getting it auto-closed now.
As mentioned earlier this issue has now been put into our backlog. We will post an update here once we have a fix or a query.

[2021-12-21 03:52] chiz-ms commented on #2315
Thanks for the confirmation @theboyknowsclass. I'll close the issue.

[2021-12-21 03:52] #2315 closed, assigned to RuoyingLiang

[2021-12-21 14:07] wh1t3cAt1k commented on #2222
Good morning @chiz-ms !

Apologies for another ping - we're frequently being nudged by our clients about this limitation because there is no real workaround. We need to maintain function-level compatibility with our XLL product, and a certain function is frequently used to return relatively large datasets from the ERP.

I wanted to at least understand, if possible, if this bug is in the team's upc

[2021-12-21 15:20] savanetllc opened #2321 "Office does not initialized in Excel Js addin"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have created addin using Yeoman generator with ReactJs framework and use VS 2019 for development on Windows 10 with Office 365 (version: 2111 (Build: 14701.20262)) installed on mach

[2021-12-21 15:44] leahsilver1 opened #2322 "Outlook when schedule a meeting and delete it, when try to schedule again - the location is not updated"
# Provide required information needed to triage your issue
I schedule a google-meet meeting and delete then meeting from the location and body.
I then schedule another appointment at Google-Meet.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2111 Build 16.0.14701.20254
* Operati

[2021-12-21 16:35] exextoc commented on #2319
@g138 On which client are you trying to run your add-in? Also please share your code snippet.

[2021-12-21 17:18] savanetllc commented on #2321
I am not sure it is related or not, but I can see following entries in Console when right click on taskpane and "Inspect"

`taskpane.html:1
       Tracking Prevention blocked access to storage for https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js.
taskpane.html:1
       Tracking Prevention blocked access to storage for https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css.`

[2021-12-21 17:51] Inventsable opened #2323 "How to diagnose "we can't start this add-in because it isn't set up properly"?"
Hello, I've been brought into a project where we have a single add-in for Word, Excel and Powerpoint. We use our `main` and `development` branches of the repo with dedicated extensions for each, so that when `development` is stable then we merge it into `main` and so forth.

At some point, our `development` add-in for PPT had broken and displays the above "We can't start this add-in because it isn

[2021-12-21 18:08] batatg commented on #2278
@AkhileshShah-MS hi, what do you think? do you have any suggestion?

[2021-12-21 20:11] shochdoerfer commented on #2289
We have the same problem in our tenant. Addins are working fine in Excel and Powerpoint but don't seem to load in Word.

[2021-12-22 01:19] jonathanhotono commented on #2289
This problem has been around for a month now and been quite distruptive for our clients. I raised this issue with o365 support team and they told me its not within their responsibility to support. Can anyone from the team please respond?

[2021-12-22 05:00] ghost commented on #2255
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-12-22 05:00] #2255 closed, assigned to lliu113, ononder

[2021-12-22 05:34] AkhileshShah-MS commented on #2289
Hi Jonathan! Team is currently working on fixing the issue. We will update back soon.

[2021-12-22 06:51] jiju-MS commented on #2222
Hi, wh1t3cAt1k,
we are working on this issue and we'd like to know more details of your scenario, hope you can help with it.
1. As you mentioned, your scenario is about ERP and it need to return large datasets by Custom Function, could you tell us for common cases, what's the number of cells need to be returned?
2. Seems you have XLL product already, so does win32&MAC have similar issue in your ca

[2021-12-22 06:55] exextoc commented on #2316
Issue looks duplicate of https://github.com/OfficeDev/office-js/issues/2317

[2021-12-22 06:55] #2316 closed, assigned to exextoc

[2021-12-22 07:20] exextoc commented on #2317
Thanks for reporting this issue regarding Office.context.mailbox.item.body.getAsync API. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal tracking Id: 2523174.

[2021-12-22 07:33] djaeger-inercomp commented on #2174
My current Excel Version is 2111 (Build 14701.20262)

[2021-12-22 08:16] DmitryKostochko commented on #2316
@exextoc, there is a difference between this #2316 and #2317 reports:
2316: "Show email as individual messages" option is set. The getAsync() method starts working after manipulations with the cursor.
2317: "Show email grouped by conversation" option is set. getAsync() never returns the whole body.

I tried to describe both issues in a single report but it turned out to be too complicated and conf

[2021-12-22 08:38] exextoc commented on #2316
@DmitryKostochko Thanks for clarifying. We have noted now.
But my observation was the api returns the whole body when we move the cursor down irrespective of the Setting.

[2021-12-22 10:10] exextoc commented on #149
@fiftydegrees We do not have a workaround for this yet. Can you also please share number of impacted users?

[2021-12-22 10:22] AlexeyVanyukevich opened #2324 "Detect changes for the whole document"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Environment
* Platform Mac OS
* Host Word
* Office version number: 16.56
* Operating System: Big Sur 11.4

## Expected behavior
I would like to insert one or more content controls

[2021-12-22 11:14] g138 commented on #2319
@exextoc

I am running the add-in in Outlook Web.

The code motivation is taken from   https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex

`Index.js: `
[code]

`Index.html`

[code]

[2021-12-22 11:44] DmitryKostochko commented on #2316
@exextoc, thank you for getting back to the issue!
I have never been able to get the **whole** body when reply to an existing email with the "Show email grouped by conversation" option selected. In this case, getAsync() always returns only the text that I typed.

[2021-12-22 15:24] igor-ribeiiro commented on #2313
Hello @gar3thjon3s, thanks for raising this issue!
I can indeed reproduce the issue locally, so it is a real problem.

Both projects generated from yo office (typescript and javascript) use the same tool to interact with Custom Functions which are the [custom-functions-metadata-plugin](https://github.com/OfficeDev/Office-Addin-Scripts/tree/master/packages/custom-functions-metadata-plugin) and [cus

[2021-12-22 17:32] ElizabethSamuel-MSFT commented on #2312
We made an initial update to the docs that notes the truncation. However, we need to do further investigation and verification so this issue should remain open for now.

[2021-12-22 17:47] #2310 closed, assigned to exextoc

[2021-12-22 18:41] jake-certn opened #2325 "Custom function not working (#VALUE!) on Windows machines"

[2021-12-22 18:46] wh1t3cAt1k commented on #2222
Hi @jiju-MS . ( cc @chiz-ms @keyur32 )

1. Sometimes people will use our custom function to return the General Ledger transactions for a whole month. It is a single function that spills into a huge range. As such, it can return up to ~10k-100k lines, each with a dozen columns or so. Thus, it is realistic to expect something on the order of **~100k - 1 million cells returned from a single function*

[2021-12-22 18:55] #2325 closed, assigned to nobody

[2021-12-22 18:55] jake-certn commented on #2325
Accident

[2021-12-22 18:58] jake-chambers opened #2326 "Custom function doesn't work on Windows machines (#VALUE!)"
# Provide required information needed to triage your issue
This issue has been occurring only on Windows machines. We cannot reproduce it on Excel for Mac, or on Excel Online.

We built our Office Add-In using the React guide https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-react

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **Windows P

[2021-12-22 19:11] cody-lettau commented on #2105
Are there any known workarounds for this issue?

I also wouldn't consider this a feature request (and hence should not be closed). This seems more like a bug considering the message is saved under a different inbox, where it should not be. By not allowing a save to occur after changing the sender, there could easily be a leak of data across mailboxes.

[2021-12-23 01:48] LuyiH commented on #2322
Hi, thank you for your feedback.
For this Outlook function question, I would suggest raising this question in the "Outlook - Help - Connect Support", there you can find the experts of Outlook product, to help you solve this issue
![20211223094541](https://user-images.githubusercontent.com/96099540/147175218-c94e69d0-4bbb-4f0e-9123-041f251222bb.png)
.

[2021-12-23 01:48] #2322 closed, assigned to LuyiH

[2021-12-23 06:41] JinghuiMS commented on #2321
Thanks for reaching us.
From your error message(Tracking Prevention blocked access to storage for), it should be cause by the bad network.
Try to resolve it by adding a setTimeout(function(){},1000) to your code and write your Office specific code inside it. Feel free to leave message here if this solution doesn't work for you.

[2021-12-23 07:48] JHJ-MS commented on #2326
Hi, @jake-chambers, we'd like to get some details about your issue:

Has this function worked well before? When did this issue occur?

[2021-12-23 08:55] clavx commented on #2278
I've been unable to update from the **URL** for almost a month. Is there a plan to fix this?

`UpdateVersionSameOrLower` should be returned.

---

### I have the manifest file (.xml) on this device

[code]

### I have a URL for the manifest file

[code]

https://user-images.githubusercontent.com/58804032/147214165-69eb3b35-49e5-4b62-95a9-43ebf9d837cf.mp4

[2021-12-23 11:01] exextoc commented on #2319
@g138 Thanks for reporting this issue. We had fixed this issue recently and is pending for rollout. We will notify here once the fix is available worldwide.

[2021-12-23 12:52] dplauski-sc opened #2332 "get data from another add-on on Excel javascript api"
I saved data on workbook on following code
      `
   export const storeSettingsToWorkbook = async (settingsType: Settings, storeData: WorkbookModel) => {

    return Excel.run(async (context) => {
        const originalXml = createXmlObject(storeData);
        const customXmlPart = context.workbook.customXmlParts.add(originalXml);
        customXmlPart.load("id");
        await context.sync();

[2021-12-23 14:55] romglusker commented on #2013
It looks like this has been resolved by pointing to a different link.

[2021-12-23 14:55] #2013 closed, assigned to nobody

[2021-12-23 15:21] sheldoncoates commented on #2326
Hi, @JHJ-MS, I worked on this with @jake-chambers... originally we had our task pane add in working with vanilla HTML, CSS, JS. We upgraded to React using the tutorial mentioned in the issue description and the function worked on Excel for Mac and Excel online but not for Excel on PC Desktop. We're not sure why this is happening since we followed the tutorial for both the task-pane add in and the

[2021-12-23 17:29] lkedmi opened #2327 "Conflict between Next.js router and Office.js"
# Provide required information needed to triage your issue
I'm using Next.js as the framework for a Word plugin, trying to at least. Next.js has their own router implementation which gets overridden by Office.js.
It's caused by this piece of code:

https://github.com/OfficeDev/office-js/blob/64d4977254fd85f5da5d73ef218cd63d65acbb23/dist/office.debug.js#L1963

In my case, this piece of code nullify

[2021-12-24 08:19] AkhileshShah-MS commented on #2278
Hello! We are working on fixing the issue with update from URL. In meantime as a work around, you can update the add-in by uploading the manifest file after increasing the version number. Another alternate is to update the add-in from Integrated Apps portal in M365 Admin Center (Settings>Integrated Apps).

[2021-12-24 09:48] jiju-MS commented on #2326
Hi, sheldoncoates, some thoughts according to you video:
1. From the video, it has the intelligence of your function "wise" and "wisePrice", usually it means your json file has been successfully read by excel.
2. Considered you add-in is able to work with vanilla HTML and JS on win32 before, seems neither Custom Function native functionality nor add-in function logic is the root cause, may I know

[2021-12-24 11:20] angelmedina262 opened #2328 "Exception thrown when trying to access SlideMaster shapes in PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

On PowerPoint online, we are trying to access the SlideMaster shapes of a simple presentation. We call `load` for each of the properties and for each of the shapes so that we can read

[2021-12-24 20:56] jake-chambers commented on #2326
@jiju-MS Here is a video trying what you suggested, we modified the WISE function to only `return 1` (shown in video)
The taskpane loads then throws an error but refreshing makes it work. Please watch the whole video to get full context. We'd be happy to send over our source code to let you reproduce it yourselves.

https://user-images.githubusercontent.com/23714923/147372010-e7eee481-7a15-4067-9e

[2021-12-25 10:55] JHJ-MS commented on #2326
@jake-chambers If you don't mind, could you send over your source code to my work email haijiajin@microsoft.com? We'll try to reproduce it on our side and do a further investigation.

[2021-12-26 03:20] tonykcn commented on #138
@wandyezj  @Zlatkovsky , we still met this issue,  May I know how to resolve this issue?  MSI office 2016 couldn't load 16.01.

[2021-12-26 16:20] jake-chambers commented on #2326
@JHJ-MS Just sent an email, thank you so much for your help!

[2021-12-26 18:00] ghost commented on #2301
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-26 22:12] guzman-rc opened #2329 "Outlook AddIn 'OnMessageAttachmentsChanged' was not triggered"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I tried below steps to testing 'OnMessageAttachmentsChanged' on Outlook application add-in.

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch

But it seems that

[2021-12-27 04:12] #2233 closed, assigned to croicu, exextoc, robert-gavrila

[2021-12-27 04:15] #2286 closed, assigned to nobody

[2021-12-27 06:07] AlexeyVanyukevich commented on #2324
I think I found the cause of the problem. it seems like the sidebar crash occurs after inserting the content control. adding it is successful, but the sidebar crashes after a while

[2021-12-27 07:13] hengchengfei commented on #1143
still throw error.
![1](https://user-images.githubusercontent.com/3182964/147445163-25047fc5-9e4e-4e36-a428-992f3ccb625c.png)

[2021-12-27 09:00] ghost commented on #2321
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-12-27 09:35] hengchengfei opened #2330 "set cell.value="xxx" multiply,contentcontrol were deleted."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

1、Add a ContentControl to Table
2、set ContentControl .removeWhenEdited = false
3、set TableCell.value = "aaaa" above 3 times
4、ContentControl were deleted
![9](https://user-images.gith

[2021-12-27 10:32] savanetllc commented on #2321
Hi @JinghuiMS, thank you for reply. I didn't get, where should I use setTimeout. I gave my Index.js file content and it has Initialize function. If I make complete "Office.initialize" function inside setTimeout, it won't trigger. So please guide me further and sorry, as I am newbie on it so might not get your point.

`Office.initialize = () => {
  isOfficeInitialized = true;
  render(App);
};
`

[2021-12-27 10:36] JensMadsen commented on #2275
This is related to https://github.com/OfficeDev/office-js/issues/2289 I think.

Any updates from Microsoft? This Is really a problem for us.

[2021-12-27 10:53] chiz-ms commented on #2330
Hi @hengchengfei, is this the same issue as #1143? I've already reopened that issue based on your comment there.

[2021-12-27 11:34] AkhileshShah-MS commented on #2275
Hi!
Apologies for the delay on updating this thread. We are aware of this issue on Word Online and team is actively working on fixing it. I will come back with an update on this soon.
Please let me know if you are facing similar issue with any other platform apart from Word Online.
Thanks!

[2021-12-27 12:41] exextoc commented on #2329
@guzman-rc Thanks for raising the issue. Can you host your add-in with the code that reproduces this and share the add-in manifest file for the same.

[2021-12-27 14:32] JensMadsen opened #2331 "Word: paragraph.search not working with tabs"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In the Word API the paragraph.search does not work with soft new lines (shift+enter in the Word application); \t or \u000b in the string. However, Word online search functionality wor

[2021-12-27 18:09] AlexJerabek commented on #2332
Hi @dplauski-sc,

Thank you for reporting this. I'm going to transfer this issue to the [office-js repo](https://github.com/OfficeDev/office-js). There, members of the product team can take a look and determine if the issue is in the product itself.

Could you also provide the version (build number) of Excel that you're using, as well as the platform (Online, Desktop, etc)? Thanks!

[2021-12-27 19:59] guzman-rc commented on #2329
[My Office Add-in.zip](https://github.com/OfficeDev/office-js/files/7781625/My.Office.Add-in.zip)
The ZIP file contains all the AddIn files.

[2021-12-28 01:27] hengchengfei commented on #2330
@chiz-ms not the same error.
#1143 Error: "Invalid Parameters"
#2330  Error：ContentControl deleted (ContentControl.removeWhenEdited = false)

[2021-12-28 04:46] JinghuiMS commented on #2321
This solution comes from the following link, it seems you need to put all your code into setTimeout. Since it doesn't work for you, I will involve more professional people into thread to see if there're other solutions.
Please expect slow response because now is a holiday season. Thanks!

[2021-12-28 04:50] JinghuiMS commented on #2321
@shaofengzhu Do you have any ideas on this "Tracking Prevention blocked access to storage " issue? Sorry to disturb you when you're on vacation.

[2021-12-28 06:47] Wenjun-Gong commented on #2331
@JensMadsen , do you see this issue only for Word Online, or also for other endpoints (win32, mac)?

[2021-12-28 06:52] Wenjun-Gong commented on #2328
Thanks for reporting the issue @angelmedina262 . Assign to @lliu113 to take a look.

[2021-12-28 06:56] Wenjun-Gong commented on #2332
Thanks for reporting this @dplauski-sc . Assign to @dingjin-ms to take further look.

[2021-12-28 07:00] dingjin-ms commented on #2332
Thank you for reporting! I think my colleague has already answered your question on Stack Overflow: https://stackoverflow.com/questions/70462065/get-data-from-another-add-on-on-excel-javascript-api, please reach out in Stack Overflow if you have further questions, so we could continue to follow up there.

[2021-12-28 08:05] JensMadsen commented on #2331
Dear @Wenjun-Gong . Thank you for a swift reply. I have created a demo in script lab https://gist.github.com/JensMadsen/7c39ac800e435018bcfede4ed44a17da that you can use with the attached test document above. The same problem exists with normal tabs (\t). I have not tested with window desktop due to holiday and corona. I will try to get my hands on a windows computer later today! However, I guess

[2021-12-28 08:18] JensMadsen opened #2333 "Excessive logging"
In the latest months I have experienced an excessive amount of log messages when running add-ins. Take (otherwise unrelated) this add-in created in script lab https://gist.github.com/JensMadsen/7c39ac800e435018bcfede4ed44a17da . When I click the button I get:
[code]

[2021-12-28 14:20] vdboots opened #2334 "In new email switching between account does not trigger the onNewMessage Flow"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Desktop, Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.57
* Operating Syst

[2021-12-28 16:26] andreyvcita opened #2335 "`setSignatureAsync` function not working for Outlook Mac"
`setSignatureAsync` worked a few days after release [1.10 New Mac UI now supports](https://github.com/OfficeDev/office-js-docs-pr/pull/3130)

* Platform: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook (new UI)
* Office version number: 16.56
* Operating System: MacOS 12.0.1

## Expected behavior
`setSignatureAsync` set signature

## Current behavior
`setSignatureAsync` not working

[2021-12-29 02:42] Wenjun-Gong commented on #2335
Thanks for reporting this issue. Assign to @exextoc to take a look.

[2021-12-29 02:46] Wenjun-Gong commented on #2333
Thanks for reporting this. Add @millerds to take a look.

[2021-12-29 02:50] Wenjun-Gong commented on #2334
Hi @vdboots , thanks for reporting this issue. Are your customers using an JS add-in for the signature, or the default signature feature in Outlook?

[2021-12-29 06:58] vdboots commented on #2334
An office js signature. And IT is reproducable with the demo Outlook addinOp 29 dec. 2021 03:50 schreef Wenjun Gong - MSFT ***@***.***>:
Hi @vdboots , thanks for reporting this issue. Are your customers using an JS add-in for the signature, or the default signature feature in Outlook?

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobil

[2021-12-29 08:16] exextoc commented on #2334
Hey @vdboots,

From what you have described, this issue seems similar to #2211 . If so, that's already in our backlog and we are working on that. Unfortunately, we have no timelines to share at this point. Internal tracking ID: 5256718

[2021-12-29 10:07] exextoc commented on #2335
Hey @andreyvcita ,

We are unable to reproduce this issue. Can you go to Help -> Collect Diagnostics, which will help us collect logs for your session and then share the Diagnostics ID with us so that we can look into it?

[2021-12-29 10:30] exextoc commented on #2329
@guzman-rc Thanks for sharing the details. We tried with your manifest, code and it works properly for us. We validated with the console log from the handler function. Can you retry?
If the issue is still observed please share repro video.

[2021-12-29 11:51] JHJ-MS commented on #2326
@jake-chambers We have reproduced it locally. We find that your custom functions can be worked well on all platforms when using a shared runtime. We suggest you to using a shared runtime to solve the problem. More details can be seen in the email. Besides, the reason for the #VALUE! on Windows will still be investigated.

[2021-12-29 12:39] leewisestamp commented on #2335
Hi @exextoc, here is @andreyvcita's session info (we're on the same team):

![image](https://user-images.githubusercontent.com/11390801/147663416-21d213f9-80be-4408-88bc-617e8a34e12e.png)
![image](https://user-images.githubusercontent.com/11390801/147663097-31dfbfb6-ce25-4845-b42c-b610f80022eb.png)

[2021-12-29 13:47] ThomasBarnekow commented on #316
I am experiencing the same issue today, three years later in December 2021. It really disturbs the flow!

[2021-12-29 16:39] wilcotroost commented on #2213
Any news on this subject?

[2021-12-29 20:00] ghost commented on #2301
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-12-29 20:00] #2301 closed, assigned to exextoc

[2021-12-29 23:00] exextoc commented on #2300
This is currently is fixed in Nov builds and forward. As for older builds, we are still in the process of porting it over and will share the exact build numbers once we have more details

[2021-12-30 07:18] ansarishohrab commented on #2329
I'm facing the same issue

here is video link
https://nimb.ws/xXgPZ3

[2021-12-30 16:03] tomprod opened #2336 "range.InsertContentControl() not working on certain parts of a document, only on Office 365 Word Online, desktop is working"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number:
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome latest

## Expected behavior
Inserting a content control should work consistently accross platforms (office online <> office desktop)

## Current behavior
When

[2021-12-31 01:20] Wenjun-Gong commented on #2336
Thanks for reporting the issue. Add @RuoyingLiang to take further look.

[2021-12-31 01:56] Inventsable commented on #2323
As a follow-up this has been resolved, it turned out to be a corrupted manifest of some kind though it was out of the scope of the UI and handled by the person responsible for that side so I'm unable to pinpoint exactly what the root cause is for any one who stumbles on this in the future.

Sorry for the new issue creation, it was out of my hands entirely but I kept being told it was an issue with

[2021-12-31 01:56] #2323 closed, assigned to millerds

[2021-12-31 11:25] xiaoyuMS commented on #2336
Hi @tomprod

I would like to share you my investigation.
It is by-design that we can't insert a content control in a not-fully-supported paragaph. (Paragraph becomes not-fully-supported when it contains items which are not supported in Word Online, such as shape, shading...)

For this paragraph where we can't insert a content control in selected text.
**paragraph in 3/8 page**
![image](https://use

[2021-12-31 11:54] tomprod commented on #2336
Hey, thank you so much for sharing this, then it's not really a bug, i will check on how to remove shading as i don't really need it and it should work.

[2021-12-31 13:39] tomprod opened #2337 "How to Word document.body.search zero or more of a character"
How can i document.body.search with zero or more of a character ? like [@]{0;} but it doesn't work on desktop, seems to work online though (i know about the list separator problem, either , or ; depending on locale)

[2021-12-31 13:41] tomprod commented on #2337
Will ask it on the Q&A sorry

[2021-12-31 13:41] #2337 closed, assigned to nobody

[2021-12-31 21:16] exextoc commented on #2213
For the intellisense fix, it should be live around January after the holidays.
As for your question around the authentication token can you ask/open as a separate question/issue for better tracking? Meanwhile, this documentation might help provide some guidance: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins#using-the-sso-token-as-an-identity

[2022-01-02 09:32] leewisestamp commented on #2335
Any update on this, please?

[2022-01-02 15:17] gkfirst8 opened #2338 "Range.autoFill does not work in TypeScript"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When using office.js in Javascript I was nicely able to use FlashFill via the .autoFill of Range in Excel:
[code]
However wh

[2022-01-02 15:19] gkfirst8 commented on #2338
As I use Angular and the TypeScript compiler it comes with the syntax error stops me from tricking the system and still using the FlashFill (note the casing)

[2022-01-02 20:23] FreeSoftwareServers opened #2339 "Relative Path SRC/SCRIPT links in taskpane.html don't match file name generated for .js"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2021
* Operating System: Win10
* Browser (if using Office on the web):

## Expected behavior

`npm run build` should utilize the "hash" name for file transformed from relative `src=../`

[2022-01-03 06:40] thoriyadaxesh commented on #2261
Is there any update or ETA for this issue?

[2022-01-03 09:17] saibabu-hitachivantara commented on #1175
**What I'm trying to achieve is giving a prompt to user when user trying to close the task pane.**

Hey @keyur32, I tried with above options, Excel taskpane is running in the background. But I couldn't capture the event when I'm trying to close my taskpane.

Office.addin.onVisibilityModeChanged().then(function (args) {
    if (args.visibilityMode = "Taskpane") {
      console.log('test', args.visi

[2022-01-03 15:44] tomprod opened #2340 "Word office js search in document body {0;N} behavior difference between Office online and Desktop"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office desktop
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 2111 build 14701.20262 / 16 december 2021
* Operating System: Windows 10

## Expected behavior
When searching with document.body.search('A{0;1}', { matchWildcards: true}) should work on both Office Word Online and desktop (especially "zero

[2022-01-03 17:59] #2305 closed, assigned to wandyezj

[2022-01-03 18:24] AbidRahman-MSFT commented on #1143
Hey @hengchengfei - this issue has been fixed for Office versions greater than 16.0.12928 on M365 subscriptions. The bug will continue to occur on Office 2019 and Office 2016 versions.

Please use `Word.TableRow.insertCells(...)` to achieve the same workflow on older versions of Office.

[2022-01-03 18:24] #1143 closed, assigned to AbidRahman-MSFT

[2022-01-03 18:44] cidev5 commented on #2051
@grangeryy, @jiju-MS

We would like an update on this issue as our clients are continuing to experience it. And more reporting it by the day. It is very disruptive to user experience and people are having a negative impression of the MS Office product.

[2022-01-03 18:46] AbidRahman-MSFT commented on #2330
Hey @hengchengfei - what is the expected behavior here? Is the content control being unexpectedly deleted when you are changing the value of a table cell in the content control?

[2022-01-03 18:49] AbidRahman-MSFT commented on #2324
Hey @AlekseyVanyukevich - please refer to the following gist that adds a binding to a content control for the first paragraph. You can use a similar concept to create a content control that encapsulates the entire document.

https://gist.github.com/AbidRahman-MSFT/e437f4b4610c917872a5c3d6e00ac911

Let me know if that helps.

[2022-01-03 18:51] AbidRahman-MSFT commented on #2327
This sounds like a compatibility issue with the next.js framework. @preethikakiru - any idea if we support the next.js framework for Office Add-ins?

[2022-01-03 20:24] lwaltman commented on #2307
Is there any update available for this issue -- as far as a resolution?

[2022-01-03 23:49] millerds commented on #2333
Does this only happen for script lab or do you see this with standalone add-in projects?

[2022-01-04 00:14] citasionm opened #2341 "Word Addin Javascript empty string font.color or font.highlightColor after I set it"
# Provide required information needed to triage your issue
I have the following code that sets the font.color

[code]

This works and changes the color to white. Then after I reopen the taskpane, I want my script to be able to find if there is any white colored text left over. I do this by searching through text.

[code]

What I get back instead is all the colors of the rest of the text (usually #

[2022-01-04 01:22] yihuax-msft commented on #1971
I can no longer repro this issue. @sidetracklegal , do you still see it?

In the OOXML I get, I either see <w:i val="0"/> or <w:i val="off"/>.

By the way, it is not the API issue. I must have been the Word's native error, which looks being fixed. Thanks.

[2022-01-04 02:15] RuoyingLiang commented on #2331
@JensMadsen , thanks for the details. Open a BUG 5696095 to track this issue. Will reply here once we have update.

[2022-01-04 03:11] FreeSoftwareServers commented on #2339
I realized this is actually to do w/ webpack.config.js which is shipped w/ yo office script templates. I don't like how it changes my files anyway, so I've switched to VS Templates and am good now. Not sure if this is the right place to report webpack issues/yo office issues. Can likely be closed, but will annoy many others likely.

[2022-01-04 03:14] SWei1234 opened #2342 "[ Outlook ] 'Use Smart Alerts and the OnMessageSend event... ' not work"
According to issue: https://github.com/OfficeDev/office-js/issues/2308
I have tried this again. But still have problem on it. I will attach my all code here and hope this will helpful.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2110 (14527.20276)
* Operating System: win 10 20H2 19042

[2022-01-04 03:18] SWei1234 commented on #2342
[test-send3.zip](https://github.com/OfficeDev/office-js/files/7805168/test-send3.zip)
This is my sample for this feature. All code copied from 'https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough'.
Hope this will be helpful.

[2022-01-04 03:25] hengchengfei commented on #2330
Yes,I want to change the value of table cell in ContentControl，but the ContentControl  is being unexpectedly deleted.

[2022-01-04 05:03] markdon commented on #1548
This is still an issue as per the issue description. OWA in Chrome. UI-less function immediately calls `window.open('https://example.com', '_blank')`. It (confusingly) *works* but puts a "Popups were blocked" icon in the URL bar.

It's unlikely to be a problem for my add-in, not being published to AppSource.

[2022-01-04 05:30] Shujee commented on #2304
Looks like my code was barking up the wrong tree. I was finally able to inject an image into the header by using `context.document.sections.getFirst().getHeader(window.Word.HeaderFooterType.primary).insertOoxml()` call finally.

[2022-01-04 05:30] #2304 closed, assigned to yihuax-zz, AbidRahman-MSFT

[2022-01-04 05:57] chiz-ms commented on #2326
The issue has been tracked in our backlog as ADO#5696455.

[2022-01-04 06:33] splinter opened #2343 "Subject not been returned by OfficeJS API"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.55 (21111400)
* Operating System: Mac OS
* Browser (if using Office on the web): N/A

## Expected behavior
The [Subject API](https://docs.microsoft.com/en-us/javascript/api/outlook/office.subject?view=outlook-js-preview) should return the subject

[2022-01-04 08:31] benjamin-almarza opened #2344 "Parent contentControl is not found on the event DocumentSelectionChanged"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We add an event in the document that triggers when a contentControl is modified. Our issue is that in some documents (not all) the placeholder is null from the point of view of the ad

[2022-01-04 09:10] SWei1234 commented on #2308
Hi @ElizabethSamuel-MSFT
I created a new issue for this problem: https://github.com/OfficeDev/office-js/issues/2342
This issue will be closed.
Thanks

[2022-01-04 11:36] exextoc commented on #2335
@andreyvcita We tried to reproduce the issue with the add-in provided by you through the email. The add-in works for my account.
Therefore, could you try the following.
1. Can you add the following test account(credentials sent via email) in your mac client and see if the add-in works there.
2. If this does not work. Could you try to update the outlook to the latest version and check.
Let us know

[2022-01-04 11:42] exextoc commented on #2329
@ansarishohrab From video it looks like you are trying the addin on Linux and Chrome. Can you confirm if this is correct?
@guzman-rc Please share your repro vid, along with OS and browser details.

[2022-01-04 11:57] andreyvcita commented on #2335
signature: 6284 characters

[code]

user-script:18:18

I only get this error on Mac

the same code with function setAsync() works

[2022-01-04 12:31] andreyvcita commented on #2335
looks like it's not working through limit, because it works for signature 3430 characters

[2022-01-04 12:34] exextoc commented on #2343
@splinter We are not able to repro this. What is the asyncResult.status when the subject is not returned? Can you share repro steps?

[2022-01-04 13:23] leewisestamp commented on #2335
@exextoc - It looks like the underlying problem is that Outlook Mac handles the HTML passed to `setSignatureAsync` differently from Outlook Web/Windows. When we tried calling setSignatureAsync with very basic HTML (e.g `<span>Hello, world!</span>`) in Outlook Mac, it worked. But, when we tried with more complex HTML, Outlook Mac behaved differently (i.e. rejected the HTML) than Outlook Web/Windows

[2022-01-04 13:25] leewisestamp commented on #2335
@exextoc - It appears the underlying problem is Outlook Mac handles HTML passed to `setSignatureAsync` differently from Outlook Web/Windows. When calling `setSignatureAsync` with very basic HTML (e.g <span>Hello, world!</span>) in Outlook Mac, it worked. But, when trying with more complex HTML (specifically, HTML including carriage returns), Outlook Mac rejected the HTML as opposed to Outlook Web/

[2022-01-04 15:25] savanetllc commented on #2321
Hi @JinghuiMS and @shaofengzhu, happy new year!!
Hope you guys have good time during vacation. Is there any update on said issue (for loading Sidebar/Taskpane)?

[2022-01-04 15:55] Shujee opened #2345 "There should be a way to change page size"
In Word API, There doesn't seem to be a way to change page size of a section. I have tried looking for a direct function as well as doing it through OOXML. Nothing works. The fact that page size is stored in section properties (`sectPr`) node, which is considered metadata and never loaded by Office.js (or at least I wasn't able to do it), makes it impossible to change page size using Office.js.

I

[2022-01-04 19:16] millerds commented on #2339
Webpack does this by default (I believe for chunking and caching reasons) and you have to explicitly configure it not to change file names if you don't like that.  If you leave it, it should hash the names and still load them at runtime correctly as long as they are linked to in files.

Adding new files to the project and further configuration of webpack is something we leave up to the add-in deve

[2022-01-04 19:16] #2339 closed, assigned to millerds

[2022-01-04 19:48] millerds commented on #2338
This isn't a problem with the dev tooling, it's something with-in the api.  The typescript compiler and syntax checking is simply respecting the office.js definition file retrieved (index.d.ts) and the runtime behavior is also controlled by the office.js code imported by the browser.

[2022-01-04 22:41] trigurl commented on #2146
Hello Jeff, my coworkers and I have been chatting about this a bit.  We want to see if we can reproduce this issue.  Can you confirm the steps?

1) Boot Word on Mac
2) Install the Patent Bots GCP add-in from the Office store.
3) After the add-in is installed there will be a custom tab created on the Ribbon.
4) Force Word Mac to update.
5) After Word Mac updates, verify the "Patent Bots GCP" tab is

[2022-01-04 23:05] pb-jeff-oneill commented on #2146
@trigurl, thank you for looking into this.

The biggest issue in trying to reproduce this is that it doesn't happen to everyone.  For example, I have a nearly identical setup (Mac/Word versions) as one of my customers, they experience this issue about once/month, and I have never experienced it.

This is the precise process:

1. Patent Bots GCP add-in is in the ribbon.
2. One user said that when t

[2022-01-04 23:22] trigurl commented on #2146
In these situations we try our best to come up with some sort of pattern also try to ask questions to narrow down a path to dig further.  In some cases we might need to add more telemetry and have customers continue to send us frowns so we can see what their telemetry is telling us.   Do you know whether their computer is being shared?  I'm asking because I wonder if various people are signing in/

[2022-01-04 23:34] pb-jeff-oneill commented on #2146
My users are attorneys so computers are not shared.

[2022-01-05 03:19] jingxuan0109 commented on #2341
Hi,
I cannot repro this issue.  I use this https://gist.github.com/jingxuan0109/9f925366e1f916aee770e56e6ca4b798 on script lab.

1. set color
2. close taskpane
3. get color

The color is right. I am just wondering whether you can give us more information and a script and document would be helpful.

Thanks

[2022-01-05 04:45] 10142904 commented on #2265
Hi, @lliu113 Has the problem been solved? i have updated office to 16.0.14729.20156 and fond the bug has not been fixed，When will it be repaired?

[2022-01-05 05:50] jingxuan0109 commented on #2344
Hi, I can not repro this issue. I am just wondering whether you can provide more details.

![image](https://user-images.githubusercontent.com/86349902/148166822-573308a3-db96-4599-a101-f7ec12699cfb.png)

[2022-01-05 06:37] Edward-Zhou opened #2346 "Is There any Document to guide create excel addin on Angular?"
I am trying to implement Excel AddIn with Command, TaskPane, Functions and angular.

Is there any document or details steps to implement in one angular project?

[2022-01-05 07:46] benjamin-almarza commented on #2344
Hi: I figured out something weird.

If we do the following:
* create a document
* upload the document to office.com
* test as I explain

Then the issue happens as I described

But if we do the following:
* create a document
* upload the document to office.com
* download the document
* re-upload the document to office.com

Then it doesn't fails
I can see that the document.xml inside the docx change

[2022-01-05 08:15] RuoyingLiang commented on #1944
@AndyHore, sorry for the late response. We are looking into this issue and will reply here once we have update.

[2022-01-05 08:41] jingxuan0109 commented on #2344
I am just wondering how you insert a content control. It seems I cannot get any content controls for you document. But it can be get for new inserted content control.

[2022-01-05 10:18] alok0914 opened #2347 "API needed to select multiple chart in Excel in sheet and across workbook with officeJS."
Allowing user to select multiple chart in installed version as well as online version of Excel in sheet and across workbook with office JS and get data and change data related to all charts using Office JS API's. This feature is required for adding functionality to multiple charts in one go. The functionality is needed in sheet as well as multiple sheets of a workbook.

Step 1: Select multiple cha

[2022-01-05 13:13] wynntee opened #3316 "JSON Metadata file cached permanently"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Expected behavior

Excel should fetch the latest JSON metadata file from the server, by respecting the HTTP Cache-Control header.

# Current behavior

Excel permanently caches the J

[2022-01-05 14:25] exextoc commented on #2335
Thank you for elaborating your issue. It is currently a known issue that if you add a newline character to the html body, the SetSignature API throws a validation error. The fix shall be available in next Outlook Mac version.

[2022-01-05 14:29] leewisestamp commented on #2335
Thanks for your prompt and thorough replies! Eagerly awaiting the fix. Cheers!

[2022-01-05 15:09] chiz-ms commented on #2345
Thank you for the suggestion @Shujee. For feature requests please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature there.

[2022-01-05 15:28] Shujee commented on #2345
Thanks @chiz-ms. I have already posted it there. Just found about the forum this morning. :)

[2022-01-05 15:30] Shujee commented on #2345
I'm still interested in knowing if my impression is correct and there is currently no way of changing page size, orientation and margins using Office.js? Or is there some workaround that I could use to achieve it?

[2022-01-05 15:34] ghelyar commented on #2312
So this was working for me before Christmas, but now it's January, I haven't touched anything and it's stopped working again. It doesn't work on localhost or a public URL, even if I side load it from the URL that was previously working, and I haven't changed those files at all.

`%localappdata%\Microsoft\Office\16.0\Wef\{GUID}\{Base64}\Javascript` is empty but `...\Wef\{GUID}\{Base64}\Manifests\{I

[2022-01-05 16:07] ghelyar commented on #2312
I got it working again by adding this to `webpack.config.js` and re-uploading:
[code]

but this is strange because the files that were previously uploaded were working exactly as they were 2 weeks ago, but now Outlook doesn't like them.

I have not done something like update webpack and now it's generating different files. These are files that I have not touched at all since uploading them, but ha

[2022-01-05 16:28] barclayadam commented on #1861
@exextoc We have a number of customers in production that, for a handful of users, see a crash of the `msoadfsb` executable every time they create a new message, with the result being no event-based activation and "We're sorry, we couldn't access [add-in name]. Make sure you have a network connection. If the problem continues, please try again later" message bar is shown.

The add-in works fine fo

[2022-01-05 18:54] yihuax-msft commented on #2307
@lwaltman , You wrote: **"Select and delete text in the second element, and click a button which triggers......"**

Why do you need to delete the second item in the list?
What is the cursor location, or what text is selected by cursor, right before you click the button to run the javascript code?

[2022-01-05 19:11] lwaltman commented on #2307
The second item ("Item 2") is deleted simply in preparation for clearly demonstrating the issue -- inserting a new paragraph with a new list into that location in the function.  The cursor location is simply right there at that item's location ("Item 2") after you delete it -- with no text selected.  Users use this functionality in this way to add new lists of sub items or a paragraph to an existi

[2022-01-05 19:15] yihuax-msft commented on #2307
@lwaltman Thanks for your reply.  When you say "**Select and delete text in the second element**", you meant to delete the second item's **text only** and the empty item is still there (there is still three items in the list), right?

[2022-01-05 19:17] exextoc commented on #2342
As mentioned in the [issue](https://github.com/OfficeDev/office-js/issues/2308) linked above, this feature is currently in Preview, and only available if you are in the Beta Channel. Can you confirm that you completed the steps in [these ](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#how-to-preview)instructions to use the events in Preview?

Your repro steps says that you

[2022-01-05 19:18] lwaltman commented on #2307
Correct.  The item is still there -- the text has been deleted.

[2022-01-05 19:28] yihuax-msft commented on #2228
I checked the code and found it's by design. When we operate on a table, such as adding a column or deleting a column, we require the table must be a "uniform" table.  In this scenario, if a cell has a different text direction, the table is no longer uniform and thus it fails.  If you must have a cell with different text direction, maybe you can fort perform all other operations, adding/deleting c

[2022-01-05 19:50] yihuax-msft commented on #2307
@lwaltman, I think the cause is that, for a paragraph that is already a list item, the API startNewList will fail.  The startNewList API requires the paragraph is NOT an existing list item. Maybe you can try this:

Word.run(async (context) => {
	var paragraph = context.document.getSelection().paragraphs.getFirst();
	paragraph.detachFromList();
	return context.sync().then(async function () {
		para

[2022-01-05 21:21] citasionm commented on #2341
Thank you for testing. Quick question, is there an easy to load the yaml file on word online for testing? I want to see if there is something weird with my document.

[2022-01-06 04:13] chiz-ms commented on #2347
Thanks for the suggestion @alok0914. For feature requests please go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) and see if your feature has already been requested or request a new feature there.

[2022-01-06 06:24] jingxuan0109 commented on #2341
You can use "Script Lab" addin to test my script. https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab

[2022-01-06 07:12] benjamin-almarza commented on #2344
1.- How we created the document

We are creating programmatically the document using aspose
* Library: Aspose for Words
* Version: aspose-words-18.4-jdk16

This is the snippet of the code
[code]

2.- The contentControls we have.
For every purpose, the contentControls we create work fine.

They look and behave as normal contentControls as you can see
![screenshot](https://user-images.githubusercont

[2022-01-06 08:43] tomprod commented on #2336
Hey, i have the same problem with another block of ooxml, insertContentControl crashes on it on office word online, can you tell me what's wrong with it please ? :
    <w:p>
            <w:r w:rsidRPr="47C124BC" w:rsidR="47C124BC">
                <w:rPr>
                    <w:rFonts w:asciiTheme="minorAscii" w:eastAsiaTheme="minorAscii" w:hAnsiTheme="minorAscii" w:cstheme="minorAscii" />

[2022-01-06 09:02] jonathanhotono commented on #2289
@AkhileshShah-MS is this issue fixed? I am still unable to see the add-ins across all tenants on word online.

[2022-01-06 09:48] SWei1234 commented on #2342
@exextoc Okay, I will try and update result here. Thanks

[2022-01-06 15:05] osvath58 opened #2348 "Uncaught (in promise) RichApi.Error: ControlIdNotFound"
Getting multiple occurrences of the following error in Office.js Excel Add-in:

Uncaught (in promise) RichApi.Error: ControlIdNotFound
at new n in (excel-win31-16.01.js:26)
at r.i.processRequestExcecutorResponseMessage (excel-win31-16.01.js:26)
at excel-win32-16.01.js:26

The add-in works fine.

[2022-01-06 21:05] FreeSoftwareServers commented on #1441
The carelessness to not even address the root concern of enabling trust for the end user by admins by @exextoc makes me hesitant to spend time working on Office Add Ins, I van already do everything with VBA and don't get fd in the a by MSFT by there security decisions..

[2022-01-07 01:53] sheldoncoates opened #2349 "Range.getCellProperties() returns #000000 for all border colors"
# Provide required information needed to triage your issue

[code]

When running this code on a range with no borders the following is produced in the cellPropertiesArray:
[code]

When running on a range WITH border colors it will return the correct color.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac, Office on the web, can't test PC desktop
* Host [Excel, Word,

[2022-01-07 02:42] citasionm commented on #2341
I can verify that even with the script provided the bug exists on a specific document that I had. On a new one this does not occur.

[Document 1.docx](https://github.com/OfficeDev/office-js/files/7825952/Document.1.docx)

[2022-01-07 02:45] citasionm commented on #2341
I can verify that the issue persists in a specific document of mine but I cannot figure out why. Here's the attached document:

[Document 1.docx](https://github.com/OfficeDev/office-js/files/7825965/Document.1.docx)

[2022-01-07 03:04] jingxuan0109 commented on #2341
I cannot reproduce it on my side. I am just wondering whether you can try it on new document.

[2022-01-07 03:08] citasionm commented on #2341
In a new document it works correctly. But in the attached document in shows up like this (notice the empty string).

![image](https://user-images.githubusercontent.com/97069384/148485173-0f039c17-4e5a-4698-8d0a-37eea84ee60e.png)

[2022-01-07 03:18] jingxuan0109 commented on #2341
I see, that because you have a period after "said". I am just wondering whether you can try to set period into the same color. This is by design behavior. https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-blank-null-values#null-property-values-in-the-response

[2022-01-07 04:04] xiaoyuMS commented on #2336
Hi @tomprod
Sorry, I didn't make it clear last time.

1. Any part of the paragraph is not supported will result in the entire paragraph not being supported.
2. It is not allowed to insert a content control in any part of the paragraph that is not fully supported.

So we need to go through the whole paragraph if there is a problem .
In the paragraph you mentioned, there are several **<w:spacing>**

[2022-01-07 04:29] AkhileshShah-MS commented on #2275
Adding @RuoyingLiang to help on this

[2022-01-07 04:37] AkhileshShah-MS commented on #2289
Adding @RuoyingLiang to help with this

[2022-01-07 04:38] AkhileshShah-MS commented on #2289
@jonathanhotono we are actively working on fixing this. And will come back with an answer soon.

[2022-01-07 04:47] chiz-ms commented on #2349
Hi @sheldoncoates, could you also include `style` under `borders` and check it against `Excel.BorderLineStyle.none`? I suppose this would work for you.

[2022-01-07 06:20] chiz-ms commented on #2345
According to the team, unfortunately we are not aware of any workaround at this point.

[2022-01-07 06:31] Shujee commented on #2345
mmm... that's disappointing to know. I'm a long-time Office dev (doing VBA since Office 4.3). Still actively doing VSTO projects. Recently started considering switching to JS since it was cross-platform and, more importantly, since Microsoft had decided not to carry forward VSTO to .NET 5 and 6. My initial impression was that the JS API would be mature enough now that it's almost 10 years old, but

[2022-01-07 07:17] jerryvaz commented on #2344
@RuoyingLiang Did you get a chance to look into this case? We are pretty stuck and blocked on this issue.

[2022-01-07 07:59] savanetllc opened #2350 "Excel JS Addin taskpane doesn't load completely"
Hi, I am developing Excel JS addin however most of the time, Office doesn't initialized so taskpane doesn't load completely.  I am sorry for making a duplicate issue but there is no response on first issue.  Please note, we have same response in multiple offices (USA, UK, Asia) so I don't think its because of slow Internet.

Here is a render function in App.js which keep showing Progress control.

[2022-01-07 08:02] savanetllc commented on #2321
@chiz-ms @JinghuiMS @dingjin-ms Please any response as have tight deadline on it.

[2022-01-07 08:18] JinghuiMS commented on #2321
@savanetllc  Sorry for the late response~ I try to get the right contact in our side channel, and will report back.

[2022-01-07 08:19] chiz-ms commented on #2350
Adding the link to the original issue: #2321

[2022-01-07 08:51] jingxuan0109 commented on #2344
I am just wondering whether you can try richtext content control.

[2022-01-07 09:03] chiz-ms commented on #2344
The issue is tracked in our backlog as ADO#5705306.

[2022-01-07 09:50] cdmdotnet opened #2351 "Outlook Desktop on Windows 11 All add-ins fail to load since January 1st 2022"
# Provide required information needed to triage your issue
Sometime between December 28 2021 and January 7th 2022 Javascript based add-ins stopped working on Desktop Outlook 2019 on Windows 11.
Outlook online is unaffected, Outlook Desktop 2019 on Windows 10 is unaffected, It seems to be Outlook setups using the new Webview2 runtime.

## Your Environment

* PC Windows 11
* Outlook 2019/365
* Micro

[2022-01-07 13:24] barclayadam commented on #2335
I have run into a similar problem on Mac (v16.56.1211.0, I also created an incident with ID C4BJ2CBZ), but it does not appear to be because of newlines. I can set complex HTML signatures via. `setSignature`, but only if I do not set `coercionType`:

Either of the below calls work:

[code]

This does not:

[code]

This code works absolutely fine OWA and Windows. On Mac I get the error `{"name":"Inv

[2022-01-07 13:28] rocketboy1908 opened #2352 "Office js: getFileAsync() as PDF returns PP presentations in portrait orientation"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are developing an Office add-in to retrieve PowerPoint presentations in PDF format from the Office JS API and then upload them to a cloud. The issue is that all the presentations a

[2022-01-07 13:28] barclayadam commented on #2335
I have continued to test this and have noticed that the behaviour is different depending on whether this method is called from the task pane or event-based activation.

The task pane will fail even with the change to not pass `coercionType`, whilst event-based activation will allow the HTML to be set regardless of newlines or not

[2022-01-07 16:37] citasionm commented on #2341
So that is what "mixed color" means in the documentation. It is if multiple characters have different colors. I was scratching my head about that. Thanks so much. I'll close the ticket now.

[2022-01-07 16:37] #2341 closed, assigned to RuoyingLiang

[2022-01-07 21:26] lynneosmith commented on #1108
This issue is causing a problem for us as well. We are trying to let our users insert individual elements of a report. This is causing undesirable behavior as the user has to keep repositioning the cursor. Also, this problem only occurs on web Outlook. The cursor is correctly placed at the end of the inserted content on desktop Outlook as described. We are trying to add html and see this problem c

[2022-01-07 21:31] lynneosmith commented on #1108
The html above actually just single quotes around a heading inside an h1 tag. You can replicate this behavior with any simple html.

[2022-01-07 22:34] lwaltman commented on #2307
Yes, technically, you can avoid the exception by detaching from the list.  However, the user would benefit much more from the capability of inserting new list items while maintaining the levels of that original list.  Essentially, inserting new list elements at the location in the original list.

By using this work around, you negate what might be the benefit of inserting at that lists location be

[2022-01-07 22:38] exextoc commented on #2351
To investigate this further, try capturing a [fiddler](https://www.telerik.com/download/fiddler) trace starting before booting Outlook and look for failures and EWS calls that have GetAppManifests.

 Are you able to access the add-in store/Get Add-ins in Outlook Desktop? If not, then the issue could be that [connected experiences](https://docs.microsoft.com/en-us/deployoffice/privacy/connected-exp

[2022-01-07 22:40] lwaltman commented on #2307
We would want to at least arrive at par with Word's existing behavior:   you simply select another list Cut, and then Paste the list into the existing list retaining all of the levels and formatting (esp. if you tab to the correct level).

[2022-01-07 22:50] yihuax-msft commented on #2307
@lwaltman I guess you are NOT starting a new list, but starting a sub-list within this existing list, right? Then startNewList is for starting a new top level list, not for starting a child list.  Suppose paragraph p is a list item and you want to start the child list under p, you can do something like:
var level = p.listItem.level;
var pNew = p.insertParagraph("child item 1", "After");
pNew.listI

[2022-01-07 22:59] yihuax-msft commented on #2307
@lwaltman Tell me what should be after running your script, so I can make some suggestions.

[2022-01-08 02:11] chenxizhang commented on #429
echo this issue, I faced this problem too.

remain use the react-router-dom (5.2.1) can solve this problem, but why office.js set "pushState" to "null"?

[2022-01-08 06:06] honxmsft commented on #2338
Hi @gkfirst8, after we investigated the problem, we found

1. The autofill API with flash fill currently can only work with the range that has only one column.
2. The flash fill content does not support formula. You can also try this in flash fill UI button.

The reason that `Excel.AutoFillType.FlashFill` can work is that the `Excel.AutoFillType.FlashFill` is `undefined`. So the `myRange.autoFill(

[2022-01-08 08:47] clavx opened #2354 "TypeScript type definition for isSetSupported method"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

What is the difference between these `isSetSupported` methods defined in `@types/office-js`?

![isSetSupported](https://user-images.githubusercontent.com/58804032/148637267-ba6cde6f-3

[2022-01-08 18:03] guzman-rc commented on #2329
https://user-images.githubusercontent.com/96702862/148654605-8f1d179a-7bd1-449d-8e02-a74448077aee.mp4

S.O: Windows 10 Pro (64 Bits) Version: 21H1
Web Browser: Chrome Versión 97.0.4692.71 (Build oficial) (64 bits)

[2022-01-08 20:46] sheldoncoates commented on #2349
Hi @chiz-ms, i tried this using border style and you're correct the border style does show as `None`. Now the issue is when i go to re-apply the border to the range by doing `Range.SetCellProperties()`, theres no borders at all on the cells that have the style property as `None`. Is there any way to keep the default borders on the cells that have the style as `None`? Ideally if no border has been

[2022-01-09 21:48] lwaltman commented on #2307
Thank you.  I am going through the script now to use your suggestion for a sub list.

One weird documentation issue came up:

API documentation for insert paragraph seems to say you can use "End" for the insert location, but this causes error; the documentation for this function can be quite confusing.

insertParagraph(paragraphText: string, insertLocationString: "Before" | "After" | "Start" | "En

[2022-01-10 02:50] jipinshi commented on #2349
@sheldoncoates, could you try range.copyFrom("B3", Excel.RangeCopyType.formats), suppose this one can copy style.none if the src range is with style none.

[2022-01-10 05:15] jipinshi commented on #2348
@osvath58, can you help add more repro info and it would be great if there is a video attached.  And how do you see the error? I see you mentioned that the addin itself can work smooth. Does other addin like script lab also can cause the same error?

[2022-01-10 05:44] chiz-ms commented on #2352
Thank you @rocketboy1908 for reporting this issue. @ononder please see if this is a feature request.

[2022-01-10 06:05] Edward-Zhou opened #2353 "Excel AddIn Command Open FilePicker Dialog and read local file"
I want to insert the image from local disk by Excel AddIn Command.

Something like below:

![image](https://user-images.githubusercontent.com/16079555/148724022-cd78bd16-55d4-411a-a033-cea5801afda9.png)

Is there any guide for this?

I tried code below:

[code]
But, it will throw error `File chooser dialog can only be shown with a user activation.`

How to achieve insert local image to Excel works

[2022-01-10 06:06] chiz-ms commented on #2348
This issue has been tracked as ADO#5708643 in our backlog.

[2022-01-10 06:34] benjamin-almarza commented on #2344
The issue disappears when we change plain text content control to rich text.
(Thanks, this would help us for the newer created documents, but we need a solution for the old one )

[2022-01-10 08:00] RuizhiSunMS commented on #3316
@grangeryy  plz take a follow. I've contacted with jinlong.

[2022-01-10 08:03] grangeryy commented on #3316
@wynntee thank you for reporting the issue. We'll investigate the issue soon. @jiju-MS

[2022-01-10 08:37] JensMadsen commented on #2333
script lab AND standalone add-in projects

[2022-01-10 08:51] RuizhiSunMS commented on #3316
Thank you @wynntee for you suggestion. Another way which might better help you is the link of https://aka.ms/m365dev-suggestions called Microsoft 365 Developer Platform Ideas Forum for Microsoft 365 Developers Platform. You can see if your suggestion has been requested or request a new one if not. And please let us know if you add one.
Thanks.

[2022-01-10 09:32] wynntee commented on #3316
Thank you @RuizhiSunMS. I've created a [new suggestion](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/respect-http-cache-control-header-when-caching-an-excel-add-in-s/idi-p/3055887#M593).

[2022-01-10 09:34] yuc014 commented on #2353
Hi @Edward-Zhou,

If you want insert a local image by excel api. You can try this gist for example: https://gist.github.com/yuc014/816444853a4de1b74fbb83c760d28ee9

Reference: https://docs.microsoft.com/en-us/javascript/api/excel/excel.shapecollection?view=excel-js-preview#addImage_base64ImageString_

Hope that would unblock you. Thanks.

[2022-01-10 10:02] RuizhiSunMS commented on #2346
Thanks for your comment, @JHJ-MS please take a look.

[2022-01-10 10:02] exextoc commented on #2319
@g138 The fix has been rolled out worldwide. Could you please verify if the issue is fixed on your end?

[2022-01-10 12:24] guzman-rc commented on #2329
Or add the Outlook add-in for event-based activation on your PC from the url:
https://www.adarsus.com/addin/outlook_event/manifest.prod.xml

[2022-01-10 13:17] Edward-Zhou commented on #2353
Could you share more details about this? If you check my code carefully, you will find I already use the code from your first link.

It will return the error in my original post.

[code]

I want to read local file by Excel Command from Ribbon.

[2022-01-10 13:18] Edward-Zhou commented on #2353
@yuc014
Could you share more details about this? If you check my code carefully, you will find I already use the code from your first link.

It will return the error in my original post.

[code]

I want to read local file by Excel Command from Ribbon.

[2022-01-10 16:02] gkfirst8 commented on #2338
Thanks @honxmsft for explaining.
Maybe good to document the limitation of the API on the flashFill part?
I'll see if I can use the .autoFill(); version. Currently I was able to use worksheet.getUsedRange() to get the range to fill with .autoFill(<range>) which works well.

[2022-01-10 17:03] AlexJerabek commented on #2354
Hi @clavx,

My understanding was that there was no functional difference between the two. I'm going to transfer this to the [office-js repo](https://github.com/OfficeDev/office-js), where the product team can investigate the issue.

[2022-01-10 18:04] yihuax-msft commented on #2307
Thanks, @lwaltman. Which object's insertParagraph method is what you said? I double checked our design and we only have the following three insertParagraph methods that can use "End":
Body.InsertParagraph
ContentControl.InsertParagraph
List.InsertParagraph.

[2022-01-10 18:18] millerds commented on #2333
Are the log messages the same in stand along add-in projects?  All the MicrosoftAjaxDS.js statements seem to be for script-lab which shouldn't be present in the stand alone projects.

[2022-01-10 18:49] lwaltman commented on #2307
Scroll down to second insertParagraph in the Paragraph object:

https://docs.microsoft.com/en-us/javascript/api/word/word.paragraph?view=word-js-preview#word-word-paragraph-insertparagraph-member(1)

insertParagraph(paragraphText: string, insertLocationString: "Before" | "After" | "Start" | "End" | "Replace"): Word.Paragraph;

[2022-01-10 18:54] yihuax-msft commented on #2307
Thanks, @lwaltman, for letting us know. This is clearly a documentation error. @AbidRahman-MSFT, maybe Elizabeth can fix the issue? The metadata file is correct.

[2022-01-10 20:37] jake-chambers commented on #2349
Hi @jipinshi, not sure we understand your suggested solution - but is this not a bug? Can't `getCellProperties()` just be fixed to stop incorrectly returning #000000? Why doesn't it just return the correct border colour?

We're basically saving all the cell states of a spreadsheet in our document database. This is done by storing the JSON representation of each cell, if the border styles are not b

[2022-01-11 01:16] jipinshi commented on #2349
@jake-chambers , I tried below script, and the format and color didn't change. Hope this can unblock you.

   var worksheet = context.workbook.worksheets.getFirst();
    var range = worksheet.getRange("A1");
    var color =range.getCellProperties({
      format: {
        borders: {
          color: true,
          style: true,
        },

      },
    })
    await context.sync();

    var range1

[2022-01-11 03:07] Edward-Zhou opened #2355 "How to insert notes for Range in Excel"
I want to insert notes for excel cell by excel addin.

Based on [Work with comments using the Excel JavaScript API](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-comments), we can insert comments.

But, I did not find any api which shows how to insert notes.

[2022-01-11 03:43] avisheknand opened #2356 "Outlook: Office.context.ui.displayDialogAsync callback seem to be misfiring in OWA"
# Provide required information needed to triage your issue
We have noticed that our dialogs on outlook item send event are showing blank instead of the message we are passing to the Dialog . We are suspecting the issue could reside on the Office.context.ui.displayDialogAsync callback function.

While debugging ( having break point) the dialog events are working perfectly fine. However, without deb

[2022-01-11 04:37] AkhileshShah-MS commented on #2355
@RuoyingLiang Please help Edward with the request.

[2022-01-11 05:54] RuizhiSunMS commented on #3316
roger that.

[2022-01-11 06:15] AkhileshShah-MS commented on #2356
@exextoc could you please help with this issue.

[2022-01-11 06:43] jiju-MS commented on #2222
Thanks for the very details of your scenario which help us to understand more, we will continue dig into this issue.

[2022-01-11 07:17] JensMadsen commented on #2333
This is my add-in https://appsource.microsoft.com/en/product/office/wa200003352?tab=overview

Here some log messages when starting the add-in:

[code]

Have I misconfigured the add-in some how?

[2022-01-11 07:39] JHJ-MS commented on #2326
hi @jake-chambers, does the issue resolved by using shared runtime on your side?

[2022-01-11 08:47] avisheknand commented on #2356
We have another Outlook addin, this addin is a taskpane addin which opens up an dialog on a button click . In that the dialog callback asyncresult status is failed with error code of 12007 ( which means a dialog is already open by the host window) . However, there is no dialog open by the taskpane. I guess there is some updates been pushed out to OWA which is causing this issue. Again all is worki

[2022-01-11 08:48] Edward-Zhou opened #2357 "How to get Excel Cell Top,Left,Width and height and set them for Image Shape?"
I am trying to fill an Image to Excel Cell.

My current thought is get the Top,Left,Width and height of the range, and then apply them to image shape.

But, I fail to get the range property by code below:

[code]
If I use Script Recording, I will get something like
[code]
But there is no `setLeft` method in Excel Addin api.

Here is a demo code:
[code]

[2022-01-11 09:29] JinghuiMS commented on #2321
@savanetllc sorry for the late response, we are always trying to solve your problem.
First, I can't repro this issue in my side. It seems you don't call any API, it fails when you create this addin, right?
If so, could your try to build one new add-in In a good network environment？
Please also try to use the following 2 ways to unblock your self.
1. use setInterval()
Office.initialize = function()

[2022-01-11 10:25] exextoc commented on #2356
@avisheknand Could you please share the add-in manifest with us and the steps to reproduce the bug in your add-in.

[2022-01-11 10:31] savanetllc commented on #2321
Hi @JinghuiMS, thank you for update. By "_It seems you don't call any API, it fails when you create this addin, right_?", if you mean to call my custom API then YES, I do have one API call to Server during 'App=>componentDidMount()" for checking update and then refreshing local store if update available.  If you are asking something else then please explain.

Anyhow right now if I even comment out

[2022-01-11 10:37] yuc014 commented on #2353
Hi @Edward-Zhou,

I tried your code but cannot repro your error, see my repro video below:

https://user-images.githubusercontent.com/87364252/148926483-a9d602a2-cf7d-4484-b290-1dd48b334f2d.mp4

Could you give me some more details about the repro steps?

Also, including the platform you used(desktop, online) and the version would be better.

Thank you.

[2022-01-11 10:47] savanetllc commented on #2321
@JinghuiMS please confirm as an expert. If I setInterval outside of Office.initialize method like this:
`
const render = (Component) => {
  ReactDOM.render(
    <AppContainer>
      <Component title={title} isOfficeInitialized={isOfficeInitialized} />
    </AppContainer>,
    document.getElementById("container")
  );
};

/* Render application after Office initializes */
Office.initialize = () => {

[2022-01-11 10:55] avisheknand commented on #2356
@exextoc i am sending you the Outlook taskpane addin manifest file link here https://customer_resources.s3.us-east-1.amazonaws.com/Office365%20Apps/EmailCaddie/EmailCaddie%20for%20O365.xml

Also, this app is live so you will be able to access in inside Outlook -> Get addins and search for "EmailCaddie"

Steps to Reproduce:

Logon to the OWA
- Select an email and click on the EmailCaddie App ( Open

[2022-01-11 11:46] AkhileshShah-MS commented on #2357
@dingjin-ms could you please help @Edward-Zhou with this request.

[2022-01-11 12:18] exextoc commented on #2356
@avisheknand Thanks for reporting this issue regarding Display Dialog. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2551820

[2022-01-11 12:34] exextoc commented on #2335
@barclayadam The fix mentioned above would solve your issue too. Kindly wait for the next release of the Outlook Mac.

[2022-01-11 13:41] tomprod commented on #2336
Hey, i still have issues inserting a content control in another document, can you please check and tell me why ? It fails at #Client.CodeNAF
Thank you very much
Here is a link to the word document : https://teamwebexpert-my.sharepoint.com/:w:/g/personal/devext_teamwebexpert_onmicrosoft_com/ERmFs9qH1WJAoyehyDza3pcBynB9u3zn84drjOsCVVb7Cg?e=WQOESu

[2022-01-11 14:59] cespujunk66 commented on #2289
Hi , we have had this issue for a while too but today it seems it disappeared. Did someone fix it ?
Thanks

[2022-01-11 15:12] shochdoerfer commented on #2289
Works for me, too.

[2022-01-11 18:50] atsopuronen opened #2358 "Admin deployed add-ins are not automatically pinned to ribbon in Web Outlook in certain circumstances"
## Background
NOTE: This same question was posted on [Office add-ins Community call September 08, 2021](https://techcommunity.microsoft.com/t5/microsoft-365-pnp-blog/office-add-ins-community-call-september-8-2021/ba-p/2747100), and I was requested to post a ticket here.

## Issue explained
Back in Office add-ins Community call March 09, 2021, Microsoft revealed that admin-deployed add-ins would be

[2022-01-11 19:03] jake-certn commented on #2326
Ya everything seems to be okay, really appreciate the help on this @JHJ-MS!

[2022-01-11 19:05] jake-chambers commented on #2326
Ya @JHJ-MS , everything seems to be fine. Thank you so much for your help on this

[2022-01-11 19:05] #2326 closed, assigned to jiju-MS, grangeryy, JHJ-MS

[2022-01-11 19:23] sheldoncoates commented on #2349
@jipinshi as you can see from the initial post, we are doing the following to retrieve cell properties for a range:
[code]
as you can see we are doing as you and your colleague suggested.

when we apply the properties back to a new sheet we do the following:
1. we get our stored data which is the raw jSON from smallRange.getCellProperties. Here a snippet of what it looks like:
[code]
as you can se

[2022-01-11 21:00] ghost commented on #2342
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-12 00:05] hdwatts commented on #1268
@exextoc Would like to get your attention to the above

[2022-01-12 01:04] trigurl commented on #2146
Hi Jeff, I'm trying to see if I can repro this.  Do you know whether your customers are being updated by IT admin vs app store or Microsoft Autoupdate (invoke the check for updates command in Word Help menu)?

Thanks!

[2022-01-12 01:40] Edward-Zhou commented on #2353
@yuc014 Thanks, you teach me how to test code with script lab, it might be an issue with my environment.

[2022-01-12 01:40] #2353 closed, assigned to yuc014

[2022-01-12 02:52] jipinshi commented on #2349
@sheldoncoates , I'm confused by the statements. Can you attach one short video to describe it from end to end to better understand the issue?

The other properties are coming as expected, but borders is not correct. The border color is not #0 by default and applying style None to our new sheet removes the borders completely.

[2022-01-12 03:00] ghost commented on #2351
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-12 05:08] Edward-Zhou commented on #2357
Resolved with
[code]

[2022-01-12 05:08] #2357 closed, assigned to dingjin-ms

[2022-01-12 06:52] dingjin-ms commented on #2078
Hi @christian-sap , we have the fix of add problem on Semi-Annual (Preview) now, and it would be on Semi-Annual Channel on the end of January.

And we have the fix for type related problem checked in, it would be on next Semi-Annual (Preview) also on the end of the January, it would be on Semi-Annual Channel on next July.

Thank you for reporting!

[2022-01-12 08:02] xiaoyuMS commented on #2336
Hi @tomprod
As you can see, there is a <w:snapToGrid/> element which is not supported in Word Online. The value 0 means **Off** value.
![image](https://user-images.githubusercontent.com/90585978/149081959-06b68a58-f113-432c-95e1-2c248f2058d3.png)

There are two ways that I tried to resolve this.
1. Delete the elements directly in xml file.

2. Use UI operation to **turn on** this 'snapToGrid' func

[2022-01-12 08:55] gergelyoroszi opened #2359 "Wrong browser used by Office365"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

As we recently discovered, Office 365 apps use the wrong browser on most of our machines, but not all of them. With the latest Windows 10 updates and Office 365 updates (current chann

[2022-01-12 09:17] dingjin-ms commented on #2338
Thank you @gkfirst8 for advising! ADO #5715727 opened to track the documentation problem.

[2022-01-12 10:01] lukesolar opened #2360 "Getting "Permission Denied" when using saveAsync with Outlook requirement set 1.6 - only for the users own events"
Getting "Permission Denied" when using saveAsync with Outlook requirement set 1.6
- This error only happen for events/items the user did create himself. For events someone else created, where he got invited, the function returns the result and item id just fine.

Affected users have M365 with Outlook 16 (Office 2019), build number 16.0.10382.20010, with highest requirement set 1.6 where we encount

[2022-01-12 10:26] AlexPhilippov commented on #2051
@cidev5, I can share a sort of workaround that worked for us. We noticed that if the add-in has XLL-equivalent, the issue is not reproducible. So we added this code
`		<EquivalentAddins>
			<EquivalentAddin>
				<FileName>donotmatch.xll</FileName>
				<Type>XLL</Type>
			</EquivalentAddin>
		</EquivalentAddins>
`
The downside of this approach is that the format of custom functions is changed after

[2022-01-12 10:58] glr0221 commented on #1519
This did not work for me either.

[2022-01-12 14:57] hdwatts commented on #1268
@exextoc We are experiencing a 404 in a client's Okta SSO request chain which is triggering this issue. Is there a way we can access the problematic URL when a 12002 event error occurs so we can gain any insights into where things are going wrong?

[2022-01-12 15:03] Alex0cean opened #2361 "Excel crash in Mac Desktop app when focussing other workbook"
When we show toaster messages to the user we first call the API Office.addin.showAsTaskpane(); to ensure that the add-in task pane is visible. In Mac Excel the task pane is opened in the currently active Excel window and thus potentially not in the one where our add-in is running.
See attached video. Our add-in only runs in the left window. The right window is just a blank Excel workbook. But when

[2022-01-12 15:35] cbishop-fv commented on #1268
We had to debug these issues in Chrome OWA since it doesn't crash in the same way desktop does and then you are able to look at the network request and console.

[2022-01-12 16:06] sheldoncoates commented on #2349
@jipinshi heres a video example of whats happening in our add in and it shows whats happening as described above:

https://user-images.githubusercontent.com/17774519/149176192-654664aa-17d2-4654-941c-25f9c60cd892.mov

In the video we are saving the data that comes from Range.getCellProperties() from sheet1. its saved as outlined in my earlier reply. And when we reapply those properties to a new sh

[2022-01-12 17:34] preethikakiru commented on #2327
Hello @lkedmi,
Thanks for your question, I'm currently doing some investigation into this and will get back to you soon!
Best,
Preethika

[2022-01-12 17:34] jamding commented on #1392
@AbidRahman-MSFT any update on this?

[2022-01-12 17:35] exextoc commented on #2269
This issue has been fixed and will be part of Outlook android release 4.2152.0. We have started rollout of this release, please look out for the update.

[2022-01-12 17:35] #2269 closed, assigned to exextoc

[2022-01-12 17:36] preethikakiru commented on #2289
Since it seems the issue has disappeared, I resolved the issue.
Best,
Preethika

[2022-01-12 18:24] yihuax-msft commented on #1824
@AbidRahman-MSFT, Do you know who is familiar with the add-in loading issue?

[2022-01-12 19:19] AbidRahman-MSFT commented on #1392
Hey @jamding - are you still facing the same issue? does the issue only occur if right-clicking inside a list? how about a table?

[2022-01-12 19:21] AbidRahman-MSFT commented on #1824
@madhavagrawal17 may be able to help us with these issues.

[2022-01-12 20:18] AkhileshShah-MS commented on #2360
Thanks for raising the issue, @lukesolar. @exextoc Could you please help look into this?

[2022-01-12 20:25] AkhileshShah-MS commented on #2361
Thanks for raising the issue, @Alex0cean. @dingjin-ms could you please help with this.

[2022-01-12 20:27] AkhileshShah-MS commented on #2346
@dingjin-ms could you please help @Edward-Zhou with the query.

[2022-01-12 22:31] SylvaD-MS commented on #2359
Thanks, Gergel for reporting the issue and providing some information above.

It looks like you don't know what is(are) the main difference(s) between your VM with the clean install (not reproing the issue) and the users ' computer(s) which are experiencing the issue.  Could you check whether the users' computer(s) experiencing the issue are domain joined?
Could you also provide the name of the Of

[2022-01-13 00:00] exextoc commented on #2360
Question about the repro, @lukesolar , are you seeing this error on some or all machines with Office 2019 (if so, any rough estimate on how many)?  Is the repro machine specific (same machine, different account)?
Do you see errors with other async API calls?

[2022-01-13 00:06] avisheknand commented on #2356
@exextoc , thanks for the update. Lots of our users are affected by this so any fix/workround for this will be appreciated. Has anyone else raised an issue about this?

[2022-01-13 00:31] exextoc commented on #2360
Other questions: do you see this repro in ScriptLabs (https://appsource.microsoft.com/en-us/product/office/WA200001603?src=office&tab=Overview) or with saveAsync in mail (instead of event)?

[2022-01-13 01:47] jipinshi commented on #2349
@sheldoncoates , thanks for providing the video, with the script I showed you above cannot repro on both online/win32/MAC, so it would be nice to show me the code snip in the demo you are running. Here is the gist I tried https://gist.github.com/dingjin-ms/1d6f2af74bdc34f3fd189231cba36980.

It would make the problem easier to dig out if you can try with Scriptlab to repro the problem with one gist

[2022-01-13 01:50] jipinshi commented on #2349
Here is the gist I tried https://gist.github.com/dingjin-ms/1d6f2af74bdc34f3fd189231cba36980

[2022-01-13 03:08] teerayutRefinitiv opened #2362 "Excel for Mac - Broken icons when displaying on the extend screen"
![image](https://user-images.githubusercontent.com/97648281/149254064-85012990-8346-4f6e-96e4-71f1009a3264.png)

I have tried with many resolutions on the extend screen, all are failed
![image](https://user-images.githubusercontent.com/97648281/149255737-ddbefb32-e8b3-4bb2-8e1c-7041075ffd1c.png)
![image](https://user-images.githubusercontent.com/97648281/149255760-1aa0419e-fa93-4ff8-a8a8-83f38505b

[2022-01-13 05:25] exextoc commented on #2360
I want to also add that I cannot repro this issue so far.  I am using 16.0.10382.20010.  To repro, I create a new meeting and run this code in the addin taskpane:

Office.context.mailbox.item.saveAsync
(
	function(asyncResult)
	{
          console.log(asyncResult.value);
	}
);

[2022-01-13 05:42] exextoc commented on #2356
@avisheknand We were able to reproduce this issue only once on our end. Currently, we are not able to see any repro for this. Are there any specific steps that we need to perform for this repro? Otherwise, can you share any test account with us where we can consistently repro this?

[2022-01-13 06:33] donlawatch opened #2363 "PowerPoint on the web : The icons are not show on the right side of the task pane."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
When I open the task pane in desktop app, the icons show on the right side of the task pane but not on the web.

## Your Env

[2022-01-13 08:15] lukesolar commented on #2360
Hi @exextoc thanks for your answers!
I'll ask the affected customer to give the script lab a try. Unfortunately I could not manage to install that specific Outlook version in my own dev environment. We have a MS Developer Account, do you know how we can install that specific Outlook version?

[2022-01-13 08:32] lukesolar opened #2364 "Support for context menus in Outlook Web Add-ins"
As it seems, currently Outlook Web Add-ins do not support context menus (e.g. the menu which appears when the user right clicks on an appointment).
However, native Add-ins seem to support this (There is a "Send to Onenote" button which appears on Outlook).

This functionality is very useful, especially since Web Add-ins also do not support tasks panes to stay always open. This causes that the user

[2022-01-13 08:55] avisheknand commented on #2356
@exextoc , i was also trying to test it on my side with the taskpane addin and it is no longer reproducible. However, the issue still exist on item send addin for Outlook.

i have a created a test account in my office 365 developer account for you.

emailaddress: exextoc@avishektest.onmicrosoft.com
Password: test@123#$

I have already setup the itemsend addin for you in the account. Also it only h

[2022-01-13 09:35] yuc014 commented on #2361
Hi @Alex0cean,

Thanks for reaching us.

I tried some other addins on Excel 16.56 for Mac, and they look fine.

Then I wrote a gist: https://gist.github.com/yuc014/90ebf43c7116fa57f984437966d9478a. And it also looks fine.
See my video:

https://user-images.githubusercontent.com/87364252/149303835-78733bc1-04b7-48b5-81e0-442379499982.mov

Could you send me your addin code snippet and repro steps? T

[2022-01-13 09:52] gergelyoroszi commented on #2359
Thanks for your response, @SylvaD-MS. In the meanwhile, I could fix the problem. We use a fixed version of WebView2. Replacing it with the latest version seems to solve our problem for now.

Old WebView2 version:       96.0.1054.34
Current WebView2 version: 97.0.1072.55

Even though, I'd like to know if it can occur again in the future and what could cause it so we can prevent or prepare for it. C

[2022-01-13 09:55] lukesolar commented on #2360
The Script Lab Add-in is very useful! Thanks for sharing!

Can you try and see if in your setup what the supported requirement sets are? Because what surprises me, is that if we run that for the affected users, it appears that the highest requirement set is 1.6.

Here's some code which might help.
[code]

[2022-01-13 10:03] stefanoslig commented on #2356
@exextoc we are able to reproduce this issue when we open for the first time the [https://outlook.office.com/mail/](https://outlook.office.com/mail/) and we create a new message. Then the dialogs don't open from the task pane. If you discard the message and then open the task pane again, the dialogs work fine. Then the only way to reproduce it is if you close the [https://outlook.office.com/mail/]

[2022-01-13 10:03] nrueckmann commented on #2260
Thank you for your feedback @chiz-ms

Currently, i'm using a workaround by downloading the file `Office.context.document.getFileAsync` to get the `ModifiedDate`. Unfortunately, Excel seems to touch the file on startup, so the `ModifiedDate` will always be the date when you you open the file or newer. Is this the expected behavior?

[2022-01-13 10:19] avisheknand commented on #2356
@stefanoslig , thanks lots :) ,  yes I was able to reproduce it when a new message is open in the pop up window and then the dialog does not open from the task pane.

@exextoc , i believe all is related when the new message is open in pop up window, the similar issue happens on the itemsend addin as well when sending email using the pop up window ( the video link i sent earlier ) , however in this

[2022-01-13 11:22] AkhileshShah-MS commented on #2362
Thanks for raising the issue @teerayutRefinitiv . @dingjin-ms could you please help with this?

[2022-01-13 11:23] AkhileshShah-MS commented on #2363
Thanks for raising the issue @donlawatch . @lliu113 could you please help with this?

[2022-01-13 11:25] AkhileshShah-MS commented on #2364
Thanks for raising this request @lukesolar . @exextoc could you please take a look into this feature request.

[2022-01-13 12:36] clavx commented on #2356
I am experiencing a similar issue.

You can reproduce it by rewriting the code created by `yo office` as follows.

[code]

https://user-images.githubusercontent.com/58804032/149330177-4faf957d-9ba9-4b72-bb92-45b9fac00fb5.mp4

It seems that both `Failed` and `Succeeded` are being executed when the ` Office.context.ui.displayDialogAsync` API is called.

If you have a code that terminates the process

[2022-01-13 16:08] sheldoncoates commented on #2349
@jipinshi after running your gist i can see that the issue is not the borders but the fill is causing the borders to not show as default. our getCellProperties() has the following load options:
[code]

and when this is run getCellProperties() on an empty sheet the fill is #FFFFFF for all cells... because of this the fill is applied to all the cells when we do setCellProperties() overriding all the

[2022-01-13 19:38] exextoc commented on #2360
As a FYI, I just realize Script Lab is not longer supported with IE browser, for details, see https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

In terms of the features supported in my installation of Office 2019, I am also getting up to 1.6.  {"1.1":true,"1.2":true,"1.3":true,"1.4":true,"1.5":true,"1.6":true,"1.7":false,"1.8":false,"1.9":false,"1.10

[2022-01-13 20:44] osasseville commented on #1392
Hi @AbidRahman-MSFT ,

It does not work in a table or a list.

[context-menu.docx](https://github.com/OfficeDev/office-js/files/7865889/context-menu.docx)

[2022-01-13 20:49] sureshjoshi commented on #2216
Hi @xiaoyuMS and @chiz-ms

Has this fixed reached production? Or is it still in the works?

[2022-01-13 21:54] gitcnd commented on #2232
Please fix this Bug ASAP.  You do not need any more feedback from anyone to find and fix this - search for the string "Bottom of Form" in the Office-product source code, and find the line of old debugging dev code that's been left in there which inserts this unwanted diagnostic text into our documents, and remove that line.

Here are a pile of other people's complaints about this same bug, stretch

[2022-01-13 21:57] SylvaD-MS commented on #2359
@gergelyoroszi, thanks Gergely for providing the additional information.  Did you check Event Viewer (search for crash under application) or turn on logging (https://docs.microsoft.com/en-us/office/troubleshoot/diagnostic-logs/how-to-enable-office-365-proplus-uls-logging) to see whether they were any issue.  It looks like you were able to fix the issue by installing the latest version of WV2 (WebV

[2022-01-13 22:01] gitcnd commented on #2232
Screencast of bug: https://autode.sk/3tqqEY8

[2022-01-13 22:03] gitcnd opened #2365 "The text "Bottom of Form" shows up when not wanted sometimes (please un-close 2232)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Please un-close this was-not-fixed issue: https://github.com/OfficeDev/office-js/issues/2232

[2022-01-13 22:36] gitcnd commented on #2232
Another screencast demo: https://autode.sk/3I1CdZP

[2022-01-13 22:36] gitcnd commented on #2365
demo: https://autode.sk/3I1CdZP

[2022-01-13 22:56] gitcnd commented on #2365
Another demo: https://autode.sk/33mkspo

[2022-01-13 22:57] gitcnd commented on #2232
Another demo - showing the bug with `<form>` and `</form>` at the same time:
https://autode.sk/33mkspo

[2022-01-14 00:35] harshdesh7 opened #2366 "[Outlook For Mac] Need Programatic way to differentiate between Old UI and New UI"
# Need a way to programatically differentiate between using Outlook for Desktop Old UI vs New UI

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: MacOS
* Host [Excel, Word, PowerPoint, etc.]: Outlook for Desktop
* Office version number: 16.56
* Operating System: MacOS Big Sur
* Browser (if using Office on the web): N/A

## Expected behavior
Within office.context interfac

[2022-01-14 01:19] jipinshi commented on #2349
@sheldoncoates, thanks explain more clear, I can repro the issue now. Have opened bug 5721552 to track it. So can you remove fill property first to unblock you firstly?  Will let you know the result if there is update.

[2022-01-14 04:17] JinghuiMS commented on #2321
@jayrathi
This issue about "Tracking Prevention blocked access to storage " issue when calling Office.initialize . I can not repro in my side. Our customer doesn't call any existing Api, just fails to execute office.initialize, do you have any ideas about it to unblock our customer?  Thanks.

[2022-01-14 05:03] xiaoyuMS commented on #2216
It is still in the works of CDN deployment.
I will come back for any update.

[2022-01-14 05:05] teerayutRefinitiv opened #2367 "Can you create function to detect close events on Task Pane?"
I have a problem with detecting and opening the popup before closing the task pane or when the user changes the application on the task pane to show the popup before changing it. Now I can't do it. I need your help to add a function when clicking Change app on the Ribbon, any app that is currently open on the task pane can be recognized before it is closed.

[2022-01-14 06:00] ghost commented on #2343
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-14 06:37] yuc014 commented on #2362
Hi @teerayutRefinitiv,

Thanks for reaching us.

I want to confirm some more details about your issue:
1. Is any other icons in Ribbon appear same issue? Or any other addin's icon face same issue?
2. Have you tried both Mirror and Extend display? And both not work?
3. Have you change your scale rate?
![image](https://user-images.githubusercontent.com/87364252/149461636-38d629b3-58e7-4844-a2b7-9de8

[2022-01-14 07:20] AkhileshShah-MS commented on #2365
@exextoc This issue is in continuation of #2232 . Please take required action to help fix the issue.
@gitcnd previous issue was closed automatically as it was waiting for author's response on additional details for multiple days. Thanks for providing the details and team would look into it.

[2022-01-14 07:29] AkhileshShah-MS commented on #2367
Please provide more details about the issue in the format below

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

## Expected behavior

## Current behavi

[2022-01-14 07:32] AkhileshShah-MS commented on #2366
Thank you for raising the request, @harshdesh7.  @macOutlookExtensibility please help with the request.

[2022-01-14 07:56] gitcnd commented on #2232
Update - the above related to Mac Outlook.  I notice on Windows outlook, it inserts something different, but still unwanted - it looks like this:-

![Screen Shot 2022-01-14 at 5 52 42 pm](https://user-images.githubusercontent.com/4301826/149471422-193aa461-005e-4fa0-9e8a-672794251733.png)

(some weird graphic, followed by [] square brackets)

[2022-01-14 08:36] teerayutRefinitiv commented on #2367
**Your Environment**
Platform [PC desktop, Mac, iOS, Office on the web]: **All Platform**
Host [Excel, Word, PowerPoint, etc.]: **Excel**

**Expected behavior**
App in Task pane can detect when user switching app on Ribbon or close event

**Current behavior**
the app currently running on the task pane cannot detect event close or when the user changes the app from the ribbon. I try to add it in On

[2022-01-14 09:23] stefanoslig commented on #2356
@exextoc any update on this?

[2022-01-14 09:56] exextoc commented on #2366
In the Outlook Old UI, the maximum API Set we support is 1.8. So you could leverage the following API to know whether it is an old UI or new UI.

if (Office.context.requirements.isSetSupported('Mailbox', '1.9')) {
  // Perform actions for new UI
}
else {
  // Perform actions for old UI
}

[2022-01-14 12:00] ghost commented on #2319
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-14 12:52] AkhileshShah-MS commented on #2367
Thank you for providing details. @dingjin-ms could you please help with the issue?

[2022-01-14 15:35] omardoma commented on #1568
We are facing the same issue on Excel for Windows (Edge WebView2). We have an Excel Add-in that utilizes a shared runtime between a Task Pane and Custom Functions. The problem occurs when you attempt to open a workbook that has a custom function written in a cell in any sheet, while you have another workbook already open. So the moment you open the 2nd workbook (with the custom function saved in i

[2022-01-14 15:57] omardoma commented on #2051
We are facing the same issue on Excel for Windows (Edge WebView2). When you have a workbook containing our Office.js add-in’s custom functions, then you load a VBA Add-in and use it’s functionality, it breaks our add-in’s existing custom functions in cells and excel no longer recognizes them as custom functions, they show `#NAME!` and their formulas are changed to start with `_xldudf_`.

Restartin

[2022-01-14 16:51] fiftydegrees opened #2368 "Word paragraphs and ranges return incorrect text with arrow icons"
Calling the getter `.text` on a paragraph or range returns incorrect text if there is an arrow-like icon in the text.

![image (2)](https://user-images.githubusercontent.com/5269843/149552687-3b1b2dbb-ffb3-4598-9bad-1c5c7ddd9257.png)

## Expected Behavior

The actual text is being returned with a Unicode character instead.

## Current Behavior

The text is being returned with an opening parenthesi

[2022-01-14 17:36] wandyezj commented on #2321
@savanetllc

Per [Initialize Add-In Documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in) using `Office.onReady()` instead of `Office.initialize`, might make a difference.

Could you share the `yoman generator command` you used to set up your Add-in or could you share a `GitHub repository with the repro setup`? This will help us debug the issue.

[2022-01-14 20:40] davidchesnut commented on #2348
Hi @osvath58

Can you trace this error to any section of your code and share what it might be doing? Are you trying to create a contextual tab, run a command from a button, respond to an event, or anything that would involve a control id to identify something (button, menu etc...)?

Thanks!

[2022-01-14 23:00] ghost commented on #2342
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-14 23:00] #2342 closed, assigned to exextoc

[2022-01-15 05:00] ghost commented on #2351
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-15 05:00] #2351 closed, assigned to exextoc

[2022-01-15 14:10] tomprod commented on #2340
Hey, any news on this subject ? What i need to do to circumvent this limitation on word desktop is, first detect we're on desktop (because it works on word online), then perform multiple searches for every case, which is not really optimal. Thank you for you help

[2022-01-16 14:58] svdsande commented on #2228
I understand that implementation might benefit from requiring the use of a uniform table. Changing the text orientation once the operations such as adding and removing columns are done might solve the problem. However, I cannot imagine that it is intended to throw an expectation in the scenario that I build.

[2022-01-16 21:43] yihuax-msft commented on #2228
@svdsande , If we let the API fail quietly, not throw an exception, then, how can you know the API failed?

[2022-01-17 03:35] avisheknand commented on #2356
Hi @exextoc , is there any update on this? please note that most of ours users are affected by this. Thanks

[2022-01-17 05:25] robertmclaws commented on #1418
Anything new on this? It's been over a year and more apps are moving to Blazor. We're upgrading our app and would like our Add-in to support Blazor too.

Thanks!

[2022-01-17 05:33] #2343 closed, assigned to nobody

[2022-01-17 05:36] yuc014 commented on #2367
Hi @teerayutRefinitiv,

Thank you for reaching us.

Based on my knowledge, so far we don't have this method.

I recommend going to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) and see if this feature has already been requested or request a new feature.

Thank you.

[2022-01-17 08:24] yuc014 commented on #2260
Hi @nrueckmann,

About the `ModifiedDate` in `Office.context.document.getFileAsync`. It is by design.

Since `getFileAsync` is meant to generate entire document file.

In the generated file I see `<xmp:CreatorTool>Microsoft Excel</xmp:CreatorTool><xmp:CreateDate>2022-01-16T23:53:21-08:00</xmp:CreateDate><xmp:ModifyDate>2022-01-16T23:53:21-08:00</xmp:ModifyDate></rdf:Description>`

So the `Modified

[2022-01-17 08:26] DmitryKostochko opened #2369 "Outlook Desktop, keyboard focus is lost after replying to an email with a pinned add-in"
We are developing an Outlook add-in for compose mode that supports the Pin/Unpin functionality. In Outlook Desktop, the keyboard focus is lost after replying to an existing email if an add-in is pinned.

## Your Environment
* Platform: PC desktop
* Host: Outlook
* Office version number: Version 2112 (Build 14729.20194)
* Operating System: Windows 10 Version 21H1 (19043.1415)
* Browser (if using Of

[2022-01-17 09:21] JensMadsen opened #2370 "Word: crash when insertContentControl from range with section break"
# Provide required information needed to triage your issue
We get an error when inserting a contentControl on a range when a non breaking space (or a section break) is in the paragreaph.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Online
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number:
* Operating System: Ubuntu
* Browser (if using Office on the

[2022-01-17 09:51] exextoc commented on #2356
Hi @avisheknand, We are not able to repro the error at our end, even with the test credentials shared by you. Can you please share some consistent test steps so that we can repro and debug it?

And, please share console logs also if you see any error during the repro.

[2022-01-17 11:27] JHJ-MS commented on #2346
To implement Excel Custom function Add-in using Angular, please see the reply here https://stackoverflow.com/questions/70575286/office-excel-addin-custom-function-with-angular-template/70740530#70740530

[2022-01-17 13:58] g138 commented on #2319
Thanks for the role out.

But following the example from the https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex

On running the app I am getting nothing.

See the image below.

Code base is exactly taken from https://github.com/OfficeDev/Outlook-Add-In-Contextual-Regex

![image](https://user-images.githubusercontent.com/36992519/149782456-af81cac9-e931-419a-9784-976ad31d7e1e.png)

[2022-01-17 15:41] beatrixmorar opened #2371 "Show result for Excel Custom Function in Function Arguments dialog"
Hi,

Is it possible to show the formula result for a custom function in the Function Argument dialog, like it is done for the built-in functions in Excel?

Example for SUM built-in function:
![image](https://user-images.githubusercontent.com/52167887/149799370-1703d8ee-10f1-425f-bba0-a38a3089fcbe.png)

Would like to achieve the same for my custom function:
![image](https://user-images.githubuserco

[2022-01-17 15:42] beatrixmorar commented on #1850
Any update on this bug? When should we expect a fix for it?

[2022-01-17 16:52] sheldoncoates commented on #2349
@jipinshi thanks for your help. we have a requirement to have most of the spreadsheet properties copied so although this resolves the border issue it now creates another with background colors. Where can we track the status of the issue you mentioned above?

[2022-01-17 17:25] savanetllc commented on #2321
Hi @wandyezj, thanks for your comments and it seems `Office.onReady()` did the trick. So I make `Office.initialize` an empty definition and moved initialization code in `Office.onReady()` like this:

`
Office.initialize = () => { };
Office.onReady = () => {
    console.log('in initialize');
    if (!isOfficeInitialized) {
        console.log('initialized');
        isOfficeInitialized = true;

[2022-01-17 18:31] exextoc commented on #2364
In your scenario, would users prefer having a pinned (always open) task pane or the context menu in calendar?  We are also interested in your insights on the preference on right click "Take Notes" over having a "Take Notes" in the ribbon.

Currently the feature: pinned task pane in calendar or context menus, you requested, is not a part of the product. We track Outlook add-in feature requests on o

[2022-01-17 22:06] avisheknand commented on #2356
@exextoc thank you for the update. I also logged in to the test account and saw the issue was not repo. This is because the addin was removed. I believe someone must have logged in and removed it accidently as the account credential was publicly accessible. Is there an email address where i can send you the test account new credential with everything ready setup?

[2022-01-18 01:31] Edward-Zhou commented on #2346
Please check the comments in your link. Can you implement excel addin with custom function in angular with your suggestion?

[2022-01-18 02:25] jipinshi commented on #2349
@sheldoncoates , may I know whether the addin is released now?  What's the status of the addin? And what's the potential number of the end user who may use the addin. As for this bug, need triage team to give priority based on the resource allocation and other impacts.

[2022-01-18 04:48] exextoc commented on #2356
@avisheknand Thanks for your patience. Kindly use this test account
**adelev@M365x07818152.onmicrosoft.com** and the password is **p1moah5j3Q** so that we can try to repro it from our end.

[2022-01-18 05:33] avisheknand commented on #2356
@exextoc , I have set it up on the test account you have provided.

Also the manifest link : [https://sendguardm365.s3.us-east-1.amazonaws.com/Standss/D166A146-14BB-494D-9027-EE218A430ED3/SendGuard%20for%20M365Manifest_TestServer_ClientSideDLP.xml](url)

https://user-images.githubusercontent.com/80862413/149877001-419f7f91-1c89-4b2f-96c9-7cba283fdae9.MP4

[2022-01-18 06:16] JHJ-MS commented on #2371
Sorry, this feature is not supported currently. We track feature requests on https://aka.ms/m365dev-suggestions  You can add your request here. Feature requests are considered when we go through our planning process. Thanks.

[2022-01-18 06:18] SiruiSun-MSFT commented on #2355
Thanks for letting us know this issue. However, currently, the feature: insert notes for excel cell, you requested, is not a part of the product. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests are considered when we go through our planning process. Thanks, Microsoft 3

[2022-01-18 07:45] christian-sap commented on #2078
@dingjin-ms thanks for the update.

[2022-01-18 08:01] exextoc commented on #2356
@avisheknand  We are able to repro the issue and we are working on a fix as quickly as we can. Will keep you updated once the fix is out. Thanks for your support.

[2022-01-18 08:34] avisheknand commented on #2356
@exextoc , thanks for update and giving this a priority

[2022-01-18 08:56] exextoc commented on #2329
@guzman-rc  This feature is currently being rolled out and will be in production by the end of the week. Please let us know if you still face any issues starting 24th Jan.

[2022-01-18 12:00] ghost commented on #2366
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-18 12:04] exextoc commented on #2232
@gitcnd Thanks for your repro video and we are able to reproduce it now. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: 2453187

[2022-01-18 13:28] Edward-Zhou opened #2372 "Excel AddIn Dialog.messageChild not send message to child"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am trying Excel Addin with Dialog API.

I want to create a dialog and then send message with `dialog.messageChild`, but the child not receive the message.

Here is code

Parent
[cod

[2022-01-18 14:03] Edward-Zhou opened #2373 "How to change the Dialog title?"
I am trying Excel Addin with dialog api, and I have such dialog below:

[![enter image description here][1]][1]

How can I change the content in green area?

How can I disable the close button in red area?

  [1]: https://i.stack.imgur.com/qJUZR.png

[2022-01-18 18:52] iotataru commented on #1959
@mariomash you are right, this is an issue caused by browser configs. We ask users to please enable pop-ups in order to use the window dialog (if you get the error) and we ask devs to turn on promptBeforeOpen for the window dialog

@lliu113 please follow-up to document this limitation if not already documented and close this issue

[2022-01-18 19:51] JuaneloJuanelo commented on #2261
@thoriyadaxesh   we know that this API is used to pop a window, can  go in a bit more detail on why you want to pop a page in restricted permission? i wonder why you need that having zero interaction with Outlook does not seem to be add value to Outlook users and as a result you might fail validation in our store.

[2022-01-18 21:46] Jason-Chieh-Lee opened #2374 "Excel Custom Functions stuck on #BUSY for IE 11"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I'm trying to create an Office Addin with Custom Functions. I've generated the addin+custom functions using Yeoman generator and choosing to use Typescript. I can confirm that the cus

[2022-01-18 23:11] exextoc commented on #2369
I was able to repro this only on reboot of Outlook. Once an add-in has been pinned. If you skip the second step of your repro everything is fine?

In other words, if I just pin an add-in to a compose form, then reply to an email. It's fine?

Internal Tracking Id: Office: 5728681

[2022-01-19 02:31] JinghuiMS commented on #2321
Happy to see we find the right expert for this issue. Thanks @wandyezj for unblocking our customer. I assigned this issue to you to better handle it. Feel free to assign back or ping me if you have any concerns. Thanks.

[2022-01-19 03:00] RuizhiSunMS commented on #2368
Thank you for reporting this issue!
We found it a bug and have put this into our backlog with an ADO id of 5726980.
Since it's hard to share timelines at this point, we'd reply if the bug was fixed.

[2022-01-19 07:29] exextoc commented on #2335
@andreyvcita We have fixed the bug, and the fix is available in the latest build 16.57. Kindly test it and let us know your feedback, please.

[2022-01-19 07:36] exextoc commented on #2306
@westconference We have fixed the issue regarding Contextual Add-in. Kindly test it and let us know your feedback, please.

[2022-01-19 08:52] savanetllc opened #2375 "Enable Ribbon button on Excel document load"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We are deveoping Excel JS Addin and have couple of Ribbon buttons, few of them are disabled from manifest file (those are Excel Template specific buttons). So if specific Excel templa

[2022-01-19 09:07] Iso5786 opened #2376 "Store email in separate data store"
Hi,

currently within an Outlook web addon via office-js it is not possible to store a mail in a separate data store (outside the users mailbox).
Via VSTO this is possible.

We would like to have this feature available via office-js as we are working on an encryption solution, and want to give the recipient of a mail the possibility to store unencrypted mails in a local data store, such that they

[2022-01-19 09:45] exextoc commented on #2376
Hi @Iso5786, Thanks for raising the request. Kindly file a feature request, at https://aka.ms/M365dev-suggestions .

[2022-01-19 10:14] Iso5786 commented on #2376
Hi @exextoc,
ok, I did: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/officejs-outlook-store-email-in-separate-data-store/idi-p/3065578#M637

Regards,
Daniel

[2022-01-19 10:43] lukesolar commented on #2364
Posted here: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/context-menus-in-outlook-web-add-ins/idi-p/3065601

[2022-01-19 10:45] lukesolar commented on #2360
Hi @exextoc - Thanks for your comments and insights. We could not reproduce this reliably. The affected users were updated to the Office365 version of Outlook which eliminates this problem. Closing this for now.

[2022-01-19 10:45] #2360 closed, assigned to exextoc

[2022-01-19 11:05] andreyvcita commented on #2335
@exextoc It works! Thanks!

[2022-01-19 11:05] #2335 closed, assigned to exextoc

[2022-01-19 12:36] DmitryKostochko commented on #2369
In general, you are right. To be more precise, the issue occurs just once - when replying to the first message after (re)starting Outlook.

Here's a typical use case:
* The user pins the add-in to a compose form, then replies to an email - all is fine.
* When all the work is done, the user closes Outlook.
* Next day, the user opens Outlook and is unable to reply to the first message. Very annoying

[2022-01-19 16:12] #2376 closed, assigned to nobody

[2022-01-19 18:51] AndyHore commented on #1944
@RuoyingLiang , is there any update on this? We have customers asking on a daily basis if this is being fixed because they caanot use our product with the change.

[2022-01-19 19:04] wandyezj commented on #2321
@savanetllc could you please share a GitHub repository with the code and steps for a repro of the current issue you are facing? Having a repository with the code and steps to repro will help us understand and root cause the issue.

[2022-01-19 19:46] gergelyoroszi commented on #2359
@SylvaD-MS That's right! We didn't need anything special except to use the latest WV2. We use the fixed version and don't use the WV2 Evergreen bootstrapper.

It still looks OK. If it occurs again, I'll reach you with the logs.

Thanks for your help!

[2022-01-19 20:42] cody-lettau opened #2377 "Prevent On-Send add-in error when user clicks different message"
Currently, when an on-send add-in is running after clicking "Send" on a reply, an error will be displayed and the message will be saved as a draft if the user clicks away to another message if the add-in has not completed.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Operating System: Windows 10

## Expecte

[2022-01-19 20:49] exextoc commented on #2364
@lukesolar Would like to clarify, the previous question we asked. Would pinning on the Calendar also solve this issue?

[2022-01-19 21:59] exextoc commented on #2369
Thanks for the report, we've opened a bug with the core team about this, I don't have a timetable to share on when it will be resolved.

[2022-01-19 22:09] exextoc commented on #2377
This is how the feature is currently designed. There are issues that certain Office.JS APIs need the UI to function. Also if the add-in rejects the Send or if there are issues/bugs with the Add-in, then the user wouldn't know that their email wasn't sent. (they could be notified about this in some other way, but that just isn't in the product right now).

One workaround is to use displayDialogAsyn

[2022-01-19 22:14] cody-lettau commented on #2377
@exextoc thank you for the quick feedback here -- much appreciated!

[2022-01-19 22:14] #2377 closed, assigned to nobody

[2022-01-20 03:40] Edward-Zhou opened #2378 "How to use Dialog api in separate class?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am developing with Excel Addin and Dialog api,  I am able to show dialog and send message from parent to child dialog.

But, after I move the part code to a separate class, it can s

[2022-01-20 03:44] RuizhiSunMS commented on #2370
Thank you for reporting this issue!
We reproduced and found it a bug. It has been put into our backlog with an id of 5732037.
We will reply in this issue if the bug was fixed since it's hard to make timeline clear for now.

[2022-01-20 07:21] JensMadsen commented on #2370
@RuizhiSunMS Is there a work around? This is a problem for our users that experience this. I think it happens when users copy from HTML ; so a rather common use case.

[2022-01-20 08:06] RuizhiSunMS commented on #2378
@lliu113 could you please have a look on this?

[2022-01-20 08:06] RuizhiSunMS commented on #2373
@lliu113 could you please take a look on this?

[2022-01-20 09:50] svlc1 opened #2379 "ItemSend event function is called twice"
The ItemSend event function defined in the manifest.xml is called twice when sending. This only happens in the browser, where "the item is popped out to its own browser window or tab in order to complete validation and other processing", see https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=classic.

The function defined for the ItemSend event is called from t

[2022-01-20 09:50] bas-eenhoorn commented on #2312
Maybe this might help someone with the same problem as me. I was having trouble adding localhost to the AppContainer.

I tried all possibilities (full/partial guid, caps/no caps). But it just kept saying 'NOT FOUND'.

My url is not `https://localhost:3000`, but `https://localhost:44303`. And then i thought, but my port is 1 char longer. I took 1 char of the partial guid, and it finally worked! So

[2022-01-20 10:52] els-ts commented on #2241
@xiaoyuMS - (sorry for late reply) if I understand correctly there is no viable option to fix in on web? 🤔   If so, is there a way to at least detect it in Office Online?

[2022-01-20 11:42] exextoc commented on #2379
@svlc1 We are unfortunately not able to repro this issue at our end. It is by design that we trigger the on-Send function twice for validation and other processing.

Can you please elaborate on your use case of onSend to understand the problem better? Are you validating every time an event is created? And, it will be good if you can share a hosted manifest of your use-case so that we can debug the

[2022-01-20 13:01] thoriyadaxesh commented on #2261
@JuaneloJuanelo I want to redirect user to our portal if they need to do more transaction which can not be done using outlook add-ins. So we provided option and when user clicks on it, it should open our portal in default browser. I don't want to pass any outlook/mail information to portal.

[2022-01-20 13:04] svlc1 commented on #2379
We use the event to send a non-idempotent request to our server. As a result, one of the two requests now goes wrong. Depending on which event finishes first the result is now event.completed({ allowEvent: false }) or event.completed({ allowEvent: true }).

[2022-01-20 15:10] lukesolar commented on #2364
@exextoc Yes that would be even better for the customer who requested this. However, having additional options in the context menus is still also valuable. - Is there any chance to get one or both of the features short/mid-term? Is it under active development? Thanks!

[2022-01-20 18:00] chengtie opened #2380 "Evaluation by named ranges by JavaScript API does not work for certain formulas"
I'm trying to rely on named range to [evaluate a formula by JavaScript API](https://stackoverflow.com/questions/70394960/evaluate-a-formula-in-javascript-api-2022). Although this approach works for most formulas, I found that the evaluated results are not correct for certains formulas such as certain formulas with `INDEX`.

I made [this gist](https://gist.github.com/chengtie/4d4d83407de404cd243043

[2022-01-20 18:50] exextoc commented on #2364
I unfortunately cannot comment on any work that the team is doing, but I would not expect either feature in the short/mid term. Pinning in Calendar is something that has been discussed before, and is more likely to be done at some point...but nothing can be committed to at this time.

Adding stuff to the tech community forum is the best way to change priority of these work items. (which you've alr

[2022-01-21 02:25] xiaoyuMS commented on #2241
- Yes, the shading of paragraph is an unsupported feature so that we don't have any ways to remove this shading of the paragraph on web.
- It is not available at the moment, but we have a work item in backlog to improve these error messages.

[2022-01-21 09:00] ghost commented on #2367
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-21 09:00] ghost commented on #2362
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-21 09:29] teerayutRefinitiv commented on #2362
Sorry for late reply.
I'll try to check it again and I'll reply to you.

[2022-01-21 12:00] ghost commented on #2361
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-21 13:25] milankonir commented on #2277
@exextoc It looks like we have falsely identified the `dialogApiAsync` api to be the culprit.

We have managed to collect the diagnostics on a machine where this happens. The error originated from `Office.context.mailbox.item.loadCustomPropertiesAsync`
The diagnostics were collected under id: **QW55BUTU**

[2022-01-21 14:00] ghost commented on #2366
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-01-21 14:00] #2366 closed, assigned to macOutlookExtensibility

[2022-01-21 14:57] xiaoyuMS commented on #2216
Hi @sureshjoshi
The fix is expected to reach production ring by the end of February.

[2022-01-21 20:25] GrumpyAL opened #2381 "Office.context.mailbox.item.itemId returns empty string (Outlook for Mac - New UI)"
There may be an environmental cause to this, but so far we have been unable to find it. We have an Outlook add-in that our customers use.  Part of it's process is to pull the itemID for the email it was invoked on.  One of our customers is seeing that this is coming back as an empty string, only when using the new UI.  We tried the following:

Things that don't work:
-  a new profile
- deleting th

[2022-01-21 20:36] GrumpyAL commented on #2381
Additionally, please let me know if there any additional steps I can take on the client to try to determine if this is an Outlook or add-ins bug or if this is a configuration or client issue.  Thanks!

[2022-01-21 21:10] #2364 closed, assigned to exextoc

[2022-01-22 04:26] exextoc commented on #2381
@GrumpyAL Unfortunately we are not able to reproduce this issue. Can you please share your hosted manifest so that we can repro it and debug better? If you don't feel free to share it in public, please send it to
OutlookAddins@M365x693897.onmicrosoft.com

[2022-01-22 09:00] ghost commented on #2371
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-22 09:01] ghost commented on #2355
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-22 18:56] guzman-rc opened #2382 "Outlook desktop (new Mac OS X UI preview): addFileAttachmentFromBase64Async throws code: 5001, message: "An internal error has occurred." in pinned add-in"
# Provide required information needed to triage your issue
In an Outlook add-in (**new Mac UI preview**) for compose mode, we are using the addFileAttachmentFromBase64Async method to add attachments. In Outlook desktop "**new Mac UI preview**", the "Internal Error" occurs if the add-in's pane is pinned.

In Mac Outlook desktop "**Classic UI**" this method work correctly.

## Your Environment

* Pl

[2022-01-23 06:00] ghost commented on #2368
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-23 09:00] ghost commented on #2306
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-01-23 10:28] beatrixmorar commented on #2371
Thank you for the quick response. I have added a feature request on the developer platform:
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/excel-custom-functions-display-formula-result-in-function/idi-p/3064211#M634

[2022-01-23 10:28] #2371 closed, assigned to JHJ-MS, RuizhiSunMS

[2022-01-23 23:19] danlg commented on #1414
@chucklay thanks for your post. I am facing the same issue but using in manifest.xml a HighResolutionIcon to 80x80 didn't solve it. I am on Mac BigSur OS.
Actually the error is slightly different. I have tried to clear the cache because I wanted to change the default icon but now it cannot reload an addin.
![image](https://user-images.githubusercontent.com/12525045/150702268-22409fc8-987b-47c7-898

[2022-01-24 05:36] RuizhiSunMS commented on #2372
@lliu113 could you please take a look on this?

[2022-01-24 07:27] xiruatms commented on #2370
@JensMadsen , thanks for reaching us.

My investigation based on the testing document you provided showed that it seemed there're some potential format disruption happened which might caused this issue.

I edit the content from scratch in a bank document and got the expected result as following:
![image](https://user-images.githubusercontent.com/40648203/150739009-58663fef-75e3-4b92-b28a-47792dafb

[2022-01-24 08:18] JensMadsen commented on #2370
@xiruatms The problems only shows when there is a NBSP in the document. I think this problem could be caused by content controls. My addin inserts content controls. This works fine but I sometimes experience weird behaviour when a user: 1) uses the addin in Word Desktop (i.e. inserts a contentcontrol), 2) opens the document in Word online.

The addin works flawless if the user only uses Word onlin