[2019-02-26 10:22] robraytaylor commented on #375
Hiya, Yep it is working now. Thankyou.

[2019-02-26 10:22] #375 closed, assigned to exextoc

[2019-02-26 10:26] smndtrl commented on #61
Any update on office client feature to turn off the telemetry?

[2019-02-26 10:54] lumine2008 commented on #405
Thanks @weird-dreams, may i know which office app are you using for getting this error message?

[2019-02-26 11:00] weird-dreams commented on #405
IDL.OFFICELINK (https://appsource.microsoft.com/en-us/product/office/WA104379572?tab=Overview)

[2019-02-26 11:40] david-ps commented on #391
@lliu113 Hi Lillian, thanks for the details about why this constraint has been imposed. Yes, this critical restriction prohibits multiple apps and use cases for Excel that users are seeking and is a deal breaker for some of our planned development.

I do not understand why this restriction is not imposed in PowerPoint where the same OfficeJS Content Panes can "Show as Saved Image" so I assume inco

[2019-02-26 17:00] nabil-nuvolo commented on #401
Hello! I am experiencing the same issue reported here

This was working in Mac Outlook `16.21` however is now broken in `16.22` -- is there a fix scheduled?

[2019-02-26 18:44] deltreey opened #406 "Office Addin Not Isolated"
## Expected Behavior
Doing actions in one Word document should NEVER affect another Word Document

## Current Behavior
When an addin scans a document for changes, it affects ALL open documents, including removing highlight and discarding your cursor even if you're working in an entirely different Word window (without the addin).

## Steps to Reproduce, or Live Example
<img src="https://imgur.com/g

[2019-02-26 20:20] ShannonLCapper commented on #380
I can no longer repro this issue (on Mac Outlook version 16.22.220.1)! That's awesome that this has been fixed! Does anyone happen to know if this got fixed on the Mac application side, or on the JS side?

[2019-02-26 21:53] gajal123 opened #407 "adding Comment changes formatting"
I have created a word addin for data annotation. It allows the customer to select a piece of data and enter a comment in the addin input box. It basically uses Javascript to add comments.xml package part, relationship and the comment reference in the word xml. Finally when i do setSelectedDataAsync, the comment adds fine but the numbering of elements changes.

The cause seems to be the pPr numPr w

[2019-02-26 23:15] kbrandl commented on #407
@gajal123 sorry to hear that you've run into this problem. Issues in this GitHub repository (**OfficeDev/office-js-docs-pr**) are intended for reporting problems with the API *documentation*.  I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for customer-reported API issues such as this.

Also, if you can you please update this i

[2019-02-27 03:03] macOutlookExtensibility commented on #380
Yes, this has been fixed couple of weeks back and now out to public.

[2019-02-27 17:42] JuaneloJuanelo commented on #302
hello all... a quick update here, we are working on a fix, the fix is a bit more costly than expected. in the meantime we have a workaround you can use.

We will update this issue when the fix is published.

 **Use legacy viewer**

1.	Change the Doc.aspx in url to wopiframe.aspx
2.	Insert all the side-loaded add-ins needed as usual
3.	Add-ins now work in presentation mode

[2019-02-28 12:36] nabil-nuvolo commented on #401
@kbrandl Is it possible to understand when this API will be fixed? Or can a workaround be provided?  Our product is not functional on Mac when handling recurring meetings due to this defect

Thanks!

[2019-02-28 12:58] SureshGowthamS commented on #401
The `recurrence` API is part of `1.7 API requirement set` `Office.context.requirements.isSetSupported('Mailbox', 1.7)` returns `false` in Outlook for Mac, so I think the API is not supported yet. Check out [requirement set support](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#clients).

[2019-02-28 13:01] nabil-nuvolo commented on #401
Hi @SureshGowthamS interestingly it was working in 16.21, perhaps you can try to verify.

Is there any way to get recurrence information from a meeting item with the 1.6 API? This seems like a big gap

Thanks for your prompt response!

[2019-02-28 13:26] SureshGowthamS commented on #401
You can try using EWS GetItem request, see if this helps
`<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"`
`    xmlns:m="http://schemas.microsoft.com/exchange/services/2006/messages"`
`    xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" `
`    xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">`
`  <soap:Header><t:RequestServerVersion Version="Exchange2

[2019-02-28 15:06] weird-dreams commented on #405
Any news on this? Our customer is waiting for a solution!

[2019-02-28 19:13] LeszekNie opened #408 "URGENT NEED for an API to insert comments into Word documents fast."
## Several thousand teachers blocked from saving time giving feedback in Word Online.

## Expected Behavior
To be able to insert comments fast and easily by means of an API.

## Current Behavior
Currently, the only way to add comments to a Word document is by manipulating the OOXML structure. It works, but it is so painfully slow in Word Online that it gives a really bad user experience. Each OOXM

[2019-02-28 19:41] lightman76 opened #409 "ContentControl creation failing silently in Word Online"
## Expected Behavior

With the snippet of code provided in gist linked below, I expect a page break to be added to the end of the document, the "Works Cited" title paragraph to be added below that, and then a ContentControl to be added below that, and finally another paragraph below the content control.

## Current Behavior

The code works fine in desktop Word (Office 365) on Mac.  In Word Online

[2019-03-01 00:28] lumine2008 commented on #405
Thanks @weird-dreams, As I am working on Excel, so let mark this issue as word, and let team from Word to aware of this issue.

[2019-03-01 06:15] JingjingHan123 commented on #409
I tried your code on Word Online and found two issues:
1. Cannot insert content control.
2. Cannot change the place holder text of the context control.

For #1, it is a known issue when inserting the content control **after** the **last** paragraph. You can update the code as below to make it works on all platforms.
[code]

For #2, it is not allowed on Word Online. You will get below error message

[2019-03-01 06:26] eldargum opened #414 "sheets.addFromBase64 doesn't work in excel online"
Hi! I like this feature in Excel Desktop, but when  I try to use it in Excel Online, this feature does not work. Also Script Lab example does not achieve the result.
![image](https://user-images.githubusercontent.com/17123278/53620407-ab274200-3c14-11e9-9af6-38e1d4b06764.png)

[2019-03-01 07:22] weird-dreams commented on #405
It does **not** matter which host application is used. The issue exists in Excel and Word and occures at **installation time**.
What are the **minimal requirements** to install an add in concerning network or group policies.
We have not found any **documentation** and most big companies live in a very restricted environment.

[2019-03-01 08:24] david-ps commented on #391
@lliu113 Hi Lillian, We are urgently seeking an answer to the questions I asked above that are key to how we proceed on  a project. Are there any plans to impose the 1000x1000 restriction for Content Panes on PowerPoint and Excel Online?

[2019-03-01 11:00] isawek commented on #377
I try to get the properties at this Point (//Here is some magic...).

i tried to build it with contentControls but there is the same problem in our test environment. I have to load the contentControls and sync the context before open the document but if i do this the document wont get opened.

` let newDoc = await context.application.createDocument(fileToOpen);`

[2019-03-01 11:06] isawek commented on #377
I try to get the properties at this Point (//Here is some magic...). And the doc doesnt open if i do a load and sync before opening.

i tried to build it with contentControls but there is the same problem in our test environment. I have to load the contentControls and sync the context before open the document but if i do this the document wont get opened.

[code]

[2019-03-01 13:12] DomRoth opened #410 "Issue on opening document after context loads and context synchs"
## Expected Behavior
I have a base64 Document and replace its ContentControls values and then open the document.

## Current Behavior
In my dev envirronment with Word as desktop version and hosting the Add-In on localhost everything works fine. But when hosting it on another tenant on azure and using any Word, the document.open() crashes with an GeneralException. I first try to replace placeholder

[2019-03-01 16:01] lightman76 commented on #409
Thank you for that work around!  That got me going again.

[2019-03-01 16:01] #409 closed, assigned to nobody

[2019-03-01 17:38] AlexJerabek commented on #414
Hi @eldargum,

Thank you for reporting this issue. The addFromBase64 method is currently in [preview](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets?view=office-js#excel-javascript-preview-apis), so you will currently need to be in [Office Insiders](https://insider.office.com/) to use it. Which version of Excel Online are you using?

[2019-03-01 17:39] kbrandl commented on #413
@danjyoung thank you for bringing this documentation issue to our attention; we'll investigate and update the docs as appropriate.

@ElizabethSamuel-MSFT is this an issue that you could follow-up with the Outlook product team folks about (and update the docs accordingly)?

[2019-03-01 17:51] Jarch09 opened #411 "Dev Plan?"
Apologies if I missed it, but is there a published dev plan somewhere?

Would love to see the roadmap for expansion / improvement of Office.js functionality. I use Office.js for word and Powerpoint addins... in particular, I find that the PowerPoint API lags behind some of the others (e.g., Excel). Is there a plan in place to continue developing these APIs?

Thank you!

[2019-03-01 18:13] exextoc commented on #413
I've verified that this does not work on Outlook Win32 desktop, and also not on OWA, in appointment compose scenarios.

It DOES work on Appointment Read Scenarios (which I realize is less useful than Appointment Compose)

i.e. just doing something like

`JSON.stringify(Office.context.mailbox.item.requiredAttendees) `

will produce:

`[{"emailAddress":"joe@contoso.com","displayName":"Joe Contoso","

[2019-03-01 22:59] ElizabethSamuel-MSFT commented on #413
@danjyoung: In the meantime, I'll indicate this condition/limitation on the sample.

[2019-03-02 03:48] eldargum commented on #414
I'm Office Insider. Excel Online build = 16.0.11421.31876

[2019-03-04 10:39] david-ps commented on #391
Could I please get an answer to this question... Are there any plans to impose the 1000x1000 restriction for Content Panes on PowerPoint and Excel Online?  @lliu113 @lumine2008 @kbrandl

[2019-03-04 12:19] barisbikmaz opened #412 "No inserting SVG support for PowerPoint in iOS"
## Expected Behavior
The PowerPoint app for iOS should support inserting SVG files.

## Current Behavior
When trying to insert an SVG an error occurs:
**"The specified coercion type is not supported"**
Although the requirements set supports ImageCoercion 1.2

## Steps to Reproduce, or Live Example
[Gist Repo](https://gist.github.com/barisbikmaz/73526f81e1425845fc199506ff871429
)

## Context
We sho

[2019-03-04 18:23] AlexJerabek commented on #414
Thanks for providing that information. I've confirmed the sample gives a "NotImplemented" error when calling `WorksheetCollection.addFromBase64` with the latest version as well.

I'll transfer this issue to the [office-js repo](https://github.com/OfficeDev/office-js) so the product team is aware. They can give you an estimate for when there will be parity between desktop and online.

[2019-03-04 18:55] lliu113 commented on #391
Hey @david-ps , appreciate the reping, sorry for the late response! You've brought up some great points on the inconsistencies, I will make sure we follow-up internally. Does your team rely on the lack of restriction in P/XL online? We have not seen this bug reported elsewhere, so if they are not blocking you, we have no plans to impose the restrictions.

[2019-03-04 21:30] ElizabethSamuel-MSFT commented on #413
I updated the sample to indicate this condition/limitation. That should be published soon (likely this week).

[2019-03-04 21:34] kbrandl commented on #413
@exextoc -- thanks for confirming this limitation and for confirming that it's now being tracked in the team's backlog, and @ElizabethSamuel-MSFT -- thanks for updating the sample. FYI for all -- I'm going to transfer this issue to the **OfficeDev/office-js** repository now (the place where product/platform-related issues are tracked.)

[2019-03-04 22:04] david-ps commented on #391
@lliu113 Hi Lillian, thanks for getting back to me. Yes we do rely completely on there being no restriction on Content Pane size in PowerPoint and Excel Online, so great to hear you confirm there are no plans to impose those restrictions. We do not believe it to be a bug, rather a critical feature. Please let me know if you have any plans to remove this restriction in the Excel Desktop.

[2019-03-05 10:49] sedano commented on #252
Any updates for this fix? Or any place I can check the status of 2578281?

[2019-03-05 15:01] exextoc commented on #413
@danjyoung I tried following code and now I am able to get number of attendees who accepted/declined/gave no response. Can you Please try this once and let us know whether it helps-

var requiredAttendees = Office.context.mailbox.item.requiredAttendees;
console.log("There are " + requiredAttendees.length + " required attendees.")
var accepted=0;
var declined=0;
var none=0;
requiredAttendees.forEac

[2019-03-05 17:39] richnew10 commented on #356
@JuaneloJuanelo, @sumurthy, @wandyezj: I sent @sumurthy an email just now; please feel free to broaden circulation.

[2019-03-05 19:06] kbrandl commented on #252
@sedano `2578281` corresponds to a Microsoft-internal work item, so it's not possible for external folks to access it.

@weshi -- I see that you recently commented on that work item -- can you please provide an update on the status of this fix (by adding a comment here within this GitHub issue)?

[2019-03-05 23:39] kbrandl commented on #414
(Transferring this issue to **OfficeDev/office-js**, as described previously by @AlexJerabek.)

[2019-03-06 01:05] JuaneloJuanelo commented on #414
please note that API is on preview right now, so to some degree its ok that it will not work in other platforms.

[2019-03-06 01:05] #414 closed, assigned to nobody

[2019-03-06 01:07] JuaneloJuanelo commented on #412
imageCoercion is not the same as the SVG coercion. Team is aware of gap and on pipeline.

[2019-03-06 01:09] JuaneloJuanelo commented on #411
The team is focused on Excel and Outlook at the moment and this information can be found (eventually) in our open spec site. https://github.com/OfficeDev/office-js-docs/tree/ExcelJs_OpenSpec

[2019-03-06 01:09] #411 closed, assigned to nobody

[2019-03-06 01:10] JuaneloJuanelo commented on #408
yes unfortunately on Word Online OOXML insertion is slow. Comments in Word is a known gap on the API and already on our backlog.

[2019-03-06 01:10] #408 closed, assigned to RuoyingLiang

[2019-03-06 01:16] Jarch09 commented on #411
Why is this issue closed? You didn't answer my question.

Understand the team's focused on Excel & Outlook at the moment - do you plan to spend more time / resources on the other APIs in the future? If so, when?

It's hard to invest time using / building with these tools if they're going to receive minimal support going forward

[2019-03-06 01:57] JuaneloJuanelo commented on #405
@weird-dreams  sorry about the confusion.

the registry entry is DisableOMEXCatalogs on the path:
HKEY_CURRENT_USER\Software\Policies\Microsoft\Office\16.0\WEF\TrustedCatalogs

you can set a value of 1 to that and asing it via policy.

h[ere is an old article describing this for 2013](https://docs.microsoft.com/en-us/previous-versions/office/office-2013-resource-kit/jj219429(v=office.15)#using-gro

[2019-03-06 02:17] JuaneloJuanelo commented on #376
Thank you so much! for providing the details. Yes this is a known issue. I am assuming you are in the semi-Annual channel. we shipped an update for it on Feb 12th the version is:  16.0.10730.20280

can you please update your client, try it again and let us know if its working? thanks!
juan.

[2019-03-06 16:07] mberacochea commented on #376
Updating the Add In fixed this problem.

Thank you.

[2019-03-06 16:07] #376 closed, assigned to JuaneloJuanelo

[2019-03-07 18:06] #380 closed, assigned to exextoc, macOutlookExtensibility

[2019-03-07 18:16] dmahugh commented on #388
Thanks for the feedback, @RXminuS . As you noted, this isn't supported presently, but you can submit a feature request on [User Voice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback) and others will be able to upvote it there. The engineering team looks to User Voice voting to help prioritize new features, so that's the best place to submit feature requests.

[2019-03-07 18:16] #388 closed, assigned to nobody

[2019-03-07 18:18] #401 closed, assigned to macOutlookExtensibility

[2019-03-08 08:24] JSteunou commented on #378
@dmahugh why closing this issue? I do not see any new release, fix commit, or explanation... This bug is real and still present.

[2019-03-08 13:39] dmahugh commented on #378
My mistake, @JSteunou - I saw your last comment and thought it was working, but I've read both threads and understand now. I'll re-open the issue.

@exextoc or @danielgwilson, can you comment on this dialog API issue?

[2019-03-08 15:13] markb-trustifi commented on #378
Please check if you have this code in outlook manifest:
[code]

[2019-03-08 20:18] RXminuS commented on #388
But then isn't it a bug? Because right now you take in an RGB value but really it should be one of the predefined color value names.

[2019-03-08 20:20] RXminuS commented on #388
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/17326312-support-custom-colors-for-highlightcolor-in-word

[2019-03-09 22:14] 3dot1four opened #415 "[Important] [P0] [Excel Add-In] F6 keypress event is not being passed to Content Add-In - Causing accessibility break"
## Expected Behavior
When I register for the key down event on document Add-In should get the event for all key downs. Including F6.

## Current Behavior
Excel is not propagating or filtering out the F6 key down event.

## Steps to Reproduce, or Live Example
Create an excel content Add-In. Add below code. You will see logs for all the keys but F6.

[code]

## Your Environment

* Platform [PC deskt

[2019-03-10 13:06] splinter commented on #378
Why do we need to allow the MS login domains?

[2019-03-11 02:42] macOutlookExtensibility commented on #402
we are able to repro the error and we are working towards fixing it!

[2019-03-11 03:49] dinglicoding opened #416 "[Excel]office add-ins change pivottable name error"
when change pivotTable.dataHierarchies  name , excel closed and nothing message throw.

the javascript i use

 <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js" type="text/javascript"></script>

    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>

    <script src="https://unpkg.com/core-js@2.4.1/client/core.min.js" ty

[2019-03-11 03:51] dinglicoding opened #417 "[Excel] pivotTable have support Insert Calculated Field"
i create a pivotTable but i can not find how to insert Calculated Field,is support in office.js?

if support have the demo?

thanks

[2019-03-11 08:09] AlvinNiu opened #418 "how to increase the speed of loading office.js"
My customer use Excel Add In  in China,but this is very slowly,because of the office.js.Can I improve the speed of loading office.js

[2019-03-11 13:57] vyazadji commented on #149
@macOutlookExtensibility @exextoc Any updates ?

[2019-03-11 23:34] AlexJerabek commented on #405
Hi @weird-dreams,
Did @JuaneloJuanelo's information unblock your customer?

[2019-03-12 00:46] kbrandl commented on #418
@AlvinNiu thanks for your interest in Office Add-ins. Issues in this GitHub repository (**OfficeDev/office-js-docs-pr**) are intended for reporting problems with the API *documentation*. I'm going to transfer this issue to the **OfficeDev/office-js** repository, where members of the product team can hopefully provide some feedback regarding your inquiry.

[2019-03-12 03:57] dinglicoding opened #419 "[Excel] Chart dataRange Can Use PivotTable Data"
When I Create A Chart.

 const sheet = context.workbook.worksheets.getItem("WeeklyDataPivot");
    const sheet1 = context.workbook.worksheets.getItem("Sample");
 const data= sheet.getRange("B18:B18");
const chart= sheet1.charts.add("Line",data,"Auto")
chart.setPosition("H1","N20");
chart.legend.position="Bottom";

chart.dataLabels.format.font.size=15;
chart.dataLabels.format.font.color="black";

a

[2019-03-12 14:13] cyrelk opened #420 ""onChanged" event does not trigger on cells filled by the list data validation in an Excel Worksheet"
When a user selects a value defined by a data validation list nothing happens ; the onChanged event is not triggered. The event is triggered if the user put the cursor in the entry box and press enter or (s)he deletes the new entry for example. All other modifications (new manual entries, modifications, deletions) do trigger this event.

## Expected Behavior
Selecting a value in a cell from a list

[2019-03-12 16:37] misaunde opened #421 "onActivated Event Handler does not appear to work in Office 365"
onActivated Event Handler does not appear to work in Office 365.

I recently updated to Office 365 and some of my newer code that took advantage of the onActivated Event listener for sheet changes started throwing an "AccessDenied" error with a message of "You cannot perform the requested operation."
![image](https://user-images.githubusercontent.com/10051350/54217442-3c1dd900-44b1-11e9-9ed6-a568f

[2019-03-12 17:42] Biktop commented on #421
I also confirm that onActivated event stopped to work under Microsoft Excel for Mac (16.19 (181109)). But it still works for Excel Online.

I've tried different versions of office.js and found next:

1. Version: 16.0.11328.10000 (Current CDN version https://appsforoffice.microsoft.com/lib/1/hosted/office.js) doesn't work under Microsoft Excel for Mac but works for Excel Online.

1. Version: 16.0.1

[2019-03-12 22:07] JuaneloJuanelo commented on #411
Sorry I thought I answered the question. let me add a bit more details.
Word and PPT additions are on our backlog, but we don't have a clear ETA for its delivery at this point.
In the URL indicated you will get updates about this.

[2019-03-12 23:17] JuaneloJuanelo commented on #412
Hey Baris I noticed that in your code you are not checking of the ImageCoercion 1.2 is supported can you please confirm ? In iOS it should return false. (Use office.context.requirements.isSetSupported )

Thanks

[2019-03-13 10:34] Will-Blackburn commented on #324
@dmahugh / @exextoc / @kbrandl Any update news please? The fix pending label was applied late January but nothing else seems to have happened.

We have a product that is all but ready to release but awaiting the validation schema. Could some one please let us know if this is going to release soon (next few weeks) or if it's something that we could still be waiting for in 6 months time?

It's been

[2019-03-13 10:38] mhzer commented on #324
I would also appreciate an update on this issue.

[2019-03-13 15:17] stowellt opened #422 "Word: Addin is not auto-loading in Word Online with custom WOPI host"
## Expected Behavior
If an addin is inserted into a document, and `visibility=1` in taskpanes.xml in the docx file, the addin should auto install when the document is opened in Word Online.
![image](https://user-images.githubusercontent.com/19392630/54289810-6fbf3880-456f-11e9-843f-1659c8c2816d.png)

## Current Behavior
If the document is opened in OneDrive, the addin is auto loaded. If the docume

[2019-03-13 15:30] vyazadji commented on #149
As a workaround you can save it Exchange:

`Office.context.mailbox.item.saveAsync()`

and then get the body via

`Office.context.mailbox.makeEwsRequestAsync()`

[2019-03-13 16:15] tobiasviehweger opened #423 "Outlook add-in w/ Edge WebView random scaling issues"
## Expected Behavior
Show the UI in a correctly scaled way.

## Current Behavior
Sometimes, the add-in is scaled incorrectly. My guess is this is related to a different scaling factor on my main and secondary monitor. This is Outlook running on my secondary screen (4k) with scaling factor 1.5 (150%). My main monitor is on my laptop (4k) with a scaling factor of 2.5 (250%). My guess is, it's (incor

[2019-03-13 16:26] tobiasviehweger opened #424 "Outlook add-in w/ Edge WebView dialog sizing is wrong"
## Expected Behavior
Correctly size dialogs.

## Current Behavior
Dialogs are not sized correctly (too tall, see screenshots).

## Steps to Reproduce, or Live Example
Open any dialog

## Your Environment

* Platform: PC Desktop
* Host: Outlook
* Office version number: 1904 (16.0.11504.20000)
* Operating System: Windows Insider 19H1 (18353.1)
* Browser (if using Office Online): Chrome

## Useful lo

[2019-03-13 17:38] AlexJerabek commented on #405
@dmahugh, could you transfer this to the [office-js-docs-pr](https://github.com/OfficeDev/office-js-docs-pr) repo? There we can track the need for documentation.
Thanks!

[2019-03-13 23:35] exextoc commented on #324
Please note that there are two different issues described in this thread (that happen to show the same error). Sorry for the confusion.

The schema that Visual Studio uses to validate add-ins is not up-to-date, and I don't have an update on that issue at this time.

The second issue was that On Send add-ins could not be installed via Centralized Deployment. The fix for this second issue has been d

[2019-03-14 10:46] Will-Blackburn commented on #324
@exextoc thank you for the update, I've updated the title to reflect the issue outstanding more accurately

[2019-03-14 12:33] tobiasviehweger opened #425 "Edge WebView: Performance issue with messageParent"
## Expected Behavior
We are using Office.context.ui.messageParent(string) to send messages between a dialog and the ribbon functions handler (to access APIs not available in the dialog). Before upgrading to Edge WebView, this is working really well and the message is received almost instantly (expected behavior). This was working in IE before without issues!

## Current Behavior
With Edge WebView,

[2019-03-15 01:38] LewisPringle opened #426 "the office dialog API versus task panes"
As near as I can tell, the office-js dialog class has these features

*Office.Dialog*

**Pros**:

 - it can be launched from script code

**Cons**:

 - it appears not to be able to access Excel.Run()
   [(stackoverflow)][1]
 - It doesn't appear to support modal dialogs
 - it appears you cannot constrain resizing (for fixed size dialogs - like alerts)
 - You can only have ONE at a time? Meaning if

[2019-03-15 01:40] LewisPringle commented on #426
(note - originally on stackoverflow, but  Rick Kirkham  suggested moving it here.

[2019-03-15 03:32] weshi commented on #420
Thanks for reporting this issue. We have verified and reproduced this issue. This is a bug and we have a fix for it. The roll out to production will take some time. Will update you once it's available.

[2019-03-15 05:41] weshi commented on #421
I cannot reproduce this issue. My build is Version 1902 (Build 11328.20146 Click-to-Run).

Could you share the script you used?

[2019-03-15 10:32] adityathiru opened #427 "Namespace Error on Serializing OOXML (Word Add-In - Windows)"
Currently we are working on building a word add-in for data annotation. The idea is to add comments surrounding relevant pieces of text in the document. To do that, we have to add the comments.xml package if its missing, add the relevant relationships and add the corresponding comment to the document.xml. This problem below occurs when adding the comments.xml package since it might not be present

[2019-03-15 13:14] vyazadji opened #428 "Outlook for Mac: "event.completed()" closes popup opened in "ExecuteFunction" via "Office.context.ui.displayDialogAsync""
Outlook for Mac: `event.completed()` closes popup opened via `ExecuteFunction` and `Office.context.ui.displayDialogAsync`

## Expected Behavior
When I call `event.completed()`, it doesn't close popup which I open via `Office.context.ui.displayDialogAsync`.

## Current Behavior

Dialog closes immediately after calling `event.completed();`
### Note:
- it worked in Mac Outlook till 16.21
- it works w

[2019-03-15 16:02] misaunde commented on #421
Hi @weshi,
Just to clarify, you have [Script Lab](https://www.microsoft.com/en-us/garage/profiles/script-lab/), right?

In Script Lab, I went to to Samples -> Events -> "Workbook and worksheet collection events":
![image](https://user-images.githubusercontent.com/10051350/54444092-a8921580-4707-11e9-9dd2-9394faa55253.png)
and clicked on the buttons outlined in my steps above, I get this error ever

[2019-03-15 17:26] ShannonLCapper commented on #379
@exextoc, we did some more investigation into this bug because it is fairly blocking for the functionality of our add-in. Here's what we discovered:
- Calling `saveAsync` on the mail item does not cause `body.getAsync` to return the correct value, so this is not a viable workaround.
- Calling `body.prependAsync` with an empty string DOES cause `body.getAsync` to return the correct value. However,

[2019-03-16 21:12] smaremanda commented on #425
Thanks for reporting this error. We are taking a deeper look into it. Will update this thread after our investigation.

[2019-03-16 21:12] smaremanda commented on #424
Thanks for reporting this error. We believe this is indeed a bug / error in Edge webview. We are taking a deeper look into it. Will update this thread after our investigation.

[2019-03-16 21:13] smaremanda commented on #423
Thanks for reporting this error. We believe this is indeed a bug / error in Edge webview. We are taking a deeper look into it. Will update this thread after our investigation.

[2019-03-16 23:49] shirbr510 opened #429 "History API's pushState & replaceState are nullified by Office.js"
I'm currently writing an outlook add-in that can also act as a web application.
Office.js's code consists of some history API nullifying logic that turns `history.pushState` & `history.replaceState` into null.
this behaviour will break all Add-ins that try to use modern routing solutions like `react-router`, etc...

## Expected Behavior

history API will remain unharmed.

## Current Behavior

`his

[2019-03-17 04:35] weshi commented on #421
@misaunde Yes, I tried the same sample from Script Lab on Excel Mac/Win32/Online, and didn't reproduce this issue. Could you give it a try on Excel Online?

[2019-03-17 08:36] neso613 opened #430 "displayNewAppointmentForm fails on Outlook for windows to get latest saved Roaming settings."
I am developing an Outlook for Windows Add-in using Office.js. I am using Office.context.mailbox.displayNewAppointmentForm() to open an Appointment window programmatically:
`Office.context.mailbox.displayNewAppointmentForm(
{
  location: '{Location}',
  subject: '{subject}',
  body: '{some text}'
});`

I have designed Setting window UI to take user data and save the data programmatically into Roam

[2019-03-18 05:45] splinter opened #431 "[Outlook] EWS GetAttachment returns an ErrorInvalidAttachmentId error"
We randomly encounter  scenarios (at least it appears random)  where GetAttachment calls made to the EWS SOAP API
return an attachment not found error.

## Expected Behavior
The GetAttachment SOAP request should return the contents of the requested attachment.

## Current Behavior
When fetching attachments we recieve the following error for some files:

[code]

## Steps to Reproduce, or Live Examp

[2019-03-18 05:59] hirossyi73 opened #432 "Not working PowerPoint.createPresentation on PowerPoint online"
## Expected Behavior
If we execute "PowerPoint.createPresentation(base64)", we can create New PowerPoint file both Client PowerPoint and PowerPoint Online.

## Current Behavior
If we execute "PowerPoint.createPresentation(base64)" on PowerPoint Online, not working.
I checked reference, but don't write that this function only works Client PowerPoint.
https://docs.microsoft.com/en-us/javascript/api/

[2019-03-18 15:59] deltreey commented on #406
nearly a month.  Can I get a "we're looking into it" or something?

[2019-03-18 16:11] misaunde commented on #421
Sorry, I don't have Excel Online :(

But according to @Biktop, it still works for Excel Online, so that wouldn't surprise me. It also worked for me using Excel 2016 Desktop 64-bit on Windows 10.

I'm only seeing it not work on Excel 365 desktop 64-bit Windows 10, and I'm seeing this on more than one computer, but again, this is on Version 1808.

[2019-03-18 17:56] JuaneloJuanelo commented on #432
thanks for reporting this. Is the file you are trying to create a PPTX? how large it is?

[2019-03-18 21:52] Rick-Kirkham commented on #426
Some thoughts and questions:
1. I don't think a dialog and a task pane should be thought of as alternatives to each other. They have different purposes. If you add-in needs a visible UI, you should use a [task pane](https://docs.microsoft.com/en-us/office/dev/add-ins/design/task-pane-add-ins). [Dialog](https://docs.microsoft.com/en-us/office/dev/add-ins/design/dialog-boxes)s are normally launched

[2019-03-18 22:30] dmahugh commented on #1005
Hi @richnew10,, thanks for bringing this up. I don't have anything to share yet, but just wanted to let you know we're looking into how to handle CSP documentation going forward. I'll leave this issue open until we have a resolution.

[2019-03-18 23:58] outreach-soren opened #433 "Office.context.mailbox.makeEwsRequestAsync not making network request."
We are attempting to get a mailbox item by id using Office.context.mailbox.makeEwsRequestAsync. The method is never succeeding and is also never erroring. From debugging network requests with Charles it appears that there is no network request being made when we call the method.
## Expected Behavior

We expect the method to either return the item or throw an error.
## Current Behavior

Nothing hap

[2019-03-19 00:39] hirossyi73 commented on #432
I want to try creating a new(empty) PPTX file.

[code]

And I tried to create a saved pptx file using base64.

[code]

This file is very simply, not large. It's 34KB.
![image](https://user-images.githubusercontent.com/8457265/54572451-e86c3c00-4a2a-11e9-8d31-2036d27a67ad.png)

[2019-03-19 00:57] exextoc commented on #430
This is a known limitation of the RoamingSettings API.

From the roaming settings [doc](https://docs.microsoft.com/en-us/javascript/api/outlook_1_7/office.roamingsettings?view=office-js): The RoamingSettings object is initialized from the persisted storage only when the add-in is first loaded. For task panes, this means that it is only initialized when the task pane first opens. If the task pane n

[2019-03-19 01:11] exextoc commented on #431
To verify, this issue is occurring in Outlook Desktop, not Outlook Web App, correct? Do you get this error in read or compose mode?

The issue you are observing may be related to inconsistent item state. Changes to an item via EWS/ REST (MakeEwsRequestAsync, or via a backend call), are updated directly in the exchange server. Changes made to an item using the Office.js API go to the client first a

[2019-03-19 02:38] LewisPringle commented on #426
Please allow me to provide more detail as to what I tried to do, and how I failed.

My plugin needs what you can think of as an 'open' dialog. You essentially import data from a server into an excel spread sheet.

Typically, on windows, this sort of thing would be done with a modal dialog, hence I selected your dialog API.

Then - I discovered - sometimes network accesses fail - and so i need to b

[2019-03-19 05:55] splinter commented on #378
@dmahugh I think we should we mark this as an open bug.

[2019-03-19 06:52] jipyua commented on #432
The API is back and it's working now, please have a try.

[2019-03-19 07:11] nehasoni3 commented on #430
Agree. But the same things works fine with Outlook for Mac.

[2019-03-19 07:12] neso613 commented on #430
Agree. But this same is working well as expected
with Outlook for Mac.

[2019-03-19 09:30] markb-trustifi commented on #378
I'm using outlook dialogs to login to Microsoft Exchange server. If you intend to login to different target (SAML SSO) you have to add to manifest other urls.

[2019-03-19 09:42] Edward-Zhou opened #434 "Outlook AddIn Call Graph API, AppDomains not work"
I am following [office-js-helpers](https://github.com/OfficeDev/office-js-helpers) to enable SSO login, and then use the accesstoken to call Graph API.

But, [Authentication](https://github.com/OfficeDev/office-js-helpers#authentication-1) will open the login windows in a new tab even I have added in manifest.xml

    <AppDomain>https://login.windows.net</AppDomain>
    <AppDomain>https://login.mi

[2019-03-19 09:47] Edward-Zhou opened #435 "Office.context.auth.getAccessTokenAsync throw Cannot read property 'Version' of null"
I am use `Office.context.auth.getAccessTokenAsync` to request accesstoken, but it throw error below:

    at Object.callback (outlook-web-16.01.js:16)
    at rt (outlook-web-16.01.js:16)

## Expected Behavior
Get the access token correctly.

## Steps to Reproduce, or Live Example
Demo:

[OutlookOneDriveGraphAddIn](https://github.com/Edward-Zhou/OutlookOneDriveGraphAddIn)

[2019-03-19 11:56] rimadu opened #436 "[Word Online] Can't type text after contenControl"
After inserting a content control on an empty line, the user cannot type any text into the document until they press right arrow and enter. Content control takes full width of the document.

![full width content control](https://i.imgur.com/QpEMyvK.png)

## Expected Behavior
Be able to type text after inserted text (outside of content control)

## Steps to Reproduce, or Live Example
- Open an empt

[2019-03-19 12:38] splinter commented on #431
We get this error in read mode.

We are not manipulating the files using the EWS API or the OfficeJS API.

[2019-03-19 14:07] hirossyi73 commented on #432
OK! I can create on PowerPoint Online!! Thanks!!

[2019-03-19 18:20] kbrandl commented on #433
@macOutlookExtensibility can you please look into this issue?

[2019-03-19 18:45] exextoc commented on #430
This is the expected behavior for RoamingSettings on the Outlook for Windows client. It is possible that this is only a limitation specific to Outlook for Windows and the Outlook Web App.

[2019-03-19 19:41] outreach-soren commented on #433
This started occurring for us with the 16.24 version of Outlook for Mac, although the behavior there was slightly different. The callback would be called, but with an empty value. Still no sign of an actual network request being made though. The issue as described above where the callback is never called started occurring in 16.23.

[2019-03-19 20:56] Oleg-O commented on #379
The team is looking into fixing this..

[2019-03-19 21:02] exextoc commented on #431
The issue you are seeing may still be related to inconsistent item state, even without using the APIs to manipulate files. For example, in read mode, this can be caused by moving the item to another folder. Due to cache mode it may take some time for the client/server to sync. If you try to get the attachment, it might not have synced to the server yet and no longer exist, resulting in an error.

[2019-03-19 23:23] JuaneloJuanelo commented on #436
@rimadu  thanks for reporting this issue, i was able to repro it.  i created a [Script Lab Snippet](https://gist.github.com/JuaneloJuanelo/5310508e101f950cf4f044e8f5cf1837)

We are tracking internally with 3237296

[2019-03-20 07:35] hatsukiotowa commented on #355
I have faced the same issue but with different Office Build. Could you provide help or fix on this, thank you.

Windows:
Windows Installer Version       5.0.16299.967
OS Details                      Microsoft Windows 10 Pro, SP 0, Version: 10.0.16299, Codepage: 1252, Country Code: 1, Language: 1033, System Type: x64-based PC

Office:
BuildNumber                     16.0.11328.20158
Version        

[2019-03-20 08:11] splinter commented on #431
Some of the files we tested were several days old.Could this be caused by the interference of a COM add-in or even another web add-in?

[2019-03-20 08:16] Edward-Zhou commented on #367
For dialog, it is reasonable, it should redirect to login windows in the word task pane instead of opening a new window tab.

[2019-03-20 13:45] kbrandl commented on #355
@niteshgolchha85 FYI, an SSO issue with another build of Word. I'll reopen this issue so that you can engage with the customer (@hatsukiotowa).

[2019-03-20 14:31] pziff commented on #292
@JuaneloJuanelo @kbrandl this is a pretty significant issue as it pertains to a key standard and should be used by virtually any add-in connecting Word to another system.  I see many other seemingly more minor issues getting more attention.  How can we escalate and get this resolved?

[2019-03-20 17:10] MarieLePanda opened #437 "'allow-top-navigation' or 'allow-top-navigation-by-user-activation'"
No possible to call Graph API in OWA

## Expected Behavior
When I run an add-in, in Outlook Desktop who will use Graph API my taskpane display the login page to ask the constent of user. My expected behavior is to have the same thing in OWA with lastest navigator

## Current Behavior
Currently on OWA, if I try to connect my user to graph API, the following error is display on the console

Unsafe J

[2019-03-20 19:56] adityathiru commented on #427
@JuaneloJuanelo Can you please look into this issue?
Thanks! :)

[2019-03-20 20:20] Zlatkovsky commented on #429
FYI, there appears to be a related question (and explanation/workaround) here:  https://stackoverflow.com/questions/42642863/office-js-nullifies-browser-history-functions-breaking-history-usage

[2019-03-20 20:52] Rick-Kirkham commented on #426
I think I understand better.
1. Task panes are declared in the add-in's _manifest_, not a function file. (Task panes can be opened from ribbon buttons that are also declared in the manifest.) This was confusing because there is something called a FunctionFile.html (and FunctionFile.js) in Office add-ins, but these have a different purpose. They are not used to statically declare task panes.
2. I d

[2019-03-21 00:08] Rick-Kirkham commented on #189
@ATrogolo This should be fixed. I'll close this. If you are still having this issue, please add a comment here and we can reopen it.

[2019-03-21 00:08] #189 closed, assigned to Rick-Kirkham

[2019-03-21 00:16] cindymeister opened #438 "Information for get​Item(index) is incomplete / misleading"
The explanation for getItem(index) is: "Gets a content control by its index in the collection." And the expected data type is "number". This implies the method returns the content control at the given position in the document (first, second, etc.) Using the method in this manner returns the error "ItemNotFound: We couldn’t find the item you requested. Check the OfficeExtension.Error.debugInfo for

[2019-03-21 00:22] exextoc commented on #431
If a COM add-in is moving the item around in the client, it is possible that the server has not synced yet and you will get this issue. Could you verify if there is any possible add-in moving items around? If this is not the case (the item has not moved recently) and since this is happening in read mode, then you are probably right that this is not a client/server syncing issue. It might be an EWS

[2019-03-21 00:45] Rick-Kirkham commented on #364
pinged Ryan McMinn and Gary Neitzke

[2019-03-21 00:46] #426 closed, assigned to Rick-Kirkham

[2019-03-21 01:23] LewisPringle commented on #426
For point #2, try using the excel open dialog. You'll note its a modal dialog. Try to find ANY application on windows where the open dialog is NOT a modal dialog. That's what 'lies behind your assertion'.

Also since I've seen my applicaiton, and you have not, you'll need to take my word for it (unless you'd like to see a demo) - the open / chart selecting/data import dialog is a very small part t

[2019-03-21 02:31] GuoGuitang opened #439 "Formula Bar doesn't Update Automatically after changes In Excel Add-in"
Here I'm in an Excel Add-in, in a .xlsx file
In Range C3: C6 there are formulas that in the same type VLOOKUP

![image](https://user-images.githubusercontent.com/36781921/54730414-cbb73c00-4bc3-11e9-948c-7a8b307659d9.png)

And In `index.js` my code is
[code]
And before the code running above, the range C3: C6 is **selected** , looks like the first Pic shows.
So I expect after the code running, the

[2019-03-21 08:50] neso613 commented on #430
Can I expect that the fix of this limitation is made in future soon?

[2019-03-21 09:05] neso613 opened #440 "Roaming Settings not visible on Setting UI."
I am developing Outlook web add-in. I have designed setting UI to get-set the user data.
This settings UI opens when roaming settings is empty.It works fine.
As per business logic I have to set the roaming setting before schedule the meeting/appointment. I can set the user data into roaming settings.

But when I click the add-in command,
`<Action xsi:type="ExecuteFunction"><FunctionName>MySettings

[2019-03-21 13:50] garrit-schroeder opened #441 "office.js callbacktoken for ews write operations."
Hello and thanks in advance.

Is it possible to use the token returned by getCallbackTokenAsync() for write operations in the ews api?

My scenario is:
I want to send the callbacktoken to a backendserver, which uses this token with the ews api to read the mail. Works great!
Put after that i want to move the mail into another folder. That does not work. I get the error message:
The requested web me

[2019-03-21 16:39] niteshgolchha85 commented on #355
DIscussed offline and asked to
1. Restart Office and try again
2. Check if the customer is on the Insider channel

[2019-03-21 20:51] exextoc commented on #429
The internal Outlook browser has does not support the History API. The `history.replaceState` and `history.pushState`  are visible but just throw “unspecified error” when used. Due to this behavior, the history objects are set to null in Office.js by-design.

[2019-03-21 21:29] shirbr510 commented on #429
@exextoc any plans on supporting the history API anytime soon?
Also, on which specific environment is it not supported? Ios native browser? Android?
Cause locally on my mac with the native outlook it appears to be working properly

[2019-03-22 00:24] exextoc commented on #430
This is a known bug and it is currently in our backlog. Unfortunately, there is no timeline at this time for when this might be fixed. A workaround is to close and re-open the mail item in order to retrieve the saved Roaming Settings.

[2019-03-22 00:28] exextoc commented on #440
Since you are using uiless commands, RoamingSettings is initialized from the persisted storage only when the item is opened. A workaround to access the persisted changes, is to close and re-open the item. We are aware of this bug and have added it to our backlog. Unfortunately, at this time, there is no timeline for when this bug will be fixed.

[2019-03-22 04:38] neso613 commented on #430
OK.Thanks for replying and making it clear.

[2019-03-22 04:39] neso613 commented on #440
alright. Thanks for replying.

[2019-03-22 09:17] cyc4 commented on #355
Thanks @kbrandl and @niteshgolchha85

[2019-03-22 11:50] exextoc commented on #437
Which platform are you using: old-OWA or new-OWA (option which appears on right hand corner: Try the new outlook)?

[2019-03-22 14:07] MarieLePanda commented on #437
Hello, same issue on the both, but after discussion with Graph Expert, it point me this documentation to maybe solve the issue https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#use-the-dialog-apis-in-an-authentication-flow
But if I'm correct, the issue must probably fix in adal.js in the method login https://github.com/AzureAD/azure-activedirectory-library-fo

[2019-03-22 14:56] exextoc commented on #437
Yes,For authentication flows, we recommend using the [Office.js Dialog API](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#use-the-dialog-apis-in-an-authentication-flow). The section of the documentation I linked to describes how to use the API to implement an authentication flow to call Graph Apis in OWA.

[2019-03-22 15:17] MarieLePanda commented on #437
And so Adal.js ? useless ?

[2019-03-22 23:29] MakotoE opened #442 "Activating a new worksheet results in unexpected worksheet behavior"
## Expected Behavior
1. Run script which adds a new worksheet, then activates the new worksheet.
2. Typing using the keyboard adds letters to the currently selected cell.
3. Clicking outside the selected cell will exit edit mode. Moving the cursor does not highlight cells.

## Current Behavior
1. Run the script.
2. Typing using the keyboard adds letters to the currently selected cell.
3. Clicking

[2019-03-23 16:50] neso613 opened #443 "Microsoft Outlook v16.22.0.19021100 crashes on Outlook for Mac"
I'm developing Outlook Add-in. As per my requirement, I am opening an appointment with some text programmatically. Text can be added/removed on the click of some button. Text can be of different language like Chinese, German, Dutch, France, Spanish etc. When I open an appointment and add/remove text, outlook crashes again and again.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office Onl

[2019-03-24 08:08] shirbr510 commented on #429
@Zlatkovsky I actually posted a similar solution on stack overflow to a different variation of this question (that might be a duplicate to the one you posted)
https://stackoverflow.com/questions/33954663/unable-to-use-window-history-replacestate-function-in-mail-addin/55202524#55202524

[2019-03-25 07:51] barisbikmaz commented on #412
Hi @JuaneloJuanelo thanks. I've updated my gist sample. Yes PowerPoint for iOS returns true for the check isSetSupported('ImageCoercion', 1.2).

[2019-03-25 20:45] kkerr1 commented on #433
@macOutlookExtensibility / @kbrandl any update on this or more info we can provide?

[2019-03-26 06:49] macOutlookExtensibility commented on #433
We are having trouble reproducing this issue. Could you please provide details of the account used? Is it an Exchange account? Does it happen for multiple accounts or just one?

[2019-03-26 08:51] lumine2008 commented on #442
Thanks @MakotoE, I have tried in my side, looks it is not repro.
I am using 16.0.11523.35900 in Chrome on windows 10.

[2019-03-26 08:59] lumine2008 commented on #439
@GuoGuitang , could you have a try to add context.sync(); before range.select()? please let me know if this is updated or not. thanks

[2019-03-26 09:26] MakotoE commented on #442
Sorry, I don't have either Firefox or Chrome on my Windows machine, but I tried this on Chrome 73.0.3683.75 for Linux, and I couldn't reproduce it, which might mean that this is a **Firefox** specific problem. It could not be reproduced on Edge. Do press the "Highlight selected range" button twice as the first time does not exhibit the bugged behavior.

[2019-03-26 09:34] MakotoE commented on #442
I just installed Firefox 66.0.1 on Windows 10 and reproduced the bug, which means this is not OS specific.

[2019-03-26 13:30] macOutlookExtensibility commented on #443
We are not able to reproduce this in the 16.22 (190211) build. How are you adding / removing text to the email body? Are you using the body.setAsync API?

[2019-03-26 14:49] #432 closed, assigned to nobody

[2019-03-26 14:49] robballou commented on #435
I also get this error when using `Office.context.ui.messageParent` from a dialog iframe.

[2019-03-26 14:58] hirossyi73 opened #444 "Not contain Windows NT 10.0 in osList in function "shouldUseLocalStorageToPassMessage" so cannot execute Office.context.ui.messageParent"
## Expected Behavior
We can close dialog using function "Office.context.ui.displayDialogAsync" and "Office.context.ui.messageParent" with IE11 and Windows10.

## Current Behavior
We cannot close dialog.
Because not contain "Windows NT 10.0" in function "shouldUseLocalStorageToPassMessage".

[code]

Windows10 is "Windows NT 10.0", so this function is false.
And if "shouldUseLocalStorageToPassMessag

[2019-03-26 16:31] Rick-Kirkham commented on #364
This is still a bug.

[2019-03-26 18:58] rodrigoguariento opened #445 "Microsoft Whiteboard"
Is there a way to use office-js to interact with Microsoft Whiteboard? Thanks.

[2019-03-26 21:58] jargil commented on #423
Thanks for reporting this bug! Indeed this was a bug in our code involving multiple monitors with different scale factors, which I've addressed now.

[2019-03-26 22:04] jargil commented on #424
Indeed a bug in our code. I've fixed this in our side and should rollout soon.

[2019-03-27 07:15] GuoGuitang commented on #439
@lumine2008

I have tried it, just like
[code]
But it still didn't update the Formula Bar.

[2019-03-27 16:40] outreach-soren commented on #433
This is happening for all accounts we have. Our accounts are all normal o365 accounts. It does seem to be specific to mac Mojave though. We've tried to repro on a machine running Sierra, with the same Outlook version, and it does not repro there.

[2019-03-27 18:05] JuaneloJuanelo commented on #445
Hello @rodrigoguariento .. no we currently not support Whiteboard. Please add your idea into our user voice channel. https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=169836

[2019-03-27 18:05] #445 closed, assigned to nobody

[2019-03-27 22:37] donpinkus opened #446 "How to do automated testing on an Office add-in"
Apologies for posting a `how-to` question to the repo. There's been a [StackOverflow question](https://stackoverflow.com/questions/40700540/automated-end-to-end-testing-for-office-add-in) open for this since 2016 without an answer.

## How do you do automated testing on an office add-in?

For example, if you've built a plugin for Microsoft Word, how do you run tests that interact with Word's API?

[2019-03-28 04:46] exextoc commented on #437
Hey @MarieLePanda, the Adal.js authentication in the example they have sited would work for an independent page, but since the add-in is a sandboxed environment, Certain behaviours are restricted such as opening a popout, without using dialog APIs. You would have to use the Dialog API for authentication in your case.

[2019-03-28 04:58] splinter commented on #431
I checked with our client and they mentioned that they are not using any COM add-ins and the Exchange server is not on premise. Is  there any support channel that they can use to escalate the issue?

[2019-03-28 11:31] htryggva opened #447 "Inserting picture with insertInlinePictureFromBase64 is inconsistent between platforms"
When I use the ContentControl.insertInlinePictureFromBase64 method to insert a picture, the size of the picture is not respected on Word Online.

## Expected Behavior
I would expect the original size of the picture to be respected, like on Word for Windows.

## Current Behavior
Word Online inserts the picture with an incorrect size.

## Steps to Reproduce, or Live Example
https://gist.github.com/j

[2019-03-28 12:17] dmarkovtsev commented on #433
Just hit this issue in Outlook for Mac 16.23. Request is indeed never completed and according to vorlon.js even not sent.

[2019-03-28 14:19] efim23 commented on #433
Just got same error (macOS 10.14.3, Outlook for Mac 16.23.1).
Callback which is second argument of Office.context.mailbox.makeEwsRequestAsync() rising error (screenshot attached).

Btw, Outlook on Windows works fine for same case.

![error](https://user-images.githubusercontent.com/49032539/55164990-43153e80-5175-11e9-8df1-f8ce656c6997.png)

[2019-03-28 14:43] macOutlookExtensibility commented on #433
We are able to reproduce this issue in build 16.23 now (though it is inconsistent). We are working on it and will fix this ASAP.

Meanwhile, you can try updating to the latest Insider builds, as we do not see this bug on them.

[2019-03-28 16:47] vyazadji commented on #433
We faced with the same issue in Mac Outlook 16.23.1(190326)

[2019-03-28 17:04] dannycurrie opened #448 "Repeated calls to insertHtml() causes 413 Http Error"
Our application needs to update content in several `ContentControls` in a single operation. Currently, we are using `insertHtml()` to do this, however we have noticed that Office365 can become unstable after a few rounds of updates.

Digging into this, we noticed that the `form-data` for a particular request in the console was returning a 413 error, as it was becoming too large.

The failing post

[2019-03-29 01:10] dinglicoding opened #449 "chart support multiple YAxes"
hi

if office.js support multiple YAxes like the below chart?

![image](https://user-images.githubusercontent.com/3963826/55202446-6cc87700-5202-11e9-9c2a-80a9bab89fce.png)

thanks

[2019-03-29 02:12] BlazorDashboard opened #585 "How to add Newline in return result?"
Any idea how I can add a newline character in the return result of a custom function? The below does not work for me.

return "a\nb";
return "a"+String.fromcharcode(10)+"b"
return "a"+String.fromcharcode(10)+String.fromcharcode(13)+"b"

[2019-03-29 02:39] keyur32 commented on #585
Hey, can you tell me about the scenario and what you are trying to do with the function?

[2019-03-29 02:44] BlazorDashboard commented on #585
I am trying to generate a QR Code using a custom barcode font. The output in the cell is somehing like

111111
100001
100001
111111

[2019-03-29 06:57] splinter opened #450 "[Outlook] [REST] Properties set via REST API not returned by OfficeJS API (even after synch delay)"
We are noticing that custom properties that are created using the Outlook REST API[2] are not accessible with the OfficeJS API[1] using the loadCustomPropertiesAsync callback. This is happening even after we compensated for any possible synching time (~5 min).

## Expected Behavior

Any custom property that is created with the Outlook REST API[2] should be accessible with the loadCustomPropertiesA

[2019-03-29 08:26] XiangGaoMSFT commented on #436
@rimadu thanks for reporting this issue. This issue has been fixed and you can test it now.
I'll close this issue. Please feel free to reopen it if you still have this issue.

[2019-03-29 08:26] #436 closed, assigned to weshi

[2019-03-29 09:06] weshi commented on #447
In our API implementation in Word Online, we assume the picture is png/bmp/jpg. If the base64 encoded stream is a picture of these formats, we didn't see a difference btw Online and Desktop. However, we do see the different behavior in your picture. Could you let us what format of this picture you are trying to insert so that we can do more investigation. We suspect it might be caused by the forma

[2019-03-29 22:14] cawise opened #451 "getFileAsync() does not support .xlsm format"
TL;DR Are .xlsm files containing macros not supported? This seems to be the case but I have not seen a definitive answer.
--

My add-in sends the file contents to the server, where it is saved to the filesystem. This has been working fine until we started using XLSM files that contain macros. When these files are sent, the resulting file on the server has a smaller size than the original. Opening

[2019-03-30 11:00] engage-deepakagarwal opened #452 "Error while calling service from angular component opened in office-js dialog"
My application is built on Angular 5 and we are using Office.js for interacting with MS office word document.

Step 1: Invoking office displayDialogAsync to load the component.

![image](https://user-images.githubusercontent.com/45327371/55275219-f82c3000-5308-11e9-9016-6c6c0bc5452c.png)

Step 2: Within the attribute-users component, I am invoking HTTP GET to get all users based on the search term

[2019-03-30 18:24] Rick-Kirkham commented on #452
See my answer to the StackOverflow question that you raised. I'll close this. It's better to track technical questions like this in Stack Overflow so that the whole community can benefit from the answers that you get.

[2019-03-30 18:24] #452 closed, assigned to nobody

[2019-03-30 20:11] htryggva commented on #447
Hi @weshi. Thanks for your reply. The picture is a 100x100 pixel jpeg image with 240 dpi:

![b1ce092d-6184-4b08-8511-71d515c1aaac](https://user-images.githubusercontent.com/6515360/55281125-2e30da80-5330-11e9-9457-039f96d9676c.jpeg)

[2019-03-31 08:37] neso613 commented on #443
Yes.

[2019-04-01 08:34] macOutlookExtensibility commented on #443
Can you confirm that these are the steps to reproduce the issue?

1. Open a new appointment / meeting
2. Open an add-in and call setBody on it

and Outlook crashes? Is it consistent?

[2019-04-01 10:44] rodrigoguariento opened #453 "Office.context.mailbox.item.location object not recognized correctly"
Dears,

When we use the following code, the room created in Admin Office 365 is not treated like a "resource room":

Office.context.mailbox.item.location.setAsync('Mezanino');

The outcome is an unknown place, without Exchange tracing. Namely, when we add the same resource manually using Outlook Web or Microsoft Office Oultook, selecting the same room, the room is treated like a sort of object whi

[2019-04-02 07:03] kalvenschraut opened #454 "Word online create document page redirecting to outage.html"
## Expected Behavior
For a new document to be opened when createDocument().open() is called in word online.
My add-in works as intended in the download office 365 word application.

## Current Behavior
Receive a 302 redirect to a outage.html page.

## Steps to Reproduce, or Live Example
run in word online
[code]
## Context
Unable to open new documents prevents my add-in from functioning in word on

[2019-04-02 07:37] jipyua commented on #454
I tried on http://onedrive.live.com, but this API is working perfectly. Could you please provide more information about your repro steps? On which site are you calling this API?

[2019-04-02 07:38] lumine2008 commented on #451
Hi @cawise
Could you please share us your scenario for using XLSM file with Office.JS?
An XLSM file is a VBA macro-enabled workbook, however, VBA is not be able to across platform.
Is that possible for you use office.js to replace VBA macro?

[2019-04-02 07:50] kalvenschraut commented on #454
Looks like my login redirects me to my companies sharepoint site. https://rtvision-my.sharepoint.com

As for my repo setup it is a vuejs application built via webpack. Not much special going on there that I can think of, using core-js and babel to provide polyfills for supporting IE 11. Running the site off a webpack dev server on my local workstation on a specific port. The webpack dev server has

[2019-04-02 08:26] cawise commented on #451
Hi @lumine2008,

Rewriting the macro functionality using Office.js is an option I’m looking into but was hoping to avoid even if possible, as this may require significant additional work and delay.

Here is my scenario. The add-in is internal to my organization. My dev team is provided a large spreadsheet used for financial analysis and forecasting, and we add bindings to many key data points in t

[2019-04-02 08:28] jipyua commented on #454
I can't log in to your site, Can you first try whether you can create new document from UI on your site. That's open a new word online document and click File->New, then choose a template to create a file.

[2019-04-02 12:27] kalvenschraut commented on #454
The problem is definitely on our end somewhere I am going to have to talk with my system admin. I don't see file -> new, but I can create and save files from clicking "starting a new file" at https://www.office.com/launch/word?ui=en-US&rs=US&auth=2 part but not in word itself. I tried using my personal account for this and my add-in works great.

Going to close this as it seems to not be a bug in

[2019-04-02 12:27] #454 closed, assigned to nobody

[2019-04-02 16:10] jargil commented on #418
@AlvinNiu - hey, could you please provide more details? For example, is your customer using Office's CDN for loading Office.js or are they using their own hosting/CDN? Is Office.js the only component that is slow when loading? Are they experiencing this while using Office for Windows, or which platform, or all?

[2019-04-03 00:22] lumine2008 commented on #449
Yes, Office.JS support YAxis. You can use ChartSeries.axisGroup = Excel.ChartAxisGroup.secondary to set a series to secondary axis. To get this axis, could use: Chart.axes.getItem(“Value”, “Secondary”);

[2019-04-03 00:40] glr0221 commented on #433
@macOutlookExtensibility  @kbrandl we would also like to report the same issue. Our MAC outlook addin is currently not working for all users using MAC Outlook version 16.22 and higher. Any update would be appreciated. Thank you very much!

[2019-04-03 01:44] jargil commented on #349
@richnew10 - I just tried with a very similar script to yours and it worked just fine:

Office.context.ui.displayDialogAsync(someUrl, {height:40,width:40}, function(result){
  const dialog = result.value;
  if(result.status == Office.AsyncResultStatus.Failed) {console.log('error');}
  dialog.addEventHandler(Office.EventType.DialogMessageReceived, function(m){
    console.log('message received');

[2019-04-03 02:23] dinglicoding opened #455 "how to use the beta of office.js for npm"
hi

i want to use the beta of office.js by use npm

but the two npm command is 1.1 version of office.js
npm install @microsoft/office-js --save
npm install @types/office-js --save-dev

[2019-04-03 10:33] jglodde opened #456 "Sideload doesn't work with content add-ins on mac"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac

## Issue
While sideload for task pane add-ins works without problems, errors occur when using sideload for content add-ins.

PowerPoint isn't listing my sideloaded content add-in in the drop down menu.

Add-in Error:
This add-in is no longer available. If this add-in's manifest was

[2019-04-03 10:59] ndreisg commented on #138
Hi, are there any news on this issue?
We are receiving more and more error reports from customers that turn out to be caused by this issue. We always advise them to install Office Updates, but many users state that they have installed the latest updates and still get the same errors.

[2019-04-03 12:21] exextoc commented on #450
Hi @splinter
loadCustomPropertiesAsync: helps you access custom properties that were added by your specific add-in to the current item. Please refer to [this]( https://docs.microsoft.com/en-us/javascript/api/outlook/office.customproperties?view=office-js#saveasync-callback--asynccontext-).

The Graph API that is being used is setting the SingleValueExtendedProperties which is not a part of CustomP

[2019-04-03 14:05] Zlatkovsky commented on #455
I think you should be able to use `npm install @microsoft/office-js@beta --save`.  Note the `@beta` suffixed to the end.
But @wandyezj might have a more definitive answer, and can also make sure that the beta was recently updated.

[2019-04-03 14:20] dinglicoding commented on #455
thanks for your reply，i use  npm install @microsoft/office-js@beta --save . but it's also no shapes (shapes in beta api).
and no IntelliSense , i use angular for develop office add-ins ,it's any demo config for beta package.json?

[2019-04-03 16:57] kbrandl commented on #456
@jglodde sorry to hear that you've run into this problem. I'm going to transfer this issue to the OfficeDev/office-js repository (which members of the product team monitor), since it seems likely that this is a product/platform bug and not a documentation bug.

[2019-04-03 17:03] kbrandl commented on #433
@glr0221 thanks for letting us know that you're also hitting this issue. @macOutlookExtensibility is there any update you can provide regarding potential timing of the fix?

[2019-04-03 19:50] Zlatkovsky commented on #455
Hi @dinglicoding , could you try again?  We just published a new version of Beta that should contain the latest.

In terms of IntelliSense, please see the README instructions at https://github.com/officedev/office-js#intellisense-definitions.  You can either pull the IntelliSense from the `dist/office.d.ts`, or you can use the `@types/office-js-preview` package (npm install @types/office-js-previe

[2019-04-03 19:50] #455 closed, assigned to wandyezj

[2019-04-03 19:55] htryggva opened #458 "Edge WebView: Anchor links open browser in the background"
Anchor links with target="_blank" are opening Edge in the background.

## Expected Behavior
I would have expected the browser window to open in the foreground as it does with the current IE control.

## Steps to Reproduce, or Live Example
https://gist.github.com/htryggva/9b6d32274336830722ecd788012752a7

## Context
We have links in our add-in that should open an external web page (for documentatio

[2019-04-03 23:09] kbrandl commented on #458
(@jargil assigning this one to you, per Sudheer's request.)

[2019-04-03 23:10] kbrandl commented on #425
(@jargil assigning this one to you, per Sudheer's request.)

[2019-04-04 00:12] avalanche1 opened #460 "setState in React components never updates state"
None of my `this.setState()` calls ever update component's state.
## Expected Behavior

normal React behaviour
## Current Behavior

State updates just will not fire.
## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
Create a piece of state in the App component of default project. Try to change it via button click. The change never occurs.

## Context

I

[2019-04-04 03:23] exextoc commented on #450
Duplicate: https://o365exchange.visualstudio.com/O365%20Core/_queries/edit/1064572/?triage=true
________________________________
From: Kim Brandl - MSFT <notifications@github.com>
Sent: Wednesday, April 3, 2019 10:47 PM
To: OfficeDev/office-js
Cc: Outlook Extensibility Oncall; Assign
Subject: Re: [OfficeDev/office-js] [Outlook] [REST] Properties set via REST API not returned by OfficeJS API (even

[2019-04-04 04:54] Rick-Kirkham commented on #460
Please see what happens if you replace `click={this.run_macro}` with `click={() => {this.setState({isMacroRunning: true}); }}`.
Also, are you seeing any compiler errors or tslint errors?
Also, does the **Content** component really have a `buttonLabel` and a `click` property? (Seems like this should be a **Button**, not **Content**.

[2019-04-04 07:41] exextoc commented on #450
Thanks for reporting this issue regarding CustomProperties not being returned by REST API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-04-04 07:42] splinter commented on #378
@markb-trustifi Got it

However, this does not answer the original question/issue.

[2019-04-04 12:28] vikas8983 opened #461 "How to Bind combo box to excel and use auto fill feature of it using Office javascript api ?"
How to Bind combo box to excel and use auto fill feature of it  using Office javascript api ?

[2019-04-04 14:13] myokha opened #462 "getSelectedRegExMatches() doesn't work in the `new Outlook` web experience"
`Office.context.mailbox.item.getSelectedRegExMatches()` returns an empty array in the 'new Outlook' web experience while returning an expected array of one match in the old one.

## Expected Behavior

While using a contextual add-in I click on the highlighted (matched) text like 'EXST-42' and expect `Office.contex.tmailbox.item.getSelectedRegExMatches()` to return `{someMatches: ["EXST-42"]}`.

##

[2019-04-04 17:04] vyazadji commented on #429
I faced an issue in Windows Outlook after restore `history.replaceState` and `history.pushState`
[code]
They throw some unexpected error :(  (Looks like due of this these methods were disabled in Office.js) So react router didn't work.
But I found one interesting thing. If suppress the error they do their work.

So my final result is:
[code]

[2019-04-04 17:49] dmashchenko commented on #397
Hi @weshi,
I'm the Engineering Manager of the MN Author team. See https://appsource.microsoft.com/en-us/product/office/WA104381471?tab=Overview
Yulia is one of our teammates.

I'm sure you can reproduce it manually, just using Word UI no coding is needed.
Please let me know if have some difficulties to reproduce it.
Thanks.

[2019-04-04 19:03] exextoc commented on #324
OnSend Event is only supported in VS2019 and not in VS2017.

[2019-04-04 20:32] avalanche1 commented on #460
I would'nt be able to compile then, right? It does compile.

It is a Yeoman generated template that you guys created :))

Yes it's working. But I'd like to get it working the standard way.

[2019-04-04 20:40] avalanche1 commented on #460
If I replace `<Content>` with `<button onClick={this.run_macro}>Click me!</button>` the situation is the same. State is not updated.

[2019-04-04 20:47] avalanche1 opened #463 "Is there an API How to select cells until filled range end?"
Or how to do it with a combo of existing APIs?
Because on SO no one seems to know..
https://stackoverflow.com/questions/55451636/excel-javascript-api-how-to-select-cells-until-filled-range-end

[2019-04-04 21:05] richnew10 commented on #349
I suspect that a newer Outlook and a newer WebKit, plus 3 months, could make a difference. I will attempt another repro next time I cycle around to this area of the code.

[2019-04-04 23:07] Rick-Kirkham commented on #460
I ran into that same bug last week with a Fabric React component. Only handlers declared inline work. I'm about to file a bug on it. In the meantime, you could try putting the entire `run_macro` code inline. That's basically what I ended up doing.

Where is the **Content** imported from? Is it from Fabric React?

BTW, is the yo office project old? When I created one last week, I got `<HeroList>`,

[2019-04-04 23:39] Rick-Kirkham commented on #460
I've marked this external because it's not really an office-js issue, but I'll leave the issue open here for now until I've found the best place to track it.

[2019-04-05 00:10] avalanche1 commented on #460
Content not, but some if its children are; namely Button

[2019-04-05 07:22] shirbr510 commented on #429
@vyazadji correct me if I'm wrong, IE10 has reached EOL about 2 years ago and all the rest of the browsers should have full history API support

[2019-04-05 09:04] harri-rajala-koivu-solutions opened #464 "pivotTable.refreshAll() crashes Excel"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Using office-js Excel API, Excel crashes and restarts when pivotTables.refreshAll() is called.

## Expected Behavior
Excel should refresh pivot table and not crash.

## Current Behavi

[2019-04-05 11:02] exextoc commented on #462
Hi I'm facing an error while trying to reproduce the scenario, can you please check your rule collection and let me know if some required attribute is missing?

[2019-04-05 11:18] myokha commented on #462
@exextoc I've been following this guidelines while building my manifest file:

- [Contextual Outlook add-ins](https://docs.microsoft.com/en-us/outlook/add-ins/contextual-outlook-add-ins)
- [Use regular expressions to show an outlook add-in](https://docs.microsoft.com/en-us/outlook/add-ins/use-regular-expressions-to-show-an-outlook-add-in)

I can share the whole manifest if that would help anyhow b

[2019-04-05 11:40] macOutlookExtensibility commented on #433
This seems to be fixed on the 16.24 builds. Please update to the latest Insider builds, or the production build when it is out, and check if the bug is fixed.

[2019-04-05 11:56] harri-rajala-koivu-solutions opened #465 "Blanks filter crashes Excel"
Using office-js Excel API, Excel crashes and restarts when (Blanks) filter is selected and you try to load column filter.

## Expected Behavior
Excel should return column filter and not crash.

## Current Behavior
Excel crashes and restarts.

## Steps to Reproduce, or Live Example

Summary of reproduce steps:

Step 1: Excel JS code. Create table with two columns.
Step 2: Manual step. Set filter to

[2019-04-05 12:04] vyazadji commented on #429
@shirbr510 I say about IE10 because it runs inside Outlook under Windows. My Windows version is 10 Pro, default browser is Edge 42.17134.1.0 . But the right side bar where Outlook runs add-in uses this old browser (IE10 as a browser also is in Windows). I don't know this is true for all Windows or it's some specific case for my version. So I must adapt my add-in (and part of my application which I

[2019-04-05 12:30] harri-rajala-koivu-solutions commented on #263
Any update on this issue?

[2019-04-05 14:16] calumpeak commented on #448
Has anyone had a chance to look at this yet? It's crippling our application performance and we're having to work around it with `insertText` but this isn't ideal due to the stylings we need to apply.

 Perhaps @JuaneloJuanelo ?

[2019-04-05 16:10] arieljake-bluescape commented on #324
@exextoc does VS2019 include Visual Studio Code Version 1.32.3 (1.32.3)?

[2019-04-05 20:48] Rick-Kirkham commented on #460
I'm not able to reproduce this in CodePen, so I think this isn't a Fabric React bug after all. I think the bug must be in the React Add-in project that is created by yo office. I'm transferring this to the repo for that project.

[2019-04-05 21:39] dmahugh commented on #263
Looks like the internal bug has been resolved, and I believe the fix has been deployed to production. @JuaneloJuanelo, can you confirm?

[2019-04-08 03:33] exextoc commented on #462
Could you please share the manifest file then? Will help while debugging. Thanks.

[2019-04-08 04:10] tutieu commented on #302
The tracking bug 2737719 for this issue was fixed on 3/12.

[2019-04-08 04:10] #302 closed, assigned to JuaneloJuanelo, tutieu

[2019-04-08 04:14] tutieu commented on #173
Closed as confirmed by @weird-dreams.

[2019-04-08 04:14] #173 closed, assigned to JuaneloJuanelo, tutieu

[2019-04-08 09:00] myokha commented on #462
Here you go
[code]

[2019-04-08 11:02] exextoc commented on #462
I have created the following bug:

Bug 1071955<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1071955>: [OfficeDev/office-js] getSelectedRegExMatches() doesn't work in the `new Outlook` web experience (#462)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>
________________________________
From: Max Yokha <notification

[2019-04-08 11:57] haboutnnah opened #466 "#NAME Error Despite Following Instructions"
## Expected Behavior

To be able to activate a defined function using a name.

## Current Behavior

I get a name error

## Steps to Reproduce, or Live Example

https://github.com/haboutnnah/excel-anime-addin

`npm run build` and `npm start` work perfectly.

When opening Excel, I get a message stating that the addons loaded properly.

The task pane functions. (How do you disable this feature entire

[2019-04-08 12:25] haboutnnah commented on #466
Note, this works (sans cors funkiness) on web excel - it appears to be an issue with macOS excel

[2019-04-08 14:35] vyazadji commented on #433
The fix doesn't work for me :(

Outlook for Mac v 16.24(19040303)

Callback was called but result is null:
![Screen Shot 2019-04-08 at 17 10 57](https://user-images.githubusercontent.com/4235265/55732410-9a909580-5a24-11e9-9409-84e815ea3c8a.png)

The same code in web Outlook:
![Screen Shot 2019-04-08 at 17 08 17](https://user-images.githubusercontent.com/4235265/55732471-b3994680-5a24-11e9-9604-22

[2019-04-09 00:40] jargil commented on #425
Hey! @tobiasviehweger, thanks for reporting this one! Just like the others you reported, this indeed is a bug which I've just addressed and should be rolling out soon.

[2019-04-09 00:42] cetra3 commented on #433
Same issue here: I'm not seeing any network requests in the network tab when making this call.  I'm not seeing any errors either.  Appears to work OK on windows.

My Outlook version is: `16.23.1 (190326)` and we're using Office 365

[2019-04-09 00:44] tobiasviehweger commented on #425
Hey @jargil, so glad to hear that, thanks for being so responsive on this one - was a huge blocker for us :)
Any idea around which version number this is going to be fixed, so we can try testing?

Thanks!

[2019-04-09 01:10] Zlatkovsky commented on #138
Hi @ndreisg ,
Assigning this issue to @wandyezj , since it falls more within his ownership.  However, in terms of "many users state that they have installed the latest updates and still get the same errors", I should probably clarify that just loading the 16.01 vs 16.00 files likely wouldn't help there.  The capabilities of the host application (e.g., what APIs they expose) are still determined by

[2019-04-09 04:56] ndreisg commented on #138
Thanks for assigning.
I am aware of that and of course I always check if the required API is available. The problem most of our users have is the one from the originating issue #136.

[2019-04-09 04:56] ndreisg commented on #138
Thanks for assigning @Zlatkovsky .
I am aware of that and of course I always check if the required API is available. But the problem most of our users have is with the `Range.select` function (which is marked as API 1.1 according to https://github.com/OfficeDev/office-js-docs/blob/ExcelJs_OpenSpec/reference/excel/range.md and also quite important for our Add-In).

[code]

[2019-04-09 07:50] xiruatms commented on #464
Thanks a lot for reporting this issue, the information you've provided are clear and enough. It's confirmed that this issue can be reproduced with Office version number: 1902 32-bit following your steps.

If you have subscriptions to Office 365, will you please upgrade to the latest one ( Office version number: 1903 Build 11425.20202 32-bit or newer) ? Your steps should be working well.

Please ta

[2019-04-09 08:37] harri-rajala-koivu-solutions commented on #464
I updated to 1903 Build 11425.20202 32-bit and Excel does not crash any more. It is good that Excel does crash, but **now pivotTable.refreshAll() does not work correctly**.

After calling pivotTable.refreshAll() pivot table is broken in your Excel sheet. You can reproduce that by adding more lines to Step 3.

Change this from Step 3:
[code]

To this:
[code]

And then do the exact same steps 1, 2 a

[2019-04-09 08:57] SureshGowthamS commented on #433
@cetra3 Outlook team acknowledged that it is an issue in 16.23 and claimed that the issue is fixed on 16.24 versions
@vyazadji Can you check the value of asyncResult.status? So that we can be confirm that asyncResult.value is null but Outlook returned success as the status.

[2019-04-09 10:09] vyazadji commented on #433
@SureshGowthamS Now it works ! The version of Outlook is the same. I'm even didn't restart it.

![Screen Shot 2019-04-09 at 13 07 36](https://user-images.githubusercontent.com/4235265/55792161-b77ea480-5ac8-11e9-90f0-f38e244df0df.png)

Thanks !

[2019-04-09 10:15] 3dot1four commented on #415
any update? We are still blocked.

[2019-04-09 10:35] vyazadji commented on #433
Do you have any estimation when 16.24 versions will be released for all users ?

[2019-04-09 11:22] afzal-hussain opened #467 "Office.context.ui.displayDialogAsync() does not work when promptBeforeOpen is set to true"
## Expected Behavior
If promptBeforeOpen is set to true in DialogOptions, then Office.context.ui.displayDialogAsync() to displays a pop-up (in case running under browser) to trigger the navigation and avoid the browser's pop-up blocker. If the user provides consent, then open the requested URL in a dialog.

## Current Behavior

If promptBeforeOpen is set to true in DialogOptions, then neither the

[2019-04-09 14:35] dmahugh commented on #464
Thanks for the detailed information and repro steps, @harri-rajala-koivu-solutions . @JuaneloJuanelo and/or @keyur32, can you take a look at this and/or assign to somebody else who can?

[2019-04-09 14:37] dmahugh commented on #465
@JuaneloJuanelo and/or @keyur32, here's another report of a simple action that crashes Excel, with a repro.

[2019-04-09 14:55] exextoc commented on #450
Also, it would help us understand better if you can share your scenario, so that we can share any alternative approach

[2019-04-09 17:18] jargil commented on #425
I don't have a version number yet, but will update here once I have one.

[2019-04-09 21:59] jargil commented on #458
Hey @htryggva, thanks for reporting this. I've addressed it in our side and should begin rolling out soon.

[2019-04-10 09:22] marianatuma opened #468 "Table.clearFilters() has inconsistent behavior"
I posted a question to SO earlier about this issue. You can see it [here](https://stackoverflow.com/questions/55459646/how-to-clear-filters-on-cell-within-range-but-not-within-a-table?noredirect=1#comment97865533_55459646).

I'm trying to delete rows from large files based on some criteria. One of these rows contains a filter, which I believe is what's causing the issue. At first, I was working on

[2019-04-10 10:20] tutieu commented on #465
This issues is repro'ed.  Tracking bug 3285352.

[2019-04-10 14:31] glr0221 commented on #433
Seconding @vyazadji, when is the tentative release of 16.24 for all users? thank you.

[2019-04-10 14:40] SureshGowthamS commented on #433
Usually Outlook update comes in the second week of every month, so it should be out in this week.
Check out history https://macadmins.software

[2019-04-10 15:07] 3dot1four opened #469 "How to enable 'dont move or size with cells' property for Add-In"
**Current behavior:**
On table insert due to cell resize Add-In moves and Resizes itself.

**Expectation:**
Add-In should not move or resize

**Catch:**
I can do that manually from 'Format Shape pane' by selecting 'Don't move or size with cells'. But I am not able to do it programmatically or through Manifest.

This really gives a very bad experience to the users.

PS: We don't want to remove auto

[2019-04-10 15:47] jordandev opened #475 "iPad cross site tracking issue"
We have an add-in we are testing that uses OAuth to login from the add-in to our backend web services. This seems to fail in the Excel for iPad application because the embedded browser panel has a cookie policy that prevents cross site tracking on by default. This cookie policy would have to be changed on the WKWebView. I'm not sure where else to report this.

---
#### Document Details

⚠ *Do not

[2019-04-10 16:01] AlexJerabek commented on #475
Hi @jordandev,

Thanks for reporting this. I'll forward this to the right people and get this issue investigated.

[2019-04-10 17:44] aburtsev1 opened #470 "Cross-platform issue. Word return an error when the user tries to modify table/table values"
**Description**

Hello,

We have an application called “Model N Author” (available at MS Store) which uses Word API 1.3.

It is designed to work with O365 hence with both Word 2016 desktop and Word Online.
It allows users to create templates. Template it is word document docx which contains content controls created programmatically with our application. Content controls then get populated with dat

[2019-04-10 19:53] exextoc commented on #453
This is by design. Unfortunately, item.location does not currently support multiple locations. This has been resolved with a new Enhanced Location API that supports multiple locations. Keep in mind the API is currently in preview and may be prone to issues. Enhanced Location API is available in the [Preview API Requirement Set](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmo

[2019-04-10 21:47] exextoc commented on #431
Could you try getting the itemId and attachmentId and try comparing them. The attachmentId should have itemId built in so they start exactly the same. Can you use the itemId to do a getItem call? does this succeed? Also, what is the Outlook build number you are seeing this issue on?

[2019-04-11 00:20] MakotoE opened #471 "FileSaver.js does not work on Excel for Mac"
## Expected Behavior

When FileSaver.saveAs() is executed, a save file dialog appears.

## Current Behavior

Nothing happens after FileSaver.saveAs().

## Steps to Reproduce, or Live Example

* Link to live example: https://gist.github.com/MakotoE/a5e2b715e73ab245efec8c6e5874dcae

Running the test script should immediately show the save file dialog.

This issue is specific to Excel for Mac. I also

[2019-04-11 00:55] MakotoE commented on #471
I created a minimal example which does not use FileSaver: https://gist.github.com/MakotoE/b91ddfc877dfd0d9e8015c578882f6ee This uses FileReader, which is what filesaver is using for Safari.

This is an alternative method using createObjectURL: https://gist.github.com/MakotoE/573eea408187b4441d66e91f03858afb Like the other example, this works on Excel Online but not in Excel for Mac.

[2019-04-11 06:39] tutieu commented on #464
Tracking bug #3287759

[2019-04-11 07:45] modestfake commented on #462
@exextoc I have a similar problem but this time `getRegExMatches` and `getRegExMatchesByName` don't work in _old_ Outlook experience. It returns `null` but it works in "new Outlook experience".

[2019-04-11 09:17] dinglicoding opened #472 "when change ribbon button image. image still old"
hi

the ribbon button image is "ImageA.png", i change the image ,but the image name is still "ImageA.png". excel ribbon button image is still display old image. if i change the name of "ImageB.png" ,it's ok.

i think the excel is cache the image. how can i clear it.

thanks

[2019-04-11 11:24] exextoc commented on #462
@mYokha Thanks for pointing out. For now you can use `getRegExMatches`

[2019-04-11 11:24] exextoc commented on #462
@modestfake I'm unable to reproduce the issue you are facing. Both the APIs are working fine in old outlook experience

[2019-04-11 14:01] vyazadji commented on #433
There is a strange behavior with this fix. In my Mac the fix works well. But when my QA tested this fix we found that it doesn't work and the issue is still reproducible in the last 16.24 version.

We enabled debug mode in QA Mac using [this](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#debugging-with-safari-web-inspector-on-a-mac) manual. And af

[2019-04-11 15:38] exextoc commented on #467
Are you seeing this issue on other platforms (desktop / mac) and other browsers ?

[2019-04-11 16:01] dmahugh commented on #435
@exextoc - see the Outlook repro in [OutlookOneDriveGraphAddIn](https://github.com/Edward-Zhou/OutlookOneDriveGraphAddIn). Can you advise?

[2019-04-11 16:22] Rick-Kirkham commented on #472
To delete the cache, see these instructions: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#clear-the-office-cache

[2019-04-11 19:54] macOutlookExtensibility commented on #433
@vyazadji That is very unusual. Can you give us the version number that comes after "16.24" when you click Outlook -> About (in brackets)?

[2019-04-11 22:20] exextoc commented on #429
Navigation is not available in mshtml, but available in WebKit (hence Mac), which is why it works on MAC but not on win32. We are actively working on enabling a new WebView Control based off of Edge where history will be supported.

[2019-04-12 00:56] dinglicoding commented on #472
my computer is windows 10,and excel is microsoft office home and student 2016 version 1903 (build 11425.20204 microsoft Store)

the folder %LOCALAPPDATA%\Microsoft have .but can not find office in this folder.

[2019-04-12 05:15] wcx11 opened #473 "Excel api call AutofitColumn before converting to table result in incorrect width on XLO"
Seems that it's an API bug in XLO. When call table.add() to convert a range to a table after autofitcolumns(), the header row of the table will have a wrong width. It looks like that the down arrow in header row were not considered in auto fit.
The XLO api performs differently from button click:[Format->auto fit column width]->[Ctrl T].(button click results in correct format, and win32 api perform

[2019-04-12 08:49] afzal-hussain commented on #467
Yes, I am able to reproduce the issue on the following combination:

1. Window 10 with Desktop Outlook 365 - Version 1903 (Build 11425.20202 Click-to-Run)
2. Windows 7 with Desktop Outlook 365 - Version 1808 (Build 10730.20304 Click-to-Run)
3. Mac with Desktop Office 2016
4. Office online (outlook.office.com) on the following combination
    - Windows10 + Chrome 73
    - Windows10 + MS Edge
    -

[2019-04-12 09:14] vyazadji commented on #433
In all three cases it's 16.24(19040303). We updated via Microsoft AutoUpdate -> Join the Office Insider program ... -> Office Insider Slow.

[2019-04-12 10:22] exextoc commented on #435
@Edward-Zhou Can you please post a snippet of relevant code to reproduce the issue ?

[2019-04-12 10:29] exextoc commented on #467
Can you please share relevant code snippet to repro the issue ?

[2019-04-12 12:19] afzal-hussain commented on #467
I have attempted to create a minimal reproducible example.

Below you can find my function-file.js for the Outlook add-in (originally was created using the Yeoman generator as described in https://docs.microsoft.com/en-us/outlook/add-ins/quick-start?tabs=visual-studio-code. Some modification from the generated file has been done as can be seen below in the code.

With the below code, I reproduced

[2019-04-12 13:52] vyazadji commented on #433
This is very strange. The Mac #3 (Outlook v16.24) where the issue was detected yesterday. Today works well without any actions from our side.

We took the next Mac let's mark it as #4 :) Updated to the v 16.24(19040303). Issue is reproducible.
Then we cleared Outlook cache: removed all in  `~/Library/Containers/com.microsoft.Outlook/Data/Library/Caches/com.microsoft.Outlook/WebKitCache`

![clear_o

[2019-04-12 16:08] Rick-Kirkham commented on #472
Hmmm. Try searching %LOCALAPPDATA%\Microsoft for "WEF".

[2019-04-12 19:08] ShannonLCapper commented on #402
I'm so happy there's a fix in the works for this issue! Any word on when that fix will be going live?

[2019-04-12 19:21] fraziermork opened #474 "Mac outlook body.getAsync doesn't use ol/ul/li elements for lists"
I have an email body like this:

![image](https://user-images.githubusercontent.com/16546625/56059370-c52a6900-5d18-11e9-90ca-38d26b401eab.png)

The html I get back from body.getAsync looks like this:

<img width="450" alt="Screen Shot 2019-04-12 at 11 48 38 AM" src="https://user-images.githubusercontent.com/16546625/56059452-f2771700-5d18-11e9-87f8-799eff7ca3a1.png">

## Current Behavior
Right no

[2019-04-12 19:43] macOutlookExtensibility commented on #433
@vyazadji Makes sense, seems like this issue was fixed but continued to reproduce because of the cache. We knew that removing the cache caused the bug to reproduce. But seems like the other way around is true as well.

Hopefully this solves the problem for you?

[2019-04-12 20:37] exextoc commented on #450
@splinter - We tested this and could not reproduce the issue. We set custom properties like you suggested using REST. PATCH request to https://outlook.office.com/api/v2.0/me/messages/**itemId** with the following in the body:
 {
"SingleValueExtendedProperties": [
        {
            "PropertyId": "String {00020329-0000-0000-c000-000000000046} Name cecp-**addinId**",
            "Value": "{\"key1

[2019-04-12 22:36] niteshgolchha85 commented on #475
@jordandev You're right. This is to prevent cross site scripting that's implemented by Safari/iOS. This is their intelligent tracking feature, which gets invoked when you try to access another domail from within an iFrame. There's no solution currently for this. I've asked the enginnering team to investigate a bit more but for the meantime, I believe you can use DIalog API to login the user for th

[2019-04-13 00:29] ShannonLCapper opened #476 "[Outlook] `cursor` CSS styles are ignored in Mac taskpane"
In the taskpane in Mac Outlook, elements with the `cursor` style (for example: `<div style='cursor: pointer;'>Hello</div>`) do not show that cursor style when hovered.

## Expected Behavior

I would expect that the `cursor` CSS style would be displayed accurately.

## Current Behavior

Hovering over any element with a `cursor` CSS style does not result in the mouse cursor displaying that style. It

[2019-04-13 00:47] azmatzuberi opened #477 "[Word Online] Looping when using DocumentSelectionChanged handler and return context.sync().then(function ()"
## Expected Behavior

Using DocumentSelectionChanged handler with return context.sync().then a user could type in Word online and have the contents of the document received in the code for MS Word.

## Current Behavior

What is happening now is that when a user types, the context.sync goes into an unending loop.
## Steps to Reproduce, or Live Example
In the index.js file add this code:

[code]

Th

[2019-04-13 01:17] ShannonLCapper opened #478 "[Outlook] Taskpane closes unexpectedly in OWA"
In the "old" experience of OWA (the one served when `Try the new Outlook` is toggled off), the taskpane unexpectedly closes itself after varying lengths of time.

## Expected Behavior

I would expect the taskpane to remain open until the user manually closes it with the X button, or until a new mail was selected if the taskpane was not pinned open

## Current Behavior

In compose mode in "old" OWA

[2019-04-13 01:32] Rick-Kirkham commented on #477
I find that the handler runs every time the user types a letter, but it doesn't go into an infinite loop.

[2019-04-13 02:11] azmatzuberi commented on #477
Are you using yo office for node?

[2019-04-13 03:54] azmatzuberi commented on #477
i've been testing this and so far it seems to be a valid issue

[2019-04-13 08:57] exextoc commented on #474
Thanks for reporting this issue regarding body.getAsync() not returning bullets and numbering. We are able to reproduce this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-04-15 00:42] Rick-Kirkham commented on #477
I was testing in Script Lab. Can you try that and see if the problem is reproduced?

[2019-04-15 00:55] Edward-Zhou commented on #435
@exextoc  I have shared a reproducable project, what is your expected snippet? Maybe you could share us a working demo with `Office.context.auth.getAccessTokenAsync`.

Or, is this your expected?
[code]

[2019-04-15 01:31] azmatzuberi commented on #477
`doc.addHandlerAsync(Office.EventType.DocumentSelectionChanged)` doesn't work in Script Lab. You can start a new node project and test. I've tested it on two different systems, and the result is the same: endless loop

[2019-04-15 06:41] splinter commented on #431
Let me compare the the two IDs and get back. I won't be able to test the getItem call since I won't have a token (the issue occurs on a client machine). I am waiting on the client to provide us their Outlook build number.

[2019-04-15 07:42] tobiasviehweger commented on #467
We have the same issue, though we can only reproduce this in OWA (16.0.10908.10000). It happens already when you set "displayInIframe" to false (will default the prompt param to true). Dialog will not show and code will not continue (as if the actual prompt is just invisible).

This is bad! Our customers cannot login, please fix this soon.

Thanks!

//cc: @DarkLegend

[2019-04-15 10:32] calumpeak commented on #448
Anyone had a chance to have a look at this @tutieu @lumine2008 ? Could really use help with this bug.

[2019-04-15 10:46] macOutlookExtensibility commented on #402
Hi @ShannonLCapper, we don't have an ETA for the fix as of now. We'll update this thread as soon as we do.

[2019-04-15 11:42] vlyamzin opened #479 "Word.js creates a new document without rulers enabled"
`context.application.createDocument().open()` method opens a new document without Ruler enabled. At the same time, 'Gridlines', 'Navigation Pane' and other Word features under the View tab keep their statuses.

## Expected Behavior
If the user turns on Ruler and opens a new document via` createDocument().open()` method, rulers must be enabled by default in the new document.

## Steps to Reproduce,

[2019-04-15 12:49] Rick-Kirkham commented on #477
It works for me in Script Lab.

[2019-04-15 13:29] vyazadji commented on #433
If my users will not face with this issue in 16.24 it's ok for me :)

1. Can I refresh the cache via JavaScript from my add-in ?
2. Do we have any another ways how we can clear cache manually? What we can recommend our customers if the will need it.
3. Do we know the cache lifetime for our Outlook add-in in Mac ?

[2019-04-15 22:42] Reezaali commented on #1005
Internal [bug](https://office.visualstudio.com/OC/_workitems/edit/3226763)

[2019-04-16 01:53] exextoc commented on #476
Thanks for reporting this issue regarding cursor CSS. We are able to reproduce this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-04-16 04:30] exextoc commented on #435
We are unable to repro this issue. Snippet shared by you is correct. Issue could be with manifest.
Can you try overriding everything inside `<VersionOverrides xmlns="http://schemas.microsoft.com/office/mailappversionoverrides/1.1" xsi:type="VersionOverridesV1_1">`

Similar issue- https://stackoverflow.com/questions/48641465/uncaught-typeerror-cannot-read-property-version-of-null-in-outlook-web-16-

[2019-04-16 05:29] Edward-Zhou commented on #435
I already checked this link.
Could you share us your working demo?

[2019-04-16 09:50] exextoc commented on #478
Thank you for reporting this bug.  We have added this to our active backlog, Shall update this thread once the fix is out.

[2019-04-16 10:39] #359 closed, assigned to niteshgolchha85

[2019-04-16 12:14] macOutlookExtensibility commented on #433
No, unfortunately there is currently no way to remove the cache other than locating and removing the WebKitCache folder. We also cannot tell you the cache lifetime for an Outlook add-in, as it depends on several factors.

[2019-04-16 14:06] vyazadji commented on #433
Thanks for the help with this issue :)

[2019-04-16 15:49] dmahugh commented on #12
Just noticed this issue was never closed. Closing because the original perf issue has been addressed, but let me know if anyone feels it needs to be re-opened.

[2019-04-16 15:49] #12 closed

[2019-04-16 18:34] splinter commented on #431
The client is using Version 1903 (Build 11425.20204)

[2019-04-16 22:17] djpereira commented on #349
I'm on macOS 10.14.4 and Outlook 16.24, and I can reproduce this issue.
Everything works well on Safari, FireFox, Edge, IE11 and outlook for Windows, but outlook for mac is not triggering `DialogMessageReceived` when we call `Office.context.ui.messageParent` at least for our app.

If we do very simple app, it works well, but not with our app.

From the dialog I see `Office.onReady` and the global

[2019-04-17 00:41] Zlatkovsky commented on #138
@ndreisg, that's very strange about `range.select`.  I would encourage you to go ahead and open a separate issue for this, and also include info for what is the Office host version.
(Sorry for the delay in replying; I was on vacation).

[2019-04-17 11:52] dmahugh commented on #301
Closing issue, as the fix for this has been deployed.

[2019-04-17 11:52] #301 closed, assigned to dmahugh

[2019-04-17 11:55] dmahugh commented on #304
This is a duplicate of issue #301 and the fix has been deployed. Thanks for reporting it.

[2019-04-17 11:55] #304 closed, assigned to dmahugh

[2019-04-17 12:00] dmahugh commented on #261
This issue has been resolved and the fix is in production, so closing the issue. Let us know if you run into anything with the latest builds or have any additional information, and thanks for reporting it!

[2019-04-17 12:12] ndreisg opened #480 "Range.select not working when chained (with 16.00 files)"
When using Office 2016 installed via MSI and not all updates installed (could reproduce it with 16.0.4266.1003), the Range.select function throws following exception when it is chained with promise.then:

[code]

## Expected Behavior
Range should be selected.

## Current Behavior
Range is not selected and an exception is thrown.

## Steps to Reproduce, or Live Example
Minimal sample:
[code]

## Yo

[2019-04-17 12:14] ndreisg commented on #138
When I tried to reproduce this issue in a minimal sample, I found out that it only occurs when range.select is chained to the promise with `.then`
See the new issue #480

[2019-04-17 12:32] dmahugh commented on #473
@lumine2008 can you take a look at this issue?

[2019-04-17 12:49] #453 closed, assigned to nobody

[2019-04-17 12:50] dmahugh commented on #479
@JuaneloJuanelo do you know if it's possible to create a new document via the API with rulers enabled by default?

[2019-04-17 15:42] JuaneloJuanelo commented on #479
good question for @tutieu

[2019-04-17 17:20] Zlatkovsky commented on #480
Note:  FWIW, it might *not* be related to #138.  Instead, there might be the same root cause -- an old version of the Office host -- that manifests itself both in loading the 16.00 files AND having a bug wrt to `range.select`.  Personally, that would be my guess.

One way to rule out that relationship would be to simply force the loading of the 16.01 files (e.g., via a Fiddler redirect) and see wh

[2019-04-17 18:22] sumurthy commented on #418
@alvinniu is there an update to the question? Can you also help us quantify the response times you are seeing?

[2019-04-17 18:33] niteshgolchha85 commented on #355
I'll be closing this issue as there hasn't been any response. Feel free to reopen if the issue persists.

[2019-04-17 18:37] niteshgolchha85 commented on #475
Closing this issue for now as this is expected behavior and there is a mitigation

[2019-04-17 18:37] #475 closed, assigned to niteshgolchha85

[2019-04-18 07:04] ndreisg commented on #480
I could provide a Hyper-V VM with MSI Office 2016 (16.0.4266.1003) installed if you are interested.

[2019-04-18 08:43] weshi commented on #479
No, currently we don't have such JS API to control enable/disable the ruler.

[2019-04-18 08:43] #479 closed, assigned to tutieu

[2019-04-18 09:13] dmarkovtsev commented on #433
Outlook for Mac v16.24(19041401)

Cleared folders:
 ~/Library/Containers/com.microsoft.Outlook/Data/Library/Caches/com.microsoft.Outlook
~/Library/Containers/com.Microsoft.OsfWebHost

makeEwsRequestAsync now gets the value, but it is always empty.

The issue looks as not fixed to me.

@macOutlookExtensibility Is there anything else I can refresh/reload/reinstall to make things working?

P.S. Every

[2019-04-18 16:41] cc8080 commented on #16
Please give more details about where to find the fix. Which version/build/etc.? Thanks!

[2019-04-18 18:59] kkerr1 commented on #433
Our developers and customers are experiencing the same exact symptoms as described by @dmarkovtsev on build 19041401. Please advise.

[2019-04-18 20:28] Andrew-AnalysisPlace commented on #235
Multiple customers still report this issue/limitation on Macs. Any updates?

[2019-04-18 21:57] Andrew-AnalysisPlace opened #481 "Unable to Test Edge WebView. Add-in is still using IE/Trident."
I am interested in testing Edge WebView, but my Office.js Add-In continues to use IE/Trident.
I am using the versions suggested by Sudheer Maremanda in the April 10 Community Call:
-- Windows 10 Pro Version 1903 (Build 18362.53)
-- Office Version 1903   (Build 11425.20228 Click-to-Run) 16.0.11425.20214 32-bit
I have restarted my PC a couple times.

What else do I need to do to use Edge WebView?

#

[2019-04-18 22:51] kbrandl commented on #481
@Andrew-AnalysisPlace thanks for reporting this issue and sorry to hear that you're having trouble.

@jargil can you please help to unblock @Andrew-AnalysisPlace with being able to test his add-in with Edge WebView?

[2019-04-19 00:11] exextoc commented on #435
Here is a working sample

https://github.com/OfficeDev/outlook-add-in-attachments-demo

[2019-04-19 06:51] AlonEkelund commented on #16
Hi cc8080 I am not sure of the version, but it was fixed along time a go. I have my Office from O365 and running the updates automatically. I cannot remember exactly when it was fixed, but around July or August last year.

[2019-04-19 14:45] jargil commented on #481
@Andrew-AnalysisPlace - you have all the right builds, could you please confirm that you've also joined the Office Insiders program? https://insider.office.com/en-us/join

[2019-04-19 14:51] jargil commented on #425
Quick update: I'm still waiting for an Insiders build to be published with the fix. Any build after Office  16.0.11618.20000 should have the fix for this bug.

[2019-04-19 15:47] glrassistant commented on #433
We've applied the update, many, many of our customers have applied 16.24.19041401 and it is still broken.
We've cleared the cache as described above, tried uninstalling, reinstalling, all to no avail.

[2019-04-19 16:33] JuaneloJuanelo commented on #477
@azmatzuberi  thanks so much for reporting this i was able to repro.

@Rick-Kirkham Did you tried the code in Word Online? i think its in that platform where @azmatzuberi  is experiencing the issue, according to his description.  Here is a Script lab gist you can try https://gist.github.com/JuaneloJuanelo/89525d7ab82449db9478fa45a2ef79f8

that been said i created a bug for this. This event should

[2019-04-19 16:46] JuaneloJuanelo commented on #470
@aburtsev1  thanks so much for reporting this. Its challenging to me, however, to diagnose what's going on, so i need further information from you: Also i recommend you to open 2 issues for the 2 problems you have.

1. Can you share the code you are using to create the table in your Case 1? ideally you can use script lab for it.
2. is this the same code running in both rich client and online?

tha

[2019-04-19 17:12] JuaneloJuanelo commented on #470
btw @aburtsev1  i just tried some code (see snippet here you can restore it in Script Lab or just see the code and play with it) https://gist.github.com/JuaneloJuanelo/779874386174a618a6dad3b66b58621b

i followed your repro steps. i created the table (wrapped with the cC) in Online, then opened the document in Windows and it worked perfectly.  I also tried it the other way around creating the docu

[2019-04-19 18:09] JuaneloJuanelo commented on #438
@Rick-Kirkham : @cindymeister  is right, the documentation is misleading.  [This one needs to be modified](https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrolcollection?view=office-js#getitem-index-).

and now to add more details.

1. the getItem methods in Office.js universally gets an item within the collection by ID. This is true in Word and in Excel. IN the documentation w

[2019-04-19 18:14] JuaneloJuanelo commented on #417
that's because that is currently not supported but we are adding that functionality soon.

[2019-04-19 18:14] #417 closed, assigned to JuaneloJuanelo

[2019-04-19 18:28] JuaneloJuanelo commented on #415
I was able to repro your issue and investigating internally ! thanks!

[2019-04-19 18:43] Zlatkovsky commented on #415
FYI, related issues that were filed on the Script Lab repo (but that are external to Script Lab -- i.e., they are platform issues just like this one):

- https://github.com/OfficeDev/script-lab/issues/698
- https://github.com/OfficeDev/script-lab/issues/331

[2019-04-19 19:49] Rick-Kirkham commented on #477
@JuaneloJuanelo Yes, I was testing it in Word Online. Maybe I'm misunderstanding the issue. I did find that the event ran (once) every time the user types a letter. I *thought* that @azmatzuberi was saying that if the user types a letter (once), then the event runs over-and-over again, endlessly. I was not able reproduce an endless loop.

[2019-04-21 20:31] 3dot1four commented on #415
@JuaneloJuanelo Since this is very important for us, any idea when we can expect a fix?

[2019-04-22 09:01] macOutlookExtensibility commented on #433
@kkerr1 @dmarkovtsev Let me confirm this - both of you (and your customers) are not experiencing the earlier issue of getting back no response. You're only experiencing the null response issue now. If this is the case, could you also explain what the MakeEwsRequest is trying to do?

@glrassistant Are you getting back no response, or a null but "succeeded" response?

[2019-04-22 16:35] kkerr1 commented on #433
@macOutlookExtensibility this is correct for 16.24.19041401 we are now getting back a response but it is null. On Friday we shared a video recording of this behavior with Faisal J.

We use this response after calling `Office.context.mailbox.item.saveAsync` to confirm that the item (message) has indeed persisted to the exchange server. We include a bit of information in the message body before savi

[2019-04-22 19:30] JuaneloJuanelo commented on #415
@rohitrewa turns out in this specific case (**for content add-ins**) is by design.  Add-ins must not break the accesibility of Office Applications, in this case Excel.  F6 is the way to move between windows within Office (as well as navigating to the ribbon)  and is one of the ways to navigate out of a Content add-in in the workbook.  Once in the content add-in you can  tab-navigate the internals

[2019-04-22 19:48] glrassistant commented on #433
We are also seeing the response (asyncResult.value) coming back as null with this update.
status = succeeded and errorMsg=undefined status
Any other values that you would like for us to investigate?

In the call we are attempting to retrieve the email headers. This code has been working
'as-is' for years.

On Mon, Apr 22, 2019 at 5:01 AM macOutlookExtensibility <
notifications@github.com> wrote:

[2019-04-22 21:10] dmahugh commented on #318
Closing this issue due to inactivity, but if anyone has new information or a sample as @LunchWithaLens requested, let us know and we'll re-open it.

[2019-04-22 21:10] #318 closed

[2019-04-23 01:53] SWei1234 commented on #326
Office.context.mailbox.item.body.getAsync not work in windows and mac outlook client. it will be blocked so that never run the then part.

[2019-04-23 03:13] anilreddyr7 commented on #326
What does that mean? Get Async doesn't work in windows and mac client? How to get email body in this case?

[2019-04-23 04:47] xiliangms commented on #468
It is hard to repro the issue with your project. Is it possible to have a standalone script that can be run in [scriptlab](https://github.com/OfficeDev/script-lab)?

[2019-04-23 06:47] SWei1234 commented on #326
My Code Like:
Office.context.mailbox.item.body.getAsync("html", {coercionType: Office.CoercionType.Html}, function (result) {
//bla bla bla
console.log("test test test");
});
But I can't get "test test test" shown in console.
This problem happened in both windows (outlook 2019 preview version) and mac outlook 2016.
 Only in excuteFunction it happened . Code above works well on both browser and out

[2019-04-23 09:29] Navega commented on #326
It is working fine for us. I think that you should rewrite the call to that function, check [getAsync](https://docs.microsoft.com/es-es/javascript/api/outlook_1_5/office.body?view=office-js#getasync-coerciontype--options--callback-) to verify the arguments that you use.

Try with:

[code]

The 1st parameter must be the [CoercionType enum](https://docs.microsoft.com/en-us/javascript/api/office/offi

[2019-04-23 11:18] SWei1234 commented on #326
really appreciate your reply. But it still doesn't work....

[2019-04-23 14:39] calumpeak commented on #448
Hey all - would really appreciate if someone could take a look into this please.

@dmahugh ?

[2019-04-23 15:11] afzal-hussain commented on #467
Hi @exextoc,

Could you please confirm if you accept this as a bug? If yes, do you have any timeframe?

Thanks

[2019-04-23 17:21] dmahugh commented on #448
Sorry for the delay here. @weshi, can you take a look at this? It sounds like a bug, and they've provided a repro above.

[2019-04-23 19:36] djpereira commented on #349
In our case, we discovered that only for Outlook on macOS, both the function file and the dialog need to be exactly in the same domain, including any subdomains (and even in the same port).

[2019-04-23 20:19] calumpeak commented on #448
Much appreciated @dmahugh 👍  @weshi let me know if you need any more details and we can provide them for you.

[2019-04-23 23:44] tutieu commented on #448
I have created a tracking bug #3312218 and assigned it to our OCE team.

[2019-04-24 01:51] richnew10 commented on #349
When I reported that was indeed the case — the only difference between the main page (not a function file) and the dialog was the path changing from `/outlook/` to `/outlook/signin`.

[2019-04-24 02:24] glr0221 commented on #433
@macOutlookExtensibility @kbrandl
I would like to echo @kkerr1's and @dmarkovtsev's sentiments. We were totally caught off-guard by  the sudden change in makeEwsRequestAsync(). We have a lot of clients already affected by this for over a month now.

WHY ISN'T IT WORKING FOR US?
I know your QA team tested this and it passed on their environments. If so, how come it worked for them and not for some

[2019-04-24 04:47] exextoc commented on #324
No, VS2019 does not include Visual Studio Code Version 1.32.3

[2019-04-24 10:10] marianatuma commented on #468
Hi @xiliangms. Unfortunately I moved on from this issue by not using Tables and just sticking to Ranges. I think this issue can be closed.

[2019-04-24 10:39] xiliangms commented on #468
Noted. Thanks for the notice @marianatuma.

[2019-04-24 11:34] efim23 commented on #433
After fix for 16.24 same behavior for us: null as response.

[2019-04-24 15:23] macOutlookExtensibility commented on #433
Thanks for all the information. We are able to reproduce the null-but-succeeded issue now.

We understand the sudden nature of this regression, and we are looking into this issue on priority. Unfortunately, this issue was not reflecting on our builds for quite some time, which we are also investigating.

We will update this thread as soon as we have an update.

[2019-04-24 17:31] kbrandl commented on #481
Closing this issue, as I spoke with @Andrew-AnalysisPlace this morning and he's confirmed that he's now able to successfully test his add-in with Edge WebView. (Thanks for chiming in here, @jargil!)

[2019-04-24 17:31] #481 closed, assigned to jargil

[2019-04-24 17:45] JuaneloJuanelo commented on #477
@Rick-Kirkham  ok, i was able to repro and created a bug. thanks!!

[2019-04-24 18:06] tobiasviehweger commented on #467
Yeah, any news would be appreciated - this is preventing showing the login popup for our app! This is huge issue....

[2019-04-24 18:39] mkoczka opened #482 "Can't communicate with the app in the displayDialogAsync"
## Expected Behavior
It should be possible to send a message back to the app with `Office.context.ui.messageParent("test");` when I open the dialog with `displayDialogAsync` function.

## Current Behavior
There is a console error when the dialog is opened. It looks like the origin for the dialog is set to `outlook.live.com` and so the dialog can't communicate with the origin that opened the dialog

[2019-04-24 19:14] AlexJerabek opened #5494 ""Factory Reset" for Script Lab"
### Description:
It's possible during development ([or now](https://github.com/OfficeDev/script-lab/issues/722)) to get Script Lab in a state where it can't load. With OfficeDev/script-lab#722, even uninstalling, restarting, and reinstalling doesn't clear out the old cache, so there's no easy-to-moderate way to get Script Lab back to a useable state.

One possible suggestion is that if the code pa

[2019-04-24 20:32] Zlatkovsky commented on #5494
Seems like a good idea for a future feature.

FYI, you can "hard reset" yourself by attaching a debugger to the add-in and then doing "window.localStorage.clear()" in the console and then reloading the add-in.

![image](https://user-images.githubusercontent.com/2230453/56691660-5b557c00-6695-11e9-8082-f0fd008340a1.png)

[2019-04-25 02:54] exextoc commented on #482
If you are using different domains, try adding all the domains in your "AppDomains" section of your manifest.

[2019-04-25 05:06] mkoczka commented on #482
@exextoc We tried to add both `https://localhost:3000` and `https://outlook.live.com` to `AppDomains`. The result is still the same.

[2019-04-25 06:55] kumarsai opened #483 "Getting “Wait until the previous call completes” error while writing data to excel using office.js from Task pane application"
## Actual Issue:

After getting the latest updates from windows we are getting “Wait until the previous call completes” error for Office.js ( api method: Office.context.document.bindings.addFromNamedItemAsync - > getDataAsync).

Most of the users who are using this latest update are facing this issue.( for oder version it is working perfectly)

For the time being we removed windows update from USE

[2019-04-25 08:54] cstoiovici commented on #448
Could some give an estimate for when you expect the issue to be fixed? Thanks

[2019-04-25 16:17] neso613 commented on #212
@macOutlookExtensibility
 This issue again seen in ConX Outlook add-in. Is this is again changed by API release. Please help me for this issue.

[2019-04-25 19:25] Reezaali commented on #290
@htryggva this issue has been resolved. If you still experience this issue, trying updating Office. I added a note to the documentation in this [PR](https://github.com/OfficeDev/office-js-docs-pr/pull/922). Thank you!

[2019-04-26 04:29] exextoc commented on #467
The url that is passed to the displayDialogAsync method must be in the same domain as the host page. So instead of google.com use the url from the same domain.
Or if its from the different domain try adding it in AppDomains section in the manifest.
Also,
1. Check if IE has blocked popup for you?
2. In console.log try to print JSON.stringify(asyncResult) And see what exact error you get.

[2019-04-26 05:50] vickeybird opened #494 "Issue with sideloading on Wopi hosted document served via on premise Office Online Server"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins#

## Issue
I'm trying to test my add in on a word document hosted on custom WOPI hosted application which is served by an On Premise Office Online Server.
When I click on Insert/Office Add-in, I get an error:

![Annotation 2019-04-26 110314](https://us

[2019-04-26 06:45] splinter opened #486 "[Outlook] The mailbox.item.to.getAsync property returns no value when add-in is opened for the first time"
The to addresses list is empty when the following snippet of code is executed the first time
the add-in is loaded in compose mode for a mail item [1]:

[code]

This behaviour seems to be intermittent.I have not been able to identify any pattern for the conditions which cause this issue.

## Expected Behavior
The to address list should be always populated with addresses entered in the mail item com

[2019-04-26 06:53] macOutlookExtensibility commented on #433
@kkerr1 @glr0221 and others:

Since this might take some time to fix from our side, we recommend a workaround. You can use the [`Office.context.mailbox.getCallbackTokenAsync`](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/office.context.mailbox#getcallbacktokenasyncoptions-callback) API to get the extension callback token, then use that to make an EW

[2019-04-26 07:24] tobiasviehweger commented on #467
@exextoc Displaying ANY dialog with displayInIframe: false (even on the same domain) does not work in modern OWA currently (when called from a ribbon function). This is why I'm so persistent, it's a bad bug! It simply does not show the popup blocker workaround (the one that says "Allow Popup"), but get's stuck.

Here's a full repo:
https://static-resources.yasoon.com/owa-display-dialog-issue/manif

[2019-04-26 07:33] tobiasviehweger commented on #467
Debugged a bit. The dialog is not shown because of this CSS class. Removing the display:none shows that it is currently in the DOM but not visible:
![image](https://user-images.githubusercontent.com/2111803/56790946-316f9700-6806-11e9-933c-0a88076e3214.png)

Toggling the display:none:
![image](https://user-images.githubusercontent.com/2111803/56791039-65e35300-6806-11e9-8dab-b485a49431a8.png)

[2019-04-26 07:54] afzal-hussain commented on #467
I concurr with @tobiasviehweger. For the code snippet published in this ticket, I used google.com, but in real scenario, I am using a different URL (from same origin) from our DEV environment which is not available on the Internet.

1. The whole idea of promptBeforeOpen is to avoid popup blocker. So even if there is a popup blocker, it should not matter. Also this prompt dialog is not a popup, rat

[2019-04-26 14:59] kkerr1 commented on #433
Thanks @macOutlookExtensibility, do you have more specifics on what this timeframe could be?

I wonder if there would potentially be CORs limitations that would prevent the add-ins from making these calls since they ultimately execute from a Safari WebView? Also, to get this working we'd also need to get the ewsUrl, but unfortunately that looks to only be present in the read view? This is a compos

[2019-04-26 20:33] dmahugh commented on #461
Hi @vikas8983, this repo is for reporting issues related to office.js, and Stack Overflow is the best platform for asking question about how to use office.js. Please post this question to Stack Overflow with the **office-js** tag. Thanks!

[2019-04-26 20:33] #461 closed, assigned to nobody

[2019-04-26 20:35] dmahugh commented on #462
Closing because issue is not reproducible.

[2019-04-26 20:37] dmahugh commented on #463
Stack Overflow is the correct forum for how-to questions. This repo is for reporting issues (bugs, etc) for office.js.

[2019-04-26 20:37] #463 closed, assigned to nobody

[2019-04-26 20:42] #472 closed, assigned to Rick-Kirkham

[2019-04-26 21:26] tobiasviehweger commented on #425
I just updated to 16.0.11617.20002 and the issue seems to be fixed. Thanks so much! :)

[2019-04-26 21:26] #425 closed, assigned to jargil

[2019-04-26 21:27] tobiasviehweger commented on #424
Just got the update and it's now working! (16.0.11617.20002)

[2019-04-26 21:27] #424 closed, assigned to jargil

[2019-04-27 02:01] dinglicoding opened #487 "[excel] Ribbon Button Can use ExecuteFunction to get excel range cell"
hi

if i click the ribbon button. it's support get selected range of current sheet?

i found ribbon button can use ExecuteFunction ,and it can open dialog. but i found it can not Interaction with excel. it's really?

![image](https://user-images.githubusercontent.com/3963826/56843407-de174a80-68d2-11e9-802a-6fbc2fa45f04.png)

[2019-04-27 02:06] dinglicoding commented on #481
@kbrandl @Andrew-AnalysisPlace   hi  how to use edge webview? my add-in need too ,thanks

[2019-04-27 06:12] dinglicoding opened #488 "[excel] in mac can not work ,but in windows it's fine"
hi

my excel add-in  in window,it's ok,but i install in mac. it's nothing data render in excel.

i use beta office.js, it's not support in mac?
https://appsforoffice.microsoft.com/lib/beta/hosted/office.js

my mac excel version.
![image](https://user-images.githubusercontent.com/3963826/56845597-6ce98e80-68f6-11e9-805a-19c6ba47f743.png)

[2019-04-27 15:19] neso613 opened #489 "Performance issue for Outlook Add-in"
Hi
I am developing Outlook web add-in. This add-in support multi language support like French,Dutch,German,Spanish etc. As per selected language, the UI content is converted into respective language. Also, Office.context.mailbox.displayNewAppointmentForm() used to create new appointment with saved settings.

## Expected Behavior
New appointment should open rapidly.

## Your Environment
* Platform-

[2019-04-27 15:30] neso613 commented on #443
Hi @macOutlookExtensibility
Sorry  for late responding.

I was populating subject, location and body using setSubject, setLocation and setBody.

I have used this code to open appointment programtically
`location=setLoaction()
subject=setSubject()
bodyContent=setBody()
Office.context.mailbox.displayNewAppointmentForm(
      {
        start: UTCCorrectStartDate,
        end: UTCCorrectEndDate,

[2019-04-27 15:40] neso613 opened #490 "How to set the UTC corrected Date for inputing into function displayNewAppointmentForm() for Outlook add-in"
I am developing Outlook Web Add-in. I have used displayNewAppointmentForm() to create appintment programtically.  I have used this code--
` var start = new Date();
  var end = new Date();
  end.setHours(start.getHours() + 1);
Office.context.mailbox.displayNewAppointmentForm(
{
 start:start,
end:end
});`

this create time zone issue while scheduling appointment with overseas persons.

I have search

[2019-04-28 15:19] georgiik-welldone opened #491 "Office.js not initialized inside dialog"
## Expected Behavior
Office.js is being initialized and API works inside dialog.

## Current Behavior
The library is never initialized.

## Steps to Reproduce, or Live Example
Open dialog (`window.Office.context.ui.displayDialogAsync`) and check whether `window.Office.initialize` has ever called.

## Your Environment
* Platform: Mac
* Host: PowerPoint
* Office version number: 16.24
* Operating Sys

[2019-04-29 01:17] kbrandl commented on #481
@dinglicoding this topic was discussed at length during the April 10th Office Add-ins community call. You can find a recording of that call, along with the corresponding PowerPoint deck, here: https://developer.microsoft.com/en-us/office/blogs/office-add-ins-community-call-april-10-2019.

[2019-04-29 05:45] neso613 opened #492 "Office.js has not fully loaded when network is fast and cache is clean."
I am developing Outlook web add-in. I am using Office.js. I have developed custom UI to save some settings for scheduling meeting. I have designed add-in command say "Settings".When I clicked on it shows me this statement while debugging on Vorlon-->
Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If

[2019-04-29 05:49] exextoc commented on #489
You have added "Expected Behavior" but it is not clear from your post what is "Current Behavior". Can you please describe what is the current behavior you are observing? Does the addin functionality work as expected but is it slow? Which platform you are seeing this slow performance?

[2019-04-29 06:00] neso613 commented on #489
Current Behavior->
Outlook add-in is very slow. When I clicked on any add-in command( add-in command have dropdown with 2 options say "Setting" and "Schedule Meeting"), it shows processing in outlook client and do not perform any action( do not show/open window).

I have used Vorlon for debugging. On vorlon, I have seen this error-
Office.js has not fully loaded. Your app must call "Office.onReady

[2019-04-29 06:07] exextoc commented on #489
Thanks for explaining the current behavior. Are you trying this in on Outlook Win32 or Outlook Web or Outlook Client on Mac platform?

[2019-04-29 06:09] neso613 commented on #489
This is for all i.e. Outlook client for Mac, windows and OWA.

[2019-04-29 08:18] exextoc commented on #489
Thanks for confirming that you are observing this behavior on all platforms. We are looking into this.

1. Can you please share your addin code so that we can repro this exact scenario in-house? Since it is performance related issue, it is best to look at actual code without making any assumptions. We are able to use Office.context.mailbox.displayNewAppointmentForm() and form opens immediately wit

[2019-04-29 09:38] exextoc commented on #467
We tried to repro this again in modern OWA using your code-snippet below:

[code]

It is not reproducible for us. Display dialog opens without any problem on Win10 + Chrome 73.

Do you have any special settings in Chrome? If yes, we would like to use those settings and try to repro the problem.

[2019-04-29 10:15] tobiasviehweger commented on #467
@exextoc I don't have anything special in Chrome, I've turned off all blockers etc, still happening. Also can reproduce this in Edge (without any proxy, no corporate restrictions, all defaults). **Please note this only occurs if you call it from a ribbon function** directly, from a sidepane it works. See gif:
https://static-resources.yasoon.com/owa_display_dialog_issue.gif

Could you try my exampl

[2019-04-29 12:57] exextoc commented on #467
@tobiasviehweger Thanks for sending the gif repro. We are looking into this issue and will provide update on this soon.

[2019-04-29 13:44] exextoc commented on #490
@nehasoni3 We tried following code in OWA, it seems to be working fine for us.

[code]

Can you please tell us what happens when API is called? Any other error (on console) or popup seen?

[2019-04-29 14:14] splinter opened #493 "[Outlook][Add-in Approval Process] Add-In fails to install after MS approved the last manifest change"
I am posting here since this question does not seem like a valid SO question.

Approximately two week ago we had submitted a new manifest adding pinning support to the MS store approval process. This manifest was subsequently validated and we received a mail saying that the changes were approved. We were notified that it may take a few days for these changes to propagate to our user base. However

[2019-04-29 15:09] Tyler-H commented on #61
Just found that this is running every 10 seconds or more frequently on Microsoft Planner (https://tasks.office.com/ - which, can we talk about the inconsistent URL scheme for that and Stream vs other Office URLs?), which over a three day period amounted to over **28,000** requests for an idle website on an inactive computer. This is the kind of thing that ought to happen *once*: on page load.

[2019-04-29 15:16] neso613 commented on #490
Please confirm me, I should use `Office.context.mailbox.displayNewAppointmentForm( { start:start, end:end });` or `Office.context.mailbox.displayNewAppointmentForm( { start:UTCCorrectStartDate , end:UTCCorrectEndDate  });`

On console screen (vorlon), it shows--
Sys.ArgumentTypeException: Object cannot be converted to the required type. Parameter name: start
Sys.ArgumentTypeException: Sys.Argument

[2019-04-29 15:19] neso613 commented on #489
Can I privately share the code with you. Will you please share your email id.

[2019-04-29 16:49] glr0221 commented on #433
Thank you very much for your response @macOutlookExtensibility.

I have tried to implement your suggestion and here is what I have done so far :
1. Researched all the EWS request packets via fiddler. (Ones that were generated when the makeEwsRequestAsync() succeeded on windows.)
2. Got the "auth:bearer" token via Office.context.mailbox.getCallbackTokenAsync
3. Got the EWS url via : Office.context.

[2019-04-29 16:53] kbrandl commented on #290
Closing this issue now, since the bug has been resolved and the doc updates have been submitted for publication ([PR 922](https://github.com/OfficeDev/office-js-docs-pr/pull/922) in OfficeDev/office-js-docs-pr).

[2019-04-29 16:53] #290 closed, assigned to danielgwilson

[2019-04-29 20:58] Rick-Kirkham commented on #364
The bug has been set to "won't fix". The description for the method has been marked "Deprecated". This should appear in the reference article and the intellisense in the near future.

[2019-04-29 20:58] #364 closed, assigned to Rick-Kirkham

[2019-04-29 22:48] kkerr1 commented on #433
We also evaluated the workaround and unsurprisingly ran into CORs restrictions that appear to make the suggested workaround unusable. https://cl.ly/a4e448c90d54 @macOutlookExtensibility do you have an update on timing of this fix?

[2019-04-30 08:39] htryggva commented on #290
@Reezaali I can verify that the issue is resolved on my side too. Thanks a lot!

[2019-04-30 08:53] tutieu commented on #488
Please try the latest version of office.js
https://appsforoffice.microsoft.com/lib/1/hosted/Office.js

Also the latest document to update the manifest:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/update-your-javascript-api-for-office-and-manifest-schema-version

[2019-04-30 08:57] dinglicoding commented on #488
@tutieu  thanks，but textbox only in beta of office.js.

[2019-04-30 09:21] tutieu commented on #487
The Execute function can call all Excel JaveScript APIs. You need to add functions to Function File which is defined in Manifest.  See

 https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-core-concepts to write an Excel Function and reference https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-ranges to get how to get select range.

[2019-04-30 09:27] tutieu commented on #483
Created a bug #3327208 to track this issue.

[2019-04-30 10:44] jak-hammond commented on #482
I've also come across this issue as well. Tried adding the necessary entry to the apps `AppDomains` entry in the manifest and still the same.

[2019-04-30 10:50] dannycurrie opened #495 "Word.LocationRelation value of insideEnd when comparing with selection on a new line"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have noticed that `range.compareLocationWith(anotherRange)` returns a `LocationRelation` value of `insideEnd` when comparing a range on a new line, with a range on the line above.

[2019-04-30 16:25] kumarsai commented on #483
Friends is there any update on this issue??

[2019-04-30 17:52] Rick-Kirkham commented on #495
I can reproduce.
1. If the cursor is just outside the end of the CC, should get "After" but get "InsideEnd".
2. If there is 1 carriage return between the end of the CC and cursor, should get "After" but get "InsideEnd".
3. If the cursor is just inside the end of the CC, should get "InsideEnd", but get "Inside".
4. If the cursor is just outside the start of the CC, should get "Before" but get "Insi

[2019-04-30 18:18] dannycurrie commented on #495
Thanks Rick!

[2019-04-30 18:49] LanceEa commented on #261
@dmahugh - I had a user report an issue to me this week for Excel Online and it appears to be the same 500 error I outlined above. I re-ran the Gist I shared above and I'm still getting internal 500 error using this gist as well.

Here is the version of Excel Online I'm on:
<img width="519" alt="Excel Online Version" src="https://user-images.githubusercontent.com/8103374/56985715-9a307980-6b4e-11e

[2019-04-30 19:01] kbrandl commented on #261
@LanceEa sorry to hear that you're still experiencing this problem. @dmahugh is out of the office (on vacation) for the next few weeks, but I'll re-open this issue. Unfortunately, I'm not sure who Doug was working with on this. Would you like me to try to escalate this issue to someone else on the team, or (since it sounds like there's a work-around and this issue isn't affecting a large number of

[2019-04-30 22:17] jargil commented on #424
Thanks for confirming @tobiasviehweger.

[2019-04-30 22:20] jargil commented on #458
@htryggva - with any Office build including or after 16.0.11624.20000, could you please confirm that you're now seeing the right behavior?

[2019-04-30 22:21] jargil commented on #423
@tobiasviehweger - could you please confirm if you're still seeing this problem with the latest Office build?

[2019-04-30 22:45] pajama61 opened #496 "Office.context.ui.displayDialogAsync not working in "the new Outlook""
## Expected Behavior
Dialolg opens and callback called on completion.

## Current Behavior
Only repros when "The new Outlook" is toggled on.
The dialog doesn't show up and the callback is never called.
When exiting, a warning is shown that "Add-in still working".

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: Office Online
* Host [Excel, Word, PowerPoint, etc.]: Outlook
*

[2019-05-01 07:38] htryggva commented on #458
@jargil Just tried it on 16.0.11624.20000. I can confirm that the links are working as expected. Thanks :)

[2019-05-01 12:29] tobiasviehweger commented on #423
@jargil I've not noticed it anymore I'd also consider this fixed! Thank you!

[2019-05-01 12:29] #423 closed, assigned to jargil

[2019-05-01 12:32] tobiasviehweger commented on #496
Possibly same as #467?

[2019-05-01 15:36] LanceEa commented on #261
@kbrandl -  I will talk to the user that reported the issue and see if there is an urgency around this but the work around is not working currently so my Excel Online users run into this issue when downloading certain tables.

I see that Doug had internal ticket attached. Can we see if that was in fact resolved and maybe follow-up with the engineer working on that to see if they tested against the

[2019-05-01 15:40] kbrandl commented on #261
@LanceEa Understood, thanks for the additional info. I'll follow up on the ICM ticket today to see if I can get the engineering folks re-engaged on this issue.

[2019-05-01 16:08] pajama61 commented on #496
Yes, exactly the same as #467

[2019-05-01 16:08] #496 closed, assigned to nobody

[2019-05-01 16:20] #492 closed, assigned to exextoc

[2019-05-01 16:42] kbrandl commented on #261
@LanceEa I've escalated this issue to the engineers again so that they'll resume investigation of this problem. (FYI for Microsoft employees - new ICM # is 117929385)

FYI, I'll be OOF for a couple of weeks starting later today. @Rick-Kirkham can you please keep an eye on this issue (and related ICM incident # 117929385) and keep @LanceEa updated on any new info from engineering re status of their

[2019-05-01 17:10] kanaksony opened #497 "Outlook plugin reminder time is set to "none" in Outlook 365"
I have set the Reminder on Outlook 2016 for Mac Preferences -> Calendar -> Default Reminder (say 15 minutes). In my add-in when I click on a button to open new appointment window using Office.context.mailbox.displayNewAppointmentForm method, the reminder should be shown as 15 minutes. This is working as expected for Outlook for Windows and OWA. Its should also work the same in Mac Outlook 2016.

[2019-05-01 17:15] kanaksony opened #498 "[MAC] Office.context.mailbox.displayNewAppointmentForm method opens up a new appointment window but always shows "Reminder" as "None""
**Expected Behavior**
I have set the Reminder on Outlook 2016 for Mac Preferences -> Calendar -> Default Reminder (say 15 minutes). In my add-in when I click on a button to open new appointment window using Office.context.mailbox.displayNewAppointmentForm method, the reminder should be shown as 15 minutes. This is working as expected for Outlook for Windows and OWA. Its should also work the same i

[2019-05-01 17:20] kanaksony commented on #490
Hello @Rick-Kirkham @exextoc Do we have any update on this? :)

[2019-05-01 17:33] LanceEa commented on #261
@kbrandl - Thanks and let me know if you need more information.

[2019-05-01 18:04] Rick-Kirkham commented on #494
This issue might have the answer: https://stackoverflow.com/questions/44665073/how-to-deploy-officejs-addin-on-office-online-on-premise-server

[2019-05-01 19:38] sebisebo opened #499 "Compatibility addin office 2019"
Hi,
I developed an Excel addin using office.js and it work fine on excel 2013, 2016, 365 but on 2019 it just show a blank page on excel side panel. Any idea of this problem ?
I can put html code of the first page in case.
Thanks

[2019-05-01 19:56] exextoc commented on #498
@Mac Outlook Extensibility Oncall<mailto:macolkextoncall@microsoft.com>

Bug 1095791<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1095791>: [OfficeDev/office-js] Office.context.mailbox.displayNewAppointmentForm method opens up a new appointment window but always shows "Reminder" as "None" (#498)

________________________________
From: Rick-Kirkham <not

[2019-05-01 22:52] celowsky opened #500 "Unable to access Office.context.mailbox.userProfile with Outlook 2016 on Windows 10 and Exchange 2013 server (on-premises)"
I'm working on writing an add-in compatible with Outlook 2016 Windows desktop client (build 16.0.9126.2315 32-bit) connected to Exchange 2013 on-premises from Outlook with requirement set 1.1, but I can't access the Office.context.mailbox.userProfile object.
## Expected Behavior

In the `Office.initialize` function of the add-in, I expect that I can read the value of `Office.context.mailbox.userPr

[2019-05-02 04:39] neso613 opened #501 "Roaming Settings are not updated synchronously for Outlook web add-in for OWA"
Hi
I am working for Outlook web add-in using Office.js. The add-in is for Windows and Mac client and OWA. I have designed a setting UI for saving user data using Roaming Setting. The user data is saved in roaming settings and updated into UI immediately for Windows and Mac client. But for OWA, the updated settings are not saved into roaming settings and thus, not updated into UI.

If I have change

[2019-05-02 06:46] exextoc commented on #490
@nehasoni3 You should be using this code:

`Office.context.mailbox.displayNewAppointmentForm( { start:start, end:end })`

Please let us know if this is not working as expected. If expected behavior is not seen, please tell us what you are observing? Does the appointment form open?

[2019-05-02 06:52] exextoc commented on #492
@nehasoni3 Can you please tell us if this issue is resolved and how did you fix it?

[2019-05-02 06:59] GauravSrivastava7 commented on #483
Hi Office-JS team, there is new release of windows coming up on 10-May is office-js update bundled with it?

[2019-05-02 08:42] exextoc commented on #467
@tobiasviehweger We are able to reproduce this issue using your addin. Thanks for providing the addin for repro purpose. We are actively looking into this, but don't have any timeline to provide on fix.

Apologies for taking long time to accept this as bug.

[2019-05-02 09:39] exextoc commented on #498
Thanks for reporting this issue regarding default reminder settings in Outlook for Mac. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-05-02 09:58] afzal-hussain commented on #467
Great. Thanks @exextoc @tobiasviehweger :)

[2019-05-02 10:43] kushwahav opened #502 "Outlook add-in using npm installed office-js library does not work if internet is blocked"
## Expected Behavior
Outlook add-in accessing npm installed office-js library should work if internet is blocked

## Current Behavior
Office-js library gives error when add-in is loaded.
![outlook-15 04](https://user-images.githubusercontent.com/50199962/57070463-22e91a00-6cf5-11e9-907b-215b734b3d16.png)
![o15apptofilemappingtable](https://user-images.githubusercontent.com/50199962/57070473-2b4155

[2019-05-02 12:18] glr0221 commented on #433
@macOutlookExtensibility @kbrandl
any update as for the timeline for the MS fix on this item. Thank you.

[2019-05-02 15:16] Hombr33 opened #503 "Trying to save a blob file in Outlook for macOS using javascript"
Ok so I have a `Blob ` file that I'm trying to save on local disk (the `Blob ` is created locally from an `ArrayBuffer`). The problem I'm facing is that Outlook for macOS does not want to open a `FileSaverDialog` or something similar to let the user save the file.

### My code is working perfectly in Outlook for Web (OWA) on all browsers (including Safari) and Outlook for Windows.

[code]

**PS:**

[2019-05-02 15:18] Hombr33 commented on #3
Has this been fixed, or possibly an workaround ? Thanks in advance!

[2019-05-02 16:04] exextoc commented on #489
@nehasoni3 Sorry, we cannot share email-id. Is it possible for you to remove business logic and create a minimal add-in code for repro purpose and host it on github?

[2019-05-02 16:35] exextoc commented on #501
@nehasoni3 Can you please share the code-snippet used for settings/saving/getting settings in roaming settings?

[2019-05-02 17:18] nehasoni3 commented on #489
sure. I'll try to update the add-in code soon.

[2019-05-02 17:21] neso613 commented on #501
Sure @exextoc .

`function setSettings(uid, settingObj) {
    // Gettings roaming settings object from Office context
    var settings = Office.context.roamingSettings;
    settings.set(uid, settingObj);
    settings.saveAsync(saveSettingsCallback);
}

// Saves all roaming settings.
function saveSettingsCallback(asyncResult) {
    if (asyncResult.status == Office.AsyncResultStatus.Failed) {

[2019-05-02 17:26] sumurthy commented on #483
@kumarsai can you use the newer [API](https://docs.microsoft.com/en-us/javascript/api/excel/excel.bindingcollection?view=office-js#addfromnameditem-name--bindingtype--id-) and see if it works?

Office-js is not bundled with Windows OS or Office application itself. It's available only on CDN and GitHub office-js package.

[2019-05-02 17:39] Rick-Kirkham commented on #499
Please provide some more information. Are you developing on Windows or a Mac?

[2019-05-02 17:58] #497 closed, assigned to exextoc

[2019-05-02 17:59] exextoc commented on #497
I believe this is a duplicate of #498

[2019-05-02 18:11] macOutlookExtensibility commented on #433
@glr0221 @kkerr1 Yes, that was the route we were suggesting. Sorry about that, we ran into the same CORS issue. It looks like the token can only be used to make an EWS request from the backend (which is what some of our customers are doing), and not through an AJAX request from the browser.

The only workaround for this seems to be to make the call from the backend using the callback token, or to

[2019-05-02 20:10] exextoc commented on #502
I have some questions that will help us reproduce this issue.

What is the version number of the Outlook client that has this issue?

Does this issue also occur when you load the office-js files from your web server (not the Office.js CDN), when internet access is enabled?

Are you able to reproduce the issue on other machines?

[2019-05-02 20:54] kanaksony commented on #497
Yes.

[2019-05-03 07:17] kushwahav commented on #502
Here is the requested information:

Outlook version:
![outlook_version](https://user-images.githubusercontent.com/50199962/57123620-11108100-6da0-11e9-9a62-d270ef8205a2.png)

This issue does not occur when office-js files are loaded from web server and internet access is enabled.

And this issue is re-producible on multiple machines.

It seems like office-js library is trying to access Ajax librar

[2019-05-03 16:54] kumarsai commented on #483
we pointed to new API [Link ](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets) but issue is not resolved.

here is the combinations which we tested :

comb | < Office Version -1904 | Office Version   -1904 (11601.20144)
-- | -- | --
**OS version   -1903** | Not   Working | Not   Working
**<= OS version - 1809** | Working | Working

is it du

[2019-05-03 20:04] kumarsai commented on #483
We found that windows 1903 build which uses Edge webView as host for task pane app has issues

but it seems to work fine when IE i used as host for addin

is there a way to swap Edge Webview to IE in 1903 windows build??

[2019-05-03 23:23] jargil commented on #458
@htryggva - Thank you! I'll close this issue then.

[2019-05-03 23:23] #458 closed, assigned to jargil

[2019-05-06 15:55] azmatzuberi commented on #477
@JuaneloJuanelo Any timeframe on the bug fix?

[2019-05-06 18:38] #500 closed, assigned to exextoc

[2019-05-06 21:33] exextoc commented on #486
This API will only return **Resolved** Recipients. If an E-mail Address hasn't been resolved then the API will not return those e-mails until they are resolved. If you want to grab e-mails after you have queried for to.getAsync(), the RecipientsChanged Event may be useful (https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.7/office#eventtype-string) It shou

[2019-05-06 21:45] exextoc commented on #486
Are you by any chance using the Pinning Feature and not registering for the ItemChanged Event?

[2019-05-07 02:06] exextoc commented on #431
A workaround for this, if you cannot get the Attachment via EWS, you may be able to do a GetItem and get the correct Attachment Id's that way.

In builds that are older than ~July 2017, there was a bug In the Win32 Desktop client, where Attachment EWS Id's would return incorrectly, on e-mails that were moved to another folder, or a Forwarded e-mail. This bug no longer exists, and newer builds shou

[2019-05-07 06:22] exextoc commented on #467
@tobiasviehweger @afzal-hussain We investigated and found that this issue is fixed already and being slowly rolled out. Can you please check once again?

If this is not working, can you please let us know you build version for Outlook Web App? You can find that by doing "Inspect" -> Sources -> Expand ow2.res.office365.com -> Note down build version which is in the form like this: "owamail/20190502

[2019-05-07 07:20] afzal-hussain commented on #467
It is now working for me in my scenario. I have tested in the following combination
1. Office Online + Chrome (Linux) - Loaded build version was "owamail/2019042903.08"
2. Windows7 + Office 365 Desktop

Both worked for me. If it also works for @tobiasviehweger , then we can close the issue

Thanks @exextoc for the support

[2019-05-07 09:10] garrit-schroeder opened #504 "Get Permissions from Outlook Add-in from Javascript"
Get Permissions from Outlook Add-in from Javascript.

I would like to enable / disable features based on the permissions the add-in has.
Is it possible to detect the Permissions set in the manifest.xml file installed in outlook?

The idea is to distribute multiple Manifest with different Permissions and enable / disable features based on the permissions set.

Greetings and thanks for your help.

[2019-05-07 13:33] glr0221 commented on #433
@macOutlookExtensibility @kbrandl

Thanks for updating us and sorry for the late response. For now, we will be waiting for any update on your end. We appreciate your prompt responses and efforts to help us find a workaround. We would also like to hear any additional updates (no matter how small) you have. Thanks again.

[2019-05-07 15:47] neso613 commented on #490
It works!!
Everything works fine and expected.
Thank you for support.

[2019-05-07 15:47] #490 closed, assigned to exextoc

[2019-05-07 18:28] exextoc commented on #504
Bug 1100593<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1100593>: [OfficeDev/office-js] Get Permissions from Outlook Add-in from Javascript (#504)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>

From: Rick-Kirkham <notifications@github.com>
Sent: Tuesday, May 7, 2019 10:09 AM
To: OfficeDev/office-js <office-js@no

[2019-05-07 18:32] kumarsai commented on #483
@sumurthy @tutieu  I created a sample application where I can Replicate the two issues, Click [here](https://microsoft-my.sharepoint.com/:u:/p/v-saarro/EdboDgV-nfZJgDZdofq-LD4BRrsdI7l0HSzPAnYlGRWvzg?e=xX5PDY) to download

1. On reading multiple name ranges from excel getting error "Wait untile the previous call completes"
2. On writing multiple name ranges, write operations are get skipped for few

[2019-05-07 18:52] exextoc commented on #504
If you are distributing multiple manifests, then an easy way to accomplish this is to change the URL that each manifests redirects to. (and have each separate file behave differently on your end). You could also just tag a query parameter to the end of each. i.e. http://contoso.com/index.php?permissionLevel=restricted

[2019-05-08 04:53] VitaliyLavrenko opened #505 "Stuck at context.sync"
I run code from function-file in Word Version 1904 Build 11601.20144Ж
[code]
and in last Word it stuck on **context.sync()** after copy to buffer or do some action it continue running.
## Expected Behavior

It should run like before, sync props with Word app and continue running.
## Current Behavior
Stuck on context.sync and didn't continue run some time and resume running after some action like c

[2019-05-08 05:07] tsabbay commented on #505
Im having the exact same thing, its quite strange that .sync() has stop working and that its looping endlessly.

[2019-05-08 10:34] exextoc commented on #493
Kindly share the screenshot of the error and also the fiddler trace for the issue. Also share the name of the addin uploaded to store, for which the issue is happening.

[2019-05-08 17:34] Rick-Kirkham commented on #505
This is being tracked on Stack Overflow: [Word add-in stuck in context sync](https://stackoverflow.com/questions/56020821/word-addin-stuck-in-context-sync/56027409#56027409). It is confusing to track it in two different places. Please see the answer that was given to the Stack Overflow question.

[2019-05-08 17:34] #505 closed, assigned to nobody

[2019-05-08 18:07] tsabbay commented on #505
why you closed, the solution is not right!
We  did this, and it not helped
function myFunction(args) {
    Word.run(function (context) {
        // Your code
        return context.sync();
    })
    args.completed();
}

[2019-05-08 18:10] tsabbay commented on #505
@Rick-Kirkham  why did u closed it, its wrong answer on StackOverflow and no one is contributing.
Its MS Word bug,started just few days ago and i assume you are not aware of it.

[2019-05-08 18:10] jargil commented on #483
@kumarsai  - I can confirm I can reproduce what you’re seeing, but after debugging the error you’re getting: “Wait until the previous call completes”, it literally means what is saying, you have to wait for the calls to complete. From debugging the difference is that the new Edge WebView control is processing the requests and pumping them to Excel much faster than IE was doing. Excel is exhausting

[2019-05-08 18:29] Rick-Kirkham commented on #505
@tsabbay Closing the issue here does not mean closing it everywhere. It simply means that it will be tracked on Stack Overflow. As of the time that I closed the issue here, there was no indication on Stack Overflow that anyone had tried the suggestion that was made.

[2019-05-08 18:34] tsabbay commented on #505
Wrong..we tried it.
And its a very important issue that other devs should be aware of.
Try it..on the latest ver(pc/mac).

On Wed, May 8, 2019, 21:29 Rick-Kirkham <notifications@github.com> wrote:

[2019-05-08 19:17] Rick-Kirkham commented on #505
@tsabbay No one had tried it _at the time I closed this issue_. To repeat: the issue is not being forgotten. It is simply being tracked in its original home on Stack Overflow.

[2019-05-08 19:36] exextoc commented on #502
In general, self-hosting these files for Outlook, is not supported. The documentation for the NPM package should be updated with this information. That being said, you could try loading a self-hosted copy of Microsoft Ajax BEFORE Loading the Office.JS file to see if that works...

[2019-05-08 20:49] misaunde opened #506 "Inspect Element does not appear in right click menu on Mac"
I'm following this tutorial for debugging  a sideloaded Excel add-in on Mac:
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac

And using Mac OS 10.14.4 and Office 365 Excel version 16.24 (19041201). After adding:
`defaults write com.microsoft.Excel OfficeWebAddinDeveloperExtras -bool true` in the terminal, and rebooting: "Inspect Element" does not ap

[2019-05-08 20:52] misaunde opened #507 "Sideloaded add-ins on mac have to be re-added after each restart"
Going through this tutorial for sideloading on mac:
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac

For  a manifest that already works as expected on pc (Windows 10), I notice that every time I close and re-open Excel, my add-ins disappear. I have to go to the Insert ribbon, click on the my add-ins drop down menu, and re-select my developer ad

[2019-05-09 08:14] dinglicoding opened #508 "[excel] how to add point title for XYScatter chart"
hi

 1、it's can set title of point tip?

![image](https://user-images.githubusercontent.com/3963826/57437095-aa91d400-7273-11e9-8fbb-d01c7ecfbec2.png)

series acos it's same when i move to other point. can change the tip title of different point?

[2019-05-09 09:28] dinglicoding opened #509 "[excel] sharp can add image by url"
hi

when i add a image sharp, it's only support image base64, so i use XMLHttpRequest to get a image base64.it's error in excel. my code below

toDataURL("http://ecx.images-amazon.com/images/I/41SUA08EIBL._SL75_.jpg", function(base64) {
    console.log(base64);
});

function toBase64DataURL(src, callback) {

  var xhttp = new XMLHttpRequest();
  xhttp.onload = function() {
    var fileReader = new

[2019-05-09 15:52] neso613 commented on #501
Please suggest some way.

[2019-05-09 15:58] neso613 opened #510 "SSL certificate required for Outlook add-in development not working for Chrome and Firefox"
HI
I am developing Outlook Web add-in using Office.js
As required, I have generated SSL certificate for my developing stage.But that SSL certificate is not working for Chome and Firefox.

## Expected Behavior
SSL also working for Chrome and Firefox

## Current Behavior
SSL only working for Edge, IE, not for Chome and Firefox

## Steps to Reproduce, or Live Example
Please sideload Microsoft add-in

[2019-05-10 12:16] garrit-schroeder commented on #504
Thanks, great idea.

[2019-05-10 15:42] barisbikmaz opened #511 "ios dialog title area is included into the viewport height"
## Expected Behavior
The dialog title should not be included in the viewport height.
When writing css with height: 100%, this should only contain the area under the dialog title.
![image](https://user-images.githubusercontent.com/6338132/57538517-df238f80-7348-11e9-9ee6-7ec7c064c92a.png)

## Current Behavior
height: 100% included the title area
![image](https://user-images.githubusercontent.com/63

[2019-05-10 16:01] macOutlookExtensibility commented on #433
To give an update, we are still working on this. We're still having trouble reproducing this on our dev builds, which is causing the delay - we are investigating other leads. We still have this as a priority item and will update this thread as soon as possible.

[2019-05-10 16:51] LanceEa commented on #261
@Rick-Kirkham - I just wanted to check-in to see if there were any additional updates on this or if need more information from me?

[2019-05-13 14:23] kumarsai commented on #483
@jargil : Thanks for the solution, this issue is resolved.

But we are facing another issue  in new version of Office and OS.
 We are getting blank model-popup instead of browser tab when we click on any hyper links on Task pane.
https://microsoft-my.sharepoint.com/:u:/p/v-saarro/EdboDgV-nfZJgDZdofq-LD4BRrsdI7l0HSzPAnYlGRWvzg?e=hD7o08  (updated the same app)
Here is sample application we created t

[2019-05-13 18:48] misaunde opened #512 "[Excel] Sheet name tick inconsistency"
There is a sheet name tick inconsistency between workbook.getSelectedRange() and worksheets.getItem().

For example, I would expect the code below to work in all scenarios (however it only works for sheet names that are a single word and have no apostrophe's in them - which is confusing and inconsistent in my opinion):
[code]

However, getSelectedRange returns the following for these scenarios:

A

[2019-05-14 05:30] splinter commented on #431
We have collected quite a few EWS IDs but would like to share this securely with your team without going through the ticket.

[2019-05-14 07:26] exextoc commented on #510
The issue does'nt seem related to add-ins. The following is the warning firefox throws when we try to load the manifest.
"Websites prove their identity via certificates, which are issued by certificate authorities. Most browsers no longer trust certificates issued by GeoTrust, RapidSSL, Symantec, Thawte, and VeriSign. mop.infocus.net uses a certificate from one of these authorities and so the webs

[2019-05-14 08:54] neso613 commented on #510
Ok. Thanks for support.

[2019-05-14 08:54] #510 closed, assigned to exextoc

[2019-05-14 14:33] exextoc commented on #501
Can you try using the below code snippet and let us know if you are facing the same issue? I am able to see "myKey" in the console.

setSettings('myKey', 'keyValue')
function setSettings(uid, settingObj) {
 // Gettings roaming settings object from Office context
var settings = Office.context.roamingSettings;
settings.set(uid, settingObj);
settings.saveAsync(saveSettingsCallback);
}

// Saves all r

[2019-05-14 17:54] kbrandl commented on #261
@LanceEa apologies for the slow response on this, I'm back in the office today and just checked on the status of the corresponding ticket that was opened with engineering. I see that they've acknowledged the ticket, but there's no indication of any progress in addressing it. I've reached out to the engineer directly for a status update and will let you know what I hear back.

[2019-05-14 20:02] Rick-Kirkham commented on #511
This looks like a Fabric issue, not an issue with the Office JavaScript library. Are you using Fabric React or the non-React Fabric?

[2019-05-15 14:39] LanceEa commented on #261
@kbrandl - Thanks! Let me know if you need me to test anything or provide more information.

[2019-05-15 16:34] jargil commented on #483
@kumarsai - to better track separate issues, could you please open a new GitHub issue describing what you're seeing about the popup? Feel free to assign to me once you have that. Please add as much information as you possibly can.
I'll go ahead and close this issue here. Thanks!

[2019-05-15 16:34] #483 closed, assigned to tutieu

[2019-05-15 18:06] splinter opened #515 "[Outlook] EWS REST API calls fail randomly"
We recently switched to performing loadAsyncProperties[1] and saveAsync[2] operations using the REST API and we have encountered the following behaviour:
1. The restUrl is empty the first time the mail is opened (happens randomly)
2. The following errors are returned by the EWS REST endpoint sporadically:

[code]

[code]

[code]

When the same operation is performed again the expected response is

[2019-05-16 04:11] #504 closed, assigned to exextoc

[2019-05-16 05:20] exextoc commented on #515
Several clarifications:
- Are you trying to load and save addin custom properties?  Is there any reason you are using REST instead of using JS API?

- Could you clarify on the case when restUrl returns empty? Are you saying that while addin remains open, the first call to restUrl result in empty restUrl while later calls return the url?  If so, could you check that you are using restUrl after offi

[2019-05-16 12:07] georgiik-welldone commented on #506
The same happens to me

[2019-05-16 14:08] splinter commented on #515
- Yeap, we are trying to load and save custom properties. We encountered an issue where mixing OfficeJS and REST API calls resulted in a new version of the mail item been created [1].We store metadata on operations performed by the user in the mail item and then try to add a category label. The first operation was earlier performed by the OfficeJS API while the later was performed by the REST API.

[2019-05-16 14:36] splinter commented on #493
Add-In Name: CloudExtend Outlook for NetSuite
Fiddler Trace: We do not have access to the machine to obtain this trace
Screen:
![image](https://user-images.githubusercontent.com/53738/57862481-08935e00-7816-11e9-9ae6-09b8eb0550ca.png)

[2019-05-16 15:12] kumarsai opened #516 "getting blank model-popup instead of browser tab when we click on any hyper links on Task pane"
## We are getting blank model-popup instead of browser tab when we click on download links on Task pane. And for hyper links also model popup does not have 'maximize/minimize ' options in latest version of Office/OS versions.

It was working fine in 18XXX build version of Office/OS

## Current Behavior
Here is the [link](https://microsoft-my.sharepoint.com/:i:/p/v-saarro/EcVsZybQgG5Cty20vucCxQcBGA

[2019-05-16 15:38] schmitch opened #517 "PKCE + Authorization Code Challenge should be prefered over implicit"
currently the docs at https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-external-add-ins encourages to use implicit flow.
however as of today it's probably better to use PKCE+authorization code, however office-js does not support PKCE (neither plain nor S256).

office-js should implement PKCE and probably encourage people to use it over implicit flows.
also the token exchange is pro

[2019-05-16 17:36] JAlexanderGuzman commented on #433
@macOutlookExtensibility I have the same problem, when do you think to have an update fixing this issue? My clients are waiting...

[2019-05-16 17:47] exextoc commented on #493
Just to make sure, I cannot find "CloudExtend Outlook for NetSuite".  Could you provide the assetid (WA...)?  Or do you mean "CloudExtend: Integrate Your Inbox with NetSuite" https://appsource.microsoft.com/en-us/product/office/WA104381216?src=office ?  If so, is the store page showing the expected version?

Additonal questions:
- Are you expecting 'install add-in again' because the <Permissions>

[2019-05-16 18:20] exextoc commented on #515
Thanks for the reference.
Let's focus on the REST issues.  The restUrl being empty in first call and work fine in subsequent calls of the same addin session is not expected.  Office.context.mailbox.restUrl simply returns a value from a dictionary that is initialized right before Office.initialize is called. As long as Office.context.mailbox.restUrl is called in Office.initialize or after, it retur

[2019-05-17 09:49] macOutlookExtensibility commented on #433
@kkerr1 @glr0221 @AlexanderSerpicoDev and others, this has been fixed in build 190514 onwards. We request to try out the new Insider Fast build and let us know if it's fixed on your end. Thanks!

[2019-05-17 14:51] kbl212 commented on #433
@macOutlookExtensibility Our customers were having this issue as well, so I've been following this thread. I tried the Insider Fast build just now on my Macbook, and our add-in appears to be working properly again. (not getting the 'null-but-succeeded' response anymore from EWS)

[2019-05-17 14:52] glr0221 commented on #433
@kbl212 may I know the version of outlook you are using? thanks.

[2019-05-17 14:53] kbl212 commented on #433
@glr0221 Version 16.26 (build 19051513)

[2019-05-17 14:54] glr0221 commented on #433
thanks @kbl212, we will test with this build as well.

[2019-05-17 16:12] JAlexanderGuzman commented on #433
@macOutlookExtensibility so asking all my clients to update theirs outlooks won't work for me, is there any alternative to be fixed this issue on all outlook versions?
Thanks

[2019-05-17 17:39] AndresMunozjs commented on #433
Hello @macOutlookExtensibility I have the version 16.26 (19051513), And I'm having the same troubles...

what recommend you to do in this case?

[2019-05-17 19:11] kkerr1 commented on #433
@macOutlookExtensibility can you provide some information on the schedule for when this will be included on mainline (not-insider) releases?

[2019-05-17 19:43] slowkoala opened #518 "Calling window.focus() causes Excel and the taskpane to lose focus"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In Office 365 Excel, if you call `window.focus()` from the taskpane, both Excel and the taskpane will lose focus.  The Excel title bar dims and the current cell highlight goes away.

[2019-05-17 20:36] turdsniffer opened #521 "sheet onChanged listener is very slow until F12 tools are opened"
## Expected Behavior
onChanged should fire immediately after a data change to a sheet has take place.

## Current Behavior
I have a sheet that should be listening for changes to a notes column.  When I start the addin it adds the onChange event listeners to 3 sheets.  The change listener just updates cell A1 with the current timestamp on any change.  When I start the addin and change a cell, A1 so

[2019-05-19 18:06] catchingyu commented on #521
Thanks for reaching us, turdsniffer.

I have verified your scenario with the scripts example you pasted here in the Script Lab (which is a great env for debugging and writing the Add-In, Details will be here: https://github.com/OfficeDev/script-lab). And the performance of the notifications seems all good even without the F12 tools opened. Is it possible you could also have a try on that?

Meanwhi

[2019-05-19 18:11] catchingyu commented on #518
Thanks slowkoala for reaching us.

Can you share with me the screenshot of you Office 365 Excel Version? I am seeking the build version if possible.

[2019-05-20 06:32] splinter commented on #515
The initialize code:
[code]
We test on and use multiple Outlook client versions, a sampling is given below:
- Outlook for Mac 2016 - 16.23.1 (190326)
- Outlook 2016 Windows - Version 1904

We do make two other REST calls which oddly seem to always work:
- Get Message  - This is done to obtain categories
- Update Message - This is to add categories

The code used to add the header:

[code]

We are

[2019-05-20 09:52] exextoc commented on #482
Hi, @mkoczka I was able to reproduce the scenario. There seems to be an error in your code, please update from
[code]
to

[code]

[2019-05-20 14:37] vyazadji commented on #149
;(

[2019-05-20 15:52] #180 closed, assigned to JuaneloJuanelo

[2019-05-20 16:15] turdsniffer commented on #521
@catchingyu yeah I have pulled up script labs and launched the "worksheet events" sample code and I don't see any delay there.  Even if I substitute my code in it seems to be very quick if I just run it through script labs.  I only saw the delay when I side loaded my vue web app though like I said it is a newly generated vue app with no additional logic added beyond the generated starter project.

[2019-05-20 16:22] turdsniffer commented on #521
Here is my sample app.  npm install and npm run serve.  Then side load it

[test.zip](https://github.com/OfficeDev/office-js/files/3198830/test.zip)

[2019-05-20 16:49] fds-ssg commented on #518
I can repro this on the following version of Excel for Windows:
Version 1906 (Build 11702.20000 Click-to-Run)
Office Insider

[2019-05-20 18:07] kbrandl commented on #261
@LanceEa, good news -- engineering has confirmed that they've identified the cause of this issue and applied a fix. @dmahugh is back in the office today and will provide an update here about when the fix will be deployed (i.e., available to you) as soon as that info is known.

(@dmahugh -- for more details, see ICM # 117929385.)

[2019-05-20 19:08] 4tti opened #522 "[Excel] OfficeRuntime.AsyncStorage or OfficeRuntime.storage does not work in TaskPane"
We have used .AsyncStorage and it worked fine. After updating typings to 1.0.8: https://www.npmjs.com/package/@types/office-runtime and using .storage we found out with latest Office updates that in the taskpane we are not able to set the value (and it turned out that it does not work no matter if we use .AsyncStorage or .Storage), however when we use it in Custom Functions it works fine. The issu

[2019-05-20 19:15] 4tti commented on #521
We are facing such issues from time to time as well and not only with the onChanged event but also SelectionChanged events. We did some measurement comparing ScriptLab, sample addin and our addin and it turned out that sometimes there is difference ~1s. BUT occasionally (and randomly) we see much bigger difference, suddenly the events have like **3 seconds delay** and once debugger is attached it

[2019-05-20 19:32] dmahugh commented on #261
Hey @LanceEa , this is now fixed in production. I've just verified that the Gist you provided works on Excel Online for me - let me know if you still see the issue.

FYI in case it applies to any of your users: this fix is *not* yet deployed to Excel Online in the regional clouds such as Cloud Germany or Cloud China, but those will be deployed next week.

I'm going to go ahead and close this issue

[2019-05-20 19:32] #261 closed, assigned to dmahugh

[2019-05-20 21:55] madhavagrawal17 commented on #522
Thank you @4tti for bringing this to our attention. We applied the fix for this issue. Please try your add-in now and let us know if you face any issue.

[2019-05-21 05:20] catchingyu commented on #518
Is it possible for you to try it on the build version later than Version 1906 (Build 11713.20000 Click-to-Run) sometime later?
I cannot repro it with that build. (And I can repro it with an old Version 1904).

Please do not hesitate to contact with us if you still encounter problems.

[2019-05-21 05:45] catchingyu commented on #512
Thanks a lot for reaching us @misaunde . We knew it is not the best experience,  I guess here you probably plan to do some more " file name strings handling stuff" as your previous workaround "trim first and last ticks".

[2019-05-21 05:51] catchingyu commented on #509
Is it possible for you to provide us more information on this issue? Thanks a lot for the support.

**Description** :

**Expected Behavior**

**Current Behavior**

**Steps to Reproduce, or Live Example**

**Context**

**Your Environment**
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online):

[2019-05-21 05:53] catchingyu commented on #508
Is it possible for you to provide us more information on this issue? Thanks a lot for the support.

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online):

[2019-05-21 09:51] macOutlookExtensibility commented on #433
@AlexanderSerpicoDev No unfortunately, an update is required to get the fix for this bug.

@AndresMunozjs Could you try deleting your cache and see if it solves the problem? Try removing the folder `~/Library/Containers/com.microsoft.Outlook/Data/Library/Caches/com.microsoft.Outlook/WebKitCache`
or
`~/Library/Containers/com.microsoft.Outlook` if that doesn't work.

@kkerr1 The worldwide build rele

[2019-05-21 12:58] paulpublic commented on #506
+1

[2019-05-21 13:05] kumarsai commented on #516
@jargil : we did some analysis on this issues here are some points we observed.
1. if we use  below code ("while forcing to open link on edge") its working fine as expected.
  ` window.open("microsoft-edge:"+window.location.origin + "/test.xlsm", 'Download');  `
2. Created windows forms app and used webBrowser to load our site, it is also working as expected.

Can you please suggest whether using

[2019-05-21 13:08] margosmat opened #523 "[Excel] Custom functions CORS error on desktop app"
In my add-in, in one of my Custom Functions I'm calling simple fetch (GET) method:
[code]

## Expected Behavior
Fetch should return requested data.

## Current Behavior
For desktop Excel app I got Network error with message: "The request does not meet conditions for security policy of SOP (same-origin policy) or simple CORS (cross-origin resource sharing).".
On Excel Online app fetch method works

[2019-05-21 14:28] fds-ssg commented on #518
@catchingyu My Excel version has been updated to Version 1906 (Build 11708.20006 Click-to-Run).  When I choose Update Now, it tells me I'm on the latest version, so I'm unable to update to a newer one.  The problem still occurs for me on this version.

[2019-05-21 15:48] 4tti commented on #522
Hello @madhavagrawal17
Yep, it works now!
**Thanks for such a quick fix.**

[2019-05-21 15:48] #522 closed, assigned to nobody

[2019-05-21 16:50] catchingyu commented on #518
Thanks a lot. @slowkoala. I am in the internal release version which is ahead of you. New version will come out to the public soon. Let's see whether you can still reproduce it when you get the version (later than 1906 (Build 11713.20000) some time later.

[2019-05-21 17:54] Zlatkovsky commented on #512
@catchingyu , I have to agree with @misaunde , it seems like we should be able to handle this case in the API implementation directly.  I'm happy to discuss more offline.

[2019-05-21 19:59] madhavagrawal17 commented on #523
Currently, the custom function runtime support Simple CORS, but not Full CORS. You need Full CORS to access an API with a request header that includes a bearer token like in your scenario. This is described in more detail here: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs. For now, consider calling the API from a service or function (for example, an Azure Fun

[2019-05-22 10:48] arpit974 opened #524 "[Excel]Copy pasting a content addin should throw an event"
## Expected Behavior
should be able to differentiate whether the addin is copy pasted or a new addin is added.

## Current Behavior
when copy pasting an addin we get Office.InitializationReason as document opened and same on reloading the addin, we need to able to differentiate between both the scenarios.

## Context
every time i reload addin i want to read the metadata and load addin accordingly,

[2019-05-22 11:09] ukalhapu opened #525 "How to read/write custom properties in Excel Online & PowerPoint online using Office.js ?"
We are developing Office Add-in for online office apps.
Looking for API to read/write custom properties in Excel and PowerPoint online.

For Word online it can be achieved using following:

function setProperties() {
           console.log("Adding custom properties ...");
		   Word.run(function (context) {
             context.document.properties.customProperties.add("TestOBID", "WTDoc:1234");

[2019-05-22 17:17] catchingyu commented on #524
@arpit974 Thanks a lot for reaching us. May I understand more context on your scenario of the differentiation of the 1st time Addin Load and the CCP of Addin later? What are the differences there?

Here are some documents might help you :
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/understanding-the-javascript-api-for-office
https://docs.microsoft.com/en-us/javascript/api/office/of

[2019-05-22 17:22] catchingyu commented on #525
@ukalhapu thanks a lot for reaching us. I assume the document can help you. There are some examples in the Excel customer properties.

https://docs.microsoft.com/en-us/javascript/api/excel/excel.customproperty?view=office-js
https://docs.microsoft.com/en-us/javascript/api/excel_release/excel.customproperty?view=office-js

[2019-05-22 19:47] deltreey commented on #406
just checking in...still an issue...seeing it perpetuate other problems now too...this sandboxing is kinda a big deal.

[2019-05-22 22:17] JuaneloJuanelo commented on #525
In  addition to @catchingyu  answered, please note that custom (and built-in) document properties are supported in Word and Excel only at this point. Powerpoint does not have an API yet to do this, please feel free to vote, upvote a user voice request here: https://officespdev.uservoice.com

[2019-05-22 22:28] #525 closed, assigned to catchingyu

[2019-05-23 00:07] catchingyu commented on #512
@Zlatkovsky. Yeah, you are right. It is a good experience for the developers that can use directly the return value from one function and use as an input as another one during their code/logic. It will make the code looks cleaner and more easier to understand.

One concern from me changing the current output of the existing functions would bring some trouble to the existing logic which is already

[2019-05-23 04:46] levitatejay opened #526 "Can't call context.sync() inside Dialog opened via FunctionFile"
I have an Angular OfficeJS Add-In with a view that contains a single button.
On button click I am trying to update the value in a cell with the following code:

[code]

When I open the view in a task pane and click the button it runs without issue.
When I open the view in a Dialog using a function file and click the button the code fails at `return context.sync();` with the error:
[code]

Function

[2019-05-23 06:23] Rick-Kirkham commented on #526
This is expected behavior. The only APIs that can be called inside the dialog are `isSetSupported` and `messageParent`. See [Send information from the dialog box to the the host page](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#send-information-from-the-dialog-box-to-the-host-page).

If you want interaction between the dialog and the workbook, the butto

[2019-05-23 06:23] #526 closed, assigned to Rick-Kirkham

[2019-05-23 07:32] margosmat commented on #523
Calling API from service or function sounds like a good option, but it will require additional work to set this whole thing up, that wouldn't be required if full CORS would've been supported. But we will discuss such scenario in our team ;)

My second question is: is there a way (or will be in the future) to communicate directly between taskpane and custom function? So I could for example call a c

[2019-05-23 08:18] ukalhapu commented on #525
Thanks,
I am able to read/write custom properties in Excel.

[2019-05-23 08:38] arpit974 commented on #524
On some user action the state of addin gets changed, I want the state to be preserved in case of addin reload.
In case of copy-paste scenario, copied addin should behave similar to inserting a new addin and should not know anything about the state of addin it is copied from.

for eg: addin state corresponds to the data in excel, i don't want two addins pointing to the same data.

Also, why copy -

[2019-05-23 08:58] ukalhapu opened #527 "Can displayDialogAsync API read response from server side page displayed in dialog box ?"
Basically we want to display wizard in dialog box on click of custom ribbon button.
     Office.context.ui.displayDialogAsync('https://myDomain/wizard.jsp', {height: 30, width: 20});
Then user supply information asked on wizard and click Finish button of the wizard.
The wizard get processed on the server and returns some information back.
We would like to consume this information in add-in JavaScr

[2019-05-23 09:18] ukalhapu opened #528 "Disable custom ribbon button from javascript"
dd-in commands to add a button on the ribbon or an item to a context menu. When users select an add-in command, they initiate actions such as running JavaScript code

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Ma

[2019-05-23 09:18] #528 closed, assigned to nobody

[2019-05-23 09:24] ukalhapu opened #529 "Disable custom ribbon button from JavaScript ?"
We have added custom button on the ribbon using Add-in command in the manifest.
Can we access and disable/grayed out the button from the JavaScript function on certain conditions?
What is API to access custom button control ?

[2019-05-23 16:01] LanceEa commented on #261
@dmahugh @kbrandl - Thanks for tracking this down for me!

I just tested myself and everything seems to be working correctly. I'm verifying with my users now and will ping you back if we find any additional issues.

Cheers 🍻

[2019-05-23 16:32] jakobpn commented on #523
To answer your second question, yes, the option you describe is part of our considerations for how to provide full CORS support.

[2019-05-23 18:29] Rick-Kirkham commented on #527
This can be done. The JavaScript in the dialog page puts the information it gets from the server into a stringified structure (could be JSON or XML or any structure you want), and then it passes the string to the parent page (such as the FunctionFile.html) with the `messageParent` API. On the parent page, you created a handler for the `DialogMessageReceived` event that processes the message. For d

[2019-05-23 18:29] #527 closed, assigned to Rick-Kirkham

[2019-05-23 19:03] JuaneloJuanelo commented on #529
Hello @ukalhapu, this is actually a known gap in our platform and currently in our backlog.

[2019-05-23 19:03] #529 closed, assigned to nobody

[2019-05-23 20:41] htryggva opened #530 "Edge WebView: Dialog API triggers an error"
Whenever I use the office-js Dialog API, an error occurs on the page loaded in the dialog. I've seen this in our own apps and in ScriptLab.

## Expected Behavior
No error should occur on the page opened in the dialog.

## Current Behavior
A few errors occur on the page. Please see screenshot.

## Steps to Reproduce, or Live Example
1. Execute this in ScriptLab:
`Office.context.ui.displayDialogAsyn

[2019-05-23 21:20] JuaneloJuanelo commented on #406
sorry about the delay .... just to let you know in the next minutes we will provide an update i think i have seen this before.... stay tuned...

[2019-05-23 21:58] JuaneloJuanelo commented on #406
ok @deltreey , after years of waiting (jk :) ) i have to say, i can NOT repro the issue. (not to mention sounds like an edge case, but we should also look into those 👍 )
I prepared a script lab [snippet for your so you c](https://gist.github.com/JuaneloJuanelo/9684a601fe515952a1b3e5b3cd5aebdd)an try it on your end. Btw if you are new to script lab go here: http://aka.ms/scriptlab

So please load i

[2019-05-24 12:05] barisbikmaz commented on #511
Just look my steps to reproduce. This is pure html with css with no third party included. I'm using the officejs dialog.

[2019-05-24 16:36] deltreey commented on #406
No, this is definitely still a problem @JuaneloJuanelo
<img src="https://i.imgur.com/GL42Ii3.gif"/>

Here is an example of the code: https://github.com/deltreey/example-officejs-broken

This is most definitely reproducible.

[2019-05-24 19:12] JuaneloJuanelo commented on #406
hello @deltreey  did you tried to repro the issue with the snippet i sent you?  do yo have a script lab snippet that repros the issue?

[2019-05-24 19:28] deltreey commented on #406
The snippet you provided did not reproduce the issue.  I created a github repository with the full solution for you.  See the link above.

also, my gif provides the code for context

[2019-05-24 19:46] JuaneloJuanelo commented on #406
yes and i think its effectively the same code (its constantly scanning the document for the content control collection)
I am downloading your solution now, i am trying to scope the issue maybe this only happens when you are debugging a solution. Btw it will be preferable to have a script lab snippet reproing that way  is easier to share among the folks who are investigating this....

[2019-05-24 19:49] deltreey commented on #406
the key difference is the `getOoxml()` call.  I don't know how to use scriptlab but I will look into it.

also, this is occuring in production for us.  it is certainly not a debugger issue.

[2019-05-24 19:51] kbrandl commented on #530
@htryggva sorry to hear that you're having trouble, but thanks for reporting this issue. @jargil is this something that you can investigate (since it's related to Edge WebView)?

[2019-05-24 20:10] JuaneloJuanelo commented on #406
no worries i am restoring your script there... thanks  just stay tuned :)   i can repro when debugging in VS

[2019-05-24 20:26] JuaneloJuanelo commented on #406
ok i have a repro!  scriptlab https://gist.github.com/JuaneloJuanelo/14ea55f09f80021aa29dfffd1ee7565f

we are investigating now, it seems is the OOMXL... tHANKS!!!!

tracking as a bug with code 3382332

[2019-05-24 21:31] JuaneloJuanelo commented on #416
@dinglicoding  i think this issue is fixed, i tried changing the datahierarchies and it seems to be working.

can you please: make sure Excel is updated with the latest release, try it again?

i have a script lab snippet you can probably reuse: https://gist.github.com/JuaneloJuanelo/1d2dd92496acbf53aea09c6ce38eb789

check our the addValues or the changeHierarchyNames() methods...

if you still see

[2019-05-24 21:34] JuaneloJuanelo commented on #410
@DomRoth  can you send me the URL of the Office.js library you are using?

[2019-05-24 21:36] JuaneloJuanelo commented on #407
@gajal123  can you please send us a code snippet to repro your issue? please use script lab (http://aka.ms/scriptlab
) for it. thanks!

[2019-05-24 21:39] JuaneloJuanelo commented on #394
@hxltinh quick question: what is the size of the XML you are trying to insert?

[2019-05-24 21:55] AlexJerabek commented on #506
@keyur32, Can you please take a look?

[2019-05-24 21:59] JuaneloJuanelo commented on #332
@ThePillowPrince    i tried this in a recent build and i am not able to repro.. is this still an issue?

[2019-05-24 22:22] akrantz commented on #506
Please see the documentation:https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#debugging-with-safari-web-inspector-on-a-mac

[2019-05-24 23:58] jargil commented on #530
@htryggva - thanks for reporting and providing screenshots. I'll look into this.
Beyond seeing errors in the console log, are you having problems using the dialog API?

[2019-05-26 18:43] mkoczka commented on #482
Hey, @exextoc. Thanks for your response. It didn't help. The outcome is still the same. There's still the error message in the dialog's window. So the `postMessage` can't even reach the origins window.

[2019-05-27 04:26] catchingyu commented on #508
will reopen it when customer provide more info.

[2019-05-27 04:26] #508 closed, assigned to catchingyu

[2019-05-27 04:26] catchingyu commented on #509
will reopen it when customer provide more info.

[2019-05-27 04:26] #509 closed, assigned to catchingyu

[2019-05-27 04:29] catchingyu commented on #521
Bug 3384014 is created to track the issue.

[2019-05-27 04:30] catchingyu commented on #518
will reopen it when customer repro it on the latest version

[2019-05-27 04:34] catchingyu commented on #524
As for the persist of state, pls refer to:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/persisting-add-in-state-and-settings

Web Online Excel is catching up the feature gaps with desktop version, it is our current on-going and heavily investment items.

[2019-05-27 08:23] paulpublic commented on #506
@akrantz This should the correct configuration right?

[code]

With that setting I can't open Inspect Element. I think this issue started after a macos update (i'm on 10.14.5)

[2019-05-27 08:37] tuandomvn commented on #355
I have the same issue with Version 1808. Can we reopen this ticket?

[2019-05-27 17:57] Rick-Kirkham commented on #355
@tuandomvn This is expected. SSO is a preview feature that is turned off in builds that reach the semi-annual channel.

[2019-05-28 04:19] htryggva commented on #530
@jargil Thanks for looking into this. We noticed the exception occurring for some of our users in our telemetry. So far, we've not noticed any problems in using the Dialog API and therefore don't think that our end users are affected by this issue.

[2019-05-28 11:04] hxltinh commented on #394
@JuaneloJuanelo It's about form 700KB to 30MB and further. Hope it helps

[2019-05-28 12:38] ukalhapu opened #531 "can add-in load the FunctionFile.html from URL of different domain than the domain from which add-in manifest xml loaded ?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am testing the add-in with Word Online.
I insert add-in using "Upload Add-in" feature and selects the local manifest file for e.g. C:\addin\test.xml.
The Add-in defined custom ribbo

[2019-05-28 12:43] ukalhapu commented on #531
### Working case:
<FunctionFile resid="FunctionFile.Url" />....
.......
<bt:Url id="FunctionFile.Url" DefaultValue="https://<localhost.com>/WebApp/FunctionFile.html" />

### Non-working case:
<FunctionFile resid="FunctionFile.Url" />...
......
<bt:Url id="FunctionFile.Url" DefaultValue="https://<remotehost.com>/WebApp/FunctionFile.html" />

[2019-05-28 14:23] seng1 opened #536 "Office add ins SSO return 502"
I have implemented office add ins SSO with asp.net. I have deploy our the application to our office 365. It was working fine the first week and after a few week later it return 502.

![Capture](https://user-images.githubusercontent.com/3612176/58485718-c0b5f480-818e-11e9-94f7-66d125763be3.PNG)
![Capture](https://user-images.githubusercontent.com/3612176/58485785-e3e0a400-818e-11e9-81dd-89a51185825

[2019-05-28 17:06] Rick-Kirkham commented on #536
**EDIT**: It looks like GitHub's beta feature for transferrring issues to another repo is not working today. Could I ask you to recreate this issue at https://github.com/OfficeDev/office-js/issues ? Thanks.

**ORIGINAL ANSWER:**
Since this is a problem with SSO in general and not this particular sample, I'm going to move this issue to the office-js repo.

Please note that SSO is turned off on Offi

[2019-05-29 03:25] seng1 opened #532 "Office add ins SSO return 502 on web word add ins"
I have implemented office add ins SSO with asp.net. I have deploy our the application to our office 365. It was working fine the first week and after a few week later it return 502.

We expect we can request to our api with the access token but it was not.
When we deploy to our office 365, first week it works perfectly for both Office desktop and Office Web. but after a few later our it got error,

[2019-05-29 03:28] seng1 commented on #536
I was using Firefox to debug. for our first week of deploy it work perfectly. We follow your instruction Office-Add-in-ASPNET-SSO and attachment above is related to Asp.net. I am a bit surprising when submit the issue related to ASP.NET SSO, it automatically close and unrelated.

[2019-05-29 04:50] catchingyu opened #533 "Unstable behaviour of onSelectionChanged"
I've registered an onSelectionChanged event handler, which mimics the behaviour of cell picker, on current active worksheet in a Taskpane application, but the handler is occasionally triggered.

I tried to debug with F12/IEChooser and found once the tool is open, the event handler is triggered perfectly fine 100% of time. The same behaviour happens even when the handler is registered on workbook.

[2019-05-29 04:53] catchingyu commented on #533
@mm90849491 Is it possible for you to provide us more info

Is it possible for you to provide us more information on this issue? Thanks a lot for the support.

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System

[2019-05-29 08:06] mm90849491 commented on #533
Description :
I implemented a cell picker which displays address of current selected cell. Once the selection change, the cell picker in a task-pane would update accordingly.
On Mac, iOS and Office Online (IE11, Chrome, etc), the cell picker refreshes properly, no matter how fast the selection changes; whereas on Win7/10, when the selection changes too fast, **sometimes** the task-pane stops to re