[2020-04-21 10:52] shahshyam commented on #1073
Please check above source Code

[2020-04-21 13:20] exextoc commented on #1108
Hello, thanks for reporting this issue. We could reproduce this issue on our end and have added this to our backlog. Unfortunately we dont have any timelines to share this with you.

[2020-04-21 13:43] Murugananths commented on #1101
Hi team,
Any update please? We are in middle of developing this feature hence reply will be helpful to proceed further.

[2020-04-21 13:54] exextoc commented on #1082
Thank you for your patience.  We have fixed the bug and the fix should be available soon.

[2020-04-21 17:21] Bradrajkumar commented on #1106
Hi @danielgwilson,
I'm unable to find my add-in after i share it to self refering [this](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins), The shared section is available in the add-in section but not the manifest file which i shared, after going through the requirements i'm using a organizational 0365 account (pr

[2020-04-21 18:00] ghost commented on #1061
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-04-21 20:01] leonidasthelab commented on #1110
Hi @lumine2008, i realized i left out a key detail, I will update the problem description.

After doing the basics of creating a table, adding data changed handlers, and seeing content on the sheet, you need to manually filter on a column first (filter the data in such a way that there are hidden rows in between) before you do a vertical drag to copy over the values. It seems that if you do a vert

[2020-04-21 21:43] lukchen opened #1111 "Can use Office object but not Excel object in Excel"
Hi,

I downloaded officejs library wrote a single page on my server:

![image](https://user-images.githubusercontent.com/26646767/79917036-c5634700-83f7-11ea-931d-8277f256a6c3.png)

But the 'Excel' object is undefined while 'Office' is fine:

![image](https://user-images.githubusercontent.com/26646767/79916936-90ef8b00-83f7-11ea-8150-c09772fe72d9.png)

[2020-04-21 21:56] jeremy-msft commented on #1111
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code. We suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question.

Thanks,
Office Platform team

[2020-04-21 21:56] #1111 closed, assigned to nobody

[2020-04-22 00:21] lumine2008 commented on #1110
I just tried your tips, but no luck, could you please try my gist in your end, and see if you can repro in your side?
https://gist.github.com/lumine2008/82cbc5463fb5fa9a6431cb5ebd529ac0

[2020-04-22 03:12] lukchen opened #1112 "Office.js is loaded outside of Excel when the html page in an iframe"
First I found the Excel object is undefined, then I debugged 'o15apptofilemappingtable.js' and found the window.external.GetContext is undefined, which means the office.js is loaded outside Excel at all.

## Expected Behavior

Office.js should be loaded in Excel.

## Current Behavior
"Warning: Office.js is loaded outside of Office client" and "Excel" is undefined

## Steps to Reproduce, or Live Ex

[2020-04-22 04:45] lumine2008 commented on #1112
Thanks @lukchen , I have replied in StackOverflow, looks like that CDN reference is incorrect. could you please refers to

`<script src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js" type="text/javascript"></script>`

[2020-04-22 07:00] exextoc commented on #1104
Hello, thanks for reporting this issue. We could repro this and added this issue to our backlog. We, unfortunately have no timelines to share at this point.

[2020-04-22 07:51] Murugananths commented on #1101
Hi Team,

We are getting below runtime issue when trying to enable ribbon command with below code tried in page load..

**Tried code:**
Office.ribbon.requestUpdate({
tabs: [
{
id: "OfficeAppTab1",
controls: [
{
id: "MyButton",
enabled: true
}
]}
]});
**Issue :** RichApi.Error: The API you are trying to use is not available. It may be available in a different scenario.

[2020-04-22 08:04] ghost commented on #235
Seeing as this issue is still a thing and it looks like it is going to be hard to add this feature to Excel running on Mac, is there any alternative solutions (some npm package for e.g.)?
Thanks for the hard work you've put into this so far!

[2020-04-22 08:38] MandytMSFT commented on #1098
@nat-ser  Currently we don't have API can fetch document ID. Can i know why you need fetch this ID ?

[2020-04-22 11:52] ghost opened #1113 "Formulas for range not working correctly"
I'm working on a complex add-in for a very specific set of requirements, and unfortunately I can't share much of the code. A lot of things happen before and after the point where the add-in inserts these formulas, so it's very possible that the cause of this error is not the formulas themselves. Either way, any help with this issue is greatly appreciated. I originally posted this question to Stack

[2020-04-22 14:12] lukchen commented on #1112
Hi,

I changed to refer that CDN script but still having same issue

[2020-04-22 14:19] lumine2008 commented on #1112
Here is my validation result
![image](https://user-images.githubusercontent.com/26398035/79993386-48af9600-84e7-11ea-9e5b-2104ffe1ab37.png)

Here is my code:
[code]
Would you please try it in your side?

[2020-04-22 14:27] lukchen commented on #1112
tried, still same issue:

[2020-04-22 14:28] lukchen commented on #1112
![image](https://user-images.githubusercontent.com/26646767/79994438-f8531c80-8483-11ea-9469-51e826a06b20.png)

[2020-04-22 14:30] lukchen commented on #1112
Are you testing with my web page link? If you do you might can see same issue

[2020-04-22 15:24] lukchen commented on #1112
Could it relates to iframe?

![image](https://user-images.githubusercontent.com/26646767/80000972-d5c50180-848b-11ea-9592-034cfb71da4d.png)

[2020-04-22 15:32] Murugananths commented on #1101
Hi Team,

Have you had chance to look into this.?

[2020-04-22 16:27] lukchen commented on #1112
I tested my page as static content on a node server and it works perfect. So my guess is the html and officejs library are all fine, the problem is how I host this page. And this iframe blocked officjs to get Excel enviornment context. What do you think?

[2020-04-22 17:12] shahshyam commented on #1073
first page is login page which does not need to login office.js .

[2020-04-22 17:28] lukchen commented on #1112
![image](https://user-images.githubusercontent.com/26646767/80013515-ffd2ef80-849c-11ea-8a4b-159d4e406ded.png)

Ok i think I can confirm this...
I put the iframe and test it on node server again, it's out of Excel again.
**So is the iframe stuff a known limitation or bug?**

[2020-04-22 17:48] Bradrajkumar opened #1114 "Cannot load the Add-in after following the Documentation on Side-load Add-in"
Hi,
I was successfully able to include my Add-In in the shared folder using [side-load Add-In](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins), I'm facing issue in loading my Add-In.
To be specific i don't only want to run my code and test the add-in but also
want the add-in to be locally published in my machine,

[2020-04-22 18:08] razor1299 opened #1115 "Application Crashed on Loading"
Using office-js Excel API, Excel crashes and restarts when i loading excel with my Add- in

## Expected Behavior
![image](https://user-images.githubusercontent.com/64157718/80017292-61498d00-84a2-11ea-80e0-6b5bb3e1591c.png)

## Current Behavior
Random error when i open my Excel Add- in.

## Useful logs
No more log or error Dom
![image](https://user-images.githubusercontent.com/64157718/80029775-3f

[2020-04-22 19:25] nat-ser commented on #1098
Thanks for looking into this @MandytMSFT

The core functionality of our Addin is to display info about a particular piece of content in our web app that is tied to a document in Office 365.

For ex:  A user uses the file picker SDK embedded in our app to link documentA to the chosen sharepoint file FileB. Within the addin, we want to show a preview of that documentA when the user opens FileB in Of

[2020-04-22 21:46] jeremy-msft commented on #1114
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code. We suggest you go to Stack Overflow and see if your question has already been asked or ask a new question.

Thanks,
Office Platform team

[2020-04-22 21:46] #1114 closed, assigned to nobody

[2020-04-22 22:01] jeremy-msft commented on #1115
Based on the log information provided, this appears to be a question about COM/VSTO add-ins rather than Office.js based add-ins.

[2020-04-22 22:01] #1115 closed, assigned to nobody

[2020-04-23 10:16] Murugananths commented on #1101
Tried below sample with configuration in Manifest and getting below exception. Kindly suggest.

**WORD AROUND TRIED:**
 Office.onReady(async () => {
    enableButton();
});

const enableButton = async () => {
  var button = {id: "Menu", enabled: true};
  var parentTab = {id: "Tab1", controls: [button]};
  var ribbonUpdater = { tabs: [parentTab]};
  await Office.ribbon.requestUpdate(ribbonUpdater);

[2020-04-23 10:59] lumine2008 commented on #1113
Thanks @mariana-tuma for your post,
we would like to learn about the crash, it seems we are not be able to repro in our side. would you please share a bit more information? gist in scriptlab would be super helpful
 ![image](https://user-images.githubusercontent.com/26398035/80091821-52430780-8594-11ea-9e66-7c883cb3dd64.png)

[2020-04-23 16:54] lukchen commented on #1112
@lumine2008 Hi, can you confirm is this a bug or known issue?

[2020-04-23 17:23] naemcivic opened #1116 "Shared MailBox, OfficeJS saveAsync() returns a draft ID that is not permitted by the owner's mailbox"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

On our Outlook add-in for compose mode, we are using the Office JS API to save the email draft by calling ```Office.context.mailbox.item.saveAsync()``` then passing the result to
[cod

[2020-04-23 17:45] ZainW commented on #1116
I have the above issue as well, tunning running macOS 10.15.4 and outlook version 16.36 (20041300)

[2020-04-23 17:57] LouMM commented on #883
Thank you, everyone! Anyone who is reproducing the issue, can you let us know the template or type of add-in. Is this an Excel Custom Function or a Web add-in?

[2020-04-23 18:39] yumao5 commented on #1116
I experienced the similar issue. Outlook Version 16.36 (20041300).

[2020-04-23 20:47] leonidasthelab commented on #1110
@lumine2008

I created a new Excel AddIn project in Visual Studio 2017, and modified the .js to try and replicate your gist and see if the issue is still there. I am doing very basic things:

1) Create tables with some data, as you have done, sales and return
2) Add table changed handler to the tables

In Excel version 2002, I am still able to reproduce the issue. I manually filter the data so tha

[2020-04-24 09:16] ghost commented on #1113
I'll try to reproduce it and and share the gist then.

[2020-04-24 10:21] ukalhapu opened #1117 "Are there APIs available now to read/write custom properties inPowerPoint online using Office.js"
Are there APIs available now to read/write custom properties in PowerPoint online using Office.js ?

## Expected Behavior
We want to read/write custom properties in PowerPoint online.
Our Add-in highly depends on custom properties. Currently it support Word & Excel online only.
We want to support PowerPoint as early as possible .
Do you suggest alternative ?

[2020-04-24 13:22] #1112 closed, assigned to lumine2008

[2020-04-24 13:33] lukchen opened #1118 "Office.js loaded outside of Excel when using iframe as TaskPane"
## Expected Behavior
Officejs loaded no problem

## Current Behavior
Closing previous issue because the problem can be summarized as defining TaskPane in iframe will cause Officejs not working in Excel. Which leads to 'Excel' is undefined. I want to check if this iframe a know limitation or a bug.

## Steps to Reproduce, or Live Example
**TaskPane.html**
![image](https://user-images.githubusercont

[2020-04-24 13:38] lukchen commented on #1118
According to this page, seems like the addin supports iframe: docs.microsoft.com/en-us/office/dev/add-ins/concepts/privacy-and-security

[2020-04-24 13:50] yurii-zhuk-mstr commented on #883
@LouMM Hello Lou, we are using Web add-in template.

[2020-04-24 14:35] max-yushchuk commented on #1096
@exextoc
I've just found this issue when Conversation View is off in Office 365 as well.
In this case itemChanged event doesn't fire for all items.
You can check it by disabling Conversation View and try to switch between any items.

It's really critical for us. Can you suggest some workaround for this?

![Screenshot at Apr 24 17-25-25](https://user-images.githubusercontent.com/18704249/80223428-f

[2020-04-24 14:37] jlevenssfdc opened #1119 "getAttachmentContentAsync fails with CORS error in OWA with Chrome"
We are experiencing frequent but intermittent behavior with the getAttachmentContentAsync api.  It fails with CORS error(s) in OWA.

'https://outlook.office365.com/owa/<redactedUserId>/service.svc/s/GetAttachmentDownloadToken?redirect=/owa/<redactedUserId>/service.svc/s/GetFileAttachment<removed>k.&isDownload=true&animation=true&asDataUri=true' (redirected from 'https://attachments.office.net/owa/

[2020-04-24 15:37] lukchen commented on #1118
window.external = window.parent.external; helps but not sure if this workaround can be applied to production

[2020-04-24 15:52] pranavd opened #1120 "How to get/load user information like email address, name in OneNote Addin"
How to get/load user information like email address, name in OneNote Addin

I have tried couple of times but Office.Context does not give me that info for OneNote online

[2020-04-24 16:41] amegan commented on #1082
I verified the fix is available to my testing account.  Thanks for the help.

[2020-04-24 16:41] #1082 closed, assigned to exextoc

[2020-04-24 18:50] jeremy-msft commented on #1120
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code.We suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question.

Thanks,
Office Platform team

[2020-04-24 18:50] #1120 closed, assigned to nobody

[2020-04-24 18:54] jeremy-msft commented on #1118
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code. We suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question.

Thanks,
Office Platform team

[2020-04-24 18:54] #1118 closed, assigned to nobody

[2020-04-24 18:59] jeremy-msft commented on #1117
This is not possible today. We track Office Add-in feature requests on our  [UserVoice page](https://officespdev.uservoice.com/).

It looks like the feature you want has been requested by others already. Please upvote the [existing request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/39001942-allow-powerpoint-add-in-to-read-custom-properties). Feature

[2020-04-24 18:59] #1117 closed, assigned to nobody

[2020-04-24 19:30] pranavd commented on #1120
I can see this information is provided for Outlook in the documentation, but not for OneNote. I hope if you can get any documentation part of this.

I will highly appreciate it if someone can help, rather closing out the issue without giving any congnizance.

[2020-04-24 20:00] ghost commented on #1061
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-04-24 20:03] hjkim-MSFT commented on #1056
Microsoft identified this issue. It should be fixed in 16.0.12823.10000 or higher builds.

[2020-04-25 08:58] Roei-Bracha opened #1142 "OneNote is undefined"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/onenote-quickstart

## Issue
I tried to run the code from the demo but I got  the following error in console:
`Error: TypeError: Cannot read property 'run' of undefined`
 I tried to console log OneNote and it returned undefined

I used Mac and OneNote online in chrome
used the newest versions of yo and office generator

[2020-04-26 08:20] lumine2008 commented on #1110
Thanks @leonidasthelab , we can now repro this issue now, bug 4120787 was created to track this issue. we will let you know once this bug was fixed. thanks for your support.

[2020-04-26 18:49] #1106 closed, assigned to nobody

[2020-04-26 22:14] wandyezj opened #1121 "Word: Office.onReady being called twice in Word Online?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

Office.onReady called once when Office is ready.

## Current Behavior

Office.onReady called twice

## Steps to Reproduce, or Live Example

https://word-twiddle.

[2020-04-27 03:18] MandytMSFT commented on #1121
@wandyezj seems i can't access the manifest(browser says the resource not available) Would you please share it again?

[2020-04-27 07:46] MandytMSFT commented on #1109
Leave this issue unassigned as it's not my expertise areas . @peronald @jeremy-msft  @kbrandl  Pls help redirect this issue to right owner

[2020-04-27 09:11] chanhohang opened #1122 "How to subscribe to table cell value changed by User Input?"
Tag your question with office-js or outlook-web-addins
I am adding a event handler to table.onchanged.

[code]

however, the event handler is invoked from my background data update as well. is there a way to differentiate a cell update is because of background data update or a user action?

i.e. My use case is my table is subscribed to a data stream from my server and the cells will be updated by

[2020-04-27 09:33] davidfishlock commented on #1095
@exextoc has there been any progress on this or acknowledgement of the issue? This is a showstopper for us.

Is there any way we can contact the relevant team directly?

[2020-04-27 09:50] exextoc commented on #1119
@jlevenssfdc Thank you for providing all the details to help us repro the bug. After trying multiple times we are still unable to repro this bug at our end. Can you help with following questions:
1. Does it happen for any specific type of attachments?
2. How often do you see this issue like ones in 5 times or more?
3. Is it possible for you to share sample attachment if it's happening for particul

[2020-04-27 16:21] jlevenssfdc commented on #1119
@exextoc

1. I've not identified a specific type of attachment
2. Before answering this I ran 10x tests and encountered the error on each one.  I can provide a test account if that would help.
3. Where would you like the files?
4. When it happens, it's immediately.  Add-in has not been open for more than a few seconds.

In testing, are your requests directed towards the same resources as are refer

[2020-04-27 16:30] AlexJerabek opened #1125 "Telemetry service not found causes add-in to not load on Excel for the web"
After opening https://localhost:3000/ in Edge I get
![image](https://user-images.githubusercontent.com/25219229/80363781-01c5f580-8885-11ea-9930-3aef2a8b1b72.png)
After opening https://localhost:3000/taskpane.html in Edge I get the same
![image](https://user-images.githubusercontent.com/25219229/80364040-7e58d400-8885-11ea-8405-1ea44d4477c4.png)
After opening in Excel everything works
![image](htt

[2020-04-27 16:37] AlexJerabek commented on #1125
@Rednas83, Here's the new issue to track your current problems.

Just to clarify, does the add-in successfully change the workbook when you press the buttons in the taskpane? If the only problem is that telemetry service not connecting, then that might be expected on localhost.

With Office 2016, only the ExcelApi 1.1 requirement set is supported. You can learn more here: https://docs.microsoft.co

[2020-04-27 17:02] Rednas83 commented on #1125
@AlexJerabek. Thanx for creating this issue. Hopefully it can be solved soon. The buttons are indeed working within excel2016. Seems like the latest api is also compatible with Office2016.

Should Office2016 users downgrade to ExcelApi 1.1 or can they stick with te latest version?

[2020-04-27 17:03] AlexJerabek commented on #1142
Hi @Roei-Bracha,

Thanks for reaching out. Can you clarify something for me? In the [Update the code step](https://docs.microsoft.com/office/dev/add-ins/quickstarts/onenote-quickstart#update-the-code) did you add the code block to the `run` method or did you replace it? Your `src/taskpane/taskpane.js` file should look like this:

[code]

[2020-04-27 17:08] AlexJerabek commented on #1125
Thanks @Rednas83. If the buttons are working, I'm unclear what the issue is. Is your add-in not working in any noticeable way? The telemetry failure message in your F12 log is probably fine (@TCourtneyOwen to confirm).

Office 2016 users are forced to use ExcelApi 1.1. If users run an add-in with APIs in later requirement sets, they'll hit an error. You can use the `isSetSupported` method to contr

[2020-04-27 17:18] Rednas83 commented on #1125
@AlexJerabek The buttons only work inside the Excel Taskpane.
![image](https://user-images.githubusercontent.com/25219229/80400641-60a66180-88bb-11ea-9d3e-c2734835a86f.png)
Inside the browser I get an empty page and the HTTP404 error with telemetryservice.

[2020-04-28 00:19] leonidasthelab commented on #1110
@lumine2008 great!! Do you have a estimated time frame for the bug fix that you can provide? We are looking to roll up the upgrade to version 2002+ and would be awesome if this is functional. Thanks!

[2020-04-28 01:02] lumine2008 commented on #1110
Thanks @leonidasthelab , We are still working on an investigation on the root cause, we will let you know once we know more about the time frame. thanks for your support

[2020-04-28 02:07] hdkdinh commented on #1027
@exextoc Please help us arrange the time to fix it. Because a lot of user need to use add-in on Android device. Thanks!

[2020-04-28 03:35] JuaneloJuanelo commented on #897
@sarea  can you share more details on how you will use the event on read items?

[2020-04-28 03:38] JuaneloJuanelo commented on #338
The main gap on this issue is to include the track changes API  in word.js. Since this is already in our backlog, this issue will be closed.

[2020-04-28 03:38] #338 closed, assigned to JuaneloJuanelo

[2020-04-28 03:53] JuaneloJuanelo commented on #1097
@DannyHinshaw  thanks for creating this issue.
I was able to repro this issue, this sounds like a bug. we are tracking internally with  but 4124423.

i have a question, though, i see that in your code you are trying to get the OOXML of the selection, can you please describe in more detail your scenario, for instance what are you doing with the OOXML from the chart title selected? thanks!

[2020-04-28 04:05] JuaneloJuanelo commented on #1047
@bx-anil  so basically this is a feature request, we track those in uservoice.. Can you please open/upvote an idea https://officespdev.uservoice.com/

closing this issue

[2020-04-28 04:05] JuaneloJuanelo commented on #1047
closing this , as this is not an issue currently in the platform.

[2020-04-28 04:05] #1047 closed, assigned to JuaneloJuanelo

[2020-04-28 05:23] exextoc commented on #1027
Reactivating original on call bug BUG 1404234<https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_workitems/edit/1404234> to respond to OP.
________________________________
From: hdkdinh <notifications@github.com>
Sent: 28 April 2020 07:37
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@microsoft.com>; Mention <mention@noreply.githu

[2020-04-28 07:08] exextoc commented on #1119
@jlevenssfdc
Yes, it would help if you could share test account and files. Can you share the details via email at AdeleV@M365x834167.OnMicrosoft.com .
No my requests are not being directed to this resource.
Before the above mentioned call there should be one more request with GetFileAttachment. Can you shared the request and response for that over the mail as well.

[2020-04-28 07:18] Roei-Bracha commented on #1142
yes, still undefined

I just tried it all agein and copy paste your code - and still undefined

[2020-04-28 08:34] exextoc commented on #1116
Did you start facing this issue after upgrading to MacOS Catalina 10.15.4?

[2020-04-28 10:10] westconference opened #1123 "iOS Outlook Add-in not respecting Set-Cookies header for external sites in Dialog"
Outlook Web Add-in in iOS Outlook app does not seem to set cookies for external pages opened in Dialogs that use the Set-Cookie header.

## Expected Behavior
External page that Add-in Dialog navigates to should be able to set cookies based on the Set-Cookie header and later retrieve those set cookies if redirected to another page on that same external domain.

## Current Behavior
Works as expected

[2020-04-28 11:16] exextoc commented on #1123
We are following the same bug [here](https://ift.tt/35eqftJ) . If you have any questions you can add in comments on the mentioned post. Please let us know if it's not same issue.

[2020-04-28 11:29] DannyHinshaw commented on #1097
@JuaneloJuanelo thank you for your reply.

Honestly, what we are doing is sort of a workaround for other Word API issues. Basically, we have an addon where users insert citations, but we found that on certain special elements (like in the title of a chart) when we try to insert a content control it replaces the entire element with it. So one way we have found to prevent that is by using the `getOo

[2020-04-28 11:29] exextoc commented on #1079
Hey @stejura-sfdc , Are you still facing the issue? Could you please share your test account details at AdeleV@M365x834167.OnMicrosoft.com ?

[2020-04-28 15:53] naemcivic commented on #1116
We are not certain if upgrading to MacOS Catalina 10.15.4 (19E287) was the issue. Something that is worth mentioning is that on another Mac that I have which is on MacOS Catalina 10.15.4 (19E266) was working last week, however when trying again today it doesn't work anymore.

[2020-04-28 16:02] rh78 opened #1124 "SCRIPT5007: Unable to set property 'proxy' of undefined or null reference"
## Description

Our Add-In is hosted in the Powerpoint ribbon. When we click the button of the Add-In, the task pane opens. But then, nothing happens. When we connect using DevTools, we see the following in the console:

`Warning: Office.js is loaded outside of Office client`

with an SCRIPT5007 error reported before which seems to be an indicator on why it fails:

[code]

The plugin will not load

[2020-04-28 16:09] AlexJerabek commented on #1142
Hi @Roei-Bracha,
Can you please do one more test for me? Can you delete the add-in created during the quick start (remove all the files and folders created by yo office). Then, re-run yo office with the same choices:
- Choose a project type: Office Add-in Task Pane project
- Choose a script type: JavaScript
- What do you want to name your add-in? My Office Add-in
- Which Office client application

[2020-04-28 16:49] Roei-Bracha commented on #1142
No still dont work
I just tried agein and record the screen:
[https://youtu.be/2GHCR61XjMo](https://youtu.be/2GHCR61XjMo) (in upload right now)

[2020-04-28 16:53] rh78 commented on #1124
Hi we found out that the cause was the CSP sandbox directive that we used. Once we did remove the CSP sandbox directive, it worked.

[2020-04-28 16:53] #1124 closed, assigned to nobody

[2020-04-28 17:09] AlexJerabek commented on #1142
Thanks for the video. I noticed a couple things:
- `OneNote` is a namespace, so I don't think you can really pass it an an argument in `console.log`. Consider using a string literal like `"Hello"` to test.
- I never saw the `npm run dev-server` command. The first `npm` command comes at about 2.40 and is the `npm run start:web`. Since you're on a Mac, you need to run `npm run dev-server` first.

[2020-04-28 17:14] AlexJerabek commented on #1125
Thanks for the information @Rednas83. This seems like a product issue and not a documentation issue. I'll transfer this to the office-js repo that the product team monitors. They should be able to help clear this up.

In the meantime, have you tried the non-vue quick starts? Do you encounter the same issues?

[2020-04-28 17:46] Rick-Kirkham commented on #1125
@AlexJerabek That telemetry service is only available to 1st party developers, that is, add-ins made by Microsoft itself. It should not affect the add-in and I believe it can be safely ignored.

@Rednas83 You say that it only works in the task pane, not in the browser. This is normal. An add-in cannot work in a separate browser window. It needs the context of Office to initialize. In general, you

[2020-04-28 20:48] Rednas83 commented on #1125
@Rick-Kirkham Thanks for clearing it up. Looking at the guide this was not so clear at all.
![image](https://user-images.githubusercontent.com/25219229/80530222-fa900c00-8998-11ea-9c21-317deb1eb45f.png)
I posted some questions regarding the API on stackoverflow. Could you perhaps have a look?
https://stackoverflow.com/questions/61095118/is-excel-javascript-api-only-for-creating-add-ins

What I don

[2020-04-28 20:59] naemcivic commented on #1116
We got another team member to test with macOS Mojave Version 10.14.6 with Outlook Version 16.36 (20041300) and it doesn't work as well

[2020-04-28 22:51] sarea commented on #897
@JuaneloJuanelo we were waiting for this feature for a long long time as it helps us to change/replace the message body for the messages that have been send through our add-in instead of reading it in the task-pane, having this feature with the ability to replace the message body will be a very big step for better user experience!

[2020-04-29 03:42] hello-chenchen opened #1126 "Outlokk mobile add-in for an online-meeting provider: complete status button unable to keep"
with follow this document, and use this beta api: https://appsforoffice.microsoft.com/lib/beta/hosted/office.js, everything is fine for my add-in, but the complete status button unable to keep after next edit this event.

when create a new event, this button will be switch on and the complete status is right, after save this event, and re-open to edit it, the status still switch to off and the com

[2020-04-29 05:30] PavelKrupski opened #1127 "Authorization to external service via Office API: dialog window is just closed after the redirect during Office.js initialization"
My question in stackoverflow: [Link  ](https://stackoverflow.com/questions/61481015/authorization-to-external-service-via-office-api-dialog-window-is-just-closed-a)

After the redirect from external auth. page inside dialog window created using Office Dialog API, dialog is closed without any messages/notifcations, before Office.ready is fired.
## Expected Behavior

Has Office Add-in for the Outloo

[2020-04-29 06:30] acaibowl opened #1128 "User Access Issues via Centralized Deployment in Excel (Desktop)"
We have setup and are hosting an Add-in for Excel developed with the OfficeJS API. We have had success in building, hosting, and testing the Add-in, but are now seeing a very strange issue when users try to access the Add-in within Excel. For context, the Add-in has been developed with React, the OfficeJS API, and is intended to be loaded within Excel and primarily interacted with via the taskpane

[2020-04-29 08:46] hello-chenchen opened #1129 "outlook android mobile: loadCustomPropertiesAsync error"
when i use [Outlook mobile add-in for an online-meeting provider](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting) guide to debug my add-in, i found the Office.context.mailbox.item.loadCustomPropertiesAsync api always failed.
even with your implement demo guide on this document:
this is my demo code:
[code]
and please notice this log:
**Office.context.mailbox.item.loadCu

[2020-04-29 10:07] exextoc commented on #1096
@max-yushchuk  thank you for reporting this new issue. Unfortunately there is no work around as of now. We are looking to fix this bug on priority.

[2020-04-29 10:30] hello-chenchen commented on #1129
it seams have been fixed on outlook android version:4.1.73(200271) dogfood

[2020-04-29 10:36] hello-chenchen commented on #1129
have confirmed that it has been fixed on 4.1.73(200271) dogfood

[2020-04-29 10:45] exextoc commented on #1116
Can you try to get the message via Rest API as mentioned in [doc](https://outlook.office365.com/api/v2.0/me/messages/) using postman app and see if you are able to access the item.
Also when you say mailbox owner is it owner of shared mailbox or the person whom mailbox is delegated to?

[2020-04-29 10:47] Tanddant commented on #1052
So I kept getting this error, I eventually got a different error which lead me to this [post](https://stackoverflow.com/questions/39201860/in-office-apps-cannot-redefine-non-configurable-property-context) and as is turns out my layout page (which I thought I wasn't using) had a reference to Office.js causing it to load twice and cause unexpected behavior.

[2020-04-29 10:52] hello-chenchen commented on #1129
due to another problem:https://github.com/OfficeDev/office-js/issues/1126, when i edit this meeting event, and click online-meeting button which status isn't right. It can't get corrent custom properties, only can get this result:(which i saved value have lost, but this is only happened on android. But other platform such as:OfficeOnline is fine.)
[code]

[2020-04-29 10:55] DmitryKostochko opened #1130 "Outlook Online, addFileAttachmentAsync never completes"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The addFileAttachmentAsync method never completes after refreshing the Outlook Online web page.

## Expected Behavior
The addFileAttachmentAsync method should complete with the succeeded or failed status.

## Current Behavior
The addFileAttachmentAsync method never completes. I waited for 30 minutes and got no

[2020-04-29 11:03] hello-chenchen commented on #1129
i think after fix https://github.com/OfficeDev/office-js/issues/1126, this problem will be no longer as a problem.

[2020-04-29 11:19] exextoc commented on #1126
Is it possible for you to share sample Add-in so that we can repro this on our end?

[2020-04-29 14:28] naemcivic commented on #1116
@exextoc
We are trying to retrieve the draft from the delegated mailbox via Graph, as suggested we have also tried calling the Rest API with the draft id and the result is the same as the error we have provided in this issue.  The draft id we obtain from OWA or Windows Outlook is working, but the draft ID we are getting back on Mac is not working.

[2020-04-29 16:07] kakusharma commented on #939
Is there any update on this security popup thing?

[2020-04-30 03:05] hello-chenchen commented on #1126
this is my test xml file, install this one, you can repro this problem.

[code]

[2020-04-30 03:10] hello-chenchen commented on #1126
the demo project address: https://hello-chenchen-demo.github.io/
and demo code is here: https://github.com/hello-chenchen-demo/hello-chenchen-demo.github.io/blob/master/index.html
this problem for screen record:
[20-04-30-11-02-01-57f87eb5-da1f-43d5-9fb2-090be94606ec.mp4.zip](https://github.com/OfficeDev/office-js/files/4555907/20-04-30-11-02-01-57f87eb5-da1f-43d5-9fb2-090be94606ec.mp4.zip)

![ima

[2020-04-30 03:22] hello-chenchen commented on #1126
and the teams add-in was disabled, when edit the meeting event.
[20-04-30-11-17-04-0a62e323-40cc-4dfc-9c0e-17408b605a0c.mp4.zip](https://github.com/OfficeDev/office-js/files/4555945/20-04-30-11-17-04-0a62e323-40cc-4dfc-9c0e-17408b605a0c.mp4.zip)

[2020-04-30 07:43] dmitry-semenov opened #1131 "notificationMessages.replaceAsync sometimes takes around 30 seconds to complete"
## Expected Behavior
`Office.context.mailbox.item.notificationMessages.replaceAsync` takes reasonable time to complete

## Current Behavior
`Office.context.mailbox.item.notificationMessages.replaceAsync` in rare cases can return it's callback after around 30 seconds. We're tracking the duration of functions that we call during the add-in command execution and reporting them when total execution ti

[2020-04-30 12:23] exextoc commented on #1130
@DmitryKostochko we are unable to repro this at our end with the code snapshot shared by you. Can you try this sample code and see if this also fails:
/* Add file attachment */
var attachmentURL = "http://i.imgur.com/sRgTlGR.jpg";
Office.context.mailbox.item.addFileAttachmentAsync(attachmentURL, "squirrel.png",
 function callback(asyncResult) {
  if (asyncResult.status == "failed") {
   console.lo

[2020-04-30 12:59] aburtsev1 opened #1132 "Question about Delivery date of Version 2002 (Build 12527.20278) for Semi-Annual users"
Hello.
Issue https://github.com/OfficeDev/office-js/issues/954 was fixed for Semi-Annual Targeted licenses but our Customers using the Semi-Annual version in most cases. Please clarify when we can expect Version 2002 (Build 12527.20278)  for Semi-Annual license type?  If there is any precise delivery date we can count on?

[2020-04-30 13:01] DmitryKostochko commented on #1130
Thank you for a quick turnaround.
Yes, I can reproduce the issue with your code as well. I have made 5 attempts in each browser, Edge and Chrome. The 4th test in Edge and 2nd in Chrome were successful, all other failed.
Note, please refresh the Outlook Online page (Ctrl+F5) before clicking New Message!

[2020-04-30 13:42] DmitryKostochko opened #1133 "Outlook for Mac, addFileAttachmentAsync fails with Internal Error"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The addFileAttachmentAsync method fails with Internal Error on Outlook for Mac.

## Expected Behavior
The addFileAttachmentAsync method should work correctly.

## Current Behavior
The addFileAttachmentAsync method fails with Internal Error.

## Steps to Reproduce, or Live Example
Create a new email in Outlook

[2020-04-30 14:04] ghost commented on #982
This is reproducible on my workstation with the Add-ins for Zoom, KnowBe4, and the Microsoft Spam/Phishing reporting add-in.  Happy to provide dumps, etc. if you give me some basic instructions on how create them.

[2020-04-30 14:32] fkranenburg opened #1134 "Office.context.mailbox.item does not return current selected item"
I am using Outlook Office 365 OWA and our client use our add-in (taskpane addin). We found out that users that have the 'preview pane' (in Dutch: 'leesvenster') on the left of the screen, our client have issues with our add-in. The add-in does not 'refresh' itself after selecting another e-mail.

This does work in the Outlook 2016 desktop client and also does work when the preview pane was turned

[2020-04-30 14:52] liamtim commented on #1116
@exextoc Can you provide a timeline on a fix for this?

[2020-04-30 15:18] exextoc commented on #1130
@DmitryKostochko Yes, I tried after refresh only. Are you executing the code in Office.initialize function? Can you try executing the code through developer window console after 1 minute or so. Just to confirm that the Office.context is initialized completely. You can right click on Add-in --> inspect --> console--> Execute the code mentioned above.

[2020-04-30 15:43] DmitryKostochko commented on #1130
I don't execute the code in the Office.initialize function.

Please have a look at the screenshot attached. In the console, I have highlighted the console.log() line from our Office.initialize function.
![Untitled](https://user-images.githubusercontent.com/28924916/80730310-18cd4780-8b12-11ea-9d03-35c17eec7cff.png)

Also, you can see how it looks like on our side - no attachment, no callback.

[2020-04-30 16:04] DmitryKostochko commented on #1130
Additional info: if I wait for > 2 min after opening my pane, the code seems to start working. Why are such huge delays required? As you can see from my screenshot, the Office.initialize and even Office.onReady functions are executed at add-in startup successfully.

[2020-04-30 18:08] rjpruitt16 commented on #754
@chopraniitn do you find a workaround. It seems like no one is fixed this.

[2020-04-30 18:29] Rick-Kirkham commented on #1101
This issue is being tracked with a Stack Overflow question which is where it belongs for now. So, I'm closing this issue.

[2020-04-30 18:29] #1101 closed, assigned to Rick-Kirkham

[2020-04-30 23:45] sohailzafar commented on #1132
Hi the release is available in the insiders channel. Will be available in Prod in July

[2020-04-30 23:57] sohailzafar commented on #1128
We are investigating the issue

[2020-05-01 00:03] sohailzafar commented on #1122
Hi, we are investigating the issue. Thanks

[2020-05-01 02:33] lumine2008 commented on #1122
@chanhohang,
A recommendation would be to use a flag when addin is updating data and reset the flag after the addin code is done with the updating.

[2020-05-01 03:00] ghost commented on #757
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-01 04:28] chanhohang commented on #1122
@lumine2008
thanks for your suggestion, i've tried that but find out that the onTableChanged callback is only invoked after the update context is finished. i believe the callback is asynchronous.

[2020-05-01 07:26] kMutagene opened #1135 "Validated Excel addin manifest works in Excel locally but not in excel online"
Link to [SO post](https://stackoverflow.com/questions/61519089/validated-excel-addin-manifest-works-in-excel-locally-but-not-in-excel-online?noredirect=1#comment108842563_61519089)
A manifest file that is valid by `office-addin-manifest validate` and works locally on my machine with excel does not work in Excel online. **It did work a few days ago**

My addin is a webpage hosted on https://localho

[2020-05-01 09:00] ghost commented on #1113
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-01 09:55] Roei-Bracha commented on #1142
still don't work
I tried it again in a windows machine - the same error

[2020-05-01 11:11] tiagoalves commented on #757
@MandytMSFT I am checking `isSetSupported` for different APIs but not for this particular one: `Document.getFileAsync` with `Office.FileType.Compressed`.

I didn't really understand how to check if that API is supported but apparently it's like this:

    Office.context.requirements.isSetSupported("CompressedFile")

I'll add this to our add-in and see if that mitigates the issue.

However, I assum

[2020-05-01 12:04] morgan-tr opened #1136 "Word Add-in not appearing in MS Store on Mac"
We have a Word add-in on the AppSource store, but when we try to install it via Word on Mac, the add-in does not appear in the store.

Link to the app:
https://appsource.microsoft.com/en-us/product/office/WA200000668

I created a ticket on StackOverflow first, and one of the MS team members was able to reproduce the issue and confirm that it is possibly a bug:
https://stackoverflow.com/questions/6

[2020-05-01 23:51] erharvey commented on #545
Hi, is there any plan to consider letting better controls on "when" the redraw is done the same way we can control if events are enabled on not? (ctx.runtime.enableEvents = false / true;)

The experience would not look as bad if we had only a single flicker during the rendering process. The API does indeed improve the performance a great deal for us and it would be great if it could be improved.

[2020-05-02 08:43] Gaurav1327 opened #1137 "Dialog-API for Office Add-in not sending back message"
I have been developing an outlook plugin on production level but I am continuously facing issues for adding authentication. The Dialog API has been working if displayInFrame parameter is set to true. But when this parameter is not set to true, the dialog box opens but messageParent function is not working . Tried solving this issue for many days but problem is still persisting. Please somebody hel

[2020-05-02 09:45] pulkitm404 opened #1138 "Firebase authentication using FirebaseUI is not working on an MS Word Addin. The same lines of code work fine if opened in a browser(Chrome)."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am using the code provided in [https://firebase.google.com/docs/auth/web/firebaseui](url).
I would like to repeat that the same lines of code work fine if opened in a browser, but i

[2020-05-02 19:52] krisrm commented on #1064
Is there an ETA on a fix for this one? I have this issue in Outlook 2016 and OWA with Exchange 2016.

[2020-05-02 21:00] ghost commented on #1125
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-03 03:00] rjpruitt16 opened #1139 "makeEwsRequestAsync does not work with online exchange servers windows or mac."
Calling makeEwsRequestAsync gives an access restricted error. Even if you connect to the online exchange server and give the entire orginization ews privledges, it will not work. When you call makeEwsRequestAsync, you should see the appropriate action completed. I have tried on both mac os and windows.

https://stackoverflow.com/questions/61298569/ews-request-return-access-restriction-error

[code

[2020-05-03 16:12] exextoc commented on #1134
@fkranenburg  Do you have conversation view enabled?
What do you mean by when preview pan is in left ? Can you share a screen shot?
Does this happen for other pinnable Add-ins as well?

[2020-05-03 17:41] plamenbotev opened #1140 "Rest request with token obtained via getCallbackTokenAsync for shared mailbox fails with 403 if the manifest is deployed using centralized deployment"
We are using Office JS API to get information for the current message that the user is viewing in a shared mailbox via the Rest API.
The user has delegated permissions.

## Expected Behavior
Request should return information for the current mail

## Current Behavior
Information is returned successfully only if the addin is deployed manually via  **Get Add-ins**.
If the addin is deployed using cent

[2020-05-03 17:44] kMutagene commented on #1135
As a user in the SO post pointed out, there is the following tag in my manifest file:
`<FunctionFile resid="Commands.Url"/>`
While a resource with the id "Commands.Url" does not exist. I would however expect that to be catched by both Excel on my computer and `office-addin-manifest`.

[2020-05-04 01:38] mmoore-3lc opened #1141 "[Word Online] Error on document body search with matchWildCards:true"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
Executing the below code returns a RangeCollection object as it does on Word Desktop and Word for Mac:

[code]

## Current Behavior
Word online (Chrome, Edge late

[2020-05-04 05:28] exextoc commented on #939
@kakusharma We have fixed the bug and the fix should be available in next monthly build. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-05-04 05:29] ghost opened #1143 "cell.value = "" returns an error on Typescript."
In TypeScript when I try

let cell = ...// Word.TableCell
cell.value = ""

I get an (Invalid Argument, If I remember correctly) error.

But when I use Word.TableRow.insertCells(...), and give "" as part of cells it works.

I think cell.value = "" should work, and should not raise an error. If it is supposed to raise an error, it should be written in the documentation.

This is tested in Office 365

[2020-05-04 06:28] exextoc commented on #1133
@DmitryKostochko We are able to repro the bug with the mentioned url.Thanks for reporting this issue. It has been put on our backlog.
Does it repro with any other URL ?

[2020-05-04 11:00] ghost commented on #1113
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-04 11:00] #1113 closed, assigned to lumine2008

[2020-05-04 11:53] Rednas83 commented on #1125
@Rick-Kirkham
Is there a milestone when the telemetry service will be available for third party users?
Or will it be restricted to microsoft users only?

[2020-05-04 13:08] exextoc commented on #1104
@DmitryKostochko  Could you please confirm if you are still facing this issue?

[2020-05-04 13:56] DmitryKostochko commented on #1133
Do you have any timeline for fixing this bug?

The issue is easily reproducible with a link that redirects to a TXT file. It seems everything works fine with redirect links to Office documents, archives and images (png, jpg, etc.). I did not test binaries, sorry.

[2020-05-04 14:16] DmitryKostochko commented on #1104
I have just tested the code with Edge, Chrome and IE, but couldn't reproduce the issue. The bug seems to be fixed, thank you!

[2020-05-04 14:47] jlevenssfdc commented on #1119
@exextoc just wanted to make sure you got the email

[2020-05-04 14:57] fkranenburg commented on #1134
Yes I have the conversation view enabled. I just tried to reproduce with the add-in demo and it works correct. Then I tried to reproduce again in our add-in and it works. Somehow it is fixed. The javascript error 'openTaskPane' is gone. I wonder what happened but this issue can be closed.

[2020-05-04 17:06] mscharlock commented on #1128
@lumine2008 - Can you take a look at this Excel issue? Thanks!

[2020-05-04 17:07] mscharlock commented on #1129
@hello-chenchen - Thanks for letting us know! I am going to close this issue as it sounds like this issue is resolved. If it's not and I've misunderstood, just let me know with a comment on this thread.

[2020-05-04 17:07] #1129 closed, assigned to nobody

[2020-05-04 17:09] mscharlock commented on #1131
@exextoc - Do you mind having a look at this issue? Thanks!

[2020-05-04 17:11] mscharlock commented on #1132
@aburtsev1 - Does this answer your question? I don't think we can give an exact date of the release to production besides the month. I'm going to close this issue for now, but if you have additional questions, go ahead and comment on this thread and I will reopen it.

[2020-05-04 17:11] #1132 closed, assigned to nobody

[2020-05-04 17:11] AlexJerabek commented on #1142
Hi @Roei-Bracha,
Thanks for testing on another machine. This seems like a deeper problem, so I'm going to transfer this issue to the https://github.com/OfficeDev/office-js repo, where issues related to the product are tracked.

[2020-05-04 17:12] mscharlock commented on #1135
@lumine2008 - Do you mind having a look at this issue? Thanks!

[2020-05-04 17:16] mscharlock commented on #1136
Hi @morgan-tr - Since this issue was reported on Stack Overflow, it's been put into our engineering backlog. I can't give you a firm estimate on when you will see a fix, but we are aware of the issue - thanks for pointing it out. I'm going to tag this with "on the backlog" in Github, thanks!

[2020-05-04 17:18] mscharlock commented on #1138
@weshi - Do you mind having a look at this, or tagging someone else you think might be able best able to answer this question? Thanks!

[2020-05-04 17:19] aburtsev1 commented on #1132
@sohailzafar  @mscharlock  Thank you. Yes, we are waiting for it.

[2020-05-04 17:19] mscharlock commented on #1139
@exextoc - Can you have a look at this issue? Thanks!

[2020-05-04 17:21] mscharlock commented on #1140
@exextoc - Do you mind looking into this issue? Thanks!

[2020-05-04 17:21] mscharlock commented on #1141
@weshi - Do you mind having a look at this? Thanks!

[2020-05-04 17:25] mscharlock commented on #1142
@keyur32 - Do you happen to have an idea who would know the answer to this? I'm trying to route this appropriately :) Thanks!

[2020-05-04 17:29] mscharlock commented on #1143
@weshi, @Rick-Kirkham, or @AlexJerabek do you happen to have any insight into this? Thanks!

[2020-05-04 18:02] Rick-Kirkham commented on #1143
I can reproduce this, and `cell.set({value: ""});` also throws the error.  This looks like a bug, so I'm going to try to transfer this to the office-js repo.

[2020-05-04 18:13] JuaneloJuanelo commented on #1136
we are actually investigating this issue, we will let you know the outcomes soon. (sorry to remove the backlog tag, but we dont know yet if this is actually an issue)

[2020-05-05 00:52] kfmpchan commented on #1139
@rjpruitt16
makeEwsRequestAsync should work by default on Exchange online. Here are a few things to check:
1. Have you tried that your particular EWS request work from a EWS client outside of addins?

2. Have you also tried to see if your addin works in OWA?
For all platforms, in addition to the error returned to the addin, could you check if the EWS request is made to the server and if there is a

[2020-05-05 01:13] kfmpchan commented on #1131
We cannot reproduce this delay either. From your data, does the API succeed after the delay? One thing to note is that a modal dialog that is opened in Outlook (not necessarily related to addin) can block add-in APIs from executing.

[2020-05-05 01:19] exextoc commented on #1139
@rjpruitt16
makeEwsRequestAsync should work by default on Exchange online. Here are a few things to check:
1. Have you tried that your particular EWS request work from a EWS client outside of addins?

2. Have you also tried to see if your addin works in OWA?
For all platforms, in addition to the error returned to the addin, could you check if the EWS request is made to the server and if there is a

[2020-05-05 01:21] exextoc commented on #1131
We cannot reproduce this delay either. From your data, does the API succeed after the delay? One thing to note is that a modal dialog that is opened in Outlook (not necessarily related to addin) can block add-in APIs from executing (until the dialog is closed). Could this explain your observation?

[2020-05-05 04:24] exextoc commented on #1104
@DmitryKostochko  Thanks for confirming.

[2020-05-05 04:24] #1104 closed, assigned to exextoc

[2020-05-05 04:59] exextoc commented on #1133
Thank you for providing more details on the issue. Unfortunately, we have no timelines to share at this point.

[2020-05-05 07:47] barisbikmaz opened #1144 "Word insertHtml table in a content control inserts a newline"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When inserting a table element with insertHtml method into a content control, a newline is inserted before the table element.

When we do the same into the document body, the newline

[2020-05-05 08:04] exextoc commented on #1130
@DmitryKostochko  In the screenshot shared, the attached image is being shown as loading. Does the attachment complete at some point? Also, does this issue occur only when executing the code in Developer Window console or within Add-in code as well?

[2020-05-05 11:41] Cata-ExF opened #1145 "window.open method does not provide the expected result"
I am using the following method to download a file:
window.open(location.origin + res, '_blank');

## Expected Behavior

A file download should be provided.

## Current Behavior

All I receive is a blank screen, as in the image attached. The same method works in excel online, I do receive the download using the same button.
tried it in 3 other computers, same issue.

![blank screen received](https

[2020-05-05 12:06] exextoc commented on #1116
Could you please share the code snippet used to retrieve the draft? We would  also like to understand what is the rest URL being used to retrieve the draft item.

[2020-05-05 12:08] exextoc commented on #1119
@jlevenssfdc  We received the email and we are looking into the issue. Thanks for sharing the details.

[2020-05-05 12:13] DmitryKostochko commented on #1130
As I mentioned earlier, it never completes.

The issue occurs in both cases, when executing the code in console and when executing the code in the add-in with a button click.

[2020-05-05 12:52] exextoc commented on #1137
@Gaurav1327 Can you confirm if the issue is same  as mentioned https://ift.tt/2YALRiH ? If so, you can track the same for further responses.

[2020-05-05 14:09] dmitry-semenov commented on #1131
Yes, it gets unstuck after some period of time.

This is possible. I checked few more cases and found breadcrumb examples where users experienced delays for 0, 10, and 29 seconds to get `replaceAsync` callback called for the same command execution. I suspect if a user continues working with the email client while email processing is in progress, something can trigger unrelated dialogs.

[2020-05-05 14:42] naemcivic commented on #1116
The gist of the code snippet is as follow:

[code]

We then use the `draft_id` to call graph api with.

We are using:

`https://graph.microsoft.com/v1.0/users/<:id>/mailFolders/<:id>/messages/<:draft_id>?$expand=attachments`

Please keep in mind that this flow does work with our addin with OWA and Outlook for windows.

[2020-05-05 14:46] naemcivic commented on #1116
@exextoc

[2020-05-05 15:36] GrumpyAL opened #1146 "Calls to api/v2.0/me/messages/ with a REST token obtained using getcallbacktokenAsync fail with 404 for a shared folder"
Calls to api/v2.0/me/messages/ with a REST token obtained using getcallbacktokenAsync on an item in a shared mailbox fail with 404.  This was working a few weeks ago and suddenly stopped.

## Expected Behavior
When an Office Add-in has the `supportssharedmailbox` flag set to true, REST tokens obtained should work to pull messages from the shared mailbox when invoked by a user with the proper permi

[2020-05-05 15:45] ghost commented on #235
I was thinking, as an alternative to this function since it is possible to retrieve base64 data about a selection or a worksheet, would it be possible to somehow convert that data to a base64 image?

[2020-05-05 15:51] Sankledar commented on #948
Hi, any updates on this?

Thank you.

[2020-05-05 15:55] DmitryKostochko commented on #1146
We are facing the same issue and need a fix ASAP. FYI, this REST API functionality worked fine a few days ago.

[2020-05-05 17:40] JuaneloJuanelo commented on #1136
The add-in is now showing up in the Insert tab -> My add-ins -> Get Add-ins -> store

[2020-05-05 17:40] #1136 closed, assigned to nobody

[2020-05-05 18:07] janisdd commented on #235
I'm not sure what function do you mean but I guess it would only return the data (maybe also styles) in that selection/range.
Getting data from a range can also be done with other libraries... but no library (I'm aware of) can create an image from a range/selection like excel would render it.

[2020-05-05 19:09] Rick-Kirkham commented on #1125
@Rednas83 I didn't see your Stack issue until just now because it wasn't tagged with `office-js`. That's the tag that I filter on. I'll take a look.

I don't think that that telemetry system is ever going to be available to 3rd party developers. I believe there are other telemetry services available for web apps that you can use. I think Azure has one.

[2020-05-05 19:09] #1125 closed, assigned to Rick-Kirkham

[2020-05-05 19:12] exextoc commented on #1146
To confirm, are you seeing this for a read mode item? Does this only repro for a shared folder (items that the user is accessing are owned by someone else)? And are the mailboxes hosted on Microsoft/Office 365 instead of on-premise?

If so, to construct the rest URL for shared item, instead of using api/v2.0/me/messages/, the addin should use the info from SharedProperties, following https://docs.

[2020-05-05 19:29] mscharlock commented on #1144
@weshi Do you mind taking a look at this? Thanks!

[2020-05-05 19:31] mscharlock commented on #1145
@lumine2008 Do you mind having a look at this issue? Thanks!

[2020-05-05 19:50] Kindyr opened #1188 "HELP! remove - Build your first Word task pane add-in"
I used https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=visualstudio to create my first add-in.  Now, I can't seem to make it stop.  Every time I open up a Word Doc, I have "This text was added by using code.This text was added by using code.This text was added by using code." across the page.

The add-in is not on my add-in list in the Developer tab.  Microsoft

[2020-05-05 19:54] JuaneloJuanelo commented on #1056
@commoncoder101  the issue is now fixed and is available in the latest insiders fast release.
Can you please help us validate the fix?

[2020-05-05 20:00] JuaneloJuanelo commented on #1006
this is not an issue in Word but in the Edge Web View.

[2020-05-05 20:08] JuaneloJuanelo commented on #1042
its a bug been tracked internally with 4130033

[2020-05-05 20:22] JuaneloJuanelo commented on #1002
Yes the search API is not designed to search for the inserted HTML, but is designed to work on the actual text of the document. So if you have inserted  multiple "nun" the search operation will return you a collection of ranges with that text,  The question here is: how do you know which is the correct NUN? are you interested on searching only on the content you inserted?

Yes the search API is li

[2020-05-05 20:26] JuaneloJuanelo commented on #988
This is actually not an issue with web add-ins but Word for iOS team.

[2020-05-05 20:26] #988 closed, assigned to nobody

[2020-05-05 21:09] Rick-Kirkham commented on #1188
It sounds like your server is still running on localhost. Did you use Visual Studio or Visual Studio Code?

[2020-05-05 21:12] JuaneloJuanelo commented on #85
This issue is fixed starting on build (Since August, actually sorry for the late update) starting on builds  16.0.12015.10000 +

[2020-05-05 21:12] #85 closed, assigned to JuaneloJuanelo

[2020-05-05 21:19] JuaneloJuanelo commented on #102
@adetayoadeyemi  i think this issue was released on december, do you still see the issue in the latest updates for Mac?
Closing as i tested on my end and could not repro.

[2020-05-05 21:19] #102 closed, assigned to JuaneloJuanelo

[2020-05-05 21:26] JuaneloJuanelo commented on #106
This issue is now fixed. Tested that Word is no crashing anymore, but throwing an exception on this case.

[2020-05-05 21:26] #106 closed, assigned to JuaneloJuanelo

[2020-05-05 21:29] sureshjoshi commented on #106
@JuaneloJuanelo Thanks! That's excellent!

[2020-05-05 21:44] JuaneloJuanelo commented on #123
sorry about the amazing delay on this, is this issue still current?

[2020-05-05 21:47] JuaneloJuanelo commented on #897
i will close this issue it was used to track more feedback and I think we got some. thanks everyone!

[2020-05-05 21:47] #897 closed, assigned to JuaneloJuanelo

[2020-05-05 21:51] JuaneloJuanelo commented on #986
this is not an issue in Word, adjusting area of ownership.

[2020-05-05 22:04] JuaneloJuanelo commented on #1097
ok that makes sense. GetOOXML is quite expensive specially in Online, but i understand this is actually the only way to validate what you are looking for. do you see this behavior only on charts? I wonder about the commonality of the scenario.

[2020-05-05 22:15] JuaneloJuanelo commented on #854
Wao thanks for finding this issue . Good catch!
I was able to repro.

we are tracking internally with 4141351

[2020-05-05 23:12] lindalu-MSFT commented on #948
Pinging @exextoc  customer inquiring about status update!

[2020-05-06 02:23] JuaneloJuanelo commented on #986
Actually the team fixed these issue a few months ago, no longer repro, as per team confirmation.
thanks for reporting.

[2020-05-06 02:23] #986 closed, assigned to sohailzafar

[2020-05-06 07:03] Kashishmsft commented on #1042
Thanks @JuaneloJuanelo . Would look forward to it then.

[2020-05-06 07:05] glr0221 commented on #61
I know this ticket is closed but a really quick question, how do i disable my addin from dialing into to this url : 'https://telemetryservice.firstpartyapps.oaspapps.com/telemetryservice/telemetryproxy.html' ??

That yields a 404 now if i check the captured data packets.

[2020-05-06 07:23] glr0221 opened #1147 "openAsyncdialog display shows different title in different platforms."
We are using open asyncdialog to display some html message to our end users, for our outlook addon. The title of the dialog shown is different for different outlook/browser clients..

## Expected Behavior
All of the platforms should display the same title.

## Current Behavior
Browser based asyncdialogs show the same title, using the "Display Name" declared in the manifest. In the samples below, t

[2020-05-06 07:27] glr0221 commented on #1147
Thank you in advance to all of you guys in microsoft.

[2020-05-06 08:04] Murugananths opened #1148 "Enable/Disable Commands in Excel add-in Task-pane using Officejs"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

**Implementing Enable/Disable feature in Excel add-in**

**@Rick-Kirkham**

I have attached **MANIFEST FILE** for review and confirm. Please find below are summarized scenario mention

[2020-05-06 08:37] thiago-vivas opened #1149 "Unstable behaviour of onDataChanged"
## Expected Behavior
Event-triggered after editing a cell

## Current Behavior
1. Event-triggered on Selection Changed of a cell that has a dropdownlist
2. Event-triggered on Selection Changed of a cell after clicking on a cell with dropdownlist. If you click beside a cell that has the onDataChanged binding the event triggers as well.

`function run() {
  return Excel.run(async function(ctx) {

[2020-05-06 08:44] MandytMSFT commented on #1143
I can repro this issue on word desktop, but word online works fine. @jeremy-msft  could your team have a look ?
My repro gist: https://gist.github.com/MandytMSFT/a155ac1b139363846e7b63e49ef05a8a

[2020-05-06 09:17] DmitryKostochko commented on #1146
Our add-in works in the compose mode. We are using REST API to read emails from another mailbox.

In our case, user A gave access to a folder (and all parent folders) for user B. User B got access to all emails in the folder. Note, user A did not delegate access to mailbox, just folder permissions were used.

Yes, both mailboxes are hosted on Microsoft 365.

@exextoc, we don't have the SupportsSha

[2020-05-06 10:06] MandytMSFT commented on #1149
I can repro this bug and filed BUG 4142347 for internal track

[2020-05-06 11:44] exextoc commented on #1147
@glr0221 We do observe this behaviour in OWA and Windows. For Mac, Can u share following details?
- Version
- What exactly did you mean by <DOMAIN_OF_ADDON> . Is it AppDomain mentioned in manifest?

[2020-05-06 11:58] glr0221 commented on #1147
@exextoc

First off thanks for the speedy response. I am really impressed and happy with your readiness to help.

Now for the version I have this : 16.35 (20030802)
For the Domain of addon : assuming the source url is http://www.xxx.yyy.zzz//aaabbbbcccddd.htm
then domain of addon is "www.xxx.yyy.zzz".

Does that make sense? thanks!!

[2020-05-06 12:16] GrumpyAL commented on #1146
Thank you for the information @exextoc.  I will create a POC with that information and see if it works for us.

However, I do notice one thing.  When I access my mailbox via outlook.office.com (vs outlook.office365.com) the sharedProperties property `targetRestUrl` does not exist.  When I look in the network tab, I see it's trying to reach out to an autodiscover URL (`https://outlook.office.com/au

[2020-05-06 13:27] morgan-tr commented on #1136
Thanks!

[2020-05-06 14:24] DmitryKostochko opened #1150 "Outlook Desktop, Outlook for Mac: setSelectedDataAsync incorrect size for base64 images"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The setSelectedDataAsync method inserts base64 images and ignores the width and height attributes.

## Expected Behavior
The setSelectedDataAsync method shall work correctly as it does in Outlook Online.

## Current Behavior
The width and height attributes are ignored.

## Steps to Reproduce, or Live Example
C

[2020-05-06 14:43] exextoc commented on #1027
We unfortunately have no timelines to share at this point.

[2020-05-06 15:09] exextoc commented on #3
@shubhashishtiwari Could you please share the code snippet used for download and also let us know the Mac Outlook version in which you are facing this? It would also be helpful if you share a sample attachment you are using to download.

[2020-05-06 15:19] geethadabbara opened #1151 "New changes in functions.js is not reflecting in excel custom add-in without re-uploading the manifest file"
Tag your question with office-js or outlook-web-addins

[2020-05-06 15:21] geethadabbara commented on #1151
New changes to functions.js are published but the changes are not reflecting in excel online/desktop without re-uploading the manifest file. Does this require resubmission of manifest to appSource?

[2020-05-06 19:26] koralcem commented on #102
I indeed can no longer repro on PowerPoint for Mac, version 16.36 (20041300). Specifically, if I start a presentation with each of the three methods originally mentioned, all slides after the first are notified that the presentation started.

Thanks everyone!

[2020-05-06 19:36] engage-deepakagarwal opened #1179 "Access Office.context.document.settings on server"
Hi,
I am using office.js and saving some settings as key-value pairs described in your article using Office.context.document.settings API.
Now, the complete fileBytes are transferred to the server and I need to read this settings in C# .net to take further actions. However, I am not able to find those custom settings. I am using WordprocessingDocument class of  DocumentFormat.OpenXml.Packaging to

[2020-05-06 20:16] mscharlock commented on #1150
@exextoc Do you mind having a look at this issue? Thank you!

[2020-05-06 21:38] ghost commented on #235
I was thinking of this function https://docs.microsoft.com/en-us/javascript/api/excel?view=excel-js-preview#excel-createworkbook-base64-  but you are probably right, I don't think there is any alternative to Excel's getImage().

[2020-05-06 21:42] ghost commented on #235
Would you care to share your code or what libraries you used? For now I am only extracting simple black text and numbers, so I will probably be alright with the current state of getImage().

[2020-05-07 00:28] bchenhs commented on #149
@ElizabethSamuel-MSFT @macOutlookExtensibility Is there an update on this issue? There are other similar issues reported (e.g. https://github.com/OfficeDev/office-js/issues/402), and it impacts our add-in users on Mac.

[2020-05-07 00:50] redcirkle opened #1157 "Refreshing conditional formatting"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/excel/excel.application?view=excel-js-preview

## Issue
We are building an Excel add-in that applies conditional formatting to some columns. Depending on input data, we shade the cells green. However, we notice that, if we copy-and-paste data into the sheet, the conditional formatting doesn't calculate right away. Here's an example art

[2020-05-07 01:42] lumine2008 commented on #1145
@lliu113 , Looks like this is UX scope, will you be the right person to take care of this issue?

[2020-05-07 01:54] exextoc commented on #1146
@GrumpyAL for the missing targetRestUrl issue, to confirm, are you seeing that particular issue with OWA?
With api/v2.0/me/messages/ 'me' is meant for the calling user. This is one of the reasons we introduced the SharedProperties API for supportssharedmailbox with addins.
Thank you for you feedback on documentation, we will update based on this discussion.

[2020-05-07 01:55] exextoc commented on #1146
@DmitryKostochko since your addin is for compose, and you are not using SupportsSharedFolders, could you please create a new post with more details?
Support for addins in a shared folder is introduced with 1.8 API and SupportsSharedFolders in the manifest. Having said that, some compose scenarios (eg. sending as another user) still operate within the user's mailbox, and a new post will help us und

[2020-05-07 04:45] exextoc commented on #1039
@DmitryKostochko Could you please confirm if you are still facing this issue?

[2020-05-07 04:46] exextoc commented on #1040
Could you please confirm if you are still facing this issue?

[2020-05-07 05:33] exextoc commented on #1146
For reference, here's a post related to this change: https://developer.microsoft.com/en-us/office/blogs/accessing-outlook-items-in-a-users-archived-shared-or-delegated-mailboxes-using-microsoft-graph/

[2020-05-07 05:48] hmistry-lz commented on #1040
yes, I am still facing this issue unless fix has been released?

[2020-05-07 05:59] hello-chenchen commented on #1040
yeah, still the same behavior.

[2020-05-07 06:04] janisdd commented on #235
Sure. I used `jimp` https://github.com/oliver-moran/jimp/tree/master/packages/jimp to rotate the image (e.g. via cdn https://cdn.jsdelivr.net/npm/jimp@0.10.3/browser/lib/jimp.js).

Then do this

[code]

To test it in a browser you just need to add the following tags to some X.html

[code]

I only tested this in the browser but it should work in the add-in (I guess).

[2020-05-07 10:33] exextoc commented on #1126
Outlook takes time to sync the properties to the local client after creating a new meeting. The issue reported happens, if the edit flow is enabled before the sync is complete. If you wait for few minutes (10 minutes) and then try to edit the meeting, this add-in would have similar experience as Teams. We are working on making the sync faster but do not have an ETA for the same.

[2020-05-07 10:47] DmitryKostochko opened #1152 "Outlook REST API, call to api/v2.0/me/messages/{message-id} fails with the ErrorInvalidMailboxItemId error code"
In an Outlook add-in for compose mode, we use the REST API to access the contents of emails that reside in the primary user's mailbox or other users' mailboxes. The call to api/v2.0/me/messages/{message-id} stopped working for other users' mailboxes, the "Item Id doesn't belong to the current mailbox." error occurs.

## Expected Behavior
The REST API call shall work as it did before.

## Current B

[2020-05-07 11:57] pfilipp opened #1153 "Webkit(macOS, Safari) based Excel freezes while removing big tables/ranges"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

Excel for Mac and Office Online(Excel) in Safari is responsive while removing big tables and ranges.

## Current Behavior

Currently when using officejs API meth

[2020-05-07 12:35] GrumpyAL commented on #1146
@exextoc Yes, this is in OWA, when accessed via outlook.office.com

[2020-05-07 12:40] JamesBigChange commented on #1146
We're in a similar position.
Thanks @GrumpyAL  for the cause of the 404 errors - that had me stumped for the last 24 hours as I had https://outlook.office.com bookmarked!
@exextoc must we tell our add-in users to use https://outlook.office365.com rather than https://outlook.office.com for Office Online?

[2020-05-07 12:52] JamesBigChange commented on #1140
We have the same issue.

The deployed add-in fails with a 403 error for API calls for a shared mailbox item e.g.
https://outlook.office.com/api/v2.0/users/<user_id>/messages/<msg_id>

But works as expected for Inbox items e.g.
https://outlook.office.com/api/v2.0/me/messages/<msg_id>

Our manifest ``<Permissions>`` is set to: ReadWriteMailbox

[2020-05-07 14:38] Murugananths commented on #1148
@Rick-Kirkham..Have you had a chance to look into attached manifest file....

[2020-05-07 15:54] bchenhs opened #1154 "mailbox.item.body.getAsync affects clipboard functionality on Outlook for Mac"
On Outlook for Mac, if the user copies any content (e.g. a single word) within a second after a `mailbox.item.body.getAsync` call, the clipboard contains the entire email body. This only occurs on Outlook for Mac, not OWA.

It appears that `mailbox.item.body.getAsync` temporarily selects the entire email body to get the content on the Mac platform.

## Expected Behavior
`mailbox.item.body.getAsync

[2020-05-07 16:47] AlexJerabek commented on #1157
Hi @redcirkle,

Can you please share some code to help reproduce the issue (perhaps a Script Lab snippet)? Off-hand, I would expect the copy-and-paste to overwrite the conditional formatting, since, by default, copy-and-paste copies over the formatting. You'd have to explicitly copy the values only.

Thanks!

[2020-05-07 17:36] mscharlock commented on #1152
@exextoc Do you mind checking into this? Thanks!

[2020-05-07 17:43] mscharlock commented on #1154
Hi @exextoc - Would you mind checking on this? Thanks!

[2020-05-07 18:06] mscharlock commented on #1201
Hi @nfgallimore - have you posted this question on Stack Overflow? Our engineers are very responsive there and will probably be able to assist with this! I could also move this issue to the office-js repo, where someone will be able to help you, but I think Stack might be faster and easier for you to get an answer. Thanks!

[2020-05-07 21:00] ghost commented on #1092
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-07 21:00] ghost commented on #1079
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-07 21:05] redcirkle commented on #1157
Hi @AlexJerabek,

_Apologies in advance, I can't provide a Script Lab snippet at the moment. We're using this function to create our custom conditional formatting though (though we're seeing the artifacts across all conditional formatting)._
![image](https://user-images.githubusercontent.com/19576266/81341986-5298d380-9067-11ea-801e-2e113cc5fe08.png)

For the copy-and-paste, that's good to call ou

[2020-05-07 22:03] liamtim commented on #1116
@exextoc Have you replicated the issue? We need a fix for this as soon as possible. Let me know if you need additional details.

[2020-05-07 22:05] naemcivic commented on #1146
This issue seems to be similar to our issue on hand. https://github.com/OfficeDev/office-js/issues/1116

The flow use to work up until 2 weeks ago on our end. Please help us resolve this.

[2020-05-07 23:53] exextoc commented on #1131
Please let us know if there are more we can clarify with this issue.

[2020-05-08 01:04] exextoc commented on #1150
Yes, I can reproduce the issue. I am investigating.
At the same time, have you considered using inline attachment? https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-1.8#method-details or  https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-1.8#addfileattachmentfrombase64async-base64file--attachmentname--options--

[2020-05-08 02:57] hello-chenchen commented on #1126
sorry, that was not worked for me. i have been wait for 20 mins, and it still have this problem.

In fact, the properties has been synced to other platform, when i use loadCustomPropertiesAsync api on OfficeOnline, mac, or pc, i can read the properties which i have saved on android. But it seams that, android can't read that properties. Please see this issue: https://github.com/OfficeDev/office-js

[2020-05-08 06:00] ghost commented on #939
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-08 06:08] dmitry-semenov commented on #1131
I'll re-open in case if I'll be able to get more information about the issue, thanks.

[2020-05-08 06:08] #1131 closed, assigned to exextoc

[2020-05-08 07:07] kakusharma commented on #939
Thanks guys. Can't wait to see this update in the upcoming build. :)

[2020-05-08 07:07] #939 closed, assigned to macOutlookExtensibility

[2020-05-08 08:08] DmitryKostochko commented on #1150
Inline attachments work well except one case, I will create a new issue about it later. But the addFileAttachmentFromBase64Async method exists in API Set >= 1.8 and we shall support older sets.

[2020-05-08 08:18] SibeeshVenu commented on #1002
Thanks. With the current approach, there is no way that I can find the correct "nun", that is the reason why I introduced the HTML with unique identifiers so that I can find the correct one and highlight it.

`<span class="tip tip-5d4949a499b39510a0ea3676" id="tip-66b92187-d901-4366-99f4-417f20de60a1">nun</span>`

So if I can search it with the `id="tip-66b92187-d901-4366-99f4-417f20de60a1"` my pr

[2020-05-08 08:36] DmitryKostochko commented on #1039
I have just retested the code and cannot reproduce the issue. The bug seems to be fixed, thank you!

[2020-05-08 08:53] robino2020 commented on #991
@exextoc is the documentation already updated or is there a way for us to track when this is done?

[2020-05-08 09:00] ghost commented on #1105
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-08 09:05] exextoc commented on #1152
From your comment on Post https://github.com/OfficeDev/office-js/issues/1146 , this is what we understand. Can you confirm these?
- The rest call is being made in Compose Mode and you are accessing a Read Item in delegator's mailbox.
- SupportsSharedFolder is not used and 1.8 APIs are not supported.

And, Could you clarify the point "User A obtains the ItemId of a message in the shared folder and

[2020-05-08 09:21] hdkdinh opened #1155 "How to accept permission request for all user in Microsoft office 365"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We used Outlook 365 add-in. After global admin deploy our add-in, global admin check"Consent on behalf of your organization" to accept permission for their organization (please see at

[2020-05-08 09:27] DmitryKostochko commented on #1152
Sorry for not being clear enough in my description.

Yes, correct.

Yes, correct. We have a lot of clients with API < 1.8.

Both User A and User B have our add-in installed and can "share" their Outlook folders between each other by using the add-in's feature. In other words, User B can see all ItemId's that User A has provided to him and can get the email contents via the REST API. Did I answer y

[2020-05-08 10:02] exextoc commented on #1154
Could you please clarify the point "Within a second, copy the highlighted word (either Ctrl-C or menu copy)"? Are you selecting the text again to copy or using Edit->Copy with the selection made before Office.context.mailbox.item.body.getAsync call ?

[2020-05-08 13:36] exextoc commented on #1116
We are able to repro this issue from our side when the user id in the graph call is the delegatee's Account. Can you confirm the user id being used here?

[2020-05-08 13:43] wh1t3cAt1k opened #1156 "Shared JS runtime availability and plans"
Dear guys,

This is a question, but not a usage question, rather, a product one - which is why I am posting it here. If it's not the right place, please direct me before closing! 🙏

I am currently working on an Excel add-in that desperately needs the presence of IndexedDB storage APIs in Excel custom functions (I need to cache quite a bit of data for smooth calculation experience).

AFAIU it is cu

[2020-05-08 13:48] naemcivic commented on #1116
Yes, this is correct. The user id used in the graph call is the delegate's account.

[2020-05-08 13:49] wh1t3cAt1k opened #1160 "Clarifications about availalbility"
I am currently working on an Excel add-in that desperately needs the presence of IndexedDB storage APIs in Excel custom functions (I need to cache quite a bit of data for smooth calculation experience).

AFAIU it is currently not possible inside the custom functions' runtime.

I encountered this: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview

Since the

[2020-05-08 14:58] exextoc commented on #1039
Thanks for the confirmation. We are closing this issue.

[2020-05-08 14:58] #1039 closed, assigned to exextoc

[2020-05-08 15:01] bchenhs commented on #1154
@exextoc As long as the copy operation happens within a ~1s timeframe after a call to `Office.context.mailbox.item.body.getAsync`, the clipboard always contains the entire body regardless of selection.

[2020-05-08 17:20] AlexJerabek commented on #1157
@redcirkle,
Thanks for the detailed walkthrough. Does [Application.calculate](https://docs.microsoft.com/en-us/javascript/api/excel/excel.application?view=excel-js-preview#calculate-calculationtype-) trigger the conditional formatting update for you? If that doesn't work, I'll transfer this issue to the product repo, as it may be an issue in Office-JS or Excel.

[2020-05-08 17:59] redcirkle commented on #1157
@AlexJerabek thanks for the quick response! We tried that method based on your recommendation, but it doesn't seem like any of the `calculate` options include the conditional formatting. We also tried the `suspendApiCalculationUntilNextSync` method, to no avail.
![image](https://user-images.githubusercontent.com/19576266/81434119-86810100-911a-11ea-8198-d8187bd7ba73.png)

Please transfer the issue

[2020-05-08 18:05] AlexJerabek commented on #1157
Hi @lumine2008 and @MandytMSFT,
Could either of you please take a look at this conditional formatting issue? It seems like the conditional formatting is not being reliably re-applied when new data is copy-and-pasted.
Thanks!

[2020-05-08 20:49] lukchen commented on #1145
I'm meeting the same issue in Desktop Excel. What is the standard way to download file in Excel AddIn?

[2020-05-09 21:00] ghost commented on #1139
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-09 21:00] ghost commented on #1137
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-09 21:00] ghost commented on #1056
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-09 21:21] rjpruitt16 commented on #1139
I am going through final, so I don’t have time verify this. I decided to you restasync function instead. I will look at it after school is done next week

[2020-05-09 23:00] ghost commented on #1188
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-10 07:33] exextoc commented on #1152
The error you are observing is because of the change mentioned in  https://developer.microsoft.com/en-us/office/blogs/accessing-outlook-items-in-a-users-archived-shared-or-delegated-mailboxes-using-microsoft-graph/
Accessing  delegator's mailbox items using api/v2.0/me/messages/{message-id}  is no longer supported.

[2020-05-10 08:42] exextoc commented on #1146
@GrumpyAL Could you please provide the following details regarding the issue " sharedProperties property targetRestUrl does not exist in outlook.office.com?

- In which browser are you seeing this issue and is the issue consistent?
- Are you getting any errors in console while making the call to Office.context.mailbox.item.getSharedPropertiesAsync and whether other Shared Properties such as target

[2020-05-10 12:38] Murugananths commented on #1148
Hi Team,
Can you please check and confirm ASAP as we are waiting for the response to continue this implementation.

[2020-05-10 23:00] ghost commented on #1092
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-10 23:00] #1092 closed, assigned to exextoc

[2020-05-10 23:00] ghost commented on #1079
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-10 23:00] #1079 closed, assigned to exextoc

[2020-05-11 04:37] areed1192 opened #1158 "Running `npm run build` creates and then deletes functions.json file"
## Expected Behavior

When I run `npm run build` to build my add-in it's supposed to generate a JSON file for the custom functions I created.

## Current Behavior

For whatever reason, when I run `npm run build` it returns the following error:
[code]
The strange thing is I see the file gets created, but it is deleted immediately after it was created.

## Steps to Reproduce, or Live Example

* Link

[2020-05-11 07:44] kishor1910 opened #1159 "Any plan to make getAccessTokenAsync(options, callback) production ready"
Hi, I wanted to use getAccessTokenAsync for my outlook addIn development,  but it is in preview mode now. Can I use this API in production or do you guys have any plan to move it to use in production?
Please share if you have any other workaround for the same API.

Thanks.

[2020-05-11 09:02] DmitryKostochko commented on #1152
Thank you for the details.

I have just tried to access another user's items by using the api/v2.0/users/{user-id}/messages/{message-id} endpoint and got the following error:
HTTP403: FORBIDDEN - The server understood the request, but is refusing to fulfill it.

Where {user_id} is a valid SMTP address and {message-id} is a valid itemId.

@exextoc, please let me know what REST API endpoint I can us

[2020-05-11 11:00] ghost commented on #1105
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-11 11:00] #1105 closed, assigned to exextoc

[2020-05-11 13:12] JamesBigChange commented on #1146
@exextoc hope you don't mind me adding our findings while you wait for @GrumpyAL .

When using https://outlook.office.com in the Chrome and Firefox browsers (others untested), we see a 404 error in the console for:
  https://outlook.office.com/autodiscover/autodiscover.json/v1.0/psdevelopment@bigchange.com?Protocol=REST
at:
  getSharedPropertiesApiMethod.ts:34

targetRestUrl is NOT populated while

[2020-05-11 15:47] exextoc commented on #1119
Thanks for reporting this issue regarding getAttachmentContentAsync. We can reproduce the issue reported. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-05-11 16:42] AlexJerabek commented on #1160
Hi @wh1t3cAt1k,
Thanks for the question. I'll tag @Rick-Kirkham and @keyur32 for answers about the Shared Runtime availability.

[2020-05-11 16:59] keyur32 commented on #1160
Hi @wh1t3cAt1k , we suggest you join our community call this week as we'll have an invite then.

See here for a calendar invite for Wednesday May 13, 8am PDT:  https://aka.ms/officeaddinscommunitycall

[2020-05-11 18:00] jeremy-msft commented on #1156
Hi @wh1t3cAt1k, we're glad you're interested in the shared runtime functionality.  This is a client-side feature so users will need to be on the latest versions of Excel.  We don't have any news to share about GA or platform availability today, but we encourage you to join our [monthly community calls](https://aka.ms/officeaddinscommunitycall) for the latest updates -- the next one will be this We

[2020-05-11 18:00] #1156 closed, assigned to jeremy-msft

[2020-05-11 19:03] liamtim commented on #1116
@exextoc When can we expect this to be resolved?

[2020-05-11 19:52] keyur32 commented on #506
Yes, (sorry didn't see this one). Non app store version should have the ability to debug.

[2020-05-11 19:52] #506 closed, assigned to akrantz, keyur32

[2020-05-11 19:54] keyur32 commented on #523
This is fixed and in preview with the Shared Runtime.

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview

[2020-05-11 19:54] #523 closed, assigned to keyur32, RuoyingLiang

[2020-05-11 19:55] keyur32 commented on #558
Hi folks, closing this as we do have FULL CORS support available as part of the Shared Runtime: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview

[2020-05-11 19:55] #558 closed, assigned to keyur32, RuoyingLiang

[2020-05-11 19:56] keyur32 commented on #650
Closing this as was previously fixed.

[2020-05-11 19:56] #650 closed, assigned to RuoyingLiang

[2020-05-11 19:57] keyur32 commented on #686
Previous issue was closed. Closing this one.

[2020-05-11 19:57] #686 closed, assigned to nobody

[2020-05-11 19:59] keyur32 commented on #852
Sorry for super late response, this has information on the mac: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache

Closing for now, feel free to update if you have additional questions

[2020-05-11 19:59] #852 closed, assigned to keyur32

[2020-05-11 20:00] ghost commented on #1201
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-11 20:01] keyur32 commented on #1084
hi @nasatechie, we didn't hear back from you. Closing this for now, but feel free to re-open later.

[2020-05-11 20:01] #1084 closed, assigned to smaremanda

[2020-05-11 21:31] mixtmeta commented on #1069
We are also experiencing similar issues with multiple add ins (from the store and our own developed in house). This issue seems to leave many DAWV processes hanging/orphaned and eventually results in an Outlook crash. Is there any update on this ticket?

[2020-05-11 21:50] JuaneloJuanelo commented on #1002
have you tried wrapping your range with a content control (invisible) that way you can get to it by ID of the content control.

[2020-05-12 02:14] SWei1234 opened #1161 "run mailbox.item.getSharedPropertiesAsync success but always with a http404 request?"
I have using 'mailbox.item.getSharedPropertiesAsync' function to get calendar owner. Like:
`if (!Office.context.mailbox.item.getSharedPropertiesAsync) {
                    zopLog("not running in a shared folder.");
                    resolve(null);
                } else {
                    Office.context.mailbox.item.getSharedPropertiesAsync( function(result) {
                        if(resu

[2020-05-12 02:31] exextoc commented on #1161
getSharedPropertiesAsync should return to you the properties of the shared item.  Are you not getting those values back from the function?

Can you provide some clarifications on your comment:

xxx.xxx@xxx.com?Protocol=REST http 404

What does "it will show an error" mean? Where are you getting that error? In the Async Result? what is a "network tag" ?

What platform are you on and version? Are yo

[2020-05-12 06:46] plamenbotev commented on #1140
Hello @mscharlock @exextoc
Just writing to check if there is any information regarding this issue?
We are currently struggling to make any calls to the REST services from within a shared mailbox if the addin is deployed using centralized deployment and that is causing issues for us in production.

Best Regards

[2020-05-12 06:56] exextoc commented on #1126
@hello-chenchen Can you share the template of your meeting Url?
We can add your provider to the list of online meeting providers, currently we support BlueJeans, Zoom, WebEx.
We use server side stamping to figure out whether the particular calendar event contains an online meeting enabled or not.

So for example, if the calendar event body contains meeting URL
`http:\\<provider_domain>\join\meetin

[2020-05-12 07:18] SibeeshVenu commented on #1002
Thanks. No, I have not tried that. So are you suggesting that I should have `content control` for each `nun`? It would be a great help if you can share any related documents.

[2020-05-12 07:49] exextoc commented on #1130
Thanks for reporting this issue regarding addFileAttachmentAsync API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-05-12 08:42] SWei1234 commented on #1161
@exextoc
Thanks for your reply. I'm sorry I did n' t describe the problem clearly.

1. getSharedPropertiesAsync should return to you the properties of the shared item. Are you not getting those values back from the function?
No, I get the properties of the shared item successfully.

2. Can you provide some clarifications on your comment:
But every time I call this function, it will show an error o

[2020-05-12 09:40] exextoc commented on #1154
We are unable to hit this scenario in our environment.
Can you confirm whether you are using code similar to below snippet?

    function getBody() {
      Office.context.mailbox.item.body.getAsync("html", function (asyncResult) {
        console.log(asyncResult);
      });
    }
    setInterval(getBody, 1000);

Is it possible to share your add-in with us?
Also can you check whether body view (not

[2020-05-12 11:17] DmitryKostochko opened #1162 "Outlook Desktop, keyboard focus is lost after opening a new inspector window with a pinned add-in"
We are developing an Outlook add-in for compose mode that supports the Pin/Unpin functionality. In Outlook Desktop, the keyboard focus is lost after creating a new email or replying to an existing email if an add-in is pinned.

## Expected Behavior
The keyboard focus shall remain in the To field in case of creating a new email and in the Body field in case of Reply/ReplyAll/Forward.

## Current Be

[2020-05-12 14:27] jimbarrett33 opened #1164 "Preview status and will anything change with the new SaaS monetization model?"
This has been in preview for a while and since then there is a new SaaS monetization model for selling apps via App Source. This document indicates "In addition, add-ins that use SSO are not accepted in AppSource." Will this still be the case under the new SaaS monetization model? Forcing the user to sign-in again inside the add-in is not the best user experience. Thanks.

---
#### Document Detail

[2020-05-12 15:19] morgan-tr opened #1163 "Word add-in has horizontal scrollbar on Firefox on Windows"
When loading a Word add-in in Firefox on Windows, there is a horizontal scrollbar.

## Expected Behavior
The expectation is that there won't be a horizontal scrollbar.

## Current Behavior

A horizontal scrollbar appears when opening an add-in in Firefox on Windows.

## Steps to Reproduce, or Live Example
1. Open a document on One Drive in Firefox on Windows 10
2. Install the [Script Lab](https://

[2020-05-12 17:05] bx-anil commented on #906
We see this issue too and it's random.

[2020-05-12 17:27] JuaneloJuanelo commented on #406
This issue is now fixed. (Builds 16.0.12002.10000+)

[2020-05-12 17:27] #406 closed, assigned to croicu

[2020-05-12 18:44] exextoc commented on #1162
I have reproduced the issue on our end, and have logged a bug on the backlog of the product team. I cannot give an ETA to when or if the issue will be addressed.

[2020-05-12 18:48] bhanes2046 commented on #1069
We are also experiencing the same issue with only one user for now. We use a smartcloud connect salesforce add in on outlook and when the add in is open in an email we see the desktop app web viewer growing in processes and taking up much of the memory usage.

[2020-05-12 19:57] croicu commented on #1069
Adding @Ling<mailto:lingz@microsoft.com> and @Sudheer<mailto:Sudheer.Maremanda@microsoft.com>. Bug https://microsoft.visualstudio.com/OS/_workitems/edit/26315558 currently tracks the issue om the Edge side.

Thanks,
Alex

________________________________
From: bhanes2046 <notifications@github.com>
Sent: Tuesday, May 12, 2020 11:48 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Alexa

[2020-05-12 23:00] ghost commented on #1137
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-12 23:00] #1137 closed, assigned to exextoc

[2020-05-12 23:00] ghost commented on #1056
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-12 23:00] #1056 closed, assigned to nobody

[2020-05-12 23:49] mattgeim commented on #1164
Unfortunately we don't have a timeline to share for general availability of the SSO APIs, but we are actively working to accomplish this in the near future.  If you have any specific issues with API please feel free to re-open this issue or start a new one so we can address them.

[2020-05-12 23:49] #1164 closed, assigned to mattgeim

[2020-05-12 23:59] mattgeim commented on #1159
We suggest not using preview APIs in production as breaking changes can be introduced. Unfortunately there is no specific timeline to share around the general availability of the SSO API, but we are actively working towards that in the near future. Add-ins that implement SSO should still implement a backup method, like the Dialog API, in case SSO encounters an issue like an unsupported client.  Ad

[2020-05-12 23:59] #1159 closed, assigned to mattgeim

[2020-05-13 01:00] ghost commented on #1188
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-13 01:16] lukchen opened #1165 "Something went wrong and we couldn't start this add-in"
Cant load addin in Excel Online's TaskPane when it loads fine in local Excel

## Expected Behavior

AddIn should work in TaskPane of Excel Online

## Current Behavior

First few seconds, there is a green spinner on top of AddIn page:
![image](https://user-images.githubusercontent.com/26646767/81760546-7f991c00-9495-11ea-8339-9d740a415a14.png)
Few seconds later I got this:
![image](https://user-ima

[2020-05-13 01:16] lukchen commented on #1165
After I click RETRY, I got this:
![image](https://user-images.githubusercontent.com/26646767/81760676-e0285900-9495-11ea-8b4b-7db3a637688f.png)

[2020-05-13 06:45] exextoc commented on #1161
Thanks for reporting this issue regarding network failure when calling getSharedPropertiesAsync API. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-05-13 06:48] hello-chenchen commented on #1126
@exextoc all right, thanks for your reply. And we have contacted your engineers directly, and they give us the same reply. We will keep in touch via email.

[2020-05-13 06:59] #1126 closed, assigned to exextoc

[2020-05-13 08:00] exextoc commented on #1146
@JamesBigChange #1161 is tracking this fix.
@naemcivic This is because of a [change](https://developer.microsoft.com/en-us/office/blogs/accessing-outlook-items-in-a-users-archived-shared-or-delegated-mailboxes-using-microsoft-graph/) in Graph API, using getSharedPropertiesAsync is the solution. Our team is working towards enable this API on Outlook for Mac.
@GrumpyAL Can you respond to our queries

[2020-05-13 08:23] DmitryKostochko commented on #1162
Thank you. Please let me know if (or when) you need my help in testing.

[2020-05-13 08:25] exextoc commented on #1152
Given,
- The [limitation](https://developer.microsoft.com/en-us/office/blogs/accessing-outlook-items-in-a-users-archived-shared-or-delegated-mailboxes-using-microsoft-graph/) introduced to Graph API.
- Recommendation from add-ins perspective to use [SupportsSharedFolder](https://docs.microsoft.com/en-gb/office/dev/add-ins/outlook/delegate-access)

Using [getSharedPropertiesAsync](https://docs.micr

[2020-05-13 08:25] #1152 closed, assigned to exextoc

[2020-05-13 08:54] wwy94621 opened #1166 "Can't set Excel.ChartBorder.lineStyle to "None""
Want to hide the border of a chart, but it doesn't working
## Expected Behavior

I'm working on a fucntion to hide a chart's border.
## Current Behavior

When I set the border's lineStyle to "None", office.js will through a exception. I trid other option like "Dash", "Dot", all of them is fine.
## Steps to Reproduce, or Live Example

* Additional details:
  1.open the Script Lab
  2.find the "Titl

[2020-05-13 09:20] lumine2008 commented on #1166
Thanks, i can repro this issue, let me follow up with the team, a bug(4157294) just created for tracking this issue

[2020-05-13 09:21] lumine2008 commented on #1165
Could you please share a bit more about the repro steps? We would like to repro in our side to locate the issue.

could you try to use open developer tool (F12) of the browser, see if there will be an error message in the console.

[2020-05-13 10:06] exextoc commented on #1140
Thanks for reporting this issue regarding getCallbackTokenAsync in an add-in which is deployed using Centralized deployment. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-05-13 10:24] exextoc commented on #1116
Using [getSharedPropertiesAsync](https://docs.microsoft.com/en-gb/office/dev/add-ins/outlook/delegate-access) is the solution here, our team is working towards enable this API on Outlook for Mac. It should be available in [Insider builds](https://insider.office.com/en-us/join/mac) soon.

[2020-05-13 10:59] fkranenburg commented on #1134
@exextoc The issue is not solved. But I know how to reproduce now. I made a screen recording to show how to reproduce. [See the screen recording here](https://streamable.com/wpllkr).  I have installed an add-in from the store by the name of 'Attachments' so you can reproduce as well. The same problem also happens with our add-in.

De problem is when I turn off the conversation view the problem is

[2020-05-13 13:21] GrumpyAL commented on #1146
Hi @exextoc sorry for the delay.

I was testing in Chrome and using the console to input the commands.  It was consistent with the office.outlook.com URL

This last time I tried, I get a 503 trying to reach the autodiscover URL, thrown by getSharedPropertiesApiMethod.ts at 34

The properties I have available are:

- DelegatePermissions
- owner
- targetMailbox

targetRestURL is missing / undefined

[2020-05-13 13:27] areed1192 commented on #1158
Hi there,

I was hoping to get an update on this and see if there has been any headway made on this?

[2020-05-13 13:49] lumine2008 commented on #1153
Thanks, a bug 4145133 was created to track this issue, Team is working on the investigation.

[2020-05-13 13:58] lukchen commented on #1165
This is the server link: https://elimwcloudtest.com/signin/

[2020-05-13 14:01] Kindyr commented on #1188
I just now saw the response above.  I used, I THINK Visual Studio, not code.  All new blank documents now create with those lines on them.

[2020-05-13 14:01] lukchen commented on #1165
I found out the problem

[2020-05-13 14:01] #1165 closed, assigned to lumine2008

[2020-05-13 15:27] GrumpyAL commented on #1146
I think we're seeing the same thing as @JamesBigChange and as stated in #1161 as well.  Just sometimes it can be a 503, other times a 404.  But the end result is the same, the targetRestUrl property is undefined.

![image](https://user-images.githubusercontent.com/28786762/81832614-ba8a6680-950c-11ea-9a18-ece85fc8b52a.png)

[2020-05-13 17:32] naemcivic commented on #1116
@exextoc

Thank you for the update. As our clients rely on this web add-in for their day to day business is not on board with using insider builds, can you provide an approximate timeline on when this will be available on the next insider build and release so we can start working on using getSharedPropertiesAsync()? In the future in case of a breaking change like this one, please communicate this

[2020-05-13 19:21] lukchen commented on #1145
based on my observation, if use window.open("http://xxx/xxx.pdf"), system browser will be opened and file gets downloaded; while window.open("https://xxx/xxx.pdf") will open a dialog inside Excel and cant get file downloaded. Is this http vs https difference the problem?

[2020-05-13 20:45] JuaneloJuanelo commented on #998
re-opening, sample document was provided offline.

[2020-05-13 20:48] Cata-ExF commented on #1145
Hi @lukchen ,
Thanks for your observations, very useful.
In an addin, we are supposed to use only https, is that correct?
I was expecting https to work, and http to fail, seams logical, but apparently there is no visible logic.
Still curious to see a reasonable explanation of this behavior, but I'll accept a solution without asking embarrassing questions like "Why?!" :)
Thanks again for your thoug

[2020-05-13 21:04] JuaneloJuanelo commented on #998
I am diagnosing the issue now, with the file provided, its a huge image and it takes time, but i am able to get the OOXML and then insert it in Windows. Now we will test on the Mac.

@DannyHinshaw  your issue is a different one, we are correctly investigating your issue in a separate issue here https://github.com/OfficeDev/office-js/issues/1097

[2020-05-13 21:18] JuaneloJuanelo commented on #998
we are tracking this investigation, and potential bug with 4158702

[2020-05-13 21:31] JuaneloJuanelo commented on #1002
yes, when you insert your html wrap it with a content control, add a tag to identify it.

the code is something like this: (i ap providing 2 methods one to insert and the other to get the placeholder.

you can restore this snippet in scriptlab if you want to see the sample running. https://gist.github.com/JuaneloJuanelo/629615349863fcb22adc9ab758699ba2

[code]

[2020-05-13 23:03] Tolli commented on #553
Hi, I am seeing this error, has this bug resurfaced perhaps?

[2020-05-14 07:32] exextoc commented on #1146
Thanks for the confirmation @GrumpyAL please use #1161  to track

[2020-05-14 07:48] SibeeshVenu commented on #1002
Thanks a lot for the detailed explanation. I will try that and share my output here.

[2020-05-14 07:48] 4tti opened #1167 "sheet.getRanges requires localized address instead of language neutral"
The calls should be unified across whole API and it should not require localizing its parts.

## Expected Behavior

It should be possible to call getRanges method with language neutral address, i.e. in case of multiple areas the call should look like this:
` let range = sheet.getRanges("B7:C7,G10");`
The reason is that it is not possible to work correctly on various environments + other calls to o

[2020-05-14 08:10] exextoc commented on #1134
We are able to reproduce the issue. Thanks for reporting this issue regarding pinned add-ins. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-05-14 08:35] exextoc commented on #948
@lindalu-MSFT Yes, we need a documentation update.
@Sankledar This is a platform behavior and involves a non-trivial fix. We request you to share your ask on [User Voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins).

[2020-05-14 10:08] nchakravarthi commented on #776
Outllook for Mac.

Facing issue with the **Office.context.mailbox.item.addFileAttachmentAsync()**,

AsyncResult error:

{code: 5001, message: "An internal error has occured.", name: "Internal Error"}

Can somebody help?

[2020-05-14 10:08] nchakravarthi commented on #776
Any solution for this?

[2020-05-14 13:11] lumine2008 commented on #1167
Thanks @4tti , I can repro this issue. A bug (4160381) is created to track this issue

[2020-05-14 13:32] nchakravarthi commented on #776
The issue was with the file being under VPN protected access and it was not able to add it. We have sorted out the issue.

It is working fine.

[2020-05-14 13:47] Murugananths commented on #1148
Hi Team,

Any update on this request?

[2020-05-14 15:02] DmitryKostochko commented on #1152
I have added the SupportsSharedFolder element to our manifest and the following REST API call has started to work:
api/v2.0/users/{user-id}/messages/{message-id}

@exectoc, could you please confirm that this is a valid and supported way in our scenario? Thank you.

[2020-05-14 15:40] tjcrowder commented on #804
@lumine2008 - Please do post the direct link cawise asked for. Searching for "binding" didn't seem to turn up the feature request.

[2020-05-14 17:43] tjcrowder commented on #804
@cawise - We have this problem too. The way I'm working around it at the moment is to loop through all the bindings loading their `id`s, then calling `sync` and if it raises an invalid binding error, going through the bindings one by one removing the ones that are invalid. (Which I only know how to do with the old API because of this issue and its related Stack Overflow question -- thank you!) So

[2020-05-14 19:14] AbidRahman-MSFT commented on #1163
Hey Morgan, thanks for reporting this issue. I was able to reproduce it following your steps and a bug has been logged in our backlog.

[2020-05-14 19:16] AbidRahman-MSFT commented on #1158
Hey @RuoyingLiang , can you provide more context regarding the JSON file generation for custom functions?

[2020-05-14 22:00] ghost commented on #1201
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-15 02:10] lukchen commented on #1145
@Cata-ExF  Yes we are supposed to use only https. I've looked at this example https://github.com/OfficeDev/office-js/issues/712
Is "Office.context.ui.openBrowserWindow" a valid API and a workaround can address this issue?

[2020-05-15 04:57] akrantz commented on #1158
If you clone the https://github.com/OfficeDev/Excel-Custom-Functions repository and check out the "yo-office" branch, then run `npm install` and `npm run build`, this should build successfully.

It would be good to see what is different with the package.json dependencies and the webpack config.

Also, did you start with the React taskpane template and then add custom-functions to it? The package.j

[2020-05-15 08:35] morgan-tr commented on #1163
Thanks for the update!

[2020-05-15 12:55] mpk opened #1168 "Office.context.mailbox.item is undefined in Outlook Online"
## Expected Behavior
`Office.context.mailbox.item` should contain selected email data

## Current Behavior
`Office.context.mailbox.item` is undefined

## Steps to Reproduce
- Select an email, open an add-in
- Close the add-in, go to next email, open the add-in again

## Context
I develop an add-in for Outlook that connects email data with a CRM. During this week, an error starts to occur while ope

[2020-05-15 13:55] areed1192 commented on #1158
@akrantz I did start with a react template and then added the custom functions folder to it. From there, I started going through and comparing dependencies to see which ones I needed.

From my understanding, these were the ones I needed:

[code]

### Webpack Plugin
However, after exploring GitHub, I found out that the issue was related to this package:

[code]

Inside of the react template, you'll

[2020-05-15 13:58] fkranenburg commented on #1168
See issue #1134. We see the same issues with our crm add-in.

[2020-05-15 14:04] bchenhs commented on #1154
Hi @exextoc I created a dummy add-in that contained only the code you outlined, and was able to reproduce it.

- This only occurs on Outlook for Mac (on both the regular and Insider channels).
- And

When pasting back into the email compose body, it works correctly.

[2020-05-15 14:23] leoseccia opened #1169 "GeneralException on insertContentControl()"
I am having issues with insertContentControl() for some (but not most) of the ranges returned by search().

Essentially, I search for various terms and then for each find, I attempt to create a content control. This mostly work, however every so often I get a GeneralException that looks like this:

[code]
Here is a simplified version of my code:
[code]

I closely examined the document ooxml to see

[2020-05-15 18:12] mpk commented on #1168
@AbidRahman-MSFT Are you sure this is a duplicate? The issue #1134 describes problems while add-in is pinned (I don't use it) and also throws different JS error.

[2020-05-15 19:32] AbidRahman-MSFT commented on #1168
Reopening. @exextoc , can you provide more information on if this is a duplicate issue of #1134 ?

[2020-05-15 20:49] JuaneloJuanelo commented on #1169
ok I was able to modify your code snippet a bit to find the issue, load in script lab from [here](https://gist.github.com/JuaneloJuanelo/b0928510adde1d7b9ddcbf3caa804b64).
 My snippet basically stops, red-highlight and selects the culprit range. And here is the error:
![error](https://user-images.githubusercontent.com/8866386/82093644-60c2a180-96b0-11ea-9244-89f93a8e1e13.png)

Basically, you are t

[2020-05-15 20:49] #1169 closed, assigned to nobody

[2020-05-15 21:07] erharvey commented on #1167
Hello,

Is there a workaround for this? I.E a way to get the list separator in order to feed the "join" below?
(The same way we can get decimalseparator from cultureInfo?)

        var rowsAreaAddress = ranges.map(function (range) { return range.address }).join(",");
        var rowsArea = sheet.getRanges(rowsAreaAddress);

        //Reapply column formatting
        renderColumnsFormatting(entiti

[2020-05-16 03:13] abimaelmartell commented on #349
I'm having this same issue on Excel, is there a fix for this yet?

[2020-05-16 09:58] 4tti commented on #1167
Hello.
It can but the issue is that other API calls retrieve it in language neutral format, i.e. you will get address of selected range like 'A1:A5,B3' but getRanges will throw error if you try this.
That said, you would need to have proper parser + it means some performance overhead.

[2020-05-16 14:35] erharvey commented on #1167
Hi 4tti,

Yes I have the exact same issue as you since I have to consider more than just the English language.

For the moment, I am using the following code get the system **listSeparator** and feed the above code in order to use getRanges. (There is no way to get it directly as far as I know of?)

   var rowsAreaAddress = ranges.map(function (range) { return range.address }).join(**listSeparator

[2020-05-16 19:49] acaibowl commented on #1128
Has your team has had any success in identifying or fixing this issue? We are hoping to start a new round of user on-boarding sessions and can also report back if we are still experiencing the issue. Thank you for taking time to look into this!

[2020-05-17 03:40] dho-caissa commented on #934
To demonstrate the 60 seconds timeout behavior, we created a demo project with two custom functions. One function calls a data service that takes 70 seconds to complete. The other function calls a data service that takes 5 seconds to complete. The first function failed with "Network Request Failed" error. The code for demo project can be found here. The readm.md has instructions how to run it.
htt

[2020-05-17 23:24] gujacob commented on #1018
Hi,

I'm also trying to open a websocket from my addin, but the sample you provide on the page only logs the data received to the console, while what i need is to use the messages cumming from the socket as responses for customFunctions..

Suppose i'm developing a addin that will stream real time data from a server to excel. The idea is that the user will use functions like `=MYDOMAIN.SUBSCRIBE(ch

[2020-05-18 05:05] exextoc commented on #1147
Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue. The title here has the url/domain for security reasons.
On OWA, with `displayInIframe:false` user will see the url/domain.

[2020-05-18 05:05] #1147 closed, assigned to exextoc

[2020-05-18 06:38] Cata-ExF commented on #1145
Hi @lukchen ,
Office.context.ui.openBrowserWindow does work.
Is there a way to download AND open the downloaded file?
Thank you

[2020-05-18 14:56] lukchen commented on #1145
@Cata-ExF Hi, you said it does work, how? What I meant was can this function open the system browser and download the file

[2020-05-18 16:55] leonidasthelab commented on #1110
@lumine2008 any updates for us? Thanks!

[2020-05-19 04:13] Cata-ExF commented on #1145
@lukchen : Instead of window.open(url), I used:
Office.context.ui.openBrowserWindow(url)
A new tab open in default browser and the download dialog was displayed.

[2020-05-19 07:50] Murugananths commented on #1148
Hi Team,

Can you please review attached manifest file and let me know if any issue so that I can proceed.

[2020-05-19 08:05] exextoc commented on #1154
Can you please specify the OS version and the Mac outlook client version. And it'll be easy for us to debug if you can provide an a stripped down version of add-in.

[2020-05-19 09:00] ghost commented on #3
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-19 09:49] MandytMSFT commented on #473
@wcx11  our team somehow is revisiting this thread. I tried your scenario, i notice moving  range.format.autofitColumns() after table.add can resolve your issue. Is this workaround acceptable for you ?

[2020-05-19 12:26] lukchen commented on #1145
@Cata-ExF Great! I'll try it as well. So why is the question "Is there a way to download AND open the downloaded file?" still need anwser?

[2020-05-19 13:52] Cata-ExF commented on #1145
My guess is that Office.context.ui.openBrowserWindow is nothing else but a workaround.
Is there an official way to download a file and OPEN the downloaded file (not just download) ?

[2020-05-19 13:55] jive-tamaskuzdi commented on #1089
hello @exextoc @Rick-Kirkham ! do you by any chance have any estimations by now for the fix?

[2020-05-19 15:27] Enotsoul opened #1170 "Office.context.mailbox.item.requiredAttendees.getAsync returns undefined attendees"
We have an issue which first started manifesting itself in January on our staging servers.
**Office.context.mailbox.item.requiredAttendees.getAsync** returns undefined attendees even though there are attendees!
All attendees are fully resolved (image+name) in both outlook and OWA.

Gradually the same behaviour expanded to our test and even to production rendering our app useless
Needless to say, t

[2020-05-19 16:43] lukchen commented on #1145
@Cata-ExF I see. I think we need this anwser from Devs

[2020-05-19 18:31] markb-trustifi opened #1171 "OneDrive shared link is invisible in OWA"
When sending email with OneDrive shared link from OWA in browser to other outlook account and opening it in OWA the shared link becomes invisible because of the internal style:
`<style type="text/css">#OwaReferenceAttachments{display:none}</style>`

The shared link is still visible when opening email in Outlook desktop client or when sending it from Outlook desktop client.

## Expected Behavior
Se

[2020-05-19 19:47] bhanes2046 commented on #1069
any updates on this?

[2020-05-19 20:06] Warsame-Egal opened #1172 "Setting message headers throws an error"
## Expected Behavior
X Headers Message headers should be set without errors in pop out window.

## Current Behavior
Trying to set message headers throws an error

## Steps to Reproduce, or Live Example
Opening a new window
-	Create a new email
-	Click on open a new window icon on the top right of the composed email
![pop](https://user-images.githubusercontent.com/8644484/82369049-6be53c80-99e4-11e

[2020-05-19 21:02] JoshSales commented on #414
This is also of great interest to us.  We've completed a proof of concept that depends on this capability, but it really doesn't help until its also available in Excel online.  Any update when it might become available for Excel online?

[2020-05-19 23:22] smaremanda commented on #1069
@bhanes2046 - we are looking into this issue. we will keep you posted on the progress,

[2020-05-20 01:58] amelehy opened #1173 "Word bindings become intermittently unreachable using Office.context.document.bindings.getByIdAsync"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When creating a binding from the user's current selection in a document, setting a value for that binding, and then attempting to retrieve the value for that same binding, we see inte

[2020-05-20 06:02] lumine2008 commented on #804
Thanks @tjcrowder , Would you please create a new request in uservoice. therefore we can prioritize it based on the vote. thanks.

[2020-05-20 06:48] tjcrowder commented on #804
@lumine2008 & @cawise - I've logged [this feature request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/40468168-make-working-with-invalid-bindings-easier) on uservoice. (@lumine2008  - A preview option before posting would be nice!!)

[2020-05-20 08:43] marsbronson opened #1174 "Wrong calculating height for Add-in iframe in Office in IE"
Hello,

I found a bug in the Office Word Online in IE. This is the issue with calculating the height of the header and body of the Add-in panel.

The panel header has a height equal to 54px, and body height calculating as 100% - 54px. It's working fine in all browsers except IE. Can you please check it? Cause for the reason of the wrong height we got extra scrollbars.

## Your Environment

* Platf

[2020-05-20 08:43] marsbronson commented on #1174
Div that two levels higher than iframe, has the calculated height calc(100% - 54px) (54px is the header height) But for correct work in IE we need to change div height to calc(100% - 58px). Unfortunately, we cannot manipulate with styles out of the iframe.

[2020-05-20 10:07] exextoc commented on #1171
Can you please share a screenshot of the issue and the way you are trying to share the link ?

[2020-05-20 10:28] ernes32 commented on #757
Hi @tiagoalves how would you check the API if other file types Pdf, Text are supported ?
Office.FileType.Pdf , Office.FileType.Txt

https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview#getfileasync-filetype--options--callback-

I tried various options as as argument for "Office.context.requirements.isSetSupported"
File, PdfFile, pdf, TextFile, text, etc..  no

[2020-05-20 11:38] rvskrishnaprasad opened #1175 "How to handle task pane close event"
## Expected Behavior
Able to handle Window closing event.

## Current Behavior
We are unable to handle Window closing event in our application. Is there a way we can handle the event?

[2020-05-20 11:59] markb-trustifi commented on #1171
- Login to Outlook account in browser
- Compose new email
- Attach
- Browse cloud locations
- Select document from OneDrive
- Share as OneDrive link

[2020-05-20 12:31] exextoc commented on #1168
Not able to reproduce the bug.
- Is the bug consistent for you ? Does it reproduce every-time you perform the specified repro steps ?
- Is the bug across browsers or Just chrome ?
- Have you been seeing the error for a specific add-in or happens for any given add-in ?

[2020-05-20 12:55] mpk commented on #1168
@exextoc
- Yes, I can reproduce this bug consistently, but only on some email accounts (one is working fine, one has this problem). However, this week the error message is slightly different (`'isAddinPinned' of undefined` instead of `'mode' of undefined`), as you can see in the screenshot.
- Bug is present at least in Chrome and Firefox (both browsers without any extensions)
- All add-ins that ac

[2020-05-20 13:20] sajsarka opened #1176 "[Content Addin] getFilePropertiesAsync call succeeds but empty path is returned for Excel Online"
## Expected Behavior

getFilePropertiesAsync should return valid path of file when succeeded.

## Current Behavior

Call succeeds but empty path is returned.

## Steps to Reproduce, or Live Example

Not able to repro. But we are seeing such failures in our telemetry.

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: Office Online
* Host [Excel, Word, PowerPoint, e

[2020-05-20 13:44] alexnb11 commented on #297
@kbrandl @macOutlookExtensibility Can we use additional resources for fix this problem? It is continuing more then 1 year. It looks strange for me, employees of Microsoft can not fix official bug for 1 year.

[2020-05-20 15:43] exextoc commented on #1089
We unfortunately have no timelines to share at this point. Thanks a lot for your patience.

[2020-05-20 16:02] liamtim commented on #1116
@exextoc Do you have an ETA on this fix?

[2020-05-20 20:16] cawise commented on #804
Thanks, @tjcrowder. Upvoted.

This and [not supporting XLSM documents](https://github.com/OfficeDev/office-js/issues/451) are the two primary issues driving us toward abandoning Office.js. At least this one has a workaround if you're willing to take the performance hit.

[2020-05-20 22:13] exextoc commented on #1170
We are looking into this issue to try to get an in-house repro.

[2020-05-20 23:32] qqytqqyt opened #1177 "PowerPoint.createPresentation(base64) not working on PowerPoint iPad"
## Expected Behavior

If we execute "PowerPoint.createPresentation(base64)", we should be able to open the PowerPoint from the given base64 on PowerPoint iPad.

## Current Behavior

There was an issue #432 where PowerPoint.createPresentation(base64) did not work on PowerPoint online which has been fixed. Now with Office desktop, Office Online, Office Mac, executing this line would open a new Power

[2020-05-21 00:20] tiagoalves commented on #757
@ernes32 I just tested the following in ScriptLab and it worked:

    Office.context.requirements.isSetSupported("PdfFile")
    Office.context.requirements.isSetSupported("TextFile")

[2020-05-21 06:51] tjcrowder commented on #804
@cawise - The hit's not *too* bad since you can do a batch operation and only fall back when there actually is an invalid binding, but it's definitely convoluted and the hit is there if you have one. Abandoning it for old-style Office automation, or a non-Office solution?

[2020-05-21 10:34] shubhashishtiwari commented on #3
Thanks for the reply.

Mac Version on which we verified this issue :  High Sierra 10.13.6 and Mojave 10.14.6

Details about the issue : We are using displayDialogasync(From office.js) to display our HTML. This HTML is rendering our decrypted email content. Our decrypted email might contain an attachment. So we want to provide user way to download this attachment from our HTML (Displayed using disp

[2020-05-21 11:58] ernes32 commented on #757
Hm.. @tiagoalves it actually does but it seems I have found some inconsistencies in Power Point.
btw. I was testing Excel hoping that PDF file export is finally possible with getFileAsync ;)

I am using online Office with Chromium Version 81.0.4042.0 (Official Build) (64-bit)
with this [script](https://gist.github.com/ernes32/44f27a7d66b97ed831212fedd268be5d)

PowerPoint:
CompressedFile status: tr

[2020-05-21 15:11] rgwood opened #1180 "Is there any support for running the back-end locally?"
This document discusses calling a .NET back-end hosted on Azure. Do you provide any support for shipping a _local_ .NET back-end with an Office add-in?

We need to keep data on the user's machine for confidentiality reasons, we can't send user data to a cloud back-end for processing. My understanding is that Office Add-ins do not provide any support for deploying local back-ends, so we'd need to h

[2020-05-21 19:24] devilwacause commented on #1018
Also have this problem.  The websocket cannot be accessed.  And right clicking the error and selecting  security info always displays the azureedge.net connection for script-lab rather than the actual ws connection I'm trying to make.

[2020-05-21 19:25] bchenhs commented on #1154
Hi @exextoc, we've seen this issue on:
- macOS Catalina (10.15.3) with Office for Mac 16.36 (20041300)
- macOS Mojave (10.14.1) with Office for Mac 16.38 (20051207)

We can reproduce this with a Taskpane add-in that only contains the above code snippet. The issue occurs as long as the taskpane is open (no HTML contents on it at all) and running the `get` call.

[2020-05-21 19:51] cawise commented on #804
@tjcrowder I don't mean to clutter this comment thread with my stories, so I'll try not to be too verbose. I'm mostly just whining within earshot of Microsoft. :-) But since you asked...

We've had frustrations with Office.js since we started using it in 2014 or 2015 as a replacement for a rickety and unmaintainable, 15 yr old COM add-in we inherited from a vendor. This add-in mostly just transmit

[2020-05-21 20:11] bchenhs commented on #1154
Our manifest looks like:

      <Requirements>
        <bt:Sets DefaultMinVersion="1.5">
          <bt:Set Name="Mailbox"/>
        </bt:Sets>
      </Requirements>...

        </ExtensionPoint><ExtensionPoint xsi:type="MessageComposeCommandSurface">
              <OfficeTab id="messageComposeTab">
                <Group id="messageComposeTab.mainGroup">
                  <Label resid="AppLabel"/>

[2020-05-22 02:46] MandytMSFT commented on #1177
@qqytqqyt thanks for reporting. I can repro and BUG 4178204 is opened to track internally

[2020-05-22 04:41] jasonhieu1905 opened #1178 "Insert Html <pre> element does not work in OfficeOnline ."
When inserting some Preformatted text like this:
<pre>
  L          TE
    A       A
      C    V
       R A
       DOU
       LOU
      REUSE
      QUE TU
      PORTES
    ET QUI T'
    ORNE O CI
     VILISÉ
    OTE-  TU VEUX
     LA    BIEN
    SI      RESPI
            RER       - Apollinaire
</pre>

## Expected Behavior
In OfficeOnline, it should insert correctly.

## Current Behavior
Works we

[2020-05-22 06:00] ghost commented on #1139
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-22 06:07] exextoc commented on #1116
We unfortunately have no timelines to share at this point. Thanks a lot for your patience.

[2020-05-22 08:55] wh1t3cAt1k commented on #1160
This is already available as I learned from MSBuild.

[2020-05-22 08:55] #1160 closed, assigned to keyur32, Andrew-MS

[2020-05-22 11:05] magda-pearson commented on #606
This issue still exists within Outlook online Add-Ins. I tried to use One Note add-in and I wasn't able to go further than from X to the main frame (look at the screenshot). I used tab and arrows and no luck. I tested this in Edge 83.0.478.37 and Chrome 83.0.4103.61. This issue makes it impossible for keyboard users to access all Add-Ins' functionalities.
![2020-05-22_11h39_27](https://user-images

[2020-05-22 14:12] 4tti commented on #902
Hello @RuoyingLiang not sure why was this closed. Is it fixed?
After recent windows update (forced by IT) on some of our Dev environments we experience exactly same issue. The excel started to use Edge webview and the addin is not possible to load. We are currently investigating.
Windows version: 1909, OS build 18363.836
Excel version: 16.0.12730.20342

I'll update here if Yeoman generated addin w

[2020-05-22 15:00] lumine2008 commented on #1176
@sajsarka , would you please share a bit more information? we would like to locate the issue if there is no reproducible in our side.

[2020-05-22 18:56] mscharlock commented on #1180
Hi there, thanks for writing in to the docs team. I believe that as long as the local server is https:// and accessible within the firewall, what you've suggested above should work. (Note that also means that the add-in can't be hosted in AppSource but needs to be in the store.) Does that help answer your question? Let me know if I can help clarify further. Happy to help. :)

[2020-05-22 19:02] mscharlock commented on #1179
Hi @deeagar - Thanks for writing in with your question! I am going to transfer this to the office-js repo, to get some other engineer eyes on this issue. Thanks!

[2020-05-22 19:07] rgwood commented on #1180
Thanks!

Can you please clarify what you mean by "in the store"? I don't see a store as an option in the [deployment documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish). We need to distribute the add-in to users outside of our organization, if it matters.

I'm primarily interested in deployment and packaging for this sort of "local-first" approach; my current unders

[2020-05-22 20:49] exextoc commented on #1095
@davidfishlock we have fixed this bug and it should be available now. Can you check to see if it works now?

[2020-05-22 21:59] davidfishlock commented on #1095
@exextoc  No, there doesn't appear to be any change in behaviour.

The API still returns a WebLink in this format:
https://outlook.live.com/owa/?ItemID=[TheEmailID]&exvsurl=1&viewmodel=ReadMessageItem

Navigating to this redirects to:
https://outlook.live.com/mail/0/deeplink?ItemID=[TheEmailID]

The mail item doesn't load, just a loading spinner as previously.

[2020-05-22 22:06] exextoc commented on #1095
Just to clarify, did you logout and login into your account? I was able to validate that this works for my test outlook.com account.

[2020-05-22 22:31] mscharlock commented on #1180
"The store" refers to the Office Store (different from AppSource). Although given you want to deploy outside of your organization, what I've suggested above (which is following more or less centralized deployment https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment) won't work. Let me transfer this issue to the office-js repo, because I think our PMs and ENG might hav

[2020-05-22 22:32] mscharlock commented on #1180
@sumurthy & @smaremanda - can you look at this question above?

[2020-05-22 22:35] davidfishlock commented on #1095
I tested this against two accounts, one on live.com, the other on outlook.com domain.

Also tested in both Chrome and Firefox, and also in Incognito / Private browsing mode and the emails don't seem to be loading in any of these cases.

[2020-05-22 23:31] exextoc commented on #1095
Let me double-check the status of the fix once again.

[2020-05-23 00:24] dho-caissa commented on #934
@xiaochunms We are still experiencing this 60 seconds request time limit in our current production Excel Add-In application. Is there setting in Excel or configuration that allows us to change this behavior? Thanks

[2020-05-23 07:01] sajsarka commented on #1176
@lumine2008 When we try to debug or try to do a local repro, not seeing this issue. But in our telemetry we are seeing such failures for 0.2% of our sessions.
Is it possible to check for logs for this API?

[2020-05-23 19:04] stephenegriffin commented on #1180
@rgwood There's no need to send any data back to your server if you don't want to. For an example, see [MHA](https://github.com/stephenegriffin/MHA). All processing is local to the client,

[2020-05-23 19:51] exextoc commented on #1170
We are still unable to reproduce this issue in-house. Looking at your first screenshot, at the bottom right section, it appears you are creating a meeting in a Shared Folder / Calendar. If that is correct, does this issue only occur when using a shared calendar, or does it occur in non-shared calendars as well?

[2020-05-23 20:15] exextoc commented on #1168
We aren't able to reproduce the issue. Can you please provide a test account where the same is reproducible ?

[2020-05-24 03:37] hmartiins opened #1181 "Development in linux environments"
## Current Behavior

When I follow the tutorial at https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=yeomangenerator, in Create your first Word task pane add-in, when I arrive at the step of running npm run start: web it returns the following error:

Debugging is being started ...
App type: web
Unable to start the dev server. office-addin-dev-certs: Platform not

[2020-05-24 16:05] MandytMSFT commented on #1179
@deeagar  Could you provide more information to help us triage the issue on below questions?

Which host is your addin targeting on? Word/Excel/outlook or others ?

Which platform ? Desktop / Online/Mac/iOS ?

[2020-05-24 18:00] ghost commented on #1002
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-25 08:00] ghost commented on #1139
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-25 08:00] #1139 closed, assigned to exextoc

[2020-05-25 08:14] MandytMSFT commented on #1176
@sajsarka could you provide us the sessionID that encounter the issue, then we can have a try to see if any clues in logs.

[2020-05-25 12:00] ghost commented on #3
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-25 14:49] ahmedkhalid1710 commented on #3
We're facing the same issue with outlook on MAC

[2020-05-26 00:57] dula85 opened #1182 "file.getSliceAsync throwing 5001(internal error) when slice count is more than one Microsoft office word add-in"
In our company we have created the office word add-in and we are using Office.context.document.getFileAsync to get the file and file.getSliceAsync to get slices.

## Expected Behavior
Returns a slice of a specific index.

## Current Behavior
Recently we are facing an issue when slice count for a given file is more than one, we are getting internal error 5001.

## Steps to Reproduce, or Live Exampl

[2020-05-26 01:20] erharvey opened #1183 "Excel crashes when user enters edit cell mode during table operations "context.sync""
Excel crashes (not responding) when a user goes in edit cell mode during long running processes such as multiple table creation with formatting.

The issue seems to occur if the user goes in edit cell mode of an Excel.Run process with app.preventScreen update set to true. It would seems as if the screen doesn't become active again since it fails before doing so.

## Expected Behavior

Excel should

[2020-05-26 01:50] dula85 commented on #1182
Figure out that the is issue with my code, I have file close statement in the getFile Method at the end which causing this issue.

[2020-05-26 01:50] #1182 closed, assigned to nobody

[2020-05-26 03:45] dho-caissa opened #1184 "Excel Custom Functions: API Calls Timing Out After 60 Seconds"
## Current Behavior
The excel custom functions created as part of Add-In seem to have 60 seconds request limit on API call. When API call takes more than 60 seconds, it return "Network Request Failed" error. We are  experiencing this 60 seconds request time limit in our current production Excel Add-In.  Is there way to change it in Excel or Excel Add-in?

## Steps to Reproduce, or Live Example
To

[2020-05-26 06:54] MandytMSFT commented on #1178
@jasonhieu1905  thanks for reporting. I just tried copy/paste the paragraph with  pre on word online directly, it also can not show correctly as well. so that's an issue of word online and expected behavior for API. Pls contact word online team by feedback to report this issue.

![image](https://user-images.githubusercontent.com/52641972/82868719-b3794480-9f5f-11ea-86b9-5916c7a8d1f7.png)

[2020-05-26 06:56] exextoc commented on #1172
Thanks for reporting this issue regarding. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-05-26 09:01] #794 closed, assigned to RuoyingLiang

[2020-05-26 09:10] JRuncikInfor commented on #794
Please, in which version will be the fix available?
Thanks Jarda

[2020-05-26 09:53] davidfishlock commented on #1095
@exextoc I have attached a zip containing two .har files recorded while replicating the issue on a test account on the outlook.com domain.

[network-traces.zip](https://github.com/OfficeDev/office-js/files/4681335/network-traces.zip)

- api-request.har - shows the request to the Outlook REST API and the response containing the deeplink url
- owa-deeplink.har - shows a trace of the user navigating

[2020-05-26 11:54] SWei1234 opened #1185 "[Outlook ] on chrome Outlook online Office.CustomProperties not work on shared calendar"
I run Office.CustomProperties on a shared calendar(outlook online).
But actually this function not work at all.

PS: I remember this function is working several month ago. Is there any update about this?

## Expected Behavior
Office.CustomProperties works on shared calendar.

## Current Behavior
saveAsync is done but just can't read any thing from properties.

## Steps to Reproduce, or Live Exampl

[2020-05-26 12:26] wuarmin commented on #1134
@exextoc I have the same issue with outlook web. At first Add-in-opening (via context menu at the current email), `Office.context.mailbox.item` returns the correct current email.
At second, third, ... Add-in-opening at the particular email the `Office.context.mailbox.item` returns the item from first opening.

If email is opened via double click (new browser window), it works, but this is no solut

[2020-05-26 13:24] tpasi commented on #757
MSFT fixed the issue and now PDF works as well.
However, Office.context.requirements.isSetSupported("PdfFile") is still returning a false value.

[2020-05-26 13:40] rvskrishnaprasad opened #1186 "Unable to control/adjust window size when multiple widows are opened in task pane"
## Expected Behavior
Able to control/adjust window height depending on the need when multiple windows are opened in the task pane.

## Current Behavior
Window height is getting increased automatically when multiple windows are opened in task pane, we are unable to adjust the window height as it is read-only, due to which controls at bottom (footer part) are not displaying for the user.

<img width

[2020-05-26 15:19] MandytMSFT commented on #757
@tpasi  do you mean to Office.context.requirements.isSetSupported("PdfFile") on Excel online ? If yes, the fix is also checked in. Suppose it will be available for coming days.

[2020-05-26 15:33] tpasi commented on #757
@MandytMSFT, yes I meant for Excel for Web, thank you

[2020-05-26 15:41] lumine2008 commented on #1183
Thanks @erharvey for reporting this issue to us,
it would be super helpful that you could provide a script lab gist. therefore we can have a local repro to locate the issue.
here is a screenshot how to share a gist in scriptlab. thanks in advance.
![image](https://user-images.githubusercontent.com/26398035/82920775-4dfe7580-9faa-11ea-98f2-7a76f0bfac49.png)

[2020-05-26 16:43] ElizabethSamuel-MSFT commented on #948
@Sankledar The documentation has been updated to indicate this limit for Outlook on the web.

Thanks again for letting us know about this.

[2020-05-26 16:43] #948 closed, assigned to exextoc, lindalu-MSFT

[2020-05-26 17:05] #1174 closed, assigned to nobody

[2020-05-26 17:09] lindalu-MSFT commented on #1175
Hi, please provide the client (Word, PowerPoint, Excel, etc.), exact steps to repro, and files needed to repro. Then I can assign someone to follow-up. This Issue needs more details for us to take action. Thanks!

[2020-05-26 17:53] ElizabethSamuel-MSFT commented on #1188
@Kindyr In addition to @Rick-Kirkham's comment, can you try [clearing the cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache)?

Thanks.

[2020-05-26 18:18] Kindyr commented on #1188
Where would I go to remove the cache for this or to turn off the localhost to stop the server running?  I've rebooted this machine dozens of times since removing the add-in and there is still lines from teh add-in on every new document.

[2020-05-26 18:20] ElizabethSamuel-MSFT commented on #1188
@Kindyr For guidance on how to clear the cache, take a look at this article: https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache.

Thanks.

[2020-05-26 18:39] Kindyr commented on #1188
Cleared that folder, rebooted, still getting the add-in line.

[2020-05-26 18:44] ElizabethSamuel-MSFT commented on #1188
@Kindyr Thanks for trying these out and getting back to us.

@Rick-Kirkham Any other suggestions?

Thanks.

[2020-05-26 18:46] Kindyr commented on #1188
I keep forgetting the issue is there since most of the documents I work with are not created by me, so the line isn't on there when I open them.  I have this feeling it is something SUPER simple that someone who knows more about add-ins could just look at my computer and go "Oh, this is what's wrong", click three times and fix it.

[2020-05-26 18:48] cbishop-fv commented on #1134
@exextoc

Outlook live free account:
Also seeing this issue where the data from the 1st email opened always returned.
In other cases I see `Office.context.mailbox.item` is returning undefined for some emails.
To @wuarmin's point opening via double click does return the item data.
To @fkranenburg's point turning conversation off reproduces this. With it on the issue goes away.

Outlook 365 account

[2020-05-26 18:55] ElizabethSamuel-MSFT commented on #1188
@Kindyr In that case, it may help for you to respond with a short video or screenshots.

[2020-05-26 19:01] jnSWPC opened #1187 "Show and hide the task pane - Visual Studio Web AddIn"
**Problem:** - Test show/hide taskpane feature available as part of office preview api - https://docs.microsoft.com/en-us/office/dev/add-ins/excel/show-hide-add-in from Visual Studio Excel WebAdd-In project

**Help Needed** - Sample Visual Studio project referencing office preview api to show/ hide taskpane.

**Details:**

1. Created a Excel Web AddIn in Visual Studio 2017. Referenced the https://

[2020-05-26 19:10] Kindyr commented on #1188
What would you like screenshots of?  I am happy to provide them, but my smartarse thought, "A screenshot of a blank Word doc with just a few lines of text aren't' going to help too much, she must want real things."

Let's see.. the top of the doc:
![image](https://user-images.githubusercontent.com/64866857/82940577-0f919800-9f63-11ea-8351-eb934351114a.png)

I'm not sure if the png will show.  Will

[2020-05-26 19:12] Kindyr commented on #1188
![image](https://user-images.githubusercontent.com/64866857/82940741-3fd93680-9f63-11ea-9441-f0294793b97c.png)

[2020-05-26 19:13] Rick-Kirkham commented on #1188
Using this document, [Browsers used by Office Web Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins), which browser is being used? Can you clear the browser's cache and see if that helps?

[2020-05-26 19:22] Kindyr commented on #1188
Looks like most likely Edge. Let me go test.

[2020-05-26 19:36] Kindyr commented on #1188
That didn't seem to help. I cleared cookies and browsing history et cetera.

[2020-05-27 07:17] mpk commented on #1168
I'm also unable to reproduce this issue anymore.

[2020-05-27 07:17] #1168 closed, assigned to exextoc

[2020-05-27 08:41] xiaochunms commented on #934
Sorry for the late response. Thanks for the efforts to nail down the issue to fetch api. Is it possible to have another test to know where the timeout limit is from, is it from the fetch api call itself or from custom function fetch api call?

[2020-05-27 08:51] xiaochunms commented on #1184
Thanks for the effort for the demo project. I tried the demo project, but I hit the error in the very first step, i.e. Run "NPM install and Yarn install". Any suggestion to unblock here and I can move forward then?

![image](https://user-images.githubusercontent.com/1261601/82997849-80a37f00-a039-11ea-9107-954158662b0a.png)

[2020-05-27 09:07] Anavaer commented on #883
Hi @LouMM, is there any new information on this that you could share with us?

[2020-05-27 09:45] exextoc commented on #1040
Fix for this issue has been deployed now and should be available. Can you all please check if this issue is resolved for you? Thanks.

[2020-05-27 10:09] Borgquite commented on #982
Same issue here w/ Windows 10 1909, latest Office 365 build, and the Microsoft FindTime or Asana plugins:

Log Name:      Application
Source:        Application Error
Date:          27/05/2020 11:05:09
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Computer:      <redacted>
Description:
Faulting application name: wwahost.exe, version: 10.0.1

[2020-05-27 11:38] Syedtajudheenj commented on #906
Facing this same issue now and found out the reproducible scenario.
I'm using word online in chrome, Just switch network speed to slow 3g in the network tab

[2020-05-27 16:11] dho-caissa commented on #934
@xiaochunms we tested the fetch call for API that takes more than 60 seconds in other browsers and in side loader. They worked. It is definitely some setting in Excel / Excel custom functions that limit the time allowed for API calls

[2020-05-27 16:14] dho-caissa commented on #1184
hi @xiaochunms, try run "NPM install" first. Then, run "yarn install". thanks

[2020-05-27 16:28] Rick-Kirkham commented on #1188
I'm going to move this to the office-js repo since its not really a doc issue.

@sumurthy This is a variation of a phenomenon that we've seen before. In the other cases, the developer could not clear out old code. The developer would clear the browser cache, clear the Office cache, and even reboot the machine and the old version of the JavaScript in the add-in would still run when the developer la

[2020-05-27 18:11] 4tti commented on #902
@keyur32 This is becoming very critical as it appeared on another environment. There we tried the insider build workaround but it did not help.
It is not possible to use any addin, even ScriptLab from store (i.e. it cannot be related to the Loopback Exemption if I am not mistaken) - all of the addins show same error.

[2020-05-27 19:34] hmistry-lz commented on #1040
Yes, it is resolved. thank you so much!

[2020-05-27 20:00] ghost commented on #1002
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-05-27 20:00] #1002 closed, assigned to JuaneloJuanelo

[2020-05-27 21:16] wilcotroost commented on #1134
We also experience the same problem with Outlook Web. The strange thing is that it doesn't fail for all users. My coworker/developer runs exactly the same code in his browser and Office.context.mailbox.item changes correctly when he changes the current mail.

It would be great if someone can shed some light on this.

Is there a way to reset/clear the Office.context ?

[2020-05-27 22:20] lindalu-MSFT commented on #1142
Hi @nokafor! Can you help us with this issue? We need to know which PM to assign it to. Thanks in advance for your insight.

[2020-05-28 06:01] exextoc commented on #1154
We are still unable to reproduce this issue. We are wondering if we are doing something wrong in our repro steps. Is it possible for you to record a video of your repro steps which shows this problem? Can you please share such video with us?

[2020-05-28 06:34] sagarpilkhwal opened #1189 "Wrong Office.context.mailbox.item in Reading Pane mode"
If I enable reading pane with "Show on the right" mode and select any email and then open up the MHA add-in (Message Header Analyzer) the 1st email I open up shows up correctly, but when I select another email and again open MHA add-in (Message Header Analyzer), I get the same details of the 1st email I opened up. This continues to happen when I select any other email unless I go to the "Other" em

[2020-05-28 06:41] exextoc commented on #1155
Thanks for creating this issue. We are looking into it and we will back on this as soon as possible.

[2020-05-28 06:47] wilcotroost commented on #1189
This seems to be the same problem as the one in https://github.com/OfficeDev/office-js/issues/1134

[2020-05-28 07:01] exextoc commented on #1134
We recently fix this problem and now fix should be available to all users. Can you please check if issue is resolved for your users? Thanks.

[2020-05-28 07:27] chiragvidani commented on #1006
@smaremanda: Please help us with any update for this bug?

[2020-05-28 07:32] Kashishmsft commented on #1006
Below document would help you for this issue

https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins#get-errors-trying-to-download-a-pdf-file

[2020-05-28 07:36] chiragvidani commented on #1006
@Kashishmsft Thank you for an alternative approach. But it would be great if we are able to get the solution to an actual problem.

[2020-05-28 07:49] wilcotroost commented on #1134
I am very happy with your prompt response but the issue is not resolved for me...

[2020-05-28 08:39] fkranenburg commented on #1134
@exextoc  I can confirm that the issue is not resolved for me.

The way it reacts is changed. The add-in is closed when switching to another mail. But after switching e-mail and activating the add-in again, the first mail selected is returned in Office.context.mailbox.item, not the current selected e-mail.

[2020-05-28 10:13] exextoc commented on #1096
Hello @max-yushchuk Can you please check whether itemchanged event handler with the conversation mode off is still an issue or not?

[2020-05-28 12:16] wuarmin commented on #1134
@exextoc The bug unfortunately is not solved for me either.

[2020-05-28 14:30] xiaochunms commented on #934
@dho-caissa you may can try [Run your add-in code in a shared JavaScript runtimes](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview)

[2020-05-28 14:35] xiaochunms commented on #1184
@dho-caissa I got following error when run "yarn install". :(
![image](https://user-images.githubusercontent.com/1261601/83154825-2b4b9880-a133-11ea-9dd2-459be766b092.png)

[2020-05-28 18:06] Murugananths opened #1190 "How to use MSAL.js in Excel add-in using Officejs"
Hi Team,

As of now we have been using office js helpers for authentication in Excel add-in login screen. Now we are planning move into MSAL.js integration since it can be achieved refresh token and all.

Below are the clarifications:
1) We used to refer the link **https://github.com/OfficeDev/PnP-OfficeAddins/blob/master/Samples/auth/Office-Add-in-Microsoft-Graph-React/login/login.ts** where conf

[2020-05-29 02:53] dula85 opened #1191 "Word: Issue with getFileAsync when getting two files"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

In my code I am getting word file twice as compressed and pdf file type.

## Expected Behavior
To see file size of both compre

[2020-05-29 05:56] calbrecht commented on #337
You should try `cc["delete"](true);` instead of `cc.delete(true);`
--edit My guess is, that is because `delete` is a [reserved keyword](https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2010/ttyab5c8(v=vs.100)) however, it is unclear to me why this only breaks in chrome and edge 49, and also why it does not function but also not error.

[2020-05-29 09:51] max-yushchuk commented on #1096
@exextoc, I've just checked and found that OnItemChanged event fires properly. But it doesn't change asyncResult in callback function - subject, internetMessageId and other properties are from previously selected item.
So, it's still an issue.

[2020-05-29 10:09] sagarpilkhwal commented on #1134
@exextoc from what I can see the url in the browser's address bar doesn't change upon selecting different email from the list when "Reading pane" mode is turned on.

[2020-05-29 11:46] exextoc commented on #1040
Closing the issue since problem is resolved for atleast one user. Let us know if it is not fixed for some users.

[2020-05-29 11:46] #1040 closed, assigned to exextoc

[2020-05-29 12:47] exextoc commented on #1185
Are you using outlook.com account or Office365 Enterprise account?

[2020-05-29 13:14] exextoc commented on #1185
We are not able to reproduce this with the given code.

1. What permission did you use when sharing calendar with delegate? When sharing calendar we get options like: "Can view all details", "Can view titles and locations", "Can view all details", etc.

2. When you say, CustomProperties does not work - do you mean you get API callback, it result is empty? Is asyncResult error code "success"? Can y

[2020-05-29 13:49] DmitryKostochko opened #1192 "Outlook desktop: Elevated permission is required to call the method 'body.getTypeAsync' in pinned add-in"
In an Outlook add-in for compose mode, we are using the body.getTypeAsync method. In Outlook desktop, the "Elevated permission is required to call the method" exception occurs if the add-in's pane is pinned.

## Expected Behavior
The exception should not occur.

## Current Behavior

## Steps to Reproduce, or Live Example
1. Select a received email in the Outlook Inbox.
2. Click the Reply or Forwar

[2020-05-29 14:16] SWei1234 commented on #1185
Yes

[2020-05-29 14:18] SWei1234 commented on #1185
Sure, I will record this and paste here later. If necessary we can have a meeting.

[2020-05-29 15:00] ghost commented on #3
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-29 19:34] SanketDG commented on #3
@exextoc Could you pick up on this? Seems like this happens to a lot of users on Mac Outlook.

[2020-05-29 21:40] bx-anil opened #1193 "Change in behavior on Shared Calendars API"
Accessing Outlook Shared Calendar item via REST API is failing.

## Expected Behavior
When calling

`https://outlook.office.com/api/v2.0/users/<shareduser@domain.com>/calendar/events/<rest_event_id>?$select=iCalUId`

 fails with 403 error. This was working fine a week ago. But the same endpoint works fine if the add-in app is running locally (localhost) or when using OWA (Outlook web).

This is ca

[2020-05-30 00:12] exextoc commented on #1193
Thanks for providing a detailed description of the issue.

This error indicates that the `accessToken` is missing the scope needed to access a shared calendar.

I assume the add-in is using `Office.context.mailbox.getCallbackTokenAsync({ isRest: true }, ...` to generate the access token?

While trying to reproduce this issue, I noticed (and verified) there were just two cases where the Shared scop

[2020-05-30 00:46] bx-anil commented on #1193
Thanks for looking into it.

Yes `Office.context.mailbox.getCallbackTokenAsync({ isRest: true } ...` is the call to get the token.  The manifest hasn't changed for quite sometime and confirming that permissions are ` <Permissions>ReadWriteMailbox</Permissions>` and `<SupportsSharedFolders>true</SupportsSharedFolders>`  on the manifest.

And yes, the mailbox is the same when accessing from OWA and

[2020-05-30 01:27] exextoc commented on #1192
Thank you for reporting this issue. I'm able to reproduce it as well.

We'll need to investigate it further to understand its root cause and resolution.

Internal tracking id (helps to provide an update later) is office:4196963.

[2020-05-30 15:00] ghost commented on #1176
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-30 18:00] ghost commented on #1170
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-30 18:00] ghost commented on #1179
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-05-30 18:14] Enotsoul commented on #1170
Hello,

The shared folder/calendar is irrelevant as this occurs with a variety of users and on different environments even with non-shared calendars.

Even if it had something to to with shared folders I doubt this would be the problem since it had worked well in the past.

[2020-05-30 23:00] ghost commented on #653
I'm interested by a solution as well !

[2020-05-31 03:33] dho-caissa commented on #1184
@xiaochunms I think NPM install should be enough to get the javascript packages. You don't need to run the "yarn install" if you don't have yarn installed.
The main code to demo the behavior is here. The code simply calls the API and it is relatively straight forward. thanks again.
https://github.com/dho-caissa/ExcelAddinDemo/blob/master/src/Caissa.ExcelAddin/CustomFunctions/src/functions.ts
"func

[2020-06-01 02:43] SWei1234 commented on #1061
Hi @exextoc
Sorry for reply recording so late:
Recording:
https://success.zoom.us/rec/share/_8d2f4zR2SBITYXB9BzTXYEcGJ75X6a80yMd__UEyE3mbwJ-c7jg9Pn0Llrc9gU0
Access Password: 3a!4.p7Z

By the way, location.reload() is also not work.  This problem can be reproduce on all add-in include 'View Templates'
Please reopen this issue, Thanks

[2020-06-01 04:44] libjosep commented on #1145
Hi..I am getting an error _Property 'openBrowserWindow' does not exist on type 'UI'. What am I doing wrong?

[2020-06-01 06:49] MandytMSFT commented on #757
This thread contains too many topics, And i think all the question here has been addressed or given suggestion. I'd like to close this thread. @tiagoalves  and other people pls open a new thread if issue still here for GetFileAsync

[2020-06-01 06:49] #757 closed, assigned to catchingyu

[2020-06-01 10:57] jankratochvilcz commented on #1095
@exextoc is there any update you can share with us? I can still reproduce the issue :-/

[2020-06-01 16:23] Rick-Kirkham commented on #1190
This issue seems identical to the Stack issue: [/how-to-implement-msal-js-in-excel-add-in-using-officejs](https://stackoverflow.com/questions/62048722/how-to-implement-msal-js-in-excel-add-in-using-officejs). Please see my answer and the following comments there. In particular:

Let's continue handling this in Stack because its really more of a programming question than a bug in the Office.js. I'l

[2020-06-01 16:23] #1190 closed, assigned to mattgeim, Rick-Kirkham

[2020-06-01 21:35] dinkom commented on #123
I'm not sure; I'm no longer involved in that project.

[2020-06-01 22:40] saberone commented on #1201
I'm very interested in a solution for this too. I have already created a Stack Overflow question, as was suggested by @mscharlock : https://stackoverflow.com/questions/62032994/office-ui-outlook-addin-using-auth-is-unstable?noredirect=1#comment109742168_62032994

The addin has been ready for weeks, but the auth/security part has become a roadblock to take the built addin to production which means

[2020-06-02 01:49] SWei1234 commented on #1185
@exextoc Here is the problem recording. And this is easy to reproduce. Please try this.
[trouble_shooting_recording.zip](https://github.com/OfficeDev/office-js/files/4714295/trouble_shooting_recording.zip)

[2020-06-02 02:32] amelehy commented on #1173
Hi @weshi, saw that you were assigned to this issue, thanks a ton for looking into it. Any progress on your end?

[2020-06-02 02:35] SWei1234 opened #1194 "[Outlook ] Office.context.mailbox.userProfile.timeZone get wrong timezone on Mac"
This problem only happening on Mac outlook client. Problem is: 'Office.context.mailbox.userProfile.timeZone' get the timezone of system not outlook client.
But mapi on C++ can get outlook timezone and js api 'Office.context.mailbox.userProfile.timeZone' get outlook timezone on windows too.

## Expected Behavior
'Office.context.mailbox.userProfile.timeZone' get timezone from Mac outlook preferences

[2020-06-02 02:42] MandytMSFT commented on #1191
@dula85   could you try https://gist.github.com/MandytMSFT/cf2003237fc288c7dc065cb039aea4be

i adjusted the closeAysnc call to success/fail callback of GetFileAsync, then it works for me

[2020-06-02 03:05] sirtwist commented on #1134
I can also confirm I'm seeing the same thing. It only happens when conversation view is turned OFF. If conversation view is on, navigating between messages changes the item to the correct item.

[2020-06-02 03:12] sirtwist opened #1195 "Outlook Web taskpanel header does not change to dark mode when client set to dark mode"
In Outlook Web the header area of the task pane does not change to dark mode when you set outlook to dark mode:

![image](https://user-images.githubusercontent.com/3112462/83475720-8c85ab80-a454-11ea-9d69-1aa34d88492a.png)

This is in contrast to what the Outlook desktop client does in dark mode:

![image](https://user-images.githubusercontent.com/3112462/83475749-9a3b3100-a454-11ea-83f3-20f97b8e2

[2020-06-02 05:27] dula85 commented on #1191
@MandytMSFT  https://gist.github.com/MandytMSFT/cf2003237fc288c7dc065cb039aea4be is working for the word files which got one slice. If you use little bit large file, some how it is stopping inside the getSliceAsync. Bellow is the logs I got when I run this for a file which got more than one slice.

Reading compressed type file.

inside the promise getFile for file type: compressed

inside the getF

[2020-06-02 07:43] MandytMSFT commented on #1191
@dula85 Did you happen to take a look at our sample code [here](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview#getfileasync-filetype--options--callback- ) about how to use GetFileAsync and getSliceAsync

BTW, I tried documents with more the 2 slices, both compressed and Pdf will fail. So it should not be issue when getting 2 files but about the code you

[2020-06-02 08:09] 4tti commented on #902
So we had this issue with 3 environments.
First environment was reinstalled using same windows version -> works now.
Second was updated to newest windows build and it works as well.
So I guess it is fine now.

[2020-06-02 08:12] dula85 commented on #1191
@MandytMSFT  Will you able to share the output when you are trying for a file which has more than one slice?

I have followed [example in here](https://docs.microsoft.com/en-us/javascript/api/office/office.file?view=word-js-preview#getsliceasync-sliceindex--callback-)

Also in this script lab https://gist.github.com/dula85/e2c5c7466a464e49c4c7e11abd85ac34, if you comment getting compressed file or

[2020-06-02 17:00] ghost commented on #1176
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-02 17:00] #1176 closed, assigned to lumine2008

[2020-06-02 20:00] ghost commented on #1179
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-02 20:00] #1179 closed, assigned to nobody

[2020-06-02 20:01] lucasbastianik commented on #558
@keyur32 I follow and adapted my add-in like [this link](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview) to use a Shared Runtime but now I'm getting error `#N/A`.

In my logs, I got this:
[code]

In Mac and Excel Online was ok but after this changes, brokes too.

[2020-06-02 20:17] bdentino commented on #1031
@keyur32 Thanks for the info. Does this mean that the team is considering expanding availability of Custom Functions to 2019 users with a perpetual license?

[2020-06-02 23:55] exextoc commented on #1061
We are unable to repro this issue. When you press F5 to refresh, make sure the focus is on the add-in.

Does this issue repro with a store add-in? Instructions for how to get an Outlook add-in form the store can be found [here](https://support.office.com/en-us/article/get-an-office-add-in-for-outlook-1ee261f9-49bf-4ba6-b3e2-2ba7bcab64c8).

[2020-06-03 00:01] exextoc commented on #1170
We are unable to repro this issue. Does this issue repro in other add-ins?

Another add-in to use for testing can be **ScriptLab for Outlook**, which is available in the store. Instructions for installing add-ins from the store can be found [here](https://support.office.com/en-us/article/get-an-office-add-in-for-outlook-1ee261f9-49bf-4ba6-b3e2-2ba7bcab64c8#:~:text=Install%20an%20add%2Din%20from,wa

[2020-06-03 01:23] SWei1234 commented on #1061
Yes, I can reproduce this on store add-in, include Webex, emoji or zoom .
If you can't reproduce this problem can we have a trouble shooting meeting on teams or zoom?

[2020-06-03 03:00] ghost commented on #1183
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-03 06:00] ghost commented on #3
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-03 08:20] rvskrishnaprasad commented on #1175
Hi, we are facing this issue in Word, Excel and PowerPoint.
Here are the steps to re-produce.
1.  Open any window in Task pane.
2.  Click on the close button [X] at top right corner of the window. not able to handle this event in our application.
<img width="260" alt="Window_Close1" src="https://user-images.githubusercontent.com/65659523/83613189-13e03580-a5a1-11ea-9348-3fefe914ef65.png">
<img wid

[2020-06-03 08:49] stzva opened #1196 "Unable to move focus to add-in elements when hitting Tab"
I'd like to report the following ***accessibility*** issue in the Outlook add-in. I am not able to move focus from the 'pin' and 'close' buttons to the focus-able elements inside the add-in by hitting Tab on the keyboard.

## Expected Behavior
1) I expect to be able to move the focus from the 'pin' and 'close' buttons to the focus-able elements inside the add-in by hitting Tab on the keyboard.
2)

[2020-06-03 09:02] exextoc commented on #1196
Can you please specify, this is happening only for Outlook web or Win32 client as well?

[2020-06-03 12:09] erharvey opened #1197 "Excel table creation pushes rows underneath by one cell"
When a cell is referenced inside the range where a table will be created, the command to create a table pushes the cells under it by 1 row.

var table = sheet.tables.add(headerRange, true);

The behavior cannot be reproduced if no formula references the area of the table.
You can see in the picture below that the blue area from row 12 to 16 was pushed. (The table was created many times thus it's b

[2020-06-03 12:21] stzva commented on #1196
The described issue is happening only for Outlook web.

[2020-06-03 14:49] exextoc commented on #1150
The build number for the Desktop fix: 16.0.12918.10000.
For Mac, we have fixed the bug and the fix should be available. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks, so we suggest you update to the latest build.

[2020-06-03 15:13] exextoc commented on #1134
We have added this to our backlog. Unfortunately, we have no timelines to share at this point.

[2020-06-03 19:27] lindalu-MSFT commented on #1175
Hi @rvskrishnaprasad Thanks for providing the repro steps. I assigned this to our Word/PPT/XL PMs to address.

[2020-06-03 22:20] hjkim-MSFT commented on #1173
Hi @amelehy,

Thanks for reporting the issue. Would you please elaborate a little more on Citrix Workspace? We Microsoft couldn't repro the problem you mentioned as of Build 12527.20612 - Insiders release.

Thank you.

[2020-06-03 22:34] exextoc commented on #1192
We have fixed the bug you reported, and the fix should be available now. You may need to restart Outlook to pick up the fix if you are still seeing the issue.

[2020-06-03 22:35] #1192 closed, assigned to exextoc

[2020-06-03 22:46] exextoc commented on #1193
How is your add-in deployed? If it is deployed using centralized deployment, there is an known issue where getCallbackTokenAsync is returning a token that is missing the shared scope permissions. This issue is being tracked [here](https://github.com/OfficeDev/office-js/issues/1140).

[2020-06-04 06:11] RyanHedges opened #1198 "Mac Word Add-in in angular manipulates href infinitely until resource issues are created"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

I expect that the url to not be manipulated beyond the initial addition of the `_host_Info` param by Word's embeded browser when loading into the task pane.

##

[2020-06-04 10:18] calbrecht commented on #1169
Yeah, only that this is inconsistent on different platforms. We are currently solving this exact issue for our Addin. While this does not error on Firefox and Chrome on linux and even Safari on MacOs plays well, it does error in Edge, other Browsers on Windows10 and Office Word on MacOs as well as Windows10.

[2020-06-04 10:46] arpit974 opened #1199 "[Excel] [worksheet.table.add][Invalid argument] Getting generic error code with locale specific error message"
## Expected Behavior
We should get a distinct error code to handle the scenario on our end.

## Current Behavior
Currently on calling worksheet.table.add sometimes we get Invalid argument error with the error message a a table can't overlap another table(locale specific), we were trying to handle this scenario on our end but since this is specific to every language, are unable to.

## Steps to Rep

[2020-06-04 11:05] MandytMSFT commented on #1197
@erharvey  thanks for the reporting. I can repro and BUG 4207829 was opened for internal track

[2020-06-04 13:06] bx-anil commented on #1193
yes the issue is on centralized deployment. Thanks.
Closing this as it is being tracked as a different issue.

[2020-06-04 19:21] bjornbacklund opened #1200 "addFileAttachmentFromBase64Async with isInline option doesn't work"
The Office.context.mailbox.item.addFileAttachmentFromBase64Async API call with the "isInline=true" option inserts an empty image (of correct size but no data). Works well is isInline=false.

Steps to reproduce.
1. Launch https://outlook.office.com/
2. Open new message window
3. Go to Get Add-ins
4. Go to My add-ins
5. Click "Add a custom add-in:"
6. Enter "https://www.backlund.org/Manifests/LoveGi

[2020-06-04 23:29] wandyezj commented on #1121
@MandytMSFT I have fixed the manifest url. (although it's straight forward to reproduce the issue with any Word Add-In.

[2020-06-04 23:37] mscharlock commented on #1201
Hi @saberone - I will reopen this issue and transfer it to the office-js repo. Thanks!

[2020-06-05 04:13] RyanHedges commented on #1198
Additional note: While loading office.js later in the app life cycle does stop the infinite loop, as soon as the office js is loaded and the app routes someplace else, the issue comes back. So it's not much of a fix in reality.

Specifically for my application I'm working around the problem by using the HashLocationStrategy and managing some global application state to help with routing through a

[2020-06-05 05:06] SWei1234 commented on #1185
@exextoc Just want to confirm is there any update?

[2020-06-05 07:59] exextoc commented on #1189
We have added this to our backlog. Unfortunately, we have no timelines to share at this point.

[2020-06-05 08:57] exextoc commented on #1195
Can you please share the manifest file? I am unable to repro this issue. Are you using  [Office.context.officeTheme](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context#officetheme-officetheme) to extract the theme of the outlook?

[2020-06-05 10:56] calbrecht commented on #1169
LOL
[code]

[2020-06-05 11:20] swatCap commented on #1134
We are also having a lot of customer complaints about this issue.
It's over 1000 affected users.

[2020-06-05 12:11] oyvindo commented on #1052
I have a similar problem with shared inboxes in owa. The the event callback runs, but Office.context.mailbox.item does not change after the first e-mail has been selected. The item is stuck with the content of the firstly selected email in the shared mailbox folder inbox. Randomly the content is updated(then stuck with the new content) while selecting different emails. Going back to my own inbox,

[2020-06-05 13:09] exextoc commented on #1194
Thanks for reporting this issue, we were able to repro this. It has been put on our backlog. Unfortunately, we have no timelines to share at this point.

[2020-06-05 13:12] Herz3h opened #1202 "Office addin icon not visible for gmail account"
## Expected Behavior
See the office-addin icon on Outlook for Windows when using a gmail account
## Current Behavior
The addin icon only appears for office account, never for gmail on Windows. On mac it appears for both.

## Steps to Reproduce, or Live Example
Install any addin.
Use a gmail account on Outlook Desktop for Windows 10.
No addin icon appears.

## Context
It should work the same way it

[2020-06-05 18:54] exextoc commented on #1095
We have forwarded that this issue still reproes to the appropriate team, and they are now investigating this issue.

[2020-06-05 22:04] GeorgeHung opened #1203 "webview"
## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office Onl

[2020-06-05 22:22] #1203 closed, assigned to nobody

[2020-06-06 00:04] exextoc commented on #1202
Add-ins are only supported on Exchange, Office 365, or Outlook.com account types. Gmail accounts are configured to connect with IMAP, which is why [add-ins will not load](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-in-requirements).

We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-

[2020-06-06 00:14] exextoc commented on #1061
For the location.reload() issue, have you tried adding a console.log() inside the Office.initialize function? This will help you see if the add-in did actually reload or not.
Would you be able to provide a recording or test account that reproes the issue with location.reload()?

[2020-06-06 04:19] sirtwist commented on #1195
I'm not using Office.context.officeTheme since it's only in preview at this time and only supports Outlook for Windows (O365) anyway.

I've attached the manifest as requested, but not sure why the manifest would have anything to do with it. From what I can see every single task pane add-in opens with a white header in Outlook Web just like my example above.

[manifest-dev.zip](https://github.com/O

[2020-06-06 04:22] sirtwist commented on #1195
Just for clarity, my add-in has its own settings where I give the user the ability to set dark mode for the add-in since there's no way to get the current theme in a consistent manner for all outlook clients with a production API. So, if the user chooses to use "light" mode the add-in task pane looks fine and if you have Outlook in light mode as well, everything will match. If, however, you set Ou

[2020-06-06 08:00] ghost commented on #3
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-06-06 08:00] #3 closed

[2020-06-06 08:03] ahmedkhalid1710 commented on #3
we're in a long run relationship with office.js.
we're using it on multiple hosts word,office,powerpoint,excel.
we're facing this issue on outlook for MAC. it's very important for us to be solved.
Thanks.

[2020-06-06 20:42] #1150 closed, assigned to exextoc

[2020-06-06 23:41] exextoc commented on #1200
We can reproduce the issue. Thanks for reporting this issue regarding addFileAttachmentFromBase64Async issues. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-06-06 23:49] exextoc commented on #1196
We can reproduce the issue. Thanks for reporting this issue regarding move focus when hitting the tab. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-06-07 10:08] shubhashishtiwari commented on #3
Cant understand why Microsoft guys are asking all the questions but not relpying at all. @Microsoft : Every one is asking question but no one is replying. I have given all the details and the issue looks straightforward to understand but no one is taking it up.  Please help to resolve this issue

[2020-06-07 18:08] AnvarNazar opened #1204 "Office.context.ui.messageParent not working on outlook web"
## Expected Behavior
When the Office.context.ui.messageParent(message); called the message should reach on the callback in the hosted page.

## Current Behavior
Nothing happens. No warnings or error messages. The callback function on the hosted page is not invoked at all

## Additional details:
**The function creating the dialog on the hosted page**
[code]
**The dialog window source**

[code]
## C

[2020-06-07 21:00] ghost commented on #1183
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-08 01:19] SWei1234 commented on #1194
Cool, any update please reply here ,Thanks

[2020-06-08 01:20] SWei1234 commented on #1061
Sure, I will paste it here later. Thanks for your support

[2020-06-08 04:00] SWei1234 commented on #1185
@exextoc This problem only happened on Chrome online Outlook.
For windows: 83.0.4103.61 (64 bit)
For Mac: Version 83.0.4103.61 (64 bit)
Can you help us confirm why chrome will have this issue on outlook online?

[2020-06-08 04:36] exextoc commented on #1185
So this problem you are facing with Desktop versions as well? I tried in edge multiple times, I was not able to repro. I will try with chrome and keep you updated.

UPD: I tried with chrome(Version 83.0.4103.97) as well and was not able to repro this issue. Can you please share some test account?

[2020-06-08 05:07] exextoc commented on #1195
Thanks for reporting this issue regarding add-in title bar not handling dark mode. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-06-08 08:11] RuoyingLiang commented on #414
@FelipeCostaGualberto  @JoshSales , the production team is working on pushing the API move forward. If you would like to provide more information and feedbacks for this API, could you help to take a quick survey [https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTMqQuVUM0I4T05BWDkyS0ZBQjNLSzJNRkNQMzNQUy4u](url) Thanks!

[2020-06-08 08:43] oyvindo commented on #1134
As I described here: [https://github.com/OfficeDev/office-js/issues/1052#issuecomment-639443706]
we have the same problem, but only for shared mailboxes: ItemChange fires, but does not change content of context.mailbox.item. The content is 'stuck' on the first selected.
It the e-mail is opened in a new window, the content of mailbox.item is updated for this particular item/e-mail and everything wo

[2020-06-08 10:20] oyvindo commented on #1134
The above just spread to inbox as well. Basically the addin app is usless, in best case complicated to use, for us in owa until this issue is resolved.

[2020-06-08 10:42] wilcotroost commented on #1134
@oyvindo Was already happening in standard inboxes but strangely not for all users. I agree with your conclusion regarding the use of the AddIn interface. Let's keep our fingers crossed that microsoft finds so time to fix this soon...

[2020-06-08 11:52] lumine2008 commented on #1199
Thanks @arpit974,
It looks like that you are asking to change from InvalidArgument to a new error type. i have logged an item `#4214632` to track this issue.
Meanwhile, in order to support your scenario, here are 2 workarounds:
1) Travel `Worksheet.tableCollection` and figure out whether current selection is with in the `table.getRange()` or not
2) Check the current selection and see whether it is

[2020-06-08 14:15] bx-anil commented on #1140
This affecting our users. Any ETA on this.

[2020-06-08 14:34] DmitryKostochko opened #1205 "Outlook Online, addFileAttachmentAsync, exception in AttachmentIconViewBase"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields and add attachments. The addFileAttachmentAsync method throws the “Cannot read property 'Id' of null” exception.

## Expected Behavior
The addFileAttachmentAsync method should work correctly.

## Current Behavior

## Steps to Reproduce, or Live Example
Create a new email in Outlook Online and execute the follow

[2020-06-08 15:25] JoshSales commented on #414
The provided URL to the survey doesn’t work.

josh

From: Ruoying Liang <notifications@github.com>
Sent: Monday, June 08, 2020 1:12 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: JoshSales <jsale@tril.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] sheets.addFromBase64 doesn't work in excel online (#414)

@FelipeCostaGualberto <https://github.com/Felipe

[2020-06-08 15:29] FelipeCostaGualberto commented on #414
@JoshSales It works, just don't click on it. Instead, copy the URL text and paste in the address bar.

[2020-06-08 15:48] JoshSales commented on #414
Thank you!

From: Felipe Costa Gualberto <notifications@github.com>
Sent: Monday, June 08, 2020 8:30 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: JoshSales <jsale@tril.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] sheets.addFromBase64 doesn't work in excel online (#414)

@JoshSales <https://github.com/JoshSales>  It works, just don't click on it. In

[2020-06-08 15:52] josip-rc opened #1206 "insertHtml inserts additional whitespace before content"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

When using `insertHtml(newContent, 'Replace')` new content should replace old content in the same way on all Word platforms (Windows, Mac, Online).

## Current B

[2020-06-08 21:14] bdentino opened #1207 "OfficeRuntime and other SDK components are undefined in Chrome incognito"
When testing an add-in within incognito mode in Chrome, I have noticed that some SDK components are not available globally or on the window. Accessing `OfficeRuntime` throws an "OfficeRuntime is not defined" error. `Excel` is undefined, as is `Office.addin`.

## Expected Behavior
OfficeRuntime, Excel, and Office.addin components should be defined by the time Office.onReady(...) callback is called.

[2020-06-08 22:09] bdentino commented on #1207
This appears to be related to a new setting in Chrome that blocks 3rd-party cookies in Incognito - so you will need Chrome v83+ to reproduce.

https://venturebeat.com/2020/05/19/google-chrome-83/#:~:text=Third%2Dparty%20cookies%20blocked%20in%20Incognito,-In%20Incognito%20mode&text=Starting%20with%20Chrome%2083%2C%20the,icon%20in%20the%20address%20bar

[2020-06-09 02:43] SWei1234 commented on #1185
Now I know how to reproduce this problem :
 If I add this shared calendar under 'My calendars' ,  customer properties can be get correctly.
But if add shared calendar to 'People's calendars' ,  customer properties is just empty.
This problem only happening on browser, Outlook client desktop is working fine.
 (I tried chrome version 83.0.4103.97 but still the same phenomenon).
I just tried call loa

[2020-06-09 05:39] exextoc commented on #3
@shubhashishtiwari Sorry for the delay in response.

Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue in the short term. We are blocked by a [WebKit bug]( https://bugs.webkit.org/show_bug.cgi?id=174076).
When we hear back on the WebKit bug, we will re-activate as needed.

[2020-06-09 07:35] Simplici opened #1208 "Range.insertHtml() doesn't work as expected on Word online"
Range.insertHtml() doesn't work as expected on Word online

## Expected Behavior

the styles in html should be retained in docx
## Current Behavior

we have a Word addin which use Range.insertHtml() to insert a table with styles into document.

it works well with Mac Word:
![image](https://user-images.githubusercontent.com/8101111/84224901-527d6f00-ab10-11ea-9064-49123dcdc37c.png)

But not so good

[2020-06-09 12:12] 1001QAdotNET opened #1209 "Help needed with reading the text of indented OneNote paragraphs using Office.js"
Hi

I am trying to read the text of a OneNote page that contains indented paragraphs and I can't figure out how to do it
Please if you have an example I would like to see it
Here is my StackOverflow question and my attempts to solve the problem
https://stackoverflow.com/questions/62272535/how-do-i-read-onenote-indented-paragraphs-using-onenote-javascript-apis

Any help would be much appreciated
Th

[2020-06-09 13:33] MandytMSFT commented on #1206
@josip-rc thanks for the reporting, i can repro this issue. BUG 4217372 is opened for internal track.

[2020-06-09 13:48] liamtim commented on #1116
@exextoc Do you have any updates regarding this? Our customers have not been able to use our Add-in on their Mac version of Outlook for 6 weeks now.

[2020-06-09 14:00] MandytMSFT commented on #1208
@Simplici  thanks for reporting. Could you share your code or html style to help reproduce the issue ?

[2020-06-09 14:05] AndreRSA opened #1210 "ScriptLab Excel add-in causes Excel and WWAHost.exe application errors"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I installed the ScriptLab add-in and the tab appears in the Excel ribbon but when I select any of the functions Excel closes and several error log entries are created. The first is an

[2020-06-09 14:07] ghost commented on #1168
@exextoc  I have the same issue `Office.context.mailbox.item is undefined`.

The demo: https://d.pr/v/AD4WUG

I've newly created accout with three drafts inside it. When I switch between drafts and open a plugin  on every draft I see the above error after some time

In order to reproduce you can use this test account:
demo00x@outlook.com
1234567890QWErty

[2020-06-09 15:20] jak-hammond opened #1211 "Recipient setAsync not triggering recipient change event on Mac Outlook"
We have some code setup that will periodically allow the user to update the recipient list of a message. When this code runs, we also have a secondary function that is listening for the recipient change event that will then do some further processing.

When we use add or remove on the recipient, this code is executed, but using the set method, nothing happens.

## Expected Behavior
Registered func

[2020-06-09 19:08] JensMadsen commented on #390
We face very similar problems

[2020-06-09 19:12] JensMadsen commented on #390
@RXminuS did you find a performant and reliable solution?

[2020-06-09 19:45] pvasek opened #1212 "OneNote - image.description setter doesn't work"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

If you set `image.description` this description is not saved.

## Expected Behavior
The description is saved on the server. After reloading it can be read. That means:
- it's displaye

[2020-06-09 21:00] ghost commented on #1170
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-06-09 21:24] psignoret commented on #1155
When a tenant administrator grants tenant-wide admin consent, they are authorizing the app on behalf of all current _and future_ users in the organization (in the case of delegated permissions). When the app is requesting app-only permissions, the tenant admin is authorizing direct access to the data (i.e. the app is accessing the data on its own behalf, not on behalf of a user).

In both cases, o

[2020-06-10 03:57] Simplici commented on #1208
@MandytMSFT i have updated the issue with code.