[2019-10-29 06:00] ghost commented on #761
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-10-29 06:02] XiangGaoMSFT commented on #761
Remove tags so customer could have more time to get logs.

[2019-10-29 06:48] AnjanaValsan commented on #786
Hello @esegcy ,
thank you for reporting this issue and also for your patience.
This issue was fixed end of last week, Can you check and confirm?

[2019-10-29 06:49] AnjanaValsan commented on #787
Hello @esegcy ,
thank you for reporting this issue and also for your patience. This issue is related to issue #786
It was fixed end of last week, Can you check and confirm?

[2019-10-29 06:52] catchingyu commented on #771
Currently, this is a known gap for our Excel JS API working on multiple worksheets in the same process. The best workaround currently is to force to open another instance/process of Excel to solve this problem.

[2019-10-29 06:52] #771 closed, assigned to catchingyu, lumine2008

[2019-10-29 09:20] ravikmrsingh8 commented on #761
Hi @XiangGaoMSFT

Excel Online Session(Edge Dev browser)
e29586d3-adb5-44d6-818a-ff8d47e16910

Below error log we got in the Addin session,
[2019-10-29T09:02:04.972Z] Metadata save failed Error Code: 5004Error Message: Invalid API call in the current context.Error Name: Invalid API Call
Time mentioned in above log is UTC time.

[2019-10-29 09:28] esegcy commented on #787
Hi @AnjanaValsan ,
Are you sure they are really related, even though the problems themselves are different, and that one of the issues is in Mac Outlook and the other is in Windows Outlook?

If so, anything I should do in order to see this fixed? Update Outlook or something? If so, to which version/build-number?

Thanks.

[2019-10-29 09:29] esegcy commented on #786
Hi @AnjanaValsan ,
Anything I should do in order to see this fixed? Update Outlook or something? If so, to which version/build-number?

Thanks.

[2019-10-29 09:40] macOutlookExtensibility commented on #786
Hi, this was caused by a server side caching issue. So nothing much needed on the client side. Maybe you could just restart outlook. Can you check and confirm?

[2019-10-29 09:41] macOutlookExtensibility commented on #787
Hi, @esegcy , you could restart Outlook and try once. If you are still facing challenges, kindly update here.

[2019-10-29 09:43] ravikmrsingh8 commented on #761
Excel Session ID
376a5f3b-ba5f-4323-91a8-22f74c5e0237
Build 16.0.12228.35900
Browser : Chrome 77.0.3865.120 (Official Build) (64-bit)
Addin log[2019-10-29T09:32:51.965Z] Metadata save failed Error Code: 5004Error Message: Invalid API call in the current context.Error Name: Invalid API Call

[2019-10-29 10:51] ChayaChechik commented on #349
Having the same issue with outlook on the web. This is a major issue - any updates re fixing this?

[2019-10-29 10:57] esegcy commented on #786
Testing. Will update here.

[2019-10-29 10:57] esegcy commented on #787
Testing. Will update here.

[2019-10-29 13:25] esegcy commented on #787
@macOutlookExtensibility , @AnjanaValsan , Unfortunately on Mac the add-in still comes up and then disappears almost straight away (without re-appearing).
So not fixed 😞 Do you want me to email you a recording (I can't post it here, see previous comments)?

[2019-10-29 13:26] esegcy commented on #786
Looks ok on newer versions of Windows Outlook. Thanks.

[2019-10-29 13:26] #786 closed, assigned to exextoc

[2019-10-29 15:33] Rick-Kirkham commented on #137
@ElizabethSamuel-MSFT No. This doesn't reproduce anymore.

[2019-10-29 15:46] morgan-tr opened #809 "Error resetting font highlight color via WordApi 1.1"
## Expected Behavior
Using WordApi 1.1, I expect the font highlight color to be reset when a `null` value is used as per the [documentation](https://docs.microsoft.com/en-us/javascript/api/word/word.font?view=word-js-preview#highlightcolor).

## Current Behavior
Instead of the font highlight color being reset, an InvalidArgument error is thrown (errorLocation: Font.highlightColor).

## Live Exampl

[2019-10-29 17:06] kbrandl commented on #129
Added to documentation backlog (3745381); closing this issue now, as it has a workaround and is nearly 1.5 years old.

[2019-10-29 17:06] #129 closed, assigned to nobody

[2019-10-29 18:38] JefCurtis commented on #347
@exextoc We are also experiencing this same problem. Has there been any progress on a fix for this? Is there anything I can do to help prioritize this issue?

@anilreddyr7 Did you manage to find a workaround for this? We are on a tight timeline and this bug threw a wrench in the works over here.

[2019-10-29 20:04] caolgood commented on #769
My 2 cents:
For our use case we want to get Office.context.document.url since that contains some necessary context used to build the path to one of our service endpoints.
Not having that in the custom functions runtime makes it very difficult to use the OfficeRuntime.storage to hold authentication info since we need it to be scoped by document, not just domain. We want to support multiple excel do

[2019-10-29 23:47] exextoc commented on #807
That is the expected behavior. If you want to retrieve the `sender` or `recipients`, we have separate APIs for that. The `Contact Entity` type represents any contacts that were found in the body of the message. See documentation for [Office.contact interface](https://docs.microsoft.com/en-us/javascript/api/outlook/office.contact?view=outlook-js-preview).

[2019-10-30 00:04] jesyxue commented on #797
@exextoc This is an issue that reported from our customer. They have already do the above steps but it still cannot work now. Any other suggestion? It was just happened on outlook 2016 1908 client, and it works on browser IE, edge and chrome. Thanks.

[2019-10-30 00:16] hectorAmaral commented on #807
Hi @exextoc , thanks for the response.
Well, the Office.contact interface documentation reads as follows:

it doesn't mention anything about contacts in the body of the message.

What do you mean by _any contacts that were found in the body of the message_ exactly?
Do you mean contact files (vcf) attached to the document?

What we're trying to achieve is to get the email recipients' contact inform

[2019-10-30 00:22] jesyxue opened #810 "Outlook web add-in disappeared from Admin deployment list"
@exextoc
At beginning of Oct,22 my Add-in disappeared from Admin deployment list. Then when I re-add, I got an error stating "This add-in has previously been uploaded. Please edit the existing add-in.(23f8b179-25cc-4236-b9f2-07e23bbdaf58)". I know that it means the add-in has been deployed. But I cannot find it in new Admin center deploy list and Exchange admin-> Organizer -> Add-ins list. Any sug

[2019-10-30 01:02] exextoc commented on #807
The documentation is confusing. We will get it fixed. In the documentation for Office.contact, there's a comment in the code sample that reads `// Get an array of strings that represent contacts in the current item's body.` That is what the API is meant for.

We don't have any API to provide you with what you are trying to obtain. However, we have an API to obtain the list of [recipients](https://

[2019-10-30 01:51] weshi commented on #809
I tried with your sample on both Word on the Web and Windows, they both can work correctly to clear the highlight color. Could you try it with latest version of Word on desktop and see whether you can reproduce it? This will help us narrow down the scope of the issue and see if it is related to a specific version, or it's related to other cause. Thanks.

[2019-10-30 02:55] lumine2008 commented on #344
i am closing this issue, please reactive if you have additional question about it

[2019-10-30 02:55] #344 closed, assigned to lumine2008

[2019-10-30 05:31] macOutlookExtensibility commented on #787
Hello @esegcy , can you clear your add-ins cache on Outlook mac and try once? the procedure to clear cache is
1) go the this location on your machine-> delete /Users/<user>/Library/Group/Containers/<U????????>.OfficeOsfWebHost
2) delete the items under this folder
3) Restart Outlook Mac.

[2019-10-30 06:07] catchingyu commented on #804
team is investigating on it with 3747318 as tracking ID.

[2019-10-30 06:12] catchingyu commented on #792
team is investigating and reproducing it now. with the bug ID 3747321

[2019-10-30 06:12] catchingyu commented on #791
team will try to reproduce it. It would be relatively hard if we can not consistently reproduce it.

[2019-10-30 06:13] catchingyu commented on #791
track it with 3747321.

[2019-10-30 06:57] harri-rajala-koivu-solutions commented on #740
@lumine2008
**Actually you have already made one breaking change related to this method!!!!**

Originally our Excel Add-in used NamedItemCollection.**add** method to add "=MyTable[[#Headers],[MyColumn]]". And it worked fine. It returned "=MyTable[[#Headers],[MyColumn]]".

But then in 05/2019 we noticed that our add-in does not work anymore with Excel version 1904. And the reason was this NamedItem

[2019-10-30 07:15] TheSamsterZA opened #811 "Dialog API sometimes opens two dialogs on Android"
## Expected Behavior

I expect one dialog to open on Android.

## Current Behavior

If I open a dialog then close it (by tapping the close button) enough times, I see a second, blank dialog that looks to be stuck at a loading stage.

This does not seem to affect messages from the dialog I intended to open; that is, I open a dialog to my auth provider which redirects back with an auth token, and af

[2019-10-30 08:00] deeagar commented on #779
@kbrandl @danielgwilson - I am surprised to see this has been closed as "by design". You are exposing an async API which isn't awaitable and there is no reference of this in the documentation indicating this.

"....despite the name, getSliceAsync() doesn't actually return a promise like one might assume." - Isn't this a obvious assumption or am I missing anything? :)

[2019-10-30 08:44] morgan-tr commented on #809
@weshi The problem will not be reproducible in the latest version of Word on desktop nor in the online version. As specified in the environment section, the problem happens specifically in the volume license version of Word 2016 on Windows (Build 16.0.4849.1000). Please try to reproduce it in that version.

Our clients use this version, which is only compatible with WordApi 1.1, and so we must sup

[2019-10-30 09:13] acblacktea commented on #780
@jasonhieu1905 Hi we are in investigation for this issue. We can repro this issue now. Could you share some your code example to us? manifest is not very useful to help us find the real problem :)

[2019-10-30 09:27] jasonhieu1905 commented on #780
@acblacktea : Basically, I've followed these step to create the project
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/powerpoint-quickstart?tabs=yeomangenerator

My example code : https://github.com/jasonhieu1905/PowerpointUploader .
Feel free to drop here any question :)

[2019-10-30 09:33] Tolik7 commented on #796
Yes, I confirms this issue too!
Do you have any progress, guys?

[2019-10-30 09:45] iuri1994 opened #812 "Outlook add in doesn't work on edge and firefox (node js - yeoman generator)"
Hi
I am doing an outlook add-in with the yeoman generator, when I use it on chrome or IE the add-in works
![image](https://user-images.githubusercontent.com/51403191/67846207-b52d7780-faf8-11e9-8bff-42e459ad364d.png)

but when I use it on edge or firefox doesn't work.
first, the icon doesn't appear, this is what shows
![image](https://user-images.githubusercontent.com/51403191/67846389-12292d80-fa

[2019-10-30 10:27] ravikmrsingh8 commented on #760
Hi @J-January
We tried to repro this issue and found that it fails consistently when we move the cursor to formula bar and if during this time API runs it fails. Could you try once?

[2019-10-30 10:41] m-pd commented on #349
I resolved this issue by redirecting the task pane to be in the same domain as the dialog.

[2019-10-30 10:54] ChayaChechik commented on #349
The issue I'm having persists, even thought I have the taskpane and dialog page on the same domain. The only way it works is with an iframe. However, for most cases I would need a proper page not an iFrame.
https://stackoverflow.com/questions/58606436/outlook-add-in-dialog-api-eventhandler-not-firing/58607606#58607606

[2019-10-30 11:55] esegcy commented on #787
Done. Doesn't help 😭 issue still reproducing.

[2019-10-30 13:36] macOutlookExtensibility commented on #787
Hi @esegcy  sure, no worries. We will investigate further,

Could you provide us with the following :
1) Manifest of the add-in
2) Domain/Alias of the end user (IT admin)
this is important for us while we check the logs
3)screen recording of the issue and clearing of cache

Drop an email to this id meganb@M365x887143.onmicrosoft.com

[2019-10-30 14:21] XiangGaoMSFT commented on #761
@ravikmrsingh8 , the two Invalid API call errors could be caused by cell edit mode. We forbid API call explicitly when user enters cell edit mode (i.e. user inputs in formula bar or in a cell).

 I've logged an internal task 3748104 to provide more explicit error message for it.

For Excel APIs, you can [use the `delayForCellEdit` option to delay API call until user exits from cell edit mode](http

[2019-10-30 14:24] 4tti commented on #764
Any update?

[2019-10-30 14:43] XiangGaoMSFT commented on #761
Please let me know when you get XLO session IDs which are related to Error 5001.

[2019-10-30 14:55] thoffmann-fms opened #817 "class stripped from <div /> when doing a setAsync"
If doing a setAsync with HTML, the "class" attribute of any &lt;div /&gt; seems to be stripped when the body is viewed on the saved event.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0498adf2-3f86-3520-82c2-df88e6ea4b95
* Version Independent ID: 347c34b6-0586-9ce5-2c84-ae010c27b276
* Content: [Office.Body interface

[2019-10-30 15:00] ghost commented on #789
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-10-30 15:00] #789 closed, assigned to catchingyu

[2019-10-30 15:01] hectorAmaral commented on #807
@exextoc Could you please give me an example of a _contact in the current item's body_. That is still confusing for me.
Does it mean embedded contact files (vcf)?
How can I include a contact in the body of the email?

Thank you.

[2019-10-30 16:47] kbrandl commented on #779
@deeagar you make a valid point -- this non-intuitive behavior should be documented. I'm going to re-open this issue and transfer it back to **OfficeDev/office-js-docs-pr** (where documentation issues are tracked).

[2019-10-30 17:48] AlexJerabek commented on #817
Thanks for reporting this @timothyhoffmann. @ElizabethSamuel-MSFT, can you please investigate?

[2019-10-30 17:59] thoffmann-fms commented on #817
It appears "id" is preserved but the name is morphed into "x_<original value>"

    On Wednesday, October 30, 2019, 1:48:47 PM EDT, Alex Jerabek <notifications@github.com> wrote:

Thanks for reporting this @timothyhoffmann. @ElizabethSamuel-MSFT, can you please investigate?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-30 23:57] exextoc commented on #807
This doesn't refer to embedded contact files. A simple example will be an e-mail containing a signature of the sender, or basically the information you usually see on a physical contact card. An example of such an e-mail is below. **This functionality is non-existent at the moment**. However, to answer your question, here's an example of an e-mail containing a Contact entity. The signature portion

[2019-10-31 00:24] lukchen opened #813 "Excel Add-in: Loading Add-in very slow after installing self assigned certificate in IE"
I'm using https:localhost with self assigned SSL working with my Excel Add-ins, there was annoying security warning in IE when opening TaskPane or dialog so I installed the ssl certificate into IE to let it trust my local server
I tested the taskpane web page in independent IE, it loads well. But when open the TaskPane in Excel, It just keep displaying 'loading' spinner until 3-4 minutes after

##

[2019-10-31 00:40] exextoc commented on #797
@jesyxue Can your customer try an add-in in another client such as Microsoft Word or Excel? Here are instructions for [installing and running an add-in in Excel](https://support.office.com/en-us/article/get-an-office-add-in-for-excel-d3df5854-0a4e-4169-9cc3-25177a288d3d#ID0EAABAAA=Newer_versions). This will help us determine whether this is specific to Outlook or common across all Office clients.

[2019-10-31 01:21] exextoc commented on #49
@markb-trustifi What version of Outlook 2013 are you using?

[2019-10-31 04:37] shyambhiogade commented on #798
i ran the addin validator tool, and it found the root cause, actually resid length was more than 30, after making it smaller, it started working.

[2019-10-31 04:37] #798 closed, assigned to lliu113

[2019-10-31 05:27] exextoc commented on #776
You can use https://www.telerik.com/fiddler to capture network trace and see what is happening when downloading file from exchange server. Can you try accessing the fileURL in incognito mode on public machine and see if fileURL requires any special access permissions?

[2019-10-31 05:35] THPubs commented on #776
@exextoc Sure will try it out and let you know.

[2019-10-31 06:23] jesyxue commented on #797
@exextoc Click Microsoft outlook sample add-in "My Template", the same error was popped up. Thanks.

[2019-10-31 06:27] exextoc commented on #812
1. Is this issue started recently? Was this working correctly some days/week ago?
2. Can you check if you are getting any console errors in case of edge and firefox? If yes, can you share the error.
3. Is it possible to share the stripped down version of the add-in or some sample add-in to repro the issue on our side.

[2019-10-31 08:55] exextoc commented on #796
1. Can you check if you are getting any console errors when calling closeContainer? If yes, can you share the error.
2. We tried to repro the issue on platform and outlook version mentioned. We are unable to repro it at out end. Is it possible to share the stripped down version of the add-in or some sample add-in to repro the issue.

[2019-10-31 09:27] Tolik7 commented on #796
I noticed, it seems Office.context.ui.closeContainer() works fine via corporate email (https://outlook.office.com/mail/). In this case I see my window to the right of the body of email letter!
BUT
it seems this issue relates to own OutLook Web Server (customer uses own ip in local network, for ex https://10.10.10.99/owa/#path=/mail).
In such case I see a window below the body of the letter and got

[2019-10-31 09:34] Tolik7 commented on #796
I used the latest Chrome browser in both cases.

[2019-10-31 10:01] iuri1994 commented on #812
Hi

1. I always had this problem.
2. No console errors
3. I have created several new projects and the response is always the same, I even used the Edge browser to get the manifest and the response is always the same.

The edge version I am using is: Microsoft Edge 44.17763.771.0

I tried the chromium version of edge (beta) and it works there, I don't know if that will help.

Best regards

[2019-10-31 10:08] exextoc commented on #244
Thanks for reporting this issue regarding location API in calendar event. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-10-31 10:12] #685 closed, assigned to exextoc

[2019-10-31 12:52] lukchen commented on #813
![image](https://user-images.githubusercontent.com/26646767/67948267-c4c1c480-fbbb-11e9-93ec-2d4732291b79.png)

[2019-10-31 13:57] lukchen commented on #813
I'm testing a very simple page: only a <p>hello</p> without any scripts, so it cant be polyfill or js performance issue

[2019-10-31 15:23] biswanathc commented on #805
Any update on this please?

[2019-10-31 18:21] exextoc commented on #797
@jesyxue Did you try this add-in in Word or Excel? I'm asking you to specifically try an add-in Word/Excel to see if this issue also occurrs for those clients.

[2019-10-31 22:30] ElizabethSamuel-MSFT commented on #237
@mrfloppy82 @sharaaU7 @jd-piq Can you let us know if this still repros for you in your respective host application?

Thanks.

[2019-10-31 22:34] ElizabethSamuel-MSFT commented on #810
@jesyxue Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2019-10-31 22:36] ElizabethSamuel-MSFT commented on #811
@TheSamsterZA Thanks for reporting this issue.

@exextoc Can you investigate?

Thanks.

[2019-10-31 22:41] ElizabethSamuel-MSFT commented on #813
@lukchen Thanks for raising this issue. We'll start investigating as soon as possible.

Thanks.

[2019-11-01 02:13] XiangGaoMSFT commented on #576
The fix has been deployed to production.
I'm closing this issue. Please feel free to reopen it if the issue is still there.

[2019-11-01 02:13] #576 closed, assigned to RuoyingLiang

[2019-11-01 03:03] weshi commented on #803
The root cause of the error is because this file has tracked changes turned on, which is a new feature that has not been enabled in Word Online yet. The content control is not supported when tracked change is on. This is a known issue for now as the tracked change is still in development stage in Word Online. Could you open this document in Word for Desktop and accept/reject all the changes, then

[2019-11-01 04:00] ghost commented on #674
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-01 06:42] kakusharma opened #814 "What element does Outlook adds for contextual add-ins to work in Outlook 2019 windows?"
Outlook adds certain elements when a contextual add-in is trigerred. Like in case of web client (OWA), it adds a span around the regex matched expression and in case of Outlook for Mac, it adds an anchor tag around it. I was wondering what element does the Outlook adds for Outlook 2019 for windows? Thanks in advance.

[2019-11-01 06:54] salmanansari-gep commented on #803
Have tried adding content control to the documents having track changes turned off, its working as expected.
The problem is with the document having track changes turned on.
Thanks @weshi for the support and help.

[2019-11-01 08:12] RoelVB commented on #674
@MandytMSFT any ideas on how I could programmatically trigger a render?

[2019-11-01 12:33] topkoong commented on #784
@sumurthy  Any update?

[2019-11-01 13:39] morgan-tr commented on #809
@weshi Is there any update on this? Were you able to reproduce the issue in a volume license version of Word?

[2019-11-01 15:32] 4tti opened #815 "Bindings.addFromPromptAsync should return correct cell address in Excel"
## Expected Behavior

When Bindings.addFromPromptAsync and user defines some address in the excel native dialog (either picking by mouse or typing) the binding created should provide address as part of the result (i.e. the binding object returned in the callback should have such property).
See https://docs.microsoft.com/en-us/javascript/api/office/office.bindings?view=word-js-preview#addfromprompt

[2019-11-01 16:56] lukchen opened #816 "Excel-Addin: Dialog navigation been canceled using self signed SSL localhost server"
When opening a TaskPane using a self signed SSL localhost server, there is security wanring in browser which is fine, user can just click continue to the site.
But when opening dialog, the navigation to hidden host page would just be canceld(there is no option to choose to proceed this site since it is hidden), so the dialog won't be opened further.

I'm not sure if it should be a bug because a ho

[2019-11-01 17:18] lukchen commented on #816
The way to open dialog is my case is using the ribbon button(addin command)

[2019-11-01 18:24] AlexJerabek commented on #817
@timothyhoffmann , that seems like more of a product issue than a documentation one. I'll transfer this to the product repo and connect you to the right people.

[2019-11-01 20:08] ElizabethSamuel-MSFT commented on #816
@lukchen Thank you for asking about this. Someone should investigate soon and respond with the outcome.

Thanks.

[2019-11-01 20:14] ElizabethSamuel-MSFT commented on #815
@4tti Thanks for asking about this and linking to the UserVoice item (I hope you upvoted!). Maybe there can be a workaround or mitigation - someone will take a look and respond to your issue.

Thanks.

[2019-11-01 20:26] ElizabethSamuel-MSFT commented on #814
@kakusharma Thanks for your query. However, as this seems like a question about using the Office.js API, please post your question to Stack Overflow and tag it with the "office-js" tag (http://stackoverflow.com/questions/tagged/office-js). Your question and responses you receive from the community will help others as well.

I'll go ahead and close this issue now but let us know if you have any fur

[2019-11-01 20:27] #814 closed, assigned to nobody

[2019-11-01 23:39] exextoc commented on #817
@AlexJerabek We are unable to reproduce this issue in-house on the rich native desktop client for Windows. Are you observing this issue in the desktop client or the web client?

[2019-11-02 01:50] thoffmann-fms commented on #817
Web.  Chrome. Can send a code snippet on Monday if you’d like.-Tim

On Friday, November 1, 2019, 7:39 PM, Outlook Add-ins Team - MSFT <notifications@github.com> wrote:

@AlexJerabek We are unable to reproduce this issue in-house on the rich native desktop client for Windows. Are you observing this issue in the desktop client or the web client?

—
You are receiving this because you authored the thr

[2019-11-04 00:58] lumine2008 commented on #808
Thanks @vitalcode for reporting this issue, is your add-in released in store? could you please share us the name of the add-in? if not, could you please share the manifest of the add-in? thanks

[2019-11-04 02:04] TheSamsterZA commented on #482
Adding my voice to the issue here - [the docs specifically say](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/appdomains):

"Lists any domains **in addition to the domain specified in the `SourceLocation` element** that your Office Add-in will use to load pages." (emphasis mine)

I have tried to add the add-in's base URL to the list of AppDomains as mentioned by @jak-hammo

[2019-11-04 02:23] weshi commented on #809
I found out that there was a related bug which has already been fixed about two years ago, and it should be included in build version later than 16.0.7526.1000. However since this is not a hot fix bug (which requires to meet specific criteria), if you use older version build, you will not get the fix. You will have to update to later version of Office if this is blocking your scenario.

[2019-11-04 02:29] weshi commented on #803
Thanks @salmanansari-gep. I'm closing this issue then.

[2019-11-04 02:29] #803 closed, assigned to nobody

[2019-11-04 02:30] #785 closed, assigned to weshi

[2019-11-04 03:35] macOutlookExtensibility commented on #349
@m-pd , are you unblocked on Mac?

[2019-11-04 06:45] kakusharma opened #818 "Add-In doesn't reload when I click on download images on Outlook for Mac"
When i open an email in Outlook for Mac the Add-In loads up fine. The entity gets highlighted. But when I click on download images to download the images in the email content, the whole content refreshes and the Add-In doesn't load up this time. I have to select some other mail and then come back to it again for the entity to get highlighted. This is happening on Outlook for Mac only. Works fine o

[2019-11-04 07:37] morgan-tr commented on #809
@weshi The volume license version of Office 2016 that our clients use is build 16.0.4849.1000, which is the **latest available version for the volume license**. Clients using the volume license of MS Word **cannot update** to 16.0.7526.1000 (if there is a way to do so, please let me know how).

Otherwise, are you suggesting we tell our clients to buy hundreds of Office 2019 volume licenses because

[2019-11-04 08:45] EnoXirtaMinu commented on #810
I have the same issue. An Outlook add in that had been previously deployed cannot be found in the list anymore. When trying to add again it says it is already there and to edit the existing, which is not possible...

EDIT: the add in is visible when accessing through the Exchange admin center 'add-in's. It seems that those have not been migrated to the new central add-ins admin center.  After remo

[2019-11-04 08:55] exextoc commented on #812
@iuri1994,
We need manifest xml of your add-in to reproduce the problem at our side and debug it.

Thanks

[2019-11-04 09:00] exextoc commented on #811
@TheSamsterZA , I tried reproducing the problem, if problem reproduces only after successful login, can you please provide test login info to repro this ?

[2019-11-04 09:03] vitalcode commented on #808
Thank you @lumine2008.
The Add-in is published in store. Here is a link: https://appsource.microsoft.com/en-us/product/office/WA104381859?src=office&corrid=6c2508da-dfaa-4628-a4fe-a53800c79cb9&omexanonuid=7ac04092-5aee-4941-95d0-638244f0e20a&referralurl=

[2019-11-04 09:17] SanketDG commented on #3
@weshi Since you are assigned, is there any update on this? We are facing the issue where javascript file download is not working for Outlook for Mac.

[2019-11-04 09:17] iuri1994 commented on #812
Hello

[manifest.zip](https://github.com/OfficeDev/office-js/files/3803241/manifest.zip)

the manifest is in a zip folder because I can't upload an XML file.

Best regards

[2019-11-04 10:44] exextoc commented on #799
Yes, OnSend feature only supports UI Less add-in. You can achieve your scenario by having two extension points in your add-in, one for task pane add-in and other for on send.
You can use task pane extension to do 1,2,3 items from your scenario and use onSend extension point for 4th item. Also the addin should be launched manually by user as it has task pane extension point. OnSend part will be lau

[2019-11-04 11:26] salmanansari-gep opened #819 "Insert file from Base64 not working as expected"
## Expected Behavior
Insert file from Base64 should insert file content into current document as it is.

## Current Behavior
We are trying to insert file content as base64 into current document, loader screen says its inserting the content but after 4-5 attempts only one time data got inserted.

Its working fine on MS Office offline version

## Steps to Reproduce, or Live Example/ Sample code
Word

[2019-11-04 16:35] glr0221 commented on #658
@kbrandl @wamaina any update on this issue? This is still not fixed as of today even if #676 is already resolved. It seems that the addins i registered using the new Exchange Admin Center portal does not reflect in my android phone's outlook. Thank you.

[2019-11-04 20:43] exextoc commented on #482
@jak-hammond @TheSamsterZA on which Outlook platform(s) did you observe the requirement to add the display dialog domain to `<AppDomains>`?

I see that the original issue in this thread was reported on Office Online (i.e. OWA), but I don't want to assume that this is the same issue. Thanks!

[2019-11-04 20:44] TheSamsterZA commented on #482
@exextoc I noticed this new requirement on Office Online.

[2019-11-04 20:46] TheSamsterZA commented on #811
@exextoc A login is not required. Simply open the dialog and then close it enough times and you should see what I have come to name the shadow dialog behind the original one.

[2019-11-04 22:50] jak-hammond commented on #482
@exextoc I saw this on Outlook for Mac

[2019-11-04 23:00] ghost commented on #237
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-05 03:00] ghost commented on #761
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-05 04:01] ntranvinh commented on #685
Hi @exextoc , could I know which version of Android Outlook app has this fix please? Thank you.

[2019-11-05 05:26] exextoc commented on #685
@ntranvinh our fix is ready. soon it will hit the production. Thanks for the patience.

[2019-11-05 05:57] exextoc commented on #658
@glr0221 can you please provide any test account with which issue is reproducible ?

[2019-11-05 08:24] wadabottle opened #822 "isSetSupported('Mailbox', '1.8') returns false in add-in running in OWA with Office365"
In a [supported environment listed here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets). Office.context.requirements.isSetSupported('Mailbox', '1.8') is returning false in OWA (Chrome) with Office365. When can we expect isSetSupported to return true for v1.8?

## Expected Behavior
Expect isSetSupported('Mailbox', '1.8') to return true f

[2019-11-05 08:26] exextoc commented on #818
@kakusharma  it seems that the link(with which add-in was running) is gone after video/images download thats why add-in is not running. For further investigation can you please forward the video to email: **meganb@androidaddins.onmicrosoft.com** ?

[2019-11-05 08:36] kakusharma commented on #818
I have forwarded the video link on the email address you mentioned. Let me know if you need anything further.

[2019-11-05 12:12] Harshagracy opened #823 ""code":"Request_ResourceNotFound","message":"Resource {guid} does not exist or one of its queried reference-property objects are not present.""
Issue: I am trying to **connect with graph API** from my **outlook add-in**. I am getting the access token.

 ![token](https://user-images.githubusercontent.com/14230498/67379416-823e2d80-f5a6-11e9-8d5d-b1e20bfe2fe6.png)
I have given my consent to use the graph API. But I am getting the below error:
![graph-error](https://user-images.githubusercontent.com/14230498/67379360-69357c80-f5a6-11e9-9e27-

[2019-11-05 14:32] glr0221 commented on #658
Hello @exextoc,

Thank you for your quick response. Unfortunately, I cannot share my admin account with you as of this time. To reproduce this bug, you need an outlook/office365 suite domain admin. The bug here is the "divergence" in the new Microsoft365 Admin Center and old Exchange Admin Center, and how these addins are shown/activated in the Outlook client for IOS and Android. Please see images

[2019-11-05 16:50] exextoc commented on #812
@iuri1994 i tried reproducing the problem, but your add-in is hosted at localhost, so it was not working in chrome as well as edge. So can you please host it some where and provide a manifest which can help to access add-in publicly ?

[2019-11-05 19:34] exextoc commented on #823
@Harshagracy, which API you are using to acquire the access token? There are two APIs that return access tokens, and those tokens are used differently.

If you wish to make a call from Javascript, and you are calling a Mail/Calendar Graph API, you may be able to use the Exchange REST URL in place of the Graph URL along with [getCallbackTokenAsync](https://docs.microsoft.com/en-us/office/dev/add-in

[2019-11-05 23:47] exextoc commented on #802
@adam-harwood If you have the code for the add-in that you are running, you should be able to add a `debugger;` statement before the add-in exits so that you can inspect the console, get what you need and then allow the add-in to continue running and exit. Can you try that to see if it works?

[2019-11-05 23:57] adam-harwood commented on #802
Not sure if you understand the issue: these are my end-customers using the add-in who are experiencing issues. I can't really ask them to allow a debugger to continue running, they're not technical.

I'd like to be able to provide them with something like a button they can click which captures diagnostic information (most crucially the logs) and then email it to me. So I just need some way to be a

[2019-11-06 01:37] exextoc commented on #797
One additional option to try is to enable Protected Mode for `Internet` as well. This shouldn't be required, though I've heard a report of it helping in one case.

[2019-11-06 01:46] exextoc commented on #49
Are running the add-in from the item in Sent Items, or from the received message in the Inbox (after sending a message to yourself)?

[2019-11-06 04:40] lumine2008 commented on #815
Thanks @4tti for your report, the bug (3761411) was created and team is in investigation on this issue.

[2019-11-06 04:45] weshi commented on #819
I executed your script multiple times and all have succeeded.

Just want to confirm with you. When you say that "after 4-5 attempts only one time data got inserted.", what error message did you get when it failed?

One thing I noticed is that the content control that you inserted with the OOXML has the cannotEdit property set to true. If you try to insert the content into the body of this content

[2019-11-06 05:48] Harshagracy commented on #823
Hi,

This is the method I am using:

[code]

[2019-11-06 06:21] Harshagracy commented on #823
In regards to getCallbackTokenAsync, I am always getting the error.
[code]
![image](https://user-images.githubusercontent.com/14230498/68273167-b4ae5700-008b-11ea-94ed-4497e3ea1ba9.png)

[2019-11-06 07:42] jackarcher73 commented on #666
same issue. Our add-ins work on 1910, 1908, Mac Excel, but not on 1902

[2019-11-06 07:50] exextoc commented on #658
@glr0221, we need any test account with which add-in is not coming on android not the admin account. If possible provide manifest of add-in.

[2019-11-06 08:10] exextoc commented on #818
i saw you forwarded the link of bug video.. which you have already added here.. we need video in which add-in was running.. can you provide that ?

Or Can you forward the mail which you used for testing the issue?

[2019-11-06 08:48] salmanansari-gep commented on #819
[AddInsInsertBase64Demo.zip](https://github.com/OfficeDev/office-js/files/3813378/AddInsInsertBase64Demo.zip)
I have attached the demo video for your reference.

I have removed the content control properties, still not working
No error is getting logged in console also.

[2019-11-06 08:53] exextoc commented on #811
@TheSamsterZA i tried multiple times but i could not reproduce the problem. do you know any specific condition with which issue is frequently reproducible ?

[2019-11-06 08:54] 4tti commented on #815
@lumine2008 Thanks a lot ;)

[2019-11-06 08:55] weshi commented on #809
@morgan-tr: Is there any possibility to call other APIs to work around this bug, and still achieve the goal of your scenario? Waiting for a new patch update might take a longer time even the bug meets the criteria for a monthly update.
BTW, are you using Office365? Or you are under on-prem environment? Office365 users can always get free update to latest version of desktop clients.

[2019-11-06 09:14] MandytMSFT commented on #758
Chat with rohitrewa offline, this issue has been resolved by alternative way.

[2019-11-06 09:14] #758 closed, assigned to MandytMSFT

[2019-11-06 09:43] SharonIron commented on #811
@exextoc I have a problem that occurs for Android users only as well, i am not sure it is the same problem though.
The issue i am experiencing is that our add-in suppose to make POST requests to my servers and it doesn't do them - instead it just hangs forever.
This issue doesn't occur with: iPhone, Outlook, OWA.

I am using webpack to pack the add-in and axios library (https://github.com/axios/ax

[2019-11-06 09:55] RuoyingLiang commented on #764
@4tti sorry for the late response. We've tried on many Mac machines but still cannot repro. Could you let us know this is repro in all of your machine or only one machine? Is that possible you can give us more detail of repro steps? (for example. after you side load the add-in, did you do other operations?) Could you give us your custom function so we can take a look? Thanks!

[2019-11-06 10:03] DmitryKostochko opened #826 "code: 5001, message: "An internal error has occurred.", name: "Internal Error""
## Expected Behavior
The following methods should work without the "Internal Error" error:

Office.context.mailbox.item.body.getTypeAsync
Office.context.mailbox.item.getSelectedDataAsync
Office.context.mailbox.item.setSelectedDataAsync
Office.context.mailbox.item.subject.getAsync
Office.context.mailbox.item.subject.setAsync
Office.context.mailbox.item.to.getAsync
Office.context.mailbox.item.to.set

[2019-11-06 10:31] morgan-tr commented on #809
@weshi Our add-in is limited to using WordApi 1.1 because we must support the volume license version of Office 2016 (build 16.0.4849.1000 - the latest available).

The ability to reset the highlight on paragraphs is crucial. Our clients typically work with "Track Changes" on. This means that when a paragraph is highlighted, it will be registered as a change to the document. Therefore, when the hig

[2019-11-06 11:21] biswanathc commented on #805
Any update please?

[2019-11-06 14:55] jdrzj commented on #506
Hi, I have the same issue this time on macOS: 10.15 and word: 16.29

[2019-11-06 18:36] codexeon commented on #506
Did you install Office from the App Store? You will need to install it from https://www.office.com to get access to debug capabilities.

[2019-11-06 19:37] exextoc commented on #823
I'm not sure my last reply helped, so let me check my understanding.

Which Graph API are you intending to call, once you have a token? This will help me recommend which token to use.

In the original screenshot, you had an access token, and in the latest screenshot, you got a 5001 error instead. What changed between the two? Thanks.

[2019-11-06 20:07] htryggva opened #827 "Word: insertHTML on Windows inserts space for trailing newline"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When inserting html like this:

[code]

then Word for Windows will insert it like this:

[code]

## Expected Behavior
Word should not replace the newline character with a space:

[cod

[2019-11-06 20:27] glr0221 commented on #658
@exextoc the problem does not happen on any one specific addin. I don't know how to explain this but here are the steps to generate the issue :

1. Open your MicrosoftO365 Admin Center
2. From there, install any number of addins for all domain users
   - In my case I added, MessageHeader Analyzer (set this up as fixed/everyone)
   - PhishAlert Button by KnowBe4
3. Allow installed addin to propagat

[2019-11-06 20:41] thoffmann-fms opened #828 "body.getAsync returns original HTML body not updated body"
The addin is running in the context of an existing event.  The event was created then I updated the body, closed the event and then re-opened and re-launched the add-in.

Code:
[code]
Console output:
[code]

What OWA shows on the screen:
![image](https://user-images.githubusercontent.com/28546239/68335041-c1da3e80-00a9-11ea-8c91-4910fd875a18.png)

What the Graph API returns:
[code]

[2019-11-06 20:44] caolgood commented on #769
It looks like v1.2 of the custom functions runtime will fix this: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial

I haven't gotten access to an insider build yet to test this, does it mean we will be able to use the full Office.context api in custom functions?

[2019-11-06 22:18] nesbtesh opened #829 "Excel: SQL Query from Javascript"
Is there a way to do a sql query from the javascript API?

Post feature requests at https://officespdev.uservoice.com/

[2019-11-07 01:11] weshi commented on #809
@morgan-tr I'll follow up with our internal team on this and will get back. Thanks.

[2019-11-07 01:15] weshi commented on #755
@shaofengzhu @kbrandl  This is for Word Rich API for desktop clients. Please reassign it.

[2019-11-07 01:17] weshi commented on #752
There is a size limit in Online. This is by design behavior.

[2019-11-07 01:17] #752 closed, assigned to weshi

[2019-11-07 03:32] weshi commented on #447
@htryggva : this turns out to be a feature difference between Word Online and Desktop. If you save this picture on your local machine, and then try to Insert Picture feature from the UI, you will also see the picture is rendered in different size in Word Online and Word Desktop. The API is working consistently with the UI behavior.

BTW, even in this GitHub page, your picture is shown differently

[2019-11-07 06:02] lumine2008 commented on #815
@4tti , our team is doing the investigation on this issue,
The typical usage of this API is to let customers hook up handlers to listen to the events of a range. Users can get the content of the range and the address. as the address is a normalized form that used internally. And it is not always the same with the address users provide in the dialog. this is by design.
my understanding of your scen

[2019-11-07 06:28] exextoc commented on #796
It seems like you are using grey Bar add-in, so as per below documentation these has been deprecated (scroll to bottom):
https://developer.microsoft.com/en-us/outlook/blogs/make-your-add-ins-available-in-the-office-ribbon/

If possible please convert your add-in to a taskpane add-in and start using it.

[2019-11-07 06:32] lumine2008 commented on #813
@lukchen would you please share us the test gist for us to do the investigation? thanks a lot

[2019-11-07 06:33] exextoc commented on #799
To avoid confusion, we have updated documentation, please check below link:
https://docs.microsoft.com/en-us/outlook/add-ins/outlook-on-send-addins?tabs=windows

[2019-11-07 06:34] lumine2008 commented on #816
Hello, @lukchen, Could you please share a bit more information about the repro steps?

[2019-11-07 10:28] ddanehl commented on #580
@keyur32 @RuoyingLiang
we noticed that the Dynamic Array feature is now live for Excel Online. but sadly it is still not working for us. please check out this GIST sample for ScriptLab: https://gist.github.com/ddanehl/bb7978b09552f39518459eb398d7146e

and use this function:
=SCRIPTLAB.PALO.DATA("localhost/Demo","Sales",SCRIPTLAB.PALO.EL("Products","All Products"),SCRIPTLAB.PALO.EL("Regions","Europ

[2019-11-07 16:08] lukchen commented on #813
1. Run a localhost web server with self signed certificate(you can generate cert using openssl)
2. When you have it running for example, https://localhost:8080/simple.html, put this url into the Excel Manifest file, specifically the TaskPane's source location
3. Open excel, load the TaskPane you can see there is security warning due to the self signed certificate, you can continue to load the Task

[2019-11-07 16:30] lukchen commented on #816
1. Run a localhost web server with self signed certificate(you can generate cert using openssl),
create 3 htmls with the server, one is for TaskPane https://localhost:8080/TaskPane.html, other two for Dialog https://localhost:8080/index.html & https://localhost:8080/dialog.html. The index.html is the host page(hidden), in this page you call Office.context.ui.displayDialogAsync('https://localhost:8

[2019-11-07 18:06] bchenhs commented on #796
@exextoc I am using a taskpane add-in. There are no console error observed when the issue happens. Here is a code snippet:

Office.onReady().then(() => {
  Office.context.mailbox.addHandlerAsync(Office.EventType.ItemChanged, () => {
    if (!Office.context.mailbox.item) {
      Office.context.ui.closeContainer()
    }
  })
});

To repro:
- Open a message in inbox to read
- navigate to a different

[2019-11-07 21:02] exextoc commented on #796
The image attached above in which add-in is coming on bottom of page is greybar add-in only. is it the same you are using ?

[2019-11-08 00:00] ghost commented on #237
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-08 00:00] #237 closed, assigned to nobody

[2019-11-08 03:12] TheSamsterZA commented on #811
Hello @exextoc, please try to replicate now. I can replicate the issue fairly consistently on my Nokia 8 on Android 9 with Outlook for Android 4.0.63 (369).

[2019-11-08 04:00] ghost commented on #761
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-08 04:00] #761 closed, assigned to XiangGaoMSFT, tutieu

[2019-11-08 04:30] biswanathc opened #830 "Checkbox control from OOXML format getting converted into “?” while rendering in Word(O365)"
I am working on Word Addin/Office JS Project which deals with Word templates. My requirement is to load the static table into template when the user clicks on the Addin.

Step 1: Converting Static Table Data into OOXML and Storing it into Database.
![Initial_View](https://user-images.githubusercontent.com/43954679/68449707-4219b480-020e-11ea-97d9-e223446cd45d.png)

This Table has Check box control

[2019-11-08 04:35] biswanathc opened #831 "Office.context.document.url method not working as expected for Word API"
I am working on Word Addin/Office JS. My word document is loaded at office online and the url generated is like below

https://mydomain.xyz/:w:/r/personal/personal_com/_layouts/15/Doc.aspx?sourcedoc=%7B6FEF6215-DD54-4BFF-B12C-2D762C0932AC%7D&file=AddinTest.docx&action=default&mobileredirect=true

My requirement is to read this url and fetch querystring value.

As per remedy given in below link

ht

[2019-11-08 06:20] exextoc commented on #817
@timothyhoffmann, can you please provide code snippet, if it is still not working ?

[2019-11-08 06:52] RuoyingLiang commented on #580
@ddanehl  The parameters in the DATA function are returns dynamic array. So the parameter in DATA  function should be defined as matrix. I updated the function definition to :
function data(connection: string, cube: string, el0: **any[][]**, el1: **any[][]**, el2: **any[][]**, el3: **any[]**[], el4: **any[][]**, el5: **any[][]**)

And the function will work well:
![image](https://user-images.githu

[2019-11-08 08:02] hello-chenchen opened #835 "getEntitiesByType function is undefined"
when i use the example:
`
var item = Office.context.mailbox.item;
var urls = item.getEntitiesByType(Office.MailboxEnums.EntityType.Url);
`
i found that: the getEntitiesByType function is undefined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8297edd-d7f5-e490-fec8-b7f478eab4d5
* Version Independent ID: b828821a-2bc7

[2019-11-08 10:02] TobiasWolters opened #832 "Inconsistent result status for setSelectedDataAsync in Outlook Online"
We are developing an add-in for both Outlook, PowerPoint, Excel, and Word. Currently, we are looking at inserting images in Outlook.
For this purpose we call `Office.context.mailbox.item.body.setSelectedDataAsync()`. In the desktop version of Outlook, we either get a successful response, and the image is inserted in the body, or we get a response indicating an unsuccessful insertion.
In Outlook On

[2019-11-08 11:16] bchenhs commented on #796
No, our add-in is a taskpane that appears on the right.

[2019-11-08 16:01] thoffmann-fms commented on #828
NOTE: Using OWA for this (Edge Chromium beta or Chrome or IE 11)

It appears to be a cache issue.  If I Edit the event, Send it, then re-open it and call the API I get the old data.  If I Edit the event, Send it, then click the browser Refresh button, then Double-click to open it and call the API I get the updated event.  Ditto if I exit the browser and then go back in I get the updated data.

[2019-11-08 16:27] thoffmann-fms commented on #817
Here is the HTML in the event viewed in the browser debugger:
![image](https://user-images.githubusercontent.com/28546239/68493142-e35a3800-0219-11ea-872b-d97279e0e40f.png)

Here is the HTML returned by the API:
![image](https://user-images.githubusercontent.com/28546239/68493066-befe5b80-0219-11ea-9d65-91cbd6323cd7.png)

Note the div class is missing and the \<label\> tags are also missing from t

[2019-11-08 16:36] eneoli opened #833 "Office.context.mailbox.item.attachments objects have no id field in Outlook Desktop"
## Expected Behavior
Office.context.mailbox.item.attachments[x].id should exist.

## Current Behavior
Calling api on one mail that is signed returns attachment objects, but without id field, while acting like it should on OWA.

## Steps to Reproduce, or Live Example
console.log(Office.context.mailbox.item.attachments)

## Context
Developing a plugin for transffering mail content into ticket system

[2019-11-08 17:17] DougCoraritoAT opened #834 "Word.Range.getOoxml() not returning comment package."
## Expected Behavior
Given a Word document with a comment on a range of text, calling Word.Range.getOoxml() should return a valid OOXML document with comment package and associated commentRangeStart/commentRangeEnd/commentReference elements in the document package body.

## Current Behavior
Calling Word.Range.getOoxml() on a range with comment returns OOXML with no comments package and document pa

[2019-11-08 22:38] ElizabethSamuel-MSFT commented on #835
@hello-chenchen Thanks for raising this issue. I'll transfer this to the office-js repo where the product team can take a look.

Thanks.

[2019-11-08 22:58] ElizabethSamuel-MSFT commented on #807
@hectorAmaral Apologies for the confusion around this. We've refined the Contact description and included the sample email in our code example in the [Contact interface reference documentation](https://docs.microsoft.com/javascript/api/outlook/office.contact?view=outlook-js-preview). Let us know if you have any further questions.

I'll go ahead and close this issue now.

Thanks.

[2019-11-08 22:58] #807 closed, assigned to ElizabethSamuel-MSFT

[2019-11-08 23:01] ElizabethSamuel-MSFT commented on #800
The documentation portion of this issue has been addressed. When the product bug is fixed, we can update the docs to remove the note about the OWA bug and the associated sample code on handling the bug.

[2019-11-09 01:54] mscharlock commented on #834
Hi @weshi would you be able to take a look at this? @DougCoraritoAT just a heads up there was a major Microsoft conference this week, so replies may be a little delayed. Thanks!

[2019-11-09 01:59] mscharlock commented on #826
@JuaneloJuanelo and/or @exextoc Hi folks! Would one of you be able to have a look at this? Thanks! @DmitryKostochko Microsoft had a major conference this week, so replies might be delayed a bit.

[2019-11-09 02:06] mscharlock commented on #833
Hi @exextoc - do you mind having a look at this issue? Thank you!

[2019-11-09 02:07] dinglicoding opened #836 "[Excel] Client is getting an Add-In Error message"
our customer on her computer will show Add-in error message.
but in our computer can't happen ,the only different is the computer version.
i take her's excel version and windows version in blew.
thanks

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ___pc desktop___
* Host [Excel, Word, PowerPoint, etc.]: ____excel__
* Office version number: _____1910_
* Operating System: _

[2019-11-09 02:09] mscharlock commented on #832
Hi @exextoc, do you mind having a look at this issue? Thanks! @TobiasNissen Just an FYI, Microsoft had a major conference this week so replies may be delayed.

[2019-11-09 02:11] mscharlock commented on #831
Hi @weshi, do you mind having a look at this issue? @biswanathc Just so you know, Microsoft had a major conference this week so replies have been a little delayed.

[2019-11-09 02:12] mscharlock commented on #830
Hi @weshi - Another Word question for you when you get a chance to look at it. Thanks! @biswanathc Again, just an FYI that Microsoft had a major conference this week, so responses are a little delayed.

[2019-11-09 02:16] mscharlock commented on #829
Hi @nesbtesh - FYI that Microsoft has had a major conference this week, so responses have been a little delayed. I will see if I can find the right person to address this. @sumurthy Do you know who I might route this to?

[2019-11-09 02:17] mscharlock commented on #828
Hi @exextoc - do you mind having a look at this? @timothyhoffmann sorry for the delay, Microsoft had a major conference this week so folks have been fairly busy. Thanks for your patience!

[2019-11-09 02:22] mscharlock commented on #827
Hi @weshi - this may be something you can address?. @htryggva I think you may also want to put this on UserVoice, which is where we track requests from customers about features. This strikes me as a bug, which is why I have assigned someone but if it is an intentional choice, this feedback would be great to get on the User Voice site. You can do that on our [UserVoice page](https://officespdev.use

[2019-11-09 02:30] exextoc commented on #835
Which Outlook client are you testing with?

Is your add-in running in Read mode or Compose mode? (The API is only defined in Read mode).

[2019-11-09 11:38] DougCoraritoAT commented on #834
Hi Michelle,

Thanks for picking this up.  @JuaneloJuanelo<https://github.com/JuaneloJuanelo>, if you need more info, please let me know.

Doug

From: Michelle Scharlock <notifications@github.com>
Sent: Friday, November 8, 2019 8:55 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Doug Corarito <doug.corarito@agilethought.com>; Mention <mention@noreply.github.com>
Subject: Re: [Office

[2019-11-09 21:08] ddanehl commented on #580
@RuoyingLiang many thanks it works now!

[2019-11-09 21:08] #580 closed, assigned to RuoyingLiang

[2019-11-10 02:00] ghost commented on #49
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-10 20:50] 4tti commented on #764
Hello @RuoyingLiang, sorry to get to this so late... I won't be able to check it on that machine this week (the persons with the machines are Out of office whole week).
But the question is - have you followed the steps mentioned above with two manifests, etc. (point 1-4) - i.e. special case when you have same addin with different IDs for the two manifests and one manifest is then removed?

[2019-11-11 02:10] jesyxue commented on #797
@exextoc Sorry, we just have outlook add-in so cannot verify it in Word or Excel. What's other reason that can block add-in load in windows outlook client?

[2019-11-11 03:10] weshi commented on #834
@shaofengzhu this is about Word for Windows. Thanks.

[2019-11-11 10:27] exextoc commented on #796
@bchenhs Why are you trying to close the add-in task pane, when there is no item in view?
Office APIs are expected to work with the item in preview.
In this case, you are trying to execute `Office.context.ui.closeContainer()`, when there is no item in preview.
Can you try executing this outside of `if (!Office.context.mailbox.item)` and see if the API works?

[2019-11-11 10:59] hello-chenchen commented on #835
Hi @exextoc , thanks for your reply.
I am using chrome browser in my add-on iframe js context environment.
I am running in Compose mode.
[code]

But actually, i change **<Rule xsi:type="ItemIs" ItemType="Appointment" FormType="Edit" />** to **FormType="Read"** But it is still not worked.

Can you give me some suggestion about the Read mode in mainfast.xml? Or some worked exapmle?
Thanks~

[2019-11-11 11:50] ndeeH opened #837 "PowerPoint Online Content Add In in presentation mode shows error "We couldn't connect the catalog server for this add in""
Our PowerPoint Content Add In is already available in PPT Online.
Here we see a display errors which we can not solve, because they com from PPT Online itself.

PPT Online displays Add In content **AND** a obscur image of the add in, which is not completely in sync and looks like this:
![image](https://user-images.githubusercontent.com/11518242/68584767-ca9f8b80-0480-11ea-8b7b-3468f7356d24.png)
It

[2019-11-11 12:07] ndeeH opened #838 "PowerPoint Content Add in Presentation Mode blury display"
Our PowerPoint Content Add In is already in the store.
When using Chrome and switch to presentation mode the add in content is displayed blury:
![image](https://user-images.githubusercontent.com/11518242/68585408-71385c00-0482-11ea-8295-b75f5012b620.png)
The Add In uses an iframe to display the report contents.

## Expected Behavior
Add In content should not look blury in presentation mode

## Ste

[2019-11-11 12:35] loovadia commented on #811
@exextoc  also happens to me.
Android 9 on LG v20 with Outlook version 4.0.57

[2019-11-11 13:26] 4tti commented on #815
@lumine2008 no, we only need the picker and get the address defined by using that picker (either using mouse or typing there).

[2019-11-11 14:29] bchenhs commented on #796
@exextoc We would like to make our add-in to not take up space (i.e. close the taskpane) when there is no mail item in view. This mechanism in the code snippet above works when the last viewed item is a "compose". Is there a specific reason why it doesn't work for "read"?

[2019-11-11 19:02] exextoc commented on #835
The undefined error is expected in Compose mode because the API is only defined in Read mode.

Compose mode is when the user is composing a new email or editing a draft in Outlook. Read mode is when the user is reading a message that was sent to them. The add-in will only appear in the modes it's defined to run in, and you can use a different `SourceLocation` URL to distinguish between the two mod

[2019-11-11 21:10] exextoc commented on #768
This is correct. This isn't possible via any Office.js API in Outlook 2013.

Closing the issue, but let us know if you have more questions.

[2019-11-11 21:10] #768 closed, assigned to exextoc

[2019-11-11 21:43] exextoc commented on #802
There are currently no logging-specific APIs in Office.js.

One way to communicate errors to the user in Outlook is through the [notificationMessages API](https://docs.microsoft.com/en-us/javascript/api/outlook/office.item?view=outlook-js-1.8#notificationmessages), but this API will only display short messages to the user.

I would also normally suggest sending diagnostics information to a backend

[2019-11-12 00:33] adam-harwood commented on #802
Thank you! Your third suggestion, around using localStorage, is a great idea and has solved the problem for me.

For reference for others, we already have a centralised logging class which all of our logs go through. They are logged using `console.log`, but also the last 100 are kept in memory. There's a button users can click to view those last 100 and send it to us for diagnosis. With the above

[2019-11-12 00:33] #802 closed, assigned to exextoc

[2019-11-12 00:56] exextoc commented on #826
It sounds like you might have an issue with the ItemChanged event. Does your add-in [support pinning](https://docs.microsoft.com/en-us/outlook/add-ins/pinnable-taskpane#support-task-pane-pinning)?

[2019-11-12 00:59] exextoc commented on #833
What is your Outlook build number?

Office.context.mailbox.item.attachments is a read-only API. Are you using this API on a read item?

[2019-11-12 02:50] hello-chenchen commented on #835
Hi @exextoc , thank you so much for your explanation about the read mode.
Now i am sure that my add-on is on the compose mode.

So i have another question in the compose mode.
when i was in the compose mode, is there any way for developer to use the appointment api by sync way instead of async way.
For example:
sync way:
[code]
instead of the async way:
[code]
actually, some times, i  don't need t

[2019-11-12 04:27] weshi commented on #830
Just to confirm, can you provide the environment detail information? Is this for Word on Windows or Word for the Web? What's the version of the Word, etc.

BTW, check box control is not supported in Word for the Web.

[2019-11-12 04:30] weshi commented on #827
@shaofengzhu The post says the platform is Word for PC desktop.

[2019-11-12 04:48] biswanathc commented on #830
@weshi  We are trying out in **Office 365 windows desktop version(Pro plus)**. Below is the ooxml for the checkbox which we are rendering in word and getting "?" symbol

<w14:checkbox><w14:checked w14:val="0"/><w14:checkedState w14:val="2612" w14:font="MS Gothic"/><w14:uncheckedState w14:val="2610" w14:font="MS Gothic"/></w14:checkbox>

[2019-11-12 06:37] SWei1234 commented on #768
Okay, Thanks. I got it.

So ... if I develop an add-in on Outlook 2013, there is no way to insert the attachment into body and use the office.js' s api to update the body's content. And at the end, the inserted attachment can still be opened by double-click.

Right?

[2019-11-12 06:52] anilreddyr7 commented on #347
We are not doing any work around. One thing is that we should try to avoid window.reload in your application scripts.

[2019-11-12 06:57] anilreddyr7 opened #839 "Can we get Addin GUID value at run time through office.js?"
We want to get custom properties through EWS which are set by Office Add in. To achieve this, we need GUID of installed addin.

Do we have any way to get GUID value for installed addin at run time?

[2019-11-12 06:58] anilreddyr7 commented on #839
@exextoc  Can you let us know if there is any way.

[2019-11-12 08:37] DmitryKostochko commented on #826
Yes, the add-in supports pinning. But I don't handle the ItemChanged event. Please have a look at my test code below:

    // body
    Office.context.mailbox.item.body.getTypeAsync({},
      function (result: Office.AsyncResult<Office.CoercionType>) {
        if (result.status === Office.AsyncResultStatus.Failed) {
          console.error('item.body.getTypeAsync ERROR', result.error);
        } el

[2019-11-12 08:59] morgan-tr commented on #809
@weshi Could you please provide an update on this issue?

[2019-11-12 10:22] exextoc commented on #839
Currently OfficeJS does not expose any API to get the add-in GUID. We track Outlook add-in feature requests on [our user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning process

[2019-11-12 14:10] tiagordc commented on #770
Tried using https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/tree/master/SSOAutoSetup, uploaded the manifest.xml to Excel Web and got the same issue

[2019-11-12 14:35] exextoc commented on #835
No, there is no synchronous equivalent for asynchronous APIs in compose mode.

[2019-11-12 15:03] exextoc commented on #832
Thanks for reporting this issue regarding < img > tag with data. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-11-12 15:26] exextoc commented on #811
Thanks for reporting this issue regarding blank dialog. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-11-12 15:41] cpornputthasri opened #840 "Settings Object could not be loaded when it is saved with difference manifests - from Store vs manually upload"
We are using Office.context.documents.settings.set() / .get() to manage settings on a file but when the same file is opened on different manifests, one via Add-in on store and one via manually upload. Each Add-in could not load settings data which was saved from each add-in version.

We also try with Excel.SettingCollection.add() / . getItemOrNullObject() and it gave the same result.

## Expected

[2019-11-12 16:00] exextoc commented on #796
Wanted to let you know that if you call closeContainer, as per the [documentation](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=outlook-js-preview#closecontainer--) your add-in will be un-pinned.
It is Outlook's UI guidance to display a warning saying that "You need to select a message before you can use the add-in." and it is not recommended to hide this pane.

[2019-11-12 16:49] lliu113 commented on #840
Thanks for logging this! Looping in Mandy to help investigate

[2019-11-12 20:03] bchenhs commented on #796
It doesn't un-pin the taskpane right now, even when it works from a compose. Looks like there is a bug either way.

[2019-11-12 22:14] exextoc commented on #826
You will need to register the event handler for the ItemChanged event when you call Office.initialize, so the add-in is notified when the item is changed. A sample for doing this can be found [here](https://docs.microsoft.com/en-us/outlook/add-ins/pinnable-taskpane#register-the-event-handler).

[2019-11-12 23:18] nesbtesh commented on #829
This would be a huge plus for the excel plugin, we have a few excel plugins but they work in VBA because they require SQL connections

[2019-11-12 23:34] JuaneloJuanelo commented on #840
this is by design. Settings are stored per instance per document. The ID of your add-in is not the same when you sideload that when it comes from the store.

[2019-11-13 02:00] ghost commented on #49
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-13 02:00] #49 closed, assigned to exextoc

[2019-11-13 02:36] exextoc commented on #796
Add-in not getting unpinned in Outlook Online has been put on our backlog. We unfortunately have no timelines to share at this point.
But It is recommended to not call closeContainer() because once the fix for that is out, your add-in will get unpinned unnecessarily.

[2019-11-13 03:14] cpornputthasri commented on #840
@JuaneloJuanelo  Thank you for your response.

In this case, the manifest  from the store is updated, the same file with stored data from the previous version should be readable in the new version, right?

We still do not have any new version of manifest on the store yet. So that, I would like to confirm for this behavior?

[2019-11-13 05:13] hello-chenchen commented on #835
All right. thanks

[2019-11-13 05:13] #835 closed, assigned to exextoc

[2019-11-13 07:44] officeAddinDeveloper opened #841 "addImage() not working in Excel online version"
I'm trying to add a new image from an Excel adding using Office.js.

That's my code:

[code]
This is failing with the error:
[code]
I also tried using "Imagecoercion", but this seems to be unsupported, and in fact, I'm not able to use it: https://github.com/OfficeDev/office-js/issues/648.

Any suggestion would be appreciated!

## Expected Behavior
The possibility to use .addImage() to add a new im

[2019-11-13 09:26] DmitryKostochko commented on #826
Thank you for the explanation, adding the ItemChanged event handler solves the issue!

[2019-11-13 09:26] #826 closed, assigned to exextoc

[2019-11-13 14:39] DougCoraritoAT opened #842 "Body.insertOoxml() crashes Word on IE11 (Windows 10 version 1809)"
There was a previous bug with body.insertOoxml() that has been fixed when Word launches Edge.  However, when running Windows build 1809, Word launches IE11 and the crash is still present.  Please see this link for more information on what browser Word launches:

https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

## Expected Behavior
Calling Body.inser

[2019-11-13 18:16] AbidRahman-MSFT commented on #841
Hey @officeAddinDeveloper, thank you for reporting this issue.
Adding @lumine2008 for context and more information.

[2019-11-13 18:22] AbidRahman-MSFT commented on #836
Hello @dinglicoding, thank you for your question.

Can you provide more context on when your customer runs into this issue? Does it only happen when attempting certain actions? Does the error message correspond to an actual issue in the add-in or is the add-in functional while the message is displayed?

Please also let us know if you are able to reproduce the same bug on a different computer. You

[2019-11-13 20:45] lukchen opened #843 "Ability to programmatic update the Excel Add-in cache or other automation way"
Hi,

I've posted this feedback on user voice but no response over 2 weeks. It's an important feature to our project so I try to put it here to see if it can be helped or there is exisitng workaround can solve this

The server address in our Excel Addin manifest file often changes, so we are updating the manifest.
Currently we not only update the manifest but also update the manifest cache so the a

[2019-11-13 21:03] exextoc commented on #768
Yes, this functionality is currently not supported in Outlook 2013.

[2019-11-14 01:25] SWei1234 commented on #768
Okay, Thanks for your support. I have no question about this now.

[2019-11-14 02:52] SWei1234 opened #844 "Can add-in support drag-and-drop event listening on Outlook?"
Post feature requests at https://officespdev.uservoice.com/
For some early version cannot support some attachment issue. Therefore, I wonder if it is possible for Microsoft to add a drag-and-drop monitor to outlook's body. So that the third party can judge the accessory according to the dragging action to avoid the problem of the Outlook version reason.

[2019-11-14 02:54] #844 closed, assigned to nobody

[2019-11-14 05:02] donlvMSFT commented on #841
This issue has been fixed. @officeAddinDeveloper , could you try again? Thanks.

[2019-11-14 07:03] biswanathc opened #845 "Auto Launch functionality of Word Web Addin is not working as expected"
Hi Team,

We have developed one word web addin which will populate some content after fetching it from DB. We want as soon as user opens the doc the contents are fetched that means addin starts working without user being required to click on addin option in menu.

We have gone through the below link
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/automatically-open-a-task-p

[2019-11-14 07:23] officeAddinDeveloper commented on #841
Hi @donlvMSFT ,thank you for you feedback.
This is still not working
![image](https://user-images.githubusercontent.com/57702568/68835265-efca0f00-06b7-11ea-8576-d7c3a5cff211.png)

[2019-11-14 07:50] LiJiang-msft commented on #841
hi @officeAddinDeveloper , if that possible to paste the base64 string you used, if there's no PII information. So that could help us run some local debug.

[2019-11-14 07:53] officeAddinDeveloper commented on #841
Hi @LiJiang-msft, I have no doubt about the base64 string we used because we tested the addin using Excel desktop and it is working as expected, no issues, so the string is correct. Unfortunately I cannot share it.

I have this issue only when using Excel online.

[2019-11-14 08:04] LiJiang-msft commented on #841
Thanks @officeAddinDeveloper , is that possible to share your very roughly location, for example to  country and city, that might help us to track to settings in data center.

[2019-11-14 08:38] officeAddinDeveloper commented on #841
I'm in Italy.

[2019-11-14 08:40] LiJiang-msft commented on #841
can you detail to city or province?

btw:// can you paste a full error log?

[2019-11-14 08:44] officeAddinDeveloper commented on #841
North-east Italy, Venice area.

This is the error log as specified in the description:
[code]
This is what I get when I catch the result of context.sync() after using the addImage() API:
`await context.sync().catch(error => console.log(error) );`

[2019-11-14 08:50] weshi commented on #831
This API currently is designed to return the file location URL. It's not same as the URL you see in the browser address bar. But with file location URL, you can still open the doc. There is no API to return the URL in you see in the address bar directly.

[2019-11-14 08:51] #831 closed, assigned to nobody

[2019-11-14 08:54] weshi commented on #809
@morgan-tr After internal discussion, this bug does not meet the bar for backporting to the older version build.

[2019-11-14 09:10] LiJiang-msft commented on #841
@officeAddinDeveloper , could you please try to print following properties?
console.error(error.debugInfo.code);
console.error(error.debugInfo.errorLocation);
console.error(error.debugInfo.statement);
console.error(error.debugInfo.surroundingStatements);
}

[2019-11-14 09:16] shubhashishtiwari commented on #3
@weshi : This issue is blocking the major development for Outlook Web addin on Mac devices.
For windows we have a backup solution of VSTO addin. But for Mac we only have Web addin which is getting  blocked because of above issue. Is it possible for you to let us know the tentative timeline of this fix.

[2019-11-14 09:28] officeAddinDeveloper commented on #841
Sure, that's the full chrome log when adding the code you suggested:

[my.sharepoint.com-1573723607033.log](https://github.com/OfficeDev/office-js/files/3845666/my.sharepoint.com-1573723607033.log)

[2019-11-14 09:39] LiJiang-msft commented on #841
Thanks for providing that. We can't reproduce your issue in our side. That may need more time for us to figure out the root cause.
We will collect more information from our side, and update this thread later.

[2019-11-14 09:41] officeAddinDeveloper commented on #841
Ok, thanks, let me know as soon as you have updates.

[2019-11-14 10:20] Moby-dev opened #846 "Excel Taskpane Addin on Edge looses cookies"
## Expected Behavior

Without closing the current Excel document, showing repeatedly the Taskpane in an Excel Addin  should preserve cookies.

## Current Behavior

The issue is present only If Excel uses *Edge* to host the Addin in the Taskpane.
Instead, If Excel uses *IE* to host the Addin in the Taskpane, there is no issue.
If Excel uses *Edge* to host the Addin in the Taskpane, when the Taskpan

[2019-11-14 10:29] morgan-tr commented on #809
@weshi Thank you for looking into this.

@kbrandl Hi Kim - I see you're listed as a participant on this thread. I was hoping to get your input on this as I believe you're in charge of the developer experience.

We've had to add support to our add-in for WordApi 1.1 because many enterprise clients use a volume license version of Word 2016 and MS won't release a build for it that upgrades the suppor

[2019-11-14 11:30] tsabbay commented on #842
We are experiencing the same after the last update.
Great job by Microsoft team, again you killed 💥💥💥💥some of the core functionality of office-js.
Seems like you guys NOT checking and the worst part, every fix takes weeks.
Well done!

[2019-11-14 16:27] lukchen commented on #816
maybe the office.js could give an option to decide the middle page to be hidden or visible? so I can open the dialog with clicking on the 'proceed to this page'

[2019-11-14 17:13] ddanehl opened #847 "Excel CustomFunctionsRuntime initialized twice"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

for our add-in we use the new runtime feature that is documented here:
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and

[2019-11-14 21:35] EdwinStraver opened #848 "Dialog widens itself with Edge control, to fit url in titlebar"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When you display a dialog with a given width, and the dialog is too narrow to fit the title, the dialog widens itself to fit the title. This behavior was introduced with the switch fr

[2019-11-14 21:37] kbrandl commented on #809
@morgan-tr thanks for sharing your perspective on this; I can certainly understand your concerns. That said, I'm actually not the right person to provide the type of feedback you're seeking. (Although I care deeply about developer experience, I primarily own responsibility for creating Office Add-ins developer documentation, and am not involved in deciding which fixes get backported.) @sumurthy ar

[2019-11-15 01:51] weshi commented on #830
@biswanathc I tried to reproduce the issue with insertOoxml API. I can successfully insert check box content control without problem.

 I suspect that when you save the OOXML to your database and retrive it from it again, your database encoding might caused some characters converted to "?". Usually this can be caused if your database is using an encoding that does not support the characters in the

[2019-11-15 01:52] SWei1234 commented on #797
@exextoc Has the problem been positioned yet? Or still need more information? Or already in processing?  Any update?

[2019-11-15 02:33] weshi commented on #819
@salmanansari-gep Thanks for providing the repro video. It seems that the environment you are using is a WOPI host. This issue does not happen on Microsoft OneDrive environment.

There is a known limitation/issue with the server side APIs (such as insertOoxml, etc.) on WOPI host. If you can break down your scenarios and see if calling other regular client side APIs can achieve your goal?

[2019-11-15 02:54] #447 closed, assigned to weshi

[2019-11-15 03:32] weshi commented on #420
This issue has already been fixed. Closing this issue. Thanks.

[2019-11-15 03:32] #420 closed, assigned to weshi

[2019-11-15 03:34] #1 closed

[2019-11-15 04:11] weshi commented on #571
@kbrandl This is not in my area. Please help to reassign. Thanks.

[2019-11-15 04:13] weshi commented on #3
@shubhashishtiwari Is this for Outlook or Word?

[2019-11-15 04:17] weshi commented on #3
@JuaneloJuanelo it seems this is for Outlook. Please help to reassign. Thanks.

[2019-11-15 04:25] #104 closed, assigned to weshi

[2019-11-15 04:25] exextoc commented on #482
@jak-hammond We are not able to replicate the issue, Can you share the version of Outlook for Mac used?

[2019-11-15 04:26] #163 closed, assigned to weshi

[2019-11-15 04:27] weshi commented on #191
This is tracked in our backlog, but currently this is a limitation that only Rich Text content controls are supported in Word Online.

[2019-11-15 04:34] weshi commented on #390
Please reactive this if it can still reproduces.

[2019-11-15 04:35] #390 closed, assigned to weshi

[2019-11-15 04:39] kbrandl commented on #571
@nedbalzer apologies for the lack of engagement on this issue. Are you still having this problem?

[2019-11-15 04:39] weshi commented on #394
There is size limit for Office Online. What's the size of the content you are trying to add?

[2019-11-15 04:42] weshi commented on #531
@lumine2008 this seems the same issue you worked on before.

[2019-11-15 04:44] weshi commented on #422
@lliu113 is this related to your area?

[2019-11-15 04:47] MandytMSFT commented on #252
@sedano sorry for the late update. This issue has been fixed on March this year.  It deployed to Excel Online in 2 weeks. I just tried on online, already fixed. Thanks for your reporting.

[2019-11-15 04:47] #252 closed, assigned to MandytMSFT

[2019-11-15 05:39] LiJiang-msft commented on #841
Hi @officeAddinDeveloper , I gave a lot try with machines located in vary places in europe, I'm pretty sure it covers almost all data centers our bit deployed to. Unfortunately I can't reproduce your issue in any of them, and not able to get much clue why that API not work for you.

I took some snapshoots below, you can see all images (jpg & png) successfully added to a document:
![Capture](https:

[2019-11-15 07:19] TobiasWolters commented on #832
Thanks. Please let me know when you have an estimate on the timeline.

[2019-11-15 08:09] topkoong commented on #792
Any update on this? I face this issue as well. @catchingyu

[2019-11-15 09:00] ghost commented on #818
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-15 09:24] officeAddinDeveloper commented on #841
Hi @LiJiang-msf ,

Thanks for your investigation. I just want to let you know that I tried also from a Swedish IP
![image](https://user-images.githubusercontent.com/57702568/68932007-08a6f300-0792-11ea-9088-6bfd53375161.png)

but with the same result.

Can you please share the code you used to perform the test? Just to make sure I'm not doing something wrong, even if everything works fine from Exc

[2019-11-15 09:26] anilreddyr7 opened #849 "Getting error when add in launched on windows desktop outlook client"
When add in is launched on windows 10  - outlook client, we get below error message in side pane.
"Sorry, we couldn't load the app because your browser version is not supported. Click here for a list of supported browser versions".

This is documented in below office addin documentation.
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting#common-errors-and-troub

[2019-11-15 09:30] anilreddyr7 commented on #849
@exextoc  Hi Team, any clue on this?

[2019-11-15 09:33] Moby-dev opened #850 "It is not possible to debug office-js projects with Visual Studio 2019 when Edge is used in the Taskpane"
## Expected Behavior

Using Visual Studio 2019 to edit an Add-in for Excel 365, is should be possible to attach the Taskpane browser to the debugger. This works with IE but not with Edge.

## Current Behavior

With Windows 10 ver. >= 1903 / Office 365 ver >= 16.0.11629 , the Office Add-ins use Edge instead of Internet Explorer ( as described here https://docs.microsoft.com/en-us/office/dev/add-ins

[2019-11-15 09:39] emyl opened #851 "body.getAsync seems to fail inside XHR"
I'm trying to update the Outlook meeting body using the result of an Ajax call. Everything looks good with a static text, instead it fails inside the XHR call.

## Expected Behavior
Meeting body updated accordingly.

## Current Behavior
TypeError in executeApiMethod.ts:203

## Steps to Reproduce, or Live Example
This works:
[code]

This instead fails:
[code]

## Your Environment
OWA using Google C

[2019-11-15 10:04] biswanathc commented on #805
@weshi  Could you help please

[2019-11-15 10:06] biswanathc commented on #830
@weshi  Thank you! This was issue with DB. We were saving OOXML in DB as Nvarchar. After changing to datatype to xml it worked fine.

[2019-11-15 10:06] #830 closed, assigned to nobody

[2019-11-15 10:07] biswanathc commented on #845
@weshi  , @mscharlock Could you please help?

[2019-11-15 11:01] crazygao commented on #730
@weird-dreams Since the UI is quite different now on online from your clip. I cannot repro your bug on the new UI.

Make it as cannot repro.
If you could repro it again, could you please add more information ?

[2019-11-15 11:06] SWDevB opened #852 "Is information about installed Office-Add-Ins unintentionally stored redundant?"
I tried to find out how Office (in my case Excel) stores which Office-Add-Ins are installed for a user (for manual installation from store and for centralized deployed store or custom add ins - including versions for Windows, MAC and online) and how this affects the local machine the user is working on. [stackoverflow request here](https://stackoverflow.com/questions/58708719/what-exact-changes-ar

[2019-11-15 12:03] weird-things commented on #730
@crazygao
I still can reproduce this issue. Simplified ribbon might let word look a bit different.
But the add in itself looks almost the same as in video (some screens might now look more gray).
Look at the video above - here are the steps described in words:
(First of all install Add In "IDL.OFFICELINK" from store!)

1. Open a new instance of Word Online (_do NOT click inside document content!_)

[2019-11-15 12:07] surjyams opened #963 "All entities are null"
Hello,
I followed the sample code that is shared at: https://docs.microsoft.com/en-us/outlook/add-ins/extract-entity-strings-from-an-item#extracting-task-suggestions. I have an email, that has a valid address (1234 Main Street, Redmond, WA 07722). But all the entities on the email are null, including the 'Addresses' entity.

`{ "_data$p$0": { "Addresses": null, "Contacts": null, "EmailAddresses":

[2019-11-15 12:44] nedbalzer commented on #571
I worked closely with Microsoft Office add-in support on this. For reasons I don’t understand, our old procedure of distributing the add-in as a download and installing it locally stopped working when our organization switched from local installs of Word 2016 to Office365 (also Word 2016). We were able to fix this by moving the add-in code (html, css and javascript) to a website and having the man

[2019-11-15 13:05] sarea opened #853 "Addin with version 1.8 did not uploaded"
I'm developing OWA add-in, as the [version 1.8](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.8/outlook-requirement-set-1.8) released I have change the manifest in:
[code]
and in:
[code]
when I upload the new manifest from `Get Addins -> my add-ins -> upload new addin`, it did not show any error message, but when I close that dialog I dont see the add-

[2019-11-15 14:16] eneoli commented on #833
Version: 1910
Build nummer: 12130.20272

I use it on a read item

[2019-11-15 14:56] kbrandl commented on #571
@nedbalzer thank you for the update; happy to hear that you've resolved this problem. I'll go ahead and close this issue now.

[2019-11-15 14:56] #571 closed, assigned to kbrandl

[2019-11-15 16:48] AbidRahman-MSFT commented on #842
Thank you for bringing up this issue.
@weshi can you provide further context on this issue?

[2019-11-15 18:41] AbidRahman-MSFT commented on #845
Hello @biswanathc, thank you for your question.

I understand that you are trying to auto open the add-in when the document is opened. This case is only possible while using the Open XML method. As mentioned in the documentation that you linked, there are two specific code snippets that you need to add to the document, the latter 'taskpane' portion includes a 'visibility' attribute that must be se

[2019-11-15 19:38] matsisak commented on #650
I'm facing the same problem. Any update on this issue?

My environment
Platform [PC desktop, Mac, iOS, Office Online]: PC
Host [Excel, Word, PowerPoint, etc.]: Excel 64 bit
Office version number: 1905 (Build (11617.20002 Click-to-Run) Office Insider
Operating System: Windows 10 Enterprise 1809 17763.864

[2019-11-15 19:46] saraalfadil opened #854 "Unexpected Insert Footnotes/Endnotes & Split Window View behavior when using createDocument method"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When a document is created and opened using the createDocument method, it causes strange side effects to the Insert Footnotes, Insert Endnotes & Split Window View functionality.

## E

[2019-11-15 20:11] AbidRahman-MSFT commented on #829
Hey @nesbtesh, thanks for your question.

Can you please provide more information regarding your use case and add-in infrastructure? Are you trying to access a SQL database from within your Office Add-in?

[2019-11-15 21:00] ghost commented on #823
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-15 22:24] nesbtesh commented on #829
Yes I am, we have a VBA plugin that has a bunch functions to get information from our DB. But it is really high maintenance because the deployment is manual. We would like to do that from the office add in custom functions, so we can streamline deployment

[2019-11-15 23:25] exextoc commented on #797
Usually when you see this error, it means that the Outlook client was unable to reach your web server. Can you verify that your web-page is reachable?

[2019-11-15 23:46] exextoc commented on #833
Thanks for the response. If the mail you are using is encrypted, add-ins should not be accessible. Could you explain more about how the mail was signed?

[2019-11-16 00:39] helpyhelperton opened #855 "Getting latest typings for Excel Add-In in Visual Studio Excel Web Add-In"
Have tried all sorts of different build environments in order to build an Excel Add-In, eventually settling on a Visual Studio 2019 Excel Web Add-In project. Spent more time trying to get tutorial Excel code running within the sample project template in TypeScript, eventually discovering that some properties and method calls used in Script Lab example were not being recognised by VS. Determined th

[2019-11-16 01:34] exextoc commented on #849
What is your Outlook version number?

[2019-11-16 06:02] weshi commented on #842
@tsabbay while the crash should not happen, can you provide more information why you need below lines instread of inserting the retrieved ooxml from body.getOoxml() directly into the doc?

    let parser = new DOMParser();
    let xmlDoc = parser.parseFromString(bodyOoxml, "application/xml");
    let newBodyOoxml = new XMLSerializer().serializeToString(xmlDoc);

If you directly use the value of le

[2019-11-17 11:07] exextoc commented on #853
Thank you for your feedback. We apologise for any inconvenience or concern that we caused with 1.8 requirement support. We are working on fixing this issue.

[2019-11-17 11:27] exextoc commented on #851
@emyl `event.completed()` indicates that the add-in has completed processing and will automatically be closed.
Can you check whether `event.completed()` is executed after `Office.context.mailbox.item.body.getAsync()`?

[2019-11-17 16:33] emyl commented on #851
My bad 🤦‍♂

Sorry, just a JS newbie.

[2019-11-17 16:33] #851 closed, assigned to nobody

[2019-11-17 19:00] ghost commented on #836
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-18 01:42] LiJiang-msft commented on #841
@officeAddinDeveloper , thanks for your feedback, that is a great idea that I will share my script to you, and could you please help us run very few steps verification? I took snapshots using win32, but steps are exactly same on excel online.
1. On you online environment, download and install "Script Lab" from office store, that will add an item to your ribbon.

2. Click on "Code", it will bring a

[2019-11-18 01:43] dinglicoding commented on #836
@AbidRahman-MSFT  we have reinstalling the add-in on our customer computer, the issue is still.

we have no such environment，in our dev computer.

thanks.

[2019-11-18 03:16] topkoong commented on #791
Any update on this? @catchingyu

[2019-11-18 04:08] topkoong opened #856 "RichApi.Error: Excel is in cell-editing mode. Please exit the edit mode by pressing ENTER or TAB or selecting another cell, and then try again."
Clicking a cell and then randomly or immediately selecting a cell back and forth breaks the app.

## Expected Behavior
It shouldn't cause any errors or break the app when randomly or immediately selecting cells and ranges multiple times.

## Current Behavior

Excel is not responding, hangs, freezes or stops working after randomly selecting cells and ranges several times. As a result, I have to rel

[2019-11-18 06:19] MandytMSFT commented on #856
@topkoong thanks for the reporting. For cell-editing mode error, it's by design as we don't support js running after entering cell edit mode.

But for taskpane hang and crash, it's definitely an issue. Do you mind to share your code to me as i can't repro on office online.

[2019-11-18 06:20] lumine2008 commented on #856
In cell edit mode, JS API cannot execute in the Excel,
you could use this API delayForCellEdit, if the user is in cell edit mode the batch request will be delayed until the user exits cell edit mode.
https://docs.microsoft.com/en-us/javascript/api/excel/excel.runoptions?view=excel-js-preview#delayforcelledit

[2019-11-18 07:20] topkoong commented on #856
@MandytMSFT
Below is my code snippet.

@lumine2008 I've already added delayForCellEdit, but there's still an error.
[code]

[2019-11-18 07:21] lumine2008 commented on #843
Thank you @lukchen for your report, yes, right now we don't have a programmatic way to clean the catch. and I have created a workitem 3783784 to track this issue.

[2019-11-18 07:32] TobiasWolters opened #857 "Missing callback for addFileAttachmentFromBase64Async"
When calling `Office.context.mailbox.item.addFileAttachmentFromBase64Async` two or more times successively, the callback isn't consistently triggered for all function calls in Outlook Online.

## Expected Behavior
The provided callback should be triggered once for each call to `addFileAttachmentFromBase64Async`

## Current Behavior
The provided callbacks are sometimes triggered, but sometimes some

[2019-11-18 09:40] officeAddinDeveloper commented on #841
Hi @LiJiang-msft,

Thank you for your feedback...
I tried follow the steps you provided but failed when clicked on the "Write image as string" button, the error seems to be the same as the one I get from my code ("This operation is not implemented")

![image](https://user-images.githubusercontent.com/57702568/69041220-6e43eb00-09ef-11ea-9867-8d48f0bf2c22.png)

[2019-11-18 10:00] ghost commented on #818
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-18 10:00] #818 closed, assigned to exextoc

[2019-11-18 10:57] LiJiang-msft commented on #841
Thanks @officeAddinDeveloper , can you also try those steps in onedrive rather than your tenant?

[2019-11-18 11:07] officeAddinDeveloper commented on #841
Hi, can you please specify what you mean by "try on onedrive"?

[2019-11-18 11:19] LiJiang-msft commented on #841
You can create office document free on onedrive.live.com/ if you have windows account (somebody@live.com), so would you please try to create an excel document on onedrive.live.com/, and repeat the steps above to see what will happen there?

Thanks

[2019-11-18 12:09] surjyams commented on #963
Update: It detects urls in the message body. But other entities are empty. Perhaps, the text is my message body does not match a valid address/phone number/task. It will be really helpful if I can get sample texts for any of the above entity types.

[2019-11-18 12:39] officeAddinDeveloper commented on #841
This is working on onedrive.live.com following the above steps. Does this means that our tenant is using a different version? How can we check the version on our tenant and keep it updated or know when an update is installed?

[2019-11-18 12:40] SWei1234 commented on #797
sorry for reply late.
Yes.  It's works well on OnlineOffice on browser.  So I think the web-page is reachable. But on outlook client that didn't work.  It's a strange problem.

[2019-11-18 13:00] SWei1234 opened #858 "[Outlook add-in]notificationMessages didn's disapear after this.close() (Only happened on Mac)"
On Mac Outlook 2016(16.32 19111100 ps: lower version might get the same problem too), after 'ExecuteFunction' Notification(xxx is working on your xxx) might not disappear.

## Expected Behavior
After 'ExecuteFunction' Notification(xxx is working on your xxx) disappeared. Or can be removed.

## Current Behavior

We develop an add-in app. And use some asynchronous function inside it. At last I use e

[2019-11-18 13:30] lumine2008 commented on #856
Thanks @topkoong , it would be super helpful if you could share me the gist, which could generate by script lab and upload to the github. thanks a lot

[2019-11-18 13:34] htryggva commented on #822
@JuaneloJuanelo We have implemented this in our Content Chooser product and have also run into this issue. Works fine on Windows and Mac but not on Online. Can you please look into this? Thanks!

[2019-11-18 16:43] #412 closed, assigned to JuaneloJuanelo

[2019-11-18 18:54] AbidRahman-MSFT commented on #837
Hey @weird-dreams, thanks for bringing up this issue. We are currently looking into this. This issue was only reproducible on the "IDL.PRESENTATION" add-in. Are you able to reproduce this issue on any other add-in that also uses an iFrame?

[2019-11-18 19:01] mscharlock commented on #829
Hi @nesbtesh - ah ok, good to know. Tagging @RuoyingLiang and @keyur32 who might be able to provide more information. Ruoying is the current PM on Custom Functions but Keyur may also be able to help troubleshoot. Thanks!

[2019-11-18 19:27] AbidRahman-MSFT commented on #850
Hello @Moby-dev, thank you for your question.

This is unfortunately a current limitation as mentioned in the [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/attach-debugger-from-task-pane). The Attach Debugger tool is only supported for Visual Studio 2015 with Update 3 or later.

For debugging in Windows 10 on Edge or IE, please refer to:

https://docs.microsoft.com/en

[2019-11-18 22:00] ghost commented on #823
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-18 22:00] #823 closed, assigned to exextoc

[2019-11-18 22:40] chopranitin opened #859 "isSetSupported method for 1.8 returns false for exchange online"
i am trying to use isSetSupported method to check if it supports latest api or not (1.8 in this case) on different versions of outlook. it gives correct result when used with in outlook client, but when using outllok on web it returns false result even my subscription is office 365

## Expected Behavior

when i am running addin on outlook on web with office 365 subscription Office.context.requirem

[2019-11-18 22:43] nesbtesh commented on #829
Hi @RuoyingLiang  @keyur32  please let us know how we can achieve this

[2019-11-18 23:02] sumurthy commented on #809
Porting fixes to prior versions is a fairly large undertaking. It is mainly due to the concerns around making changes to a stable build and the threshold that the bugs need to meet in order for us to recommend the fixes on older/stable builds of Office.
In addition, some of the fixes may use features not yet present in older builds and hence makes it harder technically to port all dependencies. Du

[2019-11-18 23:03] #809 closed, assigned to sumurthy, shaofengzhu

[2019-11-18 23:09] sumurthy commented on #801
We are still in the process of inquiring. We have also added this to our backlog. @kbrandl how do we deal with such issues (ones in the backlog?) Do we keep them open and update it at a later time?

[2019-11-18 23:14] sumurthy commented on #784
This has been fixed. I don't see the issue anymore on our end. Could you please confirm?

[2019-11-18 23:22] sumurthy commented on #709
We addressed this issue with this PR: https://github.com/OfficeDev/Office-Js-Requirement-Sets/pull/45/files
ExcelApi 1.1 and CustomFunctionsRuntime 1.1 now has the correct build#

Could you please verify that is the case on your end?

[2019-11-18 23:26] sumurthy commented on #307
The PR is under review: https://github.com/OfficeDev/Office-Js-Requirement-Sets/pull/43/files

[2019-11-18 23:55] morgan-tr commented on #809
@kbrandl Thank you for your response and for involving the right person.

@sumurthy Thank you for the explanation.

[2019-11-19 00:10] JuaneloJuanelo commented on #322
Sorry for the enormous delay on this, this is unfortunately not something that our team directly owns, so that's why, mostly, the delay.
We recently ship an attachments API (in our 1.8 release) that enables you to add a base64 encoded attachment, have you tried this? here is more info https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.8/office.context.mailb

[2019-11-19 00:13] adam-harwood commented on #322
Thank you @JuaneloJuanelo . We have tried that API, and it does fix the issue, but as far as I know 1.8 is still in preview and not GA. Do you have an expected timeline for GA?

[2019-11-19 00:28] JuaneloJuanelo commented on #322
1.8 is GA now!  it was announced a couple of weeks ago (@Ignite!!)
Starting on: Windows: 16.0.12130.20272 , Mac: 16.31 November Update, Online November

[2019-11-19 00:43] adam-harwood commented on #322
Oh great, thank you @JuaneloJuanelo . That workaround is sufficient for us then.

[2019-11-19 00:47] JuaneloJuanelo commented on #859
Hello ! this is a known issue and we are working on a fix!

[2019-11-19 00:49] JuaneloJuanelo commented on #822
known issue, fix coming soon.

[2019-11-19 02:04] LiJiang-msft commented on #841
Thanks to confirm that. I'm not familiar with O365 or tenant stuff, might you could ping you tenant admin to know if the bits is up-to-date (I assume you're not an on-prem user?).

I'm not sure, but if you give me some your tenant information , for example, tenant id/name, data center, I might could try to dig little bit more.

[2019-11-19 03:00] ghost commented on #819
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-19 03:33] RuoyingLiang commented on #764
@4tti how about we have a quick call so our developer can look at the issue?

[2019-11-19 03:45] exextoc commented on #347
Thanks for writing to us. Unfortunately we don't have an ETA for fix as of now. We will pick this item as soon as we can.

[2019-11-19 04:00] exextoc commented on #817
Sorry for the delay in response. We added this to our list and we will investigate this issue. Thanks for reporting the issue.

[2019-11-19 05:00] ghost commented on #394
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-19 05:49] RuoyingLiang commented on #764
@4tti could you double confirm if you have delete this folder in the machine? ~/Library/Containers/com.microsoft.Excel/Data/Library/Application Support/Microsoft/Office/16.0/Wef

If the issue still exist with the folder deleted, how about we have a quick call to let our developer take a look?

[2019-11-19 06:14] hxltinh commented on #394
@weshi we meet this problem when adding  base 64 image content, even larger than 30MB.

[2019-11-19 06:52] RuoyingLiang commented on #840
As long as the ID is not changed, the setting should be readable from the new add-in.  Please let us know if you encounter issue after update.

[2019-11-19 07:46] salmanansari-gep commented on #819
@weshi Thanks for your input.

As this feature is not supported by the WOPI host you can go ahead and close the issue.

[2019-11-19 09:33] biswanathc commented on #845
Thanks. This has worked for us

[2019-11-19 09:33] #845 closed, assigned to nobody

[2019-11-19 10:56] ndeeH commented on #837
Hi @AbidRahman-MSFT,
first I found a **WorkAround** - simple setting a **background color** 🙈 in our add in hides the rendered image below. _May be this was the difference to other add ins?_

**_Is it a requirement for an add in to set a **background color** and not use default (transparent)?_**
(When no background color is set you see the effect described in the issue)

Now we continued testing w

[2019-11-19 13:41] DougCoraritoAT commented on #842
Hi Wenbo,

To answer your question, we are developing an add-in that adds and removes comments.  Since the current Javascript API does not have functions for manipulating comments, we are adding comments, commentStart, commentEnd and commentRef elements manually.

We get the body ooxml, create a dom, manipulate that structure then serialize back to ooxml and insert.

Please let me know if I can pr

[2019-11-19 15:53] 4tti commented on #764
@RuoyingLiang absolutely, let us double-check tomorrow! I'll let you know!
Thank you.

[2019-11-19 18:01] anilreddyr7 commented on #849
Outlook Version is 1902 (build 11328.20438). Can you let me know why it occurs?

[2019-11-19 20:01] smaremanda commented on #846
@Moby-dev - Thanks for reporting the issue. I was able to repro it. We'll look into it and get back to you.

[2019-11-19 20:30] rickgoud commented on #853
I have the same issue. Any update on this?

[2019-11-19 21:08] sethachoi commented on #856
Hello I believe this is related to my issues #792 and #791 there's some additional test code + gists in those as well!

[2019-11-19 22:42] lukchen opened #860 "coding suggestion"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

So It's not a bug but a tiny suggestion that may help the office.js code can be integrated into 2nd party more smoothly.
I fou

[2019-11-20 01:00] weshi commented on #819
Closing this and tracked as a feature request to support it in WOPI host.

[2019-11-20 01:00] #819 closed, assigned to nobody

[2019-11-20 04:44] lumine2008 commented on #856
@sethachoi , I checked with my team, for the cell edit mode error message, we are not able to repro. but we can repro prevent the format change from updating. (#792 issue)  team is investigating on preventing format change issue now.

[2019-11-20 07:17] anilreddyr7 commented on #849
@exextoc Do you see any issue with this build 1902?

[2019-11-20 11:03] AndreaFrancoQlik commented on #841
Hi @LiJiang-msft ,

It seems like some users in our tenants are configured in "Targeted release", while others are on "World wide standard release". Does this means that we need to be in the targeted mode to receive fix earlier? Or is there a particular mode to be used to receive fix earlier?

[2019-11-20 11:22] officeAddinDeveloper commented on #841
hi @LiJiang-msft,

If I understand correctly, users can be configured to be on different update channels: https://docs.microsoft.com/en-us/deployoffice/overview-of-update-channels-for-office-365-proplus. It seems that in my organization we have some users in the targeted release and some in the default one. Is there a correlation between the cannel and the possibility to receive the patch? Or are

[2019-11-20 11:27] sumurthy commented on #855
Tagging folks to see if this can be fixed. @weshi isn't @types/office-js updated with ExcelApi1.10?

[2019-11-20 11:30] sumurthy commented on #860
@jayrathi is this something we could do? Not sure where this code is.. probably in the loader?

[2019-11-20 15:59] lukchen commented on #860
What I found were in access-web-16.00.js and debug, and some excel-web js

[2019-11-20 16:09] AbidRahman-MSFT commented on #837
Thanks for the added information. The issue of having the rendered image being overlaid on top of your add-in is unique, I'm glad you were able to find a workaround! Adding @donlvMSFT to help with your background color requirement/workaround question.

For the thumbnail view: The snapshot feature of the add-in that assists in rendering the thumbnail of the add-in is implemented using html2canvas w

[2019-11-20 17:12] neso613 opened #861 "How to insert custom HTML form into Message's Body in Outlook App in windows using Office-js"
Hi geeks
I have developing an Outlook add-in using office-js API.
My task is to insert custom HTML form into Message's body of composing mail.

It is working fine with OWA, custom HTML form renders as HTML .But with, Windows Outlook App, it renders as Text.

Can it is possible to insert HTML form into message's body as HTML, not as Text.
Thanks!!
Looking for response.

[2019-11-20 17:13] ndeeH commented on #837
Hi @AbidRahman-MSFT,
I am not sure if presentation mode ever worked in PPT Online - the add in was not visible inside PowerPoint Online before some weeks. In the desktop version it works without any problems.

Here is the console output while getting this error - but this could be "normal":
[code]

_Any ideas?
The error message `"We couldn't connect the catalog server for this add in"` seems stran

[2019-11-20 17:23] ndeeH commented on #837
#198 was the same issue I had reported long time ago. The issue was closed but is not fixed -
I am renaming the title face this prob.

[2019-11-20 17:27] AlexJerabek commented on #855
@sumurthy [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/office-js/index.d.ts) is updated, but the nuget package is not. This is the problem we were discussing with @kbrandl.

[2019-11-20 17:32] helpyhelperton commented on #855
Gents, before you spend anymore time on this, I abandoned this effort in the interests of time and have reverted to yeoman project with VS Code and debugging Excel Online add-in in the browser.

That said, @AlexJerabek explanation makes a lot of sense and I still have the project hanging around so if the NuGet package will be updated, I'm happy to spend some time to give it a run so that others ma

[2019-11-20 19:56] exextoc commented on #797
Since it works Online, but not windows desktop. We have a few suggestions to identify the problem.
1. Please check [add-in debugging page](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10) to see if there is some error message showing up.
2. Please provide fiddler trace log to us for further investigation.
3. As suggested before, it

[2019-11-20 20:13] exextoc commented on #849
What is your IE version? Please check [requirements for running office add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/requirements-for-running-office-add-ins).

[2019-11-20 20:29] niteshgolchha85 commented on #355
Restart Office = close all office applications (Eg: Word, Excel, Powerpoint, Outlook, etc) and start again

[2019-11-20 21:11] lukchen commented on #843
Hi lumine, just curious to know if the workitem is only internally visible or its status can be seen by public?

[2019-11-21 00:29] TCourtneyOwen commented on #770
@tiagordc https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/tree/master/SSOAutoSetup will not currently set the reply urls for your tenant.  To do so manually do the following:

- Open Powershell as as admin
- Run 'Install-Module MSOnline'
- Run 'Connect-MsolService' and enter your dev tenant account
- Run 'Remove-MsolServicePrincipal -ServicePrincipalName 57fb890c-0dab-4253-a5e0-7188c88b2bb4'

[2019-11-21 00:58] keyur32 commented on #852
Hi,

So the locations listed above are correct in that is where we manage the cache of your installed add-ins on windows. The register is also where we register any sideloaded add-ins.

The other way add-ins are acquired is by your identity. Depending on the signed in user, Office will know what add-ins you are entitled to, whether they come from the store or centrally deployed. Once Office knows

[2019-11-21 02:21] donlvMSFT commented on #837
@weird-dreams , yes, the background color of add-in is transparent, since it couldn't render iFrame in thumbnail, if your add-in is base on an iFrame page, it will be transparent in thumbnail.
I think setting a background color could be a workaround to mark your add-in.

[2019-11-21 06:32] ZhouHansen opened #862 "Office Word Add-In Chinese garbled when get html from document body"
I am going to display the content of the current word document on Add-in Taskpane, I can achieve this simple task by calling [context.document.body.getHtml()](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#gethtml--) from which gets an HTML representation of the body object.

But the chinese characters in this html is garbled which means they represent nothing.

[2019-11-21 07:39] SWDevB commented on #852
Okay, this would mean without identity (Office on premise and not signed in in Office), deleting folder and registry key will remove the add-ins permanently. This then matches my experience from testing that case.

[2019-11-21 07:40] anilreddyr7 commented on #849
IE version is 11.864.17763.0 . We checked above link and every thing seems good. But not sure why we get the issue?

[2019-11-21 07:55] SWDevB commented on #852
What about Mac? It probably behaves the same in general, but is there anything involved beside the file system WEF folders?

[2019-11-21 08:09] 4tti commented on #764
@RuoyingLiang: thanks a lot. This has resolved the issue. We deleted all the folders mentioned in the docs... not this one.
@kbrandl: please update the docs! Thanks a lot all of you!

[2019-11-21 08:10] 4tti commented on #764
@kbrandl : feel free to reopen and transfer if required for the docs update.

[2019-11-21 08:21] ndeeH commented on #837
@donlvMSFT  Good point. We will try this...
Users only want to see content - so the "marker backgrounds" have **not** be "visible".
For example we hide app bar buttons and all around when users are not interacting with the add in.

[2019-11-21 08:51] anilreddyr7 commented on #849
We observed on one system. It was working till yesterday. All of sudden, we are facing this issue.
"Sorry, we couldn't load the app because your browser version is not supported. Click here for a list of supported browser versions."
We observed that outlook is not updated and IE 11 is on the system. Nothing get updated. It sounds strange to us. I suspect that it is happening due to some windows up

[2019-11-21 08:54] donlvMSFT commented on #837
@weird-dreams , if I'm not misunderstanding, you want to highlight content in the thumbnail.
Because of the limitation of iframe, maybe you could try to do a simple HTML but not fill all contents in the iframe.

[2019-11-21 09:05] exextoc commented on #832
It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-11-21 09:17] MartinSSeifert commented on #827
@weshi This is an inconsistency in using insertHTML('some text\n', 'replace') between **Word for the Browser** and **Word for Windows**. In this case, we believe **Word for the Browser is doing it correctly** and Word for Windows has a bug and is doing it incorrectly. For solutions to work cross-platform we need consistency across all hosts!

[2019-11-21 09:27] exextoc commented on #853
@rickgoud we are actively working on this issue. We will update you once we have details.

[2019-11-21 11:01] ndeeH commented on #837
@donlvMSFT  No - we only have the inserted chart content in an iFrame - the app itself is simple HTML and we using now background-colors where it is possible.

@AbidRahman-MSFT  Please could you follow up the issue in presentation mode - because this is a show stopper for a power point content add in.

[2019-11-21 12:35] Rinzwind commented on #594
Shouldn’t this get fixed (even if there’s another API that can be used)? I'm encountering what seems to be the same problem.

I tried the Script Lab example given above. It works as expected in Excel for Mac (first screenshot), but in Office Online, the setting seems to get lost upon doing “refreshASync” (second screenshot).

The console on each screenshot shows the output of using “Read Setting”,

[2019-11-21 16:24] AbidRahman-MSFT commented on #837
@weird-dreams I was unable to reproduce the error when installing the "IDL.PRESENTATION" add-in from the store and using presentation mode on PPT on Web.

Can you confirm that this issue only occurs during development (when sideloading the add-in)?

[2019-11-21 18:23] shyambhiogade opened #863 "Excel Addin command button icons are not visible when using http"
hi All,
I have similar problem as mentioned in this stack overflow question,
https://stackoverflow.com/questions/47086236/office-add-in-commands-button-icon-images-not-showing-up

and I can see that if I use https, images are displayed,

Is there any way images can be displayed when using HTTP, we distribute office add-in in an on-premise application. our user may not have an internet connection a

[2019-11-21 21:09] lukchen commented on #813
I want to close this issue since it haven't got any progress here. Also installing the self signed certificate into user's trust store is security violation in general

[2019-11-21 21:09] #813 closed, assigned to lumine2008, tutieu

[2019-11-21 21:10] lukchen commented on #816
I want to close this this for rasing another issue

[2019-11-21 21:10] #816 closed, assigned to lumine2008, tutieu

[2019-11-21 21:29] lukchen opened #864 "Is it possible Excel Addin provide an option makes the internal browser client to trust localhost webserver with self signed certificate?"
Due to security concerns, I have closed some previous issues that relates to making excel work with localhost webserver with self signed certificate. I think a standard way might be the solution if possible.

Is it possible for Excel Addin to configure the browser to trust https localhost webserver without explicitly instlalling certificate into system browser? So there wont be annoying security w

[2019-11-22 00:01] niteshgolchha85 commented on #241
@Harshagracy can you send across what's the exact error that you are getting? Is this error only for getAccessTokenAsync API or for others under Office.context also?

[2019-11-22 01:39] hello-chenchen opened #865 "Office.context.mailbox.item.addHandlerAsync api not work after the iframe redirect or reload on MacOS chrome browser Office365 Outlook"
For example:
Open "My Templates" add-on which every office365 outlook have this add-on. And open the developer tools in chrome. then select the "My templates" execute context. like the screen shot.
![image](https://user-images.githubusercontent.com/1878089/69331027-06133480-0c8f-11ea-9a04-41479015a114.png)
![image](https://user-images.githubusercontent.com/1878089/69331050-12978d00-0c8f-11ea-909c-

[2019-11-22 05:22] biswanathc opened #866 "Loading multiple content control through loop creating nested relationship"
I created a project using Office js and word Api 1.3,which loads the Ooxml data of the content controls stored in database into the document. i am facing an issue while loading the Ooxml data which has content controls into document

for example: if i am loading 3 content controls into the document

my requirement is to load content controls one after another in the document like velow
![CC1](http

[2019-11-22 06:06] nsakar opened #867 "Single signon from Office addin not working with edge viewer"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
We expect our excel addin built using angular 2 and tested on office 1908 and windows 1809 where the webviewer is IE 11 to work seamlessly on Edge on windows 1903

[2019-11-22 07:19] barisbikmaz commented on #511
Just to note that we're still having this issue.

[2019-11-22 08:34] sourabhkrishna opened #868 "dynamic resize displaydialogAsync based on the container input"
Is it possible to have a dynamic height and width for the displaydialogAsync ? If so , how ?
I would need to edit the Dialog header to a custom html for an Outlook Add in - OnSend

My OnSend Add-in opens a dialog and I want to have custom CSS applied to the dialog style parameters.

[2019-11-22 08:41] exextoc commented on #868
Thanks for the questions. Can you provide following details?
Which office application are you working on?
Which variant of application are you using Windows App, MAC App or Web App? What is the version?

Also, have you tried following as per documentation at https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

By default, the dialog box will occupy 80% of the h

[2019-11-22 08:48] ndeeH commented on #837
@AbidRahman-MSFT Tried it again - and seems to work now.
I deactivated PrivacyBadger in Chrome - maybe this blocked some cookies that were needed.

[2019-11-22 08:54] MartinSSeifert commented on #191
@JuaneloJuanelo @weshi  can we not keep this issue open so you can report any progress here - that way we keep the communication up on this topic and do not need to re-create a new issue to ask for any progress update - thoughts?

[2019-11-22 10:08] sourabhkrishna commented on #868
I'm working on the OnSend Outlook Add In Web App.
The Dialog will be hosting my React OWA Addin. I'm looking to have dynamic height/width set based on the components I navigate in my react app.

Having this config object as suggested by you Office.context.ui.displayDialogAsync('https://myDomain/myDialog.html', {height: 30, width: 20}); means , the dialog is set to 30vh and 20vh. It wouldnt adjust

[2019-11-22 10:49] exextoc commented on #828
Sorry for delay, we are investigating the issue and we will get back to you soon.

[2019-11-22 12:28] kanaksony commented on #861
Hi, Is there any update? Is this a known bug or broken?
Thank you for the response.

[2019-11-22 13:11] SWDevB opened #869 "Office (Excel) online doesn't validate manifest"
When uploading a manifest file in Office online, via "Upload My Add-in", it seems the manifest isn't validated, because I was able to run a invalid manifest file.

## Expected Behavior
I expect Office to reject the uploaded file. I wouldn't expect a detailed message but something like "The uploaded file isn't a valid manifest" would be appropriate

## Current Behavior
I would like to support custo

[2019-11-22 13:39] eneoli commented on #833
Message format: S/MIME
Signed from: *censored*
Time: 09:52:24 04.11.2019
Digest algorithm; SHA256
Signing algorithm: RSA (2048 Bits)
Certificate from: COMODO RSA Client Authentication

[2019-11-22 16:10] zhoukq opened #870 "When network is disconnected, Office.context.mailbox.makeEwsRequestAsync will block"
Follow https://github.com/OfficeDev/office-js/issues/788, we use `Office.context.mailbox.makeEwsRequestAsync` to get all recipients info.
But when the network is disconnected, this API call will hang and never return.

This issue can reproduce in Mac desktop application

## Expected Behavior
Make the API return timeout error in a reasonable time when the network is disconnected
Or
Make us can set

[2019-11-22 18:35] jargil commented on #846
@Moby-dev - with Edge, when you close the Taskpane the "browser" process is closed. Your cookie is not setting any expiration, thus the cookie is deleted immediately, which is the default behavior when no expiration is specified. See https://www.w3schools.com/js/js_cookies.asp

If you want your cookie to exist through taskpane reopens, then do something like what the site above suggests:

[code]

[2019-11-23 00:00] ghost commented on #709
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-23 00:00] ghost commented on #680
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-23 01:00] ghost commented on #322
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-23 01:04] exextoc commented on #861
There are some difference between desktop message body and a browser for Html input.
Could you please let us know what is the scenario?

[2019-11-23 03:36] sourabhkrishna opened #871 "How to open a task pane onSend ?"
How to open a task pane onSend?
Is it possible to show multiple displayDialogAPI onSend ?

[2019-11-23 08:51] neso613 commented on #861
Hi @exextoc

Scene is that, there is add-in commands on the ribbon of composing mail. On click of add-in command, a Taskpane is opens. TaskPane have some UI including table with some data.There is Download label and on click of it, I have to create HTML form with some static data having Textbox, checkbox and button.

Now, this HTML form should be rendered as HTML form.

Thing is this, OWA renders

[2019-11-23 12:37] scemis commented on #35
@JuaneloJuanelo Do we have any progress here? Please let me know if I can help anyhow. Thanks.

[2019-11-23 17:39] exextoc commented on #849
Could you try to reset your IE settings to default and see if the issue is still there? If yes, please try to find if add-in can load in IE and other browsers.

[2019-11-23 23:08] ambachtelijk opened #872 "[Outlook] Office.UserProfile.displayName returns e-mail address instead of display name"
When the display name in Outlook is requested from the user profile by calling `Office.context.mailbox.userProfile.displayName`, their e-mail address is returned instead. Similarly, the `emailAddress` and `timeZone` properties appear to represent the wrong properties in [the documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.userprofile?view=outlook-js-1.8).

## Expected

[2019-11-24 09:43] adam-harwood commented on #322
This issue definitely cannot be closed. Although a workaround is present, the original issue still exists, and as far as I know not even the documentation has been changed to indicate the old API doesn't work.

[2019-11-24 20:42] slabereemsft commented on #870
Anjana, this is reported against Mac so sending your way first.

[2019-11-24 23:14] kbrandl commented on #764
Re-opening this issue and transferring it back to the docs repo to track the need to update the docs.

[2019-11-25 02:00] donlvMSFT commented on #760
Thanks for the information. We move the cursor to formula bar, it actually into cell edit mode.

This error message could be caused by cell edit mode. We forbid API call explicitly when user enters cell edit mode (i.e. user inputs in formula bar or in a cell).

You could try to catch this error and give some tip to user to escape cell edit mode and try again.

[2019-11-25 02:45] LiJiang-msft commented on #841
Sorry I'm not familiar with that, but from my understanding, you and your org should in the latest bits. We have a internal thread discuss some issues, might related to your problem, we will get more information and ping you back right here. Thanks for your patience.

[2019-11-25 02:50] LiJiang-msft commented on #841
btw, @officeAddinDeveloper , is that possible you give another try on your tenant to see if the issue still persistent? That definitely will help us. Thanks.

[2019-11-25 03:46] exextoc commented on #828
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2019-11-25 06:06] anilreddyr7 commented on #849
Resetting IE settings didn't help. Add in is working in all browsers. It is not working only in Outlook client. Even in IE browser, it is working fine.

[2019-11-25 07:41] RuoyingLiang commented on #829
@nesbtesh You may need to add web service to your database, then you can use web service calls to get information from your DB in Office add-in's custom function.

[2019-11-25 08:04] topkoong commented on #856
@lumine2008 Thanks for the update! Can you try clicking a cell and then randomly or immediately selecting the cell back and forth breaks the app with a simple Excel.run code?

[2019-11-25 08:08] topkoong commented on #784
@sumurthy I think it is fixed cuz I no longer see an error message regarding OTel not loaded. By the way, I was wondering if you or your team could confirm that you have fixed the issue.

Thank you for your time and consideration!

[2019-11-25 08:24] exextoc commented on #853
We have fixed this issue and it will be 100% live in ~1 week.

[2019-11-25 08:26] exextoc commented on #859
We have fixed this issue and it will be 100% live in ~1 week.

[2019-11-25 08:44] exextoc commented on #817
@timothyhoffmann Do you use the class for specific styling in UI? and it is not reflecting as expected?

[2019-11-25 08:47] jagibe opened #873 "[Excel] Data validation list with indirect reference not being applied"
We're trying to add a data validation list, that references a column table.
In order to automatically add the option if new row is added, we use the INDIRECT formula.

## Expected Behavior
The data validation list is added to the cell.

## Current Behavior
Doing this validation manually, works perfect.
From code the list icon appears, but the list is not shown when clicked. When the data validatio

[2019-11-25 09:17] mrqzzz commented on #846
@jargil - Thanks for looking into this.
I verified that cookies with an expiration are kept.
But the Session cookies are not.
And the typical scenario is where authentication to a 3rd party domain passes a Session Cookie, that gets deleted when the "browser" process is closed.
With IE there was a "backing browser" process that kept cookies alive.
Instead with Edge there is only the "browser" proce

[2019-11-25 09:32] exextoc commented on #857
Thank you for reporting this issue. We are able to repro this and it has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-11-25 11:48] TobiasWolters opened #874 "Sideloading broken with Office 365 ProPlus 1910"
After updating my Office applications to version 1910 Build 12130.20410, I cannot sideload my add-ins for testing purposes in local Office applications.
I follow the steps at: [docs](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins).
This has worked perfectly fine for all Office versions preceding version 1910, and

[2019-11-25 13:24] thoffmann-fms commented on #817
I am parsing the body was was using the class name as kludgy part of a unique ID but after playing with it it seemed more reasonable to use the ID field for that purpose since it stays (mainly) untouched.  Having the <label> tags missing just makes the parsing a bit more tedious but not a big problem.

[2019-11-25 14:47] gordonmleigh commented on #35
I have the same issue. The reproduction is simple; `getActiveViewAsync` always returns `edit` and the handler for `Office.EventType.ActiveViewChanged` doesn't fire when you start presenting.

[2019-11-25 14:53] gordonmleigh opened #875 "PowerPoint web: goToById doesn't work when presenting"
When the slideshow has started, `goToById` doesn't change the current slide.

Possibly related: #35

## Expected Behavior
During presenting mode `goToById` should change the currently visible slide.

## Current Behavior
Nothing happens

## Steps to Reproduce, or Live Example
1. Open a slideshow on PowerPoint web and start the slideshow
2. Run `Office.context.document.goToByIdAsync(Office.Index.Nex

[2019-11-25 17:06] jargil commented on #846
@mrqzzz - most auth providers offer a way for the user to choose if they want to persist their login, also their 2FA in case they require that, it obviously depends on which auth provider you're using, if you have that option that should help solve this.
I've taken note of your feedback, thanks!

@smaremanda FYI.

[2019-11-25 18:35] ElizabethSamuel-MSFT commented on #800
The OWA bug has been fixed.

@wandyezj Thanks again for raising this issue.

[2019-11-25 18:35] #800 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2019-11-25 23:04] #837 closed, assigned to AbidRahman-MSFT

[2019-11-25 23:54] weshi commented on #873
@jagibe I tried both on Excel for the Web and Excel for Windows, but I didn't reproduce this issue. They work as expected, i.e., once you set the data validation to the list and linked to the table, then whenever you add a new row to the table, it is automatically reflected in the validation list.

[2019-11-26 00:00] ghost commented on #709
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-26 00:00] #709 closed, assigned to sumurthy

[2019-11-26 01:00] ghost commented on #680
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-11-26 01:00] #680 closed, assigned to sumurthy

[2019-11-26 02:52] exextoc commented on #790
Thank you for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-11-26 03:00] ghost commented on #241
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-26 05:00] donlvMSFT commented on #875
Hi @gordonmleigh , Thank you for reaching us!
I try `goToByIdAsync` API with my simple test add-in but it works well in PowerPoint Online. So we need more information to reproduce the issue.

- If your add-in is in the store, could you let us know the name?
- If not, could you kindly share the testing snippet with us?

That will be really helpful to us! Thanks!

[2019-11-26 06:22] exextoc commented on #865
Thank you for reporting this issue. We are able to repro this and it has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-11-26 06:24] exextoc commented on #832
@TobiasNissen Have you tried our preview API to add attachment to mail item? https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox.item#addfileattachmentfrombase64asyncbase64file-attachmentname-options-callback

[2019-11-26 06:50] TobiasWolters commented on #832
@exextoc Yes, thank you. Seems like a much better way to do this - especially with the inline option.

[2019-11-26 06:55] Harshagracy commented on #241
To getCallbackTokenAsync, I am getting this error.
[code]
![image](https://user-images.githubusercontent.com/14230498/68273167-b4ae5700-008b-11ea-94ed-4497e3ea1ba9.png)

[2019-11-26 07:41] officeAddinDeveloper commented on #841
Hi @LiJiang-msft ,

After I moved to a targeted channel to receive updates earlier in our tenant the addImage() method is working, however this is still NOT working for my colleagues. So now the question is how can we discriminate between API versions for our customers? We need a way to understand if they are using a particular API version or another since it is possible that some functionalities

[2019-11-26 08:23] LiJiang-msft commented on #841
I think we just figure out the root cause, that is a by design behavior, as some feature will only enable to some channel (For example, the target channel).
We're working on make that feature available for all channels, but unfortunately it might need another few weeks.
We will ping you back in this thread once it available to all channels.

[2019-11-26 08:36] lumine2008 commented on #856
Thanks @topkoong , I could not repro this issue when clicking the cell randomly but not entering the cell edit mode. if I enter the cell edit mode, it throws an exception, which is expected. because API cannot be run in cell edit mode is by design, the reason is CellEditMode is a very special mode in the Excel, both VBA and JS API cannot run in the CellEditMode. So API calls will fail and throw th

[2019-11-26 08:39] exextoc commented on #868
Currently the feature to adjust display dialog height and width depending on page which is being loaded in dialog is not supported. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning pr

[2019-11-26 08:46] jagibe commented on #873
@weshi
Hi. Thanks for your fast reply.
We were 2 days trying to find the problem. We were using the local formula ("=INDIRECTO") instead of
the english version ("=INDIRECT")

Sorry and thank you for your time and help

[2019-11-26 08:46] #873 closed, assigned to nobody

[2019-11-26 08:51] rakeshgorak opened #876 "FQDN name in the manifest file is not working."
Hello,
We are working on the Excel Addin using Office-js, and used a manifest file to load our Excel Addin.
In the Manifest file, if the URL is used with localhost the addin is loaded properly, but when it is used with FQDN name Addin is not loaded and the page is empty.
<DefaultSettings>
    <SourceLocation DefaultValue="http://machinename.domainname.com:portNum/ExcelAddIn/index.html" />
  </Defa

[2019-11-26 08:59] officeAddinDeveloper commented on #841
@LiJiang-msft ,
Thanks for your feedback.
This issue was also opened on stackoverflow (https://stackoverflow.com/questions/58818783/office-js-addimage-not-working-in-excel-online-version) where Rick Kirkham answered that "The Shapes APIs require Excel.js version 1.9." This is also what the public documentation says.

What you are saying here is different and not compatible with the public document

[2019-11-26 09:05] shubhashishtiwari commented on #3
@weshi : Thanks for the reply.
To your question asked above: Yes, this is issue is coming for outlook.

Details about the issue :  We are using displayDialogasync to display our HTML. In that HTML we have our custom files which are showing as attachment.  On these attachment,  we  want to provide users, a functionality of being able to download these files directly.  In implementation, we created

[2019-11-26 09:12] exextoc commented on #870
Thank you for reporting this issue. We are able to repro this and it has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-11-26 09:33] LiJiang-msft commented on #841
That is true the AddImage api avaialbe in 1.9, and you can trust the version.
But the issue we found right here, is that it not available to all users, even the reference set to 1.9 or later.

[2019-11-26 09:35] hello-chenchen commented on #865
hi @exextoc , thank you for your reply. Have got it.
Another high level question for the redirect:
When my manifast.xml for example like below:
[code]
So, when my add-on first request must be **https://google.com/application-xxx**, but the backend response set **307 Temporary Redirect** status code and set the Location header to "https://google.com.hk/application-xxx". And the whole add-on will be

[2019-11-26 09:40] mrqzzz commented on #846
@jargil - Besides the fact that most service providers won't change their way to persist a login (at least not so soon), I would like to add more significant feedback, from a user/developer perspective.

It makes sense that any kind of "Session Object" is kept alive for the lifespan of the whole Excel/Word/Powerpoint App, not for the lifespan of the Taskpane.
So, for example, until i keep the Exce

[2019-11-26 11:31] SWDevB opened #877 "[Excel] Activating XLL UDF compatibility removes or alters custom functions, namespaces and names"
Currently I want to activate XLL UDF compatibility in my Excel Office-Add-In. When I add the respective area in the manifest file (even with not matching identifiers for the XLL to use) the functions provided by auto completion are removed, renamed or have their namespace removed.

## Expected Behavior
I would expect, that the functions are either the same or if some conventions or technical issue

[2019-11-26 11:41] zakhan4 commented on #877
Hello,
I face the same issue and my configuration is:

Platform: PC
Host: Excel
Office version number: 365 ProPlus, 1912 (Build 12307.20000 Click-to-Run)
Operating System: Windows 10 Enterprise 10.0.18362

[2019-11-26 13:43] gordonmleigh commented on #875
@donlvMSFT see my repro repository here: https://github.com/gordonmleigh/repro-officejs-875

Click "Run" to start changing the slide every second. Click "Stop" to stop it.

When in edit mode, the slide changes (though it seems to select the slides in the sidepane which doesn't happen on other platforms).

After clicking "Play from beginning" to start the slideshow, the slide doesn't change. This w

[2019-11-26 13:48] gordonmleigh commented on #875
The repro code is in taskpane.js:

https://github.com/gordonmleigh/repro-officejs-875/blob/1fdc8eaa232d461f9f456c0b23ca4e5c4e40b1e5/src/taskpane/taskpane.js#L21-L35

[2019-11-26 13:50] sagarpilkhwal commented on #658
I'm facing same issue for Exchange2019 on Android Outlook client.

[2019-11-26 14:36] lukchen commented on #843
@lumine2008 Hi, any chance there would be a resolution timeline for this?

[2019-11-26 15:02] t-soares opened #878 "Office.context.mailbox.item.enhancedLocation.addAsync not working OWA - Exchange 2019"
When calling the Office.context.mailbox.item.enhancedLocation.addAsync from a add-in inside the web outlook connected to a Exchange 2019 on-premise, it returns an error:

[code]
The test team claims that this was working before.

## Expected Behavior
It should add the location to the meeting

## Current Behavior
An error is being thrown.

## Steps to Reproduce, or Live Example
Call the Office.cont

[2019-11-26 16:52] ElizabethSamuel-MSFT commented on #963
@surjyams Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2019-11-26 16:59] slabereemsft commented on #876
Hi Rakeshgorak,

If I understand correctly, your add-in manifest is still loading correctly in that an icon appears on the ribbon and you can click it but it fails to render the page.

If so, the best way to diagnose is to run Fiddler to intercept the traffic from the edge process associated with Excel to see what url it is trying to load and the response code.

[2019-11-26 18:06] dankurtzGR opened #879 "Office App - Word Task Pane - Cross window communication stopped working"
We have a office app for Word - a task pane
The task pane is a web page that has links to pop open other pages

## Expected Behavior

Open another page in javascript :

javscript code:
var myChildWindow = window.open ("https://samedomain.com/popuppage.aspx","_blank","")

 myChildWindow   should be accessible since its in the same origin as our task pane app page

## Current Behavior
Until about tw

[2019-11-26 18:43] kanaksony commented on #861
Appreciate any update on above. Really want to know if its a limitation that would not behave same on all platforms or a bug?

[2019-11-26 19:00] slabereemsft commented on #879
@jeremy-msft @shaofengzhu - This sounds like a regression though this is an older build of Office for Desktop so perhaps its a known regression?

[2019-11-26 20:53] JuaneloJuanelo commented on #322
As pointed out in stackOverflow, but adding this info here just as reference,  this is an Outlook bug, exactly the same situation happens when using  Outlook manually. This is not in the Office Platform.
As soon as the bug gets fixed in Outlook, the API will work as usual, as a workaround please use the attachments API.

Given that

a. this is not an issue on the Office Platform team and
b. Outloo

[2019-11-26 20:53] #322 closed, assigned to exextoc

[2019-11-26 21:02] JuaneloJuanelo commented on #861
Can you please attach
1. the HTML that you are inserting.
2. is your email set to rich text?

[2019-11-26 21:12] JuaneloJuanelo commented on #878
Yes, its working as expected. The enhanced location APIs are included in the 1.8 requirement set which is supported in Exchange Online. This functionality is not backported.

please check [this page](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets) for more info:

[2019-11-26 21:12] #878 closed, assigned to exextoc

[2019-11-26 21:31] JuaneloJuanelo commented on #871
1. there is no API to show a taskpane, please add request to uservoice.
2. no you can only have 1 dialog opened.

[2019-11-26 21:31] #871 closed, assigned to JuaneloJuanelo

[2019-11-26 21:31] #137 closed, assigned to JuaneloJuanelo

[2019-11-26 21:33] JuaneloJuanelo commented on #222
awesome! thanks for checking. case closed!

[2019-11-26 21:33] #222 closed, assigned to JuaneloJuanelo

[2019-11-26 22:44] exextoc commented on #833
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2019-11-26 22:44] #833 closed, assigned to exextoc

[2019-11-26 22:49] exextoc commented on #849
Could you share your windows build number as well. It might also be worth trying if you can use add-ins on other office apps, like say word/excel. Do you see the same error for those clients?

[2019-11-26 23:27] exextoc commented on #861
This is a limitation that would not behave the same across all platforms.
Outlook uses Word to render HTML.
Word converts any input HTML to Word's native format/elements/objects.
Due to this, not all HTML elements appear as they would in a browser.

[2019-11-26 23:40] exextoc commented on #872
We cannot reproduce this issue on recent builds of outlook. Can you try recreating a profile on Outlook and trying to see if that fixes it? Does it happen on all emails, read as well as compose? What happens after you restart outlook or is it always reproducible? Can you also maybe try on a different machine with the same account?

[2019-11-26 23:44] weshi commented on #862
Thanks for reporting this. I can reproduce this issue on Word for MAC. It works correctly on Word for Windows and Word for Web. We will do further investigation on the MAC.

[2019-11-27 00:18] yihuax-zz commented on #862
Hansen, Could you try getOoxml instead of getHtml and see? Thanks!

[2019-11-27 00:21] yihuax-zz commented on #755
This bug has been fixed and ported to O16 a month ago. the C2R branch has no such issue.

[2019-11-27 00:23] yihuax-zz commented on #755
It's Bug:3714707.

[2019-11-27 01:33] yihuax-zz commented on #866
You need to reload DocBody, since after you insert each content control, the body needs to be updated.

[2019-11-27 02:09] weshi commented on #312
Reopen as this is not marked as stale now.

[2019-11-27 02:31] ZhouHansen commented on #862
getOoxml works fine.

[2019-11-27 05:58] biswanathc commented on #866
@yihuax  Could you please share a code snipped on how do I do that? I am writting the entire load logic under initial load function only.

Also, isn't it possible to move the cursor out of content control followed by a vertical space? There will be many content controls to be loaded during initialization and after every load, refreshing body will slow down the entire initialization.

Please sugges

[2019-11-27 06:06] kanaksony commented on #861
@exextoc this is disappointing for me and my client.

Can you please suggest if there is any other way we can achieve this functionality using available APIs, may be I am not aware of one that can do the needful?

My client has a survey product, so this add-in will help the sales people to populate forms inside mail body which they created on backend before.

[2019-11-27 06:50] donlvMSFT commented on #875
Thanks @gordonmleigh , I could repro this issue using your add-in.

I have open an internal bug 3809617 to track, will come back when there's any update.

I notice you use setInterval() to run the API, and the API `goToById` runs well separately, So do other APIs work well using setInterval(), like insert some text?

What you provide for us is helpful to resolve the issue.

[2019-11-27 07:15] anilreddyr7 commented on #849
We have observed that task pane add ins are not working in other office apps like word, excel. Just checked MS Word and it is not working as it is in outlook. Kindly suggest what might be issue? Windows 10 details are windows 10 enterprise, Version 1803, OS build: 17134.1069. This is installed very long back.

[2019-11-27 09:18] Barax67 opened #880 "displayDialogAsync problem on 16.0.12130.20390"
I developed an Outlook addin to integrate some reservation functionalities from our system (access control). The addin work as expected with Office version 16.0.11328.20468.
## Expected Behavior

CallingdisplayDialogAsync with a valid url, the addin execute the navigation
## Current Behavior

Calling displayDialogAsync with a valid url, the addin do not execute the navigation so the content is nev

[2019-11-27 10:13] exextoc commented on #858
Thanks for reporting this issue. We are aware of this issue and working on it. We unfortunately have no timelines to share at this point.

[2019-11-27 10:15] SWei1234 commented on #858
Okay, if any progress please let me know.

[2019-11-27 14:43] biswanathc opened #881 "Rich Api error at context.sync() when trying to insert html input fields into a content control using InsertHtml method"
I am trying to insert the below html into a content control using word api i am getting Richapi error at content.sync()

html Code with checkbox:

<html>
<head>
</head>
<body>
<input type='checkbox'/>
<p>Click the checkbox</p>
</body>
</html>

code used to insert html into Content Control:

function InsertHtml() {
        Word.run(function (context) {

            var Html = "<html><head></head><b

[2019-11-27 14:44] biswanathc commented on #881
@weshi

[2019-11-27 19:13] AbidRahman-MSFT commented on #838
Hello @weird-dreams,

Thank you for bringing up this issue - I am able to reproduce it and we have created a work item to improve the experience for content add-ins in PPT on web and fix the blurry issue on Chrome.

Unfortunately this is not an easy fix nor is it highly prioritized at this moment,  but we will keep you updated on any improvements.

Thanks for the patience,
Abid

[2019-11-27 19:23] gordonmleigh commented on #875
I also reproduced this by just running the `goToById` call from the console. I doubt `setInterval()` has anything to do with it. Can you share with me the code you say works?

[2019-11-27 20:48] exextoc commented on #849
@anilreddyr7 A couple of options to try out:
- Can you try disabling and re-enabling IE and see if that fixes the issue?
- If that doesn't, try upgrading to Windows Version 1903 to see if this fixes it.
- If none of the above options fix it/are viable, a system repair might help.
Basically it seems like some registry keys for the OS got corrupted which is what the infrastructure is dependent on.

[2019-11-27 21:07] exextoc commented on #861
This sounds like an ideal candidate for [actionable Messages](https://docs.microsoft.com/en-us/outlook/actionable-messages/send-via-email) instead.

[2019-11-28 00:53] yihuax-zz commented on #866
Suppose you already have a content control in Word, you can run the following code and it adds three more copies of the content control at the end of the file, and they are not nested:
Word.run(function (ctx) {
    var ooxml = ctx.document.body.contentControls.getFirst().getOoxml();
    return ctx.sync().then( function() {
        for (var i = 0; i < 3; i++) {
            ctx.document.body.insertO

[2019-11-28 02:17] donlvMSFT commented on #875
This is a content add-in I used, which jump to next page when click `Go To Next Page` button, it works well in presenting mode. Can you take a try?

https://github.com/donlvMSFT/officejs-goToById/blob/master/GoToById.xml

The code is like:

[code]

[2019-11-28 04:13] biswanathc opened #882 "Not able to pass parameter from html to word using query string/any alternative"
Hi team,

I am working on word addin project. Target environment is Office 365 Pro plus desktop and api version is 1.3.

My word document opens from one html based application. On click of a hyperlink, I am using uri scheme to auto open the document. My requirement is to track which user is opening the document. For this I wanted to pass user ID value through querystring like below

https://mydoma

[2019-11-28 05:00] xiaochunms commented on #877
@SWDevB your steps are valid. And in general, the current behavior of custom function XLL compatible is by design. Prior to custom functions, XLL runs well in Excel on Windows. You may notice XLL runs without namespace, which is the convention for XLL in Excel. No namespace for XLL compatible custom function follows the same convention. The design as such is not to break the conventions that XLL u

[2019-11-28 06:29] surjyams commented on #963
Could you please suggest what specific word or group of words in the message body would qualify as a TaskSuggestion entity? I have the following text in the message body, which does not get identified as a TaskSuggestion entity: `@Valid Domain User, could you please take a look?`

[2019-11-28 07:42] JuaneloJuanelo commented on #866
hello @biswanathc , this is an interesting case, and to some degree what you are experiencing is by design, let me explain.

The key to understand this problem is how the insertLocation parameter works. There are 5 options: replace (self-explanatory), start/end and before/after.  Start/End will insert content within the boundaries of the object, whereas before/after insert content outside the boun

[2019-11-28 09:23] exextoc commented on #865
We are unable to repro this. Can you share repro steps? Also share code snippet which you are using for redirect. Is it same code which you shared earlier?

[2019-11-28 09:39] hello-chenchen commented on #865
Actually, it is not the frontend code behavior.
I just designated the entrance url to my web server application in the mainfast.xml, for example "https://google.com/application-xxxx". But my web server(nginx) set response code to **307 Redirect ** status code and Location header to "https://google.com.hk/application-xxx". For example:
![image](https://user-images.githubusercontent.com/1878089/6979

[2019-11-28 10:04] hello-chenchen commented on #865
happy Thanksgiving

[2019-11-28 10:38] yurii-zhuk-mstr opened #883 "Run time logs are not available on Excel Desktop Windows"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

According to the [Documents](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#use-runtime-logging-to-debug-your-add-in) on official web site runtime l

[2019-11-28 12:16] ndeeH commented on #730
@crazygao  Any news?
(Sry - described reproduce steps with my other user.)

[2019-11-28 14:24] zakhan4 opened #884 "Microsoft Office Professional Plus 2016 Office.context.requirements.isSetSupported("CustomFunctionsRuntime", "1.1") return true"
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-requirement-sets states that "Excel custom functions are not supported on Office 2019 or earlier (one-time purchase)." But when I tested for the requirement set in Office 2016 for custom functions it states that it supports.

## Expected Behavior
I expect Office.context.requirements.isSetSupported("CustomFunctionsRuntime",

[2019-11-28 14:31] SWDevB commented on #877
Thanks for your reply, so if compatibility is declared in the manifest:

- If there is a namespace, it is removed
- If there are not supported characters in the function names they are replaced by underscores

An additional issue regarding this is: When I add the yo office example function increment back in the functions.ts, all functions are gone. That's the case because XLL compatible functions

[2019-11-29 02:03] xiaochunms commented on #884
May  you please test further to confirm custom function does work with your version Microsoft Office Professional Plus 2016 32-bit (Version 1910, Build 12130.20410)? You may can use function feature of scriptlab or install add-in **WA104381720** from the store. Click on the '**Show Taskpane**' button. Execute function **CONST_ASYNC()**

[2019-11-29 06:38] biswanathc commented on #866
@yihuax  @JuaneloJuanelo  Thanks both!! Worked like a charm!

[2019-11-29 06:38] #866 closed, assigned to nobody

[2019-11-29 06:38] weshi commented on #191
Re-open the issue for tracking purpose. Thanks.

[2019-11-29 07:01] TobiasWolters commented on #874
Any news on this? It is quite urgent. @nokafor @LouMM

[2019-11-29 07:27] MartinSSeifert commented on #191
@weshi **thx. for re-opening**. Do you have a tag for '**product parity bug**' - If yes I think this would better describe the situation as a product feature request might slip the ranks in the roadmap but a parity bug might attract more attention (so we hope) - thoughts? cc: @JuaneloJuanelo

[2019-11-29 09:03] jak-hammond commented on #482
@exextoc I have had many versions since I first observed this issue, I am developing against the Fast Insider preview, I will get my repro app back out and test again to see if this issue is still present on the latest version

[2019-11-29 12:05] sourabhkrishna commented on #379
In the latest version , the inline attachments are being fetched even after remove from the mail body.

[2019-11-29 13:19] SWDevB commented on #877
An additional question I would like to ask regarding this issue.

We have an Add-In which implements custom functions by using Add-In-Express' ADXXLLModule and we were able to create custom functions having a dot in their names and so having kind of a namespace.

As you wrote, XLL doesn't support this. Of course Add-In-Express isn't your problem and I don't know how they managed to do that, but fr

[2019-11-29 13:37] ddanehl opened #885 "Chart is sometimes not updated when source is a volatile custom function"
when you have a chart which source is a range with volatile custom functions, it can happen that it is sometimes not updated. you then have to move/resize it that it is updated.

## Expected Behavior
that the chart updates always correctly

## Current Behavior
chart is sometimes not updated and is displayed as empty

## Steps to Reproduce, or Live Example
use ScriptLab volatile sample (ROLL6SIDED)

[2019-11-30 07:00] ghost commented on #241
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-30 10:00] ghost commented on #846
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-11-30 20:00] ghost commented on #876
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-01 22:00] ghost commented on #861
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-02 00:48] sureshjoshi opened #886 "Office Online should inform users about missing cookies/permissions/environment"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have a functional Word Add-in on Word 2016/2019 on Mac and Windows - but when I try to load it in Word Online, I get the `Uncaught (in promise) TypeError: Cannot read property 'run'

[2019-12-02 04:44] neso613 commented on #861
@exextoc Thanks for making it clear.

[2019-12-02 04:44] #861 closed, assigned to exextoc

[2019-12-02 06:34] ravikmrsingh8 opened #887 "Office.context.host, Office.context.platform, Office.context.ui etc is undefined, even if Office.initialize callback was invoked"
Properties of Office.context e.g Office.context.host, Office.context.platform, Office.context.ui etc are undefined. We verfied that the Office initialize callback was invoked.

## Expected Behavior

If office environment is initialized then Office.context properties should be present in the object.

## Current Behavior
In few of our customer logs we see that the office.initialize call succeeded bu

[2019-12-02 07:15] RuoyingLiang commented on #885
Thanks for reporting. This is a known issue. We are working on fixing. Sorry for the inconvenient.

[2019-12-02 07:23] hello-chenchen opened #888 "Dark mode is not support the add-ons, on Outlook 365 Browser"
right display ui in light mode:
![image](https://user-images.githubusercontent.com/1878089/69937665-50f63d00-1516-11ea-820f-9fc884b82558.png)
wrong display ui in dark mode:
![image](https://user-images.githubusercontent.com/1878089/69937757-8c910700-1516-11ea-8774-136f5b951b54.png)

**prefect solution:**
provide the Office.context.officeTheme api on the browser(it only provide for windows client r

[2019-12-02 09:47] Moby-dev commented on #846
@jargil , will this issue be tracked here or elsewhere?
Thank you.

[2019-12-02 10:10] zakhan4 commented on #884
I can confirm that custom functions are not working in Microsoft Office Professional Plus 2016 32-bit (Version 1910, Build 12130.20410). When I tried to register "Basic custom function" sample from the Script Lab I got this error:

Error:
{
    "description": "There was an internal error while processing the request.",
    "message": "There was an internal error while processing the request.",

[2019-12-02 10:20] kacper-kowalski-mstr commented on #883
Hi, any news on this one?

[2019-12-02 11:54] Domen122 commented on #883
I have the same issue, tried on multiple devices and no logs from console.log are visible

[2019-12-02 12:15] exextoc commented on #482
@TheSamsterZA We could not reproduce this on Office Online. Could you give us the endpoint you use (URL) and the code you ran?

[2019-12-02 12:47] harri-rajala-koivu-solutions commented on #740
@lumine2008 Any update on this issue?

[2019-12-02 12:50] markb-trustifi opened #889 "addHandlerAsync doesn't work with AttachmentsChanged and RecipientsChanged"
## Current Behaviour
The 1.8 features don't work in any client - Win/Mac/OWA.
Executing `Office.context.requirements.isSetSupported('MailBox', '1.8')` returns true.

This event works OK:
`Office.context.mailbox.addHandlerAsync(Office.EventType.ItemChanged,...)`

These events don't work:
`Office.context.mailbox.addHandlerAsync(Office.EventType.AttachmentsChanged,...)
Office.context.mailbox.addHandl

[2019-12-02 13:27] exextoc commented on #865
@hello-chenchen This seems like a different issue to the one originally mentioned in your post. Could you please start a new issue for this so we have more clarity?

As for your initial addHandlerAsync issue, we unfortunately don't have timelines for the fix yet - but one workaround you could do is call removeHandlerAsync and addHandlerAsync again after the redirect.

[2019-12-02 14:02] exextoc commented on #888
@hello-chenchen Could you provide more info on how we can reproduce this (the second image)? Could you share part of the HTML / CSS?

[2019-12-02 16:31] THPubs commented on #776
@exextoc Sorry I did not get to check the trace. However, I'm proxying the request through another server to hide the host url. But still pass all the headers as it is and I can access the file using the proxied url from the browser. Might this be an issue?

[2019-12-02 17:41] jargil commented on #846
@Moby-dev - we took note of this feedback, thanks! However please know that at the moment there's no planned work to change the way this works and should be considered by design for the platform.

The best way for this type of scenarios to move forward, is to have your auth flow have an option to "remember" the user, equivalent to how most auth providers work, where you select a checkbox and movin

[2019-12-02 17:41] #846 closed, assigned to smaremanda

[2019-12-02 22:13] exextoc commented on #833
I also want to add a note that you can use get-item EWS method to get the attachment IDs.

[2019-12-03 01:47] 9esuLuciano commented on #841
@officeAddinDeveloper , we made a change try to resolve the issue and should already ship to all tenant users, can you give another try, to check if it work for you?

[2019-12-03 01:59] donlvMSFT commented on #841
Hi @officeAddinDeveloper , we made a change to resolve the issue, it should already ship to all tenant users.

Could you give another try to check? Thanks!

[2019-12-03 02:00] RuoyingLiang commented on #884
Thanks @zakhan4 ! This is very helpful. you are using an O365 account to update Office to version 1910 right?

[2019-12-03 02:07] zakhan4 commented on #884
Dear @RuoyingLiang ,

Yes that is correct. I'm signed in with my Office 365 account in Office 2016

[2019-12-03 03:14] xiaochunms commented on #877
Thanks for your questions. Please let me list all questions below to make sure each one can be addressed well.
1. Namespace for XLL compatible mode,
2. Not supported characters in the function names,
3. When I add the yo office example function increment back in the functions.ts, all functions are gone. That's the case because XLL compatible functions don't support streaming?
4. Add-In-Express's A

[2019-12-03 05:30] SWei1234 opened #890 "[Outlook add-in]add-in not work on outlook 2013 when manifest.xml write VersionOverridesV1_1"
add-in not work on outlook 2013 when manifest.xml write VersionOverridesV1_1.
show："can't start this program,cause not set program name: XXX"

## Expected Behavior
add-in work normal.

## Current Behavior

When we add VersionOverridesV1_1 to our manifest, then outlook 2013 can not run this add-in.
So I wonder is there a way to let it works on outlook 2013 with VersionOverridesV1_1. Or we can find

[2019-12-03 06:35] lumine2008 commented on #836
@dinglicoding can you repro in your machine?

[2019-12-03 07:59] crazygao commented on #730
@weird-dreams Yes, I could repro now, but I'm not quite sure about the root cause... I think it quite need some time. Sorry for the late reply

[2019-12-03 09:06] hello-chenchen commented on #865
@exextoc okay, i will log a new issue for this one, and sorry for not describe the problem not clearly.
I will try to give you some demo code to simulate the backend server behavior and manifest.xml for how to repro this problem in the next few days.

[2019-12-03 09:15] glr0221 commented on #658
Hello Microsoft team,

Any news on this item? Or should this be addressed by the Exchange Server / Office 365 team?

Thanks.

[2019-12-03 09:43] hello-chenchen commented on #888
I think maybe tag this as a feature request will be better.

For the second image:
@exextoc there is no need any other html/css, you just need to open the outlook setting, and switch to dark mode.
![image](https://user-images.githubusercontent.com/1878089/70037944-68a2f380-15f2-11ea-8f6a-81a815b44ec4.png)
And "My Templates" is Microsoft provide the templates example for office 365 add-on users may

[2019-12-03 09:47] hello-chenchen commented on #888
If my body css no background-color set, the default color is transparent, and it will show like below:
![image](https://user-images.githubusercontent.com/1878089/70039461-fa136500-15f4-11ea-8e48-f0a2b062a370.png)

[2019-12-03 13:06] exextoc commented on #888
Thanks, we are able to reproduce this issue. We will investigate if this is the expected behavior in this scenario and keep you informed. In the meantime, you could create a feature request to provide the Office.context.officeTheme API for OWA.

[2019-12-03 14:26] SWDevB commented on #877
Thanks for your reply. It seems all issues are tackled right now.

#3 This is about my Step 4 of the initial steps to reproduce. None of the defined functions is available in Excel any more, after `increment `is added while XLL equivalent is configured. That for me makes it impossible to provide this function for example in a XLL compatible. So is it possible to provide an add-in which contains XL

[2019-12-03 17:50] jargil commented on #241
@Harshagracy - 5001 is an internal error, so several things could have gone wrong, one possible being you have an old Office.js version cached in your browser. Could you try clearing your browser cache and retrying?

If you still hit the same problem, please comment again adding your session id (in Word Online, go to File, then About) and please paste the information that shows under the Diagnosti

[2019-12-03 21:00] ghost commented on #876
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-03 21:00] #876 closed, assigned to nobody

[2019-12-04 01:13] dinglicoding commented on #836
@lumine2008   no. my machine is fine.

[2019-12-04 03:31] xiaochunms commented on #877
Thanks for your explanation. You really raised valid comments and provided good practices for XLL compatible. Thank you!

May you please drop the file to my private mailbox: xcliang72@yahoo.com? I'll get back to you once I do some tries.

[2019-12-04 06:58] hello-chenchen commented on #865
hi @exextoc , for the  initial addHandlerAsync issue, i try to use your workaround solution, but it seams not work for me.

what the demo code when after the redirect:
[code]

[2019-12-04 07:36] #890 closed, assigned to exextoc

[2019-12-04 08:12] exextoc commented on #865
@hello-chenchen Could you make sure you call addHandlerAsync in the callback for removeHandlerAsync? We want to make sure we don't do an addHandler before the previous one is removed.

Like so:

[code]

[2019-12-04 08:43] hello-chenchen commented on #865
@exextoc , please see the screen shot below. Is this the sequence of execution you want? which from the console on the right side. Or could you share your demo code and the sequence of execution to make this work?
![image](https://user-images.githubusercontent.com/1878089/70126122-4e7d1a00-16b3-11ea-8f16-53508c0ce4f8.png)
there is no any change or console log when i change the end Time

In fact, t

[2019-12-04 08:46] rakeshgorak commented on #876
There was a compatibility issue when added the below tag in the html file header. it worked.

meta http-equiv="X-UA-Compatible" content="IE=edge"

[2019-12-04 09:06] exextoc commented on #776
@THPubs We are not sure if this would be an issue. The network trace when making the request would clarify this. That should help us root cause this issue on OWA as well.

[2019-12-04 09:35] exextoc commented on #865
Sorry, looks like the workaround also has the same issue. This has been put in our backlog.

[2019-12-04 09:40] hello-chenchen commented on #865
all right, got it. thanks~

[2019-12-04 10:49] exextoc commented on #658
Thanks for your patience and sorry for the slow response. We are able to reproduce this issue on Android for the Message Header Analyzer add-in. We are working on a fix. Unfortunately, we don't have any timelines to share at this point.

If there are any other add-ins from Store that are not showing up on Android, please let us know so it's easier for us to fix and test.

[2019-12-04 11:53] 4tti commented on #883
Confirmed, have the same issue with latest insider build on window 10.
Excel version 1912(Build 12325.20012)

[2019-12-04 12:30] exextoc commented on #880
Could you give us the following information to clarify?

1. Is it happening in Desktop Outlook and Edge both?
2. You mention that it was working in Desktop version 16.0.11328.20468. Was it working on Edge at the time?
2. Could you post the _exact_ code snippet that reproduces the error (without the URL)? (we are not able to repro using the code you provided)
3. Could you try a different URL and te

[2019-12-04 12:57] TobiasWolters commented on #874
Update: This is also an issue with version 1911 (Build 12228.20332)

[2019-12-04 13:49] exextoc commented on #717
We are not able to open https://appsource.microsoft.com/en-us/product/office/WA200000175. Could you verify if that is the add-in link you wanted to share?

Can you also verify that the API works in the latest OS versions, and the issue _only_ happens in Mac OS Sierra 10.12?

EDIT: We are able to access the link now.

[2019-12-04 13:55] Barax67 commented on #880
1) Yes
2) No, the first try of this addin was tested only against Outlook Desktop version
3) See at the end of this message; tested passing GitHub.com as URL
4) I tried now, same result

-----------------------------------
FunctionFile.js source code

`
var passedCid = "";
var dialog;

Office.initialize = function () {
    passedCid = getParameterByName("cid");
    console.log(" *** cid: " + passe

[2019-12-04 14:05] wondarkid commented on #658
An outlook account can be regarded as a Microsoft account and it gives you access to so many things. Apart from the email service provider, there are also several other things you stand to gain from a Microsoft account. For instance, you can use only one Microsoft account for everything Microsoft. What do I mean by this? What I mean is that with just signing u for a Microsoft account once, you can

[2019-12-04 16:26] slabereemsft commented on #876
Thanks for replying back and letting us know that you solved it.

[2019-12-04 22:06] hjkim-MSFT commented on #842
The problem here is that the xml modified by DOMParser is malformed. To work around this problem, you could directly use the value of the return from body.getOoxml() like this.

[code]

You can also try this by importing this snippet https://gist.github.com/hjkim71/91ace5043c13add529888b3e6b9ac509 into Script Lab (http://aka.ms/getscriptlab).

We're working on a fix for the crash.

[2019-12-05 01:08] weshi commented on #881
You cannot use insertHTML API to insert check box, etc. These are special controls in Word that are not supported to be added by this API.

[2019-12-05 01:14] weshi commented on #191
@MartinSSeifert there isn't a '**product parity bug**' tag. Let me also add '**product bug**' tag as well for tracking.

[2019-12-05 02:13] nesbtesh commented on #829
Yes but it defeats the purpose of having excel plugins. Up to now, it was really easy for anyone to create excel plugins using VB. But the problem was the deployment. Now you have fix the deployment but maid it hard to built extra functionality (custom functions)

[2019-12-05 07:02] exextoc commented on #889
Since AttachmentsChanged/RecipientsChanged events occur in the item scoped, the call is Office.context.mailbox.item.addHandlerAsync.  See https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.8/office.context.mailbox.item#addhandlerasynceventtype-handler-options-callback

[2019-12-05 10:59] xiaochunms commented on #877
@SWDevB you may can contact with me via xiliang@microsoft.com too. I am sorry for any confusion for you with my private mailbox.

[2019-12-05 12:30] exextoc commented on #888
The behavior shown here is expected, please submit a feature request to provide the Office.context.officeTheme API for OWA.

[2019-12-05 13:09] biswanathc commented on #881
Thanks

[2019-12-05 13:09] #881 closed, assigned to nobody

[2019-12-05 13:13] biswanathc commented on #882
@weshi  Can you help?

[2019-12-05 13:49] exextoc commented on #880
We are able to run your code and it works for us. We get the following log messages:

 *** G.1
 *** G.2
 *** F.1
 *** F.2
 *** BEFORE H
 *** AFTER H
Agave.HostCall.ReceiveResponse
 *** H

Can you try running the same code in a task pane add-in instead of UILess? Does it still not work? We are trying to get to the root of the problem.

[2019-12-05 14:16] Barax67 commented on #880
Do you mean using this kind of section in the addin manifest

[code]

instead of this one

[code]

[2019-12-05 15:34] exextoc commented on #880
Yes, it needs to also have an HTML page that includes the JS file. You can call the launchApp function in Office.initialize (cannot have a FunctionName element in type="ShowTaskpane").

[2019-12-05 15:56] Barax67 commented on #880
Ok thanks. I'll try tomorrow morning.

[2019-12-05 17:11] markb-trustifi commented on #889
@exextoc Thank you for update. I checked `RecipientsChanged` and it works well on all types of clients. There is a problem with `AttachmentsChanged` - it constantly sends add/remove notifications in infinite loop without stopping.

[2019-12-05 18:08] exextoc commented on #889
Glad that it worked.  I cannot repro the AttachmentsChanged issue in PC desktop Outlook.  Could you confirm which clients you are seeing the infinite loop?  Could you also post the snippet you are using?

[2019-12-05 18:26] markb-trustifi commented on #889
The infinite events start when I add attachment (manually) in compose window. It happens in all clients.
[code]
The events arrive in pairs - add,remove,add,remove,...
When I remove the attachment (manually) I receive 3-5 identical "remove" events.

[2019-12-06 00:22] Rick-Kirkham commented on #608
This is now documented and you should see the change in the next few days in this article: https://docs.microsoft.com/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

[2019-12-06 03:00] ghost commented on #875
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-06 09:16] exextoc commented on #858
@SWei1234 This issue has been fixed. Please update to the latest Insiders Fast build to get the fix, or wait for the Insiders Slow build to roll out.

[2019-12-06 09:16] #858 closed, assigned to exextoc

[2019-12-06 15:16] gordonmleigh commented on #875
@donlvMSFT This really doesn't need my feedback for you to look at it, I've clearly identified a problem and you have confirmed a repro. I'll try your code anyway and get back to you shortly.

[2019-12-06 15:18] gordonmleigh commented on #35
@JuaneloJuanelo @ElizabethSamuel-MSFT @lindalu-MSFT is anyone looking at this?

[2019-12-06 20:52] caolgood opened #891 "Translated custom functions cannot be added through Excel API"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

My add-in task pane is using this code to insert a function into the selected cell:
`range.formulas = [['=SUM(1,2) & CONTOSO.ADD(1,2)']];`
 By default this has the expected result, bu

[2019-12-07 19:00] ghost commented on #241
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-07 20:00] ghost commented on #797
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-08 10:00] ghost commented on #776
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-08 12:15] SWei1234 commented on #797
@exextoc yes, we have had a meeting with our customer recently. And we found that some setting in IE will cause Outlook localStorage access denied. Then we tried close protect mode and set default security level but it doesn't work.(The machine that has the problem will still have a problem, and the machine that does not have the problem will not make a mistake. )
So I have a question : How do I n

[2019-12-08 12:15] SWei1234 commented on #797
@exextoc yes, we have had a meeting with our customer recently. And we found that some setting in IE will cause Outlook localStorage access denied. Then we tried close protect mode and set default security level but it doesn't work.(The machine that has the problem will still have a problem, and the machine that does not have the problem will not make a mistake. )
So I have a question : How do I n

[2019-12-08 16:59] jrpally opened #892 "Created Office Word App with Yarn / Not able to sideloading office web Word"
I can run my app on Office Desktop, but when I upload my manifest in Office Web Word I cannot see my app reflected in the word web app ribbon.

Any idea why?  I am using this initializer.

Office.initialize = () => {
	isOfficeInitialized = true;
	render(App);
};

[2019-12-08 23:00] ghost commented on #872
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-08 23:00] ghost commented on #849
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-09 06:25] xiaochunms commented on #891
The [link ](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-localize) explains how to localize custom functions. In the case of localized file Yoeman generated, such as functions-de.json, you may notice "ADD" in English is translated to "DE.ADD", which is not a real translation, instead it is more like a sample to figure out the part needs to be localized. You may can ch

[2019-12-09 09:14] RuoyingLiang commented on #650
The issue is already fixed. Could you update to latest version and check again? If you still encounter this issue, please let us know with your Excel Build number. Thanks

[2019-12-09 10:00] ghost commented on #482
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-09 15:11] caolgood commented on #891
'DE.ADD' is a valid name according to the guideline [here](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-naming), and I can reproduce this with any other normally translated name. In fact this also occurs in an English locale if you have a function where the name and id are different.
When setting a value on `range.formulas` I'm expecting to be able to use the ids of m

[2019-12-09 15:25] Barax67 commented on #880
I tried the taskpane way but do not know how to pass the "event" parameter to the launApp function. In any case, despite a couple of exceptions, the taskpane asks me to open a new window and I see the expected content.

[2019-12-09 16:42] tcrusson opened #893 "Jira add-in stopped loading on insiders fast (works fine in monthly)"
We're the vendor for https://appsource.microsoft.com/en-us/product/office/WA200000556
The add-in doesn't load on the insiders fast distribution of excel
It loads fine in the monthly release of Excel

We tried uninstalling it to install it again, but no luck:
- we can't find it in the Office add-in store in Excel
- If we try to install it from appSource and select "open in Excel", it opens Excel bu

[2019-12-10 00:28] keyur32 commented on #893
Hey, there is a bug on insiders: internal bug 3812481, will be fixed on next update to Insiders/very soon.

[2019-12-10 02:12] lumine2008 commented on #735
Hi, @collinstowell , Do you expect to use this API in excel online?

[2019-12-10 06:19] ankushsolao opened #894 "Indent and alignment not working in office-js-in-word WordApi 1.1 & WordApi 1.2"
I am trying to add indent & alignment in paragraphs of the document. It is working for me when I have used office.js "WordApi 1.3" but I need to implement in the office.js "WordApi 1.1 or WordApi 1.2".

Below the code i have tryied using WordApi 1.2:-

context.document.body.paragraphs.getFirst().leftIndent = 75;
context.document.body.paragraphs.getFirst().alignment = "Centered";

below image code

[2019-12-10 08:29] lumine2008 commented on #792
Hi @sethachoi,
I think there are 2 issues in your post:
1) Cell Edit mode API issue
2) Spam click prevent the format change from updating

for 1#, I could not repro this issue when clicking the cell randomly but not entering the cell edit mode. if I enter the cell edit mode, it throws an exception, which is expected. because API cannot be run in cell edit mode is by design, the reason is CellEditM

[2019-12-10 08:41] xiaochunms commented on #891
You are right, "DE.ADD" is a valid name. Sorry for my mistake in my last response. I noticed you mentioned that "In fact this also occurs in an English locale if you have a function where the name and id are different." Does custom function work in an English locale if the function name and id are same? Actually custom function supports the case that function name and id are different. #NAME? erro

[2019-12-10 10:13] ravikmrsingh8 commented on #887
@shreedhart Any pointer on this?

[2019-12-10 11:21] anilreddyr7 commented on #849
Upgrading outlook to latest build worked for us. Thanks for your help.

[2019-12-10 13:15] ankushsolao commented on #894
I was trying to add indent in paragraphs of the document.
I have word 2016 MSO(16.0.4738.1000)32-bit).
I need to access this on WordApi 1.1 0r 1.2 not in WordApi 1.3(Its working fine for me)
below code i tried:-
context.document.body.paragraphs.getFirst().leftIndent = 75;

Please find the error detail:-
{"description":"InvalidArgument","name":"RichApi.Error","code":"InvalidArgument","traceMessages

[2019-12-10 13:38] dankurtzGR commented on #879
We determined that Word needed to be running with elevated rights for this behavior to work.  On our side those rights were recently removed, which triggered the issue to start happening

[2019-12-10 13:38] #879 closed, assigned to shaofengzhu, jeremy-msft

[2019-12-10 13:40] Barax67 commented on #880
I have to apologize but I made a mistake in reporting the error; the Office version with which I am developing and testing the addin is the 18.1910.1283.0. Sorry

[2019-12-10 17:00] ghost commented on #875
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-10 17:00] ghost commented on #842
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-10 17:00] ghost commented on #841
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2019-12-10 17:24] zakhan4 opened #895 "Tutorial: Share data and events between Excel custom functions and the task pane does not work"
I followed the tutorial here: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial and expected for it to work.

## Expected Behavior

## Current Behavior

After add-in is sideloaded, I get this error:
![image](https://user-images.githubusercontent.com/41992420/70552478-b632d980-1b79-11ea-96ab-7dd1684e49c3.png)

##

[2019-12-10 17:40] #849 closed, assigned to exextoc

[2019-12-10 18:31] weshi commented on #895
Could you manually add the function.js reference in your taskpane.html? This is because now you use taskpane.html to share state with your custom functions. The tutorial or the yo office generator didn't do that for you. Please hava a try and let us know if this can solve your issue.

[2019-12-10 18:47] #893 closed, assigned to nobody

[2019-12-10 19:11] exextoc commented on #797
Can you confirm that your customer is using IE instead of Edge WebView by checking their Windows versions here https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/

[2019-12-10 20:00] ghost commented on #241
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-10 20:00] #241 closed, assigned to jargil, niteshgolchha85

[2019-12-10 21:25] sethachoi commented on #792
hi @lumine2008

Thanks for the reply

For #1 that makes sense, but I was wondering if there's something we/I can do about that. The issue is because we can have calls queued up in the queue whenever something is happening, but because the user still has full control over the client they can just trigger the failure case whenever by accident. Is there any way to deny the user from trigger those cir

[2019-12-10 21:47] bx-anil opened #896 "_host_info query parameters and pipe"
## Expected Behavior
Opening an url via displayDialogAsync even when redirecting to servers that do not honor "|" in query in parameters

## Current Behavior
Opening an URL via displayDialogAsync fails when opening AWS API Gateway URLs or similar such servers where "|" is not honored/configured to be used. Though it may be for the server to accept "|" the best practice may be to encode the URLs

*

[2019-12-10 21:52] exextoc commented on #889
I cannot repro this in OWA or Desktop. Can you give us more details on what type of attachments you're adding and also how you are attaching them.

[2019-12-10 22:24] MandytMSFT commented on #883
I can repro on my desktop. BUG 3834042 has filed for internal track. Will return back to you once we have any update

[2019-12-11 01:35] lindalu-MSFT commented on #35
@mscaitlina Can you help us assign this to the correct person?

[2019-12-11 01:36] lindalu-MSFT commented on #35
Note: This is a browser issue. Works as expected in desktop. Is this is the backlog?

[2019-12-11 01:43] SWei1234 commented on #797
Our users haven't used the latest version of the Outlook. So the IE setting still have affect on Outlook. So I still need to know the question above?

[2019-12-11 04:51] sureshjoshi commented on #892
Hey @jrpally, when you upload your manifest, whether or not it shows up in the ribbon, I believe is entirely controlled by the Manifest and your organization's support for allowing addins.

Out of curiosity, have you tried in Incognito mode? I had a slightly different issue happen, after the plugin had shown in the ribbon - I couldn't actually launch it. I bug reported it here (#886)... But... You

[2019-12-11 04:53] sureshjoshi commented on #887
I'm not sure how much support you'll get without filling out the Context of the template.

[2019-12-11 04:56] sethachoi commented on #792
Update: can confirm that #2 happens, no idea re win32, only have access to x64

[2019-12-11 04:58] sureshjoshi commented on #842
For what it's worth, I've run into this problem on Word on MacOS (16.32) for a couple weeks now.  I mentioned it in #106 (which is about OOXML crashes and is 18 months old with no feedback)

[2019-12-11 07:12] donlvMSFT commented on #35
@scemis , thanks for reporting the issue. I did some quick repro but the API works well with my test content add-in (In below).
So I would like to get more clear about your scenario during following questions.
1. Do you use Content Add-in or Taskpane Add-in?
2. If it's Content Add-in, could you share your add-in for us to repro?
3. If it's Taskpane Add-in, could you share with us the add-in and ho

[2019-12-11 11:00] ghost commented on #776
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-11 11:00] #776 closed, assigned to exextoc

[2019-12-11 13:51] markb-trustifi commented on #889
I cannot reproduce it too now.
It can be related with `Office.context.mailbox.item.removeHandlerAsync`.
Maybe sometimes the controller destructor isn't called by angular.

[2019-12-11 17:20] JuaneloJuanelo opened #897 "Please send us feedback on Outlook Auto Run and enabling Signature Scenarios."
Please reply with feedback on our Signature and Auto-run designs for Outlook.

## What
During the December 2019 community call (find it [here](https://developer.microsoft.com/en-us/office/blogs/)) we shared the design draft for Auto-run Add-ins in Outlook as well as enabling signature scenarios.
This issue is to track your feedback, thanks in advance for your help making our platform better!

## I

[2019-12-11 18:13] exextoc commented on #889
Why do you think it is related to `removeHandlerAsync`? Are you calling `Office.context.mailbox.item.removeHandlerAsync` in your code?

[2019-12-11 20:36] caolgood commented on #891
If the English locale's functions use the same name and Id I don't see any issues.
Should also note that typing out my custom functions in the worksheet always works fine, its just programmatically setting them that seems inconsistent

[2019-12-11 23:32] exextoc commented on #797
We are not sure how to reproduce the Access Denied error for `localStorage`, however you can try disabling DOM Storage in IE by clicking on the **Settings** icon, then **Internet Options**, switch to the **Advanced** tab, then under the **Settings** section, scroll down to the **Security** subsection and uncheck **Enable DOM Storage**.

[2019-12-12 00:00] ghost commented on #872
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2019-12-12 00:00] #872 closed, assigned to exextoc

[2019-12-12 05:01] lumine2008 commented on #804
Hi @cawise , Based on our team's investigation, and confirmed with the PM of this feature, the way to address this issue should be a new feature for the binding object, we have converted this 3747318 to a feature request. So would you please provide us feedback via https://officespdev.uservoice.com/.  and upvote for this feature. thanks for your support.

[2019-12-12 05:09] exextoc commented on #896
This is as per current design. if you want to request it, We track Outlook add-in feature requests on our user-voice page.

[2019-12-12 07:36] TobiasWolters commented on #874
Update: This is also an issue with version 1911 (Build 12228.20364)

[2019-12-12 09:57] markb-trustifi commented on #889
Yes, I do. But before it reproduced, I opened and closed add-in (compose view) multiple times because some Angular error. Now, when I open it first time it works well.

[2019-12-12 10:34] TobiasWolters commented on #874
I've made this work by using Ngrok and pointing it to my localhost. Thus, it seems like the issue occurs because it somehow fails to resolve localhost in the local Office applications.
Even though this solves my issue temporarily, a fix should still be implemented, or the documentation should be updated: [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-s