[2021-06-10 18:28] exextoc commented on #1911
How often are the errors being reported? Is it consistently happening across certain users?
Is your add-in using pinnable task pane and is it self-hosted?

[2021-06-10 18:38] exextoc commented on #1871
Please email it to OutlookAddins@M365x693897.onmicrosoft.com.

[2021-06-10 18:44] davidfishlock commented on #1911
I see about 10 reports of this per-week, in some cases I see it reported multiple times for the same user but generally a different user on each report.

Our add-in is not using a pinnable task pane, it closes when a user switches to a different message or we have finished the workflow on the current item.

I'm not sure what you mean by a self-hosted add-in, we are hosting the static html/js files

[2021-06-10 20:00] ghost commented on #1874
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-10 21:22] exextoc commented on #1911
Just to clarify, are you also self-hosting Office.js or Outlook.js files? (ie https://appsforoffice.microsoft.com/lib/1/hosted/Office.js)

[2021-06-11 00:05] exextoc commented on #1872
Thanks for the suggestion. It's not part of the EWS documentation, but the supported APIs are documented in a couple of places in the Outlook add-ins documentation.

For `makeEwsRequestAsync`, the EWS APIs supported by this method are documented here in [Call web services from an Outlook add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/web-services#ews-operations-that-add-ins-su

[2021-06-11 00:05] #1872 closed, assigned to exextoc

[2021-06-11 00:33] markdon commented on #1873
@exextoc Thanks for looking at this again 😁  I guess I'm mixing my terminology. When I say group, I'm referring to a recipient that is not an individual and might be a Team, Sharepoint group or similar. When represented as an [EmailAddressDetails](https://docs.microsoft.com/en-us/javascript/api/outlook/office.emailaddressdetails?view=outlook-js-preview) object, I expect them to have the `recipient

[2021-06-11 01:18] ektadesai22 commented on #1867
@lliu113 - Yes, it fixed my issue. Instead of window.location.href, I have used messageParent event and reopen open dialog on success.

[2021-06-11 01:33] jipinshi commented on #1916
We can repro the issue, internal 5182488 was reported to track it.

[2021-06-11 05:06] libjosep opened #1918 "How to create named items with special characters in the value"
When I try to create a named item with some special characters in the value, I am getting "InvalidArgument" error. If there is no special character in the value, it is working fine. With VBA, the same values are getting added after removing the special characters also it converts the date string to a proper numerical value. Is there anything else I need to do to support special characters?
Scriptl

[2021-06-11 06:14] saurabh-msft commented on #1908
Hi @mstancu-globe
Based on your last reply, can we close this github issue as resolved? Or if there is something else you need help with.

[2021-06-11 06:30] vinay-thallam commented on #676
I am still facing this issue.
@JuaneloJuanelo  Any update on this issue from microsoft ?

[2021-06-11 07:18] jipinshi commented on #1918
@Libinjoseph, can you explain which special characters in the value hit "InvalidArgument"?

[2021-06-11 07:21] libjosep commented on #1918
@jipinshi I tried `context.workbook.names.add("CurrencyVal", "$3,151,820");` and `context.workbook.names.add("DateVal", "June 30, 2020");`. In both cases I got this error.

[2021-06-11 07:41] jipinshi commented on #1918
@Libinjoseph , confirm the platform you are using, I guess it is excel online, correct me when I'm wrong. I tried win32, it works good while excel online will report error.

[2021-06-11 07:56] libjosep commented on #1918
@jipinshi Yes. I am trying in Excel online using google chrome.

[2021-06-11 07:59] jipinshi commented on #1918
5183160 was used to track the issue internally. Will update here when there is progress.

[2021-06-11 08:30] libjosep commented on #1918
Thank you @jipinshi

[2021-06-11 08:33] kullachoke-bosuwan-rft opened #1919 "[Excel] Enable/Disable Ribbon button not working on Chrome browser."
https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands
Enable/Disable Ribbon button not working on Chrome browser. The code used to work fine and we haven't change anything. Today ribbon api for enable/disable stop working with an error shown in image attached. We have already check following command in doc, the api should support. `Office.context.requirements.isSetSupp

[2021-06-11 12:00] ghost commented on #1819
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-11 12:25] davidfishlock commented on #1911
No, we include them via a script tag in the html header:
[code]

[2021-06-11 14:51] Alex0cean opened #1920 "set border error in Desktop Excel (Mac and Windows)"
In our Excel add-in we validate user input for business planning.
Invalid input is highlighted in red border. As soon as the end user corrects the wrong input, the border is changed.
Attached video shows that part of the border (the intersection) stays red although the color should change.

The error only occurs in Excel desktop, not in Excel Online.

The attached txt can be renamed to yaml and co

[2021-06-11 15:24] exextoc commented on #1905
The New Outlook for mac does support 1.8 requirement set now please check [here](https://support.microsoft.com/en-us/office/outlook-for-mac-release-notes-for-beta-channel-builds-d6347358-5613-433e-a49e-a9a0e8e0462a) for more details. Can you test if you face the same issue on New Outlook as well.

[2021-06-11 18:00] ghost commented on #1906
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-11 18:00] ghost commented on #1832
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-11 18:00] ghost commented on #1820
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-11 19:38] bharath-brat opened #1921 "Using Office.js or Office Scripts outside of Excel or Excel Add-in"
I am trying to Get the Value of the Active cell in Excel

I was able to get the Value by writing a simple Excel Add-in.

I was also able to do the same using Office-Scripts

Office-Script:
[code]
![Office-Script in Excel][1]

Similar code was used for Add-In:
Used stock code (example code) which did the same job

Home.html
[code]

Home.js
[code]

Now, I am trying to run this script from outside of

[2021-06-11 22:38] StephenRieger opened #1922 "Word online: ContentControl's cannotEdit property prevents deleting just the content control"
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.0.14209.41004
* Operating System: Mac Catalina, Windows 10
* Browser (if using Office on the web): Safari, Edge, Chrome

## Expected behavior
When I set a content control's cannotEdit property, I expect to be able to select the entire content control (and

[2021-06-12 00:00] ghost commented on #1078
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-12 10:14] crispybits commented on #1863
**This issue is specific to Word on web and leaves the document in an usuable state until the browser is refreshed.**

Caused by calling `Range.getHtml()` or `Range.getOoxml()` on a non-zero length range.
Gist <https://gist.github.com/crispybits/992c79fd2b14f5abfe702c963e7cce52>

Invoking these methods on a Range object will cause the document to become ReadOnly (Edit toolbar items will be disable

[2021-06-12 16:35] somenathmaji commented on #1905
I updated the outlook from the beta channel and I can confirm it's working properly on the New Outlook for mac.
However, it's reproducible on the Old Outlook for mac after the update.

[2021-06-13 00:00] ghost commented on #1403
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-13 00:00] ghost commented on #1356
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-13 00:00] ghost commented on #1014
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-13 15:37] CNANDAN opened #1923 "Deploy related bug"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Create a office SSO add-in, try to deploy as a static website from the build custom functions are not getting called.

## Should work as same as in local but as a static website

##

[2021-06-14 12:12] mstancu-globe commented on #1908
@saurabh-msft
Hi,
Yes, you can close this issue.
Thank you very much!

[2021-06-14 13:43] exextoc commented on #1909
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-14 13:46] exextoc commented on #1873
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point .We have a similar github issue at https://github.com/OfficeDev/office-js/issues/1909 .Please follow this link for future updates on this bug

[2021-06-14 14:00] ghost commented on #1819
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-14 14:00] #1819 closed, assigned to exextoc

[2021-06-14 14:01] exextoc commented on #1905
Thank you for sharing this issue. As a workaround, users can switch to the new Outlook for Mac experience which works as expected. We are not prioritizing this fix on classic Mac UI; please reopen the issue in case the workaround does not solve your scenario.

[2021-06-14 14:23] DmitryKostochko commented on #1832
I have tested the issue with Outlook Version 2107 (Build 14204.20006) Insider, the bug is not reproducible, thank you! Nevertheless, I will retest the issue again, when Outlook Current Channel gets this update.

[2021-06-14 16:58] exextoc commented on #1910
As per the [documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-1.2&preserve-view=true#setSelectedDataAsync_data__options__callback_) for setSelectedDataAsync() API , If the cursor is not in the body or subject field, an error should returned.we have added an item in our backlog to align with above scenario  . We unfortunately have no timeli

[2021-06-14 17:48] Dengshan2018 commented on #1913
@atvoegerl , thanks for reporting the issues. Could you add more details for the repro steps?

What does it mean "memory usage increases with every logged email"? How much memory increasing each time in outlook.exe?

[2021-06-14 18:37] massonj commented on #1921
The only supported way to run Office Javascript code outside of Excel is to se the Office Scripts integration with Power Automate for unattended execution, which you can learn about here https://docs.microsoft.com/en-us/office/dev/scripts/develop/power-automate-integration.

Hope this helps

Jim

[2021-06-14 18:37] #1921 closed, assigned to nobody

[2021-06-14 19:21] sohailzafar commented on #1919
Hi, thanks for reporting this. Just making sure that you are using shared runtime https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime.

[2021-06-14 20:00] ghost commented on #1906
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-14 20:00] #1906 closed, assigned to exextoc

[2021-06-14 20:00] ghost commented on #1820
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-14 20:00] #1820 closed, assigned to exextoc

[2021-06-14 21:28] cody-lettau opened #1924 "Outlook Add-in Icon not working on Android or new Mac UI"
## Your Environment

* Android mobile app (Outlook)
* Mac Desktop Outlook (New UI)

## Expected behavior
The icon shows as expected like on other platforms.

## Current behavior
Currently, the icon for our add-in on Android and Mac Outlook (new UI) is the default add-in icon.

## Steps to reproduce
Use ```https://cdn.virtru.com/outlookjs/images/virtru16.png``` as your icon image within the manifes

[2021-06-14 22:03] AltitudeApps commented on #1356
I cannot really say at the moment.  I had to move my attention to other projects.  If it's fixed, it could open up some opportunities for me.   But at the moment I do not have that particular programming environment set up.

[2021-06-15 02:00] ghost commented on #1078
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-15 02:00] #1078 closed, assigned to lliu113

[2021-06-15 03:24] kullachoke-bosuwan-rft commented on #1919
Yes, we're using shared runtime. Other platform like Excel for Windows and Excel for Mac are working fine. Web version used to work as well until last Friday, It start throwing this error and stop working.

[2021-06-15 05:08] sohailzafar commented on #1919
Got it, can you also share the version number of chrome? Also is it correct to assume that you have already tried to repro this issue on other browsers like Firefox Safari, or Edge and the issue did not repro there?

[2021-06-15 05:21] jipinshi commented on #1920
@Alex0cean, the issue can be reproable, have filed bug 5190397 internally to track the issue, will update here when there is progress.

[2021-06-15 05:27] kullachoke-bosuwan-rft commented on #1919
My chrome version: 91.0.4472.77 (Official Build) (x86_64) Mac OS (Cartalina 10.15.7)

By the way, I just test it on Safari and Edge Chromium. The issue also reproducible, I think it happens on all web version.

[2021-06-15 08:21] DmitryKostochko commented on #1910
@exextoc, Please have a look at the code sample I provided more carefully. We don't use Office.context.mailbox.item.setSelectedDataAsync, we use the [Office.context.mailbox.item.**BODY**.setSelectedDataAsync](https://docs.microsoft.com/en-us/javascript/api/outlook/office.body?view=outlook-js-preview#setSelectedDataAsync_data__options__callback_) method.

Additional details that I think may be help

[2021-06-15 08:31] nchakravarthi commented on #1480
@exextoc Is there any update on this issue?

Currently, we are asking our customers to stop using the _New Outlook for Mac_ due to this issue.

This is a critical bug in terms of the functionality, it is blocking majority of the APIs

[2021-06-15 09:00] ghost commented on #1801
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-15 10:00] jak-hammond commented on #1479
Sorry for such the long delay, I've just tested the steps using the sample application that I created before and can confirm that this is fixed and is now working as intended 👍

[2021-06-15 10:10] exextoc commented on #1910
Thanks for clarification and for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-15 10:14] exextoc commented on #1480
We have fixed the bug and the fix should be available in latest build.

[2021-06-15 10:15] AbhishekGupta100 commented on #1014
Hi, are there any developments on this? I'm having a similar issue where Office.context.ui.messageParent sometimes does not work in our Excel Add-in and usually works after closing the dialog box and trying again? It seems either that after some actions all Office functions stop work in the dialog box.

[2021-06-15 10:24] somenathmaji commented on #1905
Thank you for checking this. Most of our customers don't use the beta channel for updates. It will really be helpful if we can get this fix on the current channel.

[2021-06-15 12:11] deificx opened #1925 "Script error when loading telemetry script"
# Provide required information needed to triage your issue

## Your Environment

The users environment is:

* Platform: **PC desktop**
* Host: **Outlook**
* Office version number: **2016 (16.0.5.5161.1000) MSO 816.0.5.5161.1002) 64 bit**
* Operating System: **Windows 10**

## Expected behavior

Parse and run script, no script error.

## Current behavior

When calling `Office.context.ui.displayDial

[2021-06-15 13:10] exextoc commented on #1871
We are not able to reproduce this issue with the manifest shared . If the issue still repros , please provide the diagnostics ID by clicking on Help->Collect Diagnostics .Can you also try to install Script Lab and share code snippet to test API separately.

[2021-06-15 17:23] eat-sleep-code commented on #1871
16.50 became available on the current channel and appears to have fixed the issue.

Awaiting for a colleague to confirm it is working for them too.

[2021-06-15 18:24] Ssereno commented on #1864
@pkkj  Hi am run out of ideias. Your code works fine, i have made the comparison and find nothing. When i run my app on excel desktop still the same on, but on the browser works fine.

[2021-06-15 21:24] alison-mk commented on #1925
Hi @deificx, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-15 21:27] alison-mk commented on #1924
Hi @cody-lettau, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-15 22:09] lliu113 commented on #1889
@afcruzs - sorry you're hitting this issue! Unfortunately this is not a bug, ImageCoercion 1.1 and 1.2 is only supported for writing data, and not for retrieving data.

Please feel free to open up a request for this on the [Microsoft 365 Developer Platform](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform).

[2021-06-15 22:18] lliu113 commented on #1014
@AbhishekGupta100 - appreciate the check-in. Unfortunately we aren't able to debug further without a manifest which repros this. If you're hitting the same error, feel free to attach your manifest and we can take a look. Thanks!

[2021-06-16 00:45] StephenRieger opened #1926 "Word online: Can't copy/paste or cut/paste content controls"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 16.0.14210.41001
* Op

[2021-06-16 02:00] ghost commented on #1403
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-16 02:00] #1403 closed, assigned to lliu113

[2021-06-16 02:24] RuoyingLiang commented on #1917
Thanks for reaching us. This is an Word API gap in Web. Log a work item 5193496 to track this.

[2021-06-16 02:26] RuoyingLiang commented on #1914
Thanks for reaching us. Unfortunately we cannot repro with the sample code. Could you provide more information? e.g. a repro video, sample document, etc.

[2021-06-16 02:39] xiruatms commented on #1912
Thanks for reporting this.
Yes, as @barisbikmaz mentioned: the execution of the APIs packed in one context.sync() will not be guaranteed to be run in the same order as when writing them.

In this case, you can add one more "await context.sync();" after insertText();
        // insert text
contentControl.insertText("simple text", Word.InsertLocation.replace);
await context.sync();
contentControl.re

[2021-06-16 03:08] jipinshi commented on #1920
@Alex0cean , one workaround to unblock you is to reset the color in D4 and D5 in different context.sync

[2021-06-16 05:54] siseli opened #1927 "DisplayName hover text rendered with &quot entities when language is german"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment
* Host: Outlook
* Office version number: Web, Office365 (Version in JS: 20210524004.18)
* Operating System: Windows
* Browser: Edge
* Language: German (Switzerland

[2021-06-16 07:52] Alex0cean commented on #1792
Hi @msgarycha ,
do you have a rough ETA for the fix?
Best,
Alex

[2021-06-16 08:35] thanakrid-kunghair-rft commented on #1734
Hi @grangeryy @ElizabethSamuel-MSFT
I've still got this issue in Excel on Windows 10.
Here's my Excel's version.
![image](https://user-images.githubusercontent.com/73512008/122186685-7a887680-ceb8-11eb-9171-64d0bd4f509e.png)
![image](https://user-images.githubusercontent.com/73512008/122189445-2206a880-cebb-11eb-8db4-7d4e3a8a3d72.png)

For Mac version, it's working fine; streaming functions will r

[2021-06-16 08:49] grangeryy commented on #1734
Are you using O365 subscription? Notice the version of your Excel is Version 2008 (Build 13127.21668 Click-to-Run), is it one-time purchase version?

[2021-06-16 08:57] thanakrid-kunghair-rft commented on #1734
Yes, I'm using O365 subscription.

[2021-06-16 09:03] grangeryy commented on #1734
Could you check by clicking into the "About Excel" to see what the detailed version, starting with 16.XXX?
![image](https://user-images.githubusercontent.com/50093161/122190676-9e51b980-cec4-11eb-8966-e0adf59c90e7.png)

[2021-06-16 09:04] thanakrid-kunghair-rft commented on #1734
![image](https://user-images.githubusercontent.com/73512008/122190947-7d856600-cebc-11eb-976d-770acd3adc84.png)

[2021-06-16 09:05] thanakrid-kunghair-rft commented on #1734
![image](https://user-images.githubusercontent.com/73512008/122191083-9c83f800-cebc-11eb-8e55-d8be52f09701.png)

[2021-06-16 09:26] andreagasparin commented on #1887
Hi @smaremanda @lliu113,
Any chance having news?

[2021-06-16 09:35] grangeryy commented on #1734
Seems the version hasn't been updated in your case. Maybe you can try update the version using (usually monthly/beta/dogfood version update is faster):
![image](https://user-images.githubusercontent.com/50093161/122195528-073b3080-cec9-11eb-8388-a7ea43e8b114.png)

[2021-06-16 09:51] thanakrid-kunghair-rft commented on #1734
I can't change my update channel because it's managed by admins. I think my update channel is semi-annual enterprise.

[2021-06-16 09:57] thanakrid-kunghair-rft commented on #1734
So, the function should work when updates are applied, right? Could you specify on which version that this will work? Maybe I can check with my colleagues' Excel.

[2021-06-16 10:29] grangeryy commented on #1734
You're right:) it should be available starting from 16.0.14002.20000 for Windows

[2021-06-16 10:30] grangeryy commented on #1734
Semi-annual usually takes several months to be updated to the latest version :(
Guess that's why you don't see the change in recent two months.

[2021-06-16 11:17] milankonir opened #1928 "Inline images add by API missing after send"
# Provide required information needed to triage your issue

## Your Environment

* Platform: Office on the web
* Host: Outlook
* Office version number: N/A
* Operating System: Mac
* Browser (if using Office on the web): Google Chrome 91.0.4472.101 (Official Build) (x86_64)

## Expected behavior

The inline images attached via API should not be broken after hitting send.

## Current behavior

After

[2021-06-16 11:43] thanakrid-kunghair-rft commented on #1734
Thank you @grangeryy . I will check with my colleagues, if they have updated version.

[2021-06-16 13:40] paolocaminiti commented on #329
Any update?

We need tracking changes apis as well. For us is impossible to port native plugins in full to 365 without this.

Also all uservoice links are invalid now. Is this being "tracked" anywhere else?

[2021-06-16 14:29] KekeBenites opened #1929 "OfficeJS - Email Exchange - Outlook"
I'm developing a plugin using officejs , focused on outlook.
But outlook only accepts email exchange, and I need to use gmail and other platforms but does not enable the supplements. Is there another way to create addins for the office?
VSTO and COM are not options because it needs to be supported on IOS and Linux.

[2021-06-16 14:51] JulesRM commented on #1585
**### Thanks so much Jargil! You were right, one of the users had the add-in installed through Centralized Deployment and the rest through the Microsoft Store. That was causing the issue.** The user said that was never configured on their Office 365 subscription, but nevertheless when we checked there it was. So we removed it from Centralized Deployment and it started working ok again. Word did no

[2021-06-16 15:16] exextoc commented on #1928
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-16 15:58] StephenRieger commented on #1914
I've attached a screen recording running the gist from above and will add another gist to illustrate more of the insertOoxml issues I'm seeing.

https://user-images.githubusercontent.com/14093851/122252744-6f195900-ce80-11eb-9546-f497eddaa892.mp4

[2021-06-16 16:15] JulesRM opened #1930 "Custom Word and Outlook add-ins are not loading for 2 specific users with Angular2 SystemJS errors."
My Word and Outlook add-ins are not loading. They fail to load the webpage for our add-in with the error below. We try to navigate to the address for our add-in in a separate Edge and it loads correctly,  https://office.rocketmatter.net/Documents/
Instead of showing the Login screen it just shows the loading spinner because of a JavaScript SystemJS error,

### This is working ok for everyone excep

[2021-06-16 16:20] AbidRahman-MSFT commented on #1912
Closing the issue, please let us know if you have any additional questions. Thanks.

[2021-06-16 16:20] #1912 closed, assigned to RuoyingLiang, AbidRahman-MSFT

[2021-06-16 16:36] exextoc commented on #1927
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-16 18:50] bx-steven commented on #1884
I've gotten getSharedPropertiesAsync to return some values. Here is the REST endpoint that we used previously:
`https://outlook.office365.com/api/v2.0/users/{sharedProperties.targetMailbox}/calendar/events/{itemRestId}?$select=LastModifiedDateTime,Body,BodyPreview,iCalUId`
I don't believe this is working anymore. Is there a different REST endpoint for shared calendar?

[2021-06-16 18:53] exextoc commented on #1925
I looked into this and can repro the script error in Outlook 2016 MSI version. However, in my repro this particular script error is handled and does not impact dialog functionality.  In your customer's repro, are dialog functionality impacted if they dismiss the script error (and optionally select not to show the message again)?

[2021-06-16 18:58] AbidRahman-MSFT commented on #827
Internally tracking the issue with 4818602. Will provide an update as soon as we know more. Thanks for the patience.

[2021-06-16 19:09] deificx commented on #1925
We've attached a listener on `window.onerror` which trigger every time for our customer and they can't get through that. I guess we could ignore our error handling for this instance but it would be nice if it didn't crash, I think.

[2021-06-16 19:43] StephenRieger commented on #1914
This gist shows the bare minimum of what's needed to reproduce this:

https://gist.github.com/StephenRieger/8485b5d52cac3fdd234db73d87536330

Just click the "Setup" button once, followed by clicking the "Test" button twice. I'm running Mac Catalina/Safari. I've reproduced this in Chrome. I haven't tested this gist on Windows.

And this screen recording shows the results:
https://user-images.github

[2021-06-16 20:23] alison-mk commented on #1930
Hi @JulesRM, thank you for submitting this issue!

@AbidRahman-MSFT, can you take a look and help resolve or provide suggestions?

Thanks,
Alison

[2021-06-16 20:25] alison-mk commented on #1929
Hi @KekeBenites, thank you for submitting! We use GitHub issues to report bugs with the product, and it looks like you are asking a more general programming question. For programming questions, we suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question. Stack Overflow has an active community of d

[2021-06-16 20:25] #1929 closed, assigned to nobody

[2021-06-16 23:33] exextoc commented on #1884
To make sure I understand the current repro:
1. getSharedPropertiesAsync returns value
2. Get rest id by convertToRestID using item.itemId
3. get token via getCallbackTokenAsync
4. Use values from 1 and 2 to construct https://outlook.office365.com/api/v2.0/users/{sharedProperties.targetMailbox}/calendar/events/{itemRestId}?$select=LastModifiedDateTime,Body,BodyPreview,iCalUId
5. Use token from 3 t

[2021-06-16 23:48] exextoc commented on #1911
We have not been able to reproduce issue.  Do you have more specific repro steps here?  Do you see this issue with other APIs?  Just to make sure, are the calls to mailbox.getCallbackTokenAsync and notificationMessages.replaceAsync made after Office.initialize /Office.onReady (https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in)?

[2021-06-17 00:30] jwhite-venacorp opened #1931 "Excel.WorksheetProtectionOptions loaded from worksheet is invalid"
# Provide required information needed to triage your issue

We unprotect the worksheet so that we may manipulate them, and then reapply the protection options when we return control to the user. On the "InsiderPreview" build, we have to modify the `Excel.WorksheetProtectionOptions` object to re-apply the protection options.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]

[2021-06-17 02:18] lliu113 commented on #656
@mm90849491 - is your add-in using WebView2? To check, you can go to the personality menu and select security info. The runtime should be listed as Microsoft Edge.

If not, can you try and see if upgrading to WebView2 fixes the issue? Here are two links for more info:
[- Understanding the Office Add-in Runtime](https://developer.microsoft.com/en-us/microsoft-365/blogs/understanding-office-add-ins-

[2021-06-17 04:36] exextoc commented on #1905
What do you mean by beta channel ?Do you mean Insider fast?New UI is rolled to production and the using the toggle button in the image we can switch to new UI
<img width="361" alt="Screenshot 2021-06-17 at 10 04 18 AM" src="https://user-images.githubusercontent.com/28549921/122332149-955bf900-cf53-11eb-98e0-0edb6d77803e.png">

[2021-06-17 05:58] mm90849491 commented on #656
@lliu113
The problem used to persist on WebView2 only, as the old Excel using IE 11 was fine.
It seems had been fixed. We used to add `msOverflowStyle: 'scrollbar',` on root `<div />`, I just removed this line and scrollbars work fine in Task-pane.

[2021-06-17 06:34] exextoc commented on #1924
We are not able to reproduce this issue from our end.Can you please share the manifest to investigate further?

[2021-06-17 08:53] exextoc commented on #1877
Open Another Mailbox" scenario is not fully supported on Outlook Web Add-ins as of now. We are working on our document update to reflect this status.  We track Outlook add-in feature requests on our [Tech Community Page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please submit your request there and choose the appropriate label(s).

[2021-06-17 09:30] CNANDAN commented on #1388
@SanketDG Same here, My extension point is **AppointmentOrganizerCommandSurface** it works perfectly in local but when I try to access it through apache getting an error saying **Refused to run javascript URL**.

Attached an image for reference, any help would be appreciated.

![image](https://user-images.githubusercontent.com/38749220/122370391-a66d3000-cf7c-11eb-9ba3-00ef67b89b76.png)

[2021-06-17 09:45] lcarlier-arm opened #1932 "[Excel add-in] Worksheet getRange: An internal error has occurred."
Hello,
I'm writing an Excel add in in typescript that I'm running from my browser.
I'm getting the following error message in the console while running my script.

![image](https://user-images.githubusercontent.com/63111421/122372681-c7bc2500-cf58-11eb-8867-1e26c3352c3a.png)

The code which is being executed is the following

[code]
The data are coming from a webserver which I'm querying via a RES

[2021-06-17 10:51] siseli commented on #1869
Why has this issue been closed? Has the bug been fixed?
The issue is a major problem when implementing outlook addins.

[2021-06-17 12:57] cody-lettau commented on #1924
@exextoc can I shoot you an email with the manifest? Maybe we have an issue with the format of our manifest.

We are typically loading the manifest via OWA using a local file. The add-in icon works okay across most platforms (OWA, Mac Desktop -- not the new UI though, iOS, Windows Dekstop), but does not appear on Android or the Mac Desktop - New UI. We see just the default add-in icon instead.

[2021-06-17 13:03] bx-steven commented on #1884
Those are the exact steps we're doing to submit the REST request. To be clear, this endpoint is what was supposed to be use in shared calendar context and wasn't being used for a while, but after getting getSharedPropertiesAsync working, it's still not working: https://outlook.office365.com/api/v2.0/users/{sharedProperties.targetMailbox}/calendar/events/{itemRestId}?$select=LastModifiedDateTime,Bo

[2021-06-17 13:28] 0xA17C opened #1933 "conversationId is null on a new mailitem"
# Provide required information needed to triage your issue
If I go by the documentation for the conversationId [here](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-1.10#conversationId), a new mailitem should have a conversationId value if the user sets a subject and saves it as a draft.
I tried saving the new mailitem via UI and with the `saveAsync`

[2021-06-17 13:50] teroman opened #1934 "Expose an API for Excel Range.Characters"
We are looking to rewrite an existing addin using the javascript addin api and need to be able to format the characters in a range in the way that is currently possible through the COM api.

Specifiacally our use case requires setting the Font properties on a range of characters to use them as info graphics.

This is the COM api I am refering to: https://docs.microsoft.com/en-us/office/vba/api/exc

[2021-06-17 17:28] peronald commented on #1869
My mistake. This is an issue we are tracking in our backlog.

[2021-06-17 17:42] AbidRahman-MSFT commented on #1187
Closing the issue as stale. Please re-open if you continue to face these issues. Thanks.

[2021-06-17 17:42] #1187 closed, assigned to shaofengzhu

[2021-06-17 17:54] JuaneloJuanelo commented on #1264
We are reopning this issue is not fixed for getBody.

[2021-06-17 17:56] AbidRahman-MSFT commented on #1177
Closing the issue as stale. Please re-open if the issue persists. Thanks.

[2021-06-17 17:56] #1177 closed, assigned to shaofengzhu

[2021-06-17 17:57] Byron-Mo commented on #1264
Thanks for reopening the Github issue. Here are more details of other users experiencing the problem:

Outlook version:
![image](https://user-images.githubusercontent.com/14811552/122449396-a8be9280-cf5a-11eb-915d-56525de429d1.png)

![image](https://user-images.githubusercontent.com/14811552/122449332-993f4980-cf5a-11eb-9b15-29c9b126569d.png)
![image](https://user-images.githubusercontent.com/1481

[2021-06-17 18:03] nvazhayil opened #1935 "Context tab : Visibility(Show/Hide) of a button with Office.ribbon.requestUpdate"
https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/office-contextual-tabs

**Describe the bug**
In this sample, I have seen the usage of Office.ribbon.requestUpdate() to Enable/Disable a button. Office.ribbon.requestUpdate takes [RibbonUpdaterData](https://docs.microsoft.com/en-us/javascript/api/office/office.ribbonupdaterdata) as it's parameter.
One of attribute of RibbonUpdaterData

[2021-06-17 20:19] alison-mk commented on #1932
Hi @lcarlier-arm, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-17 20:21] alison-mk commented on #1933
Hi @nanexo, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-17 20:24] alison-mk commented on #1935
Hi @nvazhayil, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-17 20:34] alison-mk commented on #1934
Hi @teroman, thanks for submitting! We use GitHub issues to report bugs with the product, and it looks like you are requesting a feature. For feature requests, we recommend submitting via [Microsoft 365 Developer Platform Ideas](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). We use Microsoft 365 Developer Platform Ideas to prioritize c

[2021-06-17 20:34] #1934 closed, assigned to lumine2008

[2021-06-17 20:36] alison-mk commented on #1931
Hi @jwhite-venacorp, thank you for submitting this issue! We've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-17 20:38] alison-mk commented on #1926
Hi @StephenRieger, thank you for submitting this issue! We've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-17 22:03] lliu113 commented on #656
@mm90849491 - really glad you were able to fix this! Closing this issue, feel free to reactivate if you have any additional comments. Thanks!

[2021-06-17 22:03] #656 closed, assigned to lliu113

[2021-06-17 22:24] smaremanda commented on #1887
@andreagasparin - sorry for the delay. I'll need to test this internally for a repro. Can you please send us the version info for
Windows
Office
Edge WebView2

[2021-06-18 00:58] Dengshan2018 commented on #1887
@andreagasparin do you have the repro steps?

[2021-06-18 01:07] exextoc commented on #1884
Focusing on the current state, with getSharedPropertiesAsync working, here are a few things to confirm:
1. What error are you seeing? on both Outlook, and OWA?  Is the error still ErrorItemNotFound?
2. Could you validate the shared property values (especially for targetMailbox) and what you expect?
3. It will be very helpful if you can try the snippet with Script Lab, so we can try the exact same

[2021-06-18 01:46] jipinshi commented on #1932
@lcarlier-arm, thanks for reaching us. can you help verify which step introduce the crash? Like if you use a new worksheet to do the insert, will it cause the crash? And which kind of data will trigger the crash? For example, you can use data which is not real to help reproduce the issue with scriptlab. Need to scope down the crash line first, and better to have simple data and simple step to prod

[2021-06-18 06:05] exextoc commented on #1933
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-18 06:27] exextoc commented on #1924
Please email it to OutlookAddins@M365x693897.onmicrosoft.com.

[2021-06-18 07:09] ndvbd opened #1936 "Word add-in - undefined is not an object (evaluating 'OSF.DDA.RichApi.richApiMessageManager.register')"
Hi,

My Sentry reports many users with the exception of:

`undefined is not an object (evaluating 'OSF.DDA.RichApi.richApiMessageManager.register')`

this exception is being thrown in MS file: /lib/1/hosted/word-ios-16.00.js at line 26:309733

`{snip} r,e)}));case 5:return OSF.DDA.RichApi.richApiMessageManager.register(r);case 13:return Z.promisify((function(e){return Office.context.docume {snip}`

[2021-06-18 08:14] puripats opened #1937 "The custom function try to read the saved version of manifest in file."
# Provide required information needed to triage your issue
Looks like when the excel save xlsx file they also save the version of manifest to file. This cause some issues when manifest updated but used old file. Then the ERROR-ADDIN occurs.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Version 2

[2021-06-18 08:15] boboano opened #1938 "Debugging Excel Add In with Webview2 stops after some seconds, add-in reloads"
## Environment

* Platform: PC desktop, office 365
* Host: Excel® for Microsoft 365 MSO
* Office version number: 16.0.14026.20270) 64-bit
* Operating System: windows 10 Pro, 21H1, 19043.1055
* Browser: Microsoft Edge; Version 91.0.864.48 (Official build) (64-bit)
* Microsoft Edge WebView 2 Runtime, 91.0.864.48
* Visual Studio Code, Version 1.57.0
* Excel-custom-functions-js: 2.0.0

## Expected beh

[2021-06-18 09:10] lcarlier-arm commented on #1932
Hello @jipinshi,
I have had a little luck and found a "solution". I actually found that the spreadsheet was crashing when I was copy pasting data in the place where my script was suppose to write so I concluded that my script isn't to blame here.

I have actually 3 cells that looks like this in my spreadsheet
[code]

When I copy pasted more than 40 rows in the "indirected sheet", everything would

[2021-06-18 10:00] andreagasparin commented on #1887
Hi @Dengshan2018,
I can't share the project, but I will work to create a program to replicate the problem.

[2021-06-18 11:00] ghost commented on #1801
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-18 11:00] #1801 closed, assigned to exextoc

[2021-06-18 11:29] KevinOrfas commented on #104
Where are you supposed to add the `meta`?

[2021-06-18 13:26] cody-lettau commented on #1924
@exextoc thank you -- just sent it over.

[2021-06-18 14:59] alison-mk commented on #1938
Hi @boboano, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-18 15:15] alison-mk commented on #1937
Hi @puripats, thank you for submitting an issue. If you change the manifest.xml, then for the best experience you will need to stop your node server, close Excel, follow directions to [Clear the Office cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache), and then restart your node server and reopen Excel.

Does your issue occur even after following these steps?

Thanks,
Aliso

[2021-06-18 15:16] alison-mk commented on #1936
Hi @ndvbd, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2021-06-18 17:31] bx-steven commented on #1884
With getSharedPropertiesAsync working here's what's happening:

1. Addin is crashing with no error message {%22error_msg%22:{},%22user_id%22:%22[MyEmail@domain.com]%22} on Desktop. I can't find the error on OWA though.
2. There are some discrepancies within the shared property values within Script Lab between Desktop and OWA:
On Desktop, the targetMailbox references the shared calendar's mailbox
O

[2021-06-19 08:59] barclayadam commented on #1861
@exextoc We have been able to work around this issue with the APM package, but now development has proceeded I think we are in a similar issue with a different package, or something else entirely.

We are now in a position where we have a bundle that will work a few times in a row, but then fail. By failing I mean that nothing happens, and the logs just stop as before. Given the actual JS does not

[2021-06-19 09:11] barclayadam opened #1940 "Setting an internetHeader causes a blank draft to be saved in Outlook"
In an event-based activation handler if I call `Office.context.mailbox.item.internetHeaders.setAsync` then a draft will be added to Drafts folder of Outlook when closing the email, even if nothing else has happened (i.e. no body added, no recipients etc.).

## Your Environment

* Platform: Windows / OWA
* Host: Outlook
* Office version number: OWA & Outlook 365 v2106 Build 14131.20012
* Operating

[2021-06-19 18:00] ghost commented on #1480
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-20 00:00] ghost commented on #1014
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-20 07:12] ndvbd commented on #1855
@exextoc is it deployed by now?

[2021-06-21 01:58] puripats commented on #1937
After follow the step, the issue still occurs.

[2021-06-21 03:30] jipinshi commented on #1932
@lcarlier-arm, great to hear you have found the workaround. If need further investigation from engineer team, may still need your help on the exact repro step. Like the original data in the workbook, and the example repro step. I tried to give some random data and try the above formula and cannot repro the crash, seems need some specific condition like the data in these referenced cells.

[2021-06-21 03:36] lumine2008 commented on #1932
Hi Jiping,

This person (alison-mk) is from our content team, so I think you would like to at issue reporter (lcarlier-arm)
***@***.***D76691.AC804EE0]

Thanks,
Raymond

From: jipinshi ***@***.***>
Sent: 2021年6月21日 11:31
To: OfficeDev/office-js ***@***.***>
Cc: Raymond Lu ***@***.***>; Assign ***@***.***>
Subject: Re: [OfficeDev/office-js] [Excel add-in] Worksheet getRange: An internal error has o

[2021-06-21 03:37] lumine2008 commented on #1932
Raymond Lu would like to recall the message, "[OfficeDev/office-js] [Excel add-in] Worksheet getRange: An internal error has occurred. (#1932)".

[2021-06-21 03:52] exextoc commented on #1855
We have fixed the bug and the fix should be available now

[2021-06-21 05:44] jipinshi commented on #1892
@zunquan, is there any update here?

[2021-06-21 08:02] ndvbd commented on #1855
Looks good now! Thanks!

[2021-06-21 08:02] #1855 closed, assigned to exextoc

[2021-06-21 09:00] ghost commented on #1905
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-21 09:00] ghost commented on #1877
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-21 09:38] lcarlier-arm commented on #1932
@jipinshi Maybe it is coming from the fact that the cells filled in by the above formula are yet again referenced by another cell in another page?
Here is the formula I'm using
[code]
So in my specific case, I had the above formula in cell A3 of the Data View sheet.

Also I got that repeated 3 times in by spreadsheet.

I.e. 3 times the formula above in different cells of 1 sheet

and 3 times the f

[2021-06-21 13:08] davidfishlock commented on #1911
@exextoc unfortunately I do not have more specific steps as I cannot reproduce the issue myself, I only see this coming in regularly from user Sentry reports.

I currently only see this permissions error from these APIs. All calls to these APIs are issued after Office.initialize.

[2021-06-21 13:34] osvath58 opened #1941 "ExtendedOverrides element of Manifest error is VS2019"
When creating an Office.js Add-in in Visual Studio 2019, adding the <ExtendedOverrides> element to the manifest, in order be able to add keyboard shortcuts, the following error is thrown:
_The element 'OfficeApp' in namespace 'http://schemas.microsoft.com/office/appforoffice/1.1' has invalid child element 'ExtendedOverrides' in namespace 'http://schemas.microsoft.com/office/appforoffice/1.1_

* PC

[2021-06-21 16:46] bx-steven commented on #1884
I just want to reiterate the fact that the office itemRestId's are different on Desktop and OWA for the same calendar item even in Script Lab. Is that to be expected? Even if we get the shared calendar url working, it's still potentially using an incorrect item Id to retrieve the calendar info. Whereas I'm able to verify that using a hard coded OWA ItemRestId, our Desktop plugin retrieves the cale

[2021-06-21 17:25] alison-mk commented on #1937
Hi @puripats, thanks for testing again. Because clearing the cache doesn't help, I've assigned this issue to the engineering team who will be able to provide you with more information or help resolve.

Cheers,
Alison

[2021-06-21 18:19] #1832 closed, assigned to exextoc

[2021-06-21 18:32] #1898 closed, assigned to exextoc

[2021-06-21 22:53] lindalu-MSFT commented on #1940
Thanks for reporting, I've tagged the Outlook team to triage this and so they'll be in touch if they need additional info.

[2021-06-21 23:13] AbidRahman-MSFT commented on #1941
Hey @osvath58, can you share your manifest? @madhavagrawal17 FYI

[2021-06-21 23:51] exextoc commented on #1264
Tentatively this will be fixed in Windows Builds 16.0.14225.XXXXXX and later. (this may not be an exact published build number, but builds AFTER the above should have the fix).

We will reach other to the Mac platform team, about this issue as well.

[2021-06-22 00:07] exextoc commented on #1911
Unfortunately this is really hard for us to follow up on without repro steps, any additional information that you would have here (no matter how small may be helpful in figuring out the repro conditions).

Do you make calls to other APIs after getting errors from these? (and I assume they're succeeding, since you only mention errors). If so which APIs are succeeding?

It's somewhat confusing, as e

[2021-06-22 00:26] exextoc commented on #1925
At this point fixes for Outlook 2016 are limited to security and serious fixes, so this won't be able to be modified. Also at the end user level they should make sure that IE is not displaying a notification for every script error under IE->Tools->Internet Options->Advanced->Display a notification for every script Error:

![image](https://user-images.githubusercontent.com/28549921/122844113-c589fb

[2021-06-22 00:33] exextoc commented on #1929
Currently officeJS add-ins are only supported by accounts that are backed by Exchange.
We track Outlook add-in feature requests on our [Tech Community Page.](http://aka.ms/M365dev-suggestions) Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2021-06-22 00:38] exextoc commented on #1930
By any chance are those two users on older versions of Office or Windows? Older versions of Office/Windows will run IE11, and has some issues with Angular.

See

ShaoFeng's response here:

https://github.com/OfficeDev/office-js/issues/1757

specifically to add:
`<script type="text/javascript">window.history.replaceState=null;window.history.pushState=null;</script> `
to your index page

[2021-06-22 01:21] exextoc commented on #1940
Your environment settings indicate that this is both Win32 and OWA. Are you hitting this issue in One or Both versions?

[2021-06-22 02:20] exextoc commented on #1940
A bug has been opened for this on the core product team.
internal tracking ID: office: 5211332

[2021-06-22 05:57] jipinshi commented on #1932
@lcarlier-arm Still with no luck to repro the issue. If there is some simple repro steps with no DataView, and share the whole gist with scriptlab may can help to investigate more.

[2021-06-22 06:25] dingjin-ms commented on #1920
@Alex0cean We have found the root cause, there is a bug in Windows and Mac when having neighbor borders. In this case, when setting the bottom of D4 and then the top of D5, it should keep only D5's top border, and when resetting D4, it should erase D5's top border and add D4's bottom border.

We are now fixing this problem.

You could take this [gist](https://gist.github.com/dingjin-ms/965a86ba25a

[2021-06-22 07:02] TeamviennaJeremy commented on #1576
@lliu113 Is there a reason the context menus don't work on URLs?
I think this is a huge show stopper for all users of office.js.

[2021-06-22 09:36] barclayadam commented on #1940
@exextoc Thank you for getting back to me. I have seen this in both versions from above. It can also be replicated in other builds of desktop, although primarily testing was with those builds as above

[2021-06-22 10:42] davidfishlock commented on #1911
I don't think there are scenarios where we would go on to continue calling other APIs. As if we are unable to get a REST token then this is pretty much a fatal error for our use-case.

In the same session of the add-in though I don't see any issues from earlier accessing values from `Office.context.mailbox.item` or calling `Office.context.roamingSettings.get()`.

I'm not sure if this helps much bu

[2021-06-22 12:19] andreagasparin commented on #1887
Hi @Dengshan2018 @smaremanda,
I created the environment to replicate the issue.
In the attached zip you will find a web server made in Express to simulate 3rd party authentication server, an Excel Add-in that manages the opening of the dialog box with the call to the server and the verification of the cookies.
You will also find a pdf (Steps_to_reproduce.pdf) with the explanation of the steps to r

[2021-06-22 12:24] exextoc commented on #1264
Are you facing the issue for Outlook Mac Old Ui or Outlook Mac New UI ?
It works fine for Outlook Mac New UI.
Please switch to Outlook Mac New UI.

[2021-06-22 13:37] SteveJerbs commented on #1224
@exextoc I know this question may be slightly unrelated to the reported issue but the code above provides an easy context to ask it.  Is it required to call `item.saveAsync()` within the callback passed to the `customProps.saveAsync()` method?  This implementation is working for me however it means I will need to clean up a message in the drafts folder if the user decides not to send the message.

[2021-06-22 15:57] qlikTERror opened #1942 "Shapes (and I suppose all other objects) coordinates top, left width and height changing at different zooms"
## Your Environment

* Platform: PC desktop
* Host: Excel, msedgewebview2.exe
* Office version number: Microsoft® Excel® for Microsoft 365 MSO (16.0.13929.20406) 64-bit
* Operating System: Windows 10 2004

## Expected behavior
Reading left, top, height or width of the same shapes at different zoom level should return always equal values for each property.

## Current behavior
Changing the zoom for

[2021-06-22 16:13] lcarlier-arm commented on #1932
Hi @jipinshi ,

I was trying to strip down the issue myself but I couldn't reproduce the issue in a stripped version.

I have actually try to revert my formula to its old value i.e. using range from B2 to B999 and now it is surprisingly working on the original sheet that was crashing before..

I'm not sure exactly how I could be of any help.

Kind regards,

Laurent

[2021-06-22 20:00] ghost commented on #1480
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-22 20:00] #1480 closed, assigned to exextoc

[2021-06-22 20:23] Byron-Mo commented on #1264
That is good to know, unfortunately the impacted user is using Outlook Desktop on Windows

[2021-06-22 22:54] AbidRahman-MSFT commented on #1915
Hey @AkshayDudhe - thank you for submitting the issue. Can you provide a sample document or text that you are running this script on?

[2021-06-23 01:04] xiruatms commented on #1914
Thanks for reporting this. We can repro it now. There's an internal bug 5130762 tracking this.

[2021-06-23 01:22] jipinshi commented on #1942
@qlikTERror , thanks for reaching us. I can repro the issue and 5214765 was used to internally track the issue. Will update you more when there is progress.

[2021-06-23 01:53] jipinshi commented on #1932
@lcarlier-arm , thanks for your help on the simple the repro steps. So let's close this first. If it ever can repro again, reactive this one or create a new.

[2021-06-23 01:53] #1932 closed, assigned to lumine2008

[2021-06-23 02:00] ghost commented on #1014
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-23 02:00] #1014 closed, assigned to lliu113

[2021-06-23 05:20] exextoc commented on #1264
Thanks for letting us know.
As suggested above, tentatively, this bug will be fixed in Windows Builds 16.0.14225.XXXXXX and later.

[2021-06-23 05:20] #1264 closed, assigned to exextoc

[2021-06-23 07:04] Dengshan2018 commented on #1887
@andreagasparin, there is cookie issue for add-in in debug mode. You can change two registry key - UseDirectDebugger and UseWebDebugger under "Computer\HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\WEF\Developer\[%add-in solution id%]\" to "0" as workaround.

[2021-06-23 07:35] Rinzwind commented on #930
Verified: I tested the snippet again in Excel for Mac and Excel Online, and it now logs “Sheet2, Sheet3” in both (as expected).

[2021-06-23 08:19] Rinzwind commented on #1329
Verified:

On Excel Online, using the snippet, the log is the same as before:

[code]

On Excel for Mac (v16.50 21061301), the log is:

[code]

The order within the two logs is not the same, but this shouldn’t be a problem: in both cases, the line “Handled onSelectionChanged” only appears after the button “Select Range C5:D6” is pressed (as expected), it no longer also appears after the button “Ad

[2021-06-23 08:23] Alex0cean commented on #1920
Thanks @dingjin-ms ,
glad you found the root cause.
The code proposal from you guys works as expected. In the sample snippet as well as in our add-in. We will use this additional logic on Mac and Windows Desktop Excel until the fix from you is available and (re)tested by us in all platforms.

Please keep us updated once the fix is rolling out.

[2021-06-23 09:44] andreagasparin commented on #1887
Hi @Dengshan2018,
I tried your suggestion but I still see the issue.
When I run "npm start" UseWebDebugger is set to 0 and UseDirectDebugger is set to 1 so I set it to 0 (if I set it to 0 first, however "npm start" brings it back to 1).
Then, I open the add-in but I still have the cookie issue.

[2021-06-23 09:57] Rinzwind opened #1943 "Setting cell value to empty string has different results on Excel for Mac and Excel Online w.r.t. ISBLANK formula"
The Script Lab snippet below has different results on Excel Online and Excel for Mac. The ‘run’ function of the snippet is:

[code]

On Excel for Mac (v16.50 21061301, macOS 10.15.7) the result is:

<img width="159" alt="1" src="https://user-images.githubusercontent.com/1611248/123076582-92607d00-d419-11eb-9b9a-a183ce42297e.png">

On Excel Online (using Chrome 91.0.4472.114) the result is:

<img w

[2021-06-23 10:16] exextoc commented on #1924
We are able to reproduce it.
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-23 10:33] exextoc commented on #1940
We are able to reproduce the bug in OWA.
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2021-06-23 11:15] AndyHore opened #1944 "insertFileFromBase64 does not work from a WOPI session"
# Provide required information needed to triage your issue
Our product uses WOPI to launch our users Word edit session from our product. The user loads our (Web) Add-in, and uses it to select another file from our repository to be inserted into the current document. We used insertFileFromBase64  to do this insert, and it works perfectly from a Desktop or office.com session, but not from a WOPI ses

[2021-06-23 11:26] AndyHore opened #1945 "WOPI sessions do not "remember" add-ins that have been loaded"
# Provide required information needed to triage your issue
From a WOPI (Word, or Excel) session, load an add-in from the App Store. End that WOPI session and start a new one and it will NOT automatically load the add-in that was loaded. If you Uses Desktop or office.com using the same credentials to load an add-in, that add-in is automatically loaded for future sessions, just not for a WOPI sessio

[2021-06-23 11:29] AndyHore opened #1946 "PowerPoint add-ins cannot be side-loaded or loaded from the App Store in a WOPI session"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
If a PowerPoint WOPI edit session is launched, the user cannot side-load an add-in or load one from the App Store.

## Your

[2021-06-23 11:33] AndyHore opened #1947 "WOPI and Office online doe not properly support custom control tags."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Word running as WOPI or Office Online does not properly support content control tags that span an entire table cell. The fir

[2021-06-23 12:12] nickamckenna commented on #1945
Please fix this! It is a very common problem in our WOPI / Add-In implementations!!!

[2021-06-23 12:14] jpmarr commented on #1945
We have also observed this issue and general inconsistency of behaviour when loading documents in a WOPI session that have Add-Ins present.

[2021-06-23 12:18] barclayadam commented on #1940
@exextoc We were seeing this same behaviour in Outlook desktop, which for us is the more critical client. Can you confirm if you have replicated it successfully in the desktop client too?

[2021-06-23 12:21] exextoc commented on #1940
The same is reproducible in windows outlook client.
As suggested above, a bug has been opened for this on the core product team.
internal tracking ID: office: 5211332

[2021-06-23 12:22] barclayadam commented on #1940
Thank you for the quick reply. Is there any way of externally tracking these bugs, or being notified of changes in any way? It affects our product development strategy so would be great to have any sort of insight

[2021-06-23 12:58] timpull commented on #1945
Yes please fix this, it is a serious deficiency in the WOPI concept.  In our case it is preventing us from incorporating Word into our application workflow (because our add-in is an essential component of the UX) and causing us to look elsewhere for integrated editing

[2021-06-23 13:05] cody-lettau commented on #1924
@exextoc thanks for taking a look. Completely understandable that it goes on the backlog, but I'm not sure the bug should be closed.

[2021-06-23 14:14] exextoc commented on #1924
Apologies for closing the issue.

We'll update the thread as and when a decision is taken on the bug (fixed / deciding not to fix).

[2021-06-23 14:21] yumao5 commented on #1474
is there any update about this ticket? @exextoc

[2021-06-23 15:09] msoq commented on #1863
Hi everyone, I observe the same behavior in our project. Everything works normally, but as soon as `context.document.body.getHtml();` is executed document becomes read-only.
I haven't tried running a project on a desktop client, but for the web version this is the case.
We're using the latest at this moment (1.1.70) version of office.js api.
Checked on Windows 10 ( build 10.0.18362), Chrome (Versi

[2021-06-23 15:19] lindalu-MSFT commented on #1940
@barclayadam sadly we don't have a way to connect GitHub with our internal bug database. The Outlook team is VERY responsive and should update you here. You can always @exextoc when you need an update.

[2021-06-23 15:28] keyur32 commented on #1943
@lumine2008  can we take a look? thx

[2021-06-23 15:43] Dengshan2018 commented on #1887
@andreagasparin "npm start" set the value. have to reset the registry keys before open the add-in.

[2021-06-23 17:57] rasharmkum opened #1948 "Word add-in error in IE- SCRIPT1002: Syntax error in polyfills.79103d5fc64157e59efa.js (1,78)"
While running word add-in (developed using Office.js 1.1 API set, angular 12 and typescript) in IE11, we are getting below error messages. We are using IE11 to mimic the customer environment where requirement is that add-in should work in WORD 2016 as well.

We are getting same error for main.js, pollyfills.js, runtime.js and vendor.js-
    SCRIPT1002: Syntax error
    polyfills.79103d5fc64157e59e

[2021-06-23 18:40] derek-vena commented on #1831
@lumine2008 can we gett an update on this?

[2021-06-23 19:52] vdboots opened #1949 "UI-less autorun get external data not working"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 2105
* Operating System: Windows
* Browser (if using Office on the web): ______

## Expected behavior
Should grab the result from the fetch command. when opening a new email message

[2021-06-23 20:39] austinhimler opened #1950 "New Outlook for Mac always uses default add-in displayName"
In the new Outlook for Mac experience, the button label for our add-in always displays the default display name set in the manifest, not the locale override (as displayed in the old Outlook for Mac experience). If the display language is en-us, and there is a locale override for the displayName, the add-in still displays the default value for the displayName instead of the locale override (which i

[2021-06-24 00:24] lindalu-MSFT commented on #1948
Can you please provide us with your Office version, environment details, and preferably the script itself so we can try to replicate? We can't triage without more info to repro. Thanks, Linda

[2021-06-24 00:26] exextoc commented on #1949
For desktop Outlook in this case, only simple CORs is available. Though this document references Excel (https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-runtime) the section on Requesting external Data/CORs applies here as well.

The current workaround for this is to build your own service on the same domain as your add-in, and let your add-in talk to your service, and le

[2021-06-24 01:17] exextoc commented on #1911
It may be interesting if the failures are only coming from certain versions of Outlook. Earlier you had reported on the version of outlook-win32-16.02.js, but by any chance are you logging:

Office.context.mailbox.diagnostics.hostVersion

And can report on the versions that are seeing the error?

Also what type of add-in are you? An AppCommand Taskpane? a UILess Execute Function? Contextual?

Base

[2021-06-24 01:34] jipinshi commented on #1943
@Rinzwind, Thanks reaching us. I can repro the issue now. It looks like ISEMPTY function behavior is not same between online and win32/mac, online will treat "" as true while win32/mac will treat it as false. So one way to unblock you is add additional judgement like =IF(LEN(A1)=0,"TRUE","FALSE")

[2021-06-24 06:06] dingjin-ms commented on #1920
Thanks for validate @Alex0cean , and we would keep you updated! :)

[2021-06-24 06:17] AkshayDudhe commented on #1915
@AbidRahman-MSFT, You can use any text, just replace the values for **_found_** and **_replacement_** variable in snippet with first word of your text and it will get reproduced.
I used text starting with word "learn" therefore set those values.

[2021-06-24 06:32] andreagasparin commented on #1887
@Dengshan2018 I have set to 0 the registry keys before open the task pane, but the problem persist.
Does it work for you using the test program I attached earlier?

[2021-06-24 08:03] Rinzwind commented on #1943
@jipinshi: thanks for the suggestion, and for confirming the issue can be reproduced. I took another look at my snippet, if I write the ‘run’ function as:

[code]

Then the result on Excel for Mac is:

<img width="161" alt="3" src="https://user-images.githubusercontent.com/1611248/123221914-b7172c00-d4cf-11eb-823a-2be7cdc88ab9.png">

Note that cell B1 is now WAAR (TRUE).

So: the original single a

[2021-06-24 10:06] jipinshi commented on #1943
@Rinzwind , so great to hear you find another good way to unblock you. Yes, it is one bug about the consistence, 5218458 was created to do the track internally.

[2021-06-24 10:42] vdboots commented on #1949
Thank you i will wrap than in  an Azure static website together 👍

[2021-06-24 11:00] ghost commented on #1905
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-24 11:00] #1905 closed, assigned to exextoc

[2021-06-24 12:11] wh1t3cAt1k opened #1951 "🐛 In repeating matrix arguments, empty cells are passed in as zero (0): cannot disambiguate from legitimate zero cells"
To reproduce:

- Create a custom function with one argument.
- For the argument, specify `type: 'any'`, `dimensionality: 'matrix'` and `repeating: true`.
- Invoke this function like `=MYFUNC("A",M1,"B")` where M1 is an empty Excel cell.
- Observe the passed in arguments in the debugger:

![image](https://user-images.githubusercontent.com/5159662/123259991-c319e280-d4fd-11eb-9bcf-91ec22eefd44.png)

[2021-06-24 12:37] davidfishlock commented on #1911
I'm not currently capturing this information on these errors but will add some further logging.

I am seeing most of these errors from a Taskpane but also a UILess function. Both are launched from `MessageReadCommandSurface`.

Our manifest has always declared `ReadWriteItem` permissions so should have always had access to both of these APIs.

[2021-06-24 13:29] vdboots opened #1952 "No way to get Accesstoken in ui-less script(Office on Windows)."
No way to get Bootstraptoken in ui-less application

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Outlook Desktop
* Host [Excel, Word, PowerPoint, etc.]: outlook
* Office version number: 2105
* Operating System: Windows 10

## Expected behavior
When using a dialog or GetAccessToken()l it would return an accesstoken in an ui-less experience.

## Current behavior
Both m

[2021-06-24 14:39] minericpark opened #1953 "getFileAsync returning a 5001 internal error"
### Details
Hello!

I'm not sure whether this is an actual bug or if this is misuse of the Office.js library, however I've been getting an internal error whenever I try to use getFileAsync method in my React office add-in for Word (Desktop).

Here is the [minimum reproduction repo](https://github.com/minericpark/office-js-getFileAsync). The function is being called by an added test button in the a

[2021-06-24 15:29] rasharmkum commented on #1948
Hello, please find below the details:
Office version Office 2016
environment details Windows 10
script Attached in zip format.
[MAC.Builder.zip](https://github.com/OfficeDev/office-js/files/6710422/MAC.Builder.zip)

Additional info-
We have used office.js.

[2021-06-24 17:53] minericpark commented on #1953
I removed all the notification calls in getDocumentAsPdf(). Seems like I used this function incorrectly, as I suspected.

[2021-06-24 17:53] #1953 closed, assigned to nobody

[2021-06-24 23:29] jwhite-venacorp opened #1955 "Office.Document.getFileAsync returns wrong file type for xlsm files"
# Provide required information needed to triage your issue

We are using code similar to what is provided in [the documentation](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=excel-js-preview#getFileAsync_fileType__options__callback_) to get the bytes of the Excel file being used with our addin. The file is then saved in our own cloud file system for download later, b

[2021-06-24 23:48] jwhite-venacorp opened #1956 "Workbook.save shows a save as dialog"
# Provide required information needed to triage your issue

We have a feature in our addin which performs calculations on the workbook, saves the file, gathers some data from the workbook, and then uploads the file to our own cloud file system. To save the file, we are calling `workbook.save(Excel.SaveBehavior.save)`. The first time this feature is used, the workbook saves without a prompt. The se

[2021-06-25 02:16] exextoc commented on #1952
UI-Less can generally refer to two different ExtensionPoints. With ExecuteFunction (executed manually by users with a button on the ribbon), this should work, but I suspect you are using **LaunchEvent** (such as AutoRun on new mails), where this function is not supported yet on that ExtensionPoint.

[2021-06-25 02:24] jipinshi commented on #1956
@jwhite-venacorp, thanks for reaching us.  may still need your help on finding one reproable gist in scriptlab and one reproable file(maybe data can be changed to other example data since it's secure) but file can be shared. And also better to share one video to make it easier to understand.

[2021-06-25 03:36] Simplici opened #1957 "office.js dialog min width isn't 150px"
We have seen a strange behavior for the dialogs in Word addin, it seems that the min width is not 150px as documented, it is in fact 760px on my PC.
## Expected Behavior

The width should be taken into account if it is more than 150px.
## Current Behavior

no matter what value we give to the width property, the dialog width is never less than 760px as if there is a 760px min width limitation. I ca

[2021-06-25 05:38] christian-sap opened #1958 ""Admin Managed" add-ins not usable when third-party cookies are blocked"
# Provide required information needed to triage your issue
If you block the third-party cookies in your browser (for example in Chrome or Edge) then the "Admin Managed" Add-ins can not be used anymore.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Operating System: Windows
* Browser (if using Office on t

[2021-06-25 05:39] christian-sap commented on #1958
https://user-images.githubusercontent.com/79985386/123375049-6b748900-d588-11eb-9b42-a2d3eba96e9f.mp4

https://user-images.githubusercontent.com/79985386/123375060-70393d00-d588-11eb-8106-d63952809ce6.mp4

[2021-06-25 06:40] exextoc commented on #1950
Can you please share a sample a manifest where the behavior is reproducible ?

[2021-06-25 07:30] christian-sap opened #1959 "Error when opening a dialog"
# Provide required information needed to triage your issue
When opening a dialog with Office.context.ui.displayDialogAsync and option "displayInIframe: false" we get this error:
{ code: 12011 message: "Browser restrictions prevented us from creating the dialog box. The domain of dialog box and the domain of the add-in host are not in the same security zone." name: "Display Dialog Error" }

The sec

[2021-06-25 07:50] vdboots commented on #1949
After running multipe tests is running a command like fetch does not seems to work not even to same origin.

I used fiddler but when running from autorun fetch does not seem to work. When running from  taskpane it works on desktop.
Is there a working example available ?

[2021-06-25 08:22] SWei1234 opened #1960 "Html saved by “Office.context.mailbox.item.body.setAsync“ will miss after send event"
I tried save a HTML content to body with office api “Office.context.mailbox.item.body.setAsync“. But found that if I set HTML at the very beginning of body some html code(example:<a name="test"></a>) will be 'optimized' after I send this event to others.
And this problem can reproduce every time.
This problem only happened on client especially on Windows Outlook. I tried from windows 1709 to 20H2

[2021-06-25 10:35] exextoc commented on #1924
Hello @cody-lettau

We investigated the issue on android and below are our observations.

Android picks up icon URL based on the device type (Phone / Tablet)
If its tablet, it picks up the URL as https://cdn.virtru.com/outlookjs/images/virtru48.png and the link is working as expected. This URL is same for all other platforms (win32, OWA, Mac Old UI).

If its phone, it picks up the URL as https://c

[2021-06-25 10:42] exextoc commented on #1960
We are able to reproduce the issue on Outlook Windows Client, and the issue has been brought to their notice.
We are not able to reproduce the bug for Outlook Mac Client.

Please answer the below questions to help us understand the situation better
- Is it happening for Mac Old UI or New UI or both ?
- Does it happen always for you ?
- Can you help us with a sample snippet which you tried on Mac ?

[2021-06-25 13:42] cody-lettau commented on #1924
@exextoc thank you very much for digging into this and pointing out the issue! We will get that size of the icon fixed and give it a try. As for the new Mac UI, if that takes longer that is okay as it doesn't fully support our feature set and we are not supporting it at this time.

[2021-06-25 15:10] austinhimler commented on #1950
[github manifest copy.txt](https://github.com/OfficeDev/office-js/files/6717112/github.manifest.copy.txt)

I added the manifest as a txt file, since Github doesnt let me attach xml files. If there's an issue with the txt file, i'd be happy to email you the xml directly if you provide an email address i can use.

[2021-06-25 17:07] lindalu-MSFT commented on #1952
Hi @vdboots You can suggest this by going to our feature request forum: https://aka.ms/m365dev-suggestions and click "submit an idea." If you do submit a feature suggestion, please put the link here in a comment. Thanks!

[2021-06-25 17:09] lindalu-MSFT commented on #1955
@keyur32 is this something you can answer easily or do we need to ask the product team?

[2021-06-25 17:12] lindalu-MSFT commented on #1958
Thanks for the useful videos showing how to repro. I've assigned to @keyur32 to help triage this!

[2021-06-25 18:14] exextoc commented on #1960
On Windows, this is found to be by design. Windows uses Microsoft Word as an HTML render/composer when sending emails, so HTML is sent to Word, and then sent out. Unfortunately, there is no concrete guide as to what the Word Render/Composer supports. You can try looking this up for other sources about this: https://www.google.com/search?q=Word+Outlook+HTML+engine

[2021-06-25 19:07] lliu113 commented on #1576
@TeamviennaJeremy - great questions. This was more of a technical limitation than a design one. It is on our backlog to support other objects like tables, images etc. but we currently have no ETA.

We have shifted feature requests to the [Microsoft Developer Platform](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please upvote this re

[2021-06-25 19:10] lliu113 commented on #1959
@christian-sap - sorry you're hitting this! Just want to confirm that the dialog domain you are trying to reach is included in you manifest as a trusted domain?

[2021-06-27 18:00] ghost commented on #1941
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-28 05:08] christian-sap commented on #1959
@lliu113 we start the task pane (shared runtime) on a domain (e.g. example.com) and then navigate to a subdomain of it (e.g. demo.example.com). The dialog domain is the same as the task pane domain (e.g. demo.example.com).
It works in Excel desktop (Win and Mac) but not in Edge. In Edge it only works with the second (exact same) call.

[2021-06-28 06:19] SWei1234 commented on #1960
Hi @exextoc
1. Is it happening for Mac Old UI or New UI or both ?
I only tried this on Mac Old UI.
2. Does it happen always for you ?
Yes, This always happen.
3. Can you help us with a sample snippet which you tried on Mac ?
A little detail about replicate. I schedule meeting on Mac but I open this meeting on Windows Outlook.
Hope this will be helpful.
Thanks

[2021-06-28 07:17] thanakrid-kunghair-rft opened #1961 "getDirectPrecedent() should return separate range areas when it's not the same direct precedent position in formulas."
I've found that using getDirectPrecedent() return different range areas for the same cell referencing format, for example `=CONTOSO.STREAMING2(A1,A2)` and `=CONTOSO.STREAMING2(F1,F3)`, the former returns an array that looks like I reference to A1:A2 instead of separate range.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoi

[2021-06-28 09:56] 4kochi opened #1962 "Outlook Addin iOS error "ReferenceError: Can't find variable: OfficeRuntime""
# Provide required information needed to triage your issue

We have created an Outlook addin wit SSO based on the yeoman generator `yo office`. It works fine in Outlook for Mac/Windows and in Outlook Online. However, on Outlook for iOS the plugin loads but then we get the following error:

`ReferenceError: Can't find variable: OfficeRuntime`

This is because we need some authentication and the fir

[2021-06-28 15:25] exextoc commented on #1962
Yes, it is still not supported.

[2021-06-28 15:30] 4kochi commented on #1962
Ok, thx for the fast feedback. Is there already some timeline `when` or `if` this will be available?

Or is there another way to get some auth data of the currently logged in user which we then can use?

[2021-06-28 19:29] lliu113 commented on #1957
@Simplici - sorry you're hitting this! Is this something that was working for you before, or has it been broken from the start? Are you able to link the documentation that gives the 150px min width? The height/width parameters are given as a percentage of screen size, so there usually isn't a way to set exact pixel width.

[2021-06-28 19:30] lliu113 commented on #1889
@afcruzs - I'm going to go ahead and close this issue. Feel free to reactivate if you have any additional questions or feedback. Thanks!

[2021-06-28 19:30] #1889 closed, assigned to lliu113, sohailzafar

[2021-06-28 19:34] lliu113 commented on #1959
@christian-sap - thanks for the clarification! Are you able to provide a manifest for the add-in to help us repro?

[2021-06-28 19:36] lliu113 commented on #1867
@ektadesai22 - awesome, that's great to hear! Glad you got it working.

I'll go ahead and close this issue, feel free to reactivate if you have any additional questions. Thank!

[2021-06-28 19:36] #1867 closed, assigned to lliu113, mattgeim

[2021-06-29 00:59] jipinshi commented on #1961
@thanakrid-kunghair-rft , thanks for reaching us. Can you help repro it with scriptlab and share your gist to make it easy to repro? In ScriptLab also can define the function.

[2021-06-29 01:20] lumine2008 commented on #1831
the fix is on the way to rolling out, you may check the monthly channel in July.

[2021-06-29 03:00] thanakrid-kunghair-rft commented on #1961
Hi @jipinshi.
 Github repo is attached to the issue.

[2021-06-29 06:35] grangeryy commented on #1951
Hey @wh1t3cAt1k, notice the behavior is the same for built-in function like SUM().  May I know the detailed scenario why you need to have a separate type for empty cell?

[2021-06-29 07:32] hengchengfei opened #1963 "Can't see Attach Debugger in taskpanel"
# Provide required information needed to triage your issue

When click top right corner of taskpanel，there is no “Attach Debugger”！
![1](https://user-images.githubusercontent.com/3182964/123755823-e2928000-d8ee-11eb-8171-e8ff7970fd4b.png)

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___PC___
* Host [Excel, Word, PowerPoint, etc.]: __Excel、Word____
* Office version nu

[2021-06-29 08:38] wh1t3cAt1k commented on #1951
@grangeryy I agree that SUM() handles zeroes and empty cells in the same way, however that's not my point...

First of all, I'd like to point out that the behaviour seems to be different from VSTO-based add-ins where the distinction **exists** between empty parameters and zero parameters. This has become a source of incompatibility between our legacy add-in and the new add-in, where we cannot make

[2021-06-29 11:00] Simplici commented on #1957
I am not sure, but I think that we don't have this problem before.
here is the link to documentation: https://docs.microsoft.com/en-us/javascript/api/office/office.dialogoptions?view=excel-js-preview
![image](https://user-images.githubusercontent.com/8101111/123786243-0e702e80-d90c-11eb-8584-4f15767a8ad6.png)

we don't really set by pixel, it is just that set by percentage doesn't work. if we set

[2021-06-29 13:29] jpmarr commented on #1945
Further information:

Having had our Add-In published on the Marketplace, we intended to get it to users by inserting the Add-In into a document programmatically within our WOPI backend. We have added the code to do this and confirmed that the resulting document file loads with the Add-In present in Word for Web using OneDrive.

Within Word for Web in our WOPI environment however, I have observed

[2021-06-29 14:01] mmcalynnproof commented on #1525
Finally got around to trying this. Neither suggestion works for my case but might for others so documenting here.

As I thought openBrowserWindow opens a window with no ability to receive messages from the original opener so is not suitable here.

'displayDialogAsync' and 'messageChild' does actually open a new window that can receive messages from the parent. However it also means no other dialog

[2021-06-29 14:01] westconference commented on #1525
Finally got around to trying this. Neither suggestion works for my case but might for others so documenting here.

As I thought openBrowserWindow opens a window with no ability to receive messages from the original opener so is not suitable here.

'displayDialogAsync' and 'messageChild' does actually open a new window that can receive messages from the parent. However it also means no other dialog

[2021-06-29 14:03] amanraihot opened #1964 "Excel Add in is making cors error when requesting data from spring boot server even after configured shared runtime"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: _Mac_____
* Host [Excel, Word, PowerPoint, etc.]: _____Excel_
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web):Chrome ______

## Expected behavior

I want do a rest call to server after fetching the data from the she

[2021-06-29 14:24] 4tti commented on #1937
@alison-mk, @puripats  yup, this is 'weird' design and the only feasible solution for the end-user is to use windows version of Excel and use 'inspect document' to remove 'Task Pane add-ins'...
![image](https://user-images.githubusercontent.com/19533927/123814980-68fe9000-d8f6-11eb-90b0-a2d42886f854.png)

It would be awesome to have option to not store these things into the file...

[2021-06-29 18:00] ghost commented on #1956
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-29 21:00] ghost commented on #1604
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-29 22:57] exextoc commented on #1525
Thanks for documenting this here.
If we can be of further assistance, don't hesitate to open a new issue.

[2021-06-30 00:00] ghost commented on #1930
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-06-30 01:37] LeonardoBSantos opened #1965 "When debugging with the Edge DevTools the add-in reloads"
I'm developing an excel add-in. Two days ago, I debugged in edge dev tools like the expected behavior. Today, the add-in is reloading 5 seconds after that I try to debug.

I tried the solution of this document:

[Troubleshooting Microsoft Edge issues](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)

First, I opened the registry editor and created a

[2021-06-30 02:07] SWei1234 commented on #1960
Hi @exextoc
I see you said this is by design: 'On Windows, this is found to be by design. '
If so what is the design if user using 'Office.context.mailbox.item.body.setAsync' api set some html to body?
Obviously some html on header will be optimized. Is there a way to avoid this problem?
Or this is a known bug?
Thanks

[2021-06-30 02:21] jipinshi commented on #1951
@wh1t3cAt1k , not sure whether len(A2) can help to filter out.

[2021-06-30 02:23] jipinshi commented on #1956
@jwhite-venacorp, hope can get your more input on one reproable gist in scriptlab and one reproable file.

[2021-06-30 04:45] chanhohang commented on #1054
[Updated on 15 July 2021]
I just realize this issue is reporting memory issue in Content Add-ins while my problem is in WebView2 Task pane add in, i create a separate issue to track my issue https://github.com/OfficeDev/office-js/issues/1988

______
Hi,

My Excel Add-in is also hitting into an Out of Memory Problem when running in WebView2 Runtime.

I did a memory snapshot in the middle of my test

[2021-06-30 05:32] markdon opened #1966 "Outlook meeting provider add-ins can not show error notifications on Android"
Following this example: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting
If the function that adds the meeting to the event attempts to display an error notification with `Office.context.mailbox.item.notificationMessages.addAsync`, no notification appears.

## Your Environment

* Platform Android
* Host Outlook
* Office version number: 4.2123.2

## Expected behavior
Error

[2021-06-30 05:43] exextoc commented on #1871
Please reopen the issue if you still face the problem.

[2021-06-30 05:43] #1871 closed, assigned to macOutlookExtensibility

[2021-06-30 05:45] markdon commented on #1966
It took me far too long to properly read and pay attention to this section: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting#available-apis

It looks like no APIs outside that list are available in this context...

Seems like some good functionality to make available. In addition to the way I want to use notification messages above, sometimes errors happen. I'm not sure t

[2021-06-30 06:28] #1908 closed, assigned to mikeald

[2021-06-30 06:33] wh1t3cAt1k commented on #1951
@jipinshi , I need to understand the contents of A2 (whether it's a legitimate zero or an empty cell) in the context of my running custom function that works with A2.

I don't think we can or should invoke other functions there...

Moreover, it's not just us who use this function, it's hundreds of our clients - probably we could apply the workaround if it was just us...

But here, it's a question

[2021-06-30 06:52] grangeryy commented on #1951
@wh1t3cAt1k thanks for more details! If I understand it correctly, the requirement here is CF should know about the cell type, especially could distinguish between empty cell and "0", which is not supported yet. We will use an item to track this in our feature list: FEATURE 4796240

[2021-06-30 09:17] wh1t3cAt1k commented on #1951
Yes, correct! The COM-based add-in with ExcelDNA provides us with special values in case it is a "non-value": https://docs.excel-dna.net/reference-data-type-marshalling/

In particular:

![image](https://user-images.githubusercontent.com/5159662/123935597-0ad8b800-d99d-11eb-9111-140c397862b5.png)

The highlighted values are what maybe you guys will want to support, generically, in Office.js.
(not

[2021-06-30 09:52] barisbikmaz opened #1967 "Inline attached images in signatures are not visible after receiving mails"
# Provide required information needed to triage your issue
We are adding inline image attachments using addFileAttachmentFromBase64Async method. Then we set a signature referencing the image attachment  with src="cid:filename" . The images are displayed while composing but are not displayed after receiving the mail.

## Your Environment
* Platform : Office on the web
* Host : Outlook
* Operating S

[2021-06-30 12:01] exextoc commented on #1417
The issue is not there in New Outlook for Mac which is in production now. If you see the problem there, you can reopen the issue.

[2021-06-30 12:01] #1417 closed, assigned to exextoc

[2021-06-30 12:13] exextoc commented on #1950
Thanks for reporting this issue regarding displayName. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-06-30 12:30] amanraihot commented on #1561
any updates on this one @lindalu-MSFT

[2021-06-30 12:57] kullachoke-bosuwan-rft opened #1968 "[IE11] Unable to upload test manifest"
We're trying to upload test manifest on IE11 but freeze at blank dialog after clicked on Office Add-ins button

* Platform: web
* Host: Excel
* Operating System: Windows
* Browser: IE11

## Expected behavior
Office Add-ins button should open a dialog that allow user to upload test manifest.

## Current behavior
Got blank dialog after clicked on Office Add-ins button.

## Steps to reproduce
1. Go t

[2021-06-30 14:29] exextoc commented on #1967
The issue is reproducible for us. We acknowledge the issue and are working towards a fix.

[2021-06-30 16:44] lindalu-MSFT commented on #1561
@lumine2008 @MandytMSFT Hi, the Bot closed this due to inactivity but it appears the customers are still interested in follow up. Can you please triage again and find the right SME to address?

[2021-06-30 17:46] exextoc commented on #1960
This is not a bug.
It is a behavior of the client where it may modify the value passed to `setAsync` in order to make it render efficiently with its rendering engine. We have this documented here : https://docs.microsoft.com/en-us/javascript/api/outlook/office.body?view=outlook-js-preview#setAsync_data__options__callback_
There's no way to circumvent this behavior of the client.

[2021-06-30 18:23] davidfishlock commented on #1911
@exextoc I added some logging of hostVersion. I've only had a few reports with this additional information so far but all the ones I have seen are showing version `16.0.14026.20308`.

[2021-06-30 19:17] lliu113 commented on #1957
@Simplici - ah, thanks for the clarification + linking the documentation! I'm unfortunately unable to repro this, the dialog is resizing correctly on Word Desktop for me. Are you able to provide a manifest for your add-in to help us troubleshoot? Are you also able to try launching a dialog via the Script Lab add-in?

[2021-06-30 19:28] lliu113 commented on #1145
@Cata-ExF - unfortunately there is no official way to download + open the doc. The recommended approach is to use Office.context.ui.openBrowserWindow(URL) (as you are currently using), get your file and use the browser to download.

 Appreciate the great discussion in the thread, as well as the proposed workarounds!

I'll go ahead and close this, please feel free to reactivate if you have any addi

[2021-06-30 19:28] #1145 closed, assigned to lliu113

[2021-06-30 19:30] lliu113 commented on #1356
@AltitudeApps - no worries, thanks for the extra info.

I'll go ahead and close this issue for now, please feel free to reactivate if you're continuing to see this once you return to this project. Thanks!

[2021-06-30 19:30] #1356 closed, assigned to lliu113

[2021-06-30 20:00] ghost commented on #1941
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-06-30 20:00] #1941 closed, assigned to AbidRahman-MSFT

[2021-07-01 03:51] FlyDizzle commented on #402
This is still an issue. Is this still on the roadmap to be rectified, if so when?

[2021-07-01 07:47] gingerjia commented on #1955
Thanks @jwhite-venacorp for reporting the issue!
From our [doc,](https://docs.microsoft.com/en-us/javascript/api/office/office.filetype?view=excel-js-preview)  getFileAsync return .xlsx is by design.
![image](https://user-images.githubusercontent.com/62282034/124085718-ebb45600-da82-11eb-8660-668c1532d640.png)

I tried to create a new workbook with the base64 string from getFileAsync and save it a

[2021-07-01 08:08] Alex0cean commented on #1792
Hi I can confirm this bug is fixed now as of version 16.0.14216.

[2021-07-01 08:08] #1792 closed, assigned to keyur32, sumurthy, trigurl

[2021-07-01 09:09] exextoc commented on #395
The issue is not there in New Outlook for Mac which is in production now. If you see the problem there, you can reopen the issue.

[2021-07-01 09:09] #395 closed, assigned to macOutlookExtensibility

[2021-07-01 10:02] jak-hammond commented on #1437
Hi there, is there any further update or ETA on this as it's still impacting the work we are trying to accomplish with a pinnable add-in

[2021-07-01 11:21] ghost opened #1969 "Setting up list datavalidation in onSelectionChanged event: works in Web vs does NOT work on Win32"
Hi guys,

We would like to add list datavalidation to the cell currently selected in the OnSelectionChanged event.
The idea is that based on several factors, a list is created and that list should be used for datavalidation in the current active cell (range).
On WEB/Online this is working (there is a slight delay) working
On Win32/Desktop this is NOT working. Sometime you see a dropdown icon next

[2021-07-01 14:06] swiecaJS opened #1970 "[Excel addin] - When providing custom totals values, cell formatting is not applied"
~~I want to apply the same formatting to table totals as to the whole column above.
Unfortunately, even though I can see when I inspect total cell formatting, that indeed formatting is the same as cells above, it is not applied~~

I want to apply custom formatting to the last row of the table. This row is a "totals" row. Unfortunately this formatting is ignored by the excel.

## Your Environment

[2021-07-02 03:18] qinliuMSFT commented on #1970
Hi swiecaJS,

Thank you for logging this issue. Are you asking the total row could apply the same numberFormat as the cells above?

I inspected the numberFormat of used range in the sheet, and got the following information. It seems the data you added in Setup() is in a "General" numberFormat. And the total row applied the currencyFormatting you set.

![image](https://user-images.githubusercontent

[2021-07-02 05:13] christian-sap commented on #1959
@lliu113 unfortunately not. We want to switch one existing dialog from iframe to "non-iframe" but as long as we get this error we can not deploy this change to production. We have it in our dev landscape but you are not able to access it.

[2021-07-02 06:44] Kratikal-Yashu commented on #246
Is this issue is fixed?

As I am still getting the same error when my outlook add-in loads. In some of the systems it's working fine but in most of the systems it shows the same error.

Is Office.js depends upon system configuration or browser or any compatibility issue?

[2021-07-02 07:04] 4kochi commented on #1962
I tried this approach to get a token for the REST API (https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api)

That worked, but actually i need a GRAPH token. Is there a way to convert this REST token to a bootstrap/GRAPH token?

[2021-07-02 07:20] qinliuMSFT commented on #1969
Thanks for bringing this to our attention. We could repro it and it has been put on our backlog bug#5243677. Will back to you once we have updates.

[2021-07-02 07:33] swiecaJS commented on #1970
Hi @qinliuMSFT
Sorry in the example provided I applied formatting just to the totals row.

For now, let's ignore that. The main problem is that the totals row formatting is not applied at all.
What is interesting - when you double click on the total row cell - formatting is applied afterward

[2021-07-02 07:41] swiecaJS commented on #1970
Please take a look at the video - you can see the problem there

https://user-images.githubusercontent.com/12431424/124239020-8f504580-db19-11eb-95cc-7cf40e3be826.mp4

[2021-07-02 07:48] swiecaJS commented on #1970
What is even more interesting, when you call the same function twice, the formatting is applied correctly. You can try it in another gist. I think this might be a workaround for me until this issue is resolved.

https://gist.github.com/swiecaJS/0d2d19c36e91e2b78a9bd01391673dc4

[2021-07-02 08:35] qinliuMSFT commented on #1970
The issue is reproducible from my side. it has been put on our backlog VSO#5243905, will let you know once we have any updates.  Great to know that you have figured a workaround to unblock you.

[2021-07-02 12:17] exextoc commented on #1966
Currently error notification APIs, you requested, are not a part of the mobile add-ins dealing with online meeting . We track Outlook add-in feature requests on our Tech Community Page. Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2021-07-02 15:30] Ssereno commented on #1864
@pkkj Hi, in back to this and i think that realize what the problem is. When call the  `Office.context.ui.displayDialogAsync( )` the url retuned by my method `this.getOauthUri()` is the identity url as you can see on the picture below.

![image](https://user-images.githubusercontent.com/32569245/124293381-8037ba80-db4e-11eb-9dd1-ecd95614f187.png)

In that case the event don´t fire, but if change t

[2021-07-02 23:00] ghost commented on #1604
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-02 23:00] #1604 closed, assigned to lliu113

[2021-07-03 00:00] ghost commented on #1925
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-03 02:00] ghost commented on #1930
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-03 02:00] #1930 closed, assigned to AbidRahman-MSFT

[2021-07-04 03:00] ghost commented on #1956
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-04 07:09] exextoc commented on #1967
The issue is fixed.
Please let us know if you still see the issue happening.

[2021-07-04 16:56] sureshdube commented on #246
I am facing the same error on macOS Catalina(14.15.7) for the outlook add-in. Is there any workaround to fix this error?

[2021-07-04 18:27] sidetracklegal opened #1971 "getOoxml() returns incorrect markup for certain toggle properties in newly-converted DOCX"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

getOoxml() appears to return incorrect markup for certain toggle properties (<w:i>, <w:b>, etc.) immediately after converting an open Word .DOC to .DOCX.

## Your Environment

* Platf

[2021-07-04 21:00] ghost commented on #1578
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-05 00:55] markdon commented on #1966
[Done](https://techcommunity.microsoft.com/t5/outlook/add-support-for-notifications-api-for-online-meeting-provider/m-p/2514735#M7558)

[2021-07-05 00:55] #1966 closed, assigned to nobody

[2021-07-05 02:31] margielovelet opened #1972 "Outlook Add-in 365 - API is not supported on this platform"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am working on using the SSO functionality for our Outlook Add-in. This was working perfectly last week, but when I tried to open it again today, this line of code:

is now returning

[2021-07-05 04:17] Kratikal-Yashu commented on #246
You can try **converting the ES6 syntax to ES5** as the office add-in use Internet Explorer internally where **ES6 is not supported in IE11**. May be you are using the arrow function while calling the function **office.onReady(() =>{})**

You can refer to this too - https://github.com/OfficeDev/office-js/issues/1866

[2021-07-05 09:19] wh1t3cAt1k commented on #1749
Hi there! Just encountered this again with a cryptic error "Couldn't install add-in" (no further explanation given), so our engineers spent some time again figuring this out...

As a workaround, in cases when a required parameter follows an optional parameter, we have to mark it as optional, too. At the same time, we will check its presence in the application code and fail if it's an empty value.

[2021-07-05 09:23] abdulkareemnalband opened #1981 "How can I disable my addin for word online"
As RichApi is only available on native word application. We want to disable our addin for Word Online
How can we do that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b7148f0-0384-00d9-16f4-99cdab9c8ecc
* Version Independent ID: 9a7623fd-dd24-267f-a17f-dfcbd496ee0e
* Content: [Specify Office hosts and API requirement

[2021-07-05 12:23] exextoc commented on #1474
@yumao5  Investigation is still in our backlog. Unfortunately, we have no timelines to share at this point.

[2021-07-05 13:37] gingerjia commented on #1969
@ALDriehuis , thanks for reporting the issue. We have found the root cause and working on the fix.
To unblock your side first, you can try to comment out the clear API as below:

let clickedCell = context.workbook.getActiveCell();
        //clickedCell.dataValidation.clear();
        clickedCell.dataValidation.rule = {
          list: {
            inCellDropDown: true,
            source: "a,B,c,

[2021-07-05 21:00] jwhite-venacorp commented on #1955
Thanks for the follow up @gingerjia. I tried using one of scriptlab's built-in example snippets "Get file using slicing" which uses the functions `Office.context.document.getFileAsync` and `file.getSliceAsync` to generate a Base64 string for the current file and then create a copy of the file using `Excel.createWorkbook`. I made a simple file with a button and macro (it just says "hello world"). W

[2021-07-06 00:31] exextoc commented on #1952
For [Event-Based Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch), we do not yet support [getAccessToken API](https://docs.microsoft.com/en-us/javascript/api/office/office.auth?view=excel-js-preview#getAccessToken_options_).

[2021-07-06 01:15] exextoc commented on #1949
We don't have a sample to share, however, we have multiple partners who are using this workaround.
Their add-in's JavaScript is hosted on the same server/origin as the service they are communicating with.
There's probably a missing configuration in Azure to make this work.
Just to confirm, what specific error do you get when making the fetch?

[2021-07-06 02:00] ghost commented on #1925
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-06 02:00] #1925 closed, assigned to exextoc

[2021-07-06 03:13] lumine2008 commented on #1961
@thanakrid-kunghair-rft  Could you please share the scenario? We would like to learn more about the reason you would like to unmerged cell. And see if there are some workaround for you.

Merge the result ranges is our designed behavior. The reason is that there might be a lot of precedents cells in the workbook. When this API is called, we will need to create ranges for each individual precedent c

[2021-07-06 03:41] grangeryy commented on #1937
@puripats may I know why you changed the manifest version in "step 4 change version manifest in manifest.xml to be 1.0.0.1"? Accidently or on purpose you need to have an update?

[2021-07-06 03:47] puripats commented on #1937
I try to replicate my workflow. When I updated my custom function code the version should update along with it. For example, fixed bug, add feature etc.

[2021-07-06 04:50] grangeryy commented on #1937
@puripats If I understand it correctly, what we are discussing here is an improvement ask: if code is updated, the manifest version should be automatically update?

[2021-07-06 05:04] puripats commented on #1937
Yes that's right.

[2021-07-06 06:07] benjamin-almarza opened #1974 "On appearance change, content controls duplication"
After we change the content controls' appearance we refresh the page (ctrl+F5) and all of them get duplicated

Document before:
![document-before](https://user-images.githubusercontent.com/51302934/124548938-cb650c80-de71-11eb-9d8f-7c6b885b21c2.png)

Document After:
![document-after](https://user-images.githubusercontent.com/51302934/124548819-98227d80-de71-11eb-9d3a-e71999c7f234.png  )

## Our En

[2021-07-06 06:09] exextoc commented on #912
We cannot reproduce this issue as well using the steps you provided above.
We will look into this issue again if it ever resurfaces.

[2021-07-06 06:38] qinliuMSFT commented on #1970
Hi @swiecaJS, After investigation, our team has decided to not fix this issue as this is aligning the same behavior as UI. For the table's total row range, we should first set the number format and then assign the values.

We recommend you the following workaround:
  1. Firstly assigns numberFormat to table.totalRowRange
  2. Then assigns values, the numberFormat is applied.

[2021-07-06 08:30] barisbikmaz commented on #1967
@exextoc Great its working now. Thanks for the fast fix.

[2021-07-06 08:30] #1967 closed, assigned to nobody

[2021-07-06 09:02] vdboots commented on #1952
Is there any timelime if this will be supported? i posted a question for the feature.  It is supported on the web. But now there is now way to get u user token Event-Based.

[2021-07-06 09:04] vdboots commented on #1949
If found the issue. It is working on a normal domain. But when using a subdomain like dev.api.domain.com it stops reacting.

[2021-07-06 12:42] qinliuMSFT commented on #1974
Thanks for bringing this to our attention. The issue is reproducible from my side. it has been put on our backlog VSO#5249602, will let you know once we have any updates.

[2021-07-06 14:33] andreagasparin commented on #1887
Hi @Dengshan2018 Any news on this?

[2021-07-06 15:36] Dengshan2018 commented on #1887
@andreagasparin yes, the workaround is working for the test program you attached. but have to do it every time. "npm start" will reset the registry keys to "1". Need to ensure the value is "0" before insert the taskpane(not "npm start").
The real fix is in the CC June 2021. you can try if you are Office insider.

[2021-07-06 15:53] gingerjia commented on #1955
Hi @jwhite-venacorp Please help to confirm my below repro steps to make sure we are talking the same issue:
1. create a new xlsm file 1.xlsm
2. Insert button at Ribbon [Developer] tab
3. Create a new Macro as below and named it as 'Hello'
   Sub Hello()
   MsgBox "Hello World"
   End Sub
4. Select the button and right click it, click [Assign Macro] and assign the step3 macro to the button
5. Click

[2021-07-06 16:07] ElizabethSamuel-MSFT commented on #1981
@abdulkareemnalband We don't really offer a way to disable a particular type of client since the intention is for you to write once and run everywhere add-ins are supported. However, you may be able to check for the current platform and exit if it's the online/web client, for example.

I must point out that RichApi *is* available if you run Word in a web browser (see [WordApi availability](https:/

[2021-07-06 17:46] lindalu-MSFT commented on #1963
@AlexJerabek Do you know who I should assign this issue to? There's no SME listed for Script Lab.

[2021-07-06 17:48] #1956 closed, assigned to lumine2008

[2021-07-06 17:56] lindalu-MSFT commented on #1963
Hi @darrelmiller Is this a DevX issue? If so, can you please help us triage and move this issue to the correct repo? Thanks in advance, Linda

[2021-07-06 20:29] Dengshan2018 commented on #1887
@andreagasparin btw: samesite wasn't set to 'None' in your test program for http://localhost:3001.

[2021-07-06 22:05] exextoc commented on #1949
Glad you were able to find the issue. I am closing this issue, please reopen if you have any more questions.

[2021-07-06 22:05] #1949 closed, assigned to exextoc

[2021-07-07 04:28] abdulkareemnalband commented on #1981
@ElizabethSamuel-MSFT  `ContentControl.insertHtml` is not supported on word online

[2021-07-07 06:56] exextoc commented on #1962
The callback token does not work with the Microsoft Graph. You can go through this doc “Compare Microsoft Graph and Outlook REST API endpoints (https://docs.microsoft.com/en-us/outlook/rest/compare-graph)” to get the detail.

You can look at the dialog APIs (https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api) to get auth token.

[2021-07-07 08:02] thanakrid-kunghair-rft opened #1975 "Custom Functions with StreamingInvocation show #BUSY! indefinitely."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
setResult() in StreamingInvocation seems to not working correctly. After the function is called, there are no errors, but cu

[2021-07-07 08:29] andreagasparin commented on #1887
@Dengshan2018
I hope the fix you are referring to can work in production environment as well (without running npm start).
I'll try to contact the Microsoft 365 admin to get me access to the Office Insider program.

[2021-07-07 09:20] hello-chenchen opened #1976 "Outlook IOS and Android Add-in not support promt dialog for Http 401 Unauthorized"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

when i try to go to http 401 unauthorized site on our add-in. like this site: https://httpstat.us/401
the IOS and Android Outlook will failed. it can't promt the auth dialog.

[2021-07-07 10:00] wynntee commented on #1975
I'm facing the same issue, even for synchronous functions. It happens only for Excel Online.  Everything is ok for Excel desktop.

I noticed it only yesterday (6th July 2021). The functions were working at least on 4th July, so something must have changed in between.

I've even sideloaded a test add-in (empty task pane and only one synchronous custom function). The cell shows #BUSY!.

[2021-07-07 10:05] sshukurov commented on #1975
The same with me, custom functions get stuck at #BUSY!. I tried samples from MS, tried on different browsers, tried clearing caches, it simply doesn't help. This is very frustrating.

[2021-07-07 10:43] qinliuMSFT commented on #1975
Hi @sshukurov @wynntee @thanakrid-kunghair-rft ,
Could you please share your Office Online version?  (From File->About)
In addition, could you please also try the following sample in Script Lab?
![image](https://user-images.githubusercontent.com/73509856/124746239-3afef880-df53-11eb-97f4-f9938601b4f6.png)

[2021-07-07 10:50] wynntee commented on #1975
@qinliuMSFT , there is no such thing as an Office Online version. It's always going to be the latest version, isn't it?  I've tested on Chrome, Edge, and Firefox. All return the same "#BUSY!" message. The browsers' developer's consoles show all kinds of warnings and errors coming from Microsoft's code. The errors were different yesterday compared to today, so Microsoft must have been making some c

[2021-07-07 10:53] sshukurov commented on #1975
@qinliuMSFT I see version indicated as 16.0.14302.35050 (File > About). A colleague of mine has the same version, he hasn't had any issues. Moreover, I tried Script Lab sample, it worked. After that all other custom functions miraculously started working!

UPD. I rushed. The problem returned.

[2021-07-07 10:59] carlosb1504 opened #1977 "Inconsistency in availability of localStorage between Windows/OWA clients, when using event-based activation"
We have recently been running a proof of concept, to test out functionality brought in by [Outlook add-in API Requirement Set 1.10](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.10/outlook-requirement-set-1.10). Specifically we are interested in the `OnMessageCompose` event, which we understand was made generally available in 1.10, as part of [Event-ba

[2021-07-07 11:00] thanakrid-kunghair-rft commented on #1975
@qinliuMSFT My version is 16.0.14302.35050, but custom functions still show #BUSY!

[2021-07-07 11:01] wynntee commented on #1975
@qinliuMSFT 16.0.14302.35050  like the others. It's always going to be the latest.

[2021-07-07 11:06] qinliuMSFT commented on #1975
Thanks all for your quick response. This issue is reproducible from our side and is under investigation. Will will let you know once we have any updates.

[2021-07-07 12:19] wh1t3cAt1k commented on #1965
We're also experiencing the issue on Excel Desktop for Windows.

On the Excel for Web side of things, we keep experiencing https://github.com/OfficeDev/office-js/issues/1975 , so in conjunction with this issue it means that our engineers are completely blocked from debugging the add-in at the moment.

[2021-07-07 13:34] thoffmann-fms opened #1978 "Office.context.mailbox.item.recurrence.SeriesTime end values are zero if recurrence started in the past"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Outlook / OWA
* Office version number: x-owa-version: 15.20.4287.33
* Operating System: Win 10
* Browser (if using Office on the web): Edge

## Expected behavior

Office.context.mailbox.item.recurrence.SeriesTime should ha

[2021-07-07 17:00] ElizabethSamuel-MSFT commented on #1981
@abdulkareemnalband Are you receiving an error when you use ContentControl.insertHtml in the browser client? Can you share more details about this, including which browser and behavior you're seeing?

Thanks.

[2021-07-07 23:00] ghost commented on #1578
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-07 23:00] #1578 closed, assigned to lliu113

[2021-07-07 23:46] exextoc commented on #1884
We were unable to repro the issue you are seeing. Are you using a [hybrid deployment](https://docs.microsoft.com/en-us/exchange/exchange-hybrid)?

How did you add the shared calendar in desktop Outlook and OWA? Could you provide the steps you used to add the shared calendar for us to repro?

[2021-07-08 02:57] qinliuMSFT commented on #1975
Hi @sshukurov @wynntee @thanakrid-kunghair-rft ,
We have fixed this issue, please have a try to ensure it's no longer repro from your side.

[2021-07-08 03:05] wynntee commented on #1975
@qinliuMSFT , thank you for the quick response. The issue is fixed for *sideloaded* add-ins. But it's still happening on my *published* add-in. In fact, it says "This add-in is not supported in this version of Office."... but that's impossible because it passed Microsoft AppSource validation 2 weeks ago and I haven't changed the manifest.

[2021-07-08 03:13] wynntee commented on #1975
Not sure if it helps, but developer's console in Chrome shows HTTP error 503 from the following endpoint:
https://excel.officeapps.live.com/x/_layouts/RoamingAppsHandler.ashx

[2021-07-08 03:14] qinliuMSFT commented on #1975
Hi @wynntee , could you please open a new issue for OfficeDev/office-js to explain your problem more specifically? a snapshot or something like that would be helpful. In this issue, we would like to only discuss "Custom Functions with StreamingInvocation show #BUSY! indefinitely".

[2021-07-08 03:17] thanakrid-kunghair-rft commented on #1975
@qinliuMSFT Custom functions are able to resolve, but the behaviour of streaming functions are a bit off.
Previously, this function will update its value every second, but, from the gif, there seems to be some slight delay as it skip some values.
![setResults-issue-delay](https://user-images.githubusercontent.com/73512008/124856893-8c4fcc00-dfd5-11eb-8bfe-2ec582b9b94c.gif)

[2021-07-08 03:41] wynntee opened #1979 "Excel Online: Add-in does not work when published, but works when sideloaded"
Excel Online shows a modal dialog with the title "Add-in Error" and message saying that my Office Add-in is not supported in this version of Office, even though it has already been validated by Microsoft AppSource less than 2 weeks ago and published to Office Store.

This happens only for Excel Online when published. Everything is ok when the manifest is sideloaded. Everything is also ok for Excel

[2021-07-08 05:19] abdulkareemnalband commented on #1981
Getting following error on
[code]

`The action isn’t supported by Word in a browser. Check the OfficeExtension.Error.debugInfo for more information.`

and `error.debugInfo` has following details

[code]

[2021-07-08 05:54] dingjin-ms commented on #1920
@Alex0cean We have checked in our fix, would sync with you when it is released! Thank you!

[2021-07-08 05:57] exextoc commented on #1978
We are not able to repro this issue from our side.  Is the recurrence being set using Add-in API recurrence.setAsync  or manually?

[2021-07-08 08:36] xiruatms commented on #1902
Thanks for reporting this. Will you please take a try whether you will still hit this issue?

[2021-07-08 09:27] exextoc commented on #1976
@hello-chenchen  Could you please provide more details such as repro steps and code snippet?

[2021-07-08 10:48] wynntee commented on #1979
To be clear, my Add-in is meant to be supported in Excel on the web. This was tested during development and validated during the AppSource approval process. And it still works when sideloaded manually.

Please see the following screenshots from Microsoft AppSource and Office Store.

![image](https://user-images.githubusercontent.com/73103065/124909367-f2137680-e01c-11eb-9882-9b30bca2ae92.png)

![i

[2021-07-08 11:31] wynntee commented on #1975
@qinliuMSFT , I've opened a new issue as advised.
#1979

[2021-07-08 11:32] Foundasys commented on #1902
Hello, I still have this problem but narrowed it down a bit.

![image](https://user-images.githubusercontent.com/6333708/124914570-cda1a500-dff0-11eb-9e02-7cc4b1d633ac.png)

[2021-07-08 11:44] siseli commented on #1822
any news on this? is the change still expected to be rolled out anytime soon?

[2021-07-08 13:11] davidfishlock commented on #1911
@exextoc following up here, I am seeing reports of these permissions issues from two different versions of the Windows desktop client: `16.0.14026.20308` and `16.0.14131.20278`

[2021-07-08 13:13] thoffmann-fms commented on #1978
The recurrence was set from OWA before the Add-In was started.

[2021-07-08 15:39] davidfishlock commented on #1959
We are also seeing reports of this error from our add-in to our Sentry instance but I have been unable to reproduce this locally.

In our case this is part of an oAuth flow, and the domain of the authentication url is present in the manifest `AppDomains`.

This seems to happen in a small minority of cases, all reports of this come from `OutlookWebApp`. Perhaps this is due to some specific configur

[2021-07-08 18:09] soodvaibhav commented on #1098
@nat-ser Did you find any solution to this? Our use case very similar to what you described?

[2021-07-08 19:17] Rick-Kirkham commented on #1979
I can reproduce, but the error doesn't come when I click Add in the Office Store. It comes when I click the add-ins Show Task Pane button on the ribbon.

[2021-07-08 21:23] #912 closed, assigned to exextoc

[2021-07-08 23:38] exextoc commented on #1911
Thank you for the additional builds.

To clarify, are you using only a taskpane add-in (not contextual, not autorun, no pinning)?

Are you using shared folders/delegate access? Are you using this add-in on signed or encrypted mails?

[2021-07-09 00:14] wynntee commented on #1979
@Rick-Kirkham , thank you for the response. I've updated the Steps to Reproduce section accordingly.

For what it's worth, my server logs show only 2 HTTP requests from Excel Online. One for the logo icon. Another for the JSON metadata file.

There are no HTTP requests for any of the other files listed in the manifest. Those files definitely exist (the add-in works on desktop and online if sideloa

[2021-07-09 00:15] exextoc commented on #1977
LocalStorage is not available in launch event add-ins in win32.

Instead, you can use [OfficeRuntime.Storage interface](https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.storage?view=excel-js-preview), which is supported by launch event add-ins.

[2021-07-09 02:29] gingerjia commented on #1969
@ALDriehuis and @lindalu-MSFT , the fix code also has been check-in. When deploy to PROD, I will update the thread to let you know. Thanks!

[2021-07-09 05:49] hello-chenchen commented on #1976
hi @exextoc , just use Office.context.ui.displayDialogAsync to popup a dialog on android or ios. then location.href to https://httpstat.us/401.

code snippet like:
[code]
![Screenshot2021_07_09_133454](https://user-images.githubusercontent.com/1878089/125028827-42d9ac80-e0bb-11eb-90d0-17dd75301ef4.jpg)
then:
[code]
![Screenshot2021_07_09_133506](https://user-images.githubusercontent.com/1878089/12

[2021-07-09 06:14] ghost commented on #1969
Guys, many thanks for looking into and solving this! And so quickly too!
We are looking forward to the updates!

Thanks again!

[2021-07-09 09:41] carlosb1504 commented on #1977
hi @exextoc, many thanks for your response and for confirming that `localStorage` is unavaible to launch event add-ins as per my suspicion. I've had a look at the link you sent regarding the `OfficeRuntime.Storage` interface and, it looks as though this interface is part of the [SharedRuntime 1.1 requirement set](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/shared

[2021-07-09 09:54] m-pd commented on #1400
Hi.

I'm seeing Office.context.mailbox.item.itemId as empty with the New Look Outlook for Mac. It is populated for the "old" Outlook for Mac.

[2021-07-09 10:47] exextoc commented on #1400
@m-pd
Could you please provide the following details?
- In which version of Outlook Mac are you seeing this issue?
- On which surface is the API being invoked?
- Please repro this issue in New Outlook Mac and then generate the Diagnostics ID by navigating to Help-> Collect Diagnostics and share the same.

[2021-07-09 11:03] m-pd commented on #1400
@exextoc
- Version 15.50 (21061301)
- Office365
- Diagnostics ID - PANQ3SSR

[2021-07-09 12:22] exextoc commented on #1822
@siseli  Apologies for the delay. The fix should be available globally within two weeks. We will update this thread once the fix is out.

[2021-07-09 19:54] kalvenschraut opened #1980 "Word Online Binding setDataAsync persisting old text data around when document is printed/downloaded."
We are experiencing an issue where an office binding attached to a content control area is keeping around the old text data added from setDataAsync when it is expected that the new text added would completely overwrite any old existing text. (note this extra text only appears when you try to print the document or download it)

This is happening only on word online, I am personally using google chr

[2021-07-09 22:01] ElizabethSamuel-MSFT commented on #1981
@abdulkareemnalband Thanks for sharing this information. I'll transfer to the product repo, office-js, so the product team can take a look.

Thanks.

[2021-07-09 22:06] exextoc commented on #1977
Outlook does not support the SharedRuntime requirement set or feature. One exception to this is Outlook autorun, which does support some sub features of the SharedRuntime feature, such as the OfficeRuntime.Storage interface.

[2021-07-09 22:40] pkkj commented on #1864
If the dialog will finally redirected to the localhost:4200/login.html, the API should be called and the event should be fired. Otherwise, no one triggers the event therefore the dialog won't close.
So the key is to ensure that the Event is fire correctly from the login page.

[2021-07-09 23:22] pkkj commented on #1784
It seems the localStorage is working fine. I create a test add-in which tries to read/write the localStroage.

The add-in can be side-loaded by this manifest:

[code]

When click the button **LaunchDialogOauth**, data will be stored to local storage and the dialog will pick it up later, then display it.

![image](https://user-images.githubusercontent.com/7818153/125144073-922ad780-e0d1-11eb-8fb0-0

[2021-07-10 18:00] ghost commented on #1961
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-11 00:00] ghost commented on #1960
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-11 09:00] ghost commented on #1962
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-11 23:12] margielovelet commented on #1972
Hi,

Just wondering if we already have updates on this one. Thanks heaps.

[2021-07-12 00:00] ghost commented on #1884
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-12 03:09] gingerjia commented on #1955
@jwhite-venacorp, I double confirmed the original API design and for macro enabled file xlsm, we didn't support it as at that time there is no customer requirement for it. So it's by design issue.
I have created a bug 5257622 to track your requirement and the fix will check-in soon. We will keep you update for the deploy progress.
Thanks again for reporting the issue!

[2021-07-12 11:21] ig-jb commented on #1582
@exextoc I'm seeing cookies getting treated as third party and believe it may be related to this. However, the cookies are indeed set on the domain specified in the various extension point action SourceLocation entries. I've verified this by seeing that the cookies are sent as expected when `SameSite=none`; but are blocked by the browser when `SameSite=Lax`

Example config (Testing in Outlook O365

[2021-07-12 12:31] carlosb1504 commented on #1977
I'm not sure if I'm understanding how this helps in this scenario. If the OfficeRuntime.Storage interface is available to the autorun script, but not to the Outlook taskpane, how can I use this to share information between the two?

[2021-07-13 00:00] ghost commented on #1911
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-13 00:21] jnSWPC opened #1982 "Custom Contextual tab - Execute Function- Office.context.ui.displayDialogAsync not launching dialog"
I have followed the documentation specified at https://docs.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs
While I can get taskpane to show, I am unable to launch a dialog from within a function in functionfile.js when I use executefunction. I see the button in the contextual tab, but on clicking do not see the dialog open. I am unable to figure out where the error is. Appreciate li

[2021-07-13 05:24] exextoc commented on #1978
We are still not able to reproduce this issue ,can you please share a test account where it reproduces?

[2021-07-13 06:36] 4kochi commented on #1962
Thank you for the response. We tried that approach.

Basically the `yo office` generator has already created the `fallbackauthdialog.html` which can handle the login with `msal.js`. So now we check if the client has the needed capabilities (`Office.context.requirements.isSetSupported("IdentityAPI", "1.3");`)
If not, then we show the fallback auth dialog. This works fine until the point where the d

[2021-07-13 07:04] exextoc commented on #1400
Can you please share the network trace and a test account where this issue is reproducible with us to proceed further?

[2021-07-13 08:02] exextoc commented on #1962
Please find a document which has complete details about creating  and customizing a sso-enabled add-in https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart-customize and this as well https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart. Hope this helps

[2021-07-13 08:17] 4kochi commented on #1962
Thanks, i will try that.

But in the prerequisites is say `A build of Microsoft 365 that supports the IdentityAPI 1.3 requirement set.`. So i am not sure if this will work in the mobile Outlook App

[2021-07-13 08:19] ndeeH opened #1983 "Please provide a checklist for the main pitfalls which might block the add in to work."
We have a wide range of customers which use our add in complex mostly highly secured environments.
It is very hard to provide the customer exact what he should configure to make the add in work in his "castle".

From the customer view it is our problem as vendor and we have to provide the needed configuration settings for them.
It would be very helpful to provide the administrator at the customer

[2021-07-13 08:27] exextoc commented on #1962
Please follow this https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart document as well ,this doesnot have "A build of Microsoft 365 that supports the IdentityAPI 1.3 requirement set" prerequisites

[2021-07-13 09:42] thanakrid-kunghair-rft opened #1984 "Streaming functions won't update value to the cells until double click at the formula's cell."
# Provide required information needed to triage your issue
This behaviour is happening on some workbooks. I've tried using Document Inspector, but the issue is still persist.
I have streaming functions that use websocket as a datasource, and the functions will call setResult() to show a message like `Retrieving...` while waiting for data from websocket. However, data from websocket won't be shown

[2021-07-13 11:22] gingerjia commented on #1075
@shivinder5, I debug the Excel side code, and found that this is due to for each time to call getFileAsync on Desktop, the file will be totally reload and set to the file object, so there may have very slightly size change for each call.
And I compared the properties after saving the file slices to a new workbook for different size file stream, there are no property missing or wrong data. So it sh

[2021-07-13 11:50] Alex0cean opened #1985 "WorkSheetCalculatedEvent leads to error in German environment"
Description:
When we try to get all affected ranges from a WorksheetCalculatedEvent we get an Excel API InvalidArgumentError in Excel Desktop (german culture).

How to reproduce:
Use WorksheetCalculatedEventArgs.address as input for Worksheet.getRanges(address) and trigger multiple formulas calculation (e.g. worksheet.calculate()).
This works well in Excel Online (Chrome) or English Culture but fa

[2021-07-13 12:10] davidfishlock commented on #1911
@exextoc we are using a taskpane and a UI-less function and see the issues reported in both. We do not declare support for shared folders in the manifest.

The add-in is published in the store so users are free to launch it on any email that the add-in framework supports, we don't declare any support for signed / encrypted emails specifically but if your framework supports them then I guess this i

[2021-07-13 13:34] bx-steven commented on #1884
We deploy our addin via Centralized Deployment. Regarding adding shared calendar, we've added in multiple ways, both in Outlook Desktop and OWA.

Regarding the actual bug, we've found a temporary resolution that applies to Outlook Desktop (OWA still works the same):
We're still using the same URL as before (https://outlook.office.com/api/v2.0/me/events/<itemRestId>) but we found a setting in the a

[2021-07-13 14:08] jnSWPC commented on #1982
![image](https://user-images.githubusercontent.com/22331494/125466605-7856433d-9118-4302-a0ae-42ecb2f43f65.png)

[2021-07-13 14:09] jnSWPC commented on #1982
"It remains stuck at We're starting the add-ins runtime, just a moment" and remains stuck there

[2021-07-13 14:15] jnSWPC commented on #1982
The JSON BLOB is

"actions": [
    {
      "id": "executeWriteData",
      "type": "ExecuteFunction",
          "functionName": "**funcName**"
    }
  ],
  "tabs": [
    {
      "id": "CtxTab1",
      "label": "Contoso Data",
      "groups": [
        {
          "id": "CustomGroup111",
          "label": "Insertion",
          "icon": [
            {
                "size": 32,
                "s

[2021-07-13 14:20] swiecaJS commented on #1970
Hi @qinliuMSFT thanks for the recommended workaround. Together with my workaround, I feel like this problem can be resolved if someones encounter it the future

However, I tend to disagree that this is the same behaviour as UI. If you create a table manually, add totals row, and then change formatting it will be applied. I don't think that we can really compare programmatically creating a table vs

[2021-07-13 14:20] #1970 closed, assigned to qinliuMSFT

[2021-07-13 14:31] swiecaJS opened #1986 "Automatically open a task pane with a document, not working with centralised deployment [Web Excel]"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office Web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Web
* Operating System: ma

[2021-07-13 14:36] qinliuMSFT commented on #1974
Hi @benjamin-almarza , we have fixed this issue, please have a try to ensure it's no longer repro from your side.

[2021-07-13 15:59] jnSWPC opened #1987 "OverriddenByRibbonApi element usage at tab level"
Followed document @ https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/overriddenbyribbonapi
Adding OverriddenByRibbonApi doesnt seem to work tab level. Group level seems to hide the button. Help with sample link of the feature implementation will be appreciated.

[2021-07-13 16:20] jnSWPC commented on #1987
Closing this.. i believe the controls have to be duplicated..

[2021-07-13 18:18] exextoc commented on #1884
Hi @bx-steven, thanks for sending across the full Script Lab code snippet. We tried the snippet as is on our end and it works as expected without any errors/exception. For a shared item the recommendation is to always use the **.../users/...** end point (as you do in the sample snippet shared). Here's what we tried doing and currently only concentrating on Win32 (keeping OWA aside for now to keep

[2021-07-13 20:00] ghost commented on #1961
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-13 20:00] #1961 closed, assigned to lumine2008

[2021-07-13 23:01] JuaneloJuanelo commented on #1884
@bx-steven  can you please email me so we can have a conversation offline about this?  please email me to juanbl@microsoft.com thanks!!!

[2021-07-14 02:00] ghost commented on #1960
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-14 02:00] #1960 closed, assigned to exextoc

[2021-07-14 02:10] 2020Mar commented on #1985
@Alex0cean Thanks for reporting and this is a known issue, our team has been working on fixing it. We will update the thread if any progress made.
By the way could you help describe your scenario(what you want to achieve) in details then we can help provide some workarounds if possible.
And are you contributing for add-in code or you only use add-in user to write your JS code?
Thanks!

[2021-07-14 02:13] wynntee commented on #1979
#1986 seems to have a similar issue. Looks like Excel on the web is displaying inconsistent behaviour when Add-ins are sideloaded vs deployed.

[2021-07-14 02:18] wynntee commented on #1986
@swiecaJS , I'm facing a similar issue for a published add-in. My server logs show that Excel isn't even requesting for the HTML/JS/CSS files. Do your server logs show the same?

[2021-07-14 03:00] thanakrid-kunghair-rft commented on #1961
@lumine2008  I've sent you the detail.

[2021-07-14 04:56] benjamin-almarza commented on #1974
Thanks, it is working fine now :)

[2021-07-14 05:42] #1974 closed, assigned to qinliuMSFT

[2021-07-14 08:40] swiecaJS commented on #1986
@wynntee I think your issue is a bit different. My addin works fine, it boots up no problem. What is not working is the feature to automatically open in when you are returning to the same worksheet.

[2021-07-14 09:41] exextoc commented on #1976
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-07-14 12:35] HiranPeri opened #1989 "Control xsi:type="Menu" does not work in Excel."
We used the documentation as reference to create a menu (Dropdown buttons) in excel sheet. If we comment out menu control then the add-in loads fine. But if we don't comment out and expect the menu to load then entire add-in fails.

[Menu (dropdown button) controls](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/control#menu-dropdown-button-controls)

## Issue
Here is sampl

[2021-07-14 12:41] 4kochi commented on #1962
Ok, so we resolved the issue. The problem was the `redirectUri `

Since our Add-In only has a client part, which is hosted on a static server and no backend (node.js) part, the call to `https://localhost:3000/fallbackauthdialog.html` is not correct. We had to make the `redirectUri ` dynamic.

Here is our changed config:

[code]

[2021-07-14 12:41] #1962 closed, assigned to exextoc

[2021-07-14 12:53] HiranPeri commented on #1989
Update -
I tried the same control on word manifest and it shows a menu like there  but not in excel.

[2021-07-14 13:04] thoffmann-fms commented on #1978
I can't repro either on newer events, just the one test series I had for the week of July 5th.  I have another test series created on July 12th and it is returning valid data.  Not sure what was happening in that one case.  Thanks for looking into it, though!

[2021-07-14 13:04] #1978 closed, assigned to exextoc

[2021-07-14 16:14] AlexJerabek commented on #1989
Thanks for the feedback @HiranPeri.

@Rick-Kirkham, could you please take a look?

[2021-07-14 16:30] ic3guy commented on #1799
If you are on the "Semi-Annual Enterprise Channel" and your versions are correct for Edge WebView2 (as mentioned in your post) you need to follow the instructions at https://developer.microsoft.com/en-us/microsoft-365/blogs/understanding-office-add-ins-runtime/

Specifically from that blog post:

[2021-07-14 18:33] Rick-Kirkham commented on #1989
@HiranPeri Please clarify what you mean by "entire add-in fails". What exactly goes wrong. What steps lead up to the failure. Is there an error message?

[2021-07-14 21:26] wh1t3cAt1k commented on #1938
@sshukurov can you confirm this is also what we are experiencing with Edge?

[2021-07-14 22:27] sshukurov commented on #1938
@wh1t3cAt1k yep, just verified, the issue is still there.

Looks like https://github.com/OfficeDev/office-js/issues/1965 is a duplicate.

[2021-07-14 23:57] exextoc commented on #1911
@davidfishlock unfortunately without a repro it's really difficult for us to pin point the issue here. By any chance do you know if and when your users hit this, if it's consistent for all items or just intermittent within the same session of Outlook. Also, when this error is hit in the add-in, is there some sort of UI/error message that is shown to the user? If so, it might be worth asking if the

[2021-07-15 00:14] exextoc commented on #1977
Unfortunately at this moment you can't share information between the OfficeRuntime.Storage used by AutoRun addin and the taskPane addin. May I recommend using Roaming Settings API instead, to help achieve your scenario? Here's the documentation on it: - [Roaming Settings](https://docs.microsoft.com/en-us/javascript/api/outlook/office.roamingsettings?view=outlook-js-preview)

[2021-07-15 02:11] chanhohang opened #1988 "Excel Officejs Excel Run method is leaking memory when running in WebView2"
I reproduce a memory leak issue similar to my add-in usage by a gist code.
https://gist.github.com/chanhohang/32c736bfd0de706644bf2f00a8afdcd1
Below is a screen capture from the Edge WebView 2 runtime memory to show the memory increase
![excel_run_memory](https://user-images.githubusercontent.com/4111001/125716507-d2ae5e0c-0319-4777-bc39-7ac293c1f5c1.gif)

My Add-in is much more complicated than t

[2021-07-15 02:40] gingerjia commented on #1955
@jwhite-venacorp and @lindalu-MSFT, the fix has been check-in. When deployed to Desktop, will update to the thread. Thanks!

[2021-07-15 05:31] hirandesai commented on #1989
@Rick-Kirkham  - This is the error I see -
![image](https://user-images.githubusercontent.com/18441068/125734031-709d0dc2-4cf9-4e44-8e4b-b3b088642238.png)

i.e. The add-in does not load in Excel at all.
No errors are displayed in visual studio.

[2021-07-15 05:43] hirandesai commented on #1989
To provide more information, about what I did:

1. Create new project in visual studio with project template Excel Add-In Web
2. Run project (F5), you can see the task pane add-in in excel.
3. Stop the project
4. Add menu control (and required resource items) (the menu control was copied from documentation link give above)
5. Run the add-in. Excel won't load the add-in.
6. Comment the newly added

[2021-07-15 09:33] m-pd commented on #1400
@exextoc

There is no network trace. We are just accessing `Office.context.mailbox.item.itemId`.

Unfortunately, we cannot provide a test account at this moment.

[2021-07-15 11:39] qinliuMSFT commented on #1980
Hi @kalvenschraut , Could you still repro this issue? I tried the file and gist you provided, but could not repro this. Please help confirm that.

[2021-07-15 13:10] davidfishlock commented on #1911
@exextoc Unfortunately I won't be able to get this information unless I have a direct report from a user that I can tie up to this.

Do you guys have logging set up when errors like this are hit? It seems very clear that this is a client / SDK issue given that it consistently only affects one of the client SDKs. So it seems unlikely to be specifically related to a particular usage.

[2021-07-15 14:47] kalvenschraut commented on #1980
I am currently unable to, asking my project manager if they can confirm they are not seeing the issue anymore also.

 Was it possible a word online update went out since I posted the issue 6 days ago? Going attach the resulting file after the above screen cap just in case as the contents are different then what the screen cap shows.

[Scripts Labs after replacement.docx](https://github.com/OfficeD

[2021-07-15 18:24] ElizabethSamuel-MSFT commented on #1661
We've provided an object called SessionData (currently in [preview](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview#session-data)). You can access through Office.context.mailbox.item.sessionData.

Can you see if this works for your scenarios?

Thanks.

[2021-07-15 18:57] Rick-Kirkham commented on #1989
This looks like a bug in Excel. I'm transferring this issue to a different repo.

[2021-07-15 19:14] kalvenschraut commented on #1980
My product manager confirmed they are unable to reproduce on our internal documents also. Was some kind of update put out that would have fixed this issue already?

[2021-07-15 21:42] nithinshiriya commented on #494
Have you tried setting the "AllowExternalMarketplace" as true?

[2021-07-16 01:47] grangeryy commented on #1938
@smaremanda not custom function specifically, but also other add-ins seem encounter the issue too. Not sure if this is similar as #1965?

[2021-07-16 02:09] qinliuMSFT commented on #1980
We actually have deployed one update including the fix on content control this Tuesday. Great to know you are unblocked now.

[2021-07-16 04:30] nkrtarm opened #1990 "Ribbon button image is getting cut off"
We just got this issue this month. The button image is getting cut off. We can reproduce this on Chrome for Mac Version 91.0.4472.164 (Official Build) (x86_64)

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Operating System: Mac Cartalina and BigSur
* Browser (if using Office on the web): Chrome Version 91.0.4472.164 (

[2021-07-16 08:51] Alex0cean commented on #1985
@2020Mar , thanks for your answer. We are developing an add-in. Please check with @lumine2008 for more information.
So you have an ETA for a fix? I.e. is it worthwhile thinking of a workaround or can we expect a fix rather soon?
(as a workaround we need to find out the culture and dividers and possibly replace them .. - but this seems to be ugly, maybe you have something else in mind)

[2021-07-16 10:38] grangeryy commented on #1937
@mattgeim do we have work item already tracking this ask? Thx!

[2021-07-16 13:16] #1980 closed, assigned to qinliuMSFT

[2021-07-16 16:19] informaruth commented on #1913
This is an issue that has not bee completely fixed with the new releases.

Please refer back to this issue: https://github.com/OfficeDev/office-js/issues/1069

Our users are having the same issue:
- Open Outlook desktop app and login
- Open an email, and open a pinnable add-in
- Open Task Manager
- Double click an email in the inbox, wait for it to open in a new window and wait for the pinnable ad

[2021-07-19 02:50] 2020Mar commented on #1985
@Alex0cean It is supposted to release no sonner than September update.
And for the workaround. I think there are two choices.
The first one is detect the locale and use different list separators for different locales in code side.
The other is for end users, they can change list separator to comma in win10 OS setting. Control panel->Change date, time, or number formats ->Formats tab Additional Set

[2021-07-19 03:00] ghost commented on #1977
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-19 06:39] thanakrid-kunghair-rft commented on #1984
Hi
Any updates regarding this issue?

[2021-07-19 11:04] Aidam1 opened #1991 "[Web Outlook] Task Pane addin does not support Clipboard API"
# Provide required information needed to triage your issue
I would like to use Clipboard API to copy text on button click in web Outlook taskpane addin. However, it is currently blocked because the containing iframe doesn't have necessary permissions.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Opera

[2021-07-19 11:46] exextoc commented on #1991
Thanks for reaching out and mentioning about this problem. We are looking into this for "Outlook Web" (OWA).

Does your code for clipboard in add-in code work in "Outlook Desktop" (Windows) and "Outlook Mac" (MacOS)?

[2021-07-19 11:50] Aidam1 commented on #1991
I currently don't have an option to test it on MacOS, but it is working in "Outlook Desktop" (Windows).

[2021-07-19 12:10] wynntee commented on #1979
Here's a screenshot of the error.

![if_published](https://user-images.githubusercontent.com/73103065/126160130-8f427742-9906-42f3-b180-14c7da468d1c.gif)

[2021-07-19 12:27] wynntee commented on #1979
Here's a screenshot of the add-in when I sideload the manifest manually. This shows the add-in works in Excel on the web, which contradicts the previous error message.

![if_sideloaded](https://user-images.githubusercontent.com/73103065/126159426-2b203fe4-e150-44aa-b671-ad4fdb107c56.gif)

[2021-07-19 12:35] wynntee commented on #1979
@Rick-Kirkham is someone looking into this issue? Still needs triage.

[2021-07-19 14:20] exextoc commented on #1911
@davidfishlock Is it possible to at least log the additional information requested above when the calls fail with this error? These should all be achievable through the JS side of the add-in. This will help us narrow down the issue to either Office JS or the client side.

[2021-07-19 21:00] ghost commented on #1661
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-19 23:22] AbidRahman-MSFT commented on #1979
Seems like it could be a store validation issue? @JuaneloJuanelo can you help?

[2021-07-20 01:14] grangeryy commented on #1984
@xiaochunms could you help to take a look?

[2021-07-20 11:33] kevinxbrown commented on #1756
Hi, even after I updated Visual Studio 2019 to the latest release, I had the same issue. However, I can confirm that I obtained the latest XSD file from https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-owemxml/c6a06390-34b8-4b42-82eb-b28be12494a8 and overwrote the local file mentioned above, and this fixed the problem.

[2021-07-20 12:24] davidfishlock commented on #1911
@exextoc what additional information has been requested that has not been provided?

It was requested that we log `Office.context.mailbox.diagnostics.hostVersion`, and that information was provided here 2-3 weeks ago. Was there something else that I missed?

[2021-07-20 14:56] m-pd commented on #1400
@exextoc

I have written the contents of the `Office` object to the developer console and screen grabbed the `Office.context.mailbox.item` property. As you can see, `itemId` is empty. In the background you can see that Outlook for Mac is in "New outlook" mode.

![image](https://user-images.githubusercontent.com/48472967/126347898-5dae486f-98be-4a93-9784-0f8f5fdd35ff.png)

Below is `item` in "class

[2021-07-20 15:07] David74000 opened #1992 "getAllInternetHeadersAsync not working in dialog window"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: N/A
* Operating System: Windows 10
* Browser (if using Office on the web): chrome and edge

## Expected behavior
the function getAllInternetHeadersAsync  should return a result object with a **statut** attribut equal to "success", and

[2021-07-20 16:45] joshuayuen99 commented on #812
For anyone else having this issue, I found that Firefox was more critical of add-ins being sideloaded through localhost, and didn't trust the self-signed certificate used to serve it, while Chrome was happy enough to trust it without issue. I managed to get around this issue by visiting https://localhost:3000 directly in Firefox and going through the prompts to add it as an exception. I suspect yo

[2021-07-20 16:59] davidchesnut commented on #1993
Transferring this issue to the office-js repo to track as a product bug. See ADO 5022839 for more tracking details.

[2021-07-20 22:14] nima-chatlani opened #1994 "getFileAsync PowerPoint add in always returning "internal error has occurred""
# Provide required information needed to triage your issue

Following this tutorial (the example listed below "getFileAsync(fileType, options, callback)") exactly but each time I run sendFile() I get the error code 5001 and message "An internal error has occurred."

https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=excel-js-preview#getFileAsync_fileType__options__callback

[2021-07-21 00:11] exextoc commented on #1861
Add-ins in OWA run in a browser. In the native Outlook Desktop client, the add-ins run in a sandboxed environment within a separate process. Are you comfortable sharing your bundle with us so that we can try them in-house to see if we can reproduce this issue? We have never encountered an issue like this.

[2021-07-21 02:18] xiaochunms commented on #1768
@wh1t3cAt1k Not sure if you are still hitting the error as such. If so, may you please share the latest Error Id? The previous Error Id was out of date and a latest one will be much helpful for the investigation. Sorry about that and thanks a lot for your understanding.

[2021-07-21 05:36] lumine2008 commented on #1989
This looks like a UX issue, so let me looping @lliu113.

[2021-07-21 06:24] libjosep opened #1995 "Cannot delete a control in word online"
I am not able to delete a content control in word online  if the cannotEdit property is true. I am inserting a content control to document with `insertContentControl` function. After insertion, I am setting the `cannotEdit` flag to true to prevent editing the text in the content control. After that, if I select the content control and press "Delete" key, it is not deleting tht content control. Als

[2021-07-21 07:13] libjosep opened #1996 "Inserting a content control to a blank line is taking the whole line as the range"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

If I insert a content control to a blank line in a document, it is taking the whole line as the range in the online version. It is supposed to take the range according to the text ins

[2021-07-21 07:34] qinliuMSFT commented on #1995
Hi @Libinjoseph, the issue is reproducible from my side, it has been put on our backlog VSO5290651, will let you know once we have any updates.

[2021-07-21 07:51] qinliuMSFT commented on #1996
Thanks for reporting the issue. It is reproducible and has been put on our backlog VSO5290681, will let you know once we have any updates.

[2021-07-21 08:36] xiruatms commented on #1981
Thanks for reporting this.

But I'm sorry that I can't repro the issue you reported. Can you share more information please? Are there any sample codes which can be shared? Which browser are you using? Can you share a screen recording of this issue?

Those information will help us to continue further investigation.

[2021-07-21 08:44] xiruatms commented on #1144
Thanks for reporting this.

According to the investigation, this is a by-design behavior, and also consistent with the current behavior when you tried to insert a table to a content control with UI operation: a newline was added before the table.

[2021-07-21 10:23] sitthinan opened #1997 "Can not run 'Enable and Disable Add-in Commands' when using setStartupBehavior(Office.StartupBehavior.load)"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Operating System: Windows 10
* Browser (if using Office on the web): Google Chrome

## Expected behavior

The button on my ribbon should be enabled or disabled following the logic after I reopen or r

[2021-07-21 11:49] barisbikmaz commented on #1144
@xiruatms I don't think that this should behave like the UI insertion. I can image that the UI does this because it is nearly impossible to enter sth manually before and after the table if there would be no space before the table in that content control.

But with code I have control if I want to have a paragraph before and after the table and can decide if I wanna do that.
 cc @MartinSSeifert @Ab

[2021-07-21 15:29] JuaneloJuanelo commented on #1884
@bx-steven  hello Steven I would love to follow up with you on this, I have not seen your email, thanks !

[2021-07-21 16:04] savanetllc opened #1998 "Possible values for custom function parameter"
Hi All,
We have Excel Add-in using Office-js API which contains couple of Custom Functions. Each CF has filter parameter which accept couple of pre-defined options. So when user start typing CF in cell then how can I show those possible options (for selection) to user like we have it for VLOOKUP (which shows possible value for range_lookup parameter).
![image](https://user-images.githubusercontent

[2021-07-21 18:08] kumaro opened #1999 "In OWA Office.context.mailbox.item.body.getAsync with Text Coercion type not returning line breaks (CR LF)"
Our add-in stopped working in OWA as body.getAsync is not returning line breaks  but it is working fine in Outlook Desktop

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:OWA
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Browser (if using Office on the web): Chrome, Edge

## Expected behavior

Return line breaks as expected

[2021-07-21 18:25] kumaro commented on #773
is this fixed? we are experiencing the same issue since yesterday.

[2021-07-21 23:09] smaremanda commented on #1988
thanks for reporting the issue @chanhohang. @Dengshan2018 - could you please help debug this issue?

[2021-07-21 23:18] exextoc commented on #1911
The additional information that we were referring to is what we mentioned in this previous reply and not the original log you shared

This should be achievable through the JS side of the add-in, can you try this and share with us the result?

[2021-07-22 00:21] chanhohang commented on #1988
@smaremanda thanks so much for the repsonse.

To add a bit more color to this issue. My finding so far from the WebView2 heapdump is that i can see a lot of callback window.agavehostcallback is registered in the native_context of windows and the string is within this callback.

I can see a similar issue is reported long time ago https://github.com/OfficeDev/office-js/issues/584.

Just my 2 cents,

[2021-07-22 01:57] grangeryy commented on #1998
Hello @savanetllc, this is currently not supported in custom funtions yet. I've created an item in our backlog to track:5292503. THX!

[2021-07-22 02:00] #1773 closed, assigned to grangeryy

[2021-07-22 03:22] jean-wujingyi opened #2011 "Errors on Office.context.mailbox.item.location.setAsync"
For newUI of Outlook desktop version, when I open a new meeting event and inject Room info on location field first, then try to using addin to inject meeting link to location field, the location field could not spilt Room info and meeting link correctly. It been used semicolon before but seems invalid now.
<img width="1105" alt="Screen Shot 2021-07-22 at 11 14 28 AM" src="https://user-images.githu

[2021-07-22 05:00] ghost commented on #1977
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-22 05:00] #1977 closed, assigned to exextoc

[2021-07-22 06:14] Dengshan2018 commented on #1988
Investigating.

[2021-07-22 07:55] #1815 closed, assigned to smaremanda

[2021-07-22 08:20] tsardy opened #2000 "Kendo UI components (ComboBox, MultiSelect) do not work properly with latest WebView2 in Office Content Add-in"
When changing selection in the Kendo UI ComboBox or MultiSelect the newly selected item does not show up in the control.

It works properly in Task Pane Add-in (replacing xsi:type="ContentApp" by xsi:type="TaskPaneApp" in the manifest) and in Edge browser. Also works well in Edge webview and worked well in past webView2 releases.

## Your Environment

* Platform PC desktop,
* Host [Excel, , PowerP

[2021-07-22 08:47] shubhamsoni2074 opened #2001 "[Word] issue with DocumentProperties.lastSaveTime"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

 DocumentProperties.lastSaveTime should as per documentation `Gets the last save time of the document.`. But it does not seems to be working as after changing document and again check

[2021-07-22 10:25] Vaibhav-Mande commented on #1580
Hi any update on this Issue ?

[2021-07-22 15:58] AlexJerabek commented on #2011
Thanks for reporting this @jean-wujingyi.

@exextoc, could you please take a look?

[2021-07-22 16:12] christian-sap commented on #1959
Hi @lliu113 , is there some progress? Are you able to analyze the issue without manifest?

[2021-07-22 16:32] AbidRahman-MSFT commented on #2000
Hey @tsardy, thanks for reporting the issue.

@smaremanda, could this be a result of a recent WebView2 change?

[2021-07-22 16:57] davidfishlock commented on #1911
Ok, I'll add some further logging of this.

[2021-07-22 17:06] lliu113 commented on #1994
@nima-chatlani - sorry you're hitting this! Unfortunately I can't seem to find the tutorial in the link you provided - it links to the document class with it's associated APIs. Did you try one of the examples?

[2021-07-22 17:14] nvazhayil opened #2002 "Office.ribbon.requestUpdate throws ControlIdNotFound"
https://docs.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs

Is support for custom contextual tabs removed from Excel on Mac?

I am using custom contextual tabs from the past few months and I have seen it working in Excel on Mac. However, it is broken from the past few days and Office.ribbon.requestUpdate is throwing an exception saying "ControlIdNotFound". The same code works in of

[2021-07-22 17:17] lliu113 commented on #1989
@hirandesai - thanks for the extra context! Are you able to side-load your manifest, instead of launching it through visual studio? The easiest way to do this in Office Online, [here is more info](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-office-add-ins-for-testing). Are you hitting a similar error?

[2021-07-22 17:23] nima-chatlani commented on #1994
@lliu113 oh my bad, yes I was following the example listed under the  "getFileAsync(fileType, options, callback)" function

[2021-07-22 17:47] JuaneloJuanelo commented on #1979
@wynntee  when you sideload your manifest, what manifest are you using?

[2021-07-22 19:12] jwhite-venacorp commented on #1955
@gingerjia thanks for the follow up, sorry I was a bit delayed responding. Does this mean that the API will support macro-enabled files? Or will it just support the case of copying macros with absolute path?

[2021-07-22 19:39] lliu113 commented on #1986
@swiecaJS - thanks for reporting this! This is a known issue, unfortunately we don't have an ETA to share at the moment but it is in our backlog.
Internal bug #: 3546573

[2021-07-22 19:43] keyur32 commented on #1979
Hi @wynntee, thanks for the details. We are investigating and will get back to you once we have more information.

[2021-07-22 19:52] lliu113 commented on #1959
@christian-sap - thanks for checking back in! A bug has been logged for this issue and is awaiting triage. Will update this thread once we have more info.
Internal bug #: 5295252

[2021-07-22 23:00] ghost commented on #1661
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-22 23:00] #1661 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2021-07-23 00:02] wynntee commented on #1979
@JuaneloJuanelo , it's the same manifest I submitted to Microsoft AppSource.

[2021-07-23 01:51] grangeryy commented on #1984
@thanakrid-kunghair-rft， after investigation, we notice you set the cell value in Excel.Run in one streaming function, which is hard to guarantee the update frequency. We also noticed there is another streaming function, which is the typical usage. Can you check if the second streaming function work as expected?

[2021-07-23 02:04] gingerjia commented on #1955
@jwhite-venacorp, my fix is to support macro-enabled files (.xlsm) for this API, when calling Office.context.document.getFileAsync, the file slices will contain the macro related info also. :)
Please let us know if you have any other issues. Thanks!

[2021-07-23 03:00] thanakrid-kunghair-rft commented on #1984
Hi @grangeryy I think the latest commit in main branch does not call the function with Excel.Run().

[2021-07-23 03:07] thanakrid-kunghair-rft commented on #1984
You'll have to use `=CONTOSO.STREAMING` that has setTimeout.

[2021-07-23 05:43] Premsagar-lab commented on #1882
@exextoc Any update on this?

[2021-07-23 07:34] Premsagar-lab opened #2003 "[Outlook Onsend AddIn] SaveAsync Office JS API does not update MIP Label to Exchange Server in Outlook Application for Macos"
# Provide required information needed to triage your issue
On the basis of email body content, we have to enforce MIP Label as provided by the Enterprise policy.
We use EWS API to fetch the MIP Label applied by the user on outlook email being composed in Onsend addin.

To run EWS API, we have to save email for getting item id.
When we save an email just composed by the user, SaveAsync API works fi

[2021-07-23 09:27] vinodifour opened #2004 "How to run desktop Word AddIn with ngrx in MS office 2016"
I'm trying to load word addIn in desktop MS-office 2016 but not working. it's work fine in online platform. I have tried With Angular 11.0.5 and MS Word 2016 my AddIn working fine with desktop and web, but when upgrading the version of angular CLI to 12.1.1 and also added NgRx framework after that Add-in does not load in desktop word file.

**Code attached on below link :**
https://drive.google.co

[2021-07-23 10:14] kdmadej commented on #1986
While I completely understand that fixing bugs takes time and resources that are not always available (other priorities, being short-staffed, you name it), I'd like to ask if there was a chance to update the [docs](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document) with a warning that there is a known issue? I.e. in the section about [testin

[2021-07-23 12:50] christian-sap commented on #1958
Hi @keyur32  and @lumine2008 , did you have time to check this issue? It is a complete blocker of using admin managed add-ins when customers have blocked third-party cookies in the browser.

[2021-07-23 13:01] christian-sap commented on #1959
@lliu113 thanks for the update. Do you need more details and a reproduction scenario? I would be able to provide you a way to reproduce it beginning of next week.

[2021-07-23 13:14] adrianriddle commented on #1294
Hi, this is a a bug, it is the same as this one:
https://github.com/OfficeDev/office-js/issues/71

But there is no information on that one either about if it is going to be fixed or a work around. I am facing the same issue at the moment. Could someone provide some feed back on how to have the `insertHtml` function properly coerce the HTML for the list into a correct structure in Word with the las

[2021-07-23 14:23] jwhite-venacorp commented on #1955
Do you have an estimate for when this will be in the Beta channel and we can test it out?

[2021-07-23 16:27] algomaster99 commented on #1294
I just tried inserting the same string using `insertHtml` in [ScriptLab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab) and it worked out just fine. They might have fixed it in their latest release of JS APIs. You can also try it yourself by importing [the gist](https://gist.github.com/algomaster99/9e920313cf44a2529607800cecb60cd8) I created.

Last year, when

[2021-07-23 16:34] nima-chatlani commented on #1994
@lliu113 oh my bad, yes I was following the example listed under the "getFileAsync(fileType, options, callback)" function

[2021-07-23 19:53] keyur32 commented on #1958
Thank you for the report and apologies for the inconvenience. We can repro and team is investigating this limitation. Internal tracking #: 4774608

[2021-07-24 07:23] sundariragavan opened #2005 "How to refresh the outlook add in taskpane after redirect to the taskpane page"
Hi Everyone,

I have created outlook web add-in. In this add-in i have implemented salesforce login using jsforce. After the login its redirect to taskpane. But the taskpane is not rendered again. How to refresh the taskpane and re-render the taskpane UI ?

### taskpane.html
[code]

### taskpane.js

[code]

In taskpane.js i want to render the App after the redirect. how to achieve this ??

[2021-07-24 22:07] jimbarrett33 opened #2006 "Dialog (modal) "Message from Add-in:" should be removed or customizable. It confuses users."
When displaying dialog with `displayInIframe: true` (modal) the dialog gets a title "Message from Add-in: <add-in name". I see that https://github.com/OfficeDev/office-js/issues/971 indicates that "For security reasons, we do not currently allow customizable dialog titles" (although I don't really understand), but at least get rid of the "Message from Add-in:" part and leave the add-in name.

To m

[2021-07-26 04:42] jean-wujingyi commented on #2011
Any updates?

[2021-07-26 09:35] wh1t3cAt1k commented on #1998
@grangeryy one important consideration that I'd like to point out and request support for:

Sometimes the list of possible values will depend on the values already supplied for other arguments.

An adapted example from our add-in (real business case): our users set up connections to different hosts, which expose multiple endpoints (each their own).

Imagine there is a function like `=GETCUSTOMDATA

[2021-07-26 09:58] wh1t3cAt1k commented on #1998
To further illustrate our use case. In our existing COM add-in, we use System.Windows.Forms to draw an  "intellisense-like" tooltip with argument description, best match, and suggested values.

Example from our add-in, Velixo:

<img width="484" alt="image" src="https://user-images.githubusercontent.com/5159662/126970029-b71dc9e8-b27f-404f-a76f-d7c695c7abdd.png">

The possible values for `Connectio

[2021-07-26 11:08] FTSupportsrl commented on #1988
We're facing the same issue. The memory goes up consistently and gains in few hours the 4 GB limit. After that the Add in crashes. In a more memory poor environment the crash happens after 30/40 minutes.

[2021-07-26 12:18] tsardy commented on #2000
@smaremanda Do you have any update on this?

[2021-07-26 13:46] sitthinan commented on #1997
Hi, has any updates for this ticket?

[2021-07-26 15:29] Dengshan2018 commented on #1988
@chanhohang @FTSupportsrl The fix is on the way. Please try latest version in Beta Channel or CC Channel later this week.
The fix will be available in Beta Channel(build14324) or CC (Build 14228.20200)

[2021-07-26 15:42] nickjgentile opened #2007 "Uploading a new (or updated) Manifest file does not update my Add-in"
**Uploading a new (or updated) Manifest file does not update my Add-in**
I am trying to figure out how to format everything for myself to have an Outlook addin that appears/allows users to perform some actions within the Calendar subapplication in Outlook. In doing so, I have been making tweaks to my Manifest file, which I think upload via **Get add-ins => My add-ins => + Add a custom add-in => br

[2021-07-26 20:24] nickjgentile commented on #2007
Was able to get the app to update on reupload by removing the wef dir found in

`~/Library/Containers/com.microsoft.{host}/Data/Library/Application Support/Microsoft/Office/16.0/Wef/ where {host} is the Office application (e.g., Excel)`

Documentation that lead me to this here: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-development-errors

[2021-07-26 20:24] #2007 closed, assigned to nobody

[2021-07-26 21:00] ghost commented on #1957
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-26 21:00] ghost commented on #1861
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-07-26 21:02] exextoc commented on #2005
Which platform are you you having trouble with? Is this for Win32 or Outlook on the Web? Meanwhile, can you try `window.location = "https://localhost:3000/taskpane.html";` in your taskpane.js just to check whether taskpane.html redirects properly without going through jsforce and let us know? If it does redirect correctly then this might have something to do with the jsforce's redirection/integrat

[2021-07-26 22:19] #1884 closed, assigned to exextoc

[2021-07-26 23:25] jargil commented on #476
This should be working as expected in any recent Office for Mac build.

[2021-07-26 23:25] #476 closed, assigned to mattgeim

[2021-07-27 02:57] gingerjia commented on #1955
Since it depends on Win32 deployment, so may need about 1~2 month later. Currently it's waiting for merging to main branch. When the merge work done, then can get more accurate estimation. I will update here when get the accurate time.
Thanks!

[2021-07-27 03:00] wynntee commented on #1979
@keyur32 , please keep me updated soonest. I suspect Excel on the Web is wrongly throwing an error on one of the Requirement Sets listed in my manifest. See screenshot below. Maybe the validation of these Requirement Sets is inconsistent between add-ins from the Office Store vs those that are sideloaded?

![image](https://user-images.githubusercontent.com/73103065/127087871-2870dfb4-597e-447f-9eef

[2021-07-27 04:56] exextoc commented on #1992
Thanks for reporting this issue regarding getAllInternetHeadersAsync. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: 123235

[2021-07-27 07:18] exextoc commented on #1882
Currently, option to restrict addin from getting loaded on specific platform is not a part of the product. If manifest has DesktopFormFactor, add-in will load on Win32, Mac and OWA. And if it contains MobileFormFactor, add-in will load on iOS and Android. We track Outlook add-in feature requests on our  [Tech Community Page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/i

[2021-07-27 07:28] exextoc commented on #2011
@jean-wujingyi By Outlook desktop, do you mean Win32 or Mac? Please share build number also.

[2021-07-27 08:24] grangeryy commented on #1984
@thanakrid-kunghair-rft seems below part misuse the setResult:
![image](https://user-images.githubusercontent.com/50093161/127121654-3d3126a3-745d-47ae-aac0-2963884ac8e8.png).
More details in [HERE](https://docs.microsoft.com/en-us/javascript/api/custom-functions-runtime/customfunctions.streaminginvocation?view=excel-js-preview)

[2021-07-27 08:46] exextoc commented on #2003
@Premsagar-lab Are you using new Mac Outlook UI or old UI?

[2021-07-27 10:31] tsardy commented on #2000
@AbidRahman-MSFT , @sohailzafar , @smaremanda , please update the status. this issue blocks us from releasing the new version of our product and our users are not able to place content panes!

[2021-07-27 14:29] jak-hammond opened #2008 "ItemType differs between Office.js and MAPI MESSAGE_CLASS properties"
This might be a little niche, but we are writing an add-in and we need to make sure that meeting appointments are not processed. We have achieved this partially by using the `Office.MessageCompose.itemType` property which for a new appointment, correctly returns `Appointment`, however when a meeting invite is **FORWARDED**, then Office.js is returning the item type as `Message`.

Using the Graph A

[2021-07-28 05:29] keyur32 commented on #1979
Hi there. Update: this is still under investigation but it appears the custom functions 1.3 requirement set check is not working as expected. Will revert back with more details as we have it.

Thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Wynn Tee ***@***.***>
Sent: Monday, July 26, 2021 8:00:33 PM
To: OfficeDev/office-js ***@***.***>
Cc: Keyur Patel

[2021-07-28 05:44] sumitmodi01 commented on #2003
We are using Old UI

[2021-07-28 06:47] lliu113 commented on #2006
@jimbarrett33 - appreciate your feedback here! We are working on removing this string. As you already mentioned, this is included for security purposes. The main reason is to prevent a malicious add-in from spoofing a legitimate dialog (e.g. an office auth). The string makes it very clear to the user that the dialog belongs to an add-in. However, we understand this can be unappealing and we are in

[2021-07-28 06:47] #2006 closed, assigned to lliu113

[2021-07-28 18:57] keyur32 commented on #1945
Hi everyone,

Thanks for the report and feedback.

Good news is, we have a new mechanism for 3rd party providers who are in the Cloud Storage Partner Program to embed their own add-ins within their host.

Please see this documentation for instructions: https://wopi.readthedocs.io/en/latest/scenarios/hostinstalladdins.html, and contact the CSPP team to get onboarded. This capability will allow you

[2021-07-28 20:51] jlevenssfdc opened #2009 "makeEWSRequestAsync fails on Outlook Desktop with Shared Calender Items when not organizer"
When using this function with a GetItem request in a Shared Calender item where you are not the organizer on a Desktop client it's returns the following

{code: 9020, message: 'API not supported for shared folders', name: 'GenericResponseError' }

When using this same function in OWA for the same event, it succeeds as expected.

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Ho

[2021-07-29 05:30] exextoc commented on #2011
Thanks for reporting this issue regarding location.setAsync API. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id-
New Mac Outlook UI: 5308309
OWA: 123448

[2021-07-29 05:32] eldargum opened #2016 "batching custom functions example doesn't work in excel"
When I tried to run a batching custom function in excel I get an error

Verbose	Runtime	[Console] [Log] error message:Host may not have set any promise continuation callback. Promises may not be executed.

In Office Web app it's working normally. Will this work in excel?

[2021-07-29 07:56] exextoc commented on #2003
@Premsagar-lab Can you please share code snippet for applying and fetching MIP label?

[2021-07-29 08:29] sumitmodi01 commented on #2003
Here is the sample code.
https://gist.github.com/sumitmodi-lab/3d6a3e1a58b846ce7e5c39657e78262f

We just fetch the label applied by user, then match it with required one, and then ask user to apply the correct label.

[2021-07-29 09:39] sundariragavan commented on #2005
Platform : outlook on the web. The jsforce is redirect correctly after the login.

[2021-07-29 10:36] exextoc commented on #1400
@m-pd Please run these commands on terminal and restart Outlook.

defaults write com.microsoft.Outlook SuppressO365AutodiscoverOverride 0
killall cfprefsd

[2021-07-29 13:10] #811 closed, assigned to exextoc

[2021-07-29 13:11] #1057 closed, assigned to exextoc

[2021-07-29 13:12] #1130 closed, assigned to exextoc

[2021-07-29 13:13] #1162 closed, assigned to exextoc

[2021-07-29 13:15] #1195 closed, assigned to exextoc

[2021-07-29 13:15] #1505 closed, assigned to exextoc

[2021-07-29 13:15] #1445 closed, assigned to exextoc

[2021-07-29 13:16] #1439 closed, assigned to exextoc

[2021-07-29 16:43] mikewalker74 opened #2010 "Windows 11 and WebView 3 seems to break or not implement the latest Edge chromium browser"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Installing Microsoft Edge WebView 2 Runtime on a windows 11 machine with Microsoft® Outlook® for Microsoft 365 MSO (16.0.141

[2021-07-29 16:53] AlexJerabek commented on #2016
Thanks for reporting this @eldargum. I'm sorry you're encountering this issue. I have a couple questions to start investigating the problem:
1. Are you encountering this issue in Excel on Windows or Excel on Mac? What version (build number) of Excel are you on?
2. Is this error preventing the custom function from running? Or is just being logged to the console?

[2021-07-29 16:56] AlexJerabek commented on #2011
Since this is an issue with the JavaScript API (instead of the documentation), I'm going to transfer this to the [office-js repo](https://github.com/OfficeDev/office-js).

[2021-07-29 19:30] Byron-Mo commented on #2009
Impacted users have reported the issue after an Office update in early June. Here are some versions that are impacted:
- Outlook Desktop: (16.0.14315.20002) 64-bit
- Outlook Desktop: (16.0.13929.20406) 64-bit
- [Version 2106 (Build 14131.20320)](https://docs.microsoft.com/en-us/officeupdates/current-channel#version-2106-july-13)

[2021-07-29 23:00] ghost commented on #1957
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-29 23:00] #1957 closed, assigned to lliu113

[2021-07-29 23:00] ghost commented on #1861
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-07-30 04:15] #1429 closed, assigned to exextoc

[2021-07-30 04:16] #1321 closed, assigned to exextoc

[2021-07-30 04:16] #1737 closed, assigned to exextoc

[2021-07-30 04:16] #1822 closed, assigned to exextoc

[2021-07-30 04:17] #1788 closed, assigned to exextoc

[2021-07-30 04:17] #1836 closed, assigned to exextoc

[2021-07-30 04:19] #1185 closed, assigned to exextoc

[2021-07-30 04:34] eldargum commented on #2016
1. Excel on Windows. Microsoft® Excel® for Microsoft 365 MSO (16.0.14131.20326) 64-bit
2. Below custom function log
7/30/2021 4:31:17	Verbose	Runtime	[Console] [Log] Verbose CustomFunctions [Execution] [Begin] Function=MUL2
7/30/2021 4:31:17	Verbose	Runtime	[Console] [Log] pushOperation
7/30/2021 4:31:17	Verbose	Runtime	[Console] [Log] schedule remote request
7/30/2021 4:31:17	Verbose	Runtime	[Con

[2021-07-30 05:53] exextoc commented on #1991
Apologies for late follow-up on this.

Thanks @Aidam1 for reporting this issue. Currently the feature: Clipboard API access from iframe,  you requested, is not a part of the product. We track Outlook add-in feature requests on our Tech Community Page (https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please submit your request there and c

[2021-07-30 06:55] exextoc commented on #2003
Thanks for reporting this issue. We can repro this issue in old mac outlook UI. Can you please try using new mac outlook UI?

[2021-07-30 09:21] m-pd commented on #1400
@exextoc

Still the same.

[2021-07-30 12:57] sumitmodi01 commented on #2003
When we switch to new mac outlook UI, OnSend addin is not getting invoked.
Mac Outlook Version : 16.47

[2021-07-30 13:49] davidfishlock commented on #1911
@exextoc it seems that when this issue occurs, there is nothing returned by `Office.context.mailbox.item.subject` or `Office.context.mailbox.restUrl` either.

[2021-07-30 14:03] wh1t3cAt1k opened #2012 "Excel: custom functions start on their own after the add-in is loaded, despite them having been calculated last time"
Even after full calculation the previous time: if we reload the tab with Excel on the Web, the functions will start again all on their own.

The behaviour seems different from Classic COM add-ins which never recalculate on their own unless the user invokes full calculation for the workbook.

**Sometimes** this doesn't happen, but  we don't feel we understand the rules under which recalculation of

[2021-07-30 14:08] barclayadam commented on #1940
@exextoc is there any update on this bug? Do we have a timeline for a fix for this?

[2021-07-30 14:11] romglusker opened #2013 "License points to broken link"
The second URL in the office-js license is broken.

## Expected behavior

The link should not be broken. It should point to actual software license terms.

## Current behavior

The link does not work.

## Steps to reproduce

1. Open the license here: https://github.com/OfficeDev/office-js/blob/release/LICENSE
2. Copy the second URL that is listed: https://go.microsoft.com/fwlink/?LinkId=396798
3.

[2021-07-30 15:50] lucasqu-venacorp opened #2014 "worksheet.freezePanes.freezeAt() failed on one specific file"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: __PC desktop____
* Host [Excel, Word, PowerPoint, etc.]: __Excel____
* Office version number: __16.0.13929.20296____
* Operating System: _Windows 10 Pro_____
* Browser (if using Office on the web): ______

## Expected behavior
We want to freeze the range `A1:N31` o

[2021-07-30 16:14] Ssereno commented on #1864
@pkkj @lindalu-MSFT  In have spend the last days develop new features on my addin, but using the excel web, and everything works fine on the login process. Now on QA tests with excel desktop the problem remains the same and after reading some ms docs i find this ". If you attempt to pass `displayDialogAsync` a subdomain of the add-in's domain, it will not work.

So in local machine my addin are ru

[2021-07-30 17:38] jjtfsalgado commented on #1784
Hi guys! This might be out of topic but recently came across with an issue on Office.context.ui.messageParent API where the message appears to be sent but doesn't reach the target and I've noticed within the dialog I'm also getting that block to the storage. Do you guys think the message issue could be related to this or is something else?

Thanks!

![image](https://user-images.githubusercontent.c

[2021-07-30 20:07] nima-chatlani opened #2015 "Powerpoint get all text"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Microsoft 365 Developer Platform Ideas Forum

We're moving away from UserVoice feedback sites on a product-by-product basis throughout the 2021 calendar year. Later in 2021, we wil

[2021-07-30 22:07] ElizabethSamuel-MSFT commented on #2016
@eldargum Thanks for providing this info. We'll transfer to the office-js repo so the product team can investigate.

Thanks.

[2021-07-30 22:09] ElizabethSamuel-MSFT commented on #2016
@grangeryy Can you take a look?

Thanks.

[2021-07-30 23:10] davidchesnut commented on #2016
Hi @eldargum,

I tried running the manifest.xml from the sample, using the same version of desktop Excel that you specified, and it is running correctly. I recommend you try [clearing the Office cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache).

BTW: If you made changes to the sample or manifest please let us know so we can try to reproduce the behavior.

Hope this helps,

[2021-07-30 23:48] exextoc commented on #2008
Thanks for asking about this.

[`Office.context.mailbox.item.itemType`](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.itemtype?view=outlook-js-preview) returns either `appointment` or `message` and is just meant to distinguish between these two modes that an add-in can run in (and you may already know the mode if they have different SourceLocation URLs in your manifes

[2021-07-31 00:20] exextoc commented on #2009
Since the add-in is running in a Shared Calendar scenario, I believe this error is correctly returned by the Outlook API. Per the [shared folders and shared mailbox](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access?tabs=windows#rest-and-ews) documentation, add-ins can make REST requests but EWS request are not supported in delegate scenarios.

OWA may not return the same

[2021-07-31 09:00] ghost commented on #1984
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-08-01 07:43] techindia2010 commented on #1653
Excel.BindingCollection class donot have addFromPromptAsync method?!

Is there any possibility in office.js, so that user can select range in excel as shown in picture (Prompt dialog box) by author?

[2021-08-01 11:52] jedmonsanto commented on #1360
@exextoc what if the mail is large, i have been experiencing this problem since last month, what's the solution/workaround?

[2021-08-01 20:55] tqdo opened #2017 "context.runtime.load("enableEvents") does not work in Windows with Excel 2016 or earlier"
## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2016 and earlier
* Operating System: Window

## Expected behavior
I expect the code `context.runtime.load("enableEvents")` to run without problems with Excel 2016 or earlier

## Current behavior
My code which has `context.runtime.load("enableEvents")`

[2021-08-02 02:51] thanakrid-kunghair-rft commented on #1984
By misuse, you mean it can't be used in timeout?

[2021-08-02 04:47] grangeryy commented on #2012
Currently ,the behavior on Web to calculate automatically once reload is by design.

[2021-08-02 04:51] grangeryy commented on #2012
Also add FEATURE 5313707 in our backlog to track the ask to maintain last calc result after loading. Thx!

[2021-08-02 04:56] grangeryy commented on #1984
For the line: invocation.setResult(['Retrieving']), you've already showing the error information as the function result, which might be the reason why the function stop execution:
![image](https://user-images.githubusercontent.com/50093161/127806004-1cf2a92f-2e85-44ef-9c60-5ef7a4927dc9.png)
Have you tried to remove this line and see if it works?

[2021-08-02 05:04] thanakrid-kunghair-rft commented on #1984
Sorry, what do you mean about error information?
`[['Retrieving..']]` is just a normal dynamic array with a string in it.

[2021-08-02 05:25] grangeryy commented on #1984
So you are using this line to showing the string of "Retrieving..."?

[2021-08-02 05:33] grangeryy commented on #1984
Sorry, might missunderstand the issue. So after removing  Excel.Run, have you still see the issue?

[2021-08-02 06:14] thanakrid-kunghair-rft commented on #1984
Yes, the issue still persist, but `=CONTOSO.STREAMING` doesn't have a call to a function with Excel.Run().
In the real app, I show the string of `Retrieving...` first while waiting for the data from Websocket. I want to replicate a similar behavior, so I use timeout instead.

[2021-08-02 06:34] grangeryy commented on #1984
@xiaochunms, could you help to check whether Excel.Run() doesn't work in this case is expected?

[2021-08-02 06:48] eldargum commented on #2016
Hi @davidchesnut,

I added XMLHttpRequest in _fetchFromRemoteService function to get data from the web service. And I see that the request is being executed, but in custom function log -error message:Host may not have set any promise continuation callback. Promises may not be executed.