[2022-04-21 08:01] mkotadiya-valorx commented on #2537
@guliums we appreciate your efforts on it.
Could you please provide us with a way to track the progress on 5982404? Where can I find a public support statement or known issue statement about this behavior change?

[2022-04-21 08:44] yuc014 commented on #2544
Currently, the feature: set part of text in a cell property you requested, is not a part of the product.

We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests are considered when we go through our planning process.

Thanks, Microsoft 365 Developer Platform team

[2022-04-21 10:25] exextoc commented on #2534
Hey @fjaeger

Please answer the below questions to help us understand the situation better
1. Was it working before? Is this something which has happened recently?
2. How does it impact your workflow? Is it a blocker for your scenarios?

[2022-04-21 12:06] hbnrmx commented on #125
in my case, the issue seems to be related to the `hostInfoValue` item in sessionStorage.
When I remove it, the error disappears. Will try to provide a simple reproduction in #1824

[2022-04-21 12:06] hbnrmx commented on #1556
in my case, the issue seems to be related to the `hostInfoValue` item in sessionStorage.
When I remove it, the error disappears. Will try to provide a simple reproduction in #1824

[2022-04-21 12:12] hbnrmx commented on #1824
Hi everyone,
I encountered a similar issue in multiple office addins that tried to open a new tab for authentication purposes.
During the process, it seems like an invalid `hostInfoValue` is written to `sessionStorage` so the new tab will crash before `Office.onReady` is invoked.

e.g. if the `hostInfoValue` was set in Word:

[code]

a minimal reproduction can be found here:
[code]

Firefox seems

[2022-04-21 12:48] cornflakeboy commented on #2094
We are a bit confused which version we should use to verify the fix. I just updated my excel version to the newest version available. Excel shows me two different build/version numbers and none of them seems to exactly align with the ones you mentioned.
![image](https://user-images.githubusercontent.com/36692477/164458002-b3703adf-19b8-4164-9fe5-0e07842b2f57.png)

- Which one is the version we are

[2022-04-21 17:50] Dengshan2018 commented on #2094
@cornflakeboy It should be 15028.20228. This is latest version for Current Channel. Expect it will have the fix.
Could you check the version of osfui.dll?

In the videos you posted, the add-in turned to transparent rectangle. so "frozen" means static image?
It will be great to have new video with the office version of 16.0.15028.20218.
So appreciate to help on locating the issue.

Could you upload

[2022-04-21 17:57] valorx-git commented on #2537
@guliums @keyur32
We had 3 of our fortune 500 customers report support tickets with us relating to v16.60 and I just got off an escalation call (please provide a non-public channel to share ticket details and user feedback).

Having them downgrade to v16.59 is not a feasible workaround. Users ask us, "why am I doing this or wasting time on this".

Moreover, it's not like you have stopped opening o

[2022-04-21 18:12] DansGithubAccount22 opened #2546 "Word Version 2202 & Edge Webview2 causes MFA prompt for task pane add-in"
Summary:
After updating office to the Semi-Annual Enterprise Channel ( Preview )  / Word Version 2202 our existing task pane add-in now requires MFA to authenticate

## Your Environment
We have a task pane add-in with the source being an azure hosted web site.  Our website has azure AD auth and currently our auth only prompts for MFA if you try to connect from a device that is not joined to the ne

[2022-04-21 18:20] DansGithubAccount22 commented on #2507
Actually, that was not reproducible.  In another instances just closing outlook did not allow the add-in to restart.
I've yet to reproduce the issue when I enable the officediagnostic logging.  That almost feels like a workaround for us to try..

[2022-04-21 18:24] AbidRahman-MSFT commented on #2500
Hey @gopinathshiva - there is currently no way to set focus to the custom add-in tabs using Office.js. We want to avoid any scenario where multiple add-ins can potentially compete for focus on their tab.

I encourage you to post the request to [aka.ms/m365dev-suggestions](https://aka.ms/m365dev-suggestions).

[2022-04-21 21:40] ChunQi-Lim opened #2547 "Application.Transpose results in error when array contains a String."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

On Microsoft Excel for Mac Version 16.60 (22041000), Macros utilizing the function Application.Transpose on an Array containing a string causes Runtime error 1004 error and incorrect

[2022-04-22 00:17] david-ps commented on #2094
I have same experience on latest version

Regards,
David
________________________________
From: Dengshan2018 ***@***.***>
Sent: Friday, April 22, 2022 3:51:05 AM
To: OfficeDev/office-js ***@***.***>
Cc: David Greenwood ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Excel Content Pane App UI becomes frozen after Windows Resume (#2094)

@cornflakeboy<https://github.com/cornfla

[2022-04-22 03:08] gavinliuc commented on #2539
@slabereemsft @LuyiH Could you please let us know when can we get some update about the issue we met? Thanks.

[2022-04-22 07:18] Manuri commented on #2478
@exextoc We managed to make it work with custom properties. Thanks for the help. Will get back to you if we encounter any issues.

[2022-04-22 08:45] Refinitiv-365 opened #2548 "The result of method getDirectPrecedents it shows a group result in one index array"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: All
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Operating System:  Window 10

## Expected behavior

[Range.getDirectPrecedents](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range#excel-excel-range-getdirectprecedents-member(1)) The result of meth

[2022-04-22 08:46] exextoc commented on #2540
We are not able to reproduce the issue on the Old Mac UI.
Can you please switch to the new UI (16.59) and try reproducing the same?

[2022-04-22 09:00] ghost commented on #2530
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-22 13:15] h1ckman commented on #1874
Joined Github to add we are seeing this issue with multiple add-ins in OWA.  We are on-premise Exchange 2016.  The issue does not present in the Outlook client.  The add-ins we are using are KnowBe4 Phishing button and Cisco Webex.  It seems to be a session cookie as it only prompts ones per set of browsers.  Prompts when switching between Chrome & Edge, new windows.  Prompts for every tab when us

[2022-04-22 15:29] els-ts commented on #2311
@chiz-ms - are there any updates on this from your side?

[2022-04-22 19:05] AbidRahman-MSFT commented on #2545
Hey @EdwinStraver,

To clarify, you are looking for a way to open the task pane when the user "selects your add-in ribbon"? Does this mean when the user clicks on a custom tab in the ribbon that has been created by your add-in?

There is unfortunately no way to achieve this behavior today. I would suggest posting the feature request at [aka.ms/m365dev-suggestions](https://aka.ms/m365dev-suggestion

[2022-04-24 06:37] guliums commented on #2548
Hi @Refinitiv-365 , Thanks for reporting this. The behavior is by design that the precedents ranges will be merged if possible. So if the formula has both A1 and A2 it will be merged to A1:A2 in final result. The original reason of this design is to avoid creating too many ranges which may have impact on performance, and also align with VBA corresponding API behavior.
Could you please share more a

[2022-04-24 06:53] rundongmsft commented on #2543
Hi @keerp2952, I cannot repro this issue in my side. After I insert a custom function and press ctrl+z, the undo operation worked well. Maybe we are in different version. Could you please provide me the version of your Excel? File -> Account -> About Excel, like this:
<img width="378" alt="image" src="https://user-images.githubusercontent.com/73267941/164960614-17251738-1d61-44c1-88ce-039635018160

[2022-04-24 07:20] JHJ-MS commented on #2311
HI @els-ts, we are continuing to follow up. Thanks.

[2022-04-24 08:10] Refinitiv-365 commented on #2548
My scenario
I want create a formula from cell reference geetting result `=Data("A,B","closePrice,openPrice")` but user using cell reference
`=Data("A1:B2","C1:B2")`

step to process

1. find the address and woksheetId of formula
2. create range from no 1 `const range = context.workbook.worksheets.getItem(worksheetId).getRange(address)`
3. use function getDirectPrecedents()
4. return value of getDi

[2022-04-25 11:00] ghost commented on #2530
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-25 11:00] #2530 closed, assigned to exextoc, ksobolewskiVL

[2022-04-25 13:44] thoffmann-fms opened #2549 "Outlook add-in for event-based activation - Cancel event"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Please add an Outlook function OnAppointmentCancel for Calendar events so it's possible to rollback any needed actions after the Add-In has done processing but the user clicks the Clo

[2022-04-25 15:52] AlexJerabek commented on #2549
Hi @timothyhoffmann,

Thank you for this feature request. I'm going to transfer this issue out of the documentation repo and into the product repo, where it will be viewed by members of the Outlook crew.

[2022-04-25 16:38] keerp2952 commented on #2543
Thank you for prompt response.

Here's a screenshot of the Excel version: ![excel_version](https://user-images.githubusercontent.com/95439297/165132528-6699b6aa-a21c-4f58-8f4a-134bc75aa3a9.PNG)

Also, I'll attach the screenshot for each replication step.

Replication steps:
1. Enter 1 into cell A1
   - ![step1](https://user-images.githubusercontent.com/95439297/165133257-fe888009-1742-44cd-a7c4-18

[2022-04-26 00:58] revanthroe commented on #2540
The issue happens on Outlook.com website on browsers, not on native Outlook app and also I am already on the latest available version of Outlook.

[2022-04-26 04:08] tanjooxiang opened #2550 "Facing "Select a certification for authentication" everytime outlook add-ins is clicked. No AutoSelectCertificateForUrls to set for webview2"
OS: Window Server 2019 Standard
Outlook office version: 2112 Build 14729.20322

Hi All,

We are currently developing an Outlook App Add-ins for user to easily and quickly store information of the email into our application. When we are trying to use the outlook add-ins, it is prompting the **"Select a certification for authentication" everytime** we click on the add-ins. It happened even if there

[2022-04-26 08:16] djaeger-inercomp commented on #2174
Hello, jiju, I tried it with ScriptLab on Version 2203 but it still does not work

[2022-04-26 08:21] exextoc commented on #2549
We track Outlook add-in feature requests on our [Tech Community Page ](http://aka.ms/M365dev-suggestions) . Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2022-04-26 09:27] JensMadsen commented on #2275
@RuoyingLiang and @[AkhileshShah-MS](https://github.com/AkhileshShah-MS) Any news on this issue? We cannot deploy updates to our addin

[2022-04-26 09:48] exextoc commented on #2540
Thanks for reporting this issue regarding getBodyAsync in OWA. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 582010

[2022-04-26 13:22] swaroopa-rani commented on #2412
Hi @JHJ-MS, Our end goal is to share data from custom functions to the dialog box with custom functions runtime in windows excel desktop. The approach we were taking for this was OfficeRuntime.storage, which works in Excel live but not in Excel desktop. We're not sure whether OfficeRuntime.storage data is being passed to the dialogue box or not. Is it possible to pass OfficeRuntime.storage from cu

[2022-04-26 13:30] vdboots commented on #2163
hi is there any update on this issue ?

[2022-04-26 13:35] vdboots opened #2551 "Outlook Autorun setSignatureAsync moves focus out of screen with single setSignatureAsync event triggered"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Web
* Operating System: ______
* Browser (if using Office on the web): Edge(Chromium) / Safari

## Expected behavior
Inserts the signature while user can continue typing mailadres in the to field.

## Current behavior
In the browser t

[2022-04-26 14:03] swaroopa-rani opened #2552 "Using OfficeRuntime.storage in custom functions with custom functions runtime on windows excel desktop"
Our end goal is to share data from custom functions to the dialog box with custom functions runtime in windows excel desktop. The approach we were taking for this was OfficeRuntime.storage, which works in Excel live but not in Excel desktop. We're not sure whether OfficeRuntime.storage data is being passed to the dialogue box or not. Is it possible to pass OfficeRuntime.storage from custom functio

[2022-04-26 14:40] swaroopa-rani opened #2553 "ExcelJS - SharedRuntime is not working in Windows Excel Desktop"
Our end goal is to share data from custom functions to the dialog box in windows excel desktop. We are trying to get that by using OfficeRuntime.storage with sharedRuntime. So we are trying to create a project with sharedRuntime in windows excel desktop. For this we followed [these](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime) steps to

[2022-04-26 21:00] DansGithubAccount22 commented on #2546
I noticed after updating to Edge Webview2 v100.0.1185.39 that this stopped happening

[2022-04-26 21:00] #2546 closed, assigned to mattgeim

[2022-04-27 02:14] Jarch09 commented on #1005
Any updates here? Kind of crazy this hasn't been resolved yet.

[2022-04-27 05:45] RuizhiSunMS commented on #2384
Hello @gkarmelich , sorry for such delay on this issue.
We had some investigations about this with other teams. And the following suggestions are what we got.
1. The reason why you can't install your add-in by clicking previous link is that the link has been changed. Now the link is https://pages.store.office.com/addinsinstallpage.aspx?assetid=wa104381028&rs=en-us&correlationid=42fbddf5-50c5-8eed-

[2022-04-27 06:25] rundongmsft commented on #2543
Hi @keerp2952, I still cannot repro this issue in Build15028. If you insert a sample custom function from the Add-in "[Script Lab](https://appsource.microsoft.com/en-us/product/office/WA104380862)", will this issue still arise?

[2022-04-27 06:27] exextoc commented on #2163
We have already provided a fix for this issue which is already in production. Can you confirm that you are still facing this problem.
Also, you have opened another GitHub issue: "https://github.com/OfficeDev/office-js/issues/2551". Can you confirm that it is duplicate of this issue.

[2022-04-27 07:00] exextoc commented on #1874
We are prioritising this bug but unfortunately still don't have any timeline to share.

[2022-04-27 08:19] fjaeger commented on #2534
@exextoc Thanks for getting back to me!

1. We recently started using the API  `appendOnSendAsync` for our purpose and therefore do not know if the behavior was different before.
2. As we rely on appending some HTML, including an `<img />` tag, the current behavior breaks this core functionality of our app. As long as `<img />` tags are automatically converted to an image attachment, the whole fun

[2022-04-27 10:02] ksobolewskiVL commented on #2524
Hi @exextoc,

Issue (1) It happened to me only once and I don't know if I will be able to reproduce it. If so, I will upload it later.

Issue (3) Video is here:
https://www.youtube.com/watch?v=3osqPpxm-1w
I have tried several examples of token retrieval and what I have observed. When multiple getAccessToken requests occurs at the same time or with a small interval, an auth error is displayed and n

[2022-04-27 10:24] StevenBendell commented on #2465
@yihuax-msft

What's the status of this? Has this been pushed into production? It still appears to be broken in our add-in (do we need to publish a new version?)

[2022-04-27 11:40] vdboots commented on #2163
this issue still occours.

https://github.com/OfficeDev/office-js/issues/2551 is different since this one focus on single setSignatureAsync Moves out  mail message at all.. Te focus moves now out of the mail at all. even when you run the setSignatureAsync. one time. The issue above is still going on when you run the command twice.

[2022-04-27 11:50] exextoc commented on #2524
Hi @ksobolewskiVL,
1. We are also not able to repro the scenario in 1. Please let us know if you see that happening again.
2. There is no recommendation for this case.
3. Do you have a use case where you need to make multiple getAccessToken call continuously?
4. Can you please attach the image?
5. We are trying to get the details for this from the Microsoft Graph team.

[2022-04-27 12:22] vdboots commented on #2551
This issue is new since this version moves the focus completely out of message at all.

In the production and the beta this issue occurs at the moment.

[2022-04-27 16:52] yihuax-msft commented on #2465
@StevenBendell I checked the history and the fix should be in the version of 16.0.12506.10000 or later. Have you got this version? Thanks.

[2022-04-27 21:05] ElizabethSamuel-MSFT commented on #2553
@swaroopa-rani Thanks for raising this issue. We'll take a look.

Thanks.

[2022-04-27 21:17] ElizabethSamuel-MSFT commented on #2553
Seems to be related to https://github.com/OfficeDev/office-js/issues/2552

[2022-04-27 21:18] ElizabethSamuel-MSFT commented on #2552
@swaroopa-rani Thanks for raising this issue. We'll take a look.

Thanks.

[2022-04-27 21:19] ElizabethSamuel-MSFT commented on #2550
@tanjooxiang Thanks for raising this issue. We'll take a look.

Thanks.

[2022-04-27 21:21] ElizabethSamuel-MSFT commented on #2166
@careernavigator Sorry we're now getting to this issue. We'll take a look.

Thanks.

[2022-04-28 02:35] grangeryy commented on #2553
adding @jiju-MS

[2022-04-28 02:36] grangeryy commented on #2552
adding @jiju-MS

[2022-04-28 02:56] jiju-MS commented on #2552
Hey, swaroopa-rani, does this issue related to this one?
https://github.com/OfficeDev/office-js/issues/2553#issuecomment-1111676890

[2022-04-28 03:24] guliums commented on #2537
Hi @valorx-git , sorry for the late response. Could you provide your contact information and we will contact you for updates and learn your ticket details and user feedback. Thanks for your support!

[2022-04-28 05:38] valorx-git commented on #2537
Please contact me and my team by emailing/setting up a meeting. Please use the email support@valorx.com

[2022-04-28 05:48] suryakiranchikkala commented on #2627
No. It's under development

[2022-04-28 10:03] grangeryy commented on #2166
Hey @careernavigator, we tried to use the code snip provided in .zip file but we can't load the add-in :(

- Could you share with us the sample manifest instead?
- Did you use any Event related APIs in the add-in?
- How did you start the project, such as Yo Tool, Visual studio, or else?

Thanks!

[2022-04-28 11:04] StevenBendell commented on #2465
@yihuax-msft
I have the following version of word: Microsoft® Word for Microsoft 365 MSO (Version 2204 Build 16.0.15128.20158) 64-bit
Is this what you are referring to?

[2022-04-28 13:37] danielpdev opened #2555 "Region settings for PowerPoint using Addin APIs"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

Is there a way to get the user system region settings using the PowerPoint addin APIs?

Thanks,
Daniel

[2022-04-28 14:58] swaroopa-rani commented on #2552
Hi @jiju-MS, No. The end goal we are trying to achieve is the same, but the issues are not related.

[2022-04-28 14:59] swaroopa-rani commented on #2553
No @ElizabethSamuel-MSFT. The end goal we are trying to achieve is the same, but the issues are not related.

[2022-04-28 15:27] milankonir opened #2556 "OWA dialog displayed in iframe has inaccessible close icon"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: outlook.office.com
* Operating System: macOS Monterey 12.3.1
* Browser (if using Office on the web): Google Chrome 100.0.4896.127 (Official Build) (x86_64)

## Expected behav

[2022-04-28 16:56] ElizabethSamuel-MSFT commented on #2555
@danielpdev Thanks for your question.

@LuyiH Can you take a look?

Thanks.

[2022-04-28 16:57] ElizabethSamuel-MSFT commented on #2556
@milankonir Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2022-04-28 17:04] yihuax-msft commented on #2465
@StevenBendell Sorry my typo. The fix is in version 16.0.15206.10000 or later. Your version is only a few days older than the one that has the fix! :-)

[2022-04-28 17:31] #1793 closed, assigned to keyur32, sumurthy

[2022-04-28 18:07] ElizabethSamuel-MSFT commented on #1319
@cdmdotnet Seems like this was answered so I'll close this. Do create a new issue or comment on this issue and we'll reactivate.

Thanks.

[2022-04-28 18:07] #1319 closed, assigned to sumurthy

[2022-04-28 18:14] ElizabethSamuel-MSFT commented on #1005
@jeremy-msft Any current status on this? Thanks.

[2022-04-28 20:39] ElizabethSamuel-MSFT commented on #1353
@erayc-msft Can you take a look?

Thanks.

[2022-04-28 20:41] ElizabethSamuel-MSFT commented on #1408
@madhavagrawal17 Can you take a look?

Thanks.

[2022-04-28 20:42] ElizabethSamuel-MSFT commented on #1450
@exextoc Is there a different assignee needed for this issue?

[2022-04-28 20:42] ElizabethSamuel-MSFT commented on #1471
@croicu Can you take a look?

Thanks.

[2022-04-28 20:44] ElizabethSamuel-MSFT commented on #1579
@jeremy-msft Any update on this? Please reassign if you're not the right person for this.

Thanks.

[2022-04-28 20:44] ElizabethSamuel-MSFT commented on #1670
@croicu Can you take a look?

Thanks.

[2022-04-28 20:45] ElizabethSamuel-MSFT commented on #1708
@croicu Can you take a look?

Thanks.

[2022-04-28 20:46] ElizabethSamuel-MSFT commented on #1841
@croicu Can you take a look since this seems to be a WebView issue?

Thanks.

[2022-04-28 20:49] ElizabethSamuel-MSFT commented on #1866
@ektadesai22 Closing this issue as it seems to be resolved. If you're still facing this issue, do open a new one or comment on this one so we can reopen.

Thanks.

[2022-04-28 20:49] #1866 closed, assigned to smaremanda

[2022-04-29 00:47] Dengshan2018 commented on #1717
@ndreisg webview2 user data folder for Office is under user app data folder. OS will not delete them.

[2022-04-29 01:16] grangeryy commented on #2004
@vinodifour do you still see this issue?

[2022-04-29 01:19] grangeryy commented on #1720
@triandco are you still having issue with this API, as this item seems to have been silent for a while. THX!

[2022-04-29 01:37] triandco commented on #1720
@grangeryy, I have been able to replicate this issue using the provided example and verified that this is still a problem.

The issue remain unresolved. Please help.

Much appreciated,

Tri

[2022-04-29 04:08] Refinitiv-365 commented on #2538
###  In my investigation
In current behavior, Taskpane does not show web view and can not right click to use the inspect. But i can attach debugger can check Element, Sources has loaded same Expected behavior.
![image](https://user-images.githubusercontent.com/98725157/165883753-f423fdf8-3ceb-49f1-aa83-e369b621c100.png)

![image](https://user-images.githubusercontent.com/98725157/165883738-fa649ec

[2022-04-29 07:54] danielpdev commented on #2555
Thank you @ElizabethSamuel-MSFT

[2022-04-29 09:01] awhowart commented on #704
The simplest solution I've found is to append a URL parameter to the SourceLocation element in the Add-in Manifest, which gets incremented with every release. The updated URL forces the client to resolve the URL on the server instead of the local cache.

[code]

Another option, if you are on a regular release cycle, may be to adjust the cache expiry in the HTTP Headers.

[2022-04-29 09:35] ndreisg commented on #1717
Thanks for the answer. Do you also have any news about the original issue? Will there be some kind of global Settings API in the future?

[2022-04-29 09:52] LuyiH commented on #2555
Hi @danielpdev, currently there is no API to support checking the system region setting.

Thanks
Luyi

[2022-04-29 10:44] exextoc commented on #2163
Could you help us out with more detailed repro steps and a test add-in if possible?
Please send it across to: outlookwebaddins@M365x50631954.onmicrosoft.com

[2022-04-29 10:44] exextoc commented on #2551
Could you help us out with more detailed repro steps and a test add-in if possible?
Please send it across to: outlookwebaddins@M365x50631954.onmicrosoft.com

[2022-04-29 15:12] fmcgough opened #2557 "Office.context.mailbox.item.conversationId and itemId sporadically returns incorrect value"
We have an Outlook add-in to allow our customers to store conversations in a CRM system. This works by sending a conversation ID from the add-in to our API, which then queries the Microsoft graph API for messages matching the conversation ID. However for a small proportion of these requests, no messages are returned from the graph API.

We have recently added some additional error reporting around

[2022-04-29 15:36] PradeeshKS1 opened #2558 "Select discontiguous cells in Excel"
RangeAreas class is missing the select() method similar to Range class.

[2022-04-29 16:11] ElizabethSamuel-MSFT commented on #2557
@fmcgough Thanks for asking about this.

@exextoc Can you take a look?

Thanks.

[2022-04-29 16:13] ElizabethSamuel-MSFT commented on #2558
@PradeeshKS1 Thanks for raising this issue.

@guliums Can you take a look?

Thanks.

[2022-04-29 21:00] ghost commented on #2544
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-30 09:00] ghost commented on #2502
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-30 12:12] coffeeforyou opened #2559 "Slow GUI update of Outlook inbox after moving email with makeEwsRequestAsync to subfolder"
**Use case:** I am moving an email with `makeEwsRequestAsync(...<m:MoveItem>...)` from the inbox to a subfolder. The call succeeds, and the email move is confirmed in the returned XML response (OSF.DDA.AsyncResult).

**Problem:** It takes a few seconds for the Outlook Desktop inbox to be updated (= email disappears from inbox and shows in subfolder), even after the XML confirmation has been receiv

[2022-05-02 01:54] sroy9 opened #2560 "Can't install the beta version using npm"
`npm install @microsoft/office-js@beta --save` gives me an error
[code]

[2022-05-02 05:56] exextoc commented on #2556
Thanks for reporting this issue regarding the accessibility of our add-in dialogs. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 2764369

[2022-05-02 05:56] #2556 closed, assigned to exextoc

[2022-05-02 07:00] FranCerrada commented on #2451
Hi team,
long time since I reported the issue, so I was wondering if there is any progress on this. Image insertion in PowerPoint Online is still happening into image placeholders even if a insertion position is provided.

[2022-05-02 07:09] gkarmelich commented on #2384
Thanks for the update @RuizhiSunMS. We have noted this for the future.

[2022-05-02 10:52] cornflakeboy commented on #2094
With the term "frozen" I mean frozen in the state of being a transparent rectangle as showed in the videos. Sorry for the confusion.
We have now tested our add-ins with the latest version of excel which is 16.0.15128.20158. That version fixes the issue for us. Some of our customers claim to still have this issue with the newest version, but I think it could be that they are just confused. If not,

[2022-05-02 12:00] ghost commented on #2166
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-02 16:22] AlexJerabek commented on #2560
Hi @sroy9,

To access the preview APIs for Office.js through NPM, target [@microsoft/office-js-preview](https://www.npmjs.com/package/@types/office-js-preview). That said, we do recommend referencing the Office CDN, instead of NPM. This ensures you always have the latest version that is the most secure and reliable experience. More information on referencing the CDN can be found here: https://docs

[2022-05-02 16:22] #2560 closed, assigned to nobody

[2022-05-02 16:23] AlexJerabek commented on #2559
Thank you for reporting this issue @coffeeforyou.

@exextoc, could you please investigate?

[2022-05-02 23:00] ghost commented on #2544
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-02 23:00] #2544 closed, assigned to yuc014, JHJ-MS

[2022-05-02 23:34] valorx-git commented on #2547
@JHJ-MS
This was not published as a known issue and not sure why a working function was broken. Can you please provide an update?

[2022-05-03 02:46] stenly311 commented on #1157
Hi @JinghuiMS how are you? Just following up on this issue, any luck with the issue investigation?

Thank you. M.

[2022-05-03 03:00] ghost commented on #2004
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-03 05:39] Dengshan2018 commented on #1717
Sorry, @ndreisg, I didn't hear any plan for Global Setting API.

[2022-05-03 07:43] zjmchoi opened #2628 "Register the online-meeting template for Viqueens"
'<br>' +
    '<a href="https://viqueens.com/meeting?id=123456789" target="_blank">Join Viqueens meeting</a>' +
    '<br><br>' +
    'Phone Dial-in: +1(123)456-7890' +
    '<br><br>' +
    'Meeting ID: 123 456 789' +
    '<br><br>' +
    'Want to test your video connection?' +
    '<br><br>' +
    '<a href="https://viqueens.com/testmeeting" target="_blank">Join test meeting</a>' +
    '<br><br>';

[2022-05-03 08:00] ipecsAdmin opened #2629 "Register the online-meeting template for Ipecsone"
'<br>' +
    '<a href="https://ipecsone.com/meeting?id=123456789" target="_blank">Join Ipecsone meeting</a>' +
    '<br><br>' +
    'Phone Dial-in: +1(123)456-7890' +
    '<br><br>' +
    'Meeting ID: 123 456 789' +
    '<br><br>' +
    'Want to test your video connection?' +
    '<br><br>' +
    '<a href="https://ipecsone.com/testmeeting" target="_blank">Join test meeting</a>' +
    '<br><br>';

[2022-05-03 08:22] paul-sudo opened #2561 "Drag & drop images into a Word document (Windows)"
Use case: I would like to drag and drop images from the Taskpane into the Word document.

Problem: I have no problems inserting images into Excel or PowerPoint using drag and drop. On Linux/MacOS it also works in Word - only Windows 10/11 has problems and always inserts a link instead of the image. While debugging I noticed that the dropeffect is set to "link", but overriding this had no success.

[2022-05-03 10:13] Keertan22 opened #2562 "Text highlighting resets to default yellow color even if you change it in word"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: M365
* Operating System: ______
* Browser (if using Office on the web): Chrome

## Expected behavior
 When you select any color for highlighting it should remain consistent for

[2022-05-03 11:00] ghost commented on #2502
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-03 11:00] #2502 closed, assigned to exextoc

[2022-05-03 11:43] fmcgough commented on #2557
Received a couple more error reports for this issue over the weekend. A user tried to store 2 different emails. Our diagnostics showed that the add-in reported a different `conversationId` for each email (neither of which returned any results), but interestingly the `itemId` for each email was identical. Querying for this message ID returns a 404 response from the API indicating that it belongs to

[2022-05-03 12:20] antonia-rose commented on #2146
Since a few weeks we get the same error reports from our users (especially Mac users). I think the reason is an update of word. But I can't tell our customers to reinstall the add-on every few weeks. We will try to investigate this further.

[2022-05-03 15:43] AlexJerabek commented on #2561
Hi @paul-sudo,

Thanks for reporting this issue. @grangeryy, could you please investigate?

[2022-05-03 15:51] AlexJerabek commented on #2562
Hi @Keertan22,

This GitHub repo is for reporting issues with the Office JavaScript APIs and [Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/?view=word-js-preview). Please correct me if I'm wrong, but this sounds like an issue with the user-interface of Word on the web. To report issues with the web application, please select **Help** > **Feedback** from the ribbon.
![image](h

[2022-05-03 15:51] #2562 closed, assigned to nobody

[2022-05-03 17:21] AlexJerabek commented on #2628
Assigning to @exextoc for registration.

[2022-05-03 17:22] AlexJerabek commented on #2629
Assigning to @exextoc for registration.

[2022-05-03 18:19] cidev5 commented on #2051
@grangeryy Checking in to see what the status of this is. In general these "_xldudf" issues are occurring very frequently - not just in the case described above but in general, without being prefixed with the path to another plugin.

This leads me to ask if we are not doing something correctly in our add-in code. Can anyone on your team give insight into what this means/why it happens, and what we

[2022-05-04 02:53] exextoc commented on #2534
Thanks for reporting this issue regarding appendOnSendAsync. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 5496917

[2022-05-04 02:53] #2534 closed, assigned to exextoc

[2022-05-04 05:09] mstransky opened #2563 "getSelection doesnt work correct on comment replies"
When use ``context.document.getSelection().paragraphs`` on comments, it return paragraph of main comments, but on reply it return again main comment.

Environment
PC desktop, Windows 11, Office 365, Word version 2204 build 15128.20178
Office-js-preview, used on React (but tested also with )

## Expected behavior
When selecting some words in the comment reply, and use ``context.document.getSelectio

[2022-05-04 10:59] LeapSoftware opened #2564 "setCellProperties throws an "Internal Error" when number of cells is too large"
If you provide 80,000 cells to change via setCellProperties, the function works as expected,
If you provide 90,000 cells to change you recieve a RichApi.Error: An internal error has occurred.

What is the limit? Why is the error not defined and, why is there an error?

## Your Environment

* Platform: **PC**
* Host **EXCEL WEB**
* Operating System: **WINDOWS**
* Browser **CHROME**

## Expected beh

[2022-05-04 13:16] cody-lettau opened #2565 "Outlook add-in (MessageReadCommandSurface) not always shown to users in Android Outlook"
An Outlook add-in is not always available for the user to open on Android Outlook (MessageReadCommandSurface add-in). This issue is intermittent and does not appear to have any rhyme or reason as to when it is shown and when it is not.

## Your Environment

* Android version 12
* Outlook v4.2213.1

## Expected behavior
The add-in should always be shown as an option to the user to open when in the

[2022-05-04 13:24] toni-lyttinen commented on #2523
One thing I also noticed is that if I run the add-in on desktop Excel and add any COM add-in (for example Analysis ToolPak) a notification for "One or more add-ins failed to install custom funtions" is given and and the custom functions disappear from the "Insert function" list. The add-in works fine if you have COM add-ins already added but incase you add them while the Excel is open it breaks th

[2022-05-04 15:01] jeanfrancoisdesrosiers-eaton opened #2566 "Redistribute VBA 7.1 ?"
We have legacy software that still uses VBA (Visual Basic for Applications). Following all my researches into MS web sites, I found VBA (not to be confused with VB.net) stopped being distributed at 6.5. BUT FOR SECURITY AND LEGAL REASONS I need a response from MS stating that:
1) Visual Basic for Application (VBA) stopped being distributed for use by 3rd parties at 6.5.
2) That the current 7.1 bei

[2022-05-05 00:41] guliums commented on #2558
Hi @PradeeshKS1 , Thank you for reaching us. Based on my knowledge, so far we don't have this method.

I'd recommend going to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) and see if this feature has already been requested or request a new feature. Thanks for your support!

[2022-05-05 00:55] liamtim commented on #2227
Any updates here? It appears all Web add-ins become greyed out / disabled when switching to a delegate/shared mailbox on Outlook for Mac new UI.

[2022-05-05 00:57] guliums commented on #2548
Hi @Refinitiv-365 , Thanks for the details. If you still need non-merged result, could you post a feature request on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Feature requests will be considered when we go through our planning process. Thanks for your support.

[2022-05-05 01:07] liamtim opened #2567 "Add-ins become disabled when a delegate is selected (Outlook for Mac new UI)"
## Your Environment
**Platform:** Outlook for Mac new UI

## Expected behavior
When in a new compose, add-ins should remain available and functional when switching the "From" address from the main account to a delegate (Shared Mailbox)

## Current behavior
When switching the "From" address within a new compose to a shared mailbox, all add-ins become greyed out and disabled.

## Steps to reproduce

[2022-05-05 05:18] exextoc commented on #2565
@cody-lettau is this issue add-in specific? Have you seen it happen with an different add-in than the one in the video?

If so, could you give us more details on that? Any other information you have about how to trigger this behavior would help as well.

[2022-05-05 07:58] toni-lyttinen opened #2568 "Adding COM add-ins breaks Office add-in's custom functions"
If you have a workbook that has an Office add-in loaded and you add a COM add-in, the Office add-in's custom functions disappear and you receive the notification "One or more add-ins failed to install or load custom functions". If you have called the Office add-ins custom functions in cells and you add the COM add-in, the function calls "collapse" and a `_xldudf_` namespace is added to all functio

[2022-05-05 08:27] Schaffora opened #2569 "Office.Recipients (interface) getAsync: In OWA, the To field is not resolved after losing the field focus"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

This issue is published on StackOverflow: https://stackoverflow.com/questions/72084690/office-recipients-interface-getasync-in-owa-the-to-field-is-not-resolved-aft

The "getAsync" fun

[2022-05-05 10:08] dingjin-ms commented on #2566
Hi @ZappedSquirrel , thank you for raising the question. We'll discuss more about this problem internally and will let you know as soon as we got a conclusion!

[2022-05-05 10:22] theboyknowsclass commented on #2528
Hi, is there any update on this?

[2022-05-05 10:23] theboyknowsclass commented on #2526
Any update on this?

[2022-05-05 10:29] LuyiH commented on #2528
Sorry for my very late response.
@ononder would you please help check this API?

[2022-05-05 10:45] exextoc commented on #2567
Hi @liamtim, could you confirm that the same add-ins are installed for the delegate account? If the add-ins are not installed for the delegate, they will be greyed out & disabled.

[2022-05-05 12:19] liamtim commented on #2567
@exextoc I don't believe it's possible to deploy and add-in to a shared mailbox. (In every other Outlook application prior to Mac new UI, changing your "From" address to a shared mailbox would leave any add-ins that were deployed to your main mailbox active and functional).

If there is a new requirement to deploy/install the add-in for shared mailboxes, please let me know how this can be achieved

[2022-05-05 14:00] ghost commented on #2166
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-05 14:00] #2166 closed, assigned to grangeryy

[2022-05-05 16:54] AlexJerabek commented on #2563
Thank you for reporting this issue @mstransky.

@grangeryy, could you please investigate?

[2022-05-05 16:58] AlexJerabek commented on #2564
Hi @LeapSoftware,

Thank you for reporting this issue. I suspect you are hitting that 5MB limit. You might have to batch setCellProperties calls at that 80,000 cell count.

Let me tag @guliums to help investigate and confirm. We should also consider a more helpful error message.

[2022-05-05 17:00] AlexJerabek commented on #2569
Thank you for reporting this issue. @exextoc, could you please investigate?

[2022-05-05 19:06] exextoc commented on #2559
The makeEwsRequest async call goes up to the server, and moves it there. So as you suspect, it takes the server some time to sync the change back down to the client. Unfortunately, this isn't something that can be sped up or quick update.

Are you doing anything else in the call or just a move? You may want to suggest a client side office.js function in our Tech Community forum.

https://techcommu

[2022-05-05 22:16] zacfarnsworth commented on #1683
@austinwang Are you still experiencing this issue? I am trying to reproduce it on my machine but it appears to not reproduce.

[2022-05-06 00:35] sdbarrington commented on #1220
did anyone ever get this working? IF so could you please share a working example, I've tried everything but can't get something like this to actually work:
`var row1 = ["larry", "moe", "curly"];
    var row2 = ["scoopy", "velma", "shaggy"];
    var rows = [row1, row2];

    invocation.setResult(rows);`

[2022-05-06 03:30] sdbarrington commented on #2313
Hi, did this ever get fixed? or is the fix to switch to typescript?

[2022-05-06 05:00] ghost commented on #2004
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-06 05:00] #2004 closed, assigned to grangeryy

[2022-05-06 05:03] GavinGu07 commented on #2563
Thanks for reporting @mstransky. We have reproduced your issue and created a work item on it. We will keep track on this issue and let you know if there are any updates.

[2022-05-06 05:33] GavinGu07 commented on #2561
Thanks @paul-sudo.
It could be better if you can tell us how to reproduce your issue. When I tried to drag the image from Taskpane into the document, there will be a prohibition symbol which indicates such operation is not allowed.

[2022-05-06 06:26] #2548 closed, assigned to RuoyingLiang, guliums

[2022-05-06 06:43] #2520 closed, assigned to guliums

[2022-05-06 06:49] JHJ-MS commented on #2537
will close this thread as it is tracking in the email thread.

[2022-05-06 06:49] #2537 closed, assigned to guliums

[2022-05-06 07:46] theboyknowsclass opened #2570 "Feature Request - Add Image Shape (png / svg) for PPT API"
Hi,

I can see there are specific Add... methods to add different types of shapes... can methods also be added for images SVG / PNG?

I can add these via the Common API but they are quite limited - esp in terms of tracking the shape that was just created and modifying it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-06 09:22] sebiJo commented on #2445
Addition: When you delete the previously copied slide with an add-in, a Zombie of the add-in keeps living in the memory and  still responds to events, such as switching slides or switching to presentation mode. This can lead to the effect that an add-in suddenly starts playing sounds/music, even though all slides of the entire slide deck have been removed by the user.

[2022-05-06 13:13] icrm-eugenepr commented on #1874
We're also having this issue with our add-ins in OWA using Chrome and Edge on both on-premise Exchange 2016 and 2019. Office 365 has no such issue.
This issue brings a lot of pain to our automation tests as starting from Chrome 96 this popup started to behave strangely. Selenium driver hangs when trying to switch to popup to close it in about 30% of cases.

[2022-05-06 15:43] AlexJerabek commented on #2570
Hi @theboyknowsclass,

Thanks for raising this feature request. I'm going to transfer this issue to the office-js repo, where it'll be seen by the feature crew.

[2022-05-06 16:05] PradeeshKS1 commented on #2558
Thank you.. wil request it as new feature.

[2022-05-06 16:12] igor-ribeiiro commented on #2313
Unfortunately, this did not get fixed yet. You can try using typescript until then

[2022-05-06 19:53] atuszyn opened #2571 "Add-ins not loading in Firefox. Work in Chrome."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Launching Excel Online by submitting a form inside of a web page.  Response to submit is the Excel Online page.  We specify an add-in to be included.  In Chrome, the add-in takes abou

[2022-05-06 22:45] sdbarrington commented on #2313
Ok thanks will try that. Are there any tips or tricks to convert the functions to typescript or a tutorial on it you know of? many thanks in advance!

[2022-05-07 02:37] LuyiH commented on #2526
Hi, The estimated time for the official release is mid-June, hope this could help you with the plan.

Thanks

[2022-05-07 02:37] #2526 closed, assigned to LuyiH

[2022-05-07 03:21] LuyiH commented on #2570
Hi, thanks for the request.
The addSVG API is in our support plan,  I would suggest visiting [Microsoft 365 Developer Platform Ideas](https://aka.ms/m365dev-suggestions) to submit your idea, and this could help us prioritize.

[2022-05-07 03:21] #2570 closed, assigned to LuyiH

[2022-05-07 10:29] Wenjun-Gong commented on #2571
Assigned to @AbidRahman-MSFT to take further look

[2022-05-07 15:48] maximeburri commented on #316
Do you know if there is a plan to support that?

[2022-05-09 06:26] #2535 closed, assigned to codexeon, exextoc

[2022-05-09 08:37] paul-sudo commented on #2561
Hi GavinGu07, thanks for your reply.
In my taskpane is a list of images (standard html img tags). These images can be placed in the document with drag & drop without any problems. I didn't notice any "prohibition sign" there either. As described above, it works everywhere - only Word under Windows 10/11 does not. Here it inserts the http/https link of the image, is that intentional?

[2022-05-09 08:47] #2558 closed, assigned to guliums

[2022-05-09 09:05] GavinGu07 commented on #2561
Hi @paul-sudo,
Yes, it is by design. If you drag an image from a webpage to a word document, it will also display as a link. Instead, if you drag the image to PowerPoint, it will display as an image.

[2022-05-09 09:07] paul-sudo commented on #2561
Okay thanks, so if there is no other way to solve this - the ticket can be closed.

[2022-05-09 14:14] SamAchten commented on #1116
Is there any update on this issue? The getSharedPropertiesAsync() does not return the ID of the appointment in the owner's calendar...

[2022-05-09 15:34] theboyknowsclass opened #2572 "PowerPoint Preview API - values for Shape. top/left/width/height are not consistent over platforms"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

we insert a shape using setSelectedDataAsync with the following position and size:

height: 400
left: 50
top: 50
width: 600

when i retrieve this Shapes API Shape.top, Shape.left etc.

[2022-05-09 18:00] ghost commented on #2565
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-09 18:13] LMSCM commented on #2424
Hi - I'm having the same issue. The add-in disappears from time to time across all Office apps. I have auto update on.  I've opened a ticket with RFPIO and all details are in there.

[2022-05-09 18:24] cody-lettau commented on #2565
I'll try to gather more information regarding the issue -- my QA team had reported this, but they are extremely busy at the moment.

As far as the frequency, it sounded like it was just intermittent and would show no add-ins available at times and then they may close out of the app and re-open and they'd show up again.

[2022-05-09 22:47] benpriebe commented on #476
This issue is appearing for me using an Excel task pane adding. I am running a recent Office for Mac build - 16.60 (22041000).

![image](https://user-images.githubusercontent.com/1300551/167510702-02985cd2-c33a-4158-8b90-b80915f3c70e.png)

The problem occurs when using a Shared Runtime with with a 'long' lifetime.

![2022-05-10_08-30-09 (1)](https://user-images.githubusercontent.com/1300551/167510

[2022-05-10 03:02] exextoc commented on #2569
Thanks for reporting this issue regarding To field not getting resolved in OWA. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: [155529]

[2022-05-10 04:29] Oleg-O commented on #2557
Hello Frankie, sorry about the delay in following up here. Does your add-in support shared folders/mailboxes (this is controlled by [SupportsSharedFolders](https://docs.microsoft.com/en-us/javascript/api/manifest/supportssharedfolders?view=common-js-preview) manifest element)? That could be one reason why you may be seeing evidence indicating more than one mailbox is involved.

Also, just to under

[2022-05-10 05:35] RuizhiSunMS commented on #2384
Close this issue.
Do please contact us if any block happened.

[2022-05-10 05:35] #2384 closed, assigned to nobody

[2022-05-10 05:55] RaviKumar1096 opened #2573 "Debugger not working for On-send Event"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: _PC desktop____
* Host [Excel, Word, PowerPoint, etc.]: ____Outlook__
* Office version number: _____16.0.15128.20158_
* Operating System: ____Windows__
* Browser (if using Office on the web): ______

## Expected behavior

When I attached a Debugger with On-send eve

[2022-05-10 06:17] LuyiH commented on #2572
Hi, @ononder would you please help check this on Windows and Online?
Thanks

[2022-05-10 06:45] ipecsAdmin commented on #2629
Hi,

I am registered the online-meeting template here (github).

and, I got a mail from you.

but, I still don't see the Join link.

What should I do? (What was the next action?)

[2022-05-10 08:03] Schaffora commented on #2569
Thanks for the information! We hope this issue can be resolved as soon as possible. Best Regards Raphy

[2022-05-10 08:45] JHJ-MS commented on #2568
Thanks for reporting @toni-lyttinen. It's a known issue and we have created an internal work item 6040488 on it. We will keep track of this issue and let you know if there are any updates.

[2022-05-10 08:46] #2561 closed, assigned to grangeryy

[2022-05-10 09:00] ghost commented on #2543
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-10 09:01] fmcgough commented on #2557
No, it doesn't - we don't include this element in the manifest at all since the documentation states it defaults to `false`.

Regarding `Office.context.diagnostics` - we include these details in a built-in diagnostics screen in the add-in and have asked a couple of affected users to share these with us already:
- `pc`, `Outlook`, `16.0.14729.20260`
- `pc`, `Outlook`, `16.0.14827.20192`

I'll make

[2022-05-10 10:07] tanjooxiang commented on #2550
Hi Team,

any further updates on this issue?

thank you.

[2022-05-10 11:32] els-ts opened #2574 "Replacing contents of ContentControls removes Review Comment"
If a Content Control contains any review comments, those are removed when the contents of that control are replaced with any other text.

## Your Environment

* Platform: any
* Host: Word
* Operating System: Windows / Mac

## Expected behavior
Comments remain untouched.

## Current behavior
Comments are removed, sometimes a random character is added: `[?]`

## Steps to reproduce

1. Open attached

[2022-05-10 21:07] cidev5 opened #2575 "Excel add-ins that utilize custom functions crash when running custom function in 32 bit version of Excel"
As mentioned in the title, an attempt to use an add-in's custom function capability in a 32 bit version of Excel causes an error message to come up after a short period of time.

The error message is: "This add-in seems to be having problems. Click "Restart" to try starting it again."

Upon clicking "Restart" it will occur again after a number of seconds.

## Your Environment

* Platform [PC deskt

[2022-05-11 01:46] dingjin-ms commented on #2566
Hi @ZappedSquirrel , the redistribution feature is not related to VBA version, but only related to VBA SDK license. But as the license is not being sold any more, only existing license could distribute VBA.

[2022-05-11 02:50] grangeryy commented on #2574
@els-ts, thanks for reporting the issue! We'll do some investigation soon.

[2022-05-11 04:18] clavx commented on #1250
@exextoc
This issue seems to have regressed in Version 2204.
Could you please investigate it?

Confirmed on the Current Channel:
* Works:
  * Version 2203 (Build 15028.20228)
* Does not work:
  * Version 2204 (Build 15128.20178)
  * Version 2204 (Build 15128.20224)

[2022-05-11 06:07] exextoc commented on #2567
We are not able to repro at our end. Can you please share the repro video and also if you can help us with the list of installed add-ins.

[2022-05-11 06:37] toni-lyttinen commented on #2568
Thank you for replying. Hope you can solve this issue with ease. Looking forward to updates!

[2022-05-11 08:58] fmcgough commented on #2557
A few more version numbers for you:
- `16.0.15128.20178` (PC, Outlook)
- `16.59.313.0` (Mac, Outlook)

[2022-05-11 09:21] fds-sj opened #2576 "excel-online(excel-javascript-api): selecting named ranges steals focus from taskpane/dialog"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Selecting a named range using excel javascript api steals the focus from taskpane/dialog and sets it to the worksheet. This unexpected behavior messes with keyboard-only user workflow

[2022-05-11 12:20] liamtim commented on #2567
@exextoc I'm facing this issue with an add-in I'm developing, however the issue is replicable when testing the following add-ins:

- Boomerang
- Trustfi
- Xing Ping
- Remind me

Recording - https://share.getcloudapp.com/xQuqy01o

[2022-05-11 12:55] jeanfrancoisdesrosiers-eaton commented on #2566
Great. Thank you for this answer. We still seem have a valid VBA SDK redist contract dating from 2002, signed by a Erik Stevenson (MS contract admin) on Nov 4th 2002. Since then, the resources turnover made us lose the technical ties with MS. I'm searching for the 7.1 SDK package to integrate and distribute. We are still at 6.5 + security patches. It seems MS does not make this package public. Sor

[2022-05-11 15:52] ryanulit commented on #2223
bump

@exextoc any hope of getting a response here?

[2022-05-11 17:01] mary92 commented on #2501
Hi @theboyknowsclass, can you please provide a sample document and a jist link, per template for opening issues:
_Ideally, provide a link to a live example, created and shared using [Script Lab](https://aka.ms/scriptlab). If relevant, create two buttons, one that sets up data in the document, and another that exemplifies the issue._
This will help us greatly in narrowing down the issue.

[2022-05-11 20:48] JuaneloJuanelo commented on #1861
The fix for this issue has been released as part of the update released May 10th, 2022 **16.0.15128.20224** for the monthly channel.
We are in the process to update the semi-annual channel; we updated the current Semi annual Preview build 16.0.14931.20392. So, you can try that fix in the preview.  We will update the production Semi Annual Channel on June 15th.

 We got verbal confirmation from @ba

[2022-05-11 20:49] #1861 closed, assigned to exextoc

[2022-05-12 00:30] sidetracklegal commented on #1971
Apologies for the delay- I am still able to reproduce, but have discovered an additional necessary detail in the repro steps: in particular, when defining the range to call getOoxml() on (in this case, presumably on the sole paragraph in the sample document), the range **must NOT include the hidden paragraph mark** in order for the issue to arise. So in other words, the issue arises if defining th

[2022-05-12 00:59] timwan10 commented on #2557
A local EWSId would not be on the server anymore, if the message locally was moved and hadn't synced up yet. (i.e. unfortunately the EWSId will change as soon as an item is moved). So for example something like:

1) Get the EWSId
2) Start a GetItem Call
3) User Moves the Message (now the ewsid from step 1 is not valid...though this would be timing related for when the changes sync to server)

or

[2022-05-12 02:52] guliums commented on #1157
Hi @stenly311 sorry for late response. Thanks very much for the detailed repro video and file, that is very helpful for us to confirm a bug that conditional format is not refreshed in some case. For your scenario, could you try worksheet.calculate(true) API which should work like the calculate button in ribbon. Please let me know if it does not work. Thanks!

async function run() {
  await Excel.r

[2022-05-12 03:23] grangeryy commented on #2574
Hey @els-ts, we have some update on this:
insertText() with replace option means first remove all text and then replace with new one. So all the formatting, comments and even content controls if the selection contains content controls will be removed and new text inserted. This behavior is consistent with actions from UI (select some text and delete it or select some text and type something new to

[2022-05-12 05:14] benjamin-almarza opened #2577 "Inserting ooxml into the document is too slow"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The time for inserting ooxml into the document  when using the web version is very slow

## Your Environment

Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web and

[2022-05-12 05:26] Edward-Zhou opened #2578 "Excel JavaScript Api Custom function with custom type paramter"
I am trying to implement Excel custom function with Script Lab.

I tried code below:

[code]
There is no type smart pips for @param.

Here is my screenshot.

![](https://i.stack.imgur.com/ZvvZk.png)

I prefer it will have message for enum like below

![](https://i.stack.imgur.com/wZSgg.png)

[2022-05-12 06:34] Anshul-spec opened #2579 "How to avoid adding content control within a content control"
## How to avoid adding content control within a content control

As a user when he/she tries to add a content control we would like to validate that if a content control is already there as a parent ?

### **Our Environment**
Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web and desktop Office
Host [Excel, Word, PowerPoint, etc.]: Word
Operating System: Windows 10 Pro
Browser (

[2022-05-12 06:47] wxin627 commented on #773
Any updates?

[2022-05-12 07:31] roskam opened #2580 "Error on getByNamespace("") in Word"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop, Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 365 (version 2205)
* Operating System: Windows 10
* Browser (if using Office on the web): Edge__

## Expected behavior

Is expected to receive the customxmlparts wit

[2022-05-12 07:52] Refinitiv-365 opened #2581 "Some O365 account have issue with ideas task pane and blank"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac  on the web , PC on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Excel online build version 16.0.15310.31876
* Operating System: Window, Mac
* Browser : All

## Expected behavior

- It should not show ideas task pane because It

[2022-05-12 08:17] yuc014 commented on #2576
Hi @fds-sj,

I tried your gist but not repro your issue. See the video below.

https://user-images.githubusercontent.com/87364252/168023570-7c44d6be-c64d-4276-9947-e7149f26ecdd.mp4

I need more detail about it:
1. Whether your workbook just created and do nothing on it?
2. Your build number of excel online, go File->About->build. (Like 16.0.15310.35903)
3. By my video, any difference operations or

[2022-05-12 09:11] els-ts commented on #2574
Thank you for clarifying this.

Are you able to point me out to the correct API that would be able to do this? Is it available on all platforms?

[2022-05-12 09:12] dingjin-ms commented on #2566
Glad we answered your question! Please let us know if you still have any other problem. Thank you :)

[2022-05-12 09:29] fds-sj commented on #2576
1. Whether your workbook just created and do nothing on it?
        - also happens on already existing workbooks with named ranges
2. Your build number of excel online, go File->About->build. (Like 16.0.15310.35903)
        - 16.0.15310.31876
3. By my video, any difference operations or more details?
        - based on the video, it seems that the focus is not being stolen by the worksheet, howeve

[2022-05-12 10:02] theboyknowsclass commented on #2572
https://gist.github.com/theboyknowsclass/4d03c136088c8d97ea44371afcc4b146 is the gist sorry.

i see there has been some changes recently?

[2022-05-12 12:42] teejay001 commented on #2250
Hi,

We are facing this same issue in our product development.

Please, is there any update or alternatives solution?

[2022-05-12 13:03] PawluMuscat opened #2582 "Allow Multiple Separate Add-ins to Share a Single Ribbon Group/Tab"
There currently isn't a way for grouping multiple add-ins together, meaning you have to have separate tabs and groups for each add-in you create. This ends up with the over population of the ribbon and an awful end user experience if they're using multiple add-ins that could easily be grouped together in their own tab/group if it was possible.

If it was possible to have a unique group ID that we

[2022-05-12 13:54] cristos-codence commented on #1400
I'm one of the affected customers, and can reliably reproduce the issue in my environment ("New Outlook", v16.61 / O365 subscription). I've run the commands from https://github.com/OfficeDev/office-js/issues/1400#issuecomment-889005881 and submitted diagnostics (`KM7JZZUD`). Is there any other info I can provide to help get to the bottom of this?

[2022-05-12 17:48] Refinitiv-365 opened #2583 "Our app cannot run when we click "Open Frame in New Window""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Our app cannot run when we click "Open Frame in New Window".

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]:

[2022-05-12 22:35] JuaneloJuanelo commented on #2461
@jasonhieu1905 and how is this impacting your scenario exactly? the organizer/empty is always internal, right? or in what case is not?  Also, for additional safety, you can get the profile user to identify who is the sender. (by using Office.context.mailbox.userProfile.emailAddress)

Can you please confirm you are unblocked?

[2022-05-12 23:48] jeremy-msft commented on #2579
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code. We suggest you go to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html) <change tag if appropriate> and see if your question has already been asked or ask a new question. Thanks, Microsoft 365 Developer Platform team

[2022-05-12 23:48] #2579 closed, assigned to nobody

[2022-05-12 23:59] jeremy-msft commented on #2582
Currently the feature you requested is not a part of the product. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please add your request there. Feature requests on are considered when we go through our planning process. Thanks, Microsoft 365 Developer Platform team

[2022-05-12 23:59] #2582 closed, assigned to preethikakiru

[2022-05-13 06:19] grangeryy commented on #2577
Hi @benjamin-almarza, is the performance equally bad for desktop and online?

[2022-05-13 06:39] benjamin-almarza commented on #2577
No, it is not. As you can see in the videos I attached. Desktop inserts almost immediately versus online that takes many seconds

[2022-05-13 06:40] yuc014 commented on #2576
Yes, the focus is removed from the taskpane when I only use my keyboard.
Bug 6050365 has been assigned for tracking this issue. Thanks for reporting this issue.
Does this issue block your users? If yes, maybe I could give some workarounds for your scenario.

[2022-05-13 08:56] clavx commented on #1250
@exextoc any updates on this?
We have received inquiries related to this issue.

[2022-05-13 11:00] ghost commented on #2543
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-13 15:34] IQbrod opened #2584 "[Outlook Deeplink] Impossible to send "<" and ">" through deeplink"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC using Office web
* Host [Excel, Word, PowerPo

[2022-05-13 16:29] igor-ribeiiro commented on #2313
@sdbarrington There is not really a tutorial for it, but you can try to look at the example repositories template using typescript and base yourself on that: https://github.com/OfficeDev/Excel-Custom-Functions.
You can also create a new typescript custom function project using `Yo Office`: https://github.com/OfficeDev/generator-office

[2022-05-13 18:17] timwan10 commented on #2573
Thanks for supplying the video, it greatly helps to figure out what is happening.

In your manifest file you are using the old ItemSend event, that uses WebView and not the bundle.js. Those requests will go to the HTML function file. In the manifest.

Instead you should be using the launch event lines that you have commented out. (OnMessageSend and OnAppointmentSend)

https://docs.microsoft.com/en

[2022-05-13 20:27] jeanfrancoisdesrosiers-eaton commented on #2566
I'm searching for the VBA 7.1 SDK package to integrate and distribute.  It seems MS does not make this package public.

[2022-05-13 21:09] yihuax-msft commented on #1971
Yes, I can still see it. Let me transfer the problem to another engineering team who has the knowledge on this issue. Thanks.

[2022-05-13 21:20] yihuax-msft commented on #1971
Internal bug is 5483265.

[2022-05-13 21:26] trigurl commented on #2146
We are gathering some data from our telemetry to find a way to fix this.

[2022-05-14 03:00] ghost commented on #2551
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-14 10:56] RaviKumar1096 commented on #2573
@timwan10  Thank you for replying ,
Well I tried using this Event as well I am attaching a video also, even with this the debugger won't hit my function inside the bundle.js

https://user-images.githubusercontent.com/66593878/168422872-13c7788a-1ebf-441c-a028-08c38e0e29d6.mp4

s

[2022-05-14 14:17] chengtie opened #2585 "API to save a value to a workbook"
It seems that previously you published an API to save/embed a value to an Excel workbook (rather than the cache of the integrated browser), so that the add-in could get it later.

Could anyone tell me what's the API?

[2022-05-15 12:00] ghost commented on #2237
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-15 12:27] danielpdev opened #2586 "Defining CustomFunctions from Angular"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

I tried to find a way to define an excel custom function from within Angular application and it seems to be working on Excel Office running on MacOS, but the issue is that the sa

[2022-05-15 16:02] GregReddick commented on #2237
Okay, I'm going to put this in the stupid design department. Since I can work around it, I'm just going to close it.

[2022-05-15 16:02] #2237 closed, assigned to dingjin-ms

[2022-05-15 21:00] ghost commented on #2559
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-16 02:19] exextoc commented on #2569
Thank you for reporting this issue. We again looked at the issue and as per the current design, only resolved recipients are returned for Recipients.getAsync. We are updating our documentation to help reflect the same.

[2022-05-16 03:00] ghost commented on #1157
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-16 06:57] Schaffora commented on #2569
Hello @exextoc, the documentation is OK, like you wrote, only resolved recipient should be returned by the function. The issue is that the recipient is still not resolved after field focus changed. When an outlook  user/client wrote something in the TO/BCC field, then he change the field focus (without using "Tab", ";" or the Email Adress Proposal), he would expect that the content of the filled f

[2022-05-16 10:50] JensMadsen commented on #2275
@AkhileshShah-MS any news on this issue?

[2022-05-16 13:03] 1842014 opened #2587 "Office error when trying to displayDialogAsync with displayInIframe: false"
# Provide required information needed to triage your issue
I'm trying to display a dialog without it being in an Iframe.

I made a stack overflow question, if you want full information: [Here](https://stackoverflow.com/questions/72233560/office-js-displaydialogasync-error-when-displayiniframe-false?noredirect=1#comment127641301_72233560)

## Your Environment

* Platform [PC desktop, Mac, iOS, Offi

[2022-05-16 16:10] jasonhieu1905 commented on #2461
@JuaneloJuanelo : We currently add the organizer to the check list, so I can confirm this is unblocked for now. Thanks.

[2022-05-16 17:14] Muneeraaaaa commented on #1076
I have the same problem, and I added the icon to the asset file but it doesn't work. please help me what do I have to do.

[2022-05-16 18:31] Muneeraaaaa commented on #1076
please answer ASAP because we have a graduation project on this tomorrow

[2022-05-16 21:04] isabela-dominguez commented on #2584
Thank you for sharing this issue @IQbrod. Connecting you with @exextoc who may be able to help.

[2022-05-16 21:06] timwan10 commented on #2573
From your video it looks like the On Send launch event is *working* but you can't debug it? (please confirm)

Item Send is actually somewhat special cased from the other Launch Events (like OnNewMessageCompose). The issue is that ItemSend actually launches a new instance of the process, and needs to be debugged separately. (evidenced by the fact that a SECOND dialog pops up, when you hit send).

I

[2022-05-16 21:10] isabela-dominguez commented on #2585
Thank you for sharing this issue @chengtie. Connecting you with @guliums who may be able to help.

[2022-05-17 00:28] dingjin-ms commented on #2566
Hi @ZappedSquirrel , sorry for the late response. For the VBA SDK, you could connect Yaqi by Yaqi.Yang@microsoft.com directly, he would send you the updated SDK. Thank you!

[2022-05-17 00:56] isabela-dominguez commented on #2586
Thank you for sharing this issue @danielpdev. Connecting you with @guliums who may be able to help.

[2022-05-17 02:54] RuoyingLiang commented on #2275
@JensMadsen, sorry for the late response. The corresponding team is investigating the issue and we will update here once it's fixed. Is this a random failure or constantly repro?

[2022-05-17 04:43] stenly311 commented on #1157
Hi @guliums ,
thanks for sharing this script with me.

However, the background colours of conditional formatting seem not to be working consistently after running it on the same workbook provided here initially.

Here is the vid of the test running by myself:

https://user-images.githubusercontent.com/8539921/168729562-c51ab735-afe6-4c96-85cd-c159e7be7284.mp4

Source code to use for ScriptLab: htt

[2022-05-17 05:00] ghost commented on #2551
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-17 05:00] #2551 closed, assigned to exextoc

[2022-05-17 05:21] fds-sj commented on #2576
Yes, this issue blocks users who rely on keyboard-only workflows. We already have a workaround for this, but still filed the issue for it to be properly resolved. Thank you for addressing the issue.

Regarding tracking of Bug 6050365, how would we be able to know if the issue has been resolved already so that we could test?

[2022-05-17 06:07] yuc014 commented on #2585
Hi @chengtie, you can see all our apis on: https://docs.microsoft.com/en-us/javascript/api/excel?view=excel-js-preview

And I guess you want this: https://docs.microsoft.com/en-us/javascript/api/excel/excel.workbook?view=excel-js-preview#excel-excel-workbook-save-member(1)?

[2022-05-17 06:25] JensMadsen commented on #2275
@RuoyingLiang It happens randomly. I cannot figure out the pattern

[2022-05-17 06:40] exextoc commented on #2587
Hi @1842014 , we are looking into the issue but we don't have a solid repro at this point. Could you please help us with the following:
1. A sample manifest where you are seeing the issue
2. Was this working for you earlier and stopped working recently? If yes, then when did this happen? Also, how frequently do you observe the fail?

[2022-05-17 07:22] ksobolewskiVL opened #2588 "Item id is reused in e-mail draft or replay"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.15128.20158
* Operating System: Windows
* Browser (if using Office on the web): -

## Context
When preparing drafts or replays, we have noticed in some cases that the item id is detected as reused.
How is the item id created? Can an ite

[2022-05-17 08:02] hello-chenchen opened #2589 "Office.context.mailbox.item.loadCustomPropertiesAsync not work when second open edit event in Mac os 12.3.1 Outlook 16.58 (22021501)/16.61 (22050700) in New Outlook UI"
repro step:
1. open a new event, open an add-in, for example one note, set custom info:
code snap:
set custom info:
[code]
2. check custom info have set. get custom info(custom info existed):
code snap:
get custom info:
[code]
![image](https://user-images.githubusercontent.com/1878089/168760059-65e057dc-e293-49f1-b120-b3ec49e389b6.png)

3. save this event.
4. re-open this event and add-in(in here,

[2022-05-17 08:59] clavx opened #2590 "Outlook for Windows: from.emailAddress property returns LegacyExchangeDN"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

The emailAddress property of From field is returned in LegacyExchangeDN value in Outlook for Windows.
This issue has been p

[2022-05-17 09:05] teejay001 commented on #2317
Hi,

We are facing this same issue in our product development. Office.context.mailbox.item.body.getAsync() not returning the entire message chain in reply mode for OWA.

Please, is there any update or alternatives solution?

[2022-05-17 09:24] chengtie commented on #2585
"save(saveBehavior)" is not what I wanted.

For instance, an add-in may want to save a value representing **last modified time** of the workbook to that workbook, so that next time the add-in could read that value from the workbook. The add-in does not want to save it to a cell; it seems that there is a "cache" in the workbook we can use.

I'm taking about this API, and I don't think "save(saveBeh

[2022-05-17 10:15] #2481 closed, assigned to croicu

[2022-05-17 10:16] JensMadsen commented on #2436
@yihuax-msft I would like to close this issue. Therefore, I would ask if the documentation and/or the error message has been altered?

[2022-05-17 10:17] JensMadsen commented on #2333
@millerds  any news on this issue? I still experience excessive logging.

[2022-05-17 12:28] egloff commented on #1823
I am facing the same issue:
For most mails I can use the 'attachmentDetail.name' property, as it mostly matches the cid (Content-ID).
But if for example the cid does not contain the file-extension or the cid is completely different from the filename of the attachment there is not way to do the matching between cid and the attachment or am I missing something?

[2022-05-17 12:36] guliums commented on #2585
Hi @chengtie , is document custom property API you needed? https://docs.microsoft.com/en-us/javascript/api/excel/excel.custompropertycollection?view=excel-js-preview#excel-excel-custompropertycollection-add-member(1)

[2022-05-17 13:37] cody-lettau commented on #2377
For reference, here is the feature request: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/prevent-on-send-add-in-error-when-user-clicks-different-message/idi-p/3067187#M656

This is having a huge impact on our users :(

[2022-05-17 15:56] thoffmann-fms opened #2591 "Mac Outlook Language set to Spanish returns es-MX"
When the per-App language in Language & Region is set to "Español" the locale reported by Office.Context.displayLanguage is "es-MX".  When set to "Español (México)" is it also set to "es-MX".

## Your Environment
Mac OS 12.4, Outlook 16.61

## Expected behavior
"es-ES" should be reported for Español

## Current behavior
Office.Context.displayLanguage is "es-MX"

## Steps to reproduce
Set app-speci

[2022-05-17 17:34] yihuax-msft commented on #2436
Thank you @JensMadsen for reminding me. We have had an internal bug (6059458) to track this issue. I will make its priority higher.

[2022-05-17 17:44] JuaneloJuanelo commented on #2461
ok @jasonhieu1905  thanks for the confirmation.  At this point we dont visualize a problematic scenario here, so closing the case.

[2022-05-17 17:44] #2461 closed, assigned to exextoc

[2022-05-17 18:11] cidev5 commented on #2051
@grangeryy, @jiju-MS Is there any update? Our clients continue to experience this issue.

Can an engineer let us know if there are any other workarounds we can employ to prevent this?

[2022-05-17 19:21] DansGithubAccount22 commented on #2507
Based on some recent testing, we've been able to isolate a problem when outlook is using the zoom add-in and we try to use a word/excel task pane add-in at the same time, since we switched to Edge WebView2.
I've opened a ticket with Microsoft

[2022-05-17 20:20] isabela-dominguez commented on #2588
Thank you for sharing this issue @ksobolewskiVL. Connecting you with @exextoc who may be able to help.

[2022-05-17 20:27] isabela-dominguez commented on #2589
Thank you for sharing this issue @hello-chenchen. Connecting you with @macOutlookExtensibility who may be able to help.

[2022-05-17 20:47] isabela-dominguez commented on #2590
Thank you for sharing this issue @clavx. Connecting you with @exextoc who may be able to help.

[2022-05-17 20:50] isabela-dominguez commented on #2591
Thank you for sharing this issue @timothyhoffmann. Connecting you with @macOutlookExtensibility who may be able to help.

[2022-05-17 21:19] chengtie commented on #2585
Yes, this is what I'm looking for... Thank you.

[2022-05-18 04:31] grangeryy commented on #2051
@cidev5, do you think we can have a call on this? Currently, we don't have an elegant solution yet. And it may need some investigation into your case to see if other work around exists. THX!

[2022-05-18 05:45] RaviKumar1096 commented on #2573
Well I tried the way you said, First I tried it with only the ItemSend event and this time debugger hits my function also I tried the launching another debugger instance (after the OnNewMessageCompose event) and also this time debugger hits the function
But the Catch here is when I tried to change my function definition with my actual code the same problem occurs [debugger hits for OnNewMessageCom

[2022-05-18 06:17] RuoyingLiang commented on #2275
Thanks @JensMadsen . After investigation we suspect it's a new issue. Is that possible you could share the network trace for the latest repro?

[2022-05-18 06:50] JensMadsen commented on #2275
@RuoyingLiang I experienced this issue several times yesterday, but today I cannot reproduce it. I will try again later. When you say network trace what do you mean exactly? I can get you the request which fails?

[2022-05-18 06:51] JensMadsen commented on #2436
@yihuax-msft What do you suggest then? Should I close the issue or keep it open ?

[2022-05-18 07:10] yihuax-msft commented on #2436
@JensMadsen , Go ahead to close it. I have asked another engineer to improve the documentation to mention that, if a collection item is tracked in Word, the collection should also be tracked. Thanks!

[2022-05-18 09:48] guliums commented on #2275
Hi @JensMadsen I think it is Fiddler trace, you could refer to https://docs.microsoft.com/en-us/power-query/web-connection-fiddler for how to capture it. A screen shot of F12 developer tools network tab with failed request will also be helpful. Thanks for your support!

[2022-05-18 10:59] #2436 closed, assigned to yihuax-zz, grangeryy

[2022-05-18 11:26] echowwl opened #2592 "Meeting created with google addon does not display correctly on MAC outlook"
repro step:
**1. schedule an event via google calendar using google meet video conferencing**
![image](https://user-images.githubusercontent.com/105787768/169025263-fe37133e-9000-4912-a97d-dafa659ae4ae.png)
**2. invite a google email as a guest then click save
3. go to the outlook application
a.open the event at the old UI outlook calendar:**
![image](https://user-images.githubusercontent.com/1057

[2022-05-18 15:48] 1842014 commented on #2587
My manifest is simple, it's a basic taskpane add-in and within that taskpane theres a button to display a dialog and the error is there.

I never tried displaying a dialog with displayInIframe set to false. It was working fine when set to true, but it never worked when set to false.

[2022-05-18 19:02] dbi-cc commented on #2149
Today starting development of OfficeJS (Word) Plugin. I used the default App enroled by yoman (Angular flavor). I could reproduce the same issue.

[2022-05-18 22:56] Dengshan2018 commented on #2507
@DansGithubAccount22 do you have consistent repro with Zoom add-in?

[2022-05-18 23:00] ghost commented on #2559
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-18 23:00] #2559 closed, assigned to nobody

[2022-05-19 00:01] DansGithubAccount22 commented on #2507
The zoom add-in is deployed through the admin center
![image](https://user-images.githubusercontent.com/102698422/169174379-c6c36688-5c86-4d53-80a4-f470ae10feb8.png)

Then any task pane word add in
https://appsource.microsoft.com/en-us/product/office/wa104379629?tab=overview

[2022-05-19 03:14] SWei1234 opened #2593 "[Outlook] location.getAsync get a strange result when using 'Scheduling Assistant' on Mac Outlook (New UI)"
On Mac Outlook, using 'Scheduling Assistant' add a location 'sanjuZR'. Then use location.getAsync will return 'sanjuZR; sanjuZR'. The correct result should be only one 'sanjuZR'.
But on create event interface there is only one 'sanjuZR' in location.
![image](https://user-images.githubusercontent.com/15980696/169189936-36e98d8a-58a6-424d-9a99-327cee50f7e6.png)

## Your Environment

* Platform [PC d

[2022-05-19 03:26] yuc014 commented on #2576
Hi @fds-sj, this is an internal bug, you could not track it directly.
Will update here when we fix it.

[2022-05-19 04:21] Dengshan2018 commented on #2507
I tried following steps:
1. Insert Zoom meeting in the outlook
2. insert wikipedia add-in in the word.

I didn't see the issue. Both add-ins work fine.
@DansGithubAccount22 , Could you provide more logs by following the steps from https://docs.microsoft.com/en-us/office365/troubleshoot/diagnostic-logs/collect-office-diagnostic-logs?

[2022-05-19 06:35] libjosep opened #2594 "Error while adding data validation rule"
I am getting an invalid argument exception when I try to add a data validation rule to a range in excel. I am initially setting a data validation prompt for a range of cells(Eg: B5:B10). In the next step, I am adding a data validation prompt to a range that contains the initial range I picked for the data validation prompt(Eg: B1:B10). Then I set data validation rule using
`range.dataValidation.ru

[2022-05-19 08:25] fds-sj commented on #2576
Okay, I see. Thanks for the quick responses! Will look forward to the update.

[2022-05-19 11:01] exextoc commented on #2587
Hi @1842014 , we are not able to repro this at our end. Could you please share a sample manifest where you see the issue so that we can investigate. Thanks!

[2022-05-19 12:09] jeanfrancoisdesrosiers-eaton commented on #2566
Thank you very much! We now seem to be talking to the right persons at MS and we'll continue directly with them. Now closing this "issue" here.

[2022-05-19 12:09] #2566 closed, assigned to dingjin-ms

[2022-05-19 12:20] exextoc commented on #2584
Hi @IQbrod, could you please let us know if you're trying to use the deeplink from an add-in?

[2022-05-19 12:26] IQbrod commented on #2584
@exextoc users click on div which triggers a js script
`window.open("https://outlook.office.com/calendar/0/deeplink/compose?rru=addevent&path=%2Fcalendar%2Faction%2Fcompose&subject=Daniel%20%20%3C%3E%20Peter");`

[2022-05-19 12:46] DansGithubAccount22 commented on #2507
I may need to provide a couple additional steps.  In outlook, you have to use the add-in and see that its running Zoom
![image](https://user-images.githubusercontent.com/102698422/169296535-122798fd-499a-47e1-9678-68a0b0dabf14.png)
Make sure word/excel is closed at the time.   Once zoom is running, then try to use the wiki add in, in word or excel.

I will also collect those logs and send the, can

[2022-05-19 13:31] bojanClarivate commented on #2527
Hi,
Any progress on this?

[2022-05-19 20:56] timwan10 commented on #2573
What could be happening here is that the bundle downloaded isn't updated? Some things you could try.

1) make sure you've uploaded your manifest with the change to the function name, and make sure outlook is using it. (You can test by changing a string in the ribbon, and making sure that it actually changed)

2) Make sure that Outlook has the latest bundle. (usually by rebooting Outlook).

You can

[2022-05-19 21:56] #1683 closed, assigned to zacfarnsworth, exextoc

[2022-05-20 01:37] Dengshan2018 commented on #2507
@DansGithubAccount22 , any update?

[2022-05-20 09:41] exextoc commented on #2592
Hi @echowwl, form the details shared it seems like you're using the old UI. Please check with the new UI if this works for you. We are not fixing bugs for the old UI.

[2022-05-20 09:48] exextoc commented on #2593
Hi @SWei1234, we are not able to repro this scenario at our end. Could you please update to the latest version of Mac Outlook and check if this issue still exists. If yes, then kindly share a video of the same that will help us to investigate the issue quickly.

[2022-05-20 11:17] exextoc commented on #2589
Hi @hello-chenchen, thanks for reporting the issue. It has been put on our backlog. We unfortunately have no timeline to share at this point. Internal tracking id: 6072701

[2022-05-20 12:40] theboyknowsclass opened #2597 "Office.context.document.goToByIdAsync(slideId, Office.GoToType.Slide) does not seem to work in powerpoint for windows anymore"
afaik this used to work fine previously, but now doesn't work  - still works online as expected

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3546c27-2579-903a-2fb1-9ee4b562aac4
* Version Independent ID: 34de80a7-eb7d-08ff-9a6d-77e01f907ebc
* Content: [Office Common API requirement sets - Offic

[2022-05-20 12:48] theboyknowsclass opened #2595 "Office.context.document.goToByIdAsync(slideId, Office.GoToType.Slide) does not seem to work in powerpoint for windows anymore"
Microsoft® PowerPoint® for Microsoft 365 MSO (Version 2203 Build 16.0.15028.20178) 64-bit

goToByIdAsync used to work previously, but no longer switched the slide as expected - office online still works.

on investigation, if you obtain the id (e.g. 256#109857222) from the [presentation.slides api](https://docs.microsoft.com/en-us/javascript/api/powerpoint/powerpoint.slidecollection?view=powerpoin

[2022-05-20 12:53] 4tti commented on #2537
Not sure it is good idea to close this thread as there are more people interested on the outcome of the internal investigation.
This is potential issue even for us, at least future wise.

[2022-05-20 13:03] msoq commented on #2336
Hi @xiaoyuMS, it seems that our team faced the same issue trying to insert ContentControls using the Word Online platform, I hope you can give some advice on how to deal with this situation.
Do you know if there is a complete list of ooxml attributes that make a paragraph unsupported for ContentControls? Is there a way to understand that the paragraph is unsupported other than parcing its ooxlm co

[2022-05-20 13:28] liamtim commented on #2567
@exextoc Any updates available here?

[2022-05-20 14:13] cristos-codence commented on #1400
@GrumpyAL @exextoc just following up; since I can consistently reproduce the issue, anything I can do to help?

[2022-05-20 14:26] fds-rpg opened #2596 "excel-online(office-dialog-api): lost worksheet focus after closing Office dialog"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

the focus on the worksheet is lost after you close the Office dialog.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word

[2022-05-20 15:56] AlexJerabek commented on #2597
Thanks for reporting this @theboyknowsclass. I'm going to transfer this issue to the [office-js repo](https://github.com/OfficeDev/office-js) where members of the product team will look at this. While it's being triaged, could you please provide a small Script Lab snippet that reproduces the issue?

[2022-05-20 22:33] iotataru commented on #2333
Issue should be resolved now.

[2022-05-21 00:11] samantharamon commented on #2588
Hi @ksobolewskiVL,

Thank you for your post. To help us investigate this, could we request you to share how you retrieve the item ID? Additionally, would you be able to provide a screenshot of the error (if applicable) when the ID is detected as reused?

For information about identifiers in Exchange, please see [EWS identifiers in Exchange](https://docs.microsoft.com/en-us/exchange/client-develope

[2022-05-21 06:00] ghost commented on #1157
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-21 13:23] JensMadsen commented on #2333
@iotataru I can confirm that the issue is fixed. Well done!!

[2022-05-21 13:23] #2333 closed, assigned to millerds

[2022-05-21 21:45] isabela-dominguez commented on #2594
Thank you for sharing this issue @libjosep. Connecting you with @JHJ-MS who may be able to help.

[2022-05-23 01:40] SWei1234 commented on #2593
Hi @exextoc
Yes, sure I will try update my Outlook. But can you share me the outlook version which not repro this problem? This will be a reference standard for me. Thanks

[2022-05-23 02:00] stenly311 commented on #1157
Hi @guliums  any luck with the investigation? thanks

[2022-05-23 02:27] SWei1234 commented on #2593
Hi @exextoc
    And one more problem about this api.
    Steps:
    1. switch outlook to new UI
    2. open a new event then add a location(BOSS A).
    3. Get this location by 'location.getAsync' API then use 'location.setAsync' set it back.
     Expected:
    BOSS A's calendar should receive this event.
    Actually:
   BOSS can not get this event.

   I tried this on new version Outlook (16.61

[2022-05-23 03:50] jasonleehodges commented on #2484
@exextoc Any update on this by chance? I think I'm running into the same issue on Mac desktop.

[2022-05-23 09:17] JHJ-MS commented on #2596
Thank you for sharing this issue, and connecting you with @AbidRahman-MSFT who may be able to help.

[2022-05-23 10:43] guliums commented on #2537
Hi @4tti thanks for comments. Could you share your add-in scenarios using this API capability to create macro (.xlsm) file? Any comments are appreciated!

[2022-05-23 10:46] guliums commented on #2594
Hi @libjosep, thanks for reporting this. Currently this API does not support ranges with different rules on different cells. If B5:B10 already has data validation, you could set data validation rule to B1:B4 and B5:B10 in two API calls as workaround. If you need that functionality, you could go to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-d

[2022-05-23 13:11] RaviKumar1096 commented on #2573
I took the step that you mention and there is no change add-in still behave the same, also deleted the WEF folder but nothing impacted.
![image](https://user-images.githubusercontent.com/66593878/169826842-7a01fe85-6b92-49fe-aa03-2959cbfdce7d.png)

[2022-05-23 13:19] 4tti commented on #2537
Hello @guliums  well, we don't use it as of now. I just was curious about the outcome cause I know that with our legacy addin, the xlsm was heavily used to automate processes, some kind of ETL processes but also really to simplify user flow. And the VBA is customized by the customers and then used as a kind of template for the reports. And I know that this could be pretty powerful even with the we

[2022-05-23 13:37] danielpdev commented on #706
@grangeryy do you happen to have a code snippet for returning a date type ?
I need to return a value that should be formatted as a date by excel, but could not found a snippet of code doing that.

[2022-05-23 15:01] DansGithubAccount22 commented on #2507
We were able to determine this issue was environmental

[2022-05-23 15:01] #2507 closed, assigned to Dengshan2018

[2022-05-23 18:55] timwan10 commented on #2573
I'm not sure I completely understand what the issue is right now. So the Breakpoint WAS being hit, but then you changed the name of your function and it stopped being hit? Does it start working again if you change the name back?

(i.e. what is the difference between when your code hits the breakpoint and when it doesn't?)

When you don't hit the breakpoint, does the Add-in work anyway?

[2022-05-23 22:57] gofish543 opened #2598 "InlinePictures Set Border"
Is there a way to set the border for InlinePictures?

...
    return Word.run(async (context) => {
        let images = context.document.body.inlinePictures;
        images.load('imageFormat');

        await context.sync();

        images.items.forEach((item) => {
            item.getBorder().width = 1;
            item.getBorder().color = '#000000';
        });

        return context.sync();

[2022-05-24 01:04] grangeryy commented on #706
@danielpdev, you may find more info here:[customizing a number format]( https://support.microsoft.com/en-us/office/review-guidelines-for-customizing-a-number-format-c0a1d1fa-d3f4-4018-96b7-9c9354dd99f5)

[2022-05-24 06:57] exextoc commented on #2593
@SWei1234 we are unable to reproduce the issue you have mentioned with the BOSS A value. It works fine on our end.

Try using the below code snippet and see if the issue is still reproducible.

`Office.context.mailbox.item.location.getAsync(res=>{ Office.context.mailbox.item.location.setAsync(res.value, res2=>{console.log(res2);});});`

[2022-05-24 07:14] exextoc commented on #2591
@timothyhoffmann we are unable to reproduce this issue. Could you please share a video with us reproducing the same?

[2022-05-24 07:20] hipitihop opened #2599 "loading office.js fails on slow networks. Appears to be an internal race condition"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Desktop: Windows 10 Pro. Version 1909, OS Build 18363.1556
* Host [Excel, Word, PowerPoint, etc.]: Excel add-in (Excel 2203 build 15028.20204
* Office version number: Office 365

## Expected behavior

1. office.js should not fail or cause an error while loading its own secondary scripts and assets, or

2. Any errors should

[2022-05-24 07:23] 4tti commented on #2507
hello @DansGithubAccount22 would it be possible to share more details how have you resolved that, please? TIA!

[2022-05-24 08:01] #2565 closed, assigned to exextoc

[2022-05-24 09:04] #2182 closed, assigned to RuoyingLiang

[2022-05-24 09:16] SWei1234 commented on #2593
Hi @exextoc
  I tried this on another Mac and running your code. This problem still exist.
  Mac version (12.3.1)  Outlook 1658 (22021501)
  I will try attach a recording later to show how replicate this problem. Hope this will help you.
Thanks

[2022-05-24 13:52] RaviKumar1096 commented on #2573
ok here are some scenarios
1. when there is an on-compose and on-send event
debugger hit in the on-compose event function
but debugger won't hit for on-send also implementation of that function not working (means add-in won't behave like that function).
2. when there is an only on-send event
debugger hit the function also add-in behave like that function.

[2022-05-24 15:29] ndeeH commented on #2481
@Rick-Kirkham The npx command does not work to switch testing to use IE. Testing in IE mode in Edge is not an option because:
![image](https://user-images.githubusercontent.com/11518242/170074015-ca75522e-54d2-431b-a476-cf36092e0a7a.png)
So I hope MS will hardly replace IE by an Update in all MSI Office Versions. Do not love to have untested Add Ins around because of your IE retirement.

[2022-05-24 16:32] Dengshan2018 commented on #2507
@4tti , just for your information, from another thread, word and excel launched under Administrator. If they launch normally, there is no issue. @4tti let me know if you have different behavior. Feel free to open new issue and assign to me.

[2022-05-24 16:38] Dengshan2018 commented on #1938
Just close the issue. @HelenNeigel feel free to open new bug if you have new repo.

[2022-05-24 16:38] #1938 closed, assigned to Dengshan2018

[2022-05-24 18:00] ghost commented on #2597
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-24 18:07] 4tti commented on #2507
Hello @Dengshan2018 , thanks for the info.
I was curious because we had one incident when this was happening intermittently but then customer closed the incident and was not reacting anymore.
And do you have idea why running it under Admin should cause this issue?
Thank you very much!

[2022-05-24 19:05] jlara005 opened #2600 "How to"
Hi,

Is it possible to change the position of an Outlook Add-In Icon to appear at the beginning or to make it "pin to ribbon" using the manifest? We have users who are complaining that it is hard to find and bad user experience having to click the ellipsis to get to it.

![image](https://user-images.githubusercontent.com/29823126/170112369-8a61d4f1-383a-40e6-bd2e-f2c8a9a8c369.png)

[2022-05-24 22:34] timwan10 commented on #2600
There currently isn't an option in the manifest to move the ribbon button.

A User could switch to Classic Ribbon, that usually allows for more horizontal space on the ribbon:

![image](https://user-images.githubusercontent.com/17890744/170142935-1a34b3ce-6939-4c7a-b6ca-570bc49b94c1.png)

[2022-05-24 23:50] Dengshan2018 commented on #2507
There is known bug that webview2 creation might fail under Admin when Windows explorer is running into some issue.

[2022-05-25 03:00] ghost commented on #2588
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-25 04:01] libjosep commented on #2594
In my case, I can have n number of ranges to set data validation prompts and another n number of ranges to set prompts. My current approach is like this - I have an array of ranges to set data validation rules and another array of ranges to set data validation prompts. First I set data validation prompt for all the ranges. In the next step, I set data validation rules to all the ranges. So compari

[2022-05-25 04:05] libjosep commented on #2488
@RuizhiSunMS I get the base64 from an API. I don't have the actual workbook.

[2022-05-25 07:23] xiaoyuMS commented on #2336
Hi @mikalai-sokarau, thanks for the suggestions.
We will see how we can improve this. The issue has been tracked in our backlog as ADO#6085257

[2022-05-25 08:39] exextoc commented on #2567
@liamtim
Thanks for reporting this issue regarding the delegate account. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 6085449

[2022-05-25 09:57] msoq commented on #2336
@xiaoyuMS, thanks for pointing your attention to this problem!
Maybe it's a silly question but do external users have access to the backlog you mentioned? Can I track progress of ADO#6085257 somehow?

[2022-05-25 12:28] ndreisg commented on #1629
@ralphtheninja I think this is the new platform to submit feature requests: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform

[2022-05-25 12:49] sachin161194 opened #2601 "Context Multiple Menu is not working on Excel Desktop"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# [OfficeMenu multiple menu controls works on office 365 not on office desktop ](https://techcommunity.microsoft.com/t5/excel/officemenu-multiple-menu-controls-works-on-office-365-not

[2022-05-25 12:53] rexweston commented on #2573
Hi Ravi & Tim,

Please keep working diligently on this until you have success – it is very important to me that we get this resolved.

Thank you.

[2022-05-25 13:59] 4tti commented on #2507
Thanks!

[2022-05-25 15:02] fmcgough commented on #2557
@timwan10 Both of the scenarios you describe above seem unlikely to me, we have several screenshots from users showing the message they are trying to store in their regular Focused inbox in Outlook. As far as I'm aware, the `conversationId` changes only if the subject is changed, which isn't the case for these users.

The add-in runs in MessageRead mode only.

Example conversation ID recorded as n

[2022-05-25 16:58] theboyknowsclass commented on #2597
this can be closed, i have the other ticket in the right area

[2022-05-25 16:58] #2597 closed, assigned to LuyiH

[2022-05-25 18:37] timwan10 commented on #2557
1) To clarify/confirm does OfficeOnline = Outlook Web Access? And you are seeing this issue in general across all platforms? (OWA, Mac, PC)

2) In the issues where the message ID cannot be retrieved from the server, something may have been cached in the Outlook Windows Profile, and if the user's mailbox moved on the server it could cause the error. In this case I would suggest recreating the profi

[2022-05-25 19:21] timwan10 commented on #2573
Are you saying that if you have a OnNewMessageCompose and a OnMessageSend event, then the OnMessageSend portion doesn't run at all? (regardless of debugger)? (this is a bit confusing because earlier you said they were _working_ but the debugger breakpoints just weren't being hit)

If so that would be a bug, but it could also be something is configured incorrectly in your manifest or js file. If yo

[2022-05-25 20:03] trigurl commented on #2601
Hello, the Desktop behavior is actually correct.  Per intended design, we only allow an add-in to add either a button control or a menu control to a context menu.  At the time it was designed this way so that the Office context menu doesn't get flooded with 3rd party controls. Within your menu, you can only have buttons at the moment.

Unfortunately, we are aware of some inconsistencies between On

[2022-05-26 00:27] markdon opened #2630 "Implementing Outlook's Every Meeting Online (EMO) for third-party online meeting providers"
Recently, a new feature was released that allows customers to choose a third party meeting provider as their every meeting online provider instead of Teams. Some related documentation: https://support.microsoft.com/en-au/office/make-every-meeting-online-70f9bda0-fd29-498b-9757-6709cc1c73f0?preview=true

How do I get this integration with our online meetings solution? We have a fully featured add-i

[2022-05-26 01:35] t-ariyoshi30907 commented on #2250
I am facing the same problem with my product.
the customer is in trouble, could you improve it as soon as possible?

[2022-05-26 04:06] paulflaherty555 opened #2602 "I am wondering if outlook web add-ins can be mobile and move around the screen similar to what old microsoft com add ins used to do and not just be docked to one location in the application,"
I am wondering if outlook web add-ins can be mobile and move around the screen similar to what old microsoft com add ins used to do and not just be docked to one location in the application,

[2022-05-26 08:58] xiaoyuMS commented on #2336
It is for internal use. We will come back for any update~

[2022-05-26 11:11] fmcgough commented on #2557
Yes, we are seeing this issue across all platforms. It looks like "OfficeOnline" is what `Office.context.diagnostics.host` reports for Outlook Web Access. Do you think it's likely that caching issues are also causing the same behaviour on Mac or OWA?

[2022-05-26 12:26] thoffmann-fms commented on #2591
I think the problem is that I didn't restart the browser after changing the language.  While some of the text displayed is in the selected language and API doesn't reflect the change without a restart.

[2022-05-26 12:26] #2591 closed, assigned to nobody

[2022-05-26 12:47] jamding opened #2603 "All Word 2016 add-ins erroneously auto-open, doesn't respect "Office.AutoShowTaskpaneWithDocument", sets taskpane visibility to "1""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Original post on [Stackoverflow](https://stackoverflow.com/questions/72374813/all-word-2016-add-ins-erroneously-auto-open-doesnt-respect-office-autoshowtas), on which I was recommende

[2022-05-26 13:00] hello-chenchen commented on #1592
hi @exextoc , could you please share the Internal tracking id for us?

[2022-05-26 14:00] RaviKumar1096 commented on #2573
hey, Timwan10 sorry I think I confused you please ignore my last reply this time actually, I restarted my system and deleted the WEF folder that thing was working for me debug point hits both the event and implementation also work but after that, a pop comes up sending you a screenshot of that and after that, the same behavior again happens debugger only hit for onCompose Event not hitting for Ons

[2022-05-26 16:23] nancy-wang commented on #2603
Thanks for letting us know about this issue @jamding! Tagging @grangeryy who may be able to help.

[2022-05-26 16:24] nancy-wang commented on #2602
Thanks for the question @paulflaherty555 ! Tagging @exextoc who may be able to help answer.

[2022-05-26 16:30] nancy-wang commented on #2627
@exextoc following up here - based on your investigations, is there anything we could do here as part of the product team? thanks for your help!

[2022-05-26 16:31] nancy-wang commented on #2628
@exextoc wanted to make sure you were aware of this - thank you for your help and @zjmchoi for raising this issue with our team!

[2022-05-26 16:31] nancy-wang commented on #2629
@exextoc might you be able to follow up here? thank you @ipecsAdmin for raising this issue with our team!

[2022-05-26 16:39] millerds commented on #2313
There is a fix for this in the pipeline now and should be released in the next month.

[2022-05-26 16:39] #2313 closed, assigned to igor-ribeiiro

[2022-05-27 00:21] mike-thompson-day8 commented on #2599
To summarize, there are two issues:

1.  We have a `minimal_office.html` containing a `<script>` element that loads `office.js`.  Most of the time, `office.js` is loaded correctly without any issue.  BUT in a "slow network"  environment, loading `office.js` often fails with an exception.  For us, this problem showed up at a client site, and we were able to reproduce the problem in our environment

[2022-05-27 03:00] ghost commented on #1157
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-27 03:07] stenly311 commented on #1157
Hi @guliums any luck with the investigation? thanks

[2022-05-27 03:24] guliums commented on #1157
Hi @stenly311 , sorry for late response. Excel team are actively working on the bug you reported that conditional format does not refresh automatically in this case, internally tracked by VSO 6043693. I will follow up and let you know when there are update. From API side, unfortunately I currently don't have a better solution other than call worksheet.calculate(true) every time on worksheet data c

[2022-05-27 08:04] clavx commented on #2590
Any updates on this?
This issue is still occurring with the latest version.
Current Channel: Version 2205 (Build 15225.20204)

I would appreciate it if you could share a workaround for this issue.

[2022-05-27 08:30] GavinGu07 commented on #2598
Hi @gofish543, thank you for reaching us! Based on my knowledge, we don't have this method so far.

I'd recommend going to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) and see if this feature has already been requested or request a new feature.

Thanks for your support!

[2022-05-27 09:49] guliums commented on #2594
Hi @libjosep , I think it is not related to the order of rules or prompts, but depends on the range size in each steps. If you set data validation rules to a small range(like B5:B10), then set prompts on a large range(B1:B10), it will not work. Because currently both set rule or prompt do not support ranges with already existing different rules on different cells. If you don't see errors after cha

[2022-05-27 18:00] cwil423 opened #2604 "Backspace causes navigation in React Word Addin"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment
Macbook Pro (M1)
React App
Word Addin

## Expected behavior
When a user uses the backspace key, it does

[2022-05-27 20:02] nancy-wang commented on #2630
thanks for the question @markdon! Tagging @exextoc who may be able to help out here.

[2022-05-27 21:54] nancy-wang commented on #2604
Thanks for raising this issue with our team @cwil423! Tagging @grangeryy who may be able to help out here.

[2022-05-28 05:00] ghost commented on #2588
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-05-28 05:00] #2588 closed, assigned to exextoc

[2022-05-28 12:00] ghost commented on #2592
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-29 09:00] ghost commented on #2593
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-29 09:00] ghost commented on #2587
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-30 01:36] echowwl commented on #2592
The same is the case when I test it on the new UI.
![image](https://user-images.githubusercontent.com/105787768/170901886-c47e6ad9-fe41-4129-b8f4-310158635a29.png)

[2022-05-30 09:46] exextoc commented on #2602
Currently, the feature of moveable add-ins is not part of the product. We have fixed task pane add-ins.
We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

Github Label: “Type: produc

[2022-05-30 13:01] stefankuburovic opened #2605 "Word Addin is not loaded from alternate references <we:alternateReferences>"
# Provide required information needed to triage your issue
Loading Word Add-in from the shared folder on filesystem doesn't work from alternate references defined in webextension.xml where that addin is stored if primary reference is not working.

## Your Environment
* Platform: **PC Desktop**
* Host: **Word**
* Office version number: **2108 (Build 14326.20962) Semi Annual Enterprise Channel**
* O

[2022-05-30 13:53] cebrotea opened #2606 "A table in this document has become corrupted error thrown when ".insertOoxml with Replace" a sample text into a content control that has a table"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have created a document which contains 2 content controls:
**tableCC** - which contains a sample table
**textCC** - which contains a sample text

I created a gist that gets the ooXM

[2022-05-30 15:12] exextoc commented on #1924
@cody-lettau Were you able to solve the issue by changing the size of icon?

[2022-05-30 18:00] ghost commented on #2601
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-30 18:00] ghost commented on #2600
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-30 21:42] jasonleehodges commented on #378
Thank you so much for doing this leg work! It really helped me.

[2022-05-31 04:24] sachin161194 commented on #2601
Hi @trigurl ,
Thanks for the suggestion : **_I would refer to the desktop behavior of putting one menu into the context menu, then adding all your buttons into the menu_**

I am not able to group the child element here of the menu ,Group element is not working in the context menu section of manifest.

 Please suggest how to bifurcate into two groups of child inside menu.

Like below horizontal spl

[2022-05-31 04:55] RaviKumar1096 commented on #2573
@timwan10  any update?

[2022-05-31 06:00] ghost commented on #1157
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-31 06:34] sybers commented on #2426
Hello @exextoc, any updates on this? Thanks!

[2022-05-31 06:59] exextoc commented on #2426
Thanks for reporting this issue. It is on our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office : 5825347

[2022-05-31 08:43] exextoc commented on #1874
We are not able to reproduce the bug anymore. Do let us know if it's still reproducible.

[2022-05-31 09:00] Edward-Zhou opened #2607 "How to access the local file worksheet object in officejs"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am trying to access the excel local from Script Lab.

I am able to insert the worksheets from the local excel file by referening [Insert a copy of an existing workbook into the curr

[2022-05-31 09:00] ghost commented on #2598
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-31 10:31] savepong opened #2608 "[PowerPoint API] Unselect the selected TextBox object in PowerPoint slide"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Hi There,

When we need to update content for multiple TextBox objects in the same time, it will update only selected object.
So, We need to unselect the previous updated TextBox.

[2022-05-31 10:49] savepong opened #2609 "[PowerPoint API] Updating the content in multiple objects"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Hi There,

We have create the PowerPoint objects like Text, Table and Chart with our backend data in multiple slides. We want to update the content for all of our created objects.

[2022-05-31 12:00] ghost commented on #2594
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-05-31 12:27] rexweston commented on #2573
@timwan10 - Hi Tim, please help Ravi with this as promptly as you can - this project is very important to me and is considerably overdue at this time.  Anything that can be done to speed up the resolution would be greatly appreciated.  Thank you.

[2022-05-31 14:16] hdwatts commented on #2424
@guliums Hi, any update on this issue? Clients are complaining and having some steps towards a resolution would be much appreciated.

[2022-05-31 14:19] graysenpack commented on #2424
Agreed - it's still happening consistently for us and our customers.

@hdwatts - for us, by having users re-install the Add-in we can get them started again. Here's the instructions we send out for now:

1. Open a Word document
2. In the _Insert_ ribbon tab, open "My Add-ins"
3. Double click our Add-in
4. The Add-in should be readded to your Word ribbon

[2022-05-31 16:47] cwil423 commented on #2604
I've disabled this in most cases by adding
`<script>
      window.onkeydown = function(e) {
        if (e.keyCode == 8 && e.target == document.body)
          e.preventDefault();
      }
    </script>`
But the issue still persists when selecting from a dropdown.
I've tried to console.log(e) when hitting backspace after opening the dropdown but nothing gets logged.

[2022-05-31 19:11] timwan10 commented on #2573
I'm not sure I have more to suggest here.

The msosdfsb.exe crash is bad, but outside my area of expertise. Is that reproducible when you don't attach the debugger? It may be that webview2 should be uninstalled/reinstalled to see if it helps fix it.

As mentioned the WEF folder is only relevant in that it contains the bundle.js that is downloaded from your webserver. You can check it at:

C:\Users

[2022-05-31 19:43] timwan10 commented on #2557
The Profile / OST solutions would only work for that PC (if they work at all). I think maybe there maybe multiple issues here that have a similar result. It would be interesting to know if creating a new profile or deleting the OST helped mitigate the problem for this user.

However, problems in OWA / OfficeOnline, would not be covered by this, and likely points to a server issue. Are there a cert

[2022-05-31 19:45] rexweston commented on #2573
Thanks Tim.  Ravi, I hope this helps - I really need to get this project finished soon.  Thank you.

[2022-06-01 08:18] gordianberger commented on #1759
We have the same issue. The add-in is only missing in the desktop version but the user do meet the office requirements. Any updates on this?

[2022-06-01 09:05] georgechr commented on #2459
THis is causing serious issues for us. Is there an ETA on the fix?

[2022-06-01 09:08] exextoc commented on #2592
@echowwl Are you using any add-in in the outlook app?

[2022-06-01 09:43] hengchengfei commented on #1847
<img width="586" alt="1" src="https://user-images.githubusercontent.com/3182964/171375882-794b99ff-3e6e-405e-b9dd-3b116756efd8.png">
<img width="768" alt="2" src="https://user-images.githubusercontent.com/3182964/171376052-b034749b-c9e3-4114-8f9a-82baedc738f5.png">

[2022-06-01 10:00] SWei1234 commented on #2593
Hi @exextoc
    Any update? Or anything else I can provide for you?
Thanks

[2022-06-01 10:30] exextoc commented on #2593
@SWei1234 Could you please attach a recording for the issue? Thanks.

[2022-06-01 11:00] ghost commented on #2587
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-01 11:00] #2587 closed, assigned to exextoc

[2022-06-01 11:58] Lucius-LaFromboise-Enterprises-LLC commented on #1866
Hello,

I am having this same issue. I've been looking around at many other threads with this same issue and it seems like everyone is able to solve it or it just works suddenly. Would you please share the arrow function that you originally used and what you replaced it with? I would like to compare them with what I am using.

Thank you

[2022-06-01 12:42] RaviKumar1096 commented on #2573
@timwan10 yes, when I don't attach the debugger the msosdfsb.exe error won't come, and can you please tell me how can I uninstall/reinstall the webview2. I didn't get webview2 and I am sure that there is no error in my bundle.js because the code in both launchevent.js(which is for handling the event for the desktop version )and bundle.js are the same and while running code the server won't throw a

[2022-06-01 14:07] glr0221 opened #2634 "What is the account type for Hybrid Exchange Servers?"
In your document, there is a list of account values and a description for each.
Just to confirm, Hybrid Exchange Servers are classified as 'office365'?
Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4058c33c-f16c-fcad-1c4c-38efe69a06a5
* Version Independent ID: 39937c7a-37f8-32a3-6db5-bf7c6d5c0c00
* Content:

[2022-06-01 16:49] johnrussellmoore commented on #2250
Ah, just spent a whole day on this thinking I was going mad! Exact same problem - please let me know of a workaround!

[2022-06-02 03:25] stenly311 commented on #1157
Thanks @guliums . Looking forward to hearing from you on the ticket update.

[2022-06-02 05:28] exextoc commented on #1442
Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue in the short term as this is by design. Please wait for save as draft feature or you can create a new [Tech Community](http://aka.ms/M365dev-suggestions) item, this will give us visibility of the commonality of it and will help with our prioritization. If we end up working on this issue we will

[2022-06-02 05:35] exextoc commented on #2250
Thanks for reporting this issue regarding on send pop-up. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2453181

[2022-06-02 13:21] rexweston commented on #2573
@timwan10 Hi Tim - please help Ravi with this as soon as possible.  He's very close to the completion of an important project for me that many people are waiting on, and this is the only thing that is holding him up.  Thank you.

[2022-06-02 17:04] mattgeim commented on #2609
Hello,

Is this a request for a new API?  Or a question on existing APIs?  https://docs.microsoft.com/en-us/javascript/api/powerpoint?view=powerpoint-js-1.1  is our API documentation page, for reference.

Thanks!

[2022-06-02 17:06] mattgeim commented on #2608
Hello,

Is this a request for a new API feature?  Or a question on existing API functionality?  https://docs.microsoft.com/en-us/javascript/api/powerpoint?view=powerpoint-js-1.1  is our API documentation page, for reference.

Thanks!

[2022-06-02 17:32] gagliu commented on #773
Experiencing the same issue

[2022-06-02 18:16] timwan10 commented on #2573
https://developer.microsoft.com/en-us/microsoft-edge/webview2/

I believe any function you want to call must be in the launchEvent.js file.

Keep in mind that if there may be runtime JS errors that you are hitting that could cause issues. I'm still confused as to your problem. the OnMessageSend event is working when the debugger is not attached? So do you just need to attach the debugger to test/v

[2022-06-02 19:14] h1ckman commented on #1874
Still happens for us.

From: Outlook Add-ins Team - MSFT ***@***.***>
Sent: Tuesday, May 31, 2022 3:43 AM
To: OfficeDev/office-js ***@***.***>
Cc: Brian Hickman ***@***.***>; Comment ***@***.***>
Subject: Re: [OfficeDev/office-js] Outlook on-send Add-In popup a dialog in OWA but not in Desktop (#1874)

Caution: This email originated outside of the Physicians Mutual organization. Do not click on li

[2022-06-02 19:20] jtrueblood-anaqua commented on #1491
This is a pretty big gap for us as well. The functionality is available in VSTO, but completely missing from web-based add-ins.

[2022-06-02 20:00] ghost commented on #2600
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-02 20:00] #2600 closed, assigned to nobody

[2022-06-02 23:50] samantharamon commented on #2634
Hi @glr0221,

Thank you for your post. The accountType property value returned for user mailboxes in a hybrid Exchange environment will depend on where the mailbox is. If the mailbox is on the on-prem server, the accountType value returned is 'enterprise'. On the other hand, if the mailbox is on Exchange Online, the accountType value returned is 'office365'.

I've created an internal backlog item

[2022-06-03 00:49] glr0221 commented on #2634
Thank you @samantharamon

As a follow up, do hybrid exchange servers having their mailbox on-prem support the REST-ful APIs? Or just Exchange Web Services   (EWS) API?

I was intending to use the 'accountType'  as criterion to determine whether an environment supports REST/GRAPH. If accountType is 'enterprise' then I would just force my app to use Exchange.  Or is this a flawed logic?

Thanks.

[2022-06-03 02:41] david-ps opened #2610 "Sharing Excel Workbooks dependent on Add-ins will likely cause irrecoverable corruption"
# Issue Summary
This is a critical Issue when sharing Excel Workbooks dependent on Add-ins.

If an Excel Workbook dependent on a Add-in, is shared with a user who is not prompted to install the Add-in, and/or the Add-in does not Auto-open, and that user makes changes to the workbook data, the workbook may be irrecoverably corrupted.

## Your Environment
* Platform:  Windows PC
* Host: Excel MS365

[2022-06-03 02:58] savepong commented on #2608
Hi @mattgeim, I requested for a new API feature. It doesn't have in PowerPoint API 1.1 as your mentioned above.

[2022-06-03 02:59] savepong commented on #2609
Hi @mattgeim, I requested for a new API feature. It doesn't have in PowerPoint API 1.1 as your mentioned above.

[2022-06-03 07:02] geniuslionel commented on #773
Hi @exextoc. I'm guessing this issue came back since you "closed this as completed on Jan 5, 2020". Any ETC would be nice so we can let our customers know.

[2022-06-03 08:42] msoq opened #2611 "Using a different set of icons in the ribbon menu for the light/dark theme in the MS Word desktop version."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Dear Office-js team, our department is working on creating a Word add-in and would like to change a color of the icons used in the ribbon menu for different Word themes.
Our designer

[2022-06-03 11:00] ghost commented on #2598
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-03 11:00] #2598 closed, assigned to JHJ-MS

[2022-06-03 12:00] ghost commented on #2602
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-03 14:00] ghost commented on #2594
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-03 14:00] #2594 closed, assigned to guliums, JHJ-MS

[2022-06-03 17:29] samantharamon commented on #2630
Hi @markdon,

Thank you for your post. I understand that you're currently in conversation with the feature crew about this via email. I'm working with them to determine any documentation updates needed.

[2022-06-03 18:00] ghost commented on #1924
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-03 18:29] samantharamon commented on #2634
Because the ability to use REST APIs in hybrid deployments will no longer be supported in March 2023 (see [Use REST APIs to access mailboxes in Exchange hybrid deployments (deprecated)](https://docs.microsoft.com/en-us/graph/hybrid-rest-support)), it is recommended to use Microsoft Graph to work with mailboxes that live on Exchange Online and use EWS for those that are on an on-prem server. With t

[2022-06-03 19:43] trigurl commented on #2611
Hello, thank you for this feedback.  The timing is of your question is great as we are actively working on the ability to make add-in icons look better on various themes.  Icons that are native to the application have different behaviors as you have noticed.
We are brainstorming through some ideas right now.  I see that you hire your own designer to help you with your add-ins icons, so you had pla

[2022-06-04 01:01] mattgeim commented on #2605
Thanks for bringing this up, apologies on not responding sooner. After investigating it is not supported to use alternate references for the scenario described. If this is something that you'd like to see implemented in the future, please feel free to open a request on https://aka.ms/m365dev-suggestions.

Please reopen this issue if you have additional information or you think it was closed in err

[2022-06-04 01:01] #2605 closed, assigned to nobody

[2022-06-04 04:02] hxltinh opened #2612 "Base64 image insertion on Word - iOS - iPad fails"
# iPad bug: Base64 image insertion does not work

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ___IOS___
* Host [Excel, Word, PowerPoint, etc.]: ___Word___
* Office version number: ___2.61(22050401)___

## Expected behavior
Image Insertion should work

## Current behavior
Insert Base64 image by using code below fails, it only show blank ContentControl:
[code]

## Step

[2022-06-05 12:01] ghost commented on #2593
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-05 12:01] ghost commented on #2592
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-06 04:30] exextoc commented on #773
We have this in our backlog and we are planning to take this up soon and will keep you posted on the progress.
Internal Tracking ID: 58210

[2022-06-06 05:32] JinghuiMS commented on #2607
https://docs.microsoft.com/en-us/javascript/api/excel/excel.insertworksheetoptions?view=excel-js-preview#excel-excel-insertworksheetoptions-sheetnamestoinsert-member
![image](https://user-images.githubusercontent.com/56814588/172100689-630b4eab-173b-4c9e-a953-9748b48f7160.png)
You can write specific sheetname. If no, all the worksheets from the source workbook are inserted by default.

[2022-06-06 06:00] markdon commented on #2630
@samantharamon That conversation is related to a different feature, which is to show a "Join" button when meetings from my add-in are detected: https://github.com/OfficeDev/office-js-docs-pr/issues/3263

The feature that I'm interested in here allows an add-in to replace Teams as the default meeting provider in Mac/Windows/Web Outlook clients. It has currently been enabled for Zoom, WebEx, BlueJea

[2022-06-06 06:01] ghost commented on #1157
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-06 07:28] cebrotea commented on #2606
anyone looking into this, any updates ?

[2022-06-06 07:31] stefankuburovic commented on #2605
Hey Matt,

thanks for your answer. I have a question still... Is this behavior documented somewhere, if so can you please provide a link, if not what is purpose of alternate references if they are not being used?

Thanks in advance.

[2022-06-06 07:48] Edward-Zhou commented on #2607
I need to read the content of the local workbook instead of inserting the worksheets to my current workbook.

[2022-06-06 08:01] msoq commented on #2611
Hi Angela, thanks for your prompt answer!
We are looking for any working way to support different themes. If we need to prepare a different set of icons with inversed colors only for the dark theme, but this solves the problem - our team will gladly do it.
If there are other options (or workarounds) that would equally support all the themes Word has at the moment - we will happily accept any of th

[2022-06-06 09:32] SWei1234 commented on #2593
@exextoc
Sure. But can I share this with you by an email? It's will be hard for me share a recording on github...
Can you provide me a temp email address?
Thanks

[2022-06-06 11:52] JHJ-MS commented on #2610
Thanks for reporting this issue. May I know does it occurs on Excel Online or Excel Desktop?

[2022-06-06 12:01] ghost commented on #1442
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-06 12:42] glr0221 commented on #2634
Thank you for the answers @samantharamon.
They are very much appreciated.

First, I understand the part that the logic will work once REST is deprecated on March 2023.
However, as of this time, where REST works with hybrid, what is the best way to determine if the environment FULLY supports REST?  Is checking for Mailbox 1.6 support good enough?

Moreover, I am in the opinion that the REST APIs wi

[2022-06-06 13:12] david-ps commented on #2610
The issue was identified on Desktop but logically it must be same Online.

[2022-06-06 13:39] RaviKumar1096 commented on #2573
hey @timwan10  yes my onMessageSend event is working (means the triggered function that is working but I need to verify a few things in that function because the output that I am expecting is not coming as expected.

setubject is the function that is triggered when event fires and in this function getAllRecipients is the function that I think isn't working as expected

[code]

[2022-06-06 14:01] ghost commented on #2602
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-06 14:01] #2602 closed, assigned to nobody

[2022-06-06 14:47] cebrotea opened #2613 "Word Addin content is blocked because it isn't signed by a valid certificate when being IIS hosted in a website having a (*) wildcard certificate."
Word addin not loading when is hosted in a website that has a wildcard certificate **( Issued to: *.domain.com)**
Changing the website certificate to a named certificate **(Issued to: machineName.domain.com)** fixes the problem.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: WORD
* Office version number: 2108 (Microsoft Word f

[2022-06-06 15:03] fmcgough commented on #2557
Have done a bit more digging into the data, and it does seem like there are a number of different scenarios here, which unfortunately don't appear to be specific to any particular platform.

On Mac, we have error reports from 3 different users:
- For the first user, the conversation IDs reported return no results from the API, but the message IDs can be used to retrieve a message from the server.

[2022-06-06 15:50] bfsjmoore commented on #2250
I'm sorry for my ignorance by could you clarify how/where I should be reporting this error? I am just developing an Outlook addin, not using any code downloaded from Github. I found this page through an internet search. Where is the official place to report Office Addin bugs? Thanks.

[2022-06-06 17:34] samantharamon commented on #2630
Thanks for the clarification, @markdon. I've raised this with the feature crew, so that they could also address this.

[2022-06-06 19:28] timwan10 commented on #2573
this line seems off: CheckDOmain.push(getAllCC(toRecipients));//null//true//false

getAllCC returns a promise. You need to get the result from the promise after it has finished.

Something like

[code]

Something that may be helpful is installing ScriptLab from the Office Store. And use that to test your JS and making sure it all works from a taskpane before putting it into your ItemSend JS.

Also

[2022-06-06 20:01] ghost commented on #1924
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-06 20:01] #1924 closed, assigned to macOutlookExtensibility

[2022-06-06 21:01] ghost commented on #1874
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-06 22:33] trigurl commented on #2611
Hi Mikalai, currently there is no workaround.  So that is why we are actively working on a design for this.   A quick question, do you like the ability to strictly control every aspect of your icon design?  What if we had the ability to allow add-in developers to specify an icon for different modes?  Like default, dark and light modes?  Maybe even a grey mode?

[2022-06-06 23:22] samantharamon commented on #2634
No worries at all, @glr0221. I'm clarifying your follow-up questions with our feature crew and will let you know once I hear back.

[2022-06-07 01:20] gavinliuc commented on #2539
@LuyiH We have tried this a few days ago. It appreared the same result. Is this kind of protection on purpose to limit to open a latger file?

[2022-06-07 02:22] catmanjan commented on #1075
I think we're encountering a similar issue, any update on this from Microsoft side?

[2022-06-07 03:03] gingerjia commented on #1075
@catmanjan may I know details about your side issue? Detail scenarios and impact also if possible? From our current understanding, it's no impact for referencing the file object. Please let us know if it's a blocker for your side. Thanks very much!

[2022-06-07 03:40] Admiral-Skye commented on #1075
Hi @gingerjia I work with @catmanjan. We are trying to compute a quickxorhash (using [this javascript](https://github.com/ishanarora04/quickxorhash/blob/master/quickxorhash.js) as a basis) from the document bytes within the office.js to generate a thumbprint of the document to detect duplicates without sending the file to the server. This is intended to be a key feature of out task pane functional

[2022-06-07 04:54] LuyiH commented on #2539
Hi, @ononder  would you please help a check on this?

[2022-06-07 05:13] LuyiH commented on #2595
Hi @theboyknowsclass can you help tell us the latest native PPT version that worked as you know.

[2022-06-07 05:23] xuruiyao-msft commented on #2606
@cebrotea
Thanks for reporting . We have created an internal work item 6115670 on it. We will keep track of this issue and let you know if there are any updates.

[2022-06-07 05:37] sahil1504001 opened #2614 "Manifest not getting loaded on "Upload My Add-In""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Manifest not getting loaded on "Upload My Add-In" for my organization tenant account

I logged in to office.com using my organization's tenant and for one of the accounts I'm able t

[2022-06-07 06:26] andreipaun commented on #2605
Hi @mattgeim,

As Stefan was asking, we are curious to know what is the purpose of alternate references and how we can use them.

[2022-06-07 06:40] sahil1504001 commented on #2614
https://user-images.githubusercontent.com/79520782/172312886-0631e5ee-4f7d-4b61-826e-a8103e852160.mp4

[2022-06-07 06:41] sahil1504001 commented on #2614
[manifest.zip](https://github.com/OfficeDev/office-js/files/8850727/manifest.zip)

[2022-06-07 06:51] exextoc commented on #1874
@icrm-eugenepr @h1ckman For on-premise issue, please create a separate issue with sample manifest.
@GarryLowther We are no longer able to reproduce this issue with the manifest that you provided. Could you please share a sample manifest if you are still getting this issue. Please also share a repro video to help us reproduce this locally.

[2022-06-07 08:07] msoq commented on #2611
Angela, it would be nice to leave a default solution that would work for all the themes as it works now, but at the same time if it's possible to introduce a specific attribute to the icon element which will contain a name of the theme and will replace the icon used only in that particular theme, it would be convenient enough to use, something like:
[code]
or
[code]

[2022-06-07 11:01] exextoc commented on #1666
@ngelsi Apologies for missing update on this issue.
As a workaround, users can switch to the [New Outlook for Mac](https://support.microsoft.com/en-gb/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439?ui=en-us&rs=en-gb&ad=gb) experience which works as expected. We are not prioritizing this fix on classic Mac UI; please reopen the issue in case the workaround does not solve your s

[2022-06-07 11:28] vbachu-rsi opened #2615 "Word add-in throwing error for insertOoxml. How to divide the large payload and insert ?"
This bug seems to be still alive and well. Tested on Word For Mac Version 16.32 (19120802).

The same code can replace OOXML just fine with small payloads, but when the size of the OOXML payload becomes big enough it starts failing with `GeneralException: RichApi.Error`.

What's the status of this? Any fix in sight?

_Originally posted by @fiddler in https://github.com/OfficeDev/office-js/issues/6

[2022-06-07 13:31] cebrotea opened #2616 "Word: Taskpane dockstate="left" is not preserved when reopening a document that was saved having also a taskpane on the right side from the same addin"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
I created a word document which should embed and display on the left side a taskpane from an word js Addin at document open.

[2022-06-07 14:12] VictorJDX opened #2617 "Add-in failed to install or load custom functions"
# Excel office add-in failed to load custom functions on the browser (Excel Web) after downloading from the Microsoft store (Production version). The error message showed by Excel Web "_one or more add-ins failed to install or load custom functions. Error installing functions._"

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, Power

[2022-06-07 15:22] t-ariyoshi30907 opened #2618 "Outlook javascript add-in does not run when email is encrypted"
I'm providing an add-in in Outlook on the Web, but I'm seeing unexpected behavior when I encrypt my email.

Details are described below.

■Expected behavior

The result dialog is displayed when the "displayDialogAsync" method is executed.

■Current behavior

The result dialog is not displayed even though the "displayDialogAsync" method is executed,and an email was sent.

■Steps to reproduce

1) Do

[2022-06-07 15:43] DunkTracker opened #2619 "Missing Scope for Outlook shared folder when trying to send mail using Outlook REST API"
Trying to Send Outlook Shared Draft Mail item via REST API is failing.

## Your Environment

* Platform : PC desktop
* Host: Outlook
* Outlook version number: 16.0.15225.20204
* Operating System: Windows 10

## Expected behavior

Expected to be able to pass a Bearer token to be able to send the draft which has been created and updated with an attachment in the Outlook add-in

## Current behavior
W

[2022-06-07 15:46] peronald commented on #2629
@exextoc can you follow up here?

[2022-06-07 21:01] trigurl commented on #2611
Our team has discussed auto recoloring as an option in order to have just one icon.  Office doesn't restrict the colors on developer icons, so recoloring might not work for every add-in (some developers don't like it when we change the branding of their icon).

[2022-06-08 04:49] LuyiH commented on #2614
Hi, I tried the manifest you attached, and it doesn't work for me also.
It should not relate to the account, can you confirm that the same manifest can work with other accounts?

[2022-06-08 04:56] sahil1504001 commented on #2614
@LuyiH - It's the same manifest, If you want I can provide the recording for the working account as well.

[2022-06-08 05:11] LuyiH commented on #2614
Please help with this, thanks

[2022-06-08 05:22] JinghuiMS commented on #2607
After you specific sheetname, calling reader.readAsDataURL(myFile.files[0]); should meet your needs.

[2022-06-08 05:30] sahil1504001 commented on #2614
@LuyiH - it would insert a button at the end of the current selected Tab. Ex. Home or Insert

[2022-06-08 05:31] sahil1504001 commented on #2614
This manifest is generated using yo office generator.

[2022-06-08 05:33] LuyiH commented on #2614
Thanks. I had tried the manifest, it doesn't work for me. I mean the recording with the account that works with this manifest

[2022-06-08 05:43] sahil1504001 commented on #2614
https://user-images.githubusercontent.com/79520782/172540468-7938b30d-6b42-484d-9767-89e37dc773e5.mp4

[2022-06-08 05:44] sahil1504001 commented on #2614
@LuyiH - Please find the recording attached.

[2022-06-08 05:51] neville-jones opened #2621 "EquivalentAddin element in manifest not removing Office Add-in UI from ribbon bar in Word or Excel on Windows"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform: PC desktop
* Host: Excel and Word
* Office version number: 2203 (Build 15028.20248 Click-t

[2022-06-08 08:57] exextoc commented on #2593
@SWei1234 Please use email: OutlookAddins@M365x693897.onmicrosoft.com

[2022-06-08 13:59] alok0914 commented on #2614
@LuyiH Can you please look into the issue, why this is happening its needed on urgent basis

[2022-06-08 14:01] ghost commented on #2592
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-08 14:01] #2592 closed, assigned to nobody

[2022-06-08 16:01] osvath58 opened #2622 "Disable events and calculation in Office Add-in does not disable them in VBA"
# We encountered a problem when we turn off events and calculations in Excel with Office Add-in, where VBA still handles events. It looks like turning off events in VBA or Office Add-in does not do it at the Excel application level but only at the Office Add-in or VBA level.

## Your Environment
* PC desktop
* Excel
* Version 2102 (Build 13801.20960 Click-to-Run)
* Windows 10

## Expected behavior

[2022-06-08 17:02] vbachu-rsi opened #2623 "How to insert Header and footer data with insertooxml"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have open xml string file, which has Body data, Header data and Footer data. I am trying to insert data with

[code]

In both cases body data only inserting but not Header and foote

[2022-06-08 17:02] #2615 closed, assigned to grangeryy

[2022-06-08 17:03] vbachu-rsi commented on #2615
I used JSON.parse() and it worked

ex:
  context.document.body.insertOoxml(JSON.parse(base64ToString), "Start");

[2022-06-09 03:30] penglongzhaochina commented on #2483
Thanks for reporting, I just tried copy/paste the paragraph from rich client to word online directly. it also can't show correctly as well. so that's an issue of word online and expected behavior for API.Pls contact online team by feedback to report this issue.

[2022-06-09 05:37] grangeryy commented on #2578
Hey @Edward-Zhou, the Custom Function doesn't support this. We suggest you to [Microsoft 365 Developer Platform - Microsoft Tech Community](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) so this could be tracked more easily.

[2022-06-09 05:37] #2578 closed, assigned to grangeryy

[2022-06-09 05:48] ppagadala commented on #2614
@LuyiH Facing same issue. Could you expedite this issue as it is blocker for us?.

[2022-06-09 05:49] ibratnawaz commented on #2614
@LuyiH I'm also facing the same issue.

[2022-06-09 06:25] alok0914 commented on #2614
@LuyiH Same issue for the whole of my team of round 15 people.

[2022-06-09 07:42] jipyua commented on #2623
Hi vbachu,

Document.body.insertOoxml() means inserting the content into the main body of the document, so the header/footer data will not be inserted. It’s correct that you need to call the following code in order to insert something into header/footer.

var myFooter = mySections.items[0].getFooter(Word.HeaderFooterType.primary);
myFooter.insertOoxml(WORD_DATA, Word.InsertLocation.end);

But befo

[2022-06-09 07:51] crestbala opened #2624 "The Word API is throwing an error as "RichApi.Error: ItemNotFound" when try to get the ranges."
Have been trying to retrieve ranges from the paragraph ranges by a paragraph index, a range start & end index and using the "expandTo" method to generate a range, but when run a function, it is throwing an error "Uncaught RichApi.Error: ItemNotFound".

## Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version numbe

[2022-06-09 08:01] ghost commented on #1157
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-09 08:01] #1157 closed, assigned to guliums

[2022-06-09 09:14] vbachu-rsi commented on #2623
Hi jipyua,

Thank you for throwing some light on my issue. But my problem not solved. Please guide me where am I doing wrong

` Office.context.document.setSelectedDataAsync(WORD_DATA,{coercionType:Office.CoercionType.Ooxml})`

[code]
headerOOXML has signature or representation of Header XML which does not have data which was in WORD_DATA. How to extract header/footer data

[2022-06-09 09:38] barisbikmaz commented on #2483
@penglongzhaochina I can't reproduce what you said.

![Copy Word Styles2](https://user-images.githubusercontent.com/6338132/172818042-769f4766-09ab-4b6a-8889-55c9ba71fad5.gif)

[2022-06-09 09:47] gingerjia commented on #2622
@osvath58 Thanks for reporting the issue! Currently it's by design that Excel JS API event handle is separated from VBA event handle, which means we cannot turn off VBA event by JS API. :(
If it's a block for your side, may you help to create a request at https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform? Thanks!

[2022-06-09 12:20] rajeshgaur23 opened #2625 "Excel: While loading an excel template using a base64 string using insertWorksheetsFromBase64 method, Worksheet.activate() method throwing General Exception"
# Provide required information needed to triage your issue
We are using the office.js' `insertWorksheetsFromBase64` method to load our excel template files on the fly. this template has multiple sheets and we are trying to activate the first sheet using `worksheet.activate()` method.

After downloading and installing the add-in when we try to use load an excel base64 files using this method the fi

[2022-06-09 14:01] ghost commented on #1442
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-09 14:01] #1442 closed, assigned to exextoc

[2022-06-09 23:46] Wenjun-Gong commented on #2614
@shaofengzhu , any manifest expert can help on this?

[2022-06-10 00:39] Adrian-MSFT commented on #2447
Hi @ehmPlankje  - regarding the Addin not showing in read mode:

We investigated this issue. As it turns out there is a space in one of the button Ids in the module.

[code]

These ids are used to generate buttons in the ribbon, and unfortunately they do no support spaces. Ideally this would be rejected at the install level, but this will not be fixed at this time.

The workaround is to eliminate

[2022-06-10 05:03] Edward-Zhou commented on #2607
@JinghuiMS  Have you tested your suggestion? I need to read specific worksheet? What is meaning by `myFile.files[0]`?

And I don't want to insert worksheet, I just want to read the content.

What do you mean by `After you specific sheetname`

[2022-06-10 05:10] hxltinh commented on #2612
it is duplicate with: [[Vendor Issue 11973](https://dev.azure.com/officeatwork/web-addins/_workitems/edit/11973): Could not reference images from input fields in HTML placeholders]([Vendor Issue 11973](https://dev.azure.com/officeatwork/web-addins/_workitems/edit/11973): Could not reference images from input fields in HTML placeholders) so I will close it

[2022-06-10 05:10] #2612 closed, assigned to nobody

[2022-06-10 05:11] hxltinh commented on #2612
it is duplicate with [https://github.com/OfficeDev/office-js/issues/2144](https://github.com/OfficeDev/office-js/issues/2144)

[2022-06-10 08:48] ambachtelijk commented on #2447
Hi @Adrian-MSFT,

Thank you so much for your effort and feedback. We completely overlooked this small syntax error. After removing the whitespace from the element, the Manifest file is working again as intended.

You've made our users very happy that they can now use our add-on to its fullest extend!

This issue has now been resolved and can be closed.

[2022-06-10 10:09] exextoc commented on #2618
Add-ins are not activated if the current message item, in a compose or read form, is encrypted. Please refer to the documentation for details.
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-add-ins-overview?view=common-js-preview#mailbox-items-available-to-add-ins

[2022-06-10 11:16] RaviKumar1096 commented on #2573
hey @timwan10 ,  do you tag some helpful links around ScriptLab (how to test js using that)? and also can I call an API from launchevent.js

[2022-06-10 11:29] jipyua commented on #2595
hi there, this is a known issue that for latest APIs such as presentation.slides.id we want to use a unique one with the # part. But there are some integration issues so far with old APIs. For short-term mitigation, would you please try to trim the part after ‘#’ and pass that to goToSlideById?

[2022-06-10 11:35] jipyua commented on #2623
hi,

I am not sure how WORD_DATA is generated, but would you please give some snapshots of what data in the header not shown inside headerOOXML?

[2022-06-10 13:28] vbachu-rsi commented on #2623
WORD_DATA is a OpenXML file which holds body, header and footer data like this

![image](https://user-images.githubusercontent.com/93675161/173071228-f67c402f-d8c6-434e-99f9-c331e4f4f0eb.png)

`
Office.context.document.setSelectedDataAsync(WORD_DATA,{coercionType:Office.CoercionType.Ooxml})
`

By this I am able to load body data perfectly

but in header and footer also same data is loading like th

[2022-06-10 15:52] m-pd commented on #1400
@exextoc Still seeing empty `itemId` - Outlook for Mac Version 16.61.

This is only occurring on our hybrid exchange. The problem doesn't occur on our 365 exchange.

Using our diagnostics tool we see this info for the hybrid exchange:

![image](https://user-images.githubusercontent.com/48472967/173105915-ff3621f0-1080-4fec-b79d-db9b9d5a261e.png)

and for the 365 exchange we see this:

![image](htt

[2022-06-10 19:08] ndeleuze commented on #2619
Thank you for reporting this issue regarding shared folder permissions. We can reproduce this on our end and are investigating the issue. We will circle back to this as soon as we can.

[2022-06-10 19:19] lynneosmith opened #2631 "goToByIdAsync with Office.Index.Last leaves two slides selected on PowerPoint web in Chrome"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When using the goToByIdAsync(Office.Index.Last, Office.GoToType.Index ... function on Powerpoint web, it incorrectly leaves two slides selected, which is different from the behavior o

[2022-06-10 19:45] samantharamon commented on #2632
Hi @jeff1haupt,

I just wanted to follow up on this issue you opened and whether you are still getting an error when you load the manifest using the URL.

[2022-06-10 21:05] pkkj commented on #2621
Hi @neville-jones , would you like to provide more information (like screenshot or even a sample manifest) for this issue? Thanks.

[2022-06-10 21:42] timwan10 commented on #2573
Script lab has some built in samples you can access and work off of:

![image](https://user-images.githubusercontent.com/17890744/173154659-079ab931-6761-4449-9311-718ea6344747.png)

You cannot call functions from LaunchEvent.js. The idea is that you can use script lab to quickly test code, and get the syntax right. (i.e. I copy pasted your code that you provided, and put it in script lab to quick

[2022-06-10 23:31] samantharamon commented on #2634
Hi @glr0221,

I've updated our documentation on account type values for hybrid Exchange environments in [PR #60764](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/60764). I'm still working with the team on getting answers to your queries.

[2022-06-11 09:01] ghost commented on #1874
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-11 12:01] ghost commented on #1666
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-11 14:14] ksdaniel opened #2635 "SupportsPinning for outlook taskpane addins not working on Outlook for Mac"
# Provide required information needed to triage your issue

When deploying a taskpane addin that implements the SupportPinning property, "New Outlook for Mac" will not display the pinning option.

The same solution on Outlook for Windows or the "Old Outlook for Mac" displays the expected pinning option.

## Your Environment

System Version:	macOS 12.4 (21F79)
Kernel Version:	Darwin 21.5.0
Outlook

[2022-06-12 03:01] ghost commented on #2606
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-12 03:04] t-ariyoshi30907 commented on #2618
@exextoc
thanks for your reply.
The document you shared has the following description. What does this mean?

I want to use OME and add-ins together.

If I work with the following documents, can I use them together?

■Document url
https://docs.microsoft.com/ja-jp/microsoft-365/compliance/set-up-new-message-encryption-capabilities?view=o365-worldwide

[2022-06-12 05:40] cebrotea commented on #2606
Thank you!

[2022-06-12 09:01] ghost commented on #2593
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-12 13:14] gingerjia commented on #1075
@Admiral-Skye Thanks very much for the detail info! Sorry that getFileAsync may not meet your current request since each time to call it at Desktop Office will generate entire document file newly and the "ModifyDate" will be different for each call.
<xmp:CreatorTool>Microsoft Excel</xmp:CreatorTool><xmp:CreateDate>2022-01-16T23:53:21-08:00</xmp:CreateDate><xmp:ModifyDate>2022-01-16T23:53:21-08:00<

[2022-06-13 01:14] jipyua commented on #2623
hi, As said earlier, you need to prepare a separate headerooxml by calling header.getFirst().getHeader('Primary').getOoxml(); from a template file which contains the header data/format you'd like to insert to other files' header/footer and then call header.getFirst().getHeader('Primary').insertOoxml() with the headerooxml in a target file.

[2022-06-13 03:05] penglongzhaochina commented on #2483
Hi, @barisbikmaz ,  follow this step. 1. run the script insert html in the word(not online). 2. Copy the inserted html from rich client word to word online.  3. check the style.   The first picture is in the rich client. The second picture is in the word online.
![image](https://user-images.githubusercontent.com/106959323/173272198-cbb26396-fcdb-4687-9914-e9197fc0083f.png)

--------
![image](https

[2022-06-13 05:19] sahil1504001 commented on #2614
Hello @LuyiH @Wenjun-Gong  @shaofengzhu,

Any updates on the issue?

[2022-06-13 06:31] LuyiH commented on #2614
Hi @sahil1504001 we are locating and analyzing the issues and will back to share update once we have it

[2022-06-13 07:16] JinghuiMS commented on #2607
Sorry for that. After I went through API document, we don't have such api now. I'd recommend going to [Microsoft 365 Developer Platform Ideas Forum](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) and see if this feature has already been requested or request a new feature.
We track Office Add-in feature requests on our [Microsoft 365 Dev

[2022-06-13 08:52] sahil1504001 commented on #2614
Thank you @LuyiH

[2022-06-13 10:05] exextoc commented on #2632
Hey @jeff1haupt,

Is your manifest enclosed in any <xml> or Doctype tag? Your manifest should have `<OfficeApp>` as the root element and nothing outside this element.

[2022-06-13 11:39] 4tti commented on #1608
Added https://feedbackportal.microsoft.com/feedback/idea/0f5caa5a-32e7-ec11-a81b-000d3a00c008

[2022-06-13 11:40] 4tti commented on #2543
added https://feedbackportal.microsoft.com/feedback/idea/0f5caa5a-32e7-ec11-a81b-000d3a00c008

[2022-06-13 11:48] Schaffora commented on #2569
@exextoc Hello, do you have any news about this topic ?
Thank you, Best Regards, Raphy

[2022-06-13 12:01] Schaffora opened #2636 "Office.Recipients (interface) getAsync returns empty instead of mail adresses"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The "getAsync" function of the office recipient interface returns an empty result even if adresses has been added to the to/cc/bcc field.

When you enter a email address in the to / c

[2022-06-13 13:15] theboyknowsclass commented on #2595
That is what we are doing, is there a bug we can track for the fix so we can adjust our code accordingly?

[2022-06-13 18:11] milankonir opened #2637 "Outlook: Body html markup missing anchors in ItemSend"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outl

[2022-06-13 19:23] wh1t3cAt1k commented on #2222
Hi @grangeryy @yaweizhu-henson @RuizhiSunMS , any update on this? Pretty critical issue for us and a dealbreaker for the customers.

[2022-06-13 22:09] ecargynahteb commented on #402
Hi there, this issue is still happening to one of my clients, although they use Windows, not Mac. Any update on when this will be resolved?

[2022-06-13 22:26] samantharamon commented on #2613
Thank you for reporting this, @cebrotea. @grangeryy, could you please assist with this? Thank you.

[2022-06-14 03:48] neville-jones commented on #2621
(obfuscated) screenshot:

![image002](https://user-images.githubusercontent.com/62081302/173489303-b75875c7-0628-44f3-8b1f-c78ab963d7e4.png)

[2022-06-14 05:58] exextoc commented on #2635
Hi @ksdaniel

We tried this on our end with both new and old outlook in Outlook version 16.63 and were not able to reproduce. I have attached a screenshot of the pinning button in the new outlook. Please share your manifest file, or a video of the reproduction so that we can help you further. Thanks.
<img width="144" alt="image" src="https://user-images.githubusercontent.com/28549921/173503887-f25

[2022-06-14 07:21] tomuGo opened #2638 "hello,I have an asynchronous problem"
i want to insert a picture,and range.insert is error in then();
the error message tell me use context.trackedObjects.add(),and i have no idea to solve
thanks
![image](https://user-images.githubusercontent.com/24789356/173516754-c97be0af-3060-47e0-a6e8-a96e65f2e0a3.png)
![image](https://user-images.githubusercontent.com/24789356/173516820-b39808b1-a269-4dff-b569-840430e4a33a.png)

[2022-06-14 07:30] cebrotea commented on #2613
looks like I will close this one as not reproducible for now. It is reproduced when using self-signed wildcard certificates. Thank you.

[2022-06-14 07:30] #2613 closed, assigned to grangeryy

[2022-06-14 08:24] gingerjia commented on #2625
@raj01104 Thanks very much for reporting the issue. We can repro the issue and opened a bug #6147170 to track it. Our engineer will work on the fix and reply here when have progress. If you have any other questions, feel free to let us know. Thanks!

[2022-06-14 09:16] exextoc commented on #2618
Hey @t-ariyoshi30907 ,

Add-ins support for IRM messages is only limited to those for whom the tenant administrator has enabled the setting "Allow programmatic access" for the users in that tenant. These are not available for Outlook for Live, for instance.

You can find the documentation here: https://docs.microsoft.com/en-us/javascript/api/requirement-sets/outlook/preview-requirement-set/outlook

[2022-06-14 09:17] s4eideh opened #2639 "New line inserted above signature with different font"
There is an issue after inserting the signature into a new Email `setSignatureAsync ` via Office.js API .There is a line above the signature with different formatting (Font Calibri 12)

## Your Environment
Microsoft® Outlook® for Microsoft 365 MSO (Version 2205 Build 16.0.15225.20172) 64-bit
Host:  Outlook for Windows Desktop
Operating System: Windows

## Expected behavior
No extra line should be

[2022-06-14 10:21] RaviKumar1096 commented on #2573
@timwan10  just needs confirmation from your side that we can't call any get/post/update/delete API call from the launch event.js file?

[2022-06-14 11:01] ghost commented on #1874
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-14 11:01] #1874 closed, assigned to exextoc

[2022-06-14 14:01] ghost commented on #1666
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-14 14:01] #1666 closed, assigned to nobody

[2022-06-14 14:17] yaweizhu-henson commented on #2222
hi @wh1t3cAt1k , sorry to keep you waiting this long. I just looked this id #5549594 up in our system, and it shows that this bug was fixed on Mar 21. Maybe it is in the process to be published to production? I'm not sure about that. I will try to contact with the engineer who fixed it and make sure what is really going on. I will comment here if I have anything update.

[2022-06-14 19:33] ssnyder-msft commented on #2614
@sahil1504001 I've identified the problem and I'm working on a fix. Thanks for your patience.

[2022-06-15 01:33] glr0221 commented on #2619
I am having the same issue as well.  I cannot send an email (from my shared mailbox) and receiving a. 403 error.

A. NOT WORKING
The token I am using seems to have the right scopes.

  "deploymentid": "https://outlook.office365.com/",
  "tid": "cf9679c2-6b99-4296-b804-3af7a6d9eede",
  "acr": "1",
  "appidacr": "0",
  "scp": "Mail.ReadWrite Mail.ReadWrite.Shared Mail.Send Calendars.ReadWrite Calend

[2022-06-15 05:59] sahil1504001 commented on #2614
@ssnyder-msft - Ohh great, Thank you soo much!

[2022-06-15 09:04] exextoc commented on #2626
Hey @paulnearney ,

Thank you for raising this request and your patience with the same. We add the Join button functionality for meeting add-ins periodically and are tentatively going to pick this next up by Oct 2022. There is no more inputs needed from your end at the moment and we will keep you posted once this is implemented.

[2022-06-15 11:01] ghost commented on #2593
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-15 11:01] #2593 closed, assigned to exextoc

[2022-06-15 11:03] osvath58 commented on #2348
@RuizhiSunMS  This issues was not resolved by the reporter. It is fixed for @ryanmccall101, who commented on that he was also encountering the problem, but he is not the reporter of the issues, I am.

[2022-06-15 12:55] liamtim commented on #2567
@exextoc Any updates here? Rolling out new Mac UI without support for this is quite a big issue.

[2022-06-15 13:15] ssnyder-msft commented on #2614
As a check can you delete your browser cache and ensure your local storage is completely clear and try again. If that fixes your problem please let me know.

[2022-06-15 14:04] sahil1504001 commented on #2614
Hello @ssnyder-msft - I tried as mentioned, but, still it's not working.

[2022-06-15 14:07] Driss878 commented on #2278
@AkhileshShah-MS we have the issue now the other way around. Why can't we upload a file for update at this time ?

![MicrosoftTeams-image](https://user-images.githubusercontent.com/107562369/173847616-5699523b-06ba-454d-ae0b-d0eab34b6dbd.png)

[2022-06-15 14:12] Hiteshg16 commented on #2614
Hi @ssnyder-msft I have also tried but still same issue

[2022-06-15 14:34] davidchesnut commented on #2348
Hi @osvath58, sorry about that. Can you provide more info related to the original questions? It would help to have more specific reproduceable steps. Like does the error occur when the add-in loads, or when some other action takes place? If you can debug and find the line of code that causes the error that would be super helpful. If you have a video showing what happens that would help as well.

@

[2022-06-15 14:35] JHJ-MS commented on #2222
Thank you @yaweizhu-henson.

Hi @wh1t3cAt1k, our finished fixing works on #5549594 is to remove the response payload limitation to fix the issue on Excel online that the functions return #BUSY when the functions count is large or the functions' parameter is large.

For your issue, I tested a function that returns 10000 rows * 100 cols * 20 characters, it works fine on Win32 for me.
![image](https:

[2022-06-15 15:02] teejay001 opened #2640 "Office.context.mailbox.item.getAttachmentContentAsync fails for attachment with extension ".mht""
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on Web
* Host [Excel, Word, PowerPoint, e

[2022-06-15 16:10] janormanms commented on #2584
We've elected to Won't Fix this issue as the current handling of the query parameters for opening calendar compose does the extra sanitization step for security and that will be prioritized over special character handling

[2022-06-15 16:17] trenoncourt opened #2641 "Is there a way to detect in ItemSend event if the event is a cancellation type"
Hello,
I'm developping an outlook addin js, i want to have different feature based on appointment itemSend type: Different api calls based on the event creation, update and cancel.
I'm able to detect the difference between creation and update while adding a custom property in creation event. But not able to detect difference between update and cancel. I have checked properties of the event type an

[2022-06-15 17:21] ndeleuze commented on #2619
Hi @glr0221, thanks for the input. We've confirmed that the Bearer token we are passing back for this case is missing the `Mail.Send.Shared` scope. This issue has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-06-16 03:41] glr0221 commented on #2619
Thank you. Looking forward to your support.

[2022-06-16 06:53] guliums commented on #2348
Hi @osvath58 do you still hit the issue? If yes could you provide more details using the template, thanks for your support!

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office

[2022-06-16 07:20] t-ariyoshi30907 commented on #2618
@exextoc

Sorry, I couldn't understand the explanation.

If I sign in to an admin account with an "Office 365 E3" license and create a mail flow in Exchange Online, will add-ins be supported?

I will read and work on this document.

■Document url
https://docs.microsoft.com/ja-jp/microsoft-365/compliance/set-up-new-message-encryption-capabilities?view=o365-worldwide

[2022-06-16 07:53] thitiwats opened #2642 "[PowerPoint API] Textbox is display incorrectly when use addTextBox method."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
We are using the PowerPoint API 1.4 `addTextBox` method to add a textbox to slides. when `addTextBox` is successful, the tex

[2022-06-16 08:02] kgeorgiou1234 opened #2643 "Deploy OneNote addin for organization"
OneNote add-in does not seem to be able to be uploaded via admin center or integrated apps for the organization

## Your Environment

- Platform [PC desktop, Mac, iOS, Office on the web]: Office on Web
- Host [Excel, Word, PowerPoint, etc.]: OneNote
- Office version number: 16.0.15325.41001
- Operating System: Windows
- Browser (if using Office on the web): Edge

## Expected behavior
Being able to

[2022-06-16 09:03] JHJ-MS commented on #2610
Hi, @david-ps, sorry for the late response.

Just to confirm, have you tried setting the visibility to "1"? This should help you achieve the behavior you want.
["If visibility is set to "1", the task pane opens automatically the first time the document is opened. The user is prompted to trust the add-in, and when trust is granted, the add-in opens. Thereafter, the add-in task pane opens automatica

[2022-06-16 10:58] david-ps commented on #2610
@JHJ-MS It seems you do not have the correct understanding of the issue and so your latest comment is not relevant.

Here is the posted issue restated to hopefully make it clear:

We need to distribute an Add-in with a workbook where the workbook data is dependent on the Add-in.
Here is the relevant documentation:
"[If you also require the add-in to be distributed with the document you need to set

[2022-06-16 15:59] lynneosmith commented on #2631
Also, not that if I use the index of a slide instead of the enum... like in the following example... the user is left with two slides active as well.
1) Have three slides in presentation. Activate the last slide.
2) Use the following code in ScriptLab:
function getSlideMetadata() {
Office.context.document.goToByIdAsync(1,
Office.GoToType.Index,function(asyncResult) {
if (asyncResult.status === Off

[2022-06-16 16:49] pb-jeff-oneill opened #2644 "Provide helpful info for add-in with .doc file"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When a user opens a .doc file, all the add-in buttons are gray.  No helpful info is provided so the user contacts us for support.  We then inform the user that they need to save their

[2022-06-16 16:55] pb-jeff-oneill opened #2645 ""This add-in could not be started" bug"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We get frequent bug reports where our Word add-in stops working and users see this message in the side panel:

![image](https://user-images.githubusercontent.com/55557751/174124607-f8

[2022-06-16 18:30] mmoloney9966 commented on #422
Been a long time but I have what I hope is a simple question for you regarding this "hostInstallAddIns" mechanism....

Some of our customers use a central "admin-managed" location for webaddins instead of the Microsoft Store.
Will the "hostInstallAddIns" mechanism work for webaddin locations other than the Microsoft Store?

Thanks in advance for any insight/help.

From: Keyur Patel - MSFT ***@***.

[2022-06-16 22:11] samantharamon commented on #2640
Thank you for reporting this, @teejay001. @exextoc, could you please help investigate this?

[2022-06-16 22:30] #2619 closed, assigned to exextoc

[2022-06-17 00:22] samantharamon commented on #2634
Hi @glr0221,

Thank you for your patience.

I was able to verify that checking for Mailbox 1.6 support isn't a good indicator for determining whether an environment fully supports REST because the check only returns the set supported by the client, but not the one supported by the server. Instead, you can use the restUrl property to determine whether a server supports REST (see [Office.context.mai

[2022-06-17 00:55] timwan10 commented on #2573
Get and Post are supported. (via Fetch or XHR) See this page: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch
Under "Requesting External Data"

The documentation isn't updated, but if you are hitting CORs errors make sure you add the "well-known" urls so that it can access this. The format of this JSON/file is here. https://docs.microsoft.com/en-us/office/dev/add-ins/outlook

[2022-06-17 05:03] massonj commented on #2638
Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions about your code. We suggest you go to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html)  and see if your question has already been asked or ask a new question. Thanks, Microsoft 365 Developer Platform team

[2022-06-17 05:07] alok0914 commented on #2614
hi @ssnyder-msft can you please provide some solution to this?

[2022-06-17 06:13] PrashantShrimal commented on #2217
@xiaoyuMS @chiz-ms
Is there any other way to add insert footnote functionality in word desktop add-in using office-js?

[2022-06-17 09:05] danielpdev opened #2646 "Addin loaded in blank presentation"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

I have a problem with an addin being loaded in any blank presentation I open even though it was stopped:

How to reproduce 1:
1. Start a PowerPoint addin with `office-addin-debug

[2022-06-17 09:16] teejay001 opened #2647 "Office.context.mailbox.item.getAttachmentContentAsync fails for "outlook item" attachments"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on Web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.0.15225.20204
* Operating System: Windows
* Browser (if using Office on the web): Chrome

## Expected behavior
Attachment content to be returned for successfully

## Current b

[2022-06-17 09:41] t-ariyoshi30907 opened #2648 ""Office.context.mailbox.item" is "undefined" by certain steps."
I'm providing an add-in in Outlook on the Web, but I'm seeing unexpected behavior when I encrypt my email.

■Expected behavior

"Office.context.mailbox.item" is returned.

■Current behavior

"Office.context.mailbox.item" is not returned.

■Steps to reproduce

1. Download the official sample. 　 　
https://github.com/OfficeDev/Outlook-Add-in-On-Send/blob/master/outlook-add-in-on-send/Contoso%20Messag

[2022-06-17 09:43] danielpdev opened #2649 "Deployment for unpkg.com/browse/@microsoft/office-js@1.1.74/dist/powerpoint-win32-16.01.debug.js is corrupted"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi

I want to make a diff between:
`https://unpkg.com/@microsoft/office-js@1.1.74/dist/powerpoint-win32-16.01.debug.js` and
`https://unpkg.com/@microsoft/office-js@1.1.75-custom.0/dis

[2022-06-17 11:06] exextoc commented on #2627
Hey @suryakiranchikkala ,

Thank you for raising this request and your patience with the same. We add the Join button functionality for meeting add-ins periodically and are tentatively going to pick this next up by Oct 2022. There is no more inputs needed from your end at the moment and we will keep you posted once this is implemented.

[2022-06-17 11:06] exextoc commented on #2628
Thank you for raising this request. We add the Join button functionality for meeting add-ins periodically and are tentatively going to pick this next up by Oct 2022. There is no more inputs needed from your end at the moment and we will keep you posted once this is implemented.

[2022-06-17 11:07] exextoc commented on #2629
Thank you for raising this request. We add the Join button functionality for meeting add-ins periodically and are tentatively going to pick this next up by Oct 2022. There is no more inputs needed from your end at the moment and we will keep you posted once this is implemented.

[2022-06-17 11:13] 4tti commented on #2279
hello, we are facing very similar issue on desktop version (windows, however I guess it will be similar on Mac)
In our case, the performance is depending on the visible area of the page, see the behavior in attached video.

https://user-images.githubusercontent.com/19533927/174286878-8abc5b8d-06de-40bb-91a8-79a8abc69656.mp4

Word version:
![image](https://user-images.githubusercontent.com/19533927

[2022-06-17 11:32] exextoc commented on #2630
Hey @markdon ,

We have reached out to you over email and can continue the conversation there. Is it alright if we close this github thread?

[2022-06-17 11:55] danielpdev opened #2650 "Ribbon api is not supported in Preview APIs for PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

I've read here: `https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/ribbon-api-requirement-sets?view=common-js-preview` the following sentences:
* The Ribbon

[2022-06-17 12:01] ghost commented on #2632
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-17 12:42] 4tti commented on #2543
I can confirm this is happening - not every time. Sometimes the undo is available, sometimes it is 'corrupted' - e.g. allowing to go back only once, sometimes it is completely unavailable.
See following video:
https://user-images.githubusercontent.com/19533927/174300226-0711913e-cc0c-496c-8140-b7f89fc0cf5c.mp4

Windows desktop Excel:
![image](https://user-images.githubusercontent.com/19533927/1743

[2022-06-17 14:23] FranCerrada opened #2651 "Weird behaviors in PowerPoint for Office Online when inserting images with placeholders"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Few months ago [I reported an issue](https://github.com/OfficeDev/office-js/issues/2451) regarding inconsistent behavior of image insertion in Office Online and Office for Mac, when p

[2022-06-17 15:23] gullbyrd opened #2652 "insertInlinePictureFromBase64 Corrupts Memory in Word"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

insertInlinePictureFromBase64 seems to corrupt application memory in Word.

My Environment:
Platform: Windows 11, PC.
Host: Word Version 2205 Build 15225.20204 Click-to-Run)

## Expec

[2022-06-17 20:31] massonj commented on #2649
I would recommend the documentation site as the best way to keep up on changes to PowerPoint APIs, anytime we release a new requirement set (collection of APIs) you will see it here - https://docs.microsoft.com/en-us/javascript/api/requirement-sets?view=common-js-preview#powerpoint

[2022-06-17 21:39] JuaneloJuanelo commented on #2377
As shared previously, this is by design Cody. There are a couple of recommendations here, of of them to show a dialog while you are processing the message.

I would love to understand how is this impacting your customers, because the email will be eventually sent again and processed?

if there is critical for them not to move then use the show dialog for help on this.

Again, by design and as such

[2022-06-17 23:20] JuaneloJuanelo commented on #2590
Thanks for reporting this issue, i am able to reproduce this condition and probably a regression. We are tracking internally with bug 6159759.  We don't have an ETA for this.

@clavx  this seems to be edge cases for compose emails, i wonder if you can share how frequently you get issues like this. i wonder if its a common scenario for your add-in. thanks!

[2022-06-17 23:42] Adrian-MSFT commented on #2639
Hi @s4eideh

Thanks for bringing this to our attention.
Can you please include screenshots, snippets, and HTML fragments that you are inserting as signature that can reproduce the issue?

Thank you,
Adrian

[2022-06-18 09:01] ghost commented on #2622
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-06-19 22:17] markdon commented on #2630
Sure

[2022-06-19 22:17] #2630 closed, assigned to exextoc

[2022-06-20 04:21] exextoc commented on #2593
We have not received any communication from you on this thread or on our email. We are closing this from our end.

[2022-06-20 08:33] danielpdev commented on #2649
Hi @massonj ,

I fully agree with you, but using `https://unpkg.com/@microsoft/office-js@*` I can dig into the latest changes and it will help me to make a diff between the latest preview versions released and make use of the latest features or bug fixes.

[2022-06-20 08:34] danielpdev commented on #2649
If you open `https://unpkg.com/@microsoft/office-js@1.1.74/dist/powerpoint-win32-16.01.debug.js` it will display just a chunk of the file and this is not ok.

[2022-06-20 10:18] exextoc commented on #1434
@dmitry-semenov Please try out the [Autorun add-ins ](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch) with OnNewMessageCompose and OnNewAppointmentCompose events. We believe this will serve your purpose.

[2022-06-20 14:01] ghost commented on #2632
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-06-20 14:01] #2632 closed, assigned to JuaneloJuanelo, exextoc

[2022-06-20 14:22] andymozza commented on #1807
Hi, any resolution or work around for this yet? Hitting the same issue.

[2022-06-20 16:38] millerds commented on #2646
@danielpdev when you run the start command the webpack server starts that hosts the add-in and the host application (in this case PowerPoint) starts as well with the add-in loaded.  When you run the stop command only webpack is shutdown and the host (PowerPoint) it left open with the reference to the add-in already loaded in the ribbon.  If you then open a new blank presentation then the add-in ri

[2022-06-20 17:16] danielpdev commented on #2646
Ok, so this is how it supposed to work, but what is the reference that is left out for other blank presentations to pick up the addin?
I really need to remove the addin from the next presentation that is going to be opened.

If you ask me, a new presentation should not load/keep any old data, as the name suggests, it is a **blank** presentation.

[2022-06-20 21:07] Dengshan2018 commented on #1807
No solution so far. There is a plan in webview2 which will respect OS regional setting. Will update the schedule once it's firmed.

[2022-06-20 22:03] millerds commented on #2646
Ribbon entries are not content.  The presentation itself is blank, but the add-in hooked into the ribbon is not tied to the document.  If you had gotten an add-in from the store, instead of running one locally, then you would have it added to the ribbon to be used in any presentation and not just the current one.

[2022-06-20 22:25] pb-jeff-oneill opened #2653 "Word add-ins now disappear each time I reopen Word"
Normally, once you install a Word add-in, the add-in is there each time you open a Word document.  As of today, the add-ins disappeared each time I closed and reopened Word.  I had to go to the Insert ribbon to re-add them.

There were two problems:
1. The add-ins disappeared each time I closed and reopened Word.
2. It seems than an older version of my add-in was installed.  One button was missing

[2022-06-20 22:38] timwan10 commented on #2641
This is not possible today. We track Outlook add-in feature requests on our Tech community Page:

https://aka.ms/M365dev-suggestions

[2022-06-21 06:51] danielpdev commented on #2646
Ok, is there a way to remove it from the next presentation?

You mentioned something about some references being left over for the PowerPoint host, is there any way we can delete them?
Like modifying the registry and removing something from there?

Thank you

[2022-06-21 09:02] ronald-forscale opened #2654 "Removed Excel online add-in results in task pane with "Trust this add-in" button"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# After clicking Remove and re-opening the spreadsheet, a task pane with "Trust this add-in" button appears. Decline results in the same task pane the next time, which is very annoyin