[2020-07-28 14:02] remar27 opened #1302 "[Word] getSelection().parentContentControl not working on plaintext content controls"
## Expected Behavior
Running context.document.getSelection().parentContentControl should return Word.ContentControl object or throw exception if parentContentControl not found. [See the documentation](https://docs.microsoft.com/en-us/javascript/api/word/word.range?view=word-js-preview#parentcontentcontrol).

## Current Behavior
- Running the code with the cursor inside Rich Text content control -

[2020-07-28 14:05] rkw6086 commented on #1246
@hjkim71 Any updates on this?

[2020-07-28 14:23] dinglicoding opened #1303 "[Excel] taskpane panel apears blank"
## Expected Behavior

Load the plugin successfully.

## Current Behavior

The panel is blank when some of our clients open the plugin.

## Steps to Reproduce, or Live Example

We used Fiddler 4 to capture the network traffic and found the plugin did not request  http://nav.smartscreen.microsoft.com:443 , see attached zee.zip file.

On computers that can load the panel, we can see the request to ht

[2020-07-28 15:06] deyanskiq commented on #1095
Similar issue is happening on my side:

a webLink from the graph API (v1) is: https://outlook.live.com/owa/?itemid=AQMkADAwATNiZmYAZC0xYzFmLTAyMgBjLTAwAi0wMAoARgAAA7L%2FHGXIY1NFqCPQbmmdvaoHAHJ2OdtwdRVDo29SWY%2BMHg4AAAIBDQAAAHJ2OdtwdRVDo29SWY%2BMHg4AAADbEQ%2BSAAAA&exvsurl=1&path=/calendar/item

is redirecting to

https://outlook.live.com/calendar/0/view/month?itemid=AQMkADAwATNiZmYAZC0xYzFmLTAyMgBj

[2020-07-28 19:42] joshholat commented on #1303
I don't have a ton of specifics yet, but we've also started to notice weird behavior along these lines with our add-on today. Basically not loading or only partially loading when it had been fine for quite a while previously. We've been debugging it all day trying to determine where the issue might be.

[2020-07-28 19:50] JuaneloJuanelo commented on #1097
@DannyHinshaw this issue is fixed and in the process to be rolled out. It will be included in the next insiders fast release. Build 16.0.13123.20006 + , i think it should be out in a couple of weeks, can you test it there and let us know outcomes? it should not fail now.
thanks!

[2020-07-28 20:30] shyambhiogade commented on #1297
hi @lindalu-MSFT its not related to custom functions

[2020-07-29 00:21] exextoc commented on #1301
Depending on your system configuration, outlook may be using IE to run add-ins. Some of the JS features you're using (e.g. the => construct) are not supported in IE. Please refer to [this article](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) on information regarding browser usage by Office Add-ins.

One way to confirm this theory is to try your

[2020-07-29 03:45] kullachoke-bosuwan-rft commented on #1274
Hi, @lindalu-MSFT @lliu113

Sorry for the late response. I'm glad to hear that -- Thank you very much.

[2020-07-29 03:49] kullachoke-bosuwan-rft commented on #1282
@lindalu-MSFT
Thank you for looking into this. I hope we can find a solution soon.

[2020-07-29 06:38] #1221 closed, assigned to exextoc

[2020-07-29 07:04] donlvMSFT commented on #1282
@kullachokebosuwan-refinitiv , thanks for raising this issue, but we couldn't reproduce from our side.
Could you share some detail steps to reproduce? It could be great helpful if there's any gist script or git project.
Thanks in advance.

[2020-07-29 10:25] DCdeVilliers commented on #1291
This resolves the issue, thank you kindly for your prompt response and workaround.

[2020-07-29 10:25] #1291 closed, assigned to exextoc

[2020-07-29 18:32] abhsha commented on #1301
I tried with the updated change. But, issue is still not resolved.

[2020-07-29 20:08] shyambhiogade commented on #1297
@lindalu-MSFT can you please get someone help me in for this issue, is blocking our production release, there must be something you guys would have already thought about this scenario, it might be a matter of just searching in your internal database about this kind of issue.

[2020-07-29 20:47] exextoc commented on #1301
Please make sure to replace all occurrences of => in your code (I see at least 2 in provided snippets). Also, it's possible old script is cached in the browser. Also, have you checked if your code works in OWA in Internet Explorer?

[2020-07-29 20:56] smaremanda commented on #1296
Hi @rajha-apttus - do you want to run your add-in in IE for testing/validation purposes? If yes, please take a look here. https://docs.microsoft.com/en-us/office/dev/add-ins/testing/ie-11-testing

[2020-07-29 21:01] keyur32 commented on #1303
(Updated title for clarity)

Hi there, thank you for the report and sorry for the convenience. We will need some additional information to debug this and follow up offline.

If both of you can, please send a frown from within the Office application, as detailed here: https://support.microsoft.com/en-us/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-b43f-4dd2-9ff4-23cf144cfb11.

In the

[2020-07-29 21:04] smaremanda commented on #1281
@vikaskeskar11 - does this happen just the 1st time or every time? Can you also share the full Office version?

[2020-07-29 21:08] keyur32 commented on #1297
Hey @shyambhiogade, thank you for the report.  I have a few questions so we can route this over to our Identity team:
Can you clarify, what you mean by "How do i make it work for customers who could be having sign-in URL specific to their organization?"
- Are these sign-in URLs on the same domain i.e. customer1.aveva.com, customer2.aveva.com?
- Is your identity integrated with Azure AD, and are th

[2020-07-29 21:12] keyur32 commented on #1220
Hi there, @thatusernamenotavailable , per the examples above, did you need to add the '@streaming' tag? THat would register it as a streaming function on the desktop as well as online: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json-autogeneration

This works for me:
-------------------------------------
name: StreamingGitHubIssue1120
description: Create a new snipp

[2020-07-29 21:14] exextoc commented on #1086
Internal tracking id (helps to provide an update later): Office:4104226

[2020-07-29 21:19] exextoc commented on #1027
Internal tracking id: Office:3941546

[2020-07-29 21:19] keyur32 commented on #1220
Also, if it is working on Online, but not on desktop, you may be in a build of windows that doesn't suppport dynamic arrays. Easier way to check it type in the =MUNIT(3) into the cell and see if it spills into a 3x3 range.

[2020-07-29 21:25] smaremanda commented on #23
closing this issue. @wandyezj - please reopen or follow up again if this is still an issue.

[2020-07-29 21:25] #23 closed, assigned to wandyezj

[2020-07-29 21:25] exextoc commented on #916
Internal tracking id: Office:3881065

[2020-07-29 21:28] exextoc commented on #1287
Internal tracking id: OutlookWeb: 90648

[2020-07-29 21:33] exextoc commented on #1300
Internal tracking id: Office:4332228,4340528

[2020-07-29 21:57] exextoc commented on #1286
Internal tracking id: OutlookWeb:91074

[2020-07-29 22:02] exextoc commented on #1257
Internal tracking id: Office:4270004

[2020-07-29 22:06] exextoc commented on #1253
Internal tracking id: OutlookWeb:89151

[2020-07-29 22:08] exextoc commented on #1248
Internal tracking id: OutlookWeb:89150

[2020-07-29 22:16] exextoc commented on #1247
Internal tracking id: O365:1558017

[2020-07-29 22:33] exextoc commented on #1224
Internal tracking id: OutlookWeb:87207

[2020-07-29 22:37] exextoc commented on #1211
Internal tracking id: Office:4224491

[2020-07-29 22:44] exextoc commented on #1195
Internal tracking id: OutlookWeb:86708

[2020-07-29 22:46] jargil commented on #584
We made multiple fixes, at this point I cannot reproduce anymore. Let us know if you're still having this problem.

Thank you for reporting this!

[2020-07-29 22:46] #584 closed, assigned to jargil

[2020-07-29 22:51] keyur32 commented on #1278
@ppagadala  - hey there, can you share an example manifest so the team can reproduce this issue?  Does it happens with other add-ins?

[2020-07-29 22:53] keyur32 commented on #1277
Closing this as it appears to be a duplicate of https://github.com/OfficeDev/office-js/issues/1278.

[2020-07-29 22:55] #1277 closed, assigned to lumine2008, tutieu

[2020-07-29 22:58] keyur32 commented on #280
Old issue, as it seems to have resolved. Addins I believe are required to have a depdency for Office.js so it can be properly initialized. Please reactive if otherwise.

[2020-07-29 22:58] #280 closed, assigned to RuoyingLiang

[2020-07-29 23:02] keyur32 commented on #38
Hey @FastExcel , this is a bit of an older issue, but I don't think this is currently planned yet. For feature requests, please log a request on our  uservoice site so others can upvote and we can prioritize this properly here: https://officespdev.uservoice.com.

Thanks.

[2020-07-29 23:02] #38 closed, assigned to lumine2008, tutieu

[2020-07-29 23:09] shyambhiogade commented on #1297
@keyur32 we have a web application https://online.wonderware.com/ you can take a look at it, to be able to sign in to this you need to have userid and password, user can also use their organization login id to get the access to the portal like I can send an invitation on your  microsoft id and you can login to the portal by sigining in to your office 365 account, you dont need to create the separa

[2020-07-29 23:10] exextoc commented on #1189
@sagarpilkhwal Has the issue been resolved for you? If not, then it's a different issue than the one described in #1134 because the fix for that issue has rolled-out.

[2020-07-29 23:33] exextoc commented on #1162
Internal tracking id: Office:4155408

[2020-07-29 23:35] exextoc commented on #1130
Internal tracking id: OutlookWeb:84990

[2020-07-29 23:37] exextoc commented on #1119
Internal tracking id: OutlookWeb:84910

[2020-07-30 00:02] exextoc commented on #1096
Internal tracking id: OutlookWeb:91155

[2020-07-30 00:09] exextoc commented on #1088
Internal tracking id: Office:4103449

[2020-07-30 00:42] chanhohang commented on #994
@lumine2008 we are now using a workaround, instead of delete row, we set all rows cells into empty string and can perserve the sorting. i am closing this issue now.

[2020-07-30 00:42] #994 closed, assigned to lumine2008

[2020-07-30 00:45] chanhohang commented on #1122
Can we get an update here please?
@sohailzafar @mscharlock @lumine2008

To give you some more ideas what we are struggling now.

We implement a workaround by listening to the whole table cells update event, and filter those that is done by background by building a reconciliation engine.

However, in production environment, the number of updates are too many and the performance degrade of listening

[2020-07-30 01:30] keyur32 commented on #190
Closing this as workaround provided

[2020-07-30 01:30] #190 closed, assigned to lumine2008, tutieu

[2020-07-30 01:31] keyur32 commented on #277
@3dot1four - does this still repro for you? If it does, please reactivate with a gist provided.

[2020-07-30 01:31] #277 closed, assigned to lumine2008, tutieu

[2020-07-30 02:17] TheSamsterZA commented on #584
@jargil That's great news, thank you!

Do you perhaps have a version of Office that contains these fixes? Do I need to be on Office Insider at this point to receive them?

Thanks again for your hard work and commitment to fixing these issues, it is much appreciated. 😄

[2020-07-30 03:58] bdentino commented on #1303
We have been having similar issues as well. After a lot of debugging, I believe in our case the issue is related to buggy behavior when using OfficeRuntime.storage.setItem/getItem. This issue only occurs on Windows, and we are using a shared runtime, so it's running in the IE 11 browser context. Essentially, in the onReady callback, we make concurrent requests to OfficeRuntime.storage.setItem and

[2020-07-30 04:59] vikaskeskar11 commented on #1281
@smaremanda  This happens when quit the word and reopen it(We can fresh open).
Word Version:
![image](https://user-images.githubusercontent.com/24711514/88882342-5ba4d580-d24f-11ea-8a85-2f29ce9f1f76.png)

[2020-07-30 05:25] dinglicoding commented on #1303
@bdentino  thanks for your quick reply.

we have not use OfficeRuntime.storage.

[2020-07-30 06:14] sagarpilkhwal commented on #1189
@exextoc  Yes , I can confirm that this issue is resolved. Thank you...

[2020-07-30 06:14] #1189 closed, assigned to exextoc

[2020-07-30 09:49] joshholat commented on #1303
@bdentino We actually are seeing very similar behavior with regards to promises never resolving. We recently "fixed" the issue we were seeing with the diff below. Essentially, we realized that the `await context.sync()` towards the end of the function was simply hanging and never returning. I had a suspicion that those two operations were somehow conflicting with each other so figured I'd split th

[2020-07-30 09:56] joshholat commented on #1303
@keyur32 I just went in Excel and filled out that feedback as you suggested. Let me know if there's anything else I can do to help.

[2020-07-30 13:16] liamtim commented on #1116
@exextoc Can you please provide an update here? Our customers have not been able to use our Add-in on their Mac version of Outlook for 14 weeks now.

[2020-07-30 13:45] rajha-conga commented on #1296
@smaremanda thanks for the pointer.
Above solution is for Yeoman generated project, mine is different created using angular from visual studio, so I doubt it will work in that case.
Let me know if you think otherwise because above link is assuming some pre-requisite and this (Yeoman generated project) is one of them.

[2020-07-30 17:00] ghost commented on #790
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-30 19:26] exextoc commented on #1280
This should be fixed in Win32 Office Build: 16.0.13127.10000.

[2020-07-30 19:26] #1280 closed, assigned to exextoc

[2020-07-30 19:49] shyambhiogade commented on #1297
@keyur32 let me know if we can talk about this issue on the Microsoft team or if you need any more details. @lindalu-MSFT can someone please look into this urgently, if needed I can raise the priority support request. we are partners with Microsoft.

[2020-07-30 20:00] ghost commented on #1283
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-07-31 03:10] SWei1234 opened #1304 "[Outlook ] getSharedPropertiesAsync not supported on Mac"
getSharedPropertiesAsync  not supported on Mac yet.
Is there any plan this feature will be done?

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac

[2020-07-31 04:10] kullachoke-bosuwan-rft commented on #1282
@donlvMSFT , I've rechecked it today and can't reproduce an issue anymore. I'm waiting for our QA to verify this before close a ticket. Thanks a lot.

[2020-07-31 08:28] niteeshkr20 opened #1305 "Office.context.mailbox.item.getSelectedRegExMatches() is not giving correct results."
In Contextual add in after defining a RegExp, if there is two or more matching strings are there in that case **Office.context.mailbox.item.getSelectedRegExMatches()** functions gives same result for selected matches for all the cases
## Expected Behavior

**Office.context.mailbox.item.getSelectedRegExMatches()** should give correct selected value on each case.
## Current Behavior

**Office.contex

[2020-07-31 10:02] m24cl6000 opened #1306 "[Outlook] ribbon "Start" not working with Exchange 2016 on-premises and Office 365"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I developped an add-in for Outlook. The add-in is shown in Ribbons Start, Message (for read) and Ribbon message (in compose). It works perfect for Office.com accounts, with all Client

[2020-07-31 12:36] psantwani commented on #1095
+1 @deyanskiq, facing the same issue.

[2020-07-31 12:49] exextoc commented on #1305
We are able to reproduce this from our side. Thanks for reporting this issue regarding getSelectedRegExMatches. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-07-31 14:49] m24cl6000 commented on #1306
Although the <local>/owa is running correctly i found 3 warnings in console.log.
SRV3 = <local Exchange 2016  Server>
SRV3 has CU17 (15.1.2044.4 installed)

HTTP404: NICHT GEFUNDEN: Der Server hat keine Übereinstimmungen für den angeforderten URI (Uniform Resource Identifier) gefunden.
(Fetch)GET - https://srv3/owa/prem/15.1.2044.4/resources/locale/de/owa-calendar-strings.json

HTTP404: NICHT GEFU

[2020-07-31 14:54] pbl2108 commented on #1254
Hi @RuoyingLiang and @shaofengzhu, are there any updates on this? Thanks, Petre

[2020-07-31 14:58] exextoc commented on #1086
We have fixed the bug and the fix should be available in build 16.40(20070100) or later.

[2020-07-31 14:58] #1086 closed, assigned to macOutlookExtensibility

[2020-07-31 20:20] shyambhiogade commented on #1297
@lindalu-MSFT can someone please help..its pushing my product release date. There is not good help available on office addins.

[2020-07-31 20:43] exextoc commented on #1306
Can you clarify what you mean by "Ribbon start". Maybe some screenshots can help.

For message compose, make sure that you specify the extension point [MessageComposeCommandSurface](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/extensionpoint#messagecomposecommandsurface) in your manifest. If possible, can you please share your manifest?

[2020-07-31 21:43] m24cl6000 commented on #1306
Ribbon "Start" is the first ribbon activ when you start outlook.
Your message is enabled but not double-clicked!
Add-in Name gpg4web. The button is visible, **but now action comes up** if you click.

![ribbon](https://user-images.githubusercontent.com/49696572/89077364-4f6d6500-d382-11ea-9710-2cfe9191814f.png)

When you double-click, in the next window you got ribbon "Message (german=Nachricht).
H

[2020-07-31 21:43] exextoc commented on #1070
Internal tracking id: OutlookWeb:81771

[2020-07-31 21:47] exextoc commented on #1057
Internal tracking id: OutlookWeb:82206

[2020-07-31 21:51] exextoc commented on #1306
In your Compose Email Screenshot. The "From / Von" Field is blank. Is this email actually being sent from an Exchange Account? Or from another account that you added to your profile? Add-ins are only available per Exchange Account. So if you switch to another account that you added, then your add-in won't appear, unless you also install the add-in on that account.

On the same line of thinking, wh

[2020-07-31 21:52] exextoc commented on #1022
Internal tracking ids: Office:4016849 and OutlookWeb:79527

[2020-07-31 21:56] exextoc commented on #1010
Internal tracking id: Office:3977208

[2020-07-31 21:58] exextoc commented on #1003
Internal tracking id: Office:3973990

[2020-07-31 22:09] m24cl6000 commented on #1306
Okay,
first point for you ;-) The button comes up when i changed the from to an Exchange account. But sorry - no action happens when i click, Same problem as in ribbon "start".

When i reply to an message the ribbon shows the add-In, after clicking the result is: Task-Pane opens, showing wrong context, add-in is not running (checked with devTools).

![ribbon5](https://user-images.githubusercontent

[2020-07-31 22:25] m24cl6000 commented on #1306
More news.

Changing default settings change behaviour too. I switched default account setting in Outlook options to Exchange-Server.
Result is: add-in shows up in compose and works okay !

So changing default gives different behaviour as switching "from".

![ribbon6](https://user-images.githubusercontent.com/49696572/89081914-cc9dd780-d38c-11ea-8f68-4c6f2ba4ea01.png)
png shows values before switc

[2020-07-31 22:35] exextoc commented on #997
Internal tracking id: Office:3974112

[2020-07-31 22:36] exextoc commented on #993
Internal tracking id: OutlookWeb:78725

[2020-07-31 23:55] exextoc commented on #992
Internal tracking id: Office:3965795

[2020-07-31 23:57] exextoc commented on #983
Internal tracking id: OutlookWeb:59151

[2020-07-31 23:57] exextoc commented on #981
Internal tracking id: Office:3954414

[2020-07-31 23:58] exextoc commented on #974
Internal tracking id: OutlookWeb:77951

[2020-08-01 00:04] exextoc commented on #963
Internal tracking id: OutlookWeb:64166

[2020-08-01 00:05] exextoc commented on #937
Internal tracking id: OutlookWeb:63772

[2020-08-01 00:06] exextoc commented on #1306
Add-ins only work in Exchange accounts.

In read mode ("ribbon start") is there any error dialog when you click on the ribbon button and the taskpane does not open? Do other add-ins behave the same way? Instructions for installing other add-ins are [here](https://support.microsoft.com/de-de/office/installieren-von-office-add-ins-in-ihrem-postfach-65e243f5-cdac-4987-8185-97069a6058cb?ui=de-de&rs=de

[2020-08-01 00:10] exextoc commented on #927
Internal tracking ids: Office:3899937 and OutlookWeb:63811

[2020-08-01 00:15] exextoc commented on #912
Internal tracking id: Office:3857410

[2020-08-01 00:18] exextoc commented on #900
Internal tracking ids: Office:3858085 and OutlookWeb:62585

[2020-08-01 00:19] exextoc commented on #870
Internal tracking id: Office:3806579

[2020-08-01 00:21] exextoc commented on #811
Internal tracking id: Office:3773278

[2020-08-01 00:35] exextoc commented on #746
Internal tracking id: Office:3974112

[2020-08-01 00:39] exextoc commented on #997
Duplicate of #746

While reviewing open GitHub Issues, I realized there were two Issues describing this product bug.

[2020-08-01 00:39] #997 closed, assigned to exextoc

[2020-08-01 08:09] m24cl6000 commented on #1306
Sorry for late answer, it was more than 30 minutes past midnight  when your last message arrives ;-)

I tried a new profile with only one Exchange account on my Office 365 .  **Everything is okay !!**

Okay. I went to my local Desktop with Office 2013. It is an profile with single Exchange account :-(

Next step - I added the same Pop/imap account to that profile. Outlook 2013 can handle that comb

[2020-08-02 21:00] ghost commented on #1301
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-03 00:00] ghost commented on #1278
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-03 00:00] ghost commented on #1220
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-03 02:31] SWei1234 commented on #1304
@exextoc
I have inner update Mac outlook client to version 16.41(20072901) .
Is this version should support this feature.
Tested on this version , support 1.8 set ,but not support Office.context.mailbox.item.getSharedPropertiesAsync

[2020-08-03 05:41] ppagadala commented on #1278
@keyur32 Here is the example manifest to reproduce the issue.
[Test Manifest.zip](https://github.com/OfficeDev/office-js/files/5014103/Test.Manifest.zip)

[2020-08-03 08:20] baldaja-tschaefer commented on #747
@exextoc is there any update or known workaround for Office.context.mailbox.displayMessageForm with UI less addins on Outlook Mac?

[2020-08-03 10:22] kullachoke-bosuwan-rft commented on #1282
I'll close a ticket as QA has confirmed that the issue couldn't reproduce anymore.

Thank you for your support.

[2020-08-03 10:22] #1282 closed, assigned to lumine2008, tutieu

[2020-08-03 12:09] DmitryKostochko opened #1307 "Outlook Desktop, Outlook for Mac: "Text Highlight Color" does not work after inserting HTML via the setSelectedDataAsync method"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In an Outlook add-in for compose mode, we use the setSelectedDataAsync method to insert HTML text in a message body. If HTML contains highlighted text (style="background-color:#ffff00

[2020-08-03 16:10] shyambhiogade commented on #1297
@lindalu-MSFT @keyur32 any update on this issue.

[2020-08-03 22:51] exextoc commented on #1306
Thank you for reporting this issue. This has been put in our backlog. We unfortunately have no timelines to share at this point.
Internal tracking id: Office:4348489

[2020-08-03 23:25] as-aaron opened #1308 "Outlook Online Pinned Taskpane reloading on item change"
Pinned taskpane add-in's disappear and reanimate in from the side / reload whenever you change item inside of a folder.

## Expected Behavior

Pinned taskpane add-in's should stay open and not reload when changing item

## Current Behavior

Pinned taskpane add-in's disappear and reanimate in from the side / reload whenever you change item

## Steps to Reproduce, or Live Example

Open any pinnable

[2020-08-04 03:14] lindalu-MSFT commented on #1297
Hi, I just assigned this to our dev writer for authentication @Rick-Kirkham  and a couple people on the Excel team. @keyur32 @lumine2008  Can someone help this customer please? Or tell me who is the right person who can help him sort out this issue? He has an app he's trying to ship!

[2020-08-04 05:31] exextoc commented on #1308
We are aware of this issue and have already pushed a fix. The changes will by live by end of the week,
Please try again on Monday.

[2020-08-04 07:01] exextoc commented on #1307
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-08-04 08:59] m24cl6000 commented on #1306
Hi,
thx for your answers. Your notes where very helpfull for me. Should I close the issue or it stays open until the Backlog is cleared?

[2020-08-04 09:15] abhsha commented on #1301
I have changed the declaration as suggested. It is not working for OWA in Internet Explorer

I have verified on other machine also where this sample is working on  Outlook Client(Windows 10).  The code not works on IE in that machine also.

The behavior is strange.

This is the build version of Outlook Client where this code is not working - Dialog is not getting closed
Version 2002 Build 12527.20

[2020-08-04 09:27] exextoc commented on #1304
We support Office.context.mailbox.item.getSharedPropertiesAsync from Version 16.41 (20072700) (Insider ring).
You'll have to be on Insiders Fast ring, to have the same.

[2020-08-04 09:48] abhsha commented on #1301
https://github.com/abhsha/OutlookAddInIssue/tree/master/SampleAddInPoC

Added sample code link for more clarity

[2020-08-04 09:59] exextoc commented on #1285
The issue has been fixed and the fix has been pushed to production.
Please check, if the issue is still reproducible or not.

[2020-08-04 10:50] SWei1234 commented on #1304
Hi @exextoc
I have already updated to a version later than 16.41 (20072700), will it support this ?

[2020-08-04 12:27] exextoc commented on #714
This issue has been fixed. You can update to the latest Insider Fast build (16.41 (20072700) and above) to see it!

[2020-08-04 13:13] exextoc commented on #212
@nehasoni3  We weren't able to find the Add-in "ConX Scheduler for Outlook" in store. Can you confirm if the Add-in is still available in store for installation? Please do share a screenshot of the Add-in in store if possible.
We were not able to repo this issue from our side when we tested Office.context.mailbox.displayNewAppointmentForm API independently. The reminder value is being picked from

[2020-08-04 14:04] jurisjansons opened #1309 "Outlook web TypeError: Cannot read property 'replace' of undefined"
I see that there has been some delivery of new version of offise.js? Based on [This](https://github.com/OfficeDev/office-js/issues/1285#issuecomment-668504229) comment.

I'm currently having problems with DialogAPI from what I can tell.

## Expected Behavior
Outlook add-in opens

## Current Behavior
Outlook add-in gets stuck after authorization with DialogAPI

## Steps to Reproduce, or Live Exampl

[2020-08-04 14:18] keizo-furukawa opened #1310 "Office.context.mailbox.item.getItemIdAsync has error with not saved appointment compose"
I'm developing outlook addin and using item id of appointment by getting with following api.
`Office.context.mailbox.item.getItemIdAsync`
I'm using this api from January 2020 and have no problem until last week.
However now I have error when I call this api with not saved appointment compose screen on web browser(Google chrome).

## Expected Behavior

As far as following this document, we should h

[2020-08-04 14:18] sarea opened #1311 "Deployment: Admin Center: Cannot un/install the add-in"
I have add-in A which is hosted in `xyz.com/A/manifest.xml` and add-in B which is hosted in the same host but with another route `xyz.com/B/manifest.xml`. **Both** of those manifests use the same GUID.

I have installed the add-in A by URL from the admin center as 'optional' option, that works fine (after 12h), but then I was unable to uninstall it and install the add-in B as a user from the URL,

[2020-08-04 16:08] exextoc commented on #1309
We are able to reproduce this issue on our side. Thanks for reporting this issue regarding DisplayDialog API.
We are actively working on this issue as it is high priority. We unfortunately have no timelines to share at this point

[2020-08-04 16:09] exextoc commented on #1310
We are able to reproduce this issue on our side. Thanks for reporting this issue regarding getItemIdAsync API.
We are actively working on this issue as it is high priority. We unfortunately have no timelines to share at this point

[2020-08-04 17:38] exextoc commented on #297
Sorry for the delay in response. We are not able to reproduce the bug. The add-in provided seems to have stopped working. Please let us know if the issue is still persistent.

[2020-08-04 19:11] agelenava commented on #1310
we just faced the same issue

[2020-08-04 19:11] onestep commented on #1310
We have the same error in compose mode for email as well.

[2020-08-04 22:09] gguiceaccru opened #1312 "Office.context.mailbox.item.recurrence.getAsync throws error"
When making a call to `Office.context.mailbox.item.recurrence.getAsync` on an existing recurring appointment it throws the following error:

`
Uncaught TypeError: Cannot read property 'startYear' of undefined
    at SeriesTime.importFromSeriesTimeJsonObject (outlook-web-16.01.debug.js:13514)
    at seriesTimeJsonConverter (outlook-web-16.01.debug.js:14879)
    at outlook-web-16.01.debug.js:9783

[2020-08-04 22:23] liamtim commented on #1116
@macOutlookExtensibility Do you have any updates for us here?

[2020-08-04 22:34] exextoc commented on #1306
Thanks. Please leave this open.

[2020-08-05 00:19] exextoc commented on #1301
Thanks for including the sample. Did you check if the message is actually received by the taskpane code? I do not have a repro so far, and want to see if we can identify whether the issue is in messageParent or dialog.close(). I suggest trying to add additional console.log or attach a debugger https://docs.microsoft.com/en-us/office/dev/add-ins/testing/test-debug-office-add-ins

Another question t

[2020-08-05 00:22] cdmdotnet opened #1313 "undefined returned by o("l_SessionDataObjectMaxLengthExceeded_Text") which then fails a .replace method call"
Using your library returns an error on loading the add-on. There is no stack trace leading back to my code
[code]
Walking the stack the data is
[code]

## Expected Behavior

There is no error.

## Current Behavior

`o("l_SessionDataObjectMaxLengthExceeded_Text")` returns `undefined` so when YOU call `o("l_SessionDataObjectMaxLengthExceeded_Text").replace("{0}", 5e4)` YOU produce YOUR own error
The

[2020-08-05 00:31] cdmdotnet commented on #1313
I've track this down to making a call to `Office.context.mailbox.item.getItemIdAsync` results in the library crashing out.
[code]

[2020-08-05 01:20] lumine2008 commented on #1122
Would you please refers to this post, see if it helps? thanks. https://stackoverflow.com/questions/61692830/how-to-detect-the-event-is-trigger-by-end-user-ignore-the-event-trigger-by-cod

[2020-08-05 01:21] lindalu-MSFT commented on #1311
Hi Lillian, I don't know if this is your area or Anil's. Do you know his Github handle? If so, please add him to the assignees. THANKS

[2020-08-05 01:27] lindalu-MSFT commented on #1312
Thanks for following our template when opening this issue! It will help our team triage faster. I assigned this to the Mac Outlook team. Cheers, lindalu

[2020-08-05 01:28] Lilyliu123 opened #1314 "Excel: Got 500 error when using online Excel with our private addin"
Got following error when running our private addin using Excel on the web. Works fine with desktop excel application.
___API Error: GeneralException, An internal error has occurred., undefined___

## Context
Our addin basically import the contents from a json file to the excel spreadsheets.
This issue happened when one of the json object has too many sub-objects. I tried to delete some sub-objects

[2020-08-05 01:31] lindalu-MSFT commented on #1304
@SWei1234 are you on the Insider Ring version? @exextoc How does he get insider ring version? (Sorry, I don't know either!)

[2020-08-05 01:56] chanhohang commented on #1122
@lumine2008 the 3rd approach that they are trying below :
```Current try: We store the address of the changed range before changing the values. In the onChanged handler, we compare the address. If the same we do not do the logic. After that, we delete the storage of the address again.```

This is the exact same logic of my reconciliation engine. this is a workable approach, but still by doing this

[2020-08-05 02:03] lumine2008 commented on #1122
would you please submit this request in uservoice and upvote this request? thanks. https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563

[2020-08-05 02:03] SWei1234 commented on #1304
Hi @exextoc @lindalu-MSFT
I'm not in version 16.41 (20072700).  Is there a way for us to get that version?
Thanks

[2020-08-05 04:04] chanhohang commented on #1122
@lumine2008 understood, i've posted https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/41076748-user-input

[2020-08-05 04:52] exextoc commented on #1022
We have fixed the bug and the fix should be available in latest build.

[2020-08-05 04:52] #1022 closed, assigned to macOutlookExtensibility

[2020-08-05 05:07] exextoc commented on #1313
We are able to reproduce this issue on our side. Thanks for reporting this issue regarding DisplayDialog API.
We are actively working on this issue as it is high priority. We unfortunately have no timelines to share at this point

[2020-08-05 08:15] exextoc commented on #1312
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-08-05 08:51] nsakar opened #1315 "Excel: Office App stops registering events when migrated to windows 10 1909 and Office 2002"
## Expected Behavior

Our office app which loads and edits excel tables is not raising events registered events like onSelectedDataChanged event on excel table. It works correctly on windows 1809 and office 2002. We are about to launch the apps in production

## Current Behavior
None of the table changed events are being raised

## Steps to Reproduce, or Live Example
Create an angular 2 based web

[2020-08-05 09:07] andmaz commented on #790
I have the same issue, here are some investigation details:
1) It's not stable and occurs rarely, mostly on MasOS (owa/desktop), but on Windows (desktop) as well.
2) All properties from `userProfile` (`accountType`, `displayName`, `emailAddress`, `timeZone`) are `undefined`
3) All properties are available in `Office.context.mailbox.initialData` (`userProfileType`, `userDisplayName`, `userEmailAddr

[2020-08-05 10:11] abhsha commented on #1301
I checked the versions for machines where the scenario is not working with Outlook client is either Windows 10 build < 1903 or Windows Server 2016 OS.
The dialog is getting closed with message return to task pane in Outlook Client for machine with Windows 10 build 1903 .

Regarding Internet Explorer, the issue exists in all machines.
With the current sample, I tried to check the issue. The code al

[2020-08-05 10:21] exextoc commented on #1304
You can visit [here](https://insider.office.com/en-us/releasenotes/mac/fast) for more info.

[2020-08-05 13:15] lstableford-mb commented on #1312
I am also experiencing this error when just generally attempting to retrieve recurrence using .getAsync. Whether the appointment is new or existing is not a factor. The call fails to resolve or reject consistently on every single occasion, with the error shown above logged in the console.

[2020-08-05 14:35] DmitryKostochko commented on #1285
@exextoc, I have just retested the issue in IE and Edge and can confirm that this #1285 is fixed, the displayDialogAsync method works.

[2020-08-05 15:07] bx-anil commented on #1313
We are affected by this as well.

[2020-08-05 16:01] vikasm1720 opened #1316 "Dialog API: Office.context.ui.displayDialogAsync opens in new tab instead of new window on browsers MAC"
I am developing a custom functions add-in and using Dialog API for authentication. When the add-in is opened on safari browser in MAC, the Dialog API window behaves differently when opened from excel online. As shown in the attached video, when the parent window is maximized, the Dialog API opens the non-modal window in a new tab instead of new window, but when the parent window is shrunk, the Dia

[2020-08-05 16:09] AlexJerabek commented on #1316
Hi @vikasm1720,
Thanks for reporting this. A platform discrepancy sounds like an issue with the product, as opposed to the documentation, so I'm going to transfer the issue to the [office-js](https://github.com/OfficeDev/office-js) repo. There, members of the product team can look at your scenario and figure out the underlying cause.

[2020-08-05 20:30] intellectyxArria opened #1317 "Excel: Couldn't initialize an angular application inside Office.onReady() / Office.initialize in slow network"
We have completed development of an Excel addin using the officejs API's. During the process of deploying it to App source we got a feedback that the addin shows blank screen when there is a slower internet connection. When we tried to debug it we got the following error ( when 3G Slow option is set in chrome ).

Uncaught Error: Office.js has not fully loaded. Your app must call "Office.onReady()"

[2020-08-05 22:22] shyambhiogade commented on #1297
@keyur32 @Rick-Kirkham @lindalu-MSFT @lumine2008 I am still waiting for the help.

[2020-08-05 22:56] zlatko-michailov commented on #1184
Thanks for adopting custom functions! I am sorry to see you've had an unresolved issue for such a long time.

Before I investigate any further, please take the following steps, and let me know of the outcome:
1. In Excel, click on Insert > Get Add-ins.
2. Select the Store tab, if you are not already there.
3. Enter __WA104381720__ in the Search box, hit Enter, and click the Add buttons as necessar

[2020-08-05 22:57] zlatko-michailov commented on #1254
I responded in issue #1184. Let's continue there.

[2020-08-05 22:58] zlatko-michailov commented on #934
I responded in issue #1184. Let's continue there.

[2020-08-06 02:00] ghost commented on #1220
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-08-06 02:00] #1220 closed, assigned to topkoong

[2020-08-06 02:08] SWei1234 commented on #1304
@exextoc
It's seems 16.41(20072901)  is same with 16.41 (20072700). And I have both tried run 'Office.context.mailbox.item.getSharedPropertiesAsync' on console. It's return undefined.
And I tried update to the latest insider fast version 16.41(20080203) then run 'Office.context.mailbox.item.getSharedPropertiesAsync' again. Still get undefined.
I'm using both 1.1 version and beta version office.js.

[2020-08-06 05:10] chathumdavton commented on #1312
This is a significant issue as this is happening for all recurrence patterns. Please provide us with an ETA of a fix.

[2020-08-06 06:58] shyambhiogade commented on #1297
help please

[2020-08-06 10:28] thulium3 opened #1318 "Excel: Custom Document Properties not persisted in Excel Online"
I am using Excel Online Version 16.0.13129.31875.
I am adding document properties to my document and later read them again.

Following pattern was observed:
When working locally in Excel on Mac I can set properties, close document, reopen it and read them again.
Also adding properties in local Excel and reading them later in Excel Online does work.

But when I add the properties in Excel Online I

[2020-08-06 12:02] abdulkareemnalband commented on #1309
Investigated further:
It fails here https://appsforoffice.microsoft.com/lib/1/hosted/outlook-web-16.01.debug.js at line number `9414`

`addErrorMessage(9051, "SessionObjectMaxLengthExceeded", getString("l_SessionDataObjectMaxLengthExceeded_Text").replace("{0}", sessionDataLengthLimit));`

While calling `addErrorMessage` for error `9051 : SessionObjectMaxLengthExceeded`
`getString("l_SessionDataObj

[2020-08-06 12:02] abdulkareemnalband commented on #1310
looks like duplicate of #1309

[2020-08-06 12:03] abdulkareemnalband commented on #1313
duplicate of #1309

[2020-08-06 12:28] sarea commented on #1317
Got this error before, really annoying how this API works, in the documentation [example](https://github.com/OfficeDev/Word-Add-in-Angular2-StyleChecker/blob/master/app/main.ts#L21) they still use the old way.
However, we do use both `initialize` and `onReady` but we check Office first:
[code]
Another tip to get zone.js is to have it once you bootstrap the app:
[code]
where `compilerBootstrapOptio

[2020-08-06 14:43] sarea commented on #1311
Any news on this? we are blocked to perform our work:(

[2020-08-06 16:35] intellectyxArria commented on #1317
Thanks alot for the suggestion @sarea. We still get the same error message in slow network

[2020-08-06 17:09] areed1192 commented on #1158
I wanted to leave this here in case anyone comes across this issue again. I believe I was able to fix the issue on the different types of Office Add-Ins regardless of whether you choose to use a react, angular, or a regular HTML Add-in. To incorporate custom functions into your add-in there are a few things you need to do:

# Step 1: Modify the Folder Structure:

The first thing you need to do is

[2020-08-06 18:06] shyambhiogade commented on #1297
@keyur32 @Rick-Kirkham @lindalu-MSFT @lumine2008, please help

[2020-08-06 19:21] exextoc commented on #1301
Thanks for checking the Windows version. We found the issue. In IE's implementation of displayDialogAsync, callback for displayDialogAsync is invoked synchronously. In your sample code, processLoginMessage and processLoginDialogEvent are assigned after. As a result, addEventHandler is actually invoked with an undefined callback. To work around this, please move const processLoginMessage/processLog

[2020-08-06 21:01] cdmdotnet opened #1319 "CDN versions"
Are the hosted files versioned and thus selectable?

I ask as part of any good software practice is to know what you have QA'ed and deployed.

If a remotely hosted core file to an developers application, in my case  `//appsforoffice.microsoft.com/lib/1/hosted/office.js` is a core file, and and new deployment, which is out of my control, it would appear to fundamentally change core parts of said de

[2020-08-07 00:18] JunielKatarn commented on #1184
This issue has been identified as a hard-coded timeout in our JavaScript HTTP client.
Work in progress to increase this limit, or make it configurable.

[2020-08-07 00:47] keyur32 commented on #1297
Hi there,

- If you want single sign on to get the user token without having to ask the user to sign in again, we just had the single sign on feature ship: https://developer.microsoft.com/en-us/microsoft-365/blogs/announcing-general-availability-of-single-sign-on-sso-for-office-add-ins/

- If you have multiple tenants or different domains, we suggest following an approach where each deployment has

[2020-08-07 03:04] pbl2108 commented on #1184
@zlatko-michailov (мерси много!) thank you so much for looking into this!

I ran the functions with the 4 parameters you suggested and they all returned 42 as shown on the screenshot. I am not sure if they are making HTTP calls to a server, or the specified delay is completely happening on the client, because the issue we are experiencing with functions that make HTTP calls that take more than 60

[2020-08-07 03:38] zlatko-michailov commented on #1184
@pbl2108, it's my pleasure to help you adopt custom functions.

My add-in is very simple. It only leverages the core custom functions pipeline. I wanted to prove that the pipeline has no time limit.

@JunielKatarn is from the team that owns the networking API on top of the ReactNative runtime. He'll take it from here.

Alternatively, you can also try a "shared runtime" which uses a real browser. S

[2020-08-07 05:28] 2bigO commented on #482
None of the suggestions worked for me in Chrome and Outlook Web, anyone has an update?

[2020-08-07 10:58] exextoc commented on #1310
We have pushed the fix to production.
It may take at max 24 hours for the changes to get reflected (cache may have older copies) .

[2020-08-07 10:59] exextoc commented on #1313
We have pushed our changes to production.
It may take at max 24 hours for the changes to get reflected (cache may have older copies) .

[2020-08-07 10:59] exextoc commented on #1309
We have pushed our changes to production.
It may take at max 24 hours for the changes to get reflected (cache may have older copies) .

[2020-08-07 11:22] exextoc commented on #1304
There can be many reasons why the same isn't working for you

- Make sure you're using API set 1.8

- The API is only available on shared items, trying to use it on non shared item won't work. Please visit [here](https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-preview) for more insights.

- Does it throw any error when you use the API (given the abov

[2020-08-07 11:40] SWei1234 commented on #1304
Hi @exextoc
I have already make sure the set 1.8 is supported.
And I do all operation on a shared calendar. And this is working on windows.
When I trying to call  'Office.context.mailbox.item.getSharedPropertiesAsync' only return 'undefined'

[2020-08-07 11:50] jak-hammond commented on #1005
We have recently undergone a pen-test of an application we are building utilizing Office.js and this was one recommendation they suggested we implement, so obviously the sooner we can get this documented, then the sooner we can all implement the best practices :)

[2020-08-07 11:52] exextoc commented on #1304
Can you please share the exact repro steps, so that we can try it out and see if it repros for us or not ?

[2020-08-07 12:03] SWei1234 commented on #1304
Sure.
Mac OS version:10.15.6
Outlook version: 16.41 (20080203)
outlook debug is on
1. use preview office.js
https://appsforoffice.microsoft.com/lib/beta/hosted/office.js
2. Open a new meeting on shared calendar and then open add-in (we also called getSharedPropertiesAsync in add-in)
3. Then open devTool and input 'Office.context.mailbox.item.getSharedPropertiesAsync' on console.

[2020-08-07 12:41] Rinzwind opened #1320 "Excel: Deleting a table by deleting its columns doesn't trigger an “Excel.TableCollection.onDeleted” event in Excel for Mac"
Deleting a table by deleting its columns doesn't trigger an “Excel.TableCollection.onDeleted” event in Excel for Mac.

See the Script Lab snippet given below and the following screenshots. On Excel for Mac, note that the *“Deleted columns in TestTable2”* did **not** trigger a *“Received table deleted event: TestTable2”*. On office.com, the *“Deleted columns in TestTable2”* **did** trigger a *“Rece

[2020-08-07 12:43] SWei1234 opened #1321 "[Outlook] Office.context.mailbox.item.body.getAsync get html exception"
When I input some content use ‘automatically generate serial number’.
Then use 'Office.context.mailbox.item.body.getAsync' trying get html body.
The index number will disappear.
![image](https://user-images.githubusercontent.com/15980696/89645162-d32bd200-d8eb-11ea-8918-a12b09f63e85.png)
And this problem only happen on Mac outlook client.

## Expected Behavior
index number should be reserve.

## C

[2020-08-07 13:52] bchenhs commented on #1200
Hi, this issue affects both file attachment APIs: `addItemAttachmentAsync` and `addFileAttachmentFromBase64Async`. Is there a rough estimate on when we can expect the fix? Thanks.

[2020-08-07 13:56] intellectyxArria commented on #1317
I tried creating a new application following the steps mentioned in https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-angular. The new application also has the same issue . I did this because I thought the size of the application might be the problem. It seems that this is related to the office.intialize and office.onReady methods

[2020-08-07 15:00] ghost commented on #787
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-07 15:00] ghost commented on #747
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-07 16:12] Kindyr commented on #1188
After a long time working on this, we found out that the problem was the lines were saved to the Word Normal Template.  So every time the template was used, the lines were activated.

[2020-08-07 16:12] #1188 closed, assigned to sumurthy

[2020-08-08 09:32] ArashMotamedi opened #1322 "[Outlook] Add `Recipients.RemoveAsync` API"
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/get-set-or-add-recipients

Currently, the `Recipients` interface offers `getAsync`, `addAsync`, and `setAsync` APIs. Ask is to add a new `removeAsync` API allowing removal of one or more recipients.

While I can simulate removal of a recipient by first getting the current recipients and then setting a new array minus the recipients I'd li

[2020-08-08 10:12] Shepherd-rocks commented on #747
@exextoc are there any news on this? Your question regarding further information was not related to the initial issue correct? If that's not the case please don't tag the issue as waiting for author-feedback. Thanks

[2020-08-08 14:24] bmgomg commented on #1259
I made it work by tweaking the manifest and replacing this:

<bt:Url id="ContosoAddin.Url" DefaultValue="https://localhost:3000/dist/taskpane.html"/>

with this:

<bt:Url id="ContosoAddin.Url" DefaultValue="https://localhost:3000/dist/functions.html"/>

[2020-08-08 17:52] rajeshk7 commented on #747
We are not able to reproduce the bug

- Can you please provide the manifest (add-in) which is failing for you ?

- Does it fail for any specific account or is general.

[2020-08-08 17:55] exextoc commented on #747
We are not able to reproduce the bug

- Can you please provide the manifest (add-in) which is failing for you ?

- Does it fail for any specific account or is general.

[2020-08-08 17:56] exextoc commented on #747
Not able to reproduce it.
Have attached the add-in I have been trying with.
The bug seems to be more than one year old.

Regards
Rajesh Kr Jha
________________________________
From: RAJESH KUMAR JHA <notifications@github.com>
Sent: 08 August 2020 23:23
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@microsoft.com>; Mention <mention@noreply.github.co

[2020-08-09 05:03] sanjaygovindan commented on #1145
@Libinjoseph  - Also experiencing the same thing.
Trying to find documentation for this function but can't seem to locate any reference.

Only thing I can find is this:
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins#get-errors-trying-to-download-a-pdf-file

[2020-08-09 12:00] ghost commented on #297
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-09 12:52] josiasmueller opened #1323 "Word: range.select() doesn't work in office.js Add-in with Word 2016"
I have an issue with my Word-office.js-Add-in, implemented with Vue.js.

When I call range.select() in my Win10 & Word 2016 setup the selection isn't changed. As far as I can tell nothing happens, not even an error is thrown. According to the documentation that function is in API set WordApi 1.1 so should be a supported function for Word 2016, right?

My word version: 16.0.4266.1001. This can be r

[2020-08-09 17:19] abhsha commented on #1301
Thanks Team. I will verify this solution.

[2020-08-09 20:20] Shepherd-rocks commented on #747
Dear Rajesh,

Unfortunately, the attached add-in didn’t reach me. Can you provide your code & manifest?

Cheers,
Thomas

Von: Outlook Add-ins Team - MSFT <notifications@github.com>
Antworten an: OfficeDev/office-js <reply@reply.github.com>
Datum: Samstag, 8. August 2020 um 19:57
An: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Thomas Schäfer <ths@shepherd.rocks>, Mention <mention@noreply

[2020-08-10 03:11] SWei1234 commented on #1304
@exextoc
We have tried the steps from Microsoft suggestion:
Add shared calendar to 'Open these additional mailboxes' .
Now Office.context.mailbox.item.getSharedPropertiesAsync is not undefined any more.
But return
name: "API Not Supported", Message：“This browser does not support the requested API”  code:5009
(manifest permission: ReadWriteItem , delegate permission is editor , both tried beta and

[2020-08-10 03:32] cdmdotnet commented on #1313
Appears to be working now... would be great if there were clear instructions on how to use a set version of the scripts to avoid these types of issues being inflicted on developers again... but I've raised that in a separate ticket https://github.com/OfficeDev/office-js/issues/1319

[2020-08-10 03:32] #1313 closed, assigned to nobody

[2020-08-10 04:20] shyambhiogade commented on #1297
@keyur32 looks like my question is not understood correctly. your second point is somewhat related to what i am asking for but does not answer. let me try to explain it again, also do read my question again and the comment i gave after that.

following is the image of manifest file of my addin, My addin after loading in the excel shows web interface to allow enterprise user to login. to login user

[2020-08-10 08:15] alexnb11 commented on #297
@exextoc Hi, I checker, it is still persistent.

[2020-08-10 08:16] alexnb11 commented on #297
@exextoc you can see this bug on macbook only.

[2020-08-10 12:57] lumine2008 commented on #1318
Thanks @thulium3 for reporting this issue to us, it looks like a bug, I created a bug(4367885) to track this issue.
However, we tried online PROD and find 100% repro when has worksheet protected, however, it is not repro a non-protection sheet in the workbook.
would you please share with us a) your sample workbook and b) your repro script. we would like to validate our side. thanks

[2020-08-10 13:28] thulium3 commented on #1318
Hi @lumine2008
unfortunately I cannot share the workbook and code as it is internal stuff from my work.
I used a code snippet from help pages to set the custom properties. Now I changed it to use field 'subject' instead. This works fine Online and also on local Excel:
`await Excel.run(async context => {
      let docProperties = context.workbook.properties;
      docProperties.subject = JSON.strin

[2020-08-10 14:18] libjosep opened #1324 "How to open excel from word using office.js"
I have the contents for an excel file in base64 format in word. How can I create and open an excel file with this content using office.js

[2020-08-10 17:00] ghost commented on #787
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-08-10 17:00] #787 closed, assigned to macOutlookExtensibility

[2020-08-10 17:55] cghaddar commented on #1259
The tweak you made does indeed eliminate the #N/A error, however the custom functions do not seem to be running in a shared runtime environment after the tweak.  If I attempt to call Excel APIs from any custom function it will throw "Excel is undefined". For example, if you try the example described here
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function

[2020-08-10 18:08] bmgomg commented on #1259
The tweak (a hack, really) only allowed me to work around the "#N/A" problem. I can call my custom functions now and use full CORS, which was my only goal. I don't pretend that I found a real solution, and I'm not trying to use any Excel APIs, sorry.

[2020-08-10 18:30] lindalu-MSFT commented on #1314
Hi, sorry for the delayed response! We're a bit short on resources this week due to vacations. I assigned this to the Excel engineerign team to investigate. Thanks, linda

[2020-08-10 18:44] lindalu-MSFT commented on #1320
@AlexJerabek Hi Alex, is this something that you can help us triage? Also, should this be moved to the office-scripts repo or is it something for engineering to look at?

[2020-08-10 18:48] AlexJerabek commented on #1320
@lindalu-MSFT If there's a behavior difference between Mac and Online, this is definitely something the product team should investigate. @sumurthy and @lumine2008 are the right people to assign to this.

Also, this is not Office Scripts related. While the naming is confusing in this case, Script Lab only uses the Office JavaScript APIs. It has no association with Office Scripts.

[2020-08-10 20:11] alison-mk commented on #1323
Hi @josiasmueller, thank you for submitting this issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2020-08-10 20:21] alison-mk commented on #1317
Hi @intellectyxArria, thank you for submitting this network speed issue! I've assigned it to the engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2020-08-10 20:28] alison-mk commented on #1321
Hi @SWei1234, thank you for submitting this issue! I've assigned it to the Mac Outlook engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2020-08-10 22:36] alison-mk commented on #1324
Hi @Libinjoseph, thank you for submitting! We use Github issues to report bugs with the product, and it looks like you are asking a more general programming question. For programming questions, we suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question. Stack Overflow has an active community of d

[2020-08-10 22:36] #1324 closed, assigned to nobody

[2020-08-10 22:40] alison-mk commented on #1322
Hi @ArashMotamedi, thanks for using add-ins! We use Github issues to report bugs with the product, and it looks like you are requesting a feature. For feature requests, I recommend submitting via [UserVoice](https://officespdev.uservoice.com/). We use UserVoice to prioritize community requests for addition to the product. If the community also needs the feature and upvotes your request, it'll be m

[2020-08-10 22:40] #1322 closed, assigned to nobody

[2020-08-10 23:04] lumine2008 commented on #1314
It looks to me like your add-in is hitting the [payload size limit](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/common-coding-issues#excel-data-transfer-limits), would you please try to make the json object smaller and try it again?

[2020-08-10 23:18] lumine2008 commented on #1320
I just try to repro on my Mac, but it seems not repro, here is my screenshot, what's the version of your mac?
I am using 16.39, is this issue 100% repro in your side?
![image](https://user-images.githubusercontent.com/26398035/89840387-b5d45d80-dba2-11ea-9c45-fd6434cf8f2e.png)

[2020-08-11 00:14] Lilyliu123 commented on #1314
I did try that, making the json object smaller, and it did work. No issue with the smaller json object.

[2020-08-11 00:24] lumine2008 commented on #1314
This is great, thanks Lily for your confirmation

[2020-08-11 00:53] Lilyliu123 commented on #1314
Thanks Raymond @lumine2008.
Is this still something you will fix or I should read the [payload size limit](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/common-coding-issues#excel-data-transfer-limits)  and make the changes to my code?

[2020-08-11 01:44] lumine2008 commented on #1314
The payload size limit is the limitation that set by Excel online, we could not make it unlimited, but we are thinking about to provide a more meaningful error code when hitting payload size limit. So yes, you would need to change your code.

[2020-08-11 02:04] Lilyliu123 commented on #1314
@lumine2008 Thanks Raymond.
I have changed my code following the instructions on the page [payload size limit](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/common-coding-issues#excel-data-transfer-limits) you provided. It worked.

[2020-08-11 02:05] Lilyliu123 commented on #1314
Closed the issue as the issue got fixed with the solution for payload size limit.

[2020-08-11 02:05] #1314 closed, assigned to lumine2008

[2020-08-11 07:20] exextoc commented on #1200
@bchenhs With addFileAttachmentFromBase64Async and isInline = true, we need to use any set body related APIs to insert the image inline. addFileAttachmentFromBase64Async() API itself does not insert the image inline (inline=true).

For example: You can use setAsync() and mention your image with "cid" syntax as below to insert the image inline.

		Office.context.mailbox.item.body.setAsync(
			"<p>H

[2020-08-11 08:12] 4tti commented on #794
@RuoyingLiang  can we get information in which version it was fixed cause I checked the behavior recently and it seems to be same (at least in separated runtime).

[2020-08-11 08:53] exextoc commented on #1308
@as-aaron Can you please check this is fixed for you now? Thanks.

[2020-08-11 09:00] ghost commented on #212
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-11 11:39] SWei1234 commented on #1312
I also met this problem on both safari and chrome. Hope this will be fix soon.

[2020-08-11 15:58] liamtim commented on #1116
@exextoc @macOutlookExtensibility Can you provide us with an update? We are without this functionality for 3.5 months now.

[2020-08-11 16:27] bchenhs commented on #1200
Hi @exextoc Thanks for the snippet. Yes, the inline image appears after calling the setAsync. I apologize for the derail.

[2020-08-11 16:48] jak-hammond commented on #1236
I've tested it on the original repro app I submitted and can confirm this issue appears to be fixed, thanks again 👍

[2020-08-11 20:21] alison-mk commented on #1319
Hi @cdmdotnet, thank you for using Office.js. I don't have an answer to this question, but I'd really like to get one for you, so I'll loop in a couple other team members. @nokafor, @lliu113, or @AbidRahman-MSFT, can you help answer this question about the Office.js CDN versioning process?

Thanks!
Alison

[2020-08-11 20:58] shyambhiogade commented on #1297
any update please

[2020-08-11 21:56] bjornbacklund commented on #1200
Works like a charm now. Thanks.

---bjorn

From: Outlook Add-ins Team - MSFT <notifications@github.com>
Sent: Tuesday, August 11, 2020 12:21 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: bjornbacklund <bjorn@backlund.org>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-js] addFileAttachmentFromBase64Async with isInline option doesn't work (#1200)

@bchenhs <https

[2020-08-12 04:07] JuaneloJuanelo commented on #996
@jlevenssfdc this feature is in preview now. if you install the latest insider fast you will see that all the display methods now have an Async flavor you can use to see if the item exists or not. (with a callback) i.e. Office.context.mailbox.displayAppointmentFormAsync(ewsID, function(result) .....

[2020-08-12 05:19] exextoc commented on #1200
Thanks for confirming @bchenhs.

You had also mentioned about 'addItemAttachmentAsync' API. Is that working fine now? Note that "isInline" is not an option for this API. So, trying to understand what was the problem/error with this API usage.

[2020-08-12 06:21] aantimengocom opened #1326 "When hosted officeaddin site is down."
Hi,

In a scenario that an Outlook Addin needs triggering the "OnSend" event - the manifest looks for the configured implementation.. but what happens if the implementation for the Command URL is not available -say the site hosting the implementation is not available? at the moment for me it looks like it will no longer be possible to send emails unless you disable the office addin. - what would b

[2020-08-12 06:29] as-aaron commented on #1308
Appears fixed for me 👍 Thanks

[2020-08-12 06:39] exextoc commented on #1312
Apologies for the delay. We are working on fixing this. Fix will be out soon.

[2020-08-12 06:41] SWei1234 commented on #1312
@exextoc Cool!  : )

[2020-08-12 07:08] exextoc commented on #1308
Thanks @as-aaron for confirming. We are closing this issue now.

[2020-08-12 07:08] #1308 closed, assigned to nobody

[2020-08-12 07:30] exextoc commented on #1236
Thanks @jak-hammond for confirming.

[2020-08-12 08:26] SWei1234 commented on #1321
@alison-mk
Thanks, really appreciate it.
And I met another problem but seems is the same root cause :
When I set a table with html format to body. An extra table html code will be generated.
If necessary i can provide code and recording. If possible have an online meeting will be perfect!
Thanks

[2020-08-12 11:09] #1309 closed, assigned to nobody

[2020-08-12 11:48] exextoc commented on #297
@alexnb11 Apologies for delay in response. We tested this again on our end with Outlook Mac (version: 16.41 (20081001), we are not able to reproduce this issue. We used your addin from GitHub for this testing.

Thanks for uploading repro addin on GitHub for this purpose.

Are you testing with latest version of Outlook? What version you are using?

[2020-08-12 11:49] jurisjansons opened #1327 "[Outlook] Can't set start/end time of recurring meeting"
For normal events everything works fine, when creating recurring meeting `start.setAsync()` and `end.setAsync()` fails.

## Expected Behavior
Time is set for recurring meeting

## Current Behavior
Internal Error

## Steps to Reproduce, or Live Example
Open new meeting,
Create any recurrence pattern,
Use `Office.context.mailbox.item.start.setAsync()` or `Office.context.mailbox.item.end.setAsync()`

[2020-08-12 12:35] alexnb11 commented on #297
@exextoc I just have checked it again. It works well. So looks like it was fixed. I think we can close this bug. Thank you.

[2020-08-12 12:40] exextoc commented on #297
Thanks @alexnb11 for confirming. Closing this issue.

[2020-08-12 12:40] #297 closed, assigned to exextoc

[2020-08-12 15:35] sumurthy commented on #1319
Office.js CDN doesn't offer versions. The APIs are expected to work on all future Office versions. Unless communicated explicitly via docs, IntelliSence, etc. ahead of time, the API behavior doesn't change. Yes, sometimes we do see bugs in the library, which we act on as soon as we discover. For testing purpose, one can always use http://appsforoffice.microsoft.com/lib/beta/hosted/office.js versio

[2020-08-12 15:51] pbl2108 commented on #1184
Thanks again @zlatko-michailov!

We tried the shared runtime at some point and we were not able to get it working successfully. I am not sure if the issue we ran into was the same limitation of 60 seconds, or something else. We will try again.

Excel functions defined with the JavaScript API are very powerful, and we have been using them since the early versions when they became available.

@Junie

[2020-08-12 16:11] shyambhiogade commented on #1297
any update please

[2020-08-12 16:31] keyur32 commented on #1297
Hi @shyambhiogade, we'll work with @weshi  and reach out to you directly.  Unfortunately, the app domain URLs need to be an exact match. That's why we suggest creating seperate manifest per customer and have them use centralized deployment to deploy their add-in.

[2020-08-12 18:03] shyambhiogade commented on #1297
@keyur32 that will not be feasible as there could be lot of customer and we want to have one place that is office store to get them the office addin, i do not see this issue in web version of excel. any workaround on this.

[2020-08-12 19:10] a114383 commented on #1315
Platform: PC Desktop
Host: Excel
Office version number:
Office 365
![image](https://user-images.githubusercontent.com/32073052/90057099-e8b74800-dcad-11ea-9703-cba4aa5ba7f9.png)
Operating System: Windows 10 1909

Our company recently upgraded a few machines to 1909 and have seen the addins loading forever:

![image](https://user-images.githubusercontent.com/32073052/90056825-7e060c80-dcad-11ea-9e7

[2020-08-12 19:36] JunielKatarn commented on #1184
@pbl2108 I have developed and submitted a fix in our JS runtime.
It should be available in the next monthly Office update.

The timeout will be settable using [XMLHttpRequest.timeout](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/timeout).

[2020-08-13 03:23] abralock opened #1328 "[Excel] Excel office table onSelectionChanged is not get trigger anymore as long as drop down get click on task pane."
We found an issue by using Window 10 (V1909) - latest &  Excel Office version  2002 & Edge version 84.0.522.59
on excel web add in. As long as drop down get click on task pane, excel office table onSelectionChanged is not get trigger anymore. If without drop down selection, onSelectionChanged  is well respect. However, this behaviour works well on Office JS with IE but not in Edge.

## Expected Be

[2020-08-13 04:00] rajha-conga commented on #1296
@weshi : Any update on this ?

[2020-08-13 13:06] pbl2108 commented on #1184
That's great news @JunielKatarn! Thanks for addressing the issue. We will be on the lookout for the update.

[2020-08-13 14:21] nsakar commented on #1328
Please provide a resolution asap. The dropdown list html control is not working in edge and consequently breaking web addin functionality.

[2020-08-13 16:57] alison-mk commented on #1328
Hi @abralock and @nsakar, thank you for submitting this issue and providing so many details! I've assigned it to the Excel engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2020-08-13 19:17] mmoore-3lc commented on #1141
Hello,

Is there an update to this issue?

[2020-08-13 19:48] exextoc commented on #1327
This is by deisgn in win32. You'll need to use the recurrence office js [recurrence](https://docs.microsoft.com/en-us/javascript/api/outlook/office.recurrence?view=outlook-js-1.8) API to be able to make changes to the recurring meeting.

[2020-08-13 19:53] exextoc commented on #1326
Unfortunately this is by design. OnSend was developed for mission critical scenarios where say you didn't want the email to be sent out without being validated first. At the same time we do understand the need for a so called "soft" on send feature that allows other scenarios like what you are trying to achieve. This feature is currently not available in the product. We track Outlook add-in featur

[2020-08-13 22:04] Rinzwind commented on #1320
OK, using v16.39, I can also no longer reproduce it. My apologies, I had not noticed that v16.28 was not the latest version. I assumed App Store was keeping it updated, but for some reason it had stopped doing so (I’m not sure what was wrong, while System Profiler showed “Mac App Store” as the source of “/Applications/Microsoft Excel.app”, App Store listed Microsoft Excel as an app I could “Instal

[2020-08-13 22:04] #1320 closed, assigned to sumurthy, lumine2008

[2020-08-13 23:43] Rinzwind opened #1329 "Excel: ‘TableCollection.add’ triggers redundant ‘Workbook.onSelectionChanged’ event on Excel for Mac"
Using `TableCollection.add` seems to trigger a redundant `Workbook.onSelectionChanged` event in Excel for Mac (redundant as the selection is not changed). This does not seem to happen in Office Online.

See the Script Lab snippet below and the following screenshots: on the Excel for Mac screenshot, the redundant event is underlined (*“Handled onSelectionChanged - selected range address is: Sheet1!

[2020-08-14 07:09] MennoAret commented on #714
I had the same issue that the itemId is returning the seriesMaster ID instead of the single occurrence event ID. I upgraded to version 16.41 (20081200) but the itemId is still from the series instead of the occurrence. @exextoc Do you know more about this? Was the fix rolled back?

[2020-08-14 07:17] jurisjansons commented on #1327
Do I need to change times using `Office.context.mailbox.item.recurrence.setAsync()` ? I see that there is property `seriesTime` in documentation and my IntelliSense is giving me this property with all its methods, but when I try to access it `Office.context.mailbox.item.recurrence.seriesTime` is `undefined`. I have set API Mailbox 1.8 in my manfiest.

This line: `Office.context.mailbox.item.recurr

[2020-08-14 09:28] exextoc commented on #1116
Apologies for this delay. We are actively working on this and will be able to provide update soon on this.

[2020-08-14 09:29] exextoc commented on #1304
Apologies for this delay. We are actively working on this and will be able to provide update soon on this.

[2020-08-14 09:50] SWei1234 commented on #1304
@exextoc
It's okay. Really appreciate your support. : )

[2020-08-14 09:56] exextoc commented on #1200
Closing this issue as main query is resolved. Please reopen if there is anything pending.

[2020-08-14 09:56] #1200 closed, assigned to exextoc

[2020-08-14 11:00] ghost commented on #212
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-08-14 11:00] #212 closed, assigned to exextoc

[2020-08-14 12:15] mihirsn opened #1330 "[Outlook] Dialog for Outlook web addin not rendering fonts in Outlook windows client"
We are developing Outlook Web Addin. With the help of `Office.context.ui.displayDialogAsync` we are opening dialog box where our HTML is getting rendered. This HTML is rendering perfectly for all clients such as browsers and Outlook for Mac but problem is with Outlook windows client.
Issue is with font icons which are not getting rendered. We have pre-downloaded font icons from [icomoon](https://i

[2020-08-14 13:31] exextoc commented on #1311
Hi Sarea,

If addin A using GUID G1 and version say 1.0.0 is already installed and then you are trying to install addin B using same GUID and same version 1.0.0,it is expected that installation call will fail.This is because you can't deploy the same addin(with same GUID and same version)twice.Either you should upgrade the same addin.In this case you have to upgrade the version of already installe

[2020-08-14 14:48] PrashanthReddy7 opened #1331 "How set PR_SECURITY_FLAGS MAPI properties in outlook add-in"
How to set emails PR_SECURITY_FLAGS (http://schemas.microsoft.com/mapi/proptag/0x6E010003) property with any of the below values.

NONE | 0x0000 | Message has no security
ENCRYPTED | 0x0001 | Message is encrypted
SIGNED | 0x0002 | Message is signed
SIGNED \| ENCRYPTED | 0x0003 | Message is signed and encrypted

Used Custome properties , but didnt work out.
Please help me here

[2020-08-14 15:55] nsakar commented on #1328
Any updates on this issue?

[2020-08-14 18:59] alison-mk commented on #1330
Hi @mihirsn, thank you for submitting this issue! I've assigned it to the Outlook engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2020-08-14 19:04] alison-mk commented on #1329
Hi @Rinzwind, thank you for submitting this issue and providing so much information! I've assigned it to the Excel engineering team who will be able to provide you with more information or help resolve the issue.

Cheers,
Alison

[2020-08-14 19:09] alison-mk commented on #1331
Hi @PrashanthReddy7, thank you for using add-ins! We use Github issues to report bugs with the product, and it looks like you are asking a more general Outlook add-ins programming question. For programming questions, we suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and see if your question has already been asked or ask a new question. Stack Overflow has a

[2020-08-14 19:09] #1331 closed, assigned to nobody

[2020-08-14 19:44] exextoc commented on #1327
That is correct. You'll first need to do a getAsync on the item.recurrence to get the recurrence Object, then you can access the seriesTime object from the recurrence, set it's duration/startTime/etc and the do a recurrence.setAsync to reflect the changes. As an example, the following sample will get the recurrence and change the duration of the recurring meeting to 2 hours.

Office.context.mailbo

[2020-08-14 22:02] exextoc commented on #1304
Marked an already opened bug as active for this issue

Bug 1610666<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fo365exchange.visualstudio.com%2F959adb23-f323-4d52-8203-ff34e5cbeefa%2F_workitems%2Fedit%2F1610666&data=04%7C01%7Canoberoi%40microsoft.com%7C02f1e6d60bbe446a540508d837cca1e4%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637320699322883371%7CUnknown%7CTWFpbGZsb3d8eyJWI

[2020-08-14 22:03] lumine2008 commented on #1329
Thanks @Rinzwind,  It looks to me like a bug, the behavior on Windows and Mac is consistent, but Excel online is different. I have created a bug (4382892) to track this issue.

[2020-08-14 23:06] jargil commented on #1328
Duplicate of #1100
Fixed in build 16.0.13001, version 2006. I added notes for a workaround if you cannot update to the latest Office builds.

[2020-08-14 23:06] #1328 closed, assigned to jargil

[2020-08-15 04:42] lliu113 commented on #1186
@rvskrishnaprasad  - sorry for the delay. Is the issue here that adding an additional taskpane adds a footer to the taskpane box? Are you able to share a screenshot which shows the footer? I'm unable to repro it on my side.

Thanks!

[2020-08-15 10:16] uangyydev commented on #1259
Mybe you can add the following code in the \<head\> section in taskpane.html file to add your function.js to your taskpane.html, and rebuild the project.
[code]
instead of
[code]

It works to me.

[2020-08-16 12:03] cghaddar commented on #1259
I undid elterman tweak and added <script src="functions.js"></script> to the taskpane.html. This  made it work finally!.  Thank you much uangyydev for pointing this out. This modification is required but has been left out in the MS docs article.
I will leave this issue open for someone at MS to take notice and update the docs.

[2020-08-16 21:00] ghost commented on #1315
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-17 03:49] #1326 closed, assigned to exextoc

[2020-08-17 05:43] exextoc commented on #714
Reopening this GitHub issue.

[2020-08-17 06:31] jurisjansons commented on #1327
Thank you for your time. This worked!

[2020-08-17 06:31] #1327 closed, assigned to exextoc

[2020-08-17 08:00] armukh commented on #1305
@niteeshkr20
Our engineers were not able to repro this issue using the Add-in shared by you. Can you please confirm if the issue is still there, is so please share the Mac Outlook version number? Also, it would be helpful if you can provide the exact text you are using that will help us to repro the bug.

[2020-08-17 08:34] exextoc commented on #1305
@niteeshkr20
Our engineers were not able to repro this issue using the Add-in shared by you. Can you please confirm if the issue is still there, is so please share the Mac Outlook version number? Also, it would be helpful if you can provide the exact text you are using that will help us to repro the bug.

[2020-08-17 09:21] niteeshkr20 commented on #1305
Hi @exextoc,

Not able to reproduce the issue anymore.

Thanks for the fix 👍

[2020-08-17 09:21] #1305 closed, assigned to nobody

[2020-08-17 12:15] genderapp commented on #1323
@weshi If we can provide more information, please let us know.

This issue is very important for us.

[2020-08-17 17:54] TDeBose opened #1332 "Word: In LMO, we use the LastRenderedPageBreak element from the OOXML to determine the page numbers and are not seeing this reliably"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Contex

[2020-08-17 18:22] liamtim commented on #1116
@exextoc Thank you for confirming. Looking forward to receiving a timeline.

[2020-08-17 19:01] lindalu-MSFT commented on #1332
Hi @TDeBose In order for us to triage this issue, we need all the information in the Template filled in:
Link to live example, your environment details, steps to repro. Please complete and then I can assign to our product team to investigate.

[2020-08-17 19:38] TDeBose commented on #1332
[485561_Escalante_OpenXML.TXT](https://github.com/OfficeDev/office-js/files/5086412/485561_Escalante_OpenXML.TXT)
![After running Prepare TOA - page numbers are correct](https://user-images.githubusercontent.com/69813254/90436519-d61e8380-e09e-11ea-9154-2ce7ee82ff8f.png)
[Escalante_OpenXML_2.txt](https://github.com/OfficeDev/office-js/files/5086422/Escalante_OpenXML_2.txt)
![Gillespie after runnin

[2020-08-17 19:39] TDeBose commented on #1332
Tried to upload what I could but some won't upload that file format so also sending in email

[2020-08-17 19:42] TDeBose commented on #1332
I tired to provide that in the tool but guess it didn’t take all due to file format . See also email attached with more info as well as looping in my Dev team to provide any additional steps, files etc.

Madhu/Marvel  this is related to VSTS Bug 485561<https://tfs-glo-lexisadvance.visualstudio.com/NL/_workitems/edit/485561>

Be Safe-Be Well…Tina
202-253-5940

From: Linda Lu Cannon <notifications@g

[2020-08-17 21:00] ghost commented on #1301
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-18 05:00] lindalu-MSFT commented on #1332
Your Environment
Platform [PC desktop, Mac, iOS, Office on the web]: ______
Host [Excel, Word, PowerPoint, etc.]: ______
Office version number: ______
Operating System: ______
Browser (if using Office on the web): ______

[2020-08-18 08:08] SWei1234 commented on #1312
Hi @exextoc
Can we have an ETA about this?
Or which month will Microsoft release this?
Thanks

[2020-08-18 13:54] t-soares commented on #1312
I am also facing the same issue with an Outlook add-in.

[2020-08-18 14:24] SWei1234 opened #1333 "[Outlook] Can't save properties in some shared calendar group"
When we tried save some data to properties in calendar under  'People's calendars' .
Save properties will never be success.
Is this by design?
We tried save properties in calendar owner's calendar, it works fine.And this only happened on browser.[office online]

## Expected Behavior
Can save properties success or it's by design.

## Current Behavior
Can't save any data to property.

## Your Enviro

[2020-08-18 21:39] a114383 opened #1334 "OfficeJS Excel SouceLocation behind auth proxy loading forever after upgrading to Windows 1909"
I have an application hosted on a cloud provider which sits behind a reverse proxy (also hosted on the cloud provider) responsible for organizational ADFS.

After adding it to our trust center we've used a `ContentApp` type OfficeJS Excel plugin without problem:
[code]

After upgrading to Windows 1909 we've noticed some users experiencing the addins loading forever:
![image](https://user-images.gi

[2020-08-18 22:56] exextoc commented on #1330
In an effort to pin down the repro, do you have a simple HTML page that we can try to load and see if we can repro the issue? Does this also repro in the *taskpane* or just the dialog?

Do you have some screenshots of how this looks, and how you expect it to look?

Can you also provide the Windows Build? (the Windows Build affects whether or not the add-in is rendered in Edge or IE) (https://devel

[2020-08-19 04:38] abhsha commented on #1301
I verified the solution. The changes works for IE.

Thanks for all the help.

[2020-08-19 07:19] georgechr opened #1335 "Full CORS not working for custom functions in shared runtime"
We have a custom functions add-in which makes API requests. The request is made to a same-domain URL and is always re-directed  (based on IP) to a sub-domain URL (e.g. request is made to api.mydomain.com and then redirected to api-a.mydomain.com).

The request carries some basic headers: authorization: bearer..., content-type: application/json and accept: application/json.
This didn't use to work

[2020-08-19 07:49] mihirsn commented on #1330
Thanks for the reply and following are the details:

Yes, here is drive link you can use to repro - [sample code](https://drive.google.com/file/d/1TE96RanXWd0vssjAhx3tftm7hOtlj8N-/view?usp=sharing)

Yes, able to reproduce the issue on _taskpane_ as well with the same sample code

Current behaviour

![current-behaviour](https://user-images.githubusercontent.com/42827526/90606136-0429d200-e21d-11ea-

[2020-08-19 08:15] SWei1234 commented on #1013
@exextoc
Can this version support this feature?Outlook 2016 (16.0.5017.1000) MSO (16.0.5017.1000) 32-bit
 I think this is outlook 2016 so it just support to 1.4 set?
Thanks

[2020-08-19 08:30] RuoyingLiang commented on #1335
Could you try to add  Access-Control-Allow-Origin  to response header to enable Cors and let us know if it can solve the problem?

[2020-08-19 09:46] Murugananths opened #1336 "displayDialogAsync dialog not returning response in Shared runtime with ExecuteAction Function"
## Expected Behavior

We are using displayDialogAsync dialog for Login authentication in Excel add-in using OfficeJS and below are the expectations.

1) We are using displayDialogAsync dialog box in shared runtime (to achieve enable/disable of ribbon commands) with ExecuteFunction Action from manifest file.

2) As a user if clicks Login ribbon command in Excel, dialog is getting opened with our on

[2020-08-19 10:10] georgechr commented on #1335
This is happening in development mode where I have a local webback dev server with a dev proxy. It should just redirect.

[2020-08-19 19:22] exextoc commented on #1013
No that build (16.0.5017.1000) does not support this feature.

[2020-08-19 20:35] exextoc commented on #1330
Before we try and repro locally the Windows Build you are on indicates that the add-in will load in IE. Could this be a CSS incompatibility issue with IE? (Does the issue repro when you use Outlook Web Access through Internet Explorer?)

[2020-08-19 23:00] ghost commented on #1315
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-08-19 23:00] #1315 closed, assigned to nobody

[2020-08-20 02:59] phtai commented on #1245
@aldvintumbelaka @xtianfelix Thanks for reporting the issue. I tried to repro the issue but failed.

Do you have multiple work accounts logged in after profile sync is turned on? To verify that you can go to https://www.office.com/login?es=Click and check if it shows a "Pick an account" interface with multiple options.

If you do, this is a known issue and we are already working to fix it. Otherwi

[2020-08-20 04:56] mihirsn commented on #1330
It is working as expected on IE, so may not be CSS incompatibility issue

[2020-08-20 05:24] exextoc commented on #1333
Are you trying to save any custom property? Do you have permission to do so? We are trying to understand the exact scenario in order to repro the issue if you can share manifest or code-snippet, it will be helpful.

[2020-08-20 07:06] #1301 closed, assigned to exextoc

[2020-08-20 07:39] SWei1234 commented on #1333
Hi @exextoc
Are you trying to save any custom property? --- Yes
Do you have permission to do so? --- Yes, We set both read and write permission in manifest file, like below:
![image](https://user-images.githubusercontent.com/15980696/90730707-21cd6900-e2fb-11ea-9700-1a1af07f0b84.png)
And I think the pic below will be helpful:
![image](https://user-images.githubusercontent.com/15980696/90730840-619

[2020-08-20 10:49] serjant commented on #1299
I had reported about this two years ago, and they have just closed the ticket after a year of the investigation.

[2020-08-20 10:59] serjant opened #1337 "Core Properties open xml package part is missing"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am setting the body as OOXML, then extract the content using **context.document.body.getOoxml()**  and it turns out that the coreProperties contains dummy data instead of my actual

[2020-08-20 11:25] georgechr commented on #1335
@RuoyingLiang in addition to my comment above it would be worth mentioning that there is code accessing the API inside the taskpane and that gets redirected just fine. And the Runtime element inside manifest.xml is referencing the same resource ID for both taskpane and functions.

Is there something I am missing here?

[2020-08-20 18:17] cbishop-fv commented on #1239
Thanks! Any updates on this?

[2020-08-20 19:38] exextoc commented on #1330
I tried loading your HTML into Outlook in both Edge and IE, and the icons showed up for me. Is there perhaps some setting on your server or IE on that machine that is preventhing the .ico files from being donwloaded? (try using fiddler to make sure they are retrieved) Updating windows may also help? (or trying on different machines.

![image](https://user-images.githubusercontent.com/28549921/9081

[2020-08-21 05:10] mihirsn commented on #1330
For me also it is working fine if I use Outlook web access through IE. But somehow Outlook windows client not showing up these icons.
I am just confused a bit, are these screenshots from Outlook windows native client or IE/Edge browsers ?

[2020-08-21 06:52] exextoc commented on #714
Our engineers have personally checked it with the with build number 16.41 (20081204) and it seems to be perfectly working. Are you still facing this issue? Can you please confirm how you are checking the build number?

[2020-08-21 06:58] exextoc commented on #1333
Can you please share the manifest file for the repro purpose?

[2020-08-21 07:27] hello-chenchen opened #1338 "could outlook add-in support login to browser and then launch back to outlook add-in(which will callback some message from browser)"
as we know, office build-in browser has some limitation for example: security.

when we call **Office.context.ui.displayDialogAsync**, we will open a new tab in build-in browser. but there are some limitation for this dialog.

I have a login sso case for explain the limitation:
right now, when the add-in want to login to sso, we need call **Office.context.ui.displayDialogAsync**, and then location

[2020-08-21 07:50] SWei1234 commented on #1333
@exextoc
You can get the manifest from zoom in store.

[2020-08-21 07:58] SWei1234 commented on #1333
@exextoc
Why you need the whole manifest file? I can show any tag you want to know in that file or send it to your email.
But share the manifest in public, I don't think this is a good idea.
You can try below steps if you can't replicate this problem:
1. open a new meeting,then use add-in and save properties
2. click 'save' button save meetin.
3. open saved meeting in step 2, and try read properti

[2020-08-21 12:03] tjcrowder opened #1339 "Is there an ETA for when `getAccessToken` will be out of preview?"
Is there an ETA for when `getAccessToken` will be out of preview and available on the semi-annual update channel? (For Office365 on Windows and on the web.) Our IT department won't allow the preview channel or monthly updates.

Our understanding is that right now you have to:

* be on the Preview channel
* have Office v1809 or higher
* have Windows 10 v1903 or higher

The last two aren't an issue;

[2020-08-21 13:54] liamtim commented on #1116
@exextoc, any updates on a timeline for this?

[2020-08-21 17:15] exextoc commented on #1330
Sorry my screenshots were from Outlook Windows Native Client. Depending on your version of Office/Windows. The Outlook Desktop Client, can use either IE or Edge underneath to render inside the native client. In both situations, I observed the icon font being loaded.

Basically, I am currently unable to repro the bug, so I suspect there may be something else going on with your machine. (perhaps the

[2020-08-21 18:09] SanketDG commented on #1330
I belong to the same team as @mihirsn, the font files are indeed being downloaded from our own in-house server, we have confirmed this through the browser's (Chrome, Firefox, Edge) Devtools. Do you think the downloading is not happening specific to the Outlook Native Client?

At this point, this definitely looks like something is wrong on our end, what else do you think we should try out and test?

[2020-08-21 18:21] exextoc commented on #1330
My guess is something is different between the regular Browser and the browser in the client client. My wild guess is that fiddler will hopefully reveal something different between the two?

Are the font files on the server sent with a no-cache header?

Otherwise, you'll have to do some debugging/testing to figure out what may be the difference. Do different client machines / windows versions repr

[2020-08-21 18:34] SanketDG commented on #1330
They are, we have confirmed this.

Nope, it is still the same issue, but we would be willing to play with the server configuration to see if anything changes at this point.

We will try out the other suggestions and get back to you, thanks!

[2020-08-21 18:44] Rick-Kirkham commented on #1339
It released a couple of weeks ago, its out of preview. See this announcement post (and the link in it to the requirement set article):
[Announcing General Availability of Single Sign-On (SSO) for Office Add-ins](https://developer.microsoft.com/en-us/graph/blogs/announcing-general-availability-of-single-sign-on-sso-for-office-add-ins/)

I'll close this, but if you still have questions you can still

[2020-08-21 18:44] #1339 closed, assigned to Rick-Kirkham

[2020-08-21 19:49] exextoc commented on #1330
Sorry I realize I didn't clarify. Can you try not sending the "no-cache"  header. This has lead to problems in other issues before.

[2020-08-21 20:33] MennoAret commented on #714
@exextoc Thanks for your response. This is my version now, version 16.41 (20081701), noted from the "About Outlook":
![image](https://user-images.githubusercontent.com/56819904/90931449-faf75b80-e3fc-11ea-9b02-f6a534afa4d3.png)
I assume that this is a newer Outlook version than 16.41 (20072700), or not?

I still have the issue that for the occurrence meeting the itemId is returning the ID of the s

[2020-08-21 21:24] lindalu-MSFT commented on #1332
Hi @TDeBose  Can you please provide your Platform (desktop, Mac, IOS, WEb), version number, OS, and browser, if you're using web? Also, we don't understand the steps to repro your issue. Please let us know exactly what you're expecting to happen and what is actually happening. We also need the steps it takes to get the result you're getting.

I've assigned a few experts, but I know they will need

[2020-08-21 21:28] lindalu-MSFT commented on #1332
p.s. Here are questions about LastRenderedPageBreak and OOXML:

[https://stackoverflow.com/search?q=LastRenderedPageBreak](https://stackoverflow.com/search?q=LastRenderedPageBreak)

[2020-08-21 21:57] tjcrowder commented on #1339
@Rick-Kirkham - That's great! When will 2008 make the semi-annual channel? [This](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date) made it seem like 2008 would be some time before reaching that stage...? It says the semi-annual channel just recently reached 2002 (August 11th). (It also lists "Monthly Enterprise Channel" twice, 2005 and 2006, respectively.)

[2020-08-21 23:50] yuoooz opened #1340 "Word Online: createDocument(base64File) fails with 3rd-party WOPI hosts"
Dear OfficeJs dev team,
CreateDocument API is not working with 3rd-party WOPI Hosts. Calling this API results in redirect to Outage.html with reported 'Not Implemented' status code. Looks like no calls to storage are being made from Office services. The issue has been described at https://stackoverflow.com/q/63029379/795861, but no answers so far.

## Expected Behavior
A new document is created. A

[2020-08-22 00:00] yuoooz opened #1341 "Word Online: insertOoxml and insertFileFromBase64 fail with 3rd-party WOPI hosts"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Dear OfficeJS dev team,

Replacing the whole document content through insertOoxml or insertFileFromBase64 with location set to Replace does not work with 3rd-party WOPI hosts such as

[2020-08-22 18:32] mihirsn commented on #1330
Thanks, will try this and update you accordingly.

[2020-08-24 04:10] Lilyliu123 opened #1342 "Does single sign on SSO work with Azure Devops Git Rest API?"
I am using OfficeRuntime.auth.getAccessToken({ allowSignInPrompt: true }) for the single sign on. It worked well and I can get my user profile data returned.

However when I used the returned token to try to access the  [Azure Devops  Git Rest API](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/?view=azure-devops-rest-6.0) the token didn't work.

Does single sign on SSO work with Azure

[2020-08-24 07:01] glr0221 opened #1343 "Addins Not Working in Outlook-Android for several locales/language settings."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

AddIns not loading for 5 specific locales in Outlook Android.

## Expected Behavior

Addins must be successfully loaded in all locales/language settings.

## Current Behavior

Addins

[2020-08-24 07:48] donlvMSFT commented on #1340
Hi yuoooz, thanks for reaching us.

Word online doesn’t support create new document on third party host from UI, so does the API.
For online, CreateDocument API only support OneDrive & SharePoint, not other third party host.

[2020-08-24 08:01] DmitryKostochko commented on #1288
Any news about the issue?

[2020-08-24 08:17] yuoooz commented on #1340
Hi @donlvMSFT. Thank you very much for your response.

Are there any ETA or at least plans for this to be implemented?

[2020-08-24 08:24] donlvMSFT commented on #1340
No plan for now, the feature should first supported on UI, then API. If it's important to you, one suggestion is to put a request on UserVoice to ask the supportive on UI.

[2020-08-24 08:25] exextoc commented on #1288
We can reproduce the issue mentioned.
We are working on a fix and we will notify you once the fix is deployed.

[2020-08-24 11:03] Murugananths commented on #1336
Hi team,

Have you had a chance look at this issue?

[2020-08-24 12:23] lumine2008 commented on #1336
it seems related to UX areas. as I am responsible for Excel Rich API, so Looping @lliu113 who is responsible for UX Dialog. @lliu113 , Would you please take care of this issue or redirect to right person? thanks

[2020-08-24 13:24] mihirsn commented on #1330
We tried removing the "no-cache" header for font files and it is working now for Outlook Windows Native Client as well.

Thanks for the suggestion.

So should I close this issue ?

[2020-08-24 13:52] Medhyena opened #1344 "Window.location functions replaceState and pushState defined to null in OfficeJS"
The library replaces some native JavaScript functions.

## Expected Behavior
Not to replace native JavaScript functions except if it is an override to implement new features to it.

## Current Behavior
Error when using window.location.replaceState or window.location.pushState. They are defined as null and thus, breaking other libraries using these native JavaScript functions.

Please do not replac

[2020-08-24 14:30] Murugananths commented on #1336
Hi team,

Can you please forward it to Heidi Munson who is already looking into this in separate mail chain....

[2020-08-24 14:41] chucklay opened #1345 "Excel.NamedItemCollection.add causes an internal error on sync."
I currently have an add-in that loads some data and performs some general ease-of-use steps once the data is loaded
## Expected Behavior
```context.workbook.names.add(string, Excel.Range)``` should create a new named range when ```context.sync()``` is called.

## Current Behavior
Attempting to call
```context.workbook.names.add("AnyNameHere", range);``` (or the equivalent method on a worksheet's N

[2020-08-24 17:20] dbene commented on #1344
Duplicate of [#429](https://github.com/OfficeDev/office-js/issues/429)

Take a look at this [workaround from stackoverflow](https://stackoverflow.com/a/53662709/6401912).

I know it is awful that this is still not fixed, or at least added an exveption for Edge like they do for addins on android. See [Line 1901](https://github.com/OfficeDev/office-js/blob/release/dist/office.debug.js#L1901)

[2020-08-24 17:29] skavanagh-wipro commented on #1312
@exextoc any update on release timeline?   We have in production customers impacted by this.

[2020-08-24 18:51] exextoc commented on #1330
I'm glad that resolve the issue. I can go ahead and close this.

[2020-08-24 18:51] #1330 closed, assigned to exextoc

[2020-08-25 04:59] exextoc commented on #1312
The fix is ready and is being deployed, it should be available globally by 31/08

[2020-08-25 05:10] exextoc commented on #1096
Both the issues mentioned are fixed and being deployed.
Should be available globally by 31/08.

[2020-08-25 05:28] lumine2008 commented on #1345
Thanks for your post, I can repro it with your gist, a bug(4409514#) was logged for tracking this issue. Team is working on investigation on it.

[2020-08-25 06:31] exextoc commented on #1333
@SWei1234 We are unable to reproduce the issue locally, it will be helpful if you can share a screen recording or screenshots explaining the flow.
We understand that you may not be able to share the manifest here, but is it possible to share a stripped-down version of the add-in which we can use for reproducing the issue?

[2020-08-25 06:34] SWei1234 commented on #1333
Hi @exextoc
Sure, you can use zoom add-in to reproduce this problem, it will save properties after schedule a meeting.
And I'll attach recording later.
Thanks for understanding.

[2020-08-25 06:59] ghost opened #1346 "[Excel] Table.onChanged works only once with initial table data"
Tag your question with office-js or outlook-web-addins
I am creating new table and adding onChanged event like this:
[code]
All data come from API calls that read external database data.
First time when table is populated any table cell change works as it should (just change the color of changed cell), but when I delete table and create new table with a different data from other API call result on

[2020-08-25 09:01] SWei1234 commented on #1333
@exextoc
Here is my recording:
https://success.zoom.us/rec/share/1McoDpXKxExLHM_N53rVQZEHEcfBT6a81yMX-PVbzUh0NrJJ7HiVOjJKxxPAYuPB Passcode: 1@!MSv5N
Related test code:
//write something
Office.context.mailbox.item.loadCustomPropertiesAsync(function (result){
                    result.value.set("test","success");
                    result.value.saveAsync(function () {
                    return t

[2020-08-25 09:01] lumine2008 commented on #1346
Looks like you are listening to Table.onChanged event, from your UI animation and your code logic it seems you delete the table and add the table and register the onchanged event for it?

PS, in your scenario, do you think you can listen TableCollection.onChanged event?

[2020-08-25 09:41] hello-chenchen opened #1347 "Mac Outlook: client add-in not support prompt for cert selection when using adfs to doing sso login"
as the bug title, when we enable the prompt for cert selection on adfs sso login. when we login to adfs from the browser, it prompts for my certificate selection as it should, and I can select and sign in without any issue. But it seams not support the outlook client add-in. when we call **Office.context.ui.displayDialogAsync** to load our adfs login page. it doesn't prompt anything.

there is a d

[2020-08-25 09:41] ghost commented on #1346
@lumine2008 Table.onChanged creates from button click in this UI, but select event (change selection) can change window state. Yeah, I delete table and create new event, in case I want to create other table on the same sheet.
Let me try to work with TableCollection class, so I can take a look, if it will work.

[2020-08-25 09:48] hello-chenchen commented on #1347
hi @exextoc is there have any solution or suggestion here please?

[2020-08-25 12:38] isawek opened #1348 "Office.context.mailbox.userprofile doesnt work correct with shared mailboxes"
## Expected Behavior

i use Office.context.mailbox.userProfile.emailAddress to get the information and need to get the email adress of the shared mailbox.

## Current Behavior

in outlook web everything works fine but in the client i always get my userprofile instead of the profile of the current [mailbox.]

## Steps to Reproduce, or Live Example

* Additional details:
  1. just try to get the Off

[2020-08-25 12:38] ghost commented on #1346
just tried TableCollection.onChanged have the same issue

[2020-08-25 13:20] lumine2008 commented on #1346
Thanks @shss1985 , It seems your sample code cannot run as expected here in my side, would you please use the script lab to generate the gist and I would like to repro this issue in our side.
![image](https://user-images.githubusercontent.com/26398035/91179174-bd564380-e718-11ea-88d6-8360efe1c38c.png)

[2020-08-25 13:34] ghost commented on #1346
@lumine2008 Sure, let me to mimic script via script lab

[2020-08-25 17:17] yosefsun opened #1349 "Outlook: Office.context.mailbox.item.isAllDayEvent is undefined (always)"
## Expected Behavior
Office.context.mailbox.item.isAllDayEvent should return either a boolean or a IsAllDayEvent object

## Current Behavior
Always retuning undefined

## Steps to Reproduce, or Live Example
open an event
open the add-in sidepane
console.log the Office.context.mailbox.item.isAllDayEvent object

## Your Environment

* Platform : Mac OS Catalina 10.15.6
* Browser : Chrome V 84.0.4147

[2020-08-25 19:34] AltitudeApps commented on #195
Just to comment on this, the name of the method is pretty confusing.

**getItemOrNullObject** - led me to believe that I would just get back a plain old javascript null - fine, I can call the method, and if the item I request doesn't exist, it simply returns null, instead of blowing up or throwing an exception.  _Right...?_  I've seen this pattern many times.

But, nope, that's not how it works.

[2020-08-25 22:10] josiasmueller commented on #1323
Did you manage to reproduce the issue?

[2020-08-25 23:00] AltitudeApps commented on #195
Ok, I have a much clearer picture now.

@evantrimboli wrote:

The only thing that needed clarified was that another invocation of `await ctx.sync()` also needs to happen after the calls to `.getItemOrNullObject`:

[code]

I suggested improvements to the reference documentation here: https://github.com/OfficeDev/office-js-docs-reference/issues/771#issuecomment-680297856

[2020-08-26 00:00] ghost commented on #1332
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-26 00:04] exextoc commented on #1338
We have documentation for enabling single sign-on for add-ins (link below). Please take a look:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins

[2020-08-26 02:29] hello-chenchen commented on #1338
hi @exextoc , thanks for the reply.
yeah, the oauth2.0 is a perfect solution to sync sso login token.  but i still want to know is it possible for support login to native browser and then launch back to outlook add-in? cause i think the second method is more flexibility and wider applicability.
thanks

[2020-08-26 05:02] exextoc commented on #747
@Shepherd-rocks Sorry you couldn't get this to work, but as mentioned in the StackOverflow this is because of a timing issue and you can use the newer APIs [(displayReplyAllForm](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-1.8#displayreplyallform-formdata-) / [displayReplyForm](https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread

[2020-08-26 06:18] exextoc commented on #1333
@SWei1234 Thanks for sharing the recording, we will try to reproduce the issue.
If we cannot reproduce the issue, we will schedule a meeting.

[2020-08-26 06:37] exextoc commented on #1343
@glr0221 Can you share a screenshot of the issue?
Is this Android specific? or do you see this in other clients (Desktop/Online)?

Also [localization](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/localization) is completely owned by the add-in developer, meaning if developer does not provide localization for a particular language we show the default values.

[2020-08-26 06:46] ghost commented on #1346
I think the problem in <select>**select** element on HTML page. I re-do table event onChanged script lab's sample, by adding <select> element 'amount'. Initially when I run the script, it works, but any amount selection change and next table re-creation ignores any table change event and it is possible to work only with restarting Excel app.
![onChange](https://user-images.githubusercontent.com/76

[2020-08-26 07:06] sumurthy commented on #1342
The token is only valid for Microsoft Graph based APIs. The Azure Devops APIs are available under Azure REST and hence not a supported service for single sign on.

[2020-08-26 07:06] #1342 closed, assigned to nobody

[2020-08-26 07:11] sumurthy commented on #1344
This is in the backlog to be fixed.

[2020-08-26 07:11] #1344 closed, assigned to jayrathi

[2020-08-26 12:36] TDeBose commented on #1332
Please see environment info. steps to reproduce already provided
 Platform [PC desktop, Mac, iOS, Office on the web]: _PC Desktop and Mac_____
Host [Excel, Word, PowerPoint, etc.]: _Word_____
Office version number: _Office 365 ProPlus version 2002_____
Operating System: _Windows 10_____
Browser (if using Office on the web): ______

[2020-08-26 13:53] glr0221 commented on #1343
@exextoc thanks for the quick response. I will try and upload a video for you tomorrow. It's not really the values or text shown. The addins don't load at all. I tested with Slack, Evernote and our own add-in as well.

[2020-08-26 15:45] roysjosh opened #1350 "Outlook: on-send handler occasionally fails to prependAsync with addRange(): The given range isn't in document."
An add-in implementing the on-send handler experiences occasional prependAsync failures. In general it succeeds but there are seemingly random failures. I'm not sure what is different to cause the failures.

## Expected Behavior
The prependAsync call should consistently prepend our header or return an error.

## Current Behavior
Certain unknown circumstances seem to cause prependAsync to fail to a

[2020-08-26 18:54] Murugananths commented on #1336
Hi team,
Are you able to reproduce the issue?

[2020-08-26 22:03] exextoc commented on #1349
@yosefsun Can you provide us with the requested information under the **Your Environment** section?
`isAllDayEvent` is currently in preview and is available on Outlook on Windows connected to a Microsoft 365 Subscription.
Documentation here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview

[2020-08-27 00:35] malsabbagh opened #1351 "Disabling Connected Experiences and OfficeJs add-ins"
Is there a way to enable outlook add-ins to appear in Outlook Desktop clients without enabling "Connected Experiences"?

Is this based on the permissions we request in the manifest? Or are all Office add-ins hidden when this option is disabled?

It looks like "Connected Experiences" is not fully GDPR compliant, so we have some clients disabling this option, but because of this the add-in icon won'

[2020-08-27 02:20] SWei1234 commented on #1321
Hi @alison-mk
Just want to confirm, any update?
Thanks

[2020-08-27 04:08] lumine2008 commented on #1345
Hi @chucklay , it seems that you added space in names "name test" for the named item. which is not a valid naming pattern. this operation will be failed if you do it via UI. therefore you can remove the space in the name. thanks.

[2020-08-27 04:12] lumine2008 commented on #1346
but it seems i still not be able to repro this issue here in my side. i tried on my Mac and Windows Desktop. any more tips for repro this issue?

[2020-08-27 04:14] lumine2008 commented on #1334
@nkkinariwala , this issue doesnt look like in Excel JS API scope, it seems related to manifest and webview. would you please help reassign it?

[2020-08-27 04:42] nikhilism15 opened #1353 "The ContextMenuCell option doesn't show up for cells that are part of a table. Is this by design or a bug?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The `ContextMenuCell` option, if used, shows custom menu options for normal cells but if the cell is part of a table, it doesn't show up. Is this by design or a bug? If it's by design

[2020-08-27 06:10] exextoc commented on #1348
Office.context.mailbox.userProfile.emailAddress is supposed to give you the current mailbox's email address, this looks like an issue in Outlook Online not Outlook Windows.
Please share a screenshot from Outlook Online (highlighting how you are accessing shared mailbox).

For your use case, you can use [Office.context.mailbox.item.getSharedPropertiesAsync](https://docs.microsoft.com/en-us/javascri

[2020-08-27 06:17] exextoc commented on #1350
@roysjosh Please share the console logs from Mac as well, this will help us investigate the issue.
Useful link: [Debugging with Safari Web Inspector on a Mac](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#debugging-with-safari-web-inspector-on-a-mac)

[2020-08-27 07:35] tjcrowder commented on #1339
@Rick-Kirkham - Hi -- Just checking back on the above. Thanks.

[2020-08-27 07:48] glr0221 opened #1352 "Default values defined in addin manifest, are not used in some cases."
Values in DefaultLocale do not take precedence in some cases.

## Article URL

 https://docs.microsoft.com/en-us/office/dev/add-ins/develop/localization

## Issue

1. Let us setup the manifest first.  To reproduce this issue please use the following snippet in your manifest :
[code]
In the above manifest "en-AU" is the default locale of the addin. But the encompassing "en" locale is also given an

[2020-08-27 15:16] a114383 commented on #1334
Thanks turns out the redirect to ADFS which to an internal url needed to be added to the `<AppDomains>` element.  Still unclear why this wasn't needed before 1909 but regardless the problem seems to be solved.

[2020-08-27 15:16] #1334 closed, assigned to nobody

[2020-08-27 17:45] chucklay commented on #1345
Yep, that was it. Thanks! Wasn't aware of that caveat. If possible, it might be worth making that error message a bit more descriptive. As it stands there's not much to go off of.

[2020-08-27 17:45] #1345 closed, assigned to lumine2008

[2020-08-27 20:13] alison-mk commented on #1321
Hi @SWei1234, I'm sorry for the delay! @macOutlookExtensibility or @AnjanaValsan, can you take a look at this issue and help provide our customer with an answer? Thanks!

[2020-08-27 21:02] JuaneloJuanelo commented on #1351
Good question.  The answer it not yet.
Right now if Connected Experiences is disabled, the "Get Add-ins Button" is not even visible (and hence compliant since add-ins and the store cannot be used).

We are making a few adjustments to enable Add-ins IF "Optional Connected Experiences" is disabled,  the idea in such condition is to enable the Add-ins deployed by IT using Microsoft 365 Centralized De

[2020-08-27 21:02] #1351 closed, assigned to nobody

[2020-08-27 21:39] daneshd commented on #1116
I'm also still hitting the same issue from before. It'd be great to see this fixed!

[2020-08-28 08:15] exextoc commented on #673
We have fixed the bug and the fix should be available in latest builds.

[2020-08-28 08:15] #673 closed, assigned to macOutlookExtensibility

[2020-08-28 08:54] exextoc commented on #498
@kanaksony  Are you still facing this issue? We do not have a repro on our side.
We weren't able to find the Add-in "ConX Scheduler for Outlook" in store. Can you confirm if the Add-in is still available in store for installation? Please do share a screenshot of the Add-in in store if possible.
We were not able to repo this issue from our side when we tested Office.context.mailbox.displayNewAppoin

[2020-08-28 09:00] exextoc commented on #498
@kanaksony Are you still facing this issue? We do not have a repro on our side.
We weren't able to find the Add-in "ConX Scheduler for Outlook" in store. Can you confirm if the Add-in is still available in store for installation? Please do share a screenshot of the Add-in in store if possible.
We were not able to repo this issue from our side when we tested Office.context.mailbox.displayNewAppoint

[2020-08-28 09:24] jamesp-mendeley commented on #842
Of course it's fixed in 16.0.12412.10000 - that's [a version of Word that uses EdgeHTML as the runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins), and this is specifically an IE11 runtime bug.  Assuming you're on Windows 10 it can only possibly happen in builds prior to 16.0.11629. ;-)

[2020-08-28 12:05] isawek commented on #1348
No i think the error is inside Outlook Windows. In Outlook Online it works fine. I will do some screenshots and send them to you

[2020-08-28 12:29] glr0221 commented on #1343
@exextoc sorry for the delay, here is a link of the video I made for this issue :

https://youtu.be/dtZqx6R5t-8

Please tell me if the video does not load on your end, and I will find some other way to share.

[2020-08-28 12:34] isawek commented on #1348
Online i do the following steps to get to the mailbox (works fine getting the right mailbox with office js)
1. click on my profile
2. click OwaOpenTargetMailboxLink
3. enter mailbox
4. click "open" button
![Online](https://i.ibb.co/CtG6gTj/Online.png)

in Outlook Windows it doesn't work and with office js i always get my mailbox instead of the shared mailbox. Probably it is connectet with the foll

[2020-08-28 12:45] isawek commented on #1348
could you please give me the exact property name to ask for? And does the property always give me the mailbox adress? cause i use this add in with sended and received emails and "owner" sounds like it could always be the sender.

[2020-08-28 14:51] exextoc commented on #927
This issue has been fixed and you should see it on the latest build.

[2020-08-28 14:51] #927 closed, assigned to macOutlookExtensibility

[2020-08-28 14:53] exextoc commented on #754
Hi, this issue has been fixed. You should see the fix on the latest builds.

[2020-08-28 14:53] #754 closed, assigned to macOutlookExtensibility

[2020-08-28 14:53] chrisecorcoran commented on #1069
@smaremanda do you have any updates on this? Our customer support team receives a number of tickets on this every week.

[2020-08-28 15:48] ElizabethSamuel-MSFT commented on #1352
@glr0221 Thanks for raising this issue! We'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2020-08-28 17:33] exextoc commented on #395
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-08-28 18:12] ElizabethSamuel-MSFT commented on #1353
@astak15 Thanks for asking about this. We'll transfer to the office-js repo so the product team can take a look.

Thanks.

[2020-08-28 18:37] AlexJerabek commented on #1352
Hi @glr0221,

The following is from our [Localization article](https://docs.microsoft.com/office/dev/add-ins/develop/localization#examples):

Basically, if you specify one regional variant, you'll have to make an `Override` element for every one.

Since your add-in is displaying the Outlook platform's currently supported and expected behavior, I'll close this issue. I'd recommend taking the discus

[2020-08-28 18:37] #1352 closed, assigned to nobody

[2020-08-29 00:45] exextoc commented on #1338
Currently, this behavior is not supported. Please add a feature request on our [UserVoice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Feature requests are considered when we go through our planning process.

[2020-08-29 04:41] splinter commented on #1069
To all those having this issue: Are you using Angular2?

[2020-08-29 16:42] intellectyxArria commented on #1317
Hello @alison-mk some of my co-workers  found out that the application size had significant impact on loading the extension inside excel after adding the following line of code in build script we were able to fix this.

`ng build --base-href=/excel/ --prod=true --aot=true --buildOptimizer=true --extractCss=true --extractLicenses=true --optimization=true --output-hashing=all --sourceMap=true`

This

[2020-08-29 23:34] abegun opened #1354 "Custom Addin OAuth flow broken in Desktop/orginal WebView (EdgeHTML)"
We have an addin for Word that is following the guidance here (w/out SSO) to authenticate with AAD or Google:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api

The flow is working as expected in:
1. Office on the Web (i.e. Chrome, EdgeHTML, Chromium Edge)
2. Mac Word
3. Windows Word w/ WebView2 (Word Beta Channel + WebView2 SDK)
4. Windows Word w/ WebView (Ed

[2020-08-30 03:12] abegun commented on #1354
thanks for the triage @Rick-Kirkham.  @smaremanda please let me know how I can aid in investigation, or if there are things you'd like me to try on my end.

[2020-08-30 06:00] ghost commented on #747
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-08-30 11:12] genderapp commented on #1323
@alison-mk Could you maybe stress this issue again with @weshi? As mentioned. This ticket  is very important for us as Microsoft MPN Partner.

[2020-08-30 15:54] exextoc commented on #1343
Thanks for reporting this issue regarding add-in not working in some locales. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-08-30 16:21] exextoc commented on #1348
[owner](https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-1.8#owner) property represents the user, whose mailbox the item belongs to. (not the sender)

[2020-08-30 17:08] exextoc commented on #1116
The support for getSharedProperties in MessageCompose Scenario is added and it is in Insiders fast now.
With this getSharedPropertiesAsync API you will get the params targetRestUrl , targetMailBox which you can use to construct rest url and get the required information.

[2020-08-31 06:25] ghost commented on #1346
Let me to test on other clean VM.

[2020-08-31 10:11] exextoc commented on #369
@cliplicht In Outlook on Mac, the CustomTab element is not available so you'll have to use OfficeTab instead https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/customtab

[2020-08-31 10:13] ghivert commented on #1312
Hi, it looks like it’s still not upgraded. When can we expect to see the fix in production?

[2020-08-31 11:35] exextoc commented on #790
@andmaz Thanks for sharing this information. We are not able to repro this on our side.Could you please share a test account with which this issue can be reproduced?

[2020-08-31 12:15] ydock1 opened #1355 "Office.context.mailbox.item is undefined"
## Expected Behavior
 Office.context.mailbox.item should bring data

## Current Behavior
 Office.context.mailbox.item is undefined

## Steps to Reproduce, or Live Example
[code]

* Additional details:
(The Email must have 1 attachment)
1- Open a mail in a new window
2- Only happens if you preview the attachment first and then load the addin(i´ve tried with doc and pdf and i got the same result)
3-

[2020-08-31 14:18] exextoc commented on #714
@MennoAret Thanks for reporting this issue. The saveAsync() method still appears to be returning the series master ID. We will fix this issue.

However, if you are using this on an existing meeting for which you're the organizer, you should be using the item.getItemIdAsync() API - you shouldn't need to do saveAsync. Office.context.item.itemId will be null for organizer mode.

[2020-08-31 14:39] vinay-sattur commented on #422
Is there any update on this. I am also facing the same issue. I am developing an excel add-in, it loads automatically when the file is opened fro OneDrive but not loading automatically when file is opened with WOPI.

[2020-08-31 14:42] exextoc commented on #1355
@ydock1 Can you please share repro video? We are not able to see repro video here- https://vimeo.com/453268614.

[2020-08-31 15:00] yosefsun commented on #1349
@exextoc updated

[2020-08-31 18:48] JuaneloJuanelo commented on #1069
Updates: there is a fix released as part of a Windows update, see details [here](https://support.microsoft.com/en-us/help/4566116/windows-10-update-kb4566116).

Please try it and let us know outcomes.

[2020-08-31 21:30] ydock1 commented on #1355
Hello, now  the link is working,

[2020-08-31 21:51] yuoooz commented on #1341
Hi @donlvMSFT ,
I've figured out that WOPI hosts are able to handle these requests. It appears that Word Online is not able to automatically reflect changes, but still able to present them after refreshing the page or reopening the document. Tested with Drop Box, NetDocuments and HighQ.
Hope that helps to investigate the issue.

[2020-08-31 22:46] exextoc commented on #1349
This is an expected behavior because this API is not implemented in Outlook web or Mac Outlook. You can, however, try this API on Outlook on Windows.

[2020-08-31 22:46] #1349 closed, assigned to exextoc

[2020-09-01 00:58] aantimengocom commented on #1283
Re-opening this one.

My company / Organisation, asks if it is possible for us to send the manifest file on an email - since sharing it in public is a no-go.

[2020-09-01 01:47] SWei1234 commented on #1312
Hi @exextoc
It looks still not fixed yet.  Is the deploy delay?
Thanks

[2020-09-01 01:50] alison-mk commented on #1323
Hi @genderapp and @josiasmueller, I'm sorry for the delay here! I'll reach out internally to @weshi and @JuaneloJuanelo to see if I can help get you an answer.

[2020-09-01 02:10] JuaneloJuanelo commented on #1323
That method should absolutely work on that build. @genderapp  what are you doing before selecting the range? how are you getting the range you want to scroll to? just to clarify are you using this snippet?
[code]

is the html inserted?

also what happens when you call

a.  console.log(Office.context.requirements.isSetSupported("WordApi",1.1));
b.  console.log(Office.context.requirements.isSetSuppo

[2020-09-01 02:44] hello-chenchen commented on #1347
hi @exextoc , any update here please?

[2020-09-01 02:49] JuaneloJuanelo commented on #1323
adding @hjkim71  as he actually owns Desktop.

[2020-09-01 03:16] SWei1234 commented on #1321
Hi @macOutlookExtensibility and @AnjanaValsan
Do you need any information or replicate steps?
Thanks

[2020-09-01 03:27] AnjanaValsan commented on #1321
@exextoc for follow up

[2020-09-01 03:49] AltitudeApps opened #1356 "Add-In Error This add-in could not be started. Close this dialog to ignore this problem or click "Restart" to try again. - Win32WebViewHost.exe / edgemanager.dll crashes"
So, I've been struggling with an Add-in that I've been authoring which suddenly will not load any longer.  I have been operating under the assumption that I have messed up the manifest in some way.

But when I tried to open Script Lab, I found that it too was failing completely.

## Expected Behavior
Things work.

## Current Behavior
Things _don't_ work.  At all.  Not even Script Lab.

## Desired

[2020-09-01 05:59] lliu113 commented on #1356
@AltitudeApps - thanks for reporting this! I'm presuming that all other add-ins are failing too? It sounds like your add-in was loading correctly at some point, and then suddenly displayed this error?

[2020-09-01 06:14] lliu113 commented on #1356
@AltitudeApps - if you're still able to repro can you "send a frown"? Go to the Help tab > Feedback > I don't like something. In the description box, please mention your Github name (AltitudeApps) so that we can locate the feedback easier. Make sure "Attach my logs to help troubleshoot" is selected.

This will provide us some extra telemetry to help us troubleshoot. Thanks!

[2020-09-01 07:26] exextoc commented on #1304
@SWei1234  Fix is in prod now for builds 16.40.810.0 and above. Please check and confirm.

[2020-09-01 07:57] exextoc commented on #1321
To reproduce this issue from our side we will need the Code Snippet which is causing this issue,Please share Code Snippet with us.

[2020-09-01 07:58] SWei1234 commented on #1304
Hi @exextoc
I have tried this on Mac latest prod version 16.40 (20081000) and insider fast latest version 16.41 (20082600) .
In prod version not support api getSharedPropertiesAsync.
In insider fast version it show error that api not supported...
Any idea?
By the way, I test all above on Mac outlook client. The version format not like 16.40.810.0 . Any difference or misunderstanding?
Thanks

[2020-09-01 08:05] AltitudeApps commented on #1356
Yes, that's correct.   But the only two add-ins which are in play are the one I'm trying to develop, and Script Lab.  I was thrashing around trying to alter my manifest in an attempt to get my add-in to work, when I noticed that Script Lab was broken, too.  So I imagine that I've gotten my add-in into a state where it might be broken, even if I can get Script Lab working.

OK, I will try to start

[2020-09-01 08:49] SWei1234 commented on #1321
Hi @exextoc
There is no need to write some code, Only need some steps then call 'Office.context.mailbox.item.body.getAsync' . And there is another problem on this believe is the same root cause.
I will record steps and show you.
And if we can have a meeting will be faster and easier.
Thanks

[2020-09-01 10:30] exextoc commented on #1304
Can you upgrade it to Insiders Fast 16.41(20083005) and try again? Also are you on New Outlook UI or classic Outlook UI in insider fast? This will be available on Classic Outlook UI. To check classic vs New UI you can check here on top bar-
![MicrosoftTeams-image](https://user-images.githubusercontent.com/28549921/91838944-e708f080-ec6b-11ea-90d1-e3cf2260f8fb.png)

16.40.810.0 is the format which

[2020-09-01 11:32] exextoc commented on #1321
Recording for the repro will be helpful for investigation. Please share that.

[2020-09-01 12:00] ghost commented on #498
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-01 12:58] SWei1234 commented on #1304
Hi @exextoc
I have tried this on 16.41(20083005) and 'New Outlook' keep off.
Now it report "API Not Supported"...
Any other thing I need to check? Or this is not released yet? Because I found other feature Microsoft promise will release yesterday not work too.
Any idea?

[2020-09-01 14:41] exextoc commented on #1304
@SWei1234 Can you please share your email id here- admin@a830edad9050849405E20081103.onmicrosoft.com so that we can schedule meeting with you?

[2020-09-01 15:36] jwhite-venacorp opened #1357 "Load `arrayValues` for some named ranges causes Excel to crash"
When named ranges' formulas have functions or multiple ranges, such as:

[code]
or
[code]

calling `context.workbook.names.load('items/arrayValues')` causes an Excel application error. This causes Excel to close and restart.

## Expected Behavior
Ideally, I expect the `arrayValues` to be loaded for all the named ranges. At the very least, Excel should not crash.

## Current Behavior
Excel crashes.

[2020-09-01 15:57] sharonplatkin commented on #1357
Reproduced this and current behaviour is persisting on my machine as well.

**Environment**
Platform: Mac Desktop
Host: Excel
Office version number: Version 16.40 (20081000)
Operating System: macOS Catalina Version 10.15.5

[2020-09-01 16:38] BROOSWAJNE opened #1358 "URL to Office JS API is inconsistent with the actual API"
The linked documentation page says to add a `script` tag linking to the following CDN url:

[code]

This URL does correctly serve the current office js API, however the telemetry code included in said js API seems to expect the url to be ending with either `office.debug.js` or `office.js` (lowercased), not `Office.js`:

![image](https://user-images.githubusercontent.com/9310798/91838523-8cf53480-e

[2020-09-01 17:42] tjcrowder commented on #1339
@Rick-Kirkham  - Hi -- Just checking back again, management is really keen to get an answer to this question. I've suggested they raise it through our premier support or whatever that's called, but if you can shed any light as a subject matter expert, that would be really useful. Thanks!

[2020-09-01 18:17] AltitudeApps commented on #1356
I see in the Windows Event Log that the last time Script Lab was working was on 2020.08.25, and the last time my add-in loaded was 2020.08.24.

I also found items like the following in my Event Log, beginning yesterday; involving `Win32WebViewHost.exe` and `edgemanager.dll`

[code]

[2020-09-01 18:19] chucklay opened #1359 "[Excel] Ribbon function buttons do not appear on excel on the web"
With my current manifest, my ribbon buttons appear in Excel desktop, but uploading the manifest to excel on the web will cause these buttons to not appear, with the exception of the default show taskpane button.
## Expected Behavior

Buttons should appear consistently between versions of Excel
## Current Behavior

Buttons that appear in desktop Excel do not appear in Excel online. There is no brow

[2020-09-01 18:45] AltitudeApps commented on #1210
I am experiencing a similar, but not identical, problem.

https://github.com/OfficeDev/script-lab/issues/831

Also:  I'm not sure how this topic can be considered a programming question, since the user hasn't presented any code.

[2020-09-01 20:22] naemcivic commented on #1116
@exextoc
I have tried using the getSharedPropertiesAsync API which is now available in the insiders fast build from following the example in the docs https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview#getsharedpropertiesasync-options--callback-

However, I am getting a http response of 403.  The only thing different on my end is, I am doing this i

[2020-09-01 22:14] rogueunix opened #1360 "Outlook/Word Windows 10 Getting Body Text Briefly Hangs Document On Certain Devices"
Currently, our add-in has logic in both Outlook and Word to poll the Word document for current body text or the Outlook mailbox item body text every 5 seconds and perform processing on it. In almost every environment I've tested (Mac, Web, and most Windows 10 environments), the documents are polled with no interrupt to the document, but on these specific organization managed, Windows 10, Surface P

[2020-09-01 22:41] abegun commented on #1354
@smaremanda - any thoughts to share here?

[2020-09-02 02:26] lliu113 commented on #1359
@chucklay - Thanks for reporting this. Unfortunately, I tried to side-load the manifest you provided and it threw an error. I ran it through a manifest validator and it looks like there are some schema issues.

Looking at your manifest though, it looks like you're trying to display buttons on two separate tabs (Home, Data). We currently only support buttons on a single tab. By design, any other ta

[2020-09-02 05:02] exextoc commented on #1312
Apologies, the deployment got delayed. Fix should now be available early next week.

[2020-09-02 05:58] SWei1234 commented on #1312
@exextoc
Got it. Will check it after Microsoft's deploy.

[2020-09-02 06:35] exextoc commented on #1096
We have fixed the bug and the fix should be available in the latest build.
[Outlook Add-ins Engineering Team]

[2020-09-02 07:24] exextoc commented on #1355
We are able to reproduce this from our side. Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-09-02 07:43] exextoc commented on #1333
@SWei1234 We saw the repro and still not able to repro the same at our end. Can you share OWA build version in which this was reproducible?

[2020-09-02 07:50] SWei1234 opened #1361 "[Outlook] Show URL different on Windows Outlook client and other platform"
I met a very interesting problem.
When I set an URL to the meeting body. Using
`var options = {coercionType: Office.CoercionType.Html};
Office.context.mailbox.item.body.setAsync(htmlBody,  options, function (result) {
    //xxxxx
});`
It shows different on Windows Outlook client and other platform like browsers or Mac Outlook client.

On Windows Outlook client it shows an hyper link
On browsers or

[2020-09-02 07:58] SWei1234 commented on #1333
@exextoc
Sure, but I'm using Office 365 online not in an on Prem environment...
I have send you my email or maybe we can talk this on a trouble shooting meeting?
I think this will be faster.
Thanks

[2020-09-02 08:00] ghost commented on #747
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-02 08:00] #747 closed, assigned to macOutlookExtensibility

[2020-09-02 08:10] exextoc commented on #1350
@roysjosh We are not able to repro this on Mac client and OWA. Please share repro video and build version with us so that we can investigate further.

[2020-09-02 08:33] exextoc commented on #1333
@SWei1234 Have you emailed it here- admin@a830edad9050849405E20081103.onmicrosoft.com? We haven't received your emailId.

[2020-09-02 09:12] SWei1234 commented on #1333
@exextoc Yes, I have send both User2@ContosoEventAddin.onmicrosoft.com and admin@a830edad9050849405E20081103.onmicrosoft.com now.
Please check the email later.

[2020-09-02 09:14] exextoc commented on #1333
Thank you @SWei1234. We have received the email now. We will set up meeting with you.

[2020-09-02 10:00] #1285 closed, assigned to exextoc

[2020-09-02 10:06] modestfake opened #1362 "Empty ewsUrl in Outlook for Mac when using Gmail account"
I've connected my Gmail account to Outlook for Mac and tried to get `window.Office.context.mailbox.ewsUrl`, it returns an empty string `''`. I tried to log into my Gmail account using OWA and there it works, it returns `https://outlook.office365.com/EWS/Exchange.asmx`.

## Expected Behavior
Outlook for Mac to be consistent with OWA and return `ewsUrl` when accessing `window.Office.context.mailbox.

[2020-09-02 10:13] exextoc commented on #1064
We have already fixed this issue and its 100% live.

[2020-09-02 10:13] #1064 closed, assigned to exextoc

[2020-09-02 10:18] exextoc commented on #1052
We have fixed this issue and its 100% live.

[2020-09-02 10:18] #1052 closed, assigned to exextoc

[2020-09-02 10:45] modestfake opened #1363 "getCallbackTokenAsync doesn't work when getting EWS token on Outlook for Mac (Gmail account)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have Gmail account in my Outlook for Mac. I'm trying to get EWS token for this account using this code:
[code]

But it fails with this error:
[code]
I tried to do the same thing wit

[2020-09-02 10:45] modestfake commented on #1363
Related issue #1362

[2020-09-02 13:00] chucklay commented on #1359
Ah, I see. I removed my add-in's ID from the gist, so that's probably why it fails validation. I assume it doesn't need to be kept secret but just wanted to play it safe. I might suggest noting that buttons can only be placed on a single tab in the best practices section of the documentation. Maybe I missed it, but I don't see it anywhere in the add-in commands section.

But yes, on desktop, both

[2020-09-02 14:59] exextoc commented on #1361
We are not able to repro this on our side.Could you please share a code snippet  with which we can try to reproduce ?

[2020-09-02 15:11] DmitryKostochko opened #1364 "Outlook Desktop, Outlook for Mac, setSelectedDataAsync produces incorrect formatting for bulleted and numbered lists"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The setSelectedDataAsync method inserts HTML with incorrect markup.

## Expected Behavior
The setSelectedDataAsync method should work as expected.

## Current Behavior
The setSelectedDataAsync method ignores markup and produces a list with no bullets/numbers and with an extra empty line in between.

## Steps t

[2020-09-02 15:12] exextoc commented on #1362
Thanks for reporting this issue.It has been put on backlog.We unfortunately have no timeline to share at this point.

[2020-09-02 15:24] exextoc commented on #1363
Thanks for reporting this issue regarding getCallbackTokenAsync. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

[2020-09-02 16:11] josiasmueller commented on #1323
@JuaneloJuanelo Yes, that's the snippet.

a. console.log(Office.context.requirements.isSetSupported("WordApi",1.1));
b. console.log(Office.context.requirements.isSetSupported("WordApi",1.2));
return both 'true'.

I now found a workaround that works with my Word 2016 build, maybe you want to update the documentation?

[code]

For me, you can close this issue.
Thanks for your time.

[2020-09-02 16:11] #1323 closed, assigned to hjkim-MSFT

[2020-09-02 17:23] oberoiankush commented on #1360
The getBody API in Outlook was not designed to be used with polling. This is expected when polling the body. As you pointed out, reducing the polling interval circumvents this issue however not completely. What is the scenario you're trying to achieve that requires you to poll the body of the message in Outlook?

[2020-09-02 17:46] oberoiankush commented on #1364
We are unable to reproduce the issue on Outlook Desktop. Is there an additional step between opening the new email and calling into the API? Does this only happen with the formatted content being a list or all sorts of HTML content, like say inserting a bold/Italix text?

[2020-09-02 17:48] exextoc commented on #1364
We are unable to reproduce the issue on Outlook Desktop. Is there an additional step between opening the new email and calling into the API? Does this only happen with the formatted content being a list or all sorts of HTML content, like say inserting a bold/Italix text?

[2020-09-02 17:56] chucklay commented on #1359
After moving everything to one tab, the buttons now appear on all platforms and I was able to get them working. Thanks!

[2020-09-02 18:38] rogueunix commented on #1360
After each poll, the previous body and current body are compared. Words that were removed are removed from our list of search results, and words that were added are searched in our backend for results and displayed accordingly. This accomplishes 2 things: our results appear in, somewhat, real time as the user doesn't have to interact with the Add-In to search, and these results now appear in the o

[2020-09-03 05:00] SWei1234 commented on #1361
Hi @exextoc
Please consult:
Recording:
https://success.zoom.us/rec/share/mtUUL9SZMY0mJkahmcnI8POidJzpNopnMujbfP5veBsIGYXJfaLyoy5LZy3rbV6-.4ULjyOr_vqo2owHd

Access Passcode: nA3uVT#w

Code:
//read custom properties
Office.context.mailbox.item.loadCustomPropertiesAsync(function (result){
                    console.log(result.value);
                });

//save custom properties
Office.context.mailb

[2020-09-03 06:14] exextoc commented on #1321
Thanks for Reporting this issue.It has been put on our backlog.We unfortunately have no timeline to share at this point

[2020-09-03 08:09] DmitryKostochko commented on #1364
There are no additional steps - place the cursor anywhere in a message body and execute the code. May it be that you have modified the HTML I provided? If you remove style="margin-left:0cm;" then it starts working, bullets are shown but an extra line is still added. Have you tried this on Outlook for Mac? Maybe you have a different version of Outlook Desktop?

We noticed this issue only with lists

[2020-09-03 09:00] sarea commented on #1311
Hi @exextoc
The issue seems to be solved now, same as what happened the time before, it goes away by itself, but now I know that I have to change the add-in version as well
Answering your question, I really can't remember that, I have been shuffling between both for quite some time.
Many thanks:)

[2020-09-03 09:40] exextoc commented on #1361
Code snippet  and Video which is shared and issue description do not match. Can you please share Code snippet for the issue which is mentioned in the description of this bug? Also the repro video and snippet which you shared earlier matches with the issue description of this bug- https://github.com/OfficeDev/office-js/issues/1333. You have added same comment there as well.

[2020-09-03 09:45] SWei1234 commented on #1361
Hi @exextoc
Sorry for wrong recording link. Already updated the link in above comment.

[2020-09-03 11:20] hello-chenchen commented on #1338
hi @exextoc , for the single sign-on for add-ins, i have one question here.
from the document [Enable single sign-on for Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins), it seams that if the user want to use this feature. he or his IT admin must have an azure account and mush Register an application which is provide the access_token for the add-in

[2020-09-03 11:22] hello-chenchen commented on #1338
and this manifest must be customized by their it admin, and must contains below in the manifest.xml?
[code]

[2020-09-03 13:14] vinay-sattur opened #1365 "How to get pivot table data source"
I am developing an excel add-in and I need to get the data source of the pivot table. How can I achieve that?

[2020-09-03 13:32] vinay-sattur opened #1366 "Get data source of a pivot table."
I am developing an add-in for excel online and want to get details of a pivot table data source.

[2020-09-03 15:28] andmaz commented on #1248
@exextoc, it there any possibility to get this issue fixed soon?

[2020-09-03 18:20] exextoc commented on #1338
That is correct. You'd need to sign in with admin credentials to your Microsoft 365 tenancy to [register the application](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/register-sso-add-in-aad-v2).

[2020-09-03 18:20] #1338 closed, assigned to exextoc

[2020-09-03 18:48] exextoc commented on #1360
Thanks for clarifying the use case. Unfortunately as mentioned, the getBody API was not designed to be polled. What you might be looking for is a GetBodyChangedEvent that can help you make your server calls when the body changes and the event is triggered to the add-in, however this feature is currently not a part of the product. We track Outlook add-in feature requests on our [user-voice page](ht

[2020-09-04 02:54] SWei1234 commented on #1312
Hi @exextoc
Hi, I'm glad to see this morning that this problem doesn't recur.
But a new problem arose.
After I schedule a new recurring meeting with zoom add-in, Then I choose 'Discard'  and the meeting still saved.
Is hte logic changed? Before this deploy, the meeting will not be saved When I click 'Discard'.
Any idea?
Thanks

[2020-09-04 03:00] ghost commented on #1348
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-04 05:13] Premsagar-lab opened #1367 "Outlook Onsend addin is invoked multiple times after clicking send"
OnSend addin is invoked multiple times after the send button is clicked. Also, the addin javascript is not called even once.

## Expected Behavior

OnSend should be activated and invoked only once.

## Steps to Reproduce, or Live Example

Attached zip contains video as the live example of the issue coming on some machines:
[VideoSpecificTo_Mail_Send_Issue.mov.zip](https://github.com/OfficeDev/offi

[2020-09-04 05:15] exextoc commented on #1347
@hello-chenchen Thank you for reporting this issue. We are working on the fix and unfortunately have no timelines to share at this point.

[2020-09-04 05:38] exextoc commented on #1283
@aantimengocom Please share repro video and your add-in manifest on email id admin@a830edad9050849405E20081103.onmicrosoft.com

[2020-09-04 06:04] hello-chenchen commented on #1347
hi @exextoc , thank you for your reply. we will keep tracking this problem.

[2020-09-04 06:07] exextoc commented on #1312
@SWei1234 There is no logic change here. We are not able to repro this at our end. Can you please share repro video?

[2020-09-04 06:34] geo-stanciu commented on #494
Hello,
I am having the exact same issue. Can you please post how was this solved ?
Basically, how to register trusted paths in Office Online Server ?

[2020-09-04 06:41] Texaner commented on #1312
Hi @exextoc, @SWei1234
Same here.
I have an Add-In in development and need to save the recurring appointment during the creation.
If I choose 'Discard', the appointment is still saved in the calendar.
This only affects recurring appointments, for normal single appointments it works as expected.

[2020-09-04 08:10] exextoc commented on #1312
@Texaner Can you please share OWA build number?

[2020-09-04 08:24] MrAshRhodes commented on #1312
Hi,
This is the error when clicking Discard on a recurring meeting.

"Cannot read property 'isMeeting' of null''
![thumbnail_image](https://user-images.githubusercontent.com/70747559/92217339-dfc62a80-ee97-11ea-9f65-0abdd558485f.png)

[2020-09-04 08:49] Texaner commented on #1312
@exextoc
Where can I find the build number?
In the source code I found the following:

[code]
Is that enough for you?

[2020-09-04 09:28] MrAshRhodes commented on #1312
If this is any help, in the http response headers i found the following.

`x-owa-owsversion: V2018_01_18`
`x-owa-version: 15.20.3348.16`

[2020-09-04 09:33] Texaner commented on #1312
@exextoc
`nx-owa-owsversion: V2018_01_18 x-owa-version: 15.20.3348.16`

[2020-09-04 10:00] SWei1234 commented on #1312
Hi @exextoc
Sure.

Recording:
https://success.zoom.us/rec/share/gtQEszcTdqsgSDr5bzNApoBxj0VGJZCeSCXi_qOtLygOMOb73CscDHQEw8pZ_XAM.R6XoXgkF4pfF0XCv

Access Passcode: diMHH#R0

[2020-09-04 10:58] Texaner commented on #1312
Here is the exact error. Maybe this is helpful
![Unbenannt](https://user-images.githubusercontent.com/70742178/92232132-48200680-eeae-11ea-9400-8d4de5bb2996.PNG)

[2020-09-04 11:18] exextoc commented on #1312
@SWei1234 @Texaner @MrAshRhodes Thank you for sharing details on issue. This will be helpful. We are investigating this issue.

[2020-09-04 13:16] exextoc commented on #1367
@Premsagar-lab
This issue is not reproducible on our end using the Outlook Mac Version 16.39. Could you please provide us the manifest URL of the add-in you are using?

[2020-09-04 14:00] ghost commented on #498
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-04 14:00] #498 closed, assigned to macOutlookExtensibility

[2020-09-04 15:00] ghost commented on #790
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-04 15:59] rogueunix commented on #1360
That definitely makes sense, thanks for the response.

My final question would be, do you have ideas as to why this interrupt only occurs on some devices, but not others? (as outlined above)

[2020-09-04 21:00] ghost commented on #1069
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-04 22:06] lliu113 commented on #1362
@modestfake  - As the request has been added to our backlog, I'll close the issue. Please reopen if you have any further questions, we'll be happy to help. Thanks!

[2020-09-04 22:06] #1362 closed, assigned to exextoc

[2020-09-04 22:18] lliu113 commented on #1365
@vinay-sattur - thanks for the question! Can you repost it on Stack?
https://stackoverflow.com/questions/tagged/office-js

This forum is for issues with our product or documentation, not general programming questions.

Thanks!

[2020-09-04 22:19] lliu113 commented on #1366
Appears to be a dupe of https://github.com/OfficeDev/office-js/issues/1365

Closing.

[2020-09-04 22:19] #1366 closed, assigned to nobody

[2020-09-04 22:27] lliu113 commented on #1359
@chucklay  - glad everything is working now, thanks for the update!

Also, really appreciate your feedback - I'll be working with the doc team on making sure the restriction is clearly documented.

Closing the issue.

[2020-09-04 22:27] #1359 closed, assigned to lliu113

[2020-09-05 02:19] erharvey opened #1368 "Shared runtime questions"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hello,

I have 2 questions regarding the shared runtime for the excel host.

1)
 I am following this  link to create a custom function used the share runtime:
https://docs.microsoft.c

[2020-09-05 11:59] erharvey commented on #706
I got the same issue on my side. Any updates on this feature?

[2020-09-05 12:00] ghost commented on #369
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-05 21:03] exextoc commented on #1360
Each client has it's own native implementation of the API which depends on the native implementation of the client itself. For Desktop, as an example, the getBody call results in a save which is what causes the interrupt as the save happens on the main thread.

[2020-09-06 09:00] ghost commented on #1096
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-06 12:00] ghost commented on #1350
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-07 03:13] aninfeel opened #1369 "How to insert Task( or Resource) to project by js api?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have a requirement which is loading tasks from a internal server and then insert all the tasks into ms project. But I cannot find a way to do that by invoking the office add-in api.

[2020-09-07 05:00] ghost commented on #1348
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-07 05:00] #1348 closed, assigned to exextoc

[2020-09-07 06:05] Premsagar-lab commented on #1367
@exextoc Customer is facing this issue consistently on their machine. Please find attached manifest file.
[Manifest.pdf](https://github.com/OfficeDev/office-js/files/5181301/Manifest.pdf)

[2020-09-07 06:42] max-yushchuk commented on #1096
Thanks. It works as expected. I'll close this issue.

[2020-09-07 06:42] #1096 closed, assigned to exextoc

[2020-09-07 07:32] glr0221 commented on #1352
@AlexJerabek Thanks for the response. Sorry for the late reply. But this is absolutely what i needed :

[2020-09-07 07:32] glr0221 commented on #1343
@exextoc Thank you also for taking a look at this issue. There is no rush for the fix. I just dropped by to inform you about it.  Thank you again.

[2020-09-07 08:01] MrAshRhodes commented on #1312
Quick update, the error is still persistent. although if you click on the "Try Again" the meeting will get cancelled.
I'm guessing the fact that the meeting exists on the second time the 'isMeeting' value is _true_ and can remove the meeting from the calendar.

[2020-09-07 10:59] exextoc commented on #503
We have fixed the bug and Office.context.ui.openBrowserWindow(url) should be available in office-js-api version: 20200812.3 or later in macOS.

[2020-09-07 11:04] exextoc commented on #3
@shubhashishtiwari We would like to suggest a workaround solution for this issue as mentioned in #503. You can call Office.context.ui.openBrowserWindow(URL); with a URL that you own and from there once the full browser opens, create your blob object and get the browser to download the file.
Office.context.ui.openBrowserWindow(url) should be available in office-js-api version: 20200812.3 or later i

[2020-09-07 11:09] #1333 closed, assigned to exextoc

[2020-09-07 11:30] SWei1234 commented on #1304
Hi @exextoc
Just as meeting showed just zoom add-in can't use this api , can you please help find out the reason?
what configuration need to be done?
Thanks

[2020-09-07 11:47] SWei1234 opened #1370 "[Outlook ] mobile add-in can not be installed on Exchange 2016"
When we trying install add-in on mobile end with Exchange 2016. Add-in can not install success.
Any idea?

## Expected Behavior
Add-in can install successful on mobile end with Exchange 2016.

## Current Behavior
Can't see add-in on mobile outlook end.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Android
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office versio

[2020-09-07 12:54] DmitryKostochko commented on #1364
@exextoc, sorry for bothering you but did you reproduce the issue?

[2020-09-07 15:44] Katli95 commented on #847
Any updates on this? I'm running into an issue which might be related.
My case is that I am not getting the onReady() event to fire until I open the taskpane :/

[2020-09-07 17:00] ghost commented on #790
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-07 17:00] #790 closed, assigned to exextoc

[2020-09-07 17:13] ivark16 opened #1371 "Office.onReady()/Office.initialize is not running in Excel online add-in using shared js runtime and Office.addin.setStartupBehavior(Office.StartupBehavior.load)"
I'm creating an add-in in Excel where I want to detect changes in the workbook when the taskpane is not open and run custom code when the document is reopened / reloaded.

I have a button in my add-in where the user can set start up behaviour to load which triggers this code:

`Office.addin.setStartupBehavior(Office.StartupBehavior.load);`

I have tried using both `Office.onReady()` and` Office.in

[2020-09-07 18:03] bendhayer opened #1372 "[Excel] Office.context.ui.displayDialogAsync method does not work in IE 11"
In an Excel add-in, we call displayDialogAsync. In IE, the method does nothing, the dialog window does not show up, the callback is not executed.

## Expected Behavior
Dialog popup should open.

## Current Behavior
Nothing happens, the dialog window does not show up, the callback is not executed. There is an error in the console: Unable to get property 'length' of undefined or null reference".

##

[2020-09-07 18:57] exextoc commented on #1361
Thanks for reporting this issue. We have been able to reproduce this. We have added this bug in our backlog but unfortunately we don't have timelines to share at this point.

However as a workaround, you can add HTML anchor tags (a href) in the html content to create the link.

[2020-09-07 23:00] ghost commented on #1069
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-07 23:00] #1069 closed, assigned to croicu

[2020-09-08 04:16] exextoc commented on #1253
@d-franklin We are not able to repro this issue any more. Can you please check at your end and confirm?

[2020-09-08 06:02] aninfeel commented on #938
same issue for me while get the value of Office.ProjectTaskFields.PercentComplete

[2020-09-08 08:06] SWei1234 commented on #1304
It works when we set <Permissions> to ReadWriteMailbox in manifest xml file.

[2020-09-08 08:06] #1304 closed, assigned to exextoc

[2020-09-08 08:41] msiemens opened #1373 "OneNote: Fetching contents of non-active page"
## Expected Behavior

Using the OneNote API to fetch the page contents of a non-active page should succeed.

## Current Behavior

An error is thrown:

[code]

Either this error should not happen _or_ – if intended – this should be documented in the OneNote API documentation.

## Steps to Reproduce

[code]

## Your Environment

* Platform: Office on the web Add-In using the [Yo Office generator](ht

[2020-09-08 08:46] d-franklin commented on #1253
Confirmed working as expected.

[2020-09-08 08:46] #1253 closed, assigned to exextoc

[2020-09-08 14:00] ghost commented on #369
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-08 14:00] #369 closed, assigned to macOutlookExtensibility

[2020-09-08 15:54] rogueunix commented on #1360
I understand there's different implementations across platforms and web/desktop, but the interruption issue I've been describing only appears on a small number of Windows 10 devices using the desktop variant of Word/Outlook, and behaves normal, without interruption, on most Windows 10 devices with the desktop variant. I've checked to make sure Office and Edge versions match between devices, and sy

[2020-09-08 16:23] smaremanda commented on #1354
@abegun - we are looking into this issue. We'll follow up here as well as via the email thread we have open with you.

[2020-09-08 17:46] abegun commented on #1354
thanks Sudheer!

[2020-09-08 23:12] exextoc commented on #1360
There are many different factors that could cause body.getAsync to hang. Possible factors include the content of the e-mail (if the e-mail is large/contains images) or any core OS processes that are running when the API is called.

The body.getAsync API was not designed to be polled, and a getBodyChangedEvent should resolve this issue in the future.

[2020-09-09 02:19] hthjthtrh commented on #1139
I'd like to continue along this issue. I can confirm that I can create and send emails through the CreateItem EWS request, but for what I'm trying to do in my add-in, which is to get an item, and then its attachments, it's returning me the same error code as rjpruitt16 had.

[2020-09-09 02:33] mug-cat opened #1374 "Unable to retrieve attachment with EWS request"
I am writing an Outlook add-in that will retrieve a mail's attachment.
(I am not simply using item.attachments because I want to be able to retrieve the S/MIME attachment and item.attachments will not include that)

My code:
https://gist.github.com/hthjthtrh/9627d2731be3aebbfddb4d8dc26e6fe2

Response:
https://gist.github.com/hthjthtrh/4ea1521052936b9ee187e7a5456623dd

In the email that I'm testing

[2020-09-09 05:32] fisherwei opened #1375 "Office.EventType.DialogMessageReceived is not working in Outlook 2019 (but OWA is OK)"
taskpane.html open a new dialog preview.html by click a button,
preview.html has two button: cancel and apply, both of them will send `"dialogClosed"` by `Office.context.ui.messageParent` to host page,
it is work fine in OWA(chrome), but in outlook 2019, close action does not any response.

## Expected Behavior
close dialog window

## Current Behavior
no response in outlook 2019

## Steps to Repro

[2020-09-09 05:37] leonidasthelab commented on #1110
@lumine2008 @MandytMSFT @jeremy-msft any updates for us? Thanks!

[2020-09-09 06:09] lumine2008 commented on #1357
Thanks @platkis , we can repro this issue in our side, and a bug 4434362 was logged to track this issue.

[2020-09-09 06:40] exextoc commented on #1364
We are still unable to repro this issue fully. However we notice that the last line is not coming in as a list.

Also can you please update your mac outlook version to the latest one and try this once?

![image](https://user-images.githubusercontent.com/28549921/92562711-08816200-f294-11ea-8fd2-5d73f99b402f.png)

[2020-09-09 07:32] lumine2008 commented on #1110
Thanks @leonidasthelab , this issue was resolved and it is rolling out. if you are on the monthly channel (version 2009 build 13221.20038), you can verify the fix.

[2020-09-09 08:38] DmitryKostochko commented on #1364
@exextoc, we have just re-tested the issue on the following configurations:

Microsoft Outlook for Mac Version 16.40 (20081000)
Microsoft Outlook for Mac Version 16.40 (20081201)
Microsoft Outlook Version 2008 (build 13127.20378)

It is reproduced on all 3 configurations, please see a screenshot from Outlook for Mac below:
<img width="311" alt="Screen Shot 2020-09-09 at 10 00 09" src="https://user

[2020-09-09 11:28] alexandremalavasi commented on #803
Is there any plan in the roadmap for Word Online to include the Tracking Changes option for Content Controls in the Office online?

I saw this thread and the last answer was from last year with the status that was in development. Thank you.

[2020-09-09 13:05] amiqat commented on #712
if (window.navigator.userAgent.indexOf("WebView")) {
not work on mac how on mac can make it work

[2020-09-09 13:10] LovikaJain opened #1376 "unable to get an unique identifier from outlook"
I have posted the question on outlook as well.
I am looking for a unique identifier like `GlobalAppointmentID` in VBA.
https://stackoverflow.com/questions/63811514/how-to-get-an-unique-identifier-to-identify-an-appointment-in-outlook-appointme

[2020-09-09 13:50] vault79 opened #1377 "displayReplyAllForm doesn't support avoiding pop-up blocker while partner center requests us to avoid pop-up blocker"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Although partner center request developers to avoid pop-up blocker from user interaction, `displayReplyAllForm` doesn't have way to avoid pop-up blocker.

## Expected Behavior
- As so

[2020-09-09 13:52] vault79 commented on #1377
FYI: I'm asking question in Stack over flow, too
https://stackoverflow.com/questions/63761919/popup-blocker-handling-when-app-calls-displayreplyallform-method

[2020-09-09 14:00] ghost commented on #1350
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-09-09 14:00] #1350 closed, assigned to exextoc

[2020-09-09 14:27] patrikhellgren opened #1378 "CORS issue when referencing visio-web-embedded.js"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When referencing visio-web-embedded.js as an external library in a SPFx solution we get a CORS error "No 'Access-Control-Allow-Origin' header is present on the requested resource.". T

[2020-09-09 18:11] AlexJerabek commented on #1368
Thanks for the questions @erharvey.

@jeremy-msft or @shaofengzhu, could you help out here?

[2020-09-09 18:18] AlexJerabek commented on #1369
Thanks for the questions @aninfeel. I'm sorry you're having issues with the Project APIs.

@JuaneloJuanelo, can you help answer this question?

[2020-09-09 18:19] AlexJerabek commented on #1370
Thanks for reporting this issue @SWei1234.

@exextoc, can you please investigate?

[2020-09-09 18:21] AlexJerabek commented on #1371
Thanks for reporting this @ivark16.

@jeremy-msft or @shaofengzhu, could you please help with this shared runtime issue?

[2020-09-09 18:22] AlexJerabek commented on #1372
Thanks for reporting this @bendhayer.

@lliu113, could you please investigate this?

[2020-09-09 18:23] AlexJerabek commented on #1373
Thanks for reporting this @msiemens.

@JuaneloJuanelo, could you please help investigate this OneNote issue or find the right owner?

[2020-09-09 18:24] AlexJerabek commented on #1374
Thanks for reporting this @hthjthtrh.

@exextoc, can you please investigate?

[2020-09-09 18:25] AlexJerabek commented on #1375
Thanks for reporting this @fisherwei.

@lliu113, could you please help investigate this dialog issue?

[2020-09-09 18:26] AlexJerabek commented on #1376
Thanks for the question @LovikaJain.

@exextoc, could you please assist here?

[2020-09-09 18:27] AlexJerabek commented on #1377
Thanks for your question, @vault79.

@exextoc, could you please help answer this?

[2020-09-09 18:28] AlexJerabek commented on #1378
Thanks for reporting this @patrikhellgren.

@JuaneloJuanelo, could you please help answer this Visio question, or help find the right owner?

[2020-09-09 18:50] abegun commented on #1354
I'm going to close this out :) !   After some investigation from Microsoft and some further digging on my side it looks like the Edge WebView control takes exception to 404 responses and will close the addin if that happens.  In this particular case, for our deployed  webapp (i.e. not running on localhost) we are using Azure CDN to serve the static webapp, which is in turn a SPA.  Deep link access

[2020-09-09 18:50] #1354 closed, assigned to smaremanda

[2020-09-09 22:25] exextoc commented on #1376
From API set 1.8, the API [getItemIdAsync ](https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentcompose?view=outlook-js-preview#getitemidasync-options--callback-) is available in Appointment Organizer and provides the item id, which can be used to identify the appointment.

[2020-09-09 22:30] #1360 closed, assigned to exextoc

[2020-09-10 01:18] mug-cat commented on #1374
PS, I am doing this on my personal Outlook account so I assume the server is Exchange Online.

[2020-09-10 01:36] SWei1234 commented on #1370
Hi @AlexJerabek  and @exextoc
Thanks for your support.
Our work around is:
Exchange update to build 15.01.1870.000.
Problem fixed.
Will close this ticket.

[2020-09-10 01:36] #1370 closed, assigned to exextoc

[2020-09-10 01:52] mug-cat commented on #1374
Okay it's my fault for not noticing that for add-in, I only have a reduced set of EWS operations to use.
https://docs.microsoft.com/en-sg/office/dev/add-ins/outlook/web-services#ews-operations-that-add-ins-support

Guess I'll have to either do it the REST API way or to delegate the role to a remote service.
Can I clarify if I can use REST API for Exchange on-premise servers?

[2020-09-10 01:54] fisherwei commented on #1375
additional info:
office js is
<script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>

[2020-09-10 02:14] fisherwei commented on #1375
i have resolved this issue, it is not a bug in office-js,
cause just is outlook 2019 used IE11, something js feature cannot work fine.

[2020-09-10 02:14] #1375 closed, assigned to lliu113

[2020-09-10 06:17] exextoc commented on #1364
Will it be possible to update the MAC Outlook to the most recent version and then check? We tested at 16.42

[2020-09-10 06:50] exextoc commented on #1367
Hello, we tried to install with the manifest supplied but its invalid. Can you please provide the correct manifest?

[2020-09-10 07:33] exextoc commented on #1377
Thank you for reporting this issue. Yes we could repro this issue. We have added this to our backlog; however we don't have any timelines to share for the same.

[2020-09-10 08:06] DmitryKostochko commented on #1364
We don't have access to update 16.42, Office on our Macs does not show a notification about available updates. Moreover, on the page below, update 16.42 is not mentioned either:
https://docs.microsoft.com/en-us/officeupdates/update-history-office-for-mac

Where can we get 16.42? And what about Outlook Desktop on Windows?

[2020-09-10 08:38] LovikaJain commented on #1376
I am getting "The id can't be retrieved until the item is saved." I am trying to get the Item Id in the calendar event. The item is not getting saved till the time. won't the itemId change when I edit the meeting?

[2020-09-10 08:47] LovikaJain opened #1379 "unable to call a function once all the data has been retrieved and call a python API inside outlook add-in"
I am trying to get the subject, email Ids, and pass them in a function once the values are retrieved. How do I check if the values have been already picked? Once that is done I am trying to call a python API inside outlook add-in. I tried using ajax and XMLHttpRequest but unable to trigger the API from outlook add-in.

The code is mentioned below used for calling the API:

`function sendEmail(reci

[2020-09-10 09:26] Premsagar-lab commented on #1367
Hello @exextoc, we use this manifest in our environment. What error you receive while installing the manifest?

Reattaching as txt because xml cannot be uploaded.
[manifest_prod.txt](https://github.com/OfficeDev/office-js/files/5200561/manifest_prod.txt)

Kindly rename it as xml.

[2020-09-10 10:19] MarcEichenberger opened #1380 "displayDialogAsync Crash after last Word Update (Beta, Build 13304.200000)"
Since Office update yesterday, displayDialogAsync crashes after OAuth-Login redirect.

## Steps to Reproduce, or Live Example
Office.context.ui.displayDialogAsync with oauth-url
Login
OAuth-Login-Redirect crashes "displayDialogAsync-Window"

## Your Environment

* Platform PC desktop
* Host: Word
* Office version number: Build 13304.200000 Beta
* Operating System: Windows

![image](https://user-im

[2020-09-10 11:31] vault79 commented on #1377
@AlexJerabek Thank you for your quick triage and dispatch.

@exextoc Thank you for checking repro quickly. I'm OK that we don't have any timelines to fix it, but would you please communicate with partner center team internally to allow app which shows pop-up blocker by this issue ? It blocks our app submission...

[2020-09-10 12:59] sarea opened #1381 "Getting the draft in new tap when sending a message"
We are developing OWA add-in and recently we start getting this behaviour which is when a user send a message it goes to a new tab or popup (it depends on the browser and its settings) with a url that looks like
[code]
Then that url is will redirect the user to a another url (in the same new tap) which is look like
[code]
this page is just the draft page then the send button will be pressed automa

[2020-09-10 13:07] exextoc commented on #1362
Currently this item is in backlog but as a workaround please sign up on Insiders rings (https://insider.office.com/en-us/join/mac) and use the New Outlook for Mac (https://support.microsoft.com/en-us/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439) for immediate access. The New Outlook for Mac will also be available in production around mid October.

[2020-09-10 13:31] shishiradas commented on #1302
Facing the same issue

[2020-09-10 17:48] exextoc commented on #1367
Hello @Premsagar-lab , we tried this with this specific manifest but still we couldn't repro this.

Just to confirm, is this happening on all accounts? Or on certain accounts?

[2020-09-10 18:14] exextoc commented on #1376
Since this is the same issue as on [Stack Overflow](https://stackoverflow.com/questions/63811514/how-to-get-an-unique-identifier-to-identify-an-appointment-in-outlook-appointme) and to avoid duplicating answers between Github and StackOverflow, closing this issue here and following up on Stack Overflow.

[2020-09-10 18:14] #1376 closed, assigned to exextoc

[2020-09-10 18:46] AlexJerabek commented on #1380
Thanks for reporting this @MarcEichenberger.

@lliu113, can you please investigate this Dialog issue?

[2020-09-10 18:47] AlexJerabek commented on #1381
Thanks for reporting this @sarea.

@exextoc, can you please investigate?

[2020-09-10 18:48] AlexJerabek commented on #1379
Thanks for reporting this @LovikaJain.

@keyur32, is this something you can investigate?

[2020-09-10 18:49] AlexJerabek commented on #1353
@smaremanda, can you investigate here?

[2020-09-10 20:02] AlexJerabek commented on #1379
Reassigning to @exextoc.

[2020-09-10 22:32] jeremy-msft commented on #1368
Hi @erharvey, as we [announced](https://developer.microsoft.com/en-us/microsoft-365/blogs/power-up-with-office-add-ins-build-2020/) at Build 2020, shared runtime is now generally available.  I'm adding @nokafor for your question about the Visual Studio 2019 developer experience.

[2020-09-10 22:35] jeremy-msft commented on #1371
Thanks for your report @ivark16, we'll take a look and get back to you soon.

[2020-09-10 23:55] exextoc commented on #1374
If you are on-premise, REST APIs are supported in an [Exchange hybrid deployment](https://docs.microsoft.com/en-us/graph/hybrid-rest-support) environment. Also, please note that this feature is in preview.

[2020-09-11 05:33] Premsagar-lab commented on #1367
@exextoc This is happening only on some accounts. They have tried reinstalling of outlook but still facing same issue.

[2020-09-11 07:38] exextoc commented on #1381
Hi @sarea Can you please give some more details about the apis which you are using in your addin which is causing this? Ideally it should not open a new tab/window when any addin is running and the message is sent.

[2020-09-11 08:14] MarcEichenberger commented on #1380
Update: Same problem occours if we do the oauth - login in the pane. After Login, http-redirect crashes the pane:

![image](https://user-images.githubusercontent.com/31311384/92890434-68ecdc80-f417-11ea-95f8-720a87712597.png)

In the browser (Word Online) everything works as expected.

[2020-09-11 08:45] sarea commented on #1381
Hi @exextoc we use officeJs api along with rest API, we also control the send, I hope this answer your question:) thanks

[2020-09-11 09:00] ghost commented on #1312
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-11 09:03] SWei1234 commented on #1312
Hi @exextoc
Is there any ETA about this?
Thanks

[2020-09-11 11:10] libjosep opened #1382 "body.contentControls not listing all content controls in my document in online version"
I am creating a document with base64 content using `body.insertFileFromBase64()` function. The base64 content contains a content control. I also am adding a wrapper content control to the document body range. I am using `document.body.contentControls` to get all content controls in the document.

## Expected Behavior

The document contains 2 content controls: Wrapper content control added from the

[2020-09-11 13:12] cghaddar opened #1383 "Excel. Custom functions do not support full CORS when running in a shared JavaScript runtime. Throws Network request failed"
I configured my Excel add-in to use a shared JavaScript runtime as described here
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime

I am able to call the Office.js API but if I try to make a POST request from a custom function it throws Network request failed.
It only works with same origin or  a simple GET.  This contradicts the claim: Your c

[2020-09-12 20:11] modestfake opened #1384 "Empty attachment id in "New Outlook" on Mac"
On "New Outlook" `window.Office.context.mailbox.item.attachments` returns an array of attachments with empty ids:
[code]

## Expected Behavior
Attachment id should be present in `window.Office.context.mailbox.item.attachments` array.

## Current Behavior
Attachment id is an empty string `""`

## Steps to Reproduce, or Live Example
Enable "Insider Fast", enable "New Outlook". Check `window.Office.c

[2020-09-13 14:48] exextoc commented on #1379
Hello @LovikaJain Can you please mention on which platform are you trying this? Is this Win32, Mac, Outlook on the Web or mobile?

[2020-09-14 03:45] XiangGaoMSFT commented on #1382
@Libinjoseph Thanks for reporting it to us!

As the [document](https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=word-js-preview) states, only rich text content controls are supported.
![image](https://user-images.githubusercontent.com/38523755/93041474-39d8a400-f67f-11ea-898e-d8ca60917a6f.png)

The "MyCompany" content control is a plain text content control, so it's no

[2020-09-14 03:45] #1382 closed, assigned to XiangGaoMSFT

[2020-09-14 04:37] libjosep commented on #1382
In the XML for the content control `<w:text>` tag is missing. Can we do the conversion using OOXML?

[2020-09-14 05:04] XiangGaoMSFT commented on #1382
To be clear, what you need to do is removing the `<w:text>` tag from the "MyCompany" content control.
You can edit the OOXML directly with any editor you like.

[2020-09-14 05:14] libjosep commented on #1382
When I print the body OOXML using the  "Print OOXML" button in the scriptlab snippet, I don't see a `<w:text>` tag in the content control section (Please see the attached screenshot). In this case, how should I convert it to rich text content control?

[2020-09-14 05:25] XiangGaoMSFT commented on #1382
I didn't see the "Print OOXML" button in the snippet you shared.

Anyway, the problem is the base64 you used in the snippet. You can do below things to see the OOXML
1. Find a tool to convert your base64 to file. You can find free online tools to do that.
2. Download the file. It should be a zip file.
3. Unzip the file and find file `word/document.xml`, and you can see `<w:text />` there.
![image]

[2020-09-14 05:32] libjosep commented on #1382
Updated the gist. I am looking for a solution to programmatically convert it to rich text content control

[2020-09-14 05:49] XiangGaoMSFT commented on #1382
Office.js doesn't provide the functionalities to manipulate OOXML itself, and Office.js can't convert plain text content controls to rich text content control now.

You probably need to use other libraries to update the OOXML first, and then pass it to Office.js

You can also raise the request in [User Voice](https://office365.uservoice.com/) so that we may consider to add it to our product in the

[2020-09-14 05:52] libjosep commented on #1382
Thanks for the support @XiangGaoMSFT

[2020-09-14 05:53] XiangGaoMSFT commented on #1382
@Libinjoseph Glad to help :)

[2020-09-14 09:25] jamesp-mendeley commented on #842
### Cause and Potential Workaround

The problem appears to be that while IE11’s DOMParser() implementation faithfully renders the OOXML string returned by body.getOoxml() correctly into a DOM, IE11’s XMLSerializer() implementation has a bad habit of omitting or moving `xmlns:*` attributes from the element they’re declared on in the DOM to the lower-level child element(s) whose tag-names come from

[2020-09-14 13:57] wbecker commented on #408
6 months later - is there any update here?

[2020-09-14 18:01] naemcivic commented on #1116
```sharedProperties.targetRestUrl + "/v2.0/users/" + sharedProperties.targetMailbox + "/messages/" + draft_id;``` which translates into ```https://outlook.office.com/api/v2.0/users/InternalComms@contactmonkey.ca/messages/<:draft_id>``` would return a status of 403 Forbidden. I am using the (token `asyncContext`) from the result of `getSharedPropertiesAsync`, for the rest call.

Please help us reso

[2020-09-14 20:27] lliu113 commented on #1278
@ppagadala sorry for the late response to this! Clicking on the ribbon button should refresh the existing taskpane, not launch a new one (as pictured) so this behaviour is definitely a bug.

Unfortunately, I'm unable to repro this with our test add-ins and I'm running into some issues with the manifest you provided. Are you still seeing this on your end? Is this just for Excel Online, or are you s

[2020-09-15 01:58] mug-cat commented on #1374
I see. That's all I need for now. Thanks!

[2020-09-15 01:58] #1374 closed, assigned to exextoc

[2020-09-15 06:20] SWei1234 opened #1385 "[Outlook ] custom properties disappeared on Mac shared calendar"
This a problem happening recently. I have met this problem on both 'production' version and 'Inside fast' version.
Production version is 16.40(20081000)
Insider fast version is 16.41 (20083005)
related api :
Office.context.mailbox.item.loadCustomPropertiesAsync

## Expected Behavior
Add-in can save custom properties successfully on Mac Outlook client.

## Current Behavior
The properties will disap

[2020-09-15 07:10] dinglicoding opened #1386 "Ribbon Api throw ApiNotAvailabe"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior

ribbon button can disable or enable

## Current Behavior

https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands
we use this ,but it

[2020-09-15 08:21] MarcEichenberger commented on #1380
Update: It looks like the "POST" - Request at login already crashes the browser. The POST-Request (Login-Button click) arrives (localhost), but the browser is already crashed.

[2020-09-15 08:53] MarcEichenberger commented on #1380
The bug is partly on our site. When I press "Enter" to login, 2 POST requests are sent. The first one is "canceled", which causes the browser to crash. If only 1 POST is sent, everything works.

[2020-09-15 09:15] #1303 closed, assigned to joshholat, dinglicoding

[2020-09-15 09:22] dinglicoding opened #1387 "Excel: my excel addin can focused？(How to keep ribbon section persistent when running add-in)"
in excel  if user clicks on the cell or chart generated by the plugin, the excel ribbon menu will switch to 'Home' section automatically , user need switch back to plugin section again and again,is there a way to keep the plugin menu section always on top?

we use office.js  ,we found it will publish ribbonapi. but it only have enable and disable button event. it will have focus event?

thanks

[2020-09-15 12:00] ghost commented on #1312
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-09-15 12:03] SWei1234 commented on #1312
Hi @exextoc
Is the repair time of the problem derived from the repair of the problem available?
Thanks

[2020-09-15 14:16] SanketDG opened #1388 "External requests blocked due to Content Security Policy issue"
We are developing Outlook Web Addin.

To achieve our desired functionality, we are making HTTP Requests to our backend servers from our addin.

This works fine when using the `MessageReadCommandSurface` `ExtensionPoint` where we are showing  a taskpane.

However, when we try to use `MessageComposeCommandSurface`, and we use the following manifest snippet inside it:

[code]

This `functionName` is

[2020-09-15 22:14] pkkj commented on #1386
Hi @dinglicoding, Ribbon API requires shared runtime defined in the manifest. Would you like to check out the "Shared runtime required" section in the "Enable and Disable Add-in Commands" document? It has detail info for shared runtime. Thanks.

[2020-09-16 00:00] T-Roth opened #1389 "2nd call to OfficeRuntime.auth.getAccessToken throws an error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have a spa app that has a signout button, and when a user signs out and back in the 2nd call to **OfficeRuntime.auth.getAccessToken** throws an exception.  I'm using this in an Outl

[2020-09-16 08:39] ghost commented on #1346
I've made a test with clean Windows environment, have the same issue. But interesting thing that, in Excel online it works as should. No preventing cell change after combobox using.

[2020-09-16 08:42] clavx commented on #1119
The same thing is happening. Here's the information I found out.

In OWA, the `GetAttachmentDownloadToken` is called every 5 minutes. If the `GetAttachmentDownloadToken` is called 3 times after attaching a file, the `getAttachmentContentAsync()` API to get the content of the attachment will fail.

Steps to reproduce:
1. Create a new email or open a draft email
2. Attach the *file (A)*
3. Attach th

[2020-09-16 08:44] jbaptistehuguenin commented on #1312
Hi @exextoc we are having the same problem here with our Outlook add-:in: no Recurrence object is returned for the appointment series.
Can you please update us on on your investigation ?
It sounded like a solution was about to be released and then no news, and then a bot message that the issue will be closed !

[2020-09-16 09:47] cattermo commented on #1287
I have similar problem with `isSetSupported("PdfFile")` returning true on Word on iPad. The documentation says clearly that it is not supported https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview.

[2020-09-16 11:45] ppagadala commented on #1278
@lliu113  I am still able to reproduce the issue. The issue is occurring in the Excel Online only. Once the user **Double-Click**  the ribbon item then two taskpane windows of same application will open. This issue can be reproducible with any manifest I guess. As a matter of fact how many clicks (don't pause in between) that you do on the Ribbon item that many taskpanes would open.

[2020-09-16 13:03] Enotsoul commented on #906
Can confirm that I've detected this issue when debugging other officejs/outlook plugin related issues, it seems to occur on a random fashion without any logic whatsoever.

[2020-09-16 13:15] cghaddar commented on #1259
The documentation has been updated.

[2020-09-16 13:15] #1259 closed, assigned to RuoyingLiang

[2020-09-16 14:24] LovikaJain commented on #1379
I am trying on outlook on the web

[2020-09-16 19:32] exextoc commented on #1287
@cattermo I checked on the issue described in this thread and it only impacts isSetSupported in OWA on Exchange 2013. Could you please open a new issue for the behavior in Word on iPad? This will help us get the issue to the right people to investigate.

If you think the issue is purely documentation-related, you can optionally use the Feedback link on the bottom of the documentation to open an is

[2020-09-17 00:56] exextoc commented on #1374
Just to clarify our last comment. For using [REST in Exchange on-premise](https://techcommunity.microsoft.com/t5/exchange-team-blog/on-premises-architectural-requirements-for-the-rest-api/ba-p/605609), the [Outlook add-in REST token](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api) can be used from an add-in's backend. The limitation is CORS is not supported by the on-prem

[2020-09-17 01:58] soorajhealthplotter opened #1390 "Worksheet Id changing after reopening workbook on different Excel 2016 Version"
## Expected Behavior
The worksheet id should be unique across different version of Excel(Office 365,Office online,Office 2016)

## Current Behavior
I have worksheet id is "{BF289900-56FF-4681-92AD-4C1C8EC2CB39}", then I created some sheet specific metadata to store data in database using worksheet id and saved workbook. I send the file over the client and the client was not able to access metadata

[2020-09-17 06:48] soorajhealthplotter commented on #552
I created a workaround. I have created a customDocProperties called workbook_id for the workbook and i am using this combination of workbook_id and worksheet id for certain resource to associate with worksheets.

Here also i am facing an issue.The details are

https://github.com/OfficeDev/office-js/issues/1390

[2020-09-17 07:01] soorajhealthplotter commented on #1390
I think the issue can be related to https://github.com/OfficeDev/office-js-docs/issues/297

[2020-09-17 07:15] exextoc commented on #1381
Hey @sarea ,

Apologies for the wait, it took some time to confirm things on our end. What you are seeing is the expected behaviour if the OnSendAddinsEnabled policy is enabled for a mailbox. The popout and disable mode is to ensure the email isn't edited while it's being sent. You can read the documentation about enabling the policy here: https://docs.microsoft.com/en-us/office/dev/add-ins/outloo

[2020-09-17 07:43] exextoc commented on #1367
Hey @Premsagar-lab ,

We could not reproduce this issue on our end. Can you share the exact build number of the build you see this issue in? Is it possible for you to share a test account where this issue is reproducible?

[2020-09-17 08:13] sarea commented on #1381
Hi @exextoc
Thanks for the response.

The two accounts that I mentioned have the exact same settings, so both have the onsend enabled.
Also, I have noticed that behavior on one of our test accounts, but not on my work account, then after almost a month, I start seeing it on my test account as well, and as I mentioned, there is a third account who didn't get that behavior.
All those accounts belong

[2020-09-17 08:28] donlvMSFT commented on #1341
Hi @yuoooz , after we investigate, this is a behavior existing for a long time, supporting WOPI would be a new feature for these 2 APIs, and we don't have priority take this in current stage.

If it's important to you, I'd suggest that you could submit your request on [User Voice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563), and up-vote your re

[2020-09-17 08:52] cattermo opened #1391 "Word: IsSetSupported("PdfFile") not reliable on iPad"
I have a problem with `isSetSupported("PdfFile")` returning true on Word on iPad. The documentation says clearly that it is not supported https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview.

## Expected Behavior
isSetSupported("PdfFile") should return false on hosts that does not support getting the file as PDF.

## Current Behavior
`isSetSupported("PdfFile

[2020-09-17 11:23] exextoc commented on #1363
This behaviour in MAC is as per Design .You cannot use Exchange Web Services (EWS) to access items in the Gmail mailbox. This means that you cannot use makeEwsRequestAsync or use an EWS callback token from getCallbackTokenAsync to make EWS calls directly. Instead, you can get the same type of access to the items in the mailbox by using the Outlook REST APIs.Please follow this documentation for mor

[2020-09-17 13:44] dlpsysqa commented on #1367
@exextoc  we have collected spindump from the customer machine for the outlook process when the issue occurs. can you please check these dumps if these helps
[outlook_spindumps.txt](https://github.com/OfficeDev/office-js/files/5239442/outlook_spindumps.txt)
. else please point if any others logs needed to debug this issue.

[2020-09-17 15:50] exextoc commented on #1388
Hey @SanketDG,

Can you share a small code snippet of the API that you're trying to run? An even more helpful way would be to share the manifest of your add-in so that we can see what the problem is.

[2020-09-17 18:18] exextoc commented on #1367
Can you share the exact build number where this issue is reproducible?

[2020-09-17 18:49] glenboy617 commented on #808
Hiya I have same problem is there a fix

[2020-09-17 19:37] exextoc commented on #1364
Hey @DmitryKostochko ,

Thank you for reporting this issue about Ordered lists in setBody. We can see this issue across both Outlook for Windows and Mac and have added it to our backlog. Unfortunately, we have no timelines to share at this point.