[2020-02-24 11:53] mitoihs commented on #771
Thank you for the workaround. We can use it locally, but we cannot demand that our users will "hack" registry. (if I understand it right, the workaround is to use [this](https://docs.microsoft.com/en-us/office/troubleshoot/excel/force-excel-to-open-new-instance))

[2020-02-24 11:56] lumine2008 commented on #771
Correct, this is the workaround

[2020-02-24 12:03] mitoihs commented on #771
And is there an issue to follow about that "known gap"? Because I see that one is closed.

[2020-02-24 12:06] lumine2008 commented on #771
it's in our backlog, the effort is not small, I would suggest that you could submit your request in uservoice and upvote for this feature for Excel online at https://officespdev.uservoice.com/

[2020-02-24 12:19] mitoihs commented on #771
According to your suggestion, I've submitted [UserVoice request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/39781582-fix-generalexceptions-being-thrown-when-multiple-e)

[2020-02-24 15:03] esegcy commented on #953
Ok, tried that now: everything seems to work okay and no server errors. I can now also update that the `no-cache` header was added and doesn't help either :(

[2020-02-24 17:28] jlevenssfdc commented on #996
@exextoc Should this be a feature request?

[2020-02-24 21:02] chrisecorcoran commented on #926
@exextoc thank you.
RE: the issue reported by @anilreddyr7 - thank you for confirming how updates roll out for Outlook online. I do have remaining questions above but will add here for more clarity.

- Is this a client side fix for desktop users and if so how do they get the update AND how can they get it sooner?
- If it is not a client side fix but the user uses desktop Outlook then how does thei

[2020-02-24 21:59] davidchesnut commented on #1001
Hi @sourabhkrishna,

Thanks for your question, however this forum is for issues with our product or documentation, not for programming questions related to your code. We suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) with the tags office-js or outlook-web-addins and see if your question has already been asked or ask a new question.

Thanks,
Office Platform

[2020-02-24 21:59] #1001 closed, assigned to nobody

[2020-02-24 22:19] schmkr commented on #991
Some more info: we have identified this is an issue with configuring IIS to allow CORS requests to the rest api url provided at `Office.context.mailbox.restUrl`.

We cannot find any documentation on the side of OWA, nor on on the side of On Premise Exchange, how IIS is supposed to be configured to allow Add-Ins to request the Rest API. The only thing on the OfficeJs side, is [this page](https://do

[2020-02-25 00:00] ghost commented on #999
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-02-25 01:51] Zlatkovsky commented on #994
@lumine2008 , that's a great find.  Is something that can be added to the documentation for the `table.delete()` API?

[2020-02-25 02:40] exextoc commented on #991
OWA REST API is not supported on On-Prem. You will have to hit Hybrid endpoint to make it work, Or you can try using EWS API for your scenario.

[2020-02-25 02:57] exextoc commented on #926
This issue was reported for OWA and the fix went in OWA client.

[2020-02-25 03:03] exextoc commented on #1004
We are able to repro the issue. Thanks for reporting it. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-25 03:34] exextoc commented on #964
onSend add-ins are treated in a similar manner as every other add-in. So the timeout for onSend add-in is also 5 minutes. You have to register the onSend event before 5 mins.
Regarding the timeout which you are setting might not be same as 5 mins of the add-in timeout as the add-in timeout starts as soon as it is launched so you try setting the value less than 5.

[2020-02-25 04:24] Fedarcher opened #1007 "Double-clicking from Ribbon to load a Task pane breaks functionality, which prevents Task pane from showing next time"
## Expected Behavior

One instance of the Task pane should be opened.

## Current Behavior

Two panes show up.

## Steps to Reproduce

Open any task pane in Excel online by double-clicking on the Ribbon button.

## Context

One of the panels may not work at all giving the Add-in error.
After closing the panes, I can not show the Task pane again. Only reloading the web page allows fixing the issue

[2020-02-25 05:00] ghost commented on #985
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-02-25 05:00] #985 closed, assigned to XiangGaoMSFT

[2020-02-25 05:11] chanhohang commented on #994
@lumine2008 thanks for explaining.
I can understand this is the same behavior from the UI.

what will be your suggestion if we need to remove row/ clear tables when there is filter applied to the table?

[2020-02-25 07:10] schmkr commented on #991
Where can I find that in the documentation?

[2020-02-25 07:14] benj-spectory commented on #348
Hi,
i'm having the same issue...
@evantrimboli did you manage to make it work?

[2020-02-25 08:38] zjomzjom commented on #771
@lumine2008 As I wrote above, running in separated instances is not a sufficient workaround, because if you open Excel file through the explorer, it is being loaded to an existing instance.  Additionally, you cannot copy formulas, values, formats, and comments through instances.

[2020-02-25 10:07] robino2020 commented on #991
As I understand:
- Outlook add-in Javascript API requirement set 1.5 is [supported](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/outlook-requirement-set-1.5) in both Exchange 2019 and 2016 on-premise.
- [Part](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/outlook-requirement-set-1.5) of Outlook add-in

[2020-02-25 12:00] evantrimboli commented on #348
No, I didn't really pursue this much. I know that the environment has moved on to something Edge based now, so perhaps in newer versions it has been resolved.

[2020-02-25 12:07] benj-spectory commented on #348
@evantrimboli as far as i tried, it does not work...
@keyur32 do you have any idea\workaround that might work?

[2020-02-25 15:07] chiragvidani commented on #1006
Few pointers which can help you to reproduce this issue.

We have created a Demo website, which is working in most of the browsers and but not as a Word Add-in on a machine with updated Win10 and Office365 with Edge WebView.

Demo website URL: [https://cvaddindemo.azurewebsites.net](https://cvaddindemo.azurewebsites.net/)

Manifest file compressed as a zip, pointing to the above demo website, whic

[2020-02-25 15:58] DmitryKostochko opened #1008 "Outlook desktop: addFileAttachmentFromBase64Async throws code: 5001, message: "An internal error has occurred." in pinned add-in"
In an Outlook add-in for compose mode, we are using the addFileAttachmentFromBase64Async method to add attachments. In Outlook desktop, the "Internal Error" occurs if the add-in's pane is pinned.

## Expected Behavior
The error should not occur.

## Current Behavior
Error:
code: 5001
message: "An internal error has occurred."
name: "Internal Error"

## Steps to Reproduce, or Live Example
1. Create

[2020-02-25 17:06] jaceaser commented on #558
After performing some debugging, the requests are not leaving the Excel container. It seems there's a CORS pre-flight check and it never hits the server. This is extremely frustrating and I do not have any workaround.

[2020-02-25 23:10] exextoc commented on #995
To make sure we are looking at the same thing, are you referring to the Salesforce addin from the office store https://appsource.microsoft.com/en-us/product/office/WA104379334?src=office&tab=Overview ?

[2020-02-25 23:13] mmatu-fmb commented on #995
Yes that is correct.

[2020-02-26 00:09] exextoc commented on #953
When you say everything seems to work okay, do you mean you no longer repro the issue?  Or are you still seeing the occasional blank add-ins?

Also, to confirm your use of no-cache, header, are you including the cache-control header in the http response?  https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

Outlook add-ins rely on browser caches and does not implement its cache

[2020-02-26 01:09] exextoc commented on #1008
I followed your steps but cannot repro this issue.  addFileAttachmentFromBase64Async works fine in a pinned addin.  Could you include the ItemChanged snippet and the APIs that you tried?  In your repro, does the API also fail in a new compose pinned addin (instead of reply/forward)?

[2020-02-26 02:33] hello-chenchen commented on #989
hi @exextoc @davidchesnut ,
is there anything can be updated?
thanks

[2020-02-26 03:01] naemcivic opened #1009 "Shared MailBox, OfficeJS saveAsync() and other OfficeJS API not working"
On our Outlook add-in for compose mode, we are using the Office JS API to save the email draft by calling ```Office.context.mailbox.item.saveAsync()```

## Expected Behavior

Office JS methods should work.

## Current Behavior

code: 5009
message: “This browser does not support the requested API.”
Name: “API Not Supported”
status: “failed”

## Steps to Reproduce, or Live Example

Add a shared mail

[2020-02-26 03:13] naemcivic opened #1010 "Shared MailBox, OfficeJS Office.context.mailbox.item.body.getAsync() not working on Outlook Mac"
On our Outlook add-in for compose mode, we are using the Office JS API to parse the body of the email body by calling OfficeJS Office.context.mailbox.item.body.getAsync("html", callback)

## Expected Behavior

Should return the HTML of the email body

## Current Behavior

Returns as Null object

## Steps to Reproduce, or Live Example

Add a shared mailbox:

1. Find and Open a shared mailbox

Steps

[2020-02-26 03:46] exextoc commented on #991
yes, Outlook add-in Javascript API requirement set 1.5 is supported in both Exchange 2019 and 2016 on-premise. But the Javascript API requirement set 1.5 supports calling REST API only for Online. Its a documentation miss and we will add an workitem in our backlog to update it. For REST API, check the [documentation](https://docs.microsoft.com/en-us/graph/hybrid-rest-support)

[2020-02-26 04:20] exextoc commented on #1009
We are able to repro the issue. Thanks for reporting it. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-02-26 08:07] schmkr commented on #991
Thanks for that explanation @exextoc.

How can an Add-In know if it has to hit that Hybrid endpoint or the regular REST API endpoint?

And wouldn't it make sense to set the url of the Hybrid endpoint on the `Office.context.mailbox.restUrl` so Add-In can work seamlessly no matter their environment? Or would an OnPrem Exchange set up in Hybrid mode already do this?

[2020-02-26 08:34] robino2020 commented on #991
@exextoc is using REST API in hybrid deployment already GA? As the [documentation](https://docs.microsoft.com/en-us/graph/hybrid-rest-support) is updated May 2019 and mentions:

[2020-02-26 09:19] jkpieterse opened #1011 "Excel: Names collection of worksheet object includes workbook-level names"
## Expected Behavior

The names collection of the workbook object includes all names, including all worksheet-scoped names. The names collection of the worksheet only includes names scoped to the worksheet
## Current Behavior

The names collection of the workbook object includes only workbook-scoped names, EXCLUDING all worksheet-scoped names. The names collection of the worksheet includes names s

[2020-02-26 09:55] exextoc commented on #996
yes please add to the[ user voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins)

[2020-02-26 09:58] DmitryKostochko commented on #1008
I have attached a small code sample, hope it will be helpful.
[test.zip](https://github.com/OfficeDev/office-js/files/4254642/test.zip)

The addFileAttachmentFromBase64Async method works fine in this case, i.e. in a newly opened Outlook Inspector window. I think I described the repro steps incorrectly, please try these ones:
1. Select an email in Outlook Inbox, click Reply and enter some text in t

[2020-02-26 10:01] exextoc commented on #991
yes this ability is currently in preview, Can you try doing the REST call from server in onPrem.

[2020-02-26 10:33] vputsenko commented on #927
@exextoc  why is this ticket closed if you confirm that bug present? closed ticket means fix and release date (at least appoximate)

[2020-02-26 12:36] dkornat opened #1012 "Excel online js - context.sync() GeneralException"
Hi,
I'm preparing simple add-in to import CSV file to Excel Online.
First I upload a file in add in task pane and then I parse csv file to array by Papa parse library:

`async function retrieveDataFromCsv() {
  return new Promise<string[][]>((resolve, reject) => {
    let input = document.querySelector("#CsvImport");
    let file = input.files[0];

    if (file) {
      let fr: FileReader = new Fi

[2020-02-26 14:29] lumine2008 commented on #1007
Hi, @Fedarcher, it seems that i cannot repro this issue in my endsuccessfully, would you mind to share the gist? you could use script lab and upload your gist.
![image](https://user-images.githubusercontent.com/26398035/75354095-65648e80-58e7-11ea-8236-f43ed7d8123c.png)

[2020-02-26 14:32] lumine2008 commented on #1011
Thanks @jkpieterse , i think this is the same issue in [stackoverflow](https://stackoverflow.com/questions/60395802/problem-with-names-collection-of-worksheet-object),  i saw your quesiotn in stackoverflow yesterday, i didnt reply to you is because that i could not repro it in my side, it's great that you share the workbook, so let me try to repro and get back to
 you soon.

[2020-02-26 14:41] jkpieterse commented on #1011
Hi Raymond,

Yes it is the same issue indeed.

Regards,

Jan Karel Pieterse
JKP Application Development Services
The Netherlands

From: Raymond <notifications@github.com>
Sent: woensdag 26 februari 2020 15:33
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: jkpieterse <jkpieterse@jkp-ads.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Names collection of wor

[2020-02-26 14:47] SWei1234 opened #1013 "[Outlook] All Add-in disabled in shared calendar on outlook"
We are on o365 using outlook windows 10 version 1901 with outlook version 1908 (16.0.12130.20272).
When we try to use add-in in a shared calendar all add-in are disabled.(the owner delegated editor authority).
Not every PC got this problem but I wonder why this happened? And how to fix it.

## Expected Behavior
add-in is available in shared calendar.

## Current Behavior

All add-ins are disabled

[2020-02-26 16:39] ravitejagGitHub opened #1014 "Office.context.ui.messageParent is not sending message to parent (task-pane)"
I have opened dialog box using office dialog box API from excel-taskpane  but sometimes i'm getting below js error in console while opening the popup/dialog-box after that Office.context.ui.messageParent is not sending response to parent.

excel-web-16.00.js:24 Uncaught Function ContextActivationManager_getAppContextAsync call failed. ErrorCode is -3, exception: [object Object]
![image](https://us

[2020-02-26 22:19] andrewzjl opened #1015 "body.getAsync returns different value in native outlook and OutlookWeb in different browsers"
When using the context.mailbox.item.body to get the email content, for some email, the results are different in native outlook Mac/Windows and Outlook online in different browser

## Expected Behavior

Expects the results are the same for all
## Current Behavior

The results are different. Some words are with whitespace for the API in outlook online which is unexpected.

I hope the API from differ

[2020-02-27 02:41] lumine2008 commented on #1012
Thanks @dkornat, our team has started this investigation, however, based on script that you share in this post, we are not be able to repro this issue, so Could you please share a gist to us for repro? Thanks.
![image](https://user-images.githubusercontent.com/26398035/75407349-bad38680-594d-11ea-897a-b849af923bd0.png)

[2020-02-27 05:28] lumine2008 commented on #1011
Thanks @jkpieterse , We repro'ed this issue, and a bug(#3983983) was created to track this issue. team is investigating on this issue.

[2020-02-27 07:05] lumine2008 commented on #1012
it would be great if you could share more information including: How many columns are there? The column is more than 26 or not?
could you please try to log what is addressRange and “content.slice(i, (i + 1) * batchSize)” which is used to set range value. Check whether they are valid input.
[code]

so, it would be great if you could share us:
1. gist
2. sample CSV file

Thanks.

[2020-02-27 09:15] hyzhang opened #1017 "Excel: autofitColumns() autofits the width according to the whole column's content's length rather than current page's"
autofitColumns's doc is Changes the width of the columns of the current range to achieve the best fit, based on the current data in the columns. Although it's based on data in the columns, but it also says changes the width of the current range

Example: if I input a long string 'aaaaaaaaaaaaa' in A1, and input 'aa' in A2, and ctx.workbook.worksheets.getActiveWorksheet().getRange(`A2`).format.auto

[2020-02-27 09:45] esegcy opened #1016 "All Outlook add-ins are failing to load"
Starting an hour ago, all add-ins (including the built-in "Insights") don't work.
The Outlook add-in loader spins for a while and then shows error:
```something went wrong and we couldn't start this add-in. Please try again later or contact your system administrator.```

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC desktop + Mac + Office online
* Host [Excel, Word, Pow

[2020-02-27 17:27] Rick-Kirkham commented on #1017
Moving this issue to the office-js repo because it is really a technical issue, rather than an error in the documentation.

[2020-02-27 19:08] exextoc commented on #1015
body.getAsync API return the body based on Outlook's editor, and the results between each platform are expected to have some difference.  Could you be more specific or provide an example of the difference that you are seeing, and whether you are seeing this in read or compose mode?  Also I notice that you mentioned style, but your script is using 'text' as the coercion type parameter.  Is there a

[2020-02-27 19:29] exextoc commented on #1013
Are the addin manifests updated to include SupportsSharedFolders?
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/supportssharedfolders
Could you also include screenshots of the cases when the addins are disabled and when they are not and the version number screenshot?

The SupportsSharedFolders feature was enabled for some users depending on the office channel in Outlook ve

[2020-02-27 20:02] technicallyty opened #1018 "SecurityError when working with websockets"
I'm creating an excel addin using officejs. I am trying to build something that uses websockets to receive data. I am getting an ambiguous error when doing so though. All it says is Error: Security error. I believe this is happening due to implicit SSL/TLS requirements by the IE/Edge browser process that runs in officejs taskpane addins. With many other programs such as electron - you are able to

[2020-02-27 23:05] amiram opened #1019 "Outlook on the web: custom property not saved in onsend script"
when you set properties in onsend script, the last property you set is not being saved. I have an onsend script that saves some custom data in the mail item metadata. After each property change I save the custom property and wait until the save callback called with success. All data is saved except from the last one. If I repeat the last property set twice, it works. The bug doesn't exist in windo

[2020-02-27 23:58] AlexJerabek commented on #1019
Hi @amiram,
Thanks for reporting this. I'm going to transfer this issue to the office-js repo, where they monitor product bugs. Tagging @exextoc to investigate.

[2020-02-28 01:20] exextoc commented on #1008
I can repro with the updated steps.
Thanks for reporting this issue regarding addFileAttachmentFromBase64Async  issues. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-02-28 03:06] exextoc commented on #1016
Do you see any console errors or network errors? Is the issue consistent?

[2020-02-28 03:08] exextoc commented on #1019
Can you share the code snippet which you are trying?

[2020-02-28 18:37] erharvey opened #1020 "Possibility of removing the loading screen"
Hello,

It is possible to remove the "loading" placeholder when calling the context.sync method? (See below)

We have a plugin that loads data in batch (Basically ajax call, render data in table). Since the process can be potentially long, the user has the option to cancel the loading process within the plugin taskpane using a uifabric button. During the process, a uifabric shows a spinner to indi

[2020-02-29 20:12] rocknet commented on #558
@keyur32 @kbrandl It looks like at least a few of us are having this issue.  I'm happy to help pickup troubleshooting since we've lost follow-ups from OP.  My STR are slightly different, but along the same lines...

- Excel version 16.0.12430.20198
- Server running on Microsoft.AspNetCore.Mvc 2, CORS enabled from everywhere, endpoint url is http://localhost:55319 - obviously in testing and trouble

[2020-02-29 21:58] amiram commented on #1019
Some code:
We have a wrapper around mail item.
[code]
Now this wrapper is created after waiting for the custom properties to load:
[code]
We have an add-in command for onsend event:
[code]
After the message is sent we try to read the custom properties and see if we should show some data about the message:
[code]
This is working fine in outlook on Windows and Mac, but in the web version, some other

[2020-03-01 17:44] jaceaser commented on #558
@rocknet I was able to find work around until the issue is resolved. I had to make the request and subsequent API endpoint a simple request that will not trigger CORS pre-flight. The only header I sent was application/x-www-form-urlencoded so my function was not a JSON function. Granted this is not a solution, but is a workaround.

[2020-03-01 18:53] rodrigoguariento opened #1021 "Outlook: How to detect which screen the add-in is working?"
Does someone know how to detect which screen the add-in is working when we are working with Outlook? Thank you since now.

This question is related to this strange behaviour: https://stackoverflow.com/questions/60435454/microsoft-outlook-web-desktop-add-in/60441711

[2020-03-02 01:47] SWei1234 commented on #1013
Hi @exextoc
Yes, the manifest has already include 'SupportsSharedFolders' and set it to true.
When they create a meeting on a shared calendar the add-in is disabled.
![image](https://user-images.githubusercontent.com/15980696/75639189-a0a9e900-5c6a-11ea-8ebf-7cd4f0fd265d.png)
When they  create a meeting on their own calendar the add-in is enabled.
And now we meet this problem both on windows 1901

[2020-03-02 06:48] lumine2008 commented on #1017
Thanks, I can repro this issue, I think our behavior API aligned with when double click the resizable button in column, it will resize according to the content of the whole column.

A bug(#3984867) was created to track this issue, Team is investigation on it.

[2020-03-02 07:49] exextoc commented on #1021
The add-in will work for the window (Screen) in which it has been opened, the add-in only has context of that window. For an add-in to work for a specific window, it has to be opened for that window.

[2020-03-02 09:45] Saarnaki commented on #711
Has anybody figured out a way to prevent this?

In our case the user fills out a form in the dialog which in some cases can take longer than the said 330 seconds. And this itself causes bad UX, since they have to open it up again and enter the same details - again.

[2020-03-02 09:55] tobiasviehweger commented on #711
We do save a copy of the current UI state and restore it if the dialog was forcefully closed. Not great, but better than losing everything...

[2020-03-02 10:09] KravetsArtem commented on #982
Hi,
We have exactly the same issue in Excel Add-In. It sometimes randomly appears during just starting of Add-In, but if we managed to open add-in we get it whenever iFrame or popup window gets closed.
We are able to reproduce it on our machines so we can provide any logs that can be helpful.

We use:
Office Professional Plus 2016(Version 2001, Build 12430.20288 Click-to-Run)
Edge 44.18362.449.0
E

[2020-03-02 10:24] Saarnaki commented on #964
Is there any way to bypass this timeout? Is it reset by some action?

Also, can you give us any recommendations, like schmkr wrote?

[2020-03-02 10:39] MhooTanapatAT opened #1029 "[Excel Addin] Custom ribbon is not working at first click and it is requiring to click twice."
After upload custom ribbon manifest to excel, the ribbon won't work at first click. Is there any solution for this issue?
## Article URL
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/add-in-manifests.md

## Issue
Excel custom ribbon have to click twice to make it work. I have investigated and, found that on the first click, the ribbon will load function file that provided

[2020-03-02 11:40] masa-fleet opened #1022 "Outlook: Office.context.mailbox.item.displayReplyAllForm doesn't start callback"
`Office.context.mailbox.item.displayReplyAllForm` doesn't start callback. We don't update our code, but this function doesn't start call back after we update Outlook through Microsoft Update (not sure but probably it may affect).

## Expected Behavior
`Office.context.mailbox.item.displayReplyAllForm` invoke callback function as written in [document](https://docs.microsoft.com/en-us/javascript/api/

[2020-03-02 12:58] rocknet commented on #558
@jaceaser Good point, I guess that's possible.  The API I'm dealing with is pre-existing and called from other systems but I could potentially add another.  Kind of a hack, but you're right, it'd get around it temporarily.  Thanks

[2020-03-02 15:42] lumine2008 commented on #1000
Thanks @chanhohang , now we can repro this issue, based on our investigation, we found this only happens when the table has 0 rows and then call table.rows.add() which will trigger a “(Forced) Insert Row" operation.: BUG 3991007 was created. but there is workaround that can avoid this issue. when the table has 0 rows, we can edit the row directly to achieve the same goal with table.rows.add.

[cod

[2020-03-02 16:06] dmashchenko commented on #954
Hi @lliu113 , @weshi  could you please speed up the process of reviewing this issue? Looks like it's becoming a real problem for our customers. Thanks.

[2020-03-02 16:16] leybal opened #1023 "Shared JavaScript runtime"
Hi guys! Do you have plans to move the [Shared JS runtime](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview) from preview to a stable version? Do you have any updates regarding this functionality? We plan to use it in our add-in and it will be great to understand runtime future. Thanks in advance!

[2020-03-02 20:30] lindalu-MSFT commented on #1010
Hi @exextoc Here's another issues, looks like the previous one except for the Mac. Did you want to resolve this one **add to backlog** as well?

[2020-03-02 20:37] eugeneogongo commented on #1022
Hello, I have been facing this issue when trying to invoking `Office.context.mailbox.displayNewMessageForm`

My Environment is:

- Mac (Catalina 10.15.3 (19D76))
- Outlook for Mac Version 16.34 (20020900) with Office 365 Subscription
- Office version number: Version 16.34 (20020900)
- Operating System: Mac OS X Catalina 10.15.3 (19D76)

NB: `Office.context.mailbox.displayNewMessageForm` works on W

[2020-03-02 20:42] lindalu-MSFT commented on #1005
In backlog: #3226763

[2020-03-02 20:51] lindalu-MSFT commented on #1009
Hey @exextoc There are several issues you've resolved "Added to Backlog". Do you want me to close these issues or leave them open for customers to see what we have in the backlog?

[2020-03-02 21:03] exextoc commented on #1013
The main reasons that this can happen is that the Exchange Server Version does not support SupportsSharedFolders. Mainly On Prem Exchange Servers don't support it. Also older versions of the desktop client, will also show add-ins disabled on shared items.

At this point, there must be some difference between the PCs that are working and the PCs that are not working. So any difference between the t

[2020-03-02 21:10] lindalu-MSFT commented on #1023
@nokafor Are you the correct PM for office.js runtime? If so, can you answer this q? If not, can you please reassign? THANKS, lindalu

[2020-03-02 21:13] #1021 closed, assigned to exextoc

[2020-03-02 21:18] lindalu-MSFT commented on #1020
Hi @erharvey! Thanks for reaching out to us. However, in order for us to investigate, we need more info. Can you provide us with your environment, including what product you're experiencing this in? Ideally, can you create a video of the steps to repro and upload it here or provide detailed steps to repro? Once we have more info, I'll be able to assign this to the product eng team. THANKS

[2020-03-02 21:22] lukchen opened #1024 ""something went wrong and we couldn't start this add-in" on Excel Online"
When I upload my manifest and open the addin in Excel Online, it shows "something went wrong and we couldn't start this add-in, Pls try again later or contact your system admin"

![image](https://user-images.githubusercontent.com/26646767/75718953-dddd9d80-5ca1-11ea-841e-3e0542a51fe8.png)

This is my manifest, very simple, url is pointing to google:

<?xml version="1.0" encoding="UTF-8"?>
<OfficeA

[2020-03-02 21:22] lukchen commented on #1024
<?xml version="1.0" encoding="UTF-8"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="TaskPaneApp">

  <Id>c6890c26-5bbb-40ed-a321-37f07909a2f0</Id>
  <Version>1.0</Version>
  <ProviderName>Contoso, Ltd</ProviderName>
  <DefaultLocale>en-US</DefaultLocale>
  <DisplayName DefaultValue="Northwind Traders Excel"

[2020-03-02 21:22] lukchen commented on #1024
![image](https://user-images.githubusercontent.com/26646767/75719055-0d8ca580-5ca2-11ea-9900-0f955adac6d5.png)

[2020-03-02 21:23] #1000 closed, assigned to lumine2008

[2020-03-02 21:25] lindalu-MSFT commented on #999
@ybrodsky Have you been able to resolve this issue? Our team needed more info from  you to investigate. Please provide the info requested by exextoc.

[2020-03-02 21:28] lindalu-MSFT commented on #996
@jlevenssfdc Please provide the link to the UserVoice feature request! Thanks, linda

[2020-03-02 21:34] lukchen commented on #1024
![image](https://user-images.githubusercontent.com/26646767/75719982-bb4c8400-5ca3-11ea-9f8c-184971594688.png)

[2020-03-02 21:35] lukchen commented on #1024
I've changed the GUID already

[2020-03-02 21:35] #962 closed, assigned to lliu113

[2020-03-02 21:36] ybrodsky commented on #999
Hi, sorry for the lack of response, I have been away.
I was going to check the AppSource deployment method when I opened outlook and it started working. Outlook showed a prompt asking me permission to access the internet and after that it was working.

So kinda fixed itself (?).

If you know there are no restrictions in the desktop app to access foreign urls like I did, then I guess you can close

[2020-03-02 21:36] #959 closed, assigned to lliu113

[2020-03-02 21:37] lindalu-MSFT commented on #953
@esegcy Has this issue been resolved to your satisfaction?

[2020-03-02 21:43] lindalu-MSFT commented on #1029
@davidchesnut Can you help me here? I think this might be in the wrong repo. Shouldn't this be in office-js? If it's a documentation bug or request, please let me know. Otherwise, can you move to office-js and assign to the correct Excel PM? THANKS

[2020-03-02 21:47] lindalu-MSFT commented on #999
Thanks for the update!!

[2020-03-02 21:47] #999 closed, assigned to exextoc

[2020-03-02 21:52] lindalu-MSFT commented on #1010
Hi @naemcivic Looks like this issue was added to the backlog as well. I don't know when there will be resources available to address this.

[2020-03-02 21:59] jeremy-msft commented on #1023
Hi @leybal, thanks for your interest in this feature!  We don't have any release dates to share today, but we're excited to hear your feedback from the preview, which is available for Office Insiders across Windows, Mac, and Web.

[2020-03-02 21:59] #1023 closed, assigned to jeremy-msft

[2020-03-02 22:01] jlevenssfdc commented on #996
@lindalu-MSFT https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/39800023-add-displaymessageformasync-to-office-js-so-that-i

[2020-03-02 22:03] rodrigoguariento commented on #1021
For example: I'd like to detect when my add-in is opened in Scheduling Assistant window. How to detect it with office-js inside Outlook Desktop?

[2020-03-02 22:48] brownlzw1997 opened #1025 "InvalidArgument Error when write data to a range object in Excel Add-in"
Received a InvalidArgument error with message "The number of rows or columns in the input array doesn't match the size or dimensions of the range." when set the value of an Excel range object.

Help we needed:
Is there something we do wrong in the code?
How to debug this more effectively?
Is there any way for us to add more detailed logging?

## Expected Behavior
No error

## Current Behavior
The

[2020-03-03 02:04] lindalu-MSFT commented on #996
@jlevenssfdc THANKS! Closing this issue for now.

[2020-03-03 02:04] #996 closed, assigned to exextoc

[2020-03-03 02:11] SWei1234 commented on #1013
Really appreciate your reply.
Now we got this problem on 16.0.12130.20272(Outlook Version).
And using account A schedule a meeting on account B shared calendar.(Both A and B can use add-in on their own calendar)
I'm checking with our customer about the exchange version.
And I wondering if we can get a list about which version will support use add-in on a shared calendar which will not support?

[2020-03-03 02:32] lindalu-MSFT commented on #1021
@rodrigoguariento This repo is for actual product bugs, not how-to and programming questions. We strongly suggest that you ask this same question on Stack Overflow. Use the tags office-js or outlook-web-add-ins or [both](https://stackoverflow.com/questions/tagged/office-js+outlook-web-addins)!

[2020-03-03 05:27] lumine2008 commented on #1025
Thanks @brownlzw1997 , we have your sample code but it seems that we are not be able to repro this issue.
https://gist.github.com/cjx0109/9628cbe9f553b1bca93bd2920f2aee9c

Would you please check the gist and see what are the issues? kindly modify this gist as needed to make this bug be able to repro. thanks

[2020-03-03 07:15] ravitejagGitHub commented on #962
Thanks you.

[2020-03-03 09:42] esegcy commented on #953
Hi @lindalu-MSFT,
Thanks for your reply. Actually the issue is not fixed after setting the `cache-control: no-cache` header.
As said, we don't experience issues when using the browser directly to go to the hosted address (in SourceLocation) so I'm not sure about @exextoc last suggestions regarding network issues. Plus we're talking about CloudFront CDN so I expect reaching it to be pretty flawless

[2020-03-03 09:45] esegcy commented on #1016
I expected the problem to be detected from your logs. I don't have anything to contribute now because it doesn't reproduce anymore so closing this ticket.

[2020-03-03 09:45] #1016 closed, assigned to nobody

[2020-03-03 11:59] amiram opened #1026 "Getting error "Cannot set property 'permissionLevel' of undefined" when switching folders"
When switching folders and my add-in is pinned, I see an error from office.js library
`Cannot set property 'permissionLevel' of undefined`

It is coming from these lines, source map indicates it is https://appsforoffice.microsoft.com/lib/1.1/hosted/outlook-web-16.01.alpha.debug.js:

[code]
## Steps to Reproduce, or Live Example
1. Open a mail item with a sidebar pinned.
2. Click on a different fol

[2020-03-03 13:16] chiragvidani commented on #1006
@JuaneloJuanelo @davidchesnut  Please help us with any update on this issue.

[2020-03-03 14:26] Artsiom-L commented on #964
I had the same issue with the dialog window, if it's your case you can create it through task pane. (e.g. trello add-in uses that way). If you have implementation questions you can mail me.

[2020-03-03 17:14] renqi2018 commented on #1025
As @lumine2008 said, your code works well with the input like: writeSliceToWorksheet("Sheet1", 7, [[1,5,5],[12,6,7]]). May we know what input you used when getting the error?

For your other questions:
1. from the error messange, the problem is around
     const excelRange = ctx.workbook.worksheets
       .getItem(sheetName)
       .getRange(getA1Notation(range));
     excelRange.values = data;
If

[2020-03-03 19:13] andrewzjl commented on #1015
Which differences are expected in different platforms? I'm seeing the message in the read mode.
While I updated the description with more detail log, could you please have a look again?
I think the example email is because of the href link. Also, there are other cases, i.e. the text in table are without splitting by whitespace or other splitters.

[2020-03-03 19:44] exextoc commented on #1022
We are able to repro the issue. Thanks for reporting it. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-03-03 23:17] exextoc commented on #953
Sorry, it is a bit unclear what issue you are still facing.

- Your Add-in is showing a *blank* page sometimes? Or is it showing out of date pages sometimes?

- This is happening Across all devices and clients. (Mac, Win32, iOS, and OWA (browsers). Version for Windows, and Office matters on Win32 due to your add-in will load in either IE or Edge.

- Clearing the Cache, fixes the issue. How are you

[2020-03-03 23:21] lindalu-MSFT commented on #953
@esegcy In Chrome, whenever I have cache issues, I type **CTRL + F5**. Alternatively, you can clear you cache manually from **More tools > Clear browsing data** (**CTRL + Shift + Del**).

[2020-03-03 23:21] exextoc commented on #982
Is it possible that either of you has captured a dump of the crashing process?

[2020-03-03 23:27] exextoc commented on #989
Unfortunately, if this is repro-ing outside the add-in, then we don't really know why it's occurring, and is outside the scope of this support alias. Maybe you could try reposting in a general browser support area?

[2020-03-04 00:03] exextoc commented on #1013
Outlook Client Version should be: 16.0.12026 or later. So if you AND the people having this issue are beyond that number, then it is likely not the issue.

Exchange Version is basically any On Prem Exchange Server is NOT supported. So the only exchange versions supported are 15.20.*

15.00, 15.01, 15.02 Are NOT supported.

[2020-03-04 00:17] exextoc commented on #1015
There is no official documentation of all the differences between the clients, except that they are different. In the Plain Text case, each client has their own HTML to PlainText converter, and unfortunately there are minor differences between the two.

What are your scenarios that are blocked by this?

[2020-03-04 03:59] chanhohang commented on #1000
@lumine2008 thank you very much for the workaround code snippet. it works for us.

[2020-03-04 04:34] Kaidali commented on #730
I investigated and actually the SetSelectedDataAsync operation is successful. You can see the content control in document.
The Chart insertion operation is in the success callback of SetSelectedDataAsync. But The add-in is reload after the ooxml is set, so the callback is not called. And this is why the chart is not inserted.

But why add-in is reloaded?
What i can confirm now is that set ooxml is

[2020-03-04 06:39] tobiasviehweger commented on #982
We have not, but the customer was pretty responsive so we might be able to get one. Would you need a short or a full dump?

[2020-03-04 07:36] MandytMSFT commented on #1024
@lukchen how do you generate this manifest? did you publish your add-in ?

[2020-03-04 08:25] hello-chenchen commented on #989
hi @exextoc , thank you for your reply.
Sorry, i already mentioned at the beginning of the initial question.
**Not just add-in issues, but even your own official website have the same problem.**(https://outlook.office.com/calendar/view/week)
![image](https://user-images.githubusercontent.com/1878089/74630850-764e2b00-5196-11ea-9a73-fa28426872cc.png)

and the same error log:
![image](https://user-i

[2020-03-04 09:47] hdkdinh opened #1027 "Outlook Add-in can't work on Android 9 and Android 10"
I am developing Outlook add-in using add-in command to execute a function.
The test version of the add-in will open dialog then user can choose to click OK or cancel then another dialog will appear and user can click OK to complete the action.
The add-in works well on iOS and web, but not on Android

**Expected Behavior**
I expected the add-in can work on web, iOS, Android

1. The add-in will show

[2020-03-04 09:57] zfdongzhi opened #1028 "[Outlook] Office.context.mailbox.displayNewMessageForm doesn't show form correctly"
Sometimes when I call the Office.context.mailbox.displayNewMessageForm API, the compose new email form is not right. The code calling API is like:
if (!!Office.context.requirements.isSetSupported && Office.context.requirements.isSetSupported("Mailbox", 1.6)) {
    Office.context.mailbox.displayNewMessageForm({
        toRecipients: ["user1@microsoft.com", "user2@microsoft.com"],
        subject: "

[2020-03-04 17:45] croicu commented on #982
Thank you,
Alex

From: Tobias Viehweger <notifications@github.com>
Sent: Tuesday, March 3, 2020 10:40 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Alexandru Croicu <alexcro@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Edge WebView: Outlook crashes when starting any add-in (#982)

We have not, but the customer was pretty responsive so we mig

[2020-03-04 18:53] exextoc commented on #989
Sorry, we don't have any expertise in this area. Can you try opening up a GitHub issue at the bottom of that article?  https://docs.microsoft.com/en-us/windows/security/threat-protection/block-untrusted-fonts-in-enterprise

[2020-03-04 20:34] thoffmann-fms opened #1030 "Not a real useful feature"
Given that the SaveAsync method doesn't really "save" the data and it gets reset to default (see "Important" note at the top of the page) means this API method is not dependable enough to actually use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48ebc3bd-026b-1f53-9759-d08f528b1a5b
* Version Independent ID: a5b370a0

[2020-03-04 20:37] mscharlock commented on #1029
Hi @lindalu-MSFT, transferring this to office-js as requested as this is the place where we will most likely get an answer to this question. @RuoyingLiang can you weigh in on how to help here? Thank you!

[2020-03-05 02:22] hello-chenchen commented on #989
hi @exextoc , thank you for your reply.
I have open a github issue for the article. https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6167
waiting for the feedback.

Sorry, i still hope that the team of engineers can pay attention to it in order to solve this problem as soon as possible. After all, office365 outlook online has the same problem also.
 thanks a lot.

[2020-03-05 06:21] Sayyed-Abbas commented on #995
Hi,
I am experiencing same behavior on the app SAML with AWS.

Then webview is currently showing on iOS that the device is not managed

You Can’t get from here
You cannot access the resource from this browser on your device. You need to use Safari or Edge.

Request Id: 6a313ace-7525-410e-8f4c-fc5df6330500
Correlation Id: bad1f61a-780f-46a6-8f46-2ae53c5c2398
Timestamp: 2020-03-05T06:10:51.040Z
App

[2020-03-05 08:19] exextoc commented on #1028
We are not able to reproduce the same. It would be great if you share the test account.

[2020-03-05 09:13] exextoc commented on #1027
We are able to repro the issue. Thanks for reporting it. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-03-05 10:48] ndeeH commented on #730
Thank you for your deep investigation. At the moment I am too busy to provide a sample to reproduce.
But here I have the relevant calls when we add chart or table content:
[code]
Maybe you are able to reproduce it when using this calls. We are not triggering any event that refreshes the add in itself.
TIA, Andi

[2020-03-05 11:53] KravetsArtem commented on #982
Hi,
Here is a link for a dump of a process that creates problems: https://1drv.ms/u/s!ArV6qzJz7_sHamE9HFCdCm3NiZY?e=EcMzAK
If you need anything else I can provide some additional logs that will help you

[2020-03-05 14:04] topkoong commented on #1029
This happened to me as well. While I was debugging and monitoring the network tab from the browser, I found that if office.js is cached, it will immediately download prefetch-cached excel-web-16.0.js, and execute some functions prior to downloading custom-ribbon.html.

The behaviour is Excel only downloads the html file representing that ribbon once user clicks on the ribbon for the first time, an

[2020-03-05 14:50] andrewzjl commented on #1015
Our add-in is scanning the email content and listing the specified text that the user be interested in. But while the rule is based on the text pattern, if there is with/without whitespace between two words, we might have different results. In the example, the whitespace is after ':', that's fine. But, in many cases, the differences for whitespace are taken in two alphabet words.
So we really hope

[2020-03-05 16:30] esegcy commented on #953
*Our* practice of clearing cache per env:
**IOS**: Settings app > Safari > Clear History and Website Data
**Android**: Settings app > Apps & notifications > Outlook > Storage & cache > Clear cache
**OWA with chrome**: as @lindalu-MSFT said exactly (important to say we choose the time frame to all-time).
**Win64** (no win32 available to test):
1. Open IE11
2. Click the tools gear wheel icon
3. Choo

[2020-03-05 18:07] mscharlock commented on #1029
Yep, we will have someone check it out and get back to you - @RuoyingLiang will be on point to respond when we get an answer! Thanks :)

[2020-03-05 18:14] croicu commented on #982
Adding @Ling<mailto:lingz@microsoft.com> and @Liang<mailto:Liang.Zhao@microsoft.com>

Thanks,
Alex

From: Kravets Artem <notifications@github.com>
Sent: Thursday, March 5, 2020 3:53 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Alexandru Croicu <alexcro@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Edge WebView: Outlook crashes when starting

[2020-03-05 18:50] croicu commented on #982
The dump shows multiple thread in WWAHost waiting on WaitForPendingGitRegistrations while CoUninitialize. I remember Dave investigated something similar before. Don't know whether he knows more about how this might cause Outlook to crash.

Are there any failure/Watson events in event viewer(eventvwr.exe)?

Liang

From: Alexandru Croicu <alexcro@microsoft.com>
Sent: Thursday, March 5, 2020 10:14 AM

[2020-03-05 20:11] exextoc commented on #953
On Windows it is important to note that the [most recent builds](https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/) will use Edge WebView. The only way to clear the cache there, is to do a Ctrl-F5 when the focus is on the taskpane.

[2020-03-05 20:14] exextoc commented on #1015
Unfortunately, neither of those are possible at this time. The plain text converter is not documented across all the different platforms, and is different in every platform.

[2020-03-05 20:40] exextoc commented on #995
This issue with Edge WebView is known, but there is no additional information to provide at this time. @Sayyed-Abbas you should open a separate issue for iOS.

[2020-03-06 22:55] ElizabethSamuel-MSFT commented on #1030
@timothyhoffmann Thanks for raising this issue. I've transferred to the office-js repo where the product team can take a look.

Thanks.

[2020-03-07 01:26] collinstowell commented on #757
I can confirm and further explain the issue (not the solution unfortunately). I believe that the core of the issue is that the original volume license versions of Office 2016 are limited to version 16.0.4966 and earlier. Unfortunately this still represents a good portion of the market, so we're stuck dealing with these legacy issues until the vast majority of the user base upgrades to 365/19.

So

[2020-03-07 01:28] exextoc commented on #1030
Yes, this is a known issue with refreshing the add-in or loading a separate page. However, most add-ins don't need to do a refresh or load the page, meaning they can take advantage of roaming settings.

Filing a uservoice for a more robust roaming settings feature, would help us know how to prioritize this against our backlog:
https://officespdev.uservoice.com/forums/224641-general/category/131778

[2020-03-07 19:17] csreddyennam commented on #945
After recent update of office, its working fine.

[2020-03-07 19:18] #945 closed, assigned to keyur32, lumine2008

[2020-03-07 21:40] bdentino commented on #958
@JuaneloJuanelo The link provided has been in the 'Started' state without updates for over 2 years. Is there a GitHub issue I could subscribe to to be notified of progress on this feature?

[2020-03-07 22:35] bdentino opened #1032 "RibbonApi Examples"
Can you please add examples of how to use this API? According to [this page](https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/reference/requirement-sets/ribbon-api-requirement-sets.md), it should be available in Office on the web as of Feb 2020. I am able to get a ribbon handle using

`const ribbon = await OfficeRuntime.ui.getRibbon()`

But when I call

[code]

nothing seems to happ

[2020-03-08 19:28] bdentino opened #1031 "IsSetSupported not reliable"
## Expected Behavior

I expect `Office.context.requirements.isSetSupported("CustomFunctionsRuntime", "1.1")` to return `false` on Excel for Mac, v16.36, running with Retail License 2019.

## Current Behavior

`Office.context.requirements.isSetSupported("CustomFunctionsRuntime", "1.1")` returns `true`, even though custom functions are not supported in this environment.

Potentially related, `Office

[2020-03-08 21:55] Rick-Kirkham commented on #1032
Transferred to the office-js issue, because it's seems to be more an API bug than a documentation issue.

[2020-03-08 22:01] vbabeast opened #1033 "getAttachmentsAsync method does not return contentType"
When using getAttachmentsAsync method the contentType property is missing.

## Expected Behavior
The resulting Office.AttachmentDetails would include the contentType property

## Current Behavior
The resulting Office.AttachmentDetails does not include the contentType property

## Steps to Reproduce, or Live Example
1. Create a new email.
2. Add an attachment to that email e.g. a .docx file
3. In y

[2020-03-09 02:32] Kaidali commented on #730
I've already tried this, can't repro the issue. So there must be some other code make add in crash or trigger some weird event.

And i also replace the ooxml with really simple content in your client code, still have same issue. So the ooxml content is not the cause, too.

[2020-03-09 02:56] hdkdinh commented on #1027
@exextoc Could you arrange and give us a time to fix it. Because there are a lot of user use android device. Thanks!

[2020-03-09 05:28] exextoc commented on #1033
Are you facing the issue on OWA or Windows Outlook client ?

[2020-03-09 05:56] vbabeast commented on #1033
I was using the desktop client - Outlook version 2002 Build 12527.20242

[2020-03-09 10:01] exextoc commented on #1026
Thanks for the reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-03-09 13:53] exextoc commented on #1028
Do you have outlook.com account or enterprise account?

[2020-03-09 14:15] ndeeH commented on #730
So I have uploaded a non-optimized version of the add in to our QA version of the add in and tried to reproduce.
When stepping through the code the error does occur after:
`_this.mDocument.setSelectedDataAsync(contentControl, { coercionType: Office.CoercionType.Ooxml }, function (asyncResult) {`
I also saw a warning in the console that might point to a reason:
`OsfRuntimeWordWAC.js:18 Unrecognized

[2020-03-09 14:15] exextoc commented on #1027
We unfortunately have no timelines to share at this point. It has been put on our backlog.

[2020-03-09 16:22] jak-hammond opened #1034 "Office.context.ui undefined in dialog"
I have a dialog that is displayed via `displayDialogAsync` which redirects the user off to an authentication server. Once they have authenticated, they are redirected back to the app where some processing is done before trying to call `Office.context.ui.messageParent()` is used to communicate the auth result back to the parent app and close the dialog but this fails as `Office.context` is an empty

[2020-03-09 16:35] jak-hammond commented on #1034
Additional info I forgot initially:
- We are calling a local `/authprovider` route that then does a redirect back off to the authentication provider. So all initial loads of the dialog are still under our domain
- I seem to recall a while back there was some 'host info' in the query string of the dialog but when I do a redirect, that does not travel with it, although I cannot remember if it ever d

[2020-03-09 21:21] exextoc commented on #1033
contenttype is only set on Read, not Compose.

In general though, this property isn't that useful. It is a direct lookup of the suffix for the name of the attachment. (for example in your screenshot it would look up ".docx" and always return "application/vnd.openxmlformats-officedocument.wordprocessingml.document"

You can essentially get the same information yourself by grabbing the suffix and do

[2020-03-09 22:02] vbabeast commented on #1033
Thanks.

Given that getAttachmentsAsync is available in MessageCompose mode and returns an AttachmentDetails array I had expected that all properties would be returned.

Yes, I had figured that it was probably just doing some sort of lookup however the intention was that if the existing contentType property was "good enough" I wouldn't need to write and maintain code which would likely be similar

[2020-03-10 00:52] RuoyingLiang commented on #1031
Thanks for raising this. Currently, the requirement set is check based on build number. As custom function and Ribbon API also restrict only support O365 subscriber, so the requirement set return true but the feature doesn't support for the license you are testing. We are proactively working on solving that. Will update here once we have further progress.

[2020-03-10 03:14] hdkdinh opened #1035 "Microsoft Outlook 2013 meet crash when starting"
I am developing Outlook add-in using add-in execute a function.
I implement TLS 1.2 for add-in by:
**ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072;**
After that, I build .exe file and install into outlook. It works ok on outlook 2016, outlook 365 but meet crash on outlook 2013 when starting.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC desktop
* Ho

[2020-03-10 05:49] soorajhealthplotter commented on #261
I am also having the same bug

My Code is

Excel.run((context) ->
  sheet = context.workbook.worksheets.getItem(s_name)
  response_data = {"A1"=>"1000","A2"=>"1001","B1"=>"1000","B2"=>"1001","C1"=>"1000","C2"=>"1001"} # similary 54000+ records
  angular.forEach response_data, (key, value) ->
    range = sheet.getRange(key)
    range.values = [[ value ]]
  context.sync().then ->
    console.log("Da

[2020-03-10 06:56] soorajhealthplotter commented on #47
I am also having the same bug

My Code is

Excel.run((context) ->
  sheet = context.workbook.worksheets.getItem(s_name)
  response_data = {"A1"=>"1000","A2"=>"1001","B1"=>"1000","B2"=>"1001","C1"=>"1000","C2"=>"1001"} # similary 54000+ records
  angular.forEach response_data, (key, value) ->
    range = sheet.getRange(key)
    range.values = [[ value ]]
  context.sync().then ->
    console.log("Da

[2020-03-10 08:52] exextoc commented on #1004
We have fixed the bug and the fix would be available in the latest Insider Fast builds coming next week. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-03-10 09:14] SWei1234 commented on #1013
@exextoc
Thanks for your support.

[2020-03-10 15:21] exextoc commented on #1013
Closed Bug 1396548<https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_workitems/edit/1396548>
________________________________
From: SWei1234 <notifications@github.com>
Sent: Tuesday, March 10, 2020 2:14 AM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Outlook Extensibility Oncall <exextoc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/o

[2020-03-10 15:51] cidev5 commented on #934
We are still experiencing this issue in our production application. When should we expect this to be resolved?

[2020-03-10 16:03] #1030 closed, assigned to exextoc

[2020-03-10 16:19] #989 closed, assigned to exextoc

[2020-03-10 16:26] JuaneloJuanelo commented on #998
Hello thanks for reporting this issue. I was not able to repro it. We'll need more details to try to repro in our end.[ This is the snippet](https://gist.github.com/JuaneloJuanelo/1fc0bad0770c39ab6ce23f3520c641cb) i am using to test (you can restore in script lab):

1. By Any chance you can provide a sample document so we can try?
2. Can you please confirm this only happens on the Mac?

[2020-03-10 18:07] ElizabethSamuel-MSFT commented on #1033
Transferring to docs repo. Need to clarify in docs that this property is only available in Read mode.

[2020-03-10 19:05] Rick-Kirkham commented on #1032
@bdentino
See this article for how to use the new APIs: [Enable and Disable Add-in Commands](https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands).

You'll see there that it only works on the web when the user is using the single-line ribbon.

Also, the `visibility` property is not supported yet. It was documented and added to Intellisense by mistake.  (We hope to hav

[2020-03-10 21:48] redcirkle opened #1036 "EdgeManager.dll Crashes"
We are developing an Excel add-in using Office.js. In our taskpane, we are using MSAL to authenticate users before continuing the workflow. We are experiencing an intermittent crash in EdgeManager.dll after login. The exception code is 0xc0000005 (part of the application error log is listed below). We can replicate this issue across multiple developer machines. We can somewhat resolve this issue b

[2020-03-11 01:45] giulianozor opened #1037 "settings.saveAsync() and manifest version"
Hello,
I'm using Office.context.document.settings.saveAsync() to save the changes of Office.AutoShowTaskpaneWithDocument in a word document.

I updated my manifest version from 1.0.1.0 to 1.0.2.0 and added the relevant xml configuration.
[code]
Everything seems to work fine if I only use manifest 1.0.2.0

But if I
* enable the autoshow on version 1.0.1.0
* remove the manifest and sideload 1.0.2.0

[2020-03-11 04:35] exextoc commented on #1028
Already bug is opened for it:

Bug 1404243<https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/1404243>: New GitHub Issue [OfficeDev/office-js]: [Outlook] Office.context.mailbox.displayNewMessageForm doesn't show form correctly
________________________________
From: Alex Jerabek <notifications@github.com>
Sent: Wednesday, March 11, 2020 12:08 AM
To: OfficeDev/office-js <office-js@nor

[2020-03-11 08:05] exextoc commented on #991
@sarea

We would like to clarify few things on what we mentioned in earlier comments. Hybrid deployment is NOT a requirement for REST API to work.

**For On-Premise case:**

1. REST APIs does not work from a browser (addin) because of CORS issue (enforced by browser). We believe this is what you are observing right now.
2. But REST token can be used from addin-backend and REST API is suppose to wo

[2020-03-11 08:34] exextoc commented on #964
Currently, we do not have any recommendations for cases where user becomes inactive and keeps the dialog open for long time. We have 5min timeout by default and there is no dynamic way to change it.

But if you have certain use-cases where users are expected to be inactive, please file a user voice feature request for this. We track Outlook add-in feature requests on our [user-voice page](https://

[2020-03-11 09:41] exextoc commented on #1034
Can you please provide manifest so that we can reproduce this issue inhouse?

[2020-03-11 09:46] jak-hammond commented on #1034
I have done some more debugging and I think I have found the root cause of the issue and it is independent of the manifest.

When the dialog loads, it does a GET request to /auth which is a controller route on the .NET MVC backend. This route returns a redirect to the IDP and when the user completes the process and is returned back to the dialog on /authcallback the issue presents itself.

If howe

[2020-03-11 13:48] exextoc commented on #745
@kakusharma
The behavior for mac is correct. And is consistent throughout all the platforms now.
We are not able to reproduce the bug anymore.
The add-in should not get triggered for URLs and email addresses, even if a regex match happens with a text wrapped in anchor tag.
Please let us know if you are facing the issue anymore.

[2020-03-11 17:33] dzwillia opened #1038 "Can't upload manifest.xml file for local testing in IE11"
## Expected Behavior
I expect to open the Office Add-ins dialog and have it show the list of installed add-ins in the "My Add-ins" area and then to be able to click "Manage My Add-ins => Upload My Add-in" and upload my manifest.xml file and have the local version of my add-in available for testing.

## Current Behavior
The Office Add-ins dialog shows a spinner for a long time and then displays an

[2020-03-11 19:54] exextoc commented on #1022
Until this issue is fixed, the following workaround may work for you:

Update 3/13 -
(sorry I earlier had a workaround here) - This workaround is not supported and should not be used. We will update this thread when the bug has been fixed.

[2020-03-11 20:54] brownlzw1997 commented on #1025
@lumine2008, @renqi2018 This days I collect more loggings but unfortunately it doesn't give any clues. I also tried to use the sample data from logging in Script Lab to repro the error but no luck.

To moving forward, I am considering 2 things:
1. Since I cannot repro the error, it may be a random failure. I plan to add a re-try mechanism to the write to sheet method. Do you guys know what is the

[2020-03-11 22:21] AlexJerabek commented on #1038
I'm sorry to hear you're having trouble with IE11, @dzwillia.

@TCourtneyOwen, could you please investigate this issue?

[2020-03-11 23:19] AlexJerabek commented on #1036
@redcirkle, Thank you for reporting this issue.

@sumurthy, could you please investigate?

[2020-03-12 01:32] ypraveen commented on #558
@keyur32 @RuoyingLiang  Any updates on this?
Ran into the exact same issue (addin worked in excel on web and mac, but didn't work on windows excel).
I had to convert my POST request with Content-Type of "application/json" to a simple request as a work around (POST with Content-Type of "text/plain").
I am happy to share my setup details for further triaging the issue.

[2020-03-12 02:10] RuoyingLiang commented on #1031
@bdentino, for Ribbon API we've just rlease preview yesterday. Now it's available to Mac and without extra license check. Could you help to try again? Please let us know if you still cannot use Ribbon API.

[2020-03-12 07:12] benj-spectory commented on #558
I have found what is the problem.
as others said, Office.js supports Simple CORS. which mean you **CANNOT** add headers to your request (Authorization or cookies) so you have a few workaround
1. use a server  that will receive your token\credentials as query param\body and then send it to the actual server for authentication.
2. send the actual server the  token\credentials as query param\body and

[2020-03-12 08:52] DmitryKostochko opened #1039 "Outlook Online, Safari, setSelectedDataAsync produces incorrect formatting"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields.  The setSelectedDataAsync method inserts HTML with incorrect markup.

## Expected Behavior
The setSelectedDataAsync method should work as expected.

## Current Behavior
The setSelectedDataAsync method ignores markup in Safari.

## Steps to Reproduce, or Live Example
Create a new email in Outlook Online using t

[2020-03-12 09:15] exextoc commented on #1034
Thanks @jak-hammond. Your root-cause analysis seems right. This part about HostInfo value is documented here under "Important" note: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

Let us know if there is anything we can do in this issue or we can close it. Thanks!

[2020-03-12 12:25] hello-chenchen opened #1040 "Outlook add-in OfficeOnline IE11: Office.context.mailbox.item.body.setAsync not work on IE11"
[code]

execute above code for ie11 outlook office365 online on add-in, it can't set any body to the mail invitation body.

[2020-03-12 13:37] jak-hammond commented on #1034
So a question I do have is that previously, we were making use of locally served Office.js files via the NPM package, then as we got ready to move to production we switched out for the CDN version which is when the issue presented itself. The functionality of the add-in did not change between that switch so it seems to have been working before in its current setup.

Could you just confirm for me h

[2020-03-12 14:32] lumine2008 commented on #1014
@lindalu-MSFT , this is UX related issue, let me reassign to correct owner Lillian

[2020-03-12 14:39] lumine2008 commented on #994
Maybe you could delete the entire sheet row?

[2020-03-12 14:47] lumine2008 commented on #843
Team is still investigating, i will update to this thread once we have made progress. thanks for your understanding.

[2020-03-12 14:51] lumine2008 commented on #839
Looks like this more like a runtime question, so i am assigning to sudheer

[2020-03-12 14:56] lumine2008 commented on #277
Hi @rohitrewa , based on sample code, we are not be able to repro this issue, so Could you please share a gist to us to repro and locate the issue? Thanks.
![image](https://user-images.githubusercontent.com/26398035/76534610-adbda800-64b4-11ea-89d6-be2d202e4c74.png)

[2020-03-12 14:58] lumine2008 commented on #399
This issue was fixed.

[2020-03-12 14:58] #399 closed, assigned to lumine2008

[2020-03-12 16:33] sudheesh001 commented on #839
It looks like you've assigned it to the wrong person. 😃 Could you make the necessary corrections @lumine2008

[2020-03-12 16:45] AlexJerabek commented on #1039
Thanks for reporting this issue @DmitryKostochko.

Assigning to @exextoc for investigation.

[2020-03-12 16:46] AlexJerabek commented on #1040
Thank you for reporting this @hello-chenchen,

Assigning to @exextoc for investigation.

[2020-03-12 17:09] AlexJerabek commented on #1037
Thanks for reporting this @giulianozor.

Assigning @nokafor to investigate.

[2020-03-12 18:19] pnchakravarthula opened #1041 "Class constructor parameters not valid inside method"
Hi,

Trying to create an custom function in Excel and running own custom function inline to implementation done here https://tsmatz.wordpress.com/2017/12/01/excel-addin-custom-function/

But instead of straight function in myfunc.js we have a class as below:

class Rectangle {
    constructor(height, width) {
        this.height = height;
        this.width = width;
    }
    // Method
    calcAre

[2020-03-12 18:46] exextoc commented on #1040
@hello-chenchen We tried to reproduce this in-house with IE11 and OWA. We are not able to reproduce this. We are able to set the body "1234" in the email.

1. Can you please share with us test account to try out this?
2. Can you please share console logs if there are any errors on it?

[2020-03-12 19:07] mrbfrank commented on #714
@AnjanaValsan Hi yes I am working with a 3rd party scheduling service that I wish to synchronize with Outlook appointments. My Add-in must have the original start and end time of each meeting in order to find & update the calendar events in that 3rd party service. I know I can use `Office.context.mailbox.item.start.getAsync()` to retrieve the start time from the Outlook appointment editor UI, howe

[2020-03-12 19:47] exextoc commented on #1009
@lindalu-MSFT We want issue with "Added to Backlog" to be open for customers to see what we have in the backlog. Thanks for reopening.

[2020-03-12 19:47] exextoc commented on #1009
We have fixed the bug and the fix should be available in upcoming builds. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks

[2020-03-13 01:50] jingch0109 commented on #1025
@brownlzw1997
I am just wondering whether there is a possibility that the column counts of first row is different with other rows.

[2020-03-13 02:29] Kashishmsft opened #1042 "While inserting a Word document having multilevel bulleted text in another document using Office JS API "insertfilefrombase64" loses last bullet and text gets aligned to the margin"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

While inserting a Word document having multilevel bulleted text in another document using Office JS API "insertfilefrombase64" loses last bullet and text gets aligned to the margin.

[2020-03-13 05:16] hello-chenchen commented on #1040
[catlog.mp4.zip](https://github.com/OfficeDev/office-js/files/4327960/catlog.mp4.zip)
this is the video for how to reproduce this problem. And this is a problem for all the add-ins, as you can see that, i use the owa default add-in(My Templates), it still not work.

1. sorry i can't share my account to you, i think this is not the account problem, cause it worked well on the last week.
2. the logs

[2020-03-13 05:41] hello-chenchen commented on #1040
![image](https://user-images.githubusercontent.com/1878089/76593092-41808a00-6530-11ea-975c-6ea293ed06de.png)
My account licenses

[2020-03-13 05:42] hello-chenchen commented on #1040
this is also happened on my other colleagues

[2020-03-13 06:08] exextoc commented on #1040
Thanks for the reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-03-13 08:12] exextoc commented on #1039
Thanks for the reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-03-13 10:41] robino2020 commented on #991
@exextoc any ideas on how to fix the CORS issue (enforced by browsers)? Is this something you can solve by changing certain settings in Internet Information Services (IIS) on Microsoft Server?

[2020-03-13 11:58] exextoc commented on #1019
We aren't able to reproduce the bug. We need some more information regarding the bug.

- After the mail is sent, are you checking the custom properties in senders sent box or receivers inbox ? Can you please check for both the scenarios.

- Can you check the logs while the mail sent is happening for any error (if any) ?

- Is the bug consistent for you ? Does it happen every time you send a mail w

[2020-03-13 14:50] ZainW commented on #1009
When you do know could you please give us a version number, just so we can communicate definitively with customers and our support team!

Appreciate it

[2020-03-13 16:25] AlexJerabek commented on #1041
Thanks for reporting this issue @pnchakravarthula.

Assigning to @RuoyingLiang for investigation.

[2020-03-13 16:26] AlexJerabek commented on #1042
Thanks for reporting this @Kashishmsft.

Assigning to @JuaneloJuanelo for investigation.

[2020-03-13 21:51] mrbfrank opened #1048 "Does changing Add-in manifest.xml <Version> auto-update Custom Add-in's installed via URL?"
Regarding the section on Version here: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/manifests#version

Does changing Add-in manifest.xml &lt;Version&gt; auto-update Custom Add-in's that were manually installed via URL? This would be great for keeping QA engineers up to date during development & testing. The documentation could use some clarity on that as it's specifically what I'm t

[2020-03-14 05:44] shyambhiogade opened #1043 "Custom function in angular not working in excel desktop"
I have a task pane application which i have modified it to also have custom function. Its developed in angular, My test application works in the online version of excel but it does not work in excel desktop, when addin is loaded it says there is a problem with the custom function

## Expected Behavior
Custom function should work with angular application, if there is any example of using custom fun

[2020-03-14 06:17] shyambhiogade opened #1044 "Custom function using Angular framework"
Is creating custom function with Angular framework supported? i could not load addin for custom function created using angular framework in excel desktop, it somehow works in excel online.

[2020-03-14 23:17] Mdr786 opened #1045 "Bug"
## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office Onl

[2020-03-14 23:19] #1045 closed, assigned to nobody

[2020-03-14 23:26] shyambhiogade commented on #1044
@AlexJerabek can you please reply

[2020-03-14 23:30] shyambhiogade commented on #1043
@bdentino @RuoyingLiang @sumurthy can you please reply, the example provided in documentations are very basic and does not cover real life scenario, what is the best practice on reusing the code when you have taskpane and custom function which does similar thing.

[2020-03-15 03:53] mrbfrank commented on #714
@AnjanaValsan I have a followup question to try and work around the issue. Hypothetically if I setup my own service & subscribe to Outlook calendar change events in the Microsoft Graph API (in an enterprise environment with thousands of users), is there any way to detect a received event is a recurrence deviation & know the previous scheduled time of that appointment? Thanks.

[2020-03-16 03:15] xiaochunms commented on #934
Sorry to hear that you still hit the issue. As I know there is no 60-second limit in Custom Functions. May you please help to clarify that can the API call success in case of "fetch" call returns within 60 seconds?

[2020-03-16 07:03] soorajhealthplotter commented on #1012
https://github.com/OfficeDev/office-js/issues/47#issuecomment-596933126

[2020-03-16 07:03] soorajhealthplotter commented on #1012
I am also having the same bug

My Code is

Excel.run((context) ->
  sheet = context.workbook.worksheets.getItem(s_name)
  response_data = {"A1"=>"1000","A2"=>"1001","B1"=>"1000","B2"=>"1001","C1"=>"1000","C2"=>"1001"} # similary 54000+ records
  angular.forEach response_data, (key, value) ->
    range = sheet.getRange(key)
    range.values = [[ value ]]
  context.sync().then ->
    console.log("Da

[2020-03-16 07:16] soorajhealthplotter opened #1046 "context.sync hangs when writing data to excel"
## Expected Behavior

I have got 54000 records fetched from the database and i insert into excel file using excel add in. It should write data to the excel file.

## Current Behavior

While writing 54000 records fetched from the database and i tried to insert into excel file using add in. While writing data to the excel file it gets hangs up in context.sync in office 365 desktop version and throws

[2020-03-16 08:09] lumine2008 commented on #1012
Hi @soorajhealthplotter, would you please share a bit more information for us to repro?
it would be great if you could share us the gist, thanks a lot.

[2020-03-16 11:28] lumine2008 commented on #1046
Thanks for your post. we can repro this issue, a bug4025494 was created to track this issue.
there is a workaround that you could have a try. instead of calling range.values for 54000 times, you could use an array and assign it to range.values one time, then you can avoid this issue. here is the sample code you could have a try

[code]
we also create a gist for you to verify this workaround
https:

[2020-03-16 12:04] soorajhealthplotter commented on #1046
response_data = {"A1"=>"1000","A2"=>"1001","B1"=>"1000","B2"=>"1001"} # similarly 54000+ records
angular.forEach response_data, (key, value) ->
      range = sheet.getRange(key)
      range.values = [[ value ]]
context.sync()

This is the code i am using to insert data. For each column there is a specific value.For 54000+ column there is different value.how cal i get range for each column in array

[2020-03-16 12:10] soorajhealthplotter commented on #1046
I can see that the range you have selected

var range = sheet.getRange("A1:A54000")

In my case range may or may not be aligned.For example.
I have data for A1 but not for A2.Again i will have data for A3 and not for A4
i have no data for B1 but have data for B2 .Again no data for B3 and have data for B4
Similarly upto A4463 to L4463

[2020-03-16 12:19] lumine2008 commented on #1046
i think you could still use array, for the cell with no data, you could keep it blank, here is a sample for assigning range.values

[code]

it shows like this below
![image](https://user-images.githubusercontent.com/26398035/76757836-5c1e6180-67c3-11ea-9743-a1366430fb38.png)

[2020-03-16 12:37] soorajhealthplotter commented on #1046
![Screenshot from 2020-03-16 18-03-23](https://user-images.githubusercontent.com/12229181/76758912-a6e2ae00-67b0-11ea-8a7e-74142d129a32.png)

Consider this case Year 2014,Year 2016 etc are information as text.they do not come from database.only the values like 1,2 3 ,4 5 etc comes from the database.if i set cell with not data to empty this informative text will be lost

[2020-03-16 14:05] lumine2008 commented on #1046
Got it, based on our investigation the bug is coming from the `range.values` is calling for a lot of times within` context.sync()`. We are doing this investigation.  meanwhile, I think you could try to separate into 5 ranges in your scenario, therefore only 5 times of calling `range.values `

[2020-03-16 15:12] bx-anil opened #1047 "Office.context.mailbox.item.internetMessageId is empty for meetings/appointments"
Missing message ID on Appointments/Meetings

## Expected Behavior
Office.context.mailbox.item.internetMessageId should have a value for meetings that are on Outlook Calendar.

## Current Behavior
Office.context.mailbox.item.internetMessageId is null
The message ID for the meeting should be populated for on Office.context.mailbox.item.internetMessageId.

* Additional details:
  1. Create a add-in a

[2020-03-16 18:03] brownlzw1997 commented on #1025
@jingch0109, we also have logging on that but we haven't find any case where the column counts don't match. @lumine2008, @renqi2018, can you guys offer some help on my questions above?

[2020-03-16 19:41] keyur32 commented on #1044
Hi there, yes, you can create functions independent of any front end framework.  Do you have specific information as to how you're planning to use Angular with the function? Do you have some repro steps to help us debug?

[2020-03-16 19:44] keyur32 commented on #1047
@JuaneloJuanelo  - can you comment on if above is supported or if we need to log a feature request on UserVoice please?

[2020-03-16 19:46] keyur32 commented on #1043
Hi there, I think this is a duplicate of #1044 . I responded on there. Closing this issue out as a dup

[2020-03-16 19:46] #1043 closed, assigned to nobody

[2020-03-16 19:53] keyur32 commented on #1029
@topkoong, @MhooTanapatAT - to help facilitate this what version of Excel are you seeing this on?  Is this on desktop or Excel Online?  What does the add-in command do? Is it the show taskpane action or are you calling code via the functionfile?

thanks

[2020-03-16 19:56] keyur32 commented on #1031
@bdentino - There was some additional logic that custom functions specifically had. Team is looking to relax or update that.

For the Ribbon API preview, this follows the same behavior of other apis. The check is just specific to custom functions.  I think @RuoyingLiang  will follow up once we have an update on the custom functions check.

Thanks!

[2020-03-16 21:31] mscharlock commented on #1048
Hi @mrbfrank - Thanks for reading our docs and writing in. I'm not sure on the answer to this, but I will transfer this issue to the office-js repo to get an answer from engineering on this. I will then tag myself on this issue to add that information to the documentation so it can be more clear for folks! Thanks.

[2020-03-16 21:57] bx-anil commented on #1047
If this is not supported, can you please suggest a workaround.

[2020-03-16 22:18] #1015 closed, assigned to exextoc

[2020-03-16 23:07] exextoc commented on #1035
This appears to be a question about COM add-ins. This backlog is for OfficeJS based add-ins. Closing as off topic.

[2020-03-16 23:07] #1035 closed, assigned to exextoc

[2020-03-17 02:43] hdkdinh opened #1049 "OfficeJS based add-ins: Microsoft Outlook 2013 meet crash when strarting"
I am developing Outlook add-in using add-in execute a function.
I implement TLS 1.2 for add-in by:
ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072;
After that, I build .exe file and install into outlook. It works ok on outlook 2016, outlook 365 but meet crash on outlook 2013 when starting.

**Your Environment**

- Platform [PC desktop, Mac, iOS, Office Online]: PC desktop
- Host

[2020-03-17 03:59] chanhohang commented on #1000
@lumine2008
the workaround suggested is not working anymore for Excel API 1.11 recently upgrade. can you kindly check?

There is an internal error thrown from the API without much information.

[2020-03-17 05:03] lumine2008 commented on #1000
Hi @chanhohang,  We had a try, but couldn’t repro the internal error issue in both win32 and online. Could you please share the repro gist?  what is the error message? and excel version？

[2020-03-17 07:11] RuoyingLiang commented on #1041
Created item 4027627 to track this ask.

[2020-03-17 13:58] bx-anil opened #1050 "Outlook Web Access (OWA) fails to load add-ins for calendar items"
OWA fails to load add-ins. The callback for onReady is never executed for Meetings/Appointments

## Expected Behavior
The call back for onReady should be executed.  Please note that this was working earlier and broke only recently ( ~ a week ago)

## Current Behavior
onReady callback is never executed. Console log has a null reference exception. (Attached is the log)

* Additional details:
  1. Si

[2020-03-17 15:13] fadamsen commented on #1050
We're also seeing this issue across multiple add-ins in production, but only for Outlook on the web.

[code]

[2020-03-17 15:28] keyur32 commented on #1048
Hi @mrbfrank, can you share how you're deploying this to users?

- If via the store, updating the version would prompt users to upgrade their add-in. When trusted they would get it.
- If the add-in is centrally deployed via a file upload or url, I think an admin will need to re-push this out.

[2020-03-17 21:22] shyambhiogade commented on #1044
@keyur32 I have an angular based taskpane add, I am trying to create the custom function which uses most of the services from taskpane based addin, Please find the attached sample app,
also
1. angular application generates multiple javascript files, how to include that for custom function.
2. if I just want to use HttpClient service from angular to query external data, how do i do that.
3. can I f

[2020-03-18 06:34] hmistry-lz commented on #1040
Our Team is also facing the similar issue where `setAsync` has stopped working out of nowhere.
To get around it I have replaced `setAsync ` with `prependAsync`.
There is one catch though. `prependAsync` only works if body is getting updated for the first time. if you delete everything from body and tried to prepend again it will not work.
 There needs to be at least one letter in the appointment b

[2020-03-18 07:11] asith-w opened #1051 "recurrenceAdapter.ts:13 Uncaught (in promise) TypeError: Cannot read property 'Recurrence' of null"
When outlook add-in loading in OWA "recurrenceAdapter.ts:13 Uncaught (in promise) TypeError: Cannot read property 'Recurrence' of null" error can be seen in console. and add-in stops working
## Expected Behavior

add-in should work without issue
## Current Behavior

add-in does not work
## Steps to Reproduce, or Live Example

## Your Environment

* Operating System: windows
* Browser (if using Off

[2020-03-18 12:43] Herz3h opened #1052 "addHandlerAsync ItemChanged not working on OWA"
## Expected Behavior
Callback should be called every time a new email is selected.

## Current Behavior
Callback is never called

## Steps to Reproduce, or Live Example
Manifest looks like the following:
[code]

Code is like the following:

[code]

* Additional details:
  1. I generated a vue app and then only manifest using yeoman

## Context
I simply need to know when a different mail is selecte

[2020-03-18 13:20] renqi2018 commented on #1025
@brownlzw1997, my answers for your 2 questions as below.
1. In general, InvalidArgument is not a transient error that can be mitigated using retry.
2. When set OfficeExtension.config.extendedErrorLogging to true, you can get parameter of range set value API. But setting this property to true will negatively impact performance and will log all statements in the batch request, including any statemen

[2020-03-18 13:31] aburtsev1 commented on #954
Issue fixed with new Word update
![Version](https://user-images.githubusercontent.com/20722542/76965777-8d1aa580-692d-11ea-94a8-bffd3af19ce1.png)

[2020-03-18 13:31] #954 closed, assigned to nobody

[2020-03-18 17:31] exextoc commented on #1049
What Exe are you referring to? Office.js add-ins are traditionally just web pages.

[2020-03-18 21:08] CTMinseok commented on #1050
We are seeing the same issue on OWA only.

[2020-03-18 21:09] bconners1005 commented on #1050
We also have a plug-in that is failing to load with the above issue.  The event does not occur on all users either.  My user is able to use the plug-in with no errors, but another user with the same access level on the system gets the
`TypeError: Object(...)(...).event is null in recurrenceAdapter.ts:12:18`
error.

So recap: Users of same/varying levels are running into the issue.
 My user level w

[2020-03-19 02:09] SWei1234 opened #1053 "[oneNote]Can't install add-in to oneNote"
Is there any way we can install add-in to oneNote? My version is [Version 16001.12624.20042.0].
And I finished coding follow microsoft's doc. But I didn't find a way to add my add-in to oneNote.

So...my question is, is there any limit on adding add-in to oneNote? For example, version or account
authority?
I can add add-in to outlook ,powerpoint or word. But just not find a way in oneNote.
![image

[2020-03-19 06:33] exextoc commented on #1051
Thanks for reporting this issue. This issue has already been fixed and changes will be live by the end of the week.

[2020-03-19 06:45] exextoc commented on #1053
In [OneNote on the web](https://www.onenote.com/notebooks) choose Insert > Office Add-ins to open the Office Add-ins dialog.

[2020-03-19 06:47] SWei1234 commented on #1053
@exextoc There is no this option under 'Insert'.
![image](https://user-images.githubusercontent.com/15980696/77039255-81dc7e00-69f0-11ea-84ec-0af113dc5b34.png)
I'm using a office 365 account. Will this effect?

[2020-03-19 06:49] exextoc commented on #1053
Can you please confirm is it a web app or desktop app?

[2020-03-19 06:55] SWei1234 commented on #1053
@exextoc I found it here. Is this mean it's a desktop app? Or use other methods to determine?
![image](https://user-images.githubusercontent.com/15980696/77039790-a2590800-69f1-11ea-8aa2-a30f937e4a75.png)
And I download a oneNote 2016,still can't add add-in, like:
![image](https://user-images.githubusercontent.com/15980696/77045532-55c6fa00-69fc-11ea-8a4f-1ba4458420e5.png)
 I have the authority to

[2020-03-19 07:31] lumine2008 commented on #545
Thanks @chanhohang, our team has done the investigation on this issue. we found that this is by design,
because our code will redraw all (include Ribbon, Grid, Addin panel) when writing data.

This API is designed to improve performance. If this API is called, then it won’t redraw all during writing data, only updated related Addin panel. After writing finished, we will redraw all once.

So our su

[2020-03-19 07:31] exextoc commented on #1050
Thanks for reporting this issue. This issue has already been addressed and fixed by the team. Changes will be live by the end of the week.

[2020-03-19 08:07] SWei1234 commented on #1053
@exextoc I download a oneNote 2016 and now I can see the add-in option.
At last I wonder how can we distinguish the oneNote is desktop or a web app?
Or my first install is a desktop version. Just not support add add-in?

[2020-03-19 12:50] bx-anil commented on #1047
Any update on this please.

[2020-03-19 12:50] bx-anil commented on #1050
Thanks. Is there a preview version that we can check on ?

[2020-03-19 23:01] mrbfrank commented on #1048
Hi @keyur32 yes I am developing an add-in for internal use @ my company, so it will not be installed via the store. We will have our network admins push it to users on launch, & I was hoping to simply re-deploy with a version bump in the manifest & have our users automatically receive updates. It sounds like our admins will need to push each release. Please consider allowing Custom add-ins & Admin

[2020-03-20 01:54] superstructor opened #1054 "Excel: Content Add-ins Leak Memory Eventually Crashing Add-in"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Content Add-ins Leak Memory Eventually Crashing Add-in

## Expected Behavior

**Content Add-ins** do not leak memory.

## Current Behavior

**Content Add-ins** leak memory on every

[2020-03-20 03:52] keyur32 commented on #1048
Thanks! Have you looked at Centralized Deployment? This supports exactly that scenario: https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment

Your admins will only need to push the release of the manifest when the manifest itself changes. If you are mostly changing the taskpane or html/js, you will not need to re-deploy through centralized deployment.   If you're pref

[2020-03-20 03:52] #1048 closed, assigned to nobody

[2020-03-20 04:00] keyur32 commented on #1044
Ah, in that case, we'd recommend using a shared runtime. This feature is in preview:

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview

You can see a video of this in action from our March community call: https://developer.microsoft.com/en-us/office/blogs/office-add-ins-community-call-march-11-2020/

We'd love for you to try it and give feedback.  '

Also,

[2020-03-20 04:00] #1044 closed, assigned to RuoyingLiang

[2020-03-20 04:01] soorajhealthplotter commented on #1046
Any update on this..
As a workaround instead of calling range.values for 54000 times, initially i read all data from excel into an array. Then i fetched the data from database and updated the values coming from database to this array and written back to excel..Now the issue is avoided.

[2020-03-20 04:10] lumine2008 commented on #1046
A bug (4025494) was created to track this issue. so far, I would suggest using this workaround to avoid calling range.values for 54000 times.

[2020-03-20 06:19] exextoc commented on #1050
2020031603 contains the fix. Fix is already 30% deployed.

[2020-03-20 09:00] exextoc commented on #1052
Can you please confirm if different mail is in the same folder or different folder? We are trying to repro the issue.

[2020-03-20 09:10] lumine2008 commented on #1011
Thanks for your patient, it seems you have talked 2 issues:

- The names collection of the workbook object includes only workbook-scoped names, EXCLUDING all worksheet-scoped names.
- The names collection of the worksheet includes names scoped to the worksheet AND ALL WORKBOOK-LEVEL NAMES.

For 2#, I repro'ed this issue, and a bug(#3983983) was created to track this issue. Team is investigating on

[2020-03-20 10:26] exextoc commented on #1009
The fix will be out soon with scheduled monthly build, which isn't out yet.

[2020-03-20 10:26] #1009 closed, assigned to exextoc

[2020-03-20 13:49] Herz3h commented on #1052
@exextoc I mainly test for mails in the same folder. But selecting a mail in a different folder doesn't work either.

[2020-03-20 18:39] schostac opened #1060 "Publishing Word add-in"
Can I publish add-ins in AppStore if I create a developer account as an individual? I've created one but there is not such option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2677af5b-e9b8-f962-25ce-8aa285977c90
* Version Independent ID: c31c7ed9-0a0a-7a65-0d1b-70d6a8b33994
* Content: [Deploy and publish Office Add-

[2020-03-20 22:42] abrahamdio commented on #1052
I am able to repro this as well (OWA). But for my case, it's not working only if I am selecting different emails in a thread.

Update: In email threads, itemChange isn't triggered for emails that are already expanded. (i.e. after clicking the email row to get recipient information, full body content). In other words, when the email is first expanded, it will trigger the callback.

[2020-03-21 14:12] jkpieterse commented on #1011
Hi Raymond,

I can live with small differences. In the COM OM, it has always been the case that from the Workbook object you would access *all* names, including the local ones. If that changes, so be it though I don’t agree with the change.

Regards,

Jan Karel Pieterse

JKP Application Development Services

The Netherlands

Chamber of Commerce # 12052177

https://www.jkp-ads.com

Phone: +31 495 7

[2020-03-21 14:29] exextoc commented on #991
Regarding CORS issue, it is enforced by the browser. You can read more [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

The workaround suggested for the same was given in the previous response, REST token can be used from addin-backend and REST API is supposed to work in this case. You can try that and let us know if it works.

[2020-03-21 14:37] exextoc commented on #1034
Yes, you are correct. The framework first tries to read the value from the session storage, if it can't find there it fetches from the server and store it to the session storage, then tries to read value from the session.

[2020-03-22 18:17] keyur32 commented on #1054
Hey @superstructor, thanks for the awesome repro steps. Unfortunately, I have not been able to repro this on my end. I tried the sample and the memory footprint stays the same.

Question: Are you using IE or the Edge Webview? From the information provided it looks like the latter but I'm not sure. Can you expand the Excel.exe instance in task manager and share that screenshot please?

[2020-03-22 18:20] keyur32 commented on #1053
Hi there, thank you for the report. Currently add-ins in OneNote do not work on desktop. They are only avaialble in OneNote for Web. For information, you can follow the [OneNote Quickstart](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/onenote-quickstart).

I would also suggest you vote for OneNote desktop support on our user voice site:  officespdev.uservoice.com

thanks!

[2020-03-22 18:20] #1053 closed, assigned to nobody

[2020-03-22 18:24] keyur32 commented on #1049
Hi @hdkdinh, can you specify your repro steps to produce the crash? Are you using the Yoeman Generator to build your add-in?  Does this happen with all add-ins (i.e from the store) or just the one your are developing on?

thanks!

[2020-03-22 22:20] superstructor commented on #1054
![Screenshot from 2020-03-23 11-20-40](https://user-images.githubusercontent.com/350450/77262104-5a3f2b80-6cf8-11ea-93f5-9cd036be9e2f.png)

[2020-03-22 22:36] superstructor commented on #1054
It'll be Edge Webview as I can connect to it with the standalone Edge Developer Tools @keyur32

Are you sure your opening it as a **Content** Add-in ? The button in the top ribbon does not have a open **Content** Add-in command so you need to open as per the reproduction steps I just added to the README of the project to be clearer:

[https://github.com/day8/office-js-memory-leak/blob/master/READM

[2020-03-23 01:45] SWei1234 commented on #1053
Hi @keyur32 Thanks for your reply.
Last question, I success upload add-in to web oneNote. But problem is I cannot found it on web oneNote so that I can't delete this add-in.
looks like:
![image](https://user-images.githubusercontent.com/15980696/77271938-ef3b2800-6cea-11ea-9f0d-165143b7ca8a.png)
![image](https://user-images.githubusercontent.com/15980696/77271983-0a0d9c80-6ceb-11ea-9f54-ae77454f44

[2020-03-23 05:40] #964 closed, assigned to exextoc

[2020-03-23 05:53] #1028 closed, assigned to exextoc

[2020-03-23 06:04] Herz3h commented on #506
@keyur32 can confirm using non app-store version shows the inspect element. Would be nice to have docs updated regarding this :)

[2020-03-23 06:59] Herz3h opened #1055 "Use stable outlook-mac.js instead of outlook-mac-alpha.js on MAC"
I have an addin that works properly on chrome/safari/firefox on Mac, but not on Outlook for mac....
I have similar errors when running the adding on Outlook for windows... (different error for windows though) (no blank page on windows though)

## Expected Behavior

Should not include alpha version of code ??

## Current Behavior

It includes alpha script which throws errors, and makes my addin sho

[2020-03-23 07:31] Herz3h commented on #1055
And now suddenly the mac version doesn't throw the error anymore (had error for like 2 days)..........lol

Either this was fixed after posting this ? Or randomly adding this before office.js script:
[code]

and then removing it made it work.....

[2020-03-23 08:14] Herz3h commented on #1052
I found the problem. Since I'm using typescript and compiled was throwing errors that Office is not   defined, i thought that doing:

[code]

Would be  a good idea. This indeed removes the typescript errors, but also causes this problem + (the Uncaught TypeError: Cannot set property 'permissionLevel' of undefined. Could be related to #1026 btw)

[2020-03-23 15:20] SudheerK06 opened #1056 "Word Addin is getting crashed when trying to delete a row which contains a content control in a table"
I'm developing a Word Add-in (Word API + Office.js) where i am working with content controls, I am trying to read the table content inside a content control where I need remove the empty rows

Sample: I have this table inside a content control I have to remove the blank rows

![yTR12](https://user-images.githubusercontent.com/62557572/77332404-0ceaaa80-6d48-11ea-93c7-2a4f1e39bfc6.png)

i am able t

[2020-03-23 15:33] benj-spectory opened #1058 "js freezes when using officeRuntime.storage functions"
Hi,
office 365 version 2002 (installed on the computer - not on the browser), - win 10

i have a weird bug.
i have a select, and a button elements in the HTML page.
when i press the button i'm using the getItems([...]) function -&gt; this works
when i change the select to a different option (even if i change it back to the first option) and i press the button and using the  getItems([...]) functio

[2020-03-23 15:43] DmitryKostochko opened #1057 "Safari, Exchange 2016 on-premise, OWA add-in does not load"
Outlook add-ins do not work in OWA with Exchange on-premise.

## Current Behavior
Empty add-in's pane is opened.

## Steps to Reproduce, or Live Example
You can start any add-in for compose mode. The add-in's pane opens, but it is empty. The following error can be found in the console:

[Error] Failed to load resource: the server responded with a status of 400 (Bad Request) (owa.clientnext.frepane

[2020-03-23 16:21] AlexJerabek commented on #1058
Thanks for reporting this issue @benj-spectory. I'm assigning @mscharlock to triage it.

[2020-03-23 19:02] mscharlock commented on #1058
Hi @benj-spectory - I'm transferring this issue to the Office-js repo, where someone can help you out on this. Unfortunately I'm not totally sure why this is happening for you, but someone in Office-js should know! :)

[2020-03-23 19:41] abrahamdio commented on #1052
@Herz3h The issue still persists, can we have this issue re-opened? (Not related to `permissionLevel` error).

With your sample code, try changing emails _within_ a thread (emails need to be expanded first), and `itemChanged` will not be called.

[2020-03-24 05:28] nocoli opened #1059 "Saving document does not save custom properties if nothing else has changed - Word add in"
When calling `context.document.save()`this does not save the custom properties which have been added to the document if the file has not been edited in any other way. The workflow I am trying to achieve is that when a user clicks the save button in my add in: I then save their changes immediately, then stamp the document with custom properties and then save again to encapsulate these extra custom

[2020-03-24 06:00] ghost commented on #1032
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #1029
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #1020
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #1019
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #1012
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #1004
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #998
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #976
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:00] ghost commented on #953
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-24 06:07] soorajhealthplotter commented on #1012
https://github.com/OfficeDev/office-js/issues/1046#issuecomment-599485293

Hi i have created issue(1046) and bug 4025494 has been generated to track issue

[2020-03-24 06:59] exextoc commented on #1047
Currently the feature to get internetMessageId for calendar event via office js api is not available. internetMessageId api is only supported for Message Read (doc-https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-1.8#internetmessageid) We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/

[2020-03-24 07:07] exextoc commented on #1050
Fix is 100% rolled out. Please confirm that you are not seeing this issue anymore.

[2020-03-24 07:09] exextoc commented on #1051
Fix is 100% rolled out. Please confirm that you are not seeing this issue anymore.

[2020-03-24 11:50] Herz3h commented on #1052
@abrahamdio I've tried clicking an already expanded mail and it indeed, doesn't trigger `itemChanged`  event. I've reopened the issue 👍

[2020-03-24 12:31] exextoc commented on #1034
Can you share link to locally served office.js file so that we can compare with CDN version of it?

[2020-03-24 13:00] ndeeH commented on #947
@lindalu-MSFT I followed your advice and added a StackOverflow question:
https://stackoverflow.com/questions/59930378/interact-with-office-js-powerpoint-content-addin-in-presenter-view
But no one answered - could you internally check the relevant SME's?

[2020-03-24 13:04] exextoc commented on #1052
Thanks for reporting this issue. We are able to repro this and It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-03-24 13:05] ndeeH commented on #730
Sould we give you a manifest for our non optimized version - via Private Message?
**_How could I send it to you?_**
@Kaidali @crazygao

[2020-03-24 13:41] bx-anil commented on #1047
Do you suggest any workaround.  I understand that there is a unique id exists. There is global appointment id on the VB object model. https://docs.microsoft.com/en-us/office/vba/api/outlook.appointmentitem.globalappointmentid
Hence checking for a workaround.

[2020-03-24 13:56] exextoc commented on #1057
Are you facing this issue only on OWA on mac browser? Or is it reproing in OWA on Windows also? Console log shared by you looks incomplete. Can you share complete console error log?

[2020-03-24 14:11] DmitryKostochko commented on #1057
The issue is reproducible only on OWA in the Safari browser. Please see the complete log attached.
[log.txt](https://github.com/OfficeDev/office-js/files/4375697/log.txt)

[2020-03-24 14:14] cidev5 commented on #934
Yes, we have success for API calls using "fetch" within 60 seconds.

[2020-03-25 01:33] Kaidali commented on #730
@weird-dreams , thanks.
And yes, if possible. Please send it to Kaidal@microsoft.com.
Thanks.

[2020-03-25 02:47] superstructor commented on #1054
For clarity ... I'm going to restate the issue ...

1. The issue we are reporting is a kind of "memory leak"
2. It can result in Excel memory usage growing effectively unbounded ... initially you will see it rise by at least 10s of MBs adding up to 100s of MB and certainly we've easily made it go to 10s of GBs of memory if you call `Excel.run()` enough times,
3. The memory which is "leaked" eventu

[2020-03-25 03:07] SWei1234 opened #1061 "[Outlook add-in] All add-in can't refresh page"
For windows 1909 18363.720 with outlook 2019.
All add-in can't use location.reload() or refresh the page with F5.
And can't show right click menu on any add-in.
 I tried some PC with 1909 and almost all have same problem.

All above works fine on lower windows version which use IE core.
Is Microsoft change a new way refresh pages on add-in?Please let me know.
Thanks

## Expected Behavior

 locatio

[2020-03-25 06:45] ndeeH commented on #730
OK.  I have sent you the manifest to debug with our add in.
Please tell me when you have done your tests.
@Kaidali @crazygao

[2020-03-25 07:24] jagibe commented on #1006
I have the same issue in an Excel addin!
Windows version 1909
Office version 16.0.12527.20260

[2020-03-25 07:58] Kashishmsft commented on #503
I could not find Office.context.ui.openBrowserWindow(url) even though I am using latest monthly channel for Office 365. It gave me compile errors in Word Office JS Add-in.

Any other alternatives available ?

[2020-03-25 08:38] SWei1234 opened #1062 "[Outlook add-in] Can add-in in Meeting or appointment can get 'save' and 'close' event?"
Can add-in in Meeting or appointment can get 'save' and 'close' event?

Post feature requests at https://officespdev.uservoice.com/

 Can add-in in Meeting or appointment can get notification when user click 'save' or ’Close‘?

[2020-03-25 18:06] Kashishmsft commented on #1006
Please find the workaround here - https://gist.github.com/Kashishmsft/ea2059a3f73ef02e437abca031e29c8c

[2020-03-25 18:43] mscharlock commented on #506
Re-opening and tagging @keyur32  and @RuoyingLiang

[2020-03-26 04:25] Kashishmsft commented on #1042
Hello @AlexJerabek @JuaneloJuanelo - Any updates for me please ?

[2020-03-26 05:34] clavx commented on #1019
The same thing happened to me.

After I created and sent an email with an attachment, there is no custom property.
However, it doesn't always reproduce, so we can't identify the cause.

The procedure for reproduction is as follows:
1. Open the Outlook on the web
2. Create a new email
3. Attaching an image file of about 30 KB or a PDF file of about 4 MB
4. Send
5. Repeat step 2-4 several times.

He

[2020-03-26 06:25] xzh6902 commented on #301
I want to know where is the deployed fix? Is it there 'https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js'?
When my office addin app use the this 'https://appsforoffice.microsoft.com/lib/1/hosted/office.js' in outlook 2013 standard version, I still get the object 'Office'  is undefined error.

[2020-03-26 07:36] csreddyennam commented on #934
I have a similar issue, i am using javascript. my call never success.
Please find the below code:
function getrandom(x) {

  let url = "http://xxx:345/abc/V2/tag";

  let xhttp = new XMLHttpRequest();
  xhttp.timeout = 10000000000;
  xhttp.withCredentials = true;

  return new Promise(function(resolve, reject) {

    xhttp.onreadystatechange = function(){

      if (xhttp.readyState !== 4) return;

[2020-03-26 08:56] amiram commented on #1019
@clavx thanks for your comment. This bug is not consistent for me also. I don't see any error when it happened. Try to set it twice like:
[code]
See if it helps.

[2020-03-26 13:49] Broomish opened #1064 "Outlook add-in: Calling saveAsync on CustomProperties results in Undefined AsyncResult"
I have only seen this issue on the Outlook Web App on Exchange 2016 and Exchange 2019. OWA on Exchange 2013 and Office 365 works as expected.

In our Outlook Add-In, we are making use of custom properties. We add a property and call `saveAsync`: https://docs.microsoft.com/en-us/javascript/api/outlook/office.customproperties?view=outlook-js-preview#saveasync-callback--asynccontext- , passing a `cal

[2020-03-26 15:55] BlackStef commented on #631
Hello,

I'm having the same issue when I try to host my add-in with https.
I get a RichApi.Error : AccessDenied, but It's working when I disable the https on my server.
This issue happen when I try to get some data from my excel workbook with my add-in.

For information It's hosted with an nginx container on a docker server.
My excel version is 1902 and my office-js version is 1.0.31

Do you have

[2020-03-26 16:02] BlackStef opened #1065 "Issue with add-in when hosted on https"
I'm having a similar issue but that one is closed : https://github.com/OfficeDev/office-js/issues/631

I get some RichApi.Error : AccessDenied when I try to extract data from my workbook with my add-in.

The add-in is working well in debug or hosted without https. I have the ReadWriteDocument enabled in my manifest.

Environment :
Windows 10
Office 365 Pro plus, Excel 1902
Office-js  : 1.0.31

Unf

[2020-03-26 18:38] nkrtarm opened #1066 "[Excel] Custom function can't render dynamic array on Windows install version"
I have an issue on custom function trying to render dynamic array in Excel Windows install version. It's working fines on web version and Mac install version but not on Windows. The formula has been changed by appending `@` at the front `=@FORMULA.NAME(...)` and the data was rendered into single cell. Moreover, If users have built the formula from the other version, It will not works on windows in

[2020-03-26 19:03] jargil commented on #631
This issue has been long resolved, so please follow the conversation above to make sure you have all the patches/updates installed.

Otherwise please wait for your new issue to be triaged and assigned to someone to try to help you.

[2020-03-26 20:14] nkrtarm opened #1067 "Custom function script in XML file was loaded differently on windows install version"
Please check on the manifest via https://www.nkrtarm.com/cf/manifest.xml
Formula:   =TEST.TEST()

As you can see from the manifest above, I have a script file name "**in-js.js**" inside **xml** `<Script>` containing custum-function function to print a string `Hello, from Functions.Script.Url`.

And also html file of custom-function in `<Page>` containing html that have another script inside named

[2020-03-26 20:39] nkrtarm opened #1068 "Can't change data format that rendered from custom function"
Data formatting in cell not have any affect to the data that have been rendered by custom function.

## Expected Behavior
Data formatting in cell should be applied to the data that have been rendered by custom function.

## Step to reproduce
Please check on the video via https://www.nkrtarm.com/cf/assets/215.mp4

[2020-03-26 21:00] ghost commented on #1049
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-26 21:34] xyc opened #1069 "Add-in memory leak in Outlook Desktop Edge Web Viewer"
## Expected Behavior

No memory leaks

## Current Behavior
Memory leaks when opening and closing emails in new window

## Steps to Reproduce, or Live Example

1. Open Outlook desktop app and login
2. Open an email, and open a pinnable add-in
3. Open Task Manager
4. Double click an email in the inbox, wait for it to open in a new window and wait for the pinnable add-in to load
5. Close the new wind

[2020-03-26 23:16] ragavanrajan commented on #960
Dear Microsoft, Any update on this please.

[2020-03-26 23:17] ragavanrajan commented on #966
Dear Microsoft, Kindly update on this please.

[2020-03-27 00:28] gamblecd opened #1070 "Invalid Reference during error result of getInternetHeadersAsync."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

While calling getAllInternetHeadersAsync during viewing an email from an on-premise environment, we dont receive an error in the callback, but rather the equivalent of an NullPointerE

[2020-03-27 01:31] davidfishlock opened #1071 "[Outlook] Add-in pane within Outlook OWA now incorrectly scrolling"
## Expected Behavior
A scrollable region isn't shown when it isn't required. This has visually and functionally broken all Outlook Add-ins

## Current Behavior
There is an unnecessary vertical scrollbar because a div with class "ms-Panel-commands" now has a top margin of 18px, this causes unnecessary vertical scrolling within the div of class "ms-Panel-scrollableContent".

## Steps to Reproduce, o

[2020-03-27 02:27] exextoc commented on #1008
We have fixed the bug and the fix should be available in build 16.0.12723.10000 or later. Depending on the release channel a customer is on, getting an updated build can take anywhere from 4-8 weeks.

[2020-03-27 02:55] exextoc commented on #1061
Are you trying to programmatically refresh the add-in page? for edge, try using ctrl+F5, that should refresh the page for you

[2020-03-27 03:47] exextoc commented on #1071
Thanks for reporting this issue regarding. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2020-03-27 04:31] RuoyingLiang commented on #1068
@nkrtarm Thanks for reporting. We are trying to repro this issue but couldn't repro in our environment. My Office Build number is 12624.20296. Could you help to let us know your build number?
According to the video, seems the issue occurs in Windows Excel (please let me know if I'm wrong). Could you also try in Excel Online to see if you still encounter this issue?
In your scenario, are you return

[2020-03-27 05:09] nkrtarm commented on #1068
@RuoyingLiang , Thank you for your prompt response. It's a Windows Chrome on the video, we also ran a test on Mac Chrome, Mac Safari, Mac install version, Windows Edge. The values have been returned directly from custom function.

Could you please help check on this manifest https://www.nkrtarm.com/cf/215/manifest.xml

Formula:   =TEST.TEST()

---
I have rechecked with the manifest above, looks li

[2020-03-27 06:00] ghost commented on #745
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-27 07:07] RuoyingLiang commented on #1068
Thanks @nkrtarm. Seems this issue exists in dynamic array. We will investigate with feature team and back to this thread once we have update.

[2020-03-27 08:00] ghost commented on #1032
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] #1032 closed, assigned to Rick-Kirkham

[2020-03-27 08:00] ghost commented on #1029
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] #1029 closed, assigned to nobody

[2020-03-27 08:00] ghost commented on #1020
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] #1020 closed, assigned to lindalu-MSFT

[2020-03-27 08:00] ghost commented on #1004
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] ghost commented on #998
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] ghost commented on #976
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] #976 closed, assigned to lumine2008

[2020-03-27 08:00] ghost commented on #953
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-27 08:00] #953 closed, assigned to exextoc

[2020-03-27 08:23] RuoyingLiang commented on #1068
Thanks @nkrtarm. We looked into this issue. As custom function's return value is string, Excel cannot convert string to data/time format. ( you can try to input a data/time string to a cell which format is Text, then convert the format. The format cannot be converted.)

We have a backlog work item for custom function return formatted data. That should address your requirement. Sorry for the inconv

[2020-03-27 11:23] masa-fleet opened #1072 "Manifest file including multiple extension points doesn't work"
## Summary
We are creating Outlook add-in which has "Add-in commands" and "Contextual add-ins" extension points. Even if installation succeeded, Outlook doesn't show Add-in commands and doesn't detect context (RegularExpressionMatch).

## Expected Behavior
- Outlook shows Add-in commands as "Add-in commands".
- Some of email texts are colored blue and underlined if it is matched regular expression

[2020-03-27 11:28] lumine2008 commented on #1065
Thanks @BlackStef  for your report, however, based on limited information in this post, we are not able to repro this issue, so Could you please share a gist to us for repro? Thanks.

![image](https://user-images.githubusercontent.com/26398035/77751677-197d4480-7061-11ea-85bb-a4167c9e5af6.png)

[2020-03-27 11:55] nkrtarm commented on #1068
@RuoyingLiang, Thank you so much for your help. I have raised the request at UserVoice https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/40034089-fix-an-issue-on-excel-custom-function-about-data-f

Hope the issue gets resolved soon. Thanks again.

[2020-03-27 14:45] onestep commented on #1064
I can confirm this issue is reproducible with both Exchange 2016 and 2019.

[2020-03-27 14:46] andmaz commented on #1064
I have the same problem

[2020-03-28 02:29] davidfishlock commented on #1071
@exextoc it would be great to get some indication of when this is going to be resolved as we are actively developing a new add-in. This regression appeared yesterday and affects all addins.

We're unlikely to ship and put marketing effort into a new addin if it is going to be functionally broken on release so this is going to become a blocker for us.

It seems there are a number of contributors to

[2020-03-28 03:08] shahshyam commented on #812
I have same issue and it is not loading in chrome and not getting any error in console. I have attached my manifesto.xml
[Portlr.zip](https://github.com/OfficeDev/office-js/files/4396555/Portlr.zip)

[2020-03-28 03:12] shahshyam opened #1073 "Outlook Add-in is not loading in chrome as well as in office 365 account in Edge and IE"
I am getting following message when try to open in chrome and Edge
**Something went wrong and we couldn't start this add-in. Please try again later or contact your system administrator.**

![image](https://user-images.githubusercontent.com/4408930/77813614-0c4c6e00-70d2-11ea-9383-ffc189a7e72f.png)

Technology used node.js and ejs template  page is hosted in heroku.
[Portlr.zip](https://github.com/

[2020-03-28 03:16] exextoc commented on #812
This issue was already closed and they commented on this one. They also ended up opening a new issue on GitHub so not doing anything with this notification and ignoring it.
A bug has been opened for the other incoming issue by them and tagged with IDC + OWA.

Best,
Ankush
________________________________
From: Shyam Sundar Sah <notifications@github.com>
Sent: Friday, March 27, 2020 8:08 PM
To: Off

[2020-03-28 07:20] udit7590 commented on #747
@exextoc Seems I face the same issue with `Office.context.mailbox.item.getItemIdAsync` on Outlook Desktop - Mac. Is there anything we can do as a workaround for fix?

[2020-03-28 09:00] ghost commented on #1051
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-28 09:00] ghost commented on #1050
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-28 09:00] ghost commented on #1012
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-28 09:01] bx-anil commented on #1050
Confirming that the issue is fixed.

[2020-03-28 09:01] #1050 closed, assigned to exextoc

[2020-03-28 10:20] masa-fleet opened #1074 "ExtensionPoint can't contain RequestedWidth and RequestedHeight elements"
Even if the document describes `ExtensionPoint` element can contain `RequestedHeight` element, we can't add it. We also can't add `RequestedWidth`, either. You can refer validation tool error log on the bottom of this page

[Referred document](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/requestedheight)

## Expected Behavior
- We can add both `RequestedHeight` and `Reque

[2020-03-28 15:00] ghost commented on #1034
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-29 13:59] SWei1234 commented on #1061
Hi @exextoc Thanks for your reply.
Yes, I tried that. But still not work. This problem happened on windows outlook client only.
For browser and mac refresh is work.
Actually I don't care about right click not work or can't refresh by 'F5'/'ctrl+F5'.
The real problem is function location.reload() not work on outlook add-in.
This will cause ,for example: some reset function which call location.reloa

[2020-03-29 14:01] exextoc commented on #1062
Currently the feature to get save and close event in meeting/appointment is not supported for add-in via office js apis. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning process.

[2020-03-29 15:36] jak-hammond commented on #1034
Of course, I will upload it here tomorrow. It was quite old, I think originally I got the version last August or September, then when I updated, it would have been whatever was current on the CDN.

[2020-03-29 19:31] ECoS-AppDev commented on #408
Is there any update on this feature?

[2020-03-29 19:55] shivinder5 opened #1075 "office.js getfileasync inconsistent values"
getfileasync gives different byte arrays.
## Expected Behavior

if i have no changes in a file i expect the bytearray from getfileasync to be consistent .
## Current Behavior

i am trying to get the md5 of a word file. I use getfileasync to get the byte array of the file(using compressed) but even if i never make changes to the file i will get a different value for my checksum. i am looking at an

[2020-03-29 23:00] ghost commented on #1049
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-29 23:00] #1049 closed, assigned to nobody

[2020-03-30 00:08] CameronDwyer commented on #1071
This issue is hitting our commercial add-in and leading to a negative user experience (in some places we show our own scrollbar so this leads to unsightly double scrollbars). Please prioritize a fix since this affects ALL add-ins.

[2020-03-30 01:32] tutieu commented on #408
Sorry, there is no new update on this.  However, it is still on our active backlog at this time.

[2020-03-30 04:33] SudheerK06 commented on #1056
someone please look into this issue

[2020-03-30 06:00] ghost commented on #991
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-30 06:10] #1055 closed, assigned to nobody

[2020-03-30 06:18] shr9227 opened #1076 "Change Icons in Custom Add-in in Outlook"
Hi All,

I've been ask to create custom Add-in in Outlook that when the icon is clicked - a website opens.

I follow the Build your first Outlook add-in and quickly got the functionality I wanted.

But when I tried to change the OOTB icons:
![icon-32](https://user-images.githubusercontent.com/62870871/77881247-384d2800-7267-11ea-818a-a8c135cd3a8c.png) - This doesn't work and I get Default icon: ![

[2020-03-30 06:26] hello-chenchen commented on #989
update: this problem has been fixed on win10 1909 version.
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/6167#issuecomment-603832393

[2020-03-30 06:36] exextoc commented on #1074
ExtensionPoint can contain RequestedHeight but not RequestedWidth, Try removing RequestedWidth from your manifest, it should work.

[2020-03-30 06:38] exextoc commented on #1073
We are able to repro this bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-03-30 08:00] ghost commented on #745
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-30 08:00] #745 closed, assigned to exextoc

[2020-03-30 08:29] exextoc commented on #1047
yes it was available in vba add-ins but currently there is no workaround.

[2020-03-30 08:34] clavx commented on #1019
@amiram Thank you for your advice.

By setting the custom property twice, we confirmed that the custom property was set.

However, I noticed that sometimes the attachment is not deleted.

![attachments_remain](https://user-images.githubusercontent.com/58804032/77891516-0ad69d80-72ac-11ea-842d-d8cf467be641.gif)

When I executed the reproduction code, the custom property was set when the attachment

[2020-03-30 08:38] amiram commented on #1019
@clavx  Did you try to do the async operation one by one?
await a();
await b();
await c();

[2020-03-30 10:07] exextoc commented on #747
Can you share the repro steps for error you are getting. Also did you save the item before calling Office.context.mailbox.item.getItemIdAsync. We are not able to repro this at our end.

[2020-03-30 12:52] MandytMSFT commented on #1075
@shivinder5 The code link you shared above is a general page which is not related to some specific code example. Could you share again ? And could you share which platform[PC desktop, Mac, iOS, Office Online] are you using?

[2020-03-30 12:52] sergez commented on #1064
Have the same issue

[2020-03-30 14:15] shivinder5 commented on #1075
well there is no real change to the code from the page apart from in sendslice method. the sendfile method should look like this
function sendSlice(slice, state) {
    var data = slice.data;
var md5hash= cryptoJs.Md5(CryptoJS.lib.WordArray.create(data));
}
The value of md5hash is different everytime i open the add in. and even if i run it at different times.
the value of data and the size change s

[2020-03-30 18:50] lindalu-MSFT commented on #1058
Are we supporting Office 2002? I'm not sure who to assign this to!

[2020-03-30 18:53] lindalu-MSFT commented on #1046
Has workaround, closing issue.

[2020-03-30 18:53] #1046 closed, assigned to lumine2008

[2020-03-30 18:54] lindalu-MSFT commented on #1024
No author feedback, closing issue. Feel free to reopen if needed!

[2020-03-30 18:54] #1024 closed, assigned to lumine2008

[2020-03-30 18:57] lindalu-MSFT commented on #984
@davidchesnut Any update?

[2020-03-31 02:39] RuoyingLiang commented on #1066
@nkramer The feature is in production but doesn't have 100% flight on. You may not in the part which flight is on. Could you restart Excel or wait several more build and try again? Thanks for your patient!

[2020-03-31 03:00] ghost commented on #1008
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-03-31 03:26] exextoc commented on #1076
To change the icons you need to change the URL's in the manifest, Did you try that? All the hyperlinks coming with localhost should not be a problem as the add-in is locally hosted.

[2020-03-31 05:15] shr9227 commented on #1076
Hi @exextoc ,
Yes I tried that but no luck. I created new icons in the same dimensions that the old one was and put them in the asset folder
The strange thing is when I change the URL's in the manifest I get the default icon: ![icon-32](https://user-images.githubusercontent.com/62870871/77881257-426f2680-7267-11ea-88da-f99666ed0014.PNG)
And when I replace the old icon with the new ones but keeping

[2020-03-31 05:53] SWDevB commented on #587
I also can confirm the behavior on Excel Online, but the solution is a bit more complex than suggested, because as far as I know for example for nested functions, the outer function is called after the inner function was resolved and of course the inner function knows about being an inner function. So there is a change that right after resolving the "last" promise the next one is already incoming.

[2020-03-31 05:56] exextoc commented on #1076
Share the link from where you created this add-in and also if possible what changes you are trying to make.

[2020-03-31 06:36] shr9227 commented on #1076
Sorry I forgot to add the link: https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator

In the manifest file tring to change the icons:
<bt:Image id="Icon.16x16" DefaultValue="https://localhost:3000/assets**/powerapps-logo-16.png**"/>
<bt:Image id="Icon.32x32" DefaultValue="https://localhost:3000/assets/**powerapps-logo-32.png**"/>
<bt:Image id="Ico

[2020-03-31 06:49] clavx commented on #1019
@amiram I tried.
In that case, there was no problem.
The attachment has been deleted and the custom property have been set.

Suspecting some problems with `Promise.all` processing, I executed the following code.
However, a similar phenomenon occurred.

[code]

Is there any problem with the timing of the event loop in the browser?

[2020-03-31 07:03] amiram commented on #1019
@clavx I don't think it is a javascript problem. I assume performing multiple operations on the mail item may cause some problems. If each operation is getting the item state, change it and then save, all operations get the same state but each one is saving only each own change. I advise you to avoid this and wait for each operation to complete before you start another.

[2020-03-31 07:22] exextoc commented on #1076
Looks like you are looking to change the default icon which you can change by changing the URL in tag <IconUrl .../>. I tried changing the URL's works fine for me.

[2020-03-31 07:26] shr9227 commented on #1076
Itried there too, with no success :/
May be I need to do more the the command npm "run dev-server"?

[2020-03-31 07:44] exextoc commented on #1076
I don't think that should be a problem, instead of trying icon in different sizes, I just took one icon, put it in assets folder, change the manifest file with the new name. And that actually works.

[2020-03-31 08:00] shr9227 commented on #1076
It worked! As you said - I just took one icon and then it worked...
Thanks :)

[2020-03-31 08:00] #1076 closed, assigned to nobody

[2020-03-31 11:00] ghost commented on #1051
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-31 11:00] #1051 closed, assigned to exextoc

[2020-03-31 11:00] ghost commented on #1012
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-03-31 11:00] #1012 closed, assigned to lumine2008

[2020-03-31 19:17] corytheboyd commented on #1071
+1 This is also negatively impacting our customers.

[2020-03-31 20:33] lindalu-MSFT commented on #1008
This can be closed because the issue is fixed.

[2020-03-31 20:33] #1008 closed, assigned to exextoc

[2020-03-31 21:42] ElizabethSamuel-MSFT commented on #1060
@schostac Thanks for your question.

@weshi Can you take a look?

Thanks.

[2020-03-31 21:46] ElizabethSamuel-MSFT commented on #1062
@SWei1234 As suggested, please add a request for this feature on User Voice. I'll close this now but if you have any further questions or comments, let us know.

Thanks.

[2020-03-31 21:46] #1062 closed, assigned to nobody

[2020-03-31 21:48] ElizabethSamuel-MSFT commented on #1064
Thanks for raising this issue. Assigned to feature team to take a look.

[2020-03-31 21:58] ElizabethSamuel-MSFT commented on #1066
@nkramer Closing this for now while the feature rolls out.

Do let us know if the feature is still unavailable even after the rollout completes, or if you're facing any other issues.

Thanks.

[2020-03-31 21:58] #1066 closed, assigned to RuoyingLiang

[2020-03-31 22:00] ElizabethSamuel-MSFT commented on #1067
@nkrtarm Thanks for raising this issue.

@RuoyingLiang Can you take a look?

Thanks.

[2020-03-31 22:03] ElizabethSamuel-MSFT commented on #1069
@xyc Sorry that you hit this issue and thanks for raising it.

@jargil Can you take a look?

Thanks.

[2020-03-31 22:05] ElizabethSamuel-MSFT commented on #1070
@gamblecd Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2020-03-31 22:07] ElizabethSamuel-MSFT commented on #1072
@NT-D Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2020-03-31 22:17] ElizabethSamuel-MSFT commented on #1058
@RuoyingLiang This seems related to custom functions. Can you take a look?

Thanks.

[2020-03-31 22:20] ElizabethSamuel-MSFT commented on #839
@anilreddyr7 If you haven't already, do make feature request on User Voice per guidance in [earlier comment](https://github.com/OfficeDev/office-js/issues/839#issuecomment-552830505). I'll close this now but if you have any other feedback, let us know.

Thanks.

[2020-03-31 22:20] #839 closed, assigned to nobody

[2020-03-31 22:23] ElizabethSamuel-MSFT commented on #850
@Moby-dev Per comment by @AbidRahman-MSFT, could you try the debugging options and let us know the outcome?

Thanks.

[2020-04-01 01:45] MandytMSFT commented on #1075
This is about getFileAsync on desktop, reassign to @lliu113

[2020-04-01 03:16] exextoc commented on #1072
There is a problem with the manifest as it contains duplicate Resource Ids in both VO 1.0 and VO 1.1. Duplicate resource Ids are groupLabel and customTabLabel, once you remove these it should start working.

[2020-04-01 03:18] exextoc commented on #1070
We are able to repro this bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-04-01 03:20] exextoc commented on #1064
We are able to repro this bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: OutlookWeb:81772

[2020-04-01 07:00] clavx commented on #1019
@amiram I see. You are right.

There was a difference in the behavior between the Windows version and the Web version after calling `event.completed`. In the Windows version, after calling `event.completed`, it does not terminate immediately, and it seems to have a little extra time. In the Web version, after calling `event.completed`, it terminated immediately.
So I extended the end of the progra

[2020-04-01 10:38] masa-fleet commented on #1072
@ElizabethSamuel-MSFT , @exextoc
Thank you for your quick comment. I removed the duplicate resource Ids and finally it works. Sorry for consuming your time by easy mistake...

Btw, I'm happy if you update manifest validation tool to detect duplicate setting.

[2020-04-01 10:38] #1072 closed, assigned to exextoc

[2020-04-01 11:22] masa-fleet commented on #1074
@exextoc Thank you for your comment. Although I removed `RequestedWidth`, I still get following error from validation tool. Also can't install add-in to Outlook.

From the error message, I think `ExtensionPoint` doesn't support to contain `RequestedHeight`. Would you please double check in your environment ?
[code]

[2020-04-01 11:35] Murugananths opened #1077 "Office-JS Excel Desktop version Port Runtime Issue"
Excel add-in Desktop version could not sideloaded Excel with below command through npm.
npm run start:desktop

## Expected Behavior
-------------------------
When trying to run below command the localhost should run and at the same time Excel should open while running the localhost server.
NPM Command : npm run watch followed  by npm run start:desktop.

## Current Behavior
----------------------

[2020-04-01 12:40] akrantz commented on #1077
To use a different port for webpack-dev-server, in package.json change the value in the config.

"config": {
  "dev-server-port": 3000
}

[2020-04-01 12:41] #1077 closed, assigned to nobody

[2020-04-01 13:21] Murugananths commented on #1077
Already i tried with the port 5003 and 8080....but the same issue getting..

[2020-04-01 14:15] Domen122 opened #1078 "When DisplayName string for Excel add-in is too long horizontal scroll bar appears, close button is moved and not interactable"
## Expected Behavior
Longer strings are wrapped in ellipsis and close button is working correctly

## Current Behavior
When we have long Addin name it isn't wrapped in any way which results in horizontal scroll bar. Also due to this addin close button is moved below the string and becomes not interactable

## Steps to Reproduce, or Live Example
1. Create manifest for addin with long <DisplayName/>

[2020-04-01 15:22] ElizabethSamuel-MSFT commented on #1072
@NT-D Glad to hear that helped.

Regarding your feedback about the manifest validation tool, we encourage to take a moment to make this suggestion in a new issue on the [toolbox repo](https://github.com/OfficeDev/office-toolbox/issues).

Thanks.

[2020-04-01 17:44] DannyHinshaw commented on #998
@JuaneloJuanelo may we please reopen this? I'm having this same issue except there's no need to add "layered images", this is occurring on just plain blank documents. The way we are using it is to check for chart xml to detect if the cursor is on a chart title.

I've tested on both Windows & Mac and can confirm they are both affected. It seems as though this bug/issue was introduced with a version

[2020-04-01 22:37] exextoc commented on #1072
I created this toolbox repo issue:
https://github.com/OfficeDev/office-toolbox/issues/41

[2020-04-01 22:57] stejura-sfdc opened #1079 "getSharedPropertiesAsync encounters a 404 Bad Request"
While calling `Office.context.mailbox.item.getSharedPropertiesAsync` on a shared item, there's a 404 Bad Request error logged in the console. However, the shared properties data is retrieved successfully.

## Expected Behavior
The `getSharedPropertiesAsync` call should not log a 404 Bad Request

## Current Behavior
The `getSharedPropertiesAsync` call logs a 404 Bad Request

## Steps to Reproduce,

[2020-04-02 03:18] masa-fleet commented on #1072
Thank you very much for your support!

[2020-04-02 04:05] exextoc commented on #1074
I used the same manifest which you have shared, removed the <RequestedWidth.../> tag and it works fine for me in both Outlook web and Outlook Desktop, Can you share your updated manifest which you are trying.

[2020-04-02 04:44] exextoc commented on #1071
We have fixed the bug and the fix should be available soon.

[2020-04-02 07:24] weshi commented on #1056
@commoncoder101 Is this issue for Word Desktop, or Word Online?

[2020-04-02 07:56] weshi commented on #1060
@schostac Yes, you can. You can go to the [Partner Center](https://partner.microsoft.com/), select Dashboard, and then you will find the option to create new apps.

[2020-04-02 07:56] #1060 closed, assigned to nobody

[2020-04-02 08:00] ghost commented on #991
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-04-02 08:54] SWei1234 commented on #1061
@exextoc Any update? Or this is confirmed not a problem?

[2020-04-02 09:19] Murugananths commented on #1077
Hi,
Any other findings required ?

[2020-04-02 10:22] SudheerK06 commented on #1056
@weshi word desktop

[2020-04-02 11:13] shr9227 opened #1080 "Error in Outlook Add-in after deploying to office 365 add-ins"
Hi all,

I have question about how to deploy simple add-in I created, that is a button that open web site

I built it with Sideloading and it work perfectly with my Outlook, now I need to publish it to all of my organization.

So I built VS project and connected it to Azure Web App and publish the solution, changed all the URL's to the Azure site and checked that the files are accessible anonymous

[2020-04-02 11:27] exextoc commented on #1080
Can you share your manifest so that we can test it at our end.

[2020-04-02 11:42] exextoc commented on #1079
We are not able to repro the issue at our end. Is the issue consistent for you?

[2020-04-02 13:40] shr9227 commented on #1080
sure :)
[https://icl-outlook-addin.azurewebsites.net/OutlookWebAddIn1.xml](url)

I placed it also in Azure Web App

Thanks,

[2020-04-02 14:38] shr9227 commented on #1080
I think I found the problem, I will check again and tell you what was wrong :)

[2020-04-02 16:41] ghost opened #1081 "getUserIdentityTokenAsync function return a null token to Exchange 2013"
I have a problem for one of my production customers with my Outlook addin.

The Office API call to getUserIdentityTokenAsync() returns a "succeeded" status but a null token (empty).

## Expected Behavior
For example :
`{value: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ik1...............",
status: "succeeded"}`

## Current Behavior
`{ value: "", status: "succeeded" }` on OWA and on-premise clien

[2020-04-02 16:51] amegan opened #1082 "[Outlook] Office.context.mailbox.item.body.prependAsync() prepends multiline text in reverse order (OWA)"
When I call `prependAsync()` API with the following ways, the inserted text appears in reverse order in the message body.

[code]

[code]

## Expected Behavior
The text should be inserted as

line 1
line 2
line 3

## Current Behavior
The text is inserted as

line 3
line 2
line 1

in the message body.  I see this behavior only on OWA.

## Steps to Reproduce, or Live Example
* Link to live example:

[2020-04-02 17:01] stejura-sfdc commented on #1079
@exextoc Yes, I can consistently reproduce the issue. FWIW, I can only see this on a shared mailbox (delegate mailbox) email

[2020-04-02 18:00] nfgallimore opened #1201 "Outlook Consume Graph API Login Frequency"
**Question**

I am investigating how to convert an existing outlook add-in to authenticate to one of our APIs via AAD. The way the add-in works, it would severely limit the user experience if they were constantly  prompted with a dialog. If I were to base my solution off this sample project, how often could we expect the user to have to interact with a dialog or login?

[2020-04-02 23:01] exextoc commented on #1061
@SWei1234 you mentioned that location.reload() is not working because you have a function that you expect to be called once the reload is successful? If that is accurate, do you see any errors in the debug console when you debug your add-in?

[2020-04-03 01:28] SWei1234 commented on #1061
Hi @exextoc I didn't see anything show on devTool when I call location.reload().
Anything else need I provide?  Or a recording?

[2020-04-03 01:37] exextoc commented on #1061
@SWei1234, if you have a recording, that will be helpful. You can also add a console.log() call inside the Office.initialize function and check to see if anything got logged to the console after calling location.reload().

[2020-04-03 06:32] exextoc commented on #1082
We are able to repro this bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-04-03 08:12] RuoyingLiang commented on #1067
Sorry I miss this thread. On windows, the js runtime is used instead of webview, that's why the behavior is different than Mac/Online. Could you try shared runtime for your scenario? [https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview](url)

[2020-04-03 10:55] masa-fleet commented on #1074
Sure. Would you please try this manifest ?
https://contextaddinmasota.blob.core.windows.net/share3/contoso-order-number-manifest.xml

[2020-04-03 11:45] exextoc commented on #1074
So there is another issue this with manifest. The elements under ExtensionPoint have to be in a particular order. RequestedHeight tag should come after label tag and before SourceLocation tag.

[2020-04-03 12:15] masa-fleet commented on #1074
Thank you. It works.

Let me provide feedback. This is undocumented information, so no developers can understand this particular order. So, how about to do following actions to resolve future problem ?
1. Provide this information in the [document](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/requestedheight).
2. Update validation tool to show correct order ?

This is depe

[2020-04-03 12:15] #1074 closed, assigned to exextoc

[2020-04-03 15:29] ElizabethSamuel-MSFT commented on #1078
@Domen122 Sorry that you hit this issue and thanks for reporting it.

@lumine2008 Can you take a look?

Thanks.

[2020-04-03 15:33] ElizabethSamuel-MSFT commented on #1081
@glebretonoab Sorry you hit this issue and thanks for reporting it.

@exextoc Can you take a look?

Thanks.

[2020-04-03 16:11] Murugananths opened #1083 "Clarification regarding Office js helpers with OAUTH Dialog box Behaviour"
When trying to implement below logic we were able to get access token in redirect url browser like https://localhost:3000/taskpane.html#id_token="xxxxxxxx...." but not able to get in origin like in taskpane.ts file.

Code in taskpane.ts:

if (OfficeHelpers.Authenticator.isAuthDialog())
return;

let authenticator = new OfficeHelpers.Authenticator;

authenticator.endpoints.add('OauthTest', {
baseUrl

[2020-04-03 18:59] ElizabethSamuel-MSFT commented on #1081
Related to [Stack Overflow question](https://stackoverflow.com/questions/60845574/office-api-getuseridentitytokenasync-function-return-a-null-token).

[2020-04-04 12:52] mike-code commented on #558
@up it was mentioned here few times already and we are NOT using such headers. OP clearly posted an example of simple GET with no headers whatsoever

Indeed there's a problem which is not limited to Office but Edge in general and MS can't get their shit straight in this regard. Just look on how many upvotes this QA has
https://stackoverflow.com/questions/32384571/why-does-microsoft-edge-open-some-

[2020-04-05 00:00] ghost commented on #1065
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-04-05 00:00] ghost commented on #995
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-04-05 00:00] ghost commented on #850
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-04-05 05:32] shr9227 commented on #1080
Hi All,
Sorry for delay answer, my problem was that I have broken link to the html command.
Now the solution work perfectly on the Outlook web (open Link to another web page) but not on the Outlook desktop(in the desktop is just saying:
_"{Solution Name} is working on your {Button Name} request"_
![OutlookAddinError](https://user-images.githubusercontent.com/62870871/78467670-a25a4700-7717-11ea-97

[2020-04-05 09:56] shr9227 commented on #1080
Hii,
I fount the answer to the problem:
OOTB in the command JS was this code on the beginning:
`Office.onReady(() => {
 // If needed, Office.js is ready to be called
});`
When I dig to IE console I found error that IE11 doesn't know the syntax, so I changed it to this:
`Office.onReady(function(){
  // If needed, Office.js is ready to be called
});`

and it worked :)

[2020-04-05 11:57] #1080 closed, assigned to exextoc

[2020-04-06 04:10] exextoc commented on #1057
We are able to repro this bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-04-06 11:11] lumine2008 commented on #1078
Thanks @ElizabethSamuel-MSFT , I think this should be UI areas, So let's assign to Lillian @lliu113

[2020-04-07 04:00] keyur32 commented on #558
Hey there, sorry for the delay, I missed the notifications here.  Currently, the custom functions runtime doesn't support cors.

Instead we recommend using a shared runtime: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview.  This supports full cors, httpOnlyCookie based auth, can call the MS Graph, etc.  It also allows you to manage and share state between

[2020-04-07 04:01] keyur32 commented on #558
If you are using the custom functions runtime, it does require an exemption for localhost. See the guidence here: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-troubleshooting#common-issues

[2020-04-07 05:33] nasatechie opened #1084 "Office.js excel web app issue - Uncaught Sys.ArgumentNullException: Sys.ArgumentNullException: Value cannot be null. Parameter name: conversationId"
Hi There, we are developing few web applications rendered in task pane (in angular, react etc) using  on Office.js API, the issue we are facing is - we are trying to navigate from one application to another inside task pane for which we are using iframes. In our case our both apps (say app1, app2) run on the same port but as two different child applications, because of the same origin policy, offi

[2020-04-07 10:28] CameronDwyer opened #1085 "Office.context.mailbox.item.addFileAttachmentAsync fails to attach files by URI in Outlook 2013 (Outlook 2016/2019/O365 fine)"
## Expected Behavior
After obtaining the download URL of a SharePoint file from the Graph API https://docs.microsoft.com/en-us/graph/api/resources/driveitem?view=graph-rest-1.0 (using the @microsoft.graph.downloadUrl property of the DriveItem), I expect to be able to use that URL to attach the file to a new email message being compose by using Office.context.mailbox.item.addFileAttachmentAsync in

[2020-04-07 14:14] jive-tamaskuzdi opened #1086 "getSelectedRegExMatches() returns wrong result"
There is two result in a line for a contextual addin and it doesnt matter which one i click, the `getSelectedRegExMatches()` will return only one of them.

## Expected Behavior
I expect that `getSelectedRegExMatches()` returns exactly the same highlighted match that i clicked.

## Steps to Reproduce, or Live Example
Manifest part with regex:
[code]

Line in email where both numbers are highlighted

[2020-04-07 17:07] Rick-Kirkham commented on #1084
@keyur32 Can you answer or reassign to someone who can?

[2020-04-07 17:15] Rick-Kirkham commented on #1086
Please provide some more information. Which host are you working with (Excel? Word?, etc.)? What is the parent object of the `getSelectedRegExMatches` method? What is the programming scenario; that is, what are you trying to accomplish?

[2020-04-07 18:40] nkrtarm commented on #1067
Sorry for late reply. The above shared js runtime will perfectly solve our issue and make it a lot easier to work with custom-function. Unfortunately, It's still in preview and we need to release our add-in soon. Anyway, Do you have any idea how this will be rolled out to production? we would like to keep track of it and hope we will hear a good news soon.

[2020-04-07 19:46] exextoc commented on #1086
I tried the `Office.context.mailbox.item.getSelectedRegExMatches()` API with the provided ExtensionPoint XML and email line in _Outlook Desktop on Windows_ and _Outlook on the Web_.

In both clients, it returned the correct match (the one that was selected to launch the add-in). For example: `{"MyResult":["516-812-0100"]}`

Which version number of Outlook Desktop were you testing with?

And for Ou

[2020-04-08 02:00] ghost commented on #1065
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-04-08 02:00] #1065 closed, assigned to lumine2008

[2020-04-08 02:00] ghost commented on #995
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-04-08 02:00] #995 closed, assigned to jargil

[2020-04-08 02:00] ghost commented on #850
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-04-08 02:00] #850 closed, assigned to AbidRahman-MSFT

[2020-04-08 05:04] FelipeCostaGualberto opened #1087 "[Excel] Border formatting issue using CellPropertiesLoadOptions / setCellProperties"
I'm trying to copy the borders format from a range and paste to another range using `Excel.CellPropertiesLoadOptions` to load properties and then `Range.setCellProperties` to set the properties, but the border formatting is being set incorrectly.
I don't know if the issue is being caused when _loading_ the properties or when _setting_ them.

## Expected Behavior
I expected the borders formatting i

[2020-04-08 06:35] exextoc commented on #1079
Since we cannot repro this issue at our end still - will it be possible for you to provide us with a test account so that we may try there?

[2020-04-08 06:40] #1081 closed, assigned to exextoc

[2020-04-08 07:40] jive-tamaskuzdi commented on #1086
Thanks for looking into it, let me provide more details @exextoc !
I can confirm that the issue is not present in the web Office365, it was caused by another issue, i will do a separate report for that.

Trying from mac Catalina Microsoft Outlook desktop application is wrong:
`Office.context.mailbox.diagnostics.hostVersion` return `16.35 (20030802)`

Test mail sent exactly:
[code]

I have both num

[2020-04-08 07:42] ghost commented on #1081
Why closed ?

[2020-04-08 09:21] jive-tamaskuzdi opened #1088 "Outlook contextual addin doesnt show for non breaking spaces in mac"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I have an outlook contextual addin activating for regex results. The results can contain spaces, but it breaks when it contains a non breaking space.

## Expected Behavior
I expect th

[2020-04-08 10:55] exextoc commented on #1081
Related to [this ](https://stackoverflow.com/questions/60845574/office-api-getuseridentitytokenasync-function-return-a-null-token)stackoverflow question.

[2020-04-08 11:13] jive-tamaskuzdi opened #1089 "Outlook web contextual addin can't highlight results that has special chars"
I'm developing an outlook contextual addin that highlights phone numbers with a regular expression.
Office 365 web Outlook will not highlight any number that has regex special chars, just to give some example: `+`,`(`, `)`.

## Expected Behavior
I expect that results that match the provided regex are highlighted and can activate the addin.

## Current Behavior
Results seems to be found by Outlook,

[2020-04-08 11:16] StuartKeeble opened #1090 "Possible documentation error with VersionOverrides flagged as optional?"
We had an Add-in submission rejected for having no Extension points defined.  Extension points are a required element of VersionOverrides by those themselves are flagged as optional based on the content of this page.
I tried to get clarification on the Stackoverflow forum but my query was closed for being off-topic - see https://stackoverflow.com/questions/61078237/outlook-office-add-in-rejected-p

[2020-04-08 13:44] pinetreeps opened #1093 "context.document.getSelection() can't get Chinese characters"
I am do it in macOS
when I use sample by Script Lab
context.document.getSelection() can't get Chinese characters

[在此处输入反馈]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: bd71647a-75de-038e-536a-7e56dd48ef3c
* Version Independent ID: a8bc56eb-0948-1ae0-0654-6b751ee9435f
* Content: [Word.Document class - Office Add-ins](https://docs.microsoft.com/zh-cn/javascript/api

[2020-04-08 14:06] exextoc commented on #1089
Thanks for reporting this issue regarding. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-04-08 14:41] AlexJerabek commented on #1093
Hi @pinetreeps,
Does this issue with `getSelection` only happen with Script Lab? Or does it also happen when using the same code in an add-in (like as part of the [tutorial](https://docs.microsoft.com/office/dev/add-ins/tutorials/word-tutorial)?

[2020-04-08 15:42] MandytMSFT commented on #1087
I can repro this issue from my side, BUG 4080917 is fired for internal track

[2020-04-08 16:01] lumine2008 commented on #1087
Thanks @FelipeCostaGualberto for reporting this issue, our team has started the investigation. we will let you know once we have progress on this issue.

[2020-04-08 17:06] nasatechie commented on #1084
Team, is there any fix available for this scenario? Happy to provide more info :)

[2020-04-08 17:11] keyur32 commented on #1084
HI @nasatechie , is this affecting you in a way?  I think the exception that is being thrown is an internal one seperate from your add-in..

Also does the exception always appear while debugging or only after certain operations?

[2020-04-08 17:11] keyur32 commented on #1084
assigning to @lumine2008 from our APIs team to also help

[2020-04-08 17:14] keyur32 commented on #1084
Actually, ignore previous comment..

This appears to be a runtime question.  @smaremanda can confirm but I believe, your taskpane can't navigate to a different domain. The page it is going to needs to be in the same sub domain or in the allowed domains list in the manifest.

[2020-04-08 17:17] nasatechie commented on #1084
Hi @keyur32  & @smaremanda , the issue is consistent as we reproduced this multiple times and it even occurred with sample applications deployed without any business logic. what I mean by this is, our app1 and app2 both are in same domain and we want to render app2 inside app1 (which uses an iframe), to make things simple app1 button click should render app2 inside app1 iframe.

[2020-04-08 17:19] Rick-Kirkham commented on #1090
According to [the official XSD for the manifest](https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-owemxml/4e112d0a-c8ab-46a6-8a6c-2a1c1d1299e3), VersionOverrides is defined with the attribute "minOccurs=0", so it is optional and the doc is correct. I think there's an error in the store validation or some subtlety in why its giving you that error. I will try to move this issue to a

[2020-04-08 21:28] KyNorthstar opened #1092 "Handler not called: Office.context.mailbox.item.addHandlerAsync(Office.EventType.RecipientsChanged"
## Expected Behavior
The handler which is passed to the `addHandlerAsync` function when the event type is `Office.EventType.RecipientsChanged` should be called.

## Current Behavior
The handler is not called when the recipients change

## Steps to Reproduce, or Live Example

With the following snippet:

[code]

When the add-in loads, the following is prepended to the email body:

but after recipie

[2020-04-08 23:30] exextoc commented on #1090
While VersionOverrides is optional in the manifest schema, AppSource does require that all Outlook add-ins have at least one Extension point ([original announcement here](https://developer.microsoft.com/en-us/office/blogs/make-your-add-ins-available-in-the-office-ribbon/)).

The extension points describe how the add-in should be surfaced in the Outlook application, and some Outlook applications ma

[2020-04-09 01:55] pinetreeps commented on #1093
@AlexJerabek thx for reply
I am not do it in an add-in, I only tried the Basic API call(JS) sample,
This is my first try on add-in

[2020-04-09 08:39] StuartKeeble commented on #1090
Thanks - I appreciate your speedy and detailed response.

Stuart

On Thu, 9 Apr 2020 at 00:30, Outlook Add-ins Team - MSFT <
notifications@github.com> wrote:

--
This message is for the named person's use only.  If you receive this
message in error, please delete it and notify the sender.  Appogee HR
reserves the right to monitor all e-mail communications through its
networks. Appogee HR Limited,

[2020-04-09 12:14] deltreey commented on #406
any word on progress here?

[2020-04-09 12:46] FelipeCostaGualberto commented on #414
Hello, any news of when this API is going to be available in production?

[2020-04-09 16:31] Murugananths commented on #1083
Hi Team,

Finally i am able to get the token in online version and working as expected.
Also have below clarifications:
    1) AuthDialog box not opening for Desktop version..
    2) Once logged out session when trying to logged in that time also AuthDialog not opening in Online version.

Since almost we are yet to complete our development quick response will be very much helpful.

Thanks...

[2020-04-09 17:52] ElizabethSamuel-MSFT commented on #1074
Related PR: https://github.com/OfficeDev/office-js-docs-pr/pull/1732

[2020-04-09 18:01] AlexJerabek commented on #1093
Thank you for the response @pinetreeps. I am transferring this issue to the [office-js](https://github.com/OfficeDev/office-js) repo, since this is either an issue with Script Lab or office-js, not the documentation.

[2020-04-09 20:56] stejura-sfdc commented on #1079
@exextoc Yes, I can send you details for a test account. What's a good way for me to share the credentials?

[2020-04-09 21:09] pb-jeff-oneill opened #1094 "insertText not working for Word add-in on Mac desktop"
This bug report is based off this [SO post](https://stackoverflow.com/questions/60995349/replace-text-of-current-paragraph-in-ms-word-office-js-add-in).

The goal is to get the text of the current paragraph of a Word doc, look for an instance of the word "foo" and replace it with the word "bar".   Here is the code:

[code]

On my Mac with Office 365, everything is working except `insertText`.  The

[2020-04-10 01:03] weshi commented on #1056
I was not able to reproduce this issue with my version of Word for Windows.
![image](https://user-images.githubusercontent.com/11494417/78953012-0b6fff00-7b0a-11ea-94d7-5df6cd1ec870.png)

It would be helpful if you could provide the version/build information. If you can provide the document you tested with the issue, it would also be helpful.  Thanks.

[2020-04-10 01:20] weshi commented on #1056
@commoncoder101  It seems this can only be reproduced if you delete the rows with table.deleteRows() API. I can reproduce it now. I'll create an issue internally to track this issue.

At the same time, if you first get the rows, and then call the row.delete() API, it will succeed. Could you try this approach to see if you work around it for now while we investigate the table.deleteRows API?

[2020-04-10 01:49] weshi commented on #1056
Tracked internally with 4085106.

[2020-04-10 01:56] davidfishlock opened #1095 "Outlook: Deeplinks to mail items returned by Outlook API no longer load"
When attempting to navigate to a WebLink for a mail item returned by the Outlook API, the user receives a blank page with a spinner and 'loading' indefinitely.

## Expected Behavior
The OWA read item view is displayed with the mail item

## Current Behavior
The user is stuck on a blank loading screen indefinitely

## Steps to Reproduce, or Live Example
- Call https://outlook.office365.com/api/v2.0

[2020-04-10 06:27] lumine2008 commented on #1087
We are still in the investigation, meanwhile, there is a workaround for you to unblock your scenario, you could use `range.copyFrom() `API, here is the sample code:

[code]

[2020-04-10 08:41] MandytMSFT commented on #1093
I tried this API works well on Word web and desktop. Transfer to the right owner who owns Word MAC

[2020-04-10 12:15] sarea commented on #853
Hi again, posting this here because I think it's related:
The issue above is fixed but when I try to deploy the add-in (v1.8) from the admin portal as file or URL, I got  this error:
[code]
That error did not occur when deploying the same manifest with v1.7 or less
<br />
This issue is occurring only when deploying the add-in through the **admin portal**,  not when adding a new add-in as user.
Tha

[2020-04-10 14:17] max-yushchuk opened #1096 "addHandlerAsync ItemChanged not working correctly with conversation items and pinned Add-In in browsers"
## Expected Behavior

ItemChanged event should always fire when user switches between conversation items with pinned Add-In.
## Current Behavior

ItemChanged event fires only once per each item in conversation. And then after switching it doesn't fire again.
For example - we have 4 items in conversation:
item1 - received
item2 - sent
item3 - received
item4 - sent

User goes to item1, opens Add-In,

[2020-04-10 18:13] exextoc commented on #1095
@davidfishlock Can you also provide an example of the API that's returning that link?

The URL in the repro steps is a REST URL, rather than an OWA URL, so it should return a JSON response when called with a token via an HTTP request (see [Message API](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/mail-rest-operations#GetMessage)).

[2020-04-11 01:22] davidfishlock commented on #1095
@exextoc Yes, we are calling the Outlook Rest API Version 2.0 as shown in the link you provide above.

The JSON response contains a property 'WebLink' containing a url to open the mail item in OWA. Folllowing that url now leads to a blank page with loading spinner, the item never loads.

WebLinks returned by the REST API are in the format:
https://outlook.live.com/owa/?ItemID={someItemID}&exvsurl=

[2020-04-11 01:39] exextoc commented on #853
Thank you for reporting this issue. I'm able to reproduce it as well.

I'm checking on the status of this issue in the admin portal.

If you open a new issue, we can close it when the issue is resolved, or we can update this thread at that time. Thanks again!

[2020-04-11 02:15] exextoc commented on #1095
Thanks for the clarifications.

This repo is for Office.js questions (the web-based Office add-in platform), which does provide some access to REST (hence my confusion), but this is purely a REST question.

For REST questions, you could ask a question on Stack Overflow with the 'outlook-restapi' tag.

For this particular issue, if the URL looks correct (you mentioned it was working last week), the

[2020-04-11 02:18] davidfishlock commented on #1095
@exextoc So to be clear, you have no route to escalate this internally since this will likely be breaking a large number of Outlook add-ins? It seems very poor that the best route to raise this is via stack overflow.

This affects all users, and the issue is not authentication.

[2020-04-11 02:54] exextoc commented on #1095
I tried to reproduce the issue initially with an organization account but unfortunately couldn't.

I'm able to reproduce the issue now but only on an outlook.com account (a "Microsoft account"). Is this consistent with what you're seeing?

[2020-04-11 02:56] davidfishlock commented on #1095
@exextoc Yes, the reports I have are against live.com and hotmail accounts etc

[2020-04-11 05:00] ghost commented on #1065
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2020-04-11 10:44] iyunbo commented on #925
Same issue here, please re-open.

[2020-04-12 08:59] #1019 closed, assigned to exextoc

[2020-04-12 09:00] #1034 closed, assigned to lliu113

[2020-04-12 09:32] exextoc commented on #1088
Hello, we cannot repro this issue. Will it be possible for you to share the manifest for this?

[2020-04-12 09:33] exextoc commented on #1092
Hello, we cannot repro this issue. Will it be possible for you to share the manifest for this addin?

[2020-04-13 08:15] Murugananths commented on #1083
Closing this request as we were able to make working.....Thanks for the support.

[2020-04-13 08:15] #1083 closed, assigned to LouMM

[2020-04-13 10:47] DannyHinshaw opened #1097 "Calling getOoxml returns vague RichApi.Error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I tried to get another issue to be reopened (https://github.com/OfficeDev/office-js/issues/998#issuecomment-607394484) but since it's been almost two weeks now I am creating this issu

[2020-04-13 13:17] plamenbotev commented on #1006
We have the same issue in Outlook addin.

[2020-04-13 14:40] KyNorthstar commented on #1092
@exextoc No problem! It's mostly unmodified from the one Yeoman generated:

[manifest.xml](https://github.com/OfficeDev/office-js/files/4469927/manifest.xml.zip)

[2020-04-13 16:39] lliu113 commented on #1093
@pinetreeps - thanks for your question! We're investigating this internally, will update when we know more.

Internal bug code: 4084575

[2020-04-13 17:50] nasatechie commented on #1084
Hi @keyur32 and @smaremanda , any update on the above issue?

[2020-04-13 19:16] nat-ser opened #1098 "Office Addin - Unable to fetch document GUID or any other unique DriveItem property from Office.context"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

An Office Add-in is opened in a parent document with the full web url like `https://mydomain.xyz/:w:/r/personal/personal_com/_layouts/15/Doc.aspx?sourcedoc={GUID}&file=AddinTest.docx&

[2020-04-13 23:26] #1090 closed, assigned to exextoc

[2020-04-14 01:47] Kashishmsft commented on #1006
For outlook, it's logged here - https://github.com/OfficeDev/office-js/issues/503
You could follow up there for precise tracking and appropriate response I believe.

[2020-04-14 03:00] ghost commented on #1056
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2020-04-14 03:34] pinetreeps commented on #1093
I tried it on win10 ,it's works well.

[2020-04-14 06:11] plamenbotev commented on #503
@jargil Please note that this functionality was working on windows desktop client. Can you please share any documentation that points when this was removed?
I also can not find openBrowserWindow. I will appreciate any input on that as I currently can not find any work around and we have lost functionality that was working on production and still works for older build of the desktop client.

[2020-04-14 08:14] sarea opened #1099 "Cannot deploy OWA add-in in the admin portal as file or URL"
Hi there,
[This issue](https://github.com/OfficeDev/office-js/issues/853) is fixed but when I try to deploy the add-in (v1.8) from the admin portal as file or URL, I got this error:
[code]
That error did not occur when deploying the same manifest with v1.7 or less

This issue is occurring only when deploying the add-in through the admin portal, not when adding a new add-in as a user.
Thanks

[2020-04-14 08:20] sarea commented on #853
Hi @exextoc
Here is the [new issue](https://github.com/OfficeDev/office-js/issues/1099)
Thanks

[2020-04-14 11:31] splinter opened #1100 "[Outlook] Changing a select drop down breaks pinning support"
The ItemChanged event does not fire if a select dropdown value is changed.

## Current Behavior
The ItemChanged event does not fire if a select drop value is changed.

## Steps to Reproduce, or Live Example
1. Setup an ItemChanged handler
2. Ensure there is a Select dropdown in the view
3. Change the select drop down
4. The ItemChanged event does not fire.

I have attached a simple add-in in the g

[2020-04-14 14:11] weshi commented on #1094
@pb-jeff-oneill I tried your code above on my Word for Mac, and it works as expected. When I enter foo, it's replaced with bar.

Could you share the version/build information of your Word for Mac ? (menu item: Word -> About Microsoft Word).

The version I tried is:
<img width=300 src="https://user-images.githubusercontent.com/11494417/79236339-68b7d780-7e9f-11ea-9b3a-5fba13e7b694.png"/>

[2020-04-14 15:35] pb-jeff-oneill commented on #1094
I've got a more recent version:

<img width="209" alt="Screen Shot 2020-04-14 at 11 34 54 AM" src="https://user-images.githubusercontent.com/55557751/79243716-01b90500-7e44-11ea-8079-9b0559c2b092.png">

I just tried again and it still isn't working.

[2020-04-14 16:04] Murugananths opened #1101 "Enable/Disable Add-in Ribbon Commands"
Hi Team,
For disabling the custom ribbon commands tried below things as per the below article but still not achieving the feature. Hence kindly confirm is there any steps missing or any need to wait for stabled release since these are in preview it seems...

**In Manifest:**
            Added Enabled to false below Action tab as per document.

**note** : It is implemented and tested in Office Onli

[2020-04-14 16:35] smaremanda commented on #1084
hi @nasatechie - for security reasons we dont allow nested iframes to execute Office.js APIs. My question back to you: why do you need your app2 to be inside of an iframe [esp if it shares the same domain as app1]. why couldnt they simply be inline [using divs for example]?

[2020-04-14 17:33] mike-code opened #1102 "Passing auth data from Add-in to Power BI without persistent storage in Worksheet"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

I've put up a question on SO with bounty but unfortunately it didn't get any attention and I think it's a valid use case

**tl

[2020-04-14 17:49] jankratochvilcz commented on #1095
@exextoc We'd really appreciate your help here. I've opened a support ticket with Outlook already, but so far it looks like getting an actionable will be very difficult.

Please let us know how we can make sure that this issue is seen by the OWA team as it's blocking for the release of our add-in.

[2020-04-14 20:39] exextoc commented on #1095
We have forwarded the information about this issue to the appropriate team, and they are now investigating this issue.

[2020-04-14 20:52] exextoc commented on #1100
The ItemChanged event is triggered when a different Outlook item is selected for viewing while the task pane is pinned. It will not fire when a dropdown is changed.

More information about event types can be found [here](https://docs.microsoft.com/en-us/javascript/api/office/office.eventtype?view=word-js-preview#fields)

[2020-04-15 01:25] weshi commented on #1094
Could you try to use Script Lab from the Office Store, and Import below code from gist and try again?

https://gist.github.com/weshi/7f7e1c177dacf92a500dc629491fc206

<img width="300" src="https://user-images.githubusercontent.com/11494417/79289244-579cb400-7efb-11ea-9b7b-75b6cb9647fd.png">

<img width="300" src="https://user-images.githubusercontent.com/11494417/79289360-9c284f80-7efb-11ea-87ef-d

[2020-04-15 02:47] lumine2008 opened #1103 "“AccessDenied” error on WorksheetCollection.onActivated event on Excel 2019 Desktop"
My customer uses "WorksheetCollection.onActivated" event to update the information when the user changes the worksheet. my customer found that on some versions of the office while trying to set this event, the add-in is getting error "AccessDenied".

[code]
The code works fine on Excel Online and Mac, my customer does see the "Access Denied" issue on Excel 2019 Desktop version 16.0.10356.2006

The

[2020-04-15 05:27] splinter commented on #1100
Hi @exextoc ,

First, I must apologize since I did not explain the issue properly.

The issue is not that the event is not fired when a select dropdown is changed.

The issue occurs when:
1. User enables pinning
2. User changes a select dropdown
3. User changes mail
4. No mail item changed event is fired

[2020-04-15 06:52] jive-tamaskuzdi commented on #1088
@exextoc while i prepare a repo, i can tell that it only happens on mac with the Outlook app

[2020-04-15 13:49] pb-jeff-oneill commented on #1094
That does work!  Thank you for providing that.

However, that snippet uses async/await which is not supported by IE11 ([caniuse](https://caniuse.com/#search=async)) and some Word versions are still running add-ins using IE11.

Is it possible to get this working without async/await?

[2020-04-15 16:34] Murugananths commented on #1101
Hi.
Sample examples will be helpful for real time implementation. Thanks.

[2020-04-15 21:56] v-danmun commented on #1082
Hello team, I'm from MS Dynamics CRM support. I have a customer having this exact issue. Is there any ETA for the resolution on this case that I can provide the customer?

[2020-04-16 06:48] exextoc commented on #1096
Thank you for reporting this issue. This has been put in our backlog. We unfortunately have no timelines to share at this point.

[2020-04-16 08:52] weshi commented on #1094
I figured out that the root cause is because of the following code:

Office.onReady().then(function() {
  $(document).ready(function () {
      Office.context.document.addHandlerAsync(
        'documentSelectionChanged',
        updateText);
  });
});

Change it to below:

Office.onReady().then(function() {
//  $(document).ready(function () {
      Office.context.document.addHandlerAsync(

[2020-04-16 11:49] jive-tamaskuzdi commented on #1088
@exextoc please find a reproduction code here with explanation in readme:
https://github.com/jive-tamaskuzdi/outlook-nbsp-repro

[2020-04-16 11:55] DmitryKostochko opened #1104 "Outlook Online, all browsers, setSelectedDataAsync produces incorrect formatting"
In an Outlook add-in for compose mode, we use the Office JS API to fill in email fields. The setSelectedDataAsync method inserts HTML with incorrect markup.

## Expected Behavior
The setSelectedDataAsync method should work as expected.

## Current Behavior
The setSelectedDataAsync method ignores markup and produces "stairs".

## Steps to Reproduce, or Live Example
Create a new email in Outlook Onl

[2020-04-16 12:55] jive-tamaskuzdi commented on #1086
I have created a repo with description in readme:
https://github.com/jive-tamaskuzdi/outlook-regex-match-repro

[2020-04-16 14:17] Murugananths commented on #1101
Hi Team,

We were able to disable custom ribbon command initial load but not sure how to enable the same based on click event of other ribbon command event. Gone through below article also but not understanding where to call the method **enableButton()**. Can you please provide simple examples for one event with manifest configuration.

function enableButton() {
    Office.ribbon.requestUpdate({

[2020-04-16 15:04] amiram commented on #1052
It happens to me also, but only in the drafts folder. Sometimes I get the event and sometimes I don't. Even when I get the event, sometimes the mailbox.item is null.

[2020-04-16 19:16] exextoc commented on #1073
Hey @shahshyam ,

We looked into your add-in. It seems that the officeJS library files are not being loaded for your add-in. Please do include the scripts in your page to use the OfficeJS APIs and avoid this error.

[2020-04-16 19:16] #1073 closed, assigned to nobody

[2020-04-16 20:40] pb-jeff-oneill commented on #1094
I made that change to my code but it didn't fix the problem.  Same as before.  I'm not sure if I missed it before, but now `insertText ` causes this error in the console:

![Screen Shot 2020-04-16 at 5 38 44 PM](https://user-images.githubusercontent.com/55557751/79509336-50fc6280-8009-11ea-8f1d-0c880615efcb.png)

I created a new Gist that puts my `updateText` function into the Gist you previously

[2020-04-16 20:47] exextoc commented on #1099
The fix for this issue is complete and is currently rolling out. Once the update rolls out, you will can re-submit your add-in via the Partner Center and the update will take effect on your add-in.

[2020-04-16 22:31] nicheungMSFT commented on #1093
@pinetreeps Hello, could you please clarify more on the steps you took to get this error on Mac?

[2020-04-16 23:06] weshi commented on #1094
Could you try the following code and let me know what's the output in the console?

[code]

[2020-04-17 06:27] exextoc commented on #1079
Hey @stejura-sfdc , sorry for the delay. Could you please share your test account details at AdeleV@M365x834167.OnMicrosoft.com ?

[2020-04-17 09:36] pinetreeps commented on #1093
it's my step1
![image](https://user-images.githubusercontent.com/30180070/79553308-de55ba80-80ce-11ea-8669-5da9436e534d.png)

it's my step2
![image](https://user-images.githubusercontent.com/30180070/79553433-0fce8600-80cf-11ea-8ac7-97c12a771db7.png)

it's my step3
![image](https://user-images.githubusercontent.com/30180070/79553627-591ed580-80cf-11ea-83a7-4f0fdacb946d.png)
I can't see any thing i

[2020-04-17 10:46] sjkp opened #1105 "Problems with using the microsoft graph document preview functionality from outlook addin"
We are building an outlook addin that uses the MS graph API. We are trying to use the drive item preview endpoint (https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_preview?view=odsp-graph-online) But it fails, specifically when used in the addin pane. We have already posted the issues on
https://github.com/OneDrive/onedrive-api-docs/issues/1232

But since it is not gettin

[2020-04-17 13:53] pb-jeff-oneill commented on #1094
Here is the console log showing the error.  The screenshot shows the events after typing "fo" and also after "foo".

![Screen Shot 2020-04-17 at 9 51 35 AM](https://user-images.githubusercontent.com/55557751/79576312-0f16ff00-8091-11ea-8ecb-f6e2dbd0dd52.png)

[2020-04-17 15:26] weshi commented on #1094
One last try please. Please add a return keyword before the Word.run. If this still does not work, could you please try other API instead of insertText, and let's see if this is something specific to insertText or just the way that you call Word.run without return it.

I can hold a Teams meeting with you to discuss more if needed. Please suggest a time that works for you.

[code]

[2020-04-17 15:43] pb-jeff-oneill commented on #1094
Still doesn't work.  I tried a few things but nothing worked: removing 'Replace', using  `Word.InsertLocation.end` instead of 'Replace', `insertParagraph` instead of `insertText`.

How about 9am New York time on Monday for a meeting?

[2020-04-17 16:29] Bradrajkumar opened #1106 "how to publish microsoft word add-ins on my local system"
hi all,

i have created an add-ins to add in my word desktop application and i want it to be published locally.
is there any way which i can achieve the same. whenever i open my word document my add-ins will be abailable.
is it mandatory to publish my application on O365 add-ins section ??

please provide me the detailed information regarding this.

[2020-04-17 16:34] weshi commented on #1094
If other API does not work either, then this seems not specific to insertText. If you directly call any of these APIs, does it work?

At the meantime, since it works in Script Lab but not in this add-in, can I try your add-in directly? (you can share me the manifest.xml file if possible).

I will setup a meeting at 9AM your time to discuss more. I didn't find your contact information in your profi

[2020-04-17 16:45] weshi commented on #1094
I updated my Word to the latest, and tried again. Still cannot reproduce it.

<img width="300" src="https://user-images.githubusercontent.com/11494417/79593543-3364f100-810e-11ea-879d-c74cbf52afcb.png" />

<img width="300" src="https://user-images.githubusercontent.com/11494417/79593170-a5890600-810d-11ea-8681-2b6ca925a3e5.png" />

[2020-04-17 19:23] mscharlock commented on #1106
Transferring this issue to the office-js repo.

[2020-04-17 19:42] exextoc commented on #1100
Thanks for reporting this issue. We were able to repro this bug, and it has been put on our backlog. We unfortunately have no timelines to share at this point.

[2020-04-17 22:43] danielgwilson commented on #1106
Perhaps this is what you're looking for?

https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

You can sideload an Add-in which will allow it to be used locally for any document. Other users won't be able to see or use your add-in.

[2020-04-17 23:44] #1099 closed, assigned to exextoc

[2020-04-18 15:34] weshi commented on #587
The fix to make the onCalculated event fired after the custom function calculation is finished is already available in Excel Online. For the nested functions above, it's a different issue, and it should be a by-design behavior. Please create a new issue this if you think differently. Thanks.

[2020-04-18 15:34] #587 closed, assigned to RuoyingLiang

[2020-04-18 15:45] weshi commented on #1103
The fix is in rolling out stage.

[2020-04-19 01:07] weshi commented on #1094
After our offline follow-up, the root cause has been identified, and it was because the add-in has Read only permission, therefore the call to write APIs failed.

The fix is to update the manifest file, and change below line:
[code]
to this:
[code]

And then the add-in can work as expected.

However, It's worth checking the code to make sure all error conditions are handled so that it can catch an

[2020-04-19 03:27] jamesdlow commented on #884
@zakhan4, I think just because you're signed in using an Office 365 account, does not mean that your Office 2016 is activated as Office 365. It sound like you may still have your Office 2016 one time purchase as the activation license?

I've found this very frustrating though. I can't see why Microsoft wouldn't support JavaScript custom functions on Office 2016 / 2019 one time purchase licenses.

[2020-04-19 05:01] Bradrajkumar commented on #1106
suppose i am achieving this using sideload process, if i am working in an organization and want that addin to be available on every system locally. if this is possible then in how many ways i can achieve the same.

[2020-04-19 07:52] hcheg opened #1107 "Custom function formulas do not re-register automatically on add-in reload"
This is rather an inconvenience during development as it doesn't seem to be a problem when not hot reloading.

Edit: This become more apparent once I migrated to a shared runtime env and started using window.sharedState to share data vs the OfficeRuntimeStorage.

Once loaded, custom function formulas in Excel do not re-attach or re-register when the add-in runtime is reloaded (or hot reloaded duri

[2020-04-19 10:40] amiram opened #1108 "setSelectedDataAsync doesn't place the cursor at the end of the added text in outlook web"
In outlook web, adding text with setSelectedDataAsync doesn't place the cursor at the end of the added text.
## Expected Behavior

When using setSelectedDataAsync to add text, the cursor should be at the end of the added text.
## Current Behavior

When using setSelectedDataAsync to add text, the cursor is placed at the start of the added text.

## Your Environment

* Platform [PC desktop, Mac, iOS

[2020-04-19 11:30] mishu- commented on #617
Still around!

[2020-04-19 14:07] Murugananths commented on #1101
Hi team,
Any update please?

[2020-04-19 14:13] pb-jeff-oneill commented on #1094
Thanks for the help.  Much appreciated!

[2020-04-19 14:13] #1094 closed, assigned to nobody

[2020-04-19 14:57] MandytMSFT commented on #757
@hungvnguyen-kms From the official document,GetFileAsync should be supported on ipad. Could you share you code and your excel version to us ? Besides, i'd like to suggest you to create a new GitHub query in order we can handle it timely(Mixing with other query is easy to be lost :()

[2020-04-19 15:25] MandytMSFT commented on #757
@collinstowell  did you try isSetSupported check in your addin ? you can refer the official doc here: https://docs.microsoft.com/en-us/javascript/api/office/office.requirementsetsupport?view=word-js-preview
For GetFileAsync, it depends which fileType you are supporting, the requirement set mapping is here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/office-add-in

[2020-04-19 15:54] MandytMSFT commented on #757
@tiagoalves as collinstowell mentioned, this may cause by your addin running on unsupported office version. Do you have isSetSupported check in your addin ?

[2020-04-19 18:48] exextoc commented on #1086
Hey @jive-tamaskuzdi,

Thanks for the repo with repro steps. We are able to reproduce the issue, and it has been put in our backlog. Unfortunately, we do not have any timelines to share at this point.

[2020-04-19 19:02] exextoc commented on #1105
Hey @sjkp,

As I see that the onedrive team has already acknowledged this issue, can we close it on this thread?

[2020-04-20 01:40] danielgwilson commented on #1106
Ah—you're probably looking for [this](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-task-pane-and-content-add-ins-to-an-add-in-catalog) then; you can deploy your manifest to a SharePoint catalog and allow users within your organization to insert the Add-in.

Alternatively, you can also use [centralized deployment](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/ce

[2020-04-20 02:20] RuoyingLiang commented on #1107
Thanks for reporting. The feature crew will discuss the behavior and back to this thread.

[2020-04-20 02:26] exextoc commented on #1092
Hey @BenLeggiero ,

RecipientsChanged event is valid for Message Compose and Appointment Compose scenarios, while the manifest you have shared only uses MessageRead. Did you mean to use it on a compose surface?

[2020-04-20 02:39] jamesdlow commented on #256
Did anyone ever find a way around this? I'm having the same issue in Excel.

[2020-04-20 02:41] exextoc commented on #1088
Hey @jive-tamaskuzdi ,

Thanks for the precise reproduction steps. We are able to reproduce this issue, and we have put it on our backlog. Unfortunately we have no timelines to share at this point.

[2020-04-20 15:12] Murugananths opened #1109 "Deploy and test Office JS Excel add-in with http"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi Team,

1) As of now we deployed Excel add-in with ip address with https sample certified authority and tested working fine in some PC's.
2) But to test in all the system (4 to 5 us

[2020-04-20 17:01] exextoc commented on #1085
Thank you for the detailed post and taking the time to provide thorough logs. The API Office.context.mailbox.item.addFileAttachmentAsync is only intended to work with anonymous URLs. Additionally, Outlook 2013 is currently in extended support and is only fixed for security issues, so any non-security fixes will not be patched to Outlook 2013.

[2020-04-20 17:01] #1085 closed, assigned to exextoc

[2020-04-20 20:44] leonidasthelab opened #1110 "drag and copy not firing table.onChanged event in latest excel version 2002"
## Expected Behavior
In Excel version 2002, When dragging a cell vertically down to copy across a range of cells below, regardless of if there is filtering on the columns present and hidden rows due to the filtering, the data changed event for the table gets fired and we can capture the event with an event handler. Copying by dragging works with column filtering.

## Current Behavior
In Excel Vers

[2020-04-20 23:24] RuoyingLiang commented on #1107
@hcheg Currently the behavior is by design. But we will log your request. Could you try CTRL+SHIFT+ATL+F5 once you need to reload custom functions?

[2020-04-21 05:04] CameronDwyer commented on #1085
I understand your position on Outlook 2013 and not changing its behaviour. Clarification on those OneDrive URLs - I would consider them be anonymous access. The access key is a URL parameter so the calling code (Outlook host) doesn't need to do anything from an authorisation point of view other than request the given URL (the URL can be used in an InPrivate window for example). Can you confirm tha

[2020-04-21 05:21] hcheg commented on #1107
Thanks @RuoyingLiang.

CTRL+SHIFT+ATL+F5 did nothing in my case, perhaps this doesn't work on Macs?

Anyway, I have found a work around, it isn't pretty but it work; and since users won't be manually reloading the add-in, the current behaviour should be fine once deployed.

For dev, I've added a 2nd arguments to CFs where the second argument simply returns a string of random characters for "cache

[2020-04-21 08:12] lumine2008 commented on #1110
Hi @leonidasthelab, thanks for your report for this issue. I have tested this event on following versions:
- version 2004 (build 12730.20150),
- version 2005
- version 2003

This issue is not repro on above versions.
Therefore, here are some thing we could do:
1) Would you please share me your gist as well?therefore I can have a try in my side.
2) Would you please try my gist and see if you can re

[2020-04-21 08:21] lumine2008 commented on #1109
Thanks @Murugananths for your post,
I think this is the similar issue in stackoverflow, https://stackoverflow.com/questions/61322303/how-to-run-officejs-excel-add-in-application-only-in-http-based-domain-without-s

So, let me invite Mandy who engaged with you in stackoverflow to answer your follow up quesiton

[2020-04-21 09:53] lumine2008 commented on #1110
Could you please share us the screenshot of your excel version? like this? we would like to see if we can get the exactly same version to validate in our side

![image](https://user-images.githubusercontent.com/26398035/79852220-f7c17400-83f8-11ea-8e48-763559dc1cd8.png)

[2020-04-21 10:48] proloopdev commented on #1073
Hello, Same
[server.zip](https://github.com/OfficeDev/office-js/files/4509452/server.zip)
thing is loading from outlook Desktop. I used node.js and ejs template. I am attaching code here