[2016-06-30 14:03] BenjaminRichardson opened #319 "Info Icon on Mac Task Pane Apps"
My issue is related to the info icon that appears whenever the task pane is active on OSX. It is in a really annoying place for the task pane app I'm working on, blocking the main menu option. Due to consistencies with other platforms moving this menu icon is not an option. Frustratingly this info box appears in different places on Windows, Mac, and iPad. Is there any plan to allow us to change th

[2016-11-02 12:17] indieonly opened #318 "Office API 1.1 getTaskByIndexAsync gets lost if more than 10(ish) Project Tasks"
Hello,
in the Code below, my Function buildTaskHierarchy below is never called where there are more than 10-11 Tasks in the Project; otherwise it works fine. This concerns Project 2016, which is needed for Office API 1.1.

I think it is clear that the Office API Async-Calls manager is being overloaded (this is almost visible in VisualStudio debugging) and gets lost after more than just 10 calls to

[2017-02-06 18:50] carruthe opened #368 "Office.context.document.removeHandlerAsync unexpected behavior during development with live-reload"
Hi,

Thanks for a great product!  I have an issue to report:

I am currently developing an Excel Add-in.  I created the add-in using the Facebook create-react-app package from NPM and built from there.  One of the great things about that framework is that it uses the WebPack live reload feature, so whenever I make a change to my code, it is automatically recompiled and the add-in reloads itself au

[2017-06-27 08:29] darkocolak opened #315 "getFilePropertiesAsync inconsistent behavior"
Hi,
Issue is described here:
https://stackoverflow.com/questions/44718678/officejs-calls-fail-with-7000-permission-denied-for-new-file

Mind that this happens both for new files and for opened files in online apps.
Most of the errors occur when working on PowerPoint presentations where I cannot retrieve file properties in the addin almost always.

What can be the cause of this? Is file not ready t

[2017-06-28 23:01] kenual opened #1 "document.body.clear() fails with exceptions on Word Online Script Lab"
Script Lab fails to clear document body on Word Online --

Script Lab public gist link

https://gist.github.com/kenual/31548c30cfb12004177af89d44effbe0

The same script works fine inside Script Lab on Word 365 Win32 Version 1706

## Expected Behavior

After base64 file is inserted, context.document.body.clear() should succeed on Word Online just like Word on Windows.

## Current Behavior

Script L

[2017-07-04 08:18] KingHenne opened #2 "Missing TypeScript definitions for Office.context.mailbox.addHandlerAsync"
The TypeScript definitions [in this repo](https://github.com/OfficeDev/office-js/blob/master/dist/office.d.ts) and published at `@types/office-js` are missing the [documented](https://github.com/OfficeDev/office-js-docs/blob/master/reference/outlook/1.5/Office.context.mailbox.md#addhandlerasynceventtype-handler-options-callback) `Office.context.mailbox.addHandlerAsync` method as well as `Office.Ev

[2017-07-04 16:39] Zlatkovsky commented on #2
@KingHenne , thanks for bringing this up to our attention.  I will forward this on to the Outlook team, but just for reference, you can always feel free to just submit a pull request on https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/office-js/index.d.ts.  It is the "source of truth" for the TypeScript definitions, and will get merged in her automatically a short while after i

[2017-07-04 18:49] KingHenne commented on #2
I was hoping the typings for office.js are generated by the office dev team and then submitted to DefinitelyTyped. Is that not the case?

[2017-07-04 20:03] Zlatkovsky commented on #2
It is _sorta_ that case, but with a bit of an asterisk.

- For any of the "2016" wave of Office.js host-specific APIs for Word/Excel/OneNote (i.e., objects that hang off of the `Excel`, `Word`, etc. namespace), IntelliSense is 100% code-gen-ed.
- For any of the 2013 APIs, or for Outlook (which still uses the `Office.context.____Async` pattern), IntelliSense is (was) manually generated.  The d.ts f

[2017-07-07 04:53] KeyurPatel268 opened #3 "Office Add-in JavaScript FileDownload not working with MAC"
FileSaver library not work office add-ins with mac.

Expected Behavior
It should allow to us download file from word office add-ins on mac using filesaver javascript library , same as we can do with safari browser(version 10.1) with same code.

Current Behavior
We can't download file from word office add-ins on mac. it is getting error with open application dialog as in screen shot.
![stackoverflo

[2017-07-08 19:11] costashu opened #4 "Method Word.body.search() doesn't find matching texts in footnotes/endnotes"
Word documents have such a significant feature as footnotes/endnotes. In Word UI searching finds matching text in them, but method doesn't. To reproduce, use the attached document [footendnote.docx](https://github.com/OfficeDev/script-lab/files/1097705/footendnote.docx) and your sample Search (not using setup):
![image](https://user-images.githubusercontent.com/13196290/27988436-5fbe9fa2-642a-11e7

[2017-07-09 01:32] SoftTimur opened #5 "Check if Office.js is loaded outside of Office client"
I am making an application with angularjs which can be loaded in a browser as a web page or in Office as an add-in. So i load `office.js` in `index.html` for both cases. But I realise that we should not do `<body ng-app="myApp">` and `angular.bootstrap(document, ['myApp'])` together, otherwise controllers will execute **twice**. So I decided to not write `<body ng-app="myApp">` and always use `ang

[2017-07-10 07:47] KingHenne commented on #2
Fixed with https://github.com/DefinitelyTyped/DefinitelyTyped/pull/17776. Thanks!

[2017-07-10 07:47] #2 closed

[2017-07-10 16:08] AlexYovenko opened #314 "Errors processing 10-12 page document in Office 365 @office-js"
Word online almost always broken after manipulating  with big documents.

Code example:
Word.run(function (context) {
  let foundItems: Word.RangeCollection = context.document.body.search("and", { matchCase: false, matchWholeWord: false }).load('items/NoPropertiesNeeded');
    return context.sync().then(function () {
      for (var i = 0; i < foundItems.items.length; i++) {
        foundItems.item

[2017-07-18 12:27] Zlatkovsky commented on #5
Just for reference, here is the StackOverflow question that started this:
 https://stackoverflow.com/questions/44989152/check-if-office-js-is-loaded-outside-of-office-client/44989990?noredirect=1#comment76977223_44989990

[2017-07-27 13:28] mwrouse opened #6 "GetFileAsync Excel Desktop"
Currently, when you perform the following:
[code]
In Excel 2016 Desktop, inside the callback function `result` will have an error saying that this is denied due to permissions/access.

According to [this Stack Overflow answer](https://stackoverflow.com/a/30900071), this is currently not supported, which would give some meaning to the error message.

I think it is silly that this functionality work

[2017-07-27 13:37] mwrouse commented on #6
Just found [this](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/8519170-extend-the-getfileasync-functionality-to-work-on-e). Just discovered this site after finding one tiny reference to it in the office-js-docs.

[2017-07-28 14:26] ffgregormueller opened #7 "Office.context.mailbox.item is null in ViewModel "ICalendarItemDetailsViewModelFactory""
## Expected Behavior
When opening my add-in in an appointment that is displayed the the view model mentioned in the title, Office.context.mailbox.item should not be null.

## Current Behavior
When opening my add-in in an appointment that is displayed the the view model mentioned in the title, Office.context.mailbox.item is always null. I don't mean Office.context.mailbox.item or Office.context.mai

[2017-08-02 18:08] Zlatkovsky commented on #7
Adding @annich-MS from the Outlook team.

[2017-08-02 18:36] annich-MS commented on #7
Hi, are you by chance attempting to get the itemid of an appointment that you are the organizer for? Currently items that you created open in compose mode. Per the documentation [here](https://dev.office.com/reference/add-ins/outlook/1.5/Office.context.mailbox.item?product=outlook):

This means that in add-ins being run on an calendar item that you created, you must get the itemid from saveAsync.

[2017-08-02 21:42] FelipeCostaGualberto opened #8 "[Excel] getSelectedRange() error"
`getSelectedRange` throws an error if my selection is a `ChartObject`, a `Shape`, a `Picture`, an ActiveX Object or an embeded Office Addins object to name a few. Maybe there are other types too, but I don't recall right now.
My setup is Excel 365 v1706 / Windows 10, tested on ScriptLab.

I'm not sure if this is really a bug because the method name is get selected **range**, so it should throw an

[2017-08-03 17:21] annich-MS commented on #7
I'm unable to repro this myself. Is there a way you can give me a gist that repros this?

[2017-08-06 01:40] Zlatkovsky commented on #8
@kevishi , could you please take a look?

[2017-08-14 10:00] ffgregormueller commented on #7
### I've created a simple test project to reproduce this.

Host the `test.html` on [https://localhost/test.html](https://localhost/test.html) and load the add-in via the manifest (`simpleAddin.xml`).

1. Create a new mail and open the add-in (taskpane). It will write the item as `[Object, Object]` - all good here!
2. Create a new appointment.
3. Copy the itemId from the object (the object is logge

[2017-08-22 12:55] makzr opened #546 "API 1.4: Document.open function"
I 'm playing around with the new api version 1.4 (beta).
I'm wondering how I can use the new open function (https://github.com/OfficeDev/office-js-docs/blob/WordJs_1.4_OpenSpec/reference/word/document.md#open)?

I tried this but it doesn't work:
[code]

Actually the createDocument function returns a Document object! However I cannot open it :(
I get an error "Invalid Argument".

How is it intended

[2017-08-24 12:44] michahell opened #9 "Closing Office dialog with ESC while Iframe element has focus leads to bug"
Exactly as title says: when you hit escape while focusing on an element in the dialog Iframe (say, an input or select) then dialog closes. The dialog can not be opened again.

## Expected Behavior

The dialog closes, ánd emits an event with error 12006 (dialog closed by user).

## Current Behavior

The dialog closes, and does not emit anything. on top of that, reopening the same dialog shows no di

[2017-08-30 16:17] kbrandl opened #10 "importing metron.extender into TS or JSX file causes issues with Office.js API"
Logging this issue to track a bug reported by a customer in this Stack Overflow post: https://stackoverflow.com/questions/45927586/office-js-typescript-metron-extender-error.

**<u>From the post</u>**:

If you import `metron.extender` into any TS or JXS file (even if you don't use it), none of the Office API (like `Excel.run(ctx)` will work). If you trap the error, you will get something like:  `U

[2017-08-31 17:22] BizH commented on #10
We added and imported this file for some useful string functions:

https://github.com/metronical/metron/blob/master/src/metron.extenders.ts

This caused the issue. We had to remove all instances of the import to fix it.

We didn't want the entire metron library https://github.com/metronical/metron) and this in itself may have caused some inconsistencies.

[2017-08-31 21:39] kbrandl commented on #10
Thanks for the update @BizH.  Do I understand correctly that you've resolved this problem and this issue can be closed?

[2017-09-06 11:31] KingHenne commented on #5
We also need this feature. We would like to redirect to a different URL when the add-in has been loaded outside of an office client, which could for example happen when the user command-clicks on a link within the add-in.

[2017-09-06 17:51] Zlatkovsky commented on #5
OK, thanks for pinging this.  Let me re-bring it up to the team in terms of trying to get this addressed on the sooner side...

[2017-09-07 11:56] markb-trustifi opened #11 "Remove script filename check"
## Expected Behavior
The "office.debug.js" should work as a part of a large file bundle.

## Current Behavior
I concat all scripts in one bundle file "lib.js" for a traffic optimization.
Because of that the script file name validation fails:
_Uncaught Office Web Extension script library file name should be office.js or office.debug.js._

## Steps to Reproduce, or Live Example
Change the script fil

[2017-09-07 16:26] LanceEa opened #12 "Excel - Slow performance when writing data into Table"
## Summary
I'm creating a table in Excel using the new Promise based API's and inserting data into it and the performance isn't what I would have expected.

[code]
## Expected Behavior
I would expect that 2000 records would be fast and only take 1 second or so and that I would be able to insert significantly more data. We are in the early phases of developing our add-in so we are using small datas

[2017-09-08 13:05] ffgregormueller commented on #7
@annich-MS did you manage to reproduce the issue with the provided example (simpleTestForNullProject.zip)?

[2017-09-11 15:11] kbrandl commented on #10
Closing this issue, as BizH has confirmed it is resolved (see prior comment in this thread).

[2017-09-11 15:11] #10 closed

[2017-09-13 23:32] WrathOfZombies opened #13 "Improve dialog experience in OWA"
See the following issue https://github.com/OfficeDev/office-js-helpers/issues/40 for more details.

[2017-09-18 19:17] LanceEa commented on #12
## Updates

**Tested on Windows 10**

- Excel 2016 for Windows (Version 1710 - Build 8530.1000) - **6-8 seconds**

**Attempted 50k insert**

- Like I mentioned before we would like to support larger data volume.

- So, to see if it was possible I tested pushing 50k records into table. It would crash Excel and never finish.

**Chunking inserts into Table**

- I tested 50k records and broke-up the i

[2017-09-19 19:34] Hongbo-Miao commented on #12
Hi @LanceEa I am looking into this. I will try to reproduce first. If I need more info, I will let you know.

[2017-09-19 19:39] Hongbo-Miao commented on #12
Hi @LanceEa thanks for the info. I am looking into this. I will try to reproduce first. If I need more info, I will let you know.

[2017-09-19 19:42] hongbo-miao commented on #12
Hi @LanceEa thanks for the info. I am looking into this. I will try to reproduce first.
If you can provide me a repo, that will help me save some time.

[2017-09-19 20:32] kbrandl opened #14 "No stack trace info when error happens in Office JS API"
(Creating this issue per customer post in Stack Overflow:  https://stackoverflow.com/questions/46294347/no-stack-trace-info-when-error-happens-in-office-js-api)

We're getting lots of Office JS API errors in Application Insights, but they don't have a stack trace. All that we have - `The browser's same-origin policy prevents us from getting the details of this exception. Consider using 'crossorigi

[2017-09-19 21:29] LanceEa commented on #12
@Hongbo-Miao - Thanks!

Here is a Gist I created that can be used with Script Lab. I mocked data for 17 columns and 2000 records. It takes about 12 seconds which is in line with what I was seeing in my application.

https://gist.github.com/LanceEa/da13ce3f425941e43a6472c957765db6

<img width="2032" alt="screen shot 2017-09-19 at 4 27 38 pm" src="https://user-images.githubusercontent.com/8103374/30

[2017-09-19 21:38] LanceEa commented on #12
@Hongbo-Miao -
Also, I was able to test an alternative method today:

[code]
Doing it this way I was able to scale it all the way to 100k records with 20 columns and it took about 1 minute 30 seconds. 50k records was about 40-50 seconds.

This is better since it doesn't crash excel but I still feel as though that is slow...Are the timings I'm finding within Microsoft's expectations for the Office-

[2017-09-19 21:57] hongbo-miao commented on #12
Hi @LanceEa the gist is not complete. It ends at line 26854. Maybe create a repo on GitHub?

![image](https://user-images.githubusercontent.com/3375461/30617421-d644382c-9d4a-11e7-9e62-caa79875fbbc.png)

[2017-09-20 02:23] LanceEa commented on #12
Sorry about that...looks like ScriptLab or Gist doesn't like such a big file :(.

Here is a quick sample I threw together.
https://github.com/LanceEa/Excel-Table-Perf

Steps to run it:
1. Clone Repository
2. run from command-line `npm install`
3. Serve the app using the command `ng serve --ssl`

**Example 1** is the way that Script Lab and the Office-js Docs show how to create and data to a table.

[2017-09-20 04:14] Zlatkovsky commented on #12
@lanceea, on a sidenote: feel free to file the bug re. Script Lab on the [Script Lab repo](https://github.com/OfficeDev/script-lab/).  If you can include an attachment of the text file to repro the issue, that would be great.

Thanks!
- Michael

[2017-09-20 12:42] LanceEa commented on #12
@Zlatkovsky - No problem. I took a second look at it today and I do not think their is a bug but let me confirm with @Hongbo-Miao. If there is a bug I will file it in the Script Lab Repo.

@Hongbo-Miao - I took a second look at the Gist to see what the issue could be and your screenshot appears to be of the file from the Github page, correct?  GitHub will truncate large files as you can see it doe

[2017-09-20 18:43] hongbo-miao commented on #12
Thanks, I reproduced. I will have a look for the code and what we can improve.

[2017-09-22 14:26] stijnkiers commented on #6
In the office-js-docs repo they say getFileAsync is now supported in Excel for Windows desktop (https://github.com/OfficeDev/office-js-docs/issues/242). However, I am still getting the same issue.
Can someone confirm is this function is indeed available in the desktop Excel client?

[2017-09-22 14:31] mwrouse commented on #6
@stijnkiers Yes, it is at least the monthly release channel. [Release Channel Information](https://support.office.com/en-us/article/Version-and-build-numbers-of-update-channel-releases-ae942449-1fca-4484-898b-a933ea23def7)

I believe it became available in build `8326.2070`, but I only say that because I've confirmed it works on that version.

I have not confirmed that it exists in other release c

[2017-09-25 11:02] stijnkiers commented on #6
Thank mweouse, that build number really helped. With my dev subscription the latest build I could install was 8201.2193. Using the latest build from an E3 subscription (8431.2079) it indeed worked.

[2017-09-28 11:09] LanceEa commented on #12
@Hongbo-Miao - I just wanted to check-in to see if there was anything else you needed from me?

This really is a show stopper for us so and my team needs to make a decision whether we stick with the Office Addin model or go back to VSTO.

Is this performance inline with what you would expect? Is there something wrong with my code and how I'm loading data into tables? Or, is there potentially a bug

[2017-09-29 06:13] Hongbo-Miao commented on #12
Personally, I don't think your code has issue. It is a performance issue from us.

[2017-09-29 06:20] Hongbo-Miao commented on #12
Personally, I don't think your code has issue. It is a performance issue from us. If you can let us know what you are trying to achieve, maybe we can figure out a way. I will leave a contact way here tomorrow, or you can direct message me through [my twitter](https://twitter.com/Hongbo_Miao) now.

[2017-09-29 06:20] hongbo-miao commented on #12
@LanceEa Personally, I don't think your code has issue. It is a performance issue from us. If you can let us know what you are trying to achieve, maybe we can figure out a way. I will leave a contact way here tomorrow, or you can direct message me through [my twitter](https://twitter.com/Hongbo_Miao) then I send you back my email.

[2017-09-29 12:46] LanceEa commented on #12
@Hongbo-Miao - Sounds good. I sent you a follow request on Twitter. You can reach me on twitter at [my twitter](https://twitter.com/LanceAustinOG) then we can DM. I can share more details on what we are trying to accomplish.

[2017-10-05 13:50] gregor-mueller commented on #7
So no update yet?

[2017-10-11 06:17] thinksysprem opened #15 "Request: Please provide a method to get the selected Timezone's offset in calendar."
Summary: I want to get the selected timezone's offset from UTC of the calendar event.

![image](https://user-images.githubusercontent.com/18140689/31424470-15db7020-ae78-11e7-8b8f-e3d44388b640.png)

Here I want to get the Pacific Time Zone's offset but I only get the offset of the timezone I am already in.
(IST)
Expectation: Office.context.mailbox.item should have a method that gives me the select

[2017-10-13 07:22] AlonEkelund opened #16 "Selection in drop down menu in Outlook is not working"
Selection in drop down menu is not working. I have got reported from several customer about a problem in drop down menu on Office Outlook Add-ins. In our case it is iPlanner Pro. We ask some user to test on other ADD-INS and the problem was the same.

We found that it happens when using two screens. If I disconnect and are only using my laptop all works.

The problem relates to Outlook Office 365

[2017-10-14 04:43] hongbo-miao commented on #16
Hi @AlonEkelund we will start to invest this soon and return to you. Thanks

[2017-10-16 08:01] hongbo-miao commented on #16
Hi @AlonEkelund we are investing this now and will return to you if there is an update.

[2017-10-16 08:12] AlonEkelund commented on #16
Thank you. Please contact me for any informations

[2017-10-16 18:33] shawnmcdowell commented on #16
While this issue is being investigated, the simplest workaround in the time being is to use the host and add-in on your primary monitor.  If you are not sure which is your primary, open "Change display settings" and click on the numbered displays to see which one is checked as "Make this my main display".  Also, if there were display changes that occurred recently, you may need to sign out and bac

[2017-10-17 14:08] markb-trustifi opened #17 "getAsync for TO field in Compose mode returns empty array when manually entering email address"
## Expected Behavior
return email address

## Current Behavior
returns empty array when **manually** entering email address **and not clicking enter**, the address appears greyed.
returns correct value when selecting existing contact

## Steps to Reproduce, or Live Example
1) create new email
2) manually print new address in TO field. Don't select from existing contacts and don't click enter!
3) e

[2017-10-23 15:54] markb-trustifi opened #18 "5001, An internal error has occurred"
## Expected Behaviour
Update email address:
`Office.cast.item.toItemCompose(Office.context.mailbox.item).to.setAsync(recipients, callback);`

## Current Behaviour
Receive an error: 5001, An internal error has occurred

## Steps to Reproduce
It happens only when all these factors are combined together:
1) Windows 10 (Outlook for Mac is OK)
2) Outlook 365 desktop client (Outlook in browsers Chrome a

[2017-10-26 11:00] Mangemannen66 opened #19 "The "issue" of having to approve opening of a new window."
I'm using office js helpers( collection of helpers to simplify development of Office Add-ins) for a word addin that I am developing. When you open the addin in word online (office365), the authentication process starts and it opens up a small window (dialog) with the text (translated to english):

                     Templatehandler wants to open a new window

[2017-10-27 08:56] akellan opened #20 "Is it possible to change selection after setSelectionDataAsync?"
Insert any text with setSelectionDataAsync API method, text appears in a document in selected state.

Is it possible, using Office JS API (or maybe other approach), to remove selection from pasted text and place cursor at the end of the inserted text?

* Platform : PC
* Host : Word
* Office version number: 2013
* Operating System: Win 10

[2017-10-27 11:36] KirillSelyukov opened #21 "Text insertion in specific place disappear after focus back to the document"
I use MS word add in, for example Script Lab, when I try to insert text in specific position(double click anywhere in document)  and switch to document  my insertion disappears.

## Expected Behavior
Inserted text should remain on the same place and should not disappear

## Steps to Reproduce, or Live Example
- Open word
- create new document
- open Script lab add in
- double click in any place in

[2017-10-27 13:46] KirillSelyukov opened #22 "Need to use two clicks in document to make cursor active again after text insertion using add in"
## Expected Behavior

I expect to use one click to get cursor  active

## Current Behavior
Need to make two clicks to make cursor active

## Steps to Reproduce, or Live Example
- Open word
- use blank document
- With add in using shared api method setselectionDataAsync() insert text
- click on the document to focus it
- click on the document one more time to get active cursor

## Your Environment

[2017-11-01 17:12] LanceEa opened #23 "CDN Issue - Source Maps for ariatelemetery 404 Response"
Looks like the CDN version is having an issue loading source maps for ariatelemetry. I'm guessing since this a Production endpoint that we wouldn't want to load sourcemaps. But, I wanted to bring it to your attention just encase you hadn't seen it yet.

<img width="1028" alt="screen shot 2017-11-01 at 12 08 40 pm" src="https://user-images.githubusercontent.com/8103374/32287121-bfb83124-befd-11e7-8

[2017-11-01 17:20] Zlatkovsky commented on #23
Thanks!  I will pass it along to the team.

[2017-11-05 09:21] sjhstone opened #24 "Keyboard shortcut support"
## Expected Behavior
Support for key combo press (keyboard shortcut) event trigger.

## Current Behavior
Currently, we can only trigger add-in reaction by
* adding new UI component on Ribbon / side panel;
* adding selection in the context menu (right-click triggered).

## Context
Many user scenarios call for continuous and seamless environment change.

An existing example is the equation editor. I

[2017-11-05 20:13] Rick-Kirkham opened #25 "Table.sort.reapply() crashes Excel"
## Expected Behavior
Table has been sorted. User changes one or more cell values in the sort-on column, so the table rows are no longer in the proper sort order. Code calls myTableObject.sort.reapply(). The table is resorted on the existing criteria so it is again in desired sort order.

## Current Behavior
When myTableObject.sort.reapply() runs, Excel crashes. There is no error message.

## Steps

[2017-11-07 22:42] Rick-Kirkham opened #26 "Worksheet.WorksheetProtection.protect() method fails if any parameter is passed"
If the method in the title is called with a parameter, it always throws : “InvalidArgument: The argument is invalid or missing or has an incorrect format”.

## Expected Behavior
The method should protect/unprotect the sheet in accordance with the options passed in the WorksheetProtectionOptions object.

## Current Behavior
If any WorksheetProtectionOptions object is passed to the method, it throws

[2017-11-08 00:31] Zlatkovsky commented on #26
We found out about that one just a few days ago.  It's an issue that hasn't rolled to the main public yet (it's starting in October fork and in internal builds).  Good news is that we can fix this at the JS layer, so a fix is forthcoming.

[2017-11-08 23:09] Zlatkovsky opened #27 "Excel Online: tab key (for completion) doesn't work"
Pressing "tab" in the IntelliSense completion list on Excel Online switches focus out of the editor and to... not sure where.

This makes it very hard to use the editor.

Coincidentally, the other shortcuts (ctrl+space, f1 for command palette, etc.) do work.

[* Only tested in Excel Online, but I assume the other Online clients will also experience the same problem]

[2017-11-08 23:09] Zlatkovsky commented on #27
Initially found via Script Lab, but is a platform issue:  https://github.com/OfficeDev/office-js/issues/27

[2017-11-12 04:22] scemis opened #28 "How to handle slide changed event"
I need the same functionality from office.js as it was in vba to handle slide changing events.
for ex: Application.SlideShowNextSlide Event (PowerPoint)

https://msdn.microsoft.com/en-us/vba/powerpoint-vba/articles/application-slideshownextslide-event-powerpoint

PLease, could you help with that?

[2017-11-13 21:04] heydanhey opened #31 "Search method has a limit of 256 characters."
Using the javascript api, I'm searching for a sentence in a Word document. If the sentence is over 256 characters, I get an `invalid argument` error.

Is there anyway to search a document with a string that's over 256 characters?

Thanks!

[2017-11-14 14:01] sumurthy commented on #28
This event is not currently supported for PowerPoint. This may be taken up in the future; however no firm dates to share at this point.

[2017-11-14 14:45] sumurthy commented on #25
This is under investigation.

[2017-11-14 14:49] sumurthy commented on #24
Thanks for the detailed notes. Though I'm not sure how much of key stroke events can be propagated to a web add-in. Will get back...

[2017-11-14 18:58] scemis commented on #28
Thanks for your reply.

Is there way to get current slide info during slide show process (active
view mode: read)

Thanks in advance.

On Tue, Nov 14, 2017 at 9:01 AM, Sudhi Ramamurthy <notifications@github.com>
wrote:

[2017-11-15 11:42] m-sadegh-sh commented on #546
I've also faced with this issue :( What if I haven't any Office subscriptions nor Insider program!

[2017-11-15 15:49] sameera commented on #12
@Hongbo-Miao Has there been any resolution on this performance issue?
We have a use case where we'd need to write tens of thousands of rows in a table. But, even at around 500 records, we are waiting around 2mins just for the append to the table to complete. We tried both table.rows.add method as well as simply trying to write to the range. While the latter seem slightly better, the time taken for

[2017-11-15 16:46] sumurthy commented on #24
This is pretty low in the roadmap at this time. No ETA yet.

[2017-11-15 16:49] sumurthy commented on #20
I think this API should help. https://github.com/OfficeDev/office-js-docs/blob/master/reference/word/range.md#selectselectionmode-string

[2017-11-15 16:53] sumurthy commented on #19
May be you've explained it in StackOVerflow already - is the add-in opening a dialog window and you get this message prior to that -OR- does the warning dialog show up just at the start-up of add-in?

[2017-11-15 16:57] sumurthy commented on #6
The getFileAsync method was recently added to the monthly channel builds. The 2016-msi build doesn't yet have this feature. We do plan on back-porting this in Q1-2018.

[2017-11-15 17:13] sumurthy commented on #8
Hi @FelipeCostaGualberto, in this scenario, what would you expect the right behavior to be?

We don't yet support get selected table/chart/or other objects.

We did add getActiveCell API in the newer release (still in beta). https://github.com/OfficeDev/office-js-docs/blob/ExcelJs_OpenSpec/reference/excel/workbook.md#getactivecell

Would that help?

[2017-11-15 17:30] FelipeCostaGualberto commented on #8
I need a macro to easily color the background of my selection, be it a Range or a TextBox. VBA demonstration:

    Sub ColorSelection()
        Const FILL_COLOR = 6299648

        Select Case TypeName(Selection)
            Case "Range"
                Selection.Interior.Color = FILL_COLOR
            Case "TextBox"
                Selection.ShapeRange.Fill.ForeColor.RGB = FILL_COLOR
            C

[2017-11-15 18:08] Mangemannen66 commented on #19
The warning dialog shows up at the start-up of add-in.

[2017-11-15 20:25] sumurthy opened #33 "GetFileAsync() API doesn't yet work on Windows Office 2016 MSI build"
getFileAsync() allows add-ins to get base64 encoded version of the file. This API was added to Windows monthly channel build recently. However, it doesn't yet work on Office 2016 MSI build.
Ask: add this API support for Excel 2016 MSI build as well.

[2017-11-15 20:26] sumurthy commented on #6
Closing this and opened a new issue https://github.com/OfficeDev/office-js/issues/33 to track API availability on 2016 MSI build.

[2017-11-15 20:26] #6 closed

[2017-11-16 08:55] tong-1324 commented on #12
Hi @sameera , my name is Tong. I am a software engineer at Office Extestion Platform team, and I am currently investigating the performance issue you mentioned above.

Here's some quick workaround to improve the performance:
1. Use Range Object to write data, not use Table Object to insert data. Currently there's a significant overhead to maintain the table format when we try to insert/append data

[2017-11-16 09:08] tong-1324 commented on #12
Hi @LanceEa , my name is Tong. I am a software engineer at Office Extestion Platform team, and I am currently investigating the performance issue you mentioned above.

According to my colleague Sudhi, you have alreadly tried the quick workarounds I introduced to the other customer above. I know that the API performance still has not reached your expectation yet. I want to let you know that we are

[2017-11-16 11:22] sameera commented on #12
HI @tong-1324 Thank you for your response.
We already use `application.suspendApiCalculationUntilNextSync` but, have not seen much improvement with. One reason could be that we are writing the data in smaller chunks 25-100. And maybe, because of that the impact of this suspension isn't that noticeable?

As I also mentioned, we tried writing to the Range object. The Range object wasn't significantl

[2017-11-16 11:32] sameera commented on #12
I take back what I said about addRowAsync not being affected Calculated Columns behavior. It does behave the same apparently. While unrelated to the original issue @tong-1324 is there no way to turn off Calculated Columns?
Perhaps if there was a way to turn off all such table behavior until we are done, that would benefit the write performance as well.

[2017-11-16 13:34] LanceEa commented on #12
@tong-1324 - Thanks! Let me know if there is anything you need me to test.

[2017-11-16 19:16] tong-1324 commented on #12
@sameera Thanks for your feedback! Good to know that you have a temporal workaround on the perf issue.

To follow up on the questions your mention:
1. In our performance test result, tens of thousands of data write in a Range should be just one or two seconds. Writing the data in smaller chunks could be the reason in your case. There're some known performance issue when we break the data into mult

[2017-11-16 19:31] sumurthy commented on #22
Could you call a select() on a empty range (end of a range) to get around this issue?

[2017-11-17 02:11] sameera commented on #12
@tong-1324
1. Yes, most probable that it's related to chunking. We basically get the data from a REST API and basically write what we get to the sheet. More on this below.

3. You could do that from Auto Correct options in the UI. Also the behavior if you do this manually is that, Excel doesn't apply the formula you enter across the column, if you enter it manually. While the feature is a by desig

[2017-11-17 04:03] Zlatkovsky commented on #26
Fixed in the EDOG environment, will be going out to production in a week or two.
@Rick-Kirkham , if you are on corp-net, it will redirect to EDOG automatically, so the snippet should now "just work"

[2017-11-17 04:03] #26 closed, assigned to Zlatkovsky

[2017-11-17 06:14] AlonEkelund commented on #16
Is there any update for this bug? I have several customer waiting and many are complaining about this bug.  As a response for the workaround this is what an enterprise customer is saying

_"I tried this, the problem is I change my displays often from laptop only to dual monitors to multiple monitors based on the multiple locations I work from and display from.  Same for a lot of our executives as

[2017-11-17 18:44] hongbo-miao commented on #16
Sorry, from one of our team members:

I will let them reply directly here later.

[2017-11-17 19:22] hongbo-miao commented on #16
@AlonEkelund Another mail I got today:

Our own add-in also met this issue, so we will push them to fix it ASAP.
Our side, it is priorty 1 bug.

[2017-11-18 09:17] AlonEkelund commented on #16
Thank you for your response and for pushing the IE team. I do hope the IE team will prioritize this. It is a big issue and are affecting thousand and thousand off users around world. Actually it is not only the drop downlist. This IE bug is affecting add-ins in many other ways. The size/dimension is just changing randomly as you use the Add-in. This means sometimes not all content of the Add-in is

[2017-11-21 16:57] exextoc commented on #18
Thanks for reporting!
Could you please share which Desktop Outlook version you have?

[2017-11-21 17:38] exextoc commented on #17
This is expected - the API only returns recipients after they are "resolved".

[2017-11-22 02:43] cyhong commented on #16
@AlonEkelund
Can you share the build number of Office affecting the size/scaling issue specifically? You can find it from File | Account | About. We made changes of size/scaling issue regarding dynamic dpi and would like to know if it addressed that or not.

[2017-11-22 08:52] AlonEkelund commented on #16
Hi cyhong. Microsoft Office ProPlus Version 1711 - build 8730.2074 - (16.0.8730.2046) I have tested on a windows 10 pc on Outlook and Excel. It looks like the scaling issue has been resolved. I would like to test on my MAC as well and get back to you. The dropdown is still a problem.

[2017-11-22 21:35] cyhong commented on #16
AlonEkelund, thanks for the info and verification the scaling issue. As you mentioned that the build has the change of scaling fix. The hittest issue like the dropdown is still occurring though.

[2017-11-25 13:46] #28 closed, assigned to nobody

[2017-11-25 13:57] scemis opened #35 "PowerPoint Online access to slide show window"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

**Office.context.document.getActiveViewAsync** function always return 'edit' even when I run presentation slide show. Happens only in browser. (Desktop version works fine).

Presentat

[2017-11-27 17:26] lucianorabu commented on #15
+1

[2017-11-27 19:03] Rick-Kirkham opened #36 "Title of dialog does not change when user navigates to new page"
## Expected Behavior
When a user opens a dialog with our Dialog API, the dialog’s title is the of the form:
      Add-in Name [- page title from <title> tag]
If there is no text in the page’s <title></title> tag, then only the Add-in Name appears.
When the dialog redirects or is navigated to a page that has a non-blank <title></title> tag, then the part of the dialog name to the right of the hyphe

[2017-11-28 10:59] hengchengfei opened #37 "Why the page shows become big to normal?"
**Question 1:**
   When shows taskpanel or dialog, the html page size become big to normal.

![screen](https://user-images.githubusercontent.com/3182964/33316163-eef66944-d46d-11e7-8b7e-666eb887608b.gif)

**Question 2:**
   JS Warning dailog shows.

   <img width="275" alt="5" src="https://user-images.githubusercontent.com/3182964/33316152-e22fcbba-d46d-11e7-8fdd-c094b8a2b241.png">

**Environment*

[2017-11-28 19:33] FastExcel opened #38 "Need worksheet codename that persists across sessions"
Why don't we have a read-only worksheet codename that persists across sessions (like VBA)? The VBA codename is unique within a workbook and a workbook is unique within a session.
Without this JS code is vulnerable to the user changing worksheet name, and the ID property is only valid within a session so is not very useful.
In fact it would be even better to actually use the VBA Codename - it must

[2017-11-29 03:12] flyher commented on #5
I met the same issue, and this helped me.
So, when will it be fixed?

[2017-12-01 23:36] hongbo-miao opened #39 "Excel Online Office.js diagnostics version is incorrect"
Excel Online Office.js diagnostics version is incorrect

Copy from [Stack Overflow](https://stackoverflow.com/questions/47567793/excel-online-officejs-diagnostics-version-incorrect)

___
Why does OfficeJs show a different version number then the Info Screen? This also happens in PowerPoint Online but Word Online seems to be correct.

[![enter image description here][1]][1]

  [1]: https://i.stack.

[2017-12-01 23:37] hongbo-miao opened #40 "Clicking an empty href “shrink” outlook web add in"
Clicking an empty href “shrink” outlook web add in

Below is copy from [Stack Overflow](
https://stackoverflow.com/questions/47584555/why-does-clicking-an-empty-href-shrink-my-outlook-web-add-in):
____
This is part question, part bug report. To reproduce I created a new project "Outlook Web Add In (C#)" in Visual Studio 2017.

Then it generates a default project. In the default project I change:

[2017-12-04 19:36] tong-1324 commented on #12
@sameera

Sorry for the late reply. I would like to let you know that we have made some great progress on the performance issue at the past two weeks.

1. We optimized some critical part in our API pipeline, which saved more than 80% of time on average for each range write operations. We also optimized the way we manage temeporal ranges, which should let you have a better experience when you are t

[2017-12-04 19:45] tong-1324 commented on #12
@LanceEa I would like to provide some updates to you about our recent work on the performance. We optimized some critical part in our API pipeline, which saved more than 80% of time on average for each range write operations. We also optimized the way we manage temeporal ranges, which should let you have a better experience when you are trying to chunking data. We are still in the middle of testin

[2017-12-06 19:54] dylanjt commented on #11
Second this. Seems like an arbitrary check, and this really throws a wedge in a variety of dev environments (e.g. I'm using Webpack).

[2017-12-06 23:59] hongbo-miao commented on #39
Sorry for inconvenience. The reason is because different modules have slightly different version numbers and the API reports the version that matter most.
But if someone need do something based on this API version, please report back to us.

[2017-12-06 23:59] #39 closed, assigned to nobody

[2017-12-07 00:35] Zlatkovsky commented on #5
@Hongbo-Miao , FYI that an internal partner brought this up today as well.

[2017-12-07 00:40] Hongbo-Miao commented on #5
I saw a solution on Stack Overflow: https://stackoverflow.com/a/47068407/2000548
That one not help?

[2017-12-07 02:56] hongbo-miao commented on #5
Had a conversation with Michael Zlatkovsky, we are starting the new API design now.

[2017-12-07 07:04] hongbo-miao commented on #37
Hi @hengchengfei what do you mean "become big to normal"? I didn't see any size change in GIF.

[2017-12-09 02:47] hengchengfei commented on #37
@Hongbo-Miao
yes

https://user-images.githubusercontent.com/3182964/33316163-eef66944-d46d-11e7-8b7e-666eb887608b.gif

[2017-12-09 19:22] malay2012 commented on #12
Hi Tong,

I was trying to write data using Office.select('bindings#' + namedRange, function (callback) {}) and with setDataAsync(). I have 5000 rows along 30 columns and 10+ columns based on formulas. It taking more than 1 min to write data in three different sheets. Is it because of the formula we writing in the excel causing the perf issue.

Please suggest!

Thanks!

[2017-12-12 14:20] LanceEa commented on #12
@tong-1324 - Thanks for the update. Let me know once it is available and I will give it a try!

[2017-12-13 17:51] ershwetabansal commented on #5
@SoftTimur, in case it helps. I have recently added a functionality in one excel addin to be able to test it in the browser. I am initialising it in the browser by checking `typeof Office.context === 'undefined'`. Because this API will not be present in browser in case you are using Office Javascript API.

[2017-12-13 20:27] Danwakeem opened #41 "Excel - Slow performance when hiding rows"
# Summary
I am trying to hide a lot of disjoint rows in an Excel spreadsheet and it takes a while to hide all of the rows. (It is totally possible there is a better way to hide all of these I am just not sure what that would be.)

## Expected Behavior
I wouldn't have expected it to take so long or maybe I would expect a way to group a set of ranges into one action?

## Current Behavior
I loop thro

[2017-12-14 06:19] sameera commented on #41
Just a thought, would adding an extra "priority" column and applying data filter instead of hiding be a workaround in this case?

[2017-12-14 15:45] Danwakeem commented on #41
Yeah I could give that a shot. Currently I am not using a table I am just inserting the data directly into the excel spreadsheet rows so I will probably have to switch to using a table for that to work right @sameera?

[2017-12-14 19:31] Danwakeem commented on #41
Wow, I really appreciate the suggestion on this @sameera. Using tables with a data filter rather than the raw excel rows is about 10,000 times easier than trying to this the way I was doing this before. Thank you!

[2017-12-14 19:31] #41 closed, assigned to nobody

[2017-12-15 16:15] sameera commented on #41
Glad it helped!

[2017-12-18 17:08] Danwakeem commented on #12
Has anyone else tried this in Excel online?

I have a similar situation where I am trying to load 60,000+ rows into an excel spreadsheet and when I run it in the Excel client for Mac it works alright but when I run it online it doesn't insert the data into the table on the spreadsheet at all.

[2017-12-19 16:46] Danwakeem opened #42 "Excel Online - Deleting sheets doesn't always work"
It seems that deleting sheets does not always work in Excel online. It is strange because the function I have posted here works 100% of the time on the desktop Excel client and only works intermittently on Office online.

## Expected Behavior
I expected the worksheet.delete() function to always work when supplying a valid sheet when trying to delete a sheet online.

## Current Behavior
Calling wor

[2017-12-20 18:11] eblancperso opened #43 "The Office.context.officeTheme property is undefined in Outlook 2016"
The property Office.context.officeTheme is undefined when used in the Outlook application: [Official documentation](https://dev.office.com/reference/add-ins/shared/office.context.officetheme). In Word, Excel and PowerPoint, the property is defined and I can access its children properties (bodyBackgroundColor, controlForegroundColor, etc...). I tried with both latest (1.1.0.13) and previous (1.1.0.

[2017-12-27 14:26] nunocv opened #313 "SearchOptions Wildcards"
Article: https://github.com/OfficeDev/office-js-docs/blob/master/reference/word/searchoptions.md

Issue: Certain symbols/text not being captured or recognized by the search method from the body object with the wildcard option.
@ is not captured, even like this [@]
\t is not captured, even like this [\t], while \r is captured.
! is not captured, even like this [!].

If this symbols/text could be ca

[2018-01-04 01:15] TheSamsterZA commented on #40
Hello,

There is [another Stack Overflow question/answer here](https://stackoverflow.com/questions/48068924/office-add-in-viewport-size-issue) showing a similar issue for Word 2016 for Windows.

TL;DR: It looks like there's a bug in Word 2016 for Windows that affects `window.devicePixelRatio` for OfficeJS add-ins that use Angular's Router, with hash location strategy enabled. This bug does not occ

[2018-01-05 13:18] Kauser01 opened #44 "Table's worksheet/id doesn't load on certain Excel Desktop builds"
We have built an Excel Task pane add in that primarily works with tables. In few versions of Excel we get an error when we try to load tables from workbook.

## Expected Behavior
Table's worksheet/id should be loaded

## Current Behavior
Sample code to load tables from workbook:
$scope.findTables = function () {
    let tables;
    Excel.run(function (ctx) {
        let xlTables = ctx.workbook.tab

[2018-01-08 20:03] Foundasys opened #46 "[Word Online] TypeError: Cannot read property 'Element' of null (in WordEditor.js)"
When I search the Word Online template below called 'Simple resume' I get an error:
https://onedrive.live.com/embed?cid=F26A6E4F9EA8E142&resid=F26A6E4F9EA8E142%211229&authkey=AN_ljhP-Ylax418&em=2&wdStartOn=1

My code:
[code]

Error:
WordEditor.js:3303 Uncaught (in promise) TypeError: Cannot read property 'Element' of null
at wac_QWa.Jm (WordEditor.js:3303)
at wac_hM.wG (WordEditor.js:3339)
at wac_

[2018-01-09 12:10] AlonEkelund commented on #16
Any status update??? when can we expect that selection in drop down menu will wokr??? @cyhong @Hongbo-Miao

[2018-01-09 18:34] LanceEa commented on #12
@tong-1324 @Hongbo-Miao - I just wanted to check-in on this to see what the status of the fixes are? Have they been pushed into the insider-builds?

[2018-01-09 18:58] hongbo-miao commented on #16
@AlonEkelund Sorry, I don't have any timeline. But I will keep asking.

[2018-01-09 20:05] hongbo-miao commented on #12
Have given the update in the email. Please reply here for more details @tong-1324 when you back.

[2018-01-09 23:08] Zlatkovsky commented on #12
@LanceEa & @Danwakeem & @malay2012 :  In the meantime, I've found a workaround that seems to work quite well -- which involves removing the original table, writing in the values, and then re-creating the table back on top.  The only issue I can think of is that if you have *inter-column formulas* within the table, that might cause havoc.  But otherwise, please give it a try.

You can import this s

[2018-01-10 04:20] LanceEa commented on #12
@Zlatkovsky - Thanks for the snippet. That is actually how I'm doing it currently. It definitely is faster than adding/resetting the values of the table. But, once you start doing larger datasets it gets really slow. I have my add-in limited to 5,000 records for my early testers until we can test with the new fixes.

[2018-01-10 05:33] sameera commented on #12
@Zlatkovsky I can also confirm @LanceEa observation. We've been doing the same in our product for the last year. We've seen that range <-> table conversion can take up to 3 minutes when the table/range spans 20-30,000 rows.
(Our tables typically contain few formulas columns as well, which could also contribute to the latency).
It's also quite unfeasible to buffer this amount of data in memory and

[2018-01-10 07:42] AlonEkelund commented on #16
@Hongbo-Miao This is a problem. You know that we are being asked to use the Fabric UI and HTML 5. Changing this will require a lot of development and we will not be using what Microsoft recommend. There must be something we can do to push this forward. It must be a problem for many other.

[2018-01-10 07:47] Hongbo-Miao commented on #16
@AlonEkelund oh yeah I know, I will ask another team member who has more details to reply here directly.

[2018-01-10 07:50] Hongbo-Miao commented on #16
@AlonEkelund send me a mail Hongbo.Miao at microsoft.com, I can add in the thread to know what is going on.

[2018-01-10 08:04] hongbo-miao commented on #16
@AlonEkelund Ok, got your mail. I will add your in thread.

[2018-01-10 15:51] Zlatkovsky commented on #12
Yep, I totally understand.  The workaround is not meant to say that it should be a permanent solution.  We are absolutely working on finding something we can do within the product itself.  It’s just that there are actually several compounding issues that contribute to this, so we don’t have an ETA for a full solution yet.

My intent is for anyone new stumbling onto the thread to see one possible w

[2018-01-11 00:02] stephenfshen commented on #16
Glad to see this issue confirmed by the DEV team, thans @AlonEkelund  and @Hongbo-Miao . I've got the exact same issue that stopped me pushing out my add-in to PROD.  Would be nice if @Hongbo-Miao  can share the details of update.

[2018-01-11 07:11] hongbo-miao commented on #16
Hi @stephenfshen I will post here if I have more update. The team is actively trying to solve this issue now.

[2018-01-12 00:38] Zlatkovsky commented on #12
I'm happy to say that we *do* have a solution to the issue.  I don't have an ETA yet for when it will get to Insider Fast and to the general public, but I did just try the latest internal build on my laptop, and the result is *much* faster.  E.g., the snippet that I sent above, which was taking ~4 seconds to execute, now executes in 0.3 seconds.

I will keep you posted once there is something that

[2018-01-12 06:40] sameera commented on #12
Great news @Zlatkovsky ! :)
Just curious,
1) does the fix account for having formulas on the table that will recalculate on write?
2) would appending to the table in batches will also work as fast?

[2018-01-12 15:19] Zlatkovsky commented on #12
@sameera, so that I can try it out with the two parameters that you mentioned:  do you want to take my “slow” snippet and modify it to your scenario, and send it back to me?  I can then run it on my end, and check.  Thanks!

[2018-01-12 17:32] kbrandl opened #47 "GeneralException on context.sync after loading properties on Excel Online"
**_Note:_**
I'm opening this issue on behalf of a customer, who originally opened the issue in the docs repo. Since this is potentially a product bug, this issue belongs here in the **office-js** repo. Here are the related issues that the customer logged in the docs repo:
- https://github.com/OfficeDev/office-js-docs/issues/1229
- https://github.com/OfficeDev/office-js-docs/issues/1283

-------

E

[2018-01-13 22:49] magnusdanielson opened #48 "There is an error “Mismatched anonymous define() module” when using Requirejs and Office.js"
In my Word AdIn I load two javasript files:
1. office.js
2. mybundle.js, includes requirejs
In mybundle.js I use requirejs to load modules from my bundle. In most cases the error is thrown when the add in loads.
![image](https://user-images.githubusercontent.com/12081481/34910515-748a2858-f8b7-11e7-8776-ceda9b72ac36.png)

## Expected Behavior
I expect office-js not to interfere with using requirej

[2018-01-14 00:37] Zlatkovsky commented on #48
Thanks for reporting!  We actually had a discussion recently about aria-web-telemetry, so your report is well-timed.  I will being it up to the team.

[2018-01-14 15:44] markb-trustifi opened #49 "Office.context.mailbox.item.internetMessageId is empty"
## Current Behavior
When sending emails from Windows 7 Outlook 2013 and opening in the same Outlook the "Office.context.mailbox.item.internetMessageId" is empty.

When sending emails from Outlook Online and opening in Outlook 2013 on the same PC it is OK.
When sending emails from Outlook 2013 and opening in Outlook Online on the same PC it is OK.
When sending emails from any other outlook and open

[2018-01-14 15:53] markb-trustifi commented on #18
Outlook 2016

[2018-01-14 15:53] markb-trustifi commented on #18
It started working now

[2018-01-14 15:53] #18 closed, assigned to nobody

[2018-01-16 18:57] eblancperso opened #50 "The Office.context.officeTheme.controlForegroundColor has a typo (in typings)"
The office-js typings file has a typo in the interface's property

## Expected Behavior
In the interface OfficeTheme, the property should be spelled "controlForegroundColor"

## Current Behavior
The property is spelled "controlForgroundColor"

## Steps to Reproduce, or Live Example
Open the index.d.ts file and go to line 247. The property is spelled "controlForgroundColor" instead of "controlForeg

[2018-01-16 19:06] Zlatkovsky commented on #50
Thanks for reporting.  Just submitted it as a fix on DefinitelyTyped.  Closing here.

[2018-01-16 19:06] #50 closed, assigned to nobody

[2018-01-18 05:59] sameera commented on #12
@Zlatkovsky Please see https://gist.github.com/sameera/9c71b79aa354a4724da4a897d2d254c3
You can simulate the batched-writing by clicking on the Issue or Workaround buttons repeatedly.

I didn't really see a performance drop due to formulas. But you'll see the appending being extremely slow.

[2018-01-18 13:04] nunocv commented on #47
Made a simple Test.
This:

                $scope.test = function () {
                    Excel.run(function (context) {
                        var ws = context.workbook.worksheets.getActiveWorksheet();
                        var cel = ws.getCell(1, 1);
                        cel.load('columnIndex');
                        return context.sync().then(function () {
                            v

[2018-01-18 16:07] alx-andru commented on #40
Hey,
any updates on this? I'm facing the same issue

[2018-01-18 20:19] Zlatkovsky commented on #47
@forlemon , thanks for showing the code sample.

I ran it in Office Online using [Script Lab](https://aka.ms/scriptlab), and it worked fine.  So I'm guessing that it's not a framework bug per se, but rather the way that you're hooking up Angular.

It sounds somewhat akin to the issue described in https://stackoverflow.com/a/44118441/678505.  Do you have an "Office.initialized()" somewhere on the p

[2018-01-18 22:05] alx-andru commented on #40
@TheSamsterZA try using **skipLocationChange**
`<a routerLink="/dashboard" [routerLinkActive]="['active']" skipLocationChange>`

This prevents the physical route to change and prevents the devicePixelRatio change.

[2018-01-18 22:37] TheSamsterZA commented on #40
Hey @alx-andru this sort-of works, thanks! The problem is, the very first navigation (the one that loads my add-in) causes `window.devicePixelRatio` to decrease, while subsequent navigations (using Angular's Router and `skipLocationChange`) do not.

To summarize, it appears that having a `#` (hash) in the URL AND updating the push state of the browser's history causes `window.devicePixelRatio` to

[2018-01-19 15:39] nunocv commented on #47
Yes I have an  "Office.initialized()".
I've even put it like this:

[code]

And it still throws GeneralException after this line "return context.sync().then(function () {"
I couldn't make it even work on ScriptLab, no results and no console errors or message.
But sideloading the add in, and executing that function on a simple button, throws the error once again.

[2018-01-19 16:38] Zlatkovsky commented on #47
In Script Lab, you don't need an Office.initialize.  Having one would actually throw Script Lab off.  Script Lab is meant as a simplified playground, where you only need to write in the "interesting" bit of code -- whereas we take care of the backend infrastructure.

Just to check:  if you had only the inner code in Script Lab, does it work for you in Office Online?

        $('#test').click(funct

[2018-01-19 16:48] nunocv commented on #47
It throws an error saying the values property is not loaded
It shows this output(it's in portuguese though):
[code]

If I load the property it just doesn't do nothing, no change on the cell (2,2) and no message on the console.

[2018-01-19 16:55] Zlatkovsky commented on #47
Ah, right.  Sorry, this code is different from what you'd once had, though :-)

Instead of `a.values[0][0] = txt`, you need `a.values = [[txt]]`.  There is something special about array-handling in particular, where you have to set the *entire* array at once, not piece-meal.  More info here:  http://buildingofficeaddins.com/array-properties/.

Try it now with `a.values = [[txt]]`

[2018-01-19 16:59] nunocv commented on #47
It worked on ScriptLab!
But the same function in the context of the Add-In, this happens:
![image](https://user-images.githubusercontent.com/26458114/35162117-2c5e6dfa-fd3a-11e7-9188-4d0d940b9824.png)

It does not it the breakpoint.
But this does not happen on Desktop Excel

[2018-01-20 03:01] hongbo-miao commented on #40
The fix was released on 1/18/2018. Might take a while to see it.

[2018-01-20 03:11] Zlatkovsky commented on #47
I am not sure what is happening.

If you can create the absolute minimal repro project, I can try to take a look.  By minimal, I mean something that has little extraneous stuff, and where I can just do a simple "npm install" "npm start" or equivalent to run it locally.  It seems like it's something in your hookup between your framework code and the Office code, but I can try to help if I see the f

[2018-01-20 04:01] TheSamsterZA commented on #40
@Hongbo-Miao what version number for Word 2016 would contain this fix?

[2018-01-20 05:32] Hongbo-Miao commented on #40
I am looping correct PM and engineer to answer here.
I am not the owner of this. I simply help create the issue in the beginning.

[2018-01-20 05:34] hongbo-miao commented on #40
Sorry, I am not the owner of this. I simply help create the issue in the beginning. I don't have the full status of this. I have to ask the team and then answer here.
I am looping correct PM or engineer to answer here directly.

[2018-01-21 15:07] alippai opened #51 "Using Excel/Word/PowerPoint file programmatically"
Is it possible, to write a plugin for PowerPoint, where I can select an Excel file and read the range values given the base64/blob?

I'd like to generate PowerPoint slides based on Excel (without external tools or VBA macros)

[2018-01-21 15:21] Zlatkovsky commented on #51
@alippai , this sounds more like a question, not an "issue" per se.  Do you mind asking it on https://stackoverflow.com/tags/office-js, and posting a link back here for reference?

[2018-01-21 15:21] #51 closed, assigned to nobody

[2018-01-21 22:39] alippai commented on #51
Well, this was more like a feature request. AFAIK I can't construct an Excel contect/object/document and use the API on it.

I'm not sure this is something matching your architecture and designs or this is "won't fix", so that's the question part.

[2018-01-22 02:07] Zlatkovsky commented on #51
I don't want to be pedantic about it, so I hope I'm not scaring you off from asking questions, or raising issues and feature-requests, in the future.  But for this particular one, there actually *is* an answer (or at least, a possible workaround) -- and if there are elements of it that are not addressed by the workaround (which will probably also be the case), though might turn into a *series* of

[2018-01-22 14:57] ndeeH commented on #48
Hi @Zlatkovsky , my add in just was rejected by the store validation because of this error!
On Windows clients we get this error from time to time depending on load timings of the dependant modules (a reload mostly does load the add in properly).
On Mac clients the loading of modules seems to be different and the store tester does not get the app to start (require.js missmatch error).
So PLEASE na

[2018-01-22 15:30] Zlatkovsky commented on #48
@weird-dreams , let me re-ping one of my colleagues, who might be able to help with this.

[2018-01-22 17:49] kbrandl opened #52 "TableCollection.add(...) fails if Range object is passed as first parameter (Office 16.0.4639.1000)"
***Note***: I'm opening this issue per a customer's post in Stack Overflow:  https://stackoverflow.com/questions/48347650/converting-an-excel-range-to-a-table/48348868.

## Expected Behavior
Passing a Range object as the first parameter when calling the [TableCollection.add](https://dev.office.com/reference/add-ins/excel/tablecollection) method should work on all platforms that support Excel API R

[2018-01-22 19:06] Zlatkovsky commented on #52
First off:  apologies for the issue.
It looks like our documentation (unlike the IntelliSense) omits the rather important "fine-print" of:

![image](https://user-images.githubusercontent.com/2230453/35239149-7f6bcf84-ff64-11e7-8f4e-fd4f912944f7.png)

Let me check with our content team if they can get this fixed for the short-term.  In the longer-term, there's an effort underway to source the comme

[2018-01-22 19:08] #52 closed, assigned to nobody

[2018-01-22 19:33] briwilcox commented on #40
I'm not the owner but I'm the original filler of the issue on SO. Thanks for looking into this.

[2018-01-22 19:34] Zlatkovsky commented on #40
The fix *should* be in build `16.0.9019.1000` or greater.  Historically-speaking (just looking at the stats of previous builds), that should put it into the *Insiders channel (formerly called Insider Fast)* within ~3 weeks.  And then another 2-3 weeks before it makes it to *Monthly Channel (Targeted) (formerly called Insider Slow.)*, and another couple weeks more before it makes it to the main "cu

[2018-01-23 01:04] kbrandl opened #53 "Calling ContentControl.insertParagraph() and setting ContentControl.placeholderText result in errors in Word Online"
**_Note:_** Opening this issue per customer-reported issue logged here: https://github.com/OfficeDev/office-js-docs/issues/1284.

## Expected Behavior
* Calling the `ContentControl.insertParagraph()` method should work on all platforms that support Word API Requirement Set 1.1, including Word Online.
* Setting the `ContentControl.placeholderText` property should work on all platforms that support

[2018-01-23 10:21] nunocv commented on #47
I've created a Visual Studio Excel Add In project that only has this html and this javascript. Published it on a server and ran the Manifest on excel Online. Same exception:

[code]

[code]

[2018-01-23 17:13] Zlatkovsky commented on #47
I reached out for someone on our team to help investigate.

[2018-01-23 17:14] Zlatkovsky commented on #47
(For the record, for internal folks:  this is ICM issue 57542289)

[2018-01-23 19:26] dinkom opened #54 "Automatic OneDrive saving breaks online Word if a ContentControl exists"
Automatic OneDrive saving breaks online Word if a ContentControl is inserted through Office.js. Until circa Jan 18 2018, the same code worked fine both online and on desktop.

## Expected Behavior
Expected behavior is not to break online Word when inserting content through Office.js.

## Current Behavior
After inserting a ContentControl through Office.js code, online Word breaks: error message pop

[2018-01-23 19:57] kbrandl commented on #52
The docs have been updated with this info:  https://dev.office.com/reference/add-ins/excel/tablecollection.

[2018-01-23 20:25] kbrandl commented on #54
@dinkom  -- thanks for logging this issue here for the product team.  FYI, I've edited the **Steps to Reproduce...** section to add a link to a Script Lab gist that anyone can use to repro the issue using Script Lab and Word Online.

[2018-01-24 04:02] Andrew-AnalysisPlace opened #55 "chart.getImage() on Mac issue - image is offset or blank"
I use chartObject.getImage() to get images of Excel charts so they can be displayed in Word and PowerPoint. I have been doing this for months and it works great on Office for Windows. I recently discovered (via customer complaints) that there are issues when getImage is done on Excel for Mac.
getImage() in Excel for Mac always seems to offset the chart image. Often the chart is not visible at all

[2018-01-24 06:22] AlonEkelund commented on #16
Hi any update? I just got a new complaint from a potential customer. I do hope for a solution soon, I am loosing cases.

Thanks

[2018-01-24 06:59] hongbo-miao commented on #16
hi @AlonEkelund contact Jeremy Yoo directly through email might help.

[2018-01-24 07:38] hongbo-miao commented on #16
@AlonEkelund Sorry for cannot help move this forward, I won't have any update from our team for this issue in the future. Please ask Jeremy Yoo for future update. You have his mail.

[2018-01-24 07:42] AlonEkelund commented on #16
@Hongbo-Miao Hongbo thank you I will

[2018-01-24 14:52] LanceEa commented on #12
@Zlatkovsky @tong-1324  - I'm just checking back in to see how this work is going?

Also, which host will gain from these perf enhancement? Excel Online, Windows, Mac, or All? The reason I ask is because a majority of our initial users will be leveraging Excel Online because unfortunately our IT org hasn't rolled out Windows 10/Office 2016 yet.

[2018-01-25 15:44] saferoombiz opened #56 "getBase64ImageSrc() returns undefined on Word IPad"
## Steps to Reproduce, or Live Example
[code]

* Additional details:
  1. https://stackoverflow.com/questions/48423914/how-to-get-a-base64-representation-of-a-selected-image-in-word-for-ipad

## Context
I am having a problem with getting the selected image on Word iPad within the Addin I am developing. This code above works perfectly in Word for Windows, Word Online and Word for Mac, but it doesn'

[2018-01-25 17:46] kbrandl commented on #56
@saferoombiz -- thank you for reporting this issue.  (@JuaneloJuanelo -- can you please look into this potential issue with the API and respond to the customer?)

[2018-01-25 19:44] JuaneloJuanelo commented on #56
hello we are investigating this issue. thanks!

[2018-01-25 19:56] JuaneloJuanelo commented on #54
Thanks for reporting this, we are investigating.

[2018-01-25 19:58] JuaneloJuanelo commented on #53
thanks for reporting this we are investigating this issue.

[2018-01-26 02:33] weidezhong-zz commented on #12
The improvement we are working on will be available on all platforms. You will likely get it for online sooner than other platforms as online has a faster release cadence.

[2018-01-26 03:00] weshi commented on #53
Currently it's not supported for conversion of inline content controls (content controls within a paragraph) to block content controls (content controls encompass one or more whole paragraphs) in Word Online API. You can only call it for block content control for now. The conversion is under development and will be available soon.

Set content control placeholderText is not allowed currently, whic

[2018-01-29 00:59] deinspanjer commented on #12
Has the general performance been tested on other platforms such as Mac?

I've got a use case where I'm trying to generate between 200 and 1000 rows with about 65 columns.  I am frequently getting errors or crashes or on a good run, it takes 2 minutes with one core pegged at 100% CPU.

I have tried modifying the code to convert the table to a range as shown above, removed formulas, removed styling,

[2018-01-29 01:55] deinspanjer commented on #12
I just tried it on a little ThinkPad, and the performance is *significantly* better than the Mac, even though Excel is only 32bit on Windows. :/

Also, it appears that the workaround above doesn't work at all if the table has structured references in it.  Is this something that will continue to be a problem after the improvement you are releasing?

[2018-01-29 18:32] weidezhong-zz commented on #12
The general performance improvement is not targeting any specific platform. It doesn't block any specific feature such as structured references either. Although Mac and Win32 are sharing the same code, the builds between the two platforms are not always fully sync'd, which may explain why some Mac builds are slower than the Win32 builds. In the end, we expect the two platforms to be fairly close i

[2018-01-30 02:00] sameera commented on #12
@weidezhong Have the improvement been tested against the ScriptLab Snippet I posted above. I'm curious to know the outcome :)

[2018-01-30 03:01] weidezhong-zz commented on #12
@sameera Yes, the improvement is slightly more effective than the workaround.

[2018-01-30 09:11] IanPearce commented on #48
Hi
Any news on this or a beta version, I am currently using 16.0.9010.1000 and I get exactly the same issue.
Kind regards
Ian

[2018-01-30 09:17] ndeeH commented on #48
@Zlatkovsky Please set a named define in the **aria-web-telemetry.js**  to avoid those work arounds!!!
The work around described by @magnusdanielson also has performance issues on caching.

[2018-01-30 11:25] nunocv commented on #313
Is there any news regarding this?

[2018-01-30 11:26] nunocv commented on #47
Is there any news regarding this?

[2018-01-30 19:09] trmini commented on #48
Hi @weird-dreams and @magnusdanielson,

We have a proposed fix that I would like to verify myself. However, I can't repro the issue in the first place. Is this possible if you can send me the test bundle that repro the issue? I tried to reference office.js via script tag and load it using require.js but neither case repro. Perhaps, I didn't have the same loading sequence to trigger the conflicts,

[2018-01-30 20:12] ndeeH commented on #48
@trmini I will send you a mail with manifest files to reproduce.

[2018-01-30 21:14] magnusdanielson commented on #48
@trmini I have sent you my manifest.

[2018-01-30 22:18] trmini commented on #48
Thanks @weird-dreams and @magnusdanielson. I was able to repro and verify the fix using your samples. I will work on getting it deploy in the next few weeks.

Thanks,
Trang

[2018-01-31 03:29] Kaidali commented on #46
Hi, thanks for telling us about this issue. But I tried with your code, it give me correct search results.
So can you please provide more information about the error you got? Do you run this code with other functions? Thanks.

[2018-01-31 06:27] ndeeH commented on #48
Thank you @trmini . Good job!

[2018-01-31 07:04] phtai commented on #47
@forlemon I have tried your simplified code on Excel Online, but cannot repro the issue. The snippet completes successfully without any exceptions.

I wonder if you could give us more details about it?

![image](https://user-images.githubusercontent.com/35979655/35609346-c5a1bbfe-0611-11e8-98ef-ac592cd68b8b.png)

Normally, by executing the simplified snippet you gave, it will send in a couple of r

[2018-01-31 12:43] nunocv commented on #47
CorrelationId: "09c326b9-b646-407d-82a1-89b5cbe13bfc"
![image](https://user-images.githubusercontent.com/26458114/35623646-43e42282-0684-11e8-95c3-8eb827de55c5.png)
![image](https://user-images.githubusercontent.com/26458114/35623654-492f1ab2-0684-11e8-90b8-04aaf6d14bdc.png)

[2018-01-31 17:47] Foundasys commented on #46
Hi, I'm running the code in Google Chrome and use Cloud9 IDE to code in.

I will try Visual studio code and see if the error persists.
When running (just the code and nothing else) the code I also get the correct results but then the error.

Google Chrome:
![image](https://user-images.githubusercontent.com/6333708/35638427-5ec0cc1c-06b7-11e8-9199-24cf5acb1337.png)

Edge:
![image](https://user-imag

[2018-01-31 18:07] JuaneloJuanelo commented on #313
Can you explain in more detail what are you trying to search? if you want to find the '@' symbol you can do so without using the wildcard marker. If you can send a few samples of what you are trying to find will be helpful. Note that at the end of the referred article we describe how to deal with escaping special characters.

[2018-01-31 18:12] nunocv commented on #313
I want to find this [@!$#][{]*[}][\t]
Is this wildcard wrong?

[2018-01-31 18:15] Foundasys commented on #46
Just searching for the word 'the' for example results in no errors. Maybe it's the wildcard option?

[code]

[2018-01-31 19:10] JuaneloJuanelo commented on #313
thanks! what is the original string you are expecting to be found?

[2018-01-31 19:15] nunocv commented on #313
This per example:

"@{title=${Key}|href=${BaseURL}/browse/${Key}}\r\t${qrcode(‘Hello World’)}\r\t!{URL}\r\t"
Resulting in 3 strings
@{title=${Key}|href=${BaseURL}/browse/${Key}}\r\t
${qrcode(‘Hello World’)}\r\t
!{URL}\r\t

[2018-01-31 19:18] JuaneloJuanelo commented on #313
the \r \t are literal or are actual line breaks/tabs in the document?
can you attach a sample doc?

[2018-01-31 19:21] JuaneloJuanelo commented on #313
also please add what platform are you using and Build number. thanks!

[2018-01-31 19:21] nunocv commented on #313
Here you go!
[TestDoc.docx](https://github.com/OfficeDev/office-js-docs/files/1682978/TestDoc.docx)

[2018-01-31 19:22] nunocv commented on #313
The most recent Word 365, can't say the build number because I swapped it for 2016 pro to test other stuff.

[2018-01-31 22:38] codexeon commented on #55
This will be fixed in the 16.10 February release of Mac Excel.

[2018-02-01 03:47] TheSamsterZA commented on #40
Hello @Zlatkovsky, I have given this a go on:

[code]

and can confirm that the issue has indeed been fixed! 🎉 Thank you so much!

If my math is right, then the fix should trickle down to the main / current channel in March / April 2018, correct?

[2018-02-01 04:18] Zlatkovsky commented on #40
Glad it worked!

The fix is going to be part of the "January fork" (i.e., `16.0.9029.XXXX`).  So yes, historically-speaking from looking at previous build stats, it will probably be late February by the time it's on Insiders (formerly "insiders slow"), and mid-March for the current channel.  (All guesstimates, of course).  But yes, it is heading your way :-)

Best!
~ Michael

[2018-02-02 20:18] LanceEa opened #57 "Excel For Mac - Manifest parsing doesn't properly handle urls with # style routing"
## Expected Behavior
I have Angular 5 application that uses # (hash urls) for routing. I would expect that I could have two command bar buttons in the ribbon that open up two different side panels. The first command button would use the root for my web application. The second command button points to a deep-linked route for the same web application (same angular application).

Command Button 1 -->

[2018-02-05 20:21] phtai commented on #47
@forlemon Thank you for your response. We found this is likely to be a bug in the Office Online. We are working to get it fixed.

[2018-02-06 20:28] alx-andru commented on #54
Are you seeing this message?
I'm encountering the same issue and was first wondering if it was my own addin causing it or not.

I was running Chrome (Version 63.0.3239.132 (Official Build) (64-bit)) and Windows 10

![scriptlab](https://user-images.githubusercontent.com/19511694/35882438-314d2ea2-0b52-11e8-915d-6e97abd25426.png)

[2018-02-06 21:12] dinkom commented on #54
@alx-andru yes, that is the same message I am getting.

[2018-02-07 12:41] LanceEa commented on #57
@Zlatkovsky @sumurthy - Can  either of comment on this? Is this a known issue?

Let me know if there is a better place to report this type of error!

[2018-02-07 17:45] scrapoxy opened #58 "Authentification Roadmap"
Hello,

I don't know if it is the right place to ask this question :)

Do you know if there is a roadmap around Microsoft SSO authentication (https://login.microsoftonline.com)?

We need to know if the page is modified because many of our developments are based on this authentication (a robot fills in the login and the password).

Thanks,
Fabien.

[2018-02-07 18:00] sumurthy commented on #57
This [thread](https://stackoverflow.com/questions/47683237/unable-to-post-form-from-excel-2016-for-mac-or-excel-for-ipad/48101382#48101382) may be relevant for this issue.
I'll check with Mac experts and get back.

[2018-02-07 18:27] Rick-Kirkham commented on #58
I'll see if I can get some information about that page and report back to you. This probably isn't the place to ask this question, but I don't know what would be.

[2018-02-07 20:03] mlafleur commented on #58
As a heads up,  this is a risky dependency to take.  The UI presented by `login.microsoftonline.com` during [Authorization Code](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code) and [Implicit](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-dev-understanding-oauth2-implicit-grant) OAUTH flows is indented to be i

[2018-02-07 21:25] Rick-Kirkham commented on #58
I was not able to find who owns the page, but I agree with @mlafleur anyway. Web pages change without warning. If you create a robot to interact with a form, you are taking on that risk.

[2018-02-08 07:45] arielgordon commented on #58
Hi, Ariel here from Microsoft's identity division. My team owns Microsoft's sign-in experiences (both personal and work/school accounts).
@fabienvauchelles ,the best way to learn about upcoming changes is to check out our team blog here: https://cloudblogs.microsoft.com/enterprisemobility/?product=azure-active-directory. Major changes are also typically announced on the Office 365 service dashboar

[2018-02-08 09:35] IanPearce commented on #48
Hi @trmini , any news on it going out?

[2018-02-08 10:25] saferoombiz commented on #56
Hi, any updates? :)
We're working on the Encryption AddIn for Microsoft Word and this bug is a stopper for us because we cannot put the Addin into Office store without having it operational on all platforms.

Thanks in advance

[2018-02-08 11:51] scrapoxy commented on #58
Hello @mlafleur @arielgordon ,

We made a Skype For Business connector (which support HTML) and we need a specific auth.
I've replaced our robot login for microsoft login on account with '@xxxx.onmicrosoft.com' with the 'Resource Owner Password' grand (thank @mlafleur !!!). However, I need to keep the old one when MS is redirecting on a SSO provider (like Okta).

Thanks !
Fabien.

[2018-02-08 11:51] #58 closed, assigned to nobody

[2018-02-08 17:30] mlafleur commented on #56
While not a solution to the underlying problem, you _can_ publish an Add-in to the Store without supporting iPad by unchecking the `Make this add-in available in the Office add-in catalog on iOS` option in the [Seller Dashboard](https://sellerdashboard.microsoft.com/ ).

[2018-02-08 17:42] Zlatkovsky opened #59 "window.location.href stopped working recently on Excel for Mac?"
Opening bug based on a Stackoverflow thread: https://stackoverflow.com/questions/48681380/window-location-href-stopped-working-recently-on-excel-for-mac

In a Javascript based Excel add-in, it navigates to a third party oauth sign-in page using the following code:
     window.location.href = "https://app.hubspot.com/oauth/authorize";

It has been working well on Excel rich client on Mac (version 1

[2018-02-08 17:48] tong-1324 commented on #59
It might be relevant to this issue: https://github.com/OfficeDev/office-js/issues/57

[2018-02-08 21:46] trmini commented on #48
Hi @IanPearce, we deployed the update to our test environment but was behind some unrelated changes before we can get to production CDN. In the mean time, you can test out the fix by referencing the Office.js here: https://appsforoffice.edog.officeapps.live.com/lib/1.1/hosted/office.js

Thanks,
Trang

[2018-02-09 04:32] Andrew-AnalysisPlace commented on #55
I tested and It has been fixed in 16.10.

[2018-02-09 04:32] #55 closed, assigned to nobody

[2018-02-09 05:40] coffeeocean commented on #59
FYI - unlike issue #57 , there is no "#" character in my manifest XML file.

[2018-02-09 06:22] weshi commented on #54
Could you try it again? This should be fixed now.

[2018-02-09 06:35] ndeeH commented on #48
Hi @trmini, double checked your fix in our app - it works!
Could you please notfify me, when I can remove the work around?
TIA, Andi

[2018-02-09 10:51] roebuk opened #61 "Data collection from office-js"
Hi,

I've noticed that when I include the script for the office integration a POST request is sent to the following address https://browser.pipe.aria.microsoft.com/Collector/3.0/?qsp=true&content-type=application/bond-compact-binary&client-id=NO_AUTH&sdk-version=AWT-Web-JS-1.1.1&x-apikey=db334b301e7b474db5e0f02f07c51a47-a1b5bc36-1bbe-482f-a64a-c2d9cb606706-7439&client-time-epoch-millis=15180000101

[2018-02-09 11:12] IanPearce commented on #48
Hi @trmini , I just checked too, it loads perfectly now, can you post on here when it goes live?
Thanks for your help
Ian

[2018-02-09 14:47] craftytrickster opened #62 "Remove CDN Dependency and make NPM module self sufficient"
Many of the office-js tutorials online recommend using the script from the CDN  as seen here:
[code]
Using a CDN is not an option for us, because we need everything to be self contained with no external network dependencies. Unfortunately, when we try to require this NPM package inside our project, the network traffic shows that the package still makes the same CDN calls to your hosted files (defe

[2018-02-09 17:51] Zlatkovsky commented on #62
Could you show a Fiddler trace?  What is the file that you see it reaching to the CDN for?

[2018-02-09 18:50] Zlatkovsky commented on #61
Adding @trmini.  And also @kbrandl and @Rick-Kirkham to make sure this is documented (if it's not already)

[2018-02-09 18:58] yuliasavinkova commented on #62
On my set up I have many failed requests to the following locations in the network tab:
https://static2.sharepointonline.com/
https://telemetryservice.firstpartyapps.oaspapps.com

[2018-02-09 19:04] craftytrickster commented on #62
Even running the most basic setup possible and trying to include the office.js entry file fails, with the same outgoing requests as @yuliasavinkova

For example, if you replace the script tag in the below microsoft tutorial with your `node_modules/@microsoft/office-js/dist/office.js` file, it still fails.

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-get-started-react

[2018-02-09 19:06] yuliasavinkova commented on #62
It also requires us to manually copy this files to the build (since office.js tries to locate them) and even after all this it errors in excel:
@microsoft/office-js/dist/office.debug.js
@microsoft/office-js/dist/en-us/office_strings.js
@microsoft/office-js/dist/ariatelemetry/aria-web-telemetry.js
@microsoft/office-js/dist/excel-win32-16.01.debug.js

[2018-02-09 19:40] Rick-Kirkham commented on #61
I'll created a VSO item for this work. For MS internal folks only: https://office.visualstudio.com/OC/_workitems/edit/2141899

[2018-02-10 02:57] dsaunders45459 commented on #59
There was a change that caused Mac to be more strict on app domain format, iOS is also using this same validation for some time. If you remove the last "/" character in your app domain, the navigation should work.
<AppDomain>https://app.hubspot.com</AppDomain>

[2018-02-11 08:04] coffeeocean commented on #59
I removed the ending '/' in the manifest and it solved the problem.  Thanks!

[2018-02-12 11:08] dinkom commented on #54
@weshi I just tried it and it works fine :)

[2018-02-12 17:20] zelliott opened #63 "IE11: SVGElement doesn't support property or method focus."
Method `focusToNextTabbable` in `excel-web-16.00.js` needs to check if method `focus` is defined before calling `focus()`.  In IE11, calling `focus()` on an `SVGElement` throws: _Object doesn't support property or method “focus"_.  This exception prevents the user from tabbing through the DOM.

## Expected Behavior

Attempting to tab through SVG elements should not throw exceptions

## Current Beh

[2018-02-12 23:21] brasten commented on #57
Are there any updates on this? We're seeing the same issue here. Thanks!

[2018-02-13 00:36] Zlatkovsky commented on #63
@zelliott , to clarify:  your issue seems to describe IE11, but the very first sentence mentions `excel-mac-16.00.js`.
Did you mean https://appsforoffice.microsoft.com/lib/1/hosted/excel-win32-16.01.js (and its correponding https://appsforoffice.microsoft.com/lib/1/hosted/excel-win32-16.01.debug.js as the nonminified version) instead?

[2018-02-13 01:31] zelliott commented on #63
@Zlatkovsky Whoops- I edited the post above.  I meant `excel-web-16.00.js`.

[2018-02-13 22:13] Zlatkovsky commented on #63
@zelliott , it sounds like you have an example app that exhibits that behavior?  could you give a link to it (or to a minimal repro thereof)?

Also, can you describe the exact sequence of how you are hitting this exception?  Is it that you're tabbing through elements on your add-in, and when you hit an SVG element it throws the error?
Does it look like the error is just a "side effect", or does it

[2018-02-13 22:20] Zlatkovsky commented on #62
I think there are two things under discussion here:

1. Are there outgoing request?  Answer seems to be "yes".

2. Should you be able to copy the `office.js` file directly to somewhere, in the absence of the other surrounding files?  The answer to that is *NO*, you have to copy the whole directory (so that `excel-win32-16.01.debug.js` and the other many dependencies are included).  The `office.js`

[2018-02-13 22:22] Zlatkovsky commented on #62
(Also, on a related note:  someone just recently asked a question about what telemetry is captured, and where does it go to; the related thread (in progress work-item-wise) is https://github.com/OfficeDev/office-js/issues/61).

[2018-02-14 00:21] craftytrickster commented on #62
Thank you for your response. The directory is being included, in fact, that is the whole issue - instead of acting like a loader, it's going out to the CDN.

[2018-02-14 00:34] Zlatkovsky commented on #62
Hm.  Let me make sure we're on the same page.

In my expectation, if you were to copy the entirety of https://www.npmjs.com/package/@microsoft/office-js to a local folder -- and hence get something like https://unpkg.com/@microsoft/office-js@1.1.4/dist/ in the "dist" folder of said local folder -- that should be able to work offline.  It sounds like there might be some failed requests happening, a

[2018-02-14 13:52] craftytrickster commented on #62
The directory was already locally on the disk (inside node_modules) as is the expected result for any package fetched via `npm install.`  I am able to easily include React and other dependencies in my project without any problem, and I am very experienced in TypeScript/JavaScript, so this issue is not due to my ignorance on how to include a package. (I know you did not insinuate that, but since so

[2018-02-15 14:05] AhmedVali opened #64 "How to call Office JS from .Net/Java applications"
Hello Experts,

I have an add in which will insert some text into Word  upon user action ( lets say simple button press)

Is it possible to call this method which inserts text into Word from outside office applications ?

Is it possible to build a web service layer on top of my add in and expose it so that other applications can consume it.

[2018-02-15 16:55] trmini commented on #48
I verified that the change has been deployed to Production. Thanks again for reporting the issue and working with us to get it resolved.

Thanks,
Trang

[2018-02-15 16:55] #48 closed, assigned to trmini

[2018-02-16 00:28] alx-andru opened #65 "Add onSelectionChangeHandler in Excel Online breaks during app initialization"
Adding a new 'onSelectionChanged' event during the application load crashes in Excel Online, if during the initialization of the addin, selection changes occur.

## Expected Behavior

Application loads, event handlers are registered and trigger the onSelectionChange function which was registered.
## Current Behavior

Application loads, adding handler failed and no selectionChangeEvents are trigger

[2018-02-16 10:44] NickDarvey opened #66 "New PowerPoint Add-in project gives me a 'This add-in could not be started' when it starts"
# Repro
1. In Visual Studio, File --> New Project
1. Select 'PowerPoint Web Add-in'
1. Select 'Add new functionalities to PowerPoint'
1. Tap 'OK'
1. Tap Start (F5) and wait for PowerPoint to open
1. Open the app by tapping 'Show Taskpane'

Same deal for Word Add-In.

## Expected
App starts.

## Actual
[code]
![image](https://user-images.githubusercontent.com/6076697/36304079-7af05f3a-1362-11e8-83b

[2018-02-16 11:19] nunocv commented on #313
Any updates?

[2018-02-16 11:19] nunocv commented on #47
Any updates?

[2018-02-16 17:12] sumurthy commented on #64
You may be looking for desktop or server level automation that is still not available using JavaScript technology. Even if it is possible the workflow would involve writing separate function/routine rather than calling into your add-in (though you should be able to re-use the function implementation). Excel offers this service access capability if the workbook is stored in OneDrive or SharePoint v

[2018-02-16 17:20] sumurthy commented on #65
@ShawnNiu please reply.

[2018-02-16 21:06] JuaneloJuanelo commented on #66
Hello thanks for reporting this issue, we are investigating internally.

[2018-02-16 21:22] JuaneloJuanelo commented on #66
Couple of questions for @NickDarvey
I was trying to repro your situation without success. So, I have a few questions:
1. Question: did you trusted the certificates when running the adding the first time?
2. Is this the first add-in you are trying to create on this environment?
3. Did you tried re-installing VS and Office Deverloper Tools?

[2018-02-16 21:41] JuaneloJuanelo commented on #65
Hey @alx-andru thanks for the super detailed description and for  reporting this. I was able to repro this issue and, as described, happens only in Excel Online. {TFS:2158100}

**Quick clarification**: Excel is not crashing, but we are unsuccessful to register the event in such potentially edge conditions. I think that you are doing the right error handling on ultimately subscribing  to the events

[2018-02-16 21:45] JuaneloJuanelo commented on #64
@AhmedVali  for future reference this type of question is more of a stackoverflow question (use tag 'office-js'

I am closing this case since, this is basically not supported.

[2018-02-16 21:45] #64 closed, assigned to nobody

[2018-02-16 21:52] alx-andru commented on #65
@JuaneloJuanelo thanks for confirming. I also tested it targeting different api versions of office.js and the beta release seems to be more stable in regards of the selection.

[2018-02-16 23:36] JuaneloJuanelo commented on #59
@Rick-Kirkham we need to document this known issue

[2018-02-17 05:56] ShawnNiu commented on #65
Hi @alx-andru

Sorry for the inconvenience, we already recognized the selection change problem under the workbook object, will update the sample in scriptlab accordingly. Thanks for pointing out the problem 👍

Please refer to the selection change api in beta first. Let me know if you have any problem with that.

[2018-02-18 12:09] NickDarvey commented on #66
Hi @JuaneloJuanelo,

1. I ran these steps on another machine and got a prompt to trust IISExpress's TLS cert but I didn't get that prompt on the machine with this issue. I can browse to the site in Edge and it loads correctly, with a trusted connection (and I can see a 'IIS Express Development Certificate' installed into 'Trusted Root Certification Authorities' which is still valid).
1. I am prett

[2018-02-19 11:00] TinoDidriksen opened #67 "Character differs offline vs. online"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Given the [same document](https://1drv.ms/w/s!AjHfvjn5PP1Qikb_qhEcEQv_jAWX), the text retrieved via `context.load(par, 'text')` differs subtly when comparing Word 2016 offline vs. onl

[2018-02-19 14:33] JuaneloJuanelo commented on #67
Thanks for sharing this.  Its our goal that all platforms return the same string, but probably there are localization issues.  This is potentially a bug, let us investigate. I am assuming you are getting the entire paragraph?

[2018-02-19 15:03] TinoDidriksen commented on #67
Yes, I load the whole paragraph.

Some more information, because I couldn't immediately reproduce just by adding another space:

The actual text does contain U+00A0 (No-Break Space ; NBSP), meaning it is `"og\u0020\u00a0blomkål"` - I've confirmed this by hexdumping the raw XML document. Word Desktop gives me 2 normal spaces, Word Online gives me U+202F. So both are wrong, though normalizing to act

[2018-02-19 15:17] JuaneloJuanelo commented on #67
Yes that's what I noticed, the document actually contains UTF(32) + UTF(160) in Win32, who is translated to UTF(32) + UTF(8239) in Online.
I wonder if this is a common practice in Danish? or how the UTF(160) ended up in the document. Sounds like an edge case, at least in English and other latin languages. (that we still need to fix, but presumably with lower priority)

[2018-02-19 15:20] JuaneloJuanelo commented on #67
btw i created a small script lab snippet to get the UTFs of the selection, so you can see the unicodes without needing to hexdump the OOXML :) https://gist.github.com/JuaneloJuanelo/89b452c45918c9e7a4ddd2df5588df73
just select some text and click the getUnicodeFromSelection button

[2018-02-19 15:27] JuaneloJuanelo commented on #67
we are tracking this internally with TFS2162025

[2018-02-19 15:28] TinoDidriksen commented on #67
It wound up in the document because I am testing our cross-platform grammar checker add-in, and I want it to handle multiple spaces. So I copy-pasted text from Google Docs with a double space in it, and apparently GDocs represents them with NBSP. But only sometimes, because it doesn't always end up as NBSP in Word.

So I agree this is very unlikely to happen in the real world. I am testing edge ca

[2018-02-19 15:32] JuaneloJuanelo commented on #67
Agree. Probably we need to report that issue to Google as well :)
This is the first time I learn about a disparity like this, I am confident that we should have extremely low probability of having additional cases, but it make sense to add a note in our documentation about this. Thanks for the suggestion. I will also tag a documentation bug as part if this issue.

[2018-02-19 15:41] JuaneloJuanelo commented on #66
Thanks, I am following up with our Visual Studio team and we concur that it might be a lack of trust certificate issue.
follow up questions.
1. In the other machine you were able to restore the project and run it successfully?
2. is the issue fixed on the original machine? and if not can you reinstall VS and retry?

thanks!

[2018-02-19 15:44] JuaneloJuanelo commented on #57
We are still investigating.. thanks for your patience,..

[2018-02-19 15:48] JuaneloJuanelo commented on #64
btw @AhmedVali  also will be very useful if you can start a discussion about this in our user voice channel as this might be a feature we could enable in the future. thanks!  https://officespdev.uservoice.com/

[2018-02-20 10:53] anoop7181 commented on #48
Hi @trmini ,

Any idea when this update will be pushed as latest NuGet Package.

Thanks
Anoop

[2018-02-20 11:33] ndeeH commented on #48
Hi @anoop7181 ,
I think "aria-web-telemetry.js" is always loaded on demand from an CDN and therefore will not be part of a nuget package. Is this true @trmini ?
see https://github.com/OfficeDev/office-js/search?utf8=%E2%9C%93&q=aria&type=

[2018-02-20 11:51] anoop7181 commented on #48
Hi @weird-dreams ,

I am not quite sure if the is only issue with aria-web-telemetry.js . The latest Office js nuget still throws error. When i refer to Dogfood link of Officejs https://appsforoffice.edog.officeapps.live.com/lib/1.1/hosted/office.js) , i don't face the issue anonymous define module.

Just wondering when that update would be pushed to NuGet.

Regards
Anoop

[2018-02-20 16:05] Zlatkovsky commented on #62
@craftytrickster, thanks for the details.  Let me investigate, and also see if we can get a sample / documentation created for this.
Adding @kbrandl to the assignees; Kim, let's work on this together.

[2018-02-20 21:33] trmini commented on #48
Hi @anoop7181,

We are working on updating the Nuget package with the fix. I will update the thread when it is ready.

@weird-dreams, a copy of the Aria SDK is part of the package as Office.js loads it from a relative path.

Thanks,
Trang

[2018-02-21 01:53] maxcan opened #68 "context.trackedObjects.add doesn't support invocation across Word.run calls"
My project involves parsing a word document to extract a set of tokens then allowing the user to selectively perform bulk actions on those tokens.  Because of the UI step, I need to be able to call `myRange.select()` and `myRange.font.set(...)` on a subsequent `Word.run(ctx => {...})` call from run which extracted the tokens.

If this is more appropriate as a stackoverflow post, I apologize and wi

[2018-02-21 01:59] Zlatkovsky commented on #68
The API is actually behaving as designed, it’s a user error (well, and likely a documentation gap).  Could you please post this very question on stackoverflow, and then add a link here?
For the documentation piece, assigning to @kbrandl

[2018-02-21 06:04] LanceEa opened #69 "Excel - Settings Changed Event inconsistent experience"
I'm experiencing the same issue as outlined by this stack overflow. https://stackoverflow.com/questions/45247447/how-to-register-handler-for-settingschanged-event-in-office-web-add-ins

First, is this still a known issue?

## Issue
When trying to use this API in Excel Online with an add-in deployed via the O365 Admin portal I receive the `Office General Exception error - "an internal error has occ

[2018-02-21 09:55] anoop7181 commented on #48
Hi @trmini ,

Thank you for the response. I will await update from you.

Regards
Anoop

[2018-02-21 17:55] maxcan commented on #68
@Zlatkovsky apologies for posting a user error here, thank you for the very quick reply.  SO question is here: https://stackoverflow.com/questions/48912457/cant-seem-to-use-ranges-across-calls-to-word-runcontext-in-office-js

[2018-02-21 18:38] sumurthy commented on #69
@ShawnNiu Please take a look at this.

[2018-02-21 21:42] LanceEa commented on #57
Looks like this was resolved in today's insiders release...Version 16.11 (180220). I didn't make any changes and it seems like it is working correctly now.

@JuaneloJuanelo @sumurthy  - can you confirm? If so I can close this issue.

Thanks,
Lance

[2018-02-21 22:25] LanceEa commented on #69
@ShawnNiu  - Can you provide any information on this? Excel Online and the add-in deployed via O365 Portal is my main user group so the add-in currently isn't usable by my team.

What other information can I provide?

Thanks,
Lance

[2018-02-22 21:26] maxcan commented on #68
Demonstration repo added here https://github.com/maxcan/office-js-context-bug-repro

[2018-02-23 00:26] kbrandl opened #70 "Test issue (please disregard)"
This issue was created for testing purposes.

Please disregard.

[2018-02-23 00:27] #70 closed, assigned to nobody

[2018-02-23 03:07] ShawnNiu commented on #69
Hi Lance,

We'll look internally and get back to you asap.

[2018-02-23 03:55] Rick-Kirkham commented on #69
Internal: the bug is 863868

[2018-02-23 12:20] LanceEa commented on #69
Thanks for the update...is there any guidance on when we could expect a fix?

Note - I understand that it sometimes hard to give timeframes for issues when developing software but if it is days/weeks then we can probably get by but if it is months then I need to explore different options for distributing my add-in to my user base.

[2018-02-23 21:34] JuaneloJuanelo commented on #69
@LanceEa  i would not expect a fix to go in in days/weeks on this case.

[2018-02-23 21:35] JuaneloJuanelo commented on #68
the issue was resolved in https://stackoverflow.com/questions/48912457/cant-seem-to-use-ranges-across-calls-to-word-runcontext-in-office-js

so i am closing it here.

[2018-02-23 21:35] #68 closed, assigned to kbrandl

[2018-02-23 21:38] JuaneloJuanelo commented on #66
@NickDarvey  can you please confirm that you not longer have the issue?

[2018-02-23 21:38] #66 closed, assigned to nobody

[2018-02-25 17:05] LanceEa commented on #69
@JuaneloJuanelo - Thanks for the quick response. Just to clarify, you are saying you do NOT think this will be a fast fix? I should look at alternative methods to distribute the add-in to my user base?

[2018-02-27 14:11] alx-andru commented on #65
Hey @ShawnNiu this seems to work way better. Every once in a while we still see the issue though

[2018-02-28 10:33] NickDarvey commented on #66
maybe, except

The issue is not fixed on the original machine. I can't reinstall Visual Studio because that's my workstation and can't have that kinda downtime right now.

[2018-02-28 14:26] rmrodrigues commented on #47
Hi team,
Is there any progress on this? We are creating a new add-in and we are unable to finish some feature because we are depending on this fix.
Could you give us some update?

Cheers,
Rui Rodrigues

[2018-02-28 15:30] mlafleur commented on #66
What does your manifest.xml look like?

[2018-02-28 18:36] phtai commented on #47
Hi @forlemon & @rmrodrigues, we found the problem is that Office Online fails to parse a version number that consists of less than four parts (like 2.12). The version number in the add-in manifest should be in a format like **2.12.0.0**

We have checked-in a fix for this but it needs a few weeks to deploy. In the mean time, **you can just change the version number in the add-in manifest to a suppo

[2018-02-28 19:05] kbrandl commented on #66
@NickDarvey -- FWIW, I recently experienced the exact same issue that you've reported -- although In my case, I had inadvertently caused the issue myself by manually removing all `localhost` certs from my machine's Trusted Store (in the process of troubleshooting something different altogether). Because the 'IIS Express Development Certificate' was amongst the certs I removed, Visual Studio was no

[2018-02-28 19:36] Rick-Kirkham opened #71 "Word Paragraph.insertHtml does not insert the last item in a list properly"
When inserting a list structure with Paragraph.insertHtml(), the last \<li\> item is inserted as a non-list paragraph after the list.

## Expected Behavior
Every \<li\> in an \<ol\> or \<ul\> should be included as an item in the list.

## Current Behavior
When inserting a list structure with Paragraph.insertHtml(), the last \<li\> item is inserted as a non-list paragraph after the list.

## Steps

[2018-02-28 19:44] Rick-Kirkham opened #72 "Inconsistent styling when HTML inserted with Word Paragraph.insertHtml"
When inserting paragraphs with Paragraph.insertHtml(), the first paragraph is formatted with an HTML default. For example, the font is Times Roman. All other paragraphs get the current Word paragraph style at the insertion point.

## Expected Behavior
Every paragraph inserted should get the current Word paragraph style of the insertion point..

## Current Behavior
When inserting paragraphs with Pa

[2018-02-28 19:46] JuaneloJuanelo commented on #71
this is a known issue we have 1158080 tracking.

[2018-02-28 19:53] JuaneloJuanelo commented on #72
This issue is by design. HTML supports formatting and we never override it with the document style. if the developer needs to keep the document style she/he needs to use the paragraph or insertText APIs.

[2018-02-28 19:53] #72 closed, assigned to JuaneloJuanelo

[2018-03-01 06:13] ayushsood opened #73 "displayDialogAsync opens tab instead of pop-up"
I'm currently building an Excel v16.10 add-in on a Mac using office-js-helpers's authentication. Upon initiating the authentication request, a new tab on Chrome is created instead of pop-up. This prevents authentication from finishing.

Might be related to: https://github.com/firebase/firebase-js-sdk/issues/63

See the following sister-issue: https://github.com/OfficeDev/office-js-helpers/issues/6

[2018-03-01 08:08] sumurthy commented on #73
- Have you tried without the displayInFrame: true option? According to [this](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#take-advantage-of-a-performance-option-in-office-online) page, "You should not use displayInIframe: true if the dialog will at any point redirect to a page that cannot be opened in an iframe. For example, the sign in pages of many po

[2018-03-01 10:16] laurence73 commented on #16
We are experiencing the exact same behaviour on latest Outlook Desktop (Office 365)  - add-in cannot select item from Dropdown list unless using key buttons if on non-standard DPI monitor. Did this ever get fixed?

[2018-03-01 11:25] AlonEkelund commented on #16
Still not fixed. I know the IE team is currently working on it. I hope :-)

[2018-03-01 11:31] laurence73 commented on #16
yeah hope so too - driving more than a couple of our clients up the wall...thanks for reply

[2018-03-01 16:50] Rick-Kirkham commented on #73
Also, please note the following from the same article that @sumurthy linked to:
"The domain is the same as the domain of the host page, which can be the page in a task pane or the function file of an add-in command. This is required: the page, controller method, or other resource that is passed to the displayDialogAsync method must be in the same domain as the host page."

[2018-03-02 08:33] ayushsood commented on #73
@sumurthy and @Rick-Kirkham thank you for the quick response. Just went through your suggested steps - the Auth0 example worked on my computer.

I think the issue might have to do with the domain issue that Rick mentioned - I have my Excel addin files being served from excel.myapp.com and the OAuth service running on myapp.com. Would that be an issue? This setup was working fine a couple months ag

[2018-03-02 18:14] Rick-Kirkham commented on #73
@ayushsood
I don't believe there's  been a breaking change with `displayDialogAsync`, but I think there are (or were) some situations in which you can get away with passing a domain to it that is not the same as the parent page. But this does not work reliably across all hosts/platforms, so our policy is to require that the URL passed to `displayDialogAsync` be on the same domain as the parent pag

[2018-03-04 02:40] ayushsood commented on #73
@Rick-Kirkham does that mean that authentication [here](https://github.com/OfficeDev/office-js-helpers/blob/a4e46bf3bc5e79b58da51c8d20749170a4d2d1d1/src/authentication/endpoint.manager.ts) would fail?

It triggers external URLs for Dropbox/FB/Google authentication. Trying to change my URL - will report back on if it fixes my issue. Thanks!

[2018-03-04 06:04] ayushsood commented on #73
@Rick-Kirkham that seemed to have done the trick. Going to let you close the issue in case office-js-helpers needs to be updated based on my previous comment.

Also it would be great if the documentation stated explicitly that subdomains area considered *not* to be part of a domain for the purposes of `displayDialogAsync`

Thank you for the quick responses - I owe you a drink next time I'm Seattle

[2018-03-04 18:03] #73 closed, assigned to Rick-Kirkham

[2018-03-05 09:52] anoop7181 commented on #48
Hi @trmini ,

Just checking again if there is an ETA for pushing the hosted prod update of officejs to NPM or nugget installer.
I couldn't find latest files in Gtihub.

My customer has concern using it from CDN and our go-live is coming soon. Please advise.

Regards
Anoop

[2018-03-05 17:12] trmini commented on #48
Hi @anoop7181,

Unfortunately, there are some other dependencies that prevent us from publishing a new NugGet package right away. In the mean time, is this possible for you to override the ariatelemetry\aria-web-telemetry.js file with https://appsforoffice.microsoft.com/lib/1/hosted/ariatelemetry/aria-web-telemetry.js?

Thanks,
Trang

[2018-03-06 08:50] magnusdanielson commented on #48
@trmini @anoop7181 No that is not possible. aria-web-telemetry is loaded by Word not by us. We have no control over that, we don't use it at all. It is an internal Microsoft file that sends telemetry data about usage to Microsoft.

[2018-03-06 16:37] Zlatkovsky commented on #48
I think what Trang meant was that if you are OK using an NPM package, then at that point you have flexibility to twiddle with this NPM package when you publish out your website (and also publish the contents of the NPM package, that is -- Office.js is not modularized/bundleable today, so essentially you'd just be hosting your own copy of what is on the CDN, modulo the one tweak).

That being said,

[2018-03-06 19:44] LanceEa commented on #69
@sumurthy @ShawnNiu @JuaneloJuanelo  - I just wanted to check-in if there are any updates on this issue? At this time, we are no longer rolling out the add-in and are stuck in a holding pattern until we can come up with a resolution for this.

Does this same problem effect add-in's deployed to the Office Store or is it isolated to add-ins deployed via O365 Admin Portal? We had not planned on addin

[2018-03-07 09:38] ShawnNiu commented on #69
Lance, our engineer already worked out a draft solution. I'll let you know once it was rolled out

[2018-03-07 13:57] nunocv opened #74 "SearchOptions Wildcards doesn't capture certain strings"
## Expected Behavior
this WildCard [!$#@]*[}][\r][\t] should capture !{sdfgdfhf}, \r and \t being actual line breaks and tabs.

## Current Behavior
[!] not being captured, even by itself on [].
[\t] not being captured
[@] not being captured
The rest is all captured correctly.

## Steps to Reproduce, or Live Example
Example doc with various expressions
[TestDoc.docx](https://github.com/OfficeDev/of

[2018-03-07 15:11] JuaneloJuanelo commented on #74
Thanks for sharing this, we'll try to repro and investigate. Can you please indicate in what platforms you are having this issue. (Windows? Online?) .

[2018-03-07 15:16] nunocv commented on #74
Windows Platform, while developing a Word Add-In on Visual Studio. Tested via "Start" from Visual Studio that open Microsoft Word, in this case 365 2016.

[2018-03-07 15:16] LanceEa commented on #69
@ShawnNiu - Thanks for the update. As soon as it is available I will give it a test.

[2018-03-08 07:48] exceldemo commented on #69
Great to know that! i'll keep you updated

[2018-03-12 11:58] bohap opened #75 "Outlook API 1.3 version not showing on Outlook Desktop Professional Plus 2016"
Hello
On this page https://github.com/OfficeDev/office-js-docs/blob/master/reference/outlook/tutorial-api-requirement-sets.md it is specified that both Outlook 2016 (MSI) for Windows and Outlook 2013 for Windows support Outlook API up to Version 1.4, but when we try to increase the minimal version in the manifest from 1.1 to 1.3, the addin works fine on web but does not show on both desktop versio

[2018-03-12 15:03] eblancperso opened #76 "Visual Studio displays a warning when including the office-js's dist folder in a project"
When including the npm package's dist folder in a Visual Studio 2017 project, a warning is displayed showing "The JavaScript language service has been disabled for the following project(s)"

## Expected Behavior
No warning should be displayed

## Current Behavior
A yellow banner is displayed in Visual Studio 2017 displaying a warning message.

## Steps to Reproduce, or Live Example
1. Create a new

[2018-03-12 17:03] eblancperso commented on #48
I know this issue is closed but, do you have any ETA when this fix will be available through npm? I've tested with the CDN and it works but our configuration requires the npm package.

Thank you!

[2018-03-12 18:08] #47 closed, assigned to phtai

[2018-03-14 06:00] trmini commented on #48
Hi,
We have updated the NuGet package with the change:
https://www.nuget.org/packages/Microsoft.Office.js/

Thanks,
Trang

[2018-03-14 08:34] fergiemcdowall commented on #313
It would also be good to know to what extent regular expressions are supported in SearchOptions.

[2018-03-14 13:13] eblancperso commented on #48
@trmini Thank you for your answer, but what about the npm package?

[2018-03-14 15:29] Zlatkovsky commented on #48
Sorry for the delay.  An update to NPM is forthcoming, I am working on it (and, more importantly, on making it trivial to publish NPM at the same time as our CDN in the future).  I hope to have it ready in the next few days.

[2018-03-14 18:23] ShawnNiu commented on #69
Hi Lance, we checked-in our code to the latest fork of release. It could be rolled out in couple of weeks. But please notice the fix comes to windows client first, office online fix will come later.

[2018-03-14 18:26] LanceEa commented on #69
ok thanks for the update. My user base is Excel Online at this time so please let me know when it has rolled out there and I will test.

[2018-03-14 19:42] igillis opened #77 "[Excel][Mac] Can't format by column in setFormatsAsync in Excel for Mac"
## Expected Behavior

I would expect this API to be consistent across environments.

## Current Behavior

I'm receiving an error 5001 Unknown error occurred. There's also something about extraArgs

## Steps to Reproduce, or Live Example

Run the following on Excel for Mac
`Office.select("bindings#myBinding).setFormatsAsync(
    [{cells: {column: 0}, format: {fontColor: "yellow"}}],
    function (a

[2018-03-14 23:50] shawnmcdowell commented on #16
I wanted to give an update on this thread.  We have identified the root cause of the issue.  We do not have an ETA at this point, but understand its importance and are continuing to work towards a resolution.  Thanks for your patience.

[2018-03-16 15:20] igillis opened #78 "[Excel][Mac] Can't set tableStyle in setSelectedDataAsync"
On Windows/Online, you can specify a formatting style when setting table data by using a named style like `TableStyleLight18`.

## Expected Behavior
You can do the same thing in Mac Excel.

## Current Behavior
Right now, I receive a 5001 error with no detail if my payload contains a style.

## Steps to Reproduce, or Live Example
[code]

## Context
I just want to make sure that the tables I am crea

[2018-03-17 09:02] AlonEkelund commented on #16
Thank you for the update. And thank you for recognizing the importance of this. I do hope for a solutions soon as we are many that are waiting for it :-)

[2018-03-19 10:59] markb-trustifi commented on #49
The InternetMessageId exists when I retrieve it by Office REST API:
https://outlook.office365.com/api/v2.0/me/messages/{restItemId}?$select=InternetMessageId

[2018-03-19 12:12] markb-trustifi opened #79 "getAsync for TO field in Compose mode updates address with partial data"
## Expected Behavior
Return empty array of email addresses

## Current Behavior
when manually entering email address and not clicking enter:
1) Returns data with empty emailAddress and typed displayName
2) Creates new address with partially typed displayName and incorrect emailAddress generated from typed data.

## Steps to Reproduce, or Live Example
1) Create new email
2) Type new uncompleted add

[2018-03-19 14:47] mlafleur commented on #79
This seems like expected behavior. Switching input focus is the same as hitting `enter`.

So if you enter `test@google.c` and switch focus away from the `To` field, you have effectively told Outlook that this is the address you want to send it too.

[2018-03-19 14:48] mlafleur commented on #79
Unless I'm missing something, this seems like expected behavior when switching focus.

If you enter `test@google.c` and leave the `To` field, you have effectively told Outlook that this is the address you want to send it too.

[2018-03-20 17:29] misaunde commented on #12
+1 Any updates?

[2018-03-20 20:15] tong-1324 commented on #12
Hi @misaunde, we have two major fix to improve performance on all platforms. The first is to improve the range.values API, which is availble starting from build 9021. The second one is to fix some object binding issue, and all the range and table related APIs should get benefit from it. This is available starting from build 9208. You just need to update your Excel to the latest build and you shoul

[2018-03-21 00:01] JuaneloJuanelo commented on #78
Hello.. is there a reason why you are not using our new APIs for Excel to do this?

[2018-03-21 00:02] JuaneloJuanelo commented on #77
is there any reason why you are not using the new Excel APIs for this?

[2018-03-21 00:56] igillis commented on #77
Thanks for getting back to us! This is some fairly old code that we haven't touched in a while, but we are now attempting to add Mac support.

Which new API did you have in mind for a use case like this? I looked through the updates [here](https://dev.office.com/reference/add-ins/requirement-sets/excel-api-requirement-sets) and nothing really jumped out.

[2018-03-21 01:31] sumurthy commented on #77
[This](https://dev.office.com/reference/add-ins/excel/rangeformat) is a good starting point. Script Lab also has many examples dealing with formatting.

[2018-03-21 09:13] markb-trustifi commented on #79
1) It still doesn't happen in browsers and in Mac Outlook Client, only in Windows.
2) I'm not switching focus, script runs in background and reads TO field every 1 sec.

[2018-03-21 14:29] igillis commented on #77
Thanks for pointing me to Script Lab, that has some useful examples. We are way behind, it seems all of the callback based interactions are no longer preferred and we should update everything to use context-based APIs. That's going to be somewhat of a lift for us.

I would argue that this is still a bug since the callback-based APIs are not actually deprecated and should behave consistently across

[2018-03-22 21:13] igillis commented on #77
Also, it seems that the `Excel` object is not defined in `Excel 2013` and supporting that is a requirement on our side. Was trying to avoid branching implementations of the same features.

[2018-03-23 11:49] sebastianbouckaert opened #80 "Keep getting 130007"
I'm creating a Word Web Add-in project where I want user to connect to SharePoint with SSO
I followed this complete instructions:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-aspnet#run-the-add-in
I put my rights
![37763346-0f4cce7c-2dbf-11e8-9bfe-fddb89d698aa](https://user-images.githubusercontent.com/20515102/37827692-ccce4258-2e98-11e8-8319-bdda96bbd768.

[2018-03-26 16:00] LanceEa commented on #69
@ShawnNiu - It looks like the issue has been resolved and I'm no longer getting the general exception. Can you confirm that this has been been deployed to Excel Online?

As of right now I'm showing Excel Online build # **16.0.9222.5051**. I want to make sure it is fixed before I communicate it out to my user base.

Thanks,
Lance

[2018-03-26 18:05] Rick-Kirkham commented on #80
@sebastianbouckaert The issues for this repo are primarily intended for reporting bugs in the Office JavaScript library. It is premature to assume that you have encountered a bug. Please raise this issue on Stack Overflow and tag it "office-js". Also, specify in your question whether you are using a work or school (Office 365) account or a Microsoft Account. In the meantime, take a look at https:/

[2018-03-26 18:05] #80 closed, assigned to Rick-Kirkham

[2018-03-26 19:40] daniel-white opened #81 "event type for global event for functions file for typescript"
There doesn't seem to be a typing for function file's global `Event` that has the `completed` method. Here's the object: https://github.com/OfficeDev/office-js-docs/blob/master/reference/shared/event.completed.md

[code]

## Expected Behavior
That I would be able to give `e` a type for TypeScript.

## Current Behavior
I'm not sure what to give typescript.

## Steps to Reproduce, or Live Example

*

[2018-03-27 02:54] ShawnNiu commented on #69
Hey Lance, we are addressing some last mile issues. Give us a few days to make it more stablized.

Thanks,
Shiyuan

[2018-03-27 10:11] LanceEa commented on #69
@ShawnNiu - Ok, thanks for the update!

[2018-03-27 15:36] kbrandl commented on #79
@markb-trustifi -- can you please create a Stack Overflow post (labeled with the tag `outlook-web-addins`) with the information you've provided in this issue thread?  The Outlook add-ins team closely monitors the `outlook-web-addins` tag in Stack Overflow, so they should be able to provide feedback for you there.

[2018-03-28 14:38] markb-trustifi commented on #79
Created question:
https://stackoverflow.com/questions/49537433/office-context-mailbox-item-to-getasync-updates-to-field-with-partial-data

[2018-03-28 18:02] Rick-Kirkham opened #82 "Multiple problems when insert HTML to content control in doc with multiple content controls"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
HTML should replace the content of the CC. Other CCs and content in the doc should not be affected.

## Current Behavior
See the Stack issue here: https://stackov

[2018-03-29 20:08] kbrandl opened #83 "Office.js Excel Online > chart.getImage() errors"
_**Note:** I'm opening this issue on behalf of a customer who posted about it on Stack Overflow: https://stackoverflow.com/questions/49563146/office-js-excel-online-chart-getimage-errors_

## Summary
I use `chart.getImage()` (https://dev.office.com/reference/add-ins/excel/chart) to get the base64 encoded image so charts can be programmatically inserted into Word/PowerPoint documents. It is used in

[2018-03-29 20:10] kbrandl commented on #83
@JuaneloJuanelo -- can you please share this with the appropriate folks on the product team?

[2018-03-29 21:59] Rick-Kirkham commented on #71
Reopening because a customer is experiencing a variation of this: [inconsistent-host-behavior-with-office-js-inserthtml-and-paragraph-formatting](https://stackoverflow.com/questions/49558548/inconsistent-host-behavior-with-office-js-inserthtml-and-paragraph-formatting/49565600#49565600)
Is there any way that I can get the priority of https://office.visualstudio.com/OC/_workitems/edit/1158080 raise

[2018-03-30 09:00] JuaneloJuanelo commented on #83
we will keep the issues in stack overflow going fwd.

[2018-04-02 15:01] pawsong opened #84 "Office.js custom function release date"
*Moved from StackOverflow with @mlafleur's advice*

What would be the release date of Office.js Excel custom formula feature?

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-overview

This feature has been under Developer Preview for months but I couldn't find any sign of updates.

There are some official channels to contact Microsoft like

- https://docs.microsoft.com/

[2018-04-02 15:44] craftytrickster commented on #62
Any update on this?

[2018-04-03 20:26] kbrandl commented on #83
@JuaneloJuanelo -- re-opening per our latest discussion (let's continue to manage issues in GitHub, for now).

[2018-04-04 00:06] saunders77 commented on #84
We try not to publish our planned future schedules because it's common for releases to be delayed by lots of factors.

We've done lots of exciting work on custom functions since the last release, and we'll give you an update at the time of Microsoft Build (May 7-9, 2018).

[2018-04-04 04:36] pawsong commented on #84
Thank you. Looking forward to the next Microsoft Build :)

[2018-04-04 04:36] #84 closed, assigned to nobody

[2018-04-04 06:34] ShawnNiu commented on #69
@LanceEa Just give you a quick update, the fix is already rolled out on online. Feel free to check it out.

[2018-04-04 06:34] #69 closed, assigned to ShawnNiu

[2018-04-04 13:58] LanceEa commented on #69
@ShawnNiu - Thanks...everything looks good. I did no code changes and it all seems to be working correctly now.

I will let my users know and report back if anything else comes up.

Thanks again for the help getting this fixed.

[2018-04-05 09:59] maxpaj commented on #75
I'm in a similar situation.

I have a customer who wants to use our addin in their Outlook. They run an Exchange Server 2013 solution and can install addins through Exchange Admin Center. But when they try to install our addin it says:

The version number indicates that they are using Exchange Server 2013 CU14.

I've dug through loads and loads of documentation to try to find version of Exchange t

[2018-04-06 17:41] kbrandl commented on #75
@exextoc -- just a heads-up that this issue has been assigned to you for investigation. Also FYI, other related posts can be found here:

- https://github.com/OfficeDev/office-js-docs/issues/1371
- https://stackoverflow.com/questions/49667055/microsoft-office-javascript-add-in-platform-compability

[2018-04-08 04:48] JuaneloJuanelo commented on #83
This is a known issue. We are currently working in adding support to Ivy Charts (Maps, Histogram,Pareto, Treemap, Sunburst, Funnel), hence this erratic behavior and we are in the process of fixing it.  While we work on that:

1. the getImage() method will only work on charts we currently support.
2. Once our first wave of Ivy Charts is released, we will also support adding any chart in the collect

[2018-04-09 03:07] hengchengfei commented on #546
<img width="1079" alt="1" src="https://user-images.githubusercontent.com/3182964/38477618-3ba85c2c-3be6-11e8-9ab4-ea96548f3499.png">

[2018-04-09 08:14] maxpaj commented on #75
@kbrandl is this a confirmed issue?

Check out my comment on the other thread please: https://github.com/OfficeDev/office-js-docs/issues/1371#issuecomment-379670841

[2018-04-09 15:31] kbrandl commented on #75
@maxpaj I unfortunately am not a subject matter expert in Outlook add-ins; I've assigned @exextoc to this issue, as they should be able to provide feedback.

[2018-04-09 20:13] macote opened #85 "Word error when deleting a w:sdt containing a w:tbl"
Word generates an error when deleting a content control that contains a table without a trailing paragraph. The delete method used is [this one](https://dev.office.com/reference/add-ins/word/contentcontrol#deletekeepcontent-bool).

## Expected Behavior
The content control gets deleted.

## Current Behavior
Word displays an error and the current document state seems unstable.

## Steps to Reproduce

[2018-04-10 13:45] kbrandl commented on #53
@JuaneloJuanelo, FYI -- here's another related customer inquiry about the inability to set `placeholderText` in Word Online (this time, from Stack Overflow):  https://stackoverflow.com/questions/49748616/inserting-editable-content-control-in-word-online-add-in.

[2018-04-11 10:15] JuaneloJuanelo commented on #53
as indicated, placeholder text s not allowed in Word online, known issue, its on the backlog with unknown ETA.

[2018-04-11 10:15] #53 closed, assigned to JuaneloJuanelo

[2018-04-11 10:19] fergiemcdowall commented on #5
@ershwetabansal yes, that works quite well

[2018-04-11 11:03] JuaneloJuanelo commented on #85
Thanks for sending and documenting in detail this issue, I was able to repro. In an ideal world, the order in which you are sending the operations, in a blank doc, should work but in this case is corrupting the document.  This is potentially a bug that we need to fix.

That been said, I  have an alternative you can try. please find a script lab [here](https://gist.github.com/JuaneloJuanelo/234cda1

[2018-04-11 11:11] JuaneloJuanelo commented on #85
btw this is tracked internally with 2264713

[2018-04-11 11:27] dinkom opened #86 "Difference in add-in performance on Windows and Mac versions of Word"
I am unsure this can be categorized as an Office.js issue (especially because the part where it fails does not include Office.js code, but pure JS), but I will try to describe the issue and see whether something can be done or whether this is a Word issue (or none of the here mentioned).
We have an add-in for inserting citations/references and a bibliography inside Word. If a document has cca 200

[2018-04-11 12:36] nunocv commented on #74
Hello!
Any news regarding this topic?
This limitation is really impacting some features in our add-in.

[2018-04-12 09:25] radhikaalone commented on #3
I am getting same issue for word web add ins, On Mac file not downloaded, getting same error but on window desktop its work fine.

[2018-04-15 23:12] Zlatkovsky commented on #48
@eblancperso & others on this thread:  I'm happy to say that the NPM package is now updated.

You can get the latest Office.js version using “npm install @microsoft/office-js”!  This will install version 1.1.6 which, today, is the latest version of office.js, corresponding to what you'd get on the public CDN today.

I’ve also updated our internal build process so that future official-version creat

[2018-04-16 20:53] mlafleur opened #94 "Potential issue with missing Outlook attachments"
Reported on Stack Overflow:  [Missing attachment from Outlook JS Api](https://stackoverflow.com/questions/49860461/missing-attachment-from-outlook-js-api)

It looks like Office.js is not returning certain attachments, specifically `.msi` files (although I expect this would include any "executable"  file type). While this makes sense from a safety and security standpoint, the API shouldn't actively

[2018-04-17 13:56] rmrodrigues commented on #74
Hi @JuaneloJuanelo ,
We are blocked by this. We can't publish our application without the main feature that depends on this.
Could you share us any news about this?
We'll appreciate that.
Thank you.

[2018-04-17 22:01] JuaneloJuanelo commented on #74
Thanks for following up,  can you please share the specific build and platforms you are experiencing this issue? (file -> Account  check the about section and send version and build number). please provide as much details as possible otherwise we cannot investigate in detail and its probably why there is not prompter follow up.
thanks!

[2018-04-17 23:24] Zlatkovsky commented on #5
@SoftTimur , @KingHenne , @ershwetabansal , @fergiemcdowall : I'm happy to say that we're close to having an API that will fulfill this need.  In fact, you can dogfood it already (just for your own testing, don't use it in production yet!) -- instructions lower down.

To give a bit of background:  The issue with today's `Office.initialize` is
1. It does not fire on the web -- which is what this th

[2018-04-18 06:53] barisbikmaz opened #97 "window.external.RegisterEvent is not a function on Mac for Word"
## Expected Behavior
When opening a dialog in mac that contains office.js no error should be thrown.

## Current Behavior
When you open a dialog in Mac for Word that contains office.js an exception is thrown "window.external.RegisterEvent is not a function."

## Reproduction
It is hard to reproduce because it happens while loading the word-mac-16.00.debug.js in the MacRichClientHostController meth

[2018-04-19 08:02] nanan14 opened #98 "Office.context.document.getFileAsync fails when renaming in Excel Online"
when I rename the workbook in Excel Online, Office.context.document.getFileAsync fails. this does not happen in Word and Powerpoint Online

## Expected Behavior
getFileAsync should return successful and able to retrieve the content

## Current Behavior
returns an error "A network problem has prevented retrieval of the file"

## Steps to Reproduce, or Live Example
1.  open new workbook in Excel onl

[2018-04-19 08:47] XiangGaoMSFT commented on #98
Thanks for reporting this issue.
I can repro it with code below. We're looking into it.

[code]

[2018-04-19 16:01] macote commented on #85
Thank you for your suggestions.

Unfortunately, I'm not dealing with blank documents and I have little or no control on the source where the documents come from. I found that if I delete all the tables in the content control first, I'm also able to workaround the issue. But you can understand that this is not ideal.

Is it possible to have more information or an ETA on the internal ticket?

[2018-04-20 01:37] jakobpn opened #99 "Telemetry service causes 404 error when loading add-in page outside of Office host"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Expected Behavior
That the page would load without giving a 404 error

## Current Behavior
A 404 error is thrown when the add-in page is loaded outside of an Office host:
![image](

[2018-04-20 05:24] RoyalMugu opened #100 "“Word object is undefined” error when executing Word.run function"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have developed a Word javascript addin which makes use of Word Api 1.2. We are loading this addin in Office 2016 MSI.
 
The web application of the addin is hosted at their internal

[2018-04-20 06:06] JuaneloJuanelo commented on #100
can you describe how you got your own copy of Office.js?

[2018-04-20 06:07] JuaneloJuanelo commented on #100
BTW Word 1.2 is not supported in MSI, you can only do 1.1 APIs.

[2018-04-20 06:32] RoyalMugu commented on #100
Run this code in Script lab and you will get a success ( add the script lab addin in Word 2016 MSI)
async function run() {

    if (Office.context.requirements.isSetSupported('WordApi', 1.2)) {
        console.log("Success");
    }
    else {
        console.log("This add-in requires Word 2016 or greater.");
    }

}

[2018-04-20 06:41] RoyalMugu commented on #100
According to this documentation, it says MSI only supports Word api1.1 but it appears that ap1.2 is also supported. I am surprised.
https://dev.office.com/reference/add-ins/requirement-sets/word-api-requirement-sets?product=word

We got the Office.js files through Nuget packages. These packages are kept in a file share and loaded from that location.
https://www.nuget.org/packages/Microsoft.Office.

[2018-04-20 08:03] JuaneloJuanelo commented on #100
I can tell you with 100% certainty that 1.2 is not supported in MSI, we have not backported any investments since 1.2 to MSI and the documentation is also 100% accurate.
The problem with "ScriptLab" is that it loads Office.js in a very special (and now MSI-buggy) way, and we are actually working on a fix. So right now do not trust script lab in MSI.

You are getting the files from the right locati

[2018-04-20 12:08] barisbikmaz opened #101 "range.select('...') throws an exception in Office Online when inserting base64 encoded docx in Word"
## Expected Behavior
range.select('end') should set the cursor to the end of the content control.

## Current Behavior
range = range.insertContentControl();
range.select('end') throws a GENERALEXCEPTION with errorLocation "Range._onAccess" when I use cc.insertOoxml() or  cc.insertFileFromBase64() before.

## Steps to Reproduce, or Live Example
[Gist Repo](https://gist.github.com/barisbikmaz/c56a18

[2018-04-20 16:36] nunocv commented on #74
Hello @JuaneloJuanelo,
There are some updates/better description to this issue, that were tested today on the version 1708 (Build 8431.2242) of Word:

- Regarding the parsing with \t and \r, unfortunately, it is still not done correctly! So, in a Word Document if I have the following text:
![image](https://user-images.githubusercontent.com/26458114/39057318-cc57d81a-44b0-11e8-8d2f-9676a640ab07.png

[2018-04-20 20:48] koralcem opened #102 "When a presentation starts via "Play from current slide" any content add-ins _not_ on the initial slide in PowerPoint for Mac don't get the `ActiveViewChanged` event"
In PowerPoint for Mac (version 16.11.1, build 180319) the user can start the presentation in a couple different ways:
* From the "Slide Show" ribbon tab, the "Play from Start" button
* From the "Slide Show" ribbon tab, the "Play from Current Slide" button
* The "Slide Show" button on the status bar, next to the zoom slider

When the last two methods are used, any content add-ins that are on slides

[2018-04-20 21:00] koralcem commented on #102
FYI: The issue template mentions creating a sample in https://aka.ms/script-lab, but that address resolves to the Microsoft home page.

[2018-04-20 21:52] Zlatkovsky commented on #102
@koralcem , re. the link not working:  apologies for that, it's supposed to be https://aka.ms/scriptlab, without the hyphen.
This has been fixed now (https://github.com/OfficeDev/office-js/pull/103)
For the actual PPT issue, will leave the bug open for someone to take a look.

[2018-04-23 02:14] nanan14 commented on #98
Thank you. do you know if there are any work around for this issue?

[2018-04-23 02:59] XiangGaoMSFT commented on #98
A work around is appending file extension when you rename the workbook.
For example, when you want to rename a file to `filename`, rename it to `filename.xlsx` instead. But the problem is, the final filename will be `filename.xlsx.xlsx`

The bad news is currently this work around can't be achieved without involving user's manual operation. So from code side, maybe you can just detect this issue an

[2018-04-23 07:59] JuaneloJuanelo commented on #101
Good catch, and I can repro the issue. Probably we need to investigate in more detail and i want to suggest you a couple of alternatives (both do not throw):

1. instead of doing range.select("end"), try contentControl.select("end")
2. i wonder if you can insert the file and then wrap it with the content control. Check out [this snippet: ](https://gist.github.com/JuaneloJuanelo/063d7308e971f397172

[2018-04-23 08:02] JuaneloJuanelo commented on #101
btw you are not inserting OOXML, but a base64 encoded docx, right? should we adjust the title?

[2018-04-23 08:08] JuaneloJuanelo commented on #101
tracking with 2285452

[2018-04-23 08:12] JuaneloJuanelo commented on #100
@Zlatkovsky Apparently the npm-generated Office.js seems not to work in MSI builds. apparently is incorrectly reporting that Word 1.2 is supported there (and it does not)

[2018-04-23 09:46] barisbikmaz commented on #101
Thanks Juan, I changed the title.

The alternatives do not really work because range.select('end') is really outside the content control whereas contentControl.select('end') is still inside the content control.

I tried both of your suggestions but the next content control is placed at the end but still inside the content control before.

[2018-04-23 17:17] eblancperso commented on #48
@Zlatkovsky Is it normal that the definitelytyped "office.d.ts" in the @ microsoft/office-js package is not as up-to-date as the definitelytyped "index.d.ts" in the @ types/office-js package.

If you look at the definitelytyped from @ types/office-js, you can see that there is a method named "getSelectedEntities(): Entities;" from Mailbox 1.6, which can be found in the "outlook-win32-16.02.js" fil

[2018-04-25 05:40] JuaneloJuanelo commented on #101
oh sorry i did not get your intention originally...
you can also do soemthing like:

`context.document.getSelection().insertFileFromBase64(file, "replace").insertContentControl().getRange("after").select();`

if you want the range after the boundary of the cc.

[2018-04-25 05:56] JuaneloJuanelo commented on #101
btw the behavior in online is not what we expect with my snippet either, i mean we don't throw but the cc.getRange("after") must get the range outside the cc but its not.  So i think we have a bug to fix here.

[2018-04-25 09:44] JuaneloJuanelo commented on #101
@barisbikmaz : i have a  combination that will work in Online please try this:

Word.run(async(context) => {
        let range1 = context.document.getSelection().insertFileFromBase64(file, "replace");
        let range2 = range1.insertFileFromBase64(file, "after");
        range1.insertContentControl();
        range2.insertContentControl();
       await context.sync();
    });

basically insert t

[2018-04-25 16:15] leoseccia opened #104 "Encoding issue with getHtml()"
getHtml() does not return a string encoded using the correct encoding. It looks like the API is treating UTF-8 Bytes as Windows-1252 or ISO-8859-1

## Expected Behavior
When calling getHtml() I expect that the API returns the html in the correct format, showing the correct characters.

## Current Behavior
getHtml() treat UTF-8 bytes as Windows-1252 or ISO-8859-1. This result in the Html rapresenta

[2018-04-25 17:56] leoseccia commented on #104
In case someone stumbles across this, while experiencing the same issue... I have just added a workaround to my question in StackOverflow: https://stackoverflow.com/questions/50021957/encoding-issue-with-gethtml-in-officejs

[2018-04-26 03:22] JuaneloJuanelo commented on #101
btw just to be super clear, this workaround does not mean we will not fix the associated bug on this issue, we will also offer a fix, but ETA is unknown.

[2018-04-26 06:00] XiangGaoMSFT commented on #101
Just another workaround:
[code]

[2018-04-26 09:57] nitslucky commented on #62
When i try to remove this:
 `<script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>` from the index.html file and add it locally from the node modules folder :
 `<script src="../node_modules/@microsoft/office-js/dist/office.js" type="text/javascript"></script>` its throwing error in console:
![error](https://user-images.githubusercontent.com/23555070/39299276-a51ccdcc-4

[2018-04-26 16:32] mlafleur commented on #62
That isn't an issue with `office.js` itself but how you're serving the library. The error is telling you that https://localhost:3002/node_modules/@microsoft/office-js/dist/office.js is either failing to return anything (thus the `404`).

You need to make sure the javascript it accessible to your page. How you go about configuring that will depend on your app/server. Typically there will be some me

[2018-04-26 16:37] craftytrickster commented on #62
He shouldn't need to host and serve the library on a server at all. Since this is an npm library, presumably to be used in front end html+css scenario, it should just be able to be bundled with the final bundled/minified js that he is likely serving.

[2018-04-26 16:38] craftytrickster commented on #62
If not, there is no reason for this npm library to even exist, because ultimately all it is doing now is pointing to an external cdn to be accessed at runtime.

[2018-04-27 05:46] JuaneloJuanelo commented on #104
I was not able to repro this issue. Actually use script lab to run this snippet. this snippet is sending the HTML of the body into a div in the Add--in taskpane.
Add the Euro or other UTF-8 chars and you will see they are rendered correctly in the taskpane.

if you don't see this result, please reopen and also provide a document and build numbers where the issue is happening.

it returns the encod

[2018-04-27 07:20] leoseccia commented on #104
@JuaneloJuanelo - This issue is still present when running my document with your code... See screenshot and attached doc.
![error in scriptlab](https://user-images.githubusercontent.com/2159624/39349672-b171a51a-49f3-11e8-9371-3fe9668500d8.png)
[simple doc to show encoding issue.docx](https://github.com/OfficeDev/office-js/files/1954146/simple.doc.to.show.encoding.issue.docx)

[2018-04-27 07:22] leoseccia commented on #104
@JuaneloJuanelo - I cannot reopen an issue, closed by someone else... Can you reopen it please?

[2018-04-27 07:46] leoseccia commented on #104
I do not experience this issue when using Word Online via Chrome or IE11. So it is just a desktop issue.

[2018-04-27 08:28] nitslucky commented on #62
I am referencing to the js file as it is written in the document and its the same referencing like any other file from the node modules. And others are being loaded in the app, So it should work too

[2018-04-27 11:29] leoseccia opened #105 "Weird cross-process and cross-platform behaviour"
This is very strange: https://www.screencast.com/t/y5QSucSj

In this video, at the top I have Chrome (Version 65.0.3325.181 (Official Build) (64-bit)) and at the bottom I have Word 2016 desktop.

In fiddler, I can see a POST to https://word-edit.officeapps.live.com/we/OneNote.ashx which might be causing this behaviour...

I doubt it is a local issue as I am just dishing out the html+CSS+js files,

[2018-04-27 15:46] JuaneloJuanelo commented on #104
thanks for adding the file, we'll investigate in more detail.

[2018-04-27 17:31] Zlatkovsky commented on #62
Let me try to create a sample project over the next couple of days, and I'll get back to you.

@craftytrickster , to be clear, this is not a UMD or CommonJS module, in the way that most NPM packages are.  The latter *is* on our backlog, but this package isn't it (at the moment, anyway).  Rather, this is simply a package that hosts a copy of the same files as there are on the CDN.  The intent is to

[2018-04-27 18:39] craftytrickster commented on #62
Thanks for the explanation.

[2018-04-27 20:32] sureshjoshi opened #106 "Word crashes when insertOoxml with footnotes with non-matching IDs"
As OfficeJS does not yet provide a programmatic footnotes insertion API (as far as I can tell), I'm using OOXML to insert footnotes into the document. When programmatically inserting footnotes, with non-matching id's, Word crashes. When the IDs match, the footnotes are created as expected.

## Expected Behavior
With non-matching IDs - either they would be validated themselves (which is what happen

[2018-04-28 13:34] tuantruongminh opened #107 "Can;t show task pane of excel add-in tutorial"
Hi there

I am learning Office add-n and have just been practicing to make a button in excel. I can't show the new button in the excel ribbon even copy and run the complete add-in project from GitHub. Can anyone help?

Best regards

Tuan

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______

[2018-04-29 04:28] Rick-Kirkham commented on #107
@tuantruongminh
The issues for this repo are intended for reported suspected bugs with the Office JavaScript library. For problems with the Excel tutorial, please ask this question in the issues for the tutorial's repo: [Excel-Add-in-Tutorial](https://github.com/OfficeDev/Excel-Add-in-Tutorial)

[2018-04-29 04:28] #107 closed, assigned to nobody

[2018-04-30 07:55] barisbikmaz commented on #101
Hi Xiang,
the workaround does work with this example but when I use another more complex document I get an error on Word Online. You can reproduce it with [this snippet]( https://gist.github.com/barisbikmaz/a1c39f7fe182989ac58e7e34f2aa00fb)

[2018-04-30 09:49] leoseccia commented on #104
@JuaneloJuanelo - also related but different:
- getHtml() returns completely different values between Word Online and Word Desktop. This poses potential issues when developing an addin that needs to run universally, across platforms. It kind of goes against the high-level Office App concept. An example is how bold is converted ie. Word desktop uses `<b>` while Word Online uses `font-weight: bold;`

[2018-04-30 17:36] rameshbc opened #108 "Sheet Unprotect/Protect - race condition/performance issues during Co-Authoring scenario"
We have an excel file with multiple protected sheets in the office365 environment.  In the sheet tables, most of the column cells are locked to avoid user editing the values. (formula, cell value, format).  Few columns where the cells are unlocked, the user can enter/change the values which in turn update the protected cell values.

We are using OfficeJs API to insert new rows and/or change the va

[2018-05-01 12:16] macote opened #110 "insertOoxml() fails to replace content with w:sectPr"
Word fails to replace the content of a content control using insertOoxml() when a content control contains a section properties element without a trailing paragraph.

## Expected Behavior
The content control content is replaced with the supplied OOXML content. After the operation, there's only one section properties element in the content control content.

## Current Behavior
Word tries to replace

[2018-05-02 09:30] XiangGaoMSFT commented on #101
It looks like a different issue and I created internal bug 2302492 to track it.
Will respond you as soon as we get some progress.

[2018-05-03 14:26] michahell opened #115 "completing OnSend seems borked since May update: it May not send and close add-in on certain platforms/browsers"
## Expected Behavior
OnSend actually sends the email and closes add-in.

## Current Behavior

nothing.

## Steps to Reproduce, or Live Example

- can not provide a live example.

- can not create script lab as this relates to Outlook, not Word Excel Powerpoint etc.

* Additional details:
  1. compose a message (recipient, subject, body)
  2. press send with having an OnSend function triggering
  3

[2018-05-03 14:28] michahell commented on #81
indeed. @daniel-white how we solved this:
[code]

[2018-05-03 18:19] macote opened #116 "Content with tables inserted with insertOoxml() is sometimes altered"
Content with tables inserted in a content control with insertOoxml() is sometimes altered in the end result. For example, if a single row, single cell, single paragraph table is inserted, a new paragraph gets inserted in the cell.

## Expected Behavior
The inserted content should be preserved as is when inserted in the target content control.

## Current Behavior
An undesirable paragraph is added

[2018-05-04 03:31] neso613 opened #117 "displayNewAppointmentForm fails on Outlook for Mac when body contains more than 255 characters"
I am developing an Outlook for Mac Add-in using Office.js. I am using `Office.context.mailbox.displayNewAppointmentForm()` to open an Appointment window programmatically:

[code]

If the body text is 255 characters or less, then the appointment window gets opened with the pre-populated body, subject, and location. But if the body text exceeds that size, no appointment window is opened.

I know tha

[2018-05-04 07:22] kanak-infoObjects commented on #117
Am also facing the same issue and already posted the question on StackOverflow. I am not getting any help over there.

The same application works fine on Windows platform but failing for  Mac. Seems like it is a bug. Reference of SO post -

[https://stackoverflow.com/questions/49921467/size-issue-with-body-of-office-context-mailbox-displaynewappointmentform-with-te](https://stackoverflow.com/quest

[2018-05-04 10:05] duncan-smith-bj opened #118 "OWA OnSend functionality varies depending on command button/dialogs being opened"
## Expected Behavior
OnSend event fires a JavaScript function when messages are sent when using a compose mode Mail Add-in that has an OnSend event.

## Current Behavior
We have a compose mode Mail Add-in that has an OnSend event and command button that opens a dialog using Dialog API.

Using OWA in Office 365 with the Add-in enabled and composing a new message:

If the command button is not press

[2018-05-04 14:04] barisbikmaz opened #119 "Exception when inserting a specific document wrapped by a content control in Office Online"
## Expected Behavior
I have a document with a title and a text. This document should be inserted into a new document wrapped with a content control using the insertFileFromBase64 method.

## Current Behavior
The document is inserted but:

1. An error occurs after insertion
2. The content control only wraps the title and not the whole inserted file

## Steps to Reproduce, or Live Example
I have an

[2018-05-04 14:43] barisbikmaz opened #120 "Different Error Messages on Office Online and Office PC when an item is not found"
## Expected Behavior
We are searching the parent content control of the current selection. It can be that the selection does not have a parent content control. In such case an ItemNotFound exception is thrown.

## Current Behavior
Office Online throws a GeneralException instead of an ItemNotFound exception.

## Steps to Reproduce, or Live Example
Open this [gist repo](https://gist.github.com/baris

[2018-05-05 00:08] Rick-Kirkham opened #121 "Excel Chart onActivate and onDeactivate fire repeatedly when chart is selected"
## Expected Behavior
Selecting a chart will fire the onActivated event once and not fire the onDeactivated event.

## Current Behavior
When the chart is selected, the onActivated fires from 5 to 10 times in a row, with onDeactivated firing in between each firing of onActivated.

## Steps to Reproduce, or Live Example
Import the following gist into Script Lab to reproduce. Just follow the instructi

[2018-05-05 00:11] Rick-Kirkham opened #122 "Excel Chart onDeactivated event doesn't fire when another chart is activated"
## Expected Behavior
Selecting a chart and then selecting a different chart will fire the onDeactivated event on the first chart.

## Current Behavior
When one chart is selected and then another, the onDeactivated of the first chart does not fire.

## Steps to Reproduce, or Live Example
Import the following gist into Script Lab to reproduce. Just follow the instructions in the task pane.
* Link to

[2018-05-06 03:27] JuaneloJuanelo commented on #121
you are not registering to the deactivated event, your code i think has a bug.

[2018-05-06 04:00] Rick-Kirkham commented on #121
Good catch. I fixed that and the other bug is fixed, but the symptoms of this one are still happening.

[2018-05-06 04:01] Rick-Kirkham commented on #122
@JuaneloJuanelo  found a bug in my code. That fixed this.

[2018-05-06 04:01] #122 closed, assigned to nobody

[2018-05-07 09:12] dinkom opened #123 "Some inline styling in markup passed to insertHtml() gets ignored"
Some of the inline CSS rules in markup passed to `insertHtml()` get ignored (like `padding-left` and `text-indent`), while some works OK (`color`, `font-weight`).

## Expected Behavior
All styling should work as expected.

## Current Behavior
`padding-left` and `text-indent` are ignored when passed to `insertHtml()` as a part of the markup.

## Steps to Reproduce, or Live Example
Code for ScriptLa

[2018-05-07 11:02] XiangGaoMSFT commented on #120
Thanks for reporting it. This is a known issue and the fix has been checked-in, but we still need sometime to deploy it.
Will let you know once it reaches production environment.

[2018-05-07 13:44] billshander opened #309 ""Side-loading" more than 6 add-ins on Mac"
I had to create a series of add-ins for a project that are all independent of each other. I have 8 total add-ins for the project. Everything is working perfectly, side-loading works (per instructions [here](http://dev.office.com/docs/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac)) BUT there's a problem. I can only see 6 add-ins in the dropdown. There's no way to get the extra 2 add-ins

[2018-05-08 01:11] JuaneloJuanelo commented on #121
@Rick-Kirkham  can you please confirm this issue happens when AIP add-in is active?

[2018-05-08 01:21] JuaneloJuanelo commented on #118
@exextoc  please investigate and follow up. thanks!

[2018-05-08 01:32] JuaneloJuanelo commented on #108
@rameshbc  thanks for raising this issue.
In order to be more effective helping you, we need a sample workbook for this. Can you please share a Workbook (free of PII of course) and also a script lab sample to repro this issue?

that will help us big time when investigating.

thanks!

[2018-05-08 01:35] JuaneloJuanelo commented on #106
yes we can make sure in this case that an exception is thrown, instead of crashing Word.
@sureshjoshi however, please make sure to send the right OOXML to avoid this as a short and long term solution. (until we provide an API for footnotes)

[2018-05-08 01:39] JuaneloJuanelo commented on #97
@barisbikmaz  unfortunately, this is not enough information to repro the issue. for instance, its confusing that you mention "opening a dialog" what exactly you mean by that? is this using our show Dialog API?

I will be helpful if you can add more details and code, otherwise this is non-actionable on our end.

thanks!

[2018-05-08 01:57] Rick-Kirkham commented on #121
Yes. I can confirm.

[2018-05-08 03:10] JuaneloJuanelo commented on #105
I  was not able to repro this issue using a similar add-in from the store, (eg. please try Pickit), maybe this is something associated with your environment/add-in logic.
Closing issue unless solid repro is provided.

[2018-05-08 03:10] #105 closed, assigned to nobody

[2018-05-08 03:52] JuaneloJuanelo commented on #119
@barisbikmaz we need a bit more detail on this to investigate properly.

questions:

1.  do you have a summary of whats different between those documents?
2. can you describe how you created the working and non-working documents?

one theory we have is that you are using a few attributes that are not supported in Word Online, and having an understanding of how the docs where generated will help a

[2018-05-08 05:06] sureshjoshi commented on #106
Thanks @JuaneloJuanelo - that is why I'm trying to do ay the moment. It's a bit tricky when the footnotes are being assembled programmatically, especially dealing with a crash between tests  :)

[2018-05-08 16:24] kanak-infoObjects commented on #117
Hey @mlafleur Did you get some time to look into this issue? My plugin development is complete and ready to publish and this bug is a showstopper in this direction.

[2018-05-09 11:47] tuanjinn commented on #15
Microsoft, any update on this?
@thinksysprem I think you must create an user voice for this

[2018-05-09 23:43] Rick-Kirkham commented on #121
Also affects ChartCollection.onActivated. Snippet: https://gist.github.com/Rick-Kirkham/9cac16a552daf5070fc1cfb46bed415c

[2018-05-10 02:39] TheSamsterZA opened #124 "Sideloading Issue with OfficeJS Outlook Add-in on iOS"
## Expected Behavior

[According to the documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability#outlook), requirement set **Mailbox 1.5** is supported on Office for iOS. I expect that, [by adding mobile support on the manifest](https://docs.microsoft.com/en-us/outlook/add-ins/add-mobile-support), I can sideload my add-in and have it appear on my iOS d

[2018-05-10 05:20] JuaneloJuanelo commented on #119
after further investigation we discovered 2 bugs associated with this issue:

1. 2318752 -  using range.insertFileFromBase64(..).insertContentControl() does not include the entire file  (this is a potential workaround who is also failing)
2. 2318756 - creating a CC and then inserting a file using cc.insertFileFromBase64(..) incorrectly applies style to CC

in the process of getting fixed.

[2018-05-10 19:41] Zlatkovsky commented on #5
FYI, the `onReady` feature has not shipped to the production CDN.

Note there is still one issue (currently being investigated), where it look like on some hosts/platforms (specifically, Outlook Online, but maybe others), there currently still is a requirement to have an "Office.initialize" in order to get the add-in to load.  Having it be empty is totally fine:  `Office.initialize = function() {

[2018-05-14 00:07] TheSamsterZA commented on #124
It is worth noting that my side-loaded add-in appears on Outlook for Android, and I am able to test as I expected. So this is definitely an issue specifically on the iOS side.

[2018-05-14 03:14] binarykitchen opened #125 "Uncaught Error: Sys.ArgumentNullException: Value cannot be null."
Parameter name: conversationId

looks like a new bug. Conversation ID parameter is null :/

here the whole stack trace

[code]

[2018-05-14 03:15] binarykitchen commented on #125
Using //unpkg.com/@microsoft/office-js@1.1.8/dist/office.debug.js as the source btw

[2018-05-14 04:15] exextoc commented on #125
I have not yet been able to reproduce this issue. Could you tell us more about the scenario you are hitting this error? The conversation id should be coming from OWA itself, so I would like to find out a bit about the host. It could help us isolate the issue if you could share additional information like:
- Are you using a business (outlook.office365.com) or a consumer account (outlook.live.com)?

[2018-05-14 05:29] binarykitchen commented on #125
Sorry, never mind, I had a cached index.html with outdated code. Sorry about that.

[2018-05-14 05:31] binarykitchen opened #126 "Recipe for circumventing sandbox error on localhost"
`Error while parsing the 'sandbox' attribute: 'ms-allow-popups' is an invalid sandbox flag.`

I'm seeing that error each time I try to debug an add-in locally on latest Chrome. It prevents me from seeing the authentication dialogue see examples at https://github.com/OfficeDev/office-js-helpers#authentication-1

Already googled but found no answers. Any clues very welcome.

[2018-05-14 05:32] binarykitchen opened #127 "How can I debug in native Outlook?"
When writing JS code and installing the add-in X I can see it behaves differently among web and native interfaces.

On web interfaces I can debug in dev tools fine. But how can I debug i.E. add-in behaviour, the JS execution, on native Outlook?

If seems it doesn't run when I single click on the add-in icon but only when I double click on which which is kinda weird. Hence keen to debug this.

[2018-05-14 12:25] macote opened #128 "Ribbon icon looks blurry in Windows at 175% scale"
In the documentation, we found that it is possible to define [multiple sizes for icons](https://dev.office.com/reference/add-ins/manifest/icon) to support multiple display resolutions and scaling modes. However, according to this [post](https://stackoverflow.com/a/38443813), when the scaling mode is set to 175%, it is expected that Office will use a 56x56 icon (32 * 1.75), but it is not supported.

[2018-05-14 14:20] barisbikmaz opened #129 "Layout breaks when using insertHtml while cursor focuses a content control"
## Expected Behavior
The layout should not break.

## Current Behavior
The document layout breaks. Somehow the footer gets mixed with the header.

## Steps to Reproduce, or Live Example
You need an empty document with:

1. two rich content controls in header
2. one rich content control in footer

Set you cursor inside a content control of the header and use this [Script Lab](https://gist.github.co

[2018-05-14 15:21] mamousch commented on #118
@duncan-smith-bj I'm investigating this issue.  Would you be able to send me either your add-in or a simplified version of it, along with whatever else I might need to repro the issue including your command button?  The demo add-ins I have all still work with OnSend so I need more information to repro.

[2018-05-14 15:24] mamousch commented on #115
@michahell I'm investigating this, but need more information in order to repro, since the latest builds still work correctly with my demo add-ins.  Would you be able to send me your add-in or a simplified version of it, and any more info you think I might need to repro this?

[2018-05-14 15:26] michahell commented on #115
@mamousch I'm sorry I never closed this, as it seems, this behaviour was caused by having a dialog open and *not* `.close()` ing such dialog *before* completing onSend, with or without the `allowEvent` parameter.

Unfortunately I can not share our add-in but adding / removing a `.close()` statement *before* `onSendEvent.completed({ allowEvent: true })`
should be able to deterministically reproduce

[2018-05-14 15:32] mamousch commented on #115
@michahell Thank you for the clarification!

[2018-05-14 17:09] exextoc commented on #127
For debugging add-in running in native Outlook, have you tried using Visual studio https://docs.microsoft.com/en-us/office/dev/add-ins/testing/attach-debugger-from-task-pane or Windows 10 F12 dev tools https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10 ? For the click behavior, we have not heard what you reported. If you are seeing sin

[2018-05-14 18:10] mlafleur commented on #129
I was able to replicate this but also a workaround. You can move the selection back to the body, execute your commands, and then return them back:

[code]

[2018-05-14 18:19] mlafleur commented on #128
This is because `56x56` isn't a supported icon size. Add-in commands support the following sizes (bolded are required):

- **`16x16`**
- `20x20`
- `24x24`
- **`32x32`**
- `40x40`
- `48x48`
- `64x64`
- **`80x80`**

Since there isn't an icon that matches, Office will attempt to scale one of the other icons your defined which is why it looks a little blurry.

Which image sizes are you referencing in

[2018-05-14 18:21] mlafleur commented on #126
This is just a warning that Chrome doesn't support/know what to do with `ms-allow-popups`. It can safely be ignored (which for the record is what Chrome does as well, it simply ignores that flag).

[2018-05-14 18:42] mlafleur commented on #124
Given that your experience is different than the documentation, your post in [office-js-docs](https://github.com/OfficeDev/office-js-docs/issues/1415) certainly makes sense.

That said, posting the same issue in multiple locations is likely to create confusion.  I suggest keeping everything in a single place. Given that this is most likely a documentation error, I'll cross-link back and close this

[2018-05-14 18:42] #124 closed, assigned to exextoc

[2018-05-14 19:06] macote commented on #128
I defined all of them, with 56x56 as an extra hoping that Office was unofficially supporting it.

Is there any plans to support it or should I simply accept that my icons will look blurry at 175%?

Thanks.

[2018-05-14 21:59] binarykitchen commented on #127
Well I am running on MacOS. Would that F12 dev tool work there too?

About the weird single + double click behavior, I can show you the code but it's written in ClojureScript. Would you understand it?

[2018-05-14 22:03] binarykitchen commented on #126
Mmmhhhh ... and are you adding vendor tags for that as well for Chrome? So that it won't complain?

The thing is that I do not see an authentication popup at all here and makes me believe there is a problem.

[2018-05-14 22:39] binarykitchen opened #130 "Lots of noise in console"
When I want to test my add-in on outlook.office.com I am seeing lots of noise in the dev console, having an impact on my developer productivity.

![screen shot 2018-05-15 at 10 38 26](https://user-images.githubusercontent.com/177641/40027030-1f14172e-582c-11e8-9465-6f0e635bc1cb.png)

Why are you sending cookies with more than 4096 characters?

[2018-05-14 22:39] binarykitchen commented on #130
Also too many POST errors for Telmetry:

![screen shot 2018-05-15 at 10 39 13](https://user-images.githubusercontent.com/177641/40027053-3cc5d438-582c-11e8-9b22-eb78e8f10d83.png)

[2018-05-14 23:52] vskh opened #131 "Office.context.auth.getAccessTokenAsync returns error 5009 in Office Online"
`Office.context.auth.getAccessTokenAsync()` (part of Identity API) currently does not seem to work in Office Online despite [claiming to do so](https://dev.office.com/reference/add-ins/requirement-sets/identity-api-requirement-sets).

## Expected Behavior
The following code should log an access token when add-in is opened in Office Online.

[code]
The code above works when add-in is launched in Of

[2018-05-15 00:28] binarykitchen opened #132 "Nothing happens when calling Office.context.ui.displayDialogAsync()"
As the title says, when I run this code

[code]

nothing happens, no dialogue shows up.

If there was a problem, an error, I expect it to be seen in the console

Happens on https://outlook.office.com/ when testing a local outlook add-in.

[2018-05-15 02:02] Rick-Kirkham commented on #132
The URL that you pass to displayDialogAsync has to be hosted in the same domain as the add-in. See here for details: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

You can pass the URL of a UI-less page that immediately redirects to login.microsoftonline.com.

[2018-05-15 02:02] #132 closed, assigned to nobody

[2018-05-15 02:05] binarykitchen commented on #132
@Rick-Kirkham thanks but that URL comes from this endpoint configuration default:

[code]

What endpoint should I be using then? Using the office helper here.

[2018-05-15 02:06] binarykitchen commented on #132
(and printing a warning would be great, saves time debugging)

[2018-05-15 02:48] dorisgega commented on #131
Currently we only support SSO for sharepoint production environment in Office Online. For onedirve.com and outlook.com, SSO will come later (https://dev.office.com/reference/add-ins/requirement-sets/identity-api-requirement-sets). We don't support SSO for ppe environment, so you can not try it in msft.spoppe.com. Which environment are your using ?

[2018-05-15 06:58] pelis opened #133 "Excel: binding.addRowsAsync(...) not working as expected"
There seems to be a bug when trying to add rows to a table under the following condition:
- Table has rows
- The table that the binding refers to is on a sheet that is not active (for example 'sheet 1')
- active sheet, for exemple, is 'myActiveSheet'
- the following code returns success, however, rows are NOT appended:
         binding.addRowsAsync(rowsToAppend, function (result) {
         if (re

[2018-05-15 10:27] pelis commented on #133
I have done a little more testing...
It seems that there are more problems when manipulating table data and formats when the table binding is not in the currently active sheet, such as:
- showTotals formatting is not working properly
- when total Row is displayed, the table gets corrupted

[2018-05-15 16:25] mlafleur commented on #132
The first page needs to be a page in your domain:

[code]

From _that_ page (i.e. `https://mysite/mydialogPage.html`) you can automatically redirect them to `https://login.microsoftonline.com/common/oauth2/v2.0/authorize`. You cannot, however, open that URL directly.

[2018-05-15 16:31] mlafleur commented on #126
This isn't a problem. All browsers ignore attributes that it doesn't recognize. Chrome is just particularly aggressive about surfacing warnings.

This is why you'll often see CSS that looks like this:

[code]

[2018-05-15 16:36] mlafleur commented on #127
There is an article in the documentation that covers this: [Debug Office Add-ins on iPad and Mac](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac)

[2018-05-15 18:05] vskh commented on #131
I am opening https://office.live.com/start/Word.aspx?auth=1. Is it considered OneDrive.com or Office Online? The table on a page you've provided is rather confusing.

[2018-05-15 19:18] Rick-Kirkham commented on #132
@binarykitchen If the Office helpers are passing a URL to displayDialogAsync that is not on the add-in's domain, then that is an issue to raise in the Office Helpers repo: https://github.com/OfficeDev/office-js-helpers

[2018-05-15 21:13] vskh commented on #131
After experimenting a bit I think I understood: if I log in with liveid that seems to use OneDrive as a storage and add-in does not work (this is what table refers to as OneDrive.com). If I log in with orgid, it uses sharepoint as a storage and add-in does work (this is what you referred to as sharepoint environment of Office Online).

Is there a roadmap for the rest of scenarios (OneDrive/liveid)

[2018-05-15 22:03] binarykitchen commented on #132
Right @mlafleur @Rick-Kirkham understand. Have raised this on Office Helpers repo.

And yeah, this did cost me lots of hours, a warning would have been very helpful.

[2018-05-15 22:03] binarykitchen commented on #126
Alright, false alarm then. Thx

[2018-05-15 22:03] #126 closed, assigned to nobody

[2018-05-16 00:02] Rick-Kirkham opened #134 "Table.showHeaders=false crashes Excel"
See this SO issue for details: https://stackoverflow.com/questions/50342241/office-js-the-excel-will-exited-by-using-showheaders

## Expected Behavior
The header text should be blanked out and Excel should not crash.

## Current Behavior
Excel crashes (and relaunches immediately).

## Steps to Reproduce, or Live Example
Just use the customer's code in the SO question.

## Context
N/A

## Your Envi

[2018-05-16 00:15] TheSamsterZA commented on #124
@mlafleur My apologies about cross-posting the issue; I hope you appreciate the confusion I have been experiencing with this. I was not sure whether it was an Office for iOS app problem, or a documentation error.

Given that the documentation was updated in two places back in February/March 2018, I would expect that the client platform (Office for iOS) had pushed out an app update before then. It

[2018-05-16 00:21] binarykitchen opened #135 "Office.context.mailbox.getCallbackTokenAsync never fires callback"
In my app the callback of that code is never fired:

[code]

I do not see any errors in the console when testing locally. Just nothing. While debugging deep in your code, it seems that after `postMessage` nothing happens.

What could this be? Possible reasons? The parent frame, which is outlook.office.com, seems to be receiving the message from localhost but isn't responding.

Thanks for any clues

[2018-05-16 00:31] binarykitchen commented on #127
thanks for the link!

[2018-05-16 03:04] JuaneloJuanelo commented on #98
@nanan14  this issue is now fix, thanks so much for helping make our platform better.
thanks!

[2018-05-16 03:04] #98 closed, assigned to JuaneloJuanelo

[2018-05-16 03:25] dorisgega commented on #131
Currently we don't have an accurate timeline for it. Hopefully we will enable it for Onedrive by the end of July.

[2018-05-16 04:59] binarykitchen commented on #127
hmmm,  unfortunately nothing on that article works. there is no "inspect element" context menu entry in outlook for mac

[2018-05-16 07:04] nanan14 commented on #98
Hi @JuaneloJuanelo , thank you I verified it and its fixed now. thank you for your quick response.

[2018-05-16 08:49] ndreisg opened #136 "ExcelApi 1.1 not available in Office Pro Plus 2016"
ExcelApi 1.1 is not available in Office Professional Plus 2016 for one of my customers (one-time purchase installed via MSI).

I asked him to send me his Office Version and he sent me the following screenshot:

![screenshotaboutexcel](https://user-images.githubusercontent.com/6780383/40106311-bb0093f0-58f5-11e8-8718-265c024b2e3b.png)

According to your documentation, this version should support Ex

[2018-05-16 08:53] duncan-smith-bj commented on #118
Hello,

The Add-in requires our custom server backend which I have running on an Office 365 instance. We can supply you with a login for this if you want to see the problem happen.

I will also create a simpler Add-in without our backend but that will take a bit more time.

We have now replicated the issue on multiple Office 365 tenants, but it never does it when the Add-in is installed into Excha

[2018-05-16 09:11] JuaneloJuanelo commented on #136
No repro. Please advise customer to update or reinstall MSI.

[2018-05-16 09:14] JuaneloJuanelo commented on #136
Assinging to @Zlatkovsky (as per the discussion in stack)

[2018-05-16 09:45] ndreisg commented on #136
As I mentioned above (and on SO) I also have Office installed via MSI.
But my version differs from the customers version (16.0.4639.1000).

I already advised the customer to install the latest updates, but he stated, that he has already installed all Windows Updates.

[2018-05-16 10:30] barisbikmaz commented on #129
In my case it also works if you do clear before.
[code]

[2018-05-16 15:21] mlafleur commented on #127
You want to use Vorlon.JS, not the Safari web inspector.

[2018-05-16 17:53] exextoc commented on #135
Can you share the client that you are using? It seems to be OWA (which browser version) Do you also know if you are on OWA or on OWA Beta? That said I tried reproing and was always able to get the callback, on either OWA or OWA Beta, the callback was called. Is the account on Office 365? Do you see the postMessage failing?

[2018-05-16 19:50] exextoc commented on #132
You can direct to different domains, if those domains are in your \<AppDomains\> section of your manifest.
Also the displayDialogAsync function has a callback parameter, that should be called on error, and return you an AsyncResult with more information.

https://dev.office.com/reference/add-ins/shared/officeui.displaydialogasync

[2018-05-16 19:54] exextoc commented on #130
These are notifications from OWA, I do not believe there is a way to silence them. Depending on your console debugger, can you filter the console so that you only get messages from your code?

[2018-05-16 20:21] Rick-Kirkham opened #137 "Context.document.contentControls.getByTag('MyTag') no longer finds nested controls"
## Expected Behavior
Details are in this SO question: https://stackoverflow.com/questions/50374193/unable-to-delete-nested-content-controls-in-word-with-office-js

In build 1708, Context.document.contentControls.getByTag('MyTag')  would return all controls with the specified tag, even if they were nested inside another tag.

## Current Behavior
As of build 1806 1806 10214.20000, controls that are

[2018-05-16 21:48] binarykitchen commented on #130
Yes I can filter some but then, I won't see any outputs from my code of the same level I have filtered out. Not a good solution. I still would reduce all the above noise for a starter.

[2018-05-16 21:51] binarykitchen commented on #127
That was not clear on this article. And is Vorlon.JS able to debug sessions from native Outlook for Mac OS? Is there a YouTube video for that?

[2018-05-16 22:03] binarykitchen commented on #135
Client? Latest Chrome. Using https://outlook.office.com/owa and my account is admin@testingnz.onmicrosoft.com

Serving my files from `https://localhost:3443`.  The function file which contains code to be run upon press of a button is `https://localhost:3443/index.html`

Configured app domains are:

[code]

Again, the callback in Office.context.mailbox.getCallbackTokenAsync never gets fired and no

[2018-05-16 22:11] Zlatkovsky opened #138 "Allow Office 2016 MSI files to load 16.01 files rather than 16.00"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

[2018-05-16 22:11] Zlatkovsky commented on #136
@ndreisg , it looks like there were 5 APIs -- `getColumnsBefore`, `getColumnsAfter`, `getResizedRange`, `getRowsAbove` and `getRowsBelow` -- that were incorrectly marked in the documentation as 1.1, even though they technically are not.

In fact, if you look at the DefinitelyTyped d.ts file for them (or the IntelliSense you get in VS, that comes from this source or from the "-vsdoc" file in VS 201

[2018-05-16 22:12] #136 closed, assigned to Zlatkovsky

[2018-05-16 22:50] binarykitchen opened #139 "How to define multiple requirement sets?"
I tried this

[code]

But upon manifest upload I see this error

[code]

When looking at the example at https://docs.microsoft.com/en-us/office/dev/add-ins/develop/specify-office-hosts-and-api-requirements it should be correct.

Any clues?

[2018-05-16 22:58] binarykitchen commented on #132
Ok I am trying to use displayDialogAsync() directly instead of using Office JS helpers.

Now I can see a dialog coming up very very briefly like for 5ms then it closes asap. Why?

[2018-05-16 23:07] exextoc commented on #132
It shouldn't, unless you call the close() off the dialog that you get in async result. Are you calling this from an ExecuteFunction or a ShowTaskpane add-in? If it is an ExecuteFunction are you calling event.completed(true), and complete the event before the dialog has been interacted with? If so event.completed() should not be called until you are done with everything that your add-in needs to do

[2018-05-16 23:13] binarykitchen commented on #132
I am calling it right after Office.initialise() whose index.html is loaded upon press of a button.

[2018-05-16 23:15] exextoc commented on #132
In a ShowTaskpane or ExecuteFunction?

[2018-05-16 23:15] binarykitchen commented on #132
ExecuteFunction

[2018-05-16 23:16] binarykitchen commented on #132
and I am not having `event.completed()` anywhere in my code

[2018-05-16 23:38] binarykitchen commented on #132
i also can see that when using i.E. `getCallbackTokenAsync()`, the code/html file closes before its callback for processing the token is run

why can't outlook leave it running until it's told to close everything?

[2018-05-16 23:43] exextoc commented on #132
It should leave everything running, until event.completed() is called, so the fact that it isn't would be a bug if we can repro it. I created a small add-in that just pops a dialog to yahoo.com until the user clicks close on it. I've verified that the dialog stays open in both OWA and Desktop Outlook. Can you try it and see if it repros the problem for you? (https://pastebin.com/xbazxpqu). You may

[2018-05-16 23:56] binarykitchen commented on #132
Thanks. Tried your example. Same problem here, dialog closes asap. Weird.

[2018-05-17 00:06] binarykitchen commented on #132
Tried to disable all add-ons and incognito mode, yet dialog disappears asap.

[2018-05-17 00:19] binarykitchen commented on #132
I can see for a flicker of a second that it's NOT showing the Yahoo page but an older index.html I used before. Cache issue?

[2018-05-17 00:32] binarykitchen commented on #132
Also tried removing my add-in and replace it with a slightly different one under a different name, yet the older removed add-in still reappears.

[2018-05-17 00:36] exextoc commented on #132
That sounds like the add-in is not being updated at all. I'm not sure why that would be. Could the manifest be uploaded to the wrong account? Perhaps none of your changes have been going through?

I asked around anyway, and both this issue and your GetToken issue sounds like an Event.completed() is terminating the add-in early. Something you can try is instead of using ExecuteAction, make a ShowTa

[2018-05-17 00:52] binarykitchen commented on #132
Will try that soon. Meanwhile few more questions on that weird caching issue:
- Do I have to increment version number each time I change the manifest XML?
- Can I somehow open the remote manifest XML to inspect it?
- Is there a trick to clear cache when sideloading? I'm on latest Mac OS using latest Chrome here.

[2018-05-17 00:54] binarykitchen commented on #132
For a flicker of a second I finally was able to see the contents of that weird dialog which should be showing Yahoo instead: it has two buttons [Allow] + [Ignore]. Why asking me for that?

[2018-05-17 01:04] exextoc commented on #132
Sorry I had not realized that you were testing on MacOS Chrome. I will try to repro on a mac machine. On OWA (Outlook on Browsers), displaydialogAsync needs approval from the user to display a pop up. (native clients do not). When you were calling displayDialogAsync before were you not seeing that? If you do not want that permission dialog you need to set displayInIFrame option to be true.

to the

[2018-05-17 02:34] binarykitchen commented on #132
Ok, good, with your above `executeAction()` suggestion I finally see the yahoo page on a separate window instance without completing too early. I think this should be documented.

From there I could fix my code backwards and have everything work fine, yay! Finally, phew!

Thanks so much for your awesome help!

[2018-05-17 04:01] binarykitchen opened #140 "Does the token from getCallbackTokenAsync also work for the Microsoft Graph API?"
I'm experiencing 401 Authorisation errors when I pass on the token I retrieved from `Office.context.mailbox.getCallbackTokenAsync()`

Looking at your documentation it says it's for REST and Microsoft Exchange. So that doesn't say it's a token for Microsoft Graph API as well. Can you confirm here and probably improve documentation on this?

Thanks

[2018-05-17 05:21] binarykitchen opened #141 "Does the REST API support forwarding at all?"
Tried to forward an email with REST API like that:

https://outlook.office365.com/api/v2.0/me/messages/AQMkAGQyZTBkZjQ1LWQ3M2QtNDk2MS04MWI4LTJhNWY1MGRmYzkyNwBGAAADT2XgZSCi_kySETGqKpnYRgcAD-iVVa-h0kS4omDA7LUynAAAAgEMAAAAD-iVVa-h0kS4omDA7LUynAAAAgVOAAAA/forward

But it comes back with a 403 ErrorAccessDenied saying "The api you are trying to access does not support item scoped OAuth."

Using this to

[2018-05-17 05:53] schmkr commented on #130
Not sure about other browsers, but at least with Chrome you can select the context for which you want to see the console (“top” in your screenshot), if you select the frame context in which your addin is running, it already becomes a lot more quiet.
And you can also filter some sources (so not based on a level, but based on the is file that generated the log line). Using that also silences the con

[2018-05-17 07:08] siddharthashw opened #142 "Not able to use showGridlines property of Worksheet Object"
Not able to use **showGridlines** property of Worksheet Object

## Expected Behavior
On sets of worksheet's gridlines flag to false, Grid Lines of that sheet should disappear

## Current Behavior
On sets of worksheet's  gridlines flag to false, Grid Lines of that sheet should are not disappearing and even on

## Steps to Reproduce, or Live Example

[code]

* Additional details:
I have taken refere

[2018-05-17 07:34] JuaneloJuanelo commented on #142
thanks for reporting this. i was able to repro. seems to be that the method is not in Office.js production CDN. We'll fix it soon.

@Rick-Kirkham the script lab sample is broken as it has the old name of the API.

[2018-05-17 08:06] Rick-Kirkham commented on #142
@JuaneloJuanelo The sample is fixed, but a bug in the system for updating the snippets in Script Lab is blocking all changes.

[2018-05-17 08:20] siddharthashw commented on #142
thanks @JuaneloJuanelo for your response. Hope to get this fix soon 👍

[2018-05-17 09:16] ndreisg commented on #136
Thanks for your investigations.

Could this be the update you mentioned?
https://support.microsoft.com/en-us/help/4018369/may-1-2018-update-for-office-2016-kb4018369

On Stackoverflow (https://stackoverflow.com/questions/41023863/runtime-error-officeextension-promise-is-not-defined/41024098) you stated, that OfficeExtension.Promise is available on all hosts with API Level 1.1 since may.
Would this

[2018-05-17 10:33] JuaneloJuanelo commented on #137
This issue is non repro in the current builds.

[2018-05-17 13:54] wertyphil commented on #76
I am also facing this issue, any update on this @JuaneloJuanelo ?

[2018-05-17 18:52] tong-1324 commented on #134
I have turned off the flight for the change that caused this issue. If you restart your excel, the issue should be fixed.

[2018-05-17 19:00] eblancperso commented on #48
@Zlatkovsky I'm sorry to poke you again but is it possible to have an answer about my previous question please? Thank you!

[2018-05-17 19:43] GeorgeHung opened #143 "unlocked cells are still locked in Excel online"
The function below protects the active worksheet and keeps cell A1 unlocked.  After running the function, in Windows and Mac, cell A1 are editable.  However, cell A1 is not editable after running the function in Excel online.

[code]

## Expected Behavior

Cell A1 should be editable after running the function in Excel online.

## Current Behavior

Cell A1 is not editable after running the function

[2018-05-17 20:02] Rick-Kirkham commented on #137
@JuaneloJuanelo  I can reproduce on a more recent build: 1806 10215.20003

[2018-05-17 20:27] Zlatkovsky commented on #48
@eblancperso , sorry, I somehow had missed your previous question.  Thanks for re-pinging me on it.

It's a good question.  In general:

1. The d.ts file published on @types/office-js, https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/office-js/index.d.ts, @microsoft/office-js/dist/office.d.ts, and  http://appsforoffice.microsoft.com/lib/1/hosted/office.d.ts should all be near-i

[2018-05-17 20:30] Rick-Kirkham commented on #137
To repro use this gist: https://gist.github.com/Rick-Kirkham/fb2cce670dec338486464a4ddb2702f1
Be sure you have a content control tagged "Outer" and a second content control inside the first one that is tagged "Inner".

[2018-05-17 21:00] #134 closed, assigned to nobody

[2018-05-17 21:46] binarykitchen commented on #130
Yeah, with those filters I can reduce some noise.

[2018-05-17 21:46] #130 closed, assigned to nobody

[2018-05-17 22:36] mlafleur commented on #141
You need to pass `isRest: true` in order to get back the proper token:

[code]

[2018-05-17 22:42] binarykitchen commented on #141
yessss, that was it! thanks heaps - just wish the error message is a bit more clear

[2018-05-17 22:42] #141 closed, assigned to nobody

[2018-05-18 01:09] timwan10 commented on #135
Was this resolved along with the issue here: https://github.com/OfficeDev/office-js/issues/132 ?

[2018-05-18 01:10] exextoc commented on #135
Was this resolved with the ExecuteFunction changes you made here: https://github.com/OfficeDev/office-js/issues/132 ?

[2018-05-18 01:27] binarykitchen commented on #135
yes and i wish a warning was printed. that would have saved me lots of time.

[2018-05-18 01:27] #135 closed, assigned to exextoc

[2018-05-18 02:27] binarykitchen opened #144 "How to forward an email as an attachment instead?"
There is the `/v2.0/me/messages/12345/forward` REST call to forward the current messgae. It forwards inline by default. How can I change this, to have it forward as an attachment instead?

[2018-05-18 02:39] JuaneloJuanelo commented on #142
turns out this specific API was removed from 1.7 due to a name change. Good news is that the 1.8 release will come soon, so for now its about waiting for the next release, or use it in the beta CDN.

[2018-05-18 05:36] binarykitchen opened #145 "Easiest way to move a message to junk folder via REST API?"
Looking at the [Outlook Mail REST API reference](https://msdn.microsoft.com/en-nz/office/office365/api/mail-rest-operations), there is no simple way to move a message to the Junk folder.

It seems that the `DestinationId` can't be `JunkEmail` . It's not listed here:

Plus there is no API yet for flagging.

Any suggestions?

[2018-05-18 08:09] kanak-infoObjects commented on #117
Hi @exextoc, just wanted to check how long will it take to get fixed? :)

[2018-05-18 13:55] barisbikmaz opened #146 "Reading content controls fails on Office Online when header has more then one content control"
## Expected Behavior
I want to list all the content controls in the document.

## Current Behavior
I get a "**GeneralException: Cannot read property 'z9' of null**" exception when I try to list all content controls in the document.

## Steps to Reproduce, or Live Example
1. Create two rich content controls in the header of an empty document
2. Open the document on Office Online
3. Try to list all

[2018-05-18 16:41] mlafleur commented on #145
The [documentation ](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/message_move )simply fails to list all of the known-folders.  I was able to send a message to Junk using this:

[code]

I've reported this as an issue with the documentation in the MIcrosoft Graph documentation repo: https://github.com/microsoftgraph/microsoft-graph-docs-contrib/issues/7842

[2018-05-18 16:52] #145 closed, assigned to nobody

[2018-05-18 17:01] mlafleur commented on #144
You cannot "forward" as an attachment, but you can create a new message and [attach](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/message_post_attachments) the message to that as an [`itemAttachment`](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/itemattachment).

In the future, I suggest posting questions like this to Stack Overflow and t

[2018-05-18 19:49] eblancperso commented on #48
Thank you @Zlatkovsky for your response! Quick remark here about the latest definitely typed package (under @ types/office-js). My web project is currently setuped to target ES5. When I try to use the definitely typed under @ types/office-js, I get an error about PromiseConstructor. I switched my project's typescript build target to ES6 and it seems to work. Isn't it a bit odd that you use a ES6 f

[2018-05-19 06:30] whj768702 opened #147 "callback in Office.context.ui.displayDialogAsync() not excuted"
## Expected Behavior

yesterday I update word to the newest version. (16.13[180513]), something goes wrong. when i open a dialog window，click close button，Office.context.ui.displayDialogAsync() do not execute callback, so no change to excute dialog.close of callback 。when i open the dialog for the second time, it does not appear。the code of asyncResult is 12007。
forgive my poor English。

## Curren

[2018-05-19 21:54] vskh commented on #131
Thanks, looking forward to it.

[2018-05-19 21:54] #131 closed, assigned to nobody

[2018-05-20 22:51] binarykitchen commented on #145
Ah, that wasn't very clear in the documentation. And what happens if the known-folder "JunkEmail" doesn't exist while moving? Will it be automatically created?

[2018-05-21 02:08] XiangGaoMSFT commented on #146
Hi Baris, I can't repro it. Could you provide a sample doc?

[2018-05-21 02:27] XiangGaoMSFT commented on #120
Hi Baris, the fix has been deployed to PROD.
I'm closing it and please free feel to reopen it if you still hit this issue.

[2018-05-21 02:27] #120 closed, assigned to JuaneloJuanelo

[2018-05-21 03:08] binarykitchen commented on #144
Thanks heaps - the reason I was hesitant to use StackOverflow is that answers come in late there most of the time. All good now.

[2018-05-21 03:08] #144 closed, assigned to nobody

[2018-05-21 04:45] binarykitchen opened #148 "500 Error when adding an item attachment to a draft"
Nice, just caused a couple of 500 errors on your server, grins. Tried to add another message as an attachment to a draft.

The payload (body) was

[code]

Here's the whole CURL command

``
curl 'https://outlook.office365.com/api/v2.0/me/messages/AAMkAGQyZTBkZjQ1LWQ3M2QtNDk2MS04MWI4LTJhNWY1MGRmYzkyNwBGAAAAAABPZeBlIKL6TJIRMaoqmdhGBwAP_JVVr_HSRLiiYMDstTKcAAAAAAEPAAAP_JVVr_HSRLiiYMDstTKcAAADdPhwAAA=/a

[2018-05-21 15:00] bchenhs opened #149 "Outlook Addin API body.getAsync missing some styles on mac"
Office.context.mailbox.item.body.getAsync() on mac misses certain styles, such as bullet points.

Details:
- CoercionType.Html is used.
- Only occurs on Outlook for Mac client, not on OWA.

## Expected Behavior
Insert the following bullet in message body using the client UI:
`• Testing bullets`

## Current Behavior
Call getAsync and receive the following:
`<p class=MsoListParagraph style='text-ind

[2018-05-21 15:40] mlafleur commented on #148
Sorry to hear you're running into issues but questions regarding Microsoft Graph should really be posted to Stack Overflow using the [`microsoft-graph`](https://stackoverflow.com/questions/tagged/microsoft-graph) tag. This isn't the right forum for questions regarding programming against Microsoft Graph.

[2018-05-21 15:40] #148 closed, assigned to nobody

[2018-05-21 21:00] Zlatkovsky opened #150 "Issue with PromiseConstructor in d.ts?"
Per https://github.com/OfficeDev/office-js/issues/48#issuecomment-390313853:

[2018-05-21 21:01] Zlatkovsky commented on #48
@eblancperso , thanks for bringing up the PromiseConstructor issue.  Let me look into it more.  Opening https://github.com/OfficeDev/office-js/issues/150 to track this.  If you have suggestions in the meantime on how else to author the d.ts file to achieve the same result but without the ES6 problem -- I'm all ears :-)!

[2018-05-21 21:33] binarykitchen commented on #148
Done, posted there https://stackoverflow.com/questions/50456887/500-error-when-adding-a-message-item-attachment-to-a-message-draft

But really, when I can cause a 500 error on your server, then that's a bug. And the returned error message isn't very helpful ....

[2018-05-22 06:30] sameera commented on #136
@Zlatkovsky
Could you please take a look at https://github.com/OfficeDev/office-js/issues/44 as well, which is also specific to ProPlus (build 16.0.4266.1003)

[2018-05-22 19:14] bchenhs commented on #149
@mlafleur Thanks for tagging the issue and responding on stackoverflow.

For the Outlook team, is there an alternative way to get/set the body HTML (from a javascript addin) during message compose that we can look into, before this issue is investigated/resolved?

Thanks.

[2018-05-22 20:40] mlafleur commented on #148
Understood. Please do keep in mind that the `500` you're getting is coming from Microsoft Graph (and specifically the Outlook REST API under the covers). This repository is for Office.js which, while tangentially related, is not the same thing.

[2018-05-22 21:42] binarykitchen commented on #148
Aye, got it. Is there a bugtracker for the Microsoft Graph API itself?

[2018-05-23 12:14] eblancperso commented on #150
Can't you use IPromise interface like you used to in a previous version (1.1.6) ?

[2018-05-23 22:26] binarykitchen opened #151 "Button control displaying wrong icon on Outlook for the web"
On top of the manifest, I have defined default icon X for the add-in itself. Further down, for a button control, I have defined an icon Y.

In Outlook (native, MacOS), the button correctly shows icon Y.

But on Office365 (online), the button control mistakenly shows default icon X, but expect Y.

[code]

Again, the Y icon is never shown on the button for Office365