[2018-05-24 08:15] ceyx-azureus opened #152 "Can not reload header and footer in MS Word using officejs api in second time"
I use this method to load templates for document:

[code]
It works fine the first time. The document body is filled with data, and the header and footer as well (body does not contain headers/footers if we take a look into documentation, but in xml from BE contains all document).

## Expected Behavior

So, I simply expect that `header.clear()` fully cleans header and let fill it with new data.

##

[2018-05-24 17:15] exextoc commented on #151
This behavior is currently behaving as designed. Outlook on the web currently uses the default icon as a representative for the add-in since the commands aren't shown individually until the dropdown is selected. However, we do recognize this is confusing behavior and will internally discuss how we could mitigate this issue. Thanks for reporting it.

[2018-05-24 20:02] #115 closed, assigned to exextoc

[2018-05-25 01:37] LanceEa commented on #147
I'm seeing the same error where the first time I load the add-in it works fine. I close the dialog box either via the "X" or via the messageParent/dialog.close() pattern and try to re-open dialog box and it fails.

There is a discussion in Stackoverflow on this same issue that only talks about word but it seems to be just the Mac versions of Office that are causing this issue.
https://stackoverflo

[2018-05-28 01:52] Zlatkovsky commented on #150
I have investigated the issue.

In general, even with "es5", if your **lib** options in the tsconfig.json specified "es2015.promise", you wouldn't have seen this -- which is why I hadn't seen it, either.

However, it's a fair point that it should work even in the default configuration.  Pull request https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26069 addresses this.

[2018-05-28 04:58] binarykitchen opened #153 "Functionality to disable UI controls"
Looks like functionality is missing to disable/enable UI controls. For example disable a "Spam" button when you are already in the Junk folder.

[2018-05-28 09:07] kanak-infoObjects commented on #117
Humble request for an update.

[2018-05-28 09:07] thinksysprem commented on #61
I would really like the answer to the question

Our application is making a request to 'https://telemetryservice.firstpartyapps.oaspapps.com/telemetryservice/telemetryproxy.html' due to the inclusion of
`<script` `src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js"></script>`

1. It is interfering with our requests and causing some trouble while loading it.
2. Even if we get around it

[2018-05-29 00:51] JuaneloJuanelo commented on #153
this is a known issue and currently in our backlog. No ETAs. There is an active uservoice request, please upvote it!
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/6509264-client-side-ribbon-manipulation

[2018-05-29 00:51] #153 closed, assigned to nobody

[2018-05-29 00:55] JuaneloJuanelo commented on #152
@AntonMedviediev  can you please indicate more precisely what office version you are using?  Go to file->account and you will see the Version and build (something like Version 1806 Build xxxx.xxxx) thanks!

[2018-05-29 05:55] ceyx-azureus commented on #152
Microsoft Word 2016 MSO (16.0.4639.1000) 32 bit

[2018-05-29 09:53] macOutlookExtensibility commented on #117
This fix has been checked in. Please use build version > 180518

[2018-05-29 10:14] roebuk commented on #61
Seen as GDPR is now in force and data is being collected without the users explicit, I see this as a clear violation of GDPR. An update on this would be greatly appreciated.

[2018-05-29 10:16] kanak-infoObjects commented on #117
Thanks, @macOutlookExtensibility how do I find this build version and the office js with this fix?

[2018-05-30 04:56] JuaneloJuanelo commented on #152
please c[heck my answer in stack,](https://stackoverflow.com/questions/50461348/how-to-reload-header-and-footer-in-ms-word-using-officejs-api/50596622#50596622) I  think this is not a bug, but more like you need to try a different approach to solve your scenario.

[2018-05-30 05:10] rupesh-malpani-rfh opened #154 "Mouse hover on any of text or button is not working on Custom Excel Add-in"
I have created one fabric component and converted into excel add in. My UI is properly visible on browser with hover effect. Same UI is also properly visible on Excel add in also except the hover thing.
In Simple words hovering on component is not working, i have to hover it on another place in view port to see the hover effect. The behavior is very strange. Also i have to click on button to see t

[2018-05-30 05:17] JuaneloJuanelo commented on #146
@xianggaomsft  please try it in CHROME, it repros there. we are tracking with bug 2353331

[2018-05-30 05:27] JuaneloJuanelo commented on #154
@rupesh-malpani-rfh  we need way more detail to try to help you.  please fill up all the template and add as much info as possible and if you can provide a sample snippet with script lab will or your manifest so we can repro your issue will be valuable. For now i am closing this issue until details are added.
thansk!

[2018-05-30 05:27] #154 closed, assigned to nobody

[2018-05-30 06:08] rupesh-malpani-rfh commented on #154
In my manifest file, I have just added my localhost path, so that I  can see my web page inside Excel 2016 as an Office add-in. To convert it into office add in, I am using `office.js`.

[code]

Now I have created a web page (localhost path) with one simple button(`type="button"`). I want to change the background-color of the button when I mouse hover over it. I added the CSS and its working fine

[2018-05-30 15:30] macOutlookExtensibility commented on #149
Thanks for raising it. We are working on towards fixing it.

[2018-05-30 16:34] PhilSmail commented on #61
**1.	Can you please be transparent about what data you're collecting and why you're collecting it.**

[Phil] The data we are collecting is to ensure that our infrastructure is healthy and that there aren’t specific add-ins causing customers issues. The data we are sending and collecting is in compliance with GDPR per our privacy policy

**2.	Is this data collection 'feature' documented any where?*

[2018-05-30 17:07] exextoc commented on #140
The callback token does not work with Microsoft graph and we do not have plans to do so in near future. Please use AAD authenticated access token for Microsoft graph access. Callback token is intended to work for on-prem exchange configurations and it is only intended to give access to mailbox content while Microsoft graph has additional APIs as well which are some of the reasons it is not support

[2018-05-30 17:12] mlafleur commented on #140
Given that the Outlook REST API and Microsoft Graph are often used interchangeably elsewhere in the documentation, I can see how this might not be immediately clear to developers.

Should this be noted in the [Use the Outlook REST APIs from an Outlook add-in](https://docs.microsoft.com/en-us/outlook/add-ins/use-rest-api)?

[2018-05-30 19:28] Zlatkovsky commented on #140
Adding @Rick-Kirkham from documentation team, to handle the documentation side of things

[2018-05-31 06:44] kanak-infoObjects commented on #117
Hi all,

If you are suggesting about outlook build version. I have upgraded to latest outlook build and still, I can see this bug. Please update me the correct way to get the fix.

Previous version: Microsoft Outlook for Mac Version 16.11 (180311) License: Office 365 Subscription
Current version: Microsoft Outlook for Mac Version 16.13.1 (180523) License: Office 365 Subscription

[2018-06-01 12:56] whj768702 commented on #147
@LanceEa the lateset version has fixed this bug.  >16.14

[2018-06-01 13:09] LanceEa commented on #147
@whj768702 - Thanks, yes I updated to the last build earlier this week and it seems to be working correctly now.

[2018-06-01 14:47] #147 closed, assigned to nobody

[2018-06-03 16:17] ceyx-azureus commented on #152
Thank you for answer one more time:).
I wrote to stackoverflow a couple of minutes ago.
I think I can attach xml example of the document from BE tomorrow, if it can helps.

[2018-06-06 01:55] elegault commented on #140
@mlafleur is correct - I also have fallen into this assumption, and I wish I would have seen this issue last week as it could have saved me several days of banging my head against the desk. :-|

[2018-06-06 03:39] binarykitchen opened #155 "Removing custom add-in throws error"
Not sure where to report this error but this is probably the best place I can think of.

When I remove a custom add-in I'm developing locally, I can see it comes back every time and hasn't been really removed.

Error message is very cryptic. See attached screenshot:

![screen shot 2018-06-06 at 15 39 10](https://user-images.githubusercontent.com/177641/41015765-d2a9c1a6-699f-11e8-8a3d-65b98458e602

[2018-06-06 05:31] JaydevSolanki commented on #118
We are facing this same issue in our product development. Is there any updates or alternatives ?

[2018-06-06 12:49] visual4 opened #156 "Error 5001 with multiple event handlers on Office.EventType.ItemChanged in Outlook"
## Expected Behavior
in the documentation for addHandlerAsync it is stated, that as long as the handler names differ, you can add as many handlers as you want.

[code]
## Current Behavior
the first handler is ok and works like expected.
for the second Handler the callback function outputs
[code]
## Context
I was actually trying to create a rxjs observable from this event with Rx.observable.fromEve

[2018-06-06 16:56] mamousch commented on #118
@JaydevSolanki We never received a version of the add-in which would let us repro the issue, so the investigation has stalled.  We still can't repro it with any of our test add-ins.

[2018-06-06 18:44] kumaro opened #157 "TypeError: Office.context.mailbox.item.bcc is undefined"
not able to get bcc's

## Expected Behavior

load bcc's
## Current Behavior

typerror item.bcc is undefined

[2018-06-07 02:57] hanzhangyu opened #158 "CustomTab & Worksheet visibility dose not work in excel 64bit"
See this issue for details: https://stackoverflow.com/questions/50616329/office-js-customtab-worksheet-visibility-dose-not-work-in-excel-64bit
## Expected Behavior

The Excel 64bit show the `customTab` and hide the worksheet.

## Current Behavior

When I insert the addin the excel show the web panel only. and the worksheet were all showed.
But It\`s works well after I debug the addin by `visual st

[2018-06-07 06:17] JuaneloJuanelo commented on #152
@AntonMedviediev  also can you please clarify what you mean by "BE"

[2018-06-07 06:21] splinter opened #159 "Outlook API: loadCustomPropertiesAsync does not return CustomProperties for shared mailboxes"
The loadCustomPropertiesAsync behaves inconsistently across Outlook clients.

## Expected Behavior
The [loadCustomPropertiesAsync](https://dev.office.com/reference/add-ins/outlook/1.3/Office.context.mailbox.item) should return a [CustomProperties](https://dev.office.com/reference/add-ins/outlook/1.3/CustomProperties) object across all Outlook clients when accessing a shared mailbox. The same metho

[2018-06-07 06:41] splinter opened #160 "[Outlook] Outlook add-in not enabled for shared mailbox in Windows Outlook 2016 client"
The add-in  throws an error saying that the add-in scenario is not supported when attempting to activate it for a shared mailbox.

## Expected Behavior
The add-in should be activated or the add-in button should be disabled. Are shared mailboxes supported by add-ins?  We have noticed contradicting behaviour:
- Mac Outlook 2016 - Works
- Outlook online - Activates but some API calls fail
- Windows O

[2018-06-07 09:17] barisbikmaz opened #161 "Closing a dialog is not triggering an event on Mac anymore"
## Expected Behavior
When I close the office.js dialog on Mac, I can do further actions because I get the Office.EventType.DialogEventReceived event.

## Current Behavior
When I close the dialog with the x close button of the dialog window or using dialog.close() the DialogEventReceived is not triggered.

Also when I open and close a dialog and when I try to open a dialog again an error is throw w

[2018-06-07 10:00] pupaxxo commented on #3
Same with outlook. Please fix it!

[2018-06-07 14:10] visual4 commented on #156
In Outlook Client Version 1805 Build 9330.2087 on Win 10, multiple handlers work like expected.

[2018-06-07 16:57] exextoc commented on #156
That sounds good. Should we consider this as resolved then?

[2018-06-07 21:57] exextoc commented on #160
This question has been answered here: https://github.com/OfficeDev/office-js/issues/159

[2018-06-07 21:57] #160 closed, assigned to nobody

[2018-06-07 21:57] exextoc commented on #159
Add-ins for shared mailboxes is currently not supported. This is a feature we are investigating actively for all clients.

[2018-06-08 18:56] ElizabethSamuel-MSFT commented on #140
The update should be published next week. Please reopen if more clarification is needed. Thanks.

[2018-06-08 18:56] #140 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2018-06-12 06:02] bandhan-nawal commented on #117
Hi all, I am also facing this issue. Please respond asap.

[2018-06-12 07:59] macOutlookExtensibility commented on #117
HI,
Could you please try the latest insider fast build and verify if the issue is still happening.
Instructions to get insider fast build is available here:  (https://products.office.com/en-in/office-insider?tab=Mac ).
16.13.1 (180523) is a production build and do not have this fix.

[2018-06-12 09:15] bandhan-nawal commented on #117
Hi,
Now this is working fine in insider fast build. Thanks a lot.
Can you tell me when will this fix roll out for production builds?

[2018-06-12 09:27] macOutlookExtensibility commented on #117
Thanks bandhan for confirming it. The fix would be available as part of the July production release which normally happens in the 2nd week of July.

[2018-06-12 12:10] leoseccia opened #162 "getHtml() returns completely different values between Word Online and Word Desktop"
getHtml() returns completely different values between Word Online and Word Desktop. This poses potential issues when developing an addin that needs to run universally, across platforms. It kind of goes against the high-level Office App concept. An example is how bold is converted ie. Word desktop uses `<b>` while Word Online uses font-weight: bold; as an inline style.

## Expected Behavior
getHtml

[2018-06-12 12:12] leoseccia commented on #162
here is another example of where this is an issue on top of another issue: https://stackoverflow.com/questions/50816620/cross-references-anchors-and-links-from-a-document-in-word-using-the-javascript

[2018-06-12 12:13] leoseccia commented on #162
this is also related: https://stackoverflow.com/questions/50021957/encoding-issue-with-gethtml-in-officejs

[2018-06-12 12:19] leoseccia opened #163 "getHtml() in Word Online returns html with correct UTF-8 values, however it does not contain <meta charset="UTF-8" />"
getHtml() in Word Online returns html with correct UTF-8 values, however it does not contain <meta charset="UTF-8" />. This means that when you save and display the document in the browser the UTF8 characters do not display correctly. Adding the meta tag, solves the issue.

This is directly related to https://github.com/OfficeDev/office-js/issues/104

[2018-06-12 20:02] exextoc commented on #117
Related to outlook for Mac, so ignoring

From: bandhan-nawal <notifications@github.com>
Sent: Monday, June 11, 2018 11:02 PM
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Exchange Extensibility Oncall <exextoc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] displayNewAppointmentForm fails on Outlook for Mac when body contains more than 255 chara

[2018-06-13 08:01] barisbikmaz commented on #161
Seems to work again with 16.14.

[2018-06-13 08:01] #161 closed, assigned to nobody

[2018-06-14 03:00] binarykitchen opened #164 "Missing API for retrieving folder of Office.context.mailbox.item"
Looking at your latest API in https://dev.office.com/reference/add-ins/outlook/preview/Office.context.mailbox.item it seems there is no way to find out the folder the currently selected message resides.

Think this is an important feature. Already searched on StackOverflow, Github and in your code base for answers but nah, no luck.

I don't want to retrieve a full folder list and compare their mes

[2018-06-14 15:57] leoseccia opened #165 "getHtml() does not create anchors and hyperlinks for cross-references"
getHtml() does not create anchors and hyperlinks for cross-references (_Ref bookmarks). This is inconsistent with the way other hidden bookmarks are implemented such as the Table Of Contents ones (ie. _Toc)

## Expected Behaviour
  - getHtml() converts _Ref bookmarks to anchors and hyperlinks like it does for _Toc bookmarks.

  - The returned html from Word Online and Word Desktop is the same.

##

[2018-06-14 19:30] stowellt opened #166 "AppDomains not needed in Office add-in manifest for external domains?"
I created a simple Office add-in with a manifest that has no `<AppDomains>` section. I then added the following link to the add-in .html file:

`<a href="https://www.tutorialrepublic.com">Test</a>`
When I load the add-in in either Office Online or desktop MS Word and click the link, the addin frame loads the html from www.tutorialrepublic.com.

I would have expected that this would be blocked acco

[2018-06-14 19:43] Rick-Kirkham commented on #166
I'm consulting with the product team about this. I think the documentation is wrong. It should say that URLs with the http (as distinct from https) protocol have to be listed in AppDomains. But https domains do not need to be. (I think what the docs say was originally true but that changed at some point.) I'll report back on your StackOverflow issue when I get confirmation. Please add a comment to

[2018-06-14 19:43] #166 closed, assigned to nobody

[2018-06-14 22:20] binarykitchen commented on #125
Ah, now I know how to reproduce. This happens when you pass on a non-string variable to

[code]

It should convert objects to a pretty string and truncate them or so. But not crash.

[2018-06-14 22:25] binarykitchen opened #167 "Missing API to flag a message as Junk"
Would be good to have that instead of moving it to the Junk folder.

[2018-06-14 22:36] binarykitchen commented on #155
This error seems gone. Someone from Microsoft must have fixed this. Is there another, better bugtracker where I can report Office 365 bugs like these?

[2018-06-15 20:25] aplihs opened #168 "body.search Issue in word desktop"
context.document.body.search(<TextMoreThan255Chars>) is throwing an InvalidArgument exception only in word 2016 desktop client when the text to search for is > 255 characters long. The same seems to be working in word online version.

## Expected Behavior
Should search for text >255 chars

## Current Behavior
InvalidArgument exception in word 2016 desktop client

## Steps to Reproduce, or Live Exa

[2018-06-16 05:22] kcthota commented on #11
+1

[2018-06-18 05:31] mikeowen85 opened #169 "Please update accordingly and CC with copy to soon5265@gmail.com"
## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office Onl

[2018-06-18 11:10] mblennegard opened #170 "Visio error when using page.activate and a load() method together"
## Expected Behavior
I am trying to retrieve the first page of a Visio chart, using the Visio Online API, first by retrieving the page name, which is then used to activate the specific page.

The expected behavior is that the page will be activated.

## Current Behavior
When using, what appears to be any load() method, in the same session (OfficeExtension.EmbeddedSession), the Visio throws an erro

[2018-06-18 20:36] mlafleur commented on #169
This looks like an issue created in error

[2018-06-18 20:36] #169 closed, assigned to nobody

[2018-06-18 23:24] binarykitchen opened #171 "Function to close window after completion"
There is no functionality to close the window when an add-in has completed the event.

When you double click on a message in Outlook Online, it opens in its own window. Then whenever you do an action and perform it, it closes.

But not when you run an add-in event. Probably this is by design. But we really need to close it in our case. Configurable in the manifest or is that a missing function in

[2018-06-19 03:40] binarykitchen opened #172 "loadCustomPropertiesAsync() never fires callback"
In my code it seems the callback for loading custom properties never gets called.

[code]

"hello" never gets printed.

Following this example here
https://docs.microsoft.com/en-us/outlook/add-ins/metadata-for-an-outlook-add-in#custom-data-per-item-in-a-mailbox-custom-properties

But no, with the version fetched from `//unpkg.com/@microsoft/office-js@1.1.8/dist/office.js` that callback really neve

[2018-06-20 08:45] ndreisg commented on #138
@Zlatkovsky Hi, any updates on this?

Also you mentionend in #136 that we could also convince Office 2016 MSI to load 16.01 files with an update. We suggested our customer to install the following update: https://support.microsoft.com/en-us/help/4018369/may-1-2018-update-for-office-2016-kb4018369
Unfortunately that update did not have the desired effect.
Could you please find out which update we n

[2018-06-21 08:54] htryggva opened #290 "Web Inspector doesn't work for Dialogs"
Being able to use the Web Inspector for add-in panes is fantastic but it unfortunately doesn't seem to work for dialogs opened using the Office.context.ui.displayDialogAsync method.

Whenever I right click on the dialog and click 'Inspect Element', the bottom of the dialog starts flickering.

[2018-06-22 00:43] Reezaali commented on #290
@htryggva what version of office are you using?

[2018-06-22 05:46] ndeeH opened #173 "PowerPointOnline: Content AddIn closes Presentation when showing Dialog"
We have implemented a Powerpoint Content Addin and build an authentication flow as described here:
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/dialog-api-in-office-add-ins.md#use-the-dialog-apis-in-an-authentication-flow

In desktop presentation mode this works pretty well - in the online versions presentation mode opens fullscreen and it seems opening the dialog will c

[2018-06-22 06:40] htryggva commented on #290
@Reezaali I'm on version 16.14.1

[2018-06-22 09:45] dorisgega commented on #173
Hi, how did you try your addin in Powerpoint online ? Did you use the "Upload my add-in" feature to upload your add-in manifest from local to Powerpoint online ?  I uploaded a content add-in manifest from my local to PPT online, and then tried to open the presentation mode, but the presentation mode will not be opened successfully, it just flashed out and return to the edit mode. So I want to conf

[2018-06-22 10:23] ndeeH commented on #173
We use the O365 Admin Center to use the PPT AddIn in the online versions.
Our content add in will be refreshed by PPT online when switched to presentation mode.
The refresh will result in opening a dialog to validate the authentication (in PPT Desktop this will just be open and is immediatly closed. It is the only possibility to proper authenticate).

[2018-06-22 10:46] dorisgega commented on #173
I think you are using the window dialog in your add-in since it is for authentication scenario, right ? After your add-in refresh, is there a new window notification (like your add-in wants to display a new window. Allow Ignore) shown up ? You mean after you click the Allow button, the authentication window opened, but the presentation mode was closed ?

[2018-06-22 11:07] ndeeH commented on #173
Allow/Ignore is only displayed when not in presentation mode.
In presentation mode a fullscreen window is opened and immediatly closed.
So no chance to allow :(

[2018-06-22 13:41] rahul-mi commented on #170
I believe this was due to another known issue, which has been fixed now and should be available for you. load() and activate() can be used together and I tried out your code and it executed fine. Can you confirm if it works for you now or you are still facing issues?

On a related note, you can also activate that page by using document.setActivePage(pageName) API which removes the dependency on ac

[2018-06-22 17:43] shawnmcdowell commented on #16
Thanks for your patience, this issue has been fixed in Windows.  Please click the Check for updates button in the Windows Update settings app to pick up this fix.

[2018-06-22 17:45] laurence73 commented on #16
Thanks Shawn! appreciate you guys sticking with it...

[2018-06-22 18:48] #16 closed, assigned to nobody

[2018-06-22 22:10] exextoc commented on #172
Hi binarykitchen,

we just tried to reproduce this on our side, but couldn't. What version of Outlook or OWA are you trying to do this in? is code execution getting to the loadCustomProperties call?

[2018-06-22 22:13] exextoc commented on #171
Hi,

we do have the item.close() API. Is that what you're looking for? What's the scenario in your case?

[2018-06-22 22:22] exextoc commented on #164
The way to do this would be to get the item id of the current item, then use graph or EWS to look up the folder id.

[2018-06-24 20:50] mblennegard commented on #170
Hi,

The issue still persists, even when using the document.setActivePage()
method.

I am using the following API file:
https://appsforoffice.microsoft.com/embedded/1.0/visio-web-embedded.js">

I believe this is the latest version of the API?

Best regards,
Marcus

Den fre 22 juni 2018 kl 15:41 skrev Rahul Mittal <notifications@github.com>:

[2018-06-24 22:53] binarykitchen commented on #171
Nope, this function seems missing.

`Office.context.mailbox.item` doesn't have a close function. And it's not documented in  your API docs either.

My scenario is just to close the window after pressing an add-in button.

[2018-06-24 22:58] binarykitchen commented on #172
I found the problem in my case. It was something else.

I put the above async code inside `Office.initialise()` which was plain wrong. Any code going in there must be synchronous. Anything async will have weird, unforeseen consequences and code is becomes instable.

If you want to add async code, you must drop them inside the `ExecuteFunction` function.

This is not documented. To save other devel

[2018-06-25 04:31] rahul-mi commented on #170
Hi,

I tried out your code in Edge browser and found it working, so I believed that the issue might have been due to something else that we fixed recently.

I deleted the comment later as I found that issue still exists on Chrome. Let us investigate the issue and come back. Thank you for your patience.

And yes, the above link points to the latest version of the API.

Regards,
Rahul Mittal

[2018-06-25 05:47] mblennegard commented on #170
Hello again,

Now when I try it, it works fine in both Chrome and Internet Explorer.
Have you done something new to the API file?

Last night when I tried it didn't work.

Best regards,
Marcus

Den mån 25 juni 2018 kl 06:32 skrev Rahul Mittal <notifications@github.com>:

[2018-06-25 07:23] mblennegard commented on #170
Hmm, when trying now it doesn't work again.
Seems like the issue was temporarily gone, but is now back again.

[2018-06-25 08:17] dorisgega commented on #173
I have tried to insert my DialogAPI add-in from "My Organization" tab, then I can trigger the DialogAPI to show the Allow/Ignore in presentation mode. So I think this issue may not related to DialogAPI. But it still is a issue for showing add-in in ppt presentation mode. Can you give me the browser Console Errors after the presentation mode is closed ? Or can help to confirm whether there is error

[2018-06-25 09:05] michahell opened #174 "Outlook 365 bug? sent-item message details shows nothing"
I think this is a bug, or otherwise very confusing.
If you right-click a message in your `sent-items` folder:

![screen shot 2018-06-25 at 10 58 07](https://user-images.githubusercontent.com/225784/41841195-f4baa93c-7867-11e8-9295-b58ba2a084d6.png)

then open `message details`, you get an empty dialog without any info:

![screen shot 2018-06-25 at 10 56 42](https://user-images.githubusercontent.co

[2018-06-25 10:20] ndeeH commented on #173
Here are the errors I get when opening presentation mode in **Chrome** - which will open a Dialog:
![image](https://user-images.githubusercontent.com/11518242/41844811-b302d316-7871-11e8-8604-c282021946bd.png)
and in **Firefox**:
![image](https://user-images.githubusercontent.com/11518242/41844969-2a74823c-7872-11e8-9301-ba52135bdd06.png)

[2018-06-25 10:21] ndeeH commented on #173
The presentation mode is immediatly closed.

[2018-06-26 03:12] dorisgega commented on #173
Thank you for this information. This is an issue showing add-in in presentation mode, it is not an issue with DialogAPI. We already have a VSO bug 2403193 to track this issue. And there is an engineer now working on the fix.

[2018-06-26 08:09] dgrudenic opened #175 "Same TaskpaneId for different actions does not work on Office for Mac 16.14.1"
Use of same TaskpaneId for different actions that share the same pane does not work on Office for Mac 16.14.1 (180613).

Here is a snippet of current Manifest:

                <Control xsi:type="Button" id="Team.OpenCommand">
                  <Label resid="Team.OpenCommand.Label" />
                  <Supertip>
                    <Title resid="Team.OpenCommand.TipTitle" />
                    <

[2018-06-26 10:11] botalla opened #176 "Excel Ribbon defined in sideloaded manifest doesn't appear in Excel for iPad"
## Expected Behavior
We have created an addin which add a new Ribbon in Excel with 2 groups, 3 buttons and 3 associated JS functions which interact with the spreadsheet.
It works well on Excel Online and Excel Desktop.
I'm trying to get the same on Excel iPad

## Current Behavior
I'm using the sideloading method (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in

[2018-06-26 10:12] botalla commented on #176
here is my manifest

[2018-06-26 10:12] botalla commented on #176
Here is my manifest (renamed with a .txt extension for attach purpose)
[rimes2.xml.txt](https://github.com/OfficeDev/office-js/files/2136680/rimes2.xml.txt)

[2018-06-26 14:33] Sam2243 opened #177 "Powerpoint add-in: Get the subtitiles of the selected slides"
Hi,

I am making an add-in for powerpoint and one of the use case is a user selects a slide or multiple slides and I want to extract the text of the selected slides. I am using the following code but I just get the title, id and index information of the slide and not the subtitles. Can anyone please help me? :) here's the code

[code]

[2018-06-26 20:53] Rick-Kirkham opened #178 "toJSON always returns empty object when called on Collection object"
## Expected Behavior:

SOME-OFFICE-OBJECT`Collection.toJSON` should return an object with an `items `property which is an array of SOME-OFFICE-OBJECT`Data` objects.

## Current Behavior:

The object returned is empty. It has no `items `property.

## Steps to Reproduce, or Live Example:

Use this code:

[code]

## Your Environment:

* Platform: PC
* Host: Excel
* Office version number: 1807 10320.2

[2018-06-27 04:08] petehallett opened #179 "General Exception on context.sync after loading custom workbook properties with Excel Online only"
I'm working on a project that requires access to the Custom Properties of a Workbook. i.e.

`context.workbook.properties.custom;  `

I need to check to see if there are any Custom Properties in the workbook when I load the TaskPane.

My project works with Word Desktop, Word Online, Excel Desktop however produces an error in Excel Online.

I have created a sample project to demonstrate this problem

[2018-06-27 17:51] Rick-Kirkham commented on #179
@petehallett
The following very simple code works for me on both Excel and Excel Online. Please see if it works for you. If it does, you can try to discover what it is in your code that's causing a problem with Excel Online.

    await Excel.run(async (context) => {
        var countOfCustomProperty;
        var customProperty = context.workbook.properties.custom;
        customProperty.load();

[2018-06-27 18:54] tong-1324 commented on #179
@Rick-Kirkham Thanks for following up on this.

@petehallett Thanks for letting us know the issue, and sorry about the problem. I could repro the issue on my side. It happens when you have an workbook with no custom properties and you try to call customProperties.load() in Excel Online. I have located the bug and I will have a fix on it very soon. I will let you know once the fix is checked-in. Fo

[2018-06-27 23:30] jcjolley opened #180 "When a sheet is named "New", WorksheetCollection#getItemOrNullObject returns a proxy object with 'isNullObject' set to true."
When a sheet is named "New", WorksheetCollection#getItemOrNullObject called with the string "New" sets Worksheet.isNullObject to true.

## Expected Behavior
When a sheet named 'New' exists in the workbook, WorksheetCollection#getItemOrNullObject called with the argument "New" should return a proxy object whose 'isNullObject' property resolves to 'false' after calling context.sync()

## Current Beh

[2018-06-28 08:50] mblennegard commented on #170
I have kept testing for the last few days and it seems that this error has been fixed.

My function now works perfectly, first retrieving the first page name after the **pages.load()** method has been executed via a **context.sync** call and then activated via the **page.activate()** method.
The document.setActivePage() method works fine as well.

However, the original error (in my first post for

[2018-06-28 09:23] mblennegard opened #181 "Visio container is non-clickable in the upper left hand corner in Internet Explorer"
## Expected Behavior
The expected behavior is to be able to click any shape in a Visio chart.

## Current Behavior
The current behavior is that the shape does not get selected. It is just like the shape is only an image.
What's strange is that the exact same shape is actually clickable in other browsers, such as Chrome and Edge.

## Steps to Reproduce, or Live Example
After some testing I noticed

[2018-06-28 18:55] wertyphil opened #182 "Forwarded attachment Id is invalid in Outlook Desktop"
My application is getting an access token and a list of attachment Ids (provided by `Office.context.mailbox.item.attachments`), then I send it server side (ASP.NET) to download their contents.
I try to download their contents using the ExchangeService Manage API, but GetAttachments returns an error.

## Expected Behavior
Attachments ids should be valid on a forwarded email.

## Current Behavior
A

[2018-06-28 20:44] JuaneloJuanelo commented on #181
sorry this issues are not tracked on this repository I suggest you to send a question in stack overflow with he #office-js tag.

[2018-06-28 20:44] #181 closed, assigned to nobody

[2018-06-28 20:55] mblennegard commented on #181
@JuaneloJuanelo ; Isn't Stack Overflow more for asking questions on topics?

This is clearly a **bug** with the Visio API.
Does it not belong here on Github then?

Den tors 28 juni 2018 22:44Juan Balmori <notifications@github.com> skrev:

[2018-06-28 21:08] JuaneloJuanelo commented on #180
@jcjolley  thanks for reporting this issue. I was able to repro. Very weird. btw it also reproes in excel Online.

[2018-06-28 21:16] JuaneloJuanelo commented on #180
internally tracking with 2412116

[2018-06-28 21:57] weidezhong-zz commented on #180
Thanks for reporting the bug. We can repro it internally. We will make a fix soon.

[2018-06-28 22:29] exextoc commented on #171
You are correct in that we do not have a close function for read mode. It only exists for compose.

Having an item.close() API for a read item is not a common request from developers so it is not high on our priority list. We suggest you submit this feature request to our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) as it allows us to p

[2018-06-29 17:37] exextoc commented on #172
You can call async code in Office.Initialize(), but at anypoint Outlook will call your ExecuteFunction function. If ExecuteFunction finishes before whatever async calls you made in Office.Initialize(), and you complete the event, then it will close your add-in and you won't get any results. You could also wait for your callback to finish, before completing the event, in execute function.

For UILe

[2018-06-29 17:59] exextoc commented on #182
This issue should have been fixed in Office C2R Version 16.0.8303.1000 and later.

However, e-mails that were downloaded to the offline cache (OST) in versions OLDER than that, will still be incorrect even after the upgrade. (newly received e-mails after applying the fix, should be fixed)

You can trigger a re-download of these e-mails by deleting your OST. I don't have a direct link to these inst

[2018-06-29 20:53] JuaneloJuanelo commented on #179
Seems to be an issue with @petehallett 's code. awaiting for him to validate before closing.

[2018-06-29 20:55] JuaneloJuanelo commented on #178
@Zlatkovsky  can you please take a look?

[2018-06-29 20:57] JuaneloJuanelo commented on #177
this is not supported in the API please open a case in our user voice channel. https://officespdev.uservoice.com/

[2018-06-29 20:57] #177 closed, assigned to nobody

[2018-06-29 21:04] JuaneloJuanelo commented on #171
this is a feature request, hence closing this item.

[2018-06-29 21:04] #171 closed, assigned to nobody

[2018-06-29 21:05] JuaneloJuanelo commented on #168
unfortunately this is a known issue and a limitation in Word for Windows. we might improve it in the future please upvote a request in our user voice channel.
https://officespdev.uservoice.com/
thanks!

[2018-06-29 21:05] #168 closed, assigned to JuaneloJuanelo

[2018-06-29 21:15] JuaneloJuanelo commented on #176
yes, add-in commands are not yet supported in iOS, that's why you cannot see it.  please upvote this request in our uservoice channel.
https://officespdev.uservoice.com/

[2018-06-29 21:15] #176 closed, assigned to JuaneloJuanelo

[2018-07-01 09:50] petehallett commented on #179
@tong-1324
I can confirm that your recommended method of Not calling a load on the customProperties object will allow me to get a count on the Custom Properties of the workbook, i.e.

[code]
However the other option of specifying the properties in the load call also produces the General Exception error. i.e.

[code]
This is once again only occurring within Excel Online. Not Desktop or Word Desktop

[2018-07-01 22:06] binarykitchen commented on #172
Right, I found that out myself. But wish this was documented. Can you add this for better DX?

[2018-07-02 05:39] ceyx-azureus commented on #152
Sorry for so long delay, I mean back-end.

[2018-07-03 10:05] ndeeH opened #183 "Settings.SaveAsync() not persistent when used in PowerPoint Online"
We failed at store validation because the Settings API is not working as expected in PowerPoint Online.

- Create a new presentation with PowerPoint Online
- Add an Add In with use of Settings API to save a value

**Example:**
[code]
- asyncResult.status says "succeeded"
- Save the document (done other changes in the slide to force auto-saving)
- Close document
- Trying to get the value when loadi

[2018-07-03 10:07] visual4 commented on #156
sorry for the delay,
no, in Web client the handler does not work like expected, only in Outlook for Windows it does.
Cheers,
Björn

[2018-07-03 10:49] ndeeH opened #184 "PowerPoint Online: Preview Thumbnails do not update when add in uses iFrame"
Simply add the Microsoft Add In **WebViewer** in PowerPoint Online and press preview.
In the slide the Wikipedia site is shown - the preview thumbnail shows an emtpy add in:
![image](https://user-images.githubusercontent.com/11518242/42215649-67caad98-7ebf-11e8-8d10-52a48403e018.png)

**So Content Add Ins in PowerPoint Online that use iFrames are not be rendered properly in the thumbnails of the s

[2018-07-04 02:47] TheSamsterZA opened #185 "Sideloading Issue with OfficeJS Outlook Add-in on Outlook 2016 for Windows"
## Expected Behavior

From Outlook 2016 for Windows, I expect that sideloading my add-in via a manifest should work.

## Current Behavior

Sideloading my add-in with a manifest [that contains mobile support](https://docs.microsoft.com/en-us/outlook/add-ins/add-mobile-support) does not work. I can pick the manifest, the add-in appears on the list under "Custom add-ins", but when I close the Office

[2018-07-04 03:57] TheSamsterZA commented on #124
As of 4 July 2018, `Outlook for iOS 2.83.0` now correctly side-loads my add-in for testing.

[2018-07-04 05:51] exextoc commented on #185
I believe you have hit a recent regression.  The bug should be fixed in the latest C2R. Thank you for the detail repro steps.
Just to confirm, I have tried your repro steps. I follow your step 2, with your manifest copy and pasted as is, including <MobileFormFactor> section. I can see the add in "[TEST] TitleX Mail Manager" in the home tab. I am using a slightly newer version (build 10323.20000 Cl

[2018-07-04 06:14] ndeeH commented on #183
Please validate this issue and tell me if it is a bug. We have to know this for our store validation!
(You could have our manifest to try it out)

[2018-07-04 06:22] TheSamsterZA commented on #185
Amazing! Updating Outlook 2016 for Windows from:

`Version 1807 (Build 10313.20013 Click-to-Run)`

to

`Version 1807 (Build 10325.20017 Click-to-Run)`

fixed the problem.

Thanks for getting on this so quickly @exextoc!

[2018-07-04 06:22] #185 closed, assigned to nobody

[2018-07-04 13:27] Ideline opened #186 "Mailbox Item - Add resources operation"
I'm trying to compose an appointment in Outlook using my custom add-in for the calendar. I need to be able to book a room by providing the rooms email and name. Right now I'm setting the location (name of the room) using Office.context.mailbox.item.location.setAsync and the only way I have found to book the room is by setting the room as a required attendee using Office.context.mailbox.item.requir

[2018-07-04 17:47] exextoc commented on #186
This is not possible today. However, we track Outlook add-in feature requests on our user-voice page.
It looks like the feature you want has been requested by others already. Please upvote the [existing request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/15777979-add-support-in-officejs-for-complex-type-meeting-l). Feature requests on user-voice are c

[2018-07-04 18:18] troywweber7 opened #187 "Column Width incomprehensible and not documented in API docs"
## Expected Behavior

I expect that setting a range format `columnWidth` to 64 or 8.43 should set it to either 64 pixels or 8.43 zero-character widths. This does not appear to be the case as setting it to 8.43 * 5.75 produces 8.43 character widths but setting it to 1 * 5.75 produces 0.43 column widths. Therefore, the `columnWidth` property is incomprehensible.

## Current Behavior

## Steps to Rep

[2018-07-05 18:41] dmitriyyepishin opened #188 "More then one dialog can be opened from Add-in Command"
Docs state that "An Office Add-in can have only one dialog box open at any time." However, if opened from a Add-In command, more then one dialog can be opened at one time by clicking on the add-in command button repeatedly.

## Steps to Reproduce, or Live Example
1. Add ScriptLab to [Excel]
2. Click "Tutorial" from "ScriptLab" ribbon
3. When the dialog opens, click "Tutorial" again
4. Observe that

[2018-07-05 19:03] dmitriyyepishin opened #189 "Dialog is sized as percentage of current window"
The docs state that the width parameter "Defines the width of the dialog box as a percentage of the current display." However, actually, the dialog is sized as percentage of the currently active window, not current display.

## Steps to Reproduce, or Live Example
1. Add ScriptLab to [Excel]
2. Click "Help" from "ScriptLab" ribbon
3. Resize Excel and click "Help" again
4. Observe that the second di

[2018-07-05 19:56] JuaneloJuanelo commented on #183
quick question is this a content add-in or a task pane Add-in.  I am able to repro on content add-ins.

[2018-07-06 00:26] raulgg commented on #5
Hello, @Zlatkovsky,

I noticed that the API is already in the production CDN and I tried it.

While it seems to be working fine in some hosts, in Office Online is resolving the promise even before the Office.Initialize event is triggered. This means that we still wouldn't have access to the context API when the onReady promise is resolved the first time.

Cheers!

[2018-07-06 06:51] weird-dreams commented on #183
It is a Content Add In for PowerPoint.
I could send you my manifest via PM to see the failure in my context.

[2018-07-06 06:55] ndeeH commented on #183
Yes! It is a content add in. Thanks for reproducing!
Could you please tell me the internal VSO bug nr for the tester. TIA.

[2018-07-09 11:06] ndeeH commented on #184
Please could you verify if this is a bug in PPT Online.

[2018-07-09 11:07] Ideline commented on #186
Thank you for the response. I will absolutely do that!

I have one more question though in that case.
When I have set a room as a required attendee using Office.context.mailbox.item.requiredAttendees.setAsync and then use Office.context.mailbox.item.requiredAttendees.getAsync, in the web version of outlook, the room will be included in the result.value but in the desktop version it will not.

Also

[2018-07-09 17:47] exextoc commented on #186
The Desktop client treats rooms as separate entities from attendees, whereas the web version doesn't. This is simply a design difference between the two clients.

[Outlook Add-ins Engineering Team]

[2018-07-10 09:16] nikolay-borzov opened #190 "Excel load(string[]) doesn't work for nested properties"
## Expected Behavior

`worksheets.load(['items/id', 'items/name'])`

must have the same effect as

`worksheets.load('items/id, items/name')`

## Current Behavior

[code]
Throws an error:

## Steps to Reproduce, or Live Example

* Link to live example: https://gist.github.com/c63494165a7dfebd41138ac335a6b3a9

* Additional details:
  1. [Documentation](https://docs.microsoft.com/en-us/office/dev/add

[2018-07-11 13:06] htryggva opened #191 "Inline Content Controls cannot be manipulated with Word Online"
When a document contains Inline Content Controls, Word Online throws an error when we iterate over the `context.document.contentControls` collection and try to modify the content controls.

## Expected Behavior
Word on all platforms should be able to manipulate both block and inline Content Controls equally.

## Current Behavior
Whenever we try to update a property or content of an inline Content

[2018-07-11 13:19] htryggva commented on #53
Hi @JuaneloJuanelo. We are still seeing some problems with Inline Content Controls. I opened another issue here with the details: #191. This issue caused our latest add-in submission (July 2018) to be rejected by the Office Store team.
@weshi: Do you have an update on support for Inline Content Controls for Word Online?

[2018-07-11 16:12] Zlatkovsky commented on #178
This is by design.  We wanted to have the object only return it's own properties, and the properties of objects closely-related to it.  Otherwise, if you do a `toJSON` on a workbook where you've loaded both `name` and something on the `worksheet` collection, you would get this giant list of properties, that are a step removed from you.

Another way of looking at it:  we wanted ".set" and ".toJSON"

[2018-07-11 16:17] Zlatkovsky commented on #5
@raulgg, that definitely seems like a bug.  Let me see if someone can take a look at it.

[2018-07-12 03:08] XiangGaoMSFT commented on #191
Hi htryggva. This is due to Word Online's feature limitation.
Some properties are not fully supported on Word Online yet, which will makes content control becomes unsupported and results into NotAllowed exception. In your case, the not fully supported property is the "tab".

If you remove the tab and upload this file again, you'll be able to edit this content control.

[2018-07-12 12:21] htryggva commented on #191
Hi @xianggaomsft. I don't know what the 'tab' Content Control property is. Can you please clarify?

On another note: I'm aware of this limitation but our customers (users of our add-in) will not understand why or how they have to change their document so that it works on Word Online.

[2018-07-12 13:27] Ideline commented on #186
Yes well so much I figured out already, but is there a way for me to overwrite the already added room OR remove it from the list of required attendees in the desktop client so that the room won't be invited and booked for the meeting? Because I can do that in the web client and this is very much a requested feature, but right now my add-in is behaving differently in the two clients which could be

[2018-07-13 08:55] MarcinusX opened #192 "CustomProperties compability with Excel 2013"
I have a project in VSTO for Office2013, which saves custom properties in Excel.

Should I be able to read those properties in JS Add-in? So far I failed to do it.
I used the snippet from [this issue](https://github.com/OfficeDev/office-js/issues/179) to load the number of properties, but it does not see those from Office 2013.

Saving and loading CustomProperties inside JS addin works fine.

Is i

[2018-07-13 10:50] MarcinusX commented on #192
Nevermind, I figured out I was using sheet's custom properties instead of document custom properties. When using `workbook.customDocumentProperties` it works

[2018-07-13 10:50] #192 closed, assigned to nobody

[2018-07-13 11:57] MarcinusX commented on #179
This is my workaround method to load items. If you ensure that count is greater than 0, you can safely load customProperties.
[code]

[2018-07-15 23:01] #150 closed, assigned to Zlatkovsky

[2018-07-15 23:01] Zlatkovsky commented on #190
@nikolay-borzov , thanks for reporting this.  Let me investigate...

[2018-07-16 06:49] bohap commented on #75
Is there any progress to this issue?

[2018-07-16 07:02] mayankthebest opened #193 "Error while adding DataValidationRule to Excel addin"
When I am trying to add Data Validation to an Excel add in as explained here https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-data-validation , I am getting error:

[code]

This does not work even for basic validation.

[2018-07-16 14:14] nikolay-borzov opened #194 "Excel Online: Unable to remove event handler if add-in frame has been reloaded"
My add-in app adds a handler for `WorksheetCollection.onActivated` event on startup.
[code]
Chrome allows reloading add-in frame through context menu item "Reload frame". When it happens the app startup logic is executed.
In order to remove the event handler I added a line before `onActivated.add`
[code]

It doesn't seem to work. I see multiple "Worksheet Activated" in console.
When I looked into

[2018-07-16 18:15] exextoc commented on #75
@bohap can you provide a sample manifest, that we can test?

Are you using version overrides in your manifest? If so there was a bug where if the Version Overrides supported a higher API set version than supported by the base client, then it would not fall back to older version overrides sections that were supported. (the version mentioned in your original post did not have this fix). This fix onl

[2018-07-17 07:43] MarcinusX commented on #38
@FastExcel Did you manage to workaround missing codename in office-js?

[2018-07-17 09:33] FastExcel commented on #38
I don’t think the API supports this yet?

From: Marcin Szałek [mailto:notifications@github.com]
Sent: 17 July 2018 08:44
To: OfficeDev/office-js <office-js@noreply.github.com>
Cc: Charles Williams <Charles@DecisionModels.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js] Need worksheet codename that persists across sessions (#38)

@FastExcel<https://github.com/FastExcel>

[2018-07-17 10:01] MarcinusX commented on #38
From what I know, it doesn't.

[2018-07-19 20:26] JuaneloJuanelo commented on #193
please  make sure to use the template to report an issue, we need way more information in other to help you.

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, Power

[2018-07-19 20:26] #193 closed, assigned to nobody

[2018-07-19 23:30] Rick-Kirkham commented on #188
@dmitriyyepishin Can you give me the URL of the documentation that you quoted. It is erroneous. It should say that a given host page (such as a page in a task pane) can only have one dialog open at a time. But every time you click a ribbon button, you launch a new UI-less host page, so you are getting a new dialog every time.

[2018-07-19 23:45] Rick-Kirkham commented on #178
@Zlatkovsky
This is what the toJSON signature in d.ts looks like for Collection objects (in this case WorksheetCollection.
` toJSON(): Excel.Interfaces.WorksheetCollectionData;`
The interface declaration is:
[code]
From what you've said, these seem to be completely wrong. Can you confirm that?
Also, does the WorksheetCollectionData interface even need to exist?
Also, should toJSON even be defined

[2018-07-20 00:42] evantrimboli opened #195 "NamedItems.getItemOrNullObject doesn't return null"
## Expected Behavior
When calling `getItemOrNullObject`, I would expect that it returns null if the name doesn't exist.

## Current Behavior
It returns a `NamedItem`. To check the `isNull` property, it needs to have `load` called.

## Steps to Reproduce, or Live Example
[code]

## Context
I want to validate some user data and need to match the some provided defined names against global names in th

[2018-07-20 01:14] Rick-Kirkham commented on #195
This behavior is by design. The `names.getItem('this_name_doesnt_exist')` method would throw an error. The `names.getItemOrNullObject('this_name_doesnt_exist')` method is designed to give you an alternative that does not throw an error when the object doesn't exist.

[2018-07-20 01:14] #195 closed, assigned to nobody

[2018-07-20 01:19] Zlatkovsky commented on #195
@evantrimboli , for a bit more context:  the pattern is known as the "Null Object pattern" (https://en.wikipedia.org/wiki/Null_object_pattern).  In terms of how it applies to Office in particular, see https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-advanced-concepts#42ornullobject-methods

For your code, I believe you're missing an "await context.sync()" before the `console

[2018-07-20 01:23] evantrimboli commented on #195
Thanks for your replies.

Is there any "better" way to do this? By virtue of being able to iterate the collection it seems as though there is already the ability to know if a name exists or not. Both of the current options (as far as I can see) require a load, either:

[code]

or:

[code]

As it goes, I end up building a `Set` and using that to check:

[code]

[2018-07-20 01:24] codexeon commented on #175
This will be fixed in the August Office update

[2018-07-20 03:03] eode opened #196 "Creating a table pushes cells below down by one"
## Expected Behavior
Doing:
[code]
should not move cells below the specified range down by one when it adds the table.

## Current Behavior
Cells below the specified range move down by one when the table is added.

## Steps to Reproduce, or Live Example
1: have an Office Add-In
2: set it up to call the above code

## Context
I'm attempting to insert a table without implicitly modifying the area be

[2018-07-20 05:36] serjant commented on #162
The same thing happens when you insert html with OL and UL tags and then when you retrieve the html using getHtml() method, it just replaces the OL/UL tags with P tags. I know that OOXML format represents lists as paragraphs using levels attributes and numbering.xml, but at least I would expect to have some attributes inside the P tag of the retrieved content which will point me the level of the l

[2018-07-20 08:00] dgrudenic commented on #175
Nice. Much appreciated.

[2018-07-20 11:09] ajmccann11t opened #197 "Potential bug with DialogAPI in Word on macOS - window object not removed"
Initiating a dialogAPI window, on macOS, for the SECOND time throws an error and the window does not open. Same code running on Word online and Word on Windows operates as expected.

## Expected Behavior

1. Open a dialog window using the dialogAPI (clicking a button in the taskpane). Window opens.
2. Click to close the new window.
3. Click on the button that triggers the opening of the dialog win

[2018-07-20 18:28] ndeeH opened #198 "Add-in Error We couldn't connect to the catalog server for this add-in."
Hi there,
we are getting this error:
**`
Add-in Error We couldn't connect to the catalog server for this add-in.
`**
when we switch our PowerPoint Content Add-In into Presentation Mode!

When we are NOT in presentation mode - our content add-in works as desired.
The manifest is deployed via O365 Admin Center...

_Any ideas why getting this? Please help - we are failing store validation because of

[2018-07-20 23:09] exextoc commented on #156
We are in the progress of looking into this. From initial investigations the timing of adding the handlers on the web client seems to matter. Until we make further progress, it looks like the workaround will have to be to only add one handler, and let that handler call the other handles that you wish to call.

[2018-07-21 01:12] Rick-Kirkham commented on #172
@exextoc
Is this an issue only for Outlook or for all Office Add-ins? What exactly do we want to add to the documentation for Office.initialize? Is it OK to have async calls there, if they are `await`ed?

[2018-07-22 19:29] 1TheMuffinMan commented on #24
That's a bummer that this is low priority. Excel for Mac for example is a pretty poor implementation compared to Windows and it would be great if developers could bridge the gap with the Javascript API.

What do you mean you're not sure how much of key stroke events can be propagated to a web add-in? You're already propagating events from a native application to a web add-in everywhere else.

[2018-07-23 00:55] jrop commented on #73
I am getting the same error/behavior when serving the add-in from localhost on Mac.  Is there special handling for the localhost domain?

I even tried tricking it by setting /etc/hosts to point a domain at 127.0.0.1.  If I use ngrok, then everything works as expected.  Is it handling non-standard ports by opening the URL with the default browser?

[2018-07-23 04:16] Zlatkovsky commented on #195
@evantrimboli , I'm not 100% sure what you're asking -- but in any case, with it being a question, I'd recommend you post it in full on https://stackoverflow.com/questions/tagged/office-js, that way other community members can answer and/or learn from it, instead of being in a closed github issues...

In just a one-sentence description:  You will _always_ need a sync at some point, either when you

[2018-07-23 04:32] evantrimboli commented on #195
Maybe I didn't articulate myself very well. Consider:

[code]

This throws an exception because `isNullObject` isn't available. My contention is that it seems like the object should already "know" at that point whether it's a null object or not.

[2018-07-23 04:45] Zlatkovsky commented on #195
I understand that.  But a `get`-prefixed method will always create a new object, whether or not the collection is already loaded (if it didn't create a new object, what would be the behavior if you just recently added a new sheet, after you'd already loaded? -- it would fail, rather than trying to retrieve anew).

So if you already did a `load("items")` (which BTW is equivalent to just `load("")`

[2018-07-23 06:15] georgechr opened #199 "Office.context.contentLanguage does not respect Office host app's selected language (In Windows 7)"
## Expected Behavior
`Office.context.contentLanguage` should return the currently selected content language in Excel/Office

## Current Behavior
`Office.context.contentLanguage` always returns 'en-US'

## Steps to Reproduce, or Live Example
[code]

## Context

## Your Environment
* Platform: PC
* Host : Excel
* Office version number: 16.0.10228.20080 32-bit
* Operating System: Win 7

[2018-07-23 09:49] ndeeH commented on #198
To ensure it is not a problem in my add-in - I removed everything from my add-in.
Now I have only a plain HTML page and I also get this error in **presentation mode of PowerPoint Online**:

![image](https://user-images.githubusercontent.com/11518242/43125406-414b5e26-8f2a-11e8-80e6-889ce84f7293.png)

**_Any ideas?_**

[2018-07-23 20:59] JuaneloJuanelo commented on #199
This API returns the default content language, not of the current selection.  If that needs to be added please upvote a uservoice request.

[2018-07-23 21:00] JuaneloJuanelo commented on #187
@Rick-Kirkham  probably we need to be more clear on this. Is this points? picels?

[2018-07-23 21:13] JuaneloJuanelo commented on #198
i wonder if you can provide a copy of your manifest so we can try it internally?
Also please share more details on what verision and Office builds and platforms you are experiencing this.

[2018-07-23 21:28] JuaneloJuanelo commented on #196
tables by definition require a header row, and hence the line needs to be moved to accommodate this.
this behavior is by design. if you want to keep the first row make sure you send 'True' in the second parameter to indicate those are the headers of the table.

[2018-07-23 21:28] #196 closed, assigned to nobody

[2018-07-23 21:46] JuaneloJuanelo commented on #191
we are tracking this issue internally with 2452020. we need to fix this.

@htryggva  this should not block your add-in from bein published as its a limitation on the platform. (and sounds seems an edge case.)

[2018-07-23 21:53] JuaneloJuanelo commented on #189
@Rick-Kirkham  this is maybe a documentation issue,

[2018-07-23 21:55] JuaneloJuanelo commented on #186
at this point this is a feature request, please add in uservoice, as requested.

[2018-07-23 21:55] #186 closed, assigned to exextoc

[2018-07-23 21:57] JuaneloJuanelo commented on #184
unfortunately this is how ppt works as of now. we cant refresh.

[2018-07-23 21:59] JuaneloJuanelo commented on #188
@Rick-Kirkham  this is the page (thanks Bing!)  https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

can you please fix this documentation error? thANKS!

[2018-07-23 21:59] #184 closed, assigned to nobody

[2018-07-23 22:14] JuaneloJuanelo commented on #180
the issue was fix and in the process of been released.

[2018-07-23 22:17] JuaneloJuanelo commented on #178
closing again.. this sounds like a discussion we can have internally.
by design.

[2018-07-23 22:17] #178 closed, assigned to Zlatkovsky

[2018-07-23 22:25] JuaneloJuanelo commented on #183
this issue is now fixed !

[2018-07-23 22:25] #183 closed, assigned to JuaneloJuanelo

[2018-07-23 22:28] JuaneloJuanelo commented on #179
follow coding practice described on the issue.

[2018-07-23 22:28] #179 closed, assigned to Rick-Kirkham

[2018-07-23 22:30] JuaneloJuanelo commented on #174
unfortunately this is not an issue associated with Office Extensibility.

[2018-07-23 22:30] #174 closed, assigned to exextoc

[2018-07-23 22:33] JuaneloJuanelo commented on #173
@weird-dreams  this was resolved, can you please give it a try? Will be much appreciated if you can please confirm the issue is fixed.

[2018-07-23 22:37] JuaneloJuanelo commented on #172
issue resolved probably we need to are more recommendations on initializaiton for UIless commands vs taskpanes.

[2018-07-23 22:37] #172 closed, assigned to nobody

[2018-07-23 22:39] JuaneloJuanelo commented on #170
issue seems to be fixed now, as reported by customer. if there is a new issue open a separate item. thanks!

[2018-07-23 22:39] #170 closed, assigned to nobody

[2018-07-23 22:40] JuaneloJuanelo commented on #167
please add this to our uservoice channel https://officespdev.uservoice.com/

[2018-07-23 22:40] #167 closed, assigned to nobody

[2018-07-23 22:43] JuaneloJuanelo commented on #165
this is to some degree, by design. the goal to have getHTML is to have a visual symmetry, not necessarily with exactly the same HTML. you should not be using it for such scenarios, you rather get the OOXML for it.

[2018-07-23 22:43] #165 closed, assigned to nobody

[2018-07-23 22:43] JuaneloJuanelo commented on #164
please add to https://officespdev.uservoice.com/ if solution is not suitable. thanks!

[2018-07-23 22:43] #164 closed, assigned to nobody

[2018-07-23 22:45] JuaneloJuanelo commented on #162
it was never our intent to retrieve the same HTML for all platforms. if you need 100% fidelity use the OOXML method instead.

[2018-07-23 22:45] #162 closed, assigned to nobody

[2018-07-23 22:46] JuaneloJuanelo commented on #159
upvote in https://officespdev.uservoice.com/

[2018-07-23 22:46] #159 closed, assigned to nobody

[2018-07-23 22:48] JuaneloJuanelo commented on #157
item not described in detail. unactionable.

[2018-07-23 22:48] #157 closed, assigned to nobody

[2018-07-23 22:52] JuaneloJuanelo commented on #71
have the customer open another issue. please do not re-open.

[2018-07-23 22:52] #71 closed, assigned to JuaneloJuanelo

[2018-07-23 23:03] Rick-Kirkham commented on #189
This was also raised as an issue on office-js-docs: https://github.com/OfficeDev/office-js-docs/issues/1457
I believe that the documentation is correct. @JuaneloJuanelo I will CC you on an email thread.

[2018-07-23 23:04] JuaneloJuanelo commented on #1
something with the content of this document is what makes it fail.  we are investigating the issue. sorry  for the insane delay!

[2018-07-23 23:08] JuaneloJuanelo commented on #4
foot notes are not supported currently on the API, please add user voice request here. https://officespdev.uservoice.com/

[2018-07-23 23:12] JuaneloJuanelo commented on #189
the document says only one is allowed. PLease:
1. dont remove assignment. (until we sync, or the issue is fixed.)
2. if this is an issue in docs, lets close this one.

thanks!

[2018-07-23 23:15] Zlatkovsky opened #200 "In Office Online, `Office.onReady()` is resolving the promise even before the Office.Initialize event is triggered"
Copying from https://github.com/OfficeDev/office-js/issues/5.

We need to repro this and see what's going on.

[2018-07-23 23:15] Zlatkovsky commented on #5
Opening https://github.com/OfficeDev/office-js/issues/200 in place of this one, to track the Office Online issue

[2018-07-23 23:15] #5 closed

[2018-07-23 23:20] Rick-Kirkham commented on #188
Actually, what that document says is exactly right:
[code]

Later, in the Errors section it says:
`A host window, such as a task pane, can only have one dialog box open at a time.`
This is also correct.

@dmitriyyepishin 's quotation "An Office Add-in can have only one dialog box open at any time." does not appear in the article, which is why I asked him for the URL of where he is seeing it.

[2018-07-23 23:21] raulgg opened #201 "Request: Alternative use of Dialog API in iOS to avoid using a WebView"
I am using the Dialog API in Office.js to open an window to authorize the user into our service, where we are also doing OAuth interactions with the most common services out there. While using the Dialog API seems to be working fine overall for our use case, we are facing an issue with iOS and Google's OAuth service.

On August 2016 Google made a change on how their OAuth service works, blocking e

[2018-07-23 23:25] JuaneloJuanelo commented on #188
ok could not find that literal instance. closing.

[2018-07-23 23:25] #188 closed, assigned to Rick-Kirkham

[2018-07-23 23:28] Rick-Kirkham commented on #189
@JuaneloJuanelo I don't think _this_ issue is an issue with the docs. See the email thread.
I don't know what you mean by "the document says only one is allowed". Are you thinking of the other issue about multiple dialogs open at the same time?

[2018-07-23 23:30] JuaneloJuanelo commented on #31
https://officespdev.uservoice.com/ please add this to uservoice.
this is a limitation in Word, but there is a documented workaround here
https://stackoverflow.com/questions/50911606/body-search-issue-in-word-desktop/51159442#51159442

[2018-07-23 23:30] #31 closed, assigned to nobody

[2018-07-23 23:33] JuaneloJuanelo commented on #21
this does not repro.

[2018-07-23 23:33] #21 closed, assigned to nobody

[2018-07-23 23:38] JuaneloJuanelo commented on #8
Probably this is a by design issue. The name of the method is getSelected**Range**

Now that we are implementing shapes, charts, etc we should consider adding a generic "getSelection()" and let the user infer whats contained.   This is actively on design.

we understand the requirement, so closing the issue at this point.

[2018-07-23 23:38] #8 closed

[2018-07-24 02:35] weshi commented on #1
The content of the inserted base64 stream has a field, which is not supported in Word Online. Therefore the inserted content control becomes an unsupported content control. This is expected.

But we should allow the body to be cleared. We are doing investigation to figure out the root cause.

[2018-07-24 03:00] codexeon commented on #197
This was fixed in the June release for Mac (18061302). Can you update to the latest version and try the same code.

[2018-07-24 05:02] serjant commented on #162
@JuaneloJuanelo I understand - I have already written my own OOXML to HTML converter, but the problem when you retrieve the content using getHtml() and then you set the same content using insertHtml() - the content is completely broken. If you want to dig in, I can provide you with more details.

[2018-07-24 05:04] weshi commented on #1
Have narrowed down the steps to reproduce this issue. It only happens when the document body has only one single paragraph which contains the unsupported features such as field and/or unsupported content controls. This is a bug, and we are working on a fix.

However, the above script actually fails at the step when you try to insert content control to the range which is the inserted base64 stream

[2018-07-24 05:15] georgechr commented on #199
Why was this closed? The [documentation ](https://dev.office.com/reference/add-ins/shared/office.context.contentlanguage) clearly specifies that :

I raised this first as an issue with the documentation team and they claim that the documentation is correct and that I should raise an issue with office-js

[2018-07-24 06:54] ShawnNiu commented on #194
Hi Nikolay, thanks for trying out the new API! This is a known issue for us right now and we are actively looking through the solutions. We'll keep you updated once the fix rolls out.

[2018-07-24 07:34] ndeeH commented on #173
@JuaneloJuanelo
Hallo Juan, thank you for responding on my issues.
At the moment I can not give this a try because I am not able to run my add-in in PPt Online:
see #198  (linked our manifest there)

[2018-07-24 08:12] ndeeH commented on #198
@JuaneloJuanelo
Hallo Juan, thank you for responding on my issues.
We are currently failing at store validation of our add-in and do not come any futher....

All issues have to do with the **online version of PowerPoint in presentation mode**.
I tested in this versions Chrome (67.0.3396.99) and also tried latest Firefox (61.0.1  64-Bit) - same problems.
To test the add-in with PPT Online we are us

[2018-07-24 08:24] ndeeH commented on #184
unfortunately this was nagged by the store validation tester as a failure in our add-in
@JuaneloJuanelo

[2018-07-24 16:31] Rick-Kirkham commented on #199
@georgechr As I mentioned in the issue you created for the documentation, I cannot reproduce your error on subscription Office 365 (Click-to-Run). Your code works for me. My OS is Win 10. I see that you are on Win 7. That might be significant. Are you on subscription Office 365 (Click-to-Run) or on Office 2016 MSI?

@JuaneloJuanelo Do we support add-ins on Win7?

[2018-07-24 19:46] Rick-Kirkham commented on #187
@troywweber7 @JuaneloJuanelo The source file for the reference topic for Range.format.columnWidth has been corrected. The unit-of-measure for columnWidth is points. Due to an upcoming change in the way that we generate reference topics, it may be a couple of weeks or so before the fixed version is public.

[2018-07-24 19:46] #187 closed, assigned to Rick-Kirkham

[2018-07-24 20:44] JuaneloJuanelo commented on #201
thanks for reporting this, known issue and we are working on a fix.
tracking internally with 2453637, expect updates soon.

[2018-07-24 20:49] JuaneloJuanelo commented on #200
tracking internally with 2453651

[2018-07-24 20:51] JuaneloJuanelo commented on #199
Yes
closing the issue again, this is by design.

[2018-07-24 20:53] JuaneloJuanelo commented on #197
@jimcaven  can you please update and try it and let us know if it works for you. Will mark the issue as resolved and awaiting validation.

[2018-07-24 21:21] JuaneloJuanelo commented on #199
@Rick-Kirkham  yes we support add-in in win7.

@georgechr  quick question for you, can you please share you Microsoft Office Language preferences? what Editing languages you have configured there?  we take the default from that dialog.

[2018-07-25 00:26] petehallett commented on #179
Thanks to all contributors for your assistance with this issue.@tong-1324, will you be posting an update on this issue once the fix is checked in?  Thanks again.

[2018-07-25 05:53] georgechr commented on #199
@JuaneloJuanelo I have Greek as the default but have also tried en-GB without any luck.
![image](https://user-images.githubusercontent.com/865564/43181914-0d592882-8fe8-11e8-98e4-405b8f87f132.png)

@Rick-Kirkham I am on Office 365

[2018-07-25 11:35] ajmccann11t commented on #197
I updated Office and the issue is resolved. Thank you - although this issue was particularly destructive for me because I develop mostly on Mac...and thought my code was broken.

Where could I have found documentation that this was an issue you were working on (or at least aware of)?

[2018-07-25 15:47] jcjolley commented on #180
@JuaneloJuanelo Thanks for the quick turn around!

[2018-07-25 16:03] JuaneloJuanelo commented on #199
@georgechr  thanks for sharing this. another question: what are you going to use this property for? i think you are falling into a fallback case where we dont find a supported office.js language and falling back to us-eng.

[2018-07-25 16:08] JuaneloJuanelo commented on #180
@jcjolley  btw this is part of our July Fork, you will be able to try it soon on insiders fast.

[2018-07-25 16:20] JuaneloJuanelo commented on #198
@weird-dreams thanks for the detail, we'll take a look.

[2018-07-25 19:02] georgechr commented on #199
@JuaneloJuanelo basically, I fetch some data from a service and display them as ranges. Some of these data are dates and I would like to use Excel's locale to display them. At the moment my workaround is to use IE's locale to format them but this could be different from Excel's.

[2018-07-25 19:21] akoushke opened #202 "Office Add-in: Read/Write Custom Document Properties with Office JS [Word & Excel API] 1.1 on Windows 10"
### Background:
I'm developing an add-in in _macOS_ and I am able to read a custom document property:
[code]
and write one:

[code]
Where **this.api** is just **window.word** using `office JS API`. I used help from the following repo which is offered by Microsoft themselves, [office-js-snippets](https://github.com/OfficeDev/office-js-snippets/blob/master/samples/word/07-custom-properties/read-writ

[2018-07-25 21:32] shreedhart commented on #200
@raulgg, I am not able to reproduce the Office.OnReady() API issue in Excel online. Office.initialize is fired before Office.onReady. Office.context is initialized by the time the events fire.

Can you provide some more details about your add-in? Which office online app are you using? Which context API are you trying to access when Office.onReady fires?

[2018-07-25 21:58] JuaneloJuanelo commented on #202
the problem that you have is that you are using MSI build and the API set you need does not work there. One solution is to  move to Office 365.

[2018-07-25 21:58] #202 closed, assigned to nobody

[2018-07-25 22:01] akoushke commented on #202
Is this the only solution available? How can I make this API functional in this MSI build though? I can't just ask all the users to switch to 365 because the office API is not functional on 2016?

[2018-07-26 09:20] leoseccia commented on #162
@JuaneloJuanelo in that case, it should be clearer in the documentation that different platforms returns different results. Also, are there other instances where the platforms behave differently? From the api consumer point of view, it would be very beneficial to have a list of where this occurs.

[2018-07-26 10:34] jjtfsalgado opened #203 "Add array formula on excel"
Hi, I would like to know if there is any way to add an array formula to a range/table using the javascript api?

[2018-07-26 11:58] dinkom opened #204 "Paragraph context sync issue in MAC"
## Expected Behavior
`context.sync()` when loading paragraphs should work or at least provide an exception.

## Current Behavior
While this functionality normally works fine, I've ran into a document with a single paragraph that breaks Office.js. I don't understand why since there is no error message, it just silently fails.

## Steps to Reproduce, or Live Example
* Link to live example: https://g

[2018-07-26 15:19] JuaneloJuanelo commented on #204
@dinkom interesting issue. just to confirm, this only happens in MAC? Tried on windows and it works ok.

[2018-07-26 17:39] akoushke commented on #202
Thanks for your response. I was wondering if this would still work if the users upgrade their office 16 products to `16.0.6769.0000 or higher (**16.0.6868.0000** recommended)` according to [this](https://github.com/OfficeDev/office-js-docs-pr/commit/eba5425d6a8b4f977ea2ead77933d0e8bed75961)?

[2018-07-26 17:55] JuaneloJuanelo commented on #162
@serjant insteresting. if you do getHtml and insertHtml on the same platform should work. Provide me a scenario when this is not the case.

@leoseccia  yes we will adjust that info for the HTML case. Again if you need 100% fidelity you should not be using HTML, but OOXML. the resulting HTML should be close to fidelity x-platforms.

[2018-07-26 19:36] Rick-Kirkham commented on #162
@leoseccia
I have updated the description of the getHtml method state that different HTML is returned on different platforms. Because we are currently in the process of moving to a new system of publishing API reference content, it may be a few weeks before the improved description is published.

[2018-07-26 21:12] troywweber7 opened #205 "typings file could be listed in package.json"
https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

this would allow easy import of the types CommonJS style (I think)

[2018-07-26 23:21] JuaneloJuanelo commented on #199
then you are using the wrong property, you need to use [office.context.displaylanguage](https://dev.office.com/reference/add-ins/shared/office.context.displaylanguage)  that will give you the locale of Excel.

[2018-07-27 07:09] georgechr commented on #199
@JuaneloJuanelo The same exact bug happens with display language as well i.e. whatever language i choose for display language I get 'en-US'

[2018-07-27 13:48] attilarickert opened #206 "Get Selection from mail in Outlook ReadMode"
I would like to get the selected text from the opened email in the Outlook ReadMode add in, but i can't do it with document.getSelection(), because the add in runs inside an iframe. I also can't get the main document because of cross origin problems.
I found the Office.context.mailbox.item.getSelectedDataAsync() function, what would be ideal for me, but it's only available in Compose mode.
Is ther

[2018-07-27 15:18] JuaneloJuanelo commented on #199
@georgechr  what is the language in the Excel UI?

[2018-07-27 16:45] troywweber7 opened #207 "typescript definitions file (latest and beta) produces typescript errors on compile"
## Expected Behavior
My excel angular add-in project should build.

## Current Behavior
Instead, on building or serving, I get typescript errors (shown below in **useful logs**.

## Steps to Reproduce, or Live Example
* Reproduction steps:
  1. `npm i -g @angular/cli`
  2. `ng new example && cd example`
  3. `npm i @microsoft/office-js`
  4. add a `typings.d.ts` file to `src/` with the line `/// <

[2018-07-27 16:46] JuaneloJuanelo commented on #194
tracking internally with 2461790

[2018-07-27 16:53] JuaneloJuanelo commented on #203
hello this is not the right place for a question/request. please submit question  to stackoverflow with tag office-js or add the request via user voice https://officespdev.uservoice.com/

[2018-07-27 16:53] #203 closed, assigned to nobody

[2018-07-27 16:58] Zlatkovsky commented on #207
Hi @troywweber7 ,

It's a known issue -- the d.ts files between what we have on DefinitelyTyped and what we have on the CDN/NPM package have unfortunately diverged, and we need to do some work to bring them together again.  For the time being, DefinitelyTyped (or `@types/office-js`, which is auto-generated by the TypeScript bot off of it) is the source of truth.

This should be resolved in the com

[2018-07-27 16:58] JuaneloJuanelo commented on #204
we reproed it on MAC, apparently a bug. we are tracking with 2462683

[2018-07-27 17:18] JuaneloJuanelo commented on #4
this is a known gap in the API, actually in the backlog, so we will not keep this issue open indefinitely.

[2018-07-27 17:18] #4 closed

[2018-07-27 17:20] JuaneloJuanelo commented on #15
this is not a place for new feature requests. please add it in uservoice
https://officespdev.uservoice.com/

[2018-07-27 17:20] #15 closed, assigned to nobody

[2018-07-27 17:21] troywweber7 commented on #207
@Zlatkovsky Thanks so much for the workaround. If I have difficulty with implementing the workaround, I'll come back here!

[2018-07-27 17:22] JuaneloJuanelo commented on #20
the API mentioned by @sumurthy  is the way to do it.

[2018-07-27 17:22] #20 closed, assigned to nobody

[2018-07-27 17:23] JuaneloJuanelo commented on #17
closing this case as its by design.

[2018-07-27 17:23] #17 closed, assigned to nobody

[2018-07-27 17:36] JuaneloJuanelo commented on #152
if something needs to be added to the header it needs to be done using the header/footer body. body.insertOoXML do not replace existing headers. *by design*

[2018-07-27 17:36] #152 closed, assigned to nobody

[2018-07-27 17:38] JuaneloJuanelo commented on #155
this is a good place to start. for now this is fixed, as per last comment.
another source you can try is stack overflow. tag office-js.

[2018-07-27 17:38] #155 closed, assigned to nobody

[2018-07-27 17:49] JuaneloJuanelo commented on #143
good catch! this is a bug and we are tracking with code 2462836

[2018-07-27 17:53] JuaneloJuanelo commented on #139
try

`
<Requirements>
    <Sets DefaultMinVersion="1.1">
      <Set Name="WordApi" MinVersion="1.3"/>
      <Set Name="DialogApi"/>
      <Set Name="ImageCoercion"/>
    </Sets>
  </Requirements>`

after the hosts element.

also, for questions use stack overflow tag office-js

thanks!

[2018-07-27 17:53] #139 closed, assigned to nobody

[2018-07-27 17:58] JuaneloJuanelo commented on #24
this is a feature request, please use https://officespdev.uservoice.com/

[2018-07-27 17:58] #24 closed, assigned to nobody

[2018-07-27 17:59] JuaneloJuanelo commented on #33
we are no backporting to MSI. 2019 will include it.

[2018-07-27 17:59] #33 closed, assigned to nobody

[2018-07-27 18:04] JuaneloJuanelo commented on #1
team is working on a fix, been tracked with 2452427 internally.

[2018-07-27 18:10] JuaneloJuanelo commented on #12
@misaunde  @sameera  hey guys, Juan PM for Excel.js here. what the latest on this issue? are you happy with the perf now?

@tong-1324  can you please share our latest and our document on perf?

i would like to get feedback if our perf improvements are awesome now.

[2018-07-27 18:13] JuaneloJuanelo commented on #37
still we dont see any significant size increase, but anyways if this is still an issue please let us know.

[2018-07-27 18:13] #37 closed, assigned to nobody

[2018-07-27 18:15] JuaneloJuanelo commented on #182
@wertyphil did you tried the recommendation? is this still an issue?

[2018-07-27 18:30] JuaneloJuanelo commented on #25
i think this does not happen anymore. scriptlab used:
https://gist.github.com/JuaneloJuanelo/9d0a4fe3c5e2f427289bda44442df04a

if you still repro reopen and adjust the sample so its reproable.

[2018-07-27 18:30] #25 closed, assigned to sumurthy

[2018-07-27 18:36] JuaneloJuanelo commented on #158
the referred build does not support Add-in commands. You need to upgrade to Office 365 builds.

[2018-07-27 18:36] #158 closed, assigned to nobody

[2018-07-27 18:45] Rick-Kirkham commented on #25
Doesn't repro anymore.

[2018-07-27 18:53] troywweber7 commented on #207
@Zlatkovsky I was not able to reproduce the file myself, but your .txt saved as a .d.ts works great!

[2018-07-27 19:03] georgechr commented on #199
@JuaneloJuanelo Do you mean display language? I've tried various options (greek, en-gb and en-us) and every time I get en-US. For what it's worth, my keyboard is always on en-GB or greek, never en-us.

[2018-07-27 19:43] wertyphil commented on #182
@JuaneloJuanelo Sorry for the lack of response.
Since we can't guarantee the version of Outlook we are running on, using the fallback to EWS was our only option.
### Additional questions
- Is there an issues board for ExchangeService Manage API, or is it being deprecated?
- Since the Outlook client can download attachment content, could the Officejs Api provide some kind of `getContent` method on

[2018-07-27 19:46] Zlatkovsky commented on #207
Glad I could help :-)

[2018-07-27 21:35] JuaneloJuanelo commented on #133
there are 2 issues reported here:

1. First issue is a non repro. i can add items to the binding on non-active sheets.
2. Second issue **does** repro and its a bug: if a total row exists get corrupted upon insertion.

There is an alternative you can try, if you use the Excel specific JS API (aka excel.js)  you can do this and it will work on active and non-active sheets.

var appendRows = [["4"],

[2018-07-27 21:44] JuaneloJuanelo commented on #133
bug is tracked with
2463266

[2018-07-27 21:47] JuaneloJuanelo commented on #127
@Rick-Kirkham  can we please document more details on how to debug? thanks!

[2018-07-27 22:01] Rick-Kirkham commented on #127
@ElizabethSamuel-MSFT Can you answer binarykitchen's question and add it to the article mlafleur linked to as needed?

[2018-07-28 00:28] raulgg commented on #200
@shreedhart I was trying to write an example in script-lab but seems that Office.initialize isn't triggering there. So I'll give you the details here and see if I can help.

The apps where I'm having this issue are Word Online and Powerpoint Online. In the entry point of the add-in one of the first things I'm doing is checking if the Office APIs I need in the add-in are supported, so I can show th

[2018-07-28 00:48] Zlatkovsky commented on #200
@raulgg , several things that come to mind:

1. Re Script Lab:  yeah, with respect to initialization, you can't do Office.initialize there.  We do custom loading of the snippets so our usage of Office.js and esp the initialization pipeline is a bit different in Script Lab.

2. Re. "My intention was to null Office.initialize, so it would work only with the onReady promise":  this is very unclear to

[2018-07-28 07:06] raulgg commented on #200
@Zlatkovsky you're right, what I said about nulling it out doesn't make sense. I meant that I was going to assign it to an empty function as in some hosts I noticed it's expecting a function there. Correct me if I'm wrong.

I just tried simplifying the code and running what you wrote there but I'm still having the same issue. The callback will run when the context API hasn't been loaded yet. If I

[2018-07-30 05:09] Zlatkovsky commented on #200
@raulgg , what is the minimal repro for this?  Is there a single simple HTML page with an inlined script tag (nothing fancy) that you could show that repros the issue?

I just tried it myself, both with Excel desktop and Online, and it's working correctly for me.  Here is my file:

[code]

A corresponding manifest (when this file is called "text.html" and is running on "https://localhost:3000" is

[2018-07-30 10:50] ndeeH commented on #198
@JuaneloJuanelo Any news on this?

[2018-07-30 17:03] JuaneloJuanelo commented on #81
@daniel-white  : is this issue solved? can we close it?
@exextoc : can you please follow up to closure?

[2018-07-30 17:43] exextoc commented on #206
Unfortunately we do not currently support getSelectedDataAsync function in read mode. The only supported mode is compose. Could you describe your scenario for requiring the method on read?

[2018-07-30 22:37] annich-MS commented on #7
It appears that you're attempting to create a deep linking scenario. This scenario is not officially supported in any version of outlook. You can request this feature in our [User Voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins)

[2018-07-30 22:37] #7 closed

[2018-07-31 10:49] pelis commented on #133
Thanks for your reply...
I am using the Excel Rich API - however, have not yet migrated everything.
In some cases I have to stick with the old one: I am using evnts (Cell data change events), it seems that events are not yet part of the Rich API?
Cheers - Peter

[2018-07-31 15:47] joelfmrodrigues opened #208 "Visio - Event handlers are not executed on IE11"
Visio event handlers don't seem to be working on Internet Explorer 11
Tried [onPageLoadComplete](https://dev.office.com/reference/add-ins/visio/pageloadcompleteeventargs) and [onDocumentLoadComplete](https://dev.office.com/reference/add-ins/visio/documentloadcompleteeventargs) examples from documentation.
Works well on Chrome and Edge

## Expected Behavior
Custom event handlers should be executed

[2018-07-31 18:59] weidezhong-zz commented on #143
As a workaround, add a call to context.sync() immediately after setting locked to false. For example,

range.format.protection.locked = false;
context.sync().then(() => {
      worksheet.protection.protect();
    return context.sync().then(function() {});
}

[2018-07-31 22:14] JuaneloJuanelo commented on #133
@pelis  absolutely we have the events on the Excel specific API! check out our docs please! many events were shipped as part of our 1.7 release!

[2018-07-31 22:18] JuaneloJuanelo commented on #204
update: issue resolved, most probably goes into the september update. btw the issue was in Mac and iOS., both platforms are fixed now.

[2018-07-31 22:40] exextoc commented on #206
Also, we track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

[2018-08-01 06:39] pelis commented on #133
Thanks Juanelo,
I have briefly looked at the events - as you have mentioned, seems to be brand new.
Fortunately the new API gets more and more complete and thus usable.

Since your response is the first response that I receive which is really helpful I am adding a pointer to another issue that sits there for 2 years, just in case you are interested... :-)

https://social.technet.microsoft.com/Foru

[2018-08-01 08:43] rvanlaak opened #209 "Refresh and Agave.HostCall errors when using WebStorm editor"
When WebStorm is used as IDE in combination with F12chooser.exe debug tools, `Agave.HostCall` errors start happening.

## Expected Behavior

No errors and refreshes, and a stable developer experience.

## Current Behavior

We have a Office.js Word project, and use NodeJS to start a local server. After setting up the project, shared folder, localhost server and certificates the project works fine.

[2018-08-01 08:45] rvanlaak commented on #209
cc @Zlatkovsky

[2018-08-01 10:49] sameera commented on #12
@JuaneloJuanelo At the moment, we are unable to port our application to API 1.7 due to many of our customers being stuck on the MSI version of Excel. We plan to start the move in our next major release around mid Q4 . Sorry, I cannot give you any feedback at the moment.

[2018-08-01 20:48] dinkom commented on #204
Great news, thanks!

[2018-08-01 22:53] Zlatkovsky commented on #178
Just tested it out.  It looks like the issue was that you were calling "toJSON()" too early.
"toJson" will only reflect the currently-loaded state of the object.  As such, you need to do it after `await context.sync()`.

This example will work:

    await Excel.run(async (context) => {
        const sheets = context.workbook.worksheets;
        sheets.getLast().tabColor = "yellow";
        sheets.

[2018-08-02 02:27] sameera commented on #12
@JuaneloJuanelo I just tested out my own gist sample with script lab. I see a significant improvement. I tested appending up to 5000+ rows (in chunks of 100) and the elapsed time was under 0.5s (it started at around 0.1s and kept growing very slowly).
This is now much faster than the workarounds! Thank you!

[2018-08-02 05:19] rahul-mi commented on #208
Hi,

Thank you for reaching out and the detailed description of the issue you are facing.

We checked internally and found that with the session parameter added to Visio.Run function, pageload and document load events are working with IE11. We have also updated the documentation and it should reflect the same soon.

Could you check it again with the session parameter added and if it's still now wo

[2018-08-02 09:36] joelfmrodrigues commented on #208
Hi @rahul-mi

Thanks for the information.
I'm currently using TypeScript. Could that be a problem? Not using WebPack or any other module loaders, simply tsc to convert to typescript.

Sample code below. The onPageLoadComplete function is never executed on IE11, but as I mentioned before, it runs on Chrome and Edge.

    addOnPageLoadCompleteEventHandler = async (): Promise<any> => {

        try {

[2018-08-02 13:33] ndeeH commented on #198
@JuaneloJuanelo Did your developers find anything why we are getting the error:
`Add-in Error We couldn't connect to the catalog server for this add-in.`

[2018-08-02 15:09] bohap commented on #75
@exextoc updating to the latest Office build fixed the problem.
Thanks.

[2018-08-02 15:09] #75 closed, assigned to exextoc

[2018-08-02 15:56] bohap opened #210 "Attachments missing on the EWS server for saved draft email"
Hello,
I am using **Office.context.mailbox.item.saveAsync** method for saving a draft email. This method returns **itemId** which I later use to make call to the EWS server to retrieve the email eml content, but the returned eml content is missing some of the attachments.
This is only happening on the Desktop App (Outlook 2013) with cache mode enabled,  when using Outlook on the Web it works corre

[2018-08-02 20:13] exextoc commented on #210
In Cached mode it will take time for the item to sync up to the server. People usually poll until the data they want is there. Also, they can write a custom property, and check for that property to make sure their item is up to date if necessary. You can find some details about custom property here: [Client Extension Message Object Protocol](https://msdn.microsoft.com/en-us/library/hh968601(v=exch

[2018-08-03 00:20] TheSamsterZA commented on #209
@rvanlaak A couple of questions:

1. Are you using the Angular CLI to serve the project?
2. Are you serving with SSL enabled?

If the answer is yes to both questions, then try running with `--live-reload false`:

[code]

You will have to manually reload the add-in in Word, though. If you have F12 Tools running, just hit `CTRL + R` while it has focus to reload the task pane. Otherwise, right-click

[2018-08-03 04:45] adam-lerner51 opened #211 "Excel Javascript custom functions - ASYNC function issues"
To start my foray into creating something more complex, I'm trying to run a simple async function to request a JSON and put it in a cell.  I've created a new function and defined it to return a string in the JSON as per below.

[code]

The function itself works correctly when I run it via my browsers console, and I am returning a new Office.Extension.Promise as per the directions.  Can anyone help

[2018-08-03 06:33] vtiti commented on #206
In our add-in, we would like to extract the email sender's information from her signature. It is not optimal to process the whole email text, because of many replies can contain signatures.
So the desired workflow would be, the add-in user selects the signature, and click on the addin button, which extracts the useful information from the selected text, then send it into the database.
Do you have

[2018-08-03 06:38] bandhan-nawal opened #212 "Office.context.mailbox.displayNewAppointmentForm method opens up a new appointment window but always shows "Reminder" as "None" even when the default is set to some value on Mac Outlook 2016"
## Expected Behavior

I have set the Reminder on Outlook 2016 for Mac Preferences -> Calendar -> Default Reminder (say 15 minutes). In my add-in when I click on a button to open new appointment window using Office.context.mailbox.displayNewAppointmentForm method, the reminder should be shown as 15 minutes. This is working as expected for Outlook for Windows and OWA. Its should also work the same i

[2018-08-03 13:17] rvanlaak commented on #209
The project is plain js / Ecmascript that gets compiled using Node / webpack, and yes it's served via ssl as otherwise Word will not be able to open it.

I am working on the project for several days now, and strangely enough the problem did not occur Yesterday. So, once the problems return I will try to collect more information from the side of npm.

[2018-08-03 20:12] JuaneloJuanelo commented on #198
Apparently there is a bug we are still investigating.

[2018-08-05 02:59] raulgg commented on #200
Sorry for the delay @Zlatkovsky, I just tried creating a basic example like yours and it works as properly. I will try a few things in my add-in within the next week and I'll post here whatever I find. Could it be caused by one of the polyfills I'm using? I just find it strange that it works in every other host.

[2018-08-05 06:51] Zlatkovsky commented on #200
I can't think of why polyfills would be causing it.  But if you can narrow down a repro, I'm happy to take a look.

[2018-08-06 10:31] macOutlookExtensibility commented on #212
Thanks for reporting the issue. We will take this up as a bug fix.

[2018-08-06 15:19] keyur32 commented on #211
Hi @adam-lerner51, to help us reproduce your issue, what build are you on in Excel (File > Account > About Excel)?
Does it if you sideload the custom function on Excel Online?

Also, entering in your corsproxy+apiurl into the browser: https://cors-anywhere.herokuapp.com/http://api.bf4stats.com/api/onlinePlayers?output=json,  returns the following error for me: `Missing required request header. Mus

[2018-08-06 17:03] xstos opened #213 "auth.getAccessTokenAsync doesn't seem to work with Microsoft Graph client"
## Expected Behavior
I assumed that token would work with Microsoft Graph Client

## Current Behavior
graphClient err variable contains:

[code]

## Steps to Reproduce, or Live Example
Started with: https://github.com/OfficeDev/Word-Add-in-Tutorial

my-word-add-in-manifest.xml

added WebApplicationInfo node as follows:
[code]

package.json

[code]

app.js

[code]

* Additional details:
![o365addin

[2018-08-06 17:20] Rick-Kirkham commented on #213
The token doesn't work that way. You need to exchange it for another token using the "On Behalf Of" flow. Please see the articles in this node of the developer documentation: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins. You should also check for support of `IdentityAPI 1.1` in the same place where you check for WordApi 1.3. (Note that the "PI" is capitalized i

[2018-08-06 17:20] #213 closed, assigned to nobody

[2018-08-06 18:26] bohap commented on #210
@exextoc  thanks for the answer.
I have gone with a different solution - the email is send from code, and then the user mailbox is searched for that email, but I found another problem.
I am using the following soap request for sending the email
<?xml version="1.0" encoding="utf-8"?>
    <soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xmlns:m="http://schemas

[2018-08-06 22:38] exextoc commented on #81
The definition you provide is a working definition that should be suffice for `ItemSend` event. The `id` is a string that represents the name of the control in the manifest and the completed function definition looks right.

We have not updated our typings for this API yet because the API is still in Preview. We will look into updating our typings soon.

[2018-08-06 22:43] exextoc commented on #206
A potential work around is to implement an add-in command with the `ExecuteFunction` action and look for the Contact entities in the message. Another alternative is to implement a contextual add-in that leverages the `DetectedEntity` extension point where you can highlight Contact entities in the message.

[2018-08-06 22:43] #206 closed, assigned to exextoc

[2018-08-07 09:37] markb-trustifi opened #214 "recipientType is always -1"
When I run this code I expect some lists to be of internal/external type:
[code]

## Expected Behavior
Some lists should be of internal and external type.

## Current Behavior
Windows Outlook desktop client  - OK
Windows Outlook online in browsers - OK
Mac Outlook online in browsers, including Safari - OK
Mac Outlook desktop client - all contacts types are "-1"

## Your Environment
* Platform: Mac

[2018-08-07 15:11] xstos commented on #213
Holy cow it worked! Thanks for the nudge in the right direction.

![behalf_of_postman](https://user-images.githubusercontent.com/950443/43783688-5018059c-9a30-11e8-8815-9f7272dd27fb.png)

Took me a couple of weeks to finally figure this out end to end. I've been spoiled in VBA, VSTO, and AddinExpress land I guess. The process was kinda painful.

If I was going about documenting the app development

[2018-08-07 16:00] misaunde commented on #12
@JuaneloJuanelo I definitely have noticed improvements of writing plain text to excel. Thank you. I just wrote 25000 rows x 3 columns in under .3 seconds. That's fantastic.

My only concern is that as soon as we add more than plain text (formatting, formulas, cell coloring, conditional formatting, columnWidth adjustments, etc), the performance gains seem to disappear.
For example, I wrote the same

[2018-08-07 17:21] Rick-Kirkham commented on #213
@xstos
Thanks for the suggestions. We do have two end-to-end samples. See the "Completed" folder of the following:
[Office-Add-in-NodeJS-SSO](https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO)
[Office-Add-in-ASPNET-SSO](https://github.com/OfficeDev/Office-Add-in-ASPNET-SSO)

[2018-08-07 20:29] Zlatkovsky commented on #12
@misaunde , for the formatting case, could you please open up a separate question on https://stackoverflow.com/questions/tagged/office-js and link to it here?  There is a workaround I can suggest that will likely do a lot of good for you -- but I want to make sure that other folks can also see it without it being lost as the 90th comment to an older issue. :-)

[2018-08-07 21:30] misaunde commented on #12
@Zlatkovsky  - Great news, here you go:
https://stackoverflow.com/q/51735674/3806701

[2018-08-08 11:45] jrop opened #215 "Reading/Writing per-cell format in a performant way"
_First of all, thank you so much for your work on this API!_

Currently, it is possible to read and write Range values in batch, and this can be extremely performant.  However, it would seem that other properties, such as "format", "format.font", or any other per-cell data, is prohibitively expensive to retrieve on a large worksheet.

[code]

The following is the worst-case performance time I have

[2018-08-08 12:26] jrop commented on #215
NVM, found out that `load(...)` can load recursively.  Sorry for the noise:

[code]
This runs in less than a second.

[2018-08-08 12:26] #215 closed, assigned to nobody

[2018-08-08 14:44] rvanlaak commented on #209
Some additional info; the SecurityError is still happening, but it's leading towards security exceptions on the websockets.

I've applied adding `ws://localhost` and `ws://localhost:3000` to the Internet Options now: https://stackoverflow.com/a/41643700/1794894

Will report back if problems still occur, or if problems are resolved.

[2018-08-08 15:09] markb-trustifi commented on #214
I'm probably mistaking. I'll close this issue and check the flow again.

[2018-08-08 15:09] #214 closed, assigned to nobody

[2018-08-08 18:59] stowellt opened #216 "Opening and closing a dialog in Word sometimes causes Word to freeze"
## Expected Behavior
When opening and closing a dialog repeatedly, Word should not freeze

## Current Behavior
When I open a dialog and quickly close it, then quickly open it again, Word will sometimes freeze. In task manager I can see a Internet Explorer (32 bit) process running taking 100% CPU usage. If I kill this process, Word becomes responsive again.

## Steps to Reproduce, or Live Example

[2018-08-08 19:00] Zlatkovsky commented on #215
@jrop , while you're here, a couple thoughts:

1. The biggest difference between your initial code and the one below it is the use of ` ctx.sync()` -- and the fact that in the latter code block, you moved it out of the for loop.  That's by far and away your biggest gain.  As a developer using Office.js, your goal is to minimize invocations to `context.sync()`, as each one is a perf hit -- which me

[2018-08-08 21:39] jrop commented on #215
@Zlatkovsky Thanks for the info!  Yep, batching is always preferred.  I'll read through the SO answer for more info, thanks for posting!

[2018-08-09 00:40] troywweber7 opened #217 "Calling chartCollectionObject.load('items') causes an internal error"
## Expected Behavior

I should be able to load the items in a charts collection (with the intent to delete them or modify them).

## Current Behavior

Attempting a `charts.load('items')` causes "... an internal error ...".

## Steps to Reproduce, or Live Example

* Additional details:
  1. Run the following code:

[code]

## Context

I need to be able to access the charts in order to update them o

[2018-08-09 00:45] Rick-Kirkham commented on #217
You shouldn't need to specify "items" when you load a collection class. If you load anything, you get the items too. What happens if you use the command `charts.load("no-properties-needed");` ?

[2018-08-09 01:42] MiaofeiWang commented on #217
If Rick's suggestion not work, @troywweber7 can you share with us what kinds of charts (like column, line, scatter, etc.) you are using in this worksheet?

[2018-08-09 10:30] va1729 opened #218 "Search doesn't work properly when using matchWholeWord in Word Online."
The `context.document.body.search` API doesn't work if `matchWholeWord` is set to true in [SearchOptions](https://dev.office.com/reference/add-ins/word/searchoptions) and the search term is in brackets. It works in Windows Word application though.

## Expected Behavior
It should search and return results even if the search term is in brackets.

## Current Behavior
Searching for `[text]` in a docum

[2018-08-09 23:38] dstaley commented on #189
Just another data point: this seems to only affect Windows. Dialogs are properly sized based on screen dimensions on macOS.

[2018-08-10 18:45] JuaneloJuanelo commented on #218
I was able to repro this issue. btw here is a Script Lab gist. https://gist.github.com/JuaneloJuanelo/30a4c79ef4540451e5972e45552dff53

tracking with bug 2491489

[2018-08-10 18:54] exextoc commented on #212
Is there a way to assign to @macOutlookExtensibility?

[2018-08-10 19:04] JuaneloJuanelo commented on #216
@stowellt  i am not able to repro this issue. can you please provide your build number?

[2018-08-10 19:07] stowellt commented on #216
Thanks for taking a look. Build number is;
`Microsoft Word 2016 MSO version 1807 (Build 10325.20082 Click-to-Run)`

Update: see also #219

[2018-08-10 22:13] dlastine opened #219 "Excel on Windows 10 sometimes becomes unresponsive when a dialog opened with displayDialogAsync is closed"
Excel is becoming unresponsive to me in the following scenario.  I have a taskpane add-in where a user can click a button to open a dialog.  The button's onclick callback uses Office.context.ui.displayDialogAsync to open the dialog.  When the user closes the box, there is a small chance that Excel becomes unresponsive.

## Expected Behavior

When closing a dialog opened using Office.context.ui.dis

[2018-08-13 08:03] rvanlaak commented on #209
@TheSamsterZA the problems still are occurring. Some more information I've found / tried:

* https://github.com/angular/zone.js/issues/1001
* https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/general-info/ee330736(v=vs.85)#websocket-maximum-server-connections

This might has to do something with the combination Webpack / In-Word IE11 (?). It is an uncaught s

[2018-08-13 08:14] barisbikmaz commented on #146
Does not happend anymore. Closing.

[2018-08-13 08:14] #146 closed, assigned to nobody

[2018-08-13 08:55] macOutlookExtensibility commented on #212
This bug is fixed and fix is available from builds 180813 onwards

[2018-08-13 09:14] TheSamsterZA commented on #209
@rvanlaak:

Try adding `wss://localhost` and `wss://localhost:3000` to Internet Options as well.

How exactly are you running your local server? What npm script are you using?

[2018-08-13 10:43] TinoDidriksen opened #220 "iPad Dialog doesn't handle target=_blank"
In Word 2.16 for iPad (reinstalled today), in a dialog, links and forms with `target="_blank"` do not open externally in Safari - such links are opened in the same view, regardless of JS tricks tried to force a new window.

The add-in sidebar handles `_blank` just fine and launches external Safari for those links, so it is puzzling why dialogs don't.

## Context
We use dialogs to pop up configurat

[2018-08-13 12:37] rvanlaak commented on #127
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/attach-debugger-from-task-pane

The standalone F12 tool executable is a nice start. As it allows to hook into the addin iexplorer process after Word opened it, and allows adding the debugger as described in above tutorial. This does not allow linking to sourcemaps though, so placing breakpoints is a struggle. An IDE could also do what F12

[2018-08-13 14:17] rvanlaak commented on #209
Added `wss://` protocols now as well, it seems something slightly changed but the problems are still occurring. Another reference: https://github.com/qzind/qz-print/issues/39

The addin runs by WebStorm executing `nmp run start`, with the start script:

[code]

The basis of the app was generated using the Yeoman generator, and the webpack config except for adding two more entries didn't change aft

[2018-08-13 14:34] TheSamsterZA commented on #209
Please try updating `webpack-dev-server` as mentioned here: https://github.com/webpack/webpack-dev-server/issues/851#issuecomment-350513764

That's an alpha build, but it might get you unstuck.

The long-term solution would be to upgrade to Webpack 4 and use https://github.com/webpack-contrib/webpack-serve since [webpack-dev-server is in maintenance mode now](https://www.reddit.com/r/javascript/co

[2018-08-13 16:04] rvanlaak commented on #209
Replacing `webpack-dev-server` with `webpack-serve` solved the security exceptions. Thanks @TheSamsterZA 🎉

Using `webpack-serve` should be advocated, as it indeed removes the `socket.js` dependency by native websockets, and Word addin is served via IE11 [that natively supports it](https://caniuse.com/#feat=websockets).

[2018-08-13 18:11] ndeeH commented on #198
Hallo @JuaneloJuanelo ,
any news on this? For the current store validation our add in must work in PowerPoint Online in presentation mode. Here we are facing bugs which are not originated in our add in.
We could show a page `"Add in not supported in PowerPoint Online"` - but I think this will not pass validation. (There is no requirement set that will hide the add in in the online versions)
Any id

[2018-08-13 20:39] shyambhiogade opened #221 "Loading error for office addin - sometime - error Office 365 has been configured to prevent individual acquisition of office store addins"
## Expected Behavior
Office add-in load should be successful as it works sometime and i am getting this error sometime

## Current Behavior
Sometime i am getting the error when office addin is trying to load from an integrated in an excel file. Somtime it works, please find the snapshot,

## Steps to Reproduce, or Live Example
https://stackoverflow.com/questions/51659002/loading-error-for-office-a

[2018-08-14 00:02] troywweber7 commented on #217
That appeared to do it for me. I think there are some complexities of the `load()` function of which I'm not aware. I think this should allow me to do what I need to (delete and update series of all the charts). Thanks.

[2018-08-14 00:02] #217 closed, assigned to nobody

[2018-08-14 07:57] rvanlaak opened #222 "Image disappears when replacing selected image with it's own ooxml"
We are working on placing a comment on an image, but this is really hard as the only way to do this is by working with the OOXML.

We found the following bug; the image in a Word document disappears when replacing selected image with it's own ooxml.

## Expected Behavior

The image should not dissapear. For text (with formatting) replacing with it's own ooxml works okay.

## Current Behavior

The

[2018-08-14 11:15] michahell opened #223 "Office.onReady()"
Where, for the life of me, can I find the documentation regarding `Office.onReady()` ?
It seems to already be in the typings for OfficeJs (`@types/office-js`) since `0.0.83`, which was released a month ago.

[2018-08-14 13:11] edwardcawley commented on #207
Thanks from me also - am using Excel Beta APIs and wasn't sure if there was something wrong with the file or I'd set up my project incorrectly.

[2018-08-14 13:29] georgechr opened #224 "Setting range data when filter is applied doesn't work"
I am not sure whether I am misusing the API but it seems that trying to refresh/update/add/remove from filtered range data doesn't work as expected:
1. Set some data with column names in a sheet (can be done manually, doesn't matter)
2. Filter on one of the columns
3. Use the Excel.Range API to refresh the values. For simplicity, lets say the same values are set again.

## Expected Behavior
* One

[2018-08-14 15:17] dlastine commented on #216
I have the same build number for Word and can reproduce this issue using similar steps.  For five tests where I was able to reproduce the issue the number of open/close cycles needed to reproduce the issue were:  37, 8, 59, 12, 48.

Each test started with no open instances of Word or any other Office application, and Word was started by Visual Studio 2017.  On my system the Internet Explorer (32 b

[2018-08-14 15:38] rvanlaak commented on #222
Another note; when running the code on a table (so, replacing the table OOXML with it's own OOXML), an error regularly pops up that the table was damaged.

![image](https://user-images.githubusercontent.com/2707563/44101943-dde07e50-9fe8-11e8-99c3-a3596b1324f5.png)

[2018-08-14 22:45] Rick-Kirkham commented on #223
We have a work item to doc this, but it's relatively new and we've been preoccupied working on an entirely new system for generating reference documentation. In the meantime, see Michael Zlatkovsky's comments in this issue: https://github.com/OfficeDev/office-js/issues/5

[2018-08-16 03:31] XiangGaoMSFT commented on #224
Thanks for reporting this issue. I can repro it.

Tracked with internal bug 2500244

[2018-08-16 19:04] exextoc commented on #210
This is not possible today. However, we track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). It looks like the feature you want has been requested by others already. Please upvote the existing request [link](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/34

[2018-08-17 10:45] rvanlaak commented on #209
Problems were related to `webpack-dev-server`. Closing here.

[2018-08-17 10:45] #209 closed, assigned to nobody

[2018-08-19 14:51] #210 closed, assigned to exextoc

[2018-08-20 08:43] jacob-j opened #225 "setSelectedDataAsync broken for large base64 strings in Powerpoint"
We have come across a issue with the Office.js API in Powerpoint desktop.
When we insert a base64 string as image, and if the image is really large, it just fails in the middle of it resulting in a half-inserted image. (See screenshot).
The API we are using is Office.context.document.setSelectedDataAsync

I have tried the exact same API in Word, Word Online and Powerpoint Online. There it works fi

[2018-08-20 15:55] JuaneloJuanelo commented on #225
@jacob-j can you please specify in more detail what does large image means? (in MB or GB)  thanks!

[2018-08-20 15:56] JuaneloJuanelo commented on #223
@Rick-Kirkham  please add Work item ID.

[2018-08-20 16:02] jacob-j commented on #225
@JuaneloJuanelo The image I tested was at 6MB

[2018-08-20 17:25] Rick-Kirkham commented on #223
https://office.visualstudio.com/OC/_workitems/edit/2446806

[2018-08-20 21:18] misaunde opened #226 "Setting values on a RangeView Object doesn't work as expected"
## Expected Behavior

**When a column is filtered**, I can read it's values with:
`const range = context.workbook.getSelectedRange().getUsedRange().getVisibleView();
range.load("values");`

Similarly, I'd like to be able to write values to the visible cells in the column with:
`var visibleRange = context.workbook.getSelectedRange().getUsedRange().getVisibleView();
visibleRange.values = rangeValues

[2018-08-21 01:41] XiangGaoMSFT commented on #226
Thanks for reporting it. I tried on Excel 2016 but can't repro it.

It may be related to your current selection.

Could you import [this gist](https://gist.github.com/XiangGaoMSFT/966b55acb05712be49222010b96475e8) to Script Lab and check whether `visibleRange.cellAddresses` has the same row/column count with `valuesToSet`?
If yes, could you provide Script Lab console's output to help us to investi

[2018-08-21 16:01] misaunde commented on #226
Ok wow, fantastic, that worked. Lol, I've tried on 2 separate occasions to get this working, without success. My co-worker also manually walked through the cellAddresseses because it didn't appear to work for them the first time either. After playing with the gist though, I got my code working in 5 minutes and was left scratching my head why it didn't work before.

Anyways, there doesn't appear to

[2018-08-23 03:15] XiangGaoMSFT commented on #224
@georgechr we've identified the root cause but it seems it still needs some time to fix this regression.
So we want to provide a workaround to unblock you.

The key of the workaround is, setting values cell by cell.
Please try the code below.

[code]

[2018-08-23 08:18] XiangGaoMSFT commented on #226
Glad to know you don't this issue now.

Regarding to your question, you can iterate cellAddresses and get range based on them.

[2018-08-23 10:11] vmrathod opened #227 "reading wrong namespace for customXmlParts using namespace"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

I am using following method to read a customXmlParts using namespace.
`function showXMLPartsInNamespace() { `
`  Office.contex

[2018-08-23 10:13] vmrathod opened #228 "Not able to find the Id of date picker content control using office.js API"
when I try to fetch the Ids of all the content controls on document using below code

` var contentControls = context.document.contentControls;`
`context.load(contentControls, 'id,subtype,type');`

This code is fetching the all the content controls ids except those content controls shown as **date picker**.
Need a solution how to read the date picker content controls.

**Expected Behavior**

conte

[2018-08-23 19:02] misaunde commented on #194
Any known workarounds for this?

[2018-08-23 19:32] nikolay-borzov commented on #194
I had to debounce event handlers. Not a good workaround though.

[2018-08-23 19:40] ShawnNiu commented on #194
@misaunde  @nikolay-borzov We fixed the problem. The event handler will be removed once refreshed. The change will be rolled out soon within one or two weeks

[2018-08-23 19:47] misaunde commented on #194
@ShawnNiu great news! Btw, when you say rolled out soon, do you mean to the insider track or to everyone?

For now, I ended up just adding the event handler at the root of my app (app.component.ts) so it only got added once, and then I added a condition at the start of my '.onWorksheetActivated()' function so it would only execute when I wanted it to...

[2018-08-24 21:23] ShawnNiu commented on #194
the release will be a public one

[2018-08-24 21:49] JuaneloJuanelo commented on #228
currently the API only supports rich text content controls. please upvote a request in the OfficeDev uservoice channel

[2018-08-24 21:49] #228 closed, assigned to nobody

[2018-08-24 21:50] JuaneloJuanelo commented on #227
please provide a copy of such document, until then we cannot investigate.

[2018-08-24 21:52] JuaneloJuanelo commented on #226
issue solved, case closed.

[2018-08-24 21:52] #226 closed, assigned to XiangGaoMSFT

[2018-08-24 21:53] JuaneloJuanelo commented on #223
tracking internally with 2446806

[2018-08-25 06:51] evantrimboli opened #229 "NumberFormat for cells with dates doesn't take locale into account"
My machine locale is set to `en-AU`. I am reading the `numberFormat` from a cell with a date. The date is displayed in the cell as `31/12/2018`, however the `numberFormat` returns `m/d/yyyy`.

## Expected Behavior
The date format reported after loading a date value should represent the current locale.

## Current Behavior
The date format reports as being in the US locale.

## Steps to Reproduce, o

[2018-08-25 07:09] evantrimboli commented on #229
Since this defaults to the asterisk format of the date, it means the format will use the localized equivalent.

[2018-08-25 07:09] #229 closed, assigned to nobody

[2018-08-25 22:10] PeterTippett opened #230 "Custom Functions Accessing Sheet Properties"
Currently testing this function as want to store information between sheet opening.

An example is storing the token for API access.

This isn't working for Custom functions but works for the normal add-ins. Think this is related to context?

BUT I can access the url property in this - Office.context.document.url

Note. Testing with the Excel On-line version

Sample Code

function getProperty(name

[2018-08-27 08:47] vmrathod commented on #227
Here you find my gist [https://gist.github.com/vmrathod/4d2b0c48be5c3b9089a36e3c1e946906](url)

I have used following code to read a namespace **http://www.apttus.com/schemas**
`async function readSchema() {`
                ` await Word.run(async (context) => {`
               ` Office.context.document.customXmlParts.getByNamespaceAsync(`
                 `   "http://www.apttus.com/schemas",`

[2018-08-27 09:28] vmrathod commented on #227
Here you find my gist https://gist.github.com/vmrathod/4d2b0c48be5c3b9089a36e3c1e946906

I have used following code to read a namespace **http://www.xyz.com/schemas**
`async function readSchema() {`
                ` await Word.run(async (context) => {`
               ` Office.context.document.customXmlParts.getByNamespaceAsync(`
                 `   "http://www.xyz.com/schemas",`

[2018-08-27 18:29] dmitriyyepishin opened #231 "Dialog sizing is incorrect"
When using Dialog API (Office.context.ui.displayDialogAsync), height and width provided in the configuration object are switched and the resulting dialog has the passed in width as height and passed in height as width.

## Expected Behavior
The width of the dialog should correspond to the width property of the configuration object sent as an argument to the function. Sam with the height parameter.

[2018-08-27 18:52] JuaneloJuanelo commented on #231
known issue, we are currently fixing this.

[2018-08-28 05:49] vmrathod commented on #227
Is anybody get a chance to see my comment?

[2018-08-28 18:37] codecrasher99 opened #232 "Document custom properties not save in Office 365 for Windows"
## Expected Behavior
The document custom properties are not getting saved via office web add-in when the add-in loads in Office 365 for windows. The same code works fine in Office 365 online. The [stackoverflow query](https://stackoverflow.com/questions/52062904/document-custom-properties-not-save-in-office-365-for-windows) contains details about the problem.

## Current Behavior

## Steps to Repr

[2018-08-28 19:28] JuaneloJuanelo commented on #232
answered on stack.

[2018-08-28 19:28] #232 closed, assigned to nobody

[2018-08-30 15:05] codecrasher99 opened #233 "Document.getFilePropertiesAsync method fails in unsaved Excel document"
Document.getFilePropertiesAsync method does not return a success when invoked for an unsaved Excel document. It works fine if the excel is in a saved state. Is this a bug or is this missing in the Excel API. The stackoverflow [query](https://stackoverflow.com/questions/52100183/document-getfilepropertiesasync-method-fails-in-unsaved-excel-document) contains details about the problem.

## Expected

[2018-08-30 16:53] codecrasher99 opened #234 "Excel application hangs on custom property retrieval for saved workbook"
Excel custom property retrieval causes the excel application to hang for saved workbook.  The same code snippet works fine if the excel workbook is in an unsaved state. The stackoverflow [query](https://stackoverflow.com/questions/52102047/excel-custom-property-retrieval-fails-for-saved-workbook) contains details about the problem.

## Expected Behavior

## Current Behavior

## Steps to Reproduce,

[2018-08-30 18:31] twinVectr opened #330 "RecipientType in outlook Office.context.mailbox.item is not consistent"
Initialized outlook in office-js-API, the recipientType on the item is not consistent always.

The API response has RecipientType = "user" for distribution item and RecipientType = "distributionList" for user item or sometimes "other".

Why is this inconsistency?

![screen shot 2018-08-30 at 2 31 11 pm](https://user-images.githubusercontent.com/17032110/44871657-6ae50800-ac61-11e8-870b-c840cd93445

[2018-08-31 07:32] jacob-j commented on #225
@JuaneloJuanelo Do you have any news on this issue? Thanks

[2018-08-31 19:47] troywweber7 commented on #217
Could someone explain what "no-properties-needed" actually does?

[2018-08-31 20:37] Rick-Kirkham commented on #217
@troywweber7 See [Excel Add-ins Advanced Concepts](https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/excel/excel-add-ins-advanced-concepts.md) for some information about load(). It does not, however, answer your question, so I will make a work item to add that.

When your code is not going to read any particular properties, then you don't need to specify any in a parameter to load().

[2018-08-31 22:30] Andrew-AnalysisPlace opened #235 "range.getImage() returns upside-down image on Excel for Mac"
rangeObject.GetImage() works great in Excel for Windows, partially works in Excel Online, and returns an upside-down image in Excel for Mac 16.16.1.
I use range.getImage() to get a picture of exactly what is in a range. This is then used in other Office applications.

- In Excel for Windows (version 1806), it works perfectly as I had hoped. It gets anything put on the range, including cell content

[2018-09-03 06:55] XiangGaoMSFT commented on #235
Thanks for reporting this inconsistent behavior.

I tried [this gist](https://gist.github.com/XiangGaoMSFT/c2f9f8f8c4513d0126d7153f238051b3)  and confirmed below behaviors:
* On Excel Online, shapes and charts are not returned
* On Excel for Mac (16.18), it has the same behavior as the user reported on 16.16.1

Will talk to our PM and respond later.

[2018-09-03 13:54] codecrasher99 commented on #233
Examining the asyncResult.status seems to be a crude workaround for the issue.

asyncResult.status === Office.AsyncResultStatus.Succeeded

However this does not mean that the issue is fixed.

[2018-09-03 14:06] codecrasher99 commented on #233
Reopening the issue

[2018-09-03 15:17] brugh opened #236 "including office-js into an @angular/cli project fails to run production build"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Adding the @microsoft/office-js to an angular6 project will allow
[code]
to run correctly but when the site is opened, the debugger shows a console message
[code]

## Expected Behavio

[2018-09-04 03:42] XiangGaoMSFT commented on #234
Thanks for reporting this issue.

I can repro it by [this gist](https://gist.github.com/XiangGaoMSFT/4cafb6f0c1a4a981f6d0a4c2386c3b38)
This issue has been fixed in latest version. We'll try to port the fix to 16.0.9126.xxxx

Tracked by internal bug 2536476

[2018-09-04 09:24] mrfloppy82 opened #237 "Problem with Icons of Addin Commands in Outlook 2016 Desktop"
Hello,

i have a problem with icons in the Ribbon bar. There are not shown, only the standard fallback icons (blue) are shown. My Outlook Version is 2016 build 1807.

Here is a snippet of my Manifest.xml:

                <Control xsi:type="Button" id="dvelop.Office.Button.Show.d3one">
                    <Label resid="dvelop.Office.Label.Show.d3one" />
                    <Supertip>

[2018-09-04 14:23] brugh commented on #236
OH, and I enabled all polyfills as per documentation. The projects becomes VERY VERY slow though. Load times skyrocket from 1.5s to over 6s with polyfills enabled. Can office-js be build without them? If I only enable ```shim```, ```es7/reflect``` and ```zone``` the add-in loads fine, sideloaded into local office apps

[2018-09-04 21:58] exextoc commented on #237
@mrfloppy82 Your Resources XML element is not correctly closed. It should end with </Resources> instead of </Resource>. Is this just a copy/paste typo here? Your manifest won't install with this typo. That said, the first thing to check is whether you are able to access the icon if you copy/paste its url into a web browser on your machine.

[2018-09-05 05:46] mblennegard commented on #181
Again, this issue needs to be re-opened, as it clearly is a bug with the Visio API.

@rahul-mi I know you have been helping us with several other issues with the Visio API, so I add your name here as well.

[2018-09-05 07:12] mrfloppy82 commented on #237
That is only a copy paste Problem. The original Manifest is valid. I can call the URL in a Webbrowser and the icons are shown correctly. Must they have a special format for Outlook?

[2018-09-05 11:24] yarikzub opened #238 "[Word Online] Error on document body search with escaping symbols"
I try to find text between curly brackets with the following code.

[code]

Everything works fine in Windows and Mac Word. But in Word Online (Chrome, IE11) I have following error with the same plugin:

`{"name":"RichApi.Error","code":"InvalidArgument","traceMessages":[],"innerError":null,"debugInfo":{"code":"InvalidArgument","message":"The argument you provided is not valid. Check the OfficeExten

[2018-09-05 12:53] codecrasher99 commented on #234
Thanks for the fix.

[2018-09-05 12:53] #234 closed, assigned to XiangGaoMSFT

[2018-09-05 16:46] Rick-Kirkham commented on #238
When you are programmatically searching, you put the character that you want to escape between to square brackets, instead of putting a backslash in front of it. See https://docs.microsoft.com/en-us/office/dev/add-ins/word/search-option-guidance#escaping-the-special-characters

[2018-09-05 16:46] #238 closed, assigned to nobody

[2018-09-05 19:49] exextoc commented on #237
PNG file formats are fine for Outlook. Can you try with an icon from a publicly available endpoint that we can also access in-house? If that doesn't work, and you don't have any sensitive data in your manifest, kindly share it with us so that we can try it out on our end to see if we can repro this issue.

[2018-09-05 22:55] ElizabethSamuel-MSFT commented on #330
@twinVectr Thanks for raising this issue. Can you share some examples? Do you have access to see how they are configured on the server? Are you expecting that if all the recipients are on Exchange the RecipientType should never be "other"? Thanks.

[2018-09-06 08:05] mrfloppy82 commented on #237
I have tried it with the following icon:

https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/48x48/shadow/ok.png

It does not work. I attach our manifest

[OutlookAddin.zip](https://github.com/OfficeDev/office-js/files/2356104/OutlookAddin.zip)

[2018-09-06 13:19] KeyurPatel268 commented on #228
@JuaneloJuanelo  If you get chance to look my stackoverflaw, could you please suggest us?
https://stackoverflow.com/questions/52205026/word-2016-addin-office-word-js-can-update-document-run-time-after-remove-few-co

[2018-09-06 15:02] Edward-Zhou opened #239 "Use Word.run in dialog api"
I want to get word openxml from dialog api.

I try code below:
`(function () {
    Office.onReady(function () {
        //Office is ready
        $(document).ready(function () {
            //the document is ready
            $("#LoadComment").click(loadOoXml);
        });
    });

    function loadOoXml() {
        console.log("Load Comment Button is clicked");
        Word.run(function (context)

[2018-09-06 16:25] Rick-Kirkham commented on #239
You can't use most of the APIs in the dialog. There are only 2 APIs that you can use. See the note about 1/4 of the way down in this article: [Use the Dialog API](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins)

[2018-09-06 16:25] #239 closed, assigned to nobody

[2018-09-06 19:48] twinVectr commented on #330
@ElizabethSamuel-MSFT  We are expecting `RecipientType: user` if it is a user and `RecipientType: distributionList` if it is a distribution or `RecipientType: other`

Example:
Here is a user email and Office.context.mailbox.item return

<img width="445" alt="screen shot 2018-09-06 at 3 45 39 pm" src="https://user-images.githubusercontent.com/17032110/45181288-04756200-b1ec-11e8-921c-64167a6fb507.p

[2018-09-07 08:39] barisbikmaz opened #240 "Inserting ooxml and docx does not work anymore in Office Online"
## Expected Behavior
We want to insert ooxml or a docx as base64 into a word document.

## Current Behavior
Insertion does not work. An error occurs telling that the ooxml is malformed.

## Steps to Reproduce, or Live Example

[Script Lab - InsertBase64FromFile](https://gist.github.com/barisbikmaz/ac7a43135a10d8896867fb042a38d5d2).

[Script Lab - Insert Ooxml](https://gist.github.com/barisbikmaz/c

[2018-09-07 16:33] exextoc commented on #330
@twinVectr is this inconsistency in Outlook (rich Desktop client) or the web?

[2018-09-07 16:43] JuaneloJuanelo commented on #240
this is a known issue and an active escalation on the team.

[2018-09-07 17:12] twinVectr commented on #330
I am using outlook app on mac.  Attached the screenshots

![screen shot 2018-09-07 at 1 10 35 pm](https://user-images.githubusercontent.com/17032110/45233067-94281880-b29f-11e8-8efb-adf282db0088.png)

![screen shot 2018-09-07 at 1 11 26 pm](https://user-images.githubusercontent.com/17032110/45233074-98543600-b29f-11e8-8d6b-0695e12b7d02.png)

Thanks.

[2018-09-07 17:45] LezaMax commented on #240
@barisbikmaz do you by any chance have an approximated date when you started observing this behavior. We are investigating right now but in parallel I'm gathering more context.

[2018-09-07 17:52] danielgwilson commented on #189
Confirmed that this wasn't just an issue with the docs—this has been fixed (will match docs; percent of screen size not window) and will be shipped in an upcoming build

[2018-09-07 18:01] danielgwilson commented on #199
@georgechr From a conversation with an engineer on the subject, it appears displaylanguage and contentLanguage only expose the install language to an add-in which might suggest a documentation issue. I'm following up, but that's the current status.

[2018-09-07 18:09] exextoc commented on #330
Thanks for the response.
Let me engage the Mac Outlook Team.

[2018-09-07 18:11] Rick-Kirkham commented on #199
@danielgwilson I can switch languages from the install language and `contentLanguage` reflects my changes. So I think the docs are correct. I can't reproduce what @georgechr is reporting.

[2018-09-07 18:25] danielgwilson commented on #97
Hi @barisbikmaz, I believe you're running into an issue by design; we don't allow for API calls from inside a dialog window. I'm going to close this for now, but please provide more info if you believe I'm misunderstanding.

[2018-09-07 18:25] #97 closed, assigned to JuaneloJuanelo

[2018-09-07 18:27] danielgwilson commented on #199
Strange. I'll still follow up and see if we can get a repro.

[2018-09-08 03:18] exextoc commented on #237
Thanks for providing the manifest for your add-in.
I tried it and and the icons are showing up for me.
My build of Outlook is more recent though.

Is this problem affecting all add-ins you have installed?
If you don't have any add-in installed, can you install one (for example Evernote) using the "Get Add-ins" button in the ribbon and let me know if the icon show up?

Here's a screenshot of the ic

[2018-09-10 07:00] barisbikmaz commented on #240
It was told us by a customer on 6th of september. Probably in that range.

[2018-09-10 12:55] SSAndersen opened #241 "error:5001 - office.context.auth.getaccesstokenasync"
## Expected Behavior
I'am creating an outlook add-in, and trying to create SSO access.

Get the app-token, as callback on the office.context.auth.getaccesstokenasync method

## Current Behavior
It works:
 -100% in Chrome
 -50% ish in outlook desktop
 -0% in internet explorer 11
in IE11 i get an 5001 error  internal server error.
![image](https://user-images.githubusercontent.com/24933635/45298010-

[2018-09-11 01:55] LezaMax commented on #240
Thank you, this was indeed an issue that was resolved since last Friday.  Do let us know if you are still experiencing problems.

[2018-09-11 07:05] barisbikmaz commented on #240
Thanks, looks ok in my first testing. Closing the issue.

[2018-09-11 07:05] #240 closed, assigned to JuaneloJuanelo

[2018-09-11 08:48] macOutlookExtensibility commented on #330
Thanks for raising it. We are looking into it and update with our findings.

[2018-09-11 14:43] ndeeH commented on #198
Hallo @JuaneloJuanelo ,
this issue is still present just tested again in PowerPoint Online in newest Chrome Version.
When using the manifest earlier we get the error:
`We couldn't connect to the catalog server for this add-in.`

I have also seen a **new bug** - this might have to do with my thumbnail issue #184
When scaling content add ins there seems to be a overlay bitmap AND the content that sc

[2018-09-11 19:14] Rick-Kirkham commented on #223
This is now documented in https://docs.microsoft.com/en-us/office/dev/add-ins/develop/understanding-the-javascript-api-for-office

[2018-09-11 19:14] #223 closed, assigned to Rick-Kirkham

[2018-09-12 10:49] ox4 commented on #241
I'm having exactly the same issue in Chrome. However, only when I'm signed in in more than 1 account.
![untitled](https://user-images.githubusercontent.com/11349411/45420157-1777ae80-b692-11e8-823f-0524cc6f4aa7.png)

[2018-09-12 11:40] ndeeH commented on #184
@JuaneloJuanelo Seems the developers are working on this.
In latest Chrome-Version we see a bitmap-overlay that seems to be used to proper update the thumbnails.

Unfortunately it does not work correct with most content add ins - see example screenshot;
![image](https://user-images.githubusercontent.com/11518242/45422689-404b7400-b691-11e8-8adc-d67723517407.png)

[2018-09-12 15:12] leoseccia opened #242 ".doc file does not disable ribbon buttons"
## Expected Behavior
Addin ribbon buttons should not be enabled because of the legacy document format (.doc)

## Current Behavior
Addin ribbon buttons are enabled. officejs api does not allow interaction with the document

## Steps to Reproduce
  1. Install Script Lab on Word Desktop
  2. (Unzip and) Open the document attached to this Issue
  3. Select the Script Lab Tab, click on Run and try to r

[2018-09-12 21:00] P4trik opened #243 "Office.context.mailbox.item.addFileAttachmentFromBase64Async is not a function"
Can't call the method  "addFileAttachmentFromBase64Async" of the mail item in compose mode.
I linked this lib: <script src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.js"></script>
Everything else works finde for me. I'm using the Outlook Online Client (OWA).

But I'm happy that these method is now part of the lib :-)

* Platform [PC desktop, Mac, iOS, Office Online]: Office Online

[2018-09-12 22:11] exextoc commented on #243
The [Preview API Requirement Set](https://docs.microsoft.com/en-us/javascript/office/objectmodel/preview-requirement-set/outlook-requirement-set-preview?context=outlook%2Fcontext&view=office-js) does not guarantee that an API is supported across all platforms. We are working to bring this functionality to all platforms soon.

<blockquote>
Note: This documentation is for a preview requirement set.

[2018-09-12 22:11] #243 closed, assigned to nobody

[2018-09-13 08:49] P4trik commented on #243
Would be great to know on which platforms I have at least to expect it could work.
For experimental usage: What kind of Requirement MinVersion do I have to set? 1.7?

[2018-09-13 12:58] harishvgupta opened #244 "Not able to retrieve location through API when it is filled as free text in calendar event"
When the location field is entered only as a free text and not through the autocomplete options appearing, the value returned through the API Office.context.mailbox.item.Location.getAsync is an empty string and not the corresponding text entered.

## Expected Behavior
The location should be retrievable even when it is entered as free text and not selected through autocomplete fields.

## Current B

[2018-09-13 16:50] exextoc commented on #243
There is no way to specify that your add-in requires an API that is currently in preview. `addFileAttachmentFromBase64Async` is currently supported in the latest version of [Outlook for Windows (CTR)](https://docs.microsoft.com/en-us/officeupdates/update-history-office365-proplus-by-date) with plans to bring support to other clients in the future. When it is added to an API requirement set, it wil

[2018-09-13 18:48] d4rth-v4d3r opened #245 "Formulas in tables does not work"
Excel stopped adding rows to tables if a cell contains a formula. The formula works if it is written.

## Expected Behavior
All rows must be rendered in spreadsheet without any errors.

## Current Behavior
Now it only print some rows and throws a General Exception error, as will be described below:

![image](https://user-images.githubusercontent.com/5044302/45508839-2a9e8300-b753-11e8-830a-d5d8a29

[2018-09-14 11:30] PeterTippett opened #246 "Error: Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If your app has this functionality, try reloading this page."
My code works with Online version and also with the Mac Version of Excel, but is failing with this error message for Windows Excel.

**Error: Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If your app has this functionality, try reloading this page.**

There is talk about onReady, but no real example

[2018-09-14 11:46] isawek opened #247 "Word RequestContext does contain application createDocument Method"
Word API supports to create a new document from a base64 file since Version 1.3
https://docs.microsoft.com/en-us/javascript/office/requirement-sets/word-api-requirement-sets?view=office-js

this is not included in the npm office-js.

## Expected Behavior
the following code snippet should open a new Word Document based on the base64File.

...
Word.run(async(context) => {
     let myNewDoc = context

[2018-09-14 17:37] jandramila commented on #97
I'm having the same issue, the problem here is when running a Single Page Application on our Add-In.

For instance, I'm running react and my index.html downloads the office.js script, and my main.js containing the SPA, dialogs only show a specific route but the office.js file gets downloaded eitherway.

[2018-09-14 18:12] danielgwilson commented on #97
Interesting... @jandramila could you describe your setup in more detail? It's my understanding that the DialogAPI was originally developed for Auth purposes only; anything that interacts with the document is meant to exist solely in the task pane.

It sounds like you're using an SPA for the task pane and loading the same SPA in the dialog which results in office-js being loaded—is that correct? If

[2018-09-14 20:50] jandramila commented on #97
Hello @danielgwilson thank you very much for your quick response, we are currently using the Dialog to prompt the user for approval whenever an external link (that will open in an external browser tab) is opened.

The problem I just noticed is we are using `Office.context.ui.messageParent` to close the dialog using the main task pane reference to it and `dialog.close` function, so we must load the

[2018-09-15 00:05] Zlatkovsky commented on #247
Thanks for reporting.  We need to update the NPM package, it has gotten out-of-date relative to the CDN.  Will do this in the near future.  (We are working on a process to help automate this, so that we don't have to keep manually keeping up with the CDN deployments)

[2018-09-15 01:30] PeterTippett commented on #246
Have found the difference. Javascript support differences.

I had done a copy array as `let array1 = [...array2];`  Changed to `var array1 = array2.slice(0);`

Had to get a Windows Machine and run this to test and found this problem. It had worked in all other environments.

[2018-09-17 11:42] georgechr commented on #224
@XiangGaoMSFT Sorry for taking some time to reply. I just got time to apply the workaround.

The workaround's logic works but it is VERY slow for average sized sets of data (hundreds of rows) and crashes the add-in for large sets of data (thousands of rows). We cannot deploy this to our clients.

We will wait for a proper fix for this. Do you have an ETA for the resolution?

[2018-09-18 08:01] ndeeH commented on #183
We see great Improvements in PowerPoint Online - seems that actual many things concerning presentation mode and display of content add ins is revised. 👍
We tested this issue and can confirm that it is fixed.

[2018-09-18 08:22] ndeeH commented on #173
Hi @JuaneloJuanelo ,
we could test this issue with our QA version PowerPoint Add In
where we do not get the error described in #198 .

**We could confirm: Presentation mode is no more closed by opening a dialog.**
Tested in actual versions of Internet Explorer, Edge, Firefox and Chrome,
In Chrome full screen mode is leaved when a dialog opens - but this seems as designed by Google.

[2018-09-18 10:16] nimro commented on #134
I'm seeing this issue today for any users who have updated to Excel 1808 Build 10730.20102

Any table where "showHeaders = false" is set will fully crash Excel.

[2018-09-18 12:23] ndeeH commented on #198
@JuaneloJuanelo Unfortunately - I tested with a wrong manifest - this issue is still present. :(

With the [manifest of our QA version](https://idlpresentation-qs.azurewebsites.net/Test/IDL.PRESENTATION.QS.xml) this issue has gone.
The add ins and azure settings are identical. Only the deployment goes to a different azure subscription.

[2018-09-18 13:03] kbl212 commented on #189
Just wanted to chime in and mention that I'm also seeing this exact same issue in my Outlook add-in  (I assume that the above mentioned upcoming build will fix the issue across all Office hosts, including Outlook, but I just thought I would mention it here)...it works according to the documentation on macOS, but on Windows the dialog is sized as a percentage of the Outlook client window.

[2018-09-18 15:03] chrismiller opened #248 "Excel crashes when calling PivotHierarchyCollection.load() on an Analysis Services cube pivot table"
Using v1.8 of the office-js Excel API and latest Office Insider builds, Excel crashes and restarts when calling PivotHierarchyCollection.load() if the pivot table is pointing to a multidimensional Analysis Services cube. When the pivot table is just pointing to data within Excel, the code works as expected.

## Expected Behavior
The following should log the pivot table name and its hierarchies to

[2018-09-19 00:04] Zlatkovsky commented on #248
Thanks for reporting the crash!  I have passed it along to a colleague who will be investigating this further, and will get back to you with any questions/updates.

[2018-09-19 19:57] weidezhong-zz commented on #143
The issue should be fixed in build 16.0.10917.37950 now. No workaround is needed anymore.

[2018-09-20 13:08] bchenhs commented on #149
@macOutlookExtensibility Hi, is there an update on this issue or ETA for the fix? Thanks.

[2018-09-20 15:33] barisbikmaz commented on #97
Hi @danielgwilson, @Jua,
We've created a small app (vanilla JS) to repoduce the issue here: [https://github.com/hxltinh/office-js-bug-reproduction](https://github.com/hxltinh/office-js-bug-reproduction)

Just download the app on Mac and follow the readme to install certs, manifest and setup hosts file. (Sorry could not find an easier way)

When you click the button to open dialog in the app you wi

[2018-09-20 15:51] barisbikmaz opened #249 "Confirm popup in Office Online does not stop propagation of click event"
When you open a dialog on Office Online you get a confirm popup. Here you can click ok to open the office dialog. The problem here is that the click on the ok or cancel button in the confirm popup is propagated to the underlying app and changes the UI if there are some elements listening for a click event.

## Expected Behavior
The click on confim popup should not be propagated to the document / a

[2018-09-20 23:43] Zlatkovsky commented on #247
I've just updated the NPM package.  Could you please try with the latest version?

[2018-09-20 23:43] Zlatkovsky commented on #247
Closing the issue for now, feel free to reopen if you're still seeing a problem

[2018-09-20 23:43] #247 closed, assigned to isawek

[2018-09-21 09:19] pfilipp opened #252 "Bindings are not being persisted when created in Excel Online"
## Short summary
Saving excel workbook with bindings defined on Excel Online doesn't store binding data.
The problem doesn't occur on Desktop version of Excel (tested on macOS).

## Expected Behavior
After saving file using Excel Online I should be able to load the file to Excel (online and desktop alike) along with bindings defined during previous session on Excel.

## Current Behavior
If I save

[2018-09-21 13:13] barthooper opened #253 "Error 5100 "Wait until the previous call completes" with repeated calls to add bindings"
I don't see anything about this error online. It doesn't even show up in the list of error codes here: https://docs.microsoft.com/en-us/javascript/office/javascript-api-for-office-error-codes

So I am unaware of what limitation I am bumping up against.

## Expected Behavior
All API calls complete as expected, thus adding all bindings, without errors.

## Current Behavior
Repeatedly getting the err

[2018-09-21 15:14] EBMike commented on #23
this still happens as of 1.1.8 if using unpkg (ie. "https://unpkg.com/@microsoft/office-js/dist/office.js")

[2018-09-21 18:15] xstos opened #254 "'Set up subscription' password validation on https://developer.microsoft.com/en-us/office/profile/ doesn't work"
This is the wrong place to post this, but I figure if some office devs see it, they can poke the relevant internal depts to get it fixed. I tried chatting with a support agent in the browser, then she forwarded me to 1-800-865-9408 ext. 1. The call center was loud and hard to communicate. Even though this is a general error outside of corporate office 365, he told me to have my office 365 admin su

[2018-09-21 18:43] xstos commented on #254
I've been experimenting. If you clear your cookies and deleted all cached files in chrome, and type the password before choosing a user/domain, then the continue button"works" but as soon as you click it, it still barfs and doesn't let you open an account.

[2018-09-21 18:51] twinVectr commented on #330
@macOutlookExtensibility any updates?

[2018-09-23 00:36] JuaneloJuanelo commented on #252
Thanks for reporting the issue with so much detail.  I was able to repro the issue in Online, this is a bug. We will fix it as soon as possible.

[2018-09-23 01:07] JuaneloJuanelo commented on #249
Thanks for reporting we are investigating this issue.

[2018-09-23 01:09] JuaneloJuanelo commented on #252
we are tracking with 2578281

[2018-09-23 01:15] JuaneloJuanelo commented on #246
did you looked into this article? https://docs.microsoft.com/en-us/office/dev/add-ins/develop/understanding-the-javascript-api-for-office

there is a sample on how to initialize your add-in logic. please try an let us know if solved your issue.

[2018-09-23 01:16] JuaneloJuanelo commented on #248
The update here is that the first release of Pivot Table API will not support Cubes. in further releases this will be included. (we'll fix a bug to not crash Excel)

[2018-09-23 01:34] JuaneloJuanelo commented on #245
hello thanks for reporting this. I was not able to reproduce the behavior. i was trying my own sample (here is a [Gist ](https://gist.github.com/JuaneloJuanelo/171895a746d3cb1c2681a88b37dca916) you can import on scriptlab). I am not getting an error.

Can you please include a snippet that inserts the sample table and the formula you are trying to write? (similar to the one i sent, check the create

[2018-09-23 13:53] chrismiller commented on #248
That's unfortunate but thanks for letting me know. Is cube support scheduled v1.9 or has that not been decided yet?

[2018-09-24 08:09] gbottesi commented on #118
Hello,

I managed to reproduce this problem with a simple small addin : There is one button triggering the `onButton ` function that logs something, and a `onSend ` function which should be called when message is sent. (No need to open a dialog or anything)

If we do nothing before sending the message, `onSend ` logs. If we first click on the button, the send event is not fired and the e-mail is b

[2018-09-24 10:25] macOutlookExtensibility commented on #330
Hi, Fix is in progress. will update the thread once it gets checked in.

[2018-09-24 11:42] rasikat86 opened #255 "Getting "Out of stack space" error with latest OfficeJS with Angular 6 app when trying to execute Word.run"
## Expected Behavior
Should be able to get the context in Word.run.

## Current Behavior
App throws out of stack space error.

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. This is the code snippet which throws the error -
 setBindingFromSelectedText(fieldId, form) {
    Word.run(function (context) {
      const range = context.document.getSelec

[2018-09-24 17:19] sameera commented on #255
What's the purpose of the `context.load(range);` in your code?
If you are trying to load some property of the range, load it specifically as `range.load(["rowCount",...])`

[2018-09-24 19:09] xstos commented on #254
So i finally managed to type a password that the box actually accepted. Pretty sure there's something subtly wrong with the sign up form, probably either an event missing when switch from field to field, or the password validator error message not being up to date. Either way I managed to finally sign up...

[2018-09-24 19:09] #254 closed, assigned to nobody

[2018-09-25 05:23] mattblackdev opened #256 "Add-in Error - This add-in is no longer available"
Friends,

I wanted to share my experience with this issue. At Medtronic we are developing a Word add-in and we needed to setup a stage environment. So we have 2 manifests, one for the local webpack dev server and another for the stage server. Soon, we will need a third for prod. FYI, I am on macOS, latest High Sierra v10.13.6 running the company installed O365 and Word shows v16.17.

To create the

[2018-09-25 08:42] rasikat86 commented on #255
Actually, context.load is something we are using later. I am simply trying to get selected Text using below function -

  setBindingFromSelectedText(fieldId, form): Promise<OfficeResult> {
      this.document.getSelectedDataAsync(Office.CoercionType.Text, {}, (asyncResult) => {
        if (asyncResult.status === Office.AsyncResultStatus.Failed) {
          // reject({
          //   error: 'Error:

[2018-09-25 11:26] ndeeH commented on #184
@JuaneloJuanelo
Tested in all current browser versions.
Seems the content add ins now create bitmap overlays in the online version of powerpoint.
They are not proper placed when draging the content add in frame.

The thumbnails of the slides that are using content add ins with iFrames are not correct.

[2018-09-25 15:30] vyazadji opened #257 "displayDialogAsync - set dialog size in px"
Please add a possibility to set size of dialog in px

## Expected Behavior
Developers can set height and width in px.

## Current Behavior
We can use only percentages:

`Office.context.ui.displayDialogAsync('https://myDomain/myDialog.html', {height: 30, width: 20});
`

https://docs.microsoft.com/ru-ru/javascript/api/office/office.ui?view=office-js
https://docs.microsoft.com/ru-ru/javascript/api/of

[2018-09-25 17:50] danielgwilson commented on #257
Hi! We're looking into this :)

[2018-09-26 10:00] michahell commented on #223
great, thanks!

[2018-09-26 10:03] michahell commented on #223
I think this issue can then be referenced and closed, too, no?
https://github.com/OfficeDev/office-js-docs-pr/issues/282

[2018-09-27 05:30] rasikat86 commented on #255
Hi, any update on this?

[2018-09-27 06:48] sameera commented on #255
Nothing in your code screams out as being problematic to me.
It would really help if you could create a simple ScriptLab script that replicate this issue.  It would help you get a faster response from the Office.js team.

[2018-09-27 09:12] ox4 opened #258 "Outlook's 365 RoamingSettings doesn't allow storing 2 Mb of settings"
Hello guys!

According to [Office.RoamingSettings interface documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.roamingsettings?view=office-js) a maximum of 2 Mb is available for the settings of each add-in, and each individual setting is limited to 32 Kb.

## Expected Behavior
RoamingSettings should allow storing up to 2 Mb of settings.

## Current Behavior
Office.js 16.

[2018-09-27 18:17] exextoc commented on #258
The limit is actually 32KB for the serialized object/data. The 2MB limit in our documentation is inaccurate. We will get the documentation fixed. To store quite a lot of user's data, we recommend using a service.

[2018-09-28 08:04] ox4 commented on #258
Thank you.

[2018-09-28 08:04] #258 closed, assigned to nobody

[2018-09-28 16:00] dlastine commented on #219
I now have Version 1808 (Build 10730.20102 Click-to-Run).  I performed three trials of 60 open/close cycles each.  This version of Excel is performing as expected.

[2018-09-28 16:00] #219 closed, assigned to nobody

[2018-09-28 16:39] dlastine commented on #216
As there has been no activity on this issue or #219 in github for over a month, I decided to do some testing.

On the computer I used to reproduce this issue, Word upgraded to Version 1808 (Build 10730.20102 Click-to-Run).  I performed three trials of 60 open/close cycles each.  Word stayed responsive.  I was having a similar issue in Excel.  Excel has upgraded to the same version number.  I also

[2018-09-28 16:41] stowellt commented on #216
In my limited testing I also found Word is no longer freezing, so I'll close this issue.

[2018-09-28 16:41] #216 closed, assigned to nobody

[2018-09-30 05:52] shyambhiogade opened #259 "is it possible to programmatically add office addin manifest file in an excel file"
Hi,
i have a question.

is it possible to add office addin manifest file in an excel file programatically.

we are providing a onpremise solution to users. we have created a office manifest file and the office addin is hosted on an internal server, when our product is installed we modify the manifest file to have correct name of hosting server.

to be able to user the office addin, our user need t

[2018-10-01 11:27] PeterTippett commented on #230
Accessing the new Runtime so can use the Asycn Function, but not working.

This line from the documentation seems to imply that this only works with Addins that have normal UI activity. This implies that can now have custom functions as part of the normal Addins.

Only custom functions within an add-in will use the new JavaScript runtime that's described in this article. If an add-in includes othe

[2018-10-01 11:48] zlepper commented on #207
It has now been a couple of months, is the fix in the horizon somewhere?

[2018-10-01 16:14] Zlatkovsky commented on #207
@zlepper, it should be fixed as of a week or two ago.
Could you try the https://www.npmjs.com/package/@microsoft/office-js/v/1.1.9-beta.0 for Beta, or the 1.1.10 version for the latest Release APIs (which now include ExcelApi 1.8)?

[2018-10-01 16:15] Zlatkovsky commented on #207
Closing for now, feel free to re-open if you are still encountering an issue

[2018-10-01 16:15] #207 closed, assigned to Zlatkovsky

[2018-10-01 18:56] cskr11 commented on #62
Hi, Please let me know if there are any updates for this. I am also facing the same after following the instructions in README

[2018-10-01 20:36] cskr11 commented on #62
Hi, Please let me know if there are any updates for this. I am also facing the same after following the instructions in README

[2018-10-01 21:16] Zlatkovsky commented on #62
@cskr11 , I'm re-following up re. more official documentation for this.  But in terms of how to make it work:  the package essentially is just a copy of what's on the CDN.  You can copy over the dist folder as-is and put it wherever you want (e.g., in your assets directory), and then reference it as `https://mysite.com/assets/office.js` in your html page.
It's really just a convenient way for us t

[2018-10-01 23:17] troywweber7 commented on #207
@Zlatkovsky So if the issue is fixed then after installing the projects `npm i -D @microsoft/office-js` how do I include the `office.d.ts` file into my Typescript project? A triple-slash directive doesn't seem to work still.

[2018-10-01 23:19] troywweber7 commented on #207
@Zlatkovsky NVM, I think I answered my own question. The proper triple-slash directive is: `/// <reference types="../node_modules/@microsoft/office-js/dist/office" />`

[2018-10-02 03:27] Zlatkovsky commented on #207
Yes, that will work.  The typings are also available in standalone form on `npm install --save-dev @types/office-js`.

That is, only use the NPM package if you can't use the CDN (because of firewall, or for offline debugging, etc.).  For Store add-ins, they need to reference the CDN anyway.  In which case you'd be better off only getting the types, from `@types/office-js` (which mirrors what's on

[2018-10-02 14:02] cskr11 commented on #62
@Zlatkovsky Thanks. It is working. I hope we have a solution for this as it will be difficult in terms of keeping it update with the latest version of office.js.

[2018-10-02 16:51] keyur32 commented on #230
Hey Peter,

Given custom functions execute during Excel's calculation chain, we want to make sure the APIs we expose can work consistently across all platforms.  Last week, we updated the runtime on Excel Insiders: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-runtime.

On Desktop and eventually MAC versions, you will only have access to a the APIs described there.  We

[2018-10-02 22:19] PeterTippett commented on #230
The UI side of the Addin sets a document ID that is stored using the `Office.context.document.settings.set(name, data); `  This is linked in my backend to data that is stored for that document. This allows to fully track this document to my backend.

I then want to access this to get the document ID I have created for the custom functions so this pulls the right data from my system for this docume

[2018-10-03 06:11] rasikat86 commented on #10
Hi, I am seeing a similar issue when using OfficeJS in an Angular 2 application. The full erro stack is as below -

{"description":"Unable to set property 'isValid' of undefined or null reference","number":-2146823281,"stack":"TypeError: Unable to set property 'isValid' of undefined or null reference\n   at Anonymous function (https://appsforoffice.microsoft.com/lib/beta/hosted/word-win32-16.01.js

[2018-10-04 05:08] shyambhiogade commented on #259
@kenotron  @yinaa @craigomatic can you please reply to my query

[2018-10-04 18:44] exextoc commented on #241
For Outlook desktop, we are not seeing significant number of error 5001. Could you confirm that you are also getting '5001' in Outlook desktop and the Outlook version you are using?

[2018-10-05 23:00] Zlatkovsky commented on #62
FYI, the readme/explanation is nearly in.  It is fixed by pull request https://github.com/OfficeDev/office-js/pull/260.

@cskr11 , if you are using office.js from the CDN, you don't need this package at all -- you can instead get the types from `@types/office-js`.  Conversely, if you are using office.js from this package, then it will always be in a self-consistent state with its own `dist/office.

[2018-10-05 23:34] JuaneloJuanelo commented on #259
no this is not possible today.
We also don't recommend to use a file share catalog for deploying your add-in, its certainly possible, but you will lose most of the value of the platform, for instance your add-in will be Windows-only. Will not work in Online or Mac.

IF thats ok with you, here is an article you can try https://social.msdn.microsoft.com/Forums/office/en-US/29081a50-b7bc-44f0-8d4b-c0

[2018-10-05 23:34] #259 closed, assigned to nobody

[2018-10-05 23:40] JuaneloJuanelo commented on #257
@vyazadji  this is a really a new feature request. We track petitions here https://officespdev.uservoice.com/ please create an item for this. thanks!

[2018-10-05 23:40] #257 closed, assigned to nobody

[2018-10-05 23:44] JuaneloJuanelo commented on #256
@mattblackdev  quick question: did you changed also the IDs of the manifests? or just the URLS?  please try that and let me know how it goes. thanks!

[2018-10-05 23:53] JuaneloJuanelo commented on #255
@rasikat86  is there a reason why you are not using the Word Specific APIs?

[2018-10-06 00:16] kbrandl commented on #62
We've updated the README to provide more guidance about the Office.js NPM package (target scenarios, how to use it, etc.). Closing this issue, per @Zlatkovsky's request.

[2018-10-06 00:16] #62 closed, assigned to Zlatkovsky, kbrandl

[2018-10-06 00:44] JuaneloJuanelo commented on #253
Hello sorry for the late response.
First of all it will be highly appreciated if you can send a working sample via a Script Lab Gist. The code you sent has a syntax error and that might be contributing to the issue. (the second to last '}' needs a ');' to close the Word.run statement.

That been said, there are many improvements you can do with your code.
1. please DONT load the body. you can do t

[2018-10-06 00:55] JuaneloJuanelo commented on #248
Yes I know. The fix is in and backported to many builds back. When cubes are supported , it will just work.

[2018-10-06 00:55] #248 closed, assigned to nobody

[2018-10-09 03:42] LanceEa opened #261 "Excel Online getting 500 internal error writing data to table"
My add-in loads data from the server and creates tables. Then on refresh it will clear the table and reload the data. I load the data by setting the Range values to the 2D array following the best practices of not directly loading to the table rows collection.

Users of my add-in have started reporting a strange error with Excel Online that I'm not able to debug because I'm receiving a _General Ex

[2018-10-09 04:34] sameera opened #262 "Excel for Mac suspends TaskPane apps when it loses focus"
We are noticing this issue on the Mac, where a user would start a long running process in our taskpane app (e.g. one that generates 100s of table rows) and switches to another application. It seems that the taskpane is "suspended" after Excel loses focus; and it would resume immediately after Excel regains focus.
NOTE: This is happening on v16.x versions of Excel for Mac only. We were unable to re

[2018-10-09 10:50] harri-rajala-koivu-solutions opened #263 "NamedItem.getRangeOrNullObject crashes Excel"
Using v1.8 of office-js Excel API, Excel crashes and restarts when NamedItem.getRangeOrNullObject is called for object which range is invalid. Range is invalid (=#REF!$A$1:$C$4) because worksheet was deleted.

## Expected Behavior
Excel should throw "range object is invalid" exception or return null object.

## Current Behavior
Excel crashes and restarts.

## Steps to Reproduce, or Live Example

[

[2018-10-09 11:49] bandhan-nawal opened #264 "Office.context.mailbox.item.subject.setAsync shows success but Subject text is not populated in Subject field of Appointment form. Only occuring on Outlook for Mac, working fine on Windows or Outlook.com website."
## Expected Behavior

I have an outlook web add-in. When I call `Office.context.mailbox.item.subject.setAsync` to populate Subject in appointment/meeting, it populates the subject correctly, but when I clear the populated subject by using backspace or delete and again call `Office.context.mailbox.item.subject.setAsync`, it should again populate the subject.

## Current Behavior

Currently, for the

[2018-10-09 11:58] satishkrsharma commented on #264
I am also facing same issue during development. Please give your response ASAP.

[2018-10-10 01:05] LanceEa commented on #261
@sumurthy @JuaneloJuanelo @Zlatkovsky - I could really use some help on the above. If you could please take look at it I would appreciate it. Unfortunately, I'm not sure how else to debug due to the Office-JS api returning a general exception.

Any help would be appreciated!

Regards,
Lance

[2018-10-10 01:10] LanceEa commented on #262
I can confirm that I have seen the same issue as well and I'm testing on High Sierra with the Insider Fast build. Some of our table loads will be 2-5 minutes so it requires a user to stop using their computer until the load is finished.

[2018-10-10 04:17] RXminuS commented on #256
Wow, thanks for writing such detailed history. having the same issue and gone through same steps. But this might at least provide a short term fix!

[2018-10-10 04:41] RXminuS commented on #256
Ok, I think my issue must be unrelated (although the same error messages) because a copmletely fresh `yo office` manifest file doesn't sideload either

[2018-10-10 09:26] rasikat86 commented on #255
Hi, We figured out what the issue was - we were overriding the equals method on Object.prototype which was causing the error. It's working well now. Although the error stack trace was too vague to figure out the root cause. Thanks for your help though.

[2018-10-10 18:00] JuaneloJuanelo commented on #262
thanks for reporting this folks. Yes this is a known issue and we are in the process of investigating/fixing. thanks for reporting it. Tracking internally with 2554389

[2018-10-10 18:21] JuaneloJuanelo commented on #263
thanks for reporting this.  Its a bug with the workaround that you reported.
we are tracking internally with 2621006

[2018-10-11 18:15] LanceEa opened #265 "Event handler best practices with corresponding documentation"
This is a cross-post per @kbrandl suggestion. Please see the following issue from the docs repository:

https://github.com/OfficeDev/office-js-docs-pr/issues/432

## Context

I'm trying to make sure I understand how the new events work to make sure I do not introduce memory leaks into my application.

My scenario is I add a **TableSelectionChanged** event to tables created by my add-in. The handle

[2018-10-11 18:16] Zlatkovsky commented on #255
@rasikat86, OK, glad you were able to find the issue.  If you feel like there is something that Office.js is doing that is incorrect, feel free to share the code that you had with overwriting the `Object.prototype`, and we can investigate further (though in general, overwriting prototypes is a dangerous thing :-))

[2018-10-11 18:48] gercobrandwijk commented on #186
@JuaneloJuanelo Is there please any news on this? This user voice, https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/13316001-add-office-javascript-api-support-for-resources-of, has 341 user votes now. But there is no solution/workaround yet...

Copied from another issue (https://github.com/OfficeDev/office-js-docs/issues/135#issuecomment-429034755) a little

[2018-10-12 12:08] LanceEa commented on #261
This is still happening on the latest version of Excel Online that was released this week.
Build 16.0.11009.37955

I spoke to @tong-1324  and he was able to reproduce the issue with the gist I provided above. Would someone be able to verify this as a bug or not?

Thanks,
Lance

[2018-10-12 21:00] kbrandl commented on #264
@exextoc can you please look into this issue?

[2018-10-13 11:28] macOutlookExtensibility commented on #264
@bandhan-nawal / @satishkrsharma We are not able to reproduce the issue on 16.17(180909) on New Message/Appointment/Meeting.

1. User enters some subject.
2. User clears out the subject using delete key.
3. Set subject from add-in using `addSubject()` from your snippet.
With the above flow the issue cannot be reproduced.

Can you give us the flow of events?

[2018-10-14 15:19] mrik23 opened #331 "Can't get mailbox item properties on Android Outlook app"
Is there any different requirements for the Outlook app for Android?

I can retrieve item properties correctly in browser (IE, Chrome) and iOS app, but it doesn't work in the Android app.

The only property working on Android seems to be Office.context.mailbox.item.internetMessageId, the following properties are not retrieved in Android Outlook.

Office.context.mailbox.item.subject
Office.context.

[2018-10-15 03:56] abhijeetnarvekar opened #267 "Word Online: SmartArt disappears from document"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi,

Unexpected Behavior:
If SmartArt is selected and context.document.getSelection(); API is called, SmartArt itself disappears from document.

Expected Behavior:
API document.geSele

[2018-10-15 04:00] abhijeetnarvekar opened #268 "Word Online: OBJ characters get inserted in a document having fields"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am creating a word addin which requires to get current selection

Unexpected Behavior:
In Word Online if I upload the document containing fields and select data between fields and q

[2018-10-15 04:50] bandhan-nawal commented on #264
@macOutlookExtensibility  Flow is as follows:
1. User clicks on `addSubject()` to populate the subject (working fine i.e. **My Default Subject** gets added)
2. Remove some part of this subject i.e. let the subject be **My Default**.
3. Now click on `removeSubject()`. But this subject would not be cleared as the subject is not equal to **My Default Subject** which is the desired behavior (working f

[2018-10-15 16:45] mrik23 commented on #331
Seems like I finally got it working on Outlook for Android too. I just wrapped everything in an anonymous function and added `'use strict';`.

`(function () {
    'use strict';
    Office.initialize = (reason) => {
         //code here
    };
})();`

[2018-10-15 17:16] mrik23 commented on #331
Actually the reason I got it fixed is to change the add-in permission from `<Permissions>ReadWriteItem</Permissions>` to `<Permissions>ReadWriteMailbox</Permissions>`.

Not sure that's normal, as other platform doesn't require this level of permission.

[2018-10-15 17:19] ElizabethSamuel-MSFT commented on #331
@mrik23: Thanks for raising this issue. We will investigate.
@exextoc: Can you take a look? Thanks.

[2018-10-16 04:42] satrip commented on #331
Hi Team,

We have fixed one issue related to permissions in Outlook Android few weeks back. I have verified all given APIs working perfectly on latest production build on Outlook Android.

Please check and confirm.

Thanks,
Saurabh Tripathi

[2018-10-16 10:15] macOutlookExtensibility commented on #264
With the same exact repro steps, the same Outlook for Mac version and the same code snippet from your question, the API is working properly.

I wanted to know, if you are sure that the removeSubject()/addSubject() is called appropriately? Just to rule out the scenario where removeSubject() is called instead of addSubject().

And If possible, can you share the add-in manifest, so that we can try it

[2018-10-16 10:42] bandhan-nawal commented on #264
@macOutlookExtensibility For live example:
Please add the add-in into your Outlook for Mac from Office Store named "ConX Scheduler for Outlook" (Search "Infocus ConX Scheduler")
Now, perform the following steps to reproduce the issue:
1. Click on second option "Schedule ConX Meeting" in the add-in's dropdown menu.
2. A new appointment window will open with some values in Subject, Location and Body

[2018-10-16 11:28] dgrudenic opened #269 "Two Taskpanes when using Auto-open Taskpane"
## Expected Behavior
I would expect if you are using Auto-open in combination with some buttons in the ribbon that after document opens with taskapne on the side you'll not end up with two Taskpanes after you click some navigation button in the ribbon.

## Current Behavior
I was playing with Auto-open Taskpane online example at https://github.com/OfficeDev/Office-Add-in-Commands-Samples/tree/maste

[2018-10-16 16:11] nrakochy opened #270 "Office.onReady instantiation is failing on Outlook for Mac"
Office instantiation is failing on Outlook for Mac (Version 16.17). Not sure what I missing here? Any help would be greatly appreciated.

## Expected Behavior
`Office.onReady` will fire and initialize app script

## Current Behavior
I can initialize in Chrome and Firefox, but Mac for Outlook (not sure what browser is rendering -- some sort of IE 11 hybrid?) silently does not init the app.

Here is

[2018-10-16 20:10] nrakochy commented on #270
I am using an enterprise platform which has its own set of DOM rules. My guess is that there is a conflict between `Office.onReady` which modifies `window` scope and the platform DOM restrictions. Loading `onReady` in Mac Outlook client outside of platform constraints seems to be working.

[2018-10-16 20:13] Zlatkovsky commented on #270
@nrakochy , could you clarify what you mean by the DOM rules?  Office.onReady shouldn't modify anything on the `window`, so the fact that it's not working for you might be indicative of a bug.  Reopening for tracking...

[2018-10-16 20:32] nrakochy commented on #270
Thanks for the note. Looking at the DOM within the platform, the HTML is rendered in an iFrame and the `Office.js` initialize does not work. Without the iFrame cruft, the HTML + Office.js appears to be working.

What I mean by DOM rules - I know that the platform disables / re-defines some common apis on the `window` object, but it sounds like that shouldn't matter.

[2018-10-17 06:29] macOutlookExtensibility commented on #264
Thanks for reporting this issue, we are able to reproduce it, we are working towards fixing it.

[2018-10-17 09:21] rvanlaak commented on #62
Also see #271

Great news that the CDN is not a requirement anymore 🎉 An internal check on basePath to load translation strings still make it impossible to use bundlers like webpack to require the library though. The following error gets thrown:

Especially given that we're writing an ES6 (instead of a TS) project. We did try to include `@types/office-js` with our webpack externals, but `@types/of

[2018-10-17 09:31] rvanlaak opened #271 "Can not bundle libary because of basepath check"
Great news that the CDN is not a requirement anymore (#62 and #260)  🎉 An internal check on basePath to load translation strings still make it impossible to use bundlers like webpack to require the library though. The following error gets thrown:

Especially given that we're writing an ES6 (instead of a TS) project. We did try to include `@types/office-js` with our webpack externals, but `@types/o

[2018-10-17 16:46] mrik23 commented on #331
@satrip I still have this issue on Outlook Android. Tested on 2 devices, and app seems to be up to date.
Outlook version 2.2.226 (284).

[2018-10-17 16:51] satrip commented on #331
@mrik23 I have same Outlook version and just tested some of above given APIs and it is working fine. I will check with team and revert back.

[2018-10-17 20:37] JuaneloJuanelo commented on #265
closing as this was solved on the cited documentation thread.

[2018-10-17 20:37] #265 closed, assigned to nobody

[2018-10-17 21:25] mattblackdev opened #272 "[Word] Header content deleted when loaded for documents with multiple sections"
In a Word document with more than 1 section that has headers set to "Same as Previous", loading a section's header via a ```Word.run``` function causes the header content to be deleted inadvertently.

## Expected Behavior
Header content should not be deleted.

## Steps to Reproduce, or Live Example
1. Create a doc and insert a section (page) break.
2. Add a header with some text and ensure the 2nd

[2018-10-18 01:07] Zlatkovsky commented on #271
@rvanlaak , for now, this is "by design".  Office.js is not a bundle-able dependency today:  its architecture -- of dynamically loading the right host file and localization files -- is not something that meshes with the bundle concept.

So for the time being, you do need to use a script tag to reference it, and to just reference the root "office.js" file and let it load whatever it needs.

Re. "CD

[2018-10-18 01:07] #271 closed, assigned to nobody

[2018-10-18 05:32] hengchengfei opened #273 "A Bug happens when save custom properties."
## Expected Behavior
When close the document, save the changes custom properties.
But it doesn't.

## Current Behavior
Desktop Office.

## Steps to Reproduce, or Live Example
1、Save current document to local folder.
2、Click add-in button by office-js, Saved a custom property to Document CustomProperties(Not change other anything).
3、Close the current document, And there is no any prompt(directly c

[2018-10-18 07:16] rvanlaak commented on #271
Thanks for the clarification 👍 For Webpack importing is possible by using the `externals` configuration:

[code]

This also fixes eslint errors on missing dependencies:

[code]

[2018-10-18 08:02] mrik23 commented on #331
@satrip would you need some code sample? But the code is fairly simple.

All I know at this point is that if I change the permissions to Mailbox instead of Item, it works on Android. Other platforms, fine in both cases.

[2018-10-18 08:04] satrip commented on #331
@mrik23 Please post code you are using that may be helpful.

[2018-10-18 11:52] fkranenburg opened #274 "Saving custom properties and setting category with REST API results in conflicting e-mails"
E-mails are internally changed with new versions when two seperate API's are used inside a single action in the add-in

## Expected Behavior
When using `Office.context.mailbox.item.loadCustomPropertiesAsync` and `saveAsync` along with the [Outlook REST API](https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/mail-rest-operations) to set a category in the e-mail

[2018-10-18 15:51] nrakochy commented on #270
@Zlatkovsky Is there any further info that would be helpful to add?

[2018-10-18 16:14] Zlatkovsky commented on #270
To clarify:  Are you saying that your add-in has an iframe inside of it?  (I ask because on Office Online, the add-in itself runs inside of an iframe, but that's the case with all add-ins; so I want to make sure that the iframe you're referring to is one level deeper, in your *own* add-in).

If so, the behavior you saw is probably expected (today, anyway).  Office.js makes the assumption that it's

[2018-10-18 16:28] Zlatkovsky commented on #271
Interesting.  When you do that (the `externals` configuration), you still need to include it in the script tag in your HTML page, though, right?

If so, what are you gaining by doing the import statement.  Are you just trying to get IntelliSense (and if so, any reason not to use `@types/office-js`), or is there something else?  Also, if it is for IntelliSense, does it actually pick it up from the

[2018-10-18 16:32] nrakochy commented on #270
Okay thanks. Yes, it was an `iFrame` rendered by the platform, not the Outlook iFrame api.

[2018-10-18 16:32] #270 closed, assigned to nobody

[2018-10-18 17:52] nrakochy opened #275 "Troubleshoot Dialog Rendering"
## Expected Behavior
View developer console on the Dialog window. If this is not possible, how do I troubleshoot why a view would render correctly in the TaskPane but not in the Dialog?

## Current Behavior
I am working on an add-in that is failing to load scripts via the Dialog API.

The template from the HTML renders correctly in the Dialog. If I render the template in the main TaskPane, both th

[2018-10-19 03:22] satrip commented on #331
Hi Team,

I have got root cause of issue. I will work on it towards fixing it.

-Saurabh Tripathi

[2018-10-19 07:18] rvanlaak commented on #271
With the `externals` section the script indeed manually has to get included. In other words, the babel / webpack compilation does not transpile / bundle these dependencies. The script tag gets handled externally based on the type of environment (`dev` includes `office.debug.js`, `prod` includes `office.js`).

We make use of WebStorm as IDE, as we want to have a consistent "developer IDE experience

[2018-10-19 13:58] jentayo1994 opened #276 "Word Online can't open new document from base64 string"
## Current Behavior
When trying to open new document from base64 string, Sharepoint return 405 status code and information about missing  'Access-Control-Allow-Origin' header in request.
Note: It worked fine few days ago.

## Steps to Reproduce, or Live Example
Run next snippet with base64 encoded document:
[code]
## Context
Our add-in need open document template generated on back-end.

## Your En

[2018-10-19 15:28] andschleicher commented on #276
I've been observing this same issue with my Office js project as well. This functionality was working on the 17th but I got the above error on the 18th without a code deployment between the two days.

[2018-10-19 18:22] 3dot1four opened #277 "[Excel] List validation rule type API broken"
Original Post: https://github.com/OfficeDev/office-js-docs-pr/issues/492

I am trying below code to have a list data validation and its giving error. I also made sure to have data in 'nameSourceRange' but it did not help. Please respond ASAP.

[code]

Error
InvalidArgument: The argument is invalid or missing or has an incorrect format.
[code]
---
#### Document Details

⚠ *Do not edit this section.

[2018-10-19 18:40] bchenhs commented on #149
@macOutlookExtensibility @exextoc Any updates on the fix progress? We have many clients affected by this issue. Thanks.

[2018-10-21 07:23] dgrudenic commented on #276
Experiencing same thing it stopped working in office online.

[2018-10-22 03:16] XuanZhouMSFT commented on #267
It's a known issue and we are actively investigating it. Tracked by internal bug 2641084.

[2018-10-22 07:22] abhijeetnarvekar commented on #267
@XuanZhouMSFT is there any workaround you know to preserve the SmartArt?

[2018-10-22 10:32] XuanZhouMSFT commented on #276
Thanks for your reporting. We are in the process of investigating and fixing. Tracking internally with 88864157

[2018-10-22 10:38] XuanZhouMSFT commented on #268
Thanks for reporting it. This is a known issue and we are investigating and fixing. Tracked internally with 2541524.

[2018-10-22 14:29] dmitry-semenov opened #278 "Outlook for Mac - no recipients returned in the compose mode"
## Expected Behavior
`Office.context.mailbox.item.to.getAsync(console.log)` should print array of email recipients

## Current Behavior

`Office.context.mailbox.item.to.getAsync(console.log)` returns empty array as a value in despite of having multiple recipients in the email
[code]
## Steps to Reproduce, or Live Example
  1. Open Outlook for Mac compose window
  2. Type recipients
  3. Open web i

[2018-10-22 16:09] nrakochy commented on #275
Adding gif of Dev Tool inspector inside the Dialog (gif only gets 10fps, but flashes much faster in real-time). I have no iFrame logic, so this is simply `Office.context.ui.displayDialogAsync`:

![dialog_frame_inspect_10fps](https://user-images.githubusercontent.com/3740177/47303891-c80a9380-d5ea-11e8-8774-c0059b45b4a3.gif)

[2018-10-22 16:32] barthooper commented on #253
Thank you very much, Juan! I appreciate you responding so thoroughly to my issue. I apologise for my delayed response but other unrelated development has been my concern recently.

Your proof of concept makes it clear to me that this is an issue on my end. I have begun a TypeScript rewrite and I now believe it's fundamentally an issue with my control flow that can be refactored. Thanks again.

[2018-10-22 16:32] #253 closed, assigned to JuaneloJuanelo

[2018-10-23 06:16] jacob-j commented on #225
@JuaneloJuanelo Any progress on this issue?

[2018-10-23 07:59] Will-Blackburn opened #324 "Event not valid in schema using Visual Studio"
Using the &lt;ExtensionPoint xsi:type="Events"&gt; results in an error:

This is an invalid xsi:type 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1:Events'

The open GitHub item is on the example code, which fails as well:

https://github.com/OfficeDev/Outlook-Add-in-On-Send

[2018-10-23 09:52] macOutlookExtensibility commented on #278
Thanks for raising it. It got fixed and available in InsiderFast build. Should hit production by mid of November.

[2018-10-23 12:49] paronne opened #279 "Issue with displayNewMessageForm receipents list as Array of strings"
Hi, i am trying to use the displayNewMessageForm, however i have an issue with the Recepients parameters. If i try pass the recepients as an Array of Strings i always get the following error:

## Expected Behavior

[code]
should open a new message with the given params.

## Current Behavior
Instead i get the error.

Sys.ArgumentTypeException: Object cannot be converted to the required type.
Parame

[2018-10-24 00:39] mrik23 commented on #331
@satrip

Example of code:

`(function () {

    'use strict';

    var $appbody = $('#app-body');

    Office.initialize = (reason) => {

        var _item = Office.context.mailbox.item;

        var emailInfo = '';
        emailInfo += '<p><strong>Message ID:</strong> ' + _item.internetMessageId + '</p>';
        emailInfo += '<p><strong>Subject:</strong> ' + _item.subject + '</p>';
        email

[2018-10-24 02:31] Pentao commented on #16
Hi all,
Is there any know workaround? Start/stop any particular services? Rebooting the laptop is not ideal.
thanks,

[2018-10-24 04:42] exextoc commented on #279
I used your code as is:
Office.context.mailbox.displayNewMessageForm(
{
toRecipients: Office.context.mailbox.item.to, // Copy the To line from current item
ccRecipients: ['sam@contoso.com'],
subject: 'Outlook add-ins are cool!',
htmlBody: 'Hello World!'
});

in Outlook desktop and Outlook on web, and the new message form opens fine. to help isolate this issue:
Have you tried this in Office online?

[2018-10-24 06:18] AlonEkelund commented on #16
Hi Pentao
If you are asking about the drop down issue? It has been fixed. It is working on my end and I havn't got any reports from customers that it don't.

[2018-10-24 08:20] paronne commented on #279
Hi, thanks for the quick reply.

Tested also in the Office Online version on Chrome, same result in Online version too.
What is interesting is that using ccRecipients = Office.context.mailbox.item.to works just fine instead.
Tried to use [{"displayName": "Sam", "emailAddress": "sam@contoso.com"}], it goes into error as well.

The Desktop Outlook build version is: 16.0.10827.20181 64-bit.

Regards,

[2018-10-25 08:03] XuanZhouMSFT commented on #276
The issue has been fixed. You can try it now.

[2018-10-25 08:08] jentayo1994 commented on #276
Thanks. Now it works fine.

[2018-10-25 08:08] #276 closed, assigned to XuanZhouMSFT

[2018-10-25 14:20] 3dot1four opened #280 "[Excel Online] [Side loading] Add-In infra show strange behavior"
Hi Team,

We are developing an Add-In for Excel and are facing issue with Side loading in Excel online. We are not sure if this behavior will continue even after App goes is prod.

Repro and Behavior
1. Side load an Add-In pointing to [https://sdxvisio.azurewebsites.net/index.html](https://sdxvisio.azurewebsites.net/index.html)
2. Wait for 10 seconds after page loads.
3. You will see Add-In crashi

[2018-10-25 14:24] andschleicher opened #281 "Word Online Inconsistently Loading Add-In"
The Add-In that has been applied to my account through the Microsoft 365 Admin Center Add-Ins page only loads about 20% of the time when I open a new Word Online document.

## Expected Behavior
The Add-In to always be available and enabled when a new Word Online document is opened.

## Current Behavior
When I click on the 'New blank document' button at https://www.office.com/launch/word a new Word

[2018-10-25 22:59] AlexJerabek opened #5495 "Copy to clipboard outputing escape characters in template content"
### Bug Report

- **Host**: All
- **OS**: Windows 10
- **Browser**: N/A
- **Environment**: Beta

#### Expected behavior:

Share | Copy to clipboard should give me output able to be pasted into Notepad++ (or whatever editor). New lines in Script Lab should be new lines in the text.

#### Actual behavior:

The template section (and only the template section) is full of `\`s. Tabs and newlines are re

[2018-10-26 05:19] exextoc commented on #279
Thanks for confirming the outlook build version. Could you also verify if you are using office.js from  https://appsforoffice.microsoft.com/lib/1/hosted/Office.js?

I can confirm that  ccRecipients = Office.context.mailbox.item.to works, and [{"displayName": "Sam", "emailAddress": "sam@contoso.com"}] does not. This API accepts array of string  ['sam@contoso.com'] and the object type that is return

[2018-10-26 05:31] hengchengfei opened #282 "[Important]Need events for Office Web versions of Word and Excel"
## Expected Behavior
The following list of events found on the client version of Word and Excel would aid in development of apps that work the same as current client addin apps work.

Excel Open Event
Excel Close Event
Excel BeforeClose Event
Workbook activate event

Word Open Event
Word Close Event
Word beforeClose event
Document activate event

## Your Environment

* Platform [PC desktop, Mac, i

[2018-10-26 08:16] phlppnhllngr opened #283 "Lacking documentation of Add-In <-> Word Client communication"
As I understand, the Add-In runs in an embedded Internet Explorer. Normally Browsers are sandboxed and can't communicate with desktop applications. Looking at the source code, it seems to me that the WebExtensions API is being used. Googling that API only brings up Firefox and Chrome though. I feel the documentation should share a few details about how the communication between Browser and Host-Cl

[2018-10-26 15:58] vhenneuse opened #284 "[Excel 2016 for Mac] Nothing happens when calling Office.context.ui.displayDialogAsync"
I'm working on Mac environment with up-to-date Office for Mac 2016 (16.16.3) and i'm trying to open a popup from my office-js ribbon using displayDialogAsync function.
The popup is correctly opened with my Excel Add-in under Office for Windows and Excel Online, but not under MacOs (no error message, nothing happens).

Is there any known issue with this Office version and MacOs ?

## Steps to Repro

[2018-10-26 18:55] YiJinMSFT commented on #284
Hi Vhenneuse,
We currently do not have a known issue for dialog API in MAC. Would you mind providing more info, so that we can help to investigate?
First, it is very hard to get debugging info in Ribbon Add-in. Could you create a taskpane add-in or open a taskpane when ribbon is clicked. Then open the dialog from the taskpane.
If the error doesn't show in taskpane, please let me know. If it also s

[2018-10-27 07:08] ThorstenHans opened #285 "[Excel Online]: synchronous custom functions not working"
I've created a new Office Add-in to build a set of custom functions for Excel Online. After sideloading the Add-In to Excel Online I can successfully execute each *async* custom function, but if I try to execute a *sync* functions, Excel Online just prints `#VALUE!`

I'm using Excel Online as part of Office 365 with build number `16.0.11025.35050`

Here the implementation of my function:

[code]
a

[2018-10-27 16:25] sancarn commented on #283
This has been well documented before in numerous other articles outside of the office add-in environment. In short though:

* Internet explorer can be used as an ActiveX control to any Win32 application.
* Via the Internet Explorer COM API, you can access the `document` and `document.parentWindow` objects which relate directly to the `document` and `window` objects within JavaScript.
* If Internet

[2018-10-27 21:37] keyur32 commented on #285
Hey @ThorstenHans, I am having trouble repro'ing on my demo account or on Office Online, it maybe I'm not yet on the latest but a few questions to help debug:

a) Can you put a console.log statement and in the add function, and see if that is getting outputted?
b) Does it work if you return the result via a Promise?
c) Likewise, can you try the same function in Excel Online using the ScriptLab add