[2022-03-03 04:51] guliums commented on #2429
Hi @jeroenrosendaal , thanks very much for reporting the issue. This should be a bug in Office 2016 and I have created ADO#5864356  internally in our backlog. As a workaround, could you try adding an extra argument as first parameter? Below code should work on Office 2016.
expensesTable.rows.add(null,null, [["1/1/2017", "The Phone Company", "Communications", "$120"]])

[2022-03-03 05:12] guliums commented on #2348
Hi @ryanmccall101 , the issue has been fixed and deployed. Please let me know if you still hit the issue. Thanks!

[2022-03-03 05:46] yihuax-msft commented on #2411
@grangeryy Phoebe, This is the issue I mentioned a moment ago. It occurs with the last paragraph when inserting html/ooxml.

[2022-03-03 05:49] yihuax-msft commented on #2411
@dhoelzl, What do you mean by "enumerate all custom controls"? Do you mean to enumerate all content controls? You can do so by getting context.document.body.contentControls. Thanks.

[2022-03-03 06:04] chenxizhang commented on #2231
@pkkj thanks for the information. I realized that we need to close the dialog by ourseleve now. and I modified a littble bit the code, it works for me now.

[2022-03-03 06:41] chenxizhang commented on #2231
when we can get this fix in production version? @pkkj

[2022-03-03 06:48] jeroenrosendaal commented on #2429
Hi @guliums, thanks for your feedback. With the extra parameter it works indeed.

[2022-03-03 06:56] t-miyake commented on #2457
@Gustavogbs @exextoc How is the fix progressing?
When the fix is completed, please notify us here as well.

[2022-03-03 08:16] clavx commented on #2457
![admin-Incident](https://user-images.githubusercontent.com/58804032/156523682-9ef13799-eb4f-4d52-8742-a16dcf915d61.png)

[2022-03-03 08:28] dhoelzl commented on #2411
Thank you for that information! But as mentioned, removing all additional paragraphs programmatically won't work in our case. This is also because there is currently no way in Microsoft Word / OfficeJS to get called when a document gets opened.
As mentioned here: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/shared-runtime-requirement-sets and here https://docs.mic

[2022-03-03 08:53] LivertonSecurity commented on #2457
This is affecting our customers in New Zealand also.

It's great to see that the issue listed on 'Microsoft365 Service Health'.
Thank you!

<SNIP BELOW from Microsoft 365 admin center>
------------------------------------------------------------------------------
Some users are unable to send email via the on-send feature for Outlook add-ins in Outlook on the web
EX337976, Exchange Online, Last up

[2022-03-03 09:27] m-pd commented on #2381
Hi @exextoc This has become a huge problem for us since New Outlook was released recently. Could you please fix it?

[2022-03-03 09:45] t-miyake commented on #2457
Incident (EX337976) has been updated.

[2022-03-03 11:06] exextoc commented on #2458
Issue has been fixed and rolled out. Please confirm.

[2022-03-03 11:06] exextoc commented on #2457
Issue has been fixed and rolled out. Please confirm.

[2022-03-03 11:13] carlosb1504 commented on #2457
Still seeing the issue as of 11:13 AM GMT

[2022-03-03 11:16] exextoc commented on #2457
Can you please do hard refresh, clear cache and try again.

[2022-03-03 11:17] exextoc commented on #2439
While we have added a backlog item in MAC to fix locale, are you also facing this issue on iOS? If yes, can you please share the exact steps for repro? We have not been able to repro it locally.

[2022-03-03 11:17] carlosb1504 commented on #2457
I did do that, just tried again. Same outcome unfortunately

[2022-03-03 11:30] szilardd opened #2459 "Sensitivity label requirement causing error AccessDenied: You don't have sufficient permissions for this action"
I have an Excel add-in that was working correctly. At some point, my organization introduced a requirement to assign a sensitivity label for documents, and it looks like that breaks the add-in.

## Your Environment

* Platform: PC Desktop
* Host: Excel
* Office version number: Office 365, Excel Version 2112 (Build 14729.20322)
* Operating System: Windows 10 Professional
* Browser (if using Office

[2022-03-03 11:39] LivertonSecurity commented on #2457
Hi Guys,
Our Ex365 tenancy in Aus/NZ has recently been updated from

- 20220218005.03 (broken) to
- 20220211003.12 (fixed)

This was a fantastic turnaround of fix from the Microsoft team!
Thank you!

Others - please note that fixes do take time to replicate through O365 tenancies around the world.
Maybe test again in 12 or 24 hours?

[2022-03-03 11:51] carlosb1504 commented on #2457
12 or 24 hours is a long time when you have potentially tens of thousands of paying customers with a broken product for almost 24 hours now already.

Can anyone advise whether this has been raised as a critical incident? The issue quoted above in the Admin Portal is showing only 'Advisory'.

[2022-03-03 11:58] LivertonSecurity commented on #2457
@[carlosb1504] my comment re 12 or 24 hours was based on previous experience here in NZ where O365 tenancies here had to wait for fix replication.

My assumption (probably incorrect) is that Aus/NZ is at the tail end of replication. Therefore YOU (wherever you are in the world) should be updated already?

@exextoc - are you able to comment on MS process around replicating updates worldwide?

[2022-03-03 12:34] leejordan commented on #1922
Hello sorry to bother but is there any idea on when this issue might be fixed?

[2022-03-03 14:57] maartendebal commented on #1442
Any progress on this issue?
This is a deal breaker for our client.

[2022-03-03 20:21] avisheknand commented on #2457
@exextoc , confirming that it is now working for us ( in Fiji) . Thanks for fixing the issue.

[2022-03-03 20:54] neville-jones commented on #2457
working for us, in Australia

[2022-03-03 23:49] t-miyake commented on #2457
I have confirmed that the fix is complete too. (in Japan)
Thanks.

[2022-03-04 00:00] exextoc commented on #2419
The Outlook client

Could you collect a fiddler trace from the "Environment 2" that you specified in your initial post?

[2022-03-04 00:12] exextoc commented on #2453
Could you provide [ULS logs](https://docs.microsoft.com/en-us/office365/troubleshoot/diagnostic-logs/collect-office-diagnostic-logs) to help us better diagnose this issue?

[2022-03-04 00:21] exextoc commented on #2455
Thanks for reporting this issue. After careful consideration, our team has decided to not fix this issue. Outlook 2016 has ended mainstream support. We recommend you to upvote or create a new [Tech Community](http://aka.ms/M365dev-suggestions) item, this will give us visibility of the commonality of it and will help with our prioritization. If we end up working on this issue we will re-activate as

[2022-03-04 00:21] #2455 closed, assigned to nobody

[2022-03-04 03:03] exextoc commented on #2457
Thanks for confirmations.

@carlosb1504 Can you also please test again and let us know if issue exists or it is fixed?

[2022-03-04 07:51] jeroenrosendaal opened #2460 "Excel API 1.1 - React project"
We are trying to create a Office add-in based on React but we are getting the error:
[code]
[code]
<img width="403" alt="HH6xuR35rCzH" src="https://user-images.githubusercontent.com/37666832/156721793-00261902-0cbe-4e53-88b2-3a2bd868dc66.png">

## Your Environment
- Windows Server (version: 1809, OS build: 17763.2565)
- Excel API 1.1
- Office 2016 (16.0.5278.1000) 64-bit

## Expected behavior
A wo

[2022-03-04 09:27] jasonhieu1905 opened #2461 "(Outlook requiredAttendees getAsync) : return attendees are inconsistent on Outlook for Mac and Windows"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop, Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number:
   - PC desktop Version 2203 Build 16.0.15018.20002) 64-bit
   - Mac 16.58 (22021501)
* Operating System: Windows + Mac

## Expected behavior
- required attendees list should b

[2022-03-04 11:12] puripats opened #2462 "What is the release date for Office.Actions.replaceShortcuts(shortcuts) ?"
What is the release date for Office.Actions.replaceShortcuts(shortcuts)  ?

https://docs.microsoft.com/en-us/javascript/api/office/office.actions?view=common-js-preview

For example,
replaceShortcuts(shortcuts)
This API is provided as a preview for developers and may change based on feedback that we receive. Do not use this API in a production environment.

When this actions will be in production

[2022-03-04 19:31] pietrofxq commented on #2218
I am having the same issue. Did you manage to fix it?

[2022-03-04 19:39] pietrofxq commented on #2218
For me this happens only when opening a popup directly from a command. Running the same function from the Taskpane works fine, even though both URL's opened in the popup are the same

![image](https://user-images.githubusercontent.com/6238029/156831200-1d7ba38d-d954-4aa0-94cb-b2b7133924e1.png)

[2022-03-04 20:15] pietrofxq commented on #2218
update: this is not happening when opening the popup with
[code]

[2022-03-04 21:39] JuaneloJuanelo commented on #2238
Hello all. thanks I wanted to add a quick clarification to this email.   its not clear on this issue what are the impacted platforms.

1. Outlook for windows is working as expected, just validated this on our latest update.
2. OWA and Mac are returning incorrect information we are working on a fix soon. thanks and sorry for the delay.

[2022-03-04 22:19] exextoc commented on #2447
Thanks for reporting the issue regarding add-ins not showing up when an module extension point in included in the manifest. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Internal tracking id: Office: 5864111

[2022-03-04 22:22] exextoc commented on #2449
Thank you for the scenario information. We would recommend trying out [SSO for your authentication](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins).

SSO authentication authorizes the user to your add-in without requiring them to sign in a second time, which would help with your scenario.

[2022-03-04 22:29] exextoc commented on #2456
Could you elaborate on your scenario for requiring custom properties to not be included on forwarded messages?

[2022-03-05 04:17] privnote42 commented on #964
@exextoc
Is there still no way to increase the timeout?

[2022-03-05 07:22] yihuax-msft commented on #2428
@rogozind, It is indeed a bug in our source code, and I have fixed it. I will put the fix into the official build sometimes next week, and you should be able to see the fix in a release version roughly 16.0.15111.  Thanks for helping us find this issue.

[2022-03-05 14:04] rogozind commented on #2428
Yey! Thank you!

[2022-03-05 20:48] chengtie opened #2463 "Add-ins cannot be loaded in Microsoft Office Professional Plus 2019"
(* Link on StackOverflow: https://stackoverflow.com/questions/71348197/add-ins-cannot-be-loaded-in-microsoft-office-professional-plus-2019 *)

Someone contacted me because he could not load our add-ins (using `ExcelApi 1.2`) in add-in stores; a blank page was shown. He could not use Advanced Formula Environment either, here is the error message:

[![enter image description here][1]][1]

Here is ve

[2022-03-06 04:24] exextoc commented on #2401
A few clarifying questions:
1. Are you developing "VSTO add-in" and not "Modern Outlook Web-Addin"?
2. Which public documentation are you following for development?

[2022-03-06 04:41] exextoc commented on #2441
Please use [documentation link](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api) for REST APIs. As mentioned earlier REST APIs should work with on-prem exchange 2016 and 2019.
If the documentation doesn't help, please provide the exact error to be able to help better.

[2022-03-06 06:00] ghost commented on #2448
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-06 10:11] exextoc commented on #1580
This is still in the backlog, we don't have a date to share yet, but we will you posted when we take this up.

[2022-03-06 10:28] #2112 closed, assigned to exextoc

[2022-03-06 12:50] exextoc commented on #2218
@pietrofxq Is your query resolved now?

[2022-03-06 14:33] oldoldman opened #2464 "can not setup localized excel function meta file"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Build 16.0.14931.20116
* Operating System: Windows 11
* Browser (if using Office on the web): N/A

## Expected behavior
addin should load

## Current behavior
addin does not load

##

[2022-03-06 14:37] #2464 closed, assigned to nobody

[2022-03-06 17:17] pietrofxq commented on #2218
@exextoc I was able to make it work with `displayInIframe: true` and doing a post message from dialog to window. Opening the dialog directly from the function without `displayInIframe: true` still breaks the app with that error, maybe worth looking into why

[2022-03-06 19:33] exextoc commented on #2454
Thanks for reporting the issues regarding on-send add-in. We are able to reproduce both issues internally. It has been put on our backlog. We unfortunately have no timelines to share at this point. Internal tracking ID: 2647522

[2022-03-06 19:41] rulopimentel commented on #2401
1. Modern Outlook web Add-In
2. Using the official office Add-In guide

Please , in my previous comment I explain how to replicate the issue .

[2022-03-06 23:23] wh1t3cAt1k commented on #2222
Hi @jiju-MS , please share any updates regarding this 🙏

[2022-03-06 23:24] wh1t3cAt1k commented on #2033
Dear MS team, hi there! Could we get an update please?

[2022-03-07 03:21] JHJ-MS commented on #2222
Hi @wh1t3cAt1k, we are actively working on fixing it now, I'll update you when we have progress.

[2022-03-07 03:22] SiruiSun-MSFT commented on #2033
Hi Pavel,
We think Requirement Sets might be able to help you with this. We provide a system called requirement sets to help you determine whether an Office application supports the capabilities you need in your Office Add-in. Office Add-ins use requirement sets specified in the manifest or use a runtime check to determine whether an Office application supports APIs that an add-in needs.
The follo

[2022-03-07 05:03] exextoc commented on #2401
Can you please share documentation link which you are referring to?

[2022-03-07 09:00] ghost commented on #2444
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-07 09:32] Jarum77 opened #2465 "Document properties not syncing after creating word document"
I have created an software in Word that stores .docx files onto a MongoDB database and then opens them using the function below. On opening the file, the 'Document Info' or 'Document Properties' such as Author, Category, and Title no longer sync through the document when there are multiple of the same properties field.

The rest of the document is the same: All fonts and styles are correct, the te

[2022-03-07 12:00] ghost commented on #2439
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-07 12:46] milankonir commented on #2456
We use the custom properties to store various metadata that are processed by our backend services once the email is sent. Copying such metadata on top of the forwarded message can cause all sorts of problems (duplicate processing, incosistencies...).

To give you an example, we store a follow steps in the custom properties that instruct backend services to perform certain chain of actions once the

[2022-03-07 15:14] barisbikmaz opened #2466 "Office.context.mailbox.item.organizer does not return recipientType"
# Provide required information needed to triage your issue

## Your Environment

* Platform: PC & Online
* Host: Outlook
* Office version number: (Version 2202 Build 16.0.14931.20116) 64-bit
* Operating System: Windows
* Browser: Chrome

## Expected behavior

getAsync should return Office.EmailAddressDetails object with recipientType according to [docu](https://docs.microsoft.com/en-us/javascript/

[2022-03-07 16:54] wh1t3cAt1k commented on #2033
@SiruiSun-MSFT thank you, that is somewhat helpful.

However for telemetry purposes we need to be able to identify the product version that is being used, to expedite support.

[2022-03-07 16:54] wh1t3cAt1k commented on #2222
Thanks a lot @JHJ-MS !

[2022-03-07 18:13] rulopimentel commented on #2401
The documentation is in https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=visualstudio

[2022-03-07 19:31] joshuawwright opened #2467 "Ribbon Images Not Shown During Localhost Development Due To CORs"
Add-in icons on a custom ribbon are not shown when running from development (localhost), however the add-in works with no issues in the side-loaded panel. This is a recent development, that is being caused by a CORs issue.

![image](https://user-images.githubusercontent.com/1731346/157103098-e5f5b3bd-c89f-4015-8715-05d84aff8bcf.png)

## Your Environment
* Platform: Office on the web
* Host: Excel

[2022-03-07 19:50] penpaapp commented on #1057
Did this ever get fixed? This looks to relate to an issue we're having

[2022-03-07 21:28] JuaneloJuanelo commented on #2461
Hey @jasonhieu1905 one problem that we have here is that organizers are recognized differently on the actual products (in Windows there is no such thing as an organizer while in OWA and Mac there is such notion.   The API is mapping to what's supported on the products.   Can you please share how this is impacting your scenario?

[2022-03-07 21:48] carlosb1504 commented on #2457
Hi. Apologies for the delayed reply. Yes I can confirm this is fixed for us too. Thanks

[2022-03-08 00:00] ghost commented on #2419
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-08 02:34] HelenNeigel commented on #1965
Please find attached video with Script Lab example - inspect elements or attach debugger open DevTools, the window is closed after 3-5 sec by itself.

https://user-images.githubusercontent.com/7814226/157154905-418f563c-4e77-4c4b-95b4-7bfd7144a271.mp4

[2022-03-08 02:37] HelenNeigel commented on #1938
Steps are the same, uploaded video for https://github.com/OfficeDev/office-js/issues/1965

[2022-03-08 02:53] Dengshan2018 commented on #1965
@HelenNeigel , did you repro with the version of 99.0.1150.*?

[2022-03-08 03:00] ghost commented on #2453
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-08 03:16] HelenNeigel commented on #1965
Yes, the webview2 is of the newest version.
![image](https://user-images.githubusercontent.com/7814226/157159394-b69082a7-3909-4058-8524-5d8a9d8a5045.png)

[2022-03-08 03:48] jasonhieu1905 commented on #2461
@JuaneloJuanelo : We have an outlook addin to insert the mail signature. We depends on the api mailbox item to return **recipientType** from **requiredAttendees, optionalAttendees**  to  define a signature is internal/external users. So when we create a new appointment by default, we get differently attendees between Windows and Mac so that the mail scope is currently not working correctly. Hope t

[2022-03-08 06:21] RuizhiSunMS commented on #2465
@yihuax , :)

[2022-03-08 07:38] RuizhiSunMS commented on #2222
@wh1t3cAt1k , this ADO is numbered with id #5549594. We will inform you as soon as it is fixed.
Thanks.

[2022-03-08 09:00] ryanmccall101 commented on #2348
Hi, thanks very much for your help – I have checked and all looks good from my end.

Thumbs up.

Regards

Ryan McCall

From: guliums ***@***.***>
Sent: 03 March 2022 05:13
To: OfficeDev/office-js ***@***.***>
Cc: ryanmccall101 ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/office-js] Uncaught (in promise) RichApi.Error: ControlIdNotFound (Issue #2348)

Hi @ryanmccall101 <https://github

[2022-03-08 12:15] gopinathshiva opened #2468 "How to use Office.js Ribbon API for Customizing a Ribbon Through Size Definitions and Scaling Policies"
In my project, I'm currently loading ribbons in Excel add-in using Office.js Ribbon API

`Office.ribbon.requestCreateControls(Ribbon_JSON_HERE);`

I would like to know how to achieve customizing a ribbon's size definition and scaling policies via Ribbon API. I found a doc which can do this in manifest.xml way - https://docs.microsoft.com/en-us/windows/win32/windowsribbon/windowsribbon-templates .

[2022-03-08 14:26] yurpcraft commented on #2439
Hi!  So I'm the one who's been testing on our end.  This same issue also happens in iOS.  I've added the languages that I wanted to test in iOS to my phone
![image](https://user-images.githubusercontent.com/12848366/157257053-141d32be-9c71-4792-ba4e-634eb80210dc.png)
Then I set the preferred language setting in Outlook:
![image](https://user-images.githubusercontent.com/12848366/157257228-8db7be67

[2022-03-08 15:58] tj-aew opened #2469 "getAccessToken fails in Excel custom function"
# Provide required information needed to triage your issue

I'm trying to use `getAccessToken` in an Excel custom function, like so:

[code]

## Your Environment

* Platform: Desktop Excel, Excel for the Web
* Host: Excel
* Office version number: 2201 (14827.20198 Click-to-run)
* Operating System: Windows
* Browser (if using Office on the web): Chrome

## Expected behavior

Getting an access token

[2022-03-08 16:04] tj-aew commented on #2469
I should have said: For the shared runtime, I was working within our current custom functions project, which was bootsrapped a couple of years ago and set up with the shared runtime.

To see if it worked when custom functions aren't using a shared runtime, I did `yo office` and created a custom functions add-in using TypeScript:

<pre>
C:\temp>yo office

     _-----_     ?-------------------------

[2022-03-08 17:47] ElizabethSamuel-MSFT commented on #2312
Thanks for your patience as we work through resolving this issue.

We've made a number of updates to the walkthrough including the following:

- manifest.xml
  - Updated the JSRuntime.Url value
  - Commented out events that aren't handled
- launchevent.js (new)
  - Moved event handling to separate file instead of adding to commands.js
- commands.html
  - Added script entry for launchevent.js
- web

[2022-03-08 18:43] Dengshan2018 commented on #1965
I tried on a few different machines. I can't repro the refresh after launch devtool.
@HelenNeigel , did you repro the issue on different machines? There might be some important condition missing for the repro.

[2022-03-09 00:00] ghost commented on #2449
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-09 00:00] ghost commented on #2447
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-09 06:03] devbryan0225 commented on #2372
Similar issue. My angular addin project uses Office.onReady() instead of Office.initialize .

I have Office.context.ui.addHandlerAsync() called in a chain promise (.then() ).
I have a catch promise, and it caught a TypeError with the message 'Office.context.ui.addHandlerAsync is not a function' .

That is probably why the dialogMessageFromParent does not fire.

[code]

The display dialog called fr

[2022-03-09 08:00] ghost commented on #2448
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-09 08:00] #2448 closed, assigned to yihuax-zz, grangeryy

[2022-03-09 10:06] MicGensty commented on #2424
Another one in Windows:
Microsoft Word 365 MSO, (Version 2203 Build 16.0.15018.20002) 64-bit
Sessions-id: 6C60AB59-F607-4207-ACD8-EBDAE6F4C20D

[2022-03-09 10:45] exextoc commented on #964
Hey @privnote42 ,

Yes, the timeout for autorun add-ins for Outlook is still 5 minutes and there's no way to increase them. Unfortunately the user-voice page mentioned in the comment above has been deprecated. To raise a request for a new functionality you can leave them on our [Tech Community Page](http://aka.ms/M365dev-suggestions).

[2022-03-09 11:11] MicGensty commented on #2424
Another one in Windows:
Microsoft Word 365 MSO, (Version 2203 Build 16.0.15018.20002) 64-bit
Sessions-id: 6C60AB59-F607-4207-ACD8-EBDAE6F4C20D

[2022-03-09 12:45] RuizhiSunMS commented on #2348
Close the issue since it has been fixed and verified by the reporter.

[2022-03-09 12:45] #2348 closed, assigned to guliums

[2022-03-09 13:53] mgrybauskas commented on #151
@JuaneloJuanelo Are there any updates on this issue? Is it possible for the group icon to change depending on the mode the user is in? (e.g.: AppointmentAttendeeCommandSurface or AppointmentOrganizerCommandSurface)?

[2022-03-09 16:55] vitalykuvaev opened #2470 "Office Version reported as 0.0.0.0"
## Issue Description

When running an Excel Addin in Office Online, `Office.context.diagnostics.version` is always set to '0.0.0.0'.

We are logging issues our customers experience and including platform and version information in the log data. We would definitely like to log the actual build version/number as reported in the About section.

## Environment

* Platform: Office Online
* Host: Excel

[2022-03-09 17:39] hiddenkirby commented on #2382
This issue seems to have fixed itself for our add-in after the latest "Outlook for Mac" client update. I am however seeing a coincidentally new issue only on Outlook for Mac clients where the removeAttachmentAsync() method is returning success and not actually removing the attachment.  I can post a new issue, but the timing seems oddly related.  I'd be curious if @guzman-rc issue was also resolved

[2022-03-09 17:45] Iso5786 commented on #2372
I have exactly the same issue within Outlook.

I register the dialog as follows:
[code]

The handler of the dialog is added as follows:
[code]

I also assume that the cause of the issue is that I call the `messageChild` immediately in the callback of `displayDialogAsync`.
But this is also what I need as I want to pass the HTML email content directly to the dialog after it has been created without

[2022-03-09 18:30] guzman-rc commented on #2382
The bug has not been fixed yet.
My version of Outlook for Mac is: 16.58 (22021501)

[2022-03-09 19:17] smiles3983 commented on #1629
I also would like this ability.  We have an InTRAnet application we load which gives a review feedback form the users word document.  Having it inside the task pane helps us keep context with the right document since the users work on more then one at the same time.  So the web app we run needs some elbow room in the width.  We would like to be able to set the default width from within the manifes

[2022-03-09 20:18] Dengshan2018 commented on #1965
@HelenNeigel is there any crash dump for msedgewebview2.exe?

[2022-03-09 22:00] pietrofxq opened #2471 "Office.addin is undefined on outlook addin - can't install SharedRuntime on manifest"
I am trying to call the methods `Office.addin.showAsTaskpane()` and `Office.addin.hide()`. The object `Office.addin` is undefined inside my taskpane. I've read that I need SharedRuntime to make it work, but adding this on my manifest:

[code]

throws this error when installing the manifest:

[code]

What should I do to be able to use those methods to show/hide the taskpane from code?

[2022-03-10 06:00] ghost commented on #2441
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-10 10:14] shakoorattari commented on #790
@exextoc  what are new and old UIs?

[2022-03-10 10:37] shakoorattari commented on #790
@GrumpyAL  saved the life. It's working after adding the full name.

[2022-03-10 11:00] ghost commented on #2444
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-10 11:00] #2444 closed, assigned to guliums

[2022-03-10 13:17] DmitryKostochko opened #2472 "Outlook Online: getAsync() and setAsync() methods of the Office.Location interface do not work"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Out add-in for compose mode supports mail and meeting (<ExtensionPoint xsi:type="AppointmentOrganizerCommandSurface">) items. For meeting items, we use the [Office.Location](https://d

[2022-03-10 17:55] JuaneloJuanelo commented on #1108
FYI folks we have a high bug volume and have not been able to get to this one, however our team is re-triaging this bug and hopefully soon we can get the fix out. thanks for your patience.

[2022-03-10 18:20] amiram commented on #1108
@JuaneloJuanelo Thanks. We really need that. Is there any chance you'll make this lib open-source so we can help with bugs too?

[2022-03-11 02:00] ghost commented on #2419
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-11 02:00] #2419 closed, assigned to exextoc

[2022-03-11 03:44] HelenNeigel commented on #1965
@Dengshan2018 I tried a different machine. All work there as expected. Not sure what causes the issue on my machine. I'll try to investigate. Thank you for your help.

[2022-03-11 03:47] HelenNeigel commented on #1938
@Dengshan2018 I tried a different machine. All work there as expected. Not sure what causes the issue on my machine. I'll try to investigate. Thank you for your help.

[2022-03-11 05:00] ghost commented on #2453
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-11 05:00] #2453 closed, assigned to nobody

[2022-03-11 05:23] Dengshan2018 commented on #1938
@HelenNeigel thanks for the update. will see any more updates. or crash dump for msedgewebview2.exe

[2022-03-11 05:23] Dengshan2018 commented on #1965
@HelenNeigel thanks for the update. will see any more updates. or crash dump for msedgewebview2.exe

[2022-03-11 07:02] SiruiSun-MSFT commented on #2459
Hi Szilard,
Thanks for letting us know about this issue. We are trying to resolve this and will reply if there is progress.
Thanks, Microsoft 365 Developer Platform team

[2022-03-11 13:21] egloff opened #2473 "Word add-in does not trigger DocumentSelectionChanged event when creating a new table"
## Your Environment
* Platform: PC desktop
* Host: Word
* Office version number: Microsoft Word for Microsoft 365 MSO (Version 2201 Build 16.0.14827.20180) 32-bit
* Operating System: Microsoft Windows 10 Enterprise (Version 10.0.19043 Build 19043)

## Expected behavior
Inserting a table should trigger a selection changed event.

## Current behavior
There is no event when creating a new table. Befo

[2022-03-11 18:21] Alex0cean commented on #1920
successfully tested. Thanks.

[2022-03-11 18:21] #1920 closed, assigned to gingerjia

[2022-03-12 02:00] ghost commented on #2449
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-12 02:00] #2449 closed, assigned to exextoc

[2022-03-12 02:00] ghost commented on #2447
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-12 02:00] #2447 closed, assigned to exextoc

[2022-03-12 12:45] RaviKumar1096 commented on #2312
@ElizabethSamuel-MSFT

Thank you for responding but I need some help on few points
1.manifest.xml
 a) updated the JSRuntime.Url Value
    In this one with which value I should update it with I mean I pointed this value to mine command.js file should i point it to my newly created launchevent.js file?

2.commands.html
  a) can you give a example of how should I add a script for adding a new file(la

[2022-03-12 15:00] ghost commented on #2439
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-12 15:40] exextoc commented on #2472
Hey @DmitryKostochko ,

Does the location that you've typed in the location field resolve to a location before you call the API, like this:
<img width="646" alt="Screenshot 2022-03-12 at 9 09 15 PM" src="https://user-images.githubusercontent.com/28549921/158024645-79f73b37-f37d-4353-bbfe-4a4885084d26.png">

It is expected that the location should be resolved before an add-in API is able to read it

[2022-03-12 16:18] exextoc commented on #2381
Hey @m-pd ,

I am closing this thread and we can follow up on #1400

[2022-03-12 16:19] #2381 closed, assigned to exextoc

[2022-03-13 08:00] ghost commented on #2441
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-13 08:00] #2441 closed, assigned to exextoc

[2022-03-13 14:17] exextoc commented on #1057
@askariblue ,

This issue was no longer reproducible. We suspect this was an issue with Safari which has since been fixed. Are you still able to see this issue?

[2022-03-13 14:24] exextoc commented on #2218
@pietrofxq ,

The Display Dialog should work with `displayInIframe: false`. Can you try adding a simple code snippet which displays the dialog from you add-in and try again, and then perhaps share the code snippet with us? (Share the code of the entire `ExecuteFunction` method that you're trying out)

[2022-03-13 14:27] exextoc commented on #2439
Hey,

Thank you for reporting this issue. We are able to reproduce this issue and we are working on fixing it. Unfortunately, we have no timelines to share at this point.

[2022-03-13 15:00] ghost commented on #2368
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-14 04:22] RuizhiSunMS commented on #2473
@yihuax take a look please :)

[2022-03-14 05:04] exextoc commented on #2437
Hey @MarioVitale ,

We are unfortunately unable to replicate this issue. Will it be possible for you to share a test account credential with us where this issue is reproducible at `OutlookAddins@M365x693897.onmicrosoft.com`?

[2022-03-14 05:15] exextoc commented on #2456
Thanks for your providing your scenario here. Will `internet headers` work for your scenario, as an alternative to `Custom Properties`?

[2022-03-14 05:56] RuizhiSunMS commented on #2470
Hello @vitalykuvaev
As mentioned, this return value is by-designed and your issue is nearly a feature request. To better in helping you, we suggest you to Microsoft Tech Community New Ideas forum for the Microsoft 365 Developer Platform with the link of https://docs.microsoft.com/answers/products/m365 to submit new feature request (or might find that request has been submitted yet).
By this way co

[2022-03-14 08:22] DmitryKostochko commented on #2472
@exextoc, thank you for your quick turnaround.

The text that I entered was not resolved into a location. Is it possible to force resolving by calling an API method?

[2022-03-14 08:29] milankonir commented on #2456
The `custom properties` data are private to our add-in / exchange user, while the `internet headers` can be publicly accessed by anyone including email recipients. That's something we would rather avoid.

[2022-03-14 09:24] MarioVitale commented on #2437
I have emailed you the info.

[2022-03-14 10:01] exextoc commented on #2456
Thanks for the extra information. I'm not sure what data you are storing in `Custom Properties`, however, we don't recommend storing private/sensitive information there. Moreover, `Custom Properties` are also publicly accessible but not as easily as `Internet Headers`. `Custom Properties` can be accessed via EWS/REST by other add-ins or any client that leverages either protocol.

[2022-03-14 10:18] milankonir commented on #2456
We don't store any PII or otherwise sensitive data as we are aware that as long as you have an access to the exchange account and know the add-in id, you can access them. Unlike internet headers, they are not visible to the recipient, correct?

Of course, another concern with migrating to internet headers is the require rewrite of the add-in and back end processing.

Circling back to the original

[2022-03-14 10:19] djaeger-inercomp commented on #2174
Did you try if this project works on your side?

[2022-03-14 10:34] exextoc commented on #2456
Yes, `Custom Properties` are not visible to the recipient. If no sensitive data is stored in `Custom Properties`, it seems reasonable that `Internet Headers` will be an alternative here. However, there will be a cost in rewriting a bunch of code. I was unaware of this since it wasn't clear whether you were implementing a new feature or had already implemented it.

The individual clients (Windows O

[2022-03-14 12:12] exextoc commented on #1616
Thanks for reporting this issue regarding the host version. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2671822

[2022-03-14 12:13] exextoc commented on #2369
@DmitryKostochko, thanks for your patience. We have fixed this issue in build 16.0.15028.20000. This build is still rolling out, so expect the fix in an update within the next few weeks.

[2022-03-14 12:14] #2369 closed, assigned to exextoc

[2022-03-14 12:31] exextoc commented on #2382
We have fixed the bug and the fix should be available in build 16.59 or later. When an updated build is available depends on the release channel a customer is on.

[Outlook Add-ins Engineering Team]

[2022-03-14 12:38] exextoc commented on #2422
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-14 12:38] #2422 closed, assigned to exextoc

[2022-03-14 12:41] hughbe opened #2474 "SlideRange.id is not roundtrippable - cannot be used PowerPoint.SlideCollection.getItemAt"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am trying to perform an action on all selected slides in a PowerPoint document.

For example, the following snippet (called from a `FunctionFile` event):
- Loops through the current

[2022-03-14 13:07] exextoc commented on #1400
@m-pd All the issues mentioned above are already fixed. Could you please update your Outlook Mac to version 16.58 and try it again.

[2022-03-14 13:14] exextoc commented on #1400
Remarks per issue as below

Property | "Old Outlook" | "New Outlook" | Remarks
-- | -- | -- | --
window.Office.context.mailbox.userProfile.accountType | outlookCom | office365 | This is as per the design
window.Office.context.mailbox.item.itemId | AQMk...E0AAAA= | "" | The item id is not available and it is present only for a read item
window.Office.context.mailbox.item.internetMessageId | CA+E...

[2022-03-14 13:29] GrumpyAL commented on #1400
Hi,

Just to clarify, are you saying that empty itemID should also be fixed in 16.58 for 365 accounts (or just Gmail accounts)?  Or is the cause of the issue reported in #2381 still unknown since we haven't been able to reproduce outside of specific environments?

[2022-03-14 14:03] jfoclpf opened #3493 "Outlook ItemSend Event is never triggered"
Events are not triggering due to webpack bundle I guess, but I am not 100% sure

I correctly define the event in the manifest
[code]

And globally expose  and define the function

[code]

But the event is never triggered. Maybe you should do some global exposures of the function?

### My full manifest

[code]

[2022-03-14 14:53] jlara005 opened #2475 "Outlook add-in: Calling CustomProperties.saveAsync error when Encrypt/Digitally sign S/MIME options set"
If you have encrypt/sign options enabled on an email and try to save custom properties, you get an error.

## Your Environment
* Office on the web
* Outlook
* https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js
* Windows 10 21H2
* Edge 99.0.1150.39
* S/MIME control: 4.0800.20.21.804.1

## Expected behavior
For the custom properties to get saved without error

## Current behavior
I am curr

[2022-03-14 15:02] salmanansari-gep opened #2476 "Office.context.document.url is returning empty string on word add ins load"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# On opening a taskpane in word online, Office.context.document.url is returning empty string on load, it was working previously

## Your Environment

* Platform [PC desktop, Mac, iOS

[2022-03-14 15:30] ElizabethSamuel-MSFT commented on #2312
@RaviKumar1096 Thanks for your questions. We've updated the [walkthrough article](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch) with this info. I recommend you go through the instructions again.

For 1a), you should update to https://localhost:3000/launchevent.js. See the [Configure the manifest](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#confi

[2022-03-14 16:57] jasonclg opened #2477 "Sideloading valid manifest in Excel Web generates invalid result"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Your Environment

* Platform: Office on the web
* Host: Excel
* Office version number: Excel on the web latest
* Operating System: Windows 10
* Browser (if using Office on the web)

[2022-03-14 17:56] AbidRahman-MSFT commented on #2471
Hey @pietrofxq, please note that shared runtime feature is only supported on Excel (and on PPT Web). Shared runtime is currently not supported on Outlook. I will assign this issue to the Outlook team to see if there are alternative ways to open/close the task pane in Outlook.

[2022-03-14 18:05] AbidRahman-MSFT commented on #2477
Hey @jasonclg,

Thank you for reporting this issue, looks like there is inconsistency between what is considered a valid manifest in Excel desktop vs Excel Web. I will add our developer experience team to follow up on the issue.

[2022-03-14 18:44] pietrofxq commented on #2471
Thanks! I found a workaround to hide the taskpane (which is what I need) by using

[code]

However this makes the add-in stop working, so this method cannot be called while there is something going on (like an open popup). The workaround for that is to listen to events on the dialog, and call it if error 12006 is received (means dialog closed on X button)

[2022-03-14 20:38] JuaneloJuanelo commented on #2466
Hey @barisbikmaz, are you reporting a documentation issue, or is there something that you are expecting to use in the properties? if you can clarify your scenario will be very helpful for us to prioritize this bug properly. thanks!

[2022-03-15 01:19] exextoc commented on #2079
@gitcnd are you still able to reproduce this issue in Outlook.exe?

[2022-03-15 08:18] exextoc commented on #1400
It should be fixed for all the accounts.
Also, for issue #2381 do you have a consistent repro? If yes, would you be able to share a test account with us?

[2022-03-15 09:25] Manuri opened #2478 "The open extension of the outlook meeting gets overwritten when saving it in the Outlook Desktop App"
I have an outlook add-in that allows the user to save some data to an open extension in the outlook event.
The open extension data saved (By sending a PATCH request to the graph API) gets overwritten when saving the event (By pressing the "Send" button) in the Outlook Desktop App.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint

[2022-03-15 09:54] cornflakeboy commented on #2094
Hey Guys,
What is the status here? We and our customers experience similar freezing behavior with different versions of excel, the latest of which is 16.0.14931.20118 .
Is there something else to do in order to test the fix?
@david-ps Were you able to test the fix and did it help you?

[2022-03-15 09:59] RaviKumar1096 commented on #2312
@ElizabethSamuel-MSFT

Thanks for replying but doing this way also leads me to the error message on outlook(desktop version).and also i tried to deploy my add-in and still the same message comes.
![image](https://user-images.githubusercontent.com/66593878/158353247-7e8fd69a-2860-4a01-a04a-d0c7e32dfc5c.png)

![image](https://user-images.githubusercontent.com/66593878/158353115-2f9ec689-8c28-443b-90

[2022-03-15 10:09] cebrotea opened #2479 "Bookmark end missplaced when insertOoxml with replace in a content control"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Word
* Office version number: 2108 (Microsoft Word for Microsoft 365 MSO (16.0.14326.20850) 64 bit)
* Operating System: Windows 10 Pro 10.0.19044 Build 19044
* Browser (if using Office on the web): ______

## Expected beha

[2022-03-15 11:05] cornflakeboy commented on #2094
I would be happy to contribute more information on this issue, if needed. It affects our business really hard. Freezing charts are unacceptable for our customers, so I would like to help resolving it. I can reproduce it with our content add-in by inserting it into a worksheet and switching to another worksheet. When switching back after 5 minutes or so, it is frozen and (in my case) fully opaque,

[2022-03-15 12:43] barisbikmaz commented on #2466
Hi @JuaneloJuanelo,
Scenario is:
- Organizer creates a new appointment
- I check the recipientType of the appointment organizer
- Generate a signature based on his recipientType (external or internal)

Problem the recipientType property of the organizer is always undefined. Is this intentional or a bug?

[2022-03-15 15:18] exextoc commented on #2472
Hi @DmitryKostochko,
There is no API to force resolve the location.
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-03-15 16:39] ElizabethSamuel-MSFT commented on #2312
@RaviKumar1096 Thanks for this update.

1. Can you confirm that you went through the latest instructions, particularly from the "Configure the manifest" section to the "Try it out" section, recopying various texts as needed and running the updated npm instructions?
2. Did you close all instances of Outlook on Windows then reopen Outlook? (This is mentioned in the [Debug](https://docs.microsoft.com

[2022-03-15 22:38] exextoc commented on #2471
closeContainer() is basically the same as closing the taskpane manually. There is no way in Outlook to "hide" the taskpane and have it still be running in the background.

What is your scenario? Would an ExecuteFunction add-in instead of ShowTaskpane be more appropriate if you do not want to show a taskpane?

[2022-03-15 22:43] exextoc commented on #2478
The issue you are observing may be related to inconsistent item state. Changes to an item via Graph/EWS/ REST (MakeEwsRequestAsync, or via a backend call), are updated directly in the exchange server. Changes made to an item using the Office.js API go to the client first and these changes, when using Outlook Desktop in Cached Mode,  are not synced to the exchange server immediately. Instead the se

[2022-03-15 23:16] pietrofxq commented on #2471
@exextoc I thought that this what SharedRuntime did, by reading this section of the docs:

[code]

The use case is the following:
1. User clicks on add-in button in email
2. Taskpane opens and we show a screen "Validate event..." - this checks if the meeting was booked in our app
3. if meeting was booked in our app, we open a dialog to allow the user to reassign it. Here we dont need the taskpane

[2022-03-15 23:31] david-ps commented on #2094
@cornflakeboy this is still a critical issue and to my knowledge and experience has not been addressed. Hard to understand why Microsoft has not made this a top priority given it also affects their own add-ins eg Visio add-in

[2022-03-16 03:57] Dengshan2018 commented on #2094
Thanks @cornflakeboy for providing more repro steps and @david-ps . We did a fix last year. Not sure whether this is regression. Will investigate the issue and update the thread for the finding.

[2022-03-16 08:24] milankonir opened #2480 "Broken inline image attached with addFileAttachmentFromBase64Async"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2201 Build 16.0.14827.20180
* Operating System: Windows 10
* Browser (if using Office on the web): ______

## Expected behavior

Setting email content with inline image atta

[2022-03-16 08:35] guzman-rc commented on #2382
I just updated Outlook to build 16.59 and **now the error only occurs when I drag the files to the add-in’s pane**.
If I click on the add-in’s pane to select the files, the plugin works correctly.

[2022-03-16 09:08] JensMadsen opened #2481 "Urgent: How to get Office version which uses IE11"
I desperately need a way to test my addin on an installation that uses Office running IE11. I am no longer able to load word online in IE11 (no longer supported)
![image](https://user-images.githubusercontent.com/6726111/158553484-6fc56361-e6e9-4ec7-8794-2c70fbc3ca9d.png)
and therefore I need a way to test if my addin works on older Office versions that use the IE11 browser for running addins. Acc

[2022-03-16 17:00] ghost commented on #2368
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-16 17:00] #2368 closed, assigned to RuizhiSunMS

[2022-03-16 17:30] croicu commented on #2481
Jens, I think you can use Office 2016 or use a version of windows 10 prior to 19H1 (version 1903) or windows 8.1. We are always use Edge on newer windows versions.

[2022-03-16 17:59] GrumpyAL commented on #1400
Hi,

Unfortunately the few environments we have a consistent repro on we do not own and have been unable to find someone willing or able to give a test account.  We are also trying to see if someone will test with one of our dev accounts to help us rule out a tenant setting vs a Mac client setting.

I will follow-up to see if those who have had the issue can test on 16.58.

[2022-03-16 18:02] Rick-Kirkham commented on #2481
@JensMadsen Have you seen this article?
[Testing on IE 11](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/ie-11-testing)

[2022-03-16 18:33] exextoc commented on #2471
As Abid Mentioned, SharedRuntime is not supported in Outlook, so the unfortunately it doesn't apply.

An ExecuteFunction ExtensionPoint would allow you to show the dialog (via https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins) ...but not the Taskpane. If you can do everything in DisplayDialogAsync you could see if you want to use that.

If you want to use bot

[2022-03-16 19:27] exextoc commented on #2480
We've managed to repro the issue and opened a bug for our backlog:
Internal Reference Id: 5897699

Debugging this further, it looks like doing body.getAsync will clear out any inline attachments that are not referenced in the body.

So another workaround would be to:

1) body.getAsync()
2) AddTheAttachment()
3) Compute Changes
4) body.setAsync()

Do you happen to know/recall when this solution WAS

[2022-03-16 19:53] jfoclpf opened #2482 "How to detect active Extension Point?"
In Outlook Addin, for Windows and Outlook 365, imagine you have an ItemSend event handler combined with other Extension Points in the same manifest, like Appointment Compose or Appointment Read.

How do you distinguish in JS code which is the active Extension Point being used, with a single Addin?

I am struggling on this for 2 full days in a row and I am posting this here because nothing appears

[2022-03-16 19:59] exextoc commented on #2482
Every ExtensionPoint can be pointed at it's own unique URL, so you can point them to different files and detect it that way.

I'm guessing you want to use the same file for all extension points. So the common solution to that is to add a query parameter to the end of your urls in your manifest file.

i.e.

https://contso.com/mypage.php?extensionPoint=button1
https://contso.com/mypage.php?extension

[2022-03-16 22:15] jfoclpf commented on #2482
But please, please, please, how such manifest would be? It's not yet clear for me how to combine different `FunctionFile`s with different `ExtensionPoint`s?

[code]

I mean, do I duplicate the number of `DesktopFormFactor` or `Host`, since FunctionFile must be inside `DesktopFormFactor`?

[2022-03-16 22:20] jfoclpf commented on #2482
Are you sure? The last time I tried it was just distinguishing between appointment and message

https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.itemtype?view=outlook-js-1.5&preserve-view=true

[2022-03-16 23:00] timwan03 commented on #2482
Sorry I apologize, I thought you were trying to distinguish between separate Taskpane URLs. For Taskpanes the solution DOES work since each Taskpane has a separate URL:

[code]
You would just have a separate Resid/URL for each one. For ExecuteFunction, each ExecuteFunction could/should have it's own function that is called then you know what extension point it is coming from.
[code]
So you should

[2022-03-16 23:18] timwan03 commented on #2482
For distinguishing between AppointmentCompose and AppointmentRead, you were right. The ItemType is not enough (it only separates from Message / Appointment).

You can use the same strategy (by having separate functions or query parameters for taskpane to distinguish between them)

There is also a set of functions under office.cast.item i.e.:
`Office.cast.item.toMessageCompose(Office.context.mailbo

[2022-03-16 23:24] exextoc commented on #2482
Sorry I apologize, I thought you were trying to distinguish between separate Taskpane URLs. For Taskpanes the solution DOES work since each Taskpane has a separate URL:

[code]
You would just have a separate Resid/URL for each one.

For ExecuteFunction, each ExecuteFunction could/should have it's own function that is called then you know what extension point it is coming from.
[code]
So you should

[2022-03-16 23:24] exextoc commented on #2482
For distinguishing between AppointmentCompose and AppointmentRead, you were right. The ItemType is not enough (it only separates from Message / Appointment).

You can use the same strategy (by having separate functions or query parameters for taskpane to distinguish between them)

There is also a set of functions under office.cast.item i.e.:
`Office.cast.item.toMessageCompose(Office.context.mailbo

[2022-03-17 00:52] NightGreyMoon commented on #813
@lukchen have you got this problem resolved? I'm facing similar issue on Mac Excel, taking too long on loading and ending up with message "Please sideload your add-in to see app body"

[2022-03-17 03:54] Dengshan2018 commented on #2094
@cornflakeboy I can repro the issue with the steps you provided with low resource mode. It should be fixed with new rolling out feature. At same time, we will fix the issue in legacy path.
Once you see the issue, you can try switch to other application and leave Excel as background. After 20-30 seconds, switch back to Excel. Expect that in-content add-in will be recovered automatically.

[2022-03-17 04:02] david-ps commented on #2094
@Dengshan2018 FYI: this does not work consistently in my and other users experience: "After 20-30 seconds, switch back to Excel. Expect that in-content add-in will be recovered automatically"

[2022-03-17 07:58] jfoclpf commented on #2482
Thank you so much, I am struggling with this for 2 days :)

And how do I detect the ItemSend event?

`<ExtensionPoint xsi:type="Events">`

Can I have Execute function

`<Action xsi:type="ExecuteFunction">`

 inside this ExtensionPoint?

[2022-03-17 09:18] jfoclpf commented on #2482
Furthermore, how can I execute Event function `validateBody`

[code]

only when taskpane is open/visible?

Basically in my Taskpane JS code I'm trying to emulate a tipical JS event handler, something like having an `onItemSend` like other [events](https://docs.microsoft.com/en-us/javascript/api/office/office.eventtype?view=common-js-preview) in `Office.EventType`.

But since they load in different

[2022-03-17 09:41] exextoc commented on #2475
We are able to repro this bug. It has been put on our backlog. We unfortunately have no timelines to share at this point.

[2022-03-17 10:07] JensMadsen commented on #2481
@Rick-Kirkham I know about this page but I did not check for the latest updates!! Thank you. The section https://docs.microsoft.com/en-us/office/dev/add-ins/testing/ie-11-testing#install-a-version-of-office-that-uses-internet-explorer kind of works. So thats perfect!. Still the `npx office-addin-dev-settings webview <path-to-manifest> <webview>` does not work (never did which is why I have tried o

[2022-03-17 10:39] milankonir commented on #2480
We could only reproduce the bug in Outlook for Windows, it works for us in Mac and OWA. We know it worked when we implemented the inline image support ~9 months back and we only got the, but only got the bug reported ~2 weeks ago. Unfortunately, we have no better idea when it did stop working in the last 9 months.

Thank you for the alternative workaround suggestion!

[2022-03-17 11:24] longseespace commented on #1824
I'm having the same issues. Sometimes `Office.onReady` fulfills, but most of the time it doesn't. Very random.

I was working consistently a few weeks ago.

[2022-03-17 12:18] barisbikmaz opened #2483 "Word Online ignores Word styles with insertHtml"
# Word Online ignores Word styles with insertHtml
When you insert html in Word or Mac, custom Word classes are mapped to Word font styles.

As an example when you insert an html like:
`<p class=MsoTitle>My Title</p>`
This paragraph gets the Word Title style after insertion.

On Word Online these classes are ignored.

![Word-Styles](https://user-images.githubusercontent.com/6338132/158804083-41fc4c

[2022-03-17 13:37] ghost commented on #378
thanks a lot @tuwrraphael ! Definitively, I think you have the good solution.
I had an addon which worked with a Dialog on Outlook Online but I wasn't able to use `messageParent` on the Window Outlook client.
The dialog url was built from `window.href` used in my addon panel. This url contains a `_host_Info`. As soon as I removed this parameter it worked!

[2022-03-17 17:14] ryanulit commented on #2223
@exextoc is there any plan in the authentication roadmap to add support for generating a Graph API token from the Common API as @courington was asking in the original question (e.g. `OfficeRuntime.auth.getAccessToken()` actually returning a Graph API token or introducing some other new method)?  While I appreciate that there is a SSO approach to enhance the user experience and not require an addit

[2022-03-17 18:00] ghost commented on #2439
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-17 19:19] jbindert opened #2484 "Cross-domain messageParent not working on Outlook for Mac desktop even when targetOrigin is set"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.59 (22031300)
* Operating System: macOS 12.3
* Browser (if using Office on the web): N/A

## Expected behavior
When setting the second argument in Office.context.ui.messageParent as { targetOrigin: "https://mydomain.com" } in my dialog, a Dialog

[2022-03-17 20:10] jfoclpf commented on #2482
I think I get it how to solve it  @exextoc :)

[code]

And then `FunctionFile`, `composeTaskPaneUrlOutlookJs2`, and `composeTaskPaneUrlOutlookJs2` will point to the same URL with different HTTP GET parameters

Just remains a last question: how can I detect in the ItemSend event instance that the Taskpane is opened?

[2022-03-17 20:34] exextoc commented on #2482
There is currently no way to know if the Taskpane is currently open or not. This would be a new feature request that you can make at
[UPDATE: Fixed link]
https://aka.ms/M365dev-suggestions

It is possible to do the following:

- Detect if the taskpane was EVER opened, by having your taskpane set a custom property that the ItemSend instance can check. However, because there is no way to remove the

[2022-03-17 20:52] mjozan commented on #2333
I also have a lots of these logs. I am developping my add-in locally in excel online 365. I am not using script-lab
<img width="549" alt="image" src="https://user-images.githubusercontent.com/17133333/158893040-646c9f03-b818-4122-a6c1-5f6320d07ce2.png">
It seems to come from a file called [osfruntime_wo.js](https://c1h-word-edit-15.cdn.office.net/we/s/h987B2794F8218E13_App_Scripts/osfruntime_wo.js

[2022-03-17 21:24] JuaneloJuanelo commented on #2466
thanks for the additional detail @barisbikmaz.  I wonder if there is a special condition by which we assume the organizer is an "external" recipient.  should not we always assume is internal?  Curious to learn how this breaks your scenario.

[2022-03-17 21:36] cbishop-fv commented on #2223
We have the same client-side react app. And agree with what you are saying. It's so easy to connect to the rest API with the provided token. Much better UX.

[2022-03-17 21:44] jfoclpf commented on #2482
Thank you, but that link does not work

This would be great if the taskpane had a onClose event handler

But much simpler and practical would be to have the ItemSend as a common [`Office.EventType`](https://docs.microsoft.com/en-us/javascript/api/office/office.eventtype?view=common-js-preview) and then simply using `addHandlerAsync`

[2022-03-17 21:45] #2482 closed, assigned to exextoc

[2022-03-17 22:01] exextoc commented on #2482
Sorry updated the correct link here: https://aka.ms/M365dev-suggestions

What's the scenario you are trying to accomplish with needing to know if the Taskpane is open during ItemSend?

[2022-03-17 22:21] #2401 closed, assigned to exextoc

[2022-03-17 22:23] rulopimentel commented on #2401
The exceptions have disappeared. It works as expected.

[2022-03-18 06:01] manishrfpio commented on #2424
This has been happening with a number of our customers and employees as well on both Windows & Mac computers.

[2022-03-18 06:10] grangeryy commented on #2483
@xiruams could you help to take a look?

[2022-03-18 06:17] grangeryy commented on #2479
@yihuax , not sure if you know anything on this issue?

[2022-03-18 06:19] grangeryy commented on #2473
Hey @yihuax, could you help to take a look on this issue? THX!

[2022-03-18 09:00] ghost commented on #2470
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-18 09:04] jfoclpf commented on #2482
Done it
https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/outlook-itemsend-event-as-a-standard-office-eventtype-usable-in/idi-p/3260807

[2022-03-18 09:04] jfoclpf commented on #2482
Done it

https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/outlook-itemsend-event-as-a-standard-office-eventtype-usable-in/idi-p/3260807

[2022-03-18 09:10] guliums commented on #2424
@MicGensty @manishrfpio thanks very much. I didn't find any telemetry for that session id. When the issue happens next time , besides the session id, could you also help submit a feedback to Microsoft using office client, that will ensure the diagnostic logs are collected. Thanks very much!
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABA8AAAGeCAYAAAD7QiiaAAAgAElEQVR4Aey9eZRV1Z33nf+StZ6o

[2022-03-18 09:16] jfoclpf commented on #2482
We're using the addin to send Outlook Appointments' data to an internal server for internal data sharing and statistics. The addin fetches appointment data from Outlook, the user further provides some further data (internal classification for example) in a form available in the Taskpane, and then they click a button and the Outlook Appointment data plus data from the Taskpane's form is sent to an

[2022-03-18 10:41] geekykant commented on #1799
@rajha-conga Can you confirm if this is how the registry key should be created?
This isn't working for me.

<img width="693" alt="Screenshot 2022-03-18 at 4 09 20 PM" src="https://user-images.githubusercontent.com/27401142/158988369-d59d7919-7361-413c-a459-a5f6b17fb1c2.png">

[2022-03-18 15:00] ghost commented on #1616
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-18 16:22] pietrofxq commented on #1991
I also need to use this feature and stumbled upon this. The fix is simply adding a new value to the `allow` iframe attribute but has to be done on Microsoft side. Can we reopen this?

[2022-03-18 16:25] jfoclpf opened #2485 "ItemIds do not match between Organizer and Attendee for the same appointment/meeting"
We are developing an Addin for Outlook Calendar using Office JS, such Addin being used by both Organizers and Attendees, using the same Taskpane JS code. We need thus to obtain a unique UID for the same appointment/meeting.

As documented,

- as Organizer using the `Office.AppointmentCompose` interface we use the method `getItemIdAsync`, i.e., `Office.context.mailbox.getItemIdAsync` and only after

[2022-03-18 19:07] timwan03 commented on #2482
In this scenario, it would probably be best if the Taskpane wrote that data to Custom Properties when the form has finished filling out. (perhaps add a javascript handler on the form for when focus leaves it, or the form hasn't been updated in a while), as well as remove those custom properties, if the user clicks the HTML Button.

then have the ItemSend add-in read those custom properties and tra

[2022-03-18 19:11] exextoc commented on #2482
In this scenario it would probably work if the Taskpane saved the form's contents to Custom Properties, when the user has finished editing it. (perhaps you can use Javascript handlers to detect when the form has changed). As well as remove those custom properties if the user sends them manually.

Then in the ItemSend, transmit those properties if they are there. Or if you need to let the user have

[2022-03-18 19:50] exextoc commented on #2485
I can confirm that EWSId is not what you are looking for here. EWSId is the MAPI EntryId with stuff added to it. As a result, it is unique to each user and to each item in an Exchange Store.

Identifying an item across users looks to be a more difficult problem that has been asked by other users in the past:
https://stackoverflow.com/questions/16934908/ews-appoitnment-item-id-uniqueid-is-not-const

[2022-03-19 05:12] yihuax-msft commented on #2473
When inserting a table, I believe your cursor is at the beginning of a paragraph, right?

Let's say You have two paragraphs as:
AAA[EOP]
BBB[EOP]
where [EOP] is the end-of-paragraph mark.

Suppose your cursor is at the beginning of the second paragraph, that is, the cursor is right before BBB. So, your cursor is now at location 4 (after 'A', 'A', 'A', '[EOP]'). After your table is inserted, the cu

[2022-03-19 05:42] yihuax-msft commented on #2479
I cannot find any issue.

The attached source.docx has one line of text as "This is a new text."
The attached main.docx has one line of text "This is a dummy text." inside a content control.

I get the the ooxml of the line in source.docx and put it into main.docx's content control, and it works correctly in that the content control now has text "This is a new text." in it. What is the problem?

B

[2022-03-19 05:48] yihuax-msft commented on #2465
Yes, the add-in APIs only support rich text content controls, although you may get or set the other types of content controls through OOXML.

Could you provide us a simple sample Word document with multiple properties, as you said, so we can try it and see? Thanks!

[2022-03-19 11:13] jfoclpf commented on #2485
Ok, thank you for your links

In the first one it is mentioned `appointment.ICalUid` and in the second one it is mentioned `GlobalAppointmentID`, both being unique for the same appointment across users. That's exactly what we need for our project.

But in the first case is for .NET and in the second case is for VBasic.

How can I fetch that in Office JS? Are there any soap XML requests? What is th

[2022-03-19 14:17] StevenBendell commented on #2465
[Document info test document.docx](https://github.com/OfficeDev/office-js/files/8309393/Document.info.test.document.docx)
Hi @yihuax-msft ,

Please find a test document attached.

Thanks

[2022-03-19 14:20] jfoclpf commented on #2482
I already do that, every time the user edits any form entry, I have handlers to store that data into custom properties automatically.

Yes, a nice idea would be to save a custom property every time the user sends the data to the server manually by clicking the button, and then reading that wasButtonClicked custom property in the Item Send event function.

Thanks for the tips

[2022-03-19 14:22] jfoclpf commented on #2485
TLDR: What is the EWS SOAP XML code to get `ICalUid` (I can use then `Office.context.mailbox.makeEwsRequestAsync`)?

[2022-03-20 10:44] jfoclpf commented on #2485
Just FYI I made a related question at stack overflow

https://stackoverflow.com/q/71539113/1243247

[2022-03-20 17:09] exextoc commented on #2484
Do you have the test add-in hosted anywhere? If so, could you provide us with the manifest so that we could get an in-house repro for this?

[2022-03-20 18:00] ghost commented on #1400
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-20 20:00] ghost commented on #2439
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-20 20:00] #2439 closed, assigned to macOutlookExtensibility

[2022-03-20 23:05] cebrotea commented on #2479
When I say bookmark end I mean the BookmarkEnd Element: **https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.wordprocessing.bookmarkend?view=openxml-2.8.1**

There is only one bookmark (the same) set on the word This in both word documents. Check the position of the BookmarkStart and BookmarkEnd before and after replacing the content control content with the updated text. After con

[2022-03-21 00:47] sheldoncoates opened #2486 "Custom function return type as any does not accept any value to be returned"
When specifying the return type of a custom function as `{any}` I want the custom function to be able to return a `string, number, string[][], ect.` but with a return type as `{any}` I can't return a `string[][]` because it results in a `#VALUE!` error.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac, Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
*

[2022-03-21 07:32] RuizhiSunMS commented on #2483
Hello @barisbikmaz
Thanks for your submit. We colleague reproduced this issue successfully and create an ADO with id of #5909484 to track.
Sorry for having no explicit timeline for now but further updates will be committed here if we have.

[2022-03-21 08:50] egloff commented on #2473
Hi @yihuax
Thanks for your reply.
Indeed it is exactly as you have described it, if I am NOT at the beginning of a paragraph everything works as expected. This is not necessarily lucid, but from a technical point of view I can understand you.
But for our add-in (we are currently migrating from an existing VSTO add-in) we need to know, if the cursor location is in a table or not. Is there another w

[2022-03-21 09:53] milankonir commented on #2456
Hi, could we please get an update on this? We need to understand the urgency to look into a workaround on our side.

[2022-03-21 11:00] ghost commented on #2470
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-21 11:00] #2470 closed, assigned to RuizhiSunMS

[2022-03-21 11:34] dgtllion commented on #2292
@chiz-ms do you may be know how long it will take to get it done by you/Microsoft?
4 months ago i requested it there but its not even looked up by someone.

https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/office-js-add-in-add-functionality-to-set-linktoprevious-to-word/idi-p/3033549

[2022-03-21 11:44] chiz-ms commented on #2292
Hi @dgtllion, the feature requests are considered when we go through our planning process. However currently we do not have a timeline to share.

[2022-03-21 11:56] dgtllion commented on #2292
Can you give an estimation? Is it for months or years to wait?

[2022-03-21 12:00] barisbikmaz commented on #2466
Hi @JuaneloJuanelo,
currently it does not break our scenario if we can assume that the organizer is always internal, which he probably is, but we were not sure.
So we just wonder if the API returns undefined because the organizer is always internal, because there is no documentation about this behavior.

[2022-03-21 13:53] FranCerrada commented on #2451
Hi again,

we have been trying out the same API in Office for Mac and we've found that the workaround described in the previous message does not work: if the position is specified, the insertion will always be done on top of everything, no matter if a placeholder is selected or not or if the slide contains a placeholder with support for images.

This is actually the behavior described in the docum

[2022-03-21 15:04] yihuax-msft commented on #2473
Thanks for the information. You are right, for pulling, it is easy with getSelection().parentBody.type or getSelection().parentTableCellOrNullObject or getSelection().parentTableOrNullObject. But for event, right now we don't have one if the cursor is at the beginning of a paragraph before inserting a table.

I guess that inserting an empty table is meaningless, so maybe you can postpone your hand

[2022-03-21 16:21] jordandev opened #2487 "Custom Functions - help link on edit goes to incorrect COUNT document"
When inserting a new custom function using the "Insert Function" dialog there is a "Help on this function" link in the bottom left that takes you to the link as provided by the @helpurl

This works correctly when inserting a new function. However, if you have already inserted a custom function, and you use "Insert Function" to edit that function (click the existing formula cell, then click Insert

[2022-03-21 17:00] ghost commented on #1616
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-21 17:00] #1616 closed, assigned to exextoc, macOutlookExtensibility

[2022-03-21 17:11] salmanansari-gep commented on #2476
@grangeryy @AbidRahman-MSFT
Do we have any update on this issue?

[2022-03-21 18:11] yihuax-msft commented on #2465
Thank you @StevenBendell. After my investigation, yes, it is a bug in our API. I have just fixed it. I will put my fix into production in a few days.

[2022-03-21 18:13] StevenBendell commented on #2465
@yihuax-msft much appreciated. Thanks a lot

[2022-03-21 21:24] graysenpack commented on #2424
@guliums I have just sent in Feedback immediately after this happened in my version of Word (Mac Version 16.59 (22031300). My Word updated, then when I tried to use the Add-in, it disappeared as soon as I clicked a ribbon icon in the Add-in ribbon tab.

Since this is on Mac, I used the Feedback icon in the very top-right corner. I included a link to this GitHub issue in the feedback.

[2022-03-21 21:38] JuaneloJuanelo commented on #2466
I really don't see a good reason why you should consider the organizer of an appointment as an external recipient. In fact, we never return "ExternalUser" as recipientType, so I think for your scenario you could safely assume that's the case.  We will also make sure to document this properly. thanks for reporting this !

[2022-03-21 21:38] #2466 closed, assigned to exextoc

[2022-03-21 22:25] davidchesnut commented on #2485
Hi @jfoclpf,

Looks like you are getting answers on the stackoverflow question, so I'll close this issue for now. Please reopen this issue if we missed anything.

Thanks,
David

[2022-03-21 22:25] #2485 closed, assigned to nobody

[2022-03-21 23:49] davidchesnut commented on #2487
Hi @jordandev,

I can't reproduce this behavior using the steps you provided. Is there a specific spot you have to locate the cursor in the function when editing to see this? Is this only occurring for a particular function name?

Thanks!
David

[2022-03-21 23:52] davidchesnut commented on #2487
BTW: to test this I used Script Lab to create a basic custom function and then added the helpurl comment.

[code]

and from insert function dialog box that help url is working (both new cell, and from an existing cell with this function.)

[2022-03-22 02:38] xiruatms commented on #2476
@salmanansari-gep , thanks for reaching out to us.

I've taken a try, but it seems working properly, I can't repro what you described.

Will you please help to provide more details? Are you still hitting this issue? Can you isolate the usage of Office.context.document.url outside your codes to confirm? If possible, can you have a screen record of your testing? All these information will help us to

[2022-03-22 07:44] RuizhiSunMS commented on #2292
@dgtllion Sorry for having no release timeline at present.
One way might help is to submit your request on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) as well. The priority will get higher and we will re-think our plan after getting votes.
Thanks.

[2022-03-22 08:16] cebrotea commented on #2479
@yihuax-msft  we're you able to reproduce it now ?

[2022-03-22 09:40] jfoclpf commented on #2485
For the ones coming after me and for not losing *3 days* on this like I did, here is how I achieved

This function gets the ewsId for both Organizer and Attendee, since they have different means to get it

[code]

This function gets the extra IDs by parsing the XML from the SOAP response. I use jQuery since it is very easy to parse XML with it.

[code]

This function generates the XML SOAP request

[2022-03-22 09:44] abdulkareemnalband commented on #1981
@xiruatms  sorry for long delay
I completely forgot about this
here is gist to scriptlab
https://gist.github.com/abdulkareemnalband/71774fa909fbafc3642095f06184ea50

[2022-03-22 11:04] NataliaKravcheniaTR commented on #2476
@xiruatms, it works in Sharepoint but it's not working in NetDocuments which has the WOPI integration

[2022-03-22 11:10] salmanansari-gep commented on #2476
@xiruatms Yes we have WOPI implementation and we are using office add-ins over there

[2022-03-22 11:40] libjosep opened #2488 "Cell is not auto adjusting in new workbook created using createWorkbook() in office online."
I am creating a new workbook using `Excel.createWorkbook()`. The issue that I am facing here is that in the newly created workbook, the cells are not properly auto-adjusting. This happens only in the online version. It works fine on Mac and Excel desktop.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* O

[2022-03-22 11:54] exextoc commented on #151
@mgrybauskas
Currently, the feature group icon to change depending on the user mode, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](http://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered when we go through our planning process.

[2022-03-22 11:54] #151 closed, assigned to exextoc

[2022-03-22 15:13] helenula commented on #2146
Hi there!

Just following up on the original issue reported here.
Some of our customers who use another Word add-in also report the same issue. Unfortunately, there are no particular steps I can share with you to help with reproducing the problem. However, it doesn't make it any less painful.
Would appreciate it if you could address this issue some time soon.

Thank you!

[2022-03-22 16:29] Dengshan2018 commented on #2094
Had the fix on 16.0.15118.*** and ported back to 16.0.15028.20112. Expect that both of them will be available in Office Insider Beta and CC next week.
@david-ps and @cornflakeboy please give a try.

[2022-03-22 16:42] jbindert commented on #2484
Sure, see the attached zip file containing a manifest for a working example.

[CrossDomainTest.zip](https://github.com/OfficeDev/office-js/files/8326275/CrossDomainTest.zip)

[2022-03-22 16:52] davidchesnut commented on #2486
Hi @sheldoncoates

The simple way to return single values in addition to arrays is to just return an array with a single value as follows:

[code]

The `string[][]` syntax is important because it adds the dimensionality value to the functions.json. Without that Excel won't realize the function supports arrays.

[code]

You can change it to `any[][]` which will remove the "type": "string" and then

[2022-03-22 16:58] davidchesnut commented on #2488
Hi @libjosep, thanks for letting us know about this issue.

@grangeryy could you please look into this issue?

Thanks!
David

[2022-03-22 21:31] sheldoncoates commented on #2486
Thank you @davidchesnut this resolved the issue.

[2022-03-22 21:31] #2486 closed, assigned to davidchesnut

[2022-03-22 23:01] yihuax-msft commented on #2479
@cebrotea Thanks for the information. I didn't notice there was a bookmark there. Yes, I can repro it. Let me find some time to investigate.

[2022-03-22 23:29] yihuax-msft commented on #2479
@cebrotea Looks it is indeed an issue with our this API. But it should not block you, since on my machine the following workaround can put the bookmark at the correct location. The workaround is that, instead of calling
        contentControl.insertOoxml(content, "Replace");
you can call
        contentControl.getRange("Content").insertOoxml(content, "Replace");
Does it also work on your machine?

[2022-03-22 23:53] JuaneloJuanelo commented on #2456
Hello @milankonir, most probably we will not fix this issue because:

1.  this is platform consistent behavior. Meaning the products behave differently and the programmability is a reflection of that.
2. We shipped this behavior since Office 2013 and usually we do not backport fixes. Giving that this would drastically change the semantic of the method it could potentially break folks who are in 20

[2022-03-22 23:53] #2456 closed, assigned to nobody

[2022-03-23 00:45] xiruatms commented on #1981
@abdulkareemnalband , thank for replying.

I've taken a try, but it seems working properly as the attachment. Any more steps I need to take care?

https://user-images.githubusercontent.com/40648203/159455107-7cfe1f6f-aa19-4d27-9d13-47114a3bfa16.mp4

[2022-03-23 03:56] grangeryy commented on #2488
Adding @RuizhiSunMS, @lushanbo

[2022-03-23 06:50] guliums commented on #2424
@graysenpack Thanks very much, that is very helpful for our investigation. Just to confirm one thing, does "My Word updated" mean this happened after you update your Word app version(that it updated to version 16.59 (22031300) and the issue happened)?

[2022-03-23 10:25] cebrotea commented on #2479
@yihuax-msft  I tried to do this one on my machine and it didn't work. Am I doing it wrong ?

I attached a gist and the document I am using.

https://gist.github.com/cebrotea/7035766a1b7f581d889b008396ef608e
[test.docx](https://github.com/OfficeDev/office-js/files/8332088/test.docx)

[2022-03-23 14:03] tj-aew opened #2489 "Office.addin is undefined"
# Provide required information needed to triage your issue

`Office.addin` is `undefined`.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Desktop, Office on the Web
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Microsoft® Excel® for Microsoft 365 MSO (Version 2202 Build 16.0.14931.20128) 64-bit
* Operating System: Windows
* Browser (if using Off

[2022-03-23 14:45] guzman-rc commented on #2329
Can you give us an estimated date to solve this issue?
Thanks a lot.

[2022-03-23 15:03] tj-aew commented on #2489
Actually, if I try to scaffold an entirely new project, switching it to the shared runtime makes it just completely fail to load the functions. The `undefined` issue above is with an existing project already configured to use the shared runtime (and double-checked).

[2022-03-23 15:28] sureshjoshi commented on #2217
@xiaoyuMS @chiz-ms

Is there any timeline when footnotes will reach the Desktop versions of Word?

[2022-03-23 15:38] hiddenkirby opened #2490 "Outlook for Mac not handling adding/removing attachments properly"
# Provide required information needed to triage your issue
Use scriptlab on Outlook for Mac version 16.59 (22031300)
Open a compose window
Run this gist in script lab https://gist.github.com/hiddenkirby/6bed684bac672bbca6613351c7f307e5

Notice only one attachment present when API returned two AsyncResult.success calls.  I am seeing this issue with removeAttachmentAsync as well. This seems to have

[2022-03-23 15:58] tj-aew commented on #2489
If I scaffold an entirely new project, apply the shared runtime steps, and try to use it, it works. So I guess it must be something about our existing project which we'd already moved to the shared runtime, though I can't imagine what it would be. Any suggestions what to look at in the manifest or build?

[2022-03-23 15:58] #2489 closed, assigned to davidchesnut

[2022-03-23 16:38] graysenpack commented on #2424
@guliums - Sorry, should have been more clear. Yes - I started Word, it verified the update (the Mac OS default verification pop-up), then Word started. The Add-in was still there, but once I clicked an icon in the Add-in ribbon tab, it disappeared.

I have my Word set to automatically update, so the update must have been installed since the last time I had Word open. I tend to always Quit out of

[2022-03-23 17:40] RuizhiSunMS commented on #2292
I'm sorry but we don't have explicit timeline at present indeed....
We recognize your submit on the forum but it lacks of votes to support us re-plan the schedule.

[2022-03-23 17:49] davidchesnut commented on #2489
Hi @tj-aew,

It sounds like the shared runtime isn't loading. I'd double check the manifest. Can you compare your manifest against the sample manifest that you got to work? In particular I'd double check the location of the `<Requirements>` and `<Runtimes>` elements. They have to exactly match the order defined in [Configure your Office Add-in to use a shared JavaScript runtime](https://docs.micro

[2022-03-23 18:04] tj-aew commented on #2469
I scaffolded a new project from scratch (the one that was using shared runtime is about three years old) and something must be different in the manifest or build process because that freshly-scaffolded one works. So we'll migrate our code to the re-scaffolded project.

[2022-03-23 18:04] #2469 closed, assigned to nobody

[2022-03-23 19:32] yihuax-msft commented on #2479
@cebrotea, It is due to something wrong in your document.

Your document starts with the following characters:
1. Content control start tag
2. T
3. h
4. i
5. s
6. space
7. i
8. s
9. ......

In fact, the bookmark is placed on the first FIVE (5) characters!!!! That is, the bookmark is on "[startTag]This". Therefore, when you get the OOXML of "This is ...", the bookmark is not in the OOXML, since the

[2022-03-23 20:00] ghost commented on #1400
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-23 20:00] #1400 closed, assigned to exextoc

[2022-03-23 20:10] davidchesnut commented on #2490
Thanks for reaching out @hiddenkirby. @exextoc can you help with this issue?

Thanks!
David

[2022-03-23 22:13] EdwinStraver opened #2491 "How to use the ChartBinOptions class to change the bin with and count on a Histogram"
I have written some very simple code to create a Histogram, like so:

await Excel.run(async (context) => {
    let sheet = context.workbook.worksheets.getItem("Sample");
    let dataRange = sheet.getRange("A1:A50");
    let chart = sheet.charts.add(
      Excel.ChartType.histogram,
      dataRange,
      Excel.ChartSeriesBy.auto);
    await context.sync();
});

Now, I simply want to use/access the

[2022-03-24 00:00] JuaneloJuanelo commented on #1861
FYI to all our community we are following up directly with @barclayadam  and his team. Turns out its been tough for our engineering team to repro this issue, however we have a customer who has shared an environment and we are investigating. thanks for the patience.

[2022-03-24 01:32] xiaoyuMS commented on #2217
@sureshjoshi
We don't have a plan for Footnote APIs on Desktop at present. And we are collecting the customer requirements (better with MAU prediction) which will help us to see whether and when to plan these requirements.

[2022-03-24 02:13] sureshjoshi commented on #2217
Thanks @xiaoyuMS - if there is some way we could discuss privately, I could provide some context for our use case and maybe that would help?

[2022-03-24 05:13] donlvMSFT commented on #2491
Hi @EdwinStraver , thanks for reaching us.

You could refer to the Chart Format -> Horizontal Axis -> Axis Options to see the Bins options. When type is "Bin width" you could set the width, and when type is "Number of bins" you could set the count.

So the code could be like below, please mention you need to set the right type before set other properties:

[code]

[2022-03-24 05:18] neville-jones commented on #2316
Seeing similar as exextoc - the API only returns the complete body when the cursor is moved down in to the reply content, irrespective of the Setting. If is "Show email grouped by conversation" then first have to click three ellipsis under reply to show original message content, then move cursor down in to it.

[2022-03-24 05:50] RuizhiSunMS commented on #2488
Hello @davidchesnut , thanks for your report.
Here are some questions about details we want to know:
1. Can you share your original excel file if convenient?
2. How did you get the base64 content string?
3. Have you ever tried to upload your original file and see if there is the render issue instead of using one created by basec64 string?
Thanks.

[2022-03-24 06:13] grangeryy commented on #2217
@sureshjoshi, we'd love to have a more focused discussion on footnotes APIs. Pls leave the contact through the [SURVEY](https://forms.office.com/r/KqR29e5rPu) and we'll reach out soon :)

[2022-03-24 07:50] exextoc commented on #2490
@hiddenkirby I have tested the Script Lab on Outlook Mac, Web, and Windows. In all three places, I could see only 1 attachment after I ran the code. So for me, the behavior was identical. Could you please elaborate on the issue as to what is your expectation here?

[2022-03-24 08:45] exextoc commented on #2382
We are unable to reproduce this issue on our end with the given Outlook version and the add-in mentioned by you. Could you please send us a recording where you are able to reproduce the issue? Also, after you reproduce the issue, could you collect the diagnostics and provide us with the diagnostics ID. The steps to collect the diagnostics are as below.

Click on Help -> Collect Diagnostics.
Click

[2022-03-24 09:09] guzman-rc commented on #2382
This bug only affects Outlook for Mac OS (Monterey 12.2.1), Outlook Desktop version (16.59).
The bug occurs 90% of the time and **only occurs when files are dragged to the add-in’s pane** (new Mac UI preview and classic view).
**MetaClean for Outlook on Windows and Outlook Web works fine.**

[2022-03-24 09:17] Howard-Song opened #2492 "[Outlook] API call slowly in outlook for mac"
## Article URL

## Issue

outlook for mac version: 16.59(22031300)

License: Microsoft 365 Subscription

Office-js version: 2.3.0(https://appsforoffice.microsoft.com/lib/1/hosted/Office.js)

In our addin, we add a setInterval to call **window.Office.context.mailbox.item.body.getAsync, window.Office.context.mailbox.item.to.getAsync, window.Office.context.mailbox.item.cc.getAsync, window.Office.cont

[2022-03-24 10:40] exextoc commented on #2382
We could not reproduce the issue with the steps mentioned by you. So, if it is a consistent repro, then could you send the diagnostics ID and also record a video for the same. This will help us debug the issue.

[2022-03-24 10:47] exextoc commented on #2382
I was able to reproduce this issue in full compose mode. Thanks for reporting this issue regarding addFileAttachmentFromBase64Async. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2576970

[2022-03-24 11:04] exextoc commented on #2437
Thanks for reporting this issue regarding the AgaveErrorUX folder. It has been put on our backlog. We, unfortunately, have no timelines to share at this point

Internal tracking id: Office: 2629527

[2022-03-24 11:20] exextoc commented on #2484
With the manifest provided by you, the pop-up opens and closes. Could you please create a video while you reproduce the bug? This will help us understand the issue and debug it better.

[2022-03-24 12:32] hiddenkirby commented on #2490
The code should:
1. Add a file named file1.png
2. Add another file named file2.png
3. log both files to the console
4. remove file1.png

Instead, you only saw 1 attachment after you ran the code. And when you see the console log you only see 1 attachment. And since the length of the attachments array was not 2, it did not try to remove file1.png.  #1 and #2 return asyncResult.success from the API

[2022-03-24 14:50] jbindert commented on #2484
Sure, see attached - the popup stays open on the Mac desktop app still when testing

https://user-images.githubusercontent.com/11153496/159943272-11edbf21-2d26-42f4-adae-a7e6e2386255.mov

.

[2022-03-24 15:09] EdwinStraver commented on #2491
Thank you!!

[2022-03-24 15:09] #2491 closed, assigned to RuizhiSunMS

[2022-03-24 16:04] AlexJerabek commented on #2492
Hi @JesseHeisenberg,

Thank you for reporting this.  I'm going to transfer this issue to the office-js repo, where members of the product team can investigate this performance issue and behavior change.

[2022-03-24 17:03] puripats opened #2493 "We use Office-Add-in with Window10 with Office 365 2202 32bit It is run on IE11 is this expecting?"
# Provide required information needed to triage your issue
We use Office-Add-in with Window10 with Office 365 2202 32bit It is run on IE11 is this expecting?
As we investigated, our version should run on Microsoft Edge1 with WebView2 (Chromium-based) however, as I seen it's used IE11 to run on it so we need to confirm is this expected? and if it is, Is there a plan to move to use Edge WebView2?
ht

[2022-03-24 19:41] davidchesnut commented on #2492
Hey @exextoc team can you please take a look at this issue? Thanks!

[2022-03-24 19:51] davidchesnut commented on #2493
Hi @puripats,

You are correct that it should be using Edge WebView2. How are you confirming which webview is loaded? We recommend using the personality menu when your add-in is loaded in the task pane.
![image](https://user-images.githubusercontent.com/8559338/159998099-ec238d7a-d34d-4a97-b908-f6a80b221d5e.png)

Then choose **security info**, and you should get a dialog like the following:

![ima

[2022-03-24 20:58] yihuax-msft commented on #2479
Your original issue should have the same cause.  Let me know whether it works without the workaround if you do not put the bookmark on the content control's start tag. Thanks.

[2022-03-25 02:59] puripats commented on #2493
@davidchesnut Thanks David for confirmation, as I checked with team. I found out that only 1 pc that point to IE11 somehow. I don't know why yet but I am clear now that it's should be Edge WebView.

[2022-03-25 02:59] #2493 closed, assigned to davidchesnut

[2022-03-25 06:00] ghost commented on #2218
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-25 10:33] Chris2011 opened #3313 "Remove &quot; from tooltip for pinnable addins"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Expected behavior
When I hover the pin icon for a pinnable addin, it should not tries to render the quotes.

# Current behavior
On Mac with Chrome, when I hover the pin icon of an a

[2022-03-25 10:33] Chris2011 commented on #3313
Or is there smth that I can do in my manifest file to prevent this?

[2022-03-25 10:44] ghost opened #2494 "Problem with Data Horizontal Classification"
# Provide required information needed to triage your issue
I have been doing some tests with sorting the data in the Excel Online environment and saw a problem with the action recorder.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel Online
* Office version number: Build 16.0.15122.37951
* Operating System: Win 10

[2022-03-25 12:03] sachindra-nath-dubey commented on #1012
I'm facing the same issue in PPT.

[2022-03-25 15:57] yurabandura opened #2495 "[Outlook for Mac] Office.context.mailbox.ewsUrl property provides empty string"
# Empty mailbox.ewsUrl property on Outlook for Mac with Microsoft Exchange account

## Your Environment

* Platform: Mac
* Host : Outlook for Mac
* Office version number: 16.59
* Operating System: macOS Catalyna 10.15.3
* Browser (if using Office on the web): Chrome 87.0.4280.88

## Expected behavior
`ewsUrl` to provide valid url like `'https://east.exch091.serverdata.net/EWS/Exchange.asmx'`

## C

[2022-03-25 16:31] davidchesnut commented on #2493
Hi @puripats,

Just for more info you can switch the WebView that Office uses. See [Test your Office Add-in on Internet Explorer 11](https://docs.microsoft.com/office/dev/add-ins/testing/ie-11-testing#switch-to-the-internet-explorer-11-webview) for more info.

[2022-03-25 18:09] pietrofxq opened #2496 "[Outlook for Mac] Allow inserting <style> tag"
Our add-in inserts a React component with

[code]

We changed the component to use styled components instead of having all the styles inline. This works fine everywhere (office web, office desktop for windows) except for Outlook for mac. I tried manually inserting <style> tags and it doesn't take any effect. We would expect the behaviour to stay consistent across the different outlook apps, but th

[2022-03-25 18:14] exextoc commented on #2496
Could you please share a sample code snippet so that we could reproduce this in-house?

[2022-03-25 18:18] exextoc commented on #2495
If it is a consistent repro with you, then could you please collect the diagnostics and share the diagnostics ID with us?
Steps to collect the diagnostics.

Click on Help->Collect Diagnostics.
Click OK on the Pop-up.
Copy the diagnostic ID from the next Pop-up and provide us with the same.

[2022-03-25 18:28] exextoc commented on #2492
Thanks for reaching out. Can you please share your code snippets, so that we can try to repro at our end and debug better?

[2022-03-25 18:32] yurabandura commented on #2495
Diagnostic ID is GW57CZMC

[2022-03-25 18:59] exextoc commented on #2490
With the code snippet you provided, the same behavior is observed on all 3 platforms (Windows, Web, and Mac). Could you please recheck the code and see if there could be any potential bug in the code?

[2022-03-25 19:08] ExcelOffTheGrid opened #2497 "Getting Automatic instead of Hex code for Chart Fill / Line color"
On an Excel chart I'm trying to match the data label to the fill (column chart) / line color (line chart) from button click in JS Add-in panel.

The solidColor property is not currently available in the API. Jakob Nielsen pointed me to the Preview Libraries:
https://appsforoffice.microsoft.com/lib/beta/hosted/office.js
https://appsforoffice.microsoft.com/lib/beta/hosted/office.d.ts

However, when

[2022-03-25 19:18] pietrofxq commented on #2496
I ended using the library Juice to inline all styles in our component's html. So no need to fix it on outlook end since there is a workaround

[2022-03-25 19:18] #2496 closed, assigned to nobody

[2022-03-25 19:21] ElizabethSamuel-MSFT commented on #1452
The documentation has been updated (see PR https://github.com/OfficeDev/office-js-docs-pr/pull/3336) and the change should be published next week.

[2022-03-25 19:24] exextoc commented on #1481
We are currently not able to reproduce this issue in flyout and old "..." UX. Is the issue still reproducible on your end?

[2022-03-25 19:27] exextoc commented on #1509
We are currently unable to reproduce this issue on our end. Are you still able to reproduce it?

[2022-03-25 19:28] exextoc commented on #1477
We are currently unable to reproduce this issue on our end. Are you still able to reproduce it?

[2022-03-25 19:34] #2218 closed, assigned to JuaneloJuanelo, exextoc

[2022-03-25 21:22] #1509 closed, assigned to exextoc

[2022-03-25 23:24] davidchesnut commented on #2497
Hi @ExcelOffTheGrid,
Thanks for letting us know about this issue! @grangeryy, is this something you can help with?

Thanks!
David

[2022-03-25 23:31] davidchesnut commented on #2494
Hi @aletrovato, thanks for letting us know about this!

@peronald can you help with this issue?

Thanks!
David

[2022-03-25 23:50] davidchesnut commented on #2468
Hi @gopinathshiva,

I apologize for the late response on your issue. @AbidRahman-MSFT can you help with this issue? If this isn't possible it would be great to add this as a feature request at https://aka.ms/m365dev-suggestions.

Thanks,
David

[2022-03-26 00:00] ghost commented on #2487
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-26 00:00] ghost commented on #2471
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-26 06:44] salmanansari-gep commented on #2476
@xiruatms @grangeryy

As this is blocking our business use case do we have any alternate way that we can point to any of the older version where this was working?

Any ETA when this will be fixed and available to us?

[2022-03-26 08:40] DmitryKostochko commented on #1481
The issue is still reproducible, please see the screenshot below.
![image](https://user-images.githubusercontent.com/28924916/160231800-5e1de5ea-cb05-424a-9007-d7053c63a83e.png)

[2022-03-26 08:43] DmitryKostochko commented on #1477
I have just re-tested and cannot reproduce the issue.

[2022-03-26 18:00] ghost commented on #2478
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-27 08:59] esominion opened #2498 "s there other way to get the Microsoft Edge DevTools Preview without Microsoft store?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

The problem is that it seems the only way to install the tools is Microsoft Store. Unfortunately the Miscrosoft Store is blocked on my machine, I want to know is there any other way t

[2022-03-28 06:00] ghost commented on #2488
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-28 06:33] yuc014 commented on #2237
Hi @GregReddick, really sorry for the late reply.
As Excel Rich Api part, we need align with UI team. And the autofill behavior is designed as it at the beginning.
I fully understand your feeling, and we really want to make Rich Api better and better.
If this issue still block you, I recommend you request this as new feature on https://techcommunity.microsoft.com/t5/microsoft-365-developer-platfor

[2022-03-28 08:55] exextoc commented on #1481
We are still unable to repro the issue at our end. Can you please configure the add-ins, repro the issue and share the credentials to "OutlookAddins@M365x693897.onmicrosoft.com" so that we can debug better?

[2022-03-28 09:32] exextoc commented on #2484
Thanks for reporting this issue regarding the issue, and we are able to repro it. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: Eg: Office- 2684952

[2022-03-28 10:21] barano21 opened #2499 "Taskpane: Spacing in release massages"
When the message of a new Add-in release appears in the taskpane, there is no spacing on the left. See atached image:
![image](https://user-images.githubusercontent.com/96837254/160377548-3dd2a4c2-fd0c-4177-b340-42255039a960.png)

## Your Environment
Platform: Word
Office version number: Microsoft® Word for Microsoft 365 MSO (version 2202 compilation16.0.14931.20128) 64 bits
Operating System: Wind

[2022-03-28 12:00] ghost commented on #2382
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-03-28 14:30] DmitryKostochko commented on #1481
Here is the manifest file of our test add-in:
https://online-addins.ablebits.com/testaddin/manifest.xml

1. Sign-in into an outlook.com account and install the add-in.
2. Go to Settings -> View all Outlook settings -> Mail -> Customize actions, turn on the Test Addin in the Toolbar section, click Save:
![image](https://user-images.githubusercontent.com/28924916/160419113-d1e1ef03-69e0-41b8-810b-d5

[2022-03-28 15:24] peronald commented on #2494
Hi @aletrovato. Thanks for reporting this issue. It has been put on our backlog to be fixed, but we don't have a timeline to share at this time.

[2022-03-28 15:27] ElizabethSamuel-MSFT commented on #1452
This change has been published.

[2022-03-28 15:34] ElizabethSamuel-MSFT commented on #2312
Thanks to everyone for your patience. Let us know if you're still having issues with this feature. Thanks.

[2022-03-28 16:08] exextoc commented on #2186
Tracking project: https://github.com/microsoft/react-native-windows/issues/3178

[2022-03-28 16:21] nkkinariwala commented on #2462
@AbidRahman-MSFT - is this something you can help with?

[2022-03-28 16:30] nkkinariwala commented on #2450
@exextoc - For now I have assigned this bug to you. You can re-assign to a right person accordingly.

[2022-03-28 16:33] nkkinariwala commented on #2458
@dm-shlandii - looks like issue is fixed and rolled out. can you please confirm from your side?

[2022-03-28 16:40] nkkinariwala commented on #2467
@grangeryy - Is it something you can help with?

[2022-03-28 16:59] AbidRahman-MSFT commented on #2468
Hey @gopinathshiva - we currently do not support sizing and scaling policies via the Ribbon API. As David suggested, please log a feature request at https://aka.ms/m365dev-suggestions.

Thanks,
Abid

[2022-03-28 17:11] ghost commented on #2494
Thank you @peronald for your attention

[2022-03-28 17:16] nkkinariwala commented on #2457
looks like the issue is fixed. Hence closing it.

[2022-03-28 17:16] #2457 closed, assigned to nobody

[2022-03-28 17:21] nkkinariwala commented on #2498
@millerds - Is it something you can help with?

[2022-03-28 17:27] AbidRahman-MSFT commented on #2462
Hey @puripats - we expect to release to production within the next month or two. The preview phase allows us to get feedback from developers to ensure the API is able to satisfy crucial user scenarios. If you have any feedback for us, please let us know!

[2022-03-28 17:30] GrumpyAL commented on #1400
Related to the specific issue in https://github.com/OfficeDev/office-js/issues/2381 we had an impacted organization test on 16.59 and they are still reporting the issue with that build.  We  are still attempting to get a test account from an impacted organization but so far no update on that.

[2022-03-28 17:34] millerds commented on #2498
I am not aware of how to get this or any other store app outside of the store.

[2022-03-28 20:30] davidchesnut commented on #2463
Hi @chengtie,

Sorry for the late response on this issue. Let me loop in @ElizabethSamuel-MSFT to see if this is perhaps a doc issue or not.

Thanks,
David

[2022-03-28 21:59] AbidRahman-MSFT commented on #2476
Hey @salmanansari-gep,

We did implement a change in behavior recently that may have impacted this scenario. I want to know more about your specific scenario to figure out if we can have alternative solutions here or if there is a bug we can fix. Can you please reach out to me on email (abid.rahman@microsoft.com) and provide some context on the following questions:

1. Do you own the WOPI server i

[2022-03-29 00:28] nkkinariwala commented on #2452
@millerds - Is it something you can help with?

[2022-03-29 02:00] ghost commented on #2487
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-29 02:00] ghost commented on #2471
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-29 02:00] #2471 closed, assigned to exextoc

[2022-03-29 02:03] JaieParker commented on #1188
Hey All,
I hope this helps someone else too as I had this issue and found that I had the vsto file was still locked into word and I could not get rid of it by restarting the computer
As per below image it seems that the file was being loaded directly from the folder via "file://..Users/........./WordAddIn1.vsto"
[WordIssue1.pdf](https://github.com/OfficeDev/office-js/files/8367440/WordIssue1.pdf)

[2022-03-29 04:04] hiddenkirby commented on #2490
Hrm, this is definitely an intermittent issue.

I am working on a new script that might help bring this to light.

[2022-03-29 04:05] exextoc commented on #2450
As mentioned above, it's been put in our backlog and we don't have timelines to share at this point. We will update you once it's resolved.

[2022-03-29 04:05] gopinathshiva commented on #2468
Thanks for the info. Logged the ticket - https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/using-office-js-ribbon-api-for-customizing-a-ribbon-through-size/idi-p/3269731#M852

[2022-03-29 04:06] exextoc commented on #2450
@nkkinariwala Sure, the bug has been put in our backlog. We will update it once its resolved.

[2022-03-29 04:08] gopinathshiva opened #2500 "How to use Office.js Ribbon API to auto focus on custom tab when taskpane is loaded"
In my project, I'm using Ribbon API to create custom tabs in excel. This custom tab will be created when the task pane is loaded.

However, I'm unable to autofocus on the created custom tab when the task pane is loaded. Hence I would like to know how to achieve this functionality. Any help on this is appreciated.

[2022-03-29 04:35] exextoc commented on #2495
@yurabandura From the logs, it looks like you are using old UI. Can you please switch to the new UI and let us know if you are facing the issue?

[2022-03-29 05:18] exextoc commented on #1481
@DmitryKostochko  Thanks for the details regarding the issue. We are able to repro it now, and it has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Outlook Web: 149641

[2022-03-29 07:36] exextoc commented on #1442
@maartendebal  Are you looking to save the item locally, or is expecting “saveAsync” to also send the event and update the meeting invite in all recipient calendars? If it is the latter, even Win32 should have similar behavior as OWA.

[2022-03-29 08:04] exextoc commented on #1452
@ig-jb  We have updated the documentation accordingly. Kindly refer to https://docs.microsoft.com/en-us/javascript/api/manifest/action?view=common-js-preview#xsitype

[2022-03-29 09:26] egloff commented on #2473
Thanks for your response, its not completely "meaningless" in our case 😉
Because our add-in can insert different content if the cursor is in a table or not.
But if this is not possible we have to work around this issue somehow.

[2022-03-29 09:26] #2473 closed, assigned to yihuax-zz, grangeryy

[2022-03-29 10:09] salmanansari-gep commented on #2476
@AbidRahman-MSFT have shared the details on mail

[2022-03-29 10:36] grangeryy commented on #2499
@yihuax @RuizhiSunMS any idea on this? I can reproduce on my win32 machine (windows, Office Version 2204(Build 15109.20000 Click-to Run, Beta Channel)). It won't impact Word online as the update experience for online is a pop-up dialogue:
![image](https://user-images.githubusercontent.com/50093161/160593250-e4b08787-93d9-440e-8da0-c65de11ff737.png)

[2022-03-29 12:40] yurabandura commented on #2495
@exextoc New UI does not support adding Microsoft Exchange accounts. It is under Coming Soon section.

[2022-03-29 13:10] theboyknowsclass opened #2501 "Word ContentControl Ids not always consistent between sessions"
Hi,

in when using Word Online, we insert images into content controls and reference the ids.

we use the following function.
[code]

and then we retrieve ids at a later date as so:

[code]
  This works fine in desktop, but a lot of the time online, the ids no longer match up if i reload the document.

[2022-03-29 14:16] gs-achandrakamal opened #2502 "New Outlook Message Compose mode : null and empty strings coming while getting recipients"
- While trying to get recipients using Office.context.mailbox.item.to/cc/bcc.getAsync, emailAddress values come as null or empty string even with success as status

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Microsoft Outlook on Mac
* Host [Excel, Word, PowerPoint, etc.]: Outlook(Version 16.57, 16.58, 16.59)
* Office version number: ______
* Operating System: macOS

[2022-03-29 14:17] DustinBrungart commented on #1400
We also have a customer experiencing the issue defined in #2381 on 16.59 and are in the process of getting consent to share the data we've collected now.

[2022-03-29 15:59] ElizabethSamuel-MSFT commented on #2463
From what I can tell, the documentation is correct. Assigning to @guliums to investigate.

Thanks.

[2022-03-29 16:13] theboyknowsclass commented on #2501
these seems especially prevalent if you 'rename' the file in the top bar online, or you 'save as'

[2022-03-29 16:27] nkkinariwala commented on #2500
Thanks @gopinathshiva for your question. For How-to question, can you plesae post it on Stack Overflow and tag it with office-js?https://stackoverflow.com/questions/tagged/office-js

[2022-03-29 16:48] millerds commented on #2452
The projects we output using 'yo office' are setup using npm packaging instead of yarn.  I'm not sure what you mean by "do the exact same thing in a fresh yarn workspace" . . . can you explain what you are doing to accomplish this?

[2022-03-29 17:47] yihuax-msft commented on #2499
Maybe Heidi's team knows?

[2022-03-29 19:24] Vineet-Yadav commented on #2142
Hi @exextoc ,

We have multiple clients which have multiple exchange rooms/ users impacting with this. Please share the tentative info to fix this.

[2022-03-29 19:52] ramon-villain commented on #1462
@keyur32 we are facing the same issue as @jordandev when we try to use `@volatile` with `StreamingInvocation`, do you have any suggestions?

cc: @lindalu-MSFT @ElizabethSamuel-MSFT

[2022-03-29 20:00] ghost commented on #2478
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-29 20:00] #2478 closed, assigned to exextoc

[2022-03-29 20:11] aafvstam opened #2503 "Content Controls Event Handlers not running"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I researched the Content Control Event handlers some time ago and re-checked recently and they seem not to work. First time I noticed was November 2019 and has not changed over time.

[2022-03-30 01:14] grangeryy commented on #2497
@MiaofeiWang could you help to take a look at this? THX!

[2022-03-30 03:31] exextoc commented on #2495
Thanks, @yurabandura. We believe that you are using an onPremise account.

1. Are you able to repro it consistently?
2. Can you please share a test account configured with the steps that you have mentioned so that we can repro it at our end and debug it better?
Please share the test creds to OutlookAddins@M365x693897.onmicrosoft.com

[2022-03-30 03:36] #1452 closed, assigned to nobody

[2022-03-30 04:36] grangeryy commented on #2499
@AbidRahman-MSFT do you know any information about this issue?

[2022-03-30 04:42] grangeryy commented on #2497
Hey @ExcelOffTheGrid, we did initial investigation on this. The behavior to return "Automatic" was a by design in the past. We need to change the design/add new API to return Hex color code. Backlog item created to track this ask:5933668

[2022-03-30 04:59] gopinathshiva commented on #2500
@nkkinariwala Thanks for the reply. Similar question asked in [stackoverflow](https://stackoverflow.com/questions/56766351/focus-custom-tab-by-default-while-opening-the-office-365-excel-for-1st-time) as well but its older hence reaching out directly to office-js developers on this.

I just want to know whether its possible or not from your side

[2022-03-30 06:12] guliums commented on #2463
Hi @chengtie , Office 2019 are using IE11 webview as add-in runtime. I think that error message is from the code in your add-in. If you want your add-in work in Office 2019, you should provide an alternate experience that does not use any of the HTML5
features that are not supported in IE, and remove the check code like below code:

if (navigator.userAgent.indexOf("Trident") === -1) {

    // IE i

[2022-03-30 06:50] JensMadsen commented on #2452
@millerds I think that this is a webpack/yarn/babel problem. I create a yarn workspace root with a subfolder foo. In the subfolder I put my yeoman generated add-in. Now foo is a yarn workspace. Yarn workspace gather dependencies in the root level node_modules. I think this is where thing goes wrong because some parts are not transpiled correctly by babel because the workspace node_modules folder h

[2022-03-30 06:50] #2452 closed, assigned to millerds

[2022-03-30 07:36] gopinathshiva opened #2504 "Open 2 different taskpane using office.js"
Multiple taskpane with different id's can be opened using manifest.xml.

Would like to know if same is achievable with Office.js, right now Office.js only offers below method
Office.addin.showAsTaskpane()

will it be possible to open a new taskpane with existing taskpane side by side using Office.js ?

[2022-03-30 07:54] exextoc commented on #2502
@gs-achandrakamal We are unable to reproduce the issue at our end. Can you please share a code snippet so that we can debug better?

[2022-03-30 12:59] jde-chil opened #2505 "EXCEL insertWorksheetsFromBase64 alters data source from pivot tables"
# Provide required information needed to triage your issue
If a pivot table has a table as a data source it is not correctly imported using the insertWorksheetsFromBase64 method
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Mac, PC
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Mac os 16.59 latest, Excel 2202 latest
* Operating System: Mac os 11

[2022-03-30 14:47] hiddenkirby commented on #2490
I have created a new script. https://gist.github.com/hiddenkirby/49e58ec35716c4d48189e75ede4b6d8b

This helps get closer to replicating the issue, but it does not occur every time.

If you click the "run" button multiple times, occasionally the Outlook interface is missing expected attachments.

As an example:
1. open a compose window
2. import the above script/gist.
3. clicking the "run" button t

[2022-03-30 15:20] Iso5786 commented on #704
As we are also planning to release a public version of our add-in for testing purposes, I also would like to know what the best way is on updating a sideloaded add-in as I do not want that users need to manually re-add the add-in or clear cache, or ...

Edit: I just figured that a hard reload, which clears the cache, via CTRL + F5 works within a browser, and within the mobile Outlook app it automa

[2022-03-30 18:36] mburbea opened #2506 "insertWorksheetsFromBase64 does not support xlsm/xltm files."

[2022-03-30 19:50] ExcelOffTheGrid commented on #2497
Thanks @grangeryy

I'm surprised that "Automatic" is by design.

The VBA equivalent of this returns the long color code while the Office JS shows Automatic.  Look at the screen shot below, while it is not Hex, it still provides an exact color code that we can use.

![ColorCodeComparison](https://user-images.githubusercontent.com/83125193/160918681-3e3bcbad-04e0-48b9-9eff-9526538c85c6.png)

VBA Cod

[2022-03-30 20:25] nkkinariwala commented on #2506
@guliums  - Is it something you can help with?

[2022-03-30 20:28] nkkinariwala commented on #2505
@guliums  - Is it something you can help with?

[2022-03-30 20:39] nkkinariwala commented on #2503
@AbidRahman-MSFT - Can you please help here?

[2022-03-30 20:43] AbidRahman-MSFT commented on #2503
@ElizabethSamuel-MSFT - is this related to the recent discussion we had around content control events not working as expected?

[2022-03-30 20:57] nkkinariwala commented on #2504
@AbidRahman-MSFT  - Is it something you can help with?

[2022-03-30 21:01] ElizabethSamuel-MSFT commented on #2503
@aafvstam We're in the process of adding Script Lab samples for these preview events. So far, we've added a sample for [ContentControl.onDeleted](https://github.com/OfficeDev/office-js-snippets/blob/main/samples/word/99-preview-apis/content-control-ondeleted-event.yaml). Can you give it a try?

Thanks.

[2022-03-30 21:41] DansGithubAccount22 opened #2507 "This add-in could not be started. Some users see this after switching to Edge WebView2"
Summary
Task Pane Office Add-in doesn't load after enabling Edge WebView2 for some users.  The problem is intermittent.

Details
Recently we tried enabling Edge WebView2 by updating the registry setting specified here
 https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

Once enabled, some not all, can no longer get the add-in to load and see :

This ad

[2022-03-30 22:23] chengtie commented on #2463
You are right, IE is the issue, thank you all for the investigation.

[2022-03-30 22:51] Dengshan2018 commented on #2507
@DansGithubAccount22 the issue repro only specific Add-in or for all add-ins?

[2022-03-31 00:23] mihitha commented on #1550
Same thing happened to me and found the issue was that the server which hosted manifest file only supports TLS 1.3. I managed to enable TLS 1.2 in the server and the problem went away. Hope this will help someone.

[2022-03-31 02:18] MiaofeiWang commented on #2497
Hi @ExcelOffTheGrid , "Automatic" is the option shown when you open the formating pane.
![image](https://user-images.githubusercontent.com/28795134/160962586-99817125-dad7-4907-87d6-d7429366ad0f.png)
The actual color for "Automatic" changes if the theme or theme color changes. But somehow you are right that seems the concept is confusing with the "Automatic" in color pane.

<img width="684" alt="i

[2022-03-31 02:26] grangeryy commented on #2467
@DesertFoxNV thank you for reporting the issue. We'll have an investigation and circle back soon:)

[2022-03-31 02:53] grangeryy commented on #2501
@theboyknowsclass thank you for reporting the issue. We'll take a look at this and circle back soon.

[2022-03-31 03:01] grangeryy commented on #2340
@yihuax could you help to take a look at this one, and any suggestion here? Thank you!

[2022-03-31 03:37] yihuax-msft commented on #2340
What are the corresponding UI behaviors in Word Desktop and Word Online? If the UIs behave differently, then, that will be the cause of the different behaviors of our API.

[2022-03-31 06:07] exextoc commented on #2490
@hiddenkirby Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2022-03-31 07:58] ExcelOffTheGrid commented on #2497
OK, I see where that comes from.

In which case then, it gets even more confusing because "Automatic" could be any color, and even varies by chart series.

This illustrates even more why this property should return a Hex code. rather than "Automatic".

[2022-03-31 08:00] ghost commented on #2488
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-31 08:07] RuizhiSunMS commented on #2506
Hello @mburbea
Those supported file types are parts of original design. One of reasons why it's designed like this is to keep consistent with the API online.
The workaround mentioned in #1482 is the one you can take as reference.
Thank you.

[2022-03-31 08:09] clavx opened #2508 "Outlook for Windows: Custom properties are not set for meeting"
# Provide required information needed to triage your issue
Custom property values are not assigned to emails sent after creating a meeting.
This issue occurs in Outlook for Windows and not in Outlook on the web.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Version 2203 (Build 15028.20

[2022-03-31 08:18] MiaofeiWang commented on #2497
@ExcelOffTheGrid We totally got your point.
As this API is still in preview stage, we will discuss whether changing the design to always returning a hex code. If so, I am afraid this API won't be able to go to public in next 2 or 3 months.
Thanks for your suggestion!

[2022-03-31 09:34] gs-achandrakamal commented on #2502
Hi @exextoc ,

On Office.EventType.RecipientsChanged event, we call our getRecipientsFull method to get current to,cc and bcc recipients.

`getRecipientsFull() {
                return new Promise((success, reject) => {
                    let records = [];
                    item.to.getAsync((toResult) => {
                        if (toResult.status === Office.AsyncResultStatus.Succeeded) {

[2022-03-31 09:40] gs-achandrakamal commented on #2502
Also, as mentioned before, this whole flow is working fine for those users from older Outlook as well as from the web.

[2022-03-31 11:23] guliums commented on #2505
@jde-chil Thanks very much for reporting the issue. The issue has been confirmed and tracked as ADO#5938043 in our backlog.

[2022-03-31 11:33] Ramesh8264 opened #2509 "Outlook: Office.context.mailbox.item.to and Office.context.mailbox.item.cc returns only 20 email addresses"
# Provide required information needed to triage your issue
In TO && CC fields max 20 email addresses are getting but the mail contains 200+ receipents

## Your Environment

* Platform [PC desktop, Windows Office on the web]: ______
* Host [Outlook]: Outlook
* Office version number: 1.1
* Operating System: Windows 10
* Browser (if using Office on the web): Chrome
## Expected behavior

## Current be

[2022-03-31 11:40] exextoc commented on #2509
This is as per the platform behavior. For more details, please refer to https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-1.1#properties

If you need this property change and wish to file a feature request, please use the below link: https://aka.ms/M365dev-suggestions

[2022-03-31 12:02] jde-chil commented on #2505
Thanks a lot

[2022-03-31 12:13] DansGithubAccount22 commented on #2507
We have a Microsoft Dynamics add-in and I get the same issue

![image](https://user-images.githubusercontent.com/102698422/161052124-0656f1f3-a975-4ff0-9466-9c56bd3641ae.png)

[2022-03-31 12:36] exextoc commented on #2502
Thanks, @gs-achandrakamal for the details. We are still unable to repro the issue at our end.
Are you able to repro the issue consistently in Outlook MAC?

It will be better if you could create a test tenant with the same configuration and share the details to "OutlookAddins@M365x693897.onmicrosoft.com" so that we can debug it better or please share a small video/gif describing the issue.

[2022-03-31 14:00] ghost commented on #2382
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-03-31 14:15] DansGithubAccount22 commented on #2507
I want to also add that we have seen a similar issue to this reported before
https://github.com/OfficeDev/office-js/issues/1620

We have tried these steps but it does not fix the issue for us.  The issue comes back

Remove this folder:
%userprofile%\AppData\Local\Packages\Microsoft.Win32WebViewHost_cw5n1h2txyewy\

Execute the following Powershell:
Get-AppxPackage "Microsoft.Win32WebViewHost" | for

[2022-03-31 15:45] maartendebal commented on #1442
Save locally, any other updates are done through a separate api / ms graph. In our use case it's actually an empty meeting that we are saving. This empty meeting is discarded in the graph afterwards by our api. On the desktop app there is no issue. It only exists on OWA.

[2022-03-31 16:10] milankonir commented on #1437
I was just about to report this only to find out this has already been around for.... 18 months 👎

I spent a little bit more time on this and found out that adding the handler to the new item will only work after you remove it from the previous one. This can get a little bit tricky since when the `ItemChange` event fires, the office API does not provide any reference to the original one, you have

[2022-03-31 16:38] AbidRahman-MSFT commented on #2504
Hey @gopinathshiva -

Thanks for the question. Currently this is not possible. In order to use the `Office.addin.showAsTaskpane()` and `Office.addin.hide()` methods, your add-in must use Shared Runtime. As noted in our [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime#multiple-task-panes), Shared Runtime only supports the use

[2022-03-31 17:05] guzman-rc commented on #2382
The issues have not yet been resolved.
Please, can you re-open the issue?

[2022-04-01 02:24] puripats commented on #2462
Good to hear that guys. Thanks.

[2022-04-01 02:24] #2462 closed, assigned to AbidRahman-MSFT

[2022-04-01 07:01] MahammedAslam commented on #2449
We could refer sample ([Ms Graph React](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-Microsoft-Graph-React)) for implementing Outlook Add-in MSAL React. Do we've any sample for **SSO** implementation under **Outlook Add-in with MSAL React**

[2022-04-01 09:00] ghost commented on #2492
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-01 09:00] ghost commented on #2349
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-01 13:19] moeBabazadeh opened #2510 "Call Office.onReady in the presentation view of Office Online raise Uncaught Exception"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Using Visual Studio 2022 I created a new content add-in, but when I side-loaded it into the presentation view of a PowerPoin

[2022-04-01 13:48] pietrofxq opened #2511 "RGBA stopped working when inserting html on outlook desktop?"
# Provide required information needed to triage your issue

We are developing an add-in that inserts custom HTML in the email body with custom formatted links. This seemed to work fine this week until yesterday, where the HTML got completely broken. Upon further debugging, I found out some CSS properties are not working anymore in outlook desktop (windows and mac)

## Your Environment

* Platform

[2022-04-01 13:51] moeBabazadeh opened #2512 "GeneralException thrown when context.sync() is executed in the presentation mode of online PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
I'm trying to implement some functionalities using Tags in my add-in. It works fine in the desktop version of PowerPoint (bo

[2022-04-01 17:24] exextoc commented on #2449
Here is a SSO Sample Outlook add-in: https://docs.microsoft.com/en-us/samples/officedev/pnp-officeaddins/outlook-add-in-sso-aspnet/

[2022-04-01 18:00] ghost commented on #2312
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-01 23:10] nkkinariwala commented on #2512
@LuyiH - Is it something you can help with?

[2022-04-01 23:18] nkkinariwala commented on #2507
@millerds , @mattgeim  - Is it something you can help with?

[2022-04-01 23:21] millerds commented on #2507
This doesn't look like a tooling issue . . . it looks like an issue with the framework and/or webview2

[2022-04-03 17:35] Dengshan2018 commented on #2507
@DansGithubAccount22 could you follow steps to check if Webview2 is used.
![image](https://user-images.githubusercontent.com/45212981/161440470-725081a5-6190-4851-84c8-b9d802251dde.png)

[2022-04-03 21:02] aafvstam commented on #2503
The repo I provided to test failing of the onDeleted (and the onSelectionChanged) events shows that it is not working, but I will have a look at my Live Stream this Thursday and chime back.

[2022-04-04 04:40] exextoc commented on #2511
We can reproduce this issue and we are looking into this.

[2022-04-04 07:15] Raja315 opened #2513 "copy to clipboard not working in Excel web"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I was trying to copy data to clipboard as part of custom tab ribbon commands in Excel using copy-to-clipboard(https://github.com/sudodoki/copy-to-clipboard). This npm package internal

[2022-04-04 09:32] gopinathshiva commented on #2500
@nkkinariwala Any updates on this ?

[2022-04-04 11:00] ghost commented on #2492
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-04 11:00] #2492 closed, assigned to exextoc

[2022-04-04 11:00] ghost commented on #2349
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-04 11:00] #2349 closed, assigned to SiruiSun-MSFT

[2022-04-04 14:38] gs-achandrakamal commented on #2502
I have shared the test tenant details along with a small video to show the entry points for debugging the  issues to the above link. Please let me know, if anything else is needed.
Also, it is suspected that item.from.getAsync is also returning null email address while getting sender information.

[2022-04-04 20:00] ghost commented on #2312
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-04 20:00] #2312 closed, assigned to ElizabethSamuel-MSFT, exextoc

[2022-04-05 06:00] ghost commented on #2506
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-05 13:53] danielpdev opened #2514 "ensureUnchanged should lock the object state like `Right click ->lock functionality` of PowerPoint?(preview APIs)"
I tried to do the following:
[code]

But the shape that was selected does not get locked, I haven't found any documentation on `ensureUnchanged`, but I've see it is an a lot of objects available.

How ca I use it properly?

Thanks

[2022-04-05 14:02] anotherstarburst commented on #1922
Just commenting to show life in this issue. It still persists, and is causing difficulty.

[2022-04-05 14:45] danielpdev opened #2516 "Update PowerPoint slide with controls built on server"
Hi,

I have an issue when trying to update a PowerPoint slide, more exactly I want to build on the server the controls that are not available on the frontend version of PowerPoint and then insert them into the slide.

Is there any way of doing this without inserting a new slide which is base64 encoded?

Thank you

[2022-04-05 14:57] danielpdev opened #2517 "slide.setSelectedShapes throws GeneralException (Preview APIs)"
I tried the following:
[code]

Unfortunately when I call `setSelectedShapes` it throws a GeneralException error:
[code]

Do you know what can cause this issue?
Office js version: https://appsforoffice.microsoft.com/lib/beta/hosted/office.debug.js

[2022-04-05 19:31] hiddenkirby commented on #2490
Thank you.  This is a big deal for our Mac users.

[2022-04-05 20:00] Rick-Kirkham commented on #2514
I suspect that the reason we don't document that method is that it isn't supported for external add-in developers. I have assigned this to LuyiH and I will investigate internally as well.

[2022-04-05 20:15] Rick-Kirkham commented on #2516
@danielpdev Thanks for your interest in Office Add-ins. The issues in this repo are for tracking possible bugs in the Office JavaScript library. Programming questions like this one should be made on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/). Be sure to tag the question `office-addins-dev`.

[2022-04-05 20:15] #2516 closed, assigned to nobody

[2022-04-05 20:51] wandyezj commented on #2514
Hello @danielpdev

How did you discover `ensureUnchanged`?

[2022-04-05 21:05] Rick-Kirkham commented on #2514
@danielpdev I have confirmed that `ensureUnchanged` is for internal use only and is not supported for external add-ins. I'll close this issue; but we'd still like to know how you discovered `enureUnchanged`.

[2022-04-05 21:05] #2514 closed, assigned to LuyiH

[2022-04-05 22:38] yihuax-msft commented on #2411
We don't have the way to meet your need by changing our API with a new optional parameter. I have proposed to our team and they will consider it. I am not sure what our team will do, though....

At this moment, the workaround is still inserting an extra line at the end. Thanks.

[2022-04-05 22:57] Feetterer20 commented on #2507
@Dengshan2018 Hello, I am on @DansGithubAccount22's scrum team and I will continue to follow up on this issue this week while he is out on PTO.

Following the steps you've provided, I was able to see the following:

- Here is what I found when looking up the webview2 runtime that is installed on our work machines:
![webview2 runtime confirmation](https://user-images.githubusercontent.com/98554587/

[2022-04-06 00:00] ghost commented on #2509
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-06 00:23] joshuawwright commented on #2467
Thanks! I was have a second developer who confirmed the behavior.

[2022-04-06 00:25] Dengshan2018 commented on #2507
@Feetterer20 , so you can insert custom add-in which is using Webview2. On that machine, do you see the failure of inserting "Microsoft Dynamics"? if failed, could you share the network trace through fidler tool?

[2022-04-06 00:25] exextoc commented on #2511
Looking a bit further into this, this problem seems to repro on older versions of Desktop Clients (At least back to Outlook 2016, and older versions of Mac Desktop Client). It may be something that Word does not support, though we will have to verify. (To clarify Word is used as the HTML renderer in Desktop Versions of Outlook)

You mentioned that it was working in older versions of Outlook, do yo

[2022-04-06 00:43] exextoc commented on #2417
Can confirm this was casued by top level domains containing more than 6 characters. This has been fixed in builds later than:
16.0.15112.10000. (this will not be the exact number of the monthly builds, but any monthly build after it will have the fix)

[2022-04-06 00:43] #2417 closed, assigned to exextoc

[2022-04-06 01:00] exextoc commented on #1437
This bug was fixed recently. It will be fixed in builds 16.0.15028.***** and later.

[2022-04-06 01:00] #1437 closed, assigned to exextoc

[2022-04-06 05:45] grangeryy commented on #2467
@DesertFoxNV,

- it this issue stably reproduced for you?
- For another developer who saw the same behavior, does him/her using the same environment?

THX!

[2022-04-06 06:51] JinghuiMS commented on #2513
@Rick-Kirkham  This's not an excel api issue, it may be addin runtime issue on excel online. Please reassign it to correct team to better handle it. Thanks!

[2022-04-06 07:41] exextoc commented on #2492
@JesseHeisenberg Can you please share your code-snippets used for performance testing? We would like to use same scripts so that we can repro this performance problem inhouse. Thanks.

[2022-04-06 08:50] danielpdev commented on #2514
I'm struggling to find ways of making the development of the PowerPoint add-in a bit easy and while searching for what functions and capabilities are exposed on the preview API I found that `ensureUnchanged` was present on the kind of item that I need, which is a `Shape` and the usecase that I was testing was to lock the object for further changes.

Do you know if there is some other ways of doing

[2022-04-06 08:58] danielpdev commented on #2516
Thank you @Rick-Kirkham, I just asked on the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/).

[2022-04-06 09:02] RuizhiSunMS commented on #2459
Hello @szilardd , thanks for reporting this issue. We have put this into our back log and will track it as an ADO item.
The update will be committed here as soon as it is fixed while we don't have an explicit timeline now.

[2022-04-06 09:08] #2463 closed, assigned to guliums

[2022-04-06 10:07] exextoc commented on #2439
@GrumpyAL We fixed this issue for iOS. Fix will be available in build 4.2214 onwards.

Note: macOS fix is still work in progress. We will provide update on this later. Thanks for your patience.

[2022-04-06 10:12] danielpdev opened #2518 "Office.addin.beforeDocumentCloseNotification.*() throws GeneralException (JS - Preview APIs)"
Hi,

I have an issue when trying to call:
[code]

it throws:
[code]

[2022-04-06 11:43] atomroflman commented on #1491
Any updates on this?

[2022-04-06 13:36] Manuri commented on #2478
@exextoc Apologies for the delayed response and thanks for the feedback!

I read a bit about custom properties and I think we can make use of it to fix our issue.
However, I do have some questions about custom properties.

**1.** I was able to successfully set custom properties in the add-in following [this](https://docs.microsoft.com/en-us/javascript/api/outlook/office.customproperties?view=outlo

[2022-04-06 13:47] graysenpack commented on #2424
Sent in again but this time I got a screenshot of the submission info. Happened after a Word update.

<img width="552" alt="Screen Shot 2022-04-04 at 12 06 31 PM" src="https://user-images.githubusercontent.com/8918924/161989422-f5465996-8e36-4e4f-a395-4be17cb45f0f.png">

[2022-04-06 14:17] Chris2011 commented on #433
I'm using office-js via npm:
[code]

I have the exact same problem. My use case is to call the `makeEwsRequestAsync` function while listening on the ItemSent event. So no network request, it seems not doing anything. And what does it mean "deprecating the add-in bar"? I thought it is state of the art to create addins like that. I use Windows, Chrome Outlook 365. My use case is that I need the item

[2022-04-06 18:26] Dengshan2018 commented on #2094
And the fix is ported back to 16.0.14931.20256 as well.

[2022-04-06 18:50] exextoc commented on #2478
1) That should be fine for Custom Properties. They are named props that are stored under PS_PUBLIC_STRINGS.

When you save custom properties via the JS API, it creates a JSON dictionary that is eventually saved to an Outlook MAPI property on that item.  with the name "cecp-[ADDIN-ID]".

Then when the add-in is opened again, on Load, we read that JSON string from the property and expose it to the a

[2022-04-06 19:29] Feetterer20 commented on #2507
@Dengshan2018 I was able to add our custom add-in in this case. Unfortunately our issue is that 10% of our users who have had the registry change to use Edge WebView2 are experiencing the issue with our custom task pane add-in no longer loading, and the issues seem to be intermittent.

- When trying to add the "Microsoft Dynamics" add-in to an excel file, I do run into this issue:
![Microsoft Dyna

[2022-04-06 19:39] wandyezj commented on #2514
@danielpdev

What specific difficulties have you encountered developing PowerPoint Add-Ins?

Where did you search for PowerPoint functions and capabilities? I tend to look for methods on the [Official Office-JS PowerPoint API reference](https://docs.microsoft.com/en-us/javascript/api/powerpoint?view=powerpoint-js-preview)

Would you be able to explain your end to end scenario? I'd like to understa

[2022-04-06 19:51] danielpdev commented on #2514
Hi,

It is kind of easy as a feature, but I find it really hard to implement as for lot of the APIs are not available or I’m not able to find relevant APIs usage.

One more thing is to catch the event when the user closes the PowerPoint(not the addin) and handle this situation with saving the state of the document.

Some of the APIs needed for this are in VBA already, but not in JS version.

Maybe

[2022-04-06 20:41] Rick-Kirkham commented on #2518
@jeremy-msft  Can find someone who can investigate and help this customer?

[2022-04-06 22:00] wandyezj commented on #2514
Thank you @danielpdev that is quite helpful.

Unfortunately, it's not possible today to contribute code to the office-js API library.

However, you can contribute by:
-  Telling us more about your scenario and pointing out the specific APIs you need and why, especially if you can point to the equivalent VBA APIs, since this helps us prioritize what APIs to implement.
- Pointing out any issues you

[2022-04-07 00:40] samarthbharti217 opened #2519 "Unable to install generator-office"
# Provide required information needed to triage your issue

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Operating System: Windows

## Expected behavior
Package should install successfully

## Current behavior
Package install fails due to peer dependency. Error as below:
npm ERR! 404 'cmd-shim@^5.0.0' is not in the npm registry.
npm ERR! 404 You should bug the aut

[2022-04-07 00:55] Rick-Kirkham commented on #2517
I'm not familiar with the syntax of this line:

[code]

Could you explain it?

[2022-04-07 04:13] stenly311 commented on #1157
I ran into a very similar issue a couple of days back and I can confirm that still happening.

The only detail I found to be crucial for being able to replicate this issue is to bulk-paste data into the cell which then makes the table exceed the current number of rows.

<img width="840" alt="conditional formatting rules - appendix to issue" src="https://user-images.githubusercontent.com/8539921/16

[2022-04-07 09:59] exextoc commented on #2502
Thanks @gs-achandrakamal . We have received details. We will get back to once we go through details and try to repro inhouse.

[2022-04-07 10:21] Manuri commented on #2478
@exextoc Thanks for the answers.

PS_PUBLIC_STRINGS: This does not mean that the properties are visible to the "public" (i.e. can be accessed without authorization), right?

[2022-04-07 14:03] danielpdev commented on #2517
I'm saying: from the first slide, select the first shape.
It is just a way of how to reproduce the error, not a good to use approach

[2022-04-07 14:05] danielpdev commented on #2514
Ok thing that we need for sure and could not find any solution for it is how to handle when the user closes the powerpoint document (not the addin).

Do you think it can be easy implemented in the office-js?

If I need this feature, where do I make the request for it?
Most importantly, how much time it takes for a feature to be released? Preview version is super ok

[2022-04-07 14:27] 1842014 commented on #2329
Currently working on an add-in that needs this implementation of OnMessageAttachmentsChanged. Still only works for the first file uploaded.

[2022-04-07 15:36] exextoc commented on #2478
The outlook add-in API limits access to Custom Properties to ONLY the Add-in that creates them. However, since they are stored on the item, that means that if someone has access to the item, they can potentially access those properties via EWS, Extended MAPI,  Graph or REST. They should not be used to store sensitive information such as user credentials or security tokens.

[2022-04-07 15:40] AlexJerabek commented on #1157
Hi @stenly311,

Thanks you the details. I'll reopen this issue. @guliums, could you please take a look?

[2022-04-07 15:50] onestep commented on #2151
I experience the same issue in read mode now. Body is returned with line breaks in Exchange 2019 OWA, and without line breaks in Office 365 OWA. This only happens with emails in HTML format, emails in text format are returned as expected.

![example HTML body](https://user-images.githubusercontent.com/1419318/162242347-4474c5bb-fdc7-41d2-b396-2886b20af1b4.png)
![value from console debugger](https:

[2022-04-07 15:50] Rick-Kirkham commented on #2513
@slabereemsft Can you help find the right person to look into this issue?

[2022-04-07 16:50] slabereemsft commented on #2513
Abid - Is the WAC suppressing something here that's affecting copy?

[2022-04-07 17:23] joshuawwright commented on #2467
@grangeryy

Yes

We both use the latest Ubuntu LTS and use Google Chrome.

[2022-04-07 17:36] stsoib opened #2520 "Excel context.application.cultureInfo.datetimeFormat.shortDatePattern does not provide usable pattern string"
# Provide required information needed to triage your issue
On Excel Online, when File -> Options -> Regional Format Settings is set to French (France), system short date format on `cultureInfo.datetimeFormat.shortDatePattern` is `jj/mm/aaaa`, i.e. notations for date, month and year are localized to French ("jour", "mois", and "an"). In contrast, long date format is `dddd d MMMM yyyy`, which follow

[2022-04-07 19:39] Dengshan2018 commented on #2507
@Feetterer20 I added you to my private repository. you can share the information there.

[2022-04-07 22:38] stenly311 commented on #1157
No worries. Thanks guys for taking a second look at this.

However, this may actually be an issue caused by Excel itself as demonstrated in the video.
Moreover, I am able to run into the same faulty behaviour by populating new rows into the worksheet table from the code in Web Add-in app (Task pane).

Any help on codebases of how to force the worksheet to re-calculate conditional formatting is app

[2022-04-07 22:58] AlexJerabek commented on #1157
If you're able to recreate the issue in Excel alone, I'd recommend using Excel's "Send Feedback" mechanism. That'll capture some product data and route it to the right people.

[2022-04-08 00:24] stenly311 commented on #1157
I will do. Thanks.
However, I still do think that there must be an issue in Office.js lib because of the inconsistency of how the button in Excel ribbon works compering to the function called by using Office.js (I am assuming that the same logic should be invoked).
Clicking on "Calculate Sheet" button in the ribbon fixes the conditional formatting issue.

`
let sheet = context.workbook.worksheets.

[2022-04-08 01:14] guliums commented on #2518
Hi @danielpdev , thanks for reporting the issue! From your error message, you are using this API on PowerPoint. Unfortunately currently this API is only supported for Excel app. If you need this API on PowerPoint, you might go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) to request a new feature. Thanks.

[2022-04-08 02:05] grangeryy commented on #2467
@mattgeim , is it something you can help with?

[2022-04-08 06:40] exextoc commented on #2502
@gs-achandrakamal We are still not able to repro this inhouse by following steps suggested in the video. Can you please share  a diagnostics ID when the issue is reproducible in "New Outlook Mac"?

[2022-04-08 08:00] ghost commented on #2506
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-08 08:00] #2506 closed, assigned to guliums

[2022-04-08 10:59] romanmensch commented on #1759
We have the same in our Office. One Person with this exactly same Error on the Screenshot . After all, it's been a long time. Are there any updates on this case
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/92531519/162425319-f4ba3af9-ac56-4138-892e-a49e6a6fa2fb.png)
?

[2022-04-08 12:30] aafvstam commented on #2503
@ElizabethSamuel-MSFT @davidchesnut The Script Lab sample is interesting as it shows (was not in the Docs documentation at the time I posted the issue) that it:

Stores the contexts in a 'global' variable:
let eventContexts = [];
**eventContexts[i] =** contentControls.items[i].onDeleted.add(contentControlDeleted);

And has to track the item
**contentControls.items[i].track();**

I guess the first

[2022-04-08 12:39] danielpdev commented on #2517
It will be great for us to have it working.

Do you think it can be fixed?

[2022-04-08 17:44] ElizabethSamuel-MSFT commented on #2503
@aafvstam Thanks for taking the time to try it and give your feedback. These APIs are still in preview so your feedback can help us make improvements. We'll share this with the product team so they can investigate the possible bugs you've reported.

Thanks.

[2022-04-08 18:19] igor-ribeiiro commented on #2467
I didn't try on Linux, but I can confirm the icons are showing correctly in a Windows machine

[2022-04-08 19:27] joshuawwright commented on #2467
@igor-ribeiiro @grangeryy I was able to get the icons working on localhost. I uninstalled google chrome and all config files and was able to get it to work.

Thanks for looking into this. I should have tried uninstalling chrome first XD.

[2022-04-08 19:27] #2467 closed, assigned to millerds, igor-ribeiiro

[2022-04-08 20:00] Rick-Kirkham commented on #2519
@samarthbharti217 I'm closing this as a duplicate of [office-generator 699](https://github.com/OfficeDev/generator-office/issues/699). As @millerds suggested in that issue, you need to raise an issue with the [yeoman generator](https://yeoman.io/learning/support.html).

[2022-04-08 20:00] #2519 closed, assigned to nobody

[2022-04-08 20:10] Rick-Kirkham commented on #2517
I cannot reproduce your error. Your code does not error for me. Also, I still don't understand the syntax of that line. I don't think it's valid JavaScript. Please try to reproduce your error in Script Lab and then export your snippet as a gist that we can use to try to reproduce. Also, please use correct JavaScript.

[2022-04-08 22:08] Feetterer20 commented on #2507
@Dengshan2018 Thank you for adding me to your private repo. I've gone ahead and uploaded a document with a screenshot of the Fiddler activity that occurred when attempting to load in the "Microsoft Dynamics" add-in and having it fail with the same message as is displayed in my previous comment.

Overall, there isn't much Fiddler activity at all when this happens. When things do load correctly, the

[2022-04-09 02:00] ghost commented on #2509
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-09 02:00] #2509 closed, assigned to Ramesh8264

[2022-04-09 21:21] NinaM31 opened #2554 "Inconsistent requirement set 1.8 for Outlook method: getAllInternetHeadersAsync:"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Article URL

https://docs.microsoft.com/en-us/javascript/api/requirement-sets/outlook/requirement-set-1.8/outlook-requirement-set-1.8?view=common-js-preview
## Issue

According to

[2022-04-10 17:25] FreeSoftwareServers opened #2521 "Can't Load Two Tabs in Add-In - Excel"
# Provide required information needed to triage your issue
I'm trying to use 2 Custom Tabs in my add-in but it won't work.
https://stackoverflow.com/questions/71701547/two-custom-ribbon-tabs-in-same-office-add-in-excel-javascript

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2021 and O36

[2022-04-11 00:56] aluke1 commented on #1029
I am also having this issue.

This exact problem occurs for excel on mac, Version 16.59.

The addin command opens the taskpane to display the login HTML.

I am opening the taskpane via the ExecuteFunction using code in the functionfile.

When I first load the AddIn it takes two clicks to get the taskpane to open.

[2022-04-11 03:49] sachin161194 opened #2522 "Enable Property not working with Context Menu Control in Excel Web/Desktop"
# Enable Property not working with Context Menu Control in Excel Web/Desktop
I am using Shared runtime environment for my Excel Addin + Custom Functions Application.For Enabling and Disabling Excel Ribbon commands and Context Menu option ,I followed the Documentation
https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands.

Sample added below :-

![image](https://user-im

[2022-04-11 03:56] sachin161194 commented on #2522
Apart from above issue, I am also having one query.
Currently we are using multiple taskpane Addin Action (showTaskpane) with different SourceLocation.

As we can open and close the Taskpane Addin through Api as well
![image](https://user-images.githubusercontent.com/92863921/162662513-819570ec-0dac-402c-844c-c41e41273928.png)

Is there any way to pass specific source Location here before calling

[2022-04-11 08:30] toni-lyttinen opened #2523 ""One or more add-ins failed to install or load custom functions" on Excel online"
We are developing an add-in for excel which was initiated with the [Yeoman generator](https://github.com/OfficeDev/generator-office). Our add-in uses custom functions that are written in the cells and we form and batch requests from the cells that are sent to a separate API which returns the calculated values and writes them to the cells. We are using the typescript version of the add-in.

The add

[2022-04-11 09:10] ksobolewskiVL opened #2524 "Outlook Add-in SSO example for Microsoft Graph"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

I’m working with example generated by yo generator-office for SSO in Outlook Add-in, I have some questions regarding it and

[2022-04-11 10:48] toni-lyttinen opened #2525 "Occasional #VALUE! -error in custom function resolve"
We are developing an add-in that uses custom functions. The custom function calls are batched and sent as a request to an API which returns the calculated values which we use to resolve the calls in order to write values to the cells. We noticed that if we use several custom function calls in one cell we receive occasional #VALUE! -errors. I investigated this further and noticed that even though w

[2022-04-11 14:48] bojanClarivate opened #2527 "Different return value of compareLocationWith()"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Article URL

https://docs.microsoft.com/en-us/javascript/api/word/word.range?view=word-js-preview#word-word-range-comparelocationwith-member(1)
## Issue

 I am using compareLocatio

[2022-04-11 16:10] savepong opened #2526 "When is the Shape.lineFormat(), Shape.height() and Shape.width() will be available for PowerPoint API on production?"
## Hi There,

Currently, we are using the PowerPoint API Version 1.3 in our Add-in but it does not support getting the selected shape, getting shape location, and getting sizing, so we cannot implement a placeholder located and correct size as a user's selection

We saw those functions are available in the [API List of PowerPoint JavaScript APIs Preview](https://docs.microsoft.com/en-us/javascript

[2022-04-11 16:54] AlexJerabek commented on #2527
Hi @bojanClarivate,

The discrepancy between the web and desktop versions seems unintentional. I'm going to transfer this issue to the product repo so members of the product team can take a look.

Also tagging @ElizabethSamuel-MSFT for awareness.

[2022-04-11 17:06] AlexJerabek commented on #2554
Thanks for reporting this @NinaM31.

@samantharamon, could you please investigate?

[2022-04-11 17:27] samantharamon commented on #2554
Hi @NinaM31,

Thank you for letting us know. I'm sorry to hear it took some further troubleshooting to figure out the issue. We'll definitely look into this, so that we can update our docs accordingly.

[2022-04-11 22:41] #2511 closed, assigned to exextoc

[2022-04-12 00:19] exextoc commented on #2508
Just to update here, we're following up on this, and will get back to you with an update soon.

[2022-04-12 03:00] ghost commented on #2518
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-12 05:40] gs-achandrakamal commented on #2502
Hi @exextoc
We are checking with the users facing this and added more logs for item.from.getAsync part, in case 'null' emailAddress is received. I'll update in sometime.

[2022-04-12 06:16] Raja315 commented on #2513
@AbidRahman-MSFT , I had a chat with Abid and he informed he will update the issue

[2022-04-12 07:12] danielpdev commented on #2517
What versions of the office-js library are you using ?
I still get the same error.
I used:
[code]

and `Office.context.diagnostics`:
[code]

[2022-04-12 07:51] AkhileshShah-MS commented on #2067
Closing this issue due to no updates for long time

[2022-04-12 07:51] #2067 closed, assigned to AkhileshShah-MS

[2022-04-12 07:53] AkhileshShah-MS commented on #2039
Thats correct. Add-ins are available only for users having exchange online mailbox.

[2022-04-12 07:53] #2039 closed, assigned to AkhileshShah-MS

[2022-04-12 07:58] djaeger-inercomp commented on #2174
Do you have an update on this issue?

[2022-04-12 08:10] AkhileshShah-MS commented on #2275
@RuoyingLiang I recall this issue was fixed months back by your team. Can you please look into why its happening again

[2022-04-12 08:26] suryakiranchikkala opened #2627 "Register the online-meeting template for Moxo"
Can you register the online-meeting template for our Moxo Service

 '<br>' +
 	'Test User is inviting you to a scheduled Moxo meeting.' +
 	'<br><br>' +
 	'Join Moxo Meeting:'+
 	'<br>' +
	'<a href="https://moxo.moxo.com/428427995" target="_blank">https://moxo.moxo.com/428427995</a>' +
	'<br><br>' +
    'Meeting ID: 428427995' +
	'<br><br>' +
	'Passcode: 234w2323' +
	'<br><br>';

---
#### Document

[2022-04-12 09:25] yuc014 commented on #2520
`cultureInfo.datetimeFormat.shortDatePattern` return `jj/mm/aaaa` in French (France) region is align with UI.

![image](https://user-images.githubusercontent.com/87364252/162921133-de6f22e8-f3cf-4c6e-8db9-2b537605ccaa.png)
(Select one cell, right click, select Number Format->custom)

For the long date format, this is another separate issue, will tracked by bug 5966425.
![image](https://user-images

[2022-04-12 11:26] theboyknowsclass commented on #2526
Hi, we would also like to follow this.

[2022-04-12 11:28] theboyknowsclass commented on #2517
is there a setSelectedShapes for powerpoint Slide object?  i can't see it here ->
https://docs.microsoft.com/en-us/javascript/api/powerpoint/powerpoint.slide?view=powerpoint-js-preview

[2022-04-12 11:35] theboyknowsclass opened #2528 "Powerpoint Preview API - Shapes containing images are not resized properly"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Hi, i'm using the Powerpoint Preview API and using the shapes.top/left/width/height to set the position and size of an image that has already been inserted.

However the re-render doe

[2022-04-12 11:40] theboyknowsclass commented on #2528
(not this does not happen on powerpoint desktop)

[2022-04-12 14:13] stsoib commented on #2520
The workaround would not work for us. We need to know user's short date pattern without changing anything in the worksheet.

[2022-04-12 15:17] ElizabethSamuel-MSFT commented on #2627
@suryakiranchikkala Thanks for your request. We'll have the product team take a look.

Thanks.

[2022-04-12 16:19] ElizabethSamuel-MSFT commented on #2529
Transferring to product repo for resolution

[2022-04-12 17:10] RBILLC commented on #998
@JuaneloJuanelo, I believe I am experiencing the same error when calling body.getOoxml() in a Word document that contains a Shape grouped with a Picture. If I ungroup the 2 features than the API function runs successfully. **Is there any update on bug 4158702?**

**Version:**
Microsoft® Word for Microsoft 365 MSO (Version 2203 Build 16.0.15028.20152) 32-bit

Using the following code:

[2022-04-12 19:53] leewisestamp commented on #2098
We have a customer experience the same issue. Bump.

[2022-04-12 20:12] moeBabazadeh commented on #2512
Our add-in will be launched soon, so we need to be able to make use of this functionality. Is there anything you can suggest?

[2022-04-13 02:10] ononder commented on #2445
Logged internal bug 5969153

[2022-04-13 06:04] gingerjia commented on #2521
@FreeSoftwareServers, thanks very much for reporting the issue! After confirmed with feature owner, current behavior is by design that we didn't support two custom tabs for one add-in. Not sure whether multiple groups under one tab can meet your requirements or not. And another option is considering contextual tabs.
[Create custom contextual tabs in Office Add-ins - Office Add-ins | Microsoft Docs

[2022-04-13 06:27] guliums commented on #2443
According to @AkhileshShah-MS it is auth issue on client side. @preethikakiru could you help triage? Thanks!

[2022-04-13 06:50] ksobolewskiVL opened #2530 "Two different isInline statuses for messages shared from Microsoft Teams"
# Provide required information needed to triage your issue

Office.context.mailbox.item.attachments returns different isInline information for opened Outlook Add-in from email and switched Outlook Add-in which is pinned

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: -
* Operating System

[2022-04-13 06:55] danielpdev commented on #2528
+1

[2022-04-13 06:56] danielpdev commented on #2517
it is not on the docs, but it is loaded by: https://appsforoffice.microsoft.com/lib/beta/hosted/office.debug.js

[2022-04-13 06:58] danielpdev commented on #2517
![image](https://user-images.githubusercontent.com/3756051/163118296-ec980d8d-b81f-489c-bf3a-3a131c11517f.png)
Loded by:  https://appsforoffice.microsoft.com/lib/beta/hosted/office.debug.js -> which loads -> https://appsforoffice.microsoft.com/lib/beta/hosted/powerpoint-win32-16.01.debug.js

Unfortunately it does not work for me, does it work for someone? If it does, what PowerPoint version are yo

[2022-04-13 07:07] MingHsuan0313 opened #2531 "service worker"
## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office Onl

[2022-04-13 07:07] #2531 closed, assigned to nobody

[2022-04-13 07:09] danielpdev commented on #2517
Today was a good day, undocumented APIs seem to be working 🥇
Tried again some stuff and found out that if you're going to use directly the slide object it just work and does not throw any exceptions.

[2022-04-13 07:18] christian-sap opened #2532 "Excel Online spams the console"
Since some weeks Excel Online spams the console by logging every single HTTP request. See attached screenshot.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Excel Online
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Browser (if using Office on the web): All

## Expected behavior
No console spamming

## Current behavior
Console spamming

## Steps to reproduce
1. Use a

[2022-04-13 07:47] theboyknowsclass commented on #2517
ah great news @danielpdev !  do you know which platforms this is available in?  i'm wondering what else there is left undocumented!

[2022-04-13 09:13] danielpdev commented on #2517
Hi @theboyknowsclass,
I've only checked for PowerPoint, you can try for other platforms by building add-ins for them or change, maybe it will work.
Or you can search the the files related for the platform: https://github.com/OfficeDev/office-js/tree/release/dist

[2022-04-13 12:28] #2517 closed, assigned to LuyiH

[2022-04-13 12:28] danielpdev commented on #2517
I'll close the issue.

[2022-04-13 15:02] keyur32 commented on #2521
Thanks @gingerjia for replying. Am closing this issue as workaround provided.

[2022-04-13 15:02] #2521 closed, assigned to nobody

[2022-04-13 16:25] FreeSoftwareServers commented on #2521
To be clear, the workaround isnt a workaround at all. I WILL need multiple manifests for the same Add In on a per tab basis. But I appreciate the solid answer so I don't waste time trying to debug.

[2022-04-13 17:04] jbrookins13 commented on #1861
@JuaneloJuanelo Any update on this? Working on a critical Outlook add-in, and I'm getting the "We're sorry, we couldn't access [add-in name]. Make sure you have a network connection. If the problem continues, please try again later" once I added `LaunchEvents` to the manifest. Works as expected in web Outlook client.

[2022-04-13 17:10] ElizabethSamuel-MSFT commented on #1861
@jbrookins13 Can you create a new issue with details about your own scenario, configuration, etc.?

Thanks.

[2022-04-13 18:48] cidev5 commented on #2507
Hi, users of our add-in are experiencing a similar issue with the same message starting this Monday, with more users being affected by the day.

In our case the only workaround is to either use the online version of Excel via office.com or to run Excel with Windows 8 compatibility mode turned on (accessible via the Properties of the Excel shortcut and then the Compatibility tab).

I should note th

[2022-04-14 01:28] keyur32 commented on #2523
Assigning to @grangeryy  to help.

Off the top of my head - I would check your cache in your browser to see if you don't have an older instance of the add-in cached somewhere. The error you are getting seems to indicate the function names already exist so the new add-in can't be installed.

[2022-04-14 01:54] keyur32 commented on #2532
Thanks for the report, @christian-sap. I was able to verify (doesn't happen with all add-ins) but I found one that did ;-).

Internal bug logged: 5971922.

[2022-04-14 02:00] keyur32 commented on #2530
Thank you for the report, assigning over to @exextoc to help.

[2022-04-14 02:02] keyur32 commented on #2528
@LuyiH  - can you please take a look?

[2022-04-14 02:04] keyur32 commented on #2526
@LuyiH  - can you please comment?

For folks who want to follow API updates, one great place to stay updated on what's coming is through our community calls, which I'm hoping you're already aware of and you can ignore my commentary :-)

[2022-04-14 02:39] exextoc commented on #2530
I'm currently not able to repro what you are describing.

Running the following code:

[code]

returns

[code]

in both steps 7 and 11.

If you still repro the problem, please provide the detailed Build Version of Outlook that you are on. (i.e. 16.0.XXXXX.YYYYY), and perhaps save off the .msg file that repros the problem and upload it somewhere that we can access it.

[2022-04-14 03:00] Dengshan2018 commented on #2507
Seems there is no useful information in the log.

Could you upload more logs by following the steps from https://docs.microsoft.com/en-us/office365/troubleshoot/diagnostic-logs/collect-office-diagnostic-logs?

[2022-04-14 03:03] Dengshan2018 commented on #2507
@cidev5 if you uninstalled webview2 runtime, add-ins will run on other webviews, Spartan or Trident. If you still see the issue, then the issue should be related with other services.

Would you like to share more logs by
@Dengshan2018 Thank you for adding me to your private repo. I've gone ahead and uploaded a document with a screenshot of the Fiddler activity that occurred when attempting to load

[2022-04-14 03:31] yuc014 commented on #2520
Ok, then I would try to suggest you:

1. Add a new worksheet, get the date format, and delete it. Which is no effect to user, even insensitive.
[code]
2. If do something within user's worksheet is strictly forbidden. Then go to [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions) to request a new feature.

[2022-04-14 06:21] JHJ-MS opened #2533 "Test file (if only happens on a particular file)"

[2022-04-14 06:22] #2533 closed, assigned to nobody

[2022-04-14 06:53] theboyknowsclass commented on #2526
I was on yesterdays, but no timelines In this one…

Sent on the go. Apologies for typos and brevity
________________________________
From: Keyur Patel - MSFT ***@***.***>
Sent: Thursday, April 14, 2022 3:04:45 AM
To: OfficeDev/office-js ***@***.***>
Cc: theboyknowsclass ***@***.***>; Comment ***@***.***>
Subject: Re: [OfficeDev/office-js] When is the Shape.lineFormat(), Shape.height() and Shape.wi

[2022-04-14 07:18] toni-lyttinen commented on #2525
Possibly related:

https://docs.microsoft.com/en-us/answers/questions/718657/consecutive-http-api-call-returns-value-error-in-e.html

[2022-04-14 08:40] toni-lyttinen commented on #2525
We managed to locate the issue. The issue was related to Excel.WorksheetCalculatedEventArgs event. We use Zustand store to define a state variable which indicates the state of the event (Pending, Done etc.). We managed to workaround this issue by changing our condition for the variable handling.

Thank you for investigating.

Closing this ticket due to resolve.

[2022-04-14 08:40] #2525 closed, assigned to JHJ-MS

[2022-04-14 09:47] fjaeger opened #2534 "Outlook API's `appendOnSendAsync` adds referenced image as attachment"
When using `appendOnSendAsync` with some HTML text that includes an `<img />` tag, which references a remote source URL via the `src` parameter, Outlook (at least modern Mac UI) attaches the referenced image to the email and modifies the `<img />` tag to refer to the attached file instead of the remote source.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac modern UI

[2022-04-14 10:36] aigolang commented on #568
Hi @jvaca92 , could you please tell me the details about how do you fix the add-in not visible issue?

[2022-04-14 11:53] toni-lyttinen commented on #2523
Thank you for your response.

I've searched for similar issues reported online and there first ran into proposals where the cache might be the culprit. I've tried the solutions presented there, but so far that has not fixed our issue. I have also tried to associate the custom functions with the metadata as suggested in the Office documentation (see 3rd link).

Link to documentation that I've tried

[2022-04-14 14:57] jlara005 opened #2535 "Outlook add-in: Users keep getting prompts to trust the domain after clicking "Ok" on OWA"
Users keep getting prompts to trust the domain after clicking "Ok" on OWA. This happens whenever they load the add-in.

## Your Environment
Office on the web
https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js
Windows 10 x64 Enterprise
Edge v100.0.1185.29 x64

## Expected behavior
Based on [this ](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/privacy-and-security#end-users-

[2022-04-14 15:14] cidev5 opened #2536 ""This add-in could not be started." message on failing to start our Excel add-in starting this Monday"
Starting this Monday our internal users have been experiencing being unable to use our add-in within Excel desktop application (works in office.com).

It is not just our add-in that we are having issues with but also the Microsoft Dynamics add-in.

If we run Excel in Windows 8 compatibility mode by turning this option on in the Excel shortcut properties -> Compatibility tab, we can use these add-i

[2022-04-14 15:18] keyur32 commented on #2536
Ack. Thank you for the report. Investigating.

[2022-04-14 15:28] keyur32 commented on #2536
Internal Issue #301966282

[2022-04-14 16:44] zlatko-michailov commented on #2536
Hi @cidev5. Thank you for reporting this issue.

In order to repro it, we need a little more information. If this add-in is in the store, please provide its store asset ID or its full name. If it is not in the store, can you describe what Office features it leverages. In this latter case, if you can provide a sample manifest, __STRIPPED OFF OF ANY SENSITIVE INFORMATION__, that reproes it, that wou

[2022-04-14 18:00] cidev5 commented on #2536
The asset ID is WA104381811

[2022-04-14 18:06] JuaneloJuanelo commented on #1861
Hello, I want to provide an update for this issue. Thanks to a close collaboration with a few of you (@barclayadam team specifically) we were able to find the root cause issue [BTW although is affecting a small % of users of this feature, the behavior is unacceptable].  The good news is that the issue is fixed! We are working to roll it out to production, and it will make it into the next "Patch T

[2022-04-14 18:07] JuaneloJuanelo commented on #1861
check out my response!

[2022-04-14 19:38] codexeon commented on #2535
Hello @jlara005, could you confirm more details about your environment to help us diagnose. If you navigate to edge://settings/content/cookies could you look at your "Block third-party cookies" setting. If third-party cookies are blocked, could you allow them and see if you still get multiple prompts. Only one prompt is expected, but storage access could be impacting you.

[2022-04-14 19:59] jlara005 commented on #2535
Hi @codexeon. These are the settings used:
![image](https://user-images.githubusercontent.com/29823126/163466176-320e38da-e2c8-4f2b-8b5f-f0cae9d7a0c1.png) I asked the user to try on Chrome and he only gets one prompt there so it seems it is an issue with edge. Is there a way for the add-in to trust the domain on the tenant/manifest?

[2022-04-14 21:17] cidev5 commented on #2536
Are there any thoughts about what this could be and are there any things we can do ourselves to prevent this from occurring for potentially a lot of our end users?

[2022-04-14 22:11] zlatko-michailov commented on #2536
I tried to repro the issue on 2 different machines, and I couldn't. We'll need you to collect a log and to send it to us. I'll come back with instructions.

[2022-04-15 01:13] keyur32 commented on #2536
Hey @cidev5,

A couple of suggestions:

a) Do you have [support](https://support.microsoft.com/en-us/contactus) that you can connect through your Organization?  Filing a ticket will allow a Microsoft support engineer to work with you to securely collect these logs from your machine. There are instructions available in our [April 2021 Community call](https://www.youtube.com/watch?v=hGVdftCzs20).

b

[2022-04-15 01:33] grangeryy commented on #2523
Adding @jiju-MS

[2022-04-15 05:00] ghost commented on #2518
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2022-04-15 05:00] #2518 closed, assigned to guliums

[2022-04-15 07:34] jiju-MS commented on #2174
Hi, djaeger, the issue has been fixed on PROD and it should be working on the newer version of Excel. you can try your function with Scriptlab add-in to see whether is works(which is a play ground for Custom Function and API). it will return 1, #value and 3 as dynamic array like below:
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/49672568/163540045-93400bc1-a9f0-4594-8c80-

[2022-04-15 08:08] mkotadiya-valorx opened #2537 ""The argument is invalid, missing or has an incorrect format." error message on "Excel.createWorkbook" in excel office add-in for mac"
Starting from April 12, 2022 "Excel.createWorkbook" method has started failing while opening ".xlsm" files on office add-ins for mac.
It works well on office add-ins for windows.

While further investigating our team found out that an update (Version 16.60 (22041000)) was released for "Office for Mac" on April 12, 2022, in which the method has started failing.
[Update history for Office for Mac](h

[2022-04-15 12:47] thomasdarde commented on #2138
Hello , we are also seeing this message with different clients, but it's impossible to reproduce on our side.
Could you send mor information on the reason it happens , or how to debug it ?

[2022-04-15 13:35] cidev5 commented on #2536
I went ahead and sent a frown from Excel with the description as you described.

[2022-04-15 15:56] DansGithubAccount22 commented on #2507
@Dengshan2018  I noticed for me, that when my add-in says that it can't be started and I close outlook and try again the add-in starts.   It seems perhaps that outlook is preventing some add-in cache file from being updated that needs to be?

[2022-04-15 17:27] valorx-git commented on #2537
We are having customers who are unable to use their spreadsheets. This is quite critical.
Is there an option for paid support assuming it would be faster?

[2022-04-15 20:43] keyur32 commented on #2536
Thanks, I don't see it yet in our system unfortunately yet. Will keep checking.

[2022-04-17 19:02] keyur32 commented on #2537
Tracking internal item #302533027. Assigning to @guliums to help track this issue and investigate.

[2022-04-17 19:06] keyur32 commented on #2534
Assigning to @exextoc to help advise on behavior

[2022-04-17 19:11] keyur32 commented on #2522
1) For the enabled property, currently on Ribbon commands support enable or disable APIs. To better assist you, we'll need you to make a feature request. We suggest you go to Microsoft Tech Community New Ideas forum for the Microsoft 365 Developer Platform ([https://docs.microsoft.com/answers/products/m365](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365D

[2022-04-17 19:14] keyur32 commented on #2522
For #2, the quick answer is that the showAsTaskpane capability and shared runtime are targeted for SPA based apps. For those, I'd suggest setting some state and then calling the showAsTaskpane capability.  If you can provide a stackoverflow link, I can put the answer there. Thanks!

[2022-04-17 19:15] keyur32 commented on #2522
It appears #2 was also asked here: https://github.com/OfficeDev/office-js/issues/2504, so going to mark this closed for now. thanks.

[2022-04-17 19:15] #2522 closed, assigned to keyur32

[2022-04-17 19:16] keyur32 commented on #2520
@stsoib - did the latest suggestion work for you?

[2022-04-18 03:04] guliums commented on #2537
Hi @valorx-git @maulik-kotadiya , This API is designed to only support .xlsx file, you could refer to https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-workbooks#create-a-workbook which says "The method accepts a base64-encoded string representation of an .xlsx file as an optional parameter.". Supporting xlsm file is not align with our design that we are trying to avoid mixin

[2022-04-18 06:05] Refinitiv-365 opened #2538 "Office.addin.showAsTaskpane() got a grey taskpane"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]

[2022-04-18 06:22] exextoc commented on #1442
Thanks for reporting this issue. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2022-04-18 07:39] mkotadiya-valorx commented on #2537
Hi @guliums,
Valorx customers use the add-in to open the excel file stored in their infrastructure to leverage the salesforce functionality within their existing excel workbooks. it can be "xlsx" or "xlsm" based on the use cases. They may have the macro to support the use cases. The sudden change has blocked our customers from using the valorx add-in. Customer files are retrieved from their infras

[2022-04-18 07:58] bonniezlai opened #2539 "PowerPoint.createPresentation does not work for 40M+ PPTX"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
In Powerpoint desktop when try to create a new presentation with api PowerPoint.createPresentation that more than 40M, the n

[2022-04-18 09:00] ghost commented on #2216
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2022-04-18 13:48] sureshjoshi commented on #2216
Bumping to avoid auto-close

[2022-04-18 14:57] keyur32 commented on #2536
Still not seeing it. Can you please try again. Also to expediate, are you able to file a support ticket? That will likely be the best way for us to securely access the logs.

[2022-04-18 18:46] cidev5 commented on #2536
I tried again on Friday, and today I submitted an assistance request through the FastTrack dashboard. Let me know if there is another way to submit a support ticket as I wasn't able to find any other way that allowed me.

[2022-04-18 18:47] keyur32 commented on #2536
Thanks for submitting a support ticket; I think that will be the best way to resolve this (will ping our support folks on our end as well).

[2022-04-18 22:22] revanthroe opened #2540 "[Outlook] Office.js on Browsers incorrectly don't add new line tag `\r` on the mailbox body"
Office incorrectly neglects next line tag `\r` between words in the mailbox body on browser Chrome and Edge

## Expected Behavior
Office.js should always treat next line and encode with `\r` everytime as can be seen in native Outlook desktop app.

## Current Behavior
In the outlook mail body, if we have words separated with new line breaks, it ignores the space and treats them as a single work wit

[2022-04-19 06:29] donlawatch opened #2541 "PowerPoint : What is the release date for PowerPoint shared runtime ?"
Hi, we are using shared runtime to run an application, and open/hide the task pane on PowerPoint,
but this API is only available in the preview version [(Preview support for version 1.1 on Word and PowerPoint).](https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/shared-runtime-requirement-sets?view=common-js-preview#preview-support-for-version-11-on-word-and-powerpoint)

When

[2022-04-19 09:12] cornflakeboy commented on #2094
We tried with 16.0.15028.20152 and the issue seems to still exist. When can we expect 16.0.15118.*** to be released?
edit: Many thanks for responding so fast and being so committed to roll out fixes!

[2022-04-19 09:38] JinghuiMS commented on #1157
@stenly311 Could you provide your Excel workbook and steps to reproduce this issue by using sheet.calculate() API to help us repro this issue? Better to attach a repo video which used sheet.calculate() API. Thanks!

[2022-04-19 11:41] robingagpanan opened #2542 "excel-online(office-dialog-api): issue regarding changing row/columnHidden properties on dialog"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

After changing the value of rowHidden property of a cell via messageParent on Office dialog, the messageParent function does not send messages to the host page anymore (the same error

[2022-04-19 12:55] stsoib commented on #2520
No. If this is not regarded as a bug, we will request a new feature as instructed. Thanks.

[2022-04-19 15:19] Dengshan2018 commented on #2094
@cornflakeboy I check out our system. there is no 16.0.15028.20152 rolling out. Following versions in the productions should include the fix:
16.0.14931.20274, 16.0.15028.20160, 16.0.15028.20204 and 16.0.15209.20000

[2022-04-19 17:47] Oleg-O commented on #2508
Thanks for reporting this issue regarding Custom Properties for meeting messages. It has been put on our backlog. We unfortunately have no timelines to share at this point

Internal tracking id: Office: 2708169

[2022-04-19 18:19] exextoc commented on #2535
Hey @jlara005

Can you check the tracking prevention setting that you're using on edge?

![image](https://user-images.githubusercontent.com/28549921/164069735-4d46b335-1f04-49a0-b327-0bafdf81368a.png)

Try setting it to basic once and check if it works or not?

[2022-04-19 21:39] keerp2952 opened #2543 "Undo unavailable after running custom functions in Excel"
Inside Excel, undo (ctrl + z) becomes unavailable after running custom functions in a cell.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Windows
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Microsoft 365 Apps for business
* Operating System: Windows 10

## Expected behavior
I would expect undoing changes should work as expected

## Current b

[2022-04-19 21:43] cidev5 commented on #2536
Hi, still trying to see if we can get to the bottom of what is causing/has caused this.

But today I reinstalled Microsoft Edge WebView2 Runtime (version 100.0.1185.44) after having uninstalled it several days ago, and the add-in now works again. I suspect a version prior had the issue (100.0.1185.36), and it has since been fixed with this update.

It is strange however that the issue was occurrin

[2022-04-20 05:48] stenly311 commented on #1157
Hi @JinghuiMS thanks for taking a look at this issue.
I will appreciate any working idea of how to get over it :)

**Video how to replicate**: https://youtu.be/dD036p72Psc
**Task pane UI**: Calculations solution from default github repo has been used in Script Lab
The workbook is attached.
[UI Spreadsheet 1 016-MS version 2.xlsx](https://github.com/OfficeDev/office-js/files/8518569/UI.Spreadsheet.

[2022-04-20 06:13] JinghuiMS commented on #1157
@stenly311
Thanks for reporting. BUG 5990610 has opened for internal track.

[2022-04-20 07:42] mkotadiya-valorx commented on #2537
Hi @guliums @keyur32
Do we have any updates on this issue?
We have got more customers reporting this issue in the last 2 days.
We'd appreciate it if the concerned team can get on a call to discuss the issue in detail.
Lastly, Wouldn't it be possible for an API call to show an explicit warning on-screen before opening the ".xlsm" file stating that it's macro-enabled rather than just breaking the en

[2022-04-20 07:47] cornflakeboy commented on #2094
Thanks, I will verify our installed versions again...

[2022-04-20 08:39] exextoc commented on #2524
Hey @ksobolewskiVL

Can you share a short video regarding the issue (1) and (3)?
For the rest of the queries, we'll escalate the same to the Microsoft Graph team.

[2022-04-20 10:26] JensMadsen commented on #2275
This is really bad at the moment so perhaps the status: fixed label should be removed

[2022-04-20 10:34] AkhileshShah-MS commented on #2275
@RuoyingLiang Please take a look into this.

[2022-04-20 10:41] JensMadsen commented on #2275
It is this request (I have removed access token etc from request below) which times out after 60 s:
[code]

[2022-04-20 11:20] JensMadsen commented on #2275
The request just succeeded :-) Did you fix something on your side @RuoyingLiang ?

[2022-04-20 11:23] sweco-nlmdek opened #2544 "Excel partial cell font color"
Hello,

I would like to be able to change the font color of a specific part of the text in a cell;
In VBA you would do something like this

`
Public Sub changeColor()
    Range("A1").Characters(Start:=7, Length:=5).Font.ColorIndex = 3
End Sub
`

[2022-04-20 11:31] JensMadsen commented on #2275
..... time out again

[2022-04-20 12:08] gavinliuc commented on #2539
@LuyiH Hello, do you have any suggestion on this issue we met? Thank you!

[2022-04-20 15:07] zlatko-michailov commented on #2536
Thank you for finding what was causing the problem. I will forward this thread to the team that owns the deployment and usage of WebView2.

[2022-04-20 17:59] hdwatts commented on #2424
@guliums Noting that this has been happening intermittently with our Excel Add-in as well. It is a button that appears in the Formulas tab which, when clicked, opens a taskpane. When clicking the button is removed and our users have to re-add the adding from the insert tab (where it still appears as installed in My Add-ins).

[2022-04-20 18:29] exextoc commented on #2627
@suryakiranchikkala Is your addin approved and available in our store?

[2022-04-20 21:39] preethikakiru commented on #2541
Hello @donlawatch,
Thanks for the question! We currently do not have an estimated date on when shared runtime will be available in the production environment for power point, but it is a goal we are currently working towards.
Best,
Preethika

[2022-04-20 21:39] #2541 closed, assigned to preethikakiru

[2022-04-20 21:45] EdwinStraver opened #2545 "Show taskpane when ribbon is selected"
II have created an add-in with a  custom ribbon. I would like my Taskpane to be opened, as soon as the user selects the ribbon.
Note that I do not mean "when the user presses an item on the ribbon itself" (I know how to do that), but rather, as soon as my ribbon is selected and becomes visible.

Is this possible?

[2022-04-21 06:33] guliums commented on #2537
Hi @maulik-kotadiya , sorry for the late response. We understand that the behavior change has critical impact for your add-in. We are actively working on discussing and revisiting the design decision, tracked by 5982404 internally. I will let you know when we have update. Before we have a solution, you may suggest your customers to use an old build that does not have that change as temporary worka