[2021-09-08 01:52] david-ps commented on #2094
@Dengshan2018 We have confirmed this behaviour in Excel affects the Microsoft Visio Add-in, here's a video demo of the bug: https://www.screencast.com/t/4DPCU7I1

[2021-09-08 02:11] xiaochunms commented on #2012
Hi @wh1t3cAt1k sorry to hear the issue. I am thinking to set back a little bit to focus on your original question, i.e. expecting custom functions not calculating when add-in is loaded.

From my point of view, custom functions is not calculated except the cases I listed above. Could you please share the workbook and project you are working on and I can have a further look on your issue? And furthe

[2021-09-08 04:21] gitcnd commented on #2101
The problem doesn't happen in OWA.

the workaround I'm using at the moment is to manually delete everything inside the  blocks that are ABOVE the <style> info (i.e. leave those [if] things after the <style> alone) - I don't know what possibly bad side-effects that might have, and it's still not exactly the same output as I'm seeing when I "view source" on the eventual emails that get received.

I'

[2021-09-08 05:23] Dengshan2018 commented on #2094
Thanks @david-ps for more information. This issue isn't related with add-in itself. It should apply any excel content add-in. Just summarize the issue:
1. Excel content Add-in can repro the issue with the steps.
2. If the issue happened, switch to other applications and stay for more than 20 seconds, then switch back to excel. the issue can be resolved.
3. Another workaround is to Freeze, and Unfr

[2021-09-08 07:16] exextoc commented on #2104
Currently Outlook Add-ins are not supported on Android/iOS web browsers. We track Outlook add-in feature requests on our Tech Community Page. Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

[2021-09-08 07:20] exextoc commented on #2099
The fix for this issue is available in Mac Outlook versions >= 16.53.827.0 (16.53.21082700) and will be available in September Prod build. We recommend you either to update to the latest Insiders ring(>=  above mentioned version) and check Or wait till Prod build to release by mid of the month.

[2021-09-08 07:59] david-ps commented on #2094
@Dengshan2018 see confirmations below marked **>>**
1. Excel content Add-in can repro the issue with the steps **>> Yes, affects Content Pane Add-ins**
2. If the issue happened, switch to other applications and stay for more than 20 seconds, then switch back to excel. the issue can be resolved **>> Most of the time does not work**
3. Another workaround is to Freeze, and Unfreeze. The excel content

[2021-09-08 08:30] yuc014 commented on #1916
This issue is fixed. Please let us know if you are still experiencing issues.

[2021-09-08 09:19] gingerjia commented on #2093
Thanks @harri-rajala-koivu-solutions for reported the issues!
For this specific issue, we have confirmed it's by design and provided workaround to unblock your side.
If you do need this new feature, can you help to tag it as product feature request, and our PM will priority the work.

Thanks again!

[2021-09-08 09:40] gingerjia commented on #2097
@harri-rajala-koivu-solutions Thanks for the detail suggestions and comments!
For #1916, it has been fixed and we have verified at PROD also. Thanks.

For #2093, it's a kind of feature gap, so do need your help to tag it as new requirement, and our PM will priority the work.

For #2097, after investigated the code, this issue is also a by design behavior since the API developed, as the code consid

[2021-09-08 10:05] s-pilkhwal commented on #2104
If possible, Can you please provide any links to community announcement/documentation about removal of support for Android/iOS web browsers. It would be really helpful.

[2021-09-08 11:55] carlosb1504 opened #2105 "Outlook - item.saveAsync results in Error 9022 - MessageInDifferentStoreError"
We are using the new [`onNewMessageCompose` Launch Event](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch) to pre-save the Message at the point that the user begins to compose it. That's working fine but we have hit an issue whereby if the user then switches the sending account via the 'From' drop down (pictured) in the Message Compose pop-out
![image](https://user-images.gi

[2021-09-08 12:40] eldargum commented on #2016
Hi @davidchesnut , @xiaochunms ,

thanks a lot for the answers! I switched my project to node.js and continued development there.

[2021-09-08 12:40] #2016 closed, assigned to grangeryy

[2021-09-08 14:24] vinodifour commented on #2082
@slabereemsft  any updates on above issue?

[2021-09-08 14:34] exextoc commented on #2079
The name/email bug has been filed with the Product Team. We unfortunately have no timelines to share at this point. Once the bug is fixed, we'll update the thread to reflect the same.
Internal Reference Id: 5378628

[2021-09-08 15:35] slabereemsft commented on #2082
@vinodifour  - Actually, we need @RuoyingLiang  to comment here.

[2021-09-08 15:50] AlexPhilippov commented on #2051
Just received new input on this. Every execution of VBA add-in (f.e. macros for styling chart) leads to the same error. We get “One or more add-ins failed to install custom functions” and custom functions are not registered again. It becomes more critical with this information because the execution of VBA add-ins is more frequent than add-in installation. And we can't advise users to install Custo

[2021-09-08 15:53] exextoc commented on #2105
Currently the feature: re-save a message to a different store, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are con

[2021-09-08 15:55] RuoyingLiang commented on #2082
Sorry for late response. Open bug 5403524 for this issue and will update the thread once we have progress.

[2021-09-08 15:56] carlosb1504 commented on #2105
Hello @exextoc - thanks for the reply. The link you supplied to request this feature shows a 404 unfortunately - can you advise on the correct link? We have a few other things we would like to vote for too if possible.

Thanks

[2021-09-08 16:00] exextoc commented on #2105
Our bad! Updated the link on the previous comment, worth giving it a shot now

[2021-09-08 17:39] mohamadAtlassian opened #2106 "SCRIPT16389: Unspecified error"
# Provide required information needed to triage your issue

## Your Environment

* Platform: PC Desktop
* Host Outlook Office 365
* Office version number:  Office 365 MSO (16.0.10730.20102) 32-bit
* Operating System:  Windows 10 version 1511 build 10586.3

## Expected behavior
Open dialog using displayDialogAsync API and load login screen

## Current behavior
 Getting white page instead of login s

[2021-09-08 18:23] ElizabethSamuel-MSFT commented on #2106
@mohamadAtlassian Thanks for raising this.

@exextoc Can you take a look?

Thanks.

[2021-09-08 18:53] mohamadAtlassian commented on #2106
@exextoc  I've updated my post. Added new logs

[2021-09-08 23:10] gitcnd commented on #2099
Cool!! Thank you SO much !!!

Quick question: it looks like basically all of the back-end support for MobileMessageComposeCommandSurface exists, but for some unknown reason, a decision not to let developers write mobile Outlook add-ins has been made?  How hard would it be to change that stance and let it work for us?

Also - I notice that OWA still detects my phone as a phone, even when I enable "

[2021-09-08 23:44] ikexq commented on #2099
Tested and confirmed as working on 16.53.21090501. Thanks for the prompt resolution!

[2021-09-08 23:44] #2099 closed, assigned to exextoc

[2021-09-09 02:02] shaowan-msft commented on #1985
@Alex0cean This issue is fixed by our team and you can validate in latest Excel. The change is included in version 14430.20088 in my side. Thanks!

[2021-09-09 03:19] exextoc commented on #2104
Please check https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-mobile-addins . It says
 Important
Add-ins don't work in the modern version of Outlook in a mobile browser. For more information, see[ Outlook on your mobile browser is being upgraded.](https://techcommunity.microsoft.com/t5/outlook-blog/outlook-on-your-mobile-browser-is-being-upgraded/ba-p/1125816)

[2021-09-09 03:51] lumine2008 commented on #1167
We enhanced getRanges API, would you please validate? thanks.

[2021-09-09 04:54] benmcinerney commented on #2088
Hey @AbidRahman-MSFT , @shaofengzhu, - any update? should only take 10 mins to confirm issue with supplied docx and ScriptLab yaml?!

[2021-09-09 06:04] #2104 closed, assigned to exextoc

[2021-09-09 07:02] AlexPhilippov commented on #2064
Hi @grangeryy, it's been two weeks. Any update on this?

[2021-09-09 07:54] grangeryy commented on #2064
@madhavagrawal17  do you have any update on this BUG 5358792?

[2021-09-09 11:43] carlosb1504 commented on #2105
Thanks @exextoc - will take a look at what's there and add something on - although I'm not sure if I like my odds 🤣
![image](https://user-images.githubusercontent.com/47693383/132679786-a7991ca6-b343-4d97-9b0d-6389082e932d.png)

[2021-09-09 11:43] #2105 closed, assigned to exextoc

[2021-09-09 12:19] david-ps commented on #2094
@Dengshan2018 So this is major issue for developers of existing and new Content Pane Add-ins including Microsoft.
Can you give some timeline for a fix and verify the implications > now all users will require latest version and it won't be available in some Channels for some months? This recently introduced Shape bug is a major QA fail and a disaster for us. **Every** Content Pane in a workbook fre

[2021-09-09 15:52] Rinzwind opened #2107 "Number format `hh:mm` is given as `h:mm` on Excel for Mac"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

On Excel for Mac, for a cell with number format `hh:mm`, `Range.numberFormat` gives the format as `h:mm`.

The Script Lab snippet given below sets up an example as follows:

[code]

O

[2021-09-09 16:13] mohamadAtlassian opened #2108 "React router not working in outlook internet explorer webview; throws SCRIPT16389: Unspecified error"
# Provide required information needed to triage your issue

## Your Environment
Platform: PC Desktop
Host Outlook Office 365
Office version number: Office 365 MSO (16.0.10730.20102) 32-bit
Operating System: Windows 10 version 1511 build 10586.3

## Expected behavior
Open taskpane and display data
## Current behavior
Open taskpane and get a white page

## Steps to reproduce

Generate office outlook

[2021-09-09 17:20] barclayadam commented on #1861
Is there any progress on this? Are additional logs going to be available? Sorry to push on this but it affects our production customers and we are at a loss as to what we could possibly do to progress this any further on our side.

As a note on loading of add-ins, we have definitely found there are quite some stability issues in Outlook on Windows in general, issues that are different to the above

[2021-09-09 18:45] mwickens commented on #1005
Any update on this? We also just had a pen test and this came up. It's not clear how we should construct a security policy for our Outlook add-in.

[2021-09-09 20:05] AbidRahman-MSFT commented on #2088
Hey @benmcinerney - we have been able to repro the issue that you have mentioned here. We've created an internal task (#5405181) to track the progress. I will let you know if we have any updates. Thanks.

[2021-09-09 20:16] mbice commented on #1743
Hi,

This has become a blocking issue for us rolling out our PowerPoint addin because we can't have a consistent photo insertion experience across desktop/web. Desktop seems fine, no issues. PowerPoint web still has the issue described above, which makes photo insertion with placeholders kind of useless.

Any way to get an update on whether this is acknowledged and if a fix is possible? Or a poten

[2021-09-09 21:56] ElizabethSamuel-MSFT commented on #2107
@Rinzwind Thanks for bringing this to our attention.

@lumine2008 Can you take a look?

Thanks.

[2021-09-09 21:58] ElizabethSamuel-MSFT commented on #2108
@mohamadAtlassian Thanks for raising this issue.

@exextoc Can you take a look?

Thanks.

[2021-09-10 00:05] benmcinerney commented on #2088
Thanks @AbidRahman-MSFT , that is brilliant news - thank you again for taking the time to investigate this! My client is keenly waiting for a resolution!

[2021-09-10 01:18] madhavagrawal17 commented on #2064
Sorry for the delay. I was finally able to find the root cause for this issue. But I think it will take some time to fix this issue properly. The only workaround I have is to uninstall the Omex Add-in from the machine if a Workbook with ExCatalog is opened.

[2021-09-10 03:07] SWei1234 commented on #1882
Hi @exextoc
Also have this feature request. Wish this will have a timeline on future.
Thanks

[2021-09-10 04:23] LiamWarnes commented on #993
Hi,

I have reviewed the changes that have been implemented to address this issue. Using the same process outlined in the original issue on various platforms, here are my findings:

Outlook Desktop Client for Windows  - Requirement set 1.9
![image](https://user-images.githubusercontent.com/61216957/132786755-4d71e8eb-0a3b-4b4f-8edd-cacf80d0d0a1.png)

An error is returned with expected reason as ca

[2021-09-10 04:45] Dengshan2018 commented on #2094
@david-ps we don't have repro yet. I leave excel application with in-content add-in. wait for 3 hours. when come back to the machine, the add-in is still live. Not sure if it will be related with hardware.
I did see the issue long before rolling out in-content with webview2. and we had the fix. After that I didn't see it any more.

What's more, we have new feature to improve Office rendering. This

[2021-09-10 04:52] david-ps commented on #2094
@Dengshan2018 Thanks for the update. I will try to repro on more machines and advise you. This seems only a recent occurrence within last 30 days that we noticed it. may be related to last Office Update applied in that period as shown above?

Yes, I would like the registry key to preview improved Office rendering.

Thanks for continiuing your investigation, please let me know if there is anything

[2021-09-10 05:30] 4tti commented on #1167
Confirmed it is working.
Thanks @lumine2008, good job!

[2021-09-10 05:30] #1167 closed, assigned to lumine2008

[2021-09-10 06:55] gingerjia commented on #1840
@lynneosmith, thanks for returning back and update the issue!
I will look into the problem and update to the thread when have progress. Thanks!

[2021-09-10 07:13] barisbikmaz commented on #1668
Probably a duplicate of #1650

[2021-09-10 07:39] xiruatms commented on #2082
Thanks for reporting this to us.

@vinodifour Could you help to provide more information to confirm the issue:
1. Which customproperty was returned with "\n"?  Are all the customproperties returned as "\n" or a specific one?
2. Have you every tried with sample codes in scriptlab? When I tested with the sample, I got following result :
        Property Name:matterId; Type=String; Property Value=01F

[2021-09-10 08:01] mohamadAtlassian commented on #2108
Solved, I used HashRouter instead of Browserrouter

[2021-09-10 08:02] mohamadAtlassian commented on #2108
Solved, I used HashRouter instead of BrowserRouter

[2021-09-10 08:02] #2108 closed, assigned to exextoc

[2021-09-10 08:04] mohamadAtlassian commented on #2106
Duplicate of #2108

[2021-09-10 08:04] #2106 closed, assigned to exextoc

[2021-09-10 12:51] gitcnd opened #2109 "No support links, no help for forum resources mentioned"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

If there's any official place where developers can hang out, ask questions, and get developer support for building Microsoft-365 Add-ins, it needs to be documented on the home page of

[2021-09-10 17:00] exextoc commented on #2008
Thanks for checking @jak-hammond. Unfortunately we misunderstood the requirement and you are correct, item.start is not available on the item. Using Graph the way you currently are today is the way to go for now. We've opened a work item in the backlog to address this issue and unfortunately can't share timelines at the moment on when the work will be complete. Rest assured, once it is, we'll upda

[2021-09-10 17:12] exextoc commented on #2101
Each outlook client uses the underlying WordMail to render the body. for Desktop, what is returned with getBody call is what word is currently rendering in the reading pane. It's not until you send the email that word converts whats' being rendered into the HTML that you're looking for.

[2021-09-10 19:02] jrpally opened #2110 "Office JS: Word: Get page orientation and size"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am trying to get page orientation and size, for this purpose I am using this code:

**THE CODE FOR WORD OFFICE ONLINE DOES NOT WORKS! EVEN IF YOU CHANGE THE PAGE MARGINS, IT DOES NO

[2021-09-10 20:11] JuaneloJuanelo commented on #2109
Hello Chris, yes absolutely we have, actually you are using one of them :)  All the info below is in our team's web site within the community section. [Check it out here (in "Engage").](https://docs.microsoft.com/en-us/office/dev/add-ins/#officecommunity)

We have 3 ways you can interact with the team, we share this constantly in [our community calls. ](https://pnp.github.io/#community)

1. Report

[2021-09-10 22:36] lliu113 commented on #2071
@barisbikmaz - I'll go ahead and close this issue. Feel free to reopen if you have any questions, thanks!

[2021-09-10 22:36] #2071 closed, assigned to lliu113, ononder

[2021-09-10 22:36] gitcnd commented on #2109
So does that mean that none of your team monitor the "office-js-dev" forum here?

https://docs.microsoft.com/en-us/answers/topics/office-js-dev.html?page=1&pageSize=15&sort=active&filter=all

Would you mind adding your helpful reply above to me, into the README.md file?  The Microsoft ecosystem is *huge* - for new devs like me, we just don't know where things are unless you tell us in your project

[2021-09-10 23:00] ghost commented on #2076
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-10 23:00] ghost commented on #1646
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-10 23:00] #1646 closed, assigned to exextoc

[2021-09-11 01:04] gitcnd opened #2111 "Missing Importance and Sensitivity as well as Options (Delivery/Read receipts) etc from the Office.MessageCompose interface"
None of the properties or methods listed here:-
  https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview
give access to the user-chosen properties:-

Settings: Importance and Sensitivity
Voting and Tracking Options:  Delivery-receipts and read receipts
Security: Encryption, digital signing, and labels
Delivery options:  reply-to email address, send-de

[2021-09-11 01:11] gitcnd commented on #2111
Would it make sense (and will it store those properties) for my add-in to save their email as a draft, and would I then be able to use Microsoft Graph to query those properties ?  e.g. https://docs.microsoft.com/en-us/dotnet/api/microsoft.exchange.webservices.data.item.importance?view=exchange-ews-api

[2021-09-11 03:00] ghost commented on #2085
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-11 03:01] gitcnd opened #2112 "TypeError: Cannot read properties of undefined (reading 'model') at getAttachmentContentAsyncApiMethod.ts:41"
Your attachment handling code has a bug - its not checking for undefined results:-

[code]

Here's your code line

[code]

![Screen Shot 2021-09-11 at 12 53 01 pm](https://user-images.githubusercontent.com/4301826/132933982-b7e8be76-5863-4d11-85ec-8b7152fe7d6f.png)

![Screen Shot 2021-09-11 at 12 55 06 pm](https://user-images.githubusercontent.com/4301826/132933979-abefacc8-0a23-43d0-a5bc-b1202d78

[2021-09-11 03:09] gitcnd opened #2113 "Let our Office MessageComposeCommandSurface Add-ins read *all* the users email-being-composed content and options."
Trying to write a useful add-in for Outlook is excessively limited, owing to a large number of important bits of user context not being accessible to us.  It would be useful if the following could be properly added:-

getAttachmentContentAsync for **al*l* the users attachments (not just appointments/etc)

Settings: Importance and Sensitivity
Voting and Tracking Options: Delivery-receipts and read

[2021-09-12 00:00] ghost commented on #2102
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-12 00:00] ghost commented on #1680
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-12 13:53] ndvbd commented on #1682
I see another issue now.
The context.document.body.text returns the comments as well (which ruins the text). The comment appears as a special character in the text \x05
I believe comments should not appear there. Can you fix it please?

[2021-09-12 13:55] ndvbd opened #2114 "Word addin: context.document.body.text contains the comments as one character"
I see another issue now, which "kills" our add-ins.
The context.document.body.text returns the comments as well (which ruins the text). The comment appears as a special character in the text \x05
I believe comments should not appear there. Can you fix it please?

I saw that behaviour on Word 365 (desktop) on Windows.

[2021-09-12 15:03] 10142904 commented on #2059
i just updated my ppt to 16.0.14430.20044 and find the bug has been fixed, good news! thanks very much!

[2021-09-12 17:50] mohamadAtlassian opened #2115 "How to open taskpane programmatically in desktop outlook"
## How to open taskpane programmatically in desktop outlook

Outlook 2013 is using internet explorer as a browser, and that is causing so much problem in our add-in. The add-in is not stable and can't keep fixing bugs caused by internet explorer dialog . I am searching for a way to use taskpane instead of dialog because it is much more stable. However, I didn't find a way to open task pane program

[2021-09-13 02:08] xiaoyuMS commented on #2103
Thanks for reaching us @tillkaemmerer  . It looks like a gap between Word Online and Desktop.
As far as i know, the CHR(10) represents a line break.
So I am glad to provide a workaround which is using "\<br/>"  tag to inserts a line break. It is consistent on both sides.
I hope it can help you~

[2021-09-13 03:19] SWei1234 opened #2116 "[Outlook] Stuck in infinite loop when I try to response to send event. (Mac Only)"
Precondition:
Need install a Mac plugin which will also response to send event.

Add-in will stuck in a infinite loop if I try to response to send event. The problem looks like Mac plugin was triggered by the send event then send that event again. And Add-in triggered by this event. Then using completed({allowEvent: true}) send the event again.
But the problem is at this time Mac plugin and add-in

[2021-09-13 03:25] xiaochunms commented on #2051
@AlexPhilippov sorry to hear the issue when running VBA add-in. As I know the execution of VBA add-in will not trigger the unregister of custom functions. Based on the description, I am not sure if it shares the same root cause with VBA add-in installation. May you please help to have a repro step which would be much helpful to figure out the root cause. Thanks!

[2021-09-13 07:23] runerback opened #2117 "Office.context.document.getFileAsync: Unable to get property 'Compressed'"
I want to read content of local xlsx file loaded in Excel 2013 with `Office.context.document.getFileAsync` api, but got following error:

## Your Environment

* Platform: PC
* Host: Excel
* Office version number: 15.0.4569.1504
* Operating System: Microsoft Windows 10 64bit
* Browser (if using Office on the web): None (or embedded IE11)

## Expected behavior

Read content of current loaded xlsx fi

[2021-09-13 08:08] exextoc commented on #2116
@SWei1234 Thanks for raising the issue. We tried it from our end but we were not able to repro it. We would like to get to know the following things for better clarity.

  1. What is the use case in which a plugin and an add-in are being run together if so?
  2. Please provide the plug-in and add-in links so that we can repro the exact problem.
  3. Can you please provide a short video of the issu

[2021-09-13 08:24] jerousseau commented on #1997
I've nearly the same problem creating a contextual tab, and using Office.StartupBehavior.load.
When the add-in is loading at workbook open the contextual tab never appear (but without error in my case).

[2021-09-13 09:23] SWei1234 commented on #2116
Hi @exextoc
Thank you very much for giving me help on this ticket.
Can you provide me a email address for sharing this recording?
Thanks

[2021-09-13 09:38] dingjin-ms commented on #1918
Hi @libjosep , our fix has been checked in, it would be rolled out in less than a month, I would reach to you again when it's available online. Thank you for your reporting!

[2021-09-13 10:28] gingerjia commented on #2107
@Rinzwind, thanks for reporting the issue.
We can repro it on MAC and bug 5411990 was created for track it. When have progress, will update the thread to let you know.
If have any other issue, please let us know. Thanks!

[2021-09-13 11:01] thao33 commented on #1600
@Petryxasport

yes, but you can using `Office.context.ui.closeContainer()` instead. It's worked for me.

[2021-09-13 11:32] exextoc commented on #2074
@ShubhamJain-Outlook Thanks for your patience. Kindly refer to this [document](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/validate-an-identity-token#verify-the-domain). This doc explains clearly explains how to validate the Exchange identity token and the amURL. Precisely, the domain of amURL should match with the auto-discover domain. Kindly let us know if you need more assistanc

[2021-09-13 11:36] lbourda commented on #2085
@grangeryy, yes I do refer to [THIS](https://support.microsoft.com/en-us/office/hyperlink-function-333c7ce6-c5ae-4164-9c47-7de9b76f577f).
We use it to build a hyperlink with a formula that queries the URL based on the content of a cell reference.
I'm afraid I can't provide the workbook but it wouldn't help anyway since the query wouldn't resolve without a subscription to our services.

Note that I

[2021-09-13 12:06] exextoc commented on #2116
Sure, please share the recording to OutlookAddins@M365x693897.onmicrosoft.com .

[2021-09-13 12:07] thao33 opened #2118 "saveAsync not working rightly when try to saving a draft (Add-in, Outlook)"
# call saveAsync for draft item. Response is success but return body is out-of-date. It returns the old body when saving draft.
Maybe saveAsync not worked rightly at cache mode of Outlook or something like that..

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: only PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 16.52(21080801)
* Oper

[2021-09-13 16:43] AlexJerabek commented on #1682
Reopening and pinging @AbidRahman-MSFT.

[2021-09-13 17:53] Dengshan2018 commented on #2059
The issue should be fixed in Beta 16.0.14511.*
CC preview 16.0.14430.20088

[2021-09-13 17:53] #2059 closed, assigned to lliu113, Dengshan2018

[2021-09-13 17:54] #1913 closed, assigned to croicu, Dengshan2018

[2021-09-13 17:54] #1907 closed, assigned to croicu, Dengshan2018

[2021-09-13 20:02] jmayermsi opened #2119 "Office professional Plus 2019 support for Edge Chromium Engine"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Is there any support for Edge Chromium engine for Office professional plus 2019? Does not appear to support Edge for add-in content only IE rendering.  Is there a way to support the E

[2021-09-14 00:02] RuoyingLiang commented on #1682
Thanks for contacting us. Will look into it now.

[2021-09-14 02:59] xiaoyuMS commented on #1682
Hi @ndvbd
About the issue of get text, is it a behavior on Desktop? If yes, it is a feature on Desktop, not a bug.

[2021-09-14 04:15] exextoc commented on #2074
Thanks for clarifications. We're actively investigating and hope to have a response for you soon. Thanks for your patience.

[2021-09-14 05:19] exextoc commented on #993
Thanks for reporting this issue regarding the error message in Office.context.mailbox.item.addFileAttachmentAsync() . It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

Internal tracking id: Outlook Web: 78725

[2021-09-14 08:38] tsardy commented on #2059
thank you @Dengshan2018 !

[2021-09-14 12:26] mariomash commented on #1959
I'm having the same error with my add-in, running in Chrome, **OUTLOOK WEB**,  we are using `promptBeforeOpen: false`

In my main window I see this error, which I certainly know it's not correct, dialog box and add-in host are https://localhost:8080 in both cases:

**12011:Browser restrictions prevented us from creating the dialog box. The domain of dialog box and the domain of the add-in host are

[2021-09-14 15:16] ndvbd commented on #1682
One more thing to add/ask - Currently the context.document.body.text returns the Tracked Changes in a wierd way - as if they are part of the text itself. So if for example in tracked change I replace a word A with a different word B, the body.text will contain AB (concatenated).
This is unwanted.
What should happen is that the body.text will return the most current version of the text, as if all t

[2021-09-14 15:31] ndvbd commented on #1682
And another problem: While comments are being "injected" to the text as a single control character \x05, footnotes are being injected to text as a control character \x02. Is this documented somewhere?

[2021-09-14 18:00] ghost commented on #2008
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-14 18:59] jrpally opened #2120 "Microsoft Word 16.0.14326.20164 crashes while executing: distributeColumns()"
**context.document.body.tables.items[0].distributeColumns();** makes the MS Office to crash

Literally execute using the Script Lab tool the following code:

[code]

[2021-09-14 22:31] AbidRahman-MSFT commented on #2120
Hey @jrpally, are you seeing this issue on Windows, Mac or on Web? Can you also please provide additional version information?

[2021-09-14 22:40] jrpally commented on #2120
Hi @AbidRahman-MSFT This is happening in Office for Desktop. The version is specified in the bug report. I have a memory dump 700 MB if you want I can submit the place you provide.

[2021-09-14 22:44] jrpally commented on #2120
HI @AbidRahman-MSFT I just tested on Office Online and all works fine. I do not have MAC to test it.

For now the bug is for Word desktop

[2021-09-14 23:13] AbidRahman-MSFT commented on #2120
Can also reproduce on Mac, thank you for creating the issue. We will investigate and get back to you.

[2021-09-14 23:18] jrpally commented on #2120
@AbidRahman-MSFT Not only distributeColumns is making the product crash, also :
context.document.body.tables.items[0].**autoFitWindow()**;

[2021-09-15 02:00] ghost commented on #2102
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-15 02:00] #2102 closed, assigned to exextoc

[2021-09-15 02:00] ghost commented on #1680
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-15 03:56] yihuax-msft commented on #2120
@jrpally @AbidRahman-MSFT Certainly Word should not crash, no matter what. We will make our APIs more robust. Thanks for letting us know the issue. We will fix the crashing issue.

In the meantime, you can make the API calls simpler. For example, you don't need to keep using context.document.body.tables, which increase the traffic with the host. You can just assign it to a local variable and the c

[2021-09-15 05:18] exextoc commented on #2111
@gitcnd Thanks for reporting this.

With the existing Graph API, we can infer the importance and receipt status.
Kindly refer:https://docs.microsoft.com/en-us/graph/api/resources/message?view=graph-rest-1.0

And, currently, Outlook message sensitivity property (Normal, Personal, Private, Confidential, etc.) is not exposed via the Graph API queries.

If you need this property and wish to file a fea

[2021-09-15 05:30] exextoc commented on #2089
The fix for this has been deployed. The updated JS should be available as caches clear.

[2021-09-15 05:46] exextoc commented on #1910
@DmitryKostochko Thanks for your patience. We have fixed the bug, and the fix should be available in the next ~2 weeks.
Closing the bug, please feel free to reactive the thread if you have any comments.

[2021-09-15 05:46] #1910 closed, assigned to exextoc

[2021-09-15 06:10] exextoc commented on #2115
Currently the feature: open taskpane programmatically with in web add-in, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](https://aka.ms/M365dev-suggestions). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

Note that n

[2021-09-15 06:25] dingjin-ms commented on #1860
Hi @CTDProgrammer , we have fixed the problem and the fix has been rolled out to current channel, builds above 16.0.14427.10000. Thank you for your report!

[2021-09-15 06:27] SWei1234 commented on #2116
Hi @exextoc
Already send the recording to your mailbox.
If any question please reply here.
Thanks

[2021-09-15 07:29] dmitry-semenov commented on #1680
Still an issue, sent a repro video & waiting for feedback

[2021-09-15 10:32] ndreisg opened #2121 "Excel - VBA Worksheet_Change events not triggered by Add-In changes"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Worksheet_Change events stopped working

## Your Environment

* Platform: PC Desktop
* Host: Excel
* Office version number: 16.0.14326.20384
* Operating System: Windows 10

## Expec

[2021-09-15 10:49] exextoc commented on #2116
@SWei1234 Thanks for the recording. On looking at it, we could see that you are trying in the old outlook UI. Can you please update and try it the New Outlook for Mac. You can switch by using the toggle on the top. [Link to new Outlook for Mac: https://support.microsoft.com/en-gb/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439]

Also, we are unable to repro the issue, could you

[2021-09-15 12:31] Tomer-Priel commented on #2089
Thank you @JuaneloJuanelo @pkkj much appreciated!

[2021-09-15 14:03] exextoc commented on #2044
@masha-mariya4 , a gentle reminder to share the add-in or a sample add-in where the issue can be reproduced to               OutlookAddins@M365x693897.onmicrosoft.com.

And can you please update the outlook and try it in the New Outlook for Mac. You can switch by using the toggle on the top.
Link to the new Outlook: https://support.microsoft.com/en-gb/office/the-new-outlook-for-mac-6283be54-e74d-4

[2021-09-15 16:00] jordandev opened #2122 "Custom Functions - allow streaming function to be volatile"
We are using streaming custom functions to load data from an external service and give users a refresh rate parameter (ex. refresh every 5 seconds, every 5 minutes, etc).

The issue we have found is that streaming functions do not refresh if - F9, Ctrl+F9, pressing Enter in the functions cell, clicking Calculate Now / Sheet. I believe this is expected because Excel sees this formula as not having

[2021-09-15 16:03] exextoc commented on #1680
reopened the issue, bot incorrectly closed this.

[2021-09-15 17:41] rulopimentel opened #2123 "ooxml trackrevision absent using getOOXML() function"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When we use getOOXML() function according to https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#getOoxml__ documentation, it returns the flattened XML

[2021-09-15 20:35] cidev5 opened #2124 "Our Excel add-in crashes for a client on version 2108 with build number: 14326.20238 (fixed by updating to a newer build)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We would like some background on an issue a client reported to us using our add-in that is specific to the Excel version in the title.

I've attached two screenshots below.

We would

[2021-09-15 22:06] jrpally commented on #2120
Thanks for the response @yihuax-msft

[2021-09-15 22:27] david-ps commented on #2094
@Dengshan2018 We are able to repro this behaviour on other PCs. There are no API calls for "Show as saved image" that we may have been able to use to implement that manual workaround. Are there any programmatic approaches you could suggest we explore?  Also please send me the registry key you mentioned previously.

[2021-09-16 00:53] elegault opened #2125 "Can't open task pane from link in Outlook NotificationMessages"
I'm setting a notification message as per this code:

[code]

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook Online
* Office version number: n/a
* Operating System: n/a
* Browser (if using Office on the web): Edge, Chrome

## Expected behavior
The task pane should open if the value of the commandId parame

[2021-09-16 00:54] elegault commented on #2125
/cc @davidchesnut - FYI!

[2021-09-16 02:07] SWei1234 commented on #2116
Hi @exextoc
Yes, I'm trying on old UI Mac Outlook.  But I think before Microsoft force every one use new UI, add-in still need handle this.
For manifest file, I add below:
`<ExtensionPoint xsi:type="Events">
              <Event Type="ItemSend" FunctionExecution="synchronous" FunctionName="onSendFunction" />
 </ExtensionPoint>`

My onSendFunction function is:
`function onSendFunction(event) {

[2021-09-16 03:00] grangeryy commented on #2122
@jordandev, currently the behavior is by design. Have you tried ctrl+alt+f9?

[2021-09-16 03:00] RuoyingLiang commented on #1682
For "context.document.body.text return comments character":  This is an expected behavior. We are enable the same experience for many special characters also in Word Online.
For track change behavior, this is a problem we are solving. Now we are adding APIs to get the correct content in Track change mode. Will announce the new APIs once it's done.
For the documentation of the special characters, w

[2021-09-16 03:19] jordandev commented on #2122
I realize it is by design yes. But we are getting feedback that this is confusing for users as they are functions that rely on external data that can change frequently regardless of parameters but cannot be volatile if they are streaming. So it puts these functions into a weird place where they need to be both volatile but have the ability to update without interaction as a streaming function. But

[2021-09-16 04:36] Dengshan2018 commented on #2094
Here is registry key you can try for new feature:
[HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\Common\ExperimentEcs\Overrides]
"of22tfsc11br160"="true"

I still can't get the repro, but find one suspicion. will make the fix based on that.

[2021-09-16 04:45] exextoc commented on #2125
Thanks for reporting this issue regarding the launch of the task pane from the Outlook Notification message. We are able to reproduce the issue, and it has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Outlook Web: 128572

[2021-09-16 05:31] exextoc commented on #2118
The issue you are observing looks to be related to inconsistent item state. Changes made to an item using the Office.js API, including saveAsync, go to the client first and these changes, when using Outlook Desktop in Cached Mode, are not synced to the exchange server immediately. Instead the server copy of the item gets updated when Outlook Desktop sync's with exchange. This matches your observat

[2021-09-16 09:07] exextoc commented on #1928
@milankonir We have fixed the issue. Please check and let us know if it works for you.

[2021-09-16 09:11] carlosb1504 commented on #1211
Could anyone advise if a fix has been progressed for this issue yet? Thanks

[2021-09-16 09:37] milankonir commented on #1928
I have verified that this now works as expected, thank you!

[2021-09-16 09:58] qinliuMSFT commented on #2121
Hi @ndreisg , thanks for logging this issue. To better assist you, could you please share the APIs you called in JS Add-in to change worksheet content?

[2021-09-16 11:40] bferreira opened #2126 "Excel Add-in does not get added to Home ribbon"
# Provide required information needed to triage your issue
When installing add-in on Excel Volue Insight, it opens the task pane but it is not added to the Home ribbon as normal. For next usage, the user needs to go to My Add-ins panel to open the task pane again.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
*

[2021-09-16 11:57] ghost opened #2127 "No option to open hyperlink in Word add-in in Office 2019"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: **PC Desktop**
* Host [Excel, Word, PowerPoint, etc.]: **Word**
* Office version number: **Microsoft® Word 2019 MSO (16.0.10373.20050) 64-bit**
* Operating System: **Windows 10**

## Expected behavior
Word add-in should show an option to open hyperlink in Office 2019.

## Current behavior
I am having word add-in, built usin

[2021-09-16 12:54] #1928 closed, assigned to macOutlookExtensibility

[2021-09-16 13:04] balazserdeszlogmein commented on #2066
Are there any updates on this? This issue is affecting us and our customers heavily.

[2021-09-16 15:28] gingerjia commented on #1840
@lynneosmith, after further investigation we found the issue has been there since O14, and API behavior is same as UI design. We cannot quickly fix it in short time as the code impact is big.
Here we provide workaround to unblock your side work first:
https://gist.github.com/yuc014/fcb190de4032f710ae3094f1718d7a9f
If this doesn't work for you, please let us know. We will try to explore further to

[2021-09-16 21:03] jordandev commented on #1655
We are seeing a similar problem. Have version 1.0.0.1 of our add-in installed. 1.0.0.2 is live on the store. But never getting a prompt to update (when using the add-in after restarting Excel, etc).

Back when we had deployed 1.0.0.1 a couple months ago I did get the prompt to update from 1.0.0.0 as expected. But another user didn't.

So something appears to inconsistently not work here. This is o

[2021-09-16 21:05] ndvbd commented on #1682
@RuoyingLiang Thanks,
1. Please update us here when the documentation is updated.
2. What is the reason you want to 'inject' these special control characters in the plain-text version? After all, they say nothing besides "there is some comment here"...

[2021-09-17 06:05] exextoc commented on #2116
@SWei1234  We are unable to repro the issue from our side with the code changes that you specified.
Kindly share the add-in to OutlookAddins@M365x693897.onmicrosoft.com and we would like to collect the logs to understand the issue more.

Kindly follow these steps to get us the incident ID:

1. Repro the issue
2. Click on the Help tab from Outlook Menu
3. Click on collect Diagnostics
4. This will g

[2021-09-17 07:10] exextoc commented on #2112
@gitcnd Thanks for reporting this issue regarding the crash happening in the getAttachmentContentAsyncApiMethod.  It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Eg: Outlook Web: 128767

[2021-09-17 10:10] #2111 closed, assigned to exextoc

[2021-09-17 12:04] barisbikmaz commented on #1108
@exextoc Why is the issue closed when it is not fixed?
We still face this issue on Outlook for Web.

[2021-09-17 12:20] ndreisg commented on #2121
Sure. We are using Range.values API to change the worksheet content.
Here is a sample gist made with Script Lab: https://gist.github.com/ndreisg/5d4f8499cd60d8c98ab3e353f63c9876 which can be used to reproduce the issue.

Oops accidentially closed 😅

[2021-09-17 14:43] webartoli opened #2128 "Excel: Data Validation set/get has different behaviours"
# Provide required information needed to triage your issue

Trying to set data validation to another cell, data are different.

## Your Environment

* Platform PC_ desktop
* Host: Excel
* Office version number: 2108
* Operating System: Windows 10 - 20H2
* Localization: it_IT
* Region: it_IT

## Expected behavior

I want to copy paste data validation infos between cells.

## Current behavior

Valid

[2021-09-17 19:21] exextoc commented on #1861
To help obtain more logs:

1. Shutdown Microsoft Outlook.

2. Add the following registry keys:
- [HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\Common\ExperimentEcs\Overrides]
   "of4da4ua5o5tlt1"="true"
- [HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\Common\ExperimentEcs\Overrides\other]
   "Microsoft.Office.OEP.SdxSandboxLogTelemetry"="of4da4ua5o5tlt1"

3. Follow the instructions on this

[2021-09-17 19:49] efrene commented on #1983
Hi @ndeeH
Thank you so much for this feedback and for pointing to the example. I am going to be looking into this and will research putting this together. Please provide any additional information that you think might be helpful.  Thanks again!
Efren

[2021-09-17 20:00] ghost commented on #2008
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-17 20:00] #2008 closed, assigned to exextoc

[2021-09-17 21:04] exextoc commented on #2113
You are correct that not all the properties are completely available. It would be helpful for prioritization with the product team if you can discuss more about your scenarios and priorities for your scenarios.

There is some support for the APIs you listed:
[getAttachmentContentAsync ](https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentcontent?view=outlook-js-preview)support

[2021-09-17 21:30] gitcnd commented on #2113
The doc (I can't find where now, but its on your site) specifically says that getAttachmentContentAsync works *only* for meetings and forwarding other emails. Not for files.  Here is your code from Office.js for this:-

[code]

It's also a moot point - your software crashes if you attempt to retrieve a file attachment:-
https://github.com/OfficeDev/office-js/issues/2112#issuecomment-921554764

And

[2021-09-17 23:17] davidchesnut commented on #984
Looks like the documentation is correct, so I'll close this issue for now.

[2021-09-17 23:17] #984 closed, assigned to davidchesnut, lumine2008

[2021-09-18 00:00] ghost commented on #2101
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-18 03:05] t-miyake opened #2129 "Using the latest Edge or Chrome, Outlook on the Web does not show dialogs by displayDialogAsync when displayInIframe is true."
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook on the web
* Office version number: ______
* Operating System: Windows10
* Browser (if using Office on the web): Microsoft Edge Version 93.0.961.52 and Google Chrome Version 93.0.4577.82

## Expected

[2021-09-18 07:19] SWei1234 opened #2130 "[Outlook] Can we get manifest permission level by 'Office.context.mailbox.initialData.permissionLevel'?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

Just a quick question:
 Can we get the manifest's permission level by 'Office.context.mailbox.initialData.permissionLevel' ?

I see it's match manifest's permission setting.
But the q

[2021-09-18 08:12] exextoc commented on #2130
Thanks for the post. As you had mentioned there are 4 types of permission levels: Kindly refer to https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-owemxml/f466a8a7-5a2d-4e6b-b0db-957bebd181b1

When the command "Office.context.mailbox.initialData.permissionLevel" is executed, you can find values as mentioned below

<img width="1006" alt="Screenshot 2021-09-18 at 1 39 20 PM" src="ht

[2021-09-18 13:08] t-miyake commented on #2129
I think this issue is due to the version of Outlook on the web, not the browser version.
I was mistaken because the timing was the same as the browser's version upgrade.

This issue occurs when version=20210913004.06.
However, if version=20210419002.11, this issue does not occur.

When I set displayInIframe to false, it works fine in 20210913004.06.
(The dialog is displayed correctly in a separate

[2021-09-19 07:57] ShubhamJain-Outlook commented on #2074
Hi Team,
As part of this document<https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/validate-an-identity-token#verify-the-domain> it is mentioned that “the domain of amURL should match with the auto-discover domain” but how can we get the auto-discover domain on the server side(written in Java) . Is there any library which we can use or any standard set of instructions to identify the au

[2021-09-19 08:39] t-miyake commented on #2129
I have tried a simple add-in for Outlook on the web for this issue.
Source code
https://github.com/t-miyake/OutlookOnSendAddinSample

Test Results
Both tests were conducted with Google Chrome version 93.0.4577.82.

Outlook on the web version 20210419002.11
(Only one of my PCs still loads 20210419002.11.)
1. Create a new email
	<img width="884" alt="Screenshot 2021-09-19 155932" src="https://user-i

[2021-09-19 15:00] ghost commented on #2089
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-09-19 18:40] careernavigator opened #2131 "Word add-in is giving performance issue in office 2019."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

**Issue Summary**
Word add-in is giving performance issue in office 2019. We have developed a word add-in using office JS, angular 12 & Kendo UI. For cases where it is dealing with th

[2021-09-20 00:30] neville-jones commented on #2129
Observing similar problem and similar workaround but the workaround is only effective if have both
`displayInIframe: false, promptBeforeOpen: false`
So far in our testing, the workaround allows for the dialog to be shown (not in an iframe) but the ability to communicate back to the parent seems broken, even when parent and dialog are in the same domain.

The problem also occurs in Firefox 92.0 so

[2021-09-20 01:02] cgaranip commented on #1941
Hi, I have the same issue.
Using VS 2019, office 365 version 1202.
Followed the steps as in https://docs.microsoft.com/en-us/office/dev/add-ins/design/keyboard-shortcuts

[manifest.txt](https://github.com/OfficeDev/office-js/files/7193231/manifest.txt)

Error: The element 'OfficeApp' in namespace 'http://schemas.microsoft.com/office/appforoffice/1.1' has invalid child element 'ExtendedOverrides' i

[2021-09-20 01:09] cgaranip opened #2132 "ExtendedOverrides element of Manifest error"
When creating an Office.js Add-in in Visual Studio 2019, adding the ExtendedOverrides element to the manifest, in order to be able to add keyboard shortcuts, the following error is thrown:

Error: The element 'OfficeApp' in namespace 'http://schemas.microsoft.com/office/appforoffice/1.1' has invalid child element 'ExtendedOverrides' in namespace 'http://schemas.microsoft.com/office/appforoffice/1.

[2021-09-20 05:55] exextoc commented on #2130
Thanks for the post @SWei1234 . Can you please let us know the use case of this information so that we can help better?

[2021-09-20 09:11] AlexPhilippov commented on #2051
@xiaochunms, I've tried to simplify the example, but for some reason, it's reproduced only on the original Add-In from our client:
[CE_Macros_SB_Excel_Add-in.zip](https://github.com/OfficeDev/office-js/files/7194628/CE_Macros_SB_Excel_Add-in.zip).
To reproduce you need to
1. install this add-in (Developer -> Excel Add-Ins ... Browse and select attached xlam-file)
2. Add macros Format_Chart from th

[2021-09-20 10:44] stefanoslig commented on #2129
We also have the same issue! Most of the clients are affected by this. Is there any estimation on when there will be a fix for this issue?

[2021-09-20 11:55] mariomash commented on #1959
I did debug the code to actually understand that (probably):

- the dialog is opened  by using `window.open(url, windowName, options)`.
- windowName contains the full serialized context.
- the (chrome) browser is forcing windowName to be `undefined` if it doesn't detect a manual click in a dialog prior to the one we actually want to open, probably anti-phishing.

Then maybe this problem doesn't ha

[2021-09-20 12:01] adamjlow commented on #2129
We are having the same issue too, its having a major impact on our users!

[2021-09-20 13:56] pinchukdiana commented on #2129
@exextoc The issue has a major impact on our customers, can we get some attention to it, please?

[2021-09-20 14:13] barclayadam commented on #1861
Thank you @exextoc

We will be looking at gathering the relevant logs as above this week and sharing them with your as soon as we have them

[2021-09-20 16:07] carlosb1504 commented on #2129
Similar issues here but not exactly the same. We are able to get dialogs to show from the taskpane but, regardless of whether `displayInIframe` is set to true or false, we can't seem to get _any_ dialogs to display from the on-send hook, which is a major part of our implementation.

Any updates from anyone at MS regarding this?

[2021-09-20 16:18] AlexJerabek commented on #2129
Thank you for reporting this issue.

Assigning @exextoc to investigate and tagging @lliu113 to assist.

[2021-09-20 16:19] AlexJerabek commented on #2130
Tagging @ElizabethSamuel-MSFT to follow for potential documentation updates.

[2021-09-20 16:20] AlexJerabek commented on #2131
Hi @careernavigator,

Thank you for reporting this issue. @AbidRahman-MSFT, could you please investigate this?

[2021-09-20 16:21] AlexJerabek commented on #2132
Thanks for reporting this issue @cgaranip.

@AbidRahman-MSFT, could you please investigate?

[2021-09-20 16:23] AlexJerabek commented on #2124
Thank you for reporting this @cidev5.

@lumine2008, could you please investigate?

[2021-09-20 16:25] AlexJerabek commented on #2124
@cidev5, may I also clarify that you're not seeing this issue in the latest available version, correct? Are all your users able to update the the latest version of Excel and avoid this issue?

[2021-09-20 16:37] cidev5 commented on #2124
Hi @AlexJerabek, I myself could not reproduce the issue so I never experienced it. Only one user of our add-in so far had the issue, and after upgrading to what was the latest version at the time no longer experienced it. I do not know if there is a newer still available version and if the user has installed it. Any of our users who might encounter the issue should be able to update to the latest/

[2021-09-20 17:35] rickgoud commented on #2129
@exextoc ; This change really braking every functionality that has pop-ups. Is this treated as a showstopper as it should? Seems that really no dialog works anymore?

[2021-09-20 19:12] AbidRahman-MSFT commented on #2131
Hey @careernavigator - I wasn't able to view the video that you have linked (it takes me to a empty github repo). Can you share a different link to the video?

Also - is this behavior also reproducible on Web? For eg. if using Word on the Edge browser?

[2021-09-20 22:59] t-miyake commented on #2129
@exextoc This is a big issue for my clients (over 120,000 users).
If bug in the product, please announce it to users via Microsoft 365 Message center or Service health.

[2021-09-20 23:29] neville-jones commented on #2129
Minor note, as indicated by @t-miyake you can use the following links to show the `displayDialogAsync` works with `displayInIframe: true` in the previous version, but which fails in current:

- Outlook on the Web previous - https://outlook.office.com/mail/deeplink/compose?popoutv2=1&version=20210419002.11
- Outlook on the Web current - https://outlook.office.com/mail/deeplink/compose?popoutv2=1&ve

[2021-09-21 00:13] albeiroespitia commented on #2129
![its-been-84-years](https://user-images.githubusercontent.com/21091714/134093256-3665da32-5cec-400c-9271-211d7c49c7ee.jpg)

[2021-09-21 01:57] thao33 commented on #2118
@exextoc
Thank you for your support.

Sorry but I don't really understanding how to mixing the two of them.. Could you please guide me more?

Let me describe my add-in scenario.

My add-in basically do 2 things bellow:
1. collect mail subject, body
2. by clicking add-in own "Send" button (not outlook "Send" button) : we not only trigger Exchange server sending client email, but also sending data a

[2021-09-21 01:58] benmcinerney commented on #2088
Hey @AbidRahman-MSFT , any chance of a timeframe for this so that I can plan which course of action to take (ie wait for remedy or plan for workaround)

[2021-09-21 02:00] ghost commented on #2101
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-09-21 02:00] #2101 closed, assigned to exextoc

[2021-09-21 03:38] gitcnd opened #2133 "No way to sideload/test iPad Outlook add-ins, and sideload instructions missing Outlook information"
The doc ( https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac#see-also ) does not include any instructions for testing Outlook add-ins; only for Excel/Word (iOS) and Macbook (missing iOS).

I can see many add-in's available on my iPad (e.g. Evernote), but there is no "Developer" or other "UI" element like the Excel/Word instructions suggest should

[2021-09-21 03:54] IvanFranic commented on #2089
We are impacted by this issue and our users are unable to send email from OWA
They are getting the following error “Janusseal App is working on your request.

[2021-09-21 06:34] careernavigator opened #2134 "Automatically open a task pane with a document."
**Issue Summary**
Automatically open a task pane with a document in office 2019 is causing an issue when user clicks on add-in icon again presented on word toolbar. It would load the add-in in a new task pane window, so user would see two task pane in office 2019.

**Your Environment**
Platform [PC desktop, Mac, iOS, Office on the web]: PC Desktop
Host [Excel, Word, PowerPoint, etc.]: Word
Office

[2021-09-21 07:10] careernavigator commented on #2131
@AbidRahman-MSFT  I have shared the video separately with you, let me know if you are able to see it. And on word web version/online version, currently we are facing some issue, add-in is giving error in word web on edge.

[2021-09-21 08:22] adamjlow commented on #2129
@exextoc are you able to provide any updates on this issue?

I can't express how severe the impact is on our users, is there anything we can to do raise the priority of this?

[2021-09-21 08:52] exextoc commented on #2129
Apologies for the inconvenience caused.

The issue has been fixed and is being pushed out to production.
We will update the thread once the changes are pushed to 100% worldwide.

[2021-09-21 11:01] adamjlow commented on #2129
@exextoc how's the push going, has it reached 100% as we're not seeing the update ourselves?

[2021-09-21 12:27] bdubaut commented on #2129
@exextoc Hi, I have a question regarding the deployment of the fix: there are multiple Office365 update channels:
- current
- Monthly
- Semi-annual
- Semi annual (preview)
- Office insider program

Is the fix being deployed across all channels at once, or our customers that are on a semi-annual channel will need to wait until their next release to get the fix? As you might imagine, this would have

[2021-09-21 13:05] beatrixmorar commented on #1784
@pkkj Hi, could you provide some more details, please? I try to do basically the same thing: store some data in window.localStorage and then later on read it from my dialog. Must mention that I have a SPA (with Vue.js) running in my dialog box.
The data is added to the localStorage as I can see it from the dev tools, but when I open the dialog and access localStorage in dev tools from the dialog,

[2021-09-21 14:02] adamjlow commented on #2129
@exextoc really don't wish to be pushy but any update would be much appreciated.

[2021-09-21 16:09] AlexJerabek commented on #2134
Hi @careernavigator,

Thanks for reporting this. @sohailzafar, could you please take a look?

[2021-09-21 16:11] AlexJerabek commented on #2133
Hi @gitcnd,

Thanks for flagging this documentation gap. I'm going to transfer this issue to our documentation repo. @ElizabethSamuel-MSFT, could you please investigate?

[2021-09-21 16:13] AlexJerabek commented on #2089
Pinging @exextoc to look at @IvanFranic's latest comment.

[2021-09-21 17:46] ghost opened #2135 "Sorting on tables not working after sheet is protected, even with option allowsort set!"
We are facing a big challange. We want our users to see the data in the form of tables and allow them to sort, filter, formatting, etc on them.
But we want to prevent any changes to the data (or part of the data).

To prevent changes we want to protect the sheet. And we hopped that with the options we were able to allow them to sort, filter etc.
But once the sheet is protected, our users can not s

[2021-09-21 17:48] AlexJerabek commented on #2135
Thanks for sharing this issue @ALDriehuis.

@lumine2008, can you please take a look?

[2021-09-21 17:56] jgs-dev commented on #2129
@exextoc 🙏🙏🙏

[2021-09-21 18:03] AbidRahman-MSFT commented on #2088
Hey @benmcinerney - we don't have any updates to share as of now. If your users are on older Office versions, I would suggest planning for a workaround as it will take a few months to roll out any changes that we make to fix the issue.

[2021-09-21 20:53] AbidRahman-MSFT commented on #2132
Hey @cgaranip - thanks for reporting the issue.

We have fixed the namespacing issues in VS 2022, as a workaround for now, you can use the preview version of VS 2022 to add the ExtendedOverrides into the manifest - https://docs.microsoft.com/en-us/visualstudio/releases/2022/release-notes-preview

We will continue to investigate the VS 2019 issue and get back to you with any updates.

[2021-09-21 22:35] neville-jones commented on #2129
Testing has **not** been successful, but we are not sure if our test tenancy has received the fix.

When we compose a new message, and click the icon in upper right to "Open in new window", the message is opened at URL
 https://outlook.office.com/mail/deeplink/compose?popoutv2=1&version=20210913004.08
 which is a different version compared to yesterday (https://outlook.office.com/mail/deeplink/com

[2021-09-21 22:55] t-miyake commented on #2129
I am in a similar situation to @neville-jones.
However, my computer 20210913004.09 is loaded and still not working properly.

Now I have found that the following version exists.
20210913004.10

And I have also confirmed that it works fine if I use this URL
https://outlook.office.com/mail/deeplink/compose?popoutv2=1&version=20210913004.10

@exextoc
I hope the problem is completely fixed in 20210913

[2021-09-21 22:58] neville-jones commented on #2129
Thanks @t-miyake  ; my testing agrees.

Using URL
https://outlook.office.com/mail/deeplink/compose?popoutv2=1&version=20210913004.10
the dialog is successfully displayed in iframe mode.

[2021-09-21 23:57] IvanFranic commented on #2089
Thank you for the ping. We use JanusSeal Web App and in OWA. We are unable to send any emails. Outlook only shows a notification in the upper area of the message bar saying "Janusseal App is working on your request", without ever showing its classification dialog to the sender.

[2021-09-22 00:09] IvanFranic commented on #2129
Hi Neville. The issue still exists in our tenant. We are unable to send any emails using JnausSeal App in OWA

[2021-09-22 00:23] AbidRahman-MSFT commented on #2132
Hey @cgaranip - as a workaround for VS 2019, please try the following:

1. Create a file named `offappmanifest-1.1.xsd`
2. Copy and paste the schema found in https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-owemxml/00e4ee5d-2eb8-47f2-9008-8beb6ff45189 to the blank file created in step 1.
3. Replace the `offappmanifest-1.1.xsd` file at `C:\Program Files (x86)\Microsoft Visual Studi

[2021-09-22 01:02] exextoc commented on #2118
Thanks for clarifying the method used to send the email.

Calling saveAsync in Outlook for Windows will save the message locally (if Outlook is running in cached mode), but there is a delay before the message is synced up to the server. Calling GetItem through makeEwsRequestAsync will return the server's copy of the message, and asking Exchange to send the message also sends the server's copy.

So

[2021-09-22 01:58] SWei1234 commented on #2130
Hi @exextoc and  @ElizabethSamuel-MSFT
Sometimes we want to run some function in add-in only manifest have set a high level permission.
At this time, we might need to know which permission level we have set in manifest. If we can't know the level we might need to make two different add-in(most code is same) Or get an error/exception when trying run this function.
Thanks

[2021-09-22 03:26] qinliuMSFT commented on #2121
Thanks @ndreisg , the issue is reproducible from my side, it has been put on our backlog VSO#5441621, will let you know if we have any updates.

[2021-09-22 04:15] sys0601 opened #2136 "displayDialogAsync breaks Outlook OnSend addins since recent Microsoft Update"
We had working code for an OnSend Outlook addin that was displaying a prompt using displayDialogAsync. It appears to have stopped working. The sample code is included later.

We made no changes to the code. I know that there was an update released by Microsoft for Cross Domain pop-ups and I am wondering if that change accidentally broke OnSend.

## Expected Behavior

Code is similar to the followi

[2021-09-22 04:45] exextoc commented on #1108
This issue is on our backlog. We unfortunately have no timelines to share at this point

[2021-09-22 06:04] thao33 commented on #2118
@exextoc Thank you for quick response.

In our add-in, version #3 is the same version #2, both (out-of-date) are differ from version #1 (it's up-to-date)

[2021-09-22 06:15] stefanoslig commented on #2129
@neville-jones, `20210913004.08` is not the new version. The problem exists also in this version.

[2021-09-22 06:16] exextoc commented on #2129
The issue has been fixed in production. Please let us know if it still reproduces.
Thanks a lot for the patience and we regret any inconvenience.

[2021-09-22 06:35] t-miyake commented on #2129
@exextoc Thank you for fixing the issue!

[2021-09-22 06:41] codexeon commented on #2136
This issue is likely not related to cross origin in your add-in, and similar to this issue: https://github.com/OfficeDev/office-js/issues/2129 which has a fix deployed recently. Could you confirm it is working now for you?

[2021-09-22 07:23] exextoc commented on #2130
This information is currently not exposed. If you need this feature and wish to file a request, please use the link: https://aka.ms/M365dev-suggestions.

[2021-09-22 07:26] bkonic opened #2137 "Paragraphs in tables are not returned (Word 2016 16.0.5188.1000 -Desktop)"
For a task pane add-in in word, we need to get all paragraphs in the document's body - including the text inside the tables.
We use the following code-segment:

[code]

## Environment:
Word 2016 (16.0.5188.1000) 32-Bit
Windows 10
Word Taskpane-Addin
Note: The add-in is rendered in a IE 11 frame due to the version of word.

## Expected behavior
Includes paragraphs in tables

## Current behavior
 Do

[2021-09-22 08:00] sys0601 commented on #2136
Thanks @codexeon. It appears to be working now. We will test over the next few days and report if any problems. Thank you again for your help.

[2021-09-22 09:02] exextoc commented on #2136
Closing the issue. Please reopen if you face the problem again.

[2021-09-22 09:02] #2136 closed, assigned to nobody

[2021-09-22 13:51] dmitry-semenov commented on #1680
![image](https://user-images.githubusercontent.com/17027799/134356262-e961d3e6-3e85-4622-b657-d9e76bcbf303.png)
highlighted user is the one from the video that I sent to @robert-gavrila

[2021-09-22 14:31] somenathmaji commented on #2076
We are able to reproduce this issue in a test angular addin. Here is the link to the test addin [repo](https://github.com/somenathmaji/outlook-test-addin/tree/main)
It's reproducible when we are navigating to another view inside the ItemChanged event handler.
Shall we re-open this ticket?

[2021-09-22 15:02] Gq77 commented on #198
Same issue with a new iMac here, using office 365 for mac.  Cannot connect to Store... any resolution? Microsoft mentions this issue but not other solution - sign out and sign in? STILL not working get add-ins

[2021-09-22 15:20] Medhyena commented on #1891
Hello,

Microsoft tried to validate our Outlook Addin again to publish it on the store and they seem to have this issue currently.

We're going to tell them that they need to re-install the addin but this isn't a viable solution (our best solution was to make an application for the Azure App Gallery to avoid the pre-authorization pop-up).

Any updates on this?

[2021-09-22 15:51] AlexJerabek commented on #2076
Thank you for the test repo and repro steps @somenathmaji.

I'll reopen this issue and ping @exextoc.

[2021-09-22 15:53] AlexJerabek commented on #1891
Hi @Medhyena,
Let me add @slabereemsft to help assist you.

[2021-09-22 16:01] AlexJerabek commented on #198
Hi @Gq77,

I'm sorry to hear you're having issues with the platform. Given the age of this issue, could you create a new issue and provide your add-in's manifest, the steps to reproduce the error, any screenshots of the error? That would help us with the specifics of your problem.

Thank you

[2021-09-22 16:06] AlexJerabek commented on #2137
Thank you for reporting this @bkonic. Does this behavior happen in the latest versions of Word (either the web or desktop version Microsoft 365)? Or is it only on Word 2016?

@AbidRahman-MSFT, could you please follow up and investigate?

[2021-09-22 16:13] questionhead opened #2138 "Outlook can't access Mail Signature"
When I create new message in Outlook, my Email signature should automatically appear in Email.
All I get is this error message:
![grafik](https://user-images.githubusercontent.com/80743016/134381419-06ef84bc-b22e-418c-925c-a731fe0a0c21.png)

Kind regards

[2021-09-22 16:20] AlexJerabek commented on #2138
Hi @questionhead,
I'm sorry to hear you're encountering issues with the platform. I'll tag @exextoc to investigate.

In the meantime, could you please provide some more context for your issue?
- What platform are you on (Desktop, Mac, Online)?
- What build are you on (go to **File** > **Office Account** to see this)?
- How is your add-in currently [deployed](https://docs.microsoft.com/en-us/office

[2021-09-22 17:31] #2132 closed, assigned to AbidRahman-MSFT

[2021-09-22 17:38] aspantel commented on #1100
@jargil WebView2 was not installed. I'll have to open a bug report. The earlier suggested workaround does not help either for some reason. There is something on the JS console after re-registering the event handler:

Agave.HostCall.ReceiveResponse MicrosoftAjax.js (5,25542)
Agave.HostCall.IssueCall MicrosoftAjax.js (5,25542)
Agave.HostCall.ReceiveResponse MicrosoftAjax.js (5,25542)

[2021-09-22 17:55] bkonic commented on #2137
Thanks  @AlexJerabek !
The issue does NOT occur in the latest versions of Word (neiter the web nor desktop Microsoft 365). Only in Word 2016.
Just to be clear: We need it to be working in Word 2016 (16.0.5188.1000) 32-Bit since our customers are currently not able to upgrade .

[2021-09-22 21:43] AbidRahman-MSFT commented on #2123
Hey @rulopimentel - what are you attempting to do with the settings.xml part of the OOxml? Are you trying to turn Track Changes on/off by modifying the xml?

[2021-09-22 21:43] #2120 closed, assigned to AbidRahman-MSFT

[2021-09-22 21:55] AbidRahman-MSFT commented on #2110
Hey @jrpally thanks for reporting the issue. @RuoyingLiang, this looks to be specific to Word on Web, can you please investigate?

[2021-09-22 22:56] IvanFranic commented on #2129
Thank you. I can confirm that the issue is resolved now in our Tenant :-)

[2021-09-23 00:10] jrpally commented on #2110
Ys @AbidRahman-MSFT is specific for Word on Web

[2021-09-23 01:55] exextoc commented on #2089
@IvanFranic A fix for this original issue with the dialog freezing was deployed last week. However, there's similar issue in OWA (#2129) that was just recently fixed.

Could you check the description of #2129 and also check whether your issue still reproes (since the OWA issue was fixed after your original comment)? If it still reproes and #2129 doesn't describe your issue, please open a new issue

[2021-09-23 01:59] exextoc commented on #2089
Closing this issue to reflect that a fix was deployed to Production (as of September 14th).

[2021-09-23 01:59] #2089 closed, assigned to exextoc

[2021-09-23 02:59] rulopimentel commented on #2123
At the moment I would like to know if the Track Changes button is on. Our Add-In loads a remote document to update their content, but when the user leaves the Track Changes button on, and the next document is loaded, calling the context.document.body.clear() and context.document.body.insertFileFromBase64 functions, the new document body is marked as a Track change.

So, if we could know if the Tra

[2021-09-23 07:20] ghost commented on #2135
Hi @lumine2008,

I understand that this case is assigned to you. If I can help you in any way, please let me know. The issue is become more and more urgent every day.
Many thanks!
Lou

[2021-09-23 08:25] bogdan-petre commented on #1286
Issue occurs on Exchange 2019 also. We also fixed it by listening to the message event on window, but still, is there any update on it?

[2021-09-23 08:37] questionhead commented on #2138
What platform are you on (Desktop, Mac, Online)? --> W10 21H1
    What build are you on (go to File > Office Account to see this)? --> Microsoft® Outlook® for Microsoft 365 MSO (16.0.14326.20384) 32-bit
    How is your add-in currently deployed? WebView2
    Was the add-in working and now doesn't? It never worked on my computer. It works on a different computer.

[2021-09-23 09:34] barclayadam commented on #1861
I have uploaded 3 sets of log files to the GitHub repo. Details can be found in the README at https://github.com/barclayadam/office-js-launch-repro/blob/main/README.md#update-23-09-2021

Looking forward to hearing if you can shed any light on what is going on.

And once again, would like to extend the invite to have more direct interaction if it would help to solve this issue

[2021-09-23 09:46] exextoc commented on #2138
Bug 2366604<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/2366604>: [OfficeDev/office-js] Outlook can't access Mail Signature (#2138)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>

From: questionhead ***@***.***>
Date: Thursday, 23 September 2021 at 2:07 PM
To: OfficeDev/office-js ***@***.***>
Cc: Outlook Extensib

[2021-09-23 09:57] gitcnd opened #2139 "iOS Outlook add-ins - unrecoverable lock-up breaks all add-in usage (and maintenance)"
The iOs Add-in UI has three logic errors:
1. The "manage add-ins" button is not shown while add-ins are "initializing" - making it impossible to remove add-ins without "initializing" them first.
2. If *any* add-in fails to load/initialize for any reason, *all* add-ins (and the manage option) are permanently blocked.
3. Add-ins installed in iOS do NOT show up as being installed when loading Outlook

[2021-09-23 10:49] beatrixmorar opened #2140 "Excel Add-in: data stored in localStorage not accessible across sessions"
I have an Excel Add-in build with Office JS API that features custom add-in commands. One of these commands opens a dialog (using the Office Dialog API) which displays a SPA built with Vue.js. I need to store some data to be accessible both from the add-in and dialog. For this purpose, I tried to use the localStorage of the browser, but somehow it seems that the data is not accessible across sessi

[2021-09-23 11:45] gitcnd opened #2141 "(Re-Submission) No way to sideload/test iPad/iPhone Outlook add-ins"
See my comment on the issue you transferred to documentation repo:-
https://github.com/OfficeDev/office-js-docs-pr/issues/2947#issuecomment-925733756

The side-loading method only works for the Android app: it does NOT work for my iPhone.

[2021-09-23 11:50] gitcnd commented on #2139
Update.
I installed Outlook on my iPhone.  More bugs:-

1. No add-ins at all showed up when I logged in to my account on my iPhone
2. I uninstalled and reinstalled one of the add-ins (MojoLaLa) on both my iPhone and my Macbook (OWA)
3. After quitting and restarting Outlook on the iPhone - *all* the apps I had loaded on my iPad suddenly showed up.
4. on my iPhone, I uninstalled all of them
5. This

[2021-09-23 12:02] thao33 commented on #2118
I have more details for this issue.

This reproduce steps are quite the same as the one which i said before at https://github.com/OfficeDev/office-js/issues/2118#issue-994809825
But, important is it has up-to-date body.

## Steps to reproduce
1. Create a draft with subject and body
2. Open draft at step 1
3. Edit body (add more contents)
4. **Save it as draft and leave it**
5. **Back to editing bu

[2021-09-23 12:29] Vineet-Yadav opened #2142 "User with apostrophe in email address is not added in required Attendee using Office API."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have email/room containing apostrophe (first'lastName@mail.com).

**Current behavior**: Using office API (Office.context.mailbox.item.requiredAttendees.addAsync) : "emailAddress":

[2021-09-23 12:37] aspantel opened #2143 "ItemChanged event stops coming after a few form manipulations"
By its symptoms the issue is very similar to this one: https://github.com/OfficeDev/office-js/issues/1100
It's a pinned Outlook addin mode and after a user works with an html form (a few selects, dropdowns changed) the addin stops receiving ItemChanged event.

Will try to collect more info from our customer... For now we've see a couple of different Outlook versions have the problem, i.e. Build 14

[2021-09-23 12:53] exextoc commented on #2141
Sideloaded addins should be available to both Android and iOS. Will it possible for you to share your manifest with us so that we can have a look.

[2021-09-23 13:58] gitcnd commented on #2141
I copied the MojiLaLa manifest, because I wanted to start from a know-to-work-for-sure state. Here is theirs (I use my URLs, not theirs, but everything else is the same - including the icon size and type etc).

[MojoLaLa.zip](https://github.com/OfficeDev/office-js/files/7218218/MojoLaLa.zip)

You can probably edit their manifest and delete the digital signature, and then literally side-load that t

[2021-09-23 13:59] Gq77 commented on #198
Hi Mr. AlexJerabek,
Here is the issue with my office 365 on Mac (screen shot below) I have 3 email accounts for my work; one of those is a
IMAP/POP account.  I understand that it could affect somehow.  But my other accounts are MS exchange.  Please help, I am
a bit confused.  Office 365 version is updated to : 16.53.21091200 as of sep 14 2021
Thanks
![Snip20210923_2](https://user-images.githubuser

[2021-09-23 14:38] exextoc commented on #2067
@MartinSSeifert Gentle ping to provide the above (requested by AkhileshShah-MS) information. Thanks.

[2021-09-23 14:42] exextoc commented on #2139
Thanks for reporting this. We are working on priority for the issue "Your add-ins are initialising" and addin sometimes not available after login. It will be helpful if you can provide us diagnostics log. The steps are:
1. Open the app
2. Open the mail drawer
3. Tap the Settings button
4. Tap Help & Feedback
5. Tap Collect Diagnostics
6. Tap Get Started
7. Tap Collect Logs
8. Wait for the collecti

[2021-09-23 14:48] gitcnd commented on #2139
I'll do that tomorrow (it's late here).  FYI - Side-loading is not working in iOS: Android, Yes, but not iOS.  See https://github.com/OfficeDev/office-js/issues/2141

[2021-09-23 15:50] Ravi060990 commented on #1250
@exextoc , following up to check the status of this fix for SAEC ? My customer is experiencing the same issue for all migrated mailboxes when they reply to emails from sent items and have on premises mailboxes under TO, CC on Version 2102 (Build 13801.20864) .  Thanks!

[2021-09-23 17:24] AlexJerabek commented on #198
Hi @Gq77,
Are you able to connect to the Office Store from your Office 365 apps on Windows or on the web? The message you're seeing is caused by [admin settings](https://answers.microsoft.com/en-us/msoffice/forum/all/office-add-ins-prevented-by-365/e01f07df-618e-4ce7-acf3-cde0973f04da), so we need to verify the behavior is different on Mac versus Windows/Web.

[2021-09-23 17:27] AlexJerabek commented on #2143
Thanks for reporting this issue @yoxel.

@exextoc, could you please investigate?

[2021-09-23 17:29] AlexJerabek commented on #2142
Thanks for reporting this issue @Vineet-Yadav.

@exextoc, could you please investigate?

[2021-09-23 17:36] AlexJerabek commented on #2140
Hi @beatrixmorar,

Have you looked into using our SharedRuntime as a storage solution? Here's a sample showing how to enable the SharedRuntime to share data between a custom function and a taskpane: https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/excel-shared-runtime-global-state

You might also be able to use the [OfficeRuntime.Storage](https://github.com/OfficeDev/PnP-OfficeAddin

[2021-09-23 17:40] jeremy-msft commented on #2140
Assigning over to @lliu113 to assist from the dialog perspective.

[2021-09-23 18:01] AlexJerabek commented on #2129
Thanks for confirming @IvanFranic. I'll close the issue now, but please ping the thread or raise a new issue if anything is still amiss.

[2021-09-23 18:01] #2129 closed, assigned to exextoc

[2021-09-23 18:07] exextoc commented on #2142
Thanks for reporting this issue. We are able to reproduce it. It has been put on our backlog. We unfortunately have no timelines to share at this point.
 

[2021-09-23 18:24] careernavigator commented on #2131
@AlexJerabek @AbidRahman-MSFT Hello, any updates on this issue? please do let me know if any other detail is required on this. Thank you!

[2021-09-23 18:25] careernavigator commented on #2134
@sohailzafar  Hello, any updates on this issue? Please do let me know if any other detail is required on this. Thank you!

[2021-09-23 18:53] MartinSSeifert commented on #2067
@exextoc thx. for the ping - I will ping the customer asking them to deliver the evidence you are looking for. Do you have an official guide or instructions sheet on how to collect the artifacts you described (especially the steps to produce the fiddler trace)?

[2021-09-24 01:21] exextoc commented on #1861
@barclayadam Thank you for sharing the logs.

Some of the logs in GitHub appear to be truncated. For instance, the second App_ file in each directory appears to contain blank lines and the end of the first App_ file also has blank lines. Do you see the same data on your machine, or is it just a problem with the copy in GitHub?

[2021-09-24 04:55] jasonhieu1905 opened #2144 "[WordApp iOS] : api insertHtml with an image tag including src base64 is not working."
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am developing Microsoft Office Addins, when I am trying to use api cc.insertHtml with an image . The image is not showing on ios devices, but working well on windows and macos.

##

[2021-09-24 05:52] RuoyingLiang commented on #2121
@ndreisg We are doing a survey to understand the pain points of add-in’s developing experience. Would you mind to help fill this survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTMqQuVURVE4QkZPREoxOEk1TFEySDMyQTc0U0o0Ti4u ? It should take less than 5 minutes and will be supper helpful for us. Thank you!

[2021-09-24 06:03] RuoyingLiang commented on #2124
@cidev5 We are doing a survey to understand the pain points of add-in’s developing experience. Would you mind to help fill this survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTMqQuVURVE4QkZPREoxOEk1TFEySDMyQTc0U0o0Ti4u ? It should take less than 5 minutes and will be supper helpful for us. Thank you!

[2021-09-24 06:30] beatrixmorar commented on #2140
Thanks for the quick response, @AlexJerabek

I've seen the SharedRuntime approach in the past, will check that out again to see if it fits.
I tried the OfficeRuntime.Storage as well, I already store there some information. But the problem is when I try to read that information from my dialog, I get an error which says that I do not have permission to perform that action:

code: 7000
message: "You

[2021-09-24 06:32] qinliuMSFT commented on #2135
Hi @ALDriehuis , thanks for logging this issue. The issue is reproducible from my side, it has been put on our backlog VSO#5448620, will let you know once we have any updates.

BTW, We are doing a survey to understand the pain points of add-in’s developing experience. Would you mind to help fill this survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTM

[2021-09-24 06:34] gitcnd commented on #2139
I rebooted my iPad - problem still present.
Incident ID is 565PTJMG

[2021-09-24 07:15] barisbikmaz commented on #2144
Inserting an image as base64 with html works on:
- PC,
- Web
- MacOs

but only **not** on ios.
Seems to be a parity problem.

[2021-09-24 08:08] barclayadam commented on #1861
@exextoc that is indeed like the original files. I noticed a few odd lines in some of the files, but otherwise the files are good. To be sure I have uploaded 3x zip files with the original files, to ensure GitHub rendering / download / upload is not causing more issues

I'm sure the blank lines (and basically empty 2nd file) are because Outlook allocates 20mb zeroed files and then writes as much a

[2021-09-24 08:44] exextoc commented on #2139
We are going through the incident ID and working on providing a fix. Meanwhile, you can try to reset the account from settings -> Mail Account -> Reset Account

[2021-09-24 12:18] aspantel commented on #2143
Microsoft Edge Version 93.0.961.52 (Official build) (64-bit)

[2021-09-24 15:36] PRIVERA-IT commented on #2067
Hi AkhileshShah-MS

We are working with the 32-bit version of Microsoft Apps for Enterprise. We have installed around 500 clients with this version, but only a few are suffering with this problem. The fiddler trace I will supply later. Do you know, if fiddler requires local admin rights to install? If yes, we have to install it through our outsourcing partner. That takes a few days.

Regards

[2021-09-24 16:58] AlexJerabek commented on #2144
Thanks for reporting this and providing sample code to reproduce the issue @jasonhieu1905.

@AbidRahman-MSFT, could you please investigate.

[2021-09-24 17:00] Dengshan2018 commented on #2094
@david-ps though I can't repro same issue, there is a clue. we are fixing the issue based on that assumption. Before the fix is made, could you provide the minidump with heap when the issue is repro? then we can verify if the fix can address the issue.

[2021-09-24 17:30] ElizabethSamuel-MSFT commented on #2109
Reopening due to additional comment.

[2021-09-24 18:11] pkkj commented on #1784
I did the test again in the Office version you mentioned. If the taskpane page and the dialog is in the same domain, the localStrorage is working correctly. However, if they are in **different** domains, it won't work as by design. Would you like to verify whether your dialog and taskpane are hosted in the same domain?

You could verify this simple sample code I provide in your machine. Here is th

[2021-09-24 20:28] exextoc commented on #2113
Thanks for your feedback so far. We have updated some of the documentation based on your feedback in other issues. And we're looking into some of the additional issues you brought up.

We mentioned this before but please do open a request for the new APIs here: https://aka.ms/m365dev-suggestions

We'll typically add groups of related APIs in a single release to enable new scenarios. Please conside

[2021-09-25 10:40] tobegg commented on #1071
the same situation only with padding

[2021-09-26 05:38] gingerjia commented on #2107
@Rinzwind We are doing a survey to understand the pain points of add-in’s developing experience. Would you mind to help fill this survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTMqQuVURVE4QkZPREoxOEk1TFEySDMyQTc0U0o0Ti4u ? It should take less than 5 minutes and will be supper helpful for us. Thank you!

[2021-09-26 05:40] gingerjia commented on #2026
@lynneosmith We are doing a survey to understand the pain points of add-in’s developing experience. Would you mind to help fill this survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTMqQuVURVE4QkZPREoxOEk1TFEySDMyQTc0U0o0Ti4u ? It should take less than 5 minutes and will be supper helpful for us. Thank you!

[2021-09-26 09:20] donlvMSFT commented on #1942
Hi @qlikTERror , we found that this issue only happens when the zoom is like 106%, 112%, ..., but not when you click '+' to set zoom like 110%, 120%,....

I wonder that could you using the 110% or this kind of zoom to unblock this scenario?

Thanks in advance.

[2021-09-26 14:44] qlikTERror commented on #1942
@donlvMSFT in which mean? Are you asking me to perform a test to verify your findings or suggesting me to use just zoom percentages that are multiple of 10?

If it is the latter, unfortunately this is not under my control. The code runs in customer environments and requiring their users to use a specific set of zoom levels would be only doable if they would be limitable from code, avoiding them to

[2021-09-27 00:25] Gq77 commented on #198
Mr. Alex, I checked our IT admin settings.  We are not blocked by our IT.  We are a non profit agency, our offc 365 is given to our computers logging thru our office account with a password.  My only conclusion is... because our email here in is an IMAP/POP anticquated type email - not an exchange account;  maybe we are not connecting to the Office Store?  Is all I can think of.

[2021-09-27 02:25] qinliuMSFT commented on #2128
Hi @webartoli , thanks for logging this issue. Unfortunately the source property in Excel.ListDataValidation is not locale supported, it doesn't support parsing list data validation strings using locale-specific separator like UI does. It's a by design behavior, more details please refer to https://docs.microsoft.com/en-us/javascript/api/excel/excel.listdatavalidation?view=excel-js-preview#source.

[2021-09-27 02:46] dingjin-ms commented on #1918
Hi @libjosep , our fix has been rolled out to Excel online. Please feel free to contact me if you still find problems. Thank you!

[2021-09-27 03:24] donlvMSFT commented on #1942
Thanks @qlikTERror for the information, I was just consider if this could unblock your scenario by recommending zooming right now.

We're still under investigation of this issue and thanks for your feedback.

[2021-09-27 05:26] exextoc commented on #2141
I side-loaded the manifest that you provided and I can see it in both iOS and android. Can you first try exactly with the manifest that is attached here before making any change and check.
Also, will like to confirm whether you changed the Id in the manifest. It must be a unique id so you should change it whenever you are making any modification.

[2021-09-27 06:28] beatrixmorar commented on #1784
Hi @pkkj,
Thanks for the example. Indeed, it works as expected.
I think one clue which suggests that my dialog runs in a different session is the Office API client item in the localStorage. If the host and dialog share the same domain, in both cases this value should be the same, right?
The difference in my add-in is that the dialog opens from a custom command from the ribbon, not from taskpane. I

[2021-09-27 07:05] qlikTERror commented on #1942
@donlvMSFT now I understand better. We are not blocked with development for this, in fact I am using exactly your suggestion to be able to move on while waiting for the fix.

[2021-09-27 07:12] gingerjia commented on #2128
@webartoli We are doing a survey to understand the pain points of add-in’s developing experience. Would you mind to help fill this survey https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5eAlIUFFQFHqE95qTMqQuVURVE4QkZPREoxOEk1TFEySDMyQTc0U0o0Ti4u ? It should take less than 5 minutes and will be supper helpful for us. Thank you!

[2021-09-27 07:16] gingerjia commented on #2124
@cidev5, thanks for reporting the issue. But as you cannot repro it, and from the snapshot attached, we also didn't get enough info to help with the further diagnostic. So we would like to revisit it if the issue happens again. Please let us know if have any other concerns. Thanks!

[2021-09-27 10:03] mohamadAtlassian opened #2145 "Office displayDialogAsync is not closing"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Office displayDialogAsync is not closing

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  Web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office v

[2021-09-27 11:39] exextoc commented on #2145
@mohamadAtlassian  We are not able to repro this issue.
Could you please provide the manifest and code snippet to help repro this issue from our side?

[2021-09-27 11:46] mohamadAtlassian commented on #2145
Manifest.xml
[code]

commands.js

[code]

[2021-09-27 12:38] mohamadAtlassian commented on #2145
what more information you need from me.

[2021-09-27 13:02] exextoc commented on #2145
The HTML files aren't there for the dialog to load.
Also, We do not see any DIalog.close() call.
Please zip the entire add-in folder if you want to share your local copy.

You can send the zip to **admin@a830edad9050849405E20081103.onmicrosoft.com**.
Else you can host the files and share the manifest.

[2021-09-27 13:32] DmitryAvanesov commented on #1071
Hello!
I suddenly got the same issue, even though everything was working just fine before.

![image](https://user-images.githubusercontent.com/38003563/134918686-6d39c3b7-781e-4efa-9fef-a82215ab7a58.png)

[2021-09-27 14:47] Alex0cean commented on #1920
Hi @dingjin-ms ,
thanks for letting us know. We have now (sorry for delay due to vacation season) tested the fix and it seems to work fine in the current channels.
However, the error is still reproducible in:
Monthly Enterprise Channel (64 bit) 2107 (14228.20324)
Semi-Annual Enterprise Channel 2102 (13801.20960)

Is that expected or should the fix also be rolled out to those versions?

Best,
Alex

[2021-09-27 15:49] pb-jeff-oneill opened #2146 "Word add-in suddenly disappears from ribbon and needs to be reinstalled"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I've had two different customers report this.

They are using our Word add-in with a task pane.  Suddenly, the task pane disappears and the Word add-in is uninstalled.  They need to r

[2021-09-27 16:52] AlexJerabek commented on #198
@exextoc, could you please investigate @Gq77's latest issues?

[2021-09-27 19:44] pkkj commented on #1784
Hi @beatrixmorar
I create a new manifest based on your description, that the dialog is launched from an custom command in the ribbon. Here is the [link](https://kepengtestapp.azurewebsites.net/manifest/AzureAppCmd.xml), and you can sideload it.

It will set the localStorage data in the Excel cell and show it in the dialog as well. It still works correctly.

![image](https://user-images.githubuserc

[2021-09-27 20:28] AbidRahman-MSFT commented on #2131
@careernavigator - can you please share a snippet of the code (preferably so we can reproduce this bug using ScriptLab)? Please share a gist that can reproduce this behavior when running with ScriptLab. That will help us understand what part of the process is causing the delay and which APIs specifically may be an issue.

[2021-09-27 21:35] AbidRahman-MSFT commented on #2146
Hey @pb-jeff-oneill - thanks for reporting the issue. A few follow up questions to help us investigate:

1. How did the user first acquire the add-in? Was it admin installed or did the user install through AppSource/add-in store in the app?
2. Has the issue ever occurred on Web? Or is it limited to Windows/Mac?
3.  Is this specific to when the add-in receives an update?

This does sound like it co

[2021-09-27 22:34] #2115 closed, assigned to exextoc

[2021-09-27 23:23] david-ps commented on #2094
@Dengshan2018 ok will do

[2021-09-28 03:40] dingjin-ms commented on #1920
Hi @Alex0cean ,
Sorry for the misleading information and thank you for your verification.

The fix is work after build '14309.10000'. It's currently work on Semi-Annual Enterprise Channel (Preview), and would be in Semi-Annual Enterprise channel on around Mar 8th 2022. As for Monthly Enterprise Channel, it would work on next update, around Oct 12th.

[2021-09-28 03:51] exextoc commented on #2145
@mohamadAtlassian We are able to repro the issue. Thanks for reporting this issue regarding displayDialog API in OWA. It has been put on our backlog. We, unfortunately, have no timelines to share at this point.

[2021-09-28 05:11] bkonic commented on #2137
@AlexJerabek  @AbidRahman-MSFT
Do you have an update on the issue? Have you been able to reproduce it?
Thanks for a quick update.

[2021-09-28 07:16] exextoc commented on #1071
@DmitryAvanesov  We are able to repro this issue. It has been put on our backlog for further investigation. We, unfortunately, have no timelines to share at this point

[2021-09-28 07:20] CameronDwyer commented on #1071
I was about to log Microsoft support call and probably still will as we have our commercial add-ins hit by this problem again. Please fix ASAP.

[2021-09-28 10:10] gitcnd opened #2147 "Add-in panel CSS incorrectly adds unwanted scroll bars (ms-Panel-content height is wrong)"
I notice today that all add-ins now have unwanted scroll bars that show up when not needed, and overlap our add-in UI (the unwanted right scroll bar goes over the top of the right-hand side of our add-in, which causes an unwanted bottom side-ways scroll bar to show up as well.)

I notice that if I modify the "ms-Panel-content" CSS height calculation (the amount subtracted) that the problem goes aw

[2021-09-28 11:44] mohamadAtlassian opened #2148 "Office.context.roamingSettings return credentials of other users"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]:  Web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: 365
* Operating System: Windows 10
* Browser (if using Office on the web): Web

## Expected behavior
We usually save user login credentials in Office.context.roamingSettings just for not asking user to signin every time he/she uses the add-in. Off

[2021-09-28 12:14] ghost commented on #2131
@AbidRahman-MSFT For Point 1 mentioned in the repro steps (clicking on linked cell in document automatically navigates to particular page of word add-in), we are using below API:

**Office.context.document.addHandlerAsync(Office.EventType.DocumentSelectionChanged, (eventArgs: any) => this.clickEventHandlerWord(self));**

[2021-09-28 12:21] ghost commented on #2127
Team - Could you please share updates on this ticket?

[2021-09-28 12:22] ghost commented on #2134
@AlexJerabek @sohailzafar
Team - Could you please share updates on this ticket?

[2021-09-28 14:38] jmayermsi commented on #2119
Anything on this? Not understanding why Edge Chromium is only supported on Office 365 and apparently Office 2021 Pro

[2021-09-28 16:04] AlexJerabek commented on #2134
Tagging @AbidRahman-MSFT to increase visibility.

[2021-09-28 17:40] AbidRahman-MSFT commented on #2127
Hey @ShahViral6438,

The right-click context menu is dependent on the browser runtime being used by the add-in.

The following documentation lists the different browsers that are currently being used: [Browsers used by Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)

You will notice that for Office 2019, the browser runtime is IE11,

[2021-09-28 17:56] JuaneloJuanelo commented on #1071
hello folks. The team already investigated this issue, there is a fix done, we are in the process of checking it in and rollout. Thanks so much for reporting this issue, we will investigate what is causing this regression, but in the meantime expect the fix rolling out soon.

[2021-09-28 21:10] exextoc commented on #1250
Thanks for following up.  The fix will be in the next SAC-T release, sometime in January 2022.

[2021-09-28 22:37] exextoc commented on #2138
Is this an add-in that you are developing or are you trying to use a specific add-in?
The error you are seeing usually means that the add-in server can't be reached.

[2021-09-28 23:15] exextoc commented on #2143
A possible workaround is to upgrade to a newer versions, so add-ins are rendered using Edge Webview2.  Details about what versions that Webview2 are supported can be found [here](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) and [here](https://developer.microsoft.com/en-us/office/blogs/announcing-webview2-for-office-add-ins-platform/).

[2021-09-28 23:35] CameronDwyer commented on #1071
Thanks for the updated timeline on the fix Juan ❤

[2021-09-29 04:46] exextoc commented on #2147
Thanks for reporting this issue and suggestions. This issue has already been reported here #1071 . We are currently working on rolling out the fix. Please follow #1071 for more updates on the same.

[2021-09-29 05:06] exextoc commented on #2148
@mohamadAtlassian  While the Outlook add-in API limits access to these settings to only the add-in that created them, these settings should not be considered secure storage. They can be accessed by Exchange Web Services or Extended MAPI. They should not be used to store sensitive information such as user credentials or security tokens. We have documented this [here](https://docs.microsoft.com/en-u

[2021-09-29 05:30] MartinSSeifert commented on #2138
@exextoc it is this add-in: https://appsource.microsoft.com/en-us/product/office/WA200003062

[2021-09-29 05:32] MartinSSeifert commented on #2138
@exextoc can you evaluate under what circumstances the Outlook host is triggered to show the message reported in this issue?

[2021-09-29 05:47] honxmsft commented on #2078
The fix of this bug is checked in. It might take a month for desktop version to ship the fix. Let me know if you have any further question.

[2021-09-29 06:30] mayanagi opened #2201 "When you create a message by profile card, cannot retrieve recipients' DisplayName."
When you create a message by clicking an email address in the profile card like the picture below, add-ins cannot get recipient's DisplayName.

![image](https://user-images.githubusercontent.com/60973869/135213664-82385bc0-2940-4c81-85ec-c65a41a20fa1.png)

I assume that this behavior is by design.
That's because I understand add-in can get recipient's DisplayName from the name-resolved value in a

[2021-09-29 06:32] thao33 commented on #2118
@exextoc I am sorry to rush you, but any update on this issue? Our clients still facing this.. So hope to hear from you soon.

[2021-09-29 09:35] mohamadAtlassian commented on #2148
1.  Yes, setting saved in one user mailbox is getting retrieved from a different user mailbox.
2. They both have the same domain email address (e.g. alice@example.com and bob@example.com), using office 365.

What are the alternative to save user credentials in mailbox if roamingSettings not secure ?

[2021-09-29 11:47] dennismeissel opened #2149 "Pressing two times on the created ribbon-button stops the debugging session"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Environment

* Platform: Desktop PC
* Host: Word or Excel, started from Visual Studio 2019
* Office version number: 2108 (Microsoft Office Home and Business 2019)
* Operating Syste

[2021-09-29 12:23] #2147 closed, assigned to nobody

[2021-09-29 13:23] moshikonachmias commented on #2089
Thank you @exextoc for the fix.
Can you please advise how long, and when, the caches on Outlook Desktop clear?
Attempting to uninstall and reinstall the add-in seems to have no effect.

[2021-09-29 14:19] gitcnd commented on #1071
Maybe do not close this until it is **_actually_** fixed?  10 hours have passed, and it's still broken for me on every browser I tested.

[2021-09-29 14:26] Gq77 commented on #198
Hi @AlexJerabek,  in Office 365 -2016 -2019 MAC/WINDOWS both the Office Store won't open or interact with any suscription if the emails in use are not exchange or outlook based emails.  I just tested this issue.  Adding a personal email from Live.com.  When added, the Office Store immediately opened, in Word Excel and Power Point Of course, case in point.  This email is my personal email, cannot u

[2021-09-29 14:47] exextoc commented on #1071
@gitcnd  This issue is still open. The duplicate issue #2147 was closed. We will update this thread once the fix is rolled out.

[2021-09-29 16:20] AlexJerabek commented on #2201
Hi @mayanagi,

Thank you for pointing out this behavior discrepancy. @ElizabethSamuel-MSFT, could you please investigate?

[2021-09-29 16:23] exextoc commented on #2148
Please explore the authentication options supported by Outlook Add-ins [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/authentication#:~:text=%20Authentication%20options%20in%20Outlook%20add-ins%20%201,third-party%20services%20that%20support%20OAuth2%20for...%20More%20) and check if this matches with your requirements.
It would be helpful if you can share the repro steps and tes

[2021-09-29 17:43] exextoc commented on #2118
A delay is expected for the item to reach the server. Do you have an add-in backend?

[2021-09-29 18:50] pb-jeff-oneill commented on #2146
Hi @AbidRahman-MSFT, thank you for getting back to me.

One user installed from the ribbon in Word (Insert -> Add-Ins) and the other installed from AppSource.

Only on Windows/Mac.  Very few, if any, of my customers use browser-based Word.

No, my add-in was last updated on July 5, 2021.

[2021-09-29 18:53] exextoc commented on #2138
If we cannot reach the add-in's server, we will fail to download the JavaScript file associated with the add-in.
The file is downloaded to a path with the following format:
`%LOCALAPPDATA%\Microsoft\Office\16.0\Wef\{[Outlook profile GUID]}\[encoding]\Javascript\[Add-in ID]_[Add-in Version]_[locale]\bundle.js`
Can you check to see if such path/file exists locally on the computer where you are runni

[2021-09-29 19:00] ghost commented on #2131
@AbidRahman-MSFT - Please find attached demo project for further analysis.

[WordAddInDemoProject.zip](https://github.com/OfficeDev/office-js/files/7254381/WordAddInDemoProject.zip)

[2021-09-29 19:23] barclayadam commented on #1861
@exextoc do we know yet if those logs are of any help at all? Quite a lot of information to digest I accept, was hoping there may be something to come from them at all?

[2021-09-29 19:25] MartinSSeifert commented on #2138
@questionhead would you mind checking the input coming from @exextoc - thank you.

[2021-09-30 00:50] jaime-rivas opened #2150 "Feature: Office JS Save and Close methods for Word, Excel and PowerPoint"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Office JS Save and Close methods for Word, Excel and PowerPoint

Hello!

These are two features which we are extremely interested in. I've been asking in many Community Calls but I

[2021-09-30 00:57] renqi2018 commented on #2121
@ndreisg, could you please contact me (qren@microsoft.com), we need some business justification to apply the fix to PROD channel.

[2021-09-30 05:24] sys0601 opened #2151 "Office.context.mailbox.item.body.getAsync drops line breaks in compose mode in OWA"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
Office.context.mailbox.item.body.getAsync() drops line breaks when used in Outlook OWA in Compose Mode.

It works ok in Read

[2021-09-30 05:35] exextoc commented on #2067
Local admin rights are not required to install fiddler.
You can just install fiddler, start fiddler, open word, go the admin managed tab, close fiddler
Along with fiddler send us the tenant domain and affected user.
Is this limited to word only or other apps are also not receiving any addins?

**Send those logs to addin-help@outlook.com**

[2021-09-30 06:58] ghost commented on #2127
@AbidRahman-MSFT
Thanks for response.
Is there any way to customize right click context menu to have that "Open Link" option? If you / your team are not the right point of contact to answer on this ask, could you please forward this ticket to respective team / person?

[2021-09-30 07:04] exextoc commented on #2151
Thanks for reporting this issue regarding the body.getAsync API in OWA.  It has been put on our backlog. We, unfortunately, have no timelines to share at this point.
Internal tracking id: Office: 2380361

[2021-09-30 09:22] sys0601 commented on #2151
Thanks. Is there anyway it could be prioritized. It is very difficult to use in its current form as words end up getting combined.

[2021-09-30 10:16] GeorgHue opened #2156 "Word addin proactively rejects IE 11"
Hi there,

I am running addin tests using Windows 10 21H1 and Microsoft Word 2016 (16.0.5188.1000) MSO (16.0.5215.1000) 32-Bit volume license edition.

The addin cannot be loaded: "ADD-IN ERROR Sorry, we couldn't load the add-in because your browser version is not supported. Click here for a list of supported browser versions".

Does that mean that every office version using IE 11 for addins is no

[2021-09-30 10:28] exextoc commented on #2151
@sys0601  As a workaround to this issue, Could you try using the API with CoercionType.Html to get the line breaks.

[2021-09-30 14:13] christian-sap commented on #1958
Hi @keyur32 , is there any update? Add-ins are not working if 3rd party cookies are disabled. This will be a blocker for some of our customers.

[2021-09-30 15:12] agelenava commented on #746
Hi @exextoc, are there any updates here?

[2021-09-30 15:45] exextoc commented on #1071
The fix has been rolled out. Thank you for your patience.

[2021-09-30 16:32] alanlemarquand opened #2152 "OfficeRuntime.auth.getAccessToken hanging after recent update"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When trying to get a Token during the new email event on Outlook Desktop.  This call
`const token = await OfficeRuntime.auth.getAccessToken({ allowConsentPrompt: false, allowSignInPro

[2021-09-30 16:59] chiz-ms commented on #2150
Thank you for this feature request. We track Office Add-in feature requests on our [Microsoft 365 Developer Platform Ideas Forum](https://aka.ms/m365dev-suggestions). Please see if your feature has already been requested or request a new feature. Feature requests are considered when we go through our planning process.

Thanks,
Microsoft 365 Developer Platform team

[2021-09-30 17:15] cidev5 opened #2153 "Excel Add-in: add-in misbehaving on Windows version 10.0.19043 and Office version 2018 Build 14326.20404"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have an add-in that has stopped behaving correctly for a client that has updated their OS and Excel to the mentioned versions.

I was able to reproduce the issue and it appears pre

[2021-09-30 20:58] exextoc commented on #2076
If you navigate to a different webpage within the taskpane, you need to ensure that the new webpage has OfficeJS and also re-registers for events so that we get the new callbacks. Otherwise, events won't get to the add-in. So the new webpage should also have office.initialize.

[2021-09-30 22:02] sys0601 commented on #2151
Thanks. This will do for now but it would be great to get a fix as the HTML may caused it's own issues depending on the use case (it is ok for my needs for now).

[2021-09-30 22:28] thao33 commented on #2118
@exextoc
We already try to adding setTimeout to getItemId/saveAsync step but nothing changed..

[code]

For sending data to our server? Yes !

[2021-09-30 22:44] nsakar opened #2154 "Microsoft 365 Version 2108 On windows 10 has made range value context.sync super slow"
A range array created in typescript [proxy obects] takes very long to synchronize on excel sheet with upgrade to version 2108. This was working fine with version 2102 and shared runtime.  have edge and webview2  version 94.0.992.31. The excell addin is virtually unusable on this office version.
Please help urgently. The addins are in production and working great with office 2102.

## Expected Beha

[2021-09-30 22:56] rm2631 commented on #2154
We've been debugging for this for 2 days. Thanks.

[2021-09-30 22:59] david-ps commented on #2094
@Dengshan2018 Here is a snapshot taken when issue occured. Thanks for your help.
[Heap-20211001T084259.zip](https://github.com/OfficeDev/office-js/files/7262939/Heap-20211001T084259.zip)

[2021-09-30 23:05] erharvey commented on #2154
Same issue on our side.
The plugin works perfectly on 2105 put becomes painfully slow with 2108 and 2109. Setting range values even without using untrack is now slow for a 120x200 range. We see the cursor reloading as if it is not a single batch command anymore but many small requests (As if we were looping instead of batching the set values commands).

We are using the following code before a con

[2021-09-30 23:51] cidev5 commented on #2153
I believe I've identified where the issues are manifested in our code.

We have this method that is called at a 30 second interval:

![image](https://user-images.githubusercontent.com/22505624/135544818-960e8f4f-74d4-4248-9e6c-ebd56c8c160d.png)

I expect the console.log to print to the console every 30 seconds, and it does so normally. However, under the conditions I've indicated above the console

[2021-10-01 01:26] nsakar commented on #2154
In addition Grouping api does not function. No rows are displayed: We need an immediate fix
 public async GroupRows(workSheetName: string, map: Map<string, RowGroupObject>) {

        await Excel.run({ delayForCellEdit: true }, async function (context) {

            var sheet = context.workbook.worksheets.getItem(workSheetName);

            map.forEach((val, key) => {
                // iterate

[2021-10-01 03:06] DmitryAvanesov commented on #1071
Yes, it seems to be fixed now. Thank you guys!

[2021-10-01 03:06] exextoc commented on #746
@agelenava  This issue is fixed and the fix is available in the latest version of Mac Outlook.

[2021-10-01 03:07] #746 closed, assigned to macOutlookExtensibility

[2021-10-01 05:57] exextoc commented on #2075
We have fixed the bug and the fix should be available in build 16.55.21092802 or later. When an updated build is available depends on the release channel a customer is on. The latest build can be accessed by joining [Office Insiders Program](16.55.21092802).

[2021-10-01 05:57] #2075 closed, assigned to exextoc

[2021-10-01 07:53] FromPerm opened #2155 "Add-In doesn't show update ability when new version is available in store."
When new version of [Add-in](https://appsource.microsoft.com/en-us/product/office/wa104379640?tab=overview) is available in MS store our clients don't see any information about update ability.

## Your Environment
PC, Excel, Microsoft 365 Version 2107(Build 14228.20250) 64 bit, Windows 10

## Expected behavior
After new version of add-in is available in MS store it automatically should show update

[2021-10-01 09:21] honxmsft commented on #2154
@nsakar What kind of values do you put into the range? Are they just plain text? Will the range contain the formula or date string?

[2021-10-01 09:25] honxmsft commented on #2154
@erharvey I'm not pretty sure about the cursor reloading behavior. Are you saying the values in Excel appear one by one which does not look like batch, but you are actually putting the value in a batch, so this confuse you?

Can you explain more? Is it possible to have a gif or video for that?

[2021-10-01 10:12] honxmsft commented on #2154
We find a suspicious issue causing the performance issue, which drops about 90% perf. The fix of it will be checked soon. I'll update the thread after the change is checked-in.

@nsakar Can you provide a sample code for the group issue? I've tried such code but it works fine.

[code]

[2021-10-01 12:32] razor1299 commented on #2154
Same issue.
The plugin works perfectly but big performance issue which drops with the version Excel 2108. I try different format string, int, with formula without formula etc.
it's an urgent problem.
Thank you.

[2021-10-01 15:19] gingerjia commented on #2154
@razor1299 @nsakar @rm2631 @erharvey sorry for the impact! We are working hard to deploy the fix for the suspicious causing the perf regression. At same time, we also try to mitigate the issue by turn off the regression code. Can you help  to double confirm the issue is disappearing by end of tomorrow? If you still hit the perf issue, please help to let me know your build number then I do further

[2021-10-01 15:29] erharvey commented on #2154
Hi @gingerjia , yes we will try it by tomorrow.

[2021-10-01 15:50] nsakar commented on #2154
I already attached in comments below but providing again:
 public async GroupRows(workSheetName: string, map: Map<string, RowGroupObject>) {

        await Excel.run({ delayForCellEdit: true }, async function (context) {

            var sheet = context.workbook.worksheets.getItem(workSheetName);

            map.forEach((val, key) => {
                // iterate through the map to create row grou

[2021-10-01 15:59] somenathmaji commented on #2076
@exextoc We are not navigating to a different webpage. It's an Angular app and we are navigating to a different view.
The `ItemChanged` events handler used to work with Edge HTML and it's working in WebView2.

[2021-10-01 16:44] cidev2 commented on #2153
Hi,

Could you please treat this with high priority? It's making our enterprise application unusable since it's affecting the authentication and authorization.

Thanks,
Petre Lukarov

[2021-10-01 18:00] ghost commented on #1918
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-01 18:25] slabereemsft commented on #1891
@mattgeim - Can you take this one?

[2021-10-01 18:51] ElizabethSamuel-MSFT commented on #2156
@GeorgHue Sorry to hear that you hit this issue and thanks for letting us know.

@Rick-Kirkham Can you take a look?

Thanks.

[2021-10-01 21:42] david-ps commented on #235
@ElizabethSamuel-MSFT Any ETA or update on this?

[2021-10-01 22:01] exextoc commented on #2152
`OfficeRuntime.auth.getAccessToken` and related APIs, are currently blocked for Event-Based Add-ins. See this link: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#event-based-activation-behavior-and-limitations

We recently unblocked it, however, we haven't rolled it out broadly to everyone yet.
We will update our documentation very soon with information about SSO support f

[2021-10-02 15:47] careernavigator commented on #2134
Team - Could you please share updates on this ticket?

[2021-10-03 00:58] david-ps commented on #2094
@Dengshan2018 I noticed that after Heap Snapshot the issue is resolved and the app becomes active. Do Snapshots start with Garbage Collection so this might be the reason it is resolved? Here another snapshot that when taken, resolved the issue:
[Heap-20211003T105427.zip](https://github.com/OfficeDev/office-js/files/7272489/Heap-20211003T105427.zip)

[2021-10-03 04:00] jrpally opened #2157 "Unable to show Addin while sideloading in MAC."
As you can see I have the file in the right WEF folder in MAC

But I can't see the Addin. I downloaded Word via Apps for MAC
![image](https://user-images.githubusercontent.com/8353590/135739122-c039fe9c-571b-40b4-978a-ba1562d94bf6.png)

[2021-10-03 04:28] Dengshan2018 commented on #2094
@david-ps thanks for providing the dump. There is potential fix in 16.0.14530.20000+. It could be available next week. You can try the beta.
Once put excel in background for 20 more seconds, the issue could be resolved automatically.

[2021-10-03 06:00] ghost commented on #2044
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-03 11:14] david-ps commented on #2094
@Dengshan2018 Thanks I will check the beta. Putting Excel in the Background does not reliably resolve the issue.
Can you say why the problem seems to be resolved after a Garbage Collection related to the Edge Heap Dump?

[2021-10-03 21:00] ghost commented on #2138
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-03 21:35] erharvey commented on #2154
We tested this morning with both 2105 and 2109 and it seems to work fine now.

Thanks

[2021-10-04 00:06] rm2631 commented on #2154
Can confirm also. It is solved. Thank you.

[2021-10-04 03:38] #1071 closed, assigned to exextoc

[2021-10-04 05:55] questionhead commented on #2138
@exextoc The path file exists, path and everything is correct.

[2021-10-04 08:16] saivishnutammineni opened #2158 "Table column cell value is not reflected after updating"
I am creating a excel add in, which would read data from table in a excel sheet, perform some calculation, update some columns in the table.

When the writing back to excel is complete, only few of the updated cells reflect the change. Others show old values.

* Platform [PC desktop, Mac, iOS, Office on the web]:  WEB
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: O365 Buil

[2021-10-04 09:00] ghost commented on #2141
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-04 11:52] razor1299 commented on #2154
Problem solved. Thank you.

[2021-10-04 19:18] jaime-rivas commented on #2150
Thank you! Leaving the link to this request in the Platform Ideas Forum:

https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/office-js-save-and-close-methods-for-word-excel-and-powerpoint/idi-p/2800214

[2021-10-04 20:33] ElizabethFerriss opened #2159 "Add-in error right after update"
Shortly after receiving official approval of the manifest containing the latest update of our [add-in](https://appsource.microsoft.com/en-us/product/office/wa104379640?tab=overview) (Version 3.3.4.1) was approved last Friday, I uninstalled and then re-installed the add-in through Insert → My Add-ins.

## Your Environment
* Platform [PC desktop, Mac, iOS, Office on the web]: Mac
* Host [Excel, Word

[2021-10-04 22:07] AbidRahman-MSFT commented on #2134
Hey @careernavigator - we are investigating the issue. We have opened an internal bug (#5472999) to help track progress, we will let you know as soon as we find out more.

In the possible case that this is a bug, it will take us some time to prioritize and fix for Office 2019. I would highly suggest avoiding this user flow or attempting to find workarounds if you are looking for a quick solution.

[2021-10-05 06:00] ghost commented on #2116
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-05 11:34] alanlemarquand commented on #2152
Is there any details on when the general rollout will be? We're looking to release the add-in for Outlook Desktop and this is the last part we need.

[2021-10-05 12:16] gitcnd commented on #2139
Can you please find and remove this bug?

There is *no way* to fix this problem at my end.  I've tried:
1. resetting the app from settings
2. deleting my mail account and re-adding it
3. resetting the app, *and* deleting my account, *and* uninstalling the outlook app, then re-installing, re-adding my account.

Nothing I try solves the problem.

If this is happening to me, now, it will be happening

[2021-10-05 12:17] gitcnd commented on #2139
I noticed, when resetting my app, that in the "Setting" screen, this is also a setting page labelled "Add ins" - this too locks up, the same as the add-in menu when clicking on the "..." from an email.

[2021-10-05 14:09] bagulin commented on #233
@lumine2008 I have the same issue for Excel only (in Word code works fine)
code to reproduce:
[code]

[2021-10-05 17:44] cidev5 commented on #2153
Is there any movement on this, or at least a suggestion of a way we can circumvent the issue? Have you been able to reproduce it?

~~From what I can tell `OfficeRuntime.storage.setItem` is simply not setting the item to storage or something is immediately clearing it out of storage.~~

~~I've tested trying to set a simple test key/value pair and inspect Local Storage within Microsoft Edge DevTools

[2021-10-06 00:00] ghost commented on #1918
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-06 04:07] madhavagrawal17 commented on #2153
@cidev5, I tried to reproduce this issue locally but OfficeRuntime.storage.* APIs are working properly for me.  We handle OfficeRuntime.storage.* APIs differently for SharedRuntime and Non-SharedRuntime scenario. So, I want to understand if your add-in is a SharedRuntime add-in or not. In order to debug this issue could you please provide us below details:
1. Manifest file of the add-in (If you ha

[2021-10-06 06:31] libjosep opened #2160 "Office.js not detecting content controls"
I have a document with two content controls. I am using office.js to print the text in all the content controls, but it is not printing the text for all the content controls. I have added a VBA to achieve the same and it is printing the text for all the content controls.

    Sub getCCText()

        Dim ContentControl As ContentControl

        For Each ContentControl In ActiveDocument.ContentCon

[2021-10-06 07:58] gitcnd opened #2161 "Outlook Add-ins do not work on iPad"
## Expected Behavior
Can load and use add-ins

## Current Behavior
a. on first-run of outlook after a fresh install, it wrongly reports "add ins have been disabled by your organisation"
b. close and re-start outlook, and then then both add-ins sub-menus (the ... menu from in a message, and the add-in settings menu item) hang forever on a loading screen.

## Steps to Reproduce, or Live Example
Set

[2021-10-06 08:00] ghost commented on #2044
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-10-06 08:00] #2044 closed, assigned to exextoc

[2021-10-06 08:22] exextoc commented on #2139
We are working on this on priority and will update once fix will be available.

[2021-10-06 12:45] exextoc commented on #2161
Thanks for reporting this issue . It has been put on our backlog. We unfortunately have no timelines to share at this point  but we are looking to it on priority

[2021-10-06 13:19] YossiCohen opened #2162 "Icons missing in the Mac ribbon"
I've created a simple add-in for Excel by using OfficeJS.
Everything worked fine when I've tried to use it on a Windows machine and on Excel for Web (in chrome browser).
When I tried to use the add-in on a Mac the add-in worked but I couldn't see the ribbon icons.

I thought that the icon was corrupted as suggested here: https://stackoverflow.com/a/53367657/1726419 so I've used the icon from the t

[2021-10-06 13:56] cidev5 commented on #2153
@madhavagrawal17 Thank you for the reply.

Our add-in does not use the SharedRuntime. I understand the browser it uses is IE11 when the Webview2 runtime is not installed. The problem as I mentioned is apparent in Legacy Edge only.

Regarding 1. I have sent you an email indicating the name of the add-in in the store. We wish to not publicize it as it is intended for our clients and not the general

[2021-10-06 14:05] vdboots opened #2163 "Outlook Autorun setSignatureAsync moves focus to mailbox"
## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: Office on the web
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: Web
* Operating System: ______
* Browser (if using Office on the web): Edge(Chromium)

## Expected behavior
Inserts the signature while user can continue typing mailadres

## Current behavior
In the browser the cursor moves from the "

[2021-10-06 14:32] christian-sap commented on #1958
Hi @keyur32 , is there any result of the investigation?

[2021-10-06 16:17] GeorgHue commented on #2156
I repeated my tests and I observed on the test system that IE was **disabled** in "control panel | Programs and features | Turn windows features on or off". Office had no chance to load IE.

So I have to modify my questions: Are addins in Office 2016 volume license edition are still usable if IE is disabled? Is it possible to switch to another addin browser in such cases?

Many greetings
George

[2021-10-06 16:21] AbidRahman-MSFT commented on #2156
Hey @GeorgHue - if you are using Word on Windows in Office 2016, unfortunately IE is the only browser that can run Office Add-ins. You can of course use Word on Web where add-ins can run on the underlying browser (for e.g. running Word in the Edge browser will use the Edge browser as the add-in runtime).

The webpage [here](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used

[2021-10-06 16:24] AbidRahman-MSFT commented on #2160
Hey @libjosep,

Unfortunately this behavior is by design. We do not currently support plain text content controls in the Office JS platform. The content control APIs will only return rich text content controls. This is noted in the header of the following documentation: https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=word-js-preview

[2021-10-06 16:24] #2160 closed, assigned to nobody

[2021-10-06 17:45] nancy-wang commented on #2201
@ElizabethSamuel-MSFT - following up on this to see if we've addressed the discrepancy outlined above. thank you!

[2021-10-06 17:49] nancy-wang commented on #2157
thanks so much for this feedback @jrpally! Tagging @AbidRahman-MSFT - Abid, might you be able to see what the source of this issue is?

[2021-10-06 17:51] AbidRahman-MSFT commented on #2157
Hey @jrpally - this issue can arise if the manifest is not valid. Are you having these issues after modifying the manifest? Does it occur on a brand new manifest that was generated with yeoman generator?

[2021-10-06 17:51] nancy-wang commented on #2163
thank you for sharing this feedback with our team @vdboots! Connecting you with @exextoc who may be able to help here.

[2021-10-06 17:55] jrpally commented on #2157
HI @AbidRahman-MSFT. I would say that I modified the manifest to write my app, yes initially I used yeoman. Can I provide the manifest to you by email? If you can provide me your email please?

[2021-10-06 17:55] nancy-wang commented on #2162
thanks so much for sharing this feedback with us @YossiCohen! Connecting you with @gingerjia who may be able to help figure out what's going on here.

[2021-10-06 17:57] AbidRahman-MSFT commented on #2157
Hey @jrpally - are you having the same issue with a brand new manifest? Or does the issue only occur with your modified manifest?

If the issue is only with your modified manifest, I would first suggest validating the manifest using the tools we have here: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest

[2021-10-06 18:06] jrpally commented on #2157
Hi @AbidRahman-MSFT

I got:
Error # 1:
XML Schema Validation Error: Error found during XML Schema validation.
  - Details: The element 'VersionOverrides' in namespace 'http://schemas.microsoft.com/office/taskpaneappversionoverrides' has invalid child element 'Hosts' in namespace 'http://schemas.microsoft.com/office/taskpaneappversionoverrides'. List of possible elements expected: 'EquivalentAddins

[2021-10-06 18:10] AbidRahman-MSFT commented on #2157
Hey @jrpally, you can alter the xml manifest directly and update the instance in the wef folder to see if it fixes the sideloading issue. Once the validator issues are resolved and the manifest passes validation, it should display as expected when trying to sideload.

I'm also including @madhavagrawal17 for any specific questions you may have around the manifest.

[2021-10-06 21:05] jrpally commented on #2157
Hi @AbidRahman-MSFT just curious why Word for desktop not validating the manifest? Same with Word for Web, my manifest works there. Backward compatibility?

[2021-10-06 23:15] liaofranku opened #2164 "OAuth dialog not completing for Outlook add-in in specific browsers."
From the main add-in process, we use `Office.context.ui.displayDialogAsync` to start a Google sign-in dialog.

After authentication succeeds in the dialog, Google sign-in redirects to [this HTML file](https://addin.meet/static/oauth_redirector.html) which messages the main process which is listening for a token.

Recently (within the last 2-3 days), this flow stopped working due to an Office.js er

[2021-10-07 03:26] exextoc commented on #2163
we tried the same scenario which is mentioned above but i am able to see that cursor at To field when setSignatureAsync API is called ..Can you please shared the code snippet for us to try to repro this issue??

[2021-10-07 05:42] GeorgHue commented on #2156
Hey @AbidRahman-MSFT, thank you very much for the information. I will close this issue now.

[2021-10-07 05:42] #2156 closed, assigned to AbidRahman-MSFT

[2021-10-07 09:50] YossiCohen commented on #2162
Is there any errors log that can be enabled to see what went wrong?

[2021-10-07 09:58] JackTheDane commented on #2125
Hi team,

Is there any progress or timeline for this bug at the moment? Our solution relies heavily on actionable messages to authenticate our users, and we've had to ask our users to open the taskpane manually for nearly a month at this point.

![image](https://user-images.githubusercontent.com/35668734/136362951-e5690cf7-1002-4153-8998-f128ef62d7ac.png)

Any information you could share would be

[2021-10-07 11:00] ghost commented on #2141
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-10-07 11:00] #2141 closed, assigned to exextoc

[2021-10-07 12:47] gingerjia commented on #2154
@erharvey, @rm2631 and @razor1299 thanks very much for helping confirm the fix! I will close this thread.
If have any issues or concerns, please feel free to let us know!

[2021-10-07 12:47] gingerjia commented on #2154
@erharvey, @rm2631 and @razor1299 thanks very much for helping confirm the fix!
If have any issues in future, please feel free to let us know!

[2021-10-07 13:10] tayokens opened #2165 "Access mailbox.item on select"
Is there any plan on giving Outlook 365 Addins (mobile and desktop) the ability to access items in the inbox once selected, without the need of opening the item and pushing the Addin button?

And more, modify the content of the email before showing it to the user.

I'd find this very useful in so many scenarios, being able to scan the contents of the email (raw if possible, even if it's encrypted

[2021-10-07 17:43] exextoc commented on #2118
A couple of things to clear up:

Based on your response here, you said you are getting the expected result in step 10, so what is the issue/unexpected behavior here?

As for the code you shared in the most recent comment:

The timeout you are setting here is delaying the call for saveAsync and will not help with the sync issue between client side and exchange servers. It is advised on our [documen

[2021-10-07 19:30] AbidRahman-MSFT commented on #2137
Hey @bkonic - apologies for the wait and thanks for the patience.

We did investigate this issue and are able to reproduce it, we have created an internal bug (5483190) to investigate further. Will keep you updated on any progress. Thanks.

[2021-10-07 19:33] AbidRahman-MSFT commented on #2146
Hey @pb-jeff-oneill,

After discussing with the feature team, the only time the add-in can 'disappear' from the ribbon is:
- either the user explicitly removes it
- there has been an identity change

Could it be possible that the user is getting auto signed out?  If they are getting signed out, then they may no longer be entitled to that add-in. Also, is it possible the user is switching accounts?

[2021-10-07 19:46] AbidRahman-MSFT commented on #2144
Hey @jasonhieu1905 - thanks for reporting the issue. We have opened an internal bug (5483236) to help investigate. We will keep you updated on any progress.

[2021-10-07 19:48] AbidRahman-MSFT commented on #2131
We have opened an internal bug (5471576) to help track the investigation. We will keep you updated on any progress. Thank you for the patience.

[2021-10-07 19:53] AbidRahman-MSFT commented on #1971
Hey @sidetracklegal - thanks for reporting the issue. We have created an internal bug (5483256) to track the progress of the investigation and will keep you up to date on any progress.

[2021-10-07 19:59] AbidRahman-MSFT commented on #2114
Hey @ndvbd - unfortunately, this is by design.

As a workaround, try the following snippet that removes all comment characters from the text of the document body:

[code]

[2021-10-07 19:59] #2114 closed, assigned to AbidRahman-MSFT

[2021-10-07 20:05] pb-jeff-oneill commented on #2146
I assume you mean signed out of Word.

I suppose this is possible.  This doesn't ever happen to me.

Could a company have a security setting that automatically logs users out of Word after a certain amount of time?

If so, Word must do so without notifying users (otherwise my customers would have likely mentioned it) which makes for a bad user experience with add-ins suddenly disappearing.

This i

[2021-10-07 20:09] AbidRahman-MSFT commented on #2146
Thanks @pb-jeff-oneill - unfortunately, we don't have enough info here to figure out what could be causing the issue. If you are able to get a hold of a customer that can consistently repro the issue in certain environments, please let us know and we can try to investigate further.

[2021-10-07 23:01] iotataru commented on #2164
@liao-frank after investigation, we determined this is caused by the "Cross-Origin-Opener-Policy" header which is unfortunately not supported by the platform at this time. We recommend removing this header from the webpages loaded by the dialog window.

[2021-10-07 23:01] AbidRahman-MSFT commented on #2157
Hey @jrpally - please forward the manifest at abid.rahman@microsoft.com. There may be some properties specific to mac that is causing the issue here. We can investigate and let you know. Thanks!

[2021-10-07 23:15] exextoc commented on #2076
Based on your past responses, can you try to debug the Angular app following the documentation here: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows

You also mentioned that you could not repro with ScriptLab so this might have something to do with the Angular add-in itself, were there any major changes in the add-in that happened when

[2021-10-07 23:19] nancy-wang commented on #2165
Hey @tayokens thanks so much for taking the time to share your suggestions for improving our product! Passing along your feedback to @exextoc to consider as a feature request.

[2021-10-07 23:22] nancy-wang commented on #2159
thanks for reporting this @ElizabethFerriss and sorry to hear you are no longer able to access your add-in! Connecting you with @gingerjia who may be able to help here.

[2021-10-07 23:29] #2164 closed, assigned to nobody

[2021-10-08 00:07] liaofranku commented on #2164
Thank you!

[2021-10-08 00:11] jrpally commented on #2157
Hi @AbidRahman-MSFT I sent to your mail

[2021-10-08 03:14] RuoyingLiang commented on #1958
Hi @christian-sap Feature team is working on a possible solution and don't have a timeline yet.  Will update this thread with any news.

[2021-10-08 04:18] thao33 commented on #2118
@exextoc

Oh, repro steps are quite the same... sorry to make you confused.

The diff point is: At unexpected result repro steps, highlighted step 4 and 5 not be included.

So, repro is described in a sentence like this
1. Context1 : When the result is **unexpected**:
User have a draft email, start to edit, then send it through my add-in.

2. Context2: When the result is **expected**:
User have a

[2021-10-08 06:00] ghost commented on #2148
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-08 06:15] bferreira commented on #2126
Any updates here?

[2021-10-08 06:15] exextoc commented on #2165
Currently the feature you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning

[2021-10-08 06:25] exextoc commented on #1286
Unfortunately we have not prioritize this issue currently but this issue is put in our backlog

[2021-10-08 06:27] exextoc commented on #2125
This issue is fix and currently rollout in the progress .We will update you once this reaches production

[2021-10-08 10:11] chiz-ms commented on #2158
Thanks for reporting this issue. We have been investigating but haven't succeeded in reproducing it. Could you help to provide more details so that we could stably repro this issue? Such as:

1. A screenshot of the Excel Online web page;
2. The necessary row/column count of the table;
3. The API you called to update the columns;
4. Whether you have scrolled the cells into the view and still seen o

[2021-10-08 14:01] moodsey211 commented on #2163
I'm not sure if we have the same scenario but I was able to reproduce this issue by calling setSignatureAsync twice.

[code]

[2021-10-08 14:15] careernavigator opened #2166 "Cursor jumps between the document and MS word add-in task pane without any mouse clicking."
**Issue Summary**
While using the word add-in, Cursor jumps between the document and add-in task pane without any mouse clicking. We have developed this word add-in using office JS, angular 12 & Kendo UI. Cursor behavior is weird in Office 365 v2102. And cursor is not available in the input field in some specific scenario.

**Your Environment**
Platform [PC desktop, Mac, iOS, Office on the web]: P

[2021-10-08 14:17] careernavigator commented on #2166
PFA issue recording-

https://user-images.githubusercontent.com/46817939/136573176-7bc1baa6-d51b-4739-9eaf-38a002ccd6e6.mp4

https://user-images.githubusercontent.com/46817939/136573189-b19624a0-b662-40b4-8598-7c3bcf127d56.mp4

[2021-10-08 14:58] rulopimentel commented on #2123
Hi @AbidRahman-MSFT
Please let me know if you need any further information

[2021-10-08 14:59] shff opened #2167 "Every OAuth flow we have is broken - Sys.ArgumentNullException: Value cannot be null. Parameter name: conversationId"
We open dialogs in Outlook using `Office.context.ui.displayDialogAsync` that redirect to an OAuth login page.

After the OAuth flow redirects back to the same HTML page in the extension, calling `Office.onReady()` triggers an internal exception. This happens with no other, just calling `Office.onReady()` triggers it.

All the involved domains are added to `AppDomains` in the manifest xml.

This *d

[2021-10-08 16:09] shnitze opened #2168 "Outlook - Incorrect ewsUrl is used when making a EWS SOAP call"
# Provide required information needed to triage your issue

When using the makeEWSRequestAsync function to call an on-prem Exchange server in order to send an email, the call fails with the error message `The underlying connection was closed`. I've deduced that the ewsUrl used to make the call is incorrect and has a different domain than the OWA and accessing the url in the browser returns a `504

[2021-10-08 17:15] ElizabethSamuel-MSFT commented on #2201
@exextoc Can you advise if this behavior is by design? Thx.

[2021-10-08 22:49] nsakar commented on #2154
Guys

Although issue is fixed in current channel 2108,2109 however it needs to be fixed in teh semi annual enterprise channel where it is still an issue

Semi-Annual Enterprise. This is the version that enterprises use to deploy across the board. Please help

[2021-10-09 00:00] ghost commented on #2143
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-09 00:04] aspantel commented on #2143
We tried installing Webview2 but it did not help.

[2021-10-09 02:00] ghost commented on #2116
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-10-09 02:00] #2116 closed, assigned to exextoc

[2021-10-09 02:00] ghost commented on #1918
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-10-09 02:00] #1918 closed, assigned to gingerjia

[2021-10-09 09:50] vdboots commented on #2163
yes we use it twice. First to set signature from cache. and then a second time(if changed).  from an external source.

[2021-10-09 16:33] alexuribarri commented on #408
Is this closed because resolved and there's an easy way to add comments via API?

[2021-10-10 05:06] nsakar commented on #2154
Please fix this in Semi Annual Enterprise channel also where it is still an issue

[2021-10-10 09:14] ndvbd commented on #2114
@AbidRahman-MSFT What is the link to the online documentation showing this behaviour? How should developers know about this?

[2021-10-10 13:05] saivishnutammineni commented on #2158
I have created a repo for reproducing for the issue, please find the code [here](https://github.com/saivishnutammineni/excel-update-issue).
The excel sheet along with various alignments of text is attached.
[excel-issue.xlsx](https://github.com/OfficeDev/office-js/files/7317419/excel-issue.xlsx)

Steps to reproduce the issue:
1. Sideload the sample excel add-in from above repo in office online.
2.

[2021-10-10 18:00] ghost commented on #2161
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-11 02:08] RuoyingLiang commented on #408
The comments API just been released to beta in Word Online. The document will be updated in these days. Will update with the doc link after it's published.

[2021-10-11 06:13] somenathmaji commented on #2076
@exextoc We didn't release any updates during the time when we got this issue. There was only an Outlook update. This is only happening with Edge HTML runtime after the Outlook update. We found a workaround to use WebView2 from this [documentation](https://developer.microsoft.com/en-us/office/blogs/understanding-office-add-ins-runtime/) -

This seems to be working for the Semi-Annual Enterprise ch

[2021-10-11 08:00] ghost commented on #2148
This issue has been closed due to inactivity. Please comment if you still need assistance and we'll re-open the issue.

[2021-10-11 08:00] #2148 closed, assigned to exextoc

[2021-10-11 09:59] exextoc commented on #2201
@ElizabethSamuel-MSFT This is not by design. This seems to be a problem with Outlook Web behavior.

@mayanagi Thanks for reporting this issue regarding get recipients. It has been put on our backlog. We unfortunately have no timelines to share at this point

[2021-10-11 15:47] chiz-ms commented on #2158
Bug VSO#5488252 is opened in our backlog to track this issue.

[2021-10-11 16:02] ineale2 commented on #356
This is still a strongly desired feature/security improvement. I work at one of the larger US tech companies and our security guidelines only allow using external CDNs if SRIs are able to be used. This security feature would help drive adoption significantly.

[2021-10-11 17:32] damogongzi opened #2169 "Excel.js shape.getImage returns cropped image after shape was rotated."
# Provide required information needed to triage your issue

Shape.getImage() returns cropped image instead of full shape image when the shape has certain degree.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: MAC OS
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: Office online
* Operating System: ______
* Browser (if using Office on the web): Chr

[2021-10-11 18:34] exextoc commented on #1861
The sandbox team is looking into the logs to find the root cause of the issue you are observing.
PS : Any 404 errors to /.well-known path is ignorable. That is for additional resources in case your add-in supports our Single Sign On APIs. We are actively working on documentation for this.

[2021-10-11 20:42] exextoc commented on #2143
Another customer had a similar issue on this thread: https://github.com/OfficeDev/office-js/issues/2076

They found a workaround to use WebView2 based on this documentation: https://developer.microsoft.com/en-us/office/blogs/understanding-office-add-ins-runtime/
Can you try installing WebView2 following this?

(Make sure to follow the regkey instructions, etc. to ensure that webview2 is used)

[2021-10-11 21:00] ghost commented on #1983
This issue has been automatically marked as stale because it is marked as needing author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**. Thank you for your interest in Office Add-ins!

[2021-10-11 21:24] exextoc commented on #2168
Can you clarify if this is an issue for both OWA and Outlook Win32? Also, which urls you are referring to/how were you able to deduce the different urls?

[2021-10-11 21:45] exextoc commented on #2118
I think there may have been some confusion as to what may be going on here.

Here are some facts that may explain what is going on:

- item.body.getAsync() will return to you the HTML that is saved to the mail item at that time. This can be different than the HTML that eventually gets sent, as Outlook will sometimes adjust HTML/Tags etc during the sending process. It should render the same as it l

[2021-10-11 22:59] #2165 closed, assigned to nobody

[2021-10-12 00:20] exextoc commented on #2118
Is this what you are trying to do?

1) On the Client Side modify the item
2) Wait for the update to the server
3) Use an EWS call to send the email?

The problem being that in step #2, you have trouble detecting if the body is truly updated at the body can be slightly different from the one you get from item.body.getAsync() ?

If this is the case, using the body as an indicator as to when the serv

[2021-10-12 00:22] exextoc commented on #2138
We've heard reports of an error similar to this. If the server returns HTTP code 304 Not modified, the file can be downloaded successfully, but our client incorrectly returns this as an error. A fix will be coming for this soon.

You could use fiddler to see if this is what is happening in your case when Outlook makes the http request for your JS file.

[2021-10-12 00:29] exextoc commented on #2167
The above callstack appears to be from Outlook Web Access (OWA), do you have similar exception error for Win32 Outlook as well?

[2021-10-12 00:31] exextoc commented on #2168
Some more clarification questions:

Does the on-prem server have different internal and external ews URLs?

[2021-10-12 04:14] exextoc commented on #2125
@JackTheDane Fix has reached production. Can you please check and confirm if things are working for you? Thanks.

[2021-10-12 04:28] chiz-ms commented on #2169
Thank you for reporting this issue regarding [Shape.getAsImage](https://docs.microsoft.com/en-us/javascript/api/excel/excel.shape?view=excel-js-preview&viewFallbackFrom=excel-js-1.14#getAsImage_format_) API. The issue has been confirmed and put on our backlog as VSO#5490219.

[2021-10-12 04:40] ndeeH commented on #1983
Closing without anything done. Huh?

[2021-10-12 05:40] exextoc commented on #2163
Thanks for sharing this detail.

Can you please confirm what this step mean? Are you using [LaunchEvents](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch) which inserts signature "twice" in the email as soon as "New Email" is started?

"1. launch script where a email is added."

[2021-10-12 06:23] YossiCohen commented on #2162
I've asked this also at  SO: https://stackoverflow.com/questions/69456784/officejs-addin-ribbon-icons-not-showing-on-mac

[2021-10-12 06:58] vdboots commented on #2163
1. launch script where a email is added.
2. Get updated information from external source
3. Launch script to update signature.

[2021-10-12 07:16] exextoc commented on #2139
Fix will be available to users after 2 weeks.

[2021-10-12 07:19] questionhead commented on #2138
The fix is coming with Office-Updates?

[2021-10-12 07:46] exextoc commented on #2167
@shff I tried using add by creating a new account. I was not able to login successfully as it required admin to grant some access and flow in dialog got interrupted with different error.

1. Can you please test credentials with which this can be reproduced easily?
2. Did anything change in addin code recently?

[2021-10-12 08:43] jak-hammond commented on #2008
If this item is on the backlog, can we please leave this ticket open until some resolution is reached, thanks!

[2021-10-12 09:15] barclayadam commented on #1861
Thank you for info regarding `/.well-known`, something like that was my assumption.

As a reminder there is a VB script that can be used to automate this failure, where it will also fail in the same way (albeit it takes longer, sometimes much longer, on average), using the sample at https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/outlook-set-signature

Details are in the linked Git

[2021-10-12 10:23] brafreider opened #2170 "Outlook-win: Office.context.mailbox.item.to contains own address in sent mails"
Since around 2021-10-05 our Outlook AddIn started to display wrong recipients for mails in sent-items. Instead of the first recipient of a mail, it always returned the own address. Web client is not affected.

- Within the inbox, our AddIn uses item.from.emailAddress to lookup contacts in CRM.
- To identify sent items, it compares userProfile.emailAddress with item.from.emailAddress. If true, it u

[2021-10-12 10:48] gingerjia commented on #2154
Working on it. Thanks @nsakar ! will update the thread when have progress!

[2021-10-12 10:51] JackTheDane commented on #2125
@exextoc I have checked and can verify that in our use case, the action link works once again.

Big thanks to the team!

[2021-10-12 10:57] gingerjia commented on #2159
@chiz-ms has helped to contact the right owner and will update here if any progress. Thanks @nancy-wang and @chiz-ms !

[2021-10-12 11:03] benjamin-almarza opened #2171 "Problem in Word OFFICE_ONLINE mode with contentControl.search"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue

In office online mode contentControl.search throws an exception

## Your Environment
* Platform [PC desktop, Mac, iOS, Offi

[2021-10-12 12:45] shnitze commented on #2168
I can't confirm if this issue applies for both OWA and Outlook Win32 since I can't debug on the Desktop app.

To get the valid url for EWS, I went in Outlook Desktop (2016) under Account Settings there's a link to the OWA. I simply changed it from `https://XYZ/owa/` to `https://XYZ/ews/exchange.asmx`

As for if the on-prem server have different internal and external urls, I'm not sure. Is there a

[2021-10-12 13:19] gingerjia commented on #1985
Close it as have verified the fix on PROD. If have any other issues, please feel free to let us know. Thanks!

[2021-10-12 13:19] #1985 closed, assigned to gingerjia

[2021-10-12 13:23] shff commented on #2167
@exextoc It seems to be working fine again. If you were able to login (but got greeted with a permission request) then it probably worked. The previous "workaround" was clicking twice in the "Start with Mailbutler..." button, the first time prompts for the password, the second redirects correctly.

We didn't update the add-in in the latest weeks. Only our internal beta. But the customer-visible ve

[2021-10-12 13:23] #2167 closed, assigned to nobody

[2021-10-12 13:23] gingerjia commented on #1931
The issue has been fixed and just as @jwhite-venacorp said "I tested in the "Current" channel release and could not reproduce this issue.".
I will close it now and if have any new issues please feel free to let us know. Thanks!

[2021-10-12 13:23] #1931 closed, assigned to gingerjia

[2021-10-12 13:41] gingerjia commented on #2047
@jeremy-msft, seems it's load add-in manifest failure. Could your team help to take a look at it? Thanks!

[2021-10-12 13:47] gingerjia commented on #1831
Close it as the fix has been rolled out to PROD.
Please let us if have any new issues. Thanks!

[2021-10-12 13:47] #1831 closed, assigned to gingerjia

[2021-10-12 15:43] davidchesnut commented on #1983
@ndeeH,  My bad. Thanks for reopening. @efrene I updated the status to under investigation...

[2021-10-12 16:30] efrene commented on #1983
@ndeeH Sorry, I was out on vacation while this issue was inadvertently closed. @davidchesnut, thanks for reopening it.

[2021-10-12 20:44] exextoc commented on #2138
I don't have the details yet. Depending on risk/severity it would come via the monthly updates. I am not sure if it will be backported.

[2021-10-12 21:07] exextoc commented on #2168
Is this bug happening in Outlook or on OWA? (or both?)

I don't believe the URL that Win32 Outlook uses for makeEWSRequestAsync is the one under account settings. It uses the URL obtained via Autodiscover when Win32 connects to the exchange server.

What version of Exchange is the OnPrem Server?

This is likely some sort of configuration error on that OnPrem server. It may be worthwhile to try and

[2021-10-12 21:08] Michaelh818 opened #2172 "Unable to add shapes to blank slide"
# SETUP
Using Script Lab and running Power Point on the web.  Why am I unable to add a shape to a completely blank slide?  It needs at least one text item before I am able to add a shape.

## Libraries
[code]

## html
[code]

## script
[code]

[2021-10-12 21:10] AlexJerabek commented on #2172
Hi @Michaelh818,

We're adding some PowerPoint shape samples with PR OfficeDev/office-js-snippets#560. Does the sample code there help answer your question?

[2021-10-12 21:13] Michaelh818 commented on #2172
No.  I believe I found a bug.  Please review and let me know.  Thanks
in advance!

-Michael

On Tue, Oct 12, 2021 at 2:10 PM Alex Jerabek ***@***.***>
wrote:

[2021-10-12 21:28] Michaelh818 commented on #2172
Add a blank slide to the presentation and then click run.  The following error is generated when there is nothing in the blank slide.
[code]

However, if a user adds text before running the add shape function, it works fine.  Why am I unable to add shapes to a completely blank slide?

[2021-10-12 21:37] pb-jeff-oneill commented on #2146
This happened again to one of my users.  She checked to see if she was still logged in to Word and she was.  It looks like the problem is not related to authentication.

This is a classic intermittent issue that is not amenable to reproduction.  There isn't much we can do.

It is creating a very bad experience for Word add-in users and this must be happening with many if not all add-ins.  It seems

[2021-10-12 21:43] madhavagrawal17 commented on #2146
@pb-jeff-oneill, Can you follow the below instruction to send a frown from within the Office application when you see the issue that will help us to capture the logs and investigate the issue.
Detailed here: https://support.microsoft.com/en-us/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-b43f-4dd2-9ff4-23cf144cfb11.
In the description, please be sure to indicate "To Office Platform t

[2021-10-12 21:45] Michaelh818 commented on #2172
What else do I need to show you? The bot is marking this as needs more feedback. @Rick-Kirkham

[2021-10-12 22:14] Rick-Kirkham commented on #2172
The code you have provided (which works for me) has this line:
`      var newshape = context.presentation.slides.getItemAt(currentSlideId).shapes.addGeometricShape(PowerPoint.GeometricShapeType.roundRectangle);`

But the error shows this:

[code]

Note that the error is coming on the line `var shapes = itemAt.shapes;` which is _before_ the call of `addGeometricShape`, so adding the shape isn't the

[2021-10-13 00:06] Michaelh818 commented on #2172
The version build is 16.0.14610.40504. I double checked the code and it is the same exact one. It works when there is text elements present in the slide. It does not work on a new blank slide at all. @Rick-Kirkham

[2021-10-13 00:55] exextoc commented on #2143
We haven't been able to repro this locally. Do you have a small simple add-in (or perhaps a scriptlab gist) that can repro the problem consistently that you could share?

[2021-10-13 01:32] Rick-Kirkham commented on #2172
I can reproduce this now. The bug is in PowerPoint on the web. It works find on desktop PowerPoint. It is a bug, so I will try to move it to the office-js repo.

[2021-10-13 01:56] gingerjia commented on #2162
@YossiCohen We have worked with partner team for the issue. Any progress will update here. Thanks!

[2021-10-13 03:05] shaowan-msft commented on #2117
Hi @runerback , thanks for reporting the issue. Excel 2013 does not support CompressedFile is by design.
For more details, you can refer https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/office-add-in-requirement-sets#compressedfile
![image](https://user-images.githubusercontent.com/76982368/137062368-5f7badf9-1dbd-4a39-b7dc-4ffceff8f424.png)

[2021-10-13 05:33] hello-chenchen opened #2173 "Outlook IOS APP, Add-in same have no access for localStorage to save some data here"
**Is there some limitation for the Add-in's localStorage of Outlook IOS App?**
Our customer told us all their IOS device can't remember some data on their Outlook App. In our design, these data was stored at Outlook localStorage. So, we want to check with you for some suggestion, Is there some limitation for the Add-in's localStorage of Outlook IOS App?
Such as safari browser's limitation on IOS o

[2021-10-13 06:20] exextoc commented on #2173
Thanks @hello-chenchen for your query. We will get back to you soon on this.

[2021-10-13 07:24] exextoc commented on #2173
@hello-chenchen

1. Are you using window.localStorage from your addin's code?
2. Is it throwing any error?
3. Can you also please describe your use-case for which window.localStorage is being used?

[2021-10-13 07:37] gingerjia commented on #1916
@harri-rajala-koivu-solutions, sorry to let you know the fix for this issue has caused a perf regression and we need to turn off the fix  to mitigate the issue. Please use the workaround to unblock your side work first.
And when we have any progress for the fix, will update here to let you know. Sorry for the inconvenience and thanks very much for your understanding!

[2021-10-13 07:41] djaeger-inercomp opened #2174 "Unable to return error in dynamic array"
I have been working with errors in custom functions for quite a while now, and since last week I always get a #VALUE error when the dynamic array that I return contains an Error.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: PC
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Office version number: 2109 (Build 14430.20270), Microsoft 365 Apps for business
* Operating S

[2021-10-13 07:43] hello-chenchen commented on #2173
hi @exextoc thank you for your reply.
1.  we use localStorage.setItem('key', 'value') to save our data, and localStorage.getItem('key') to get our data.
2.  sorry i haven't get the debug log from our customer right now, it need hours or days maybe.
3.  we use it on the online meeting provide for mobile, FYI [Create an Outlook mobile add-in for an online-meeting provider](https://docs.microsoft.com

[2021-10-13 08:51] MicGensty opened #2175 "[SSO] SSO in Word in Addin, which is inside Assignment which is inside Desktop Teams (EDU)."
Currently, SSO is not supported when Teams is the host.
But I can't use a fallback dialog to sign in the user - the dialogue opens a browser from outside Teams desktop (and then there is no communication between the opened browser outside the Teams and the add-in).

This situation **occurs  if the Word document is opened from Assignment (in Teams for Education desktop version)**.
In other places i

[2021-10-13 11:32] exextoc commented on #2163
@vdboots Can you please share a test code to repro this scenario?

[2021-10-13 12:08] aspantel commented on #2143
We'll try to find one but it'll take time as this happens on a client's computer. We have not reproduced this locally either yet.

[2021-10-13 13:15] chiz-ms commented on #2174
Thank you for reporting this issue regarding Custom Function Error. ADO#5493908 is opened in our backlog to track this issue.

[2021-10-13 13:32] chiz-ms commented on #2171
Thank you for reporting this issue regarding `ContentControl.search` API in Word Online. ADO#5494213 is opened in our backlog to track this issue.

[2021-10-13 15:18] wsoccorsi-yw commented on #1660
Hi @exextoc, I'm back with more information! Sorry for the long hiatus this was hard information to gather.

Taking a step back from this thread, you requested OWA information. However I was unable to get information from a user experiencing this on OWA but have all the information from Outlook Desktop for Windows.

With this information I can answer most of the questions you listed above for Desk

[2021-10-13 15:34] jfoclpf opened #2176 "How to force Microsoft Office Addin to use Edge Webview2 runtime?"
I read this nice [article](https://devblogs.microsoft.com/microsoft365dev/understanding-office-add-ins-runtime/) from Microsoft explaining how the Addin runtime works.

I am using **Windows 10 Enterprise** and the system has already **Microsoft Edge WebView2**:

[![enter image description here][1]][1]

My Office 365 version is **16.0.13801.20442 32-bit** and hence it is Microsoft 365 ver. >= 16.0.

[2021-10-13 18:00] elegault commented on #2125
This is not working in Outlook Online, but is working in Outlook for Windows.

[2021-10-13 19:13] ononder commented on #2172
Investigating, logged internal bug 5494687

[2021-10-13 20:42] exextoc commented on #2170
I repro the issue with your own email in the item.to. I have filed a bug with the core team, to look into:

Internal Bug Id: 5494808

There is no Parent Folder or "Sent Items" property. You could do a makeEwsRequestAsync with GetItem and get the ParentFolderId, or some other info in GetItem may be what you need.

https://docs.microsoft.com/en-us/exchange/client-developer/web-service-reference/geti

[2021-10-13 21:12] ononder commented on #2172
Issue identified and a fix is being checked in. Thanks for your report.

[2021-10-13 21:16] exextoc commented on #1660
So I'm doing something like this (using your HTML) on Win32 Desktop Outlook:

[code]

And I'm seeing the HTML in both Sent Items AND the Received Mail.

I wonder if there is something else missing in the repro. Does it differ depending on WHAT email you send it to?

[2021-10-14 00:08] exextoc commented on #2170
The core team repros and have identified the issue with the Sender being added to item.to. This bug repros in builds: 16.0.14426.10000 and later.

We will attempt to backfix into those builds ASAP, and will update this thread with progress.

[2021-10-14 00:34] exextoc commented on #2058
I regret to inform that an issue was found with the fix, and we had to pull the change. The fix is still coming, but will be in a later build.

[2021-10-14 06:18] gourav-bk commented on #1866
I was facing the same issue and I have solved it by switching office 2019 to Office 365. This works fine now.

[2021-10-14 06:19] gourav-bk commented on #246
I was facing the same issue and I have solved it by switching office 2019 to Office 365. This works fine now.

[2021-10-14 06:54] careernavigator commented on #2131
@AbidRahman-MSFT - Any updates on internal bug (5471576) ? Since we have production release in 2 weeks, it would be helpful if we could get a formal answer from product group about this performance issue. Accordingly we can communicate it to the customer.

[2021-10-14 13:39] jiju-MS commented on #2174
Could you share more details with us about this issue? we'd like to know whether you are working on shared-runtime Custom Function or not.

[2021-10-14 13:40] wsoccorsi-yw commented on #1660
Sorry it has been awhile, but for background I can't reproduce this either. This only happens for certain users on Desktop/OWA but using `appendOnSendAsync` with that html on "New Outlook" for Mac you will be able to repro, as I can everytime.

[2021-10-14 14:21] djaeger-inercomp commented on #2174
Yes I am using a shared runtime.

[2021-10-14 16:15] barclayadam opened #2177 "Unable to use localStorage in event-based script"
## Overview

I am unable to use localStorage in OWA or Windows Outlook. Given the documentation at https://docs.microsoft.com/en-us/office/dev/add-ins/develop/persisting-add-in-state-and-settings I expected to be able to use localStorage in Outlook, in both the task pane and event launched runtime.

I am looking to cache larger amounts of data on a single device that will not reliably fit in the 3

[2021-10-14 17:36] Michaelh818 commented on #2172
Thank you for your help! @ononder and everyone else :)

[2021-10-14 18:53] thao33 commented on #2118
Thank you for your explanation.

No, i just get the Body via makeEwsRequestAsync() to compare it's update-to-date or out-of-date (just for debugging purpose)

With our add-in design, if add-in not triggering "send" email, user have one more step to finish "send email" job. So, we have "Send" button at add-in, which do 2 things: 1 - triggering send email via EWS, 2 - send some data to our servers.

[2021-10-14 20:25] jgauntz commented on #523
I am having a terrible time getting my excel custom function to call an API with basic authentication in the header.  I get a CORs error.  To the best of my knowledge, I have configured my function to use the Javascript Shared Runtime as I am able to set and retrieve values from global memory (window.sharedState).  Below is the code from my custom function - I have removed the key used for basic a

[2021-10-14 20:26] jgauntz opened #2178 "Excel Custom Function - Shared Javascript Runtime - CORS error"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

I am having a terrible time getting my excel custom function to call an API with basic authentication in the header.  I get a CORs error.  To the best of my knowledge, I have configur

[2021-10-15 02:42] thao33 commented on #2118
oh, sorry i missed  https://github.com/OfficeDev/office-js/issues/2118#issuecomment-940550053

Thank you, i'll try CustomProperties.

[2021-10-15 09:14] mariomash commented on #2145
+1 here, I'm having exactly the same problem, and it's pretty important for my company. is there any workaround this?

[2021-10-15 10:04] nermin-slidelizard opened #2179 "Loading a presentation with >= 150mb causes out of memory crash"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

We have an add-in which utilizes the GetFileAsync function to load the current **presentation** into memory.
As most of our clients work with rather large presentations exceeding 200m

[2021-10-15 10:58] mariomash commented on #2145
I found this related, this has been going for years, looks like this is still being a bug or no workaround?
- https://stackoverflow.com/questions/46139879/office-js-dialog-makes-outlook-hang-after-5-minutes
- https://github.com/OfficeDev/office-js/issues/711

[2021-10-15 11:43] donlvMSFT commented on #2169
Thanks @damogongzi for reaching us, the fix for this issue is in process of rolling out, and will release in 2 weeks.
I'll update here when it's on PROD.

[2021-10-15 15:08] jesparaz-vena opened #2180 "Cannot load custom conditional format properties when other conditional format types are present"
Given `const conditionalFormats: Excel.ConditionalFormatCollection` and a sheet with a custom conditional format (type `Excel.ConditionalFormatType.custom`) _and_ conditional formats of other types (e.g. `Excel.ConditionalFormatType.colorScale`), loading properties via `conditionalFormats.load('items/custom/rule/formula')` will fail on `await context.sync()`.

## Your Environment

* Platform [PC d

[2021-10-15 16:17] jargil commented on #2159
@ElizabethFerriss - thank you for reporting this. Looks like you're unblocked now and you don't have a repro anymore.
I just tried going through this flow (uninstall, install, after an update) but I'm not able to reproduce. I'll close this Issue for now. Please reopen again if you reproduce again, and please make sure to send us feedback so that we can get some logging to look at. You can also try

[2021-10-15 16:17] #2159 closed, assigned to nobody

[2021-10-15 18:06] mynameismon commented on #1094
Funnily, I am encountering this exact issue on Word 2019 (Windows). Word Version:
```Microsoft® Word 2019 MSO (Version 2111 Build 16.0.14609.20000) 64-bit ```

The code can be found here: https://gist.github.com/mynameismon/ef7ec86842c7eb2f3290c9af3d09132d

To reproduce:
- Create a word document with two separate content controls
- Add some words in one, and leave the other one empty
- Select the

[2021-10-15 18:10] exextoc commented on #2177
For Desktop the recommened API is OfficeRuntime.Strorage. See documentation here: https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.storage?view=excel-js-preview I thas a 10 MB limit per origin.

Note that the SharedRuntime is not required for Outlook Event Based Add-ins.

For OWA, localStorage should work, I will need to follow up with the product team to get more info.

[2021-10-15 18:19] exextoc commented on #2118
There is unfortunately no way to do this.

I think the CustomProperty method is probably the best way to tell if the item is out of date.

[2021-10-15 21:20] exextoc commented on #2058
The correct build with the fix will be: 16.0.14615.10000 or later.

[2021-10-15 22:39] ElizabethSamuel-MSFT commented on #2201
@exextoc Thanks for that update. After we've updated the documentation, I'll move this item to the office-js repo.

@mayanagi We're working on noting this in the documentation so look out for PRs soon.

Thanks.

[2021-10-16 06:49] crestbala opened #2182 "A RichAPI error is occurring on the Office word online when try to access the tables via Office JavaScript Word APIs."
The issue has been appeared on the Office online when I try to access the **context.document.body.tables** through JavaScript Word APIs. I've created an officejs plugin using react framework, I don't think that it would be an issue because I am not able to reproduce the issue on Office Desktop app, however, it has been showed on the Word online. Also, I've checked the tables API in the **ScriptLab

[2021-10-16 08:03] mynameismon opened #2183 "Issue with insertText in Content Controls"
[Related: #1094]

Funnily, I am encountering this exact issue on Word 2019 (Windows). Word Version:
```Microsoft® Word 2019 MSO (Version 2111 Build 16.0.14609.20000) 64-bit ```

The code can be found here: https://gist.github.com/mynameismon/ef7ec86842c7eb2f3290c9af3d09132d

To reproduce:
- Create a word document with two separate content controls
- Add some words in one, and leave the other one e

[2021-10-16 14:06] thao33 commented on #2118
@exextoc Thank you for your support.

Ok. Thank you.

I've tried it. By now, just like magic, problem solved !! Thank you so much for suggesting me.

I'm really appreciate !!

[2021-10-17 08:50] YossiCohen commented on #2162
The problem was related to self-signed certificates, Excel for Mac not displaying ribbon images if they are not signed with proper CA.

The Web and Windows versions work and also display icons from HTTP (not HTTPS) but again - in Mac, you must have a good certificate.

After moving the server to use a certificate that was signed properly the icons in the ribbon were also displayed properly.

last

[2021-10-18 04:15] kevinjansz commented on #2171
This error with `ContentControl.search(...)` seems to be a recent regression and we have users seeing this live in production for word online. The only work around we can advise at the moment is for users to use word desktop instead.

Is there anything the Word Online team could advise on work-arounds that would be possible in word online (different parameter options for example?).

Knowing rough

[2021-10-18 08:33] chiz-ms commented on #2180
Could you try using `customOrNullObject` property instead of `custom` property and see if it works?

[2021-10-18 08:43] skurian123 opened #2184 "Outlook add-in - React Web App - MSAL authentication - SSO - Desktop Mode issue"
Authentication implemented using MSAL package ( "@azure/msal-browser": "^2.16.1", "@azure/msal-react": "^1.0.1",) For Outlook Web client - online (O365 version), it's working as expected with login popup opened and getting authenticated successfully whereas it fails to load login popup window for Outlook desktop mode. Similar issue was earlier reported by few users under- #1072 And team responded

[2021-10-18 10:06] exextoc commented on #2067
Can we have some updates on the requested logs? If the issue is no longer reproducing then we will close the issue.

[2021-10-18 11:04] barclayadam commented on #2177
@exextoc Thank you for pointing that out. Is the documentation at https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/shared-runtime-requirement-sets incorrect? It has no mention of Outlook.

What is the recommendation for caching in Outlook task panes? Would shared runtime be available there? As above I have the same issue with localStorage in Windows as OWA (different

[2021-10-18 14:42] PauRosello97 opened #2185 "Office Add-ins not showing in Microsoft Edge Devtools Preview"
When opening an office add-in (Outllok, Word, Excel or PowerPoint) locally or once deployed, I should be able to see it in the Microsoft Edge Devtools, but it's appearing blank. What are the steps we should follow to discover the problem?

## Expected Behavior
When opening an office add-in it should appear Microsoft Edge Devtools

## Current Behavior
The Microsoft Edge Devtools list is blank (even

[2021-10-18 15:05] barclayadam opened #2186 "Unable to use responseType: 'blob' in XHR requests"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

## Overview

Tying to use `responseType = 'blob'` on an HXR request in Outlook Event-Based Activation causes an error `Native module BlobModule is required for blob support`

## Your

[2021-10-18 18:57] lynneosmith commented on #1840
Having to measure the text is not ideal. We realize there have been issues with wrapping, merged and autofit to cell height for a while, but what we would like is for Excel on the web to have the same behavior with the text in this situation that Excel desktop does.
On Excel on the web:
- In a new worksheet, go to a cell and enter this text "This is a very long string of text that will wrap multip

[2021-10-18 19:39] jesparaz-vena commented on #2180
@chiz-ms this works perfectly 🎉

We are able to load the properties via `conditionalFormats.load('items/customOrNullObject/rule/formula')`.

Please feel free to close this ticket. Thank you!

[2021-10-18 22:40] #2076 closed, assigned to exextoc

[2021-10-19 00:20] exextoc commented on #2170
We were able to send out an update to fix this bug. It should be live by now on all builds that had the issue. No updates/reinstallation of Outlook is necessary, but Outlook will need to be rebooted, and maybe the computer rebooted as well. An internet connection is also required for the update to work.

If you are still seeing the issue, please let us know the build number, and delivery channel t

[2021-10-19 00:21] #2170 closed, assigned to exextoc

[2021-10-19 06:35] skurian123 commented on #2184
Appreciate if someone could look into the issue at the earliest please

[2021-10-19 06:43] chiz-ms commented on #2171
Hi @kevinjansz, we believe we have fixed this issue and the fix should arrive production in a few weeks. We'll update here when it's available. Thanks again for the report.

[2021-10-19 06:50] chiz-ms commented on #2180
Thank you for the confirmation, @jesparaz-vena. I'll close this issue.

[2021-10-19 06:50] #2180 closed, assigned to nobody

[2021-10-19 07:58] yuc014 commented on #2135
Hi @ALDriehuis, thank you for your patience. After investigation, this issue is by design.
Please see [the reference](https://support.microsoft.com/en-us/office/protect-a-worksheet-3179efdb-1285-4d49-a9c3-f4ca36276de6?ui=en-US&rs=en-US&ad=US).
![image](https://user-images.githubusercontent.com/87364252/137864008-8246b1b8-3b26-4829-9778-4759881fbcd7.png)
"Sort" is kind of different with "Filter". U

[2021-10-19 08:54] RuoyingLiang commented on #408
The comment API document [https://docs.microsoft.com/en-us/javascript/api/word/word.comment?branch=master&view=word-js-preview](url) . Welcome to try and share your feedback.

[2021-10-19 09:18] balazserdeszlogmein commented on #2066
More than a month passed, and still no answer from your side, @exextoc. Can you please update me on the state of this ticket?

[2021-10-19 09:49] hello-chenchen opened #2187 "Windows Outlook, Office.context.ui.displayDialogAsync prompt dialog have security issue while using google oauth login"
error message is:
[code]

![image](https://user-images.githubusercontent.com/1878089/137886314-9e05a943-c663-4ecc-bd31-c64b299a9bfb.png)

there is no problem on chrome owa.

[2021-10-19 12:53] lukesolar opened #2188 "ItemId is null for appointment in edit view / Outlook "New Design" for Mac"
When we try to get the itemId of any appointment in our calendar TaskPane, the itemId is null. This issue only happens on Outlook New Design **edit** view of an appointment.

We cannot use getItemIdAsync() since that function is not available in the requirement set 1.7.

Outlook: 16.48 (New Design: ON)
RequierementSet: 1.7 https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompo

[2021-10-19 15:52] isabela-dominguez commented on #2179
Thank you for sharing this issue with our team @nermin-slidelizard. Our team will look into it!

[2021-10-19 16:09] jnSWPC opened #2189 "Microsoft 365 Version 2108: Build 14326.20508 -> R1C1 excel formula values cause range values setting error"
The dataset being bound to the excel table has R1C1 excel formula values. There was no error binding to the table and rendering in 2102 version or the recent 2109 version. However the Version  2108 throws an error.  Could you please look into this urgently since this appears to be the next Semi-Annual Enterprise release.

The dataset sample:
![image](https://user-images.githubusercontent.com/22331

[2021-10-19 18:02] isabela-dominguez commented on #2183
Thank you for reporting this issue @mynameismon! Connecting you with @RuoyingLiang to help investigate this issue.

[2021-10-19 18:30] aashutoshrathi commented on #1398
This helped me -> https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/versionoverrides#implementing-multiple-versions

Basically, this allows me to use both the Version

[2021-10-19 18:35] Rick-Kirkham commented on #2185
The Edge DevTools can only see and attach to processes running in the Edge Legacy webview (EdgeHTML). Based on your version of Office, your add-in is probably running in the new Chromium-based Edge webview (WebView2). See [Browsers used by Office add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins). To debug an add-in that is using WebView2, se

[2021-10-19 18:54] Dengshan2018 commented on #2176
@jfoclpf there are a few cases that the runtime will fall back to legacy webview. could you check:
1. if your IT is blocking enable webview2 by checking if all machines are running on legacy webview.
2. your machine is WIP enabled. when WIP enabled, runtime will fall back to legacy webview. webview2 doesn't support WIP yet.

[2021-10-19 19:23] chiz-ms commented on #2182
Hi @crestbala, thanks for reporting this issue regarding `TableCollection.load`. Unfortunately we haven't succeeded in reproducing this issue yet. Could you share some further information to help us identify the issue? For example:
- Does it only appear with some certain versions of Word Online?
- Does it only appear with `context.document.body.tables`?
- Does it only appear with `load` method?
-

[2021-10-19 19:31] handofthecode commented on #2123
@rulopimentel You can use the word API to generate a docx file. Then just unzip it and look in that settings.xml for the trackRevisions tag. Confirmed working 👍

[2021-10-19 19:45] isabela-dominguez commented on #2184
Thank you for sharing this issue @skurian123. Connecting you with @exextoc who may be able to help.

[2021-10-19 19:45] rulopimentel commented on #2123
Hi @handofthecode . You are correct, unzipping the file and looking in  settings.xml you can find the "trackRevisions" tag. However, if you are using the Word API to get this value using the getOoxml() function ( [Word.Body class - Office Add-ins | Microsoft Docs](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#getOoxml__)), the "trackRevisions" tag is missing.

[2021-10-19 20:05] isabela-dominguez commented on #2187
Thank you for sharing this issue @hello-chenchen. Would you please be able to provide repro steps? By using the following template you help us better analyze your issue.

# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operat

[2021-10-19 20:11] isabela-dominguez commented on #2188
Thank you for sharing this issue @lukesolar. Connecting you with @macOutlookExtensibility who may be able to help.

[2021-10-19 20:36] handofthecode commented on #2123
I achieved the same thing you're trying to do.

Since the getOoxml() method doesn't return what you need, you can **use the word API** to generate the docx file and parse it on the client (or send it to a service if you prefer) to extract the tag from settings.xml.

[2021-10-19 20:51] jfoclpf commented on #2176
it's solved, https://stackoverflow.com/a/69575012/1243247

[2021-10-19 20:51] #2176 closed, assigned to croicu, Dengshan2018

[2021-10-20 02:13] inderjitkr commented on #1398
Thanks for the reply. I got it and implemented it.

Thanks and Regards
Inderjit Kumar
8984555390

On Wed, 20 Oct, 2021, 12:01 am Aashutosh Rathi, ***@***.***>
wrote:

[2021-10-20 04:36] gingerjia commented on #2154
@nsakar our fix for SAC Preview Channel is check-in today, and when get deployed, I will update here.
Another thing I want to double confirm is that do you mean you get the issue at SAC? Or SAC Preview channel. From our side expectation, the issue should only impact SAC Preview, but not impact SAC. Thanks very much for your help!

[2021-10-20 06:45] crestbala commented on #2182
Hiya @chiz-ms ,

I have been tried different browsers(including Chrome, MSEdge), the issue is still getting appeared on Word online.

No, it is not appeared only on certain version of word web.
It has been occurred when I try to access the "**context.document.body.tables**" while load the tables(**tables.load()**).
Yes, the issue is being appeared on **load** method.
Yes, I've checked this on Inco

[2021-10-20 08:36] chiz-ms commented on #2182
Hi @crestbala, thanks for all the details. Could you please also share a document file (with all sensitive data removed) that could repro this issue?

[2021-10-20 10:30] rajha-conga commented on #1799
we can close this issue. now it is using webview2

[2021-10-20 10:30] #1799 closed, assigned to smaremanda

[2021-10-20 10:39] exextoc commented on #2125
@elegault Fix was rollingout last week. Can you please try again now to check if it is fixed for you?

[2021-10-20 13:06] irynakaban opened #2190 "dialog.close() causes an error in the Office dialog API"
Hello,
we found a problem with OfficeDialog API. When a user open dialog with option “displayInIframe: true” - the function dialog.close() doesn’t work and we can see error in console, but if we use the option “displayInIframe: false” - the function dialog.close() works.

## Expected Behavior
When dialog.close() is called, the dialog box should be closed.

## Current Behavior
When dialog.close() i

[2021-10-20 13:14] sachin161194 opened #2191 "excel-web-16.00.js:26 Uncaught TypeError: Cannot set properties of undefined (setting 'targetOrigin') at OSF.DDA.WAC.Delegate.closeDialog"
This functionality was working fine till yesterday ,But now getting error from Excel-web-16.00.js library suddenly & it is impacting our PRODUCTION & DEV & LOCAL Environment.

Issue Summary :-
On Office JS Online , while Login in our excel Add-in with our call-back authentication pop up.
After getting Successfully Authenticated also ,Dialog is not getting closed and we are getting error from excel

[2021-10-20 13:44] nickdekesel opened #2192 "dialog.close from DialogApi does not work anymore in PowerPoint Online"
In PowerPoint Online when we are trying to close a dialog that was opened with the DialogApi the dialog is not closing and we are getting the following error.
`Uncaught TypeError: Cannot set properties of undefined (setting 'targetOrigin')
    at OSF.DDA.WAC.Delegate.closeDialog (powerpoint-web-16.00.js:26)
    at <computed> (powerpoint-web-16.00.js:26)
    at OSF.DialogHandler.value [as close] (p

[2021-10-20 14:42] isabela-dominguez commented on #2175
Thank you for sharing this issue @MicGensty. I apologize for the late reply. I am connecting you with @mattgeim who may be able to help.

[2021-10-20 14:48] errishab111195 commented on #2192
was there any verison upgrade done recently?

[2021-10-20 14:52] isabela-dominguez commented on #2190
Thank you for sharing this issue @irynakaban. Connecting you with @lliu113 who may be able to help.

[2021-10-20 15:58] madhavagrawal17 commented on #2178
@jgauntz, I want to give you some background on how Custom Functions with SharedRuntime will be working. If you have properly enabled SharedRuntime for Custom Functions (I don't see the details of the manifest.xml) then Custom Function will be running in a Browser WebView. So, the authentication code would be the same as you do for Browser. Also, I am not able to understand the current problem. Ca

[2021-10-20 17:19] wh1t3cAt1k opened #2193 "Excel: cannot conditionally expose custom functions despite conditionally calling CustomFunctions.associate"
## Rationale

We have an add-in that provides Excel integration functionality for various kinds of products. Each type of product has a set of similarly named functions, which can total several dozens **product-specific** functions like "CURRENTUSERBALANCE", **per each product.**

_(just for the record, we cannot meaningfully expose a universal function "CURRENTUSERBALANCE" for all products becaus

[2021-10-20 21:30] madhavagrawal17 commented on #2047
@dinglicoding, Could you please share the details on PrimaryCommandSurface Extension Point from your XML manifest? We need to check the details of your manifest to investigate this issue.

[2021-10-20 21:44] pkkj commented on #2184
Hi @skurian123, we have several questions. 1) You mention the dialog doesn't open after you call displayDialogAsync. Would you like to share the part where you call this API? 2) Have you try any example code in your Outlook environment (or Excel)? Does the sample work?

Thank you very much.

[2021-10-20 21:57] ghost opened #2194 "AddinServiceHandler.ashx getAddIns ResponseCode 6; What does ResponseCode 6 mean?"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

# Provide required information needed to triage your issue
What does Response Code 6 mean from the AddinServiceHandler.ashx api call?

Customer has successfully centrally deployed our

[2021-10-21 01:55] skurian123 commented on #2184
Hi @pkkj, thanks for your time to look into our issue. In our App component under componentdidmount we are calling login function which interns calls SIgnINO365 helper function where it reaches there and it runs without opening the dialog popup. We are not getting any error

Please find code block where we were calling above method:

export const signInO365 = async (

  setState: (x: AppState) =>