[2019-05-29 13:27] rodrigoguariento opened #534 "How to detect which version of OfficeOnLine is running"
Dears, is it possible to detect what OfficeOnLine is running? For example: I got "OfficeOnLine" string from Office.context.platform, but I realized that there is some different behaviours between current version and "try new Outlook". Detecting what version is running I can solve each situation individually. Suggestions? Thanks.

[2019-05-29 16:01] rodrigoguariento commented on #534
Office.context.diagnostics.version

[2019-05-29 16:01] #534 closed, assigned to nobody

[2019-05-29 16:13] rodrigoguariento opened #535 "Multiple locations not working Outlook OfficeOnline 16.0.10205.1000"
Adding multiple locations in an new calendar Event with setAsync cause different behaviours in Outlook OfficeOnline (new OWA works fine, old OWA is the problem).

## Expected Behavior
When I add a string like "room1; room2" using Outlook OfficeOnline **16.0.10908.1000** (new OWA), the Outlook displays each room separated. All right here!

## Current Behavior
The same code using Outlook OfficeOnlin

[2019-05-29 16:54] jordandev commented on #533
I also saw this behaviour with onSelectionChanged.

It was required to mouse over the task pane to cause the event to be fired. If F12 was opened the events would always be fired immediately.

Platform: Excel for Office 365, build 16.0.11629.20164, 64 bit
Operating System: Windows 10

[2019-05-29 16:56] Rick-Kirkham commented on #536
The Transfer issue feature is working today so I have transferred this and reopened it.

[2019-05-29 16:58] Rick-Kirkham commented on #536
@seng1
What is the Office build number?

[2019-05-29 17:04] Rick-Kirkham commented on #536
It looks like the OP already recreated this issue in the office-js repo, so I'll close this.

[2019-05-29 17:04] #536 closed, assigned to niteshgolchha85

[2019-05-29 17:05] Rick-Kirkham commented on #532
@seng1  What is your Office version/build number? SSO is turned off on builds that have reached the semi-annual channel.

[2019-05-29 17:21] seng1 commented on #532
My office build number is 1903. It work fine for both office desktop and office web app after I restart the app. That's issue is happening when sending request to my web API because I am also use firebug debugging and I can see that office js return a valid token. What I was wondering is, is it possible this issue cause from JWT middle as I send you on above message.

[2019-05-29 17:22] seng1 commented on #532
When restart the application, it works arround one week and after that I need to restart the application again.

[2019-05-29 20:18] sureshjoshi commented on #106
Hi there, any update on this? I opened it almost a year ago.

[2019-05-29 21:14] fds-ssg commented on #518
Still occurs in Version 1906 (Build 11715.20002)

[2019-05-29 21:16] kbrandl commented on #518
@catchingyu FYI, reopening this issue since the customer's been able to repo on a sufficiently recent version.

[2019-05-29 21:25] slowkoala commented on #518
@catchingyu sorry, I was out on vacation last week.  I just upgraded to the latest version (Version 1906 (Build 11715.20002)) and I still see the problem.  However, I'm not on the latest versions of Windows 10, so the taskpane is using IE11.  Are you testing with a taskpane using IE11 or Edge?

[2019-05-30 00:17] keyur32 commented on #506
Yup, we are investigating this. We will respond once investigation completes. Have added a bug label to this issue. Thanks!

[2019-05-30 04:30] catchingyu commented on #518
I am on the windows 10 enterprise version. Do you have a chance to test on the latest version of windows 10?

[2019-05-30 04:30] catchingyu commented on #518
Also create a Bug 3392711 to track this issue

[2019-05-30 05:46] catchingyu commented on #533
Bug 3384014 is created to track the issue.
Similar issue with https://github.com/OfficeDev/office-js/issues/521

[2019-05-30 05:50] catchingyu commented on #518
More information for you related to the windows version:

Beginning with Office 365 version 16.0.11629 and Windows 10 version 1903 [Windows May 2019 Update announcement], Office Add-ins running on Office 365 for Windows will use a Microsoft Edge WebView as the runtime.

[2019-05-30 05:58] catchingyu commented on #512
Bug 3392964 is created to track this issue.

[2019-05-30 09:26] s-pilkhwal commented on #433
@macOutlookExtensibility  I'm not sure if this is related but one of our client using on-premise exchange is facing the same exact error on windows outlook as well as on OWA.  There is no network log of EWS call being made to get email headers is returning `asyncResult.value` as `undefined`. Will the update fix this error on windows outlook and OWA as well.? I see _office.js_ is downloading [outlo

[2019-05-30 10:23] macOutlookExtensibility commented on #433
@s-pilkhwal No, we have only investigated and fixed this on Mac Outlook. If you see this on Windows  Outlook and OWA, please raise a new issue and tag the other platforms.

[2019-05-30 11:11] exextoc commented on #482
I'm unable to reproduce the error. Also, I don't think the console error you are seeing is related to this API. So, instead of calling the API in initialize, can you try to attach it to a button click and test it and post the results ?

[2019-05-30 13:46] slowkoala commented on #518
@catchingyu Thanks for the extra information.  Our Windows updates are locked down so I haven't been able to test it with the latest update.  Even if it doesn't happen with Edge, we will want to release our add-in to users who don't have the requirements for the Edge WebView and use IE11 as their taskpane browser.

[2019-05-30 16:41] serjant commented on #329
Likewise when I set `w:trackRevisions` tag with `w:val="true"` in the `settings.xml` part of the OOXML you still omit and drop this tag - I have checked it via Script Lab. That does not make sense at all

[2019-05-30 17:17] rodrigoguariento opened #538 "Outlook OfficeOnline 16.0.10205.1000 can't get location string"
After set the Office.context.mailbox.item.location programatically for the first time, its not possible to get other values set later in Office.context.mailbox.item.location at Outlook OfficeOnline 16.0.**10205**.1000 .

## Expected Behavior
After set some value into location, it should return the same value after.

## Current Behavior
After set some value at location field for the first time, thi

[2019-05-30 17:18] GeorgeHung opened #539 "Excel onChange event causes internal error during writing large range in Excel online"
In Excel online, if we subscribe to Excel onChange event, we will get an internal error exception when we try to write a large range even when we disable event by setting context.runtime.enableEvents to false.  This doesn't happens on Windows desktop or Excel for Mac.

## Expected Behavior
The update should successes like Windows desktop or Excel for Mac.

## Current Behavior
An internal error exc

[2019-05-30 19:47] mkoczka commented on #482
Okay. The example I provided stopped working. It looks like the `displayDialogAsync` function is now adding unescaped query parameters into the URL in window that dialog is opened. There's an unescaped pipe `|`. So the node server behind `webpack-dev-server` is now falling on that.

It looks like the example repo I found in `officejs` docs is no longer viable option to test the dialog behavior.

L

[2019-05-31 07:05] dinglicoding opened #540 "[Excel] when create textbox in different computer,display at different position"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

hi

when i create a textbox ,set left=100,top=100. and set textbox width=500 and height=50 . in 1920*1080. it's ok, but in 204

[2019-05-31 07:39] keyur32 commented on #506
Hey folks, sorry! we haven't been able to repro this across multiple machines on 10.14.4 and 10.14.5 -- it all works, when we set it. We may need to jump on a call. + @JuaneloJuanelo / @akrantz  to help coordinate that..

[2019-05-31 17:16] ShannonLCapper opened #541 "Office.context.diagnostics missing in Windows Outlook 2016 MSI"
`Office.context` has several missing fields in the most recent version of Windows Outlook 2016 MSI than it does in the most recent version Windows Outlook 2016 click-to-run. This is not reflected in the [documentation](https://docs.microsoft.com/en-us/javascript/api/office/office.context?view=office-js) for the `Context` interface

## Expected Behavior

In Windows Outlook for Office 365 MSO (click

[2019-06-03 17:20] shyambhiogade opened #542 "Office excel add-in is getting cropped when loaded in excel online and in excel Desktop"
I have an Excel office Addin developed using office.js, when that addin is loaded in excel online or excel desktop on some machine its getting cropped. Please find the image below, notice that scroll head box at the bottom is not visible.Because of this the pop up message, i show is cropped.

![image](https://user-images.githubusercontent.com/10468130/58821023-f9b7f400-85e8-11e9-96ba-54d1841ed347.

[2019-06-03 19:01] kanaksony opened #543 "Create Invite Programmatically with base64 encrypted string fils to SEND"
I am developing an Outlook addin. This addin helps in pre-populating pre-defined invitation template wth some meeting URL, now we changed tis URL to base64 encrypted string like -

http://www.myurl.com/NTA1MDo4OTg5QGNvbnhtZS5uZXQ=/Kanak

## Expected Behavior
I should be able to SEND the invite with this invitation text from OWA and Windows and Mac clients both.

## Current Behavior
MAC Client - Se

[2019-06-03 23:09] danielgwilson commented on #491
Hi, thanks for your patience!

# Here's what I believe is happening:

1. Office JS appends `_host_info` to the Taskpane URL of an Add-in to help with cross-platform handling.
2. Certain partners are launching the Dialog API with the same URL as the Taskpane, but with a portion replaced (e.g. `const url = window.location.replace("Taskpane.html", "Dialog.html");`).
3. Because of this replacement app

[2019-06-03 23:09] #491 closed, assigned to danielgwilson

[2019-06-04 05:34] exextoc commented on #543
@kanaksony Are you using old OWA or new OWA?

[2019-06-04 06:02] exextoc commented on #543
We are able to reproduce this issue when we try action "Schedule a Meeting" from any mail item. Thanks for reporting this issue regarding saving/sending calendar invite with your ConX addin. It has been put on our backlog. We unfortunately have no timelines to share at this point.

Note: We tried using the addin by freshly creating new calendar invite and this works fine. Steps for this:
1. Create

[2019-06-04 06:19] kanaksony commented on #543
Hi @exextoc thanks for the confirmation. We are developing this plugin for Foxconn.

This is one of main functionality in our Addin. And this is something broken that must be fixed.

This is so unfortunate we have couple of issues reported during development recently and we get --  no timelines to share at this point :(.

Can you suggest me any workaround? We need to deliver this to my client.

[2019-06-04 06:28] exextoc commented on #543
@kanaksony I understand the situation and really apologize for this. I am working with engineering if we can resolve this issue asap. Also, we are checking if we can provide any workaround for this.

You mentioned "couple of issues reported during development recently".  I found one issue: https://github.com/OfficeDev/office-js/issues/498 . Can you please help me with listing them here? I wanted t

[2019-06-04 06:49] kanaksony commented on #543
Please Please do the needful.

I am listing the important issues here, that we really want and request you to fix to deliver my project to client successfully:

1. https://github.com/OfficeDev/office-js/issues/543
2. https://github.com/OfficeDev/office-js/issues/430
3. https://github.com/OfficeDev/office-js/issues/498

[2019-06-04 08:05] exextoc commented on #543
Thanks @kanaksony. I am looking into their status.

[2019-06-04 10:14] lumine2008 commented on #542
Thanks @shyambhiogade for sharing the information.
Looks like there is an error about date format, would you please check your code? or share your code at here? we need more information to locate the issue.

[2019-06-04 13:41] exextoc commented on #538
@rodrigoguariento I am not able to reproduce this problem in latest OWA (Outlook Online: new OWA).

Couple of questions:

1. Are you using old OWA or new OWA?
2. When you say "Outlook on-premise works fine too." - do you mean Outlook Desktop client running on Windows System?
3. From where are you capturing these version numbers: 16.0.10205.1000 and 16.0.10908.1000 for Outlook OfficeOnline? Can you

[2019-06-04 14:00] dinglicoding opened #544 "AppDomain can use First-level domain name"
hi

in office add-in xml. i use
` <AppDomains>
    <AppDomain>mydomain.com</AppDomain>
 </AppDomains>
`
i can not open  https://api.mydomain.com

but i use
`<AppDomains>
     <AppDomain>https://api.mydomain.com</AppDomain>
   <AppDomain>https://www.mydomain.com</AppDomain>
</AppDomains>`

it's ok.

if i want a xxx.mydomain.com, i need to add in appdomains?

[2019-06-04 18:18] Rick-Kirkham commented on #544
The subdomain is part of a domain, so `xxx.mydomain.com` is a different domain from both `yyy.mydomain.com` and `mydomain.com`.

[2019-06-04 20:59] shyambhiogade commented on #542
@lumine2008 please ignore the error message, what i wanted to show you is that bottom scroll head is not available when add-in loaded with a manifest file. The error message i am showing is the part of my addin functionality

[2019-06-05 00:50] lumine2008 commented on #544
Hello, @dinglicoding,

Could you please share more information about your scenarios?

If you would like to jump from main domain to sub domain, you have 2 solutions:
1) if you know each subdomains, you could add each of your subdomain in to the manifest <AppDomains> session
2) another solution is server redirection. you can use when the sub domain is dynamically changing. so you could use the href

[2019-06-05 00:53] rodrigoguariento commented on #538
1. The problem occurs in old OWA, the new OWA is normal, Outlook Desktop version is normal too.

2. Yes, Outlook Desktop client running on Windows 10.

3. From this:
[code]

4. I'm using O365 Online.

[2019-06-05 00:54] lumine2008 commented on #542
Thanks, @shyambhiogade , i notice the bottom scroll head is not available, i would like to learn if this happen when you got the error message? if the error is fixed, will that bottom scroll head be able to show?

[2019-06-05 01:02] dinglicoding commented on #544
hello @lumine2008

the subdomain is part of a domain. so if one day i need a subdomain, so i need to add it to

`<AppDomains>` and republish my excel add-in xml to office store. so it's Wasting time。

subdomain is a different domain,but they all under the domain of mine.

[2019-06-05 03:11] exextoc commented on #541
For Outlook, please use the hostName property on the [Office.context.**mailbox.diagnostics**](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.7/office.context.mailbox.diagnostics?view=office-js) object in place of Office.**context**.diagnostics.platform (please note, the property name and values are different between the two objects). In particular, Offi

[2019-06-05 07:51] RuoyingLiang commented on #539
Thanks for raising this issue. This is a known issue and we are investigating now. Current work around is try to break the range to smaller sub ranges. Will update this thread once it's fixed.

[2019-06-05 08:16] RuoyingLiang commented on #540
Thanks for reporting. Creating a bug to track first.

[2019-06-05 10:49] mnnitsarvesh commented on #433
hey can you help me to get value from office.context in mac outlook app??

[2019-06-05 18:02] jcjolley commented on #545
I have noticed this as well.  Any word on a fix or work around for this?

[2019-06-05 20:18] kbrandl commented on #545
Transferring this issue to the OfficeDev/office-js repo (since this API was released as part of requirement set 1.9).

[2019-06-05 20:20] kbrandl commented on #546
Transferring this issue to the OfficeDev/office-js repo (since the OfficeDev/office-js-docs repo is being archived).

[2019-06-05 20:52] JuaneloJuanelo commented on #546
@makzr  hello and thanks for the question, I noticed you opened this issue long time ago, this is supposed to be working on the latest Office updates, hopefully you can try it and let us know? if hyou can repro please add the office build you are using.

btw the documentation was moved to here https://docs.microsoft.com/en-us/javascript/api/word_release/word.application?view=office-js#createdocume

[2019-06-06 00:47] shyambhiogade commented on #542
@lumine2008, it happens without error message also,  please give me your email id, i can send you the manifest file to use to reproduce. or you can create a sample application and use the manifest file to load the addin

[2019-06-06 02:06] lumine2008 commented on #542
@shyambhiogade, Please send the manifest to raymonlu@microsoft.com, thanks.

[2019-06-06 03:01] dinglicoding opened #547 "[excel] when set Requirements my Ribbon Button can not display"
hello

my excel add-in use textbox. it's required  ExcelApi 1.9 ,so i add a Requirement in xml.

![image](https://user-images.githubusercontent.com/3963826/59003686-8d87fb00-8849-11e9-9526-c048ee1ce290.png)

so in office add-ins=> admin managed , i add my add-in . it's can not display my ribbon button , but it can show TaskPane.

i removed the Requirements,it's display ok.

my excel version is
![i

[2019-06-06 03:44] dinglicoding opened #548 "[excel] my add-in not support by my internet explorer"
hello

my add-in in TaskPane show error . how to check my add-in support the version of internet explorer?

![image](https://user-images.githubusercontent.com/3963826/59004356-f1132800-884b-11e9-91da-037593c8e457.png)

![image](https://user-images.githubusercontent.com/3963826/59005379-d8a50c80-884f-11e9-9aab-8d022c3cfa3a.png)

![image](https://user-images.githubusercontent.com/3963826/59005386-de

[2019-06-06 08:51] exextoc commented on #538
@rodrigoguariento Thanks for your response.

Can I know the reason for using the older version (16.0.10205.1000) instead of newer version of OWA (16.0.10908.1000)? Looks like issue is not reproducible in 16.0.10908.1000 version. You can continue using new one then?

By the way, office.context.diagnostics.version tells Office version. To get OWA or Exchange versions, we can use office.context.mailb

[2019-06-06 10:07] dinglicoding opened #549 "[excel] Table onChanged, cell font color can not changed"
hello

table onChanged can not changed when i changed a cell value , it's can not changed , but mouse move to TaskPane ,it's changed.

see video,thanks

[Excel 2019-06-06 18-05-03.zip](https://github.com/OfficeDev/office-js/files/3261072/Excel.2019-06-06.18-05-03.zip)

[2019-06-06 10:33] dinglicoding opened #550 "[excel] show dialog take too long time-"
hello

use ExecuteFunction and use Office.context.ui.displayDialogAsync to show a dialog. it take a long time to show.

use TaskPane and use Office.context.ui.displayDialogAsync to show a dialog , it's not too slowly.

why?

thanks

[2019-06-06 10:47] lumine2008 commented on #550
Hi @dinglicoding
Thanks for your message,  we would like to know more about it. could you please share us your sample code? therefore I can verify it in my side.

[2019-06-06 10:50] lumine2008 commented on #549
Thanks @dinglicoding , could you please try to change the cell and don't move the mouse? onChange should not be related to mouse action. I guess the performance is slow. then feels like it changed when mouse move

[2019-06-06 10:51] rodrigoguariento commented on #538
Yes, of course, we can. The main reason it's because I tried for some times publish my add-in at Microsoft Seller Panel (Dashboard), and we were denied the publishing because the validation are being made in old OWA, where this problems occurs.

[2019-06-06 17:36] shyambhiogade commented on #542
@lumine2008 I have sent you an email with the required details.

[2019-06-06 17:57] misaunde opened #551 "Duplicate Table Name Issues"
Trying to create a 2nd table using the same name as a previously created table yields a very vague and confusing error message:
`"The argument is invalid or missing or has an incorrect format."`

You can reproduce this in Script Lab, in the "Table collection events" script, by changing both table names to be the same in the `createSalesTable` and `createReturnsTable` functions:
![image](https://us

[2019-06-06 22:12] jargil commented on #530
@htryggva - just letting you know I've fixed this one, will update here once I have a build with the fix to see if you can help validate that you don't see those errors anymore on your end. Thanks again for reporting this issue and for the very clear repro steps.

[2019-06-06 22:20] jargil commented on #516
@kumarsai - thanks.

Adding a link to the issue where this was initially reported as it contains links to repro steps:
https://github.com/OfficeDev/office-js/issues/483

[2019-06-07 08:53] htryggva commented on #530
@jargil That sounds great! Happy to help and looking forward to trying it out :)

[2019-06-07 10:21] rodrigoguariento commented on #538
Dears, problem solved, our add-in was accepted and published after I change the code to ignore this behaviour when old OWA is detected. We are considering that old OWA will be deprecated soon. Thank you!

[2019-06-07 10:21] #538 closed, assigned to nobody

[2019-06-07 10:25] rodrigoguariento commented on #535
Dears, we solved it after I change the code to ignore this behaviour when old OWA is detected, namely, when old OWA is detected we are considering that location field can only accept a single room. We are convinced that old OWA will be deprecated soon. Thank you!

[2019-06-07 10:25] #535 closed, assigned to exextoc

[2019-06-08 02:17] lumine2008 commented on #551
Thanks @misaunde for reporting to us the information. I just repro the issue in my side.
1# Agree with you, we need to think about to improve the error message to let developer know what's happen.
2# yes, all table names are unique across an entire workbook is our current design. agree this is a bit confusing, we should need to think about how to improve the error message for this as well.

Thanks

[2019-06-08 02:20] lumine2008 commented on #547
Thanks @dinglicoding,

Out current design for the requirement set is not apply to textbox, therefore.please specify “ExcelApi” requirement set, instead of the “TextBox”.

Thanks,
Raymond

[2019-06-08 22:47] tiagoalves opened #552 "In Excel Online, the automatically created worksheet of all new workbooks, have the same id"
As described in [this Stack Overflow question](https://stackoverflow.com/questions/56502276/all-first-worksheets-of-files-created-in-excel-online-have-the-same-id), when I go to [office.com](https://www.office.com) and create a new Excel file, the worksheet that already exists in the new file, has always id `{00000000-0001-0000-0000-000000000000}`.

If I manually create a new worksheet, the worksh

[2019-06-09 02:19] dinglicoding commented on #547
Thanks @lumine2008

i replace TextBox to TableBindings, it's can not dislpay my ribbon button too.

[2019-06-09 11:38] kathirvalavan commented on #482
@exextoc I am also facing the same issue. any workaround would be helpful
<img width="1362" alt="Screen Shot 2019-06-09 at 5 41 51 PM" src="https://user-images.githubusercontent.com/8244931/59158835-23d44f00-8ade-11e9-8f85-f690c1eb5fa1.png">

[2019-06-10 00:31] lumine2008 commented on #544
Hello @dinglicoding, so you would like to dynamically changing the subdomain. if in this case, then you could use server redirection solution, by changing the sourcelocation to the maindomain, and use  href="https://xxx.mydomain.com" to jump.

[2019-06-10 00:33] lumine2008 commented on #548
Hello, @dinglicoding
here is the information about which browser is used for the various platforms and operating systems.
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

[2019-06-10 01:08] dinglicoding commented on #548
Thanks @lumine2008

it seems my browser is  fulfil requirements.

[2019-06-10 01:28] lumine2008 commented on #542
Thanks, @shyambhiogade,
I found we have a internal bug 3333346 tracking this issue. I have invite PM to share some update to you.

[2019-06-10 09:20] splinter commented on #486
We are using the Pinning feature but we are registering for the ItemChanged event.

[2019-06-10 18:23] shyambhiogade commented on #542
Thanks @lumine2008, I will be waiting for the update.

[2019-06-10 18:23] tobiasviehweger commented on #467
@afzal-hussain yes, fixed for me as well, sorry for the delay! thanks!

[2019-06-10 20:02] slowkoala opened #553 "Custom functions that return dynamic arrays return #VALUE if 2 or more are evaluated at the same time"
We have a custom function that returns an array.  With PC Office, if you have more than 1 in your workbook and you trigger a refresh by setting the cell's formula property to itself, it will return `#VALUE`.  This works fine with Office Online.  This also works with PC Office if you use the formula in an array formula (with control-shift-enter) or use `=@` instead of just `=`

## Expected Behavior

[2019-06-10 21:01] keyur32 commented on #553
Hey there! Yes this is an active bug we have on *insiders* channel that has Excel Dynamic Arrays enabled. Team is currently investigating a fix, which will be made before Dynamic Arrays gets enabled.  End users on the Monthly channel will not hit this issue as they correctly evaluate there.

[2019-06-10 22:30] sohailzafar commented on #431
Apologies for the delay. Please share your email address and someone from the team will reach out to you. Thanks

[2019-06-11 07:14] #467 closed, assigned to exextoc

[2019-06-11 07:30] ukalhapu commented on #531
can someone provide any help on the issue ?

[2019-06-11 08:20] kanaksony opened #554 "How to publish an Office 365 MS Outlook Addin"
https://stackoverflow.com/questions/56539204/how-to-publish-an-office-365-ms-outlook-addin

[2019-06-11 15:16] splinter commented on #431
Can I start a dialog via Juan?

[2019-06-11 15:59] sohailzafar commented on #431
Sure

[2019-06-11 16:47] emtencza commented on #486
Are the recipients resolved when making the mailbox.item.to.getAsync API call? If not, the API will not return those recipients until they are resolved, which may be why you are seeing an empty address list.

[2019-06-11 16:55] exextoc commented on #486
Are the recipients resolved when you call mailbox.item.to.getAsync? If not, the API will not return the recipients until they are resolved, which may be the reason you are seeing an empty address list.

[2019-06-11 17:35] dmahugh commented on #531
@weshi can you take a look at this? Thanks!

[2019-06-11 20:16] phlppnhllngr commented on #446
https://github.com/phlppnhllngr/office-addin-integration-testing

[2019-06-12 09:46] grangeryy commented on #552
Notice this issue was first posted in Stack Overflow 6/8 (link in the description by tiagoalves). Jacob seems to be also following it. To avoid duplication, @lumine2008 you may check with him on the status:)

[2019-06-12 16:53] jargil commented on #530
@htryggva - quick update on the build number with this fix. It should be included in any Office build 16.0.11810+.

[2019-06-12 17:22] jmarq commented on #482
I am having a very similar issue, where my calls to `Office.context.ui.messageParent("test")` don't seem to reach the parent. Interestingly, dialog close events (code 12006) DO reach the parent.

I will add that I too am seeing the `Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://outlook.live.com') does not match the recipient window's origin ('https://localhos

[2019-06-12 17:30] AnjanaValsan commented on #433
https://macadmins.software/ the schedule is available here. We had a roll out on June 11 where the fix has gone public. Request you to check and update us. thanks!

[2019-06-12 17:54] lliu113 commented on #542
@shyambhiogade - Hello! I'm Lillian, I work on the Office Extensibility team with Raymond (@lumine2008). Thanks for reporting the issue. We are currently in the process of upgrading our taskpane infrastructure. We are planning on addressing this issue as part of the upgrade, scheduled July - Dec 19.

[2019-06-12 18:44] #544 closed, assigned to Rick-Kirkham

[2019-06-12 18:46] Rick-Kirkham commented on #494
Closing. If you are still having problems, please add a comment here.

[2019-06-12 18:46] #494 closed, assigned to Rick-Kirkham

[2019-06-12 21:46] hjkim-MSFT commented on #553
To work around this problem, you can use Range.calculate method instead of assigning array of formulas to recalc.

    async function run() {
      await Excel.run(async (context) => {
        const sheet = context.workbook.worksheets.getActiveWorksheet();

        const used = sheet.getUsedRange();
        used.calculate();
        await context.sync();
      });
    }

You can try this by import

[2019-06-13 04:31] chenghsin0722 commented on #433
@AnjanaValsan May I know the roll out version? is it 16.26?

[2019-06-13 05:30] AnjanaValsan commented on #433
yes.
Version| Build Number
16.26.0 | 16.26.19060901

You can find the version here https://macadmins.software/

[2019-06-13 14:12] glr0221 commented on #433
@macOutlookExtensibility @kbrandl

The latest version MAC-Outlook 16.26 has removed the add-in bar. Is this expected of the update too? Where can we get the release notes for this build? Right now, our add-in cannot be accessed anymore so it's affecting some of our clients. Thank you for all your help. Here are some images i have :

![MissingAddinBar-Edited](https://user-images.githubusercontent.c

[2019-06-13 15:08] slowkoala commented on #553
@hjkim71 thanks, that works!

[2019-06-13 16:33] kbrandl commented on #433
@macOutlookExtensibility can you please provide input re @glr0221's [latest comment](https://github.com/OfficeDev/office-js/issues/433#issuecomment-501720291)?

[2019-06-13 16:48] AnjanaValsan commented on #433
Hello, the release notes are available oin the site I shared above.. sharing it here for easy reference
https://docs.microsoft.com/en-in/officeupdates/release-notes-office-for-mac

I would investigate the issue you have highlighted above and update here

[2019-06-13 17:23] glr0221 commented on #433
@AnjanaValsan  Thanks for your assistance. Please correct me if I am wrong but 16.26 seems to be not covered by the release notes you have? The update came out around June 11-ish if I am not mistaken.

Second as for investigation, the addin we have has been working fine for windows and mac based clients before this issue on "makeEWSRequestAsync()" came out. Now after the 16.26 update, we could not

[2019-06-13 20:54] frmoded opened #557 "Bug in using paragraphs out of Word.run flow"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

There seems to be a bug in office-js.
This Issue was reported and reproduced by Michael Zlatovsky.
For complete description see:
https://stackoverflow.com/questions/56585155/using-par

[2019-06-13 20:55] frmoded commented on #557
If possible, please update Stack Overflow Question once fixed.

[2019-06-14 04:11] marcboivin opened #558 "Custom function : TypeError: Network request failed on Desktop, working online"
## Expected Behavior

I would expect the Fetch request to work as it does on the online version
## Current Behavior

I get a #VALUE error, no API request go to the server, loggin the return object of the feta request yeilds :

[code]

Functions that don't do network request work as expected.

## Steps to Reproduce, or Live Example

Can't provide a live example, but the snippets that fetches the co

[2019-06-14 05:28] exextoc commented on #543
Hi @kanaksony we are actively working on a solution. We see that your add-in in not available any more, could you please host it again? It will speed up our testing process. Thanks.

[2019-06-14 06:40] kanaksony commented on #543
Hey @exextoc Thanks for the update. Please try https://mop.infocus.net:3000/infocus-conx-outlook-addin.xml

[2019-06-14 12:51] LeszekNie opened #559 "[Word] Bug when adding comments through OOXML manipulation"
Inserting a comment into a Word document causes the Track Changes feature to register a deletion event.

## Expected Behavior
That inserting comments into a Word document behaves the same way as the native feature.

## Current Behavior
A comment added by manipulating the document XML causes Track Changes to register the event in the form of a “Deleted: [text being commented]" message and displayin

[2019-06-14 15:36] keyur32 commented on #558
Hi sorry you are hitting this. Custom functions are executed in a JavaScript runtime on windows seperate from the taskpane, which users the browser. Currently,  Mac and online, also run the function in the context of the web browser.
More info:
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-overview

This may be one of 2 reasons:
  - a) does your server require full cor

[2019-06-14 19:28] JuaneloJuanelo commented on #559
This is by design. When it comes to insertion of OOXML or other insertions when using the  "replace" insert location (in this case replacing the range with OOXML), you are effectively deleting some content and adding new. (note this is different operation than inserting a comment through the UI).

OOXML insertion is super powerful because you can insert almost any word object in the document, but

[2019-06-14 19:28] #559 closed, assigned to JuaneloJuanelo

[2019-06-14 19:41] marcboivin commented on #558
Thank you for the fast reply.

I do not require full cors. I only set the Access-Control-Allow-Origin header. I also respect the same origin policy, my admin is loaded from domain.local/ and the api endpoint is loaded from domain.local/api/

The Access-Control-Allow-Origin value is dynamically set to the http origin of the request to prevent CORS blocking the request.

Add-in works on remote machi

[2019-06-14 22:34] px-wmeng opened #560 "sheet.unprotect API not working in online office365"
We are using the api sheet.unprotect(password) function to unprotect a workheet, it has been working fine, but now it throws error with the latest office-js library. The issue only happens in the browser for the online excel(office365), my installed office365 works fine. This issue can be reproduce in Script Lab as well.

## Expected Behavior

worksheet unprotect

## Current Behavior

there is an

[2019-06-17 03:01] grangeryy commented on #560
Thanks for reporting the issue, @wei6100 . We also found the problem and we're under investigation. bug 3431640 is created to track it.

[2019-06-17 04:41] catchingyu commented on #521
@turdsniffer  we found some limitations in the system and the solutions are still under discussion. Meanwhile, we notice a workaround with adding  `setInterval(30000, () => {})` to your initialization function. Could you try it and let us know whether it can solve your issue or not?

[2019-06-17 09:58] ndreisg opened #561 "Workbook.getSelectedRange throws error when other Workbook is focused"
**Workbook.getSelectedRange** throws an error when any other Workbook is focused.
** **

## Expected Behavior
Selected Range of the Workbook where the Add-In is running should be returned.

## Current Behavior
Throws the following error:

[code]

## Steps to Reproduce, or Live Example

* Link to live example: https://gist.github.com/ndreisg/daaedde3f2547e3e27f6ec0a53c7767d

* Additional details:

[2019-06-17 12:16] 4tti commented on #521
@catchingyu: can you please clarify what do you mean by initialization function?

[2019-06-17 15:10] 4tti opened #562 "Calling getSelectedRange (querying further Range properties) inside onSelectionChanged event handler leads to General Exception"
## Expected Behavior

We should be able to getSelectedRange and query for its properties without any restriction inside onSelectionChanged event and moreover, the event should be fired immediately after changing the cell selection.
## Current Behavior

We see "GeneralException: An Internal error has occured" from time to time which causes that our onSelectionChanged handler stops working.
Also the

[2019-06-17 15:17] 4tti commented on #562
[sample.ZIP](https://github.com/OfficeDev/office-js/files/3297654/sample.ZIP)

[2019-06-17 17:29] keyur32 commented on #558
Hi @marcboivin, apologies, for delay. Can you try setting this up: https://support.microsoft.com/en-my/help/4490419/local-loopback-exemption-does-not-work  or double checking your origin config (i.e. can you access localhost from lets say Excel Online or is just Excel for windows where you are hitting this)?

[2019-06-17 17:40] keyur32 commented on #348
Hey @evantrimboli, sorry, super delayed. Yes, we have this in our roadmap to address! Stay tuned to our channels, we'll likely talk about this on our community call during the next few months: https://aka.ms/officeaddinscommunitycall.

thanks!

[2019-06-17 17:40] keyur32 commented on #348
Marking this issue as closed for now. thanks.

[2019-06-17 17:40] #348 closed, assigned to keyur32

[2019-06-17 17:42] keyur32 commented on #230
Hey, coming back to this one, we do have some features in our backlog to allow access to our APIs for Custom Functions. Using this as an open call - what other scenarios would you want?

[2019-06-17 17:46] keyur32 commented on #466
Hi, @haboutnnah, I had replied on your thread on the Excel-Custom-Functions Repo [here](https://github.com/OfficeDev/Excel-Custom-Functions/issues/136).

 If you have additional questions on this, please let me know as we'll need more info from you. Will close for now. thanks!

[2019-06-17 17:46] #466 closed, assigned to keyur32

[2019-06-17 19:42] marcboivin commented on #558
Got news. Might be on to something.

So :
* Win 10, Excel 365 (1905) still not working
* Win server 2008 R2, Excel 365 (1905) works

Same version of the code, same server endpoint (remote server).

Can I provide more debugging info to figure that one out?

[2019-06-17 21:37] PeterTippett commented on #230
Keyur

I’ve place this project on hold currently and moved onto a Cyber Security product which is using the Xero code I've already done.  Will likely look at open sourcing the code of what I’ve done in the future once I have my new venture up and running which will be in the next few months.

www.cyberbund.com <http://www.cyberbund.com/>

[2019-06-17 23:24] lumine2008 commented on #552
@tiagoalves
We have check with Excel Online team, because the flow is that SharePoint / OneDrive first creates a document from a template and then invoke Excel Online to edit it. therefore the GUID is always the same.

[2019-06-18 01:02] keyur32 commented on #558
Can you try to access your localhost server from Edge on the same machine? Does it work?  Also can you clarify if you localhost server is on the same machine and/or same domain?

[2019-06-18 04:41] catchingyu commented on #521
@4tti taking the example you attached, you can add it here:
![image](https://user-images.githubusercontent.com/3336834/59653824-53621600-91c6-11e9-9513-c106624f2680.png)

[2019-06-18 06:32] plamenxpenchev opened #563 "Office.context.auth.getAccessTokenAsync reply url issue with 57fb890c-0dab-4253-a5e0-7188c88b2bb4"
## Expected Behavior
The `Office.context.auth.getAccessTokenAsync` method of the Office Javascript API invoked in Word Online to return an SSO token, that is to be exchanged for a graph one via the OBO flow.

## Current Behavior
Hitting the following issue with the (_Azure Enterprise_) Application with ID `57fb890c-0dab-4253-a5e0-7188c88b2bb4` (which as documented is **Office Online**, or more spe

[2019-06-18 08:44] RuoyingLiang commented on #562
Thanks for reporting the issue. We are looking at it. Will reply after our investigation.

[2019-06-18 08:57] RuoyingLiang commented on #561
Thanks for reporting this. But when a new workbook is opened, the selection is moved to the new workbook. There will be no selection in the workbook where add-in is running. You can try that by opening two workbook and select on the second workbook, the selection in the first workbook is disappeared.

I understand the error may not a good experience and we should think about improve it. But curren

[2019-06-18 09:03] RuoyingLiang commented on #561
Could you describe more about your scenario? Thanks!

[2019-06-18 09:30] ndreisg commented on #561
Our Add-In [Scan-IT to Office](https://appsource.microsoft.com/de-de/product/office/WA104381026) receives Barcodes and other data from one (or more) mobile devices via a WebSocket connection.
When the Add-In receives data from a device, it inserts it at the current selection and then sets the selection to the next row.
When a user opens a second workbook, the Add-In can't insert the received data

[2019-06-18 11:10] glr0221 commented on #433
@kbrandl @macOutlookExtensibility @AnjanaValsan

Any update on my query? thanks!

[2019-06-18 11:32] macOutlookExtensibility commented on #433
@glr0221 We have verified that this is currently a bug on the latest builds. We will work towards fixing it, but unfortunately we don't have a timeline for it yet. The add-in bar that you're referring to is being deprecated. We recommend that you use the [VersionOverrides](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/versionoverrides) element in the manifest to have a rib

[2019-06-18 11:47] glr0221 commented on #433
@macOutlookExtensibility Thank you always for your prompt response. As for the addin bar, I just want to confirm that it is not YET deprecated as of the current release, thus a bug fix is under way (with no timeline yet). The add-in bar will eventually be deprecated in future releases. Is my understanding correct?

Thanks for the VersionOverrides tip.

[2019-06-18 11:54] macOutlookExtensibility commented on #433
@glr0221 Yes, that's correct. That said, It is reasonable to expect some delay in this bug getting fixed.

[2019-06-18 15:04] ndreisg commented on #561
Unfortunately that workaround did not work as expected.
It seems I cannot use the range object across multiple `object.sync` calls.
I get the following error:

`The object path '_reference()' isn't working for what you're trying to do. If you're using the object across multiple "context.sync" calls and outside the sequential execution of a ".run" batch, please use the "context.trackedObjects.add()

[2019-06-18 15:47] 4tti commented on #521
@catchingyu it did the trick, it is much much better now! May I ask for explanation? Thank you!

[2019-06-18 16:03] ndreisg commented on #561
I realized that I had to use the ranges `track` method instead of `context.trackedObjects.add()`

Inserting the data now works.

Unfortunately a new problem appeared. After inserting the data I want to select the next row, which doesn't work when another Workbook is focused.

[2019-06-18 21:04] marcboivin commented on #558
So, just to make it clear :

* Code is hosted on 192..168.1.62, running only a web server to serve the files and the API endpoint. It as a valid domain name and a self signed certificate
* Client 192.168.1.45, Office online and Desktop running Windows server 2008 R2 and working
* Client 192.168.1.52 Windows 10 machine. Working on Edge, not in Excel build 1905

So as stated, my windows 10 machine w

[2019-06-18 21:42] dmahugh commented on #554
How-to questions should be posted to Stack Overflow - the issues in this repo are for reporting bugs in the office-js APIs. Looks like you have an answer on Stack Overflow, so closing this issue here.

[2019-06-18 21:42] #554 closed, assigned to nobody

[2019-06-18 21:55] dmahugh commented on #443
Closed due to no response.

[2019-06-18 21:55] #443 closed, assigned to nobody

[2019-06-18 22:01] #446 closed, assigned to nobody

[2019-06-18 22:04] dmahugh commented on #446
FYI, we're planning to build out some more detailed content around testing scenarios, as mentioned here: [https://github.com/OfficeDev/office-js-docs-pr/issues/584](https://github.com/OfficeDev/office-js-docs-pr/issues/584)

[2019-06-18 22:10] #541 closed, assigned to exextoc

[2019-06-18 22:24] dmahugh commented on #441
@exextoc do you know whether the token can be used as described here?

[2019-06-18 22:25] #437 closed, assigned to nobody

[2019-06-19 00:08] danielgwilson commented on #444
Hi, we're looking into this—thanks for posting.

[2019-06-19 01:11] keyur32 commented on #558
Thanks. I'll reach out to you seperately, we may need to see your machine to debug what is going on.

[2019-06-19 02:46] grangeryy commented on #83
@JuaneloJuanelo based on the above description, how is the process of adding more support?

[2019-06-19 03:22] grangeryy commented on #488
Sorry for the inconvenience. currently, Beta office.js doesn’t support MAC.

[2019-06-19 03:22] #488 closed, assigned to grangeryy

[2019-06-19 03:22] #487 closed, assigned to grangeryy

[2019-06-19 03:27] grangeryy commented on #499
Can you help to put more information on this issue? For example:

- Steps to Reproduce, or Live Example

- Context

- Your Environment & Platform:
Platform [PC desktop, Mac, iOS, Office Online]
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online):

- Useful logs

- Console errors

- Screenshots

- Test file (if only happens on a particular

[2019-06-19 05:54] exextoc commented on #441
The EWS token is item scoped so write operation won't work. However calling the API with isRest = true will return a mailbox scoped token that only works with REST and can be used to write.

[2019-06-19 06:00] exextoc commented on #441
Bug 1135821<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1135821>: [OfficeDev/office-js] office.js callbacktoken for ews write operations. (#441)

Updated bug and github thread

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>

Thanks
Sohail

From: Doug Mahugh <notifications@github.com>
Sent: Tuesday, June 18, 2019 3

[2019-06-19 06:44] RuoyingLiang commented on #419
The PivotTable and PivotChart share the same layout. Changes to one affect the other, so they're always in sync, so a chart cannot only based on part of the PivotTable. If you want to only display specified two columns of PivotTable's data, you can filter the Pivot table to those two columns. Or you can have the data source in range or normal table and bind to specific columns.

[2019-06-19 06:44] #419 closed, assigned to lumine2008

[2019-06-19 08:17] grangeryy commented on #507
This is expected behavior for Mac. You may find the important notice in [https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac]
![image](https://user-images.githubusercontent.com/50093161/59748386-934ff880-92ad-11e9-8b42-13ccb3529a65.png)

[2019-06-19 08:18] #507 closed, assigned to grangeryy

[2019-06-19 09:01] tiagoalves commented on #552
Thanks for the followup, @lumine2008. Ok, so I see why this happens but is it considered an issue that will be fixed or is it like this by design?

In my Excel Add-in, users create certain resources associated to worksheets. With a worksheet ID that collides, I can't uniquely identify a worksheet across different workbooks of the same user. Unless I use some workaround, of course.

[2019-06-19 09:24] ndreisg opened #564 "Excel API stopped working when DOM storage is disabled."
When using Office 2016 installed via MSI and DOM storage is disabled in Internet Explorer, Excel Add-Ins are not working anymore because office.js can't be initialized.

## Expected Behavior
office-js should also work when DOM storage is disabled.

## Current Behavior
When using Office 2016 installed via MSI and DOM storage is disabled in Internet Explorer, Excel Add-Ins are not working anymore be

[2019-06-19 09:47] exextoc commented on #543
Hi @kanaksony, we have fixed the bug and the fix should be available within 2-3 weeks.

[2019-06-19 11:13] markb-trustifi opened #565 "Custom Icon isn't shown with informational messages"
`Office.context.mailbox.item.notificationMessages.addAsync` doesn't show custom icon.
- The informational message is created with custom icon in Windows Outlook client only.
- In Mac and in Outlook Online (Chrome) they are created with default icon.
- When passing between emails with opened add-on panel in Windows Outlook Client the icon is changed from custom to default.

## Expected Behavior
See

[2019-06-19 11:51] ndreisg commented on #561
I finally finished my workaround.
Unfortunately I can't get it to work with Excel API 1.1.
Since the onSelectionChanged event is not available there, I tried to poll the selection in an interval instead, but it seems `Range.track` and `context.trackedObjects.add` are not working as expected.
Any hints?

[2019-06-19 13:08] catchingyu commented on #521
Great to hear that your problem can be mitigated with this workaround. The issue is due to some limitations in the IE, we are working hard now to find a real fix for it.
If anything else need our help, do not hesitate to contact with us.

[2019-06-19 13:08] #521 closed, assigned to catchingyu

[2019-06-19 16:36] jcjolley commented on #421
FWIW, I am seeing this on Excel 365 1808 as well.

[2019-06-19 17:05] dmahugh commented on #421
Thanks for confirming, @jcjolley

@lumine2008, could you take a look at this one? Thanks!

[2019-06-19 17:55] JuaneloJuanelo commented on #546
We'll close this item as sample was provided and the behavior described cannot be reproduced any  more.

[2019-06-19 17:55] #546 closed

[2019-06-19 18:09] JuaneloJuanelo commented on #427
Hello @adityathiru, there is an interesting discussion about this on stack that you can [please  check out ](https://stackoverflow.com/questions/40261291/insert-ooxml-comment-with-track-changes)on how to add comments without the problems you are experiencing.

btw here is a script lab snippet you can try as well https://gist.github.com/JuaneloJuanelo/4a704dd6f23f2523ffac4f97c89d05c0

Notice that t

[2019-06-19 18:09] #427 closed, assigned to JuaneloJuanelo

[2019-06-19 18:18] dmahugh commented on #43
Closing this old issue, which should be fixed in current builds. Apologies for the delayed response, and please let us know if the problem persists.

[2019-06-19 18:18] #43 closed, assigned to nobody

[2019-06-19 18:19] JuaneloJuanelo commented on #470
Closing due to

1. no repro.
2. code sample provided
3.  and inactivity.

[2019-06-19 18:19] #470 closed, assigned to JuaneloJuanelo

[2019-06-19 18:23] dmahugh commented on #11
Closing this issue because it's a feature request, and feature requests are now being handled on User Voice here: [https://officespdev.uservoice.com/](https://officespdev.uservoice.com/). If you'd like to post a feature request there, others can upvote it and we're addressing those feature requests based on the number of upvotes.

[2019-06-19 18:23] #11 closed

[2019-06-19 18:25] dmahugh commented on #14
Closing this because we're tracking internally.

[2019-06-19 18:25] #14 closed, assigned to nobody

[2019-06-19 18:26] dmahugh commented on #22
Closing this old issue due to inactivity. Let us know if you feel it should be reopened.

[2019-06-19 18:26] #22 closed, assigned to nobody

[2019-06-19 18:26] JuaneloJuanelo commented on #133
Provided workaround and also we have a bug tracking this issue.

[2019-06-19 18:26] #133 closed, assigned to JuaneloJuanelo

[2019-06-19 18:28] JuaneloJuanelo commented on #416
Issue is confirmed to be fixed.

[2019-06-19 18:28] #416 closed, assigned to JuaneloJuanelo

[2019-06-19 19:06] JuaneloJuanelo commented on #353
update: fix has still not propagated. we are still working on the fix. Assigning to @weshi  to track this properly.

[2019-06-19 19:12] JuaneloJuanelo commented on #410
@DomRoth  we need more information to diagnose this issue, please provide
1. you using office.js from what CDN?
2. what office version you are experiencing this?

btw this is a scenario who is not supported in PRODUCTION, because it will not work on all platforms.

Assigning to @weshi to follow up.

[2019-06-19 19:16] JuaneloJuanelo commented on #407
please follow this example to insert comments without corrupting your doc
https://gist.github.com/JuaneloJuanelo/4a704dd6f23f2523ffac4f97c89d05c0

[2019-06-19 19:16] #407 closed, assigned to JuaneloJuanelo

[2019-06-19 19:20] JuaneloJuanelo commented on #394
@weshi  should be able to investigate further... specially interesting that it works in Firefox.
anyways in online i think there is a limit on what we support, something we would have to document.

[2019-06-19 19:20] JuaneloJuanelo commented on #394
@AlexJerabek  just a quick note to document this once @weshi  finishes the investigation. thanks.

[2019-06-19 19:22] AlexJerabek commented on #394
Thanks @JuaneloJuanelo. @weshi, please let me know when you have the requested information and I'll transfer the issue to the office-js-docs-pr repo.

[2019-06-19 19:28] JuaneloJuanelo commented on #390
@RXminuS  i was not able to repro this. I think it requires a more concrete sample to measure the perf. Assinging to @weshi  for follow up.

[2019-06-19 19:29] keyur32 opened #566 "Custom Functions that are declared to have an equivalent XLL User Defined Function do not appear in the Insert Function wizard (but work within the grid)"
If you declare that your add-in has custom functions that are [compatible with XLL UDFs](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/make-custom-functions-compatible-with-xll-udf), they will not appear in the Insert Function wizard.

## Expected Behavior
Insert Function wizard should show a category with your function name.

## Your Environment

* Platform [PC desktop, Mac, iOS, Offi

[2019-06-19 20:18] JuaneloJuanelo commented on #358
ok sorry for the tremendous delay. i have a repro.. we are investigating what's going on....

[2019-06-19 23:00] JuaneloJuanelo commented on #358
after further investigation, we can confirm this is a bug.
we are tracking with 3438730 internally.
Thanks @zakhan4  for reporting this! hopefully we can fix it soon.
Assigning to @tutieu to follow up.

[2019-06-19 23:48] JuaneloJuanelo commented on #294
@tutieu  and or @jipyua  is this fix deployed? do we have a bug?

[2019-06-20 05:16] grangeryy commented on #294
This issue has been fixed. So close the issue.

[2019-06-20 05:16] #294 closed, assigned to tutieu

[2019-06-20 05:55] exextoc commented on #565
Thanks for reporting this issue. We have been able to reproduce this successfully and placed it on our backlog of work items. We don't have an ETA to communicate yet regarding the resolution of this issue.

[2019-06-20 07:05] grangeryy commented on #368
Hi, @serjant and @RXminuS, does this issue still reproduce to you?

[2019-06-20 18:03] azmatzuberi commented on #477
@weshi Any time frame for this bug fix?

[2019-06-21 10:12] 4tti commented on #521
@catchingyu : I am not reporter of this issue, I think he should provide the feedback if it helps or not... :) but thanks anyway!

[2019-06-24 06:16] va1729 opened #567 "Callback of goToByIdAsync is never fired"
## Steps to Reproduce, or Live Example
Script lap scripts -
* Example 1 - https://gist.github.com/Vivekananda-Athukuri/4193af29eb19871b8cd724dab205d38f
* Example 2 - https://gist.github.com/Vivekananda-Athukuri/3f3a5abcc20389907aeabc8c17a402b3

## Context
I am trying to make the cursor go to a particular binding. The function `goToByIdAsync` takes me to the binding but the callback is never fired

[2019-06-24 08:21] ndreisg commented on #564
A question btw: will the new Edge WebView control also come to Office 2016?

[2019-06-24 08:44] jvaca92 opened #568 "Addin not visible in shared folder after using element CustomTab in manifest.xml"
When I have tried to use element CustomTab in my manifest xml file, then the custom addin is not visible in section "Shared Folder", also after clicking multiple times on button refresh.
I would like mention that I have used sideloading to deploy my manifest..
If I have returned to element OfficeTab everything woks fine  The manifest should be correct because also the validation process was succes

[2019-06-24 09:52] ukalhapu commented on #531
@weshi could you please help ?

[2019-06-24 11:52] rjankovic opened #569 "Excel.PivotLayout.getPivotItems(axisString, Excel.Range) crashing"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When I use Excel.PivotLayout.getPivotItems(axisString, Excel.Range), it only works when there are no pivot items on the corresponding axis. Otherwise, it throws a "The argument is inv

[2019-06-24 14:49] AlexJerabek opened #570 "Setting the fill of one ChartSeries item sets the fill of all the ChartSeries items"
## Expected Behavior
Setting the color of one item in a ChartSeries sets color of only that single item.

## Current Behavior
Setting the color of one item in a ChartSeries sets the color of every item.

## Steps to Reproduce, or Live Example
https://gist.github.com/AlexJerabek/88584a1296c9bc0e33a9406cc32522ab

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC d

[2019-06-24 15:51] nedbalzer opened #571 "Even after running Office.initialize(), Word object is undefined"
## Expected Behavior
Word Add-in worked in Word 2016 but does not work with Penn State University's Office365. If I install the Word Web Add-in demo from https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=visual-studio and substitute the code from my add-in into html and javascript files and adjust the manifest.xml, this code *does* run in Visual Studio 2017 -- th

[2019-06-24 16:35] turdsniffer commented on #521
@catchingyu : using the same app the I had attached earlier I get the same behavior with or without your setinterval.

![image](https://user-images.githubusercontent.com/1610550/60036146-c4447a80-966b-11e9-8b0c-2ac9a198fcea.png)

[2019-06-24 17:15] turdsniffer commented on #521
Here is what the behavior looks like.  You can see that before I open the F12 tools the time stamp updates occasionally but is quite slow and appears to mostly quite updating.  Then when I open the F12 it suddenly is very responsive.
![test](https://user-images.githubusercontent.com/1610550/60038369-5ef38800-9671-11e9-9128-041a32d51a21.gif)

[2019-06-25 02:34] lumine2008 commented on #570
Thanks @AlexJerabek, for reporting this issue.
I just tried your gist in my side. looks like the the code run as expected. it changed 1st pie color.
i am using Build 1906(11727.20210). what's your build version?

[2019-06-25 07:03] htryggva commented on #530
@jargil Just tested this on Word 16.0.11819 (Office Insider). Seems like it's fixed. Thanks a lot :)

[2019-06-25 10:57] sergez commented on #330
The same issue reproduced in Outlook 2016 Online with CU 13.

The behavior is the following:
1/ when we open existing meeting with distribution list added - recipientType == 'other'
2/ when select the distribution list from the "People" dropdown - recipientType == 'user'
3/ when select the distribution list from the "People" dropdown by clicking "+" sign in the field - recipientType == 'distributi

[2019-06-25 13:53] taralex77 commented on #421
We were having the same issue so we used an older version of office.js in our add-in.
Guess what, today we can't find our add-in in the Office Store and we received an email that it was unpublished because we use a non-CDN version of office.js!
So it's like use the buggy version or nothing at all. And hey, we're not going to even acknowledge that there is a bug.

[2019-06-25 16:08] nani2kt opened #574 "Open documents from node server or local computer"
Tag your question with office-js or outlook-web-addins

Hi,
I am working on MAC. I am doing a word addin using office -js.(server is node)
Is there any way to open documents from server or from local computer.
Please help me regarding this issue.

**open existing documents from server or local computer**?? (using office-js API)

Thanks.

[2019-06-25 16:10] nani2kt commented on #574
**open existing documents from server or local computer**??

[2019-06-25 16:10] #574 closed, assigned to nobody

[2019-06-25 16:16] nani2kt opened #575 "MAC Word Javascript API- open existing documents from server or from local computer"
Tag your question with office-js or outlook-web-addins
Hi,
I am working on MAC. I am doing a word addin using office -js.(server is node)
Is there any way to open documents from server or from local computer.
Please help me regarding this issue.

open existing documents from server or local computer?? (using office-js API)

Thanks.

[2019-06-25 16:34] Zlatkovsky commented on #570
@lumine2008 , I am able to repro Alex's issue as well.

My build info:
![image](https://user-images.githubusercontent.com/2230453/60116157-5ca23400-972c-11e9-8eda-34ccd354493a.png)

Repro screenshot:
![image](https://user-images.githubusercontent.com/2230453/60116101-409e9280-972c-11e9-99ab-f93bb3ffc638.png)

[2019-06-25 16:49] kbrandl commented on #421
Assigning to @lumine2008 (per @dmahugh's previous comment).

[2019-06-25 19:47] JuaneloJuanelo commented on #339
this is effectively a regression, it used to be fixed. we are tracking with 3451201

[2019-06-25 19:52] JuaneloJuanelo commented on #332
no longer repro.

[2019-06-25 19:52] #332 closed, assigned to JuaneloJuanelo

[2019-06-25 19:54] JuaneloJuanelo commented on #327
this issue is fixed now! (offline confirmation from @mattblackdev

[2019-06-25 19:54] #327 closed, assigned to JuaneloJuanelo

[2019-06-25 19:58] JuaneloJuanelo commented on #263
yes! it is fixed!

[2019-06-25 19:58] #263 closed, assigned to JuaneloJuanelo

[2019-06-25 20:01] JuaneloJuanelo commented on #307
@danielgwilson need to verify that Dialog API works on 2016 MSI on PPT.

[2019-06-25 20:31] JuaneloJuanelo commented on #292
ok, sorry for the late reply on this.
There are many issues that are been discussed on this thread.

1. There is no method on the API to convert from HTML to OOXML. you can get document content as HTML or OOXML and insert content as OOXML as well.  I am imagining that you want to keep 100 % fidelity and if that's the case, yes OOXML will be your best bet.  BTW Many kudos for making that project th

[2019-06-25 20:34] #292 closed, assigned to nobody

[2019-06-25 20:47] JuaneloJuanelo commented on #272
This is fixed!

[2019-06-25 20:47] #272 closed, assigned to JuaneloJuanelo

[2019-06-25 20:53] serjant commented on #292
If you have ever read my detailed issue, you should have had a clear comprehensive picture - we had never tried to convert the HTML into OOXML - we set the plain OOXML and then extract it directly using Office JS API - Office.context.document.customXmlParts.getByNamespaceAsync (are you sure you followed my report?) method returns the empty core entities, please check my initial post

[2019-06-25 20:53] JuaneloJuanelo commented on #143
fixed!!!!

[2019-06-25 20:53] #143 closed, assigned to JuaneloJuanelo

[2019-06-25 20:55] JuaneloJuanelo commented on #83
this should be workin now, but @tutieu  should confirm and close.

[2019-06-25 20:55] JuaneloJuanelo commented on #78
i will strongly recommend you to try the Table API for this. its way more powerful that setSelectedDataAsync https://docs.microsoft.com/en-us/javascript/api/excel/excel.table?view=office-js

[2019-06-25 20:55] #78 closed, assigned to JuaneloJuanelo

[2019-06-25 20:58] JuaneloJuanelo commented on #100
@Zlatkovsky  this is an issue with the Office.js package, if you no longer own this, please assign to who currently owns it now. thanks!

[2019-06-25 20:59] JuaneloJuanelo commented on #108
@tutieu to follow up.

[2019-06-25 21:01] JuaneloJuanelo commented on #101
THis is now fixed!!

[2019-06-25 21:01] #101 closed, assigned to JuaneloJuanelo

[2019-06-25 21:23] Zlatkovsky commented on #100
@wandyezj owns that space now.

[2019-06-25 21:48] fds-ssg opened #576 "[Excel Online] range.calculate() triggers recalc of all custom functions"
## Expected Behavior
range.calculate() should only cause functions within the specified range to recalculate

## Current Behavior
In Excel online, calculate() on a single cell results in all custom functions in the entire workbook being recalculated.  In Excel on Windows, the recalculation occurs only on the specified range, as expected.

## Steps to Reproduce, or Live Example

* Additional detail

[2019-06-25 22:36] niteshgolchha85 commented on #563
@plamenxpenchev Sorry that you are facing this issue but let me clarify first that the SSO API is in-preview so nothing should be blocked. You should use Dialog API instead in production
Coming to the issue that you are seeing - can you attach fiddler traces and share the domain on which you are seeing this issue (SharePoint probably)?

[2019-06-26 02:32] #83 closed, assigned to weshi, grangeryy

[2019-06-26 02:33] grangeryy commented on #368
Close this since no more update. We can reopen if it still persists.

[2019-06-26 02:33] #368 closed

[2019-06-26 02:37] grangeryy commented on #499
No more updated details for this issue. I'll close it for temp. If it reproduces with more details, we can reopen it.

[2019-06-26 02:37] #499 closed, assigned to grangeryy

[2019-06-26 05:03] slgray commented on #61
Hi @thinksysprem , can you tell me how do you work around it.

[2019-06-26 05:39] SWei1234 commented on #380
But it still happened on windows outlook.
1.set popup window:
Office.context.ui.displayDialogAsync(URL , {
    height: 100,
    width:100,
    displayInIframe: false,
    promptBeforeOpen: true
  },fucntion......
2. then messageParent can not deliver message and window.close() can not close the window.
is this a bug?

[2019-06-26 05:40] SWei1234 commented on #380
But it still happening on windows outlook.
1.set popup window:
Office.context.ui.displayDialogAsync(URL , {
height: 100,
width:100,
displayInIframe: false,
promptBeforeOpen: true
},fucntion......
2. then messageParent can not deliver message and window.close() can not close the window.
is this a bug?

[2019-06-26 11:07] swasti1994 opened #577 "Issue with reading a mail's from email address in outlook add-in"
We are unable to fetch the user's `from` address inside their Sent Items folder using the OfficeJs mailbox API.
According to the [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.3/office.context.mailbox.item#from-emailaddressdetails), the `from` email can be read using the following line of code:

[code]

## Expected Behavior
The from emai

[2019-06-26 11:44] lumine2008 commented on #569
Thank you @rjankovic for reporting this issue , we created a bug to track this issue, bug ID: 3452657

[2019-06-26 18:20] AlRosenthal opened #579 "Caching Issue"
I am creating an Office add-in app for Word. It has mostly been built, but this morning I noticed that none of my changes were taking affect. I've tried clearing the cache from
[Clear office cache](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#clear-the-office-cache)
I've also tried clearing my Internet Explorer cache, adding query params to the JS includes, cle

[2019-06-26 23:39] ShannonLCapper commented on #402
Just wanted to check in and see if there's any update on this fix :)

[2019-06-26 23:40] wandyezj commented on #61
Hello @slgray

Thank you for bringing this issue to our attention,

Could you please share:

* the office application you are developing your Add-In for {Outlook, Excel, PowerPoint, etc...} ?
* the client you are seeing this issue on {web, Windows, Mac etc..} ?
* the version of the client you are seeing the issue on?

This will help us investigate further,

Have a Terrific Thursday!

[2019-06-27 00:08] lumine2008 commented on #108
Hello @rameshbc, would you please share us your workbook for us to repro this issue? thanks

[2019-06-27 01:36] akrantz commented on #585
I tried using "\n" or "\r\n" or "\u2029" (Unicode paragraph separator) or "\u2028" (Unicode line separator). They don't work. Unicode line separator shows:
![image](https://user-images.githubusercontent.com/741153/60226684-25717700-9841-11e9-8b76-4eff4e6ddb04.png)

In my opinion "ABC\nDEF" should work, but it looks like it doesn't currently.

[2019-06-27 01:39] slgray commented on #61
Hi  @wandyezj

Thank for your help.

Here are the information you need:

* Our add-in is for Outlook
* Windows client
* We have issue on Office 2013, Office 2016 and Office 365

[2019-06-27 02:27] grangeryy commented on #235
Sorry for the late response. I've created a bug to track this issue: Bug 3454384

[2019-06-27 02:38] lumine2008 commented on #570
Communicated with Chart API team, we learn this is a known issue and a bug 3437961 track the issue. The root cause is due to a regression in chart uniform object model internal. And chart team already sent out a code review and we could expect it be fixed soon. Thanks.

[2019-06-27 02:41] lumine2008 commented on #576
@RuoyingLiang, would you please have a look on this issue? thanks

[2019-06-27 07:05] swasti1994 commented on #577
We tested this by adding another email account to Outlook Windows Desktop Client 2016, Version: 16.0.11629.20246, and we observed that the `from` address was an empty string in the sent folder.
Also, we were able to see the from email in GET message REST API response. So, we wonder if this could be an issue with the Office JS API (and not really dependent on client versions).

[2019-06-27 07:48] ddanehl opened #580 "array formulas as parameter for custom function not working as expected in Excel Online"
we have a custom formula that returns an matrix. this formula is then used in another custom formula as parameter. when using Excel 2016 on windows this works as excepted. when using excel online, the behavior is different.

## Expected Behavior
that all clients works the same

## Current Behavior
excel online not works as expected. it only passes the first value of the matrix, not the whole matri

[2019-06-27 09:30] lumine2008 commented on #580
@RuoyingLiang , would you please have a look? thanks.

[2019-06-27 10:41] jjtfsalgado opened #581 "Toggle calculation mode in Excel with Add-In"
Loading data to a range with the Formulas>Calculation Options>Automatic it slows down drastically the performance, is there any way we could toggle this option using the api?

I've found [this post](https://stackoverflow.com/questions/42932472/toggle-calculation-mode-in-excel-with-add-in)  saying that was in backlog at the time, is there any progress on this feature?

Thanks

[2019-06-27 11:17] lumine2008 commented on #581
Hi @jjtfsalgado,

You could try this API.
context.application.calculationMode = "Automatic";
for more information, please refers to this document.
https://docs.microsoft.com/en-us/javascript/api/excel/excel.calculationmode?view=office-js

[2019-06-27 12:26] #581 closed, assigned to lumine2008

[2019-06-27 12:26] jjtfsalgado commented on #581
@lumine2008 Yes it worked, thanks

[2019-06-27 14:50] keyur32 commented on #580
Hey @ddanehl  - this is due to Dynamic Arrays not being available yet on Excel for the web (aka Excel online). This feature is only available on Insiders versions for Mac and Windows (Unfortunately our browser-based Office versions do not yet have a preview environment).

For now, to work-around it, the formula can be ctrl+shift+entered on a desktop client (traditional way of array entry), and the

[2019-06-27 14:50] keyur32 commented on #580
@RuoyingLiang  - suggest you leave this open to track the product change until Excel Dynamic Arrays GA' s later this year...

[2019-06-27 15:56] touficmouk opened #582 "Outlook Mac v16.26 broken Office.context.mailbox.item.requiredAttendees.setAsync/addAsync"
After updating to Outlook Mac 16.26 whenever a user is creating a new appointment with the `to` line not visible, adding a room through an add-in that uses either api `Office.context.mailbox.item.requiredAttendees.setAsync/addAsync`
fails to add the room email to the `to` line.

## Expected Behavior
Expect `to` line to become visible (like in previous versions) and be filled in the room email addr

[2019-06-27 18:19] Warsame-Egal opened #583 "“{0} wants to display a new window” when using displayDialogAsync"
Platform: PC desktop
Host: Outlook Online
Office version number:
Operating System: Windows
Browser: Chrome

I'm using Office.context.ui.displayDialogAsync and when I launch our app in Outlook task pane I get a dialog with the message "Test wants to display a new window". The word Test is a ShortString that comes from our Manifest file.

https://imgur.com/a/UBYhVDR

But when I click the Outlook On

[2019-06-27 18:28] sumurthy commented on #579
Thanks for reporting. Have you tried with a new document to see if the issues repros?

[2019-06-27 18:44] AlRosenthal commented on #579
Every time the server in visual studio is stopped and started it creates a opens a new instance of word.

[2019-06-27 20:06] JuaneloJuanelo commented on #575
Hello @nani2kt ,  can you add more details to your scenario? i wonder what is the exact experience you are trying to enable. The following snippet that was built using [script lab](http://aka.ms/scriptlab
)  actually exposes a file picker control to allow the user to select a file from hard drive.. does that sound like something you want to implement? also note that the API takes a base64 encoded

[2019-06-27 20:36] nathandpeterson opened #584 "Outlook add-in dialog memory leak"
In the latest desktop client version of Outlook for Windows (see version info below), calling the `dialog.close` method seems to be causing (or linked to) a memory leak. We have spent significant time working on isolating and reproducing the issue, which can be observed in dev tools in various third-party add-in applications as well as our own.

Since our application relies on communication betwee

[2019-06-27 21:31] ddanehl commented on #580
Hi @keyur32 - thanks for the explanation. i tried it out but unfortunately this workaround will not work for us. the suggested workaround only works if you enter the formula in at least two cells via ctrl+shift+enter but we need solution for a single cell as our PALO.DATA function is no array formula and only returns one single value

[2019-06-27 22:20] dmahugh commented on #391
Hi @david-ps , I’ve re-opened this issue because we’re looking into what can be done about it. This restriction was originally added due to performance concerns related to the snapshot images that the Office clients take, but your scenario is an interesting one, and we feel it’s worth looking into what can be done. We’ll update the thread in a few weeks when we know more, and thanks for your patie

[2019-06-28 02:45] jasonqsong opened #586 "Word.run apply weird inline styles during post process"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

When a inline range is loaded, we can apply a inline style. However, the post processing in Word.run will change the range of the style.

## Expected Behavior

Only selected range wil

[2019-06-28 16:36] AlRosenthal commented on #579
went to load up visual studio today and the caching issue seems to have resolved itself. I didn't do anything differently, just loaded up my project and ran it.

[2019-06-28 16:36] #579 closed, assigned to nobody

[2019-06-28 20:58] fds-ssg opened #587 "onCalculated event fires at unexpected times with custom functions"
## Summary
There are actually a few issues:
1. The onCalculated event for a Worksheet or the WorksheetCollection is firing before the result is returned to a custom function.
1. For Excel online, the onCalculated event does not fire after the final formula result is delivered.
1. The behavior is different for Excel online than it is for PC Excel.

## Expected Behavior
1. The onCalculated event sho

[2019-06-28 23:41] dtao opened #592 "Attempting to call range.select() followed by context.sync() on Mac results in RichApi.Error: ItemNotFound"
I have an add-in with some functionality to select a range in order to scroll to a particular position within a document. This works as expected in Office for the web, but in Office for Mac I get the following error when calling context.sync().then():

Unhandled Promise Rejection: RichApi.Error: ItemNotFound

It looks like the version of Word I'm using is 16.26 (19060901).

(See next comment below

[2019-06-28 23:57] dtao commented on #592
The code in question looks like this (simplified to remove noise, but this is basically it):

[code]

(Related docs: https://docs.microsoft.com/javascript/api/word/word.range?view=office-js)

[2019-06-29 01:59] david-ps commented on #391
Hi @dmahugh, @keyur32 Thanks for reconsidering this issue especially in light of opportunities arriving with the new Fluid Framework.

@lumine2008 commented the reason this limitation has been imposed…“is by design, due to performance, if we remove this limitation, the impact on the footprint is significant as we support typically supports up to 400% zoom. With 1000x1000 restriction, the snapshot

[2019-06-29 06:31] kanaksony commented on #543
Thanks for the update, please let me know when its out.

[2019-06-29 06:31] kanaksony commented on #498
Hi, Can I have any update on this?

[2019-06-29 06:49] kanaksony opened #588 "Get-Addins not working on OWA for MAC (Safari)"
## Expected Behavior

1. Open Outlook on safari. Login to account.
2. New Message, Click on GetAddins button.
3. Must show "Add-ins for Outlook Window"

## Current Behavior
No window opens - results in blocker for development and testing

## Steps to Reproduce, or Live Example
1. Open Outlook on safari. Login to account.
2. New Message, Click on GetAddins button.
3. Must show "Add-ins for Outlook

[2019-06-29 18:39] niteshgolchha85 commented on #563
Also, can you confirm that you used ForceConsent = true?

[2019-06-29 18:44] niteshgolchha85 commented on #532
Is it only the SSO API that is returning the 502 error or are all office APIs returning this error?

[2019-06-30 15:50] ambachtelijk opened #589 "[Outlook] Add-ins are not added to the ribbon when the first custom add-in is unreachable"
When multiple custom add-ins are added to Outlook, Outlook will only show the the Buttons that are defined in `<ExtensionPoint xsi:type="MessageReadCommandSurface">` when the first add-in in the list of custom add-ins is reachable.

## Expected Behavior
Each add-in is queried separately by Outlook when it tries to determine if it should load the ribbon buttons that are defined in the add-in manife

[2019-07-01 05:54] plamenxpenchev commented on #563
@niteshgolchha85 Thank you for the response. Yes, forceConsent was attempted. And thank you for the suggestion. The code-grant flow worked as expected with `Office.context.ui.displayDialogAsync`.

[2019-07-01 07:32] dinglicoding opened #590 "numberFormat changed by pc environment"
hi

i set a numberFormat for range like "$#,##0.00".  my excel language is CN, it's display ￥。if excel

language is en it's ok. can i set $ for all environment? thanks

[2019-07-01 18:00] lliu113 commented on #391
@david-ps - great minds think alike! That's one of the options we are evaluating internally. Was popping on here to ask whether your scenario required the "Show as saved image" feature, but it sounds like it does not?

[2019-07-01 19:15] kanaksony opened #591 "Office add in issues on OWA - Safari browser"
Hi,

I am testing my addin on safari browser, its not working for functionality and showing some errors.

Addin Testing url: https://mop.infocus.net:3000/infocus-conx-outlook-addin.xml

## After installation
 After installation and adding some settings in Settings screen, click on "Schedule ConX Meeting". It must open calendar with pre-populate text.

## Expected Behavior

## Current Behavior
It d

[2019-07-01 19:55] kbrandl commented on #583
@Warsame-Egal sorry to hear that you've run into this issue. Can you please update your original post to include the following information?

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office Online): ______

@exextoc assigning to you for i

[2019-07-01 19:59] kbrandl commented on #584
@nathandpeterson sorry to hear that you're experiencing this issue; thank you for reporting it and providing such detailed information.

@jargil FYI, since this issue seems related to EdgeWeb view, I've assigned it to you for investigation. Please let me know if you're not the right person to investigate.

[2019-07-01 20:04] kbrandl commented on #588
@kanaksony sorry to hear that you've run into this issue; we'll look into it.

@macOutlookExtensibility FYI I've assigned this issue to you for investigation.

[2019-07-01 20:06] kbrandl commented on #589
@ehmPlankje thanks for reporting this issue; we'll look into it.

@exextoc FYI, assigning this issue to you for investigation (since it's Outlook-related).

[2019-07-01 20:11] kbrandl commented on #590
@dinglicoding thanks for your interest in Office Add-ins development. Before we can respond to this issue, we'll need some more information from you.  Can you please edit your original post to provide the code that results in the behavior you've described, and also provide the following information about platform, etc. where you're seeing this issue (and optionally, screenshots of the two outcomes

[2019-07-01 20:16] kbrandl commented on #588
@kanaksony I notice you've also opened issue #591 -- which seems to indicate that you've been able to sideload your add-in (albeit now the add-in is producing errors). Is it true that you're able to sideload your add-in, and if yes, then can this issue (#588) be closed?

(unassigning @macOutlookExtensibility for now, until it's determined whether investigation is needed)

[2019-07-01 20:18] kbrandl commented on #591
@macOutlookExtensibility FYI, assigning this issue to you for investigation.

[2019-07-01 20:36] kbrandl commented on #571
@nedbalzer sorry to hear that you've run into this issue; we'll investigate.

@weshi FYI, assigning this issue to you for investigation.

[2019-07-01 20:37] kbrandl commented on #586
@jasonqsong sorry to hear that you've run into this issue, and thanks for providing this detailed write-up.

@weshi FYI, assigning to you for investigation.

[2019-07-01 20:39] kbrandl commented on #592
@dtao sorry to hear that you've run into this problem. Issues here (**OfficeDev/office-js-docs-pr**) are intended for reporting problems with the API *documentation*.  I'm going to transfer this issue to the **OfficeDev/office-js** repository, which members of the product team monitor for customer-reported API issues such as this.

[2019-07-01 20:40] AlexJerabek opened #593 "Passing null to setCellProperties crashes Excel"
Passing an array with null values to `Range.setCellProperties` crashes Excel. Here's the code in question:

[code]

## Expected Behavior
An error will be thrown and displayed through Script Lab's console

## Current Behavior
Excel reports an issue and closes.

## Steps to Reproduce, or Live Example
https://gist.github.com/AlexJerabek/1b3c36e6503e90b7583869ecfc9da459

## Your Environment

* Platfor

[2019-07-01 20:44] kbrandl commented on #592
@weshi FYI, assigning this issue to you for investigation.

[2019-07-01 20:46] kbrandl commented on #593
@AlexJerabek thanks for reporting this issue. @tutieu and @lumine2008 FYI, assigning to you for investigation (please feel free to change assignment if someone else on your team should investigate).

[2019-07-01 20:48] Rick-Kirkham commented on #592
@dtao Please provide the entire `Word.run` function. The code snippet that you provided results in a syntax error when I put it into the callback of a Word.run. The callback must return a Promise object, but your code does not return anything. Generally, you need to return the Promise object that is returned by `context.sync`.

[2019-07-02 01:02] david-ps commented on #391
@lliu113 Great to hear you have few options! Yes, "Show as saved image" is an important feature for us and I believe a 4000x4000 limit is viable.

[2019-07-02 01:06] GeorgeHung opened #594 "Excel Online - refresh setting wipes out data"
Running Office.context.document.settings.refreshAsync causes data in setting to be removed.
## Expected Behavior
RefreshAsync should get data saved with Office.context.document.settings.saveAsync

## Current Behavior
Running Office.context.document.settings.refreshAsync caused data in setting to be removed.

## Steps to Reproduce, or Live Example

1.  Import the YAML below into script lab.
2. Go t

[2019-07-02 03:38] catchingyu commented on #590
Is it possible for you to provide us more information on this issue? Thanks a lot for the support.

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online):

[2019-07-02 05:07] catchingyu commented on #594
@GeorgeHung can you share with us your "Refresh then Read Setting" code also ? It would be great that you could share with us your gist link .

[2019-07-02 05:28] catchingyu commented on #593
Bug 3466223 is created, I can reproduce it.

[2019-07-02 06:38] dinglicoding commented on #590
@kbrandl  @catchingyu  thanks for your reply.

Description :
i set a numberFormat for range like "$#,##0.00". my excel language is CN, it's display ￥。

Expected Behavior
it's display $4.00

Current Behavior
it's display ￥4.00 ,

Steps to Reproduce, or Live Example
![image](https://user-images.githubusercontent.com/3963826/60490396-08bdbf00-9cd9-11e9-9d47-5aeebb65a069.png)

Context
Platform [PC des

[2019-07-02 08:43] ajay71082 commented on #33
Currently i'm getting following error while using getFileAsync method with Excel2016
Please help on this
![image](https://user-images.githubusercontent.com/10616848/60498075-cc537a00-9c6a-11e9-8bf8-5d2b3aaf86a7.png)

[2019-07-02 15:30] GeorgeHung commented on #594
Please find the code below.  It is also in the YAML which I included in the issue request.

    function readWR() {
      Office.context.document.settings.refreshAsync(function(asyncResult) {
        console.log("Settings refresh with status: " + asyncResult.status);
        console.log("testSetting is " + Office.context.document.settings.get("testSetting"));
      });
    }

[2019-07-02 15:31] macOutlookExtensibility commented on #582
Hey @touficmouk,

Thank you for reporting this issue. The issue has been fixed and will be available from build 16.27 (19062615) onwards.

[2019-07-02 15:48] exextoc commented on #583
@Warsame-Egal Can you please share your implementation for function "sendTest" so that I can try to repro the issue?

[2019-07-02 17:55] Warsame-Egal commented on #583
Implementation for sendTest:

**index.html:**

    <script>
        Office.initialize = window.appSend.onInit;

        function sendTest(event) {
            window.appSend.onSend(event);
        }
    </script>

**AppSend.ts:**

    import { IEvent } from '../XXX/XXX';

    export class AppSend {

        public onSend = async (event: IEvent) => {

            Office.context.ui.displayDialogAsyn

[2019-07-02 18:27] Rick-Kirkham commented on #592
This seems to have been resolved on Stack Overflow.

[2019-07-02 18:27] #592 closed, assigned to Rick-Kirkham

[2019-07-02 19:03] niteshgolchha85 commented on #563
@plamenxpenchev Can you share your fiddler traces? I'd still like to get to the bottom of this issue.

[2019-07-02 19:24] AlexJerabek commented on #394
@weshi, Do you have any updates on the investigation?

[2019-07-02 19:34] JuaneloJuanelo commented on #191
Update: This issue is been investigating and a potential fix is been test. @weshi is tracking it.

[2019-07-02 19:36] JuaneloJuanelo commented on #54
Awesome! closing this issue. @dinkom  thanks for testing it!

[2019-07-02 19:36] #54 closed, assigned to JuaneloJuanelo

[2019-07-02 19:43] JuaneloJuanelo commented on #67
Update: @weshi  is tracking this issue.

[2019-07-02 22:04] JuaneloJuanelo commented on #102
@koralcem the issue you describe is a bug in PPT for MAC. THanks so much for reporting this. A fix will most probably ship on the update happening Aug 2019. (tracked with 3468440)

[2019-07-02 22:15] JuaneloJuanelo commented on #56
The original hypothesis from @saferoombiz is correct. When you insert an image in Word for iPad by default is a floating image, not an inlinePicture.  So the description here is by design.  Floating images is a known gap on the API and recognized in the backlog, although a clear date is unknown at the moment.  Please create or upvote https://officespdev.uservoice.com

[2019-07-02 22:15] #56 closed, assigned to JuaneloJuanelo

[2019-07-02 23:04] nathguen opened #595 "displayDialogAsync callback receives 5001 error, preventing event listeners from being added"
## Expected Behavior
The callback parameter `result` should contain a property of `value` that is a reference to the opened dialog object.

## Current Behavior

The `result` is an `OSF.DDA.Error` error with code # 5001, and a message that "An internal error has occurred." This is only occurring on the web outlook client. It works correctly on the desktop outlook client.

## Steps to Reproduce, or

[2019-07-02 23:44] wandyezj commented on #61
Hello @slgray

Thank you for your patience,

I believe the [previous answer by @PhilSmail](https://github.com/OfficeDev/office-js/issues/61#issuecomment-393228592) covers your telemetry question. On newer builds of Office, users have full/basic control of telemetry events.

We are trying to understand how the request to 'https://telemetryservice.firstpartyapps.oaspapps.com/telemetryservice/telemet

[2019-07-03 02:42] catchingyu commented on #590
@dinglicoding  could you share with us your code piece also? It would be great that you could share with us gists.

[2019-07-03 03:27] dinglicoding commented on #590
@catchingyu

piece of code:

    await Excel.run(async (context) => {
        const sheet = context.workbook.worksheets.getItem("Sample");
        const formats = [["$#,##0.00", "$#,##0.00"], ["$#,##0.00", "$#,##0.00"], ["$#,##0.00", "$#,##0.00"]];
        const range = sheet.getRange("D3:E5");
        range.numberFormat = formats;
        await context.sync();
    });

[2019-07-03 03:34] mengxianwen opened #596 "How can I use excel addin upload 1G file"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

 I wanted to upload a 1G file via excel addin. but I've met some problems when I was using Office.context.document.getFileAsync().

 ### Expected Behavior
---
 Returns the entire docu

[2019-07-03 05:55] lumine2008 commented on #568
Thanks @jvaca92 for your question.
i have download the manifest and it repro in my side, it looks like the URL in manifest is invalid.

in your manifest, there is a URL for the icon.
  <IconUrl DefaultValue="https://localhost:3000/assets/icon-32.png" />
if you can change to a valid URL it would work. for example, i changed to the following URL, the custom tab has shown
  <IconUrl DefaultValue="~re

[2019-07-03 11:21] dtao commented on #592
https://stackoverflow.com/a/56851079/105570

@Rick-Kirkham do you think it would be worth explaining this in the docs? Something to the effect of "Don't store references to client objects and attempt to use them outside the scope of the call to Word.run"? It feels like it could save future devs like myself some pain. (Or maybe this is already explained in one of the tutorials and I simply missed i

[2019-07-03 12:54] modestfake commented on #462
@exextoc Is there any ETA for fixing `Office.context.mailbox.item.getSelectedRegExMatches()` in "new experience"?

[2019-07-03 16:43] kbrandl commented on #595
@nathguen sorry to hear that you've run into this problem; we'll investigate.

FYI @danielgwilson assigning this to you (since it's related to Dialog API) -- please reassign if it should go to someone else. Thanks!

[2019-07-03 16:45] kbrandl commented on #596
@mengxianwen sorry to hear that you've run into this problem; we'll investigate.

@catchingyu FYI, assigning this issue to you (since it's Excel-related); please reassign it if it should go to someone else on your team instead. Thanks!

[2019-07-03 16:48] kbrandl commented on #568
@jvaca92 I'm going to go ahead and close this issue now, since @lumine2008 has provided feedback that should unblock you. If you're still having trouble (or need additional clarification about the response provided), please let us know so that we can re-open the issue. Thanks!

[2019-07-03 16:48] #568 closed, assigned to lumine2008

[2019-07-03 18:25] Zlatkovsky commented on #592
@dtao, you absolutely _can_ use objects outside the sequential `Excel.run`/`Word.run` flow -- though it does take a bit more work, as you need to make sure that the objects get tracked (and that you also later un-track them to avoid leaking memory).  See https://stackoverflow.com/questions/56585155/using-paragraph-outside-the-word-run-flow/56586990 for a related question.

[2019-07-03 18:27] meeraSlides365 opened #597 "PowerPoint taskpane addin on Azure - authentication using Google/Microsoft"
Tag your question with office-js or outlook-web-addins

[2019-07-03 18:29] meeraSlides365 commented on #597
We have been planning to submit a PowerPoint taskpane app for past are developing an add-in for PowerPoint which we wanted to publish in AppStore soon. However, we are facing technical snag in integrating authentication using Google/Microsoft.

We registered out app with Google and Microsoft for authentication, generated client id, key and set Redirect URL.
Tried client side validation using offic

[2019-07-03 18:29] #597 closed, assigned to nobody

[2019-07-03 18:38] ShannonLCapper opened #598 "[Outlook] ConversationId is 'undefined' instead of 'null' in new OWA"
According to the [documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.message?view=office-js#conversationid), `Office.context.mailbox.item.conversationId` will return `null` if the mail item lacks a conversation ID. However, in the "new experience" of OWA, it returns `undefined`.

## Expected Behavior

I'd expect that the "new experience" in OWA would have the same behavi

[2019-07-03 20:02] ShannonLCapper opened #599 "[Outlook] Dialog API broken when displaying in iframe in new OWA"
In the "new experience" in OWA, the dialog API is not working correctly when dialogs are displayed with `displayInIframe: true`. The `displayDialogAsync` API works correctly the first time a dialog is opened with `displayInIframe: true`, but after that dialog is closed, subsequent calls to `displayDialogAsync` will fail with status code 5001 (`An internal error has occurred.`). However, this is es

[2019-07-03 20:23] ShannonLCapper commented on #599
Looks like this may be the same issue seen here https://github.com/OfficeDev/office-js/issues/595

[2019-07-03 20:30] ShannonLCapper commented on #588
I can still reproduce this issue, but only in the "new experience" in OWA (accessed by toggling on `Try the new Outlook` from the inbox). Add-ins can still be side loaded in the "old" OWA experience, as well as from Mac and Windows desktop

[2019-07-03 21:22] nathguen commented on #599
@ShannonLCapper  Thanks for leaving additional info that I failed to add. Between the two issues, I think it tells a pretty complete picture of the problem. 😄

As a work around, I found that this issue was only occurring on the web client. The outlook desktop client appears to be unaffected by the issue (at least from my testing).

[2019-07-03 21:28] kbrandl commented on #599
@ShannonLCapper sorry to hear that you've run into this problem; thanks for providing such detailed information.

@danielgwilson assigning this one to you for investigation (since it's related to Dialog API) -- please reassign if it should go to someone else. Also, please note that this issue is related to #595 (which @nathguen opened yesterday).

[2019-07-03 21:30] kbrandl commented on #598
@ShannonLCapper thanks for reporting this inconsistency and for providing such detailed information.

@exextoc FYI, assigning this issue to you for investigation (since it's related to Outlook on the web).

[2019-07-03 22:59] jargil commented on #530
@htryggva - thank you!

[2019-07-03 22:59] #530 closed, assigned to jargil

[2019-07-03 23:02] kbrandl commented on #582
Thanks for the update @macOutlookExtensibility; I'm closing this issue (and labeling as **resolved: awaiting prod deployment**).  @touficmouk thanks again for reporting this issue.

[2019-07-03 23:02] #582 closed, assigned to macOutlookExtensibility

[2019-07-04 00:09] david-davidson opened #600 "[Outlook] localStorage not syncing between add-in windows on same domain"
Hi there,

This isn't a clear-cut bug—that is, it's not clear that Office.js is involved. Instead, I'm hoping it might ring a bell with your team!

We have an add-in that opens a dialog from the taskpane; the dialog and taskpane are on the same domain. In general, we're observing that they share `localStorage` correctly, per https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in

[2019-07-04 01:04] mengxianwen commented on #596
thank you so much. waiting for your reply.

[2019-07-04 02:34] catchingyu commented on #590
@dinglicoding thanks for that. Team will take a look at it and return to you later.

[2019-07-04 04:01] catchingyu commented on #590
@dinglicoding  will you try to use

const formats = [["$￥#,##0.00", "$￥#,##0.00"], ["$￥#,##0.00", "$￥#,##0.00"], ["$￥#,##0.00", "$￥#,##0.00"]]; on a clean range.
and check whether the showing is correct or not.

[2019-07-04 05:18] dinglicoding commented on #590
@catchingyu
I use Script Lab
![image](https://user-images.githubusercontent.com/3963826/60641361-0e90dd00-9e5e-11e9-806f-0a9f794c6f51.png)
![image](https://user-images.githubusercontent.com/3963826/60641387-2a947e80-9e5e-11e9-8165-ad5e501382e9.png)
![image](https://user-images.githubusercontent.com/3963826/60641390-2f593280-9e5e-11e9-9105-4ddf7730643e.png)

[2019-07-04 06:39] macOutlookExtensibility commented on #402
@ShannonLCapper We don't have an update yet, we're working on it!

[2019-07-04 09:26] sergiubucur opened #601 "ContentControl.insertOoxml fails with message "documentNotSupported" in Office Online"
We have a functionality which allows the user to select a piece of content from the document, have a Word Add-in extract the XML content from the selection, and then the user can paste this XML content back into the document (or into a different document) at a later point.

When pasting content, we insert a content control and then use ContentControl.insertOoxml to insert the XML content.

## Expe

[2019-07-04 09:36] RuoyingLiang commented on #561
context.trackedObjects.add is a Common API, it's not in Excel API set. Does your add-in work now? could you let me know what's the error you hit?

[2019-07-04 12:58] modestfake commented on #462
@dmahugh could you please reopen the issue? As mentioned in [this comment](https://github.com/OfficeDev/office-js/issues/462#issuecomment-482075439) the original issue was confirmed.

[2019-07-04 13:14] ndreisg commented on #561
Yes my Add-In is now working as long as the `Workbook.onSelectionChanged` event is available (Excel API 1.2 and higher).

In Excel API 1.1 I tried to use an interval instead of the event but I get the following error when I call `mySavedRange.getCell(0,0);` while another Workbook is selected.

[code]

[2019-07-04 13:41] catchingyu commented on #596
@mengxianwen  do you encounter this problem only in Excel or other Hosts like Word and PowerPoint?

@kbrandl Thanks a lot, we will look into first.

[2019-07-04 18:13] kanaksony commented on #588
@kbrandl I confirm that I still can see this issue with one account and not with another account. @ShannonLCapper yes, it might be an issue with new and old experience but I was unable to find that toggle switch.

[2019-07-04 18:16] kanaksony commented on #591
I see same issue with another menu "Start ConX Meeting" as well.

[2019-07-04 18:18] Zlatkovsky commented on #600
This sounds like an IE issues -- and does ring a bell.  Fortunately, there is an easy workaround, which we use in Script Lab:

From https://github.com/OfficeDev/script-lab/blob/d9ac2a989cae99efb4e3fe8e96d99f35a183c699/packages/common/src/utilities/ensure.fresh.local.storage.ts:
[code]

See the link in the comment of the code above for more info.

[2019-07-05 03:34] mengxianwen commented on #596
@catchingyu I have tested the two Hosts (Word and PowerPoint), and the problem still exist

[2019-07-05 04:44] exextoc commented on #598
@ShannonLCapper Thanks for reporting this and proving such detailed information. We have added this to our backlog. Unfortunately we have no timelines to share at this point

[2019-07-05 04:46] exextoc commented on #599
@ShannonLCapper Thanks for reporting this and proving such detailed information. We have added this to our backlog. Unfortunately, we have no timelines to share at this point

[2019-07-05 05:00] exextoc commented on #462
@modestfake We have added the original issue to our backlog.  Unfortunately, we have no timelines to share at this point. But We are not able to repro the issue in 'old owa experience' which you mentioned in [this comment](https://github.com/OfficeDev/office-js/issues/462#issuecomment-482075477).

[2019-07-05 06:34] catchingyu commented on #594
https://docs.microsoft.com/en-us/javascript/api/excel/excel.setting?view=office-js  Is it possible for you to try this new API, it should work properly as you expected.

[2019-07-05 06:36] catchingyu commented on #594
@GeorgeHung  is it possible for you to try API https://docs.microsoft.com/en-us/javascript/api/excel/excel.setting?view=office-js, this is new API and should work as you expected.

[2019-07-05 08:48] modestfake commented on #462
Thanks @exextoc. I'll try to reproduce it again and create a separate ticket with more details. For now the problem with `getSelectedRegExMatches()` is more important for us.

[2019-07-05 17:17] kbrandl commented on #600
@Zlatkovsky thanks for the input here (assigning this issue to you, for tracking purposes). @david-davidson  can you please let us know if the feedback provided by @Zlatkovsky helps to unblock you?

[2019-07-05 17:20] kbrandl commented on #588
@kanaksony and @ShannonLCapper thanks for the additional information.

@macOutlookExtensibility FYI, assigning this issue to you for investigation.

[2019-07-05 17:24] kbrandl commented on #601
@sergiubucur sorry to hear that you've run into this problem; thanks for reporting it.

@weshi FYI, I've assigned this issue to you for investigation.

[2019-07-05 17:44] dmahugh commented on #462
Re-opening issue per comment from @modestfake above.

[2019-07-05 18:11] RoyalMugu opened #602 "Office.js Addin doesnt load in Word for MAC"
Unable to load the Office.js addins in Word for MAC. The issue is seen only when Word file is attached to mail and directly opened from the mail. The word file is opened in read only mode. The "My addins" option under addin ribbon is greyed out. We are trying to sideload addin  to Word but we are unable to load any addins because of this behavior. We dont see this issue when word document is alrea

[2019-07-05 20:27] kbrandl commented on #602
@RoyalMugu I believe this behavior is "by design". i.e., when you open a file attachment from email, it'll be opened in "Protected View" -- nearly all ribbon buttons are grayed out when a document is in "Protected View". When this happens, there should be a banner displayed directly above the document that contains an **Enable Editing** button.

![image](https://user-images.githubusercontent.com/3

[2019-07-05 23:31] david-davidson commented on #600
@kbrandl @Zlatkovsky Thanks for the quick response and suggestion! I'll take a look at the beginning of next week and let you know.

[2019-07-05 23:33] RoyalMugu commented on #602
@kbrandl ,
1. You are trying to repro this behavior in Word for Windows but this behavior is seen in Word for MAC
2. In word for MAC, we dont see the enable editing, we see the duplicate option
![repro](https://user-images.githubusercontent.com/38550182/60748406-64d74c00-9f42-11e9-9235-b0bb66fc7482.png)
3. The addins are visible when you have a word instance already running in the background and t

[2019-07-06 00:56] kbrandl commented on #602
@RoyalMugu thanks for the screenshot that shows exactly what you're seeing in Mac. You're correct that I tested in Windows; generally behavior like this is similar (although not always identical, as in this case) between platforms. I'll follow up with others here internally to determine whether the behavior you're describing on Mac is a bug or by design (expected).

[2019-07-06 17:23] GeorgeHung commented on #594
The new api seems to allow me to read the values from the settings.  However, I am having issue using the new api to write to the settings.  You can close this bug.  I will file another one for the other issue.

[2019-07-06 17:32] RoyalMugu commented on #602
@kbrandl Thanks. Awaiting your response.

[2019-07-06 18:39] oaltun opened #603 "ContentControlCollection is corrupted when insertooxml() is called"
I first asked this as a [question in the Stackoverflow](https://stackoverflow.com/questions/56905409). Rick Kirkham reproduced the behavior and suggested me to open this issue.

## Expected Behavior
I want to be able to hide/unhide contents of some content controls. For this, I get ooxml of the content, save and load the ooxml using customXmlParts, and insertOoxml() back. I want to be able to do t

[2019-07-07 16:13] jvaca92 commented on #568
Thank you for your investigation. Anyway when I replaced the invalid url addresses for the valid urls, the problem still exist. I do not know if there are some validation process to check accessability of the urls but by my opinion there is different problem. Did you try your manifest on the same version of Excel as I mentioned ?

Here I have shared my upgraded manifest with the valid url. If you

[2019-07-07 16:59] jvaca92 commented on #568
After downloaded one of your example manifest and little modifications of the manifest I have reached to see the custom tab.
Thanks for help.

[2019-07-08 01:04] THPubs commented on #501
I'm also having issues with Roaming Settings. Sometimes it works, sometimes it does not save the data. @exextoc Any idea what's happening?

[2019-07-08 02:39] MandytMSFT commented on #601
i tried below code with scriptLab on word online, it works fine. BTW,  the first arg of insertOoxml is string which need .value to get from object.

_$("#setup").click(() => tryCatch(retrieveXML));

let xmlContent = "";

async function retrieveXML() {
await Word.run(async (context) => {
const range = context.document.getSelection();
context.load(range, "text, inlinePictures/hyperlink");
await cont

[2019-07-08 07:16] exextoc commented on #591
Its reproducible for us. But in other browsers also we are not able to see the expected behavior (which is opening the calendar ) though it is not showing any error. Does it works for you on other browsers and platform? Or it has limited support?

[2019-07-08 08:40] sergiubucur commented on #601
@tfjy2008 Thanks for the reply. I updated the code sample (used .value instead of accessing xmlContent directly) and tested it in ScriptLab.

Unfortunately I still get the same result. With ScriptLab, it works in Word Desktop but gives the "documentNotSupported" error in Word Online.

I created a ScriptLab gist (https://gist.github.com/sergiubucur/822ee7b5230c0a172e3d3bc8bf387be5) and updated the

[2019-07-08 09:19] bplowry opened #604 "[Word] Bullet list style is not preserved for get/setSelectedDataAsync"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

In Word I created a document with content like
[code]

Calling `getSelectedDataAsync`, storing the result, and inserting it us

[2019-07-08 09:21] exextoc commented on #583
The dialog shared by you, is it a custom dialog? Where is the code set up for the dialog? The value which you want to read is coming from manifest, but where are you reading that value. The string from the manifest needs to be read in you code.

[2019-07-08 09:29] kanaksony commented on #591
It's working with other browsers. I just verified it on Chrome (on MAC). Both Start and Schedule are working fine.

![image](https://user-images.githubusercontent.com/6097596/60799521-eae8d200-a190-11e9-820e-f6e49592c409.png)

[2019-07-08 13:15] sergiubucur commented on #601
@tfjy2008 After further investigation I can also confirm the functionality works as expected on Word Online, except for one case: if the document being edited is served from SharePoint Online from a document library with the "Require Check Out" setting turned on (in SharePoint Online go to document library settings > Versioning settings > Require Check Out > Set to "Yes").

That's the case where I

[2019-07-08 18:05] lliu113 commented on #391
@david-ps - Ah, got you! So, just to clarify - your scenario DOES require the "show as saved image" feature, but imposing a limitation of 4000 x 4000 is acceptable?

[2019-07-08 18:15] #594 closed, assigned to catchingyu

[2019-07-08 19:03] kbrandl commented on #596
I've reassigned this issue (to @sumurthy) for investigation.

[2019-07-08 20:38] ShannonLCapper commented on #599
@kbrandl and @exextoc, has this been backlogged, or is it actively being worked on (as the `fix pending` label suggests)? This issue provides a really broken experience for our users so I sincerely hope there's something we could do to get it fixed in the near future. Please let us know if there's anything we can do on our end to help!

[2019-07-08 21:16] kbrandl commented on #599
@ShannonLCapper it's in the backlog (not yet actively being worked on, as far as I'm aware); unfortunately we have no timelines to share at this point for precisely when it'll be addressed. Apologies for the confusion re the `fix pending` label; within this repository, that label is applied to any issue that's "on our list" to be addressed (regardless of whether or not it's actively being worked o

[2019-07-09 00:05] sumurthy commented on #596
Just to clarify:
1. Your Excel file is over 1GB and you're trying to upload its content to some location by using getFile API?
2. Can you clarify if there are any dialogs involved in the add-in? The error code 12007 points to DialogAlreadyOpened error, which could be due to opening a dialog when one is already open.
3. Could you please mention the platforms that you are testing this on (Windows OS

[2019-07-09 01:56] mengxianwen commented on #596
@sumurthy

If you are referring to the getFileAsync method, yes. As I wrote in the code I am prompted, the problem occurs in state.file.getSliceAsync.

No, I didn't find any dialogs, at least it didn't pop up any dialogs. I wonder why this error was reported because there is no dialog involved in my code.

Windows OS

[2019-07-09 03:43] david-ps commented on #391
@lliu113 Yes, in our scenario "show as saved image" is required and a 4000x4000 limitation is acceptable.

[2019-07-09 05:26] david-ps opened #608 "How to create an installer to Sideload Web Add-ins for external (beta) users"
It is unclear to me how to facilitate a beta program with typical external users (to the organization) if the only way to deploy the Web Add-in for testing is have them Sideload it (via a Network Share) through the complex series of steps described in this article.

It would be valuable to us to have instructions about if/how to create a Windows Installer that automates these steps could be distri

[2019-07-09 06:57] MandytMSFT commented on #601
@sergiubucur then that make sense. We don't support set OOXML on non-coauthorable documents due to the bad merge story

[2019-07-09 07:52] dinglicoding opened #605 "[Excel] different version of excel in Mac in appstore"
hi

our app in windows appstore it's fine. but in mac there's some problem。
1、in the version of 19051201. in appstore search for  "pacvue". can not find.
![image](https://user-images.githubusercontent.com/3963826/60868518-cc9dd780-a25f-11e9-9d6c-055971cfbd37.png)
![image](https://user-images.githubusercontent.com/3963826/60870306-2b188500-a263-11e9-8ca1-486f0fdcc648.png)

2、in the version of 19060

[2019-07-09 08:33] exextoc commented on #588
@kanaksony We have fixed this issue. Can you please check again?

[2019-07-09 08:44] sergiubucur commented on #601
@tfjy2008 Thank you very much for the clarification. One last question, are there any plans to support it in the future or is this not on the roadmap at all currently?

[2019-07-09 08:53] exextoc commented on #599
Thanks for reporting this issue. we have checked-in the fix for this, will be live soon.

[2019-07-09 08:54] exextoc commented on #595
Thanks for reporting this issue. we have checked-in the fix for this, will be live soon.

[2019-07-09 10:03] 3dot1four opened #606 "[Accessibility][Windows & Mac desktop client] AddIn contextual control not accessible via keyboard"
## Expected Behavior
We should be able to open AddIn context control using keyboard

## Current Behavior
Not able to open menu using the keyboard

## Steps to Reproduce, or Live Example
Insert an Addin and try accessing respective control using keyboard as shown in below image.

![image](https://user-images.githubusercontent.com/4102247/60879002-70868380-a25e-11e9-82e5-0ad6b1f7fc8a.png)

## Your E

[2019-07-09 12:37] modestfake opened #607 "Getting "Unable to get property '_permissionLevel$p$0' of undefined or null reference""
## Expected Behavior
Expected these methods work as documented:
[code]

## Current Behavior
These methods throw TypeError sometimes:
[code]

## Steps to Reproduce, or Live Example
Unfortunately, I can't reproduce this. I see a lot of them in Sentry logs 9we send all of client-side errors to sentry.io). We run all of those methods after `await window.Office.onReady()`

## Your Environment
* Platfor

[2019-07-09 13:38] kbrandl commented on #599
@exextoc thanks for the update! @ShannonLCapper clearly I was out of the loop re the status of this particular issue; my apologies for the earlier miscommunication!

[2019-07-09 15:41] exextoc commented on #591
Can you check whether the pop up blocker is disabled for you in Safari, For us disabling the pop up blocker solved the issue. The errors shown in the console are not related to the add-in, those are some security errors which are shown even when the add-in works.

[2019-07-09 16:17] jamestm27 opened #609 "ChartFill"
When will transparency be available for ChartFill (https://docs.microsoft.com/en-us/javascript/api/excel/excel.chartfill?view=office-js)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b58c05c-4e49-dbad-70a5-3060e52a96ed
* Version Independent ID: 413ee37a-a6db-0f8f-265c-94af0469f0bf
* Content: [Excel.ShapeFill class -

[2019-07-09 16:22] Rick-Kirkham commented on #608
@david-ps
Thanks. This is a great idea. I will create a work item for us to find out if this would be possible and, if so, to consider creating an installer. (I presume a PowerShell script would be about as good as a Windows Installer.) Since this is really a tools request more than a documentation request. I'm going to try to move this issue to the `office-js` repo.

[2019-07-09 16:29] Rick-Kirkham commented on #608
Internal item: 3479342

[2019-07-09 16:34] Rick-Kirkham commented on #609
We use the issues in this repo to track errors in the documentation. Since this is a query about a possible feature enhancement, I'm going to transfer it to the `office-js` repo.

[2019-07-09 16:50] catchingyu commented on #590
It seems to be highly related to your excel environment. Can you just input '$' in the cell from the UI?

[2019-07-09 17:13] ShannonLCapper commented on #607
We were getting these same problems and know one cause, in versions of Windows Outlook that allow pinning. The repro is:
1. From the drafts folder of the Outlook inbox, open the taskpane
2. Pin the taskpane open
3. Click the `Pop Out` button in Outlook's UI (in the upper righthand corner of the mail, to the left of the taskpane)

The draft pops out into a new window and a new taskpane opens there.

[2019-07-09 17:17] ShannonLCapper commented on #607
We have worked around this by setting up an `ItemChanged` event listener on the mailbox, as the event handler will get triggered when the user clicks `Pop Out`. In our event handler, we check to see if `Office.context.mailbox.item` is undefined, and if so, we just programmatically close the taskpane via `Office.context.ui.closeContainer()`.

This isn't super ideal from a UX perspective because it

[2019-07-09 17:22] ShannonLCapper commented on #588
After clearing my browser cache to pull down the updated OWA code, it looks like this issue is fixed for me! Thanks folks!

[2019-07-09 18:51] ShannonLCapper commented on #599
@kbrandl, that's absolutely no problem. I'm just glad that you all were able to come up with a fix so quickly!

[2019-07-09 20:05] Warsame-Egal commented on #583
The dialog shared is not a custom dialog, we are using Office JS dialog displayDialogAsync

[2019-07-09 20:09] Warsame-Egal commented on #583
The value from the manifest is read in this dialog: https://imgur.com/a/UBYhVDR

But its not read here when clicking the On Send feature : https://imgur.com/a/aA02gjD

Both dialogs are the same and are created using  Office.context.ui.displayDialogAsync

[2019-07-09 20:11] JuaneloJuanelo commented on #225
@jacob-j  thanks so much for confirming the fix! I am closing this issue now.

[2019-07-09 20:11] #225 closed, assigned to nobody

[2019-07-09 20:11] glr0221 commented on #433
@kbrandl @macOutlookExtensibility is there any update on the issue related to the missing "addin bar"? Do we need to create a new ticket for that one? I know it will be deprecated soon but some of our clients really love the addin bar (ease of use/convenience) and have been requesting for its reinstatement. Thank you very much!

[2019-07-09 20:15] kbrandl commented on #588
@ShannonLCapper thanks for confirming! I'll mark this issue as `Fixed` and close it.

[2019-07-09 20:15] #588 closed, assigned to macOutlookExtensibility

[2019-07-09 20:18] kbrandl commented on #607
@modestfake thanks for reporting this issue, and @ShannonLCapper thanks for providing the additional info as well.

@exextoc FYI, assigning this to you for investigation.

[2019-07-09 21:18] fboterov commented on #591
Hi, I'm having same issue only on safari, it works fine on chrome, after calling getAccessTokenAsync I get 13001. I also have tried with { forceConsent: false, forceAddAccount:true } but same result, the code is really simple
[code]
Thanks

[2019-07-09 23:05] JuaneloJuanelo commented on #603
Interesting case i just answered in stack, please go there for more details.. What you are describing is by design.
The main problem is that you are getting the OOXML of the entire content control. And by entire i mean what's within the content control plus the actual control. that's why you are getting a duplicate number of content controls.

my suggestion is that you get just the OOXML of whats

[2019-07-09 23:05] #603 closed, assigned to JuaneloJuanelo

[2019-07-09 23:15] exextoc commented on #607
@modestfake can you try what @ShannonLCapper suggested? If that doesn't work, let us know to further assist you.

[2019-07-10 01:11] dinglicoding commented on #590
@catchingyu  thanks

 my excel language is chinese. and i input '$' in cell, it's display '$'

if excel language is english ,it's fine.

[2019-07-10 01:50] david-ps commented on #608
@Rick-Kirkham @JuaneloJuanelo thanks for moving this forward. We are seeking to build an installer rather than a powershell script if possible, so documenting the key step of using code to CRUD an entry to the Office Trusted Web Add-in Catalog is also important because it is nowhere to be found in my searches. FYI @lliu113

[2019-07-10 03:27] grangeryy commented on #609
Transparency is not supported yet and we are using feature 3480572 to track the request.

[2019-07-10 04:42] grangeryy commented on #606
Bug 3480670 is created to track.

[2019-07-10 05:08] exextoc commented on #591
This issue you are reporting seems to be completely different, Please open a different stack overflow query for the same.

[2019-07-10 05:09] exextoc commented on #583
This dialog https://imgur.com/a/UBYhVDRhas has an internal implementation of reading the value from manifest, and also it reads a particular string value which is identified by string id. Since the manifest has multiple string values, the way we read the value from manifest matters. You need to check your string which you have added in manifest and the way you are trying to read it in the dialog.

[2019-07-10 07:44] grangeryy commented on #605
We've tried the scenario but can't reproduce the issue. Is this issue stable repro for you? For version 19060901, could you help to verify if it also happens for other apps like Word/Outlook? @dinglicoding

[2019-07-10 08:16] dinglicoding commented on #605
@grangeryy  thanks

you can not reporduce the issue. it means for version 19060901 in office add-ins by mac have store category?

i don't know why in mac office add-in and store category can't find our add-ins ( pacvue ).but in web of office add-in it's fine.

could you help to verify if it also happens for other apps like Word/Outlook?
sorry our add-ins only support for excel.

[2019-07-10 08:30] #561 closed, assigned to RuoyingLiang

[2019-07-10 08:50] zhangchuang1314 opened #610 "Does the chart in office.js contain the dataTable attribute?"
Does the chart in office.js Excel contain the dataTable attribute?

[2019-07-10 08:57] kanaksony commented on #591
Yes, disabling the popup blocker solved the issue! This is strange. Ideally, if the popup are set to Allow (which was in my case) should work. Please help me in understanding this.

[2019-07-10 09:13] grangeryy commented on #605
Thanks @dinglicoding for the quick answers.

- For the first bullet issue, we tried the version of 19051201 and successfully find the "pacvue".
![image](https://user-images.githubusercontent.com/50093161/60954668-f4f60680-a331-11e9-9c76-c1545d455381.png)

- For the second bullet issue, I've tried a new machine with 19060901 and I can reproduce your issue. Seems in 19060901, store is not available

[2019-07-10 09:30] dinglicoding commented on #605
Thanks @grangeryy  for your reply.

the version of 19051201 in mac  our excel language is chinese . Is it relevant?

[2019-07-10 09:33] grangeryy commented on #610
You may find all exsiting supported Chart related js API in [https://docs.microsoft.com/en-us/javascript/api/excel_release/excel.chart?view=office-js](url)
Could you explain more about your scenarios on dataTable? For example, what's your problem/what you want to achieve by using dataTable?

[2019-07-10 09:41] zhangchuang1314 commented on #610
I add Chart Element menu in Excel to add data table function to the chart. Now I want to use office. JS to implement it. Do you have the corresponding API implementation?

[2019-07-10 09:44] zhangchuang1314 commented on #610
![image](https://user-images.githubusercontent.com/35564276/60959111-35598280-a33a-11e9-9782-6d7663d81872.png)Functions in similar graphs

[2019-07-10 10:12] kanaksony commented on #588
@exextoc it works now. Thanks!

[2019-07-10 17:17] kbrandl commented on #602
@RoyalMugu thanks for your patience on this. I've confirmed with the Office Add-ins Platform team that the **My Add-ins** button being grayed out when a document is opened from an email attachment is the expected behavior. In this scenario, only once you click the button that's displayed in the banner across the top of the doc ("Protected View" button on Windows or "Duplicate" button on Mac) shoul

[2019-07-10 17:17] #602 closed, assigned to kbrandl

[2019-07-10 21:54] catchingyu commented on #590
bug 3483278 is created for tracking the issue. The team is actively working on it now. Thanks a lot for reporting.

[2019-07-11 03:23] exextoc commented on #591
Which API are you using and where are you allowing the popup blocker?

[2019-07-11 10:21] david-ps commented on #608
@dmahugh FYI

[2019-07-11 10:31] BilalAlam173 commented on #123
any follow up on this one? this is a very critical issue, only handful of styles are working. This should be resolved asap

[2019-07-11 13:55] kanaksony commented on #591
My last comment was in context to the comment --

 -- I am not using any API - using office js. I am allowing the popup blocker inSafari preferences.

[2019-07-11 14:00] exextoc commented on #591
Looks like this is related to Safari security policy, nothing much can be done from add-in or API side.

[2019-07-11 14:01] kanaksony commented on #591
Okay, that's fine as it works for me now.

[2019-07-11 14:03] #591 closed, assigned to macOutlookExtensibility

[2019-07-11 15:11] Warsame-Egal commented on #583
One is launched with onsend and the other with compose. In our code we dont read any values from the manifest.

[2019-07-11 15:33] Warsame-Egal commented on #583
Our understanding is that Office.js should read the value from the manifest automatically. Thats why showDialog in compose mode displays the string but for some reason showDialog in OnSend mode does not. We are trying to figure out why compose reads the string from the manifest and on send does not. Our manifest is also provided above.

[2019-07-11 16:12] BeachAlmanack opened #611 "Calling Content addin's from taskpane or custom fuctions"
I cant seem to start the content addin component along with task-panes. Custom function's, dialog box's and task-pane's can all start from the same addin. But adding content to the xml file seems to break it.

## Expected Behavior

## Current Behavior

## Steps to Reproduce, or Live Example

* Link to live example: ______

* Additional details:
  1. ______
  2. ______
  3. ______

## Context

## Y

[2019-07-11 17:22] chartnado-brian-haas commented on #391
I would like to contribute our use case to this conversation.

Our add-in is a dashboard builder content pane extension for Excel.  We display a number of data visualization widgets including charts, maps, gauges and more.  Specifically, we include a number of data visualization widgets all contained within the same add-in, as opposed to having multiple add-ins each displaying a single visualizati

[2019-07-11 18:05] kbrandl commented on #611
@BeachAlmanack sorry to hear that you've run into this problem. Since issues in this repository are intended to track problems with the Office JS _documentation_, I'm going to transfer this issue to the **OfficeDev/office-js** repository. In the meantime though, please update your initial post to include code (manifest XML) that can be used to reproduce the problem you're having, along with additi

[2019-07-11 18:09] dougfraser opened #612 "[Outlook] Dialog for Dynamics 365 App for Outlook failing"
My company is a heavy user of the Dynamics 365 App for Outlook, which is just a fancy Outlook Add-in that makes use of outlook.js. Starting Tuesday morning the Dynamics 365 App stopped working for everyone in my company that was on Windows 7(about 500 users).

## Expected Behavior

After logging into our Dynamics server using AD FS, the Outlook App is supposed to pass back the OAuth bearer token t

[2019-07-11 21:31] RyanMcArthur commented on #533
I have found a workaround that appears to work for me. I'll put an example below. The workaround is within the 'Important Part' comments.

Within the function being attached to the 'Office.EventType.DocumentSelectionChanged' event (in the case below that function is 'NewSelectionHandler') I found if you get an html element and set its textContent to a value, even the same value as it already is, c

[2019-07-11 21:41] exextoc commented on #612
Just to clarify, does this issue occur only when you use the Dynamics app in Outlook web (in a browser) or does this also occur when you use the app in the native Desktop Outlook client? Have you encountered this issue with other apps in Outlook?

[2019-07-11 21:53] lliu113 commented on #391
@chartnado @david-ps - thank you both for all the great feedback! It's really helpful understanding your user scenarios, and I can see why the restriction is such a pain for them.

Quick update - we are actively investigating this internally now. It turns out we save content add-ins as snapshots not only via "show as saved image", but also as part of the user experience (e.g. during print preview,

[2019-07-11 22:29] dougfraser commented on #612
Thanks for the response. It happens on the native desktop Outlook client. We don't use any other apps in Outlook to my knowledge but I'll double check tomorrow.

[2019-07-12 01:12] david-ps commented on #391
@lliu113 I agree with @chartnado that there should not be any limit to the Content Pane and any snapshot limitations (eg 4000x4000) are undesirable, but understand there is a memory footprint barrier that has to be managed.  Separately, any possible future API control of the Content Pane size (highly desirable) may be worth keeping in mind at this point, while considering a proposed fix.

[2019-07-12 02:11] danielgwilson commented on #612
Hi, sorry to hear you've encountered this—we're investigating, thanks for providing detailed info.

Could you tell me a bit about how you display the Dialog in the first place? What is the full URL for the dialog? Do you use `window.replace()` when setting the URL for `displayDialogAsync()`?

[2019-07-12 03:24] grangeryy commented on #610
@zhangchuang1314 thanks for providing the snapshot so we can understand the problem. I checked with  js supported Chart type, but unfortunately, Data Table is not supported in current js API yet.

[2019-07-12 05:22] exextoc commented on #543
Hi @kanaksony it should be available in production, apologies for the delayed response.

[2019-07-12 05:22] #543 closed, assigned to exextoc

[2019-07-12 09:53] soorajhealthplotter commented on #533
I am also facing the similar issue.
i have tried with the above solution in windows desktop excel version.
but no hope.if console is opened it works fine without any delay

[2019-07-12 09:56] soorajhealthplotter commented on #533
I tested the application in Excel on Mac and office online. It works perfectly fine.
This unstable behaviour only happens in Excel on Windows

[2019-07-12 13:46] dougfraser commented on #612
Hi Daniel.

Thanks so much for investigating. Based on what is developing in that dynamics.com post I linked, it sounds like it could be related to a security patch breaking things. But more people are coming out and saying their company's Dynamics 365 broke on the exact same day (June 10) which is strange so I'd like to continue with my due diligence here.

Regarding your question, it's an app wr

[2019-07-12 16:21] JuaneloJuanelo commented on #477
The issue was fixed recently and on its way to  be rolled out to production in the next days.

[2019-07-12 17:02] dougfraser commented on #612
And to reiterate, the most important clue in my opinion is that this Dynamics 365 App broke on Tuesday July 10th for multiple different companies. None of us made any changes, Windows updates, or dynamics upgrades on that day, it just mysteriously stopped working. The only global link between all of our environments is this Office library. Was there any changes deployed that day?

Reinstalling out

[2019-07-12 17:42] RyanMcArthur commented on #533
@soorajhealthplotter
I am setting the textContent of an \<a\> tag in html for my workaround to work above. What type of element are you setting the value of? Make sure textContent applies to that element possibly.

[2019-07-12 18:00] RyanMcArthur commented on #533
@soorajhealthplotter
I tested a few more scenarios and \<div\>, \<span\>, \<input\>, and \<textarea\> all worked appropriately so I don't think that's the issue. Could you post some snippets of your code for me to look at?

[2019-07-12 18:16] CypherX commented on #612
[This](https://support.microsoft.com/en-us/help/4464534/security-update-for-office-2016-july-9-2019) Windows update seems to be the culprit, at least partially. After uninstalling it on multiple machines in my office our add-ins are functioning normally.

[2019-07-12 21:06] dmahugh commented on #553
Closing issue because there is a workaround and the fix is being handled so won't hit the monthly channel as Keyur noted above.

[2019-07-12 21:06] #553 closed, assigned to keyur32

[2019-07-12 21:08] dmahugh commented on #550
Closing due to one month of inactivity and no repro.

[2019-07-12 21:08] #550 closed, assigned to lumine2008

[2019-07-13 02:11] mm90849491 commented on #533
Appreciate your efforts but I am afraid you misunderstand the problem.

First, notice you are using **Office.context.document.addHandlerAsync** to register the handler, which is through Common API. The original issue is about Excel API. Anyway I tried and the unstable behaviour still exists through this way.

The issue is about the event handler is not always triggered. In your example, the functi

[2019-07-15 00:26] fboterov opened #613 "getAccessTokenAsync on safari retuns 13001"
I'm using OWA in safari and when I call getAccessTokenAsync it return 13001, but it works fine on chrome.

Windows (ie, edge, chrome) works fine.
Windows (Outlook client) works fine.
MAC (chrome) works fine.
MAC (safari) return 13001 I have try to pass { forceAddAccount:true }

## Expected Behavior
Expected result: status:'succeeded'

## Current Behavior
Actual result: 13001 the user is not signed

[2019-07-15 05:37] #610 closed, assigned to grangeryy

[2019-07-15 05:40] grangeryy commented on #605
@dinglicoding I tried in English version but still reproduce the same issue. So might not be language related:)

[2019-07-15 06:06] soorajhealthplotter commented on #533
Hi @RyanMcArthur
I am using Coffescript

$scope.cellLink = (event) ->
    console.log("----------------------------------"+event.address)
    document.getElementById('random_element').textContent =  event.address
    return

$scope.enableLookUpCellAction = ()->
    Excel.run((context) ->
      worksheet = context.workbook.worksheets.getActiveWorksheet()
      worksheet.onSelectionChanged.add $scop

[2019-07-15 07:59] soorajhealthplotter commented on #533
As a immediate or temporary fix we added a setInterval function inside initialize function
Office.initialize = function()
{
  setInterval(function(){ }, 1000);
  console.log('office is ready')
}

[2019-07-15 09:58] kanaksony opened #614 "Need help while submission : Validation failure 4.18"
Please check my question over stack overflow:

https://stackoverflow.com/questions/57037189/o365-outlook-addin-validation-issues-while-publishing-on-store-4-18

[2019-07-15 11:59] fkranenburg commented on #612
We had the same issue in our add-in used by multiple clients. On some clients we had to uninstall the update that @CypherX mentioned. Now it is working fine, but the update is a breaking change for us.

[2019-07-15 12:20] dougfraser commented on #612
We do not have that particular update installed on any of our affected computers so that isn't a solution for me.

[2019-07-15 13:53] kbrandl commented on #614
Closing this issue, as an answer has been provided via Stack Overflow.

[2019-07-15 13:53] #614 closed, assigned to nobody

[2019-07-15 14:11] Zlatkovsky commented on #533
@soorajhealthplotter , I don't have much context on this particular issue, but FYI that rather than using `Office.initialize` you would be much better off using `Office.onReady()`.  See more info here for what the advantages of the latter are:  https://github.com/OfficeDev/office-js/issues/5#issuecomment-382189046

[2019-07-15 14:20] yanli0303 opened #615 "[Outlook] Edge IndexedDB API doesn't call back or error out"
Starting from [`Windows 10 ver. >= 1903 / Office 365 ver >= 16.0.11629`](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins), Outlook on Windows use Edge as web control for add-ins. However, sometimes the IndexedDB API doesn't call back or error out.

## Expected Behavior
IndexedDB API should always call back or error out.

## Current Behavior
When Ind

[2019-07-15 15:45] keyur32 commented on #611
Hi, currently content add-ins cannot be hosted within the same add-in that contains a taskpane or a custom function. This feature is on the backlog but no eta yet. I'd propose logging this request on the officespdev.uservoice.com, as we will be able to track it there.

thanks!

[2019-07-15 15:53] keyur32 commented on #285
Hi there  I'm closing this issue. We no longer have to declare functions are synchronous/asynchronous. Please refer to https://aka.ms/customfunctions for more information. Thanks!!

[2019-07-15 15:53] #285 closed, assigned to nobody

[2019-07-15 16:58] RyanMcArthur commented on #533
@mm90849491

I'm looking for some clarification to ensure I'm understanding everything correctly.

I'm currently on Windows 10 ver. =1809 and I made sure my Excel is using IE 11. I was experiencing the exact behavior described with the event not working until I moused over the task pane or until I opened F12 developer tools. The issue did not occur in Excel online or on Mac.

You said "The issue i

[2019-07-15 17:30] mm90849491 commented on #533
@RyanMcArthur

Yes, I think you are experiencing the same issue, and altering text content of HTML elements does not change the behaviour.

@soorajhealthplotter
I tried the set Interval function, it really works like a magic. It also works through onReady callback. By the way, I reduced the interval to 50 milliseconds so I would not feel any lag when pressing arrow keys to change cell selection.

[2019-07-15 17:48] RyanMcArthur commented on #533
@mm90849491

Thanks for the fast reply. I tested the setInterval function and that seemed to solve the issue also, but it wasn't as responsive as altering textContent. I decided to include both. I'm still not sure why textContent seems to work for me, but I'm just going to go with it.

[2019-07-15 18:51] mm90849491 commented on #533
@RyanMcArthur
If textContent works for me, I would not include setInterval as it might adds unnecessary side effects.
Instead of onReady, now I put setInterval right after event registration and clear it before unregister so it would not run forever.

[2019-07-15 19:34] keyur32 commented on #576
Update: team is investigating, currently range.recalc causes built-in and custom functions to recalculate (not just volatile ones). This also occurs in Excel Online when an adjust occurs.

[2019-07-15 21:51] sbuggay commented on #612
Dynamics dev here. We have a lot of customers reporting this issue all starting 7/10. In a debug session we were able to verify that `messageParent` was indeed failing, although we weren't able to use `fallback()` directly due to `window.opener` being stripped from the window (unrelated IE policy issue).

As @dougfraser mentioned, that update doesn't seem to be the root cause for all customers. We

[2019-07-15 22:15] jchilde opened #617 "Inserting ooxml does not work in Word version 1906 (Build 11727.20244 Click-to-Run)"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.

In a Word TaskPane Add-In used for Templating, I copy the body from an existing document and insert the OOXML into the body of the current document using a replace operation.  That ha

[2019-07-15 22:41] #611 closed, assigned to grangeryy

[2019-07-15 23:31] niteshgolchha85 commented on #613
Can you check if you have 3rd party cookies enabled or disabled on Safari? If disabled, can you follow the instructions given here to enable to repro the issue:
https://www.clubrunnersupport.com/article/710-enable-third-party-cookies-for-safari

[2019-07-16 00:24] fboterov commented on #613
Hi,

Thanks for the response,

I have unchecked this and now is working

![mac](https://user-images.githubusercontent.com/11320560/61257196-16d50a80-a7c4-11e9-9a50-b47480292b10.png)

I really appreciate the answer.

[2019-07-16 00:41] #613 closed, assigned to niteshgolchha85

[2019-07-16 05:12] jchilde commented on #617
After further testing, I have found a workaround, but not a great one.  Instead of
`currentBody.insertOoxml(currentBodyOOXML.value, Word.InsertLocation.replace)`

if you use
`Office.context.document.setSelectedDataAsync(body, { coercionType: Office.CoercionType.Ooxml });`
then the body is correctly inserted at the cursor location.  Of course if a user has the cursor in the header/footer or some ot

[2019-07-16 14:31] cyrelk opened #618 "Allready working Add-in "Access Denied" On Some Machines since this morning"
The same problem exists with an add-in for Excel using the Excel API and another one for Word using the Office Common API.

That's very weird and I don't really know if that's a problem with OfficeJs or something with the machines themselves: the add-in has stop to work with the following error "AccessDenied" "You don't have enough privileges to continue the action" (I'm translating from French).

[2019-07-16 14:43] cyrelk commented on #618
For more information I've just installed the Microsoft Edge Dev Tools and see that this is Edge that run the add-in on my machine, not IE anymore. So maybe the problem lies in a switch from IE to Edge but some working machines are on Windows 7 and I don't think that Edge run on this system.

[2019-07-16 16:52] nathandpeterson commented on #584
@kbrandl @jargil  Any update on this? I am happy to provide more context if you are having trouble with repro.

[2019-07-16 16:58] kbrandl commented on #584
@nathandpeterson thanks for the ping about this, and apologies for the delayed response.

@jargil are you the right person to investigate this issue, or should it be assigned to someone else?

[2019-07-16 20:06] cyrelk commented on #618
Seems to be a problem with updates not correctly executed on some machine. The upgrade of one machine to the latest version of Windows 10 has corrected the problem. But the "light" repair on two others did not do any good. I think that I must re-install on these machines.
Apparently the problem seems to be related with the changing of the web engine from IE to Edge. The machines in Edge work, mach

[2019-07-16 20:06] #618 closed, assigned to nobody

[2019-07-16 23:34] GeorgeHung opened #621 "Excel on Windows - Save 100MB in settings causes out of memory error"
Excel on Windows - Save 100MB in settings causes out of memory error

## Expected Behavior
On Excel for Mac and Excel online, save 100MB in setting does not causes the same error.

## Current Behavior
An out of memory error was thrown.

## Steps to Reproduce, or Live Example
* Link to live example: https://gist.github.com/GeorgeHung/97bdb2cddc9ec422ffd26fccc691f14f

## Context

## Your Environment

[2019-07-17 01:20] vamsii6116 opened #622 "SupportSharedFolders stopped working"
I have 1904 outlook version. We updated for testing `SupportSharedFolders`. We created a web add-in for Outlook meetings. By using 1904 version delegated calendars are able to see Add-in for delegated calendars too. This feature worked in May and part of June month. Since 3 weeks ago, suddenly this stopped working. Not sure if preview feature is changed or stopped working.

## Expected Behavior
De

[2019-07-17 02:10] grangeryy commented on #560
This bug is fixed.

[2019-07-17 02:10] #560 closed, assigned to grangeryy

[2019-07-17 03:11] kingcpro opened #623 "Height of outlook add-ins is 150px in Safari"
Platform: Mac OSX Mojave (latest)
Product: Outlook Web
Version: Safari 12.1.1

In Safari, the height of add-ins panel is 150px, while in other browsers(chrome, IE) is 100% . So html elements will be overlapped when the maximal height is only 150px.

BTW, after I switched back to old Outlook in Safari, it worked well.

Snapshots:
[1] https://pasteboard.co/IokN8aM.jpg
[2] https://pasteboard.co/IokNK

[2019-07-17 06:15] keyur32 commented on #587
Internal VSO Bug #3494909

[2019-07-17 06:17] keyur32 commented on #587
Thanks for the issue. Team has been investigating and will currently looking at either only firing the calc ended event or providing a separate event for Calc Ended when it comes to custom functions.

For now, the recommendation would be to track any pending promises (using the batching pattern: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-batching). If no pending pro

[2019-07-17 06:24] keyur32 commented on #580
Apologies for delay. removed fix pending label.  Internal Bug #3494915

[2019-07-17 07:37] anilreddyr7 opened #624 "Item doesn't contain item id in On send event for Office JS Outlook"
## Expected Behavior

If item is in compose mode and on send is enabled in the manifest and send action is performed, now I can see the on send call back method gives subject,body,recipients details but it is not giving item id or internetmessageid if item id email.
## Current Behavior

It is giving itemid as null
## Steps to Reproduce, or Live Example

Try to print console.log like below in OnSen

[2019-07-17 09:15] macOutlookExtensibility commented on #433
@glr0221 , we are deprecating the add-in bar very soon, so we will not be providing support for it going forward. This will be called out on the release notes too. So we will not be fixing it now.

In case there are requests, please provide them on the user voice, we would prioritise the grey bar add-ins on the new modern UI based on the requests we get on user voice.

[2019-07-17 09:53] RuoyingLiang commented on #621
We tried on several machine with same Office build, but didn't repro. Could you restart your machine to confirm if this is the env problem? If it still repro, could you provide the excel file you used for us to investigate?
![image](https://user-images.githubusercontent.com/50130769/61365968-3bf87480-a8bb-11e9-8f93-ecc6a553e7d9.png)

[2019-07-17 14:19] soorajhealthplotter opened #625 "Error : InvalidOperationInCellEditMode: Excel is in cell-editing mode. Please exit the edit mode by pressing ENTER or TAB or selecting another cell, and then try again."
I open up the excel workbook and opens sheet January and load my Excel Add in.

I have to execute code to load bulk data(nearly 3000 data) into my January sheet(by using a button click in my add-in)

Now i click on the button to populate data

Before the data is populated to Jauary sheet, i go to February sheet and add data to columns.At this tima a Error came and my data loading to January sheet

[2019-07-17 14:30] Bartlebyy commented on #599
@exextoc @kbrandl any update on when the next release will be? We're also affected by this bug.

[2019-07-17 14:49] Niko0pl opened #626 "Office Web Add-ins - Internal error when saving settings"
I'm getting an failure when trying to save my document/roaming settings.
The message in PowerPoint and Word is the following(saving to document.settings): `{"name":"Internal Error","message":"An internal error has occurred.","code":5001}`
The message in Outlook (saving to roamingSettings): `{"name":"GenericSettingsError","message":"Permission denied","code":9019}`

My code:
[code]
In Outlook code

[2019-07-17 18:33] david-davidson commented on #478
Hi @exextoc and @dmahugh,

Has this fix rolled out? I ask because, on old OWA, I'm no longer able to reproduce this. Hoping that's exactly what we want. :)

Thanks!

[2019-07-17 19:10] fkranenburg opened #627 "Outlook Desktop client add-in in Edge browser looses SSO IWA session after use"
Our add-in for Outlook uses a custom way to let the end-user log-in our application once and so they have access to the contents of the add-in. Some end-users have a integration with Okta and SAML with our application. They log-in automatically in our application using SSO and Integrated Windows Authentication.

Therefore the users session inside the add-in should be retained, even after the user

[2019-07-17 21:33] GeorgeHung commented on #621
Can you try clicking the button more than once?  Sometimes it didn’t happen the first time.

Regards,
George

[2019-07-17 22:39] sumurthy commented on #626
Which version of Office.js are you using? Are you accessing from CDN location or from a offline copu?

[2019-07-18 01:29] david-ps commented on #608
@Rick-Kirkham @dmahugh Any update or ETA on this? Just some documentation about using code to CRUD an entry to the Office Trusted Web Add-in Catalog would be great.

[2019-07-18 01:37] david-ps commented on #391
@lliu113 @dmahugh are you able to provide a best guess at the timing around this fix and whether it's deployment will be related to a new Requirement Set or Excel build or both?

[2019-07-18 05:44] splinter commented on #493
Sorry about the delay.

Yes, the add-in name is `CloudExtend: Integrate You Inbox with NetSuite"

The store is showing the correct version.

Yes

We do not have this information.

[2019-07-18 05:48] splinter commented on #486
We are retrieving the addresses based on mailbox.item.to.getAsync  in compose mode and mailbox.item.to in read mode as per the documentation [1].

[1] https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.5/office.context.mailbox.item?view=office-js#to-arrayemailaddressdetailsrecipients

[2019-07-18 05:50] splinter commented on #431
@sohailzafar I think we can close this issue based on our offline conversation. The suggested approach was to use the following:
1. Prefer to use the client side getAttachmentAsync [1] currently in preview mode
2. If first option is not possible use the Graph API
3. If second option is not possible use SOAP API

[1] https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirem

[2019-07-18 05:56] splinter commented on #450
Based on your input I believe this is behaving as expected.

How can we find out the synch time? Is there a setting that we can adjust to test this by reducing the synch time?

As a work around we are maintaining a cache  of REST calls made to update and read properties.

[2019-07-18 06:35] Niko0pl commented on #626
@sumurthy, sorry, maybe it was not clear enough. I use this host: https://appsforoffice.microsoft.com/lib/1/hosted/office.js, so it's the last CDN released version. In comments is tagged as 2.3.0

[2019-07-18 06:43] soorajhealthplotter opened #628 "Same session across different workbooks"
Threre are two workbooks(Workbook 1 and Workbook 2).

I open up Workbook1. Using the add in i log-in to my application in Task pane.There is a button that i fetch the data from database and populate into the sheet.(takes around 2 min to fetch data)

At the same time I open up Workbook2.Loading the add-in will log-in to my application.When i click on the button to fetch data

Now the the data is no

[2019-07-18 09:27] modestfake commented on #607
@exextoc I've tried what @ShannonLCapper suggested. It kind of work, now we have a way fewer errors than before. But still, we have some. I've noticed that it happens not only when you open Draft folder and then back to the inbox. Sometimes it happens when I switching between any other folders like Deleted or Sent.

So, it's better now, but still an issue for us because it's not an ideal UX soluti

[2019-07-18 09:41] dinglicoding opened #629 "F12 in windows can not work"
## Expected Behavior

F12 in windows 10 1803 it's fine.but in windows 10 1903 not work.

## Current Behavior

my windows update to windows 10 1903 (18362.239)
when i open my excel add-ins and open F12 tool. it's nothing.
![image](https://user-images.githubusercontent.com/3963826/61447195-0f0f9480-a983-11e9-948f-b73f87077006.png)
![image](https://user-images.githubusercontent.com/3963826/61447292-3

[2019-07-18 13:10] fkranenburg commented on #627
This issue can be closed, we fixed it in our add-in itself.

[2019-07-18 13:10] #627 closed, assigned to nobody

[2019-07-18 13:19] GopalZadafiya opened #630 "What is the alternative of Office Dialog ?"
**What is the alternative of Office Dialog ?**

- I am trying to implement web add-in support for Exchange 2013 accounts in Outlook web app(Outlook web Access).
- Our add-in is working completely fine with Office 365, Outlook Desktop and Mobile as well.
- Dialog API is not supported for my requirement currently. As per the documentation It is supported for Mailbox > 1.3. But as I am using exchange

[2019-07-18 15:34] IAmferg commented on #626
Just to add to this I'm having the same issue as well except in my case it's the roamingsettings which is being used for Outlook with an Add-In already on the Office store so this doesn't appear to be an isolated incident.

I made a stackoverflow post about it today:
https://stackoverflow.com/questions/57093850/roamingsettings-saveasync-returning-permission-denied-error-on-desktop-only

[2019-07-18 17:30] #431 closed, assigned to exextoc

[2019-07-18 17:44] niteshgolchha85 commented on #624
Sorry to hear you faced this issue. Can you provide your environment details?

[2019-07-18 19:27] jonknowles commented on #617
I experienced a very similar issue on 11727.20244, resulting in a RichAPI AccessDenied error in my case. I reverted my Word version to 11727.20230 using the instructions [here](https://www.msoutlook.info/question/784) and that fixed my addin.

[2019-07-18 20:33] ragavanrajan commented on #626
Facing same problem here suddenly after a recent update

[2019-07-18 20:52] ragavanrajan opened #631 "Office Add-in MS Project Task pane : Permission denied"
After a recent update yesterday (18-Jul-19) . I am getting permission denied for any Office JS method when I try to execute.
## Expected Behavior

Changing the selected task to desired text as per the below function.

## Current Behavior

In my manifest I have checked the permission is set to:
` <Permissions>ReadWriteDocument</Permissions>`
## Steps to Reproduce, or Live Example

Below is the samp

[2019-07-18 21:23] ragavanrajan commented on #631
Detailed screen shot of the error

[2019-07-18 21:25] ragavanrajan commented on #629
May be you need to check your **office version** and the below official link
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

[2019-07-19 01:17] dinglicoding commented on #629
@ragavanrajan  thank you

i found,the new windows version use edge browser.

[2019-07-19 01:54] jchilde commented on #617
Jon, I tried the fix you mentioned.  I have one computer still on that version  that works.  Roll back using above recommendation doesn’t work on my machines.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jon Knowles <notifications@github.com>
Sent: Thursday, July 18, 2019 1:27:16 PM
To: OfficeDev/office-js
Cc: Jeffrey Childers; Author
Subject: Re: [OfficeDev/o

[2019-07-19 05:55] cyrelk commented on #631
I confirm , this was the bug I closed before too soon.
In fact it's now impossible to run add-ins on Windows 7. We must migrate all our machines from Windows 7 to Windows 10 1903, at the very least, to get the applications working again. Reinstalling Office, latest version, on windows 7 machines does not correct the problem.
Apparently the move from Internet Explorer to Edge seems to be the culpri

[2019-07-19 06:05] mengxianwen commented on #596
@kbrandl @sumurthy
Hi how’s things going? Have you worked out the problem?
Sorry to bother you again. Still waiting for your reply

[2019-07-19 06:30] dinglicoding opened #632 "[Excel] Cache in addin"
hi

## Expected Behavior

reload my excel addin pane . the new version of js can reload in  edge (windows 1903 )

## Current Behavior

when reload my excel addin pane the js cached

. the  old js is XXX.js?version=1,and  i modify the js ,so the new js is XXX.js?version=2.  so i

reopen or reload excel addin. in ie( windows 1803) it's fine. it will reload new js. but in

edge(windows 1903) i reopen

[2019-07-19 06:34] ragavanrajan commented on #631
So does it mean. Add-in will only work in edge without any issues? I understand browsers will be decided based on the office version on Windows 10. If that is the case how do I force add in to use edge browser?

[2019-07-19 06:56] cyrelk commented on #631
On Windows 10 1903 I see the add-ins using Edge on 1809 they use IE. Apparently this is completly automatic. Maybe the Office developers could answer.
In fact it was by trying to debug the application on my machine that I remarked I could not used the F12 IE debugger anymore but I must use the Edge DevTools. I didn't know about the switch before that.

[2019-07-19 06:59] RuoyingLiang commented on #632
Could you let us know 1) The Platform you are using PC desktop or Office Online. If using online, what's the browser version? 2) Is the add-in a published add-in or you are using sideload to load the manifest? 3) if you clear the cache, is the correct loaded?

[2019-07-19 07:01] RuoyingLiang commented on #621
We still cannot repro it in our machine? Could you share with us what's the memory size of your machine and the memory changing info when you execute the operation?

[2019-07-19 07:06] dinglicoding commented on #632
@RuoyingLiang  thank you for quickly reply.

1) The Platform you are using PC desktop or Office Online
PC desktop

2) Is the add-in a published add-in or you are using sideload to load the manifest?
Published add-in , but i using sideload to load the manifest it's same

3) if you clear the cache, is the correct loaded?
yes.  if i use ctrl+F5  it can alse correct loaded. but i use F5 or click reloa

[2019-07-19 07:29] RuoyingLiang commented on #625
If you are in cell edit mode, JS API cannot execute in the Excel. You can check if you are in a cell edit mode, most actions in ribbon are disabled. So does Office Add-in APIs.

[2019-07-19 07:29] #625 closed, assigned to RuoyingLiang

[2019-07-19 07:30] #629 closed, assigned to nobody

[2019-07-19 07:32] RuoyingLiang commented on #625
Will log an item for this request. Thanks

[2019-07-19 08:16] RuoyingLiang commented on #628
Is that possible you could share your add-in/code with us to help us investigating? What API are you using? Is that repro in both PC and MAC?

[2019-07-19 08:24] RuoyingLiang commented on #632
Sudhi, could you help to take a look if this is affected by web view change?

[2019-07-19 09:52] senyboi commented on #612
Hi,
anything new regarding this issue?

Our customer is also having the same issue.

[2019-07-19 10:25] exextoc commented on #595
@nathguen Is this problem resolved for you now? Can you please check?

[2019-07-19 15:59] GeorgeHung commented on #621
Raymond

Is it possible to invite Ruoying to our Weekly meeting next week so he
can take a look of my environment?

Regards,
George

On 7/19/2019 12:01 AM, Ruoying Liang wrote:

[2019-07-19 18:07] kbrandl commented on #604
@bplowry sorry to hear you've run into this issue; thanks for reporting it.

@weshi FYI, assigning this one to you for investigation (since it's related to Word).

[2019-07-19 18:12] kbrandl commented on #622
@vamsii6116 sorry to hear that you've run into this issue; thanks for reporting it.

@exextoc FYI, assigning this one to you for investigation (since it's related to Outlook).

[2019-07-19 20:32] niteshgolchha85 commented on #631
Can you confirm if you are using the latest version of office.js?

[2019-07-19 21:21] sumurthy commented on #626
Unable to re-produce on the recent versions. @ragavanrajan  could you please elaborate on the "recent update"? Are you also facing this issue on the MSO version?

[2019-07-19 21:56] sumurthy commented on #626
We are investigating the issue and looking at the relation between this issue and a recent fix we rolled out. We'll update this thread with more details as soon as we know the estimated availability of the fix.

[2019-07-20 00:47] jeremy-msft commented on #626
Thanks for reporting this issue.  We identified a recently introduced regression which impacts users on either the April [16.0.11629.20246] or May [16.0.11727.20244] update.  A fix has been made and we are working to get this deployed to the May update.  We will update this thread once deployment has completed.

[2019-07-20 02:53] GeorgeHung commented on #621
+Ruoying,

OK, I will forward the invite to Ruoying for next sync meeting.

Thanks,
Raymond

From: George Hung <george.hung@oracle.com>
Sent: 2019年7月20日 0:00
To: OfficeDev/office-js <reply@reply.github.com>; Ruoying Liang <notifications@github.com>; OfficeDev/office-js <office-js@noreply.github.com>
Cc: Author <author@noreply.github.com>; Raymond Lu <raymonlu@microsoft.com>
Subject: Re: [OfficeDev

[2019-07-20 03:57] ragavanrajan commented on #631
@niteshgolchha85  yes. Using the following CDN. `<script src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js" type="text/javascript"></script> `. I hope there is no update after this!!

[2019-07-20 08:32] TheSamsterZA opened #633 "Dialog API Error with OfficeJS Outlook Add-in on Outlook 2016 for Windows"
## Expected Behavior
Creating, attaching event handlers, opening, messaging between parent and child, and closing a dialog should work.

## Current Behavior

On Outlook 2016 for Windows, on the open dialog, I am seeing the following error in the console:
[code]

## Steps to Reproduce, or Live Example

* Link to live example: https://github.com/TheSamsterZA/office-js-dialog-api-bug

* Additional de

[2019-07-22 00:10] saunders77 commented on #626
In the meantime, is there a different Office.js URL we could switch our users to, apart from /lib/1.1/hosted/office.js, to provide a temporary fix while certain users are in a broken state?

I'm seeing a similar issue with Excel: https://stackoverflow.com/questions/57137876/settings-api-for-office-add-ins-office-js-is-not-working-in-excel

[2019-07-22 02:04] ragavanrajan commented on #631
Even The Addins written in VSTO for MS Project is also stopped working. Producing errors on existing functionality.
**Affecting all production users.** . Below is the MSO version for better clarity.

![image](https://user-images.githubusercontent.com/6369107/61601427-5babe600-ac89-11e9-8673-8391fb934649.png)
![image](https://user-images.githubusercontent.com/6369107/61601433-61a1c700-ac89-11e9-804

[2019-07-22 03:25] MandytMSFT commented on #621
@GeorgeHung I got below words from our official site: https://docs.microsoft.com/en-us/javascript/api/office/office.settings?view=office-js#set-name--value-

![image](https://user-images.githubusercontent.com/52641972/61604201-27c5c600-ac73-11e9-8ed3-746a039e11a6.png)

We only support 2MB maximum for settings, Could you try settings under 2MB and let me know if the issue still exists

[2019-07-22 03:27] RuoyingLiang commented on #621
Hi George, the setting does not support big data set. Please feel free to let Raymond and us know your scenario and discuss what should be the best solution.

[2019-07-22 07:37] cyrelk commented on #631
Works again for me on the latest revision of the GIT version of OfficeJS. Including on Windows 7 machines.

[2019-07-22 07:51] ragavanrajan commented on #631
@cyrelk  Could you please share the CDN you are using.

[2019-07-22 08:08] cyrelk commented on #631
I'm using the GIT version , latest revision.

[2019-07-22 08:18] ragavanrajan commented on #631
@cyrelk  sorry little confused. would you mind sharing link or reference pls. I have tried the       `<script src="https://unpkg.com/@microsoft/office-js@1.1.2-alpha.0/dist/office.js"></script>` still ending up with error. What is the one you are using. Can you please be specific.

[2019-07-22 08:23] fkranenburg commented on #632
The exact same issue happens on Add-ins for Outlook too and it is caused by the web view change indeed. I already posted an stackoverflow question about [this issue here](https://stackoverflow.com/questions/57097062/outlook-web-add-in-office-1906-and-windows-10-build-1903-how-to-clear-cache) .

There is currently no reliable way to reload a new version of our add-in.

[2019-07-22 08:37] cyrelk commented on #631
That's the one you get from this very site: https://github.com/OfficeDev/office-js.git
The little green button in the upper right of code section :)

[2019-07-22 13:06] stephenegriffin commented on #612
The bug here was in
https://appsforoffice.microsoft.com/lib/1/hosted/outlook-win32-16.01.js - messageParent was dropped from an object by mistake. The CDN has been updated so this particular problem should go away.

[2019-07-22 13:54] dougfraser commented on #612
@stephenegriffin

Thanks Stephen. It seems like this has mostly resolved the issue for my company.

I still can't track emails in OWA for Internet Explorer so you may want to double check /hosted.js for the same bug? But being that is a super small concern compared to the big win of being able to track in Outlook again.

[2019-07-22 18:15] niteshgolchha85 commented on #631
@ragavanrajan referencing the CDN is the best way to get the latest office.js. You can try grabbing it from the location that @cyrelk mentioned above to see if that works or check if there are no other references to office.js in your code.

[2019-07-22 18:25] niteshgolchha85 commented on #633
Looks like the same issue as reported here: https://github.com/OfficeDev/office-js/issues/612

[2019-07-22 18:47] niteshgolchha85 commented on #633
Can you confirm if you have the latest office.js version?

[2019-07-22 19:09] Zlatkovsky commented on #632
One common option I've seen done (including by Script Lab) is to set no-caching headers in the HTML page:

[code]

And also to make sure that the JS files you're injecting have filenames that are hashed (this would happen automatically for you in the production setting, if you're using webpack, or the output of create-react-app).

Does that not work for you?

[2019-07-22 19:12] exextoc commented on #577
This was fixed in Office 2016 Build number 16.0.4556.1000 and later. Your 4266 version needs to be updated to get the fix. It is NOT fixed On Outlook 2013 (15.0.XXXX) builds. Outlook 2013 is no longer being updated. You may need to program a workaround using REST / Get Message if you need this functionality.

It should be working from 16.0.11629.20246.

[2019-07-22 20:24] touficmouk commented on #582
@kbrandl @macOutlookExtensibility 	Thanks for the quick fix - Confirmed that 16.27 behaves correctly.

[2019-07-22 21:01] exextoc commented on #589
We aren't able to repro this in house. I used your dummy manifest and replaced the dummy url with "contoso.com", and that add-in didn't load but it didn't prevent other add-ins (even those installed afterward) from loading.

There may be something else in your faulty manifest that is causing the issue? Do you have a sample of your manifest that is causing the issue that doesn't have URLs replaced?

[2019-07-22 21:41] JuaneloJuanelo commented on #608
@david-ps  one thing that you can try to avoid this, is that you can deploy your add-in to the store as hidden. this means people will be able to use a key to find the add-in on the store.. i think this is the simplest way to expose your add-in to beta-testers.

is this an option for you?

[2019-07-22 21:47] exextoc commented on #607
Sorry to clarify, when you have a pinned add-in, you should be listening to the ItemChanged event.  Office.context.mailbox.item will have a value IF there is a valid item in the reading pane. IF there is no valid item in the reading pane, then Office.context.mailbox.item will be set to NULL. This can happen if an unsupported item is clicked on, or you click on something that doesn't display an ite

[2019-07-22 22:03] JuaneloJuanelo commented on #608
this seems to be more of a documentation of issue of the registry entries we need to enable a file share catalog.. something i think we can deliver promptly.

[2019-07-22 22:04] JuaneloJuanelo commented on #575
a solution was provided.

[2019-07-22 22:04] #575 closed, assigned to JuaneloJuanelo

[2019-07-22 22:06] JuaneloJuanelo commented on #451
this is by design we do not support adding files with macros on such methods due to security issues.

[2019-07-22 22:06] #451 closed, assigned to lumine2008

[2019-07-22 23:14] ragavanrajan commented on #631
@niteshgolchha85 :  I have checked completely every where in my application. Office JS is not referenced any where else. Using the latest CDN `<script src="https://unpkg.com/@microsoft/office-js@1.1.29/dist/office.js"></script>`  - I am still getting the permission denied error. Even the samples are also having same problem. Could you please provide any alternative. Thanks

[2019-07-22 23:31] TheSamsterZA commented on #633
Hello @niteshgolchha85,

I don't think #612 is the exact same issue, or if it is, then it still is not resolved. I am still seeing the error I mentioned above with the stacktrace.

I do not believe I have [KB4464534](https://support.microsoft.com/en-us/help/4464534/security-update-for-office-2016-july-9-2019) installed, either.

I am pretty sure I'm on the latest released version of office.js, my

[2019-07-23 00:30] david-ps commented on #608
@JuaneloJuanelo Thanks, I read the [Choose Visibility](https://docs.microsoft.com/en-us/windows/uwp/publish/choose-visibility-options) documentation and also the user comment/complaint tickets about it as a vehicle for engaging Testers (not good).

I also assume that the product has to get Appsource approval to get it in there? We are seeking feedback and private testers with an early version that

[2019-07-23 03:13] scottkuhl commented on #451
@JuaneloJuanelo  That is not good answer.  @cawise clearly stated this is an internal application.  There should be a way to mark a document as trusted or trust this type of upload somehow.  Office.js is years into development and still far behind the old COM and VBA.  It even took months just to respond to this question.

[2019-07-23 03:31] ghost commented on #623
Can replicate in High Siera running Safari 12.1
All add-ins take up a fraction of the side panel.

[2019-07-23 04:35] adam-harwood commented on #322
Is there an update on this issue? It's 7 months on, and I can still replicate the issue. The answer of "use a service that has more relaxed security" isn't a great workaround to have in place for this long, especially when it can involve customer data.

[2019-07-23 09:02] THPubs commented on #501
Any help?

[2019-07-23 11:20] htryggva commented on #631
We are also seeing this problem suddenly occurring on our add-ins on these environments:
- MS Project versions 1902 - Windows Server version 1607 (Testing environment)
- MS Project version 1907 - Windows version 1809
- MS Project version 1907 - Windows version 1903

[2019-07-23 12:54] cyrelk commented on #631
As I have already written above the two solutions we found to correct that problem were:
 - upgrade to the latest version of Windows10, that's not always possible of course (we have Windows 7 machines that will stay as they are for a while)
 - do a git clone|pull of the latest revision of this repository and in this case that has corrected the problem on all the machines. YMMV.
BTW I'm a user and

[2019-07-23 14:53] exextoc commented on #501
Can you please provide more details to help us investigate? Can you share code snippet for set and get Roaming Settings? Also share Outlook version details.

[2019-07-23 16:17] Rick-Kirkham commented on #608
@david-ps
This is a sample reg file that Juan sent me offline. You can send it to each of the beta testers and have them run it on their computers. Be sure to replace the `share` and `folder` placeholders.

I'll create a work item to put this in the documentation, but we've never had any other requests for this, so it's not going to be a high priority.

[code]

[2019-07-23 17:00] lliu113 commented on #391
@david-ps @chartnado - quick update, we're still investigating this issue. The fix will be part of a new Excel build, we will update with the build number once we have a fix checked in.

[2019-07-23 21:22] niteshgolchha85 commented on #631
At this point, @jargil is the best person to help out. I suspect it could be Edge caching old office.js but I'd let @jargil provide his opinion.

[2019-07-23 21:53] #612 closed, assigned to nobody

[2019-07-23 22:05] danielgwilson commented on #630
Hi there,

It's possible you could use `window.open()` or `window.openDialog()` directly—otherwise, unfortunately, Dialogs in Exchange 2013 / Mailbox 1.1 aren't something we plan to support.

[2019-07-23 22:59] GeorgeHung commented on #621
Raymond

The meeting was rescheduled one hour early.  I assume you guys won’t make it.  I think it is better check if my use case is supported like Ruoying mentioned.

Regards,
George

[2019-07-24 03:49] exextoc commented on #501
@nehasoni3 can you confirm if suggested solution worked for you?

[2019-07-24 04:25] neso613 commented on #501
Yes, I have tried this ,  I can see the settings object but that is not synchronocusly working with OWA and  Outlook MAC or Outlook

[2019-07-24 05:17] GopalZadafiya commented on #630
For my angular SPA, `window.open()` is not accepting the routing specified as a url, It redirects to index.html again and then application is broken.

**Update:**
I succeeded to implement authentication with classic pop by using below article.

**Ref:** https://benoitpatra.com/2015/05/28/implementing-the-oauth-2-0-flow-in-app-for-office-sandboxed-environment/

Make sure you are not loading Office.

[2019-07-24 07:27] exextoc commented on #501
@nehasoni3 Across outlook clients sync issue could be due to delay in Roaming Settings to be saved in backend and all clients syncing the updates. Have you verified after giving some time for sync to happen?

@THPubs Can you provide details of scenario where you are observing inconsistent behavior? Also let us know the outlook client and version details.

[2019-07-24 08:18] exextoc commented on #612
@dougfraser We are not able to reproduce problem of Dynamics CRM in OWA/IE combination. What version of IE you are using currently? Are you using new-OWA or old-OWA (Try the new outlook option)? Does Dynamic CRM work in other browsers (say Chrome) for OWA?

[2019-07-24 08:23] Niko0pl commented on #626
@jeremy-msft, I really appreciate your work guys, but it's been a week since the issue has been reported. When can we expect the fix? I'm not sure if I should look for a workaround on my own or wait for your release.

[2019-07-24 15:59] dougfraser commented on #612
I was on the same environment in my original post and using the new-OWA.

IE Version: 11.0.9600.19377 | Update Version: 11.0.1.130 (KB4503259)

No one uses OWA in IE for tracking in my company so this isn't too important. If your team says you can't reproduce it, that is good enough for me.

[2019-07-24 16:54] nathandpeterson commented on #584
@kbrandl @jargil I went ahead and created a repo that can be used to recreate the memory leak: [https://github.com/nathandpeterson/dialog-memory-leak](https://github.com/nathandpeterson/dialog-memory-leak). I deployed a simple add-in that simply opens and closes a dialog and I'm still seeing the memory problem in Edge Webview.
![clip](https://user-images.githubusercontent.com/29267823/61812409-4bf

[2019-07-24 16:56] kbrandl commented on #584
@nathandpeterson thanks for providing this repro info.

@jargil can you investigate this issue, or should it go to someone else?

[2019-07-24 17:30] kathirvalavan opened #634 "Roamsettings SaveAsync returns error in outlook 2013 windows - Outlook addin"
When I have stored necessary settings and perform

Office.context.roamingSettings.saveAsync(function (asyncResult) {
                  if (asyncResult.status === Office.AsyncResultStatus.Failed) {
                    // eslint-disable-next-line
                    throw JSON.stringify(asyncResult)

                  }
                  callback();
                  dialog.close();

[2019-07-24 17:31] plmayfield opened #635 "Manifest schema don't appear to be valid files"
We’re closing this issue because it has been inactive for a long time. We’re doing this to keep the issues list manageable and useful for everyone. If this issue is still relevant for you, please create a new issue.
Thank you for your understanding and continued feedback.

## Expected Behavior
I expected the schema at https://github.com/OfficeDev/office-js-docs-pr/tree/master/docs/overview/schemas

[2019-07-24 19:06] niteshgolchha85 commented on #633
#612 has been resolved now. Can you try now?

[2019-07-24 20:22] mpetro-t opened #636 "ConversationId is 'null' in new OWA even on reply"
Office.context.mailbox.item.conversationId is returning null all the time in new Outlook UI for web. It works properly in Outlook for Desktop and it was working propertly in old OWA.

## Expected Behavior
To retrieve id of conversation that message is part of.

## Current Behavior
Property (Office.context.mailbox.item.conversationId) returns null even if it is a part of conversation.

## Steps to

[2019-07-24 20:38] niteshgolchha85 commented on #631
Question from engineering: what is the url for this file: project-win32-16.0x?

[2019-07-24 21:33] ragavanrajan commented on #631
@niteshgolchha85  Here is the requested information : "`?_host_Info=Project$Win32$16.01$en-US"`

[2019-07-24 23:54] exextoc commented on #634
This is the same issue as: https://github.com/OfficeDev/office-js/issues/626

A fix is coming out, but it is a client fix so you will need to wait for an update.

[2019-07-25 01:50] dinglicoding opened #637 "[Excel] http get 302 do not support in office add-in?"
## Expected Behavior

http get with 302 , excel can go to the location address.

## Current Behavior

in excel dialog we use paypal . when finished pay.the paypal will use our Location address.

but it  display same message.

we have add a timetick like ?v=timetick. but it also not go to location address. how to solve it?

thanks.

![image](https://user-images.githubusercontent.com/3963826/6183968

[2019-07-25 02:03] exextoc commented on #615
I wasn't able to repro this on our end, but it looks like the repro is intermittent. Do you have any idea about anything that you are doing differently to cause it to get into this state? You mentioned that it often repros if you "interrupt" writing to Indexed DB...how are you doing that? Can you repro this in just Edge (not inside outlook) ? (this may help us re-direct this to the right team).

[2019-07-25 02:57] catchingyu commented on #593
@AlexJerabek  This bug is already fixed and rolling out in XLO. The WIn32/Mac are in the processing of released. Thanks Alex for reporting this issue to us.

[2019-07-25 02:57] #593 closed, assigned to catchingyu

[2019-07-25 03:27] catchingyu commented on #637
Is it possible for you to provide us more information on this issue? Thanks a lot for the support.

Description :

Expected Behavior

Current Behavior

Steps to Reproduce, or Live Example

Context

Your Environment
Platform [PC desktop, Mac, iOS, Office Online]:
Host [Excel, Word, PowerPoint, etc.]:
Office version number:
Operating System:
Browser (if using Office Online):

[2019-07-25 05:08] dinglicoding commented on #637
@catchingyu  thanks for you quickly reply

Expected Behavior
http get 302  can support.

Current Behavior

in excel dialog we use paypal . when finished pay.the paypal will use our Location address.

but it display same message.

and i click Retry. it's fine.

![image](https://user-images.githubusercontent.com/3963826/61847462-53e47f80-aedd-11e9-8566-cde1ed7cb9bf.png)
![image](https://user-images.

[2019-07-25 05:40] david-ps commented on #608
@Rick-Kirkham Thanks for the registry entry format, we have used it successfully.
We note that the Key Name and "Id" are arbitrary and can be substituted without an issue.
We will develop a Sideload Shared Folder Web Add-in Installer.
At this stage we do not require further documentation or support but others may find the idea of an installer of interest. Thanks again for your help.

[2019-07-25 05:40] #608 closed, assigned to Rick-Kirkham

[2019-07-25 06:45] eSpPulsaqui opened #638 "Office.context.mailbox.item.dateTimeCreated setted today date in Gmail Linked mailbox"
## Expected Behavior
In a gmail mailbox linked, getting the Office.context.mailbox.item object I need to get the original message reception date. But I only have dateTimeCreated and dateTimeModified.
## Current behavior
When I get the Office.context.mailbox.item object, it returns the dateTimeCreated and dateTimeModified date set to today, so I cannot know when the mail was received. There are any

[2019-07-25 08:53] htryggva commented on #631
@niteshgolchha85 On my environment the url is:
https://appsforoffice.microsoft.com/lib/1/hosted/project-win32-16.00.js

Project Version 1908 (Office Insider)
Windows Version 1903

Further note: On my machine, IE is being used for the WebView on MS Project. Edge is being used on the other Office apps. Is that normal?

[2019-07-25 09:02] exextoc commented on #636
[Updated comment]
Thanks @mpetro-t for reporting this issue. We are looking into this.

[2019-07-25 09:10] eneoli opened #639 "Office.context.mailbox.item.getAttachmentContentAsync fails with inline attachments"
## Expected Behavior
getAttachmentContentAsync should pass an object with the content of the requested attachment to callback.

## Current Behavior
Promise fails with error "Uncaught (in promise) {errorCode: 9020}"

## Steps to Reproduce, or Live Example
[code]
If the attachment is not inline, everything works perfectly.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC de

[2019-07-25 09:18] exextoc commented on #636
@mpetro-t We are unable to repro this issue. What outlook account you are using? What does this return for you?

console.log(Office.context.mailbox.userProfile.accountType);

[2019-07-25 10:52] harry-levick commented on #298
Hi @JuaneloJuanelo ,

Apologies for being late to the party on this issue. But is the problem not that the getFileAsync() method is inconsistent with that of the implementation in Word Local and Word Online?

[2019-07-25 12:30] mpetro-t commented on #636
I am able to reproduce issue for all O365 accounts that I have. Please note steps:

1. Click on existing email in your inbox
2. Click on Reply
3. Now we are in Compose (Reply) mode. Try to get conversationId.
4. Null is returned

Repeating exact same steps in Outlook for Windows desktop client returns correct conversationId.

Here is the code:
![image](https://user-images.githubusercontent.com/532

[2019-07-25 13:47] exextoc commented on #623
Thanks for reporting the issue. We are looking into it. We will get back on this.

[2019-07-25 14:45] harry-levick opened #640 "getFileAsync() returns different document.xml with Word online vs Word desktop"
I am using the getFileAsync() method to get the document that is open in the current instance of Word. However, in testing this method, the document returned from the method when called in Word desktop is different to the document returned from the method when called in Word online. With Word online returning the exact same document.xml as that of the original document.

## Expected Behavior

The

[2019-07-25 16:58] jjhua-github commented on #631
@htryggva Do you have the "permission denied" problem or something else? Can you double check you are not getting project-win32-16.01? What is osf.dll version? It is next to your Project product executable file. See the picture below.
![image](https://user-images.githubusercontent.com/15128617/61892922-bf205880-aec1-11e9-9bae-96c4ac9452e9.png)

 @ragavanrajan Can you confirm you are getting https:

[2019-07-25 17:22] jeremy-msft commented on #626
We're still waiting for the updated builds to roll out, but unfortunately I don't have an ETA yet.  We appreciate your patience and will continue to keep the thread updated.

[2019-07-25 17:41] jdrzj commented on #506
Hi @keyur32, any update here? I'm on macOS 10.12.6, word 16.27, and I have the same problem. I'm happy to help you with debugging if you need anything.
edit:
My mistake didn't saw High Sierra requirement, after updating macOS to 10.13.1 it works. 👍
_At the same time, I also cleaned cache._

[2019-07-25 18:14] danielgwilson commented on #630
Great! Glad to hear you got it working.

[2019-07-25 18:14] #630 closed, assigned to danielgwilson

[2019-07-25 19:03] exextoc commented on #639
Do you have some more details on the repro environment? Are you on Outlook Web Access or on Desktop Outlook? Are you doing this on a read or a compose mail? Can you get version numbers? For what it's worth I tried to repro this on Desktop Outlook, and it seems to be working in both Read and Compose mode.

[2019-07-25 19:12] eneoli commented on #639
Yes, Iam on Outlook Web Access, doing it on a read mail.
Mailbox MinVersion 1.1
Using latest Office API from CDN

[2019-07-25 19:21] htryggva commented on #631
@jjhua-github I'm getting the "permission denied" error when trying to opening a dialog using the DialogAPI.

I'm getting the 16.00 version:

![image](https://user-images.githubusercontent.com/6515360/61902242-e444b380-af21-11e9-9a82-ca6fcd7600e7.png)

osf.dll:
![image](https://user-images.githubusercontent.com/6515360/61902297-03434580-af22-11e9-9593-b1537d9e7fe9.png)

Hope this helps! Let me kno

[2019-07-25 19:28] JuaneloJuanelo commented on #477
@azmatzuberi : the fix seems to be live now.. please confirm...

[2019-07-25 20:59] ragavanrajan commented on #631
@jjhua-github  sure. Here is the requested information

`   Request URL: https://appsforoffice.microsoft.com/lib/1.1/hosted/project-win32-16.00.js`

![image](https://user-images.githubusercontent.com/6369107/61908199-4b468480-af83-11e9-95e7-e51cb9ec8d4a.png)

**OSF.DLL:**

![image](https://user-images.githubusercontent.com/6369107/61908392-ad9f8500-af83-11e9-8e94-08d0b40c57fe.png)

Please let me k

[2019-07-25 21:47] jargil commented on #633
@TheSamsterZA - I cannot reproduce this problem (see screenshot below, left debugger is the dialog, right debugger is the add-in main window), I see both displayDialogAsync and messageParent APIs working just fine with the latest builds of Office. Could you try after making sure you have updated to the latest Office JS as well as you should be able to update to Office 11916.

![image](https://user

[2019-07-25 21:50] jargil commented on #631
@htryggva - regarding Project not using Edge WebView, that's unexpected, I'm looking into this. As always, thanks for reporting!

[2019-07-25 21:53] jargil commented on #631
Not Edge related, so assigning to @jjhua-github.

[2019-07-25 21:55] jargil commented on #584
Thanks for reporting, looking into this.

[2019-07-25 21:56] lindalu-MSFT commented on #42
@Danwakeem Hi, and thanks again for taking the time to report this issue. It's been a while and we believe this issue has been resolved. I'm going to go ahead and close this issue. If you feel it still persists and needs to be re-triaged, please open a new issue. Kind regards, linda

[2019-07-25 21:56] #42 closed, assigned to nobody

[2019-07-25 21:58] lindalu-MSFT commented on #40
@TheSamsterZA Hi, and thanks again for reporting this! As we believe the issue has been resolved and deployed, I'm going to close this issue. If you feel there is still an issue that needs to be re-triaged, please open a NEW issue and we will triage it. Thanks! lindalu

[2019-07-25 21:58] #40 closed, assigned to nobody

[2019-07-25 22:01] lindalu-MSFT commented on #35
@scemis Hi, and thanks for reporting this! I'm the PM who has been assigned to track down old issues and see if they still need to be assigned. Can you confirm that this still happens when you run presentation slide show? And also, if so, please report the repro steps. Thanks for your help!

[2019-07-25 22:03] lindalu-MSFT commented on #27
@Zlatkovsky Can you confirm this is still happening? Or has the issue been resolved? I'm trying to close out all 2017 issues, so please let me know if I can close this one or if we should open a new issue to be re-triaged. THANKS, lindalu

[2019-07-25 22:04] Zlatkovsky commented on #27
This is still an issue.  It is tracked internally by https://office.visualstudio.com/OC/_workitems/edit/3479303

[2019-07-25 22:04] Zlatkovsky commented on #27
@lindalu-MSFT :  This is still an issue. It is tracked internally by https://office.visualstudio.com/OC/_workitems/edit/3479303

[2019-07-25 22:08] lindalu-MSFT commented on #27
@Zlatkovsky Thanks for the fast response! I noticed the issue is still new/unassigned. How do we get traction on resolving this issue?

[2019-07-25 22:24] JuaneloJuanelo commented on #640
yeah there is no guarantee that the OOXML payload will be exactly the same across platforms, even cross sessions you can also find differences, for many reasons revision among others, coauth revision ids and dozens of different compare/merge code paths.

but the OOXML should open, I tried your documents and they look 100% exactly the same (yeah with a few not needed OOXML  elements) .

how you are

[2019-07-25 22:27] JuaneloJuanelo commented on #640
closing as this is a by-design issue and non-repro.

[2019-07-25 22:27] #640 closed, assigned to nobody

[2019-07-25 23:02] TheSamsterZA commented on #633
Hello @jargil,

I have updated to Version 1908 (Build 11916.20000 Click-to-Run) but unfortunately, I still see the issue.

~~I noticed in your screenshot that you are using IE11 - perhaps update Windows to [Windows 10 1903 so that the Edge Webview is used instead](https://docs.microsoft.com/en-au/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)?~~
My bad, I assumed that was IE11, b

[2019-07-25 23:18] JuaneloJuanelo commented on #222
yes this is a bug. we are tracking internally with 3515089.
Alternatively, please use the 1.0 API setSelectedDataAsync, to replace the OOXML, that one works as you expect.

`   Office.context.document.setSelectedDataAsync(myOOXML, {coercionType:'ooxml'});`

btw here is a snippet you can try the workaround (uncomment the code :))
https://gist.github.com/JuaneloJuanelo/cdf7e583c3f8fe77760fc8ea70784f

[2019-07-25 23:32] JuaneloJuanelo commented on #77
issue is mitigated with formatting APIs.

[2019-07-25 23:32] #77 closed, assigned to JuaneloJuanelo

[2019-07-25 23:39] JuaneloJuanelo commented on #74
dupe of https://github.com/OfficeDev/office-js/issues/313#issuecomment-361564673

[2019-07-25 23:39] #74 closed, assigned to JuaneloJuanelo

[2019-07-25 23:50] JuaneloJuanelo commented on #85
still working on it, given the workaround prioritization was impacted.

[2019-07-25 23:55] JuaneloJuanelo commented on #163
@weshi issue with Word Online...

[2019-07-26 02:12] grangeryy commented on #339
notice 3451201 is resolved by design.

[2019-07-26 02:12] #339 closed, assigned to grangeryy

[2019-07-26 05:24] exextoc commented on #595
@nathguen Thanks for reporting this issue. We have fixed this problem and deployed in production already. Let us know if you need any other help in this regard.

[2019-07-26 06:52] denipop83 commented on #617
I experienced a similar problem, but in PowerPoint 2016 product (2016 MSO (16.0.4849.1000) 64-bit) (PowerPoint add-in panel), resulting in a RichAPI AccessDenied error in my case, when using `Office.context.document.setSelectedDataAsync("string")` method.

using this:
[code]
results the same.

Rolling back to 1809 (build 10827.20181) fixed the problem.

Any chances that it will be work in future?

[2019-07-26 07:22] rvanlaak commented on #339
@grangeryy could you elaborate a bit more on that?

We are preparing for putting lots of effort in migrating our "find and replace" macros to office-js. If the API design changed in a way that is offers us more flexibility as before that would be of great help 💪

[2019-07-26 08:25] #637 closed, assigned to nobody

[2019-07-26 17:56] jjhua-github commented on #631
Sorry, we have a bug in https://appsforoffice.microsoft.com/lib/1/hosted/project-win32-16.00.js and https://appsforoffice.microsoft.com/lib/1.1/hosted/project-win32-16.00.js. We are working on fix right now. ETA: next week the fix will be on dogfood CDN; a week later on public CDN.

[2019-07-26 19:44] exextoc commented on #622
The SupportsSharedFolder feature has not shipped yet. It has been flighted to certain audiences and rolled back from certain audiences due to issues that we found, and may continue to do so until we announce release to production. (I do not have a date to share yet). It currently is only at the Insiders level of release, and may change going forward.

[2019-07-26 19:44] #622 closed, assigned to exextoc

[2019-07-26 19:46] #81 closed, assigned to exextoc

[2019-07-26 19:52] exextoc commented on #94
Sorry this is by design we have updated our documentation here to reflect this:

https://docs.microsoft.com/en-us/javascript/api/outlook_1_6/office.messageread?view=office-js

Certain types of files are blocked by Outlook due to potential security issues and are therefore not returned. For more information, see [Blocked attachments in Outlook](https://support.office.com/en-us/article/blocked-attac

[2019-07-26 19:52] #94 closed, assigned to exextoc

[2019-07-26 19:52] #125 closed, assigned to exextoc

[2019-07-26 19:53] #156 closed, assigned to exextoc

[2019-07-26 19:53] #182 closed, assigned to exextoc

[2019-07-26 19:54] #324 closed, assigned to exextoc

[2019-07-26 19:54] #300 closed, assigned to exextoc

[2019-07-26 19:56] #303 closed, assigned to exextoc

[2019-07-26 20:00] exextoc commented on #429
https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/

[2019-07-26 20:37] shirbr510 commented on #429
@exextoc so from now on, history API is supported everywhere?

cause as far as the post explains, only new Office365 based versions will support history API

[2019-07-26 21:22] exextoc commented on #429
Only on new versions.

[2019-07-26 23:26] jargil commented on #584
@nathandpeterson - Edge's dev tools chart is a bit misleading with regards to how much the actual runtime process is consuming. Have you looked at the process private working set? I'm seeing the privates bytes getting consistently freed. Also please take a couple of heap snapshots to see comparisons, I'm not seeing much difference, perhaps a few Bytes difference.

[2019-07-26 23:50] jargil commented on #516
@kumarsai - links (_blank, or window.open) in the same domain open in the dialog you're seeing, this is by design with Edge WebView.
What you proposed seems ok, just make sure you call with that protocol on Windows only (you can check the user agent).

[2019-07-27 04:59] scemis commented on #35
Thanks for your final reply.
I just test my add-in with latest office.js
https://appsforoffice.microsoft.com/lib/1/hosted/office.js

And I found no changes regarding my problem.
So still no difference between modes (always **edit**)

Below you can find a code example:

Office.context.document.getActiveViewAsync(function (asyncResult) {
            console.log('ActiveView mode: ' + asyncResult.valu

[2019-07-27 05:00] scemis commented on #35
Thanks for your final reply.
I just test my add-in with latest office.js
https://appsforoffice.microsoft.com/lib/1/hosted/office.js

And I found no changes regarding my problem.
So still no difference between modes (always **edit**)

Below you can find a code example:

Office.context.document.getActiveViewAsync(function (asyncResult) {
            console.log('ActiveView mode: ' + asyncResult.valu

[2019-07-27 10:16] THPubs commented on #501
@exextoc Sorry for the delayed response. I just created a sample plugin and hosted it. The source code can be found here: https://github.com/THPubs/outlook-office-roaming-test

The manifest file of that code points to a real live version of this app. Now,

1) Try to open it in your web client, set a value to roaming settings.
2) Now open the plugin in a mobile client and see. For me, the settings

[2019-07-28 03:36] yanli0303 commented on #615
@exextoc Thanks for looking into this issue. I'm sorry for didn't provide enough details.
I have written sample code for reproducing the issue, see below:

https://codesandbox.io/s/static-z04u2

## Outlook Add-in manifest file pointing to sample code

[outlook-add-in-manifest.xml.zip](https://github.com/OfficeDev/office-js/files/3438823/outlook-add-in-manifest.xml.zip)

## Reproduce Steps

- Insta

[2019-07-28 03:37] yanli0303 commented on #615
@exextoc BTW, it doesn't seem to be reproducible in Edge browser.

[2019-07-29 03:19] wsywq commented on #626
Hi @jeremy-msft , i also met this problem that Roamingsettings SaveAsync return error '9019' in Windows Outlook build Office Insider 1908(11916.20000) in my add-in. Do you have any solution about it?

[2019-07-29 06:41] exextoc commented on #639
@EneOli  Office.context.mailbox.item.attachments is only available in Read Mode. Docs here- https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/preview-requirement-set/office.context.mailbox.item#attachments-arrayattachmentdetails

So In Read Mode this code will work-
[code]

In Compose Mode, you can get attachment content using below code -
[code]

[2019-07-29 07:01] MandytMSFT commented on #596
@mengxianwen is that possible to provide your sendSlice() code to help us identify cause ?

[2019-07-29 07:08] MandytMSFT commented on #590
@dinglicoding could you use numberFormatLocal to see if it resolve your issue ?

[2019-07-29 08:38] exextoc commented on #639
Thanks for reporting this issue. We are able to repro this in OWA Read mail. We are working on a fix as quickly as we can.

[2019-07-29 10:07] mengxianwen commented on #596
@tfjy2008 here is the code ,wish can help you
[code]

[2019-07-29 10:12] exextoc commented on #636
Thanks for reporting this issue. It has been put on our backlog. We, unfortunately, have no timelines to share at this point. As a workaround, you can try inline compose instead of pop out compose view to get conversationId.

[2019-07-29 16:33] #634 closed, assigned to nobody

[2019-07-29 18:56] JefCurtis commented on #626
@jeremy-msft I can confirm that this has been an ongoing issue with our Outlook add-in from July 15 onward. We've had **hundreds** of reports from our users hitting this bug as it actually blocks usage of the add-in. Because this issue doesn't seem to be affecting the OWA version, we can direct our users to the web but it's not ideal. I'll be monitoring this issue and I am motivated to help fix th